﻿@using System.Web.Optimization
@model DentalFiles.Models._AdvancedSearchColl
<link rel="stylesheet" href="/Dentalcss/style.css" type="text/css" media="screen">
<style>
    .white_selectbox_small_hoder .sbOptions a:link, .sbOptions a:visited
    {
        color: #000000;
        text-decoration: none;
    }
    .white_selectbox_small_hoder .sbSelector:link, .sbSelector:visited, .sbSelector:hover
    {
        color: #a7b2c4;
        outline: none;
        text-decoration: none;
        font-size: 13px;
        font-weight: bold;
    }
</style>
@Scripts.Render("~/bundles/jqueryval")
<div class="grid_4">
    <div class="searchpage_content_panel">
        <div class="heading_content">
            <h3 class="newpatient">
                Search for Dentist</h3>
        </div>
        <div class="searchpage_content">
            <ul class="searchpage_listing">
                <li><span class="input_border_search">
                    @Html.TextBoxFor(model => model._Keywords, new { id = "txtkeywords", @class = "inputbox_textarea_search_2", @placeholder = "Keywords", @tabindex = 1 })
                    <span class="search_btn_2">
                        <input name="" type="submit" value="" class="search_btn_1" id="btnkeyword" tabindex="2" />
                    </span></span>
                    <div class="clear">
                    </div>
                </li>
                <li>
                    @Html.TextBoxFor(model => model._Firstname, new { id = "txtfirstname", @class = "inputbox_signup_search", @placeholder = "First Name", @tabindex = 3 })
                    <div class="clear">
                    </div>
                </li>
                <li>
                    @Html.TextBoxFor(model => model._Lastname, new { id = "txtlastname", @class = "inputbox_signup_search", @placeholder = "Last Name", @tabindex = 4 })
                    <div class="clear">
                    </div>
                </li>
                @*<li>
                    <div class="clear">
                    </div>
                    @Html.TextBoxFor(model => model._Title, new { id = "txttitle", @class = "inputbox_signup_search", @placeholder = "Title", @tabindex = 5 })
                    <div class="clear">
                    </div>
                </li>
                <li>
                    @Html.TextBoxFor(model => model._Company, new { id = "txtcompanyname", @class = "inputbox_signup_search", @placeholder = "Company", @tabindex = 6 })
                    <div class="clear">
                    </div>
                </li>
                <li>
                    @Html.TextBoxFor(model => model._School, new { id = "txtschool", @class = "inputbox_signup_search", @placeholder = "School", @tabindex = 7 })<div
                        class="clear">
                    </div>
                </li>*@
                <li>
                    @Html.TextBoxFor(model => model._Email, new { id = "txtemail", @class = "inputbox_signup_search", @placeholder = "Email", @tabindex = 8 })
                    <div class="clear">
                    </div>
                </li>
                <li>
                    @Html.TextBoxFor(model => model._PhoneNumber, new { id = "txtphone", @class = "inputbox_signup_search", @placeholder = "Phone Number", @tabindex = 9 })
                    <div class="clear">
                    </div>
                </li>
                <li>
                    @Html.TextBoxFor(model => model._ZipCode, new { id = "txtzipcode", @class = "inputbox_signup_search", @placeholder = "Zip Code", @tabindex = 10 })
                    <div class="clear">
                    </div>
                </li>
                <li>
                    <div class="input_border_search">
                        <div class="white_selectbox_small_hoder" style="z-index: 1; color: #000000;">
                            <div class="main_Selectbox ">
                                @Html.DropDownListFor(model => model._Distance, new SelectList(ViewBag.Distance, "Value", "Text"), "Filter by Distance(Miles)", new { id = "country_id2", @tabindex = 11 })
                            </div>
                        </div>
                    </div>
                    <div class="clear">
                    </div>
                </li>
                <li class="button_panel">
                    <input name="" id="btnmenuallysearch" value="" 
                           type="submit" class="button_2_submit" tabindex="12">
                    <div class="clear">
                    </div>
                </li>
                <div class="clear">
                </div>
            </ul>
            <div class="clear">
            </div>
        </div>
        <div class="clear">
        </div>
    </div>
    <div class="ui-accordion ui-widget ui-helper-reset ui-accordion-icons" role="tablist">
        <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-state-active ui-corner-top"
            role="tab" aria-expanded="true" aria-selected="true" tabindex="0">
            <span style="color: White">Filter By Speciality </span>
        </h3>
        <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active"
            role="tabpanel">
            @foreach (var item in ViewBag.Sending)
            {
                        
                <p>
                    <input type="checkbox" onclick="checkclick()" value="@item.Value" />
                    @item.Text</p>
                        
            }
            <input name="hdnSpeccheckid" type="hidden" id="hdnSpeccheckid" />
        </div>
    </div>
</div>
@{
   


    if (TempData["_LastName"] != null && Convert.ToString(TempData["_LastName"]) != "")
    {
    <script type="text/javascript">
        $(function () {

            document.getElementById('txtlastname').value = '@TempData["_LastName"]'
        });       
    </script>
    }


    if (TempData["_Speciality"] != null && Convert.ToString(TempData["_Speciality"]) != "")
    {
    <script type="text/javascript">
        $(function () {

            var inputElements = document.getElementsByTagName('input');
            for (var i = 0; inputElements[i]; ++i) {
                if (inputElements[i].type === "checkbox") {
                    var spc = '@TempData["_Speciality"]';

                    if (spc == inputElements[i].value) {
                        inputElements[i].checked = true;
                        break;
                    }


                }
            }


        });       
    </script>
    }


    if (TempData["_ZipCodeOrCity"] != null && Convert.ToString(TempData["_ZipCodeOrCity"]) != "")
    {
    <script type="text/javascript">
        $(function () {
            if (isNaN('@TempData["_ZipCodeOrCity"]')) {

            }
            else {
                document.getElementById('txtzipcode').value = '@TempData["_ZipCodeOrCity"]'

            }

        });       
    </script>
    }
    
}
<script type="text/javascript">
    $(function () {
        $('#txtphone').focus(function () {
            
            if (document.getElementById('txtphone').value == '') {
               
                $('#txtphone').mask({ mask: '(999) 999-9999' });
            }

        });
        
    });
    
</script>
