﻿@{
    ViewBag.Title = "About us My Dental Files at RecordLinc";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}
@section Meta{
    <meta name="description" content="MyDentalFiles by RecordLinc is a secure online patient record keeping, electronic forms, secure patient communication and a safe way for patients to.">
    <meta name="keywords" content="My Dental Files">
}
<script>
    $(document).ready(function () {
        $(function () {
            $("#index").removeClass("current");
            $("#aboutus").addClass("current");
            $("#contactus").removeClass("current");
            $("#quicktour").removeClass("current");
        });
    });
</script>
<div class="grid_11">
    <div class="paragraph">
        <h3>
            About MyDentalFiles:
        </h3>
        <p>
            MyDentalFiles by RecordLinc is a secure online patient record keeping, electronic
            forms, secure patient communication, and patient registration tool that is simple,
            private, and a safe way for patients to:<br>
            <br>
            <strong>Provide necessary pre-appointment information</strong> for charts before
            arriving at the dental office. No longer do patients need to arrive early to fill
            out paperwork before they are seen. With our service, patients fill out all the
            necessary forms even weeks in advance of an appointment. When patients arrive at
            the dental office, they can move straight from reception to the chair.<br>
            <br>
            <strong>Securely access patient records</strong> so there is no longer the need
            to take multiple x-rays or pay additional money for duplicate records taken by general
            dentists and dental specialists.<br>
            <br>
            <strong>Stay more informed on treatment planning</strong> by improved and secure
            communication with doctor and patient.<br>
            <br>
            The process is simple, convenient, and completely secure. Client privacy is maintained
            throughout the entire process.<br>
            <br>
            MyDentalFiles provides electronic forms, patient access to their dental records,
            and secure communication with doctor and patient that is convenient for the patient
            and saves the dental office time and money.
        </p>
    </div>
    <div class="boxes_panel">
        <div class="mainBox">
            <div class="top_heading"><h2><span class="feature_icon"></span>Features</h2></div>
            <div class="list_panel">
                <ul>
                    <li>Detailed registration forms</li>
                    <li>Office/patient communications</li>
                    <li>Full integration with RecordLinc</li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>


        <div class="mainBox">
            <div class="top_heading"><h2><span class="feature_icon"></span>Benefits</h2></div>
            <div class="list_panel">
                <ul>
                    <li>Secure</li>
                    <li>Convenient</li>
                    <li>Saves time and money</li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>



        <div class="clear"></div>
    </div>
    <div class="clear">
    </div>
</div>
@Html.Partial("_RequestInfo")
