﻿@{
    ViewBag.Title = "Recordlinc - Privacy Policy";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}


<!-- InnerPage starts here -->
<section id="inner">
	<div class="container" style="text-align:justify;">    	
        
        <div class="content">
        	<h2 class="title">HIPAA</h2>
            <div class="img_container"><img src="../Images/inner/hipaa.jpg" alt="HIPAA"></div>
            <p>
            The HIPAA Security Rule identifies standards and implementation specifications that organizations must meet in order to become compliant. All organizations, including Dental Practices, which access, store, maintain or transmit patient-identifiable information, such as dental x-rays or photographic images, are required by law to meet the HIPAA Security Standards by April 21, 2005.<br/><br/>

The general requirements of the HIPAA Security Rule establish that covered
entities must do the following:
            </p>            
            <ul class="listing">
            	<li>Ensure the confidentiality, integrity, and availability of all electronic protected health information(ePHI) the covered entity creates, receives, maintains, or transmits.</li>
                <li>Protect against any reasonably anticipated threats or hazards to the security or integrity of such information.</li>
                <li>Protect against any reasonably anticipated uses or disclosures of such information that are not permitted or required.</li>
                <li>Ensure compliance by the workforce.</li>
                <li>Protect against any reasonably anticipated uses or disclosures of such information that are not permitted or required.</li>
            </ul>
            <p>
            Covered entities have been provided flexibility of approach. This implies that covered entities may use any security measures that allow the covered entity to reasonably and appropriately implement the standards and implementation specifications.<br/><br/>
            RecordLinc Inc. takes HIPAA regulations, patient privacy and security of its data seriously. We have put into practice a series of security measures and procedures that exceeds the standard requirements. RecordLinc Inc. will continually seek to improve systems and internal practice and policies to ensure the highest level of integrity and security across all systems. This will include but not be limited to:
            </p>
            <ul class="listing">
            	<li>A 128-bit SSL connection</li>
                <li>Automatic timeout features</li>
                <li>Unique user names with password protection</li>   
                <li>Data Encryption</li>
                <li>Storage where data is backed up multiple times</li>
                <li>Extensive user audit trails</li>
                <li>Data is stored indefinitely</li>            
            </ul>           
        </div>
        
        <div class="aside">
   	   		<a class="advert" href='@Url.Action("Index", "Signuptoday")'><img class="inline mb40 border" src="../Images/inner/recordlinc-pro.jpg" alt="RecordLic Pro at $47 for limited time"></a><a class="advert" href="Javascript:;" onclick="SearchDatabase()"><img class="inline" src="../Images/inner/search-database.jpg" alt="Grow your practice by expanding your professional network"></a>
        </div>
        
        <div class="clear"></div>        
  </div>
</section>
<!-- InnerPage starts ends here -->
