﻿@{
    ViewBag.Title = "Recordlinc - SiteMap";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}
<script type="text/javascript">
    function SearchbyLocation() {

        var city = "";
        var state = "";
        var country = "";
        window.location.href = '@Url.Action("SearchResult", "Profiles")';  //?city=' + city + '&state=' + state + '&country=' + country;
    }

</script>
<!-- InnerPage starts here -->
<section id="inner">
	<div class="container" style="text-align:justify;">    	
        
        <div class="content sitemap">
        	<h2 class="title">SiteMap</h2>
            <ul class="even">
            	<li>
                	<ul class="listicons">
                        <li><a href='@Url.Action("Index", "User")'>Home</a></li>
                        <li><a  href='@Url.Action("Index", "Quicktour")'>Quick Tour</a></li>
                        <li><a href='@Url.Action("Index", "PlanAndPricing")'>Plan &amp; Pricing</a></li>
                        <li><a  href='@Url.Action("Index", "Faq")'>FAQ</a></li>
                        <li><a href='@Url.Action("HIPAA", "Faq")'>HIPAA Compliance</a></li>                         
                        <li><a href='@Url.Action("Termsconditions", "Faq")'>Terms of Use</a></li>
                        <li><a href='@Url.Action("PrivacyPolicy", "Faq")'>Privacy Policy</a></li>
                    </ul>
                </li>
                <li>
                	<ul class="listicons">
                        <li><a href='@Url.Action("Index", "Aboutus")'>About Us</a>
                        	<ul class="sublisticons">
                                <li><a href='@Url.Action("Team", "Aboutus")'>Team</a></li>  
                                <li><a href='@Url.Action("Career", "Aboutus")'>Careers</a></li>
                                <li><a href='@Url.Action("News", "Aboutus")'>News</a></li>      
                                <li style="display:none;"><a href="#">Dentrix & Recordlinc</a></li>                                       
                            </ul>
                        </li> 
                        <li><a href='@Url.Action("Index", "ContactUs")'>Contact Us</a></li>                        
                        <li><a href="Javascript:;" onclick="SearchDatabase()">Search by Doctor Name</a></li> 
                        <li><a href="Javascript:;" onclick="SearchbyLocation()">Search by Location</a></li> 
                    </ul>
                </li>
            </ul>
            
        </div>
        
        <div class="aside">
   			<a class="advert" href="Javascript:;" onclick="SearchDatabase()"><img class="inline" src="../Images/inner/search-database.jpg" alt="Grow your practice by expanding your professional network"></a>
        </div>
        
        <div class="clear"></div>
  </div>
</section>
<!-- InnerPage starts ends here -->