﻿@{
    ViewBag.Title = "RecordLinc -  Terms & Conditions";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}
<link rel="stylesheet" href="../../content/css/media-query.css" type="text/css" media="screen">
@*<a href="http://qa.recordlinc.com/Faq/PrivacyPolicy" target="_blank">privacy policy</a>*@

<!-- InnerPage starts here -->
<section id="inner">
	<div class="container" style="text-align:justify;">    	
        
        <div class="content">
         @Html.Raw(ViewBag.TermsAndConditions)
        @*	<h2 class="title">Terms &amp; Conditions</h2>
            
            <h3 class="sub">Acceptance of Terms</h3>
            <p>
             Welcome to RecordLinc! RecordLinc provides its service to you, subject to the following Terms of Service ("TOS"), which may be updated by us from time to time without notice to you. You can review the most current version of the TOS at any time at: Terms and Conditions..
<br/><br/>
In addition, when using particular RecordLinc owned or operated services, you and RecordLinc shall be subject to any posted guidelines or rules applicable to such services which may be posted from time to time. All such guidelines or rules are hereby incorporated by reference into the TOS.
            </p>
            <h3 class="sub">Description of Service</h3>
            <p>
            RecordLinc currently provides users with access to a rich collection of resources, including, communications tools, study groups, and secure file transfer (the "Service"). You also understand and agree that the service may include certain communications from RecordLinc, such as service announcements and administrative messages, and that these communications are considered part of RecordLinc membership and you will not be able to opt out of receiving them. Unless explicitly stated otherwise, any new features that augments or enhances the current Service, including the release of new RecordLinc properties, shall be subject to the TOS. You understand and agree that the Service is provided "AS-IS" and that RecordLinc assumes no responsibility for the timeliness, deletion, miss-delivery or failure to store any user communications or personalization settings. You are responsible for obtaining access to the Service and that access may involve third party fees (such as Internet service provider or airtime charges). You are responsible for those fees, including those fees associated with the display or delivery of advertisements. In addition, you must provide and are responsible for all equipment necessary to access the Service.
            </p>
                        
            <h3 class="sub">Your Registration Obligations</h3>
            <p>
            In consideration of your use of the Service, you represent that you are of legal age to form a binding contract and are not a person barred from receiving services under the laws of the United States or other applicable jurisdiction. You also agree to: (a) provide true, accurate, current and complete information about yourself as prompted by the Service's registration form (such information being the "Registration Data") and (b) maintain and promptly update the Registration Data to keep it true, accurate, current and complete. If you provide any information that is untrue, inaccurate, not current or incomplete, or RecordLinc has reasonable grounds to suspect that such information is untrue, inaccurate, not current or incomplete, RecordLinc has the right to suspend or terminate your account and refuse any and all current or future use of the Service (or any portion thereof). RecordLinc is concerned about the safety and privacy of all its users.
            </p>
            
            <h3 class="sub">RecordLinc Privacy Policy</h3>
            <p>
            Registration Data and certain other information about you are subject to our Privacy Policy. For more information, see our full <a href="privacypolicy.aspx">privacy policy</a>
            </p>
            
            <h3 class="sub">Member Account, Password and Security</h3>
            <p>
            You will receive a password and account designation upon completing the Service's registration process. You are responsible for maintaining the confidentiality of the password and account, and are fully responsible for all activities that occur under your password or account. You agree to (a) immediately notify RecordLinc of any unauthorized use of your password or account or any other breach of security, and (b) ensure that you exit from your account at the end of each session. RecordLinc cannot and will not be liable for any loss or damage arising from your failure to comply with this Section 5.
            </p>
            
            <h3 class="sub">Member Conduct</h3>
            <p>
            You understand that all information, data, text, photographs, images, radiographs, and other communications ("Content"), whether publicly posted or privately transmitted, are the sole responsibility of the person from which such Content originated. This means that you, and not RecordLinc, are entirely responsible for all Content that you upload, post, email, transmit or otherwise make available via the Service. RecordLinc does not control the Content posted via the Service and, as such, does not guarantee the accuracy, integrity or quality of such Content. Under no circumstances will RecordLinc be liable in any way for any Content, including, but not limited to, for any errors or omissions in any Content, or for any loss or damage of any kind incurred as a result of the use of any Content posted, emailed, transmitted or otherwise made available via the Service.<br/>
<br/>
<strong>You agree to not use the Service to:</strong>
			</p>
            <ul class="listing">
            	<li>Upload, post, email, transmit or otherwise make available any Content that is unlawful, harmful, threatening, abusive, harassing, tortuous, defamatory, vulgar, obscene, libelous, invasive of another's privacy, hateful, or racially, ethnically or otherwise objectionable</li>
                <li>Harm minors in any way</li>
                <li>Impersonate any person or entity, including, but not limited to, a RecordLinc official, forum leader, guide or host, or falsely state or otherwise misrepresent your affiliation with a person or entity</li>
                <li>Forge headers or otherwise manipulate identifiers in order to disguise the origin of any Content transmitted through the Service</li>
                <li>Upload, post, email, transmit or otherwise make available any Content that you do not have a right to make available under any law or under contractual or fiduciary relationships (such as inside information, proprietary and confidential information learned or disclosed as part of employment relationships or under nondisclosure agreements)</li>
                <li>Upload, post, email, transmit or otherwise make available any Content that infringes any patent, trademark, trade secret, copyright or other proprietary rights ("Rights") of any party</li>
                <li>Upload, post, email, transmit or otherwise make available any unsolicited or unauthorized advertising, promotional materials, "junk mail," "spam," "chain letters," "pyramid schemes," or any other form of solicitation, except in those areas (such as shopping rooms) that are designated for such purpose;</li>
                <li>Upload, post, email, transmit or otherwise make available any material that contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment;</li>
                <li>Disrupt the normal flow of dialogue, cause a screen to "scroll" faster than other users of the Service are able to type, or otherwise act in a manner that negatively affects other users' ability to engage in real time exchanges; </li>
                <li>Interfere with or disrupt the Service or servers or networks connected to the Service, or disobey any requirements, procedures, policies or regulations of networks connected to the Service</li>
                <li>"Stalk" or otherwise harass another; or</li>
                <li>Collect or store personal data about other users.</li>
            </ul>
            
            <p>
             You acknowledge that RecordLinc may or may not pre-screen Content, but that RecordLinc and its designees shall have the right (but not the obligation) in their sole discretion to pre-screen, refuse, or move any Content that is available via the Service. Without limiting the foregoing, RecordLinc and its designees shall have the right to remove any Content that violates the TOS or is otherwise objectionable. You agree that you must evaluate, and bear all risks associated with, the use of any Content, including any reliance on the accuracy, completeness, or usefulness of such Content. In this regard, you acknowledge that you may not rely on any Content created by RecordLinc or submitted to RecordLinc, including without limitation information in RecordLinc Study Groups, and in all other parts of the Service.
<br/><br/>
You acknowledge, consent and agree that RecordLinc may access, preserve, and disclose your account information and Content if required to do so by law or in a good faith belief that such access preservation or disclosure is reasonably necessary to: (a) comply with legal process; (b) enforce the TOS; (c) respond to claims that any Content violates the rights of third-parties; (d) respond to your requests for customer service; or (e) protect the rights, property, or personal safety of RecordLinc, its users and the public.
<br/><br/>
You understand that the technical processing and transmission of the Service, including your Content, may involve (a) transmissions over various networks; and (b) changes to conform and adapt to technical requirements of connecting networks or devices.
<br/><br/>
You understand that the Service and software embodied within the Service may include security components that permit digital materials to be protected, and use of these materials is subject to usage rules set by RecordLinc. You may not attempt to override or circumvent any of the usage rules embedded into the Service. Any unauthorized reproduction, publication, further distribution or public exhibition of the materials provided on the Service, in whole or in part, is strictly prohibited.
            </p>
            
            <h3 class="sub">Special Admonitions for International Use</h3>
            <p>
            Recognizing the global nature of the Internet, you agree to comply with all local rules regarding online conduct and acceptable Content. Specifically, you agree to comply with all applicable laws regarding the transmission of technical data exported from the United States or the country in which you reside.
            </p>
            
            <h3 class="sub">Content Submitted or Made Available for Inclusion on The service</h3>
            <p>
            RecordLinc does not claim ownership of Content you submit or make available for inclusion on the Service. However, with respect to Content you submit or make available for inclusion on publicly accessible areas of the Service, you grant RecordLinc the following nation-wide, royalty free and non-exclusive license(s), as applicable:
            </p>
            <ul class="listing">
            	<li>With respect to Content you submit or make available for inclusion on publicly accessible areas of RecordLinc Study Groups, the license to use, distribute, reproduce, modify, adapt, publicly perform and publicly display such Content on the Service solely for the purposes of providing and promoting the specific RecordLinc Group to which such Content was submitted or made available. This license exists only for as long as you elect to continue to include such Content on the Service and will terminate at the time you remove or RecordLinc removes such Content from the Service.</li>
                <li>With respect to photos, graphics, audio or video you submit or make available for inclusion on publicly accessible area of the Service other than RecordLinc Study Groups, the license to use, distribute, reproduce, modify, adapt, publicly perform and publicly display such Content on the Service solely for the purpose for which such Content was submitted or made available. This license exists only for as long as you elect to continue to include such Content on the Service and will terminate at the time you remove or RecordLinc removes such Content from the Service. </li>
                <li>With respect to Content other than photos, graphics, audio or video you submit or make available for inclusion on publicly accessible areas of the Service other than RecordLinc Study Groups, the perpetual, irrevocable and fully sub licensable license to use, distribute, reproduce, modify, adapt, publish, translate, publicly perform and publicly display such Content (in whole or in part) and to incorporate such Content into other works in any format or medium now known or later developed.</li>
            </ul>
            <p>
            "Publicly accessible" areas of the Service are those areas of the RecordLinc network of properties that are intended by RecordLinc to be available to the general public. However, publicly accessible areas of the Service would not include portions of RecordLinc Study Groups that are limited to members, RecordLinc services intended for private communication such as RecordLinc Messaging or RecordLinc Letter wizard, or areas off of the RecordLinc network of properties such as portions of World Wide Web sites that are accessible through via hypertext or other links but are not hosted or served by RecordLinc.
            </p>
            
            <h3 class="sub">Indemnity</h3>
            <p>
            You agree to indemnify and hold RecordLinc, and its subsidiaries, affiliates, officers, agents, co-branders or other partners, and employees, harmless from any claim or demand, including reasonable attorneys' fees, made by any third party due to or arising out of Content you submit, post, transmit or make available through the Service, your use of the Service, your connection to the Service, your violation of the TOS, or your violation of any rights of another.
            </p>
            
            <h3 class="sub">No Resale Of Service</h3>
            <p>
            You agree not to reproduce, duplicate, copy, sell trade, resell or exploit for any commercial purposes, any portion of the Service (including your RecordLinc I.D.), use of the Service, or access to the Service.
            </p>
            
            <h3 class="sub">General Practices Regarding Use and Storage</h3>
            <p>
            You acknowledge that RecordLinc may establish general practices and limits concerning use of the Service, including without limitation the maximum number of days that email messages, message board postings or other uploaded Content will be retained by the Service, the maximum number of email messages that may be sent from or received by an account on the Service, the maximum size of any email message that may be sent from or received by an account on the Service, the maximum disk space that will be allotted on RecordLinc's servers on your behalf, and the maximum number of times (and the maximum duration for which) you may access the Service in a given period of time. You agree that RecordLinc has no responsibility or liability for the deletion or failure to store any messages and other communications or other Content maintained or transmitted by the Service. You acknowledge that RecordLinc reserves the right to log off accounts that are inactive for an extended period of time. You further acknowledge that RecordLinc reserves the right to modify these general practices and limits from time to time.
            </p>
            
            <h3 class="sub">Modifications to Service</h3>
            <p>
            RecordLinc reserves the right at any time and from time to time to modify or discontinue, temporarily or permanently, the Service (or any part thereof) with or without notice. You agree that RecordLinc shall not be liable to you or to any third party for any modification, suspension or discontinuance of the Service.
            </p>
            
            <h3 class="sub">Termination</h3>
            <p>
            You agree that RecordLinc may, under certain circumstances and without prior notice, immediately terminate your RecordLinc account, any associated email address, and access to the Service. Cause for such termination shall include, but not be limited to, (a) breaches or violations of the TOS or other incorporated agreements or guidelines, (b) requests by law enforcement or other government agencies, (c) a request by you (self-initiated account deletions), (d) discontinuance or material modification to the Service (or any part thereof), (e) unexpected technical or security issues or problems, and (f) extended periods of inactivity. Termination of your RecordLinc account includes (a) removal of access to all offerings within the Service, including but not limited to RecordLinc Study Groups, Patients, and private communication, (b) deletion of your password and all related information, files and content associated with or inside your account (or any part thereof), and (c) barring further use of the Service. Further, you agree that all terminations for cause shall be made in RecordLinc's sole discretion and that RecordLinc shall not be liable to you or any third-party for any termination of your account, any associated email address, or access to the Service
            </p>
            
            <h3 class="sub">Dealings With Advertisers</h3>
            <p>
            Your correspondence or business dealings with, or participation in promotions of, advertisers found on or through the Service, including payment and delivery of related goods or services, and any other terms, conditions, warranties or representations associated with such dealings, are solely between you and such advertiser. You agree that RecordLinc shall not be responsible or liable for any loss or damage of any sort incurred as the result of any such dealings or as the result of the presence of such advertisers on the Service.
            </p>
            
            <h3 class="sub">Links</h3>
            <p>
            The Service may provide, or third parties may provide, links to other World Wide Web sites or resources. Because RecordLinc has no control over such sites and resources, you acknowledge and agree that RecordLinc is not responsible for the availability of such external sites or resources, and does not endorse and is not responsible or liable for any Content, advertising, products, or other materials on or available from such sites or resources. You further acknowledge and agree that RecordLinc shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such Content, goods or services available on or through any such site or resource.
            </p>
            
            <h3 class="sub">RecordLinc's Proprietary Rights</h3>
            <p>
            You acknowledge and agree that the Service and any necessary software used in connection with the Service ("Software") contain proprietary and confidential information that is protected by applicable intellectual property and other laws. You further acknowledge and agree that Content contained in sponsor advertisements or information presented to you through the Service or advertisers is protected by copyrights, trademarks, service marks, patents or other proprietary rights and laws. Except as expressly authorized by RecordLinc or advertisers, you agree not to modify, rent, lease, loan, sell, distribute or create derivative works based on the Service or the Software, in whole or in part.
<br/><br/>
RecordLinc grants you a personal, non-transferable and non-exclusive right and license to use the object code of its Software on a single computer; provided that you do not (and do not allow any third party to) copy, modify, create a derivative work of, reverse engineer, reverse assemble or otherwise attempt to discover any source code, sell, assign, sublicense, grant a security interest in or otherwise transfer any right in the Software. You agree not to modify the Software in any manner or form, or to use modified versions of the Software, including (without limitation) for the purpose of obtaining unauthorized access to the Service. You agree not to access the Service by any means other than through the interface that is provided by RecordLinc for use in accessing the Service.
            </p>
            
            <h3 class="sub">Disclaimer of Warranties</h3>
            <p><strong>You Expressly Understand and Agree That:</strong></p>
            <ul class="listing">
            	<li>Your use of the service is at your sole risk. The service is provided on an "as is" and "as available" basis. RecordLinc expressly disclaims all warranties of any kind, whether express or implied, including, but not limited to the implied warranties of merchantability, fitness for a particular purpose and non-infringement.</li>
                <li>RecordLinc makes no warranty that (i) the service will meet your requirements, (ii) the service will be uninterrupted, timely, secure, or error-free, (iii) the results that may be obtained from the use of the service will be accurate or reliable, (iv) the quality of any products, services, information, or other material purchased or obtained by you through the service will meet your expectations, and (v) any errors in the software will be corrected. </li>
                <li>Any material downloaded or otherwise obtained through the use of the service is done at your own discretion and risk and that you will be solely responsible for any damage to your computer system or loss of data that results from the download of any such material.</li>
                <li>No advice or information, whether oral or written, obtained by you from RecordLinc or through or from the service shall create any warranty not expressly stated in the TOS.</li>
                <li>A small percentage of users may experience epileptic seizures when exposed to certain light patterns or backgrounds on a computer screen or while using the service. Certain conditions may induce previously undetected epileptic symptoms even in users who have no history of prior seizures or epilepsy. If you, or anyone in your family, have an epileptic condition, consult your physician prior to using the service. Immediately discontinue use of the service and consult your physician if you experience any of the following symptoms while using the service -- dizziness, altered vision, eye or muscle twitches, loss of awareness, disorientation, any involuntary movement, or convulsions. </li>
            </ul>
            
            <h3 class="sub">Limitation of Liability</h3>
            <p>
            You expressly understand and agree that RecordLinc shall not be liable to you for any direct, indirect, incidental, special, consequential or exemplary damages, including but not limited to, damages for loss of profits, goodwill, use, data or other intangible losses (even if RecordLinc has been advised of the possibility of such damages), resulting from: (i) the use or the inability to use the service; (ii) the cost of procurement of substitute goods and services resulting from any goods, data, information or services purchased or obtained or messages received or transactions entered into through or from the service; (iii) unauthorized access to or alteration of your transmissions or data; (iv) statements or conduct of any third party on the service; or (v) any other matter relating to the service.
            </p>
            
            <h3 class="sub">Exclusions and Limitations</h3>
            <p>
            Some jurisdictions do not allow the exclusion of certain warranties or the limitation or exclusion of liability for incidental or consequential damages. Accordingly, some of the above limitations of sections 17 and 18 may not apply to you.
            </p>
            
            <h3 class="sub">Special Admonition For Services Relating To Financial Matters</h3>
            <p>
            The Service is provided for informational purposes only, and no Content included in the Service is intended for making a diagnosis. RecordLinc and its licensors shall not be responsible or liable for the accuracy, usefulness or availability of any information transmitted or made available via the Service, and shall not be responsible or liable for any treatment decisions made based on such information.
            </p>
            
            <h3 class="sub">No Third Party Beneficiaries</h3>
            <p>
            You agree that, except as otherwise expressly provided in this TOS, there shall be no third party beneficiaries to this Agreement.
            </p>
            
            <h3 class="sub">Notice</h3>
            <p>
            RecordLinc may provide you with notices, including those regarding changes to the TOS, by email, regular mail, or postings on the Service.
            </p>
            
            <h3 class="sub">Trademark Information</h3>
            <p>
            The RecordLinc, RecordLinc logo, trademarks and service marks and other RecordLinc logos and product and service names are trademarks of RecordLinc Inc. (the "RecordLinc Marks"). Without RecordLinc's prior permission, you agree not to display or use in any manner, the RecordLinc Marks.
            </p>
            
            <h3 class="sub">Notice And Procedure For Making Claims Of Copyright Or Intellectual Property Infringement</h3>
            <p>
            RecordLinc respects the intellectual property of others, and we ask our users to do the same. RecordLinc may, in appropriate circumstances and at its discretion, disable and/or terminate the accounts of users who may be repeat infringers. If you believe that your work has been copied in a way that constitutes copyright infringement, or your intellectual property rights have been otherwise violated, please provide RecordLinc's Copyright Agent the following information:
            </p>
            <ul class="listing">
            	<li>an electronic or physical signature of the person authorized to act on behalf of the owner of the copyright or other intellectual property interest</li>
                <li>a description of the copyrighted work or other intellectual property that you claim has been infringed </li>
                <li>a description of where the material that you claim is infringing is located on the site; </li>
                <li>your address, telephone number, and email address </li>
                <li>a statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law.</li>
                <li>a statement by you, made under penalty of perjury, that the above information in your Notice is accurate and that you are the copyright or intellectual property owner or authorized to act on the copyright or intellectual property owner's behalf. </li>
            </ul>
            
            <h3 class="sub">General Information</h3>
            <p>
            Entire Agreement. The TOS constitute the entire agreement between you and RecordLinc and govern your use of the Service, superseding any prior agreements between you and RecordLinc. You also may be subject to additional terms and conditions that may apply when you use or purchase certain other RecordLinc services.
<br/><br/>
Choice of Law and Forum. The TOS and the relationship between you and RecordLinc shall be governed by the laws of the State of California without regard to its conflict of law provisions. You and RecordLinc agree to submit to the personal and exclusive jurisdiction of the courts located within the county of Santa Clara, California.
<br/><br/>
No Right of Survivorship and Non-Transferability. You agree that your RecordLinc account is non-transferable and any rights to your RecordLinc I.D. or contents within your account terminate upon your death. Upon receipt of a copy of a death certificate, your account may be terminated and all contents therein permanently deleted if it is prior to the data retention date.
<br/><br/>
Statute of Limitations. You agree that regardless of any statute or law to the contrary, any claim or cause of action arising out of or related to use of the Service or the TOS must be filed within one (1) year after such claim or cause of action arose or be forever barred.
<br/><br/>
The section titles in the TOS are for convenience only and have no legal or contractual effect.
            </p>
            
            <h3 class="sub">Violations</h3>
            <p>
            Please report any violations of the TOS to our Support Group.
            </p>*@
            
        </div>
        
        <div class="aside">
   	   		<a class="advert" href='@Url.Action("Index", "Signuptoday")'><img class="inline mb40 border" src="../Images/inner/recordlinc-pro.jpg" alt="RecordLic Pro at $47 for limited time"></a><a class="advert" href="Javascript:;" onclick="SearchDatabase()" ><img class="inline" src="../Images/inner/search-database.jpg" alt="Grow your practice by expanding your professional network"></a>
        </div>
        
        <div class="clear"></div>        
  </div>
</section>
<!-- InnerPage starts ends here -->