﻿
@{
    ViewBag.Title = "FAQs for Recordlinc Online Dental Referral Software";
    Layout = "~/Views/Shared/NewSiteLayout.cshtml";
  }

<main id="main">
    <div class="page_haading_holder">
        <div class="container navigation_container">
            <div class="row navigation_row">
                <div class="col-xs-12">
                    <div class="page_heading">
                        <h1>Help & Training for Recordlinc</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="investment-packages-main-bg about-us">

        <div class="block-investment-table plane_pricing_table">
            <div class="container">

                <div class="row">
                    <div class="col-md-12">
                        <div class="block-facilities careers team-wrap-bg clearfix policy">
                            <div class="col-xs-12">
                                <div class="box">
                                    <p>Below you will find help and training videos for Recordlinc. If you have additional questions, please go to the <a href="#">Contact</a> Page or “Request Information” box on the right and submit an inquiry form, and we will respond shortly. If you need immediate help please call us at <strong>(415)749-1444</strong>.</p>
                                </div>
                                <div class="job-title">
                                    <h4>Video</h4>
                                    <div class="row content">
                                        <div class="col-md-8 col-sm-8">
                                            <span>Initial Setup of RecordLinc </span>
                                        </div>
                                        <div class="col-md-4 col-sm-4 text-right">
                                            <a href="https://www.youtube.com/watch?v=DFwV5DE8ZAo&index=1&t=11s&list=PLr7RxIdw0scqgBmUGXaLre20WO5RKUtL4" class="send" target="_blank">Video</a>
                                        </div>
                                    </div>
                                    <div class="row content">
                                        <div class="col-md-8 col-sm-8">
                                            <span>Dashboard Overview </span>
                                        </div>
                                        <div class="col-md-4 col-sm-4 text-right">
                                            <a href="https://www.youtube.com/watch?v=GgfWMf7AF8U&index=3&t=9s&list=PLr7RxIdw0scqgBmUGXaLre20WO5RKUtL4" class="send" target="_blank">Video</a>
                                        </div>
                                    </div>
                                    <div class="row content">
                                        <div class="col-md-8 col-sm-8">
                                            <span>Inbox Overview </span>
                                        </div>
                                        <div class="col-md-4 col-sm-4 text-right">
                                            <a href="https://www.youtube.com/watch?v=t1L31od7ooE&index=4&t=2s&list=PLr7RxIdw0scqgBmUGXaLre20WO5RKUtL4" class="send" target="_blank">Video</a>
                                        </div>
                                    </div>
                                    <div class="row content">
                                        <div class="col-md-8 col-sm-8">
                                            <span>Profile Overview </span>
                                        </div>
                                        <div class="col-md-4 col-sm-4 text-right">
                                            <a href="https://www.youtube.com/watch?v=943KYAdPMSQ&index=5&t=67s&list=PLr7RxIdw0scqgBmUGXaLre20WO5RKUtL4" class="send" target="_blank">Video</a>
                                        </div>
                                    </div>
                                    <div class="row content">
                                        <div class="col-md-8 col-sm-8">
                                            <span>Patients Overview </span>
                                        </div>
                                        <div class="col-md-4 col-sm-4 text-right">
                                            <a href="https://www.youtube.com/watch?v=vAwpLMO5noY&index=6&list=PLr7RxIdw0scqgBmUGXaLre20WO5RKUtL4" class="send" target="_blank">Video</a>
                                        </div>
                                    </div>
                                    <div class="row content">
                                        <div class="col-md-8 col-sm-8">
                                            <span>Colleagues Overview </span>
                                        </div>
                                        <div class="col-md-4 col-sm-4 text-right">
                                            <a href="https://www.youtube.com/watch?v=Ay78dzo-VAA&index=7&list=PLr7RxIdw0scqgBmUGXaLre20WO5RKUtL4" class="send" target="_blank">Video</a>
                                        </div>
                                    </div>
                                    <div class="row content">
                                        <div class="col-md-8 col-sm-8">
                                            <span>Referrals in RecordLinc </span>
                                        </div>
                                        <div class="col-md-4 col-sm-4 text-right">
                                            <a href="https://www.youtube.com/watch?v=3-5NJFTZKVU&index=2&t=45s&list=PLr7RxIdw0scqgBmUGXaLre20WO5RKUtL4" class="send" target="_blank">Video</a>
                                        </div>
                                    </div>
                                    <div class="row content">
                                        <div class="col-md-8 col-sm-8">
                                            <span>Appointments</span>
                                        </div>
                                        <div class="col-md-4 col-sm-4 text-right">
                                            <a href="https://www.youtube.com/watch?v=MnX79FRTVlw&index=10&list=PLr7RxIdw0scqgBmUGXaLre20WO5RKUtL4" class="send" target="_blank">Video</a>
                                        </div>
                                    </div>
                                    <div class="row content">
                                        <div class="col-md-8 col-sm-8">
                                            <span>Reports </span>
                                        </div>
                                        <div class="col-md-4 col-sm-4 text-right">
                                            <a href="https://www.youtube.com/watch?v=WXLxBl0L7D8&index=9&list=PLr7RxIdw0scqgBmUGXaLre20WO5RKUtL4" class="send" target="_blank">Video</a>
                                        </div>
                                    </div>
                                    <div class="row content">
                                        <div class="col-md-8 col-sm-8">
                                            <span>Group Practice Functionality </span>
                                        </div>
                                        <div class="col-md-4 col-sm-4 text-right">
                                            <a href="https://www.youtube.com/watch?v=5OlcErD8BCU&index=8&list=PLr7RxIdw0scqgBmUGXaLre20WO5RKUtL4" class="send" target="_blank">Video</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<div class="block-links">
    <div class="container">
        <div class="col">
            <a href="@Url.Action("News", "Aboutus")">
                <i class="icon"><img src="~/Content/css/HomePage/images/new/img43.png" alt="image description"></i>
                <span class="text">News</span>
            </a>
        </div>
        <div class="col">
            <a href="@Url.Action("HIPAA", "Faq")">
                <i class="icon"><img src="~/Content/css/HomePage/images/new/img43.png" alt="image description"></i>
                <span class="text">HIPAA <br>Compliance</span>
            </a>
        </div>
        <div class="col">
            <a href="@Url.Action("Index", "Faq")">
                <i class="icon"><img src="~/Content/css/HomePage/images/new/img43.png" alt="image description"></i>
                <span class="text">FAQ</span>
            </a>
        </div>
        <div class="col">
            <a href="https://www.recordlinc.com/Quicktour">
                <i class="icon"><img src="~/Content/css/HomePage/images/new/img43.png" alt="image description"></i>
                <span class="text">Demo</span>
            </a>
        </div>
    </div>
</div>

