﻿@{
    ViewBag.Title = "FAQs for Recordlinc Online Dental Referral Software";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        $(function () {
            $("#homeindex").removeClass("active");
            $("#quick_tour").removeClass("active");
            $("#plan_pricing").removeClass("active");
            $("#faq").addClass("active");
            $("#about_us").removeClass("active");
            $("#contact_us").removeClass("active");
        });
    });
    

</script>

<!-- InnerPage starts here -->
<section id="inner">
	<div class="container" style="text-align:justify;">    	
        
        <div class="content">
        	<h2 class="title">FAQ</h2> 
            <div class="faq_img"><img src="../Images/inner/faq.jpg" alt="FAQ's"></div>          
            <div id="accordion-container" class="textpanel">
            	
			<h2 class="accordion-header">Q. What is RecordLinc?</h2>			
			<div class="accordion-content">
				<p class="first-p">
                RecordLinc is a powerful, easy to use and secure web based portal where dentists can upload and share their patient's X-Rays and related records when they refer their patients to specialists such as Orthodontists, Oral & Maxillofacial Surgeons, Endodontists etc. RecordLinc is the largest professional network of dental professionals in the world. The tool is designed to facilitate communications and strengthen relationships among dental professionals. The system links dentists and specialists together in a virtual team environment that supports real-time case planning and ongoing collaboration through online study clubs. RecordLinc is a platform that provides a consistent means of coordinating multidisciplinary patient cases by consolidating the history of work effort on each patient into a single, centralized location. RecordLinc provides a history of collaborative patient care from start to finish and allows users to access X-rays and related records. RecordLinc provides a means to create notes that are shared across various disciplines involved in the care of the patient. 
                </p>
			</div>
			
			<h2 class="accordion-header">Q. Who is RecordLinc meant for?</h2>
			<div class="accordion-content">
				<p class="first-p">
                RecordLinc is used by all types of dental professionals. At a dental office the entire dental treatment team can be given access based on user rights. RecordLinc is used to expedite communications and increase efficiency among care providers. By consolidating the various methods of correspondence used throughout the comprehensive treatment process, information is relayed to and from referral partners accurately and with a high degree of predictability.
                </p>
			</div>
			
			<h2 class="accordion-header">Q. What are the benefits of RecordLinc?</h2>
			<div class="accordion-content">
				<p class="first-p">
                RecordLinc streamlines and improves communication and helps dental professional maintain HIPAA privacy. The Health Insurance Portability and Accountability Act (HIPAA) was passed into law in 1996. Title II of this law, known as Administrative Simplification (AS) provisions, requires the establishment of national standards for electronic health care transactions and national identifiers for providers, health insurance plans and employers. The AS provisions also address the security and privacy of healthcare data. The standards are meant to improve efficiency and effectiveness of the nation's healthcare system by encouraging the widespread use of electronic data interchange. In simpler terms, this means a "paperless office" for medical and dental professionals by the year 2015. RecordLinc enables dentists to move in the direction of a "paperless office" and does it by making the process very simple and intuitive. RecordLinc is accessible anytime, from anywhere and can be seamlessly integrated into your dental practice without making costly changes to the way you currently do business. It's easy-to-use and operates in conjunction with your existing paper-based or electronic clinical and business management systems. Because RecordLinc is Web-based, there is no hardware to purchase and no software to install. All you need is a computer with a connection to the Internet to be up and running in just a few short minutes!
                </p>
			</div>
            
            <h2 class="accordion-header">Q. Can I import data from other programs into RecordLinc?</h2>
			<div class="accordion-content">
				<p class="first-p">
                Yes. If you are using a Practice Management System or imaging software to capture digital X-Rays or other patient information, we can integrate with them to bring in any images and related records for referrals.
                </p>
			</div>
            
            <h2 class="accordion-header">Q. Can I export data out of the RecordLinc system into another software application?</h2>
			<div class="accordion-content">
				<p class="first-p">
                Yes. If you need to export X-Rays and related records from RecordLinc, you can do that directly from your Web browsers save-as option. Additionally, by using PDF conversion software, all pages that are optimized for print in the RecordLinc system can be printed and therefore saved as PDF files to your desktop or other software applications.
                </p>
			</div>
            
            <h2 class="accordion-header">Q. Does RecordLinc comply with HIPAA regulations?</h2>
			<div class="accordion-content">
				<p class="first-p">
                Yes. RecordLinc is committed to helping our customers comply with privacy and security regulations set forth in the Health Insurance Portability and Accountability Act (HIPAA) of 1996 and we are proud to meet, and in many cases exceed, HIPAA security standards requirements. Our methods of controlled user access, 128-bit SSL data encryption, documented activity logs, automatic time-out features and the use of secure, dedicated servers are just a few of the many ways we protect the integrity of your patients' health-related information shared and stored on our system.
                </p>
			</div>
            
            <h2 class="accordion-header">Q. Do I have to install or download any software to use RecordLinc?</h2>
			<div class="accordion-content">
				<p class="first-p">
                RecordLinc is an online service. No software is downloaded or installed to use the service.
                </p>
			</div>
            
            <h2 class="accordion-header">Q. What are the system requirements to optimally use RecordLinc?</h2>
			<div class="accordion-content">
				<p class="first-p">
                The following systems are recommended:<br/>
Windows XP or newer, Mac OS 10 or Linux<br/>
The following browsers are recommended:<br/>
Firefox, Internet Explorer, Safari and Chrome
                </p>				
			</div>
            
            <h2 class="accordion-header">Q. Can I use RecordLinc when I'm away from the office?</h2>
			<div class="accordion-content">
				<p class="first-p">
                Yes. The RecordLinc system is accessible using any computer with a connection to the Internet. You can work from the office, from home or even when you're out of town.
                </p>
			</div>
            
            <h2 class="accordion-header">Q. How much does RecordLinc cost?</h2>
			<div class="accordion-content">
				<p class="first-p">
                RecordLinc will fit the budget of nearly all dental practices at a fixed monthly fee to use. The service is offered at an introductory purchase amount of $47 per month. There are no set-up fees or training costs. *A limited number of discounts may be available at your time of purchase, contact us for further details: sales@recordlinc.com
                </p>				
			</div>
            
            <h2 class="accordion-header">Q. Is training available?</h2>
			<div class="accordion-content">
				<p class="first-p">
                Although RecordLinc is very easy to use and intuitive, we do provide Web-based training for all of our customers. We have ongoing web training and can also setup personalized training. Contact us for more information.
                </p>
			</div>
            
            <h2 class="accordion-header">Q. How can I let my colleagues know about RecordLinc?</h2>
			<div class="accordion-content">
				<p class="first-p">
                Telling your colleagues about RecordLinc is easy! If you send us a list of your referring doctors we can also upload and invite them for you. Once you become a subscriber you may use our invite a colleague functionality.
              </p>
			</div>
			
			
            <div class="clear"></div>
         </div>
        </div>
        
        <div class="aside">
   	   		<a class="advert" href='@Url.Action("Index", "FreeToPaid")'><img class="inline mb40 border" src="../Images/inner/recordlinc-pro.jpg" alt="RecordLic Pro at $47 for limited time"></a><a class="advert" href="Javascript:;" onclick="SearchDatabase()" ><img class="inline" src="../Images/inner/search-database.jpg" alt="Grow your practice by expanding your professional network"></a>
        </div>
        
        <div class="clear"></div>
  </div>
</section>
<!-- InnerPage starts ends here -->
