﻿@using DataAccessLayer.Common
<div id="dvattachdlt">
</div>
<ul class="dentalfiles" id="dvdentalfiles" style="word-wrap: break-word; width: auto;">
    @foreach (var item in Model.PatientUploadedFiles)
    {
            
            
        <li id="row-@item.MontageId">
            
           @* @item.Name*@<img alt="@item.DocumentName" src='@clsCommon.FileExtension.CheckFileExtenssion(item.DocumentName)' width="71px" style="padding-left:22px;" />
            <ul class="text">
                @*Priya : Issue No : 0005190*@
                <li>@Html.Raw(item.DocumentName.Split('$')[2])</li>
                <li><a onclick="OpenDocument('@clsHelper.EscapeUriString(item.DocumentName)')">View</a> &nbsp;<a onclick="Deleteattach('@item.MontageId','@item.RelativePath')">Delete</a></li>
            </ul>
        </li>
    }
</ul>
<script type="text/javascript" language="javascript">


    function Deleteattach(UploadedFileId, DocumentName) {

        //var check = confirm("Are you sure you want to remove?");
        //if (check == true) {
        //}
        //else {
        //    return false;
        //}
        swal({
            title: "",
            text: "Are you sure you want to remove?",
            type: "warning",
            showCancelButton: true,
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: true,
           // showLoaderOnConfirm: true,
        },
   function (isConfirm) {
       if (isConfirm) {
           var rowNo = '#row-' + UploadedFileId;

           $.ajax({
               url: '@Url.Action("Deleteattach", "ComposeMsg")?UploadedFileId=' + UploadedFileId + '&DocumentName=' + DocumentName + '',
               type: 'POST',
               dataType: 'html',
               contenttype: "application/x-www-form-urlencoded",
               cache: false,
               ProcessData: false,
               success: function
                                               (output, status, xhr) {

                   obj = jQuery.parseJSON(output);

                   $(rowNo).animate({ opacity: 0.0 }, 400, function () {

                       $(rowNo).remove();
                   });
                   document.getElementById('hdncountatt').value = document.getElementById('hdncountatt').value - 1;
                   $('#dvimagedlt').html(obj.Message);
                   $('#dvimagedlt').delay(300).slideDown(300).delay(3000).slideUp(300);
               },
               error: function (xhr) {

                   if (typeof (console) != 'undefined') {
                       // console.log(xhr.responseText);
                   }
               }
           });
       }
       else
       {
           return false;
       }
   });

       
    }


    function OpenDocument(RelativePath) {
       
        var str = RelativePath;
        var res = '/' + str.replace(" ", "%20");

        var str = window.location.href;
        var sitename = '';
        var n = str.toLowerCase().indexOf('qa');

        if (n > 0) {

            sitename = '/TempUploads/';
        }
        else {
            sitename = 'https://www.recordlinc.com/TempUploads/';
        }

        var str = RelativePath;
        var res = sitename + str.replace("/mydentalfiles/", "/").replace("~/", "/");
        var res = res.replace(".mydentalfiles.", ".recordlinc.");

        window.open(res, '_blank');
        window.focus();

    }

</script>
