﻿@{
    string WebsiteUrl = Convert.ToString(System.Configuration.ConfigurationManager.AppSettings["websiteurl"]);
}
<div id="dvimagedlt">
</div>
<ul class="dentalfiles" id="dvimages" style="word-wrap: break-word; width: auto;">
    @foreach (var item in Model.PatientUploadedImages)
    {
        <li id="row-@item.ImageId">

            @if (Request.Url.ToString().ToLower().Contains("qa.recordlinc.com") || Request.Url.ToString().ToLower().Contains("qa.mydentalfiles.com"))
            {
                string fullpath = WebsiteUrl + item.RelativePath.Replace("~", "");
                //if (Request.Url.ToString().ToLower().Contains("qa.recordlinc.com"))
                //{
                //    fullpath = "http://qa.recordlinc.com" + item.RelativePath.Replace("~", "");
                //}
                //else
                //{
                //    fullpath = "http://qa.mydentalfiles.com" + item.RelativePath.Replace("~", "");
                //}
                <div style="height:110px;">
                    <img width="240" height="240" alt="@item.Notes" src='@fullpath' />
                </div>
            }
            else if (Request.Url.ToString().ToLower().Contains(""))
            {
                   string fullpath = WebsiteUrl + item.RelativePath.Replace("~", "");
                    <div style="height:110px;">
                        <img width="240" height="240" alt="@item.Notes" src='@fullpath' />
                    </div>   
            }

                @* @item.Notes*@ @*need to change*@
                <ul class="text">
                    <li>@Html.Raw(item.Notes)</li>
                    <li>
                        <a onclick="OpenTempImage('@item.RelativePath')">View</a> &nbsp; <a onclick="DeleteImage('@item.ImageId','@Url.Content(@item.RelativePath)')">
                            Delete
                        </a>
                    </li>
                </ul>
</li>
    }
</ul>
<script type="text/javascript" language="javascript">
    function DeleteImage(ImageId, RelativePath) {

        //var check = confirm("Are you sure you want to remove?");
        //if (check == true) {
        //}
        //else {
        //    return false;
        //}

        swal({
            title: "",
            text: "Are you sure you want to remove?",
            type: "warning",
            showCancelButton: true,
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: true,
            //showLoaderOnConfirm: true,
        },
   function (isConfirm) {
       if (isConfirm) {
           var rowNo = '#row-' + ImageId;

           $.ajax({
               url: '@Url.Action("DeleteImage", "ComposeMsg")?ImageId=' + ImageId + '&RelativePath=' + RelativePath + '',
               type: 'POST',
               dataType: 'html',
               contenttype: "application/x-www-form-urlencoded",
               cache: false,
               ProcessData: false,
               success: function
                                               (output, status, xhr) {

                   obj = jQuery.parseJSON(output);

                   $(rowNo).animate({ opacity: 0.0 }, 400, function () {

                       $(rowNo).remove();
                   });
                   document.getElementById('hdncountatt').value = document.getElementById('hdncountatt').value - 1;

                   $('#dvimagedlt').html(obj.Message);
                   $('#dvimagedlt').delay(300).slideDown(300).delay(3000).slideUp(300);
               },
               error: function (xhr) {

                   if (typeof (console) != 'undefined') {
                       // console.log(xhr.responseText);
                   }
               }
           });
       }
   });

    }

    function OpenTempImage(RelativePath) {
        var str = window.location.href;
        var sitename = '';
        var n = str.toLowerCase().indexOf('qa');

        if (n > 0) {

            sitename = '';
        }
        else {
            sitename = 'https://www.recordlinc.com';
        }
        var str = RelativePath;
        var res = sitename + str.replace("/mydentalfiles/", "/").replace("~/", "/");
        var res = res.replace("mydentalfiles", "recordlinc");
        window.open(res, '_blank');
        window.focus();
    }


</script>
