﻿@using System.Text
@model DentalFiles.Models.UserList
@{
    var containerId = Model.ContainerId;
    var ajaxLoadContainerId = string.Format("{0}Load", containerId);

    // Convert parameters to JSON
    var sbParameters = new StringBuilder();
    if (Model.Parameters != null && Model.Parameters.Any())
    {
        foreach (var parameter in Model.Parameters)
        {
            sbParameters.AppendFormat("\"{0}\": \"{1}\", ", parameter.Key, parameter.Value);
        }
    }
    var parameters = sbParameters.ToString();
    // Remove trailing ', ' from parameters
    if (!string.IsNullOrWhiteSpace(parameters))
    {
        parameters = parameters.Substring(0, parameters.Length - 2);
    }
}
<ul id="@containerId" data-role="listview" data-inset="true"></ul>
<div id="@ajaxLoadContainerId"
     class="lazyload-loading-container lazyload-hidden
            ui-listview ui-listview-inset
            ui-corner-all ui-shadow ui-li-static
            ui-btn-down-b ui-first-child ui-last-child">
</div>
<script type="text/javascript">

    $(document).ready(function () {

        var values = null;
        var checkedValue = null;
        var inputElements = document.getElementsByTagName('input');
        for(var i=0; inputElements[i]; ++i){
            if(inputElements[i].type==="checkbox" &&
               inputElements[i].checked){
                checkedValue = inputElements[i].value;

                if(values == null)
                {
                    values = checkedValue;
                }
                else{
                    values = values + ',' + checkedValue;
                }
            }
        }

        var limit = @Model.Limit;
        var fromRowNumber = @Model.FromRowNumber;
        var containerId = '@string.Format("#{0}", containerId)';
        var ajaxLoadContainerId = '@string.Format("#{0}", ajaxLoadContainerId)';
        var ajaxActionUrl = '@Model.AjaxActionUrl';
        var parameters = { limit: limit, fromRowNumber: fromRowNumber, @Html.Raw(parameters) ,_keywords : $("#txtkeywords").val() ,_FirstName: $("#txtfirstname").val() , _LastName : $("#txtlastname").val() , _Title : $("#txttitle").val() ,_CompanyName : $("#txtcompanyname").val() ,_School : $("#txtschool").val() , _Email : $("#txtemail").val() ,_Phone: $("#txtphone").val(), _Distance: $("#country_id2").val(),_ZipCode: $("#txtzipcode").val() , _SpecialtityList : values ,_City :'true'  };

    var lazyLoad = new LazyLoad(containerId);
    lazyLoad.init({
        containerId: containerId,
        ajaxLoadContainerId: ajaxLoadContainerId,
        ajaxActionUrl: ajaxActionUrl,
        parameters: parameters
    });
    });

    $("#btnkeyword").click(function() {

        document.getElementById('ulUsers').innerHTML = "";
        var values = null;

        var checkedValue = null;
        var inputElements = document.getElementsByTagName('input');
        for(var i=0; inputElements[i]; ++i){
            if(inputElements[i].type==="checkbox" &&
               inputElements[i].checked){
                checkedValue = inputElements[i].value;

                if(values == null)
                {
                    values = checkedValue;
                }
                else{
                    values = values + ',' + checkedValue;
                }
            }
        }


        var limit = @Model.Limit;
        var fromRowNumber = @Model.FromRowNumber;
        var containerId = '@string.Format("#{0}", containerId)';
        var ajaxLoadContainerId = '@string.Format("#{0}", ajaxLoadContainerId)';
        var ajaxActionUrl = '@Model.AjaxActionUrl';
        var parameters = { limit: limit, fromRowNumber: fromRowNumber, @Html.Raw(parameters) ,_keywords : $("#txtkeywords").val()  , _SpecialtityList : values ,_City :'false'};

    var lazyLoad = new LazyLoad();
    lazyLoad.init({
        containerId: containerId,
        ajaxLoadContainerId: ajaxLoadContainerId,
        ajaxActionUrl: ajaxActionUrl,
        parameters: parameters
    });

    });


    $("#btnmenuallysearch").click(function() {
        try {
            
            if ($("#txtemail").val() != "") {
                var result = /(^\d*[a-zA-Z][a-z]*[-a-z0-9_\+\.]*[a-z0-9]?)@@([a-z0-9][-a-z0-9\.]*[a-z0-9]\.(arpa|root|aero|biz|cat|com|coop|edu|gov|info|int|jobs|mil|mobi|museum|name|net|org|pro|tel|travel|ac|ad|ae|af|ag|ai|al|am|an|ao|aq|ar|as|at|au|aw|ax|az|ba|bb|bd|be|bf|bg|bh|bi|bj|bm|bn|bo|br|bs|bt|bv|bw|by|bz|ca|cc|cd|cf|cg|ch|ci|ck|cl|cm|cn|co|cr|cu|cv|cx|cy|cz|de|dj|dk|dm|do|dz|ec|ee|eg|er|es|et|eu|fi|fj|fk|fm|fo|fr|ga|gb|gd|ge|gf|gg|gh|gi|gl|gm|gn|gp|gq|gr|gs|gt|gu|gw|gy|hk|hm|hn|hr|ht|hu|id|ie|il|im|in|io|iq|ir|is|it|je|jm|jo|jp|ke|kg|kh|ki|km|kn|kr|kw|ky|kz|la|lb|lc|li|lk|lr|ls|lt|lu|lv|ly|ma|mc|md|mg|mh|mk|ml|mm|mn|mo|mp|mq|mr|ms|mt|mu|mv|mw|mx|my|mz|na|nc|ne|nf|ng|ni|nl|no|np|nr|nu|nz|om|pa|pe|pf|pg|ph|pk|pl|pm|pn|pr|ps|pt|pw|py|qa|re|ro|ru|rw|sa|sb|sc|sd|se|sg|sh|si|sj|sk|sl|sm|sn|so|sr|st|su|sv|sy|sz|tc|td|tf|tg|th|tj|tk|tl|tm|tn|to|tp|tr|tt|tv|tw|tz|ua|ug|uk|um|us|uy|uz|va|vc|ve|vg|vi|vn|vu|wf|ws|ye|yt|yu|za|zm|zw)|([0-9]{1,3}\.{3}[0-9]{1,3}))/;
                if (result.test($("#txtemail").val()) != true) {
                    //alert("Please enter a valid email address");
                    swal({ title: "", text: 'Please enter a valid email address' });
                    return false;
                }
            }

            if ($('#txtphone').val() != "") {
                if ($('#txtphone').val() != "") {
                    var phone = $('#txtphone').val();
                    var RegExEmail = /^(?:\([2-9]\d{2}\)\ ?|[2-9]\d{2}(?:\-?|\ ?))[2-9]\d{2}[- ]?\d{4}$/;
                    if (!RegExEmail.test(phone)) {
                        //alert("Please enter valid phone number");
                        swal({ title: "", text: 'Please enter valid phone number' });
                        return false;
                    }
                }
            }


        } catch (e) {

        }

        document.getElementById('ulUsers').innerHTML = "";
        var values = null;

        var checkedValue = null;
        var inputElements = document.getElementsByTagName('input');
        for(var i=0; inputElements[i]; ++i){
            if(inputElements[i].type==="checkbox" &&
               inputElements[i].checked){
                checkedValue = inputElements[i].value;

                if(values == null)
                {
                    values = checkedValue;
                }
                else{
                    values = values + ',' + checkedValue;
                }
            }
        }


        var limit = @Model.Limit;
        var fromRowNumber = @Model.FromRowNumber;
        var containerId = '@string.Format("#{0}", containerId)';
        var ajaxLoadContainerId = '@string.Format("#{0}", ajaxLoadContainerId)';
        var ajaxActionUrl = '@Model.AjaxActionUrl';
        var parameters = { limit: limit, fromRowNumber: fromRowNumber, @Html.Raw(parameters) ,_keywords : $("#txtkeywords").val(),_FirstName: $("#txtfirstname").val() , _LastName : $("#txtlastname").val() , _Title : $("#txttitle").val() ,_CompanyName : $("#txtcompanyname").val() ,_School : $("#txtschool").val() , _Email : $("#txtemail").val() ,_Phone: $("#txtphone").val(), _Distance: $("#country_id2").val(), _ZipCode: $("#txtzipcode").val() , _SpecialtityList : values ,_City :'false'};

    var lazyLoad = new LazyLoad(containerId);
    lazyLoad.init({
        containerId: containerId,
        ajaxLoadContainerId: ajaxLoadContainerId,
        ajaxActionUrl: ajaxActionUrl,
        parameters: parameters
    });

    });
    function checkclick() {
        document.getElementById('ulUsers').innerHTML = "";
        var values = null;
        var checkedValue = null;
        var inputElements = document.getElementsByTagName('input');
        for(var i=0; inputElements[i]; ++i){
            if(inputElements[i].type==="checkbox" &&
               inputElements[i].checked){
                checkedValue = inputElements[i].value;

                if(values == null)
                {
                    values = checkedValue;
                }
                else{
                    values = values + ',' + checkedValue;
                }
            }
        }


        document.getElementById('ulUsers').innerHTML = "";

        var limit = @Model.Limit;
        var fromRowNumber = @Model.FromRowNumber;
        var containerId = '@string.Format("#{0}", containerId)';
        var ajaxLoadContainerId = '@string.Format("#{0}", ajaxLoadContainerId)';
        var ajaxActionUrl = '@Model.AjaxActionUrl';

        var parameters = { limit: limit, fromRowNumber: fromRowNumber, @Html.Raw(parameters) , _keywords : $("#txtkeywords").val()  ,_FirstName: $("#txtfirstname").val() , _LastName : $("#txtlastname").val() , _Title : $("#txttitle").val() ,_CompanyName : $("#txtcompanyname").val() ,_School : $("#txtschool").val() , _Email : $("#txtemail").val() ,_Phone: $("#txtphone").val(), _Distance: $("#country_id2").val(), _ZipCode: $("#txtzipcode").val() , _SpecialtityList :  values,_City :'false' };

    var lazyLoad = new LazyLoad(containerId);
    lazyLoad.init({
        containerId: containerId,
        ajaxLoadContainerId: ajaxLoadContainerId,
        ajaxActionUrl: ajaxActionUrl,
        parameters: parameters
    });


    }


</script>
