﻿
<link rel="stylesheet" href="/Dentalcss/jquery-ui-fu.css"
    id="theme">
<link rel="stylesheet" href="/Dentalcss/fujquery.fileupload-ui.css">
<div id="fileupload">
    <form action="ProfileImg.ashx" method="post"  enctype="multipart/form-data">
    <div class="fileupload-buttonbar" style="background-color:#0689BF !important;">
        <label class="fileinput-button" style="background-color:#0689BF!important;border-color:#0689BF;" >
            <span style="color:White;font-size: 12px;font-weight: bold;">Choose Image</span>
            <input id="file" type="file" name="files[]" multiple>
        </label>
        
    </div>
    </form>
    <div class="fileupload-content">
        <table  width="10px">
        </table>
        <div class="fileupload-progressbar" style="width:100%">
        </div>
    </div>
</div>
<script id="template-upload" type="text/x-jquery-tmpl">
    <tr class="template-upload{{if error}} ui-state-error{{/if}}">
        <td class="preview"></td>
        <td class="name">${name}</td>
        <td class="size">${sizef}</td>
        {{if error}}
            <td class="error" colspan="2">Error:
                {{if error === 'maxFileSize'}}File is too big
                {{else error === 'minFileSize'}}File is too small
                {{else error === 'acceptFileTypes'}}Filetype not allowed
                {{else error === 'maxNumberOfFiles'}}Max number of files exceeded
                {{else}}${error}
                {{/if}}
            </td>
        {{else}}
            <td class="progress"><div></div></td>
            <td style="display:none;" id="dsa" class="start"><button>Start</button></td>
        {{/if}}
        <td class="cancel"><button>Cancel</button></td>
    </tr>
</script>
<script id="template-download" type="text/x-jquery-tmpl">
    <tr class="template-download{{if error}} ui-state-error{{/if}}">
        {{if error}}
            <td></td>
            <td class="name">${namefdsa}</td>
            <td class="size">${sizef}</td>
            <td class="error" colspan="2">Error:
                {{if error === 1}}File exceeds upload_max_filesize (php.ini directive)
                {{else error === 2}}File exceeds MAX_FILE_SIZE (HTML form directive)
                {{else error === 3}}File was only partially uploaded
                {{else error === 4}}No File was uploaded
                {{else error === 5}}Missing a temporary folder
                {{else error === 6}}Failed to write file to disk
                {{else error === 7}}File upload stopped by extension
                {{else error === 'maxFileSize'}}File is too big
                {{else error === 'minFileSize'}}File is too small
                {{else error === 'acceptFileTypes'}}Filetype not allowed
                {{else error === 'maxNumberOfFiles'}}Max number of files exceeded
                {{else error === 'uploadedBytes'}}Uploaded bytes exceed file size
                {{else error === 'emptyResult'}}Empty file upload result
                {{else}}${error}
                {{/if}}
            </td>
        {{else}}
            <td class="preview">
                {{if Thumbnail_url}}
                    <a href="${url}" target="_blank"><img src="${Thumbnail_url}" alt="Thumbnail-url"></a>
                {{/if}}
            </td>
            <td class="name">
         
                <a href="${url}"{{if thumbnail_url}} target="_blank"{{/if}}>${Name}</a>
            </td>
            <td class="size"></td>
            <td colspan="2"></td>
        {{/if}}
        <td class="delete">
            <button data-type="${delete_type}" data-url="${delete_url}">Delete</button>
        </td>
    </tr>
</script>

<script type="text/javascript" src="/Dentaljs/jquery-ui.min.js"></script>
<script type="text/javascript" src="/Dentaljs/jquery.tmpl.min.js"></script>
<script type="text/javascript" src="/Dentaljs/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="/Dentaljs/jquery.fileupload.js"></script>
<script type="text/javascript" src="/Dentaljs/jquery.fileupload-ui.js"></script>
<script type="text/javascript" src="/Dentaljs/application.js"></script>
