﻿@using PagedList
@using DentalFiles.App_Start

@model DentalFiles.Models.ViewModel.MyInboxMaster

<ul class="tablelist">
    @foreach (var item in Model.ReferralDetails)
    {
        <li class="unread">
            <div class="check">
                <input name="Check"  onclick="Refuncheckselectall('mainrefcheck');" id="Ref" type="checkbox" value="@item.ReferralCardId"></div>
            <div class="ref_by">
                <a target="_blank" href="@SessionManagement.CompanyWebsite/p/@item.FromPublicPath">@item.FromField</a></div>
            <div class="ref_to">
                 <a target="_blank" href="@SessionManagement.CompanyWebsite/p/@item.ToPublicPath">@item.ToField</a></div>
            <div class="message">
                <div class="date">@item.CreationDate</div>
                @if (@item.Status != "Viewed")
                {

                    <div class="status nview">
                        Not Viewed</div>
                }
                else
                {
                    <div class="status view">
                        Viewed</div>

                }
                <div class="actions">
                    @using (Html.BeginForm())
                    {
                        <a target="_blank" href="ViewReferral?ReferralId=@item.ReferralCardId">
                            <img src="/DentalImages/patient-history/view-icon.png">view</a> 
                        <a href="#">
                            <img src="/DentalImages/patient-history/reply-icon.png" alt="reply-icon">reply</a> 
                        <a href="sendreferral?ReferralId=@item.ReferralCardId&mode=Forword">
                            <img src="/DentalImages/patient-history/forward-icon.png" alt="forward-icon">forward</a>
                        <a href='@Url.Action("DltRefMsg", "MyInbox", new { ReferralId = @item.ReferralCardId })' onclick="return confirm('Are you sure want to delete?');">
                            <img src="/DentalImages/patient-history/delete-icon.png" alt="delete-icon">delete</a>
                    }
                </div>
            </div>
            <div class="clear">
            </div>
        </li>
    }
</ul>
<center>
@if (Model.ReferralDetails.Count > 0)
{
    <div class="well">
        Page @(Model.ReferralDetails.PageCount < Model.ReferralDetails.PageNumber ? 0 : Model.ReferralDetails.PageNumber)
        of @Model.ReferralDetails.PageCount
        @if (Model.ReferralDetails.HasPreviousPage)
        {
            @Html.ActionLink("<<", "Index", "MyInbox", new { Refpage = 1 }, null)
            @Html.Raw("    ");
            @Html.ActionLink("< Prev", "Index", "MyInbox", new { Refpage = Model.ReferralDetails.PageNumber - 1 }, null)
             @:&nbsp;&nbsp;
        }
        else
        {
            @:<<
        @Html.Raw("    ");
            @:< Prev &nbsp;
                                                                                                                                                                                    }
        @if (Model.ReferralDetails.HasNextPage)
        {
            @Html.ActionLink("Next >", "Index", "MyInbox", new { Refpage = Model.ReferralDetails.PageNumber + 1 }, null)
            @Html.Raw("    ");
            @Html.ActionLink(">>", "Index", "MyInbox", new { Refpage = Model.ReferralDetails.PageCount }, null)
        }
        else
        {
            @:Next >
        @Html.Raw("    ")
            @:>>
                                                                                                                                                                                    }
    </div>
}
else
{ 
 <div class="well">
 No Record found
 </div>
}
</center>
<script type="text/javascript">
    function Refuncheckselectall(id) {
        document.getElementById(id).checked = false;
    }
</script>
