﻿@using System.Web.Optimization
@model DentalFiles.Models.RequiredFieldForReqInfo
@Scripts.Render("~/bundles/jqueryval")
@using (Html.BeginForm("RequestInfo", "Index", new { ReturnUrl = ViewBag.returnUrl }))
{


    <fieldset>
        <div class="grid_5">
            @if (ViewBag.RequestHelp != null && ViewBag.RequestHelp != "")
            {
                <div class="search_dentist_1">
                    &nbsp;
                </div>
            
            }
            else
            {
                <div class="search_dentist_1">
                    <div class="search_dentist_1_btn">
                        <a href='@Url.Action("Index", "SearchResult")'><span class="search_icon"></span>Search
                            for dentist</a></div>
                </div>
            }
            <div class="new_patient_signup_mydental">
                <div class="new_patient_signup request_informaton_box">
                    <h3 class="newpatient">
                        <span class="blue_color">Request </span>
                        @if (ViewBag.RequestHelp != null && ViewBag.RequestHelp != "")
                        {
                            @:Help
                        }
                        else
                        {
                            @:Information
                                                                                                                                                }
                    </h3>
                    <ul class="patient_listing">
                        <li>
                            @Html.TextBoxFor(model => model.Firstname, new { id = "txtreqinfofname", @ValidationGroup = "reqinfo", @placeholder = "First Name", @class = "inputbox_signup" })
                            @Html.ValidationMessageFor(model => model.Firstname)
                        </li>
                        <li>
                            @Html.TextBoxFor(model => model.Lastname, new { id = "txtreqinfolname", @ValidationGroup = "reqinfo", @placeholder = "Last Name", @class = "inputbox_signup" })
                            @Html.ValidationMessageFor(Model => Model.Lastname)
                        </li>
                        <li>
                            @Html.TextBoxFor(model => model.PhoneNo, new { id = "txtreqinfophone", @ValidationGroup = "reqinfo", @placeholder = "Phone Number", @class = "inputbox_signup" })
                            @Html.ValidationMessageFor(Model => Model.PhoneNo)
                        </li>
                        <li>
                            @Html.TextBoxFor(model => model.Email, new { id = "txtreqinfoemail", @ValidationGroup = "reqinfo", @placeholder = "Email", @class = "inputbox_signup" })
                            <div id="dvtxtreqinfoemail" style="color: Red">
                            </div>
                        </li>
                        <li class="textarea_input">
                            @Html.TextAreaFor(model => model.Comment, new { id = "txtcomment", @ValidationGroup = "reqinfo", @placeholder = "Comment", @class = "inputbox_textarea" })
                            <li class="button_panel">
                                <input type="hidden" id="hdntxtreqinfophone" />
                                <input value="Submit" onclick="return Validation();" validationgroup="reqinfo" type="submit"
                                    class="button" />
                            </li>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </fieldset>
}
<script language="javascript" type="text/javascript">
    function Validation() {


        if (document.getElementById('hdntxtreqinfophone').values == false) {
            document.getElementById('txtreqinfophone').focus();
            return false;
        }


        var result = IsEmail(document.getElementById('txtreqinfoemail').value);

        if (result == false) {
            document.getElementById('dvtxtreqinfoemail').innerHTML = 'Please Enter Valid Email';
            document.getElementById('dvtxtreqinfoemail').focus();
            return false;
        }
        else {

            document.getElementById('dvtxtreqinfoemail').innerHTML = '';
        }
    }

        
        
    
</script>
@{
    if (TempData["ReqInfomessage"] != null)
    {
    <script type="text/javascript">
        $(function () {
            $('#Message').html('Request received at Recordlinc');
            $('#Message').delay(300).slideDown(300).delay(2000).slideUp(300);
        });       
    </script>
    }
}
