﻿@using DataAccessLayer.Common
@model DentalFiles.Models.ViewModel.PatientAndUploadFiles
@using BusinessLogicLayer
@{ 
    string WebsiteUrl = Convert.ToString(System.Configuration.ConfigurationManager.AppSettings["websiteurl"]);
    string ImageBankPath = Convert.ToString(System.Configuration.ConfigurationManager.AppSettings["imagebankpath"]);
    string strCreationDate = string.Empty;
    string strModifiedDate = string.Empty;
    var objCommon = new CommonBLL();
}
<div id="dvimagedlt">
</div>
<link href="~/Dentalcss/custom.css" rel="stylesheet" />
<ul class="dentalfiles" id="dvimages" style="word-wrap: break-word; width: auto;">
    @foreach (var item in Model.PatientUploadedImages)
    {
        strCreationDate = objCommon.ConvertToDate(item.CreationDate, (int)BO.Enums.Common.DateFormat.GENERAL);
        strModifiedDate = objCommon.ConvertToDate(item.LastModifiedDate, (int)BO.Enums.Common.DateFormat.GENERAL);
        <li id="row-@item.ImageId">

            <div style="">
                @if (@item.RelativePath != null && @item.RelativePath != "")
                {

                    string test = item.RelativePath;
                    test = test.Replace("..", WebsiteUrl);
                    if (!test.Contains("ImageBank"))
                    {
                        test = ImageBankPath + test;
                        test = test.Replace("..", WebsiteUrl);
                    }
                    <div class="single_patient_block" id="@item.ImageId">
                        <div class="single_patient_block_img">
                            @*<a href="@item.RelativePath" target="_blank" title='@item.Name'>*@                           
                            @{
                                var ext = Path.GetExtension(@item.Name);
                            }
                            
                            @if (ext == ".tif" || ext == ".TIF" || ext == ".pspimage" || ext == ".thm" || ext == ".dcm" || ext == ".yuv")
                            {
                             <img title='@item.Name' src='@DataAccessLayer.Common.clsCommon.FileExtension.CheckFileExtenssion(item.Name)' alt="@item.Name">
                                    }
                            else
                            {
                            <img style="cursor: pointer;margin-top:5px;margin-bottom:5px;" src='@Html.Raw(test)' alt="Patient image" />
                                     }
                            @*</a>*@
                        </div>
                        <div class="single_patient_block_txt">
                            <div class="single_patient_block_txt_row">
                                <span><a onclick="aviewfileclick(@item.ImageId)" class="popup-with-form" href="#test-form">Name:</a></span>@item.Name
                            </div>
                            <div class="single_patient_block_txt_row"><span><a onclick="aviewfileclick(@item.ImageId)" class="popup-with-form" href="#test-form">Created on:</a></span>@strCreationDate </div>
                            <div class="single_patient_block_txt_row"><span><a onclick="aviewfileclick(@item.ImageId)" class="popup-with-form" href="#test-form">Modified on:</a></span>@strModifiedDate </div>
                            <div class="single_patient_block_txt_row">
                                <a target="_blank" href='@clsHelper.EscapeUriString(item.RelativePath)'>View File</a>
                                @if (@item.uploadby == "Patient")
                                {
                                    <a style="margin-left:5px;" onclick="DeleteImage(@item.ImageId,@item.MontageId,'@Url.Content(clsHelper.EscapeUriString(item.RelativePath))')">Delete File</a>
                                }
                            </div>
                        </div>
                        <div class="full_patient_detail"> <span>Notes:</span> @item.Notes</div>
                        <div class="full_patient_detail_trigger active"> </div>
                    </div>


                    @*<a href="@item.RelativePath" target="_blank" title='@item.Name'>
                            <img style="cursor: pointer;margin-top:5px;margin-bottom:5px; height:85px;width:124px;" src='@Html.Raw(test)' />
                        </a>*@


                }
                else
                {
                    <img style="cursor: pointer; margin-top: 5px; margin-bottom: 5px; max-width: 130px"
                         src='/DentalImages/attchnofound.jpg' alt="attchnofound" />
                }
            </div>
        </li>
    }
</ul>
