﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secure Patient Communication, Securely Access Patient Records - My Dental Files</title>
    <meta name="description" content="My Dental Files is a secure way for patients to securely communicate with your dentists, access dental records and fill out forms one time.">
    <meta name="keywords" content="My Dental Files secure">
    <link rel="icon" href="~/Content/HomePage/images/fav-ico.png" type="image/x-icon">
    <link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/HomePage/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="~/Content/HomePage/css/main.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/HomePage/css/all.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    @RenderSection("styles", required: false)
    <style type="text/css">
        #divMessage {
            top: 0;
            left: 0;
            width: 100%;
            height: 30px;
            font-size: 18px;
            line-height: 30px;
            text-align: center;
            color: Green;
            background: #ddd;
            border-bottom: 1px solid #ddd;
            filter: alpha(opacity=92);
            -moz-opacity: 0.92;
            opacity: 0.92;
            display: none;
        }
    </style>
   @Scripts.Render("~/CommonJS")
    <script src="~/Content/HomePage/js/jquery.main.js" defer></script>
</head>
<body>
    <div id="divSearchFormMain"></div>
    <div id="divMessage">
    </div>
    <div id="wrapper">
        @Html.Partial("PartialHeaderOuter")
        @RenderBody()
        @Html.Action("PartialFooter", "Common")
    </div>
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $(document).ready(function () {
            if (!$("#txtziporcity").length) {
                $("#divSearchFormMain").html('\
                   <form action="/Index/GetPara" class="form-search" method="post" style="display:none">\
                       <input type="hidden" id="txtziporcity" name="CityOrZip">\
                       <input type="hidden"  id="country_id" name="Speciality"> \
                       <input type="submit" value="Search" id="btnsearch"> </form> \
                ');
            }
        });
        $(".opener-btn").click(function () {
            $(".slide-holder").toggle();
        });
        function searchLocation(location) {
            if (location) {
                $("#txtziporcity").val(location);
                $("#btnsearch").trigger("click");
            }
            else {
                console.log("Invalid call of searchLocation");
            }
            return false;
        }

        function searchSpeciality(speciality) {
            if (speciality) {
                $("#country_id").val(speciality);
                $("#btnsearch").trigger("click");
            }
            else {
                console.log("Invalid call of searchSpeciality");
            }
            return false;
        }
    </script>


</body>
</html>
