﻿@using DentalFiles.Models;
@using DentalFiles.App_Start;

    @foreach (var item in Model)
    {
        <li>
            <div class="thumb">
             <a target="_blank" href=@SessionManagement.CompanyWebsite/p/@item.PublicPath>
                @if (@item.image != null && @item.image != "")
                {
                   
                   <img src='@SessionManagement.CompanyWebsite/@System.Configuration.ConfigurationManager.AppSettings["DentistImagespath"].ToString()@item.image' alt=@item.name />
                }
                else
                {
                    <img src="/ImageBank/Doctor_no_image.gif" alt=@item.name />
                        
                }
                </a>
                </div>
                <div class="desc" style="margin-top:0px">
                    <div class="block" >
                        <a target="_blank" href="@SessionManagement.CompanyWebsite/p/@item.PublicPath">@item.name
                            </a>
                            <label>@item.AccountName
                            </label>
                        <label>@item.Specialities</label></div>
                    <div class="block">
                        <ul class="address">
                            <li>
                                @if (!string.IsNullOrWhiteSpace(@item.Phone) && @item.Phone != "")
                                {<span class="phone"></span>@item.Phone}
                                else
                                { }</li>
                            <li><span class="addrss"></span>
                                @if (!string.IsNullOrWhiteSpace(@item.ExactAddress))
                                {@item.ExactAddress@(", ")}
                                @if (!string.IsNullOrWhiteSpace(@item.Address2))
                                {@item.Address2@(", ")}
                                @if (!string.IsNullOrWhiteSpace(@item.City))
                                {@item.City@(", ")}
                                @if (!string.IsNullOrWhiteSpace(@item.State))
                                {@item.State@(" ")}
                                @if (!string.IsNullOrWhiteSpace(@item.Zipcode))
                                {@item.Zipcode}
                                </li>
                        </ul>
                    </div>
                </div>
                <div class="actions">
                    <a onclick="redirectURL('ComposeMsg?mode=Compose&DoctorId=@item.UserID')" >
                        <input class="send_msg" name="Send Message" type="button" value="Send Message" style="float:right;">
                    </a>
                    @*<a onclick="redirectURL('TreatingDoctors/sendreferral?UserId=@item.UserID')">
                        <input class="send_rfrl" name="Send Referral" type="button" value="Send Referral">
                    </a>*@
                </div>
                <div class="clear">
                </div>
        </li>
    }