﻿@using DentalFiles.Models;
@using DentalFiles.App_Start;
@model IEnumerable<UserList>
@{
    ViewBag.Title = "Treating Doctors";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}
<script>
    $(document).ready(function () {
        $(function () {
            $("#aInbox").removeClass("current");
            $("#aMyInfo").removeClass("current");
            $("#adental_files").removeClass("current");
            $("#appointment_tab").removeClass("current");
            $("#atreatingdoctor").addClass("current");
            
        });
    });

    function ShowProcess() {
        $("#divLoading").show();
    }

    $(function () {
        var bindScrollHandler = function () {
            $(window).scroll(function () {
                if ($(window).scrollTop() + $(window).height() > $(document).height() - 150) {
                    $(window).unbind("scroll");
                    
                    var data = GetSearchResultOnScroll().toString();

                    $(data).appendTo("#searchtreatingdoc");

                    bindScrollHandler();
                }
                else {
                }
            });
        };

        bindScrollHandler();
    });

    function GetSearchResultOnScroll() {
        var datalist = '';
        
        $.ajaxSetup({ async: false });
        var PageIndex = $('#searchpageindex').val();
        
        if (PageIndex == "-1") {
            return "";
        }
        else {
            PageIndex = parseInt(PageIndex) + parseInt(1);
            $.post("/TreatingDoctors/GetSearchResultOnScroll", { PageIndex: PageIndex }, function (data) {
                if (data == '<center>No more record found</center>' || data == '<center>No record found</center>') {
                    $('#searchpageindex').val("-1");
                } else {
                    $('#searchpageindex').val(PageIndex);
                }
                
                datalist = data;
            });
        }
        $.ajaxSetup({ async: true });
        return datalist;
    }


    $(document).keydown(function (e) {

        if (e.which == 116) {
            window.location.href = "../TreatingDoctors";
            return false;
        }
    });
</script>
<input type="hidden" id="searchpageindex" value="1" />
<h2 class="title">
    Treating Doctors <span>[ <a href="InviteDoctor" onclick="ShowProcess();">Invite a Treating
        Doctor</a> ]</span>
</h2>
<!-- Treating docs starts here -->
<ul class="tablelist treating_docs" id="searchtreatingdoc">
    @Html.Partial("_partialListOfTreatingDoctors", Model)
</ul>
<ul class="tablelist treating_docs">
    <li class="invite"><a href="InviteDoctor" onclick="ShowProcess();">
        <input class="invite_doc" name="Invite a Treating Doctor" type="button" value="Invite a Treating Doctor"></a>
    </li>
</ul>
