﻿@model List<BO.Models.PlanAndPrice>
@{int CurrentMembershipId = 0; }
@if (Model.Count() > 0)
{
    for (int i = 0; i < Model.Count; i++)
    {
        <div class="col-md-12 tablet_pkg">
            <table style="width:100%" class="for-desktop-res one_pkg">
                <tbody>

                    @if (Model[i].MembershipId != CurrentMembershipId)
                    {
                        <tr class="with-white-bg">
                            <td class="none_bg"></td>
                            @Html.Action("GetMembershipHeadDetials", new { Id = Model[i].MembershipId })
                        </tr>
                    }
                    @{
                        CurrentMembershipId = Model[i].MembershipId;
                    }
                    <tr class="@(i % 2 == 0 ? "with-white-bg":"with-off-white-bg")">
                        <td data-label="">@Model[i].FeatureName</td>
                        @if (Model[i].CanSee)
                        {
                            if (Model[i].MaxCount == null)
                            {
                                <td data-label=""><img src="~/Content/css/HomePage/images/cross_icon_blue.png" alt="Cross Image"></td>
                            }
                            else if (Model[i].MaxCount == "")
                            {
                                <td data-label="Basic">Unlimited</td>
                            }
                            else
                            {
                                <td data-label="Basic">@Model[i].MaxCount</td>
                            }
                        }
                        else
                        {
                            <td data-label=""><img src="~/Content/css/HomePage/images/cross_icon_blue.png" alt="Cross Image"></td>
                        }
                    </tr>
                    @*<tr class="with-off-white-bg">
                            <td data-label="">View Attachments</td>
                            <td data-label="Basic">Unlimited</td>
                        </tr>
                        <tr class="with-white-bg">
                            <td data-label="">Update Profile</td>
                            <td data-label="Basic">Unlimited</td>
                        </tr>
                        <tr class="with-off-white-bg">
                            <td data-label="">Data Archiving</td>
                            <td data-label="Basic">Unlimited</td>
                        </tr>
                        <tr class="with-white-bg">
                            <td data-label="">Secure Messaging</td>
                            <td data-label="Basic">Unlimited</td>
                        </tr>
                        <tr class="with-off-white-bg">
                            <td data-label="">Attachments</td>
                            <td data-label="Basic">Unlimited</td>
                        </tr>
                        <tr class="with-white-bg">
                            <td data-label="">Health Forms</td>
                            <td data-label="Basic">Unlimited</td>
                        </tr>
                        <tr class="with-off-white-bg">
                            <td data-label="">Customer Support</td>
                            <td data-label="Basic">Unlimited</td>
                        </tr>
                        <tr class="with-white-bg">
                            <td data-label="">Activities Dashboard</td>
                            <td data-label="Basic">Unlimited</td>
                        </tr>
                        <tr class="with-off-white-bg">
                            <td data-label="">Patient Forms</td>
                            <td data-label="Basic">Unlimited</td>
                        </tr>
                        <tr class="with-white-bg">
                            <td data-label="">New Patient Leads</td>
                            <td data-label="Basic">Unlimited</td>
                        </tr>*@

                </tbody>
            </table>
        </div>
                            }
                        }
