﻿@model BO.Models.Membership

@if (Model.MonthlyPrice == 0)
{
    <td class="top_td">
        <span class="top_heading">
            @Model.Title
        </span>
        <span class="verticl-align">
            <span class="align-holder">
                <span class="bottom_text first_bottom">
                    <h2>Free</h2>
                    <a href="/Signup">Sign Up Now</a>
                </span>
            </span>
        </span>
    </td>
}
else
{
    <td class="top_td middle_td">
        <span class="top_heading">
            @Model.Title
        </span>
        <span class="verticl-align">
            <span class="align-holder">
                <span class="bottom_text">
                    <h2 class="off_price"><sup>$</sup>@String.Format("{0:0,0}", Model.MonthlyPrice)</h2>
                    <em>Monthly</em>
                    <a  href="javascript:;" onclick="fnGetMembership(@Model.Membership_Id,@Model.MonthlyPrice,'@Model.Title')">Buy Now</a>
                </span>
            </span>
        </span>
    </td>
}
