﻿@model NewRecordlinc.Models.Common.PyamentDetails
@{
    ViewBag.Title = "Plan & Pricing";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}
<link href="../../Content/css/pricing.css" rel="stylesheet" type="text/css" />
<link href="~/Content/css/new.css" rel="stylesheet" />
<style>
    img {
        max-width: 100%;
        width: auto;
    }
</style>
<script type="text/javascript">
    jQuery(window).ready(function () {
        if (jQuery(window).width() > 767) {
            jQuery(".plans-hd").css({ 'height': "auto" });
            var planHdHeight = $(".featured .plans-hd").height();
            jQuery(".plans-hd").css({ 'height': planHdHeight });
        } else {
            jQuery(".plans-hd").css({ 'height': "auto" });
        }
    });
    jQuery(window).resize(function () {
        if (jQuery(window).width() > 767) {
            jQuery(".plans-hd").css({ 'height': "auto" });
            var planHdHeight = $(".featured .plans-hd").height();
            jQuery(".plans-hd").css({ 'height': planHdHeight });
        } else {
            jQuery(".plans-hd").css({ 'height': "auto" });
        }
    });
    function equalHeight(group) {
        tallest = 0;
        group.each(function () {
            thisHeight = $(this).height();
            if (thisHeight > tallest) {
                tallest = thisHeight;
            }
        });
        group.height(tallest);
    }
    jQuery(window).resize(function () {
        if (jQuery(window).width() > 767) {
            jQuery(".EqHeightDiv").css({ 'height': "auto" });
            equalHeight($(".EqHeightDiv"));
        } else {
            jQuery(".EqHeightDiv").css({ 'height': "auto" });
        }
    });
    jQuery(window).ready(function () {
        if (jQuery(window).width() > 767) {
            equalHeight($(".EqHeightDiv"));
        } else {
            jQuery(".EqHeightDiv").css({ 'height': "auto" });
        }
    });

    $(document).ready(function () {

        $("#buynow-btn1").click(function () {
            $("#Planes").val($(".PaymentOption1 :selected").val());
            $("#PostPaymentId").submit();
        });

        $("#buynow-btn2").click(function () {
            $("#Planes").val($(".PaymentOption2 :selected").val());
            $("#PostPaymentId").submit();
        });
        $("#buynow-btn3").click(function () {

            window.location.href = "/Signup";
        });
    });
    function btn2() {
        $("#Planes").val("10");
        $("#Amount").val("$350");
        $("#PostPaymentId").submit();


    }
    function btn1() {
        $("#Planes").val("9");
        $("#Amount").val("$150");
        $("#PostPaymentId").submit();

    }
    function btnsignup() {
        window.location.href = "/Signup";
    }
</script>
<!-- InnerPage starts here -->
<section id="inner" class="price-page">
    <select class="PaymentOption1" name="select" id="select" style="display:none">
        <option value="2">12 months $42/mo</option>
        <option value="3">24 months $37/mo</option>
        <option value="4">36 months $33/mo</option>
    </select> <select class="PaymentOption2" name="select" id="select" style="display:none">
        <option value="5">Includes 10 colleagues $150/mo</option>
        <option value="6">Includes 20 colleagues $247/mo</option>
        <option value="7">Includes unlimited colleagues $350/mo</option>
    </select>
    <div class="container">
        <div class="content">
            <h2 class="title">Plan &amp; Pricing</h2>
            <p>Recordlinc offers three optons for our users. You can create a free trial account which is a limited account to update your profile and receive messages from other users. The dentist package is a full featured account that is tailored for general dentists or specialists who have a single account. The specialist package is built for all dental professionals who want to grow their practice and increase their referrals as well as offer free accounts to their referring colleagues. The packages are setup based on the number of accounts you would like to provide to your colleagues.</p>
            <div class="clear"></div>
            <div class="price_tables">
                <div class="container">
                    <div class="features_block">
                        <div class="feature_head">
                            <h3>Features</h3>
                        </div>
                        <ul>
                            <li><a href="//smartrefer.com" target="_blank">Colleagues</a></li>
                            <li><span>View Attachments</span></li>
                            <li><span>Update Profile</span></li>
                            @*<li><span>Internal Accounts</span></li>*@
                            <li><span>Data Archiving</span></li>
                            <li><span>Secure Messaging</span></li>
                            <li><span>Attachments</span></li>
                            <li><a href="http://ihealthforms.com" target="_blank">Health Forms</a></li>
                            <li><span>Customer Support</span></li>
                            <li><span>Activities Dashboard</span></li>
                            <li><a href="//mydentalfiles.com" target="_blank">Patient Forms</a></li>
                            <li><span>New Patient Leads</span></li>
                        </ul>
                    </div>
                    <div class="scrollDivMain">
                        <div class="mainDivBoxes">
                            <div class="price_block">
                                <label>
                                    free
                                    <br /> Package
                                </label>
                                <div class="price_info"><span>free</span></div>

                                <div class="plans">

                                </div>
                                <ul>
                                    <li>1</li>
                                    <li>Limited</li>
                                    <li>Limited</li>
                                    @*<li>1</li>*@
                                    <li>Limited</li>
                                    <li>Limited</li>
                                    <li><img src="/Images/cross.png" alt="cross" /></li>
                                    <li><img src="/Images/cross.png" alt="cross" /></li>
                                    <li><img src="/Images/cross.png" alt="cross" /></li>
                                    <li><img src="/Images/cross.png" alt="cross" /></li>
                                    <li><img src="/Images/cross.png" alt="cross" /></li>
                                    <li><img src="/Images/cross.png" alt="cross" /></li>
                                    <li class="button_panel">
                                        <a onclick="btnsignup();"><img src="/Images/signup_now_price_btn.jpg" alt="signup-btn" /></a>
                                    </li>

                                </ul>
                            </div>
                            <div class="price_block paid general">
                                <div class="redFlagMessage"><img src="/Images/10per_off_flag.png" alt="flag" /></div>
                                <label>
                                    Dentist
                                    <br /> Package
                                </label>
                                <div class="price_info paid">
                                    <span><sup>$</sup>150<sub>Mo</sub></span>
                                    <p>Ideal for General Dentists with full functionality</p>
                                </div>

                                <div class="plans">
                                    &nbsp;
                                </div>
                                <ul>
                                    <li>10</li>
                                    <li>Unlimited</li>
                                    <li>Unlimited</li>
                                    @*<li>5</li>*@
                                    <li>Unlimited</li>
                                    <li>Unlimited</li>
                                    <li>Unlimited</li>
                                    <li>Unlimited</li>
                                    <li>Unlimited</li>
                                    <li>Unlimited</li>
                                    <li>Unlimited</li>
                                    <li>Unlimited</li>
                                    <li class="button_panel">
                                        <img src="/Images/buynow_price_btn.jpg" alt="buy" onclick="btn1(9);" style="cursor:pointer;" /><button type="submit" id="buynow-btn1" class="buynow-btn"></button>
                                    </li>

                                </ul>
                            </div>
                            <div class="price_block paid special">
                                <div class="redFlagMessage"></div>
                                <label>
                                    Specialists
                                    <br /> Package
                                </label>
                                <div class="price_info">
                                    <span><sup>$</sup>350<sub>Mo</sub></span>
                                    <p>
                                        For Dental Specialists
                                        <br /> & Labs
                                    </p>
                                </div>

                                <div class="plans">
                                    &nbsp;
                                </div>
                                <ul>
                                    <li>Unlimited</li>
                                    <li>Unlimited</li>
                                    <li>Unlimited</li>
                                    @*<li>Unlimited</li>*@
                                    <li>Unlimited</li>
                                    <li>Unlimited</li>
                                    <li>Unlimited</li>
                                    <li>Unlimited</li>
                                    <li>Unlimited</li>
                                    <li>Unlimited</li>
                                    <li>Unlimited</li>
                                    <li>Unlimited</li>
                                    <li class="button_panel">
                                        <img src="/Images/buynow_price_btn_2.jpg" alt="buynow price btn" onclick="btn2(10);" style="cursor:pointer;" /><button type="submit" id="buynow-btn2" class="buynow-btn" onclick="    btn2();"></button>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="price-plans">
                  <div class="plans EqHeightDiv" >
                    <div class="plans-hd EqHeightHdDiv" > <img src="../../Content/images/free-trail.png" class="free-trail">
                     <p>
                        <button type="submit" id="buynow-btn3" class="buynow-btn">Sign Up Now</button>
                      </p>
                    </div>
                    <div class="plans-details" style="margin-top:15px;">
                      <ul>
                        <li>Receive Messages <span>1</span></li>
                        <li>View Attachments <span>limited</span></li>
                        <li>Update Profile <span>limited</span></li>
                      </ul>
                    </div>
                  </div>
                  <div class="plans featured">
                    <div class="plans-hd EqHeightHdDiv">
                      <h1>Dentist Package</h1>
                      <p>Ideal for General Dentists with full functionality</p>
                      <p class="price-tag">$47.00<img src="../../Content/images/month-flag.png"></p>
                      <div class="select-list">
                        <select class="PaymentOption1" name="select" id="select">
                          <option value="2">12 months <span>$42/mo</span></option>
                          <option value="3">24 months <span>$37/mo</span></option>
                          <option value="4">36 months <span>$33/mo</span></option>
                        </select>
                      </div>
                      <p>
                        <button type="submit" id="buynow-btn1" class="buynow-btn">Buy Now</button>
                      </p>
                    </div>
                    <div class="plans-details" style="margin-top:15px;">
                      <ul>
                        <li>Internal Accounts <span>5</span></li>
                        <li>Data Archiving <span>unlimited</span></li>
                        <li>Secure Messaging <span><img src="../../Content/images/blue-circle.png" ></span></li>
                        <li>Attachments <span><img src="../../Content/images/blue-circle.png" ></span></li>
                        <li>Electronic Patient Forms <span><img src="../../Content/images/blue-circle.png" ></span></li>
                        <li>Customer Support <span><img src="../../Content/images/blue-circle.png" ></span></li>
                        <li>Activities Dashboard <span><img src="../../Content/images/blue-circle.png" ></span></li>
                        <li>New Patient Leads <span><img src="../../Content/images/blue-circle.png" ></span></li>
                      </ul>
                    </div>
                  </div>
                  <div class="plans EqHeightDiv">
                    <div class="plans-hd EqHeightHdDiv">
                      <h1>Specialists Package</h1>
                      <p>For Dental Specialists &amp; Labs</p>
                      <p class="tag"><span>3 Packages Listed Here</span></p>
                      <div class="select-list">
                        <select class="PaymentOption2" name="select" id="select">
                          <option value="5">Includes 10 colleagues <span>$147/mo</span></option>
                          <option value="6">Includes 20 colleagues <span>$247/mo</span></option>
                          <option value="7">Includes unlimited colleagues <span>$347/mo</span></option>
                        </select>
                      </div>
                      <p>
                        <button type="submit" id="buynow-btn2" class="buynow-btn">Buy Now</button>
                      </p>
                    </div>
                    <div class="plans-details" style="margin-top:15px;">
                      <ul>
                        <li>Internal Accounts <span>unlimited</span></li>
                        <li>Data Archiving <span>unlimited</span></li>
                        <li>Secure Messaging <span><img src="../../Content/images/blue-circle.png" ></span></li>
                        <li>Attachments <span><img src="../../Content/images/blue-circle.png" ></span></li>
                        <li>Electronic Patient Forms <span><img src="../../Content/images/blue-circle.png" ></span></li>
                        <li>Customer Support <span><img src="../../Content/images/blue-circle.png" ></span></li>
                        <li>Activities Dashboard <span><img src="../../Content/images/blue-circle.png" ></span></li>
                        <li>New Patient Leads <span><img src="../../Content/images/blue-circle.png" ></span></li>
                      </ul>
                    </div>
                  </div>
                  <div class="clear"></div>
                </div>*@
        </div>
        <div class="clear"></div>
    </div>
</section>
<div class="clear"></div>
<section class="plans-bottom">
    <div class="container">
        <div class="plans-bottom-col">
            <img src="../../Content/images/btm-1.png">
            <p>Connect your practice Think "LinkedIn for Dentists"</p>
        </div>
        <div class="plans-bottom-col">
            <img src="../../Content/images/btm-2.png">
            <p>Simplify Referrals Save time &amp; stay compliant</p>
        </div>
        <div class="plans-bottom-col">
            <img src="../../Content/images/btm-3.png">
            <p>Grow your practice with more referrals</p>
        </div>
        <div class="clear"></div>
        <p class="signup-btn"><a href="/Signup"><img src="../../Content/images/signup-btn.png"></a></p>
        <div class="clear"></div>
    </div>
</section>
@using (Html.BeginForm("", "FreeToPaid", FormMethod.Post, new { id = "PostPaymentId" }))
{
    @*@Html.HiddenFor(m => m.Planes)*@
    @Html.Hidden("Plane",new { @id = "Planes" })
    @Html.Hidden("Amount",new { @id= "Amount" })

}
@*<form id="PostPaymentId" action="../FreeToPaid" >
    <input type="hidden" name="PaymntId" id="PaymntId"/>
    </form>*@
<!-- InnerPage ends here -->
