﻿@{
    ViewBag.Title = "Free Dental Software Products, Dental Software Gold Suite";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
     
}
<script type="text/javascript">
    $(document).ready(function () {
        $(function () {
            $("#homeindex").removeClass("active");
            $("#quick_tour").removeClass("active");
            $("#plan_pricing").addClass("active");
            $("#faq").removeClass("active");
            $("#about_us").removeClass("active");
            $("#contact_us").removeClass("active");
        });
    });


    function submitform1(p) {
        var ele = document.getElementById("form").hosted_button_id;
        var elemento = document.getElementById("form");
        if (p == 1) {
            ele.value = "255JD4KRWDE26"
        } else if (p == 2) {
            ele.value = "KNXEDFQ6BULDL"
        } else { ele.value = "2CJH463E3LGWC" }

        elemento.action = "https://www.paypal.com/cgi-bin/webscr";
        elemento.method = "Post";
        elemento.submit();

    } 
</script>
<!-- InnerPage starts here -->
<section id="inner">
	<div class="container">    	
     
        <div class="content">
        	<h2 class="title">Plan &amp; Pricing</h2>
            <div class="textpanel recordlinc_growth">
            	<div class="figure">
                	<img src="../Images/inner/growth.png" alt="Grow your practice by expanding your professional network">
                </div>
                <div class="text" style="text-align:justify;">
                	<p><span>RecordLinc is a secure</span> communication and marketing portal exclusively for dental professionals to:</p>
                    <ul class="info">
                    	<li><span class="hylyt">CONNECT</span> with colleagues</li>
                        <li><span class="hylyt">SIMPLIFY</span> referrals</li>
                        <li><span class="hylyt">GROW</span> your practice</li>
                    </ul>
                </div>
                <div class="clear"></div>
                
                <div class="steps">
                	<ul>
                    	<li><img src="../Images/inner/step1-connect.png" alt="Connect"></li><li>
                       <img src="../Images/inner/step2-simplify.png" alt="Simplify"></li><li>
                        <img src="../Images/inner/step3-growth.png" alt="Growth"></li>
                    </ul>
                </div>
                
                <div class="recordlinc_features">
                	<div class="thead">
                    	<h3>RecordLinc Features</h3>
                    </div>
                    <ul class="tbody">
                    	<li>Contact management system for referring dentist and colleagues<img class="tick" src="../Images/inner/tick.png" alt="Growth"></li>
                        <li>Search engine optimized public profile to grow referrals<img class="tick" src="../Images/inner/tick.png" alt="Growth"></li>
                        <li>Secure communication to other colleagues and patients<img class="tick" src="../Images/inner/tick.png" alt="Growth"></li>
                        <li>Send electronic patient referrals<img class="tick" src="../Images/inner/tick.png" alt="Growth"></li>
                        <li>Electronic patient forms filled out prior to visit<img class="tick" src="../Images/inner/tick.png" alt="Growth"></li>
                        <li>Grow your practice by finding and adding new colleagues<img class="tick" src="../Images/inner/tick.png" alt="Growth"></li>
                        <li>View and print images added to the patient file by associate colleagues<img class="tick" src="../Images/inner/tick.png" alt="Growth"></li>
                        <li>Add patient images (with offsite backup)<img class="tick" src="../Images/inner/tick.png" alt="Growth"></li>
                        <li>Practice management integration for ease of use<img class="tick" src="../Images/inner/tick.png" alt="Growth"></li>
                        <li>Create and join online study groups<img class="tick" src="../Images/inner/tick.png" alt="Growth"></li>
                        <li>Securely collaborate with study club members<img class="tick" src="../Images/inner/tick.png" alt="Growth"></li>
                        <li>Build your reputation as an elite dentist<img class="tick" src="../Images/inner/tick.png" alt="Growth"></li>
                        <li>Securely provide patients with access to dental records<img class="tick" src="../Images/inner/tick.png" alt="Growth"></li>
                        <li>Securely share patient files across team members &amp; staff<img class="tick" src="../Images/inner/tick.png" alt="Growth"></li>
                        <li>Easily communicate between specialists and general dentist<img class="tick" src="../Images/inner/tick.png" alt="Growth"></li>
                        <li>Our team will add and invite your referral network<img class="tick" src="../Images/inner/tick.png" alt="Growth"></li>
                        <li>Our team will market your practice inside of RecordLinc<img class="tick" src="../Images/inner/tick.png" alt="Growth"></li>
                        <li>Our team will build out your public profile for you<img class="tick" src="../Images/inner/tick.png" alt="Growth"></li>
                        <li>We will provide you with extensive training on the system<img class="tick" src="../Images/inner/tick.png" alt="Growth"></li>
                        <li id="advertisement">                        	
                            	<div class="text">
                                 @* Fee is billed monthly<br/>
                              60 days money back guarantee<br/>
                                FREE 30 DAYS TRIAL*@<br/><span style="margin-left:50px;">MONTHLY&nbsp;&nbsp;FEE</span> <br/>

                                <span style="margin-left:66px;font-size:15px;">30&nbsp;&nbsp;day&nbsp;&nbsp;refund&nbsp;&nbsp;policy</span>
                                </div>
                                <div class="price">
                                    <p>$47<span>@*for limited time*@</span></p>
                                    <form id="form" runat="server" >
<input type="hidden" name="cmd" value="_s-xclick">
 
                            <input type="hidden" name="hosted_button_id" value="2CJH463E3LGWC">
                            <img alt="pixel" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif"
                                width="1" height="1">
                               
                                    <a href="javascript:submitform1(1)"><img class="tick" src="../Images/inner/signup-bttn.jpg" alt="Sign Up"></a></form>
                                </div>
                                <div class="clear"></div>
                        </li>
                    </ul>
                </div>
                
             </div>           
       </div>
       
       <div class="aside">
   	   		<a class="advert" href='@Url.Action("Index", "FreeToPaid")'><img class="inline mb40 border" src="../Images/inner/recordlinc-pro.jpg" alt="RecordLic Pro at $47 for limited time"></a><a class="advert" href="Javascript:;"  onclick="SearchDatabase()"><img class="inline" src="../Images/inner/search-database.jpg" alt="Grow your practice by expanding your professional network"></a>
        </div>
        
        <div class="clear"></div>
  </div>
</section>
<!-- InnerPage starts ends here -->
