﻿@model BO.ViewModel.PlanAndPricing
@{
    ViewBag.Title = "Plan and Pricing";
    Layout = "~/Views/Shared/NewSiteLayout.cshtml";
}
@section styles{
    @*<link href="~/Content/css/Main/css/all.css" rel="stylesheet" />*@
<link href="~/Content/css/Admin/all.css" rel="stylesheet" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
}
<script src="~/Content/js/Steps/steps.js"></script>
<main id="main">
    <div class="page_haading_holder">
        <div class="container navigation_container">
            <div class="row navigation_row">
                <div class="col-xs-12">
                    <div class="page_heading">
                        <h1>Plan and Pricing</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="investment-packages-main-bg">

        <div class="block-investment-table plane_pricing_table">
            <div class="container">

                <div class="stepwizard">
                    <div class="stepwizard-row setup-panel">
                        <div class="stepwizard-step">
                            <div class="cirle-holder">
                                <a href="#step-1" type="button" id="stepFirst" class="btn btn-primary btn-circle">1</a>
                                <span id="spanstep1" type="button" class="btn btn-default btn-circle">1</span>                                
                            </div>
                            <p>Plan</p>
                        </div>
                        <div class="stepwizard-step">
                            <div class="cirle-holder">
                                <a href="#step-2" type="button" id="stepSecond" class="btn btn-default btn-circle">2</a>
                                <span id="spanstep2" type="button" class="btn btn-default btn-circle">2</span>
                            </div>
                            <p>Register</p>
                        </div>
                        <div class="stepwizard-step">
                            <div class="cirle-holder">
                                <a href="#step-3" type="button" id="stepThree" class="btn btn-default btn-circle">3</a>
                                <span id="spanstep3" type="button" class="btn btn-default btn-circle">3</span>
                            </div>
                            <p>Purchase</p>
                        </div>
                        <div class="stepwizard-step">
                            <div class="cirle-holder">
                                <a href="#step-4" type="button" id="stepFour" class="btn btn-default btn-circle">4</a>
                                <span id="spanstep4" type="button" class="btn btn-default btn-circle">4</span>
                            </div>
                            <p>Get Started</p>
                        </div>
                    </div>
                </div>

                @*<form role="form" action="" method="post">*@
                    <div class="row setup-content" id="step-1">
                        <div class="block-investment-des">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-12 paln_price_text">
                                        <p>Recordlinc offers three options for our users. You can create a free trial account which is a limited account to update your profile and receive messages from other users. The dentist package is a full featured account that is tailored for general dentists or specialists who have a single account. The specialist package is built for all dental professionals who want to grow their practice and increase their referrals as well as offer free accounts to their referring colleagues. The packages are setup based on the number of accounts you would like to provide to your colleagues.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @Html.HiddenFor(m=>m.MembershipId)
                        @Html.Partial("Step1", Model)                        
                        <!--end tablet view-->
                    </div>
                    <div class="row setup-content" id="step-2">
                        @Html.HiddenFor(m=>m.Signup.FirstName)
                        @Html.HiddenFor(m => m.Signup.LastName)
                        @Html.HiddenFor(m => m.Signup.Email)
                        @Html.HiddenFor(m => m.Signup.Phone)
                        @Html.Partial("Step2", Model.Signup)
                    </div>
                    <div class="row setup-content" id="step-3">
                        @Html.HiddenFor(m => m.ObjBillingInfo.CardNumber)
                        @Html.HiddenFor(m => m.ObjBillingInfo.ExpirationMonth)
                        @Html.HiddenFor(m => m.ObjBillingInfo.ExpirationYear)
                        @Html.HiddenFor(m => m.ObjBillingInfo.CVV)
                        @Html.HiddenFor(m => m.ObjBillingInfo.BillingZipCode)
                        @Html.Partial("Step3", Model.ObjBillingInfo)
                    </div>
                    <div class="row setup-content" id="step-4">
                        @Html.Partial("Step4")
                    </div>
                @*</form>*@
            </div>
        </div>
    </div>
    <div class="block-links">
        <div class="container">
            <div class="col">
                <a href="@Url.Action("News", "Aboutus")">
                    <i class="icon"><img src="/Content/css/main/images/img43.png" alt="image description"></i>
                    <span class="text">News</span>
                </a>
            </div>
            <div class="col">
                <a href="@Url.Action("HIPAA", "Faq")">
                    <i class="icon"><img src="/Content/css/main/images/img44.png" alt="image description"></i>
                    <span class="text">HIPAA <br>Compliance</span>
                </a>
            </div>
            <div class="col">
                <a href="@Url.Action("Index", "Faq")">
                    <i class="icon"><img src="/Content/css/main/images/img45.png" alt="image description"></i>
                    <span class="text">FAQ</span>
                </a>
            </div>
            <div class="col">
                <a href="https://youtu.be/ky1IFi5vhi4?list=PLzwH-GxNakibtDqFW-HS8x28TI_9B8Ncg">
                    <i class="icon"><img src="/Content/css/main/images/img46.png" alt="image description"></i>
                    <span class="text">Demo</span>
                </a>
            </div>
        </div>
    </div>
</main>
<input type="hidden" id="hdnMembershipId" name="hdnMembershipId"/>
<input type="hidden" id="hdnMembershipPrice" name="hdnMembershipPrice" />
<input type="hidden" id="hdnMembershipTitle" name="hdnMembershipTitle" />
@section scripts{
    <script type="text/javascript">
        function fnstep2() {
            UpdateAmountByPer();
            if ($("#frmSignup").valid()) {                
                var ObjMembers ={
                    'FirstName': $("#FirstName").val(),
                    'LastName': $("#LastName").val(),
                    'Email': $("#Email").val(),
                    'Phone': $("#Phone").val()
                }
                $.ajax({
                    url: "/PlanAndPricing/SubmitSignup",
                    type: "post",
                    data: { model: ObjMembers },
                    success: function (data) {                        
                        if (data["Key"] === false){                                                        
                            swal({ title: "", text: "Email address already exists, Please click on 'OK' to login and upgrade your account." }, function () {
                                location.href = "@Url.Action("Index", "Login")";
                                $(window).scrollTop(0);
                            });
                        }
                        else {
                            stepRestriction(3);
                            gotoStep('step-3');
                        }
                    },
                    error: function (response, status, xhr) {
                        console.log("Error while checking mail address");
                    }
                });
            }
        }
        function fnStep3() {
           
            var amt = $("#perAmountId");
            var interval = $("#intervalId");
            var strInterval = "";
            if (interval.text() == "Annual") {
                strInterval = "12";
            }
            if (interval.text() == "Monthly") {
                strInterval = "1";
            }

            if ($("#frmBillingInfo").valid()) {
            $('#paynow').addClass("disabled"); //RM-468 : Password reminder mail fired multiple times.
                var ObjBillingInfo = {
                    'CardNumber': $("#Cardnumber").val(),
                    'ExpirationMonth': $("#month").val(),
                    'ExpirationYear': $("#year").val(),
                    'CVV': $("#Cvvnumber").val(),
                    'BillingZipCode': $("#billingzip").val(),
                    'BillingAmount': amt.text(),
                    'BillPayInterval': strInterval,
                }
                $.post("/PlanAndPricing/SubmitBillingInfo", { Model: ObjBillingInfo }, function (data) {
                    if (data) {
                        finalcall();  
                        $(window).scrollTop(0);
                    }
                });
            }
        }
        function gotoStep(step) {
            var navListItems = $('div.setup-panel div a');
            allWells = $('.setup-content');
            //    e.preventDefault();
            var $this = $("#" + step);
            var $target = $this,
                $item = $('a[href="#' + step + '"]');

            if (!$item.hasClass('disabled')) {
                navListItems.removeClass('btn-primary').addClass('btn-default');
                $item.addClass('btn-primary');
                allWells.hide();
                $target.show();
                $target.find('input:eq(0)').focus();
                $(window).scrollTop(0);
            }
        }

        function GoBack() {
            window.location.reload();
        }

        function finalcall()
        {
            $("#divLoading").show();         
            var amt = $("#perAmountId");
            var interval = $("#intervalId");
            var strInterval = "";
            if (interval.text() == "Annual") {
                strInterval = "12";
            }
            if (interval.text() == "Monthly") {
                strInterval = "1";
            }
            //var isCheck = ($('#test2').is(':checked') ? true : false)
            //if (isCheck) {
                var PlanAndPrice = {};
                PlanAndPrice = {
                    'Signup': {
                        'FirstName': $("#FirstName").val(),
                        'LastName': $("#LastName").val(),
                        'Email': $("#Email").val(),
                        'Phone': $("#Phone").val()
                    },
                    'ObjBillingInfo': {
                        'CardNumber': $("#Cardnumber").val(),
                        'ExpirationMonth': $("#month").val(),
                        'ExpirationYear': $("#year").val(),
                        'CVV': $("#Cvvnumber").val(),
                        'BillingZipCode': $("#billingzip").val(),
                        'Iagree': ($('#test2').is(':checked') ? true : false),
                        'BillingAmount': amt.text(),
                        'BillPayInterval': strInterval,
                    },
                    'MembershipId': $('#hdnMembershipId').val(),
                }
                $.post("/PlanAndPricing/FinalSubmitForm", { ObjPlanAndPrice: PlanAndPrice }, function (data) {                    
                    if (data) {
                        $('#errorId').hide();
                        $('#paynow').removeClass("disabled");
                        stepRestriction(4);
                        $("#divLoading").hide();   
                        gotoStep('step-4');
                    }
                    else {
                        $('#errorId').show();
                        $('#paynow').removeClass("disabled");
                        $('#errorId').focus();
                        $("#divLoading").hide();    
                    }
                });
            //}
            //else {
            //    gotoStep('step-3');
            //    //swal({ title: "", text: "Please select the 'I have read and agree to the Privacy Policy' checkbox." })
            //}
        }
        function fnGetMembership(id, amount, title) {
            $("#hdnMembershipId").val(id);
            $("#hdnMembershipPrice").val(amount);
            $("#hdnMembershipTitle").val(title);
            $("#titleId").text(title);
            $("#titleIds").text(title);
            $("#amountId").text(amount);
            stepRestriction(2);
            gotoStep('step-2');
            $.post("/PlanAndPricing/GetPercentageById", { id: id, amt: amount }, function (data) {
                if (data != null || data != '') {
                    $("#perCentId").css('display', 'block');
                    $("#perCentlbl").html(data);
                    $("#perCentlbltwo").html(data);
                    $("#main").scrollTop(0);
                }
                if(data=="0") {                  
                    $("#perCentId").css('display','none');
                }
            });
        }

        function UpdateAmountByPer()
        {
            
            var IsPer = ($('#offer').is(':checked') ? true : false)
            if (IsPer) {     
                var amount = $("#amountId");
                var strper = $("#perCentlbl");
                var actualAmount = (amount.text() * 12);
                var perAmount = (actualAmount - (actualAmount * strper.text() / 100)).toFixed(2);               
                $("#actualAmountId").text(actualAmount);
                $("#perAmountId").text(perAmount);
                $("#intervalId").text("Annual")
                $(".light_color_price").show();
                $("#showpermsgId").show();
            }
            else {
                var label = $("#amountId");                
                var actualAmount = label.text();
                $("#perAmountId").text(actualAmount);
                $(".light_color_price").hide();
                $("#showpermsgId").hide();
                $("#intervalId").text("Monthly");
            }
        }

        function stepRestriction(val)
        {            
            if (val == 1) {                
                $("#stepFirst").show();
                $("#stepSecond").hide();
                $("#stepThree").hide();
                $("#stepFour").hide();
                $("#spanstep1").hide();
                $("#spanstep2").show();
                $("#spanstep3").show();
                $("#spanstep4").show();                
            }            

            if (val == 2) {
                $("#stepFirst").show();
                $("#stepSecond").show();
                $("#stepThree").hide();
                $("#stepFour").hide();
                $("#spanstep1").hide();
                $("#spanstep2").hide();
                $("#spanstep3").show();
                $("#spanstep4").show();                
            }

            if (val == 3) {               
                $("#spanstep1").hide();
                $("#spanstep2").hide();
                $("#spanstep3").hide();
                $("#spanstep4").show();
                $("#stepFirst").show();
                $("#stepSecond").show();
                $("#stepThree").show();
                $("#stepFour").hide();
            }

            if (val == 4) {
                $("#spanstep1").show();
                $("#spanstep2").show();
                $("#spanstep3").show();
                $("#spanstep4").hide();
                $("#stepFirst").hide();
                $("#stepSecond").hide();
                $("#stepThree").hide();
                $("#stepFour").show();
            }
        }        

        $(document).ready(function () {
            $("#spanstep1").hide();
            $("#spanstep2").show();
            $("#spanstep3").show();
            $("#spanstep4").show();
            $("#stepSecond").hide();
            $("#stepThree").hide();
            $("#stepFour").hide();            
            $("#spanstep2").css('cursor','default');
            $("#spanstep3").css('cursor','default');
            $("#spanstep4").css('cursor','default');
        });

        $("#year").on('change', function () {
            
            var selectyear = $("#year option:selected").val();
            var currentyear = new Date().getFullYear();
            var curMonth = new Date().getMonth();            
            var selectedMonth = $("#month option:selected").val();
            
            if (selectyear == currentyear) {
                for (var i = 0; i < curMonth; i++) {
                    var strmonth = GetMonth(i);
                    $("#month option[value*='" + strmonth + "']").prop("disabled", true);                    
                }                
                if (getMonthVal(selectedMonth) < curMonth+1) {
                    $("#month option:contains('Month')").prop('selected', true);
                }
                
            }
            else {                
                for (var i = 0; i < 11; i++) {
                    var strmonth = GetMonth(i);
                    $("#month option[value*='" + strmonth + "']").prop("disabled", false);
                }
            }

        });

        function GetMonth(value) {
            switch (value) {
                case 0:
                    return 'January';
                    break;
                case 1:
                    return 'February';
                    break;
                case 2:
                    return 'March';
                    break;
                case 3:
                    return 'April';
                    break;
                case 4:
                    return 'May';
                    break;
                case 5:
                    return 'June';
                    break;
                case 6:
                    return 'July';
                    break;
                case 7:
                    return 'August';
                    break;
                case 8:
                    return 'September';
                    break;
                case 9:
                    return 'October';
                    break;
                case 10:
                    return 'November';
                    break;
                case 11:
                    return 'December';
                    break;
            }
        }

        function getMonthVal(selectedMonth) {
            return new Date(selectedMonth + '-1-01').getMonth() + 1
        }

    </script>
}