﻿<div class="col-md-12">
    <div class="plan_pricing_holder plan_pricing_holder2 special">
        <div class="billing_info thankyou">
            <div class="text">
                <span class="ico-thanku"></span>
                <strong class="thanku-title">Thank you!</strong>
                <p>Thank you very much for signing up with us.<br /> Please check your email to activate your account and continue using our system. </p>
            </div>

        </div>
        <div class="billing_info-holder">
            <div class="img-holder">
                <img src="/Content/css/main/images/user-img.jpg" width="150" height="197" alt="description">
            </div>
            <div class="text-box">
                <strong class="title">Welcome to RecordLinc by Founder - Dr. Gregory Burnett</strong>
                <span class="descrip">Orthodontists</span>
                <p>Thank you for signing up for RecordLinc and welcome to the RecordLinc family. We are here to help you grow your practice and improve your patient care. I wanted to briefly share the story of why we started RecordLinc.</p>
                <p>One day I was watching my office staff handle my referrals. Quite frankly, I couldn't believe how manual the process was. They are constantly complaining about how time consuming the process was and irritated. I'm sure you can relate...</p>
                <p>More than that, the process took too long and I was struggling to find a solution to common problem many of us dental practitioners have. Just like you, my practice needed a steady and reliable stream of new referrals to keep my revenue growing, while reducing the "friction" with my office staff.</p>
                <p>RecordLinc has solved these problems and headaches for my practice. I now have a simple and cost effective way to connect with other local specialists to send and receive referrals, as well as maintaining HIPAA compliance. And much more... The best way I can describe this is LinkedIn built for Dentists to connect with local referral partners, simplifying your practice, and grow your revenue.</p>
                <p>As a fellow Dentist, I recommend you shake the "old ways" and try Recordlinc. Your staff and your pocket book will appreciate it. Feel free to reach out to our team for suggestions or training anytime. </p>
                <ul class="contact-list">
                    <li>Dr. Gregory Burnett, DDS</li>
                    <li>Email: <a href="mailto:greg@RecordLinc.com">greg@RecordLinc.com</a></li>
                    <li>Phone: <a class="tel" href="tel:8005960133">(800)596-0133</a></li>
                    <li>Facebook: <a href="https://www.facebook.com/recordlinc">www.facebook.com/recordlinc</a></li>
                    <li>LinkedIn: <a href="https://www.linkedin.com/in/recordlinc/">www.linkedin.com/in/recordlinc/</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
