﻿@model BO.ViewModel.PlanAndPricing
@using System.Data

<div class="col-md-12 desktop_pkg">
    <table style="width:100%" class="for-desktop-res five_pkg">
        <tbody>
            <tr class="with-white-bg">
                <td class="none_bg"></td>
                @{ 
                    int i = 1;
                }                
                @foreach (DataColumn col in Model.objPlanPricing.dsPackages.Columns)
                {                    
                    if (i > 1)
                    {                        
                        @Html.Action("PackageSection",new { id = col.ColumnName })
                    }
                    i++;                    
                }
            </tr>
            @{ 
                int k = 0;                
            }            
            @foreach (DataRow aRow in Model.objPlanPricing.dsPackages.Rows)
            {                
                <tr class="@(k % 2 == 0 ? "with-white-bg":"with-off-white-bg")">
                    @for (int j = 0; j < Model.objPlanPricing.dsPackages.Columns.Count; j++)
                    {
                        if (aRow[j] == System.DBNull.Value)
                        {                                
                            <td data-label=""><img src="~/Content/css/HomePage/images/cross_icon_blue.png" alt="Cross Image"></td>
                        }
                        else if (Convert.ToString(aRow[j]) == "")
                        {
                            <td data-label="">Unlimited</td>                            
                        }
                        else
                        {
                            <td data-label="">@aRow[j]</td>
                        }
                    }
                </tr>
                k++;
            }            
        </tbody>
    </table>
</div>
@Html.Action("GetPlanDetials")
