﻿@model BO.ViewModel.PlanAndPricing

<script src="~/Scripts/Mask/Mask.js"></script>

<div class="col-md-12">
    <div class="plan_pricing_holder plan_pricing_holder2">
        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 left_box_holder">
            <div class="left_box">
                <span class="sub_heading">
                    Personal Information
                </span>
                <form id="frmSignup">
                    <div class="form-group">
                        <label for="FirstName">First Name*</label>
                        @Html.TextBoxFor(m => m.Signup.FirstName, new { @class = "form-control alphaonly", @id = "FirstName" })
                        @Html.ValidationMessageFor(m => m.Signup.FirstName)
                    </div>
                    <div class="form-group card_group">
                        <label for="LastName">Last Name*</label>
                        @Html.TextBoxFor(m => m.Signup.LastName, new { @class = "form-control alphaonly", @id = "LastName" })
                        @Html.ValidationMessageFor(m => m.Signup.LastName)
                    </div>
                    <div class="form-group card_group">
                        <label for="Email">Email*</label>
                        @Html.TextBoxFor(m => m.Signup.Email, new { @class = "form-control", @id = "Email", placeholder = "info@name.com" })
                        @Html.ValidationMessageFor(m => m.Signup.Email)                        
                    </div>
                    <div class="form-group card_group">
                        <label for="Phone">Phone*</label>
                        @Html.TextBoxFor(m => m.Signup.Phone, new { @class = "form-control numericOnly", @id = "Phone" })
                        @Html.ValidationMessageFor(m => m.Signup.Phone)
                    </div>
                    <div class="form-group checkbox_main">
                        <!--<input type="checkbox" id="test1" />-->
                        <label for="test1">By signing up you acknowledge you agree to <a href="/Faq/PrivacyPolicy">Privacy Policy</a></label>
                    </div>
                    <div class="button_box">
                        @*<a href="javascript:;" onclick="gotoStep('Step1')">Back</a>*@
                        @*Start: RM-480*@ 
                        <a href="javascript:;" onclick="GoBack()">Back</a>
                        @*End: RM-480*@
                        
                        <a href="javascript:;" onclick="fnstep2()" class="submit_button">Sign Up</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 right_box_holder">
            <div class="right_text_box">
                <h3 id="titleId"></h3>                
            </div>
            <div class="right_text_box">
                <h2><sup>$</sup><label id="amountId"></label><sub>/Monthly</sub></h2>
                <div class="form-group checkbox-login" style="display:none" id="perCentId">
                    <input type="checkbox" id="offer" />
                    <label for="offer"><strong>Get <label id="perCentlbl"></label>% off </strong>annual purchase</label>
                </div>
            </div>
            <div class="right_text_box">
                <a href="/Faq/PrivacyPolicy">Privacy policy</a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#Phone').mask("(999) 999-9999");
    });
</script>