/* Latest CSS */
@media (min-width: 768px) {
  .navbar-header {
    float: left; 
}
.navbar-toggle {
    display: none;
}
.navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
}
.navbar-collapse {
    overflow-x: visible;
    padding-right: 15px;
    padding-left: 15px;
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    -webkit-overflow-scrolling: touch;
}
.navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
}
.navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
}
.navbar-nav > li {
    float: left;
}
}


h1, h2, h3, h4, h5, h6 {
    text-rendering: inherit;
}
h3, .h3 {
    font-size: 24px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.container {
	width: auto;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.col-xs-12 {
    width: 100%;
}
.col-xs-6 {
    width: 50%;
}
.col-xs-4 {
    width: 33.3333333333%;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
input[type="text"] {
	margin-bottom: 0;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    margin-top: 0;
}
.collapse {
    display: none;
}
.collapse.in {
    display: block;

}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease; 
}
.collapse {
    /*position: inherit;*/
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}
.navbar .nav {
    position: initial;

}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}
.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px;
}
.navbar .nav > li > a {
    text-shadow: none;
}
.navbar-toggle:focus {
    outline: 0;
}
.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.navbar-collapse {
  overflow-x: visible;
  padding-right: 15px;
  padding-left: 15px;
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-overflow-scrolling: touch;
  clear: both; }
  .navbar-collapse:before, .navbar-collapse:after {
    content: " ";
    display: table; }
  .navbar-collapse:after {
    clear: both; }
  .navbar-collapse.in {
    overflow-y: auto; }

.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.nav > li {
    position: relative;
    display: block;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    line-height: 1.428571429;
}
input[type="email"], input[type="password"] {
	height: 34px;
    padding: 6px 12px;
    margin-bottom: 0;
}
input[type="radio"], input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
}
input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
textarea {
	box-shadow: none;
    border-radius: 0;
}
body {
    font-family: "Work Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #636363;
    background-color: #fff;
}
ul, ol {
    margin: 0 0 10px;
}
.list-group-item:first-child {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
a.list-group-item-success, button.list-group-item-success {
    color: #3c763d;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}
.list-group-item-success {
    color: #3c763d;
    background-color: #dff0d8;
}
a.list-group-item-success:hover, a.list-group-item-success:focus, button.list-group-item-success:hover, button.list-group-item-success:focus {
    color: #3c763d;
    background-color: #d0e9c6;
}
.list-group {
    margin-bottom: 20px;
    padding-left: 0;
}
.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    background-color: #777777;
    border-radius: 10px;
    text-shadow: none;
}
.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
}
.referred-form-sec input[type="text"], .referred-form-sec input[type="email"], .referred-form-sec input[type="tel"] {
	height: auto;
	box-shadow: none;
	line-height: normal;
	border-radius: 0;
}
.referred-icon img {
	max-width: inherit;
}
@media (min-width: 768px){
.container {
    width: 750px;
}
.navbar-header {
    float: left;
}
.navbar-toggle {
    display: none;
}
.col-sm-6 {
    width: 50%;
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
}
.col-sm-4 {
    width: 33.3333333333%;
}
.col-sm-3 {
    width: 25%;
}
.navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
}
.navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
}
.navbar-nav {
    float: left;
    margin: 0;
}
.col-sm-5 {
    width: 41.6666666667%;
}
}
@media (min-width: 992px){
.container {
    width: 970px;
}
.col-md-5 {
    width: 41.6666666667%;
}
.col-md-7 {
    width: 58.3333333333%;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
}

.col-md-6 {
    width: 50%;
}
.col-md-3 {
    width: 25%;
}
.col-md-pull-1 {
    right: 8.3333333333%;
}
.col-md-push-1 {
    left: 8.3333333333%;
}
.col-md-2 {
    width: 16.6666666667%;
}
.col-md-10 {
    width: 83.3333333333%;
}
.col-md-3 {
    width: 25%;
}
}
@media (max-width: 1199px) and (min-width: 992px){
.visible-md {
    display: block !important;
}
}
@media (min-width: 1200px){
.container {
    width: 1170px;
}
.col-lg-4 {
    width: 33.3333333333%;
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
}
.visible-lg {
    display: block !important;
}
.hidden-lg {
    display: none !important;
}
/*@media (min-width: 1200px){
.container {
    width: 1170px;
}
}*/
}

/* End Latest CSS */


/*font-family: 'Work Sans', sans-serif;*/

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
* {
	max-height: 1000000px;
}
body {
	margin: 0;
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: none;
	font-family: 'Work Sans', sans-serif;
	min-width: 300px;
	position: relative;
	background: #fff url(../images/body_bg.jpg) repeat-x;
}
article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
	display: block;
}
img {
	border-style: none;
}
a {
	text-decoration: none;
	color: #0991c5;
	outline: none;
	font-weight:400;
}
a:hover {
	text-decoration: underline;
}
input, textarea, select {
	font: 100% 'Work Sans', sans-serif;;
	vertical-align: middle;
	color: #000;
}
textarea {
	overflow: auto;
	resize: vertical;
	vertical-align: top;
}
form, fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}
button::-moz-focus-inner, input::-moz-focus-inner {
 padding:0;
 border:0;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
 *overflow: visible;
}

input[type="search"] {
	-webkit-appearance: none;
}
input[type="search"]::-webkit-search-cancel-button {
 -webkit-appearance: none;
}
input[type="search"]::-webkit-search-decoration {
 display:none;
}
q {
	quotes: none;
}
q:before, q:after {
	content: '';
	content: none;
}
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
p {
	margin: 0 0 1.2em;
}
input[type=submit], input[type=reset], button[type=submit], button[type=reset], button, a {
	transition: color 0.50s ease, background 0.50s ease, opacity 0.50s ease;
	-webkit-transition: color 0.50s ease, background 0.50s ease, opacity 0.50s ease;
}
::-webkit-input-placeholder {
 color: #898b8e;
}
:-moz-placeholder {
 color: #898b8e;
}
::-moz-placeholder {
 color: #898b8e;
 opacity: 1;
}
:-ms-input-placeholder {
 color: #898b8e;
}
[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
 speak: none;
 font-style: normal;
 font-weight: normal;
 font-variant: normal;
 text-transform: none;
 line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}
.icon-google:before {
	content: "\e900";
}
.icon-phone:before {
	content: "\e904";
}
.icon-facebook:before {
	content: "\e906";
}
.icon-twitter:before {
	content: "\e907";
}
.right_align {
	text-align: right;
}
.left_align {
	text-align: left;
}
a {
	outline: none !important;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Work Sans', sans-serif;
}
.container { max-width:1170px;}
body p {
	margin: 0 0 15px;
	font-size:14px;
	
}
#main {
	min-height: 400px;
	background-color: #f8f8f8;
	overflow:hidden;
}
.navigation_holder {
	background: #cee9f3;
	padding: 30px 15px 0;
	box-sizing: border-box;
}
.row.nav_row {
	margin: 0px;
}
.navigation { background-color: transparent; border: none; border-radius: 0px; box-shadow: none; margin:0px; }
.navigation .navbar-nav > li > a {
	font-size: 18px;
	font-family: 'Work Sans', sans-serif;
	color: #343434;
	border-bottom:solid 2px #cee9f3;
	padding:0px 0px 30px 0px;
	font-weight:500;
	margin:0 20px 0 20px;
}
.navigation .navbar-nav > li{
    float: none;
    display: inline-block;
    text-align: center;
}
.navigation .navbar-nav {
	float: none;
	margin: 0;
	text-align: center;
}
.navigation .navbar-nav > li > a:hover .navigation .navbar-nav > li > .dropdown-menu { display: block !important;}
.navigation .navbar-nav > li > a:hover { color:#0991c5; border-color: #0991c5;}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover{ border-color:#0991c5; color:#0991c5; background-color:#cee9f3;}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li:hover > a { border-color:#0991c5; color:#0991c5; background-color:#cee9f3;}
.navigation .navbar-nav > li:hover .dropdown-menu { display: block !important;}
.navigation .navbar-nav > li > .dropdown-menu {
	background-color: #3b4a5a;
	border: none;
	border-radius: 0px;
	box-shadow: none;
}
.navigation .dropdown-menu { padding:0px; width:265px;}
.navigation .dropdown-menu > li > a {
	display: block;
	padding: 8px 10px;
	clear: both;
	font-size: 15px;
	line-height: 18px;
	font-weight: 400;
	color: #fff;
	white-space: nowrap;
}
.navigation .dropdown-menu > li > a:focus, .navigation .dropdown-menu > li > a:hover {
	color: #262626;
	text-decoration: none;
	background-color: #cee9f3;
}
#main .page_haading_holder {
	background-color: #0991c5;
	text-align: center;
	padding: 65px 15px;
	box-sizing: border-box;
}
.page_haading_holder .page_heading h1 {
	font-size: 40px;
	line-height: 40px;
	color: #fff;
	font-weight: 300;
	margin: 0px;
}
.footer_holder {
  background-color: rgb(59, 74, 90);
  padding: 25px 0px 50px;
  text-align: center;
}
.footer_holder .logo_holder {
  border-bottom: 1px solid #485a6e;
  padding: 0 0 20px;
}
.footer_holder .copy_right span {
  display: block;
  text-align: center;
  margin: 30px 0 40px;
  font-size: 18px;
  line-height: 22px;
  color: #0991c5;
}
.social_icon > ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.social_icon li {
  display: inline-block;
  margin: 0 15px;
}
.social_icon a {
  display: block;
  font-size: 22px;
  line-height: 26px;
  color: #8ca1b7;
}
.social_icon a:hover { color:#0990c5;}
/*-----------------------------------------New Patients Sign-Up------------------------------------------*/
.tabs_row .nav.nav-tabs {
	display: inline-block;
	max-width: 180px;
	vertical-align: top;
	margin: 0 35px 0 0;
		border-bottom: none;
}
.tabs_row .tab-content {
	display: inline-block;
	width: 84%;
	vertical-align: top;
	position: relative;
}
.tabs_row .nav-tabs > li > a {
	font-size: 14px;
	line-height: 18px;
	font-weight: 500;
	color: #9a9999;
	border-bottom: solid 1px #ececec;
	display: block;
	width: 100%;
	padding: 18px 0px;
	border-top: none; border-right: none; border-left: none;
}
.tabs_row .nav-tabs > li.active > a:focus { border-left: none; border-right: none; border-top: none; box-shadow: none;}
.tabs_row .nav-tabs > li > a:hover { background-color:transparent; border-left: none; border-right: none; border-top: none; box-shadow: none;}
.tabs_row .nav-tabs > li.active > a, .tabs_row .nav-tabs > li.active > a:focus, .tabs_row .nav-tabs > li.active > a:hover {
	color: #0991c5;
	cursor: default;
	background-color: #fff; box-shadow: none;
	border-bottom-color: #0991c5;
}
.tabs_row .nav-tabs > li {
	float: none;
	margin-bottom: 0px;
	display: block;
	border: none;
}
.contact_container {
	background-color: #fff;
	padding: 35px 34px 55px 20px;
	box-sizing: border-box;
	width: 100%;
	margin: 50px auto;
}
.row.tabs_row {
	margin: 0px auto;
}
.tabs_row .tab-content h3 {
	font-size: 24px;
	line-height: 28px;
	margin: 15px 0 40px;
	font-weight: 300;
	color: #000;
}
.tabs_row .form_box {
	max-width: 560px;
	width: 100%;
}
.tabs_row .tab-content label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 8px;
	font-weight: 500;
	color: #636363;
}
.tabs_row  .form-control {
	display: block;
	width: 100%;
	height: 40px;
	padding:0px 10px 0 10px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #a0a0a0;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 0px;
	font-weight: 300;
}
.tabs_row .form-group.zip_city {
	display: block;
	width: 47%;
	float: left;
}
.field-validation-error {
    color: #b94a48;
    display: block;
    padding: 20px 0 0;
}
.tabs_row  .zip_city.zip {
	margin-left: 28px;
}
.tabs_row #date {
	background: url(../images/date_icon.png) no-repeat; background-position: 95% 50%;display: inline-block;
	float: left;
	color:#000;
}
.tabs_row .form-group {
	margin-bottom: 20px;
}
.form-group.zip_city.zip.select_box {
	display: inline-block;
	float: right;
	
}
.form-group.zip_city.zip.select_box label{
	display: block;
}
.form-group.zip_city.zip.select_box .select_item {
	width: 100%;
	height: 38px;
	border: solid 1px #dbdbdb;
	color: #000;
	padding:0 0 0 10px;
	background:url(../images/down_arrow.png) no-repeat; background-position:95% 50%; -moz-appearance: none; -webkit-appearance: none; -ms-appearance: none;
	
}
.tabs_row h4 {
	font-size: 18px;
	font-weight: 300;
	margin: 10px 0 20px;
}
.form-group.zip_city.zip.phone {
	float: right;
}
.form-group.zip_city.zip.select_box.relation {
	float: left;
	margin-left: 0;
}
.add_button a {
	font-size: 18px;
	line-height: 22px;
	margin: 15px 0 0;
	display: inline-block;
}
.next_button a {
	font-size: 18px;
	line-height: 22px;
	float: right;
	background-color: #0991c5;
	color: #fff;
	display: inline-block;
	padding: 13px 27px 13px;
	font-weight: 300;
	border-radius: 3px;
	margin:14% 0 0;
}
.next_button a:hover { background-color:#3b4a5a; text-decoration: none;}
/*-----------------------------------------New Patients Sign-Up End------------------------------------------*/
/*-----------------------------------------Personal Info Start------------------------------------------*/
.personal_info_box {
	max-width: 750px;
	width: 100%;
}
.capthcha_img a {
	display: inline-block;
	float: right;
	margin: 0 10px 0 0px;
}
.capthcha_img a img { margin-bottom:0 auto; display: block; width:100%;}
.submit_button_box {
	text-align: right;
	float: right;
	width: 100%;
	margin: 5px 10px 0 0;
}
.submit_button {
	background-color: #0991c5;
	color: #fff;
	border-color: #0991c5;
	border: none;
	padding: 10px 25px;
	font-size: 18px;
	font-weight: 300;
	border-radius: 3px;
	transition:all ease-in-out .3s;
	-moz-transition:all ease-in-out .3s;
	-webkit-transition:all ease-in-out .3s;
	-ms-transition:all ease-in-out .3s;
}
.submit_button:hover { background-color:#3b4a5a; color:#fff;}
/*-----------------------------------------Personal Info End------------------------------------------*/
/*-----------------------------------------Privacy Policy Start------------------------------------------*/
.tabs_row .tab-content p {font-size:14px;
	line-height:25px;
	font-family: 'Work Sans', sans-serif;
	color:#636363;
	margin:0 0 25px;
	font-weight:400;
}
#menu2 h3 {
	margin-bottom: 15px;
}
/*-----------------------------------------Privacy Policy End------------------------------------------*/
/*-----------------------------------------Insurance Coverage Start------------------------------------------*/
.tabs_row .sub_heading {
	font-size: 18px;
	line-height: 22px;
	margin: 0 0 15px;
	display: block;
	color: #0991c5;
	font-weight: 400;
	text-transform: uppercase;
	font-family: 'Work Sans', sans-serif;
}
#menu3 h3 {
	margin-bottom: 20px;
	display: inline-block;
}
.form-group.zip_city.date.insurance_date {
	width: 100%;
}
.tabs_row .insurance_date #date {
	background-position: 97.5% 50%;
}
.next_button.insurance_button a {
	margin-top: 5px;
}
.tabs_row .skip_button {
	font-size: 16px;
	line-height: 20px;
	text-align: right;
	font-weight: 300;
	float: none;
	margin: 0;
	position: absolute;
	top: 15px;
	right: 0px;
}
/*-----------------------------------------Insurance Coverage End------------------------------------------*/
/*----------------------------------------- Medical History Start -----------------------------------------*/
/*** custom checkboxes ***/

.form-check input[type=checkbox] { display:none; } /* to hide the checkbox itself */
.form-check input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
  vertical-align: middle;
}

.form-check input[type=checkbox] + label:before { content: "\f096"; } /* unchecked icon */
.form-check input[type="checkbox"] + label::before {
  border-radius: 0;
  font-size: 19px;
  color:#c6c6c6;
  letter-spacing: 8px;
}
.form-check input[type=checkbox]:checked + label:before { content: "\f046"; } /* checked icon */

.form-check input[type="checkbox"]:checked + label::before {
    letter-spacing: 5px;
	color:#666;
}
#menu4 .form-check label {
   display: block;
  font-weight: 500;
  color:#000;
  margin-bottom: 25px;
  max-width: 100%;
}
.mini_boxes > label {
  display: inline-block !important;
  margin-right:15px;
}
#main .tabs_row .form-check .explain_list .form-group > label {
  display: inline-block;
  vertical-align: middle;
  margin: 0 15px 0 0px;
  color:#636363;
}
.form-control.explain {
  display: inline-block;
  max-width: 360px;
}
#main .form-check {
  max-width: 850px;
}
.form-check .next_button a { margin-top:20px;}
.checkbox_col_row .col-xs-12 .form-group > label  { margin-bottom:10px;}
.explain_list {
  display: block;
  overflow: hidden;
  border-top: solid 1px #ececec;
  padding: 20px 0 20px;
  margin:0 0 25px;
  border-bottom: solid 1px #ececec;
}
.explain_list .explain_group {
  margin-bottom: 0px;
}
#main .checkbox_col_row .col-xs-4 > label {
  margin-bottom: 8px;
}

#main .row.footer_lable .form-group label {
  margin-bottom: 10px;}
/*----------------------------------------- Medical History End -----------------------------------------*/
/*----------------------------------------- Dental History End -----------------------------------------*/
.mini_boxes.form-check.hot_cold > label {
	width: 20.5%;
}
.form_box .panel_box,
.panel_box{
	padding: 20px;
	background-color: #f3f3f3;
	box-sizing: border-box;
	margin: 0 0 10px;
}
#comment.form-control {
	padding: 10px 0px 10px 10px;
	overflow: hidden;
	min-height:120px;
}
.submit_button_box.dental_submit {
	margin: 0px auto;
}
/*.read_more_box .read-more-state {
  display: none;
}

.read_more_box .read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}

.read_more_box .read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read_more_box .read-more-state ~ .read-more-trigger:before {
  content: 'Read more>>';
}

.read_more_box .read-more-state:checked ~ .read-more-trigger:before {
  content: '<<Read less';
}

.read_more_box .read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0 .5em;
  color: #666;
  font-size: .9em;
  line-height: 2;
  border: 1px solid #ddd;
  border-radius: .25em;
}*/
.special_box_holder .pecentage_box {
  background-color: rgb(81, 81, 81);
  color: rgb(255, 255, 255);
  display: inline-block;
  min-width: 146px;
  text-align: center;
  vertical-align: middle;
}
.special_box_holder .pecentage_box {
  box-sizing: border-box;
  padding: 40px 0;
  width: 13%;
}
.special_box_holder .pecentage_box span { font-size:40px; line-height:40px; font-weight:300; display:block;}
.special_box_holder .pecentage_box em{ font-size:24px; line-height:24px; font-weight:300; font-style: normal;}
.special_text_box {
  display: inline-block;
  margin: 0 0 0 30px;
  width: 69%;
  vertical-align: middle;
}
.special_col { padding:0px;}
.special_row { margin:50px 0px 50px;}
.special_box_holder {
  background-color: rgb(255, 255, 255);
  box-sizing: border-box; overflow: hidden;
  padding: 20px;
  margin:  0 0 20px
}
.image_holder > img {
  display: block;
  margin: 0 0 25px;
  width: 100%;
}
.special_text_box .offer_heading {
  color: rgb(9, 145, 197);
  display: block;
  font-size: 24px;
  font-style: normal;
  line-height: 28px;
  margin: 0 0 10px 0;
}
.read_more_box p {
  font-size: 14px;
  line-height: 25px;
  margin: 0 0 20px;
}
.special_text_box .address_line {
  display: block;
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.special_text_box .address_line > li {
  display: inline-block;
  padding: 0 10px 0 0;
  border-right: solid 1px #dedede;
}
.special_text_box .address_line > li:last-child {border-right: none;}
.special_text_box .address_line a {
  color: #424242;
  font-size:14px;
  font-weight:400;
}
.special_text_box .addres_img > a {
   margin: 0 0 0 5px;
    padding: 0 0 0 15px;
  background:url(../images/location_image.png) no-repeat; background-position: 0 50%;
}
.special_text_box .clock_img > a {
   margin: 0 0 0 5px;
    padding: 0px 0px 0px 15px;
  background:url(../images/clock_image.png) no-repeat; background-position: 0 50%;
}
.special_text_box .address_line > li a:focus {  color:#000;}
.special_text_box .offer_button > a {
  font-size: 18px;
  line-height: #22px;
  background-color: #0991c5;
  color: #fff;
  padding: 10px 20px 10px 20px;
  box-sizing: border-box;
  border-radius: 3px;
}
.offer_button a { font-size:18px; line-height:22px; color:#fff; font-weight:#400;  padding: 10px 20px 9px 20px; text-decoration: none; display: block;}
.offer_button a:hover { background:#3b4a5a; border-radius:3px;}
.offer_button {
  display: inline-block;
  background-color: #0991c5;border-radius: 3px;
  color: #fff;
 
  color: #fff;
  width: auto;
}
.find_doctor_holder { background-size: cover; background: url(../images/doc_bg.jpg) no-repeat; background-position: 50% 0%; padding:50px 0px; overflow: hidden;}
.find_doctor_holder .search_box {
  max-width: 755px;
  margin: 0 auto;
}
.search_box h2 {
  font-size: 24px;
  line-height: 28px;
  margin: 0 0 20px;
  font-weight: 300;
}
.search_box .doctor_search {
  display: inline-block;
  max-width: 620px;
  width: 100%;
  margin: 0 auto;
  line-height: 40px;
  height: 40px;
  font-size: 14px;
  border: solid 1px #c5c5c5;
  color:#c5c5c5;
  padding: 0 0 0 15px;
  font-weight: 400;
  border-radius: 0;
    box-shadow: none;
}
.search_box .doctor_button {
  display: inline-block;
  font-size: 18px;
  background-color: #0991c5;
  border: none;
  color: #fff;
  padding: 9px 22px 9px 22px ;
  border-radius: 3px;
  font-weight: 300;
  margin:0 0 0 25px;
  line-height: 22px;
   transition: ease-in-out all .3s;
	-webkit-transition: ease-in-out all .3s;
	-moz-transition: ease-in-out all .3s;
}
.search_by_location {
  display: inline-block;
  float: right;
  font-size: 14px;
  font-weight: 700;
  margin: 30px 0 0;
  padding: 0 0 0 20px;
  text-transform: uppercase;
  background:url(../images/location_icon.png) no-repeat; background-position: 0 70%;
 
}
.search_box .doctor_button:hover, .footer_button > a:hover, .review-search_box .review_button:hover  { background:#3b4a5a; text-decoration: none;}
.footer_button {
  text-align: center;
  margin: 35px 0px;
}
.footer_button > a {
  background-color: rgb(9, 145, 197);
  border-radius: 3px;
  color: rgb(255, 255, 255);
  display: inline-block;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  padding: 13px 25px;
  margin: 0px 15px;
}

/*----------------------------------------- Dental History End -----------------------------------------*/
/*----------------------------------------- Reviews Page Start -----------------------------------------*/
.review_container {  margin: 50px auto 50px; overflow: hidden;}
.review_col { padding:0px;}
.reviews-search {
  background-color: #0991c5;
  padding: 25px;
  box-sizing: border-box;

  border-top-left-radius:2px;
  border-top-right-radius:2px;
}
.reviews-search .left_tex {
  display: inline-block;
  vertical-align: top;
  width: 13%;
  margin-right: 20px;
}
.reviews-search .left_tex em {
  display: block;
  text-align: left;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  margin: 0 0 10px;
}
.review-search_box {
  display: inline-block;
  vertical-align: middle;
  width: 84%;
}
.review-search_box textarea.comment_box {
  color: rgb(167, 167, 167);
  display: block;
  margin: 0 auto 20px;
  padding: 10px 0 0 10px;
  width: 100%;
  min-height: 110px;
}
.review-search_box .search_input {
  display: inline-block;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  padding: 0 0 0 10px;
  width: 41%;
  margin-right: 28px;
}
.review-search_box .review_button {
  background-color: rgb(23, 51, 92);
  border: medium none;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  display: inline-block;
  font-size: 18px;
  font-weight: 300;
  padding: 10px 20px;
   transition: ease-in-out all .3s;
	-webkit-transition: ease-in-out all .3s;
	-moz-transition: ease-in-out all .3s;
  border-radius: 3px;
}
.bottom_text {
  color: #afe6fb;
  display: block;
  font-size: 14px;
  font-weight: 400;
  margin:15px 10px 0 0px;
  text-align: right;
}
.review_row { background:#fff;}
.patient_review h2 {
  font-size: 24px;
  font-weight: 300;
  margin: 30px 0 40px;
}
.patient_review .review_left {
  display: inline-block;
  width: 16%;
  vertical-align: top;
}
.review_left .yello_starts {
  display: block;
  margin: 0 0 10px;
}
.review_left .by_user {
  display: block;
  font-size: 14px;
  font-style: normal;
  color: #636363;
  margin:0 0 10px;
}
.review_left .date {
  font-style: normal;
  display: block;
}
.review_right {
  display: inline-block;
  vertical-align: top;
  width: 83%;
}
.review_list {
  border-bottom: 1px solid rgb(232, 232, 232);
  margin: 0 0 25px;
  padding: 0 0 15px;
}
.review_right p {
  margin: 0;
  font-weight:400;
}
.review_row .left_no {
  display: inline-block;
  float: left;
  font-style: normal;
}
.review_row .right_no {
  display: inline-block;
  float: right;
  font-style: normal;
}
.review_row .right_no > a {
  background-color: rgb(9, 145, 197);
  border-radius: 3px;
  color: rgb(255, 255, 255);
  display: inline-block;
  font-size: 18px;
  height: 41px;
  padding: 8px 0 0;
  text-align: center;
  transition: ease-in-out all .3s;
	-webkit-transition: ease-in-out all .3s;
	-moz-transition: ease-in-out all .3s;
  vertical-align: middle;
  width: 41px;
}
.review_row .right_no > a:hover { background-color: #3b4a5a; color:#fff; text-decoration: none;}
.review_row .page_no {
  padding: 0 0 15px;
  display: block;
  overflow: hidden;
}
/*----------------------------------------- Reviews Page End -----------------------------------------*/
/*----------------------------------------- Login Page Start -----------------------------------------*/
.login_container { margin:50px auto 50px;}
#main .form-check.login_box {
  display: block;
  margin: 0 auto;
  max-width: 460px;
  text-align: center;
  width: 100%;
  background-color: #fff;
  padding: 30px 20px 20px 20px;
  box-sizing: border-box;
}
.login_box h2 {
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  margin: 0 0 30px;
  border-bottom: solid 1px #dedede;
  padding: 0 0 25px;
}
.login_box .form-group {
  max-width: 260px;
  margin: 0px auto 20px;
  text-align: left;
}
.login_box .form-group label { color:#636363;}
.login_box input {
  border-radius: 0;
}
.submit_button.login_submit {
  display: block;
  width: 100%;
  border-radius: 3px;
}

.login_forgot > a {
  display: block;
  border-bottom: solid 1px #dedede;
  padding: 20px 0px;
  font-weight: 500;
  max-width: 165px;
  margin: 0 auto;
}
.login_forgot > a:last-child { border-bottom: none;}
/*----------------------------------------- Login Page End -----------------------------------------*/
/*----------------------------------------- Refer a Patient Page Start  -----------------------------------------*/
.refer-patient-main-content-wrap {
    background: #fff;
    padding: 0 100px;
}
.referred-by{
	padding: 40px 0;
}

.referred-by h3 {
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 25px;
    margin-bottom: 30px;
}

.referred-icon {
    margin-top: 40px;
}

.referred-form-sec label {
    display: block;
    font-size: 14px;
  	font-weight: 500;
  	color: #636363;
}

.referred-form-sec input {
    border: 1px solid #dbdbdb;
    padding: 15px 10px;
    width: 100%;
    margin-bottom: 20px;
}
.referred-by.patient-being-referred {
    padding: 40px 0 50px;
}

.captcha-box-sec {
    margin-top: 25px;
}

.aligning-right-text {
    text-align: right;
}

.referred-form-sec {
    padding-left: 40px;
}

.referred-form-mess-sec textarea {
	border: 1px solid #dbdbdb;
	width: 100%;
    padding: 15px 10px;
}

.aligning-right-text button.attach-file-btn {
	background: transparent;
    color: #0991c5;
    background: transparent;
    border: 1px solid #0991c5;
    padding: 6px 15px;
    margin-right: 10px;
    
}
.aligning-right-text button {
	background: #0991c5;
	font-size: 18px;
    color: #fff;
    font-weight: 300;
    border: none;
    padding: 6px 15px;
    border-radius: 3px;
}

.refer-patient-bottom-content-wrap {
    background: #fff;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
}

.refer-patient-bottom-main {
    padding: 30px 0;
}

.recordlinc-box {
    border-right: 1px solid #ebebeb;
}

.refer-patient-bottom-content-wrap h2 {
    color: #0991c5;
    font-size: 18px;
    font-weight: 300;
    margin: 0 0 10px;
}

.refer-patient-bottom-content-wrap ul {
    padding: 0;
    list-style: none;
    float: left;
    width: 50%;
}

/*ul.left-ul {
    float: left;
    width: 50%;
}*/

.refer-patient-bottom-content-wrap ul li {
    padding: 6px 0;
}

.refer-patient-bottom-content-wrap ul li a {
    color: #738393;
    font-size: 14px;
}

.search-by-box {
    padding-left: 90px;
}

.follow-us-box {
	border-left: 1px solid #ebebeb;
	padding-left: 90px;
}

.refer-patient-bottom-content-wrap ul li a i {
    padding-right: 30px;
    font-size: 18px;
}

.refer-patient-bottom-main-logos {
    background: #fff;
    padding: 30px 0;
}

.logos-sec .logos-img-main {
    display: inline-block;
    vertical-align: middle;
    float: none;
    padding: 0;
    margin: 0;
    width: auto;
    margin-right: 80px;
}

.logos-sec ul {
	padding: 0;
}

.logos-sec {
    padding: 0 15px;
}

.logos-sec ul li {
    display: inline-block;
    padding-right: 80px;
}

.logos-sec ul li:last-child {
    padding-right: 0;
}


.img-list{
	overflow:hidden;
	letter-spacing:-5px;
}

.img-list .col{
	display:inline-block;
	vertical-align:top;
	letter-spacing:0;
	width:25%;
	padding:0 15px;
}

.img-list .img-holder{
	overflow:hidden;
	text-align:center;
	width:100%;
}

.img-list img{
	display:inline-block;
	vertical-align:top;
	max-width:100%;
	height:auto;
}

.img-name{
	display: block;
    font-size: 18px;
    line-height: 22px;
    margin: 5px 0;
}
#main .bottom_text.policy a {
    border-radius: 0;
    color: #afe6fb;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 15px 10px 0 0;
    min-width: auto;
    padding: 0;
    text-align: right;
}
#main .bottom_text.policy a:hover{
	background: none;
}
/*----------------------------------------- Refer a Patient Page End  -----------------------------------------*/

@media screen and (max-width:1250px){
.navigation .navbar-nav > li > a {
	margin: 0 5px 0 5px;
}
}
@media screen and (max-width:1200px){
.tabs_row .tab-content {
	width: 75%;
}
.special_box_holder .pecentage_box {
  width: auto;
}
.special_text_box {
  width: 55%;
}
.offer_button {
  margin: 0 0 0 50px;
  width: 150px;
}
.special_text_box .address_line > li {
  border: medium none;
  display: block;
  padding: 0;
  margin:0 0 5px;
}
.special_text_box .clock_img > a {
  margin: 0px;
 }
.special_text_box .addres_img > a {
  margin: 0px;
 }
 .review-search_box .search_input {
  width: 39%;
 }
 .logos-sec ul li {
    padding-right: 40px;
}
}
@media screen and (max-width:1150px){
.navigation .navbar-nav > li > a {
  font-size: 14px;
}
}
@media screen and (max-width:1000px){
.capthcha_img a {
	margin:0 5px 0 0px;
}
.submit_button_box {
	margin: 5px 0px 0 0;
}

.img-list .col{
	width:33.3%;
}
}
@media screen and (max-width:991px){
.container.special_container {
  width: 100%;
}
.special_text_box {
  width: 52%;
  margin:0 0 0 15px;
}	
.special_box_holder .pecentage_box {
  min-width: 115px;
}
.offer_button {
  margin: 0 0 0 40px;
}
.special_box_holder {
  padding: 15px;
}
.search_box .doctor_search {
  max-width: 580px;
}
.review-search_box {
  width: 77%;
}
.reviews-search .left_tex {
  width: 19%;
}
.review-search_box .search_input {
  margin-right: 19px;
  width: 36%;
}
.referred-icon {
    margin-bottom: 30px;
    margin-top: 0;
}
.referred-form-sec {
    padding-left: 0;
}

.refer-patient-bottom-content-wrap ul {
    float: none;
    width: 100%;
    margin-bottom: 0;
}

.search-by-box, .follow-us-box {
	padding-left: 15px;
}
.logos-sec ul li {
    padding-right: 20px;
}


}

@media screen and (max-width:850px){
.navigation .navbar-nav > li > a {
	font-size: 14px;
}
.form-group.zip_city.zip.select_box {
	float: left;
}
.tabs_row .zip_city.zip {
	margin-left: 30px;
}
.tabs_row .form-group.zip_city {
    float: left;
}
.capthcha_img a {
	margin:0 0px 0 0px;
}
.checkbox_col_row .col-xs-4 {
  width: 47%;
  margin-bottom:15px;
}
#main .tabs_row .form-check .explain_list .form-group > label {
  margin: 0 15px 10px 0;
}
}
@media screen and (max-width:767px){
.navigation_holder {
  padding: 30px 0 25px;
}
.navbar-default .navbar-toggle {
  border-color: #0991c5;
  border-radius: 0px;
  background-color: #0991c5;
}
.navigation_holder .navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navigation_holder .navbar-collapse.collapse.in {
  padding: 0px !important; margin:0px;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: #3b4a5a;
  border-color: #3b4a5a;
}
.navigation_holder .navbar-collapse {
  padding: 0px;
}
.container.nav_holder {
  padding: 0px;
  width:100%;
}
.container.nav_holder .col-xs-12 { padding:0px;}
.navigation .navbar-nav > li > a {
  margin: 0;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-top: 10px;
}
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: rgb(255, 255, 255);
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover { background:#3b4a5a; color:#fff;}
.container.nav_row{
  padding: 0px;
  margin:0 auto;
}
.navigation .navbar-nav > li {
	display: block;
	text-align: left;
	width:100%;
}
.navigation_holder { padding:30px 0 25px;}
.nav_container { padding:0px; width:100%; }
.navigation .dropdown-menu {
  padding: 0;
  width: 100%;
}
.navigation {
  background: rgb(206, 233, 243) none repeat scroll 0 0;
  width: 100%;
}
.tabs_row .tab-content {
	width: 64%;
}
.tabs_row .form-group.zip_city {
	display: block;
	width: 100%;
	float: none;
	margin-left: 0px;
	overflow: hidden;
}
.tabs_row .skip_button {
	font-size: 14px;
	top: 0;
	right: 0px;
    float: right;
}
.checkbox_col_row .col-xs-4 {
  width: 100%;
}
.mini_boxes.form-check.hot_cold > label {
	width: auto;
}
.special_text_box {
  width: 70%;
}
.offer_button {
  margin: 25px 0 0 0px;
  float: right;
}
.special_box_holder .image_holder {
  display: none;
}
.search_box .doctor_search {
  width: 80%;
}
.find_doctor_holder .search_box {
  margin: 0 auto;
  max-width: 600px;
}
.search_box .doctor_search {
  width: 75%;
}
.review-search_box .search_input {
  margin: 0 0 20px;
  width: 100%;
}
.review-search_box .review_button {
  float: right;
}
.bottom_text {
  display: block;
  width: 100%;
  overflow: hidden;
}
.review-search_box .review_button {margin:0 0 20px;}
.reviews-search .left_tex {
  width: 20%;
}
.review-search_box {
  width: 75%;
}
.patient_review .review_left {
  width: 20%;
}
.review_right {
  width: 77%;
}
.navigation .navbar-nav > li > a {
  border-bottom: 1px solid #fff;
  color: rgb(255, 255, 255);
}
.navigation .navbar-nav {
  background-color: #0991c5;
}
.navigation .dropdown-menu > li > a {
  font-size: 14px;
  line-height: 18px;
  padding: 8px 10px 10px 25px;
}
.navigation .dropdown-menu > li > a:focus, .navigation .dropdown-menu > li > a:hover {
  background-color: rgb(255, 255, 255);
  border-color: rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.navigation .navbar-nav > li > .dropdown-menu {
  background-color: #474747;
  border: medium none;
  border-radius: 0;
  box-shadow: none;
}
.navigation .navbar-collapse.in {
  overflow-y: visible;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li:hover > a {
  background-color: #000;
  border-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}

.aligning-right-text {
    text-align: left;
    margin-top: 25px;
}

.referred-by.patient-being-referred {
    padding: 20px 0 50px;
}

.refer-patient-bottom-main {
    text-align: center;
}

.recordlinc-box, .search-by-box, .follow-us-box {
    margin-bottom: 20px;
}
.logos-sec ul li {
    padding-right: 0;
    display: block;
    text-align: center;
    margin-bottom: 20px;
}
.refer-patient-main-content-wrap { 
    padding: 0 20px;
}
.captcha-img img {
	width: 100%;
}

.img-list .col{
	width:50%;
}

}
@media screen and (max-width:600px){
.special_box_holder .pecentage_box {
  display: block;
  margin: 0 auto 20px;
  width: 115px;
}
.special_text_box {
  width: 100%;
  margin: 0px;
}
.search_box .doctor_search {
  width: 70%;
}
.reviews-search .left_tex {
  width: 100%;
  margin: 0 0 20px;
}
.review-search_box {
  width: 100%;
}
.patient_review .review_left {
  width: 26%;
}
.review_right {
  width: 71%;
}
}
@media screen and (max-width:550px){
.page_haading_holder .page_heading h1 {
    font-size: 30px;
  line-height: 30px;
}
.tabs_row .tab-content {
	width: 100%;
}
.tabs_row .nav.nav-tabs {
	max-width: none;
	vertical-align: top;
	margin: 0 0px 30px 0;
	text-align: center;
}
.tabs_row .nav-tabs > li {
	display: inline-block;
	width: 31%;
	text-align: center;
	margin: 0 5px 0 0;
}
.contact_container {
	padding: 35px 15px 35px 15px;
}

}
@media screen and (max-width:480px){
.social_icon li {
  margin: 0 5px;
}
.tabs_row .nav-tabs > li {
	display: inline-block;
	max-width:140px;
	text-align: center;
	margin: 0 auto 20px;
	width: 100%;
}
.tabs_row .nav.nav-tabs {
	width: 100%;
}
.tabs_row .sub_heading {
	font-size: 16px;
}
.special_text_box .offer_heading {
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 5px;
}
.search_box .doctor_search {
  width: 100%;
}
.search_box .doctor_button {
  display: block;
  margin: 15px 0 0 0px;
  width: 100%;
}
.search_box h2 {
  font-size: 20px;
  line-height: 24px;
}
.footer_button > a {
  display: block;
  margin: 0 15px 15px;
}
.find_doctor_holder {
  padding: 20px 0;
}
.patient_review .review_left {
  width: 100%;
  margin: 0 0 20px;
}
.patient_review .review_right {
  width: 100%;
}
.reviews-search {
  padding: 15px;
}
.login_box h2 {
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 20px;
  padding: 0 0 15px;
}
}
@media screen and (max-width:360px){
.social_icon li {
  margin: 0 5px;
}
.tabs_row .nav-tabs > li {
	display: block;
	max-width:none;
	text-align: center;
	margin: 0 auto 20px;
	width: 100%;
}
}


