﻿
@using System.Data
@using DataAccessLayer.Common;
@model DataSet

@{
    ViewBag.Title = "DisplayApiData";
    //Layout = "~/Views/Shared/_NewSiteLayoutInner.cshtml";
}

@if (Model != null && Model.Tables.Count > 0)

{
    foreach (DataTable item in Model.Tables)
    {
        if (item != null && item.Rows.Count > 0)
        {
        <lable>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</lable>
        <table border="1">
            @if (item.Columns.Count > 0)
            {
                <thead>
                    <tr>
                        @foreach (DataColumn col in item.Columns)
                        {
                            <th>@col.ColumnName</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (DataRow row in item.Rows)
                    {
                        <tr>
                            @foreach (DataColumn col in item.Columns)
                            {
                                <td>@row[col.ColumnName]</td>
                            }
                        </tr>
                    }
                </tbody>
            }
        </table>

        }
    }
}





