﻿@{
    ViewBag.Title = "birdEyeAPI";
}
<script src="../../Content/js/jquery-1.9.1.js" type="text/javascript"></script>
<script type="text/javascript">


    $.ajaxSetup({ async: false });
    function syncPatinetDetailsOfDoctorWithAPI(id) {
        $.post("/demo/syncDoctorDetailsWithAPI", {}, function (data) {
            alert(data);
        });
    }
    $.ajaxSetup({ async: true });
</script>
<input type="submit" onclick="syncPatinetDetailsOfDoctorWithAPI('55')" name="syncDoctorDetails" value="syncDoctorDetails" />



