﻿@using System.Data
@model DataTable

@{
    ViewBag.Title = "DisplayApiData";
    //Layout = "~/Views/Shared/_NewSiteLayoutInner.cshtml";
}

<center><h2>Display Api Data</h2></center>

<table border="1">
    <thead>
        <tr>
            @foreach (DataColumn col in Model.Columns)
            {
                <th>@col.ColumnName</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow row in Model.Rows)
        {
            <tr>
                @foreach (DataColumn col in Model.Columns)
                {
                    <td>@row[col.ColumnName]</td>
                }
            </tr>
        }
    </tbody>
</table>


