﻿@{
    ViewBag.Title = "GetPatientDetails";
    
}
<script src="~/Content/js/jquery-1.10.2.js"></script>

<script>
    function Getpatients() {

      //  var Getallinfo = { Username: $("#uname").val(), Password: $("#pass").val(), PageSize: $("#pagesize").val(), PageIndex: $("#pageindex").val() }
        
        $.get('/API/APIPatientDetails/GetPatientsDetails', { Username: $("#uname").val(), Password: $("#pass").val(), PageSize: $("#pagesize").val(), PageIndex: $("#pageindex").val() }, function (data) {
        });
    }

</script>

<table>
    <tr>
        <td>UserName </td>
        <td><input type="text" id="uname" /> </td>
    </tr>
    <tr>
        <td>Password</td>
        <td><input type="password" id="pass" /></td>
    </tr>
    <tr>
        <td> Page Size</td>
        <td><input type="text" id="pagesize" /></td>
    </tr>
    <tr>

        <td>Page Index</td>
        <td><input type="text" id="pageindex" /></td>
    </tr>
    <tr>
        <td></td>
        <td><input type="button" onclick="Getpatients()" value="Submit" /></td>
    </tr>
</table>