﻿@model NewRecordlinc.Models.Demo.mdlImageConvertl
@{
    ViewBag.Title = "ImageConvert";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    <style type="text/css">
        .imagethumb
        {
            max-width: 50px;
            max-height: 50px;
        }
    </style>
}

<h2>
    ImageConvert</h2>
@using (Html.BeginForm("ImageConvert", "Demo", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    <label>
        Upload image :
    </label>
    <input type="file" name="img" id="img" value="" />
    <input type="submit" name="btnsubmit" value="Convert" />

    @Html.HiddenFor(t => t.strTableScript);
    
    <div id="dvtable">
    </div>
    
}
<script type="text/javascript">


    $(document).ready(function () {
        var strtablescript = document.getElementById("strTableScript").value
        document.getElementById("dvtable").innerHTML = strtablescript;
    });

</script>
