﻿@model NewRecordlinc.Models.Patients.mdlPatientReferralHistory
@{
    ViewBag.Title = "Recordlinc -Referral History";
    Layout = "~/Views/Shared/SiteLayoutInner.cshtml";
}
<script type="text/javascript">
    function ClearPlaceHolder(input) {
        if (input.value == input.defaultValue) {
            input.value = "";
        }
    }
    function SetPlaceHolder(input) {
        if (input.value == "") {
            input.value = input.defaultValue;
        }
    }
    $(function () {
        $("#search_main_div").css("display", "block");
        $("#search_main_div").html("<div class='search_main_div'><div class='searchbar'><input onfocus='ClearPlaceHolder(this)' onblur='SetPlaceHolder(this)' name='Search Referral History' type='text' value='Search Referral History'></div></div>");
    });
</script>
<!-- Main content -->
<div class="content">
    <div class="content_base">
        <!-- Breadcrumb starts-->
        <div class="breadcrumb">
            <ul>
                <li><a href='@Url.Action("Index", "Index")'>
                    <img width="16" height="14" class="hires" src="../../Content/images/home-icon.png"
                        alt="Home"></a><span class="after"></span></li>
                <li><span class="before"></span><a href='@Url.Action("Index", "ViewReports")'>Reports</a><span
                    class="after"></span></li>
                <li class="active"><span class="before"></span><a href='@Url.Action("ReferralHistory", "Patients")'>
                    Referral History</a><span class="after"></span></li>
            </ul>
        </div>
        <!-- Breadcrumb ends-->
        <!-- Dashboard icons starts-->
        <!-- Dashboard icons ends-->
        <!-- Inner Content Starts -->
        <div class="inner">
            <!-- Social Media Table -->
            <div class="table_data reports_ref_received clearfix">
                <h5>
                    Referral History<span class="buttons"><input class="export_report" name="Export Report"
                        type="submit"></span></h5>
                <div class="clear">
                </div>
                <table class="responsiveTable" cellpadding="0" cellspacing="0" border="0">
                    <thead>
                        <tr>
                            <th>
                                <input name="" type="checkbox" value="">
                            </th>
                            <th>
                                <a href="" class="sortable">Date</a>
                            </th>
                            <th>
                                <a href="" class="sortable">Status</a>
                            </th>
                            <th>
                                <a href="" class="sortable">Patient</a>
                            </th>
                            <th>
                                <a href="" class="sortable">Referred By</a>
                            </th>
                            <th>
                                <a href="" class="sortable">Referred To</a>
                            </th>
                            <th>
                                <a href="" class="sortable">Message</a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    
                        @foreach (var PatientReferralHistory in Model.lstPatientReferralHistory)
                        {
                        <tr>
                            <td>
                                <input name="" type="checkbox" value="">
                            </td>
                            <td>
                                 @PatientReferralHistory.TreatmentStartDate

                            </td>
                            <td>
                                <a href="javascript:;" class="green_btn">
                                    <img src="../../Content/images/read.png" width="20" height="21" alt="read"><div class="tooltipc">
                                        Viewed</div>
                                </a>
                            </td>
                            <td>
                                 @PatientReferralHistory.FirstName &nbsp  @PatientReferralHistory.LastName
                            </td>
                            <td>
                                 @PatientReferralHistory.SenderName
                            </td>
                            <td>
                                @PatientReferralHistory.ReceiverName
                            </td>
                            <td>
                                Importance message...
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="clear">
            </div>
        </div>
        <!-- Inner Content Ends -->
    </div>
    <!-- content base ends-->
</div>
<!-- content ends here -->
