﻿<p>
    &nbsp;</p>
<table align="center" style="background: #fff; border: 1px solid #ddd; margin: 0px auto;
    padding: 0px; width: 603px">
    <tbody>
        <tr>
            <td>
                <table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 603px">
                    <tbody>
                        <tr>
                            <td>
                                <table cellpadding="0" cellspacing="0" style="height: 100%; width: 100%">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 602px">
                                                    <tbody>
                                                        <tr>
                                                            <td colspan="2">
                                                                <a href="//www.mydentalfiles.com/" target="_blank">
                                                                    <img alt="RecordLincLogo" id="imgbanner" src="//www.mydentalfiles.com/Dentalimages/mydental_files_logo_template.png"
                                                                        style="border-style: solid; border-width: 0px; float: right; height: 45px; width: 198px"
                                                                        title="RecordLinc Dental Software" /></a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <table border="0" cellpadding="0" cellspacing="0" style="width: 602px">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>
                                                                                <table border="0" cellpadding="0" cellspacing="0" style="width: 602px">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td>
                                                                                                <table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 550px">
                                                                                                    <tbody>
                                                                                                        <tr>
                                                                                                            <td>
                                                                                                                <strong>Welcome to MyDentalFiles by #CompanyName# </strong>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                <table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 550px">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td>
                                                                                                You have just signed up for MyDentalFiles by #CompanyName# Inc.You can fill-out
                                                                                                electronic dental forms online prior coming to the dentist and track your referrals,
                                                                                                view your dental records and much more.
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>
                                                                                                <strong>Here is your username and password:</strong>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>
                                                                                                <strong>Username:</strong> #Email#
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>
                                                                                                <strong>Password:</strong> #Password#
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>
                                                                                                Stay more informed about your dental treatment with MyDentalFiles.
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>
                                                                                                If you have any questions please call or email.
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>
                                                                                                <strong>&nbsp;Best Regards,</strong>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>
                                                                                                <table border="0" cellpadding="0" cellspacing="0" style="width: 100%">
                                                                                                    <tbody>
                                                                                                        <tr>
                                                                                                            <td>
                                                                                                                <table border="0" cellpadding="0" cellspacing="0" style="width: 100%">
                                                                                                                    <tbody>
                                                                                                                        <tr>
                                                                                                                            <td>
                                                                                                                                &nbsp;#CompanyOwnerName#<br />
                                                                                                                                &nbsp;#CompanyOwnerTitle#<br />
                                                                                                                                &nbsp;#CompanyName# Inc.<br />
                                                                                                                                &nbsp;#CompanyPhone#
                                                                                                                            </td>
                                                                                                                        </tr>
                                                                                                                    </tbody>
                                                                                                                </table>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                                <table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 550px">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td>
                                                                                                <table align="center" cellpadding="0" cellspacing="0">
                                                                                                    <tbody>
                                                                                                        <tr>
                                                                                                            <td style="background-color: #00AAF0; text-align: centre">
                                                                                                                <strong><a href="//www.mydentalfiles.com/patientlogin?username=#Email#&amp;pass=#EncPassword#"
                                                                                                                    style="text-decoration: none; color: #fff;">LOGIN TO MyDentalFiles HERE</a></strong>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <table align="center" border="0" cellpadding="0" cellspacing="0" style="background: #f3f3f3;
                                                    border-top: double #ccc; line-height: 17px; width: 600px">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                &nbsp;
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="text-align: center">
                                                                <span style="font-family: arial,helvetica,sans-serif; font-size: 11px">#CompanyName#
                                                                    is the largest professional network of dental professionals in the world. The product
                                                                    allows for sending electronic patient referrals, electronic patient forms, online
                                                                    study clubs and more. Connect with colleagues, simplify referrals, and grow your
                                                                    practice.</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="text-align: center">
                                                                Do you know anybody that might like #CompanyName#?<a href="#CompanyWebsite#/MyDentalFiles/"
                                                                    style="text-decoration: none;"> Invite others to join</a> &raquo;
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="text-align: center">
                                                                <span style="font-family: arial,helvetica,sans-serif; font-size: 11px">To receive less
                                                                    notifications please&nbsp;</span><a href="mailto:unsubscribe@recordlnc.com?subject=Unsubscribe%20Me"
                                                                        style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none;">login&nbsp;</a><span
                                                                            style="font-family: arial,helvetica,sans-serif; font-size: 11px">and adjust notification
                                                                            in&nbsp;</span><a href="http://recordlinc.com/Setthing/Notification.aspx" style="font-family: Arial, Helvetica, sans-serif;
                                                                                font-size: 11px; text-decoration: none;">settings.</a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="text-align: center">
                                                                <strong><span style="font-family: arial,helvetica,sans-serif">CONNECT - SIMPLIFY - GROW</span></strong>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="text-align: center">
                                                                Phone: #CompanyPhone#<br />
                                                                <strong>Web:&nbsp;</strong><strong><a href="#CompanyWebsite#">#CompanyWebsite#</a></strong>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="text-align: center">
                                                                &copy; 2011, #CompanyName# Inc. #CompanyCity#, #CompanyState# #CompanyCountry#
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                &nbsp;
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
