﻿@model List<NewRecordlinc.Models.Patients.mdlPatient.SpecialityService>

@foreach (var item in Model)
{

    var ItemName = @item.SpecialityName.Replace(" ", "");

    <li class="@ItemName" onclick="HideShowDiv('@ItemName')">
        <input type="hidden" value="@item.SpecialityId" id="hdnSpeciality" />
        <a href="" onclick="getValue(@item.SpecialityId)"><span></span>@item.SpecialityName<i></i></a>
    </li>

}
<script>
    $(document).ready(function () {

        $(".full_patient_detail_trigger").click(function () {
            $(this).parent(".single_patient_block").find(".full_patient_detail").slideToggle();
            $(this).toggleClass('active');
        });

    });


    jQuery(document).ready(function () {
        jQuery('.form_row .form_block .form_block_label').on('click', function () {
            jQuery(this).parent('.form_row .form_block').toggleClass('hide-input');
            jQuery(this).parent('.form_row .form_block').find(".input_fill_area input").focus();
        });

    });
     
   
</script>