﻿@model List<NewRecordlinc.Models.Patients.mdlPatient.SpecialityService>

@*@foreach (var item in Model)
{
        
                <div class="form_block hide-input detail">
                    <div class="form_block_label">
                        <label><span>@item.ServiceName</span></label>
                    </div>
                    <div class="input_fill_area">
                        <input type="text" catid="@item.SpecialityId" id="@item.ServicesId" name="sub_1_1_0" placeholder="Tooth # and comments" data-id="@item.SpecialityId" data-name="@item.ServiceName"/>
                    </div>
                </div> 
}*@

 