﻿@model List<BO.Models.PatientSectionMapping>
<div id="mainDivId">
    <div class="row">
        <div class="col-lg-12" id="DetailId">
            <div class="services mrgn-btm-20">
                <div class="enter-email-bar mrgn-0 ref_form_setting" id="OrthodonticsId">
                    <div class="SectionClass">
                        <span class="enable">
                            @foreach (var item in Model)
                            {
                                <a href="#" onclick="getSubField(@item.SectionId)"><span></span>@item.SectionName<i></i></a>
                            }
                        </span>
                        <label class="switch">
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
