﻿@{
    ViewBag.Title = "Contact";
}

<div class="row">
    <div class="col-4">
        <div class="dashboard-card">
            <div class="dashboard-title">24</div>
            <div class="dashboard-sub-title">Staff Members</div>
            <i class="far fa-user  dashboard-icon"></i>
        </div>
    </div>
    <div class="col-4">
        <div class="dashboard-card">
            <div class="dashboard-title">27</div>
            <div class="dashboard-sub-title">Goals Reached</div>
            <i class="fas fa-bullseye  dashboard-icon"></i>
        </div>
    </div>
    <div class="col-4">
        <div class="dashboard-card">
            <div class="dashboard-title">147</div>
            <div class="dashboard-sub-title">New Patients</div>
            <i class="fas fa-user-plus dashboard-icon"></i>
        </div>
    </div>
</div>
<br class="clearfix" />

<div class="row">

<div class="col-4">
 
    <select size="10" multiple>
        <option>Admin</option>
        <option>Doctor</option>
        <option>Assiciate Doctor</option>
        <option>Dental Assistant</option>
        <option>Hygienist</option>
        <option>Hygiene Operations</option>
    </select>
            <br />
        <a href="#" class="btn btn-success">Add Member Role</a>

</div>
<div class="col-4">
    <select size="10" multiple>
        <option>Kelly</option>
        <option>Jim</option>
        <option>Tino</option>
        <option>Julie</option>
        <option>Margret</option>
        <option>Tim</option>
    </select>
    <br />
    <a href="#" class="btn btn-success">Add Team Member</a>


</div>
<div class="col-4">
    <div class="statistic-chart-1">
        <h3 class="title-3 m-b-30">chart</h3>
        <div class="chart-wrap">
            <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
            <canvas id="widgetChart5" height="242" width="330" class="chartjs-render-monitor" style="display: block; width: 330px; height: 242px;"></canvas>
        </div>
        <div class="statistic-chart-1-note">
            <span class="big">10,368</span>
            <span>/ 16220 items sold</span>
        </div>
    </div>
</div>


</div>


