﻿@{
    ViewBag.Title = "Goals and KPI's";
}



<div class="schedule-header">
    <a href="#" class="pull-left"><i class="fas fa-chevron-circle-left"></i> </a>
    <h3 style="display: inline-block"><i class="fas fa-bullseye"></i> Goals</h3>
    <a href="#" class="pull-right"><i class="fas fa-chevron-circle-right"></i> </a>
</div>

<div class="container-fluid" ng-controller="AppCtrl">
    <table class="table" style="width:100%;">
        <thead>
            <tr>
                <th scope="col">Staff Member</th>
                <th scope="col">Goal</th>
                <th scope="col">Monday <br /> 9/05/2018</th>
                <th scope="col">Tuesday <br />9/6/2018</th>
                <th scope="col">Wednesday <br /> 9/7/2018</th>
                <th scope="col">Thursday <br /> 9/8/2018</th>
                <th scope="col">Friday <br /> 9/9/2018</th>
                <th scope="col">Saturday <br /> 9/10/2018</th>
                <th scope="col">Sunday <br /> 9/11/2018</th>
                <th scope="col">Weekly Total</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Raul Riviera</td>
                <td>Hours in Day</td>
                <td>8</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>8</td>
            </tr>
            <tr>
                <td> </td>
                <td>Goal Production</td>
                <td>$2,366</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>$2,366</td>
            </tr>
            <tr>
                <td> </td>
                <td>Scheduled Production</td>
                <td>$3,225</td>
                <td>0</td>
                <td>$500</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>$3,725</td>
            </tr>
            <tr>
                <td>Jason Spence</td>
                <td>Hours in Day</td>
                <td>8</td>
                <td>6</td>
                <td>8</td>
                <td>5</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>27</td>
            </tr>
            <tr>
                <td>  </td>
                <td>Goal Production</td>
                <td>8</td>
                <td>6</td>
                <td>8</td>
                <td>5</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>27</td>
            </tr>
            <tr>
                <td> </td>
                <td>Scheduled Production</td>
                <td>0</td>
                <td>6</td>
                <td>8</td>
                <td>5</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>27</td>
            </tr>
            <tr>
                <td>Susan Mettler</td>
                <td>Hours in Day</td>
                <td>8</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>8</td>
            </tr>
            <tr>
                <td> </td>
                <td>Goal Production</td>
                <td>$2,366</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>$2,366</td>
            </tr>
            <tr>
                <td> </td>
                <td>Scheduled Production</td>
                <td>$3,225</td>
                <td>0</td>
                <td>$500</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>$3,725</td>
            </tr>
        </tbody>
    </table>
</div>

@*Hours for day
Goal Production
Scheduled Production
Actual Production
Hygiene Exams
NP Appointments*@


<div class="modal" tabindex="-1" role="dialog" id="addStaffModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Add Staff Member</button>
            </div>
        </div>
    </div>
</div>



@section scripts {
    <script src="~/app/GoalsAndBudget.js"></script>
    <script>


    </script>




}




