﻿@{
    ViewBag.Title = "Contact";

}

<div class="container-fluid text-right">
    <a href="#" data-toggle="modal" data-target="#addStaffModal" class="btn btn-success">Add New Profile</a>
</div>

<h2>Team Members</h2>

<div class="container-fluid" ng-controller="AppCtrl">
    <table class="table" style="width:100%;">
        <thead>
            <tr>
                <th scope="col">Practice Profile</th>
                <th scope="col">Type</th>
                <th scope="col">Jan</th>
                <th scope="col">Feb</th>
                <th scope="col">Mar</th>
                <th scope="col">Apr</th>
                <th scope="col">May</th>
                <th scope="col">Jun</th>
                <th scope="col">Jul</th>
                <th scope="col">Aug</th>
                <th scope="col">Sep</th>
                <th scope="col">Oct</th>
                <th scope="col">Nov</th>
                <th scope="col">Dec</th>
                <th scope="col"><span class="badge badge-primary"></span> AVG</th>
                <th scope="col"></th>
               
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Jim Schmidt</th>
                <td>Associate Doctor</td>
                <td>7</td>
                <td>7</td>
                <td>7</td>
                <td>7</td>
                <td>7</td>
                <td>7</td>
                <td>7</td>
                <td>7</td>
                <td>7</td>
                <td>7</td>
                <td>7</td>
                <td>7</td>
                <td>7</td>
             
                <td><a href="#" title="Remove User" class="btn btn-danger"> X </a></td>
            </tr>
            <tr>
                <th scope="row">Jennifer Gorgens</th>
                <td>Dental Assistant</td>
                <td>6</td>
                <td>6</td>
                <td>6</td>
                <td>6</td>
                <td>6</td>
                <td>6</td>
                <td>6</td>
                <td>6</td>
                <td>6</td>
                <td>6</td>
                <td>6</td>
                <td>6</td>
                <td>6</td>
                <td><a href="#" title="Remove User" class="btn btn-danger"> X </a></td>
            </tr>
            <tr>
                <td colspan="14">&nbsp;</td>
                <td>Total Staff</td>
                <td>6</td>
                <td>
                    <a href="#" class="btn btn-success">
                     <i class="fa fa-user-plus"></i>  Add New Staff
                    </a>
                
                </td> 
            </tr>
        </tbody>
    </table>
</div>

<div class="row">

    <div class="col-4">

        <select size="10" multiple>
            <option>Admin</option>
            <option>Doctor</option>
            <option>Assiciate Doctor</option>
            <option>Dental Assistant</option>
            <option>Hygienist</option>
            <option>Finance</option>
        </select>
        <br />
        <a href="#" class="btn btn-success">Add Member Role</a>

    </div>
    <div class="col-4">
        <select size="10" multiple>
            <option>Kelly Kawolski</option>
            <option>Jim Madden</option>
            <option>Tim Johnson</option>
            <option>Julie Mcvay</option>
            <option>Margret Thatcher</option>
            <option>Jennifer Willis</option>
        </select>
        <br />
        <a href="#" class="btn btn-success">Add Team Member</a>


    </div>
    <div class="col-4">

    </div>


</div>
