﻿@{
    ViewBag.Title = "";
}



<div class="schedule-header">
    <a href="#" class="pull-left"><i class="fas fa-chevron-circle-left"></i> </a>
    <h3 style="display:inline-block">Grand Rounds</h3>
    <a href="#" class="pull-right"><i class="fas fa-chevron-circle-right"></i> </a>
</div>


<div class="container-fluid" ng-controller="AppCtrl">
    <table class="table schedule-table" style="width:100%;">
        <thead>
            <tr class="schedule-header">
                <th scope="col">Monday <br /> 9/05/2018</th>
                <th scope="col">Tuesday <br />9/6/2018</th>
                <th scope="col">Wednesday <br /> 9/7/2018</th>
                <th scope="col">Thursday <br /> 9/8/2018</th>
                <th scope="col">Friday <br /> 9/9/2018</th>
                <th scope="col">Saturday <br /> 9/10/2018</th>
                <th scope="col">Sunday <br /> 9/11/2018</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>-</td>
                <td><span class="badge badge-info">12:30 PM</span></td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td><span class="badge badge-info">9:30 AM</span></td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td><span class="badge badge-info">1:30 PM</span></td>
                <td>-</td>
            </tr>
            <tr>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td><span class="badge badge-info">2:00 PM</span></td>
                <td>-</td>
            </tr>

        </tbody>
    </table>
</div>
