.clearfix:after,
.person-info:after {
	content: " ";
	display: block;
	clear: both;
}

#nav .menu {
	margin: 0;
	padding: 0;
	list-style: none;
}

.clearfix:after,
.person-info:after {
	content: "";
	display: block;
	clear: both;
}

.ellipsis {
	white-space: nowrap; /* 1 */
	text-overflow: ellipsis; /* 2 */
	overflow: hidden;
}

@font-face {
	font-family: icomoon;
	src: url("../fonts/icomoon.eot");
	src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svgicomoon") format("svg");
	font-weight: 400;
	font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "icomoon" !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1; /* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:before {
	content: "\e90d";
}

.icon-chevron-down:before {
	content: "\e903";
}

.icon-chevron-left:before {
	content: "\e900";
}

.icon-chevron-right:before {
	content: "\e901";
}

.icon-chevron-up:before {
	content: "\e904";
}

.icon-user:before {
	content: "\e902";
}

.icon-phone2:before {
	content: "\e0cd";
}

.icon-envelope-o:before {
	content: "\f003";
}

.icon-star:before {
	content: "\f005";
}

.icon-star-o:before {
	content: "\f006";
}

.icon-map-marker:before {
	content: "\f041";
}

.icon-phone:before {
	content: "\f095";
}

.icon-twitter:before {
	content: "\f099";
}

.icon-facebook:before {
	content: "\f09a";
}

.icon-facebook-f:before {
	content: "\f09a";
}

.icon-unlock:before {
	content: "\f09c";
}

.icon-globe:before {
	content: "\f0ac";
}

.icon-google-plus:before {
	content: "\f0d5";
}

.icon-linkedin:before {
	content: "\f0e1";
}

.icon-star-half-empty:before {
	content: "\f123";
}

.icon-star-half-full:before {
	content: "\f123";
}

.icon-star-half-o:before {
	content: "\f123";
}

.icon-youtube-play:before {
	content: "\f16a";
}

.icon-pinterest-p:before {
	content: "\f231";
}

.icon-vimeo:before {
	content: "\f27d";
}

.icon-chevron-small-down:before {
	content: "\e913";
}

.icon-chevron-small-left:before {
	content: "\e914";
}

.icon-chevron-small-right:before {
	content: "\e915";
}

.icon-chevron-small-up:before {
	content: "\e916";
}

body {
	min-width: 320px;
}

.bg-image {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	position: absolute;
	background-position: 50% 50%;
	background-size: cover;
}

.btn {
	font-size: 18px;
	line-height: 24px;
	border: none !important;
	white-space: normal;
}

h2 {
	font-size: 24px;
	line-height: 28px;
	font-weight: 300;
	margin: 0 0 10px;
}

.form-control {
	font-size: 14px;
	line-height: 18px;
	height: 40px;
	box-shadow: none;
	border-radius: 2px;
	color: #000;
	padding: 4px 8px;
	outline: none !important;
}
.btn-select {
    position: relative;
    padding: 0;
    min-width: auto;
    width: 100%;
    border-radius: 0;
    margin-bottom: 20px;
}

.btn-select .btn-select-value {
    padding: 6px 12px;
    display: block;
    position: absolute;
    left: 0;
    right: 34px;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
}

.btn-select .btn-select-arrow {
    float: right;
    line-height: 20px;
    padding: 6px 10px;
    top: 0;
}

.btn-select ul {
    display: none;
    background-color: white;
    color: black;
    clear: both;
    list-style: none;
    padding: 0;
    margin: 0;
    border-top: none !important;
    position: absolute;
    left: -1px;
    right: -1px;
    top: 33px;
    z-index: 999;
}

.btn-select ul li {
    padding: 3px 6px;
    text-align: left;
}

.btn-select ul li:hover {
    background-color: #f4f4f4;
}

.btn-select ul li.selected {
    color: white;
}

/* Default Start */
.btn-select.btn-default:hover, .btn-select.btn-default:active, .btn-select.btn-default.active {
    border-color: #ccc;
}

.btn-select.btn-default ul li.selected {
    background-color: #ccc;
}

.btn-select.btn-default ul, .btn-select.btn-default .btn-select-value {
    background-color: white;
    border: #ccc 1px solid;
	left: 0;
    right: 0
}

.btn-select.btn-default:hover, .btn-select.btn-default.active {
    background-color: #e6e6e6;
}
/* Default End */

/* Primary Start */
.btn-select.btn-primary:hover, .btn-select.btn-primary:active, .btn-select.btn-primary.active {
    border-color: #286090;
}

.btn-select.btn-primary ul li.selected {
    background-color: #2e6da4;
    color: white;
}

.btn-select.btn-primary ul {
    border: #2e6da4 1px solid;
}

.btn-select.btn-primary .btn-select-value {
    background-color: #428bca;
    border: #2e6da4 1px solid;
}

.btn-select.btn-primary:hover, .btn-select.btn-primary.active {
    background-color: #286090;
}
/* Primary End */

/* Success Start */
.btn-select.btn-success:hover, .btn-select.btn-success:active, .btn-select.btn-success.active {
    border-color: #4cae4c;
}

.btn-select.btn-success ul li.selected {
    background-color: #4cae4c;
    color: white;
}

.btn-select.btn-success ul {
    border: #4cae4c 1px solid;
}

.btn-select.btn-success .btn-select-value {
    background-color: #5cb85c;
    border: #4cae4c 1px solid;
}

.btn-select.btn-success:hover, .btn-select.btn-success.active {
    background-color: #449d44;
}
/* Success End */

/* info Start */
.btn-select.btn-info:hover, .btn-select.btn-info:active, .btn-select.btn-info.active {
    border-color: #46b8da;
}

.btn-select.btn-info ul li.selected {
    background-color: #46b8da;
    color: white;
}

.btn-select.btn-info ul {
    border: #46b8da 1px solid;
}

.btn-select.btn-info .btn-select-value {
    background-color: #5bc0de;
    border: #46b8da 1px solid;
}

.btn-select.btn-info:hover, .btn-select.btn-info.active {
    background-color: #269abc;
}
/* info End */

/* warning Start */
.btn-select.btn-warning:hover, .btn-select.btn-warning:active, .btn-select.btn-warning.active {
    border-color: #eea236;
}

.btn-select.btn-warning ul li.selected {
    background-color: #eea236;
    color: white;
}

.btn-select.btn-warning ul {
    border: #eea236 1px solid;
}

.btn-select.btn-warning .btn-select-value {
    background-color: #f0ad4e;
    border: #eea236 1px solid;
}

.btn-select.btn-warning:hover, .btn-select.btn-warning.active {
    background-color: #d58512;
}
/* warning End */

/* danger Start */
.btn-select.btn-danger:hover, .btn-select.btn-danger:active, .btn-select.btn-danger.active {
    border-color: #d43f3a;
}

.btn-select.btn-danger ul li.selected {
    background-color: #d43f3a;
    color: white;
}

.btn-select.btn-danger ul {
    border: #d43f3a 1px solid;
}

.btn-select.btn-danger .btn-select-value {
    background-color: #d9534f;
    border: #d43f3a 1px solid;
}

.btn-select.btn-danger:hover, .btn-select.btn-danger.active {
    background-color: #c9302c;
}
/* danger End */

.btn-select.btn-select-light .btn-select-value {
    color: black;
    height: 40px;
    line-height: 26px;
}
.visual .block-video .form-search  .btn-default.btn-select{
	background: none;
	padding: 4px 19px;
	margin-bottom: 20px;
	z-index: 99;
}
.visual .block-video .btn-default.btn:active, .visual .block-video .btn-default.btn.active{
	box-shadow: none;
}
.visual .block-video .form-search  .btn-default.btn-select li{
	font-size: 14px;
	line-height: 18px;
	margin: 0;
	color: #000;
	 padding: 4px 19px;
}
.visual .block-video .btn-default.btn.active span{
	margin-bottom: 5px;
}
.form-control:-moz-placeholder {
	color: #000;
	opacity: 1;
}

.form-control::-moz-placeholder {
	color: #000;
	opacity: 1;
}

.form-control:-ms-input-placeholder {
	color: #000;
}

.form-control::-webkit-input-placeholder {
	color: #000;
}

#wrapper {
	position: relative;
	overflow: hidden;
}

#header {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	overflow: hidden;
	z-index: 99;
	background: rgba(255, 255, 255, .8);
}
.fixed {
    position: fixed;
    top:0; left:0;
    width: 100%; 
    background: #fff;
    z-index: 111;
	padding: 10px 0 0;
}
#main-header {
	position: relative;
	padding: 10px 0 0;
	font-family: "Roboto", sans-serif;
}

#main-header:after {
	display: block;
	clear: both;
	content: "";
}

#main-header .top-bar {
	padding: 10px 0;
	border-bottom: 1px solid #e5e5e5;
}

#main-header .logo {
	float: left;
	width: 169px;
}

#main-header .logo img {
	width: 100%;
	height: auto;
	vertical-align: top;
}

#main-header .logo a {
	display: block;
}

#main-header .login-area {
	font-size: 14px;
	line-height: 18px;
	overflow: hidden;
	text-transform: uppercase;
	padding: 0px 0 10px 0;
}

#main-header .login-area ul {
	margin: 0;
}

#main-header .login-area li {
	padding: 0 0 0 25px;
}

#main-header .login-area .btn {
	font-size: 14px;
	line-height: 18px;
	padding: 11px 23px;
	text-transform: capitalize;
}

#main-header .login-area .btn i {
	display: inline-block;
	vertical-align: top;
	margin: 2px 8px 0 0;
}

#main-header .login-area .tel {
	font-size: 18px;
	line-height: 22px;
	display: inline-block;
	vertical-align: top;
	font-weight: 700;
}

#main-header .login-area .tel i {
	display: inline-block;
	vertical-align: top;
	margin: 4px 9px 0 0;
}

#main-header .login-area .login {
	border: 1px solid #0991c5;
    border-radius: 4px;
    color: #636363;
    display: inline-block;
    margin: 0;
    padding: 10px 15px;
    text-transform: capitalize;
    transition: all 0.3s ease 0s;
    vertical-align: middle;
}

#main-header .login-area .login:hover {
    background: #0991c5;
    color: #fff;
}
#main-header .login-area .login:hover i {
    color: #fff;
}
#main-header .login-area .login i {
	 color: #0991c5;
    display: inline-block;
    margin: 1px 10px 0 0;
    transition: all 0.3s ease 0s;
    vertical-align: top;
}

#nav {
	position: relative;
	text-align: center;
	background: none;
	border: none;
	margin: 0;
}

#nav .navbar-collapse {
	margin: 0 -30px;
}

#nav .menu {
	font-size: 0;
	line-height: 0;
	float: none;
}

#nav .menu > * {
	font-size: 18px;
	line-height: 22px;
}

#nav .menu li {
	display: inline-block;
	vertical-align: top;
	padding: 0 18px;
	float: none;
}

#nav .menu li.active > a {
	color: #0991c5;
	border-bottom-color: #0991c5;
	background: none;
}

#nav .menu a {
	color: #343434;
	display: block;
	border-bottom: 2px solid transparent;
	padding: 28px 0;
}

#nav .menu a:hover {
	color: #0991c5;
	border-bottom-color: #0991c5;
}

#nav .navbar-collapse {
	background: none;
	border: none;
}

#main-nav {
	position: relative;
	background: no-repeat;
	margin: 0;
	border: none;
	min-height: inherit;
	border-radius: 0;
	font: 16px/20px "Roboto", sans-serif;
}

#main-nav .navbar-collapse {
	padding: 0;
	background: no-repeat;
	height: auto;
}

#main-nav .dropdown-menu {
	border: none;
	padding: 0;
}
.dropdown-menu{
	min-width: 148px;
}
.dropdown-menu > li > a{
	padding: 10px 20px;
}
.navbar .nav > li.dropdown:hover .dropdown-menu{
	display: block;
}
#main-nav .dropdown-menu li a:hover {
	background: #0991c5;
	color: #fff;
}

#main-nav .menu > li > a {
	padding: 14px 30px;
	color: #0c2b57;
}

#main-nav .menu > li > a:hover {
	background: #0991c5;
	color: #fff;
}

#main-nav .menu > li > a i {
	font-size: 19px;
	line-height: 14px;
	vertical-align: middle;
}

#main-nav .menu > li.active > a,
#main-nav .menu > li.open > a {
	background: #0991c5;
	color: #fff;
}

#main-nav .btn {
	position: absolute;
	right: 0;
	top: 6px;
	text-transform: capitalize;
	border: 1px solid #e9e9e9 !important;
	border-radius: 4px;
	font-size: 14px;
	line-height: 18px;
	padding: 8px 16px;
	color: #737373;
	box-shadow: none;
}
#main-nav .btn  .icon-user{
	color: #0991c5
}
#main-nav .btn:hover {
	border-radius: 4px;
	color: #fff;
	background: #737373;
}
#main-nav .btn:hover .icon-user{
	color: #fff;
}
#main-nav .btn i{
	display: inline-block;
    margin: 3px 10px 0 0;
    vertical-align: top;
}
.visual-block {
	font-size: 24px;
	line-height: 28px;
	position: relative;
	overflow: hidden;
	color: #fff;
}

.visual-block .text-block {
	padding: 273px 0 198px;
}

.visual-block .title {
	display: block;
	color: #62d2fd;
	margin: 0 0 9px;
}

.visual-block h1 {
	font-size: 40px;
	line-height: 42px;
	font-weight: 300;
	margin: 0 0 20px;
	letter-spacing: -.4px;
}

.visual-block .next-btn {
	display: inline-block;
	vertical-align: top;
	color: #fff;
	font-size: 40px;
	line-height: 40px;
	margin: 0 0 0 6px;
}

.visual-block .next-btn:hover {
	opacity: .8;
}
.block-search {
	position: relative;
	/*overflow: hidden;*/
	background: #fbfbfb;
	padding: 46px 0 50px;
	z-index: 2;
}

.block-search.style {
	background: #0991c5;
	padding: 70px 0 70px;
}
.block-search.style:after {
    content: '';
    position: absolute;
    background: url(../images/arrow-down.png) no-repeat;
    background-position: 0 0;
    width: 49px;
    height: 18px;
    top: 100%;
    left: 50%;
    margin-left: -25px;
}
.block-search h2 {
	margin: 0 0 10px;
	font-size: 40px;
	color: #fff;
	line-height: 32px;
}

.block-search p {
	margin: 0;
    font-size: 24px;
    color: #fff;
    font-weight: 300;
    line-height: 28px;
}
.block-video ul li{
	font-size: 20px;
	font-weight: 300;
	color: #17335c;
	margin-bottom: 15px;
}
.block-video ul li span{
	color: #0991c5;
    display: inline-block;
    width: 40px;
	font-size: 36px;
	font-weight: 300;
}
.block-search .form-search {
	max-width: 746px;
	margin: 0 auto;
}

.block-search .form-control {
	padding: 5px 15px;
}

.block-search .row-holder {
	position: relative;
	padding: 0 125px 0 0;
	margin: 0 0 25px;
}

.block-search .row-holder .btn {
	position: absolute;
	right: 0;
	top: 0;
	min-width: 95px;
	padding: 8px;
}

.block-search .icon-map-marker {
	font-size: 16px;
	line-height: 20px;
}

.block-search .text-right {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	font-weight: 700;
}

.block-search .text-right .icon-map-marker {
	margin: 0 8px 0 0;
	vertical-align: middle;
}

#footer {
	font-size: 18px;
	line-height: 22px;
	position: relative;
	overflow: hidden;
	text-align: center;
	background: #3b4a5a;
	padding: 22px 0 0;
	color: #0991c5;
}

#footer a {
	color: #0991c5;
}

#footer a:hover {
	color: #fff;
}

#footer .logo-area {
	padding: 0 0 29px;
	border-bottom: 1px solid #485a6e;
	margin: 0 0 27px;
}

#footer p {
	margin: 0 0 35px;
}

#footer .social-networks li {
	font-size: 16px;
	line-height: 20px;
	padding: 0 14px;
}

#footer .social-networks a {
	color: #8ca1b7;
}

#footer .social-networks a:hover {
	color: #fff;
}

.visual {
	font-size: 24px;
	line-height: 28px;
	position: relative;
	overflow: hidden;
	box-shadow: 0 1px 5px 0 rgba(0, 1, 1, .5) inset;
	padding: 115px 0;
	color: #fff;
}

.visual .container {
	width: 100%;
	max-width: 1170px;
}

.visual h1 {
	font-size: 60px;
	line-height: 72px;
	font-weight: normal;
	margin: 50px 0 75px;
	text-transform: uppercase;
	max-width: 72%;
}

.visual p {
	margin: 0 0 15px;
	font-size: 24px;
}

.visual .btn-list {
	margin: 0;
	text-transform: uppercase;
}

.visual .btn-list .btn {
	font-size: 14px;
	line-height: 18px;
	min-width: 180px;
	padding: 16px 10px;
}

.visual .btn-list .btn:hover {
	background: #fff;
	color: #17335c;
}

.visual .btn-list .btn.btn-default {
	background: #fff;
	color: #17335c;
}

.visual .btn-list .btn.btn-default:hover {
	background: #17335c;
	color: #fff;
}

.block-video {
	position: relative;
	overflow: hidden;
	padding: 120px 0 30px;
	color: #17335c;
	font-size: 18px;
	line-height: 22px;
}

.block-video .container {
	position: relative;
}

.block-video .form-search {
	margin: 0 0 70px;
}

.block-video .image-holder {
	position: relative;
	overflow: hidden;
	background-image: url(../images/video_bg.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 100% auto;
	min-height: 418px;
}

.block-video .image-holder img {
	width: 100%;
	height: auto;
	vertical-align: top;
}
.block-video .image-holder iframe{
	border: 20px solid #000;
    border-top-left-radius: 5px;
	border-top-right-radius: 5px;
    display: block;
    height: 315px;
    margin: 0 auto 20px;
    text-align: center;
    width: 500px;
}
.block-video h2 {
	font-size: 30px;
	line-height: 34px;
	font-weight: 300;
	margin: 0 0 23px;
	color: #0991c5;
}
main .block-video h2 {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 50px;
}
.block-video p {
	margin: 0 0 17px;
}

.block-video .title {
	display: block;
	font-weight: 300;
	font-size: 24px;
	line-height: 28px;
	color: #434b53;
	margin: 0 0 18px;
}

.block-video .form-control {
	padding: 4px 19px;
}

.block-video .field-holder {
	margin: 0 0 10px;
}
.form-search .field-holder .rare-style {
    background: url(../images/select-bg.png) no-repeat;
    background-position: 96% 17px;
    appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
}
@media screen and (min-width:0\0) {
    .form-search .field-holder .rare-style { 
	   background-color: #fff;
	   background-image: none;
	}
}
.block-video input[type="submit"] {
	display: block;
	width: 100%;
	margin: 0 0 28px;
	padding: 8px;
}

.block-video .text-center {
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
}

.block-video .text-center i {
	display: inline-block;
	vertical-align: top;
	margin: 2px 4px 0 0;
}

.block-video .btn-opener {
	position: absolute;
	right: 116px;
	bottom: 0;
	width: 255px;
	background: #d5f0f8;
	text-transform: uppercase;
	color: #17335c;
	font-size: 14px;
	line-height: 18px;
	font-weight: 700;
	padding: 10px 10px 20px;
	border-radius: 8px 8px 0 0;
	text-align: center;
}

.block-video .btn-opener.collapsed:after {
	content: "\e913";
}

.block-video .btn-opener:after {
	font: 14px/18px "icomoon";
	position: absolute;
	left: 50%;
	bottom: 2px;
	content: "\e916";
	font-size: 20px;
	line-height: 20px;
	margin: 0 0 0 -10px;
}

.block-links {
	position: relative;
	overflow: hidden;
	color: #fff;
	font-size: 18px;
	line-height: 24px;
	font-weight: 500;
	padding: 110px 0 90px;
	background-image: url(../images/demo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #1c2d47
}

.block-links .container {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.block-links .container .col {
	width: 25%;
}

.block-links .container .col + .col {
	border-left: 1px solid #586e8d;
}

.block-links .container a {
	display: block;
	color: #fff;
	min-height: 120px;
	padding: 35px;
	text-align: center;
	cursor: pointer;
}
.block-links .container .text:hover{
	text-decoration: underline;
}
.block-links .container .icon {
	display: block;
    margin: 0 auto 24px;
    text-align: center;
    vertical-align: top;
}

.block-links .container .icon img {
	display: block;
	text-align: center;
	margin: 0 auto
}

.block-links .container .text {
	display: inline-block;
	vertical-align: middle;
	padding: 0;
	text-align: left;
	font-weight: 300;
}
.block-links h2{
	color: #fff;
	font-size: 40px;
	margin-bottom: 85px;
}
.footer-aside {
	font: 14px/18px "Roboto", sans-serif;
	position: relative;
	overflow: hidden;
	padding: 62px 0 0;
	color: #738393;
}

.footer-aside a {
	color: #738393;
}

.footer-aside a:hover {
	color: #0991c5;
}

.footer-aside .hover h3:after {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

.footer-aside .hover .list-links {
	display: block;
}

.footer-aside h3 {
	color: #0991c5;
	margin: 0 0 18px;
	font-weight: 300;
	font-size: 18px;
	line-height: 22px;
	position: relative;
}

.footer-aside h3:after {
	position: absolute;
	right: 0;
	top: 0;
	font: 16px/19px "icomoon";
	content: "\e903";
	color: #0991c5;
	display: none;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}

.footer-aside .list-links {
	margin: 0 0 25px;
	position: relative;
	overflow: hidden;
}

.footer-aside .list-links.social-list li {
	padding: 0 0 0 30px;
}

.footer-aside .list-links.social-list i {
	position: absolute;
	left: 0;
	top: 0;
}

.footer-aside .list-links li {
	position: relative;
	margin: 0 0 15px;
}

.footer-aside .image-holder {
	position: relative;
	overflow: hidden;
}

.footer-aside .image-holder img {
	width: 100%;
	height: auto;
	vertical-align: top;
}

.logos-list {
	border-top: 1px solid #ebebeb;
	padding: 30px 0;
    background: #fff;
}

.logos-list .list-holder {
	margin: 0 -35px;
	text-align: center;
}

.logos-list .list-holder li {
	display: inline-block;
	vertical-align: middle;
	padding: 0 35px;
}
#main-footer .search-by-location {
    background: #fff;
    padding: 50px 0 40px;
    border-bottom: 1px solid #c4cfda;
	position:relative;
	overflow:hidden;
}
#main-footer .search-by-location h2 {
    text-align: left;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #0991c5;
}
#main-footer .search-by-location ul {
    float: left;
    list-style: none;
    padding: 0 10px 0 0;
    text-align: left;
	width:16.66%;
}
#main-footer .search-by-location .half-list ul{
	width:50%;
}
#main-footer .search-by-location ul + ul {
    padding: 0;
}
.col-sm-4.fot-border-right-w-pad {
    border-top: 0;
    border-bottom: 0;
    padding: 0 60px;
	position:relative;
}

.fot-border-right-w-pad:before,
.fot-border-right-w-pad:after{
	position:absolute;
	content:'';
	top:0;
	width:1px;
	background:#e7ecf1;
	height:9999px;
	left:0;
}
.fot-border-right-w-pad:before{
	left:auto;
	right:0;
}
footer .foot-follow-us {
    padding-left: 80px;
}
#main-footer .search-by-location ul li {
    margin-bottom: 10px;
}

#main-footer {
	font: 18px/22px "Work Sans", Arial, sans-serif;
	background: #e7ecf1;
	color: #9caab8;
	text-align: center;
}
#main-footer .search-by-location ul li a {
    font-size: 14px;
    color: #738393;
    font-family: "Roboto", sans-serif;
}
#main-footer .search-by-location ul li a:hover{
	color:#0991c5;
}
#main-footer .search-by-location .foot-follow-us h2{
    margin-bottom: 20px;
}

#main-footer .search-by-location .foot-follow-us ul {
    display: block;
    float: none;
    margin: 0;
    padding: 0;
	width:100%;
	max-width:120px;
}
#main-footer .search-by-location .foot-follow-us ul li {
    display: inline-block;
}
#main-footer .search-by-location .foot-follow-us ul li a {
    width: 32px;
    height: 32px;
    display: block;
}
#main-footer .search-by-location .foot-follow-us ul li a.fb_nw {
    background: url('../images/fb_new.png') no-repeat;
}
#main-footer .search-by-location .foot-follow-us ul li a.g_plus_nw {
    background: url('../images/g_plus.png') no-repeat;
}
#main-footer .search-by-location .foot-follow-us ul li a.tw_nw {
    background: url('../images/twitter.png') no-repeat;
}
#main-footer .search-by-location .foot-follow-us ul li a.linkedin_nw {
    background: url('../images/linkedin_new.png') no-repeat;
}
#main-footer .search-by-location .foot-follow-us ul li a.pinterest_nw {
    background: url('../images/pinterest.png') no-repeat;
}
#main-footer .search-by-location .foot-follow-us ul li a.yt_nw {
    background: url('../images/youtube.png') no-repeat;
}
#main-footer .search-by-location .foot-follow-us ul li a.vimeo_nw {
    background: url('../images/vimeo.png') no-repeat;
}
#main-footer .search-by-location .foot-follow-us ul li a.fb_nw:hover {
    background: url('../images/fb_new_hover.png') no-repeat;
}
#main-footer .search-by-location .foot-follow-us ul li a.g_plus_nw:hover {
    background: url('../images/g_plus_hover.png') no-repeat;
}
#main-footer .search-by-location .foot-follow-us ul li a.tw_nw:hover {
    background: url('../images/twitter_hover.png') no-repeat;
}
#main-footer .search-by-location .foot-follow-us ul li a.linkedin_nw:hover {
    background: url('../images/linkedin_new_hover.png') no-repeat;
}
#main-footer .search-by-location .foot-follow-us ul li a.pinterest_nw:hover {
    background: url('../images/pinterest_hover.png') no-repeat;
}
#main-footer .search-by-location .foot-follow-us ul li a.yt_nw:hover {
    background: url('../images/youtube_hover.png') no-repeat;
}
#main-footer .search-by-location .foot-follow-us ul li a.vimeo_nw:hover {
    background: url('../images/vimeo_hover.png') no-repeat;
}
#main-footer .search-by-location + .search-by-location {
    border: 0;
}
#main-footer a {
	color: #9caab8;
}

#main-footer a:hover {
	color: #738393;
}

#main-footer .links-holder {
	margin: 0 0 27px;
	padding: 29px 0;
	border-bottom: 1px solid #c4cfda;
}

#main-footer .footer-links {
	margin: 0;
}

#main-footer .footer-links li {
	padding: 0 27px;
}

#main-footer .footer-links a {
	color: #738393;
}

#main-footer .footer-links a:hover {
	color: #9caab8;
}

#main-footer p {
	margin: 0 0 20px;
}
.benefits{
	background: #e9eff3 url("../images/benefits_bg.jpg") no-repeat scroll 0 0;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    overflow: hidden;
    padding: 80px 0 65px;
    position: relative;
}
.benefits h2{
	font-size: 40px;
	color: #17335c;
	margin: 0 auto 65px;
}
.benefits .col-lg-4{
	background: #fff none repeat scroll 0 0;
    margin-bottom: 30px;
    margin-right: 3%;
    padding: 30px;
    width: 31.2%;
	float: left;
}
.benefits .col-lg-4:nth-child(3), .benefits .col-lg-4:nth-child(6) {
	margin: 0;
}
.benefits .col-lg-4 a:hover,
.benefits .col-lg-4 a span.text:hover{
	color: #0991c5;
	text-decoration: none;
}
.benefits .col-lg-4 a .icon,
.benefits .col-lg-4 .icon{
	 display: inline-block;
    vertical-align: middle;
}
.benefits .col-lg-4 a span.text,
.benefits .col-lg-4 span.text {
    color: #17335c;
    display: inline-block;
    padding: 0 0 0 15px;
    text-align: left;
    vertical-align: middle;
    width: 208px;
    font-size: 22px;
    font-weight: 300;
}
.visual .block-video {
    background: #fff none repeat scroll 0 0;
    padding: 30px 20px 0;
	margin: 66px 0 0;
}
.visual .block-video  .field-holder {
    margin: 0 0 20px;
}
.visual .block-video .form-search {
    margin: 0 0 30px;
}
.visual .block-video .btn-default{
	background: #17335c;
	line-height: 40px;
	text-transform: capitalize;
	font-weight: 400;
}
.visual .block-video .btn-default:hover{
	background: #0991c5;
}
.visual .container .col-lg-8 span{
	margin-left: 30px;
	text-transform: uppercase
}
.visual .block-video  h4{
	text-transform: uppercase;
	font-size: 24px;
	color: #17335c;
	margin: 0 0 20px;
	font-weight: 400;
}
.btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}
.form-control::-webkit-input-placeholder { color: #000; }
.form-control:-moz-placeholder { color: #000; }
.form-control::-moz-placeholder { color: #000; }
.form-control:-ms-input-placeholder { color: #000; }
@media (max-width: 1199px) {
	#main-header .login-area .login {
		margin: 0;
	}

	#nav .menu li {
		padding: 0 12px;
	}

	#main-nav .menu > li > a {
		padding: 14px 10px;
	}

	.visual-block .text-block {
		padding: 160px 0;
	}
    .visual {
		padding: 100px 0;
	}

	.visual h1 {
		font-size: 50px;
		line-height: 60px;
	}

	.visual p {
		margin: 0 0 50px;
	}

	.block-links .container a {
		min-height: 90px;
		padding: 20px;
	}
    .benefits .col-lg-4 a span.text,
	.benefits .col-lg-4  span.text	{
    padding: 0 0 0 10px;
    width: 65%;
	font-size: 20px;
	}
	.benefits .col-lg-4 a .icon,
	.benefits .col-lg-4 .icon{
		width: 25%;
	}
	.benefits .col-lg-4 a .icon img,
	.benefits .col-lg-4 .icon img{
		width: 90%;
	}
	.benefits .col-lg-4{
		padding: 40px 10px 40px 20px;
		min-height: 150px;
	}
	.visual .container{
		max-width: 95%;
	}
	.visual h1{
		max-width: 75%;
	}
	.col-sm-4.fot-border-right-w-pad {
    padding: 0 0px 0 30px;
	}
	#main-footer .search-by-location h2{
	font-size: 20px;
	}
}

@media (max-width: 991px) {
	#main-header .logo {
		width: auto;
	}

	#nav .menu > * {
		font-size: 14px;
		line-height: 18px;
	}

	#nav .menu li {
		padding: 0 8px;
	}

	#nav .menu a {
		padding: 15px 0;
	}

	.visual-block .text-block {
		padding: 120px 0;
	}

	.visual {
		padding: 60px 0;
	}

	.visual p {
		margin: 0 0 20px;
	}

	.block-video .btn-opener {
		left: 50%;
		margin: 0 0 0 -128px;
	}

	.block-links {
		font-size: 14px;
		line-height: 18px;
	}

	.block-links .container a {
		padding: 10px;
	}

	.block-links .container .icon {
		display: block;
	}

	.block-links .container .icon img {
		margin: 0 auto;
	}

	.block-links .container br {
		display: none;
	}

	.block-links .container .text {
		display: block;
		padding: 0;
		text-align: center;
	}
	
    .benefits .col-lg-4{
		padding: 30px 20px;
		min-height: 135px;
	}
	.benefits .col-lg-4 a span.text,
	.benefits .col-lg-4 span.text{
		font-size: 18px;
	}
	.visual h1 {
    font-size: 42px;
    line-height: 48px;
    max-width: 80%;
	}
	.visual .container .col-lg-8 span{
		margin-left: 10px;
	}
	.block-video .image-holder {
    margin-bottom: 30px;
	}
	.benefits .col-lg-4 {
	    width: 48%;
	    float: none;
	    display: inline-block;
	}
	.benefits .col-lg-4:nth-child(2), .benefits .col-lg-4:nth-child(4), .benefits .col-lg-4:nth-child(6) {
		margin: 0;
	}
	.benefits .col-lg-4:nth-child(3) {
	    margin-right: 3%;
	    margin-bottom: 30px;
	}
	.footer-aside .image-holder {
		max-width: 263px;
		margin: 0 auto 20px;
	}

	#main-footer .footer-links li {
		padding: 0 15px;
	}
	#main-footer .search-by-location ul {
		padding: 0 40px 0 0;
		}
		.fot-border-right-w-pad {
		padding: 0 30px;
		}
		.foot-follow-us {
		padding-left: 30px;
		}
	#main-footer .search-by-location{
		padding:30px 0 10px;
	}
	.fot-border-right-w-pad{
		padding:0 15px;
	}
	#main-footer .search-by-location ul{
		padding:0 10px 0 0;
	}
	.block-video .image-holder{
		min-height: 428px;
	}
}

@media (max-width: 767px) {
	h2 {
		font-size: 20px;
		line-height: 24px;
	}

	#main-header .login-area {
		display: none;
	}

	#nav {
		text-align: left;
	}

	#nav .menu {
		background: #fff;
	}

	#nav .menu li {
		display: block;
		padding: 0;
	}

	#nav .menu li.active > a {
		border: none;
		background: #0991c5;
		color: #fff;
	}

	#nav .menu a {
		border: none;
		padding: 10px;
	}

	#nav .menu a:hover {
		border: none;
		background: #0991c5;
		color: #fff;
	}

	#main-nav {
		position: absolute;
		right: 0;
		top: 14px;
		left: 0;
		font-size: 14px;
		line-height: 18px;
	}

	#main-nav .navbar-collapse {
		position: relative;
		z-index: 99;
		background: #fff;
		padding: 0 0 10px;
		margin: 10px 0 0;
	}

	#main-nav .menu {
		margin: 0;
	}

	#main-nav .btn {
		position: relative;
		display: block;
		padding: 10px;
	}

	.block-search.style {
		padding: 50px 0;
	}

	.block-search.style .lable-holder {
		font-size: 18px;
		line-height: 24px;
	}

	.block-search.style .row-holder {
		padding: 0 105px 0 0;
	}

	.block-search.style .row-holder .btn {
		padding: 14px 10px;
	}

	.block-search .row-holder {
		padding: 0 105px 0 0;
	}

	.visual {
		padding: 20px 0;
	}

	.visual h1 {
    font-size: 32px;
    line-height: 36px;
    margin: 0 auto 30px;
    max-width: 55%;
	text-align: center
}

	.visual p {
		margin: 0 0 30px;
	}

	.visual .btn-list .btn {
		min-width: 120px;
	}

	.block-video h2 {
		font-size: 24px;
		line-height: 28px;
		margin: 0 0 10px;
	}

	.block-video p {
		margin: 0 0 10px;
	}

	.block-links .container .col {
		width: 100%;
	}

	.block-links .container .col + .col {
		border: none;
	}

	.block-search p{
		font-size: 24px;
		line-height: 30px;
	}
	.benefits .col-lg-4,
	.benefits .col-lg-4:nth-child(3), .benefits .col-lg-4:nth-child(6),
	.benefits .col-lg-4:nth-child(2), .benefits .col-lg-4:nth-child(4), .benefits .col-lg-4:nth-child(6),
	.benefits .col-lg-4:nth-child(3){
    clear: both;
    display: block;
    float: none;
    margin: 0 auto 30px;
    max-width: 300px;
    min-height: auto;
    padding: 20px;
    width: 100%;
}
.visual .container {
    max-width: 98%;
}
.benefits {
    background-size: cover;
}
#footer {
		padding: 10px 0 0;
	}

	#footer .logo-area {
		padding: 0 0 10px;
		margin: 0 0 10px;
	}

	#footer p {
		margin: 0 0 10px;
	}

	#footer .social-networks li {
		padding: 0 10px;
	}.footer-aside {
		padding: 20px 0 0;
	}

	.footer-aside h3 {
		cursor: pointer;
	}

	.footer-aside h3:after {
		display: block;
	}

	.footer-aside .list-links {
		display: none;
	}

	#main-footer {
		font-size: 14px;
		line-height: 18px;
	}

	#main-footer .links-holder {
		padding: 20px 0;
		margin: 0 0 20px;
	}
	#main-footer .footer-links{
		text-align:left;
	}
	#main-footer .footer-links li {
		padding: 0 5px 10px;
		width:50%;
		margin:0 -2px;
	}
	#main-footer .search-by-location{
		padding:30px 0 0;
		border:none;
	}
	.fot-border-right-w-pad{
		padding:0 15px;
	}
	#main-footer .search-by-location ul {
		padding: 0;
		float:none;
		display:inline-block;
		vertical-align:top;
		margin:0 -2px;
		width:33.33%;
	}
	#main-footer .search-by-location .fot-border-right-w-pad h2,
	#main-footer .search-by-location .foot-follow-us h2 {
		margin-top: 30px;
	}
	.foot-follow-us {
		margin-bottom: 20px;
		padding:0 15px;
	}
	#main-footer .search-by-location .foot-follow-us ul{
		max-width:inherit;
		width:100%;
	}
	#main-footer .search-by-location h2{
		font-size:20px;
		line-height:26px;
	}
	footer .foot-follow-us {
        padding: 0 15px;
	}
	#main-nav  .btn.btn-default.visible-xs {
    clear: both;
    color: #fff;
    display: block;
    font-size: 14px;
    line-height: 18px;
    margin: 0 auto 10px;
    padding: 10px;
    position: relative;
    width: 90%;
	top: 0;
}
#main-nav  .btn.btn-default.visible-xs:hover {
    background-color: #076d94;
    border-color: #adadad;
    color: #fff;
}
#main-nav  .login {
    border: 1px solid #0991c5;
    border-radius: 4px;
    color: #636363;
    display: inline-block;
    margin: 0;
    padding: 10px;
    text-transform: capitalize;
    transition: all 0.3s ease 0s;
    vertical-align: middle;
	margin: 0 auto 10px;
	width: 90%;
	text-align: center
}
#main-nav  .login:hover {
    background: #0991c5 none repeat scroll 0 0;
    border-color: #0991c5;
    color: #fff;
}
#main-nav .login:hover i {
    color: #fff;
}
#main-nav  .btn i {
    display: inline-block;
    margin: 2px 8px 0 0;
    vertical-align: top;
}
#main-nav  .login i {
    color: #0991c5;
    display: inline-block;
    margin: 1px 10px 0 0;
    transition: all 0.3s ease 0s;
    vertical-align: top;
}
#main-nav .btn{
	width: 90%;
	margin: 0 auto;
	top: 0;
}
.fixed #main-nav .navbar-collapse{
	margin: 0;
}
.navbar-nav .open .dropdown-menu,
.navbar-nav  .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
}.navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 10px 20px;
}
}
@media (max-width: 730px) {
.block-video .image-holder{
		min-height: 424px;
}
}
@media (max-width: 700px) {
.block-video .image-holder{
		min-height: 419px;
}
}
@media (max-width: 670px) {
.block-video .image-holder{
		min-height: 416px;
}
}
@media (max-width: 640px) {
.block-video .image-holder{
		min-height: 412px;
}
}
@media (max-width: 600px) {
	#main-footer .footer-links a{
		margin-bottom: 5px;
		display: block;
	}
	#main-footer .footer-links li{
		display: block;
	}
	.social-icons .footer-links.text-center li{padding: 0 10px;}
	.block-search h2{
		font-size: 36px;
	}
	.visual h1 {
    max-width: 75%;
	margin: 0 auto 20px
	}
	.visual p {
    margin: 0 auto 20px;
	text-align: center
}
.visual p img{
    margin: 0 auto 20px;
	display: block;
	text-align: center
}
.block-video .image-holder iframe {
    height: 230px;
    width: 90%;
	margin: 0 auto 10px;
}
	.block-video .image-holder{
		min-height: 321px;
}
}
@media (max-width: 560px) {
	.block-video .image-holder{
		min-height: 315px;
}
}
@media (max-width: 540px) {
	.block-video .image-holder{
		min-height: 312px;
}
}
@media (max-width: 520px) {
.block-video .image-holder{
		min-height: 308px;
}
}
@media (max-width: 480px) {
	.visual h1 {
    max-width: 90%;
	}
	.block-video .image-holder{
		min-height: 303px;
}
}
@media (max-width: 439px) {
	.block-video .image-holder{
		min-height: 295px;
}
	}
@media (max-width: 400px) {
	.visual h1 {
    max-width: 95%;
	}
	#main-footer .search-by-location ul{
		width:100%;
	}
		.block-video .image-holder{
		min-height: 290px;
}
}
@media (max-width: 359px) {
	.block-video .image-holder{
		min-height: 280px;
}
	}
