﻿<link rel="stylesheet" href="../../Content/file_upload/css/style.css">
<link href="../../Content/file_upload/blueimp-gallery.min.css" rel="stylesheet" />
<link rel="stylesheet" href="../../Content/file_upload/css/jquery.fileupload.css">
<link rel="stylesheet" href="../../Content/file_upload/css/jquery.fileupload-ui.css">
<noscript>
    <link rel="stylesheet" href="../../Content/file_upload/css/jquery.fileupload-noscript.css">
</noscript>
<noscript>
    <link rel="stylesheet" href="../../Content/file_upload/css/jquery.fileupload-ui-noscript.css">
</noscript>
<form action="../../PatientFileUpload.ashx?InviteColleague=1" method="post" enctype="multipart/form-data">
    <div class="row fileupload-buttonbar margintop1">
        <div class="col-lg-7 paddingleft0">
            <span class="btn btn-success fileinput-button">
                <i class="glyphicon glyphicon-plus-icon">
                </i><span class="text_lineheight">Upload Files</span>
                <input type="file" name="files[]" title="Upload file">
            </span>
            <div class="fileupload-progressbar">
            </div>
        </div>
    </div>
</form>
<div class="fileupload-content">
    <table class="table table-striped">
        <tbody class="files"></tbody>
    </table>
</div>
<script id="template-upload" type="text/x-jquery-tmpl">
    <tr class="template-upload{{if error}} ui-state-error{{/if}}">
        <td class="preview"></td>
        <td class="name">
            ${name}


        </td>
        <td class="size">${sizef}</td>
        {{if error}}
        <td class="error" colspan="2">
            Error:
            {{if error === 'maxFileSize'}}File is too big
            {{else error === 'minFileSize'}}File is too small
            {{else error === 'acceptFileTypes'}}Filetype not allowed
            {{else error === 'maxNumberOfFiles'}}Max number of files exceeded
            {{else}}${error}
            {{/if}}
        </td>
        {{else}}
        <td class="progress"><div></div></td>
        <td class="start">
            <button class="btn btn-primary start" disabled>
                <i class="glyphicon glyphicon-upload-icon"></i>
                <span class="text_lineheight">Start</span>
            </button>
        </td>

        {{/if}}
        <td class="cancel">
            <button class="btn btn-warning cancel" onclick="MakeNullCountOfUpload()">
                <i class="glyphicon glyphicon-ban-circle-icon"></i>
                <span class="text_lineheight">Cancel</span>
            </button>
        </td>
    </tr>
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-jquery-tmpl">
    <tr class="template-download{{if error}} ui-state-error{{/if}}">
        {{if error}}
        <td></td>
        <td class="name">
            ${name}
        </td>
        <td class="size">${sizef}</td>
        <td class="error" colspan="2">
            Error:
            {{if error === 1}}File exceeds upload_max_filesize (php.ini directive)
            {{else error === 2}}File exceeds MAX_FILE_SIZE (HTML form directive)
            {{else error === 3}}File was only partially uploaded
            {{else error === 4}}No File was uploaded
            {{else error === 5}}Missing a temporary folder
            {{else error === 6}}Failed to write file to disk
            {{else error === 7}}File upload stopped by extension
            {{else error === 'maxFileSize'}}File is too big
            {{else error === 'minFileSize'}}File is too small
            {{else error === 'acceptFileTypes'}}Filetype not allowed
            {{else error === 'maxNumberOfFiles'}}Max number of files exceeded
            {{else error === 'uploadedBytes'}}Uploaded bytes exceed file size
            {{else error === 'emptyResult'}}Empty file upload result
            {{else}}${error}
            {{/if}}
        </td>
        {{else}}
        <td>
            <span class="preview">
                {{if thumbnail_url}}
                <a href="${url}" target="_blank"><img width="60px" src="${thumbnail_url}"></a>
                <input type="hidden" id="hdnCount" value="1" />
                <input type="hidden" id="hdnfilename" value="${name}" />
                {{/if}}
            </span>
        </td>
        <td>
            <p class="name">
                <a href="${url}" {{if thumbnail_url}} target="_blank" {{/if}}>
                    ${shortfilename}
                </a>
            </p>
        </td>
        <td><span class="size">${sizef}</span></td>
        <td colspan="2"></td>
        {{/if}}
        <td>
            <button class="btn btn-danger deletefile" data-type="${delete_type}" data-url="${delete_url}" onclick="MakeNullCountOfUpload()">
                <i class="glyphicon glyphicon-trash-icon"></i>
                <span class="text_lineheight">Delete</span>
            </button>
        </td>
    </tr>
</script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>
<script src="//ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
<script src="/scripts/Default/jquery.iframe-transport.js"></script>
<script src="/scripts/Default/jquery.fileupload.js"></script>
<script src="/scripts/Default/jquery.fileupload-ui.js"></script>
<script src="/scripts/Default/application.js"></script>