﻿@model List<BO.ViewModel.TempFileAttacheMents>
@foreach (var lstAttachment in Model)
{
    string FilePath = string.Empty;
    string TempFileId = string.Empty;
    string TempFilePath = string.Empty;
    switch (lstAttachment.FileFrom)
    {
        case (int)BO.Enums.Common.FileFromFolder.TempFile_TempFolder:
            FilePath = HttpContext.Current.Request.Url.Scheme + "://" + HttpContext.Current.Request.Url.Authority + "/Content/images/" + NewRecordlinc.Common.FileExtension.CheckFileExtenssionOnlyThumbName("unknown" + lstAttachment.FilePath);
            TempFilePath = HttpContext.Current.Request.Url.Scheme + "://" + HttpContext.Current.Request.Url.Authority + System.Configuration.ConfigurationManager.AppSettings["TempUploadsFolderPath"].Replace("~/", "/") + lstAttachment.FilePath;
            TempFileId = "F_" + lstAttachment.FileId;
            break;
        case (int)BO.Enums.Common.FileFromFolder.TempImage_TempFolder:
            FilePath = HttpContext.Current.Request.Url.Scheme + "://" + HttpContext.Current.Request.Url.Authority + System.Configuration.ConfigurationManager.AppSettings["TempUploadsFolderPath"].Replace("~/", "/") + lstAttachment.FilePath;
            TempFileId = "I_" + lstAttachment.FileId;
            break;
        case (int)BO.Enums.Common.FileFromFolder.Draft_DraftAttachments:
            if (lstAttachment.FileExtension == 0)
            {
                FilePath = HttpContext.Current.Request.Url.Scheme + "://" + HttpContext.Current.Request.Url.Authority + Convert.ToString(System.Configuration.ConfigurationManager.AppSettings.Get("DraftAttachments")) + lstAttachment.FilePath;
                TempFilePath = HttpContext.Current.Request.Url.Scheme + "://" + HttpContext.Current.Request.Url.Authority + Convert.ToString(System.Configuration.ConfigurationManager.AppSettings.Get("DraftAttachments")) + lstAttachment.FilePath;
            }
            else {
                FilePath = HttpContext.Current.Request.Url.Scheme + "://" + HttpContext.Current.Request.Url.Authority + "/Content/images/" + NewRecordlinc.Common.FileExtension.CheckFileExtenssionOnlyThumbName("unknown" + lstAttachment.FilePath);
                TempFilePath = HttpContext.Current.Request.Url.Scheme + "://" + HttpContext.Current.Request.Url.Authority + System.Configuration.ConfigurationManager.AppSettings["DraftAttachments"].Replace("~/", "/") + lstAttachment.FilePath;
            }
            TempFileId = Convert.ToString(lstAttachment.FileId);
            break;

    }
    <li id="@TempFileId">
        <div class="img-holder">

            <img src="@(lstAttachment.FileFrom != (int)BO.Enums.Common.FileFromFolder.TempFile_TempFolder && lstAttachment.FileExtension == 0 ? Html.Action("GetBase64ContentOFImage","Common", new { FileId = 0, FileFrom=lstAttachment.FileFrom, FileName = lstAttachment.FilePath }) : new MvcHtmlString(FilePath))" alt="@lstAttachment.FileName">
            <a href="javascript:void(0)" onclick="DeleteAttachMent(@lstAttachment.FileId,@lstAttachment.FileFrom,'@lstAttachment.FilePath','@TempFileId',@lstAttachment.ComposeType)" class="download-hover"><i class="ico-cross1"></i></a>
        </div>
        <div class="attacg-description">
            <div class="discription-box">
                @{
                    string NewAttachementName = string.Empty;
                    NewAttachementName = @lstAttachment.FileName.ToString();
                    var extention = Path.GetExtension(NewAttachementName).ToLower();
                    NewAttachementName = (NewAttachementName.ToString().Length > 20 ? NewAttachementName.Substring(0, 20) + "..." + extention : NewAttachementName);
                }
                <p>@NewAttachementName</p>

                <a href="@(@lstAttachment.FileFrom == 1 || @lstAttachment.FileFrom == 3 ? DataAccessLayer.Common.clsHelper.EscapeUriString(TempFilePath) : @DataAccessLayer.Common.clsHelper.EscapeUriString(FilePath))" target="_blank">View</a>
                @Html.ActionLink("Download", "DownloadAttachedFile", new { FileId = lstAttachment.FileId, FileFrom = lstAttachment.FileFrom, FileName = lstAttachment.FilePath })
            </div>
        </div>
    </li>
}