﻿@model BO.ViewModel.Pager

@if (Model.EndPage > 1)
{
    <div class="page_no">
        <em class="left_no">
            Page @Model.CurrentPage of @Model.TotalPages
        </em>
        <em class="right_no">

            @if (Model.CurrentPage > 1)
            {
                @*if (Model.currentRouteValues.ContainsKey("page"))
                    {
                    Model.currentRouteValues.Remove("page");
                    }
                    Model.currentRouteValues.Add("page", 1);
                    <a href="@Url.RouteUrl(Model.currentRouteValues)">&lt;&lt;</a>*@
                <a href="javascript:@(Model.ScriptName)(1)">&lt;&lt;</a>
                @*if (Model.currentRouteValues.ContainsKey("page"))
                    {
                    Model.currentRouteValues.Remove("page");
                    }
                    Model.currentRouteValues.Add("page", Model.CurrentPage - 1);
                    <a href="@Url.RouteUrl(Model.currentRouteValues)">&lt;</a>*@
                <a href="javascript:@(Model.ScriptName)(@(Model.CurrentPage - 1))">&lt;</a>
            }

            @for (var page = Model.StartPage; page <= Model.EndPage; page++)
            {
                @*if (Model.currentRouteValues.ContainsKey("page"))
                    {
                    Model.currentRouteValues.Remove("page");
                    }
                    Model.currentRouteValues.Add("page", page);
                    <a href="@Url.RouteUrl(Model.currentRouteValues)" class="@(page == Model.CurrentPage ? "active" : "")">@page</a>*@
                <a href="javascript:@(Model.ScriptName)(@(page))" class="@(page == Model.CurrentPage ? "active" : "")">@page</a>

            }
            @if (Model.CurrentPage < Model.TotalPages)
            {
                @*if (Model.currentRouteValues.ContainsKey("page"))
                    {
                    Model.currentRouteValues.Remove("page");
                    }
                    Model.currentRouteValues.Add("page", Model.CurrentPage + 1);
                    <a href="@Url.RouteUrl(Model.currentRouteValues)"> &gt; </a>*@
                <a href="javascript:@(Model.ScriptName)(@(Model.CurrentPage + 1))"> &gt; </a>

                @*if (Model.currentRouteValues.ContainsKey("page"))
                        {
                            Model.currentRouteValues.Remove("page");
                        }
                        Model.currentRouteValues.Add("page", Model.TotalPages);

                    <a href="@Url.RouteUrl(Model.currentRouteValues)">&gt;&gt;</a>*@
                <a href="javascript:@(Model.ScriptName)(@Model.TotalPages)">&gt;&gt;</a>

            }

        </em>
    </div>
}

