.accordion-header {
	font-size: 16px;		
	padding: 5px 35px 5px 10px;	
	cursor: pointer;	
	color:#333333;
	font-style:italic;
}
#accordion-container p{ font-size:14px; line-height:18px; margin:0;}

.active-header {
	background: url(../Images/inner/active-header.png) #0591c5;
	background-repeat: no-repeat;
	background-position: right 50%;
	color: #ffffff;		
	margin:10px 0 0;
}

.active-header:hover {
	background: url(../Images/inner/active-header.png) #18355e;
	background-repeat: no-repeat;
	background-position: right 50%;
}

.inactive-header {
	background: url(../Images/inner/inactive-header.png) #f6f6f6;
	background-repeat: no-repeat;
	background-position: right 50%;
	border:1px solid #d6d6d6;	
	margin:10px 0 0;
}

.inactive-header:hover {
	background: url(../Images/inner/inactive-header.png) #0591c5;
	background-repeat: no-repeat;
	background-position: right 50%;
	color:#ffffff;
}

.accordion-content {
	display: none;
	padding: 15px;	
	background: #f5f5f5;
	border: 1px solid #d6d6d6;
	border-top: 0;
	transition:none;
}