/* Search icon by IcoMoon, made with http://icomoon.io/app/ */
.sb-search {
    position: relative;
    width: 0%;
    min-width: 35px;
    height: 44px;
    float: right;
    overflow: hidden;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
    -webkit-backface-visibility: hidden;
}

input[type="text"].sb-search-input {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: none;
    outline: none;
    width: 80%;
    height: 34px;
    margin: 0;
    z-index: 10;
    padding: 5px 35px 5px 20px;
    font-family: inherit;
    font-size: 13px;
    color: #666;
    border: none;
    border-radius: 6px;
    -moz-border-radius: 6px;
}

.sb-search-input::-webkit-input-placeholder {
    color: #666;
}

.sb-search-input:-moz-placeholder {
    color: #666;
}

.sb-search-input::-moz-placeholder {
    color: #666;
}

.sb-search-input:-ms-input-placeholder {
    color: #666;
}

.sb-icon-search,
.sb-search-submit {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    margin: 0;
    line-height: 28px;
    text-align: center;
    cursor: pointer;
}

.sb-search-submit {
    background: none; /* IE needs this */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    opacity: 0;
    color: transparent;
    border: none;
    outline: none;
    z-index: -1;
    width: 35px;
    height: 44px;
}

.sb-icon-search {
    z-index: 90;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
}


/* Open state */
.sb-search.sb-search-open,
.no-js .sb-search {
    width: 100%;
    background: #fff;
}

    .sb-search.sb-search-open .sb-icon-search,
    .no-js .sb-search .sb-icon-search {
        color: #fff;
        z-index: 11;
    }

    .sb-search.sb-search-open .sb-search-submit,
    .no-js .sb-search .sb-search-submit {
        z-index: 90;
    }

.text-danger {
    color: red;
}

/*paging css*/

/*Start*/

.page_no {
    padding: 0 0 15px;
    display: block;
    overflow: hidden;
    text-align: center !important;
}

.left_no {
    display: inline-block;
    float: left;
    font-style: normal;
}

.right_no {
    display: inline-block;
    float: right;
    font-style: normal;
}

    .right_no > a {
        background-color: rgb(9, 145, 197);
        border-radius: 3px;
        color: rgb(255, 255, 255);
        display: inline-block;
        font-size: 18px;
        height: 28px;
        padding: 8px 0 0;
        text-align: center;
        transition: ease-in-out all .3s;
        -webkit-transition: ease-in-out all .3s;
        -moz-transition: ease-in-out all .3s;
        vertical-align: middle;
        width: 41px;
        text-align: center !important;
    }

        .right_no > a:hover {
            background-color: #3b4a5a;
            color: #fff;
            text-decoration: none;
            text-align: center !important;
        }

.page_no {
    padding: 0 0 15px;
    display: block;
    overflow: hidden;
    text-align: center !important;
}

/*End*/
