/* Accordian Styling */
ul.accordion{border-bottom: 1px solid #F2F8FC;}
.accordion a{padding:7px 10px 7px 15px; font-size:17px; border-bottom: 1px solid #d3e4f0; border-top: 1px solid #F2F8FC; color: #5b7485; display: block; text-decoration:none; /*line-height:30px;*/}
.accordion a.dcjq-parent{position:relative;}
.accordion a span.dcjq-icon{background:url(../../Content/images/accordian-arrows.png) 0 0 no-repeat; transition:none; width:10px; height:10px; position:absolute; right:8px; top:18px;}
.accordion a.active span.dcjq-icon{background-position:0 bottom;}
.accordion li:first-child a{border-top:none;}
.accordion > li i{width:36px; height:30px; line-height:30px; display:inline-block; *display:inline;  margin-right:8px; background:url(../../Content/images/accordian-sprites.png) 0 0 no-repeat;}
.accordion > li ul{border-bottom: 1px solid #d3e4f0; border-top: 1px solid #ffffff; } /*sublist ul*/
.accordion > li ul li.last_child a{border-bottom:none;}
.accordion > li ul li a{margin-left:0px; padding-left:60px;  }

.accordion > li ul li a:hover{background:none;}
.accordion > li ul li i{width:24px !important;} /*sublisting icons*/
.accordion > li ul li i.inbox{background-position:0 -560px;}
.accordion > li ul li a:hover i.inbox{background-position:-44px -560px;}
.accordion > li ul li i.sent{background-position:0 -584px;}
.accordion > li ul li a:hover i.sent{background-position:-44px -584px;}
.accordion > li i.Appointent{width:34px !important;}
.accordion > li ul li i.referrals{background-position:0 -505px;}
.accordion > li ul li a:hover i.referrals{background-position:-43px -505px;}
.accordion > li ul li i.colleagues{background-position:0 -535px;}
.accordion > li ul li a:hover i.colleagues{background-position:-44px -535px;}
.accordion a:hover, .accordion a.active{background:#cae8fb; color:#0890c4;}
.accordion i.dashboard{background-position:0 -1px;}
.accordion i.draft{background-position:0 -365px}
.accordion i.inbox{background-position:0 -30px;}
.accordion i.sent{background-position:0 -60px;}
.accordion i.referrals{background-position:0 -96px;}
.accordion i.referrals_received{background-position:0 -131px;}
.accordion i.referrals_sent{background-position:0 -164px;}
.accordion i.profile{background-position:0 -200px;}
.accordion i.patients{background-position:0 -236px;}
.accordion i.colleagues{background-position:0 -268px;}
.accordion i.search_colleague{background-position:0 -302px;}
.accordion i.invite_colleague{background-position:0 -335px;}
.accordion i.eforms{background-position:0 -366px;}
.accordion i.study_clubs{background-position:0 -401px;}
.accordion i.marketing{background-position:0 -437px;}
/*.accordion i.Appointent{background-position:0 -620px;}*/
.accordion i.Appointent{background:url(/Content/images/black.png)}
.accordion i.reports{background-position:0 -473px;}
.accordion a:hover i.dashboard{background-position:-44px -1px;}
.accordion a:hover i.draft{background-position:-44px -365px;}
.accordion a:hover i.inbox{background-position:-44px -30px;}
.accordion a:hover i.sent{background-position:-44px -62px;}
.accordion a:hover i.referrals{background-position:-44px -96px;}
.accordion a:hover i.referrals_received{background-position:-44px -131px;}
.accordion a:hover i.referrals_sent{background-position:-44px -164px;}
.accordion a:hover i.profile{background-position:-44px -200px;}
.accordion a:hover i.patients{background-position:-44px -236px;}
.accordion a:hover i.colleagues{background-position:-44px -268px;}
.accordion a:hover i.search_colleague{background-position:-44px -302px;}
.accordion a:hover i.invite_colleague{background-position:-44px -335px;}
.accordion a:hover i.eforms{background-position:-44px -366px;}
.accordion a:hover i.study_clubs{background-position:-44px -401px;}
.accordion a:hover i.marketing{background-position:-44px -437px;}
/*.accordion a:hover i.Appointent{background-position:-47px -620px;}*/
.accordion a:hover i.Appointent{background:url(/Content/images/blue.png)}
.accordion a:hover i.reports{background-position:-44px -473px;}


.accordion i.Appointent_Operatory{background:url(/Content/images/Operation-Theatre.png)}
a.active .Appointent_Operatory{background:url(/Content/images/Operation-Theatre-hover.png);background-position:0 6px;background-repeat:no-repeat}
.accordion i.Appointent_Operatory{background-position:0 6px;background-repeat:no-repeat}
.accordion > li ul li a:hover i.Appointent_Operatory{background:url(/Content/images/Operation-Theatre-hover.png);background-position:0 6px;background-repeat:no-repeat}
.accordion i.Appointent_Week_Schedule{background:url(/Content/images/Week-Schedule.png)}
.accordion > li ul li a:hover i.Appointent_Week_Schedule{background:url(/Content/images/Week-Schedule-hover.png);background-position:0 6px;background-repeat:no-repeat}
 a.active .Appointent_Week_Schedule{background:url(/Content/images/Week-Schedule-hover.png);background-position:0 6px;background-repeat:no-repeat}
.accordion i.Appointent_Week_Schedule{background-position:0 6px;background-repeat:no-repeat}
.accordion i.Appointent_Services{background:url(/Content/images/service.png)}
.accordion > li ul li a:hover i.Appointent_Services{background:url(/Content/images/service-hover.png);background-position:0 6px;background-repeat:no-repeat}
.accordion i.Appointent_Services{background-position:0 6px;background-repeat:no-repeat}
a.active .Appointent_Services{background:url(/Content/images/service-hover.png);background-position:0 6px;background-repeat:no-repeat}
@media only screen and (-webkit-min-device-pixel-ratio: 2) { 
	.accordion > li i{width:36px; height:30px; line-height:30px; display:inline-block; *display:inline; vertical-align:sub; margin-right:8px; background:url(../../Content/images/accordian-sprites@2x.png) 0 0 no-repeat; background-size:80px 620px;}
	
	
}

