/* Copyright: Guillermo Rauch <http://devthought.com/> - Distributed under MIT - Keep this message! */

/* TextboxList sample CSS */
ul.holder {
	overflow: hidden;
	height: auto;
	height: 1%;
	border: 1px solid #C2C2C2;
	color: #666666;
	padding: 5px 40px 5px 10px;
	resize: none;
	display: inline-block;
*display:inline;
	width: 100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box;
}
*:first-child+html ul.holder {
	padding-bottom: 2px;
}
* html ul.holder {
	padding-bottom: 2px;
} /* ie7 and below */
ul.holder li {
	display : inline-block;
*display:inline;
	list-style-type: none;
	margin : 2px 2px;
	padding : 4px 5px;
	white-space: nowrap;
	background-color: #FFFFFF;
	border: medium none;
	box-shadow: none;
	margin-top: 3px;
	vertical-align: middle;
}
ul.holder li.bit-box {
	display : inline-block;
*display:inline;
	vertical-align: middle;
	overflow: hidden;
	margin : 2px 2px;
	padding : 4px 5px;
	white-space : nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	background-color: #f5f5f5;
	border: #d9d9d9 solid 1px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color: #222;
	line-height : 18px;
	cursor: default;
	font-size: 14px;
}
ul.holder li.bit-box-focus {
	border-color: #598BEC;
	background: #598BEC;
	color: #fff;
}
ul.holder li.bit-input input {
	width: auto;
	overflow: visible;
	border: medium none;
	box-shadow: none;
	color: #555555;
	font-size: 14px;
	height: 23px;
	line-height: 20px;
	margin: 0;
	outline: medium none;
	padding: 0 0;
	box-shadow: none;
} /* no left/right padding here please */
ul.holder li.bit-input input.smallinput {
	width: 20px;
}
/* Facebook demo CSS */
ul.holder {
	margin: 0 !important
}
#apple-list ul.holder li.bit-input {
	margin: 0;
}
#apple-list ul.holder li.bit-input input.smallinput {
	width: 5px;
}
ul.holder li.bit-hover {
	background: #BBCEF1;
	border: 1px solid #6D95E0;
}
ul.holder li.bit-box-focus {
	border-color: #598BEC;
	background: #598BEC;
	color: #fff;
}
ul.holder li.bit-box a.closebutton {
	font-size: 12px;
	color: #b4b4b4;
	padding : 1px;
	text-decoration : none;
	outline : none;
	margin: 0 0 0 5px;
}
ul.holder li.bit-box a.closebutton:hover {
	background-position: 7px;
}
ul.holder li.bit-box-focus a.closebutton, ul.holder li.bit-box-focus a.closebutton:hover {
	background-position: bottom;
}
/* Autocompleter */

.facebook-auto {
	display: none;
	position: absolute;
	background: #eee;
	z-index: 1001;
	width: 100%;
	margin-top: -3px;
}
.facebook-auto .select_all_items {
	display: block;
	float: right;
	display: none;
} /*to select all*/
.facebook-auto .default {
	padding: 5px 7px;
	border: 1px solid #ccc;
	border-width: 0 1px 1px;
	font-size: 11px;
}
.facebook-auto ul {
	display: none;
	margin: 0;
	padding: 0;
	overflow: auto; /*position:absolute;*/
	z-index: 9999
}
.facebook-auto ul li {
	padding: 5px 12px;
	z-index: 1000;
	cursor: pointer;
	margin: 0;
	list-style-type: none;
	border: 1px solid #ccc;
	border-width: 0 1px 1px;
	font: 11px;
	background-color: #eee
}
.facebook-auto ul li em {
	font-weight: bold;
	font-style: normal;
} /*highlighted word in dropdown*/
.facebook-auto ul li.auto-focus {
	background: #4173CC;
	color: #fff;
}
.facebook-auto ul li.auto-focus em {
	background: none;
}
.deleted {
	background-color: #4173CC !important;
	color: #ffffff !important;
}
.hidden {
	display: none;
}
#demo ul.holder li.bit-input input {
	padding: 2px 0 1px;
	border: 1px solid #999;
}
.ie6fix {
	height: 1px;
	width: 1px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}
