@media (max-width: 320px) {
ul.socials li { margin-left:6px; }
.buttons.s_lft,.print_refrl.s_lft { float:left; }
}
@media (max-width: 360px) {
.accordion a .menuText { display:inline-block; }
.slide_panel { width:100% !important; display:none; }
.toggle_links li.toggle_button{display:block!important; height:60px;}
.slide_panel .accordion > li ul { position:relative; left:0px; width:100%; }
.wrapper .content_base,.wrapper .utility_links,.wrapper .search_expnd,.wrapper .content_box{ margin-left:0px; }
.search_expnd{ float:none!important; display:inline-block; text-align:center; width:100%; padding-left:0px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.search_expnd .sb-search { width:90%; min-width:90% !important; text-align:left; float:none; margin:0 auto; }
.tabbed_form .tab_links li { width:auto; }
.tabbed_form .tab_links li a { padding:0px 4px; }
.details .contact_box a.edit {
	right:0px !important;
	bottom:0px !important;	
}
.sdrop { max-width:240px !important; }
}
@media (max-width: 650px){
.user_details .contact_box { width:100% !important; min-width:180px; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; }

.dataTableRow .dataTableCell { width:100% !important; display:block; padding-top:5px !important;  }
.dataTableRow .dataTableInner { width:100%; padding-left:15px ; clear:both; }
.dataTableRow .dataTableCell.cell1 { padding-left:120px; min-height:80px; }
ul.backend_dashboard li { width:49%; }
.table_data h5 span.buttons input {
    margin: 5px 5px 0px 0px !important;
}
.list.list_ab {
    padding-bottom: 20px;
} 
.hdng_top5 {margin-top: 5px;
    width: 100%;}
}
 @media (max-width: 767px) {
	 .add_patients textarea.textarea { height:100px !important; }
.boxSized li {
	width: 100% !important;
	display:inline-block;
	padding: 15px 0 0 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
ul.check_listing > li {
	width: 50%;
	}
ul.dual > li {
	width: 100%;
}
.inner .search_listing > li {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	padding: 20px 0px 0px 0px;
	border: none;
	background: transparent;
	margin: 0px;
}

#view_referrals .patient_info ul.list { width:58%; float:right; }
ul.patient_info .thumb { width:100px; height:auto; float:left; }

.user_details .contact_box { width:40%; min-width:180px; }
.user_info .info { width:50%; }
.buttons_holder { text-align:left; }
.buttons_holder .invite_email { width:314px; }
.table_data h5 { overflow:hidden; }
span.buttons {  clear: both; display: inline-block; float: right; margin:0; overflow: hidden; position: relative; text-align: center; width: auto; text-align:right; padding:10px 0 0 0;}
.table_data h5 span.buttons input { margin:5px; }
.user_info .info { width:100%; }
.user_details .title { padding:15px; }
.user_info .data { padding-right:0px; }
.content_base,.utility_links,.search_expnd,.content_box{ margin-left:0px; }
ul.form_listing li > label{ padding:0 0 10px 0;}
ul.dual > li{ padding-left:0;}
ul.dual > li ul li:last-child { margin-bottom:5px; }
.tabbed_form_content li .grey_frmbg { width:100%; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; }
.subtab_frm > li { width:100%; }
}

@media (min-width:650px) and (max-width: 800px){
	
	.inner .search_listing > li {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 50% !important;
	padding: 20px 20px 0px 0px;
	border: none;
	background: transparent;
	margin: 0px;
}
.dataTableRow .dataTableCell { width:100% !important; display:block; padding-top:5px !important;  }
.dataTableRow .dataTableInner { width:100%; padding-left:105px ; }
.dataTableRow .dataTableCell.cell1 { padding-left:120px; }
.invite_email { float:right !important; margin-right:0px !important; }
}
@media (min-width:801px){
	ul.backend_dashboard { width:100%; padding:0px 10%; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; }
	ul.backend_dashboard li { width:33.33%; float:left; display:block; }
}
 @media (min-width: 801px) and (max-width: 992px)
{
	.dataTableRow .dataTableInner { float:left; width:70%; padding:0px 0px 0px 15px; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; }
}

 @media (min-width: 768px) and (max-width: 992px) {
.boxSized li {
	width: 49.9% !important;
	display:inline-block;
	padding: 15px 20px 0 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	
}
ul.check_listing > li {
	width: 33.33%;
}
#view_referrals .patient_info ul.list { width:68%; float:right; }
ul.patient_info .thumb { width:100px; height:auto; float:left; }
.search_listing > li {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	padding: 20px 20px 0px 0px;
	border: none;
	background: transparent;
	margin: 0px;
}
.subtab_frm > li { width:50%; }
}
@media (max-width:799px) {
	.visible_big { display:none; }
	.hidden_big { display:block; }
}
@media (min-width:800px) { 

.invitations { 
	width:100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding-right:25px;
}

.hidden_big { display:none; }
}
@media (min-width:768px) { 

.inviteb { 
	width:100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding-right:331px;
	position:relative;
}
.inviteb input[type="submit"]{ position:absolute; right:9px; top:9px; }
}
@media (max-width: 992px) {
.search_listing > li:nth-child(even) {
	margin-right: 0px;
}
ul.patient_info .thumb {
	width:20%;
}
#view_referrals .patient_info ul.list {
	width:80%;
}

.visuals .right {
	margin-left: 0px;
	margin-top: 15px;
	width: 100%;
	clear: both;
	float: left;
}
.visuals .left {
	width: 100%;
	float: left;
	clear: both;
}
ul.patient_info > li.second {
	width: 100% !important;
}
ul.patient_info > li.first {
	width: 100% !important;
	border-right:none;
}
ul.patient_info > li.second {
	width: 100% !important;
	border-top:1px solid #c6d9e5;
	margin-top:15px;
	padding-top:15px;
}

.buttons_holder .search_colleague { margin-bottom:15px; }

}

@media (max-width: 1024px) {
.content_base{ margin-left:60px;}
.search_listing > li {width: 49.9%;}
.utility_links li:nth-child(2){ border-right:1px solid #D6D6D6!important; }
.slide_panel{ float: left; margin-left: 0; width: 60px; background-color:#ddeefb;border-right:1px solid #ccc}
.menuText { display:none; }
.accordion > li { position:relative; }
.accordion > li ul { position:absolute; left:60px; top:0px; background:#CAE8FB; width:251px; }
.slide_panel .accordion > li ul li a { margin-left:0px ; padding-left:10px; }

.content_box { margin-left:60px; }

}
@media (min-width: 992px){
	.visuals .right.panel { float:none !important; }
}
@media (min-width: 1024px){
	.lg_hidden { display:none; }
	ul.backend_dashboard { width:100%; padding:0px 15%; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; }
	
}
@media (min-width: 992px) and (max-width: 1200px) {
.boxSized li {
	width: 25% !important;
	display:inline-block;
	padding: 15px 20px 0 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.search_listing > li {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 50%;
	padding: 20px 20px 0px 0px;
	border: none;
	background: transparent;
	margin: 0px;
}
ul.check_listing > li {
	width: 25%;
}

.dataTableRow .dataTableInner { float:left; width:70%; padding:0px 0px 0px 15px; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; }

}

@media (min-width: 992px) and (max-width: 1200px) {
.search_main_div{ position:relative; float:left; width:800px!important;}	
.searchbar{ position:absolute; width:100%;}	
.searchbar input[type="text"]{ border-right:1px solid #E4E4E4;}
}

@media (min-width: 800px) and (max-width: 992px) {
.search_main_div{ position:relative; float:left; width:784px!important;}	
.searchbar{ position:absolute; width:100%;}	
header .logo{ width:188px;}
.searchbar input[type="text"]{ width:175px; border-right:1px solid #E4E4E4;}
}




@media (max-width: 1200px) {
	.inbox_icons { width:100%; }
ul.dual span.fluid {
	margin-left: 0px;
}
.tabbed_form .tab_links li a { font-size:13px; font-weight:bold; }
.tabbed_form .tab_links li a .tube { margin-top:6px; }
ul.form_listing li > label { padding-top:0px; }
.add_patients textarea.textarea { height:267px; }

}
 @media (min-width: 1200px) {
.boxSized li {
	width: 25% !important;
	padding: 15px 10px 0 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display:inline-block;
}
.search_listing > li {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 33.33%;
	padding: 10px 10px 0px 0px;
	border: none;
	background: transparent;
	margin: 0px;
}
.colleagues .col5 { width:17%; }
.dataTableRow .dataTableInner { float:left; width:70%; padding:0px 0px 0px 15px; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; }
}
footer ul {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box; 
}
.boxSized {
	width: 100%;
	float: left;
}
.search_listing {
	float: left;
}
.search_listing li {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.boxSized li input[type="text"], .boxSized li input[type="email"], .boxSized li input[type="phone"], .speciality, .btn_holder {
	width: 100%;
	margin: 0px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.search_listing > li > div {
	background: none repeat scroll 0 0 #F6F6F6;
	border: 1px solid #C8C8C8;
	display: table;
	margin: 0;
	padding: 10px 2px;
	vertical-align: top;
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
    
}

ul.patient_info ul.list {
	margin: 0px !important;
	padding: 10px 20px 0 60px !important;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
ul.patient_info > li.first {
	width: 52.5%;
}
ul.patient_info > li.second {
	width: 46.5%;
}
#view_referrals .patient_info ul.list {
padding: 0px 14px 0px 15px !important;
float: left;
margin: 0px !important;
}
#view_referrals .patient_info ul.list { width:75%; float:right; }
#view_referrals .patient_info ul:last-child.list { width:100%; }
ul.patient_info .thumb { width:14%; height:auto; float:left; margin-right:0px !important; text-align:center; }
ul.patient_info .thumb img { width:100%; height:auto; }
.btn_holder  { width:307px; }
.speciality .loginbtn { padding-top:11px; padding-bottom:10px; }
.search_listing { padding-bottom:20px; }
.user_details .contact_box { float:none; display:inline-block; text-align:left; min-width:300px; width:auto;}
.user_details .contact_box:first-child{ margin-bottom:15px !important; }
.user_details .details { width:100%; padding:15px 20px 15px 20px; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;  }
.center { text-align:center; }
@media (max-width: 992px) {
ul.patient_info .thumb {
	width:20%;
}
#view_referrals .patient_info ul.list {
	width:80%;
}}


/*Colleagues Page Start*/
.trow:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
.dataTableRow { width:100%; padding:0px; position:relative; clear:both; float:left; }
.dataTableRow input[type="checkbox"]{ position:absolute; left:0px; top:30px; }
.dataTableRow figure { position:absolute; left:30px; top:0px; }
.dataTableRow .dataTableCell { display:block; float:left; padding:0px 0px 0px 15px;   -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;  }
.dataTableRow .data { margin:0px; padding:0px; }
.dataTableRow .cell1 { width:30%; padding-left:120px; }
.dataTableRow .cell2 { width:45%; }
.dataTableRow .cell3 { width:30%; }
.dataTableRow .cell4 { width:25%; }
.dataTableRow .cell4 a i { margin:0px 5px 5px; }
.borderNone { border:none !important; }
.pClose { position:absolute; right:0px; top:0px; background:#0890C4; cursor:pointer; font-family:"Arial Black", Gadget, sans-serif; color:#fff; line-height:15px; text-align:center; font-size:10px; font-weight:bold; width:15px; height:15px; }
.paddingleft0 { padding-left:0px !important; }
.right { float:right !important; }
.ohidden { overflow:hidden ; }
.wauto { width:auto !important; }
.policy_h1 {
	font-size: 34px;
    line-height: 40px;
    margin: 0;
    position: relative;
	color:#0890C4;
}
.policy_h3 {
	color: #0890C4;
    font-size: 18px;
    font-weight: normal;
    line-height: 20px;
	padding:15px 0px 0px 0px;
}
.policy_p {
	font-size: 14px;
    line-height: 20px;
    padding: 10px 0px;
	margin:0px;
	color:#666;
}
.policy_ul {
	list-style:disc !important;
	padding:5px 0px 5px 20px !important;
	list-style-position:outside;
}
.policy_ul li {
	padding:0px 0px 10px 0px;
	color:#666;
}
ul.alt_listing {
    background: none repeat scroll 0 0 #FAFAFA;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
}
ul.alt_listing li {
    border-bottom: 1px solid #FFFFFF;
    border-top: 1px solid #E7E7E7;
    font-size: 14px;
    font-weight: bold;
    padding: 15px;
}
ul.alt_listing li:first-child {
    border-top: medium none;
}
ul.alt_listing li.odd {
    background: none repeat scroll 0 0 #F5F5F5;
}
ul.alt_listing .text {
    float: left;
    width: 70%;
}
ul.alt_listing .video {
    float: left;
    width: 30%;
}

.editUser {
	background: #0691C5; border-radius: 2px; color: #fff; float: right; font-size: 12px; line-height: normal; padding: 2px 10px; text-decoration: none; position: absolute;
    right: 4px;
    top: 4px;
}
.contact_box .editUser {
	right: 15px;
    top: 13px;
} 
a.editUser:hover { color:#fff; }
.accordion li i,.accordion li, .accordion li a { vertical-align:top !important; line-height:30px; }
.accordion li a span { vertical-align:top !important; line-height:30px; height:30px; }

.account_type_btn { width:333px; height:47px; float:left; background:url(../images/acoount-settings-btn.jpg) no-repeat; }
.basic_btn { width:335px; height:47px; float:left; background:url(../images/patient-btns.png) no-repeat 0px -153px; }
.upgrade_account_btn { width:337px; height:47px; float:left; background:url(../images/all-buttons.png) no-repeat 0px -406px; }
.boxSized li #txtStartDate.txtdob.hasDatepicker{
	background-position: -544px -412px;
}
.boxSized li #txtEndDate.txtdob.hasDatepicker{
	background-position: -544px -453px;
}
#searchField .cancel_btn.margintop1{
	background: url(../images/Clear_btn.png) 0 0 transparent;
}
.boxSized #ddltreatment.dropdown-menu.dropdown-select{
	width: 100%;
}
@media (max-width:430px){
  .account_type_btn { width:280px; }
  .upgrade_account_btn { width:280px; }
  .snd_msg_sltd,.export_patient_btn,.import_patient_btn { width:280px; }
  .basic_btn { width:280px; height:47px; float:left; background:url(../images/patient-btns.png) no-repeat 0px -153px; }
}
	.upgrade_account_btn, .basic_btn, .account_type_btn { float:left; margin:0px 20px 15px 0px !important; }
