.menu{display:block;}

.menu li{display: inline-block;
position: relative;
z-index:1005;}

.menu li:first-child{margin-left:0;}

.menu li a {font-weight:600;
text-decoration:none;
padding:11px;
display:block;
color:#000;
}

.sub-menu li a:hover{color:#ffffff;
background:#01315D;
}

.menu ul {display: none;
margin: 0;
padding: 0;
width: 141px;
position: absolute;
top: 42px;
left: 0px;
}

.sub-menu li {display:block;
float: none;
background:none;
margin:0;
padding:0;
vertical-align:top;
}
.sub-menu li a {font-size:13px;
font-weight:normal;
display:block;
color:#fff;
border-bottom:1px solid #21bcfd;
border-top:1px solid #1595c9;
background:#00aaf0}
.sub-menu li:first-child a{border-top:none;}

.menu li:hover > ul{ display: block;}
.menu ul ul {left: 149px;
	top: 0px;
}

.mobile-menu{display:none;
padding:12px;
color:#17335C;
font-size:16px;
text-transform:uppercase;
font-weight:600;
text-decoration:none;
}
.mobile-menu:hover{background:#0691c5;
color:#ffffff;
text-decoration:none;
}


@media (min-width: 768px) and (max-width: 979px) {

.mainWrap{width:768px;}
.menu ul {top:37px;}
.menu li a{font-size:12px;
padding:8px;}
}

@media (max-width: 959px) {

.mainWrap{width:auto;padding:50px 20px;}

.menu{display:none;}

.mobile-menu{display:block;}

nav{margin:0;
background:none;}

.menu li, nav.top > ul > li{display:block; margin:0; float:none;}

nav.top li a {background:#ffffff; border-bottom:1px solid #e0e0e0;
}
nav.top ul li a, nav.top ul li.home a{ width:auto; display:block;}
nav.top ul li.active.home:before, nav.top ul li.home:hover:before, nav.top ul li.home:before{display:none;}

nav.top .sub-menu li a{
border-bottom:1px solid #e0e0e0;
border-top:none;
padding-left:50px;
color:#797979;
}
nav.top .sub-menu li a:hover, .nav.top .sub-menu li:hover > a{
color:#fff;
}

.menu ul {display:block;
position:relative;
top:0;
left:0;
width:100%;}

nav.top ul{background:#fff; position:relative; z-index:2000; transition:none;}

.menu ul ul {left:0;}

}

@media (max-width: 480px) {

}


@media (max-width: 320px) {
}