@import url(https://fonts.googleapis.com/css?family=Roboto:300);

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
    background: #fff;
    font-family: Roboto;
    font-size: 13px;
}

a {
    text-decoration: none;
    color: #0070d2;
}

.Forgotmain {
    width: 100%;
    display: inline-block;
    padding-top: 10px;
    font-family: Roboto;
}

.Forgotleft {
    float: left;
}

.Forgotright {
    float: right;
}

.remember {
    float: left;
    padding-top: 10px;
    width: 100%;
    border-bottom: 1px solid #f4f4f4;
    padding: 15px 0 3px;
}

.rememberlabel {
    font-family: Roboto;
    font-size: 14px;
    padding-left: 10px;
    float: left;
}

.loginmainpage {
    margin-bottom: 0;
    margin-top: 12px;
    width: 100%;
    display: table;
}

.loginleft {
    width: 100%;
    margin-right: 1%;
    position: relative;
    float: left;
    height: 100%;
    display: table-cell;
    border: 0px solid #CCC;
}

.loginright {
    width: auto;
    border: 0 solid #ccc;
    padding: 40px 18px;
    display: table-cell;
    float: left;
    margin: 0 auto;
    padding: 40px;
    position: relative;
}

.videobar {
    width: auto;
    margin: -392px 82px 0;
}

.videotital {
    text-align: center;
    margin-bottom: 55px;
}

.Training {
    width: 124px;
    height: 38px;
    cursor: pointer;
    margin-top: 8em;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #00AAF0;
    font-size: 15px;
    color: #fff;
    font-family: Roboto;
    outline: 0px solid #000;
}

.contact {
    width: 124px;
    height: 38px;
    cursor: pointer;
    margin-top: 8em;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #16335C;
    font-size: 15px;
    color: #fff;
    font-family: Roboto;
}

.Trainingmain {
    text-align: center;
    width: auto;
}

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    */;
}

    .form input {
        font-family: "Roboto", sans-serif;
        outline: 0;
        /*  background: #f2f2f2; */
        border-radius: 5px;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
        border: 1px solid #dbdbdb;
    }

    .form button {
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        outline: 0;
        border-radius: 5px;
        background: #00AAF0;
        width: 100%;
        border: 0;
        padding: 15px;
        color: #FFFFFF;
        font-size: 14px;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: pointer;
    }

    .form .message {
        margin: 15px 0 0;
        color: #b3b3b3;
        font-size: 12px;
    }

        .form .message a {
            color: #00AAF0;
            text-decoration: none;
        }

iframe {
    height: 273px;
    width: 100%;
}

.maindevpage {
    display: block;
    height: auto;
    position: absolute;
    width: 100%;
    overflow: hidden;
}

.mainleft {
    width: 50%;
    float: left;
}

.mainright {
    width: 50%;
    float: right;
}

.devimg {
    width: auto;
}

@media only screen and (min-width:680px) and (max-width: 1200px) {
    .maindevpage {
        margin: 0 auto;
        position: absolute;
        width: 100%;
    }

    .mainleft {
        float: none;
        margin: 0 auto;
        text-align: center;
        width: 100%;
    }

    .mainright {
        display: flex;
        float: none;
        position: relative;
        text-align: center;
        width: 100%;
    }
}

@media only screen and (min-width:500px) and (max-width: 679px) {
    .maindevpage {
        margin: 0 auto;
        position: absolute;
        width: 100%;
    }

    .mainleft {
        float: none;
        margin: 0 auto;
        text-align: center;
        width: 100%;
    }

    .mainright {
        display: flex;
        float: none;
        position: relative;
        text-align: center;
        width: 100%;
    }

    .devimg {
        width: 490px !important;
    }

    .videobar {
        margin: -321px auto 0 !important;
        width: 356px !important;
    }

    iframe {
        height: 225px !important;
        width: 100%;
    }

    .loginright {
        padding: 40px 0;
    }
}

@media screen and (max-width:679px) {
    .maindevpage {
        margin: 0 auto;
        position: absolute;
        width: 100%;
    }

    .mainleft {
        float: none;
        margin: 0 auto;
        text-align: center;
        width: 100%;
    }

    .mainright {
        display: flex;
        float: none;
        position: relative;
        text-align: center;
        width: 100%;
    }

    .devimg {
        width: 306px;
    }

    .videobar {
        margin: -202px auto 0;
        width: 224px;
    }

    iframe {
        height: 141px;
        width: 100%;
    }

    .loginright {
        padding: 40px 0;
    }
}

@media only screen and (min-width:400px) and (max-width: 499px) {
    .devimg {
        width: 395px;
    }

    .videobar {
        margin: -261px auto 0;
        width: 288px;
    }

    iframe {
        height: 183px;
        width: 100%;
    }
}

@media only screen and (min-width:1600px) and (max-width: 2000px) {
    .devimg {
        margin-left: -12%;
        width: 700px;
    }

    .videobar {
        margin: -456px 11px 0;
        width: 513px;
    }

    iframe {
        height: 319px;
        width: 100%;
    }

    .videotital {
        margin-bottom: 55px;
        margin-left: 65px;
        text-align: left;
    }

    .Trainingmain {
        text-align: center;
        width: 40em;
    }
}
/*Ankit Changes for validation msg show 03-14-2017*/
.form-group zip_city city .field-validation-error span {
    text-align: right;
}
/*Dev changes for flip form 03-15-2017*/
#flip-container {
    position: relative;
    margin: 0px auto;
    width: 400px;
    height: 465px;
    z-index: 1;
    perspective: 800px;
}

#flip-card {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transform-style: preserve-3d;
    transition: all 0.5s linear;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#flip-container.flipped #flip-card {
    transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.face {
    padding: 20px;
    position: absolute;
    width: 100%;
    max-width: 400px;
    height: 100%;
    backface-visibility: hidden;
    background-color: #fff;
    border-radius: 5px;
}

.back {
    padding: 10px;
    background-color: #fff;
}

.face.back {
    display: block;
    box-sizing: border-box;
    transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}

.zip_city input {
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: "Roboto",sans-serif;
    font-size: 14px;
    margin: 15px 0 0px;
    outline: 0 none;
    padding: 15px;
    width: 100%;
}

.submit_button_box button {
    background: #00aaf0 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    font-family: "Roboto",sans-serif;
    font-size: 14px;
    outline: 0 none;
    padding: 15px;
    text-transform: uppercase;
    width: 100%;
    margin-top:15px;
}

.thanks {
    color: #303f92;
    font-family: Arial;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    transform: scale(1, 1.5);
}

.thankssub {
    color: #303f92;
    font-family: Arial;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    transform: scale(1, 1.5);
    margin-top: -30px;
}

.subd {
    font-weight: bold;
    font-family: arial;
    text-align: center;
    font-size: 20px;
    padding: 20px;
}
