﻿body {
}

ul.patient_info .thumb {
    height: 80px !important;
    width: 80px !important;
}

.third {
    width: 33%;
    border-left: 1px solid #c6d9e5;
}

#view_referrals .patient_info ul.list {
    float: right;
    width: 68%;
}

ul.patient_info > li.first {
    border-right: 1px solid #c6d9e5;
    width: 33.3%;
}

ul.patient_info > li.second {
    border-right: 0px solid #c6d9e5;
    width: 33.3%;
    border-top: 0px solid #c6d9e5;
    margin-top: 0;
    padding-top: 0;
}

.firsttext {
    width: 59%;
    float: right;
}

.imgtext {
    width: 40%;
    float: left;
}

. {
    color: #0890c4;
    font-size: 20px;
    padding: 0px 0 0px;
    margin: 0 0 5px;
    position: relative;
}

    .third ul li {
        height: 17px;
        line-height: 14px;
    }



strong {
    font-weight: bold !important;
}

em {
    font-style: italic !important;
}

#add_doctor_popup .search_listing .description {
    margin-left: 135px;
    display: block;
}

#add_doctor_popup .search_listing .action {
    margin: 5px 0 0 135px;
    display: block;
}

/*#add_doctor_popup.white-popup-block .cntnt {
    padding: 0 0px 0 20px;
}*/

#add_doctor_popup.white-popup-block .cntnt {
    padding: 20px 15px;
}

#add_doctor_popup .search_listing > li > div {
    float: left;
}


.inboxCompose {
    float: right;
}

a {
    color: rgb(51, 122, 183);
    text-decoration: none;
}

#PatientHistoryThead > tr > td > a {
    text-align: left !important;
}

#view_referrals .patient_info ul.list:last-child {
    width: 100% !important;
}

.margintop1 {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.patientcommunicationhistory {
    max-height: 800px !important;
    overflow-y: scroll;
}

.Communicationheader {
    width: 15% !important;
}

.Communicationbody {
    width: 16% !important;
    height: 75px !important;
}

.hylyt_field {
    padding: 1px 5px !important;
    border-radius: 3px !important;
}

.fluid_cont {
    display: inline-block !important;
    position: relative !important;
    width: 100% !important;
}

ul.teeth_listing li a {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    background-origin: padding-box;
    background-position: -464px -54px;
    background-repeat: no-repeat;
    background-size: auto auto;
    color: rgb(255, 255, 255);
    display: block;
    font-size: 16px;
    padding-bottom: 17px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 8px;
    text-decoration-color: -moz-use-text-color;
    text-decoration-line: none;
    text-decoration-style: solid;
    transition-delay: 0s;
    transition-duration: 0s;
    transition-property: none;
    transition-timing-function: ease;
    margin-top: -47px !important;
}

ul.teeth_listing li {
    display: inline-block;
    height: auto !important;
    vertical-align: top;
    width: 38px;
}

.panel .block p {
    color: rgb(51, 51, 51);
    margin-bottom: 5px !important;
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px !important;
}

.panel .block {
    display: inline-block;
    padding-bottom: 40px;
    padding-left: 3.4%;
    padding-right: 3.4%;
    padding-top: 25px;
    vertical-align: top;
    width: 40%;
}

.upload_list {
    border: 1px solid #dcdcdc;
    display: inline-block;
    vertical-align: top;
    <!-- float: left; -->
    height: auto;
    margin: 0 10px 10px 0;
    position: relative;
    width: 22%;
}

#divPatientImages {
    display: inline-block;
    height: auto;
    width: 100%;
}

.refer_bookappointment {
    background-position: 0 -1333px !important;
    height: 29px;
    width: 134px;
}

.devtab {
    padding: 0px 0px 0px 0 !important;
}

.table_data .trow {
    border-top: 1px solid #c8c8c8;
    margin: 0;
    padding: 15px;
}

.devbtnstyle a span {
    background: rgba(0, 0, 0, 0) url("../../Content/images/book-appointment.png") no-repeat scroll 0 0;
    display: block;
    height: 27px;
    margin: 0 auto;
    text-indent: -999em;
    width: 157px;
    float: right;
}

.refer_bookappointment2 {
    background-position: 0 0px !important;
    height: 29px;
    width: 134px;
}

.refer_Add-Family-Members {
    background-position: 0 -1391px !important;
    height: 29px;
    width: 134px;
}

#fileuploadPatientHistoryMessages form .fileupload-buttonbar .paddingleft0 .btn-success {
    margin-top: -54px !important;
}

@@media screen and (min-device-width: 1140px) and (max-device-width: 1285px) {
    .communicationbox div {
        /*<!-- width: 33% !important; -->*/
    }
}

@@media screen and (min-device-width: 1000px) and (max-device-width: 1140px) {
    .communicationbox div {
        /*<!-- width: 40% !important; -->*/
    }

    #txtMessageFromPatientHistory {
        width: 97% !important;
    }
}

@@media screen and (min-device-width: 800px) and (max-device-width: 1000px) {
    .communicationbox div {
        /*<!-- width: 40% !important; -->*/
    }

    #txtMessageFromPatientHistory {
        width: 97% !important;
    }
}



@@media screen and (min-device-width: 800px) and (max-device-width: 992px) {
    ul.patient_info > li.first {
        width: 33% !important;
    }

    ul.patient_info > li.second {
        width: 33% !important;
    }

    .third {
        width: 33% !important;
    }
}

@@media only screen and (max-width: 800px) {
    .communicationbox div {
        width: 100% !important;
        height: 86px;
    }

    #txtMessageFromPatientHistory {
        width: 91% !important;
    }

    ul.patient_info > li.first {
        width: 100%;
        border-bottom: 1px solid #cccccc;
        border-right: 0 solid;
    }

    ul.patient_info > li.second {
        width: 100%;
        border-bottom: 1px solid #cccccc;
        padding: 20px 0;
    }

    .third {
        border-bottom: 1px solid #cccccc;
        border-left: 0 none;
        padding: 20px 0;
        width: 100%;
    }
}



.communicationbox {
    border: 1px solid #ccc !important;
    /*<!-- height:176px !important; -->*/
    padding: 3px;
}

.table {
    margin-bottom: -2px !important;
}

.btn-danger {
    width: 112px;
    display: inline-block;
}

.send_btn {
    margin-right: 10px;
}



#txtMessageFromPatientHistory:hover {
    border: 0px !important;
    box-shadow: unset !important;
}

#txtMessageFromPatientHistory:active {
    border: 0px !important;
    box-shadow: unset !important;
}

#txtMessageFromPatientHistory:focus {
    border: 0px !important;
    box-shadow: unset !important;
    outline: none !important;
}

#fileuploadPatientHistoryMessages form .ui-widget-header {
    background: transparent !important;
}

#txtMessageFromPatientHistory {
    border: 0px;
}

#fileuploadPatientHistoryMessages {
    border: 0 !important;
}
