
    
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, textarea, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    -moz-font-feature-settings: inherit;
    -moz-font-language-override: inherit;
    border: 0 none;
    font-family: Helvetica,Arial,sans-serif;
    font-size: inherit;
    font-size-adjust: inherit;
    font-stretch: inherit;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

.word-wrap
{
    word-wrap:break-word !important;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none outside none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #666666;
    font: 14px/18px Helvetica,Arial,sans-serif;
    position: relative;
}
html, body {
}
input[type="button"], input[type="submit"] {
    border: medium none;
    border-radius: 0;
    cursor: pointer;
    outline: medium none;
}
h1 {
    color: #001B49;
    font-size: 26px;
    font-weight: normal;
    line-height: 28px;
}
h2 {
    color: #0691C5;
    font-size: 24px;
    font-weight: normal;
    line-height: 26px;
}
h3 {
    color: #0691C5;
    font-size: 22px;
    font-weight: normal;
    line-height: 24px;
}
h4 {
    color: #001B49;
    font-size: 20px;
    font-weight: normal;
    line-height: 22px;
}
h5 {
    color: #333333;
    font-size: 18px;
    font-weight: normal;
    line-height: 20px;
}
h6 {
    color: #001B49;
    font-size: 16px;
    font-weight: normal;
    line-height: 18px;
}
p {
    font-size: 16px;
    line-height: 20px;
}
a {
    color: #0691C5;
    cursor: pointer;
    outline: medium none;
    text-decoration: underline;
    transition: all 0.3s ease-in-out 0s;
}
a:hover {
    color: #14315B;
    text-decoration: none;
}
strong {
    font-weight: bold;
}
mark {
    background: none repeat scroll 0 0 ;
}
.clear {
    clear: both;
    font-size: 0;
    height: 0;
    line-height: 0;
}
img {
    max-width: 100%;
    width: 100%;
}
.wrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
}
.container {
    clear: both;
    margin: 0 auto;
    width: 960px;
}
.border {
    border: 1px solid #C9C9C9;
}
.img_container {
    margin: 10px 0;
}
.bluebg {
    background: none repeat scroll 0 0 #00AAF0;
    border-bottom: 1px solid #D8D8D8;
    border-top: 1px solid #D8D8D8;
}
.whitebg {
    background: none repeat scroll 0 0 #FFFFFF;
}
.greybg {
    background: none repeat scroll 0 0 #EAEAEA;
}
.lytgreybg {
    background: none repeat scroll 0 0 #F2F2F2;
}
.bluetxt {
    color: #0691C5;
    font-weight: bold;
}
.dbluetxt {
    color: #001B49;
    font-weight: bold;
}
.phone {
    background: url("../../Images/index/phone.png") no-repeat scroll center center #00AAF0;
}
.scrollup {
    background: url("../../Images/index/icon_top.png") no-repeat scroll 0 0 ;
    bottom: 50px;
    display: none;
    height: 40px;
    position: fixed;
    right: 100px;
    text-indent: -9999px;
    width: 40px;
    z-index: 9999;
}
body input[type="text"], body textarea {
    color: #666666;
    outline: medium none;
    resize: none;
    transition: all 0.3s ease 0s;
}
body input[type="text"]:hover, body input[type="text"]:focus, body textarea:hover, body textarea:focus {
    border: 1px solid #77C6FE;
    color: #1794C4;
    transition: all 0.3s ease-in-out 0s;
}
.alternate {
    display: none;
}
.mb40 {
    margin-bottom: 40px;
}
.mb25 {
    margin-bottom: 25px;
}
section input[type="button"], section input[type="submit"] {
    border: medium none;
    text-indent: -9999px;
    text-transform: uppercase;
}
.search_icon {
    background: url("../../Images/index/search-btns-sprites.png") no-repeat scroll left top ;
    height: 47px;
    margin-right: 12px;
    width: 56px;
}
.search_location {
    background: url("../../Images/index/search-btns-sprites.png") no-repeat scroll left bottom ;
    height: 47px;
    width: 220px;
}
.signup_now {
    background: url("../../Images/index/connects-sprites.png") no-repeat scroll left top ;
    height: 44px;
    width: 194px;
}
.search_database {
    background: url("../../Images/index/connects-sprites.png") no-repeat scroll left bottom ;
    height: 44px;
    width: 233px;
}
.separator {
    background: url("../../Images/index/separator.jpg") repeat-x scroll left center ;
    margin: 35px 0;
    text-align: center;
}
.separator span {
    background: url("../../Images/index/asterisks.jpg") no-repeat scroll center center #FFFFFF;
    display: block;
    height: 18px;
    margin: 0 auto;
    width: 90px;
}
.submit {
    background: url("../../Images/inner/buttons.png") no-repeat scroll left top ;
    height: 47px;
    width: 130px;
}
.showmore {
    background: url("../../Images/inner/showmore.jpg") no-repeat scroll left top ;
    height: 39px;
    width: 151px;
}
.watchdemo {
    background: url("../../Images/inner/watch-demo.jpg") no-repeat scroll left top ;
    height: 46px;
    width: 208px;
}
header {
    background: url("../../Images/index/header-bg.jpg") repeat-x scroll left top #EEEEEE;
    border-bottom: 1px solid #FEFEFE;
    border-top: 3px solid #FFFFFF;
}
header .logo {
    float: left;
    margin: 7px 30px 7px 0;
}
header .logo a {
    background: url("../../Images/index/logo.png") repeat-x scroll left top ;
    color: #000000;
    display: block;
    font-size: 25px;
    height: 50px;
    text-indent: -9999px;
    width: 170px;
}
.top_links {
    float: right;
    margin: 21px 10px 0 0;
}
.loginbtn {
    background: url("../../Images/index/login.png") no-repeat scroll left top ;
    border: medium none;
    height: 27px;
    margin: 0 0 0 7px;
    padding: 0;
    text-indent: -9999px;
    text-transform: uppercase;
    width: 72px;
}
.signupbtn {
    background: url("../../Images/index/signup.png") no-repeat scroll left top ;
    border: medium none;
    height: 27px;
    margin: 0 0 0 7px;
    padding: 0;
    text-indent: -9999px;
    text-transform: uppercase;
    width: 81px;
}
.navvy {
    background: none repeat scroll 0 0 #B1BCCE;
}
nav.top {
    height: 42px;
    position: relative;
}
nav.top ul li:first-child {
    border-left: medium none;
}
nav.top > ul > li {
    border-left: 1px solid #FEFEFE;
    float: left;
    position: relative;
}
nav.top ul li.home {
    background: url("../../Images/index/home-hover.png") repeat-x scroll left top #9CA8BC;
    transition: all 0.3s ease-in-out 0s;
}
nav.top ul li.home:before {
    background: url("../../Images/index/home-before.png") no-repeat scroll center top ;
    bottom: -12px;
    content: "";
    height: 12px;
    left: 0;
    position: absolute;
    transition: all 0.3s ease-in-out 0s;
    width: 65px;
}
nav.top ul li:hover, nav.top ul li.active, nav.top ul li.home:hover {
    background: url("../../Images/index/nav-hover.png") repeat-x scroll left top #00AAF0;
    cursor: pointer;
    position: relative;
}
nav.top ul > li.active > a {
    color: #FFFFFF;
}
nav.top > ul > li > a {
    background: url("../../Images/index/nav-sprites.png") no-repeat scroll left top ;
    color: #464646;
    display: block;
    font-size: 16px;
    font-weight: normal;
    height: 42px;
    line-height: 42px;
    padding: 0 25px 0 50px;
    text-decoration: none;
    transition: none 0s ease 0s;
}
nav.top > ul > li > a:hover {
    background: url("../../Images/index/nav-sprites.png") no-repeat scroll -170px top ;
    color: #FFFFFF;
}
nav.top ul li.active.home:before, nav.top ul li.home:hover:before {
    background: url("../../Images/index/list-arrow.png") no-repeat scroll center top ;
    bottom: -12px;
    content: "";
    height: 12px;
    left: 0;
    position: absolute;
    width: 65px;
}
nav.top ul li.home a {
    background-position: 22px 11px;
    padding: 0;
    text-indent: -9999px;
    text-transform: uppercase;
    width: 65px;
}
nav.top ul li.home a:hover, nav.top ul li.active.home a {
    background-position: 22px -238px;
}
nav.top ul li.quick_tour a {
    background-position: 22px -28px;
}
nav.top ul li.quick_tour a:hover, nav.top ul li.active.quick_tour a {
    background-position: 22px -277px;
}
nav.top ul li.plan_pricing a {
    background-position: 22px -71px;
}
nav.top ul li.plan_pricing a:hover, nav.top ul li.active.plan_pricing a {
    background-position: 22px -319px;
}
nav.top ul li.faq a {
    background-position: 22px -109px;
}
nav.top ul li.faq a:hover, nav.top ul li.active.faq a {
    background-position: 22px -357px;
}
nav.top ul li.about_us a {
    background-position: 22px -146px;
}
nav.top ul li.about_us a:hover, nav.top ul li.active.about_us a {
    background-position: 22px -394px;
}
nav.top ul li.contact_us a {
    background-position: 22px -186px;
}
nav.top ul li.contact_us a:hover, nav.top ul li.active.contact_us a {
    background-position: 22px -433px;
}
nav.top .patient_login {
    position: absolute;
    right: 10px;
    top: 6px;
}
nav.top .patient_login a {
    background: url("../../Images/index/patient-login.jpg") no-repeat scroll left top ;
    border: medium none;
    display: block;
    height: 30px;
    padding: 0;
    text-indent: -9999px;
    text-transform: uppercase;
    width: 131px;
}
.banner #free_trial {
    background: none repeat scroll 0 0 #00AAF0;
    border-radius: 10px;
    padding: 30px 40px 15px 15px;
    position: relative;
    width: 30.7%;
}
.banner #free_trial:before {
    background: url("../../Images/index/box-bottom.png") repeat-x scroll left top ;
    bottom: -70px;
    content: "";
    height: 70px;
    left: 0;
    position: absolute;
    width: 350px;
}
#free_trial .tag {
    background: url("../../Images/index/tag.png") repeat-x scroll left top ;
    color: #FFFFFF;
    display: block;
    font-size: 16px;
    height: 22px;
    left: 8px;
    padding: 5px 0 0;
    position: absolute;
    text-align: center;
    text-shadow: 1px 0 2px rgba(92, 130, 11, 0.75);
    top: -8px;
    width: 122px;
}
#free_trial h1 {
    color: #001B49;
    font-size: 30px;
    line-height: 30px;
    margin: 0 0 12px;
    text-shadow: 1px 0 2px rgba(255, 255, 255, 0.75);
}
#free_trial h1 span {
    display: block;
    font-size: 26px;
}
#free_trial .matter {
    background: url("../../Images/index/arrow-bend.png") no-repeat scroll right 25px ;
}
#free_trial .matter p {
    color: #FFFFFF;
    font-size: 20px;
    letter-spacing: -0.01em;
    line-height: 22px;
    margin: 0 0 15px;
    word-spacing: -0.05em;
}
#free_trial .matter label {
    color: #001B49;
    display: block;
    font-size: 26px;
    font-weight: bold;
    line-height: 28px;
    margin: 0 0 5px;
    text-shadow: 1px 0 2px rgba(255, 255, 255, 0.75);
}
#free_trial .textfield {
    font-size: 16px;
    margin: 0 0 10px;
    padding: 5px 10px;
}
.textfield {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #11779F;
    color: #999999;
    font-size: 18px;
    padding: 12px 10px;
    width: 92.5%;
}
.get_started {
    background: url("../../Images/index/get-started.png") no-repeat scroll left top ;
    border: medium none;
    display: block;
    height: 46px;
    text-indent: -9999px;
    text-transform: uppercase;
    width: 200px;
}
#free_trial .get_started {
    margin: 0 auto 10px;
}
#free_trial a {
    color: #FFFFFF;
    display: block;
    font-size: 15px;
    text-align: center;
}
.secure_mktng {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #E8ECF1;
    border-color: #C8C8C8 #C8C8C8 -moz-use-text-color;
    border-image: none;
    border-radius: 4px 4px 0 0;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    margin: 7px 0 0;
    padding: 9px 10px;
    text-align: center;
}
.secure_mktng h1 {
    font-weight: bold;
    margin: 2px 0 0;
}
.secure_mktng h1 span {
    color: #0691C5;
}
.find_dentist {
    display: block;
    padding-bottom: 15px;
    padding-top: 27px;
}
.find_dentist .row {
    padding-bottom: 15px;
}
.find_dentist input {
    border-radius: 0;
    vertical-align: top;
}
.find_dentist label {
    color: #FFFFFF;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    padding: 14px 12px 0 0;
    vertical-align: top;
}
.find_dentist input[type="text"] {
    margin: 0 11px 0 0;
    width: 23.3%;
}
.alphabet_list label {
    background: url("../../Images/index/arrow-list.png") no-repeat scroll right center ;
    color: #FFFFFF;
    float: left;
    font-size: 16px;
    font-weight: normal;
    line-height: 18px;
    margin-left: 145px;
    margin-right: 10px;
    padding: 2px 45px 0 0;
    vertical-align: top;
}
.alphabet_list ul {
    float: left;
    vertical-align: top;
}
.alphabet_list ul li {
    float: left;
}
.alphabet_list ul li a {
    color: #FFFFFF;
    display: block;
    font-size: 16px;
    padding: 2px 4px;
    text-decoration: none;
}
.alphabet_list ul li a:hover {
    background: none repeat scroll 0 0 #38C4FD;
    text-decoration: underline;
}
.recordlinc_info {
    padding: 25px 0;
    text-align: center;
}
.recordlinc_info p {
    color: #333333;
    font-size: 22px;
    line-height: 26px;
    margin: 0 0 10px;
    padding: 0 20px;
}
.recordlinc_info p span {
    color: #0691C5;
    display: block;
    font-size: 22px;
}
.dental_proffesions {
    background: url("../../Images/index/dentists.jpg") repeat scroll center top ;
    border-bottom: 3px solid #FFFFFF;
    padding: 72px 0;
    text-align: center;
}
.dental_proffesions .container 
{
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 25px 15px;
    width: 930px;
    
}
.dental_proffesions h2 {
    color: #0691C5;
    font-size: 46px;
    line-height: 52px;
}
.dental_proffesions h2 span {
    color: #001B49;
    display: block;
    font-size: 24px;
    line-height: 36px;
}
.dental_proffesions p {
    display: block;
    font-size: 20px;
    line-height: 24px;
    margin: 10px 0 20px;
}
.dental_proffesions ul {
    text-align: center;
}
.dental_proffesions ul li {
    display: inline-block;
    margin-left: 52px;
    vertical-align: top;
    width: 27.4%;
}
.dental_proffesions ul li:first-child {
    margin-left: 0;
}
.dental_proffesions ul li p {
    color: #333333;
    display: block;
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    margin: 15px 0;
}
.dental_video {
    border-bottom: 1px solid #FFFFFF;
    padding: 50px 0 35px;
}
.dental_video h3 {
    color: #333333;
    font-size: 32px;
    line-height: 39px;
}
.dental_video p {
    color: #767676;
    font-size: 18px;
    line-height: 20px;
    margin: 5px 0 0;
}
.dental_video .video_panel {
    margin: 32px 0 0;
    position: relative;
    z-index: 1;
}
.video_panel:before {
    background: url("../../Images/index/collectives.png") no-repeat scroll center 8px #EAEAEA;
    content: "";
    height: 327px;
    left: -122px;
    position: absolute;
    width: 384px;
    z-index: -1;
}
.video_panel .connects {
    float: left;
    padding: 54px 0 112px;
    position: relative;
    width: 28.8%;
    z-index: 1;
}
.connects ul li {
    background: none repeat scroll 0 0 #00AAF0;
    border-radius: 10px 0 0 10px;
    margin-top: 18px;
    padding: 16px 15px;
}
.connects ul li h4 {
    background: url("../../Images/index/sep.png") repeat-x scroll left bottom ;
    color: #FFFFFF;
    font-size: 22px;
    line-height: 26px;
    padding: 0 0 5px 5px;
}
.connects ul li h4 span {
    color: #082653;
}
.connects input[type="button"] {
    display: block;
    margin: 12px auto 0;
}
.video_panel .video_container {
    background: url("../../Images/index/videobg.png") no-repeat scroll center top ;
    float: left;
    height: 333px;
    margin-top: 32px;
    padding: 32px 25px 40px;
    width: 52.29%;
}
.video_container .video {
    height: 330px;
}
.connects .floating {
    bottom: 0;
    height: 139px;
    position: absolute;
    right: -8px;
    width: 117px;
}
.video_panel .techs {
    float: left;
    padding: 38px 0 0;
    width: 130px;
}
.techs ul li {
    line-height: 0;
    margin: 0;
    text-align: center;
    vertical-align: top;
}
.techs ul li .border {
    background: none repeat scroll 0 0 #00AAF0;
    display: block;
    height: 6px;
    margin-right: 20%;
    position: relative;
    top: 50px;
    z-index: 1;
}
.techs ul li i {
    background: url("../../Images/index/circular-sprites.png") no-repeat scroll left top ;
    display: block;
    height: 96px;
    margin: 0 auto;
    position: relative;
    text-indent: -9999px;
    width: 96px;
    z-index: 2;
}
.techs ul li i.connect {
    background-position: -7px -9px;
}
.techs ul li i.simplify {
    background-position: -123px -9px;
}
.techs ul li i.grow {
    background-position: -239px -9px;
}
.techs ul li p {
    font-size: 15px;
    line-height: 16px;
    margin: 0 0 5px;
    text-align: center;
}
.dental_specs .bgfull {
    left: 0;
    position: absolute;
    top: 0;
    z-index: 1;
}
.dental_specs {
    background: url("../../Images/index/dental_specs.jpg") no-repeat scroll center center / 100% auto #000000;
}
.dental_specs .container {
    padding: 80px 0 45px;
}
.dental_specs ul li {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CDCDCD;
    display: inline-block;
    margin: 0 0 0 14px;
    padding: 75px 11px 15px;
    position: relative;
    text-align: center;
    vertical-align: top;
    width: 20.5%;
}
/* .dental_specs ul li:first-child {
    margin-left: auto;
} */
.dental_specs ul li i {
    background: url("../../Images/index/circular-sprites.png") no-repeat scroll 0 0 ;
    display: block;
    height: 92px;
    left: 50%;
    margin: 0 0 0 -46px;
    position: absolute;
    text-indent: -9999px;
    top: -37px;
    width: 92px;
}
.dental_specs ul li i.dental_specialist {
    background-position: -7px -124px;
}
.dental_specs ul li i.dental_labs {
    background-position: -118px -124px;
}
.dental_specs ul li i.general_dentists {
    background-position: -229px -124px;
}
.dental_specs ul li i.dental_patients {
    background-position: -340px -124px;
}
.dental_specs ul li h5 {
    color: #0591C5;
    margin: 0 0 5px;
    text-transform: uppercase;
}
.dental_specs ul li p {
    color: #333333;
    font-size: 15px;
    letter-spacing: -0.01em;
    line-height: 26px;
}
.dental_testimonials {
    padding: 20px 0 0;
}
.dental_testimonials ul {
    padding: 0 0 30px;
}
.dental_testimonials ul li {
    float: left;
    margin-left: 70px;
    width: 45.3%;
}
.dental_testimonials ul li:first-child {
    margin-left: 15px;
}
.dental_testimonials ul li h5 {
    color: #0591C5;
    display: block;
    margin: 0 0 10px;
}
.dental_testimonials ul li h5 span {
    color: #666666;
    font-size: 12px;
    padding-left: 3px;
}
.dental_testimonials ul li .thumb {
    background: none repeat scroll 0 0 #C7C7C7;
    float: left;
    height: 62px;
    padding: 5px;
    width: 62px;
}
.dental_testimonials ul li blockquote {
    background: url("../../Images/index/testimonial-bg.jpg") repeat-y scroll left top #DDF4FD;
    border-radius: 6px;
    color: #333333;
    font-size: 13px;
    line-height: 16px;
    margin: 0 0 0 95px;
    padding: 15px 25px;
    position: relative;
}
.dental_testimonials ul li blockquote:before {
    background: url("../../Images/index/arrow-bq.jpg") no-repeat scroll left top ;
    content: "";
    height: 15px;
    left: -15px;
    margin-top: -20px;
    position: absolute;
    top: 50%;
    width: 15px;
}
.services_panel {
    padding: 0 0 50px;
}
#innerpg .services_panel {
    border-top: 4px solid #D7D7D7;
    padding: 45px 0 50px;
}
.services_panel ul li {
    display: block;
    float: left;
    padding: 0 1.0416%;
    text-align: center;
    width: 22.9%;
}
.services_panel ul li span {
    background: url("../../Images/index/services-sprite.png") no-repeat scroll left top ;
    display: block;
    height: 115px;
    margin: 0 auto 15px;
}
.services_panel ul li span.news {
    background-position: 5px center;
    width: 100px;
}
.services_panel ul li span.hipaa {
    background-position: -115px center;
    width: 110px;
}
.services_panel ul li span.testimonial {
    background-position: -249px center;
    width: 120px;
}
.services_panel ul li span.demo {
    background-position: -396px center;
    width: 140px;
}
.services_panel ul li a {
    color: #333333;
    display: block;
    font-size: 18px;
    opacity: 0.8;
    text-decoration: none;
    transition: all 0.2s ease-in 0s;
}
.services_panel ul li a:hover {
    opacity: 1;
}
.fnew {
    background: none repeat scroll 0 0 #EAEAEA;
    float: none;
    padding: 35px 0;
    position: inherit;
    text-align: left;
}
.fnew .container {
    position: relative;
}
.fnew img {
    vertical-align: top;
}
.fnew ul li {
    display: block;
    float: left;
    padding: 0 15px 0 0;
}
.fnew .block1 {
    margin: 0;
    width: 13.4%;
}
.fnew .block2 {
    margin: 0;
    width: 15.9%;
}
.fnew .block3 {
    margin: 0;
    width: 15.8%;
}
.fnew ul li h4 {
    color: #0591C5;
    display: block;
    font-size: 18px;
    margin: 0 0 10px;
    padding: 0;
    text-transform: none;
}
.fnew ul li ul li {
    clear: both;
    display: block;
    float: none;
    margin: 0 0 5px;
}
.fnew ul li ul li a {
    color: #666666;
    font-size: 14px;
    text-decoration: none;
}
.fnew ul li ul li a:hover {
    color: #000000;
}
.fnew ul.socials a {
    background: url("../../Images/index/social-sprites.png") no-repeat scroll left top ;
    display: inline-block;
    height: 27px;
    margin: 0 8px 5px 0;
    text-indent: -9999px;
    transition: all 0.5s ease 0s;
    width: 27px;
}
.fnew ul.socials .fb-icon {
    background-position: 0 0;
}
.fnew ul.socials .fb-icon:hover {
    background-position: left -71px;
}
.fnew ul.socials .gp-icon {
    background-position: -39px 0;
}
.fnew ul.socials .gp-icon:hover {
    background-position: -39px -71px;
}
.fnew ul.socials .tw-icon {
    background-position: -78px 0;
}
.fnew ul.socials .tw-icon:hover {
    background-position: -78px -71px;
}
.fnew ul.socials .ln-icon {
    background-position: -119px 0;
}
.fnew ul.socials .ln-icon:hover {
    background-position: -119px -71px;
}
.fnew ul.socials .pt-icon {
    background-position: 0 -38px;
}
.fnew ul.socials .pt-icon:hover {
    background-position: 0 -109px;
}
.fnew ul.socials .dr-icon {
    background-position: -39px -38px;
}
.fnew ul.socials .dr-icon:hover {
    background-position: -39px -109px;
}
.fnew ul.socials .yt-icon {
    background-position: -78px -38px;
}
.fnew ul.socials .yt-icon:hover {
    background-position: -78px -109px;
}
.fnew ul.socials .vm-icon {
    background-position: -119px -38px;
}
.fnew ul.socials .vm-icon:hover {
    background-position: -119px -109px;
}
.flogos {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #D8D8D8;
    border-top: 1px solid #D8D8D8;
    margin: 30px 0 0;
}
.flogos ul li {
    display: inline-block;
    float: none;
    padding: 0;
}
.flogos ul li img {
    vertical-align: middle;
    width: auto;
}
.flogos ul li a#siteSealFauxBadge {
    display: inline-block;
    margin: 25px auto 30px;
    vertical-align: middle;
}
p.copyright {
    background: none repeat scroll 0 0 #FFFFFF;
    display: block;
    font-size: 12px;
    height: auto;
    margin: 0;
    padding: 15px 0;
    text-align: center;
}
p.copyright span {
    display: block;
}
p.copyright a {
    color: #000000;
    text-decoration: none;
}
.loginpop {
    display: inline-block;
    position: relative;
    z-index: 9999;
}
.MemberLogin .loginbtn:hover, .MemberLogin.active .loginbtn {
    background: url("../../Images/index/login.png") no-repeat scroll left bottom ;
    outline: medium none;
}
.MemberLoginDropDown {
    background: none repeat scroll 0 0 #B1BCCE;
    display: none;
    position: absolute;
    right: 0;
    top: 24px;
    width: 262px;
    z-index: 9999;
}
.MemberLoginDropDown {
    padding: 13px;
    transition: none 0s ease 0s;
    width: 236px;
}
.MemberLoginDropDown .MemberLoginCloseBtn {
    float: right;
    margin-top: 8px;
}
.MemberLoginDropDown ul {
    float: left;
    margin: 2px 0 0;
    width: 100%;
}
.MemberLoginDropDown ul li {
    float: left;
    margin: 0 0 5px;
    padding: 0;
    width: 100%;
}
.MemberLoginDropDown ul li label {
    color: #FFFFFF;
    display: block;
    font-size: 0.8125em;
    margin: 0 0 6px;
    padding: 0;
}
.MemberLoginDropDown ul li input[type="submit"], .MemberLoginDropDown .submitbtn {
    background: none repeat scroll 0 0 #0691C5;
    border: medium none;
    color: #FFFFFF;
    display: inline-block;
    float: left;
    font-size: 16px;
    padding: 8px 0;
    text-align: center;
    width: 90px;
}
.MemberLoginDropDown .input_border {
    background-color: #FFFFFF;
    border: 1px solid #95A0B2;
    display: inline-block;
    height: 34px;
    margin: 0 0 10px;
    padding: 0 4px;
    width: 95.7%;
}
.MemberLoginDropDown .patient_icon {
    background: url("../../Images/index/icon_2.png") no-repeat scroll -286px 6px ;
    float: left;
    height: 28px;
    width: 18px;
}
.MemberLoginDropDown .input_box_login {
    background-color: #FFFFFF;
    border: 0 none;
    color: #666666;
    float: left;
    font-size: 12px;
    font-weight: normal;
    line-height: 14px;
    margin: 0;
    padding: 10px 0;
    width: 68%;
}
.MemberLoginDropDown .input_box_login:hover, .MemberLoginDropDown .input_box_login:focus {
    border: medium none;
}
.forgot {
    background: url("../../Images/index/forget_btn.png") no-repeat scroll left top ;
    border: medium none;
    float: right;
    height: 26px;
    margin: 4px 0 0;
    padding: 0;
    text-indent: -9999px;
    text-transform: uppercase;
    width: 52px;
}
.MemberLoginDropDown .password_icon {
    background: url("../../Images/index/icon_2.png") no-repeat scroll -310px 6px ;
    float: left;
    height: 28px;
    width: 18px;
}
.MemberLoginDropDown ul li input[type="submit"], .MemberLoginDropDown .submitbtn {
    background: none repeat scroll 0 0 #0691C5;
    border: medium none;
    color: #FFFFFF;
    display: inline-block;
    float: left;
    font-size: 16px;
    padding: 8px 0;
    text-align: center;
    width: 90px;
}
.MemberLoginDropDown .MemberLoginCloseBtn {
    float: right;
    margin-top: 8px;
}
.MemberLoginCloseBtn img {
    width: auto;
}
#inner {
    padding: 52px 0;
}
#inner p {
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 15px;
}
.aside {
    float: right;
    margin: 0 12px 0 0;
    width: 280px;
}
.aside img {
    display: block;
}
.content {
    float: none;
    margin: 0;
    padding: 0;
    width: auto;
}
.content {
    float: left;
    padding: 10px 25px 15px 0;
    width: 66.979%;
}
h2.title {
    font-size: 34px;
    line-height: 40px;
    margin: 0 0 15px;
    position: relative;
}
h2.title input[type="submit"], h2.title input[type="button"] {
    position: absolute;
    right: 0;
    top: 0;
}
h3.sub {
    font-size: 18px;
    padding: 10px 0 5px;
}
h6.sub {
    font-weight: bold;
    padding: 10px 0 5px;
}
ul.listing {
    margin: 0 0 20px 15px;
}
ul.listing li {
    color: #666666;
    font-size: 14px;
    line-height: 23px;
    list-style: disc outside none;
    margin-top: 5px;
}
ul.listing li:first-child {
    margin-top: 0;
}
.subtitle {
    color: #666666;
    display: block;
    font-size: 22px;
    line-height: 26px;
    padding: 10px 0 0;
}
.textpanel {
    padding: 15px 0 0;
}
.job_listing h5 {
    border-bottom: 3px solid #C7C7C7;
    font-weight: bold;
    padding-bottom: 10px;
}
ul.blisting {
    overflow: auto;
}
ul.blisting li {
    border-bottom: 1px solid #CFCECE;
    border-top: 1px solid #FFFFFF;
    display: block;
    padding: 15px 0;
    vertical-align: top;
}
ul.blisting li:first-child {
    border-top: medium none;
}
ul.blisting .title {
    float: left;
    padding-right: 20px;
    width: 66.9%;
}
ul.blisting .links {
    float: right;
    text-align: right;
    width: 29.9%;
}
ul.blisting .title a {
    text-decoration: none;
}
.contact_form {
    padding: 45px 0 20px;
}
.contact_form .block1 {
    float: left;
    width: 50%;
}
.contact_form .block2 {
    float: right;
    padding: 0 0 0 35px;
    width: 46.3%;
}
.contact_form label {
    color: #6B6767;
    display: block;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    padding: 0 0 10px;
    text-align: left;
}
.mandatory {
    color: #FF0000;
    font-size: 16px;
    font-weight: bold;
    padding-left: 3px;
    vertical-align: top;
}
.contact_form ul li {
    display: block;
    margin: 0 0 24px;
}
.contact_form ul li.action {
    text-align: right;
}
.contact_form input.textfield[type="text"], .contact_form textarea {
    background: url("../../Images/inner/contact_sprites.png") no-repeat scroll -100px 100px #FFFFFF;
    border: 1px solid #FFFFFF;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.22);
    font-size: 14px;
    margin: 0;
    padding: 9px 10px 9px 30px;
    resize: none;
    transition: all 0.3s ease-in-out 0s;
    width: 83.3%;
}
.contact_form input.name[type="text"] {
    background-position: 0 -3px;
}
.contact_form input.phone[type="text"] {
    background-position: 0 -46px;
}
.contact_form input.email[type="text"] {
    background-position: 0 -85px;
}
.contact_form textarea.message {
    background-position: 0 -114px;
    height: 196px;
}
.contact_form textarea {
    width: 90%;
}
.contact_form input.textfield[type="text"]:hover, .contact_form input.textfield[type="text"]:focus, .contact_form textarea:hover, .contact_form textarea:focus {
    border: 1px solid #77C6FE;
}
.contact_address {
    padding: 55px 0 0;
}
.contact_address img {
    width: auto;
}
.contact_address .address .block {
    float: left;
    padding-left: 10px;
    width: 32.3%;
}
.contact_address .address .block:first-child {
    padding-left: 0;
}
.contact_address h3 {
    color: #001B49;
}
ul.info li {
    font-size: 16px;
    line-height: 22px;
}
.contact_address ul.info {
    margin: 5px 0 25px;
}
.gmap {
    border: 1px solid #D0CFCF;
    float: right;
    width: 68%;
}
.faq_img {
    margin: 0 auto;
    width: 72.8%;
}
.recordlinc_growth {
}
.recordlinc_growth .figure {
    float: left;
    margin-right: 4.6%;
    width: 45.1%;
}
.recordlinc_growth .figure img {
    width: auto;
}
.recordlinc_growth .text {
    float: right;
    padding: 0 22px 0 0;
    width: 46.7%;
}
#inner .recordlinc_growth .text p {
    color: #78797b;
    font-size: 20px;
    line-height: 23px;
    text-align: left;
}

.recordlinc_growth .text p span {
    color: #2C292A;
    display: block;
    font-size: 25px;
}
.recordlinc_growth .text ul.info li {
    font-size: 20px;
    line-height: 29px;
}
.hylyt {
    background: url("../../Images/inner/hylyt-arrow.png") no-repeat scroll left 4px ;
    font-size: 17px;
    line-height: 20px;
    padding-left: 20px;
    text-transform: uppercase;
}
.steps {
}
.steps ul li {
    display: inline-block;
    width: 33.3%;
}
.recordlinc_features {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CDCDCD;
    margin: 15px 0 0;
}
.recordlinc_features .thead {
    background: url("../../Images/inner/bg-head.jpg") repeat-x scroll left bottom #F1F1F1;
    height: 43px;
    line-height: 43px;
    padding: 0 0 0 15px;
}
.recordlinc_features .thead h3 {
    line-height: 43px;
}
.recordlinc_features .tbody {
    padding: 15px;
}
.recordlinc_features ul.tbody li {
    background: url("../../Images/inner/tbody.jpg") repeat-y scroll right top ;
    border: 1px solid #CDCDCD;
    color: #717171;
    display: block;
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 12px;
    padding: 12px 80px 12px 12px;
    position: relative;
}
.recordlinc_features ul.tbody li .tick {
    margin-top: -15px;
    position: absolute;
    right: 12px;
    top: 50%;
    width: auto;
}
#advertisement {
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 20px 0 0;
    padding: 0;
}
#advertisement .text {
    background: url("../../Images/inner/advrt-bg.jpg") no-repeat scroll left top ;
    color: #FFFFFF;
    float: left;
    font-size: 22px;
    letter-spacing: -0.03em;
    line-height: 26px;
    padding: 17px 80px 17px 35px;
    width: 49.6%;
    word-spacing: -0.05em;
}
#advertisement .price {
    float: right;
    padding: 10px 0 0;
    text-align: center;
    width: 31.4%;
}
#advertisement .price p {
    color: #023666;
    font-size: 38px;
    font-style: italic;
    font-weight: bold;
    line-height: 37px;
    margin-bottom: 5px;
}
#advertisement .price p span {
    color: #666666;
    display: block;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
}
#advertisement .price img {
    margin: 0 auto;
    position: static;
    vertical-align: bottom;
}
.contactus {
    background: none repeat scroll 0 0 #E7E7E7;
    margin: 0 0 25px;
    padding: 15px;
}
.contactus h3 {
    font-weight: bold;
}
.contactus h3 span {
    color: #17335D;
}
.contactus form {
    margin: 15px 0 0;
}
.contactus form ul li {
    margin: 0 0 10px;
}
.contactus input[type="text"], .contactus textarea {
    border: 1px solid #B4B4B4;
    color: #C2C2C2;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    width: 91.2%;
}
.contactus .action {
    text-align: center;
}
.contactus .verification {
    font-size: 12px;
    margin: 20px 0;
}
.verification a {
    display: block;
}
.verification .text {
    float: left;
    font-weight: bold;
    text-align: left;
    width: 60%;
}
.verification .image {
    float: right;
    width: 40%;
}
.recordlinc_news {
}
ul.news > li {
    border-bottom: 1px solid #C7C7C7;
    border-top: 1px solid #FFFFFF;
    padding: 25px 0;
}
ul.news > li:first-child {
    border-top: medium none;
    padding-top: 15px;
}
ul.news li .thumb {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C5C5C5;
    float: left;
    width: 214px;
}
ul.news li .thumb img {
    display: block;
}
ul.news li .text {
    margin-left: 235px;
    /*padding: 5px 100px 0 0;*/
}
ul.news li .text h5 {
    color: #0691C5;
}
ul.news li .text h5 a {
    text-decoration: none;
}
#inner ul.news li .text p {
    color: #333333;
    margin: 15px 0 0;
}
#inner ul.news li.action {
    border: medium none;
    text-align: center;
}
.quicktour {
}
.quicktour ul.tour {
    margin-left: -12px;
}
ul.tour li, #md_qt ul.tour li {
    display: inline-block;
    margin: 0 0 25px;
    text-align: center;
    vertical-align: top;
    width: 128px;
}
ul.tour li a {
    text-decoration: none;
}
ul.tour li span {
    background: url("../../Images/inner/quicktour-sprites.png") no-repeat scroll 100px 100px ;
    display: inline-block;
    height: 110px;
    margin: 0 auto;
    width: 128px;
}
ul.tour li span.dashboard {
    background-position: 10px 0;
}
ul.tour li span.inbox {
    background-position: -125px 0;
}
ul.tour li span.profile {
    background-position: -260px 0;
}
ul.tour li span.patients {
    background-position: -395px 0;
}
ul.tour li span.colleagues {
    background-position: -530px 0;
}
ul.tour li span.referrals {
    background-position: 10px -148px;
}
ul.tour li span.eforms {
    background-position: -125px -148px;
}
ul.tour li span.studyclubs {
    background-position: -260px -148px;
}
ul.tour li span.marketing {
    background-position: -395px -148px;
}
ul.tour li span.reports {
    background-position: -530px -148px;
}
ul.tour li h5 {
    color: #666666;
    font-weight: normal;
    padding: 0 5px;
    text-align: center;
}
.demo_panel {
    clear: left;
    margin: 0 0 10px;
    padding: 30px 0 0;
}
.demo_panel .demo {
    position: relative;
    text-align: center;
}
.demo_panel .demo img {
    position: relative;
    width: auto;
    z-index: 1;
}
.demo_panel .demo .watchdemo {
    left: 44%;
    position: absolute;
    top: 32%;
    z-index: 2;
}
.demo_panel h2.title {
    margin-bottom: 32px;
}
.my_dentalfiles {
    background: none repeat scroll 0 0 #E0E0E0;
    margin: 40px 0;
    padding: 25px 0 0;
    position: relative;
    text-align: center;
}
.my_dentalfiles:before {
    background: url("../../Images/inner/paperclip.png") no-repeat scroll 0 0 ;
    content: "";
    height: 61px;
    position: absolute;
    right: 12px;
    top: -4px;
    width: 31px;
}
.my_dentalfiles h3 {
    display: block;
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
    padding: 0 20px;
}
.my_dentalfiles h4 {
    color: #333333;
    font-weight: bold;
    margin: 20px 0;
    padding: 0 20px;
}
.my_dentalfiles ul.tour li {
    width: 50%;
}
.my_dentalfiles ul.tour li a {
    text-decoration: none;
}
.my_dentalfiles ul.tour li span {
    background: url("../../Images/inner/dentalfiles-sprites.png") no-repeat scroll 100px 100px ;
}
.my_dentalfiles ul.tour li span.myinbox {
    background-position: 5px -10px;
}
.my_dentalfiles ul.tour li span.myinfo {
    background-position: -132px -10px;
}
.my_dentalfiles ul.tour li span.treatingdocs {
    background-position: 5px -158px;
}
.my_dentalfiles ul.tour li span.dentalfiles {
    background-position: -132px -158px;
}
.my_dentalfiles ul.tour li h5 {
    color: #333333;
    font-size: 15px;
    font-weight: bold;
}
.other_video {
    background: url("../../Images/inner/video-bg.png") no-repeat scroll 0 0 ;
    height: 390px;
    overflow: auto;
}
.other_video .video {
    height: 330px;
    margin: 33px 26px 0;
}
.other_video .video img {
    display: block;
}
ul.vthumbs {
    margin: 20px 0 0;
}
ul.vthumbs li {
    display: inline-block;
    margin: 0 0 0 3.42%;
    text-align: center;
    vertical-align: top;
    width: 22.4%;
}
ul.vthumbs li:first-child {
    margin-left: 0;
}
ul.vthumbs li .thumb {
    border: 1px solid #CCCCCC;
}
ul.vthumbs li .thumb img {
    display: block;
}
#inner ul.vthumbs li p {
    color: #333333;
    margin: 10px 0 0;
    padding: 0 8px;
}
#md_qt.my_dentalfiles {
    background: none repeat scroll 0 0 ;
    display: none;
    margin: inherit;
    padding: inherit;
    text-align: left;
}
#md_qt.my_dentalfiles:before {
    display: none;
}
.team ul.news > li {
    background: url("../../Images/inner/bg-bottom.jpg") repeat-x scroll 0 bottom #FFFFFF;
    border: medium none;
    padding: 20px;
}
.team ul.news li .thumb {
    border: medium none;
    width: 150px;
}
.team ul.news li .text {
    margin-left: 180px;
    padding: 0;
}
.team ul.news li .text h2 {
    font-size: 26px;
}
.team ul.news li .text h2 span {
    color: #333333;
    display: block;
    font-size: 18px;
}
#inner .team ul.news li .text p {
    line-height: 18px;
    margin: 5px 0 0;
}
ul.social {
    margin: 5px 0;
}
ul.social li {
    display: inline-block;
    margin-right: 2px;
}
ul.social li a {
    background: url("../../Images/inner/social-sprites.jpg") no-repeat scroll 100px 100px ;
    display: block;
    height: 21px;
    text-indent: -9999px;
    width: 23px;
}
ul.social li a.fb {
    background-position: 0 0;
}
ul.social li a.in {
    background-position: -28px 0;
}
ul.social li a.bg {
    background-position: -56px 0;
}
ul.social li a.tw {
    background-position: -84px 0;
}
ul.social li a.dig {
    background-position: -113px 0;
}
ul.social li a.www {
    background-position: -141px 0;
}
.hylyt_box {
    background: url("../../Images/inner/cloudy.jpg") no-repeat scroll center top #FFFFFF;
    border: 1px solid #F8F8F8;
    border-radius: 5px;
    box-shadow: 0 0 3px #DBDBDB;
    margin: 0 0 20px;
    padding: 5px;
}
.hylyt_box .text {
    border: 1px dashed #9EDDFA;
    padding: 20px;
    text-align: center;
}
.hylyt_box .text img {
    margin: 0 auto 10px;
    width: auto;
}
.hylyt_box h4 {
    font-size: 26px;
    line-height: 30px;
    margin: 25px 0 10px;
}
ul.even > li {
    display: inline-block;
    vertical-align: top;
    width: 49.5%;
}
.sitemap ul.even {
    margin-bottom: 15px;
}
ul.listicons {
    margin: 0;
}
ul.listicons > li {
    background: url("../../Images/inner/bullet.png") no-repeat scroll left 13px ;
    padding: 8px 10px 7px 15px;
}
ul.listicons > li a {
    font-size: 16px;
    text-decoration: none;
}
ul.sublisticons {
    margin: 5px 0 0;
}
ul.sublisticons > li {
    background: url("../../Images/inner/sub-bullet.png") no-repeat scroll left 7px ;
    padding: 2px 0 0 12px;
}
ul.sublisticons > li a {
    color: #666666;
    font-size: 13px;
}
ul.sublisticons > li a:hover {
    color: #14315B;
}
#signup_today {
    margin: 0 0 52px;
}
#signup_today .signup_panel h3 {
    background: none repeat scroll 0 0 #2CB1E2;
    color: #FFFFFF;
    display: inline-block;
    font-size: 52px;
    font-weight: normal;
    line-height: 52px;
    padding: 5px 35px 5px 15px;
    text-transform: uppercase;
    width: auto;
}
.signup_panel .trial_banner {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D1D1D1;
    padding: 10px 320px 0 18px;
    position: relative;
}
.trial_banner > h4 {
    color: #333333;
    display: block;
    font-size: 70px;
    font-weight: normal;
    line-height: 70px;
    margin-bottom: 20px;
    text-transform: none;
}
.trial_banner .ref_img {
    margin-left: 55px;
}
.trial_banner .ref_img img {
    vertical-align: bottom;
}
.trial_banner .free_trial_accnt {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D1D1D1;
    position: absolute;
    right: 13px;
    text-align: center;
    top: -25px;
    width: 28.9%;
}
.free_trial_accnt .hr {
    background: none repeat scroll 0 0 #0691C5;
    border: medium none;
    height: 2px;
    margin: 0 0 10px;
    vertical-align: top;
}
.free_trial_accnt form {
    display: block;
    padding: 0 20px 20px;
}
.free_trial_accnt form input[type="text"] {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C5C5C5;
    color: #666666;
    font-size: 16px;
    margin: 0 0 5px;
    padding: 5px 10px;
    width: 90.7%;
}
.free_trial_accnt form input[type="submit"] {
    background: url("../../Images/inner/get-started.jpg") no-repeat scroll left top ;
    border: medium none;
    display: block;
    height: 49px;
    margin: 12px auto 15px;
    text-indent: -9999px;
    text-transform: uppercase;
    width: 181px;
}
.free_trial_accnt a {
    display: block;
    font-size: 16px;
    text-decoration: underline;
}
.free_trial_accnt a + a {
    margin-top: 5px;
}
.free_trial_accnt a + a {
    color: #666666;
    font-size: 14px;
}
.free_trial_accnt a:hover {
    text-decoration: none;
}
.free_trial_accnt h4 {
    color: #333333;
    display: block;
    font-size: 25px;
    font-weight: normal;
    line-height: 28px;
    margin: 10px 0 3px;
    padding: 0;
    text-align: left;
    text-transform: none;
}
.free_trial_accnt h4 span {
    color: #0691C5;
    display: block;
    font-size: 20px;
    line-height: 28px;
    padding: 2px 0 0;
    text-transform: uppercase;
}
#signup_today .free_trial_accnt p {
    color: #666666;
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 8px;
    padding: 0;
    text-align: left;
}
.sectn {
    background: url("../../Images/inner/shadow-top.png") no-repeat scroll center top #FFFFFF;
}
.demotrial_panel {
    padding: 30px 0 8px;
    position: relative;
}
.demotrial_panel:before {
    background: url("../../Images/inner/shadow-bottom.png") no-repeat scroll center 8px ;
    bottom: 0;
    content: "";
    height: 10px;
    left: 0;
    position: absolute;
    width: 100%;
}
.demotrial_panel .watch_demo {
    float: left;
    width: 300px;
}
.demotrial_panel .demo_content {
    padding: 10px 0 0;
}
.demo_content h5 {
    color: #0591C5;
    display: block;
    font-size: 32px;
    font-weight: normal;
    line-height: 34px;
    margin: 0 0 10px;
    text-transform: none;
}
#inner .demo_content p {
    color: #666666;
    font-size: 17px;
    line-height: normal;
    margin: 0 0 25px;
    padding: 0;
}
.demo_content .hylyt {
    text-transform: none;
}
.hylyt span {
    color: #0691C5;
    font-size: 20px;
    line-height: 22px;
    text-transform: uppercase;
}
ul li.hylyt {
    margin-bottom: 3px;
}
.demo_content ul {
    overflow: hidden;
}
ul.blocks li {
    background: none repeat scroll 0 0 #F1F1F1;
    float: left;
    min-height: 160px;
    padding: 15px;
    text-align: center;
    width: 43.9%;
}
#inner ul.blocks li p {
    margin: 0;
}
ul.blocks li + li {
    float: right;
}
h3.trial {
    background: url("../../Images/inner/ribbon.png") no-repeat scroll center top ;
    color: #FFFFFF;
    display: block;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    margin: 7px 0;
    padding: 20px 0 5px;
    text-align: center;
    text-transform: uppercase;
}
ul.blocks li h3.trial + p {
    color: #333333;
}
ul.blocks li h3.trial + p small {
    color: #666666;
    display: block;
    font-size: 16px;
}
.demo_content .steps {
    background: url("../../Images/inner/arrow.jpg") no-repeat scroll 13px center ;
    margin: 15px 0 0;
    overflow: auto;
    padding-left: 75px;
}
#testimonials {
    margin: 40px auto 48px;
    padding: 10px 20px 0;
    width: 920px;
}
#testimonials .demotrial_panel {
    padding: 0 0 25px;
    position: relative;
}
#testimonials h6 {
    color: #0691C5;
    display: block;
    font-size: 26px;
    font-weight: normal;
    line-height: 30px;
    margin-bottom: 15px;
    padding: 0;
}
#testimonials .thumb {
    float: left;
    height: 120px;
    overflow: hidden;
    width: 115px;
}
#testimonials .thumb img {
    width: 115px;
}
#testimonials .text {
    background: url("../../Images/inner/blockquote.jpg") no-repeat scroll left top ;
    color: #666666;
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 0 145px;
    text-indent: 28px;
}
#testimonials .text small {
    color: #333333;
    display: block;
    font-size: 15px;
    font-style: italic;
    margin-top: 15px;
    text-indent: 0;
}
.searchpage_content {
    background-color: #FAFAFA;
    border: 1px solid #C8C8C8;
    margin: 0 0 20px;
}
h3.titlebg {
    background: url("../../Images/inner/blue_heading_bg.png") no-repeat scroll center top ;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: normal;
    padding: 10px 15px 20px;
    text-align: center;
}
ul.searchpage_listing {
    list-style: none outside none;
    margin: 0;
    padding: 10px;
}
ul.searchpage_listing li {
    list-style: none outside none;
    margin: 0;
    padding: 0 0 8px;
}
ul.searchpage_listing li input[type="text"], ul.searchpage_listing li select {
    background-color: #FFFFFF;
    border: 1px solid #C1C2C2;
    color: #2C292B;
    font-size: 14px;
    padding: 10px;
    width: 91.4%;
}
ul.searchpage_listing li select {
    width: 99.64%;
}
ul.searchpage_listing li.keywords {
    position: relative;
}
ul.searchpage_listing li.keywords .search_btn_1 {
    position: absolute;
    right: 4px;
    top: 4px;
}
ul.searchpage_listing li.keywords input[type="text"] {
    padding-right: 40px;
    width: 79.8%;
}
.search_btn_1 {
    background: url("../../Images/inner/search_blue_btn.png") no-repeat scroll center 2px ;
    height: 30px;
    padding: 0;
    width: 30px;
}
.search_listing > li {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C8C8C8;
    display: inline-block;
    margin: 0 12px 15px 0;
    padding: 10px;
    vertical-align: top;
    width: 45.2%;
}
.search_listing > li.evenitem {
    margin-right: 0;
}
.search_listing .check {
    float: left;
    width: 30px;
}
.search_listing .check input[type="checkbox"] {
    margin-top: 40px;
}
.search_listing .thumb {
    float: left;
    height: auto!important;
    padding-top: 3px;
    width: 90px;
}
.search_listing .description {
    display: block;
    margin-left: 132px;
}
.search_listing .description a {
    text-decoration: none;
}
.search_listing .description h2 {
    color: #0691C5;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
}
.description h2 .sub_heading {
    display: block;
    font-size: 12px;
    font-weight: normal;
}
.search_listing .action {
    display: block;
    margin: 3px 0 0 132px;
}
.add_dentist {
    background: url("../../Images/inner/add_dentist.jpg") no-repeat scroll 0 top ;
    height: 27px;
    width: 119px;
}
ul.list li {
    color: #666666;
    font-size: 12px;
    line-height: 14px;
    padding: 4px 0 0;
    text-align: left;
}
.personal_notes {
    padding: 0 0 20px;
}
.personal_notes h1 {
    color: #666666;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
.personal_notes .message_panel {
    background-color: #FAFAFA;
    border-color: #C8C8C8;
    border-style: solid;
    border-width: 1px 1px 4px;
    padding: 10px;
    position: relative;
}
.message_panel .text_area {
    background-color: #FFFFFF;
    border: 1px solid #ABADB3;
    color: #666666;
    font-size: 14px;
    height: 70px;
    margin-bottom: 10px;
    padding: 10px;
    width: 96.3%;
}
.button_2_submit {
    background: url("../../Images/inner/submit_btn.jpg") no-repeat scroll 0 0 ;
    border: 0 none;
    display: block;
    height: 39px;
    width: 119px;
}
.message_panel .button_2_submit {
    margin: 10px 0 0;
}
.personal_notes .invite_txt {
    padding-right: 145px;
    position: relative;
}
.invite_txt .send_invite_btn {
    position: absolute;
    right: 0;
    top: 0;
}
.input_box_invite {
    -moz-box-sizing: border-box;
    background-color: #FFFFFF;
    border: 1px solid #D0D0D0;
    color: #959494;
    font-size: 14px;
    max-width: 100%;
    padding: 11px 40px 11px 10px;
    width: 100%;
}
.personal_notes .close_btn {
    background: url("../../Images/inner/close_btn.png") no-repeat scroll 0 3px ;
    border: 0 none;
    cursor: pointer;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 5px;
    width: 24px;
}
.send_invite_btn {
    background: url("../../Images/inner/send_invite_btn.png") no-repeat scroll 0 0 ;
    border: 0 none;
    height: 39px;
    text-align: right;
    width: 136px;
}
.filter_sepciality ul {
    padding: 10px;
}
.filter_sepciality ul li {
    background-color: #F6F6F6;
    border: 1px solid #D3D3D3;
    color: #2C292B;
    font-weight: normal;
    line-height: 22px;
    margin-bottom: 3px;
    margin-top: 3px;
    padding: 6px;
}
.filter_sepciality ul li:hover {
    border: 1px solid #77C6FE;
}
.filter_sepciality ul li:first-child {
    margin-top: 0;
}
.filter_sepciality ul li input[type="checkbox"] {
    display: inline-block;
    vertical-align: middle;
}
.filter_sepciality ul li label {
    display: inline;
    font-size: 13px;
    margin-left: 5px;
    vertical-align: middle;
}
#leftaside {
    float: left;
    margin: 0;
    text-align: left;
    width: 280px;
}
#leftaside + .content {
    float: right;
    margin: 0 8px 0 0;
    padding: 0 0 0 25px;
}
.invite_dentist {
    background: url("../../Images/inner/invite_dentist.jpg") no-repeat scroll 0 0 ;
    height: 40px;
    width: 160px;
}
#common_right {
}
#common_right .content {
    float: left;
    padding-right: 0;
    width: 100%;
}
#common_right #leftaside {
    float: left;
    margin-left: -100%;
}
#common_right #rightpanel {
    margin-left: 295px;
}
#email_confirm.content {
    float: none;
    width: auto;
}
.forgot_pswd .text {
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 10px;
}
#inner .forgot_pswd p {
    border: 1px dashed #D9D9D9;
    color: #666666;
    display: block;
    font-size: 13px;
    line-height: 20px;
    margin: 0;
    padding: 15px 40px;
    text-align: center;
    text-transform: uppercase;
}
.forgot_pswd .bottom {
    background: url("../../Images/inner/forgot-bg.png") no-repeat scroll center bottom ;
    height: 18px;
}
.input_pswd {
    font-size: 0;
    margin: 10px 0;
    text-align: center;
}
.input_pswd * {
    vertical-align: top;
}
.input_pswd .textfield {
    border: 1px solid #CCCCCC;
    width: 68.4%;
}
.reset_pswd {
    background: url("../../Images/inner/reset-pwsd.png") no-repeat scroll left top ;
    border: medium none;
    height: 46px;
    margin-left: 10px;
    padding: 0;
    text-indent: -9999px;
    text-transform: uppercase;
    width: 171px;
}
@media only screen and (max-width: 959px) {
body .dn {
    display: none;
}
.inline, .aside .inline {
    display: inline-block;
    vertical-align: top;
}
header .logo {
    margin-left: 12px;
}
.container {
    width: auto;
}
.content {
    float: none;
    padding: 0 0 15px;
    width: auto;
}
#inner {
    padding: 30px 0;
}
#inner .container, #innerpg .services_panel, #home .container {
    margin: 0 20px;
}
h2.title {
    text-align: center;
}
.flogos {
    text-align: center;
}
.quicktour ul.tour {
    margin-left: 0;
    text-align: center;
}
ul.tour li {
    margin-left: 14px;
}
.other_video {
    margin: 0 auto;
    width: 642px;
}
ul.vthumbs {
    text-align: center;
}
ul.vthumbs li {
    margin-bottom: 10px;
}
.aside {
    float: none;
    margin-right: 0;
    text-align: center;
    width: auto;
}
.aside a.advert > img {
    margin: 0;
    width: 48%;
}
.aside > a.advert + a.advert {
    margin-left: 2.6%;
}
.my_dentalfiles {
    margin-bottom: 0;
    text-align: center;
    width: auto;
}
.my_dentalfiles ul.tour {
    text-align: center;
}
.my_dentalfiles ul.tour li {
    margin: 0 0 20px;
    width: 20%;
}
.my_dentalfiles ul.tour li span {
}
.fnew .container {
    padding: 0 20px;
}
.fnew .container > ul > li {
    padding-right: 0;
}
.fnew .block1, .fnew .block2, .fnew .block3 {
    width: 25%;
}
.fnew .rpro {
    right: 20px;
}
.scrollup {
    bottom: 30px;
    right: 30px;
}
.steps {
    text-align: center;
}
.recordlinc_growth .text {
    padding-right: 0;
    width: 49.6%;
}
.contact_form .block2 {
    width: 45%;
}
.contact_form textarea {
    width: 87.5%;
}
.contactus {
    width: 43.8%;
}
.social_tabs {
    margin-left: 2.6%;
    width: 48%;
}
.signup_panel .trial_banner {
    height: 315px;
    padding: 25px 300px 0 18px;
}
.trial_banner .ref_img {
    bottom: 0;
    margin-left: 0;
    position: absolute;
}
.trial_banner > h4 {
    font-size: 65px;
    line-height: 65px;
}
.trial_banner .free_trial_accnt {
    width: 35%;
}
.demotrial_panel .watch_demo {
    margin: 0 15px 15px;
}
ul.blocks li {
    float: none;
    min-height: inherit;
    width: auto;
}
ul.blocks li:first-child {
    margin-bottom: 15px;
}
ul.blocks li br {
    display: none;
}
.demo_content .steps {
    clear: both;
}
#testimonials {
    width: auto;
}
.free_trial_accnt h4 span {
    font-size: 18px;
}
#home header .container, #home .navvy .container {
    margin: 0;
}
nav.top > ul > li {
    border-left: 0 none;
}
nav.top ul li.active.home {
    background: url("../../Images/index/nav-hover.png") repeat-x scroll left top #00AAF0;
}
nav.top ul li.active.home a {
    color: #FFFFFF;
    padding: 0 25px 0 50px;
    text-indent: inherit;
    text-transform: none;
}
nav.top ul li.home {
    background: none repeat scroll 0 0 ;
}
nav.top ul li.home a {
    background-position: 22px 10px;
    color: #464646;
    padding: 0 25px 0 50px;
    text-indent: inherit;
    text-transform: none;
}
nav.top ul li.home a:hover {
    color: #FFFFFF;
}
.banner #free_trial {
    width: 35%;
}
#free_trial h1 {
    font-size: 27px;
}
#free_trial .matter {
    background-position: right 45px;
    font-size: 17px;
}
.secure_mktng h1 {
    font-size: 25px;
}
.find_dentist input {
    vertical-align: top;
}
.find_dentist .fd {
    display: block;
    padding: 0 0 10px;
}
.alphabet_list .al {
    margin-left: 0;
}
.alphabet_list ul li a {
    padding: 4px 6px;
}
.recordlinc_info p span {
    font-size: 26px;
    line-height: 30px;
}
.dental_proffesions {
    padding: 65px 0;
}
.dental_proffesions h2 span {
    line-height: 30px;
}
.dental_proffesions .container {
    padding: 25px;
    width: auto;
}
.video_panel .connects {
    clear: both;
    float: none;
    padding: 0;
    width: auto;
}
.connects ul li {
    border-radius: 10px;
    display: inline-block;
    margin-left: 2.1%;
    text-align: center;
    vertical-align: top;
    width: 44.7%;
}
.connects ul li h4 {
    font-size: 25px;
    padding: 0 0 10px;
}
.connects ul li:first-child {
    margin-left: 0;
}
.connects .floating {
    bottom: -40px;
    right: -7px;
}
.video_panel .techs {
    padding: 55px 0 0;
}
.video_panel .video_container {
    background: none repeat scroll 0 0 ;
    border: 15px solid #333333;
    height: auto;
    padding: 0;
    width: 78.9%;
}
.video_container .video {
    height: auto;
}
.video_container .video img {
    vertical-align: top;
}
.dental_specs .container {
    padding: 0;
}
.dental_specs ul {
    padding-top: 40px;
    text-align: center;
}
.dental_specs ul li {
    margin: 40px 15px;
    width: 33%;
}
.dental_specs ul li.third {
    margin-left: 0;
}
.dental_testimonials ul li {
    margin-left: 20px;
    width: 48.6%;
}
.dental_testimonials ul li:first-child {
    margin-left: 0;
}
#leftaside + .content {
    float: none;
    margin: 0 0 0 200px;
    padding-left: 15px;
}
#leftaside {
    width: 200px;
}
.search_listing .check {
    width: 25px;
}
.search_listing .thumb {
    height: 85px;
    width: 80px;
}
.search_listing .description {
    margin-left: 115px;
}
.search_listing .action {
    margin-left: 115px;
}
.search_listing > li {
    width: 44.2%;
}
ul.searchpage_listing li input[type="text"], ul.searchpage_listing li select {
    width: 87.7%;
}
ul.searchpage_listing li.keywords input[type="text"] {
    width: 70.8%;
}
ul.searchpage_listing li select {
    width: 99.64%;
}
h2.title input[type="submit"], h2.title input[type="button"] {
    margin-left: 15px;
    position: static;
    vertical-align: top;
}
#common_right #rightpanel {
    margin-left: 215px;
}
}
@media only screen and (max-width: 1024px) and (orientation: landscape) {
.MemberLoginDropDown .input_box_login {
    padding: 8px 0;
}
.MemberLoginDropDown ul li input[type="submit"], .MemberLoginDropDown .submitbtn {
}
.aside {
    text-align: center;
}
.inline, .aside .inline {
    display: inline-block;
}
body .carousel-container * {
    transition: none 0s ease 0s;
}
}
@media only screen and (max-width: 800px) {
.search_listing .action {
    margin-left: 0;
    text-align: center;
}
.search_listing > li {
    width: 43.8%;
}
}
@media only screen and (max-width: 768px) and (orientation: portrait) {
.MemberLoginDropDown .input_box_login {
    padding: 8px 0;
}
.MemberLoginDropDown ul li input[type="submit"], .MemberLoginDropDown .submitbtn {
}
.connects .floating {
    right: -13px;
}
.video_panel .video_container {
    width: 78%;
}
.aside {
    text-align: center;
}
.inline, .aside .inline {
    display: inline-block;
}
body .carousel-container * {
    transition: none 0s ease 0s;
}
}
@media only screen and (max-width: 768px) {
#leftaside {
    width: 280px;
}
#leftaside + .content {
    margin-left: 280px;
}
ul.search_listing {
    font-size: 0;
    text-align: center;
}
.search_listing .description h2 {
    text-align: left;
}
.search_listing > li {
    width: 42%;
}
.search_listing .check {
    width: 30px;
}
.search_listing .check input[type="checkbox"] {
    margin-top: 3px;
}
.search_listing .thumb {
    height: 95px;
    width: 90px;
}
.search_listing .description {
    clear: both;
    margin-left: 0;
    padding: 10px 0;
}
.message_panel .text_area {
    width: 94.6%;
}
.personal_notes .invite_txt {
    padding-right: 0;
}
.send_invite_btn {
    margin-top: 10px;
}
.message_panel .send_invite_btn {
    float: none;
    margin-top: 10px;
    position: static;
}
ul.searchpage_listing li.keywords input[type="text"] {
    padding-right: 40px;
    width: 79.8%;
}
ul.searchpage_listing li input[type="text"], ul.searchpage_listing li select {
    width: 91.4%;
}
ul.searchpage_listing li select {
    width: 99.64%;
}
#common_right #rightpanel {
    margin-left: 295px;
}
}
@media only screen and (max-width: 705px) {
.search_listing > li {
    width: 40%;
}
}
@media only screen and (max-width: 650px) {
#leftaside {
    width: 200px;
}
ul.searchpage_listing li input[type="text"], ul.searchpage_listing li select {
    width: 87.7%;
}
ul.searchpage_listing li.keywords input[type="text"] {
    width: 70.8%;
}
ul.searchpage_listing li select {
    width: 99.64%;
}
#leftaside + .content {
    margin-left: 200px;
}
.search_listing > li {
    display: inline-block;
    margin-right: 15px;
    width: 40%;
}
.search_listing .check {
    width: 30px;
}
.search_listing .check input[type="checkbox"] {
    margin-top: 3px;
}
.search_listing .thumb {
    height: 90px;
    width: 85px;
}
.search_listing .description {
    clear: both;
    margin: 0;
    padding: 10px 0 0;
}
.message_panel .text_area {
    width: 93.1%;
}
.personal_notes .invite_txt {
    float: none;
    width: auto;
}
.message_panel .button_2_submit, .message_panel .send_invite_btn {
    display: block;
    float: none;
    margin: 10px auto 0;
}
#common_right #rightpanel {
    margin-left: 215px;
}
}
@media only screen and (max-width: 600px) {
.scrollup {
    bottom: 5px;
    right: 5px;
}
.quicktour ul.tour {
    text-align: center;
}
.quicktour ul.tour li {
    margin-left: 5px;
}
.demo_panel .demo {
    margin: 0;
}
ul.vthumbs li {
    width: 22.4%;
}
.other_video {
    background: none repeat scroll 0 0 ;
    border: 10px solid #333333;
    height: auto;
    width: auto;
}
.other_video .video {
    height: auto;
    margin: 0;
}
.my_dentalfiles {
    width: auto;
}
.services_panel ul li a {
    border: 3px solid #E1E1E1;
    margin: 0 10px;
    padding: 10px 0;
}
.services_panel ul li a:hover {
    background: none repeat scroll 0 0 #F7F7F7;
    opacity: 1;
}
.my_dentalfiles {
    margin-bottom: 0;
}
.my_dentalfiles ul.tour li {
    width: 25%;
}
.my_dentalfiles ul.tour li:first-child {
    margin-left: 0;
}
.services_panel ul li {
    display: inline-block;
    float: none;
    padding: 0;
    vertical-align: top;
    width: 49.6%;
}
.services_panel ul li:first-child {
    margin-bottom: 25px;
}
.fnew .block3 {
    width: 18%;
}
.fnew .block1, .fnew .block2 {
    width: 27.3%;
}
.flogos > ul {
    text-align: center;
}
p.copyright {
    padding: 15px 20px;
}
#advertisement .text {
    background: url("../../Images/inner/texture.jpg") repeat scroll 0 0 #023666;
    border-left: 5px solid #01AAEF;
    border-right: 5px solid #01AAEF;
    font-size: 21px;
    padding-left: 15px;
    padding-right: 15px;
    width: 56%;
}
#advertisement .price {
    width: 36.3%;
}
.contact_form .block1 {
    clear: both;
    float: none;
    width: auto;
}
.contact_form .block2 {
    clear: both;
    float: none;
    padding: 0;
    width: auto;
}
.contact_form input.textfield[type="text"], .contact_form textarea {
    width: 90%;
}
.contact_form ul li.action {
    padding-right: 13px;
}
.contact_address .address .block {
    width: 49%;
}
.contact_address .address .ctc {
    clear: both;
    float: none;
    text-align: center;
    width: auto;
}
ul.blisting .title {
    width: 65%;
}
ul.news li .text {
    padding-right: 0;
}
.social_tabs {
    margin-left: 2%;
}
.social_tabs .usual ul a {
    font-size: 13px;
    padding-left: 12px;
    padding-right: 12px;
}
.signup_panel .trial_banner {
    height: auto;
    padding: 25px 18px 0;
}
.trial_banner .free_trial_accnt {
    border: medium none;
    position: static;
    width: auto;
}
.trial_banner .ref_img {
    position: static;
}
#signup_today .signup_panel h3 {
    display: block;
    text-align: center;
}
.trial_banner > h4 {
    font-size: 64px;
    text-align: center;
}
.free_trial_accnt h4 {
    font-size: 30px;
    margin: 20px 0 10px;
    text-align: center;
}
#signup_today .free_trial_accnt p {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}
.free_trial_accnt h4 span {
    display: inline;
    font-size: 25px;
    padding-left: 5px;
}
.trial_banner > h4 br {
    display: none;
}
.free_trial_accnt form input[type="text"] {
    margin-bottom: 10px;
    width: 95.4%;
}
.demo_content h5 {
    margin-top: 65px;
}
#inner .demo_content p span.hylyt {
    display: block;
}
.demo_content ul.blocks {
    clear: both;
}
#inner ul.blocks li p {
    font-size: 18px;
}
.banner #free_trial {
    padding-right: 15px;
    width: auto;
}
.banner #free_trial:before {
    left: 55px;
}
#free_trial h1 {
    font-size: 28px;
    line-height: 32px;
    margin-right: 340px;
    margin-top: 10px;
}
#free_trial .matter p {
    line-height: 26px;
    margin: 0 340px 15px 0;
}
#free_trial .matter {
    background-position: 170px 90px;
}
#free_trial .textfield {
    padding: 10px;
    width: 95.8%;
}
.find_dentist input[type="text"] {
    width: 37.3%;
}
.search_location {
    margin-top: 15px;
}
.alphabet_list .al {
    margin-bottom: 5px;
}
.alphabet_list ul li a {
    border: 1px solid #38C4FD;
    height: 20px;
    line-height: 20px;
    margin: 0 8px 8px 0;
    padding: 5px 10px;
    text-align: center;
    width: 10px;
}
.dental_proffesions ul li {
    margin: 20px 0 0;
    width: auto;
}
.dental_proffesions ul li:first-child {
    margin-top: 0;
}
.connects ul li {
    width: 43.2%;
}
.connects ul li h4 {
    font-size: 22px;
}
.connects .floating {
    bottom: -53px;
    right: -18px;
}
.video_panel .video_container {
    clear: both;
    float: none;
    width: auto;
}
.video_panel .techs {
    clear: both;
    float: none;
    padding: 20px 0 0;
    width: auto;
}
.techs ul li {
    display: inline-block;
    margin: 0;
    text-align: center;
    width: 33.3%;
}
.techs ul li span.border {
    border: medium none;
    margin-right: 0;
}
.techs ul li p {
    font-size: 20px;
    margin: 5px 0;
}
.dental_specs ul li {
    width: 38%;
}
.dental_specs ul li.first, .dental_specs ul li.third {
    margin-left: 15px;
}
.dental_testimonials ul {
    padding-bottom: 10px;
}
.dental_testimonials ul li {
    clear: both;
    float: none;
    margin: 20px 0 0;
    width: auto;
}
.input_pswd .textfield {
    width: 63.75%;
}
}
@media only screen and (max-width: 568px) {
.quicktour ul.tour li {
    margin-left: 0;
    width: inherit;
}
.fnew ul li {
    margin: 0 15px;
}
.fnew .block1, .fnew .block2 {
    width: 49.3%;
}
.fnew .block3 {
    clear: both;
    float: none;
    padding-top: 15px;
    width: auto;
}
.fnew .socials > li {
    display: inline;
    padding: 0;
}
.fnew .rpro {
    position: absolute;
    right: 20px;
    top: 0;
}
#md_qt.my_dentalfiles {
    display: block;
}
.my_dentalfiles {
    display: none;
}
#advertisement .text {
    font-size: 19px;
    width: 54%;
}
#advertisement .price {
    width: 37.8%;
}
.contact_form input.textfield[type="text"], .contact_form textarea {
    width: 88%;
}
.banner #free_trial:before {
    display: none;
}
.secure_mktng {
    margin-top: 15px;
}
#free_trial h1 {
    margin: 0;
}
#free_trial .matter {
    background: none repeat scroll 0 0 ;
}
#free_trial .matter p {
    margin-bottom: 270px;
    margin-right: 0;
}
#free_trial .matter p br {
    display: none;
}
.find_dentist input[type="text"] {
    width: 37.5%;
}
.search_icon {
    margin-right: 0;
}
.connects ul li h4 {
    font-size: 20px;
}
.connects .floating {
    bottom: -55px;
}
.search_listing > li {
    display: block;
    margin-right: 0;
    width: auto;
}
.search_listing .description {
    clear: none;
    margin-left: 125px;
    padding-top: 0;
}
.search_listing .action {
    margin-left: 0;
}
.message_panel .text_area {
    width: 92.4%;
}
.input_pswd .textfield {
    width: 61.55%;
}
}
@media only screen and (max-width: 480px) 
{
    
html > body .mln {
    margin-left: 0;
}
h2.title {
    font-size: 30px;
}
.demo_panel .demo .watchdemo {
    display: block;
    margin: 0 auto;
    position: static;
}
ul.vthumbs li {
    width: 31%;
}
.aside > img {
    width: 47.84%;
}
.my_dentalfiles ul.tour li {
    width: 50%;
}
#advertisement .text {
    border-color: #01AAEF -moz-use-text-color;
    border-left: 0 none;
    border-right: 0 none;
    border-style: solid none;
    border-width: 5px 0;
    float: none;
    font-size: 25px;
    line-height: 30px;
    width: auto;
}
#advertisement .price {
    float: none;
    width: auto;
}
#advertisement .price p {
    font-size: 45px;
    line-height: 52px;
}
.faq_img {
    width: auto;
}
.contact_address .address .block {
    float: none;
    padding: 0;
    width: auto;
}
ul.blisting .title, ul.blisting .links {
    clear: none;
    float: none;
    text-align: left;
    width: auto;
}
.aside .contactus, .aside .social_tabs {
    display: block;
    width: auto;
}
.aside .social_tabs {
    margin-left: 0;
}
.contactus input[type="text"], .contactus textarea {
    width: 94.6%;
}
.social_tabs .usual ul a {
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
}
.usual li {
    width: 33%;
}
.demotrial_panel .watch_demo {
    clear: both;
    float: none;
    margin: 0 auto;
}
.demo_content h5 {
    margin-top: 10px;
}
header {
    background: url("../../Images/index/header_bg.png") repeat-x scroll 0 0 ;
    border: medium none;
}
header .logo {
    clear: both;
    float: none;
    margin: 0;
    padding: 5px 10px;
}
header .logo a {
    margin: 0 auto;
}
.top_links {
    clear: both;
    float: none;
    margin: 35px 0 0;
    text-align: center;
}
.top_links * {
    vertical-align: top;
}
.navvy {
    background: none repeat scroll 0 0 ;
}
nav.top {
    background: none repeat scroll 0 0 ;
    padding-top: 23px;
}
nav.top .patient_login {
    top: 29px;
}
.mobile-menu {
    background: none repeat scroll 0 0 #B1BCCE;
}
.loginbtn {
    background: url("../../Images/index/login@2x.png") no-repeat scroll left top ;
    height: 30px;
    width: 131px;
}
.MemberLogin .loginbtn:hover, .MemberLogin.active .loginbtn {
    background: url("../../Images/index/login@2x.png") no-repeat scroll left bottom ;
}
.signupbtn {
    background: url("../../Images/index/signup@2x.png") no-repeat scroll left top ;
    height: 30px;
    width: 131px;
}
.MemberLoginDropDown {
    right: -131px;
    top: 30px;
}
#free_trial h1 {
    margin: 0;
}
#free_trial .matter p {
    margin-bottom: 240px;
    margin-right: 0;
}
#free_trial .matter {
    background: none repeat scroll 0 0 ;
}
.banner #free_trial:before {
    display: none;
}
#free_trial .textfield {
    width: 94.6%;
}
.find_dentist input[type="text"] {
    width: 35%;
}
.connects ul li {
    display: block;
    margin-left: 0;
    width: auto;
}
.connects ul li h4 {
    font-size: 28px;
}
.dental_specs ul li h5 {
    font-size: 16px;
}
.dental_specs ul li {
    margin-left: 18px;
    margin-right: 0;
    width: 40.5%;
}
.dental_specs ul li.first, .dental_specs ul li.third {
    margin-left: 0;
}
#leftaside {
    clear: both;
    float: none;
    width: auto;
}
#leftaside + .content {
    margin-left: 0;
}
ul.searchpage_listing li.keywords input[type="text"], ul.searchpage_listing li input[type="text"] {
    padding-left: 0;
    padding-right: 0;
    text-indent: 10px;
    width: 99.4%;
}
#leftaside + .content {
    clear: both;
    float: none;
    padding: 0;
    width: auto;
}
.search_listing .thumb {
    height: 90px;
    margin: 0;
    width: 85px;
}
.search_listing .description {
    clear: none;
    margin-left: 125px;
}
.search_listing .action {
    margin-left: 125px;
    text-align: left;
}
.search_listing .description ul.list {
    clear: none;
    margin: 0;
}
.personal_notes h1 {
    font-size: 16px;
}
.message_panel .text_area {
    width: 94.7%;
}
#common_right .content {
    clear: both;
    float: none;
    padding-left: 0;
    width: auto;
}
#common_right #leftaside {
    float: none;
}
#common_right #rightpanel, #common_right #leftaside {
    margin-left: 0;
}
.input_pswd .textfield {
    width: 53.8%;
}

/* Changed on 28-11-2014*/
.loginpop {
    display: inline-block;
    margin: 0 0 10px;
    position: relative;
    width: 100%;
    z-index: 9999;
}

.loginpop span {
    float: left;
    line-height: 28px;
    margin: 0 0 7px;
    width: 100%;
}
.MemberLoginDropDown {
    right: 31px;
    top: 65px;
}
/* Changed on 28-11-2014*/


}
@media only screen and (max-width: 320px) {
html > body .oddmgn {
    margin-left: 0;
    margin-right: 3.42%;
}
nav.top {
    height: auto;
}
nav.top .patient_login {
    display: block;
    margin: 0 0 15px;
    position: inherit;
    right: 0;
    text-align: center;
    top: 0;
}
nav.top .patient_login a {
    margin: 0 auto;
}
.mobile-menu {
    text-align: center;
}
h2.title {
    text-align: center;
}
.quicktour ul.tour li {
    margin-left: 0;
}
.demo_panel {
    text-align: center;
}
ul.vthumbs li {
    width: 48.21%;
}
.aside a.advert > img {
    width: auto;
}
.aside a.advert + a.advert {
    display: block;
    margin: 15px 0 0;
}
.services_panel ul li {
    display: block;
    margin-top: 25px;
    width: auto;
}
.services_panel ul li:first-child {
    margin-top: 0;
}
.services_panel ul li a {
    margin: 0;
}
.fnew .block1, .fnew .block2 {
    margin-bottom: 20px;
}
.fnew .block1, .fnew .block2, .fnew .block3 {
    width: 50%;
}
.fnew .block3 {
    clear: none;
    float: left;
    padding-top: 0;
}
.fnew .socials > li {
    display: inline;
    margin: 0;
}
.fnew ul.socials a {
    margin-bottom: 8px;
}
.fnew .block3 {
    clear: left;
}
.fnew .rpro {
    position: inherit;
}
.recordlinc_growth .figure, .recordlinc_growth .text {
    float: none;
    margin: 0 0 15px;
    width: auto;
}
.steps ul li {
    display: block;
    width: auto;
}
#advertisement .text {
    font-size: 30px;
    line-height: 36px;
}
.contact_form input.textfield[type="text"], .contact_form textarea {
    width: 85%;
}
.contact_form ul li {
    position: relative;
}
.contact_form ul li .mandatory {
    position: absolute;
}
.contact_form ul li.action {
    padding-right: 0;
}
.team ul.news li .thumb {
    clear: both;
    float: none;
    width: auto;
}
.team ul.news li .text {
    margin-left: 0;
    margin-top: 10px;
}
ul.news li .thumb {
    float: none;
    margin-bottom: 15px;
    width: auto;
}
ul.news li .text {
    margin: 0;
}
.social_tabs .usual ul a {
    font-size: 12px;
}
.contactus input[type="text"], .contactus textarea {
    width: 91.2%;
}
ul.even > li {
    display: block;
    width: auto;
}
#signup_today .signup_panel h3 {
    font-size: 50px;
}
.trial_banner > h4 {
    font-size: 50px;
    line-height: 52px;
}
.hylyt span {
    display: block;
}
.demo_content .hylyt {
    margin-bottom: 10px;
}
.steps li {
    margin-top: -45px;
}
.steps li:first-child {
    margin-top: -25px;
}
.hide {
    display: none;
}
.alternate {
    display: block;
}
.demo_content .steps {
    background: none repeat scroll 0 0 ;
    padding: 0;
}
.free_trial_accnt h4 {
    margin-bottom: 5px;
}
.free_trial_accnt h4 span {
    display: block;
    font-size: 20px;
}
.free_trial_accnt form {
    padding: 0 0 20px;
}
.free_trial_accnt form input[type="text"] {
    width: 90.9%;
}
.demotrial_panel .watch_demo {
    width: auto;
}
#testimonials .thumb {
    clear: both;
    float: none;
    margin: 0 auto 10px;
}
#testimonials .text {
    margin-left: 0;
}
.demotrial_panel:before {
    display: none;
}
#testimonials {
    margin-bottom: 15px;
}
.banner #free_trial {
    text-align: center;
}
#free_trial h1 {
    font-size: 32px;
    margin-bottom: 5px;
}
#free_trial .matter p {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 190px;
}
#free_trial .matter label {
    font-size: 28px;
    line-height: 32px;
}
#free_trial .textfield {
    width: 91.2%;
}
.find_dentist input[type="text"] {
    margin: 0 0 15px;
    width: 92.3%;
}
.recordlinc_info p {
    padding: 0;
}
.recordlinc_info p span {
    font-size: 24px;
}
.search_location {
    margin-top: 0;
}
.secure_mktng h1 {
    font-size: 20px;
}
.dental_proffesions .container {
    padding: 15px;
}
.dental_proffesions h2 {
    font-size: 38px;
    line-height: 42px;
}
.dental_video {
    text-align: center;
}
.connects .floating {
    display: none;
}
.connects ul li h4 {
    font-size: 23px;
}
.video_panel .video_container {
    border-width: 5px;
}
.techs ul li {
    display: block;
    width: auto;
}
.dental_specs .container {
    overflow: auto;
}
.dental_specs ul {
    padding-top: 15px;
}
.dental_specs ul li {
    display: block;
    margin: 65px 15px;
    width: auto;
}
.dental_specs ul li.first, .dental_specs ul li.third {
    margin-left: 15px;
}
.dental_specs ul li h5 {
    font-size: 20px;
}
.dental_testimonials ul li blockquote:before {
    margin-top: -25px;
    top: 25%;
}
.dental_testimonials ul li {
    margin: 30px 0 0;
}
.dental_testimonials ul li blockquote {
    font-size: 15px;
    line-height: 18px;
}
#home .fnew .container {
    margin: 0;
}
.message_panel .text_area {
    width: 91.4%;
}
.input_pswd .textfield {
    width: 92.14%;
}
.reset_pswd {
    margin: 10px 0 0;
}
}
.services_panel {
    clear: both;
    padding: 0 0 50px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;

}


/* dev-17-01-2017 */
.fourth{
	margin: 0 0 0 14px;
}
.first, .second, .third, .fourth{
	float:left;
}
.dental_specs {
    display: flex;
}