/* CSS Resets */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, textarea, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: Helvetica, Arial, sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	background: #fff;
	font: 14px/18px Helvetica, Arial, sans-serif;
	color: #666666;
	position: relative;
	-webkit-text-size-adjust: none;
}
html, body {
	/* [disabled]height:100%;
*/
}
input[type="button"], input[type="submit"]{cursor:pointer; border:none;}
h1{font-size:26px; color:#001b49; line-height:28px;}
h2{font-size:24px; color:#0691c5; line-height:26px;}
h3{font-size:22px; color:#0691c5; line-height:24px;}
h4{font-size:20px; color:#001b49; line-height:22px;}
h5{font-size:18px; color:#333333; line-height:20px;}
h6{font-size:16px; color:#001b49; line-height:18px;}
p {
	font-size:16px;line-height:20px;
}
a {
	color:#0691c5;
	outline:none;
	cursor:pointer;
	text-decoration:underline;
	transition:ease-in-out 0.3s;
}
a:hover {
	text-decoration: none;
	color:#14315b;
}
/*  Header styles */



/* Global Structure---------------------------------------- */

.clear{
	clear:both;
	line-height:0;
	font-size:0;	
	height:0;	
}

img{width:100%; max-width:100%;}
.wrapper {
	width:100%;
	overflow:hidden;
	position:relative;
}
.container{width:960px; margin:0 auto; clear:both;}
.bluebg{background:#00aaf0; border-top:1px solid #d8d8d8; border-bottom:1px solid #d8d8d8}
.whitebg{background:#fff;}
.greybg{background:#eaeaea;}
.lytgreybg{background:#f2f2f2;}
.phone{background:url(../Images/index/phone.png) #00aaf0 center top no-repeat;}
.scrollup{width:40px; height:40px; text-indent:-9999px; position:fixed; bottom:50px; right:100px; display:none; background: url(../Images/index/icon_top.png) no-repeat;}
.mb40{margin-bottom:40px;}

/********************************* Buttons Styling *************************************/
section input[type="button"], section input[type="submit"]{text-indent:-9999px; text-transform:uppercase; border:none;}
.search_icon{width:56px; height:47px; background:url(../Images/index/search-btns-sprites.png) left top no-repeat; margin-right:12px;}
.search_location{width:220px; height:47px; background:url(../Images/index/search-btns-sprites.png) left bottom no-repeat;}
.signup_now{width:194px; height:44px; background:url(../Images/index/connects-sprites.png) left top no-repeat;}
.search_database{width:233px; height:44px; background:url(../Images/index/connects-sprites.png) left bottom no-repeat; }
.separator{background:url(../Images/index/separator.jpg) left center repeat-x; text-align:center; margin:35px 0;}
.separator span{background:url(../Images/index/asterisks.jpg) #fff center center no-repeat; width:90px; height:18px; display:block; margin:0 auto;}
.submit{background:url(../Images/inner/buttons.png) left top no-repeat; width:130px; height:47px;}
.showmore{background:url(../Images/inner/showmore.jpg) left top no-repeat; width:151px; height:39px;}
.watchdemo{background:url(../Images/inner/watch-demo.jpg) left top no-repeat; width:208px; height:46px;}

/********************************* Main Page Styling *************************************/
header {	
	height:68px; border-top:3px solid #ffffff; border-bottom:1px solid #fefefe; background:url(../Images/index/header-bg.jpg) #fefefe left top repeat-x;
}
header .logo{float:left; margin:7px 50px 0 0;}
header .logo a{ display:block; background:url(../Images/index/logo.png) left top repeat-x; width: 170px; height:50px; font-size:25px; color:#000; text-indent:-9999px; }
.top_links{float:right; margin:21px 10px 0 0;}
.loginbtn{ width:72px; height:27px; text-indent:-9999px; text-transform:uppercase; margin:0; background: url(../Images/index/login.png)  no-repeat left top; border:none; padding:0; margin-left:7px;}
.signupbtn{ width:81px; height:27px; text-indent:-9999px; text-transform:uppercase; margin:0; background: url(../Images/index/signup.png)  no-repeat left top; border:none; padding:0; margin-left:7px;}
nav.top{height:42px; background:#b1bcce;}
nav.top ul li:first-child{border-left:none;}
nav.top > ul > li{border-left:1px solid #fefefe; float:left; transition:ease-in-out 0.3s}
nav.top ul li.home{background:#9ca8bc url(../Images/index/home-hover.png) left top repeat-x; transition:ease-in-out 0.3s}
nav.top ul li.home:before{position:absolute; width:65px; height:12px; left:0; bottom:-12px; content:""; background:url(../Images/index/home-before.png) center top no-repeat; transition:ease-in-out 0.3s}
nav.top ul li:hover, nav.top ul li.active, nav.top ul li.home:hover{background:#00aaf0 url(../Images/index/nav-hover.png) left top repeat-x; cursor:pointer; position:relative;}
nav.top ul li.active input[type="submit"]{color:#fff;}
nav.top ul li input[type="submit"], nav.top ul li a{height:42px; padding:0 20px 0 50px; font-size:16px; *overflow:visible; *display:block; color:#464646; border:none; 
background:url(../Images/index/nav-sprites.png) left top no-repeat;}
nav.top ul li input[type="submit"]:hover{color:#fff; background:url(../Images/index/nav-sprites.png) -170px top no-repeat;}
nav.top ul li.active.home:before, nav.top ul li.home:hover:before{position:absolute; width:65px; height:12px; left:0; bottom:-12px; content:""; background:url(../Images/index/list-arrow.png) center top no-repeat;}
nav.top ul li.home input[type="submit"]{background-position:22px 11px; text-indent:-9999px; text-transform:uppercase; width:65px; padding:0;}
nav.top ul li.home input[type="submit"]:hover, nav.top ul li.active.home input[type="submit"]{background-position:-151px 11px;}
nav.top ul li.quick_tour input[type="submit"]{background-position:22px -28px;}
nav.top ul li.quick_tour input[type="submit"]:hover, nav.top ul li.active.quick_tour input[type="submit"]{background-position:-151px -28px;}
nav.top ul li.plan_pricing input[type="submit"]{background-position:22px -71px;}
nav.top ul li.plan_pricing input[type="submit"]:hover, nav.top ul li.active.plan_pricing input[type="submit"]{background-position:-151px -71px;}
nav.top ul li.faq input[type="submit"]{background-position:22px -109px;}
nav.top ul li.faq input[type="submit"]:hover, nav.top ul li.active.faq input[type="submit"]{background-position:-151px -109px;}
nav.top ul li.about_us input[type="submit"]{background-position:22px -146px;}
nav.top ul li.about_us input[type="submit"]:hover, nav.top ul li.active.about_us input[type="submit"]{background-position:-151px -146px;}
nav.top ul li.contact_us input[type="submit"]{background-position:22px -185px;}
nav.top ul li.contact_us input[type="submit"]:hover, nav.top ul li.active.contact_us input[type="submit"]{background-position:-151px -185px;}
nav.top ul li.patient_login{float:right; border-left:none;}
nav.top ul li.patient_login:hover{ background:none;}
nav.top ul li.patient_login input[type="submit"]{ width:131px; height:30px; border:none; padding:0; margin:6px 10px 0 0; text-indent:-9999px; text-transform:uppercase; background:url(../Images/index/patient-login.jpg) left top repeat-x;}
.banner #free_trial{width:30.7%; position:relative; padding:35px 40px 15px 15px; background:#00aaf0; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; -khtml-border-radius:10px; -o-border-radius:10px} /*295*/
.banner #free_trial:before{position:absolute; bottom:-70px; left:0; content:""; width:350px; height:70px; background:url(../Images/index/box-bottom.png) left top repeat-x;}
#free_trial .tag{background:url(../Images/index/tag.png) left top repeat-x; width:122px; height:22px; padding:5px 0 0 0; display:block; font-size:16px; color:#fff; text-align:center; text-shadow:rgba(92, 130, 11, 0.75) 1px 0 2px; position:absolute; left:8px; top:-8px;}
#free_trial h1{color:#001b49; font-size:30px; line-height:30px; text-shadow:rgba(255, 255, 255, 0.75) 1px 0 2px; margin:0 0 12px;}
#free_trial h1 span{display:block; font-size:26px;}
#free_trial .matter{background:url(../Images/index/arrow-bend.png) right 25px no-repeat; font-size:20px; color:#fff; line-height:22px;}
#free_trial .matter label{color:#001b49; font-size:26px; line-height:28px; font-weight:bold; text-shadow:rgba(255, 255, 255, 0.75) 1px 0 2px; display:block; margin:15px 0 5px;}
input[type="text"].textfield{background:#fff; border:1px solid #11779f; padding:12px 10px; width:92.5%; color:#1794c4; font-size:18px;} /*273*/
.get_started{border:none; width:200px; height:46px; display:block; background:url(../Images/index/get-started.png) left top no-repeat; text-transform:uppercase; text-indent:-9999px;}
#free_trial .get_started{margin:15px auto 10px;}
#free_trial a{color:#fff; font-size:15px; display:block; text-align:center;}
.secure_mktng{background:#e8ecf1; border:1px solid #c8c8c8; border-bottom:none; border-radius:4px 4px 0 0; padding:9px 10px; text-align:center; margin:7px 0 0 0;}
.secure_mktng h1{font-weight:bold;}
.secure_mktng h1 span{color:#0691c5;}
.find_dentist{display:block; padding-top:27px; padding-bottom:15px;}
.find_dentist .row{padding-bottom:15px;}
.find_dentist label{font-size:18px; display:inline-block; font-weight:bold; color:#fff; vertical-align:top; padding:14px 12px 0 0;} /*137*/
.find_dentist input[type="text"]{width:23.3%; margin-right:11px;} /*224*/
.alphabet_list label{font-size:16px; line-height:18px; font-weight:normal; color:#fff; margin-left:145px; padding:2px 45px 0 0; margin-right:10px; background:url(../Images/index/arrow-list.png) right center no-repeat; vertical-align:top; float:left;}
.alphabet_list ul{float:left; vertical-align:top;}
.alphabet_list ul li{float:left;}
.alphabet_list ul li a{display:block; padding:2px 4px; font-size:16px; color:#fff; text-decoration:none;}
.alphabet_list ul li a:hover{text-decoration:underline; background:#38c4fd;}
.recordlinc_info{text-align:center; padding:25px 0;}
.recordlinc_info p{font-size:22px; line-height:26px; padding:0 20px; margin:0 0 10px; color:#333333;}
.recordlinc_info p span{font-size:24px; color:#0691c5; display:block;}
.dental_proffesions{background:url(../Images/index/dentists.jpg) center top repeat; padding:72px 0; border-bottom:3px solid #fff; text-align:center;}
.dental_proffesions .container{background:#fff; background:rgba(255, 255, 255, 0.9); border-radius:10px; padding:25px 15px; width:930px;}
.dental_proffesions h2{font-size:46px; color:#0691c5; line-height:52px;}
.dental_proffesions h2 span{font-size:32px; color:#001b49; line-height:36px; display:block;}
.dental_proffesions p{font-size:20px; line-height:24px; display:block; margin:10px 14.5%} /*140*/
.dental_proffesions ul{text-align:center;}
.dental_proffesions ul li{ display:inline-block; *display:inline; *zoom:1; margin-left:52px; width:27.4%} /*255*/
.dental_proffesions ul li:first-child{margin-left:0;}
.dental_proffesions ul li p{font-size:18px; line-height:22px; display:block; margin:15px 10px; color:#333; font-weight:bold;}
.dental_video{padding:50px 0 35px 0; border-bottom:1px solid #fff;}
.dental_video h3{font-size:32px; color:#333; line-height:39px;}
.dental_video p{font-size:18px; color:#767676; line-height:20px; margin:5px 0 0 0;}
.dental_video .video_panel{margin:32px 0 0 0; position:relative;}
.video_panel:before{background:url(../Images/index/collectives.png) #eaeaea center 8px no-repeat; position:absolute; left:-122px; content:""; width:384px; height:327px;}
.video_panel .connects{width:28.8%; float:left; padding:54px 0 112px; position:relative; z-index:1;} /*277*/
.connects ul li{background:#00aaf0; padding:16px 15px 16px 15px; border-radius:10px 0 0 10px; margin-top:18px;}
.connects ul li h4{font-size:22px; color:#fff; line-height:26px; padding:0 0 5px 5px; background:url(../Images/index/sep.png) left bottom repeat-x;}
.connects ul li h4 span{color:#082653;}
.connects input[type="button"]{margin:12px auto 0; display:block;}
.video_panel .video{float:left; width:57.5%; height:447px;} /*552*/
.connects .floating{ position:absolute; bottom:0; right:-8px; width:117px; height:139px;}
.video_panel .techs{float:left; *float:none; width:13.5%; padding:38px 0 0;} /*130*/
.techs ul li{margin:0 0 0 0; text-align:center;}
.techs ul li .border{display:block; height:6px; margin-right:20%; background:#00aaf0; position:relative; z-index:1; top:50px;}
.techs ul li i{width:96px; height:96px; margin:0 auto; display:block; background:url(../Images/index/circular-sprites.png) left top no-repeat; text-indent:-9999px; position:relative; z-index:2;}
.techs ul li i.connect{ background-position:-7px -9px;}
.techs ul li i.simplify{ background-position:-123px -9px;}
.techs ul li i.grow{ background-position:-239px -9px;}
.techs ul li p{font-size:15px; text-align:center; margin:0 0 5px;}
.dental_specs .bgfull{position:absolute; left:0; top:0; z-index:1}
.dental_specs{background:url(../Images/index/dental_specs.jpg) center top no-repeat; background-size:100%;}
.dental_specs .container{padding:80px 0 45px;}
.dental_specs ul li{background:#fff; border:1px solid #cdcdcd; position:relative; width:20.5%; padding:75px 15px 15px; text-align:center; vertical-align:top; margin:0 0 0 14px; display:inline-block; *display:inline; *zoom:1;} /*227*/
.dental_specs ul li:first-child{margin-left:0}
.dental_specs ul li i{background:url(../Images/index/circular-sprites.png) 0 0 no-repeat; display:block; position:absolute; left:0; top:-37px; margin:0 29%; width:92px; text-indent:-9999px; height:92px;}
.dental_specs ul li i.dental_specialist{background-position: -7px -124px;}
.dental_specs ul li i.dental_labs{background-position:-118px -124px;}
.dental_specs ul li i.general_dentists{background-position:-229px -124px;}
.dental_specs ul li i.dental_patients{background-position:-340px -124px;}
.dental_specs ul li h5{text-transform:uppercase; color:#0591c5; margin:0 0 5px 0; *letter-spacing:-0.02em;}
.dental_specs ul li p{color:#333333; font-size:15px; line-height:26px;}
.dental_testimonials{padding:20px 0 0 0;}
.dental_testimonials ul{padding:0 0 30px;}
.dental_testimonials ul li{width:45.3%; float:left; margin-left:70px;} /*435*/
.dental_testimonials ul li:first-child{margin-left:15px;}
.dental_testimonials ul li h5{margin:0 0 10px; color:#0591c5; display:block;}
.dental_testimonials ul li h5 span{color:#666666; font-size:12px; padding-left:3px;}
.dental_testimonials ul li .thumb{padding:5px; background:#c7c7c7; width:62px; height:62px; float:left; float:left;}
.dental_testimonials ul li blockquote{background:url(../Images/index/testimonial-bg.jpg) #ddf4fd left top repeat-y; position:relative; padding:15px 25px; font-size:13px; color:#333333; line-height:16px; border-radius:6px; width:67.1%; margin:0 0 0 95px; *margin:0 0 0 93px;} /*292*/
.dental_testimonials ul li blockquote:before{width:15px; height:15px; background:url(../Images/index/arrow-bq.jpg) left top no-repeat; position:absolute; content:""; left:-15px; top:50%; margin-top:-20px;}

.services_panel{padding:0 0 50px 0;}
#innerpg .services_panel{border-top:4px solid #d7d7d7; padding:45px 0 50px;}
.services_panel ul li{width:22.9%; float:left; padding:0 10px; text-align:center; display:block;}
.services_panel ul li span{display:block; height:115px; margin:0 auto 15px; background:url(../Images/index/services-sprite.png) left top no-repeat;}
.services_panel ul li span.news{width:100px; background-position:5px center;}
.services_panel ul li span.hipaa{width:115px; background-position:-115px center;}
.services_panel ul li span.testimonial{width:120px; background-position:-249px center;}
.services_panel ul li span.demo{width:140px; background-position:-396px center;}
.services_panel ul li a{font-size:18px; color:#333; display:block; text-decoration:none; opacity:0.8; transition:ease-in 0.2s;}
.services_panel ul li a:hover{opacity:1;}
.fnew{float:none; position:inherit; text-align:left; background:#eaeaea; padding:35px 0;}
.fnew ul li{float:left; padding:0 15px 0 0; display:block;}
.fnew .block1{width:24.4%; margin:0;} /*235*/
.fnew .block2{width:23.9%; margin:0;} /*230*/
.fnew .block3{width:20.8%; margin:0;} /*200*/
.fnew ul li h4{font-size:18px; color:#0591c5; margin:0 0 10px 0; padding:0; display:block; text-transform:none;}
.fnew ul li ul li{display:block; margin:0 0 5px; float:none; clear:both;}
.fnew ul li ul li a{font-size:14px; color:#666666; text-decoration:none;}
.fnew ul li ul li a:hover{color:#000;}
.fnew ul.socials a{display:inline-block; *display:inline; *float:left; text-indent:-9999px; margin:0 8px 5px 0; width:27px; height:27px; background:url(../Images/index/social-sprites.png) left top no-repeat; transition:ease 0.5s;}
.fnew ul.socials .fb-icon{background-position:0 0;}
.fnew ul.socials .fb-icon:hover{background-position:left -71px;}
.fnew ul.socials .gp-icon{background-position:-39px 0;}
.fnew ul.socials .gp-icon:hover{background-position:-39px -71px;}
.fnew ul.socials .tw-icon{background-position:-78px 0;}
.fnew ul.socials .tw-icon:hover{background-position:-78px -71px;}
.fnew ul.socials .ln-icon{background-position:-119px 0;}
.fnew ul.socials .ln-icon:hover{background-position:-119px -71px;}
.fnew ul.socials .pt-icon{background-position:0 -38px;}
.fnew ul.socials .pt-icon:hover{background-position:0 -109px;}
.fnew ul.socials .dr-icon{background-position:-39px -38px;}
.fnew ul.socials .dr-icon:hover{background-position:-39px -109px;}
.fnew ul.socials .yt-icon{background-position:-78px -38px;}
.fnew ul.socials .yt-icon:hover{background-position:-78px -109px;}
.fnew ul.socials .vm-icon{background-position:-119px -38px;}
.fnew ul.socials .vm-icon:hover{background-position:-119px -109px;}
.flogos{margin:30px 0 0 0; background:#fff; border-top:1px solid #d8d8d8; border-bottom:1px solid #d8d8d8;}
.flogos ul li{padding:0; display:inline-block; *display:inline; float:none;}
.flogos ul li img{*width:auto;}
p.copyright{background:#fff; padding:15px 0; text-align:center; font-size:12px; margin:0; height:auto;}


/*  InnerPage Styling */

/* About Page */
#inner{padding:52px 0;}
#inner p{margin:0 0 20px 0; font-size:14px; line-height:20px;}
.aside{width:29.16%; float:right; margin:0 12px 0 0;} /*280*/
.aside img{display:block;}
.content{width:auto; padding:0; float:none;}
.aside+.content{width:66.9%; padding:10px 25px 15px 0; float:left;} /*643*/
h2.title{font-size:34px; line-height:40px; margin:0 0 15px;}
h3.sub{padding:10px 0;}
ul.listing{margin:0 0 20px 15px;}
ul.listing li{color:#666666; font-size:14px; line-height:23px; list-style:disc;}

/* Career Page */
.subtitle{color:#666666; font-size:22px; line-height:26px; display:block; padding:10px 0 0 0;}
.textpanel{padding:15px 0 0 0;}
.job_listing h5{font-weight:bold; border-bottom:3px solid #c7c7c7; padding-bottom:10px;}
ul.blisting{overflow:auto;}
ul.blisting li{border-bottom:1px solid #cfcece; border-top:1px solid #ffffff; display:block; padding:15px 0;}
ul.blisting li:first-child{border-top:none;}
ul.blisting .title{width:66.9%; padding-right:20px; float:left;} /*430*/
ul.blisting .links{width:29.9%; float:right; text-align:right;} /*192*/
ul.blisting .title a{text-decoration:none;}

/* Contact Us Page */
.contact_form{padding:45px 0 20px;}
.contact_form .block1{float:left; width:50%;} /*480*/
.contact_form .block2{float:right; width:46.3%; padding:0 0 0 35px;} /*445*/
.contact_form label{font-size:16px; font-weight:bold; line-height:18px; text-align:left; padding:0 0 10px; color:#6b6767; display:block;}
.mandatory{color:#ff0000; font-size:16px; vertical-align:top; font-weight:bold; padding-left:3px;}
.contact_form ul li{margin:0 0 20px; display:block;}
.contact_form ul li.action{text-align:right;}
.contact_form input.textfield[type="text"], .contact_form textarea{background:url(../Images/inner/contact_sprites.png) #fff -100px 100px no-repeat; box-shadow:0 0 7px rgba(0,0,0,0.22); color:#666666; font-size:14px; padding:9px 10px 9px 30px; width:83.3%; border:1px solid #fff; resize:none; margin:0; transition:ease-in-out 0.3s;} /*400*/
.contact_form input[type="text"].name{ background-position:0 -3px;}
.contact_form input[type="text"].phone{ background-position:0 -46px;}
.contact_form input[type="text"].email{ background-position:0 -85px;}
.contact_form textarea.message{ background-position:0 -114px;}
.contact_form .block2 textarea{ width:90%;}
.contact_form input.textfield[type="text"]:hover, .contact_form input.textfield[type="text"]:focus, .contact_form textarea:hover, .contact_form textarea:focus{border:1px solid #77c6fe;}
.contact_address{padding:55px 0 0 0;}
.contact_address img{width:auto;}
.contact_address .address{padding:0 15px 0 0; width:30.2%; float:left;} /*290*/
.contact_address h3{color:#001b49;}
ul.info li{font-size:16px; line-height:22px;}
.contact_address ul.info{margin:5px 0 25px 0;}
.gmap{border:1px solid #d0cfcf; float:right; width:68.0%;} /*653*/

/* FAQ Page */
.faq_img{width:72.8%; margin:0 auto;} /*468*/

/* PlanPricing Page */
.recordlinc_growth{}
.recordlinc_growth .figure{width:45.1%; float:left; margin-right:30px;} /*290*/
.recordlinc_growth .figure img{width:auto;}
.recordlinc_growth .text{padding:0 22px 0 0; width:46.7%; float:right;} /*300*/
#inner .recordlinc_growth .text p{font-size:20px; line-height:23px; color:#78797b; }
.recordlinc_growth .text p span{font-size:25px; color:#2c292a; display:block;}
.recordlinc_growth .text ul.info li{font-size:20px; line-height:29px;}
.hylyt{background:url(../Images/inner/hylyt-arrow.png) left center no-repeat; text-transform:uppercase; padding-left:20px;}
.steps{}
.steps ul li{display:inline-block;}
.recordlinc_features{background:#fff; border:1px solid #cdcdcd; margin:15px 0 0 0;}
.recordlinc_features .thead{background:url(../Images/inner/bg-head.jpg) #f1f1f1 left bottom repeat-x; height:43px; line-height:43px; padding:0 0 0 15px;}
.recordlinc_features .thead h3{line-height:43px;}
.recordlinc_features .tbody{padding:15px;}
.recordlinc_features ul.tbody  li{background:url(../Images/inner/tbody.jpg) right top repeat-y; border:1px solid #cdcdcd; padding:12px; margin:0 0 12px; font-size:14px; line-height:16px; color:#717171; display:block; padding-right:80px; position:relative;}
.recordlinc_features ul.tbody  li .tick{position:absolute; right:12px; top:5px; width:auto;}
#advertisement{background:#fff; padding:0; margin:20px 0 0 0;}
#advertisement .text{background:url(../Images/inner/advrt-bg.jpg) left top no-repeat; font-size:22px; color:#fff; line-height:26px; padding:17px 80px 17px 35px; width:49.6%; float:left;} /*302*/
#advertisement .price{text-align:center; width:31.4%; float:right; padding:10px 0 0 0;} /*191*/
#advertisement .price p{font-size:38px; line-height:37px; font-weight:bold; color:#023666; margin-bottom:5px; font-style:italic; }
#advertisement .price p span{font-size:18px; color:#666666; font-weight:normal; font-style:normal; line-height:20px; display:block;}
#advertisement .price img{position:inherit; display:block; margin:0 auto;}

/* Press Page */

.contactus{background:#e7e7e7; padding:15px; margin:0 0 25px;}
.contactus h3{font-weight:bold;}
.contactus h3 span{color:#17335d;}
.contactus form{margin:15px 0 0 0;}
.contactus form ul li{margin:0 0 10px;}
.contactus input[type="text"], .contactus textarea{border:1px solid #b4b4b4; color:#c2c2c2; font-size:16px; font-weight:bold; width:91.2%; padding:10px;} /*228*/
.contactus .action{text-align:center;}
.contactus  .verification{font-size:12px; margin:20px 0;}
.verification a{display:block;}
.verification .text{width:60%; font-weight:bold; float:left;} /*150*/
.verification .image{width:40%; float:right;} /*100*/
.recordlinc_news{}
ul.news li{padding:25px 0; border-bottom:1px solid #c7c7c7; border-top:1px solid #ffffff;}
ul.news li:first-child{border-top:none; padding-top:15px;}
ul.news li .thumb{width:33.3%; height:141px; border:1px solid #c5c5c5; background:#fff; float:left;} /*214-141*/
ul.news li .text{margin-left:235px; padding:5px 100px 0 0;}
ul.news li .text h5{color:#0691c5;}
#inner ul.news li .text p{color:#333333; margin:15px 0 0;}
#inner ul.news li.action{border:none; text-align:center;}

/* Quick Tour Page */
.quicktour{}
.quicktour ul.tour{margin-left:-12px;}
ul.tour li{width:128px; float:left; margin:0 0 25px;}
ul.tour li span{display:block; width:128px; height:110px; background:url(../Images/inner/quicktour-sprites.png) 100px 100px no-repeat;}
ul.tour li span.dashboard{background-position: 10px 0;}
ul.tour li span.inbox{background-position: -125px 0;}
ul.tour li span.profile{background-position: -260px 0;}
ul.tour li span.patients{background-position: -395px 0;}
ul.tour li span.colleagues{background-position: -530px 0;}
ul.tour li span.referrals{background-position: 10px -148px;}
ul.tour li span.eforms{background-position: -125px -148px;}
ul.tour li span.studyclubs{background-position: -260px -148px;}
ul.tour li span.marketing{background-position: -395px -148px;}
ul.tour li span.reports{background-position: -530px -148px;}
ul.tour li h5{font-weight:normal; padding:0 5px; text-align:center; color:#666666;}
.demo_panel{padding:50px 0 0 0; margin:0 0 10px;}
.demo_panel .demo{margin:0 12px 0 0; position:relative;}
.demo_panel .demo img{position:relative; z-index:1;}
.demo_panel .demo .watchdemo{position:absolute; z-index:2; top:32%; left:44%;} /*125/267*/
.demo_panel h2.title{margin-bottom:32px;}
.my_dentalfiles{background:#e0e0e0; padding:25px 0 0 0; margin:40px 0; text-align:center; position:relative;}
.my_dentalfiles:before{width:31px; height:61px; content:""; background:url(../Images/inner/paperclip.png) 0 0 no-repeat; position:absolute; top:-4px; right:12px;}
.my_dentalfiles h3{font-size:28px; padding:0 20px; line-height:32px; display:block; font-weight:normal;}
.my_dentalfiles h4{margin:20px 0; color:#333; color:#333333; padding:0 20px; font-weight:bold;}
.my_dentalfiles ul.tour li{width:50%;}
.my_dentalfiles ul.tour li span{width:100%; background:url(../Images/inner/dentalfiles-sprites.png) 100px 100px no-repeat}
.my_dentalfiles ul.tour li span.myinbox{background-position:10px -10px;}
.my_dentalfiles ul.tour li span.myinfo{background-position:-125px -10px}
.my_dentalfiles ul.tour li span.treatingdocs{background-position:10px -158px;}
.my_dentalfiles ul.tour li span.dentalfiles{background-position:-125px -158px;}
.my_dentalfiles ul.tour li h5{color:#333; font-size:15px; font-weight:bold;}
.other_video{height:390px; overflow:auto; background:url(../Images/inner/video-bg.png) 0 0 no-repeat;}
.other_video .video{width:91.9%; height:330px; margin:33px 0 0 26px;} /*592*/
ul.vthumbs{margin:20px 0 0 0;}
ul.vthumbs li{width:22.4%; margin:0 0 0 22px; float:left; text-align:center;} /*144-102*/
ul.vthumbs li:first-child{margin-left:0;}
ul.vthumbs li .thumb{height:102px; border:1px solid #cccccc;}
#inner ul.vthumbs li p{margin:10px 0 0 0; color:#333333; padding:0 8px;}
