/* Style for Usual tabs */
.usual {text-align:left; margin:0 32px 25px 0;}
.usual ul {clear:both;}
.usual li { list-style:none; float:left; margin:0 0 0 1px; position:relative;}
.usual li .counts { background: #0890c4; border-radius: 20px; color: #FFFFFF; display: inline-block; font-size: 13px; left: 6px; line-height: 14px; padding: 3px 7px; position: absolute; top: -10px;}
.usual ul li:first-child{margin-left:0;	}
.usual ul a {display:block; padding:13px 15px; text-align:center; text-decoration:none; color:#666; font-size:16px; background:#e4e4e4; }
.usual ul a.selected, .usual ul a:hover { margin-bottom:0; color:#fff; background:#16325c; border-radius:4px 4px 0 0; -moz-border-radius:4px 4px 0 0;  -webkit-border-radius:4px 4px 0 0; -khtml-border-radius:4px 4px 0 0; -o-border-radius:4px 4px 0 0; -ms-border-radius:4px 4px 0 0; }
.tab_content{ padding:15px 15px 0; clear:left; font-size:14px; position:relative; border:1px solid #cdcdcd; background:#fff;}
.usual ul a.selected i.inbox, .usual ul a:hover i.inbox{background-position:-10px -199px;}
.usual ul a.selected i.npatients, .usual ul a:hover i.npatients{background-position:-42px -199px;}
.usual ul a.selected i.rreceived, .usual ul a:hover i.rreceived{background-position:-73px -199px;}
.usual ul a.selected i.rsent, .usual ul a:hover i.rsent{background-position:-104px -199px;}