.inputosaurus-container {
	border: 1px solid #C2C2C2;
    color: #666666;
    padding: 5px;
    resize: none;
	display:inline-block;
	*display:inline;
	width:50.3%;
	position:relative;
}
/*.inputosaurus-container:hover, .inputosaurus-container:focus{border:1px solid #77C6FE;}*/
.inputosaurus-container:after{
	content:"You can add Multiple Addresses here. Insert a comma(,) after email address";
	position:absolute;
	font-size:12px;
	bottom:-18px;
	left:0;
	transition:ease-in-out 0.3s;	
	color:#0890c4;
	opacity:0;
	}
	.inputosaurus-container:hover:after{
	opacity:1;
	}
ul.form_listing .inputosaurus-container li {
	display : inline-block;
	*display:inline;
	vertical-align:middle;	
	overflow: hidden;
	margin : 2px 2px;
	padding : 4px 5px;
	white-space : nowrap;	
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	-ms-text-overflow:ellipsis;
	background-color:#f5f5f5;
	border:#d9d9d9 solid 1px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	color:#222;
	line-height : 18px;
	cursor: default;
	font-size:12px;
}
.inputosaurus-container li.inputosaurus-selected { background-color:#bdd6eb; }
.inputosaurus-container li a {
	font-size:12px;
	color:#b4b4b4;
	padding : 1px;
	text-decoration : none;
	outline : none;
}
ul.form_listing .inputosaurus-container .inputosaurus-input {
	border:none;
	box-shadow: none;
	background-color:#fff;
	margin-top : 3px;
}
.inputosaurus-container .inputosaurus-input input {
	border:none;
	height : 23px;
	font-size : 14px;
	line-height : 20px;
	color : #555;
	margin : 0;
	outline : none;
	padding : 0 0 1px 1px;
	width : 25px;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
.inputosaurus-container .inputosaurus-input input:hover {
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
.inputosaurus-input-hidden { display:none; }
