@charset "utf-8";
/* CSS Document */

.panel_7{ width:18%;}
.panel_8{ width:18%;}
.panel_9{ width:17%;}



/* My Dental Files Pages Styling for IE8, * for IE7 */
ul.disp_inline{width:68%;}
.demo_video{border:1px solid #cccccc;}
.backrend_listing ul li{*display:inline;} 
.loginbtn, .signupbtn, .loginpop{*float:left;}
.MemberLoginDropDown{right:0;}
.sf-menu{*float:left;  *width:75%;}
.sf-menu > li > input[type="submit"], #phmenu > li input[type="submit"]{*overflow:visible;}
.right_side_links{*float:right!important; *width:20%}
.row-nav nav{*display:inline-block;}
.sign_steps ul li{ *zoom:1;}
.sign_steps ul input[type="submit"]{*display:block}
.sign_steps p{line-height:20px;}
.main_content .information_panel ul li{*display:inline;}
.MemberLoginDropDown{right:3px; top:18px;}
.MemberLoginDropDown{*right:0; *top:26px;}
.sign_in .input_border{*float:none;}
.contact_form h4.heading{*text-transform:none;}
ul.nav_header li{*display:inline; *width:auto; *zoom:1}
ul.nav_header li.profile .thumb, ul.nav_header li.profile a, ul.nav_header li a{*float:none; *display:inline;}
ul.nav_header li a{*display:block;}
ul.nav_header li.profile a{*display:inline-block;}
.toolbar-icons.quick_links ul li{*display:inline; *width:48%; *margin-left:10px; *float:none; *zoom:1}
.toolbar-icons.quick_links ul li:first-child{*margin-left:0;}
.pagination .right_panel_list_div span, .pagination .right_panel_list_div span{*padding-top:0;}
.table .thead, .table ul.tablelist li, #test-form .pagination, .patient_history .pagination, #ucPagerControl1_btnPrevious, #ucPagerControl1_btnNext{*display:inline-block;}
.pagination .right_panel_list_div span.PageText{*padding-top:5px;}
#test-form label, .compose_msg label, ul.disp_inline, ul.disp_inline li{*display:inline; *zoom:1}
.pat_add span{*display:inline; *zoom:1}
.pat_add div{*display:inline; *margin-left:0; *width:85%; *float:left;}
ul.tablelist > li, h2.title{*display:inline-block;}
.checkbox_listing label, .checkbox_listing input{*float:none;}
.patient_history .checkbox_listing ul li{*zoom:1}
.patient_history .checkbox_listing label{*font-size:12px; *color:#666666; *zoom:1}
.patient_history .checkbox_listing input{*margin-top:0;}
.patient_history input.inputbox_other[type="text"]{*width:78%; *float:none; *zoom:1; *vertical-align:top; }
div.teeth_list div{*display:inline;}
.right_teeth, .left_teeth{*width:50%;}
.dental_list input[type="checkbox"]{margin:0;}
ul.dentalfiles > li{*zoom:1}
.dental_bttns{*clear:both; *width:100%}
.dental_bttns input{*float:left;}
.searchpage_content{*width:92.8%;}
ul.searchpage_listing, ul.searchpage_listing li{ width:100%;}
.search_btn_1{*float:none;}
.inputbox_textarea_search_2{*height:28px;}
.tab-container{*position:inherit!important;}
ul#form_info li.action{*margin-top:0;}
ul#form_info li label{*padding-top:0;}
ul#form_info li input, .input_box_forms textarea{*margin-bottom:5px;}
ul#form_info li label, ul#form_info li input, .input_box_forms textarea, ul#form_info li span{*display:inline; *float:none!important}
ul#form_info+h2.form_heading, ul#form_info+.clear+h2.form_heading{*margin-top:10px;}
ul#form_info.information_panel li .input_box_forms:first-child{*margin-top:0;}
ul#form_info{*padding-bottom:8px!important;}
ul#form_info li span{*width:50%;}
ul#form_info li span label{*margin-left:-2px;}
ul.alt_listing li{*display:inline-block;}
.input_pswd input[type="text"]{*margin-right:0;}
.settings_nots ul#form_info li{*display:inline; *zoom:1}
#tab-container_2 ul#form_info li input[type="checkbox"]{*margin-top:0;}
ul#form_info li.actions label, ul#form_info li.actions input[type="submit"], ul#form_info li.actions input[type="button"]{*float:left!important;}
