.mfp-content {width:100%;}
.get-code-window {
	position: relative;
	background: #FFF;
	padding: 2em 3em;
	width: auto;
	margin: 20px auto;
	max-width: 600px
}
#magnific_popup_documentation {
	font-size: 3em;
	margin-bottom: 1em;
	font-weight: 700;
	text-align: center
}


#main-wrapper {
	background: 0;
	max-width: 800px;
	width: 100%;
	margin: 2em auto 4em;
	padding: 3em;
	padding-top: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: relative
}
.white-popup-block {
	background: #FFF;
	padding: 15px;
	text-align: left;
	max-width: 760px;	
	margin: 40px auto;
	position: relative;
	border-radius:10px
}
#examples:after {
	content: 'to view source click on the title of example';
	opacity: .4;
	font-weight: 400;
	font-size: 14px;
	margin-top: 13px;
	float: right
}
.example {
	margin-bottom: 20px;
	position: relative
}
.example h3 {
	display: inline-block;
	cursor: pointer;
	border-bottom: 1px dotted #949494
}
.example h3:hover {
	color: #C00
}
.example h3:hover:after {
	content: 'view source';
	padding-left: 8px;
	color: #999;
	position: absolute;
	top: 16px;	
	font-size: 12px
}

}
@media all and (max-width:30em) {
#examples:after {
	display: none
}
.gc3 {
	width: 100%
}
.grid-c .gc3:nth-of-type(2n+1) {
	clear: none
}
#main-wrapper {
	padding: 1em;
	margin-top: 0
}
.highlight {
	padding: .2em 1em;
	margin: 1em -1em
}
}
@media all and (max-width:700px) {
.zoom-cursor {
	cursor: pointer
}
#conditional-lightbox-notice {
	display: block;
	padding: 10px;
	background: #FFEAEA
}
}


.mfp-bg {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1042;
	overflow: hidden;
	position: fixed;
	background: #0b0b0b;
	opacity: .8;
	filter: alpha(opacity=80)
}
.mfp-wrap {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1043;
	position: fixed;
	outline: 0!important;
	-webkit-backface-visibility: hidden
}
.mfp-container {
	text-align: center;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	padding: 0 8px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
.mfp-container:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle
}
.mfp-align-top .mfp-container:before {
	display: none
}
.mfp-content {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin: 0 auto;
	text-align: left;
	z-index: 1045
}



.mfp-hide {
	display: none!important
}


.mfp-close {
	width: 32px;
	height: 32px;
	line-height: 32px;
	position: absolute;
	right: -15px;
	top: -15px;
	text-decoration: none;
	text-align: center;
	text-indent:-9999px;
	background:url(../images/patient-history/close.png) left top no-repeat;
	border:none;
	cursor:pointer;
}
