﻿
@model dynamic
@{
    ViewBag.Title = "Claim Profile";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}
<style>
    .contact_form ul li.action {
        text-align: start;
    }
</style>
<script>
    $(document).ready(function () {
        $(function () {
            $("#homeindex").removeClass("active");
            $("#quick_tour").removeClass("active");
            $("#plan_pricing").removeClass("active");
            $("#faq").removeClass("active");
            $("#about_us").removeClass("active");
            $("#contact_us").addClass("active");


            // For First Name
            $("#txtfname").focus(function () {
                if (document.getElementById("txtfname").value == "First Name") {
                    document.getElementById("txtfname").value = "";
                }

            });

            $("#txtfname").blur(function () {

                if (document.getElementById("txtfname").value == "") {
                    document.getElementById("txtfname").value = "First Name";
                }
            });


            // For Last Name
            $("#txtlname").focus(function () {
                if (document.getElementById("txtlname").value == "Last Name") {
                    document.getElementById("txtlname").value = "";
                }

            });
            $("#txtlname").blur(function () {

                if (document.getElementById("txtlname").value == "") {
                    document.getElementById("txtlname").value = "Last Name";
                }
            });


            // For Phone
            $("#txtphone").focus(function () {
                if (document.getElementById("txtphone").value == "Phone") {
                    document.getElementById("txtphone").value = "";
                }

            });
            $("#txtphone").blur(function () {

                if (document.getElementById("txtphone").value == "") {
                    document.getElementById("txtphone").value = "Phone";
                }
            });


            // For Email
            $("#txtemail").focus(function () {
                if (document.getElementById("txtemail").value == "Email") {
                    document.getElementById("txtemail").value = "";
                }

            });
            $("#txtemail").blur(function () {

                if (document.getElementById("txtemail").value == "") {
                    document.getElementById("txtemail").value = "Email";
                }
            });
        });
    });
    function ClaimProfile() {
        $.ajaxSetup({ async: false });
        $("#divLoading").show();
        var Email = '@Model.Email';
        $.post("/ClaimProfile/SendMailForClaimProfile", { FirstName: $("#txtfname").val(), LastName: $("#txtlname").val(), Email: Email, Phone: $("#txtphone").val() }, function (data) {
            if (data == "1") {
                $("#SeccessMessage").css("display", "");
                $(".block1").css("display", "none");
                setTimeout(function () {
                    window.location.href = '/Index';
                }, 5000);
            }
            else {
                // alert('Send failure:' + data);
                swal({ title: "", text: 'Send failure:' + data, type: 'error' });
            }
        });

        $("#divLoading").hide();

        $.ajaxSetup({ async: true });
    }

</script>
<section id="inner">
    <div class="container">
        <div class="content">
            <h2 class="title">Claim this profile</h2>
        </div>
    </div>

    <section class="contact_form greybg">
        <div class="container">
            <div id="SeccessMessage" class="heading" style="text-align: left; color: green;margin-bottom: 22px; font-size: 13px; display:none;">
                Congratulations, you have claimed your profile successfully. We have sent you password reset link to your email address. You will automatically redirected to login page in 5 seconds.
                <br />
            </div>

            <div class="block1">
                <ul>
                    <li><input class="name textfield" id="txtfname" name="txtfname" type="text" value="@Model.Firstname" readonly /><span class="mandatory">*</span></li>
                    <li><input class="name textfield" id="txtlname" name="txtlname" type="text" value="@Model.LastName" readonly /><span class="mandatory">*</span></li>
                    <li><input class="email textfield" id="txtemail" name="Email" value="@Model.MaskMail" type="text" readonly /><span class="mandatory">*</span></li>
                    <li><input class="phone textfield" id="txtphone" title="Eg: 5555555555, (555)555-5555, 555-555-5555" name="Phone" value="@Model.Phone" type="text" readonly /><span class="mandatory">*</span></li>
                    <li class="action"><input id="btnsave" class="submit" name="Submit" type="button" value="Submit" onclick="ClaimProfile();" /></li>
                </ul>
            </div>

            <div class="clear"></div>
        </div>
    </section>
</section>
