﻿@model BO.Models.ClaimProfile

@{
    ViewBag.Title = "Claim Profile";
    Layout = "~/Views/Shared/NewSiteLayout.cshtml";
}

<main id="main">
    <div class="page_haading_holder">
        <div class="container navigation_container">
            <div class="row navigation_row">
                <div class="col-xs-12">
                    <div class="page_heading">
                        <h1>Claim This Profile</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="section-sign-up claim-profile">
        <div class="container">
            <div class="plan_pricing_holder plan_pricing_holder2">
                <form id="frmClaimProfile" method="post">
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 left_box_holder">
                        <div class="left_box">
                            <div class="form-group">
                                <div class="alert alert-success" id="successmsg" style="display:none;">Congratulations, you have claimed your profile successfully. We have sent you password reset link to your email address. You will automatically redirected to login page in 5 seconds.</div>
                                <div class="alert alert-danger" id="alertmsg" style="display:none;"></div>
                                <label for="FirstName">First Name</label><span class="mandatory">*</span>
                                @*<input class="form-control" id="FirstName" type="text">*@
                                @Html.TextBoxFor(m => m.Firstname, new {@id= "txtfname", @onkeyup = "CharactersOnlytxtfirstname()", @class = "form-control",@Readonly= "Readonly" })
                                @Html.ValidationMessageFor(m => m.Firstname)
                                @*<input class="form-control" id="txtfname" name="txtfname" type="text" value="First Name" onkeyup="CharactersOnlytxtfirstname()" />*@
                            </div>
                            <div class="form-group card_group">
                                <label for="LastName">Last Name</label><span class="mandatory">*</span>
                                @*<input class="form-control input-lg" id="LastName" type="text">*@
                                @Html.TextBoxFor(m => m.LastName,new { @id = "txtlname", @onkeyup = "CharactersOnlytxtlastname()", @class = "form-control input-lg", @Readonly = "Readonly" })
                                @Html.ValidationMessageFor(m => m.LastName)
                                @*<input class="name textfield" id="txtlname" name="txtlname" type="text" value="Last Name" onkeyup="CharactersOnlytxtlastname()" />*@
                            </div>
                            <div class="form-group card_group">
                                <label for="Email">Email</label><span class="mandatory">*</span>
                                <input type="hidden" value="@Model.Email" id="txtemail" />
                                @*<input class="form-control input-lg" id="Email" placeholder="info@name.com" type="email">*@
                                @Html.TextBoxFor(m => m.Email,new {@id= "maskmail", @Value =Model.MaskEmail,@class="form-control input-lg", @Readonly = "Readonly" })
                                @Html.ValidationMessageFor(m => m.Email)
                                @*<input class="email textfield" id="txtemail" name="Email" value="Email" type="text" />*@
                            </div>
                            <div class="form-group card_group">
                                <label for="Phone">Phone</label><span class="mandatory">*</span>
                                @*<input class="form-control input-lg" id="Phone" type="text">*@
                                @Html.TextBoxFor(m => m.Phone,new { @id = "txtphone",@class="form-control input-lg", @Readonly = "Readonly" })
                                @Html.ValidationMessageFor(m => m.Phone)
                                @*<input placeholder="Phone" class="phone textfield" id="txtphone" title="Eg: 5555555555, (555)555-5555, 555-555-5555" name="Phone" value="Phone" type="text" />*@
                            </div>
                            <div class="form-group checkbox_main">
                            </div>
                            <div class="button_box">
                                <a href="javascript:;"  id="btnsave" class="submit_button">Submit</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>

<script type="text/javascript">
    function IsCharactersOnly(data) {
        var regex = /^[a-zA-Z\/\s\.'-]*$/;
        return regex.test(data);
    }

    function CharactersOnlytxtfirstname() {
        
        var charactersOnly = IsCharactersOnly($('#txtfname').val());
        if (charactersOnly == false) {
            $('#txtfname').val('');
        }
    }

    function CharactersOnlytxtlastname() {
        var charactersOnly = IsCharactersOnly($('#txtlname').val());
        if (charactersOnly == false) {
            $('#txtlname').val('');
        }
    }

    $('body').on('click', function () {
        $('#txtfname').removeClass('input-validation-error');
        $('#txtlname').removeClass('input-validation-error');
        $('#txtemail').removeClass('input-validation-error');
        $('#txtphone').removeClass('input-validation-error');
    });

    $("#btnsave").click(function () {
        if (!$("#frmClaimProfile").valid()) {
            $('#txtfname').removeClass('input-validation-error');
            $('#txtlname').removeClass('input-validation-error');
            $('#txtemail').removeClass('input-validation-error');
            $('#txtphone').removeClass('input-validation-error');
        }
        else {
            ClaimThisProfile();
        }
    });

    function ClaimThisProfile()
    {
        $.ajaxSetup({ async: false });
        $("#divLoading").show();
        var fname = $('#txtfname').val();
        var lname = $('#txtlname').val();
        var email = $('#txtemail').val();
        var phone = $('#txtphone').val();

        var obj = {
            'Firstname': fname,
            'LastName': lname,
            'Email': email,
            'Phone': phone
        }
        $.ajax({
            url: "/ClaimProfile/SendMailForClaimProfile",
            type: "POST",
            data: { clmobj: obj },
            success: function (data)
            {
                if (data == "1") {
                    $("#divLoading").hide();
                    $("#successmsg").css("display", "block");
                    setTimeout(function () {
                        $("#successmsg").css("display", "none");
                    },5000);             
                    setTimeout(function () {                      
                        window.location.href = '/Login/Logout';
                    }, 3000);
                }
                else {
                    //swal({ title: "", text: 'Send failure:' + data, type: 'error' });
                    $("#divLoading").hide();
                    $("#alertmsg").css("display", "block");
                    $("#alertmsg").html("Send failure");
                    setTimeout(function () {
                        $("#alertmsg").css("display", "none");
                    },5000);                    
                }
            }
        });
    }

</script>
