.col-border {
    border: 1px solid #666;
}

.rel-day {
    background: #b5b5b5 none repeat scroll 0 0;
    border-radius: 10px;
    color: #fff;
    display: inline;
    font-size: 12px;
    font-weight: bold;
    line-height: 19px;
    padding: 0 10px;
    text-align: center;
}

.week-day {
    color: #333;
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    margin-top: 5px;
    text-align: center;
}

.date {
    font-weight: bold;
    min-height: 50px;
    width: auto;
    text-align: center;
}

.row-bar {
    min-height: 200px !important;
}

.row-bar-heading-old {
    padding: 2px 9px !important;
}

.row-bar-heading {
    padding: 2px 9px !important;
}

    .row-bar-heading:hover {
        background-color: #6ABB55 !important;
        text-decoration: none;
        color: #fff;
    }

.col-border {
    border: 0px solid #666 !important;
    border-right: 1px solid #e6e6e6 !important;
    border-bottom: 1px solid #e6e6e6 !important;
    border-top: 1px solid #e6e6e6 !important;
}

.col-border2 {
    border: 1px solid #e6e6e6 !important;
    font-size: 10px;
    padding: 5px !important;
}

.col-border3 {
    border: 0px solid #e6e6e6 !important;
    font-size: 10px;
    padding: 5px 15px !important;
    min-height: 200px !important;
}

.heading-border {
    border-left: 1px solid #e6e6e6 !important;
}

.book-text {
    text-decoration: line-through;
    color: #d0d0d0;
    padding: 2px 9px !important;
    cursor: default;
}

.appointmentactivecls {
   background-color: #35C5F4 !important;
    text-decoration: none !important;
    color: #fff !important;
}

.devdtwo {
    border: 1px solid #ccc !important;
    display: inline-block;
    height: auto;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .devdtwo {
        height: auto !important;
    }

    .servicedev {
        margin: 0;
        width: 100% !important;
        float: none;
    }

    .servicedevmain {
        width: 100% !important;
    }

    .table-striped > tbody > tr:nth-of-type(2n+1) {
        background-color: #fff;
    }

    .xdsoft_datetimepicker .xdsoft_datepicker {
        float: left;
        margin-left: 4px;
        margin-right: 4px;
        width: 100%;
    }

    .xdsoft_datetimepicker.xdsoft_inline {
        width: 100%;
    }

    .rel-day {
        font-size: 10px;
    }

    .week-day {
        font-size: 14px;
    }
}
