﻿@model BO.Models.Cases
@using BusinessLogicLayer;
@{
    ViewBag.Title = "EditPlan";
    Layout = "~/Views/Shared/_NewSiteLayoutInner.cshtml";
}
@{ 
    string EndDate = string.Empty;
}
<link href="~/Content/bootstrap-datepicker/Css/bootstrap-datepicker3.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="~/Content/css/select2.min.css" />

<style>
    .select2-container--default .select2-results__option[aria-disabled=true] {
        display: none !important;
    }

    .select2-results__option[aria-selected=true] {
        display: none !important;
    }
</style>
<main id="main" role="main">
    <div class="container">
        <div class="new-case case-overview new_cases_view">
            <div class="row btm-margin-30  row-bordered referral">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col col-lg-6 col-xs-6 col-lg-push-6 two">
                            <div class="btn-group">
                                <a href="#" class="btn-default btn-cases"><i class="ico-import-case"></i>Import Plans</a>
                            </div>
                            <div class="btn-group">
                                <a href="#" class="btn-default btn-cases"><i class="ico-export-case"></i>Export Plans</a>
                            </div>
                        </div>
                        <div class="col col-lg-6 col-xs-6 col-lg-pull-6">
                            <h1 class="inline">Edit Plan</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mrgn-btm-20 new_plans">
                <div class="col-lg-12 mail-header">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="mail-header-holder">
                                @{
                                <input type="hidden" value="@Model.objPatientdetail.PatientId" id="NoPatient" />
                                      }
                                <dl class="mail-det-list  patient-history">
                                  <dt>Name:</dt>
                                    <dd>
                                        @Html.HiddenFor(m => m.CaseId, new { @id="hdnCaseId"})
                                        @Html.HiddenFor(m => m.PatientId, new { @id = "hdnPatientId" })
                                        @if (Model.objPatientdetail != null)
                                        {
                                            <label id="fullname" title="@Model.objPatientdetail.FullName" hidden></label>
                                            <span>@Model.objPatientdetail.FullName</span>

                                        }
                                    </dd>
                                </dl>
                                <dl class="mail-det-list  patient-history">
                                   @if (Model.objPatientdetail != null)
                                   {
                                       if (!string.IsNullOrWhiteSpace(Model.objPatientdetail.DateOfBirth))
                                       {
                                            <dt>Date of Birth:</dt>
                                            <dd>
                                                <label id="dbo" title="@Model.objPatientdetail.DateOfBirth" hidden></label>
                                                <span>@Model.objPatientdetail.DateOfBirth</span>
                                            </dd>
                                       }
                                   }
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <form enctype='multipart/form-data' id='frmPlan' class="new_plan">
                <div id="msgboxidd">
                    <div class="alert alert-danger" id="alertmsgdate" style="display:none;"></div>
                </div>
                <div class="row mrgn-btm-20">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <label class="mrgn-0 mrgn-btm-mob-10">Has the patient already accepted treatment?</label>
                    </div>
                    <div class="col-lg-1 col-md-2 col-sm-2 col-xs-2">
                        <label class="switch">
                            @if (Model.TreatmentAccepted == true)
                            {
                                <input type="checkbox" id="isTreatmentAccepted" value="@Model.TreatmentAccepted" checked="checked"/>
                            }
                            else
                            {
                                <input type="checkbox" id="isTreatmentAccepted" value="@Model.TreatmentAccepted" />
                            }
                            <span class="slider round1"></span>
                        </label>
                        <span class="enable"></span>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        @if (Model.TreatmentAccepted == true)
                        {
                            <div id="dvTreAccDate" style="display:block">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-4">
                                        <label class="mrgn-0 mrgn-btm-mob-10">Treatment Acceptance Date:</label>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-8">
                                        <div class="form-group mrgn-btm-0 date-holder">
                                            @{ 
                                                EndDate = new CommonBLL().ConvertToDate(Convert.ToDateTime(@Model.TreatmentAcceptedDate), (int)BO.Enums.Common.DateFormat.GENERAL);
                                            }
                                            <input class="form-control" id="date" name="date" placeholder="MM/DD/YYYY" type="text" value="@EndDate">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <div id="dvTreAccDate" style="display:none">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-4">
                                    <label class="mrgn-0 mrgn-btm-mob-10">Treatment Acceptance Date:</label>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-8">
                                    <div class="form-group mrgn-btm-0 date-holder">
                                        <input class="form-control" id="date" name="date" placeholder="MM/DD/YYYY" type="text" value="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*RM-364*@ 
                <div class="row mrgn-btm-20 new_plans" style="margin-top:-15px;">
                    <div class="col-lg-12 mail-header">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="mail-header-holder">
                                   @*  RM-364 : Display plan name for patient*@
                                @if (!string.IsNullOrEmpty(Model.CaseName))
                                {
                                    <dl class="mail-det-list  patient-history">
                                        <dt>Plan Name:</dt>
                                        <dd>
                                            <label id="fullname" title="@Model.objPatientdetail.FullName" hidden></label>
                                            <span>@Model.CaseName</span>
                                        </dd>
                                    </dl>
                                }
                                 </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div id="msgBoxid">
                            <div class="alert alert-warning" id="errormsg" style="display:none;"></div>
                            <div class="alert alert-success" id="successmsg" style="display:none;">Plan saved successfully!</div>
                            <div class="alert alert-danger" id="alertmsg" style="display:none;"></div>
                        </div>
                        @Html.AntiForgeryToken()
                        @Html.Partial("PartialPlanTreatmentList",Model._caseStepList)
                        <table class="table table3 actions">
                            <tbody>
                                <tr>
                                    <td data-th="">
                                        <ul class="icon-list">
                                            <li><a href="javascript:void(0);" id="AppendStage"><i class="ico-plus"></i>Add Stage</a></li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row mrgn-btm-20">
                    <div class="col-lg-12">
                        <div class="btn-group btn-holder">
                            <a href="/plan" class="btn btn-default btn1"><i class="ico-corss2"></i>Cancel</a>
                            <a href="javascript:;" class="btn btn-default btn1" id="btnSaveDraft"><i class="ico-save"></i>Save as Draft</a>
                            <a href="javascript:;" class="btn btn-default btn2" id="btnSavePlan"><i class="ico-save"></i>Save Plan</a>
                            @*<input type="submit" class="btn btn-default" value="Save Plan" />*@
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
<script src="~/Content/js/Sortable/jquery-ui.js"></script>
<script src="~/Content/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="~/Scripts/select2.min.js"></script>

<script>

    $(document).ready(function () {
        //Changes mad for Issue when Patient Not Exist in Patient Table
        if ($('#NoPatient').val() == 0)
        {
            $("#alertmsg").css('display', 'block');
            $("#alertmsg").html("Invalid patient you are trying to access.");
            setTimeout(function () {
                $("#alertmsg").css('display', 'none');
                history.back();
            },5000);
        }
        setDatePicker();
        var treatment_date = $('input[name="date"]');
        treatment_date.datepicker({
            todayHighlight: true,
            autoclose: true,
            format: "mm/dd/yyyy",
            todayBtn: "linked",
            'startDate': '@Model.objPatientdetail.DateOfBirth',
             language: "de",
            "singleDatePicker": true,
            "showDropdowns": true,
            "autoApply": true
        });
    });
    $('#tblPlanStage').on('click', '.delplan', function (event) {
            $(this).closest('tr').remove();
            $("tbody").children().each(function (index) {
                $(this).find('#stepplan').html(index)
                $(this).find('.txtdescription').attr('id', 'description_' + index);
                $(this).find('.txtcompletiondate').attr('id', 'CompletionDate_' + index);
                $(this).find('.ddlcolleaglst').attr('id', 'Colleaglst_' + index);
                $(this).find('.hdncasestep').attr('id', 'CaseStepId_' + index);
            });
    });
    $('#isTreatmentAccepted').click(function () {
        $("#dvTreAccDate").toggle(this.checked);
        $("#date").val('');
    });

    $("#btnSaveDraft").click(function (e) {
        get_content_stage(2,e);
    });

    $("#btnSavePlan").click(function (e) {
        get_content_stage(1);
    });

    function get_content_stage(_id)
    {
        var breakOut = false;
        if ($(".eachtr").length == 0) {
            alerttext = "Please add at-least one stage.";
            breakOut = true;
        }

        if ('@Model.objPatientdetail.DateOfBirth' != '') {
            if ('@Model.objPatientdetail.DateOfBirth' <= $('#date').val()) {
                alerttext = "The Treatment accepted date is Higher the Date of Birth.";
                breakOut = true;
            }
        }

        var isAccepted = $('#isTreatmentAccepted').is(':checked') ? "on" : "off";
        var acceptdate = $('#date').val();
        if (isAccepted == "on" && acceptdate == '') {
            $("#alertmsgdate").css('display', 'block');
            $("#alertmsgdate").html("Please select treatment acceptance date.");
            $('html, body').animate({
                scrollTop: $("#main").offset().top
            }, 1000);
            setTimeout(function () {
                $("#alertmsgdate").css('display', 'none');
            }, 5000);
            return false;
        }
        var CaseId = $("#hdnCaseId").val();
        var PatientId = $("#hdnPatientId").val();
        var fullname = '@Model.objPatientdetail.FullName';
        var dbo = '@Model.objPatientdetail.DateOfBirth';

        jsonObj = [];
        var id = $(".eachtr").data('step');
        if (id == undefined) {
            id = 1;
        }
        $('.eachtr').each(function () {
            itemPlanStage = {}
            itemPlanStage["id"] = id;
            if ($("#description_" + id + "").val() == '') {
                breakOut = true;
                alerttext = "Please enter the description of step: " + id + "";
                return false;
            }
            itemPlanStage["desc"] = $("#description_" + id + "").val();
            //if ($("#CompletionDate_" + id + "").val() == '') {
            //    breakOut = true;
            //    alerttext = "Please select the completion date of step: " + id + "";
            //    return false;
            //}
            itemPlanStage["date"] = $("#CompletionDate_" + id + "").val();
            //if ($("#Colleaglst_" + id + "").val() == 0) {
            //    breakOut = true;
            //    alerttext = "Please select the provider of step: " + id + "";
            //    return false;
            //}
            itemPlanStage["provider"] = $("#Colleaglst_" + id + "").val();
            itemPlanStage["stepOrder"] = id;
            if ($("#Colleaglst_" + id + "").val() != '' || $("#CompletionDate_" + id + "").val() != '') {
                
                if ($("#description_" + id + "").val() == '') {
                    alerttext = "Please enter description at Step - " + id;
                    return false;
                }
                else {
                    jsonObj.push(itemPlanStage);
                }
            }
            else {
                alerttext = "Please enter at-least one step!";
            }
            id = id + 1;

        });
        if (jsonObj.length === 0) {
            breakOut = true;
        }
        if (breakOut) {
            $("#alertmsg").css('display', 'block');
            $("#alertmsg").html(alerttext);
            $('html, body').animate({
                scrollTop: $("#main").offset().top
            }, 1000);
            setTimeout(function () {
                $("#alertmsg").css('display', 'none');
            }, 5000);
            breakOut = false;
            return false;
        }
        var token = $(':input:hidden[name*="RequestVerificationToken"]').val();
        var model = {
            'jsonObj': jsonObj,
            'isAccepted': isAccepted,
            'acceptdate': acceptdate,
            'fullname': fullname,
            'dbo': dbo,
            'PatientId': PatientId,
            'Status': _id,
            'id': CaseId
        }
        $.post("@Url.Action("Create","Plan")", { __RequestVerificationToken: token, model: model }, function (response) {
            if (response.Success) {
                $("#errormsg").css('display', 'none');
                $("#successmsg").css('display', 'block');
                $("#successmsg").html("Plan is successfully saved.");
                $('html, body').animate({
                    scrollTop: $("#successmsg").offset().top
                }, 1000);
                setTimeout(function () {
                    $("#successmsg").css('display', 'none');
                }, 5000);
            }
            else {
                $("#successmsg").css('display', 'none');
                $("#errormsg").css('display', 'block');
                $("#errormsg").html(response.Message);
                $('html, body').animate({
                    scrollTop: $("#errormsg").offset().top
                }, 1000);
                setTimeout(function () {
                    $("#errormsg").css('display', 'none');
                }, 5000);
            }

        });
    }

    function setDatePicker()
    {
        var date_input = $('input[name="item.CreatedAt"]'); //our date input has the name "date"
        //var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
        date_input.datepicker({
            todayHighlight: true,
            autoclose: true,
            format: "mm/dd/yyyy",
            todayBtn: "linked",
            language: "de",
            "singleDatePicker": true,
            "showDropdowns": true,
            "autoApply": true
        });
    }

    $("body").on("click", "#AppendStage", function () {
        var get_last_content = $("tr.PlanStep").html();
        var x = document.getElementById('tblPlanStage');
        var new_id = x.rows.length -1;
        last_id = parseInt(new_id) - 1;
        var done = get_last_content.replace('PlanStep', 'eachtr');
        var htmlfirst = done.replace("description_0", "description_" + new_id);
        var htmlsecond = htmlfirst.replace("CompletionDate_0", "CompletionDate_" + new_id);
        var htmlthird = htmlsecond.replace("Colleaglst_0", "Colleaglst_" + new_id);
        var htmlfour = htmlthird.replace("deleteplan_0", "deleteplan_" + new_id);
        htmlfour = "<tr class='plancase eachtr'>" + htmlfour + "</tr>";
        $('#tblPlanStage').append(htmlfour);
        $("tbody").children().each(function (index) {
            $(this).find('#stepplan').html(index)
        });
        $('.txtdescription').each(function () {
            this.setAttribute('style', 'height:' + (this.scrollHeight) + 'px;overflow-y:hidden;');
        }).on('input', function () {
            this.style.height = 'auto';
            this.style.height = (this.scrollHeight) + 'px';
        });
        setDatePicker();
        $("#Colleaglst_" + new_id).select2({
            placeholder: 'Search Provider',
            minimumInputLength: 1,
            multiple: false
        });
    });

</script>

