﻿@model BO.Models.CaseDefaultStep
@{
    ViewBag.Title = "Recordlinc - New Plan";
    Layout = "~/Views/Shared/_NewSiteLayoutInner.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/css/select2.min.css" />
<script type="text/javascript" src="~/Scripts/select2.min.js"></script>
<style>
    .select2-container--default .select2-results__option[aria-disabled=true] {
        display: none !important;
    }

    .select2-results__option[aria-selected=true] {
        display: none !important;
    }
</style>
<!-- Main content -->
<main id="main" role="main">
    <div class="container">
        <div class="new-case case-overview new_cases_view">
            <div class="row btm-margin-30  row-bordered referral">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col col-lg-6 col-xs-6 col-lg-push-6 two">
                            @*<div class="btn-group">
                                <a href="#" class="btn-default btn-cases"><i class="ico-import-case"></i>Import Plans</a>
                            </div>
                            <div class="btn-group">
                                <a href="#" class="btn-default btn-cases"><i class="ico-export-case"></i>Export Plans</a>
                            </div>*@
                        </div>
                        <div class="col col-lg-6 col-xs-6 col-lg-pull-6">
                            <h1 class="inline">New Plan</h1>
                            
                                <a href="javascript:;" onclick="gotoback();" class="reply-btn back" style="display:none;"><i class="fa fa-arrow-left"></i>Back</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="searchpanel">
                <div class="row mrgn-btm-20 new_plans">
                    <div class="col-lg-3 col-sm-12">
                        <label class="existing">Search an Existing Patient:</label>
                    </div>
                    <div class="col-lg-9 col-sm-12 mrgn-btm-20">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-5 col-xs-7 mrgn-btm-20">
                                <select style="width:100%;" id="patientlist">
                                    <option value=""></option>
                                    @foreach (var item in Model.PatientListing)
                                    {
                                            <option value="@item.id">@item.text</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-7 col-xs-5">
                                <div class="btn-group btn-holder" id="addbtndiv">
                                    <a href="@Url.Action("AddPatient", "Patients")" class="btn btn-default btn2"><i class="add_patient_icon"></i>Add New Patient</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="PartialPlan" hidden>
            </div>
        </div>
    </div>
</main>
<script type="text/javascript">
    $(document).ready(function () {
        
        var MyLastURL = document.referrer;
        var PatientId = encodeURI(@TempData["PatientHistoryPatientId"]);
        if(PatientId != null && MyLastURL.indexOf('/PatientHistory') > -1){
            $("#patientlist").val(PatientId).trigger("change");
        }
        if (PatientId != null && MyLastURL.indexOf('/Patients') > -1) {
            $("#patientlist").val(PatientId).trigger("change");
        }
        if (PatientId != null && MyLastURL.indexOf('/Dashboard') > -1) {
            $("#patientlist").val(PatientId).trigger("change");
        }

    });
</script>
<script src="~/Content/js/Sortable/jquery-ui.js"></script>
<script src="~/Scripts/ControllerJS/PlanTreatment/planCommon.js"></script>
