﻿@model NewRecordlinc.Models.Appointment.CreateAppointment
@using NewRecordlinc.Models.Appointment
<div class="calender">
    @if (!Model.AppointmentDayViewList.FirstOrDefault().IsTodayDate)
    {
        <a href="javascript:;" class="left-arrow" id="leftArrow" onclick="GetTimeslotGrid('Prev');"></a>
    }
    <div id="viewContainer">
        <div id="tslshow">
            @Html.Hidden("calPrevDay", Model.PrevDate)
            @Html.Hidden("calNextDay", Model.AppointmentDayViewList[Model.AppointmentDayViewList.Count - 1].CurrentDate.AddDays(1).ToString("MM/dd/yyyy"))
            @foreach (var item in Model.AppointmentDayViewList)
            {
            <div class="date">
                <label class="raw1" style="font-weight:normal"> @Html.Raw(item.DayLable) </label>
                @*@Html.TextBox(item.DayLable, new { @class = "raw1" , @style="font-size:10px" })*@
            </div>
            }
        </div>
    </div>
    <a href="javascript:;" class="right-arrow" id="rightArrow" onclick="GetTimeslotGrid('Next');"></a>
</div>
<hr />
<div class="timing" style="overflow-y: auto; height:250px;">
    @foreach (var item in Model.AppointmentDayViewList)
    {
        <div class="date_slot" for="@item.CurrentDate.Date.ToString("MM/dd/yyyy")">

            @if (item.IsOffDay == "N")
            {
                var Max_Count = item.AppointmentTimeSlotViewlst.Count > 4 ? 4 : item.AppointmentTimeSlotViewlst.Count;

                for (int j = 0; j < Max_Count; j++)
                {
                    if (item.AppointmentTimeSlotViewlst[j].IsBookedTimeslot == AppointmentSetting.ApoointmentStatus.Booked.ToString())
                    {
                        <span class="empty">@item.AppointmentTimeSlotViewlst[j].TimeSlot</span>
                    }
                    else
                    {
                        <span style="cursor:pointer">@item.AppointmentTimeSlotViewlst[j].TimeSlot</span>
                    }

                }
                if (item.AppointmentTimeSlotViewlst.Count > 4)
                {
                    <span class="showMoreSlots" style="cursor:pointer">More</span>
                    <div class="loadMoreSlots" style="display: none;">
                        @for (int j = 5; j < item.AppointmentTimeSlotViewlst.Count; j++)
                        {
                            if (item.AppointmentTimeSlotViewlst[j].IsBookedTimeslot == AppointmentSetting.ApoointmentStatus.Booked.ToString())
                            {
                                <span class="empty">@item.AppointmentTimeSlotViewlst[j].TimeSlot</span>
                            }
                            else
                            {
                                <span style="cursor:pointer">@item.AppointmentTimeSlotViewlst[j].TimeSlot</span>
                            }

                        }
                    </div>

                }

            }
            else
            {
                <span class="empty">-</span>
                <span class="empty">-</span>
                <span class="empty">-</span>
                <span class="empty">-</span>
                <span class="empty">-</span>
            }
        </div>
    }
</div>

@*<script>
    $(document).ready(function () {
        $(".raw1").click(function () {
            $(".raw1").removeClass("bg-primary");
            $(this).addClass("bg-primary");
        });
    });
</script>*@
