﻿@model  BO.ViewModel.DentistProfileDetail
@using BusinessLogicLayer
@using Newtonsoft.Json;
@{
    ViewBag.Title = "AboutDoctor";
    Layout = "~/Views/Shared/NewPublicProfileLayout.cshtml";
    <input type="hidden" name="IsAppOpen" value="@ViewBag.IsAppOpen" id="IsAppOpen" />
}
@section styles  {
    <link href="~/Content/css/Main/css/all.css" rel="stylesheet" />
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBQdEE5cMRdTHc_vj4JopPIn-EEBeqWmCg"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <link type="text/css" rel="stylesheet" href="~/Content/css/Main/css/jquery.rateyo.css" />
    <link href="~/Content/css/Main/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/SocialMediaShare/src/jquery.floating-social-share.css" rel="stylesheet" />
}
<section class="visual-block">
    <div class="carousel">
        <div class="mask">
            <div class="slideset">
                @if (Model.lstBannerDetails.Count > 0)
                {
                    foreach (var banner in Model.lstBannerDetails)
                    {

                        <div class="slide">
                            @if (Convert.ToBoolean(HttpContext.Current.Session["Show_PatientForms"]))
                            {
                                <a href="@Url.Action("PatientForms","p")" target="_blank">
                                    <div class="bg-image">
                                        <span data-srcset="@banner.Path"></span>
                                    </div>
                                    <div class="text-block">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-xs-12 col-md-5 col-md-pull-1 pull-right">
                                                    @if (!string.IsNullOrWhiteSpace(banner.ColorCode))
                                                    {
                                                        <strong class="title" style="color:@banner.ColorCode !important">@banner.Title </strong>
                                                    }
                                                    else
                                                    {
                                                        <strong class="title">@banner.Title </strong>
                                                    }
                                                    @*<h1>15% off for a new patient</h1>*@
                                                    @*<a href="#" class="next-btn"><i class="icon-arrow-right"></i></a>*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            }
                            else
                            {
                                <div class="bg-image">
                                    <span data-srcset="@banner.Path"></span>
                                </div>
                                <div class="text-block">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-xs-12 col-md-5 col-md-pull-1 pull-right">
                                                @if (!string.IsNullOrWhiteSpace(banner.ColorCode))
                                                {
                                                    <strong class="title" style="color:@banner.ColorCode !important">@banner.Title </strong>
                                                }
                                                else
                                                {
                                                    <strong class="title">@banner.Title </strong>
                                                }
                                                @*<h1>15% off for a new patient</h1>*@
                                                @*<a href="#" class="next-btn"><i class="icon-arrow-right"></i></a>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            }

                        </div>
                    }
                }
                else
                {
                    <div class="slide">
                        <a href="@Url.Action("PatientForms","p")" target="_blank">
                            <div class="bg-image">
                                <span data-srcset="@System.Configuration.ConfigurationManager.AppSettings["DefaultBannerImage"].ToString()"></span>
                            </div>
                            <div class="text-block">
                                <div class="container">
                                </div>
                            </div>
                        </a>
                    </div>

                }
            </div>
        </div>
        <div class="pagination">
            <!-- pagination generated here -->
        </div>
    </div>
</section>
<main id="main">
    <div class="person-info">
        <div class="container">
            <div class="image-holder">
                <img src="@Model.ImageName" style="width:100%" alt="@((!string.IsNullOrEmpty(Model.FirstName) ? Model.FirstName + " , " : string.Empty) + "" + (!string.IsNullOrEmpty(Model.LastName) ? Model.LastName + ", " : string.Empty) + "" + (!string.IsNullOrEmpty(Model.OfficeName) ? Model.OfficeName + ", " : string.Empty) + "" + (!string.IsNullOrEmpty(Model.City) ? Model.City + ", " : string.Empty) + "" + (!string.IsNullOrEmpty(Model.State) ? Model.State : string.Empty) + "" + (!string.IsNullOrEmpty(Model.ZipCode) ? " and " + Model.ZipCode : string.Empty))" />
                @*<img src="~/Content/css/Main/images/img2.jpg" alt="image description">*@
                @if (Model.PlanDetails.Count > 0 && Model.PlanDetails.First().MemberShipId == 5) // 5 means free membership
                {
                    <a href='@Url.Action("Index", "ClaimProfile", new { identity = @Model.EncryptUserId })' class="link-profile">Claim This Profile</a>
                }
            </div>
            <div class="text-holder">
                <div class="top-area">
                    <div class="rank-info">
                        <strong class="title">@Model.OfficeName</strong>
                        <h2>@Model.FirstName&nbsp;@(!string.IsNullOrEmpty(Model.MiddleName) ? Model.MiddleName + " " : "")@(!string.IsNullOrEmpty(Model.LastName) ? Model.LastName : "")@(!string.IsNullOrEmpty(Model.Title) ? "" : "")</h2>
                        @if (Model.lstSpeacilitiesOfDoctor.Count > 0)
                        {
                            foreach (var SpecialitesOfDoctor in Model.lstSpeacilitiesOfDoctor)
                            {
                                @Html.Raw("<span class='designation'>" + SpecialitesOfDoctor.SpecialtyDescription + "</span>")
                            }
                        }
                    </div>
                    <div class="rating-info">
                        @{var RatingValue = String.Format("{0:0.0}", Model.RatingValue);}
                        <div class="points">
                            @if (@Model.RatingValue > 0)
                            {
                                <a href="@Url.Action("reviews", "p")">@RatingValue</a>
                            }
                        </div>
                        <em class="rating-list list-inline">
                            @if (Convert.ToBoolean(HttpContext.Current.Session["Show_Reviews"]))
                            {
                                <a href="@Url.Action("reviews", "p")"> <span class="patentRatingList" style="cursor:pointer" ratingValue="@Model.RatingValue"></span></a>
                            }
                            else
                            {
                                <span class="patentRatingList" ratingValue="@Model.RatingValue"></span>
                            }
                        </em>
                        <div class="rating-points">
                            @if (Convert.ToBoolean(HttpContext.Current.Session["Show_Reviews"]))
                            {
                                if (Model.RatingCount < 2)
                                {
                                    <a href="@Url.Action("reviews", "p")"><span class="get-points">(@Model.RatingCount review)</span></a>
                                }
                                else
                                {
                                    <a href="@Url.Action("reviews", "p")"><span class="get-points">(@Model.RatingCount reviews)</span></a>
                                }
                            }
                            else
                            {
                                if (Model.RatingCount < 2)
                                {
                                    <span class="get-points">(@Model.RatingCount review)</span>
                                }
                                else
                                {
                                    <span class="get-points">(@Model.RatingCount reviews)</span>
                                }

                            }

                        </div>
                    </div>
                    @if (Convert.ToBoolean(HttpContext.Current.Session["Show_AppointmentBooking"]))
                    {
                        <div class="btn-area">
                            <a href="#" class="btn btn-default" data-toggle="modal" data-target="#AppointmentModal" id="plzopen">
                                <i class="icon-holder"><img src="~/Content/css/Main/images/icon4.png" height="38" width="41" alt="icon"></i>
                                Book Appointment
                            </a>
                        </div>
                    }
                </div>
                <div class="row-area">
                    @if (Model.lstGetSocialMediaDetailByUserId != null && Model.lstGetSocialMediaDetailByUserId.Count > 0)
                    {
                        <div class="col-holder">
                            <div class="carousel">
                                <div class="mask">
                                    <div class="slideset">
                                        @if (!string.IsNullOrWhiteSpace(Model.lstGetSocialMediaDetailByUserId[0].FacebookUrl))
                                        {
                                            <div class="slide"><a href="@Model.lstGetSocialMediaDetailByUserId[0].FacebookUrl" target="_blank" class="icon icon-facebook"></a></div>
                                        }
                                        @if (!string.IsNullOrWhiteSpace(Model.lstGetSocialMediaDetailByUserId[0].TwitterUrl))
                                        {
                                            <div class="slide"><a href="@Model.lstGetSocialMediaDetailByUserId[0].TwitterUrl" target="_blank" class="icon icon-twitter"></a></div>
                                        }
                                        @if (!string.IsNullOrWhiteSpace(Model.lstGetSocialMediaDetailByUserId[0].LinkedinUrl))
                                        {
                                            <div class="slide"><a href="@Model.lstGetSocialMediaDetailByUserId[0].LinkedinUrl" target="_blank" class="icon icon-linkedin"></a></div>
                                        }
                                        @if (!string.IsNullOrWhiteSpace(Model.lstGetSocialMediaDetailByUserId[0].GoogleplusUrl))
                                        {
                                            <div class="slide"><a href="@Model.lstGetSocialMediaDetailByUserId[0].GoogleplusUrl" target="_blank" class="icon icon-google-plus"></a></div>
                                        }
                                        @if (!string.IsNullOrWhiteSpace(Model.lstGetSocialMediaDetailByUserId[0].YoutubeUrl))
                                        {
                                            <div class="slide"><a href="@Model.lstGetSocialMediaDetailByUserId[0].YoutubeUrl" target="_blank" class="icon icon-youtube-play"></a></div>
                                        }
                                        @if (!string.IsNullOrWhiteSpace(Model.lstGetSocialMediaDetailByUserId[0].BlogUrl))
                                        {
                                            <div class="slide"><a href="@Model.lstGetSocialMediaDetailByUserId[0].BlogUrl" target="_blank" class="icon icon-blog"></a></div>
                                        }
                                        @if (!string.IsNullOrWhiteSpace(Model.lstGetSocialMediaDetailByUserId[0].PinterestUrl))
                                        {
                                            <div class="slide"><a href="@Model.lstGetSocialMediaDetailByUserId[0].PinterestUrl" target="_blank" class="icon icon-pinterest-p"></a></div>
                                        }
                                        @if (!string.IsNullOrWhiteSpace(Model.lstGetSocialMediaDetailByUserId[0].YelpUrl))
                                        {
                                            <div class="slide"><a href="@Model.lstGetSocialMediaDetailByUserId[0].YelpUrl" target="_blank" class="icon icon-yelp"></a></div>
                                        }
                                    </div>
                                </div>
                                <a class="btn-prev" href="#"><i class="icon-chevron-left"></i></a>
                                <a class="btn-next" href="#"><i class="icon-chevron-right"></i></a>
                            </div>
                        </div>
                    }
                    @if (!string.IsNullOrWhiteSpace(Model.Phone))
                    {
                        <div class="col-holder style">
                            <a href="tel:@Model.Phone" class="link"><i class="icon-phone2"></i>@Model.Phone</a>
                        </div>
                    }
                    @if (!string.IsNullOrWhiteSpace(Model.WebsiteURL))
                    {
                        <div class="col-holder style">
                            <a href='@(!Model.WebsiteURL.Contains("http") ? "http://" + Model.WebsiteURL : Model.WebsiteURL)' class="link" target="_blank"><i class="icon-globe"></i>@Model.WebsiteURL</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    @if (Model.lstDoctorAddressDetails.Count > 0)
    {
        <div class="addresses-block">
            <div class="container">
                <div class="carousel">
                    <div class="mask">
                        <div class="slideset">
                            @foreach (var DoctorAddressDetails in Model.lstDoctorAddressDetails)
                            {
                                <div class="slide">
                                    @* RM-391: Heading is Commented *@
                                    @*<strong class="title"> @(DoctorAddressDetails.ContactType == 1 ? "Primary Address" : "Secondary Address")</strong>*@
                                    <address>
                                        @DoctorAddressDetails.Location
                                        <br />
                                        @DoctorAddressDetails.ExactAddress
                                        @if (!string.IsNullOrWhiteSpace(DoctorAddressDetails.Address2))
                                        {
                                            @("," + DoctorAddressDetails.Address2)
                                            <br />

                                        }
                                        @DoctorAddressDetails.City@if (!string.IsNullOrWhiteSpace(DoctorAddressDetails.State))
                                        {
                                            @(", " + DoctorAddressDetails.State + " ")
                                        }
                                        @if (!string.IsNullOrWhiteSpace(DoctorAddressDetails.ZipCode))
                                        {
                                            @DoctorAddressDetails.ZipCode
                                        }
                                    </address>
                                    @if (Model.WebsiteURL != "")
                                    {
                                        if (DoctorAddressDetails.ContactType == 1)
                                        {
                                            <div><a href='@(Model.WebsiteURL != null && !Model.WebsiteURL.Contains("http") ? "http://" + Model.WebsiteURL : Model.WebsiteURL)' target="_blank"><i class="icon-globe"></i>&nbsp;@Model.WebsiteURL</a> </div>
                                        }
                                        else
                                        {
                                            foreach (var websites in Model.lstsecondarywebsitelist)
                                            {
                                                if (websites.SecondaryWebsiteurl != "")
                                                {
                                                    <div><a href='@(websites.SecondaryWebsiteurl != null && !websites.SecondaryWebsiteurl.Contains("http") ? "http://" + websites.SecondaryWebsiteurl : websites.SecondaryWebsiteurl)' target="_blank"><i class="icon-globe"></i>&nbsp;@websites.SecondaryWebsiteurl</a></div>
                                                }
                                            }
                                        }
                                    }
                                    @if (!string.IsNullOrWhiteSpace(DoctorAddressDetails.Phone))
                                    {
                                        <div><a href="tel:@DoctorAddressDetails.Phone" class="icon-phone">&nbsp;@DoctorAddressDetails.Phone</a></div>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                    <a class="btn-prev" href="#"><i class="icon-chevron-left"></i>Previous</a>
                    <a class="btn-next" href="#">Next<i class="icon-chevron-right"></i></a>
                </div>
            </div>
        </div>
    }
    @if (Model.lstTeamMemberDetailsForDoctor.Count > 0)
    {
        <div class="members-block">
            <div class="container">
                <div class="heading-area">
                    <h2>Team Members</h2>
                    @*<a href="#" class="link">View More >></a>*@
                </div>
                <div class="carousel">
                    <div class="mask">
                        <div class="slideset">
                            @foreach (var TeamMemberDetailsForDoctor in Model.lstTeamMemberDetailsForDoctor)
                            {
                                <div class="slide">
                                    <div class="image-holder">
                                        @if (string.IsNullOrWhiteSpace(TeamMemberDetailsForDoctor.Image))
                                        {
                                            <img src="../../DentistImages/Doctor_no_image.gif" alt="@TeamMemberDetailsForDoctor.FirstName &nbsp;@TeamMemberDetailsForDoctor.LastName" />
                                        }
                                        else
                                        {
                                            <img src="../../DentistImages/@TeamMemberDetailsForDoctor.Image" alt="@TeamMemberDetailsForDoctor.FirstName &nbsp;@TeamMemberDetailsForDoctor.LastName">
                                        }
                                    </div>
                                    <div class="text-holder">
                                        <strong class="title"><a target="_blank" href="@(HttpContext.Current.Request.Url.Scheme + "://" + HttpContext.Current.Request.Url.Authority + "/p/" + @TeamMemberDetailsForDoctor.PublicProfileUrl)">@TeamMemberDetailsForDoctor.FirstName &nbsp;@TeamMemberDetailsForDoctor.LastName</a></strong>
                                        <span class="designation">@TeamMemberDetailsForDoctor.SpecialtyDescription</span>
                                        @if (!string.IsNullOrWhiteSpace(@TeamMemberDetailsForDoctor.AccountName))
                                        {
                                            <p>@TeamMemberDetailsForDoctor.AccountName</p>
                                        }
                                        <em class="yello_starts"><span class="patentRatingList" ratingValue="@TeamMemberDetailsForDoctor.RatingValue"></span></em>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <a class="btn-prev" href="#"><i class="icon-chevron-left"></i></a>
                    <a class="btn-next" href="#"><i class="icon-chevron-right"></i></a>
                </div>
            </div>
        </div>
    }
    @if (!string.IsNullOrWhiteSpace(@Model.Description))
    {
        <section class="block-description">
            <div class="container">
                <h2>Description</h2>
                <p>@Model.Description</p>
                @*<a href="#">Read More >></a>*@
            </div>
        </section>
    }
    @if (Model.lstEducationandTraining.Count > 0 || Model.lstProfessionalMemberships.Count > 0)
    {
        <section class="block-education">
            <div class="bg-image">
                <span data-srcset="/Content/css/Main/images/img6.jpg"></span>
            </div>
            <div class="container">
                <div class="row">
                    @if (Model.lstEducationandTraining.Count > 0)
                {
                        <div class="col-xs-12 col-md-6">
                            <h2>Education and Training</h2>
                            <ul class="list-unstyled university-list">
                                @foreach (var EducationAndtraning in Model.lstEducationandTraining)
                                {
                                    <li>
                                        <strong class="uni-info" style="color:#0991c5;">@EducationAndtraning.Institute</strong>
                                        <span class="degree-info">@EducationAndtraning.Specialisation</span>
                                        <span class="year">
                                            @(Convert.ToInt32(EducationAndtraning.YearAttended) > 0 ? @EducationAndtraning.YearAttended : "-")
                                        </span>
                                    </li>
                                }
                            </ul>
                        </div>
                    }
                    @if (Model.lstProfessionalMemberships.Count > 0)
                {
                        <div class="col-xs-12 col-md-5 col-md-push-1">
                            <h2>Professional Memberships</h2>
                            <ul class="list-unstyled list-info">
                                @foreach (var ProfessionalMembership in Model.lstProfessionalMemberships)
                                {
                                    <li>@ProfessionalMembership.Membership</li>
                                }
                            </ul>
                        </div>
                    }
                </div>
            </div>
        </section>
    }
    @if (Model.lstInsuranceDetails.Count > 0)
    {
        <div class="block-insurance">
            <div class="container">
                <h2>Insurance</h2>
                <div class="carousel">
                    <div class="mask">
                        <div class="slideset">
                            @foreach (var Item in Model.lstInsuranceDetails)
                            {
                                <div class="slide">
                                    <div class="wrap">
                                        <div class="box">
                                            <div class="image-holder">
                                                <img src="@System.Configuration.ConfigurationManager.AppSettings.Get("InsuranceImage")@Item.Logo" alt="@Item.Name">
                                            </div>
                                            <span class="text">@Item.Name</span>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <a class="btn-prev" href="#"><i class="icon-chevron-left"></i></a>
                    <a class="btn-next" href="#"><i class="icon-chevron-right"></i></a>
                </div>
            </div>
        </div>
    }
    @if (Model.lstGallaryDetails.Count > 0)
    {
        <section class="block-gallery">
            <div class="bg-image">
                <span data-srcset="/Content/css/Main/images/img12.jpg"></span>
            </div>
            <div class="container">
                <h2>Gallery</h2>
                <div class="carousel">
                    <div class="mask">
                        <div class="slideset">
                            @foreach (var Item in Model.lstGallaryDetails)
                            {
                                if (!string.IsNullOrWhiteSpace(@Item.MediaURL))
                                {
                                    <div class="slide">
                                        <div class="wrap">
                                            <div class="box">
                                                <div class="image-holder">
                                                    @if (Convert.ToInt32(Item.MediaType) == 1)
                                                    {
                                                        <a href="#" data-toggle="modal" data-target="#lightbox_video">
                                                            <iframe src="@Item.MediaURL" controls preload=metadata width=360 height=235></iframe>
                                                        </a>

                                                    }
                                                    else
                                                    {
                                                        <a href="#" data-toggle="modal" data-target="#lightbox">
                                                            <img src="@System.Configuration.ConfigurationManager.AppSettings.Get("GallaryImage").ToString()@Item.UserId/@Item.MediaURL" alt="@Item.MediaURL">
                                                        </a>

                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <a class="btn-prev" href="#"><i class="icon-chevron-left"></i></a>
                    <a class="btn-next" href="#"><i class="icon-chevron-right"></i></a>
                </div>
            </div>
        </section>
    }
    <div class="map-block" id="map_canvas" style="height:256px;">
    </div>
    @if (Model.lstOffers.Count > 0 && Convert.ToBoolean(HttpContext.Current.Session["Show_SpecialOffers"]))
    {

        <section class="block-offer">
            <div class="container">
                <h2>Special Offers</h2>
                @foreach (var Item in Model.lstOffers)
                {
                    <div class="special_box_holder">
                        @*<div class="pecentage_box">
                                <span>10%<br></span>
                                <em>OFF</em>
                            </div>*@
                        <div class="special_text_box">
                            <em class="offer_heading">
                                @Item.Title
                            </em>
                            <div class="read_more_box">
                                @Item.Description
                                @*<a class="skip_button" href="#"> Read More >></a>*@
                            </div>
                            @*<ul class="address_line">
                                    <li class="active">
                                        <a href="#">New Patient Offer</a>
                                    </li>
                                    <li class="addres_img">
                                        <a href="#">270 W Chandler Heights Rd, Chandler, AZ 85248</a>
                                    </li>
                                    <li class="clock_img">
                                        <a href="#">Valid till 19/01/2017</a>
                                    </li>
                                </ul>*@
                        </div>
                        <div class="offer_button">
                            @if (!ViewBag.HideSpecOffBtn)
                            {
                                <a href="@Url.Action("PatientSignUpBySpecialOffer", "p", new { OfferCode = Item.Code, OfferID = Item.OfferId, })">@Item.Code</a>
                            }
                            else
                            {
                                <a style="cursor:default;">@Item.Code</a>
                            }
                        </div>
                    </div>
                }
            </div>
        </section>
    }
    @if (Convert.ToBoolean(HttpContext.Current.Session["Show_PatientForms"]))
    {
        <section class="block-sign-up">
            <div class="container">
                <h2>New Patients Sign-Up</h2>
                @Html.Action("PartialSignUpEmail")
                @if (Model.PlanDetails.Count > 0 && Model.PlanDetails.First().MemberShipId == 5) // 5 means free membership
                {
                    if (!string.IsNullOrWhiteSpace(Convert.ToString(Session["UserID"])))
                    {
                        <a href="@Session["CompanyWebsite"]/ClaimProfile/Index?identity=@Model.EncryptUserId" class="btn btn-default btn-contact">Contact us &amp; claim this profile if this is you</a>
                    }
                    else
                    {
                        <a href="@Session["CompanyWebsite"]/ContactUs" class="btn btn-default btn-contact">Contact us and claim this profile if this is you</a>
                    }
                }
            </div>
        </section>
    }
    @if (Model.lstratingList.Count > 0 && Convert.ToBoolean(HttpContext.Current.Session["Show_Reviews"]))
    {
        <section class="block-review">
            <div class="container">
                <div class="heading-area">
                    <h2>Patient Reviews</h2>
                    <a href="@Url.Action("reviews", "p")" class="link">View More >></a>
                </div>
                @foreach (var item in Model.lstratingList)
                {
                    <div class="rating-block">
                        <div class="rating-area">
                            <em class="yello_starts"><span id="rating-@item.ReceiverId" class="patentRatingList" ratingValue="@item.RatingValue"></span></em>
                            <em class="by_user">by <strong>@item.SenderName</strong></em>
                            @{
                                string CreatedDate = new CommonBLL().ConvertToDate(Convert.ToDateTime(item.CreatedDate), Convert.ToInt32(BO.Enums.Common.DateFormat.GENERAL));
                            }
                            <time datetime="@CreatedDate">On @CreatedDate</time>
                        </div>
                        <div class="description-holder">
                            <p>@item.RatingMessage</p>
                        </div>
                    </div>

                                }
            </div>
        </section>
                                }
    <div class="block-search">
        <div class="bg-image">
            <span data-srcset="/Content/css/Main/images/img22.jpg"></span>
        </div>
        <div class="container form-search">
            <h2>Find a Doctor</h2>
            <div class="row-holder">
                <input type="text" id="txtname" class="form-control" placeholder="Find a Doctor">
                <input type="submit" class="btn btn-default" value="Search" onclick="FindDentist()" />
            </div>
            @*<div class="text-right">
                    <a href="#"><i class="icon-map-marker"></i>SEARCH BY LOCATION</a>
                </div>*@
        </div>
    </div>

</main>

@section scripts  {
    <script type="text/javascript">var lstDoctorAddressDetails = @Html.Raw(Json.Encode(@Model.lstDoctorAddressDetails));</script>
    <script type="application/ld+json">
        @Html.Raw(JsonConvert.SerializeObject(Model.ObjLDJSON))
    </script>
    <script type="text/javascript" src="~/Scripts/jquery.rateyo.js"></script>
    <script src="~/Content/SocialMediaShare/src/jquery.floating-social-share.js"></script>
    <script>
        $("body").floatingSocialShare({
            buttons: ["facebook", "google-plus", "linkedin", "pinterest", "telegram", "tumblr", "twitter", "whatsapp"],
            twitter_counter: true,
            text: "share with: ",
            url: '@HttpContext.Current.Request.Url'
        });

        $('#txtname').on("keypress", function (e) {
                if (e.keyCode == 13) {
                window.location.href = "/Profiles/SearchResult?keywords=" + $("#txtname").val().trim();
          }
});
    </script>
}

@section modals {
    <div id="lightbox" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <img src="" alt="Img" />
                </div>
            </div>
        </div>
    </div>
    <div id="lightbox_video" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <div class="modal-content">
                <div class="modal-body">
                    <iframe class="embed-responsive-item" src="" height=320></iframe>
                </div>
            </div>
        </div>
    </div>
}