﻿@using BO.Models;
@using BO.ViewModel;
@{
    bool isWidget = Convert.ToBoolean(HttpContext.Current.Session["isWidget"]);
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="@Session["MemberProfile"] is @Session["MemberSpeciality"] specialist in @Session["MemberCityStateZipcode"].">
    @*<title> @Session["PublicProfileOfficeName"] | @Session["MemberSpeciality"] | @Session["MemberCityStateZipcode"]</title>*@
    <title>
        @if (!(string.IsNullOrEmpty(Convert.ToString(Session["PublicProfileOfficeName"]))))
        {
            @Session["PublicProfileOfficeName"]
        }
        @if (!(string.IsNullOrEmpty(Convert.ToString(Session["MemberSpeciality"]))))
        {
            if (!(string.IsNullOrEmpty(Convert.ToString(Session["PublicProfileOfficeName"]))))
            {
                <text>| @Session["MemberSpeciality"]</text>
            }
            else
            {
                @Session["MemberSpeciality"]
            }
        }
        @if (!(string.IsNullOrEmpty(Convert.ToString(Session["MemberCityStateZipcode"]))))
        {
            if (!(string.IsNullOrEmpty(Convert.ToString(Session["MemberSpeciality"]))) || !(string.IsNullOrEmpty(Convert.ToString(Session["PublicProfileOfficeName"]))))
            {
                <text>| @Session["MemberCityStateZipcode"]</text>
            }
            else
            {
                @Session["MemberCityStateZipcode"]
            }
        }
        @if (string.IsNullOrEmpty(Convert.ToString(Session["MemberCityStateZipcode"])) && string.IsNullOrEmpty(Convert.ToString(Session["MemberSpeciality"])) && string.IsNullOrEmpty(Convert.ToString(Session["PublicProfileOfficeName"])))
        {
            <text>About Doctor - @Session["MemberProfile"]</text>
        }
    </title>
    <link href="/Content/css/Main/css/all.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="icon" href="../../Content/images/RecordLinc_ICONS.ico" type="image/x-icon">
    @Styles.Render("~/CommonCSS")
    @*@Styles.Render("~/PublicProfileCSS")*@
    <link href="~/Content/Final/css/main.css" rel="stylesheet" />
    @Scripts.Render("~/CommonJS")
    @Scripts.Render("~/PublicProfileJS")
    @if (isWidget)
    {
        <style type="text/css">
            #wrapper.inner {
                padding: 0px 0 0 !important;
            }

            .modal-open .profile .modal-dialog {
                left: 0;
            }
        </style>
    }
</head>
<body class="modal-open" style="overflow:auto !important">
    <div id="AppointmentModal" class="profile">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title btn btn-default">
                        <i class="icon-holder"><img src="~/Content/css/Main/images/icon4.png" alt="icon" width="41" height="38"></i>
                        Book Appointment
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger" id="appt_errormsg" tabindex="1"></div>
                    <form>
                        <div class="form-group">
                            @Html.DropDownList("InsuranceId", new SelectList((List<InsuranceListForAppointment>)HttpContext.Current.Session["InsuranceList"], "InsuranceId", "InsuranceName"), "I’ll choose my insurance later", new { @class = "select_item" })
                        </div>
                        <div class="form-group">

                            @Html.DropDownList("AppointmentServiceId", new SelectList((List<AppointmentService>)HttpContext.Current.Session["AppointmentServiceList"], "AppointmentServiceId", "ServiceType"), "Select Service", new { @class = "select_item" })
                        </div>
                        <div class="form-group">
                            @Html.DropDownList("LocationId", new SelectList((List<LocationForAppointment>)HttpContext.Current.Session["LocationList"], "locationId", "locationName", HttpContext.Current.Session["LocationId"]), "Select Location", new { @class = "select_item", onchange = "GetDefaultOP($(this).val())", @disabled = "disabled" })
                        </div>
                        <div id="loadtimeslotegrid">
                            @Html.Action("AppointmentSlotGrid", new { DoctorId = Convert.ToUInt32(HttpContext.Current.Session["PublicProfileUserId"]), TheatreId = Convert.ToUInt32(HttpContext.Current.Session["AppointmentDefaultResourceId"]) })
                        </div>
                        <div class="text-right est"> @Convert.ToString(HttpContext.Current.Session["TimezoneSystemName"]) </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <form id="__AjaxAntiForgeryForm" action="/@(isWidget ? "widget" : "p")/@HttpContext.Current.Session["PublicProfileUrl"]/MemberSignin" method="post">
        @Html.AntiForgeryToken()
        @Html.Hidden("UserId", HttpContext.Current.Session["PublicProfileUserId"], new { @id = "DDoctorId" })
        @Html.Hidden("AppointmentDefaultResourceId", HttpContext.Current.Session["AppointmentDefaultResourceId"])
        @Html.Hidden("AppointmentDate", "")
        @Html.Hidden("AppointmentTime", "")
        @Html.Hidden("ServiceTypeId", "")
        @Html.Hidden("PublicProfileUrl", HttpContext.Current.Session["PublicProfileUrl"])
        @Html.Hidden("InsuranceId", "", new { @id = "InsuranceId_form" })
    </form>
    <script src="~/Scripts/ControllerJS/PublicProfile/AboutDoctor.js"></script>
    <br />
    @Html.Action("PartialFooter", "Common")
</body>

</html>