﻿@model BO.ViewModel.InsuranceEstimatorModel

@{
    HttpContext.Current.Response.AppendHeader("Cache-Control", "no-cache, no-store, max-age=0, must-revalidate");
    HttpContext.Current.Response.AppendHeader("Expires", "Fri, 01 Jan 2010 00:00:00 GMT");

}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
    <title>:: Insurance Estimator</title>
    <link rel="icon" href="~/Content/css/Main/images/fav-ico.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/css/Main/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="~/Content/css/Main/css/main_insuranceestimator.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/css/Main/css/jcf.css" />
    @*<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/~/Content/css/Main/css/font-awesome.min.css">*@
    <script type="text/javascript" src="~/Scripts/JS/jquery-1.11.2.min.js"></script>
    <script src="~/Content/js/Common.js"></script>
    <script src="~/Scripts/common.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="~/Content/js/jquery-ui.js"></script>
    @*<script type="text/jscript" src="~/Content/js/jquery.ui.mask.js"></script>*@
    <script src="~/Scripts/Mask/Mask.js"></script>

    @*Change by Bhupesh With Jira : DLADCETK-19 ( For Apply Here Link)  *@
    <style>
        .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
            position: unset;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;
        }
    </style>

</head>

<body>
    <div id="wrapper">
        <div class="container">
            <div class="row">
                <div class="row form-group">
                    <div class="col-xs-12">
                        <ul class="nav nav-pills nav-justified thumbnail setup-panel">
                            <li class="active">
                                <a href="#step-1">

                                </a>
                            </li>
                            <li class="disabled">
                                <a href="#step-2">

                                </a>
                            </li>
                            <li class="disabled">
                                <a href="#step-3">

                                </a>
                            </li>

                            <li class="disabled">
                                <a href="#step-4">

                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="row setup-content well" id="step-1" style="display: block;">
                    <div class="col-xs-12">
                        <div class="estimate">
                            <h1>Estimate Dental Cost</h1>
                        </div>
                        <div class="alert alert-danger" id="errormsg" style="display:none" tabindex="0"></div>
                        @Html.AntiForgeryToken()
                        <div class="col-md-12 column text-center">
                            <h2>Select the Dental Procedure</h2>
                            <div class="form-group procedures-form-group add_button">
                                @Html.DropDownListFor(model => model.DentalProcedureId, new SelectList(Model.DentalProceduresList, "ProcedureId", "ProcedureName"), "Select Procedure", new { @class = "form-control procedure", @id = "procedure", @style = "color:#000000" })
                                @*<div class="trigger trigger_pro remove" style="cursor:pointer" onclick="AddNewProcedure();">Remove    </div>*@
                                <div class="trigger trigger_pro" style="cursor:pointer">Add Another</div>

                            </div>
                            <div id="procedures-section">
                            </div>
                            <h2>Do You Have Insurance?</h2>
                            <label class="radio-inline">
                                <input type="radio" name="optradio" class="Yes btn" value="1">Yes
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optradio" class="No btn" value="0">No
                            </label>
                            <div class="form-group Yes-show" style="display:none">
                                <h3>Which Insurance?</h3>
                                <div class="form-group">
                                    @Html.DropDownListFor(model => model.InsuranceCompanyId, new SelectList(Model.CompaniesList, "InsuranceId", "InsuranceCompanyName"), "Select Insurance", new { @class = "form-control", @id = "Insurance", @style = "color:#000000" })
                                    <div class="down-arrow">
                                        <img src="~/Content/css/Main/images/down-arrow.png" alt="down-arrow" />
                                    </div>
                                    <div style="display:none">
                                        <h4>We will verify the estimate and contact you via your preferred method below:</h4>
                                        <h4></h4>
                                        <div class="via">
                                            <label class="checkbox-inline">
                                                <input type="checkbox" value="" name="Call" class="Call" onclick="ShowCommunication(this);">Call
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox" value="" name="Text" class="Text" onclick="ShowCommunication(this);">Text
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox" value="" name="Email" class="Email" onclick="ShowCommunication(this);">Email
                                            </label>
                                        </div>
                                        <div class="Call-show" style="display:none">
                                            <input type="text" class="form-control clsnumericOnly" id="Yestxtcall" placeholder="Call" maxlength="10">
                                        </div>
                                        <div class="Text-show" style="display:none">
                                            <input type="text" class="form-control clsnumericOnly" id="Yestxttext" placeholder="Text" maxlength="10">
                                        </div>
                                        <div class="Email-show" style="display:none">
                                            <input type="text" class="form-control" id="Yestxtemail" placeholder="Email">
                                        </div>
                                        <h4>We will contact you only once using your preferred contact method.<br /> Your information will not be sold to a third party.</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group No-show" style="display:none">
                                <h3></h3>
                                <div class="form-group">
                                    <select class="form-control" id="Fees">
                                        <option value="">Select Fees</option>
                                        <option value="1">Full Fee for Services</option>
                                        <option value="2">Membership Plan Fees</option>
                                    </select>
                                    <div class="down-arrow">
                                        <img src="~/Content/css/Main/images/down-arrow.png" alt="down-arrow">
                                    </div>
                                    <div style="display:none">
                                        <h4>Please verify this estimate for me via</h4>
                                        <div class="via">
                                            <label class="checkbox-inline">
                                                <input type="checkbox" value="" name="Call" class="Call_No" onclick="ShowCommunication(this);">Call
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox" value="" name="Text" class="Text_No" onclick="ShowCommunication(this);">Text
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox" value="" name="Email" class="Email_No" onclick="ShowCommunication(this);">Email
                                            </label>
                                        </div>
                                        <div class="Call_No-show" style="display:none">
                                            <input type="text" class="form-control clsnumericOnly" id="Notxtcall" placeholder="Call">
                                        </div>
                                        <div class="Text_No-show" style="display:none">
                                            <input type="text" class="form-control clsnumericOnly" id="Notxttext" placeholder="Text">
                                        </div>
                                        <div class="Email_No-show" style="display:none">
                                            <input type="text" class="form-control" id="Notxtemail" placeholder="Email">
                                        </div>
                                        <h4>We will contact you only once using your preferred contact method.<br /> Your information will not be sold to a third party.</h4>
                                    </div>
                                </div>
                            </div>

                            <button id="activate-step-2" class="btn btn-primary btn-md btn-show" onclick="return Submitdata();" style="display:none">Get My Estimate</button>

                        </div>
                    </div>
                </div>
                <div class="row setup-content well" id="divLoading" style="display:none">
                    <div class="col-xs-12">
                        <div class="estimate">
                            <h1>Estimate Dental Cost</h1>
                        </div>

                        <div class="container">

                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <h2>Calculating Cost...</h2>
                                    <img id="activate-step-3" src="~/Content/css/Main/images/loading.png" alt="Loading" />

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row setup-content well" id="divFees" style="display:none">
                    <div class="col-xs-12">
                        <div class="estimate fee">
                            <h1>Your Fee</h1>
                        </div>
                        <div class="col-lg-12 text-center">
                            <h2>Total Fee:</h2>
                            <div class="expected-cost clearfix">
                                <div class="col-sm-7 col-xs-12 text-left procedures-div">
                                    <h4 class="procedurename"></h4>
                                </div>
                                <div class="col-sm-5 col-xs-12 text-left total-cost">
                                    <span id="totalcost"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 text-center" id="section_serviceCost">
                            <h2>Your Estimated Portion:</h2>
                            <div class="expected-cost clearfix">
                                <div class="col-sm-7 col-xs-12 text-left procedures-div">
                                    <h4 class="procedurename"></h4>
                                </div>
                                <div class="col-sm-5 col-xs-12 text-left total-cost">
                                    <span id="lbl_serviceCost"></span>
                                </div>
                            </div>
                        </div>
                        <div class="services" id="section_services">
                            <h2 class="text-center">Payment Options:</h2>
                            <div class="form-group">
                                <div class="col-md-7 col-sm-12" id="opt_serviceCost_label">

                                    @*<input type="radio" name="optChoice" autocomplete='off' id="opt_serviceCost" disabled><em id="serviceCost"> time of service</em>*@
                                    <ul class="time">
                                        <li id="serviceCost"> time of service</li>
                                    </ul>
                                </div>
                                <div class="col-md-5 col-sm-12">
                                    @*<label class="radio-inline">
                                            <input type="radio" name="optChoice" autocomplete='off' id="opt_threePayments" disabled><em id="threePayments">3 payments (60 days) /each</em>
                                        </label>*@
                                    <ul class="time">
                                        <li id="threePayments"> 3 payments (60 days) /each</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-7 col-sm-12">
                                    @*<label class="radio-inline">
                                            <input type="radio" name="optChoice" autocomplete='off' id="opt_paymentEMI" disabled><em id="paymentEMI">Compassionate dental finance from /month</em>
                                        </label>*@
                                    <ul class="time">
                                        <li id="paymentEMI"> Compassionate dental finance from /month</li>
                                    </ul>
                                </div>
                                <div class="col-md-5 col-sm-12" style="position:unset">
                                    @*<label class="radio-inline">
                                            <input type="radio" name="optChoice" autocomplete='off' id="Care Credit (Apply here)" disabled><em>Care Credit (<a href="https://www.carecredit.com" target="_blank">Apply here</a>)</em>
                                        </label>*@
                                    <ul class="time">
                                        <li style="position:unset"> Care Credit (<a href="https://www.carecredit.com" target="_blank" style="text-decoration:none">Apply here</a>)</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 text-center">
                        @*Olivia changes on 10-04-2018 for Dr. Lan Allan's website. - DLADCETK-1*@
                        @if (string.IsNullOrEmpty(ViewBag.SchedulingLink))
                        {
                            <button id="activate-step-4" class="btn btn-primary btn-md text-center" onclick="changestep();">Schedule Appointment</button>
                        }
                        else
                        {
                            <a href="@ViewBag.SchedulingLink" id="activate-step-4" class="btn btn-primary btn-md text-center" target="_blank">Schedule Appointment</a>
                            @*<button id="activate-step-4" class="btn btn-primary btn-md text-center" onclick="changestep();">Schedule Appointment</button>*@
                        }

                        @*<button id="activate-step-4" class="btn btn-primary btn-md text-center" onclick="changestep();">Schedule Appointment</button>*@
                    </div>
                    <p class="step_3">Estimate based on insurance averages. All policies vary. Estimates will not be considered as a bid or a contract.</p>
                </div>
            </div>
            <input type="hidden" id="HistoryId" value="" />
            <div class="row setup-content well step-4" id="divAppointment" style="display:none;">
                <div class="col-xs-12">
                    <div class="estimate info">
                        <h1>Your Information</h1>
                    </div>
                    <div class="alert alert-danger" id="lasterrormsg" style="display:none" tabindex="0"></div>
                    <div class="alert alert-success" id="lastsuccessmsg" style="display:none" tabindex="0"></div>
                    @Html.Action("InsuranceCostExtimationPatientSignup")
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/ControllerJS/InsuranceEstimator/jcf.js"></script>
    <script type="text/javascript">
        var CURRENT_USER = escape('@(this.ViewContext.RouteData.Values["username"])');
    </script>
    <script src="~/Scripts/ControllerJS/InsuranceEstimator/jquery.main.js" defer></script>
</body>
</html>