﻿@model BO.ViewModel.AppointmentBooking
@using BusinessLogicLayer
@{
    ViewBag.Title = "Has Member";
    Layout = "~/Views/Shared/NewPublicProfileLayout.cshtml";
    bool isWidget = Convert.ToBoolean(HttpContext.Current.Session["isWidget"]);
}
<link href="~/Content/Final/css/all.css" rel="stylesheet" />
<link type="text/css" rel="stylesheet" href="~/Content/css/Main/css/jquery.rateyo.css" />
<main id="main">
    <div class="page_haading_holder">
        <div class="container navigation_container">
            <div class="row navigation_row">
                <div class="col-xs-12">
                    <div class="page_heading">
                        <h1>Book Your Appointment</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container contact_container appiontment">
        <div class="row tabs_row single-form">
            <div class="col-md-6 col-sm-7">
                <div class="alert alert-danger"></div>
                <div class="tab-content">
                    <div class="form-group">
                        <label>
                            <div class="radio radio-danger clearfix">
                                <input id="349" name="optradio" value="Personal" checked="checked" type="radio">
                                <label for="349">I am new to Recordlinc/MyDentalFiles. </label>
                            </div>
                            <div class="radio radio-danger clearfix">
                                <input id="350" name="optradio" value="Business" type="radio">
                                <label for="350">I've used Recordlinc/MyDentalFiles before.</label>
                            </div>
                        </label>
                    </div>
                    <div class="info-holder" id="welcome" style="display:none;">
                        <h3>Welcome Back!</h3>
                        <p>Please sign in to your account</p>
                        <form autocomplete="off" id="signinpatient">
                            <input type="hidden" id="DoctorId_form" name="DoctorId" value="@Model.UserId" />
                            <input type="hidden" id="AppointmentDate_form" name="AppointmentDate" value="@Model.AppointmentDate" />
                            <input type="hidden" id="AppointmentTime_form" name="AppointmentTime" value="@Model.AppointmentTime" />
                            <input type="hidden" id="ServiceTypeId_form" name="ServiceTypeId" value="@Model.ServiceTypeId" />
                            <input type="hidden" id="ApptResourceId_form" name="ApptResourceId" value="@Model.AppointmentDefaultResourceId" />
                            @Html.HiddenFor(m => m.InsuranceId)
                            <input type="hidden" name="SignInEmail" id="logingemail" value="" />
                            <input type="hidden" name="Password" id="password" value="" />
                            <div class="form-group">
                                <label for="text">Email / Username*</label>
                                @Html.TextBoxFor(m => m.ObjPatientLogin.Email, new { @class = "form-control", id = "Login_email_address", placeholder = "Email / Username" })
                                @Html.ValidationMessageFor(m => m.ObjPatientLogin.Email)
                                <label class="label" id="EmailErrorUser" style="color:#b94a48;display:none;font-size:14px;float:left;">Email is required</label>
                            </div>
                            <div class="form-group">
                                <label for="text">Password *</label>
                                @Html.PasswordFor(m => m.ObjPatientLogin.Password, new { @class = "form-control", id = "loginpassword", placeholder = "Password" })
                                @Html.ValidationMessageFor(m => m.ObjPatientLogin.Password)
                            </div>
                            <div class="form-group">
                                <a href="javascript:;" onclick="Resetpass();">Forgot your password? </a>
                            </div>
                            <div class="button_box">
                                <a href="@Url.Action("AboutDoctor", "p", new { isWidget = true, username = (this.ViewContext.RouteData.Values["username"]) })">Back</a>
                                <a href="javascript:;" onclick="signinpatient();" class="submit_button">Book Now</a>
                            </div>
                        </form>
                    </div>
                    <div class="info-holder" id="create">
                        <form id="createpatient" autocomplete="off">
                            <h3>Create an account</h3>
                            <p>This will help you to manage your appointments</p>
                            <div class="form-group">
                                <input type="hidden" id="DoctorId_formPateint" name="DoctorId" value="@Model.UserId" />
                                <input type="hidden" id="AppointmentDate_formPateint" name="AppointmentDate" value="@Model.AppointmentDate" />
                                <input type="hidden" id="ServiceTypeId_formPateint" name="ServiceTypeId" value="@Model.ServiceTypeId" />
                                <input type="hidden" id="AppointmentTime_formPateint" name="AppointmentTime" value="@Model.AppointmentTime" />
                                <input type="hidden" id="ApptResourceId_SignUp_form" name="ApptResourceId" value="@Model.AppointmentDefaultResourceId" />
                                <input type="hidden" name="PEmail" id="signupmail" value="" />
                                <input type="hidden" name="PFirstName" id="firstname" value="" />
                                <input type="hidden" name="PLastName" id="lastname" value="" />
                                <input type="hidden" name="PPhone" id="phonenumber" value="" />
                                <input type="hidden" name="Password" id="newpass" value="" />
                                <label for="text">Email Address*</label>
                                @Html.TextBoxFor(m => m.ObjPatientSignup.Email, new { @class = "form-control", id = "Signup_email_address", placeholder = "Email Address" })
                                @Html.ValidationMessageFor(m => m.ObjPatientSignup.Email)
                            </div>
                            <div class="form-group">
                                <label for="text">First Name*</label>
                                @Html.TextBoxFor(m => m.ObjPatientSignup.FirstName, new { @class = "form-control", id = "first_name", placeholder = "First Name" })
                                @Html.ValidationMessageFor(m => m.ObjPatientSignup.FirstName)
                            </div>
                            <div class="form-group">
                                <label for="text">Last Name*</label>
                                @Html.TextBoxFor(m => m.ObjPatientSignup.LastName, new { @class = "form-control", id = "last_name", placeholder = "Last Name" })
                                @Html.ValidationMessageFor(m => m.ObjPatientSignup.LastName)
                            </div>
                            <div class="form-group">
                                <label for="text">Mobile Number *</label>
                                @Html.TextBoxFor(m => m.ObjPatientSignup.Phone, new { @class = "form-control numericOnly", id = "mobile_number", placeholder = "Mobile Number", @MaxLength = "10" })
                                @Html.ValidationMessageFor(m => m.ObjPatientSignup.Phone)
                            </div>
                            <div class="form-group">
                                <label for="text">Password *</label>
                                @Html.TextBoxFor(m => m.ObjPatientSignup.Password, new { @class = "form-control", id = "SignUppassword", placeholder = "Password" })
                                @Html.ValidationMessageFor(m => m.ObjPatientSignup.Password)
                            </div>
                            <div class="button_box">
                                <a href="@Url.Action("AboutDoctor", "p", new { isWidget = true, username = (this.ViewContext.RouteData.Values["username"]) })">Back</a>
                                <a href="javascript:;" onclick="signuppatient();" class="submit_button">Book Now</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-5 col-md-offset-1 col-sm-offset-0">
                <div class="box">
                    <div class="image-holder">
                        <img width="94px" height="94px" style="border-radius:50%" src="@Model.ObjDentistProfile.ImageName" alt="@((!string.IsNullOrEmpty(Model.ObjDentistProfile.FirstName) ? Model.ObjDentistProfile.FirstName + " , " : string.Empty) + "" + (!string.IsNullOrEmpty(Model.ObjDentistProfile.LastName) ? Model.ObjDentistProfile.LastName + ", " : string.Empty) + "" + (!string.IsNullOrEmpty(Model.ObjDentistProfile.OfficeName) ? Model.ObjDentistProfile.OfficeName + ", " : string.Empty) + "" + (!string.IsNullOrEmpty(Model.ObjDentistProfile.City) ? Model.ObjDentistProfile.City + ", " : string.Empty) + "" + (!string.IsNullOrEmpty(Model.ObjDentistProfile.State) ? Model.ObjDentistProfile.State : string.Empty) + "" + (!string.IsNullOrEmpty(Model.ObjDentistProfile.ZipCode) ? " and " + Model.ObjDentistProfile.ZipCode : string.Empty))">
                    </div>
                    <div class="text-holder">
                        <h3>@(Model.ObjDentistProfile.FirstName + " " + (!string.IsNullOrEmpty(Model.ObjDentistProfile.MiddleName) ? Model.ObjDentistProfile.MiddleName + " " : "") +  Model.ObjDentistProfile.LastName  )</h3>
                        @foreach (var item in Model.ObjDentistProfile.lstSpeacilitiesOfDoctor)
                        {
                            <label>@item.SpecialtyDescription</label>
                        }
                        @{var RatingValue = String.Format("{0:0.0}", Model.ObjDentistProfile.RatingValue);}
                        <ul class="rating-list list-inline">
                            @if (Convert.ToBoolean(HttpContext.Current.Session["Show_Reviews"]))
                            {
                                <li class="patentRatingList" ratingValue="@Model.ObjDentistProfile.RatingValue"><i class="icon-star"></i></li>
                                @*<a href="@Url.Action("reviews", "p")"><span class="patentRatingList" style="cursor:pointer" ratingValue="@Model.ObjDentistProfile.RatingValue"></span></a>*@
                            }
                        </ul>
                    </div>
                    <hr />
                    <div class="text-holder">
                        <h3>Address</h3>
                        <label> @Model.ObjDentistProfile.Address <br />@((!string.IsNullOrEmpty(Model.ObjDentistProfile.City) ?  Model.ObjDentistProfile.City + ", " : "") + Model.ObjDentistProfile.State + (!string.IsNullOrEmpty(Model.ObjDentistProfile.Country)? ", " + Model.ObjDentistProfile.Country : ""))   @Model.ObjDentistProfile.ZipCode</label>
                    </div>
                    <hr />
                    <div class="text-holder">
                        <h3>Appointment info</h3>
                        <label>@Model.ApptDate ,@Model.AppointmentDate.DayOfWeek - @Model.ApptTime  (@Model.TimeZoneName)</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script type="text/javascript" src="~/Scripts/jquery.rateyo.js"></script>
<script type="text/javascript">
    $("#349").on('click', function () {
        $("#create").css('display', 'block');
        $("#welcome").css('display', 'none');
    });
    $("#350").on('click', function () {
        $("#create").css('display', 'none');
        $("#welcome").css('display', 'block');
    });
    function signuppatient() {
        
        if ($("#createpatient").valid()) {
            var ObjPatientSignup = {};
            ObjPatientSignup = {
                'Email': $("#Signup_email_address").val(),
                'FirstName': $("#first_name").val(),
                'LastName': $("#last_name").val(),
                'Phone': $("#mobile_number").val(),
                'Password': $("#password").val(),
            };
            $("#signupmail").val($("#Signup_email_address").val());
            $("#firstname").val($("#first_name").val());
            $("#lastname").val($("#last_name").val());
            $("#phonenumber").val($("#mobile_number").val());
            $("#newpass").val($("#SignUppassword").val());
            var frmdata = $("#createpatient").serialize();

            //Check OverLapping
            var retunflag = true;
            $.ajaxSetup({ async: false });
            $.ajax({
                url: "/p/@(this.ViewContext.RouteData.Values["username"])/CheckOverLapping",
                type: "post",
                data: frmdata,
                success: function (data) {
                    if (data != "") {
                        $(".alert-danger").html(data);
                        $(".alert-danger").show();
                        retunflag = false;
                        return false;
                    }
                }
            });
            $.ajaxSetup({ async: true });
            if (!retunflag) {
                return retunflag;
            }


            $.ajaxSetup({ async: false });
            $.ajax({
                url: "/p/@(this.ViewContext.RouteData.Values["username"])/SubmitAppointmentBookingDataWithSignUp",
                type: "post",
                data: frmdata,
                success: function (data) {
                    if (data.Ismember == "true") {
                        var tempurl = null;
                        if ("@(isWidget)".toLowerCase() == "false") {
                            tempurl = '@System.Configuration.ConfigurationManager.AppSettings["DentalSite"].ToString()' + "PatientLogin?usrem=" + data.Email + "&uspswd=" + data.Password;
                        }
                        else {
                            alert("Appointment booked successfully.");
                            tempurl = '/widget/@(this.ViewContext.RouteData.Values["username"])/AppointmentBooking'
                        }

                        window.location.href = tempurl;

                    } else {
                        $("#350").trigger('click');
                        $("#Login_email_address").val($("#Signup_email_address").val());
                        $(".alert-danger").html("Email already exists");
                        $(".alert-danger").show();
                    }
                }
            });
            $.ajaxSetup({ async: true });
            return false;
        }
    }
    function signinpatient() {
        
        if ($("#signinpatient").valid()) {
            var ObjPatientLogin = {
                'Email': $("#Login_email_address").val(),
                'Password': $("#loginpassword").val(),
            };
            $("#logingemail").val($("#Login_email_address").val());
            $("#password").val($("#loginpassword").val());
            var frmdata = $("#signinpatient").serialize();
            //Check OverLapping
            var retunflag = true;
            $.ajaxSetup({ async: false });
            $.ajax({
                url: "/p/@(this.ViewContext.RouteData.Values["username"])/CheckOverLapping",
                type: "post",
                data: frmdata,
                success: function (data) {
                    if (data != "") {
                        
                        alert(data);
                        //swal({ title: "", text: data });
                        retunflag = false;
                        return false;
                    }
                }
            });
            $.ajaxSetup({ async: true });
            if (!retunflag) {
                return retunflag;
            }

            $.ajaxSetup({ async: false });
            $.ajax({
                url: "/p/@(this.ViewContext.RouteData.Values["username"])/SubmitAppointmentBookingDataWithSignIn",
                type: "post",
                data: frmdata,
                success: function (data) {
                    if (data.Ismember == "true") {
                        var tempurl = null;
                        if ("@(isWidget)".toLowerCase() == "false") {
                            tempurl = '@System.Configuration.ConfigurationManager.AppSettings["DentalSite"].ToString()' + "PatientLogin?usrem=" + data.Email + "&uspswd=" + data.Password;
                        }
                        else {
                            alert("Appointment booked successfully.");
                            tempurl = '/widget/@(this.ViewContext.RouteData.Values["username"])/AppointmentBooking'
                        }
                        
                        window.location.href = tempurl;
                        return false;

                    } else {
                        alert("Email or password is wrong");
                        // swal({ title: "", text: 'Email or password is wrong' });
                    }
                }
            });
            $.ajaxSetup({ async: true });

            return false;
        }
    }
    $(".patentRatingList").each(function () {

        $(this).rateYo({
            rating: parseFloat($(this).attr("ratingValue")),
            numStars: 5,
            precision: 2,
            minValue: 1,
            maxValue: 5,
            starWidth: "25px",
            spacing: "3px",
            readOnly: true
        });

    });
    function Resetpass() {
        var Email = $("#Login_email_address").val();
        if (Email == "" || Email == null) {
            $("#EmailErrorUser").show();
            return false;
        }
        $.ajaxSetup({ async: false });
        $.ajax({
            url: '@Url.Action("MForgotpassword", "p")?Email=' + Email + '',
            type: 'POST',
            dataType: 'html',
            contenttype: "application/x-www-form-urlencoded",
            cache: false,
            ProcessData: false,
            success: function (output, status, xhr) {
                obj = jQuery.parseJSON(output);

                //alert(obj.Message);
                swal({ title: "", text: obj.Message });
                $("#Login_email_address").val("");
            },
            error: function (output, status, xhr) {
                swal({ title: "", text: obj.Message });
            }
        });
        $.ajaxSetup({ async: true });
    }
</script>
