﻿@model List<BO.ViewModel.TempFileAttacheMents>

@if (Model.Count > 0)
{
    <div class="row">
        <div class="col-lg-12">
            <ul class="attachment-list" id="tempfilecontent">
                @foreach (var lstAttachment in Model)
                {
                    string FilePath = string.Empty;
                    string TempFileId = string.Empty;
                    switch (lstAttachment.FileFrom)
                    {
                        case 1:
                            FilePath = HttpContext.Current.Request.Url.Scheme + "://" + HttpContext.Current.Request.Url.Authority + "/Content/images/" + NewRecordlinc.Common.FileExtension.CheckFileExtenssionOnlyThumbName("unknown" + lstAttachment.FilePath);
                            TempFileId = "F_" + lstAttachment.FileId;
                            break;
                        case 2:
                            FilePath = HttpContext.Current.Request.Url.Scheme + "://" + HttpContext.Current.Request.Url.Authority + System.Configuration.ConfigurationManager.AppSettings["TempUploadsFolderPath"].Replace("~/", "/") + lstAttachment.FilePath;
                            TempFileId = "I_" + lstAttachment.FileId;
                            break;
                        case 3:
                            if (lstAttachment.FileExtension == 0)
                            {
                                FilePath = HttpContext.Current.Request.Url.Scheme + "://" + HttpContext.Current.Request.Url.Authority + Convert.ToString(System.Configuration.ConfigurationManager.AppSettings.Get("DraftAttachments")) + lstAttachment.FilePath;
                            }
                            else
                            {
                                FilePath = HttpContext.Current.Request.Url.Scheme + "://" + HttpContext.Current.Request.Url.Authority + "/Content/images/" + NewRecordlinc.Common.FileExtension.CheckFileExtenssionOnlyThumbName("unknown" + lstAttachment.FilePath);
                            }
                            TempFileId = Convert.ToString(lstAttachment.FileId);
                            break;

                    }
                    @*<div class="col" id="@TempFileId">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="DeleteAttachMent(@lstAttachment.FileId,@lstAttachment.FileFrom,'@lstAttachment.FilePath','@TempFileId')">&times;</button>
                    <div class="img-holder">
                        <img class="img-responsive" src="@FilePath" alt="@lstAttachment.FileName" title="@lstAttachment.FileName">
                    </div>
                    <span class="img-name">@lstAttachment.FileName</span>
                </div>*@

                    <li id="@TempFileId">
                        <div class="img-holder">
                            <img src="@FilePath" alt="@lstAttachment.FileName" />
                            <a href="javascript:void(0)" onclick="DeleteAttachMent(@lstAttachment.FileId,@lstAttachment.FileFrom,'@lstAttachment.FilePath','@TempFileId')" class="download-hover"><i class="ico-cross1"></i></a>
                        </div>
                        <div class="attacg-description">
                            <div class="discription-box">
                                <p>@lstAttachment.FileName</p>
                            </div>
                        </div>
                    </li>
                    @*<div class="col-md-3 col-sm-3 col-xs-6" id="@TempFileId">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="DeleteAttachMent(@lstAttachment.FileId,@lstAttachment.FileFrom,'@lstAttachment.FilePath','@TempFileId')">&times;</button>
                    <img class="img-responsive" src="@FilePath" alt="@lstAttachment.FileName" title="@lstAttachment.FileName">
                </div>*@
                }
            </ul>
        </div>
    </div>
}

