﻿@model BO.ViewModel.PatientContactInfo

<form id="frmContactInfo">
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(l => l.Address, new { @for = "text" })
        @Html.TextBoxFor(t => t.Address, new { @class = "form-control", @placeholder = "Address" })
    </div>
    <div class="form-group zip_city city">
        @Html.LabelFor(l => l.City, new { @for = "text" })
        @Html.TextBoxFor(t => t.City, new { @class = "form-control alphaonly", @placeholder = "City" })
    </div>
    <div class="form-group zip_city zip">
        @Html.LabelFor(l => l.ZipCode, new { @for = "text" })
        @Html.TextBoxFor(t => t.ZipCode, new { @class = "form-control numericOnly", @placeholder = "Zip Code/postal code", @maxlength = "5" })
        @Html.ValidationMessageFor(m => m.ZipCode)
    </div>
    <div class="form-group">
        @Html.LabelFor(l => l.State, new { @for = "text" })
        @Html.TextBoxFor(t => t.State, new { @class = "form-control alphaonly", @placeholder = "State" })
    </div>
    <div class="form-group zip_city">
        @Html.LabelFor(l => l.BOD, new { @for = "text" })
        @Html.TextBoxFor(t => t.BOD, new { @class = "form-control date", @placeholder = "MM/DD/YYYY" })
    </div>
    <div class="form-group zip_city zip select_box">
        @Html.LabelFor(l => l.Gender, new { @for = "text" })
        @Html.DropDownListFor(l => l.Gender, new List<SelectListItem> { new SelectListItem { Text = "Male", Value = "0" }, new SelectListItem { Text = "Female", Value = "1" } }, new { @class = "select_item" })
    </div>
    <div class="clearfix"></div>
    <div class="form-group zip_city city">
        @Html.LabelFor(l => l.EMGContactName, new { @for = "text" })
        @Html.TextBoxFor(t => t.EMGContactName, new { @class = "form-control alphaonly", @placeholder = "Emergency Contact Name" })
    </div>
    <div class="form-group zip_city zip">
        @Html.LabelFor(l => l.EMGContactNo, new { @for = "text" })
        @Html.TextBoxFor(t => t.EMGContactNo, new { @class = "form-control numericOnly", @placeholder = "Emergency Contact Phone Number", @maxlength = "10" })
        @Html.ValidationMessageFor(m => m.EMGContactNo)

    </div>
    <div class="clearfix"></div>
    <h4>Family Information</h4>
    <div class="form-group zip_city city">
        @Html.LabelFor(l => l.objFamilyInformation.SpouseFirstName, new { @for = "text" })
        @Html.TextBoxFor(t => t.objFamilyInformation.SpouseFirstName, new { @class = "form-control alphaonly", placeholder = "First Name" })
        @*<label for="text">Spouse First Name:</label>
            <input type="text" class="form-control" id="emergency" placeholder="First Name">*@
    </div>
    <div class="form-group zip_city zip">
        @Html.LabelFor(l => l.objFamilyInformation.SpouseLastName, new { @for = "text" })
        @Html.TextBoxFor(t => t.objFamilyInformation.SpouseLastName, new { @class = "form-control alphaonly", placeholder = "Last Name" })
        @*<label for="text">Spouse Last Name:</label>
            <input type="text" class="form-control" id="emergency_contact" placeholder="Last Name">*@
    </div>
    <div class="form-group zip_city zip select_box relation">
        <label for="text">Relationship:</label>
        @Html.DropDownListFor(l => l.objFamilyInformation.Relationship, new List<SelectListItem>
                { new SelectListItem { Text = "Wife", Value = "8" },
                   new SelectListItem { Text = "Husband", Value = "7" },
                    new SelectListItem { Text="Father",Value="3"},
                    new SelectListItem { Text="Mother",Value="4"},
                new SelectListItem { Text="Son",Value="5"}}, "Select Relationship", new { @class = "select_item" })
    </div>
    <div class="form-group zip_city zip phone">
        @Html.LabelFor(l => l.objFamilyInformation.Phone, new { @for = "text" })
        @Html.TextBoxFor(t => t.objFamilyInformation.Phone, new { @class = "form-control numericOnly", placeholder = "Phone", @maxlength = "10" })
        @Html.ValidationMessageFor(m => m.objFamilyInformation.Phone)
        @*<label for="Phone">Phone:</label>
            <input type="text" class="form-control" id="Phone" placeholder="Phone">*@
    </div>
    <div class="form-group">
        @Html.LabelFor(l => l.objFamilyInformation.Email, new { @for = "text" })
        @Html.TextBoxFor(t => t.objFamilyInformation.Email, new { @class = "form-control", placeholder = "Email" })
        @Html.ValidationMessageFor(m => m.objFamilyInformation.Email)
        @*<label for="Email">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Email">*@
    </div>
    <div class="form-group zip_city city">
        @Html.LabelFor(l => l.objFamilyInformation.ChildFirstName, new { @for = "text" })
        @Html.TextBoxFor(t => t.objFamilyInformation.ChildFirstName, new { @class = "form-control alphaonly", placeholder = "First Name" })
        @*<label for="text">Child First Name:</label>
            <input type="text" class="form-control" id="city" placeholder="First Name">*@
    </div>
    <div class="form-group zip_city zip">
        @Html.LabelFor(l => l.objFamilyInformation.ChildLastName, new { @for = "text" })
        @Html.TextBoxFor(t => t.objFamilyInformation.ChildLastName, new { @class = "form-control alphaonly", placeholder = "Last Name" })
        @*<label for="text">Child Last Name:</label>
            <input type="text" class="form-control" id="zip" placeholder="Last Name">*@
    </div>
    <div class="submit_button_box">
        <input type="button" value="Next" class="submit_button" onclick="SaveContactInfo();" />
    </div>
</form>