﻿<h3>Medical History</h3>
<a class="skip_button" onclick="GotoNextStep(4)" href="javascript:;">Skip Step >></a>
<div class="form-check">
    @Html.AntiForgeryToken()
    <input id="MrdQue1" type="checkbox" onclick="MrdQue1('MrdQue1','pnlMrdQue1','Mtxtphysicians');" />
    <label for="MrdQue1">Are you under a physicians care right now?</label>
    <div id="pnlMrdQue1" class="panel_box physicians" style="display: none;">
        <div class="form-group">
            <label for="Mtxtphysicians">Please explain </label>
            <textarea class="form-control txtareaheght" rows="5" id="Mtxtphysicians" placeholder="Enter Text"></textarea>
        </div>
    </div>
    <input id="MrdQue2" type="checkbox" onclick="MrdQue1('MrdQue2','pnlMrdQue2','Mtxthospitalized');" />
    <label for="MrdQue2">Have you ever been hospitalized or had a major operation?</label>
    <div id="pnlMrdQue2" class="panel_box physicians" style="display: none;">
        <div class="form-group">
            <label for="Mtxthospitalized">Please explain </label>
            <textarea class="form-control txtareaheght" rows="5" id="Mtxthospitalized" placeholder="Enter Text"></textarea>
        </div>
    </div>
    <input id="MrdQue3" type="checkbox" onclick="MrdQue1('MrdQue3','pnlMrdQue3','Mtxtserious');" />
    <label for="MrdQue3">Have you ever had a serious head or neck injury?</label>
    <div id="pnlMrdQue3" class="panel_box physicians" style="display: none;">
        <div class="form-group">
            <label for="Mtxtserious">Please explain </label>
            <textarea class="form-control txtareaheght" rows="5" id="Mtxtserious" placeholder="Enter Text"></textarea>
        </div>
    </div>

    <input id="MrdQue4" type="checkbox" onclick="MrdQue1('MrdQue4', 'pnlMrdQue4', 'Mtxtmedications');" />
    <label for="MrdQue4">Are taking any medications, pills, or drugs?</label>
    <div id="pnlMrdQue4" class="panel_box physicians" style="display: none;">
        <div class="form-group">
            <label for="Mtxtmedications">Please explain </label>
            <textarea class="form-control txtareaheght" rows="5" id="Mtxtmedications" placeholder="Enter Text"></textarea>
        </div>
    </div>
    <input id="MrdQue5" type="checkbox" onclick="MrdQue1('MrdQue5','pnlMrdQue5','MtxtRedux');" />
    <label for="MrdQue5">Do you take, or have you taken, Phen-Fen or Redux?</label>
    <div id="pnlMrdQue5" class="panel_box physicians" style="display: none;">
        <div class="form-group">
            <label for="MtxtRedux">Please explain </label>
            <textarea class="form-control txtareaheght" rows="5" id="MtxtRedux" placeholder="Enter Text"></textarea>
        </div>
    </div>
    <input id="MrdQue6" type="checkbox" onclick="MrdQue1('MrdQue6','pnlMrdQue6','MtxtFosamax');" />
    <label for="MrdQue6">Have you ever taken Fosamax, Boniva, Actonel or any other medications containing biphosphonates?</label>
    <div id="pnlMrdQue6" class="panel_box physicians" style="display: none;">
        <div class="form-group">
            <label for="MtxtFosamax">Please explain </label>
            <textarea class="form-control txtareaheght" rows="5" id="MtxtFosamax" placeholder="Enter Text"></textarea>
        </div>
    </div>
    <input id="MrdQuediet7" type="checkbox" onclick="MrdQue1('MrdQuediet7','pnlMrdQue7','Mtxt7');" />
    <label for="MrdQuediet7">Are you on a special diet?</label>
    <div id="pnlMrdQue7" class="panel_box physicians" style="display: none;">
        <div class="form-group">
            <label for="Mtxt7">Please explain </label>
            <textarea class="form-control txtareaheght" rows="5" id="Mtxt7" placeholder="Enter Text"></textarea>
        </div>
    </div>
    <input id="Mrdotobacco8" type="checkbox" onclick="MrdQue1('Mrdotobacco8','pnlMrdQue8','Mtxt8');" />
    <label for="Mrdotobacco8">Do you use tobacco?</label>
    <div id="pnlMrdQue8" class="panel_box physicians" style="display: none;">
        <div class="form-group">
            <label for="Mtxt8">Please explain </label>
            <textarea class="form-control txtareaheght" rows="5" id="Mtxt8" placeholder="Enter Text"></textarea>
        </div>
    </div>
    <input id="Mrdosubstances" type="checkbox" onclick="MrdQue1('Mrdosubstances','pnlMrdQue9','Mtxt9');" />
    <label for="Mrdosubstances">Do you use controlled substances?</label>
    <div id="pnlMrdQue9" class="panel_box physicians" style="display: none;">
        <div class="form-group">
            <label for="Mtxt9">Please explain </label>
            <textarea class="form-control txtareaheght" rows="5" id="Mtxt9" placeholder="Enter Text"></textarea>
        </div>
    </div>
    <input id="Mrdopregnant" type="checkbox" onclick="MrdQue1('Mrdopregnant','pnlMrdQue10','Mtxt10');" />
    <label for="Mrdopregnant">Are you pregnant/Trying to get pregnant(women)?</label>
    <div id="pnlMrdQue10" class="panel_box physicians" style="display: none;">
        <div class="form-group">
            <label for="Mtxt10">Due date</label>
            <textarea class="form-control txtareaheght" rows="5" id="Mtxt10" placeholder="Enter Text"></textarea>
        </div>
    </div>
    <input id="Mrdocontraceptives" type="checkbox" />
    <label for="Mrdocontraceptives">Taking oral contraceptives(women)?</label>
    <input id="MrdoNursing" type="checkbox" />
    <label for="MrdoNursing">Nursing(women)?</label>
    <label for="box13">Are you allergic to any of the following?</label>
    <div class="mini_boxes">
        <input id="MchkQue_1" value="Aspirin" type="checkbox" />
        <label for="MchkQue_1">Aspirin</label>
        <input id="MchkQue_2" value="Penicillin" type="checkbox" />
        <label for="MchkQue_2">Penicillin</label>
        <input id="MchkQue_3" value="Codeine" type="checkbox" />
        <label for="MchkQue_3">Codeine</label>
        <input id="MchkQue_4" value="Local Anesthetics" type="checkbox" />
        <label class="local_anesthetics" for="MchkQue_4">Local Anesthetics</label>
        <input id="MchkQue_5" value="Acrylic" type="checkbox" />
        <label for="MchkQue_5">Acrylic</label>
        <input id="MchkQue_6" value="Metal" type="checkbox" />
        <label for="MchkQue_6">Metal</label>
        <input id="MchkQue_7" value="Latex" type="checkbox" />
        <label for="MchkQue_7">Latex</label>
        <input id="MchkQue_8" value="Sulfa Drugs" type="checkbox" />
        <label class="local_anesthetics sulfa_drugs" for="MchkQue_8">Sulfa Drugs</label>
    </div>
    <div class="explain_list">
        <div class="form-group explain_group">
            <label for="text">If other, please explain list</label>
            <input type="text" class="form-control explain" id="MtxtchkQue_9" placeholder="">
        </div>
    </div>
    <label for="box13">Do you have, or have you had, any of the following?</label>
    <div class="row checkbox_col_row">
        <div class="col-xs-4">
            <input id="MrdQueAIDS_HIV_Positive" type="checkbox" />
            <label for="MrdQueAIDS_HIV_Positive">AIDS/HIV Positive</label>
            <input id="MrdQueAlzheimer" type="checkbox" />
            <label for="MrdQueAlzheimer">Alzheimer’s Disease</label>
            <input id="MrdQueAnaphylaxis" type="checkbox" />
            <label for="MrdQueAnaphylaxis">Anaphylaxis</label>
            <input id="MrdQueAnemia" type="checkbox" />
            <label for="MrdQueAnemia">Anemia</label>
            <input id="MrdQueAngina" type="checkbox" />
            <label for="MrdQueAngina">Angina</label>
            <input id="MrdQueArthritis_Gout" type="checkbox" />
            <label for="MrdQueArthritis_Gout">Arthritis/Gout</label>
            <input id="MrdQueArtificialHeartValve" type="checkbox" />
            <label for="MrdQueArtificialHeartValve">Artificial Heart Valve</label>
            <input id="MrdQueArtificialJoint" type="checkbox" />
            <label for="MrdQueArtificialJoint">Artificial Joint</label>
            <input id="MrdQueAsthma" type="checkbox" />
            <label for="MrdQueAsthma">Asthma</label>
            <input id="MrdQueBloodDisease" type="checkbox" />
            <label for="MrdQueBloodDisease">Blood Disease</label>
            <input id="MrdQueBloodTransfusion" type="checkbox" />
            <label for="MrdQueBloodTransfusion">Blood Transfusion</label>
            <input id="MrdQueBreathing" type="checkbox" />
            <label for="MrdQueBreathing">Breathing Problem</label>
            <input id="MrdQueBruise" type="checkbox" />
            <label for="MrdQueBruise">Bruise Easily</label>
            <input id="MrdQueCancer" type="checkbox" />
            <label for="MrdQueCancer">Cancer</label>
            <input id="MrdQueChemotherapy" type="checkbox" />
            <label for="MrdQueChemotherapy">Chemotherapy</label>
            <input id="MrdQueChest" type="checkbox" />
            <label for="MrdQueChest">Chest Pains</label>
            <input id="MrdQueCold_Sores_Fever" type="checkbox" />
            <label for="MrdQueCold_Sores_Fever">Cold Sores/Fever Blisters</label>
            <input id="MrdQueCongenital" type="checkbox" />
            <label for="MrdQueCongenital">Congenital Heart Disorder</label>
            <input id="MrdQueConvulsions" type="checkbox" />
            <label for="MrdQueConvulsions">Convulsions</label>
            <input id="MrdQueCortisone" type="checkbox" />
            <label for="MrdQueCortisone">Cortisone Medicine</label>
            <input id="MrdQueDiabetes" type="checkbox" />
            <label for="MrdQueDiabetes">Diabetes</label>
            <input id="MrdQueDrug" type="checkbox" />
            <label for="MrdQueDrug">Drug Addiction</label>
            <input id="MrdQueEasily" type="checkbox" />
            <label for="MrdQueEasily">Easily Winded</label>
            <input id="MrdQueEmphysema" type="checkbox" />
            <label for="MrdQueEmphysema">Emphysema</label>
            <input id="MrdQueEpilepsy" type="checkbox" />
            <label for="MrdQueEpilepsy">Epilepsy or Seizures</label>
            <input id="MrdQueExcessiveBleeding" type="checkbox" />
            <label for="MrdQueExcessiveBleeding">Excessive Bleeding</label>
        </div>
        <div class="col-xs-4">
            <input id="MrdQueExcessiveThirst" type="checkbox" />
            <label for="MrdQueExcessiveThirst">Excessive Thirst</label>
            <input id="MrdQueFainting" type="checkbox" />
            <label for="MrdQueFainting">Fainting Spells/Dizziness</label>
            <input id="MrdQueFrequentCough" type="checkbox" />
            <label for="MrdQueFrequentCough">Frequent Cough</label>
            <input id="MrdQueFrequentDiarrhea" type="checkbox" />
            <label for="MrdQueFrequentDiarrhea">Frequent Diarrhea</label>
            <input id="MrdQueFrequentHeadaches" type="checkbox" />
            <label for="MrdQueFrequentHeadaches">Frequent Headaches</label>
            <input id="MrdQueGenital" type="checkbox" />
            <label for="MrdQueGenital">Genital Herpes</label>
            <input id="MrdQueGlaucoma" type="checkbox" />
            <label for="MrdQueGlaucoma">Glaucoma</label>
            <input id="MrdQueHay" type="checkbox" />
            <label for="MrdQueHay">Hay Fever</label>
            <input id="MrdQueHeartAttack_Failure" type="checkbox" />
            <label for="MrdQueHeartAttack_Failure">Heart Attack/Failure</label>
            <input id="MrdQueHeartMurmur" type="checkbox" />
            <label for="MrdQueHeartMurmur">Heart Murmur</label>
            <input id="MrdQueHeartPacemaker" type="checkbox" />
            <label for="MrdQueHeartPacemaker">Heart Pacemaker</label>
            <input id="MrdQueHeartTrouble_Disease" type="checkbox" />
            <label for="MrdQueHeartTrouble_Disease">Heart Trouble/Disease</label>
            <input id="MrdQueHemophilia" type="checkbox" />
            <label for="MrdQueHemophilia">Hemophilia</label>
            <input id="MrdQueHepatitisA" type="checkbox" />
            <label for="MrdQueHepatitisA">Hepatitis A</label>
            <input id="MrdQueHepatitisBorC" type="checkbox" />
            <label for="MrdQueHepatitisBorC">Hepatitis B or C</label>
            <input id="MrdQueHerpes" type="checkbox" />
            <label for="MrdQueHerpes">Herpes</label>
            <input id="MrdQueHighBloodPressure" type="checkbox" />
            <label for="MrdQueHighBloodPressure">High Blood Pressure</label>
            <input id="MrdQueHighCholesterol" type="checkbox" />
            <label for="MrdQueHighCholesterol">High Cholesterol</label>
            <input id="MrdQueHives" type="checkbox" />
            <label for="MrdQueHives">Hives or Rash</label>
            <input id="MrdQueHypoglycemia" type="checkbox" />
            <label for="MrdQueHypoglycemia">Hypoglycemia</label>
            <input id="MrdQueIrregular" type="checkbox" />
            <label for="MrdQueIrregular">Irregular Heartbeat</label>
            <input id="MrdQueKidney" type="checkbox" />
            <label for="MrdQueKidney">Kidney Problems</label>
            <input id="MrdQueLeukemia" type="checkbox" />
            <label for="MrdQueLeukemia">Leukemia</label>
            <input id="MrdQueLiver" type="checkbox" />
            <label for="MrdQueLiver">Liver Disease</label>
            <input id="MrdQueLow" type="checkbox" />
            <label for="MrdQueLow">Low Blood Pressure</label>
            <input id="MrdQueLung" type="checkbox" />
            <label for="MrdQueLung">Lung Disease</label>
        </div>
        <div class="col-xs-4">
            <input id="MrdQueMitral" type="checkbox" />
            <label for="MrdQueMitral">Mitral Valve Prolapse</label>
            <input id="MrdQueOsteoporosis" type="checkbox" />
            <label for="MrdQueOsteoporosis">Osteoporosis</label>
            <input id="MrdQuePain" type="checkbox" />
            <label for="MrdQuePain">Pain in Jaw Joints</label>
            <input id="MrdQueParathyroid" type="checkbox" />
            <label for="MrdQueParathyroid">Parathyroid Disease</label>
            <input id="MrdQuePsychiatric" type="checkbox" />
            <label for="MrdQuePsychiatric">Psychiatric Care</label>
            <input id="MrdQueRadiation" type="checkbox" />
            <label for="MrdQueRadiation">Radiation Treatments</label>
            <input id="MrdQueRecent" type="checkbox" />
            <label for="MrdQueRecent">Recent Weight Loss</label>
            <input id="MrdQueRenal" type="checkbox" />
            <label for="MrdQueRenal">Renal Dialysis</label>
            <input id="MrdQueRheumatic" type="checkbox" />
            <label for="MrdQueRheumatic">Rheumatic Fever</label>
            <input id="MrdQueRheumatism" type="checkbox" />
            <label for="MrdQueRheumatism">Rheumatism</label>
            <input id="MrdQueScarlet" type="checkbox" />
            <label for="MrdQueScarlet">Scarlet Fever</label>
            <input id="MrdQueShingles" type="checkbox" />
            <label for="MrdQueShingles">Shingles</label>
            <input id="MrdQueSickle" type="checkbox" />
            <label for="MrdQueSickle">Sickle Cell Disease</label>
            <input id="MrdQueSinus" type="checkbox" />
            <label for="MrdQueSinus">Sinus Trouble</label>
            <input id="MrdQueSpina" type="checkbox" />
            <label for="MrdQueSpina">Spina Bifida</label>
            <input id="MrdQueStomach" type="checkbox" />
            <label for="MrdQueStomach">Stomach/Intestinal Disease</label>
            <input id="MrdQueStroke" type="checkbox" />
            <label for="MrdQueStroke">Stroke</label>
            <input id="MrdQueSwelling" type="checkbox" />
            <label for="MrdQueSwelling">Swelling of Limbs</label>
            <input id="MrdQueThyroid" type="checkbox" />
            <label for="MrdQueThyroid">Thyroid Disease</label>
            <input id="MrdQueTonsillitis" type="checkbox" />
            <label for="MrdQueTonsillitis">Tonsillitis</label>
            <input id="MrdQueTuberculosis" type="checkbox" />
            <label for="MrdQueTuberculosis">Tuberculosis</label>
            <input id="MrdQueTumors" type="checkbox" />
            <label for="MrdQueTumors">Tumors or Growths</label>
            <input id="MrdQueUlcers" type="checkbox" />
            <label for="MrdQueUlcers">Ulcers</label>
            <input id="MrdQueVenereal" type="checkbox" />
            <label for="MrdQueVenereal">Venereal Disease</label>
            <input id="MrdQueYellow" type="checkbox" />
            <label for="MrdQueYellow">Yellow Jaundice</label>
        </div>
    </div>
    <div class="row footer_lable">
        <div class="col-xs-12">
            <div class="form-group">
                <label for="text">List any serious illness not listed above</label>
                <textarea id="Mtxtillness" class="form-control txtareaheght"></textarea>
            </div>
            <div class="form-group">
                <label for="text">Additional Information</label>
                <textarea id="MtxtComments" class="form-control txtareaheght"></textarea>
            </div>
            <div class="next_button">
                <a href="javascript:void(0);" onclick="UpdateMedicalHistory()">
                    Next
                </a>
            </div>
        </div>
    </div>

</div>
