﻿@model BO.ViewModel.MDLPatientSignUp
<form id="frmPatientSignup">
    @Html.AntiForgeryToken()
    <div class="form-group zip_city city">

        <label for="text">First Name*</label>
        @Html.TextBoxFor(t => t.FirstName, new { @class = "form-control alphaonly", @id = "first_name", @placeholder = "First Name" })
        @Html.ValidationMessageFor(m => m.FirstName)
    </div>
    <div class="form-group zip_city zip">
        <label for="Zip">Last Name*</label>
        @Html.TextBoxFor(t => t.LastName, new { @class = "form-control alphaonly", @id = "last_name", @placeholder = "Last Name" })
        @Html.ValidationMessageFor(m => m.LastName)
    </div>
    <div class="clearfix"></div>
    <div class="form-group zip_city city">
        <label for="text">Email Address*</label>
        @Html.TextBoxFor(t => t.Email, new { @class = "form-control", @id = "email_address", @placeholder = "Email Address" })
        @Html.ValidationMessageFor(m => m.Email)
    </div>
    <div class="form-group zip_city zip">
        <label for="text">Phone Number</label>
        @Html.TextBoxFor(t => t.Phone, new { @class = "form-control numericOnly", @id = "phone_number", @placeholder = "Phone", @maxlength = "10" })
        @Html.ValidationMessageFor(m => m.Phone)
    </div>
    <div class="clearfix"></div>
    @{ 
        var IsDiabled = Model.PromoCode == null ? "display:none" : "";

    }
    <div class="form-group zip_city city" style="@IsDiabled">
        @Html.HiddenFor(t => t.OfferID)
        <label for="text">Promo Code</label>
        @if (Model.PromoCode == null)
        {
            @Html.TextBoxFor(t => t.PromoCode, new { @class = "form-control", @placeholder = "Enter Code" })
        }
        else {
            @Html.TextBoxFor(t => t.PromoCode, new { @class = "form-control", @placeholder = "Enter Code", @disabled = "disabled" })
        }
    </div>
    <div class="form-group zip_city zip select_box">
        <div class="capthcha_img" style="margin-left: -17px;">
            @Html.HiddenFor(t => t.PublicProfileUserId)
            @*@Html.HiddenFor(t=>t.PatientId)*@
            <div class="g-recaptcha" data-sitekey="6Lcm9hoTAAAAAIrjXd206zW5QmEyS6nVmJvpu0Jx" style="transform-origin:0 0;-webkit-transform-origin:0 0; float: left; margin-right:10px" data-theme="light"></div>
        </div>
    </div>
    <div class="submit_button_box form-group">
        <input type="button" value="Submit" class="submit_button" onclick="SignupformSubmit();" />
    </div>
</form>
