﻿@model BO.ViewModel.MDLPatientSignUp
@{
    ViewBag.Title = "PatientSignUp";
    Layout = "~/Views/Shared/NewPublicProfileLayout.cshtml";
    if (ViewBag.SucessMsg != "" && ViewBag.SucessMsg != null)
    {
        <input type="hidden" id="success" value="@ViewBag.SucessMsg" />
    }
    string DentalMessage = Convert.ToString(TempData["DentalSuccess"]);
    TempData["DentalSuccess"] = string.Empty;
    if (!Convert.ToBoolean(HttpContext.Current.Session["Show_PatientForms"]))
    {
        Response.Redirect(Url.Action("AboutDoctor", "p"));
    }
}
@section styles  {
    <link href="~/Content/css/Main/css/all.css" rel="stylesheet" />
    <link href="~/Content/css/Main/css/font-awesome.min.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">*@
}
<main id="main">
    <div class="page_haading_holder">
        <div class="container navigation_container">
            <div class="row navigation_row">
                <div class="col-xs-12">
                    <div class="page_heading">
                        <h1>New Patients Sign-Up</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container contact_container">
        <div class="alert alert-success alert-dismissable" id="artsuccess">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success! </strong> Thank You For Registration.
        </div>
        <div class="alert alert-success alert-dismissable" style="display:none;" id="successmsg">
        </div>
        <div class="alert alert-danger alert-dismissable" id="arterror">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        </div>
        <div class="row tabs_row">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">Personal Info</a></li>
                <li><a data-toggle="tab" href="#menu1">Contact Info</a></li>
                <li><a data-toggle="tab" href="#menu2">Notice of Privacy</a></li>
                <li><a data-toggle="tab" href="#menu3">Insurance Coverage</a></li>
                <li><a data-toggle="tab" href="#menu4">Medical History</a></li>
                <li><a data-toggle="tab" href="#menu5">Dental History</a></li>
            </ul>
            <div class="tab-content">
                <div class="alert alert-danger" id="errormsg" style="width:79%;">
                </div>
                <div class="alert alert-success" id="sucessmsg" style="width:79%;">
                </div>
                <div id="home" class="tab-pane fade in active">
                    <h3>Personal Info</h3>
                    <div class="personal_info_box">
                        @Html.HiddenFor(t => t.PatientId)
                        @Html.HiddenFor(t => t.PublicProfileUserName)
                        @Html.Partial("PartialPatientSignUp")
                    </div>
                </div>
                <div id="menu1" class="tab-pane fade">
                    <h3>Contact Info</h3>
                    <div class="form_box">
                        @Html.Partial("PartialPatientContactInfo", Model.ObjContactInfo)
                        @*<div class="add_button">
                                <a href="#more_content">
                                    + Add
                                </a>
                            </div>*@
                    </div>
                </div>
                <div id="menu2" class="tab-pane fade">
                    <h3>Notice of Privacy</h3>
                    <p>
                        This notice describes how health information about you may be used and disclosed and how you can get access to this information.
                        View and review carefully. The privacy of your health information is important to us.
                    </p>
                    <a href="@Session["CompanyWebsite"]/Faq/PrivacyPolicy">Click here to view Privacy Policy</a>
                    <div class="next_button">
                        <a href="javascript:;" onclick="GotoNextStep(2);">
                            Next
                        </a>
                    </div>
                </div>
                <div id="menu3" class="tab-pane fade">
                    @Html.Partial("PartialInsuranceCoverageView")
                </div>
                <div id="menu4" class="tab-pane fade">
                    @Html.Partial("PartialMediacalHistoryView")
                </div>
                <div id="menu5" class="tab-pane fade">
                    @Html.Partial("PartialDentalHistoryView")
                </div>
            </div>
        </div>
    </div>
</main>
@section scripts {
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="~/Scripts/ControllerJS/PublicProfile/PatientSignUp.js"></script>
}
<script type="text/javascript">
    var specialKeys = new Array();
    specialKeys.push(8); //Backspace
    $(document).ready(function () {


        if ($.trim("@DentalMessage").length > 0) {
            showSuccessMsg("@DentalMessage");
        }

        if ($("#success").val() != null && $("#success").val() != "") {

            $("#sucessmsg").show();
            $("#sucessmsg").html("@ViewBag.SucessMsg");
            setTimeout(function () {
                $("#sucessmsg").fadeOut(700);
                $("#sucessmsg").hide();
                $("#sucessmsg").html("");
            }, 10000);
            $('.nav .active').removeClass('active');
            $('.nav-tabs a[href="#menu1"]').tab('show');
        }
        $(".numericOnly").bind("keypress", function (e) {
            var arr = [0, 8, 9, 16, 17, 20, 35, 36, 37, 38, 39, 40, 45, 46];
            // Allow letters
            for (var i = 48; i <= 57; i++) {
                arr.push(i);
            }

            // Prevent default if not in array
            if (jQuery.inArray(e.which, arr) === -1) {
                e.preventDefault();
                return false;
            }
        });
        $(".numericOnly").bind("paste", function (e) {
            return false;
        });
        $(".numericOnly").bind("drop", function (e) {
            return false;
        });

        if ('@ViewBag.ChangePage' == true) {
            GotoNextStep(2);
        }
        else {
            $('.nav-tabs a[href="#home"]').tab('show');
        }
        //$('.alphaonly').bind('keyup blur', function () {
        //    var node = $(this);
        //    node.val(node.val().replace(/[^a-zA-Z ]/g, ''));
        //});
        $(".alphaonly").on("keydown", function (event) {
            // Allow controls such as backspace
            var arr = [8, 9, 16, 17, 20, 35, 36, 37, 38, 39, 40, 45, 46, 32];

            // Allow letters
            for (var i = 65; i <= 90; i++) {
                arr.push(i);
            }

            // Prevent default if not in array
            if (jQuery.inArray(event.which, arr) === -1) {
                event.preventDefault();
            }
        });
    });
    $("#BOD").datepicker({ changeMonth: true, changeYear: true, maxDate: "+0M +0D", yearRange: "-100:+0" }).attr('readonly', 'true');
    $("#txtEmployeeDob1").datepicker({ changeMonth: true, changeYear: true, maxDate: "+0M +0D", yearRange: "-100:+0" }).attr('readonly', 'true');
    $("#txtYearsEmployed2").datepicker({ changeMonth: true, changeYear: true, maxDate: "+0M +0D", yearRange: "-100:+0" }).attr('readonly', 'true');
    function GotoNextStep(id) {
        if (checkpatientsession() == false) {
            GotoHome();
            $(window).scrollTop(0);
            return false;
        }
        $("#menu" + id).removeClass("active");
        id = id + parseInt(1);
        $('.nav-tabs a[href="#menu' + id + '"]').tab('show');
        $(window).scrollTop(0);
    }

    //function isEmail(email) {
    //    var regex = /^([\w-\.]+([\w-]+\.)+[\w-]{2,4})?$/;
    //    return regex.test(email);
    //}


    function SaveContactInfo() {
        if (checkpatientsession() == false) {
            GotoHome();
            $(window).scrollTop(0);
            return false;
        }
        var objFamilyInformation = {};
        objFamilyInformation = {
            'SpouseFirstName': $("#objFamilyInformation_SpouseFirstName").val(),
            'SpouseLastName': $("#objFamilyInformation_SpouseLastName").val(),
            'Relationship': $("#objFamilyInformation_Relationship").val(),
            'Phone': $("#objFamilyInformation_Phone").val(),
            'Email': $("#objFamilyInformation_Email").val(),
            'ChildFirstName': $("#objFamilyInformation_ChildFirstName").val(),
            'ChildLastName': $("#objFamilyInformation_ChildLastName").val(),


        }
        var PatientContactInfo = {
            'Address': $("#Address").val(),
            'City': $("#City").val(),
            'State': $("#State").val(),
            'ZipCode': $("#ZipCode").val(),
            'DOB': $("#BOD").val(),
            'Gender': $("#Gender").val(),
            'EMGContactName': $("#EMGContactName").val(),
            'EMGContactNo': $("#EMGContactNo").val(),
            'objFamilyInformation': objFamilyInformation,
            'Email': $("#email_address").val()
        }
        var form = $('#__AjaxAntiForgeryForm');
        var token = $('input[name="__RequestVerificationToken"]').val();
        $.post("/p/@(this.ViewContext.RouteData.Values["username"])/InsertPatientContactInfo", { __RequestVerificationToken: token, ObjPatientContactInfo: PatientContactInfo }, function (data) {
            if (data != 0) {
                $('#PatientId').val(data);
                $("#artsuccess").show();
                $("#artsuccess").html("Contact info inserted successfully");
                setTimeout(function () {
                    $("#artsuccess").fadeOut(700);
                    $("#artsuccess").hide();
                    $("#artsuccess").html("");
                }, 10000);
                GotoNextStep(1);
                return false;
            }
            else {

            }

        });
    };
    function GotoHome() {
        $('.nav-tabs a[href="#home"]').tab('show');
    }
    function checkpatientsession() {
        if ($('#PatientId').val() != 0 && $('#PatientId').val() != '') { return true; }
        else {
            $("#arterror").html("<a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a><strong>Error! </strong>Please fill out basic info.");
            $("#arterror").show();
            //swal({ title: "", text: 'Please fill out basic info' });
            return false;
        }
    }

    function SignupformSubmit() {
        if ($("#frmPatientSignup").valid()) {
            var PatientSignup = {
                'FirstName': $("#first_name").val(),
                'LastName': $("#last_name").val(),
                'Email': $("#email_address").val(),
                'Phone': $("#phone_number").val(),
                'PromoCode': $("#PromoCode").val(),
                'PublicProfileUserId': $("#PublicProfileUserId").val(),
                'OfferID': $("#OfferID").val(),
                'PublicProfileUserName': $("#PublicProfileUserName").val()
            }
            $("#arterror").html("");
            $("#arterror").hide();
            var captcha_response = grecaptcha.getResponse();
            if (captcha_response.length == 0) {
                $("#errormsg").show();
                $("#errormsg").html("Please verify captcha!");
                setTimeout(function () {
                    $("#errormsg").fadeOut(700);
                    $("#errormsg").hide();
                    $("#errormsg").html("");
                }, 5000);
                return false;
            }
            var form = $('#__AjaxAntiForgeryForm');
            var token = $('input[name="__RequestVerificationToken"]').val();
            $.post("/p/@(this.ViewContext.RouteData.Values["username"])/PatientSignUpPost", { __RequestVerificationToken: token, mdlpatientsignup: PatientSignup }, function (data) {
                if (data != 0) {
                    $("#errormsg").hide();
                    $('#PatientId').val(data);
                    $("#artsuccess").show();
                    $("#artsuccess").html("Patient inserted successfully");
                    setTimeout(function () {
                        $("#artsuccess").fadeOut(700);
                        $("#artsuccess").hide();
                        $("#artsuccess").html("");
                    }, 10000);
                    GotoNextStep(0);
                }
                else {

                }

            });
        }

    }

    //Update InsuranceCoverage
    function UpdateInsuranceCoverage() {
        //$('#PatientId').val('304544');
        if (checkpatientsession() == false) {
            GotoHome();
            $(window).scrollTop(0);
            return false;
        }
        var InsuranceCoverageData = {
            'ResponsibleFirstName': $("#txtResponsiblepartyFname").val(),
            'ResponsibleLastName': $("#txtResponsiblepartyLname").val(),
            'ResponsibleRelationship': $("#txtResponsibleRelationship").val(),
            'ResponsibleAddress': $("#txtResponsibleAddress").val(),
            'ResponsibleCity': $("#txtResponsibleCity").val(),
            'ResponsibleState': $("#txtResponsibleState").val(),
            'ResponsibleZipcode': null,
            'ResponsiblePhoneNumber': $("#txtResponsibleContact").val(),
            'PrimaryInsuranceCompany': $("#txtEmployeeName1").val(),
            'PrimaryNameOfInsured': $("#txtEmployerName1").val(),
            'PrimaryDateOfBirth': $("#txtEmployeeDob1").val(),
            'PrimaryMemberID': $("#txtNameofInsurance1").val(),
            'PrimaryGroupNumber': $("#txtInsuranceTelephone1").val(),
            'SecondaryInsuranceCompany': $("#txtEmployeeName2").val(),
            'SecondaryNameOfInsured': $("#txtEmployerName2").val(),
            'SecondaryDateOfBirth': $("#txtYearsEmployed2").val(),
            'SecondaryMemberID': $("#txtNameofInsurance2").val(),
            'SecondaryGroupNumber': $("#txtInsuranceTelephone2").val(),
        }
        var form = $('#__AjaxAntiForgeryForm');
        var token = $('input[name="__RequestVerificationToken"]').val();
        $.post("/p/@(this.ViewContext.RouteData.Values["username"])/InsuranceCoverage", { __RequestVerificationToken: token, objInsuranceCoverage: InsuranceCoverageData }, function (data) {
            if (data != null && data != "") {
                GotoNextStep(3)// Move to Medical History
            }
            else {
                swal({ title: "", text: 'Failed to add insurance coverage', type: 'error' });
            }

        });
    }
    function MrdQue1(ctrl, pnl, txt) {
        if ($('#' + ctrl).is(':checked') == true) {
            $("#" + pnl).show();
        }
        else {
            $("#" + pnl).hide();
            $("#" + txt).val('');
        }
    }
    function txtQue5blur() {
        if ($('#txtQue5').val() != null && $('#txtQue5').val() != "") {
            $('#pnltxt5li').show();
            $("#txtQue5a").focus();
        }
        else {
            $('#pnltxt5li').hide();
            $("#txtQue5a").val('');
            $("#txtQue5b").val('');
            $("#txtQue5c").val('');
        }
    }
    // for UpdateMedicalHistory -start
    function UpdateMedicalHistory() {
        //$('#PatientId').val('304544');
        if (checkpatientsession() == false) {
            GotoHome();
            $(window).scrollTop(0);
            return false;
        }
        var MedicalHistoryFormData = {
            'MrdQue1': ($('#MrdQue1').is(':checked') ? 'Y' : 'N'),
            'Mtxtphysicians': $('#Mtxtphysicians').val(),
            'MrdQue2': ($('#MrdQue2').is(':checked') ? 'Y' : 'N'),
            'Mtxthospitalized': $('#Mtxthospitalized').val(),
            'MrdQue3': ($('#MrdQue3').is(':checked') ? 'Y' : 'N'),
            'Mtxtserious': $('#Mtxtserious').val(),
            'MrdQue4': ($('#MrdQue4').is(':checked') ? 'Y' : 'N'),
            'Mtxtmedications': $('#Mtxtmedications').val(),
            'MrdQue5': ($('#MrdQue5').is(':checked') ? 'Y' : 'N'),
            'MtxtRedux': $('#MtxtRedux').val(),
            'MrdQue6': ($('#MrdQue6').is(':checked') ? 'Y' : 'N'),
            'MtxtFosamax': $('#MtxtFosamax').val(),
            'MrdQuediet7': ($('#MrdQuediet7').is(':checked') ? 'Y' : 'N'),
            'Mtxt7': $('#Mtxt7').val(),
            'Mrdotobacco8': ($('#Mrdotobacco8').is(':checked') ? 'Y' : 'N'),
            'Mtxt8': $('#Mtxt8').val(),
            'Mrdosubstances': ($('#Mrdosubstances').is(':checked') ? 'Y' : 'N'),
            'Mtxt9': $('#Mtxt9').val(),
            'Mrdopregnant': ($('#Mrdopregnant').is(':checked') ? 'Y' : 'N'),
            'Mtxt10': $('#Mtxt10').val(),
            'Mrdocontraceptives': ($('#Mrdocontraceptives').is(':checked') ? 'Y' : 'N'),
            'MrdoNursing': ($('#MrdoNursing').is(':checked') ? 'Y' : 'N'),
            'MchkQue_1': ($('#MchkQue_1').is(':checked') ? 'Y' : 'N'),
            'MchkQue_2': ($('#MchkQue_2').is(':checked') ? 'Y' : 'N'),
            'MchkQue_3': ($('#MchkQue_3').is(':checked') ? 'Y' : 'N'),
            'MchkQue_4': ($('#MchkQue_4').is(':checked') ? 'Y' : 'N'),
            'MchkQue_5': ($('#MchkQue_5').is(':checked') ? 'Y' : 'N'),
            'MchkQue_6': ($('#MchkQue_6').is(':checked') ? 'Y' : 'N'),
            'MchkQue_7': ($('#MchkQue_7').is(':checked') ? 'Y' : 'N'),
            'MchkQue_8': ($('#MchkQue_8').is(':checked') ? 'Y' : 'N'),
            'MchkQue_9': ($('#MchkQue_9').is(':checked') ? 'Y' : 'N'),
            'MtxtchkQue_9': $('#MtxtchkQue_9').val(),
            'MrdQueAIDS_HIV_Positive': ($('#MrdQueAIDS_HIV_Positive').is(':checked') ? 'Y' : 'N'),
            'MrdQueAlzheimer': ($('#MrdQueAlzheimer').is(':checked') ? 'Y' : 'N'),
            'MrdQueAnaphylaxis': ($('#MrdQueAnaphylaxis').is(':checked') ? 'Y' : 'N'),
            'MrdQueAnemia': ($('#MrdQueAnemia').is(':checked') ? 'Y' : 'N'),
            'MrdQueAngina': ($('#MrdQueAngina').is(':checked') ? 'Y' : 'N'),
            'MrdQueArthritis_Gout': ($('#MrdQueArthritis_Gout').is(':checked') ? 'Y' : 'N'),
            'MrdQueArtificialHeartValve': ($('#MrdQueArtificialHeartValve').is(':checked') ? 'Y' : 'N'),
            'MrdQueArtificialJoint': ($('#MrdQueArtificialJoint').is(':checked') ? 'Y' : 'N'),
            'MrdQueAsthma': ($('#MrdQueAsthma').is(':checked') ? 'Y' : 'N'),
            'MrdQueBloodDisease': ($('#MrdQueBloodDisease').is(':checked') ? 'Y' : 'N'),
            'MrdQueBloodTransfusion': ($('#MrdQueBloodTransfusion').is(':checked') ? 'Y' : 'N'),
            'MrdQueBreathing': ($('#MrdQueBreathing').is(':checked') ? 'Y' : 'N'),
            'MrdQueBruise': ($('#MrdQueBruise').is(':checked') ? 'Y' : 'N'),
            'MrdQueCancer': ($('#MrdQueCancer').is(':checked') ? 'Y' : 'N'),
            'MrdQueChemotherapy': ($('#MrdQueChemotherapy').is(':checked') ? 'Y' : 'N'),
            'MrdQueChest': ($('#MrdQueChest').is(':checked') ? 'Y' : 'N'),
            'MrdQueCold_Sores_Fever': ($('#MrdQueCold_Sores_Fever').is(':checked') ? 'Y' : 'N'),
            'MrdQueCongenital': ($('#MrdQueCongenital').is(':checked') ? 'Y' : 'N'),
            'MrdQueConvulsions': ($('#MrdQueConvulsions').is(':checked') ? 'Y' : 'N'),
            'MrdQueCortisone': ($('#MrdQueCortisone').is(':checked') ? 'Y' : 'N'),
            'MrdQueDiabetes': ($('#MrdQueDiabetes').is(':checked') ? 'Y' : 'N'),
            'MrdQueDrug': ($('#MrdQueDrug').is(':checked') ? 'Y' : 'N'),
            'MrdQueEasily': ($('#MrdQueEasily').is(':checked') ? 'Y' : 'N'),
            'MrdQueEmphysema': ($('#MrdQueEmphysema').is(':checked') ? 'Y' : 'N'),
            'MrdQueEpilepsy': ($('#MrdQueEpilepsy').is(':checked') ? 'Y' : 'N'),
            'MrdQueExcessiveBleeding': ($('#MrdQueExcessiveBleeding').is(':checked') ? 'Y' : 'N'),
            'MrdQueExcessiveThirst': ($('#MrdQueExcessiveThirst').is(':checked') ? 'Y' : 'N'),
            'MrdQueFainting': ($('#MrdQueFainting').is(':checked') ? 'Y' : 'N'),
            'MrdQueFrequentCough': ($('#MrdQueFrequentCough').is(':checked') ? 'Y' : 'N'),
            'MrdQueFrequentDiarrhea': ($('#MrdQueFrequentDiarrhea').is(':checked') ? 'Y' : 'N'),
            'MrdQueFrequentHeadaches': ($('#MrdQueFrequentHeadaches').is(':checked') ? 'Y' : 'N'),
            'MrdQueGenital': ($('#MrdQueGenital').is(':checked') ? 'Y' : 'N'),
            'MrdQueGlaucoma': ($('#MrdQueGlaucoma').is(':checked') ? 'Y' : 'N'),
            'MrdQueHay': ($('#MrdQueHay').is(':checked') ? 'Y' : 'N'),
            'MrdQueHeartAttack_Failure': ($('#MrdQueHeartAttack_Failure').is(':checked') ? 'Y' : 'N'),
            'MrdQueHeartMurmur': ($('#MrdQueHeartMurmur').is(':checked') ? 'Y' : 'N'),
            'MrdQueHeartPacemaker': ($('#MrdQueHeartPacemaker').is(':checked') ? 'Y' : 'N'),
            'MrdQueHeartTrouble_Disease': ($('#MrdQueHeartTrouble_Disease').is(':checked') ? 'Y' : 'N'),
            'MrdQueHemophilia': ($('#MrdQueHemophilia').is(':checked') ? 'Y' : 'N'),
            'MrdQueHepatitisA': ($('#MrdQueHepatitisA').is(':checked') ? 'Y' : 'N'),
            'MrdQueHepatitisBorC': ($('#MrdQueHepatitisBorC').is(':checked') ? 'Y' : 'N'),
            'MrdQueHerpes': ($('#MrdQueHerpes').is(':checked') ? 'Y' : 'N'),
            'MrdQueHighBloodPressure': ($('#MrdQueHighBloodPressure').is(':checked') ? 'Y' : 'N'),
            'MrdQueHighCholesterol': ($('#MrdQueHighCholesterol').is(':checked') ? 'Y' : 'N'),
            'MrdQueHives': ($('#MrdQueHives').is(':checked') ? 'Y' : 'N'),
            'MrdQueHypoglycemia': ($('#MrdQueHypoglycemia').is(':checked') ? 'Y' : 'N'),
            'MrdQueIrregular': ($('#MrdQueIrregular').is(':checked') ? 'Y' : 'N'),
            'MrdQueKidney': ($('#MrdQueKidney').is(':checked') ? 'Y' : 'N'),
            'MrdQueLeukemia': ($('#MrdQueLeukemia').is(':checked') ? 'Y' : 'N'),
            'MrdQueLiver': ($('#MrdQueLiver').is(':checked') ? 'Y' : 'N'),
            'MrdQueLow': ($('#MrdQueLow').is(':checked') ? 'Y' : 'N'),
            'MrdQueLung': ($('#MrdQueLung').is(':checked') ? 'Y' : 'N'),
            'MrdQueMitral': ($('#MrdQueMitral').is(':checked') ? 'Y' : 'N'),
            'MrdQueOsteoporosis': ($('#MrdQueOsteoporosis').is(':checked') ? 'Y' : 'N'),
            'MrdQuePain': ($('#MrdQuePain').is(':checked') ? 'Y' : 'N'),
            'MrdQueParathyroid': ($('#MrdQueParathyroid').is(':checked') ? 'Y' : 'N'),
            'MrdQuePsychiatric': ($('#MrdQuePsychiatric').is(':checked') ? 'Y' : 'N'),
            'MrdQueRadiation': ($('#MrdQueRadiation').is(':checked') ? 'Y' : 'N'),
            'MrdQueRecent': ($('#MrdQueRecent').is(':checked') ? 'Y' : 'N'),
            'MrdQueRenal': ($('#MrdQueRenal').is(':checked') ? 'Y' : 'N'),
            'MrdQueRheumatic': ($('#MrdQueRheumatic').is(':checked') ? 'Y' : 'N'),
            'MrdQueRheumatism': ($('#MrdQueRheumatism').is(':checked') ? 'Y' : 'N'),
            'MrdQueScarlet': ($('#MrdQueScarlet').is(':checked') ? 'Y' : 'N'),
            'MrdQueShingles': ($('#MrdQueShingles').is(':checked') ? 'Y' : 'N'),
            'MrdQueSickle': ($('#MrdQueSickle').is(':checked') ? 'Y' : 'N'),
            'MrdQueSinus': ($('#MrdQueSinus').is(':checked') ? 'Y' : 'N'),
            'MrdQueSpina': ($('#MrdQueSpina').is(':checked') ? 'Y' : 'N'),
            'MrdQueStomach': ($('#MrdQueStomach').is(':checked') ? 'Y' : 'N'),
            'MrdQueStroke': ($('#MrdQueStroke').is(':checked') ? 'Y' : 'N'),
            'MrdQueSwelling': ($('#MrdQueSwelling').is(':checked') ? 'Y' : 'N'),
            'MrdQueThyroid': ($('#MrdQueThyroid').is(':checked') ? 'Y' : 'N'),
            'MrdQueTonsillitis': ($('#MrdQueTonsillitis').is(':checked') ? 'Y' : 'N'),
            'MrdQueTuberculosis': ($('#MrdQueTuberculosis').is(':checked') ? 'Y' : 'N'),
            'MrdQueTumors': ($('#MrdQueTumors').is(':checked') ? 'Y' : 'N'),
            'MrdQueUlcers': ($('#MrdQueUlcers').is(':checked') ? 'Y' : 'N'),
            'MrdQueVenereal': ($('#MrdQueVenereal').is(':checked') ? 'Y' : 'N'),
            'MrdQueYellow': ($('#MrdQueYellow').is(':checked') ? 'Y' : 'N'),
            'Mtxtillness': $('#Mtxtillness').val(),
            'MtxtComments': $('#MtxtComments').val()
        }
        var form = $('#__AjaxAntiForgeryForm');
        var token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: '/p/@(this.ViewContext.RouteData.Values["username"])/MedicalHistoryForm',
            type: 'POST',
            dataType: 'html',
            contenttype: "application/x-www-form-urlencoded",
            cache: false,
            ProcessData: false,
            success: function
              (data, status, xhr) {
                if (data != null && data != "") {
                    GotoNextStep(4)// Move to Dental History
                }
                else {
                    swal({ title: "", text: 'Failed to add medical history ', type: 'error' });
                }


            },
            data: { __RequestVerificationToken: token, objHistory: MedicalHistoryFormData },
            error: function (xhr) {


                if (typeof (console) != 'undefined') {
                    // console.log(xhr.responseText);
                }
            }
        });
    }
    // for UpdateMedicalHistory - End
    //for UpdateDentaHistory - Start
    function UpdateDentalHistory() {
        //$('#PatientId').val('304544');
        if (checkpatientsession() == false) {
            GotoHome();
            $(window).scrollTop(0);
            return false;
        }
        if ($("#txtQue5c").val()) {
            var myemail = $("#txtQue5c").val();
            var result = IsEmailwithcomma(myemail);
            if (result == false) {
                $('html, body').animate({ scrollTop: 0 }, "slow");
                setTimeout(function () {
                    $("#arterror").fadeOut(700);
                    $("#arterror").hide();
                    $("#arterror").html("");
                }, 5000);
                $("#arterror").html("<a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a><strong>Error! </strong>Please enter valid email address.");
                $("#arterror").show();
                $("#txtQue5c").focus();
                return false;
            }
        }
        $("#divLoading").show();
        var DentalHistoryFormData = {
            'txtQue1': $('#txtQue1').val(),
            'txtQue2': $('#txtQue2').val(),
            'txtQue3': $('#txtQue3').val(),
            'txtQue4': $('#txtQue4').val(),
            'txtQue5': $('#txtQue5').val(),
            'txtQue5a': $('#txtQue5a').val(),
            'txtQue5b': $('#txtQue5b').val(),
            'txtQue5c': $('#txtQue5c').val(),
            'txtQue6': $('#txtQue6').val(),
            'txtQue7': $('#txtQue3').val(),
            'rdQue7a': ($('#rdQue7a').is(':checked') ? 'Y' : 'N'),
            'rdQue8': ($('#rdQue8').is(':checked') ? 'Y' : 'N'),
            'txtQue9a': $('#txtQue9a').val(),
            'rdQue9': ($('#rdQue9').is(':checked') ? 'Y' : 'N'),
            'rdQue10': ($('#rdQue10').is(':checked') ? 'Y' : 'N'),
            'rdoQue11aFixedbridge': ($('#rdoQue11aFixedbridge').is(':checked') ? 'Y' : 'N'),
            'rdoQue11bRemoveablebridge': ($('#rdoQue11bRemoveablebridge').is(':checked') ? 'Y' : 'N'),
            'rdoQue11cDenture': ($('#rdoQue11cDenture').is(':checked') ? 'Y' : 'N'),
            'rdQue11dImplant': ($('#rdQue11dImplant').is(':checked') ? 'Y' : 'N'),
            'txtQue11dAge': $('#txtQue11dAge').val(),
            'txtQue12': $('#txtQue12').val(),
            'txtQue12a': $('#txtQue12a').val(),
            'rdQue15': ($('#rdQue15').is(':checked') ? 'Y' : 'N'),
            'rdQue16': ($('#rdQue16').is(':checked') ? 'Y' : 'N'),
            'rdQue17': ($('#rdQue17').is(':checked') ? 'Y' : 'N'),
            'rdQue18': ($('#rdQue18').is(':checked') ? 'Y' : 'N'),
            'rdQue19': ($('#rdQue19').is(':checked') ? 'Y' : 'N'),
            'chkQue20_1': ($('#chkQue20_1').is(':checked') ? 'Y' : 'N'),
            'chkQue20_2': ($('#chkQue20_2').is(':checked') ? 'Y' : 'N'),
            'chkQue20_3': ($('#chkQue20_3').is(':checked') ? 'Y' : 'N'),
            'chkQue20_4': ($('#chkQue20_4').is(':checked') ? 'Y' : 'N'),
            'rdQue21': ($('#rdQue21').is(':checked') ? 'Y' : 'N'),
            'txtQue21a': $('#txtQue21a').val(),
            'txtQue22': $('#txtQue22').val(),
            'rdQue23': ($('#rdQue23').is(':checked') ? 'Y' : 'N'),
            'txtQue23': $('#txtQue23').val(),
            'rdQue24': ($('#rdQue24').is(':checked') ? 'Y' : 'N'),
            'rdQue25': ($('#rdQue25').is(':checked') ? 'Y' : 'N'),
            'txtQue26': $('#txtQue26').val(),
            'rdQue27': ($('#rdQue27').is(':checked') ? 'Y' : 'N'),
            'rdQue28': ($('#rdQue28').is(':checked') ? 'Y' : 'N'),
            'txtQue28a': $('#txtQue28a').val(),
            'txtQue28b': $('#txtQue28b').val(),
            'txtQue28c': $('#txtQue28c').val(),
            'txtQue29': $('#txtQue29').val(),
            'txtQue29a': $('#txtQue29a').val(),
            'rdQue30': ($('#rdQue30').is(':checked') ? 'Y' : 'N'),
            'txtComments': $('#txtComments').val() + '',

        }
        var form = $('#__AjaxAntiForgeryForm');
        var token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: '/p/@(this.ViewContext.RouteData.Values["username"])/DentalHistoryForm',
            type: 'POST',
            dataType: 'html',
            contenttype: "application/x-www-form-urlencoded",
            cache: false,
            ProcessData: false,
            success: function
                       (data, status, xhr) {
                if (data != null && data != "") {
                    window.location = document.URL;
                    $(window).scrollTop(0);
                    @*showSuccessMsg("@DentalMessage");*@
                    //GotoHome();
                    //$("#artsuccess").show();
                    //$("#artsuccess").html("Patient details inserted successfully");
                    //setTimeout(function () {
                    //    $("#artsuccess").fadeOut(700);
                    //    $("#artsuccess").hide();
                    //    $("#artsuccess").html("");
                    //}, 10000);
                }
                else {
                    swal({ title: "", text: 'Failed to add dental history ', type: 'error' });
                }
            },
            data: { __RequestVerificationToken: token, onjdentalhistory: DentalHistoryFormData },
            error: function (xhr) {
                if (typeof (console) != 'undefined') {
                    // console.log(xhr.responseText);
                }
            }
        });
        $("#divLoading").hide();
    }

</script>