﻿@model BO.ViewModel.DentistRatingModel
@using BusinessLogicLayer
@{
    ViewBag.Title = "Reviews";
    Layout = "~/Views/Shared/NewPublicProfileLayout.cshtml";

    string strMessage = Convert.ToString(TempData["Message"]);
    TempData["Message"] = string.Empty;

    string page = !string.IsNullOrEmpty(Request.QueryString["page"]) ? Request.QueryString["page"] : "1";
    bool isWidget = Convert.ToBoolean(HttpContext.Current.Session["isWidget"]);
    if (!Convert.ToBoolean(HttpContext.Current.Session["Show_Reviews"]))
    {
        Response.Redirect(Url.Action("AboutDoctor", "p", new { isWidget = isWidget }));
    }
}



@section styles  {
    <link type="text/css" rel="stylesheet" href="~/Content/css/Main/css/all.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/css/Main/css/jquery.rateyo.css" />
    <style>
        .field-validation-error 
        {
            color:white;
        }
    </style>
    
}

<main id="main">
    @if (!isWidget)
    {
        <div class="page_haading_holder">
            <div class="container navigation_container">
                <div class="row navigation_row">
                    <div class="col-xs-12">
                        <div class="page_heading">
                            <h1>Reviews</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
    <div class="container review_container">

        @using (@Html.BeginForm("InsertReviews", "p", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.ratings.ReceiverId)
            @*<div class="row review_row">
                    <div class="alert alert-danger" id="errormsg"></div>
                    <div class="alert alert-success" id="successmsg"></div>
                    <div class="col-xs-12 review_col">
                        <div class="reviews-search">
                            <span class="left_tex">
                                <em>Write a review</em>
                                <div id="userRatings"></div>
                                @Html.HiddenFor(x => x.ratings.RatingValue, new { @id = "hdnRating", @value="0" })
                                <br />@Html.ValidationMessageFor(x => x.ratings.RatingValue)
                            </span>

                            <div class="review-search_box">

                                     @Html.TextAreaFor(x => x.ratings.RatingMessage, new { @class = "comment_box",  placeholder = "Describe Your Experience" })
                                     @Html.ValidationMessageFor(x => x.ratings.RatingMessage)
                                     @Html.TextBoxFor(x => x.ratings.SenderName, new { @class = "search_input", placeholder = "Your Name" })
                                     @Html.ValidationMessageFor(x => x.ratings.SenderName)
                                     @Html.TextBoxFor(x => x.ratings.SenderEmail, new { @class = "search_input", placeholder = "Your Email" })
                                     @Html.ValidationMessageFor(x => x.ratings.SenderEmail)
                                <input type="submit" class="review_button" value="Submit" />
                            </div>
                            <span class="bottom_text">
                                By clicking on submit button you agree to our Privacy Policy
                            </span>
                        </div>
                    </div>
                </div>*@

            <input data-val="true" data-val-number="The field ReceiverId must be a number." data-val-required="The ReceiverId field is required." id="ratings_ReceiverId" name="ratings.ReceiverId" type="hidden" value="36390" class="valid">        <div class="row review_row">
                <div class="alert alert-danger" id="errormsg"></div>
                <div class="alert alert-success" id="successmsg"></div>
                <div class="col-xs-12 review_col">
                    <div class="reviews-search">
                        <span class="left_tex">
                            <em>Write a review*</em>
                            <div id="userRatings" class="jq-ry-container" style="width: 137px;"></div>
                            @Html.HiddenFor(x => x.ratings.RatingValue, new { @id = "hdnRating" })
                            <br />@Html.ValidationMessageFor(x => x.ratings.RatingValue)
                        </span>

                        <div class="review-search_box reviews">
                            @Html.TextAreaFor(x => x.ratings.RatingMessage, new { @class = "comment_box", placeholder = "Describe Your Experience*", rows = "2" })
                            @Html.ValidationMessageFor(x => x.ratings.RatingMessage, "",new { @class = "field-validation-error message_require" })
                            <div class="clearfix"></div>
                            <div class="search_input">
                                @Html.TextBoxFor(x => x.ratings.SenderName, new { @class = "", placeholder = "Name*" })
                                @Html.ValidationMessageFor(x => x.ratings.SenderName, "", new { @class = "field-validation-error" })
                            </div>
                            <div class="search_input">
                                @Html.TextBoxFor(x => x.ratings.SenderEmail, new { @class = "", placeholder = "Email*" })
                                @Html.ValidationMessageFor(x => x.ratings.SenderEmail, "", new { @class = "field-validation-error" })
                            </div>
                                <input type="submit" class="review_button" value="Submit">
                            </div>
                        <span class="bottom_text">
                            By clicking on submit button you agree to our <a href="@Url.Action("PrivacyPolicy", "Faq", null, Request.Url.Scheme)"  target="_blank" style="color:#afe6fb">Privacy Policy</a>
                        </span>
                    </div>
                </div>
            </div>

        }
        @if (Model.ratingList.Count > 0)
        {
            <div class="row review_row">
                <div class="col-xs-12">
                    <div class="patient_review">
                        <h2>Patient Reviews</h2>
                        @foreach (var item in Model.ratingList)
                        {
                            <div class="review_list">
                                <span class="review_left">
                                    <em class="yello_starts"><span id="rating-@item.ReceiverId" class="patentRatingList" ratingValue="@item.RatingValue"></span></em>
                                    <em class="by_user">by <strong>@item.SenderName</strong></em>
                                    @{ 
                                        string CreatedDate = new CommonBLL().ConvertToDate(Convert.ToDateTime(item.CreatedDate), Convert.ToInt32(BO.Enums.Common.DateFormat.GENERAL));
                                    }
                                    <em class="date">On @CreatedDate</em>
                                </span>
                                <span class="review_right">
                                    <p>@item.RatingMessage </p>
                                </span>
                            </div>
                        }


                    </div>
                    @Html.Action("ShowPaging", "Common", new { totalItems = Model.totalRatings, page = page, ScriptName = "showPaging", pageSize = 10 })
                </div>
            </div>
        }
        
    </div>
</main>

@section scripts {


    <script type="text/javascript" src="~/Scripts/jquery.rateyo.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var initRating = 5;
            //try {
            //    var initRating = parseFloat($("#hdnRating").val());
            //}
            //catch (e) {

            //}
            $("#userRatings").rateYo({
                rating: initRating,
                numStars: 5,
                precision: 2,
                minValue: 1,
                maxValue: 5,
                starWidth: "25px",
                spacing: "3px",
                halfStar: true
            }).on("rateyo.change", function (e, data) {
                $("#hdnRating").val(data.rating);
                //// console.log(data.rating);
            });

            if ("@strMessage".indexOf("Error:") >= 0) {
                var msg = "@strMessage";
                msg = msg.replace("Error:", "");
                showErrorMsg(msg);
            }
            else if ($.trim("@strMessage").length > 0) {
                showSuccessMsg("@strMessage");
            }
            $(".patentRatingList").each(function () {

                $(this).rateYo({
                    rating: parseFloat($(this).attr("ratingValue")),
                    numStars: 5,
                    precision: 2,
                    minValue: 1,
                    maxValue: 5,
                    starWidth: "25px",
                    spacing: "3px",
                    readOnly: true
                });

            });
        });

        function showPaging(page) {
            var url = getQueryStringParam(location.href, "page", page);
            location.href = url;
        }
    </script>

}