﻿@model BO.ViewModel.SendReferralModel
@{
    ViewBag.Title = "Refer a Patient";
    Layout = "~/Views/Shared/NewPublicProfileLayout.cshtml";

    string strMessage = Convert.ToString(TempData["Message"]);
    TempData["Message"] = string.Empty;
    bool isWidget = Convert.ToBoolean(HttpContext.Current.Session["isWidget"]);
    if (!Convert.ToBoolean(HttpContext.Current.Session["Show_ReferPatient"]))
    {
        Response.Redirect(Url.Action("AboutDoctor", "p", new { isWidget = isWidget }));
    }
}
@section styles  {
    <link type="text/css" rel="stylesheet" href="~/Content/css/Main/css/all.css" />
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
}
@section scripts {
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script type="text/javascript">
        function initFileUpload(ctrl) {
            // Checking whether FormData is available in browser
            
            if (window.FormData !== undefined) {
                var fileUpload = $(ctrl).get(0);
                var files = fileUpload.files;
                var fileExtension = ['jpg', 'jpeg', 'bmp', 'gif', 'png', 'psd', 'pspimage', 'thm', 'tif', 'yuv', 'pdf', 'doc', 'docx', 'txt', 'xls', 'xlsx', 'zip', 'rar', 'dex', 'dcm'];
                for (var i = 0; i < files.length; i++) {
                    if ($.inArray(files[i].name.split('.').pop().toLowerCase(), fileExtension) == -1) {
                        //alert(fileExtension.join(', ') + " formats are to be uploaded.");
                        showErrorMsg("Only file(s) with " + fileExtension.join(', ') + " extensions are only allowed.");
                        $(window).scrollTop(0);
                        $(ctrl).val('');
                        return false;
                    }
                }
                // Create FormData object
                var fileData = new FormData();
                // Looping over all files and add it to FormData object
                for (var i = 0; i < files.length; i++) {
                    fileData.append(files[i].name, files[i]);
                }
                fileData.append("SessionId", "@Model.UserId");
                // Adding one more key to FormData object
                //fileData.append('username', 'Manas');
                $("#divLoading").show();
                $.ajax({
                    url: '/Common/UploadFiles',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: fileData,
                    success: function (data) {
                        if (data) {
                            if ($("#hduploadfiles").val()) { $("#hduploadfiles").val(($("#hduploadfiles").val() + "," + data)) } else { $("#hduploadfiles").val(data) }
                            $("#imagesList").empty();
                            BindTeamFileUpload($("#hduploadfiles").val());
                            $(ctrl).val('');
                            $("input[type='file']").replaceWith($("input[type='file']").clone(true));
                            $("#divLoading").hide();
                        }
                    },
                    error: function (err) {
                        //   alert(err.statusText);
                        showErrorMsg(err.statusText);
                        $("#divLoading").hide();
                    }
                });
            } else {
                //alert("FormData is not supported.");
                showErrorMsg("FormData is not supported.");

            }


        }

        function BindTeamFileUpload(FileIds) {
            $("#divLoading").show();
            $.post("@Url.Action("PartialFileUploadTempForSendReferral","p")", { FileIds: FileIds, MessageId: 0 },
               function (data) {
                   $("#imagesList").append(data);
                   $("#divLoading").hide();
                   if ($("#hduploadfiles").val()) { $("#dvshowtitle").show() }
               });
        }

        function DeleteAttachMent(FileId, FileFrom, FilePath, TempFileId) {
            $("#divLoading").show();
            $.post("/Common/DeleteAttachedFile", { FileId: FileId, FileFrom: FileFrom, FileName: FilePath },
               function (data) {
                   if (data) {
                       if (TempFileId.indexOf('F') >= 0 || TempFileId.indexOf('I') >= 0) {
                           if ($("#hduploadfiles").val()) { $("#hduploadfiles").val(RemoveValue($("#hduploadfiles").val(), TempFileId)); }
                           if (!$("#hduploadfiles").val()) { $("#dvshowtitle").hide() }
                       }
                       $("#" + TempFileId).remove();
                   }
                   $("#divLoading").hide();
               });
        }

        function RemoveValue(list, value) {
            return list.replace(new RegExp(",?" + value + ",?"), function (match) {
                var first_comma = match.charAt(0) === ',',
                    second_comma;
                if (first_comma &&
                    (second_comma = match.charAt(match.length - 1) === ',')) {
                    return ',';
                }
                return '';
            });
        }

        $('#frmSendReferral').submit(function (evt) {
            var $form = $(this);
            if ($form.valid()) {
                var captcha_response = grecaptcha.getResponse();
                if (captcha_response.length == 0) {

                    $("#errormsg").html("Please verify captcha!");
                    setTimeout(function () {
                        $("#errormsg").fadeOut(700);
                        $("#errormsg").hide();
                        $("#errormsg").html("");
                    }, 10000);
                    $("#errormsg").show();
                    $(window).scrollTop(0);

                    return false;
                }
            }
        });
        $(document).ready(function () {
            if ($.trim("@strMessage").length > 0) {
                showSuccessMsg("@strMessage");
            }
        });
    </script>

}
<main id="main">
    @if (!isWidget)
    {
        <div class="page_haading_holder">
            <div class="container navigation_container">
                <div class="row navigation_row">
                    <div class="col-xs-12">
                        <div class="page_heading">
                            <h1>Refer a Patient</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="container special_container">

        @using (Html.BeginForm("SubmitSendReferral", null, FormMethod.Post, new { enctype = "multipart/form-data", id = "frmSendReferral" }))
        {
            @Html.HiddenFor(x => x.FileIds, new { id = "hduploadfiles" })
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.username)
            <div class="row special_row">
                <div class="col-xs-12 special_col refer-patient-main-content-wrap">

                    <div class="referred-by clearfix">
                        <h3>Referred By</h3>
                        <div class="row">
                            <div class="alert alert-danger" id="errormsg"></div>
                            <div class="alert alert-success" id="successmsg"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="referred-icon">
                                    <img src="~/Content/images/referred-by-icon.png" alt="Referred By">
                                </div>
                            </div>
                            <div class="col-md-10">
                                <div class="referred-form-sec row">
                                    <div class="col-sm-6">
                                        @Html.LabelFor(x => x.DoctorFirstName)
                                        @Html.TextBoxFor(x => x.DoctorFirstName, new { placeholder = "First Name", @class= "clsalphabetsOnly" })
                                        @Html.ValidationMessageFor(x => x.DoctorFirstName)
                                    </div>
                                    <div class="col-sm-6">
                                        @Html.LabelFor(x => x.DoctorLastName)
                                        @Html.TextBoxFor(x => x.DoctorLastName, new { placeholder = "Last Name", @class = "clsalphabetsOnly" })
                                        @Html.ValidationMessageFor(x => x.DoctorLastName)
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-sm-6">
                                        @Html.LabelFor(x => x.DoctorEmail)
                                        @Html.TextBoxFor(x => x.DoctorEmail, new { placeholder = "Email Address" })
                                        @Html.ValidationMessageFor(x => x.DoctorEmail)
                                    </div>
                                    <div class="col-sm-6">
                                        @Html.LabelFor(x => x.DoctorPhone)
                                        @Html.TextBoxFor(x => x.DoctorPhone, new { placeholder = "Phone", maxlength = "15", @class = "clsnumericOnly" })
                                        @Html.ValidationMessageFor(x => x.DoctorPhone)
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="referred-by patient-being-referred clearfix">
                        <h3>Patient Being Referred</h3>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="referred-icon">
                                    <img src="~/Content/images/patient-being-referred.png" alt="Patient Being Referred">
                                </div>
                            </div>
                            <div class="col-md-10">
                                <div class="referred-form-sec row">
                                    <div class="col-sm-6">
                                        @Html.LabelFor(x => x.PatientFirstName)
                                        @Html.TextBoxFor(x => x.PatientFirstName, new { placeholder = "First Name", @class = "clsalphabetsOnly" })
                                        @Html.ValidationMessageFor(x => x.PatientFirstName)
                                    </div>
                                    <div class="col-sm-6">
                                        @*<label for="Last Name">Last Name*</label>
                                            <input type="text" placeholder="Last Name">*@
                                        @Html.LabelFor(x => x.PatientLastName)
                                        @Html.TextBoxFor(x => x.PatientLastName, new { placeholder = "Last Name", @class = "clsalphabetsOnly" })
                                        @Html.ValidationMessageFor(x => x.PatientLastName)
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-sm-6">
                                        @*<label for="Email Address">Email Address*</label>
                                            <input type="email" placeholder="Email Address">*@
                                        @Html.LabelFor(x => x.PatientEmail)
                                        @Html.TextBoxFor(x => x.PatientEmail, new { placeholder = "Email Address" })
                                        @Html.ValidationMessageFor(x => x.PatientEmail)
                                    </div>
                                    <div class="col-sm-6">
                                        @*<label for="Phone">Phone*</label>
                                            <input type="tel" placeholder="Phone">*@
                                        @Html.LabelFor(x => x.PatientPhone)
                                        @Html.TextBoxFor(x => x.PatientPhone, new { placeholder = "Phone", maxlength = "15", @class = "clsnumericOnly" })
                                        @Html.ValidationMessageFor(x => x.PatientPhone)
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="referred-form-mess-sec">
                            @Html.LabelFor(x => x.Comments)
                            @Html.TextAreaFor(x => x.Comments, new { rows = "5", placeholder = "Comments" })
                        </div>
                        <div class="js-upload-finished" id="dvshowtitle" style="display:none">
                            <h3>Attached files</h3>
                            <div class="list-group">
                                @*<a href="#" class="list-group-item list-group-item-success"><span class="badge alert-success pull-right">Success</span>image-01.jpg</a>
                                <a href="#" class="list-group-item list-group-item-success"><span class="badge alert-success pull-right">Success</span>image-02.jpg</a>*@
                            </div>
                        </div>                        
                        <div @*class="img-list"*@ id="imagesList">
                        </div>                        
                        <div class="clearfix"></div>
                        <div class="captcha-box-sec row">
                            <div class="col-sm-6 captcha-img">
                                <div class="g-recaptcha" data-sitekey="6Lcm9hoTAAAAAIrjXd206zW5QmEyS6nVmJvpu0Jx" style="transform-origin:0 0;-webkit-transform-origin:0 0; float: right; margin-right:10px; float:left" data-theme="light"></div>
                            </div>
                            <div class="col-sm-6">
                                <div class="aligning-right-text">
                                    <!-- <input type="file" placeholder="Attach Files"> -->
                                    @*<button class="attach-file-btn">Attach Files</button>*@
                                    <button type="button" class="attach-file-btn" onclick="$('#fileCtrl1').trigger('click');">Attach Files</button>
                                    <button>Finish</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        <input type="file" name="Files" multiple="multiple" style="display:none" id="fileCtrl1" onchange="initFileUpload(this);">
    </div>
</main>
