﻿<table class="wdth-100">
    <tr>
        <td>
            Email
        </td>
        <td>
            Password
        </td>
    </tr>
    <tr>
        <td>
            <input type="text" id="SignInEmail" name="SignInEmail" value="" class="custominputclass123 wdth-90" />
        </td>
        <td style="width:50%;">
            <input type="password" id="SignPassword" name="Password" value="" class="custominputclass123 wdth-90" />
            <a href="#" style="float:right;margin-right:25px;" onclick="Resetpass();">Reset your password</a>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td>Appointment Note</td>
    </tr>
    <tr>
        <td colspan="2">
            <input type="type" name="name" value="" class="custominputclass123 wdth-95" />
        </td>
    </tr>
</table>
<br />
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="removezindex();">
        Close
    </button>

    <button type="button" class="btn btn-primary" onclick="sbmitfrmBookAppDataWithSignIn();">
        SignIn & Book
    </button>
</div>
<script>
    function Resetpass() {
        var Email = $("#SignInEmail").val();
        if (Email == "" || Email == null) {
            // alert("Email is required");
            swal({ title: "", text: 'Email is required' });
            return false;
        }
        $.ajaxSetup({ async: false });
        $.ajax({
            url: '@Url.Action("MForgotpassword", "p")?Email=' + Email + '',
            type: 'POST',
            dataType: 'html',
            contenttype: "application/x-www-form-urlencoded",
            cache: false,
            ProcessData: false,
            success: function (output, status, xhr) {
                obj = jQuery.parseJSON(output);
                swal({ title: "", text: obj.Message });
            },
            error: function (output, status, xhr) {
                swal({ title: "", text: obj.Message });
            }
        });
        $.ajaxSetup({ async: true });
    }
</script>