﻿<table class="wdth-100">
    <tr>
        <td> &nbsp;First Name  </td>
        <td> &nbsp;Last Name  </td>
    </tr>
    <tr>
        <td>
            <input type="text" name="PFirstName" id="PFirstName" value="" class="custominputclass123 wdth-90" />
        </td>
        <td>
            <input type="text" name="PLastName" id="PLastName" value="" class="custominputclass123 wdth-90" />
        </td>
    </tr>
    <tr>
        <td colspan="2">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td>Email</td>
        <td>Phone Number</td>
    </tr>
    <tr>
        <td>
            <input type="text" name="PEmail" id="PEmail" value="" class="custominputclass123 wdth-90" />
        </td>
        <td>
            <input type="text" name="PPhone" id="PPhone" value="" class="custominputclass123 wdth-90" />
        </td>
    </tr>
    <tr>
        <td colspan="2">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td>Appointment Note</td>
    </tr>
    <tr>
        <td colspan="2">
            <input type="text" name="PNote" id="PNote" value="" class="custominputclass123 wdth-95" />
        </td>
    </tr>
</table>
<br />
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="removezindex();">
        Close
    </button>

    <button type="button" class="btn btn-primary" onclick="sbmitfrmBookAppDataWithSignUp();">
        SignUn & Book
    </button>
</div>
