﻿@model  BO.Models.SpecialOffers
@{
    ViewBag.Title = "SpecialOffers";
    Layout = "~/Views/Shared/NewPublicProfileLayout.cshtml";
    bool isWidget = Convert.ToBoolean(HttpContext.Current.Session["isWidget"]);
    if (!Convert.ToBoolean(HttpContext.Current.Session["Show_SpecialOffers"]))
    {
        Response.Redirect(Url.Action("AboutDoctor", "p", new { isWidget = isWidget }));
    }
}
<link type="text/css" rel="stylesheet" href="~/Content/css/Main/css/all.css" />
<main id="main">
    @if (!isWidget)
    {
        <div class="page_haading_holder">
            <div class="container navigation_container">
                <div class="row navigation_row">
                    <div class="col-xs-12">
                        <div class="page_heading">
                            <h1>Special Offers</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }    
    @if (Model.lstOffers.Count > 0)
    {
        <div class="container special_container">
            <div class="row special_row">
                <div class="col-xs-12 special_col">
                    @foreach (var Item in Model.lstOffers)

                    {
                        <div class="special_box_holder">
                            @*<div class="pecentage_box">
                                    <span>15%<br></span>
                                    <em>OFF</em>
                                </div>*@
                            <div class="special_text_box">
                                <em class="offer_heading">
                                    @Item.Title
                                </em>
                                <div class="read_more_box">
                                    <p>                                       
                                        @Html.Raw(Item.Description.Replace("\r\n", "<br>"))
                                        @*<a class="skip_button" href="#"> Read More >></a>*@
                                    <p>
                                </div>
                                @*<ul class="address_line">
                                        <li class="active">
                                            <a href="#">New Patient Offer</a>
                                        </li>
                                        <li class="addres_img">
                                            <a href="#">270 W Chandler Heights Rd, Chandler, AZ 85248</a>
                                        </li>
                                        <li class="clock_img">
                                            <a href="#">Valid till 19/01/2017</a>
                                        </li>
                                    </ul>*@
                            </div>
                            <div class="offer_button">
                                @if (!ViewBag.HideSpecOffBtn)
                                {                                    
                                    <a href="@Url.Action("PatientSignUpBySpecialOffer", "p", new { OfferCode = Item.Code, OfferID = Item.OfferId, })">@Item.Code</a>
                                }
                                else
                                {
                                    <a style="cursor:default;">@Item.Code</a>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
    else {
        <div class="container special_container">
            <div class="row special_row">
                <div class="col-xs-12 special_col col-md-5 col-lg-offset-5">
                    No Special offer available
                </div>
            </div>
        </div>
    }
    @*<div class="find_doctor_holder">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="search_box">
                            <h2>Find the Top Doctor in Your Area</h2>
                            <input class="doctor_search" type="text" placeholder="Find a Doctor" />
                            <input class="doctor_button" type="button" value="Search" />
                            <a class="search_by_location" href="#">sEARCH BY LOCATION</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="special_offer_button">
            <div class="footer_button">
                <a href="#">Patient Sign Up</a>
                <a href="#">Doctor Sign Up</a>
            </div>
        </div>*@
</main>
