﻿@using NewRecordlinc.App_Start
@{
    ViewBag.Title = "Return";
    Layout = "~/Views/Shared/_NewSiteLayoutInner.cshtml";
    string str = string.Empty;
}
<main id="main" role="main">
    <div class="container">
        <div class="new-case case-overview patinet">
            <div class="row btm-margin-30  row-bordered referral">
                <div class="col-lg-12 ">
                    <div class="row">
                        <div class="col col-lg-6 col-xs-6 col-lg-push-6 one">
                        </div>
                        <div class="col col-lg-6 col-xs-6 col-lg-pull-6">                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    @if (!string.IsNullOrEmpty(ViewBag.msg))
                    {
                        <div class="alert alert-success" role="alert">
                            Hello @SessionManagement.FirstName,  @ViewBag.msg
                        </div>
                    }
                    else if (!string.IsNullOrEmpty(ViewBag.ErrorMsg))
                    {
                        <div class="alert alert-danger" role="alert">
                            Hello @SessionManagement.FirstName,  @ViewBag.ErrorMsg
                        </div>
                    }
                </div>
            </div>
            <div class="form-group row mrgn-btm-20">                
                @foreach (string key in Request.QueryString.Keys)
                {
                    str += key + " - " + Request.QueryString[key] + "<br />";
                }
                @Html.Raw(str)            
            </div>
        </div>
    </div>
</main>

