﻿@model DentalFiles.Models.ViewModel.PatientAndForms
@{
    ViewBag.Title = "My Info";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
   
}
<style>
.patient_info .thumb {
width: 95px;
height: 95px;
float: left;
display: block;
text-align: center;
margin-bottom: 10px;
}
.patient_history .pat_add .contact_box {
    float: left;
    margin: 0;
    padding: 20px 15px;
    width: 42.6%;
}
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $(function () {
            $("#aInbox").removeClass("current");
            $("#aMyInfo").addClass("current");
            $("#adental_files").removeClass("current");
            $("#atreatingdoctor").removeClass("current");
            $("#appointment_tab").removeClass("current");
        });
    });
    function crop_reset() {
        $("#cropDisplay").empty();
        $("#fuImage").val(null);
    }

    function printPage(printUrl) {
        //  $("#divLoading").show()
        var isIE = window.navigator.userAgent.indexOf(".NET") >= 0;
        if (!isIE) {
            var printDivId = "printerDiv";
            $("#" + printDivId).hide();
            $("#" + printDivId).html('<iframe id="tempIframeContent" src="' + printUrl + '"></iframe>');
        }
        else {
            var myWindow = window.open(printUrl, '', 'width=400,height=200');
            myWindow.focus();
        }
        

    }
    

</script>
@Html.Partial("_PatientHistory")
<!-- Patient Forms starts here -->
<div id="printerDiv"></div>
<div class="patient_forms">
    <ul class="tablelist">
        @foreach (var item in Model.Forms)
        {
            if (@item.FormName != "Acknowledgement" && @item.FormName != "Child Dental Medical History")
            {
            <li>
                <div class="pf_text">
                    @if (@item.FormName == "Registration")
                    {
                        @:Personal Info
                }
                    else
                    {

                        @item.FormName}</div>
                <div class="update">
                    <a class="upd_btn"><span>
                        @Html.ActionLink("Update", "ViewForms", new { @FormCode = item.FormCode, ReturnUrl = ViewBag.ReturnUrl }, new { id = "btnview" })
                    </span></a>
                </div>
                <div class="send" style="display: none;">
                    <a class="snd_btn"><span><a href="#">Send</a> @*    @Html.ActionLink("Send", "SendForms", new { @FormId = item.FormId, @FormCode = item.FormCode, ReturnUrl = ViewBag.ReturnUrl }, new { id = "btnsend" })*@
                    </span></a>
                </div>
                <div class="print" style="display: none;">
                    <a class="print_btn"><span>
                        @if (@item.FormCode == "F7")
                        {
                            <a href='@Url.Action("Index", "PrintRegistration")' target="_blank">Print</a>
                        }
                        @if (@item.FormCode == "F3")
                        {
                            <a href='@Url.Action("Index", "PrintChildDentalMedicalHistory")' target="_blank">Print</a>
                        }
                        @if (@item.FormCode == "F4")
                        {
                            <a href='@Url.Action("Index", "PrintDentalHistory")' target="_blank">Print</a>
                        }
                        @if (@item.FormCode == "F6")
                        {
                            <a href='@Url.Action("Index", "PrintMedicalHistory")' target="_blank">Print</a>
                        }
                        @if (@item.FormCode == "F5")
                        {
                            <a href='@Url.Action("Index", "PrintMedicalHistoryUpdate")' target="_blank">Print</a>
                        }
                        @if (@item.FormCode == "F8")
                        {
                            <a href='@Url.Action("Index", "PrintInsuranceCoverage")' target="_blank">Print</a>
                        }
                    </span></a>
                </div>

                @if(Model.FormStatus.Count == 0)
                {
                  <div class="status" style="float: right;display: none" > 
                        <span class="pending simpletooltip" title="Pending">&nbsp;</span></div>
                }



                @foreach (var itemstatus in Model.FormStatus)
                {


                    if (item.FormId == itemstatus.FormId)
                    {


                        if (itemstatus.FormStatusFlag != null && itemstatus.FormStatusFlag != "")
                        {
                    <div class="status" style="float: right;">
                        @*<span class="completed simpletooltip" title="Completed">&nbsp;</span>
                        *@
                        </div>
                            
                            break;
                        }
                        else
                        {
                         
                    <div class="status" style="float: right;display: none;"> 
                        <span class="pending simpletooltip" title="Pending">&nbsp;</span></div>
                           
                            break;
                        }
                    }



                }
                <div class="clear">
                </div>
            </li>
            }
        }
    </ul>
</div>
<!-- Patient Forms ends here -->
