﻿@{
    ViewBag.Title = "Draft";
    Layout = "~/Views/Shared/_NewSiteLayoutInner.cshtml";
}
@section Styles {
    <link rel="stylesheet" type="text/css" href="~/Content/css/NewAdmin/css/jcf.css" />
}
<main id="main" role="main">
    <input type="hidden" id="lblintialpagenumber" value="0" />
    <input type="hidden" id="lblnumberofmessagedisplayed" value="0" />
    <input type="hidden" id="lbltotalmessage" value="0" />
    <input type="hidden" id="hdddlsorting" value="1" />
    <div class="container">
        <div class="inbox-form">
            <h1>Drafts</h1>
            <div class="row seach_field">
                <div class="col-lg-12">
                    <div class="search-form">
                        <input type="search" id="txtSearchMessage" placeholder="Search Message">
                        <button class="search-btn" onclick="GetInboxMessages(1);"><i class="ico-search"></i></button>
                    </div>
                </div>
            </div>
            <div class="row top-header">
                <div class="left-col">
                    <div class="all-select">
                        <input type="checkbox" class="checkedAll">
                    </div>
                    <div class="refesh-holder">
                        
                        <a href="javascript:void(0)" onclick="GetInboxMessages(1);" class="refesh-btn" data-toggle="tooltip" data-placement="top" title="Refresh"><i class="ico-refresh"></i></a>
                    </div>
                    <div class="filter-holder">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle stats-btn" type="button" data-toggle="dropdown"><span id="btnsort">Sort By</span><i class="fa fa-angle-down"></i></button>
                            @*<select id="ddlsorting" onchange="GetInboxMessages(1);" class="dropdown-menu dropdown-select">
                                        <option value="1" sort-dir="1">Sort by Date</option>
                                <option value="3" sort-dir="1">Sort by Sender</option>
                                <option value="2" sort-dir="1">Sort by Subject</option>
                                    </select>*@
                            <ul class="dropdown-menu dropdown-select" id="ddlsorting">
                                <li><a data-id="1">Sort by Date</a></li>
                                <li><a data-id="2">Sort by Sender</a></li>
                                <li><a data-id="3">Sort by Message</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="remove-holder">
                        <a href="javascript:void(0)" id="btndelete" onclick="DeleteMessages()" class="remove-btn disableClick"><i class="ico-delete"></i></a>
                    </div>
                    <div class="compose-holder">
                        <a href="@Url.Action("ComposeMessage", "Inbox")" class="compose-btn"><i class="ico-compose"></i><span class="indent">Compose</span></a>
                        @*<a href="composemessage.html" class="compose-btn"><i class="ico-compose"></i><span class="indent">Compose to Patient</span></a>*@
                    </div>
                </div>
                <div class="right-col">
                    <div class="col">
                        <div class="show-page pad-top-10"><label class="lblintialpagenumber">0</label> - <label class="lblnumberofmessagedisplayed">0</label> / <label class="lbltotalmessage">0</label></div>
                        @*<div class="search-form">
                                <input type="search" id="txtSearchMessage" placeholder="Search Message">
                                <button class="search-btn" onclick="GetInboxMessages(1);"><i class="fa fa-search"></i></button>
                            </div>*@
                    </div>
                </div>
            </div>
            <div class="row headings">
                <div class="col-lg-12">
                    <ul class="full-width-list jcf-scrollable">
                        <li>
                            <div class="all-select">
                                &nbsp;
                            </div>
                            <div class="info">
                                <strong class="unread">To</strong>
                                <p>Message</p>
                            </div>
                            <div class="right-holder">
                                <span>Type</span>
                                <time>Time</time>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="full-width-list jcf-scrollable" id="inboxmessages">
                        @Html.Action("PartialDraftMessages", new { PageIndex = 1, PageSize = 35, ShortColumn = 1, ShortDirection = 2, SearchText = "", MessageDisplayType = BO.Enums.Common.DisplayMessageType.Draft })
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="bottom-footer">
                    <div class="col-lg-6 align-left">
                        <div class="show-page"><label class="lblintialpagenumber">0</label> - <label class="lblnumberofmessagedisplayed">0</label> / <label class="lbltotalmessage">0</label></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
@section scripts{
    <script src="~/Scripts/JS/jcf.js"></script>
    <script>
        var MessageDisplayType=@Convert.ToInt32(BO.Enums.Common.DisplayMessageType.Draft);
    </script>
    <script src="~/Scripts/ControllerJS/Inbox/Draft.js"></script>
}
