﻿@model List<BO.Models.NormalMessageDetails>
@using BusinessLogicLayer

@{
    ViewBag.Title = "MessageDetails";
    Layout = "~/Views/Shared/_NewSiteLayoutInner.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/css/select2.min.css" />
@Scripts.Render("~/ComposeMessageJs")
<script type="text/javascript" src="~/Scripts/select2.min.js"></script>
<input type="hidden" value="@ViewBag.dashboard" id="IsDashboard" />
<input type="hidden" value="@ViewBag.dashforward" id="IsDashboardFoward" />

@foreach (var item in Model)
{
    string CreationDate = new CommonBLL().ConvertToDateTime(Convert.ToDateTime(item.CreationDate), Convert.ToInt32(BO.Enums.Common.DateFormat.GENERAL));
    <input type="hidden" name="Start Function Time" value="" />
    <main id="main" role="main">
        <div class="container">
            <div class="view-message">
                <div class="row row-bordered btm-margin-30">
                    <div class="col-lg-12">
                        <div class="btn-group top-right-btn">
                            <a href="@ViewBag.CurrentLink" class="reply-btn"><i class="fa fa-arrow-left"></i>Back</a>
                            @if (item.IsSentMessage)
                            {
                                <a class="reply-btn" id="btn-rply" href="javascript:void(0)" onclick="getcomposeview(@item.MessageId,@(item.IsPatientMessage==true?(int)BO.Enums.Common.ComposeType.PatientCompose:(int)BO.Enums.Common.ComposeType.ColleagueCompose),'@ViewBag.CurrentLink',true);"><i class="fa fa-reply"></i>Reply</a>
                            }
                            else
                            {
                                <a class="reply-btn" id="btn-rply" href="javascript:void(0)" onclick="getcomposeview(@item.MessageId,@(item.IsPatientMessage==true?(int)BO.Enums.Common.ComposeType.PatientCompose:(int)BO.Enums.Common.ComposeType.ColleagueCompose),'@ViewBag.CurrentLink',false);"><i class="fa fa-reply"></i>Reply</a>
                            }
                            @if (!item.IsSentMessage)
                            {
                                <a class="reply-btn" target="_blank" href="/Inbox/PrintMessage"><i class="fa fa-print" aria-hidden="true"></i>Print</a>
                            }
                            @if (item.IsPatientMessage)
                            {
                                <a onclick="deletepatientmessage(@item.MessageId)" href="javascript:void(0)" class="remove-btn active"><i class="fa fa-trash-o"></i></a>
                            }
                            else
                            {
                                if (item.IsSentMessage)
                                {
                                    <a onclick="deletesentboxmessage(@item.MessageId)" href="javascript:void(0)" class="remove-btn active"><i class="fa fa-trash-o"></i></a>
                                }
                                else
                                {
                                    <a onclick="deletemessage(@item.MessageId,'Inbox')" href="javascript:void(0)" class="remove-btn active"><i class="fa fa-trash-o"></i></a>
                                }
                            }
                        </div>
                        <dl class="mail-details">
                            <dt>From:</dt>
                            @if (item.IsPatientMessage)
                            {
                                <dd>@item.From<a href="javascript:void(0)" onclick="GetPatientProfile(@(item.IsSentMessage==true?Session["UserId"]:@item.SenderId))"> &lt;@item.SenderEmail&gt;</a></dd>
                                <dt>To:</dt>
                                <dd>@item.To <a href="javascript:void(0)" onclick="GetColleaguesProfile(@(item.IsSentMessage==true?item.SenderId:Session["UserId"]))">&lt;@item.ReceiverEmail&gt;</a></dd>
                            }
                            else
                            {
                                <dd>@item.From<a href="javascript:void(0)" onclick="GetColleaguesProfile(@(item.IsSentMessage==true?Session["UserId"]:@item.SenderId))"> &lt;@item.SenderEmail&gt;</a></dd>
                                <dt>To:</dt>
                                <dd>@item.To <a href="javascript:void(0)" onclick="GetColleaguesProfile(@(item.IsSentMessage==true?item.SenderId:Session["UserId"]))">&lt;@item.ReceiverEmail&gt;</a></dd>
                            }
                            <dt>Date:</dt>
                            <dd><time>@CreationDate</time></dd>
                        </dl>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                            @*Start: RM-483*@
                            @Html.Raw(HttpUtility.HtmlDecode(item.Body.Replace("\n", "<br />")))
                            @*END: RM-483*@
                                    @*@Html.Raw(HttpUtility.HtmlDecode(item.Body))*@
                    </div>
                </div>
                @if (item.lstAttachedPatient.Count > 0)
                {
                    <div class="row">
                        <div class="btm-margin-30"></div>
                        <div class="col-lg-12 btm-margin-30"><h1>Patient</h1></div>
                        <div class="col-lg-12">
                            <table class="table table2">
                                <thead class="thead-inverse">
                                    <tr>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var newone in item.lstAttachedPatient)
                                    {
                                        <tr>
                                            <td><a href="javascript:void(0)" onclick="GetPatientProfile(@newone.AttachedPatientId)">@newone.AttachedPatientFirstName</a></td>
                                            <td><a href="javascript:void(0)" onclick="GetPatientProfile(@newone.AttachedPatientId)">@newone.AttachedPatientLastName</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                }
                <div class="row">
                    <div class="col-lg-12">
                        @if (item.lstMessageAttachment.Count > 0)
                        {
                            <div class="bar">
                                <p>
                                    Attachments:
                                    @Html.ActionLink("Download All Attachments", "DownloadAllAttachmentofMessage", "Common", new { DownId = @item.MessageId, Isreferral = false }, new { id = "this" })
                                </p>
                            </div>
                            <ul class="attachment-list">
                                @Html.Partial("PartialFileUploaded", item.lstMessageAttachment)
                            </ul>
                        }

                        <div class="reply-holder" id="replayportion" style="margin-top:50px">
                            <div class="user">
                                <img class="img-circle" src="@HttpContext.Current.Session["DoctorImage"]" width="50" height="50" alt='@HttpContext.Current.Session["FirstName"]'>
                            </div>
                            <div class="text-holder" action="#">
                                <div class="inner-box">
                                    <p>
                                        Click here to 
                                        @if (item.IsSentMessage)
                                        {
                                            <a id="replay" href="javascript:void(0)" onclick="getcomposeview(@item.MessageId,@(item.IsPatientMessage==true?(int)BO.Enums.Common.ComposeType.PatientCompose:(int)BO.Enums.Common.ComposeType.ColleagueCompose),'@ViewBag.CurrentLink',true);">Reply</a>@Html.Raw(" or ") <a href="javascript:void(0)" id="btn-forward" onclick="SendAsForward(@item.MessageId,@(item.IsPatientMessage==true?(int)BO.Enums.Common.ComposeType.PatientCompose:(int)BO.Enums.Common.ComposeType.ColleagueCompose),'@ViewBag.CurrentLink')">Forward</a>
                                        }
                                        else
                                        {
                                            <a id="replay" href="javascript:void(0)" onclick="getcomposeview(@item.MessageId,@(item.IsPatientMessage==true?(int)BO.Enums.Common.ComposeType.PatientCompose:(int)BO.Enums.Common.ComposeType.ColleagueCompose),'@ViewBag.CurrentLink',false);">Reply</a>@Html.Raw(" or ")<a href="javascript:void(0)" id="btn-forward" onclick="SendAsForward(@item.MessageId,@(item.IsPatientMessage==true?(int)BO.Enums.Common.ComposeType.PatientCompose:(int)BO.Enums.Common.ComposeType.ColleagueCompose),'@ViewBag.CurrentLink')"> Forward </a>
                                        }
                                        
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div id="composeview" class="comosedetail">
                            @*@Html.Action("PartialComposeMessage")*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
}
<form action="@Url.Action("Index", "Profile")" method="post" id="frmViewProfile">
    <input type="hidden" name="hdnViewProfile" id="hdnViewProfile" value="" />
</form>
<form action="../Patients/PatientHistory" method="post" id="frmViewPatientHistory">
    <input type="hidden" name="hdnViewPatientHistory" id="hdnViewPatientHistory" />
</form>
@section scripts{
    <script type="text/javascript">
        var PreviousURL='@ViewBag.CurrentLink';
    </script>
    <script src="~/Scripts/ControllerJS/Inbox/GetMessageDetails.js"></script>
    <script type="text/javascript">
        function getAttachedPatientHistory(id) {
            $("#hdnViewPatientHistory").val(id);
            $("#frmViewPatientHistory").submit();
        }
     </script>
}
