﻿@model List<BO.Models.ReferralMessageDetails>
@using BusinessLogicLayer

@{
    ViewBag.Title = "MessageDetails";
    Layout = "~/Views/Shared/_NewSiteLayoutInner.cshtml";
}
@Scripts.Render("~/ComposeMessageJs")
@foreach (var lst in Model)
{
    string CreationDateTime = new CommonBLL().ConvertToDateTime(Convert.ToDateTime(lst.CreationDate), Convert.ToInt32(BO.Enums.Common.DateFormat.GENERAL));
    <main id="main" role="main">
        <div class="container">
            <div class="view-message">
                <div class="row mrgn-btm-10">
                    <div class="col-lg-12 ">
                        <div class="heading-bar share-block pad-top-5 pad-btm-5 mrgn-btm-20">
                            <div class="row">
                                <div class="col col-lg-6 col-xs-6">
                                    <h3 class="pad-top-10" onclick="GetPatientProfile(@lst.PatientId)">@lst.FullName</h3>
                                </div>
                                <div class="col col-lg-6 col-xs-6">
                                    <div class="pull-right">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 mail-header">
                        <div class="user">
                            <a href="javascript:void(0)" onclick="GetPatientProfile(@lst.PatientId)"><img src="@lst.ProfileImage" width="50" height="50" alt="@lst.FullName"></a>
                        </div>
                        <div class="mail-header-holder">
                            <dl class="mail-det-list">
                                @*@{
                                        var Datetime1 = Convert.ToDateTime(lst.CreationDate).ToString(System.Configuration.ConfigurationManager.AppSettings["DateFormateMMMddyyyy"]).Split(' ');
                                        var CreationDate = Datetime1[0];
                                        var CreationTime = Datetime1[1];
                                    }*@
                                <dt>Referral sent date:</dt>
                                <dd><time>&nbsp;@CreationDateTime</time></dd>
                                <dt>Referred by:</dt>
                                <dd>&nbsp;@lst.SenderName</dd>
                                <dt>Referred to:</dt>
                                <dd>&nbsp;<a href="javascript:void(0)" onclick="GetColleaguesProfile(@lst.ReceiverID)">@lst.ReceiverName</a></dd>
                                @if (!string.IsNullOrWhiteSpace(lst.Location))
                                {
                                    <dt>Location</dt>
                                    <dd>&nbsp;@lst.Location</dd>
                                }
                            </dl>
                            <dl class="mail-det-list">
                                @if (!string.IsNullOrWhiteSpace(lst.EmailAddress))
                                {
                                    <dt>Email:</dt>
                                    <dd><a href="javascript:void(0)" onclick="GetPatientProfile(@lst.PatientId)">@lst.EmailAddress</a></dd>
                                }
                                @if (!string.IsNullOrWhiteSpace(lst.Gender))
                                {
                                    <dt>Gender:</dt>
                                    <dd>@lst.Gender</dd>
                                }
                                @if (!string.IsNullOrWhiteSpace(lst.DateOfBirth))
                                {
                                    {
                                        //var Datetime21 = Convert.ToDateTime(lst.DateOfBirth).ToString(System.Configuration.ConfigurationManager.AppSettings["DateFormateMMMddyyyy"]).Split(' ');
                                        //var CreationDate1 = Datetime21[0];
                                        //var CreationTime1 = Datetime21[1];
                                        string DateOfBirth = new CommonBLL().ConvertToDate(Convert.ToDateTime(lst.DateOfBirth), Convert.ToInt32(BO.Enums.Common.DateFormat.GENERAL));
                                        <dt>Date of Birth:</dt>
                                        <dd>@DateOfBirth</dd>
                                    }
                                }
                                @if (!string.IsNullOrWhiteSpace(lst.FullAddress))
                                {
                                    <dt>Address:</dt>
                                    <dd>@lst.FullAddress</dd>
                                }


                                @if (!string.IsNullOrWhiteSpace(lst.City))
                                {
                                    <dt>City:</dt>
                                    <dd>@lst.City</dd>
                                }

                                @if (!string.IsNullOrWhiteSpace(lst.State))
                                {
                                    <dt>State:</dt>
                                    <dd>@lst.State</dd>
                                }
                                @if (!string.IsNullOrWhiteSpace(lst.Zipcode))
                                {
                                    <dt>Zip:</dt>
                                    <dd>@lst.Zipcode</dd>
                                }
                                @if (!string.IsNullOrWhiteSpace(lst.Phone))
                                {
                                    var umphone = lst.Phone.Replace(")", "").Replace("(", "").Replace("-", "").Replace("+", "").Replace(" ", "");
                                    <dt>Phone:</dt>
                                    <dd>@lst.Phone</dd>
                                }
                            </dl>
                        </div>
                    </div>
                </div>
                @if (string.IsNullOrWhiteSpace(lst.RegardOption))
                {
                    @*<div class="row">
                            <div class="col-lg-12">
                                <h4 class="heading-bar blue mrgn-btm-20 txt-dark-gray">Regarding</h4>
                            </div>
                        </div>*@
                    @Html.Action("GetPartialViewForReferralCategory", new { ReferralCardId = lst.ReferralCardId })
                }
                else
                {
                    <div class="row btm-margin-30">
                        <div class="col-lg-12">
                            <h4 class="heading-bar blue mrgn-btm-20 txt-dark-gray">Request</h4>
                        </div>
                        <div class="col-lg-12">
                            <p><strong>Pathology</strong></p>

                            @{
                                string[] strRequest = lst.RequestingOption.Split(new char[] { ',' }, StringSplitOptions.RemoveEmptyEntries);
                                foreach (String item in strRequest)
                                {
                                    if (!string.IsNullOrEmpty(item))
                                    {
                                        if ((Convert.ToInt32(item) - 1) < lst.ReferralRequest.Length)
                                        {
                                            <p><strong>@lst.ReferralRequest[Convert.ToInt32(item) - 1]</strong></p>
                                        }

                                    }
                                }
                            }
                            @if (!String.IsNullOrEmpty(lst.RequestComments))
                            {
                                <p><strong>@lst.RequestComments</strong></p>
                            }
                        </div>
                    </div>
                                }
                @if (lst.lstSelectedPermanentTeeths.Count > 0 || lst.lstSelectedPrimaryTeeths.Count > 0)
                {
                    <div class="row">
                        <div class="col-lg-12">
                            <h4 class="heading-bar blue mrgn-btm-20 txt-dark-gray">Visual Instructions</h4>
                        </div>
                        <div class="col-lg-12  btm-margin-30">
                            @if (lst.lstSelectedPermanentTeeths.Count > 0)
                            {
                                <table class="table table-bordered table1 text-align-center">
                                    <thead class="thead-inverse">
                                    <th colspan="2">Permanent Teeth</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <h4 class="blue">Right</h4>
                                                <div class="all-select">
                                                    <label for="1">1</label>
                                                    <input id="1" checked="@lst.lstSelectedTeeths.Contains(1)" disabled type="checkbox">
                                                </div>
                                                <div class="all-select">
                                                    <label for="2">2</label>
                                                    <input id="2" checked="@lst.lstSelectedTeeths.Contains(2)" disabled type="checkbox">
                                                </div>
                                                <div class="all-select">
                                                    <label for="3">3</label>
                                                    <input id="3" checked="@lst.lstSelectedTeeths.Contains(3)" disabled type="checkbox">
                                                </div>
                                                <div class="all-select">
                                                    <label for="4">4</label>
                                                    <input id="4" checked="@lst.lstSelectedTeeths.Contains(4)" disabled type="checkbox">
                                                </div>
                                                <div class="all-select">
                                                    <label for="5">5</label>
                                                    <input id="5" checked="@lst.lstSelectedTeeths.Contains(5)" disabled type="checkbox">
                                                </div>
                                                <div class="all-select">
                                                    <label for="6">6</label>
                                                    <input id="6" checked="@lst.lstSelectedTeeths.Contains(6)" disabled type="checkbox">
                                                </div>
                                                <div class="all-select">
                                                    <label for="7">7</label>
                                                    <input id="7" checked="@lst.lstSelectedTeeths.Contains(7)" disabled type="checkbox">
                                                </div>
                                                <div class="all-select">
                                                    <label for="8">8</label>
                                                    <input id="8" checked="@lst.lstSelectedTeeths.Contains(8)" disabled type="checkbox">
                                                </div>
                                            </td>
                                            <td>
                                                <h4 class="blue">Left</h4>
                                                <div class="all-select">
                                                    <label for="9">9</label>
                                                    <input id="9" checked="@lst.lstSelectedTeeths.Contains(9)" disabled type="checkbox">
                                                </div>
                                                <div class="all-select">
                                                    <label for="10">10</label>
                                                    <input id="10" checked="@lst.lstSelectedTeeths.Contains(10)" disabled type="checkbox">
                                                </div>
                                                <div class="all-select">
                                                    <label for="11">11</label>
                                                    <input id="11" checked="@lst.lstSelectedTeeths.Contains(11)" disabled type="checkbox">
                                                </div>
                                                <div class="all-select">
                                                    <label for="12">12</label>
                                                    <input id="12" checked="@lst.lstSelectedTeeths.Contains(12)" disabled type="checkbox">
                                                </div>
                                                <div class="all-select">
                                                    <label for="13">13</label>
                                                    <input id="13" checked="@lst.lstSelectedTeeths.Contains(13)" disabled type="checkbox">
                                                </div>
                                                <div class="all-select">
                                                    <label for="14">14</label>
                                                    <input id="14" checked="@lst.lstSelectedTeeths.Contains(14)" disabled type="checkbox">
                                                </div>
                                                <div class="all-select">
                                                    <label for="15">15</label>
                                                    <input id="15" checked="@lst.lstSelectedTeeths.Contains(15)" disabled type="checkbox">
                                                </div>
                                                <div class="all-select">
                                                    <label for="16">16</label>
                                                    <input id="16" checked="@lst.lstSelectedTeeths.Contains(16)" disabled type="checkbox">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="all-select">
                                                    <label for="32">32</label>
                                                    <input id="32" checked="@lst.lstSelectedTeeths.Contains(32)" disabled type="checkbox">
                                                </div>
                                                <div class="all-select">
                                                    <label for="31">31</label>
                                                    <input id="31" checked="@lst.lstSelectedTeeths.Contains(31)" disabled type="checkbox">
                                                </div>
                                                <div class="all-select">
                                                    <label for="30">30</label>
                                                    <input id="30" checked="@lst.lstSelectedTeeths.Contains(30)" disabled type="checkbox">
                                                </div>
                                                <div class="all-select">
                                                    <label for="29">29</label>
                                                    <input id="29" checked="@lst.lstSelectedTeeths.Contains(29)" disabled type="checkbox">
                                                </div>
                                                <div class="all-select">
                                                    <label for="28">28</label>
                                                    <input id="28" checked="@lst.lstSelectedTeeths.Contains(28)" disabled type="checkbox">
                                                </div>
                                                <div class="all-select">
                                                    <label for="27">27</label>
                                                    <input id="27" checked="@lst.lstSelectedTeeths.Contains(27)" disabled type="checkbox">
                                                </div>
                                                <div class="all-select">
                                                    <label for="26">26</label>
                                                    <input id="26" checked="@lst.lstSelectedTeeths.Contains(26)" disabled type="checkbox">
                                                </div>
                                                <div class="all-select">
                                                    <label for="25">25</label>
                                                    <input id="25" checked="@lst.lstSelectedTeeths.Contains(25)" disabled type="checkbox">
                                                </div>
                                            </td>
                                            <td>
                                                <div class="all-select">
                                                    <label for="24">24</label>
                                                    <input id="24" checked="@lst.lstSelectedTeeths.Contains(24)" disabled type="checkbox">
                                                </div>
                                                <div class="all-select">
                                                    <label for="23">23</label>
                                                    <input id="23" checked="@lst.lstSelectedTeeths.Contains(23)" disabled type="checkbox">
                                                </div>
                                                <div class="all-select">
                                                    <label for="22">22</label>
                                                    <input id="22" checked="@lst.lstSelectedTeeths.Contains(22)" disabled type="checkbox">
                                                </div>
                                                <div class="all-select">
                                                    <label for="21">21</label>
                                                    <input id="21" checked="@lst.lstSelectedTeeths.Contains(21)" disabled type="checkbox">
                                                </div>
                                                <div class="all-select">
                                                    <label for="20">20</label>
                                                    <input id="20" checked="@lst.lstSelectedTeeths.Contains(20)" disabled type="checkbox">
                                                </div>
                                                <div class="all-select">
                                                    <label for="19">19</label>
                                                    <input id="19" checked="@lst.lstSelectedTeeths.Contains(19)" disabled type="checkbox">
                                                </div>
                                                <div class="all-select">
                                                    <label for="18">18</label>
                                                    <input id="17" checked="@lst.lstSelectedTeeths.Contains(18)" disabled type="checkbox">
                                                </div>
                                                <div class="all-select">
                                                    <label for="1">17</label>
                                                    <input id="17" checked="@lst.lstSelectedTeeths.Contains(17)" disabled type="checkbox">
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            }
                            @if (lst.lstSelectedPrimaryTeeths.Count > 0)
                            {
                                <table class="table table-bordered table1 text-align-center">
                                    <thead class="thead-inverse">
                                    <th colspan="2">Primary Teeth</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <h4 class="blue">Right</h4>
                                                <div class="all-select">
                                                    <label for="a">A</label>
                                                    <input id="33" checked="@lst.lstSelectedTeeths.Contains(33)" disabled type="checkbox">
                                                </div>
                                                <div class="all-select">
                                                    <label for="b">B</label>
                                                    <input id="34" checked="@lst.lstSelectedTeeths.Contains(34)" disabled type="checkbox">
                                                </div>
                                                <div class="all-select">
                                                    <label for="c">C</label>
                                                    <input id="35" checked="@lst.lstSelectedTeeths.Contains(35)" disabled type="checkbox">
                                                </div>
                                                <div class="all-select">
                                                    <label for="d">D</label>
                                                    <input id="36" checked="@lst.lstSelectedTeeths.Contains(36)" disabled type="checkbox">
                                                </div>
                                                <div class="all-select">
                                                    <label for="e">E</label>
                                                    <input id="37" checked="@lst.lstSelectedTeeths.Contains(37)" disabled type="checkbox">
                                                </div>

                                            </td>
                                            <td>
                                                <h4 class="blue">Left</h4>
                                                <div class="all-select">
                                                    <label for="f">F</label>
                                                    <input id="38" checked="@lst.lstSelectedTeeths.Contains(38)" disabled type="checkbox">
                                                </div>
                                                <div class="all-select">
                                                    <label for="g">G</label>
                                                    <input id="39" checked="@lst.lstSelectedTeeths.Contains(39)" disabled type="checkbox">
                                                </div>
                                                <div class="all-select">
                                                    <label for="h">H</label>
                                                    <input id="40" checked="@lst.lstSelectedTeeths.Contains(40)" disabled type="checkbox">
                                                </div>
                                                <div class="all-select">
                                                    <label for="i">I</label>
                                                    <input id="41" checked="@lst.lstSelectedTeeths.Contains(41)" disabled type="checkbox">
                                                </div>
                                                <div class="all-select">
                                                    <label for="j">J</label>
                                                    <input id="42" checked="@lst.lstSelectedTeeths.Contains(42)" disabled type="checkbox">
                                                </div>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td>

                                                <div class="all-select">
                                                    <label for="p">P</label>
                                                    <input id="48" checked="@lst.lstSelectedTeeths.Contains(48)" disabled type="checkbox">
                                                </div>
                                                <div class="all-select">
                                                    <label for="q">Q</label>
                                                    <input id="49" checked="@lst.lstSelectedTeeths.Contains(49)" disabled type="checkbox">
                                                </div>
                                                <div class="all-select">
                                                    <label for="r">R</label>
                                                    <input id="50" checked="@lst.lstSelectedTeeths.Contains(50)" disabled type="checkbox">
                                                </div>
                                                <div class="all-select">
                                                    <label for="s">S</label>
                                                    <input id="51" checked="@lst.lstSelectedTeeths.Contains(51)" disabled type="checkbox">
                                                </div>
                                                <div class="all-select">
                                                    <label for="t">T</label>
                                                    <input id="52" checked="@lst.lstSelectedTeeths.Contains(52)" disabled type="checkbox">
                                                </div>
                                            </td>
                                            <td>
                                                <div class="all-select">
                                                    <label for="k">K</label>
                                                    <input id="43" checked="@lst.lstSelectedTeeths.Contains(43)" disabled type="checkbox">
                                                </div>
                                                <div class="all-select">
                                                    <label for="l">L</label>
                                                    <input id="44" checked="@lst.lstSelectedTeeths.Contains(44)" disabled type="checkbox">
                                                </div>
                                                <div class="all-select">
                                                    <label for="m">M</label>
                                                    <input id="45" checked="@lst.lstSelectedTeeths.Contains(45)" disabled type="checkbox">
                                                </div>
                                                <div class="all-select">
                                                    <label for="n">N</label>
                                                    <input id="46" checked="@lst.lstSelectedTeeths.Contains(46)" disabled type="checkbox">
                                                </div>
                                                <div class="all-select">
                                                    <label for="o">O</label>
                                                    <input id="47" checked="@lst.lstSelectedTeeths.Contains(47)" disabled type="checkbox">
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            }

                        </div>
                    </div>
                }
                @if (lst.lstImages.Count > 0 || lst.lstDocuments.Count > 0)
                {
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="attachment-list">
                                @if (lst.lstImages.Count > 0)
                                {
                                    @Html.Partial("PatialFileuploadedForReferral", lst.lstImages)
                                }
                                @if (lst.lstDocuments.Count > 0)
                                {
                                    @Html.Partial("PatialFileuploadedForReferral", lst.lstDocuments)
                                }
                            </ul>
                        </div>
                    </div>

                }
                @if (!string.IsNullOrWhiteSpace(lst.Comments))
                {
                    <div class="row mrgn-btm-15">
                        <div class="col-lg-12">
                            <h4 class="sky-blue mrgn-btm-10">Comments</h4>
                            <div class="row row-bordered mrgn-btm-10"></div>
                            <div id="">
                                <p class="txt-dark-gray">@lst.Comments</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </main>
                                }
<script>
    $(document).ready(function () {
        $("#header").remove();
        $(".hidden-xs").remove();
        $("#leftside").remove();
        $("#footer").remove();
        window.print();
    });
</script>
