﻿@model BO.ViewModel.ComposeMessage
@*<link rel="stylesheet" type="text/css" href="~/Content/css/select2.min.css" />*@
<style>
    .select2-container--default .select2-results__option[aria-disabled=true] {
        display: none !important;
    }

    .select2-results__option[aria-selected=true] {
        display: none !important;
    }
</style>
<input type="hidden" value="" id="hduploadfiles" />
<input type="hidden" value="@Model.MessageTypeId" id="hdmessagetypeId" />
<div class="alert alert-danger alertMessage" id="danger-alert">
    <button type="button" class="close" data-dismiss="alert">x</button>
    <strong>Error !</strong>
    Please fill up at least one detail to save as Draft message.
</div>
<div class="row">
    <div class="col-lg-12">
        <h1>@ViewBag.Title</h1>
        <div class="enter-email-bar">
            <select id="colleaguelist" style="width:100%" multiple>
                @foreach (var item in Model.ColleagueList)
                {
                    <option value="@item.id" selected>@item.text</option>
                }
            </select>
            <span class="error-message" id="lblColleague">Please select at least one colleague.</span>
        </div>
        @Html.TextAreaFor(model => model.MessageBody, new { @id = "editor" })
        <span class="error-message" id="lblMessage">Please enter a message.</span>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="patient-bar">
            <label><i class="ico-user"></i>Add Patients</label>
            <select style="width:100%;" id="patientlist" multiple>
                @foreach (var item in Model.PatientList)
                {
                    <option value="@item.id" selected>@item.text</option>
                }
            </select>
            <span class="error-message" id="lblPatient">Please select at least one patient.</span>
        </div>
        <div class="btn-group btn-holder">
            <div class="fileUpload">
                <span style="cursor:pointer">Attach a File</span>
                <input type="file" id="tempfileupload" class="upload" multiple="multiple" />
            </div>            
        </div>
        <span class="error-message" style="display:block" id="lblfileupload"></span>
        <ul class="attachment-list" id="tempfilecontent">
            @Html.Action("PartialFileUploadTemp", "Common", new { FileIds = string.Empty, MessageId = Model.MessageId, ComposeType = (int)BO.Enums.Common.ComposeType.ColleagueCompose })

        </ul>
        @*<div class="alert alert-warning alertMessage" id="warning-alert">
                <button type="button" class="close" data-dismiss="alert">x</button>
                <strong>Warning !</strong>
                <input type="hidden" name="lblsendcount" id="lblsendcount" value="0">
                This message is not assigned to a patient.would you still like to continue ?
            </div>*@

        <div class="btn-group btn-holder mrgn-btm-20">
            @if ((int)BO.Enums.Common.ComposeMessageType.Draft == Model.MessageTypeId)
            {  <a href='/Inbox/Draft' id="btncancel" class="btn btn-default btn1"><i class="ico-corss2"></i>Cancel</a>}
            else { <a href='/Inbox' id="btncancel" class="btn btn-default btn1"><i class="ico-corss2"></i>Cancel</a>}
            @if ((int)BO.Enums.Common.ComposeMessageType.Draft == Model.MessageTypeId)
            {
                <a href="javascript:void(0)" onclick="DeleteMessages('@(Model.MessageId+"_"+Model.IsColleaguesMessage)')" class="btn btn-default btn1"><i class="ico-corss2"></i>Discard Draft</a>
            }
            <a href="javascript:void(0)" onclick="SaveAsDraft(@Model.MessageId,@Model.ComposeType)" class="btn btn-default btn1"><i class="ico-save"></i>Save as Draft</a>
            <a href="javascript:void(0)" onclick="SendMessage(@Model.MessageId,@Model.MessageTypeId)" class="btn btn-default btn2"><i class="ico-send"></i>Send</a>

        </div>
    </div>
</div>
@*@Scripts.Render("~/ComposeMessageJs")
<script type="text/javascript" src="~/Scripts/select2.min.js"></script>*@
<script src="~/Scripts/ControllerJS/Inbox/PartialComposeMessage.js"></script>


