﻿@model List<BO.ViewModel.InboxMessages>
@if (Model.Count() > 0)
{
    foreach (var lstDraft in Model)
    {
        <li id="limsg_@(lstDraft.MessageId+"_"+lstDraft.IsColleagueMesage)">
            <div class="all-select">
                <input type="checkbox" class="checkSingle" data-id="@(lstDraft.MessageId+"_"+lstDraft.IsColleagueMesage)">
            </div>
            <a href='@Url.Action("NewGetMessageDetails", "Inbox", new { MessageId = lstDraft.MessageId, MessageDisplayType = lstDraft.MessageDisplayType, MessageTypeId = lstDraft.MessageTypeId,IsColleagueMesage=lstDraft.IsColleagueMesage })'>
                <div class="info">
                    <strong class="unread">@(lstDraft.Field == "" ? "No recipient selected" : lstDraft.Field)</strong>
                    <p>@(lstDraft.Body.ToString().Length > 40 ? lstDraft.Body.Substring(0, 40) + "..." : lstDraft.Body) </p>
                </div>
                <div class="right-holder">
                    @if (@Convert.ToInt32((lstDraft.CurrentDate - lstDraft.CreationDate).Days) >= 1)
                    {
                        @*<time>@lstDraft.CreationDate.ToString("MMM") @lstDraft.CreationDate.ToString("dd")</time>*@
                        <time title="@(lstDraft.CreationDate.ToString("ddd")+", "+lstDraft.CreationDate.ToString("MMM")+" "+lstDraft.CreationDate.ToString("%d")+", " + lstDraft.CreationDate.ToString("yyyy") +" at "+ Convert.ToDateTime(lstDraft.CreationDate).ToString("h:mm tt"))">@lstDraft.CreationDate.ToString("M/d/yyyy").Replace('-', '/')</time>
                    }
                    else
                    {
                        <time title="@(lstDraft.CreationDate.ToString("ddd")+", "+lstDraft.CreationDate.ToString("MMM")+" "+lstDraft.CreationDate.ToString("%d")+", " + lstDraft.CreationDate.ToString("yyyy") +" at "+ Convert.ToDateTime(lstDraft.CreationDate).ToString("h:mm tt"))">@Convert.ToDateTime(lstDraft.CreationDate).ToString("h:mm tt")</time>
                    }
                    @if (lstDraft.AttachmentId != null && lstDraft.AttachmentId.ToString() != "" && lstDraft.AttachmentId.ToString() != "0")
                    {
                        <i class="ico-attach"></i>
                    }

                </div>
            </a>
        </li>
    }
}
else
{
    <span id="lblmessage">
        <center><br />No messages found</center>
    </span>
}
<script>
    $(function() {
        var lstInboxDetails = @Html.Raw(Json.Encode(@Model));
        var NumberOfMessageDisplayed = @Model.Count()>0?@Model.Count():0;
        if(lstInboxDetails.length>0){
            var Totalmessage=lstInboxDetails[0].TotalRecord;
            $("#lbltotalmessage").val(parseInt(Totalmessage));
            $("#lblintialpagenumber").val('1');
        }
        $("#lblnumberofmessagedisplayed").val(NumberOfMessageDisplayed);
    });
</script>
