﻿@model List<BO.Models.MessageAttachment>
@using NewRecordlinc.Common;
@foreach (var item in Model)
{
    <li>
        <div class="img-holder">
            @{ 
                string AttachmentName = string.Empty;
                AttachmentName = item.AttachmentName.ToString();
                string ImageBankFolder = Convert.ToString(System.Configuration.ConfigurationManager.AppSettings.Get("ImageBank"));
                AttachmentName = AttachmentName.Substring(AttachmentName.ToString().LastIndexOf("$") + 1);
            }
            @if (item.MessageStatus)
            {

                item.AttachementFullName = Convert.ToString(System.Configuration.ConfigurationManager.AppSettings.Get("DraftImages")) + "" + item.AttachmentName;
            }
            else
            {
                item.AttachementFullName = Convert.ToString(System.Configuration.ConfigurationManager.AppSettings.Get("ImageBank")) + "" + item.AttachmentName;
            }
            @{ 
                string strFileExtension = string.Empty;
                strFileExtension = Path.GetExtension(item.AttachmentName).ToLower();
            }
            @if (strFileExtension != ".jpg" && strFileExtension != ".jpeg" && strFileExtension != ".gif" && strFileExtension != ".png" && strFileExtension != ".bmp" && strFileExtension != ".psd" && strFileExtension != ".pspimage" && strFileExtension != ".thm" && strFileExtension != ".tif")
            {
               <img src="@ImageBankFolder@FileExtension.CheckFileExtenssion(item.AttachementFullName)" alt="Attachment">
            }
            else
            {
                <img src="@(Html.Action("GetBase64ContentOFImage","Common", new { FileId = 0, FileFrom=4, FileName = item.AttachementFullName }))" alt="@item.AttachmentName">
            }
            @*@Html.ActionLink("Download", "DownloadAttachedFile", "Common", new { DownId = item.MessageId, AttaId = item.AttachmentId},new { @class= "download-hover" })*@
            @*<a onclick="downloadattahment('@item.MessageId');" class="download-hover"></a>*@
        </div>
        <div class="attacg-description">
            <div class="discription-box">
                @{ 
                    string NewAttachementName = string.Empty;
                    NewAttachementName = AttachmentName.ToString();
                    var extention = Path.GetExtension(NewAttachementName).ToLower();
                    AttachmentName = (NewAttachementName.ToString().Length > 20 ? NewAttachementName.Substring(0, 20) + "..."+extention : NewAttachementName);
                }
                <p>@AttachmentName</p>
                <a href="@DataAccessLayer.Common.clsHelper.EscapeUriString(item.AttachementFullName)" target="_blank">View</a>
                @*@Html.ActionLink("View", "DownloadAttachedFile", "Common", new { FileId = @item.MessageId, FileFrom = 4, FileName = item.AttachmentName }, new { @id = "download-hover" })*@
                @*@Html.ActionLink("Download", "DownloadPerticularfileofMessage", "Common", new { DownId = @item.MessageId, AttaId = @item.AttachmentId }, new { @id = "download-hover" })*@
                @Html.ActionLink("Download", "DownloadAttachedFile", "Common", new { FileId = @item.MessageId, FileFrom = 4, FileName = item.AttachmentName }, new { @id = "download-hover" })
                
            </div>
        </div>
    </li>
}
