﻿@model List<BO.Models.NormalMessageDetails>
@using BusinessLogicLayer

@{
    ViewBag.Title = "MessageDetails";
    Layout = "~/Views/Shared/_NewSiteLayoutInner.cshtml";
}
@Scripts.Render("~/ComposeMessageJs")
@foreach (var item in Model)
{
    string CreationDate = new CommonBLL().ConvertToDateTime(Convert.ToDateTime(item.CreationDate), Convert.ToInt32(BO.Enums.Common.DateFormat.GENERAL));
    <input type="hidden" name="Start Function Time" value="" />
    <main id="main" role="main">
        <div class="container">
            <div class="view-message">
                <div class="row row-bordered btm-margin-30">
                    <div class="col-lg-12">
                        <dl class="mail-details">
                            <dt>From:</dt>
                            @if (item.IsPatientMessage)
                            {
                                <dd>@item.From<a href="javascript:void(0)" onclick="GetPatientProfile(@(item.IsSentMessage==true?Session["UserId"]:@item.SenderId))"> &lt;@item.SenderEmail&gt;</a></dd>
                                <dt>To:</dt>
                                <dd>@item.To <a href="javascript:void(0)" onclick="GetColleaguesProfile(@(item.IsSentMessage==true?item.SenderId:Session["UserId"]))">&lt;@item.ReceiverEmail&gt;</a></dd>
                            }
                            else
                            {
                                <dd>@item.From<a href="javascript:void(0)" onclick="GetColleaguesProfile(@(item.IsSentMessage==true?Session["UserId"]:@item.SenderId))"> &lt;@item.SenderEmail&gt;</a></dd>
                                <dt>To:</dt>
                                <dd>@item.To <a href="javascript:void(0)" onclick="GetColleaguesProfile(@(item.IsSentMessage==true?item.SenderId:Session["UserId"]))">&lt;@item.ReceiverEmail&gt;</a></dd>
                            }
                            <dt>Date:</dt>
                            <dd><time>@CreationDate</time></dd>
                        </dl>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        @Html.Raw(HttpUtility.HtmlDecode(item.Body.Replace("\n", "<br />")))
                    </div>
                </div>
                @if (item.lstAttachedPatient.Count > 0)
                {
                    <div class="row">
                        <div class="btm-margin-30"></div>
                        <div class="col-lg-12 btm-margin-30"><h1>Patients</h1></div>
                        <div class="col-lg-12">
                            <table class="table table2">
                                <thead class="thead-inverse">
                                    <tr>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var newone in item.lstAttachedPatient)
                                    {
                                        <tr>
                                            <td><a href="javascript:void(0)" onclick="GetPatientProfile(@newone.AttachedPatientId)">@newone.AttachedPatientFirstName</a></td>
                                            <td><a href="javascript:void(0)" onclick="GetPatientProfile(@newone.AttachedPatientId)">@newone.AttachedPatientLastName</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                }
                <div class="row">
                    <div class="col-lg-12">
                        @if (item.lstMessageAttachment.Count > 0)
                        {
                            <ul class="attachment-list">
                                @Html.Partial("PartialFileUploaded", item.lstMessageAttachment)
                            </ul>
                        }
                    </div>
                </div>
            </div>
        </div>
    </main>
}
<script>
    $(document).ready(function () {
        $("#header").remove();
        $(".hidden-xs").remove();
        $("#leftside").remove();
        $("#footer").remove();
        window.print();
    });
</script>
