﻿@model DentalFiles.Models.ViewModel.MyInboxMaster
@using DentalFiles.App_Start


        @foreach (var item in Model.InviteTreatingDoctor)
        {
            if (Convert.ToInt32(item.RowNumber) % 2 == 1)
            {
            <ul>
                <li class="thumb"><span class="checkbox">&nbsp</span><span class="img_panel"> <a target="_blank" href=@SessionManagement.CompanyWebsite/p/@item.PublicPath>
                    @if (@item.image != null && @item.image != "")
                    {
                        <img style="height:90px;width:95px;" src='@SessionManagement.CompanyWebsite/@item.image' alt=@item.name />
                       
                    }
                    else
                    {
                        <img style="height: 90px; width: 95px;" src="/ImageBank/Doctor_no_image.gif" alt="Doctor-no-image" />
                    }
                </a></span></li>
                <li class="decription" style="word-wrap: break-word; width: 60%;">
                    <h2>
                        <a target="_blank" href=@SessionManagement.CompanyWebsite/p/@item.PublicPath><strong>
                            @item.name</strong> <span class="sub_heading">@item.Specialities</span></a></h2>
                    <span class="clear_div">@item.Description</span> <span class="clear_div">@item.City,
                        @item.Country
                        (@item.Miles Miles) </span></li>
                <li class="button_panel"><span  onclick="AddTreatingDoctor(@item.UserID)" class="add_dentist">
                </span></li>
            </ul>
            }
            else
            { 
            <ul class="lastproduct">
                <li class="thumb"><span class="checkbox">&nbsp</span><span class="img_panel"> <a target="_blank" href=@SessionManagement.CompanyWebsite/p/@item.PublicPath>
                    @if (@item.image != null && @item.image != "")
                    {
                        <img style="height:90px;width:95px;" src='@SessionManagement.CompanyWebsite/@item.image' alt=@item.name />
                        
                    }
                    else
                    {
                        <img style="height: 90px; width: 95px;" src="/ImageBank/Doctor_no_image.gif" alt="Doctor_no_image" />
                    }
                </a></span></li>
                <li class="decription" style="word-wrap: break-word; width: 60%;">
                    <h2>
                        <a target="_blank" href=@SessionManagement.CompanyWebsite/p/@item.PublicPath><strong>
                            @item.name</strong> <span class="sub_heading">@item.Specialities</span></a></h2>
                    <span class="clear_div">@item.Description</span> <span class="clear_div">@item.City,
                        @item.Country
                        (@item.Miles Miles) </span></li>
                <li class="button_panel"><span  onclick="AddTreatingDoctor(@item.UserID)" class="add_dentist">
                </span></li>
            </ul>
            }



        }