﻿@using DentalFiles.App_Start
<div class="grid_12" id="bandlist_template">
    @if (TempData["NoRecord"] != null)
    {<center>
        <span style="color: Green;">
            @TempData["NoRecord"]
        </span>
    </center>
    }
    <div class="advance_search_listing" id="dvlist">
        <center>
            @ViewBag.IsRecord
        </center>
        @Html.Partial("_GetInviteDoctors")
</div>
<center id="seachloaddiv" style="display: none;">
    <br />
        <img alt="Loding." id="tmpLoadImg" src="../../DentalImages/please_wait.gif" /></center>
    </div>
<div class="p14">
</div>
<input type="hidden"  value="1" id="InviteDoctorPageIndex" />
<script type="text/javascript">

    $(function () {
        var bindScrollHandler = function () {
            $(window).scroll(function () {
                if ($(window).scrollTop() + $(window).height() > $(document).height() - 750) {
                    $(window).unbind("scroll");
                    var data = GetInviteDoctorOnScroll().toString();
                    $(data).appendTo("#dvlist");
                    bindScrollHandler();
                }
                else {
                }
            });
        };

        bindScrollHandler();
    });

    function GetInviteDoctorOnScroll() {
        var datalist = '';
        $.ajaxSetup({ async: false });
        var Pageindex = $('#InviteDoctorPageIndex').val();
        if (Pageindex == "-1") {
            return "";
        } else {

        $('#seachloaddiv').css('display','block');
            Pageindex = parseInt(Pageindex) + parseInt(1);
            $.post("/InviteDoctor/GetTreatingDoctorOnscroll", { PageIndex: Pageindex }, function (data) {
                //if (data == '<center>No record found</center>' || data == "<center>No more record found</center>") {
                if (data.indexOf("No record found") >= 0 || data.indexOf("No more record found") >= 0)
                    {
                    $('#InviteDoctorPageIndex').val("-1");
                } else {
                    $('#InviteDoctorPageIndex').val(Pageindex);
                }
                datalist = data;

            });
        }
        $.ajaxSetup({ async: false });
        $('#seachloaddiv').css('display', 'none');
        return datalist;
    }



    $(document).ready(function () {

        document.getElementById('cntloder').removeAttribute('style');
        document.getElementById('cntloder').setAttribute('style', 'display:none;');

    });

</script>
