﻿@using System.Web.Optimization
@model DentalFiles.Models.ReqLogin
@{
    ViewBag.Title = "Patient Login";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Patient Login</title>
    <script type="text/javascript" src="//www.baw5tracker.com/js/60398.js"></script>
    <noscript><img src="//www.baw5tracker.com/60398.png" style="display:none;" alt="baw5tracker" /></noscript>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <link rel="stylesheet" href="/Dentalcss/style.css" type="text/css" media="screen">
    <link rel="icon" href="/Dentalimages/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/Dentalimages/favicon.ico" type="image/x-icon" />
    <script src="/Dentaljs/jquery-1.8.3.min.js"></script>
    <script src="/Dentaljs/superfish.js"></script>
    <script src="/Dentaljs/jquery.elastislide.js"></script>
    <script src="/Dentaljs/jquery.ui.totop.js"></script>
    <script src="/Dentaljs/script.js"></script>
    <script src="/Dentaljs/jquery.jqtransform.js"></script>
    <script src="/Dentaljs/WaterMark.min.js"></script>
    <script src="/Dentaljs/tooltip.js"></script>
    <script src="/Dentaljs/jquery.toolbar.js"></script>
    <script src="/Dentaljs/jquery-ui.js" type="text/javascript"></script>
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    <script src="/Dentaljs/jquery.placeholder.js"></script>
    <script type="text/javascript">
        $(function () {

            $("#back-to-top").backToTop();

            var offset = 100;
            var top = 10;
            $("body, html").animate({
                scrollTop: top - offset
            }, function () {
                var $window = $(window);
                $window.scroll(function () {
                    $("#balloon")
                        .stop()
                        .animate({
                            top: $window.scrollTop() - top + offset
                        }, 1200);
                });
            });

        });
        $(function () {
            var input = document.createElement("input");

            if (('placeholder' in input) == false) {
                $('[placeholder]').focus(function () {
                    var i = $(this);

                    if (i.val() == i.attr('placeholder')) {

                        i.val('').removeClass('placeholder');
                        if (i.hasClass('password')) {
                            i.removeClass('password');
                            this.type = 'password';
                        }
                    }
                }).blur(function () {
                    var i = $(this);
                    if (i.val() == '' || i.val() == i.attr('placeholder')) {
                        if (this.type == 'password') {
                            i.addClass('password');
                            this.type = 'text';
                        }
                        i.addClass('placeholder').val(i.attr('placeholder'));
                    }
                }).blur().parents('form').submit(function () {
                    $(this).find('[placeholder]').each(function () {
                        var i = $(this);
                        if (i.val() == i.attr('placeholder'))

                            i.val('');

                    })
                });
            }
        });


    </script>
</head>
<body id="page1">
    <div id="Message">
    </div>
    <!--======================== content ===========================-->
    <section id="content">
        <div class="container_16">


            <div id="login_panel">
                <h1 id="logo"><a href="@Url.Action("Index", "Index")"></a></h1>

                <div class="login_box">
                    <h2 align="center">Sign in to <span>MyDentalFiles</span></h2>
                    @using (Html.BeginForm("Login", "PatientLogin"))
                    {
                        <div class="input_border">
                            <div class="email_icon"></div>


                            @Html.TextBoxFor(model => model.Email, new { id = "txtemaillogin", @class = "input_box_login", @placeholder = "email / patientid", @tabindex = 1 })
                        </div>
                        <div>
                            @Html.ValidationMessageFor(model => model.Email)
                        </div>
                        <div class="input_border">
                            <div class="password_icon"></div>

                            @Html.Password("Password", "", new { id = "txtpassword", @class = "input_box_login", @placeholder = "Password", @tabindex = 2 })
                        </div>
                        <div>
                            @Html.ValidationMessageFor(model => model.Password)
                        </div>
                        <div class="button_section">
                            <div class="remember_me"><span><input name="" type="checkbox" value=""></span><span>Remember me</span></div>
                            <div class="submit_btn">
                                <input name="Submit" id="btnsubmit" value="Login" type="submit" class="button_2" tabindex='3' />

                            </div>

                        </div>
                    }

                    <div class="forgot_password_section">
                        <h1 class="greyfont">Forgot your password?</h1>
                        <p class="normalfont">no worries, <a href="@Url.Action("Index", "ForgotPassword")">click here</a> to reset your password</p>
                        <p class="normalfont">Don’t have an accout yet?  <a href="@Url.Action("Index", "Index")">Create an account</a></p>


                    </div>


                </div>

            </div>



        </div>


        </div>

        <div class="clear_div_height_loginpage"></div>


    </section>
    <!--======================== footer ===========================-->
    @Html.Partial("_Footer")
    <span id="siteseal">
        <script type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=F34USZbK0ZJXklg4iUVnDdiuqxNIsXp8lcoNVeU36D7SHiwi3v"></script>
    </span>
</body>
</html>
@{
    if (TempData["message"] != null)
    {
        <script type="text/javascript">
            $(function () {
                $('#Message').html('Your login information was not valid. Please try again or contact your dental office.');
                $('#Message').delay(300).slideDown(300).delay(4000).slideUp(300);
            });

            $(document).ready(function () {
                $("#txtemaillogin").blur(function () {
                    if ($("#txtemaillogin").val() != '') {
                        $("#txtemaillogin").css("color", "black");
                    }
                });
                $("#txtpassword").blur(function () {
                    if ($("#txtpassword").val() != '') {
                        $("#txtpassword").css("color", "black");
                    }
                });
            });
        </script>
    }
}
