﻿@model DentalFiles.Models.ViewModel.MyInboxMaster
@{
    string MsgFromFieldSortBy = ViewBag.MsgFromFieldSortBy;
    string MsgCreationDateSortBy = ViewBag.MsgCreationDateSortBy;
    string MsgSubjectSortBy = ViewBag.MsgSubjectSortBy;



}
@{
    if (MsgFromFieldSortBy != "FromField desc")
    {
        MsgFromFieldSortBy = "FromField desc";
    }
    else
    {
        MsgFromFieldSortBy = "FromField asc";
    }



    if (MsgCreationDateSortBy != "CreationDate desc")
    {
        MsgCreationDateSortBy = "CreationDate desc";
    }
    else
    {
        MsgCreationDateSortBy = "CreationDate asc";
    }

    if (MsgSubjectSortBy != "Subject desc")
    {
        MsgSubjectSortBy = "Subject desc";
    }
    else
    {
        MsgSubjectSortBy = "Subject asc";
    }

}
<h2 class="title">
    Messages from Doctor<span>
        [ <a href="@Url.Action("Index", "MyInbox", new { MsgPageSize = 10000 })">
            View All
        </a>]&nbsp;&nbsp;Date(s) and time(s) are shown in <b> @Session["TimezoneSystemName"] </b>
    </span><a onclick="redirectURL('ComposeMsg?mode=Compose')">
        <input class="compose" name="Compose" type="button" value="Compose">
    </a>
</h2>
<div class="table">
    <!-- Table head -->
    <div class="thead">
        <div class="check">
            <input name="Check" id="mainMsgcheck" onclick="MsgSetAllCheckBoxes(this)" type="checkbox"
                   value="Check">
        </div>
        <div class="name">
            <a href="@Url.Action("Index", "MyInbox", new { MsgSortBy = MsgFromFieldSortBy })">
                Name<img src="/DentalImages/patient-history/sort-arrows.png" alt="sort-arrows">
            </a>
        </div>
        <div class="date">
            <a href="@Url.Action("Index", "MyInbox", new { MsgSortBy = MsgCreationDateSortBy })">
                Date/Time<img src="/DentalImages/patient-history/sort-arrows.png"  alt="sort-arrows">
            </a>
        </div>
        <div class="message">
            <div class="msg">
                <a href="@Url.Action("Index", "MyInbox", new { MsgSortBy = MsgSubjectSortBy })">
                    Message
                    <img src="/DentalImages/patient-history/sort-arrows.png"  alt="sort-arrows">
                </a>
            </div>
            <div class="actions">
                <a id="Msgdeleteall">
                    <img src="/DentalImages/patient-history/trash-icon.png"  alt="trash-icon">Delete
                </a>
            </div>
        </div>
        <div class="clear">
        </div>
    </div>
    <!-- Table Body -->
    <div class="tbody">
        <div id="msgdetails">
            <ul class="tablelist" id="msgbody" style="max-height: 200px; overflow-y: scroll;">
                @Html.Partial("_Message")
            </ul>
        </div>
    </div>
    @{
        if (TempData["DltMsg"] != null)
        {
            <script type="text/javascript">
                $(function () {
                    //alert('Message Successfully Deleted');
                    swal({ title: "", text: 'Message deleted successfully', type: 'success' });
                    //                $('#Message').html('Message Successfully Deleted');
                    //                $('#Message').delay(300).slideDown(300).delay(2000).slideUp(300);
                });
            </script>
        }
    }

    <div id="test-form" class="mfp-hide white-popup-block edit_info">
        <h2 class="title">
            Message Detail
        </h2>
        <div class="clear">
        </div>
        <ul class="tablelist">
            <li>
                <div id="popmsglbl" style="word-wrap: break-word; width: auto;">
                </div>
            </li>
        </ul>
        <div class="actions">
            <label>
            </label>
            @*<input id="pnlreplybtn" style="background: url('/Dentalimages/patient-history/reply_btn1.jpg') no-repeat scroll left top;height: 35px; border: medium none;  text-transform: uppercase;width:94px;" name="reply" type="button" value="reply" />
            <input class="cancel_btn" style="background: url('/Dentalimages/patient-history/cancel1.png') no-repeat scroll left top;height: 35px; border: medium none; text-transform: uppercase;width: 94px" name="Cancel" type="button" value="ancel" />*@         
            <input id="pnlreplybtn" style="background: url('/Dentalimages/patient-history/reply_btn1.jpg') no-repeat scroll left top;
                height: 35px; border: medium none; text-indent: -9999px; text-transform: uppercase;
                width: 94px;" name="reply" type="button" value="reply" />
            <input class="cancel_btn" style="background: url('/Dentalimages/patient-history/cancel1.png') no-repeat scroll left top;
                height: 35px; border: medium none; text-indent: -9999px; text-transform: uppercase;
                width: 94px" name="Cancel" type="button" value="Cancel" />
            <div class="clear">
            </div>
        </div>
    </div>
    <!-- pagination ends here-->
    <div class="clear">
    </div>
    <div class="tfoot">
    </div>
</div>
<input type="hidden" name="hdnPageindexInboxmsg" id="hdnPageindexInboxmsg" value="1" />
<script type="text/javascript">


    function MsgSetAllCheckBoxes(obj) {

        var c = new Array();
        c = document.getElementsByTagName('input');

        for (var i = 0; i < c.length; i++) {
            if (c[i].type == 'checkbox' && c[i].id == 'msg') {
                c[i].checked = obj.checked;

            }
        }
    }


    $("#Msgdeleteall").click(function () {
        var Msgdltvalues = null;
        var c = new Array();
        c = document.getElementsByTagName('input');
        for (var i = 0; i < c.length; i++) {
            if (c[i].type == 'checkbox' && c[i].id == 'msg' && c[i].checked == true) {

                if (Msgdltvalues == null) {

                    Msgdltvalues = c[i].value;
                }
                else {

                    Msgdltvalues = Msgdltvalues + ',' + c[i].value;
                }

            }
        }

        if (Msgdltvalues == null) {
            //alert('Please Select Atleast One Message');
            swal({ title: "", text: 'Please select at least one message' });
            return false;
        }
        swal({
            title: "",
            text: "Are you sure you want to remove?",
            type: "warning",
            showCancelButton: true,
            //confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: true,
            showLoaderOnConfirm: true,
        },
 function (isConfirm) {
     if (isConfirm) {
         $("#divLoading").show();
         $.ajax({
             url: '@Url.Action("DltMsgcheck", "MyInbox")?Dltall=' + Msgdltvalues + '',
             type: 'POST',
             dataType: 'html',
             contenttype: "application/x-www-form-urlencoded",
             cache: false,
             ProcessData: false,
             success: function (output, status, xhr) {
                 document.getElementById('msgdetails').innerHTML = "";
                 for (var i = 0; i < c.length; i++) {
                     if (c[i].type == 'checkbox' && c[i].id == 'Msg') {
                         c[i].checked = false;;

                     }
                 }
                 $('#Message').html('Message Deleted Successfully');
                 $('#Message').delay(300).slideDown(300).delay(2000).slideUp(300);
                 $(window).scrollTop(0);
                 $("#divLoading").hide();
                 setTimeout(function () {
                     window.location = 'MyInbox';
                 }, 200);
             },
             error: function (xhr) {
                 if (typeof (console) != 'undefined') {
                     // console.log(xhr.responseText);
                 }
             }
         });
     }
 });
    });



    function aviewmsgclick(PatientmessageId, View) {


        var id = PatientmessageId;
        var typename = View;

        $.ajax({
            url: '@Url.Action("GetMessageAttachmentByPatientmessageId", "MyInbox")?PatientmessageId=' + id + '&Type=' + typename + '',
            type: 'POST',
            dataType: 'html',
            contenttype: "application/x-www-form-urlencoded",
            cache: false,
            ProcessData: false,
            success: function
                                               (output, status, xhr) {
                obj = jQuery.parseJSON(output);
                if (obj.body != null && obj.body != '') {

                    $('#popmsglbl').html(obj.body);
                }
                else {
                    $('#popmsglbl').html('No Details Found');
                }



            },
            error: function (xhr) {

                if (typeof (console) != 'undefined') {
                    // console.log(xhr.responseText);
                }
            }
        });
    }

    //$(document).ready(function () {
    //    $('.popup-with-form').magnificPopup({
    //        type: 'inline',
    //        preloader: false,
    //        focus: '#name',

    //        // When elemened is focused, some mobile browsers in some cases zoom in
    //        // It looks not nice, so we disable it:
    //        callbacks: {
    //            beforeOpen: function () {
    //                if ($(window).width() < 700) {
    //                    this.st.focus = false;
    //                } else {
    //                    this.st.focus = '#name';
    //                }
    //            }
    //        }



    //    });

    //    $(".cancel_btn").click(function () {
    //        window.location.reload();

    //    });
    //    $(".mfp-close").click(function () {

    //        window.location.reload();
    //    });
    //});



</script>
<script>

    var bindEventHandler = function () {
        $('.popup-with-form').magnificPopup({
            type: 'inline',
            preloader: false,
            focus: '#name',

            // When elemened is focused, some mobile browsers in some cases zoom in
            // It looks not nice, so we disable it:
            callbacks: {
                beforeOpen: function () {
                    if ($(window).width() < 700) {
                        this.st.focus = false;
                    } else {
                        this.st.focus = '#name';
                    }
                }
            }
        });

        $(".cancel_btn").click(function () {
            $(".mfp-close").click();
        });
        $(".mfp-close").click(function () {
            $(".mfp-close").click();
        });
    }

    var bindScrollHandler = function () {
        $("#msgbody").bind('scroll', function (event) {
            if ($(this).scrollTop() + $(this).innerHeight() >= $(this)[0].scrollHeight) {
                var data = GetEmailInboxContent().toString();
                $(this).append(data);
                bindEventHandler();
            }
        });

    }

    $(document).ready(function () {

        bindScrollHandler();
        bindEventHandler();
    });

    function GetEmailInboxContent() {
        var strSortColumn = "@ViewBag.MsgSortBy";
        var DataList = '';
        var PageIndex = $("#hdnPageindexInboxmsg").val();
        if (PageIndex == "-1") {
            return "";
        } else {
            PageIndex = parseInt(PageIndex) + parseInt("1");
            $("#hdnPageindexInboxmsg").val(PageIndex);
        }
        $.ajaxSetup({ async: false });
        $.post("/MyInbox/PartialMessage", { currentMsgPageIndex: PageIndex, MsgSortBy: strSortColumn },
        function (data) {
            if (data == '<center>No more record found</center>' || data == '<center>No record found</center>') {
                $("#hdnPageindexInboxmsg").val("-1");
            }
            DataList = data;
            if ($('#mainMsgcheck').is(":checked")) {
                var c = new Array();
                c = document.getElementsByTagName('input');
                for (var i = 0; i < c.length; i++) {
                    if (c[i].type == 'checkbox' && c[i].id == 'msg') {
                        c[i].checked = true;
                    }
                }
            }
        });
        $.ajaxSetup({ async: true });


        return DataList;
    }

    function Msguncheckselectall(id) {
        document.getElementById(id).checked = false;
    }


</script>
