﻿<!DOCTYPE html>
<!-- saved from url=(0029)//www.drdds.com/aap2016/ -->
<html lang="en-US" prefix="og: //ogp.me/ns#" class="js_active vc_desktop vc_transform vc_transform"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style type="text/css">
          input:required
         {
            border-color: red !important;
        }
        .gm-err-container {
            height: 100%;
            width: 100%;
            display: table;
            background-color: #e0e0e0;
            position: relative;
            left: 0;
            top: 0;
        }

        .gm-err-content {
            border-radius: 1px;
            padding-top: 0;
            padding-left: 10%;
            padding-right: 10%;
            position: static;
            vertical-align: middle;
            display: table-cell;
        }

            .gm-err-content a {
                color: #4285f4;
            }

        .gm-err-icon {
            text-align: center;
        }

        .gm-err-title {
            margin: 5px;
            margin-bottom: 20px;
            color: #616161;
            font-family: Roboto,Arial,sans-serif;
            text-align: center;
            font-size: 24px;
        }

        .gm-err-message {
            margin: 5px;
            color: #757575;
            font-family: Roboto,Arial,sans-serif;
            text-align: center;
            font-size: 12px;
        }

        .gm-err-autocomplete {
            padding-left: 20px;
            background-repeat: no-repeat;
            background-size: 15px 15px;
        }
    </style>
    <meta name="description" content="Dental Marketing, Online Dentists Database">
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Pingbacks -->
    <link rel="pingback" href="//www.drdds.com/xmlrpc.php">
    <!-- Favicon -->
    <title>RecordLinc - Am Academy of Perio 2016</title>
    <!-- This site is optimized with the Yoast SEO plugin v3.4.2 - https://yoast.com/wordpress/plugins/seo/ -->
    <meta name="description" content="RecordLinc would like to extend this special offer to you. We&#39;ll be at the American Academy of Perio in San Diego, but you can get this offer NOW!">
    <meta name="robots" content="noodp">
    <link rel="canonical" href="//www.drdds.com/aap2016/">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="article">
    <meta property="og:title" content="RecordLinc - Am Academy of Perio 2016">
    <meta property="og:description" content="RecordLinc would like to extend this special offer to you. We&#39;ll be at the American Academy of Perio in San Diego, but you can get this offer NOW!">
    <meta property="og:url" content="//www.drdds.com/aap2016/">
    <meta property="og:site_name" content="DrDDS">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:description" content="RecordLinc would like to extend this special offer to you. We&#39;ll be at the American Academy of Perio in San Diego, but you can get this offer NOW!">
    <meta name="twitter:title" content="RecordLinc - Am Academy of Perio 2016">
    <!-- / Yoast SEO plugin. -->
    <link rel="dns-prefetch" href="//maps.googleapis.com/">
    <link rel="dns-prefetch" href="//fonts.googleapis.com/">
    <link rel="dns-prefetch" href="//s.w.org/">
    <link rel="alternate" type="application/rss+xml" title="DrDDS » Feed" href="//www.drdds.com/feed/">
    <link rel="alternate" type="application/rss+xml" title="DrDDS » Comments Feed" href="//www.drdds.com/comments/feed/">
    <script src="~/Content/js/jquery-1.9.1.js"></script>
    <div class="fit-vids-style" id="fit-vids-style" style="display:none;">
        ­
        <style>
            .fluid-width-video-wrapper {
                width: 100%;
                position: relative;
                padding: 0;
            }

                .fluid-width-video-wrapper iframe, .fluid-width-video-wrapper object, .fluid-width-video-wrapper embed {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
        </style>
    </div>
    <script type="text/javascript" id="www-widgetapi-script" src="~/Content/perio-css-js/www-widgetapi.js" async=""></script>
    <script type="text/javascript">
        window._wpemojiSettings = { "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/2\/72x72\/", "ext": ".png", "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/2\/svg\/", "svgExt": ".svg", "source": { "concatemoji": "\/\/www.drdds.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.6.1" } };
        !function (a, b, c) { function d(a) { var c, d, e, f, g, h = b.createElement("canvas"), i = h.getContext && h.getContext("2d"), j = String.fromCharCode; if (!i || !i.fillText) return !1; switch (i.textBaseline = "top", i.font = "600 32px Arial", a) { case "flag": return i.fillText(j(55356, 56806, 55356, 56826), 0, 0), !(h.toDataURL().length < 3e3) && (i.clearRect(0, 0, h.width, h.height), i.fillText(j(55356, 57331, 65039, 8205, 55356, 57096), 0, 0), c = h.toDataURL(), i.clearRect(0, 0, h.width, h.height), i.fillText(j(55356, 57331, 55356, 57096), 0, 0), d = h.toDataURL(), c !== d); case "diversity": return i.fillText(j(55356, 57221), 0, 0), e = i.getImageData(16, 16, 1, 1).data, f = e[0] + "," + e[1] + "," + e[2] + "," + e[3], i.fillText(j(55356, 57221, 55356, 57343), 0, 0), e = i.getImageData(16, 16, 1, 1).data, g = e[0] + "," + e[1] + "," + e[2] + "," + e[3], f !== g; case "simple": return i.fillText(j(55357, 56835), 0, 0), 0 !== i.getImageData(16, 16, 1, 1).data[0]; case "unicode8": return i.fillText(j(55356, 57135), 0, 0), 0 !== i.getImageData(16, 16, 1, 1).data[0]; case "unicode9": return i.fillText(j(55358, 56631), 0, 0), 0 !== i.getImageData(16, 16, 1, 1).data[0] } return !1 } function e(a) { var c = b.createElement("script"); c.src = a, c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c) } var f, g, h, i; for (i = Array("simple", "flag", "unicode8", "diversity", "unicode9"), c.supports = { everything: !0, everythingExceptFlag: !0 }, h = 0; h < i.length; h++) c.supports[i[h]] = d(i[h]), c.supports.everything = c.supports.everything && c.supports[i[h]], "flag" !== i[h] && (c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && c.supports[i[h]]); c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && !c.supports.flag, c.DOMReady = !1, c.readyCallback = function () { c.DOMReady = !0 }, c.supports.everything || (g = function () { c.readyCallback() }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", g, !1), a.addEventListener("load", g, !1)) : (a.attachEvent("onload", g), b.attachEvent("onreadystatechange", function () { "complete" === b.readyState && c.readyCallback() })), f = c.source || {}, f.concatemoji ? e(f.concatemoji) : f.wpemoji && f.twemoji && (e(f.twemoji), e(f.wpemoji))) }(window, document, window._wpemojiSettings);
    </script>
    <script src="~/Content/perio-css-js/wp-emoji-release.min.js" type="text/javascript"></script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel="stylesheet" id="tc-front-css" href="~/Content/perio-css-js/front.css" type="text/css" media="all">
    <link rel="stylesheet" id="font-awesome-css" href="~/Content/perio-css-js/font-awesome.min.css" type="text/css" media="all">
    <link rel="stylesheet" id="contact-form-7-css" href="~/Content/perio-css-js/styles.css" type="text/css" media="all">
    <link rel="stylesheet" id="rs-plugin-settings-css" href="~/Content/perio-css-js/settings.css" type="text/css" media="all">
    <style id="rs-plugin-settings-inline-css" type="text/css">
        #rs-demo-id {
        }
    </style>
    <link rel="stylesheet" id="lvca-accordion-css" href="~/Content/perio-css-js/style.css" type="text/css" media="all">
    <link rel="stylesheet" id="lvca-slick-css" href="~/Content/perio-css-js/slick.css" type="text/css" media="all">
    <link rel="stylesheet" id="lvca-carousel-css" href="~/Content/perio-css-js/style(1).css" type="text/css" media="all">
    <link rel="stylesheet" id="lvca-clients-css" href="~/Content/perio-css-js/style(2).css" type="text/css" media="all">
    <link rel="stylesheet" id="lvca-heading-css" href="~/Content/perio-css-js/style(3).css" type="text/css" media="all">
    <link rel="stylesheet" id="lvca-odometers-css" href="~/Content/perio-css-js/style(4).css" type="text/css" media="all">
    <link rel="stylesheet" id="lvca-piecharts-css" href="~/Content/perio-css-js/style(5).css" type="text/css" media="all">
    <link rel="stylesheet" id="lvca-portfolio-css" href="~/Content/perio-css-js/style(6).css" type="text/css" media="all">
    <link rel="stylesheet" id="lvca-posts-carousel-css" href="~/Content/perio-css-js/style(7).css" type="text/css" media="all">
    <link rel="stylesheet" id="lvca-pricing-table-css" href="~/Content/perio-css-js/style(8).css" type="text/css" media="all">
    <link rel="stylesheet" id="lvca-services-css" href="~/Content/perio-css-js/style(9).css" type="text/css" media="all">
    <link rel="stylesheet" id="lvca-stats-bar-css" href="~/Content/perio-css-js/style(10).css" type="text/css" media="all">
    <link rel="stylesheet" id="lvca-tabs-css" href="~/Content/perio-css-js/style(11).css" type="text/css" media="all">
    <link rel="stylesheet" id="lvca-team-members-css" href="~/Content/perio-css-js/style(12).css" type="text/css" media="all">
    <link rel="stylesheet" id="lvca-testimonials-css" href="~/Content/perio-css-js/style(13).css" type="text/css" media="all">
    <link rel="stylesheet" id="lvca-flexslider-css" href="~/Content/perio-css-js/flexslider.css" type="text/css" media="all">
    <link rel="stylesheet" id="lvca-testimonials-slider-css" href="~/Content/perio-css-js/style(14).css" type="text/css" media="all">
    <link rel="stylesheet" id="parent-style-css" href="~/Content/perio-css-js/style(15).css" type="text/css" media="all">
    <link rel="stylesheet" id="tt-base-font512937313-css" href="~/Content/perio-css-js/css.css" type="text/css" media="all">
    <link rel="stylesheet" id="tt-base-font1402612100-css" href="~/Content/perio-css-js/css(1).css" type="text/css" media="all">
    <link rel="stylesheet" id="tt-custom-font-Raleway-css" href="~/Content/perio-css-js/css(2).css" type="text/css" media="all">
    <link rel="stylesheet" id="tt-icomoon.css-css" href="~/Content/perio-css-js/icomoon.css" type="text/css" media="all">
    <link rel="stylesheet" id="tt-main-style-css" href="~/Content/perio-css-js/screen.css" type="text/css" media="all">
    <style id="tt-main-style-inline-css" type="text/css">
        .sponsor-contact a,
        .main-header .main-nav ul li.high-lighted a,
        .main-header .main-nav ul li.menu-item-has-children > a:first-of-type:after,
        .comments-list .comment .comment-body .comment-meta a,
        .single-post-meta .meta-list li.author-meta a,
        .single-post-meta .meta-list .share-block li a:hover,
        .speakers-tabs .tabed-content .tabs-body .event-meta .speaker-info .name,
        #contact-popup ul li .icon,
        #contact-popup p a:hover,
        #contact-popup a:hover,
        .main-footer .main-footer-area .social-block li a i:hover,
        .main-footer .main-footer-area .copyrigts a:hover,
        .blog-post-box .blog-post-body .inner-content .post-title a:hover,
        .twitter-feed-block .twitter-feed-slider .twitter-feed-icon i,
        .counter-box .value-container,
        .countdown-box .countdown-timmer .timmer-option .value,
        .section-header .section-header-delimiter,
        .main-header .main-nav ul li a:hover {
            color: #038ec4;
        }

        .page-popup .popup-overlay,
        .main-header .main-nav .active-indicator,
        .register-form .cart_form .add_to_cart:hover,
        .pricing-table .buy-btn:hover,
        .pricing-table .add_to_cart:hover,
        .respond-form .submit-btn,
        .news-page:before,
        .subscribe-form .submit-btn,
        .main-header .top-tickets,
        .blog-post-item .hover-box .btn:hover,
        ul.page-numbers li .page-numbers:not(.prev):not(.next),
        ul.page-numbers li .page-numbers.prev,
        ul.page-numbers li .page-numbers.next,
        .main-footer .main-footer-area .subscribe-form-title:after,
        .blog-post-box .blog-post-cover .post-categories li a,
        .twitter-feed-block .twitter-feed-slider .slick-dots li.slick-active button:before,
        .video-wrapper .video-toggle .video-btn-toggle .btn-holder,
        .event-info .event-date:after {
            background: #038ec4;
        }

            .video-wrapper .video-toggle .video-btn-toggle .btn-holder:before,
            .video-wrapper .video-toggle .video-btn-toggle .btn-holder:after {
                border-color: transparent #038ec4 transparent transparent;
            }

        .sponsor-contact a:hover {
            border-color: #038ec4;
        }

        blockquote {
            border-left-color: #038ec4;
        }

        .main-header .main-nav ul li ul,
        .main-footer .instagram-widget-box {
            border-top-color: #038ec4;
        }

        #contact-popup .popup-wrapper {
            border-right-color: #038ec4;
        }

        .speakers-tabs .tabed-content .tabs-header ul li:before {
            -webkit-box-shadow: 0 0 0 0.9375rem #038ec4;
            box-shadow: 0 0 0 0.9375rem #038ec4;
        }

        .twitter-feed-block .twitter-feed-slider .slick-dots li.slick-active button:after {
            -webkit-box-shadow: 0 0 0 1px #038ec4;
            box-shadow: 0 0 0 1px #038ec4;
        }

        .page-popup .popup-inner-content .content-top-bar .inner-bar .title:after {
            background: #35c0f6;
        }

        .register-area .register-area-wrapper .register-image-wrapper:before,
        .speakers-tabs .tabed-content .tabs-header ul li .speaker-box:before {
            background-color: rgba(3,142,196,0.3);
        }

        .video-wrapper .video-toggle .video-btn-toggle .btn-holder:hover:before,
        .video-wrapper .video-toggle .video-btn-toggle .btn-holder:hover:after {
            border-color: transparent #004379 transparent transparent;
        }

        .single-post-meta .meta-list li.author-meta a:hover {
            color: #004379 !important;
        }

        .respond-form .submit-btn:hover,
        ul.page-numbers li a:hover,
        .blog-post-item .hover-box .btn,
        .main-header .top-tickets:hover,
        .subscribe-form .submit-btn:hover,
        .video-wrapper .video-toggle .video-btn-toggle .btn-holder:hover {
            background: #004379 !important;
        }

        .page-popup .popup-inner-content .content-top-bar .inner-bar .icon,
        .page-popup .ticket-wrapper .ticket-tab,
        .page-popup .popup-inner-content .content-top-bar,
        .register-form .cart_form .add_to_cart,
        .pricing-table .buy-btn,
        .pricing-table .add_to_cart {
            background: #004379;
        }

            .page-popup .popup-inner-content .content-top-bar .inner-bar:hover {
                background: #00164c;
            }

            .page-popup .popup-inner-content .content-top-bar .inner-bar .icon {
                border: 0.3rem solid rgba(3,142,196,0.95);
            }

        h1, h2, .event-info .event-name, .speakers-tabs .tabed-content .tabs-body .theme-title, .pricing-table .table-header .table-price, .register-area .register-area-wrapper .register-image-wrapper .box-inner-content h2, .blog-post-box .blog-post-body .inner-content .post-title, .main-footer .instagram-widget-box .box-caption, .single-post-cover .meta-information .single-post-title {
            font-family: Raleway;
        }

        h3, h4, h5, .event-info .event-date, .video-wrapper .video-toggle .title, .pricing-table .table-header .table-name, .twitter-feed-block .twitter-feed-slider .tweet, .register-form.light-theme .form-caption, .blog-post-box .blog-post-body .inner-content .date, .main-footer .main-footer-area .subscribe-form-title .text, .subscribe-form .form-input, .subscribe-form .submit-btn, .main-header .main-nav ul li {
            font-family: Raleway;
        }

            h6, p, .countdown-box .countdown-timmer .timmer-option .title, .pricing-table .table-body .table-description li:not(:last-of-type), .pricing-table .table-body .table-description li, .pricing-table .table-header .table-name .meta, .blog-post-box .blog-post-cover .hover-box .btn-wrapper .btn, .blog-post-box .blog-post-cover .post-categories li a, #contact-popup p, #contact-popup li a, .main-footer .main-footer-area .copyrigts {
                font-family: Raleway;
            }
    </style>
    <link rel="stylesheet" id="tt-theme-style-css" href="~/Content/perio-css-js/style(16).css" type="text/css" media="all">
    <link rel="stylesheet" id="js_composer_front-css" href="~/Content/perio-css-js/js_composer.min.css" type="text/css" media="all">
    <link rel="stylesheet" id="lvca-frontend-styles-css" href="~/Content/perio-css-js/lvca-frontend.css" type="text/css" media="all">
    <link rel="stylesheet" id="lvca-icomoon-styles-css" href="~/Content/perio-css-js/icomoon(1).css" type="text/css" media="all">
    <link rel="stylesheet" id="__EPYT__style-css" href="~/Content/perio-css-js/ytprefs.min.css" type="text/css" media="all">
    <style id="__EPYT__style-inline-css" type="text/css">
        .epyt-gallery-thumb {
            width: 33.333%;
        }
    </style>
    <link rel="stylesheet" id="testimonials_bxslider_css-css" href="~/Content/perio-css-js/jquery.bxslider.css" type="text/css" media="all">
    <script type="text/javascript">
        /* <![CDATA[ */
        var tesla_ajax = { "url": "\/\/www.drdds.com\/wp-admin\/admin-ajax.php", "nonce": "99dc4e2177" };
        tesla_ajax.actions = {
            speaker: {},
        };
        /* ]]> */
    </script>
    <script type="text/javascript" src="~/Content/perio-css-js/jquery.js"></script>
    <script type="text/javascript" src="~/Content/perio-css-js/jquery-migrate.min.js"></script>
    <script type="text/javascript">
        /* <![CDATA[ */
        var tc_ajax = { "ajaxUrl": "\/\/www.drdds.com\/wp-admin\/admin-ajax.php", "emptyCartMsg": "Are you sure you want to remove all tickets from your cart?", "success_message": "Ticket Added!", "imgUrl": "\/\/www.drdds.com\/wp-content\/plugins\/tickera-event-ticketing-system\/images\/ajax-loader.gif", "addingMsg": "Adding ticket to cart...", "outMsg": "In Your Cart", "cart_url": "\/\/www.drdds.com\/tickets-cart__trashed\/", "update_cart_message": "Please update your cart before proceeding." };
        /* ]]> */
    </script>
    <script type="text/javascript" src="~/Content/perio-css-js/cart.js"></script>
    <script type="text/javascript" src="~/Content/perio-css-js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/Content/perio-css-js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="~/Content/perio-css-js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="~/Content/perio-css-js/accordion.min.js"></script>
    <script type="text/javascript" src="~/Content/perio-css-js/slick.min.js"></script>
    <script type="text/javascript" src="~/Content/perio-css-js/spacer.min.js"></script>
    <script type="text/javascript" src="~/Content/perio-css-js/jquery.waypoints.min.js"></script>
    <script type="text/javascript" src="~/Content/perio-css-js/jquery.stats.min.js"></script>
    <script type="text/javascript" src="~/Content/perio-css-js/odometer.min.js"></script>
    <script type="text/javascript" src="~/Content/perio-css-js/piechart.min.js"></script>
    <script type="text/javascript" src="~/Content/perio-css-js/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="~/Content/perio-css-js/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="~/Content/perio-css-js/portfolio.min.js"></script>
    <script type="text/javascript" src="~/Content/perio-css-js/posts-carousel.min.js"></script>
    <script type="text/javascript" src="~/Content/perio-css-js/stats-bar.min.js"></script>
    <script type="text/javascript" src="~/Content/perio-css-js/tabs.min.js"></script>
    <script type="text/javascript" src="~/Content/perio-css-js/jquery.flexslider.min.js"></script>
    <script type="text/javascript" src="~/Content/perio-css-js/testimonials.min.js"></script>
    <script type="text/javascript" src="~/Content/perio-css-js/holder.js"></script>
    @*<script src="~/Content/perio-css-js/Newperio.js"></script>*@
    <script type="text/javascript">
        /* <![CDATA[ */
        var _EPYT_ = { "ajaxurl": "\/\/www.drdds.com\/wp-admin\/admin-ajax.php", "security": "4baaf937b3", "gallery_scrolloffset": "20", "eppathtoscripts": "\/\/www.drdds.com\/wp-content\/plugins\/youtube-embed-plus\/scripts\/", "epresponsiveselector": "[\"iframe.__youtube_prefs__\"]", "epdovol": "1", "version": "11.4", "evselector": "iframe.__youtube_prefs__[src], iframe[src*=\"youtube.com\/embed\/\"], iframe[src*=\"youtube-nocookie.com\/embed\/\"]" };
        /* ]]> */
    </script>
    <script type="text/javascript" src="~/Content/perio-css-js/ytprefs.min.js"></script>
    <script src="~/Content/perio-css-js/iframe_api.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Content/perio-css-js/jquery.bxslider.min.js"></script>
    <link rel="https://api.w.org/" href="//www.drdds.com/wp-json/">
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="//www.drdds.com/xmlrpc.php?rsd">
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="//www.drdds.com/wp-includes/wlwmanifest.xml">
    <meta name="generator" content="WordPress 4.6.1">
    <link rel="shortlink" href="//www.drdds.com/?p=196">
    <link rel="alternate" type="application/json+oembed" href="//www.drdds.com/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fwww.drdds.com%2Faap2016%2F">
    <link rel="alternate" type="text/xml+oembed" href="//www.drdds.com/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fwww.drdds.com%2Faap2016%2F&amp;format=xml">
    <style type="text/css">
        /* PAGE CSS */ h1, h2, h3, h4, h5 {
            font-family: Raleway;
            font-weight: 800;
            color: #444;
        }

        h2 {
            font-size: 22px;
        }

        p {
            text-align: justify;
        }
        /* BUTTON CSS */

        .btn {
            color: #038dc4;
            font-size: 16px;
            padding: 10px 20px 10px 20px;
            border: solid #038dc4 2px;
            text-decoration: none;
        }

            .btn:hover {
                color: #ffffff;
                background: #038ec4;
                text-decoration: none;
            }
        /* LiveMesh Tabs */

        .lvca-tabs .lvca-tab-nav {
            justify-content: center;
        }
        /*It will affect all tabs. To make specific to style 4 - .lvca-tabs.lvca-style4 .lvca-tab-nav { justify-content: center;}*/ /* Contact Form 7 */

        .wpcf7 textarea {
            height: 125px !important;
        }

        .wpcf7 input[type="text"], .wpcf7 input[type="email"], .wpcf7 input[type="tel"], .wpcf7 textarea {
            background-color: transparent;
            color: #fff;
            border: 1px solid #848484;
            width: 100%;
            margin: 5px;
            padding-left: 10px;
        }

        .wpcf7 input[type="submit"] {
            color: #038dc4;
            font-size: 16px;
            padding: 10px 20px 10px 20px;
            border: solid #038dc4 2px;
            text-decoration: none;
            background: none;
            width: 100%;
            margin: 5px;
        }

            .wpcf7 input[type="submit"]:hover {
                color: #ffffff;
                background: #038ec4;
                text-decoration: none;
            }

        ::-webkit-input-placeholder { /* WebKit browsers */
            padding-left: 0px !important;
        }

        :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
            padding-left: 10px !important;
        }

        ::-moz-placeholder { /* Mozilla Firefox 19+ */
            padding-left: 10px !important;
        }

        :-ms-input-placeholder { /* Internet Explorer 10+ */
            padding-left: 10px !important;
        }
    </style><!-- Generated by Simple CSS - https://wordpress.org/plugins/simple-css/ -->
    <script type="text/javascript">var ajaxurl = '//www.drdds.com/wp-admin/admin-ajax.php';</script>
    <style type="text/css">
        .recentcomments a {
            display: inline !important;
            padding: 0 !important;
            margin: 0 !important;
        }
    </style>
    <meta name="generator" content="Powered by Visual Composer - drag and drop page builder for WordPress.">
    <!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="//www.drdds.com/wp-content/plugins/js_composer/assets/css/vc_lte_ie9.min.css" media="screen"><![endif]--><!--[if IE  8]><link rel="stylesheet" type="text/css" href="//www.drdds.com/wp-content/plugins/js_composer/assets/css/vc-ie8.min.css" media="screen"><![endif]-->
    <meta name="generator" content="Powered by Slider Revolution 5.2.6 - responsive, Mobile-Friendly Slider Plugin for WordPress with comfortable drag and drop interface.">
    <style type="text/css" data-type="vc_custom-css">
        @@media (max-width: 500px) {
            .mobile-hide-me {
                display: none;
            }
        }

        footer {
            display: none;
        }

        .page-announcement p {
            font-size: 32px;
            font-family: Open Sans;
            font-weight: 800;
            font-style: normal;
            color: #444;
            line-height: 30px;
        }

        .pricing-button {
            width: 100%;
        }

        .signup-button {
            width: 100%;
            height: 50px;
            background-color: #10ABED;
            font-family: "Open Sans";
            font-weight: 900;
            font-size: 32px;
            color: #fff;
        }

        .white {
            color: #fff !important;
        }

        table, th, td {
            border: 0px;
        }

        tr {
            padding: 0 15px !important;
        }
    </style>
    <style type="text/css" data-type="vc_shortcodes-custom-css">
        .vc_custom_1473184092473 {
            padding-top: 30px !important;
            padding-bottom: 30px !important;
            background-color: #f3f3f3 !important;
        }

        .vc_custom_1473188541455 {
            margin-top: 20px !important;
        }

        .vc_custom_1473461093333 {
            padding-top: 40px !important;
            padding-bottom: 20px !important;
            background-color: #f2f2f2 !important;
        }

        .vc_custom_1473461115813 {
            padding-top: 20px !important;
        }

        .vc_custom_1473189835577 {
            margin-top: 0px !important;
            margin-bottom: 0px !important;
        }

        .vc_custom_1473188743712 {
            margin-bottom: 0px !important;
        }

        .vc_custom_1473188703241 {
            margin-top: 0px !important;
            margin-bottom: 0px !important;
            background-color: #444444 !important;
        }

        .vc_custom_1473456999847 {
            background-color: #ffffff !important;
        }

        .vc_custom_1473457078926 {
            margin-top: -20px !important;
            margin-bottom: 20px !important;
            background-color: #17335c !important;
        }

        .vc_custom_1473457009241 {
            background-color: #ffffff !important;
        }

        .vc_custom_1473457160201 {
            margin-top: 0px !important;
            margin-bottom: 0px !important;
        }

        .vc_custom_1473458070367 {
            margin-top: 0px !important;
            margin-bottom: 20px !important;
        }

        .vc_custom_1473458220843 {
            margin-top: 40px !important;
            margin-bottom: 20px !important;
        }

        .vc_custom_1473457168448 {
            margin-top: 0px !important;
            margin-bottom: 0px !important;
        }

        .vc_custom_1473457365879 {
            margin-top: 0px !important;
            margin-bottom: 20px !important;
        }
    </style>
    <noscript>&lt;style type="text/css"&gt; .wpb_animate_when_almost_visible { opacity: 1; }&lt;/style&gt;</noscript>
    <style id="holderjs-style" type="text/css">
        .holderjs-fluid {
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            font-family: sans-serif;
            margin: 0;
        }
    </style>
    <script type="text/javascript" charset="UTF-8" src="~/Content/perio-css-js/common.js"></script>
    <script type="text/javascript" charset="UTF-8" src="~/Content/perio-css-js/util.js"></script>
    <script type="text/javascript" charset="UTF-8" src="~/Content/perio-css-js/stats.js"></script>
</head>
<body id="page" class="page page-id-196 page-template page-template-page-lander page-template-page-lander-php wpb-js-composer js-comp-ver-4.12 vc_responsive dom-ready" data-smooth-scroll="on">
    <!-- Page Content -->
    <div class="page-wrapper">
        <!-- Main Header -->
        <!--
                <header class="main-header">

                    <a href="//www.drdds.com/" style="" class="home-url" >
                    <img src="//www.brightwhite.com/drdds-wp2016/wp-content/uploads/2016/08/logo-1.png" alt="Dental Marketing, Online Dentists Database">
            </a>
                    <span class="mobile-nav-toggle">
                       <i class="line"></i>
                       <i class="line"></i>
                       <i class="line"></i>
                    </span>

                    <nav class="main-nav">
                        <span class="active-indicator"></span>
                        <ul class="clean-list">
                            <li id="menu-item-26" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-26"><a href="//www.drdds.com">Home</a></li>
        <li id="menu-item-25" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-25"><a href="//www.drdds.com/#home-welcome">About Us</a></li>
        <li id="menu-item-28" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-28"><a href="//www.drdds.com/#home-team">Our Team</a></li>
        <li id="menu-item-98" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-98"><a href="//www.drdds.com/#home-services">Services</a></li>
        <li id="menu-item-99" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-99"><a href="//www.drdds.com/#home-pricing">Pricing</a></li>
        <li id="menu-item-100" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-100"><a href="//www.drdds.com/#home-contact">Contact Us</a></li>
                        </ul>
                    </nav>

                    <div class="top-tickets"></div>        </header>
                -->
        <!-- Content Wrapper -->
        <div class="content-wrapper">
            <div class="head-clear"></div><!-- Main Content -->
            <section class="wrapping-row">
                <div data-vc-full-width="true" data-vc-full-width-init="true" class="vc_row wpb_row vc_row-fluid standard vc_custom_1473184092473 vc_row-has-fill vc_row-o-content-middle vc_row-flex" style="position:relative; left:15px; box-sizing:border-box; width:1759px; padding-left:0px; padding-right:0px;">
                    <div class="container">
                        <div class="wpb_column vc_column_container vc_col-sm-4">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper">
                                    <div class="wpb_single_image wpb_content_element vc_align_center vc_custom_1473189835577">

                                        <figure class="wpb_wrapper vc_figure">
                                            <div class="vc_single_image-wrapper vc_box_border_grey"><img width="300" height="111" src="~/Content/perio-css-js/recordlinc-300x111.png" class="vc_single_image-img attachment-medium" alt="recordlinc" sizes="(max-width: 300px) 100vw, 300px"></div>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner "><div class="wpb_wrapper"></div></div></div><div class="wpb_column vc_column_container vc_col-sm-4">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper">
                                    <div class="wpb_text_column wpb_content_element ">
                                        <div class="wpb_wrapper">
                                            <p style="margin: 0px; padding: 0; text-align: right;">CALL NOW</p>
                                            <h2 style="font-size:32px; font-family:&#39; OpenSans&#39; sans-serif; font-weight: 900; margin: 0; padding: 0; text-align:right;">(888) 840-8309</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section><div class="vc_row-full-width"></div><section class="container">
                <div class="vc_row wpb_row vc_row-fluid standard">
                    <div>
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper">
                                    <div class="vc_empty_space" style="height:32px"><span class="vc_empty_space_inner"></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section><section class="container">
                <div class="vc_row wpb_row vc_row-fluid standard">
                    <div>
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper">
                                    <div class="wpb_text_column wpb_content_element  vc_custom_1473188743712 page-announcement">
                                        <div class="wpb_wrapper">
                                            <p style="text-align:center;"> Don’t Miss This Limited Time Special Offer!</p>
                                        </div>
                                    </div>
                                    <div class="wpb_single_image wpb_content_element vc_align_center">

                                        <figure class="wpb_wrapper vc_figure">
                                            <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1649" height="333" src="~/Content/perio-css-js/get-more-referrals.jpg" class="vc_single_image-img attachment-full" alt="get-more-referrals" sizes="(max-width: 1649px) 100vw, 1649px"></div>
                                        </figure>
                                    </div>
                                    <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                        <div class="wpb_column vc_column_container vc_col-sm-8">
                                            <div class="vc_column-inner ">
                                                <div class="wpb_wrapper">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p>We’re extending this exclusive offer beyond the <strong>American Academy of Periodontists</strong> in San Diego to ANYONE during this same period! So if you can’t make it, you won’t miss out on our offer. &nbsp;Fill out the form and one of our <strong>RecordLinc</strong> professionals will contact you.</p>
                                                        </div>
                                                    </div>
                                                    <div class="wpb_single_image wpb_content_element vc_align_center">

                                                        <figure class="wpb_wrapper vc_figure">
                                                            <div class="vc_single_image-wrapper vc_box_border_grey"><img width="1504" height="455" src="~/Content/perio-css-js/50off.jpg" class="vc_single_image-img attachment-full" alt="50off" sizes="(max-width: 1504px) 100vw, 1504px"></div>
                                                        </figure>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><div class="wpb_column vc_column_container vc_col-sm-4 vc_col-has-fill">
                                            <div class="vc_column-inner vc_custom_1473188703241">
                                                <div class="wpb_wrapper">
                                                    <h2 style="font-size: 20px;color: #ffffff;text-align: left;font-family:Open Sans;font-weight:800;font-style:normal" class="vc_custom_heading">Don't Miss Out</h2><div role="form" class="wpcf7" id="wpcf7-f223-p196-o1" lang="en-US" dir="ltr">
                                                        <div class="screen-reader-response"></div>

                                                        @*<script type="text/javascript" src="https://form.jotform.com/jsform/62527239721962"></script>*@

                                                         
                                                        <form action="//www.drdds.com/aap2016/#wpcf7-f223-p196-o1" method="post" class="wpcf7-form">
                                                        <div style="display: none;">
                                                        <input type="hidden" name="_wpcf7" value="223">
                                                        <input type="hidden" name="_wpcf7_version" value="4.5">
                                                        <input type="hidden" name="_wpcf7_locale" value="en_US">
                                                        <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f223-p196-o1">
                                                        <input type="hidden" name="_wpnonce" value="10263dcd56">
                                                        </div>
                                                        <p><span class="wpcf7-form-control-wrap f"><input type="text"  id="txtfirstname" name="f" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="First Name"></span><br>
                                                        <span class="wpcf7-form-control-wrap l"><input type="text"  id="txtlastname" name="l" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Last Name"></span><br>
                                                        <span class="wpcf7-form-control-wrap e"><input type="email"  id="txtemail" name="e" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="email@email.com"></span><br>
                                                        <span class="wpcf7-form-control-wrap t"><input type="tel"  name="t" id="txtphone" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel" aria-required="true" aria-invalid="false" placeholder="xxx-xxx-xxxx"></span></p>
                                                        <p><input type="submit" value="Send" class="wpcf7-form-control wpcf7-submit" onclick="submitform()"><img class="ajax-loader" src="~/Content/perio-css-js/ajax-loader.gif" alt="Sending ..." style="visibility:hidden;"></p>
                                                        <div class="wpcf7-response-output wpcf7-display-none wpcf7"></div></form>
                                                            
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section><section class="container">
                <div class="vc_row wpb_row vc_row-fluid standard vc_custom_1473188541455">
                    <div>
                        <div class="wpb_column vc_column_container vc_col-sm-6">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper">
                                    <div class="wpb_single_image wpb_content_element vc_align_center">

                                        <figure class="wpb_wrapper vc_figure">
                                            <div class="vc_single_image-wrapper vc_box_border_grey"><img class="vc_single_image-img " src="~/Content/perio-css-js/connect-simplify-grow-387x165.jpg" width="387" height="165" alt="connect-simplify-grow" title="connect-simplify-grow"></div>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div><div class="wpb_column vc_column_container vc_col-sm-6">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper">
                                    <div class="wpb_single_image wpb_content_element vc_align_center">

                                        <figure class="wpb_wrapper vc_figure">
                                            <div class="vc_single_image-wrapper vc_box_border_grey"><img class="vc_single_image-img " src="~/Content/perio-css-js/checklist-555x165.jpg" width="555" height="165" alt="checklist" title="checklist"></div>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section><section class="wrapping-row">
                <div data-vc-full-width="true" data-vc-full-width-init="true" class="vc_row wpb_row vc_row-fluid standard vc_custom_1473461093333 vc_row-has-fill vc_row-o-equal-height vc_row-o-content-middle vc_row-flex" style="position: relative; left: 15px; box-sizing: border-box; width: 1759px; padding-left: 0px; padding-right: 0px;">
                    <div class="container">
                        <div class="wpb_column vc_column_container vc_col-sm-4 vc_col-has-fill">
                            <div class="vc_column-inner vc_custom_1473456999847">
                                <div class="wpb_wrapper">
                                    <div class="wpb_single_image wpb_content_element vc_align_center">

                                        <figure class="wpb_wrapper vc_figure">
                                            <div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="~/Content/perio-css-js/free-trail-160x160.png" width="160" height="160" alt="free-trail" title="free-trail"></div>
                                        </figure>
                                    </div>
                                    <div class="wpb_text_column wpb_content_element ">
                                        <div class="wpb_wrapper">
                                            <p></p><center><a class="signup-button" href="https://www.recordlinc.com/Signuptoday">Sign Up Now</a></center><p></p>
                                        </div>
                                    </div>
                                    <div class="wpb_text_column wpb_content_element ">
                                        <div class="wpb_wrapper">
                                            <table style="border:none !important;" width="100%">
                                                <tbody>
                                                    <tr style="border-bottom: 1px solid #ccc;">
                                                        <td style="text-align: left;">Receive Messages</td>
                                                        <td style="text-align: right; color: #10abed;" width="100">1</td>
                                                    </tr>
                                                    <tr style="border-bottom: 1px solid #ccc;">
                                                        <td style="text-align: left;">View Attachments</td>
                                                        <td style="text-align: right; color: #10abed;">limited</td>
                                                    </tr>
                                                    <tr style="border-bottom: 1px solid #ccc;">
                                                        <td style="text-align: left;">Update Profile</td>
                                                        <td style="text-align: right; color: #10abed;">limited</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="vc_empty_space  mobile-hide-me" style="height: 231px"><span class="vc_empty_space_inner"></span></div>
                                </div>
                            </div>
                        </div><div class="wpb_column vc_column_container vc_col-sm-4 vc_col-has-fill">
                            <div class="vc_column-inner vc_custom_1473457078926">
                                <div class="wpb_wrapper">
                                    <h2 style="font-size: 32px;color: #10abed;text-align: center;font-family:Open Sans;font-weight:700;font-style:normal" class="vc_custom_heading vc_custom_1473457160201">Dentist Package</h2><h2 style="font-size: 20px;color: #ffffff;line-height: 18px;text-align: center;font-family:Open Sans;font-weight:400;font-style:normal" class="vc_custom_heading vc_custom_1473458070367">
                                        Ideal for General Dentists<br>
                                        with full functionality
                                    </h2><h2 style="font-size: 36px;color: #ffffff;line-height: 18px;text-align: center;font-family:Open Sans;font-weight:400;font-style:normal" class="vc_custom_heading vc_custom_1473458220843">Starts at $47/mo</h2>
                                    <div class="wpb_text_column wpb_content_element  white">
                                        <div class="wpb_wrapper">
                                            <p style="text-align: center;"><span style="color: #ffffff;"><strong>12mo – 24mo – 36mo OPTIONS</strong></span></p>
                                        </div>
                                    </div>
                                    <div class="wpb_text_column wpb_content_element ">
                                        <div class="wpb_wrapper">
                                            <p></p><center><a class="signup-button" href="https://www.recordlinc.com/FreeToPaid">Buy Now</a></center><p></p>
                                        </div>
                                    </div>
                                    <div class="wpb_text_column wpb_content_element ">
                                        <div class="wpb_wrapper">
                                            <table width="100%">
                                                <tbody>
                                                    <tr style="border-bottom: 1px solid #10ABED;">
                                                        <td class="white" style="text-align: left;">Internal Accounts</td>
                                                        <td style="text-align: right; color: #10abed;" width="100">5</td>
                                                    </tr>
                                                    <tr style="border-bottom: 1px solid #10ABED;">
                                                        <td class="white" style="text-align: left;">Data Archiving</td>
                                                        <td style="text-align: right; color: #10abed;" width="100">unlimited</td>
                                                    </tr>
                                                    <tr style="border-bottom: 1px solid #10ABED;">
                                                        <td class="white" style="text-align: left;">Secure Messaging</td>
                                                        <td style="text-align: right; color: #10abed;" width="100">•</td>
                                                    </tr>
                                                    <tr style="border-bottom: 1px solid #10ABED;">
                                                        <td class="white" style="text-align: left;">Attachments</td>
                                                        <td style="text-align: right; color: #10abed;" width="100">•</td>
                                                    </tr>
                                                    <tr style="border-bottom: 1px solid #10ABED;">
                                                        <td class="white" style="text-align: left;">Electronic Patient Forms</td>
                                                        <td style="text-align: right; color: #10abed;" width="100">•</td>
                                                    </tr>
                                                    <tr style="border-bottom: 1px solid #10ABED;">
                                                        <td class="white" style="text-align: left;">Customer Support</td>
                                                        <td style="text-align: right; color: #10abed;" width="100">•</td>
                                                    </tr>
                                                    <tr style="border-bottom: 1px solid #10ABED;">
                                                        <td class="white" style="text-align: left;">Activities Dashboard</td>
                                                        <td style="text-align: right; color: #10abed;" width="100">•</td>
                                                    </tr>
                                                    <tr style="border-bottom: 1px solid #10ABED;">
                                                        <td class="white" style="text-align: left;">New Patient Leads</td>
                                                        <td style="text-align: right; color: #10abed;" width="100">•</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="wpb_column vc_column_container vc_col-sm-4 vc_col-has-fill">
                            <div class="vc_column-inner vc_custom_1473457009241">
                                <div class="wpb_wrapper">
                                    <h2 style="font-size: 32px;color: #10abed;text-align: center;font-family:Open Sans;font-weight:700;font-style:normal" class="vc_custom_heading vc_custom_1473457168448">Specialist Package</h2><h2 style="font-size: 20px;color: #10abed;line-height: 18px;text-align: center;font-family:Open Sans;font-weight:400;font-style:normal" class="vc_custom_heading vc_custom_1473457365879">For Dental Specialists &amp; Labs</h2>
                                    <div class="wpb_text_column wpb_content_element ">
                                        <div class="wpb_wrapper">
                                            <h3 style="text-align: center; margin-bottom: 0px;"><strong>3 PACKAGE&nbsp;OPTIONS</strong></h3>
                                            <p style="text-align: center;">
                                                • 10 Colleauges &nbsp;• 20 Colleauges<br>
                                                • UNLIMITED Colleauges
                                            </p>
                                        </div>
                                    </div>
                                    <div class="wpb_text_column wpb_content_element ">
                                        <div class="wpb_wrapper">
                                            <p></p><center><a class="signup-button" href="https://www.recordlinc.com/FreeToPaid">Buy Now</a></center><p></p>
                                        </div>
                                    </div>
                                    <div class="wpb_text_column wpb_content_element ">
                                        <div class="wpb_wrapper">
                                            <table width="100%">
                                                <tbody>
                                                    <tr style="border-bottom: 1px solid #ccc;">
                                                        <td style="text-align: left;">Internal Accounts</td>
                                                        <td style="text-align: right; color: #10abed;" width="100">unlimited</td>
                                                    </tr>
                                                    <tr style="border-bottom: 1px solid #ccc;">
                                                        <td style="text-align: left;">Data Archiving</td>
                                                        <td style="text-align: right; color: #10abed;" width="100">unlimited</td>
                                                    </tr>
                                                    <tr style="border-bottom: 1px solid #ccc;">
                                                        <td style="text-align: left;">Secure Messaging</td>
                                                        <td style="text-align: right; color: #10abed;" width="100">•</td>
                                                    </tr>
                                                    <tr style="border-bottom: 1px solid #ccc;">
                                                        <td style="text-align: left;">Attachments</td>
                                                        <td style="text-align: right; color: #10abed;">•</td>
                                                    </tr>
                                                    <tr style="border-bottom: 1px solid #ccc;">
                                                        <td style="text-align: left;">Electronic Patient Forms</td>
                                                        <td style="text-align: right; color: #10abed;">•</td>
                                                    </tr>
                                                    <tr style="border-bottom: 1px solid #ccc;">
                                                        <td style="text-align: left;">Customer Support</td>
                                                        <td style="text-align: right; color: #10abed;">•</td>
                                                    </tr>
                                                    <tr style="border-bottom: 1px solid #ccc;">
                                                        <td style="text-align: left;">Activities Dashboard</td>
                                                        <td style="text-align: right; color: #10abed;">•</td>
                                                    </tr>
                                                    <tr style="border-bottom: 1px solid #ccc;">
                                                        <td style="text-align: left;">New Patient Leads</td>
                                                        <td style="text-align: right; color: #10abed;">•</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section><div class="vc_row-full-width"></div><section class="container">
                <div class="vc_row wpb_row vc_row-fluid standard vc_custom_1473461115813">
                    <div>
                        <div class="wpb_column vc_column_container vc_col-sm-12 vc_hidden-xs">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper">
                                    <div class="wpb_text_column wpb_content_element ">
                                        <div class="wpb_wrapper">
                                            <p style="text-align: center;">MONEY BACK GUARANTEE &nbsp; &nbsp;| &nbsp; ALWAYS 100% HIPAA COMPLIANT &nbsp; &nbsp;| &nbsp; EASY &amp; SECURE</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section><section class="container">
                <div class="vc_row wpb_row vc_row-fluid standard">
                    <div>
                        <div class="wpb_column vc_column_container vc_col-sm-12 vc_hidden-lg vc_hidden-md vc_hidden-sm">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper">
                                    <div class="wpb_text_column wpb_content_element ">
                                        <div class="wpb_wrapper">
                                            <p style="text-align: center;">
                                                MONEY BACK GUARANTEE<br>
                                                ALWAYS 100% HIPAA COMPLIANT<br>
                                                EASY &amp; SECURE
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="container"></div>        <!--Main Content End-->
        </div>
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- Main Footer Area -->
            <div class="main-footer-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-md-offset-8">
                            <div class="social-block-wrapper">
                                <div class="inner-content">
                                    <p class="copyrigts">©2016 <a target="blank" href="//www.drdds.com/">DrDDS.com</a>. All Rights Reserved. <br.><br>Landing pages by <a target="blank" href="//www.drdds.com/">DrDDS.com</a></br.></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <link rel="stylesheet" id="vc_google_fonts_open_sans300300italicregularitalic600600italic700700italic800800italic-css" href="~/Content/perio-css-js/css(3)" type="text/css" media="all">
    <script type="text/javascript" src="~/Content/perio-css-js/jquery.form.min.js"></script>
    <script type="text/javascript">
        /* <![CDATA[ */
        var _wpcf7 = { "loaderUrl":"\/\/www.drdds.com\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif", "recaptcha": { "messages": { "empty": "Please verify that you are not a robot." } }, "sending": "Sending ..." };
        /* ]]> */
    </script>
    <script type="text/javascript" src="~/Content/perio-css-js/scripts.js"></script>
    <script type="text/javascript">
        /* <![CDATA[ */
        var ttSubscrConfig = { "error_class": "error", "required_class": "s_error", "required_msg": "Please insert email", "invalid_email_class": "invalid_email", "invalid_email_msg": "Invalid Email", "input_timeout": "1", "success_class": "success", "animation_done_class": "animation_done", "result_timeout": "3000", "result_container_selector": "#result-container", "date_format": "F j, Y, g:i a", "date_headline": "Date", "no_data_posted": "No data received", "error_open_create_files_msg": "Error writing to disk", "success_msg": "Successfully Subscribed", "error_writing_msg": "Couldn't write to file", "subscription_nonce": "b75306877f" };
        /* ]]> */
    </script>
    <script type="text/javascript" src="~/Content/perio-css-js/subscription.js"></script>
    <script type="text/javascript" src="~/Content/perio-css-js/js.js"></script>
    <script type="text/javascript" src="~/Content/perio-css-js/countdown.js"></script>
    <script type="text/javascript" src="~/Content/perio-css-js/fitvids.js"></script>
    <script type="text/javascript" src="~/Content/perio-css-js/infobox.js"></script>
    <script type="text/javascript" src="~/Content/perio-css-js/modernizr.js"></script>
    <script type="text/javascript" src="~/Content/perio-css-js/slick.js"></script>
    <script type="text/javascript" src="~/Content/perio-css-js/smooth-scroll.js"></script>
    <script type="text/javascript" src="~/Content/perio-css-js/options.js"></script>
    <script type="text/javascript" src="~/Content/perio-css-js/comment-reply.min.js"></script>
    <script type="text/javascript" src="~/Content/perio-css-js/lvca-frontend.min.js"></script>
    <script type="text/javascript" src="~/Content/perio-css-js/fitvids.min.js"></script>
    <script type="text/javascript" src="~/Content/perio-css-js/wp-embed.min.js"></script>
    <script type="text/javascript" src="~/Content/perio-css-js/js_composer_front.min.js"></script>
    <script type="text/javascript"></script>
    <script type="text/javascript">
        function submitform()
        {
            var FirstName = $("#txtfirstname").val();
            var LastName = $("#txtlastname").val();
            var email = $("#txtemail").val();
            var phone = $("#txtphone").val();
            $("#txtfirstname").prop('required', false);
            $("#txtlastname").prop('required', false);
            $("#txtemail").prop('required', false);
            $("#txtphone").prop('required', false);
            if (FirstName == "")
            {
                $("#txtfirstname").prop('required', true);
                $("#txtfirstname").focus();
                return false;
            }
            if (LastName == "")
            {
                $("#txtlastname").prop('required', true);
                $("#txtlastname").focus();
                return false;
            }
            if (email == "")
            {
                $("#txtemail").prop('required', true);
                $("#txtemail").focus();
                return false;
            }
            if (phone == "")
            {
                $("#txtphone").prop('required', true);
                $("#txtphone").focus();
                return false;
            }
           
            $.post("/perio/SubmitForm", { FirstName: FirstName, LastName: LastName, Email: email, Phone: phone },
            function (data) {
                if(true)
                {
                    window.location.reload();
                }
            });
        }
    </script>
</body>
</html>