﻿

<div class="admin_section row row-offcanvas row-offcanvas-left">
    <div class="sidebar-offcanvas  columns-holder">
        <footer id="footer" class="pad-23">
            <div class="container">
                <div class="row">
                    <!-- <div class="copyright_area col-xs-12"> <span>&copy; 2016 <a href="/">Ad Social.com</a> - All rights reserved</span> </div> -->
                    <ul>
                        <li><a href="http://qa.recordlinc.com/DashBoard/PrivacyPolicy" target="_blank">Privacy Policy</a></li>
                        <li><a href="http://qa.recordlinc.com/DashBoard/TermsAndConditions" target="_blank">Terms & Conditions</a></li>
                        <li><a href="http://qa.recordlinc.com/DashBoard/ContactUs" target="_blank">Contact</a></li>
                        <li><a href="http://qa.recordlinc.com/DashBoard/Help" target="_blank">Help & Training</a></li>

                        @*<li><a href="https://www.recordlinc.com/DashBoard/PrivacyPolicy" target="_blank">Privacy Policy</a></li>
                        <li><a href="https://www.recordlinc.com/DashBoard/TermsAndConditions" target="_blank">Terms & Conditions</a></li>
                        <li><a href="https://www.recordlinc.com/DashBoard/ContactUs" target="_blank">Contact</a></li>
                        <li><a href="https://www.recordlinc.com/DashBoard/Help" target="_blank">Help & Training</a></li>*@
                    </ul>
                </div>
            </div>
        </footer>
    </div>
</div>


