﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>ScoreCard Reports :: @ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/css/dashboard.css" media="all">
    <link rel="icon" href="~/images/fav-ico.png" type="image/png" sizes="15x15">
    <script src="~/js/jquery-3.1.1.js"></script>
    <script src="~/Scripts/js/custom.js"></script>
    <link rel="stylesheet" href="~/Content/style.css">
</head>
<body>
    <div id="wrapper" class="admin_section row row-offcanvas row-offcanvas-left">
        @{
            Html.RenderPartial("_Top_Layout");
        }
        <div class="container">
            @*@{
                    Html.RenderPartial("_Toggle_Button");
                }*@
        </div>
        <br />
        <div style="width:98%;margin:0 1% 4% 1%;font-size:12px">
            @RenderBody()
        </div>
        @{
            Html.RenderPartial("_Bottom_Layout");
        }
    </div>
</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {

        $("#btnsetting").click(function () {
            $("#modalshowhideforms").modal();
        });

        $("#btnSmartNumberHide").click(function () {
            $.ajax({
             type: "POST",
             url: '@Url.Action("AddData", "ReportTool")',
                data: "{ displayID: '0', pageId: '2' , locationID : '0' }",
             contentType: "application/json; charset=utf-8",
             dataType: "html",
             success: function (data) {
             }
            });

        });
        $("#btnSmartNumberShow").click(function () {
            $.ajax({
             type: "POST",
             url: '@Url.Action("AddData", "ReportTool")',
                data: "{ displayID: '1', pageId: '2' , locationID : '0' }",
             contentType: "application/json; charset=utf-8",
             dataType: "html",
             success: function (data) {
             }
            });
        });

        $("#btnOfficeHoursHide").click(function () {
            $.ajax({
             type: "POST",
             url: '@Url.Action("AddData", "ReportTool")',
                data: "{ displayID: '0', pageId: '4' , locationID : '0' }",
             contentType: "application/json; charset=utf-8",
             dataType: "html",
             success: function (data) {
             }
            });

        });
        $("#btnOfficeHoursShow").click(function () {
            $.ajax({
             type: "POST",
             url: '@Url.Action("AddData", "ReportTool")',
                data: "{ displayID: '1', pageId: '4' , locationID : '0' }",
             contentType: "application/json; charset=utf-8",
             dataType: "html",
             success: function (data) {
             }
            });
        });

        $("#btnHygeneReportHide").click(function () {
            $.ajax({
             type: "POST",
             url: '@Url.Action("AddData", "ReportTool")',
                data: "{ displayID: '0', pageId: '7' , locationID : '0' }",
             contentType: "application/json; charset=utf-8",
             dataType: "html",
             success: function (data) {
             }
            });

        });
        $("#btnHygeneReportShow").click(function () {
            $.ajax({
             type: "POST",
             url: '@Url.Action("AddData", "ReportTool")',
                data: "{ displayID: '1', pageId: '7' , locationID : '0' }",
             contentType: "application/json; charset=utf-8",
             dataType: "html",
             success: function (data) {
             }
            });
        });

        $("#btnIndividualReportHide").click(function () {
            $.ajax({
             type: "POST",
             url: '@Url.Action("AddData", "ReportTool")',
                data: "{ displayID: '0', pageId: '8' , locationID : '0' }",
             contentType: "application/json; charset=utf-8",
             dataType: "html",
             success: function (data) {
             }
            });

        });
        $("#btnIndividualReportShow").click(function () {
            $.ajax({
             type: "POST",
             url: '@Url.Action("AddData", "ReportTool")',
                data: "{ displayID: '1', pageId: '8' , locationID : '0' }",
             contentType: "application/json; charset=utf-8",
             dataType: "html",
             success: function (data) {
             }
            });

        });

        $("#btnStatsReportHide").click(function () {
            $.ajax({
             type: "POST",
             url: '@Url.Action("AddData", "ReportTool")',
                data: "{ displayID: '0', pageId: '9' , locationID : '0' }",
             contentType: "application/json; charset=utf-8",
             dataType: "html",
             success: function (data) {
             }
            });

        });
        $("#btnStatsReportShow").click(function () {
            $.ajax({
             type: "POST",
             url: '@Url.Action("AddData", "ReportTool")',
                data: "{ displayID: '1', pageId: '9' , locationID : '0' }",
             contentType: "application/json; charset=utf-8",
             dataType: "html",
             success: function (data) {
             }
            });

        });

        $("#btnPracticeProfileHide").click(function () {
            $.ajax({
             type: "POST",
             url: '@Url.Action("AddData", "ReportTool")',
                data: "{ displayID: '0', pageId: '5' , locationID : '0' }",
             contentType: "application/json; charset=utf-8",
             dataType: "html",
             success: function (data) {
             }
            });

        });
        $("#btnPracticeProfileShow").click(function () {
            $.ajax({
             type: "POST",
             url: '@Url.Action("AddData", "ReportTool")',
                data: "{ displayID: '1', pageId: '5' , locationID : '0' }",
             contentType: "application/json; charset=utf-8",
             dataType: "html",
             success: function (data) {
             }
            });

        });

        $("#btnCriticalNumberHide").click(function () {
            $.ajax({
             type: "POST",
             url: '@Url.Action("AddData", "ReportTool")',
                data: "{ displayID: '0', pageId: '1' , locationID : '0' }",
             contentType: "application/json; charset=utf-8",
             dataType: "html",
             success: function (data) {
             }
            });

        });
        $("#btnCriticalNumberShow").click(function () {
             $.ajax({
             type: "POST",
             url: '@Url.Action("AddData", "ReportTool")',
                data: "{ displayID: '1', pageId: '1' , locationID : '0' }",
             contentType: "application/json; charset=utf-8",
             dataType: "html",
             success: function (data) {
             }
            });

        });

        $(".toggle-menu").click(function () {
            $(".header-nav").slideToggle();
        });

        $("#btnShowHide").click(function () {
            $("#toggleButton").show();
        });

        $("#btnsetting").click(function () {
            $("#modalshowhideforms").modal();
        });
    });
</script>
<script src="~/js/jquery-3.1.1.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/sitescript.js"></script>
<script src="~/js/togglebtn.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<script src="~/js/jquery.steps.js"></script>
<script src="~/js/jcf.js"></script>
