﻿
<div class="new-case case-overview patinet patient_form rl-profile1 security" id="toggleButtonNew">
    <div class="row">
        <div class="col-lg-12">
            <form role="form" method="post">
                <div id="wizard">
                    <div class="wizard-inner">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="">
                                <a href="~/ReportNew/Appointment_Reports/@Session["LocationId"]?Page=3" id="btnsmart" role="tab" aria-expanded="true">Appointments</a>
                            </li>
                            <li role="presentation" class="">
                                <a href="~/ReportNew/Daily_Sheet_Reports/@Session["LocationId"]?Page=3" id="btnDaily_Sheet_Reports" aria-controls="Daily_Sheet_Reports" role="tab" aria-expanded="false">Daily Sheet Reports</a>
                            </li>
                            <li role="presentation" class="">
                                <a href="~/ReportNew/New_Patient_Summary/@Session["LocationId"]?Page=3" id="btnNew_Patient_Summary" aria-controls="New_Patient_Summary" role="tab" aria-expanded="true">Patient Summary</a>
                            </li>
                            <li role="presentation" class="">
                                <a href="~/ReportNew/Operatory_Appointment_List/@Session["LocationId"]?Page=3" id="btnOperatory_Appointment_List" role="tab" aria-expanded="false">Operatory Appointment List</a>
                            </li>
                            <li role="presentation" class="">
                                <a href="~/ReportNew/Schedule_Reports/@Session["LocationId"]?Page=3" id="btnSchedule_Reports" role="tab" aria-expanded="false">Schedule Reports</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

