﻿
@* Changes On 17-04-2019 *@
@{
    var _pageId = Request.QueryString["Page"];
}
<script type="text/javascript">
    $(document).ready(function () {
        if (@_pageId == '1')
        {
            $("#PageOne").addClass("active");
            $("#PageTwo").removeClass("active");
            $("#PageThree").removeClass("active");
            $("#PageFour").removeClass("active");
        }
        else if (@_pageId == '2')
        {
            $("#PageOne").removeClass("active");
            $("#PageTwo").addClass("active");
            $("#PageThree").removeClass("active");
        }
        else if (@_pageId == '3')
        {
            $("#PageOne").removeClass("active");
            $("#PageTwo").removeClass("active");
            $("#PageThree").addClass("active");
            $("#PageFour").removeClass("active");
        }
        else
        {
            $("#PageThree").removeClass("active");
            $("#PageOne").removeClass("active");
            $("#PageTwo").removeClass("active");
            $("#PageFour").addClass("active");
        }

        $("#btnsetting").click(function () {
            $("#PageOne").removeClass("active");
            $("#PageTwo").removeClass("active");
            $("#PageThree").removeClass("active");
            $("#PageFour").addClass("active");
        });
    });
</script>

<div class="top-section" id="top-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 logo-sec">
                <a class="hidden-xs" href="#" data-toggle="offcanvas"><img class="nav-icon-img" src="images/nav-bar.png" alt="Nav Bar Icon"></a>
                <li class="icons Setting dashboard-user">
                    <a href="~/Home/Index/@Session["LocationId"]"><img src="~/images/report-logo.png" alt="One Click Referral Logo" class="img-responsive center-block"></a>
                    <ul class="dropdown-menu dashboard-drop">
                        <li>
                            <h5 class="blue"><a href="~/Home/Index/@Session["LocationId"]">DashBoard</a></h5>
                        </li>
                    </ul>
                </li>
            </div>
            <div class="col-sm-3">
                <ul class="adminUser_area list-inline">
                    <li class="icons Setting text-right dashboard-user top-bar active" id="PageOne">
                        <a href="~/Home/Index/@Session["LocationId"]?Page=1">Dashboard</a>
                    </li>
                    <li class="icons Setting text-right dashboard-user top-bar" id="PageTwo">
                        <a href="~/Home/Reports/@Session["LocationId"]?Page=2" id="btnShowHide">Reports</a>
                    </li>
                    <li class="icons Setting text-right dashboard-user top-bar" id="PageThree">
                        <a href="~/ReportNew/Appointment_Reports/@Session["LocationId"]?Page=3" id="btnShowHide">New Reports</a>
                    </li>
                    <li class="icons Setting text-right dashboard-user top-bar" id="PageFour">
                        <a href="#" id="btnsetting">Settings</a>
                    </li>
                </ul>
            </div>
            @*<div class="col-sm-5">
                    <ul class="adminUser_area list-inline">
                        <li class="icons Setting text-right dashboard-user">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="true"><img src="~/images/menu-icon.png" alt="Questions" title="Menu" /></a>
                            <ul class="dropdown-menu dashboard-drop help">
                                <li>
                                    <a href="#">
                                        <img src="~/images/inbox_new.png" alt="Inbox" />
                                        <span>Inbox </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="~/images/menu_patient.png" alt="Patients" />
                                        <span>Patients</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="~/images/menu_colleague.png" alt="Colleagues" />
                                        <span>Colleagues</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="~/images/menu_report.png" alt="Reports" />
                                        <span>Reports</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="~/images/menu_plus.png" alt="Plans" />
                                        <span>Plans</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="~/images/menu_payment.png" alt="Payments" />
                                        <span>Payments</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="~/images/menu_portal.png" alt="Patient Portal" />
                                        <span>Patient Portal</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="~/images/Reward.png" alt="Patient Rewards" />
                                        <span>Patient Rewards</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="~/images/menu_reviews.png" alt="Patient Reviews" />
                                        <span>Patient Reviews</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="~/images/menu_referral.png" alt="Patient Referrals" />
                                        <span>Patient Referrals</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="~/images/menu_hipaa.png" alt="Hipaa Compliance" />
                                        <span>Hipaa Compliance</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="~/images/menu_insurance.png" alt="Insurance Verification" />
                                        <span>Insurance Verification</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="~/images/menu_calender.png" alt="Scheduling" />
                                        <span>Scheduling</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="~/images/Reminder.png" alt="Reminders" />
                                        <span>Reminders</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="~/images/Recall.png" alt="Recall" />
                                        <span>Recall</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="~/images/menu_cost.png" alt="Patient Cost Estimator" />
                                        <span>Patient Cost Estimator</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="Setting text-right">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="true">
                                <span>Greg</span>
                                <i class="icon-down_arrow_top"></i>
                                <img src="~/images/Greg.png" alt="Greg">
                            </a>
                            <ul class="dropdown-menu dropdown-user profile">
                                <li><a href="#"><span>Customize Reports</span></a></li>
                                <li><a href="Settings.html"><span>Reports Setting</span></a></li>
                                <li><a href="#"><span>Help</span></a></li>
                                <li class="active"><a href="#"><span>Logout</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>*@
        </div>
    </div>
</div>

@{
    Html.RenderPartial("_PartialSettingView");
}




