﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link href="~/Content/newDashBoard/css/font-awesome_4_7_0.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/newDashBoard/css/bootstrap.min.css" rel="stylesheet" />
    @*<link href="/css/bootstrap.min.css" rel="stylesheet">*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Content/newDashBoard/css/dashboard.css" media="all">
    <link rel="icon" href="~/Content/newDashBoard/images/fav-ico.png" type="image/png" sizes="15x15">

    <link href="~/Content/css/autocomplete.css" rel="stylesheet" />
<style>
    .smooth-scroll {
        position: fixed;
        bottom: 110px;
        right: 30px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #0890c4;
        color: #fff;
        text-align: center;
        font-size: 16px;
        line-height: 26px;
        z-index: 99999;
    }
        .smooth-scroll:focus, .smooth-scroll:hover {
            background: #515961;
            color: #fff;
        }   
    .back-to-top {
        display: none;
    }
</style>
    <script src="~/Content/newDashBoard/js/jquery-3.1.1.js"></script>
</head>
<body>
    <div id="wrapper" class="admin_section row row-offcanvas row-offcanvas-left">
        <div class="sidebar-offcanvas  columns-holder">
            <div class="top-section">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4 logo-sec">
                            <a class="hidden-xs" data-toggle="offcanvas"><img class="nav-icon-img" src="~/Content/newDashBoard/images/nav-bar.png" alt="Nav Bar Icon"></a>
                            <li class="icons Setting dashboard-user">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;" aria-expanded="true"><img src="~/Content/newDashBoard/images/logo.png" alt="RecordLink" class="img-responsive center-block"></a>
                                <ul class="dropdown-menu dashboard-drop">
                                    <li><h5 class="blue"><a href="/Dashboard">DashBoard</a></h5></li>
                                    <li>
                                        <div class="row">
                                            <div class="col-sm-6 col-sx-12">
                                                <h5><a href="/Inbox">Inbox</a></h5>
                                                <ul class="right-arr-list">
                                                    <li><a href="/Inbox/ComposeMessage">Compose Message</a></li>
                                                    <li><a href="/Inbox/sent">Sent</a></li>
                                                </ul>
                                                <h5><a href="/Profile">PROFILE</a></h5>
                                                <ul class="right-arr-list">
                                                    <li><a href="/Profile">Edit Profile</a></li>
                                                    <li><a href="/CostEstimator/Estimate%20Cost%20of%20Insurance">Estimate Cost Of Insurance</a></li>
                                                    <li><a href="/Reward">Reward</a></li>
                                                    <li><a href="/Reward/ManageSuperBucks">Manage SuperBucks</a></li>
                                                    <li><a href="/AccountSettings/ReferralFormSettings">Referral Form Settings</a></li>
                                                </ul>
                                                <h5><a href="/Patients">PATIENTS</a></h5>
                                                <ul class="right-arr-list">
                                                    <li><a href="/Patients">View Patients</a></li>
                                                    <li><a href="javascript:;" onclick="CheckAuthorization(@Convert.ToInt32(BO.Enums.Common.Features.New_Patient_Leads))">Add Patient</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-6 col-sx-12">
                                                <h5><a href="/Colleagues">COLLEAGUES</a></h5>
                                                <ul class="right-arr-list">
                                                    <li><a href="/Colleagues/SearchColleagues">Search Colleagues</a></li>
                                                    <li><a href="/Colleagues/InviteColleagues">Invite Colleagues</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-6 col-sx-12">
                                                <h5><a href="/Reports">Reports</a></h5>
                                                <ul class="right-arr-list">
                                                    <li><a href="/Patients/PatientSocialMedia">Patient Social Media</a></li>
                                                    <li><a href="/Colleagues/ColleagueSocialMedia">Colleague Social Media</a></li>
                                                    <li><a href="/Patients/PatientContactList">Patient Contact List</a></li>
                                                    <li><a href="/Colleagues/ColleagueContactList">Colleague Contact List</a></li>
                                                    <li><a href="/Patients/ReferralHistory">Referral History</a></li>
                                                    <li><a href='@Url.Action("PaymentHistory","ViewReports")'>Patient Payment History</a></li>
                                                </ul>
                                                <h5><a href="/FreeToPaid/UpgradeAccount">Upgrade</a></h5>
                                                <ul class="right-arr-list">
                                                    <li><a href="/FreeToPaid/UpgradeAccount">Upgrade Account</a></li>
                                                    <li><a href="/Merchant/MakeMerchant">Register ZiftPay</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </div>
                        <div class="col-sm-8">
                            <ul class="adminUser_area list-inline">
                                <li class="icons Setting text-right dashboard-user">
                                    <a href="#" id="btnReferral" onclick="OpenSendReferralPopup();" data-toggle="modal" data-target="#colleague_refer_patient" class="referral">Send Referral</a>
                                </li>
                                <li class="search text-right">
                                    <ul class="adminUser_area list-inline" id="search_main" style="float:left;">
                                        <hr class="for-res-as">
                                        <li class="search text-right">
                                            <div class="navbar-form " role="search">
                                                <div class="input-group">

                                                </div>
                                            </div>
                                        </li>
                                        <hr class="for-res-as">
                                    </ul>
                                </li>
                                <li class="icons Setting text-right dashboard-user">
                                    <a href="/Dashboard/Help"><img src="~/Content/css/NewAdmin/images/question.png" alt="Questions" title="Help" /></a>
                                </li>
                                <li class="Setting text-right">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="true">
                                        <span>@HttpContext.Current.Session["FirstName"]</span>
                                        <i class="icon-down_arrow_top"></i>
                                        <img src="@HttpContext.Current.Session["DoctorImage"]" height="45" width="45" style="border-radius:50%;" alt="@HttpContext.Current.Session["FirstName"]">
                                    </a>
                                    <ul class="dropdown-menu dropdown-user">
                                        <li><a href="/Profile/Index"><i class="fa fa-pencil"></i>Edit Profile</a></li>
                                        <li><a href="/AccountSettings/Index"><i class="fa fa-cog"></i>Account Settings</a></li>
                                        <li><a href="/AccountSettings/Integration"><i class="fa fa-user"></i>Integrations</a></li>
                                        <li><a href="/FreeToPaid/UpgradeAccount"><i class="fa fa-user"></i>Upgrade Account</a></li>
                                        <li><a href="/EmailOauth/Index"><i class="fa fa-user"></i>OAuth Integration</a></li>
                                        <li class="active"><a href="/User/Logout"><i class="fa fa-power-off"></i>Logout</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            @Html.Partial("PartialNewLeftSideInner")
            <div>
                @RenderBody()
            </div>
            <footer id="footer" class="pad-23">
                <a href="javascript:void(0)" class="smooth-scroll back-to-top" style="display:inline;"><i class="fa fa-angle-up"></i></a>
                <div class="container">
                    <div class="row">
                        <!-- <div class="copyright_area col-xs-12"> <span>&copy; 2016 <a href="/">Ad Social.com</a> - All rights reserved</span> </div> -->
                        <ul>
                            @*  <li><a href='@Url.Action("PrivacyPolicy", "Dashboard")'> Privacy Policy</a></li>
                                <li><a href='@Url.Action("TermsAndConditions", "Dashboard")'>Terms & Conditions</a></li>
                                <li><a href='@Url.Action("ContactUs", "Dashboard")'>Contact</a></li>
                                <li><a href='@Url.Action("Help", "Dashboard")'>Help & Training</a></li>*@

                            <li><a href="#" onclick="window.open('@Url.Action("PrivacyPolicy", "DashBoard")','_blank')"> Privacy Policy</a></li>
                            <li><a href="#" onclick="window.open('@Url.Action("TermsAndConditions", "DashBoard")','_blank')"> Terms & Conditions </a></li>
                            <li><a href="#" onclick="window.open('@Url.Action("ContactUs", "DashBoard")','_blank')"> Contact </a></li>
                            <li><a href="#" onclick="window.open('@Url.Action("Help", "DashBoard")','_blank')"> Help & Training</a></li>
                        </ul>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    @*START CODE ANKIT HERE : Added code for Header Send Referral Button*@
    <input type="hidden" id="ColleaguPageIndex" value="1" />
    <input type="hidden" id="hdnColleagueId" />
    <input type="hidden" id="hdnPatientId" />
    <input type="hidden" id="hdnlocationid" />
    <input type="hidden" id="PatientPageIndex" value="1" />
    <input type="hidden" id="PageIndex" value="1" />
    <input type="hidden" id="PageSize" value="20" />

    <input type="hidden" id="PL_PageIndex" value="1" />
    <input type="hidden" id="PL_PageSize" value="10" />
    <div class="modal fade colleague_refer_patient" id="colleague_refer_patient" role="dialog"></div>
    <input type="hidden" id="PopupId" value="dashboard" />
    <script src="~/Content/newDashBoard/js/bootstrap.min.js"></script>
    <script src="~/Content/newDashBoard/js/sitescript.js"></script>
    <script src="~/Scripts/JS/jquery.toaster.js"></script>
    <link href="~/Content/css/jquery-ui.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
    <script src="~/Scripts/ControllerJS/Dashboard/DashboardSendReferral.js"></script>
    <script type="text/javascript">
        if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
            var msViewportStyle = document.createElement('style')
            msViewportStyle.appendChild(
                document.createTextNode(
                    '@@-ms-viewport{width:auto!important}'
                )
            )
            document.querySelector('head').appendChild(msViewportStyle)
        }
    </script>
    <script src="~/Content/newDashBoard/js/togglebtn.js"></script>
    <script src="~/Content/newDashBoard/js/jcf.js"></script>
    <script>
        $('body').removeClass('modal-open');
    </script>
    <script>
        //jQuery(document).ready(function(){
        //       jQuery('.scrollbar-inner').scrollbar();
        //   });
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <script>
        $(document).ready(function () {
            var date_input = $('input[name="date"]'); //our date input has the name "date"
            var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
            date_input.datepicker({
                format: 'mm/dd/yyyy',
                container: container,
                todayHighlight: true,
                autoclose: true,
            })
        })

        $(window).scroll(function () {
            if ($(this).scrollTop() > 100) {
                $('.back-to-top').fadeIn();
            } else {
                $('.back-to-top').fadeOut();
            }
        });
        $('.back-to-top').click(function () {
            $("html, body").animate({ scrollTop: 0 }, 600);
            return false;
        });

    </script>
    <script>
        //$(function ()
        //{
        //	$("#wizard").steps({
        //		headerTag: "h2",
        //		bodyTag: "section",
        //		transitionEffect: "slideLeft"
        //	});
        //});
    </script>
    <script src="~/Content/newDashBoard/js/jquery.steps.js"></script>
    <script src="~/Content/newDashBoard/js/jcf.js"></script>

    <script type="text/javascript">
        $('a[data-toggle="tooltip"]').tooltip({
            container: 'body'
        });

        function SearchByName() {
            //alert($("#srch-term").length);
            if ($("#srch-term").val().length > 2) {
                $.ajax({
                    url: "/Patients/GetPatientAutocompleteList",
                    type: "POST",
                    data: { text: $("#srch-term").val() },
                    success: function (data) {
                        $("#languages").html('');

                        $.each(data, function (index, item) {
                            $("#languages").append(
                                "<option value='" + item.FirstName.trim() + ' ' + item.LastName.trim() + ' (' + item.PatientId + ($.trim(item.Email).length > 0 ? ' - ' + item.Email.trim() : '') + ')' + "' data-id=" + item.PatientId + "></option>"
                            );
                        });
                    },
                    error: function () {
                        $("#languages").html('');
                    }
                });
            }

        }

    </script>
</body>
</html>
