﻿ <!-- Bottom Section starts here -->
<section class="services_panel">
    	<ul class="container">
        	<li><a href='@Url.Action("News", "Aboutus")'><span class="news"></span>News</a></li><li><a href='@Url.Action("HIPAA", "Faq")'><span class="hipaa"></span>HIPAA Compliance</a></li><li><a href='@Url.Action("Index", "Faq")'><span class="testimonial"></span>FAQ’s</a></li><li><a href='@Url.Action("Index", "Quicktour")'><span class="demo"></span>Demo</a></li>
        </ul>
        <div class="clear"></div>
</section>
<!-- Dental Services ends here -->

    <!-- Dental Footer Starts here -->
<footer class="fnew">
    	<div class="container">
    	<ul>
        	<li class="block1">
            	<h4>RecordLinc</h4>
                <ul>
                	<li><a href='@Url.Action("Index", "Aboutus")'>About Us</a></li>
                    <li><a href='@Url.Action("Index", "Quicktour")'>Quick Tour</a></li>
                    <li><a href='@Url.Action("Index", "PlanAndPricing")'>Plan &amp; Pricing</a></li>
                    <li><a href='@Url.Action("News", "Aboutus")'>Press</a></li>
                    <li><a href='@Url.Action("Career", "Aboutus")'>Careers</a></li>
                    <li><a href='@Url.Action("Index", "ContactUs")'>Contact</a></li>
                    <li><a href='@Url.Action("SiteMap", "Faq")'>Sitemap</a></li>
                </ul>
            </li>
            <li class="block2">
            	<h4>Search By</h4>
                <ul>
                	<li><a href="@Session["CompanyWebsite"]/Profiles/SearchResult.aspx?fname=First Name&lname=Last Name">Doctor Name</a></li>
                    <li><a href="#">Location</a></li>                      
                </ul>
            </li>            
            <li class="block3">
            	<h4>Follow Us</h4>
                <ul class="socials">
                	<li>
                    	<a href="@Session["CompanyFacebook"]" target="_blank" class="fb-icon">Facebook</a>
                        <a href="@Session["CompanyGoogle"]" target="_blank" class="gp-icon">Google Plus</a>
                        <a href="@Session["CompanyTwitter"]" target="_blank" class="tw-icon">Twitter</a>
                        <a href="@Session["CompanyLinkedin"]" target="_blank" class="ln-icon">Linkedin</a>
                    </li>
                    <li>
                    	<a href="@Session["CompanyPinterest"]" target="_blank" class="pt-icon">Pinterest</a>
                       
                        <a href="@Session["CompanyYoutube"]" target="_blank" class="yt-icon">Youtube</a>
                        <a href="@Session["CompanyVimeo"]" target="_blank" class="vm-icon">Vimeo</a>
                    </li>                              
                </ul>
            </li>
            <li class="block1 rpro"> <a href='@Url.Action("Index", "Signuptoday")'><img class="border" src="../Images/index/recordlinc-pro.jpg" alt="Recordlinc Pro at $47"></a>
            </li>
        </ul>
        
        <div class="clear"></div>
        
        <div class="flogos">
        	<ul> <!-- Do not remove spaces betweeen the Li's -->
            	<li><img src="../Images/index/authorize-net.jpg" alt="Authorize" width="170" height="91"></li><li><img src="../Images/index/protect-info.jpg" alt="Protect Info" width="120" height="91"></li><li><img src="../Images/index/hipaa.jpg" alt="Hipaa" width="180" height="91"></li><li><img src="../Images/index/hipaa-compliant.jpg" alt="Hipaa Compliant" width="170" height="91"></li>
                <li>
          
          <script type="text/JavaScript">
//<![CDATA[
              var sealServer = document.location.protocol + "//seals.websiteprotection.com/sealws/5049ccaa-420c-4924-badd-1473cbdd56cb.gif"; var certServer = document.location.protocol + "//certs.websiteprotection.com/sealws/?sealId=5049ccaa-420c-4924-badd-1473cbdd56cb"; var hostName = "recordlinc.com"; document.write(unescape('<div style="text-align:center;margin:0 auto;"><a target="_blank" href="' + certServer + '&pop=true" style="display:inline-block;"><img src="' + sealServer + '" alt="Website Protection&#153; Site Scanner protects this website from security threats." title="This Website Protection site seal is issued to ' + hostName + '. Copyright &copy; 2014, all rights reserved."oncontextmenu="alert(\'Copying Prohibited by Law\'); return false;" border="0" /></a><div id="bannerLink"><a href="https://www.godaddy.com/" target="_blank"></a></div></div>'));
//]]>
</script>
                </li><li style="margin-left:20px;">
                <span id="cdSiteSeal1">
                    <script type="text/javascript" src="//tracedseals.starfieldtech.com/siteseal/get?scriptId=cdSiteSeal1&amp;cdSealType=Seal1&amp;sealId=55e4ye7y7mb73d050c180430207637fnvy7mb7355e4ye7305a78cd7a8e730744"></script>

                   
                </span>
                </li>
                
            </ul>
            <div class="clear"></div>
        </div>    
            
        </div>
</footer>
<!-- Dental Footer ends here -->
<p class="copyright">
<span><a href='@Url.Action("PrivacyPolicy", "Faq")'>Our Privacy Policy</a> and  <a href='@Url.Action("Termsconditions", "Faq")'>Terms of Use</a></span>
Copyright &copy; @System.DateTime.Now.Year.ToString() RecordLinc . RecordLinc is a registered trademark.</p>
