﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/OCRDashboard/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/OCRDashboard/css/fonts_google.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/OCRDashboard/css/dashboard.css" media="all">
    <link rel="icon" href="~/Content/OCRDashboard/images/one_click_referral.ico" type="image/x-icon">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" rel="stylesheet" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
</head>
<body>
    <div id="wrapper" class="admin_section row row-offcanvas row-offcanvas-left">
        <div class="sidebar-offcanvas  columns-holder">
            <div class="top-section">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4 logo-sec">
                            <a class="hidden-xs" data-toggle="offcanvas"><img class="nav-icon-img" alt="Nav Bar Icon" src="~/Content/OCRDashboard/images/nav-bar.png"></a>
                            <li class="icons Setting dashboard-user">
                                <a><img src="~/Content/newDashBoard/images/logo.png" alt="RecordLink" class="img-responsive center-block"></a>
                                <ul class="dropdown-menu dashboard-drop">
                                    <li><h5 class="blue"><a href="/Dashboard">DashBoard</a></h5></li>
                                    <li>
                                        <div class="row">
                                            <div class="col-sm-6 col-sx-12">
                                                <h5><a href="/Inbox">Inbox</a></h5>
                                                <ul class="right-arr-list">
                                                    <li><a href="/Inbox/ComposeMessage">Compose Message</a></li>
                                                    <li><a href="/Inbox/sent">Sent</a></li>
                                                </ul>
                                                <h5><a href="/Profile">PROFILE</a></h5>
                                                <ul class="right-arr-list">
                                                    <li><a href="/Profile">Edit Profile</a></li>
                                                    <li><a href="/CostEstimator/Estimate%20Cost%20of%20Insurance">Estimate Cost Of Insurance</a></li>
                                                    <li><a href="/Reward">Reward</a></li>
                                                    <li><a href="/Reward/ManageSuperBucks">Manage SuperBucks</a></li>
                                                    <li><a href="/AccountSettings/ReferralFormSettings">Referral Form Settings</a></li>
                                                </ul>
                                                <h5><a href="/Patients">PATIENTS</a></h5>
                                                <ul class="right-arr-list">
                                                    <li><a href="/Patients">View Patients</a></li>
                                                    <li><a href="/Patients/AddPatient">Add Patient</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-6 col-sx-12">
                                                <h5><a href="/Colleagues">COLLEAGUES</a></h5>
                                                <ul class="right-arr-list">
                                                    <li><a href="/Colleagues/SearchColleagues">Search Colleagues</a></li>
                                                    <li><a href="/Colleagues/InviteColleagues">Invite Colleagues</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-6 col-sx-12">
                                                <h5><a href="/Reports">Reports</a></h5>
                                                <ul class="right-arr-list">
                                                    <li><a href="/Patients/PatientSocialMedia">Patient Social Media</a></li>
                                                    <li><a href="/Colleagues/ColleagueSocialMedia">Colleague Social Media</a></li>
                                                    <li><a href="/Patients/PatientContactList">Patient Contact List</a></li>
                                                    <li><a href="/Colleagues/ColleagueContactList">Colleague Contact List</a></li>
                                                    <li><a href="/Patients/ReferralHistory">Referral History</a></li>
                                                </ul>
                                                <h5><a href="/FreeToPaid/UpgradeAccount">Upgrade</a></h5>
                                                <ul class="right-arr-list">
                                                    <li><a href="/FreeToPaid/UpgradeAccount">Upgrade Account</a></li>
                                                    <li><a href="/Merchant/MakeMerchant">Register ZiftPay</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </li>
                        </div>
                        <div class="col-sm-3">
                            <ul class="adminUser_area list-inline">
                                <li class="icons Setting text-right dashboard-user  top-bar">
                                    <a href="/Patients" style="cursor:pointer;"><img src="~/Content/OCRDashboard/images/patient.png" alt="Patient"> Patients</a>
                                </li>
                                <li class="icons Setting text-right dashboard-user  top-bar">
                                    <a href="/Colleagues" style="cursor:pointer;"><img src="~/Content/OCRDashboard/images/colleagues.png" alt="Colleagues"> Colleagues</a>
                                </li>
                                <li class="icons Setting text-right dashboard-user  top-bar">
                                    <a href="/AccountSettings/ReferralFormSettings" style="cursor:pointer;"><img src="~/Content/OCRDashboard/images/setting.png" alt="Setting"> Settings</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-5">
                            <ul class="adminUser_area list-inline">
                                <li class="icons Setting text-right dashboard-user">
                                    <a href="/Dashboard" style="cursor:pointer;" class="referral">Send Referral</a>
                                </li>
                                @*<li class="search text-right">
                                        <div class="navbar-form " role="search">
                                            <div class="input-group">
                                                <input type="text" placeholder="Search Patients" name="srch-term" id="srch-term" list="languages">
                                            </div>
                                        </div>
                                    </li>*@
                                <li class="icons Setting text-right dashboard-user">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="true"><img src="~/Content/OCRDashboard/images/menu-icon.png" alt="Questions" title="Menu" /></a>
                                    <ul class="dropdown-menu dashboard-drop help">
                                        <li>
                                            <a href="/Inbox">
                                                <img src="~/Content/OCRDashboard/images/inbox_new.png" alt="Inbox" />
                                                <span>Inbox</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Patients'">
                                                <img src="~/Content/OCRDashboard/images/menu_patient.png" alt="Patients" />
                                                <span>Patients</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Colleagues">
                                                <img src="~/Content/OCRDashboard/images/menu_colleague.png" alt="Colleagues" />
                                                <span>Colleagues</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Reports">
                                                <img src="~/Content/OCRDashboard/images/menu_report.png" alt="Reports" />
                                                <span>Reports</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Plan">
                                                <img src="~/Content/OCRDashboard/images/menu_plus.png" alt="Plans" />
                                                <span>Plans</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="http://patientpayhub.com/" target="_blank">
                                                <img src="~/Content/OCRDashboard/images/menu_payment.png" alt="Payments" />
                                                <span>Payments</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.mydentalfiles.com/" target="_blank">
                                                <img src="~/Content/OCRDashboard/images/menu_portal.png" alt="Patient Portal" />
                                                <span>Patient Portal</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Reports/PatientRewards">
                                                <img src="~/Content/OCRDashboard/images/Reward.png" alt="Patient Portal" />
                                                <span>Patient Rewards</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Reports/RatingReport">
                                                <img src="~/Content/OCRDashboard/images/menu_reviews.png" alt="Patient Reviews" />
                                                <span>Patient Reviews</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="http://www.luvdentist.com/login" target="_blank">
                                                <img src="~/Content/OCRDashboard/images/menu_referral.png" alt="Patient Referrals" />
                                                <span>Patient Referrals</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="http://hipaanow.org/" target="_blank">
                                                <img src="~/Content/OCRDashboard/images/menu_hipaa.png" alt="Hipaa Compliance" />
                                                <span>HIPAA Compliance</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Reports/InsuredAppointments">
                                                <img src="~/Content/OCRDashboard/images/menu_insurance.png" alt="Insurance Verification" />
                                                <span>Insurance Verification</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Appointment">
                                                <img src="~/Content/OCRDashboard/images/menu_calender.png" alt="Scheduling" />
                                                <span>Scheduling</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Accountsettings/PatientNotificationSetting">
                                                <img src="~/Content/OCRDashboard/images/Reminder.png" alt="Reminders" />
                                                <span>Reminders</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Reports/AppointmentReport">
                                                <img src="~/Content/OCRDashboard/images/Recall.png" alt="Recall" />
                                                <span>Recall</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Reports/PatientEstimationReport">
                                                <img src="~/Content/OCRDashboard/images/menu_cost.png" alt="Patient Cost Estimator" />
                                                <span>Patient Cost Estimator</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="Setting text-right">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="true">
                                        <span>@HttpContext.Current.Session["FirstName"]</span>
                                        <i class="icon-down_arrow_top"></i>
                                        <img src="@HttpContext.Current.Session["DoctorImage"]" alt="@HttpContext.Current.Session["FirstName"]" height="45" width="45" style="border-radius:50%;">
                                    </a>
                                    <ul class="dropdown-menu dropdown-user">
                                        <li><a href="/Profile/Index"><i class="fa fa-pencil"></i>Edit Profile</a></li>
                                        <li><a href="/AccountSettings/Index"><i class="fa fa-cog"></i>Account Settings</a></li>
                                        <li><a href="/AccountSettings/Integration"><i class="fa fa-user"></i>Integrations</a></li>
                                        <li><a href="/FreeToPaid/UpgradeAccount"><i class="fa fa-user"></i>Upgrade Account</a></li>
                                        <li><a href="/EmailOauth/Index"><i class="fa fa-user"></i>OAuth Integration</a></li>
                                        <li class="active"><a href="/User/Logout"><i class="fa fa-power-off"></i>Logout</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            @Html.Partial("PartialNewLeftSideInner")

            <main id="main" role="main" class="dashboard">
                <div id="divLoading" class="Loaddiv unselectable" unselectable="on">
                    <p>
                        <img src="~/images/Recordloading.gif">
                    </p>
                </div>
                @RenderBody()

            </main>
            <footer id="footer" class="pad-23">
                <div class="container">
                    <div class="row">
                        <!-- <div class="copyright_area col-xs-12"> <span>&copy; 2016 <a href="/">Ad Social.com</a> - All rights reserved</span> </div> -->
                        <ul>
                            <li><a href='@Url.Action("PrivacyPolicy", "Dashboard")'>Privacy Policy</a></li>
                            <li><a href="https://www.youtube.com/playlist?list=PLzwH-GxNakia8zDTc2C27eEQj2jkkKVWb" target="_blank">Demo</a></li>
                            <li><a href='@Url.Action("TermsAndConditions", "Dashboard")'>Terms & Conditions</a></li>
                            <li><a href='@Url.Action("ContactUs", "Dashboard")'>Contact</a></li>
                            <li><a href='@Url.Action("Help", "Dashboard")'>Help & Training</a></li>
                        </ul>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="~/Content/OCRDashboard/js/bootstrap.min.js"></script>
    <script src="~/Content/OCRDashboard/js/sitescript.js"></script>
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
            var msViewportStyle = document.createElement('style')
            msViewportStyle.appendChild(
                document.createTextNode(
                    '@@-ms-viewport{width:auto!important}'
                )
            )
            document.querySelector('head').appendChild(msViewportStyle)
        }
        //$(document).ready(function () {
        //    $('#bs-example-navbar-collapse-1 ul li').each(function () {
        //        if (window.location.href.indexOf($(this).find('a:first').attr('href')) > -1) {
        //            $(this).addClass('active').siblings().removeClass('active');
        //        }
        //    });
        //});
    </script>
    <script src="~/Content/OCRDashboard/js/togglebtn.js"></script>
    <script>
        $('body').removeClass('modal-open');
    </script>
    <script src="~/Content/OCRDashboard/js/Datepicker_Bootstrap_v1_4_1.js"></script>
    <script src="~/Scripts/common.js"></script>
    <script src="~/Content/OCRDashboard/js/jcf.js"></script>
    <script type="text/javascript">
        $('a[data-toggle="tooltip"]').tooltip({
            container: 'body'
        });
    </script>
</body>
</html>
