﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Patient Referral form">
    <title>
    </title>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="icon" href="../../Content/images/RecordLinc_ICONS.ico" type="image/x-icon">
    @Styles.Render("~/CommonCSS")
    <link href="~/Content/Final/css/main.css" rel="stylesheet" />
    @Scripts.Render("~/CommonJS")
    @Scripts.Render("~/PublicProfileJS")
    @RenderSection("styles", required: false)
    <script>
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NTKKRVR');</script>
    <!-- End Google Tag Manager -->
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NTKKRVR"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div id="divLoading" class="Loaddiv">
        <p>
            <img src="../../Images/Recordloading.gif">
        </p>
    </div>
    <div id="wrapper" class="customheader">
        @RenderBody()
        @Html.Action("PartialFooter", "Common")
    </div>
    @RenderSection("modals", required: false)
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/ControllerJS/PublicProfile/AboutDoctor.js"></script>
</body>
</html>
