﻿@using BO.Models;
@using BO.ViewModel;
@{
    bool isWidget = Convert.ToBoolean(HttpContext.Current.Session["isWidget"]);
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="@Session["MemberProfile"] is @Session["MemberSpeciality"] specialist in @Session["MemberCityStateZipcode"].">
    @*<title> @Session["PublicProfileOfficeName"] | @Session["MemberSpeciality"] | @Session["MemberCityStateZipcode"]</title>*@
    <title>
        @if (!(string.IsNullOrEmpty(Convert.ToString(Session["PublicProfileOfficeName"]))))
        {
            @Session["PublicProfileOfficeName"]
        }
        @if (!(string.IsNullOrEmpty(Convert.ToString(Session["MemberSpeciality"]))))
        {
            if (!(string.IsNullOrEmpty(Convert.ToString(Session["PublicProfileOfficeName"]))))
            {
                <text>| @Session["MemberSpeciality"]</text>
            }
            else
            {
                @Session["MemberSpeciality"]
            }
        }
        @if (!(string.IsNullOrEmpty(Convert.ToString(Session["MemberCityStateZipcode"]))))
        {
            if (!(string.IsNullOrEmpty(Convert.ToString(Session["MemberSpeciality"]))) || !(string.IsNullOrEmpty(Convert.ToString(Session["PublicProfileOfficeName"]))))
            {
                <text>| @Session["MemberCityStateZipcode"]</text>
            }
            else
            {
                @Session["MemberCityStateZipcode"]
            }
        }
        @if (string.IsNullOrEmpty(Convert.ToString(Session["MemberCityStateZipcode"])) && string.IsNullOrEmpty(Convert.ToString(Session["MemberSpeciality"])) && string.IsNullOrEmpty(Convert.ToString(Session["PublicProfileOfficeName"])))
        {
            <text>About Doctor - @Session["MemberProfile"]</text>
        }
    </title>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="icon" href="../../Content/images/RecordLinc_ICONS.ico" type="image/x-icon">
    @Styles.Render("~/CommonCSS")
    @*@Styles.Render("~/PublicProfileCSS")*@
    <link href="~/Content/Final/css/main.css" rel="stylesheet" />
    @Scripts.Render("~/CommonJS")
    @Scripts.Render("~/PublicProfileJS")
    @RenderSection("styles", required: false)
    @if (isWidget)
    {
        <style type="text/css">
            #wrapper.inner {
                padding: 0px 0 0 !important;
            }
        </style>
    }
    @*@Html.Action("OGMetaTag", "Common", new { UserId = Convert.ToUInt32(HttpContext.Current.Session["PublicProfileUserId"]) })*@

    <meta property="og:title" content="Dr. @Session["MemberProfile"] - @Session["PublicProfileOfficeName"] Recordlinc public profile.">
    <meta property="og:description" content="@Session["MemberDescription"]">
    <meta property="og:image" content="@HttpContext.Current.Session["UserProfileImages"]">
    <meta property="og:url" content="@HttpContext.Current.Request.Url">
    <!--Medichat-->
    @*<script type="text/javascript">
  (function(i, s, o, g, r, z, a, m) { i[r]={ ACCOUNT_TOKEN: z };a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m); }(window, document, 'script', "https://s3.getmedchat.com/embed/bundle.min.js", "MedChat", "f2sm0gfgZ6xY2xV_9eO5bg"));
    </script>*@
    <!--End Medichat-->

    <!-- Google Tag Manager -->
    <script>
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NTKKRVR');</script>
    <!-- End Google Tag Manager -->
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NTKKRVR"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div id="divLoading" class="Loaddiv">
        <p>
            <img src="../../Images/Recordloading.gif">
        </p>
    </div>
    <div id="wrapper" class="customheader">
        @if (!isWidget)
        {
        <header>
            @* RM-788 *@
            @* <header class="header" id="header"> *@
            <div class="navigation_holder">
                <div class="container nav_holder">
                    <div class="row nav_row">
                        <div class="col-xs-12">
                            <nav class="navbar navbar-default navigation">
                                <!-- Brand and toggle get grouped for better mobile display -->
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" title="Menu Bar">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                    <ul class="nav navbar-nav">
                                        <li><a href="@Url.Action("AboutDoctor", "p")">About Us</a></li>
                                        @if (Convert.ToBoolean(HttpContext.Current.Session["Show_PatientForms"]))
                                        {
                                            <li><a href="@Url.Action("PatientForms", "p")">New Patients</a></li>
                                        }
                                        @if (Convert.ToBoolean(HttpContext.Current.Session["Show_SpecialOffers"]))
                                        {
                                            <li><a href="@Url.Action("SpecialOffers", "p")">Special Offers</a></li>
                                        }
                                        @if (Convert.ToBoolean(HttpContext.Current.Session["Show_ReferPatient"]))
                                        {
                                            <li id="ReferPateint"><a href="@Url.Action("ReferPatient", "p")">Refer a Patient</a></li>
                                        }
                                        @if (Convert.ToBoolean(HttpContext.Current.Session["Show_Reviews"]))
                                        {
                                            <li><a href="@Url.Action("reviews", "p")">Reviews</a></li>
                                        }
                                        @if (Convert.ToBoolean(HttpContext.Current.Session["Show_AppointmentBooking"]))
                                        {
                                            <li><a href="javascript:;" data-toggle="modal" data-target="#AppointmentModal">Appointment</a></li>
                                        }
                                        @if (Convert.ToBoolean(HttpContext.Current.Session["Show_PatientLogin"]))
                                        {
                                            <li><a href="@Url.Action("PatientLogin", "p")">Patient Login</a></li>
                                        }


                                    </ul>
                                </div><!-- /.navbar-collapse -->
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        }
        @RenderBody()
        @Html.Action("PartialFooter", "Common")
    </div>
    @RenderSection("modals", required: false)
    <div id="AppointmentModal" class="modal fade profile" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <i class="icon-holder"><img src="~/Content/css/Main/images/icon4.png" alt="icon" width="41" height="38"></i>
                        Book Appointment
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger" id="appt_errormsg" tabindex="1"></div>
                    <form>
                        <div class="form-group">
                            @Html.DropDownList("InsuranceId", new SelectList((List<InsuranceListForAppointment>)HttpContext.Current.Session["InsuranceList"], "InsuranceId", "InsuranceName"), "I’ll choose my insurance later", new { @class = "select_item" })
                        </div>
                        <div class="form-group">

                            @Html.DropDownList("AppointmentServiceId", new SelectList((List<AppointmentService>)HttpContext.Current.Session["AppointmentServiceList"], "AppointmentServiceId", "ServiceType"), "Select Service", new { @class = "select_item" })
                        </div>
                        <div class="form-group">
                            @Html.DropDownList("LocationId", new SelectList((List<LocationForAppointment>)HttpContext.Current.Session["LocationList"], "locationId", "locationName", HttpContext.Current.Session["LocationId"]), "Select Location", new { @class = "select_item", onchange = "GetDefaultOP($(this).val())", @disabled = "disabled" })
                        </div>
                        <div id="loadtimeslotegrid">
                            @Html.Action("AppointmentSlotGrid", new { DoctorId = Convert.ToUInt32(HttpContext.Current.Session["PublicProfileUserId"]), TheatreId = Convert.ToUInt32(HttpContext.Current.Session["AppointmentDefaultResourceId"]) })
                        </div>
                        <div class="text-right est"> @Convert.ToString(HttpContext.Current.Session["TimezoneSystemName"]) </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
    @using (Html.BeginForm("MemberSignin", "p", FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("UserId", HttpContext.Current.Session["PublicProfileUserId"], new { @id = "DDoctorId" })
        @Html.Hidden("AppointmentDefaultResourceId", HttpContext.Current.Session["AppointmentDefaultResourceId"])
        @Html.Hidden("AppointmentDate", "")
        @Html.Hidden("AppointmentTime", "")
        @Html.Hidden("ServiceTypeId", "")
        @Html.Hidden("PublicProfileUrl", HttpContext.Current.Session["PublicProfileUrl"])
        @Html.Hidden("InsuranceId", "", new { @id="InsuranceId_form"})
    }
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/ControllerJS/PublicProfile/AboutDoctor.js"></script>
    
</body>

</html>
@*<script type="text/javascript">
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
    }
    </script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>*@