﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <meta name="description" content="Share electronic dental records and send patient referrals to dentists, Have patients complete and submit dental patient forms before their dental office visits make appointments online.">
    <meta name="keywords" content="Securely Share Dental Records and Referrals">
    <meta name="robots" content="index, follow">
    <link rel="icon" href="~/Content/Final/images/fav-ico.png" type="image/x-icon"> 
    <link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/Final/css/bootstrap.css">  
    <link href="~/Content/Final/css/main.css" rel="stylesheet" />
    <link href="~/Content/Final/css/all.css" rel="stylesheet" />
    <link href="~/Content/css/Main/css/validation.css" rel="stylesheet" />
    
    <script src="//releases.flowplayer.org/js/flowplayer-3.2.12.min.js"></script> 
    @RenderSection("styles", required: false)
        @Scripts.Render("~/CommonJS")
        <script src="~/Content/css/HomePage/js/jquery.main.js"></script>
    <script src="~/Scripts/ControllerJS/Shared/NewSiteLauout.js"></script>
    <!--SweetAlert-->
    <script src="/Content/js/SweetAlert/sweetalert-dev.js"></script>
    <script src="/Content/js/SweetAlert/sweetalert.min.js"></script>
    <link href="/Content/css/SweetAlert/sweetalert.css" rel="stylesheet" />
    <!--Medichat-->
    @*<script type="text/javascript">
  (function(i, s, o, g, r, z, a, m) { i[r]={ ACCOUNT_TOKEN: z };a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m); }(window, document, 'script', "https://s3.getmedchat.com/embed/bundle.min.js", "MedChat", "f2sm0gfgZ6xY2xV_9eO5bg"));
    </script>*@
    <!--End Medichat-->

    <!-- Google Tag Manager -->
    <script>
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NTKKRVR');</script>
    <!-- End Google Tag Manager -->
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NTKKRVR"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
        <div id="divLoading" class="Loaddiv">
            <p>
                @if (!string.IsNullOrWhiteSpace(Convert.ToString(Session["iLuvDentistImage"])))
                {
                    <img src="~/Content/images/ilogo.png" />
                }
                else
                {
                    <img src="../../Images/Recordloading.gif">
                }
            </p>
        </div>
    <div id="wrapper"> 
        @Html.Partial("PartialHeader")
        @RenderBody()
        @Html.Action("PartialFooter", "Common")
    </div>
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $(document).ready(function () {
            $('#navbar ul li').each(function () {
                // RM-291 : 'Home' tab highlight issue on SUB Pages 
                var url = window.location.href; 
                if (window.location.href.indexOf($(this).find('a:first').attr('href')) > -1) {
                    if (url.indexOf('ClaimProfile') > -1 || url.indexOf('Career') > -1 || url.indexOf('Faq') > -1 || url.indexOf('News') > -1) {
                        $(this).removeClass('active');
                    }
                    else
                    {
                        $(this).addClass('active').siblings().removeClass('active');
                    }
                }
            });
        });
    </script>
</body>
</html>
