﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="icon" href="~/Content/Final/images/fav-ico.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="/Content/Final/css/bootstrap.css">
    <link href="~/Content/Final/css/main.css" rel="stylesheet" />
    <link href="~/Content/css/Main/css/validation.css" rel="stylesheet" />
    <script src="~/Content/Final/js/jquery-1.11.2.min.js"></script>
    <script src="~/Content/Final/js/jquery.main.js" defer></script>
    <script src="~/Content/Final/js/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/ControllerJS/Shared/NewSiteLauout.js"></script>
    <!--SweetAlert-->
    <script src="~/Content/js/SweetAlert/sweetalert-dev.js"></script>
    <script src="~/Content/js/SweetAlert/sweetalert.min.js"></script>
    <link href="~/Content/css/SweetAlert/sweetalert.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
    <script src="https://releases.flowplayer.org/js/flowplayer-3.2.12.min.js"></script> 
</head>
<body>
    <div id="wrapper"> 
        @Html.Partial("PartialHeader")
        @RenderBody()
        @Html.Action("PartialFooter", "Common")
    </div>
    @RenderSection("scripts", required: false)
    
</body>
</html>
