﻿<div class="top-section">
    <form action="/Patients/PatientHistory" method="post" id="frmViewPatientHistory">
        <input type="hidden" name="hdnViewPatientHistory" id="hdnViewPatientHistory" />
    </form>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 logo-sec">
                <a class="hidden-xs" href="javascript:void(0);" data-toggle="offcanvas"><img class="nav-icon-img" src="~/Content/css/NewAdmin/images/nav-bar.png" alt="Nav Bar Icon"></a>
                <a href="/">
                    @if (!string.IsNullOrWhiteSpace(Convert.ToString(Session["iLuvDentistImage"])))
                    {
                        <img src="~/Content/images/ilogo.png" alt="Ad Social" class="img-responsive center-block" style="width:105px;margin-top:-9px;"/>
                    }
                    else
                    {
                        <img src="~/Content/css/NewAdmin/images/logo.png" alt="Ad Social" class="img-responsive center-block">
                    }
                    
                </a>
            </div>
            <div class="col-sm-8" id="leftside">
                <ul class="adminUser_area list-inline">
                    <hr class="for-res-as">
                        <li class="search" style="display:none;" id="search_main">
                            <div class="navbar-form " role="search">
                                <div class="input-group">
                                    <input type="text" name="srch-term" id="txtHeaderSearchtext" value='Search Patient' class="ui-autocomplete-input" onfocus='ClearPlaceHolder(this)' onblur='SetPlaceHolder(this)' onkeyup='HdrSearchPatientList(event)'>
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" id="search_btn" type="button" onclick="OnSearchbtnClick()"><i class="icon-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </li>
                    <li class="search text-right" style="display:none;" id="search_colleague">
                        <div class="navbar-form " role="search">
                            <div class="input-group">
                                <input type="text" name="srch-term" id="txtHdrSearchColleague" value='Search Colleague' class="ui-autocomplete-input" onfocus='ClearPlaceHolder(this)' onblur='SetPlaceHolder(this)' onkeyup='HdrSearchColleague(event)'>
                                <div class="input-group-btn">
                                    <button class="btn btn-default" id="search_btn" type="button" onclick="OnSearchbtnClick()"><i class="icon-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </li>

                    <hr class="for-res-as">
                    <li class="icons Setting text-right dashboard-user">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);" aria-expanded="true"><img src="~/Content/css/NewAdmin/images/setting.png" alt="Questions" /></a>
                        <ul class="dropdown-menu dashboard-drop">
                            <li><h5 class="blue"><a href='@Url.Action("Dashboard", "Dashboard")'>DashBoard</a></h5></li>
                            <li>
                                <div class="row">
                                    <div class="col-sm-6 col-sx-12">
                                        <h5><a href='@Url.Action("Index", "Inbox")'>Inbox</a></h5>
                                        <ul class="right-arr-list">
                                            <li><a href='@Url.Action("ComposeMessage", "Inbox")'>Compose Message</a></li>
                                            <li><a href='@Url.Action("sent", "Inbox")'>Sent</a></li>
                                        </ul>
                                        <h5><a href='@Url.Action("Index", "Profile")'>PROFILE</a></h5>
                                        <ul class="right-arr-list">
                                            <li><a href='@Url.Action("Index", "Profile")'>Edit Profile</a></li>
                                            <li><a href="@Url.Action("Procedure", "CostEstimator")">Estimate Cost Of Insurance</a></li>
                                            <li><a href="@Url.Action("Index", "Reward")">Reward</a></li>
                                            <li><a href="@Url.Action("ManageSuperBucks", "Reward")">Manage SuperBucks</a></li>
                                            <li><a href="@Url.Action("ReferralFormSettings", "AccountSettings")">Referral Form Settings</a></li>
                                        </ul>
                                        <h5><a href='@Url.Action("Index", "Patients")'>PATIENTS</a></h5>
                                        <ul class="right-arr-list">
                                            <li><a href='@Url.Action("Index", "Patients")'>View Patients</a></li>
                                            <li><a href='@Url.Action("AddPatient", "Patients")'>Add Patient</a></li>
                                        </ul>                                        
                                    </div>
                                    <div class="col-sm-6 col-sx-12">
                                        <h5><a href='@Url.Action("Index", "Colleagues")'>COLLEAGUES</a></h5>
                                        <ul class="right-arr-list">
                                            <li><a href='@Url.Action("SearchColleagues", "Colleagues")'>Search Colleagues</a></li>
                                            <li><a href='@Url.Action("InviteColleagues", "Colleagues")'>Invite Colleagues</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6 col-sx-12">
                                        <h5><a href='@Url.Action("Index", "ViewReports")'>Reports</a></h5>
                                        <ul class="right-arr-list">
                                            <li><a href='@Url.Action("PatientSocialMedia", "Patients")'>Patient Social Media</a></li>
                                            <li><a href='@Url.Action("ColleagueSocialMedia", "Colleagues")'>Colleague Social Media</a></li>
                                            <li><a href='@Url.Action("PatientContactList", "Patients")'>Patient Contact List</a></li>
                                            <li><a href='@Url.Action("ColleagueContactList", "Colleagues")'>Colleague Contact List</a></li>
                                            <li><a href='@Url.Action("ReferralHistory", "Patients")'>Referral History</a></li>                                            
                                        </ul>
                                        <h5><a href='@Url.Action("UpgradeAccount", "FreeToPaid")'>Upgrade</a></h5>
                                        <ul class="right-arr-list">
                                            <li><a href='@Url.Action("UpgradeAccount", "FreeToPaid")'>Upgrade Account</a></li>
                                            @*<li><a href='@Url.Action("MakeMerchant", "Merchant")'>Register ZiftPay</a></li>*@
                                        </ul>
                                    </div>                                    
                                </div>
                            </li>

                        </ul>
                        <a href='@Url.Action("Help", "Dashboard")'><img src="~/Content/css/NewAdmin/images/question.png" alt="Questions" /></a>
                    </li>
                    <li class="Setting text-right">
                        <a class="dropdown-toggle img-profile" data-toggle="dropdown" href="javascript:void(0);" aria-expanded="true">
                            <span>@HttpContext.Current.Session["FirstName"]</span>
                            <i class="icon-down_arrow_top"></i>
                            <img class="img-circle" src="@HttpContext.Current.Session["DoctorImage"]" alt="@HttpContext.Current.Session["FirstName"]">
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href='@Url.Action("Index", "Profile")'><i class="fa fa-pencil"></i>Edit Profile</a></li>
                            <li><a href='@Url.Action("Index", "AccountSettings")'><i class="fa fa-cog"></i>Account Settings</a></li>
                            <li><a href='@Url.Action("Integration", "AccountSettings")'><i class="fa fa-user"></i>Integrations</a></li>
                            <li><a target="_blank" href='@Url.Action("UpgradeAccount", "FreeToPaid")'><i class="fa fa-user" aria-hidden="true"></i>Upgrade Account</a></li>
                            <li><a href='@Url.Action("Index", "EmailOauth")'><i class="fa fa-user"></i>OAuth Integration</a></li>
                            @*<li><a href='@Url.Action("Procedure", "CostEstimator")' class="integration">Procedure</a></li>*@
                            <li class="active"><a href='@Url.Action("Logout", "User")'><i class="fa fa-power-off"></i>Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
