﻿<!-- Left Panel -->
<style type="text/css">
    ul, ol {
        margin-bottom: 0;
    }

    .slide_panel {
        padding-bottom: 70px;
    }
</style>
<aside class="slide_panel" data-role="collapsible">
    <ul class="accordion" id="accordion-3">
        <li><a href='@Url.Action("Dashboard", "Dashboard")'><i class="dashboard"></i><span class="menuText">Dashboard</span></a></li>
        <li>

            @if (Request.Url.AbsolutePath.Contains("/Inbox") || Request.Url.AbsolutePath.Contains("/Inbox/sent") || Request.Url.AbsolutePath.Contains("/Referrals/RecivedReferralDetails") || Request.Url.AbsolutePath.Contains("/Referrals/SendReferralDetails"))
            {
                <a class="hasdropdown active" href='@Url.Action("Index", "Inbox")'><i class="inbox"></i><span class="menuText">Inbox</span></a>

            }
            else
            {
                <a class="hasdropdown" href='@Url.Action("Index", "Inbox")'><i class="inbox"></i><span class="menuText">Inbox</span></a>
            }

            <ul>
                <li class="lg_hidden"><a href='@Url.Action("Index", "Inbox")'><i class="inbox"></i>Inbox</a></li>
                <li><a href='@Url.Action("sent", "Inbox")'><i class="sent"></i>Sent Messages</a></li>
                <li class="last_child"><a href='@Url.Action("RecivedReferralDetails", "Referrals")'><i class="referrals_received"></i>Receive Referrals</a></li>
                <li><a href='@Url.Action("SendReferralDetails", "Referrals")'><i class="referrals_sent"></i>Sent Referrals</a></li>
                <li><a href='@Url.Action("Draft", "Inbox")'><i class="draft"></i>Drafts</a></li>
            </ul>
        </li>
        <li><a id="LeftMenuProfile" href='@Url.Action("Index", "PlanTreatment")'><i class="cases"></i><span class="menuText">Plans</span></a></li>
        @*<li> <a id="LeftMenuProfile" href='@Url.Action("Index", "PlanTreatment")'> <span class="icon_holder"><img src="images/cases-icon.png" alt=""></span> <span class="menuText">Cases</span> </a></li>*@
        @*<li class="LeftMenuProfile"> <a href="@Url.Action("Index", "PlanTreatment")"> <span class="icon_holder"><img src="~/Images/cases-icon.png" alt=""></span> <span class="menuText">Plans </span> </a> </li>*@
        <li><a id="LeftMenuProfile" href='@Url.Action("Index", "Profile")'><i class="profile"></i><span class="menuText">Profile</span></a></li>
        <li>
            @if (Request.Url.AbsolutePath.Contains("Patients/PatientHistory") || Request.Url.AbsolutePath.Contains("Patients/AddPatient") || Request.Url.AbsolutePath.Contains("Patients/PatientMessageCompose") || Request.Url.AbsolutePath.Contains("Patients/SentandReceivedPatient"))
            {
                <a href='@Url.Action("Index", "Patients")' class="hasdropdown active"><i class="patients"></i><span class="menuText">Patients</span></a>
            }
            else
            {
                <a href='@Url.Action("Index", "Patients")' class="hasdropdown"><i class="patients"></i><span class="menuText">Patients</span></a>
            }
            <ul>
                <li class="lg_hidden"><a href='@Url.Action("Index", "Patients")'><i class="colleagues"></i>Patients</a></li>
                <li><a href='@Url.Action("SentandReceivedPatient", "Patients",new { Flag = 0 })'><i class="search_colleague"></i>Sent</a></li>
                <li class="last_child"><a href='@Url.Action("SentandReceivedPatient", "Patients",new { Flag = 1 })'><i class="invite_colleague"></i>Received</a></li>
            </ul>
        </li>

        <li>

            @if (Request.Url.AbsolutePath.Contains("Colleagues/SearchColleagues") || Request.Url.AbsolutePath.Contains("Colleagues/InviteColleagues"))
            {
                <a id="LeftMenuColleagues" class="hasdropdown active" href='@Url.Action("Index", "Colleagues")'><i class="colleagues"></i><span class="menuText">Colleagues</span></a>

            }
            else
            {
                <a id="LeftMenuColleagues" class="hasdropdown" href='@Url.Action("Index", "Colleagues")'><i class="colleagues"></i><span class="menuText">Colleagues</span></a>

            }
            <ul>
                <li class="lg_hidden"><a href='@Url.Action("Index", "Colleagues")'><i class="colleagues"></i>Colleagues</a></li>
                <li><a href='@Url.Action("SearchColleagues", "Colleagues")'><i class="search_colleague"></i>Search Colleagues</a></li>
                <li class="last_child"><a href='@Url.Action("InviteColleagues", "Colleagues")'><i class="invite_colleague"></i>Invite Colleagues</a></li>
            </ul>
        </li>
        <li>
            @if (Request.Url.AbsolutePath.Contains("/Appointment/SetWeekSchedule") || Request.Url.AbsolutePath.Contains("/Appointment/Services") || Request.Url.AbsolutePath.Contains("/Appointment/OperationTheatre"))
            {
                <a href='@Url.Action("Index", "Appointment")' class="hasdropdown active"><i class="Appointent"></i><span class="menuText">Appointment </span></a>
            }
            else
            {
                <a href='@Url.Action("Index", "Appointment")'><i class="Appointent"></i><span class="menuText">Appointment </span></a>
            }
            <ul>
                <li class="lg_hidden"><a href='@Url.Action("Index", "Appointment")'><i class="Appointent"></i>Appointment</a></li>
                <li><a href='@Url.Action("OperationTheatre", "Appointment")'><i class="Appointent_Operatory"></i>Operatory</a></li>
                <li><a href='@Url.Action("SetWeekSchedule", "Appointment")'><i class="Appointent_Week_Schedule"></i>Week Schedule</a></li>
                <li><a href='@Url.Action("Services", "Appointment")'><i class="Appointent_Services"></i>Services</a></li>
                @*<li class="last_child"><a href='@Url.Action("Settings", "Appointment")'><i class="colleagues"></i>Operation Theatre</a></li>*@
            </ul>
        </li>
        <li>
            @if (Request.Url.AbsolutePath.Contains("Patients/ReferralHistory") || Request.Url.AbsolutePath.Contains("Patients/PatientSocialMedia") || Request.Url.AbsolutePath.Contains("Colleagues/ColleagueSocialMedia") || Request.Url.AbsolutePath.Contains("Patients/PatientContactList") || Request.Url.AbsolutePath.Contains("Colleagues/ColleagueContactList") || Request.Url.AbsolutePath.Contains("ViewReports/PatientNote") || Request.Url.AbsolutePath.Contains("ViewReports/AppointmentReport"))
            {
                <a href='@Url.Action("Index", "ViewReports")' class="active"><i class="reports"></i><span class="menuText">Reports</span></a>
            }
            else
            {
                <a href='@Url.Action("Index", "ViewReports")'><i class="reports"></i><span class="menuText">Reports</span></a>
            }
        </li>
        @*<li><a href="http://qa.recordlinc.com/ScoreCard/Home/Index/@Session["Account_ID"]" target="_blank"><span class="icon_holder"><img src="~/Content/css/NewAdmin/images/reports-icon.png" alt="scorecard-icon" title="ScoreCard"></span> <span class="text_icon">Score Card</span></a></li>*@
        <li><a href="http://localhost:57927/Home/Index/@Session["Account_ID"]" target="_blank"><span class="icon_holder"><img src="~/Content/css/NewAdmin/images/reports-icon.png" alt="scorecard-icon" title="ScoreCard"></span> <span class="text_icon">Score Card</span></a></li>

    </ul>
        </aside>
