﻿<style>
    .tool-container.quick_links {
        width: 360px;
        margin-left: -165px;
        display: table;
        float: left;
    }

        .tool-container.quick_links ul li:first-child {
            margin-left: 0;
            padding: 10px;
        }

        .tool-container.quick_links ul li {
            padding: 10px;
            width: auto;
            float: left;
        }

    @@media screen and (max-width: 800px) {
        .utility_links {
            float: right !important;
        }
    }
</style>
@*<style>
        .tool-container.quick_links ul li {
        width: 46%;
    }

    header {
        background: transparent !important;
        background-color:#fff !important;
    }

    header .logo {
        background: #fff none repeat scroll 0 0;
        border-right: 0 solid #c7d8e3;
    }
    </style>*@
<header data-role="header">
    <div class="logo add_div">
        <a href='@Url.Action("Index", "Index")'>
            @if (!string.IsNullOrWhiteSpace(Convert.ToString(Session["iLuvDentistImage"])))
            {
                <img src="../../Content/images/ilogo.png" width="175" height="55" class="hires" alt="Recordlinc" style="margin-left:46px;"/>
            }
            else
            {
                <img src="../../Content/images/recordlinc-logo.png" width="175" height="55" class="hires" alt="Recordlinc">
            }
        </a>
    </div>
    <ul class="toggle_links add_div">
        <li class="toggle_button"><a href="javascript:;"><i class="main_menu_trigger">Menu</i></a></li>
    </ul>
    <ul class="utility_links">

        <li>
            <figure><img src="@HttpContext.Current.Session["DoctorImage"]" style="width:45px;height:42px" alt="@HttpContext.Current.Session["FirstName"]"></figure>
            <a href="javascript:;" id="normal-button" class="openable">@HttpContext.Current.Session["FirstName"]<i class="profile"></i></a>
            <!-- Profile Popup -->
            <div id="user-options" class="toolbar-icons profile_settings" style="display: none;">
                <a href='@Url.Action("Index", "Profile")' class="edit_profile">Edit Profile</a>
                <a href='@Url.Action("Index", "AccountSettings")' class="accnt_settings">Account Settings</a>
                <a href='@Url.Action("Integration", "AccountSettings")' class="integration">Integrations</a>
                <a target="_blank" href='@Url.Action("UpgradeAccount", "FreeToPaid")' class="accnt_upgrade">Upgrade Account</a>
                <a href='@Url.Action("Index", "EmailOauth")' class="integration">OAuth Integration</a>
                @*<a href='@Url.Action("Procedure", "CostEstimator")' class="integration">Procedure</a>*@
                <a href='@Url.Action("Logout", "User")' class="logout">Logout</a>
            </div>
        </li>
        <li><a href='@Url.Action("Help", "Dashboard")'><i class="help">Help</i></a></li>
        <li>
            <a id="quicklinks" class="openable"><i class="links">Links</i></a>
            <!-- Profile Popup -->
            <div id="user-options2" class="toolbar-icons quick_links" style="display: none !important;">
                <ul>
                    <li>
                        <h2 class="title"><a href='@Url.Action("Dashboard", "Dashboard")'><span>Dashboard</span></a></h2>
                        <h2 class="title"><a href='@Url.Action("Index", "Inbox")'><span>Inbox</span></a></h2>
                        <a href='@Url.Action("Compose", "Inbox")' class="compose_icon"><span></span>Compose Message</a>
                        <a href='@Url.Action("sent", "Inbox")' class="sent_icon"><span></span>Sent</a>

                        <!-- <h2 class="title"><a href="javascript:void();"><span>Referrals</span></a></h2>

                         <a href="javascript:void();" class="send_referrals_icon"><span></span>Send Referral</a>-->

                        <h2 class="title"><a href='@Url.Action("Index", "Profile")'>Profile</a></h2>
                        <a class="edit popup-with-form showlightbox" id="editform" href="#uprofile" onclick="EditDoctorDetialsById('@HttpContext.Current.Session["UserId"]')"><span></span>Edit Profile</a>
                        <a href="@Url.Action("Procedure", "CostEstimator")"><span></span>Estimate Cost Of Insurance</a>
                        <a href="@Url.Action("Index", "Reward")"><span></span>Reward</a>
                        <a href="@Url.Action("ManageSuperBucks", "Reward")"><span></span>Manage SuperBucks</a>
                        <a href='@Url.Action("ReferralFormSettings", "AccountSettings")'><span></span>Referral Form Settings</a>
                        <h2 class="title"><a href='@Url.Action("Index", "Patients")'>Patients</a></h2>
                        <a href='@Url.Action("Index", "Patients")' class="view_patients_icon"><span></span>View Patients</a>
                        <a href='@Url.Action("AddPatient", "Patients")' class="add_patients_icon"><span></span>Add Patient</a>
                        

                    </li>
                    <li>
                        <h2 class="title"><a href='@Url.Action("Index", "Colleagues")'>Colleagues</a></h2>
                        <a href='@Url.Action("SearchColleagues", "Colleagues")' class="search_colleague_icon"><span></span>Search Colleagues</a>
                        <a href='@Url.Action("InviteColleagues", "Colleagues")' class="invite_colleague_icon"><span></span>Invite Colleagues</a>

                        <h2 class="title"><a href='@Url.Action("Index", "ViewReports")'>Reports</a></h2>

                        <a href='@Url.Action("PatientSocialMedia", "Patients")' class="patient_social_media_icon"><span></span>Patient Social Media</a>
                        <a href='@Url.Action("ColleagueSocialMedia", "Colleagues")' class="colleague_social_media_icon"><span></span>Colleague Social Media</a>
                        <a href='@Url.Action("PatientContactList", "Patients")' class="patient_contact_list_icon"><span></span>Patient Contact List</a>
                        <a href='@Url.Action("ColleagueContactList", "Colleagues")' class="colleague_contact_list_icon"><span></span>Colleague Contact List</a>
                        <a href='@Url.Action("ReferralHistory", "Patients")' class="referrals_history_icon"><span></span>Referral History</a>
                        <h2 class="title"><a href='@Url.Action("UpgradeAccount", "FreeToPaid")'>Upgrade</a></h2>
                        <a class="accnt_upgrade_icon" href='@Url.Action("UpgradeAccount", "FreeToPaid")' target="_blank"><span></span>Upgrade Account</a>
                        @*<a class="compose_icon tool-item gradient" href='@Url.Action("MakeMerchant", "Merchant")' target="_blank"><span></span>Register ZiftPay</a>*@
                    </li>
                    <li>

                    </li>
                </ul>

            </div>
        </li>

    </ul>

    <div class="search_expnd paddingleft0" style="display:none;">
        <div id="sb-search" class="sb-search">
            <form>
                <input class="sb-search-input" placeholder="" type="text" name="search" id="search" value="">
                <input class="sb-search-submit" type="submit" value="">
                <a class="sb-icon-search" href="javascript:;"><span class="search">Search</span></a>
            </form>
        </div>
    </div>

    <div style="display:none;" id="search_main_div"></div> <div style="display:none;" id="divClearSearch"></div>
    <div class="clear"></div>
</header>
<script type="text/javascript">
    //For Edit Personal Deatails - Start
    function EditDoctorDetialsById(idstr) {
        $.ajaxSetup({ async: false });



        $.post("/Profile/GetDoctorDetialsById", { UserId: idstr }, function (data) {
            document.getElementById("uprofile").innerHTML = data.toString();
        });


        $.ajaxSetup({ async: true });
    }
    //For Edit Personal Deatails - End
</script>
