﻿<header id="main-header">
    <div class="sticky">
        <div class="top-bar">
            <div class="container">
                <strong class="logo">
                    <a href="/"><img src="~/Content/css/HomePage/images/logo.png" alt="RecordLinc"></a>
                </strong>
                <div class="login-area text-right">
                    <ul class="list-inline">
                        <li><a href="tel:4157491444" class="tel"><i class="icon-phone2"></i>(415)749-1444 </a></li>
                        <li><a href="@Url.Action("Index", "Signup")" class="btn btn-default"><i class="icon-unlock"></i>sign up</a></li>
                        <li><a href="@Url.Action("Index", null, new {controller = "Login" }, Request.Url.Scheme)" class="login"><i class="icon-user"></i>login</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <nav id="main-nav" class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="menu nav navbar-nav">
                        <li class="active"><a href="@Url.Action("Index", "User")">Home</a></li>
                        <li><a href="https://youtu.be/ky1IFi5vhi4?list=PLzwH-GxNakibtDqFW-HS8x28TI_9B8Ncg">Quick Tour</a></li>
                        <li><a href="@Url.Action("Index", "PlanAndPricing")">Plan &amp; Pricing</a></li>
                        <li><a href="@Url.Action("Index", "Faq")">FAQ</a></li>
                        <li class="dropdown">
                            <a href="@Url.Action("Index", "Aboutus")" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About Us <i class="icon-chevron-small-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Team", "Aboutus")">Team</a></li>
                                <li><a href="@Url.Action("Career", "Aboutus")">Careers</a></li>
                                <li><a href="@Url.Action("News", "Aboutus")">News</a></li>
                            </ul>
                        </li>
                        <li><a href="@Url.Action("Index", "ContactUs")">Contact Us</a></li>
                    </ul>
                    <a href="/Signup" class="btn btn-default visible-xs"><i class="icon-unlock"></i>sign up</a>
                    <a href="/Login" class="login visible-xs"><i class="icon-user"></i>login</a>
                    @{
                        var strDentalSiteUrl = System.Configuration.ConfigurationManager.AppSettings.Get("DentalSite").ToString();
                    }
                    <a href="@strDentalSiteUrl" class="btn">Patient Portal</a>
                </div>
            </nav>
        </div>
    </div>
</header>