﻿@{
    ViewBag.Title = "Contact";
    if (HttpContext.Current.Session["AdminUserId"] != null && HttpContext.Current.Session["AdminUserId"] != "")
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/SiteLayoutInner.cshtml";
    }
}
<script type="text/jscript" src="../../Content/js/jquery.ui.core.js"></script>
<script type="text/jscript" src="../../Content/js/jquery.ui.widget.js"></script>
<script type="text/jscript" src="../../Content/js/jquery.ui.mask.js"></script>
<script type="text/javascript">


    function validateNewSupport() {

        if (document.getElementById('txtfname').value == "") {
            //alert("Please enter FirstName");
            swal({ title: "", text: 'Please enter first name' });
            document.getElementById("txtfname").focus();
            return false;
        }
        else {
            if (document.getElementById('txtfname').value.toString().length > 30) {
                //alert('FirstName allow maximum 30 characters only');
                swal({ title: "", text: 'First name allow maximum 30 characters only' });
                return false;
            }
        }

        if (document.getElementById('txtlname').value == "") {
            // alert("Please enter LastName");
            swal({ title: "", text: 'Please enter last name' });
            document.getElementById("txtlname").focus();
            return false;
        }
        else {
            if (document.getElementById('txtlname').value.toString().length > 30) {
                //alert('LastName allow maximum 30 characters only');
                swal({ title: "", text: 'Last name allow maximum 30 characters only' });
                return false;
            }
        }

        if (document.getElementById('txtphone').value == "") {
            //alert("Please enter PhoneNumber");
            swal({ title: "", text: 'Please enter phone number' });
            document.getElementById('txtphone').focus();
            return false;
        }

        var RE_PHONE = /^[01]?[- .]?(\([2-9]\d{2}\)|[2-9]\d{2})[- .]?\d{3}[- .]?\d{4}$/;
        var phone = document.getElementById('txtphone').value;
        if (!RE_PHONE.test(phone)) {
            //alert("Please enter a valid Phone Number");
            swal({ title: "", text: 'Please enter a valid phone number' });
            document.getElementById('txtphone').focus();
            return false;
        }


        if (document.getElementById('txtemail').value == "") {

            // alert("Please enter Email");
            swal({ title: "", text: 'Please enter email' });
            document.getElementById('txtemail').focus();
            return false;
        }


        var result = IsEmail($("#txtemail").val());
        if (result == true)
        { }
        else {
            //alert('Please Enter Valid Email Id');
            swal({ title: "", text: 'Please enter valid email id' });
            document.getElementById("txtemail").focus();
            return false;
        }



        if (document.getElementById('txtmessage').value == "") {
            //alert("Please enter message");
            swal({ title: "", text: 'Please enter message' });
            document.getElementById('txtmessage').focus();
            return false;
        }
        if ($('#txtphone').val() != "Phone") {
            var phone = $('#txtphone').val();
            var RegExEmail = /^(?:\([2-9]\d{2}\)\ ?|[2-9]\d{2}(?:\-?|\ ?))[2-9]\d{2}[- ]?\d{4}$/;
            if (!RegExEmail.test(phone)) {
                //alert("Please enter valid phone number");
                swal({ title: "", text: 'Please enter valid phone number' });
                return false;
            }

        }


        ContactUs();
    }

    $(function () {

        // For Phone
        $('#txtphone').focus(function () {
            if (document.getElementById('txtphone').value == '') {
                $('#txtphone').mask({ mask: '(999) 999-9999' });
            }

        });
        $('#txtphone').blur(function () {
            if (document.getElementById('txtphone').value == '' || document.getElementById('txtphone').value == '(___) ___-____') {


            }


        });
    });


    function CharactersOnlytxtfirstname() {
        var charactersOnly = IsCharactersOnly(document.getElementById('txtfname').value);
        if (charactersOnly == false) {
            //alert('Allow characters only');
            swal({ title: "", text: 'Allow characters only' });
            document.getElementById('txtfname').value = '';
        }
    }

    function CharactersOnlytxtlastname() {
        var charactersOnly = IsCharactersOnly(document.getElementById('txtlname').value);
        if (charactersOnly == false) {
            //alert('Allow characters only');
            swal({ title: "", text: 'Allow characters only' });
            document.getElementById('txtlname').value = '';
        }
    }

    function ContactUs() {



        $.ajaxSetup({ async: false });
        $("#divLoading").show();

        $.post("/ContactUs/ContactUs", { FirstName: $("#txtfname").val(), LastName: $("#txtlname").val(), Email: $("#txtemail").val(), Phone: $("#txtphone").val(), Message: $("#txtmessage").val() }, function (data) {
            if (data == "1") {

                //alert("Your Mail has been sent Successfully -Thank You");
                swal({ title: "", text: 'Your Mail has been sent Successfully -Thank You', type: 'success' });
                $("#txtfname").val('');
                $("#txtlname").val('');
                $("#txtphone").val('');
                $("#txtmessage").val('');
                $("#txtemail").val('');
            }
            else {
                //alert('Send failure:' + data);
                swal({ title: "", text: 'Send failure:' + data, type : 'error' });
            }

        });

        $("#divLoading").hide();

        $.ajaxSetup({ async: true });
    }


</script>
<!-- Main content -->
<div class="content">
    <div class="content_base">
        <!-- Breadcrumb starts-->
        <div class="breadcrumb">
            <ul>
                <li>
                    @if (HttpContext.Current.Session["AdminUserId"] != null && HttpContext.Current.Session["AdminUserId"] != "")
                    {
                        <a href='@Url.Action("Dashboard", "Admin")'>
                            <img width="16" height="14" class="hires" src="../../Content/images/home-icon.png"
                                 alt="Home">
                        </a>
                    }
                    else
                    {
                        <a href='@Url.Action("Index", "Index")'>
                            <img width="16" height="14" class="hires" src="../../Content/images/home-icon.png"
                                 alt="Home">
                        </a>
                    }
                    <span class="after"></span>
                </li>
                <li>
                    <span class="before"></span>
                    @if (HttpContext.Current.Session["AdminUserId"] != null && HttpContext.Current.Session["AdminUserId"] != "")
                    {
                        <a href='@Url.Action("Dashboard", "Admin")'>Dashboard</a>
                    }
                    else
                    {
                        <a href='@Url.Action("Dashboard", "Dashboard")'>Dashboard</a>
                    }
                    <span class="after"></span>
                </li>
                <li class="active"><a href="@Url.Action("Contact", "Dashboard")">Contact</a></li>
            </ul>
        </div>
        <!-- Breadcrumb ends-->
        <h3 class="heading">
            Contact
        </h3>
        <!-- Inner Content Starts -->
        <div class="inner">
            <div class="add_patients ap_fix">
                <ul class="form_listing">
                    <li>
                        <ul class="dual">
                            <li>
                                <ul>
                                    <li>
                                        <label>
                                            First Name<sup class="mandatory">*</sup>
                                        </label><span class="fluid">
                                            <input type="text"
                                                   value="" id="txtfname" onkeyup="CharactersOnlytxtfirstname()">
                                        </span><span class="clear"></span>
                                    </li>
                                    <li>
                                        <label>
                                            Last Name<sup class="mandatory">*</sup>
                                        </label><span class="fluid">
                                            <input type="text"
                                                   value="" id="txtlname" onkeyup="CharactersOnlytxtlastname()">
                                        </span><span class="clear"></span>
                                    </li>
                                    <li>
                                        <label>
                                            Phone<sup class="mandatory">*</sup>
                                        </label><span class="fluid">
                                            <input type="text"
                                                   value="" id="txtphone">
                                        </span><span class="clear"></span>
                                    </li>
                                    <li class="marginbottom20">
                                        <label>
                                            Email<sup class="mandatory">*</sup>
                                        </label><span class="fluid">
                                            <input type="text"
                                                   value="" id="txtemail">
                                        </span><span class="clear"></span>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <ul>
                                    <li>
                                        <label>
                                            Message<sup class="mandatory">*</sup>
                                        </label><span class="fluid">
                                            <textarea class="textarea"
                                                      id="txtmessage"></textarea>
                                        </span><span class="clear"></span>
                                        <input name="Submit" type="submit" class="button_2_submit right" id="btnsave" onclick="return validateNewSupport()">
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="clear">
            </div>
        </div>
        <!-- Inner Content Ends -->
        <div class="clear">
        </div>
    </div>
    <!-- content base ends-->
</div>
<!-- content ends here -->
