﻿<header id="header">
    <div class="adminMenu_holder">
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <img class="nav-icon-img" src="~/Content/css/NewAdmin/images/nav-bar.png" alt="Nav Bar Icon">
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav" id="tabs">
                    <li><a href='@Url.Action("Dashboard", "Dashboard")'> <span class="icon_holder"> <img src="~/Content/css/NewAdmin/images/dasboard-icon.png" alt="dasboard-icon" title="Dashboard"></span> <span class="text_icon">Dashboard</span> </a></li>
                    <li>
                        <a href='@Url.Action("Index", "Inbox")'> <span class="icon_holder"><img src="~/Content/css/NewAdmin/images/inbox-icon.png" alt="inbox-icon" title="Inbox"></span> <span class="text_icon">Inbox</span>@Html.Action("GetUnreadMessageCount", "Inbox", new { UserId = Convert.ToInt32(Session["UserId"]) }) </a>
                        <ul class="sub-menu">
                            <li id="lisentmessage"><a href='@Url.Action("Sent", "Inbox")'><span class="icon_holder"><img src="~/Content/css/NewAdmin/images/sent-message-icon.png" alt="sent-message-icon" title="Sent Message"></span><span class="text_icon">Sent Messages</span></a></li>
                            <li id="lireceiveReferral"><a href='@Url.Action("ReceiveReferral", "Inbox")'><span class="icon_holder"><img src="~/Content/css/NewAdmin/images/receive-referrals-icon.png" alt="receive-referrals-icon" title="Receive Referrals"></span><span class="text_icon">Referrals Received</span></a></li>
                            <li id="lisentreferral"><a href='@Url.Action("SentReferral", "Inbox")'><span class="icon_holder"><img src="~/Content/css/NewAdmin/images/send-referrals-icons.png" alt="send-referrals-icons" title="Send Referrals"></span><span class="text_icon">Referrals Sent</span></a></li>
                            <li id="lidraft"><a href='@Url.Action("Draft", "Inbox")'><span class="icon_holder"><img src="~/Content/css/NewAdmin/images/drafts-icons.png" alt="drafts-icons" title="Drafts"></span><span class="text_icon">Drafts</span></a></li>
                        </ul>
                    </li>
                    @*<li><a href='@Url.Action("Draft", "Inbox")'> <span class="icon_holder"><img src="~/Content/css/NewAdmin/images/drafts-icons.png" alt=""></span> <span class="text_icon">Drafts</span></a>
                    </li>*@
                    <li> <a href="@Url.Action("Index", "PlanTreatment")"> <span class="icon_holder"><img src="~/Images/cases-icon.png" alt="case-icon" title="Plans"></span> <span class="text_icon">Plans </span> </a> </li>
                    @*<li> <a href='@Url.Action("Index", "PlanTreatment")'> <span class="icon_holder"><img src="~/Content/css/NewAdmin/images/cases-icon.png" alt=""></span> <span class="text_icon">Cases</span> </a></li>*@
                    <li class="idprofile"> <a href='@Url.Action("Index", "Profile")'> <span class="icon_holder"><img src="~/Content/css/NewAdmin/images/profile-icon.png" alt="profile-icon" title="Profile"></span> <span class="text_icon">Profile</span> </a> </li>
                    <li> <a href='@Url.Action("Index", "Patients")'> <span class="icon_holder"><img src="~/Content/css/NewAdmin/images/patients-icons.png" alt="patients-icons" title="Patients"></span> <span class="text_icon">Patients</span> </a> </li>
                    <li class="idcolleague"> <a href='@Url.Action("Index", "Colleagues")'> <span class="icon_holder"><img src="~/Content/css/NewAdmin/images/colleagues-icon.png" alt="colleagues-icon" title="Colleagues"></span> <span class="text_icon">Colleagues</span> </a> </li>
                    <li> <a href='@Url.Action("Index", "Appointment")'> <span class="icon_holder"><img src="~/Content/css/NewAdmin/images/appointment-icon.png" alt="appointment-icon" title="Appointment"></span> <span class="text_icon">Appointment</span> </a> </li>
                    <li> <a href='@Url.Action("Index", "ViewReports")'><span class="icon_holder"><img src="~/Content/css/NewAdmin/images/reports-icon.png" alt="reports-icon" title="Reports"></span> <span class="text_icon">Reports</span></a></li>
                    @* Changes By Bhupesh *@

                    @*<li><a href="http://qa.recordlinc.com/ScoreCard/Home/Index/@Session["Account_ID"]" target="_blank"><span class="icon_holder"><img src="~/Content/css/NewAdmin/images/reports-icon.png" alt="scorecard-icon" title="ScoreCard"></span> <span class="text_icon">Score Card</span></a></li>*@
                    <li><a href="http://localhost:57927/Home/Index/@Session["Account_ID"]" target="_blank"><span class="icon_holder"><img src="~/Content/css/NewAdmin/images/reports-icon.png" alt="scorecard-icon" title="ScoreCard"></span> <span class="text_icon">Score Card</span></a></li>

                    @*<li>
            <a href='@Url.Action("Index", "Reward")'><span class="icon_holder"><img src="~/Content/css/NewAdmin/images/reports-icon.png" alt="reports-icon"></span> <span class="text_icon">Reward</span></a>
            <ul class="sub-menu">
                <li id="lisentmessage"><a href='@Url.Action("SuperPlan", "Reward")'><span class="icon_holder"><img src="~/Content/css/NewAdmin/images/sent-message-icon.png" alt="sent-message-icon"></span><span class="text_icon">Super Plan</span></a></li>
                <li id="lireceiveReferral"><a href='@Url.Action("PointMultiplier", "Reward")'><span class="icon_holder"><img src="~/Content/css/NewAdmin/images/receive-referrals-icon.png" alt="receive-referrals-icon"></span><span class="text_icon">Point Multiplier</span></a></li>
                <li id="lisentreferral"><a href='@Url.Action("LongevityMultiplier", "Reward")'><span class="icon_holder"><img src="~/Content/css/NewAdmin/images/send-referrals-icons.png" alt="send-referrals-icons"></span><span class="text_icon">Longevity Multiplier</span></a></li>
                <li id="lidraft"><a href='@Url.Action("ManageSuperBucks", "Reward")'><span class="icon_holder"><img src="~/Content/css/NewAdmin/images/drafts-icons.png" alt="drafts-icons"></span><span class="text_icon">Procedures Code</span></a></li>
            </ul>
        </li>*@
                    @*<li class="recent-act-as"> <a href="#"> <span class="icon_holder"><img src="~/Content/css/NewAdmin/images/recent-activity-icon.png" alt=""></span> <span class="text_icon">Recent Activity</span> </a> </li>
        <li class="recent-act-e"> <a href="#"><span class="text_icon">Email Sent</span> <span class="close-btn-icon pull-right"><img src="~/Content/css/NewAdmin/images/close-btn-icon.png" alt="Close"></span> </a> </li>
        <li class="recent-act-e"> <a href="#"><span class="text_icon">Patient Added</span> <span class="close-btn-icon pull-right"><img src="~/Content/css/NewAdmin/images/close-btn-icon.png" alt="Close"></span> </a> </li>
        <li class="recent-act-e"> <a href="#"><span class="text_icon">Referral Sent</span> <span class="close-btn-icon pull-right"><img src="~/Content/css/NewAdmin/images/close-btn-icon.png" alt="Close"></span> </a> </li>*@
                </ul>
            </div>
        </nav>
    </div>
</header>
