﻿<!DOCTYPE html>
<html>
<head>
    <meta name="robots" content="index, follow">
    <title>@ViewBag.Title</title>
    <script type="text/javascript" src="//www.baw5tracker.com/js/60398.js"></script>
    <noscript><img src="//www.baw5tracker.com/60398.png" style="display:none;" /></noscript>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <style>
        .btn-popup {
            height: 49px;
            width: 155px;
        }

        .pull-right {
            float: right !important;
        }

        ul.ulcheck label {
            padding-top: 8px;
        }

        .utility_links li i.profile {
            background-position: -129px -12px;
        }

        .utility_links li i {
            height: 30px;
        }

        .breadcrumb {
            display: none !important;
        }

        .tool-container.quick_links {
            position: fixed;
        }

        .errormsg {
            color: red;
            float: left;
            display: none;
        }

        .btn-popup {
            height: 49px;
            width: 155px;
        }

        .pull-right {
            float: right !important;
        }
    </style>
    <link href="../../content/css/toolbar.css" type="text/css" rel="stylesheet" />
    <link rel="icon" href="../../Content/images/RecordLinc_ICONS.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../content/css/backend.css?a=123" type="text/css" media="screen">
    <link rel="stylesheet" href="../../content/css/media-query.css" type="text/css" media="screen">
    @* @System.Web.Optimization.Styles.Render("~/StyleBundle")*@ @*
        <%:Styles.Render("~/StyleBundle") %>
        <%:Scripts.Render("~/ScriptBundle") %>*@
    <link rel="icon" href="../../content/images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="../../content/images/favicon.ico" type="image/x-icon" />
    @* @System.Web.Optimization.Scripts.Render("~/ScriptBundle") *@
    <script src="../../content/js/jquery-1.8.3.min.js" type="text/javascript"></script>
    <script src="../../content/js/html5.js" type="text/javascript"></script>
    <script src="../../content/js/modernizr.custom.js" type="text/javascript"></script>
    <script src="../../Content/js/Common.js"></script>

    <!-- Accordian Files -->
    <link href="../../content/css/dcaccordion.css" rel="stylesheet" type="text/css" />
    <!--SweetAlert-->
    <script src="~/Content/js/SweetAlert/sweetalert-dev.js"></script>
    <script src="~/Content/js/SweetAlert/sweetalert.min.js"></script>
    <link href="~/Content/css/SweetAlert/sweetalert.css" rel="stylesheet" />
    <!-- Tabs Files -->
    <link href="../../content/css/tabs.css" rel="stylesheet" type="text/css" />
    <script type='text/javascript' src='../../content/js/tabs.js'></script>
    <script src="../../content/js/jquery.toolbar.js"></script>
    <script type='text/javascript' src='../../content/js/myfunction.js'></script>
    <!-- Lightbox scripts-->
    <script src="../../content/js/lightbox.js"></script>
    <script src="../../content/js/lightboxfile.js"></script>
    <link href="../../content/css/lightbox.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript">
        var MSG_REMOVEDIALOG_YES = '@BO.Constatnt.RemoveDialog.YES';
        var MSG_REMOVEDIALOG_CANCEL = '@BO.Constatnt.RemoveDialog.CANCEL';
        var MSG_REMOVEDIALOG_TITLE = '@BO.Constatnt.RemoveDialog.TITLE';
        jQuery(document).ready(function ($) {
            $('#normal-button').toolbar({ content: '#user-options', position: 'bottom' });
            $('#quicklinks').toolbar({ content: '#user-options2', position: 'bottom' });
            $('#setting_div').toolbar({ content: '#setting_div_2', position: 'bottom' });
            $('#NewSort').toolbar({ content: '#options2', position: 'bottom' });
        });

        var jq18 = $.noConflict();
        jq18(document).ready(function () {
            jq18('.showlightbox').magnificPopup({
                type: 'inline',
                preloader: false,
                focus: '#name',
                closeOnBgClick: false,

                // When elemened is focused, some mobile browsers in some cases zoom in
                // It looks not nice, so we disable it:
                callbacks: {
                    beforeOpen: function () {
                        if ($(window).width() < 700) {
                            this.st.focus = false;
                        } else {
                            this.st.focus = '#name';
                        }
                    }
                }
            });

            jq18(".cancel_btn").click(function () {
                jq18(".mfp-close").click();
            });
        });

        // For Start progressbar on Postback - Start
        jq18(document).ajaxStart(function () {

            $('#divLoading').show(); //Show your progressbar here
        }).ajaxStop(function () {
            $('#divLoading').hide();
        });
        var $ = jq18.noConflict();
        // For Start progressbar on Postback - Start
    </script>
    <!-- Popup for Speciality Dropdown -->
    <script type="text/javascript">
        jQuery(document).ready(function () {	//


            //Member Login PopUp Open
            jQuery(".speciality a").click(function () {
                jQuery(".MemberLoginDropDown").fadeIn();
                jQuery(".MemberLogin").addClass("active");
            });
            //Member Login PopUp Close
            jQuery(".MemberLoginCloseBtn").click(function () {
                jQuery(".MemberLoginDropDown").fadeOut();
                jQuery(".speciality").removeClass("active");
            });
            jQuery('.MemberLoginDropDown').append('<div class="pClose">X</div>');

            jQuery("body *").click(function (e) {
                if (!jQuery(e.target).hasClass('loginbtn') && !jQuery(e.target).closest('.MemberLoginDropDown').length > 0) {
                    jQuery(".speciality").removeClass("active");
                    jQuery('.MemberLoginDropDown').hide();

                };
                jQuery('.pClose, .auto_apply').click(function () {
                    jQuery('.MemberLoginDropDown').hide();
                });
            });

        });
    </script>
    <!-- Expanding SearchField -->
    <link rel="stylesheet" type="text/css" href="../../content/css/component.css" />
    <script src="../../content/js/classie.js" type="text/javascript"></script>
    <script src="../../content/js/uisearch.js" type="text/javascript"></script>
    @* <script type="text/javascript">
            new UISearch(document.getElementById('sb-search'));
        </script>*@
    <script type="text/jscript" src="../../Content/js/jquery.ui.core.js"></script>
    <script type="text/jscript" src="../../Content/js/jquery.ui.widget.js"></script>
    <script type="text/jscript" src="../../Content/js/jquery.ui.mask.js"></script>
    <script src="../../Content/js/jquery-ui-datepicker.js" type="text/javascript"></script>

    <!-- J-query validator js -->
    <script type="text/javascript" src="../../Content/js/jquery.validate.min.js"></script>
    @*This is require because to run script from controller.Use in Patient,Colleague*@
    @*@RenderSection("JavaScript", required: false)*@
    <!-- Script Funcations for Edit Personal Details Pop Up  -- Start  -->
    <script type="text/javascript">

        // For Edit Description of User - Start


        var atLeast = 1
        function Validate() {
            var CHK = document.getElementById("chklstcheck_listing");
            var checkbox = CHK.getElementsByTagName("input");
            var counter = "";
            for (var i = 0; i < checkbox.length; i++) {
                if (checkbox[i].checked) {
                    counter += checkbox[i].value + ',';
                }
            }
            if (counter == "") {
            }
            else {
                counter = counter.substring(0, counter.length - 1);
            }
            return counter;
        }


        function UpdateDoctorPersonalInformation(idstr) {

            var strSpecialities = Validate();
            //var FirstName = document.getElementById('txtPersonalFirstName').value;
            var FirstName = $.trim($('#txtPersonalFirstName').val());
            if (FirstName != null && FirstName != "") {


                var FirstNameCheck = IsCharactersOnly(FirstName);
                if (FirstNameCheck == false) {
                    // alert('FirstName allow characters only');
                    swal({ title: "", text: 'First name allow characters only.' });
                    return false;
                }
                else {
                    if (FirstName.length > 30) {
                        // alert('FirstName allow maximum 30 characters only');
                        swal({ title: "", text: 'First name allow maximum 30 characters only.' });
                        return false;
                    }
                }
            } else {
                //alert('Please enter firstname');
                swal({ title: "", text: 'Please enter First Name.' });
                document.getElementById('txtPersonalFirstName').focus();
                return false;
            }

            var MiddleName = document.getElementById('txtPersonalMiddleName').value;
            var MiddleNameCheck = IsCharactersOnly(MiddleName);
            if (MiddleNameCheck == false) {
                //alert('MiddleName allow characters only');
                swal({ title: "", text: 'Middle Name allow characters only.' });
                return false;
            }
            else {
                if (MiddleName.length > 30) {
                    //alert('MiddleName allow maximum 30 characters only');
                    swal({ title: "", text: 'Middle Name allow maximum 30 characters only.' });
                    return false;
                }
            }

            //var LastName = document.getElementById('txtPersonalLastName').value;
            var LastName = $.trim($('#txtPersonalLastName').val());
            if (LastName != null && LastName != "") {



                var LastNameCheck = IsCharactersOnly(LastName);
                if (LastNameCheck == false) {
                    // alert('LastName allow characters only');
                    swal({ title: "", text: 'Last Name allow characters only.' });
                    return false;
                }
                else {
                    if (LastName.length > 30) {
                        //alert('LastName allow maximum 30 characters only');
                        swal({ title: "", text: 'Last Name allow maximum 30 characters only.' });
                        return false;
                    }
                }
            } else {
                // alert('Please enter lastname');
                swal({ title: "", text: 'Please enter Last Name.' });
                document.getElementById('txtPersonalLastName').focus();
                return false;
            }
            var OfficeName = $('#txtPersonalOfficeName').val();
            var OfficeCheck = IsCharactersOnly(OfficeName);
            if (OfficeCheck == false) {
                //alert('OfficeName allow characters only');
                swal({ title: "", text: 'Office name allow characters only.' });
                return false;
            }
            else {
                if (OfficeName.length > 30) {
                    //alert('OfficeName allow maximum 30 characters only');
                    swal({ title: "", text: 'Office name allow maximum 30 characters only.' });
                    return false;
                }
            }
            var Title = $("#txtPersonalTitle").val();
            if (Title != null && Title != "" && Title != '') {
                var checkTitle = /^[a-zA-Z_ ]+(?:,[a-zA-Z]+)*$/;
                if (!checkTitle.test(Title)) {
                    swal({ title: "", text: 'Job title allow characters and comma.' });
                    return false;
                }
            }

            $.ajaxSetup({ async: false });
            $.post("/Profile/UpdateDoctorPersonalInformation",
          {
              UserId: idstr,
              FirstName: $.trim(($('#txtPersonalFirstName').val())),
              MiddleName: $.trim(($('#txtPersonalMiddleName').val())),
              LastName: $.trim(($('#txtPersonalLastName').val())),
              OfficeName: $.trim(($('#txtPersonalOfficeName').val())),
              Title: $('#txtPersonalTitle').val(),
              Specialities: strSpecialities,
              Salutation: $('#ddlSalutation').val()
          },
            function (data) {

                if (data == "1") {
                    // swal("", "Profile updated successfully!", "success");
                    swal({
                        title: "Successfully",
                        text: "Profile updated successfully",
                        timer: 1500,
                        showConfirmButton: true,
                        closeOnConfirm: true
                    },
                        function (isConfirm) {
                            if (isConfirm) {
                                window.location = document.URL;
                            }
                    });
                }
                else {
                    // alert('Failed to Profile');
                    swal({ title: "", text: 'Failed to Profile.', type: 'error' });
                }
            });


            $.ajaxSetup({ async: true });
        }


        // For Edit Description of User - End


        function CloseEditPersonalInformation() {
            $(".mfp-close").click();

        }


        function SpecialityListBox() {
            jQuery(".MemberLoginDropDown").fadeIn();
            jQuery(".MemberLogin").addClass("active");


            $('.check_all').on('click', function () {
                $(this).parent('.buttons').next('.check_listing').find('.checkallbox').attr('checked', 'checked');
            });
            $('.uncheck_all').on('click', function () {

                $(this).parent('.buttons').next('.check_listing').find('.checkallbox').removeAttr("checked");
            });

            $('.check_all').on('click', function () {
                $(this).parent('.buttons').next('.check_listing').find('.checkallboxSearchColleague').attr('checked', 'checked');
            });
            $('.uncheck_all').on('click', function () {

                $(this).parent('.buttons').next('.check_listing').find('.checkallboxSearchColleague').removeAttr("checked");
            });




            jQuery("body *").click(function (e) {
                if (!jQuery(e.target).hasClass('loginbtn') && !jQuery(e.target).closest('.MemberLoginDropDown').length > 0) {
                    jQuery(".speciality").removeClass("active");
                    jQuery('.MemberLoginDropDown').hide();

                };
                jQuery('.pClose').click(function () {
                    jQuery('.MemberLoginDropDown').hide();
                });
            });
        }
        function CheckAuthorization(FeatureId) {
            $.post("/Common/CheckAuthorizationByFeature",
                                        { FeatureId: FeatureId }, function (data) {
                                            if (data == true) {

                                                switch (parseInt(FeatureId)) {
                                                    case @Convert.ToInt32(BO.Enums.Common.Features.New_Patient_Leads):
                                                        location.href = "/Patients/AddPatient"
                                                        break;
                                                    case @Convert.ToInt32(BO.Enums.Common.Features.Colleagues):
                                                        location.href = "/Colleagues/SearchColleagues"
                                                        break;
                                                }

                                            } else {

                                                $("#upgradeProfile").html(data)
                                            }
                                        });
        }
    </script>
    <!-- Script Funcations for Edit Personal Details Pop Up -- End  -->
    <!--Medichat-->
    @*<script type="text/javascript">
        (function(i, s, o, g, r, z, a, m) { i[r]={ ACCOUNT_TOKEN: z };a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m); }(window, document, 'script', "https://s3.getmedchat.com/embed/bundle.min.js", "MedChat", "f2sm0gfgZ6xY2xV_9eO5bg"));
          </script>*@
    <!--End Medichat-->
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NTKKRVR');</script>
    <!-- End Google Tag Manager -->
</head>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-8809578524284665",
        enable_page_level_ads: true
    });
</script>
<body class="clearfix">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NTKKRVR"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <a class="edit popup-with-form showlightbox" href="#upgradeProfile" id="upgradeAccount" style="display:none;"><i class="edit"></i></a>
    <div id="upgradeProfile" class="mfp-hide white-popup-block"></div>
    <div id="divMessage" style="background-color: #F0F0F0; text-align: center; font-weight: bold;
        font-size: x-large; color: #0990C5;">
    </div>
    <div class="wrapper">
        @Html.Partial("PartialHeaderInner")
        <section class="body_content clearfix">
            <div onmouseover="myfunction()">
                @RenderBody()
            </div>
            <div style="display:block;" id="PartialLeftSideInner">
                @Html.Partial("PartialLeftSideInner")
            </div>
            <a href="#" class="scrollup">Scroll</a>
        </section>
        <div class="clear">
        </div>
        <div class="push">
        </div>
    </div>
    @Html.Partial("PartialFooterInner")
    <!--main wrapper ends here-->
    <!--edit profile popup start-->
    <div id="uprofile" class="mfp-hide white-popup-block">
    </div>
    <!--edit profile popup end-->
    <div id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px;
    top: 0px; width: 100%; height: 100%; background-color: White; z-index: 30001;
    opacity: 0.5; filter: alpha(opacity=70); display: none">
        <p style="position: absolute; top: 30%; left: 50%; color: White;">
            <img src="../../Images/Recordloading.gif">
        </p>
    </div>
</body>
</html>

<script type="text/javascript">
    new UISearch(document.getElementById('sb-search'));
</script>
<link type="text/css" rel="stylesheet" href="../../Content/css/jquery.selectBox.css" />
<script type="text/javascript" src="../../Content/js/jquery.selectBox.js"></script>
<script type="text/javascript">
    $(function () {
        $(".select_menu_upload").selectbox();
    });

    adroll_adv_id = "NOSOLTHIN5DRZIB3NBWZKX";
    adroll_pix_id = "JTKRMCUO6ZFX7FXM5UMSZM";
    $(function () {
        var _onload = function () {
            if (document.readyState && !/loaded|complete/.test(document.readyState)) { setTimeout(_onload, 10); return }
            if (!window.__adroll_loaded) { __adroll_loaded = true; setTimeout(_onload, 50); return }
            var scr = document.createElement("script");
            var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
            scr.setAttribute('async', 'true');
            scr.type = "text/javascript";
            scr.src = host + "/j/roundtrip.js";
            ((document.getElementsByTagName('head') || [null])[0] ||
                document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
        };
        if (window.addEventListener) { window.addEventListener('load', _onload, false); }
        else { window.attachEvent('onload', _onload) }
    }());
</script>
<div id="sendReferral" class="mfp-hide white-popup-block">
    @if (ViewBag.PatientListForSendReferralPopUp != null && ViewBag.PatientListForSendReferralPopUp != "")
    {

        @Html.Raw(ViewBag.PatientListForSendReferralPopUp)

    }
</div>
<div id="add_doctor_popup" class="mfp-hide white-popup-block">
    @if (ViewBag.ColleagueListForSendReferralPopUp != null && ViewBag.ColleagueListForSendReferralPopUp != "")
    {

        @Html.Raw(ViewBag.ColleagueListForSendReferralPopUp)

    }
</div>

@*<img src="http://preloaders.net/preloaders/722/Time%20machine.gif" id="imgFollow"
    style="display: none;" />*@

<img src="../../Images/Recordloading.gif" id="imgFollow" style="display:none;" />
