﻿
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    @*<meta name="description" content="Share electronic dental records and send patient referrals to dentists, orthodontists, dental surgeons, endodontists, periodontists, and prosthodontists. Have patients complete and submit dental patient forms (personal information, dental history, medical history, and insurance coverage) on a computer or mobile device before their dental office visits. Patients can also make appointments online.">
    <meta name="keywords" content="Dental Management Software, Dental Professionals, Dentist Software, Dental Patient Records Online, Online Dental Software, software for dentists">
    <meta name="robots" content="index, follow">*@
    <title>@ViewBag.Title</title>
    <script type="text/javascript" src="//www.baw5tracker.com/js/60398.js"></script>
    <noscript><img src="//www.baw5tracker.com/60398.png" style="display:none;" /></noscript>
    <link rel="stylesheet" href="../../Content/css/recordlinc.css" type="text/css" media="screen">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../../Content/images/RecordLinc_ICONS.ico" type="image/x-icon">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <script src="../../Content/js/jquery-1.8.3.min.js"></script>
    <script src="../../Content/js/html5.js"></script>
    <script src="../../Content/js/scroll_top.js"></script>
    <script src="../../Content/js/script.js"></script>
    <script src="../../Content/js/Common.js"></script>
    <!--SweetAlert-->
    <script src="~/Content/js/SweetAlert/sweetalert-dev.js"></script>
    <script src="~/Content/js/SweetAlert/sweetalert.min.js"></script>
    <link href="~/Content/css/SweetAlert/sweetalert.css" rel="stylesheet" />
    <!-- Responsive Menu Files -->
    <link rel="stylesheet" type="text/css" href="../../Content/css/menu.css" />
    <script src="../../Content/js/menu.js" type="text/javascript"></script>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-8809578524284665",
            enable_page_level_ads: true
        });
    </script>
    <script type="text/javascript">
       
        $(document).ready(function () {
            
            $('.sub-menu li a').mouseenter(function () {
                $(this).closest("ul").closest("li").addClass("active");
            }).mouseleave(function () {
                $(this).closest("ul").closest("li").removeClass("active");
            });
            

        });
        function SearchDatabase() {
            var fname = "";
            var lname = "";
            window.location.href = '@Url.Action("SearchResult", "Profiles")';
        }
    </script>
    <script type="text/javascript">
        adroll_adv_id = "NOSOLTHIN5DRZIB3NBWZKX";
        adroll_pix_id = "JTKRMCUO6ZFX7FXM5UMSZM";
        $(function () {
            var _onload = function () {
                if (document.readyState && !/loaded|complete/.test(document.readyState)) { setTimeout(_onload, 10); return }
                if (!window.__adroll_loaded) { __adroll_loaded = true; setTimeout(_onload, 50); return }
                var scr = document.createElement("script");
                var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
                scr.setAttribute('async', 'true');
                scr.type = "text/javascript";
                scr.src = host + "/j/roundtrip.js";
                ((document.getElementsByTagName('head') || [null])[0] ||
                    document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
            };
            if (window.addEventListener) { window.addEventListener('load', _onload, false); }
            else { window.attachEvent('onload', _onload) }
        }());
    </script>

    <!-- Slider Files -->
    <link rel="stylesheet" id="size-stylesheet" type="text/css" href="../../Content/css/banner.css" />
    <script type="text/javascript" src="../../Content/js/modernizr.custom.28468.js"></script>
    <script type="text/javascript" src="../../Content/js/jquery.cslider.js"></script>
    <script type="text/javascript">
        $(function () {

            $('#da-slider').cslider({
                bgincrement: 0
            });

        });
    </script>

    <!-- JW Player Files -->
    <script src="https://releases.flowplayer.org/js/flowplayer-3.2.12.min.js"></script>
    <style>
        .breadcrumb {
            display: none !important;
        }
    </style>




    <!-- Accordian Files -->
    <script src="../../Content/js/accordianoutter.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="../../Content/css/accordian.css" type="text/css" media="all" charset="utf-8" />
    <!--[if lt IE 9]>
        <link rel="stylesheet" href="css/ie.css">
    <![endif]-->
    <!--[if lt IE 8]>
    <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE8.js"></script>
    <![endif]-->
    <!-- Script for Clearing Form Fields -->

    <script type="text/jscript" src="../../Content/js/jquery.ui.core.js"></script>
    <script type="text/jscript" src="../../Content/js/jquery.ui.widget.js"></script>
    <script type="text/jscript" src="../../Content/js/jquery.ui.mask.js"></script>
    <!-- J-query validator js -->


    <script type="text/javascript" src="../../Content/js/jquery.validate.min.js"></script>
    <!--Medichat-->
    @*<script type="text/javascript">
  (function(i, s, o, g, r, z, a, m) { i[r]={ ACCOUNT_TOKEN: z };a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m); }(window, document, 'script', "https://s3.getmedchat.com/embed/bundle.min.js", "MedChat", "f2sm0gfgZ6xY2xV_9eO5bg"));
    </script>*@
    <!--End Medichat-->

    <!-- Google Tag Manager -->
    <script>
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NTKKRVR');</script>
    <!-- End Google Tag Manager -->
</head>
<body id="innerpg" class="lytgreybg">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NTKKRVR"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!--======================== header ===========================-->
    @*@if (SessionManagement.PatientId != 0 && Convert.ToInt32(SessionManagement.PatientId) != 0)
        {
            @Html.Partial("_HeaderInner")

        }
        else
        {*@
    @Html.Partial("PartialHeaderOuter")

    @* }*@

    @RenderBody()



    @Html.Partial("PartialFooterOuter")


    <a href="#" class="scrollup">Scroll</a>
</body>
</html>
<div id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px;
    top: 0px; width: 100%; height: 100%; background-color: White; z-index: 30001;
    opacity:0.5; filter: alpha(opacity=70); display: none">
    <p style="position: absolute; top: 30%; left: 50%; color: White;">
        <img src="../../Images/Recordloading.gif">
    </p>
</div>
