﻿ @{
    Layout = null;
    ViewBag.Title = "TestPage";
}
<br />
<link href="~/Content/custom.css" rel="stylesheet" />
 
Details for the Dentist which is in 20 miles.
<table id="tableDentistDetails"></table>
Advance Search : <input type="text" id="SearchText" onchange="GetSpecificData()" />
<br />
<input type="hidden" id="hdnUserId" />

<select id="ddlColleague" onchange="GetReferralData()"><option>Select</option></select>
<h2>Get Data</h2>
Data Which is enable.
<div class="table_container clearfix">
    <div class="content_block">
        <div class="action_btns" id="SpecialityList">
            <ul class="check_listing"></ul>
        </div>
    </div>
</div>


<script src="~/Scripts/jquery-1.9.0.min.js"></script>  
<script type="text/javascript">
    
    var User = localStorage.getItem("UserId");
    $(document).ready(function () {
        if (localStorage.getItem("UserId") === null) {
            navigator.geolocation.getCurrentPosition(
         function (position) {
             $.ajax({
                 url: "/api/OneClickReferral/DentistList",
                 type: "POST",
                 data: { Latitude: position.coords.latitude, Longitude: position.coords.longitude },
                 success: function (data) {
                     var table = $('#tableDentistDetails');
                     table.html('');
                     table.append('<thead>');
                     table.append('<tr><td>FirstName</td><td>Image</td></tr>');
                     table.append('</thead>');
                     table.append('<tbody>');
                     $.each(data, function (i, item) {

                         table.append('<tr><td><a href="#" onclick=Getdata("' + item.EncrypteUserId + '")>' + item.FirstName + '</a></td><td><img src=' + item.Image + ' alt=' + item.FirstName + ' height="50" width=50> </td></tr>');

                     });
                     table.append('</tbody>');

                 }
             })
         },
         function (error) {
            alert('Error');
        }
    );
        }
        else
        {
            
            $.ajax({
                url: "/api/OneClickReferral/ColleagueList?EncrypteUserId=" + User,
                type: "POST",
                data: { EncrypteUserId: User },
                success: function (data) {
                    $("#hdnUserId").val(User);
                    $("#ddlColleague").html('');
                    $("#ddlColleague").append('<option>Select</option>');
                    $.each(data, function (i, value) {
                        $("#ddlColleague").append($("<option></option>").val(value.EncrypteUserId).html(value.FirstName));

                    });
                    if ($('#ddlColleague > option').length == 2) {
                        window.location = "http://localhost:2298/OneClickReferral/Index?UserId=" + $("#ddlColleague option:last").val() + "&SenderId=" + $("#hdnUserId").val();
                    }
                }
            });
        }
    });


    function Getdata(userId) {
        
        $.ajax({
            url: "/api/OneClickReferral/ColleagueList?EncrypteUserId=" + userId,
            type: "POST",
            data: { EncrypteUserId: userId },
            success: function (data) {
                localStorage.setItem("UserId", userId);
                $("#hdnUserId").val(userId);
                $("#ddlColleague").html('');
                $("#ddlColleague").append('<option>Select</option>');
                $.each(data, function (i, value) {
                    $("#ddlColleague").append($("<option></option>").val(value.EncrypteUserId).html(value.FirstName));

                });
                if ($('#ddlColleague > option').length == 2) {
                    window.location = "http://localhost:2298/OneClickReferral/Index?UserId=" + $("#ddlColleague option:last").val() + "&SenderId=" + $("#hdnUserId").val();
                }
            }
        });

    }
    function GetReferralData() {
        window.location = "http://localhost:2298/OneClickReferral/Index?UserId=" + $("#ddlColleague").val() + "&SenderId=" + $("#hdnUserId").val();


    }
    function GetSpecificData() {
        var text = $("#SearchText").val();

        $.ajax({
            url: "/api/OneClickReferral/GetSpecificSearch?Email=" + text,
            type: "POST",
            data: { Email: text },
            success: function (data) {
                var table = $('#tableDentistDetails');
                table.html('');
                table.append('<thead>');
                table.append('<tr><td>FirstName</td></tr>');
                table.append('</thead>');
                table.append('<tbody>');
                $.each(data, function (i, item) {

                    table.append('<tr><td><a href="#" onclick=Getdata("' + item.EncrypteUserId + '")>' + item.FirstName + '</a></td></tr>');

                });
                table.append('</tbody>');
            }
        });

    }

</script>
