﻿<!DOCTYPE html>
<html>
<head>
    <style>
        input:required {
            border-color: red !important;
        }
    </style>
    <meta charset="UTF-8">
    <link rel="icon" href="~/Content/HomePage/images/fav-ico.png" type="image/x-icon">
    <title>Login</title>
    <link rel="stylesheet" href="~/Content/Login/Newloginstyle.css">
    @*<script src="~/Content/js/jquery-1.9.1.js"></script>*@
    @*<script src="~/Content/HomePage/js/jquery.main.js"></script>*@
    @*<script type="text/javascript">
  (function(i, s, o, g, r, z, a, m) { i[r]={ ACCOUNT_TOKEN: z };a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m); }(window, document, 'script', "https://s3.getmedchat.com/embed/bundle.min.js", "MedChat", "f2sm0gfgZ6xY2xV_9eO5bg"));
    </script>*@
</head>
<body>
    <!-- <div class="loginmainpage"> -->
    <div class="maindevpage">
        <div class="mainleft">
            <div class="loginleft">
                <div style="text-align:center;"><a href="/"><img src="~/Content/Login/NewLoginImages/mydenalfiles.png" alt="mydenalfiles Logo" ></a></div>
                <div class="form">
                    <h2 style="text-align:left;font-size: 20px;font-weight: 100;color: #666;">Login</h2>
                    <p style="color:red;text-align:left;display:none;" id="errormessage"></p>
                        <input type="text" placeholder="Email" name="UserName" id="txtEmail_UserName" tabindex="1" />
                        <input type="password" placeholder="Password" name="password" tabindex="2" id="txtPassword" />
                        <label id="Isvalid" style="color:red;float: left;padding:5px;margin-bottom: 8px;display:none;">Invalid username or password</label>
                        <button onclick="return btnsubmitclick()" id="btnsubmit">login</button>
                        <div class="remember">
                        </div>
                        <div class="Forgotmain">
                            <div class="Forgotleft"><a href="javascript:;" onclick="location.href='ForgotPassword';">Forgot Your Password?</a></div>
                            <div class="Forgotright"><a href="/Signup">Sign Up Now</a></div>
                        </div>
                </div>
            </div>
        </div>

        <div class="mainright">
            <div class="loginright">
                <h1 class="videotital">Watch the Overview of My Dental Files</h1>
                <img src="~/Content/Login/NewLoginImages/video-rec.png" class="devimg" alt="video-recording" />
                <div class="videobar">
                    <iframe src="//player.vimeo.com/video/82626744" width="560" height="315" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="Trainingmain">
                    <a href="/QuickTour"><button class="Training" name="button">More Training</button></a>
                    <a href="/ContactUs"><button class="contact" name="button">Contact Us</button></a>
                </div>
            </div>
        </div>
    </div>
    <!-- </div> -->
</body>
</html>
<script src="~/Content/JS/jquery-1.9.1.js"></script>
<script type="text/javascript" language="javascript">
    $(document).keypress(function (event) {
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if (keycode == '13') {
            $('#btnsubmit').click();
        }

    });
    //var ButtonKeys = { "EnterKey": 13 };
    //$(function () {
    //    $("#maindevpage").keypress(function (e) {
    //        if (e.which == ButtonKeys.EnterKey) {
    //            btnsubmitclick();
    //        }
    //    });
    //});
    @*$(document).ready(function () {
        var ak = '@ViewBag.IsValid';
        var newinvalid = 'Invalid';

        if (ak == newinvalid) {
            $("#Isvalid").css('display', 'block');
            $('#txtEmail_UserName').val('@ViewBag.UserName');
            $("#txtPassword").prop('required', true);
            $('#txtPassword').focus();
        }
    });
    function getParameterByName(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.search);
        return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }
    function Login() {
        $("#Isvalid").css('display', 'none');
        $("#txtEmail_UserName").prop('required', false);
        $("#txtPassword").prop('required', false);
        $("#txtEmail_UserName").prop('placeholder', 'userName');
        $("#txtPassword").prop('placeholder', 'password');
        var UserName = $("#txtEmail_UserName").val();
        var Password = $("#txtPassword").val();

        if (UserName == "" || UserName == "Doctor login/email") {
            //alert("Please Enter Email");
            //$("#RequerdUsername").css('display', 'block');
            $("#txtEmail_UserName").prop('required', true);
            $("#txtEmail_UserName").prop('placeholder', 'Username field is required');
            $("#txtEmail_UserName").focus();
            return false;
        }
        else {

            if (UserName == "greg") {

            }
            else if (UserName == "admin") {

            }
            else {
                var result = true; //IsEmail(UserName);

                if (result != true) {
                    $("#txtEmail_UserName").prop('required', true);
                    $("#txtEmail_UserName").prop('placeholder', 'Username field is required');
                    $("#txtEmail_UserName").focus();
                    return false;
                }
            }

        }

        if (Password == "" || Password == "Password") {
            //alert("Please Enter Password");
            //$("#Requerdpassword").css('display', 'block');
            $("#txtPassword").prop('required', true);
            $("#txtPassword").prop('placeholder', 'Password field is required');
            document.getElementById("txtPassword").focus();
            return false;
        }
        $("#frmlogin").submit();
    }
    function DefaultClick(event) {

        if (event.keyCode == 13) {
            $('#btnsubmit').click();
        }

        $('#txtEmail_UserName').val($('#txtEmail_UserName').val().toLowerCase());
    }
    function validateLogin2() {
        if ($("#txtEmail_UserName").val() == "" || $("#txtEmail_UserName").val() == null) {
            $("#txtEmail_UserName").prop('required', true);
            $("#txtEmail_UserName").prop('placeholder', 'Username must be required');
            document.getElementById("txtEmail_UserName").focus();
            return false;
        }
        if ($("#txtEmail_UserName").val() != "" || $("#txtEmail_UserName").val() != null) {
            var result = $("#txtEmail_UserName").val();
            if (result != "") {
                $("#hdnemail").val() = $("#txtEmail_UserName").val();
                $("#frmlogin").submit();

            }
            else {
                // alert('Please Enter Valid Email Id');
                swal({ title: "", text: 'Please enter valid email id' });
                $("#txtEmail_UserName").focus();
                return false;
            }

        }

    }*@
    function btnsubmitclick() {
        
        var Password = document.getElementById("txtPassword").value;
        if ($('#txtEmail_UserName').val() == null || $('#txtEmail_UserName').val() == "") {
            $("#txtEmail_UserName").prop('required', true);
            $("#txtEmail_UserName").prop('placeholder', 'Username field is required');
            $("#txtEmail_UserName").focus();
            return false;
        }
        
        else if (Password == null || Password == "" || Password == undefined) {
            $("#txtPassword").prop('required', true);
            $("#txtPassword").prop('placeholder', 'Password field is required');
            document.getElementById("txtPassword").focus();
            return false;
        }
        $.ajax({
            url: '@Url.Action("ReqLogin", "_Login")',
            type: 'POST',
            dataType: 'html',
            contenttype: "application/x-www-form-urlencoded",
            data: {
                Email: $('#txtEmail_UserName').val(),
                temppass: document.getElementById("txtPassword").value
            },
            cache: false,
            ProcessData: false,
            success: function
                           (output, status, xhr) {

                obj = jQuery.parseJSON(output);
                if (obj.Success == true) {

                    window.location = '/DashBoard';
                }
                else {
                    $('#errormessage').html(obj.Message);
                    $('#errormessage').delay(300).slideDown(300).delay(7000).slideUp(300);
                }
            },
            error: function (xhr) {
                if (typeof (console) != 'undefined') {
                    // console.log(xhr.responseText);
                }
            }
        });
    }
</script>