﻿@model OneClickReferral.Models.TeamMember
@try
{
    <form id="frmTeam">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header blue-bg">
                    @Html.HiddenFor(m => m.TeamMemberId)
                    <button type="button" class="close close-circle" data-dismiss="modal">&times;</button>
                    @if (Model.TeamMemberId > 0)
                    {
                        <h3 class="modal-title white" style="text-transform:none">Edit team/staff member</h3>
                    }
                    else
                    {
                        <h3 class="modal-title white" style="text-transform:none">Add team/staff member</h3>
                    }
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group mrgn-btm-20">
                            <label>First Name:<font color="red">*</font></label>
                            @Html.TextBoxFor(m => m.FirstName)
                        </div>
                        <div class="form-group mrgn-btm-20">
                            <label>Last Name:<font color="red">*</font></label>
                            @Html.TextBoxFor(m => m.LastName)
                        </div>
                        <div class="form-group mrgn-btm-20">
                            <label>Email:<font color="red">*</font></label>
                            @if (Model.TeamMemberId > 0)
                            {
                                //XQ1-602 'Security settings' page opens up on pressing 'Backspace' key in 'Email' field under 'Edit Team/Staff Member' popup, on 'Team Members ' page(only in IE and Edge Browser)
                            @Html.TextBoxFor(m => m.Email, new { @disabled = true })
                            @Html.HiddenFor(m => m.Email, new { @id = "OldEmail" })
                            }
                            else
                            {
                            @Html.TextBoxFor(m => m.Email)
                            @Html.ValidationMessageFor(m => m.Email)
                            }

                        </div>
                        <div class="form-group mrgn-btm-20">
                            <label>Speciality:<font color="red">*</font></label>
                            <div class="dropdown latest_dropdown">
                                @Html.DropDownListFor(m => m.Specialty, new SelectList(Model.Specialtylist, "Value", "Text", Model.Specialty), new { @class = "form-control" })                               
                            </div>
                        </div>
                        <div class="form-group mrgn-btm-20">
                            <label>Location:<font color="red">*</font></label>
                            <div class="dropdown latest_dropdown">
                                @Html.DropDownListFor(m => m.Location, new SelectList(Model.Locationlist, "Value", "Text", Model.Location), new { @class = "form-control" })                                
                            </div>
                        </div>
                        <div class="form-group mrgn-btm-20 radio_optn">
                            @*<input id="chkProviderStaff" class="form-control" type="checkbox" >*@
                            @Html.CheckBoxFor(m => m.provtype, new { @class = "form-control",@id = "chkProviderStaff" })                            
                            <label class="mrgn-0" for="">Staff Member</label>
                        </div>
                    </div>

                </div>
                <div class="modal-footer bdr-top-no">
                    <div class="btn-group btn-holder">
                        <button type="button" class="btn btn-default btn1" data-dismiss="modal"><i class="ico-corss2"></i>Cancel</button>
                        <button type="button" id="btn_TeamMember" onclick="AddEditTeamMemberDetails(@Model.TeamMemberId)" class="btn btn-default btn2 blue-bg mrgn-right-0"><i class="ico-save"></i>Save</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
}
catch (Exception Ex)
{
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header blue-bg"><button type="button" class="close close-circle" data-dismiss="modal">&times;</button></div>
            <div class="modal-body">
                @Html.Partial("_PartialError")
            </div>
        </div>
    </div>
    Common.LogError(Ex);
}