﻿@model List<OneClickReferral.Models.Integration>

@try
{
    foreach (var item in Model)
    {
        <div class="col-lg-12 mrgn-btm-20 simple-holder ">

            <span class="">@item.IntegrationName</span>
            <label class="switch">
                @if (item.ConnectorList != null)
                {
                    <input class="form-control integrations" id="@item.IntegrationId" onchange="toggle('@item.IntegrationId','@item.IntegrationName')" type="checkbox" checked>
                }
                else
                {
                    <input class="form-control integrations" id="@item.IntegrationId" onchange="toggle('@item.IntegrationId','@item.IntegrationName')" type="checkbox">
                }
                <span class="slider round1"></span>
            </label>
        </div>

        <div class="row @item.IntegrationId-show">
            <div class="col-lg-12">
                <table class="table table3 integration">
                    <tbody id="@item.IntegrationId-tbody">
                        <tr id="trHidden-@item.IntegrationId" style="display:none;">
                            <td>
                                PMS Integration Key<br />
                                You have never sync @item.IntegrationName
                            </td>
                            <td>
                                <input type="text" name="ConnectorKey" id="@item.IntegrationId" value="" readonly />
                            </td>
                            <td>
                                <div class="dropdown latest_dropdown">
                                    <select id="ddlLocation-@item.IntegrationId" class="form-control height34">
                                        @foreach (var location in item.LocationList)
                                        {
                                            <option value="@location.Value">@location.Text</option>
                                        }
                                    </select>
                                </div>
                            </td>
                            <td>
                                <ul class="icon-list">
                                    <li><a style="cursor:pointer;" onclick="deleteTemp(this,'@item.IntegrationId');"><i class="ico-delete4"></i></a></li>
                                    @*<li><a href="#"><i class="ico-edit"></i></a></li>*@
                                </ul>
                            </td>
                        </tr>

                        @if (item.ConnectorList != null)
                        {                           
                        foreach (var items in item.ConnectorList)
                        {
                            <tr id="trInt-@item.IntegrationId">
                                <td>
                                    @Html.HiddenFor(m => items.ConnectorId)
                                    PMS Integration Key<br />
                                    You have never sync @item.IntegrationName
                                </td>
                                <td>
                                    @Html.TextBoxFor(m => items.ConnectorKey, new { @class = "form-control", @readonly = "readonly" })
                                </td>
                                <td>
                                    <div class="dropdown latest_dropdown">
                                        @Html.DropDownListFor(m => items.LocationId, new SelectList(items.LocationList, "Value", "Text", items.LocationId), new { @class = "form-control height34", @disabled = "disabled" })
                                    </div>
                                </td>
                                <td>
                                    <label class="switch">
                                        @if (items.IsDisable)
                                        {
                                            <input class="form-control" id="int_@items.ConnectorId" onchange="EnableDisable('@items.ConnectorId','@item.IntegrationName')" type="checkbox">
                                        }
                                        else
                                        {
                                            <input class="form-control" id="int_@items.ConnectorId" onchange="EnableDisable('@items.ConnectorId','@item.IntegrationName')" type="checkbox" checked>
                                        }
                                        <span class="slider round1"></span>
                                    </label>                                    
                                </td>
                            </tr>
                            }
                        }
                        <tr>
                            <td>
                                <div class="btn-group btn-holder">
                                    <button class="btn btn-default btn-secondary" id="btn-@item.IntegrationId" onclick="AddAccount('@item.IntegrationId','@item.IntegrationName')"><i class="ico-add"></i>Add Account</button>
                                </div>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    }
}
catch (Exception Ex)
{
    @Html.Partial("_PartialError")
    Common.LogError(Ex);
}



