﻿@model List<OneClickReferral.Models.TeamMember>
@try
            {
                if (Model.Count > 0)
                {
                    foreach (var item in Model)
                    {
            <tr id="row_@item.TeamMemberId">
                @*<td>
                        <div class="all-select">
                            <div class="form-group">
                                <input class="form-check-input checkSingle" type="checkbox" id="CheckPateint" onchange="UncheckMaincheckBox();" value="@item.TeamMemberId">
                            </div>
                        </div>
                    </td>*@
                <td data-th="Last Name">@item.LastName</td>
                <td data-th="First Name">@item.FirstName</td>
                <td data-th="Email">
                    @if (!Common.SafeString(item.Email).Contains("@domain.com"))
                    {
                        <a href="mailto:@item.Email">@item.Email</a>
                    }
                </td>
                <td data-th="Specialty">@item.Specialty</td>
                <td data-th="Location">@item.Location</td>
                @*<td data-th="ProviderId">@item.ProviderId</td>*@
                <td data-th="Actions">
                    <a onclick="AddEditTeamMember(@item.TeamMemberId)" style="cursor:pointer" title="Edit" data-toggle="tooltip" data-placement="bottom"><i class="ico-edit"></i></a>
                    <a onclick="OpenRemoveTeamMember(@item.TeamMemberId)" style="cursor:pointer" title="Delete" data-toggle="tooltip" data-placement="bottom"><i class="ico-delete"></i></a>
                </td>
            </tr>
        }
        <script type="text/javascript">
            $('a[data-toggle="tooltip"]').tooltip({
                container: 'body'
            });
        </script>
    }
    else
    {
        <tr><td colspan="6"><center><span id="nomore">No more record found!</span></center></td></tr>
    }
}
catch (Exception Ex)
{
    <tr><td colspan="8"><center><span id="nomore">@Html.Partial("_PartialError")</span></center></td></tr>
    Common.LogError(Ex);
}


