﻿@model OneClickReferral.Models.DentistReferralForm

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<style>
    .cursor-move {
        cursor: move;
    }
    .cursor-default {
        cursor: default;
    }
</style>
@try
{
    <form role="form" action="#" class="new_plan" id="Dentistgroup" autocomplete="off">
        <div class="mrgn-btm-20">
            <h2>Information</h2>
        </div>
        <div class="row">
            <div class="col-lg-12 component-container" id="DetailId">
                @if (Model != null && Model.DentistReferral != null)
                {
                    foreach (var Obj in Model.DentistReferral)
                    {
                @getDentistReferralFields(Obj.Id, Model.UserId, Obj.MapFieldName, Obj.IsEnable, Obj.SortOrder);
                    }

                }
            </div>
        </div>
        <div class="mrgn-btm-20">
            <h2>Locations</h2>
        </div>
        <div class="row">
            <div class="col-lg-12" id="DetailId">
                <div class="enter-email-bar mrgn-0 mrgn-btm-20 ref_form_setting">
                    <span class="enable">Display Locations</span>
                    <label class="switch">
                        <input type="checkbox" checked="@Model.IsDisplayLocation" id="isLocationSelected" data-name="DisplayLocation" />
                        <span class="slider round1"></span>
                    </label>
                </div>
            </div>
        </div>

        <div class="mrgn-btm-20">
            <h2>Services</h2>
        </div>

        <div class="row">
            <div class="col-lg-12">
                @foreach (var item in Model.RefFormSetting)
                {                   
                var itemName = @item.Name.Replace(" ", "");
                <div class="SectionClass drag-drop cursor-move mrg-btm-15" data-keyid="@item.Id" data-parentkeyid="0" data-specialityid="@item.SpecialityId" data-userid="@Model.UserId" data-table="dentistspecialty">
                    @switch (item.SpecialityId)
                        {
                            case 15: // Patient Information
                            case 16: // Insurance Coverage
                            case 17: // Medical History
                            case 18: //Dental History
                        <div class="mrgn-btm-20 row component-container">
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-8">
                                <h2 class="mrgn-0 mrgn-btm-mob-10">@item.Name</h2>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                                <label class="switch">
                                    <input type="checkbox" checked="@item.IsEnable" id="isSelected_@itemName" onchange="ShowRefSettingData('isSelected_@itemName', 'Service_@itemName');" data-id="@item.SpecialityId" data-name="@itemName" />
                                    <span class="slider round1"></span>
                                </label>
                                <span class="enable"></span>
                            </div>
                        </div>
                                break;
                            default:

                        <div class="enter-email-bar mrgn-0 ref_form_setting">
                            <span class="enable">@item.Name</span>
                            <label class="switch">
                                <input type="checkbox" checked="@item.IsEnable" id="isSelected_@itemName" onchange="ShowRefSettingData('isSelected_@itemName', 'Service_@itemName');" data-id="@item.SpecialityId" data-name="@itemName" />
                                <span class="slider round1"></span>
                            </label>
                        </div>
                                break;

                        }

                    <div id="Service_@itemName">
                        <div class="row">
                            @{
                                    var clas = "oral";
                            }
                            @if (item.SpecialityId == 15 || item.SpecialityId == 16 || item.SpecialityId == 17 || item.SpecialityId == 18)
                                {
                                    clas = "";
                                }
                            <div class="@clas" style="display: block;">

                                @if (item.RefService.Count > 0)
                                    {
                                    <div class="col-lg-12 component-container ui-sortable">
                                        @{ var count = Common.SafeInteger(item.RefService.Count);
                                        }
                                        <div>

                                            @for (int i = 0; i < count; i++)
                                                {
                                                    var subfldCount = Common.SafeInteger(item.RefService[i].lstReferralFormSubField.Count);
                                                    var item1Name = item.RefService[i].Name.Replace(" ", "");
                                            <div class="enter-email-bar mrgn-0 ref_form_setting component-section itemDiv drag-drop cursor-move" data-keyid="@item.RefService[i].Id" data-parentkeyid="0" data-specialityid="@item.RefService[i].SpecialityId" data-userid="@Model.UserId" data-table="dentistservices">
                                                <span class="enable">@item.RefService[i].Name</span>
                                                <label class="switch">
                                                    @if (item1Name == "FirstName" || item1Name == "LastName" || item1Name == "EmailAddress" || item1Name == "PrimaryPhoneNumber")
                                                            {
                                                        <input type="checkbox" checked="@item.RefService[i].IsEnable" id="isSelected_@item.RefService[i].FieldId" data-name="@item.RefService[i].SpecialityId"
                                                               data-id="@item.RefService[i].FieldId" onchange="ShowSubItemData('isSelected_@item.RefService[i].FieldId', 'Service_@item.RefService[i].FieldId');" disabled />
                                                            }
                                                            else

                                                            {
                                                        <input type="checkbox" checked="@item.RefService[i].IsEnable" id="isSelected_@item.RefService[i].FieldId" data-name="@item.RefService[i].SpecialityId"
                                                               data-id="@item.RefService[i].FieldId" onchange="ShowSubItemData('isSelected_@item.RefService[i].FieldId', 'Service_@item.RefService[i].FieldId');" />
                                                            }

                                                    <span class="slider round1"></span>
                                                </label>
                                                @if (item.RefService[i].lstReferralFormSubField.Count > 0)
                                                    {
                                                    <div id="Service_@item.RefService[i].FieldId" class="services mrgn-btm-20 xyz">
                                                        <div class="row">
                                                            <div class="oral">
                                                                <div class="col-lg-12 component-container ui-sortable">
                                                                    @{
                                                                        for (var j = 0; j < item.RefService[i].lstReferralFormSubField.Count; j++)
                                                                        {
                                                                            var SubitemName = item.RefService[i].lstReferralFormSubField[j].Name.Replace(" ", "");


                                                                    <div class="enter-email-bar mrgn-0 ref_form_setting FinalDiv cursor-move" data-keyid="@item.RefService[i].lstReferralFormSubField[j].Id" data-Parentkeyid="@item.RefService[i].lstReferralFormSubField[j].ParentFieldId" data-specialityid="@item.RefService[i].lstReferralFormSubField[j].SpecialityId" data-userid="@Model.UserId" data-table="dentistsubservices">
                                                                        <span class="enable">@item.RefService[i].lstReferralFormSubField[j].Name</span>
                                                                        <label class="switch">
                                                                            <input type="hidden" value="@item.RefService[i].lstReferralFormSubField[j].SubFieldId" id="hdnSubFieldId_@item.RefService[i].lstReferralFormSubField[j].SubFieldId" />
                                                                            <input type="checkbox" checked="@item.RefService[i].lstReferralFormSubField[j].IsEnable"
                                                                                   id="isSelected_@item.RefService[i].lstReferralFormSubField[j].ParentFieldId" data-name="@item.RefService[i].lstReferralFormSubField[j].SpecialityId" data-id="@item.RefService[i].lstReferralFormSubField[j].ParentFieldId" data-hdnid="hdnSubFieldId_@item.RefService[i].lstReferralFormSubField[j].SubFieldId" />
                                                                            <span class="slider round1"></span>
                                                                        </label>
                                                                    </div>
                                                                        }
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    }
                                                    @*</div>*@
                                                </div>

                                                                            }
                                        </div>
                                    </div>
                                                                            }
                            </div>
                        </div>
                    </div>
                </div>
                 
                                                                        }
            </div>
        </div>


        <div id="hdnfields">

        </div>
        <div class="row mrgn-btm-20" id="ButtonDivId">
            <div class="col-lg-12">
                <div class="btn-group btn-holder">
                    @*<button type="button" href="javascript:;" id="btn-dentist" onclick="SaveReferralFormSettings()" class="btn btn-default btn2"><i class="ico-save"></i>Save</button>*@
                </div>
            </div>
        </div>
    </form>
                                                                        }
                                                                        catch (Exception Ex)
                                                                        {

                                                                            <div class="mrgn-btm-20">
                                                                                <h2>Error</h2>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-lg-12">
                                                                                    @Html.Partial("_PartialError")


                                                                                </div>
                                                                            </div>
                                                                            Common.LogError(Ex);
                                                                        }





<script>
    $(document).ready(function () {
        $('.component-container').removeClass("component-container");
        $('.drag-drop').parent().addClass("component-container");
        $('.FinalDiv').parent().addClass("component-container");

        var flg = true;
        $('.SectionClass').each(function () {
            var specialityid = $(this).attr('data-specialityid');
            if (specialityid == 15 || specialityid == 16 || specialityid == 17 || specialityid == 18) {
                $(this).removeClass("cursor-move");
                $(this).removeClass("component-container");
                var cloned = $(this).clone();
                if (flg) {
                    $(this).parent().parent().append($('<div>').addClass('col-lg-12 ui-sortable subcontainer'));
                    flg = false;
                }
                $(this).parent().parent().find('.subcontainer').append(cloned.addClass("cursor-default"));
                $(this).remove();
            }
        })


        $('.component-container').sortable({
            cursor: 'move',
            placeholder: 'ui-state-highlight',
            //connectWith: '.itemDiv',
            //cancel: ".cursor-default",
            start: function (e, ui) {
                //if (!$(ui.item[0]).hasClass('cursor-default')) {
                ui.placeholder.width(ui.item.find('.panel').width());
                ui.placeholder.height(ui.item.find('.panel').height());
                ui.placeholder.addClass(ui.item.attr("class"));
                // }
                //else {
                //    ui.revert();
                //    return false;
                //}
            },
            update: function (event, ui) {
                // if (!$(ui.item[0]).hasClass('cursor-default')) {
                var index = 1;
                var current_div;

                //event.target
                $(event.target).children('div').each(function () {
                    $(this).attr('index', index);
                    index++;
                    if ($(ui.item[0]).attr('data-keyid') == $(this).attr('data-keyid')) {
                        current_div = $(this);
                    }
                })
                // Call database for save sequence as per user given

                var data = {};
                data.KeyId = ($(current_div).attr('data-keyid'));
                data.ParentKeyId = ($(current_div).attr('data-parentkeyid'));
                data.SpecialityId = ($(current_div).attr('data-specialityid'));
                data.ServicesId = ($(current_div).attr('data-servicesid'));
                data.NewSequence = ($(current_div).attr('index'));
                data.UserId = ($(current_div).attr('data-userid'));
                data.TableName = ($(current_div).attr('data-table'));
                if (data.UserId != undefined && data.UserId > 0)
                    UpdateSequence(data);
            }
            // }
        });

    });


    function UpdateSequence(objdata) {
        $.ajax({
            url: '/Settings/SaveManageSequence',
            type: "POST",
            data: JSON.stringify({ 'data': objdata }),
            dataType: "json",
            traditional: true,
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                if (data.status == "Success") {
                    //Saved
                } else {
                    //Error
                }
            },
            error: function () {
                alert("An error has occured!!!");
            }
        });
    }  

</script>


@helper getDentistReferralFields(int KeyId, int UserId, string MapFieldName, bool IsEnable, int SortOrder)
{
switch (MapFieldName)
{
    case "FirstName":
            <div class="enter-email-bar mrgn-0 mrgn-btm-20 ref_form_setting component-section drag-drop cursor-move" data-keyid="@KeyId" data-table="dentistreferral" data-userid="@UserId">
                <span class="enable">First Name</span>
                <label class="switch">
                    <input type="checkbox" checked id="isFirstNameSelected" disabled data-name="FirstName" />
                    <span class="slider round1" style="cursor:default !important;"></span>
                </label>
            </div>
        break;
    case "LastName":
            <div class="enter-email-bar mrgn-0 mrgn-btm-20 ref_form_setting component-section drag-drop cursor-move" data-keyid="@KeyId" data-table="dentistreferral" data-userid="@UserId">
                <span class="enable">Last Name</span>
                <label class="switch">
                    <input type="checkbox" checked="@IsEnable" id="isLastNameSelected" data-name="LastName" />
                    <span class="slider round1"></span>
                </label>
            </div>
        break;
    case "PatientPhone":
            <div class="enter-email-bar mrgn-0 mrgn-btm-20 ref_form_setting component-section drag-drop cursor-move" data-keyid="@KeyId" data-table="dentistreferral" data-userid="@UserId">
                <span class="enable">Phone</span>
                <label class="switch">
                    <input type="checkbox" checked id="isPhoneSelected" disabled data-name="PatientPhone" />
                    <span class="slider round1" style="cursor:default !important;"></span>
                </label>
            </div>
        break;
    case "PatientEmail":
            <div class="enter-email-bar mrgn-0 mrgn-btm-20 ref_form_setting component-section drag-drop cursor-move" data-keyid="@KeyId" data-table="dentistreferral" data-userid="@UserId">
                <span class="enable">Email</span>
                <label class="switch">
                    <input type="checkbox" checked="@IsEnable" id="isEmailSelected" data-name="PatientEmail" />
                    <span class="slider round1" style="cursor:default !important;"></span>
                </label>
            </div>
        break;
    case "DateofBirth":
            <div class="enter-email-bar mrgn-0 mrgn-btm-20 ref_form_setting component-section drag-drop cursor-move" data-keyid="@KeyId" data-table="dentistreferral" data-userid="@UserId">
                <span class="enable">Date of Birth</span>
                <label class="switch">
                    <input type="checkbox" checked="@IsEnable" id="isDOBSelected" data-name="DateofBirth" />
                    <span class="slider round1"></span>
                </label>
            </div>
        break;

    default:
        break;
}
}
