﻿@model List<OneClickReferral.Models.PatientReferralForm>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<style>
    .cursor-move {
        cursor: move;
    }
    .cursor-default {
        cursor: default;
    }
</style>

@try
{
    <form role="form" action="#" class="new_plan" id="Patientgroup" autocomplete="off">
        @foreach (var item in Model)
        {
            var itemName = @item.SectionName.Replace(" ", "");
            <div class="row mrgn-btm-20">
                <div class="enter-email-bar mrgn-0 mrgn-btm-20 ref_form_setting component-section SectionClass_P">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-8 ">
                        <h2 lass="mrgn-0 mrgn-btm-mob-10" id="specid">@item.SectionName</h2>
                    </div>

                    <label class="switch" style="margin-top: 10px;">
                        @if (item.SectionName == "Personal Information")
                        {
                            <input type="checkbox" checked disabled id="P_isSelected_@itemName" onchange="ShowRefSettingDataP('P_isSelected_@itemName', 'P_Service_@itemName');" data-id="@item.SectionId" data-name="@itemName" />
                        }
                        else
                        {
                            <input type="checkbox" checked="@item.IsEnable" id="P_isSelected_@itemName" onchange="ShowRefSettingDataP('P_isSelected_@itemName', 'P_Service_@itemName');" data-id="@item.SectionId" data-name="@itemName" />
                        }
                        <span class="slider round1"></span>
                    </label>
                    <div id="P_Service_@itemName" class="component-container">
                        @if (item.lstFieldMapping.Count > 0)
                        {
                            var count = Common.SafeInteger(item.lstFieldMapping.Count);
                            <div class="row">
                                <div class="col-lg-12" >
                                    <div id="txtAge2">
                                        <div class="component-container" style="margin-top:40px;">
                                            @for (int i = 0; i < count; i++)
                                            {
                                                var subfldCount = Common.SafeInteger(item.lstFieldMapping[i].lstSubFieldMapping.Count);
                                                var item1Name = item.lstFieldMapping[i].FieldName.Replace(" ", "");
                                                <div class="enter-email-bar mrgn-0 mrgn-btm-20 ref_form_setting component-section itemDiv_P" data-keyid="@item.lstFieldMapping[i].KeyId" data-specialityid="@item.lstFieldMapping[i].SectionId" data-parentkeyid="0" data-servicesid="@item.lstFieldMapping[i].FieldId" data-table="@item.lstFieldMapping[i].TableName" data-userid="@item.UserId" data-type="patient">
                                                    <span class="enable">@item.lstFieldMapping[i].FieldName</span>
                                                    <label class="switch">
                                                        @if (item1Name == "FirstName" || item1Name == "PhoneNumber")
                                                        {
                                                            <input type="checkbox" checked id="P_isSelected_@item.lstFieldMapping[i].FieldId" data-name="@item.lstFieldMapping[i].SectionId"
                                                                   data-id="@item.lstFieldMapping[i].FieldId" onchange="ShowSubItemDataP('P_isSelected_@item.lstFieldMapping[i].FieldId', 'P_Service_@item.lstFieldMapping[i].FieldId');" disabled />
                                                        }
                                                        else
                                                        {
                                                            <input type="checkbox" checked="@item.lstFieldMapping[i].IsEnable" id="P_isSelected_@item.lstFieldMapping[i].FieldId" data-name="@item.lstFieldMapping[i].SectionId"
                                                                   data-id="@item.lstFieldMapping[i].FieldId" onchange="ShowSubItemDataP('P_isSelected_@item.lstFieldMapping[i].FieldId', 'P_Service_@item.lstFieldMapping[i].FieldId');" />
                                                        }
                                                        <span class="slider round1"></span>
                                                    </label>
                                                    @*Inner Item*@
                                                    <div id="P_Service_@item.lstFieldMapping[i].FieldId" class="component-container">
                                                        @if (subfldCount > 0)
                                                        {
                                                            for (int j = 0; j < subfldCount; j++)
                                                            {
                                                                var SubitemName = item.lstFieldMapping[i].lstSubFieldMapping[j].FieldName.Replace(" ", "");
                                                                <div class="services col-lg-5" style="margin:15px;" data-keyid="@item.lstFieldMapping[i].lstSubFieldMapping[j].KeyId" data-specialityid="@item.lstFieldMapping[i].lstSubFieldMapping[j].SectionId" data-parentkeyid="@item.lstFieldMapping[i].lstSubFieldMapping[j].ParentFieldId" data-servicesid="@item.lstFieldMapping[i].lstSubFieldMapping[j].FieldId" data-table="@item.lstFieldMapping[i].lstSubFieldMapping[j].TableName" data-userid="@item.UserId" data-type="patient">
                                                                    <div class="enter-email-bar mrgn-0 ref_form_setting FinalDiv_P">
                                                                        <span class="enable">@item.lstFieldMapping[i].lstSubFieldMapping[j].FieldName</span>
                                                                        <label class="switch">
                                                                            <input type="hidden" value="@item.lstFieldMapping[i].lstSubFieldMapping[j].SubFieldId" id="hdnSubFieldId_@item.lstFieldMapping[i].lstSubFieldMapping[j].SubFieldId" />
                                                                            <input type="checkbox" checked="@item.lstFieldMapping[i].lstSubFieldMapping[j].IsEnable"
                                                                                   id="isSelected_@item.lstFieldMapping[i].lstSubFieldMapping[j].ParentFieldId" data-name="@item.lstFieldMapping[i].lstSubFieldMapping[j].SectionId" data-id="@item.lstFieldMapping[i].lstSubFieldMapping[j].ParentFieldId" data-hdnid="@item.lstFieldMapping[i].lstSubFieldMapping[j].FieldId" />
                                                                            <span class="slider round1"></span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            }

                                                        }
                                                    </div>
                                                </div>
                                                                                    }
                                        </div>
                                    </div>
                                </div>
                            </div>
                                                                                    }
                    </div>
                </div>

            </div>
                                                                                    }
        <div id="hdnpatfields"></div>
    </form>
                                                                                    }
                                                                                    catch (Exception Ex)
                                                                                    {
                                                                                        @Html.Partial("_PartialError")
                                                                                        Common.LogError(Ex);
                                                                                    }

<script>
    $(document).ready(function () {
        $('.component-section').addClass("cursor-move");
        $('#specsid').parent('div').parent('div').removeClass("cursor-move");
        $('#specid').parent('div').parent('div').addClass("cursor-default");       
        $('.component-container').sortable({
            cursor: 'move',
            placeholder: 'ui-state-highlight',
            //connectWith: '.itemDiv',
            //cancel: ".cursor-default",
            start: function (e, ui) {
                //if (!$(ui.item[0]).hasClass('cursor-default')) {
                ui.placeholder.width(ui.item.find('.panel').width());
                ui.placeholder.height(ui.item.find('.panel').height());
                ui.placeholder.addClass(ui.item.attr("class"));
                // }
                //else {
                //    ui.revert();
                //    return false;
                //}
            },
            update: function (event, ui) {
                // if (!$(ui.item[0]).hasClass('cursor-default')) {
                var index = 1;
                var current_div;

                //event.target
                $(event.target).children('div').each(function () {
                    $(this).attr('index', index);
                    index++;
                    if ($(ui.item[0]).attr('data-keyid') == $(this).attr('data-keyid')) {
                        current_div = $(this);
                    }
                })
                //Call database for save sequence as per user given
                debugger;
                var data = {};
                data.KeyId = ($(current_div).attr('data-keyid'));
                data.ParentKeyId = ($(current_div).attr('data-parentkeyid'));
                data.SpecialityId = ($(current_div).attr('data-specialityid'));
                data.ServicesId = ($(current_div).attr('data-servicesid'));
                data.NewSequence = ($(current_div).attr('index'));
                data.UserId = ($(current_div).attr('data-userid'));
                data.TableName = ($(current_div).attr('data-table'));
                if (data.UserId != undefined && data.UserId > 0)
                    UpdateSequence(data);
            }
            // }
        });

    });


    function UpdateSequence(objdata) {
        $.ajax({
            url: '/Settings/SavePatientManageSequence',
            type: "POST",
            data: JSON.stringify({ 'data': objdata }),
            dataType: "json",
            traditional: true,
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                if (data.status == "Success") {
                    //Saved
                } else {
                    //Error
                }
            },
            error: function () {
                alert("An error has occured!!!");
            }
        });
    }


</script>