﻿@model List<OneClickReferral.Models.CompanyIntegrationDetail>
@try
{
    if (Model != null || Model.Count > 0)
    {
        foreach (var items in Model)
        {
            <tr id="tr-@items.IntegrationId">
                <td>
                    @Html.HiddenFor(m => items.ConnectorId)
                    Guid Key<br />
                    You have never sync @items.IntegrationName
                </td>
                <td>
                    @Html.TextBoxFor(m => items.ConnectorKey, new { @class = "form-control", @readonly = "readonly" })
                </td>
                <td>
                    <div class="dropdown latest_dropdown">
                        @Html.DropDownListFor(m => items.LocationId, new SelectList(items.LocationList, "Value", "Text", items.LocationId), new { @class = "form-control height34", @disabled = "disabled" })                     
                    </div>
                </td>
                <td>
                    <ul class="icon-list">
                        @*<li><a href="#"><i class="ico-delete4"></i></a></li>*@
                        @*<li><a href="#"><i class="fas fa-pause-circle"></i></a></li>*@
                    </ul>
                </td>
            </tr>
        }
    }
}
catch (Exception Ex)
{
    <tr>
        <td colspan="4">@Html.Partial("_PartialError")</td>
    </tr>
    Common.LogError(Ex);
}


