﻿@model OneClickReferral.Models.AccountSettings
@{
    ViewBag.Title = "Security Settings";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
@section styles{
    <link href="~/Content/css/Password.css" rel="stylesheet" />
}
<div class="container">
    <div class="new-case case-overview account_page security">
        <div class="col-lg-12 ">
            <div id="wizard">
                @Html.Partial("_PartialHorizontalMenuProfile")
                <div class="tab-pane">
                    <div class="row mrgn-btm-20">
                        <div class="col-lg-3 col-sm-4">
                            <label>Username<font color="#FF0000">*</font></label>
                        </div>
                        <div class="col-lg-9 col-sm-8">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    @Html.TextBoxFor(m => m.Username, new { @placeholder = "User Name", @class = "form-control" })
                                    @Html.HiddenFor(m => m.Username, new { @id = "hdnUsername" })
                                    <font color="#FF0000">@Html.ValidationMessageFor(m => m.Username)</font>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mrgn-btm-20">
                        <div class="col-lg-3 col-sm-4">
                            <label>Primary Email<font color="#FF0000">*</font></label>
                        </div>
                        <div class="col-lg-9 col-sm-8">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    @*<input placeholder="Primary Email" type="text" />*@
                                    @Html.TextBoxFor(m => m.PrimaryEmail, new { @placeholder = "xyz@exmple.com", @aria_describedby = "basic-addon2" })
                                    @Html.HiddenFor(m => m.PrimaryEmail, new { @id = "hdnPrimaryEmail" })
                                    <font color="#FF0000">@Html.ValidationMessageFor(m => m.PrimaryEmail)</font>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mrgn-btm-20">
                        <div class="col-lg-3 col-sm-4">
                            <label>Secondary Email</label>
                        </div>
                        <div class="col-lg-9 col-sm-8">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    @Html.TextBoxFor(m => m.SecondaryEmail, new { @placeholder = "xyz@exmple.com", @aria_describedby = "basic-addon2" })
                                    @Html.HiddenFor(m => m.SecondaryEmail, new { @id = "hdnSecondaryEmail" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mrgn-btm-20">
                        <div class="col-lg-3 col-sm-4">
                            <label>Password</label>
                        </div>
                        <div class="col-lg-9 col-sm-8">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="input-group">
                                        @Html.PasswordFor(m => m.NewPassword, new { @placeholder = "Change Password", @onkeyup = "validation()", @onblur = "hide()" })
                                        <span class="input-group-addon" style="cursor:pointer;" id="password" title="Show" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-eye"></i></span>

                                    </div>
                                    <div id="new" class="passvalidation">
                                        <div id="pswd_info" style="float:left;">
                                            <h4>Password must meet the following requirements:</h4>
                                            <ul>
                                                <li id="letter" class="invalid">At least <strong>one small letter</strong></li>
                                                <li id="capital" class="invalid">At least <strong>one capital letter</strong></li>
                                                <li id="number" class="invalid">At least <strong>one number</strong></li>
                                                <li id="special" class="invalid">At least <strong>one special symbol</strong></li>
                                                <li id="length" class="invalid">Be at least <strong>8 characters</strong></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                  
                    <div class="row mrgn-btm-20">
                        <div class="col-lg-12">
                            <div class="btn-group btn-holder">
                                <a style="cursor:pointer;" class="btn btn-default btn2" onclick="SubmitData()"><i class="ico-edit4"></i>Submit</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/Password.js"></script>
    <script src="~/Scripts/ControllerJS/Settings/SecuritySettings.js"></script>
}