﻿
@{
    ViewBag.Title = "Integrations";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
@section styles{
    <link href="~/Content/css/snackbar.css" rel="stylesheet" />
}
<main id="main" role="main">
    <div class="container">
        <div class="new-case case-overview account_page search security">

            <div class="col-lg-12 ">
                <div id="wizard">               
                    @Html.Partial("_PartialHorizontalMenuProfile")
                    <div class="tab-pane">
                        <div class="row inline-integrations ref_form_setting" id="appendIntegration">
                        </div>                       
                        <div class="row mrgn-btm-20">
                            <div class="col-lg-12">
                                <div class="btn-group btn-holder">
                                    <a onclick="submitData();" id="btnSubmit" class="btn btn-default btn2"><i class="ico-edit4"></i>Submit</a>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row inline-integrations">
                            <div class="col-lg-12 mrgn-btm-20">
                                <div class="btn-group btn-holder">
                                    <a href="https://www.recordlinc.com/integration/instructions.pdf" class="btn btn-default btn2" target="_blank">Instructions for Setting Up Integration</a>
                                    <a href="https://www.recordlinc.com/sync.msi" class="btn btn-default btn2" target="_blank">Download Practice Management Sync </a>
                                    <a href="https://www.dentrixbutton.com" class="btn btn-default btn2" target="_blank">Download Dentrix Button</a>
                                    <a href="https://calendly.com/rodgers/integration" class="btn btn-default btn2" target="_blank">Schedule Your Integration </a><br />
                                </div>
                                <div class="btn-group btn-holder">
                                    <h3 style="color: #0087c0;">Call Support <a href="tel:(800)596-0133">(800)596-0133</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="snackbar"><b>Notice</b> You already connected all your locations with PMS..</div>
</main>
<div class="modal fade" id="disableIntegration" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center center">
                    <p class="mrgn-btm-0" style="margin: 0;" id="desc_message"></p>
                </div>
                <div class="modal-footer bdr-top-no">
                    <div class="btn-group btn-holder" id="btn-grp">
                        <button type="button" class="btn btn-default btn1" id="btn_no" data-dismiss="modal">No</button>
                        <button type="button" class="btn btn-default btn2 blue-bg mrgn-right-0" id="btn_yes">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Content/Dashboard/js/sitescript.js"></script>
    <script src="~/Scripts/ControllerJS/Settings/Integrations.js"></script>
}
