﻿@model List<AddressDetails>
@{
    ViewBag.Title = "TeamMember";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    List<SelectListItem> Locations = new List<SelectListItem>();
    if (Model !=null)
    {
        foreach (var item in Model)
        {
            Locations.Add(new SelectListItem
            {
                Text = item.Location,
                Value = Convert.ToString(item.AddressInfoID)
            });
        }
    }

}
@section styles {
}
<main id="main" role="main">
    <div class="container">
        <div class="new-case case-overview patinet patient_form rl-profile1 list_patients security">

            <div class="col-lg-12 ">
                <div id="wizard">                   
                    @Html.Partial("_PartialHorizontalMenuProfile")
                    <div class="tab-pane">
                        <div class="row mrgn-btm-20 search-center">
                            <div class="col-lg-12 btn-row">
                                <div class="inner-menu">
                                    <a href="javascript:;"><i class="fa fa-ellipsis-v"></i></a>
                                </div>
                                <div class="btn-group btn-holder">
                                    <a href="javascript:;" style="width:250px" onclick="AddEditTeamMember(0)" data-toggle="modal" class="btn btn-default btn1">Add Member</a>
                                </div>
                                @*<div class="btn-group btn-holder">
                                @*XQ1-587 No tooltip appears on hovering the mouse over 'Delete' icon, under 'Team Members' page.*@
                                @*<button type="button" class="btn btn-default btn-delete" id="btnMultipleDelete" onclick="DeleteSelected()" title="Delete" data-toggle="tooltip" data-placement="bottom">
                                <i class="ico-delete" style="margin:0px 0px 0px 0px;"></i>
                                </button>

                                </div>*@

                                <div class="dropdown blue-dropdwon latest_dropdown pull-right" style="margin-left:10px">
                                    <select class="form-control" id="ddlProviderfilter">
                                        <option value="0">ALL</option>
                                        <option value="1">Only Provider</option>
                                        <option value="2">Only Staff</option>
                                    </select>
                                </div>

                                <div class="dropdown blue-dropdwon latest_dropdown pull-right">
                                    @*<select class="form-control" id="LocationBy">
                                    <option value="ALL" data-id="0">ALL</option>
                                    @foreach (var item in Model)
                                    {
                                    <option value="@item.Value">@item.Text</option>
                                    }
                                    </select>*@
                                    @Html.DropDownList("LocationBy", Locations, "ALL", new { @id= "LocationBy",@class= "form-control" })
                                </div>
                                <div class="search-field-section">
                                    <input type="text" class="form-control" placeholder="Search Team/Staff Member" id="txtSearchTeam" onkeyup='HdrSearchTeam(event)'>
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="submit" onclick="SearchTeam()"><i class="icon-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mrgn-btm-20">
                            <div class="col-lg-12">
                                <table class="table table3 filtered-table">
                                    <thead class="thead-inverse">
                                        <tr>
                                            @*<th>
                                            <div class="all-select">
                                            <div class="form-group" id="divchk">
                                            <input class="form-control checkedAll" id="MainCheckBox" type="checkbox">
                                            </div>
                                            </div>
                                            </th>*@
                                            <th>
                                                <span class="heading" style="cursor:pointer;" onclick="SortColumn('msgColumn2')">Last Name</span>
                                                <div class="arrows-group">
                                                    <a id="msgColumn2" onclick="SortColumn('msgColumn2')" sort-col="2" sort-dir="2"><i class="ico-arrow-up"></i></a>
                                                    <a id="msgColumn2" onclick="SortColumn('msgColumn2')" sort-col="2" sort-dir="2"><i class="ico-arrow-down"></i></a>
                                                </div>
                                            </th>
                                            <th>
                                                <span class="heading" style="cursor:pointer;" onclick="SortColumn('msgColumn1')">First Name</span>
                                                <div class="arrows-group">
                                                    <a id="msgColumn1" onclick="SortColumn('msgColumn1')" sort-col="1" sort-dir="1"><i class="ico-arrow-up"></i></a>
                                                    <a id="msgColumn1" onclick="SortColumn('msgColumn1')" sort-col="1" sort-dir="1"><i class="ico-arrow-down"></i></a>
                                                </div>
                                            </th>
                                            <th>
                                                <span class="heading" style="cursor:pointer;" onclick="SortColumn('msgColumn3')">Email</span>
                                                <div class="arrows-group">
                                                    <a id="msgColumn3" onclick="SortColumn('msgColumn3')" sort-col="3" sort-dir="1"><i class="ico-arrow-up"></i></a>
                                                    <a id="msgColumn3" onclick="SortColumn('msgColumn3')" sort-col="3" sort-dir="1"><i class="ico-arrow-down"></i></a>
                                                </div>
                                            </th>
                                            <th>
                                                <span class="heading" style="cursor:pointer;" onclick="SortColumn('msgColumn4')">Speciality</span>
                                                <div class="arrows-group">
                                                    <a id="msgColumn4" onclick="SortColumn('msgColumn4')" sort-col="4" sort-dir="1"><i class="ico-arrow-up"></i></a>
                                                    <a id="msgColumn4" onclick="SortColumn('msgColumn4')" sort-col="4" sort-dir="1"><i class="ico-arrow-down"></i></a>
                                                </div>
                                            </th>
                                            <th>
                                                <span class="heading" style="cursor:pointer;" onclick="SortColumn('msgColumn5')">Location</span>
                                                <div class="arrows-group">
                                                    <a id="msgColumn5" onclick="SortColumn('msgColumn5')" sort-col="5" sort-dir="1"><i class="ico-arrow-up"></i></a>
                                                    <a id="msgColumn5" onclick="SortColumn('msgColumn5')" sort-col="5" sort-dir="1"><i class="ico-arrow-down"></i></a>
                                                </div>
                                            </th>
                                            @*<th>
                                                <span class="heading" style="cursor:pointer;" onclick="SortColumn('msgColumn6')">Provider Id</span>
                                                <div class="arrows-group">
                                                    <a id="msgColumn6" onclick="SortColumn('msgColumn6')" sort-col="6" sort-dir="1"><i class="ico-arrow-up"></i></a>
                                                    <a id="msgColumn6" onclick="SortColumn('msgColumn6')" sort-col="6" sort-dir="1"><i class="ico-arrow-down"></i></a>
                                                </div>
                                            </th>*@
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody id="AppendList"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<div class="modal fade" id="Team_delete" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center center">
                    <img class="mrgn-btm-20" src="~/Content/Dashboard/images/Delete_Popup.png" alt="Delete" />
                    <p id="desc_message" class="mrgn-btm-0" style="margin: 0;">Are you sure you want to remove image?</p>
                </div>
                <div class="modal-footer bdr-top-no">
                    <div class="btn-group btn-holder">
                        <button type="button" class="btn btn-default btn1" data-dismiss="modal">No</button>
                        <button type="button" id="btnyes" class="btn btn-default btn2 blue-bg mrgn-right-0">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="add-team-members" role="dialog"></div>
<input type="hidden" name="hdnPageIndex" id="hdnPageIndex" value="1" />
<input type="hidden" name="hdnPageSize" id="hdnPageSize" value="50" />
<input type="hidden" name="hdnSortColumn" id="hdnSortColumn" value="2" />
<input type="hidden" name="hdnSortDirection" id="hdnSortDirection" value="1" />
@section scripts{
<script src="~/Content/Dashboard/js/jcf.js"></script>
<script src="~/Scripts/ControllerJS/Settings/TeamMember.js"></script>
}

