﻿@{
    ViewBag.Title = "Help & Training";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}
<script>
    $(document).ready(function () {
        $(function () {

            $("#aInbox").removeClass("current");
            $("#aMyInfo").removeClass("current");
            $("#adental_files").removeClass("current");
            $("#atreatingdoctor").removeClass("current");
        });
    });
</script>

    <div class="grid_11">
        <div class="paragraph">
            <h3 class="blackfont">
                Help &amp; Training for MyDentalFiles</h3>
            <p>
                Below you will find help and training videos for MyDentalFiles. If you have additional
                questions, please go to the Contact Page or “Request Information” box on the right
                and submit an inquiry form, and we will respond shortly. If you need immediate help
                please call us at <strong>(415)749-1444</strong>.
            </p>
            <div class="help_topics">
                <ul class="alt_listing">
                    <li>
                        <div class="text">
                            What is MyDentalFiles</div>
                        <div class="video">
                            <a class="video_icon" href="#">Video</a></div>
                        <div class="clear">
                        </div>
                    </li>
                    <li class="odd">
                        <div class="text">
                            Getting Started</div>
                        <div class="video">
                            <a class="video_icon" href="#">Video</a></div>
                        <div class="clear">
                        </div>
                    </li>
                    <li>
                        <div class="text">
                            System Security</div>
                        <div class="video">
                            <a class="video_icon" href="#">Video</a></div>
                        <div class="clear">
                        </div>
                    </li>
                    <li class="odd">
                        <div class="text">
                            Home Screen</div>
                        <div class="video">
                            <a class="video_icon" href="#">Video</a></div>
                        <div class="clear">
                        </div>
                    </li>
                    <li>
                        <div class="text">
                            Settings</div>
                        <div class="video">
                            <a class="video_icon" href="#">Video</a></div>
                        <div class="clear">
                        </div>
                    </li>
                    <li class="odd">
                        <div class="text">
                            My Inbox</div>
                        <div class="video">
                            <a class="video_icon" href="#">Video</a></div>
                        <div class="clear">
                        </div>
                    </li>
                    <li>
                        <div class="text">
                            My Info</div>
                        <div class="video">
                            <a class="video_icon" href="#">Video</a></div>
                        <div class="clear">
                        </div>
                    </li>
                    <li class="odd">
                        <div class="text">
                            My Treating Doctors</div>
                        <div class="video">
                            <a class="video_icon" href="#">Video</a></div>
                        <div class="clear">
                        </div>
                    </li>
                    <li>
                        <div class="text">
                            My Dental Files</div>
                        <div class="video">
                            <a class="video_icon" href="#">Video</a></div>
                        <div class="clear">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    @Html.Partial("_RequestInfo")

    
<script type="text/javascript">

    $(document).ready(function () {
        if (getParameterByName('edit') == 'true') {
            jQuery(".popup-with-form").click();
        }
    });
    function getParameterByName(name) {
        name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.search);
        return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }
</script>
