@media (max-width: 1900px){
    .dentist_guide img{width: 600px;}
    .banner .title h2 {padding-right: 98px;}
}
@media (max-width: 1799px){
    .dentist_guide { width: 30%; margin-left: 120px;}
    .banner .title h2 {padding-right: 0;}
    .dentist_guide img {width: 550px;}
}
@media screen and (max-width: 1600px){
    .dentist_guide img{width: 40%;}
    .dentist_guide { width: 50%;}
    .email_download {width: 379px;}
}
@media screen and (max-width: 1300px){
    /************************Banner CSS************************/
    .dentist_guide {width: 570px;    margin-left: 165px;    padding: 132px 0px 0px;}
    .banner .title h2 {padding-right: 0px;}
    .dentist_guide p {padding-right: 268px;}
    .email_download {padding: 130px 0px 0px;}
    
    /************************Realities CSS************************/
    .realities{padding: 87px 0px;}
}
@media screen and (max-width: 1199px){
    /************************Banner CSS************************/
    .banner h1{font-size: 40px; line-height: 46px;}
    .email_download {padding: 70px 0px 0px;width: 272px;}
    .dentist_guide {width: 478px;margin-left: 150px;padding: 70px 0px 0px;}
    .dentist_guide p {padding-right: 218px;}
    .title h2{font-size: 30px;line-height: normal;}
    .dentist_guide { width: 70%; text-align: center; margin-left: 150px; padding: 70px 0px 0px;}
    .banner .title h2 {line-height: normal;}
    .dentist_guide img { width: 50%;  margin: auto; left: 0; right: -10%;}
    .email_download, .dentist_guide {min-height: 582px;}
    .banner_left:after{border-top: 582px solid #0991c5;}
        
    /************************Rethinking CSS************************/
    .rethinking {padding: 75px 0px;}
    .rethinking .title {padding-bottom: 10px;}
    .rethinking p {padding-bottom: 16px;}
    
    /************************Realities CSS************************/
    .realities{padding: 75px 0px;}
    .realities .title{padding-bottom: 10px;}
    .realities p{padding-bottom: 16px;}
    .realities img{margin-top: 0px;}
    
    /************************Human Nature CSS************************/
    .human_nature{padding: 75px 0px;}
    .human_nature .title{padding-top: 0px;padding-bottom: 10px;}
    .human_nature .title h2{line-height: normal;}
    .human_nature p{padding-bottom: 16px;letter-spacing: 0px;}
    
    /************************Business CSS************************/
    .business{padding: 75px 0px;}
    .business .title {padding-top: 0px;padding-bottom: 10px;}
    .business .title h2 {line-height: normal;}
    .business p {padding-bottom: 16px;}
    
    /************************Practice CSS************************/
    .practice{padding: 75px 0px 71px;}
    .practice .title h2 {line-height: normal;}
    .practice .title {margin: -9px 0px 10px;}
    .practice p{padding-bottom: 16px;padding-right: 0px;}
    .practice_consistent {padding-left: 15px;}
    
    /************************Marketing CSS************************/
    .marketing{padding: 75px 0;}
    .marketing .title{padding-top: 0px;padding-bottom: 10px;}
    .marketing p{padding-bottom: 16px;}
    
    /************************Download CSS************************/
    .download_pdf .title h2{line-height: normal;}
    .download_pdf label {padding-top: 0px;}
    .download_pdf input[type="submit"] {margin-top: 21px;}
    
    /************************About CSS************************/
    .about {padding: 75px 0px;}
    .about p {padding-bottom: 16px;}
    
    /************************Get in Touch CSS************************/
    .get_in_touch {padding: 75px 0px;}    
    
    /************************Footer CSS************************/
    .footer_top {padding: 26px 0px 0px;}
    .footer_bottom ul {padding: 22px 0;}
    .footer_top ul li {padding-bottom: 10px;}
    .footer_bottom .copyright {padding: 20px 0px 25px;}
    .site_verfiy {margin-top: 22px;}
    .site_verfiy ul {padding: 16px 0px 19px;}
    .site_verfiy ul li {width: 15.35%;padding-bottom: 0px;}
    .footer_top h4 {padding-bottom: 14px;}
    
    /************************Popup CSS************************/
    .modal_text a{font-size: 30px;margin: -10px auto 0;}
}
@media screen and (max-width: 991px){
    /************************Header CSS************************/
    header{padding: 16px 0px;}
    
    /************************Banner CSS************************/
    .title h2{font-size: 28px;}
    .banner_left{width: 100%;padding-right: 15px;}
    .banner_left:after{display: none;}
    .banner_right{width: 100%;    display: table;}
    .email_download {width: 720px;float: none;min-height: 1px;padding: 65px 0px;margin: 0 auto;text-align: center;}
    .dentist_guide {width: 720px;margin: 0px auto;min-height: 1px;padding: 65px 0px 0px;float: none;}
    .email_download .banner_btn{margin: 0 auto;display: table;}
    .dentist_guide img {position: relative;right: auto;bottom: auto;    margin: 0 auto;width: 500px;}
    .banner h1 {font-size: 36px;line-height: normal;}
    .dentist_guide p {font-size: 16px;line-height: normal;padding-right: 218px;}
    
    /************************Rethinking CSS************************/
    .rethinking {padding: 65px 0px;}
    .rethinking .title {padding-bottom: 10px;}
    .rethinking p {padding-bottom: 12px;font-size: 16px;}
    .rethinking a {font-size: 16px;display: inline-block;}
    
    /************************Realities CSS************************/
    .realities{padding: 65px 0px;}
    .realities .title{padding-bottom: 8px;}
    .realities p{padding-bottom: 12px;font-size: 16px;}
    
    /************************Human Nature CSS************************/
    .human_nature{padding: 65px 0px;}
    .human_nature p{padding-bottom: 12px;font-size: 16px;}
    
    /************************Business CSS************************/
    .business{padding: 65px 0px;}
    .business p {padding-bottom: 12px;font-size: 16px;}
    
    /************************Practice CSS************************/
    .practice{padding: 65px 0px;background-size: cover;    background-position: 50% 100%;}
    .practice .title h2 {line-height: normal;}
    .practice .title {margin: -9px 0px 10px;}
    .practice p{padding-bottom: 12px;padding-right: 0px;font-size: 16px;}
    .practice_consistent {padding-left: 15px;}
    
    /************************Marketing CSS************************/
    .marketing{padding: 65px 0;}
    .marketing .title{padding-bottom: 10px;}
    .marketing p{padding-bottom: 12px;font-size: 16px;}
    
    /************************Download CSS************************/
    .download_pdf label {padding-top: 8px;}
    .download_pdf input[type="submit"] {margin-top: 29px;}
    
    /************************About CSS************************/
    .about {padding: 65px 0px;}
    .about p {padding-bottom: 12px;font-size: 16px;}
    
    /************************Get in Touch CSS************************/
    .get_in_touch {padding: 65px 0px;}
    
    /************************Footer CSS************************/
    .footer_top {padding: 20px 0px 0px;}
    .footer_top h4 {padding-bottom: 10px;}
    .footer_top ul li {padding-bottom: 8px;}
    .site_verfiy ul li {width: 23%;padding-bottom: 0px;margin: 0px 5px 8px;}
    .site_verfiy ul {padding: 10px 0px 5px;}
    .footer_bottom ul {padding: 16px 0;}
    .footer_bottom ul li {padding: 0px 16px;}
    .footer_bottom .copyright {padding: 13px 0px 18px;}
    
    /************************Popup CSS************************/
    .modal_text a{font-size: 26px;margin: 0px auto 0;}
    .modal_text p, .modal_text span{font-size: 16px;line-height: normal;}
    .modal_text p {padding-bottom: 10px;}
    .modal_text span {padding: 6px 60px 18px;}
    .modal_text input[type="submit"] {margin-bottom: 12px;}
}
@media (min-width: 768px){
    .modal-dialog {width: 752px;}
}
@media screen and (max-width: 767px){
    /************************Header CSS************************/
    .header_phone li a {font-size: 16px;}
    .header_phone li a.phone:before {margin-right: 4px;}
    header .col-sm-3, header .col-sm-9{width: 50%;float: left;}
    
    /************************Banner CSS************************/
    .title h2{font-size: 26px;text-align: center;}
    .banner h1 {font-size: 30px;}
    .email_download{padding: 50px 0px;}
    .dentist_guide {padding: 50px 0px 0px;}
    .email_download .banner_btn{padding: 8px 14px; font-size: 16px;}
    .email_download, .dentist_guide {width: 100%;}
    .dentist_guide p {line-height: normal;padding-right: 170px; padding-bottom: 10px;}
    .email_download .input_text{height: 36px;}
    .banner {margin-bottom: 0px;}
    .dentist_guide img {width: 450px;}
    
    /************************Rethinking CSS************************/
    .rethinking {padding: 50px 0px;text-align: center;}
    .rethinking .title {padding-bottom: 10px;}
    .rethinking p {padding-bottom: 8px;line-height: normal;text-align: center;}
    
    /************************Realities CSS************************/
    .realities{padding: 50px 0px;}
    .realities p{line-height: normal;text-align: center;}
    .realities img {margin: 0 auto 15px;}
    .realities .pull-right, .realities .pull-left{width: 100%;}
    
    /************************Human Nature CSS************************/
    .human_nature{padding: 50px 0px;}
    .human_nature p{line-height: normal; text-align: center;}
    .human_nature img{width: 450px; margin: 0 auto 15px;}
    
    /************************Business CSS************************/
    .business{padding: 50px 0px;}
    .business .title h2 br{display: none;}
    .business p {line-height: normal;text-align: center;}
    .business .pull-right, .business .pull-left{width: 100%;}
    .business img{margin: 0 auto 15px;width: 450px;}
    
    /************************Practice CSS************************/
    .practice{padding: 50px 0px;}
    .practice .title h2 br{display: none;}
    .practice .title {margin: 0px 0px 6px;}
    .practice p {line-height: normal;  text-align: center;}
    
    /************************Marketing CSS************************/
    .marketing{padding: 50px 0;}
    .marketing .pull-right, .marketing .pull-left{width: 100%;}
    .marketing img{margin: 0 auto 15px;width: 400px;}
    .marketing .title{padding-bottom: 6px;}
    .marketing p{line-height: normal; text-align: center;}
    .marketing a{display: table; margin: 0 auto;padding: 8px 14px;font-size: 16px;}
    
    /************************Download CSS************************/
    .download_pdf label {width: 100%; text-align: center;}
    .download_pdf .input_text{height: 36px;}
    .download_pdf input[type="submit"] {margin: 20px auto 0;display: block; padding: 8px 14px;font-size: 16px;}
    .download_pdf .title h2 br{display: none;}
    
    /************************About CSS************************/
    .about {padding: 50px 0px;}
    .about .pull-right, .about .pull-left{width: 100%;}
    .about img {margin: 0 auto;    width: 300px;}
    .about .title {padding-bottom: 8px;padding-top: 15px;}
    .about p {text-align: center;padding-bottom: 8px;line-height: normal;}
    
    /************************Get in Touch CSS************************/
    .get_in_touch {padding: 50px 0px;background-size: cover;background-position: 86% 50%;}
    .recordlinc_links{text-align: center;padding-top: 8px;}
    .recordlinc_links h3{font-size: 20px;}
    .recordlinc_links ul {padding-top: 12px;}
    .recordlinc_form input[type="submit"]{float: none;margin: 0 auto;display: block;padding: 6px 12px;font-size: 16px;}
    .recordlinc_form .col-sm-12{display: inline-block;width: 100%;}
    .recordlinc_form .input_text {height: 36px;}
    .recordlinc_form textarea{height: 96px;}
    .recordlinc_form label{font-size: 16px;margin-bottom: 2px;}
    
    /************************Footer CSS************************/
    .footer_top {padding: 20px 0px 0px;}
    .footer_top h4 {font-size: 16px;    padding-bottom: 8px;}
    .footer_top ul li {padding-bottom: 4px;}
    .site_verfiy {margin-top: 16px;}
    .site_verfiy ul li {width: 30%;}
    .footer_bottom ul li {padding: 0px 10px;}
    .footer_bottom ul {padding: 10px 0;}
    .footer_bottom ul li a{font-size: 16px;}
    .footer_bottom .copyright {padding: 8px 0px 13px;}
    .footer_bottom .copyright p {font-size: 16px;}
    
    /************************Popup CSS************************/
    .modal_text a{font-size: 22px;margin: 0px auto 0;}
    .modal_text p {padding-bottom: 8px;}
    .modal_text input[type="submit"]{padding: 8px 14px;font-size: 16px;    margin-bottom: 6px;}
    .thanks_data_modal .modal-header button {width: 22px;height: 22px;background-position: -9px -26px;}
    .modal_text span {padding: 6px 30px 18px;}
    .thanks_data_modal .modal-body img {width: 200px;}
}
@media screen and (max-width: 567px){
    /************************Header CSS************************/
    header {padding: 10px 0px;}
    
    /************************Banner CSS************************/
    .title h2 {font-size: 24px;}
    .banner h1 {font-size: 26px;}
    .email_download {padding: 30px 0px;}
    .dentist_guide{padding: 30px 0px 0px;}
    .dentist_guide p {padding-right: 0px;padding-bottom: 10px;    text-align: center;}
    .dentist_guide img {width: 350px;}
    
    /************************Rethinking CSS************************/
    .rethinking {padding: 30px 0px;}
    
    /************************Realities CSS************************/
    .realities{padding: 30px 0px;}
    .realities img {width: 400px;}
    
    /************************Human Nature CSS************************/
    .human_nature{padding: 30px 0px;}
    .human_nature img{width: 400px;}
    
    /************************Business CSS************************/
    .business{padding: 30px 0px;}
    .business img{width: 400px;}
    
    /************************Practice CSS************************/
    .practice{padding: 30px 0px;}
    
    /************************Marketing CSS************************/
    .marketing{padding: 30px 0;}
    
    /************************About CSS************************/
    .about {padding: 30px 0px;}
    .about img {margin: 0 auto;    width: 250px;}
    
    /************************Get in Touch CSS************************/
    .get_in_touch {padding: 30px 0px;}
    .recordlinc_links h3 {font-size: 18px;}
    .recordlinc_links ul li a {font-size: 16px;}
    .recordlinc_form .col-xs-6{width: 100%;float: none;}
    
    /************************Footer CSS************************/
    .footer_top .footer_social li a {padding-left: 26px;}
    
    /************************Popup CSS************************/
    .modal_text span {padding: 6px 0px 18px;}
    .thanks_data_modal .modal-body img {width: 160px;}
    .modal_text form{width: 90%;}
}
@media screen and (max-width: 400px){
    .footer_top .col-sm-3.col-xs-4{width: 50%;}
    .footer_top .col-sm-6.col-xs-4{width: 100%;float: none;display: inline-block;padding-top: 10px;}
}
@media screen and (max-width: 479px){
    /************************Header CSS************************/
    header .col-sm-3, header .col-sm-9 {width: 100%;float: none;}
    .logo img{margin: 0 auto;}
    .header_phone {text-align: center;}
    
    /************************Banner CSS************************/
    .title h2 {font-size: 20px;}
    .banner h1 {font-size: 22px;}
    
    /************************Footer CSS************************/
    .footer_top .footer_social li a {padding-left: 26px;}
    .site_verfiy ul li {width: 44%;}
}

