﻿    <div class="tab-pane active" role="tabpanel" id="step1">
        <form>
            <div id="uploadFiles" class="form-group mrgn-btm-20"  >
                <div class="btn-group btn-holder" onclick="return CountOfUpload()">
                    <div class="fileUpload2 ">
                        <span>Upload files</span>
                        <input class="upload" name="files[]" type="file" title="Upload files" id="patientExcelUpload">
                    </div>
                </div>
            </div>
        </form>
        <ul class="upload-list" id="tempExcelContent">
            @Html.Action("PartialExcelFileUploadTempComm", "Common", new { FileIds = string.Empty, OwnerId = 1, ComposeType = (int)BO.Enums.Common.ComposeType.ColleagueCompose })
        </ul>
        <p id="invalid_data" class="font-16" style="display:none;color:red;">Excel data should be in proper format.</p>
        <p id="norecord" class="font-16" style="display:none;color:red;">This Excel sheet is empty. Please check the sheet and try it again!</p>
        <p id="not_valid_email" class="font-16" style="display:none;color:red;">Excel sheet doesn't include a valid Email, Please check the sheet and try it again!</p>
        <p id="mandatory_fields" class="font-16" style="display:none;color:red;">First Name,Last Name,Gender,Email cannot be null or empty.<br /> Please check your Excel file.</p>
        <p class="font-16"><a href="javascript:;" onclick="ExampleFile('@System.Configuration.ConfigurationManager.AppSettings.Get("ImageBank")Patient_Import.xlsx')" >Click here to download example template file.</a></p>
        <p><font color="#4babd1"> Note :</font> If patient email already exist, then patient record cannot be imported. </p>
        <ul class="list-inline pull-right mrgn-btm-20">
            <li>
                <div class="btn-group btn-holder">
                    <button type="button" class="btn btn-default btn-primary next-step" onclick="GoToStep2()"><i class="fa fa-arrow-right"></i>Next Step</button>
                </div>
            </li>
        </ul>
    </div>
