﻿@model List<BO.ViewModel.ColleagueDetail>

@if (Model.Count > 0)
{
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            @*<form role="form">*@
            <div class="modal-header blue-bg">
                <button type="button" class="close close-circle" data-dismiss="modal">&times;</button>
                <h3 class="modal-title white">Select Colleague to Refer Patient</h3>
            </div>
            <div class="modal-body">
                <div class="referral-block">
                    <div class="form-referral">
                        <div class="col-sm-8 col-xs-12 mrgn-btm-20">
                            <div class="input-holder form-group">
                                <input class="form-control" type="search" id="txtSearchPatient" placeholder="Find Colleague to Refer Patient...">
                                <button class="search-btn" onclick="OpenFamilyPopup();"><i class="icon-search"></i></button>
                            </div>
                        </div>
                        @*<div class="col-sm-4 col-xs-12 mrgn-btm-20">
                            <div class="btn-group btn-holder pull-right">
                                <a href="/Patients/AddPatient" class="btn btn-default btn-secondary"><i class="ico-add-patient"></i>Add New Patient </a>
                            </div>
                        </div>*@
                    </div>
                    <div class="list-holder">
                        <ul id="search_listing" class="referral-list">
                            @foreach (var item in Model)
                            {
                                <li class="@item.ColleagueId">
                                    <a href="#" id="selectedpatient" data-toggle="modal" data-patientid="@item.ColleagueId" onclick="SelectPatient(@item.ColleagueId)">
                                        <div class="img-holder">
                                            @{
                                                var imagepath = item.ImageName;
                                            }
                                            <img src="@(imagepath)" alt="@item.ImageName">
                                            <span class="tick"></span>
                                        </div>
                                        <div class="txt-box">
                                            <div class="txt-holder">
                                                <strong>@item.FirstName @item.LastName</strong>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                                }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer bdr-top-no btn-group btn-holder">
                <button type="button" class="btn btn-default btn1  pull-left" data-dismiss="modal"><i class="ico-corss2"></i><i class="ico-cross2"></i>Cancel</button>
                <button type="button" class="btn btn2 btn-default blue-bg" id="btnNext" onclick="AddasFamilyMember()"><i class="fa fa-arrow-right"></i>Next</button>
            </div>
            @*</form>*@
        </div>
    </div>
                                                }
                                                else
                                                {
                                                    <center>No Record Found</center>
                                                }
