﻿@model List<NewRecordlinc.Models.Colleagues.ColleaguesDetails>


    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <form role="form" action="javascript:;">
                <div class="modal-header blue-bg">
                    <button type="button" class="close close-circle" data-dismiss="modal">&times;</button>
                    <h3 id="clg-heading" class="modal-title white">Select the Colleagues to Send Referral</h3>
                    <h3 id="loc-heading" class="modal-title white" style="display:none">Select Location</h3>
                </div>
                <div class="modal-body">
                    <div class="referral-block">
                        <div class="form-referral">
                            <div class="col-sm-12 col-xs-12 mrgn-btm-20">
                                <div class="input-holder form-group" id="Patient_Search_Block">
                                    <input class="form-control" type="search" id="txtSearchColleague" placeholder="Find colleague to refer to..." onkeyup="SearchColleagueOnkeyPress()">
                                    <button class="search-btn"><i class="icon-search"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="list-holder jcf-scrollable">
                            <ul class="referral-list">
                                @if (Model.Count > 0)
                                {
                                    foreach (var item in Model)
                                    {
                                <li class="@item.ColleagueId">
                                    <a href="javascript:;" id="SelectColleague" data-colleagueId="@item.ColleagueId" onclick="SelectColleague(@item.ColleagueId)" >
                                        <div class="img-holder">
                                            <img src="@item.ImageName" alt="user name">
                                            <span class="tick" id="@item.ColleagueId" onclick="CheckThis(@item.ColleagueId)"></span>
                                        </div>
                                        <div class="txt-box">
                                            <div class="txt-holder">
                                                <strong>@item.FirstName&nbsp;@item.LastName </strong>
                                                <span>@item.Officename</span>
                                                @foreach (var spec in item.lstSpeacilitiesOfDoctor.Take(2))
                                                {
                                                   <span style="margin: 0 0 0px;">@spec.SpecialtyDescription</span>
                                                }
                                                <p class="small-text">@item.Location</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                    }
                                }
                                else
                                {
                                <li><center>No more record found.</center></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer bdr-top-no btn-group btn-holder">
                    <button type="button" class="btn btn-default btn1" data-dismiss="modal"><i class="ico-corss2"></i><i class="ico-cross2"></i>Cancel</button>
                   @* For sending referral from patient Listing *@
                    <button type="button" id="btn_send_pat" class="btn btn2 btn-default blue-bg " onclick="FinalReferralSend()"><i class="fa fa-arrow-right" ></i>Next</button>
                    @* For sending referral from dashboard *@
                    @*<button type="button" id="btn_send_patient" class="btn btn2 btn-default blue-bg" onclick="ReferralSendPatient()" style="display:none;"><i class="fa fa-arrow-right"></i>Next</button>*@
                    <button type="button" id="btn_send_patient" class="btn btn2 btn-default blue-bg" onclick="SelectLocationForReferral()" style="display:none;"><i class="fa fa-arrow-right"></i>Next</button>                    
                </div>
            </form>
        </div>
    </div>
