﻿@model List<BO.Models.MappedColumn>
@using BusinessLogicLayer;
@{ 
    string End = string.Empty;
}
<input type="hidden" name="hdnmodelcount" id="ModelCount" value="@Model.Count()" />
@if (Model.Count > 0)
{
    if (ViewBag.icnt != null)
    {
       <p class="font-16 lighten-blue">List of imported patients (@ViewBag.icnt) </p>
    }
    else
    {
        <p class="font-16 lighten-blue">List of imported patients</p>
       }
    <table class="table table3 bdr-lft-rt-0">
        <thead class="thead-inverse">
            <tr>
                <th>First Name</th>
                <th>Middle Name</th>
                <th>Last Name</th>
                <th>Date of Birth</th>
                <th>Gender</th>
                <th>Email</th>
                <th>Password</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Country</th>
                <th>Zip</th>
                <th>Phone</th>
            </tr>
        </thead>

        <tbody id="AppendList">
            @foreach (var item in Model)
            {
                <tr id="MainString">
                    <td data-th="First Name">@item.FirstName</td>
                    <td data-th="Middle Name">@item.MiddleName</td>
                    <td data-th="Last Name">@item.LastName</td>
                    @if (item.DateOfBirth != null)
                    {
                        End = new CommonBLL().ConvertToDate(Convert.ToDateTime(item.DateOfBirth), (int)BO.Enums.Common.DateFormat.GENERAL);
                    }
                    else
                    {
                        End = string.Empty;
                    }
                    <td data-th="Date of Birth">@End</td>
                    @if (item.Gender == "1")
                    {
                        <td data-th="Gender">Female</td>
                    }
                    else if (item.Gender == "0")
                    {
                        <td data-th="Gender">Male</td>
                    }
                    else
                    {
                        <td data-th="Gender">@item.Gender</td>
                    }

                    @if (!string.IsNullOrEmpty(@item.Email))
                    {
                        <td data-th="Email">
                            <ul class="icon-list">
                                <li><a href="javascript:;" title="@item.Email"><i class="ico-email"></i></a></li>
                            </ul>
                        </td>
                    }
                    else
                    {
                        <td data-th="Email">
                            @*<ul class="icon-list">
                                    <li><a href="@item.Email" data-original-title="Add Patient" data-toggle="tooltip" data-placement="bottom"><i class="ico-email"></i></a></li>
                                </ul>*@
                        </td>
                    }

                    <td data-th="Password">@item.Password</td>
                    @if (!string.IsNullOrEmpty(@item.Address))
                    {
                        <td data-th="Address">
                            <ul class="icon-list">
                                <li><a href="@item.Address"><i class="ico-map"></i></a></li>
                            </ul>
                        </td>
                    }
                    else
                    {
                        <td data-th="Address">
                            @*<ul class="icon-list">
                                    <li><a href=""><i class="ico-map"></i></a></li>
                                </ul>*@
                        </td>
                    }
                    <td data-th="City">@item.City</td>
                    <td data-th="State">@item.State</td>
                    <td data-th="Country">@item.Country</td>
                    <td data-th="Zip">@item.Zip</td>
                    <td data-th="Phone">@item.Phone</td>
                </tr>

            }
        </tbody>
    </table>
}

@if (ViewBag.UnimportedList != null)
{

    <p class="font-16 lighten-blue" style="padding-top: 30px;">
    List of Un-imported patients(
    <span style="padding-top:15px;color:red;"> Following records are not imported as the email addresses already exist in system. </span>) (@ViewBag.ucnt)</p>

    <table class="table table3 bdr-lft-rt-0">
        <thead class="thead-inverse">
            <tr>
                <th>First Name</th>
                <th>Middle Name</th>
                <th>Last Name</th>
                <th>Date of Birth</th>
                <th>Gender</th>
                <th>Email</th>
                <th>Password</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Country</th>
                <th>Zip</th>
                <th>Phone</th>
            </tr>
        </thead>

        <tbody id="AppendList">
            @foreach (var item in ViewBag.UnimportedList)
            {

                <tr id="Yourstring">
                    <td data-th="First Name">@item.FirstName</td>
                    <td data-th="Middle Name">@item.MiddleName</td>
                    <td data-th="Last Name">@item.LastName</td>
                    @if (item.DateOfBirth != null)
                    {
                        End = new CommonBLL().ConvertToDate(Convert.ToDateTime(item.DateOfBirth), (int)BO.Enums.Common.DateFormat.GENERAL);
                    }
                    else
                    {
                        End = string.Empty;
                    }
                    <td data-th="Date of Birth">@End</td>
                    @if (item.Gender == "1")
                    {
                        <td data-th="Gender">Female</td>
                    }
                    else if (item.Gender == "0")
                    {
                        <td data-th="Gender">Male</td>
                    }
                    else
                    {
                        <td data-th="Gender">@item.Gender</td>
                    }
                    <td data-th="Email">
                        <ul class="icon-list">
                            <li><a href="javascript:;" title="@item.Email"><i class="ico-email"></i></a></li>
                        </ul>
                    </td>
                    <td data-th="Password">@item.Password</td>
                    @if (!string.IsNullOrEmpty(@item.Address))
                    {
                        <td data-th="Address">
                            <ul class="icon-list">
                                <li><a href="@item.Address"><i class="ico-map"></i></a></li>
                            </ul>
                        </td>
                    }
                    else
                    {
                        <td data-th="Address">
                            @*<ul class="icon-list">
                                    <li><a href=""><i class="ico-map"></i></a></li>
                                </ul>*@
                        </td>
                    }
                    <td data-th="City">@item.City</td>
                    <td data-th="State">@item.State</td>
                    <td data-th="Country">@item.Country</td>
                    <td data-th="Zip">@item.Zip</td>
                    <td data-th="Phone">@item.Phone</td>
                </tr>
            }
        </tbody>
    </table>
}
@if (ViewBag.UnimportedList != null)
            {
    <input type="hidden" name="UnImportedCount" id="UnImportedCount" value="@ViewBag.UnimportedList.Count" />
}




