﻿@model List<BO.Models.NewPatientDetailsOfDoctor>


@if (Model.Count > 0)
{
    foreach (var item in Model)
    {
        <tr id="row_@item.PatientId">
            <td>
                @if (item.OwnerId == Convert.ToInt32(Session["UserId"]))
                {
                    <div class="all-select">
                        <div class="form-group">
                            <input class="form-check-input checkSingle" type="checkbox" id="CheckPateint" onclick="UncheckMaincheckBox('MainCheckBox')" value="@item.PatientId">
                        </div>
                    </div>
                }
                else
                {
                    <div class="all-select">
                        <div class="form-group">
                            @*<input class="form-control" type="checkbox" id="CheckPateint" onclick="UncheckMaincheckBox('MainCheckBox')" value="@item.PatientId">*@
                            &nbsp;
                        </div>
                    </div>
                }
            </td>
            @{
                string AddressDetails = (!string.IsNullOrWhiteSpace(item.ExactAddress)) ? item.ExactAddress + ", " : "";
                AddressDetails += (!string.IsNullOrWhiteSpace(item.Address2)) ? item.Address2 + ", " : "";
                AddressDetails += (!string.IsNullOrWhiteSpace(item.City)) ? item.City + ", " : "";
                AddressDetails += (!string.IsNullOrWhiteSpace(item.State) && item.State != "0") ? item.State + ", " : "";
                AddressDetails += (!string.IsNullOrWhiteSpace(item.ZipCode)) ? item.ZipCode : "";
                if (!string.IsNullOrWhiteSpace(AddressDetails) || (!string.IsNullOrEmpty(AddressDetails)))
                {
                    int index = AddressDetails.LastIndexOf(',');
                    if (index != -1)
                    {
                        AddressDetails = AddressDetails.Remove(index, 1);
                    }
                }
            }
            <td data-th="Last Name"><a href="javascript:;" onclick="ViewPatientHistory('@item.PatientId')" title="@Html.Raw(@AddressDetails)" data-toggle="tooltip" data-placement="bottom">@item.LastName</a></td>
            <td data-th="First Name"><a href="javascript:;" onclick="ViewPatientHistory('@item.PatientId')">@item.FirstName</a></td>
            <td data-th="Referred By"><a href="javascript:;" onclick="ViewProfile('@item.ReferredById')">@item.ReferredBy</a></td>
            <td data-th="Phone">@item.Phone</td>
            @* No to display dummy email address *@
            <td data-th="Email">
                @if (DataAccessLayer.Common.clsCommon.checkEmailDomain(item.Email))
                {
                    <a href="mailto:@item.Email">@item.Email</a>
                }
            </td>
           
            <td data-th="Location">@item.Location</td>
            <td data-th="Actions">
                <div class="dropdown mrgn-right-15">
                    <button class="btn btn-default dropdown-toggle stats-btn height34" type="button" data-toggle="dropdown">Select Action<i class="fa fa-angle-down"></i></button>
                    <ul class="dropdown-menu dropdown-select icon-list">
                        <li><a href="javascript:;" onclick="CallPlan(@item.PatientId)"><i class="ico-msg"></i>New Plan</a></li>
                        <li><a href="javascript:;" data-toggle="modal" onclick="OpenSendReferralPopup('@item.PatientId')"><i class="ico-user-group"></i>Refer Patient</a></li>
                        @if (DataAccessLayer.Common.clsCommon.checkEmailDomain(item.Email))
                        {
                            <li><a href="@Url.Action("PatientComposeMessage", "Patients", new { PatientId = item.PatientId })"><i class="ico-send"></i>Send Mail</a></li>
                        }
                        <li><a href="javascript:;" onclick="OpenAppointment('@item.PatientId','@Convert.ToInt32(Session["UserId"])')"><i class="ico-send ico-schedule"></i>Schedule</a></li>
                        @if (DataAccessLayer.Common.clsCommon.checkEmailDomain(item.Email))
                        {
                            <li><a href="javascript:;" onclick="SendForms('@item.PatientId','@item.Email','@item.FirstName @item.LastName')"><i class="ico-form"></i>Send forms</a></li>
                        }
                        @*<li><a href="javascript:;"><i class="ico-msg"></i>Request Referral</a></li>*@

                        @if (Session["PublicProfileReviews"] != null && Convert.ToBoolean(Session["PublicProfileReviews"]) == true)
                        {
                            <li><a href="javascript:;" onclick="RequestReviews('@item.PatientId','@item.Email','@item.FirstName','@item.LastName')"><i class="ico-eye"></i>Request Review</a></li>
                        }
                        @if (DataAccessLayer.Common.clsCommon.checkEmailDomain(item.Email))
                        {
                            <li><a href="javascript:;" onclick="OpenRequestPayment('@item.PatientId')"><i class="ico-payment"></i>Request Payment</a></li>
                        }
                        @if (item.OwnerId == Convert.ToInt32(Session["UserId"]))
                        {
                            if (ViewBag.pageindex == null)
                            {
                                //If Page index not exist.
                                ViewBag.pageindex = 1;
                            }

                            <li><a href="javascript:;" data-toggle="modal" onclick="OpenDeletePopUp('@item.PatientId')"><i class="ico-delete4"></i>Delete</a></li>
                        }
                    </ul>
                </div>

            </td>
        </tr>
                    }
                }
                else
                {
                    <tr><td colspan="8"><center><span id="nomore">No more record found</span></center></td></tr>
                }
<input type="hidden" name="modelcount" id="modelcount" value="@Model.Count()" />
<script type="text/javascript">
    var NewPatientLead = @Convert.ToInt32(BO.Enums.Common.Features.New_Patient_Leads);
    var ColleagueLead = @Convert.ToInt32(BO.Enums.Common.Features.Colleagues);

    $('body').removeClass('modal-open');
    $('a[data-toggle="tooltip"]').tooltip({
        container: 'body',
        trigger: 'hover'
    });

    $(".checkedAll").change(function () {
        if (this.checked) {
            $(".checkSingle").each(function () {
                $(this).prop('checked', true);
                $(".all-select span").removeClass('jcf-unchecked').addClass('jcf-checked');
            })
        } else {
            $(".checkSingle").each(function () {
                $(this).prop('checked', false);
                $(".all-select span").removeClass('jcf-checked jcf-focus').addClass('jcf-unchecked');
            })
        }
    });

</script>
<script src="~/Scripts/JS/jcf.js"></script>