﻿@model List<BO.Models.NewPatientDetailsOfDoctor>

@if (Model.Count > 0)
{
    foreach (var item in Model)
    {
        <input type="hidden" value="@Model.Count" id="patient-count" />
        <tr id="pat_@item.PatientId">
            <td data-th="Last Name"><a href="javascript:;" onclick="ViewPatientHistory('@item.PatientId')">@item.LastName</a></td>
            <td data-th="First Name"><a href="javascript:;" onclick="ViewPatientHistory('@item.PatientId')">@item.FirstName</a></td>
            <td data-th="Referred By"><a href="javascript:;" onclick="ViewProfile('@item.ReferredById')">@item.ReferredBy</a></td>
            <td data-th="Phone">@item.Phone</td>
            <td data-th="Email">
               @if (DataAccessLayer.Common.clsCommon.checkEmailDomain(item.Email))
               {
                <a href="mailto:@item.Email">@item.Email</a>
               }            
            </td>
            <td data-th="Location">@item.Location</td>
            <td data-th="Actions">
                <div class="dropdown mrgn-right-15">
                    <button class="btn btn-default dropdown-toggle stats-btn height34" type="button" data-toggle="dropdown">Select Action<i class="fa fa-angle-down"></i></button>
                    <ul class="dropdown-menu dropdown-select icon-list">
                        @*<li><a href="@Url.Action("AddPatient","Patients",new { @PatientId=item.PatientId})"><i class="fa fa-user"></i>Edit Patient</a></li>@* //RM-361: UI changes on 'Dashboard' page suggested by Travis*@
                        <li><a href="javascript:;" onclick="CallPlan(@item.PatientId)"><i class="ico-msg"></i>New Plan</a></li>
                        <li><a href="javascript:;" onclick="OpenSendReferralPopupForPatient('@item.PatientId')" data-toggle="modal"><i class="ico-user-group"></i>Refer Patient</a></li>
                        @if (DataAccessLayer.Common.clsCommon.checkEmailDomain(item.Email))
                        {
                            <li><a href="@Url.Action("PatientComposeMessage", "Patients", new { PatientId = item.PatientId })"><i class="ico-send"></i>Send Mail</a></li>
                        }
                        <li><a href="javascript:;" onclick="OpenAppointment('@item.PatientId','@Convert.ToInt32(Session["UserId"])')"><i class="ico-send ico-schedule"></i>Schedule</a></li>
                        @if (DataAccessLayer.Common.clsCommon.checkEmailDomain(item.Email))
                        {
                            <li><a href="javascript:;" onclick="SendForms('@item.PatientId','@item.Email','@item.FirstName @item.LastName')"><i class="ico-form"></i>Send forms</a></li>
                        }
                        @*<li><a href="javascript:;"><i class="ico-msg"></i>Request Referral</a></li>*@
                        @if (Session["PublicProfileReviews"] != null && Convert.ToBoolean(Session["PublicProfileReviews"]) == true)
                        {
                            <li><a href="javascript:;" onclick="RequestReviews('@item.PatientId','@item.Email','@item.FirstName','@item.LastName')"><i class="ico-eye"></i>Request Review</a></li>
                        }
                        @if (DataAccessLayer.Common.clsCommon.checkEmailDomain(item.Email))
                        {
                            <li><a href="javascript:;" onclick="OpenRequestPayment('@item.PatientId')"><i class="ico-payment"></i>Request Payment</a></li>
                        }
                        <li><a href="javascript:;" onclick="OpenDeletePopUp('@item.PatientId')"><i class="ico-delete4"></i>Delete</a></li>
                    </ul>
                </div>
            </td>
        </tr>
    }
}
else
{
    <tr>
        <td style="width:100% !important">
            <center>No More Record</center>
        </td>
    </tr>
}


