﻿@model List<NewRecordlinc.Models.Colleagues.ColleaguesDetails>


@if (Model.Count > 0)
{
    foreach (var item in Model)
    {
        <li class="@item.ColleagueId">
            <a href="#" id="SelectColleague" data-colleagueId="@item.ColleagueId" onclick="SelectColleague(@item.ColleagueId)">
                <div class="img-holder">
                    <img src="@item.ImageName" alt="user name">
                    <span class="tick" id="@item.ColleagueId" onclick="CheckThis(@item.ColleagueId)"></span>
                </div>
                <div class="txt-box">
                    <div class="txt-holder">
                        <strong>@item.FirstName&nbsp;@item.LastName </strong>
                        <span>@item.Officename</span>
                        @foreach (var spec in item.lstSpeacilitiesOfDoctor)
                        {
                            <span style="margin: 0 0 0px;">@spec.SpecialtyDescription</span>
                        }
                        <p class="small-text">@item.Location</p>
                    </div>
                </div>
            </a>
        </li>
    }
}
else
{
    @*RM-247 Changing anchor text for RM-247*@
    <div style="letter-spacing: 0px;"><center>Colleague not found. Please <a class="anchor" style="color: #4babd1;" href="@Url.Action("Index","Colleagues")">click here</a> to search and add colleague.</center></div>
}

