﻿<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-body">
            <div class="text-center center">
                <img class="mrgn-btm-20" src="~/Content/css/NewAdmin/images/Delete_Popup.png" alt="Delete" />
                <p class="mrgn-btm-0" id="del_desc" style="margin: 0;">Are you sure you want to remove image?</p>
            </div>
            <div class="modal-footer bdr-top-no">
                <div class="btn-group btn-holder">
                    <button type="button" class="btn btn-default btn1" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-default btn2 blue-bg mrgn-right-0" id="deletePatientFileId">Yes</button>
                </div>
            </div>
        </div>
    </div>
</div>
