﻿@model NewRecordlinc.Models.PatientHistory
<div class="table_data messages clearfix" id="ComposeMessage">
    <h4 class="sub_title clearfix clearfix borderbtmn" style="width:90%">Communications</h4>
    <a href="@Url.Action("Printallcommunicationview", "Patients")" type="submit" id="_printCommunication" target="_blank">
        <span class="print_file" style="float:right;margin-top:-37px;margin-bottom:13px;font-size:20px;">[Print all]</span>
    </a>
    <span class="fluid_cont fcbkautomcomplateblur" id="SelectTeamMemberandColleagues" style="margin-top:13px; margin-bottom:13px;"></span>
    <div class="communicationbox">
        <textarea rows="5" placeholder='Type message here' style="width:98%;border:0;" id="txtMessageFromPatientHistory" name="Msgarea"></textarea><br />
        <input type="submit" class="send_btn" name="Send" value="Send" onclick="SendMessageFromPatientHistory(@Model.PatientId)" style="margin-bottom:13px; margin-top:5px;float:right;" />
        @Html.Partial("~/Views/Patients/FileUploadPatientHistoryMessage.cshtml")
    </div>
</div>
