﻿@model List<BO.ViewModel.PlanTreatmentReport>
@using BusinessLogicLayer
<div class="row">
    <div class="col-lg-12  mrgn-btm-10  acc-holder">
        <ul class="acc-list">
            @if (Model.Count > 0)
            {
                foreach (var item in Model)
                {
                    <li>
                        <div class="plans">
                            <h4><a href="#plan@(item.CaseId)" class="accordian-opener  acc-opener  collapsed" data-toggle="collapse" aria-expanded="false"><i class="ico-add-plan"></i>Plan @item.CaseId</a></h4>
                            @if (item.Status == "1")
                            {
                                <h4><b>Open</b></h4>
                            }
                            else
                            {
                                <h4><b>Closed</b></h4>
                            }
                            <ul class="footer-btn-list">
                                @if (item.AccountMember == "true")
                                {
                                    <li><a href="/Plan/EditPlan?caseId=@item.CaseId&patientId=@item.PatientId"><i class="ico-edit"></i></a></li>
                                }
                                else
                                {
                                    <li></li>
                                }                                
                            </ul>
                        </div>
                    </li>
                    <div id="plan@(item.CaseId)" class="collapse drop">
                        <div class="row">
                            <div class="col-lg-12">
                                <table class="table table3 steps">
                                    <thead>
                                        <tr>
                                            <th>Step</th>
                                            <th>Description</th>
                                            <th>Completion Date</th>
                                            <th>Owner</th>
                                            <th></th>                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (item.lstPlanSteps.Count > 0)
                                        {
                                            foreach (var itm in item.lstPlanSteps)
                                            {
                                                <tr>
                                                    <td data-th="Step">
                                                        @itm.StepOrder
                                                    </td>
                                                    <td data-th="Description">
                                                        @itm.Description
                                                    </td>
                                                    <td data-th="Completion Date">
                                                        @{string completionDate = new CommonBLL().ConvertToDate(Convert.ToDateTime(itm.EndDate), (int)BO.Enums.Common.DateFormat.GENERAL);}
                                                        @(completionDate)
                                                    </td>
                                                    <td data-th="Owner">
                                                        @itm.DoctorName
                                                    </td>
                                                    <td data-th=""></td>                                                    
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td data-th="Step">
                                                    N/A
                                                </td>
                                                <td data-th="Description">
                                                    N/A
                                                </td>
                                                <td data-th="Completion Date">
                                                    N/A
                                                </td>
                                                <td data-th="Owner">
                                                    N/A
                                                </td>  
                                                <td data-th=""></td>                                              
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <li>                    
                    <div class="plans">
                        No Treatment Plan Record Found.
                    </div>                        
                </li>
            }
        </ul>
    </div>
</div>