﻿@using NewRecordlinc.Models.Colleagues;
@using NewRecordlinc.Models.Patients;
@using NewRecordlinc.App_Start;
@using DataAccessLayer.Common;
@{
    mdlPatient mdpatient = new mdlPatient();
}
@model List<ColleaguesMessagesOfDoctor>


<div id="communicationHistory">
    @if (Model.Count > 0)
    {
        var PatientID = Model.FirstOrDefault().PatientId;
        <table class="comTable margintopm1" cellpadding="0" cellspacing="0" border="0">
            <thead>
                <tr>
                    <th class="Communicationheader"><a id='PatientHCol_1' href="javascript:;" onclick='PatientCommunicationHistorySorting(@PatientID,1)' sort-dir='2' class="sortable">Date</a></th>
                    <th class="Communicationheader"><a id='PatientHCol_2' href="javascript:;" onclick='PatientCommunicationHistorySorting(@PatientID,2)' sort-dir='1' class="sortable">From/To</a></th>
                    <th class="Communicationheader"><a id='PatientHCol_3' href="javascript:;" onclick='PatientCommunicationHistorySorting (@PatientID,3)' sort-dir='1' class="sortable">Type</a></th>
                    <th style="width:55% !important;">Message</th>
                </tr>
            </thead>
        </table>
        <div class="patientcommunicationhistory" id='patientHistoryscrollId' style="float:left;width: 100%;">
            <table class='comTable margintopm1'>
                <tbody id='PatientHistoryThead'>
                    @foreach (var item in Model)
                    {
                        <tr>
                            @if (item.MessageTypeId == 2)
                            {
                                List<ReferralDetails> ReferralDetailsList = new List<ReferralDetails>();
                                ReferralDetails objReferral = new ReferralDetails();
                                var Datetime = item.CreationDate.Split(' ');
                                var CreationDate = Datetime[0];
                                var CreationTime = Datetime[1] + Datetime[2];
                                ReferralDetailsList = mdpatient.GetRefferalDetailsById(Convert.ToInt32(Session["UserId"]), item.MessageId, "Sentbox", SessionManagement.TimeZoneSystemName);
                                objReferral = ReferralDetailsList.FirstOrDefault();
                                <td class="Communicationbody"><a href="javascript:;" onclick='ViewDoctorReferralView(@item.MessageId ,@item.MessageTypeId)'>@CreationDate @CreationTime </a></td>
                                <td class="Communicationbody"><a href="javascript:;" onclick='ViewDoctorReferralView(@item.MessageId ,@item.MessageTypeId)'> @item.ColleagueName</a></td>
                                <td class="Communicationbody"><a href="javascript:;" onclick='ViewDoctorReferralView(@item.MessageId ,@item.MessageTypeId)'>Referral </a></td>

                                if (ReferralDetailsList.Count > 0)
                                {
                                    string comments = objReferral.Comments;
                                    //comments = comments.Replace("\n", "<br />");
                                    <td style="width:45% !important; vertical-align:middle !important;">
                                    <a href="javascript:;" onclick="ViewDoctorReferralView(@item.MessageId ,@item.MessageTypeId)">@comments</a>
                                    @{
                                        string[] strRegardingNo = objReferral.RegardOption.Split(new char[] { ',' }, StringSplitOptions.RemoveEmptyEntries);
                                    }
                                    @if (!string.IsNullOrEmpty(string.Join("", strRegardingNo)))
                                    {
                                        <b class="hylyt_field">Regarding :</b>
                                        foreach (string item2 in strRegardingNo)
                                        {
                                            if (!string.IsNullOrEmpty(item2))
                                            {
                                                if ((Convert.ToInt32(item2) - 1) < mdpatient.ReferralRegarding.Length)
                                                {
                                                    var t = mdpatient.ReferralRegarding[Convert.ToInt32(item2) - 1];
                                                    @t;
                                                }
                                            }
                                        }
                                    }
                                    @if (!string.IsNullOrEmpty(objReferral.OtherComments))
                                    {
                                        @objReferral.OtherComments
                                    }
                                    @{
                                        string[] strRequest = objReferral.RequestingOption.Split(new char[] { ',' }, StringSplitOptions.RemoveEmptyEntries);
                                    }
                                    @if (!string.IsNullOrEmpty(string.Join("", strRequest)))
                                    {
                                        <br /><b class="hylyt_field">Request</b>
                                        foreach (string item1 in strRequest)
                                        {
                                            if (!string.IsNullOrEmpty(item1))
                                            {
                                                if ((Convert.ToInt32(item1) - 1) < mdpatient.ReferralRequest.Length)
                                                {
                                                    var t = mdpatient.ReferralRegarding[Convert.ToInt32(item1) - 1];
                                                    @t;
                                                }
                                            }
                                        }
                                    }
                                    @if (!string.IsNullOrEmpty(objReferral.RequestComments))
                                    {
                                        @objReferral.RequestComments;
                                    }


                                    @foreach (MessageAttachment objAttachment in objReferral.lstImages)
                                    {
                                        string AttachmentName = objAttachment.AttachmentName;
                                        AttachmentName = AttachmentName.Substring(AttachmentName.ToString().LastIndexOf("$") + 1);
                                        <span><i class="attach" style="margin-left:0px !important;"></i><a target="_blank" href="~/ImageBank/@clsHelper.EscapeUriString(objAttachment.AttachmentName)" > @AttachmentName</a></span>
                                    }
                                    @foreach (MessageAttachment objAttachment in objReferral.lstDocuments)
                                    {
                                        string AttachmentName = objAttachment.AttachmentName;
                                        AttachmentName = AttachmentName.Substring(AttachmentName.ToString().LastIndexOf("$") + 1);
                                        <span><i class="attach" style="margin-left:0px !important;"></i><a target="_blank" href="~/ImageBank/@clsHelper.EscapeUriString(objAttachment.AttachmentName)"> @AttachmentName</a></span>
                                    }
                                    </td>
                                    <td style="padding-left:0px !important;">
                                        <a href="@Url.Action("PrintReferralMessage", "Patients", new { MessageId = item.MessageId })" type="submit" id="_referralMessage" target="_blank">
                                            <span class="print_file">[Print]</span>
                                        </a>
                                    </td>
                                }
                            }
                            @if (item.MessageTypeId == 1)
                            {
                                var Datetime = item.CreationDate.Split(' ');
                                var CreationDate = Datetime[0];
                                var CreationTime = Datetime[1] + Datetime[2];
                                string NewMessage = Uri.UnescapeDataString(Convert.ToString(item.Message));
                                string colleaguesmsg = HttpUtility.HtmlDecode(NewMessage);
                                //colleaguesmsg = colleaguesmsg.Replace("\n", "<br/>");
                                var MessageAttachments = Model.FirstOrDefault().MessageAttachments;
                                MessageAttachments = mdpatient.ColleagueMessageAttachments(item.MessageId);

                                <td class="Communicationbody"><a href="javascript:;" onclick="ViewMessageOfColleagues(@item.MessageId , @item.MessageTypeId)">@CreationDate @CreationTime</a></td>
                                <td class="Communicationbody"><a href="javascript:;" onclick="ViewMessageOfColleagues(@item.MessageId ,@item.MessageTypeId)">@item.ColleagueName</a></td>
                                <td class="Communicationbody"><a href="javascript:;" onclick="ViewMessageOfColleagues(@item.MessageId ,@item.MessageTypeId)">Messages</a></td>

                                <td style="width:45% !important; vertical-align:middle !important;">
                                    <a href="javascript:;" onclick="ViewMessageOfColleagues(@item.MessageId,@item.MessageTypeId)">@colleaguesmsg</a>
                                    <br /><br />
                                    @if (MessageAttachments.Count > 0)
                                    {
                                        foreach (var item1 in MessageAttachments)
                                        {
                                            if (!string.IsNullOrEmpty(item1.Id.ToString()))
                                            {
                                                string AttachmentName = string.Empty;
                                                AttachmentName = Convert.ToString(item1.AttachmentName);
                                                AttachmentName = AttachmentName.Substring(AttachmentName.ToString().LastIndexOf("$") + 1);
                                                string extension = Path.GetExtension(AttachmentName);
                                                string Type = string.Empty;
                                                if (extension.ToLower() != ".jpg" && extension.ToLower() != ".jpeg" && extension.ToLower() != ".gif" && extension.ToLower() != ".png" && extension.ToLower() != ".bmp" && extension.ToLower() != ".psd" && extension.ToLower() != ".pspimage" && extension.ToLower() != ".thm" && extension.ToLower() != ".tif")
                                                {
                                                    Type = "Doc";
                                                }
                                                else
                                                {
                                                    Type = "Image";
                                                }
                                                <span>
                                                    <i class="attach" style="margin-left:0px !important;">
                                                    </i><a target="_blank" href="/ImageBank/@clsHelper.EscapeUriString(item1.AttachmentName)">@AttachmentName.ToString().Substring(AttachmentName.ToString().ToString().LastIndexOf("$") + 1)</a>
                                                </span>
                                            }
                                        }
                                    }
                                </td>
                                <td style="padding-left:0px !important;">
                                    <a href="@Url.Action("PrintColleagueMessage", "Patients", new { MessageId = item.MessageId })" type="submit" id="_colleagueMessage" target="_blank">
                                        <span class="print_file">[Print]</span>
                                    </a>
                                </td>
                            }
                            @if (item.MessageTypeId == 3)
                            {
                                var Datetime = item.CreationDate.Split(' ');
                                var CreationDate = Datetime[0];
                                var CreationTime = Datetime[1] + Datetime[2];
                                string NewMessage = Uri.UnescapeDataString(Convert.ToString(item.Message));
                                string patientsmsg = NewMessage;
                                //patientsmsg = patientsmsg.Replace("\n", "<br />");
                                Model.FirstOrDefault().MessageAttachments = new List<NewRecordlinc.Models.MessageAttachments>();
                                Model.FirstOrDefault().MessageAttachments = mdpatient.MessageAttachments(item.MessageId);
                                <td class="Communicationbody"><a href="javascript:;" onclick="ViewMessage(@item.MessageId)">@CreationDate <br /> @CreationTime</a></td>
                                <td class="Communicationbody"><a href="javascript:;" onclick="ViewMessage(@item.MessageId)">@item.ColleagueName</a></td>
                                <td class="Communicationbody"><a href="javascript:;" onclick="ViewMessage(@item.MessageId)">Messages</a></td>
                                <td style="width:45% !important; vertical-align:text-top !important;">
                                    <a href="javascript:;" onclick="ViewMessage(@item.MessageId)">
                                        @Html.Raw(patientsmsg.Length > 700 ? patientsmsg.Substring(0, 700) + "..." : patientsmsg)
                                    </a>
                                    <br /><br />
                                    @if (Model.FirstOrDefault().MessageAttachments.Count > 0)
                                    {
                                        foreach (var itemAttach in Model.FirstOrDefault().MessageAttachments)
                                        {
                                            if (!string.IsNullOrEmpty(itemAttach.Id.ToString()))
                                            {
                                                string AttachmentName = string.Empty;
                                                AttachmentName = Convert.ToString(itemAttach.AttachmentName);
                                                AttachmentName = AttachmentName.Substring(AttachmentName.ToString().LastIndexOf("$") + 1);
                                                string extension = Path.GetExtension(AttachmentName);
                                                string Type = string.Empty;
                                                if (extension.ToLower() != ".jpg" && extension.ToLower() != ".jpeg" && extension.ToLower() != ".gif" && extension.ToLower() != ".png" && extension.ToLower() != ".bmp" && extension.ToLower() != ".psd" && extension.ToLower() != ".pspimage" && extension.ToLower() != ".thm" && extension.ToLower() != ".tif")
                                                {
                                                    Type = "Doc";
                                                }
                                                else
                                                {
                                                    Type = "Image";
                                                }
                                                <span>
                                                    <i class="attach" style="margin-left:0px !important;">
                                                    </i><a target="_blank" href="/ImageBank/@clsHelper.EscapeUriString(itemAttach.AttachmentName)">@AttachmentName.ToString().Substring(AttachmentName.ToString().ToString().LastIndexOf("$") + 1)</a>
                                                </span>
                                            }
                                        }
                                    }
                                </td>
                                <td style="padding-left:0px !important;">
                                    <a href="@Url.Action("PrintPatientMessage", "Patients", new { MessageId = item.MessageId })" type="submit" id="_patientMessage" target="_blank">
                                        <span class="print_file">[Print]</span>
                                    </a>
                                </td>
                            }
                        </tr>
                        }
                </tbody>
            </table>
        </div>
    }
</div>

@*need to refactor below scripts*@
<script src="/Scripts/Default/jquery.iframe-transport.js"></script>
<script src="/Scripts/Default/jquery.fileupload.js"></script>
<script src="/Scripts/Default/jquery.fileupload-ui.js"></script>
<script src="/Scripts/Default/application.js"></script>
@*<script>
    //$('#patientHistoryscrollId').scrollTop(0);
    $('#patientHistoryscrollId').scroll(function () {
        if ($(this).scrollTop() + $(this).innerHeight() >= $(this)[0].scrollHeight) {
            var Pageindex = $("#PageIndexCommPatientHistory").val();
            if (Pageindex != 0) {
                var PatientId = $("#hdnPatientId").val();
                var SortCol = $("#CurrentSortColCommPatientHistory").val();
                var SortDir = $("#PatientHCol_" + SortCol).attr('sort-dir');
                $("#PageIndexCommPatientHistory").val(parseInt(Pageindex, 10) + 1);
                LoadPatientscrolling(PatientId, Pageindex, SortCol, SortDir);
            }
        }
    });
</script>*@