﻿@model List<NewRecordlinc.Models.UplodedImages>
@using BusinessLogicLayer
@using NewRecordlinc.Common;
@{
    int maxHeight = 0;
    var documentName = string.Empty;
    var strImageBankPath = System.Configuration.ConfigurationManager.AppSettings["ImageBankThumb"].Replace("../", "~/");
    string ImageBankFolder = Convert.ToString(System.Configuration.ConfigurationManager.AppSettings.Get("ImageBankThumb"));
}
@{
    var pDoc = Model.Where(s => s.DocumentId > 0).ToList();
    var pImg = Model.Where(s => s.ImageId > 0).ToList();

}
<div class="row mrgn-btm-20 listing">
    <div class="col-lg-12">
        <div class="four-columns patient_history_files">
            @if (pDoc.Count > 0)
            {
                <input type="hidden" id="pDocCount" value=@pDoc.Count />
                foreach (var item in pDoc)
                {
                    <div class="column" id="pDocuploadList">
                        <div class="block-holder">
                            <div class="img-holder" id="pDocSection">
                                <img src="@ImageBankFolder@FileExtension.CheckFileExtenssion(item.DocumentName)" width="295" height="166" alt=@item.DocumentName title="@item.DocumentName">
                            </div>
                            <dl class="history-list">
                                @{documentName = (item.DocumentName != string.Empty ? item.DocumentName.Substring(item.DocumentName.LastIndexOf("$") + 1) : string.Empty); }
                                @{
                                    string CreationDate = string.Empty; string LastModifiedDate = string.Empty;
                                    if (!string.IsNullOrWhiteSpace(item.CreationDate))
                                    {
                                        CreationDate = new CommonBLL().ConvertToDateTime(Convert.ToDateTime(item.CreationDate), Convert.ToInt32(BO.Enums.Common.DateFormat.GENERAL));
                                    }
                                    if (!string.IsNullOrWhiteSpace(item.LastModifiedDate))
                                    {
                                        LastModifiedDate = new CommonBLL().ConvertToDateTime(Convert.ToDateTime(item.LastModifiedDate), Convert.ToInt32(BO.Enums.Common.DateFormat.GENERAL));
                                    }

                                }
                                <dt>Name:</dt>
                                <dd>@(documentName)</dd>
                                <dt>Created on:</dt>
                                <dd><time>@((!string.IsNullOrEmpty(CreationDate)) ? CreationDate : "")</time></dd>
                                <dt>Modified on:</dt>
                                <dd><time>@((!string.IsNullOrEmpty(LastModifiedDate)) ? LastModifiedDate : "")</time></dd>
                                <dt>Notes:</dt>
                                @*<dd>@(Convert.ToString(item.Description) ?? string.Empty)</dd>*@
                                @* RM-446 *@
                                <dd>@(item.Description.ToString().Length > 25 ? item.Description.Substring(0, 25) + "..." : item.Description) </dd>
                            </dl>
                            <ul class="footer-btn-list">
                                <li><a href="javascript:;" onclick="FillNotesPopUp(@item.PatientId,@item.DocumentId,'Doc')"><i class="ico-edit"></i>Edit</a></li>
                                <li><a href="javascript:;" onclick="DeleteDocumentPopup(@item.DocumentId,@item.PatientId)"><i class="ico-delete"></i>Delete</a></li>
                            </ul>
                        </div>
                    </div>
                                    }
                                    <script type=text/javascript>
                                        var maxImgHeight = Math.max.apply(null, $("#pDocSection").map(function () {
                                            return $(this).height();
                                        }).get());

                                        $('#PatientDocumentsSection div[id="pDocSection"]').each(function () {
                                            $(this).css("height", maxImgHeight + "px");
                                        });
                                        var maxDivHeight = Math.max.apply(null, $('#PatientDocumentsSection div[id="pDocuploadList"]').map(function () {
                                            return $(this).height();
                                        }).get());

                                        // console.log(maxDivHeight);

                                        $('#PatientDocumentsSection div[id="pDocuploadList"]').each(function () {
                                            $(this).css("height", maxDivHeight + "px");
                                        });
                                        //$(document).ready(function () {
                                        //    $('#pImgupload_list div[id="pDocSection"]').each(function () {
                                        //        $(this).css("height", $('#hiddenMaxHeight').val()) + "px";
                                        //    });
                                        //    var heights = $("div.upload_list").map(function () {
                                        //        return $(this).height();
                                        //    }).get(),
                                        //    maxHeight = Math.max.apply(null, heights);
                                        //    $('#PatientDocumentsSection div[id="pImgupload_list"]').each(function () {
                                        //        $(this).css("height", maxHeight + "px");
                                        //    });
                                        //});
                                    </script>
                                    }
                                    else
                                    {
                                        <input type="hidden" id="pImgCount" value=@pImg.Count />
                                        foreach (var item in pImg)
                                        {
                                            try
                                            {


                                                var NewstrImageBankPath = string.IsNullOrWhiteSpace(Convert.ToString(item.Name)) ? "~/Content/images/img_1.jpg" : strImageBankPath + Convert.ToString(item.Name);
                                                if (!File.Exists(Server.MapPath(NewstrImageBankPath)))
                                                {
                                                    NewstrImageBankPath = "~/Content/images/img_1.jpg";
                                                }

                                                System.Drawing.Bitmap Objbit = new System.Drawing.Bitmap(Server.MapPath(NewstrImageBankPath));
                                                var imgWidth = 0;
                                                var imgHeight = 0;

                                                var ImagePath = string.Empty;

                                                if (Objbit.Width >= Objbit.Height)
                                                {
                                                    if (Objbit.Width > 215)
                                                    {
                                                        imgWidth = 215;

                                                        if (Objbit.Height > 215)
                                                        {
                                                            imgHeight = 215 * Objbit.Height / Objbit.Width;

                                                        }
                                                        else
                                                        {
                                                            imgHeight = Objbit.Height;
                                                        }
                                                    }
                                                    else
                                                    {
                                                        imgWidth = Objbit.Width;
                                                        imgHeight = Objbit.Height;
                                                    }

                                                }
                                                else
                                                {
                                                    if (Objbit.Height > 215)
                                                    {
                                                        imgHeight = 215;


                                                        if (Objbit.Width > 215)
                                                        {
                                                            imgWidth = 215 * Objbit.Width / Objbit.Height;

                                                        }
                                                        else
                                                        {
                                                            imgWidth = Objbit.Width;
                                                        }
                                                    }
                                                    else
                                                    {
                                                        imgHeight = Objbit.Height;
                                                        imgWidth = Objbit.Width;
                                                    }

                                                }
                                                ImagePath = item.Name;
                                                if (item.Name == string.Empty)
                                                {
                                                    ImagePath = "../../Content/images/img_1.jpg";
                                                }



                                                <div class="column" id="pImgupload_list">
                                                    <div class="block-holder">
                                                        <div class="img-holder" id="pImgUploadImage">

                                                            @if (item.ImageId > 0)
                                                            {
                                                                @*<a href="@ImageBankFolder@DataAccessLayer.Common.clsHelper.EscapeUriString(ImagePath)" target="_blank">*@
                                                                @*<img style="cursor: pointer;" src="@ImageBankFolder@DataAccessLayer.Common.clsHelper.EscapeUriString(ImagePath)" width=@imgWidth height=@imgHeight alt=@item.Name title="@item.Name" />*@
                                                                @*<img src="@Html.Action("GetBase64ContentOFImage","Common", new { FileId = item.ImageId, FileFrom=(int)BO.Enums.Common.FileFromFolder.ImageBank, FileName =item.Name})" width=@imgWidth height=@imgHeight alt=@item.Name title="@item.Name" />
                                                                    </a>*@
                                                                <img src="@Html.Action("GetBase64ContentOFImage","Common", new { FileId = item.ImageId, FileFrom=(int)BO.Enums.Common.FileFromFolder.ImageBank, FileName =item.Name})" width=@imgWidth height=@imgHeight alt="@item.Name" title="@item.Name">
                                                            }

                                                        </div>
                                                        <dl class="history-list">
                                                            @if (item.ImageId > 0)
                                                            {
                                                                documentName = (item.Name != string.Empty ? item.Name.Substring(item.Name.LastIndexOf("$") + 1) : string.Empty);
                                                            }
                                                            @{
                                                                string CreationDate = new CommonBLL().ConvertToDateTime(Convert.ToDateTime(item.CreationDate), Convert.ToInt32(BO.Enums.Common.DateFormat.GENERAL));
                                                                string LastModifiedDate = new CommonBLL().ConvertToDateTime(Convert.ToDateTime(item.LastModifiedDate), Convert.ToInt32(BO.Enums.Common.DateFormat.GENERAL));
                                                            }
                                                            <dt>Name:</dt>
                                                            <dd>@(documentName)</dd>
                                                            <dt>Created on:</dt>
                                                            <dd><time>@((!string.IsNullOrEmpty(CreationDate)) ? CreationDate : "")</time></dd>
                                                            <dt>Modified on:</dt>
                                                            <dd><time>@((!string.IsNullOrEmpty(LastModifiedDate)) ? LastModifiedDate : "")</time></dd>
                                                            <dt>Notes:</dt>
                                                            @*<dd>@(Convert.ToString(item.Description) ?? string.Empty)</dd>*@
                                                            @* RM-446 *@
                                                            <dd>@(item.Description.ToString().Length > 25 ? item.Description.Substring(0, 25) + "..." : item.Description) </dd>
                                                        </dl>
                                                        <ul class="footer-btn-list">
                                                            @if (item.ImageId > 0)
                                                            {
                                                                <li><a href="javascript:;" onclick="FillNotesPopUp(@item.PatientId,@item.ImageId,'Image')"><i class="ico-edit"></i>Edit</a></li>
                                                                <li><a href="javascript:;" onclick="DeleteImagePopup(@item.ImageId,@item.MontageId,@item.PatientId)"><i class="ico-delete"></i>Delete</a></li>
                                                                @*<a class="frmedtbtn edit popup-with-form showlightbox" title="Edit" onclick="FillNotesPopUp(@item.PatientId,@item.ImageId,'Image')"></a>
                                                                    <a class="frmdltbtn" title="Delete" href="javascript:;" onclick="return RemovePatientImage(@item.ImageId,@item.MontageId,@item.PatientId)"></a>*@
                                                            }
                                                        </ul>
                                                    </div>
                                                </div>
                                                                        maxHeight = (maxHeight < imgHeight) ? imgHeight : maxHeight;
                                                                    }
                                                                    catch (Exception)
                                                                    {
                                                                        Html.Raw("</div>");
                                                                    }

                                                                }
                                                                <input type="hidden" value=@maxHeight id="hiddenMaxHeight" />
                                                                //Commented due to inconsistent height of patient image.
                                                                @*<script type="text/javascript">
                                                                        $(document).ready(function () {
                                                                            $('#pImgupload_list div[id="pImgUploadImage"]').each(function () {
                                                                                $(this).css("height", $('#hiddenMaxHeight').val()) + "px";
                                                                            });
                                                                            var heights = $("div.upload_list").map(function () {
                                                                                return $(this).height();
                                                                            }).get(),
                                                                                maxHeight = Math.max.apply(null, heights);
                                                                            $('#PatientImagesSection div[id="pImgupload_list"]').each(function () {
                                                                                $(this).css("height", maxHeight + "px");
                                                                            });
                                                                        });
                                                                    </script>*@

                                                                }
        </div>
    </div>
</div>
