﻿@model List<NewRecordlinc.Models.Patients.PatientDetailsOfDoctor>
@foreach (var item in Model)
{
    <li class="">
        <a href="#" data-toggle="modal" data-gender="@item.Gender" data-patientid="@item.PatientId" onclick="SelectPatient(@item.PatientId)">
            <div class="img-holder">
                @{
                    var imagepath = !string.IsNullOrEmpty(item.ImageName) ? item.ImageName : (item.Gender.ToString() == "Female") ? System.Configuration.ConfigurationManager.AppSettings["DefaultDoctorFemaleImage"] : System.Configuration.ConfigurationManager.AppSettings["DefaultDoctorImage"];
                }
                <img src="@(imagepath)" alt="@item.ImageName">
                <span class="tick"></span>
            </div>
            <div class="txt-box">
                <div class="txt-holder">
                    <strong>@item.FirstName @item.LastName</strong>
                    @item.Email
                </div>
            </div>
        </a>
    </li>
}
