﻿@model List<NewRecordlinc.Models.UplodedImages>
@using BusinessLogicLayer

@using NewRecordlinc.Common;
@{
    int maxHeight = 0;
    var documentName = string.Empty;
    var strImageBankPath = System.Configuration.ConfigurationManager.AppSettings["ImageBank"].Replace("../", "~/");
    string ImageBankFolder = Convert.ToString(System.Configuration.ConfigurationManager.AppSettings.Get("ImageBank"));
}
@{
    var pDoc = Model.Where(s => s.DocumentId > 0).ToList();
    var pImg = Model.Where(s => s.ImageId > 0).ToList();

}
@if (pDoc.Count > 0)
{
    <input type="hidden" id="pDocCount" value=@pDoc.Count />
    foreach (var item in pDoc)
    {
        // documentName = (item.DocumentName != string.Empty ? item.DocumentName.Substring(item.DocumentName.LastIndexOf("/") + 1) : string.Empty);
        <div class="upload_list" id="pDocuploadList">
            <div class="upload_listbox">
                <div class="upload_img" style="height:110px; text-align:center;" id="pDocSection">
                    <a href="@ImageBankFolder@DataAccessLayer.Common.clsHelper.EscapeUriString(item.DocumentName)" target="_blank">
                        <img style="cursor: pointer;" src="@ImageBankFolder@FileExtension.CheckFileExtenssion(item.DocumentName)" alt=@item.DocumentName title="@item.DocumentName" />
                        @*<img style="cursor: pointer;" src="@Html.Action("GetBase64ContentOFImage","Common", new { FileId = item.DocumentId, FileFrom=(int)BO.Enums.Common.FileFromFolder.ImageBank, FileName =documentName})" alt="@item.DocumentName" title="@item.DocumentName" />*@
                    </a>
                </div>
                <div class="upload_desc">
                    @{documentName = (item.DocumentName != string.Empty ? item.DocumentName.Substring(item.DocumentName.LastIndexOf("$") + 1) : string.Empty); }
                    Name : @(documentName)
                    @{
                        string CreationDate = new CommonBLL().ConvertToDateTime(Convert.ToDateTime(item.CreationDate), Convert.ToInt32(BO.Enums.Common.DateFormat.GENERAL));
                        string LastModifiedDate = new CommonBLL().ConvertToDateTime(Convert.ToDateTime(item.LastModifiedDate), Convert.ToInt32(BO.Enums.Common.DateFormat.GENERAL));
                    }
                    <br />Created on: @((!string.IsNullOrEmpty(CreationDate)) ? CreationDate : "")
                    <br />Modified on: @((!string.IsNullOrEmpty(LastModifiedDate)) ? LastModifiedDate : "")
                    <br />Notes:@(Convert.ToString(item.Description) ?? string.Empty)
                </div>
            </div>
            <div class="buttons_panel" style="text-align:center;">
                <a class="frmedtbtn edit popup-with-form showlightbox" title="Edit" onclick="FillNotesPopUp(@item.PatientId,@item.DocumentId,'Doc')"></a>
                <a class="frmdltbtn" title="Delete" href="javascript:;" onclick="return RemovePatientDocument(@item.DocumentId,@item.PatientId)"></a>
            </div>
        </div>
    }
    <script type=text/javascript>
        var maxImgHeight = Math.max.apply(null, $("#pDocSection").map(function () {
            return $(this).height();
        }).get());

        $('#PatientDocumentsSection div[id="pDocSection"]').each(function () {
            $(this).css("height", maxImgHeight + "px");
        });
        var maxDivHeight = Math.max.apply(null, $('#PatientDocumentsSection div[id="pDocuploadList"]').map(function () {
            return $(this).height();
        }).get());

        // console.log(maxDivHeight);

        $('#PatientDocumentsSection div[id="pDocuploadList"]').each(function () {
            $(this).css("height", maxDivHeight + "px");
        });
        //$(document).ready(function () {
        //    $('#pImgupload_list div[id="pDocSection"]').each(function () {
        //        $(this).css("height", $('#hiddenMaxHeight').val()) + "px";
        //    });
        //    var heights = $("div.upload_list").map(function () {
        //        return $(this).height();
        //    }).get(),
        //    maxHeight = Math.max.apply(null, heights);
        //    $('#PatientDocumentsSection div[id="pImgupload_list"]').each(function () {
        //        $(this).css("height", maxHeight + "px");
        //    });
        //});
    </script>
}
else
{
    <input type="hidden" id="pImgCount" value=@pImg.Count />
    foreach (var item in pImg)
    {
        <div class="upload_list" id="pImgupload_list">
            <div class="upload_listbox">
                <div class="upload_img" id="pImgUploadImage">
                    @{
                        var NewstrImageBankPath = string.IsNullOrWhiteSpace(Convert.ToString(item.Name)) ? "~/Content/images/img_1.jpg" : strImageBankPath + Convert.ToString(item.Name);
                        if (!File.Exists(Server.MapPath(NewstrImageBankPath)))
                        {
                            NewstrImageBankPath = "~/Content/images/img_1.jpg";
                        }
                        System.Drawing.Bitmap Objbit = new System.Drawing.Bitmap(Server.MapPath(NewstrImageBankPath));
                        var imgWidth = 0;
                        var imgHeight = 0;

                        var ImagePath = string.Empty;

                        if (Objbit.Width >= Objbit.Height)
                        {
                            if (Objbit.Width > 215)
                            {
                                imgWidth = 215;

                                if (Objbit.Height > 215)
                                {
                                    imgHeight = 215 * Objbit.Height / Objbit.Width;

                                }
                                else
                                {
                                    imgHeight = Objbit.Height;
                                }
                            }
                            else
                            {
                                imgWidth = Objbit.Width;
                                imgHeight = Objbit.Height;
                            }

                        }
                        else
                        {
                            if (Objbit.Height > 215)
                            {
                                imgHeight = 215;


                                if (Objbit.Width > 215)
                                {
                                    imgWidth = 215 * Objbit.Width / Objbit.Height;

                                }
                                else
                                {
                                    imgWidth = Objbit.Width;
                                }
                            }
                            else
                            {
                                imgHeight = Objbit.Height;
                                imgWidth = Objbit.Width;
                            }

                        }
                        ImagePath = item.Name;
                        if (item.Name == string.Empty)
                        {
                            ImagePath = "../../Content/images/img_1.jpg";
                        }
                    }
                    @if (item.ImageId > 0)
                    {
                        <a href="@ImageBankFolder@DataAccessLayer.Common.clsHelper.EscapeUriString(ImagePath)" target="_blank">
                            @*<img style="cursor: pointer;" src="@ImageBankFolder@DataAccessLayer.Common.clsHelper.EscapeUriString(ImagePath)" width=@imgWidth height=@imgHeight alt=@item.Name title="@item.Name" />*@
                            <img src="@Html.Action("GetBase64ContentOFImage","Common", new { FileId = item.ImageId, FileFrom=(int)BO.Enums.Common.FileFromFolder.ImageBank, FileName =item.Name})" width=@imgWidth height=@imgHeight alt=@item.Name title="@item.Name" />
                        </a>
                    }

                </div>
                <div class="upload_desc">

                    @if (item.ImageId > 0)
                    {
                        documentName = (item.Name != string.Empty ? item.Name.Substring(item.Name.LastIndexOf("$") + 1) : string.Empty);
                    }
                    Name : @(documentName)
                    @{
                        string CreationDate = new CommonBLL().ConvertToDateTime(Convert.ToDateTime(item.CreationDate), Convert.ToInt32(BO.Enums.Common.DateFormat.GENERAL));
                        string LastModifiedDate = new CommonBLL().ConvertToDateTime(Convert.ToDateTime(item.LastModifiedDate), Convert.ToInt32(BO.Enums.Common.DateFormat.GENERAL));
                    }
                    <br />Created on: @((!string.IsNullOrEmpty(CreationDate)) ? CreationDate : "")
                    <br />Modified on: @((!string.IsNullOrEmpty(LastModifiedDate)) ? LastModifiedDate : "")
                    <br />Notes:@(Convert.ToString(item.Description) ?? string.Empty)
                </div>
            </div>
            <div class="buttons_panel" style="text-align:center;">
                @if (item.ImageId > 0)
                {

                    <a class="frmedtbtn edit popup-with-form showlightbox" title="Edit" onclick="FillNotesPopUp(@item.PatientId,@item.ImageId,'Image')"></a>
                    <a class="frmdltbtn" title="Delete" href="javascript:;" onclick="return RemovePatientImage(@item.ImageId,@item.MontageId,@item.PatientId)"></a>
                }

            </div>
        </div>
        maxHeight = (maxHeight < imgHeight) ? imgHeight : maxHeight;
    }
    <input type="hidden" value=@maxHeight id="hiddenMaxHeight" />
    <script type="text/javascript">
        $(document).ready(function () {
            $('#pImgupload_list div[id="pImgUploadImage"]').each(function () {
                $(this).css("height", $('#hiddenMaxHeight').val()) + "px";
            });
            var heights = $("div.upload_list").map(function () {
                return $(this).height();
            }).get(),
                maxHeight = Math.max.apply(null, heights);
            $('#PatientImagesSection div[id="pImgupload_list"]').each(function () {
                $(this).css("height", maxHeight + "px");
            });
        });
    </script>
}
