﻿<!-- Bootstrap styles -->
<link rel="stylesheet" href="../../Content/file_upload/css/bootstrap.min.css">
<style type="text/css">
    label {
        font-weight: normal;
    }

    a:hover, a:focus {
        text-decoration: none;
    }
    .ui-state-default .ui-icon {
    background-image: url("../images/ui-icons_888888_256x240.png");
    display: none !important;
}
    .ui-button-text{
        padding: 0px !important;
    }
    .ui-progressbar {
    background-color: #13BAF2 !important;
    height: 10px !important;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: left;
    width: 159% !important;
}
.template-upload .btn {
    padding: 0 0 2px 7px !important;
    height:34px !important;
}
.name {
    padding: 17px 0 0 0!important;
}
.size {
    line-height: 53px !important;
    padding: 1px 0 0 !important;
    width: 180px !important;
}
.ui-widget-header {
    background: #2ea2ce none repeat scroll 0 0;
    border: 1px solid #aaaaaa;
    color: #222222;
    font-weight: bold;
}
.progress{
    padding: 17px 0 0 !important;
}
.template-upload td {
    max-width: 320px!important;
}
</style>
<!-- Generic page styles -->
<link rel="stylesheet" href="../../Content/file_upload/css/style.css">
<script src="~/Content/file_upload/js/jquery.iframe-transport.js"></script>
<script src="~/Content/file_upload/js/cors/jquery.xdr-transport.js"></script>
<!-- blueimp Gallery styles -->
<link href="../../Content/file_upload/blueimp-gallery.min.css" rel="stylesheet" />
<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
<link rel="stylesheet" href="../../Content/file_upload/css/jquery.fileupload.css">
<link rel="stylesheet" href="../../Content/file_upload/css/jquery.fileupload-ui.css">
<!-- CSS adjustments for browsers with JavaScript disabled -->
<noscript>
    <link rel="stylesheet" href="../../Content/file_upload/css/jquery.fileupload-noscript.css">
</noscript>
<noscript>
    <link rel="stylesheet" href="../../Content/file_upload/css/jquery.fileupload-ui-noscript.css">
</noscript>
<!--- Scripts  and Css for  File upload end-->
<div id="fileuploadPatientHistoryMessages" >
    <form action='../../PatientTempFileUpload.ashx' method="post" enctype="multipart/form-data" style="margin: 0px 0px -2px;">
        @*<form action='../../PatientFileUpload.ashx?PatientId=@ViewBag.PatientId' method="post" enctype="multipart/form-data" style="margin: 0px 0px -2px;">*@
            <div class="row fileupload-buttonbar margintop1" onclick="return checkfilecount1();" style="border: 0px solid #fff;">
                <div class="col-lg-7 paddingleft0" style="margin-top: 58px;margin-right: -11px;float: right;">
                    <!-- The fileinput-button span is used to style the file input field as button -->
                    <span class="btn btn-success fileinput-button" style="float: right;margin-left: 111px;margin-top: -54px; border: 1px solid #2CA0CC; border-radius:0px;background-color: #fff;color: #2599C5;width: 152px;">
                        <i class="glyphicon glyphicon-plus-icon"></i>
                        <span class="text_lineheight">Attach Files</span>
                        <input type="file" name="files[]" multiple="multiple">
                    </span>
                    <div class="fileupload-progressbar" style="margin-left: -52%;">
                        <div class="bar" style="width: 0%;"></div>
                    </div>
                </div>
            </div>
        </form>
        <div class="fileupload-content" style="border: 0px solid">            
            <table class="table table-striped">
                <tbody class="files"></tbody>
            </table>
        </div>
</div>

<script id="template-upload" type="text/x-jquery-tmpl">
    
    <tr class="template-upload{{if error}} ui-state-error{{/if}}">
        <td class="preview"></td>
        <td class="name">${name}</td>
        <td class="size">${sizef}</td>
        {{if error}}
        <td class="error" colspan="2">
            Error:
            {{if error === 'maxFileSize'}}File is too big
            {{else error === 'minFileSize'}}File is too small
            {{else error === 'acceptFileTypes'}}Filetype not allowed
            {{else error === 'maxNumberOfFiles'}}Max number of files exceeded
            {{else}}${error}
            {{/if}}
        </td>
        {{else}}
        <td class="progress"><div></div></td>
        <td class="start">
            <button class="btn btn-primary start" disabled>
                <i class="glyphicon glyphicon-upload-icon"></i>
                <span class="text_lineheight">Start</span>
            </button>
        </td>
        {{/if}}
        <td class="cancel">
            <button class="btn btn-warning cancel">
                <i class="glyphicon glyphicon-ban-circle-icon"></i>
                <span class="text_lineheight">Cancel</span>
            </button>
        </td>
    </tr>
</script>

<!-- The template to display files available for download -->
<script id="template-download" type="text/x-jquery-tmpl">
    <tr class="template-download{{if error}} ui-state-error{{/if}}">
        {{if error}}
        <td></td>
        <td class="name">${name}</td>
        <td class="size">${sizef}</td>
        <td class="error" colspan="2">
            Error:
            {{if error === 1}}File exceeds upload_max_filesize (php.ini directive)
            {{else error === 2}}File exceeds MAX_FILE_SIZE (HTML form directive)
            {{else error === 3}}File was only partially uploaded
            {{else error === 4}}No File was uploaded
            {{else error === 5}}Missing a temporary folder
            {{else error === 6}}Failed to write file to disk
            {{else error === 7}}File upload stopped by extension
            {{else error === 'maxFileSize'}}File is too big
            {{else error === 'minFileSize'}}File is too small
            {{else error === 'acceptFileTypes'}}Filetype not allowed
            {{else error === 'maxNumberOfFiles'}}Max number of files exceeded
            {{else error === 'uploadedBytes'}}Uploaded bytes exceed file size
            {{else error === 'emptyResult'}}Empty file upload result
            {{else}}${error}
            {{/if}}
        </td>
        {{else}}
        <td>
            <span class="preview">
                {{if thumbnail_url}}
                <a href="${url}" target="_blank"><img width="60px" src="${thumbnail_url}"></a>
                {{/if}}
            </span>
        </td>
        <td>
            <p class="name">
                <a href="${url}" {{if thumbnail_url}} target="_blank" {{/if}}>${name}</a>
            </p>
        </td>
        <td><span class="size">${sizef}</span></td>
        <td colspan="2"></td>
        {{/if}}
        <td>
            <button class="btn btn-danger deletefile" data-type="${delete_type}" data-url="${delete_url}">
                <i class="glyphicon glyphicon-trash-icon"></i>
                <span class="text_lineheight">Delete</span>
            </button>
        </td>
    </tr>
</script>

<!-- The template to display files available for download -->


<script>
    function checkfilecount1() {

        if ($('#hdncountatt').val() >= 5) {
            $('#divMessage').html('Maximum 5 attachments can be uploaded');
            $('#divMessage').delay(300).slideDown(300).delay(3000).slideUp(300);
            return false;
        }
    }
</script>
