﻿@model System.Data.DataTable
@using System.Data

@if (ViewBag.PatientListDatatable.Rows.Count > 0)
{
    <div class="row">        
        <div class="col-lg-12">                
            <table class="table table3">
                <thead>
                    <tr>
                        <th>
                            Doctor
                        </th>
                        <th>
                            Date
                        </th>
                        <th>
                            Time
                        </th>
                        <th>
                            Service Type
                        </th>
                        <th>
                            Status
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (DataRow item in ViewBag.PatientListDatatable.Rows)
                    {
                        string AppointmentTime = "";
                        if (!string.IsNullOrWhiteSpace(Convert.ToString(item["AppointmentTime"])))
                        {
                            AppointmentTime = DateTime.Today.Add(Convert.ToDateTime(Convert.ToString(item["AppointmentTime"])).TimeOfDay).ToString("hh:mm tt");
                        }
                        if (item["AppointmentStatusId"].ToString() == "11")
                        {
                            <tr>
                                <td data-th="Doctor">@item["DoctorName"]</td>
                                <td data-th="Date"><time>@Convert.ToDateTime(@item["AppointmentDate"]).ToString("MM/dd/yyyy")</time></td>
                                <td data-th="Time">@AppointmentTime</td>
                                <td data-th="Service">@item["ServiceType"]</td>
                                <td data-th="Status">@item["Status"]</td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td data-th="Doctor">@item["DoctorName"]</td>
                                <td data-th="Date"><time><a href="@Url.Action("Index", "Appointment", new { AppointmentId = item["AppointmentId"] })">@Convert.ToDateTime(@item["AppointmentDate"]).ToString("MM/dd/yyyy")</a></time></td>
                                <td data-th="Time"><a href="@Url.Action("Index", "Appointment", new { AppointmentId = item["AppointmentId"] })">@AppointmentTime</a></td>
                                <td data-th="Service"><a href="@Url.Action("Index", "Appointment", new { AppointmentId = item["AppointmentId"] })">@item["ServiceType"]</a></td>
                                <td data-th="Status"><a href="@Url.Action("Index", "Appointment", new { AppointmentId = item["AppointmentId"] })">@item["Status"]</a></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>                
        </div>        
    </div>
}

else
{
    <br />
    <center>No appointment found</center>
    <br />
}
    
