﻿@{
    ViewBag.Title = "ImportPatients";
    Layout = "~/Views/Shared/_NewSiteLayoutInner.cshtml";
}
<style>
    .disable-me {
        pointer-events: none;
    }
</style>

<input type="hidden" id="hdnmappedcolumn" />
<input type="hidden" name="hdnCurrentStep" id="hdnCurrentStep" value="1" />
<input type="hidden" name="name" id="IsImport" value="0" />
<main id="main" role="main">
    <div class="container">
        <div class="new-case case-overview">
            <div class="new-case case-overview patinet">
                <div class="row btm-margin-30  row-bordered referral">
                    <div class="col-lg-12 ">
                        <div class="row fve_button">
                            <div class="col col-lg-4 col-md-5 col-sm-6 col-xs-6 col-lg-pull-8 col-md-pull-7 col-sm-pull-6 col-xs-pull-6 show-on-phones">
                                <h1 class="inline">Import Patient</h1>
                                <div class="btn-group btn-holder">
                                    <a href="#" class="btn btn-primary"><i class="fa fa-arrow-left"></i>Back</a>
                                </div>
                            </div>
                            <div class="col col-lg-8 col-md-7 col-sm-6 col-xs-6 col-lg-push-4 col-md-push-5 col-sm-push-6 col-xs-push-6 four">
                                <div class="btn-group">
                                    <a href="/Patients/ExportToExcel" class="btn-default btn-cases" title="Export Patients" data-toggle="tooltip" data-placement="bottom"><i class="ico-export-patient"></i>Export Patients</a>
                                </div>
                                <div class="btn-group">
                                    <a @*href="@Url.Action("AddPatient","Patients")"*@ href="javascript:;"  class="btn-default btn-cases" onclick="CheckAuthorization(@Convert.ToInt32(BO.Enums.Common.Features.New_Patient_Leads))" title="Add Patient" data-toggle="tooltip" data-placement="bottom"><i class="ico-add-patient"></i>Add Patient</a>
                                </div>
                            </div>
                            <div class="col col-lg-4 col-md-5 col-sm-6 col-xs-6 col-lg-pull-8 col-md-pull-7 col-sm-pull-6 col-xs-pull-6 hide-on-phones">
                                <h1 class="inline">Import Patient</h1>
                                <div class="btn-group btn-holder">
                                    <a href="javascript:;" onclick="history.back();" class="btn btn-primary" id="btn_back"><i class="fa fa-arrow-left"></i>Back</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mrgn-btm-20">
                    <div class="col-lg-12">
                        <div id="wizard">
                            <div class="wizard-inner">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active" id="UploadExcel">
                                        <a href="javascript:;" data-toggle="tab" aria-controls="step1" role="tab" onclick="return ValidateClick('1')">Upload Excel File</a>
                                    </li>
                                    <li role="presentation" id="MatchField">
                                        <a href="javascript:;" style="display:none;" id="ValidateStep2"></a>
                                        <a href="javascript:;" data-toggle="tab" aria-controls="step2" role="tab" class="disable-me" id="Match_Field" onclick="return ValidateClick('2')">Match Field</a>
                                    </li>
                                    <li role="presentation" id="ImportedExcelData">
                                        <a href="javascript:;" style="display: none;" id="ValidateStep3"></a>
                                        <a href="javascript:;" data-toggle="tab" aria-controls="step3" role="tab" class="disable-me" id="Imported_Data" onclick="return ValidateClick('3')" >Imported data</a>
                                    </li>

                                    <li role="presentation" id="FinishImport">
                                        <a href="javascript:;" style="display: none;" id="ValidateStep4"></a>
                                        <a href="javascript:;" data-toggle="tab" aria-controls="complete" id="Import_Finish" class="disable-me" role="tab" onclick="return ValidateClick('4')">Finish</a>
                                    </li>
                                </ul>
                            </div>                          
                                <div class="tab-content">
                                    <!--Partial Upload Excel File-->
                                    <div id="Newstep1">
                                        @Html.Partial("_PartialUploadExcelFile")
                                    </div>
                                    <!--Partial match Excel fields-->
                                    <div id="Newstep2">                               
                                    </div>
                                    <!--Partial imported Data-->

                                    @Html.Partial("_PartialimportedExcelData")

                                   
                                    @Html.Partial("_PartialImportedList")

                                    <div class="clearfix"></div>
                                </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* Pop up for excel upload *@
    <div class="modal fade" id="ExcelUploadPopUp" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <div class="text-center center">
                        <img class="mrgn-btm-20" id="ImageExcel" src="~/Content/css/NewAdmin/images/excel-ico.png" />
                        <p class="mrgn-btm-0" style="margin: 0;" id="desc_message"></p>
                    </div>
                    <div class="modal-footer bdr-top-no">
                        <div class="btn-group btn-holder">
                            <button type="button" class="btn btn-default btn1" data-dismiss="modal" id="btn_no">No</button>
                            <button type="button" class="btn btn-default btn2 blue-bg mrgn-right-0" id="btn_yes">Yes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script type="text/javascript">
    var New_Patient_Leads = @Convert.ToInt32(BO.Enums.Common.Features.New_Patient_Leads);
  </script>
<script src="~/Scripts/ControllerJS/Patients/ImportPatient.js"></script>