﻿@model NewRecordlinc.Models.Patients.mdlPatient
@{
    ViewBag.Title = "Recordlinc - Patient";
    Layout = "~/Views/Shared/SiteLayoutInner.cshtml";
    if (TempData["Redirection"] != null)
    {
      <input type="hidden" id="dd" value="@TempData[" Redirection"]" />
    }
    TempData["Redirection"] = null;
    var errorMessage = TempData["ErrorMessage"];
    if (!string.IsNullOrEmpty(ViewBag.ErrorMessage) || !string.IsNullOrEmpty(Convert.ToString(TempData["ErrorMessage"])))
    {
        TempData["ErrorMessage"] = string.Empty;
    }


    TempData["Redirection"] = null;
}
<link href="~/Content/css/Dropstyle.css" rel="stylesheet" />
<link href="~/Content/css/filterstyle.css" rel="stylesheet" />
<link href="~/Content/css/jquery-ui.css" rel="stylesheet" />
@*@section JavaScript
    {
        @Html.Raw(ViewBag.CustomScript)
    }*@
<style>
    .search_main_div {
        width: 100% !important;
    }

    div.cs-select {
        text-align: left;
        width: 111px;
        display: block;
    }

    .dropdownright {
        width: auto;
        display: inline-block;
    }

    .cs-select > span {
        padding-right: 1em;
    }

        .cs-select > span::after {
            right: auto !important;
            position: relative;
        }

    .dropdownright .Devendra > span {
        float: left;
        margin: 5px 10px 0 0;
    }

    .dropdownright .Devendra section .cs-select .cs-placeholder {
        display: inline-flex;
    }

    .Devendra {
        display: inline-flex;
        float: left;
        margin: 0 0 -10px;
        width: 230px;
    }

    .alphabet {
        width: auto !important;
        display: block;
    }

    .cs-select span {
        padding: 9px auto;
    }

    .cs-skin-elastic .cs-options span {
        padding: 11px 1em 10px 4px;
    }

    .downarrow {
        background-attachment: scroll;
        background-clip: border-box;
        background-color: rgba(0, 0, 0, 0);
        background-image: url("/Content/images/quicklink-sprites.png");
        background-origin: padding-box;
        background-position: -129px -3px;
        background-repeat: no-repeat;
        background-size: auto auto;
        display: inline-block;
        height: 28px;
        margin-bottom: 8px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 8px;
        text-indent: -9999px;
        vertical-align: middle;
        width: 28px;
    }

    .dashboard_links {
        margin-bottom: 0 !important;
    }

    .btn-default:active:hover, .btn-default.active:hover, .open > .dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus, .btn-default.focus:active, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus {
        background-color: #ffffff !important;
    }

    .btn-default:hover {
        background-color: #fff !important;
    }

    .devb {
        display: block;
        text-align: left;
        width: auto;
    }

    .tooltip {
        position: relative;
        display: inline-block;
    }

        .tooltip .tooltiptext {
            visibility: hidden;
            width: 120px;
            background-color: #0094ff;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;
            /* Position the tooltip */
            position: absolute;
            z-index: 1;
            top: -7px;
            right: 105%;
        }

        .tooltip:hover .tooltiptext {
            visibility: visible;
        }

    .btn-group > .btn:not(:first-child):not(.dropdown-toggle) {
        color: #0890C4 !important;
    }


    .responsiveTable td::before, .patientTable td::before, .refferalTable td::before, .comTable td::before, .patientContactList td::before, .colleagueContactList td::before, .patient_social_media td::before, .patientTableImport td::before {
        width: auto;
    }

    #ui-id-1 {
        color: #0591C5;
        border: 1px solid #ccc;
        border-top: 0px slid;
        padding: 8px;
        margin: 0;
        min-height: 0;
    }

    .ui-autocomplete .ui-state-focus {
        background: none !important;
        background-color: #DDEEFB !important;
        border: none !important;
        color: #5b7485;
        padding: 8px !important;
        margin: 0;
        min-height: 0;
    }

    .ui-menu-item {
        padding: 8px !important;
    }

    footer, .push {
        height: auto !important;
    }

    @@media (max-width: 360px) {
        .snd_msg_sltd, .export_patient_btn, .import_patient_btn {
            width: 100%;
        }
    }

    @@media only screen and (min-width:870px) and (max-width: 1200px) {
        .search_main_div {
            float: left;
            position: relative;
            width: auto !important;
        }

        .searchbar input[type="text"] {
            padding: 14px 15px 14px 45px;
        }

        #search_main_div .search_main_div .searchbar input[type='text'] {
            height: 32px !important;
        }
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        if ($('#dd').val() != null) {
            //swal({ title: "", text: 'Referral sent successfully' });
            //alert("Referral send successfully");
            swal({
                title: "",
                text: "Referral sent successfully",
                type: "success",
                closeOnConfirm: true,
            },
          function () {
              var PatientId = getParameterByName('PatientId');
              var DoctorId = getParameterByName('DoctorId');

              if (PatientId > 0 && DoctorId > 0) {
                  location.href = "/Appointment?PatientId=" + PatientId + "&DoctorId=" + DoctorId;
              }
          });
        }
        if ($.trim("@errorMessage").length != 0) {
            swal({ title: "", text: '@errorMessage' })
        }
    });
    jQuery(document).ready(function (e) {
        (function () {
            [].slice.call(document.querySelectorAll('select.cs-select')).forEach(function (el) {
                new SelectFx(el);
            });
        })();
        $('.alphabet > a').click(function () {
            if ($('.alphabet > a').hasClass('active')) {
                $('.alphabet > a').removeClass('active');
            }
            if ($(this).hasClass('active') > 0) {
                $(this).removeClass('active');
            } else {
                $(this).addClass('active');
            }
        });

        $('#add_doctor_popup').on('keypress', function (e) {
            var Keycodeof = e.keyCode
            if (Keycodeof == 13) {
                $("#SearchBtnHide").trigger('click');
            }
        });
        jQuery('.green_btn').on('mouseenter', function () {
            jQuery(this).find('.tooltipc').show();
            return false;
        });
        jQuery('.green_btn').on('mouseout', function () {
            jQuery(this).find('.tooltipc').hide();
            return false;
        });


        var Search = getParameterByName('Searchtext');
        if (Search != null && Search != '') {
            document.getElementById('divSearchtextshow').innerHTML = '<br/>  Search existing patients for :<span style=\"color: #0890c4;"\> ' + Search + '</span> &nbsp;  <a href=@Url.Action("Index", "Patients") style=\"color:#0890C4;\">Click here</a> to clear search.';
        }
        else {
            document.getElementById('divSearchtextshow').innerHTML = '';
        }



    });



    $(function () {
        $("#search_main_div").css("display", "block");
        $("#search_main_div").html("<div class='search_main_div'><div class='searchbar'><input id='txtHeaderSearchtext' onfocus='ClearPlaceHolder(this)' onblur='SetPlaceHolder(this)' type='text' value = 'Search Patient' onkeyup='HdrSearchPatientList(event)'></div></div>");
        $("#txtHeaderSearchtext").autocomplete({
            source: function (request, response) {

                $.post("@Url.Action("GetPatientAutocompleteList", "Patients")", { text: request.term }, function (data) {
                    if (!data.length) {
                        var result = [
                         {
                             label: 'No record found',
                             value: 0
                         }
                        ];
                        response(result);
                    }
                    else {
                        // normal response
                        response($.map(data, function (item) {
                            return {
                                label: item.FirstName.trim() + ' ' + item.LastName.trim()
                                    + ' (' + item.PatientId + ($.trim(item.Email).length > 0 ? ' - ' + item.Email : '') + ')'
                                , value: item.PatientId
                            };
                        }));
                    }

                });
            },
            minLength: 3,
            select: function (event, ui) {
                event.preventDefault();
                if (ui.item.label != "No record found") {
                    $("#txtHeaderSearchtext").val(ui.item.label);
                    ViewPatientHistory(ui.item.value);
                }
                else {
                    $("#txtHeaderSearchtext").val(null);
                }
            }

        });

    });

    function ClearPlaceHolder(input) {
        if (input.value == input.defaultValue) {
            input.value = "";
        }
    }
    function SetPlaceHolder(input) {
        if (input.value == "") {
            input.value = input.defaultValue;
        }
    }

    //Doctor Send Password To patient

    function SendPatientPassword(PatientId) {
        $.ajaxSetup({ async: false });

        $.post("/Patients/SendPasswordResetLinkToPatinet", { PatientId: PatientId }, function (data) {
            swal({ title: "", text: data });
            //alert(data);
        });
        $.ajaxSetup({ async: true });

    }


    // View Patient History - Start
    function ViewPatientHistory(PatientId) {
        $('#hdnViewPatientHistory').val(PatientId);
        $("#frmViewPatientHistory").submit();
    }
    //View Patient History - End




    function DeletePatient(id, PageIndex) {

        swal({
            title: "",
            text: "Are you sure you want to remove?",
            type: "warning",
            showCancelButton: true,
            //confirmButtonColor: "#DD6B55",
            confirmButtonText: "Delete",
            closeOnConfirm: false,
            showLoaderOnConfirm: true,
        },
      function (isConfirm) {
          if (isConfirm) {
              $.post("/Patients/DeletePatient", { PatientId: id, PageIndex: PageIndex },
            function (data) {
                var mydata = data.toString();
                var arr = [mydata];
                var y = arr.indexOf("error");

                if (y == 0) {
                    swal({ title: "", text: 'Patient has already referred', type: "error", timer: '2500', showConfirmButton: false });
                    return false;
                }
                else {
                    if (data != '') {
                        //swal("", 'Patient remove successfully.', "success", "1500");
                        swal({ title: "", text: 'Patient removed successfully', type: "success", timer: '1500', showConfirmButton: false });
                        // alert("Patient remove successfully.")
                        $('#row' + id).remove();
                        var MyCount = $("#count").html();
                        $("#count").html(parseInt(MyCount) - 1);
                    }
                    else {
                        swal({ title: "", text: 'Failed to remove patient', type: "error" });
                        //alert("Failed to remove patient.")
                    }
                }
            });

          }

      });
    }





    function EditPatient(id) {
        window.location = "Patients/AddPatient?PatientId=" + id;
    }

    function SetAllCheckBoxes(obj) {

        var c = new Array();
        c = document.getElementsByTagName('input');

        var selected = "";
        for (var i = 0; i < c.length; i++) {
            if (c[i].type == 'checkbox' && c[i].id == 'CheckPateint') {
                c[i].checked = obj.checked;

            }
        }

    }


    function SendMessageToSelected() {
        var c = new Array();
        c = document.getElementsByTagName('input');

        var selected = "";
        for (var i = 0; i < c.length; i++) {
            if (c[i].type == 'checkbox' && c[i].id == 'CheckPateint') {
                if (c[i].checked == true) {
                    if (selected == "" && selected == null) {
                        selected = c[i].value;
                    }
                    else {
                        selected += c[i].value + ',';
                    }
                }

            }
        }

        if (selected != null && selected != "") {
            $("#PatientId").val(selected);
            $("#frmcompose").submit();
            // window.location = '/Patients/PatientMessageCompose?PatientId=' + selected;
        }
        else {
            swal({ title: "", text: 'Please select at least one patient' });
            //alert('Please Select Atleast One Patient');
            return false;
        }



    }

    function DeleteSelectedPatiets() {
        var userlist = [];
        var c = new Array();
        c = document.getElementsByTagName('input');
        var cnt = 0;
        var selected = "";
        for (var i = 0; i < c.length; i++) {
            if (c[i].type == 'checkbox' && c[i].id == 'CheckPateint') {
                if (c[i].checked == true) {
                    cnt++;
                    if (selected == "" && selected == null) {
                        selected = c[i].value;
                    }
                    else {
                        selected += c[i].value + ',';
                    }
                }

            }
        }

        if (selected != null && selected != "") {

            swal({
                title: "",
                text: "Are you sure you want to remove?",
                type: "warning",
                showCancelButton: true,
                //confirmButtonColor: "#DD6B55",
                confirmButtonText: "Delete",
                closeOnConfirm: false,
                showLoaderOnConfirm: true,
            },
    function (isConfirm) {
        if (isConfirm) {
            userlist = selected.split(',');
            $.post("/Patients/DeletePatient", { PatientId: selected, PageIndex: $('#getindex').attr('class') },
            function (data) {

                if (data != '') {
                    swal({ title: "", text: 'Patients(' + cnt + ') removed successfully', type: "success", timer: '1500', showConfirmButton: false });
                    for (var i = 0; i < userlist.length; i++) {
                        $('#row' + userlist[i]).remove();
                    }
                    var MyCount = $("#count").html();
                    $("#count").html(parseInt(MyCount) - parseInt(cnt));
                    cnt = 0;
                }
                else {
                    swal({ title: "", text: 'Failed to remove patient.', type: "error" });
                    //alert("Failed to remove patient.")
                }

            });

        }

    });

            //if (confirm("Are you sure you want to remove these patients?")) {

            //    userlist = selected.split(',');
            //    $.post("/Patients/DeletePatient", { PatientId: selected, PageIndex: $('#getindex').attr('class') },
            //    function (data) {

            //        if (data != '') {
            //            swal("", "Patients removed successfully.", "success");
            //           // alert("Patients removed successfully.")
            //            for (var i = 0; i < userlist.length; i++) {
            //                $('#row' + userlist[i]).remove();
            //            }
            //        }
            //        else {
            //            swal({ title: "", text: 'Failed to remove patient.' });
            //            //alert("Failed to remove patient.")
            //        }

            //    });

            //}
        }

        else {
            swal({ title: "", text: 'Please select at least one patient.' });
            //alert('Please Select Atleast One Patient');
            return false;
        }



    }


    function UncheckMaincheckBox(id) {
        document.getElementById(id).checked = false;
    }


    function HdrSearchPatientList(event) {
        if (event.keyCode == 13) {

            var message = $('#txtHeaderSearchtext').val();

            $("#divLoading").show();
            GetPatientDetailsList(1, message, 11, 2)
            if (message != null && message != "") {
                $("#divClearSearch").css("display", "block");
                $("#divClearSearch").html("<br/><a href='@Url.Action("Index", "Patients")' style=\"text-decoration:none;\" title=\"Clear Search\" > &nbsp;Clear Search</a>");


            }
            else {
                GetPatientDetailsList(1, '', 11, 2)
                document.getElementById('divSearchtextshow').innerHTML = '';
            }


            $("#divLoading").hide();
        } else {
            return true;
        }
    }

    function ViewProfile(id) {
        $("#divLoading").show();
        $('#hdnViewProfile').val(id);
        $("#frmViewProfile").submit();
        $("#divLoading").hide();
    }


    function OpenPopup(PatientId) {
        SearchColleague();
        $('#OpenPopup').click();
        document.getElementById('hdnPatientId').value = PatientId;
    }
    //AK changes 02-22-2017 (For Location DDP and ALL Functionlity and Scroll Issue)
    function GetPatientListByAtoZ(NewSearchText) {
        var LocationBy = $('#listing2 option:selected').val();
        var FilterBy = $('#Listing option:selected').val();
        var SortColumn = "";
        if (SortColumn == null || SortColumn == 'undefined' || SortColumn == "") {
            SortColumn = 1;
        }
        $('#PatientPageIndex').val(1);
        var PageIndex = 1;
        var SearchText = null;
        var SortDirection = "1";
        $.post("/Patients/GetPatientDetailsList", { PageIndex: PageIndex, SearchText: SearchText, SortColumn: SortColumn, SortDirection: SortDirection, NewSearchText: NewSearchText, FilterBy: FilterBy, LocationId: LocationBy }, function (data) {
            $("#divLoading").show();
            if (data != null && data != "") {
                document.getElementById('divPatientDetailsList').innerHTML = data.toString();
                AlphbetsSetting(NewSearchText, SortColumn, FilterBy);
            }
            else {
                document.getElementById('divPatientDetailsList').innerHTML = '';
            }
            $(window).scrollTop(0);
            $("#divLoading").hide();
        });
        bindScrollHandler();
    }

    $(function () {
        if ($('.alphabet > a').hasClass('active')) {
            $('.alphabet > a').removeClass('active');
        }
        if ($(this).hasClass('active') > 0) {
            $(this).removeClass('active');
        } else {
            $(this).addClass('active');
        }
    });

    function ReferralSend() {
        var PatientId = document.getElementById('hdnPatientId').value;
        var MultipleColleague = null;
        var c = new Array();
        c = document.getElementsByTagName('input');

        for (var i = 0; i < c.length; i++) {
            if (c[i].type == 'checkbox' && c[i].id == 'checkcolleague' && c[i].checked == true) {

                if (MultipleColleague == null) {

                    MultipleColleague = c[i].value;
                }
                else {

                    MultipleColleague = MultipleColleague + ',' + c[i].value;
                }

            }
        }
        if (MultipleColleague == null) {
            swal({ title: "", text: 'Please select atleast one colleague.' });
            //alert("Please Select Atleast One Colleague.")
        }
        else {
            window.location.href = '@Url.Action("Referral", "Referrals")?PatientId=' + PatientId + '&ColleagueIds=' + MultipleColleague;
           // GetLocationColleagues(MultipleColleague, PatientId);
        }


    }

    function AlphbetsSetting(NewSearchText, SortColumn, FilterBy) {
        //$('#Listing').val(FilterBy);

        (function () {
            [].slice.call(document.querySelectorAll('select.cs-select')).forEach(function (el) {
                new SelectFx(el);
            });
        })();
        if (NewSearchText == "")
            NewSearchText = "All";
        $(".alphabet ." + NewSearchText).addClass('active');
    }
    var timer;
    function SearchColleagueOnkeyPress() {
        var ctrl = $("#txtSearchPatient");
        clearTimeout(timer);
        var ms = 500; // milliseconds
        timer = setTimeout(function () {
            Onkeypresscolleaguelist(ctrl);
        }, ms);
    }
    function Onkeypresscolleaguelist(ctrl)
    {
        var value = $(ctrl).val().toLowerCase().trim();
        if ($.trim(value).length == 0) {
            value = "";
        }
        $('#divLoading').show();
        $.ajaxSetup({ async: false });
        $.post("/Patients/SearchColleagueFromPopUp",
            { SearchText: value }, function (data) {
                document.getElementById("add_doctor_popup").innerHTML = data;
            });
        $.ajaxSetup({ async: true });
        $(".search_listing").bind('scroll', function (event) {
            if ($(this).scrollTop() + $(this).innerHeight() >= $(this)[0].scrollHeight) {
                var data = SearchColleagueOnScroll().toString();
                $(this).append(data);
            }
        });
    }
    function SearchColleague() {
        $("#ColleaguPageIndex").val("1");
        var GetSearchText = null;
        if ($('#txtSearchPatient').length == 0) {
            GetSearchText = null;
        }
        else {
            GetSearchText = document.getElementById('txtSearchPatient').value;

            if (GetSearchText == "Find colleague to refer to...") {
                GetSearchText = null;
            }
        }

        $.ajaxSetup({ async: false });


        $.post("/Patients/SearchColleagueFromPopUp",
                                    { SearchText: GetSearchText }, function (data) {

                                        document.getElementById("add_doctor_popup").innerHTML = data;


                                    });


        $.ajaxSetup({ async: true });
        $(".search_listing").bind('scroll', function (event) {
            if ($(this).scrollTop() + $(this).innerHeight() >= $(this)[0].scrollHeight) {

                var data = SearchColleagueOnScroll().toString();
                $(this).append(data);
            }
        });
    }


    function SearchColleagueOnScroll() {

        var datalist = '';
        $.ajaxSetup({ async: false });
        var PageIndex = $("#ColleaguPageIndex").val();
        var SearchText = $("#txtSearchPatient").val();
        if (PageIndex == "-1") {
            return "";
        }
        else {
            PageIndex = parseInt(PageIndex) + parseInt(1);
            $.post("/Patients/GetColleagueListForSendReferralPopUpOnScroll",
               { PageIndex: PageIndex, SearchText: SearchText }, function (data) {
                   if (data == '' || data == '<li><center>No more record found.</li>') {
                       $("#EmptyRecord").empty().html("<center>No more records found</center>");
                       $("#ColleaguPageIndex").val("-1");
                   }
                   else {
                       $("#ColleaguPageIndex").val(PageIndex);
                   }
                   datalist = data;
               });
        }
        $.ajaxSetup({ async: true });
        return datalist;
    }

    function CloseColleaguePopUp() {
        $(".mfp-close").click();
    }
    //Ankit chages 02-22-2017 (For Location DDP and ALL Functionlity and Scroll Issue)
    function GetPatientDetailsList(PageIndex, SearchText, SortColumn, SortDirection) {

        var NewSearchText = $(".alphabet > .active").html();
        var FilterBy = $('#Listing option:selected').val();
        $('#PatientPageIndex').val("1");
        $.post("/Patients/GetPatientDetailsList", { PageIndex: PageIndex, SearchText: SearchText, SortColumn: SortColumn, SortDirection: SortDirection, NewSearchText: NewSearchText, FilterBy: FilterBy }, function (data) {
            $("#divLoading").show();
            if (data != null && data != "") {

                document.getElementById('divPatientDetailsList').innerHTML = data.toString();
                AlphbetsSetting(NewSearchText, SortColumn, FilterBy);
                $('#PatientPageIndex').val("1");
            }
            else {
                document.getElementById('divPatientDetailsList').innerHTML = '';
            }
            $(window).scrollTop(0);
            $("#divLoading").hide();

            bindScrollHandler();
        });
    }


    //AK changes 02-22-2017 (For Location DDP and ALL Functionlity and Scroll Issue)
    // Page Scroll Code to get Patient list
    function GetPatientListOnScroll() {
        var NewSearchText = $(".alphabet > .active").html();
        var FilterBy = $('#Listing option:selected').val();

        var datalist = '';
        $.ajaxSetup({ async: false });
        var PageIndex = $('#PatientPageIndex').val();
        var strSortColumn = $("#getindex").data("sortcolumn");
        var strSortDirection = $("#getindex").data("sortirection");
        var LocationBy = $('#listing2 option:selected').val();
        var searchtext = $('#txtHeaderSearchtext').val();
        if (searchtext == 'Search Patient') {
            searchtext = '';
        }
        if (PageIndex == '-1') {
            return "";
        } else {
            PageIndex = parseInt(PageIndex) + parseInt(1);
            $.post("/Patients/GetPatientListOnScroll", { PageIndex: PageIndex, searchtext: searchtext, strSortColumn: strSortColumn, strSortDirection: strSortDirection, NewSearchText: NewSearchText, FilterBy: FilterBy, LocationId: LocationBy }, function (data) {

                if (data == '' || data == '<tr><td colspan=\"9\"><center>No more record found</center></td></tr>') {
                    $('#PatientPageIndex').val('-1');
                } else {
                    $('#PatientPageIndex').val(PageIndex);
                }
                //var maincheck = $("#MainCheckBox").attr(":checked");
                //alert($("#MainCheckBox").prop("checked"));
                //if ($("#MainCheckBox").prop("checked")) {
                //    $("#getindex").find("#CheckPateint").each(function () {
                //        alert($(this).id);
                //    });
                    //var newdata = data.toString();
                    //alert(newdata);
                    //$(newdata).find("#CheckPateint").attr('checked', true);
                    //$("#CheckPateint").attr('checked', false);
               
                datalist = data;
                bindScrollHandler();
            });
        }
        $.ajaxSetup({ async: true });

        return datalist;
    }
    function bindScrollHandler() {

        $(window).scroll(function () {
            //console.log("$(window).scrollTop()-" + $(window).scrollTop() + "$(window).height()-" + $(window).height() + "$(document).height()-" + $(document).height());
            //console.log("($(document).height()-" + $(document).height() + "win.height()-" + $(window).height() + "win.scrollTop()-" + $(window).scrollTop() + "Condition-" + ($(document).height() - $(window).height() == $(window).scrollTop()));
            //console.log("Page index-" + $('#PatientPageIndex').val());
            //if ($(window).scrollTop() + $(window).height() > $(document).height() - 150) {
            if ($(document).height() - $(window).height() == $(window).scrollTop()) {
                //$(window).unbind("scroll");
                var data = GetPatientListOnScroll().toString();
                $(data).appendTo("#getindex");
                if ($("#MainCheckBox").prop("checked")) {
                    $("input[type=checkbox]").attr('checked', true);
                }
                //alert($("#getindex").html());
                //$("#CheckPateint").attr('checked', true);
            }
            else {
            }
        });
    }
    $(function () {
        bindScrollHandler();
        $("input.checkbox_add_patient:checkbox").live('click', function (event) {

            $('ul.search_listing li div').css('border-color', '#C8C8C8');
            var myInput = $(this);
            if (myInput.attr('checked')) {
                var divid = myInput.attr('value');
                $("input:checked").attr('checked', false);
                $("#" + divid).css('border-color', '#0890C4');
                myInput.attr('checked', true);
            }
            else {
                var divid = myInput.attr('value');
                $("input:checked").attr('checked', false);
                $("#" + divid).css('border-color', '#C8C8C8');
                myInput.attr('checked', false);
            }
            event.stopPropagation();
        });
        $('ul.search_listing li div').live('click', function (event) {
            $('ul.search_listing li div').css('border-color', '#C8C8C8');
            var myInput = $('input', this)
            if (myInput.attr('checked')) {
                var divid = myInput.attr('value');
                $("#" + divid).css('border-color', '#C8C8C8');
                myInput.attr('checked', false);
            }
            else {
                var divid = myInput.attr('value');
                $("#" + divid).css('border-color', '#0890C4');
                $("input:checked").attr('checked', false);
                myInput.attr('checked', true);
            }
            event.stopPropagation();
        });
        //DD
        $("input.checkcolleaguelocation:checkbox").live('click', function (event) {
            $(".location_each").css('border-color', '#C8C8C8');
            var myInput = $(this);
            if (myInput.attr('checked')) {
                var divid = myInput.attr('value');
                $("input:checked").attr('checked', false);
                $("#" + divid).css('border-color', '#0890C4');
                myInput.attr('checked', true);
            }
            else {
                var divid = myInput.attr('value');
                $("input:checked").attr('checked', false);
                $("#" + divid).css('border-color', '#C8C8C8');
                myInput.attr('checked', false);
            }
            event.stopPropagation();
        });
        $('div.class_locationcolleagues div').live('click', function (event) {
            $(".location_each").css('border-color', '#C8C8C8');
            var myInput = $('input', this)
            if (myInput.attr('checked')) {
                var divid = myInput.attr('value');
                $("#" + divid).css('border-color', '#C8C8C8');
                $("input:checked").attr('checked', false);
                myInput.attr('checked', false);
            }
            else {
                var divid = myInput.attr('value');
                $("#" + divid).css('border-color', '#0890C4');
                $("input:checked").attr('checked', false);
                myInput.attr('checked', true);
            }
            event.stopPropagation();
        });

    });


    $(document).keydown(function (e) {
        if (e.which == 116) {
            window.location.href = "../Patients";
            return false;
        }
    });

    //DD Changes
    function GetLocationColleagues(MultipleColleague, PatientId) {
        $.ajaxSetup({ async: false });


        $.post("/Patients/GetLocationColleagues",
                                    { ColleagueId: MultipleColleague, PatientId: PatientId }, function (data) {
                                        //var countdata = data;
                                        if (data == "1") {

                                            if (MultipleColleague != null && MultipleColleague != "") {
                                                window.location.href = '@Url.Action("Referral", "Referrals")?PatientId=' + PatientId + '&ColleagueIds=' + MultipleColleague;
                                            }
                                            else {
                                                swal({ title: "", text: 'Please select atleast one colleague.' });
                                            }
                                        }
                                        else {
                                            $(".search_main_div").hide();
                                            $(".cntnt").hide();
                                            $("#ColleaguesLocation").html(data);
                                            $("#ReferralTitle").html("Select Colleague Location");
                                            $("#ColleaguesId").val(MultipleColleague);
                                            $("#PatientId").val(PatientId);
                                        }
                                    });
        $.ajaxSetup({ async: true });
    }

    function BackToSelectColleagues() {
        $(".search_main_div").show();
        $(".cntnt").show();
        $("#ReferralTitle").html("Select the Colleagues to Send Referral");
        $("#ColleaguesLocation").html("");
    }

    function SendReferralSelectLocation() {
        var locationid;
        //if ($('#checkcolleaguelocation').is(":checked")) {
        //    var locationid = $('#checkcolleaguelocation').val();
        //}
        var c = document.getElementsByClassName('checkcolleaguelocation');
        for (var i = 0; i < c.length; i++) {
            if (c[i].type == 'checkbox' && c[i].id == 'colleaguelocation' && c[i].checked == true) {

                if (locationid == null) {

                    locationid = c[i].value;
                }
                else {

                    locationid = locationid + ',' + c[i].value;
                }

            }
        }


        MultipleColleague = $("#ColleaguesId").val();
        PatientId = $("#PatientId").val();
        if (locationid != null && locationid != "") {


            if (MultipleColleague != null && MultipleColleague != "") {
                window.location.href = '@Url.Action("Referral", "Referrals")?PatientId=' + PatientId + '&ColleagueIds=' + MultipleColleague + '&AddressInfoId=' + locationid;
            }
            else {
                swal({ title: "", text: 'Please select atleast one colleague.' });
                //  alert('Please select at least one colleague.');
            }
        }
        else {
            swal({ title: "", text: 'Please select atleast one Location.' });
            //alert('Please select at least one Location.');
        }



    }

    function myFunction() {
        var FilterBy = $('#Listing option:selected').val();
        var NewSearchText = $(".alphabet > .active").html();
    }
    $("#Listing").on('change', function () {
        var FilterBy = $('#Listing option:selected').val();
        var NewSearchText = $(".alphabet > .active").html();
    });


</script>
@*<link rel="stylesheet" href="../../Content/file_upload/css/bootstrap.min.css">*@
<style type="text/css">
    label {
        font-weight: normal;
    }

    a:hover, a:focus {
        text-decoration: none;
    }
</style>
<script src="~/Content/js/selectFx1.js"></script>
<script src="~/Content/js/classie1.js"></script>
<input type="hidden" id="ColleaguPageIndex" value="1" />
<input type="hidden" id="PatientPageIndex" value="1" />
<form action="@Url.Action("Index", "Profile" )" method="post" id="frmViewProfile">
    <input type="hidden" name="hdnViewProfile" id="hdnViewProfile" value="" />
</form>
<script type="text/javascript">
    new UISearch(document.getElementById('sb-search'));
</script>
@*<form action="Patients/PatientHistory" method="post" id="frmViewPatientHistory">
    <input type="hidden" name="hdnViewPatientHistory" id="hdnViewPatientHistory" />
</form>*@
@*pushpendra*@
<form action="@Url.Action("PatientHistory", "Patients" )" method="post" id="frmViewPatientHistory">
    <input type="hidden" name="hdnViewPatientHistory" id="hdnViewPatientHistory" />
</form>
<form action="@Url.Action("PatientMessageCompose","Patients")" method="post" id="frmcompose">
    <input type="hidden" id="PatientId" name="PatientId" />
</form>

@*@Html.ActionLink("link text", "someaction", "somecontroller", new { id = "123" }, null)*@
<form action="@Url.Action("Index", "Patients" )" method="get" id="FrmSearchtext">
    <input type="hidden" name="Searchtext" id="hdnSearchtext" />
</form>
<!-- Main content -->
<div class="content">
    <div class="content_base">
        <!-- Breadcrumb starts-->
        <div class="breadcrumb">
            <ul>
                <li>
                    <a href='@Url.Action("Index", "Index")'>
                        <img width="16" height="14" class="hires" src="../../Content/images/home-icon.png"
                             alt="Home">
                    </a><span class="after"></span>
                </li>
                <li class="active">
                    <span class="before"></span><a href='@Url.Action("Index", "Patients")'>
                        Patients
                    </a><span class="after"></span>
                </li>
            </ul>
            <div id="divSearchtextshow">
            </div>
        </div>
        <input type="hidden" id="hdnPatientId" />
        <!-- Breadcrumb ends-->
        <!-- Dashboard icons starts-->
        <!-- Dashboard icons ends-->
        <!-- Inner Content Starts -->
        <div id="divPatientDetailsList">
            @Html.Raw(ViewBag.PatientDetailsList)
        </div>
        <a href="#add_doctor_popup" title="Referral" class="frmreferpatients edit popup-with-form showlightbox"
           id="OpenPopup" style="display: none;"></a>
        <!-- Inner Content Ends -->
    </div>
    <!-- content base ends-->
    <div id="colleagueslocation" style="display:none">
    </div>
</div>
@*<div style="display:none;">
    <section id="locationddp">
        <select id="Listing" class="cs-select cs-skin-elastic devb" onchange="return onchangeLocation(this.value);">
            @for (int i = 0; i < Model.lstDoctorLocation.Count; i++)
            {
            <option id="@Model.lstDoctorLocation[i].LocationId" value="@Model.lstDoctorLocation[i].LocationName" selected>@Model.lstDoctorLocation[i].LocationName</option>
            }
        </select>
    </section>
</div>*@
<!-- content ends here -->
<script type="text/javascript">
    //AK changes 02-22-2017 (For Location DDP and ALL Functionlity and Scroll Issue)
    $("#Locationlst").find('option').each(function () {
        (function () {
            SelectFx.prototype.options = {
                onChange: function (val) {
                    $('#PatientPageIndex').val(1);
                    var FilterBy = $('#Listing option:selected').val();
                    var LocationBy = $('#listing2 option:selected').val();
                    if (LocationBy == val) {
                        var myvalue = val;
                        //Demo of location by in patient page
                        var SortColumn = "";
                        if (SortColumn == null || SortColumn == 'undefined' || SortColumn == "") {
                            SortColumn = 1;
                        }
                        var PageIndex = 1;
                        var SearchText = null;
                        var SortDirection = "1";
                        //var NewSearchText = myvalue.charAt(0);
                        var NewSearchText = "ALL";
                        var FilterBy = 3;
                        $.post("/Patients/GetPatientDetailsList", { PageIndex: PageIndex, SearchText: null, SortColumn: SortColumn, SortDirection: SortDirection, NewSearchText: NewSearchText, FilterBy: FilterBy, LocationId: LocationBy, par1: Math.random() }, function (data) {
                            $("#divLoading").show();
                            if (data != null && data != "") {
                                document.getElementById('divPatientDetailsList').innerHTML = data.toString();
                                $("#listing2").val(LocationBy);
                                bindScrollHandler();
                                AlphbetsSetting(NewSearchText, SortColumn, FilterBy);
                            }
                            else {
                                document.getElementById('divPatientDetailsList').innerHTML = '';
                            }

                            bindScrollHandler();
                            $("#divLoading").hide();
                        });
                        //end code

                    }
                    else {
                        return false;
                    }
                }
            }
        })();

    });

    //function onchangeLocation(val)
    //{
    //    alert(val);
    //}
</script>