﻿@model List<BO.Models.NewPatientDetailsOfDoctor>
@{
    ViewBag.Title = "Recordlinc - Patient";
    Layout = "~/Views/Shared/_NewSiteLayoutInner.cshtml";
}
<link href="~/Content/css/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/css/NewAdmin/css/jcf.css" rel="stylesheet" />
<form method="post" action="/Plan" id="frmPatientListPlan">
    <input type="hidden" id="hdnPatienHistoryId" name="hdnPatienHistoryId" />
</form>
<input type="hidden" id="ColleaguPageIndex" value="1" />
<input type="hidden" id="PatientPageIndex" value="1" />
<input type="hidden" id="hdnPatientId" />
<input type="hidden" id="hdnColleagueId" />
<input type="hidden" id="hdnlocationid" />
<input type="hidden" id="redir" value="@ViewBag.r" />
@*<ul class="adminUser_area list-inline" id="search_main" style="float:left;">
    <hr class="for-res-as">
    <li class="search text-right">
        <div class="navbar-form " role="search">
            <div class="input-group">
                <input type="text" name="srch-term" id="txtHeaderSearchtext" value='Search Patient' class="ui-autocomplete-input" onfocus='ClearPlaceHolder(this)' onblur='SetPlaceHolder(this)' onkeyup='HdrSearchPatientList(event)'>
                <div class="input-group-btn">
                    <button class="btn btn-default" id="search_btn" type="button" onclick="OnSearchbtnClick()" ><i class="icon-search"></i></button>
                </div>
            </div>
        </div>
    </li>
    <hr class="for-res-as">
</ul>*@
<main id="main" role="main">
    <div class="container">
        <div class="new-case case-overview patinet list_patients">
            <div class="row btm-margin-30  row-bordered referral">
                <div class="col-lg-12 ">
                    <div class="row fve_button">
                        @*<div class="col col-lg-4 col-md-5 col-sm-6 col-xs-6 col-lg-pull-8 col-md-pull-7 col-sm-pull-6 col-xs-pull-6 show-on-phones">
                            <h1 class="inline">Patient<span class="font-18 small-text">(<span id="count">@ViewBag.cnt</span>)</span></h1>
                        </div>*@
                        <div class="col col-lg-8 col-md-7 col-sm-6 col-xs-6 col-lg-push-4 col-md-push-5 col-sm-push-6 col-xs-push-6 four">
                            <div class="btn-group">
                                <a href="@Url.Action("ImportPatient", "Patients")" class="btn-default btn-cases" title="Import Patients" data-toggle="tooltip" data-placement="bottom"><i class="ico-import-patient"></i>Import Patients</a>
                            </div>
                            <div class="btn-group">
                                <a href="@Url.Action("ExportToExcel", "Patients")" class="btn-default btn-cases" title="Export Patients" data-toggle="tooltip" data-placement="bottom"><i class="ico-export-patient"></i>Export Patients</a>
                            </div>
                            <div class="btn-group">
                                <a href="javascript:;" class="btn-default btn-cases" title="Send Message" data-toggle="tooltip" data-placement="bottom" onclick="return SendMessageToSelected()"><i class="ico-send-message"></i>Send Message</a>
                            </div>
                            <div class="btn-group">
                                <a href="javascript:;" onclick="CheckAuthorization(@Convert.ToInt32(BO.Enums.Common.Features.New_Patient_Leads))" class="btn-default btn-cases" title="Add Patient" data-toggle="tooltip" data-placement="bottom"><i class="ico-add-patient"></i>Add Patient</a>
                            </div>
                        </div>
                        <div class="col col-lg-4 col-md-5 col-sm-6 col-xs-6 col-lg-pull-8 col-md-pull-7 col-sm-pull-6 col-xs-pull-6 hide-on-phones">
                            <h1 class="inline">Patient<span class="font-18 small-text">(<span id="count">@ViewBag.cnt</span>)</span></h1>
                            <input type="hidden" id="count_actual" value="@ViewBag.cnt" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="bar bar1">
                        <div class="dropdown blue-dropdwon latest_dropdown">
                            <select class="form-control" id="FilterBy">
                                <option data-id="2">Last Name</option>
                                <option data-id="1">First Name</option>
                                @*<option  data-id="2">Last Name</option>*@
                                <option data-id="11">Referred By</option>
                            </select>
                            <input type="hidden" id="Filter_by" />
                        </div>
                        @Html.Partial("_PartialAZCharacter listing")
                    </div>
                </div>
            </div>
            <div class="row mrgn-btm-20">
                <div class="col-lg-12 btn-row">
                    <div class="dropdown blue-dropdwon latest_dropdown">
                        <select class="form-control" id="LocationBy">
                            <option value="ALL" data-id="0">ALL</option>
                            @foreach (var item in ViewBag.location)
                            {
                                <option data-id="@item.Value">@item.Text</option>
                            }
                        </select>
                    </div>
                    <div class="btn-group btn-holder pull-right">
                        <button type="button" class="btn btn-default btn-delete" onclick="DeleteSelectedPatiets()"><i class="ico-delete"></i> Delete Selected</button>
                    </div>
                </div>
            </div>
            <form action="@Url.Action("PatientHistory", "Patients")" method="post" id="frmViewPatientHistory">
                <input type="hidden" name="hdnViewPatientHistory" id="hdnViewPatientHistory" />
            </form>

            <form action="@Url.Action("Index", "Profile")" method="post" id="frmViewProfile">
                <input type="hidden" name="hdnViewProfile" id="hdnViewProfile" value="" />
            </form>

            <form action="@Url.Action("PatientMessageCompose", "Patients")" method="post" id="frmcompose">
                <input type="hidden" id="PatientId" name="PatientId" />
            </form>
            <div class="row mrgn-btm-20">
                <div class="col-lg-12">
                    <input type="hidden" value="1" id="Sort_Column" />
                    <table class="table table3 filtered-table">
                        <thead class="thead-inverse">
                            <tr>
                                <th>
                                    <div class="all-select">
                                        <div class="form-group">
                                            <input class="form-check-input  checkedAll" type="checkbox" id="MainCheckBox" onclick="SetAllCheckBoxes(this)">
                                        </div>
                                    </div>
                                </th>
                                <th>
                                    <a href="javascript:;" id="sortIdLast" onclick="GetPatientListByHeadings('1', 'SearchText', '2','1')">Last Name</a>
                                    <div class="arrows-group">
                                        <a href="javascript:;"><i class="ico-arrow-up"></i></a>
                                        <a href="javascript:;"><i class="ico-arrow-down"></i></a>
                                    </div>
                                </th>
                                <th>
                                    <a href="javascript:;" id="sortIdFirst" onclick="GetPatientListByHeadings('1', 'SearchText', '1','1')">First Name</a>
                                    <div class="arrows-group">
                                        <a href="javascript:;"><i class="ico-arrow-up"></i></a>
                                        <a href="javascript:;"><i class="ico-arrow-down"></i></a>
                                    </div>
                                </th>
                                <th>
                                    <a href="javascript:;" id="sortIdRef" onclick="GetPatientListByHeadings('1', 'SearchText', '14','1')">Referred By</a>
                                    <div class="arrows-group">
                                        <a href="javascript:;"><i class="ico-arrow-up"></i></a>
                                        <a href="javascript:;"><i class="ico-arrow-down"></i></a>
                                    </div>
                                </th>
                                <th>
                                    <a href="javascript:;" id="sortIdPhone" onclick="GetPatientListByHeadings('1', 'SearchText', '9','1')">
                                        Phone
                                    </a>
                                    <div class="arrows-group">
                                        <a href="javascript:;"><i class="ico-arrow-up"></i></a>
                                        <a href="javascript:;"><i class="ico-arrow-down"></i></a>
                                    </div>
                                </th>
                                <th>
                                    <a href="javascript:;" id="sortIdEmail" onclick="GetPatientListByHeadings('1', 'SearchText', '10','1')">
                                        Email
                                    </a>
                                    <div class="arrows-group">
                                        <a href="javascript:;"><i class="ico-arrow-up"></i></a>
                                        <a href="javascript:;"><i class="ico-arrow-down"></i></a>
                                    </div>
                                </th>
                                <th>
                                    <a href="javascript:;" id="sortIdLocation" onclick="GetPatientListByHeadings('1', 'SearchText', '13','1')">Location</a>
                                    <div class="arrows-group">
                                        <a href="javascript:;"><i class="ico-arrow-up"></i></a>
                                        <a href="javascript:;"><i class="ico-arrow-down"></i></a>
                                    </div>
                                </th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody id="AppendList" class="1" data-sortcolumn="2" data-sortirection="1">
                            @Html.Partial("_PartialListPatients")
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="patient_delete" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="text-center center">
                       
                        <p class="mrgn-btm-0" style="margin: 0;" id="desc_message"></p>
                    </div>
                    <div class="modal-footer bdr-top-no">
                        <div class="btn-group btn-holder">
                            <button type="button" class="btn btn-default btn1" id="btn_no" data-dismiss="modal">No</button>
                            <button type="button" class="btn btn-default btn2 blue-bg mrgn-right-0" id="btn_yes">Yes</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade NewRefferalPopUp" id="NewRefferalPopUp" role="dialog" data-backdrop="static" data-keyboard="false">
    </div>
    <div id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px;
            top: 0px; width: 100%; height: 100%; background-color: White; z-index: 30001;
            opacity: 0.5; filter: alpha(opacity=70); display: none">
        <p style="position: absolute; top: 30%; left: 50%; color: White;">
            <img src="../../Images/Recordloading.gif">
        </p>
    </div>
</main>
<input type="hidden" name="hdnmdlcountofPatients" id="hdnmdlcountofPatients" value="@(ViewBag.cnt > 35 ? 35 : ViewBag.cnt) " />
@*<input type="hidden" name="hdncountofPatients" id="hdncountofPatients" value="0" />*@
<script type="text/javascript">
    var NewPatientLead = @Convert.ToInt32(BO.Enums.Common.Features.New_Patient_Leads);
    var ColleagueLead = @Convert.ToInt32(BO.Enums.Common.Features.Colleagues);
  
    $('body').removeClass('modal-open');
    $('a[data-toggle="tooltip"]').tooltip({
        container: 'body',
        trigger: 'hover'
    });

</script>
<script src="~/Scripts/ControllerJS/Patients/PatientListing.js"></script>













