﻿@model IEnumerable<BO.ViewModel.AddressDetails>

<style>
/*@@media (max-width: 400px){
	#ColleaguesLocation .class_locationcolleagues {
		display: inline-table !important;
	}
	.location_each {
		width: 100% !important;
		margin: 0 0 13px 1% !important;
	}
	.cancel-dev {
		float: left;
		padding-left: 7px !important;
	}
}*/
@@media (max-width: 400px){
	#ColleaguesLocation .class_locationcolleagues {
		display: inline-table !important;
	}
	.location_each {
		width: 100% !important;
		margin: 0 0 13px 1% !important;
	}
	
}
	.location_each {
		margin: 14px 0 0 1%;
		width: 48% !important;
	}
	.class_locationcolleagues{
		display: inline-table !important;
		width: 100% !important;
	}
	#ColleaguesLocation{
		padding: 20px 15px !important;
	}

</style>

    <div class="class_locationcolleagues">
        <input type="hidden" id="ColleaguesId" value="" />
        <input type="hidden" id="PatientId" value="" />

        @foreach (var item in Model)
            {
            <div id="@item.AddressInfoID" class="location_each">
                <span class="check" style="padding: 0px 10px 0px 10px"><input type="checkbox" value="@item.AddressInfoID" class="checkcolleaguelocation" name="" id="colleaguelocation" style="margin:35px 10px 0 5px "></span>

                <ul class="list">
                    <li><a style="font-weight:bold; color:black; text-decoration:none"> @item.Location</a></li>
                    <li>
                        @(item.ExactAddress != null ? item.ExactAddress + "," : "")<br />@(item.City != null ? item.City + "," : "")

                        @(item.State != null ? item.State + "," : "")<br />@(item.Country != null ? item.Country + "," : "")@(item.ZipCode != null ? item.ZipCode : "")
                    </li>
                </ul>
                <input type="hidden" id="ColleagueContactType" value="@item.ContactType" />
            </div>
        }


    </div>
	<div style="display: block;height: 70px;">
        <br />
		<div class="cancel-dev">
			<a onclick="BackToSelectColleagues()"><img src="../../Content/images/back.png"></a>
		</div>
		<div class="next-dev">
			<a onclick="SendReferralSelectLocation()"><img src="../../Content/images/btn-next.png"></a>
		</div>
        
	</div>
<br />
    <style>
       .location_each {
        background: #f6f6f6 none repeat scroll 0 0;
        border: 1px solid #c8c8c8;
        box-sizing: border-box;
        display: inline-flex;
        margin: 13px 0 0 1%;
        <!-- padding-left: 13px; -->
        vertical-align: top;
        width: 48%;
    }
		.cancel-dev{
			float:left;
			padding-left:23px;
		}
		.next-dev{
			float:right;
			padding-right:23px;
		}
    </style>


