﻿@model IEnumerable<NewRecordlinc.Models.Patients.FamilyReleation>

<style>
    .location_each {
        margin: 0 0 13px 1% !important;
    }

    .location_each {
        margin: 14px 0 0 1%;
        width: 48% !important;
        ;
    }

    .class_locationcolleagues {
        width: 96% !important;
        ;
    }


    @@media (max-width: 400px) {
        .location_each {
            width: 100% !important;
            margin: 0 0 13px 1% !important;
        }
    }
</style>

<div class="family_member" style="display: block; padding: 15px; overflow:auto">
    <ul class="referral-list">
        @foreach (var item in Model)
            {
            <div id="@item.RelativeId" class="location_each">                
                    <span class="check" style="padding: 0px 10px 0px 10px"><input type="checkbox" value="@item.RelativeId" class="family_member" name="" id="family_member" style="margin:19px 10px 17px 5px"></span>                    
                    <li>@item.ReleationName</li>
            </div>
            }
    </ul>

</div>

<style>
    .location_each {
        background: #f6f6f6 none repeat scroll 0 0;
        border: 1px solid #c8c8c8;
        box-sizing: border-box;
        display: inline-flex;
        margin: 0 0 0 1%;
        padding-left: 13px;
        vertical-align: top;
        width: 48%;
    }

    .disable {
        pointer-events: none;
        opacity: 0.4;
    }
</style>
<script>
    $(document).ready(function () {
        $(':checkbox').on('change',function() {
            var th = $(this), name = th.prop('name');
            if (th.is(':checked')) {
                
                $(':checkbox[name="' + name + '"]').not($(this)).prop('checked', false);
                $("#btnNext").attr("disabled", false);
            }
        });
    });    

    //$(document).ready(function () {
    //    $("#family_member:checkbox").on('click', function (event) {            
    //        $(".location_each").css('border-color', '#C8C8C8');
    //        var myInput = $(this);
    //        if (myInput.attr('checked')) {
    //            var divid = myInput.attr('value');
    //            $("#" + divid).css('border-color', '#0890C4');
    //            $("input:checked").attr('checked', false);
    //            myInput.attr('checked', true);
    //        }
    //        else {
    //            var divid = myInput.attr('value');
    //            $("#" + divid).css('border-color', '#C8C8C8');
    //            myInput.attr('checked', false);
    //        }
    //        event.stopPropagation();
    //    });

    //    $('div.family_member div').on('click', function (event) {            
    //        if ($(event.target).is('input[type="checkbox"]')) return;
    //        $(".location_each").css('border-color', '#C8C8C8');
    //        var myInput = $('input', this)
    //        if (myInput.attr('checked')) {
    //            var divid = myInput.attr('value');
    //            $("#" + divid).css('border-color', '#C8C8C8');
    //            myInput.attr('checked', false);
    //        }
    //        else {
    //            var divid = myInput.attr('value');
    //            $("input:checked").attr('checked', false);
    //            $("#" + divid).css('border-color', '#0890C4');
    //            myInput.attr('checked', true);
    //        }
    //        event.stopPropagation();
    //    });


    //});
    
    function AddFamilyMember() {
        var RelativeId;
        var c = document.getElementsByClassName('family_member');
        for (var i = 0; i < c.length; i++) {
            if (c[i].type == 'checkbox' && c[i].id == 'family_member' && c[i].checked == true) {
                if (RelativeId == null) {
                    RelativeId = c[i].value;
                }
                else {
                    RelativeId = RelativeId + ',' + c[i].value;
                }
            }
        }
        if (RelativeId != null && RelativeId != "") {

            SaveMember(RelativeId)


        }
        else {
            //swal({ title: "", text: 'Please select at least one relation.' });
            $.toaster({ priority: 'warning', title: 'Notice', message: 'Please select any one Relation.' });
            $("#btnNext").attr("disabled", true);
            return false;
        }
    }
    function SaveMember(RelativeId) {
        debugger;
        var Selectedpatient = $("#hdselectedpatient").val();
        var PatientId = $("#hdnPatientId").val();
        var Gender = $("#phGenderID").html();
        var SelectedGender = $("#hdnSelectedPatientGender").val();
        $.post("/Patients/SaveFamilyDetails", { PatientId: PatientId, Selectedpatient: Selectedpatient, RelativeId: RelativeId, Gender: Gender }, function (data) {
            switch (data) {
                case 0:
                    swal({
                        title: "",
                        text: "Something going to be wrong.",
                        type: 'error',
                        showConfirmButton: true
                    });
                case 1:
                    $(".mfp-close").click();
                    $("#sendReferral").html('');
                    swal({
                        title: "Successfully",
                        text: "Family details added succesfully",
                        type: "",
                        timer: 3000,
                        showConfirmButton: false
                    });
                    //RefreshFamilyMember();
                    //$(".cntnt").show();
                    setTimeout(function () { window.location = document.URL; }, 3000)                   
                    break;
                case 2:
                    swal({
                        title: "",
                        text: "This patient relation already exist, please delete that relation.",
                        type: 'error',
                        showConfirmButton: true
                    });
            }
        });
    }
    $(document).ready(function () {
        var Gender = $("#phGenderID").html();
        var SelectedGender = $("#hdnSelectedPatientGender").val();
        if (Gender == "Male" && SelectedGender == "Male") {
            SetFM();
            $("#7").addClass("disable");
        }
        else if (Gender == "Male" && SelectedGender == "Female") {
            SetFF();
        }
        else if (Gender == "Female" && SelectedGender == "Female") {
            SetFF();
            $("#8").addClass("disable");
        }
        else if (Gender == "Female" && SelectedGender == "Male") {
            SetFM();
        }

    })

    function SetFF() {
        $("#1").addClass("disable");
        $("#3").addClass("disable");
        $("#5").addClass("disable");
        $("#7").addClass("disable");
        $("#9").addClass("disable");
        $("#11").addClass("disable");
        $("#13").addClass("disable");
        $("#15").addClass("disable");
        // $("#1").prop('disabled', true);
    }
    function SetFM() {
        $("#2").addClass("disable");
        $("#4").addClass("disable");
        $("#6").addClass("disable");
        $("#8").addClass("disable");
        $("#10").addClass("disable");
        $("#12").addClass("disable");
        $("#14").addClass("disable");
        $("#16").addClass("disable");


    }
</script>
