﻿<!-- Bootstrap styles -->
@*<link rel="stylesheet" href="../../Content/file_upload/css/bootstrap.min.css">*@
<style type="text/css">
    label {
        font-weight: normal;
    }

    a:hover, a:focus {
        text-decoration: none;
    }
</style>
<!-- Generic page styles -->
<link rel="stylesheet" href="../../Content/file_upload/css/style.css">
<!-- blueimp Gallery styles -->
<link href="../../Content/file_upload/blueimp-gallery.min.css" rel="stylesheet" />
@*<link rel="stylesheet" href="https://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">*@
<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
<link rel="stylesheet" href="../../Content/file_upload/css/jquery.fileupload.css">
<link rel="stylesheet" href="../../Content/file_upload/css/jquery.fileupload-ui.css">
<!-- CSS adjustments for browsers with JavaScript disabled -->
<noscript>
    <link rel="stylesheet" href="../../Content/file_upload/css/jquery.fileupload-noscript.css">
</noscript>
<noscript>
    <link rel="stylesheet" href="../../Content/file_upload/css/jquery.fileupload-ui-noscript.css">
</noscript>
<!--- Scripts  and Css for  File upload end-->
<div id="fileupload">
    @*<form action="../../PatientFileUpload.ashx?PatientId=@Model.PatientId" method="post" enctype="multipart/form-data" style="margin: 0px 0px -2px;">*@
    <form action="@Url.Action("ImageBankUpload", "FileUpload",new { PatientId = Model.PatientId, isLetter = true  })" method="post" enctype="multipart/form-data" style="margin: 0px 0px -2px;">
        <div class="row fileupload-buttonbar margintop1" style="border: 0px solid #fff;border-color:#ffffff;background-color:#ffffff; height: 45px;">
            <div class="col-lg-7 paddingleft0">
                <div class="fileUpload">
                    <span id="AttachFile">Attach a  Letter</span>
                    <input class="upload" type="file" name="files[]" multiple="multiple" id="patientFileUpload">
                </div>
                <div class="fileupload-progressbar">
                </div>
            </div>
        </div>
    </form>
    <div class="fileupload-content" style="border: 0px solid;" id="_uploaderContent">
        <table class="table table-striped">
            <tbody class="files" id="_uploaderContentFile"></tbody>
        </table>
    </div>
</div>
@*<link rel="stylesheet" type="text/css" href="../../Content/css/fcbk.css" />
    <script src="../../Content/js/jquery.fcbkcomplete.js" type="text/javascript" charset="utf-8"></script>*@
<script id="template-upload" type="text/x-jquery-tmpl">
    <tr class="template-upload{{if error}} ui-state-error{{/if}}">
        <td class="preview"></td>
        <td class="name">${name}</td>
        <td class="size">${sizef}</td>
        {{if error}}
        <td class="error" colspan="2">
            Error:
            {{if error === 'maxFileSize'}}File is too big
            {{else error === 'minFileSize'}}File is too small
            {{else error === 'acceptFileTypes'}}Filetype not allowed
            {{else error === 'maxNumberOfFiles'}}Max number of files exceeded
            {{else}}${error}
            {{/if}}
        </td>
        {{else}}
        <td class="progress"><div></div></td>
        <td class="start">
            <button class="btn btn-primary start" disabled>
                <i class="glyphicon glyphicon-upload-icon"></i>
                <span class="text_lineheight">Start</span>
            </button>
        </td>

        {{/if}}
        <td class="cancel">
            <button class="btn btn-warning cancel">
                <i class="glyphicon glyphicon-ban-circle-icon"></i>
                <span class="text_lineheight">Cancel</span>
            </button>
        </td>
    </tr>
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-jquery-tmpl">
    <tr class="template-download{{if error}} ui-state-error{{/if}}">
        {{if error}}
        <td></td>
        <td class="name">${name}</td>
        <td class="size">${sizef}</td>
        <td class="error" colspan="2">
            Error:
            {{if error === 1}}File exceeds upload_max_filesize (php.ini directive)
            {{else error === 2}}File exceeds MAX_FILE_SIZE (HTML form directive)
            {{else error === 3}}File was only partially uploaded
            {{else error === 4}}No File was uploaded
            {{else error === 5}}Missing a temporary folder
            {{else error === 6}}Failed to write file to disk
            {{else error === 7}}File upload stopped by extension
            {{else error === 'maxFileSize'}}File is too big
            {{else error === 'minFileSize'}}File is too small
            {{else error === 'acceptFileTypes'}}Filetype not allowed
            {{else error === 'maxNumberOfFiles'}}Max number of files exceeded
            {{else error === 'uploadedBytes'}}Uploaded bytes exceed file size
            {{else error === 'emptyResult'}}Empty file upload result
            {{else}}${error}
            {{/if}}
        </td>
        {{else}}
        <td>
            <span class="preview">
                {{if thumbnail_url}}
                <a href="${url}" target="_blank"><img width="60px" src="${thumbnail_url}"></a>
                {{/if}}
            </span>
        </td>
        <td>
            <p class="name">
                <a href="${url}" {{if thumbnail_url}} target="_blank" {{/if}}>${name}</a>
            </p>
        </td>
        <td><span class="size">${sizef}</span></td>
        <td colspan="2"></td>
        {{/if}}
        <td>
            <button class="btn btn-danger deletefile" data-type="${delete_type}" data-url="${delete_url}">
                <i class="glyphicon glyphicon-trash-icon"></i>
                <span class="text_lineheight">Delete</span>
            </button>
            <input type="hidden" name="hdnuploaded${type}" class="hdnuploaded${type}" value="${progress}" />




        </td>
    </tr>
</script>
<!-- The template to display files available for download -->
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>
<script src="//ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
<script src="/scripts/Default/jquery.iframe-transport.js"></script>
<script src="/scripts/Default/jquery.fileupload.js"></script>
<script src="/scripts/Default/jquery.fileupload-ui.js"></script>
<script src="/scripts/Default/application.js"></script>
@*<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
    <script src="../../content/file_upload/js/vendor/jquery.ui.widget.js" type="text/javascript"></script>
    <!-- The Templates plugin is included to render the upload/download listings -->
    <script src="http://blueimp.github.io/JavaScript-Templates/js/tmpl.min.js"></script>
    <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
    <script src="http://blueimp.github.io/JavaScript-Load-Image/js/load-image.min.js"></script>
    <!-- The Canvas to Blob plugin is included for image resizing functionality -->
    <script src="http://blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"></script>
    <!-- Bootstrap JS is not required, but included for the responsive demo navigation -->
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <!-- blueimp Gallery script -->
    <script src="http://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
    <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
    <script src="../../content/file_upload/js/jquery.iframe-transport.js" type="text/javascript"></script>
    <!-- The basic File Upload plugin -->
    <script src="../../content/file_upload/js/jquery.fileupload.js" type="text/javascript"></script>
    <!-- The File Upload processing plugin -->
    <script src="../../content/file_upload/js/jquery.fileupload-process.js" type="text/javascript"></script>
    <!-- The File Upload image preview & resize plugin -->
    <script src="../../content/file_upload/js/jquery.fileupload-image.js" type="text/javascript"></script>
    <!-- The File Upload audio preview plugin -->
    <script src="../../content/file_upload/js/jquery.fileupload-audio.js" type="text/javascript"></script>
    <!-- The File Upload video preview plugin -->
    <script src="../../content/file_upload/js/jquery.fileupload-video.js" type="text/javascript"></script>
    <!-- The File Upload validation plugin -->
    <script src="../../content/file_upload/js/jquery.fileupload-validate.js" type="text/javascript"></script>
    <!-- The File Upload user interface plugin -->
    <script src="../../content/file_upload/js/jquery.fileupload-ui.js" type="text/javascript"></script>
    <!-- The main application script -->
    <script src="../../content/file_upload/js/main.js" type="text/javascript"></script>
    <!-- The XDomainRequest Transport is included for cross-domain file deletion for IE 8 and IE 9 -->
    <!--[if (gte IE 8)&(lt IE 10)]>
    <script src="js/cors/jquery.xdr-transport.js"></script>
    <![endif]-->*@
