﻿@{
    ViewBag.Title = "Recordlinc - Patient Contact List";
    Layout = "~/Views/Shared/SiteLayoutInner.cshtml";
}
<style>
    #PatientConctactLisat tr td a {
        text-align: left;
        display: inline-table;
    }

    @@media only screen and (max-width: 800px) {
        table td {
            height: 10px;
        }

        .responsiveTable td::before, .patientTable td::before, .refferalTable td::before, .comTable td::before, .patientContactList td::before, .colleagueContactList td::before, .patient_social_media td::before, .patientTableImport td::before {
            line-height: 16px !important;
            top: 11px !important;
        }

        .responsiveTable tr, .patientTable tr, .refferalTable tr, .comTable tr, .patientContactList tr, .colleagueContactList tr, .patient_social_media tr, .patientTableImport tr {
            line-height: 92px;
            margin-bottom: 44px;
        }
    }
</style>
<script type="text/javascript">
    function ClearPlaceHolder(input) {
        if (input.value == input.defaultValue) {
            input.value = "";
        }
    }
    function SetPlaceHolder(input) {
        if (input.value == "") {
            input.value = input.defaultValue;
        }
    }
    $(function () {
        $("#search_main_div").css("display", "block");
        $("#search_main_div").html("<div class='search_main_div'><div class='searchbar'><input id='txtHeaderSearchtext'  onkeyup='HdrSearchPatientList(event)' onfocus='ClearPlaceHolder(this)' onblur='SetPlaceHolder(this)' name='Search Patient Contact List' type='text' value='Search Patient Contact List'></div></div>");
    });
    function SetAllCheckBoxes(obj) {

        var c = new Array();
        c = document.getElementsByTagName('input');

        for (var i = 0; i < c.length; i++) {
            if (c[i].type == 'checkbox' && c[i].id == 'chkpatient') {
                c[i].checked = obj.checked;

            }
        }
    }

    function UncheckMaincheckBox(id) {
        document.getElementById(id).checked = false;
    }


    // HdrSearchColleague start
    function HdrSearchPatientList(event) {
        if (event.keyCode == 13) {

            var message = $('#txtHeaderSearchtext').val();
            message = message.replace(/\s*$/, "");

            $("#divLoading").show();

            if (message != null && message != "") {
                $("#divClearSearch").css("display", "block");
                $("#divClearSearch").html("<br/><a href='@Url.Action("PatientContactList", "Patients")' style=\"text-decoration:none;\" title=\"Clear Search\" > &nbsp;Clear Search</a>");

                GetPatientContactList(1, message, 11, 2);
            }
            else {
                GetPatientContactList(1, '', 11, 2);
                document.getElementById('divSearchtextshow').innerHTML = '';
            }



            $("#divLoading").hide();
        } else {
            return true;
        }
    }

    jQuery(document).ready(function (e) {

        var Search = getParameterByName('Searchtext');
        if (Search != null && Search != '') {
            document.getElementById('divSearchtextshow').innerHTML = '<br/>  Search existing patients for :<span style=\"color: #0890c4;"\> ' + Search + '</span> &nbsp;  <a href=@Url.Action("PatientContactList", "Patients") style=\"color:#0890C4;\">Click here</a> to clear search.';
        }
        else {
            document.getElementById('divSearchtextshow').innerHTML = '';
        }

    });

    function ViewPatientHistory(patientId) {
        $("#hdnAttachPatientId").val(patientId);
        $("#viewAttachPatientHistory").submit();
    }

    function GetPatientContactList(PageIndex, SearchText, SortColumn, SortDirection, LocationId) {
        
        $('#PatientContectPageIndex').val("1");
        $.ajaxSetup({ async: false });
        $.post("/Patients/GetPatientContactList", { PageIndex: PageIndex, SearchText: SearchText, SortColumn: SortColumn, SortDirection: SortDirection, LocationId: LocationId }, function (data) {
            $("#divLoading").show();
            if (data != null && data != "") {

                document.getElementById('divPatientContactList').innerHTML = data.toString();
            }
            else {
                document.getElementById('divPatientContactList').innerHTML = '';
            }
            $(window).scrollTop(0);
            $("#divLoading").hide();

        });
        $.ajaxSetup({ async: true });
    }

    function GetPatientContactListScroll() {
        var datalist = '';
        $.ajaxSetup({ async: false });
        var PageIndex = $('#PatientContectPageIndex').val();
        var strSortColumn = $("#PatientConctactLisat").data("sortcolumn");
        var strSortDirection = $("#PatientConctactLisat").data("sortirection");
        var searchtext = $('#PatientConctactLisat').val();
        var LocationId = $("#LocationId option:selected").val();
        if (searchtext == 'Search Patient Contact List') {
            searchtext = '';
        }
        if (PageIndex == "-1") {
            return "";
        } else {
            PageIndex = parseInt(PageIndex) + parseInt(1);
            $.post("/Patients/GetPatientContactOnScroll", { PageIndex: PageIndex, searchtext: searchtext, strSortColumn: strSortColumn, strSortDirection: strSortDirection, LocationId : LocationId }, function (data) {
                $("#divLoading").show();
                if (data == "<tr><td colspan=\"10\"><center>No More Record Found</center></td></tr>" || data == "") {

                    $('#PatientContectPageIndex').val("-1");
                }
                else {
                    $('#PatientContectPageIndex').val(PageIndex);
                }
                datalist = data;

                $("#divLoading").hide();
            });

        }
        $.ajaxSetup({ async: true });
        return datalist;
    }


    $(function () {
        var bindScrollHandler = function () {
            $(window).scroll(function () {
                if ($(window).scrollTop() + $(window).height() > $(document).height() - 150) {
                    $(window).unbind("scroll");
                    var data = GetPatientContactListScroll().toString();

                    $(data).appendTo("#PatientConctactLisat");

                    bindScrollHandler();
                }
                else {
                }
            });
        };

        bindScrollHandler();
    });

    $(document).keydown(function (e) {
        if (e.which == 116) {
            window.location.href = "../Patients/PatientContactList";
            return false;
        }
    });
    //$(document).ready(function () {
    function getLocation(LocationId) {
            //var message = $('#txtHeaderSearchtext').val();
            //message = message.replace(/\s*$/, "");
            //var LocationId = $("#LocationId option:selected").val();
            GetPatientContactList(1, null, 11, 2, LocationId.value);
        }
   // });

</script>
<form action="/Patients/PatientHistory" id="viewAttachPatientHistory" method="post">
    <input type="hidden" name="hdnAttachPatientId" id="hdnAttachPatientId" />
</form>
<input type="hidden" value="1" id="PatientContectPageIndex" />
<form action="@Url.Action("PatientContactList", "Patients")" method="get" id="FrmSearchtext">
    <input type="hidden" name="Searchtext" id="hdnSearchtext" />
</form>
<!-- Main content -->
<div class="content">
    <div class="content_base">
        <!-- Breadcrumb starts-->
        <div class="breadcrumb">
            <ul>
                <li>
                    <a href='@Url.Action("Index", "Index")'>
                        <img width="16" height="14" class="hires" src="../../Content/images/home-icon.png"
                             alt="Home">
                    </a><span class="after"></span>
                </li>
                <li>
                    <span class="before"></span><a href='@Url.Action("Index", "ViewReports")'>Reports</a><span class="after"></span>
                </li>
                <li class="active">
                    <span class="before"></span><a href='@Url.Action("PatientContactList", "Patients")'>
                        Patient Contact List
                    </a><span class="after"></span>
                </li>
            </ul>
            <div id="divSearchtextshow">
            </div>
        </div>
        <!-- Breadcrumb ends-->
        <!-- Dashboard icons starts-->
        <!-- Dashboard icons ends-->
        <!-- Inner Content Starts -->
        <div id="divPatientContactList">
            @Html.Raw(ViewBag.PatientContactList)
        </div>
        <!-- Inner Content Ends -->
    </div>
    <!-- content base ends-->
</div>
<!-- content ends here -->
