﻿@model IEnumerable<NewRecordlinc.Models.Patients.PatientDetailsOfDoctor>
    @if (Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            <tr id="row @item.PatientId">
                <td><a href='javascript:;' onclick="ViewPatientHistory('@item.PatientId')">@item.LastName</a></td>
                <td><a href='javascript:;' onclick="ViewPatientHistory('@item.PatientId')">@item.FirstName</a></td>
                <td><a href='javascript:;' onclick="ViewProfile('@item.ReferredById')">@item.ReferredBy</a></td>
                @*<td><a href='javascript:;' onclick="ViewPatientHistory('@item.PatientId')">@item.AssignedPatientId</a></td>*@
                <td><a href='javascript:;'>@item.Phone</a></td>
                <td><a href='javascript:;' onclick="ViewPatientHistory('@item.PatientId')">@item.Email</a></td>
                <td><a href='javascript:;' onclick="ViewPatientHistory('@item.PatientId')">@item.Location</a></td>
                <td>
                    <a href="Javascript:;" class="frmreferpatients3" onclick="OpenPopup('@item.PatientId')"></a><br />
                    <a href='@Url.Action("PatientComposeMessage", "Patients", new { PatientId = item.PatientId })' class="frmSendEmail"></a>
                    @if (item.OwnerId == Convert.ToInt32(Session["UserId"]))
                    {
                        <a href="javascript:;" class="frmdltbtn1" onclick="DeletePatient('@item.PatientId');" style="margin-top:-40px;"></a>
                    }

                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="7">
                <center>No Record Found</center>
            </td>
        </tr>
    }
   
