﻿@{
    ViewBag.Title = "Recordlinc - Patients Forms";
    Layout = "~/Views/Shared/SiteLayoutInner.cshtml";
}

<!-- Profile Popup -->
<link href="../../Content/css/tabs.css" rel="stylesheet" type="text/css" />
<script type='text/javascript' src="../../Content/js/tabs.js"></script>
<script src="../../Content/js/jquery.toolbar.js"></script>
<script>
    $(document).ready(function (e) {
        $('.tab_contents').hide();
        $('.tab_contents:first').show();
        $('.tab_links li a').on('click', function () {
            var lnk = $(this).attr('href');
            $(lnk).show().siblings().hide();
            $(this).addClass('active').parent().siblings().find('a').removeClass('active');
        });
    });
</script>
<style type="text/css">
    #register-form .tabbed_form_content label.error {
        color: #FB3A3A;
        margin: 5px 0 0 0;
    }
</style>



<script type="text/javascript">


    $(document).ready(function () {


        $("#btnsave").click(function () {
            $("#register-form").submit();
        });

    });


    /**
    * Basic jQuery Validation Form Demo Code
    * Copyright Sam Deering 2012
    * Licence: http://www.jquery4u.com/license/
    */
    (function ($, W, D) {
        var JQUERY4U = {};

        JQUERY4U.UTIL =
            {
                setupFormValidation: function () {
                    //form validation rules
                    $("#register-form").validate({
                        rules: {
                            fname: "required",
                            lname: "required",
                            txtemail: {
                                required: true,
                                email: true
                            }

                        },
                        messages: {
                            fname: "Please enter first name",
                            lname: "Please enter last name",
                            txtemail: "Please enter a valid email address"

                        },
                        submitHandler: function (form) {
                            form.submit();
                        }
                    });
                }
            }

        //when the dom has loaded setup form validation rules
        $(D).ready(function ($) {
            JQUERY4U.UTIL.setupFormValidation();
        });

    })(jQuery, window, document);



    // For Phone Script in Form Patient information

    $(function () {

        // For Phone
        $('#txtphone').focus(function () {
            if (document.getElementById('txtphone').value == '') {
                $('#txtphone').mask({ mask: '(999) 999-9999' });
            }

        });
        $('#txtphone').blur(function () {
            if (document.getElementById('txtphone').value == '' || document.getElementById('txtphone').value == '(___) ___-____') {

            }


        });

        // For Phone
        $('#txtphonesecond').focus(function () {
            if (document.getElementById('txtphonesecond').value == '') {
                $('#txtphonesecond').mask({ mask: '(999) 999-9999' });
            }

        });
        $('#txtphonesecond').blur(function () {
            if (document.getElementById('txtphonesecond').value == '' || document.getElementById('txtphonesecond').value == '(___) ___-____') {

            }


        });

        // For Phone
        $('#txtphoneemrge').focus(function () {
            if (document.getElementById('txtphoneemrge').value == '') {
                $('#txtphoneemrge').mask({ mask: '(999) 999-9999' });
            }

        });
        $('#txtphoneemrge').blur(function () {
            if (document.getElementById('txtphoneemrge').value == '' || document.getElementById('txtphoneemrge').value == '(___) ___-____') {

            }


        });


    });

</script>
<!-- Main content -->
<div class="content">
    <div class="content_base">
        <!-- Breadcrumb starts-->
        <div class="breadcrumb">
            <ul>
                <li><a href='@Url.Action("Index", "Index")'><img width="16" height="14" class="hires" src="../../Content/images/home-icon.png" alt="Home"></a><span class="after"></span></li>
                <li><span class="before"></span><a href='@Url.Action("Index", "Index")'>Patients</a><span class="after"></span></li>
                <li class="active"><span class="before"></span><a href='@Url.Action("AddPatient", "Patients")'>Patients Forms</a><span class="after"></span></li>
            </ul>
        </div>
        <!-- Breadcrumb ends-->
        <!-- Inner Content Starts -->
        <h3 class="heading">Patients Forms</h3>
        <div class="inner">
            <div class="tabbed_form">
                <ul class="tab_links">
                    <li><a class="active firsttl" href="#patient_info"> <span class="visible_big">Personal Infomation</span> <span class="hidden_big">Step 1</span> </a> </li>
                    <li><a href="#insurance_coverage"> <span class="visible_big">Insurance Coverage</span> <span class="hidden_big">Step 2</span> </a> </li>
                    <li><a href="#medical_history"> <span class="visible_big">Medical History</span> <span class="hidden_big">Step 3</span> </a> </li>
                    <li><a href="#dental_tab"> <span class="visible_big">Dental History</span> <span class="hidden_big">Step 4</span> </a> </li>
                </ul>
                <div class="tab_content_parent">
                    <form action="" method="post" id="register-form">
                        @*<div id="patient_info" class="tab_contents">*@
                        <div id="patient_info" class="info-holder">
                            <h3>
                                Patient Information
                                <div class="hdng_rgt hdng_top5"><span class="req-red">*Required Information</span><a class="skip_btn" href=""></a></div>
                            </h3>
                            <div class="personal_info_box">
                                <div class="form-group zip_city city">
                                    <label for="text">First Name<span class="required">*</span></label>
                                    <input type="text" title="First Name" name="fname" class="form-control alphaonly" placeholder="First Name">
                                </div>
                                <div class="form-group zip_city zip">
                                    <label for="text">Last Name<span class="required">*</label>
                                    <input type="text" title="Last Name" name="lname" class="form-control alphaonly" placeholder="Last Name">
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group zip_city city">
                                    <label for="text">Email Address<span class="required">*</span></label>
                                    <input type="text" title="Email Address" name="txtemail" class="form-control" placeholder="Email Address">
                                </div>
                                <div class="form-group zip_city">
                                    <label for="text">Date of Birth</label>
                                    <input type="text" title="Date of Birth" class="form-control date" placeholder="MM/DD/YYYY">
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group zip_city zip select_box">
                                    <label for="text">Gender</label>
                                    <select class="select_item" title="Gender">
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                    </select>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="info-holder">
                            <h3>Contact Info</h3>
                            <div class="form_box">
                                <div class="form-group address">
                                    <label for="text">Address</label>
                                    <input type="text" title="Address" class="form-control" placeholder="Address">
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group zip_city city">
                                    <label for="text">City</label>
                                    <input type="text" title="City" class="form-control alphaonly" placeholder="City" />
                                </div>
                                <div class="form-group zip_city zip">
                                    <label for="text">Zip Code</label>
                                    <input type="text" title="Zip" class="form-control numericOnly" placeholder="Zip Code/postal code" maxlength="5" />
                                </div>
                                <div class="form-group address">
                                    <label for="text">State</label>
                                    <input type="text" title="State" class="form-control alphaonly" placeholder="State">
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group zip_city zip phone">
                                    <label for="text">Primary Phone Number</label>
                                    <input type="text" title="Primary Phone Number" id="txtphone" class="form-control numericOnly" placeholder="Primary Phone" maxlength="10">
                                </div>
                                <div class="form-group zip_city zip phone">
                                    <label for="text">Secondary Phone Number</label>
                                    <input type="text" title="Secondary Phone Number" id="txtphonesecond" class="form-control numericOnly" placeholder="Secondary Phone" maxlength="10">
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group zip_city city">
                                    <label for="text">Emergency Contact Name</label>
                                    <input type="text" title="Emergency Contact Name" class="form-control alphaonly" placeholder="Emergency Contact Name">

                                </div>
                                <div class="form-group zip_city zip">
                                    <label for="text">Emergency Contact Phone Number</label>
                                    <input type="text" title="Emergency Contact Phone Number" id="txtphoneemrge" class="form-control numericOnly" placeholder="Emergency Contact Phone Number" maxlength="10">
                                </div>
                                <div class="clearfix"></div>

                                <input type="submit" class="frm_smt_btn" id="btnsave">
                            </div>
                        </div>

                    </form>
                </div>

                <div id="insurance_coverage" class="tab_contents">
                    <div class="info-holder">
                        <h3>
                            Account Information
                            <div class="hdng_rgt"><span class="req-red">*Required Information</span><a class="skip_btn" href=""></a></div>
                        </h3>
                        <div class="form_box">
                            <div class="form-group zip_city city">
                                <label for="text">Responsible Party's First Name</label>
                                <input type="text" title="Responsible Party's First Name" class="form-control alphaonly" placeholder="Responsible Party's First Name">
                            </div>
                            <div class="form-group zip_city city">
                                <label for="text">Responsible Party's Last Name</label>
                                <input type="text" title="Responsible Party's Last Name" class="form-control alphaonly" placeholder="Responsible Party's Last Name">
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group zip_city zip select_box relation">
                                <label for="text">Relationship</label>
                                <select class="select_item">
                                    <option value="Wife">Wife</option>
                                    <option value="Husband">Husband</option>
                                    <option value="Father">Father</option>
                                    <option value="Mother">Mother</option>
                                    <option value="Son">Son</option>
                                </select>
                            </div>
                            <div class="form-group zip_city zip phone">
                                <label for="text">Phone Number</label>
                                <input type="text" title="Phone Number" id="txtphone" class="form-control numericOnly" placeholder="Phone" maxlength="10">
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group address">
                                <label for="text">Address</label>
                                <input type="text" title="Address" class="form-control" placeholder="Address">
                            </div>
                            <div class="form-group zip_city city">
                                <label for="text">City</label>
                                <input type="text" title="City" class="form-control alphaonly" placeholder="City" />
                            </div>
                            <div class="form-group address">
                                <label for="text">State</label>
                                <input type="text" title="State" class="form-control alphaonly" placeholder="State">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="info-holder">
                        <h3>Primary Dental Insurance</h3>
                        <div class="form_box">
                            <div class="form-group address">
                                <label for="text">Insurance Company</label>
                                <input type="text" class="form-control" id="txtEmployeeName1" placeholder="Insurance Company" title="Insurance Company">
                            </div>
                            @*<div class="form-group address">
                                    <label for="text">Insurance Company Phone</label>
                                    <input type="text" class="form-control clsnumericOnly" id="txtInsurancePhone1" placeholder="Insurance Company Phone">
                                </div>*@
                            <div class="form-group address">
                                <label for="text">Name of Insured</label>
                                <input type="text" class="form-control" id="txtEmployerName1" placeholder="Name of Insured" title="Name of Insured">
                            </div>
                            <div class="form-group zip_city insurance_date">
                                <label for="text">Date of Birth</label>
                                <input type="text" class="form-control date" id="txtEmployeeDob1" placeholder="MM/DD/YYYY" title="Date of Birth">
                            </div>
                            <div class="form-group zip_city date">
                                <label for="text">Member ID</label>
                                <input type="text" class="form-control" id="txtNameofInsurance1" placeholder="Member ID" title="Member ID">
                            </div>
                            <div class="form-group zip_city date">
                                <label for="text">Group Number</label>
                                <input type="text" class="form-control" id="txtInsuranceTelephone1" placeholder="Group Number" title="Group Number">
                            </div>
                            <div class="add_button">
                                <a class="add_btn" id="hideshowbtn" href="javascript:;">+ Add Secondary Dental Insurance</a>
                            </div>
                        </div>
                    </div>
                    <div class="info-holder" id="hideshow" style="display:none;">
                        <h3>Secondary Dental Insurance</h3>
                        <div class="form_box">
                            <div class="form-group address">
                                <label for="text">Insurance Company</label>
                                <input type="text" class="form-control" id="txtEmployeeName2" placeholder="Insurance Company" title="Insurance Company">
                            </div>
                            <div class="form-group address">
                                <label for="text">Name of Insured</label>
                                <input type="text" class="form-control" id="txtEmployerName2" placeholder="Name of Insured" title="Name of Insured">
                            </div>
                            <div class="form-group zip_city insurance_date">
                                <label for="text">Date of Birth:</label>
                                <input type="text" class="form-control date" id="txtYearsEmployed2" placeholder="MM/DD/YYYY" title="Date of Birth">
                            </div>
                            <div class="form-group zip_city date">
                                <label for="text">Member ID</label>
                                <input type="text" class="form-control" id="txtNameofInsurance2" placeholder="Member ID" title="Member ID">
                            </div>
                            <div class="form-group zip_city date">
                                <label for="text">Group Number</label>
                                <input type="text" class="form-control" id="txtInsuranceTelephone2" placeholder="Group Number" Group Number>
                            </div>
                            <input type="submit" class="frm_smt_btn">
                        </div>
                    </div>
                </div>
                <div id="medical_history" class="tab_contents">
                    <h5>
                        Medical History
                        <div class="hdng_rgt"><a class="skip_btn" href=""></a></div>
                    </h5>
                    <ul class="tabbed_form_content tabbed_form_content1 brdrnone">
                        <li>
                            <div class="grey_frmbg_check bgw1">Yes</div>
                        </li>
                        <li>
                            <label>1. Are you under a physicians care right now?</label>
                            <div class="grey_frmbg_check">
                                <input type="checkbox" class="chkCaption">
                            </div>
                            <ul class="grey_slide_down">
                                <li>
                                    <label>Please explain</label>
                                    <div class="grey_frmbg">
                                        <textarea name="" cols="" rows=""></textarea>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <label>2. Have you ever been hospitalized or had a major operation?</label>
                            <div class="grey_frmbg_check">
                                <input type="checkbox">
                            </div>
                            <ul class="grey_slide_down">
                                <li>
                                    <label>Please explain</label>
                                    <div class="grey_frmbg">
                                        <textarea name="" cols="" rows=""></textarea>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <label>3. Have you ever had a serious head or neck injury?</label>
                            <div class="grey_frmbg_check">
                                <input type="checkbox">
                            </div>
                            <ul class="grey_slide_down">
                                <li>
                                    <label>Please explain</label>
                                    <div class="grey_frmbg">
                                        <textarea name="" cols="" rows=""></textarea>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <label>4. Are taking any medications, pills, or drugs?</label>
                            <div class="grey_frmbg_check">
                                <input type="checkbox">
                            </div>
                            <ul class="grey_slide_down">
                                <li>
                                    <label>Please list</label>
                                    <div class="grey_frmbg">
                                        <textarea name="" cols="" rows=""></textarea>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <label>5. Do you take, or have you taken, Phen-Fen or Redux?</label>
                            <div class="grey_frmbg_check">
                                <input type="checkbox">
                            </div>
                            <ul class="grey_slide_down">
                                <li>
                                    <label>Please explain</label>
                                    <div class="grey_frmbg">
                                        <textarea name="" cols="" rows=""></textarea>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <label>6. Have you ever taken Fosamax, Boniva, Actonel or any other medications containing biphosphonates?</label>
                            <div class="grey_frmbg_check">
                                <input type="checkbox">
                            </div>
                            <ul class="grey_slide_down">
                                <li>
                                    <label>Please explain</label>
                                    <div class="grey_frmbg">
                                        <textarea name="" cols="" rows=""></textarea>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <label>7.  Are you on a special diet?</label>
                            <div class="grey_frmbg_check">
                                <input type="checkbox">
                            </div>
                            <ul class="grey_slide_down">
                                <li>
                                    <label>Please explain</label>
                                    <div class="grey_frmbg">
                                        <textarea name="" cols="" rows=""></textarea>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <label>8. Do you use tobacco?</label>
                            <div class="grey_frmbg_check">
                                <input type="checkbox">
                            </div>
                            <ul class="grey_slide_down">
                                <li>
                                    <label>How often</label>
                                    <div class="grey_frmbg">
                                        <textarea name="" cols="" rows=""></textarea>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <label>9. Do you use controlled substances?</label>
                            <div class="grey_frmbg_check">
                                <input type="checkbox">
                            </div>
                            <ul class="grey_slide_down">
                                <li>
                                    <label>Please explain</label>
                                    <div class="grey_frmbg">
                                        <textarea name="" cols="" rows=""></textarea>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <label>10. Are you pregnant/Trying to get pregnant(women)?</label>
                            <div class="grey_frmbg_check">
                                <input type="checkbox">
                            </div>
                            <ul class="grey_slide_down">
                                <li>
                                    <label>Due date</label>
                                    <div class="grey_frmbg">
                                        <textarea name="" cols="" rows=""></textarea>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <label>11. Taking oral contraceptives(women)?</label>
                            <div class="grey_frmbg_check">
                                <input type="checkbox">
                            </div>
                        </li>
                        <li>
                            <label>12. Nursing(women)?</label>
                            <div class="grey_frmbg_check">
                                <input type="checkbox">
                            </div>
                        </li>
                        <li>
                            <label>13. Have tonsils and oor adenoids been removed?</label>
                            <label>If yes, what age?</label>
                            <div class="grey_frmbg_check">
                                <input type="checkbox" />
                            </div>
                        </li>
                        <li>
                            <label>13. Are you allergic to any of the following?</label>
                            <div class="grey_frmbg_check">
                                <input type="checkbox">
                            </div>
                            <ul class="grey_slide_down">
                                <li>
                                    <dl>
                                        <dt>
                                            <label>Aspirin</label>
                                            <input type="checkbox">
                                        </dt>
                                        <dt>
                                            <label>Penicillin</label>
                                            <input type="checkbox">
                                        </dt>
                                        <dt>
                                            <label>Codeine</label>
                                            <input type="checkbox">
                                        </dt>
                                        <dt>
                                            <label>Local Anesthetics</label>
                                            <input type="checkbox">
                                        </dt>
                                        <dt>
                                            <label>Acrylic</label>
                                            <input type="checkbox">
                                        </dt>
                                        <dt>
                                            <label>Metal</label>
                                            <input type="checkbox">
                                        </dt>
                                        <dt>
                                            <label>Latex</label>
                                            <input type="checkbox">
                                        </dt>
                                        <dt>
                                            <label>Sulfa Drugs</label>
                                            <input type="checkbox">
                                        </dt>
                                        <dt>
                                            <label>Other</label>
                                            <input type="checkbox">
                                        </dt>
                                    </dl>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <label><strong>14. Do you have, or have you had, any of the following?</strong></label>
                            <ul class="subtab_frm">
                                <li>
                                    <ul>
                                        <li>
                                            <div class="grey_frmbg bgw">Yes</div>
                                        </li>
                                        <li>
                                            <label>AIDS/HIV Positive </label>
                                            <div class="grey_frmbg_check">
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <label>Anemia</label>
                                            <div class="grey_frmbg_check">
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <label>Artificial Heart Valve</label>
                                            <div class="grey_frmbg_check">
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <label>Blood Disease</label>
                                            <div class="grey_frmbg_check">
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <label>Bruise Easily</label>
                                            <div class="grey_frmbg_check">
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <label>Chest Pains</label>
                                            <div class="grey_frmbg_check">
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <label>Convulsions</label>
                                            <div class="grey_frmbg_check">
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <label>Drug Addiction</label>
                                            <div class="grey_frmbg_check">
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <label>Epilepsy or Seizures </label>
                                            <div class="grey_frmbg_check">
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <label>Fainting Spells/Dizziness</label>
                                            <div class="grey_frmbg_check">
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <label>Frequent Headaches</label>
                                            <div class="grey_frmbg_check">
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <label>Hay Fever</label>
                                            <div class="grey_frmbg_check">
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <label>Heart Pacemaker</label>
                                            <div class="grey_frmbg_check">
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <label>Hepatitis A</label>
                                            <div class="grey_frmbg_check">
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <label>High Blood Pressure</label>
                                            <div class="grey_frmbg_check">
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <label>Hypoglycemia</label>
                                            <div class="grey_frmbg_check">
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <label>Leukemia</label>
                                            <div class="grey_frmbg_check">
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <label>Lung Disease</label>
                                            <div class="grey_frmbg_check">
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <label>Pain in Jaw Joints</label>
                                            <div class="grey_frmbg_check">
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <label>Radiation Treatments</label>
                                            <div class="grey_frmbg_check">
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <label>Rheumatic Fever</label>
                                            <div class="grey_frmbg_check">
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <label>Shingles</label>
                                            <div class="grey_frmbg_check">
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <label>Spina Bifida</label>
                                            <div class="grey_frmbg_check">
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <label>Swelling of Limbs</label>
                                            <div class="grey_frmbg_check">
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <label>Tuberculosis</label>
                                            <div class="grey_frmbg_check">
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <label>Venereal Disease</label>
                                            <div class="grey_frmbg_check">
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li>
                                            <div class="grey_frmbg bgw">Yes</div>
                                        </li>
                                        <li>
                                            <label>Alzheimer’s Disease </label>
                                            <div class="grey_frmbg_check">
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <label>Angina </label>
                                            <div class="grey_frmbg_check">
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <label>Artificial Joint </label>
                                            <div class="grey_frmbg_check">
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <label>Blood Transfusion </label>
                                            <div class="grey_frmbg_check">
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <label>Cancer </label>
                                            <div class="grey_frmbg_check">
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <label>Cold Sores/Fever Blisters</label>
                                            <div class="grey_frmbg_check">
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <label>Cortisone Medicine </label>
                                            <div class="grey_frmbg_check">
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <label>Easily Winded </label>
                                            <div class="grey_frmbg_check">
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <label>Excessive Bleeding </label>
                                            <div class="grey_frmbg_check">
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <label>Frequent Cough </label>
                                            <div class="grey_frmbg_check">
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <label>Genital Herpes </label>
                                            <div class="grey_frmbg_check">
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <label>Heart Attack/Failure </label>
                                            <div class="grey_frmbg_check">
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <label>Heart Trouble/Disease </label>
                                            <div class="grey_frmbg_check">
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <label>Hepatitis B or C </label>
                                            <div class="grey_frmbg_check">
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <label>High Cholesterol </label>
                                            <div class="grey_frmbg_check">
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <label>Irregular Heartbeat </label>
                                            <div class="grey_frmbg_check">
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <label>Liver Disease </label>
                                            <div class="grey_frmbg_check">
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <label>Mitral Valve Prolapse </label>
                                            <div class="grey_frmbg_check">
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <label>Parathyroid Disease </label>
                                            <div class="grey_frmbg_check">
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <label>Recent Weight Loss </label>
                                            <div class="grey_frmbg_check">
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <label>Rheumatism </label>
                                            <div class="grey_frmbg_check">
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <label>Sickle Cell Disease</label>
                                            <div class="grey_frmbg_check">
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <label>Stomach/Intestinal Disease</label>
                                            <div class="grey_frmbg_check">
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <label>Thyroid Disease </label>
                                            <div class="grey_frmbg_check">
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <label>Tumors or Growths </label>
                                            <div class="grey_frmbg_check">
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <label>Yellow Jaundice</label>
                                            <div class="grey_frmbg_check">
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li>
                                            <div class="grey_frmbg bgw">Yes</div>
                                        </li>
                                        <li>
                                            <label>Anaphylaxis </label>
                                            <div class="grey_frmbg_check">
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <label>Arthritis/Gout </label>
                                            <div class="grey_frmbg_check">
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <label>Asthma </label>
                                            <div class="grey_frmbg_check">
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <label>Breathing Problem </label>
                                            <div class="grey_frmbg_check">
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <label>Chemotherapy </label>
                                            <div class="grey_frmbg_check">
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <label>Congenital Heart Disorder </label>
                                            <div class="grey_frmbg_check">
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <label>Diabetes </label>
                                            <div class="grey_frmbg_check">
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <label>Emphysema </label>
                                            <div class="grey_frmbg_check">
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <label>Excessive Thirst </label>
                                            <div class="grey_frmbg_check">
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <label>Frequent Diarrhea </label>
                                            <div class="grey_frmbg_check">
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <label>Glaucoma </label>
                                            <div class="grey_frmbg_check">
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <label>Heart Murmur </label>
                                            <div class="grey_frmbg_check">
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <label>Hemophilia </label>
                                            <div class="grey_frmbg_check">
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <label>Herpes </label>
                                            <div class="grey_frmbg_check">
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <label>Hives or Rash </label>
                                            <div class="grey_frmbg_check">
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <label>Kidney Problems </label>
                                            <div class="grey_frmbg_check">
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <label>Low Blood Pressure </label>
                                            <div class="grey_frmbg_check">
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <label>Osteoporosis </label>
                                            <div class="grey_frmbg_check">
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <label>Psychiatric Care </label>
                                            <div class="grey_frmbg_check">
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <label>Renal Dialysis </label>
                                            <div class="grey_frmbg_check">
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <label>Scarlet Fever </label>
                                            <div class="grey_frmbg_check">
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <label>Sinus Trouble </label>
                                            <div class="grey_frmbg_check">
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <label>Stroke </label>
                                            <div class="grey_frmbg_check">
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <label>Tonsillitis </label>
                                            <div class="grey_frmbg_check">
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <label>Ulcers </label>
                                            <div class="grey_frmbg_check">
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <label>15. List any serious illness not listed above</label>
                            <div class="grey_frmbg">
                                <input type="text">
                            </div>
                        </li>
                        <li>
                            <label>16. Additional Information</label>
                            <div class="grey_frmbg">
                                <textarea></textarea>
                            </div>
                        </li>
                    </ul>
                    <input type="submit" class="frm_smt_btn">
                </div>


                <div id="dental_tab" class="tab_contents">
                    <h5 class="relative">Dental History<span class="buttons"><a href="" class="skip_btn"></a></span></h5>
                    <ul class="tabbed_form_content tabbed_form_content1">
                        <li>
                            <label>1. Previous Dentists Name </label>
                            <div class="grey_frmbg">
                                <input type="text" title="Insurance Company">
                            </div>
                            <ul class="grey_slide_down">
                                <li>
                                    <label>Address</label>
                                    <div class="grey_frmbg">
                                        <input type="text" title="Address">
                                    </div>
                                </li>
                                <li>
                                    <label>Phone</label>
                                    <div class="grey_frmbg">
                                        <input type="text" title="Phone">
                                    </div>
                                </li>
                                <li>
                                    <label>Email</label>
                                    <div class="grey_frmbg">
                                        <input type="text" title="Email">
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <label>2. When was the last time you had your teeth cleaned?</label>
                            <div class="grey_frmbg">
                                <input type="text" title="Name of Insured">
                            </div>
                        </li>
                        <li>
                            <label>3. Do you make regular visits to the dentist?</label>
                            <div class="grey_frmbg">
                                <input name="" type="checkbox" value="">
                            </div>
                            <ul class="grey_slide_down">
                                <li>
                                    <label>How often</label>
                                    <div class="grey_frmbg">
                                        <input type="text" title="Address">
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <label>4. Please explain any problems or complications with previous dental treatment?</label>
                            <div class="grey_frmbg">
                                <input type="text" title="Member ID">
                            </div>
                        </li>
                        <li>
                            <label>5.Have any of your teeth been replaced with the following?</label>
                            <ul class="grey_slide_down">
                                <li>
                                    <dl>
                                        <dt>
                                            <label>Fixed Bridge</label>
                                            <input name="" type="checkbox" value="">
                                        </dt>
                                        <dt>
                                            <label>Removeable Bridge</label>
                                            <input name="" type="checkbox" value="">
                                        </dt>
                                        <dt>
                                            <label>Denture</label>
                                            <input name="" type="checkbox" value="">
                                        </dt>
                                        <dt>
                                            <label>Implant</label>
                                            <input name="" type="checkbox" value="">
                                        </dt>
                                    </dl>
                                </li>
                            </ul>
                        </li>
                        <!--<li>
                            <label>5. Have you replaced your teeth</label>
                            <div class="grey_frmbg"><input type="text" title="Group Number"></div>
                        </li>-->
                        <li>
                            <label>6. Do you clench or grind your teeth?</label>
                            <div class="grey_frmbg">
                                <input name="" type="checkbox" value="">
                            </div>
                        </li>
                        <li>
                            <label>7. Does your jaw click or pop?</label>
                            <div class="grey_frmbg">
                                <input name="" type="checkbox" value="">
                            </div>
                        </li>
                        <li>
                            <label>8.  Are you experiencing any pain or soreness in the muscles of your face?</label>
                            <div class="grey_frmbg">
                                <input name="" type="checkbox" value="">
                            </div>
                        </li>
                        <li>
                            <label>9. Do you have frequent headaches, neckaches or shoulder aches?</label>
                            <div class="grey_frmbg">
                                <input name="" type="checkbox" value="">
                            </div>
                        </li>
                        <li>
                            <label>10. Does food get caught in your teeth?</label>
                            <div class="grey_frmbg">
                                <input name="" type="checkbox" value="">
                            </div>
                        </li>
                        <li>
                            <label>11. Are any of your teeth sensitive to</label>
                            <div class="grey_frmbg">
                                <input name="" type="checkbox" value="">
                            </div>
                            <ul class="grey_slide_down">
                                <li>
                                    <dl>
                                        <dt>
                                            <label>Hot</label>
                                            <input name="" type="checkbox" value="">
                                        </dt>
                                        <dt>
                                            <label>Cold</label>
                                            <input name="" type="checkbox" value="">
                                        </dt>
                                        <dt>
                                            <label>Sweets</label>
                                            <input name="" type="checkbox" value="">
                                        </dt>
                                        <dt>
                                            <label>Pressure</label>
                                            <input name="" type="checkbox" value="">
                                        </dt>
                                    </dl>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <label>12. Do your gums bleed or hurt?</label>
                            <div class="grey_frmbg">
                                <input name="" type="checkbox" value="">
                            </div>
                        </li>
                        <li>
                            <label>13. How often do you brush your teeth?</label>
                            <div class="grey_frmbg">
                                <input type="text" title="Group Number">
                            </div>
                        </li>
                        <li>
                            <label>14. How often do you use dental floss?</label>
                            <div class="grey_frmbg">
                                <input type="text" title="Group Number">
                            </div>
                        </li>
                        <li>
                            <label>15. Are any of your teeth loose, tipped, shifted or chipped?</label>
                            <div class="grey_frmbg">
                                <input name="" type="checkbox" value="">
                            </div>
                        </li>
                        <li>
                            <label>16. Do you feel your breath is often offensive?</label>
                            <div class="grey_frmbg">
                                <input name="" type="checkbox" value="">
                            </div>
                        </li>
                        <li>
                            <label>17. Explain any orthodonic work you have had done?</label>
                            <div class="grey_frmbg">
                                <textarea name="" cols="" rows=""></textarea>
                            </div>
                        </li>
                        <li>
                            <label>18. Explain any dental work you have had done (Perio, Oral Surgery, etc.)</label>
                            <div class="grey_frmbg">
                                <textarea name="" cols="" rows=""></textarea>
                            </div>
                        </li>
                        <li>
                            <label>19. How do you feel about your teeth in general?</label>
                            <div class="grey_frmbg">
                                <textarea name="" cols="" rows=""></textarea>
                            </div>
                        </li>
                        <li>
                            <label>20. Additional Information</label>
                            <div class="grey_frmbg">
                                <textarea name="" cols="" rows=""></textarea>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="clear"></div>
    </div>
    <!-- Inner Content Ends -->

    <div class="clear"></div>

    <!-- content base ends-->

</div>
<!-- content ends here -->
<!-- Expanding SearchField -->
<link rel="stylesheet" type="text/css" href="../../Content/css/component.css" />
<script src="../../Content/js/classie.js" type="text/javascript"></script>
<script src="../../Content/js/uisearch.js" type="text/javascript"></script>
<script type="text/javascript">
    new UISearch(document.getElementById('sb-search'));

    $("#hideshowbtn").on('click', function () {
        $("#hideshow").slideToggle("slow");
        if ($("#hideshowbtn").text() == "+ Add Secondary Dental Insurance") {
            $("#hideshowbtn").text("- Remove Secondary Dental Insurance");
        } else {
            $("#hideshowbtn").text("+ Add Secondary Dental Insurance");
        }
    });
</script> 