﻿@{
    ViewBag.Title = "Recordlinc - Patient";
    Layout = "~/Views/Shared/SiteLayoutInner.cshtml";
}
<div class="content">
    <div class="content_base">
        <input type="hidden" name="PatientId" value="@ViewBag.PatientId" id="PatientId" />

        <!-- Patient Notes -->
        <div class="table_container">
            <h4 class="sub_title clearfix ">
                Patient Notes
                <span>
                    [ <a class="linkstylecss" href="javascript:;" id="btnPrint">
                        Print
                    </a> ]
                </span>
            </h4>
            <div class="add_notes ">
                <textarea rows="3" style="width:98%;" id="txtnote" name="Add Notes"></textarea>
                @*<input name="Add Notes" type="text" id="txtnote">*@
                <input class="sendresponse margintop10" name="Add Note"
                       type="submit" value="Add Note" onclick="AddPatientNote('@HttpContext.Current.Session["UserId"]')">
            </div>
            <div class="notes_listing">
                <div id="dvPatientNotes">
                    @Html.Raw(ViewBag.PatientNotes)
                </div>
            </div>
        </div>
        <div class="table_container">
            <div id="divPatientCommunication">
                @Html.Raw(ViewBag.PatientCommunication)
            </div>
        </div>
        <!--LoadPopupForShowMessage-->
        <a href="#showMessageForPatient" title="Appointment Booking" class="frmreferpatients edit popup-with-form showlightbox"
           id="showMessageForPatientPopupclick" style="display: none;"></a>
        <div id="showMessageForPatient" style="max-width: 700px;border-radius:6px;" class="mfp-hide white-popup-block">

        </div>
        <div class="modal fade" id="modelPatientCommunicationview" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content" id="modelPatientCommunicationviewbody">
                </div>
            </div>
        </div>
        <!---ColleaguesMessage---->
        <div class="table_container">
            <div id="divColleaguesCommunication">
                @Html.Raw(ViewBag.ColleaguesCommunication)
            </div>
        </div>
        <!--LoadPopupForShowMessageforColleagues-->
        <a href="#showMessageForColleagues" title="Appointment Booking" class="frmreferpatients edit popup-with-form showlightbox"
           id="showMessageForColleaguesPopupclick" style="display: none;"></a>
        <div id="showMessageForColleagues" style="max-width: 700px;border-radius:6px;" class="mfp-hide white-popup-block">

        </div>
    </div>
</div>
<script type="text/javascript">
    function AddPatientNote(UserId) {
        var Note = $("#txtnote").val();
        var PatientId = $("#PatientId").val();
        if (Note != null && Note != "") {
            $.ajaxSetup({ async: false });

            $.post("/Patients/AddPatientNote",
                                    { PatientId: PatientId, UserId: UserId, Note: Note }, function (data) {

                                        if (data != "0") {
                                            //alert('Note added successfully');
                                            swal({ title: "", text: 'Note added successfully', type: 'success' });
                                            $("#txtnote").val(null);
                                            document.getElementById("dvPatientNotes").innerHTML = data.toString();

                                        }
                                        else {
                                            // alert('Failed to Note');
                                            swal({ title: "", text: 'Failed to Note', type: 'error' });
                                        }


                                    });

            $.ajaxSetup({ async: true });
        }
        else {
            //alert("Please Enter Note");
            swal({ title: "", text: 'Please Enter Note' });
        }


    }
    // Add Patient Note - End
    function RemovePatientNote(NoteId, PatientId) {
        var r = confirm('Are you sure you want to remove');
        if (r == true) {


            $.post("/Patients/RemovePatientNote",
                                    { NoteId: NoteId, PatientId: PatientId }, function (data) {

                                        if (data != "0") {

                                            //alert('Note removed successfully');
                                            swal({ title: "", text: 'Note removed successfully', type: 'success' });
                                            document.getElementById("dvPatientNotes").innerHTML = data.toString();
                                        }
                                        else {

                                            //alert('Failed to remove Note');
                                            swal({ title: "", text: 'Failed to remove Note', type: 'error' });
                                        }
                                    });


            $.ajaxSetup({ async: true });

        }
    }
</script>
