﻿
@model IEnumerable<NewRecordlinc.Models.Patients.FamilyReleationHistory>
@*<form action="/Patients/PatientHistory" method="post" id="frmViewPatientHistory">
    <input type="hidden" name="hdnViewPatientHistory" id="hdnViewPatientHistory" />
</form>*@
@if (@Model.ToList().Count > 0)
{
    <h4 class="titlefamily">Family Member Details</h4>
    foreach (var item in Model)
    {
        <li>
            <a href="javascript:void(0)" onclick="ViewPatientHistory('@item.ToPatientId')"> @item.PatientName </a>:  @item.ReleationName <a href="javascript:void(0)" onclick="DeletRelation('@item.PatientId','@item.ToPatientId')"><img src="~/content/images/close.png"></a>
            @*<a href='@Url.Action("PatientHistory", "Patients", new { PatientId = item.ToPatientId })' target="_blank"> @item.PatientName </a>:  @item.ReleationName <a href="javascript:void(0)" onclick="DeletRelation('@item.PatientId','@item.ToPatientId')"><img src="~/content/images/close.png"></a>*@
        </li>

    }
}
<script>
    function ViewPatientHistory(PatientId) {
        
        $('#hdnViewPatientHistory').val(PatientId);
        $("#frmViewPatientHistory").submit();
    }
    function DeletRelation(PatientId, ToPatientId) {
        swal({
            title: "",
            text: "Are you sure you want to remove this Family Member Detail?",
            type: "warning",
            showCancelButton: true,
            //confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: false,
            showLoaderOnConfirm: true,
        },
function (isConfirm) {
    if (isConfirm) {
        var Url = '@Url.Action("DeleteReleation", "Patients")';
        $.ajax({
            url: Url,
            data: {
                PatientId: PatientId,
                ToPatientId: ToPatientId
            },
            type: "post",
            success: function (data) {
                swal({
                    title: "",
                    text: "Family Member Detail deleted successfully.",
                    type: "success",
                    showConfirmButton: true
                }, function (isreload) {
                    if (isreload) {
                        RefreshFamilyMember();
                        // window.location.reload();
                    }
                });
            }
        });
    }

})
    }
</script>





