﻿
@model NewRecordlinc.Models.PatientHistory
@using BusinessLogicLayer
@{
    ViewBag.Title = "Recordlinc - Patient History";
    Layout = "~/Views/Shared/SiteLayoutInner.cshtml";
}


    <script>
        var FeatureId=@Convert.ToInt32(BO.Enums.Common.Features.Attachments);
   </script>
@Styles.Render("~/NewStyleBundle")
@Scripts.Render("~/NewScriptBundle")
<link href="~/Content/css/referralnewview.css" rel="stylesheet" />
<style>
    .linkstylecss:hover {
        color: red;
    }

    #cropDisplay {
        float: left;
        clear: right;
    }

    #addLogo {
        max-width: 40% !important;
    }
</style>

<form action="/Patients/PatientHistory" target="_blank" method="post" id="frmViewPatientHistory">
    <input type="hidden" name="hdnViewPatientHistory" id="hdnViewPatientHistory" />
</form>
<form action="@Url.Action("Index", "Profile" )" method="post" id="frmViewProfile">
    <input type="hidden" name="hdnViewProfile" id="hdnViewProfile" value="" />
</form>
<input type="hidden" id="search_listing_pageindex" value="1" />
<div class="content">
    <div id="sendReferral" class="mfp-hide white-popup-block">
    </div>
    <input type="hidden" id="hdselectedpatient" value="0" />
    <input type="hidden" id="hdnPatientId" value="@Model.PatientId" />
    <input type="hidden" id="hdnSelectedPatientGender" value="" />
    <div class="content_base">
        <div class="breadcrumb">
            <ul>
                <li>
                    <a href='@Url.Action("Index", "Index")'>
                        <img width="16" height="14" class="hires" src="../../Content/images/home-icon.png"
                             alt="Home">
                    </a><span class="after"></span>
                </li>
                <li class="active">
                    <a href='@Url.Action("PatientHistory", "Patients", new { PatientId = Model.PatientId })'>
                        Patient History
                    </a>
                </li>
            </ul>
        </div>

        <h3 class="heading">
            Patient History
            <a href='@Url.Action("Index", "Patients")'>
                <img src="~/Content/images/Backbutton.png" style="float:right;cursor:pointer;" />
            </a>
        </h3>
        <div class="inner">
            <div class="dashboard_links">
                <ul class="dashboard_tour patient_history">
                    <li>
                        <a href='@Url.Action("AddPatient", "Patients", new { PatientId = Model.PatientId })' title="Edit Patient">
                            <span class="edit_patient">
                                Edit Patient
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" onclick="RedirectToPrint('@Model.PatientId')" title="Print File">
                            <span class="print_file">
                                Print File
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href='@Url.Action("PatientComposeMessage", "Patients", new { PatientId = Model.PatientId })' title="Message Patient">
                            <span class="message_patient">Message Patient</span>
                        </a>
                    </li>
                    <li><a href="#add_doctor_popup" class="edit popup-with-form showlightbox" title="Refer Patient"><span class="refer_patient">Refer Patient</span></a></li>
                    <li>
                        <a href='@Url.Action("Index", "Appointment", new { PatientId = Model.PatientId })' title="Book Appointment">
                            <span class="refer_bookappointment">
                                Book Appointment
                            </span>
                        </a>
                    </li>
                    <li><a href="#sendReferral" class="edit popup-with-form showlightbox" onclick="OpenPatientsPopup('@Model.PatientId');"><span class="refer_Add-Family-Members">Add Family Members</span></a></li>
                </ul>
            </div>
            <div class="patient_info" id="view_referrals">
                <h4 class="sub_title clearfix ">
                    @if (Model.IsAuthorize != "false")
                    {
                        @Model.FirstName@Html.Raw("&nbsp;")@Model.LastName
                    }
                    else
                    {
                        @Model.FirstName@Html.Raw("&nbsp;")@Model.LastName
                    }

                </h4>
                <ul class="patient_info">
                    <li class="first">
                        <div class="imgtext">
                            <a href="@(Model.IsAuthorize != "false" ? "#addLogo" : "" )" class="popup-with-form showlightbox" onclick="crop_reset()">
                                <figure class="thumb" style="text-align:left;"><img src="@Model.ImageName" alt=" @Model.FirstName" title="Click to change picture"></figure>
                            </a>
                        </div>
                        <div class="firsttext">
                            <ul class="list">
                                @if (!String.IsNullOrWhiteSpace(Model.AssignedPatientId))
                                {
                                    <li>ID: @Model.AssignedPatientId</li>
                                }
                                @if (!string.IsNullOrEmpty(Model.Gender))
                                {
                                    <li id="ligender">@Model.Gender</li>
                                }
                                <li>
                                    @{ var dob = string.Empty; }
                                    @if (!string.IsNullOrEmpty(Model.DateOfBirth))
                                    {
                                        dob = new CommonBLL().ConvertToDate(Convert.ToDateTime(Model.DateOfBirth), Convert.ToInt32(BO.Enums.Common.DateFormat.GENERAL));
                                        @dob;
                                    }
                                    else
                                    {
                                        @dob;
                                    }                                    
                                    @if (!string.IsNullOrEmpty(Model.Age))
                                    {
                                        @("(" + Model.Age + " years old)")
                                    }
                                </li>
                                @if(!string.IsNullOrWhiteSpace(Model.ReferredBy))
                                {
                                    <li><a href="javascript:;" onclick="ViewProfile('@Model.ReferredById')">@Model.ReferredBy</a></li>
                                }
                            </ul>
                        </div>
                        <div class="clear">
                        </div>
                        @if (Model.ImageName.Contains(System.Configuration.ConfigurationManager.AppSettings["DefaultDoctorImage"]) || Model.ImageName.Contains(System.Configuration.ConfigurationManager.AppSettings["DefaultDoctorFemaleImage"]))
                        {
                            if (Model.IsAuthorize != "false")
                            {
                                <a href="#addLogo" class="popup-with-form showlightbox" onclick="crop_reset()">
                                    <figure class="thumb" style="text-align:center;width:20%;">Add Image</figure>
                                </a>
                            }
                        }
                        else
                        {
                            if (Model.IsAuthorize != "false")
                            {
                                <a style="margin-left:-4px;" onclick="return RemoveProfileImage(@Model.PatientId)" title="Remove Image">Remove Image</a>
                            }
                        }
                    </li>
                    <li class="second">
                        <ul class="list paddingleft">
                            @if (!string.IsNullOrEmpty(Model.ExactAddress) && !string.IsNullOrWhiteSpace(Model.ExactAddress))
                            {
                                <li>
                                    <i class="address"></i>
                                    @Model.ExactAddress,
                                    @if (Model.City != null && Model.City != "")
                                    {
                                        @(!string.IsNullOrWhiteSpace(Model.City) ? Model.City : string.Empty)
                                    }
                                </li>
                            }
                            @if (!string.IsNullOrEmpty(Model.Phone) && !string.IsNullOrWhiteSpace(Model.Phone))
                            {
                                <li><i class="wphone"></i>@Model.Phone</li>
                            }
                            @if (!string.IsNullOrEmpty(Model.Email) && !string.IsNullOrWhiteSpace(Model.Email))
                            {
                                <li><i class="email"></i>@Model.Email</li>
                            }
                        </ul>
                    </li>
                    <li class="third">
                        <ul class="list paddingleft">
                            <div id="familyMemberSection">
                                @Html.Action("PartialReleationHistory", "Patients", new { PatientId = Model.PatientId })
                            </div>
                        </ul>
                    </li>
                    <br class="clear" />
                </ul>
                <br class="clear" />
                <div class="clear">
                </div>

                <div class="table_container" style="margin: -13px 0 !important;">
                    <div id="divColleaguesCommunication">
                        @Html.Partial("_patientCompose", Model)
                        <br />
                        @Html.Partial("_patientCommunications", Model.lstColleaguesMessagesDoctor)
                    </div>
                </div>
                <div class="clear">
                </div>
                <div class="table_container" id="_downloadZip" style="display:none;">
                    <h4 class="sub_title clearfix"></h4>
                    <div class="add_notes ">
                        <a href='@Url.Action("DownloadAsZip", "Patients", new { PatientId = Model.PatientId })'>
                            <input type="button" class="export_record_patient" />
                        </a>
                    </div>
                </div>
                <div id="divPatientImages">
                    <div id="PatientImagesSection">
                        @Html.Partial("_uplodedImages", Model.lstUplodedImages)
                        <input type="hidden" id="ImageCount" value=@Model.lstUplodedImages.Count />
                    </div>
                </div>
                <div id="divPatientDocuments">
                    <div id="PatientDocumentsSection">
                        @Html.Partial("_uplodedImages", Model.lstUplodedDocuments)
                        <input type="hidden" id="DocumentCount" value=@Model.lstUplodedDocuments.Count />
                    </div>
                </div>
                <div class="table_container">
                    @if (Model.IsAuthorize != "false")
                    {
                        <h4 class="sub_title clearfix ">
                            Upload Files
                        </h4>
                        @Html.Partial("~/Views/Patients/PartialPatientFileUpload.cshtml", Model)
                    }
                    @if (Model.IsAuthorize == "false")
                    {
                        <h4 class="sub_title clearfix ">
                            Upload Files
                        </h4>
                        @Html.Partial("~/Views/Patients/PartialPatientFileUpload.cshtml", Model)
                    }
                </div>
                <div class="clear">
                </div>
            </div>
            <div class="sub_title" style="font-size:20px;border-bottom: 1px solid rgb(200, 200, 200);">Patient Forms</div>
            <ul class="patient_forms">
                <li>
                    <a href='@Url.Action("Index", "DentalForms", new { ZSTGHSK = Model.EncryptesPId, Form = "PInfo" })' target="_blank">
                        Personal Info
                    </a>
                </li>
                <li>
                    <a href='@Url.Action("Index", "DentalForms", new { ZSTGHSK = Model.EncryptesPId, Form = "IInfo" })' target="_blank">
                        Dental Insurance
                    </a>
                </li>
                <li>
                    <a href='@Url.Action("Index", "DentalForms", new { ZSTGHSK = Model.EncryptesPId, Form = "MInfo" })' target="_blank">
                        Medical History
                    </a>
                </li>
                <li>
                    <a href='@Url.Action("Index", "DentalForms", new { ZSTGHSK = Model.EncryptesPId, Form = "DInfo" })' target="_blank">
                        Dental History
                    </a>
                </li>
                <br />
                <br />
                <li style="border: 0px solid; padding: 0px;">
                    <h4 class="sub_title clearfix ">
                        <div style="float:left;width:40%;margin-top: 1px;">
                            <a href='javascript:void(0);' style="vertical-align: middle;">
                                Appointments
                            </a>
                        </div>
                        <div class="devbtnstyle" style="float:right;width:40%;">
                            <a href='@Url.Action("Index", "Appointment", new {PatientId=Model.PatientId})'>
                                <span class="refer_bookappointment2">Book Appointment</span>
                            </a>
                        </div>
                    </h4>
                    <div id="exTab2" class="" style=" width 100%;">
                        <ul class="nav nav-tabs" style="margin-bottom: -1px;">
                            <li class="active devtab">
                                <a href="#1" data-toggle="tab">Future Appointment</a>
                            </li>
                            <li class="devtab">
                                <a href="#2" data-toggle="tab">Past Appointment</a>
                            </li>
                        </ul>
                        <div class="tab-content" style="Width:100% !important">
                            <div class="tab-pane active" id="1">
                                <div class="table_data" id="AppDashBoardNotification">
                                    @Html.Action("GetPartialAppointmentList", "Patients", new { PatientId = Model.PatientId, AppointmentType = 1 })
                                </div>
                            </div>
                            <div class="tab-pane" id="2">
                                <div class="table_data" id="AppDashBoardNotification">
                                    @Html.Action("GetPartialAppointmentList", "Patients", new { PatientId = Model.PatientId, AppointmentType = 0 })
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

            </ul>
        </div>

    </div>
    <style type="text/css">
        label {
            font-weight: normal;
        }

        a:hover, a:focus {
            text-decoration: none;
        }
    </style>
</div>
<input type="hidden" id="PageIndexCommPatientHistory" value="2" />
<input type="hidden" id="CurrentSortColCommPatientHistory" value="1" />
<input type="hidden" id="ColleaguPageIndex" value="1" />
<div id="addLogo" class="mfp-hide white-popup-block">
    <h2 class="title">
        Change Patient Profile Picture
    </h2>
    <form action="/Patients/UpdatePatientProfileImage" method="post" enctype="multipart/form-data">
        <input type="hidden" name="Left" id="Left" value="" />
        <input type="hidden" name="Right" id="Right" value="" />
        <input type="hidden" name="Top" id="Top" value="" />
        <input type="hidden" name="Bottom" id="Bottom" value="" />
        <div id="cropContainer">
            <div id="cropDisplay">
            </div>
        </div>
        <div class="cntnt">
            <ul class="tablelist">
                <li>
                    <input type="hidden" name="PatientId" id="PatientId" value='@Model.PatientId' />
                    <input type="file" id="fuImage" name="fuImage"  onchange="return CheckIsImage();" />
                </li>
            </ul>
            <div class="actions">
                <input class="save_btn" name="Save" type="submit" id="btnSave" />
                <input class="cancel_btn" name="Cancel" type="button" value="Cancel" />
                <div class="clear">
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal fade" id="modelDoctorReferralview" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="width:900px !important;">
        <div class="modal-content">
            <div class="modal-header"><span>Patient referral for <b id="referredname"></b></span><button type="button" onclick="RemovePopupCss();" class="close" data-dismiss="modal" aria-hidden="true">×</button></div>
            <div class="modal-body" style="overflow:auto; height:400px; padding:0px 15px 15px 15px;" id="modelDoctorReferralviewBody">
            </div>
            <div class="modal-footer">
                <button class="btn btn-default btn-cancleappclose" type="button" data-dismiss="modal">Close</button>
                <a class="btn btn-primary customerclsrpl" id="ReferralReplyBtn" title="Reply,ReplyAll">Reply</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modelPatientCommunicationview" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;">
    <div class="modal-dialog">
        <div class="modal-content" id="modelPatientCommunicationviewbody">
        </div>
    </div>
</div>
<!--LoadPopupForShowMessage-->
<a href="#showMessageForPatient" title="Appointment Booking" class="frmreferpatients edit popup-with-form showlightbox"
   id="showMessageForPatientPopupclick" style="display:none;"></a>
<div id="showMessageForPatient" style="max-width:700px;border-radius:6px; display:none;" class="mfp-hide white-popup-block">
</div>
<!--LoadPopupForShowMessageforColleagues-->
<a href="#showMessageForColleagues" title="Appointment Booking" class="frmreferpatients edit popup-with-form showlightbox"
   id="showMessageForColleaguesPopupclick" style="display: none;"></a>
<div id="showMessageForColleagues" style="max-width: 700px;border-radius:6px;" class="mfp-hide white-popup-block">
</div>
<a href="#Updatenotes" class="frmedtbtn edit popup-with-form showlightbox" id="OpenEditNotes" style="display: none;"></a>
<div id="Updatenotes" class="mfp-hide white-popup-block" onclick="ClickUpdateNote()">
</div>
<div id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px;
    top: 0px; width: 100%; height: 100%; background-color: White; z-index: 30001;
    opacity: 0.5; filter: alpha(opacity=70); display: none">
        <p style="position: absolute; top: 30%; left: 50%; color: White;">
            <img src="../../Images/Recordloading.gif">
        </p>
    </div>

@*external Link and variable*@
<input type="hidden" id="ExternalCall" value=@System.Configuration.ConfigurationManager.AppSettings.Get("DentalSite").ToString() />
<input type="hidden" id="SessionCall" value=@Session["UserId"] />
<input type="hidden" id="IsAuthorize" value=@Model.IsAuthorize />

<script src="~/Scripts/ControllerJS/PatientHistory/PatientConfiguration.js"></script>
<script type="text/javascript">
    function crop_reset() {
        $("#cropContainer").html('<div id="cropDisplay"></div>');
        $("#fuImage").val(null);
    }
    function ViewProfile(id) {
        $("#divLoading").show();
        $('#hdnViewProfile').val(id);
        $("#frmViewProfile").submit();
        $("#divLoading").hide();
    }
</script>