﻿@model NewRecordlinc.Models.PatientHistory
@using BusinessLogicLayer
@{
    ViewBag.Title = "Recordlinc - Patient";
    Layout = "~/Views/Shared/_NewSiteLayoutInner.cshtml";
}
<style>
    input[type=date]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        display: none;
    }

    #city_text .form-control, #zip_text .form-control {
        height: 30px;
    }
</style>
<link href="~/Content/css/select2.min.css" rel="stylesheet">
<link href="~/Content/css/fcbk.css" rel="stylesheet" />
<form action="/Patients/PatientHistory" target="_blank" method="post" id="frmViewPatientHistory">
    <input type="hidden" name="hdnViewPatientHistory" id="hdnViewPatientHistory" />
</form>
<form action="@Url.Action("Index", "Profile")" method="post" id="frmViewProfile">
    <input type="hidden" name="hdnViewProfile" id="hdnViewProfile" value="" />
</form>
<input type="hidden" id="search_listing_pageindex" value="1" />
<main id="main" role="main">
    <input type="hidden" id="hdselectedpatient" value="0" />
    <input type="hidden" id="hdnPatientId" value="@Model.PatientId" />
    <input type="hidden" id="hdnSelectedPatientGender" value="" />
    <div class="container">
        <div class="new-case case-overview patinet">
            <div class="row btm-margin-30  row-bordered referral">
                <div class="col-lg-12 ">
                    <div class="row fve_button">
                        <div class="col col-lg-8 col-xs-8 col-lg-push-4">
                            <div class="btn-group">
                                <a href="javascript:;" data-toggle="tooltip" data-placement="bottom" title="Add Family Members" onclick="OpenFamilyPopup('@Model.PatientId');" class="btn-default btn-cases">
                                <span data-toggle="modal" data-target="#AddFamilyMembers"><i class="ico-familymember"></i>Add Family Members</span></a>
                            </div>
                            <div class="btn-group">
                                <a href="@Url.Action("Index", "Appointment", new { PatientId = Model.PatientId })" title="Book Appointment" data-toggle="tooltip" data-placement="bottom" class="btn-default btn-cases"><i class="ico-apointment"></i>Book Appointment</a>
                            </div>
                            <div class="btn-group">
                                <a href="@Url.Action("PatientComposeMessage", "Patients", new { PatientId = Model.PatientId })" title="Message Patient" data-toggle="tooltip" data-placement="bottom" class="btn-default btn-cases"><i class="ico-send-message"></i>Message Patient</a>
                            </div>
                            <div class="btn-group">
                                <a href="javascript:;" onclick="RedirectToPrint('@Model.PatientId')" title="Print File" data-toggle="tooltip" data-placement="bottom" class="btn-default btn-cases"><i class="ico-print"></i>Print File</a>
                            </div>
                            <div class="btn-group">
                                <a href="javascript:;" class="btn-default btn-cases patinet_form" title="Patient Forms" data-toggle="tooltip" data-placement="bottom"><i class="ico-form-patient"></i>Patient Forms</a>
                            </div>
                            @*<div class="btn-group">
                                    <a href="javascript:;" class="btn-default btn-cases planing" title="Treatment Plans" data-toggle="tooltip" data-placement="bottom"><i class="ico-add-plan"></i>Treatment Plans</a>
                                </div>*@
                            <div class="btn-group">
                                <a href="javascript:;" class="btn-default btn-cases" onclick="OpenSendReferralPopup('@Model.PatientId');" title="Refer Patient" data-toggle="tooltip" data-placement="bottom">
                                    <span data-toggle="modal" data-target="#colleague_refer_patient"><i class="ico-add-plan refer-patient"></i>Refer Patient</span>
                                </a>
                            </div>
                        </div>
                        <div class="col col-lg-4 col-xs-4 col-lg-pull-8">
                            <h1 class="inline">Patient History</h1>
                            <div class="btn-group btn-holder">
                                <a href="javascript:;" onclick="GotoBack();" class="btn btn-primary"><i class="fa fa-arrow-left"></i>Back</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mrgn-btm-20">
                <div class="col-lg-12 mail-header">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="btm-margin-20">
                                <h2>
                                    @if (Model.IsAuthorize != "false")
                                    {
                                        <a href="@Url.Action("AddPatient","Patients",new { @PatientId=Model.PatientId})" style="color:rgb(75, 171, 209)">@Model.FirstName@Html.Raw("&nbsp;")@Model.LastName</a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("AddPatient","Patients",new { @PatientId=Model.PatientId})" style="color:rgb(75, 171, 209)">
                                            @Model.FirstName@Html.Raw("&nbsp;")@Model.LastName</a>
                                    }
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="user">
                        @if (Model.ImageName.Contains(System.Configuration.ConfigurationManager.AppSettings["DefaultDoctorImage"]) || Model.ImageName.Contains(System.Configuration.ConfigurationManager.AppSettings["DefaultDoctorFemaleImage"]))
                        {
                            if (Model.IsAuthorize != "false")
                            {
                                <a href="@(Model.IsAuthorize != " false" ? "#addLogo": "" )" onclick="crop_reset()" class="profile_image">
                                    <img class="" src="~/Content/css/NewAdmin/images/img08.jpg" alt="@Model.FullName" width="50" height="50">
                                    <div class="hover" style="">
                                        <img class="hover" src="~/Content/css/NewAdmin/images/add_photo.png" alt="@Model.ImageName" width="18" height="18">
                                    </div>
                                </a>
                            }
                        }
                        else
                        {
                            if (Model.IsAuthorize != "false")
                            {
                                <a href="@(Model.IsAuthorize != " false" ? "#remove_image": "" )" onclick="cropremove_reset()" class="profile_image">
                                    <img class="" src="@Model.ImageName" alt="@Model.FullName" width="50" height="50">
                                    <div class="hover" style="">
                                        <img class="hover" src="~/Content/css/NewAdmin/images/ico-cross_hover.png" alt="Remove Image" width="18" height="18">
                                    </div>
                                </a>
                            }
                        }
                    </div>
                    <div class="mail-header-holder patient_drop patient_history">
                        <dl class="mail-det-list  patient-history">
                            <dt>ID:</dt>
                            @if (!string.IsNullOrWhiteSpace(Model.AssignedPatientId))
                            {
                                if (Model.OwnerId == Convert.ToInt32(Session["UserId"]))
                                {
                                    <dd id="id">
                                        <span id="phAssPID">@Model.AssignedPatientId</span>
                                        <div id="id_text" style="display: none;">
                                            <input class="form-control" id="update_AsspId" type="text">
                                        </div>
                                    </dd>
                                }
                                else
                                {
                                    <dd id="id">
                                        <span id="phAssPID">@Model.AssignedPatientId</span>
                                    </dd>
                                }
                            }
                            else
                            {
                                <dd id="id">
                                    <span id="phAssPID">Please enter id</span>
                                    <div id="id_text" style="display:none;">
                                        <input class="form-control" id="update_AsspId" type="text">
                                    </div>
                                </dd>
                            }
                            <dt>Gender:</dt>
                            @if (!string.IsNullOrEmpty(Model.Gender))
                            {
                                <dd id="gender">
                                    <span id="phGenderID">@Model.Gender</span>
                                    <div id="gender_text" style="display: none;">
                                        <input class="form-control" id="update_genderId" type="text">
                                    </div>
                                </dd>
                            }
                            else
                            {
                                <div id="gender_text" style="">
                                    <input class="form-control" id="update_genderId" type="text">
                                </div>
                            }
                            <dt>DOB:</dt>
                            @{ var dob = "Please enter DOB"; }
                            @if (!string.IsNullOrEmpty(Model.DateOfBirth))
                            {
                                dob = new CommonBLL().ConvertToDate(Convert.ToDateTime(Model.DateOfBirth), Convert.ToInt32(BO.Enums.Common.DateFormat.GENERAL));
                                <dd id="dob">
                                    <span id="phDobID">@dob</span>
                                    <div id="dob_text" style="display: none;" class="date-holder">
                                        <input class="form-control" name="date" id="update_dobId" type="text" max="@DateTime.Now.ToString("yyyy-MM-dd")">
                                    </div>
                                    @*<span id="dob-error-msg" style="display:none;color:red;">Please enter valid DOB!</span>*@
                                    @* Need to change Postion of above message *@
                                    @if (!string.IsNullOrEmpty(Model.Age))
                                    {
                                        if (Model.Age == "1" || Model.Age == "0")
                                        {
                                            <span id="PatientAge">@("(" + Model.Age + " year old)")</span>
                                        }
                                        else
                                        {
                                            <span id="PatientAge">@("(" + Model.Age + " years old)")</span>
                                        }
                                    }
                                </dd>
                            }
                            else
                            {

                                <dd id="dob">
                                    <span id="phDobID">Please enter DOB</span>
                                    <div id="dob_text" style="display: none;" class="date-holder">
                                        <input class="form-control" name="date" id="update_dobId" type="text" max="@DateTime.Now.ToString("yyyy-MM-dd")">
                                    </div>
                                    <span id="PatientAge"></span>
                                </dd>
                            }
                            @if (!string.IsNullOrWhiteSpace(Model.ReferredBy))
                            {
                                <dt>Referred By:</dt>
                                <dd id="RefBy"><a href="javascript:;" onclick="ViewProfile('@Model.ReferredById')">@Model.ReferredBy</a></dd>
                            }
                        </dl>
                        <dl class="mail-det-list  patient-history">
                            <dt>Address:</dt>
                            <dd id="address">
                                @if (!string.IsNullOrEmpty(Model.ExactAddress) && !string.IsNullOrWhiteSpace(Model.ExactAddress))
                                {
                                    <span id="phAddressId">
                                        @Model.ExactAddress
                                        @*,
                                            @if (Model.City != null && Model.City != "")
                                            {
                                                @(!string.IsNullOrWhiteSpace(Model.City) ? Model.City : string.Empty)
                                            }*@
                                    </span>
                                    <div id="address_text" style="display: none;">
                                        <input class="form-control" id="update_addressId" type="text" width="50">
                                    </div>
                                }
                                else
                                {
                                    <span id="phAddressId">Please enter address</span>
                                    <div id="address_text" style="display: none;">
                                        <input class="form-control" id="update_addressId" type="text" width="50">
                                    </div>
                                }
                            </dd>

                            @* City *@
                            <dt>City:</dt>
                            <dd id="city">
                                @if (!string.IsNullOrEmpty(Model.City) && !string.IsNullOrWhiteSpace(Model.City))
                                {
                                    <span id="phCityId">@Model.City</span>
                                    <div id="city_text" style="display: none;">
                                        <input class="form-control" id="update_cityId" type="text" width="50">
                                    </div>
                                }
                                else
                                {
                                    <span id="phCityId">Please enter City</span>
                                    <div id="city_text" style="display: none;">
                                        <input class="form-control" id="update_cityId" type="text" width="50">
                                    </div>
                                }
                            </dd>

                            @* State *@
                            <dt>State:</dt>
                            <dd id="state">
                                @if (!string.IsNullOrEmpty(Model.State) && !string.IsNullOrWhiteSpace(Model.State))
                                {
                                    <span id="phStateId">@Model.State</span>
                                    <div id="state_text" style="display: none;">
                                        @*<div class="dropdown latest_dropdown forms">*@
                                        <select class="form-control dropdown latest_dropdown forms" id="update_stateId" onchange="CallEditableMethod()">
                                            @foreach (var item in ViewBag.state)
                                            {
                                                <option value="@item.Text">@item.Text</option>
                                            }
                                        </select>
                                    </div>
                                        @*</div>*@

                                }
                                else
                                {
                                    <span id="phStateId">Please enter State</span>
                                    <div id="state_text dropdown" style="display: none;">
                                        @*<input class="form-control" id="update_cityId" type="text" width="50">*@
                                        @*<div class="dropdown latest_dropdown forms">*@
                                        <select class="form-control" id="update_stateId" onchange="CallEditableMethod()">
                                            <option value="" disabled selected>Select your option</option>
                                            @foreach (var item in ViewBag.state)
                                            {
                                                <option value="@item.Text">@item.Text</option>
                                            }
                                        </select>
                                    </div>
                                        @*</div>*@
                                }
                            </dd>

                            @* Zip *@
                            <dt>Zip:</dt>
                            <dd id="zip">
                                @if (!string.IsNullOrEmpty(Model.ZipCode) && !string.IsNullOrWhiteSpace(Model.ZipCode))
                                {
                                    <span id="phZipId">@Model.ZipCode</span>
                                    <div id="zip_text" style="display: none;">
                                        <input class="form-control" id="update_zipId" type="text" width="50">
                                    </div>
                                }
                                else
                                {
                                    <span id="phZipId">Please enter ZipCode</span>
                                    <div id="zip_text" style="display: none;">
                                        <input class="form-control" id="update_zipId" type="text" width="50">
                                    </div>
                                }
                            </dd>
                            @Html.Partial("_PartialContactDetails")
                            @*<dt><span class="phn">Phone:</span>
        <div class="dropdown latest_dropdown forms">
            <select class="form-control" id="Colleaglst_8"  onchange="ChangePhone()">
                @{
                    var Business = !string.IsNullOrEmpty(Model.Phone) ? Model.Phone : "Please enter Phone number";//address info phone.
                    var Mobile = !string.IsNullOrEmpty(Model.Mobile) ? Model.Mobile : "Please enter Mobile number";
                    var Work = !string.IsNullOrEmpty(Model.Workphone) ? Model.Workphone : "Please enter WorkPhone";
                    var Fax = !string.IsNullOrEmpty(Model.Fax) ? Model.Fax : "Please enter Fax number";
                }

                <option data-id="1" value="@Business">Business</option>
                <option data-id="2" value="@Mobile">Mobile</option>
                <option data-id="3" value="@Work">Work</option>
                <option data-id="4" value="@Fax">Fax</option>
                @*<option value="(800) 596-0133">Cell</option>
            </select>
        </div>
    </dt>
    <dd id="phone">
        @if (!string.IsNullOrEmpty(Model.Phone) && !string.IsNullOrWhiteSpace(Model.Phone))
        {
          <div id="phone">
            <span id="phPhoneID">@Model.Phone</span>
            <div id="phone_text" style="display: none;">
                <input class="form-control" id="update_phoneId" type="text">
            </div>
          </div>
        }
        else
        {
            <div id="phone">
                <span id="phPhoneID">Please enter phone number</span>
                <div id="phone_text" style="display: none;">
                    <input class="form-control" id="update_phoneId" type="text">
                </div>
              </div>
                }
           </dd>*@
                                <dt><span class="phn">Email:</span>
                                <div class="dropdown latest_dropdown forms">
                                    <select class="form-control" id="Colleaglst_9" onchange="ChangeEmail()">
                                        @{
                                            var email = !string.IsNullOrEmpty(Model.Email) ? Model.Email : "Please enter email id";
                                            var semail = !string.IsNullOrEmpty(Model.SecondryEmail) ? Model.SecondryEmail : "Please enter secondry Email";
                                            var aiEmail = !string.IsNullOrEmpty(Model.AddressInfoEmail) ? Model.AddressInfoEmail : "Please enter Email 3";

                                        }
                                        <option data-id="1" value="@email">Email 1</option>
                                        <option data-id="2" value="@semail">Email 2</option>
                                        <option data-id="3" value="@aiEmail">Email 3</option>
                                    </select>
                                </div></dt>

                                <dd>
                                    <div id="email">
                                        @if (!string.IsNullOrEmpty(Model.Email) && !string.IsNullOrWhiteSpace(Model.Email))
                                        { <div id="email">
                                            <a href="mailto:@Model.Email" id="email"><span id="phEmailID">@Model.Email</span></a>

                                            <div id="email_text" style="display: none;">
                                                <input class="form-control" id="update_emailId" type="text">
                                            </div>
                                        </div>
                                        <span id="email-error-msg" style="display:none;color:red;">Please enter valid email!</span>
                                        }
                                        else
                                        {
                                            <div id="email">
                                                <a href="javascript:;" id="email" style="color:#525962!important;"><span id="phEmailID">Please enter email id</span></a>
                                                <div id="email_text" style="display: none;">
                                                    <input class="form-control" id="update_emailId" type="text">
                                                </div>
                                            </div>
                                            <span id="email-error-msg" style="display:none;color:red;">Please enter valid email!</span>
                                        }
                                    </div>
                                    <div id="secemail" style="display:none;">
                                        @if (!string.IsNullOrEmpty(Model.SecondryEmail) && !string.IsNullOrWhiteSpace(Model.SecondryEmail))
                                        { <div id="secemail">
                                            <a href="mailto:@Model.SecondryEmail" id="email"><span id="phSecEmailID">@Model.SecondryEmail</span></a>

                                            <div id="sec_email_text" style="display: none;">
                                                <input class="form-control" id="update_sec_emailId" type="text">
                                            </div>
                                        </div>
                                        <span id="email-error-msg" style="display:none;color:red;">Please enter valid email!</span>
                                        }
                                        else
                                        {
                                            <div id="secemail">
                                                <a href="javascript:;" id="email" style="color:#525962!important;"><span id="phSecEmailID">Please enter secondry Email</span></a>
                                                <div id="sec_email_text" style="display: none;">
                                                    <input class="form-control" id="update_sec_emailId" type="text">
                                                </div>
                                            </div>
                                            <span id="email-error-msg" style="display:none;color:red;">Please enter valid email!</span>
                                        }
                                    </div>
                                    <div id="addemail" style="display:none;">
                                        @if (!string.IsNullOrEmpty(Model.AddressInfoEmail) && !string.IsNullOrWhiteSpace(Model.AddressInfoEmail))
                                        { <div id="addemail">
                                            <a href="mailto:@Model.AddressInfoEmail" id="email"><span id="phAddEmailID">@Model.AddressInfoEmail</span></a>

                                            <div id="add_email_text" style="display: none;">
                                                <input class="form-control" id="update_add_emailId" type="text">
                                            </div>
                                        </div>
                                        <span id="email-error-msg" style="display:none;color:red;">Please enter valid email!</span>
                                        }
                                        else
                                        {
                                            <div id="addemail">
                                                <a href="javascript:;" id="email" style="color:#525962!important;"><span id="phAddEmailID">Please enter Email 3</span></a>
                                                <div id="add_email_text" style="display: none;">
                                                    <input class="form-control" id="update_add_emailId" type="text">
                                                </div>
                                            </div>
                                            <span id="email-error-msg" style="display:none;color:red;">Please enter valid email!</span>
                                        }
                                    </div>
                                </dd>
                            @* Seccondry Email *@
                            @*<dd id="secemail" style="display:none;">
                                @if (!string.IsNullOrEmpty(Model.SecondryEmail) && !string.IsNullOrWhiteSpace(Model.SecondryEmail))
                                { <div id="secemail">
                                    <a href="mailto:@Model.SecondryEmail" id="email"><span id="phSecEmailID">@Model.SecondryEmail</span></a>

                                    <div id="sec_email_text" style="display: none;">
                                        <input class="form-control" id="update_sec_emailId" type="text">
                                    </div>
                                </div>
                                <span id="email-error-msg" style="display:none;color:red;">Please enter valid email!</span>
                                }
                                else
                                {
                                    <div id="secemail">
                                        <a href="javascript:;" id="email" style="color:#525962!important;"><span id="phSecEmailID">Please enter secondry Email</span></a>
                                        <div id="sec_email_text" style="display: none;">
                                            <input class="form-control" id="update_sec_emailId" type="text">
                                        </div>
                                    </div>
                                    <span id="email-error-msg" style="display:none;color:red;">Please enter valid email!</span>
                                }
                            </dd>*@

                            @* Address Info Email *@
                            @*<dd id="addemail" style="display:none;">
                                @if (!string.IsNullOrEmpty(Model.AddressInfoEmail) && !string.IsNullOrWhiteSpace(Model.AddressInfoEmail))
                                { <div id="addemail">
                                    <a href="mailto:@Model.AddressInfoEmail" id="email"><span id="phAddEmailID">@Model.AddressInfoEmail</span></a>

                                    <div id="add_email_text" style="display: none;">
                                        <input class="form-control" id="update_add_emailId" type="text">
                                    </div>
                                </div>
                                <span id="email-error-msg" style="display:none;color:red;">Please enter valid email!</span>
                                }
                                else
                                {
                                    <div id="addemail">
                                        <a href="javascript:;" id="email" style="color:#525962!important;"><span id="phAddEmailID">Please enter Email 3</span></a>
                                        <div id="add_email_text" style="display: none;">
                                            <input class="form-control" id="update_add_emailId" type="text">
                                        </div>
                                    </div>
                                    <span id="email-error-msg" style="display:none;color:red;">Please enter valid email!</span>
                                }
                            </dd>*@

                        </dl>
                        @Html.Action("PartialReleationHistory", "Patients", new { PatientId = Model.PatientId })
                    </div>
                </div>
            </div>
            @Html.Partial("_patientComposeSection", Model)
            @Html.Partial("_patientCommunicationListSection", Model.lstColleaguesMessagesDoctor)
            <div class="row row-bordered mrgn-btm-20">
                <div class="col-lg-12 share-block">
                    <div class="row">
                        <div class="col-lg-6">
                            <h2>Patient Files</h2>
                        </div>
                        <div class="col-lg-6" id="_downloadZip" style="display:none;">
                            <div class="btn-group btn-holder pull-right">
                                <a href="@Url.Action("DownloadAsZip", "Patients" , new { PatientId=Model.PatientId })" class="btn btn-default btn-primary"><i class="ico-export"></i>Export File</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--For Images-->
            @Html.Partial("_patientUploadImagesSection", Model.lstUplodedImages)
            <input type="hidden" id="ImageCount" value=@Model.lstUplodedImages.Count />
            <!--For Documents-->
            @Html.Partial("_patientUploadImagesSection", Model.lstUplodedDocuments)
            <input type="hidden" id="DocumentCount" value=@Model.lstUplodedDocuments.Count />
            @Html.Partial("~/Views/Patients/PartialPatientFileUploadNew.cshtml", Model)
            <div class="row row-bordered mrgn-btm-10" id="planes">
                <div class="col-lg-12 share-block">
                    <div class="row">
                        <div class="col-lg-6">
                            <h2>Treatment Plans</h2>
                        </div>
                        <div class="col-lg-6">
                            <div class="btn-group btn-holder pull-right">
                                <a href="/Plan?PatientId=@Model.PatientId" class="btn btn-default btn-secondary"><i class="ico-add"></i>Add Plan</a>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="row row-bordered mrgn-btm-10"></div>*@
            </div>
            @Html.Action("GetTreatmentPlanDetails", new { PatientId = Model.PatientId })
            <br />
            <div class="row pateint_form_history">
                <div class="col-lg-12">
                    <div class="mrgn-btm-20">
                        <h2>Patient Forms</h2>
                    </div>
                    <div class="row row-bordered mrgn-btm-10"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12  mrgn-btm-10  acc-holder">
                    <ul class="acc-list">
                        <li>
                            <h4><a href="@Url.Action("Index", "DentalForms" , new { ZSTGHSK=Model.EncryptesPId, Form="PInfo" })" target="_blank" @*class="accordian-opener  acc-opener  collapsed" data-toggle="collapse" aria-expanded="false" *@>Personal Info</a></h4>
                        </li>
                        <li>
                            <h4><a href="@Url.Action("Index", "DentalForms" , new { ZSTGHSK=Model.EncryptesPId, Form="IInfo" })" target="_blank" @*class="accordian-opener  acc-opener  collapsed" data-toggle="collapse" aria-expanded="false" *@>Dental Insurance </a></h4>
                        </li>
                        <li>
                            <h4><a href="@Url.Action("Index", "DentalForms" , new { ZSTGHSK=Model.EncryptesPId, Form="MInfo" })" target="_blank" @*class="accordian-opener  acc-opener  collapsed" data-toggle="collapse" aria-expanded="false" *@>Medical History</a></h4>
                        </li>
                        <li>
                            <h4><a href="@Url.Action("Index", "DentalForms" , new { ZSTGHSK=Model.EncryptesPId, Form="DInfo" })" target="_blank" @*class="accordian-opener  acc-opener  collapsed" data-toggle="collapse" aria-expanded="false" *@>Dental History</a></h4>
                        </li>
                    </ul>
                </div>
            </div>
            @Html.Partial("_patientAppointmentSection", Model)
        </div>
    </div>
</main>
<input type="hidden" id="PageIndexCommPatientHistory" value="2" />
<input type="hidden" id="CurrentSortColCommPatientHistory" value="1" />
<div class="modal fade" id="remove_image" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <!--<div class="modal-header blue-bg">
                <button type="button" class="close close-circle" data-dismiss="modal">&times;</button>
                <h3 class="modal-title white">Edit Image</h3>
            </div>-->
            <div class="modal-body">
                <div class="text-center center">
                    <img class="mrgn-btm-20" src="~/Content/css/NewAdmin/images/Delete_Popup.png" alt="Delete" />
                    <p class="mrgn-btm-0" style="margin: 0;">Are you sure you want to remove image?</p>
                </div>
                <div class="modal-footer bdr-top-no">
                    <div class="btn-group btn-holder">
                        <button type="button" class="btn btn-default btn1" data-dismiss="modal">No</button>
                        <a type="button" href="@Url.Action("RemovePationtProfileImage","Patients", new { PatientId=Model.PatientId })" class="btn btn-default btn2 blue-bg mrgn-right-0">Yes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="addLogo" data-backdrop="static" data-keyboard="false" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header blue-bg">
                <button type="button" class="close close-circle" id="closelogo">&times;</button>
                <h3 class="modal-title white">Change Patient Profile Picture</h3>
            </div>
            <form action="/Patients/UpdatePatientProfileImage" id="frmPatientProfileImage" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    <input type="hidden" name="Left" id="Left" value="" />
                    <input type="hidden" name="Right" id="Right" value="" />
                    <input type="hidden" name="Top" id="Top" value="" />
                    <input type="hidden" name="Bottom" id="Bottom" value="" />
                    <div class="col-lg-12" id="cropContainer">
                        <div id="cropDisplay">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <br />
                            <ul class="list">
                                <li>
                                    <input type="hidden" name="PatientId" id="PatientId" value='@Model.PatientId' />
                                    <input type="file" id="fuImage" name="fuImage" onchange="return CheckIsImage();" />
                                    <span type="text" class="alert-danger" name="txtimage" id="txtimage"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer bdr-top-no">
                    <div class="btn-group btn-holder">
                        <button type="button" class="btn btn-default btn1" id="closelogos"><i class="ico-corss2"></i>Cancel</button>
                        <a type="button" href="javascript:;" class="btn btn-default btn2 blue-bg mrgn-right-0" id="btnSave" onclick="IsProfileImage()" name="Save"><i class="ico-save"></i>Save</a>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
<div class="modal fade" id="AddFamilyMembers" role="dialog">
</div>
<div class="modal fade" id="patient_file_edit" role="dialog">
</div>
<div class="modal fade" id="patient_file_delete" role="dialog">
</div>
<div id="patient_file_referral" role="dialog" class="modal fade">
</div>
<div id="patient_file_message" role="dialog" class="modal fade">
</div>
<div id="colleague_file_message" role="dialog" class="modal fade">
</div>
<div class="modal fade" id="colleague_refer_patient" role="dialog">
</div>
@{
    DateTime dDate;
    var dobDate = string.Empty;
    if (!string.IsNullOrEmpty(Model.DateOfBirth))
    {
        dDate = Convert.ToDateTime(Model.DateOfBirth);
        dobDate = dDate.ToString("yyyy-MM-dd");
    }
    else
    {
        dDate = DateTime.Now;
    }
}
<div id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px;
            top: 0px; width: 100%; height: 100%; background-color: White; z-index: 30001;
            opacity: 0.5; filter: alpha(opacity=70); display: none">
    <p style="position: absolute; top: 30%; left: 50%; color: White;">
        <img src="../../Images/Recordloading.gif">
    </p>
</div>
<div class="modal fade" id="patient_file_delete" role="dialog">
</div>
<input type="hidden" id="ExternalCall" value=@System.Configuration.ConfigurationManager.AppSettings.Get("DentalSite").ToString() />
<input type="hidden" id="SessionCall" value=@Session["UserId"] />
<input type="hidden" id="IsAuthorize" value=@Model.IsAuthorize />
        <script>
            var FeatureId=@Convert.ToInt32(BO.Enums.Common.Features.Attachments);
</script>
<script src="~/Scripts/select2.min.js"></script>
@*<script src="~/Content/file_upload/js/vendor/jquery.ui.widget.js"></script>*@
<script src="~/Scripts/Default/jquery.iframe-transport.js"></script>
@*<script src="~/Scripts/Default/jquery.fileupload.js"></script>*@
@*<script src="~/Scripts/Default/jquery.fileupload-ui.js"></script>*@
<script src="~/Scripts/Mask/Mask.js"></script>
<script src="~/Scripts/Default/application.js"></script>
<script src="~/Content/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="~/Scripts/ControllerJS/PatientHistory/PatientConfiguration.js"></script>
<script src="~/Scripts/JS/sitescript.js"></script>
<script src="~/Scripts/JS/togglebtn.js"></script>
<script>

            $('a[data-toggle="tooltip"]').tooltip({
                container: 'body',
                trigger: 'hover'
            });

            function crop_reset() {
                //$("#cropContainer").html('<div id="cropDisplay"></div>');
                $("#addLogo").modal('show');
                $("#fuImage").val(null);
                 }

            $('input[name="date"]').datepicker({
                format: 'mm/dd/yyyy',
                todayHighlight: true,
                autoclose: true,
                todayBtn: "linked",
                endDate: '+0d',
                "singleDatePicker": true,
                "showDropdowns": true,
                "autoApply": true
            });




            function cropremove_reset() {
                //$("#cropContainer").html('<div id="cropDisplay"></div>');
                $("#remove_image").modal('show');
                $("#fuImage").val(null);
            }

            $("#closelogo").click(function(){
                $("#cropDisplay").text('');
                $("#txtimage").text('');
                $('#addLogo').modal('hide');
            });

            $("#closelogos").click(function(){
                $("#cropDisplay").text('');
                $("#txtimage").text('');
                $('#addLogo').modal('hide');
            });

            $('body').removeClass('modal-open');

            $(".planing").click(function() {
                $('html,body').animate({
                    scrollTop: $("#planes").offset().top}, 2000);
            });
            /*
            $(".patinet_form").click(function() {
                $('html,body').animate({
                    scrollTop: $(".pateint_form_history").offset().top},
                    'slow');
            });*/
            $(".patinet_form").click(function() {
                $('html,body').animate({
                    scrollTop: $(".pateint_form_history").offset().top}
                , 2000);
            });
            $(".book_appiontment").click(function() {
                $('html,body').animate({
                    scrollTop: $(".book_appiontment_new").offset().top}
                , 2000);
            });
            function show() {
                document.getElementById("dThreshold").style.display = "block";
            }

            $(document).ready(function () {
        $('#patientHistoryscrollId').scroll(function () {
                    if ($(this).scrollTop() + $(this).innerHeight() >= $(this)[0].scrollHeight) {
                
                var Pageindex = $("#PageIndexCommPatientHistory").val();
                if (Pageindex != 0) {
                    var PatientId = $("#hdnPatientId").val();
                    var SortCol = $("#CurrentSortColCommPatientHistory").val();
                    var SortDir = $("#PatientHCol_" + SortCol).attr('sort-dir');
                    $("#PageIndexCommPatientHistory").val(parseInt(Pageindex, 10) + 1);
                    LoadPatientscrolling(PatientId, Pageindex, SortCol, SortDir);
                }
                    }
                });

            $('#update_phoneId').mask("(999) 999-9999");

                $("input").keyup(function (event) {
                    if (event.keyCode == 13) {
                        CallEditableMethod();
                    }
                });

                $('#id').click( function(e) {
                    e.preventDefault();
                    e.stopPropagation();
                    $('#id_text').toggle();
                    if($('#phAssPID').text() == 'Please enter id')
                    {
                        $('#update_AsspId').val();
                        $('#phAssPID').text('');
                    }
                    else
                    {
                        $('#update_AsspId').val($('#phAssPID').text());
                    }

                });
                $('#id_text').click( function(e) {
                    e.stopPropagation();
                });

                $('#gender').click( function(e) {
                    e.preventDefault();
                    e.stopPropagation();
                    $('#gender_text').toggle();
                    $('#update_genderId').val($('#phGenderID').text());
                });
                $('#gender_text').click( function(e) {
                    e.stopPropagation();
                });

                $('#dob').click( function(e) {
                    e.preventDefault();
                    e.stopPropagation();
                    $('#dob_text').toggle();
                    if('@Model.DateOfBirth' == '')
                    {
                        $('#update_dobId').val('');
                        $('#phDobID').hide();
                    }
                    else
                    {
                        var dates = new Date('@(dDate)');
                        var day = ("0" + dates.getDate()).slice(-2);
                        var month = ("0" + (dates.getMonth() + 1)).slice(-2);

                        var today = dates.getFullYear()+"-"+(month)+"-"+(day) ;
                        $('#update_dobId').attr('value', today);
                        $('#phDobID').hide();
                    }

                    //$('#update_dobId').val($('#phDobID').text());
                });
                $('#dob_text').click( function(e) {
                    e.stopPropagation();
                });

                $('#phone').click(function (e) {
                    e.preventDefault();
                    e.stopPropagation();
                    $('#phone_text').toggle();
                    if($('#phPhoneID').text() == 'Please enter phone number')
                    {
                        $('#update_phoneId').val();
                        $('#phPhoneID').text('');
                    }
                    else
                    {
                        $('#update_phoneId').val($('#phPhoneID').text());
                    }

                });
                $('#phone_text').click(function (e) {
                    e.stopPropagation();
                });



                //Editable address  for address field.
                $('#address').click(function (e) {
                    e.preventDefault();
                    e.stopPropagation();
                    $('#address_text').toggle();
                    if ($('#phAddressId').text() == 'Please enter address')
                    {
                        $('#update_addressId').val();
                        $('#phAddressId').hide();
                    }
                    else
                    {
                        $('#update_addressId').val($.trim($('#phAddressId').text()));
                        $('#phAddressId').hide();
                    }

                });
                $('#address_text').click(function (e) {
                    e.stopPropagation();
                });

                //Editable City for City field
                $('#city').click(function (e) {
                    e.preventDefault();
                    e.stopPropagation();
                    $('#city_text').toggle();
                    if ($('#phCityId').text() == 'Please enter City') {
                        $('#update_cityId').val();
                        $('#phCityId').hide();
                    }
                    else {
                        $('#update_cityId').val($.trim($('#phCityId').text()));
                        $('#phCityId').hide();
                    }

                     });
                    $('#city_text').click(function (e) {
                        e.stopPropagation();
                    });




                  //Editable State for state field.
                    $('#state').click(function (e) {
                        e.preventDefault();
                        e.stopPropagation();
                        $('#state_text').toggle();
                        if ($('#phStateId').text() == 'Please enter State') {
                            $('#update_stateId').val();
                            $('#phStateId').hide();
                        }
                        else {
                            var sel_state = $.trim($('#phStateId').text());
                            //$('#update_stateId').val($.trim($('#phStateId').text()));
                            $("#update_stateId option[text=" + sel_state + "]").attr("selected", "selected");
                            $('#phStateId').hide();
                        }

                    });
                    $('#state_text').click(function (e) {
                        e.stopPropagation();
                    });




                //Editable Zip for Zip field
                    $('#zip').click(function (e) {
                        e.preventDefault();
                        e.stopPropagation();
                        $('#zip_text').toggle();
                        if ($('#phZipId').text() == 'Please enter ZipCode') {
                            $('#update_zipId').val();
                            $('#phZipId').hide();
                        }
                        else {
                            $('#update_zipId').val($.trim($('#phZipId').text()));
                            $('#phZipId').hide();
                        }

                    });
                    $('#zip_text').click(function (e) {
                        e.stopPropagation();
                    });

                //Email 1
                    $('#email').click(function (e) {
                    e.preventDefault();
                    e.stopPropagation();
                    $('#email_text').toggle();
                    if($("#phEmailID").text() == 'Please enter email id')
                    {
                        $('#update_emailId').val();
                        $("#phEmailID").hide();
                    }
                    else
                    {
                        $('#update_emailId').val($('#phEmailID').text());
                        $('#phEmailID').hide();
                  }
                });
                $('#email_text').click(function (e) {
                    e.stopPropagation();
                });


                //secemail
                $('#secemail').click(function (e) {

                    e.preventDefault();
                    e.stopPropagation();
                    $('#sec_email_text').toggle();
                    if ($("#phSecEmailID").text() == 'Please enter secondry Email') {
                        $('#update_sec_emailId').val();
                        $("#phSecEmailID").hide();
                    }
                    else {
                        $('#update_sec_emailId').val($('#phSecEmailID').text());
                        $('#phSecEmailID').hide();
                    }
                });
                $('#sec_email_text').click(function (e) {
                    e.stopPropagation();
                });

                //Please enter Email 3
                $('#addemail').click(function (e) {
                    e.preventDefault();
                    e.stopPropagation();
                    $('#add_email_text').toggle();
                    if ($("#phAddEmailID").text() == 'Please enter Email 3') {
                        $('#update_add_emailId').val();
                        $("#phAddEmailID").hide();
                    }
                    else {
                        $('#update_add_emailId').val($('#phAddEmailID').text());
                        $('#phAddEmailID').hide();
                    }
                });
                $('#add_email_text').click(function (e) {
                    e.stopPropagation();
                });


                $('body').click( function() {
                    $('#id_text').hide();
                    $('#gender_text').hide();
                    $('#dob_text').hide();
                    $('#email_text').hide();
                    $('#phone_text').hide();
                    $('#address_text').hide();
                    $('#city_text').hide();
                    $('#zip_text').hide();
                    $('#state_text').hide();
                    $('#sec_email_text').hide();
                    $('#add_email_text').hide();

                    $('#phEmailID').show();
                    $('#phDobID').show();
                    $('#phAddressId').show();
                    $('#phCityId').show();
                    $('#phZipId').show();
                    $('#phStateId').show();
                    $('#phPhoneID').show();
                    $('#phSecEmailID').show();
                    $('#phAddEmailID').show();



                    if('@Model.DateOfBirth' == "") {
                        $('#phDobID').text('Please enter DOB');
                    }

                    @*if('@Model.Phone' == "") {
                        $('#phPhoneID').text('Please enter phone number');
                    }*@
                    @*if('@Model.Email' == "") {
                        $("#phEmailID").text('Please enter email id');
                    }

                    if('@Model.SecondryEmail' == "") {
                        $("#phEmailID").text('Please enter secondry Email');
                    }
                    if('@Model.AddressInfoEmail' == "") {
                        $("#phEmailID").text('Please enter Email 3');
                    }*@



                    if('@Model.AssignedPatientId' == "") {
                        $('#phAssPID').text('Please enter id');
                    }
                    if('@Model.ExactAddress' == "") {
                        $('#phAddressId').text('Please enter address');
                    }
                    if('@Model.City' == "") {
                        $('#phCityId').text('Please enter City');
                    }
                    if('@Model.ZipCode' == "") {
                        $('#phZipId').text('Please enter ZipCode');
                    }
                    @*if('@Model.State' == "") {
                        $('#phStateId').text('Please enter State');
                    }*@



                });
            });

            function OpenFamilyPopup(pID)
            {
                
                if(pID == '' || pID == undefined)
                {
                    pID = '@Model.PatientId';
                }
                var PatientId = pID;
                $("#search_listing_pageindex").val('1');
                var GetSearchText = null;
                if ($("#txtSearchPatient").val() == null) {
                    GetSearchText = null;
                } else if ($('#txtSearchPatient').length == 0) {
                    GetSearchText = null;
                }
                else {
                    if ($("#txtSearchPatient").val() == "Find patient to add as family member..." || $("#txtSearchPatient").val() == "Find colleague to refer to...") {
                        GetSearchText = null;
                    }
                    else {
                        GetSearchText = $("#txtSearchPatient").val();
                    }
                }
                $.post('@Url.Action("SearchPatientFromPopUp", "Patients")', { SearchText: GetSearchText, PatientId: PatientId }, function (data) {
                    $("#AddFamilyMembers").modal('show');
                    $("#AddFamilyMembers").html(data);
            $(".list-holder").on('scroll', function (event) {
                if ($(this).scrollTop() + $(this).innerHeight() >= $(this)[0].scrollHeight) {
                    var data = SearchPatientLI().toString();
                    $("#search_listing").append(data);
                }
            });
                });
            }

            function GotoBack() {
                history.back();
            }

            function CallEditableMethod()
            {
                var AssignedPatientId;
                if($("#update_AsspId").val() != '')
                {
                    AssignedPatientId = $("#update_AsspId").val();
                }
                else
                {
                    AssignedPatientId = '@Model.AssignedPatientId';
                }

                var GenderId = $("#update_genderId").val();
                if(GenderId.toLowerCase().replace(/\s/g, '') == 'male')
                {
                    GenderId = 0;
                }
                else if(GenderId.toLowerCase().replace(/\s/g, '') == 'female')
                {
                    GenderId = 1;
                }
                else
                {
                    if('@Model.Gender.ToLower().ToString()' == 'male')
                    {
                        GenderId = 0;
                    }
                    else if('@Model.Gender.ToLower().ToString()' == 'female')
                    {
                        GenderId = 1;
                    }
                }

                var DobId;
                if($("#update_dobId").val() != '')
                {
                    DobId = $("#update_dobId").val();
                }
                else
                {
                    DobId = '@Model.DateOfBirth';
                }

                // Changes for dynamic phone number

                var dynephone = $("#Colleaglst_8").find(':selected').attr('id');
                var business_phone = "";
                var mobile_phone = "";
                var work_phone = "";
                var fax = "";

                if (dynephone == 1) {
                    business_phone = $("#update_phoneId").val();
                }
                else if (dynephone == 2) {
                    mobile_phone = $("#update_phoneId").val();
                }
                else if (dynephone == 3) {
                    work_phone = $("#update_phoneId").val();
                }
                else if (dynephone == 4) {

                    //$('#update_phoneId').mask("(999) 999-9999");//Need to unmask this for fax.
                    fax = $("#update_phoneId").val();
                }


                var PhoneId;
                if (business_phone != '')
                {
                    PhoneId = business_phone;
                }
                else
                {
                    PhoneId = '@Model.Phone';
                }

                var Mobile;
                if (mobile_phone != '')
                {
                    Mobile = mobile_phone;
                }
                else
                {
                    Mobile = '@Model.Mobile';
                }

                var WorkPhone;
                if (work_phone != '')
                {
                    WorkPhone = work_phone;
                }
                else
                {
                    WorkPhone = '@Model.Workphone';
                }

                var Fax;
                if (fax != '')
                {
                    Fax = fax;
                }
                else
                {
                    Fax = '@Model.Fax';
                }



                var Email = $("#update_emailId").val();

                //Change for Dynamic email


                var dynemail = $("#Colleaglst_9").find(':selected').attr('data-id');
                var patient_email = "";
                var patient_sec_email = "";
                var patient_addinfo_email = "";

                if (dynemail == 1)
                {
                    patient_email = $("#update_emailId").val();
                }
                if (dynemail == 2) {
                    var patient_sec_email = $("#update_sec_emailId").val();
                }
                if (dynemail == 3) {
                    //var patient_addinfo_email = $("#Colleaglst_9 option:selected").val();
                    var patient_addinfo_email = $("#update_add_emailId").val();
                }

                var EmailId;
                if (patient_email != '')
                {
                    if (isValidEmailAddress(patient_email))
                    {
                        EmailId = patient_email;
                    }
                }
                else
                {
                    if('@Model.Email' == '')
                    {
                        EmailId = '';
                    }
                    else
                    {
                        EmailId = '@Model.Email';
                    }
                }

                var SecondryEmailId;
                if (patient_sec_email != '') {
                    if (isValidEmailAddress(patient_sec_email)) {
                        SecondryEmailId = patient_sec_email;
                    }
                }
                else
                {
                    if('@Model.SecondryEmail' == '')
                    {
                        SecondryEmailId = '';
                    }
                    else
                    {
                        SecondryEmailId = '@Model.SecondryEmail';
                    }

                }

                var AddInfoEmailId;
                if (patient_addinfo_email != '') {
                    if (isValidEmailAddress(patient_addinfo_email)) {
                        AddInfoEmailId = patient_addinfo_email;
                    }
                }
                else
                {
                    if('@Model.AddressInfoEmail' == '')
                    {
                        AddInfoEmailId = '';
                    }
                    else
                    {
                        AddInfoEmailId = '@Model.AddressInfoEmail';
                    }

                }



                var Address;
                if ($("#update_addressId").val() != '') {
                    Address = $("#update_addressId").val();
                }
                else
                {
                    Address = '@Model.ExactAddress';
                }


                // City
                var City;
                if ($("#update_cityId").val() != '') {
                    City = $("#update_cityId").val();
                }
                else
                {
                    City = '@Model.City';
                }

                //Zip
                var ZipCode
                if ($("#update_zipId").val() != '') {
                    ZipCode = $("#update_zipId").val();
                }
                else
                {
                    ZipCode = '@Model.ZipCode';
                }

                //State

                var State = $("#update_stateId").val();
                if (State == "Select State") {
                    State = "";
                }
                else
                {
                    State = State;
                }



                
                var model = {
                    'AssignedPatientId': AssignedPatientId,
                    'GenderId': GenderId,
                    'DobId': DobId,
                    'PhoneId': PhoneId,
                    'EmailId': EmailId,
                    'PatientId': @Model.PatientId,
                    'AddressId': Address,
                    'SecondryEmail': SecondryEmailId,
                    'AddressInfoEmail': AddInfoEmailId,
                    'Mobile': Mobile,
                    'Workphone': WorkPhone,
                    'Fax': Fax,
                    'City': City,
                    'ZipCode': ZipCode,
                    'State': State


                };
                $.ajaxSetup({ async: false });
                $.post("@Url.Action("UpdateEditablePatientDetails", "Patients")", { obj: model}, function (response) {
                    if (response.Success) {

                        //Address Info Phone.

                        if($.trim(PhoneId) == '')
                        {
                            $('#phPhoneID').text('Please enter phone number');
                        }
                        else
                        {
                            $('#phPhoneID').text(PhoneId);
                        }

                        //Mobile number
                        if ($.trim(Mobile) == '') {
                            $('#phPhoneID').text('Please enter Mobile number');
                        }
                        else {
                            $('#phPhoneID').text(Mobile);
                        }

                        //Workphone
                        if ($.trim(WorkPhone) == '') {
                            $('#phPhoneID').text('Please enter WorkPhone');
                        }
                        else {
                            $('#phPhoneID').text(WorkPhone);
                        }

                        //Fax
                        if ($.trim(Fax) == '') {
                            $('#phPhoneID').text('Please enter WorkPhone');
                        }
                        else {
                            $('#phPhoneID').text(Fax);
                        }



                        //Changes for address
                        if ($.trim(Address) == '') {
                            
                            $('#phAddressId').text('Please enter address');
                        }
                        else {
                            $('#phAddressId').text(Address);
                            $('#phAddressId').show();
                        }



                        if($.trim(EmailId) == '')
                        {
                           // $('#phEmailID').text('Please enter email id');
                            $('#phEmailID').attr('placeholder','Please enter email id');
                        }
                        else
                        {
                            $('#phEmailID').text(EmailId);
                            $('#phEmailID').show();
                        }

                        // Secondry Email
                        if ($.trim(SecondryEmailId) == '') {
                            //$('#phEmailID').text('Please enter email id');
                            $('#phSecEmailID').attr('placeholder','Please enter email id');
                        }
                        else {
                            $('#phSecEmailID').text(SecondryEmailId);
                            $('#phSecEmailID').show();
                        }

                        //AddressInfo Email.
                        if ($.trim(AddInfoEmailId) == '') {

                            $('#phAddEmailID').text('Please enter email id');
                        }
                        else {
                            $('#phAddEmailID').text(AddInfoEmailId);
                            $('#phAddEmailID').show();
                        }

                        //City
                        if ($.trim(City) == '') {
                            $('#phCityId').text('Please enter City');
                        }
                        else {
                            $('#phCityId').text(City);
                            $('#phCityId').show();

                        }


                        //Zipcode
                        if ($.trim(ZipCode) == '') {
                            $('#phZipId').text('Please enter ZipCode');
                        }
                        else {
                            $('#phZipId').text(ZipCode);
                            $('#phZipId').show();

                        }

                        //State
                        if ($.trim(State) == '') {
                            $('#phStateId').text('Please enter State');
                        }
                        else {
                            $('#phStateId').text(State);
                            $('#phStateId').show();
                        }

                        if(DobId != '')
                        {
                            var date= DobId.split(' ')[0];
                            var d=new Date(date);
                            var dd=d.getDate();
                            var mm=d.getMonth()+1;
                            var yy=d.getFullYear();
                            $('#phDobID').text(dd+"/"+mm+"/"+yy);
                            $('#phDobID').show();
                            var today = new Date();
                            var age = Math.floor((today-d) / (365.25 * 24 * 60 * 60 * 1000));
                            if(age == 1 || age == 0)
                            {
                                $('#PatientAge').text('('+age+' year old)');
                            }
                            else
                            {
                                $('#PatientAge').text('('+age+' years old)');
                            }
                        }

                        if($.trim(AssignedPatientId) == '')
                        {
                            $('#phAssPID').text('Please enter id');
                        }
                        else
                        {
                            $('#phAssPID').text(AssignedPatientId);
                        }

                        if(GenderId == 1)
                        {
                            $('#phGenderID').text('Female');
                        }
                        else if(GenderId == 0)
                        {
                            $('#phGenderID').text('Male');
                        }
                        else
                        {
                            $('#phGenderID').text('');
                        }
                        $('#email_text').hide();
                        $('#gender_text').hide();
                        $('#phone_text').hide();
                        $('#id_text').hide();
                        $('#dob_text').hide();
                        $('#address_text').hide();
                        $('#city_text').hide();
                        $('#zip_text').hide();
                        $('#state_text').hide();
                        $('#sec_email_text').hide();
                        $('#add_email_text').hide();
                    }
                    else {

                    }
                    $("#email-error-msg").css('display','none');
                });
                $.ajaxSetup({ async: true });
            }
            function isValidEmailAddress(emailAddress) {
                var pattern = new RegExp(/^[+a-zA-Z0-9._-]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/i);
                return pattern.test(emailAddress);
            }
            function OpenReferPatientPopup(id) {
                $("#search_listing_pageindex").val('1');
                var GetSearchText = null;
                if ($("#txtSearchPatient").val() == null) {
                    GetSearchText = null;
                } else if ($('#txtSearchPatient').length == 0) {
                    GetSearchText = null;
                }
                else {
                    if ($("#txtSearchPatient").val() == "Find patient to add as family member..." || $("#txtSearchPatient").val() == "Find colleague to refer to...") {
                        GetSearchText = null;
                    }
                    else {
                        GetSearchText = $("#txtSearchPatient").val();
                    }
                }
                $.post("/Patients/GetColleagueListForReferralPopup", { searchtext: "" }, function (data) {
                    if (data != "") {
                        $("#colleague_refer_patient").modal('show');
                        $("#colleague_refer_patient").html(data);
                    }
                })
            }
            function OpenSendReferralPopup(pid) {
                //var PageIndex = $("#ColleaguPageIndex").val();
                var PatientId = pid;
                $('#hdnPatientId').val(pid);
                var GetSearchText = null;
                if ($("#txtSearchColleague").val() == null) {
                    GetSearchText = null;
                } else if ($('#txtSearchColleague').length == 0) {
                    GetSearchText = null;
                }
                else {
                    if ($('txtSearchColleague').val() == 'Find colleague to refer to...') {
                        GetSearchText = null;
                    }
                    else {
                        GetSearchText = $('txtSearchColleague').val();
                    }
                }
                $.ajax({
                    url: '/Patients/NewGetListSearchColleagueFromPopUp',
                    type: 'post',
                    data: { SearchText: GetSearchText },
                    success: function (data) {

                        $("#colleague_refer_patient").modal('show');
                        $("#colleague_refer_patient").html(data);
                        $(".list-holder").bind('scroll', function (event) {
                            if ($(this).scrollTop() + $(this).innerHeight() >= $(this)[0].scrollHeight) {
                                var data = GetColleaguesByScroll().toString();
                                if (data.indexOf('<center>No record found.</center>') > -1) {
                                    $('.referral-list').append(data);
                                    $("#ColleaguPageIndex").val("-1");
                                }
                                else {
                                    $('.referral-list').append(data);
                                    $("#ColleaguPageIndex").val(PageIndex);
                                }
                            }
                        });
                    }
                })
            }
            function GetColleaguesByScroll() {
                var datalist = '';
                $.ajaxSetup({ async: false });
                var PageIndex = $("#ColleaguPageIndex").val();
                var SearchText = $("#txtSearchPatient").val();
                if (PageIndex == "-1") {
                    return "";
                } else {
                    PageIndex = parseInt(PageIndex) + parseInt(1);
                    $.ajax({
                        url: '/Patients/NewGetColleagueListForSendReferralPopUpOnScroll',
                        type: 'post',
                        data: { PageIndex: PageIndex, SearchText: SearchText },
                        success: function (data) {
                            if (data == '' || data.trim() == '<li><center>No more record found.</center></li>') {

                                $("#ColleaguPageIndex").val("-1");
                            }
                            else {
                                $("#ColleaguPageIndex").val(PageIndex);
                            }
                            datalist = data;
                        }
                    });
                }
                $.ajaxSetup({ async: true });
                return datalist;
            }
            var timer;
            function SearchColleagueOnkeyPress() {
                var ctrl = $("#txtSearchColleague").val();
                clearTimeout(timer);
                var ms = 500; // milliseconds
                timer = setTimeout(function () {
                    Onkeypresscolleaguelist(ctrl);
                }, ms);
            }
            //Bind Colleagues on scroll.
            function Onkeypresscolleaguelist(ctrl) {
                var value = ctrl.toLowerCase().trim();
                if ($.trim(value).length == 0) {
                    value = "";
                }
                $('#divLoading').show();
                $.ajaxSetup({ async: false });
                $.ajax({
                    url: "/Patients/NewSearchColleagueFromPopUp",
                    type: 'post',
                    data: { SearchText: value },
                    success: function (data) {
                        $('#divLoading').hide();
                        $('.referral-list').html('');
                        $('.referral-list').append(data);
                    }
                });

                $.ajaxSetup({ async: true });
                $(".list-holder").bind('scroll', function (event) {
                    if ($(this).scrollTop() + $(this).innerHeight() >= $(this)[0].scrollHeight) {
                        var data = GetColleaguesByScroll().toString();
                        $(this).append(data);
                    }
                });
            }

            function SearchColleague() {
                $("#ColleaguPageIndex").val("1");
                var GetSearchText = null;
                if ($('#txtSearchColleague').length == 0) {
                    GetSearchText = null;
                } else {
                    GetSearchText = document.getElementById('txtSearchColleague').value;
                    if (GetSearchText == "Find colleague to refer to...") {
                        GetSearchText = null;
                    }
                }
                $.ajaxSetup({ async: false });
                $.ajax({
                    url: "/Patients/NewGetListSearchColleagueFromPopUp",
                    type: 'post',
                    data: { SearchText: GetSearchText },
                    success: function (data) {
                        $('.referral-list').append(data);
                    }
                })

                $.ajaxSetup({ async: true });
                $(".list-holder").bind('scroll', function (event) {
                    if ($(this).scrollTop() + $(this).innerHeight() >= $(this)[0].scrollHeight) {
                        var data = GetColleaguesByScroll().toString();
                        $(this).append(data);
                    }
                });
            }
            function SelectColleague(cid) {
                $(".referral-list > li").each(function () { $(this).removeClass('active'); });
                if ($("." + cid).hasClass('active')) {
                    $("." + cid).removeClass('active');
                } else {
                    $("." + cid).addClass('active');
                    $("#hdnColleagueId").val(cid);
                }
            }
            function ReferralSend() {

                var PatientId = $('#hdnPatientId').val();
                var ColleagueId = $("#hdnColleagueId").val();
                if (ColleagueId == null || ColleagueId == "") {
                    $("#NewRefferalPopUp").modal('show');
                    //$('#patient_delete').modal('show');
                    $.toaster({ priority: 'warning', title: 'Notice', message: 'Please select at least one colleague.' });
                    //$('#btn_yes').hide();
                    //$('#btn_no').html('Ok');
                    //$('.modal-footer').css('text-align', 'center');
                    //$('#desc_message').text('Please select at-least one colleague.');
                }
                else {
                    window.location.href = '/Referrals/Referral?PatientId=' + PatientId + '&ColleagueIds=' + ColleagueId;
                }
            }

            function ChangePhone()
            {

                var phone = $('#Colleaglst_8').val();
                var dynephone = $("#Colleaglst_8").find(':selected').attr('data-id');

                if (dynephone == 4) {
                    $("#update_phoneId").unmask();

                    $("#update_phoneId").attr("maxlength", "15");
                    $('#update_phoneId').keydown(function (e) {
                        if (e.shiftKey || e.ctrlKey || e.altKey) {
                            e.preventDefault();
                        } else {
                            var key = e.keyCode;
                            if (!((key == 8) || (key == 46) || (key >= 35 && key <= 40) || (key >= 48 && key <= 57) || (key >= 96 && key <= 105))) {
                                e.preventDefault();
                            }
                        }
                    });
                    $('#phPhoneID').text(phone);
                }
                else {
                    $('#update_phoneId').mask("(999) 999-9999");
                    $('#phPhoneID').text(phone);

                }
            }
            function ChangeEmail()
            {
                var email = $('#Colleaglst_9').val();
                var emailtype = $("#Colleaglst_9").find(':selected').attr('data-id');
                if (emailtype == 1) {
                    $('#email').show();
                    $('#secemail').hide();
                    $('#addemail').hide();
                    $("#phEmailID").text(email);
                } else if (emailtype == 2) {
                    $('#email').hide();
                    $('#secemail').show();
                    $('#addemail').hide();
                    $("#phSecEmailID").text(email);
                } else if (emailtype == 3) {
                    $('#email').hide();
                    $('#secemail').hide();
                    $('#addemail').show();
                    $("#phAddEmailID").text(email);
                }
            }
            //$("#Colleaglst_8").on('change', function () {
            //    var ChangedValue = $(this).val();
            //    $("#phone").html(ChangedValue + '<a href="#" class="delete"><i class="ico- corss"></i></a>');
            //});
            //$("#Colleaglst_9").on('change', function () {
            //    var ChangeEmail = $(this).val();
            //    $("#email").html(ChangeEmail + '<a href="#" class="delete"><i class="ico- corss"></i></a>');
            //});
            //$(".phonedel").on('click', function () {
            //    
            //    var id =  $("#Colleaglst_8").attr('id');
            //});
            //$(".emaildel").on('click', function () {
            //    var id = $("#Colleaglst_9 option:selected").text();
            //    $("#email_text").show();
            //    $("#txtEmail").val();
            //})
</script>
