﻿@model List<NewRecordlinc.Models.Colleagues.ReferralDetails>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="~/Content/Appointment/Css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/backend.css" rel="stylesheet" />
    @foreach (var lst in Model)
    {
        <div class="message_content" style="float: left;width:100%;position:relative;">
            <div class="inner" style="margin-top:0px !important;padding:15px;">
                <div id="view_referrals">
                    <div class="patient_info">
                        <h4 class="sub_title">
                            <span>@lst.AssignedPatientId</span><b style="cursor:pointer;" onclick="ViewPatientHistory('@lst.PatientId')">@lst.FullName</b>
                        </h4>

                        <ul class="patient_info">
                            <li class="first" style="width:57% !important">
                                @if (!String.IsNullOrEmpty(lst.ProfileImage))
                                {
                                    <figure class="thumb"><img width="104" height="104" alt="Ashlyn" src="@Convert.ToString(System.Configuration.ConfigurationManager.AppSettings.Get(" ImageBank"))@lst.ProfileImage "></figure>
                                }
                                else
                                {
                                    <figure class="thumb"><img width="104" height="104" alt="Ashlyn" src="@System.Configuration.ConfigurationManager.AppSettings.Get(" DefaultDoctorImage")"></figure>
                                }
                                <ul class="list">
                                    @{
                                        var Datetime = Convert.ToDateTime(lst.CreationDate).ToString(System.Configuration.ConfigurationManager.AppSettings["DateFormateMMMddyyyy"]).Split(' ');
                                        var CreationDate = Datetime[0];
                                        var CreationTime = Datetime[1] + ", " + Datetime[2];
                                    }

                                    <li><label>Referral sent date:</label><label style="width:100px;"> @CreationDate @CreationTime</label></li>
                                    <li><label>Referred by:</label><label id="referredby"> @lst.SenderName </label></li>
                                    <li><label>Referred to:</label><label style="width:100px;"> @lst.ReceiverName</label></li>
                                    @if (!String.IsNullOrEmpty(lst.Location))
                                    {
                                        <li><label>Location:</label><label style="width:111px !important;line-height:17px;"><span> @lst.Location </span></label></li>
                                    }
                                </ul>
                                <div class="clear"></div>
                            </li>
                            <li class="second" style="width:42.5% !important">
                                <ul class="list">
                                    @if (!String.IsNullOrEmpty(lst.EmailAddress))
                                    {
                                        <li><i class="email"></i>@lst.EmailAddress</li>
                                    }
                                    @if (!String.IsNullOrEmpty(lst.Gender))
                                    {
                                        <li><label>Gender:</label>@lst.Gender</li>
                                    }
                                    @if (!String.IsNullOrEmpty(lst.DateOfBirth))
                                    {
                                        <li><label>Date of Birth:</label>@(!string.IsNullOrEmpty(lst.DateOfBirth) ? Convert.ToDateTime(lst.DateOfBirth).ToString(System.Configuration.ConfigurationManager.AppSettings["DateFormateMMMddyyyy"]) : "")</li>
                                    }

                                </ul>
                            </li>
                            <br class="clear">
                        </ul>
                        <div class="clear">
                        </div>
                    </div>
                    <div class="table_container">
                        <h4 class="sub_title">Regarding</h4>
                        <ul class="check_listing">

                            @{
                                string[] strRegardingNo = lst.RegardOption.Split(new char[] { ',' }, StringSplitOptions.RemoveEmptyEntries);
                                foreach (String item in strRegardingNo)
                                {
                                    if (!string.IsNullOrEmpty(item))
                                    {
                                        if ((Convert.ToInt32(item) - 1) < lst.ReferralRegarding.Length)
                                        {
                                            <li><label>@lst.ReferralRegarding[Convert.ToInt32(item) - 1]</label></li>
                                        }


                                    }
                                }
                            }
                            @if (!String.IsNullOrEmpty(lst.OtherComments))
                            {
                                <li><label>@lst.OtherComments</label></li>
                            }

                        </ul>
                    </div>
                    <div class="table_container">
                        <h4 class="sub_title">Request</h4>
                        <ul class="check_listing">
                            @{
                                string[] strRequest = lst.RequestingOption.Split(new char[] { ',' }, StringSplitOptions.RemoveEmptyEntries);
                                foreach (String item in strRequest)
                                {
                                    if (!string.IsNullOrEmpty(item))
                                    {
                                        if ((Convert.ToInt32(item) - 1) < lst.ReferralRequest.Length)
                                        {
                                            <li><label>@lst.ReferralRequest[Convert.ToInt32(item) - 1]</label></li>
                                        }

                                    }
                                }
                            }
                            @if (!String.IsNullOrEmpty(lst.RequestComments))
                            {
                                <li><label>@lst.RequestComments</label></li>
                            }

                        </ul>
                    </div>
                    <div class="table_container">
                        <h4 class="sub_title"> Visual Instructions</h4>
                        <div class="visuals">
                            <div class="left panel">
                                <h5>Permanent Teeth</h5>
                                <div class="block blockborder">
                                    <p>Right</p>
                                    <ul class="teeth_listing">
                                        <div class="permanentteeth">
                                            <li><p>1</p><input type="checkbox" checked="@lst.lstSelectedTeeths.Contains(1)" disabled id="1" /></li>
                                            <li><p>2</p><input type="checkbox" checked="@lst.lstSelectedTeeths.Contains(2)" disabled id="2" /></li>
                                            <li><p>3</p><input type="checkbox" checked="@lst.lstSelectedTeeths.Contains(3)" disabled id="3" /></li>
                                            <li><p>4</p><input type="checkbox" checked="@lst.lstSelectedTeeths.Contains(4)" disabled id="4" /></li>
                                            <li><p>5</p><input type="checkbox" checked="@lst.lstSelectedTeeths.Contains(5)" disabled id="5" /></li>
                                            <li><p>6</p><input type="checkbox" checked="@lst.lstSelectedTeeths.Contains(6)" disabled id="6" /></li>
                                            <li><p>7</p><input type="checkbox" checked="@lst.lstSelectedTeeths.Contains(7)" disabled id="7" /></li>
                                            <li><p>8</p><input type="checkbox" checked="@lst.lstSelectedTeeths.Contains(8)" disabled id="8" /></li>
                                        </div>
                                        <li><p>32</p><input type="checkbox" checked="@lst.lstSelectedTeeths.Contains(32)" disabled id="32" /></li>
                                        <li><p>31</p><input type="checkbox" checked="@lst.lstSelectedTeeths.Contains(31)" disabled id="31" /></li>
                                        <li><p>30</p><input type="checkbox" checked="@lst.lstSelectedTeeths.Contains(30)" disabled id="30" /></li>
                                        <li><p>29</p><input type="checkbox" checked="@lst.lstSelectedTeeths.Contains(29)" disabled id="29" /></li>
                                        <li><p>28</p><input type="checkbox" checked="@lst.lstSelectedTeeths.Contains(28)" disabled id="28" /></li>
                                        <li><p>27</p><input type="checkbox" checked="@lst.lstSelectedTeeths.Contains(27)" disabled id="27" /></li>
                                        <li><p>26</p><input type="checkbox" checked="@lst.lstSelectedTeeths.Contains(26)" disabled id="26" /></li>
                                        <li><p>25</p><input type="checkbox" checked="@lst.lstSelectedTeeths.Contains(25)" disabled id="25" /></li>

                                    </ul>
                                </div>
                                <div class="block">
                                    <p>Left</p>
                                    <ul class="teeth_listing">
                                        <div class="permanentteeth">
                                            <li><p>9</p><input type="checkbox" checked="@lst.lstSelectedTeeths.Contains(9)" disabled id="9" /></li>
                                            <li><p>10</p><input type="checkbox" checked="@lst.lstSelectedTeeths.Contains(10)" disabled id="10" /></li>
                                            <li><p>11</p><input type="checkbox" checked="@lst.lstSelectedTeeths.Contains(11)" disabled id="11" /></li>
                                            <li><p>12</p><input type="checkbox" checked="@lst.lstSelectedTeeths.Contains(12)" disabled id="12" /></li>
                                            <li><p>13</p><input type="checkbox" checked="@lst.lstSelectedTeeths.Contains(13)" disabled id="13" /></li>
                                            <li><p>14</p><input type="checkbox" checked="@lst.lstSelectedTeeths.Contains(14)" disabled id="14" /></li>
                                            <li><p>15</p><input type="checkbox" checked="@lst.lstSelectedTeeths.Contains(15)" disabled id="15" /></li>
                                            <li><p>16</p><input type="checkbox" checked="@lst.lstSelectedTeeths.Contains(16)" disabled id="16" /></li>
                                        </div>
                                        <li><p>24</p><input type="checkbox" checked="@lst.lstSelectedTeeths.Contains(24)" disabled id="24" /></li>
                                        <li><p>23</p><input type="checkbox" checked="@lst.lstSelectedTeeths.Contains(23)" disabled id="23" /></li>
                                        <li><p>22</p><input type="checkbox" checked="@lst.lstSelectedTeeths.Contains(22)" disabled id="22" /></li>
                                        <li><p>21</p><input type="checkbox" checked="@lst.lstSelectedTeeths.Contains(21)" disabled id="21" /></li>
                                        <li><p>20</p><input type="checkbox" checked="@lst.lstSelectedTeeths.Contains(20)" disabled id="20" /></li>
                                        <li><p>19</p><input type="checkbox" checked="@lst.lstSelectedTeeths.Contains(19)" disabled id="19" /></li>
                                        <li><p>18</p><input type="checkbox" checked="@lst.lstSelectedTeeths.Contains(18)" disabled id="18" /></li>
                                        <li><p>17</p><input type="checkbox" checked="@lst.lstSelectedTeeths.Contains(17)" disabled id="17" /></li>

                                        <br class="clear">
                                    </ul>
                                </div>
                            </div>
                            <div class="right panel">
                                <h5>Primary Teeth</h5>
                                <div class="block blockborder">
                                    <p>Right</p>
                                    <ul class="teeth_listing">
                                        <div class="permanentteeth">
                                            <li><p>A</p><input type="checkbox" checked="@lst.lstSelectedTeeths.Contains(33)" disabled id="33" /></li>
                                            <li><p>B</p><input type="checkbox" checked="@lst.lstSelectedTeeths.Contains(34)" disabled id="34" /></li>
                                            <li><p>C</p><input type="checkbox" checked="@lst.lstSelectedTeeths.Contains(35)" disabled id="35" /></li>
                                            <li><p>D</p><input type="checkbox" checked="@lst.lstSelectedTeeths.Contains(36)" disabled id="36" /></li>
                                            <li><p>E</p><input type="checkbox" checked="@lst.lstSelectedTeeths.Contains(37)" disabled id="37" /></li>
                                        </div>
                                        <li><p>T</p><input type="checkbox" checked="@lst.lstSelectedTeeths.Contains(52)" disabled id="52" /></li>
                                        <li><p>S</p><input type="checkbox" checked="@lst.lstSelectedTeeths.Contains(51)" disabled id="51" /></li>
                                        <li><p>R</p><input type="checkbox" checked="@lst.lstSelectedTeeths.Contains(50)" disabled id="50" /></li>
                                        <li><p>Q</p><input type="checkbox" checked="@lst.lstSelectedTeeths.Contains(49)" disabled id="49" /></li>
                                        <li><p>P</p><input type="checkbox" checked="@lst.lstSelectedTeeths.Contains(48)" disabled id="48" /></li>
                                        <br class="clear">
                                    </ul>
                                </div>
                                <div class="block">
                                    <p>Left</p>
                                    <ul class="teeth_listing">
                                        <div class="permanentteeth">
                                            <li><p>F</p><input type="checkbox" checked="@lst.lstSelectedTeeths.Contains(38)" disabled id="38" /></li>
                                            <li><p>G</p><input type="checkbox" checked="@lst.lstSelectedTeeths.Contains(39)" disabled id="39" /></li>
                                            <li><p>H</p><input type="checkbox" checked="@lst.lstSelectedTeeths.Contains(40)" disabled id="40" /></li>
                                            <li><p>I</p><input type="checkbox" checked="@lst.lstSelectedTeeths.Contains(41)" disabled id="41" /></li>
                                            <li><p>J</p><input type="checkbox" checked="@lst.lstSelectedTeeths.Contains(42)" disabled id="42" /></li>
                                        </div>
                                        <li><p>O</p><input type="checkbox" checked="@lst.lstSelectedTeeths.Contains(47)" disabled id="47" /></li>
                                        <li><p>N</p><input type="checkbox" checked="@lst.lstSelectedTeeths.Contains(46)" disabled id="46" /></li>
                                        <li><p>M</p><input type="checkbox" checked="@lst.lstSelectedTeeths.Contains(45)" disabled id="45" /></li>
                                        <li><p>L</p><input type="checkbox" checked="@lst.lstSelectedTeeths.Contains(44)" disabled id="44" /></li>
                                        <li><p>K</p><input type="checkbox" checked="@lst.lstSelectedTeeths.Contains(43)" disabled id="43" /></li>
                                        <br class="clear">
                                    </ul>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    @if (lst.lstImages.Count > 0)
                    {
                        <div class="table_container">
                            <h4 class="sub_title">Images</h4>
                        </div>
                        <ul class="list">
                            @foreach (var objAttachment in lst.lstImages)
                            {
                                string AttachmentName = objAttachment.AttachmentName;
                                AttachmentName = AttachmentName.Substring(AttachmentName.ToString().LastIndexOf("$") + 1);
                                <li onclick="Attachementpopup('@Convert.ToString(System.Configuration.ConfigurationManager.AppSettings.Get(" ImageBank"))@objAttachment.AttachmentName','Image')" style="cursor: pointer;"><span><i class="attach"></i>@AttachmentName</span></li>
                            }
                        </ul>
                    }
                    @if (lst.lstDocuments.Count > 0)
                    {
                        <div class="table_container">
                            <h4 class="sub_title">Documents</h4>
                        </div>
                        <ul class="list">
                            @foreach (var objAttachment in lst.lstDocuments)
                            {
                                string AttachmentName = objAttachment.AttachmentName;
                                AttachmentName = AttachmentName.Substring(AttachmentName.ToString().LastIndexOf("$") + 1);
                                <li onclick="Attachementpopup('@Convert.ToString(System.Configuration.ConfigurationManager.AppSettings.Get(" ImageBank"))@objAttachment.AttachmentName','Doc')" style="cursor: pointer;"> <span><i class="attach"></i>@AttachmentName</span></li>
                            }
                        </ul>
                    }
                    <div class="table_container">
                        <h4 class="sub_title">Comments</h4>
                        <div class="comments"><label>@lst.Comments</label></div>
                    </div>
                </div>
            </div>
        </div>

                                }
    <script src="~/Content/js/jquery-1.9.1.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            window.print();
        });
    </script>
