﻿@model NewRecordlinc.Models.Patients.PatientMessagesOfDoctor
@{
    Layout = null;
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link href="~/Content/Appointment/Css/bootstrap.css" rel="stylesheet" />
<link href="~/Content/css/backend.css" rel="stylesheet" />
<style>
    .lblwidth {
        width: 65px !important;
    }

    .customerclsrpl:hover {
        color: white !important;
    }
</style>
<html>
<head>
    <script src="~/Content/js/jquery-1.9.1.js"></script>
    <title>PrintPatientMessage</title>
</head>
<body  style="padding:20px;">
   
        <div class="modal-header">
            <img src="~/Images/index/logo.png" />
            <ul class="list" style="margin:10px;">
                <li>
                    <label class="lblwidth">From:</label><lable>@Model.FromField &lt;@Model.PatientEmail&gt;</lable>
                </li>
                <li>
                    <label class="lblwidth">To:</label>@Model.ToField  &lt;@Model.DoctorEmail&gt;
                </li>
                <li>
                    <label class="lblwidth">Date:</label>@Model.CreationDate
                </li>
                @if (Model.lstattachement.Count > 0)
                {
                foreach (var item in Model.lstattachement)
                {
                    <li>
                        <span>@item.AttachementName</span>
                    </li>
                }
                }
            </ul>
        </div>
        <div class="modal-body" id="">
            <table>
                <tr>
                    <td style="color: rgba(0, 0, 0, 0.54);">@Html.Raw(Model.Message) </td>
                 </tr>
              
            </table>
        </div>
   
</body>
<script type="text/javascript">
    $(document).ready(function () {
        window.print();
    });
</script>
</html>
