﻿@model NewRecordlinc.Models.Colleagues.ColleaguesMessagesOfDoctor
@{
    Layout = null;
}
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="~/Content/Appointment/Css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/backend.css" rel="stylesheet" />
    <style>
        .lblwidth {
            width: 65px !important;
        }

        .customerclsrpl:hover {
            color: white !important;
        }
    </style>
    <script src="~/Content/js/jquery-1.9.1.js"></script>
</head>
<body style="padding:20px;">
    <div class="modal-header">
        <img src="~/Images/index/logo.png" />
        <br /><br />
        <ul class="list">
            <li>
                <label class="lblwidth">From:</label><label>@Model.SenderName &lt;@Model.SenderEmail&gt;</label>
            </li>
            <li>
                <label class="lblwidth">To:</label>
                @for (int i = 0; i < Model.lstReceiverDetails.Count; i++)
                {
                    if (i != 0)
                    {
                        <label style="padding-right:0px;">,@Model.lstReceiverDetails[i].ReceiverName&lt;@Model.lstReceiverDetails[i].ReceiverEmail&gt;</label>
                    }
                    else
                    {
                        <label style="padding-right:0px;">@Model.lstReceiverDetails[i].ReceiverName&lt;@Model.lstReceiverDetails[i].ReceiverEmail&gt;</label>
                    }
                }
            </li>
            <li>
                <label class="lblwidth">Date:</label><label>@Model.CreationDate</label>
            </li>
            @if (Model.lstImages.Count > 0)
            {
                foreach (var item in Model.lstImages)
                {
                    <li>
                        <span>@item.AttachmentName</span>
                    </li>
                }
            }
        </ul>
    </div>
    <div class="modal-body">
        <table>
            <tr>
                <td>
                    <ui>
                        @Html.Raw(Model.Message)
                        @*@Html.Raw(ViewBag.CMDMessage)*@

                    </ui>
                </td>
            </tr>

        </table>
    </div>
    @if (Model.LstPatient.Count > 0)
    {
        <div class="modal-body">
            <table>
                <tbody>
                    <tr>
                        <td>
                            <strong>Attached Patient Name:</strong>
                        </td>
                        @foreach (var item in Model.LstPatient)
                        {
                            <td>@item.AttachedPatientFirstName @item.AttachedPatientLastName</td>
                        }
                    </tr>
                </tbody>
            </table>
        </div>
    }
</body>
<script type="text/javascript">
    $(document).ready(function () {
        window.print();
    });
</script>
</html>



