﻿@model NewRecordlinc.Models.Colleagues.mdlColleagues
@{
    Layout = null;
}
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <style>
        .Communicationheader {
            width: 15% !important;
        }

        .Communicationbody {
            width: 15% !important;
            vertical-align: text-top !important;
        }

        .top-buffer {
            margin-top: 20px;
        }
    </style>
    <title>PrintAllCommunicationView</title>
    <img src="~/Images/index/logo.png" />
    <script src="~/Content/js/jquery-1.9.1.js"></script>
    <link href="~/Content/Appointment/Css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/backend.css" rel="stylesheet" />
    <script type="text/javascript">
        $(document).ready(function () {
            window.print();
        });
    </script>
</head>
<body style="margin:15px;" >
    <div class="container">
        <div class="top-buffer"></div>
        <table>
            <tr>
                <td>
                    <label style="height:24px;margin-top:10px;"><b style="margin-bottom:10px;font-size:25px;">Communication History - @ViewBag.mdlpatient</b></label>
                </td>
                <td>
                    <input type="hidden" name="patientId" value="@ViewBag.PatientId" />
                </td>
            </tr>
        </table>
        <table class="comTable margintopm1" cellpadding="0" cellspacing="0" border="0">
            <thead>
                <tr>
                    <th class="Communicationheader"><a id='PatientHCol_1' href="javascript:;" onclick='PatientCommunicationHistorySorting(" + PatientId + ",1)' sort-dir='2' class="sortable">Date</a></th>
                    <th class="Communicationheader"><a id='PatientHCol_2' href="javascript:;" onclick='PatientCommunicationHistorySorting(" + PatientId + ",2)' sort-dir='1' class="sortable">From/To</a></th>
                    <th class="Communicationheader"><a id='PatientHCol_3' href="javascript:;" onclick='PatientCommunicationHistorySorting(" + PatientId + ",3)' sort-dir='1' class="sortable">Type</a></th>
                    <th style="width:50% !important;"><a id='PatientHCol_3' href="javascript:;" onclick='PatientCommunicationHistorySorting(" + PatientId + ",3)' sort-dir='1' class="sortable">Message</a></th>
                </tr>
            </thead>
            <tbody id='PatientHistoryThead'>
                @if (Model.lstColleaguesMessagesDoctor.Count > 0)
                {
                    foreach (var item in Model.lstColleaguesMessagesDoctor)
                    {

                        if (item.MessageTypeId == 2)
                        {
                            <tr>
                                <td class="Communicationbody">@item.CreationDate</td>
                                <td class="Communicationbody">@item.ColleagueName</td>
                                <td class="Communicationbody"> Referral </td>
                                <td style="width:50% !important; vertical-align:text-top !important;">
                                    @item.Message
                                    @foreach (var item1 in Model.lstImages)
                                    {
                                        if (item1.AttachmentId != null)
                                        {
                                            string AttachmentName = string.Empty;
                                            AttachmentName = item1.AttachmentName;
                                            AttachmentName = AttachmentName.Substring(AttachmentName.ToString().LastIndexOf("$") + 1);
                                            string extension = Path.GetExtension(AttachmentName);
                                            string Type = string.Empty;
                                            if (extension.ToLower() != ".jpg" && extension.ToLower() != ".jpeg" && extension.ToLower() != ".gif" && extension.ToLower() != ".png" && extension.ToLower() != ".bmp" && extension.ToLower() != ".psd" && extension.ToLower() != ".pspimage" && extension.ToLower() != ".thm" && extension.ToLower() != ".tif")
                                            {
                                                Type = "Doc";
                                            }
                                            else
                                            {
                                                Type = "Image";
                                            }
                                            <span title="@AttachmentName" style="cursor: pointer;"><i class="attach" style="margin-left:0px !important;"></i>AttachmentName</span>
                                        }
                                    }
                                </td>
                            </tr>

                        }
                        if (item.MessageTypeId == 1)
                        {
                            <tr>
                                <td class="Communicationbody">@item.CreationDate</td>
                                <td class="Communicationbody">@item.ColleagueName</td>
                                <td class="Communicationbody">Messages </td>
                                <td style="width:50% !important; vertical-align: text-top !important;">
                                    @item.Message
                                    @foreach (var item1 in Model.lstImages)
                                    {
                                        if (item1.AttachmentId != null)
                                        {
                                            string AttachmentName = string.Empty;
                                            AttachmentName = item1.AttachmentName;
                                            AttachmentName = AttachmentName.Substring(AttachmentName.ToString().LastIndexOf("$") + 1);
                                            string extension = Path.GetExtension(AttachmentName);
                                            string Type = string.Empty;
                                            if (extension.ToLower() != ".jpg" && extension.ToLower() != ".jpeg" && extension.ToLower() != ".gif" && extension.ToLower() != ".png" && extension.ToLower() != ".bmp" && extension.ToLower() != ".psd" && extension.ToLower() != ".pspimage" && extension.ToLower() != ".thm" && extension.ToLower() != ".tif")
                                            {
                                                Type = "Doc";
                                            }
                                            else
                                            {
                                                Type = "Image";
                                            }
                                            <span title="@AttachmentName" style="cursor: pointer;"><i class="attach" style="margin-left:0px !important;"></i>AttachmentName</span>
                                        }
                                    }
                            </tr>
                        }
                        if (item.MessageTypeId == 3)
                        {
                            <tr>
                                <td class="Communicationbody">@item.CreationDate</td>
                                <td class="Communicationbody">@item.ColleagueName</td>
                                <td class="Communicationbody">Messages</td>
                                <td style="width:50% !important; vertical-align:text-top !important;">
                                    @item.Message
                                    @foreach (var item1 in Model.lstImages)
                                    {
                                        if (item1.AttachmentId != null)
                                        {
                                            string AttachmentName = string.Empty;
                                            AttachmentName = item1.AttachmentName;
                                            AttachmentName = AttachmentName.Substring(AttachmentName.ToString().LastIndexOf("$") + 1);
                                            string extension = Path.GetExtension(AttachmentName);
                                            string Type = string.Empty;
                                            if (extension.ToLower() != ".jpg" && extension.ToLower() != ".jpeg" && extension.ToLower() != ".gif" && extension.ToLower() != ".png" && extension.ToLower() != ".bmp" && extension.ToLower() != ".psd" && extension.ToLower() != ".pspimage" && extension.ToLower() != ".thm" && extension.ToLower() != ".tif")
                                            {
                                                Type = "Doc";
                                            }
                                            else
                                            {
                                                Type = "Image";
                                            }
                                            <span title="@AttachmentName" style="cursor: pointer;"><i class="attach" style="margin-left:0px !important;"></i>AttachmentName</span>
                                        }
                                    }
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</body>
</html>
