﻿@{
    if (ViewBag.Flag == "0")
    {
        ViewBag.Title = "SentPatient";
    }
    else
    {
        ViewBag.Title = "ReceivedPatient";
    }
    Layout = "~/Views/Shared/SiteLayoutInner.cshtml";
}
<link href="~/Content/css/Dropstyle.css" rel="stylesheet" />
<link href="~/Content/css/filterstyle.css" rel="stylesheet" />
<script src="~/Content/js/selectFx1.js"></script>
<script src="~/Content/js/classie1.js"></script>
<div class="content">
    <div class="content_base">
        <div class="inner">

            <div class="table_data patient clearfix">

                @if (ViewBag.Flag == "0")
                {
                    <h5 class="clearfix hdng_brdr">Sent Patients</h5>
                }
                else
                {
                    <h5 class="clearfix hdng_brdr">Received Patients</h5>
                }
                <div style="width:100%">
                    <section>
                        <select id="Listing" class="cs-select cs-skin-elastic">
                            <option value="1">First Name</option>
                            <option value="2" selected>Last Name</option>
                            <option value="3">Email</option>
                            @if (ViewBag.Flag == "0")
                            {
                                <option value="4">Sent To</option>
                            }
                            else
                            {
                                <option value="4">Received From</option>
                            }
                        </select>
                    </section>
                    <div class="alphabet">
                        <a class="first ALL" href="Javascript:;" onclick="GetPatientListByAtoZ('ALL')">ALL</a>
                        <a class="A" href="Javascript:;" onclick="GetPatientListByAtoZ('A')">A</a>
                        <a class="B" href="Javascript:;" onclick="GetPatientListByAtoZ('B')">B</a>
                        <a class="C" href="Javascript:;" onclick="GetPatientListByAtoZ('C')">C</a>
                        <a class="D" href="Javascript:;" onclick="GetPatientListByAtoZ('D')">D</a>
                        <a class="E" href="Javascript:;" onclick="GetPatientListByAtoZ('E')">E</a>
                        <a class="F" href="Javascript:;" onclick="GetPatientListByAtoZ('F')">F</a>
                        <a class="G" href="Javascript:;" onclick="GetPatientListByAtoZ('G')">G</a>
                        <a class="H" href="Javascript:;" onclick="GetPatientListByAtoZ('H')">H</a>
                        <a class="I" href="Javascript:;" onclick="GetPatientListByAtoZ('I')">I</a>
                        <a class="J" href="Javascript:;" onclick="GetPatientListByAtoZ('J')">J</a>
                        <a class="K" href="Javascript:;" onclick="GetPatientListByAtoZ('K')">K</a>
                        <a class="L" href="Javascript:;" onclick="GetPatientListByAtoZ('L')">L</a>
                        <a class="M" href="Javascript:;" onclick="GetPatientListByAtoZ('M')">M</a>
                        <a class="N" href="Javascript:;" onclick="GetPatientListByAtoZ('N')">N</a>
                        <a class="O" href="Javascript:;" onclick="GetPatientListByAtoZ('O')">O</a>
                        <a class="P" href="Javascript:;" onclick="GetPatientListByAtoZ('P')">P</a>
                        <a class="Q" href="Javascript:;" onclick="GetPatientListByAtoZ('Q')">Q</a>
                        <a class="R" href="Javascript:;" onclick="GetPatientListByAtoZ('R')">R</a>
                        <a class="S" href="Javascript:;" onclick="GetPatientListByAtoZ('S')">S</a>
                        <a class="T" href="Javascript:;" onclick="GetPatientListByAtoZ('T')">T</a>
                        <a class="U" href="Javascript:;" onclick="GetPatientListByAtoZ('U')">U</a>
                        <a class="V" href="Javascript:;" onclick="GetPatientListByAtoZ('V')">V</a>
                        <a class="W" href="Javascript:;" onclick="GetPatientListByAtoZ('W')">W</a>
                        <a class="X" href="Javascript:;" onclick="GetPatientListByAtoZ('X')">X</a>
                        <a class="Y" href="Javascript:;" onclick="GetPatientListByAtoZ('Y')">Y</a>
                        <a class="last Z" href="Javascript:;" onclick="GetPatientListByAtoZ('Z')">Z</a>
                    </div>
                </div>
                
                <table class="patientTable" cellpadding="0" cellspacing="0" border="0">
                    <thead>
                        <tr>
                            <th><a id="AppColumn2" onclick="SortColumn('AppColumn2')" sort-col="2" sort-dir="1" class="sortable" href="Javascript:;">LastName</a></th>
                            <th><a id="AppColumn1" onclick="SortColumn('AppColumn1')" sort-col="1" sort-dir="1" class="sortable" href="Javascript:;">FirstName</a></th>
                            @if (ViewBag.Flag == "0")
                            {
                                <th><a id="AppColumn6" onclick="SortColumn('AppColumn6')" sort-col="6" sort-dir="1" class="sortable" href="Javascript:;">Sent To</a></th>
                            }
                            else
                            {
                                <th><a id="AppColumn6" onclick="SortColumn('AppColumn6')" sort-col="6" sort-dir="1" class="sortable" href="Javascript:;">Received From</a></th>
                            }

                            @*
                                <th><a id="AppColumn3" onclick="SortColumn('AppColumn3')" sort-col="3" sort-dir="1" class="sortable" href="Javascript:;">Id</a></th>*@
                            <th>Phone</th>
                            <th><a id="AppColumn4" onclick="SortColumn('AppColumn4')" sort-col="4" sort-dir="1" class="sortable" href="Javascript:;">Email</a></th>
                            <th>Location</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody data-sortirection="2" data-sortcolumn="5" id="PatientListBody"></tbody>
                </table>
                <div class="clear"></div>
            </div>
        </div>

    </div>
</div>
@*--------Start Code of send referral---------*@

<a href="#add_doctor_popup" title="Referral" class="frmreferpatients edit popup-with-form showlightbox"
   id="OpenPopup" style="display: none;"></a>







@*--------End code of Send referral------*@
<form action="/Patients/PatientHistory" method="post" id="frmViewPatientHistory">
    <input type="hidden" name="hdnViewPatientHistory" id="hdnViewPatientHistory" />
</form>
<form action="@Url.Action("Index", "Profile" )" method="post" id="frmViewProfile">
    <input type="hidden" name="hdnViewProfile" id="hdnViewProfile" value="" />
</form>
<input type="hidden" id="hdnPatientId" />
<input type="hidden" name="PageIndex" id="PageIndex" value="2" />
<input type="hidden" name="currentSortCol" id="currentSortCol" value="1" />
<input type="hidden" name="SortDirct" id="SortDirct" value="2" />
<input type="hidden" name="PageSizeSet" id="PageSizeSet" value="10" />
<script>
    function SetPlaceHolder(input) {
        if (input.value == "") {
            input.value = input.defaultValue;
        }
    }
    $(document).ready(function(){
        (function () {
            [].slice.call(document.querySelectorAll('select.cs-select')).forEach(function (el) {
                new SelectFx(el);
            });
        })();
        $('.alphabet > a').click(function () {
            if ($('.alphabet > a').hasClass('active')) {
                $('.alphabet > a').removeClass('active');
            }
            if ($(this).hasClass('active') > 0) {
                $(this).removeClass('active');
            } else {
                $(this).addClass('active');
            }
        });
        if (@ViewBag.Flag == "0")
        {
            $(".search_colleague").parent("a").addClass("active");
        }
        else
        {
            $(".invite_colleague").parent("a").addClass("active");
        }
        var pagesize = $("#PageSizeSet").val();
        var sortdirct = $("#SortDirct").val();
        var sortCol = $("#currentSortCol").val();
        var searchtext = '@ViewBag.Searchsentbox';

        if (searchtext != '' && searchtext != null) {
            $("#txtHdrSearchAppointmentList").val(searchtext);
        }
        LoadPatientList(2,1,searchtext);
        $("#search_main_div").css("display", "block");
        $("#search_main_div").html("<div class='search_main_div'><div class='searchbar'> <input id='txtHdrSearchAppointmentList' onfocus='ClearPlaceHolder(this)' onblur='SetPlaceHolder(this)' onkeyup='HdrSearchPatientList(event)'  value='Search Patient' name='Search Patient List' type='text' value='Search Patient'></div></div>");



        $("input.checkcolleaguelocation:checkbox").live('click', function (event) {
            var myInput = $(this);
            if (myInput.attr('checked')) {
                var divid = myInput.attr('value');
                $("#" + divid).css('border-color', '#0890C4');
                myInput.attr('checked', true);
            }
            else {
                var divid = myInput.attr('value');
                $("#" + divid).css('border-color', '#C8C8C8');
                myInput.attr('checked', false);
            }
            event.stopPropagation();
        });
        //$('div.class_locationcolleagues div').live('click', function (event) {
        //    var myInput = $('input', this)
        //    if (myInput.attr('checked')) {
        //        var divid = myInput.attr('value');
        //        $("#" + divid).css('border-color', '#C8C8C8');
        //        myInput.attr('checked', false);
        //    }
        //    else {
        //        var divid = myInput.attr('value');
        //        $("#" + divid).css('border-color', '#0890C4');
        //        myInput.attr('checked', true);
        //    }
        //    event.stopPropagation();
        //});



    });
    function LoadPatientList(SortCol,Sortdir,searchtext)
    {

        var id='@ViewBag.ColleagueId';
        if( id != null && id!='')
        {
            var ColleagueId=id;
        }
        var FilterBy = $('#Listing option:selected').val();
        var NewSearchText = null;
        var Flag = '@ViewBag.Flag';
        var URL = '@Url.Action("PartialSentandReceivedPatient", "Patients")?Flag=' + Flag+'&SortColumn='+SortCol+'&SortDirection='+Sortdir+'&SearchText='+searchtext+'&NewSearchText='+NewSearchText+'&FilterBy='+FilterBy+'&ColleagueId='+ColleagueId;
        $('#PatientListBody').load(URL);
    }
    function ViewProfile(id) {
        $("#divLoading").show();
        $('#hdnViewProfile').val(id);
        $("#frmViewProfile").submit();
        $("#divLoading").hide();
    }
    function ViewPatientHistory(PatientId) {
        $('#hdnViewPatientHistory').val(PatientId);
        $("#frmViewPatientHistory").submit();
    }
    function SortColumn(ColId) {

        var SortCol = $("#" + ColId).attr('sort-col');
        var Sortdir = $("#" + ColId).attr('sort-dir');

        $("#currentSortCol").val(SortCol);
        $("#SortDirct").val(Sortdir);

        if (Sortdir == 1) {
            $("#" + ColId).attr('sort-dir', 2);
        } else {
            $("#" + ColId).attr('sort-dir', 1);
        }
        var pagesize = $("#PageSizeSet").val();
        $("#PageIndex").val(2);
        GetPatientOnSorting(SortCol, Sortdir);
    }

    function ClearPlaceHolder(input) {
        if (input.value == input.defaultValue) {
            input.value = "";
        }
    }
    function OpenPopup(PatientId) {
        SearchColleague();
        $('#OpenPopup').click();
        document.getElementById('hdnPatientId').value = PatientId;
    }
    function SearchColleague() {
        $("#ColleaguPageIndex").val("1");
        var GetSearchText = null;
        if ($('#txtSearchPatient').length == 0) {
            GetSearchText = null;
        }
        else {
            GetSearchText = document.getElementById('txtSearchPatient').value;
            if (GetSearchText == "Find colleague to refer to...") {
                GetSearchText = null;
            }
        }
        $.ajaxSetup({ async: false });
        $.post("/Patients/SearchColleagueFromPopUp",
                                    { SearchText: GetSearchText }, function (data) {
                                        document.getElementById("add_doctor_popup").innerHTML = data;
                                    });
        $.ajaxSetup({ async: true });
        $(".search_listing").bind('scroll', function (event) {
            if ($(this).scrollTop() + $(this).innerHeight() >= $(this)[0].scrollHeight) {

                var data = SearchColleagueOnScroll().toString();
                $(this).append(data);
            }
        });
    }
    function CloseColleaguePopUp() {
        $(".mfp-close").click();
    }

    function SearchColleagueOnScroll() {
        var datalist = '';
        $.ajaxSetup({ async: false });
        var PageIndex = $("#ColleaguPageIndex").val();
        if (PageIndex == "-1") {
            return "";
        }
        else {
            PageIndex = parseInt(PageIndex) + parseInt(1);
            $.post("/Patients/GetColleagueListForSendReferralPopUpOnScroll",
               { PageIndex: PageIndex }, function (data) {
                   if (data == '' || data == '<li><center>No more record found.</li>') {
                       $("#EmptyRecord").empty().html("<center>No more records found</center>");
                       $("#ColleaguPageIndex").val("-1");
                   }
                   else {
                       $("#ColleaguPageIndex").val(PageIndex);
                   }
                   datalist = data;
               });
        }
        $.ajaxSetup({ async: true });
        return datalist;
    }
    function GetLocationColleagues(MultipleColleague, PatientId)
    {
        $.ajaxSetup({ async: false });
        $.post("/Patients/GetLocationColleagues",
                                    { ColleagueId: MultipleColleague,PatientId:PatientId }, function (data) {
                                        if (data == "1") {
                                            if (MultipleColleague != null && MultipleColleague != "") {
                                                window.location.href = '@Url.Action("Referral", "Referrals")?PatientId=' + PatientId + '&ColleagueIds=' + MultipleColleague;
                                            }
                                            else {
                                                swal({ title: "", text: 'Please select atleast one colleague.' });
                                            }
                                        }
                                        else {
                                            $(".search_main_div").hide();
                                            $(".cntnt").hide();
                                            $("#ColleaguesLocation").html(data);
                                            $("#ReferralTitle").html("Select Colleague Location");
                                            $("#ColleaguesId").val(MultipleColleague);
                                            $("#PatientId").val(PatientId);
                                        }
                                    });
        $.ajaxSetup({ async: true });
    }

    function BackToSelectColleagues()
    {
        $(".search_main_div").show();
        $(".cntnt").show();
        $("#ReferralTitle").html("Select the Colleagues to Send Referral");
        $("#ColleaguesLocation").html("");
    }
    function SendReferralSelectLocation()
    {
        
        var locationid ;
        var c = document.getElementsByClassName('checkcolleaguelocation');
        for (var i = 0; i < c.length; i++) {
            if (c[i].type == 'checkbox' && c[i].id == 'colleaguelocation' && c[i].checked == true) {
                if (locationid == null) {
                    locationid = c[i].value;
                }
                else {
                    locationid = locationid + ',' + c[i].value;
                }
            }
        }
        MultipleColleague=  $("#ColleaguesId").val();
        PatientId=  $("#PatientId").val();
        if(locationid!=null && locationid!="")
        {
            if (MultipleColleague != null && MultipleColleague != "") {
                window.location.href = '@Url.Action("Referral", "Referrals")?PatientId=' + PatientId + '&ColleagueIds=' + MultipleColleague + '&AddressInfoId=' + locationid;
            }
            else {
                swal({ title: "", text: 'Please select atleast one colleague.' });
            }
        }
        else
        {
            swal({ title: "", text: 'Please select atleast one Location.' });
        }
    }
    function ReferralSend() {
        var PatientId = document.getElementById('hdnPatientId').value;

        var MultipleColleague = null;
        var c = new Array();
        c = document.getElementsByTagName('input');

        for (var i = 0; i < c.length; i++) {
            if (c[i].type == 'checkbox' && c[i].id == 'checkcolleague' && c[i].checked == true) {

                if (MultipleColleague == null) {

                    MultipleColleague = c[i].value;
                }
                else {

                    MultipleColleague = MultipleColleague + ',' + c[i].value;
                }

            }
        }
        if (MultipleColleague == null) {
            swal({ title: "", text: 'Please select atleast one colleague.' });
        }
        else {
            GetLocationColleagues(MultipleColleague, PatientId);
        }

    }

    function GetPatientListByAtoZ(NewSearchText)
    {

        var FilterBy = $('#Listing option:selected').val();
        var SortColumn = "";
        if (SortColumn == null || SortColumn == 'undefined' || SortColumn == "") {
            SortColumn = 1;
        }
        var PageIndex = 1;
        var SearchText = null;
        var SortDirection = "1";
        var Flag = @ViewBag.Flag;

        $.post("/Patients/PartialSentandReceivedPatient", { Flag: Flag, SortColumn: SortColumn, SortDirection: SortDirection, SearchText: SearchText, NewSearchText: NewSearchText, FilterBy: FilterBy }, function (data) {
            $("#divLoading").show();
            if (data != null && data != "") {

                document.getElementById('PatientListBody').innerHTML = data.toString();

            }
            else {
                document.getElementById('PatientListBody').innerHTML = '<center>No Recoard Found</center>';
            }
            $(window).scrollTop(0);
            $("#divLoading").hide();

        });
    }
    function GetPatientOnSorting(SortCol, Sortdir)
    {
        var FilterBy = $('#Listing option:selected').val();
        var NewSearchText = $(".alphabet > .active").html();
        var PageIndex = 1;
        var SearchText = null;
        var Flag = @ViewBag.Flag;

        $.post("/Patients/PartialSentandReceivedPatient", { Flag: Flag, SortColumn: SortCol, SortDirection: Sortdir, SearchText: SearchText, NewSearchText: NewSearchText, FilterBy: FilterBy }, function (data) {
            $("#divLoading").show();
            if (data != null && data != "") {

                document.getElementById('PatientListBody').innerHTML = data.toString();

            }
            else {
                document.getElementById('PatientListBody').innerHTML = '';
            }
            $(window).scrollTop(0);
            $("#divLoading").hide();

        });
    }
    //$(function () {

    //    var bindScrollHandler = function () {
    //        $(window).scroll(function () {
    //            if ($(window).scrollTop() + $(window).height() > $(document).height() - 150) {
    //                $(window).unbind("scroll");
    //                HandelPaging();
    //                bindScrollHandler();
    //            }
    //            else {
    //            }
    //        });
    //    }
    //    bindScrollHandler();
    //});
    function HandelPaging() {
        var pagesize = $("#PageSizeSet").val();
        var pageindex = $("#PageIndex").val();
        var sortCol = $("#currentSortCol").val();
        var sortDir = $("#SortDirct").val();
        if (pageindex == 0) {
            return false;
        }
        $("#PageIndex").val((parseInt(pageindex, 10) + 1));
        GetPatientOnSorting(pagesize, pageindex, sortCol, sortDir);

    }
    function HdrSearchPatientList(event) {
        if (event.keyCode == 13) {

            var message = $('#txtHdrSearchAppointmentList').val();
            $("#divLoading").show();
            // alert(message);
            if (message != null && message != "") {
                $("#divClearSearch").css("display", "block");
                $("#divClearSearch").html("<br/><a href='@Url.Action("SentandReceivedPatient", "Patients")?flag=0' style=\"text-decoration:none;\" title=\"Clear Search\" > &nbsp;Clear Search</a>");

                LoadPatientList(2, 1,message);
            }
            else {
                GetPatientAppointmentList(5, 2,'');
                document.getElementById('divSearchtextshow').innerHTML = '';
            }


            $("#divLoading").hide();
        } else {
            return true;
        }
    }
    function DeletePatient(id) {
        swal({
            title: "",
            text: "Are you sure you want to remove this patient?",
            type: "warning",
            showCancelButton: true,
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: false,
            //showLoaderOnConfirm: true,
        },
   function (isConfirm) {
       if (isConfirm) {
           $.post("/Patients/DeletePatient", { PatientId: id, PageIndex: 1 },
      function (data) {

          if (data != '') {
              swal({
                  title: "",
                  text: "Patient removed successfully",
                  timer: 1500,
                  type : 'success',
                  showConfirmButton: false
              });
              //  alert("Patient remove successfully.")
              $('#row' + id).remove();
              window.location.href = '../Patients/SentandReceivedPatient?Flag=0';
          }
          else {
              swal({ title: "", text: 'Failed to remove patient.', type : 'error' });
              // alert("Failed to remove patient.")
          }

      });
       }
   });
    }
    //    if (confirm("Are you sure you want to remove this patient?") == true) {


    //    }
    //}

    //// Priya 

    function bindScrollHandler() {

        $(window).scroll(function () {
            //// console.log("$(window).scrollTop()-" + $(window).scrollTop() + "$(window).height()-" + $(window).height() + "$(document).height()-" + $(document).height());
            //// console.log("($(document).height()-" + $(document).height() + "win.height()-" + $(window).height() + "win.scrollTop()-" + $(window).scrollTop() + "Condition-" + ($(document).height() - $(window).height() == $(window).scrollTop()));
            //// console.log("Page index-" + $('#PatientPageIndex').val());
            //if ($(window).scrollTop() + $(window).height() > $(document).height() - 150) {
            if ($(document).height() - $(window).height() == $(window).scrollTop()) {
                //$(window).unbind("scroll");
                var data = GetPatientListOnScroll().toString();
                $(data).appendTo("#getindex");
            }
            else {
            }
        });
    }
    $(function () {
        bindScrollHandler();
        $("input.checkbox_add_patient:checkbox").live('click', function (event) {

            $('ul.search_listing li div').css('border-color', '#C8C8C8');
            var myInput = $(this);
            if (myInput.attr('checked')) {
                var divid = myInput.attr('value');
                $("input:checked").attr('checked', false);
                $("#" + divid).css('border-color', '#0890C4');
                myInput.attr('checked', true);
            }
            else {
                var divid = myInput.attr('value');
                $("input:checked").attr('checked', false);
                $("#" + divid).css('border-color', '#C8C8C8');
                myInput.attr('checked', false);
            }
            event.stopPropagation();
        });
        $('ul.search_listing li div').live('click', function (event) {
            $('ul.search_listing li div').css('border-color', '#C8C8C8');
            $("input:checked").attr('checked', false);
            var myInput = $('input', this)
            if (myInput.attr('checked')) {
                var divid = myInput.attr('value');
                $("#" + divid).css('border-color', '#C8C8C8');
                myInput.attr('checked', false);
            }
            else {
                var divid = myInput.attr('value');
                $("#" + divid).css('border-color', '#0890C4');
                myInput.attr('checked', true);
            }
            event.stopPropagation();
        });
        //DD
        $("input.checkcolleaguelocation:checkbox").live('click', function (event) {
            $(".location_each").css('border-color', '#C8C8C8');
            var myInput = $(this);
            if (myInput.attr('checked')) {
                var divid = myInput.attr('value');
                $("input:checked").attr('checked', false);
                $("#" + divid).css('border-color', '#0890C4');
                myInput.attr('checked', true);
            }
            else {
                var divid = myInput.attr('value');
                $("input:checked").attr('checked', false);
                $("#" + divid).css('border-color', '#C8C8C8');
                myInput.attr('checked', false);
            }
            event.stopPropagation();
        });
        $('div.class_locationcolleagues div').live('click', function (event) {
            $(".location_each").css('border-color', '#C8C8C8');
            var myInput = $('input', this)
            if (myInput.attr('checked')) {
                var divid = myInput.attr('value');
                $("#" + divid).css('border-color', '#C8C8C8');
                $("input:checked").attr('checked', false);
                myInput.attr('checked', false);
            }
            else {
                var divid = myInput.attr('value');
                $("#" + divid).css('border-color', '#0890C4');
                $("input:checked").attr('checked', false);
                myInput.attr('checked', true);
            }
            event.stopPropagation();
        });

    });






</script>
