﻿@using DataAccessLayer.Common
@model NewRecordlinc.Models.Colleagues.ColleaguesMessagesOfDoctor
@{ 
    string SendersList = string.Empty;
}

<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header blue-bg">
            <button type="button" class="close close-circle" data-dismiss="modal">&times;</button>
            <h3 class="modal-title white">Messages</h3>
        </div>
        <div class="modal-body compose-message">
            <div class="row row-bordered btm-margin-30">
                <div class="col-lg-12">
                    <dl class="mail-details">
                        <dt>From:</dt>
                        <dd>@Model.SenderName <a href="mailto:@Model.SenderEmail">@Model.SenderEmail</a></dd>
                        <dt>To:</dt>
                        <dd>
                            @foreach (var item in Model.lstReceiverDetails)
                            {

                                SendersList = !string.IsNullOrEmpty(SendersList) ? "," + item.ReceiverId : "" + item.ReceiverId;
                                @item.ReceiverName <a href="mailto:@item.ReceiverEmail">< @item.ReceiverEmail ></a><br />


                            }
                        </dd>                                             
                        <dt>Date:</dt>
                        <dd><time>@Model.CreationDate</time></dd>
                    </dl>
                </div>
            </div>
            <div class="row row-bordered">
                <div class="col-lg-12">
                    <div class="list-holder scrollbar-inner btm-margin-30">
                        <p>@Html.Raw(HttpUtility.HtmlDecode(@Uri.UnescapeDataString(Convert.ToString(Model.Message)).Replace("\n", "<br />")))</p>
                    </div>
                </div>
            </div>
            @if (Model.lstImages.Count > 0)
            {
                <div class="row row-bordered">
                    <div class="col-lg-12">
                        <div class="bar">
                            <p>Attachments: @*<a href="#">Download All Attachments</a>*@</p>
                        </div>
                        <ul class="attachment-list">
                            @foreach (var item in Model.lstImages)
                            {
                                if (item.AttachmentId != 0)
                                {
                                    <li>
                                        <div class="img-holder">
                                            <img src="@Convert.ToString(System.Configuration.ConfigurationManager.AppSettings.Get("ImageBank"))@item.AttachementFullName" alt="Attachment" height="68" width="68">
                                        </div>
                                        <div class="attacg-description">
                                            <div class="discription-box">
                                                <p>@item.AttachmentName</p>
                                                <a href="~/ImageBank/@clsHelper.EscapeUriString(item.AttachementFullName)" target="_blank">View</a>
                                                <a href="~/ImageBank/@clsHelper.EscapeUriString(item.AttachementFullName)" target="_blank">Download</a>
                                            </div>
                                        </div>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            }            
        </div>

        <div class="modal-footer bdr-top-no">
            <div class="btn-group btn-holder">
                <button type="button" class="btn btn-default btn1" data-dismiss="modal"><i class="ico-corss2"></i>Cancel</button>
                <span style="float:right">
                    @if (Model.SenderId == Convert.ToInt32(Session["UserId"]))
                    {
                        <a type="button" class="btn btn-default btn2 blue-bg mrgn-right-0" href="/Inbox/ComposeMessage?ColleaguesId=@(SendersList)&PatientId=@Model.PatientId&MessageTypeId=1"><i class="ico-reply"></i>Reply</a>
                    }
                    else
                    {
                        <a type="button" class="btn btn-default btn2 blue-bg mrgn-right-0" href="/Inbox/ComposeMessage?ColleaguesId=@SendersList"><i class="ico-reply"></i>Reply</a>                        
                    }

                </span>
            </div>
        </div>
    </div>
</div>
<input type="hidden" name="PatientId" value='@Model.PatientId' id="PatientId" />


