﻿@model NewRecordlinc.Models.Patients.PatientNotes
@*<link rel="stylesheet" id="bootstraprm" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">*@
<style>
    .lblwidth {
        width: 65px !important;
    }

    .customerclsrpl:hover {
        color: white !important;
    }
    .modal-dialog {
    margin: 147px auto !important;
    width: 600px;
    }
</style>
<div class="modal-header">
    <button type="button" onclick="RemovePopupCss();" class="close" data-dismiss="modal" aria-hidden="true">
        &times;
    </button>
    <input type="hidden" name="NoteId" value="@ViewBag.NoteId" id="NoteId" />
    <input type="hidden" name="PatientId" value="@Model.PatientId" id="PatientId" />
    <ul class="list">
        <li></li>
        <li>
            <label class="lblwidth">From:</label><a class="hylyt_field">@Model.DoctorName <span>&lt;@Model.DoctorEmail&gt;</span></a>
        </li>
        @*<li>
            <label class="lblwidth">To:</label>@Model.ReciverName  &lt;@Model.ReciverEmail&gt;
        </li>*@ 
        <li>
            <label class="lblwidth">Date:</label>@Model.CreationDate
        </li>
    </ul>
</div>
<div class="modal-body" id="">
    <table>
        <tr>
            <td style="color: rgba(0, 0, 0, 0.54);">@Model.Note </td>
            <td></td>
        </tr>
        <tr>
            <td colspan="2">&nbsp;</td>
        </tr>
    </table>
</div>

<div class="modal-footer">
    <button type="button" onclick="RemovePopupCss();" class="btn btn-default btn-cancleappclose" data-dismiss="modal">
        Close
    </button>
    <button type="button" onclick="RemovePatientNoteinner();" class="btn btn-default btn-cancleappclose" data-dismiss="modal">
        Delete
    </button>
</div>
<button class="mfp-close" type="button" title="Close (Esc)" style="display:none;">
    ×
</button>
<script type="text/javascript">
    function RemovePatientNoteinner()
    {
        var NoteId = $("#NoteId").val();
        var PatientId = $("#PatientId").val();
        RemovePatientNote(NoteId, PatientId);
    }
</script>
