﻿@using DataAccessLayer.Common
@model NewRecordlinc.Models.Patients.PatientMessagesOfDoctor
<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header blue-bg">
            <button type="button" class="close close-circle" data-dismiss="modal">&times;</button>
            <h3 class="modal-title white">Messages</h3>
        </div>
        <div class="modal-body compose-message">
            <div class="row row-bordered btm-margin-30">
                <div class="col-lg-12">
                    <dl class="mail-details">
                        <dt>From:</dt>
                        <dd>@Model.FromField <a href="mailto:@Model.DoctorEmail">@Model.PatientEmail</a></dd>
                        <dt>To:</dt>
                        <dd>@Model.ToField <a href="mailto:@Model.PatientEmail">@Model.DoctorEmail</a></dd>
                        <dt>Date:</dt>
                        <dd><time>@Model.CreationDate</time></dd>
                    </dl>
                </div>
            </div>
            <div class="row row-bordered">
                <div class="col-lg-12">
                    <div class="list-holder scrollbar-inner btm-margin-30">
                        <p>@Html.Raw(HttpUtility.HtmlDecode(@Uri.UnescapeDataString(Convert.ToString(Model.Message)).Replace("\n", "<br />")))</p>
                    </div>
                </div>
            </div>                    
            @if (Model.lstattachement.Count > 0)
            {
                <div class="row row-bordered">
                    <div class="col-lg-12">
                        <div class="bar">
                            <p>Attachments: @*<a href="#">Download All Attachments</a>*@</p>
                        </div>
                        <ul class="attachment-list">
                            @foreach (var item in Model.lstattachement)
                            {
                                if (item.Attachementid != 0)
                                {
                                    <li>
                                        <div class="img-holder">
                                            <img src="@Convert.ToString(System.Configuration.ConfigurationManager.AppSettings.Get("ImageBank"))@item.AttachementFullName" alt="Attachment" height="68" width="68">
                                        </div>
                                        <div class="attacg-description">
                                            <div class="discription-box">
                                                <p>@item.AttachementName</p>
                                                <a href="~/ImageBank/@clsHelper.EscapeUriString(item.AttachementFullName)" target="_blank">View</a>
                                                <a href="~/ImageBank/@clsHelper.EscapeUriString(item.AttachementFullName)" target="_blank">Download</a>
                                            </div>
                                        </div>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            }   
        </div>

        <div class="modal-footer bdr-top-no">
            <div class="btn-group btn-holder">
                <button type="button" class="btn btn-default btn1" data-dismiss="modal"><i class="ico-corss2"></i>Cancel</button>
                <a type="button" class="btn btn-default btn2 blue-bg mrgn-right-0" href="@Url.Action("PatientComposeMessage", "Patients" , new { PatientId=@Model.PatientId})"><i class="ico-reply"></i>Reply</a>

            </div>
        </div>
    </div>
</div>

<!--
<style>
    .lblwidth {
        width: 65px !important;
    }

    .customerclsrpl:hover {
        color: white !important;
    }
    div ui table tr td {
        border: 1px solid !important;
        
    }
</style>
<div class="modal-header">
    <button type="button" onclick="RemovePopupCss();" class="close" data-dismiss="modal" aria-hidden="true">
        &times;
    </button>
    <ul class="list">
        <li></li>
        <li>
            <label class="lblwidth">From:</label><a class="hylyt_field"><span>&lt;;</span></a>
        </li>
        <li>
            <label class="lblwidth">To:</label>&gt;
        </li>
        <li>
            <label class="lblwidth">Date:</label>
            <span style="float:right">
                <a class="btn btn-primary customerclsrpl" href="">Reply</a>
            </span>
        </li>
    </ul>
</div>
<div class="modal-body" id="">
    <table>
        <tr>
            <td style="color: rgba(0, 0, 0, 0.54);">
                <ui>                   

                </ui>
            </td>
            <td></td>
        </tr>
        @*<tr>
            <td style="color: rgba(0, 0, 0, 0.54);">@Html.Raw(HttpUtility.HtmlDecode(Convert.ToString(Model.Message).Replace("\n", "<br />"))) </td>
            <td></td>
        </tr>*@
        <tr>
            <td colspan="2">&nbsp;</td>
        </tr>
    </table>
</div>

<div class="modal-footer">
    <button type="button" onclick="RemovePopupCss();" class="btn btn-default btn-cancleappclose" data-dismiss="modal">
        Close
    </button>

</div>
<button class="mfp-close" type="button" title="Close (Esc)" style="display:none;">
    ×
</button>
-->