.btn.btn1 {
    background-color: #fff;
    border: 1px solid #4babd1;
    border-radius: 0;
    box-sizing: border-box;
    color: #4babd1;
    display: inline-block;
    float: none;
    font-family: "Open Sans",Arial,Helvetica,sans-serif;
    font-weight: 400;
    height: 34px;
    line-height: 22px;
    margin: 0 10px 0 0;
    padding: 6px 15px;
    position: relative;
    text-decoration: none;
    text-transform: capitalize;
    vertical-align: top;
	width: 230px;
}
.ico-select,
.ico-widget {
    background: rgba(0, 0, 0, 0) url("../images/ico-selection1.png") no-repeat scroll 0 0 / cover ;
    display: inline-block;
    height: 17px;
    margin: -3px 8px 0 0;
    vertical-align: middle;
    width: 19px;
    position:static !important;
}
.ico-widget {
    background: rgba(0, 0, 0, 0) url("../images/ico-widget.png") no-repeat scroll 0 0 / cover ;
}
.btn.btn1:hover {
    background: #4babd1 none repeat scroll 0 0;
    color: #fff;
}
.btn.btn1:hover .ico-select{
	background: rgba(0, 0, 0, 0) url("../images/ico-selection.png") no-repeat scroll 0 0 / cover ;
}
.btn.btn1:hover .ico-widget{
	background: rgba(0, 0, 0, 0) url("../images/ico-widget1.png") no-repeat scroll 0 0 / cover ;
}
@media (max-width: 500px) {
	.btn.btn1{
		display: block;
		margin-bottom: 10px;
	}
}