/*
 * jQuery FlexSlider v2.6.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 and later license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 *
 */

/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/
.lvca-flex-container a:hover,
.lvca-flex-slider a:hover {
  outline: none;
}
.lvca-slides,
.lvca-slides > li,
.lvca-flex-control-nav,
.lvca-flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.lvca-flex-pauseplay span {
  text-transform: capitalize;
}
/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
.lvca-flexslider {
  margin: 0;
  padding: 0;
}
.lvca-flexslider .lvca-slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}
.lvca-flexslider .lvca-slides img {
  width: 100%;
  display: block;
}
html[xmlns] .lvca-flexslider .lvca-slides {
  display: block;
}
* html .lvca-flexslider .lvca-slides {
  height: 1%;
}
.no-js .lvca-flexslider .lvca-slides > li:first-child {
  display: block;
}
/* ====================================================================================================================
 * DEFAULT THEME
 * ====================================================================================================================*/
.lvca-flexslider {
  margin: 0;
  position: relative;
  zoom: 1;
}
.lvca-flexslider .lvca-slides {
  zoom: 1;
}
.lvca-flexslider .lvca-slides img {
  height: auto;
  -moz-user-select: none;
}
.lvca-flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.loading .lvca-flex-viewport {
  max-height: 300px;
}
.carousel li {
  margin-right: 5px;
}
.lvca-flex-direction-nav {
  *height: 0;
}
.lvca-flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 40px;
  height: 40px;
  margin: -20px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
a.lvca-flex-prev {
  /* font-family: "flexslider-icon"; */
  font-size: 40px;
  /* display: inline-block; */
  /* content: '\f001'; */
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}
.lvca-flex-direction-nav a.lvca-flex-next:before {
  content: '\f002';
}
.lvca-flex-direction-nav .lvca-flex-prev {
  left: -50px;
}
.lvca-flex-direction-nav .lvca-flex-next {
  right: -50px;
  text-align: right;
}
.lvca-flex-direction-nav .lvca-flex-disabled {
  opacity: 0!important;
  filter: alpha(opacity=0);
  cursor: default;
  z-index: -1;
}
.lvca-flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000;
}
.lvca-flex-pauseplay a:before {
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;
  content: '\f004';
}
.lvca-flex-pauseplay a:hover {
  opacity: 1;
}
.lvca-flex-pauseplay a.lvca-flex-play:before {
  content: '\f003';
}
.lvca-flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center;
}
.lvca-flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.lvca-flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.lvca-flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7);
}
.lvca-flex-control-paging li a.lvca-flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default;
}
.lvca-flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
}
.lvca-flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0;
}
.lvca-flex-control-thumbs img {
  width: 100%;
  height: auto;
  display: block;
  opacity: .7;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.lvca-flex-control-thumbs img:hover {
  opacity: 1;
}
.lvca-flex-control-thumbs .lvca-flex-active {
  opacity: 1;
  cursor: default;
}
/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/
@media screen and (max-width: 860px) {
  .lvca-flex-direction-nav .lvca-flex-prev {
    opacity: 1;
    left: 10px;
  }
  .lvca-flex-direction-nav .lvca-flex-next {
    opacity: 1;
    right: 10px;
  }
}
