@font-face {
    font-family: 'lvca-icomoon';
    src:    url('fonts/icomoon/icomoon.eot?bh4obs');
    src:    url('fonts/icomoon/icomoon.eot?bh4obs#iefix') format('embedded-opentype'),
        url('fonts/icomoon/icomoon.ttf?bh4obs') format('truetype'),
        url('fonts/icomoon/icomoon.woff?bh4obs') format('woff'),
        url('fonts/icomoon/icomoon.svg?bh4obs#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="lvca-icon-"], [class*=" lvca-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'lvca-icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.lvca-icon-close:before {
    content: "\e911";
    }
.lvca-icon-menu:before {
    content: "\e914";
    }
.lvca-icon-menu-2:before {
    content: "\e915";
    }
.lvca-icon-email:before {
    content: "\e910";
    }
.lvca-icon-plus:before {
    content: "\e912";
    }
.lvca-icon-arrow-right-toggle:before {
    content: "\e913";
    }
.lvca-icon-arrow-left:before {
    content: "\e900";
    }
.lvca-icon-arrow-right:before {
    content: "\e901";
    }
.lvca-icon-aim:before {
    content: "\e902";
    }
.lvca-icon-behance:before {
    content: "\e903";
    }
.lvca-icon-dribbble:before {
    content: "\e904";
    }
.lvca-icon-facebook:before {
    content: "\e905";
    }
.lvca-icon-flickr:before {
    content: "\e906";
    }
.lvca-icon-googleplus:before {
    content: "\e907";
    }
.lvca-icon-linkedin:before {
    content: "\e908";
    }
.lvca-icon-pinterest:before {
    content: "\e909";
    }
.lvca-icon-skype:before {
    content: "\e90a";
    }
.lvca-icon-twitter:before {
    content: "\e90b";
    }
.lvca-icon-vimeo:before {
    content: "\e90c";
    }
.lvca-icon-zerply:before {
    content: "\e90d";
    }
.lvca-icon-quote:before {
    content: "\e90e";
    }
.lvca-icon-video-play:before {
    content: "\e90f";
    }

