@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?wyeqhs');
    src:    url('../fonts/icomoon.eot?wyeqhs#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?wyeqhs') format('truetype'),
        url('../fonts/icomoon.woff?wyeqhs') format('woff'),
        url('../fonts/icomoon.svg?wyeqhs#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
    content: "\e906";
}
.icon-home2:before {
    content: "\e907";
}
.icon-home3:before {
    content: "\e908";
}
.icon-office:before {
    content: "\e909";
}
.icon-newspaper:before {
    content: "\e90a";
}
.icon-pencil:before {
    content: "\e90b";
}
.icon-pencil2:before {
    content: "\e90c";
}
.icon-quill:before {
    content: "\e90d";
}
.icon-pen:before {
    content: "\e90e";
}
.icon-blog:before {
    content: "\e90f";
}
.icon-eyedropper:before {
    content: "\e910";
}
.icon-droplet:before {
    content: "\e911";
}
.icon-paint-format:before {
    content: "\e912";
}
.icon-image3:before {
    content: "\e913";
}
.icon-images:before {
    content: "\e914";
}
.icon-camera3:before {
    content: "\e915";
}
.icon-headphones:before {
    content: "\e916";
}
.icon-music:before {
    content: "\e917";
}
.icon-play3:before {
    content: "\e918";
}
.icon-film:before {
    content: "\e919";
}
.icon-video-camera:before {
    content: "\e91a";
}
.icon-dice:before {
    content: "\e91b";
}
.icon-pacman:before {
    content: "\e91c";
}
.icon-spades:before {
    content: "\e91d";
}
.icon-clubs:before {
    content: "\e91e";
}
.icon-diamonds:before {
    content: "\e91f";
}
.icon-bullhorn:before {
    content: "\e920";
}
.icon-connection:before {
    content: "\e921";
}
.icon-podcast:before {
    content: "\e922";
}
.icon-feed2:before {
    content: "\e923";
}
.icon-mic:before {
    content: "\e924";
}
.icon-book2:before {
    content: "\e925";
}
.icon-books:before {
    content: "\e926";
}
.icon-library:before {
    content: "\e927";
}
.icon-file-text:before {
    content: "\e928";
}
.icon-profile:before {
    content: "\e929";
}
.icon-file-empty:before {
    content: "\e92a";
}
.icon-files-empty:before {
    content: "\e92b";
}
.icon-file-text2:before {
    content: "\e92c";
}
.icon-file-picture:before {
    content: "\e92d";
}
.icon-file-music:before {
    content: "\e92e";
}
.icon-file-play:before {
    content: "\e92f";
}
.icon-file-video:before {
    content: "\e930";
}
.icon-file-zip:before {
    content: "\e931";
}
.icon-copy:before {
    content: "\e932";
}
.icon-paste:before {
    content: "\e933";
}
.icon-stack2:before {
    content: "\e934";
}
.icon-folder2:before {
    content: "\e935";
}
.icon-folder-open:before {
    content: "\e936";
}
.icon-folder-plus:before {
    content: "\e937";
}
.icon-folder-minus:before {
    content: "\e938";
}
.icon-folder-download:before {
    content: "\e939";
}
.icon-folder-upload:before {
    content: "\e93a";
}
.icon-price-tag:before {
    content: "\e93b";
}
.icon-price-tags:before {
    content: "\e93c";
}
.icon-barcode2:before {
    content: "\e93d";
}
.icon-qrcode:before {
    content: "\e93e";
}
.icon-ticket:before {
    content: "\e93f";
}
.icon-cart:before {
    content: "\e940";
}
.icon-coin-dollar:before {
    content: "\e941";
}
.icon-coin-euro:before {
    content: "\e942";
}
.icon-coin-pound:before {
    content: "\e943";
}
.icon-coin-yen:before {
    content: "\e944";
}
.icon-credit-card2:before {
    content: "\e945";
}
.icon-calculator:before {
    content: "\e946";
}
.icon-lifebuoy:before {
    content: "\e947";
}
.icon-phone2:before {
    content: "\e948";
}
.icon-phone-hang-up:before {
    content: "\e949";
}
.icon-address-book:before {
    content: "\e94a";
}
.icon-envelop:before {
    content: "\e94b";
}
.icon-pushpin:before {
    content: "\e94c";
}
.icon-location3:before {
    content: "\e94d";
}
.icon-location22:before {
    content: "\e94e";
}
.icon-compass:before {
    content: "\e94f";
}
.icon-compass2:before {
    content: "\e950";
}
.icon-map2:before {
    content: "\e951";
}
.icon-map22:before {
    content: "\e952";
}
.icon-history:before {
    content: "\e953";
}
.icon-clock2:before {
    content: "\e954";
}
.icon-clock22:before {
    content: "\e955";
}
.icon-alarm:before {
    content: "\e956";
}
.icon-bell2:before {
    content: "\e957";
}
.icon-stopwatch:before {
    content: "\e958";
}
.icon-calendar:before {
    content: "\e959";
}
.icon-printer2:before {
    content: "\e95a";
}
.icon-keyboard:before {
    content: "\e95b";
}
.icon-display:before {
    content: "\e95c";
}
.icon-laptop:before {
    content: "\e95d";
}
.icon-mobile:before {
    content: "\e95e";
}
.icon-mobile2:before {
    content: "\e95f";
}
.icon-tablet:before {
    content: "\e960";
}
.icon-tv:before {
    content: "\e961";
}
.icon-drawer:before {
    content: "\e962";
}
.icon-drawer2:before {
    content: "\e963";
}
.icon-box-add:before {
    content: "\e964";
}
.icon-box-remove:before {
    content: "\e965";
}
.icon-download2:before {
    content: "\e966";
}
.icon-upload2:before {
    content: "\e967";
}
.icon-floppy-disk:before {
    content: "\e968";
}
.icon-drive:before {
    content: "\e969";
}
.icon-database:before {
    content: "\e96a";
}
.icon-undo:before {
    content: "\e96b";
}
.icon-redo:before {
    content: "\e96c";
}
.icon-undo2:before {
    content: "\e96d";
}
.icon-redo2:before {
    content: "\e96e";
}
.icon-forward:before {
    content: "\e96f";
}
.icon-reply2:before {
    content: "\e970";
}
.icon-bubble:before {
    content: "\e971";
}
.icon-bubbles:before {
    content: "\e972";
}
.icon-bubbles2:before {
    content: "\e973";
}
.icon-bubble2:before {
    content: "\e974";
}
.icon-bubbles3:before {
    content: "\e975";
}
.icon-bubbles4:before {
    content: "\e976";
}
.icon-user:before {
    content: "\e977";
}
.icon-users:before {
    content: "\e978";
}
.icon-user-plus:before {
    content: "\e979";
}
.icon-user-minus:before {
    content: "\e97a";
}
.icon-user-check:before {
    content: "\e97b";
}
.icon-user-tie:before {
    content: "\e97c";
}
.icon-quotes-left:before {
    content: "\e97d";
}
.icon-quotes-right:before {
    content: "\e97e";
}
.icon-hour-glass:before {
    content: "\e97f";
}
.icon-spinner:before {
    content: "\e980";
}
.icon-spinner2:before {
    content: "\e981";
}
.icon-spinner3:before {
    content: "\e982";
}
.icon-spinner4:before {
    content: "\e983";
}
.icon-spinner5:before {
    content: "\e984";
}
.icon-spinner6:before {
    content: "\e985";
}
.icon-spinner7:before {
    content: "\e986";
}
.icon-spinner8:before {
    content: "\e987";
}
.icon-spinner9:before {
    content: "\e988";
}
.icon-spinner10:before {
    content: "\e989";
}
.icon-spinner11:before {
    content: "\e98a";
}
.icon-binoculars:before {
    content: "\e98b";
}
.icon-search3:before {
    content: "\e98c";
}
.icon-zoom-in2:before {
    content: "\e98d";
}
.icon-zoom-out2:before {
    content: "\e98e";
}
.icon-enlarge:before {
    content: "\e98f";
}
.icon-shrink:before {
    content: "\e990";
}
.icon-enlarge2:before {
    content: "\e991";
}
.icon-shrink2:before {
    content: "\e992";
}
.icon-key:before {
    content: "\e993";
}
.icon-key2:before {
    content: "\e994";
}
.icon-lock2:before {
    content: "\e995";
}
.icon-unlocked:before {
    content: "\e996";
}
.icon-wrench:before {
    content: "\e997";
}
.icon-equalizer:before {
    content: "\e998";
}
.icon-equalizer2:before {
    content: "\e999";
}
.icon-cog2:before {
    content: "\e99a";
}
.icon-cogs2:before {
    content: "\e99b";
}
.icon-hammer:before {
    content: "\e99c";
}
.icon-magic-wand:before {
    content: "\e99d";
}
.icon-aid-kit:before {
    content: "\e99e";
}
.icon-bug:before {
    content: "\e99f";
}
.icon-pie-chart:before {
    content: "\e9a0";
}
.icon-stats-dots:before {
    content: "\e9a1";
}
.icon-stats-bars:before {
    content: "\e9a2";
}
.icon-stats-bars2:before {
    content: "\e9a3";
}
.icon-trophy:before {
    content: "\e9a4";
}
.icon-gift:before {
    content: "\e9a5";
}
.icon-glass:before {
    content: "\e9a6";
}
.icon-glass2:before {
    content: "\e9a7";
}
.icon-mug:before {
    content: "\e9a8";
}
.icon-spoon-knife:before {
    content: "\e9a9";
}
.icon-leaf:before {
    content: "\e9aa";
}
.icon-rocket:before {
    content: "\e9ab";
}
.icon-meter:before {
    content: "\e9ac";
}
.icon-meter2:before {
    content: "\e9ad";
}
.icon-hammer2:before {
    content: "\e9ae";
}
.icon-fire:before {
    content: "\e9af";
}
.icon-lab:before {
    content: "\e9b0";
}
.icon-magnet:before {
    content: "\e9b1";
}
.icon-bin:before {
    content: "\e9b2";
}
.icon-bin2:before {
    content: "\e9b3";
}
.icon-briefcase2:before {
    content: "\e9b4";
}
.icon-airplane:before {
    content: "\e9b5";
}
.icon-truck:before {
    content: "\e9b6";
}
.icon-road:before {
    content: "\e9b7";
}
.icon-accessibility:before {
    content: "\e9b8";
}
.icon-target2:before {
    content: "\e9b9";
}
.icon-shield:before {
    content: "\e9ba";
}
.icon-power2:before {
    content: "\e9bb";
}
.icon-switch:before {
    content: "\e9bc";
}
.icon-power-cord:before {
    content: "\e9bd";
}
.icon-clipboard2:before {
    content: "\e9be";
}
.icon-list-numbered:before {
    content: "\e9bf";
}
.icon-list:before {
    content: "\e9c0";
}
.icon-list2:before {
    content: "\e9c1";
}
.icon-tree:before {
    content: "\e9c2";
}
.icon-menu2:before {
    content: "\e9c3";
}
.icon-menu22:before {
    content: "\e9c4";
}
.icon-menu3:before {
    content: "\e9c5";
}
.icon-menu4:before {
    content: "\e9c6";
}
.icon-cloud2:before {
    content: "\e9c7";
}
.icon-cloud-download2:before {
    content: "\e9c8";
}
.icon-cloud-upload2:before {
    content: "\e9c9";
}
.icon-cloud-check:before {
    content: "\e9ca";
}
.icon-download22:before {
    content: "\e9cb";
}
.icon-upload22:before {
    content: "\e9cc";
}
.icon-download3:before {
    content: "\e9cd";
}
.icon-upload3:before {
    content: "\e9ce";
}
.icon-sphere:before {
    content: "\e9cf";
}
.icon-earth:before {
    content: "\e9d0";
}
.icon-link2:before {
    content: "\e9d1";
}
.icon-flag2:before {
    content: "\e9d2";
}
.icon-attachment:before {
    content: "\e9d3";
}
.icon-eye3:before {
    content: "\e9d4";
}
.icon-eye-plus:before {
    content: "\e9d5";
}
.icon-eye-minus:before {
    content: "\e9d6";
}
.icon-eye-blocked:before {
    content: "\e9d7";
}
.icon-bookmark:before {
    content: "\e9d8";
}
.icon-bookmarks:before {
    content: "\e9d9";
}
.icon-sun2:before {
    content: "\e9da";
}
.icon-contrast:before {
    content: "\e9db";
}
.icon-brightness-contrast:before {
    content: "\e9dc";
}
.icon-star-empty:before {
    content: "\e9dd";
}
.icon-star-half:before {
    content: "\e9de";
}
.icon-star-full:before {
    content: "\e9df";
}
.icon-heart2:before {
    content: "\e9e0";
}
.icon-heart-broken:before {
    content: "\e9e1";
}
.icon-man:before {
    content: "\e9e2";
}
.icon-woman:before {
    content: "\e9e3";
}
.icon-man-woman:before {
    content: "\e9e4";
}
.icon-happy:before {
    content: "\e9e5";
}
.icon-happy2:before {
    content: "\e9e6";
}
.icon-smile:before {
    content: "\e9e7";
}
.icon-smile2:before {
    content: "\e9e8";
}
.icon-tongue:before {
    content: "\e9e9";
}
.icon-tongue2:before {
    content: "\e9ea";
}
.icon-sad:before {
    content: "\e9eb";
}
.icon-sad2:before {
    content: "\e9ec";
}
.icon-wink:before {
    content: "\e9ed";
}
.icon-wink2:before {
    content: "\e9ee";
}
.icon-grin:before {
    content: "\e9ef";
}
.icon-grin2:before {
    content: "\e9f0";
}
.icon-cool:before {
    content: "\e9f1";
}
.icon-cool2:before {
    content: "\e9f2";
}
.icon-angry:before {
    content: "\e9f3";
}
.icon-angry2:before {
    content: "\e9f4";
}
.icon-evil:before {
    content: "\e9f5";
}
.icon-evil2:before {
    content: "\e9f6";
}
.icon-shocked:before {
    content: "\e9f7";
}
.icon-shocked2:before {
    content: "\e9f8";
}
.icon-baffled:before {
    content: "\e9f9";
}
.icon-baffled2:before {
    content: "\e9fa";
}
.icon-confused:before {
    content: "\e9fb";
}
.icon-confused2:before {
    content: "\e9fc";
}
.icon-neutral:before {
    content: "\e9fd";
}
.icon-neutral2:before {
    content: "\e9fe";
}
.icon-hipster:before {
    content: "\e9ff";
}
.icon-hipster2:before {
    content: "\ea00";
}
.icon-wondering:before {
    content: "\ea01";
}
.icon-wondering2:before {
    content: "\ea02";
}
.icon-sleepy:before {
    content: "\ea03";
}
.icon-sleepy2:before {
    content: "\ea04";
}
.icon-frustrated:before {
    content: "\ea05";
}
.icon-frustrated2:before {
    content: "\ea06";
}
.icon-crying:before {
    content: "\ea07";
}
.icon-crying2:before {
    content: "\ea08";
}
.icon-point-up:before {
    content: "\ea09";
}
.icon-point-right:before {
    content: "\ea0a";
}
.icon-point-down:before {
    content: "\ea0b";
}
.icon-point-left:before {
    content: "\ea0c";
}
.icon-warning:before {
    content: "\ea0d";
}
.icon-notification:before {
    content: "\ea0e";
}
.icon-question:before {
    content: "\ea0f";
}
.icon-plus2:before {
    content: "\ea10";
}
.icon-minus2:before {
    content: "\ea11";
}
.icon-info:before {
    content: "\ea12";
}
.icon-cancel-circle:before {
    content: "\ea13";
}
.icon-blocked:before {
    content: "\ea14";
}
.icon-cross2:before {
    content: "\ea15";
}
.icon-checkmark:before {
    content: "\ea16";
}
.icon-checkmark2:before {
    content: "\ea17";
}
.icon-spell-check:before {
    content: "\ea18";
}
.icon-enter:before {
    content: "\ea19";
}
.icon-exit:before {
    content: "\ea1a";
}
.icon-play22:before {
    content: "\ea1b";
}
.icon-pause2:before {
    content: "\ea1c";
}
.icon-stop2:before {
    content: "\ea1d";
}
.icon-previous:before {
    content: "\ea1e";
}
.icon-next:before {
    content: "\ea1f";
}
.icon-backward:before {
    content: "\ea20";
}
.icon-forward2:before {
    content: "\ea21";
}
.icon-play32:before {
    content: "\ea22";
}
.icon-pause22:before {
    content: "\ea23";
}
.icon-stop22:before {
    content: "\ea24";
}
.icon-backward2:before {
    content: "\ea25";
}
.icon-forward3:before {
    content: "\ea26";
}
.icon-first:before {
    content: "\ea27";
}
.icon-last:before {
    content: "\ea28";
}
.icon-previous2:before {
    content: "\ea29";
}
.icon-next2:before {
    content: "\ea2a";
}
.icon-eject:before {
    content: "\ea2b";
}
.icon-volume-high:before {
    content: "\ea2c";
}
.icon-volume-medium:before {
    content: "\ea2d";
}
.icon-volume-low:before {
    content: "\ea2e";
}
.icon-volume-mute:before {
    content: "\ea2f";
}
.icon-volume-mute2:before {
    content: "\ea30";
}
.icon-volume-increase:before {
    content: "\ea31";
}
.icon-volume-decrease:before {
    content: "\ea32";
}
.icon-loop:before {
    content: "\ea33";
}
.icon-loop2:before {
    content: "\ea34";
}
.icon-infinite:before {
    content: "\ea35";
}
.icon-shuffle2:before {
    content: "\ea36";
}
.icon-arrow-up-left:before {
    content: "\ea37";
}
.icon-arrow-up2:before {
    content: "\ea38";
}
.icon-arrow-up-right:before {
    content: "\ea39";
}
.icon-arrow-right2:before {
    content: "\ea3a";
}
.icon-arrow-down-right:before {
    content: "\ea3b";
}
.icon-arrow-down2:before {
    content: "\ea3c";
}
.icon-arrow-down-left:before {
    content: "\ea3d";
}
.icon-arrow-left2:before {
    content: "\ea3e";
}
.icon-arrow-up-left2:before {
    content: "\ea3f";
}
.icon-arrow-up22:before {
    content: "\ea40";
}
.icon-arrow-up-right2:before {
    content: "\ea41";
}
.icon-arrow-right22:before {
    content: "\ea42";
}
.icon-arrow-down-right2:before {
    content: "\ea43";
}
.icon-arrow-down22:before {
    content: "\ea44";
}
.icon-arrow-down-left2:before {
    content: "\ea45";
}
.icon-arrow-left22:before {
    content: "\ea46";
}
.icon-circle-up:before {
    content: "\ea47";
}
.icon-circle-right:before {
    content: "\ea48";
}
.icon-circle-down:before {
    content: "\ea49";
}
.icon-circle-left:before {
    content: "\ea4a";
}
.icon-tab:before {
    content: "\ea4b";
}
.icon-move-up:before {
    content: "\ea4c";
}
.icon-move-down:before {
    content: "\ea4d";
}
.icon-sort-alpha-asc:before {
    content: "\ea4e";
}
.icon-sort-alpha-desc:before {
    content: "\ea4f";
}
.icon-sort-numeric-asc:before {
    content: "\ea50";
}
.icon-sort-numberic-desc:before {
    content: "\ea51";
}
.icon-sort-amount-asc:before {
    content: "\ea52";
}
.icon-sort-amount-desc:before {
    content: "\ea53";
}
.icon-command2:before {
    content: "\ea54";
}
.icon-shift:before {
    content: "\ea55";
}
.icon-ctrl:before {
    content: "\ea56";
}
.icon-opt:before {
    content: "\ea57";
}
.icon-checkbox-checked:before {
    content: "\ea58";
}
.icon-checkbox-unchecked:before {
    content: "\ea59";
}
.icon-radio-checked:before {
    content: "\ea5a";
}
.icon-radio-checked2:before {
    content: "\ea5b";
}
.icon-radio-unchecked:before {
    content: "\ea5c";
}
.icon-crop:before {
    content: "\ea5d";
}
.icon-make-group:before {
    content: "\ea5e";
}
.icon-ungroup:before {
    content: "\ea5f";
}
.icon-scissors:before {
    content: "\ea60";
}
.icon-filter:before {
    content: "\ea61";
}
.icon-font:before {
    content: "\ea62";
}
.icon-ligature:before {
    content: "\ea63";
}
.icon-ligature2:before {
    content: "\ea64";
}
.icon-text-height:before {
    content: "\ea65";
}
.icon-text-width:before {
    content: "\ea66";
}
.icon-font-size:before {
    content: "\ea67";
}
.icon-bold:before {
    content: "\ea68";
}
.icon-underline:before {
    content: "\ea69";
}
.icon-italic:before {
    content: "\ea6a";
}
.icon-strikethrough:before {
    content: "\ea6b";
}
.icon-omega:before {
    content: "\ea6c";
}
.icon-sigma:before {
    content: "\ea6d";
}
.icon-page-break:before {
    content: "\ea6e";
}
.icon-superscript:before {
    content: "\ea6f";
}
.icon-subscript:before {
    content: "\ea70";
}
.icon-superscript2:before {
    content: "\ea71";
}
.icon-subscript2:before {
    content: "\ea72";
}
.icon-text-color:before {
    content: "\ea73";
}
.icon-pagebreak:before {
    content: "\ea74";
}
.icon-clear-formatting:before {
    content: "\ea75";
}
.icon-table:before {
    content: "\ea76";
}
.icon-table2:before {
    content: "\ea77";
}
.icon-insert-template:before {
    content: "\ea78";
}
.icon-pilcrow:before {
    content: "\ea79";
}
.icon-ltr:before {
    content: "\ea7a";
}
.icon-rtl:before {
    content: "\ea7b";
}
.icon-section:before {
    content: "\ea7c";
}
.icon-paragraph-left:before {
    content: "\ea7d";
}
.icon-paragraph-center:before {
    content: "\ea7e";
}
.icon-paragraph-right:before {
    content: "\ea7f";
}
.icon-paragraph-justify:before {
    content: "\ea80";
}
.icon-indent-increase:before {
    content: "\ea81";
}
.icon-indent-decrease:before {
    content: "\ea82";
}
.icon-share2:before {
    content: "\ea83";
}
.icon-new-tab:before {
    content: "\ea84";
}
.icon-embed:before {
    content: "\ea85";
}
.icon-embed2:before {
    content: "\ea86";
}
.icon-terminal2:before {
    content: "\ea87";
}
.icon-share22:before {
    content: "\ea88";
}
.icon-mail2:before {
    content: "\ea89";
}
.icon-mail22:before {
    content: "\ea8a";
}
.icon-mail3:before {
    content: "\ea8b";
}
.icon-mail4:before {
    content: "\ea8c";
}
.icon-amazon:before {
    content: "\ea8d";
}
.icon-google:before {
    content: "\ea8e";
}
.icon-google2:before {
    content: "\ea8f";
}
.icon-google3:before {
    content: "\ea90";
}
.icon-google-plus2:before {
    content: "\ea91";
}
.icon-google-plus22:before {
    content: "\ea92";
}
.icon-google-plus3:before {
    content: "\ea93";
}
.icon-hangouts:before {
    content: "\ea94";
}
.icon-google-drive:before {
    content: "\ea95";
}
.icon-facebook2:before {
    content: "\ea96";
}
.icon-facebook22:before {
    content: "\ea97";
}
.icon-instagram2:before {
    content: "\ea98";
}
.icon-whatsapp:before {
    content: "\ea99";
}
.icon-spotify:before {
    content: "\ea9a";
}
.icon-telegram:before {
    content: "\ea9b";
}
.icon-twitter2:before {
    content: "\ea9c";
}
.icon-vine:before {
    content: "\ea9d";
}
.icon-vk2:before {
    content: "\ea9e";
}
.icon-renren:before {
    content: "\ea9f";
}
.icon-sina-weibo:before {
    content: "\eaa0";
}
.icon-rss2:before {
    content: "\eaa1";
}
.icon-rss22:before {
    content: "\eaa2";
}
.icon-youtube2:before {
    content: "\eaa3";
}
.icon-youtube22:before {
    content: "\eaa4";
}
.icon-twitch:before {
    content: "\eaa5";
}
.icon-vimeo2:before {
    content: "\eaa6";
}
.icon-vimeo22:before {
    content: "\eaa7";
}
.icon-lanyrd:before {
    content: "\eaa8";
}
.icon-flickr2:before {
    content: "\eaa9";
}
.icon-flickr22:before {
    content: "\eaaa";
}
.icon-flickr3:before {
    content: "\eaab";
}
.icon-flickr4:before {
    content: "\eaac";
}
.icon-dribbble2:before {
    content: "\eaad";
}
.icon-behance2:before {
    content: "\eaae";
}
.icon-behance22:before {
    content: "\eaaf";
}
.icon-deviantart:before {
    content: "\eab0";
}
.icon-500px2:before {
    content: "\eab1";
}
.icon-steam:before {
    content: "\eab2";
}
.icon-steam2:before {
    content: "\eab3";
}
.icon-dropbox2:before {
    content: "\eab4";
}
.icon-onedrive:before {
    content: "\eab5";
}
.icon-github2:before {
    content: "\eab6";
}
.icon-npm:before {
    content: "\eab7";
}
.icon-basecamp:before {
    content: "\eab8";
}
.icon-trello2:before {
    content: "\eab9";
}
.icon-wordpress:before {
    content: "\eaba";
}
.icon-joomla:before {
    content: "\eabb";
}
.icon-ello:before {
    content: "\eabc";
}
.icon-blogger:before {
    content: "\eabd";
}
.icon-blogger2:before {
    content: "\eabe";
}
.icon-tumblr2:before {
    content: "\eabf";
}
.icon-tumblr22:before {
    content: "\eac0";
}
.icon-yahoo:before {
    content: "\eac1";
}
.icon-yahoo2:before {
    content: "\eac2";
}
.icon-tux:before {
    content: "\eac3";
}
.icon-appleinc:before {
    content: "\eac4";
}
.icon-finder:before {
    content: "\eac5";
}
.icon-android2:before {
    content: "\eac6";
}
.icon-windows2:before {
    content: "\eac7";
}
.icon-windows8:before {
    content: "\eac8";
}
.icon-soundcloud:before {
    content: "\eac9";
}
.icon-soundcloud2:before {
    content: "\eaca";
}
.icon-skype2:before {
    content: "\eacb";
}
.icon-reddit:before {
    content: "\eacc";
}
.icon-hackernews:before {
    content: "\eacd";
}
.icon-wikipedia:before {
    content: "\eace";
}
.icon-linkedin2:before {
    content: "\eacf";
}
.icon-linkedin22:before {
    content: "\ead0";
}
.icon-lastfm2:before {
    content: "\ead1";
}
.icon-lastfm22:before {
    content: "\ead2";
}
.icon-delicious:before {
    content: "\ead3";
}
.icon-stumbleupon:before {
    content: "\ead4";
}
.icon-stumbleupon2:before {
    content: "\ead5";
}
.icon-stackoverflow:before {
    content: "\ead6";
}
.icon-pinterest2:before {
    content: "\ead7";
}
.icon-pinterest22:before {
    content: "\ead8";
}
.icon-xing:before {
    content: "\ead9";
}
.icon-xing2:before {
    content: "\eada";
}
.icon-flattr:before {
    content: "\eadb";
}
.icon-foursquare2:before {
    content: "\eadc";
}
.icon-yelp:before {
    content: "\eadd";
}
.icon-paypal2:before {
    content: "\eade";
}
.icon-chrome2:before {
    content: "\eadf";
}
.icon-firefox2:before {
    content: "\eae0";
}
.icon-IE:before {
    content: "\eae1";
}
.icon-edge2:before {
    content: "\eae2";
}
.icon-safari2:before {
    content: "\eae3";
}
.icon-opera2:before {
    content: "\eae4";
}
.icon-file-pdf:before {
    content: "\eae5";
}
.icon-file-openoffice:before {
    content: "\eae6";
}
.icon-file-word:before {
    content: "\eae7";
}
.icon-file-excel:before {
    content: "\eae8";
}
.icon-libreoffice:before {
    content: "\eae9";
}
.icon-html-five:before {
    content: "\eaea";
}
.icon-html-five2:before {
    content: "\eaeb";
}
.icon-css3:before {
    content: "\eaec";
}
.icon-git2:before {
    content: "\eaed";
}
.icon-codepen:before {
    content: "\eaee";
}
.icon-svg:before {
    content: "\eaef";
}
.icon-IcoMoon:before {
    content: "\eaf0";
}
.icon-check2:before {
    content: "\e905";
}
.icon-icon2:before {
    content: "\e904";
}
.icon-icon:before {
    content: "\e902";
}
.icon-arrowleft:before {
    content: "\e900";
}
.icon-arrowright:before {
    content: "\e901";
}
.icon-location2:before {
    content: "\e903";
}
.icon-search:before {
    content: "\f002";
}
.icon-envelope-o:before {
    content: "\f003";
}
.icon-star2:before {
    content: "\f005";
}
.icon-trash-o:before {
    content: "\f014";
}
.icon-barcode:before {
    content: "\f02a";
}
.icon-tag:before {
    content: "\f02b";
}
.icon-tags:before {
    content: "\f02c";
}
.icon-camera:before {
    content: "\f030";
}
.icon-image:before {
    content: "\f03e";
}
.icon-photo:before {
    content: "\f03e";
}
.icon-picture-o:before {
    content: "\f03e";
}
.icon-play2:before {
    content: "\f04b";
}
.icon-expand:before {
    content: "\f065";
}
.icon-compress:before {
    content: "\f066";
}
.icon-eye:before {
    content: "\f06e";
}
.icon-eye-slash:before {
    content: "\f070";
}
.icon-twitter-square:before {
    content: "\f081";
}
.icon-facebook-square:before {
    content: "\f082";
}
.icon-camera-retro:before {
    content: "\f083";
}
.icon-cogs:before {
    content: "\f085";
}
.icon-gears:before {
    content: "\f085";
}
.icon-comments:before {
    content: "\f086";
}
.icon-heart-o:before {
    content: "\f08a";
}
.icon-linkedin-square:before {
    content: "\f08c";
}
.icon-github-square:before {
    content: "\f092";
}
.icon-phone:before {
    content: "\f095";
}
.icon-square-o:before {
    content: "\f096";
}
.icon-bookmark-o:before {
    content: "\f097";
}
.icon-phone-square:before {
    content: "\f098";
}
.icon-twitter:before {
    content: "\f099";
}
.icon-facebook:before {
    content: "\f09a";
}
.icon-facebook-f:before {
    content: "\f09a";
}
.icon-github:before {
    content: "\f09b";
}
.icon-credit-card:before {
    content: "\f09d";
}
.icon-feed:before {
    content: "\f09e";
}
.icon-rss:before {
    content: "\f09e";
}
.icon-paperclip:before {
    content: "\f0c6";
}
.icon-magic:before {
    content: "\f0d0";
}
.icon-pinterest:before {
    content: "\f0d2";
}
.icon-pinterest-square:before {
    content: "\f0d3";
}
.icon-google-plus-square:before {
    content: "\f0d4";
}
.icon-google-plus:before {
    content: "\f0d5";
}
.icon-caret-down:before {
    content: "\f0d7";
}
.icon-caret-up:before {
    content: "\f0d8";
}
.icon-caret-left:before {
    content: "\f0d9";
}
.icon-caret-right:before {
    content: "\f0da";
}
.icon-sort:before {
    content: "\f0dc";
}
.icon-unsorted:before {
    content: "\f0dc";
}
.icon-linkedin:before {
    content: "\f0e1";
}
.icon-comment-o:before {
    content: "\f0e5";
}
.icon-comments-o:before {
    content: "\f0e6";
}
.icon-angle-double-left:before {
    content: "\f100";
}
.icon-angle-double-right:before {
    content: "\f101";
}
.icon-angle-double-up:before {
    content: "\f102";
}
.icon-angle-double-down:before {
    content: "\f103";
}
.icon-angle-left:before {
    content: "\f104";
}
.icon-angle-right:before {
    content: "\f105";
}
.icon-angle-up:before {
    content: "\f106";
}
.icon-angle-down:before {
    content: "\f107";
}
.icon-terminal:before {
    content: "\f120";
}
.icon-code:before {
    content: "\f121";
}
.icon-youtube-square:before {
    content: "\f166";
}
.icon-youtube:before {
    content: "\f167";
}
.icon-dropbox:before {
    content: "\f16b";
}
.icon-instagram:before {
    content: "\f16d";
}
.icon-flickr:before {
    content: "\f16e";
}
.icon-adn:before {
    content: "\f170";
}
.icon-tumblr:before {
    content: "\f173";
}
.icon-tumblr-square:before {
    content: "\f174";
}
.icon-apple:before {
    content: "\f179";
}
.icon-windows:before {
    content: "\f17a";
}
.icon-android:before {
    content: "\f17b";
}
.icon-linux:before {
    content: "\f17c";
}
.icon-dribbble:before {
    content: "\f17d";
}
.icon-skype:before {
    content: "\f17e";
}
.icon-foursquare:before {
    content: "\f180";
}
.icon-trello:before {
    content: "\f181";
}
.icon-vk:before {
    content: "\f189";
}
.icon-vimeo-square:before {
    content: "\f194";
}
.icon-behance:before {
    content: "\f1b4";
}
.icon-behance-square:before {
    content: "\f1b5";
}
.icon-git:before {
    content: "\f1d3";
}
.icon-paypal:before {
    content: "\f1ed";
}
.icon-google-wallet:before {
    content: "\f1ee";
}
.icon-cc-visa:before {
    content: "\f1f0";
}
.icon-cc-mastercard:before {
    content: "\f1f1";
}
.icon-cc-discover:before {
    content: "\f1f2";
}
.icon-cc-amex:before {
    content: "\f1f3";
}
.icon-cc-paypal:before {
    content: "\f1f4";
}
.icon-cc-stripe:before {
    content: "\f1f5";
}
.icon-lastfm:before {
    content: "\f202";
}
.icon-toggle-off:before {
    content: "\f204";
}
.icon-toggle-on:before {
    content: "\f205";
}
.icon-skyatlas:before {
    content: "\f216";
}
.icon-diamond:before {
    content: "\f219";
}
.icon-opencart:before {
    content: "\f23d";
}
.icon-odnoklassniki:before {
    content: "\f263";
}
.icon-odnoklassniki-square:before {
    content: "\f264";
}
.icon-get-pocket:before {
    content: "\f265";
}
.icon-wikipedia-w:before {
    content: "\f266";
}
.icon-safari:before {
    content: "\f267";
}
.icon-chrome:before {
    content: "\f268";
}
.icon-firefox:before {
    content: "\f269";
}
.icon-opera:before {
    content: "\f26a";
}
.icon-internet-explorer:before {
    content: "\f26b";
}
.icon-500px:before {
    content: "\f26e";
}
.icon-vimeo:before {
    content: "\f27d";
}
.icon-edge:before {
    content: "\f282";
}
.icon-modx:before {
    content: "\f285";
}
.icon-hashtag:before {
    content: "\f292";
}
.icon-bluetooth:before {
    content: "\f293";
}
.icon-bluetooth-b:before {
    content: "\f294";
}
.icon-eye2:before {
    content: "\e000";
}
.icon-paper-clip:before {
    content: "\e001";
}
.icon-mail:before {
    content: "\e002";
}
.icon-toggle:before {
    content: "\e003";
}
.icon-layout:before {
    content: "\e004";
}
.icon-link:before {
    content: "\e005";
}
.icon-bell:before {
    content: "\e006";
}
.icon-lock:before {
    content: "\e007";
}
.icon-unlock:before {
    content: "\e008";
}
.icon-ribbon:before {
    content: "\e009";
}
.icon-image2:before {
    content: "\e010";
}
.icon-signal:before {
    content: "\e011";
}
.icon-target:before {
    content: "\e012";
}
.icon-clipboard:before {
    content: "\e013";
}
.icon-clock:before {
    content: "\e014";
}
.icon-watch:before {
    content: "\e015";
}
.icon-air-play:before {
    content: "\e016";
}
.icon-camera2:before {
    content: "\e017";
}
.icon-video:before {
    content: "\e018";
}
.icon-disc:before {
    content: "\e019";
}
.icon-printer:before {
    content: "\e020";
}
.icon-monitor:before {
    content: "\e021";
}
.icon-server:before {
    content: "\e022";
}
.icon-cog:before {
    content: "\e023";
}
.icon-heart:before {
    content: "\e024";
}
.icon-paragraph:before {
    content: "\e025";
}
.icon-align-justify:before {
    content: "\e026";
}
.icon-align-left:before {
    content: "\e027";
}
.icon-align-center:before {
    content: "\e028";
}
.icon-align-right:before {
    content: "\e029";
}
.icon-book:before {
    content: "\e030";
}
.icon-layers:before {
    content: "\e031";
}
.icon-stack:before {
    content: "\e032";
}
.icon-stack-2:before {
    content: "\e033";
}
.icon-paper:before {
    content: "\e034";
}
.icon-paper-stack:before {
    content: "\e035";
}
.icon-search2:before {
    content: "\e036";
}
.icon-zoom-in:before {
    content: "\e037";
}
.icon-zoom-out:before {
    content: "\e038";
}
.icon-reply:before {
    content: "\e039";
}
.icon-circle-plus:before {
    content: "\e040";
}
.icon-circle-minus:before {
    content: "\e041";
}
.icon-circle-check:before {
    content: "\e042";
}
.icon-circle-cross:before {
    content: "\e043";
}
.icon-square-plus:before {
    content: "\e044";
}
.icon-square-minus:before {
    content: "\e045";
}
.icon-square-check:before {
    content: "\e046";
}
.icon-square-cross:before {
    content: "\e047";
}
.icon-microphone:before {
    content: "\e048";
}
.icon-record:before {
    content: "\e049";
}
.icon-skip-back:before {
    content: "\e050";
}
.icon-rewind:before {
    content: "\e051";
}
.icon-play:before {
    content: "\e052";
}
.icon-pause:before {
    content: "\e053";
}
.icon-stop:before {
    content: "\e054";
}
.icon-fast-forward:before {
    content: "\e055";
}
.icon-skip-forward:before {
    content: "\e056";
}
.icon-shuffle:before {
    content: "\e057";
}
.icon-repeat:before {
    content: "\e058";
}
.icon-folder:before {
    content: "\e059";
}
.icon-umbrella:before {
    content: "\e060";
}
.icon-moon:before {
    content: "\e061";
}
.icon-thermometer:before {
    content: "\e062";
}
.icon-drop:before {
    content: "\e063";
}
.icon-sun:before {
    content: "\e064";
}
.icon-cloud:before {
    content: "\e065";
}
.icon-cloud-upload:before {
    content: "\e066";
}
.icon-cloud-download:before {
    content: "\e067";
}
.icon-upload:before {
    content: "\e068";
}
.icon-download:before {
    content: "\e069";
}
.icon-location:before {
    content: "\e070";
}
.icon-location-2:before {
    content: "\e071";
}
.icon-map:before {
    content: "\e072";
}
.icon-battery:before {
    content: "\e073";
}
.icon-head:before {
    content: "\e074";
}
.icon-briefcase:before {
    content: "\e075";
}
.icon-speech-bubble:before {
    content: "\e076";
}
.icon-anchor:before {
    content: "\e077";
}
.icon-globe:before {
    content: "\e078";
}
.icon-box:before {
    content: "\e079";
}
.icon-reload:before {
    content: "\e080";
}
.icon-share:before {
    content: "\e081";
}
.icon-marquee:before {
    content: "\e082";
}
.icon-marquee-plus:before {
    content: "\e083";
}
.icon-marquee-minus:before {
    content: "\e084";
}
.icon-tag2:before {
    content: "\e085";
}
.icon-power:before {
    content: "\e086";
}
.icon-command:before {
    content: "\e087";
}
.icon-alt:before {
    content: "\e088";
}
.icon-esc:before {
    content: "\e089";
}
.icon-bar-graph:before {
    content: "\e090";
}
.icon-bar-graph-2:before {
    content: "\e091";
}
.icon-pie-graph:before {
    content: "\e092";
}
.icon-star:before {
    content: "\e093";
}
.icon-arrow-left:before {
    content: "\e094";
}
.icon-arrow-right:before {
    content: "\e095";
}
.icon-arrow-up:before {
    content: "\e096";
}
.icon-arrow-down:before {
    content: "\e097";
}
.icon-volume:before {
    content: "\e098";
}
.icon-mute:before {
    content: "\e099";
}
.icon-content-right:before {
    content: "\e100";
}
.icon-content-left:before {
    content: "\e101";
}
.icon-grid:before {
    content: "\e102";
}
.icon-grid-2:before {
    content: "\e103";
}
.icon-columns:before {
    content: "\e104";
}
.icon-loader:before {
    content: "\e105";
}
.icon-bag:before {
    content: "\e106";
}
.icon-ban:before {
    content: "\e107";
}
.icon-flag:before {
    content: "\e108";
}
.icon-trash:before {
    content: "\e109";
}
.icon-expand2:before {
    content: "\e110";
}
.icon-contract:before {
    content: "\e111";
}
.icon-maximize:before {
    content: "\e112";
}
.icon-minimize:before {
    content: "\e113";
}
.icon-plus:before {
    content: "\e114";
}
.icon-minus:before {
    content: "\e115";
}
.icon-check:before {
    content: "\e116";
}
.icon-cross:before {
    content: "\e117";
}
.icon-move:before {
    content: "\e118";
}
.icon-delete:before {
    content: "\e119";
}
.icon-menu:before {
    content: "\e120";
}
.icon-archive:before {
    content: "\e121";
}
.icon-inbox:before {
    content: "\e122";
}
.icon-outbox:before {
    content: "\e123";
}
.icon-file:before {
    content: "\e124";
}
.icon-file-add:before {
    content: "\e125";
}
.icon-file-subtract:before {
    content: "\e126";
}
.icon-help:before {
    content: "\e127";
}
.icon-open:before {
    content: "\e128";
}
.icon-ellipsis:before {
    content: "\e129";
}

