html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.lvca-testimonials .lvca-testimonial {
  margin-bottom: 50px; }
.lvca-testimonials .lvca-testimonial-text {
  background: #ffffff;
  border: 1px solid #dbdbdb;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  text-align: center;
  position: relative;
  padding: 20px;
  margin-bottom: 40px;
  font-style: italic;
  font-size: 15px;
  line-height: 24px;
  color: #888;
  text-align: center;
  max-width: 450px; }
  .lvca-dark-bg .lvca-testimonials .lvca-testimonial-text {
    color: #666;
    background: #eee; }
  .lvca-testimonials .lvca-testimonial-text:after {
    content: '';
    display: block;
    background: #fff;
    border-left: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    background: #ffffff;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: skew(0deg, -44deg);
    width: 24px;
    height: 24px;
    position: absolute;
    bottom: -12px;
    left: 40px;
    margin: auto; }
    .lvca-dark-bg .lvca-testimonials .lvca-testimonial-text:after {
      background: #eee; }
.lvca-testimonials .lvca-testimonial-user {
  display: table; }
  .lvca-testimonials .lvca-testimonial-user .lvca-image-wrapper {
    display: table-cell; }
    .lvca-testimonials .lvca-testimonial-user .lvca-image-wrapper img {
      max-width: 64px;
      border-radius: 50%;
      margin-right: 20px; }
  .lvca-testimonials .lvca-testimonial-user .lvca-text {
    display: table-cell;
    vertical-align: middle;
    color: #888; }
    .lvca-dark-bg .lvca-testimonials .lvca-testimonial-user .lvca-text {
      color: #909090; }
    .lvca-testimonials .lvca-testimonial-user .lvca-text .lvca-author-name {
      font-size: 18px;
      line-height: 26px;
      letter-spacing: 1px;
      font-weight: bold;
      color: #333;
      text-transform: uppercase;
      clear: none;
      margin-top: 0;
      margin-bottom: 10px;
      font-size: 15px;
      line-height: 24px;
      margin-bottom: 5px;
      color: #333; }
      .lvca-dark-bg .lvca-testimonials .lvca-testimonial-user .lvca-text .lvca-author-name {
        color: #e5e5e5; }

/*# sourceMappingURL=style.css.map */
