html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.lvca-clients {
  overflow: hidden;
  margin: 0 auto; }
  .lvca-clients .lvca-client {
    position: relative;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    overflow: hidden; }
    .lvca-dark-bg .lvca-clients .lvca-client {
      border-color: #505050 !important; }
    .lvca-clients .lvca-client.lvca-twocol:nth-child(6n + 1) {
      border-left: 1px solid #ddd; }
    .lvca-clients .lvca-client.lvca-twocol:nth-child(-n + 6) {
      border-top: 1px solid #ddd; }
    .lvca-clients .lvca-client.lvca-onefifthcol:nth-child(5n + 1) {
      border-left: 1px solid #ddd; }
    .lvca-clients .lvca-client.lvca-onefifthcol:nth-child(-n + 5) {
      border-top: 1px solid #ddd; }
    .lvca-clients .lvca-client.lvca-threecol:nth-child(4n + 1) {
      border-left: 1px solid #ddd; }
    .lvca-clients .lvca-client.lvca-threecol:nth-child(-n + 4) {
      border-top: 1px solid #ddd; }
    .lvca-clients .lvca-client.lvca-fourcol:nth-child(3n + 1) {
      border-left: 1px solid #ddd; }
    .lvca-clients .lvca-client.lvca-fourcol:nth-child(-n + 3) {
      border-top: 1px solid #ddd; }
    .lvca-clients .lvca-client.lvca-sixcol:nth-child(2n + 1) {
      border-left: 1px solid #ddd; }
    .lvca-clients .lvca-client.lvca-sixcol:nth-child(-n + 2) {
      border-top: 1px solid #ddd; }
    @media only screen and (max-width: 800px) {
      .lvca-clients .lvca-client.lvca-twocol:nth-child(n), .lvca-clients .lvca-client.lvca-threecol:nth-child(n), .lvca-clients .lvca-client.lvca-fourcol:nth-child(n), .lvca-clients .lvca-client.lvca-onefifthcol:nth-child(n), .lvca-clients .lvca-client.lvca-sixcol:nth-child(n) {
        border-left: none;
        border-top: none;
        width: 50%;
        float: left; }
      .lvca-clients .lvca-client.lvca-twocol:nth-child(2n + 1), .lvca-clients .lvca-client.lvca-threecol:nth-child(2n + 1), .lvca-clients .lvca-client.lvca-fourcol:nth-child(2n + 1), .lvca-clients .lvca-client.lvca-onefifthcol:nth-child(2n + 1), .lvca-clients .lvca-client.lvca-sixcol:nth-child(2n + 1) {
        border-left: 1px solid #ddd; }
      .lvca-clients .lvca-client.lvca-twocol:nth-child(-n + 2), .lvca-clients .lvca-client.lvca-threecol:nth-child(-n + 2), .lvca-clients .lvca-client.lvca-fourcol:nth-child(-n + 2), .lvca-clients .lvca-client.lvca-onefifthcol:nth-child(-n + 2), .lvca-clients .lvca-client.lvca-sixcol:nth-child(-n + 2) {
        border-top: 1px solid #ddd; } }
    .lvca-clients .lvca-client img {
      -webkit-transition: all 0.3s ease-in-out 0s;
      -moz-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
      width: 100%;
      margin: 0; }
    .lvca-clients .lvca-client .lvca-client-name {
      position: absolute;
      z-index: 2;
      top: 50%;
      text-align: center;
      width: 100%;
      height: 100%;
      margin-top: -12px;
      color: #fff;
      font-size: 18px;
      line-height: 26px;
      -webkit-transition: opacity 0.4s ease-in-out 0s;
      -moz-transition: opacity 0.4s ease-in-out 0s;
      -ms-transition: opacity 0.4s ease-in-out 0s;
      transition: opacity 0.4s ease-in-out 0s;
      opacity: 0; }
      .lvca-clients .lvca-client .lvca-client-name a {
        color: #fff;
        text-decoration: none; }
    .lvca-clients .lvca-client .lvca-image-overlay {
      position: absolute;
      left: 0;
      top: 0;
      overflow: hidden;
      width: 100%;
      height: 100%;
      background: #000;
      filter: alpha(opacity=0);
      -moz-opacity: 0;
      opacity: 0;
      -webkit-transition: opacity 0.4s ease-in-out 0s;
      -moz-transition: opacity 0.4s ease-in-out 0s;
      -ms-transition: opacity 0.4s ease-in-out 0s;
      transition: opacity 0.4s ease-in-out 0s; }
    .lvca-clients .lvca-client:hover .lvca-image-overlay {
      opacity: 0.7; }
      .lvca-dark-bg .lvca-clients .lvca-client:hover .lvca-image-overlay {
        opacity: 0.8; }
    .lvca-clients .lvca-client:hover .lvca-client-name {
      opacity: 1; }

/*# sourceMappingURL=style.css.map */
