html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

@keyframes lvca-fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
/* ---------- General tab styles ---------- */
.lvca-tabs {
  position: relative;
  overflow: hidden; }
  .lvca-tabs .lvca-tab-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start; }
    .lvca-tabs .lvca-tab-nav .lvca-tab {
      text-align: center;
      -webkit-box-flex: 0;
      -webkit-flex: 0 1 auto;
      -moz-box-flex: 0;
      -moz-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
      flex: 0 1 auto; }
      .lvca-tabs .lvca-tab-nav .lvca-tab a {
        display: block;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 20px 40px;
        text-decoration: none;
        border: none;
        margin: 0;
        outline: none;
        -webkit-transition: color 0.3s;
        -moz-transition: color 0.3s;
        -ms-transition: color 0.3s;
        transition: color 0.3s; }
        @media only screen and (max-width: 1024px) {
          .lvca-tabs .lvca-tab-nav .lvca-tab a {
            padding: 20px 25px; } }
      .lvca-tabs .lvca-tab-nav .lvca-tab span.lvca-icon-wrapper span {
        font-size: 32px;
        font-weight: 400;
        vertical-align: middle;
        margin-right: 10px; }
      .lvca-tabs .lvca-tab-nav .lvca-tab span.lvca-image-wrapper img {
        max-width: 24px;
        display: inline-block;
        vertical-align: middle;
        height: auto;
        width: auto;
        padding: 0;
        margin: 0 10px 0 0;
        border: none; }
      .lvca-tabs .lvca-tab-nav .lvca-tab span.lvca-tab-title {
        font-size: 14px;
        line-height: 1;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px; }
  .lvca-tabs .lvca-tab-panes {
    position: relative; }
    .lvca-tabs .lvca-tab-panes .lvca-tab-pane {
      padding: 40px;
      display: none;
      overflow: hidden; }
      .lvca-tabs .lvca-tab-panes .lvca-tab-pane.lvca-active {
        display: block;
        animation: lvca-fade 0.3s ease-in-out; }

/* ----- Fallback for IE 8/9 ----- */
.lvca-no-flexbox .lvca-tab-nav {
  display: block; }
  .lvca-no-flexbox .lvca-tab-nav .lvca-tab {
    min-width: 15%;
    display: inline-block; }

/* ------------- Vertical tab styles ----------------- */
.lvca-tabs.lvca-vertical {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }
  .lvca-tabs.lvca-vertical .lvca-tab-nav {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -moz-box-flex: 1;
    -moz-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start; }
  .lvca-tabs.lvca-vertical .lvca-tab-panes {
    -webkit-box-flex: 4;
    -webkit-flex: 4 1 auto;
    -moz-box-flex: 4;
    -moz-flex: 4 1 auto;
    -ms-flex: 4 1 auto;
    flex: 4 1 auto; }
  .lvca-tabs.lvca-vertical.lvca-mobile-layout {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }

/* --------- Tab navigation in mobile ------------- */
.lvca-tab-mobile-menu {
  display: none;
  /* Hide on desktop */
  position: absolute;
  top: 23px;
  right: 20px;
  background: transparent;
  border: none;
  z-index: 10; }
  .lvca-tab-mobile-menu i {
    font-size: 18px;
    color: #777;
    font-weight: bold; }

.lvca-tabs.lvca-mobile-layout .lvca-tab-mobile-menu {
  display: block;
  /* Show on mobile only */ }
.lvca-tabs.lvca-mobile-layout .lvca-tab-nav {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  cursor: pointer; }
  .lvca-tabs.lvca-mobile-layout .lvca-tab-nav .lvca-tab {
    text-align: center;
    display: none; }
    .lvca-tabs.lvca-mobile-layout .lvca-tab-nav .lvca-tab.lvca-active {
      display: block; }
.lvca-tabs.lvca-mobile-layout.lvca-mobile-open {
  /* Open all tab navs and change the expand menu button to close button */ }
  .lvca-tabs.lvca-mobile-layout.lvca-mobile-open .lvca-tab-nav .lvca-tab {
    display: block; }
  .lvca-tabs.lvca-mobile-layout.lvca-mobile-open .lvca-tab-mobile-menu i:before {
    content: '\e911'; }

/* ------------- Style 1 ----------------- */
.lvca-tabs.lvca-style1 .lvca-tab-nav .lvca-tab {
  border-left: 1px solid #d9d9d9;
  border-bottom: 1px solid #e2e2e2;
  background: #e9e9e9; }
  .lvca-tabs.lvca-style1 .lvca-tab-nav .lvca-tab:first-child {
    border-left-color: transparent;
    border-radius: 5px 0 0 0; }
  .lvca-tabs.lvca-style1 .lvca-tab-nav .lvca-tab:last-child {
    border-radius: 0 5px 0 0; }
  .lvca-tabs.lvca-style1 .lvca-tab-nav .lvca-tab.lvca-active {
    border-bottom: none;
    background: #f2f2f2; }
  .lvca-tabs.lvca-style1 .lvca-tab-nav .lvca-tab a {
    color: #777; }
    .lvca-tabs.lvca-style1 .lvca-tab-nav .lvca-tab a:hover, .lvca-tabs.lvca-style1 .lvca-tab-nav .lvca-tab a:focus {
      color: #333; }
  .lvca-tabs.lvca-style1 .lvca-tab-nav .lvca-tab.lvca-active a {
    color: #333; }
.lvca-tabs.lvca-style1 .lvca-tab-panes {
  background: #f2f2f2;
  border-radius: 0 4px 4px 4px; }

.lvca-tabs.lvca-style1.lvca-mobile-layout:not(.lvca-mobile-open) .lvca-tab.lvca-active {
  background: #eeeeee; }
.lvca-tabs.lvca-style1.lvca-mobile-layout .lvca-tab {
  border-left: none;
  border-bottom-color: #d9d9d9; }
  .lvca-tabs.lvca-style1.lvca-mobile-layout .lvca-tab:first-child {
    border-radius: 5px 5px 0 0; }
  .lvca-tabs.lvca-style1.lvca-mobile-layout .lvca-tab:last-child {
    border-radius: 0; }
.lvca-tabs.lvca-style1.lvca-mobile-layout .lvca-tab-panes {
  border-radius: 0; }

/* -------- Style 2 ----------- */
.lvca-tabs.lvca-style2 .lvca-tab-nav {
  background: #f2f2f2;
  border-radius: 5px 5px 0 0;
  padding: 0 30px; }
  .lvca-tabs.lvca-style2 .lvca-tab-nav .lvca-tab {
    padding: 20px 10px;
    position: relative; }
    .lvca-tabs.lvca-style2 .lvca-tab-nav .lvca-tab a {
      display: inline-block;
      padding: 5px 20px;
      border-radius: 34px;
      color: #666;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      transition: all 0.3s; }
      .lvca-tabs.lvca-style2 .lvca-tab-nav .lvca-tab a:hover, .lvca-tabs.lvca-style2 .lvca-tab-nav .lvca-tab a:focus {
        color: #888; }
    .lvca-tabs.lvca-style2 .lvca-tab-nav .lvca-tab.lvca-active:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 8px;
      margin: 0 auto;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid #3c3d41; }
    .lvca-tabs.lvca-style2 .lvca-tab-nav .lvca-tab.lvca-active a {
      background: #838d8f;
      color: #fff; }
.lvca-tabs.lvca-style2 .lvca-tab-panes {
  background: #3c3d41;
  border-radius: 0 0 5px 5px; }
  .lvca-tabs.lvca-style2 .lvca-tab-panes .lvca-tab-pane {
    color: #838d8f; }
    .lvca-tabs.lvca-style2 .lvca-tab-panes .lvca-tab-pane h1, .lvca-tabs.lvca-style2 .lvca-tab-panes .lvca-tab-pane h2, .lvca-tabs.lvca-style2 .lvca-tab-panes .lvca-tab-pane h3, .lvca-tabs.lvca-style2 .lvca-tab-panes .lvca-tab-pane h4, .lvca-tabs.lvca-style2 .lvca-tab-panes .lvca-tab-pane h5, .lvca-tabs.lvca-style2 .lvca-tab-panes .lvca-tab-pane h6 {
      color: #fff; }

.lvca-tabs.lvca-style2.lvca-mobile-layout .lvca-tab-mobile-menu {
  top: 27px; }
.lvca-tabs.lvca-style2.lvca-mobile-layout .lvca-tab-nav {
  padding: 0; }
.lvca-tabs.lvca-style2.lvca-mobile-layout.lvca-mobile-open .lvca-tab {
  border-bottom: 1px solid #e2e2e2; }
  .lvca-tabs.lvca-style2.lvca-mobile-layout.lvca-mobile-open .lvca-tab:last-child {
    border-bottom: none; }
.lvca-tabs.lvca-style2.lvca-mobile-layout.lvca-mobile-open .lvca-tab.lvca-active:after {
  display: none; }

.lvca-dark-bg .lvca-tabs.lvca-style2 .lvca-tab-nav .lvca-tab a {
  color: #333; }
  .lvca-dark-bg .lvca-tabs.lvca-style2 .lvca-tab-nav .lvca-tab a:hover, .lvca-dark-bg .lvca-tabs.lvca-style2 .lvca-tab-nav .lvca-tab a:focus {
    color: #666; }
.lvca-dark-bg .lvca-tabs.lvca-style2 .lvca-tab-nav .lvca-tab.lvca-active a {
  background: #aaa;
  color: #fff; }
.lvca-dark-bg .lvca-tabs.lvca-style2 .lvca-tab-nav .lvca-tab.lvca-active:after {
  border-bottom: 8px solid #e7e7e7; }
.lvca-dark-bg .lvca-tabs.lvca-style2 .lvca-tab-panes {
  background: #e7e7e7; }
  .lvca-dark-bg .lvca-tabs.lvca-style2 .lvca-tab-panes .lvca-tab-pane {
    color: #666; }
    .lvca-dark-bg .lvca-tabs.lvca-style2 .lvca-tab-panes .lvca-tab-pane h1, .lvca-dark-bg .lvca-tabs.lvca-style2 .lvca-tab-panes .lvca-tab-pane h2, .lvca-dark-bg .lvca-tabs.lvca-style2 .lvca-tab-panes .lvca-tab-pane h3, .lvca-dark-bg .lvca-tabs.lvca-style2 .lvca-tab-panes .lvca-tab-pane h4, .lvca-dark-bg .lvca-tabs.lvca-style2 .lvca-tab-panes .lvca-tab-pane h5, .lvca-dark-bg .lvca-tabs.lvca-style2 .lvca-tab-panes .lvca-tab-pane h6 {
      color: #333; }

/* -------- Style 3 ----------- */
.lvca-tabs.lvca-style3 .lvca-tab-nav {
  background: #3c3d41;
  border-radius: 5px 5px 0 0; }
  .lvca-tabs.lvca-style3 .lvca-tab-nav .lvca-tab {
    position: relative;
    border-right: 1px solid #4e4f53; }
    .lvca-tabs.lvca-style3 .lvca-tab-nav .lvca-tab a {
      padding: 20px 30px;
      border-radius: 34px;
      color: #8f8e93;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      transition: all 0.3s; }
      .lvca-tabs.lvca-style3 .lvca-tab-nav .lvca-tab a:hover, .lvca-tabs.lvca-style3 .lvca-tab-nav .lvca-tab a:focus {
        color: #ccc; }
    .lvca-tabs.lvca-style3 .lvca-tab-nav .lvca-tab.lvca-active:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 8px;
      margin: 0 auto;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid #f2f2f2; }
    .lvca-tabs.lvca-style3 .lvca-tab-nav .lvca-tab span.lvca-icon-wrapper span, .lvca-tabs.lvca-style3 .lvca-tab-nav .lvca-tab span.lvca-image-wrapper img {
      margin: 0 auto; }
    .lvca-tabs.lvca-style3 .lvca-tab-nav .lvca-tab span.lvca-tab-title {
      display: none; }
    .lvca-tabs.lvca-style3 .lvca-tab-nav .lvca-tab.lvca-active a {
      color: #eeeeee; }
.lvca-tabs.lvca-style3 .lvca-tab-panes {
  background: #f2f2f2;
  border-radius: 0 0 5px 5px; }

.lvca-tabs.lvca-style3.lvca-mobile-layout .lvca-tab-nav {
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-right: 60px; }
.lvca-tabs.lvca-style3.lvca-mobile-layout.lvca-mobile-open .lvca-tab {
  border-bottom: 1px solid #4e4f53; }
  .lvca-dark-bg .lvca-tabs.lvca-style3.lvca-mobile-layout.lvca-mobile-open .lvca-tab {
    border-bottom-color: #e5e5e5; }
  .lvca-tabs.lvca-style3.lvca-mobile-layout.lvca-mobile-open .lvca-tab.lvca-active:after {
    display: none; }

.lvca-dark-bg .lvca-tabs.lvca-style3 .lvca-tab-nav {
  background: #fff; }
  .lvca-dark-bg .lvca-tabs.lvca-style3 .lvca-tab-nav .lvca-tab {
    border-right: 1px solid #ececec; }
    .lvca-dark-bg .lvca-tabs.lvca-style3 .lvca-tab-nav .lvca-tab a {
      color: #969696; }
      .lvca-dark-bg .lvca-tabs.lvca-style3 .lvca-tab-nav .lvca-tab a:hover, .lvca-dark-bg .lvca-tabs.lvca-style3 .lvca-tab-nav .lvca-tab a:focus {
        color: #666; }
    .lvca-dark-bg .lvca-tabs.lvca-style3 .lvca-tab-nav .lvca-tab.lvca-active a {
      color: #333; }
    .lvca-dark-bg .lvca-tabs.lvca-style3 .lvca-tab-nav .lvca-tab.lvca-active:after {
      border-bottom: 8px solid #e7e7e7; }
.lvca-dark-bg .lvca-tabs.lvca-style3 .lvca-tab-panes {
  background: #e7e7e7; }
  .lvca-dark-bg .lvca-tabs.lvca-style3 .lvca-tab-panes .lvca-tab-pane {
    color: #666; }
    .lvca-dark-bg .lvca-tabs.lvca-style3 .lvca-tab-panes .lvca-tab-pane h1, .lvca-dark-bg .lvca-tabs.lvca-style3 .lvca-tab-panes .lvca-tab-pane h2, .lvca-dark-bg .lvca-tabs.lvca-style3 .lvca-tab-panes .lvca-tab-pane h3, .lvca-dark-bg .lvca-tabs.lvca-style3 .lvca-tab-panes .lvca-tab-pane h4, .lvca-dark-bg .lvca-tabs.lvca-style3 .lvca-tab-panes .lvca-tab-pane h5, .lvca-dark-bg .lvca-tabs.lvca-style3 .lvca-tab-panes .lvca-tab-pane h6 {
      color: #333; }

/* ----------- Style 4 --------------- */
.lvca-tabs.lvca-style4 {
  background: #f2f2f2;
  border-radius: 5px; }
  .lvca-tabs.lvca-style4 .lvca-tab-nav {
    border-bottom: 1px solid #dddddd;
    margin: 0 40px; }
    .lvca-tabs.lvca-style4 .lvca-tab-nav .lvca-tab {
      position: relative;
      z-index: 1;
      margin-right: 20px; }
      .lvca-tabs.lvca-style4 .lvca-tab-nav .lvca-tab:last-child {
        margin-right: 0; }
      .lvca-tabs.lvca-style4 .lvca-tab-nav .lvca-tab a {
        color: #888;
        padding: 30px 20px; }
      .lvca-tabs.lvca-style4 .lvca-tab-nav .lvca-tab:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: transparent;
        -webkit-transition: background 0.3s;
        -moz-transition: background 0.3s;
        -ms-transition: background 0.3s;
        transition: background 0.3s; }
      .lvca-tabs.lvca-style4 .lvca-tab-nav .lvca-tab:hover a {
        color: #565656; }
      .lvca-tabs.lvca-style4 .lvca-tab-nav .lvca-tab.lvca-active a {
        color: #333; }
      .lvca-tabs.lvca-style4 .lvca-tab-nav .lvca-tab.lvca-active:before {
        background: #f94213;
        height: 2px; }
  .lvca-tabs.lvca-style4 .lvca-tab-pane {
    padding: 40px; }

.lvca-tabs.lvca-style4.lvca-mobile-layout .lvca-tab-nav {
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: none; }
  .lvca-tabs.lvca-style4.lvca-mobile-layout .lvca-tab-nav .lvca-tab {
    margin: 0;
    border-bottom: 1px solid #e0e0e0; }
    .lvca-dark-bg .lvca-tabs.lvca-style4.lvca-mobile-layout .lvca-tab-nav .lvca-tab {
      border-left: 1px solid #404040;
      border-right: 1px solid #404040;
      border-bottom-color: #404040; }
    .lvca-dark-bg .lvca-tabs.lvca-style4.lvca-mobile-layout .lvca-tab-nav .lvca-tab:first-child {
      border-top: 1px solid #404040; }
    .lvca-tabs.lvca-style4.lvca-mobile-layout .lvca-tab-nav .lvca-tab a {
      padding: 20px 25px; }
    .lvca-tabs.lvca-style4.lvca-mobile-layout .lvca-tab-nav .lvca-tab:before {
      display: none; }
.lvca-tabs.lvca-style4.lvca-mobile-layout.lvca-mobile-open .lvca-tab.lvca-active {
  border-left: 2px solid #f94213;
  border-right: 2px solid #f94213; }
.lvca-dark-bg .lvca-tabs.lvca-style4.lvca-mobile-layout:not(.lvca-mobile-open) .lvca-tab.lvca-active {
  border-top: 1px solid #404040; }

.lvca-dark-bg .lvca-tabs.lvca-style4 {
  background: transparent; }
  .lvca-dark-bg .lvca-tabs.lvca-style4 .lvca-tab-nav {
    margin: 0;
    border-bottom: 1px solid #2a2a2a; }
    .lvca-dark-bg .lvca-tabs.lvca-style4 .lvca-tab-nav .lvca-tab a {
      color: #707070; }
    .lvca-dark-bg .lvca-tabs.lvca-style4 .lvca-tab-nav .lvca-tab:hover a {
      color: #b0b0b0; }
    .lvca-dark-bg .lvca-tabs.lvca-style4 .lvca-tab-nav .lvca-tab.lvca-active a {
      color: #e5e5e5; }
  .lvca-dark-bg .lvca-tabs.lvca-style4 .lvca-tab-pane {
    padding: 40px 0 0;
    color: #909090; }
    .lvca-dark-bg .lvca-tabs.lvca-style4 .lvca-tab-pane h1, .lvca-dark-bg .lvca-tabs.lvca-style4 .lvca-tab-pane h2, .lvca-dark-bg .lvca-tabs.lvca-style4 .lvca-tab-pane h3, .lvca-dark-bg .lvca-tabs.lvca-style4 .lvca-tab-pane h4, .lvca-dark-bg .lvca-tabs.lvca-style4 .lvca-tab-pane h5, .lvca-dark-bg .lvca-tabs.lvca-style4 .lvca-tab-pane h6 {
      color: #e5e5e5; }

/* ----------- Style 5 --------------- */
.lvca-tabs.lvca-style5 .lvca-tab-nav a {
  padding: 20px 50px;
  color: #777;
  position: relative;
  z-index: 1; }
  .lvca-tabs.lvca-style5 .lvca-tab-nav a:after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #e9e9e9;
    content: '';
    -webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
    transition: transform 0.3s, background-color 0.3s;
    -webkit-transform: perspective(900px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(900px) rotate3d(1, 0, 0, 90deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-perspective-origin: 50% 100%;
    perspective-origin: 50% 100%; }
  .lvca-tabs.lvca-style5 .lvca-tab-nav a:hover, .lvca-tabs.lvca-style5 .lvca-tab-nav a:focus {
    color: #333; }
.lvca-tabs.lvca-style5 .lvca-tab-nav .lvca-tab.lvca-active a {
  color: #333; }
  .lvca-tabs.lvca-style5 .lvca-tab-nav .lvca-tab.lvca-active a:after {
    background-color: #f2f2f2;
    -webkit-transform: perspective(900px) rotate3d(1, 0, 0, 0deg);
    transform: perspective(900px) rotate3d(1, 0, 0, 0deg); }
.lvca-tabs.lvca-style5 .lvca-tab-panes {
  background: #f2f2f2; }

.lvca-tabs.lvca-style5.lvca-mobile-layout .lvca-tab-nav .lvca-tab {
  background: #f2f2f2;
  border-bottom: 1px solid #e5e5e5; }

.lvca-dark-bg .lvca-tabs.lvca-style5 .lvca-tab-nav .lvca-tab a {
  color: #b0b0b0; }
  .lvca-dark-bg .lvca-tabs.lvca-style5 .lvca-tab-nav .lvca-tab a:hover, .lvca-dark-bg .lvca-tabs.lvca-style5 .lvca-tab-nav .lvca-tab a:focus {
    color: #dddddd; }
.lvca-dark-bg .lvca-tabs.lvca-style5 .lvca-tab-nav .lvca-tab.lvca-active a {
  color: #333; }

/* ------------- Style 6 and Vertical Style 7 ----------------- */
.lvca-tabs.lvca-style6 .lvca-tab-nav .lvca-tab, .lvca-tabs.lvca-style7 .lvca-tab-nav .lvca-tab {
  text-align: left; }
  .lvca-tabs.lvca-style6 .lvca-tab-nav .lvca-tab a, .lvca-tabs.lvca-style7 .lvca-tab-nav .lvca-tab a {
    padding: 5px 2px;
    color: #666;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    display: inline-block; }
    .lvca-tabs.lvca-style6 .lvca-tab-nav .lvca-tab a:hover, .lvca-tabs.lvca-style6 .lvca-tab-nav .lvca-tab a:focus, .lvca-tabs.lvca-style7 .lvca-tab-nav .lvca-tab a:hover, .lvca-tabs.lvca-style7 .lvca-tab-nav .lvca-tab a:focus {
      color: #333333; }
  .lvca-tabs.lvca-style6 .lvca-tab-nav .lvca-tab.lvca-active a, .lvca-tabs.lvca-style7 .lvca-tab-nav .lvca-tab.lvca-active a {
    border-color: #f94213;
    color: #333; }
.lvca-tabs.lvca-style6 .lvca-tab-pane, .lvca-tabs.lvca-style7 .lvca-tab-pane {
  padding: 40px 0 0; }

.lvca-tabs.lvca-style6 .lvca-tab-nav {
  margin: 0 auto;
  text-align: left; }
  .lvca-tabs.lvca-style6 .lvca-tab-nav .lvca-tab {
    margin-right: 50px; }
    .lvca-tabs.lvca-style6 .lvca-tab-nav .lvca-tab:last-child {
      margin-right: 0; }
.lvca-tabs.lvca-style6 .lvca-tab-pane {
  padding: 40px 0 0; }

.lvca-tabs.lvca-style7 .lvca-tab-nav .lvca-tab {
  padding: 0 25px 0 0; }
  .lvca-tabs.lvca-style7 .lvca-tab-nav .lvca-tab a {
    max-width: 180px;
    margin: 6px 0; }
    @media only screen and (max-width: 479px) {
      .lvca-tabs.lvca-style7 .lvca-tab-nav .lvca-tab a {
        text-align: center; } }
.lvca-tabs.lvca-style7 .lvca-tab-panes {
  -webkit-box-flex: 6;
  -webkit-flex: 6 1 auto;
  -moz-box-flex: 6;
  -moz-flex: 6 1 auto;
  -ms-flex: 6 1 auto;
  flex: 6 1 auto; }
  .lvca-tabs.lvca-style7 .lvca-tab-panes .lvca-tab-pane {
    padding: 0 0 0 20px; }

.lvca-tabs.lvca-style6.lvca-mobile-layout .lvca-tab-mobile-menu, .lvca-tabs.lvca-style7.lvca-mobile-layout .lvca-tab-mobile-menu {
  top: 22px; }
.lvca-tabs.lvca-style6.lvca-mobile-layout .lvca-tab-nav .lvca-tab, .lvca-tabs.lvca-style7.lvca-mobile-layout .lvca-tab-nav .lvca-tab {
  padding: 12px 0;
  width: 100%;
  text-align: center; }
  .lvca-tabs.lvca-style6.lvca-mobile-layout .lvca-tab-nav .lvca-tab a, .lvca-tabs.lvca-style7.lvca-mobile-layout .lvca-tab-nav .lvca-tab a {
    margin: 0; }
.lvca-tabs.lvca-style6.lvca-mobile-layout .lvca-tab-pane, .lvca-tabs.lvca-style7.lvca-mobile-layout .lvca-tab-pane {
  padding: 30px 0 0; }

.lvca-dark-bg .lvca-tabs.lvca-style6 .lvca-tab-nav .lvca-tab a, .lvca-dark-bg .lvca-tabs.lvca-style7 .lvca-tab-nav .lvca-tab a {
  color: #b0b0b0; }
.lvca-dark-bg .lvca-tabs.lvca-style6 .lvca-tab-nav .lvca-tab:hover a, .lvca-dark-bg .lvca-tabs.lvca-style7 .lvca-tab-nav .lvca-tab:hover a {
  color: #dddddd; }
.lvca-dark-bg .lvca-tabs.lvca-style6 .lvca-tab-nav .lvca-tab.lvca-active a, .lvca-dark-bg .lvca-tabs.lvca-style7 .lvca-tab-nav .lvca-tab.lvca-active a {
  color: #eaeaea; }
.lvca-dark-bg .lvca-tabs.lvca-style6 .lvca-tab-pane, .lvca-dark-bg .lvca-tabs.lvca-style7 .lvca-tab-pane {
  color: #909090; }
  .lvca-dark-bg .lvca-tabs.lvca-style6 .lvca-tab-pane h1, .lvca-dark-bg .lvca-tabs.lvca-style6 .lvca-tab-pane h2, .lvca-dark-bg .lvca-tabs.lvca-style6 .lvca-tab-pane h3, .lvca-dark-bg .lvca-tabs.lvca-style6 .lvca-tab-pane h4, .lvca-dark-bg .lvca-tabs.lvca-style6 .lvca-tab-pane h5, .lvca-dark-bg .lvca-tabs.lvca-style6 .lvca-tab-pane h6, .lvca-dark-bg .lvca-tabs.lvca-style7 .lvca-tab-pane h1, .lvca-dark-bg .lvca-tabs.lvca-style7 .lvca-tab-pane h2, .lvca-dark-bg .lvca-tabs.lvca-style7 .lvca-tab-pane h3, .lvca-dark-bg .lvca-tabs.lvca-style7 .lvca-tab-pane h4, .lvca-dark-bg .lvca-tabs.lvca-style7 .lvca-tab-pane h5, .lvca-dark-bg .lvca-tabs.lvca-style7 .lvca-tab-pane h6 {
    color: #e5e5e5; }

/* ------------- Vertical Style 8 ----------------- */
.lvca-tabs.lvca-style8 .lvca-tab-nav .lvca-tab {
  margin: 2px 0; }
  .lvca-tabs.lvca-style8 .lvca-tab-nav .lvca-tab a {
    padding: 15px 30px;
    border-radius: 4px;
    background: #f2f2f2;
    color: #777777;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
    border-left: 3px solid transparent;
    text-align: left; }
    .lvca-tabs.lvca-style8 .lvca-tab-nav .lvca-tab a:hover, .lvca-tabs.lvca-style8 .lvca-tab-nav .lvca-tab a:focus {
      color: #333333; }
  .lvca-tabs.lvca-style8 .lvca-tab-nav .lvca-tab.lvca-active a {
    color: #333;
    border-left-color: #f94213; }
.lvca-tabs.lvca-style8 .lvca-tab-pane {
  padding: 0 0 0 40px; }

.lvca-tabs.lvca-style8.lvca-mobile-layout .lvca-tab-mobile-menu {
  top: 18px; }
.lvca-tabs.lvca-style8.lvca-mobile-layout .lvca-tab-nav .lvca-tab a {
  text-align: left; }
.lvca-tabs.lvca-style8.lvca-mobile-layout:not(.lvca-mobile-open) .lvca-tab.lvca-active a {
  border-color: transparent !important; }
.lvca-tabs.lvca-style8.lvca-mobile-layout .lvca-tab-pane {
  padding: 30px 0 0; }

.lvca-dark-bg .lvca-tabs.lvca-style8 .lvca-tab-pane {
  color: #909090; }
  .lvca-dark-bg .lvca-tabs.lvca-style8 .lvca-tab-pane h1, .lvca-dark-bg .lvca-tabs.lvca-style8 .lvca-tab-pane h2, .lvca-dark-bg .lvca-tabs.lvca-style8 .lvca-tab-pane h3, .lvca-dark-bg .lvca-tabs.lvca-style8 .lvca-tab-pane h4, .lvca-dark-bg .lvca-tabs.lvca-style8 .lvca-tab-pane h5, .lvca-dark-bg .lvca-tabs.lvca-style8 .lvca-tab-pane h6 {
    color: #e5e5e5; }

/* ------------- Vertical Style 9 ----------------- */
.lvca-tabs.lvca-style9 {
  background: #f2f2f2;
  border-radius: 5px; }
  .lvca-tabs.lvca-style9 .lvca-tab-nav {
    border-right: 1px solid #dddddd; }
    .lvca-tabs.lvca-style9 .lvca-tab-nav .lvca-tab {
      border-bottom: 1px solid #d8d8d8;
      background: #e9e9e9; }
      .lvca-tabs.lvca-style9 .lvca-tab-nav .lvca-tab.lvca-active {
        margin-right: -1px;
        background: #f2f2f2; }
      .lvca-tabs.lvca-style9 .lvca-tab-nav .lvca-tab a {
        padding: 20px 30px;
        color: #777; }
        .lvca-tabs.lvca-style9 .lvca-tab-nav .lvca-tab a:hover, .lvca-tabs.lvca-style9 .lvca-tab-nav .lvca-tab a:focus {
          color: #333; }
      .lvca-tabs.lvca-style9 .lvca-tab-nav .lvca-tab.lvca-active a {
        color: #333; }
  .lvca-tabs.lvca-style9 .lvca-tab-panes {
    -webkit-box-flex: 5;
    -webkit-flex: 5 1 auto;
    -moz-box-flex: 5;
    -moz-flex: 5 1 auto;
    -ms-flex: 5 1 auto;
    flex: 5 1 auto; }

.lvca-tabs.lvca-style9.lvca-mobile-layout .lvca-tab-nav {
  border-right: none; }
.lvca-tabs.lvca-style9.lvca-mobile-layout:not(.lvca-mobile-open) .lvca-tab.lvca-active {
  background: #eeeeee;
  border: none; }

/* -------- Vertical Style 10 ----------- */
.lvca-tabs.lvca-style10 .lvca-tab-nav {
  background: #3c3d41;
  border-radius: 5px 0 0 5px; }
  .lvca-tabs.lvca-style10 .lvca-tab-nav .lvca-tab {
    position: relative;
    border-bottom: 1px solid #4e4f53;
    padding: 0; }
    .lvca-tabs.lvca-style10 .lvca-tab-nav .lvca-tab:last-child {
      border-bottom: none; }
    .lvca-tabs.lvca-style10 .lvca-tab-nav .lvca-tab a {
      padding: 20px;
      color: #8f8e93;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      transition: all 0.3s; }
      .lvca-tabs.lvca-style10 .lvca-tab-nav .lvca-tab a:hover, .lvca-tabs.lvca-style10 .lvca-tab-nav .lvca-tab a:focus {
        color: #ccc; }
    .lvca-tabs.lvca-style10 .lvca-tab-nav .lvca-tab.lvca-active:after {
      content: '';
      display: block;
      position: absolute;
      top: 32px;
      right: 0;
      height: 8px;
      margin: 0 auto;
      border-top: 8px solid transparent;
      border-right: 8px solid #f2f2f2;
      border-bottom: 8px solid transparent; }
    .lvca-tabs.lvca-style10 .lvca-tab-nav .lvca-tab span.lvca-icon-wrapper span, .lvca-tabs.lvca-style10 .lvca-tab-nav .lvca-tab span.lvca-image-wrapper {
      margin: 0 auto; }
    .lvca-tabs.lvca-style10 .lvca-tab-nav .lvca-tab span.lvca-tab-title {
      display: none; }
    .lvca-tabs.lvca-style10 .lvca-tab-nav .lvca-tab.lvca-active a {
      color: #fff; }
.lvca-tabs.lvca-style10 .lvca-tab-panes {
  background: #f2f2f2;
  border-radius: 0 5px 5px 0; }

.lvca-tabs.lvca-style10.lvca-mobile-layout {
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }
  .lvca-tabs.lvca-style10.lvca-mobile-layout .lvca-tab-mobile-menu {
    display: none; }
  .lvca-tabs.lvca-style10.lvca-mobile-layout .lvca-tab-nav .lvca-tab {
    display: block; }

.lvca-dark-bg .lvca-tabs.lvca-style10 .lvca-tab-nav {
  background: #fff; }
  .lvca-dark-bg .lvca-tabs.lvca-style10 .lvca-tab-nav .lvca-tab {
    border-bottom: 1px solid #ececec; }
    .lvca-dark-bg .lvca-tabs.lvca-style10 .lvca-tab-nav .lvca-tab:last-child {
      border-bottom: none; }
    .lvca-dark-bg .lvca-tabs.lvca-style10 .lvca-tab-nav .lvca-tab a {
      color: #969696; }
      .lvca-dark-bg .lvca-tabs.lvca-style10 .lvca-tab-nav .lvca-tab a:hover, .lvca-dark-bg .lvca-tabs.lvca-style10 .lvca-tab-nav .lvca-tab a:focus {
        color: #666; }
    .lvca-dark-bg .lvca-tabs.lvca-style10 .lvca-tab-nav .lvca-tab.lvca-active a {
      color: #333; }
    .lvca-dark-bg .lvca-tabs.lvca-style10 .lvca-tab-nav .lvca-tab.lvca-active:after {
      border-right: 8px solid #e7e7e7; }
.lvca-dark-bg .lvca-tabs.lvca-style10 .lvca-tab-panes {
  background: #e7e7e7; }
  .lvca-dark-bg .lvca-tabs.lvca-style10 .lvca-tab-panes .lvca-tab-pane {
    color: #666; }
    .lvca-dark-bg .lvca-tabs.lvca-style10 .lvca-tab-panes .lvca-tab-pane h1, .lvca-dark-bg .lvca-tabs.lvca-style10 .lvca-tab-panes .lvca-tab-pane h2, .lvca-dark-bg .lvca-tabs.lvca-style10 .lvca-tab-panes .lvca-tab-pane h3, .lvca-dark-bg .lvca-tabs.lvca-style10 .lvca-tab-panes .lvca-tab-pane h4, .lvca-dark-bg .lvca-tabs.lvca-style10 .lvca-tab-panes .lvca-tab-pane h5, .lvca-dark-bg .lvca-tabs.lvca-style10 .lvca-tab-panes .lvca-tab-pane h6 {
      color: #333; }

/*# sourceMappingURL=style.css.map */
