html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.lvca-testimonials-slider {
  position: relative; }
  .lvca-testimonials-slider.lvca-container {
    max-width: 900px; }
  .lvca-testimonials-slider .lvca-testimonial-text {
    text-align: center;
    max-width: 750px;
    margin: 0 auto 40px;
    font-size: 18px;
    line-height: 32px;
    font-style: italic;
    color: #666; }
    .lvca-dark-bg .lvca-testimonials-slider .lvca-testimonial-text {
      color: #ccc; }
    .lvca-testimonials-slider .lvca-testimonial-text i {
      color: #ccc;
      font-size: 32px;
      display: block;
      margin-bottom: 35px;
      background: none;
      width: auto;
      height: auto; }
      .lvca-dark-bg .lvca-testimonials-slider .lvca-testimonial-text i {
        color: #ddd; }
  .lvca-testimonials-slider .lvca-testimonial-user {
    display: table;
    margin: 0 auto; }
    .lvca-testimonials-slider .lvca-testimonial-user .lvca-image-wrapper {
      display: table-cell; }
      .lvca-testimonials-slider .lvca-testimonial-user .lvca-image-wrapper img {
        max-width: 64px;
        border-radius: 50%;
        margin-right: 15px; }
    .lvca-testimonials-slider .lvca-testimonial-user .lvca-text {
      display: table-cell;
      vertical-align: middle;
      color: #888; }
      .lvca-dark-bg .lvca-testimonials-slider .lvca-testimonial-user .lvca-text {
        color: #909090; }
      .lvca-testimonials-slider .lvca-testimonial-user .lvca-text .lvca-author-name {
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 1px;
        font-weight: bold;
        color: #333;
        text-transform: uppercase;
        clear: none;
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 15px;
        line-height: 24px;
        margin-bottom: 5px; }
        .lvca-dark-bg .lvca-testimonials-slider .lvca-testimonial-user .lvca-text .lvca-author-name {
          color: #e5e5e5; }

/*# sourceMappingURL=style.css.map */
