﻿@model List<NewRecordlinc.Models.Colleagues.MessageDetails>

    @foreach (var lst in Model)
    {
        <div class="inbox_icons clearfix">
            @if (ViewBag.MessageTypeId == 0)
            {
                <a href="@Url.Action("PatientMessageCompose", "Patients", new { PatientId = lst.SenderId, Type = "reply" })" title="Reply, Reply All" class="inboxReply marginLeft0"></a>
                <a href="@Url.Action("Compose", "Inbox")" title="Compose" class="inboxCompose"></a>
                @*<a href="javascript:;" onclick="RemovePatientMessageFromSentboxOfDoctor(@lst.MessageId)" title="Delete" class="inboxDltMsg"></a>*@
            }
            else {
                
                <a href="@Url.Action("Compose", "Inbox", new { ColleaguesId = lst.SenderId, Type = "reply" })" title="Reply, Reply All" class="inboxReply marginLeft0"></a>
                <a href="@Url.Action("Compose", "Inbox")" title="Compose" class="inboxCompose"></a>
                @*<a href="javascript:;" onclick="RemoveMessageFromSentboxOfDoctor('@lst.MessageId')" title="Delete" class="inboxDltMsg"></a>*@
            }

        </div>
        <h3>&nbsp;<span>&nbsp</span></h3>
        <ul class="list" style="border-bottom:1px solid #ccc; padding-top:2px;">
            <li></li>
            <li><label>From:</label><a class="hylyt_field">@lst.From<span>&lt;@lst.SenderEmail&gt;</span></a></li>
            
            <li><label>To:</label>@lst.To @(!string.IsNullOrWhiteSpace(lst.ReceiverEmail) ? "<"+ lst.ReceiverEmail + ">" : "")</li>
            <li><label>Date:</label>@lst.CreationDate</li>

            @if (lst.lstMessageAttachment.Count > 0)
            {
                <li style="display:inline-table;">
                    @foreach (var item in lst.lstMessageAttachment)
                    {

                        string AttachmentName = string.Empty;
                        AttachmentName = item.AttachmentName.ToString();

                        AttachmentName = AttachmentName.Substring(AttachmentName.ToString().LastIndexOf("$") + 1);
                        string extension = Path.GetExtension(AttachmentName);
                        string Type = string.Empty;

                        if (extension.ToLower() != ".jpg" && extension.ToLower() != ".jpeg" && extension.ToLower() != ".gif" && extension.ToLower() != ".png" && extension.ToLower() != ".bmp" && extension.ToLower() != ".psd" && extension.ToLower() != ".pspimage" && extension.ToLower() != ".thm" && extension.ToLower() != ".tif")
                        {
                            Type = "Doc";
                        }
                        else
                        {
                            Type = "Image";
                        }
                        if (lst.Status)
                        {
                            <span title="@AttachmentName" onclick="Attachementpopup('@Convert.ToString(System.Configuration.ConfigurationManager.AppSettings.Get("DraftImages"))@item.AttachmentName.ToString()','@Type')" style="cursor: pointer;"><i class="attach"></i>@AttachmentName</span>
                        }
                        else
                        {
                            <span title="@AttachmentName" onclick="Attachementpopup('@Convert.ToString(System.Configuration.ConfigurationManager.AppSettings.Get("ImageBank"))@item.AttachmentName.ToString()','@Type')" style="cursor: pointer;"><i class="attach"></i>@AttachmentName</span>
                        }
                    }
                </li>
                <a href="/Inbox/DownloadAttachmentofMessage?DownId=@lst.MessageId"><img src="/Content/images/print-all-forms.png" style="float:right;margin-top:-10px;cursor:pointer;" /></a>
            }
        </ul>
        <table style='width:100%'>
            <tr>
                <td>
                    <div class="message_content" style="float: left; max-width:100%; position:relative;padding-bottom:10px;">@Html.Raw(lst.Body)</div>



                    @if (lst.lstAttachedPatient.Count > 0)
                {
                        <table cellspacing="0" cellpadding="0" border="0" class="patientTable">
                            <thead>
                                <tr>
                                    <th style="width:25% !important;">First Name</th>
                                    <th> Last Name</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in lst.lstAttachedPatient)
                                {
                                    <tr>
                                        <td><a href="javascript:;" onclick="getAttachedPatientHistory('@item.AttachedPatientId')">@item.AttachedPatientFirstName</a></td>
                                        <td><a href="javascript:;" onclick="getAttachedPatientHistory('@item.AttachedPatientId')">@item.AttachedPatientLastName</a></td>

                                    </tr>
                                }
                            </tbody>
                        </table>

                    }
                </td>
            </tr>
        </table>

    }

