﻿@{
    ViewBag.Title = "Recordlinc - Compose";
    Layout = "~/Views/Shared/SiteLayoutInner.cshtml";
}

<style>
    ul.form_listing li > label
    {
    padding-top : 0px;
    }
</style>

<script type="text/javascript">
    jQuery(document).ready(function () {
        function RecieverRepeat() {
            var lav = $('#SelectColleagues').children('ul').children('li').attr('rel');
            var relattr = "";
            $('#SelectColleagues').children('ul').children('li').each(function () {
                relattr += ',' + $(this).attr('rel');

            });
            relattr = relattr.split(',');

            for (i = 0; i < relattr.length; ++i) {


                $('#SelectColleagues').children('div').children('ul').children('li').each(function () {
                    if (relattr[i] == $(this).attr('rel')) {
                        $(this).css('display', 'none');
                    }
                });
            }
        }

        var timer;

        $('#SelectColleagues').keyup(function () {

            clearTimeout(timer);
            timer = setTimeout(RecieverRepeat, 10)

        });
        BindUserList();
    });

    function BindUserList() {

        jQuery.ajaxSetup({ async: false });
        var x = '';
        var ColleaguesId = '@ViewBag.ColleaguesId';
        var ReceiverId = '@ViewBag.ReceiverId';
        if ($('#select3').val() != null && $('#select3').val() != "") {
            x = $('#select3').val().toString();
        }
        if (ColleaguesId != null && ColleaguesId != "") {
            x = ColleaguesId;
        }
        if (ReceiverId != null && ReceiverId != "") {
            y = ReceiverId;
        }
        $.post("/Inbox/GetUserList", { selected: x, ReceiverId : y},
            function (data) {
                if (data != '') {
                    document.getElementById("SelectColleagues").innerHTML = data.toString();
                    $("#select3").select2({
                        minimumInputLength: 1
                    });
                }
                else {
                    //Priya : Issue no : 0004364
                    document.getElementById("SelectColleagues").innerHTML = '<label>Doctor not found</label>';
                }
            });
        jQuery.ajaxSetup({ async: true });
    }
    jQuery(document).ready(function () {
        $("#txtMessage").click(function () {
            $(".maininput").focus();
            $(".maininput").blur();
            $("#txtMessage").focus();
        });
        BindPatinetList();
        $("#SelectPatient").change(function () {
            $("#select4_annoninput").find("input").attr("placeholder", "Start typing patient name here");
            $("#select4_annoninput").find("input").css("width", "195px");
        });
    });
    $(window).load(function () {
        $("#select4_annoninput").find("input").attr("placeholder", "Start typing patient name here");
        $("#select4_annoninput").find("input").css("width", "195px");
    });
    function BindPatinetList() {
        jQuery.ajaxSetup({ async: false });
        var x = '';
        var PatientId = '@ViewBag.PatientId';
        if ($('#select4').val() != null && $('#select4').val() != "") {
            x = $('#select4').val().toString();
        }
        if (PatientId != null && PatientId != "") {
            x = PatientId;
        }
        $.post("/Inbox/GetPatientList", { selected: x },
            function (data) {
                if (data != '') {
                    document.getElementById("SelectPatient").innerHTML = data.toString();
                    $("#select4").select2({
                        minimumInputLength: 1
                    });
                }
                else {
                    //Priya : Issue no : 0004364
                    document.getElementById("SelectPatient").innerHTML = '<label>Patient not found</label>';
                }
            });
        jQuery.ajaxSetup({ async: true });
    }
    function GetAllTempUplodedDoc() {
        jQuery.ajaxSetup({ async: false });
        $.post("/Inbox/GetAllTempUplaodedDocuments", {},
            function (data) {
                if (data != '') {
                    document.getElementById("divTempUplodedDoc").innerHTML = data.toString();
                }
                else {
                    document.getElementById("divTempUplodedDoc").innerHTML = '';
                }
            });
        jQuery.ajaxSetup({ async: true });
    }

    // Open Document - Start
    function OpenTempDoc(RelativePath) {
        var sitename = window.location.host;
        if (sitename.indexOf('http://') == -1 || sitename.indexOf('https://')) {
            sitename = 'http://' + sitename
        }
        var str = RelativePath;
        var res = sitename + str.replace("/mydentalfiles/", "/").replace("~/", "/");
        var res = res.replace("mydentalfiles", "recordlinc");
        window.open(res, '_blank');
        window.focus();
    }
    //Open Document - End
    // Remove Document - Start
    function RemoveTempDoc(Id, DocName) {
       // var check = confirm("Are you sure you want to remove?");
        swal({
            title: "",
            text: "Are you sure you want to remove?",
            type: "warning",
            showCancelButton: true,
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: false,
            //showLoaderOnConfirm: true,
        },
   function (isConfirm) {
       if (isConfirm) {

       }
       else {
           return false;
       }
   });
        //if (check == true) {
        //}
        //else {
        //    return false;
        //}
        $.ajax({
            url: '@Url.Action("RemoveTempDoc", "Inbox")?Id=' + Id + '&DocName=' + DocName + '',
            type: 'POST',
            dataType: 'html',
            contenttype: "application/x-www-form-urlencoded",
            cache: false,
            ProcessData: false,
            success: function
                                               (output, status, xhr) {

                obj = jQuery.parseJSON(output);

                var hdncountatt = $('#hdncountatt').val();
                $('#hdncountatt').val(hdncountatt - 1);




                $(window).scrollTop(0);
                $('#divMessage').html(obj.Message);
                $('#divMessage').delay(300).slideDown(300).delay(3000).slideUp(300);
            },
            error: function (xhr) {

                if (typeof (console) != 'undefined') {
                    // console.log(xhr.responseText);
                }
            }
        });
    }
    // Remove Document - End

</script>
<style type="text/css">
    ul.select2-selection__rendered li {
        margin: 0 0 3px;
    }
</style>

@if (ViewBag.countatt != null)
{
    <script type="text/javascript">
        $(function () {
            $('#hdncountatt').val("@ViewBag.countatt");
        });
    </script>
}
<!-- Main content -->
<div class="content">
    <input type="hidden" id="hdncountatt" />
    <div class="content_base">
        <!-- Breadcrumb starts-->
        <div class="breadcrumb">
            <ul>
                <li>
                    <a href='@Url.Action("Index", "Index")'>
                        <img width="16" height="14" class="hires" src="../../Content/images/home-icon.png"
                             alt="Home">
                    </a><span class="after"></span>
                </li>
                <li class="active">
                    <span class="before"></span>
                    @if (ViewBag.Type == "reply")
                    {
                        <a href='@Url.Action("Compose", "Inbox", new { ColleaguesId = ViewBag.ColleaguesId, Type = "reply" })'>
                            Reply Message
                        </a>
                    }
                    else
                    {
                        <a href='@Url.Action("Compose", "Inbox", new { ColleaguesId = ViewBag.ColleaguesId })'>
                            Compose Message
                        </a>
                    }
                    <span class="after"></span>
                </li>
            </ul>
        </div>
        <!-- Breadcrumb ends-->
        <!-- Inner Content Starts -->
        <h3 class="heading">
            @if (ViewBag.Type == "reply")
            {
                @("Reply Message")
            }
            else
            {
                @("Compose Message")
            }
        </h3>
        <div class="inner">
            <div class="send_message">
                <ul class="form_listing">
                    <li>
                        <label>
                            To
                        </label>
                        <span class="fluid_cont" id="SelectColleagues"></span>
                    </li>
                    <li>
                        <label>
                            Message
                        </label>
                        <span class="fluid_cont" style="width:51.3%;">
                            <textarea id="txtMessage" name="Message" cols="" rows="5"></textarea>
                        </span>
                    </li>
                    <li>
                        <label>
                            Select Patient
                        </label>
                        <span class="fluid_cont" id="SelectPatient"></span>
                    </li>
                    <li class="marginbottom0">
                        <label>
                            Attachments
                        </label>
                        @Html.Partial("../Patients/PartialPatientFileUploadTemp")

                        <div class="clear">
                        </div>
                    </li>
                    <li>
                        @* @Html.Partial("PartialTempUploadList")*@
                        <div id="divTempUplodedDoc">
                        </div>

                    </li>
                    <li style="display:none;" id="licontinue">
                        <label class="display_div">
                            &nbsp;
                        </label>
                        <input type="hidden" name="lblsendcount" id="lblsendcount" value="0">
                        <p class="errormsg" id="lblcontinue">This message is not assigned to a patient.would you still like to continue ?</p><br />

                    </li>
                    <li>
                        <label class="display_div">
                            &nbsp;
                        </label>
                        <input class="send_btn" name="Send" type="submit" value="Send" onclick="return SendMessage(false)">
                        <input class="cancel_btn" name="Cancel" type="submit" value="Cancel" onclick="location.href='@Url.Action("Index", "Inbox")'">
                        @*<input class="save_btn" name="Send" type="submit" value="Send" onclick="return SendMessage(true)">*@
                    </li>
                </ul>
            </div>
        </div>
        <!-- Inner Content Ends -->
    </div>
    <!-- content base ends-->
    <!-- Footer starts -->
</div>
<!-- content ends here -->
@*<link rel="stylesheet" type="text/css" href="../../Content/css/fcbk.css" />
    <script src="../../Content/js/jquery.fcbkcomplete.js" type="text/javascript" charset="utf-8"></script>*@
<link rel="stylesheet" type="text/css" href="~/Content/css/select2.min.css" />
<script type="text/javascript" src="~/Scripts/select2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        //$("#select3").fcbkcomplete({
        //   // json_url: "/Content/js/data.txt",
        //    addontab: true,
        //    maxitems: 10,
        //    input_min_size: 0,
        //    height: 10,
        //    cache: true,
        //    newel: false,
        //    select_all_text: "select"
        //});
        //$("#select4").fcbkcomplete({
        //    json_url: "/Content/js/data.txt",
        //    addontab: true,
        //    maxitems: 10,
        //    input_min_size: 0,
        //    height: 10,
        //    cache: true,
        //    newel: false,
        //    select_all_text: "select"
        //});
    });
</script>

<script src="~/Content/ckeditor/ckeditor.js"></script>
<script src="~/Content/ckeditor/adapters/jquery.js"></script>
<script type="text/javascript">
    CKEDITOR.disableAutoInline = true;
    $(document).ready(function () {
        $('#txtMessage').ckeditor(); // Use CKEDITOR.replace() if element is <textarea>.
    });
    CKEDITOR.replace('txtMessage', {
        toolbarGroups: [
            { name: "styles", "groups": ["styles"] },
            { name: "basicstyles", "groups": ["basicstyles"] },
            { name: "paragraph", "groups": ["list"] },
            { name: 'colors' },
        ],
        removeButtons: 'Strike,Subscript,Superscript,Styles,Container',
        extraPlugin: 'charcount',
    });
    function SendMessage(status) {
        //if ($('#SelectColleagues').find('.bit-box').length == 0) {
        //    swal({ title: '', text: 'Please select at least one Colleague', allowEscapeKey: true });
        //    return false;
        //}

        if ($.trim($("#select3 option:selected").text()).length == 0) {
            swal({ title: '', text: 'Please select at least one Colleague', allowEscapeKey: true });
            return false;
        }
        var Message = CKEDITOR.instances["txtMessage"].getData();
        var Escapes = escape(Message);
        var decoder = decodeURIComponent(Encoded);
        var Encoded = encodeURIComponent(Message);
        $("#txtMessage").val("" + Message + "");
        if (Message == null || Message == "") {
            swal({ title: '', text: 'Please enter message', allowEscapeKey: true });
            $('#txtMessage').focus();
            return false;
        }
        
        if (parseInt($("#lblsendcount").val()) == 0 && $.trim($("#select4 option:selected").text()).length == 0) {
                $("#lblsendcount").val('1');
                $("#lblcontinue,#licontinue").show();
                return false;
            
        } else {
            var AttachPId = "";
            if ($('#select4').val() != "" && $('#select4').val() != null) {
                AttachPId = $('#select4').val().toString();
            }
            $.post("/Inbox/SendMessageToColleagues", { SelectedColleagueIds: $('#select3').val().toString(), Message: Encoded, AttachPatientIds: AttachPId, Status: status },
                        function (data) {
                            if (data != '') {
                                $(window).scrollTop(0);
                                swal("", data, "success");
                            }
                            var referreUrl = document.referrer;
                            if (referreUrl.indexOf("Colleagues") != -1) {
                                window.location = '../Colleagues';
                            } else {
                                window.location = '../Inbox';
                            }
                        });
        }
    }
</script>