﻿@model List<NewRecordlinc.Models.Colleagues.NewReferralView>

<div class="devsection devgroup">


    @{string Categorybase = string.Empty; string SubCategoryBase = string.Empty;
            string SubCategoryHeaderText = string.Empty;
            string SubSubCategoryHeaderText = string.Empty;
    }
    @for (int i = 0; i < Model.Count; i++)
    {
        if (Categorybase != Model[i].CategoryName)
        {
            var dd = Model[i].CategoryName;
            <div id="@Model[i].CategoryId" class="devcol devspan12 toptitle">
                @Model[i].CategoryName
            </div>
            Categorybase = dd;
        }
        if (Model[i].SubCategoryHeaderText != null && Model[i].SubCategoryHeaderText != SubCategoryHeaderText && Model[i].SubCategoryHeaderText != "")
        {
            var aa = Model[i].SubCategoryHeaderText;
            <div class="devcol devspan12 tablesubrow">
                @Model[i].SubCategoryHeaderText
            </div>
            SubCategoryHeaderText = aa;
        }
        if (Model[i].SubCategoryName == Model[i].SubSubCategoryHeaderText)
        {
            if (SubSubCategoryHeaderText != Model[i].SubSubCategoryHeaderText)
            {
                var check = Model[i].SubSubCategoryHeaderText;
                <div class="devcol devspan12 tablesubrow">
                    <p>@Model[i].SubSubCategoryHeaderText</p>
                </div>
                SubSubCategoryHeaderText = check;
            }
            <div class="devcol devspan6 tablefirstcol2" id="@Model[i].SubSubCategoryId">
                <p>@Model[i].SubSubCategoryName</p>
            </div>
                <div class="devcol devspan6 tablefirstcol2" id="@Model[i].SubSubCategoryId">
                    <p>@Model[i].SubSubCategoryValue</p>
                </div>
        }
        else
        {
            <div class="devcol devspan6" id="@Model[i].SubCategoryId">
                @Model[i].SubCategoryName
            </div>
                <div class="devcol devspan6" id="@Model[i].SubCategoryId">
                    @Model[i].SubCategoryValue
                </div>
        }
    }
</div>

