﻿@{
    ViewBag.Title = "Recordlinc - Reply";
    Layout = "~/Views/Shared/SiteLayoutInner.cshtml";
}
<!-- Bootstrap styles -->
<link rel="stylesheet" href="../../Content/file_upload/css/bootstrap.min.css">
<style type="text/css">

label
{
    font-weight:normal;
}
a:hover,a:focus {

text-decoration:none;
}
</style>
<!-- Generic page styles -->
<link rel="stylesheet" href="../../Content/file_upload/css/style.css">
<!-- blueimp Gallery styles -->
<link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
<link rel="stylesheet" href="../../Content/file_upload/css/jquery.fileupload.css">
<link rel="stylesheet" href="../../Content/file_upload/css/jquery.fileupload-ui.css">
<!-- CSS adjustments for browsers with JavaScript disabled -->
<noscript>
    <link rel="stylesheet" href="../../Content/file_upload/css/jquery.fileupload-noscript.css">
</noscript>
<noscript>
    <link rel="stylesheet" href="../../Content/file_upload/css/jquery.fileupload-ui-noscript.css">
</noscript>
<!--- Scripts  and Css for  File upload end-->
   <!-- Main content -->
        <div class="content">
        <div class="content_base">
        	<!-- Breadcrumb starts-->
        	<div class="breadcrumb">
            	<ul>
                	<li><a href='@Url.Action("Index", "Index")'><img width="16" height="14" class="hires" src="../Content/images/home-icon.png" alt="Home"></a><span class="after"></span></li>
                    <li class="active"><span class="before"></span><a href='@Url.Action("Reply", "Inbox")'>Reply Message</a><span class="after"></span></li>              
                </ul>                
            </div> 
            <!-- Breadcrumb ends-->
            
            <!-- Inner Content Starts -->
            <h3 class="heading">Reply Message</h3>
            <div class="inner">
           
            	<div class="send_message">
                	<ul class="form_listing">
                   	  <li>
                        	<label>To</label>
                            <span class="fluid_cont">
                             <a href="javascript:void()" id="select_div"><i class="accord"></i></a>
                             <select id="select3" name="select3">
                                <option value="TravisRodgers(recordlinc.com)" class="selected">TravisRodgers</option>
                                <option value="Greg(recordlinc.com)">Greg</option>
                                <option value="YenWang(recordlinc.com)">YenWang</option>
                            </select></span>
                        </li>                        
                        <li>
                        	<label>Message</label>
                            <span class="fluid_cont"><textarea name="Message" cols="" rows="5"></textarea></span>
                        </li>
                        <li class="marginbottom0">
                        	<label>Attachments</label>                            
	
                                    <form class="form_left" id="fileupload" action="//jquery-file-upload.appspot.com/" method="POST" enctype="multipart/form-data">
                                <!-- Redirect browsers with JavaScript disabled to the origin page -->
                                <noscript><input type="hidden" name="redirect" value="//blueimp.github.io/jQuery-File-Upload/"></noscript>
                                <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
                                <div class="row fileupload-buttonbar margintop1">
                                    <div class="col-lg-7 paddingleft0">
                                        <!-- The fileinput-button span is used to style the file input field as button -->
                                        <a href='@Url.Action("AddPatient", "Patients")' class="btn btn-success fileinput-button marginright15"><i class="glyphicon glyphicon-plus-icon"></i><span class="text_lineheight">Attach Files</span></a>
                                        <span class="btn btn-success fileinput-button">
                                            <i class="glyphicon glyphicon-plus-icon"></i>
                                            <span class="text_lineheight">Select Patients</span>
                                            <input type="file" name="files[]" multiple>
                                        </span>
                                        <div class="default_hide">
                                        <button type="submit" class="btn btn-primary start">
                                            <i class="glyphicon glyphicon-upload-icon"></i>
                                            <span class="text_lineheight">Start upload</span>
                                        </button>
                                        <button type="reset" class="btn btn-warning cancel">
                                            <i class="glyphicon glyphicon-ban-circle-icon"></i>
                                            <span class="text_lineheight">Cancel upload</span>
                                        </button>
                                        <button type="button" class="btn btn-danger ">
                                            <i class="glyphicon glyphicon-trash-icon"></i>
                                            <span class="text_lineheight">Delete</span>
                                        </button>
                                        <input type="checkbox" class="toggle">
                                        </div>
                                        <!-- The global file processing state -->
                                        <span class="fileupload-process"></span>
                                         
                                    </div>
                                    <!-- The global progress state -->
                                    <div class="col-lg-5 fileupload-progress fade">
                                        <!-- The global progress bar -->
                                        <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                            <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                                        </div>
                                        <!-- The extended global progress state -->
                                        <div class="progress-extended">&nbsp;</div>
                                    </div>
                                </div>
                                <!-- The table listing the files available for upload/download -->
                                <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
                                
                            </form> 
                              
                                <div class="clear"></div>
                            
                        </li>
                        <li>
                        	<label class="display_div">&nbsp;</label>
                            <input class="send_btn" name="Send" type="submit" value="Send">
                            <input class="cancel_btn" name="Cancel" type="submit" value="Cancel">
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Inner Content Ends -->
                
       </div> <!-- content base ends-->
       
                <!-- Footer starts -->
                
                     
        </div> <!-- content ends here -->


         <link rel="stylesheet" type="text/css" href="../../Content/css/fcbk.css" />
<script src="../../Content/js/jquery.fcbkcomplete.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#select3").fcbkcomplete({
            json_url: "js/data.txt",
            addontab: true,
            maxitems: 10,
            input_min_size: 0,
            height: 10,
            cache: true,
            newel: true,
            select_all_text: "select"
        });
    });
</script>
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td>
            <span class="preview"></span>
        </td>
        <td>
            <p class="name">{%=file.name%}</p>
            <strong class="error text-danger"></strong>
        </td>
        <td>
            <p class="size">Processing...</p>
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
        </td>
        <td>
            {% if (!i && !o.options.autoUpload) { %}
                <button class="btn btn-primary start" disabled>
                    <i class="glyphicon glyphicon-upload-icon"></i>
                    <span class="text_lineheight">Start</span>
                </button>
            {% } %}
            {% if (!i) { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle-icon"></i>
                    <span class="text_lineheight">Cancel</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        <td>
            <span class="preview">
                {% if (file.thumbnailUrl) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                {% } %}
            </span>
        </td>
        <td>
            <p class="name">
                {% if (file.url) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                {% } else { %}
                    <span>{%=file.name%}</span>
                {% } %}
            </p>
            {% if (file.error) { %}
                <div><span class="label label-danger">Error</span> {%=file.error%}</div>
            {% } %}
        </td>
        <td>
            <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>
        <td>
            {% if (file.deleteUrl) { %}
                <button class="btn btn-danger " data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                    <i class="glyphicon glyphicon-trash-icon"></i>
                    <span class="text_lineheight">Delete</span>
                </button>
                <input type="checkbox" name="delete" value="1" class="toggle">
            {% } else { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle-icon"></i>
                    <span class="text_lineheight">Cancel</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>
<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="../../content/file_upload/js/vendor/jquery.ui.widget.js"></script>
<!-- The Templates plugin is included to render the upload/download listings -->
<script src="//blueimp.github.io/JavaScript-Templates/js/tmpl.min.js"></script>
<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
<script src="http://blueimp.github.io/JavaScript-Load-Image/js/load-image.min.js"></script>
<!-- The Canvas to Blob plugin is included for image resizing functionality -->
<script src="//blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"></script>
<!-- Bootstrap JS is not required, but included for the responsive demo navigation -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<!-- blueimp Gallery script -->
<script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="../../content/file_upload/js/jquery.iframe-transport.js"></script>
<!-- The basic File Upload plugin -->
<script src="../../content/file_upload/js/jquery.fileupload.js"></script>
<!-- The File Upload processing plugin -->
<script src="../../content/file_upload/js/jquery.fileupload-process.js"></script>
<!-- The File Upload image preview & resize plugin -->
<script src="../../content/file_upload/js/jquery.fileupload-image.js"></script>
<!-- The File Upload audio preview plugin -->
<script src="../../content/file_upload/js/jquery.fileupload-audio.js"></script>
<!-- The File Upload video preview plugin -->
<script src="../../content/file_upload/js/jquery.fileupload-video.js"></script>
<!-- The File Upload validation plugin -->
<script src="../../content/file_upload/js/jquery.fileupload-validate.js"></script>
<!-- The File Upload user interface plugin -->
<script src="../../content/file_upload/js/jquery.fileupload-ui.js"></script>
<!-- The main application script -->
<script src="../../content/file_upload/js/main.js"></script>
<!-- The XDomainRequest Transport is included for cross-domain file deletion for IE 8 and IE 9 -->
<!--[if (gte IE 8)&(lt IE 10)]>
<script src="js/cors/jquery.xdr-transport.js"></script>
<![endif]-->
