﻿@model NewRecordlinc.Models.Colleagues.mdlColleagues
@{
    ViewBag.Title = "Recordlinc - Sent";
    Layout = "~/Views/Shared/SiteLayoutInner.cshtml";
}

<style>
    .msgtab {
        padding: 0px;
    }

    #txtHdrSearchMessage {
        width: 100%;
        min-width: 100%;
        height: auto;
    }

    .searchbar {
        overflow: hidden;
    }


    strong {
        font-weight: bold !important;
    }

    em {
        font-style: italic !important;
    }

    .blockborder {
        border-right: 1px solid #dcdcdc !important;
    }

    .panel .block {
        margin: 0 !important;
        padding: 0 3.4% 40px !important;
    }

    .teeth_listing2 {
        width: 62%;
        margin: 0 auto !important;
    }

    @@media only screen and (max-width: 449px) {
        ul.teeth_listing li {
            width: 14px !important;
        }

        .panel .block {
            width: 49% !important;
            padding: 23px 0 40px !important;
        }

            .panel .block p {
                font-size: 11px !important;
            }
    }

    @@media only screen and (min-width:450px) and (max-width: 568px) {
        ul.teeth_listing li {
            width: 20px !important;
        }

        .panel .block {
            width: 49% !important;
            padding: 23px 0 40px !important;
        }

            .panel .block p {
                font-size: 12px !important;
            }
    }

    @@media only screen and (min-width:569px) and (max-width: 668px) {
        ul.teeth_listing li {
            width: 27px !important;
        }

        .panel .block {
            width: 49% !important;
            padding: 23px 0 40px !important;
        }

            .panel .block p {
                font-size: 12px !important;
            }
    }

    @@media only screen and (min-width:669px) and (max-width: 768px) {
        ul.teeth_listing li {
            width: 33px !important;
        }

        .panel .block {
            width: 49% !important;
            padding: 23px 0 40px !important;
        }

            .panel .block p {
                font-size: 17px !important;
            }
    }

    @@media only screen and (min-width:769px) and (max-width: 825px) {
        ul.teeth_listing li {
            width: 16px !important;
        }

        .panel .block {
            width: 49% !important;
            padding: 23px 0 40px !important;
        }

            .panel .block p {
                font-size: 12px !important;
            }
    }

    @@media only screen and (min-width:825px) and (max-width: 925px) {
        ul.teeth_listing li {
            width: 20px !important;
        }

        .panel .block {
            width: 49% !important;
            padding: 23px 0 40px !important;
        }

            .panel .block p {
                font-size: 15px !important;
            }
    }

    @@media only screen and (min-width:925px) and (max-width: 1025px) {
        ul.teeth_listing li {
            width: 27px !important;
        }

        .panel .block {
            width: 49% !important;
            padding: 23px 0 40px !important;
        }

            .panel .block p {
                font-size: 15px !important;
            }
    }

    @@media only screen and (min-width:1025px) and (max-width: 1200px) {
        ul.teeth_listing li {
            width: 21px !important;
        }

        .panel .block {
            width: 49% !important;
            padding: 23px 0 40px !important;
        }

            .panel .block p {
                font-size: 15px !important;
            }
    }

    @@media only screen and (min-width:1200px) and (max-width: 1323px) {
        ul.teeth_listing li {
            width: 32px !important;
        }

        .panel .block {
            width: 49% !important;
            padding: 23px 0 40px !important;
        }

            .panel .block p {
                font-size: 17px !important;
            }
    }

    @@media only screen and (min-width:1324px) and (max-width: 1500px) {
        ul.teeth_listing li {
            width: 40px !important;
        }

        .panel .block {
            width: 49% !important;
            padding: 23px 0 40px !important;
        }

            .panel .block p {
                font-size: 16px !important;
            }
    }

    @@media only screen and (min-width:1500px) and (max-width: 1920px) {
        ul.teeth_listing li {
            width: 50px !important;
        }

        .panel .block {
            width: 49% !important;
            padding: 23px 0 40px !important;
        }

            .panel .block p {
                font-size: 16px !important;
            }
    }
</style>

<style>
    .panel .block {
        display: inline-block;
        padding-bottom: 40px;
        padding-left: 0.4% !important;
        padding-right: 0.4% !important;
        padding-top: 25px;
        vertical-align: top;
        width: 49% !important;
    }

        .panel .block p {
            color: #333333;
            margin-bottom: 5px !important;
            margin-left: 0;
            margin-right: 0;
            margin-top: 20px !important;
        }

    @@media (max-width: 992px) {
        .visuals .right {
            margin-left: 0px;
            margin-top: 15px;
            width: 100%;
            clear: both;
            float: left;
        }

        .visuals .left {
            width: 100%;
            float: left;
            clear: both;
        }
    }

    .msgtab_active {
        background-color: rgb(202, 232, 251);
    }
</style>
<script type="text/javascript">
    function ClearPlaceHolder(input) {
        if (input.value == input.defaultValue) {
            input.value = "";
        }
    }
    function SetPlaceHolder(input) {
        if (input.value == "") {
            input.value = input.defaultValue;
        }
    }
    $(function () {
        $("#search_main_div").css("display", "block");
        $("#search_main_div").html("<div class='search_main_div'><div class='searchbar'><input id='txtHdrSearchMessage' onkeyup='HdrSearchMessage(event)' onfocus='ClearPlaceHolder(this)' onblur='SetPlaceHolder(this)' name='Search Sent' type='text' value='Search Sent'></div></div>");

        if ('@ViewBag.Searchsentbox' != '' && '@ViewBag.Searchsentbox' != null) {
            $("#txtHdrSearchMessage").val('@ViewBag.Searchsentbox');
            SentboxPageing(1, 1, 2, '@ViewBag.Searchsentbox', '@ViewBag.IsReferralSent');
            $("#divClearSearch").css("display", "block");
            $("#divClearSearch").html("<br/><a href='@Url.Action("sent", "Inbox")' style=\"text-decoration:none;\" title=\"Clear Search\" > &nbsp;Clear Search</a>");

        }
    });



    function SentboxPageing(PageIndex, OrderByID, OrderBy, Searchtext, IsReferral) {
        $('#SentBoxPageIndex').val("1");

        var id = $('#standard-dropdown').val();

        if (id == null || id == "") {
            id = 1;
        }
        $.ajaxSetup({ async: false });
        $.post("/Inbox/SentboxPageing", { PageIndex: PageIndex, OrderByID: id, OrderBy: OrderBy, Searchtext: Searchtext, IsReferral: IsReferral },
        function (data) {
            if (data != "") {
                if (data == "<center><br />No Record Found</center>") {
                    document.getElementById('SentboxofDoctor').style.display = 'none';
                    document.getElementById('MessageDetailsById').style.display = 'none';
                    document.getElementById('divSearchtextshow').innerHTML = '';
                    document.getElementById('divSearchtextshow').innerHTML = '<br /><br /><center>No Record Found</center>';
                }
                else {
                    document.getElementById('SentboxofDoctor').style.display = 'block';
                    document.getElementById('SentboxofDoctor').innerHTML = data;
                    $(".select_menu_upload").selectbox();
                    $(window).scrollTop(0);
                    document.getElementById('MessageDetailsById').style.display = 'block';
                }
            }
        });
        $.ajaxSetup({ async: true });
        //$('#SentboxofDoctor').scroll(function () {
        //    if ($(this).scrollTop() + $(this).innerHeight() >= $(this)[0].scrollHeight) {

        //        var data = getinboxonscroll().toString();
        //        $(this).append(data);
        //    }
        //});
    }

    function getAttachedPatientHistory(patientId) {
        $("#hdnAttachPatientId").val(patientId);
        $("#viewAttachPatientHistory").submit();
    }


    function SentBoxMessageShowOnClick(MessageId, NextMessageId, MessageTypeId, NextMessageTypeId) {

        if (MessageTypeId == 2) {
            if (MessageId == undefined && MessageId == null) {
                document.getElementById('MessageDetailsById').innerHTML = '<center>No Record Found</center>';
            }
            else {
                $(".GetMessageId").removeClass("msgtab_active");
                $("#" + MessageId).addClass("msgtab_active");
                $.post("/Inbox/GetMessageBodayOfSentReferrals", { MessageId: MessageId, NextMessageId: NextMessageId, MessageTypeId: MessageTypeId, NextMessageTypeId: NextMessageTypeId },
                function (data) {
                    if (data != "") {
                        document.getElementById('MessageDetailsById').innerHTML = data;
                        $("#MessageDetailsById").find("script").each(function (i) {
                            eval($(this).text());
                        });
                        $("#MessageDetailsById").find(function () {
                            $(".Primary").find(function () {
                                $(".Primary").children('input').prop("checked", true);
                            });
                        });
                        $(".select_menu_upload").selectbox();

                    }
                });
            }
        }
        else {
            $(".GetMessageId").removeClass("msgtab_active");
            $("#" + MessageId).addClass("msgtab_active");
            $.post("/Inbox/GetPlainMessageBodyOfSentBox", { MessageId: MessageId, NextMessageId: NextMessageId, MessageTypeId: MessageTypeId, NextMessageTypeId: NextMessageTypeId },
            function (data) {
                if (data != "") {
                    document.getElementById('MessageDetailsById').innerHTML = data;
                    $("#MessageDetailsById").find(function () {
                        $(".Primary").find(function () {
                            $(".Primary").children('input').prop("checked", true);
                        });
                    });
                    $(".select_menu_upload").selectbox();

                }
            });
        }

    }


    function RemoveMessageFromSentboxOfDoctor(MessageId) {

        var NextMessage = 0;
        var MessageType = 0;
        var lastElement = $("div.GetMessageId").last();
        var nextElement = $("#" + MessageId).next("div.GetMessageId");
        var prevElement = $("#" + MessageId).prev("div.GetMessageId");

        if ($("#" + MessageId).attr("id") == $(lastElement).attr("id")) {
            if (prevElement != null && prevElement != undefined) {

                NextMessage = $(prevElement).attr('id');
                MessageType = $(prevElement).attr('messagetype');
            }
        }
        else {
            if (nextElement != null && nextElement != undefined) {
                NextMessage = $(nextElement).attr('id');
                MessageType = $(nextElement).attr('messagetype');
            }
        }


        var script = $('#' + MessageId).next().children('h4').attr("onclick");

        if (typeof script === 'undefined') {
        }
        else {
            var cleanValue = script.replace(/'/g, "");
            cleanValue = cleanValue.replace("SentBoxMessageShowOnClick(", "");
            cleanValue = cleanValue.replace(")", "");
            var arr = cleanValue.split(",");

            if (NextMessageId == '') {
                NextMessageId = arr[0];
            }
            if (NextMessageTypeId == '') {
                NextMessageTypeId = arr[2]
            }
        }
        //var c = confirm('Are you sure you want to delete ?');
        swal({
            title: "",
            text: "Are you sure you want to delete ?",
            type: "warning",
            showCancelButton: true,
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: false,
            //showLoaderOnConfirm: true,
        },
   function (isConfirm) {
       if (isConfirm) {
           if (c) {
               $.post("/Inbox/RemoveMessageFromSentboxOfDoctor", { MessageId: MessageId, NextMessageId: NextMessage, NextMessageTypeId: MessageType, PageIndex: $('#GetPageIndex').attr('lbl') },
           function (data) {
               if (data != "") {
                   var obj = jQuery.parseJSON(data);

                   if (obj.MessageBody != '') {
                       $("#" + MessageId).remove();
                       $(".GetMessageId").removeClass("msgtab_active");
                       $("#" + NextMessage).addClass("msgtab_active");
                       document.getElementById("MessageDetailsById").innerHTML = obj.MessageBody;
                       $(".select_menu_upload").selectbox();
                   }
                   else {
                       window.location = '../Inbox/sent';
                   }

               }
           });
           }
       }
   });


    }
    function RemoveReferralFromSentOfDoctor(MessageId) {

        var NextMessage = 0;
        var MessageType = 0;
        var lastElement = $("div.GetMessageId").last();
        var nextElement = $("#" + MessageId).next("div.GetMessageId");
        var prevElement = $("#" + MessageId).prev("div.GetMessageId");

        if ($("#" + MessageId).attr("id") == $(lastElement).attr("id")) {
            if (prevElement != null && prevElement != undefined) {

                NextMessage = $(prevElement).attr('id');
                MessageType = $(prevElement).attr('messagetype');
            }
        }
        else {
            if (nextElement != null && nextElement != undefined) {
                NextMessage = $(nextElement).attr('id');
                MessageType = $(nextElement).attr('messagetype');
            }
        }

        var script = $('#' + MessageId).next().children('h4').attr("onclick");
        if (typeof script === 'undefined') {
        }
        else {
            var cleanValue = script.replace(/'/g, "");
            cleanValue = cleanValue.replace("SentBoxMessageShowOnClick(", "");
            cleanValue = cleanValue.replace(")", "");
            var arr = cleanValue.split(",");

            if (NextMessageId == '') {
                NextMessageId = arr[0];
            }
            if (NextMessageTypeId == '') {
                NextMessageTypeId = arr[2]
            }
        }
        // var c = confirm('Are you sure you want to delete ?');
        swal({
            title: "",
            text: "Are you sure you want to delete ?",
            type: "warning",
            showCancelButton: true,
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: false,
            //showLoaderOnConfirm: true,
        },
   function (isConfirm) {
       if (isConfirm) {
           if (c) {
               $.post("/Inbox/RemoveReferralFromSentBox", { MessageId: MessageId, NextMessageId: NextMessage, NextMessageTypeId: MessageType, PageIndex: $('#GetPageIndex').attr('lbl') },
           function (data) {
               if (data != "") {
                   var obj = jQuery.parseJSON(data);

                   if (obj.MessageBody != '') {
                       $("#" + MessageId).remove();
                       $(".GetMessageId").removeClass("msgtab_active");
                       $("#" + NextMessage).addClass("msgtab_active");
                       document.getElementById("MessageDetailsById").innerHTML = obj.MessageBody;
                       $(".select_menu_upload").selectbox();
                   }
                   else {
                       window.location = '../Inbox/sent';
                   }

               }
           });
           }
       }
   });

    }


    // HdrSearchColleague start
    function HdrSearchMessage(event) {
        if (event.keyCode == 13) {
            var message = null;
            message = $('#txtHdrSearchMessage').val();

            $("#divLoading").show();
            SentboxPageing(1, 1, 2, message);
            if (message != null && message != "") {
                $("#divClearSearch").css("display", "block");
                $("#divClearSearch").html("<br/><a href='@Url.Action("sent", "Inbox")' style=\"text-decoration:none;\" title=\"Clear Search\" > &nbsp;Clear Search</a>");

            }
            else {
                document.getElementById('divSearchtextshow').innerHTML = '';
            }



            $("#divLoading").hide();
        } else {
            return true;
        }
    }

    // Open Document - Start
    function OpenTempDoc(RelativePath) {


        var sitename = window.location.host;
        if (sitename.indexOf('http://') == -1 || sitename.indexOf('https://')) {
            sitename = 'http://' + sitename
        }
        var str = RelativePath;
        var res = sitename + str.replace("/mydentalfiles/", "/").replace("~/", "/");
        var res = res.replace("mydentalfiles", "recordlinc");
        res = res.replace("../", "/")
        window.open(res, '_blank');
        window.focus();
    }



    function RemovePatientMessageFromSentboxOfDoctor(MessageId) {
        var script = $('#' + MessageId).next().children('h4').attr("onclick");

        var NextMessage = 0;
        var MessageType = 0;
        var lastElement = $("div.GetMessageId").last();
        var nextElement = $("#" + MessageId).next("div.GetMessageId");
        var prevElement = $("#" + MessageId).prev("div.GetMessageId");

        if ($("#" + MessageId).attr("id") == $(lastElement).attr("id")) {
            if (prevElement != null && prevElement != undefined) {

                NextMessage = $(prevElement).attr('id');
                MessageType = $(prevElement).attr('messagetype');
            }
        }
        else {
            if (nextElement != null && nextElement != undefined) {
                NextMessage = $(nextElement).attr('id');
                MessageType = $(nextElement).attr('messagetype');
            }
        }

        if (typeof script === 'undefined') {
        }
        else {
            var cleanValue = script.replace(/'/g, "");
            cleanValue = cleanValue.replace("SentBoxMessageShowOnClick(", "");
            cleanValue = cleanValue.replace(")", "");
            var arr = cleanValue.split(",");

            if (NextMessageId == '') {
                NextMessageId = arr[0];
            }
            if (NextMessageTypeId == '') {
                NextMessageTypeId = arr[2]
            }
        }

        //var Pc = confirm('Are you sure you want to delete ?');
        swal({
            title: "",
            text: "Are you sure you want to delete ?",
            type: "warning",
            showCancelButton: true,
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: false,
            //showLoaderOnConfirm: true,
        },
   function (isConfirm) {
       if (isConfirm) {
           if (Pc) {
               $.post("/Inbox/RemovePatientMessageFromSentboxOfDoctor", { MessageId: MessageId, NextMessageId: NextMessage, NextMessageTypeId: MessageType, PageIndex: $('#GetPageIndex').attr('lbl') },
           function (data) {

               if (data != "") {
                   var obj = jQuery.parseJSON(data);

                   if (obj.MessageBody != '') {
                       $("#" + MessageId).remove();
                       $(".GetMessageId").removeClass("msgtab_active");
                       $("#" + NextMessage).addClass("msgtab_active");
                       document.getElementById("MessageDetailsById").innerHTML = obj.MessageBody;
                       $(".select_menu_upload").selectbox();
                   }
                   else {
                       window.location = '../Inbox/sent';
                   }

               }
           });
           }
       }
   });


    }
    function ViewPatientHistory(PatientId) {

        $('#hdnViewPatientHistory').val(PatientId);
        $("#frmViewPatientHistory").submit();
    }

    // Open Document - Start
    function Attachementpopup(RelativePath, Type) {


        var sitename = window.location.host;
        if (sitename.indexOf('http://') == -1 || sitename.indexOf('https://')) {
            sitename = 'http://' + sitename
        }
        var str = RelativePath;
        var res = sitename + str.replace("/mydentalfiles/", "/").replace("~/", "/");
        var res = res.replace("mydentalfiles", "recordlinc");
        res = res.replace("../", "/")
        if (Type != "Image") {
            window.open(res, '_blank');
            window.focus();
        }
        else {
            document.getElementById('Divimagepopup').innerHTML = '<img src="' + res.toString() + '">';
            $("#ImagePopup").click();
        }

    }
    function ALLAttachementOpen(RelativePaths, Type) {
        var sitename = window.location.host;
        if (sitename.indexOf('http://') == -1 || sitename.indexOf('https://')) {
            sitename = 'http://' + sitename
        }
        var str = RelativePaths;
        var res = sitename + str.replace("/mydentalfiles/", "/").replace("~/", "/");
        var res = res.replace("mydentalfiles", "recordlinc");
        res = res.replace("../", "/")

        if (Type != "Image") {
            window.open(res, '_blank');
            window.focus();
        }
        var Mydata = res.split(",");
        var html;
        for (var i = 0; i < Mydata.length; i++) {
            if (Mydata[i] != "") {
                html += '<ul style="margin-top:10px;"><li><img src="' + Mydata[i].toString() + '"></li></ul>';
            }
        }
        document.getElementById('Divimagepopup').innerHTML = html;
        $("#ImagePopup").click();
    }

    function getinboxonscroll() {

        var datalist = '';
        jQuery.ajaxSetup({ async: false });
        var PageIndex = $('#SentBoxPageIndex').val();
        if (PageIndex == "-1") {
            return "";
        }
        else {
            PageIndex = parseInt(PageIndex) + parseInt(1);
            var orderbyid = $("#GetScrollDetails").data("orderbyid");
            var orderby = $("#GetScrollDetails").data("orderby");
            var searchtext = $("#GetScrollDetails").data("searchtext");
            var isrefarral = $("#GetScrollDetails").data("isrefarral");

            $.post("/Inbox/GetSentBoxOfDoctorOnScroll", { PageIndex: PageIndex, OrderByID: orderbyid, OrderBy: orderby, Searchtext: searchtext, IsRefarral: isrefarral },
            function (data) {

                if (data.trim() == '' || data.trim() == '<center><br />No messages found</center>') {
                    $('#SentBoxPageIndex').val("-1");
                }
                else {
                    $('#SentBoxPageIndex').val(PageIndex);
                }
                //datalist = data;
                $("#SentboxofDoctor").append(data);

            });
        }
        jQuery.ajaxSetup({ async: true });
        return datalist;
    }


    $(document).ready(function () {
        $(".sent").parent("a").addClass("active");

        $('#SentboxofDoctor').scroll(function () {
            if ($(this).scrollTop() + $(this).innerHeight() >= $(this)[0].scrollHeight) {

                getinboxonscroll();

            }
        });
        var MessageId = $(".GetMessageId").attr('Id');
        var MessageType = $(".GetMessageId").attr('messagetype');
        SentBoxMessageShowOnClick(MessageId, "", MessageType, "");
    });

    $(document).keydown(function (e) {
        if (e.which == 116) {
            window.location.href = "../Inbox/sent";
            return false;
        }
    });
    $(window).load(function () {
        $(".Primary").find(function () {
            $(".Primary").children('input').prop("checked", true);
        });
    });
</script>
<!-- Main content -->
<link href="~/Content/css/referralnewview.css" rel="stylesheet" />
<form action="/Patients/PatientHistory" id="viewAttachPatientHistory" method="post">
    <input type="hidden" name="hdnAttachPatientId" id="hdnAttachPatientId" />
</form>
<input type="hidden" id="SentBoxPageIndex" value="1" />
<div class="content">
    <div class="content_box">
        <div id="divSearchtextshow">
        </div>
        @*@if (ViewBag.SentboxOfDoctor == "<center><br />No Record Found</center>")
            {
                <center>
                    <br />
                    No Record Found
                </center>
            }*@

        <!-- Message Listing -->
        @*@Html.Raw(ViewBag.SentboxOfDoctor)*@
        <div class="message_panel" id="SentboxofDoctor" style="display: block;overflow-y:auto;max-height:800px;">
            @if (Model.lstSentboxOfDoctor.Count() > 0)
            {

                <div class="msgtab" id="GetPageIndex" lbl="@ViewBag.PageIndex">
                    <div class="sort_inbox clearfix">
                        <select id="standard-dropdown" name="standard-dropdown" onchange="SentboxPageing(@ViewBag.PageIndex,@ViewBag.OrderByID,@ViewBag.OrderBy,'@ViewBag.Searchtext','@ViewBag.IsReferral')" class="select_menu_upload custom-class1 custom-class2 right" style="width: 150px;">
                            @if (ViewBag.OrderbyTest == 1)
                            {
                                <option value="1" selected="selected" class="test-class-1">Sort by Date </option>
                            }
                            else
                            {
                                <option value="1" class="test-class-1">Sort by Date</option>
                            }
                            @if (ViewBag.OrderbyTest == 3)
                            {
                                <option value="3" selected="selected" class="test-class-3">Sort by Subject</option>
                            }
                            else
                            {
                                <option value="3" class="test-class-3">Sort by Subject</option>
                            }
                        </select>
                    </div>
                </div>
                <div id="GetScrollDetails" data-orderbyid="@ViewBag.OrderByID" data-orderby="@ViewBag.OrderBy" data-searchtext="@ViewBag.Searchtext" data-isrefarral="@ViewBag.IsRefarral">
                </div>

                Html.RenderPartial("PartialSentBox", Model.lstSentboxOfDoctor);
                        <!-- listing ends -->
                        <!-- Message Detail Starts -->

            }
            else
            {
                <center><br />No messages found</center>
            }

        </div>
        <div class="message_detail clearfix" id="MessageDetailsById" style="display: block;">
            @Html.Raw(ViewBag.SentMessageDetailsById)
        </div>
        <!-- Detail ends -->
        <div class="clear">
        </div>

    </div>
</div>
<a class="edit popup-with-form showlightbox" id="ImagePopup" href="#attachmentArea"
   style="display: none;"></a>
<div id="attachmentArea" class="mfp-hide attachment_area_img">
    <div class="attachment_area" id="Divimagepopup">
    </div>
</div>
<form action="~/Patients/PatientHistory" method="post" id="frmViewPatientHistory">
    <input type="hidden" name="hdnViewPatientHistory" id="hdnViewPatientHistory" />
</form>
