﻿@model List<NewRecordlinc.Models.Colleagues.MessageListOfDoctor>
    @if (Model.Count() > 0)
    {
        int j = 0;
        int TotalMessages = Model.Count();
        int nextmessage = 0;
        int messagetype = 0;


        if (@ViewBag.Sorting == "true")
        {
            <div class="msgtab" id="GetPageIndex" lbl="@ViewBag.PageIndex">
                <div class="sort_inbox clearfix">
                    <select id="standard-dropdown" name="standard-dropdown" onchange="InboxPageing(@ViewBag.PageIndex,@ViewBag.OrderByID,@ViewBag.OrderBy,'@ViewBag.Searchtext','@ViewBag.IsRefarral')" class="select_menu_upload custom-class1 custom-class2 right" style="width: 150px;">
                        @if (ViewBag.OrderbyTest == 1)
                        {
                            <option value="1" selected="selected" class="test-class-1">Sort by Date </option>
                        }
                        else
                        {
                            <option value="1" class="test-class-1">Sort by Date</option>
                        }
                        @if (ViewBag.OrderbyTest == 2)
                        {
                            <option value="2" selected="selected" class="test-class-3">Sort by Sender</option>
                        }
                        else
                        {
                            <option value="2" class="test-class-3">Sort by Sender</option>
                        }
                        @if (ViewBag.OrderbyTest == 4)
                        {
                            <option value="4" selected="selected" class="test-class-3">Sort by Subject</option>
                        }
                        else
                        {
                            <option value="4" class="test-class-3">Sort by Subject</option>
                        }
                    </select>
                </div>
            </div>
            <div id="GetScrollDetails" data-orderbyid="@ViewBag.OrderByID" data-orderby="@ViewBag.OrderBy" data-searchtext="@ViewBag.Searchtext" data-isrefarral="@ViewBag.IsRefarral">
            </div>
        }
        
        foreach (var lst in Model)
        {
            j++;
            if (j < TotalMessages)
            {
                nextmessage = Model[j].MessageId;
                messagetype = Model[j].MessageTypeId;
            }
            else
            {
                nextmessage = 0;
                messagetype = 0;
            }

            <div class="msgtab GetMessageId" messagetype="@lst.MessageTypeId" NextMessageType="@messagetype" NextMessageId="@nextmessage" id="@lst.MessageId" @*onclick="InBoxMessageShowOnClick(@lst.MessageId , @nextmessage ,   @lst.MessageTypeId,@messagetype , '@lst.IsRead' , @ViewBag.PageIndex ,@ViewBag.OrderByID ,@ViewBag.OrderBy ,'@ViewBag.Searchtext' ,'@ViewBag.Onload' ,'@ViewBag.IsRefarral')"*@>
                <h4 style="cursor:pointer;" MessagetypeId="@lst.MessageTypeId" NextMessageTypeId="@messagetype" NextMessageId="@nextmessage" MessageId="@lst.MessageId" pageIndex="@ViewBag.PageIndex" OrderById="@ViewBag.OrderByID" isReaded="@lst.IsRead" orderBy="@ViewBag.OrderBy" serachText="@ViewBag.Searchtext" onLoad1="@ViewBag.Onload" isReferral="@ViewBag.IsRefarral">
                    @if (ViewBag.FromEmail == lst.MessageId.ToString())
                    {
                        <span id="isread @lst.MessageId" style="font-size:17.5px;font-weight: normal">@lst.Field </span>

                    }
                    else
                    {
                        <span id="isread @lst.MessageId" style="">@lst.Field</span>
                    }
                    @if (lst.AttachmentId != null && lst.AttachmentId.ToString() != "" && lst.AttachmentId.ToString() != "0")
                    {
                        @*<i class="newattach"></i>*@
                        <img src = "/Content/images/attached-icon.png" height="20px;" />
                    }
                    <span class="date" style="cursor:pointer;">@lst.CreationDate.ToString(System.Configuration.ConfigurationManager.AppSettings["DateTimeWithoutsec"])</span>
                    <ul class="list">
                        @if (lst.MessageTypeId == 2)
                    {
                        if (lst.Body.Contains("Refer Patient"))
                        {
                            lst.Body = "Patient Referral for " + lst.PatientName;
                        }

                    }
                    @*//else
        //{*@
                    <li style="cursor:pointer;" onclick="InBoxMessageShowOnClick(@lst.MessageId , @lst.MessageId , @lst.MessageTypeId , @lst.MessageTypeId , '@lst.IsRead',  @ViewBag.PageIndex ,@ViewBag.OrderByID ,@ViewBag.OrderBy ,'@ViewBag.Searchtext' ,'@ViewBag.Onload' ,'@ViewBag.IsRefarral' )"> @(lst.Body.ToString().Length > 40 ? lst.Body.Substring(0, 40) + "..." : lst.Body) </li>
                    @*}*@
                </ul>
                </h4>
               
                <div id="New(@lst.MessageId)">
                </div>
            </div>
            @*<div id="New(@lst.MessageId)"></div>*@
        }
    }
    else
    {
        <center><br/>No messages found</center>
    }
