﻿@model BO.ViewModel.ComposeReferral
@{
    ViewBag.Title = "Referrals";
    Layout = "~/Views/Shared/SiteLayoutInner.cshtml";
    if (TempData["Redirection"] != null)
    {
        <input type="hidden" id="dd" value="@TempData["Redirection"]" />
    }
}
<link href="~/Content/css/custom.css" rel="stylesheet" />
<link href="~/Content/css/ComposeReferral.css" rel="stylesheet" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="../../Content/file_upload/css/style.css">
<link rel="stylesheet" href="../../Content/file_upload/css/bootstrap.min.css">
<!-- blueimp Gallery styles -->
<link href="../../Content/file_upload/blueimp-gallery.min.css" rel="stylesheet" />
<link rel="stylesheet" href="../../Content/file_upload/css/jquery.fileupload.css">
<link rel="stylesheet" href="../../Content/file_upload/css/jquery.fileupload-ui.css">
<noscript>
    <link rel="stylesheet" href="../../Content/file_upload/css/jquery.fileupload-noscript.css">
</noscript>
<noscript>
    <link rel="stylesheet" href="../../Content/file_upload/css/jquery.fileupload-ui-noscript.css">
</noscript>
<script>
    $(document).ready(function (e) {
        $('.teeth_listing li').on('click', function () {
            $(this).toggleClass('active');

        });
        $(".mandatory").hide();
        var txtotherreagrding = document.getElementById('txtotherregarding');
        var txtotherrequest = document.getElementById('txtotherrequest');
        SelectRegardingOther(txtotherreagrding);
        SelectRequestOther(txtotherreagrding);
    });

    //For OralSurgery TextBox Values
    function OralSurgeryValue() {
        var mysubid;
        var myvalue;
        var mycat;
        var OralSurgeryinputvalues = [];
        var inputCount = document.getElementById('oral').getElementsByTagName('input').length;
        for (i = 1; i <= inputCount; i++) {
            mysubid = $('#oral').find("#id_" + i).attr("subcat");
            mycat = $('#oral').find("#id_" + i).attr("catid");
            myvalue = $('#oral').find("#id_" + i).val();
            if (myvalue != null && myvalue != "") {
                OralSurgeryinputvalues[i] = mycat + "_" + mysubid + "_" + myvalue;
            }
        }
        return OralSurgeryinputvalues;
    }
    //FOR Periodontics TextBox Values
    function Periodonticssvalue() {
        var mysubsubcat = "";
        var mysubid = "";
        var myvalue = "";
        var mycat = "";
        var periodonticsinputvalues = [];
        var inputCount = document.getElementById('periodontics').getElementsByTagName('input').length;
        for (i = 1; i <= inputCount; i++) {
            mysubid = $('#periodontics').find("#id_" + i).attr("subcat");
            mycat = $('#periodontics').find("#id_" + i).attr("catid");
            mysubsubcat = $('#periodontics').find("#id_" + i).attr("subsubcat");
            myvalue = $('#periodontics').find("#id_" + i).val();
            if (myvalue != null && myvalue != "") {
                if (mysubsubcat == undefined) {
                    mysubsubcat = '0';
                }
                if (mysubsubcat != "0") {
                    periodonticsinputvalues[i] = mycat + "_" + mysubid + "_" + mysubsubcat + "_" + myvalue;
                }

                if (mysubsubcat == "0") {
                    periodonticsinputvalues[i] = mycat + "_" + mysubid + "_" + myvalue;
                }
            }
        }

        return periodonticsinputvalues;
    }
    function OrthodonticsValue() {
        var mysubid;
        var myvalue;
        var mycat;
        var orthodonticsinputvalues = [];
        var inputCount = document.getElementById('orthodontics').getElementsByTagName('input').length;
        for (i = 1; i <= inputCount; i++) {
            mysubid = $('#orthodontics').find("#id_" + i).attr("subcat");
            mycat = $('#orthodontics').find("#id_" + i).attr("catid");
            myvalue = $('#orthodontics').find("#id_" + i).val();
            if (myvalue != null && myvalue != "") {
                orthodonticsinputvalues[i] = mycat + "_" + mysubid + "_" + myvalue;
            }
        }
        return orthodonticsinputvalues;
    }
    function EndodonticsValue() {
        var mysubid;
        var myvalue;
        var mycat;
        var endodonticsinputvalues = [];
        var inputCount = document.getElementById('endodontics').getElementsByTagName('input').length;
        for (i = 1; i <= inputCount; i++) {
            mysubid = $('#endodontics').find("#id_" + i).attr("subcat");
            mycat = $('#endodontics').find("#id_" + i).attr("catid");
            myvalue = $('#endodontics').find("#id_" + i).val();
            if (myvalue != null && myvalue != "") {
                endodonticsinputvalues[i] = mycat + "_" + mysubid + "_" + myvalue;
            }
        }
        return endodonticsinputvalues;
    }
    function PadiatricsValue() {
        var mysubid;
        var myvalue;
        var mycat;
        var pediatricsinputvalues = [];
        var inputCount = document.getElementById('pediatrics').getElementsByTagName('input').length;
        for (i = 1; i <= inputCount; i++) {
            mysubid = $('#pediatrics').find("#id_" + i).attr("subcat");
            mycat = $('#pediatrics').find("#id_" + i).attr("catid");
            myvalue = $('#pediatrics').find("#id_" + i).val();
            if (myvalue != null && myvalue != "") {
                pediatricsinputvalues[i] = mycat + "_" + mysubid + "_" + myvalue;
            }
        }
        return pediatricsinputvalues;
    }
    function LabWorkValue() {
        var mysubid;
        var myvalue;
        var mycat;
        var labsinputvalues = [];
        var inputCount = document.getElementById('labs').getElementsByTagName('input').length;
        for (i = 1; i <= inputCount; i++) {
            mysubid = $('#labs').find("#id_" + i).attr("subcat");
            mycat = $('#labs').find("#id_" + i).attr("catid");
            myvalue = $('#labs').find("#id_" + i).val();
            if (myvalue != null && myvalue != "") {
                labsinputvalues[i] = mycat + "_" + mysubid + "_" + myvalue;
            }
        }
        return labsinputvalues;
    }
    function RadiologyValue() {
        var mysubid;
        var myvalue;
        var mycat;
        var radiologyinputvalues = [];
        var inputCount = document.getElementById('radiology').getElementsByTagName('input').length;
        for (i = 1; i <= inputCount; i++) {
            mysubid = $('#radiology').find("#id_" + i).attr("subcat");
            mycat = $('#radiology').find("#id_" + i).attr("catid");
            myvalue = $('#radiology').find("#id_" + i).val();
            if (myvalue != null && myvalue != "") {
                radiologyinputvalues[i] = mycat + "_" + mysubid + "_" + myvalue;
            }
        }
        return radiologyinputvalues;
    }
    function OtherValue() {
        var mysubid;
        var myvalue;
        var mycat;
        var otherinputvalues = [];
        var inputCount = document.getElementById('other').getElementsByTagName('input').length;
        for (i = 1; i <= inputCount; i++) {
            mysubid = $('#other').find("#id_" + i).attr("subcat");
            mycat = $('#other').find("#id_" + i).attr("catid");
            myvalue = $('#other').find("#id_" + i).val();
            if (myvalue != null && myvalue != "") {
                otherinputvalues[i] = mycat + "_" + mysubid + "_" + myvalue;
            }
        }
        return otherinputvalues;
    }
    //For Send Referral -- Start
    function SendReferral() {
        var OralSurgery = OralSurgeryValue();
        var Other = OtherValue();
        var Radiology = RadiologyValue();
        var LabWork = LabWorkValue();
        var Padiatrics = PadiatricsValue();
        var Endodontics = EndodonticsValue();
        var Orthodontics = OrthodonticsValue();
        var Periodontics = Periodonticssvalue();

        var GetComments = document.getElementById('txtcomment').value;

        var LocationId = '@Model.LocationID';
        var GetFromField = '@Model.DoctorFullName';
        var GetPatientId = '@Model.PatientDetails.PatientId';
        var GetColleagueId = '@Model.ColleagueIds';

        var SelectedTeethlist = SelectedTeeth();
        var SelectedImagesIds = SelectedImages();
        var SelectedDocumentsIds = SelectedDocuments();

        if (GetColleagueId != null && GetColleagueId != 0) {

            $.post("/Referrals/ComposeReferral",
                                                        {
                                                            PatientId: GetPatientId, ColleagueId: GetColleagueId.toString(), FromField: GetFromField, RegardOption: null, OralSurgery: OralSurgery,
                                                            Periodontics: Periodontics, Orthodontics: Orthodontics, Endodontics: Endodontics, Padiatrics: Padiatrics, LabWork: LabWork, Radiology: Radiology, Other: Other,
                                                            Comments: GetComments, Teethlist: SelectedTeethlist, SelectedImagesIds: SelectedImagesIds, SelectedDocumentsIds: SelectedDocumentsIds, LocationName: LocationId
                                                        }, function (data) {

                                                            if (data == "1") {
                                                                swal("", "Referral sent successfully", "success");
                                                                //alert('Referral Sent Successfully');
                                                                window.location = '../Patients';
                                                            }
                                                            else {
                                                                $.post("/ComposeReferral",
                                                        { PatientId: GetPatientId, ColleagueId: GetColleagueId.toString(), FromField: GetFromField, RegardOption: RegardingCheckBoxes, Comments: GetComments, Teethlist: SelectedTeethlist, SelectedImagesIds: SelectedImagesIds, SelectedDocumentsIds: SelectedDocumentsIds }, function (data) {

                                                            if (data == "1") {
                                                                swal("", "Referral sent successfully", "success");
                                                                //alert('Referral Sent Successfully');
                                                                window.location = '../Patients';
                                                            }
                                                            else {
                                                                swal({ title: "", text: 'Failed to send Referral', type: 'error' });
                                                               // alert('Failed to send Referral');
                                                            }

                                                        });
                                                            }

                                                        });



        }
        else {
            swal({ title: "", text: 'Please select colleague.' });
           // alert('Please select colleague');
        }

    }

    //For Send Referral -- End


    // For Get All Seleted Check Boxes for Regarding --- Start
    function SelectedRegardingCheckBoxes() {

        var SeletedBoxes = "";

        if (document.getElementById('chkOrthodontics').checked) {
            if (SeletedBoxes == null || SeletedBoxes == "") {
                SeletedBoxes = document.getElementById('chkOrthodontics').value;
            }
            else {
                SeletedBoxes = SeletedBoxes + ',' + document.getElementById('chkOrthodontics').value;
            }
        }




        if (document.getElementById('chkPeridontics').checked) {
            if (SeletedBoxes == null || SeletedBoxes == "") {
                SeletedBoxes = document.getElementById('chkPeridontics').value;
            }
            else {
                SeletedBoxes = SeletedBoxes + ',' + document.getElementById('chkPeridontics').value;
            }
        }

        if (document.getElementById('chkOralSurgery').checked) {
            if (SeletedBoxes == null || SeletedBoxes == "") {
                SeletedBoxes = document.getElementById('chkOralSurgery').value;
            }
            else {
                SeletedBoxes = SeletedBoxes + ',' + document.getElementById('chkOralSurgery').value;
            }
        }




        if (document.getElementById('chkProsthodontics').checked) {
            if (SeletedBoxes == null || SeletedBoxes == "") {
                SeletedBoxes = document.getElementById('chkProsthodontics').value;
            }
            else {
                SeletedBoxes = SeletedBoxes + ',' + document.getElementById('chkProsthodontics').value;
            }
        }


        if (document.getElementById('chkRadiology').checked) {
            if (SeletedBoxes == null || SeletedBoxes == "") {
                SeletedBoxes = document.getElementById('chkRadiology').value;
            }
            else {
                SeletedBoxes = SeletedBoxes + ',' + document.getElementById('chkRadiology').value;
            }
        }




        if (document.getElementById('chkGeneralDentistry').checked) {
            if (SeletedBoxes == null || SeletedBoxes == "") {
                SeletedBoxes = document.getElementById('chkGeneralDentistry').value;
            }
            else {
                SeletedBoxes = SeletedBoxes + ',' + document.getElementById('chkGeneralDentistry').value;
            }
        }


        if (document.getElementById('chkEndodontics').checked) {
            if (SeletedBoxes == null || SeletedBoxes == "") {
                SeletedBoxes = document.getElementById('chkEndodontics').value;
            }
            else {
                SeletedBoxes = SeletedBoxes + ',' + document.getElementById('chkEndodontics').value;
            }
        }




        if (document.getElementById('chkLabWork').checked) {
            if (SeletedBoxes == null || SeletedBoxes == "") {
                SeletedBoxes = document.getElementById('chkLabWork').value;
            }
            else {
                SeletedBoxes = SeletedBoxes + ',' + document.getElementById('chkLabWork').value;
            }
        }



        return SeletedBoxes;

    }


    // For Get All Seleted Check Boxes for Regarding --- End


    // For Get All Seleted Check Boxes for Request --- Start
    function SelectedRequestCheckBoxes() {

        var SeletedBoxes = "";

        if (document.getElementById('chkExtractions').checked) {
            if (SeletedBoxes == null || SeletedBoxes == "") {
                SeletedBoxes = document.getElementById('chkExtractions').value;
            }
            else {
                SeletedBoxes = SeletedBoxes + ',' + document.getElementById('chkExtractions').value;
            }
        }




        if (document.getElementById('chkPathology').checked) {
            if (SeletedBoxes == null || SeletedBoxes == "") {
                SeletedBoxes = document.getElementById('chkPathology').value;
            }
            else {
                SeletedBoxes = SeletedBoxes + ',' + document.getElementById('chkPathology').value;
            }
        }

        if (document.getElementById('chkCaries').checked) {
            if (SeletedBoxes == null || SeletedBoxes == "") {
                SeletedBoxes = document.getElementById('chkCaries').value;
            }
            else {
                SeletedBoxes = SeletedBoxes + ',' + document.getElementById('chkCaries').value;
            }
        }




        if (document.getElementById('chkCheckPeriodontal').checked) {
            if (SeletedBoxes == null || SeletedBoxes == "") {
                SeletedBoxes = document.getElementById('chkCheckPeriodontal').value;
            }
            else {
                SeletedBoxes = SeletedBoxes + ',' + document.getElementById('chkCheckPeriodontal').value;
            }
        }


        if (document.getElementById('chkOralSurgeryRequest').checked) {
            if (SeletedBoxes == null || SeletedBoxes == "") {
                SeletedBoxes = document.getElementById('chkOralSurgeryRequest').value;
            }
            else {
                SeletedBoxes = SeletedBoxes + ',' + document.getElementById('chkOralSurgeryRequest').value;
            }
        }




        if (document.getElementById('chkOrthodonticConsultation').checked) {
            if (SeletedBoxes == null || SeletedBoxes == "") {
                SeletedBoxes = document.getElementById('chkOrthodonticConsultation').value;
            }
            else {
                SeletedBoxes = SeletedBoxes + ',' + document.getElementById('chkOrthodonticConsultation').value;
            }
        }


        if (document.getElementById('chkOrthognathicSurgery').checked) {
            if (SeletedBoxes == null || SeletedBoxes == "") {
                SeletedBoxes = document.getElementById('chkOrthognathicSurgery').value;
            }
            else {
                SeletedBoxes = SeletedBoxes + ',' + document.getElementById('chkOrthognathicSurgery').value;
            }
        }




        if (document.getElementById('chkImplants').checked) {
            if (SeletedBoxes == null || SeletedBoxes == "") {
                SeletedBoxes = document.getElementById('chkImplants').value;
            }
            else {
                SeletedBoxes = SeletedBoxes + ',' + document.getElementById('chkImplants').value;
            }
        }



        return SeletedBoxes;

    }



    function SelectedTeeth() {

        var selectedIds = '';
        $('.teeth_listing > div > li.active > input').each(function () { selectedIds += $(this).attr('id') + ','; });

        $('.teeth_listing > li.active > input').each(function () { selectedIds += $(this).attr('id') + ','; });
        return selectedIds;

    }

    function SelectedImages() {
        var selectedimagesids = "";
        $("#images").find(function () {
            $("#images .selected").each(function () {
                selectedimagesids += $(this).attr("id") + ',';
            })
        })

        $(".hdnuploadedImage").each(function () {
            if ($(this).val() != "" && $(this).val() != null) {
                selectedimagesids += $(this).val() + ',';
            }
        });


        return selectedimagesids;

    }
    function SelectedDocuments() {

        var selecteddocumentsids = "";

        $("#document").find(function () {
            $(this).find("#document .selected").each(function () {
                selecteddocumentsids += $(this).attr("id") + ',';
            })
        })

        $(".hdnuploadedDocument").each(function () {
            if ($(this).val() != "" && $(this).val() != null) {
                selecteddocumentsids += $(this).val() + ',';

            }

        });
        return selecteddocumentsids;
    }


    // For Get All Seleted Check Boxes for Request --- End


    // Open Document - Start
    function OpenTempDoc(RelativePath) {


        var sitename = window.location.host;
        if (sitename.indexOf('http://') == -1 || sitename.indexOf('https://')) {
            sitename = 'http://' + sitename
        }
        var str = RelativePath;
        var res = sitename + str.replace("/mydentalfiles/", "/").replace("~/", "/");
        var res = res.replace("mydentalfiles", "Recordlinc");
        res = res.replace("../", "/")
        window.open(res, '_blank');
        window.focus();
    }


</script>
<!--- Scripts  and Css for  File upload end-->
<!-- Main content -->
@*@using (Html.BeginForm("ComposeReferral", "Referrals", FormMethod.Post, new { @id = "my_form" }))
    {*@


<div class="content">
    <div class="content_base">
        <!-- Breadcrumb ends-->
        <!-- Inner Content Starts -->
        <h3 class="heading clearfix">
            Patient Referral<span class="buttons"></span>
        </h3>
        <div id="full_patient_detail">
            <!-- Patient History Info -->
            <div id="view_referrals" class="table_container clearfix">
                <h4 class="sub_title ">
                    <label class="patient_trigger_parent"> @Model.PatientDetails.FirstName&nbsp;@Model.PatientDetails.LastName </label>
                    <span class="patient_trigger patient_trigger_parent">
                    </span>
                </h4>
                <div class="content_block" id="patient_details">
                    <ul class="patient_info">
                        <li class="first">
                            <figure class="thumb"><img src="@Model.PatientDetails.ImageName" width="104" height="104" alt="Ashlyn"></figure>
                            <ul class="list">
                                @if (!string.IsNullOrWhiteSpace(Model.PatientDetails.Gender))
                                {
                                <li>
                                    <label>
                                        Gender:
                                    </label>
                                    <label style="width:0px !important">@Model.PatientDetails.Gender</label>
                                </li>
                                }

                                <li>
                                    <label>
                                        Referral sent date:
                                    </label>
                                    <label style="margin-left:-4px !important;">
                                        @System.DateTime.Now.ToString(System.Configuration.ConfigurationManager.AppSettings["DateFormateMMMddyyyy"])
                                    </label>

                                </li>
                                @if (!string.IsNullOrWhiteSpace(Model.PatientDetails.DateOfBirth))
                                {
                                    DateTime dtDateOfBirth = Convert.ToDateTime(Model.PatientDetails.DateOfBirth);
                                    string strDateOfBirth = new BusinessLogicLayer.CommonBLL().ConvertToDate(dtDateOfBirth, (int)BO.Enums.Common.DateFormat.GENERAL);
                                <li>
                                    <label>

                                        Date of Birth:
                                    </label><label>@strDateOfBirth</label>
                                </li>
                                }

                                <li>
                                    <label>
                                        Referred by:
                                    </label>
                                    <label style="margin-left:-4px !important;">
                                        @Model.DoctorFullName
                                    </label>

                                </li>
                                <li>
                                    <label>
                                        Referred to:
                                    </label>
                                    <label style="margin-left:-4px !important;">
                                        @Html.Raw(ViewBag.ColleagueName)
                                    </label>

                                </li>
                                @if (!string.IsNullOrWhiteSpace(ViewBag.LocationName))
                                {
                                <li>
                                    <label>
                                        Location:
                                    </label>
                                    <label style="margin-left:-4px !important; width:197px !important">
                                        @Html.Raw(ViewBag.LocationName)
                                    </label>
                                </li>
                                }
                            </ul>

                            <div class="clear">
                            </div>
                        </li>
                        <li class="second">
                            <ul class="list">
                                @if (Model.PatientDetails.ExactAddress != "" || Model.PatientDetails.Address2 != "")
                                {
                                <li><i class="address"></i>@Model.PatientDetails.ExactAddress @Model.PatientDetails.Address2, @Model.PatientDetails.City</li>
                                }
                                @if (Model.PatientDetails.Phone != null && Model.PatientDetails.Phone != "")
                                {
                                <li><i class="wphone"></i>@Model.PatientDetails.Phone</li>
                                }
                                @if (Model.PatientDetails.Email != null && Model.PatientDetails.Email != "")
                                {
                                <li><i class="email"></i>@Model.PatientDetails.Email</li>
                                }
                            </ul>
                        </li>
                        <br class="clear" />
                    </ul>
                </div>
                <div class="clear">
                </div>
            </div>
            <!-- Regarding Container -->
            <div class="table_container clearfix">
                <h4 class="sub_title">
                    Regarding
                </h4>
                <div class="content_block">
                    <div class="action_btns">
                        <ul class="check_listing">

                            <li class="oral">
                                <a href="#oral"><span></span>Oral Surgery<i></i></a>
                            </li>
                            <li class="periodontics">
                                <a href="#periodontics"><span></span>Periodontics<i></i></a>
                            </li>
                            <li class="orthontics">
                                <a href="#orthodontics"><span></span>Orthodontics<i></i></a>
                            </li>
                            <li class="endodontics">
                                <a href="#endodontics"><span></span>Endodontics<i></i></a>
                            </li>
                            <li class="pediatrics">
                                <a href="#pediatrics"><span></span>Pediatrics<i></i></a>
                            </li>
                            <li class="labs">
                                <a href="#labs"><span></span>Lab Work<i></i></a>
                            </li>
                            <li class="radiology">
                                <a href="#radiology"><span></span>Radiology<i></i></a>
                            </li>
                            <li class="other">
                                <a href="#other"><span></span>Other<i></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <form action="/Referrals/ComposeReferral" method="post" id="my_form">
                <input type="hidden" name="PatientId_@Model.PatientDetails.PatientId" value="@Model.PatientDetails.PatientId" />
                <input type="hidden" name="ColleagueId_@Model.ColleagueIds" value="@Model.ColleagueIds" />
                <input type="hidden" name="LocationId_@ViewBag.LocationId" value="@ViewBag.LocationId" />
                <input type="hidden" name="FromFiled_@Model.DoctorFullName" value="@Model.DoctorFullName" />
                <input type="hidden" name="redirection_0" value="@TempData["Redirection"]" />
                <input type="hidden" id="comment" name="comment" value="" />
                <input type="hidden" name="ImagesId" id="ImagesId" value="" />
                <input type="hidden" name="DocId" id="DocId" value="" />
                <!-- Request Container -->
                <div class="sub_block table_container clearfix" id="oral">
                    <h4 class="sub_title">Oral Surgery<span class="light_des"></span></h4>
                    <div class="content_block">
                        <div class="form_row">
                            <div class="form_block hide-input">
                                <div class="form_block_label">
                                    <label><span>Extractions</span></label>
                                </div>
                                <div class="input_fill_area">
                                    <input type="text" catid="1" id="id_1" name="sub_1_1_0" subcat="1" placeholder="Tooth # and comments" />
                                </div>
                            </div>
                            <div class="form_block hide-input">
                                <div class="form_block_label">
                                    <label><span>Lesion & Evaluation</span></label>
                                </div>
                                <div class="input_fill_area">
                                    <input type="text" catid="1" id="id_2" name="sub_1_2_0" subcat="2" placeholder="Tooth # and comments" />
                                </div>
                            </div>
                        </div>
                        <div class="form_row">
                            <div class="form_block hide-input">
                                <div class="form_block_label">
                                    <label><span>Incision & Drainage</span></label>
                                </div>
                                <div class="input_fill_area">
                                    <input type="text" catid="1" id="id_3" name="sub_1_3_0" placeholder="Tooth # and comments" />
                                </div>
                            </div>
                            <div class="form_block hide-input">
                                <div class="form_block_label">
                                    <label><span>Exposure</span></label>
                                </div>
                                <div class="input_fill_area">
                                    <input type="text" catid="1" id="id_4" name="sub_1_4_0" placeholder="Tooth # and comments" />
                                </div>
                            </div>
                        </div>
                        <div class="form_row">
                            <div class="form_block hide-input">
                                <div class="form_block_label">
                                    <label><span>Biopsy</span></label>
                                </div>
                                <div class="input_fill_area">
                                    <input type="text" catid="1" id="id_5" name="sub_1_5_0" placeholder="Tooth # and comments" />
                                </div>
                            </div>
                            <div class="form_block hide-input">
                                <div class="form_block_label">
                                    <label><span>Expose & Bond</span></label>
                                </div>
                                <div class="input_fill_area">
                                    <input type="text" catid="1" id="id_6" name="sub_1_6_0" placeholder="Tooth # and comments" />
                                </div>
                            </div>
                        </div>
                        <div class="form_row">
                            <div class="form_block hide-input">
                                <div class="form_block_label">
                                    <label><span>Bone Grafting</span></label>
                                </div>
                                <div class="input_fill_area">
                                    <input type="text" catid="1" id="id_7" name="sub_1_7_0" placeholder="Tooth # and comments" />
                                </div>
                            </div>
                            <div class="form_block hide-input">
                                <div class="form_block_label">
                                    <label><span>Wisdom Teeth</span></label>
                                </div>
                                <div class="input_fill_area">
                                    <input type="text" catid="1" id="id_8" name="sub_1_8_0" placeholder="Tooth # and comments" />
                                </div>
                            </div>
                        </div>
                        <div class="form_row">
                            <div class="form_block hide-input">
                                <div class="form_block_label">
                                    <label><span>Jaw Surgery</span></label>
                                </div>
                                <div class="input_fill_area">
                                    <input type="text" catid="1" id="id_9" name="sub_1_9_0" placeholder="Tooth # and comments" />
                                </div>
                            </div>
                            <div class="form_block hide-input">
                                <div class="form_block_label">
                                    <label><span>TMJ</span></label>
                                </div>
                                <div class="input_fill_area">
                                    <input type="text" catid="1" id="id_10" name="sub_1_10_0" placeholder="Tooth # and comments" />
                                </div>
                            </div>
                        </div>
                        <div class="form_row">
                            <div class="form_block hide-input">
                                <div class="form_block_label">
                                    <label><span>Facial Reconstruction</span></label>
                                </div>
                                <div class="input_fill_area">
                                    <input type="text" catid="1" id="id_11" name="sub_1_11_0" placeholder="Tooth # and comments" />
                                </div>
                            </div>
                            <div class="form_block hide-input">
                                <div class="form_block_label">
                                    <label><span>Facial Aesthetics</span></label>
                                </div>
                                <div class="input_fill_area">
                                    <input type="text" catid="1" id="id_12" name="sub_1_12_0" placeholder="Tooth # and comments" />
                                </div>
                            </div>
                        </div>
                        <div class="form_row">
                            <div class="form_block hide-input">
                                <div class="form_block_label">
                                    <label><span>Pathology</span></label>
                                </div>
                                <div class="input_fill_area">
                                    <input type="text" catid="1" id="id_13" name="sub_1_13_0" placeholder="Tooth # and comments" />
                                </div>
                            </div>
                            <div class="form_block hide-input">
                                <div class="form_block_label">
                                    <label><span>Snoring & Sleep Apnea</span></label>
                                </div>
                                <div class="input_fill_area">
                                    <input type="text" catid="1" id="id_14" name="sub_1_14_0" placeholder="Tooth # and comments" />
                                </div>
                            </div>
                        </div>
                        <div class="form_row">
                            <div class="form_block hide-input">
                                <div class="form_block_label">
                                    <label><span>Other</span></label>
                                </div>
                                <div class="input_fill_area">
                                    <input type="text" catid="1" id="id_15" name="sub_1_15_0" placeholder="Tooth # and comments" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sub_block table_container clearfix" id="periodontics">
                    <h4 class="sub_title">Periodontics</h4>
                    <div class="content_block">
                        <h6 class="sub_title_another">Non-Surgical</h6>
                        <div class="form_row">
                            <div class="form_block hide-input">
                                <div class="form_block_label">
                                    <label><span>Scaling and Root Planning</span></label>
                                </div>
                                <div class="input_fill_area">
                                    <input type="text" catid="2" id="id_1" name="sub_2_16_0" placeholder="Tooth # and comments" />
                                </div>
                            </div>
                            <div class="form_block hide-input">
                                <div class="form_block_label">
                                    <label><span>Periodontal Maintenance</span></label>
                                </div>
                                <div class="input_fill_area">
                                    <input type="text" catid="2" id="id_2" name="sub_2_17_0" placeholder="Tooth # and comments" />
                                </div>
                            </div>
                        </div>
                        <div class="form_row">
                            <div class="form_block hide-input">
                                <div class="form_block_label">
                                    <label><span>Occlusal Adjustment</span></label>
                                </div>
                                <div class="input_fill_area">
                                    <input type="text" catid="2" id="id_3" name="sub_2_18_0" placeholder="Tooth # and comments" />
                                </div>
                            </div>
                        </div>
                        <h6 class="sub_title_another">Surgical</h6>
                        <div class="form_row">
                            <div class="form_block hide-input">
                                <div class="form_block_label">
                                    <label><span>LANAP Laser Surgery</span></label>
                                </div>
                                <div class="input_fill_area">
                                    <input type="text" catid="2" id="id_4" name="sub_2_19_0" placeholder="Tooth # and comments" />
                                </div>
                            </div>
                            <div class="form_block hide-input">
                                <div class="form_block_label">
                                    <label><span>Osseous Surgery</span></label>
                                </div>
                                <div class="input_fill_area">
                                    <input type="text" catid="2" id="id_5" name="sub_2_20_0" placeholder="Tooth # and comments" />
                                </div>
                            </div>
                        </div>
                        <div class="form_row">
                            <div class="form_block hide-input">
                                <div class="form_block_label">
                                    <label><span>Crown Lengthening</span></label>
                                </div>
                                <div class="input_fill_area">
                                    <input type="text" catid="2" id="id_6" name="sub_2_21_0" placeholder="Tooth # and comments" />
                                </div>
                            </div>
                            <div class="form_block hide-input">
                                <div class="form_block_label">
                                    <label><span>Bone Grafting and Guided Tissue Regeneration</span></label>
                                </div>
                                <div class="input_fill_area">
                                    <input type="text" catid="2" id="id_7" name="sub_2_22_0" placeholder="Tooth # and comments" />
                                </div>
                            </div>
                        </div>
                        <div class="form_row">
                            <div class="form_block hide-input">
                                <div class="form_block_label">
                                    <label><span>Soft Tissue Graft</span></label>
                                </div>
                                <div class="input_fill_area">
                                    <input type="text" catid="2" id="id_8" name="sub_2_23_0" placeholder="Tooth # and comments" />
                                </div>
                            </div>
                        </div>
                        <h6 class="sub_title_another">Dental Implants</h6>
                        <div class="form_row">
                            <div class="form_block hide-input">
                                <div class="form_block_label">
                                    <label><span>Implant Placement</span></label>
                                </div>
                                <div class="input_fill_area">
                                    <input type="text" catid="2" id="id_9" name="sub_2_24_0" placeholder="Tooth # and comments" />
                                </div>
                            </div>
                            <div class="form_block hide-input">
                                <div class="form_block_label">
                                    <label><span>ALL-On-4</span></label>
                                </div>
                                <div class="input_fill_area">
                                    <input type="text" catid="2" id="id_10" name="sub_2_25_0" placeholder="Tooth # and comments" />
                                </div>
                            </div>
                        </div>
                        <div class="form_row">
                            <div class="form_block hide-input">
                                <div class="form_block_label">
                                    <label><span>Implant Site Development & Socket Preservation</span></label>
                                </div>
                                <div class="input_fill_area">
                                    <input type="text" catid="2" id="id_11" name="sub_2_26_0" placeholder="Tooth # and comments" />
                                </div>
                            </div>
                            <div class="form_block hide-input">
                                <div class="form_block_label">
                                    <label><span>Sinus Augmentation (Lift)</span></label>
                                </div>
                                <div class="input_fill_area">
                                    <input type="text" catid="2" id="id_12" name="sub_2_27_0" placeholder="Tooth # and comments" />
                                </div>
                            </div>
                        </div>
                        <div class="form_row">
                            <div class="form_block hide-input">
                                <div class="form_block_label">
                                    <label><span>Bone Regeneration</span></label>
                                </div>
                                <div class="input_fill_area">
                                    <input type="text" catid="2" id="id_13" name="sub_2_28_0" placeholder="Tooth # and comments" />
                                </div>
                            </div>
                            <div class="form_block hide-input">
                                <div class="form_block_label">
                                    <label><span>Ridge Augmentation</span></label>
                                </div>
                                <div class="input_fill_area">
                                    <input type="text" catid="2" id="id_14" name="sub_2_29_0" placeholder="Tooth # and comments" />
                                </div>
                            </div>
                        </div>
                        <div class="spacer"></div>
                        <div class="form_row">
                            <div class="form_block hide-input">
                                <div class="form_block_label">
                                    <label>
                                        <span>
                                            Limited Perio Evaluation
                                            & Treatment
                                        </span>
                                    </label>
                                </div>
                                <div class="input_fill_area">
                                    <input type="text" catid="2" id="id_15" name="sub_2_30_0" placeholder="Tooth # and comments" />
                                </div>
                            </div>
                            <div class="form_block hide-input">
                                <div class="form_block_label">
                                    <label><span>Crown Lengthening</span></label>
                                </div>
                                <div class="input_fill_area">
                                    <input type="text" catid="2" id="id_16" name="sub_2_31_0" placeholder="Tooth # and comments" />
                                </div>
                            </div>
                        </div>
                        <div class="accordian custom_accordion">
                            <h3><a href="#">Implant Consultation</a></h3>
                            <div>
                                <div class="form_row">
                                    <div class="form_block hide-input">
                                        <div class="form_block_label">
                                            <label>
                                                <span>
                                                    Single Tooth
                                                    Replacement
                                                </span>
                                            </label>
                                        </div>
                                        <div class="input_fill_area">
                                            <input type="text" catid="2" id="id_17" name="sub_2_32_0" placeholder="Tooth # and comments" />
                                        </div>
                                    </div>
                                    <div class="form_block hide-input">
                                        <div class="form_block_label">
                                            <label>
                                                <span>
                                                    Implant Supported Fixed
                                                    Partial Denture
                                                </span>
                                            </label>
                                        </div>
                                        <div class="input_fill_area">
                                            <input type="text" catid="2" id="id_18" name="sub_2_33_0" placeholder="Tooth # and comments" />
                                        </div>
                                    </div>
                                </div>
                                <div class="accordian custom_accordion">
                                    <h3><a href="#">Implant Supported Overdenture</a></h3>
                                    <div>
                                        <div class="form_row">
                                            <div class="form_block hide-input">
                                                <div class="form_block_label">
                                                    <label><span>Maxilla</span></label>
                                                </div>
                                                <div class="input_fill_area">
                                                    <input type="text" catid="2" id="id_19" name="sub_2_75_1" subsubcat="11" placeholder="Tooth # and comments" />
                                                </div>
                                            </div>
                                            <div class="form_block hide-input">
                                                <div class="form_block_label">
                                                    <label><span>Mandible</span></label>
                                                </div>
                                                <div class="input_fill_area">
                                                    <input type="text" catid="2" id="id_20" name="sub_2_75_2" subsubcat="12" placeholder="Tooth # and comments" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form_row">
                            <div class="form_block hide-input">
                                <div class="form_block_label">
                                    <label>
                                        <span>
                                            Gingival Recession or
                                            Soft Tissue Graft
                                        </span>
                                    </label>
                                </div>
                                <div class="input_fill_area">
                                    <input type="text" catid="2" id="id_21" name="sub_2_35_0" placeholder="Tooth # and comments" />
                                </div>
                            </div>
                            <div class="form_block hide-input">
                                <div class="form_block_label">
                                    <label>
                                        <span>
                                            Mucogingival Defect or
                                            Soft Tissue Graft
                                        </span>
                                    </label>
                                </div>
                                <div class="input_fill_area">
                                    <input type="text" catid="2" id="id_22" name="sub_2_36_0" placeholder="Tooth # and comments" />
                                </div>
                            </div>
                        </div>
                        <div class="form_row">
                            <div class="form_block hide-input">
                                <div class="form_block_label">
                                    <label><span>Frenum Problem</span></label>
                                </div>
                                <div class="input_fill_area">
                                    <input type="text" catid="2" id="id_23" name="sub_2_37_0" placeholder="Tooth # and comments" />
                                </div>
                            </div>
                            <div class="form_block hide-input">
                                <div class="form_block_label">
                                    <label><span>OTHER</span></label>
                                </div>
                                <div class="input_fill_area">
                                    <input type="text" catid="2" id="id_24" name="sub_2_38_0" placeholder="Tooth # and comments" />
                                </div>
                            </div>
                        </div>
                        <div class="accordian custom_accordion">
                            <h3><a href="#">Periodontal History by referring office</a></h3>
                            <div>
                                <div class="accordian custom_accordion">
                                    <h3><a href="#">SRP</a></h3>
                                    <div> </div>
                                </div>
                                <div class="form_row">
                                    <div class="form_block hide-input">
                                        <div class="form_block_label">
                                            <label><span>UR</span></label>
                                        </div>
                                        <div class="input_fill_area">
                                            <input type="text" catid="2" id="id_25" name="sub_2_40_0" placeholder="Tooth # and comments" />
                                        </div>
                                    </div>
                                    <div class="form_block hide-input">
                                        <div class="form_block_label">
                                            <label><span>UL</span></label>
                                        </div>
                                        <div class="input_fill_area">
                                            <input type="text" catid="2" id="id_26" name="sub_2_41_0" placeholder="Tooth # and comments" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form_row">
                                    <div class="form_block hide-input">
                                        <div class="form_block_label">
                                            <label><span>LR</span></label>
                                        </div>
                                        <div class="input_fill_area">
                                            <input type="text" catid="2" id="id_27" name="sub_2_42_0" placeholder="Tooth # and comments" />
                                        </div>
                                    </div>
                                    <div class="form_block hide-input">
                                        <div class="form_block_label">
                                            <label><span>LL</span></label>
                                        </div>
                                        <div class="input_fill_area">
                                            <input type="text" catid="2" id="id_28" name="sub_2_43_0" placeholder="Tooth # and comments" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form_row">
                                    <div class="form_block hide-input">
                                        <div class="form_block_label">
                                            <label>
                                                <span>
                                                    DATE OF last periodontal
                                                    maintenance
                                                </span>
                                            </label>
                                        </div>
                                        <div class="input_fill_area">
                                            <input type="text" catid="2" id="id_29" name="sub_2_44_0" placeholder="Tooth # and comments" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sub_block table_container clearfix" id="orthodontics">
                    <h4 class="sub_title">Orthodontics</h4>
                    <div class="content_block">
                        <div class="form_row">
                            <div class="form_block form_block_4 hide-input">
                                <div class="form_block_label">
                                    <label><span>Consultation</span></label>
                                </div>
                                <div class="input_fill_area">
                                    <input type="text" catid="3" id="id_1" name="sub_3_45_0" placeholder="Tooth # and comments" />
                                </div>
                            </div>
                            <div class="form_block form_block_4 hide-input">
                                <div class="form_block_label">
                                    <label><span>TMD</span></label>
                                </div>
                                <div class="input_fill_area">
                                    <input type="text" catid="3" id="id_2" name="sub_3_46_0" placeholder="Tooth # and comments" />
                                </div>
                            </div>
                            <div class="form_block form_block_4 hide-input">
                                <div class="form_block_label">
                                    <label><span>Retainer Needed</span></label>
                                </div>
                                <div class="input_fill_area">
                                    <input type="text" catid="3" id="id_3" name="sub_3_47_0" placeholder="Tooth # and comments" />
                                </div>
                            </div>
                            <div class="form_block form_block_4 hide-input">
                                <div class="form_block_label">
                                    <label><span>Other</span></label>
                                </div>
                                <div class="input_fill_area">
                                    <input type="text" catid="3" id="id_4" name="sub_3_48_0" placeholder="Tooth # and comments" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sub_block table_container clearfix" id="endodontics">
                    <h4 class="sub_title">Endodontics</h4>
                    <div class="content_block">
                        <div class="form_row">
                            <div class="form_block hide-input">
                                <div class="form_block_label">
                                    <label><span>Diagnostic Consultation</span></label>
                                </div>
                                <div class="input_fill_area">
                                    <input type="text" catid="4" id="id_1" name="sub_4_49_0" placeholder="Tooth # and comments" />
                                </div>
                            </div>
                            <div class="form_block hide-input">
                                <div class="form_block_label">
                                    <label><span>Treat as Necessary</span></label>
                                </div>
                                <div class="input_fill_area">
                                    <input type="text" catid="4" id="id_2" name="sub_4_50_0" placeholder="Tooth # and comments" />
                                </div>
                            </div>
                        </div>
                        <div class="form_row">
                            <div class="form_block hide-input">
                                <div class="form_block_label">
                                    <label><span>Evaluate for Microsurgery</span></label>
                                </div>
                                <div class="input_fill_area">
                                    <input type="text" catid="4" id="id_3" name="sub_4_51_0" placeholder="Tooth # and comments" />
                                </div>
                            </div>
                            <div class="form_block hide-input">
                                <div class="form_block_label">
                                    <label><span>Provide Post Space</span></label>
                                </div>
                                <div class="input_fill_area">
                                    <input type="text" catid="4" id="id_4" name="sub_4_52_0" placeholder="Tooth # and comments" />
                                </div>
                            </div>
                        </div>
                        <div class="form_row">
                            <div class="form_block hide-input">
                                <div class="form_block_label">
                                    <label><span>Post & Core Buildup</span></label>
                                </div>
                                <div class="input_fill_area">
                                    <input type="text" catid="4" id="id_5" name="sub_4_53_0" placeholder="Tooth # and comments" />
                                </div>
                            </div>
                            <div class="form_block hide-input">
                                <div class="form_block_label">
                                    <label><span>Nitrous/Oral/IV Sedation</span></label>
                                </div>
                                <div class="input_fill_area">
                                    <input type="text" catid="4" id="id_6" name="sub_4_54_0" placeholder="Tooth # and comments" />
                                </div>
                            </div>
                        </div>
                        <div class="form_row">
                            <div class="form_block hide-input">
                                <div class="form_block_label">
                                    <label><span>Other</span></label>
                                </div>
                                <div class="input_fill_area">
                                    <input type="text" catid="4" id="id_7" name="sub_4_55_0" placeholder="Tooth # and comments" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sub_block table_container clearfix" id="pediatrics">
                    <h4 class="sub_title">Pediatrics</h4>
                    <div class="content_block">
                        <div class="form_row">
                            <div class="form_block hide-input">
                                <div class="form_block_label">
                                    <label><span>Caries or Decay</span></label>
                                </div>
                                <div class="input_fill_area">
                                    <input type="text" catid="5" id="id_1" name="sub_5_56_0" placeholder="Tooth # and comments" />
                                </div>
                            </div>
                            <div class="form_block hide-input">
                                <div class="form_block_label">
                                    <label><span>Extractions</span></label>
                                </div>
                                <div class="input_fill_area">
                                    <input type="text" catid="5" id="id_2" name="sub_5_57_0" placeholder="Tooth # and comments" />
                                </div>
                            </div>
                        </div>
                        <div class="form_row">
                            <div class="form_block hide-input">
                                <div class="form_block_label">
                                    <label><span>Fractured Teeth</span></label>
                                </div>
                                <div class="input_fill_area">
                                    <input type="text" catid="5" id="id_3" name="sub_5_58_0" placeholder="Tooth # and comments" />
                                </div>
                            </div>
                            <div class="form_block hide-input">
                                <div class="form_block_label">
                                    <label><span>Growth & Development</span></label>
                                </div>
                                <div class="input_fill_area">
                                    <input type="text" catid="5" id="id_4" name="sub_5_59_0" placeholder="Tooth # and comments" />
                                </div>
                            </div>
                        </div>
                        <div class="form_row">
                            <div class="form_block hide-input">
                                <div class="form_block_label">
                                    <label><span>Missing Teeth</span></label>
                                </div>
                                <div class="input_fill_area">
                                    <input type="text" catid="5" id="id_5" name="sub_5_60_0" placeholder="Tooth # and comments" />
                                </div>
                            </div>
                            <div class="form_block hide-input">
                                <div class="form_block_label">
                                    <label><span>Oral Habits</span></label>
                                </div>
                                <div class="input_fill_area">
                                    <input type="text" catid="5" id="id_6" name="sub_5_61_0" placeholder="Tooth # and comments" />
                                </div>
                            </div>
                        </div>
                        <div class="form_row">
                            <div class="form_block hide-input">
                                <div class="form_block_label">
                                    <label><span>Orthodontic Evaluation</span></label>
                                </div>
                                <div class="input_fill_area">
                                    <input type="text" catid="5" id="id_7" name="sub_5_62_0" placeholder="Tooth # and comments" />
                                </div>
                            </div>
                            <div class="form_block hide-input">
                                <div class="form_block_label">
                                    <label><span>Periodontic Condition</span></label>
                                </div>
                                <div class="input_fill_area">
                                    <input type="text" catid="5" id="id_8" name="sub_5_63_0" placeholder="Tooth # and comments" />
                                </div>
                            </div>
                        </div>
                        <div class="form_row">
                            <div class="form_block hide-input">
                                <div class="form_block_label">
                                    <label><span>Pulp Therapy</span></label>
                                </div>
                                <div class="input_fill_area">
                                    <input type="text" catid="5" id="id_9" name="sub_5_64_0" placeholder="Tooth # and comments" />
                                </div>
                            </div>
                            <div class="form_block hide-input">
                                <div class="form_block_label">
                                    <label><span>Other</span></label>
                                </div>
                                <div class="input_fill_area">
                                    <input type="text" catid="5" id="id_10" name="sub_5_65_0" placeholder="Tooth # and comments" />
                                </div>
                            </div>
                        </div>
                        <div class="accordian custom_accordion">
                            <h3><a href="#">Behavoral Conditions</a></h3>
                            <div>
                                <div class="form_row">
                                    <div class="form_block hide-input">
                                        <div class="form_block_label">
                                            <label><span>Autism</span></label>
                                        </div>
                                        <div class="input_fill_area">
                                            <input type="text" catid="5" id="id_11" name="sub_5_66_0" placeholder="Tooth # and comments" />
                                        </div>
                                    </div>
                                    <div class="form_block hide-input">
                                        <div class="form_block_label">
                                            <label><span>Behavoral Disability</span></label>
                                        </div>
                                        <div class="input_fill_area">
                                            <input type="text" catid="5" id="id_12" name="sub_5_67_0" placeholder="Tooth # and comments" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form_row">
                                    <div class="form_block hide-input">
                                        <div class="form_block_label">
                                            <label><span>Down's Syndrome</span></label>
                                        </div>
                                        <div class="input_fill_area">
                                            <input type="text" catid="5" id="id_13" name="sub_5_68_0" placeholder="Tooth # and comments" />
                                        </div>
                                    </div>
                                    <div class="form_block hide-input">
                                        <div class="form_block_label">
                                            <label><span>Mental Disability</span></label>
                                        </div>
                                        <div class="input_fill_area">
                                            <input type="text" catid="5" id="id_14" name="sub_5_69_0" placeholder="Tooth # and comments" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form_row">
                                    <div class="form_block hide-input">
                                        <div class="form_block_label">
                                            <label><span>Physical Disability</span></label>
                                        </div>
                                        <div class="input_fill_area">
                                            <input type="text" catid="5" id="id_15" name="sub_5_70_0" placeholder="Tooth # and comments" />
                                        </div>
                                    </div>
                                    <div class="form_block hide-input">
                                        <div class="form_block_label">
                                            <label><span>Other</span></label>
                                        </div>
                                        <div class="input_fill_area">
                                            <input type="text" catid="5" id="id_16" name="sub_5_71_0" placeholder="Tooth # and comments" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sub_block table_container clearfix" id="labs">
                    <h4 class="sub_title">Lab Work</h4>
                    <div class="content_block">
                        <div class="form_row">
                            <div class="form_block hide-input">
                                <div class="form_block_label">
                                    <label><span>teeth</span></label>
                                </div>
                                <div class="input_fill_area">
                                    <input type="text" catid="6" id="id_1" name="sub_6_72_0" placeholder="Tooth # and comments" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sub_block table_container clearfix" id="radiology">
                    <h4 class="sub_title">Radiology</h4>
                    <div class="content_block">
                        <div class="form_row">
                            <div class="form_block hide-input">
                                <div class="form_block_label">
                                    <label><span>teeth</span></label>
                                </div>
                                <div class="input_fill_area">
                                    <input type="text" catid="7" id="id_1" name="sub_7_73_0" placeholder="Tooth # and comments" value="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sub_block table_container clearfix" id="other">
                    <h4 class="sub_title">Other</h4>
                    <div class="content_block">
                        <div class="form_row">
                            <div class="form_block hide-input">
                                <div class="form_block_label">
                                    <label><span>teeth</span></label>
                                </div>
                                <div class="input_fill_area">
                                    <input type="text" catid="8" id="id_1" name="sub_8_74_0" placeholder="Tooth # and comments" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




                <!-- Visual Instructions Container -->
                <div class="table_container clearfix">
                    <h4 class="sub_title">
                        <label class="patient_trigger2_parent"> Tooth Chart </label><span class="patient_trigger patient_trigger2 patient_trigger2_parent"></span>
                    </h4>
                    <div class="content_block">
                        <div class="visuals">
                            <p class="text-left">
                                Select the tooth or teeth that indicates the area of concern.
                            </p>

                            <div class="left panel">
                                <h5>
                                    Permanent Teeth
                                </h5>
                                <div class="block blockborder">
                                    <p style="margin-top: 5px !important;">
                                        Right
                                    </p>
                                    <ul class="teeth_listing">
                                        <div style="border-bottom:1px solid #ccc; padding-bottom: 15px;">
                                            <li><p>1</p><input type="checkbox" value="teeth_1" name="teeth_1" id="1" /></li>
                                            <li><p>2</p><input type="checkbox" value="teeth_2" name="teeth_2" id="2" /></li>
                                            <li><p>3</p><input type="checkbox" value="teeth_3" name="teeth_3" id="3" /></li>
                                            <li><p>4</p><input type="checkbox" value="teeth_4" name="teeth_4" id="4" /></li>
                                            <li><p>5</p><input type="checkbox" value="teeth_5" name="teeth_5" id="5" /></li>
                                            <li><p>6</p><input type="checkbox" value="teeth_6" name="teeth_6" id="6" /></li>
                                            <li><p>7</p><input type="checkbox" value="teeth_7" name="teeth_7" id="7" /></li>
                                            <li><p>8</p><input type="checkbox" value="teeth_8" name="teeth_8" id="8" /></li>
                                        </div>
                                        <li><p>32</p><input type="checkbox" value="teeth_32" name="teeth_32" id="32" /></li>
                                        <li><p>31</p><input type="checkbox" value="teeth_31" name="teeth_31" id="31" /></li>
                                        <li><p>30</p><input type="checkbox" value="teeth_30" name="teeth_30" id="30" /></li>
                                        <li><p>29</p><input type="checkbox" value="teeth_29" name="teeth_29" id="29" /></li>
                                        <li><p>28</p><input type="checkbox" value="teeth_28" name="teeth_28" id="28" /></li>
                                        <li><p>27</p><input type="checkbox" value="teeth_27" name="teeth_27" id="27" /></li>
                                        <li><p>26</p><input type="checkbox" value="teeth_26" name="teeth_26" id="26" /></li>
                                        <li><p>25</p><input type="checkbox" value="teeth_25" name="teeth_25" id="25" /></li>
                                        <br class="clear" />
                                    </ul>
                                </div>
                                <div class="block">
                                    <p style="margin-top: 5px !important;">
                                        Left
                                    </p>
                                    <ul class="teeth_listing">
                                        <div style="border-bottom:1px solid #ccc; padding-bottom: 15px;">
                                            <li><p>9</p><input type="checkbox" value="teeth_9" name="teeth_9" id="9" /></li>
                                            <li><p>10</p><input type="checkbox" value="teeth_10" name="teeth_10" id="10" /></li>
                                            <li><p>11</p><input type="checkbox" value="teeth_11" name="teeth_11" id="11" /></li>
                                            <li><p>12</p><input type="checkbox" value="teeth_12" name="teeth_12" id="12" /></li>
                                            <li><p>13</p><input type="checkbox" value="teeth_13" name="teeth_13" id="13" /></li>
                                            <li><p>14</p><input type="checkbox" value="teeth_14" name="teeth_14" id="14" /></li>
                                            <li><p>15</p><input type="checkbox" value="teeth_15" name="teeth_15" id="15" /></li>
                                            <li><p>16</p><input type="checkbox" value="teeth_16" name="teeth_16" id="16" /></li>
                                        </div>
                                        <li><p>24</p><input type="checkbox" value="teeth_24" name="teeth_24" id="24" /></li>
                                        <li><p>23</p><input type="checkbox" value="teeth_23" name="teeth_23" id="23" /></li>
                                        <li><p>22</p><input type="checkbox" value="teeth_22" name="teeth_22" id="22" /></li>
                                        <li><p>21</p><input type="checkbox" value="teeth_21" name="teeth_21" id="21" /></li>
                                        <li><p>20</p><input type="checkbox" value="teeth_20" name="teeth_20" id="20" /></li>
                                        <li><p>19</p><input type="checkbox" value="teeth_19" name="teeth_19" id="19" /></li>
                                        <li><p>18</p><input type="checkbox" value="teeth_18" name="teeth_18" id="18" /></li>
                                        <li><p>17</p><input type="checkbox" value="teeth_17" name="teeth_17" id="17" /></li>
                                        <br class="clear" />
                                    </ul>
                                </div>
                            </div>
                            <!-- Right Panel -->
                            <div class="right panel">
                                <h5>
                                    Primary Teeth
                                </h5>
                                <div class="block blockborder">
                                    <p style="margin-top: 5px !important;">
                                        Right
                                    </p>
                                    <ul class="teeth_listing">
                                        <div style="border-bottom:1px solid #ccc; padding-bottom: 15px;">
                                            <li><p>A</p><input type="checkbox" value="teeth_33" name="teeth_33" id="33" /></li>
                                            <li><p>B</p><input type="checkbox" value="teeth_34" name="teeth_34" id="34" /></li>
                                            <li><p>C</p><input type="checkbox" value="teeth_35" name="teeth_35" id="35" /></li>
                                            <li><p>D</p><input type="checkbox" value="teeth_36" name="teeth_36" id="36" /></li>
                                            <li><p>E</p><input type="checkbox" value="teeth_37" name="teeth_37" id="37" /></li>
                                        </div>
                                        <li><p>T</p><input type="checkbox" value="teeth_52" name="teeth_52" id="52" /></li>
                                        <li><p>S</p><input type="checkbox" value="teeth_51" name="teeth_51" id="51" /></li>
                                        <li><p>R</p><input type="checkbox" value="teeth_50" name="teeth_50" id="50" /></li>
                                        <li><p>Q</p><input type="checkbox" value="teeth_49" name="teeth_49" id="49" /></li>
                                        <li><p>P</p><input type="checkbox" value="teeth_48" name="teeth_48" id="48" /></li>
                                        <br class="clear" />
                                    </ul>
                                </div>
                                <div class="block">
                                    <p style="margin-top: 5px !important;">
                                        Left
                                    </p>
                                    <ul class="teeth_listing">
                                        <div style="border-bottom:1px solid #ccc; padding-bottom: 15px;">
                                            <li><p>F</p><input type="checkbox" value="teeth_38" name="teeth_38" id="38" /></li>
                                            <li><p>G</p><input type="checkbox" value="teeth_39" name="teeth_39" id="39" /></li>
                                            <li><p>H</p><input type="checkbox" value="teeth_40" name="teeth_40" id="40" /></li>
                                            <li><p>I</p><input type="checkbox" value="teeth_41" name="teeth_41" id="41" /></li>
                                            <li><p>J</p><input type="checkbox" value="teeth_42" name="teeth_42" id="42" /></li>
                                        </div>
                                        <li><p>O</p><input type="checkbox" value="teeth_47" name="teeth_47" id="47" /></li>
                                        <li><p>N</p><input type="checkbox" value="teeth_46" name="teeth_46" id="46" /></li>
                                        <li><p>M</p><input type="checkbox" value="teeth_45" name="teeth_45" id="45" /></li>
                                        <li><p>L</p><input type="checkbox" value="teeth_44" name="teeth_44" id="44" /></li>
                                        <li><p>K</p><input type="checkbox" value="teeth_43" name="teeth_43" id="43" /></li>
                                        <br class="clear" />
                                    </ul>
                                </div>
                            </div>
                            <div class="clear">
                            </div>
                        </div>
                    </div>
                    <h4 class="sub_title clearfix " style="display: none;">
                        Export All Dental Records
                    </h4>
                </div>
                <div class="table_container clearfix">
                    <h4 class="sub_title">

                        <label class="patient_record_trigger">Select Patient Images/Records </label><span class="patient_trigger patient_record_trigger patient_trigger4"></span>
                    </h4>
                    <div class="content_block patient_record">
                        <div id="images">

                        </div>
                        <div id="document">

                        </div>
                    </div>
                </div>
            </form>
            <div class="clear">
            </div>
            <input type="button" class="export_record_patient" style="display: none;">
            <!-- Upload Files Container -->
            <div class="table_container clearfix">
                <h4 class="sub_title">
                    <label class="uploader_trigger"> Upload Files</label><span class="patient_trigger uploader_trigger patient_trigger5"></span>
                </h4>
                <div class="content_block uploader_area">
                    <div class="file_process">
                        <div class="file_process">
                            @Html.Partial("../Patients/PartialPatientFileUpload", Model)
                        </div>
                    </div>
                </div>
            </div>
            <!-- Comments Container -->
            <div class="table_container clearfix">
                <h4 class="sub_title">
                    <label class="comments_trigger"> Comments </label><span class="patient_trigger comments_trigger patient_trigger3"></span>
                </h4>
                <div class="comments comment_textarea">
                    <textarea id="txtcomment" name="txtcomment" cols="" rows="5" style="border: 1px solid rgb(8, 144, 196);" tabindex="1"></textarea>
                    @*<input type="submit" class="frwd_referral marginbottom20" value="Send Referral" onclick="return SendReferral()">*@
                </div>
                @*<img src="~/Content/images/send.png" onclick="return SendReferral()" style="cursor:pointer;" />*@
                <img src="~/Content/images/send.png" onclick="return Test();" style="cursor:pointer;" tabindex="2" />
                <input type="hidden" id="hdnsavereferral" name="hdnsavereferral" value="0" />
            </div>
        </div>
        <!-- Inner Content Ends -->
    </div>
    <!-- content base ends-->
</div>

<!-- content ends here -->
<script>
    function Test() {
        
        var commentvalue = document.getElementById('txtcomment').value;
        var selectImages = SelectedImages();
        var selectedDoc = SelectedDocuments();
        $("#ImagesId").val("ImagesId_" + selectImages);
        $("#ImagesId").attr("name", "ImagesId_" + selectImages);
        $("#DocId").val("DocId_" + selectedDoc);
        $("#DocId").attr("name", "DocId_" + selectedDoc);
        $("#comment").attr("name", "comment_" + commentvalue);
        $("#comment").val("comment_" + commentvalue);
        $("#hdnsavereferral").val(1);
        $("#my_form").submit();
    }
    $("div.custom_accordion").accordion({
        autoHeight: true,
        collapsible: true,
        active: false,
    });
</script>
<script>
    function ClearPlaceHolder(input) {
        if (input.value == input.defaultValue) {
            input.value = "";
        }
    }
    function SetPlaceHolder(input) {
        if (input.value == "") {
            input.value = input.defaultValue;
        }
    }
    $(function () {
        $("#search_main_div").css("display", "block");
        $("#search_main_div").html("<div class='search_main_div'><div class='searchbar'><input onfocus='ClearPlaceHolder(this)' onblur='SetPlaceHolder(this)' name='Search Colleague' type='text' value='Search Colleague'></div></div>");
    });
    
    function LoadImages() {
        performAjax({
            url: "/Referrals/GetPatientImages",
            type: "POST",
            data: { PatientId:@Model.PatientDetails.PatientId},
            async: true,
            success: function (data) {
                $("#images").append(data);
            }
        });
    }
    function LoadDocument() {
        performAjax({
            url: "/Referrals/GetPatientDocument",
            type: "POST",
            data: { PatientId:@Model.PatientDetails.PatientId},
            async: true,
            success: function (data) {
                $("#document").append(data);
            }
        });
    }
    jQuery(document).ready(function () {
        
        jQuery('.form_row .form_block .form_block_label').on('click', function () {
            jQuery(this).parent('.form_row .form_block').toggleClass('hide-input');
            jQuery(this).parent('.form_row .form_block').find(".input_fill_area input").focus();
        });
    });
    $(document).ready(function () {
        LoadImages();
        LoadDocument();
        $(".full_patient_detail_trigger").click(function () {
            $(this).parent(".single_patient_block").find(".full_patient_detail").slideToggle();
            $(this).toggleClass('active');
        });

        $(".action_btns ul li.oral").click(function () {
            $("#oral").slideToggle();
            $(this).toggleClass('active');
        });

        $(".action_btns ul li.periodontics").click(function () {
            $("#periodontics").slideToggle();
            $(this).toggleClass('active');
        });

        $(".action_btns ul li.orthontics").click(function () {
            $("#orthodontics").slideToggle();
            $(this).toggleClass('active');
        });

        $(".action_btns ul li.endodontics").click(function () {
            $("#endodontics").slideToggle();
            $(this).toggleClass('active');
        });



        $(".action_btns ul li.pediatrics").click(function () {
            $("#pediatrics").slideToggle();
            $(this).toggleClass('active');
        });

        $(".action_btns ul li.labs").click(function () {
            $("#labs").slideToggle();
            $(this).toggleClass('active');
        });

        $(".action_btns ul li.radiology").click(function () {
            $("#radiology").slideToggle();
            $(this).toggleClass('active');
        });

        $(".action_btns ul li.other").click(function () {
            $("#other").slideToggle();
            $(this).toggleClass('active');
        });


        $(".patient_trigger_parent").click(function () {
            $("#patient_details").slideToggle();
            $(".patient_trigger_parent").toggleClass('rotate');
        });


        $(".patient_trigger2_parent").click(function () {
            $(".visuals").slideToggle();
            $(".patient_trigger2").toggleClass('rotate');
        });

        $(".uploader_trigger").click(function () {
            $(".uploader_area").slideToggle();
            $(".patient_trigger5").toggleClass('rotate');
        });




        $(".comments_trigger").click(function () {
            $(".comment_textarea").slideToggle();
            $(".patient_trigger3").toggleClass('rotate');
        });

        $(".patient_record_trigger").click(function () {

            $(".patient_record").slideToggle();
            $(".patient_trigger4").toggleClass('rotate');
        });
        $(".single_patient_block").click(function (e) {
            if (!$(e.target).hasClass("full_patient_detail_trigger"))
                $(this).toggleClass("selected");
        });
    });
</script>
