﻿@model List<BO.ViewModel.PateintDocuments>
@if (Model.Count > 0)
{
    foreach (var PatienDoc in Model)
    {
        <div class="single_patient_block" id="@PatienDoc.DocumentId">
            <div class="single_patient_block_img"><img src="@NewRecordlinc.Common.FileExtension.CheckFileExtenssion(PatienDoc.DocumentName)" alt="DocumentName" /></div>
            <input type="checkbox" id="chkPatientDocument" name="check_Doc_@PatienDoc.DocumentId" value="@PatienDoc.DocumentId" class="checkbox_patient" style="display:none;" />
            <div class="single_patient_block_txt">
                <div class="single_patient_block_txt_row"><span>Name:</span>@(PatienDoc.DocumentName.Substring(PatienDoc.DocumentName.LastIndexOf("$") + 1))</div>
                <div class="single_patient_block_txt_row"><span>Created on:</span>@PatienDoc.CreationDate</div>
                <div class="single_patient_block_txt_row"><span>Modified on:</span>@PatienDoc.LastModifiedDate</div>
            </div>
            <div class="full_patient_detail"> <span>Notes:</span>@PatienDoc.Description</div>
            <div class="full_patient_detail_trigger active"> </div>
        </div>
    }
}
