﻿@model List<BO.ViewModel.PatientImages>
@if (Model.Count > 0)
{
    foreach (var PatientImage in Model)
    {
        <div class="single_patient_block" id="@PatientImage.ImageId">
            <input type="checkbox" id="chkPatientImage" name="check_Img_@PatientImage.ImageId" value="@PatientImage.ImageId" class="checkbox_patient" style="display:none;" />
            <div class="single_patient_block_img">
                <img src="@Html.Action("GetBase64ContentOFImage","Common", new { FileId = 0, FileFrom=(int)BO.Enums.Common.FileFromFolder.ImageBank, FileName =PatientImage.Name})" alt="PatientImage" />
                @*<img src="@NewRecordlinc.Common.FileExtension.CheckFileExtenssionOnReferral(PatientImage.Name)" alt="" />*@
            </div>
            <div class="single_patient_block_txt">
                <div class="single_patient_block_txt_row"><span>Name:</span>@(PatientImage.Name.Substring(PatientImage.Name.LastIndexOf("$") + 1))</div>
                <div class="single_patient_block_txt_row"><span>Created on:</span>@PatientImage.CreationDate</div>
                <div class="single_patient_block_txt_row"><span>Modified on:</span>@PatientImage.LastModifiedDate</div>
            </div>
            <div class="full_patient_detail"> <span>Notes:</span> @PatientImage.Description</div>
            <div class="full_patient_detail_trigger active"> </div>
        </div>
    }
}
