﻿@model List<NewRecordlinc.Models.Patients.mdlPatient.SpecialityService>

@foreach (var item in Model)
{
        
                <div class="form_block hide-input">
                    <div class="form_block_label">
                        <label><span>@item.ServiceName</span></label>
                    </div>
                    <div class="input_fill_area">
                        <input type="text" catid="@item.SpecialityId" id="id_1" name="sub_1_1_0" placeholder="Tooth # and comments" />
                    </div>
                </div> 
}
 