﻿@model List<NewRecordlinc.Models.Colleagues.ReferredPatient>
<style>
		#txtHdrSearchMessage{
		width: 100%;
		min-width: 100%;
		height: auto ;
	}
	.searchbar {
		overflow: hidden;
	}
	.msgtab{
		padding:0px;
	}
</style>
@if (Model.Count() > 0)
{
    int j = 0;
    int TotalMessages = Model.Count();
    int nextmessage = 0;
    int messagetype = 0;

    if (ViewBag.Sorting == "true")
    {
        <div class="msgtab" id="GetPageIndex" lbl="@ViewBag.PageIndex">
            <div class="sort_inbox clearfix">
                <select id="standard-dropdown" name="standard-dropdown" onchange="SentboxPageing(@ViewBag.PageIndex,@ViewBag.OrderByID,@ViewBag.OrderBy,'@ViewBag.Searchtext','@ViewBag.IsRefarral')" class="select_menu_upload custom-class1 custom-class2 right" style="width: 150px;">
                    @if (ViewBag.OrderbyTest == 1)
                    {
                        <option value="1" selected="selected" class="test-class-1">Sort by Date </option>
                    }
                    else
                    {
                        <option value="1" class="test-class-1">Sort by Date</option>
                    }
                    @if (ViewBag.OrderbyTest == 2)
                    {
                        <option value="2" selected="selected" class="test-class-3">Sort by Sender</option>
                    }
                    else
                    {
                        <option value="2" class="test-class-3">Sort by Sender</option>
                    }
                    
                </select>
            </div>
        </div>
        <div id="GetScrollDetails" data-orderbyid="@ViewBag.OrderByID" data-orderby="@ViewBag.OrderBy" data-searchtext="@ViewBag.Searchtext" data-isrefarral="@ViewBag.IsRefarral">
        </div>
    }
    foreach (var lst in Model)
    {
        j++;
        if (j < TotalMessages)
        {
            nextmessage = Model[j].MessageId;
            //messagetype = Model[j].MessageTypeId;
        }
        else
        {
            nextmessage = 0;
            messagetype = 0;
        }

        <div class="msgtab GetMessageId" nextmessageid="@nextmessage" id="@lst.MessageId" onclick="SentReferralShowOnClick(@lst.MessageId , @nextmessage)">
            <h4 style="cursor:pointer;">
                @if (ViewBag.FromEmail == lst.MessageId.ToString())
                {
                    <span id="isread @lst.MessageId" style="font-size:17.5px;font-weight: normal">@lst.ReceiverName </span>

                }
                else
                {
                    <span id="isread @lst.MessageId" style="">@lst.ReceiverName</span>
                }
                <span class="date" style="cursor:pointer;">@lst.CreationDate</span>@*@Convert.ToDateTime(lst.CreationDate).ToString(System.Configuration.ConfigurationManager.AppSettings["DateFormateMMMddyyyy"]).Split(' ')*@
            </h4>
            <ul class="list">
                <li>Patient Referral for  @lst.PatientName</li>
            </ul>
        </div>
    }
}
else
{
    <center><br/>No messages found</center>
}


