﻿
<tbody>
    <tr>
        <td>Dr. Demo </td>
        <td> 0 </td>
        <td>Hours for day</td>
        @for (int i = 1; i <= 30; i++)
        {
            <td> 0 </td>
        }
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>Goal Production</td>
        @for (int i = 1; i <= 30; i++)
        {
            <td> 0 </td>
        }
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>Scheduled Production</td>
        @for (int i = 1; i <= 30; i++)
        {
            <td> 0 </td>
        }
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>Actual Production</td>
        @for (int i = 1; i <= 30; i++)
        {
            <td> 0 </td>
        }
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>Hygiene Exams</td>
        @for (int i = 1; i <= 30; i++)
        {
            <td> 0 </td>
        }
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>NP Appointments</td>
        @for (int i = 1; i <= 30; i++)
        {
            <td> 0 </td>
        }
    </tr>
    <tr>
        <th colspan="4">Hygienist Goals and KPI's</th>
    </tr>
    <tr>
        <td>Dr. Demo</td>
        <td> 0 </td>
        <td>Hours for day</td>
        @for (int i = 1; i <= 30; i++)
        {
            <td> 0 </td>
        }
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>Goal Production</td>
        @for (int i = 1; i <= 30; i++)
        {
            <td> 0 </td>
        }
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>Scheduled Production</td>
        @for (int i = 1; i <= 30; i++)
        {
            <td> 0 </td>
        }
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>Actual Production</td>
        @for (int i = 1; i <= 30; i++)
        {
            <td> 0 </td>
        }
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>Routine Hygiene Visit</td>
        @for (int i = 1; i <= 30; i++)
        {
            <td> 0 </td>
        }
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>SRP</td>
        @for (int i = 1; i <= 30; i++)
        {
            <td> 0 </td>
        }
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>NP Appointments</td>
        @for (int i = 1; i <= 30; i++)
        {
            <td> 0 </td>
        }
    </tr>
    <tr>
        <th colspan="3">Goals and Collections</th>

    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>Total Hours for day</td>
        @for (int i = 1; i <= 30; i++)
        {
            <td> 0 </td>
        }
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>Total Goal Production</td>
        @for (int i = 1; i <= 30; i++)
        {
            <td> 0 </td>
        }
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>Total Scheduled Production</td>
        @for (int i = 1; i <= 30; i++)
        {
            <td> 0 </td>
        }
    </tr>

    <tr>
        <td></td>
        <td></td>
        <td>Daily Scheduled Difference from Goal</td>
        @for (int i = 1; i <= 30; i++)
        {
            <td> 0 </td>
        }
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>Daily Production Actual</td>
        @for (int i = 1; i <= 30; i++)
        {
            <td> 0 </td>
        }
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>Daily Actual Difference from Goal</td>
        @for (int i = 1; i <= 30; i++)
        {
            <td> 0 </td>
        }
    </tr>
    <tr>
        <td colspan="50">&nbsp;</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>New Patients Appointed for day</td>
        @for (int i = 1; i <= 30; i++)
        {
            <td> 0 </td>
        }
    </tr>
</tbody>
