﻿@model List<ScoreCard.Models.CriticalNumbers>
@{
    /**/

    ViewBag.Title = "CriticalNumbers";
    Layout = "~/Views/Shared/_Master_Layout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        document.getElementById('ddlYear').value = "@ViewBag.Year";
        @*ocument.getElementById("ddlYear").selectedIndex = '@Model.FirstOrDefault().Year';*@
        @*$("#ddlYear").val("@Model.FirstOrDefault().Year").change();*@
    });
    function SearchGoals() {
        if ($("#ddlYear").val() == "") {
            alert("Kindly select a Year.");
            return false;
        }
        var urL = location.href;
        location.href = urL.split('?')[0] + "?year=" + $("#ddlYear").val();
    }
    $(function () {
        $("#btnSubmit").click(function () {
            $("input[name='GridHtml']").val($("#Grid").html());
        });
    });
</script>

@using (Html.BeginForm("Export", "ReportTool", FormMethod.Post, new { @class = "form-inline float-right" }))
{
    <div class="row" style="margin:-1% 0 0.3% 0">
        <div class="col-md-6">
            <div style="padding-top:5px" class="text-left">
                @*<label style="font-family:Calibri;font-weight:bold;font-size:12px">Reports : Clinical Number ( Clinical )</label>*@
                <div class="inner-menu reports_details">
                    <h3 class="inline">Reports : Clinical Number ( Clinical )</h3>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="" style="padding-top:10px">
                <select class="form-control" id="ddlYear">
                    <option value="">Please select the Year for Search</option>
                    <option value="2016">2016</option>
                    <option value="2017">2017</option>
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                </select>
            </div>
        </div>
        <div class="col-md-2 text-right" style="padding-top:10px">
            <button type="button" class="btn btn-primary mb-2" onclick="SearchGoals();">Search</button>
            <input type="hidden" name="GridHtml" />
            <button type="submit" class="btn btn-info mb-2" id="btnSubmit">Excel</button>
            @*<button type="button" class="btn btn-info mb-2" id="btnPrintout">Print</button>*@
        </div>
    </div>
}

<div class="table-responsive" id="Grid">
    <table class="table table3 filtered-table table table-striped table-dark">
        @{
            int year = ViewBag.Year;
            if (Model == null || Model.Count == 0)
            {
                <tr>
                    <th>Monthly Clinical Smart Numbers</th>
                    <th>January</th>
                    <th>February</th>
                    <th>March</th>
                    <th>April</th>
                    <th>May</th>
                    <th>June</th>
                    <th>July</th>
                    <th>August</th>
                    <th>September</th>
                    <th>October</th>
                    <th>November</th>
                    <th>December</th>
                    <th>Year Avg.</th>
                </tr>
                <tr>
                    <td>Collection Ratio</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>

                <tr>
                    <td>Total Production per New Patient</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Total Production Per Hygiene Visit</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Collectible Production Per Hygiene Visit</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Total Restorative Production Hyiene Visit</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Marketing Cost Per New Patients</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Marketing ROI</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Production Per Hour</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Total Production Per Operatory</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Restorative Production per Restorative Operatory</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Hygiene Production Per Hygiene Operatory</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
            }
            else
            {
                <thead>
                    <tr>
                        <th>Monthly Clinical Smart Numbers</th>
                        <th>January</th>
                        <th>February</th>
                        <th>March</th>
                        <th>April</th>
                        <th>May</th>
                        <th>June</th>
                        <th>July</th>
                        <th>August</th>
                        <th>September</th>
                        <th>October</th>
                        <th>November</th>
                        <th>December</th>
                        <th>Year Avg.</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Collection Ratio</td>

                        <td>@Model.FirstOrDefault(x => x.Month == 1).Collection_Ratio</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 2).Collection_Ratio</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 3).Collection_Ratio</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 4).Collection_Ratio</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 5).Collection_Ratio</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 6).Collection_Ratio</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 7).Collection_Ratio</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 8).Collection_Ratio</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 9).Collection_Ratio</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 10).Collection_Ratio</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 11).Collection_Ratio</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 12).Collection_Ratio</td>
                        <td>@Math.Round(Model.Average(x => x.Collection_Ratio)) </td>
                    </tr>
                    <tr>
                        <td>Total Production per New Patient</td>

                        <td>@Model.FirstOrDefault(x => x.Month == 1).TotalProduction_NewPatient</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 2).TotalProduction_NewPatient</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 3).TotalProduction_NewPatient</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 4).TotalProduction_NewPatient</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 5).TotalProduction_NewPatient</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 6).TotalProduction_NewPatient</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 7).TotalProduction_NewPatient</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 8).TotalProduction_NewPatient</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 9).TotalProduction_NewPatient</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 10).TotalProduction_NewPatient</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 11).TotalProduction_NewPatient</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 12).TotalProduction_NewPatient</td>
                        <td>@Math.Round(Model.Average(x => x.TotalProduction_NewPatient)) </td>
                    </tr>
                    <tr>
                        <td>Total Production Per Hygiene Visit</td>

                        <td>@Model.FirstOrDefault(x => x.Month == 1).TotalProduction_HygeineVisit</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 2).TotalProduction_HygeineVisit</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 3).TotalProduction_HygeineVisit</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 4).TotalProduction_HygeineVisit</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 5).TotalProduction_HygeineVisit</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 6).TotalProduction_HygeineVisit</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 7).TotalProduction_HygeineVisit</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 8).TotalProduction_HygeineVisit</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 9).TotalProduction_HygeineVisit</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 10).TotalProduction_HygeineVisit</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 11).TotalProduction_HygeineVisit</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 12).TotalProduction_HygeineVisit</td>
                        <td>@Math.Round(Model.Average(x => x.TotalProduction_HygeineVisit)) </td>
                    </tr>
                    <tr>
                        <td>Collectible Production Per Hygiene Visit</td>

                        <td>@Model.FirstOrDefault(x => x.Month == 1).CollectibleProduction_HygeineVisit</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 2).CollectibleProduction_HygeineVisit</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 3).CollectibleProduction_HygeineVisit</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 4).CollectibleProduction_HygeineVisit</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 5).CollectibleProduction_HygeineVisit</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 6).CollectibleProduction_HygeineVisit</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 7).CollectibleProduction_HygeineVisit</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 8).CollectibleProduction_HygeineVisit</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 9).CollectibleProduction_HygeineVisit</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 10).CollectibleProduction_HygeineVisit</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 11).CollectibleProduction_HygeineVisit</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 12).CollectibleProduction_HygeineVisit</td>
                        <td>@Math.Round(Model.Average(x => x.CollectibleProduction_HygeineVisit)) </td>
                    </tr>
                    <tr>
                        <td>Total Restorative Production Hyiene Visit</td>

                        <td>@Model.FirstOrDefault(x => x.Month == 1).TotalRestorativeProduction_HygeineVisit</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 2).TotalRestorativeProduction_HygeineVisit</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 3).TotalRestorativeProduction_HygeineVisit</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 4).TotalRestorativeProduction_HygeineVisit</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 5).TotalRestorativeProduction_HygeineVisit</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 6).TotalRestorativeProduction_HygeineVisit</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 7).TotalRestorativeProduction_HygeineVisit</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 8).TotalRestorativeProduction_HygeineVisit</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 9).TotalRestorativeProduction_HygeineVisit</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 10).TotalRestorativeProduction_HygeineVisit</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 11).TotalRestorativeProduction_HygeineVisit</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 12).TotalRestorativeProduction_HygeineVisit</td>
                        <td>@Math.Round(Model.Average(x => x.TotalRestorativeProduction_HygeineVisit)) </td>
                    </tr>
                    <tr>
                        <td>Marketing Cost Per New Patients</td>

                        <td>@Model.FirstOrDefault(x => x.Month == 1).MarketingCosts_NewPatient</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 2).MarketingCosts_NewPatient</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 3).MarketingCosts_NewPatient</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 4).MarketingCosts_NewPatient</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 5).MarketingCosts_NewPatient</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 6).MarketingCosts_NewPatient</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 7).MarketingCosts_NewPatient</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 8).MarketingCosts_NewPatient</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 9).MarketingCosts_NewPatient</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 10).MarketingCosts_NewPatient</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 11).MarketingCosts_NewPatient</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 12).MarketingCosts_NewPatient</td>
                        <td>@Math.Round(Model.Average(x => x.MarketingCosts_NewPatient)) </td>
                    </tr>
                    <tr>
                        <td>Marketing ROI</td>

                        <td>@Model.FirstOrDefault(x => x.Month == 1).Marketing_ROI</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 2).Marketing_ROI</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 3).Marketing_ROI</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 4).Marketing_ROI</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 5).Marketing_ROI</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 6).Marketing_ROI</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 7).Marketing_ROI</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 8).Marketing_ROI</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 9).Marketing_ROI</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 10).Marketing_ROI</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 11).Marketing_ROI</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 12).Marketing_ROI</td>
                        <td>@Math.Round(Model.Average(x => x.Marketing_ROI)) </td>
                    </tr>
                    <tr>
                        <td>Production Per Hour</td>

                        <td>@Model.FirstOrDefault(x => x.Month == 1).Production_Hour</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 2).Production_Hour</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 3).Production_Hour</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 4).Production_Hour</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 5).Production_Hour</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 6).Production_Hour</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 7).Production_Hour</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 8).Production_Hour</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 9).Production_Hour</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 10).Production_Hour</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 11).Production_Hour</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 12).Production_Hour</td>
                        <td>@Math.Round(Model.Average(x => x.Production_Hour)) </td>
                    </tr>
                    <tr>
                        <td>Total Production Per Operatory</td>

                        <td>@Model.FirstOrDefault(x => x.Month == 1).Production_Operatory</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 2).Production_Operatory</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 3).Production_Operatory</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 4).Production_Operatory</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 5).Production_Operatory</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 6).Production_Operatory</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 7).Production_Operatory</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 8).Production_Operatory</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 9).Production_Operatory</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 10).Production_Operatory</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 11).Production_Operatory</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 12).Production_Operatory</td>
                        <td>@Math.Round(Model.Average(x => x.Production_Operatory)) </td>
                    </tr>

                    <tr>
                        <td>Restorative Production per Restorative Operatory</td>

                        <td>@Model.FirstOrDefault(x => x.Month == 1).RestorativeProduction_Operatory</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 2).RestorativeProduction_Operatory</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 3).RestorativeProduction_Operatory</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 4).RestorativeProduction_Operatory</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 5).RestorativeProduction_Operatory</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 6).RestorativeProduction_Operatory</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 7).RestorativeProduction_Operatory</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 8).RestorativeProduction_Operatory</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 9).RestorativeProduction_Operatory</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 10).RestorativeProduction_Operatory</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 11).RestorativeProduction_Operatory</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 12).RestorativeProduction_Operatory</td>
                        <td>@Math.Round(Model.Average(x => x.RestorativeProduction_Operatory)) </td>
                    </tr>
                    <tr>
                        <td>Hygiene Production Per Hygiene Operatory</td>

                        <td>@Model.FirstOrDefault(x => x.Month == 1).HygeineProduction_Operatory</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 2).HygeineProduction_Operatory</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 3).HygeineProduction_Operatory</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 4).HygeineProduction_Operatory</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 5).HygeineProduction_Operatory</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 6).HygeineProduction_Operatory</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 7).HygeineProduction_Operatory</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 8).HygeineProduction_Operatory</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 9).HygeineProduction_Operatory</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 10).HygeineProduction_Operatory</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 11).HygeineProduction_Operatory</td>
                        <td>@Model.FirstOrDefault(x => x.Month == 12).HygeineProduction_Operatory</td>
                        <td>@Math.Round(Model.Average(x => x.HygeineProduction_Operatory)) </td>
                    </tr>
                </tbody>
            }
        }
    </table>
</div>


