﻿@model List<ScoreCard.Models.FishGoals>
@{
    ViewBag.Title = "FebGoals";
    Layout = "~/Views/Shared/_Master_Layout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        document.getElementById('ddlYear').value = "@ViewBag.Year";
        @*ocument.getElementById("ddlYear").selectedIndex = '@Model.FirstOrDefault().Year';*@
        @*$("#ddlYear").val("@Model.FirstOrDefault().Year").change();*@
    });
    function SearchGoals() {
        if ($("#ddlYear").val() == "") {
            alert("Kindly select a Year.");
            return false;
        }
        var urL = location.href;
        location.href = urL.split('?')[0] + "?year=" + $("#ddlYear").val();
    }
    $(function () {
        $("#btnSubmit").click(function () {
            $("input[name='GridHtml']").val($("#Grid").html());
        });
    });
</script>
<div class="container">
    @using (Html.BeginForm("Export", "Home", FormMethod.Post, new { @class = "form-inline float-right" }))
    {
    <div class="row" style="margin:-1% 0 0.5% 0">
        <div class="col-md-6 float-left">           
            <div style="padding-top:5px" class="text-left">
                @*<label style="font-family:Calibri;font-weight:bold;font-size:12px">Reports - February Daily Goals & Fish Bowl</label>*@
                <div class="inner-menu reports_details">
                    <h3 class="inline">Reports - February Daily Goals & Fish Bowl</h3>
                </div>
            </div>
        </div>

       
        <div class="col-md-4">
            <div class="pull-right" style="padding-top:10px">
                <select class="form-control" id="ddlYear">
                    <option value="0" style="color:#ccc !important;">
                        Please select the Year for Search
                    </option>
                    <option value="2016">2016</option>
                    <option value="2017">2017</option>
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                </select>
            </div>
        </div>
        <div class="col-md-2 text-right" style="padding-top:10px">
            <button type="button" class="btn btn-primary mb-2" onclick="SearchGoals();">Search</button>
            <input type="hidden" name="GridHtml" />
            <button type="submit" class="btn btn-info mb-2" id="btnSubmit">Excel</button>
            @*<button type="button" class="btn btn-info mb-2" id="btnPrintout">Print</button>*@
        </div>
    </div>
    }
    
    <div class="table-responsive" id="Grid">
        @{
            int year = ViewBag.Year;
            bool leapYear = year % 4 == 0 ? true : false;

        <table class="table table3 filtered-table table table-striped table-dark">

            @if (Model == null || Model.Count == 0)
            {
                <thead>
                    <tr>
                        <th colspan="32">Doctor Goals and KPI's</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Date</th>
                        <th>2-1-@year</th>
                        <th>2-2-@year</th>
                        <th>2-3-@year</th>
                        <th>2-4-@year</th>
                        <th>2-5-@year</th>
                        <th>2-6-@year</th>
                        <th>2-7-@year</th>
                        <th>2-8-@year</th>
                        <th>2-9-@year</th>
                        <th>2-10-@year</th>
                        <th>2-11-@year</th>
                        <th>2-12-@year</th>
                        <th>2-13-@year</th>
                        <th>2-14-@year</th>
                        <th>2-15-@year</th>
                        <th>2-16-@year</th>
                        <th>2-17-@year</th>
                        <th>2-18-@year</th>
                        <th>2-19-@year</th>
                        <th>2-20-@year</th>
                        <th>2-21-@year</th>
                        <th>2-22-@year</th>
                        <th>2-23-@year</th>
                        <th>2-24-@year</th>
                        <th>2-25-@year</th>
                        <th>2-26-@year</th>
                        <th>2-27-@year</th>
                        <th>2-28-@year</th>
                        <th>2-29-@year</th>
                    </tr>
                </thead>
                Html.RenderPartial("_PartialMonth28");
            }
            else
            {
                <thead>
                    <tr>
                        <th colspan="31">Doctor Goals and KPI's</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Date</th>
                        <th>2-1-@year</th>
                        <th>2-2-@year</th>
                        <th>2-3-@year</th>
                        <th>2-4-@year</th>
                        <th>2-5-@year</th>
                        <th>2-6-@year</th>
                        <th>2-7-@year</th>
                        <th>2-8-@year</th>
                        <th>2-9-@year</th>
                        <th>2-10-@year</th>
                        <th>2-11-@year</th>
                        <th>2-12-@year</th>
                        <th>2-13-@year</th>
                        <th>2-14-@year</th>
                        <th>2-15-@year</th>
                        <th>2-16-@year</th>
                        <th>2-17-@year</th>
                        <th>2-18-@year</th>
                        <th>2-19-@year</th>
                        <th>2-20-@year</th>
                        <th>2-21-@year</th>
                        <th>2-22-@year</th>
                        <th>2-23-@year</th>
                        <th>2-24-@year</th>
                        <th>2-25-@year</th>
                        <th>2-26-@year</th>
                        <th>2-27-@year</th>
                        <th>2-28-@year</th>
                        @if (leapYear)
                        {
                            <th>2-29-@year</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (string id in Model.Where(x => x.TYPEOF_PROVIDER == "SPECIALIST").Select(x => x.PROVIDER_DENTRIXID).Distinct().ToList())
                    {
                        <tr>
                            <td>Dr. @Model.Where(x => x.PROVIDER_DENTRIXID == id).FirstOrDefault().FIRSTNAME</td>
                            <td>$@Model.Where(x => x.PROVIDER_DENTRIXID == id).FirstOrDefault().PERHOUR_PRODUCTION</td>
                            <td>Hours for day</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 1)).HOURS_FOR_THEDAY</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 2)).HOURS_FOR_THEDAY</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 3)).HOURS_FOR_THEDAY</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 4)).HOURS_FOR_THEDAY</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 5)).HOURS_FOR_THEDAY</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 6)).HOURS_FOR_THEDAY</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 7)).HOURS_FOR_THEDAY</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 8)).HOURS_FOR_THEDAY</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 9)).HOURS_FOR_THEDAY</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 10)).HOURS_FOR_THEDAY</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 11)).HOURS_FOR_THEDAY</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 12)).HOURS_FOR_THEDAY</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 13)).HOURS_FOR_THEDAY</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 14)).HOURS_FOR_THEDAY</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 15)).HOURS_FOR_THEDAY</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 16)).HOURS_FOR_THEDAY</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 17)).HOURS_FOR_THEDAY</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 18)).HOURS_FOR_THEDAY</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 19)).HOURS_FOR_THEDAY</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 20)).HOURS_FOR_THEDAY</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 21)).HOURS_FOR_THEDAY</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 22)).HOURS_FOR_THEDAY</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 23)).HOURS_FOR_THEDAY</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 24)).HOURS_FOR_THEDAY</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 25)).HOURS_FOR_THEDAY</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 26)).HOURS_FOR_THEDAY</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 27)).HOURS_FOR_THEDAY</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 28)).HOURS_FOR_THEDAY</td>
                            @if (leapYear)
                            {
                                <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 29)).HOURS_FOR_THEDAY</td>
                            }
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>Goal Production</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 1)).GOAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 2)).GOAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 3)).GOAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 4)).GOAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 5)).GOAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 6)).GOAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 7)).GOAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 8)).GOAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 9)).GOAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 10)).GOAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 11)).GOAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 12)).GOAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 13)).GOAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 14)).GOAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 15)).GOAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 16)).GOAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 17)).GOAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 18)).GOAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 19)).GOAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 20)).GOAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 21)).GOAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 22)).GOAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 23)).GOAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 24)).GOAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 25)).GOAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 26)).GOAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 27)).GOAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 28)).GOAL_PRODUCTION</td>
                            @if (leapYear)
                            {
                                <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 29)).GOAL_PRODUCTION</td>
                            }
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>Scheduled Production</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 1)).SCHEDULED_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 2)).SCHEDULED_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 3)).SCHEDULED_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 4)).SCHEDULED_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 5)).SCHEDULED_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 6)).SCHEDULED_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 7)).SCHEDULED_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 8)).SCHEDULED_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 9)).SCHEDULED_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 10)).SCHEDULED_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 11)).SCHEDULED_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 12)).SCHEDULED_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 13)).SCHEDULED_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 14)).SCHEDULED_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 15)).SCHEDULED_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 16)).SCHEDULED_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 17)).SCHEDULED_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 18)).SCHEDULED_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 19)).SCHEDULED_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 20)).SCHEDULED_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 21)).SCHEDULED_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 22)).SCHEDULED_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 23)).SCHEDULED_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 24)).SCHEDULED_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 25)).SCHEDULED_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 26)).SCHEDULED_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 27)).SCHEDULED_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 28)).SCHEDULED_PRODUCTION</td>
                            @if (leapYear)
                            {
                                <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 29)).SCHEDULED_PRODUCTION</td>
                            }
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>Actual Production</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 1)).ACTUAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 2)).ACTUAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 3)).ACTUAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 4)).ACTUAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 5)).ACTUAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 6)).ACTUAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 7)).ACTUAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 8)).ACTUAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 9)).ACTUAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 10)).ACTUAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 11)).ACTUAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 12)).ACTUAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 13)).ACTUAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 14)).ACTUAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 15)).ACTUAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 16)).ACTUAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 17)).ACTUAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 18)).ACTUAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 19)).ACTUAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 20)).ACTUAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 21)).ACTUAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 22)).ACTUAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 23)).ACTUAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 24)).ACTUAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 25)).ACTUAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 26)).ACTUAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 27)).ACTUAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 28)).ACTUAL_PRODUCTION</td>
                            @if (leapYear)
                            {
                                <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 29)).ACTUAL_PRODUCTION</td>
                            }
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>Hygiene Exams</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 1)).HYGEINE_EXAMS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 2)).HYGEINE_EXAMS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 3)).HYGEINE_EXAMS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 4)).HYGEINE_EXAMS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 5)).HYGEINE_EXAMS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 6)).HYGEINE_EXAMS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 7)).HYGEINE_EXAMS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 8)).HYGEINE_EXAMS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 9)).HYGEINE_EXAMS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 10)).HYGEINE_EXAMS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 11)).HYGEINE_EXAMS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 12)).HYGEINE_EXAMS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 13)).HYGEINE_EXAMS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 14)).HYGEINE_EXAMS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 15)).HYGEINE_EXAMS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 16)).HYGEINE_EXAMS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 17)).HYGEINE_EXAMS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 18)).HYGEINE_EXAMS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 19)).HYGEINE_EXAMS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 20)).HYGEINE_EXAMS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 21)).HYGEINE_EXAMS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 22)).HYGEINE_EXAMS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 23)).HYGEINE_EXAMS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 24)).HYGEINE_EXAMS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 25)).HYGEINE_EXAMS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 26)).HYGEINE_EXAMS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 27)).HYGEINE_EXAMS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 28)).HYGEINE_EXAMS</td>
                            @if (leapYear)
                            {
                                <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 29)).HYGEINE_EXAMS</td>
                            }
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>NP Appointments</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 1)).NP_APPOINTMENTS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 2)).NP_APPOINTMENTS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 3)).NP_APPOINTMENTS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 4)).NP_APPOINTMENTS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 5)).NP_APPOINTMENTS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 6)).NP_APPOINTMENTS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 7)).NP_APPOINTMENTS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 8)).NP_APPOINTMENTS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 9)).NP_APPOINTMENTS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 10)).NP_APPOINTMENTS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 11)).NP_APPOINTMENTS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 12)).NP_APPOINTMENTS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 13)).NP_APPOINTMENTS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 14)).NP_APPOINTMENTS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 15)).NP_APPOINTMENTS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 16)).NP_APPOINTMENTS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 17)).NP_APPOINTMENTS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 18)).NP_APPOINTMENTS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 19)).NP_APPOINTMENTS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 20)).NP_APPOINTMENTS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 21)).NP_APPOINTMENTS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 22)).NP_APPOINTMENTS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 23)).NP_APPOINTMENTS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 24)).NP_APPOINTMENTS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 25)).NP_APPOINTMENTS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 26)).NP_APPOINTMENTS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 27)).NP_APPOINTMENTS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 28)).NP_APPOINTMENTS</td>
                            @if (leapYear)
                            {
                                <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 29)).NP_APPOINTMENTS</td>
                            }
                        </tr>
                    }

                    @foreach (string id in Model.Where(x => x.TYPEOF_PROVIDER == "HYGEINIST").Select(x => x.PROVIDER_DENTRIXID).Distinct().ToList())
                    {
                        <tr>
                            <th colspan="4">Hygienist Goals and KPI's</th>
                        </tr>
                        <tr>
                            <td>Dr. @Model.Where(x => x.PROVIDER_DENTRIXID == id).FirstOrDefault().FIRSTNAME</td>
                            <td>$@Model.Where(x => x.PROVIDER_DENTRIXID == id).FirstOrDefault().PERHOUR_PRODUCTION</td>
                            <td>Hours for day</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 1)).HOURS_FOR_THEDAY</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 2)).HOURS_FOR_THEDAY</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 3)).HOURS_FOR_THEDAY</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 4)).HOURS_FOR_THEDAY</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 5)).HOURS_FOR_THEDAY</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 6)).HOURS_FOR_THEDAY</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 7)).HOURS_FOR_THEDAY</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 8)).HOURS_FOR_THEDAY</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 9)).HOURS_FOR_THEDAY</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 10)).HOURS_FOR_THEDAY</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 11)).HOURS_FOR_THEDAY</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 12)).HOURS_FOR_THEDAY</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 13)).HOURS_FOR_THEDAY</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 14)).HOURS_FOR_THEDAY</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 15)).HOURS_FOR_THEDAY</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 16)).HOURS_FOR_THEDAY</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 17)).HOURS_FOR_THEDAY</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 18)).HOURS_FOR_THEDAY</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 19)).HOURS_FOR_THEDAY</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 20)).HOURS_FOR_THEDAY</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 21)).HOURS_FOR_THEDAY</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 22)).HOURS_FOR_THEDAY</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 23)).HOURS_FOR_THEDAY</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 24)).HOURS_FOR_THEDAY</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 25)).HOURS_FOR_THEDAY</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 26)).HOURS_FOR_THEDAY</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 27)).HOURS_FOR_THEDAY</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 28)).HOURS_FOR_THEDAY</td>
                            @if (leapYear)
                            {
                                <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 29)).HOURS_FOR_THEDAY</td>
                            }
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>Goal Production</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 1)).GOAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 2)).GOAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 3)).GOAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 4)).GOAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 5)).GOAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 6)).GOAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 7)).GOAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 8)).GOAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 9)).GOAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 10)).GOAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 11)).GOAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 12)).GOAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 13)).GOAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 14)).GOAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 15)).GOAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 16)).GOAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 17)).GOAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 18)).GOAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 19)).GOAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 20)).GOAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 21)).GOAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 22)).GOAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 23)).GOAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 24)).GOAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 25)).GOAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 26)).GOAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 27)).GOAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 28)).GOAL_PRODUCTION</td>
                            @if (leapYear)
                            {
                                <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 29)).GOAL_PRODUCTION</td>
                            }
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>Scheduled Production</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 1)).SCHEDULED_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 2)).SCHEDULED_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 3)).SCHEDULED_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 4)).SCHEDULED_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 5)).SCHEDULED_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 6)).SCHEDULED_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 7)).SCHEDULED_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 8)).SCHEDULED_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 9)).SCHEDULED_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 10)).SCHEDULED_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 11)).SCHEDULED_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 12)).SCHEDULED_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 13)).SCHEDULED_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 14)).SCHEDULED_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 15)).SCHEDULED_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 16)).SCHEDULED_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 17)).SCHEDULED_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 18)).SCHEDULED_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 19)).SCHEDULED_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 20)).SCHEDULED_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 21)).SCHEDULED_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 22)).SCHEDULED_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 23)).SCHEDULED_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 24)).SCHEDULED_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 25)).SCHEDULED_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 26)).SCHEDULED_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 27)).SCHEDULED_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 28)).SCHEDULED_PRODUCTION</td>
                            @if (leapYear)
                            {
                                <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 29)).SCHEDULED_PRODUCTION</td>
                            }
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>Actual Production</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 1)).ACTUAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 2)).ACTUAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 3)).ACTUAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 4)).ACTUAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 5)).ACTUAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 6)).ACTUAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 7)).ACTUAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 8)).ACTUAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 9)).ACTUAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 10)).ACTUAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 11)).ACTUAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 12)).ACTUAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 13)).ACTUAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 14)).ACTUAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 15)).ACTUAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 16)).ACTUAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 17)).ACTUAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 18)).ACTUAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 19)).ACTUAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 20)).ACTUAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 21)).ACTUAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 22)).ACTUAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 23)).ACTUAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 24)).ACTUAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 25)).ACTUAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 26)).ACTUAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 27)).ACTUAL_PRODUCTION</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 28)).ACTUAL_PRODUCTION</td>
                            @if (leapYear)
                            {
                                <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 29)).ACTUAL_PRODUCTION</td>
                            }
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>Routine Hygiene Visit</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 1)).ROUTINE_HYEGEINE_VISIT</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 2)).ROUTINE_HYEGEINE_VISIT</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 3)).ROUTINE_HYEGEINE_VISIT</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 4)).ROUTINE_HYEGEINE_VISIT</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 5)).ROUTINE_HYEGEINE_VISIT</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 6)).ROUTINE_HYEGEINE_VISIT</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 7)).ROUTINE_HYEGEINE_VISIT</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 8)).ROUTINE_HYEGEINE_VISIT</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 9)).ROUTINE_HYEGEINE_VISIT</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 10)).ROUTINE_HYEGEINE_VISIT</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 11)).ROUTINE_HYEGEINE_VISIT</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 12)).ROUTINE_HYEGEINE_VISIT</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 13)).ROUTINE_HYEGEINE_VISIT</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 14)).ROUTINE_HYEGEINE_VISIT</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 15)).ROUTINE_HYEGEINE_VISIT</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 16)).ROUTINE_HYEGEINE_VISIT</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 17)).ROUTINE_HYEGEINE_VISIT</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 18)).ROUTINE_HYEGEINE_VISIT</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 19)).ROUTINE_HYEGEINE_VISIT</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 20)).ROUTINE_HYEGEINE_VISIT</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 21)).ROUTINE_HYEGEINE_VISIT</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 22)).ROUTINE_HYEGEINE_VISIT</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 23)).ROUTINE_HYEGEINE_VISIT</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 24)).ROUTINE_HYEGEINE_VISIT</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 25)).ROUTINE_HYEGEINE_VISIT</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 26)).ROUTINE_HYEGEINE_VISIT</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 27)).ROUTINE_HYEGEINE_VISIT</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 28)).ROUTINE_HYEGEINE_VISIT</td>
                            @if (leapYear)
                            {
                                <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 29)).ROUTINE_HYEGEINE_VISIT</td>
                            }
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>SRP</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 1)).SRP</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 2)).SRP</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 3)).SRP</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 4)).SRP</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 5)).SRP</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 6)).SRP</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 7)).SRP</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 8)).SRP</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 9)).SRP</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 10)).SRP</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 11)).SRP</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 12)).SRP</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 13)).SRP</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 14)).SRP</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 15)).SRP</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 16)).SRP</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 17)).SRP</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 18)).SRP</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 19)).SRP</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 20)).SRP</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 21)).SRP</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 22)).SRP</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 23)).SRP</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 24)).SRP</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 25)).SRP</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 26)).SRP</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 27)).SRP</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 28)).SRP</td>
                            @if (leapYear)
                            {
                                <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 29)).SRP</td>
                            }
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>NP Appointments</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 1)).NP_APPOINTMENTS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 2)).NP_APPOINTMENTS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 3)).NP_APPOINTMENTS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 4)).NP_APPOINTMENTS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 5)).NP_APPOINTMENTS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 6)).NP_APPOINTMENTS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 7)).NP_APPOINTMENTS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 8)).NP_APPOINTMENTS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 9)).NP_APPOINTMENTS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 10)).NP_APPOINTMENTS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 11)).NP_APPOINTMENTS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 12)).NP_APPOINTMENTS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 13)).NP_APPOINTMENTS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 14)).NP_APPOINTMENTS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 15)).NP_APPOINTMENTS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 16)).NP_APPOINTMENTS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 17)).NP_APPOINTMENTS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 18)).NP_APPOINTMENTS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 19)).NP_APPOINTMENTS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 20)).NP_APPOINTMENTS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 21)).NP_APPOINTMENTS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 22)).NP_APPOINTMENTS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 23)).NP_APPOINTMENTS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 24)).NP_APPOINTMENTS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 25)).NP_APPOINTMENTS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 26)).NP_APPOINTMENTS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 27)).NP_APPOINTMENTS</td>
                            <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 28)).NP_APPOINTMENTS</td>
                            @if (leapYear)
                            {
                                <td>@Model.FirstOrDefault(x => x.PROVIDER_DENTRIXID == id && x.REFDATE == new DateTime(year, 2, 29)).NP_APPOINTMENTS</td>
                            }
                        </tr>
                    }
                    <tr>
                        <th colspan="3">Goals and Collections</th>

                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Total Hours for day</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 1)).Sum(i => i.HOURS_FOR_THEDAY)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 2)).Sum(i => i.HOURS_FOR_THEDAY)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 3)).Sum(i => i.HOURS_FOR_THEDAY)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 4)).Sum(i => i.HOURS_FOR_THEDAY)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 5)).Sum(i => i.HOURS_FOR_THEDAY)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 6)).Sum(i => i.HOURS_FOR_THEDAY)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 7)).Sum(i => i.HOURS_FOR_THEDAY)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 8)).Sum(i => i.HOURS_FOR_THEDAY)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 9)).Sum(i => i.HOURS_FOR_THEDAY)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 10)).Sum(i => i.HOURS_FOR_THEDAY)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 11)).Sum(i => i.HOURS_FOR_THEDAY)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 12)).Sum(i => i.HOURS_FOR_THEDAY)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 13)).Sum(i => i.HOURS_FOR_THEDAY)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 14)).Sum(i => i.HOURS_FOR_THEDAY)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 15)).Sum(i => i.HOURS_FOR_THEDAY)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 16)).Sum(i => i.HOURS_FOR_THEDAY)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 17)).Sum(i => i.HOURS_FOR_THEDAY)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 18)).Sum(i => i.HOURS_FOR_THEDAY)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 19)).Sum(i => i.HOURS_FOR_THEDAY)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 20)).Sum(i => i.HOURS_FOR_THEDAY)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 21)).Sum(i => i.HOURS_FOR_THEDAY)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 22)).Sum(i => i.HOURS_FOR_THEDAY)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 23)).Sum(i => i.HOURS_FOR_THEDAY)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 24)).Sum(i => i.HOURS_FOR_THEDAY)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 25)).Sum(i => i.HOURS_FOR_THEDAY)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 26)).Sum(i => i.HOURS_FOR_THEDAY)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 27)).Sum(i => i.HOURS_FOR_THEDAY)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 28)).Sum(i => i.HOURS_FOR_THEDAY)</td>
                        @if (leapYear)
                        {
                            <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 29)).Sum(i => i.HOURS_FOR_THEDAY)</td>
                        }
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Total Goal Production</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 1)).Sum(i => i.GOAL_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 2)).Sum(i => i.GOAL_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 3)).Sum(i => i.GOAL_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 4)).Sum(i => i.GOAL_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 5)).Sum(i => i.GOAL_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 6)).Sum(i => i.GOAL_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 7)).Sum(i => i.GOAL_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 8)).Sum(i => i.GOAL_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 9)).Sum(i => i.GOAL_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 10)).Sum(i => i.GOAL_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 11)).Sum(i => i.GOAL_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 12)).Sum(i => i.GOAL_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 13)).Sum(i => i.GOAL_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 14)).Sum(i => i.GOAL_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 15)).Sum(i => i.GOAL_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 16)).Sum(i => i.GOAL_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 17)).Sum(i => i.GOAL_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 18)).Sum(i => i.GOAL_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 19)).Sum(i => i.GOAL_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 20)).Sum(i => i.GOAL_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 21)).Sum(i => i.GOAL_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 22)).Sum(i => i.GOAL_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 23)).Sum(i => i.GOAL_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 24)).Sum(i => i.GOAL_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 25)).Sum(i => i.GOAL_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 26)).Sum(i => i.GOAL_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 27)).Sum(i => i.GOAL_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 28)).Sum(i => i.GOAL_PRODUCTION)</td>
                        @if (leapYear)
                        {
                            <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 29)).Sum(i => i.GOAL_PRODUCTION)</td>
                        }
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Total Scheduled Production</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 1)).Sum(i => i.SCHEDULED_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 2)).Sum(i => i.SCHEDULED_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 3)).Sum(i => i.SCHEDULED_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 4)).Sum(i => i.SCHEDULED_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 5)).Sum(i => i.SCHEDULED_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 6)).Sum(i => i.SCHEDULED_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 7)).Sum(i => i.SCHEDULED_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 8)).Sum(i => i.SCHEDULED_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 9)).Sum(i => i.SCHEDULED_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 10)).Sum(i => i.SCHEDULED_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 11)).Sum(i => i.SCHEDULED_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 12)).Sum(i => i.SCHEDULED_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 13)).Sum(i => i.SCHEDULED_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 14)).Sum(i => i.SCHEDULED_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 15)).Sum(i => i.SCHEDULED_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 16)).Sum(i => i.SCHEDULED_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 17)).Sum(i => i.SCHEDULED_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 18)).Sum(i => i.SCHEDULED_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 19)).Sum(i => i.SCHEDULED_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 20)).Sum(i => i.SCHEDULED_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 21)).Sum(i => i.SCHEDULED_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 22)).Sum(i => i.SCHEDULED_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 23)).Sum(i => i.SCHEDULED_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 24)).Sum(i => i.SCHEDULED_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 25)).Sum(i => i.SCHEDULED_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 26)).Sum(i => i.SCHEDULED_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 27)).Sum(i => i.SCHEDULED_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 28)).Sum(i => i.SCHEDULED_PRODUCTION)</td>
                        @if (leapYear)
                        {
                            <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 29)).Sum(i => i.SCHEDULED_PRODUCTION)</td>
                        }
                    </tr>

                    <tr>
                        <td></td>
                        <td></td>
                        <td>Daily Scheduled Difference from Goal</td>
                        <td>@(Model.Where(x => x.REFDATE == new DateTime(year, 2, 1)).Sum(i => i.SCHEDULED_PRODUCTION) - Model.Where(x => x.REFDATE == new DateTime(year, 2, 1)).Sum(i => i.GOAL_PRODUCTION))</td>
                        <td>@(Model.Where(x => x.REFDATE == new DateTime(year, 2, 2)).Sum(i => i.SCHEDULED_PRODUCTION) - Model.Where(x => x.REFDATE == new DateTime(year, 2, 2)).Sum(i => i.GOAL_PRODUCTION))</td>
                        <td>@(Model.Where(x => x.REFDATE == new DateTime(year, 2, 3)).Sum(i => i.SCHEDULED_PRODUCTION) - Model.Where(x => x.REFDATE == new DateTime(year, 2, 3)).Sum(i => i.GOAL_PRODUCTION))</td>
                        <td>@(Model.Where(x => x.REFDATE == new DateTime(year, 2, 4)).Sum(i => i.SCHEDULED_PRODUCTION) - Model.Where(x => x.REFDATE == new DateTime(year, 2, 4)).Sum(i => i.GOAL_PRODUCTION))</td>
                        <td>@(Model.Where(x => x.REFDATE == new DateTime(year, 2, 5)).Sum(i => i.SCHEDULED_PRODUCTION) - Model.Where(x => x.REFDATE == new DateTime(year, 2, 5)).Sum(i => i.GOAL_PRODUCTION))</td>
                        <td>@(Model.Where(x => x.REFDATE == new DateTime(year, 2, 6)).Sum(i => i.SCHEDULED_PRODUCTION) - Model.Where(x => x.REFDATE == new DateTime(year, 2, 6)).Sum(i => i.GOAL_PRODUCTION))</td>
                        <td>@(Model.Where(x => x.REFDATE == new DateTime(year, 2, 7)).Sum(i => i.SCHEDULED_PRODUCTION) - Model.Where(x => x.REFDATE == new DateTime(year, 2, 7)).Sum(i => i.GOAL_PRODUCTION))</td>
                        <td>@(Model.Where(x => x.REFDATE == new DateTime(year, 2, 8)).Sum(i => i.SCHEDULED_PRODUCTION) - Model.Where(x => x.REFDATE == new DateTime(year, 2, 8)).Sum(i => i.GOAL_PRODUCTION))</td>
                        <td>@(Model.Where(x => x.REFDATE == new DateTime(year, 2, 9)).Sum(i => i.SCHEDULED_PRODUCTION) - Model.Where(x => x.REFDATE == new DateTime(year, 2, 9)).Sum(i => i.GOAL_PRODUCTION))</td>
                        <td>@(Model.Where(x => x.REFDATE == new DateTime(year, 2, 10)).Sum(i => i.SCHEDULED_PRODUCTION) - Model.Where(x => x.REFDATE == new DateTime(year, 2, 10)).Sum(i => i.GOAL_PRODUCTION))</td>
                        <td>@(Model.Where(x => x.REFDATE == new DateTime(year, 2, 11)).Sum(i => i.SCHEDULED_PRODUCTION) - Model.Where(x => x.REFDATE == new DateTime(year, 2, 11)).Sum(i => i.GOAL_PRODUCTION))</td>
                        <td>@(Model.Where(x => x.REFDATE == new DateTime(year, 2, 12)).Sum(i => i.SCHEDULED_PRODUCTION) - Model.Where(x => x.REFDATE == new DateTime(year, 2, 12)).Sum(i => i.GOAL_PRODUCTION))</td>
                        <td>@(Model.Where(x => x.REFDATE == new DateTime(year, 2, 13)).Sum(i => i.SCHEDULED_PRODUCTION) - Model.Where(x => x.REFDATE == new DateTime(year, 2, 13)).Sum(i => i.GOAL_PRODUCTION))</td>
                        <td>@(Model.Where(x => x.REFDATE == new DateTime(year, 2, 14)).Sum(i => i.SCHEDULED_PRODUCTION) - Model.Where(x => x.REFDATE == new DateTime(year, 2, 14)).Sum(i => i.GOAL_PRODUCTION))</td>
                        <td>@(Model.Where(x => x.REFDATE == new DateTime(year, 2, 15)).Sum(i => i.SCHEDULED_PRODUCTION) - Model.Where(x => x.REFDATE == new DateTime(year, 2, 15)).Sum(i => i.GOAL_PRODUCTION))</td>
                        <td>@(Model.Where(x => x.REFDATE == new DateTime(year, 2, 16)).Sum(i => i.SCHEDULED_PRODUCTION) - Model.Where(x => x.REFDATE == new DateTime(year, 2, 16)).Sum(i => i.GOAL_PRODUCTION))</td>
                        <td>@(Model.Where(x => x.REFDATE == new DateTime(year, 2, 17)).Sum(i => i.SCHEDULED_PRODUCTION) - Model.Where(x => x.REFDATE == new DateTime(year, 2, 17)).Sum(i => i.GOAL_PRODUCTION))</td>
                        <td>@(Model.Where(x => x.REFDATE == new DateTime(year, 2, 18)).Sum(i => i.SCHEDULED_PRODUCTION) - Model.Where(x => x.REFDATE == new DateTime(year, 2, 18)).Sum(i => i.GOAL_PRODUCTION))</td>
                        <td>@(Model.Where(x => x.REFDATE == new DateTime(year, 2, 19)).Sum(i => i.SCHEDULED_PRODUCTION) - Model.Where(x => x.REFDATE == new DateTime(year, 2, 19)).Sum(i => i.GOAL_PRODUCTION))</td>
                        <td>@(Model.Where(x => x.REFDATE == new DateTime(year, 2, 20)).Sum(i => i.SCHEDULED_PRODUCTION) - Model.Where(x => x.REFDATE == new DateTime(year, 2, 20)).Sum(i => i.GOAL_PRODUCTION))</td>
                        <td>@(Model.Where(x => x.REFDATE == new DateTime(year, 2, 21)).Sum(i => i.SCHEDULED_PRODUCTION) - Model.Where(x => x.REFDATE == new DateTime(year, 2, 21)).Sum(i => i.GOAL_PRODUCTION))</td>
                        <td>@(Model.Where(x => x.REFDATE == new DateTime(year, 2, 22)).Sum(i => i.SCHEDULED_PRODUCTION) - Model.Where(x => x.REFDATE == new DateTime(year, 2, 22)).Sum(i => i.GOAL_PRODUCTION))</td>
                        <td>@(Model.Where(x => x.REFDATE == new DateTime(year, 2, 23)).Sum(i => i.SCHEDULED_PRODUCTION) - Model.Where(x => x.REFDATE == new DateTime(year, 2, 23)).Sum(i => i.GOAL_PRODUCTION))</td>
                        <td>@(Model.Where(x => x.REFDATE == new DateTime(year, 2, 24)).Sum(i => i.SCHEDULED_PRODUCTION) - Model.Where(x => x.REFDATE == new DateTime(year, 2, 24)).Sum(i => i.GOAL_PRODUCTION))</td>
                        <td>@(Model.Where(x => x.REFDATE == new DateTime(year, 2, 25)).Sum(i => i.SCHEDULED_PRODUCTION) - Model.Where(x => x.REFDATE == new DateTime(year, 2, 25)).Sum(i => i.GOAL_PRODUCTION))</td>
                        <td>@(Model.Where(x => x.REFDATE == new DateTime(year, 2, 26)).Sum(i => i.SCHEDULED_PRODUCTION) - Model.Where(x => x.REFDATE == new DateTime(year, 2, 26)).Sum(i => i.GOAL_PRODUCTION))</td>
                        <td>@(Model.Where(x => x.REFDATE == new DateTime(year, 2, 27)).Sum(i => i.SCHEDULED_PRODUCTION) - Model.Where(x => x.REFDATE == new DateTime(year, 2, 27)).Sum(i => i.GOAL_PRODUCTION))</td>
                        <td>@(Model.Where(x => x.REFDATE == new DateTime(year, 2, 28)).Sum(i => i.SCHEDULED_PRODUCTION) - Model.Where(x => x.REFDATE == new DateTime(year, 2, 28)).Sum(i => i.GOAL_PRODUCTION))</td>
                        @if (leapYear)
                        {
                            <td>@(Model.Where(x => x.REFDATE == new DateTime(year, 2, 29)).Sum(i => i.SCHEDULED_PRODUCTION) - Model.Where(x => x.REFDATE == new DateTime(year, 2, 29)).Sum(i => i.GOAL_PRODUCTION))</td>
                        }
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Daily Production Actual</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 1)).Sum(i => i.ACTUAL_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 2)).Sum(i => i.ACTUAL_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 3)).Sum(i => i.ACTUAL_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 4)).Sum(i => i.ACTUAL_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 5)).Sum(i => i.ACTUAL_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 6)).Sum(i => i.ACTUAL_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 7)).Sum(i => i.ACTUAL_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 8)).Sum(i => i.ACTUAL_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 9)).Sum(i => i.ACTUAL_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 10)).Sum(i => i.ACTUAL_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 11)).Sum(i => i.ACTUAL_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 12)).Sum(i => i.ACTUAL_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 13)).Sum(i => i.ACTUAL_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 14)).Sum(i => i.ACTUAL_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 15)).Sum(i => i.ACTUAL_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 16)).Sum(i => i.ACTUAL_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 17)).Sum(i => i.ACTUAL_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 18)).Sum(i => i.ACTUAL_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 19)).Sum(i => i.ACTUAL_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 20)).Sum(i => i.ACTUAL_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 21)).Sum(i => i.ACTUAL_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 22)).Sum(i => i.ACTUAL_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 23)).Sum(i => i.ACTUAL_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 24)).Sum(i => i.ACTUAL_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 25)).Sum(i => i.ACTUAL_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 26)).Sum(i => i.ACTUAL_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 27)).Sum(i => i.ACTUAL_PRODUCTION)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 28)).Sum(i => i.ACTUAL_PRODUCTION)</td>
                        @if (leapYear)
                        {
                            <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 29)).Sum(i => i.ACTUAL_PRODUCTION)</td>
                        }
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Daily Actual Difference from Goal</td>
                        <td>@(Model.Where(x => x.REFDATE == new DateTime(year, 2, 1)).Sum(i => i.ACTUAL_PRODUCTION) - Model.Where(x => x.REFDATE == new DateTime(year, 2, 1)).Sum(i => i.GOAL_PRODUCTION))</td>
                        <td>@(Model.Where(x => x.REFDATE == new DateTime(year, 2, 2)).Sum(i => i.ACTUAL_PRODUCTION) - Model.Where(x => x.REFDATE == new DateTime(year, 2, 2)).Sum(i => i.GOAL_PRODUCTION))</td>
                        <td>@(Model.Where(x => x.REFDATE == new DateTime(year, 2, 3)).Sum(i => i.ACTUAL_PRODUCTION) - Model.Where(x => x.REFDATE == new DateTime(year, 2, 3)).Sum(i => i.GOAL_PRODUCTION))</td>
                        <td>@(Model.Where(x => x.REFDATE == new DateTime(year, 2, 4)).Sum(i => i.ACTUAL_PRODUCTION) - Model.Where(x => x.REFDATE == new DateTime(year, 2, 4)).Sum(i => i.GOAL_PRODUCTION))</td>
                        <td>@(Model.Where(x => x.REFDATE == new DateTime(year, 2, 5)).Sum(i => i.ACTUAL_PRODUCTION) - Model.Where(x => x.REFDATE == new DateTime(year, 2, 5)).Sum(i => i.GOAL_PRODUCTION))</td>
                        <td>@(Model.Where(x => x.REFDATE == new DateTime(year, 2, 6)).Sum(i => i.ACTUAL_PRODUCTION) - Model.Where(x => x.REFDATE == new DateTime(year, 2, 6)).Sum(i => i.GOAL_PRODUCTION))</td>
                        <td>@(Model.Where(x => x.REFDATE == new DateTime(year, 2, 7)).Sum(i => i.ACTUAL_PRODUCTION) - Model.Where(x => x.REFDATE == new DateTime(year, 2, 7)).Sum(i => i.GOAL_PRODUCTION))</td>
                        <td>@(Model.Where(x => x.REFDATE == new DateTime(year, 2, 8)).Sum(i => i.ACTUAL_PRODUCTION) - Model.Where(x => x.REFDATE == new DateTime(year, 2, 8)).Sum(i => i.GOAL_PRODUCTION))</td>
                        <td>@(Model.Where(x => x.REFDATE == new DateTime(year, 2, 9)).Sum(i => i.ACTUAL_PRODUCTION) - Model.Where(x => x.REFDATE == new DateTime(year, 2, 9)).Sum(i => i.GOAL_PRODUCTION))</td>
                        <td>@(Model.Where(x => x.REFDATE == new DateTime(year, 2, 10)).Sum(i => i.ACTUAL_PRODUCTION) - Model.Where(x => x.REFDATE == new DateTime(year, 2, 10)).Sum(i => i.GOAL_PRODUCTION))</td>
                        <td>@(Model.Where(x => x.REFDATE == new DateTime(year, 2, 11)).Sum(i => i.ACTUAL_PRODUCTION) - Model.Where(x => x.REFDATE == new DateTime(year, 2, 11)).Sum(i => i.GOAL_PRODUCTION))</td>
                        <td>@(Model.Where(x => x.REFDATE == new DateTime(year, 2, 12)).Sum(i => i.ACTUAL_PRODUCTION) - Model.Where(x => x.REFDATE == new DateTime(year, 2, 12)).Sum(i => i.GOAL_PRODUCTION))</td>
                        <td>@(Model.Where(x => x.REFDATE == new DateTime(year, 2, 13)).Sum(i => i.ACTUAL_PRODUCTION) - Model.Where(x => x.REFDATE == new DateTime(year, 2, 13)).Sum(i => i.GOAL_PRODUCTION))</td>
                        <td>@(Model.Where(x => x.REFDATE == new DateTime(year, 2, 14)).Sum(i => i.ACTUAL_PRODUCTION) - Model.Where(x => x.REFDATE == new DateTime(year, 2, 14)).Sum(i => i.GOAL_PRODUCTION))</td>
                        <td>@(Model.Where(x => x.REFDATE == new DateTime(year, 2, 15)).Sum(i => i.ACTUAL_PRODUCTION) - Model.Where(x => x.REFDATE == new DateTime(year, 2, 15)).Sum(i => i.GOAL_PRODUCTION))</td>
                        <td>@(Model.Where(x => x.REFDATE == new DateTime(year, 2, 16)).Sum(i => i.ACTUAL_PRODUCTION) - Model.Where(x => x.REFDATE == new DateTime(year, 2, 16)).Sum(i => i.GOAL_PRODUCTION))</td>
                        <td>@(Model.Where(x => x.REFDATE == new DateTime(year, 2, 17)).Sum(i => i.ACTUAL_PRODUCTION) - Model.Where(x => x.REFDATE == new DateTime(year, 2, 17)).Sum(i => i.GOAL_PRODUCTION))</td>
                        <td>@(Model.Where(x => x.REFDATE == new DateTime(year, 2, 18)).Sum(i => i.ACTUAL_PRODUCTION) - Model.Where(x => x.REFDATE == new DateTime(year, 2, 18)).Sum(i => i.GOAL_PRODUCTION))</td>
                        <td>@(Model.Where(x => x.REFDATE == new DateTime(year, 2, 19)).Sum(i => i.ACTUAL_PRODUCTION) - Model.Where(x => x.REFDATE == new DateTime(year, 2, 19)).Sum(i => i.GOAL_PRODUCTION))</td>
                        <td>@(Model.Where(x => x.REFDATE == new DateTime(year, 2, 20)).Sum(i => i.ACTUAL_PRODUCTION) - Model.Where(x => x.REFDATE == new DateTime(year, 2, 20)).Sum(i => i.GOAL_PRODUCTION))</td>
                        <td>@(Model.Where(x => x.REFDATE == new DateTime(year, 2, 21)).Sum(i => i.ACTUAL_PRODUCTION) - Model.Where(x => x.REFDATE == new DateTime(year, 2, 21)).Sum(i => i.GOAL_PRODUCTION))</td>
                        <td>@(Model.Where(x => x.REFDATE == new DateTime(year, 2, 22)).Sum(i => i.ACTUAL_PRODUCTION) - Model.Where(x => x.REFDATE == new DateTime(year, 2, 22)).Sum(i => i.GOAL_PRODUCTION))</td>
                        <td>@(Model.Where(x => x.REFDATE == new DateTime(year, 2, 23)).Sum(i => i.ACTUAL_PRODUCTION) - Model.Where(x => x.REFDATE == new DateTime(year, 2, 23)).Sum(i => i.GOAL_PRODUCTION))</td>
                        <td>@(Model.Where(x => x.REFDATE == new DateTime(year, 2, 24)).Sum(i => i.ACTUAL_PRODUCTION) - Model.Where(x => x.REFDATE == new DateTime(year, 2, 24)).Sum(i => i.GOAL_PRODUCTION))</td>
                        <td>@(Model.Where(x => x.REFDATE == new DateTime(year, 2, 25)).Sum(i => i.ACTUAL_PRODUCTION) - Model.Where(x => x.REFDATE == new DateTime(year, 2, 25)).Sum(i => i.GOAL_PRODUCTION))</td>
                        <td>@(Model.Where(x => x.REFDATE == new DateTime(year, 2, 26)).Sum(i => i.ACTUAL_PRODUCTION) - Model.Where(x => x.REFDATE == new DateTime(year, 2, 26)).Sum(i => i.GOAL_PRODUCTION))</td>
                        <td>@(Model.Where(x => x.REFDATE == new DateTime(year, 2, 27)).Sum(i => i.ACTUAL_PRODUCTION) - Model.Where(x => x.REFDATE == new DateTime(year, 2, 27)).Sum(i => i.GOAL_PRODUCTION))</td>
                        <td>@(Model.Where(x => x.REFDATE == new DateTime(year, 2, 28)).Sum(i => i.ACTUAL_PRODUCTION) - Model.Where(x => x.REFDATE == new DateTime(year, 2, 28)).Sum(i => i.GOAL_PRODUCTION))</td>
                        @if (leapYear)
                        {
                            <td>@(Model.Where(x => x.REFDATE == new DateTime(year, 2, 29)).Sum(i => i.ACTUAL_PRODUCTION) - Model.Where(x => x.REFDATE == new DateTime(year, 2, 29)).Sum(i => i.GOAL_PRODUCTION))</td>
                        }
                    </tr>
                    <tr>
                        <td colspan="50">&nbsp;</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>New Patients Appointed for day</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 1)).Sum(i => i.NP_APPOINTMENTS)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 2)).Sum(i => i.NP_APPOINTMENTS)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 3)).Sum(i => i.NP_APPOINTMENTS)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 4)).Sum(i => i.NP_APPOINTMENTS)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 5)).Sum(i => i.NP_APPOINTMENTS)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 6)).Sum(i => i.NP_APPOINTMENTS)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 7)).Sum(i => i.NP_APPOINTMENTS)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 8)).Sum(i => i.NP_APPOINTMENTS)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 9)).Sum(i => i.NP_APPOINTMENTS)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 10)).Sum(i => i.NP_APPOINTMENTS)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 11)).Sum(i => i.NP_APPOINTMENTS)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 12)).Sum(i => i.NP_APPOINTMENTS)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 13)).Sum(i => i.NP_APPOINTMENTS)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 14)).Sum(i => i.NP_APPOINTMENTS)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 15)).Sum(i => i.NP_APPOINTMENTS)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 16)).Sum(i => i.NP_APPOINTMENTS)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 17)).Sum(i => i.NP_APPOINTMENTS)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 18)).Sum(i => i.NP_APPOINTMENTS)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 19)).Sum(i => i.NP_APPOINTMENTS)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 20)).Sum(i => i.NP_APPOINTMENTS)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 21)).Sum(i => i.NP_APPOINTMENTS)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 22)).Sum(i => i.NP_APPOINTMENTS)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 23)).Sum(i => i.NP_APPOINTMENTS)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 24)).Sum(i => i.NP_APPOINTMENTS)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 25)).Sum(i => i.NP_APPOINTMENTS)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 26)).Sum(i => i.NP_APPOINTMENTS)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 27)).Sum(i => i.NP_APPOINTMENTS)</td>
                        <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 28)).Sum(i => i.NP_APPOINTMENTS)</td>
                        @if (leapYear)
                        {
                            <td>@Model.Where(x => x.REFDATE == new DateTime(year, 2, 29)).Sum(i => i.NP_APPOINTMENTS)</td>
                        }
                    </tr>
                </tbody>
            }
        </table>

        }
    </div>
</div>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

