﻿
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Master_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="padding-top">
            <div class="new-case case-overview patinet patient_form rl-profile1 security reports">
                <div class="mrgn-btm-20"></div>
                <form role="form" action="#">
                    <div class="">
                        <div class="row mrgn-btm-0">
                            <div class="col-lg-12">
                                <div class="box">
                                    <h3>Reports</h3>
                                    <a href="~/Home/PracticeProfile/@Session["LocationId"]">
                                        <span>Practice Profile</span>
                                        <span>3/25/2019</span>
                                    </a>
                                    <a href="~/Home/OfficeHours/@Session["LocationId"]">
                                        <span>Office Hours</span>
                                        <span>3/25/2019</span>
                                    </a>
                                    <a href="~/ReportTool/IndividualPracticeStatistics/@Session["LocationId"]">
                                        <span>Individual Summary</span>
                                        <span>3/25/2019</span>
                                    </a>
                                    <a href="~/ReportTool/HygeneMonthlySummary/@Session["LocationId"]">
                                        <span>Hygiene Summary</span>
                                        <span>3/25/2019</span>
                                    </a>
                                    <a href="~/ReportTool/StatsAllThree/@Session["LocationId"]">
                                        <span>State All 3</span>
                                        <span>3/25/2019</span>
                                    </a>


                                    <a href="~/Home/SmartNumbers/@Session["LocationId"]">
                                        <span>Smart Numbers</span>
                                        <span>3/25/2019</span>
                                    </a>
                                    <a href="~/Home/CriticalNumbers/@Session["LocationId"]">
                                        <span>Critical Numbers</span>
                                        <span>3/25/2019</span>
                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="box">
                                    <h3>Standard Monthly Reports</h3>
                                    <a href="~/Home/JanGoals/@Session["LocationId"]">
                                        <span>January Report - Yearly</span>
                                        <span></span>
                                    </a>
                                    <a href="~/Home/FebGoals/@Session["LocationId"]">
                                        <span>February Report - Yearly</span>
                                        <span></span>
                                    </a>
                                    <a href="~/Home/MarchGoals/@Session["LocationId"]">
                                        <span>March Report - Yearly</span>
                                        <span></span>
                                    </a>
                                    <a href="~/Home/AprilGoals/@Session["LocationId"]">
                                        <span>April Report - Yearly</span>
                                        <span></span>
                                    </a>
                                    <a href="~/Home/MayGoals/@Session["LocationId"]">
                                        <span>May Report - Yearly</span>
                                        <span></span>
                                    </a>
                                    <a href="~/Home/JuneGoals/@Session["LocationId"]">
                                        <span>June Report - Yearly</span>
                                        <span></span>
                                    </a>
                                    <a href="~/Home/JulyGoals/@Session["LocationId"]">
                                        <span>July Report - Yearly</span>
                                        <span></span>
                                    </a>
                                    <a href="~/Home/AugustGoals/@Session["LocationId"]">
                                        <span>August Report - Yearly</span>
                                        <span></span>
                                    </a>
                                    <a href="~/Home/SeptemberGoals/@Session["LocationId"]">
                                        <span>September Report - Yearly</span>
                                        <span></span>
                                    </a>
                                    <a href="~/Home/OctoberGoals/@Session["LocationId"]">
                                        <span>October Report - Yearly</span>
                                        <span></span>
                                    </a>
                                    <a href="~/Home/NovemberGoals/@Session["LocationId"]">
                                        <span>November Report - Yearly</span>
                                        <span></span>
                                    </a>
                                    <a href="~/Home/DecemberGoals/@Session["LocationId"]">
                                        <span>December Report - Yearly</span>
                                        <span></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
<script>
    $(document).ready(function () {
        $(".toggle-menu").click(function () {
            $(".header-nav").slideToggle();
        });
    });
</script>
<script src="js/jquery-3.1.1.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/sitescript.js"></script>
<script src="js/togglebtn.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<script src="js/jquery.steps.js"></script>
<script src="js/jcf.js"></script>