﻿@model List<ScoreCard.Models.PracticeProfile>
@{
    ViewBag.Title = "PracticeProfile";
    Layout = "~/Views/Shared/_Master_Layout.cshtml";
}
<style>
    input.form-control{
        width:100% !important;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        document.getElementById('ddlYear').value = "@Model.FirstOrDefault().Year";
        @*ocument.getElementById("ddlYear").selectedIndex = '@Model.FirstOrDefault().Year';*@
        @*$("#ddlYear").val("@Model.FirstOrDefault().Year").change();*@
    });

    function SearchGoals() {
        if ($("#ddlYear").val() == "") {
            alert("Kindly select a Year.");
            return false;
        }
        var urL = location.href;
        location.href = urL.split('?')[0] + "?year=" + $("#ddlYear").val();
    }

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode != 46 && charCode > 31
            && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }

    function SaveData() {
        var profiles = new Array();

        profiles.push(new PracticeProfile($("#txtToJan").val(), $("#txtResJan").val(), $("#txtHygJan").val(), $("#txtDocJan").val(), $("#txtMarkJan").val(), 1,@Model.FirstOrDefault().Year));
        profiles.push(new PracticeProfile($("#txtToFeb").val(), $("#txtResFeb").val(), $("#txtHygFeb").val(), $("#txtDocFeb").val(), $("#txtMarkFeb").val(), 2,@Model.FirstOrDefault().Year));
        profiles.push(new PracticeProfile($("#txtToMar").val(), $("#txtResMar").val(), $("#txtHygMar").val(), $("#txtDocMar").val(), $("#txtMarkMar").val(), 3,@Model.FirstOrDefault().Year));
        profiles.push(new PracticeProfile($("#txtToApr").val(), $("#txtResApr").val(), $("#txtHygApr").val(), $("#txtDocApr").val(), $("#txtMarkApr").val(), 4,@Model.FirstOrDefault().Year));
        profiles.push(new PracticeProfile($("#txtToMay").val(), $("#txtResMay").val(), $("#txtHygMay").val(), $("#txtDocMay").val(), $("#txtMarkMay").val(), 5,@Model.FirstOrDefault().Year));
        profiles.push(new PracticeProfile($("#txtToJun").val(), $("#txtResJun").val(), $("#txtHygJun").val(), $("#txtDocJun").val(), $("#txtMarkJun").val(), 6,@Model.FirstOrDefault().Year));
        profiles.push(new PracticeProfile($("#txtToJul").val(), $("#txtResJul").val(), $("#txtHygJul").val(), $("#txtDocJul").val(), $("#txtMarkJul").val(), 7,@Model.FirstOrDefault().Year));
        profiles.push(new PracticeProfile($("#txtToAug").val(), $("#txtResAug").val(), $("#txtHygAug").val(), $("#txtDocAug").val(), $("#txtMarkAug").val(), 8,@Model.FirstOrDefault().Year));
        profiles.push(new PracticeProfile($("#txtToSep").val(), $("#txtResSep").val(), $("#txtHygSep").val(), $("#txtDocSep").val(), $("#txtMarkSep").val(), 9,@Model.FirstOrDefault().Year));
        profiles.push(new PracticeProfile($("#txtToOct").val(), $("#txtResOct").val(), $("#txtHygOct").val(), $("#txtDocOct").val(), $("#txtMarkOct").val(), 10,@Model.FirstOrDefault().Year));
        profiles.push(new PracticeProfile($("#txtToNov").val(), $("#txtResNov").val(), $("#txtHygNov").val(), $("#txtDocNov").val(), $("#txtMarkNov").val(), 11,@Model.FirstOrDefault().Year));
        profiles.push(new PracticeProfile($("#txtToDec").val(), $("#txtResDec").val(), $("#txtHygDec").val(), $("#txtDocDec").val(), $("#txtMarkDec").val(), 12,@Model.FirstOrDefault().Year));

        var postData = JSON.stringify(profiles);

        $.ajax({
            url: 'PracticeProfile',
            data: postData,
            contentType: 'application/json',
            dataType: 'json',
            type: 'post',
            success: function (result) {
                $("#divConfirm").modal();
                //alert(result);
            },
            error: function (data, textStatus) { alert(textStatus); }
        });
    }

    function PracticeProfile(TOTAL_OPERATORIES, RESTORATIVE_OPERATORIES, HYGIENE_OPERATORIES, TOTAL_DOCTORS, Marketing_Costs, Month, Year) {
        this.TOTAL_OPERATORIES = TOTAL_OPERATORIES;
        this.RESTORATIVE_OPERATORIES = RESTORATIVE_OPERATORIES;
        this.HYGIENE_OPERATORIES = HYGIENE_OPERATORIES;
        this.TOTAL_DOCTORS = TOTAL_DOCTORS;
        this.Marketing_Costs = Marketing_Costs;
        this.Month = Month;
        this.Year = Year;
    }

</script>

<form class="form-inline float-right">
    <div class="container">
        <div class="row" style="margin:-1% 0 0.3% 0">
            <div class="col-md-6">
                <div style="padding-top:5px" class="text-left">
                    @*<label style="font-family:Calibri;font-weight:bold;font-size:12px">Reports : Practice Profile</label>*@
                    <div class="inner-menu reports_details">
                        <h3 class="inline">Reports : Practice Profile</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="" style="padding-top:10px">
                    <select class="form-control" id="ddlYear">
                        <option value="">Please select the Year for Search</option>
                        <option value="2016">2016</option>
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>
                        <option value="2019">2019</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2 text-right" style="padding-top:10px">
                <button type="button" class="btn btn-primary mb-2" onclick="SearchGoals();">Search</button>
                <input type="hidden" name="GridHtml" />
                @*<button type="submit" class="btn btn-info mb-2" id="btnSubmit">Excel</button>*@
                @*<button type="button" class="btn btn-info mb-2" id="btnPrintout">Print</button>*@
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table3 filtered-table table table-striped table-dark" style="text-align:left">
                <thead>
                    <tr>
                        <th>Practice Profile</th>
                        <th>January</th>
                        <th>February</th>
                        <th>March</th>
                        <th>April</th>
                        <th>May</th>
                        <th>June</th>
                        <th>July</th>
                        <th>August</th>
                        <th>September</th>
                        <th>October</th>
                        <th>November</th>
                        <th>December</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>

                        <td width="140px">Total Operatories</td>
                        <td><input type="number" value="@Model.FirstOrDefault(x=>x.Month == 1).TOTAL_OPERATORIES" id="txtToJan" class="form-control" /></td>
                        <td><input type="number" value="@Model.FirstOrDefault(x=>x.Month == 2).TOTAL_OPERATORIES" id="txtToFeb" class="form-control" /></td>
                        <td><input type="number" value="@Model.FirstOrDefault(x=>x.Month == 3).TOTAL_OPERATORIES" id="txtToMar" class="form-control" /></td>
                        <td><input type="number" value="@Model.FirstOrDefault(x=>x.Month == 4).TOTAL_OPERATORIES" id="txtToApr" class="form-control" /></td>
                        <td><input type="number" value="@Model.FirstOrDefault(x=>x.Month == 5).TOTAL_OPERATORIES" id="txtToMay" class="form-control" /></td>
                        <td><input type="number" value="@Model.FirstOrDefault(x=>x.Month == 6).TOTAL_OPERATORIES" class="form-control" id="txtToJun" /></td>
                        <td><input type="number" value="@Model.FirstOrDefault(x=>x.Month == 7).TOTAL_OPERATORIES" class="form-control" id="txtToJul" /></td>
                        <td><input type="number" value="@Model.FirstOrDefault(x=>x.Month == 8).TOTAL_OPERATORIES" class="form-control" id="txtToAug" /></td>
                        <td><input type="number" value="@Model.FirstOrDefault(x=>x.Month == 9).TOTAL_OPERATORIES" class="form-control" id="txtToSep" /></td>
                        <td><input type="number" value="@Model.FirstOrDefault(x=>x.Month == 10).TOTAL_OPERATORIES" class="form-control" id="txtToOct" /></td>
                        <td><input type="number" value="@Model.FirstOrDefault(x=>x.Month == 11).TOTAL_OPERATORIES" class="form-control" id="txtToNov" /></td>
                        <td><input type="number" value="@Model.FirstOrDefault(x=>x.Month == 12).TOTAL_OPERATORIES" class="form-control" id="txtToDec" /></td>
                    </tr>
                    <tr>
                        <td>Restorative Operatories</td>
                        <td><input type="number" value="@Model.FirstOrDefault(x=>x.Month == 1).RESTORATIVE_OPERATORIES" class="form-control" id="txtResJan" /></td>
                        <td><input type="number" value="@Model.FirstOrDefault(x=>x.Month == 2).RESTORATIVE_OPERATORIES" class="form-control" id="txtResFeb" /></td>
                        <td><input type="number" value="@Model.FirstOrDefault(x=>x.Month == 3).RESTORATIVE_OPERATORIES" class="form-control" id="txtResMar" /></td>
                        <td><input type="number" value="@Model.FirstOrDefault(x=>x.Month == 4).RESTORATIVE_OPERATORIES" class="form-control" id="txtResApr" /></td>
                        <td><input type="number" value="@Model.FirstOrDefault(x=>x.Month == 5).RESTORATIVE_OPERATORIES" class="form-control" id="txtResMay" /></td>
                        <td><input type="number" value="@Model.FirstOrDefault(x=>x.Month == 6).RESTORATIVE_OPERATORIES" class="form-control" id="txtResJun" /></td>
                        <td><input type="number" value="@Model.FirstOrDefault(x=>x.Month == 7).RESTORATIVE_OPERATORIES" class="form-control" id="txtResJul" /></td>
                        <td><input type="number" value="@Model.FirstOrDefault(x=>x.Month == 8).RESTORATIVE_OPERATORIES" class="form-control" id="txtResAug" /></td>
                        <td><input type="number" value="@Model.FirstOrDefault(x=>x.Month == 9).RESTORATIVE_OPERATORIES" class="form-control" id="txtResSep" /></td>
                        <td><input type="number" value="@Model.FirstOrDefault(x=>x.Month == 10).RESTORATIVE_OPERATORIES" class="form-control" id="txtResOct" /></td>
                        <td><input type="number" value="@Model.FirstOrDefault(x=>x.Month == 11).RESTORATIVE_OPERATORIES" class="form-control" id="txtResNov" /></td>
                        <td><input type="number" value="@Model.FirstOrDefault(x=>x.Month == 12).RESTORATIVE_OPERATORIES" class="form-control" id="txtResDec" /></td>
                    </tr>
                    <tr>
                        <td>Hygiene Operatories</td>
                        <td><input type="number" value="@Model.FirstOrDefault(x=>x.Month == 1).HYGIENE_OPERATORIES" class="form-control" id="txtHygJan" /></td>
                        <td><input type="number" value="@Model.FirstOrDefault(x=>x.Month == 2).HYGIENE_OPERATORIES" class="form-control" id="txtHygFeb" /></td>
                        <td><input type="number" value="@Model.FirstOrDefault(x=>x.Month == 3).HYGIENE_OPERATORIES" class="form-control" id="txtHygMar" /></td>
                        <td><input type="number" value="@Model.FirstOrDefault(x=>x.Month == 4).HYGIENE_OPERATORIES" class="form-control" id="txtHygApr" /></td>
                        <td><input type="number" value="@Model.FirstOrDefault(x=>x.Month == 5).HYGIENE_OPERATORIES" class="form-control" id="txtHygMay" /></td>
                        <td><input type="number" value="@Model.FirstOrDefault(x=>x.Month == 6).HYGIENE_OPERATORIES" class="form-control" id="txtHygJun" /></td>
                        <td><input type="number" value="@Model.FirstOrDefault(x=>x.Month == 7).HYGIENE_OPERATORIES" class="form-control" id="txtHygJul" /></td>
                        <td><input type="number" value="@Model.FirstOrDefault(x=>x.Month == 8).HYGIENE_OPERATORIES" class="form-control" id="txtHygAug" /></td>
                        <td><input type="number" value="@Model.FirstOrDefault(x=>x.Month == 9).HYGIENE_OPERATORIES" class="form-control" id="txtTHygSep" /></td>
                        <td><input type="number" value="@Model.FirstOrDefault(x=>x.Month == 10).HYGIENE_OPERATORIES" class="form-control" id="txtHygOct" /></td>
                        <td><input type="number" value="@Model.FirstOrDefault(x=>x.Month == 11).HYGIENE_OPERATORIES" class="form-control" id="txtHygNov" /></td>
                        <td><input type="number" value="@Model.FirstOrDefault(x=>x.Month == 12).HYGIENE_OPERATORIES" class="form-control" id="txtHygDec" /></td>
                    </tr>
                    <tr>
                        <td>Total Doctors</td>
                        <td><input type="number" value="@Model.FirstOrDefault(x=>x.Month == 1).TOTAL_DOCTORS" class="form-control" id="txtDocJan" /></td>
                        <td><input type="number" value="@Model.FirstOrDefault(x=>x.Month == 2).TOTAL_DOCTORS" class="form-control" id="txtDocFeb" /></td>
                        <td><input type="number" value="@Model.FirstOrDefault(x=>x.Month == 3).TOTAL_DOCTORS" class="form-control" id="txtDocMar" /></td>
                        <td><input type="number" value="@Model.FirstOrDefault(x=>x.Month == 4).TOTAL_DOCTORS" class="form-control" id="txtDocApr" /></td>
                        <td><input type="number" value="@Model.FirstOrDefault(x=>x.Month == 5).TOTAL_DOCTORS" class="form-control" id="txtDocMay" /></td>
                        <td><input type="number" value="@Model.FirstOrDefault(x=>x.Month == 6).TOTAL_DOCTORS" class="form-control" id="txtDocJun" /></td>
                        <td><input type="number" value="@Model.FirstOrDefault(x=>x.Month == 7).TOTAL_DOCTORS" class="form-control" id="txtDocJul" /></td>
                        <td><input type="number" value="@Model.FirstOrDefault(x=>x.Month == 8).TOTAL_DOCTORS" class="form-control" id="txtDocAug" /></td>
                        <td><input type="number" value="@Model.FirstOrDefault(x=>x.Month == 9).TOTAL_DOCTORS" class="form-control" id="txtDocSep" /></td>
                        <td><input type="number" value="@Model.FirstOrDefault(x=>x.Month == 10).TOTAL_DOCTORS" class="form-control" id="txtDocOct" /></td>
                        <td><input type="number" value="@Model.FirstOrDefault(x=>x.Month == 11).TOTAL_DOCTORS" class="form-control" id="txtDocNov" /></td>
                        <td><input type="number" value="@Model.FirstOrDefault(x=>x.Month == 12).TOTAL_DOCTORS" class="form-control" id="txtDocDec" /></td>
                    </tr>
                    <tr>
                        <td>Marketing Costs</td>
                        @*<td>@Html.TextBoxFor(x=> x.FirstOrDefault(i => i.Month == 1).Marketing_Costs, new { id= "txtMarkJan",@class= "form-control" })*@
                        <td><input type="text" value="@Model.FirstOrDefault(x=>x.Month == 1).Marketing_Costs" class="form-control" id="txtMarkJan"  onkeypress="return isNumberKey(event)" /></td>
                        <td><input type="text" value="@Model.FirstOrDefault(x=>x.Month == 2).Marketing_Costs" class="form-control" id="txtMarkFeb" onkeypress="return isNumberKey(event)"/></td>
                        <td><input type="text" value="@Model.FirstOrDefault(x=>x.Month == 3).Marketing_Costs" class="form-control" id="txtMarkMar" onkeypress="return isNumberKey(event)"/></td>
                        <td><input type="text" value="@Model.FirstOrDefault(x=>x.Month == 4).Marketing_Costs" class="form-control" id="txtMarkApr" onkeypress="return isNumberKey(event)"/></td>
                        <td><input type="text" value="@Model.FirstOrDefault(x=>x.Month == 5).Marketing_Costs" class="form-control" id="txtMarkMay" onkeypress="return isNumberKey(event)"/></td>
                        <td><input type="text" value="@Model.FirstOrDefault(x=>x.Month == 6).Marketing_Costs" class="form-control" id="txtMarkJun" onkeypress="return isNumberKey(event)"/></td>
                        <td><input type="text" value="@Model.FirstOrDefault(x=>x.Month == 7).Marketing_Costs" class="form-control" id="txtMarkJul" onkeypress="return isNumberKey(event)"/></td>
                        <td><input type="text" value="@Model.FirstOrDefault(x=>x.Month == 8).Marketing_Costs" class="form-control" id="txtMarkAug" onkeypress="return isNumberKey(event)"/></td>
                        <td><input type="text" value="@Model.FirstOrDefault(x=>x.Month == 9).Marketing_Costs" class="form-control" id="txtMarkSep" onkeypress="return isNumberKey(event)"/></td>
                        <td><input type="text" value="@Model.FirstOrDefault(x=>x.Month == 10).Marketing_Costs" class="form-control" id="txtMarkOct" onkeypress="return isNumberKey(event)"/></td>
                        <td><input type="text" value="@Model.FirstOrDefault(x=>x.Month == 11).Marketing_Costs" class="form-control" id="txtMarkNov" onkeypress="return isNumberKey(event)"/></td>
                        <td><input type="text" value="@Model.FirstOrDefault(x=>x.Month == 12).Marketing_Costs" class="form-control" id="txtMarkDec" onkeypress="return isNumberKey(event)"/></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <center>
            <button type="button" id="btnSave" class="form-control btn btn-primary mb-2" onclick="SaveData()">Save</button>
        </center>
    </div>
</form>

<div class="modal fade" id="divConfirm">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-success">
                <label>Information</label>
                <button class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div style="height:50px">
                    <label> Data updated successfully...</label>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnOn" data-dismiss="modal" class="btn btn-success">OK</button>
            </div>
        </div>
    </div>
</div>