﻿


@{
    ViewBag.Title = "Reports";
    Layout = "~/Views/Shared/_Master_Layout.cshtml";
}

<main id="main" role="main">
    <div class="container">
        <div class="new-case case-overview patinet patient_form rl-profile1 security">
            <div class="row mrgn-btm-20">
                <div class="col-lg-12">
                    <form role="form" action="#">
                        <div id="wizard">
                            <div class="wizard-inner">
                                <div class="container">
                                    @{
                                        Html.RenderPartial("_Toggle_Button");
                                    }
                                </div>

                            </div>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane active" role="tabpanel" id="Standard_Reports">
                                <div class="row planes btm-margin-30">
                                    <div class="col-lg-12">
                                        <div class="table-responsive">
                                            <table class="table table3 filtered-table table table-striped table-dark">
                                                <thead class="thead-inverse">
                                                    <tr>
                                                        <th>Name</th>
                                                        <th>Report Type</th>
                                                        <th>Date Run</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td data-th="Name"><a href="~/Home/JanGoals/@Session["LocationId"]">January  Report</a></td>
                                                        <td data-th="Report Type"><a href="~/Home/JanGoals/@Session["LocationId"]">Doctor Report - Monthly</a></td>
                                                        <td data-th="Date Run"><a href="~/Home/JanGoals/@Session["LocationId"]">2/18/2019</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td data-th="Name"><a href="~/Home/FebGoals/@Session["LocationId"]">February  Report</a></td>
                                                        <td data-th="Report Type"><a href="~/Home/FebGoals/@Session["LocationId"]">Doctor Report - Weekly</a></td>
                                                        <td data-th="Date Run"><a href="~/Home/FebGoals/@Session["LocationId"]">3/25/2019</a></td>
                                                    </tr>

                                                    <tr>
                                                        <td data-th="Name"><a href="~/Home/MarchGoals/@Session["LocationId"]">March  Report</a></td>
                                                        <td data-th="Report Type"><a href="~/Home/MarchGoals/@Session["LocationId"]">Doctor Report - Weekly</a></td>
                                                        <td data-th="Date Run"><a href="~/Home/MarchGoals/@Session["LocationId"]">3/25/2019</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td data-th="Name"><a href="~/Home/AprilGoals/@Session["LocationId"]">April  Report</a></td>
                                                        <td data-th="Report Type"><a href="~/Home/AprilGoals/@Session["LocationId"]">Doctor Report - Weekly</a></td>
                                                        <td data-th="Date Run"><a href="~/Home/AprilGoals/@Session["LocationId"]">3/25/2019</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td data-th="Name"><a href="~/Home/MayGoals/@Session["LocationId"]">May  Report</a></td>
                                                        <td data-th="Report Type"><a href="~/Home/MayGoals/@Session["LocationId"]">Doctor Report - Weekly</a></td>
                                                        <td data-th="Date Run"><a href="~/Home/MayGoals/@Session["LocationId"]">3/25/2019</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td data-th="Name"><a href="~/Home/JuneGoals/@Session["LocationId"]">June  Report</a></td>
                                                        <td data-th="Report Type"><a href="~/Home/JuneGoals/@Session["LocationId"]">Doctor Report - Weekly</a></td>
                                                        <td data-th="Date Run"><a href="~/Home/JuneGoals/@Session["LocationId"]">3/25/2019</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td data-th="Name"><a href="~/Home/JulyGoals/@Session["LocationId"]">July  Report</a></td>
                                                        <td data-th="Report Type"><a href="~/Home/JulyGoals/@Session["LocationId"]">Doctor Report - Weekly</a></td>
                                                        <td data-th="Date Run"><a href="~/Home/JulyGoals/@Session["LocationId"]">3/25/2019</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td data-th="Name"><a href="~/Home/AugustGoals/@Session["LocationId"]">August  Report</a></td>
                                                        <td data-th="Report Type"><a href="~/Home/AugustGoals/@Session["LocationId"]">Doctor Report - Weekly</a></td>
                                                        <td data-th="Date Run"><a href="~/Home/AugustGoals/@Session["LocationId"]">3/25/2019</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td data-th="Name"><a href="~/Home/SeptemberGoals/@Session["LocationId"]">September  Report</a></td>
                                                        <td data-th="Report Type"><a href="~/Home/SeptemberGoals/@Session["LocationId"]">Doctor Report - Weekly</a></td>
                                                        <td data-th="Date Run"><a href="~/Home/SeptemberGoals/@Session["LocationId"]">3/25/2019</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td data-th="Name"><a href="~/Home/OctoberGoals/@Session["LocationId"]">October  Report</a></td>
                                                        <td data-th="Report Type"><a href="~/Home/OctoberGoals/@Session["LocationId"]">Doctor Report - Weekly</a></td>
                                                        <td data-th="Date Run"><a href="~/Home/OctoberGoals/@Session["LocationId"]">3/25/2019</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td data-th="Name"><a href="~/Home/NovemberGoals/@Session["LocationId"]">November  Report</a></td>
                                                        <td data-th="Report Type"><a href="~/Home/NovemberGoals/@Session["LocationId"]">Doctor Report - Weekly</a></td>
                                                        <td data-th="Date Run"><a href="~/Home/NovemberGoals/@Session["LocationId"]">3/25/2019</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td data-th="Name"><a href="~/Home/DecemberGoals/@Session["LocationId"]">December  Report</a></td>
                                                        <td data-th="Report Type"><a href="~/Home/DecemberGoals/@Session["LocationId"]">Doctor Report - Weekly</a></td>
                                                        <td data-th="Date Run"><a href="~/Home/DecemberGoals/@Session["LocationId"]">3/25/2019</a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
    $(document).ready(function () {
        $(".toggle-menu").click(function () {
            $(".header-nav").slideToggle();
        });
    });
</script>
<script src="js/jquery-3.1.1.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/sitescript.js"></script>
<script src="js/togglebtn.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<script src="js/jquery.steps.js"></script>
<script src="js/jcf.js"></script>