﻿@using BusinessLogicLayer

@if (Model.Count > 0)
{

    decimal sum_actual = 0.00M;
    decimal sum_received = 0.00M;

    foreach (var item in Model)
    {
        sum_actual += Convert.ToDecimal(item.ActualAmount);
        sum_received += Convert.ToDecimal(item.ReceivedAmount);
        var birthDate = string.Empty;
        try
        {
            birthDate = new CommonBLL().ConvertToDate(Convert.ToDateTime(@item.birthDate), Convert.ToInt32(BO.Enums.Common.DateFormat.GENERAL));
        }
        catch (Exception)
        {
            birthDate = string.Empty;
        }

        <tr>
            <td><a href="javascript:;" onclick="ViewPatientHistory('@item.PatientId')">@item.PatientName</a></td>
            <td><a href="javascript:;">@item.DentrixPatId</a></td>
            <td><a href="javascript:;" >@item.email</a></td>
            <td><a href="javascript:;" >@item.PrimaryPhone</a></td>
            <td><a href="javascript:;" >@birthDate</a></td>
            <td align="center"><a href="javascript:;" >@item.ActualAmount</a></td>
            <td align="center"><a href="javascript:;" >@item.ReceivedAmount</a></td>
            <td align="center"><a href="javascript:;">@item.PaymentDate</a></td>
        </tr>
    }
    if (sum_actual != 0 || sum_received != 0)
    {
        <input type="hidden" value="@sum_actual" id="sum_act">
        <input type="hidden" value="@sum_received" id="sum_rec">
        <tr id="totalrow">
            <td colspan="4">&nbsp;</td>
            <td align="center" style="font-weight:900">Total</td>
            <td align="center" style="font-weight:900"><span id="actual_amt">@sum_actual</span></td>
            <td align="center" style="font-weight:900"><span id="rec_amt"> @sum_received</span></td>
            <td >&nbsp;</td>
        </tr>
    }
}
else
{
        <tr>
            <td colspan="8"><center>No Record Found</center></td>
        </tr>
}
