﻿@model BO.ViewModel.DentistRatingModel
@using BusinessLogicLayer

@{
    TempData["Message"] = string.Empty;
    string page = !string.IsNullOrEmpty(Request.QueryString["page"]) ? Request.QueryString["page"] : "1";
}

@section Styles {
    <link rel="stylesheet" type="text/css" href="~/Content/css/NewAdmin/css/jcf.css" />
}
<script src="~/Scripts/JS/jcf.js"></script>
@if (Model.ratingList.Count > 0)
{
    <div class="row ">
        <div class="col-lg-12">
            <ul class="full-width-list jcf-scrollable">
                @foreach (var item in Model.ratingList)
                {
                    string CreatedDate = new CommonBLL().ConvertToDate(Convert.ToDateTime(item.CreatedDate), Convert.ToInt32(BO.Enums.Common.DateFormat.GENERAL));
                    <li>
                        <div class="all-select">
                            @Html.CheckBoxFor(t => item.IsCheck, new { @id = item.RatingId, @class = "checkSingle", @type = "checkbox" })
                            @Html.HiddenFor(t => item.RatingId)
                        </div>
                        <div class="info">
                            <div class="name">
                                <strong>by @item.SenderName</strong>
                                <p>On @CreatedDate</p>
                            </div>
                            <div class="text">
                                <p>@item.RatingMessage</p>
                            </div>
                        </div>
                        <div class="right-holder">
                            <span id="rating-@item.ReceiverId" class="patentRatingList" ratingValue="@item.RatingValue" />
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="bottom-footer">
            <div class="col-lg-6 align-left">
                <div class="show-page">
                    @Html.Action("ShowPaging", "common", new { totalItems = Model.totalRatings, page = page, ScriptName = "showPaging", pageSize = 10 })
                </div>
            </div>
        </div>
    </div>
}
else
{
    <center><br />No record found</center>
}
<script type="text/javascript" src="~/Scripts/jquery.rateyo.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var initRating = 0;
        $(".patentRatingList").each(function () {

            $(this).rateYo({
                rating: parseFloat($(this).attr("ratingValue")),
                numStars: 5,
                precision: 2,
                minValue: 1,
                maxValue: 5,
                starWidth: "25px",
                spacing: "3px",
                readOnly: true
            });

        });
    });
</script>