﻿
@{
    ViewBag.Title = "AppointmentReport";
    Layout = "~/Views/Shared/SiteLayoutInner.cshtml";
}
<style>
    table td {
        word-break: normal;
        text-align:left;
    }
    .responsiveTable td a, .patientTable td a, .refferalTable td a, .comTable td a, .patientContactList td a, .patientContactList td a, .colleagueContactList td a, .patient_social_media td a, .patientTableImport td a
    {
        text-align:left;
    }
    .boxSized li {
        padding: 15px 5px 0;
    }

    .search_fields input.age {
        background-position: -544px -310px;
    }

    .search_fields input.name {
        background-position: -543px 3px;
    }

    .search_fields input.doctor {
        background-position: -544px -345px;
    }

    .search_fields input.alert {
        background-position: -544px -378px;
    }

    .search_fields input.nappointment {
        background-position: -544px -412px;
    }

    .search_fields input.lappointment {
        background-position: -544px -453px;
    }
    .text-align-center {
        text-align: center !important;
    }
</style>
<link href="~/Content/css/jquery-ui.css" rel="stylesheet" />
<script src="~/Content/js/jquery-ui-datepicker.js"></script>
<div class="content">
    <div class="content_base">
        <div id="divAppointmentPatient">

            <div class="inner">
                <div class="table_data reports_ref_received clearfix">

                    <div class="inner">
                        <div class="search_fields" style="width:auto;">
                            <h5>Patient Appointment List</h5>
                            <div id="searchField" style="display: block;">
                                <ul class="boxSized">
                                    <li>
                                        <input class="name" placeholder="Name" name="txtname" id="txtname" type="text" maxlength="20">
                                    </li>
                                    <li>
                                        <input class="age numericOnly" oncopy="return false" maxlength="3" onpaste="return false" oncut="return false" placeholder="Age" id="txtage" name="txtage" type="text">
                                    </li>
                                    <li>
                                        <input class="doctor" placeholder="Doctor" id="txtdoctor" name="txtdoctor" type="text" maxlength="50">
                                    </li>
                                    <li>
                                        <input class="alert" placeholder="Alert" name="txtalert" id="txtalert" type="text" maxlength="50">
                                    </li>
                                    <li>
                                        <input class="school" placeholder="Last Hygiene" name="txtSchool" id="txtlasthygiene" type="text" maxlength="10">
                                    </li>
                                    <li>
                                        <input id="txthygienetype" placeholder="Hygiene Type" class="city" name="HygieneType" type="text" maxlength="50">
                                    </li>
                                    @*<li>
                                            <input id="txtState" placeholder="State" onkeyup="" class="state" name="NextType" value="" onblur="" onfocus="" type="text">
                                        </li>*@
                                    <li>
                                        <input class="nappointment" placeholder="Next Appointment" id="txtnextappointment" name="NextAppointment" type="text" maxlength="10">
                                    </li>
                                    <li>
                                        <input class="lappointment" placeholder="Last Appointment" id="txtlastappointment" name="LastAppointment" type="text" maxlength="10">
                                    </li>
                                </ul>
                                <div style="float:left;width:250px; margin-top:15px;">
                                    <div style="float:left">
                                        <input class="frm_smt_btn margintop1" name="submit" value="submit" 
                                               onclick="BindData(false);" id="btnsubmit" type="submit">
                                    </div>

                                    <div style="float:right">
                                        <input class="cancel_btn margintop1" name="Cancel" onclick="Cancel();"
                                                type="submit" value="submit" />
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div id="ulSearchResult" style="display: table;width:100%;"></div>
                    </div>
                    <br />
                   
                    <div id="divSearchtextshow">
                    </div>
                    <div class="clear"></div>
                    <table cellspacing="0" cellpadding="0" border="0" class="responsiveTable">
                        <thead>
                            <tr>
                                <th><a id="AppColumn1" onclick="SortColumn('AppColumn1')" sort-col="1" sort-dir="1" class="sortable" href="Javascript:;">Name</a></th>

                                <th><a id="AppColumn3" onclick="SortColumn('AppColumn3')" sort-col="3" sort-dir="1" class="sortable" href="Javascript:;">(Age)</a></th>
                                <th>Doctor</th>
                                <th>Alert</th>
                                @*<th>Appointment Type</th>
                                    <th>Date</th>*@
                                <th>Last Hygiene</th>
                                <th>Hygiene Type</th>
                                <th>Next Type</th>
                                <th>Next Appointment</th>
                                <th>Last Appointment</th>
                            </tr>
                        </thead>
                        <tbody data-sortirection="2" data-sortcolumn="5" id="PartialViewOfPatientAppointment"></tbody>
                    </table>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<form action="/Patients/PatientHistory" method="post" id="frmViewPatientHistory">
    <input type="hidden" name="hdnViewPatientHistory" id="hdnViewPatientHistory" />
</form>
<form action="@Url.Action("Index", "Profile")" method="post" id="frmViewProfile">
    <input type="hidden" name="hdnViewProfile" id="hdnViewProfile" value="" />
</form>
<form action="@Url.Action("PartialAppointmentView", "ViewReports")" method="get" id="FrmSearchtext">
    <input type="hidden" name="Searchtext" id="hdnSearchtext" />
</form>
<input type="hidden" name="PageIndex" id="PageIndex" value="2" />
<input type="hidden" name="currentSortCol" id="currentSortCol" value="1" />
<input type="hidden" name="SortDirct" id="SortDirct" value="1" />
<input type="hidden" name="PageSizeSet" id="PageSizeSet" value="10" />
<script>
    var specialKeys = new Array();
    var sortdirct = $("#SortDirct").val();
    var sortCol = $("#currentSortCol").val();
    var name, age, doctorname, alert, lasthygiene, hygienetype, nextappointmenttime, lastappointmenttime;
    specialKeys.push(8); //Backspace
    $(function () {
        $(".numericOnly").bind("keypress", function (e) {
            var keyCode = e.which ? e.which : e.keyCode
            var ret = ((keyCode >= 48 && keyCode <= 57) || specialKeys.indexOf(keyCode) != -1);

            return ret;
        });
        $(".numericOnly").bind("paste", function (e) {
            return false;
        });
        $(".numericOnly").bind("drop", function (e) {
            return false;
        });
    });

    function ClearPlaceHolder(input) {
        if (input.value == input.defaultValue) {
            input.value = "";
        }
    }
    function SetPlaceHolder(input) {
        if (input.value == "") {
            input.value = input.defaultValue;
        }
    }
    function LoadPartialMainView(sortCol, sortdirct,name, age, doctorname, alert, lasthygiene, hygienetype, nextappointmenttime, lastappointmenttime) {
        var message = '';
        message = $("#txtHdrSearchAppointmentList").val();
        var Url = '@Url.Action("PartialAppointmentView", "ViewReports")?SortColumn=' + sortCol + '&SortDirection=' + sortdirct + '&SearchText=' + message + '&Name=' + name + '&Age=' + age + '&DoctorName=' + doctorname + '&Alert=' + alert + '&LastHygiene=' + lasthygiene + '&HygieneType=' + hygienetype + '&NextAppointmentTime=' + nextappointmenttime + '&LastAppointmentTime=' + lastappointmenttime;
        $('#PartialViewOfPatientAppointment').load(Url);
    }
    function ViewProfile(id) {
        $("#divLoading").show();
        $('#hdnViewProfile').val(id);
        $("#frmViewProfile").submit();
        $("#divLoading").hide();
    }
    function ViewPatientHistory(PatientId) {
        $('#hdnViewPatientHistory').val(PatientId);
        $("#frmViewPatientHistory").submit();
    }
    //function SearchResult() {
    //    name = $("#txtname").val();
    //    if ($("#txtage").val()) { age = $("#txtage").val(); } else { age = 0; }

    //    doctorname = $("#txtdoctor").val();
    //    alert = $("#txtalert").val();
    //    lasthygiene = $("#txtlasthygiene").val();
    //    hygienetype = $("#txthygienetype").val();
    //    nextappointmenttime = $("#txtnextappointment").val();
    //    lastappointmenttime = $("#txtlastappointment").val();
    //    LoadPartialView(sortCol, sortdirct, name, age, doctorname, alert, lasthygiene, hygienetype, nextappointmenttime, lastappointmenttime);

    //}
    $(document).ready(function () {
        $("#txtnextappointment").datepicker({
            minDate: 0,
            format: 'm-d-Y',
        });
        $("#txtlastappointment,#txtlasthygiene").datepicker({
            maxDate: 0,
            format: 'm-d-Y',
        });
        BindData(true);
        $("#search_main_div").css("display", "block");
        $("#search_main_div").html("<div class='search_main_div'><div class='searchbar'> <input id='txtHdrSearchAppointmentList'   onkeyup='HdrSearchPatientAppointmentList(event)'  placeholder='Search Patient Appointment List' name='Search Patient Appointment List' type='text' ></div></div>");
        $("#txtname,#txtage,#txtdoctor,#txtalert,#txtlasthygiene,#txthygienetype,#txthygienetype,#txtnextappointment,#txtlastappointment").keyup(function (event) {
            if (event.keyCode == 13) {
                BindData(false);
            }
           
        });


    });
    function BindData(IsMainView) {
        var pagesize = $("#PageSizeSet").val();
        var sortdirct = $("#SortDirct").val();
        var sortCol = $("#currentSortCol").val();
        name = $("#txtname").val();
        if ($("#txtage").val()) { age = $("#txtage").val(); } else { age = 0; }
        doctorname = $("#txtdoctor").val();
        alert = $("#txtalert").val();
        lasthygiene = $("#txtlasthygiene").val();
        hygienetype = $("#txthygienetype").val();
        nextappointmenttime = $("#txtnextappointment").val();
        lastappointmenttime = $("#txtlastappointment").val();
        var searchtext = $('#txtHdrSearchAppointmentList').val();
        if (IsMainView) {
            LoadPartialMainView(sortCol, sortdirct,name, age, doctorname, alert, lasthygiene, hygienetype, nextappointmenttime, lastappointmenttime);
        }
        else {
            LoadPartialView(sortCol, sortdirct, name, age, doctorname, alert, lasthygiene, hygienetype, nextappointmenttime, lastappointmenttime)
        }
    }
    function SortColumn(ColId) {
        var SortCol = $("#" + ColId).attr('sort-col');
        var Sortdir = $("#" + ColId).attr('sort-dir');
        $("#currentSortCol").val(SortCol);
        $("#SortDirct").val(Sortdir);
        if (Sortdir == 1) {
            $("#" + ColId).attr('sort-dir', 2);
        } else {
            $("#" + ColId).attr('sort-dir', 1);
        }
        var pagesize = $("#PageSizeSet").val();
        $("#PageIndex").val(2);
        BindData(false);
    }
    function LoadPartialView(SortCol, SortCol, Name, Age, DoctorName, Alert, LastHygiene, HygieneType, NextAppointmentTime, LastAppointmentTime) {
        var message = '';
        message = $("#txtHdrSearchAppointmentList").val();
        $.post("/Reports/AppointmentSorting", { SortColumn: SortCol, SortDirection: SortCol, SearchText: message, Name: Name, Age: Age, DoctorName: DoctorName, Alert: Alert, LastHygiene: LastHygiene, HygieneType: HygieneType, NextAppointmentTime: NextAppointmentTime, LastAppointmentTime: LastAppointmentTime }, function (data) {
            if (data != null && data != "") {
                document.getElementById('PartialViewOfPatientAppointment').innerHTML = data.toString();
            }
            else {
                document.getElementById('PartialViewOfPatientAppointment').innerHTML = '<center>No Record found</center>';
            }
            $(window).scrollTop(0);
        });
    }
    function HdrSearchPatientAppointmentList(event) {
        if (event.keyCode == 13) {

            var message = $('#txtHdrSearchAppointmentList').val();

            $("#divLoading").show();

            if (message != null && message != "") {
                $("#divClearSearch").css("display", "block");
                $("#divClearSearch").html("<br/><a href='@Url.Action("AppointmentReport", "ViewReports")' style=\"text-decoration:none;\" title=\"Clear Search\" > &nbsp;Clear Search</a>");
                BindData(false)
                //GetPatientAppointmentList(5, 2, message);
            }
            else {
                BindData(false)
                //GetPatientAppointmentList(5, 2, '');
                document.getElementById('divSearchtextshow').innerHTML = '';
            }


            $("#divLoading").hide();
        } else {
            return true;
        }
    }
    jQuery(document).ready(function (e) {

        var Search = getParameterByName('Searchtext');
        if (Search != null && Search != '') {
            document.getElementById('divSearchtextshow').innerHTML = '<br/>  Search existing colleagues for :<span style=\"color: #0890c4;"\> ' + Search + '</span> &nbsp;  <a href=@Url.Action("ColleagueContactList", "Colleagues") style=\"color: #0890c4;\">Click here</a> to clear search.';
        }
        else {
            document.getElementById('divSearchtextshow').innerHTML = '';
        }

    });
    //function GetPatientAppointmentList(SortColumn, SortDirection, SearchText) {
    //    var message = $('#txtHdrSearchAppointmentList').val();
    //    $.post("/ViewReports/PartialAppointmentView", { SortColumn: SortColumn, SortDirection: SortDirection, SearchText: message }, function (data) {
    //        $("#divLoading").show();
    //        if (data != null && data != "") {
    //            document.getElementById('PartialViewOfPatientAppointment').innerHTML = data.toString();
    //        }
    //        else {
    //            document.getElementById('PartialViewOfPatientAppointment').innerHTML = '';
    //        }
    //        $(window).scrollTop(0);
    //        $("#divLoading").hide();
    //    });
    //}
    function Cancel()
    {
        window.location = document.URL;
    }
</script>
