﻿@{
    ViewBag.Title = "Recordlinc - Plan Report";
    Layout = "~/Views/Shared/SiteLayoutInner.cshtml";
}
<script src="~/Content/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="~/Scripts/common.js"></script>
<style>
    table td {
        word-break: normal;
        text-align: left;
    }

    .responsiveTable td a, .patientTable td a, .refferalTable td a, .comTable td a, .patientContactList td a, .patientContactList td a, .colleagueContactList td a, .patient_social_media td a, .patientTableImport td a {
        text-align: left;
    }

    .boxSized li {
        padding: 15px 10px 15px 0px;
    }

    .search_fields input.age {
        background-position: -544px -310px;
    }

    .search_fields input.name {
        background-position: -543px 3px;
    }

    .search_fields input.doctor {
        background-position: -544px -345px;
    }

    .search_fields input.alert {
        background-position: -544px -378px;
    }

    .search_fields input.nappointment {
        background-position: -544px -412px;
    }

    .search_fields input.lappointment {
        background-position: -544px -453px;
    }

    .text-align-center {
        text-align: center !important;
    }
</style>
<link href="~/Content/css/jquery-ui.css" rel="stylesheet" />
<script src="~/Content/js/jquery-ui-datepicker.js"></script>
<div class="content">
    <div class="content_base">
        <div id="divCaseManagementReport">

            <div class="inner">
                <div class="table_data reports_ref_received clearfix">

                    <div class="inner">
                        <div class="search_fields" style="width:auto;">
                            <h5>Treatment Plan Report</h5>
                            <div id="searchField" style="display: block;">
                                <ul class="boxSized">
                                    <li>
                                        <input class="name" placeholder="Patient Name" name="txtPatientName" id="txtPatientName" type="text" maxlength="20">
                                    </li>                                   
                                    <li>
                                        <input class="doctor" placeholder="Created By" id="txtDoctorName" name="txtDoctorName" type="text" maxlength="50">
                                    </li>
                                    <li>
                                        <input class="txtdob" placeholder="Step Start Date" name="txtStartDate" id="txtStartDate" type="text" maxlength="50">                                       
                                    </li>
                                    <li>
                                        <input class="txtdob" placeholder="Step End Date" name="txtEndDate" id="txtEndDate" type="text" maxlength="10" onchange = "checkDate()" >
                                    </li>
                                    <li>
                                        <select id="ddltreatment" class="dropdown-menu dropdown-select">
                                            <option value="0">Treatment Accepted - All</option>
                                            <option value="1">Treatment Accepted - Yes</option>
                                            <option value="2">Treatment Accepted - No</option>                                            
                                        </select>
                                    </li> 
                                    <li>
                                        <select id="ddlAllPlans" class="dropdown-menu dropdown-select" style="width:100%">
                                            <option value="3">All plans</option>
                                            <option value="2">Draft</option>
                                            <option value="1">Active Plans</option>
                                        </select>
                                    </li>
                                    <li>
                                        <h6 id="errormsg" style="display:none;color:#b94a48;">End date should be greater than start date.</h6>
                                    </li>
                                </ul>
                              
                               
                                
                                <div style="float:left;width:250px; margin-top:15px;">
                                   
                                    <div style="float:left">
                                        <input class="frm_smt_btn margintop1" name="submit" value="submit"
                                               onclick="BindData(false);" id="btnsubmit" type="submit">
                                    </div>
                                    
                                    <div style="float:right">                                        
                                        <input class="cancel_btn margintop1" name="Cancel" onclick="Cancel();"
                                               type="submit" value="submit" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="ulSearchResult" style="display: table;width:100%;"></div>
                    </div>
                    <br />
                    <div id="divSearchtextshow">
                    </div>
                    <div class="clear"></div>
                    <table cellspacing="0" cellpadding="0" border="0" class="responsiveTable">
                        <thead>
                            <tr>
                                <th>Plan Name</th>
                                <th><a id="AppColumn1" onclick="SortColumn('AppColumn1')" sort-col="1" sort-dir="1" class="sortable" href="Javascript:;">Patient Name</a></th>
                                <th><a id="AppColumn2" onclick="SortColumn('AppColumn2')" sort-col="2" sort-dir="1" class="sortable" href="Javascript:;">Created By</a></th>
                                @*<th>Step Start Date</th>
                                <th>Step End Date</th>*@                               
                                <th>Treatment Accepted</th>  
                                <th>Action</th> 
                            </tr>
                        </thead>
                        <tbody data-sortirection="2" data-sortcolumn="5" id="PartialViewOfCaseManagement"></tbody>
                    </table>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<form action="/Patients/PatientHistory" method="post" id="frmViewPatientHistory">
    <input type="hidden" name="hdnViewPatientHistory" id="hdnViewPatientHistory" />
</form>
<form action="/Plan/EditPlan" method="post" id="frmEditPlan">
    @Html.AntiForgeryToken()
    <input type="hidden" name="id" id="id" />
    <input type="hidden" name="PatientId" id="PatientId" />
</form>
<form action="@Url.Action("Index", "Profile")" method="post" id="frmViewProfile">
    <input type="hidden" name="hdnViewProfile" id="hdnViewProfile" value="" />
</form>
<form action="@Url.Action("PartialCaseManagementView", "ViewReports")" method="get" id="FrmSearchtext">
    <input type="hidden" name="Searchtext" id="hdnSearchtext" />
</form>
<input type="hidden" name="PageIndex" id="PageIndex" value="2" />
<input type="hidden" name="currentSortCol" id="currentSortCol" value="1" />
<input type="hidden" name="SortDirct" id="SortDirct" value="1" />
<input type="hidden" name="PageSizeSet" id="PageSizeSet" value="10" />
<script>
    var specialKeys = new Array();
    var sortdirct = $("#SortDirct").val();
    var sortCol = $("#currentSortCol").val();
    var patientname, doctorname, startdate, enddate, treatmentstatus;
    
    specialKeys.push(8); //Backspace
    $(function () {
        $(".numericOnly").bind("keypress", function (e) {
            var keyCode = e.which ? e.which : e.keyCode
            var ret = ((keyCode >= 48 && keyCode <= 57) || specialKeys.indexOf(keyCode) != -1);

            return ret;
        });
        $(".numericOnly").bind("paste", function (e) {
            return false;
        });
        $(".numericOnly").bind("drop", function (e) {
            return false;
        });
    });

    function ClearPlaceHolder(input) {
        if (input.value == input.defaultValue) {
            input.value = "";
        }
    }
    function SetPlaceHolder(input) {
        if (input.value == "") {
            input.value = input.defaultValue;
        }
    }
    function LoadPartialMainView(sortCol, sortdirct, patientname, doctorname, startdate, enddate, treatmentstatus) {
        var message = '';

        message = $("#txtHdrSearchCaseList").val();

        var Url = '@Url.Action("PartialCaseManagementView", "ViewReports")?SortColumn=' + sortCol + '&SortDirection=' + sortdirct + '&SearchText=' + message + '&PatientName=' + patientname + '&DoctorName=' + doctorname + '&TreatmentStatus=' + treatmentstatus+ '&StartDate=' + startdate + '&EndDate=' + enddate;

        $('#PartialViewOfCaseManagement').load(Url);
    }
    function ViewProfile(id) {
        $("#divLoading").show();
        $('#hdnViewProfile').val(id);
        $("#frmViewProfile").submit();
        $("#divLoading").hide();
    }
    function ViewPatientHistory(PatientId) {
        $('#hdnViewPatientHistory').val(PatientId);
        $("#frmViewPatientHistory").submit();
    }

    function EditPlan(caseId, patientId) {
        $('#id').val(caseId);
        $('#PatientId').val(patientId);
        $("#frmEditPlan").submit();
    }

    function checkDate() {
        var selectedText = $('#txtEndDate').val();
        var selectedDate = new Date(selectedText);
        var startdateText = $('#txtStartDate').val();
        var StartDate = new Date(startdateText);

        if (selectedDate < StartDate) {
            $("#errormsg").show();
            return false;
        }
        else {
            $("#errormsg").hide();
        }
    }
    //function SearchResult() {
    //    name = $("#txtname").val();
    //    if ($("#txtage").val()) { age = $("#txtage").val(); } else { age = 0; }

    //    doctorname = $("#txtdoctor").val();
    //    alert = $("#txtalert").val();
    //    lasthygiene = $("#txtlasthygiene").val();
    //    hygienetype = $("#txthygienetype").val();
    //    nextappointmenttime = $("#txtnextappointment").val();
    //    lastappointmenttime = $("#txtlastappointment").val();
    //    LoadPartialView(sortCol, sortdirct, name, age, doctorname, alert, lasthygiene, hygienetype, nextappointmenttime, lastappointmenttime);

    //}
    $(document).ready(function () {
        $("#txtStartDate").datepicker({
            minDate: 0,
            format: 'm-d-Y',
        });
        $("#txtEndDate").datepicker({
            maxDate: 0,
            format: 'm-d-Y',
        });

        BindData(true);

        //$("#search_main_div").css("display", "block");
        //$("#search_main_div").html("<div class='search_main_div'><div class='searchbar'> <input id='txtHdrSearchCaseList'   onkeyup='HdrSearchCaseList(event)'  placeholder='Search Plan List' name='Search Plan List' type='text' ></div></div>");
        //$("#txtPatientName,#txtDoctorName,#txtStartDate,#txtEndDate").keyup(function (event) {
        //    if (event.keyCode == 13) {
        //        BindData(false);
        //    }
        //});
    });
    function BindData(IsMainView) {
        var pagesize = $("#PageSizeSet").val();
        var sortdirct = $("#SortDirct").val();
        var sortCol = $("#currentSortCol").val();
        patientname = $("#txtPatientName").val();
        doctorname = $("#txtDoctorName").val();
        startdate = $("#txtStartDate").val();
        enddate = $("#txtEndDate").val();
        treatmentstatus = $("#ddltreatment").val();
        planstatus = $('#ddlAllPlans').val();
        //var searchtext = $('#txtHdrSearchCaseList').val();
        if (IsMainView) {
            
            LoadPartialMainView(sortCol, sortdirct, patientname, doctorname, startdate, enddate, treatmentstatus, planstatus);
        }
        else {

            LoadPartialView(sortCol, sortdirct, patientname, doctorname, startdate, enddate, treatmentstatus, planstatus)
        }
    }
    function SortColumn(ColId) {
        var SortCol = $("#" + ColId).attr('sort-col');
        var Sortdir = $("#" + ColId).attr('sort-dir');
        $("#currentSortCol").val(SortCol);
        $("#SortDirct").val(Sortdir);
       
        if (Sortdir == 1) {
            $("#" + ColId).attr('sort-dir', 2);
        } else {
            $("#" + ColId).attr('sort-dir', 1);
        }
        var pagesize = $("#PageSizeSet").val();

        
        $("#PageIndex").val(2);
        BindData(false);
    }
    function LoadPartialView(sortCol, sortdirct, patientname, doctorname, startdate, enddate, treatmentstatus, planstatus) {        
        var message = '';
        message = $("#txtHdrSearchCaseList").val();
       
        $.post("/Reports/CaseManagementSorting", { SortColumn: sortCol, SortDirection: sortdirct, SearchText: message, PatientName: patientname, DoctorName: doctorname, TreatmentStatus: treatmentstatus, StartDate: startdate, EndDate: enddate, PlanStatus: planstatus}, function (data) {
            if (data != null && data != "") {
                document.getElementById('PartialViewOfCaseManagement').innerHTML = data.toString();
            }
            else {
                document.getElementById('PartialViewOfCaseManagement').innerHTML = '<center>No Record found</center>';
            }
            $(window).scrollTop(0);
        });
    }
    function HdrSearchCaseList(event) {
        if (event.keyCode == 13) {

            var message = $('#txtHdrSearchCaseList').val();

            $("#divLoading").show();

            if (message != null && message != "") {
                $("#divClearSearch").css("display", "block");
                $("#divClearSearch").html("<br/><a href='@Url.Action("TreatmentPlanReport", "ViewReports")' style=\"text-decoration:none;\" title=\"Clear Search\" > &nbsp;Clear Search</a>");
                BindData(false)
                //GetPatientAppointmentList(5, 2, message);
            }
            else {
                BindData(false)
                //GetPatientAppointmentList(5, 2, '');
                document.getElementById('divSearchtextshow').innerHTML = '';
            }


            $("#divLoading").hide();
        } else {
            return true;
        }
    }
    jQuery(document).ready(function (e) {

        var Search = getParameterByName('Searchtext');
        if (Search != null && Search != '') {
            document.getElementById('divSearchtextshow').innerHTML = '<br/>  Search existing colleagues for :<span style=\"color: #0890c4;"\> ' + Search + '</span> &nbsp;  <a href=@Url.Action("ColleagueContactList", "Colleagues") style=\"color: #0890c4;\">Click here</a> to clear search.';
        }
        else {
            document.getElementById('divSearchtextshow').innerHTML = '';
        }

    });
    function Cancel()
    {
        window.location = document.URL;
    }
</script>


