﻿@model IEnumerable<BO.ViewModel.InsuredAppointment>

@if (Model.Count() > 0)
{
    foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.PatientId)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.PatientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientDOB)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>*@
            <td>
                @(!string.IsNullOrEmpty(item.PrimaryInsuredName) ? "P: " + item.PrimaryInsuredName : "")<br />
                @(!string.IsNullOrEmpty(item.SecondaryInsuredName) ? "S: " + item.PrimaryInsuredName : "")<br />
                @(!string.IsNullOrEmpty(item.MedicalInsuredName) ? "M: " + item.MedicalInsuredName : "")
            </td>
            <td>
                @(!string.IsNullOrEmpty(item.PrimaryInsuredDOB) ? "P: " + item.PrimaryInsuredDOB : "")<br />
                @(!string.IsNullOrEmpty(item.SecondaryInsuredDOB) ? "S: " + item.PrimaryInsuredDOB : "")<br />
                @(!string.IsNullOrEmpty(item.MedicalInsuredDOB) ? "M: " + item.MedicalInsuredDOB : "")
            </td>
            <td>
                @(!string.IsNullOrEmpty(item.PrimaryInsuranceCompanyName) ? "P: " + item.PrimaryInsuranceCompanyName : "")<br />
                @(!string.IsNullOrEmpty(item.SecondaryInsuranceCompanyName) ? "S: " + item.PrimaryInsuranceCompanyName : "")<br />
                @(!string.IsNullOrEmpty(item.MedicalInsuranceCompanyName) ? "M: " + item.MedicalInsuranceCompanyName : "")
            </td>
            <td>
                @(!string.IsNullOrEmpty(item.PrimaryMemberID) ? "P: " + item.PrimaryMemberID : "")<br />
                @(!string.IsNullOrEmpty(item.SecondaryMemberID) ? "S: " + item.PrimaryMemberID : "")<br />
                @(!string.IsNullOrEmpty(item.MedicalMemberID) ? "M: " + item.MedicalMemberID : "")
            </td>
            <td>
                @(!string.IsNullOrEmpty(item.PrimaryCompanyPhone) ? "P: " + item.PrimaryCompanyPhone : "")<br />
                @(!string.IsNullOrEmpty(item.SecondaryCompanyPhone) ? "S: " + item.PrimaryCompanyPhone : "")<br />
                @(!string.IsNullOrEmpty(item.MedicalCompanyPhone) ? "M: " + item.MedicalCompanyPhone : "")
            </td>
        </tr>
    }
}
else
{
    <tr><td colspan="9"><center>No more record found</center></td></tr>
}

