﻿@model List<BO.Models.MerchantOwner> 
@{
    ViewBag.Title = "GetZiftPayHistoryByDentistId";
    Layout = "~/Views/Shared/_NewSiteLayoutInner.cshtml";
}
@*<input type="hidden" id="PageIndex" value="1" />
<input type="hidden" id="PageSize" value="35" />*@

<form action="/Patients/PatientHistory" method="post" id="frmViewPatientHistory">
    <input type="hidden" name="hdnViewPatientHistory" id="hdnViewPatientHistory" />
</form>

<main id="main" role="main">
    <div class="container">
        <div class="new-case case-overview patinet list_patients">
            <div class="row btm-margin-30  row-bordered referral">
                <div class="col-lg-12 ">
                    <div class="row fve_button">
                        <div class="col col-lg-8 col-md-7 col-sm-6 col-xs-6 col-lg-push-4 col-md-push-5 col-sm-push-6 col-xs-push-6 four">
                        </div>
                        <div class="col col-lg-4 col-md-5 col-sm-6 col-xs-6 col-lg-pull-8 col-md-pull-7 col-sm-pull-6 col-xs-pull-6 hide-on-phones">
                            <h1 class="inline">ZiftPay History</h1>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row mrgn-btm-20">
                <input type="hidden" value="1" id="Sort_Column" />
                <div class="col-lg-12">
                    <table class="table table3 filtered-table">
                        <thead class="thead-inverse">
                            <tr>
                                <th>
                                    <a href="javascript:;" id="AppColumn1" onclick="SortColumn('AppColumn1')" sort-col="1" sort-dir="1">Patient Name</a>
                                    <div class="arrows-group">
                                        <a href="javascript:;"><i class="ico-arrow-up"></i></a>
                                        <a href="javascript:;"><i class="ico-arrow-down"></i></a>
                                    </div>
                                </th>
                                <th>
                                    <a href="javascript:;" id="AppColumn2" onclick="SortColumn('AppColumn2')" sort-col="2" sort-dir="1">Patient Id</a>
                                    <div class="arrows-group">
                                        <a href="javascript:;"><i class="ico-arrow-up"></i></a>
                                        <a href="javascript:;"><i class="ico-arrow-down"></i></a>
                                    </div>
                                </th>
                                <th>
                                    <a href="javascript:;" id="AppColumn3" onclick="SortColumn('AppColumn3')" sort-col="3" sort-dir="1">Email Address</a>
                                    <div class="arrows-group">
                                        <a href="javascript:;"><i class="ico-arrow-up"></i></a>
                                        <a href="javascript:;"><i class="ico-arrow-down"></i></a>
                                    </div>
                                </th>
                                <th>
                                    <a href="javascript:;" id="AppColumn3" onclick="SortColumn('AppColumn3')" sort-col="3" sort-dir="1">Phone</a>
                                    <div class="arrows-group">
                                        <a href="javascript:;"><i class="ico-arrow-up"></i></a>
                                        <a href="javascript:;"><i class="ico-arrow-down"></i></a>
                                    </div>
                                </th>
                                <th>
                                    <a href="javascript:;" id="AppColumn4" onclick="SortColumn('AppColumn4')" sort-col="4" sort-dir="1">DOB</a>
                                    <div class="arrows-group">
                                        <a href="javascript:;"><i class="ico-arrow-up"></i></a>
                                        <a href="javascript:;"><i class="ico-arrow-down"></i></a>
                                    </div>
                                </th>
                                <th>
                                    <a href="javascript:;" id="AppColumn5" onclick="SortColumn('AppColumn5')" sort-col="5" sort-dir="1">Actual Amount</a>
                                    <div class="arrows-group">
                                        <a href="javascript:;"><i class="ico-arrow-up"></i></a>
                                        <a href="javascript:;"><i class="ico-arrow-down"></i></a>
                                    </div>
                                </th>
                                <th>
                                    <a href="javascript:;" id="AppColumn6" onclick="SortColumn('AppColumn6')" sort-col="6" sort-dir="1">Received</a>
                                    <div class="arrows-group">
                                        <a href="javascript:;"><i class="ico-arrow-up"></i></a>
                                        <a href="javascript:;"><i class="ico-arrow-down"></i></a>
                                    </div>
                                </th>
                                <th>
                                    <a href="javascript:;" id="AppColumn7" onclick="SortColumn('AppColumn7')" sort-col="7" sort-dir="1">Payment Date</a>
                                    <div class="arrows-group">
                                        <a href="javascript:;"><i class="ico-arrow-up"></i></a>
                                        <a href="javascript:;"><i class="ico-arrow-down"></i></a>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody id="AppendList" class="1" data-sortcolumn="1" data-sortirection="1">
                            @Html.Partial("_PartialPaymentReportForDentist")
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
<script>

    $(document).ready(function () {
        
    });
    function ViewPatientHistory(PatientId) {
        $('#hdnViewPatientHistory').val(PatientId);
        $("#frmViewPatientHistory").submit();
    }

    function SortColumn(ColId) {
        
        //var PageIndex = $('#PageIndex').val();
        //var PageSize = $('#PageSize').val();
        var SortColumn = $("#" + ColId).attr('sort-col');
        $("#Sort_Column").val(SortColumn);
        var SortDirection = $("#" + ColId).attr('sort-dir');
        if (SortDirection == 1) {
            $("#" + ColId).attr('sort-dir', 2);
        } else {
            $("#" + ColId).attr('sort-dir', 1);
        }
        var obj = {};
        obj = {
            //'PageIndex': PageIndex,
            'SortDirection': SortDirection,
            'SortColumn': SortColumn,
            //'PageSize': PageSize
        }
        $.ajax({
            url: "/Reports/GetPaymentHistory", type: "post", data: { FilterObj: obj }, async: true, success: function (data) {
                //if (data == null || data == "") {
                //    $('#PageIndex').val('-1');
                //} else {
                    $('#AppendList').html(data);
                //}
            }
        });
    }

    //Function For Scroll
    function GetPaymentHistoryOnScroll() {
               
        var datalist = '';
     
        var SortColumn = $("#Sort_Column").val();
        var SortDirection = $("#AppendList").data("sortirection");//Defualt sort column on Scrolling
        $.ajaxSetup({ async: false });
        if (SortDirection == 1) {
            SortDirection = 2;
        } else {
            SortDirection = 1;
        }


            obj = {
                'SortDirection': SortDirection,
                'SortColumn': SortColumn,
            }

            $.ajax({
                url: "/Reports/GetPaymentHistory",
                type: "POST",
                data: { FilterObj: obj },
                success: function (data) {
                    $('#AppendList').append(data);
                }
            });
        
        
    }


</script>