﻿@{
    ViewBag.Title = "Recordlinc - Reports";
    Layout = "~/Views/Shared/SiteLayoutInner.cshtml";
}
<style>
    @@media only screen and (min-width:865px) and (max-width: 1025px) {
        ul.dashboard_tour li span.patient_activity {
            background-position: 0 -474px;
        }

        ul.dashboard_tour li span.pat_social_media {
            background-position: 0 -579px;
        }
    }
</style>
<script type="text/javascript">
    function ClearPlaceHolder(input) {
        if (input.value == input.defaultValue) {
            input.value = "";
        }
    }
    function SetPlaceHolder(input) {
        if (input.value == "") {
            input.value = input.defaultValue;
        }
    }

</script>
<!-- Main content -->
<div class="content">
    <div class="content_base">
        <!-- Breadcrumb starts-->
        <div class="breadcrumb">
            <ul>
                <li><a href='@Url.Action("Index", "Index")'><img width="16" height="14" class="hires" src="../../Content/images/home-icon.png" alt="Home"></a><span class="after"></span></li>
                <li class="active"><span class="before"></span><a href='@Url.Action("Index", "ViewReports")'>Reports</a><span class="after"></span></li>

            </ul>
        </div>
        <!-- Breadcrumb ends-->
        <!-- Dashboard icons starts-->
        <div class="dashboard_links">
            <ul class="dashboard_tour ohidden">
                <li><a href='@Url.Action("ReferralHistory", "Patients")'><span class="patient_activity">Referral History</span></a></li>
                <li><a href='@Url.Action("PatientSocialMedia", "Patients")'><span class="pat_social_media">Patient Social Media</span></a></li>
                <li><a href='@Url.Action("ColleagueSocialMedia", "Colleagues")'><span class="col_social_media1">Colleague Social Media</span></a></li>
                <li><a href='@Url.Action("PatientContactList", "Patients")'><span class="pat_contact_list1">Patient Contact List</span></a></li>
                <li><a href='@Url.Action("ColleagueContactList", "Colleagues")'><span class="col_contact_list1">Colleague Contact List</span></a></li>
                <li><a href='@Url.Action("PatientNote", "ViewReports")'><img src="~/Content/images/NewPatientNotes.png" /></a></li>
                <li><a href='@Url.Action("AppointmentReport", "ViewReports")'><img src="~/Content/images/patient-recall.png" /></a></li>
                @*<li><a href='@Url.Action("PatientNotificationSetting", "ViewReports")'><img src="~/Content/images/PatientNotificationSetting.png" /></a></li>*@
                <li><a href='@Url.Action("RatingReport", "ViewReports")'><img src="~/Content/images/PatientReviews.png" /></a></li>
                <li><a href='@Url.Action("Index", "SpecialOffers")'><img src="~/Content/images/special_offers.png" /></a></li>
                <li><a href="@Url.Action("InsuredAppointments", "ViewReports")"><img src="~/Content/images/Verification_of_Benefits.png" /></a></li>
                <li><a href="@Url.Action("InsuranceReport", "ViewReports")"><img src="~/Content/images/Patient_Estimation_Report.jpg" /></a></li>
                <li><a href='@Url.Action("TreatmentPlanReport", "ViewReports")'><img src="~/Content/images/Treatment_Plan_Report.png"></a></li>
                <li><a href='@Url.Action("PatientRewards", "ViewReports")'><img src="~/Content/images/PatientRewardsReport.png"></a></li>              
                <li><a href='@Url.Action("OneClickReferralHistory","ViewReports")'><img src="~/Content/images/One-Click Referral History.png" /></a></li>
                @if (ViewBag.CheckUser == 1)

                {
                    <li><a href='@Url.Action("PaymentHistory","ViewReports")'><img src="~/Content/images/Patient Payment History.png" /></a></li>
                }
                    
            </ul>
        </div>
        <!-- Dashboard icons ends-->
        <!-- Inner Content Starts -->
        <!-- Inner Content Ends -->

    </div> <!-- content base ends-->



</div> <!-- content ends here -->
