@model List<BO.ViewModel.EstimateReport>
@{
    ViewBag.Title = "Patient Estimation Report";
    Layout = "~/Views/Shared/SiteLayoutInner.cshtml";
}
<style type="text/css">
    table.tblinner tr td {
        border-top: none;
        padding:2px;
    }
    .itemconfiguration {
        height: 440px;
        width: 1044px;
        overflow: auto;
        float: left;
        position: relative;
        margin-left: -5px;
    }
</style>
<div class="content">
    <div class="content_base">
        <div id="divAppointmentPatient">
            <div class="inner">
                <div class="table_data reports_ref_received clearfix itemconfiguration">
                    <h5>Patient Estimation Report</h5>
                    <div class="clear"></div>
                    <table cellspacing="0" cellpadding="0" border="0" class="responsiveTable" style="width:1200px !important;">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Name</th>
                                <th>Estimate Via</th>
                                <th>Selected Procedure</th>
                                <th>Insurance Name</th>
                                <th>Total Cost</th>
                                <th>Patient Cost</th>
                            </tr>
                        </thead>
                        <tbody id="tblinsurance">
                           @if (Model.Count > 0)
                           {
                               foreach (var item in Model)
                               {
                                <tr>
                                    <td style="width:70px !important;">
                                        @item.Date
                                    </td>
                                    <td>
                                        @item.Name
                                </td>
                                <td>
                                    <table class="tblinner">
                                        @if (!string.IsNullOrWhiteSpace(item.EstimateViaText))
                                        {
                                            <tr>
                                                <td><strong>Text:</strong></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    @item.EstimateViaText
                                                </td>
                                            </tr>
                                        }
                                        @if (!string.IsNullOrWhiteSpace(item.EstimateViaCall))
                                        {
                                            <tr>
                                                <td>
                                                    <strong>
                                                        Call:
                                                    </strong>
                                                </td>
                                            </tr>
                                                <tr>
                                                    <td>@item.EstimateViaCall</td>
                                                </tr>
                                        }
                                        @if (!string.IsNullOrWhiteSpace(item.EstimateViaEmail))
                                        {
                                            <tr>
                                                <td><strong>Mail</strong></td>
                                            </tr>
                                                <tr>
                                                    <td>
                                                        @item.EstimateViaEmail
                                                    </td>
                                                </tr>
                                            }
                                        </table>
                                    </td>
                                    <td style="width: 150px !important;">
                                        @item.ProcedureName
                                    </td>
                                    <td style="width: 150px !important;">
                                        @item.InsuranceName
                                    </td>
                                    <td>
                                        @item.TotalCost
                                    </td>
                                    <td>
                                        @item.ServiceCost
                                    </td>

                                </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="7">
                                        <center>No record found</center>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
