﻿@model IList<BO.ViewModel.PlanTreatmentReport>
@using BusinessLogicLayer

@if (Model.Count() > 0)
{
    foreach (var item in Model)
    {
        <tr id="row @item.PatientId">
            <td><a href='javascript:;' onclick="ViewPatientHistory('@item.PatientId')">@item.CaseName</a></td>
            <td><a href='javascript:;' onclick="ViewPatientHistory('@item.PatientId')">@item.PatientName </a></td>
            <td><a href='javascript:;' onclick="ViewProfile('@item.DoctorId')">@item.DoctorName</a></td>            
            <td>@item.IsTreatmentAccepted @if (item.IsTreatmentAccepted != "No")
            { <span> ( @item.TreatmentAcceptedDate )</span> }  </td>
            @*<td><a href='javascript:;' onclick="EditPlan('@item.CaseId,@item.PatientId')" title="Edit" class="frmedtbtn edit popup-with-form showlightbox"> </a></td>*@
            @if (item.AccountMember == "true")
            {
                <td><a href="/Plan/EditPlan?caseId=@item.CaseId&patientId=@item.PatientId" title="Edit" class="frmedtbtn edit popup-with-form showlightbox"> </a></td>
            }
            else
            {
                <td></td>
            }


        </tr>
    }
}
else
{
    <tr><td colspan="9" class="text-align-center">No Record Found</td></tr>
}
