﻿@model IEnumerable<NewRecordlinc.Models.Patients.AppointmentReport>
@using BusinessLogicLayer

@if (Model.Count() > 0)
{
    foreach (var item in Model)
    {
        <tr id="row @item.PatientId">
            <td>
                <a href='javascript:;' onclick="ViewPatientHistory('@item.PatientId')">@item.PatientFirstName &nbsp;@item.PatientLastName</a> &nbsp;           
                @if (!string.IsNullOrEmpty(item.Phone.Trim()))
                {
                    <a href="tel:@item.Phone" id="aptPhone"><span>tel:(@item.Phone)</span></a>
                }
                @*tel:(<a href="tel:@item.Phone" id="aptPhone">@item.Phone</a>)*@
            </td>
            <td> @item.PatientAge</td>
            <td><a href='javascript:;' onclick="ViewProfile('@item.DoctorId')">@item.DoctorName</a></td>
            <td><a href='javascript:;' onclick="ViewPatientHistory('@item.PatientId')">@item.Alert</a></td>
            @*<td>@item.AppointmentType</td>
                <td>@item.AppointmentDate</td>*@
            <td>@item.LastHygieneDate</td>
            <td>@item.HygieneType</td>
            <td>@item.NextAppointmentType</td>
            <td>
                @item.NextAppointmentDate
            </td>
            <td>@item.LastAppointmentDate</td>
        </tr>
    }
}
else
{

    <tr><td colspan="9" class="text-align-center">No Record Found</td></tr>
}
<script>
    $(document).ready(function () {
        $("#aptPhpne").mask({ mask: '(999) 999-9999' });        
    });
    
</script>