﻿@{
    ViewBag.Title = "PatientNote";
    Layout = "~/Views/Shared/SiteLayoutInner.cshtml";
}
<div class="content_base">
    <!-- Breadcrumb starts-->
    <div class="breadcrumb">
        <ul>
            <li>
                <a href="/Index">
                    <img width="16" height="14" alt="Home" src="../../Content/images/home-icon.png;" class="hires">
                </a><span class="after"></span>
            </li>
            <li><span class="before"></span><a href="/ViewReports">Patient Notes</a><span class="after"></span> </li>
            <li class="active">
                <span class="before"></span><a href="/Patients/ReferralHistory">
                    Patient Notes
                </a><span class="after"></span>
            </li>
        </ul>
        <div id="divSearchtextshow"></div>
    </div>
    <div class="inner">
        <div id="divReferralHistory">
            <div class="table_data reports_ref_received clearfix">
                <h5>
                    Patient Notes
                </h5>
                <div class="clear">
                </div><table cellspacing="0" cellpadding="0" border="0" class="responsiveTable">
                    <thead>
                        <tr>
                            <th><a id="AppColumn1" onclick="ShortColumn('AppColumn1')" sort-col="1" sort-dir="1" class="sortable" href="Javascript:;">Date</a></th>
                            <th><a id="AppColumn2" onclick="ShortColumn('AppColumn2')" sort-col="2" sort-dir="1" class="sortable" href="Javascript:;">PatientName</a></th>
                            <th><a id="AppColumn3" onclick="ShortColumn('AppColumn3')" sort-col="3" sort-dir="1" class="sortable" href="Javascript:;">Notes</a></th>
                        </tr>
                    </thead>
                    <tbody data-sortirection="2" data-sortcolumn="1" id="PartialViewOfPatientNotes"></tbody>
                </table>
            </div><div class="clear"></div>
        </div>
    </div>
    <!-- Inner Content Ends -->
</div>
<input type="hidden" name="PageIndex" id="PageIndex" value="2" />
<input type="hidden" name="currentSortCol" id="currentSortCol" value="1" />
<input type="hidden" name="SortDirct" id="SortDirct" value="2" />
<input type="hidden" name="PageSizeSet" id="PageSizeSet" value="10" />
<script>
    function LoadPartialView(PageSize, PageIndex, ShortColumn, ShortDirection) {
        var Url = '@Url.Action("PatientNotepartial", "ViewReports")?PageSize=' + PageSize + '&PageIndex=' + PageIndex + '&ShortColumn=' + ShortColumn + '&ShortDirection=' + ShortDirection;
        $('#PartialViewOfPatientNotes').load(Url);
    }
    function LoadPartialViewOnSCroll(PageSize, PageIndex, ShortColumn, ShortDirection) {
        var Url = '@Url.Action("PatientNotepartialOnScroll", "ViewReports")?PageSize=' + PageSize + '&PageIndex=' + PageIndex + '&ShortColumn=' + ShortColumn + '&ShortDirection=' + ShortDirection;
        if (PageIndex == 0) {
            return false;
        }

        $.ajaxSetup({ async: false });

        $.post(Url, function (data) {
            if (data == "1") {
                $("#PartialViewOfPatientNotes").append("<tr><td colspan='3' style='text-align:center'>No more records found</td></tr>");
                $("#PageIndex").val(0);
                
            }else
            {
                $("#PartialViewOfPatientNotes").append(data);
            }
        });
        $("#divLoading").hide();
        $.ajaxSetup({ async: true });

    }
    $(document).ready(function () {
        var pagesize = $("#PageSizeSet").val();
        var sortdirct = $("#SortDirct").val();
        var sortCol = $("#currentSortCol").val();
        LoadPartialView(pagesize, 1, sortCol, sortdirct);
    });

    function HandelPaging() {
        var pagesize = $("#PageSizeSet").val();
        var pageindex = $("#PageIndex").val();
        var sortCol = $("#currentSortCol").val();
        var sortDir = $("#SortDirct").val();
        if (pageindex == 0) {
            return false;
        }
        $("#PageIndex").val((parseInt(pageindex, 10) + 1));
        LoadPartialViewOnSCroll(pagesize, pageindex, sortCol, sortDir);

    }

    function ShortColumn(ColId) {

        var SortCol = $("#" + ColId).attr('sort-col');
        var Sortdir = $("#" + ColId).attr('sort-dir');

        $("#currentSortCol").val(SortCol);
        $("#SortDirct").val(Sortdir);

        if (Sortdir == 1) {
            $("#" + ColId).attr('sort-dir', 2);
        } else {
            $("#" + ColId).attr('sort-dir', 1);
        }
        var pagesize = $("#PageSizeSet").val();
        $("#PageIndex").val(2);
        LoadPartialView(pagesize, 1, SortCol, Sortdir);
    }


    $(function () {

        var bindScrollHandler = function () {
            $(window).scroll(function () {
                if ($(window).scrollTop() + $(window).height() > $(document).height() - 150) {
                    $(window).unbind("scroll");
                    HandelPaging();
                    bindScrollHandler();
                }
                else {
                }
            });
        }
        bindScrollHandler();
    });


</script>
