﻿@model List<BO.ViewModel.PatientReward>
@{
    ViewBag.Title = "PatientRewards";
    Layout = "~/Views/Shared/SiteLayoutInner.cshtml";
}


<div class="content">
    <div class="content_base">
        <div id="divAppointmentPatient">
            <div class="inner">
                <div class="table_data reports_ref_received clearfix itemconfiguration">
                    <h5>Patient Rewards Report</h5>
                    <div class="clear"></div>
                    <table cellspacing="0" cellpadding="0" border="0" class="responsiveTable">
                        <thead>
                            <tr>
                                <th><a class="sortable" id="AppColumn1" onclick="ShortColumn('AppColumn1')" sort-col="1" sort-dir="1">Patient Name</a></th>
                                <th><a class="sortable" id="AppColumn2" onclick="ShortColumn('AppColumn2')" sort-col="2" sort-dir="1">DOB</a></th>
                                <th>Treatment</th>
                                <th>Recare</th>
                                <th>Referrals</th>
                                <th>Total Points</th>
                            </tr>
                        </thead>
                        <tbody id="PatientList">
                            @Html.Partial("View")
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" value="1" id="PageIndex" />
<input type="hidden" name="name" id="" value="" />
<input type="hidden" name="currentSortCol" id="currentSortCol" value="1" />
<input type="hidden" name="SortDirct" id="SortDirct" value="1" />
<form action="/Patients/PatientHistory#planes" method="post" id="frmPatientHistory">
    <input type="hidden" name="hdnViewPatientHistory" id="hdnPatientHistory" />
</form>
<form action="/Patients/PatientHistory" method="post" id="frmViewPatientHistory">
    <input type="hidden" name="hdnViewPatientHistory" id="hdnViewPatientHistory" />
</form>
<script type="text/javascript">
    $(function () {
        var bindScrollHandler = function () {
            $(window).scroll(function () {
                if ($(window).scrollTop() + $(window).height() > $(document).height() - 150) {
                    $(window).unbind("scroll");
                    GetPatientRewardList();
                    bindScrollHandler();
                }
                else {
                }
            });
        };

        bindScrollHandler();
    });
    function GetPatientRewardListonSort() {
        var Obj = {};
        Obj = {
            'PageIndex': 1,
            'PageSize': 50,
            'SortColumn': $("#currentSortCol").val(),
            'SortDirection': $("#SortDirct").val()
        }
        $.ajax({
            url: '@Url.Action("PatientRewardList", "ViewReports")',
            data: Obj,
            type: "post",
            async: false,
        }).done(function (data) {
            $("#PatientList").html(data);
            $("#PageIndex").val(1);
        }).fail(function () {
            if (typeof (error) == "function") {
                error();
            }
        });
    }
    function GetPatientRewardList() {
        if ($("#norecord").length > 0) {
            $("#PageIndex").val(-1);
        }
        var PageIndex = $("#PageIndex").val();
        if (PageIndex != '-1') {
            PageIndex = parseInt(PageIndex) + parseInt(1);
        }
        else {
            return false;
        }
        var Obj = {};
        Obj = {
            'PageIndex': PageIndex,
            'PageSize': 50,
            'SortColumn': $("#currentSortCol").val(),
            'SortDirection': $("#SortDirct").val()
        }
        $.ajax({
            url: '@Url.Action("PatientRewardList", "ViewReports")',
            data: Obj,
            type: "post",
            async: false,
        }).done(function (data) {
                $("#PatientList").append(data);
                $("#PageIndex").val(parseInt(PageIndex));
        }).fail(function () {
            if (typeof (error) == "function") {
                error();
            }
        });
    }
    function ShortColumn(ColId) {
        var SortCol = $("#" + ColId).attr('sort-col');
        var Sortdir = $("#" + ColId).attr('sort-dir');

        $("#currentSortCol").val(SortCol);
        $("#SortDirct").val(Sortdir);

        if (Sortdir == 1) {
            $("#" + ColId).attr('sort-dir', 2);
        } else {
            $("#" + ColId).attr('sort-dir', 1);
        }
        GetPatientRewardListonSort();
    }
    function ViewPatientHistory(PatientId) {
        $('#hdnViewPatientHistory').val(PatientId);
        $("#frmViewPatientHistory").submit();
    }
    function PatientHistory(PatientId) {
        $('#hdnPatientHistory').val(PatientId);
        $("#frmPatientHistory").submit();
    }
</script>