﻿@model BO.ViewModel.DentistRatingModel

@{
    ViewBag.Title = "Recordlinc - Rating Report";
    Layout = "~/Views/Shared/_NewSiteLayoutInner.cshtml";
    var Message = TempData["Message"];
    if (!string.IsNullOrEmpty(Convert.ToString(TempData["Message"])))
    {
        TempData["Message"] = string.Empty;
    }
    string page = !string.IsNullOrEmpty(Request.QueryString["page"]) ? Request.QueryString["page"] : "1";
}

@section Styles {
    <link rel="stylesheet" type="text/css" href="~/Content/css/NewAdmin/css/jcf.css" />
}
<script src="~/Scripts/JS/jcf.js"></script>
<link type="text/css" rel="stylesheet" href="~/Content/css/Main/css/jquery.rateyo.css" />
<input type="hidden" name="PageIndex" id="pageIndex" value="1" />
<input type="hidden" id="hdddlsorting" value="1,1" />
<input type="hidden" id="hdddlviewonly" value="0" />
<main id="main" role="main">
    <div class="container">
        <form action="#" class="reviews">
            <h3>Reviews</h3>
            <div class="row top-header">
                <div class="left-col">
                    <div class="all-select">
                        <input type="checkbox" class="checkedAll">
                    </div>
                    <div class="filter-holder">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle stats-btn" type="button" data-toggle="dropdown"><span id="btnViewOnly">View only</span><i class="fa fa-angle-down"></i></button>
                            <ul class="dropdown-menu dropdown-select" id="StatusList">
                                    <li><a data-id="0" >Pending</a></li>
                                    <li><a data-id="1" >Approved</a></li>
                                    <li><a data-id="2" >Deleted</a></li>
                                </ul>
                        </div>
                    </div>
                    <div class="filter-holder">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle stats-btn" type="button" data-toggle="dropdown"><span id="btnSortBy">Sort by</span><i class="fa fa-angle-down"></i></button>
                            <ul class="dropdown-menu dropdown-select" id="SortFieldList">
                                    <li><a data-id="1,1">Date(ASC)</a></li>
                                    <li><a data-id="1,2">Date(DESC)</a></li>
                                    <li><a data-id="3,1">Name(ASC)</a></li>
                                    <li><a data-id="3,2">Name(DESC)</a></li>
                                    @*<li><a data-id="4,1">Email(ASC)</a></li>
                                    <li><a data-id="4,2">Email(DESC)</a></li>*@
                                    <li><a data-id="5,1">Rating(ASC)</a></li>
                                    <li><a data-id="5,2">Rating(DESC)</a></li>
                                </ul>
                        </div>
                    </div>
                    <div class="compose-holder">
                        <a href="javascript:void(0)" id="btnapprove" class="compose-btn approvebtn" onclick="ApproveRating()">
                            <span class="indent">Approve</span>
                            <span class="ico-approve"></span>
                        </a>
                    </div>
                    <div class="remove-holder">
                        <a href="javascript:void(0)" id="btndelete" onclick="DeleteRating()" class="remove-btn deletebtn"><i class="ico-delete"></i></a>
                    </div>
                </div>
            </div>
            <div id="ReportList">
                @if (Model.ratingList.Count > 0)
            {
                    @Html.Partial("_RatingList", Model)
                }
                else
                {
                    <center><br />No record found</center>
                }
            </div>
            @*<div class="row">
                <div class="bottom-footer">
                    <div class="col-lg-6 align-left">
                        <div class="show-page">1- 147 / 250</div>
                    </div>
                </div>
            </div>*@
        </form>
    </div>
</main>
@section scripts{
    <script type="text/javascript" src="~/Scripts/jquery.rateyo.js"></script>
    <script type="text/javascript" src="~/Scripts/ControllerJS/Rating/Rating.js"></script>
}
<script>
    $(document).ready(function () {
        if ($.trim("@Message").length != 0) {
            swal({
                title: "Successfully",
                text: "@Message",
                type: "",
                timer: 2000,
                showConfirmButton: false
            });
        }
    });
</script>
