﻿@using PagedList.Mvc;
@model PagedList.IPagedList<NewRecordlinc.Models.Patients.PatientDetailsOfDoctor>
@{
    ViewBag.Title = "RequestiLuvMyDentist";
    Layout = "~/Views/Shared/SiteLayoutInner.cshtml";
}
<style>
    .pagination-container ul li {
        width: 100px;
        display: inline;
    }

        .pagination-container ul li a {
            width: 100px;
            padding: 4px 10px;
            border: 1px solid #ccc;
            margin: 1px;
        }

    .pager {
        margin-top: 25px;
    }

    .pagination-container {
        height: 40px;
        margin: 10px;
    }

    label {
        padding-right: 5px;
        padding-left: 15px;
    }

    .top-title {
        margin-top: 12px;
        float: left;
    }
</style>
<div class="content">
    <div class="content_base">
        <div id="divAppointmentPatient">
            <div class="inner">
                <div class="table_data reports_ref_received clearfix">
                    <h5>Request for I Love my Dentist Report</h5>
                    <div class="search_fields" style="float:left;width:50%;">
                        <div class="top-title">
                            <label>Send mail for selected patient :</label>
                        </div>
                        <div class="top-title" style="margin-top: 8px;">
                            <input class="frmSendEmail" onclick="multiselected()" name="Save" value="Save" style="margin-top:0px;" type="button" />
                        </div>
                    </div>
                    <div class="search_fields" style="float:right;width:50%;">
                        <div class="accnt_settings">
                            <div class="top-title">
                                <label>Request for all Patient :</label>
                            </div>
                            <div class="top-title" style="margin-top: 8px;">
                                <input class="frmSendEmail" name="Save" value="Save" id="btnsave" style="margin-left:20px;" type="submit">
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <table cellspacing="0" cellpadding="0" border="0" class="responsiveTable">
                        <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" name="multy" value="" id="multichecked" />
                                </th>
                                <th>LastName</th>
                                <th>FirstName</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Sent Count</th>
                                <th>Last Sent Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="tblRequest">
                            @for (int i = 0; i < Model.Count; i++)
                            {
                                if (!string.IsNullOrWhiteSpace(Model[i].Email))
                                {
                                    <tr>
                                        <td>
                                            <input type="checkbox" class="Ischecked" id="PatientId" name="patient" value="@Model[i].PatientId" />
                                        </td>
                                        <td>
                                            <input type="hidden" name="Patientid" id="PatientId_@Model[i].PatientId" value="@Model[i].PatientId" />
                                            <input type="hidden" name="PatientName" id="PatientName_@Model[i].FirstName" value="@Model[i].FirstName" />
                                            <input type="hidden" name="PatientEmail" id="PatientEmail_@Model[i].Email" value="@Model[i].Email" />
                                            <a href='javascript:;' onclick="ViewPatientHistory(@Model[i].PatientId)">@Model[i].LastName</a>
                                        </td>
                                        <td>
                                            <a href='javascript:;' onclick="ViewPatientHistory(@Model[i].PatientId)">@Model[i].FirstName</a>
                                        </td>
                                        <td>
                                            <a href="mailto:@Model[i].Email">@Model[i].Email</a>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(t => Model[i].Phone)
                                        </td>
                                        <td>
                                            @Model[i].MailCount
                                        </td>
                                        <td>
                                            @Model[i].LastSentDate
                                        </td>
                                        <td>
                                            <input class="frmSendEmail" onclick="submiteform('@Model[i].PatientId','@Model[i].FirstName','@Model[i].Email')" name="Save" value="Save" style="margin-top:0px;" type="button" />
                                        </td>
                                    </tr>
                                    @Html.HiddenFor(m => Model[i].PatientId)
                                    @Html.HiddenFor(m => Model[i].FirstName)
                                    @Html.HiddenFor(m => Model[i].Email)
                                }
                            }
                            <tr>
                                <td colspan="7" style="text-align:center;">
                                    <span>Send mail for selected patient :</span>
                                    <input class="frmSendEmail" onclick="multiselected()" name="Save" value="Save" style="margin-top:0px;margin-left:45%;" type="button" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    @if (Model.PageCount > 1)
                    {
                        <div id='Paging' style="text-align:center; border:none" class="pager">
                            @Html.PagedListPager(Model, page => Url.Action("RequestiLuvMyDentist", "ViewReports", new { page }))
                        </div>
                    }
                    else
                    {
                        <div id='Paging' style="text-align:center;" class="pager">
                            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                            of @Model.PageCount
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<form action="~/Patients/PatientHistory" method="post" id="frmViewPatientHistory">
    <input type="hidden" name="hdnViewPatientHistory" id="hdnViewPatientHistory" />
</form>
<script type="text/javascript">
    function ViewPatientHistory(PatientId) {
        $('#hdnViewPatientHistory').val(PatientId);
        $("#frmViewPatientHistory").submit();
    }
    function submiteform(Id, Name, Email) {
        var Obj = {};
        Obj = {
            'PatientEmail': Email,
            'PatientName': Name,
            'PatientId': Id
        }
        if (Email == "" || Email == null) {
            swal({ title: "", text: "This patient doesn't have email address so we can't send a request email" })
            return false;
        }
        else {
            $.ajax({
                type: "POST",
                url: "/Reports/SendRequestToPatient",
                data: Obj,
                success: function (response) {
                    swal({
                        title: "Successfully",
                        text: "Request send successfully",
                        type: "",
                        timer: 2000,
                        showConfirmButton: false
                    });
                },
                failure: function (response) {
                },
                error: function (response) {
                }
            });
        }
    }
    function multiselected() {
        var PatientIds = [];
        if ($(".Ischecked:checked").length > 0) {
            PatientIds = $(".Ischecked:checked").map(function () { return this.value; }).get()
            $.ajax({
                type: "POST",
                url: "/Reports/SendRequestToSelectedPatient",
                data: { PatientIds: PatientIds},
                success: function (response) {
                    swal({
                        title: "Successfully",
                        text: "Request send successfully",
                        type: "",
                        timer: 2000,
                        showConfirmButton: false
                    });
                },
                failure: function (response) {
                },
                error: function (response) {
                }
            });
        }
        else {
            swal({ title: "", text: "Please select at-least one patient to send LUV request." })
        }
    }
    $("#multichecked:checkbox").live('click', function (event) {
        $(".Ischecked").prop("checked", $(this).prop("checked"));
    });
    $("#btnsave").on('click', function () {
        $.ajax({
            type: "POST",
            url: "/Reports/SendRequestToAllPatient",
            success: function (response) {
                swal({
                    title: "Successfully",
                    text: "Request send successfully",
                    type: "",
                    timer: 2000,
                    showConfirmButton: false
                });
            },
            failure: function (response) {
            },
            error: function (response) {
            }
        });
    })
</script>