﻿@model BO.ViewModel.ResponseMessages

@if (Model != null)
{
    if (!string.IsNullOrWhiteSpace(Model.EmailRequired))
    {

        <div class="alert alert-warning">
            @Model.EmailRequired
        </div>
    }
    if (!string.IsNullOrWhiteSpace(Model.FailInvite))
    {

        <div class="alert alert-danger">
            @Model.FailInvite
        </div>
    }

    if (!string.IsNullOrWhiteSpace(Model.XlsError))
    {

        <div class="alert alert-warning">
            @Model.XlsError
        </div>
    }
    @*if (!string.IsNullOrWhiteSpace(Model.YourSelfInvite))
        {

            <div class="alert alert-warning">
                @Model.YourSelfInvite
            </div>
        }*@

if (Model != null && Model.objListResponseEmail != null)
{
    var invited = Model.objListResponseEmail.Where(m => m.Id == 1).ToList();
    if (invited != null && invited.Count > 0)
    {
        <table class="table table3 table-hover">
            <thead>
                <tr>
                    <th>Email</th>
                    <th >Message</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in invited)
                {

                    <tr class="success">
                        <td>@item.EmailId</td>
                        <td align="center">Invited Successfully</td>
                    </tr>
                }
            </tbody>
        </table>
    }


    var ColleaguesEmailNoExist = Model.objListResponseEmail.Where(m => m.Id == 5).ToList();
    if (ColleaguesEmailNoExist != null && ColleaguesEmailNoExist.Count > 0)
    {
        <table class="table table3 table-hover">
            <thead>
                <tr>
                    <th>Email</th>
                    <th >Message</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in ColleaguesEmailNoExist)
                {

                    <tr>
                        <td>@item.EmailId</td>
                        <td align="center">This user does not exist in our system.</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    var Colleagues = Model.objListResponseEmail.Where(m => m.Id == 2).ToList();
    if (Colleagues != null && Colleagues.Count > 0)
    {
        <table class="table table3  table-hover">
            <thead class="thead-inverse">
                <tr>
                    <th>Email</th>
                    <th >Message</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Colleagues)
                {

                    <tr class="trcolleague">
                        <td>@item.EmailId</td>
                        <td align="center">This user already your colleague.</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    var StaffMember = Model.objListResponseEmail.Where(m => m.Id == 3).ToList();
    if (StaffMember != null && StaffMember.Count > 0)
    {
        <table class="table table3 table-hover ">
            <thead class="thead-inverse">
                <tr>
                    <th>Email</th>
                    <th >Message</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in StaffMember)
                {
                    <tr class="trcolleague">
                        <td>@item.EmailId</td>
                        <td align="center">This is a staff member so you can't add as Colleague.</td>
                    </tr>
                }
            </tbody>
        </table>

    }
    var SelfInvite = Model.objListResponseEmail.Where(m => m.Id == 4).ToList();
    if (SelfInvite != null && SelfInvite.Count > 0)
    {
        <table class="table table3 table-hover">
            <thead class="thead-inverse">
                <tr>
                    <th>Email</th>
                    <th align="left">Message</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in SelfInvite)
                {
                    <tr class="trcolleague">
                        <td>@item.EmailId</td>
                        <td align="center">This Email Id Is your so can't invite yourself.</td>
                    </tr>
                }
            </tbody>
        </table>
    }

}
<div class="btn-group btn-holder">
    <button id="InviteMore" type="button" class="btn btn-default btn2 blue-bg mrgn-right-0" onclick="return InviteMoreColleagues();"><i class="ico-send1"></i>Invite More Colleagues</button>
    @*<a href="javascript:;" class="btn btn-default btn-primary" onclick="return ValidateEmail()" id ="Sendinvitebtn"><i class="ico-send1"></i>Send invite</a>*@
</div>
}





