﻿@model List<NewRecordlinc.Models.Colleagues.SearchColleagueForDoctor>

@if (Model.Count > 0)
{
    @*<input type="hidden" value="@Model.Count" id="mdlcount" />*@
    foreach (var item in Model)
    {
        <div class="col col-lg-4 col-md-6 col-sm-6 col-xs-6 search-field-section">
            <div class="search-field-section-inner-wrap" id="row_@item.UserId" style="min-height: 220px;">
                <div class="img-box">
                    <a target="_blank" href="/Profile/Index?DoctorId=@item.UserId">
                        <img src="@item.ImageName" alt="@((item.FirstName != string.Empty && item.FirstName != null ? item.FirstName + " " : string.Empty) + (item.LastName != string.Empty && item.LastName != null ? item.LastName : string.Empty))">
                    </a>
                </div>
                <div class="text-box">
                    <div class="colleague-info">
                        <a class="whichkey" target="_blank" href="/Profile/Index?DoctorId=@item.UserId"><p class="title"><strong>@item.FirstName &nbsp; @item.LastName</strong></p></a>
                        <p>@item.OfficeName</p>
                        <p>@item.Specialities</p>
                        <p>@(item.City != string.Empty && item.City != null ? item.City + ", " : string.Empty)  &nbsp; @item.State &nbsp;(@((item.Miles) + "Miles" ))</p>
                    </div>
                    <div class="btn-group btn-holder">
                        <a href="javascript:;" onclick="AddColleagues(@item.UserId)" class="btn btn-default btn1"><i class="add_dentist_icon"></i>Add Colleague</a>
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    <div class="col-lg-12 ">
        <div class="row fve_button">
            <center><span id="no_more">No more record found.</span></center>
        </div>
    </div>
}

