﻿@model List<BO.ViewModel.AddressDetails>
@* Colleague *@
<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
        @*<form role="form" action="#">*@
        <div class="modal-header blue-bg">
            <button type="button" class="close close-circle" data-dismiss="modal">&times;</button>
            <h3 class="modal-title white" id="refer_heading">Select Patient to Refer</h3>
        </div>
        <div class="modal-body">
            <div class="referral-block">
                <div class="form-referral">
                    <div class="col-sm-12 col-xs-12 mrgn-btm-20">
                        <div class="input-holder form-group" id="Patient_Block">
                            <input class="form-control" type="search" onfocus="if (this.value =='Find patient to refer...') {this.value = '';}" id="txtSearchPatient" onkeyup="SearchPatientOnKeyup()" onblur="if (this.value == '') {this.value = 'Find patient to refer...';}" placeholder="Find patient to refer...">
                            <button class="search-btn" id="SearchBtnHide" onclick="SearchPatient()" ><i class="icon-search"></i></button>
                        </div>
                    </div>
                </div>
                <div class="list-holder jcf-scrollable">
                    <ul class="referral-list">
                         @if (Model.Count > 0)
                         {
                             foreach (var item in Model)
                             {
                                 if (Model.Count == 1)
                                 {
                                     <input type="hidden" value="@item.AddressInfoID" id="SingleLocationId" />
                                 }
                                 else
                                 {
                                   
                                    <li class="@item.AddressInfoID">
                                        <input type="hidden" value="0" id="SingleLocationId" />
                                        <a href="javascript:;" id="SelectLocation" data-colleagueId="@item.AddressInfoID" onclick="SelectLocation(@item.AddressInfoID)" style="height: 133px;">
                                            <div class="img-holder">
                                                <span class="tick" id="@item.AddressInfoID" onclick="CheckThis(@item.AddressInfoID)"></span>
                                            </div>
                                            <div class="txt-box">
                                                <div class="txt-holder">
                                                    <strong>@item.Location</strong>
                                                    @{
                                                        string ExactAddress = (!string.IsNullOrWhiteSpace(item.ExactAddress)) ? item.ExactAddress + ", " : "";
                                                        string City = (!string.IsNullOrWhiteSpace(item.City)) ? item.City + ", " : "";
                                                        string State = (!string.IsNullOrWhiteSpace(item.State)) ? item.State + ", " : "";
                                                        string ZipCode = (!string.IsNullOrWhiteSpace(item.ZipCode)) ? item.ZipCode : "";
                                                    }
                                                    <span style="margin: 0 0 0px;">@ExactAddress</span>
                                                    <span style="margin: 0 0 0px;">@item.City @State @ZipCode</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                             }

                                  }
                       }
                     </ul>
                </div>
            </div>
        </div>
        <div class="modal-footer bdr-top-no btn-group btn-holder">
            <button type="button" class="btn btn-default btn1" data-dismiss="modal" onclick="ResetFields()"><i class="ico-corss2"></i><i class="ico-cross2"></i>Cancel</button>
            <button type="button" id="btn_send_Patient" class="btn btn2 btn-default blue-bg" onclick="PatientReferralSend()"><i class="fa fa-arrow-right"></i>Next</button>
            <button type="button" id="btn_send_clg" class="btn btn2 btn-default blue-bg "  style="display:none;" onclick=" ReferralSend()"><i class="fa fa-arrow-right"></i>Next</button>
           

        </div>
        @*</form>*@
    </div>
</div>
