﻿@model List<NewRecordlinc.Models.Patients.PatientDetailsOfDoctor>

@if (Model.Count > 0)
{
    foreach (var item in Model)
    {
        <li class="@item.PatientId">
            <a href="javascript:;" id="SelectPatient" data-patientId="@item.PatientId" data-toggle="modal" onclick="SelectPatient(@item.PatientId)">
                <div class="img-holder">
                    <img src="@item.ImageName" alt="user name">
                    <span class="tick" id="@item.PatientId" onclick="CheckThis(@item.PatientId)"></span>
                </div>
                <div class="txt-box">
                    <div class="txt-holder">
                        <strong>@item.FirstName&nbsp;@item.LastName</strong>
                    </div>
                </div>
            </a>
        </li>
    }
}
else
{
    @*<li><center>No more record found.</center></li>*@
    <div style="letter-spacing: 0px;"><center>No more record found.</center></div>
}