﻿@model List<BO.ViewModel.ColleagueDetails>
@{ string Address = string.Empty;}
@if (Model.Count > 0)
{
    foreach (var item in Model)
    {

        <tr id="row_@item.ColleagueId" class="trcolleague">
            <td>
                <div class="all-select " style="margin: 16px auto;">
                    <div class="form-group">
                        <input type="hidden" name="hdnViewProfile" id="hdnViewProfile" value="@item.ColleagueId" />
                        <input class="form-control checkSingle" type="checkbox" id="checkcolleague" onclick="UncheckMaincheckBox('checkall')" value="@item.ColleagueId" style="margin:-7px 12px 0px">
                    </div>
                </div>
            </td>
            <td data-th="Profile Info" class="infouser">
                <span class="user"><a href="javascript:;" onclick="ViewProfile(@item.ColleagueId)"><img src="@item.ImageName" alt="@item.LastName, @item.FirstName" width="50" height="50"></a></span>
                @{
                    var name = (!string.IsNullOrWhiteSpace(item.LastName)) ? item.LastName + ", " + item.FirstName : item.FirstName;
                }
                <span class="left">
                    <a href="javascript:;" onclick="ViewProfile(@item.ColleagueId)">@name</a><br>
                    @foreach (var specialty in item.lstSpeacilitiesOfDoctor)
                    {
                        @*<span>@specialty.SpecialtyDescription</span><br>*@
                        <a href="javascript:;" style="color:black;cursor:default;text-decoration: none;" >@specialty.SpecialtyDescription</a><br>
                    }
                </span>
            </td>
            <td data-th="Contact Info">
                @if (!string.IsNullOrWhiteSpace(item.Phone))
                {
                    <a href="tel:@item.Phone">@item.Phone</a><br>

                }
                @{ Address = (!string.IsNullOrWhiteSpace(item.ExactAddress)) ? item.ExactAddress + ", " : string.Empty;
                    Address += (!string.IsNullOrWhiteSpace(item.City)) ? item.City + ", " : string.Empty;
                    Address += (!string.IsNullOrWhiteSpace(item.State)) ? item.State + " " : string.Empty;
                    Address += (!string.IsNullOrWhiteSpace(item.ZipCode)) ? item.ZipCode : string.Empty;
                }
                @Address<br>
                @if (DataAccessLayer.Common.clsCommon.checkEmailDomain(item.EmailAddress))
                {
                    <a href="mailto:@item.EmailAddress">@item.EmailAddress</a>
                }                
            </td>
            <td data-th="Referrals Info">
                Received (<a href="Javascript:;" data-role="SearchInboxFromColleageReferrals" data-firstname="@item.FirstName" data-colleagueid="@item.ColleagueId"
                             data-email="@item.EmailAddress">@item.refferralreceived</a>) <br>

                            Sent (<a href="Javascript:;" data-role="SearchSentboxFromColleageReferrals" data-firstname="@item.FirstName" data-colleagueid="@item.ColleagueId"
                                     data-email="@item.EmailAddress">@item.referralsent</a>)
                                </td>
                                <td data-th="Actions">
                                    <div class="dropdown mrgn-right-15">
                                        <button class="btn btn-default dropdown-toggle stats-btn height34" type="button" data-toggle="dropdown">Select Action<i class="fa fa-angle-down"></i></button>
                                        <ul class="dropdown-menu dropdown-select icon-list">
                                            @*<li><a href="#"><i class="ico-msg"></i>New Plan</a></li>*@
                                            <li><a href="javascript:;" data-toggle="modal"  onclick="OpenSendReferralPopup(@item.ColleagueId)"><i class="ico-user-group"></i>Refer Patient</a></li>
                                            <li><a href="@Url.Action("ComposeMessage","Inbox",new { ColleaguesId = item.ColleagueId })"><i class="ico-send"></i>Send Mail</a></li>
                                            <li><a href="javascript:;" onclick="OpenDeleteForColleague(@item.ColleagueId)"><i class="ico-delete4"></i>Delete</a></li>
                                        </ul>
                                    </div>
                                </td>
                                <td class="align-middle">
                                    <div @*class="all-select"*@>@*Commented due to all has button are checked*@
                                        <center>
                                            <div class="form-group clshas_@item.ColleagueId">
                                                <input class="form-check-input" type="checkbox" id="checkhas_@item.ColleagueId" data-val="@item.ColleagueId" checked=@item.HasButton value="@item.HasButton" style="margin:-7px 12px 0px" onchange="EnableDisableButton(@item.ColleagueId)">
                                            </div>
                                        </center>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr style="text-align:center;">
                            <td colspan="6"><span id="nomore">No more record found!</span></td>
                        </tr>
                    }


<script src="~/Scripts/JS/jcf.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#count").text($("tr.trcolleague").length);
        $("#countMoblie").text($("tr.trcolleague").length);
    });
</script>