
@{
    ViewBag.Title = "Colleague";
    Layout = "~/Views/Shared/_NewSiteLayoutInner.cshtml";
}
<style>
    .colleagues .user a {
        width: 53px;
        height: 53px;
    }

    *.unselectable {
        -moz-user-select: -moz-none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
        user-select: none;
    }
</style>

<link href="~/Content/css/NewAdmin/css/jcf.css" rel="stylesheet" />

@*<ul class="adminUser_area list-inline" id="search_main">
        <hr class="for-res-as">
        <li class="search text-right">
            <div class="navbar-form " role="search">
                <div class="input-group">
                    <input type="text" name="srch-term" id="txtHdrSearchColleague" value='Search Colleague' class="ui-autocomplete-input" onfocus='ClearPlaceHolder(this)' onblur='SetPlaceHolder(this)' onkeyup='HdrSearchColleague(event)'>
                    <div class="input-group-btn">
                        <button class="btn btn-default" id="search_btn" type="button" onclick="OnSearchbtnClick()"><i class="icon-search"></i></button>
                    </div>
                </div>
            </div>
        </li>
        <hr class="for-res-as">
    </ul>*@
<main id="main" role="main">
    <div class="container">
        <div class="new-case case-overview patinet list_patients colleagues">
            <div class="row btm-margin-30  row-bordered referral">
                <div class="col-lg-12 ">
                    <div class="row fve_button">
                        <div class="col col-lg-4 col-md-5 col-sm-6 col-xs-6 col-lg-pull-8 col-md-pull-7 col-sm-pull-6 col-xs-pull-6 show-on-phones">
                            <h1 class="inline">Colleagues<span class="font-18 small-text">(<span id="countMoblie">0</span>)</span></h1>

                        </div>
                        <div class="col col-lg-8 col-md-7 col-sm-6 col-xs-6 col-lg-push-4 col-md-push-5 col-sm-push-6 col-xs-push-6 four">
                            @*<div class="btn-group">
                                    <a href="/Colleagues/InviteColleagues" class="btn-default btn-cases" title="Invite Colleague" data-toggle="tooltip" data-placement="bottom"><i class="ico-invite-colleague"></i>Invite Colleague</a>
                                </div>*@
                            <div class="btn-group">
                                <a href="/Colleagues/SearchColleagues" class="btn-default btn-cases" title="Add Colleague" data-toggle="tooltip" data-placement="bottom"><i class="ico-search-colleague"></i>Add Colleague</a>
                            </div>
                        </div>
                        <div class="col col-lg-4 col-md-5 col-sm-6 col-xs-6 col-lg-pull-8 col-md-pull-7 col-sm-pull-6 col-xs-pull-6 hide-on-phones">
                            <h1 class="inline">Colleagues<span class="font-18 small-text">(<span id="count">0</span>)</span></h1>

                        </div>
                    </div>
                </div>
            </div>
            @* Forms *@
            <form action="@Url.Action("Compose", "Inbox")" method="post" id="frmcompose">
                <input type="hidden" id="ColleagueId" name="ColleagueId" />
            </form>
            <form action="@Url.Action("Index", "Profile")" method="post" id="frmViewProfile">
                <input type="hidden" name="hdnViewProfile" id="hdnViewProfile" value="" />
            </form>
            <form action="/Patients/SentandReceivedPatient?Flag=1" method="post" id="getIdofcolleaguetosearchinbox">
                <input type="hidden" id="colleagueEmailForInboxsearch" name="Email" />
                <input type="hidden" id="ColleagueIdRecevied" name="ColleagueId" />
                <input type="hidden" id="IsReferralinbox" name="Referral" />
            </form>
            <form action="/Patients/SentandReceivedPatient?Flag=0" method="post" id="getIdofcolleaguetosearchsentbox">
                <input type="hidden" id="colleagueEmailForsentboxsearch" name="Email" />
                <input type="hidden" id="ColleagueIdSent" name="ColleagueId" />
                <input type="hidden" id="IsReferralsent" name="Referral" />
            </form>

            <form role="form" action="#">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="bar bar1">
                            <div class="dropdown blue-dropdwon latest_dropdown">
                                <select class="form-control" id="filterBy">
                                    <option value="1">First Name</option>
                                    <option value="12">Last Name</option>
                                    <option value="10">Email</option>
                                </select>
                            </div>
                            @Html.Partial("../Patients/_PartialAZCharacter listing")
                        </div>
                    </div>
                </div>
                <div class="row mrgn-btm-20" id="colleague_actons" style="visibility:hidden">
                    <div class="col-lg-12 btn-row">
                        <div class="btn-group btn-holder">
                            @*Need to add code of Jquery that send message to selected colleagues*@
                            <button type="button" id="editform_5" class="btn btn-default btn-delete" title="Send Message to Selected"><i class="ico-send-message-selected" style="margin:0px 0px 0px 0px;"></i></button>
                        </div>
                        <div class="btn-group btn-holder">
                            @*Need to Add Code of Jquery the delete the*@
                            <button type="button" id="btnMultipleDelete" class="btn btn-default btn-delete" title="Delete Selected"><i class="ico-delete" style="margin:0px 0px 0px 0px;"></i></button>
                        </div>
                        <div class="btn-group btn-holder pull-right">
                            @*Need to Add Code of Jquery the delete the*@
                            @*<button type="button" id="btnSaveHaseButton" class="btn btn-default btn2 blue-bg mrgn-right-0" onclick="SavehasButton();"><i class="ico-save"></i>Save</button>*@
                        </div>
                    </div>
                </div>
                <div class="row mrgn-btm-20">
                    <div class="col-lg-12">
                        <input type="hidden" id="hdnColleaguesIdForPopUp" />
                        <table class="table table3 filtered-table">
                            <thead class="thead-inverse">
                                <tr>
                                    <th>
                                        <div class="all-select" style="margin: -2px auto;">
                                            <div class="form-group">
                                                <input type="checkbox" class="form-control checkedAll" name="checkall" id="checkall" value="" onclick="SetAllCheckBoxes(this)" />
                                            </div>
                                        </div>
                                    </th>
                                    <th>
                                        Profile Info
                                    </th>
                                    <th>
                                        Contact Info
                                    </th>
                                    <th>
                                        Referrals Info
                                    </th>
                                    <th>Actions</th>
                                    <th>
                                        Has Button
                                        <input type="checkbox" class="form-control" name="checkall" id="checkallHas" value="" />
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="appendColleagues">
                                @*@Html.Action("ColleaguesList")*@
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
<div class="modal fade ReferPatient" id="ReferPatient" role="dialog" data-backdrop="static" data-keyboard="false">

</div>

<div class="modal fade" id="patient_delete" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center center">
                    <img class="mrgn-btm-20" id="ImageExcel" src="~/Content/css/NewAdmin/images/Delete_Popup.png" />
                    <p class="mrgn-btm-0" style="margin: 0;" id="desc_message"></p>
                </div>
                <div class="modal-footer bdr-top-no">
                    <div class="btn-group btn-holder">
                        <button type="button" class="btn btn-default btn1" id="btn_no" data-dismiss="modal">No</button>
                        <button type="button" class="btn btn-default btn2 blue-bg mrgn-right-0" id="btn_yes">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="colleage_delete" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center center">
                    <img class="mrgn-btm-20" id="ImageExcel" src="~/Content/css/NewAdmin/images/Delete_Popup.png" />
                    <p class="mrgn-btm-0" style="margin: 0;" id="desc_message_cd"></p>
                </div>
                <div class="modal-footer bdr-top-no">
                    <div class="btn-group btn-holder" id="btn-grp">
                        <button type="button" class="btn btn-default btn1" id="btn_no_cd" data-dismiss="modal">No</button>
                        <button type="button" class="btn btn-default btn2 blue-bg mrgn-right-0" id="btn_yes_cd">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="EnableDisableitem" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center center">
                    <p id="desc_enmessage" class="mrgn-btm-0" style="margin: 0;">Are you sure you want to enable Has Button?</p>
                    <p id="desc_dismessage" class="mrgn-btm-0" style="margin: 0;display:none;">Are you sure you want to disable Has Button?</p>
                </div>
                <div class="modal-footer bdr-top-no">
                    <div class="btn-group btn-holder">
                        <button type="button" class="btn btn-default btn1" id="btnno" data-dismiss="modal">No</button>
                        <a type="button" id="btnyes" class="btn btn-default btn2 blue-bg mrgn-right-0">Yes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="tbodyPageIndexColleague" value="1" />
<input type="hidden" id="search_listing_pageindex" value="1" />
@*<input type="hidden" name="HdnPageindex" id="HdnPageIndex" value="1" />*@
<input type="hidden" name="HdnPagesize" id="HdnPageSize" value="35" />
<input type="hidden" name="hdnsortcolumn" id="HdnSortColumn" value="12" />
<input type="hidden" name="hdnsortdirection" id="HdnSortDirection" value="1" />
<input type="hidden" id="hdnPatientId" />
<input type="hidden" id="hdnColleagueId" />
<input type="hidden" id="hdnlocationid" />
<input type="hidden" id="PatientPageIndex" value="1" />
@*<script src="~/Content/js/jcf.js"></script>
    <script src="~/Scripts/JS/jcf.js"></script>
    <script src="~/Content/js/jcf.scrollable.js"></script>
    <script src="~/Content/js/jcf_checkbox.js"></script>
    <script src="~/Content/js/jcf_new.js"></script>*@
<script type="text/javascript">

    $(document).ready(function () {
        GetPatientListByAtoZ('All');
        $('#search_colleague').show();
        //GetColleagueList();
        $('.alphabet > li ').click(function () {          
            if ($('.alphabet > li').hasClass('active')) {
                $('.alphabet > li').removeClass('active');
            }
            if ($(this).hasClass('active') > 0) {
                $(this).removeClass('active');
            } else {
                $(this).addClass('active');
            }
        });
        //-- Hardipsinh Jadeja :  Do not show top message and delete button until user selects at least one colleague. (Meeting notes with Travis)
        $(document).on("click", "input[type='checkbox'].checkSingle", function () {
            if ($(this).is(":checked")) {
                $("#colleague_actons").css('visibility', 'visible');
            }
            else if ($("input[type='checkbox'].checkSingle:checked").length == 0) {
                $("#colleague_actons").css('visibility', 'hidden');
            }
        });

        
    });

    //RM-287 Issue for Checkbox.
    //Checkbox functions
    function SetAllCheckBoxes(obj) {
        var c = new Array();
        c = document.getElementsByTagName('input');
        var selected = "";
        for (var i = 0; i < c.length; i++) {
            if (c[i].type == 'checkbox' && c[i].id == 'checkcolleague') {
                c[i].checked = obj.checked;
            }
        }

        if ($("input[type='checkbox'].checkSingle:checked").length > 0) {
            $("#colleague_actons").css('visibility', 'visible');
        } else {
            $("#colleague_actons").css('visibility', 'hidden');
        }
    }
    $("#checkallHas").on('click', function () {
        var colleaguesId = [];
        $("#appendColleagues .align-middle").find("input[type='checkbox']").each(function () {
            if ($("#checkallHas").prop('checked') == true) {
                $(this).attr('checked', true);
                $(".align-middle span").removeClass('jcf-unchecked').addClass('jcf-checked');
                colleaguesId.push($(this).data('val'));
            }
            else {
                $(this).removeAttr('checked', false);
                $(".align-middle span").removeClass('jcf-checked jcf-focus').addClass('jcf-unchecked');
                colleaguesId.push($(this).data('val'));
            }
        });
        if ($("#checkallHas").prop('checked') == true)
            UpdateHasButton(colleaguesId, true);
        else
            UpdateHasButton(colleaguesId, false);
    });
    function UpdateHasButton(ColleaguesId, IsEnable) {
        performAjax({
            url: "/Colleagues/UpdateHasButton",
            type: "post",
            data: { ColleaguesId: ColleaguesId, IsEnable: IsEnable },
            async: false,
            success: function (data) {
                $.toaster({ priority: 'success', title: 'Notice', message: 'Has Button Updated Successfully' });
            }
        })
    }
    function UncheckMaincheckBox(id) {
        document.getElementById(id).checked = false;
    }

    function GetColleagueList() {
        var PageIndex = $("#tbodyPageIndexColleague").val();
        var PageSize = $("#HdnPageSize").val();
        var sortcolumn = $("#HdnSortColumn").val();
        var sortdirection = $("#HdnSortDirection").val();
        common(PageIndex, PageSize, sortcolumn, sortdirection);
    }
    $(function () {
        var bindScrollHandler = function () {
            //RM-360 :Changes made for no scrolling issue at colleague.
            var win_hg = ($(window).height()) * 30 / 100;
                $(window).scroll(function () {
                if (parseInt($(window).scrollTop()) >= parseInt($(document).height() - $(window).height() - win_hg)) {


                    var PageIndex = $("#tbodyPageIndexColleague").val();
                    if (parseInt(PageIndex) == -1)
                    {
                        $(window).unbind("scroll");
                        $('#divLoading').hide();
                    }
                    if (parseInt(PageIndex) != -1 && $("#appendColleagues #nomore").length == 0) {
                        $(window).scrollTop($(window).scrollTop() - parseInt($(window).scrollTop() / 2))
                        GetColleaguesListOnScroll();
                    }
                    //bindScrollHandler();
                }
                else {

                }
            });
        };
        bindScrollHandler();
    });
    function GetColleaguesListOnScroll() {
        var PageIndex = $("#tbodyPageIndexColleague").val();
        if (PageIndex == "-1") {
            return "";
        } else {
            PageIndex = parseInt(PageIndex) + parseInt(1);

        }
        var PageSize = $("#HdnPageSize").val();
        var sortcolumn = $("#HdnSortColumn").val();
        var sortdirection = $("#HdnSortDirection").val();
        var SearchText = $('#txtHdrSearchColleague').val();
        common(PageIndex, PageSize, sortcolumn, sortdirection, $('#filterBy option:selected').val(), SearchText);
    }
    function common(PageIndex, PageSize, sortcolumn, sortdirection, filterBy, SearchText, NewSearchText) {
        if (SearchText == null || SearchText == '' || SearchText == 'Search Colleague') {
            SearchText = "";
        }
        else {
            SearchText = $('#txtHdrSearchColleague').val();
        }

        if (filterBy == null || filterBy == "") {
            filterBy = "";
        }
        var Obj = {
            'PageIndex': PageIndex,
            'PageSize': PageSize,
            'SearchText': SearchText,
            'SortColumn': sortcolumn,
            'SortDirection': sortdirection,
            'FilterBy': filterBy,
            'NewSearchText': "",
        }
        performAjax({
            url: "/Colleagues/ColleaguesListing",
            type: "post",
            data: { Obj: Obj },
            async: false,
            success: function (data) {
                var html = $("#appendColleagues").html();
                if (data != null && data != "" && html.indexOf("No more record found") < 0) {
                    $("#appendColleagues").append(data);
                    $("#tbodyPageIndexColleague").val(parseInt(PageIndex));
                }
                else {
                    //$("#appendColleagues").html("No record found!");
                    $("#tbodyPageIndexColleague").val(parseInt(-1));
                    return false;
                }

            }
        });
    }

    function ClearPlaceHolder(input) {
        if (input.value == input.defaultValue) {
            input.value = "";
        }
    }
    function SetPlaceHolder(input) {
        if (input.value == "") {
            input.value = input.defaultValue;
        }
    }

    //search Colleague
    function HdrSearchColleague(event) {

        if (event.keyCode == 13) {
            $("#HdnPageIndex").val();
            var message = $('#txtHdrSearchColleague').val();
            $("#divLoading").show();
            if (message != null && message != "") {
                $("#appendColleagues").html('');
                common(1, 35, 11, 2, '', message, '')
            }
            $("#divLoading").hide();
        } else {
            return true;
        }
    }

    function OnSearchbtnClick() {

        var pi = $('#tbodyPageIndexColleague').val();
        //if (pi == -1)
        //{
        //    return false;
        //}
        $("#HdnPageIndex").val();
        $('#search_btn').blur();
        $.ajaxSetup({ async: false });
        var message = $('#txtHdrSearchColleague').val();
        $("#divLoading").show();
        if (message != null && message != "") {
            $("#appendColleagues").html('');
            $.ajaxSetup({ async: false });
            common(1, 35, 12, 1, '', message, '')
            //$(window).scroll(function () {
            //    if (parseInt($(window).scrollTop()) >= parseInt($(document).height() - $(window).height() - 800)) {
            //        //$(window).unbind("scroll");
            //        var PageIndex = $("#tbodyPageIndexColleague").val();
            //        if (parseInt(PageIndex) == -1) {
            //            $(window).unbind("scroll");
            //        }
            //        if (parseInt(PageIndex) != -1 && $("#appendColleagues center").length == 0) {
            //            $(window).scrollTop($(window).scrollTop() - parseInt($(window).scrollTop() / 2))
            //             GetColleaguesListOnScroll();
            //        }
            //        //bindScrollHandler();
            //    }
            //    else {
            //    }
            //});
            bindScrollHandler();
        }
        $("#divLoading").hide();
    }



    //Alphabetic filter
    function GetPatientListByAtoZ(NewSearchText) {
        $.ajaxSetup({ async: false });

        var FilterBy = $('#filterBy option:selected').val();
        var SortColumn = "";
        if (SortColumn == null || SortColumn == 'undefined' || SortColumn == "") {
            SortColumn = 1;
        }
        var PageIndex = 1;
        var SearchText = null;
        var SortDirection = "1";
        //common(PageIndex, 35, SortColumn, SortDirection, FilterBy, SearchText, NewSearchText)
        var Obj = {
            'PageIndex': PageIndex,
            'PageSize': 35,
            'SearchText': SearchText,
            'SortColumn': SortColumn,
            'SortDirection': SortDirection,
            'FilterBy': FilterBy,
            'NewSearchText': NewSearchText
        }
        performAjax({
            url: "/Colleagues/ColleaguesListing",
            type: "post",
            data: { Obj: Obj },
            async: true,
            success: function (data) {
                if (data != null && data != "") {
                    $("#appendColleagues").html(data);
                    if (data.indexOf("found!") > -1) {
                        $("#HdnPageIndex").val(parseInt(-1));
                        $("#tbodyPageIndexColleague").val(parseInt(-1));
                    } else {

                        $("#HdnPageIndex").val(parseInt(PageIndex));
                    }
                }
                else {

                    $("#appendColleagues").append("No record found!");
                    $("#HdnPageIndex").val(parseInt(-1));
                    return false;
                }
            }
        });
    }

    //Send message to selected.

    $('#editform_5').on("click", function () {
        var MultipleDelete = null;
        var c = new Array();
        c = document.getElementsByTagName('input');
        for (var i = 0; i < c.length; i++) {
            if (c[i].type == 'checkbox' && c[i].id == 'checkcolleague' && c[i].checked == true) {
                if (MultipleDelete == null) {
                    MultipleDelete = c[i].value;
                }
                else {
                    MultipleDelete = MultipleDelete + ',' + c[i].value;
                }
            }
        }
        if (MultipleDelete == null) {
            //swal({ title: "", text: 'Please select at least one colleague' });
            $.toaster({ priority: 'warning', title: 'Notice', message: 'Please select at least one colleague' });
            $('#editform_5').attr('disabled', true);
            setTimeout(function () {
                $('#editform_5').attr('disabled', false);
            }, 4000);
            return false;
        }
        $("#ColleagueId").val(MultipleDelete)
        $("#frmcompose").submit();
    });

    //Send message to selected.
    $('#btnMultipleDelete').on("click", function () {
        var userlist = [];
        var MultipleDelete = null;

        var c = new Array();
        c = document.getElementsByTagName('input');

        for (var i = 0; i < c.length; i++) {
            if (c[i].type == 'checkbox' && c[i].id == 'checkcolleague' && c[i].checked == true) {

                if (MultipleDelete == null) {

                    MultipleDelete = c[i].value;
                }
                else {

                    MultipleDelete = MultipleDelete + ',' + c[i].value;
                }

            }
        }

        if (MultipleDelete == null) {
            //swal({ title: "", text: 'Please select at least one colleague' });
            $.toaster({ priority: 'warning', title: 'Notice', message: 'Please select at least one colleague' });
            $('#btnMultipleDelete').attr('disabled', true);
            setTimeout(function () {
                $('#btnMultipleDelete').attr('disabled', false);
            }, 4000);
            return false;
        }
        else {
            $('#patient_delete').modal('show');
            $('#btn_yes').show();
            $('#btn_no').text('No');
            $('#desc_message').text('Are you sure you want to remove?');
            $('#btn_yes').on('click', function () {
                $.post("/Colleagues/RemoveMutipleColleague",
                    { MultipleColleagueId: MultipleDelete }, function (data) {
                        if (data == "1") {
                            $('#patient_delete').modal('hide');
                            $.toaster({ priority: 'success', title: 'Notice', message: 'Colleagues removed successfully.' });
                            for (var i = 0; i < userlist.length; i++) {
                                $('#row_' + userlist[i]).remove();
                            }
                        }
                        else {
                            //swal({ title: "", text: 'Failed to remove  Colleague' });
                            $.toaster({ priority: 'danger', title: 'Notice', message: 'Failed to remove  Colleague' });

                        }
                    });

            })
            userlist = MultipleDelete.split(',');

            $.ajaxSetup({ async: true });
        }
    });
    //search Patient on Key Up
    var timer;
    function SearchPatientOnKeyup() {
        var ctrl = $("#txtSearchPatient");
        clearTimeout(timer);
        var ms = 500; // milliseconds
        timer = setTimeout(function () {
            OnkeypressPatientsearch(ctrl);
        }, ms);
    }

    function OnkeypressPatientsearch(ctrl) {
        var value = $(ctrl).val().toLowerCase().trim();
        // value = escape(value);
        if ($.trim(value).length == 0) {
            value = "";
        }
        $('#divLoading').show();
        $.ajaxSetup({ async: false });
        $.post("/Colleagues/NewSearchPatientFromItem",
            { SearchText: value }, function (data) {
                $('#divLoading').hide();
                $('.referral-list').html('');
                $('.referral-list').append(data);
            });

        $.ajaxSetup({ async: true });
        $(".referral-list").bind('scroll', function (event) {
            if ($(this).scrollTop() + $(this).innerHeight() >= $(this)[0].scrollHeight) {

                var data = SearchPatientLI().toString();
                $(this).append(data);
            }
        });

    }

    //search button code.
    function SearchPatient() {

        //document.getElementById('search_listing_pageindex').value = "1";
        var GetSearchText = null;
        if ($('#txtSearchPatient') == null) {
            GetSearchText = null;
        } else if ($('#txtSearchPatient').legnth == 0) {
            GetSearchText = null;
        }
        else {
            if ($('#txtSearchPatient').val() == "Find patient to refer...") {
                GetSearchText = null;
            }
            else {
                GetSearchText = $('#txtSearchPatient').val();
            }

        }
        $('#divLoading').show();
        $.ajaxSetup({ async: false });
        $.post("/Colleagues/NewSearchPatientFromItem",
            { SearchText: GetSearchText }, function (data) {
                $('#divLoading').hide();
                $('.referral-list').html('');
                $('.referral-list').append(data);
                //$('#OpenPatientListPopUp').click();
            });

        $.ajaxSetup({ async: true });
        $(".referral-list").bind('scroll', function (event) {

            if ($(this).scrollTop() + $(this).innerHeight() >= $(this)[0].scrollHeight) {
                var data = GetPatientByScroll().toString();
                $(this).append(data);
            }
        });
    }

    //SearchLI
    function SearchPatientLI() {
        $.ajaxSetup({ async: false });
        var GetSearchText = null; if ($("#txtSearchPatient").val() == null) {
            GetSearchText = null;
        } else if ($('#txtSearchPatient').length == 0) {
            GetSearchText = null;
        }
        else {
            if ($('txtSearchPatient').val() == "Find patient to refer...") {
                GetSearchText = null;
            }
            else {
                GetSearchText = $("#txtSearchPatient").val();
            }
        }

        var lidata = '';
        var strpageindex = $("#search_listing_pageindex").val();
        if (strpageindex == "-1") {
            return "";
        }
        else {

            strpageindex = parseInt(strpageindex) + parseInt(1);
            $("#search_listing_pageindex").val(strpageindex);


            $.post("/Colleagues/NewSearchPatientFromItem",
                { SearchText: GetSearchText, pageindex: strpageindex, pagesize: '30' }, function (data) {
                    if (data != null) {
                        if (data == '' || data.indexOf("Record Found") >= 0) {
                            $("#search_listing_pageindex").val('-1');
                        }
                        else {
                            $("#search_listing_pageindex").val(strpageindex);
                        }
                    }
                    lidata = data.toString();
                });
        }
        $.ajaxSetup({ async: true });
        return lidata;
    }
    //Method to check Colleague
    function SelectPatient(cid) {
        $(".referral-list > li").each(function () { $(this).removeClass('active'); });
        if ($("." + cid).hasClass('active')) {
            $("." + cid).removeClass('active');
        } else {
            $("." + cid).addClass('active');
            $('#btn_send_clg').attr("disabled", false);
            $("#hdnPatientId").val(cid);
        }
    }

    //Open Pop up Older Method
    function OpenSendReferralPopup(ColleagueId) {

        var SearchText = "";
        var PageIndex = $("#PatientPageIndex").val();
        if ($("#txtSearchPatient").val() == null) {
            GetSearchText = null;
        } else if ($('#txtSearchPatient').length == 0) {
            GetSearchText = null;
        }
        else {
            if ($('txtSearchPatient').val() == 'Find patient to refer...') {
                GetSearchText = null;
            }
            else {
                GetSearchText = $('txtSearchPatient').val();
            }
        }
        //$('#divLoading').show();
        $.ajax({
            url: "/Colleagues/LocationList",
            type: "POST",
            async: true,
            data: { UserId: ColleagueId },
            success: function (data) {
                $("#ReferPatient").html(data);
                var singlelocation = $("#SingleLocationId").val();
                if (singlelocation != 0) {
                    $("#ReferPatient").modal('show');
                    $("#hdnlocationid").val(0);
                    $("#hdnColleagueId").val(ColleagueId);
                    PatientReferralSend();
                }
                else {
                    $("#ReferPatient").modal('show');
                    //$("#ReferPatient").html(data);
                    $('#Patient_Block').hide();
                    $('#refer_heading').text('Select Location');
                    $("#hdnColleagueId").val(ColleagueId);
                }
            }
        })
    }

    // Method for Scrolling for Patients
    function GetPatientByScroll() {
        var datalist = '';
        $.ajaxSetup({ async: false });
        var PageIndex = $("#PatientPageIndex").val();
        var SearchText = $("#txtSearchPatient").val();
        if (PageIndex == "-1") {
            return "";
        } else {
            PageIndex = parseInt(PageIndex) + parseInt(1);
            $.ajax({
                url: '/Colleagues/NewGetPatientListForSendReferralPopUpLI',
                type: 'post',
                data: { pageIndex: PageIndex, SearchText: SearchText, pagesize: '30' },
                success: function (data) {
                    //alert(data);
                    if (data == '' || data.trim().indexOf("No more record found") >= 0 ) {
                        //$(".referral-list").html('');
                        $("#PatientPageIndex").val('-1');
                        //alert($("#PatientPageIndex").val());
                    }
                    else {
                        $("#PatientPageIndex").val(PageIndex);
                    }
                    datalist = data;
                }
            });
        }
        $.ajaxSetup({ async: true });
        return datalist;
    }




    //Send Referral to Colleague
    function ReferralSend() {

        var PatientId = $('#hdnPatientId').val();
        var ColleagueId = $("#hdnColleagueId").val();
        var LocationId = $("#hdnlocationid").val();
        if (PatientId == null || PatientId == "") {
            //$("#ReferPatient").modal('show');
            $.toaster({ priority: 'warning', title: 'Notice', message: 'Please select at least one Patient.' });
            $('#btn_send_clg').attr("disabled", true);
        }
        else {
            window.location.href = '@Url.Action("Referral", "Referrals")?PatientId=' + PatientId + '&ColleagueIds=' + ColleagueId.toString() + "&AddressInfoId=" + LocationId;
        }
    }

    //Open Pop up for Delete Colleage
    function OpenDeleteForColleague(ColleagueId, PageIndex) {
        $('#colleage_delete').modal('show');
        $('#btn_yes_cd').show();
        $('#btn_no_cd').text('No');
        //$('#btn_no').css('margin-right', '40px');
        //$('#btn_yes').css('margin-right', '55px');
        $('#btn-grp').css('margin', '0px 50px');
        $('#desc_message_cd').text('Are you sure you want to remove?');
        $('#btn_yes_cd').attr('onclick', ' RemoveColleague("' + ColleagueId + '","' + PageIndex + '")');
    }


    //Remove single colleague.
    function RemoveColleague(ColleagueId, PageIndex) {

        // var r = confirm('Are you sure you want to remove ?');
        var PageIndex = $("#tbodyPageIndexColleague").val();
        $.post("/Colleagues/NewRemoveColleague",
                        { ColleagueId: ColleagueId}, function (data) {
                            if (data == "0") {
                                $.toaster({ priority: 'warning', title: 'Notice', message: 'You do not have permission to delete colleague.' });
                            }
                            else {
                                $.toaster({ priority: 'success', title: 'Notice', message: 'Colleague removed successfully.' });
                                $('#row_' + ColleagueId).remove();
                            }
                            $('#colleage_delete').modal('hide');
                        });
        $.ajaxSetup({ async: true });
    }


    function ViewProfile(id) {
        $("#divLoading").show();
        $('#hdnViewProfile').val(id);
        $("#frmViewProfile").submit();
        $("#divLoading").hide();
    }

    function SearchInboxFromColleageReferrals(EmailId, Referral, ColleagueId) {
        $("#colleagueEmailForInboxsearch").val(EmailId);
        $("#ColleagueIdRecevied").val(ColleagueId);
        $("#IsReferralinbox").val(Referral);
        $("#getIdofcolleaguetosearchinbox").submit();

    }

    function SearchSentboxFromColleageReferrals(EamilId, Referral, ColleagueId) {
        $("#colleagueEmailForsentboxsearch").val(EamilId);
        $("#ColleagueIdSent").val(ColleagueId);
        $("#IsReferralsent").val(Referral);
        $("#getIdofcolleaguetosearchsentbox").submit();
    }


    //Anchor for send/receive refferal.
    $(document).on('click', 'a', function (event) {
        var role = $(this).data("role");
        var firstname = $(this).data("firstname");
        var ColleagueId = $(this).data("colleagueid");

        if (role == 'SearchInboxFromColleageReferrals') {
            SearchInboxFromColleageReferrals(firstname, 'Refer Patient', ColleagueId);
        } else if (role == 'SearchSentboxFromColleageReferrals') {
            SearchSentboxFromColleageReferrals(firstname, 'Refer Patient', ColleagueId);
        }
    });

    //Save has Button
    function SavehasButton() {
        var List = [];
        $(".trcolleague").each(function () {
            var proc = {};
            proc = {
                'ColleagueId': $(this).find("#hdnViewProfile").val(),
                'HasButton': $(this).find("#checkhas").is(":checked")
            }

            List.push(proc);
        });
        performAjax({
            url: "/Colleagues/Inserthasbuttonval",
            type: "POST",
            data: { hasbuttonList: List },
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $.toaster({ priority: 'success', title: 'Notice', message: 'Has Button Updated Successfully' });
            }

        })

    }


    function OpenConfirmPopUp(id) {

        $("#EnableDisableitem").modal('show');
        var Ischeck = $("#checkhas_" + id).is(":unchecked");
        if (Ischeck == true) {
            $('#desc_dismessage').show();
            $('#desc_enmessage').hide();
        } else {
            $('#desc_enmessage').show();
            $('#desc_dismessage').hide();
        }
        $('#btnno').attr('onclick', ' UncheckHasButton(' + id + ')');
        $('#btnyes').attr('onclick', ' EnableDisableButton(' + id + ')');
    }

    function UncheckHasButton(id) {
        var hascheck = $("#checkhas_" + id + "").is(":checked");
        if (hascheck == true) {
            $("#checkhas_" + id + "").prop("checked", false);
            $(".clshas_" + id + " span").removeClass('jcf-checked').addClass('jcf-unchecked');
        }
        else {
            $("#checkhas_" + id + "").prop("checked", true);
            $(".clshas_" + id + " span").removeClass('jcf-unchecked').addClass('jcf-checked');
        }
    }

    function EnableDisableButton(id)
    {
        $.ajax({
            url: "/Colleagues/EnableDisablehasbuttonval",
            type: "POST",
            data: { ReceiverId: id },
            success: function () {
                $.toaster({ priority: 'success', title: 'Notice', message: 'Has Button Updated Successfully' });
                //$("#EnableDisableitem").modal('hide');
            }
        })
    }

    $(".checkedAll").change(function () {
        if (this.checked) {
            $(".checkSingle").each(function () {
                $(this).prop('checked', true);
                $(".all-select span").removeClass('jcf-unchecked').addClass('jcf-checked');
            })
        } else {
            $(".checkSingle").each(function () {
                $(this).prop('checked', false);
                $(".all-select span").removeClass('jcf-checked jcf-focus').addClass('jcf-unchecked');
            })
        }
    });

    function SelectLocation(lid) {
        $(".referral-list > li").each(function () { $(this).removeClass('active'); });
        if ($("." + lid).hasClass('active')) {
            $("." + lid).removeClass('active');
        } else {
            $("." + lid).addClass('active');
            $('#btn_send_patient').attr("disabled", false);
            $("#hdnlocationid").val(lid);
        }
    }

    function PatientReferralSend() {

        var locationid = $("#hdnlocationid").val();
        if (locationid == null || locationid == "") {
            $.toaster({ priority: 'warning', title: 'Notice', message: 'Please select at least one Location.' });
            ToggleSaveButton("btn_send_Patient");
            return false;
        }
        else {
            if ($("#SingleLocationId").val() != 0) {
                $('#divLoading').hide();
            }
            else {
                $('#divLoading').show();
            }
            $('.referral-list').html('');
            $(".list-holder").unbind('scroll');
        }
        var SearchText = "";
        var PageIndex = $("#PatientPageIndex").val();
        if ($("#txtSearchPatient").val() == null) {
            GetSearchText = null;
        } else if ($('#txtSearchPatient').length == 0) {
            GetSearchText = null;
        }
        else {
            if ($('txtSearchPatient').val() == 'Find patient to refer...') {
                GetSearchText = null;
            }
            else {
                GetSearchText = $('txtSearchPatient').val();
            }
        }
        $.ajax({
            url: "/Colleagues/NewSearchPatientFromPopUp",
            type: "POST",
            async: true,
            data: { SearchText: SearchText },
            success: function (data) {
                $('#divLoading').hide();
                $(".referral-list").html(data);
                $('#Patient_Block').show();
                $('#refer_heading').text('Select Patient To Refer');
                $("#hdnlocationid").val(locationid);
                $('#btn_send_Patient').hide();
                $('#btn_send_clg').show();
                $(".list-holder").bind('scroll', function (event) {
                    if ($(this).scrollTop() + $(this).innerHeight() >= $(this)[0].scrollHeight) {
                        var data = GetPatientByScroll().toString();
                        if (data == "" || data.indexOf('Patient not found.') > -1) {
                            $('.referral-list').append(data);
                            $("#PatientPageIndex").val("-1");
                        }
                        else {
                            $('.referral-list').append(data);
                            //Start: XQ1-227: Duplicate patient list appears in Patient Pop up
                            PageIndex = parseInt(PageIndex) + parseInt(1);
                            //END
                            $("#PatientPageIndex").val(PageIndex);
                        }
                    }
                });
            }
        })
    }

    function ToggleSaveButton(id) {
        $('#' + id).attr('disabled', true);
        setTimeout(function () {
            $('#' + id).attr('disabled', false);
        }, 4000);
    }

    function ResetFields() {
        $('#hdnColleagueId').val('');
        $('#hdnPatientId').val('');
        $('#hdnlocationid').val('');
    }

</script>
<script src="~/Scripts/JS/jcf.js"></script>
