﻿@{
    ViewBag.Title = "Recordlinc - Colleagues";
    Layout = "~/Views/Shared/SiteLayoutInner.cshtml";
}
<link href="~/Content/css/Dropstyle.css" rel="stylesheet" />
<link href="~/Content/css/filterstyle.css" rel="stylesheet" />
<style>
    .btn-toolbar {
        width: 100%;
    }

    .alphabetical btn-group btn-group-sm {
        margin-top: -5px;
        width: 100%;
    }

    .dropdown {
        width: 100%;
    }

    .alphabet {
        width: 80% !important;
    }

    .btn-default {
        background-color: rgb(255, 255, 255) !important;
        border-bottom-color: rgb(255, 255, 255) !important;
        border-left-color: rgb(255, 255, 255) !important;
        border-right-color: rgb(255, 255, 255) !important;
        border-top-color: rgb(255, 255, 255) !important;
        color: rgb(51, 51, 51);
    }

    .alphadrop dropdown-menu {
        margin-top: 30px !important;
    }

    .downarrow {
        background-attachment: scroll;
        background-clip: border-box;
        background-color: rgba(0, 0, 0, 0);
        background-image: url("/Content/images/quicklink-sprites.png");
        background-origin: padding-box;
        background-position: -129px -3px;
        background-repeat: no-repeat;
        background-size: auto auto;
        display: inline-block;
        height: 28px;
        margin-bottom: 8px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 8px;
        text-indent: -9999px;
        vertical-align: middle;
        width: 28px;
    }

    .btn-default:active:hover, .btn-default.active:hover, .open > .dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus, .btn-default.focus:active, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus {
        background-color: #ffffff !important;
    }

    .btn-default:hover {
        background-color: #fff !important;
    }

    .btn-group > .btn:not(:first-child):not(.dropdown-toggle) {
        color: #0890C4 !important;
    }

    .send_to_selected {
        margin: 0 0 2px;
    }

    .delete_selected {
        margin-left: 2px;
    }

    ul.tablelist li {
        margin-bottom: 3px;
    }

    @@media only screen and (min-width:870px) and (max-width: 1200px) {
        .search_main_div {
            float: left;
            position: relative;
            width: auto !important;
        }

        .searchbar input[type="text"] {
            padding: 14px 15px 14px 45px;
        }

        #search_main_div .search_main_div .searchbar input[type='text'] {
            height: 32px !important;
        }
    }

    @@media only screen and (max-width: 800px) {
        .alphabet {
            width: 100% !important;
        }
    }
</style>
<link rel="stylesheet" type="text/css" href="~/Content/css/select2.min.css" />
<script type="text/javascript" src="~/Scripts/select2.min.js"></script>
<script type="text/javascript">

    // For Send Sugession - Start
    function SuggestChange(ColleagueId) {
        var Subject = "";
        var Body = $("#txtSuggestion").val();

        $.ajaxSetup({ async: false });
        $.post("/Colleagues/SuggestChange",
            { ColleagueId: ColleagueId, Subject: Subject, Suggestion: Body }, function (data) {

                if (data == "1") {
                    //alert('Suggestion sent successfully.');
                    swal({ title: "", text: 'Suggestion sent successfully.', type: 'success' });
                }
                else {
                    //alert('Failed to send Suggestion');\
                    swal({ title: "", text: 'Failed to send Suggestion', type: 'error' });
                }
                window.location = 'Colleagues';

            });


        $.ajaxSetup({ async: true });
    }
    // For Send Sugession - End

    //For Close Popup - Start
    function ClosePopup() {

        $(".mfp-close").click();
    }
    //For Close Popup - End
</script>
<script type="text/javascript">

    $(document).ready(function () {
        $("#cke_38_contents").attr("onkeyup", "EditOnKeyupSendMasseageToPatinets(event)");
        $(document).on('click', 'a', function (event) {
            var role = $(this).data("role");
            var rolevalue = $(this).data("value");
            var roleemail = $(this).data("email");
            var firstname = $(this).data("firstname");
            var ColleagueId = $(this).data("colleagueid");
            var rolePageIndex = $(this).data("pageindex");
            var LocationId = $(this).data("location");

            if (role != '' && rolevalue != '') {
                if (role == 'ViewProfile') {
                    ViewProfile(rolevalue);
                }
                else if (role == 'OpenSuggestionBox') {
                    OpenSuggestionBox(rolevalue);
                }
                else if (role == 'SearchInboxFromColleageReferrals') {
                    SearchInboxFromColleageReferrals(firstname, 'Refer Patient', ColleagueId);
                }
                else if (role == 'SearchSentboxFromColleageReferrals') {
                    SearchSentboxFromColleageReferrals(firstname, 'Refer Patient', ColleagueId);
                }
                else if (role == 'SendMessage') {
                    SendMessage(rolevalue);
                }
                else if (role == 'OpenPopup') {
                    OpenPopup(rolevalue, LocationId);
                }
                else if (role == 'RemoveColleague') {
                    RemoveColleague(rolevalue, rolePageIndex);
                }
            }

        });
        (function () {
            [].slice.call(document.querySelectorAll('select.cs-select')).forEach(function (el) {
                new SelectFx(el);
            });
        })();

    });
    $(function () {
        if ($('.alphabet > a').hasClass('active')) {
            $('.alphabet > a').removeClass('active');
        }
        if ($(this).hasClass('active') > 0) {
            $(this).removeClass('active');
        } else {
            $(this).addClass('active');
        }
    });
    function ViewProfile(id) {
        $("#divLoading").show();
        $('#hdnViewProfile').val(id);
        $("#frmViewProfile").submit();
        $("#divLoading").hide();
    }

    function SearchInboxFromColleageReferrals(EmailId, Referral, ColleagueId) {

        $("#colleagueEmailForInboxsearch").val(EmailId);
        $("#ColleagueIdRecevied").val(ColleagueId);
        $("#IsReferralinbox").val(Referral);
        $("#getIdofcolleaguetosearchinbox").submit();

    }
    var timer;
    function SearchPatientOnKeyup()
    {
        var ctrl = $("#txtSearchPatient");
        clearTimeout(timer);
        var ms = 500; // milliseconds
        timer = setTimeout(function () {
            OnkeypressPatientsearch(ctrl);
        }, ms);
    }
    function OnkeypressPatientsearch(ctrl) {
        var value = $(ctrl).val().toLowerCase().trim();
        // value = escape(value);
        if ($.trim(value).length == 0) {
            value = "";
        }
        $('#divLoading').show();
        $.ajaxSetup({ async: false });
        $.post("/Colleagues/SearchPatientFromPopUp",
            { SearchText: value }, function (data) {
                document.getElementById("sendReferral").innerHTML = data;
            });

        $.ajaxSetup({ async: true });
        $(".search_listing").bind('scroll', function (event) {
            if ($(this).scrollTop() + $(this).innerHeight() >= $(this)[0].scrollHeight) {
                var data = SearchPatientLI().toString();
                $(this).append(data);
            }
        });
        $('#divLoading').hide();
    }
    function SearchSentboxFromColleageReferrals(EamilId, Referral, ColleagueId) {

        $("#colleagueEmailForsentboxsearch").val(EamilId);
        $("#ColleagueIdSent").val(ColleagueId);
        $("#IsReferralsent").val(Referral);
        $("#getIdofcolleaguetosearchsentbox").submit();
    }

    function ClearPlaceHolder(input) {
        if (input.value == input.defaultValue) {
            input.value = "";
        }
    }
    function SetPlaceHolder(input) {
        if (input.value == "") {
            input.value = input.defaultValue;
        }
    }
    $(function () {

        $("#search_main_div").css("display", "block");
        $("#search_main_div").html("<div class='search_main_div' ><div class='searchbar'><input id='txtHdrSearchColleague' onfocus='ClearPlaceHolder(this)' onblur='SetPlaceHolder(this)' name='Search Colleague' onkeyup='HdrSearchColleague(event)'  type='text' value='Search Colleague'></div></div>");



    });


    // HdrSearchColleague start
    function HdrSearchColleague(event) {
        if (event.keyCode == 13) {
            var message = $('#txtHdrSearchColleague').val();
            $("#divLoading").show();
            if (message != null && message != "") {
                ColleaguesList(1, message, 11, 2);
                $("#divClearSearch").css("display", "block");
                $("#divClearSearch").html("<br/><a href='@Url.Action("Index", "Colleagues")' style=\"text-decoration:none;\" title=\"Clear Search\" > &nbsp;Clear Search</a>");
            }
            else {
                ColleaguesList(1, '', 11, 2);
                document.getElementById('divSearchtextshow').innerHTML = '';
            }
            $("#divLoading").hide();
        } else {
            return true;
        }
    }
    function AlphbetsSetting(NewSearchText, SortColumn, FilterBy) {
        $('#Listing').val(FilterBy);
        (function () {
            [].slice.call(document.querySelectorAll('select.cs-select')).forEach(function (el) {
                new SelectFx(el);
            });
        })();

        if (NewSearchText == "")
            NewSearchText = "All";
        $(".alphabet ." + NewSearchText).addClass('active');
    }

    function ColleaguesListByFiltering(NewSearchText) {
        $.ajaxSetup({ async: false });
        var FilterBy = $('#Listing option:selected').val();

        var SortColumn = "";
        if (SortColumn == null || SortColumn == 'undefined' || SortColumn == "") {
            SortColumn = 1;
        }
        var PageIndex = 1;
        var SearchText = null;
        var SortDirection = "1";
        $.post("/Colleagues/ColleaguesList",
                                    { PageIndex: PageIndex, Searchtext: SearchText, SortColumn: SortColumn, SortDirection: SortDirection, NewSearchText: NewSearchText, FilterBy: FilterBy }, function (data) {

                                        if (data != "") {
                                            document.getElementById('divColleagueList').innerHTML = data.toString();
                                            AlphbetsSetting(NewSearchText, SortColumn, FilterBy);
                                          //  $('#editform_5').magnificPopup({
                                          //      items: [
                                          //{
                                          //    src: '#send_message_sel', // CSS selector of an element on page that should be used as a popup
                                          //    type: 'inline'
                                          //}
                                          //      ],
                                          //      callbacks: {
                                          //          open: function () {

                                          //              CKEDITOR.remove(CKEDITOR.instances.txtMessage);
                                          //              $(".cke_reset").remove();
                                          //              CKEDITOR.replace('txtMessage', {
                                          //                  toolbarGroups: [
                                          //                      { name: "styles", "groups": ["styles"] },
                                          //                      { name: "basicstyles", "groups": ["basicstyles"] },
                                          //                      { name: "paragraph", "groups": ["list"] },
                                          //                      { name: 'colors' }
                                          //                  ],
                                          //                  removeButtons: 'Strike,Subscript,Superscript,Styles,Container',

                                          //              });
                                          //          },


                                          //      }
                                          //  });
                                        }
                                        else {
                                            document.getElementById('divColleagueList').innerHTML = '';
                                        }


                                    });
        $.ajaxSetup({ async: true });

        $("#divLoading").hide();
        $(window).scrollTop(0);
    }

    function ColleaguesList(PageIndex, SearchText, SortColumn, SortDirection, NewSearchText) {
        var NewSearchText = $(".alphabet > .active").html();
        var FilterBy = $('#Listing option:selected').val();
        $.ajaxSetup({ async: false });
        $.post("/Colleagues/ColleaguesList",
                                    { PageIndex: PageIndex, Searchtext: SearchText, SortColumn: SortColumn, SortDirection: SortDirection, NewSearchText: NewSearchText, FilterBy: FilterBy }, function (data) {

                                        if (data != "") {
                                            document.getElementById('divColleagueList').innerHTML = data.toString();
                                            AlphbetsSetting(NewSearchText, SortColumn, FilterBy);
                                          //  $('#editform_5').magnificPopup({
                                          //      items: [
                                          //{
                                          //    src: '#send_message_sel', // CSS selector of an element on page that should be used as a popup
                                          //    type: 'inline'
                                          //}
                                          //      ],
                                          //      callbacks: {
                                          //          open: function () {
                                          //              CKEDITOR.remove(CKEDITOR.instances.txtMessage);
                                          //              $(".cke_reset").remove();
                                          //              CKEDITOR.replace('txtMessage', {
                                          //                  toolbarGroups: [
                                          //                      { name: "styles", "groups": ["styles"] },
                                          //                      { name: "basicstyles", "groups": ["basicstyles"] },
                                          //                      { name: "paragraph", "groups": ["list"] },
                                          //                      { name: 'colors' }
                                          //                  ],
                                          //                  removeButtons: 'Strike,Subscript,Superscript,Styles,Container'
                                          //              });
                                          //          }
                                          //      }
                                          //  });
                                        }
                                        else {
                                            document.getElementById('divColleagueList').innerHTML = '';
                                        }
                                    });
        $.ajaxSetup({ async: true });

        $("#divLoading").hide();
        $(window).scrollTop(0);
    }

    // HdrSearchColleague start






    $(document).ready(function () {
        $('#sendReferral').on('keypress', function (e) {
            var Keycodeof = e.keyCode
            if (Keycodeof == 13) {
                $("#SearchBtnHide").trigger('click');
            }
        });
        $('.showlightbox').magnificPopup({
            type: 'inline',
            preloader: false,
            focus: '#name',
            // When elemened is focused, some mobile browsers in some cases zoom in
            // It looks not nice, so we disable it:
            callbacks: {
                beforeOpen: function () {
                    if ($(window).width() < 700) {
                        this.st.focus = false;
                    } else {
                        this.st.focus = '#txtMessage';
                    }
                }
            }
        });

        $(".cancel_btn").click(function () {
            $(".mfp-close").click();
        });


      //  $('#editform_5').magnificPopup({
      //      items: [
      //{
      //    src: '#send_message_sel', // CSS selector of an element on page that should be used as a popup
      //    type: 'inline'
      //}
      //      ],
      //      callbacks: {
      //          open: function () {
      //              CKEDITOR.remove(CKEDITOR.instances.txtMessage);
      //              $(".cke_reset").remove();
      //              CKEDITOR.replace('txtMessage', {
      //                  toolbarGroups: [
      //                      { name: "styles", "groups": ["styles"] },
      //                      { name: "basicstyles", "groups": ["basicstyles"] },
      //                      { name: "paragraph", "groups": ["list"] },
      //                      { name: 'colors' }
      //                  ],
      //                  removeButtons: 'Strike,Subscript,Superscript,Styles,Container'
      //              });
      //          }
      //      }
      //  });


        // CKEDITOR.disableAutoInline = true;
        //$(document).ready(function () {
        //    $('#txtMessage').ckeditor(); // Use CKEDITOR.replace() if element is <textarea>.
        //});

        CKEDITOR.replace('txtMessage', {
            toolbarGroups: [
                { name: "styles", "groups": ["styles"] },
                { name: "basicstyles", "groups": ["basicstyles"] },
                { name: "paragraph", "groups": ["list"] },
                { name: 'colors' }
            ],
            removeButtons: 'Strike,Subscript,Superscript,Styles,Container'
        });

        $("#txtMessage").click(function () {
            //$(".maininput").focus();
            //$(".maininput").blur();

            $("#txtMessage").focus();
        });
    });





    // For Remove as Colleague - Start
    function RemoveColleague(ColleagueId, PageIndex) {

        // var r = confirm('Are you sure you want to remove ?');
        swal({
            title: "",
            text: "Are you sure you want to remove?",
            type: "warning",
            showCancelButton: true,
            //confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: false,
            showLoaderOnConfirm: true,
        },
        function (isConfirm) {
            if (isConfirm) {
                $.post("/Colleagues/RemoveColleague",
                                        { ColleagueId: ColleagueId, PageIndex: PageIndex }, function (data) {

                                            if (data == "0") {
                                                swal({ title: "", text: 'You do not have permission to delete colleague' });

                                            }
                                            else {

                                                //swal('Colleague removed successfully');
                                                swal({
                                                    title: "Successfully",
                                                    text: "Colleague removed successfully",
                                                    timer: 1500,
                                                    showConfirmButton: false
                                                });
                                                $('#row' + ColleagueId).remove();
                                            }


                                        });


                $.ajaxSetup({ async: true });

            }
        });

    }
    // For Remove as Colleague - End




    // For Fill View Profile  - End


    // For Open Suggestion Box - Start
    function OpenSuggestionBox(ColleagueId) {
        $.ajaxSetup({ async: false });

        $.post("/Colleagues/SuggestionBox", { ColleagueId: ColleagueId }, function (data) {
            document.getElementById("suggestion_box").innerHTML = data.toString();
        });

        $.ajaxSetup({ async: true });
    }
    // For Open Suggestion Box - End
    $('#editform_5').on("click", function () {
        var MultipleDelete = null;
        var c = new Array();
        c = document.getElementsByTagName('input');
        for (var i = 0; i < c.length; i++) {
            if (c[i].type == 'checkbox' && c[i].id == 'checkcolleague' && c[i].checked == true) {
                if (MultipleDelete == null) {
                    MultipleDelete = c[i].value;
                }
                else {
                    MultipleDelete = MultipleDelete + ',' + c[i].value;
                }
            }
        }
        if (MultipleDelete == null) {
            $(".mfp-close").click();
            //alert('Please Select Atleast One Colleague');
            swal({ title: "", text: 'Please select at least one colleague' });
            return false;
        }

        document.getElementById('hdnColleaguesIdForPopUp').value = MultipleDelete;
    });
    function BindUserList() {
        // jQuery.ajaxSetup({ async: false });
        var x = '';
        var ColleaguesId = document.getElementById('hdnColleaguesIdForPopUp').value;
        if ($('#select3').val() != null && $('#select3').val() != "") {
            x = $('#select3').val().toString();
        }
        if (ColleaguesId != null && ColleaguesId != "") {
            x = ColleaguesId;
        }
        $.post("/Inbox/GetUserList", { selected: x },
            function (data) {
                if (data != '') {
                    document.getElementById("SelectColleagues").innerHTML = data.toString();
                    $("#select3").select2({
                        minimumInputLength: 1,
                        placeholder: 'Select Colleague'
                    });
                }
                else {
                    document.getElementById("SelectColleagues").innerHTML = 'Doctor not found';
                }
            });
        // jQuery.ajaxSetup({ async: true });
    }
    function Bindpatinetlist() {
        //$("#divLoading").show();
        //jQuery.ajaxSetup({ async: false });
        var x = '';
        var PatientId = '@ViewBag.PatientId';
        document.getElementById('hdnpatientid').value = PatientId;
        if ($('#select4').val() != null && $('#select4').val() != "") {
            x = $('#select4').val().toString();
        }
        if (PatientId != null && PatientId != "") {
            x = PatientId;
        }
        $.post("/Inbox/GetPatientList", { selected: x },
            function (data) {
                if (data != '') {
                    document.getElementById("SelectPatient").innerHTML = data.toString();
                    $("#select4").select2({
                        minimumInputLength: 1,
                        placeholder: 'Select Patient'
                    });
                }
                else {
                    document.getElementById("SelectPatient").innerHTML = 'Patient not found';
                }
            });
        //jQuery.ajaxSetup({ async: true });
    }
    // For send  Multiple message  - Start
    $('#editform_5').live("click", function () {
        var MultipleDelete = null;
        var c = new Array();
        c = document.getElementsByTagName('input');
        for (var i = 0; i < c.length; i++) {
            if (c[i].type == 'checkbox' && c[i].id == 'checkcolleague' && c[i].checked == true) {
                if (MultipleDelete == null) {
                    MultipleDelete = c[i].value;
                }
                else {
                    MultipleDelete = MultipleDelete + ',' + c[i].value;
                }
            }
        }
        if (MultipleDelete == null) {
            //
            //$(".mfp-close").click();
            //alert('Please Select Atleast One Colleague');
            swal({ title: "", text: 'Please select at least one colleague' });
            return false;
        }
        $("#ColleagueId").val(MultipleDelete)
        $("#frmcompose").submit();
        //document.getElementById('hdnColleaguesIdForPopUp').value = MultipleDelete;
        //Bindpatinetlist();
        //BindUserList();
        // $("#divLoading").hide();
    });
    //$(window).load(function () {
    //    $("#select4_annoninput").find("input").attr("placeholder", "Start typing patient name here");
    //    $("#select4_annoninput").find("input").css("width", "195px");
    //});
    //for send multiple message - end

    // For Remove Multiple Colleague - Start
    $('#btnMultipleDelete').live("click", function () {
        var userlist = [];
        var MultipleDelete = null;

        var c = new Array();
        c = document.getElementsByTagName('input');

        for (var i = 0; i < c.length; i++) {
            if (c[i].type == 'checkbox' && c[i].id == 'checkcolleague' && c[i].checked == true) {

                if (MultipleDelete == null) {

                    MultipleDelete = c[i].value;
                }
                else {

                    MultipleDelete = MultipleDelete + ',' + c[i].value;
                }

            }
        }

        if (MultipleDelete == null) {
            //alert('Please Select Atleast One Colleague');
            swal({ title: "", text: 'Please select at least one colleague' });
            return false;
        }
        userlist = MultipleDelete.split(',');
        swal({
            title: "",
            text: "Are you sure you want to remove?",
            type: "warning",
            showCancelButton: true,
            //confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: false,
            showLoaderOnConfirm: true,
        },
       function (isConfirm) {
           if (isConfirm) {
               userlist = MultipleDelete.split(',');
               $.post("/Colleagues/RemoveMutipleColleague",
                                       { MultipleColleagueId: MultipleDelete }, function (data) {
                                           if (data == "1") {

                                               swal({
                                                   title: "Successfully",
                                                   text: "Colleagues removed successfully",
                                                   timer: 1500,
                                                   showConfirmButton: false
                                               });
                                               for (var i = 0; i < userlist.length; i++) {
                                                   $('#row' + userlist[i]).remove();
                                               }
                                           }
                                           else {
                                               swal({ title: "", text: 'Failed to remove  Colleague' });

                                           }
                                       });
               $.ajaxSetup({ async: true });
           }
       });
    });
    // For Remove Multiple Colleague - End

    // For Patient List Pop up - Start
    function OpenPopup(ColleagueId,LocationId) {
        document.getElementById('hdncolleagueid').value = ColleagueId.toString();
        $("#hdnlocationid").val(LocationId);
        SearchPatient();
    }
    // For Patient List Pop up - End
    function ReferralSend() {
        var MultipleDelete = null;
        var c = new Array();
        c = document.getElementsByTagName('input');
        for (var i = 0; i < c.length; i++) {
            if (c[i].type == 'checkbox' && c[i].id == 'chkPatient' && c[i].checked == true) {
                if (MultipleDelete == null) {
                    MultipleDelete = c[i].value;
                }
                else {
                    //alert('Doctor can send referral only one patient');
                    swal({ title: "", text: 'Doctor can send referral only one patient' });
                    return false;
                }
            }
        }
        if (MultipleDelete == null) {
            //alert('Please select at least one patient.');
            swal({ title: "", text: 'Please select at least one patient.' });
            return false;
        }
        var LocationId = $("#hdnlocationid").val();
        var colleagueId = document.getElementById('hdncolleagueid').value;
        window.location.href = '@Url.Action("Referral", "Referrals")?PatientId=' + MultipleDelete + '&ColleagueIds=' + colleagueId.toString() + "&AddressInfoId=" + LocationId;
    }

    function SendMessage(ColleagueId) {
        if (ColleagueId != null && ColleagueId != "") {
            window.location.href = '@Url.Action("ComposeMessage", "Inbox")?ColleaguesId=' + ColleagueId;
        }
    }
    function SearchPatient() {
        document.getElementById('search_listing_pageindex').value = "1";
        var GetSearchText = null;
        if (document.getElementById('txtSearchPatient') == null) {
            GetSearchText = null;
        } else if ($('#txtSearchPatient').legnth == 0) {
            GetSearchText = null;
        }
        else {
            if (document.getElementById('txtSearchPatient').value == "Find patient to refer...") {
                GetSearchText = null;
            }
            else {
                GetSearchText = document.getElementById('txtSearchPatient').value;
            }

        }
        $.ajaxSetup({ async: false });
        $.post("/Colleagues/SearchPatientFromPopUp",
                                    { SearchText: GetSearchText }, function (data) {
                                        document.getElementById("sendReferral").innerHTML = data;
                                        $('#OpenPatientListPopUp').click();
                                    });

        $.ajaxSetup({ async: true });
        $(".search_listing").bind('scroll', function (event) {
            if ($(this).scrollTop() + $(this).innerHeight() >= $(this)[0].scrollHeight) {
                var data = SearchPatientLI().toString();
                $(this).append(data);
            }
        });
    }
    function SearchPatientLI() {
        $.ajaxSetup({ async: false });
        var GetSearchText = null; if (document.getElementById('txtSearchPatient') == null) {
            GetSearchText = null;
        } else if ($('#txtSearchPatient').legnth == 0) {
            GetSearchText = null;
        }
        else {
            if (document.getElementById('txtSearchPatient').value == "Find patient to refer...") {
                GetSearchText = null;
            }
            else {
                GetSearchText = document.getElementById('txtSearchPatient').value;
            }
        }

        var lidata = '';
        var strpageindex = document.getElementById('search_listing_pageindex').value;
        if (strpageindex == "-1") {
            return "";
        }
        else {

            strpageindex = parseInt(strpageindex) + parseInt(1);
            document.getElementById('search_listing_pageindex').value = strpageindex;


            $.post("/Colleagues/SearchPatientListForSendReferralPopUpLI",
                                { SearchText: GetSearchText, pageindex: strpageindex, pagesize: '30' }, function (data) {
                                    if (data != null) {
                                        if (data == '' || data == "<center>No Record Found</center>" || data == "<center>No More Record Found</center>") {
                                            $("#EmptyRecord").empty().html("<center>No more records found</center>");
                                            document.getElementById('search_listing_pageindex').value = "-1";
                                        }
                                    }
                                    lidata = data.toString();
                                });




        }
        $.ajaxSetup({ async: true });
        return lidata;
    }

    //For close pop up start
    function CloseEditPatientListpop() {
        $(".mfp-close").click();
    }
    //for clsoe pop up end


    // View Patient History - Start
    function ViewPatientHistory(PatientId) {
        $('#hdnViewPatientHistory').val(PatientId);
        $("#frmViewPatientHistory").submit();
    }
    //View Patient History - End

    function SendMessagePopUp() {
        var ColleagueIds = $('#select3').val().toString();
        if ($.trim($("#select3 option:selected").text()).length == 0) {
            swal({ title: '', text: 'Please select at least one Colleague', allowEscapeKey: true });
            return false;
        }
        var Message = CKEDITOR.instances["txtMessage"].getData();
        var Escapes = escape(Message);
        var decoder = decodeURIComponent(Encoded);
        var Encoded = encodeURIComponent(Message);
        $("#txtMessage").val("" + Message + "");
        if (Message == null || Message == "") {
            swal({ title: '', text: 'Please enter message', allowEscapeKey: true });
            $('#txtMessage').focus();
            return false;
        }
        if (parseInt($("#lblsendcount").val()) == 0 && $.trim($("#select4 option:selected").text()).length == 0) {
            $("#lblsendcount").val('1');
            $("#lblcontinue,#licontinue").show();
            return false;
        } else {
            if (ColleagueIds != null && ColleagueIds != "") {
                $.post("/Inbox/SendMessageToColleagues", { SelectedColleagueIds: ColleagueIds, Message: Escapes },
                        function (data) {
                            if (data != '') {

                                $(".mfp-close").click();
                                document.getElementById('hdnColleaguesIdForPopUp').value = '';

                                $('#').each(function () { $(this).attr("checked", false); });
                                var c = new Array();
                                c = document.getElementsByTagName('input');


                                for (var i = 0; i < c.length; i++) {
                                    if (c[i].type == 'checkbox' && c[i].id == 'checkcolleague') {
                                        if (c[i].checked == true) {
                                            c[i].checked = false;
                                        }
                                    }
                                }
                                $('#txtMessage').val(null);
                                //alert("Message sent successfully");
                                swal({ title: "", text: 'Message sent successfully', type: 'success' });
                                window.location.href = "../Colleagues"
                            }


                        });
            }
        }
    }
    $(".cke_editable").change(function () {
        var Editprofessional = $("#cke_txtMessage").val();
        var count = 2848;
        count = count - Editprofessional.length;
        $("#messageCount").val(count);
    });
    function EditOnKeyupSendMasseageToPatinets(e) {
        var Editprofessional = CKEDITOR.instances["txtMessage"].getData();
        var count = 2848;
        count = count - Editprofessional.length;
        $("#messageCount").val(count);
    }



    $(function () {
        var bindScrollHandler = function () {
            $(window).scroll(function () {
                if ($(window).scrollTop() + $(window).height() > $(document).height() - 150) {
                    $(window).unbind("scroll");

                    var data = GetColleaguesListOnScroll().toString();

                    $(data).appendTo(".tbody");

                    bindScrollHandler();
                }
                else {
                }
            });
        };

        bindScrollHandler();
        $('ul.search_listing li div').live('click', function (event) {
            $('ul.search_listing li div').css('border-color', '#C8C8C8');
            var myInput = $('input', this)
            if (myInput.attr('checked')) {
                var divid = myInput.attr('value');
                $("#" + divid).css('border-color', '#C8C8C8');
                $("input:checked").attr('checked', false);
                myInput.attr('checked', false);
            }
            else {
                var divid = myInput.attr('value');
                $("#" + divid).css('border-color', '#0890C4');
                $("input:checked").attr('checked', false);
                myInput.attr('checked', true);
            }
            event.stopPropagation();
        });
        $("input.checkbox_add_patient:checkbox").live('click', function (event) {
            $('ul.search_listing li div').css('border-color', '#C8C8C8');
            var myInput = $(this);
            if (myInput.attr('checked')) {
                var divid = myInput.attr('value');
                $("#" + divid).css('border-color', '#0890C4');
                $("input:checked").attr('checked', false);
                myInput.attr('checked', true);
            }
            else {
                var divid = myInput.attr('value');
                $("#" + divid).css('border-color', '#C8C8C8');
                $("input:checked").attr('checked', false);
                myInput.attr('checked', false);
            }
            event.stopPropagation();
        });
    });

    function GetColleaguesListOnScroll() {

        var datalist = '';
        $.ajaxSetup({ async: false });
        var PageIndex = $('#tbodyPageIndexColleague').val();
        var searchtext = $('#txtHdrSearchColleague').val();
        if (searchtext == 'Search Colleague') {
            searchtext = '';
        }
        if (PageIndex == '-1') {
            return "";
        } else {
            PageIndex = parseInt(PageIndex) + parseInt(1);
            $.post("/Colleagues/ColleagueListOfDoctorOnScroll", { PageIndex: PageIndex, searchtext: searchtext }, function (data) {

                if (data == '' || data == '<div class=\"trow\"><center>No more record found</center></div>') {
                    $('#tbodyPageIndexColleague').val('-1');
                } else {
                    $('#tbodyPageIndexColleague').val(PageIndex);
                }
                datalist = data;
            });
        }
        $.ajaxSetup({ async: true });

        return datalist;
    }
    $(document).keydown(function (e) {

        if (e.which == 116) {
            window.location.href = "../Colleagues";
            return false;
        }
    });



    function GetColleaguesLocation(ColleagueId) {
        $.ajaxSetup({ async: false });

        $.post("/Colleagues/GetLocationColleagues",
                                    { ColleagueId: ColleagueId }, function (data) {
                                        //var countdata = data;
                                        if (data == "2") {
                                            //alert("Something is Wrong.");
                                            swal({ title: "", text: 'Something is Wrong.', type: 'error' });
                                        }
                                        if (data == "1") {
                                            document.getElementById('hdncolleagueid').value = ColleagueId.toString();
                                            SearchPatient();
                                            $('#OpenPatientListPopUp').click();
                                        }
                                        else {

                                            document.getElementById('hdncolleagueid').value = ColleagueId.toString();
                                            SearchPatient();
                                            $('#OpenPatientListPopUp').click();
                                            $(".patient_searchbar").hide();
                                            $("#Patientcallonscroll").hide();
                                            $("#TitleRefer").html("Select Location");
                                            $("#ColleagueLocation").html(data);
                                        }
                                    });
        $.ajaxSetup({ async: true });
    }
    function SelectPatient() {
        var Multiple = null;
        var c = new Array();
        c = document.getElementsByClassName('checkcolleaguelocation');

        for (var i = 0; i < c.length; i++) {
            if (c[i].type == 'checkbox' && c[i].id == 'colleaguelocation' && c[i].checked == true) {

                if (Multiple == null) {

                    Multiple = c[i].value;
                }
                else {
                    //alert('Doctor can Select One Location');
                    swal({ title: "", text: 'Doctor can Select One Location' });
                    return false;

                }

            }
        }
        $("#LocationID").val(Multiple);
        if (Multiple != null && Multiple != "") {
            $("#TitleRefer").html("Select Patient to Refer");
            $(".patient_searchbar").show();
            $("#Patientcallonscroll").show();
            $("#ColleagueLocation").hide();
        } else {

            swal({ title: "", text: 'Please select at least one location.' });
            return false;
        }

    }

    $(document).ready(function (e) {
        $("input.checkcolleaguelocation:checkbox").live('click', function (event) {
            var myInput = $(this);
            $(".location_each").css('border-color', '#C8C8C8');
            if (myInput.attr('checked')) {
                $("input:checked").attr('checked', false);
                var divid = myInput.attr('value');
                $("#" + divid).css('border-color', '#0890C4');
                myInput.attr('checked', true);
            }
            else {
                var divid = myInput.attr('value');
                $("input:checked").attr('checked', false);
                $("#" + divid).css('border-color', '#C8C8C8');
                myInput.attr('checked', false);
            }
            event.stopPropagation();
        });
        $('div.class_locationcolleagues div').live('click', function (event) {
            var myInput = $('input', this)
            $(".location_each").css('border-color', '#C8C8C8');
            if (myInput.attr('checked')) {
                $("input:checked").attr('checked', false);
                var divid = myInput.attr('value');
                $("#" + divid).css('border-color', '#C8C8C8');
                myInput.attr('checked', false);
            }
            else {
                var divid = myInput.attr('value');
                $("input:checked").attr('checked', false);
                $("#" + divid).css('border-color', '#0890C4');
                myInput.attr('checked', true);
            }
            event.stopPropagation();
        });

    });
</script>
<script src="~/Content/js/selectFx1.js"></script>
<script src="~/Content/js/classie1.js"></script>
<a href="#referralSentPopup" title="Appointment Booking" class="frmreferpatients edit popup-with-form showlightbox"
   id="add_license_detailsByDoctorClick" style="display: none;"></a>
<div id="add_license_detailsByDoctorPopup" style="max-width: 500px;" class="mfp-hide white-popup-block">

</div>
<input type="hidden" id="tbodyPageIndexColleague" value="1" />
<input type="hidden" id="search_listing_pageindex" value="1" />
<form action="/Patients/SentandReceivedPatient?Flag=0" method="post" id="getIdofcolleaguetosearchsentbox">
    <input type="hidden" id="colleagueEmailForsentboxsearch" name="Email" />
    <input type="hidden" id="ColleagueIdSent" name="ColleagueId" />
    <input type="hidden" id="IsReferralsent" name="Referral" />
</form>
<form action="/Patients/SentandReceivedPatient?Flag=1" method="post" id="getIdofcolleaguetosearchinbox">
    <input type="hidden" id="colleagueEmailForInboxsearch" name="Email" />
    <input type="hidden" id="ColleagueIdRecevied" name="ColleagueId" />
    <input type="hidden" id="IsReferralinbox" name="Referral" />
</form>
<form action="Patients/PatientHistory" method="post" id="frmViewPatientHistory">
    <input type="hidden" name="hdnViewPatientHistory" id="hdnViewPatientHistory" />
</form>
<form action="@Url.Action("Index", "Profile")" method="post" id="frmViewProfile">
    <input type="hidden" name="hdnViewProfile" id="hdnViewProfile" value="" />
</form>
<form action="@Url.Action("Compose", "Inbox")" method="post" id="frmcompose">
    <input type="hidden" id="ColleagueId" name="ColleagueId" />
</form>
<div class="content">
    <div class="content_base">
        <!-- Breadcrumb starts-->
        <div class="breadcrumb">
            <ul>
                <li>
                    <a href='@Url.Action("Index", "Index")'>
                        <img width="16" height="14" class="hires" src="../../Content/images/home-icon.png"
                             alt="Home">
                    </a><span class="after"></span>
                </li>
                <li>
                    <span class="before"></span><a href='@Url.Action("Dashboard", "Dashboard")'>Dashboard</a><span class="after"></span>
                </li>
                <li class="active"><a href='@Url.Action("Index", "Colleagues")'>Colleagues</a></li>
            </ul>
        </div>
        <div id="divSearchtextshow">
        </div>
        <!-- Breadcrumb ends-->
        <!-- Inner Content Starts -->
        <div id="send_message_sel" class="mfp-hide white-popup-block" style="max-width: 620px;">
            <h2 class="title">
                Send Message
            </h2>
            <div class="cntnt">
                <ul class="tablelist">

                    <li>
                        <label>
                            To
                        </label>
                        <span class="fluid_cont" id="SelectColleagues"></span>
                    </li>

                    <li>
                        <label>
                            Enter Message
                        </label>
                        <textarea rows="10" id="txtMessage" onkeyup="EditOnKeyupSendMasseageToPatinets(event)" maxlength="2848"></textarea>
                        @*<span class="txt">
                                <input id="messageCount" class="words" type="text" name="Search" disabled="disabled" value="2848"><small>chars remaining</small>
                            </span>*@
                    </li>
                    <li>
                        <label>
                            Select Patient
                        </label>
                        <span class="fluid_cont" id="SelectPatient"></span>
                    </li>
                    <li class="marginbottom0">
                        <label>
                            Attachments
                        </label>
                        @Html.Partial("../Patients/PartialPatientFileUploadTemp")
                        <div class="clear">
                        </div>
                    </li>

                    <li style="display:none;" id="licontinue">
                        <input type="hidden" name="lblsendcount" id="lblsendcount" value="0">
                        <p class="errormsg" id="lblcontinue">This message is not assigned to a patient.would you still like to continue ?</p><br />

                    </li>
                </ul>
                <div class="actions" style="padding-top:0px;">
                    <input class="send_btn" name="Save" type="button" value="Save" onclick="SendMessagePopUp()">
                    <input class="cancel_btn" name="Cancel" type="button" value="Cancel">
                    <div class="clear">
                    </div>
                </div>
                <input type="hidden" id="hdnColleaguesIdForPopUp" />
            </div>
        </div>
        <div id="divColleagueList">
            @Html.Raw(ViewBag.ColleagueList)
        </div>
        <div class="clear">
        </div>
        <br />
    </div>
</div>
<input type="hidden" id="hdncolleagueid" />
<input type="hidden" id="hdnpatientid" />
<input type="hidden" id="hdnlocationid" name="name" value="" />
<!--main wrapper ends here-->
<!-- Popup starts -->
<a href="#sendReferral" id="OpenPatientListPopUp" title="Referral" class="frmSendRefferal edit popup-with-form showlightbox"
   style="display: none;"></a>
<div id="suggestion_box" class="mfp-hide white-popup-block">
</div>
<!-- Popup ends -->
<!-- Popup ends -->
<script type="text/javascript">
    new UISearch(document.getElementById('sb-search'));
</script>
<script src="~/Content/ckeditor/ckeditor.js"></script>
<script src="~/Content/ckeditor/adapters/jquery.js"></script>


