﻿
@{
    ViewBag.Title = "InviteColleagues";
    Layout = "~/Views/Shared/_NewSiteLayoutInner.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/css/select2.min.css" />
<script type="text/javascript" src="~/Scripts/select2.min.js"></script>

@*<ul class="adminUser_area list-inline" id="search_main" style="margin-top:-60px;float:left;">
        <hr class="for-res-as">
        <li class="search text-right">
            <div class="navbar-form " role="search">
                <div class="input-group">
                    <input type="text" name="srch-term" id="txtHdrSearchColleague" value='Search Colleague' class="ui-autocomplete-input" onfocus='ClearPlaceHolder(this)' onblur='SetPlaceHolder(this)' onkeyup='HdrSearchColleague(event)'>
                    <div class="input-group-btn">
                        <button class="btn btn-default" id="search_btn" type="button" onclick="OnSearchbtnClick()"><i class="icon-search"></i></button>
                    </div>
                </div>
            </div>
        </li>
        <hr class="for-res-as">
    </ul>*@

<main id="main" role="main">
    <div class="container">
        <div class="new-case case-overview patinet patient_form" id="dvInviteColleague">

            <div class="row referral">
                <div class="col-lg-12 ">

                    @* <div class="row fve_button">
                            <!-- <div class="col col-lg-4 col-md-5 col-sm-6 col-xs-6 col-lg-pull-8 col-md-pull-7 col-sm-pull-6 col-xs-pull-6 show-on-phones">
                                 <h1 class="inline">Patient History</h1>
                                <div class="btn-group btn-holder">
                                    <a href="#" class="btn btn-primary"><i class="fa fa-arrow-left"></i>Back</a>
                                </div>
                            </div> -->

                            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <h1 class="inline">Invite Colleague by Email</h1>
                            </div>
                        </div>*@
                    <div class="row fve_button">
                        <div class="col col-lg-4 col-md-5 col-sm-6 col-xs-6 col-lg-pull-8 col-md-pull-7 col-sm-pull-6 col-xs-pull-6 show-on-phones">
                            <h1 class="inline">Invite Colleague by Email</h1>
                        </div>
                        <div class="col col-lg-8 col-md-7 col-sm-6 col-xs-6 col-lg-push-4 col-md-push-5 col-sm-push-6 col-xs-push-6 four">
                            @*<div class="btn-group">
                                 <a href="/Colleagues/InviteColleagues" class="btn-default btn-cases" title="Invite Colleague" data-toggle="tooltip" data-placement="bottom"><i class="ico-invite-colleague"></i>Invite Colleague</a>
                                </div>*@
                            <div class="btn-group">
                                <a href="/Colleagues/SearchColleagues" class="btn-default btn-cases" title="Add Colleague" data-toggle="tooltip" data-placement="bottom"><i class="ico-search-colleague"></i>Add Colleague</a>
                            </div>
                        </div>
                        <div class="col col-lg-4 col-md-5 col-sm-6 col-xs-6 col-lg-pull-8 col-md-pull-7 col-sm-pull-6 col-xs-pull-6 hide-on-phones">
                            <h1 class="inline">Invite Colleague by Email</h1>
                        </div>
                    </div>

                </div>
            </div>

            @*Original Html*@
            @*<div class="row">
                    <div class="col-lg-12">
                        <div class="enter-email-bar mrgn-0 mrgn-btm-20">
                            <form role="form">
                                <div class="form-group mrgn-0">
                                    <input class="hide" type="text">
                                    <ul class="email-list">
                                        <li>Gregory Goodlin<a href="#" class="delete"><i class="ico-corss"></i></a></li>
                                    </ul>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>*@

            @*Changed Html*@
            <div class="row referral mrgn-btm-20">
                <div class="col-lg-12 ">
                    <select style="width:100%;" id="drpemail" multiple></select>
                    @*<input style="width:988px;" type="text" id="txtemail" name="txtEmail" value="Enter the email ." onblur="if (this.value == '') { this.value = 'Enter the email of the colleague you would like to invite.  To invite multiple colleagues enter their email addresses separated by commas (,).'; }" onfocus="if (this.value == 'Enter the email of the colleague you would like to invite.  To invite multiple colleagues enter their email addresses separated by commas (,).') { this.value = ''; }">*@
                </div>
            </div>
            <div class="row referral">
                <div class="col-lg-12 ">
                    <div class="row fve_button">
                        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 mrgn-btm-20">
                            <h4 class="inline">OR</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div id="wizard">
                <div class="tab-pane" style="padding:20px;">
                    <div class="row">
                        <div class="col-lg-6 mrgn-btm-20">
                            <h4>Upload List Of Colleagues</h4>
                        </div>
                        <div class="col-lg-6 mrgn-btm-20">
                            <p class="font-16"><a href="javascript:;" onclick="ExampleFile('@System.Configuration.ConfigurationManager.AppSettings.Get("ImageBank")Invite_Colleagues.xls')">Click here to download example template file.</a></p>
                        </div>
                    </div>
                    <div id="uploadFiles" class="form-group mrgn-btm-20">
                        <div class="btn-group btn-holder" onclick="return CountOfUpload()">
                            <div class="fileUpload2 ">
                                <span>Upload File</span>
                                <input class="upload" name="files[]" type="file" title="Upload files" id="patientExcelUpload">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="upload-list" id="tempExcelContent">
                                @Html.Action("PartialExcelFileUploadTempComm", "Common", new { FileIds = string.Empty, OwnerId = 1, ComposeType = (int)BO.Enums.Common.ComposeType.ColleagueCompose })
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-lg-12 mrgn-btm-20">
                    <h2 class="inline">Include a personal note (optional)</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 message-type">
                    <form role="form">
                        <div class="form-group mrgn-0">
                            <textarea id="txtMessage" class="form-control" placeholder="I have added you as a colleague in my professional referral network on RecordLinc."></textarea>
                            <div class="row btm-margin-30">
                                <div class="col-lg-12">
                                    <div class="btn-group btn-holder">
                                        <button id="Sendinvitebtn" type="button" class="btn btn-default btn2 blue-bg mrgn-right-0" onclick="return ValidateEmail()"><i class="ico-send1"></i>Send Invites</button>
                                        @*<a href="javascript:;" class="btn btn-default btn-primary" onclick="return ValidateEmail()" id ="Sendinvitebtn"><i class="ico-send1"></i>Send invite</a>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>

        </div>
        <div class="row " id="dvInvitedvMessage">          
            <div class="" style="margin:10px">
                <div id="dvMessage">
                </div>
            </div>
        </div>
    </div>


    @* Pop up for excel upload *@
    <div class="modal fade" id="ExcelUploadPopUp" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <div class="text-center center">
                        <img class="mrgn-btm-20" id="ImageExcel" src="~/Content/css/NewAdmin/images/excel-ico.png" />
                        <p class="mrgn-btm-0" style="margin: 0;" id="desc_message"></p>
                    </div>
                    <div class="modal-footer bdr-top-no">
                        <div class="btn-group btn-holder">
                            <button type="button" class="btn btn-default btn1" data-dismiss="modal" id="btn_no">No</button>
                            <button type="button" class="btn btn-default btn2 blue-bg mrgn-right-0" id="btn_yes">Yes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script type="text/javascript">

    function ToggleSaveButton(id) {
        $('#' + id).attr('disabled', true);
        setTimeout(function () {
            $('#' + id).attr('disabled', false);
        }, 4000);
    }

    $("#drpemail").select2({
        minimumInputLength: 1,
        multiple: true,
        tags: true,
        tokenSeparators: [',', ' '],
        placeholder:"Enter the email of the colleague you would like to invite.  To invite multiple colleagues enter their email addresses.",
        createTag: function (term, data) {
            var value = term.term;
            if (validateEmail(value)) {
                return {
                    id: value,
                    text: value
                };
            }
            return null;
        }
    });

    function validateEmail(email) {
        var re = /^([a-zA-Z0-9][a-zA-Z0-9_.+-]+@@[\w-.]+\.[A-Za-z]{2,4},?)+$/;
        return re.test(email);
    }


    function IsEmailwithcomma(email) {
        var regex = /^([a-zA-Z0-9][a-zA-Z0-9_.+-]+@@[\w-.]+\.[A-Za-z]{2,4},?)+$/;
        return regex.test(email);
    }

    function ValidateEmail() {
        //
        debugger;
        var Email = $("#drpemail").val() != null ? $("#drpemail").val().toString() : $("#drpemail").val();
        //$("#drpemail").val();
        //var Email = $("#txtemail").val();
        var FileName = "";
        FileName = $('#hdnfilename').val();
        if ((Email == null || Email == "Enter the email of the colleague you would like to invite.  To invite multiple colleagues enter their email addresses.") && FileName == null) {
            //alert('Please Enter Email or upload excel file');
            $.toaster({ priority: 'warning', title: 'Notice', message: 'Please enter email or upload excel file.' });
            ToggleSaveButton('Sendinvitebtn');
            return false;
        }
        else if(Email != null && Email != "Enter the email of the colleague you would like to invite.  To invite multiple colleagues enter their email addresses."  && FileName != null)
        {
            $.toaster({ priority: 'warning', title: 'Notice', message: 'Please enter either email or upload excel file.' });
            ToggleSaveButton('Sendinvitebtn');
            return false;
        }
        else{
            $.post("/Common/CheckAuthorizationForExecelByColleague",
                                          { FeatureId: @Convert.ToInt32(BO.Enums.Common.Features.Colleagues), UplaodeFileName: FileName, Email: Email }, function (data) {
                                              if (data.Status == true) {
                                                  if (Email != null && Email != "" && Email != "Enter the email of the colleague you would like to invite.  To invite multiple colleagues enter their email addresses.") {
                                                      var result = IsEmailwithcomma(Email);
                                                      if (result == true) {
                                                          InviteColleagueOLD(FileName);
                                                      }
                                                      else {
                                                          $.toaster({ priority: 'warning', title: 'Notice', message: 'Please Enter Valid Email Id.' });
                                                          ToggleSaveButton('Sendinvitebtn');
                                                          document.getElementById("txtemail").focus();
                                                          return false;
                                                      }
                                                  }
                                                  if (FileName != null && FileName != "") {
                                                      InviteColleagueOLD(FileName);
                                                  }
                                                  if ((Email == null || Email == "Enter the email of the colleague you would like to invite.  To invite multiple colleagues enter their email addresses.") && FileName == null) {
                                                      //alert('Please Enter Email or upload excel file');
                                                      $.toaster({ priority: 'warning', title: 'Notice', message: 'Please enter email or upload excel file.' });
                                                      ToggleSaveButton('Sendinvitebtn');
                                                      return false;
                                                  }
                                              }
                                              else if (data.Status == false) {
                                                  swal({
                                                      title: "",
                                                      text: data.ResponseMessage,
                                                      type: "error"
                                                  });
                                              }
                                              else {
                                                  $("#upgradeProfile").html(data)
                                              }
                                          });
        }
    }


    function InviteColleagueOLD(FileName) {

        //var EmailIds = $("#txtemail").val();
        var EmailIds = $("#drpemail").val() != null ? $("#drpemail").val().toString() : $("#drpemail").val();
        //$("#drpemail").val();
        if (EmailIds == "Enter the email of the colleague you would like to invite. To invite multiple colleagues enter their email addresses.") {
            EmailIds = "";
        }

        //$.post("/Colleagues/InviteColleague", { txtEmail: EmailIds, txtMessage: $("#txtMessage").val(), pathfilename: FileName },
        //    function (data) {
        //        if (data != '') {
        //            if (data == "1") {
        //                var res = EmailIds.split(",");
        //                var cnt = res.length;
        //                if (cnt == 1) {
        //                    $.toaster({ priority: 'success', title: 'Notice', message: 'Colleague invited successfully.' })
        //                }
        //                else
        //                {
        //                    $.toaster({ priority: 'success', title: 'Notice', message: 'Colleagues invited successfully.' })
        //                }

        //                setTimeout(function () {
        //                    $('#drpemail').html('');
        //                }, 7000);
        //                $('#txtemail').val('Enter the email of the colleague you would like to invite.  To invite multiple colleagues enter their email addresses.');
        //                $('#txtMessage').val('I have added you as a colleague in my professional referral network on RecordLinc.');
        //            }
        //            else if (data == "2") {
        //                //alert('Your file must be in .xlsx or .xls format and at least one column name should be named Email.');
        //                $.toaster({ priority: 'danger', title: 'Notice', message: 'Your file must be in .xlsx or .xls format and at least one column name should be named Email.' });
        //            }
        //            else if (data == "3") {
        //                //alert('You can not invite yourself ');
        //                $.toaster({ priority: 'danger', title: 'Notice', message: 'You can not invite yourself.' });
        //            }
        //            else if (data != "") {
        //                // alert(data);
        //                $.toaster({ priority: 'warning', title: 'Notice', message: data })
        //            } else {
        //                // alert('Failed Invite Colleague');
        //                $.toaster({ priority: 'danger', title: 'Notice', message: 'Failed Invite Colleague.' });
        //                return false;
        //            }

        //        }
        //        else{
        //            $.toaster({priority:'danger',title :'Notice' , message:'Excel data should be not in proper format '})
        //        }
        //    });
        $('#dvMessage').html('');
        $.post("/Colleagues/InviteColleague", { txtEmail: EmailIds, txtMessage: $("#txtMessage").val(), pathfilename: FileName },
          function (data) {
              if (data !="") {
                  $("#dvInviteColleague").css("display","none");
                  $("#dvInvitedvMessage").css("display","block");
                  $("#dvMessage").append(data);
              }



              //setTimeout(function () {
              //    $('#dvMessage').html('');
              //}, 10000);


          });
    }


    //Example file
    function ExampleFile(RelativePath) {
        var sitename = window.location.host;
        if (sitename.indexOf('http://') == -1 || sitename.indexOf('https://')) {
            sitename = 'http://' + sitename
        }
        var str = RelativePath;
        var res = sitename + str.replace("/mydentalfiles/", "/").replace("~/", "/");
        res = res.replace("mydentalfiles", "recordlinc");
        res = res.replace("../", "/");
        window.open(res, '_blank');
        window.focus();
    }


    function CountOfUpload() {
        var count = $('#hdnCount').val();
        if (count != null && count != "") {
            $("#ExcelUploadPopUp").modal('show');
            $('#desc_message').text('Allow only one .xlsx or .xls file at a time');
            $('#btn_yes').hide();
            $('#btn_no').css('right', '22px');
            $('#btn_no').text('Ok');
            return false;
        }
    }

    function InviteMoreColleagues(){
        $('#dvMessage').html('');
        $("#tempExcelContent").empty();
        $("#drpemail").html('');
        $("#dvInvitedvMessage").css("display","none");
        $("#dvInviteColleague").css("display","block");
    }

</script>
