﻿@model List<NewRecordlinc.Models.Colleagues.SearchColleagueForDoctor>

@{
    ViewBag.Title = "SearchColleagues";
    Layout = "~/Views/Shared/_NewSiteLayoutInner.cshtml";
}


<main id="main" role="main">
    <div class="container">
        <div class="new-case case-overview patinet patient_form search_colleague">

            <div class="row referral row-bordered referral">
                <div class="col-lg-12 ">
                    @*<div class="row fve_button">
                            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <h1 class="inline">Add Colleagues</h1>
                            </div>
                        </div>*@
                    <div class="row fve_button">
                        <div class="col col-lg-4 col-md-5 col-sm-6 col-xs-6 col-lg-pull-8 col-md-pull-7 col-sm-pull-6 col-xs-pull-6 show-on-phones">
                            <h1 class="inline">Add Colleagues</h1>
                        </div>
                        <div class="col col-lg-8 col-md-7 col-sm-6 col-xs-6 col-lg-push-4 col-md-push-5 col-sm-push-6 col-xs-push-6 four">
                            @*<div class="btn-group">
                                    <a href="/Colleagues/InviteColleagues" class="btn-default btn-cases" title="Invite Colleague" data-toggle="tooltip" data-placement="bottom"><i class="ico-invite-colleague"></i>Invite Colleague</a>
                                </div>*@
                            <div class="btn-group">
                                <a href="/Colleagues/InviteColleagues" class="btn-default btn-cases" title="Invite Colleague" data-toggle="tooltip" data-placement="bottom"><i class="ico-search-colleague"></i>Invite Colleague</a>
                            </div>
                        </div>
                        <div class="col col-lg-4 col-md-5 col-sm-6 col-xs-6 col-lg-pull-8 col-md-pull-7 col-sm-pull-6 col-xs-pull-6 hide-on-phones">
                            <h1 class="inline">Add Colleagues</h1>
                        </div>
                    </div>

                </div>
            </div>

            @*<div class="row referral mrgn-btm-20">
                    <div class="col-lg-12 ">
                        <div class="row fve_button">
                            <div class="col col-lg-7 col-md-12 col-sm-12 col-xs-12 search-field-section">
                                <input type="text"  name="Keyword" id="Keywords" class="form-control" value="Search by name, city, state, zip code, email, practice name, etc" onblur="if (this.value == '') { this.value = 'Search by name, city, state, zip code, email, practice name, etc'; }" onfocus="if (this.value == 'Search by name, city, state, zip code, email, practice name, etc') { this.value = ''; }">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" id="search_btn" onclick="return SearchOnKeyword()" type="submit"><i class="icon-search"></i></button>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>*@
            <div id="filterdiv">
                <div class="row referral mrgn-btm-20">
                    <div class="col-lg-12 ">
                        <div class="row fve_button">
                            @*<div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 inline">
                                    <div id="SearchKeyWordId" style="display:none"> <h2 class="inline"></h2></div>
                                </div>*@
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-12 ">
                        <div class="row">
                            <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-3 search-field-section mrgn-btm-20">
                                <input placeholder="Name" type="text" id="Nametxt">
                            </div>
                            <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-3 search-field-section mrgn-btm-20">
                                <input placeholder="Email" type="text" id="Emailtxt">
                            </div>
                            <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-3 search-field-section mrgn-btm-20  numericOnly">
                                <input placeholder="Phone" type="text" id="Phonetxt" maxlength="10">
                            </div>
                            <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-3 search-field-section mrgn-btm-20">
                                <input placeholder="School" type="text" id="Schooltxt">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 ">
                        <div class="row">
                            <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-3 search-field-section mrgn-btm-20">
                                <input placeholder="Speciality" type="text" id="Specialitytxt">
                            </div>
                            <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-3 search-field-section mrgn-btm-20">
                                <input placeholder="City" type="text" id="Citytxt">
                            </div>
                            <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-3 search-field-section mrgn-btm-20">
                                <input placeholder="State" type="text" id="Statetxt">
                            </div>
                            <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-3 search-field-section mrgn-btm-20 numericOnly">
                                <input placeholder="Zip" type="text" id="Ziptxt" maxlength="6">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mrgn-btm-20">
                    <div class="col-lg-12">
                        <div class="btn-group btn-holder">
                            <a href="javascript:;" class="btn btn-default btn1" onclick="clearfilter()"><i class="ico-corss2"></i>Clear</a>
                            <a href="javascript:;" class="btn btn-default btn2" onclick="SearchColleaguesByFilter()"><i class="ico-edit4"></i>Submit</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mrgn-btm-20">
                <div class="col-lg-12 ">
                    <div class="row fve_button" id="appendColleague">
                        @Html.Partial("_PartialSearchColleague")
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
<input type="hidden" id="searchtext" value="" />
<input type="hidden" id="searchcolleagepageindex" value="1" />

<form action="@Url.Action("Index", "Profile")" method="post" id="frmViewProfile" target="_blank">
    <input type="hidden" name="hdnViewProfile" id="hdnViewProfile" value="" />
</form>


<script type="text/javascript">

    //function DefaultClick(event) {
    //    if (event.keyCode == 13) {
    //        $('#btnsubmit').click();
    //    }
    //}

    $(document).ready(function () {
        bindScrollHandler();
    });

    function SearchOnKeyword() {
        $('#search_btn').blur();
        var keyword = $('#Keywords').val();
        if (keyword == "" || keyword == "Search by name, city, state, zip code, email, practice name, etc") {
            // swal({ title: "", text: 'Please enter keyword' });
            //$.toaster({ priority: 'warning', title: 'Notice', message: 'Please enter keyword.' });
            keyword = "";
        }
        SearchKeywords(1, keyword)
        $("#filterdiv").show();
    }


    $('#Keywords').keypress(function (e) {
        if (e.keyCode == 13) {
            SearchOnKeyword()
        }
    });

    function SearchKeywords(PageIndex, KeyWord) {
        
        //$("#fillsearchKeyword").text("Search Keyword:- " + KeyWord);
        $("#divLoading").show();
        $.ajaxSetup({ async: false });
        $.post("/colleagues/NewSearchColleaguesOption", { userid: null, pageindex: PageIndex, pagesize: 15, name: null, email: null, phone: null, city: null, state: null, zipcode: null, institute: null, specialtitylist: null, Keywords: KeyWord },
            function (data) {
                if (data != '') {
                    $("#appendColleague").html(data);
                }
                else {
                    $("#appendColleague").html('');
                }
            });

        $("#divLoading").hide();
        $(window).scrollTop(0);
        $.ajaxSetup({ async: true });
    }

    function SearchColleaguesResultOnscroll() {
        
        $.ajaxSetup({ async: false });
        var datalist = '';
        var PageIndex = $('#searchcolleagepageindex').val();
        if (PageIndex == "-1") {
            return "";
        }
        else {
            PageIndex = parseInt(PageIndex) + parseInt(1);
            var search = $("#Keywords").val();
            var Name = $("#Nametxt").val();
            var Email=$("#Emailtxt").val();
            var phone=$("#Phonetxt").val();
            var City=$("#Citytxt").val();
            var State=$("#Statetxt").val();
            var Zipcode=$("#Ziptxt").val();
            var Institute=$("#Schooltxt").val();
            var SpecialtityList=$("#Specialitytxt").val();
            if(Name==null || Name=='')
            {
                Name=''
            }
            if(Email==null || Email=='')
            {
                Email=''
            }
            if(phone==null || phone=='')
            {
                phone=''
            }
            if(City==null || City=='')
            {
                City=''
            }
            if(State==null || State=='')
            {
                State=''
            }
            if(Zipcode==null || Zipcode=='')
            {
                Zipcode=''
            }
            if(Institute==null || Institute=='')
            {
                Institute=''
            }
            if(SpecialtityList==null || SpecialtityList=='')
            {
                SpecialtityList=''
            }
            if (search == null || search == '')
            {
                search = '';
            }
            
            var keyword = $("#Keywords").val();
            if (keyword == "Search by name, city, state, zip code, email, practice name, etc")
            {
                keyword = '';
            }


            //var keywords = $(".search_listing").data("keywords");
            $.ajax({
                url: "/colleagues/NewSearchColleaguesResultOnscroll",
                type: "POST",
                data: { PageIndex: PageIndex, Name: Name, Email: Email, phone: phone, City: City, State: State, Zipcode: Zipcode, Institute: Institute, SpecialtityList: SpecialtityList, Search: null, Keywords: keyword },
                success: function (data)
                {
                    
                    var Data = data.toString();
                    if (Data.indexOf('<center><span id="no_more">No more recored found.</span></center>') > -1)
                    {
                        $('#searchcolleagepageindex').val("-1");

                    }
                    else {
                        $('#searchcolleagepageindex').val(PageIndex);
                    }
                    datalist = data;
                }

            });
        }
        $.ajaxSetup({ async: true });
       return datalist;
    }

    function bindScrollHandler() {
        $(window).scroll(function () {
            if ($(document).height() - $(window).height() == $(window).scrollTop()) {
                var data = SearchColleaguesResultOnscroll().toString();
                if ($('#no_more').text() != 'No more record found.') {
                        $('#appendColleague').append(data);
                    }
                    else
                {
                    
                        //$('#appendColleague').append('No more record found');
                        //$('#appendColleague').append('<center><span id="no_more">No more recored found.</span></center>');
                    $('#searchcolleagepageindex').val(-1);

                }
                bindScrollHandler();
               }
            else {
            }
        });
    }

    function AddColleagues(id) {
        $("#divLoading").show();
        $.post("/Common/CheckAuthorizationByFeature",
                                       { FeatureId: @Convert.ToInt32(BO.Enums.Common.Features.Colleagues)}, function (data) {
                                           if (data == true) {
                                               $.ajaxSetup({ async: false });
                                               $("#divLoading").show();
                                               setTimeout(function () {
                                                   $.post("/colleagues/AddAsColleague", { ColleagueId: id },
                                                       function (data) {
                                                           if (data != '') {

                                                               if (data == "0") {
                                                                   //alert('Failed Add As Colleague.');
                                                                   //swal({ title: "", text: 'Failed Add As Colleague.', type: 'error' });
                                                                   $.toaster({ priority: 'warning', title: 'Notice', message: 'Failed Add As Colleague.' });
                                                                   return false;
                                                               }
                                                               else {
                                                                   $.toaster({ priority: 'success', title: 'Notice', message: 'Successfully added as colleague.' });
                                                                   setTimeout(function ()
                                                                   {
                                                                       $('#row_' + id).remove();
                                                                   }, 4000)

                                                                   setTimeout(function () {
                                                                       //Update Date: 07 - 02 - 2019 with  Jira ID: RM - 322
                                                                       //window.location.reload();
                                                                       window.location = "Index2";
                                                                   },1000);
                                                               }

                                                           }

                                                       });
                                                   $("#divLoading").hide();
                                               },2000);
                                               $.ajaxSetup({ async: true });

                                           } else {
                                               $("#divLoading").hide();
                                               swal({ html: true, title: "Upgrade Membership", text: 'Please <a href="/FreeToPaid/UpgradeAccount">upgrade</a> your membership to be able to add more colleagues.' });
                                               //$("#upgradeProfile").html(data)

                                           }
                                       });
    }

    function SearchColleaguesByFilter()
    {
        
        var keyword = $('#Keywords').val();
        if (keyword == '' || keyword =='Search by name, city, state, zip code, email, practice name, etc')
        {
            keyword = '';
            $("#SearchKeyWordId").hide();
        }
        else
        {
            $("#SearchKeyWordId").html('');
            $("#SearchKeyWordId").append('Search Keyword:- '+ keyword);
            $("#SearchKeyWordId").show();
        }
        $("#divLoading").show();
        $.ajaxSetup({ async: false });
        $.post("/colleagues/NewSearchColleaguesOption", {
            userid: null, pageindex: 1, pagesize: 15, name: $("#Nametxt").val(), email: $("#Emailtxt").val(), phone: $("#Phonetxt").val(), city: $("#Citytxt").val(), state: $("#Statetxt").val(), zipcode: $("#Ziptxt").val(), institute: $("#Schooltxt").val(), specialtitylist: $("#Specialitytxt").val(), Keywords: keyword},
            function (data) {
                if (data != '') {
                    $("#appendColleague").html(data);
                }
                else {
                    $("#appendColleague").html('');
                }
            });

        $("#divLoading").hide();
        $(window).scrollTop(0);
        $.ajaxSetup({ async: true });
    }

    function clearfilter()
    {
        $("#Nametxt").val('');
        $("#Emailtxt").val('');
        $("#Phonetxt").val('');
        $("#Citytxt").val('');
        $("#Statetxt").val('');
        $("#Ziptxt").val('');
        $("#Schooltxt").val('');
        $("#Specialitytxt").val('');
        $("#Keywords").val('Search by name, city, state, zip code, email, practice name, etc');
        //$("#SearchKeyWordId").html('');
        //$("#filterdiv").hide();

    }

    $('#Nametxt,#Emailtxt ,#Phonetxt ,#Citytxt , #Statetxt , #Ziptxt ,#Schooltxt ,#Specialitytxt').on("keypress", function (e) {
        if (e.keyCode == 13) {
            SearchColleaguesByFilter();
        }
    });


</script>