﻿@model NewRecordlinc.Models.Colleagues.mdlColleagues
<h2 class="title">
    Suggest a change</h2>
<div class="cntnt">
    <button class="mfp-close" type="button" title="Close (Esc)">
        ×</button>
    <ul class="tablelist">
        <li>
            <label>
                Suggestion:</label><textarea rows="3" id="txtSuggestion"></textarea>
        </li>
    </ul>
    <div class="actions">
        <input class="send_btn" name="Send" type="button" value="Send" onclick="SuggestChange('@Model.ColleagueId')">
        <input class="cancel_btn" name="Cancel" type="button" value="Cancel" onclick="ClosePopup()">
        <div class="clear">
            
        </div>
    </div>
</div>
