﻿@{
    var user = Context.Request.Query["user"];
}
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<div class="sidebar">
    <button id="btnCreateChatLauncher" type="button" class="btn btn-success" data-toggle="modal" data-target="#createChatModal"> <i class="fas fa-plus-circle"></i> Create Chat</button>
    <hr />
    <nav id="chatsContainer" class="sidebar-nav">
    </nav>
</div>


<script>

    function LoadSessions() {
         $.get("@Configuration["ApplicationRoot"]/Home/Sessions?user=@user", function (data) {
            $("#chatsContainer").html(data);
        });
    }
    $(function () {
        LoadSessions();
        $("#btnCreateChatLauncher").on("click", function (e) {
            e.preventDefault();
            $("#createChatModal").modal({
                keyboard: false,
                backdrop: 'static'
            })
        })
    });
</script>



<div class="modal fade" id="createChatModal" tabindex="-1" role="dialog" aria-labelledby="createChatModelLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Chat</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="frmAddChat">
                    <div id="validation" style="display:none;" class="alert alert-danger"></div><br />
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Participants:</label>
                        <select required class="form-control" id="Participant" name="Participant"></select>
                        <script>
                            // <select id="select-movie"></select>
                            $('#Participant').selectize({
                                valueField: 'Username',
                                labelField: 'FullName',
                                searchField: 'FullName',
                                maxItems: null,
                                create: false,
                                render: {
                                    item: function (item, escape) {
                                        return '<div>' +
                                            (item.FullName ? '<span class="name">' + escape(item.FullName) + '</span>' : '') +
                                            (item.Username ? '<span class="email"> (' + escape(item.Username) + ')</span>' : '') +
                                            '</div>';
                                    },
                                    option: function (item, escape) {
                                        var label = item.FullName || item.Username;
                                        var caption = item.FullName ? item.Username : null;
                                        return '<div>' +
                                            '<span class="label">' + escape(label) + '</span>' +
                                            (caption ? '<span class="caption"> (' + escape(caption) + ')</span>' : '') +
                                            '</div>';
                                    }
                                },
                                load: function (query, callback) {
                                    if (!query.length) return callback();
                                    $.ajax({
                                        url: "@Configuration["ApplicationRoot"]/Home/MemberLookup",
                                        type: 'GET',
                                        dataType: 'json',
                                        data: {
                                            q: query
                                        },
                                        error: function () {
                                            callback();
                                        },
                                        success: function (res) {
                                            console.log(res);
                                            callback(res);
                                        }
                                    });
                                }
                            });
                        </script>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Description:</label>
                        <textarea class="form-control" id="Description" name="Description"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="btnAddChat" type="button" class="btn btn-primary" data-loading-text="Processing...">Create Chat</button>
                <script>
                    // Loading button plugin (removed from BS4)
                    (function ($) {
                        $.fn.button = function (action) {
                            if (action === 'loading' && this.data('loading-text')) {
                                this.data('original-text', this.html()).html(this.data('loading-text')).prop('disabled', true);
                            }
                            if (action === 'reset' && this.data('original-text')) {
                                this.html(this.data('original-text')).prop('disabled', false);
                            }
                        };
                    }(jQuery));

                    function objectifyForm(formArray) {//serialize data function

                        var returnArray = {};
                        for (var i = 0; i < formArray.length; i++) {
                            returnArray[formArray[i]['name']] = formArray[i]['value'];
                        }
                        return returnArray;
                    }

                    $("#btnAddChat").on("click", function (e) {
                        e.preventDefault();
                        $(this).button("loading");
                        var data = {};
                        data.Participants = $("#Participant").val();
                        data.Description = $("#Description").val();

                        var valid = true;
                        if (data.Participants.length < 1) {
                            $("#validation").css("display", "inline").html("At least one participant is required.");
                            valid = false;
                            $(this).button("reset");
                        } else {
                            $("#validation").css("display", "none");
                        }

                        if (data.Participants.length > 1) {
                            if (data.Description.length < 3) {
                                $("#validation").css("display", "inline").html("Description is required when more than 1 participant is selected.");
                                valid = false;
                                $(this).button("reset");
                            } else {
                                $("#validation").css("display", "none");
                            }
                        }

                        if (valid) {
                            $.post("@Configuration["ApplicationRoot"]/Home/AddSession?user=@user", data, function (data) {
                                $("#btnAddChat").button("reset");
                                $('#createChatModal').modal('toggle');
                                LoadSessions();
                                LoadSession(data, data.Participants.join(","));

                            }, "json");
                        }
                    });
                </script>
            </div>
        </div>
    </div>
</div>
