﻿.ui-button-text {
    box-sizing: unset !important;
}

.search_main_div {
    display: none;
}

.ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text {
    padding-left: 0px !important;
}

.ui-widget-header {
    background-image: none !important;
}

    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
        background-image: none !important;
    }

.header {
    border-bottom-color: rgb(144, 188, 221) !important;
    border-bottom-style: solid !important;
    border-bottom-width: 1px !important;
}

.ui-icon {
    display: none !important;
}

.blockborder {
    border-right: 1px solid #dcdcdc !important;
}

.panel .block {
    margin: 0 !important;
    padding: 0 3.4% 40px !important;
}

.teeth_listing2 {
    width: 62%;
    margin: 0 auto !important;
}

@media only screen and (max-width: 449px) {
    ul.teeth_listing li {
        width: 14px !important;
    }

    .panel .block {
        width: 49% !important;
        padding: 23px 0 40px !important;
    }

        .panel .block p {
            font-size: 11px !important;
        }
}

@media only screen and (min-width:450px) and (max-width: 568px) {
    ul.teeth_listing li {
        width: 20px !important;
    }

    .panel .block {
        width: 49% !important;
        padding: 23px 0 40px !important;
    }

        .panel .block p {
            font-size: 12px !important;
        }
}

@media only screen and (min-width:569px) and (max-width: 668px) {
    ul.teeth_listing li {
        width: 27px !important;
    }

    .panel .block {
        width: 49% !important;
        padding: 23px 0 40px !important;
    }

        .panel .block p {
            font-size: 12px !important;
        }
}

@media only screen and (min-width:669px) and (max-width: 768px) {
    ul.teeth_listing li {
        width: 33px !important;
    }

    .panel .block {
        width: 49% !important;
        padding: 23px 0 40px !important;
    }

        .panel .block p {
            font-size: 17px !important;
        }
}

@media only screen and (min-width:769px) and (max-width: 825px) {
    ul.teeth_listing li {
        width: 38px !important;
    }

    .panel .block {
        width: 49% !important;
        padding: 23px 0 40px !important;
    }

        .panel .block p {
            font-size: 12px !important;
        }
}

@media only screen and (min-width:825px) and (max-width: 925px) {
    ul.teeth_listing li {
        width: 42px !important;
    }

    .panel .block {
        width: 49% !important;
        padding: 23px 0 40px !important;
    }

        .panel .block p {
            font-size: 15px !important;
        }
}

@media only screen and (min-width:925px) and (max-width: 1025px) {
    ul.teeth_listing li {
        width: 48px !important;
    }

    .panel .block {
        width: 49% !important;
        padding: 23px 0 40px !important;
    }

        .panel .block p {
            font-size: 15px !important;
        }
}

@media only screen and (min-width:1025px) and (max-width: 1200px) {
    ul.teeth_listing li {
        width: 43px !important;
    }

    .panel .block {
        width: 49% !important;
        padding: 23px 0 40px !important;
    }

        .panel .block p {
            font-size: 15px !important;
        }
}

@media only screen and (min-width:1200px) and (max-width: 1323px) {
    ul.teeth_listing li {
        width: 53px !important;
    }

    .panel .block {
        width: 49% !important;
        padding: 23px 0 40px !important;
    }

        .panel .block p {
            font-size: 17px !important;
        }
}

@media only screen and (min-width:1324px) and (max-width: 1500px) {
    ul.teeth_listing li {
        width: 60px !important;
    }

    .panel .block {
        width: 49% !important;
        padding: 23px 0 40px !important;
    }

        .panel .block p {
            font-size: 16px !important;
        }
}

@media only screen and (min-width:1500px) and (max-width: 1920px) {
    ul.teeth_listing li {
        width: 72px !important;
    }

    .panel .block {
        width: 49% !important;
        padding: 23px 0 40px !important;
    }

        .panel .block p {
            font-size: 16px !important;
        }
}

@media only screen and (min-width:1920px) and (max-width: 2560px) {
    ul.teeth_listing li {
        width: 72px !important;
    }

    .panel .block {
        width: 49% !important;
        padding: 23px 0 40px !important;
    }

        .panel .block p {
            font-size: 16px !important;
        }
}

.form_row .form_block .form_block_label, .form_row .form_block .input_fill_area {
    transition: all 0.3s ease-out 0s;
    float: left;
}

    .form_row .form_block .form_block_label label {
        font-size: 16px;
        color: #fff;
        background: #1596C7;
        text-align: center;
        cursor: pointer;
    }

.form_row .form_block.hide-input .form_block_label {
    width: 100%;
    padding-right: 0;
    text-align: center;
    cursor: pointer;
}

    .form_row .form_block.hide-input .form_block_label label {
        cursor: pointer;
        color: #535353;
        background: none;
        border: solid 1px #1596C7;
    }

        .form_row .form_block.hide-input .form_block_label label:hover {
            color: #fff;
            background: #1596C7;
        }

.form_row .form_block.hide-input .input_fill_area {
    overflow: hidden;
    width: 0;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, textarea, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0 none;
    font-family: Helvetica,Arial,sans-serif;
    font-feature-settings: inherit;
    font-kerning: inherit;
    font-language-override: inherit;
    font-size: inherit;
    font-size-adjust: inherit;
    font-stretch: inherit;
    font-style: inherit;
    font-synthesis: inherit;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

p {
    font-size: 16px;
    line-height: 18px;
}

h5 {
    color: #333333;
    font-size: 18px;
    font-weight: normal;
    line-height: 20px;
}

.table_container {
    margin: 25px 0;
}

/*h4.sub_title  {
        border-bottom: 1px solid #c6d9e5;
        color: #0890c4;
        font-size: 20px;
        padding: 5px 0 10px;
        position: relative;
    }*/
h4.sub_title label {
    /*border-bottom: 1px solid #c6d9e5;*/
    color: #0890c4;
    font-size: 20px;
    padding: 5px 0 10px;
    position: relative;
}

h4.sub_title {
    cursor: default !important;
}

    h4.sub_title label {
        cursor: pointer;
    }

.sub_title + p {
    margin: 20px 0;
}

.visuals {
    text-align: center;
}

.panel {
    border: 1px solid #dcdcdc;
    font-size: 0;
}

.visuals .left {
    width: 100% !important;
}

.panel h5 {
    background: #666666;
    color: #fff;
    padding: 10px;
    text-align: left;
}

.panel .block {
    display: inline-block;
    /*display: inline;*/
    vertical-align: top;
    padding: 25px 10px 40px 10px;
    width: 246px;
}

.visuals .right.panel {
    float: none !important;
}

.right.panel .block {
    width: 175px;
}

.panel .block p {
    color: #333333;
    margin: 15px 0px 2px 0px !important;
}

ul.teeth_listing {
    font-size: 0;
    text-align: center;
}

    ul.teeth_listing li {
        display: inline-block;
        height: auto !important;
        vertical-align: top;
        width: 30px;
    }

        ul.teeth_listing li a {
            background: url(Content/images/teeth.png) 0 0 no-repeat;
            font-size: 16px;
            color: #fff;
            display: block;
            padding: 7px 5px 18px;
            transition: none;
        }

            ul.teeth_listing li.active a, ul.teeth_listing li a.atemp:hover {
                background: url(Content/images/teeth.png) -30px 0 no-repeat;
            }

.clear {
    clear: both;
    font-size: 0;
    height: 0;
    line-height: 0;
}

@media (max-width: 992px) {
    .visuals .right {
        margin-left: 0px;
        margin-top: 15px;
        width: 100%;
        clear: both;
        float: left;
    }

    .visuals .left {
        width: 100%;
        float: left;
        clear: both;
    }
}

 label {
    font-weight: normal;
}

a:hover, a:focus {
    text-decoration: none;
}
.check_listing > li > label {
    font-size: 16px;
}

ul.check_listing > li .small {
    -moz-box-sizing: content-box;
    height: auto;
    font-size: 13px;
}

ul.list li {
    line-height: 12px;
}

