#accordion-container{ width:51.33%; display:inline-block; *display:inline;}
.accordion-header {
	font-size: 16px;		
	padding: 5px;	
	cursor: pointer;	
	color:#333333;
}
.accordion-header:first-child{margin-top:0}
#accordion-container p{ font-size:14px; line-height:18px; margin:0;}

.active-header {
	background: url(../../Content/images/accord-sep.png) 43px 0 repeat-y #5b7485;	
	border:1px solid #5b7485;
	color: #ffffff;
	margin-top:20px;
}
.active-header i.accord, .active-header:hover i.accord, .inactive-header:hover i.accord{background-position:-269px -46px;}
.active-header:hover {
	background: url(../../Content/images/accord-sep.png) 43px 0 repeat-y #0591c5;	
	border:1px solid #0591c5;	
}

.inactive-header {
	background: url(../../Content/images/accord-sep.png) 43px 0 repeat-y #ffffff;		
	border:1px solid #C2C2C2;
	margin-top:20px;
}

.inactive-header:hover {
	background: url(../../Content/images/accord-sep.png) 43px 0 repeat-y #5b7485;	
	color:#ffffff;
}

.accordion-content {
	display: none;
	padding: 15px;		
	border-top: 0;	
	border:1px solid #C2C2C2;
	
}

.active-header i.attach_files, .active-header:hover i.attach_files, .inactive-header:hover i.attach_files{background-position:-306px -46px;}
.active-header i.attach_patient, .active-header:hover i.attach_patient, .inactive-header:hover i.attach_patient{background-position:-336px -46px;}