

div.cs-skin-elastic {
	background: transparent;
	font-size: 14px;
	font-weight: 700;
	color: #5b8583;
    line-height: 0;
}


.cs-skin-elastic > span {
	background-color: #fff;
	z-index: 100;
}

.cs-skin-elastic > span::after {
	font-family: 'icomoon';
	content: '\e005';
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.cs-skin-elastic .cs-options {
	overflow: visible;
	background: transparent;
	opacity: 1;
	visibility: visible;
	padding-bottom: 5px;
	pointer-events: none;
}

.cs-skin-elastic.cs-active .cs-options {
	pointer-events: auto;
}

.cs-skin-elastic .cs-options > ul::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	
	background: #fff;
}

.cs-skin-elastic .cs-options ul li {
	opacity: 0;
}

.cs-skin-elastic.cs-active .cs-options ul li {
	opacity: 1;
      padding: 6px;
      font-weight:normal !important;
}


.cs-skin-elastic .cs-options span {
	background-repeat: no-repeat;
	background-position: 1.5em 50%;
	background-size: 2em auto;
	padding-bottom: 10px;
    padding-left: 14px;
    padding-right: 1em;
    padding-top: 11px;
}

/* Default custom select styles */
div.cs-select {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	text-align: left;
	background: #fff;
	z-index: 100;
    float: left;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
    color: rgb(24, 147, 224);
    font-weight:normal !important;
    width:140px;
    margin-left:3px;
}

div.cs-select:focus {
	outline: none; /* For better accessibility add a style for this in your skin */
}
.cs-select select {
	display: none;
}
.cs-select span {
	display: block;
	position: relative;
	cursor: pointer;
	padding-bottom: 1em;
    padding-top: 1em;
    padding-right: 1em;
    padding-left: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Placeholder and selected option */
.cs-select > span {
	padding-right: 3em;
}

.cs-select > span::after,
.cs-select .cs-selected span::after {
	speak: none;
	position: absolute;
	top: 48%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.cs-select > span::after {
	content: '\25BE';
	right: 25px;
    color: rgb(24, 147, 224);
}

.cs-select .cs-selected span::after {
	content: '\2713';
	margin-left: 1em;
}

.cs-select.cs-active > span::after {
	-webkit-transform: translateY(-50%) rotate(180deg);
	transform: translateY(-50%) rotate(180deg);
}

div.cs-active {
	z-index: 200;
}

/* Options */
.cs-select .cs-options {
	position: absolute;
	overflow: hidden;
	width: auto;
	background: #fff;
	visibility: hidden;
    box-shadow: 0 0 6px 0 rgb(102, 102, 102);
}

.cs-select.cs-active .cs-options {
	visibility: visible;
}

.cs-select ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

.cs-select ul span {
	padding: 1em;
}

.cs-select ul li.cs-focus span {
	background-color: #ddd;
}

/* Optgroup and optgroup label */
.cs-select li.cs-optgroup ul {
	padding-left: 1em;
}

.cs-select li.cs-optgroup > span {
	cursor: default;
}

/* Demo themes */

.color-3 { background: #00b6ad; color: #fff; text-align: center;}
.color-3 a { color: #04706b; }
.color-3 a:hover, .color-3 a:focus { color: #03514d; }


@media all and (max-width: 520px) {
 .alphabet {
    float: right;
    width: 62% !important;
}

.alphabet a {
    border-right-color: rgb(204, 204, 204)!important;
    border-right-style: solid!important;
    border-right-width: 1px!important;
}
}