@charset "utf-8";
/* CSS Document */

.panel_7{ width:18%;}
.panel_8{ width:18%;}
.panel_9{ width:17%;}



/* My Dental Files Pages Styling for IE8, * for IE7 */
ul.etabs li{*margin-right:2px;}
ul.disp_inline{width:68%;}
.demo_video{border:1px solid #cccccc;}
.backrend_listing ul li{*display:inline;} 
.loginbtn, .signupbtn, .loginpop{*float:left;}
.right_side_links{*float:right!important; *width:20%}
.row-nav nav{*display:inline-block;}
.sign_steps ul li{ *zoom:1;}
.sign_steps ul input[type="submit"]{*display:block}
.sign_steps p{line-height:20px;}
