.price-page {
    font-family: Helvetica, Arial, sans-serif;
}
#free_trial .textfield.fname,
#free_trial .textfield.lname {
    width: 48%;
    box-sizing: border-box;
}
#free_trial .textfield.lname {
    float: right;
}
.price_tables * {
    box-sizing: border-box;
}
.features_block {
    border: 1px solid #c8c8c8;
    width: 200px;
    text-align: right;
    background: #fff;
    float: left;
}
.features_block .price_info,
.price_block .price_info {
    background: #10abed;
    color: #fff;
    padding: 50px 20px;
    position: relative;
    min-height: 185px;
    display: block;
}
.price_block.paid .price_info {
    padding: 60px 5px;
}
.price_block .price_info:before {
    position: absolute;
    left: 0;
    top: 6px;
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.3);
    content: '';
}
.price_block .price_info:after {
    position: absolute;
    left: 0;
    bottom: 6px;
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.3);
    content: '';
}
.general .price_info {
    background: #1379b0;
}
.special .price_info {
    background: #17335c;
}
.features_block .price_info span,
.price_block .price_info span {
    position: relative;
    display: inline-block;
    font: 700 45px/50px oswald;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .8)
}
.price_block .price_info p {
    font: 14px/16px open sans;
    width: 100%;
    padding-top: 20px;
}
.price_block {
    background: #ffffff;
    border: 1px solid #c8c8c8;
    border-left: none;
    display: table-cell;
    min-width: 200px;
    text-align: center;
    width: 33.333%;
}
.features_block ul,
.price_block ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.features_block ul li {
    color: #666666;
    font-size: 14px;
    line-height: 50px;
    letter-spacing: 1px;
}
.features_block ul li a {
    color: #666666;
    text-decoration: none;
}
.features_block ul li,
.price_block ul li {
    border-top: 1px solid #dedfdf;
    height: 50px;
    line-height: 50px;
    padding: 0 7px;
}
.features_block ul li img,
.price_block ul li img {
    max-width: 100%;
    width: auto;
}
.price_block ul li {
    color: #3c3c3c;
    font-size: 14px;
    line-height: 50px;
    letter-spacing: 1px
}
.features_block label,
.price_block label {
    text-align: left;
    padding: 15px 20px;
    display: block;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #3e3e3e;
}
.price_block .price_info sup {
    text-transform: capitalize;
    position: absolute;
    font: 18px/17px open sans;
    top: 4px;
    left: -10px;
}
.price_block .price_info sub {
    text-transform: capitalize;
    position: absolute;
    font: 15px/18px open sans;
    bottom: 0;
}
.feature_head {
    padding: 0 20px 0 20px;
   
}
.feature_head h3 {
    font: 700 28px/32px oswald;
    text-transform: uppercase;
    color: #323131;
    line-height: 311px;
}
.feature_head p {
    font: 13px/18px open sans;
    color: #7c7c7c;
}
.price-page .content {
    text-align: center;
    width: 100%;
    padding-right: 0px;
}
.price_tables {
    float: left;
    margin: 40px 0 50px 0;
    width: 100%;
    position: relative;
}
.select-list select {
    width: 100%;
}
.select-list select {
    -moz-appearance: none;
    -webket-appearance: none;
    appearance: none;
}
.plans {
    padding: 10px;
    display: block;
    min-height: 60px;
}
.plans .select-list select {
    
    font-size: 12px;
}
.plans .select-list select option {
    padding: 4px;
}
.plans .select-list {
    background: none;
    background: #fff;
    margin-bottom: 0px;
    /*padding-right: 25px;*/
}
.price_tables .button_panel img {
    margin: 10px 0 10px 0;
}
.price_block {
    position: relative;
}
.price_block .redFlagMessage {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9
}
.scrollDivMain {
    margin-left: 200px;
    overflow-x: auto;
    overflow-y: hidden;
}
.features_block ul li a {
    color: #666666;
}

.features_block ul li a:hover {
    color: #10ABED;
}
@media only screen and (max-width: 767px) {
    .price_tables .container {
        padding: 0;
        margin: 0 !important;
    }
    .features_block {
        left: 0;
        position: absolute;
        top: 0;
        width: 170px;
    }
    .features_block ul li,
    .price_block ul li {
        padding: 0 5px;
        font-size: 12px;
    }
    .scrollDivMain {
        margin-left: 170px;
        overflow-x: auto;
    }
    .feature_head h3 {
        margin-top: 130px;
    }
}
@media only screen and (max-width: 479px) {
    .features_block {
        width: 150px;
    }
    .scrollDivMain {
        margin-left: 150px;
    }
    .features_block ul li {
        display: table;
        line-height: normal;
        width: 100%;
    }
    .features_block ul li span,
    .features_block ul li a {
        display: table-cell;
        vertical-align: middle;
    }
}
