/*======================
	Pricing page CSS
======================*/
#inner.price-page {
	background: url(../images/pricing-page/plans-btm.png) center bottom no-repeat;
	padding-bottom: 0;
}
.price-page .content {
	width: 100%;
	padding-right: 0;
	text-align: center;
}
.price-page h2.title {
	font-weight: bold;
}
#inner .price-page p {
	font-size: 17px;
	line-height: 26px;
}
.price-plans {
	margin: 70px 0 75px 0;
}
.price-plans .plans {
	width: 33%;
	float: left;
	padding: 30px 0;
	background: #fff;
}
.price-plans .plans.featured {
	background: #17335c;
	color: #fff;
	padding: 60px 0;
	margin-top: -30px;
}
.plans-hd {
	padding: 0 15px;
}
.plans-hd h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 39px;
	line-height: 40px;
	color: #000;
	word-wrap: break-word;
}
.featured .plans-hd h1 {
	color: #10abed;
}
#inner .plans-hd p {
	font-size: 22px;
	color: #10abed;
	margin: 10px 0;
}
#inner .featured .plans-hd p {
	color: #fff;
}
#inner .plans-hd p.price-tag {
	/*background: url(../images/pricing-page/featured-plan-hd-bg.png) center no-repeat;
	background-size: cover;
	height: 102px;
	line-height: 90px;
	max-width: 236px;*/
	background:#10ABED;
	font-family: "Open Sans", sans-serif;
	font-size: 40px;
	font-weight: bold;
	margin: 20px 0;
	padding: 20px 5px;
}
.select-list {
	background: url(../../Content/images/list-arrow.png) center right no-repeat #fff;
	overflow-x: hidden;
	border: solid 1px #c8c8c8;
	margin-bottom:15px;
}
.select-list select {
	width: 110%;
	border: none;
	background: none;
	padding: 5px 10px;
	font-size: 17px;
}
.select-list select span {
	float: right;
}
.select-list select option {
	border-bottom: 2px solid #d6d6d6;
	padding: 10px;
	cursor: pointer;
}
.buynow-btn {
	background: #10abed;
	border: none;
	display: block;
	width: 100%;
	font-family: "Open Sans", sans-serif;
	font-size: 30px;
	font-weight: bold;
	padding: 5px 10px;
	color: #fff;
	cursor: pointer;
}
#inner .plans-hd p.tag {
	font-size: 18px;
	color: #fff;
	background: url(../../Content/images/arrow-strip.png) center bottom no-repeat;
	padding-bottom: 9px;
	margin-top: 26px;
}
#inner .plans-hd p.tag span {
	background: #17335c;
	padding: 5px 10px;
	display: block;
}
.free-trail {
	margin: 0 0 19px 0;
}
.plans-details {
}
.plans-details li {
	line-height: normal;
	font-size: 16px;
	padding: 15px 15px;
	border-bottom: solid 1px #f2f2f2;
	text-align: left;
}
.plans-details li:last-child {
	border: none;
}
.featured .plans-details li {
	border-bottom: solid 1px #2f548a;
}
.plans-details li span {
	float: right;
	color: #10abed;
	font-size: 17px;
}
.plans-bottom {
	padding: 20px 0;
}
.plans-bottom .plans-bottom-col {
	padding: 0 2%;
	width: 29%;
	float: left;
	text-align: center;
}
.plans-bottom .plans-bottom-col p {
	font-size: 22px;
	line-height: normal;
	color: #000;
}
.signup-btn {
	text-align: center;
	padding: 50px 0;
}
@media only screen and (max-width: 767px) {
.price-plans .plans {
	width: 100%;
	margin-bottom: 40px;
	padding-bottom: 0;
}
.price-plans .plans.featured {
	margin-top: 0;
	padding: 30px 0 0 0;
}
.plans-hd h1 {
	font-size: 34px;
}
.free-trail {
	margin: 0;
}
.plans-bottom .plans-bottom-col p {
	font-size: 15px;
}
}
@media only screen and (max-width: 480px) {
.plans-bottom .plans-bottom-col {
	width: 96%;
	margin-bottom: 40px;
}
.plans-bottom .plans-bottom-col p {
	font-size: 20px;
}
}