/*  SECTIONS  */
* {
  box-sizing: border-box;
}
body{
	border-collapse: collapse;
    color: #666;
    font: 14px/18px Helvetica,Arial,sans-serif;
}
.toptitle {
    background-color: #1696c7;
    font-size: 20px;
	color:#fff;
	border: 0 none !important;
}
.tablesubrow {
    background-color: #d9d9d9 !important;
    color: #1696c7;
    font-size: 18px;
	border: 0 none !important;
	margin-top: 7px !important;
}
.tablesubrow p {
    font-size: 18px;
    margin: 0;
    padding-left: 40px;
}
.tablefirstcol2 p {
    font-size: 14px;
    margin: 0;
    padding-left: 40px;
}
.devsection {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.devcol {
	display: block;
	float:left;
	margin:0;
	border-bottom:1px solid #ccc;
	padding:10px;
}
.devcol:first-child { margin-left: 0; }

/*  GROUPING  */
.devgroup:before,
.devgroup:after { content:""; display:table; }
.devgroup:after { clear:both;}
.devgroup { zoom:1; /* For IE 6/7 */ }





/*  GRID OF TWELVE  */
.devspan12 {
	width: 100%;
}

.devspan11 {
  	width: 91.53%;
}
.devspan10 {
  	width: 83.06%;
}

.devspan9 {
  	width: 74.6%;
}

.devspan8 {
  	width: 66.13%;
}

.devspan7 {
  	width: 57.66%;
}

.devspan6 {
  	width: 50%;
      font-size:15px;
}

.devspan5 {
  	width: 40.73%;
}

.devspan4 {
  	width: 32.26%;
}

.devspan3 {
  	width: 23.8%;
}

.devspan2 {
  	width: 15.33%;
}

.devspan1 {
  	width: 6.866%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.devcol {  margin: 1% 0 1% 0%;  word-wrap: break-word;}
    
    .devspan1, .devspan2, .devspan3, .devspan4, .devspan5, .devspan6, .devspan7, .devspan8, .devspan9, .devspan10, .devspan11, .devspan12 {
	width: 100%; 
	border:1px solid #666;
	}
}