﻿
.usual {
    text-align: left;
}
#tab1, #tab2, #tab3 {
    background: none repeat scroll 0 0 #EBEBEB;
}
.usual ul {
    border-bottom: 5px solid #0691C5;
    clear: both;
    overflow: hidden;
}
.usual li {
    float: left;
    list-style: none outside none;
    margin: 0 0 0 1px;
}
.usual ul li:first-child {
    margin-left: 0;
}
.usual ul a {
    background: none repeat scroll 0 0 #B1BCCE;
    border-radius: 4px 4px 0 0;
    color: #666666;
    display: block;
    font-weight: bold;
    padding: 13px 15px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
.usual ul a:hover {
    background: none repeat scroll 0 0 #0691C5;
    color: #FFFFFF;
}
.usual ul a.selected {
    background: none repeat scroll 0 0 #0691C5;
    color: #FFFFFF;
    cursor: default;
    margin-bottom: 0;
}
.usual #tab1, .usual #tab2, .usual #tab3 {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: -moz-use-text-color #AAAAAA #AAAAAA;
    border-image: none;
    border-right: 1px solid #AAAAAA;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    clear: left;
    font-size: 14px;
    height: 480px;
    padding: 0;
    position: relative;
}
.usual #tab3 div#rssincl-box-798942 * {
    font-family: Helvetica,Arial,sans-serif;
}
.usual #tab3 div#rssincl-box-798942 div.rssincl-content div.rssincl-entry {
    padding: 10px;
}
.usual #tab3 div#rssincl-box-798942 div.rssincl-content div.rssincl-entry p.rssincl-itemtitle a {
    font-weight: normal;
    line-height: 16px;
    margin: 0;
    text-decoration: none;
}
.usual #tab3 div#rssincl-box-798942 div.rssincl-content div.rssincl-entry p.rssincl-itemtitle {
    color: #666666;
    font-size: 13px;
    line-height: 16px;
    margin: 5px 0;
}
.usual iframe body div {
    border: medium none !important;
}
.usual .bpost:first-child {
    margin: 0;
}
.bpost {
    background: url("../../Images/inner/separator.jpg") repeat-x scroll left top rgba(0, 0, 0, 0);
    padding: 10px;
}
.bpost:first-child {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.bpost span.date {
    color: #666666;
    display: block;
    font-size: 12px;
}
.bpost .btitle {
    color: #0691C5;
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: normal;
    margin: 5px 0;
    text-decoration: none;
}
#inner .bpost .post {
    color: #666666;
    font-size: 13px;
    line-height: 16px;
    margin: 0;
}
.usual .bottom {
    background: none repeat scroll 0 0 #0691C5;
    bottom: 0;
    height: 30px;
    left: 0;
    position: absolute;
    width: 100%;
}
.usual .bottom .more {
    margin-right: 10px;
}
.more {
    background: url("../../Images/inner/more.png") no-repeat scroll right center rgba(0, 0, 0, 0);
    color: #FFFFFF;
    display: inline-block;
    float: right;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    padding: 0 30px 0 0;
    text-decoration: none;
}
.usual #tab2 iframe, .usual #tab3 iframe {
    background: none repeat scroll 0 0 #FFFFFF;
    display: block;
    height: 480px;
    margin: 0 auto;
    overflow: hidden;
}
.fb-comments, .fb-comments iframe[style], .fb-like-box, .fb-like-box iframe[style], .fb-like-box > span, #tab3 div#rssincl-box-798942 {
    width: 100% !important;
}
#tab2 .twitter-timeline .var-narrow.var-chromeless .tweet {
    border-bottom: 1px dashed #B6B6B6 !important;
}
#tab2 .timeline .stream .h-feed {
    margin-right: 3px;
}
#tab1 iframe #facebook body .pluginSkinLight ._4s7c {
    border-color: #FF0000;
    display: none;
}
