.tool-container {
	background-color: #fff;	
	border-radius: 3px;
	box-shadow: 0px 0px 8px #dbdbdb;
	position: absolute;		
	width:130px;	
	margin-left:-50px;	
	margin-top:5px;	
	padding:10px;
	z-index:1040 !important;
}

.tool-container.tool-top, .tool-container.tool-bottom {	
	border-bottom: 1px solid #beb8b8 ; /* #B1A9A9 */
}

.tool-items {
	height: 100%;	
}
.tool-left .tool-item, .tool-right .tool-item {	
	border-top: 1px solid #e2dfdf;
	border-bottom: 1px solid #9f9898;
}

.tool-item {	
	color:#666666;
	font-size:12px;
	line-height:16px;
	display:block;
	padding:10px 10px 0 0;
	text-decoration:none; line-height:20px;
}
.tool-item:hover{color:#0691C5; text-decoration:underline;}
.tool-container .arrow {
	width:0;
	height:0;
	position: absolute;	
	border-width:7px;
	border-style:solid;
}
.tool-container.tool-bottom .arrow {
	border:none;  width:20px; height:13px;
	left: 80%!important;  
	top: -14px;
	margin-left: -7px;
}

.tool-container.quick_links ul li h2.title {
    border-bottom: 1px solid #0691C5;
    margin-bottom: 5px;
    padding-bottom: 0;
    text-transform: uppercase;
	font-weight:bold;
}

/* Quick Links Styling */

.tool-container.quick_links{width:360px; margin-left:-165px;}
.tool-container.quick_links .arrow{left:93%!important; border:none;  width:20px; height:13px;}
.tool-container.quick_links ul li{display:inline-block; *display:inline; width:48%; margin-left:10px; vertical-align:top;}
.tool-container.quick_links ul li:first-child{margin-left:0;}
.tool-container.quick_links ul li h2.title{padding-bottom:0; text-transform:uppercase; margin-bottom:5px; border-width:1px;}
.tool-container.quick_links ul li h2.title a{padding-left:0; color:#0691C5}
.tool-container.quick_links ul li h2.title a:hover{text-decoration:none;}

.tool-container.quick_links ul li a+h2.title{margin-top:5px;}
.tool-container.quick_links a{display:block; padding-right:0;} /*170*/


a.edit_profile {background: url(../images/edit_profile.png) no-repeat scroll 6px center; padding:5px 10px 5px 25px;}
a.my_accnt{background:url(../images/my_account.png) 6px center no-repeat; padding:5px 10px 5px 25px;}
a.refrls_rcvd{background:url(../images/referrals_received.png) 4px center no-repeat;}
a.refrls_sent{background:url(../images/referrals_sent.png) 4px center no-repeat;}
a.search_collg{background:url(../images/search-collg.png) 4px center no-repeat;}
a.invite_collg{background:url(../images/invite_collg.png) 4px center no-repeat;}
a.accnt_settings{background:url(../images/settings_accnt.png) 6px center no-repeat; padding:5px 10px 5px 25px;}
a.integration{background:url(../images/integration.png) 0px center no-repeat; padding:5px 10px 5px 25px;}
a.accnt_upgrade{background:url(../images/account-upgrade.png) 6px center no-repeat; padding:5px 10px 5px 25px;}
a.logout{background:url(../images/logout.png) #0991c5 6px center no-repeat; color:#fff; padding:5px 10px 5px 25px;}
a.logout:hover{color:#fff;}



.compose_icon span, .sent_icon span, .send_referrals_icon span, .edit_profile_icon span, .view_patients_icon span, .add_patients_icon span, .search_colleague_icon span, .invite_colleague_icon span, .patient_social_media_icon span, .colleague_social_media_icon span, .patient_contact_list_icon span, .colleague_contact_list_icon span, .referrals_history_icon span  {background:url(../images/quicklink-sprite_2.png) 0 0 no-repeat; float:left; width:30px; height:20px; }

.compose_icon span{background-position: -42px 0;   }
.sent_icon span{background-position: -77px 0;  }
.send_referrals_icon span{background-position: -113px 0; }
.edit_profile_icon span{background-position: -256px 0; }
.view_patients_icon span{background-position: -219px 0; }
.add_patients_icon span{background-position: -181px 0; }
.search_colleague_icon span{background-position: -290px 0; }
.invite_colleague_icon span{background-position: -145px 0; }

.patient_social_media_icon span{background-position: -326px 0; }
.colleague_social_media_icon span{background-position: -326px 0; }
.patient_contact_list_icon span{background-position: -365px 0; }
.colleague_contact_list_icon span{background-position: -398px 0; }
.referrals_history_icon span{background-position: 0 0; 	}
.accnt_upgrade_icon span {background:url(../images/icon-sprites.png) 0 -301px no-repeat; float:left; width:30px; height:20px;}









