﻿@model System.Data.DataTable
@using System.Data;
@{

    ViewBag.Title = "Appointment_Reports";
    Layout = "~/Views/Shared/_Master_Layout.cshtml";
}
@{
    Html.RenderPartial("_ToggleButtonNew");
}


<link href="~/Scripts/DataTables/css/jquery.dataTables.css" rel="stylesheet" />
@using (Html.BeginForm("Appointment_Reports", "ReportNew", FormMethod.Post, new { @class = "form-inline float-right" }))
{
    <div class="row" style="background-color:powderblue;height:50px">
        <div class="col-md-12">
            <div class="col-md-3"></div>
            <div class="col-md-2">
                <div style="padding-top:5px" class="text-right">
                    <div class="inner-menu reports_details">
                        @Html.TextBox("FromDate", "", new { @class = "form-control", @type = "date", @title = "Select From Date" })
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div style="padding-top:5px" class="text-left">
                    <div class="inner-menu reports_details">
                        @Html.TextBox("ToDate", "", new { @class = "form-control", @type = "date", @title = "Select To Date" })
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div style="padding-top:5px" class="text-left">
                    <div class="inner-menu reports_details" style="padding-top:5px">
                        <button type="submit" name="submit" value="SearchByDate" id="SearchByDate" class="btn btn-primary mb-2">Search</button>
                        <button type="button" name="submit" value="Excel" class="btn btn-primary mb-2" id="btnExport">Excel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


}
<div class="table-responsive" id="Grid" style="overflow-y:scroll;height:450px">
    <table class="table table3 filtered-table table table-striped table-dark" id="tblData">
        <thead>
            <tr>
                <th> Date </th>
                <th> Provide ID </th>
                <th> Doctor Name </th>
                <th> Front ID </th>
                <th> Patient Name</th>
                <th> Den. Asst ID </th>
                <th> Name </th>
                <th> Treat ID </th>
                <th> Treate Name </th>
                <th> Manager ID </th>
                <th> Manager Name </th>
                <th> Regional Id </th>
                <th> Regional Name </th>
                <th> Patient ID </th>
                <th> Patient Name </th>
                <th>Reason</th>
                <th> Time </th>
                <th> Amount </th>
                <th> Status </th>
                <th> Actual Amt </th>
                <th> Treated</th>
                <th> Future Date </th>
                <th> Treat Presented </th>
                <th> Treat Accepted </th>
                <th>Collection</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Rows.Count == 0)
            {
                <tr>
                    <td colspan="23">No Record Found</td>
                </tr>
            }
            else
            {
                foreach (DataRow row in Model.Rows)
                {
                    <tr>
                        <td> @Html.DisplayFor(Model => @row[0])</td>
                        <td> @Html.DisplayFor(Model => @row[1])</td>
                        <td> @Html.DisplayFor(Model => @row[2])</td>
                        <td> @Html.DisplayFor(Model => @row[3])</td>
                        <td> @Html.DisplayFor(Model => @row[4])</td>
                        <td> @Html.DisplayFor(Model => @row[5])</td>
                        <td> @Html.DisplayFor(Model => @row[6])</td>
                        <td> @Html.DisplayFor(Model => @row[7])</td>
                        <td> @Html.DisplayFor(Model => @row[8])</td>
                        <td> @Html.DisplayFor(Model => @row[9])</td>
                        <td> @Html.DisplayFor(Model => @row[10])</td>
                        <td> @Html.DisplayFor(Model => @row[11])</td>
                        <td> @Html.DisplayFor(Model => @row[12])</td>
                        <td> @Html.DisplayFor(Model => @row[13])</td>
                        <td> @Html.DisplayFor(Model => @row[14])</td>
                        <td> @Html.DisplayFor(Model => @row[15])</td>
                        <td> @Html.DisplayFor(Model => @row[16])</td>
                        <td> @Html.DisplayFor(Model => @row[17])</td>
                        <td> @Html.DisplayFor(Model => @row[18])</td>
                        <td> @Html.DisplayFor(Model => @row[19])</td>
                        <td> @Html.DisplayFor(Model => @row[20])</td>
                        <td> @Html.DisplayFor(Model => @row[21])</td>
                        <td> @Html.DisplayFor(Model => @row[22])</td>
                        <td> @Html.DisplayFor(Model => @row[23])</td>
                        <td> @Html.DisplayFor(Model => @row[24])</td>

                    </tr>
                }
            }
        </tbody>
    </table>
</div>


@*<script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/jquery-3.3.1.min.js"></script>
        <script src="~/Scripts/jquery-3.3.1.min.js"></script>
        <script src="~/Scripts/DataTables/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>*@
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="https://cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#btnExport").click(function () {
            //$("#tblData").table2excel({
            //    filename: "Table.xls"
            //});
            alert("Good");
        });
    });
</script>
