﻿@model System.Data.DataTable
@using System.Data;
@{
    ViewBag.Title = "New_Patient_Summary";
    Layout = "~/Views/Shared/_Master_Layout.cshtml";
}
@{
    Html.RenderPartial("_ToggleButtonNew");
}
@using (Html.BeginForm("New_Patient_Summary", "ReportNew", FormMethod.Post, new { @class = "form-inline float-right" }))
{
    <div class="row" style="background-color:powderblue;height:50px">
        <div class="col-md-12">
            <div class="col-md-3"></div>
            <div class="col-md-2">
                <div style="padding-top:5px" class="text-right">
                    <div class="inner-menu reports_details">
                        @Html.TextBox("FromDate", "", new { @class = "form-control", @type = "date", @title = "Select From Date" })
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div style="padding-top:5px" class="text-left">
                    <div class="inner-menu reports_details">
                        @Html.TextBox("ToDate", "", new { @class = "form-control", @type = "date", @title = "Select To Date" })
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div style="padding-top:5px" class="text-left">
                    <div class="inner-menu reports_details" style="padding-top:5px">
                        <button type="submit" name="submit" value="SearchByDate" id="SearchByDate" class="btn btn-primary mb-2">Search</button>
                        <button type="submit" name="submit" value="Excel" class="btn btn-primary mb-2" id="btnSubmit">Excel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div class="table-responsive" id="Grid" style="overflow:scroll;height:450px">
    <table class="table table3 filtered-table table table-striped table-dark">
        <thead>
            <tr>
                <th> Patient Name </th>
                <th> Age </th>
                <th> Zip Code </th>
                <th> BT </th>
                <th> Insurance Amt.</th>
                <th> Total Payment </th>
                <th> Patient Amt. </th>
                <th> Visit Date </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Rows.Count == 0)
            {
                <tr>
                    <td colspan="8">No Record Found</td>
                </tr>
                /**/

            }
            else
            {
                foreach (DataRow row in Model.Rows)
                {
                    <tr>
                        <td> @Html.DisplayFor(Model => @row[0])</td>
                        <td> @Html.DisplayFor(Model => @row[1])</td>
                        <td> @Html.DisplayFor(Model => @row[2])</td>
                        <td> @Html.DisplayTextFor(Model => @row[3])</td>
                        <td> @Html.DisplayTextFor(Model => @row[4])</td>
                        <td> @Html.DisplayFor(Model => @row[5])</td>
                        <td> @Html.DisplayTextFor(Model => @row[6])</td>
                        <td> @Html.DisplayTextFor(Model => @row[7])</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

