﻿@{
    ViewBag.Title = "SampleDemo";
    Layout = "~/Views/Shared/_Master_Layout.cshtml";
}
<button id="btnExport" type="button" name="Export">Export</button>
<hr />
<div class="modal-body" id="one">
    <table id="tableDate" class="table" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th> Name </th>
                <th> Last nmae</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Bhupesh</td>
                <td>Sonkusale</td>
            </tr>
            <tr>
                <td>Gayatri</td>
                <td>Gupta</td>
            </tr>
        </tbody>
    </table>
</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.table2excel.js"></script>
<script>
    $(document).ready(function () {
        $("#btnExport").click(function () {
            $("#tableDate").table2excel(function(){
                filename: "Employees.xls"
            });
        });
    });
</script>