@font-face {
    font-family: 'RobotoRegular';
    src: url('../fonts/RobotoRegular.eot');
    src: url('../fonts/RobotoRegular.eot') format('embedded-opentype'),
         url('../fonts/RobotoRegular.woff2') format('woff2'),
         url('../fonts/RobotoRegular.woff') format('woff'),
         url('../fonts/RobotoRegular.ttf') format('truetype'),
         url('../fonts/RobotoRegular.svg#RobotoRegular') format('svg');
}
@font-face {
    font-family: 'RobotoLight';
    src: url('../fonts/RobotoLight.eot');
    src: url('../fonts/RobotoLight.eot') format('embedded-opentype'),
         url('../fonts/RobotoLight.woff2') format('woff2'),
         url('../fonts/RobotoLight.woff') format('woff'),
         url('../fonts/RobotoLight.ttf') format('truetype'),
         url('../fonts/RobotoLight.svg#RobotoLight') format('svg');
}
@font-face {
    font-family: 'RobotoBold';
    src: url('../fonts/RobotoBold.eot');
    src: url('../fonts/RobotoBold.eot') format('embedded-opentype'),
         url('../fonts/RobotoBold.woff2') format('woff2'),
         url('../fonts/RobotoBold.woff') format('woff'),
         url('../fonts/RobotoBold.ttf') format('truetype'),
         url('../fonts/RobotoBold.svg#RobotoBold') format('svg');
}
@font-face {
    font-family: 'WorkSansRegular';
    src: url('../fonts/WorkSansRegular.eot');
    src: url('../fonts/WorkSansRegular.eot') format('embedded-opentype'),
         url('../fonts/WorkSansRegular.woff2') format('woff2'),
         url('../fonts/WorkSansRegular.woff') format('woff'),
         url('../fonts/WorkSansRegular.ttf') format('truetype'),
         url('../fonts/WorkSansRegular.svg#WorkSansRegular') format('svg');
}
@font-face {
    font-family: 'WorkSansLight';
    src: url('../fonts/WorkSansLight.eot');
    src: url('../fonts/WorkSansLight.eot') format('embedded-opentype'),
         url('../fonts/WorkSansLight.woff2') format('woff2'),
         url('../fonts/WorkSansLight.woff') format('woff'),
         url('../fonts/WorkSansLight.ttf') format('truetype'),
         url('../fonts/WorkSansLight.svg#WorkSansLight') format('svg');
}
@font-face {
    font-family: 'WorkSansSemiBold';
    src: url('../fonts/WorkSansSemiBold.eot');
    src: url('../fonts/WorkSansSemiBold.eot') format('embedded-opentype'),
         url('../fonts/WorkSansSemiBold.woff2') format('woff2'),
         url('../fonts/WorkSansSemiBold.woff') format('woff'),
         url('../fonts/WorkSansSemiBold.ttf') format('truetype'),
         url('../fonts/WorkSansSemiBold.svg#WorkSansSemiBold') format('svg');
}
@font-face {
    font-family: 'WorkSansBold';
    src: url('../fonts/WorkSansBold.eot');
    src: url('../fonts/WorkSansBold.eot') format('embedded-opentype'),
         url('../fonts/WorkSansBold.woff2') format('woff2'),
         url('../fonts/WorkSansBold.woff') format('woff'),
         url('../fonts/WorkSansBold.ttf') format('truetype'),
         url('../fonts/WorkSansBold.svg#WorkSansBold') format('svg');
}
@font-face {
    font-family: 'WorkSansExtraBold';
    src: url('../fonts/WorkSansExtraBold.eot');
    src: url('../fonts/WorkSansExtraBold.eot') format('embedded-opentype'),
         url('../fonts/WorkSansExtraBold.woff2') format('woff2'),
         url('../fonts/WorkSansExtraBold.woff') format('woff'),
         url('../fonts/WorkSansExtraBold.ttf') format('truetype'),
         url('../fonts/WorkSansExtraBold.svg#WorkSansExtraBold') format('svg');
}
@font-face {
    font-family: 'MontserratSemiBold';
    src: url('../fonts/MontserratSemiBold.eot');
    src: url('../fonts/MontserratSemiBold.eot') format('embedded-opentype'),
         url('../fonts/MontserratSemiBold.woff2') format('woff2'),
         url('../fonts/MontserratSemiBold.woff') format('woff'),
         url('../fonts/MontserratSemiBold.ttf') format('truetype'),
         url('../fonts/MontserratSemiBold.svg#MontserratSemiBold') format('svg');
}
/*********************************/
h1,h2,h3,h4,h5,h6,p {font-weight: normal; margin: 0;}
a, a:hover, a:focus{text-decoration: none; outline: none;}
input[type="text"],input[type="tel"],input[type="number"],input[type="email"], input[type="password"], textarea , button, input[type="submit"],select{
    outline: none;-webkit-appearance: none; -moz-appearance: none; -ms-appearance: none;box-shadow: none;border-radius: 0px;
}
input[type=radio], input[type=checkbox]{outline: none;}
input::-ms-clear,input::-ms-reveal, select::-ms-expand {display: none;}
img{outline: 0px; border: 0px;max-width: 100%;height: auto;}
ul{list-style: none;padding: 0px;margin-bottom: 0;}
ol{padding: 0px;margin-bottom: 0;}
label{font-weight: normal;margin: 0px;}
::-webkit-input-placeholder {color: #d5d5d5;}
::-moz-placeholder {color: #d5d5d5;}
:-ms-input-placeholder {color: #d5d5d5;}
:-moz-placeholder {color: #d5d5d5;}
h1{font-size: 48px;}
h2{font-size: 36px;}
h3{font-size: 22px;}
h4{font-size: 18px;}

/************************Header CSS************************/
header{background-color: #fff;-webkit-box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.3);-moz-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.3);box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.3);padding: 21px 0px;z-index: 111;position: relative;}
.header_phone{text-align: right;}
.header_phone ul{padding-top: 13px;}
.header_phone li a{font-size: 18px;font-family: 'RobotoBold';color: #0991c5;position: relative;}
.header_phone li a:before{content: "";display: inline-block;background-image: url(../images/stripe.png);vertical-align: middle;width: 18px;height: 18px;}
.header_phone li a.phone:before{background-position: 0px 0px;margin-right: 7px;}

/************************Banner CSS************************/
.banner{display: inline-block;    width: 100%;margin-bottom: -5px;}
.banner_left{background-color: #0991c5;width: 36%;position: relative;padding-right: 0px;}
.banner_left:after{content: "";display: inline-block;border-right: 165px solid transparent;border-top: 654px solid #0991c5;position: absolute;right: -164px;z-index: 11;}
.banner_right{background-color: #ebeff5;width: 64%;}
.banner h1{color: #fff;font-family: 'WorkSansExtraBold';text-transform: uppercase;line-height: 57px;}
.email_download{width: 385px;float: right;padding: 105px 0px 0px;z-index: 22;min-height: 654px;position: relative;margin-right: -13%;}
.email_download label{color: #fff;font-size: 17.99px;font-family: 'WorkSansRegular';width: 100%;margin-bottom: 6px;}
.email_download .input_text{border: 1px solid #dbdbdb;background-color: #fff;font-size: 14px;height: 41px;width: 262px;margin-bottom: 19px;font-family: 'WorkSansRegular';padding: 0px 10px;border-radius: 3px;}
.email_download .banner_btn{background-color: #fff;border : 0px;color: #0991c5;display: inline-block;padding: 13px 17px;font-size: 18px;font-family: 'WorkSansRegular';border-radius: 3px;-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);-moz-box-shadow:0px 2px 2px rgba(0, 0, 0, 0.3);box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);}
.dentist_guide{width: 654px;float: left;margin-left: 180px;padding: 242px 0px 0px;position: relative;height: 100%;    min-height: 654px;}
.title h2{font-family: 'WorkSansExtraBold';text-transform: uppercase;color: #1d90c5;}
.banner .title h2{line-height: 43px;padding-right: 274px;}
.banner .title{padding-bottom: 13px;}
.dentist_guide p{font-family: 'WorkSansRegular';font-size: 17.97px;color: #3b3b3b;line-height: 22px;    padding-right: 0px;padding-bottom: 0px;}
.dentist_guide p:last-child{padding-bottom: 0px;}
.dentist_guide p strong{font-weight: normal;font-family: 'WorkSansBold';}
.dentist_guide p a{color: #1d90c5;font-family: 'WorkSansBold';}
.dentist_guide img{position: absolute;top: 30%; right: -26%;}

/************************RecordLinc Dos CSS************************/
.dos{background-color: #e9e9e9;padding: 87px 0px 0px;}
.dos .title{padding-bottom: 18px;}
.dos ol {padding-left: 25px;    padding-bottom: 30px;}
.dos ol li{color: #000;font-size: 22px;font-family: 'MontserratSemiBold';margin-bottom: 22px;}
.dos ol li:last-child{margin-bottom: 0px;}
.dos img {margin: 19px 0px 0px 25px;}

/************************RecordLinc Donts CSS************************/
.donts{padding: 87px 0px 0px;}
.donts .title{padding-bottom: 18px;}
.donts ol {padding-left: 23px;    padding-bottom: 80px;}
.donts ol li{color: #000;font-size: 22px;font-family: 'MontserratSemiBold';margin-bottom: 26px;line-height: normal;}
.donts ol li:last-child{margin-bottom: 0px;}
.donts img {margin-top: 67px;}

/************************Download CSS************************/
.download_pdf{background-color: #1d90c5;padding: 30px 0px 29px;}
.download_pdf .title h2{color: #fff;line-height: 43px;}
.download_pdf label{color: #fff;font-size: 17.99px;font-family: 'WorkSansRegular';padding-top: 4px;padding-bottom: 6px;}
.download_pdf .input_text{background-color: #fff;width: 100%;border: 1px solid #dbdbdb;height: 41px;border-radius: 3px;padding: 0px 15px;font-size: 14px;font-family: 'WorkSansRegular';color: #000;}
.download_pdf input[type="submit"]{font-family: 'WorkSansRegular';font-size: 18px;color: #fff;background-color: #0e274d;border: 0px;border-radius: 3px;margin-top: 25px;padding: 13px 15px;}

/************************About CSS************************/
.about{background-color: #ebeff5;padding: 87px 0px;}
.about .title{padding-bottom: 15px;}
.about .title h2{color: #0e274d;}
.about img{margin-top: 7px;}
.about p{color : #3b3b3b;font-family: 'WorkSansRegular';font-size: 18px;line-height: 22px;padding-bottom: 20px;}

/************************Get in Touch CSS************************/
.get_in_touch{padding: 86px 0px 93px;background-image: url(../images/touch.jpg);background-repeat: no-repeat;background-size: 100% 100%;}
.get_in_touch .title h2{color: #fff;}
.recordlinc_links {color: #fff;padding-top: 16px;}
.recordlinc_links h3{font-family: 'WorkSansSemiBold';}
.recordlinc_links ul{padding-top: 22px;}
.recordlinc_links ul li{line-height: 20px;}
.recordlinc_links ul li a{color: #fff;font-size: 18px;font-family: 'WorkSansRegular';}
.recordlinc_form{padding-top: 13px;}
.recordlinc_form label{color: #fff;font-family: 'WorkSansRegular';font-size: 17.99px;margin-bottom: 6px;}
.recordlinc_form .input_text{background-color: #fff;width: 100%;border: 1px solid #dbdbdb;height: 41px;border-radius: 2px;padding: 0px 15px;font-size: 14px;font-family: 'WorkSansRegular';color: #000;margin-bottom: 10px;}
.recordlinc_form textarea{background-color: #fff;width: 100%;border: 1px solid #dbdbdb;height: 105px;border-radius: 2px;padding: 10px 15px;font-size: 14px;font-family: 'WorkSansRegular';color: #000;resize: none;margin-bottom: 12px;}
.recordlinc_form input[type="submit"]{border:0px;background-color: #0991c5;color: #fff;font-family: 'WorkSansLight';font-size: 18px;float: right; padding: 8px 17px;border-radius: 4px;}

/************************Footer CSS************************/
.footer_top{padding: 37px 0px 0px;}
.footer_top h4{color: #0991c5;font-family: 'RobotoLight';padding-bottom: 17px;}
.footer_top ul li{padding-bottom: 12.7px;}
.footer_top ul li:last-child{padding-bottom: 0px;}
.footer_top ul li a{color: #738393;font-family: 'RobotoLight';font-size: 14px;}
.footer_top .footer_social li a{padding-left: 31px;position: relative;}
.footer_top .footer_social li a:before{content: "";display: inline-block;background-image: url(../images/stripe.png);height: 20px;vertical-align: middle;position: absolute;left: 0px;top: -4px;}
.footer_top .footer_social li a.fb:before{background-position: -21px 0px;width: 12px;}
.footer_top .footer_social li a.gplus:before{background-position: -34px 0px;width: 22px;}
.footer_top .footer_social li a.tweet:before{background-position: -58px 1px;width: 19px;}
.footer_top .footer_social li a.link:before{background-position: -79px 0px;width: 18px;}
.footer_top .footer_social li a.pin:before{background-position: -97px 0px;width: 16px;}
.footer_top .footer_social li a.ytube:before{background-position: -113px 3px;width: 18px;}
.footer_top .footer_social li a.vimeo:before{background-position: -133px 3px;width: 18px;}
.site_verfiy{border-top: 1px solid #ebebeb;margin-top: 34px;}
.site_verfiy ul{text-align: center;    padding: 19px 0px 22px;}
.site_verfiy ul li{display: inline-block;vertical-align: middle;width: 16.35%;padding-bottom: 0px;}
.site_verfiy ul li a{vertical-align: middle;}
.site_verfiy ul li a img{margin: 0 auto;}
.footer_bottom{background-color: #3b4a5a;text-align: center;}
.footer_bottom ul{padding: 28px 0;}
.footer_bottom ul li{display: inline-block;padding: 0px 28.6px;}
.footer_bottom ul li a{color: #738393;font-size: 18px;font-family: 'WorkSansRegular';}
.footer_bottom .copyright {border-top: 1px solid #485a6e;padding: 25px 0px 30px;}
.footer_bottom .copyright p{color: #0991c5;font-size: 18px;font-family: 'WorkSansRegular';}

/************************Popup CSS************************/
.thanks_data_modal .modal-body img{margin: 0 auto;}
.thanks_data_modal .modal-header{border-bottom: 0px;padding: 18px;    position: relative;}
.thanks_data_modal .modal-content {-webkit-box-shadow: none;box-shadow: none;}
.thanks_data_modal .modal-header button{z-index: 9999;width: 26px;height: 26px;background-image: url(../images/stripe.png);background-position: -7px -25px;opacity: 1;text-shadow: none;position: absolute;right: 21px;top: 23px;}
.thanks_data_modal .modal-body{text-align: center;}
.modal_text p, .modal_text span{font-family: 'WorkSansRegular';font-size: 18px;color : #3b3b3b;line-height: 22px;}
.modal_text a{color: #0991c5;font-family: 'WorkSansBold';font-size: 36px;display: table;margin: -17px auto 0;}
.modal_text{padding-top: 28px;}
.modal_text p{padding-bottom: 20px;}
.modal_text span{padding: 6px 60px 24px;display: inline-block;width: 100%;}
.modal_text input[type="submit"]{border: 0px;background-color: #0e274d;color: #fff;font-family: 'WorkSansRegular';font-size: 18px;display: block; margin: 0 auto;    padding: 13px 19px;border-radius: 3px;    margin-bottom: 20px;width: 100%;}
.thanks_data_modal .modal{padding-right: 0px !important;}
.modal_text form { width: 360px; margin: 0 auto;}
.modal_text form label { font-size: 18px; width: 100%; text-align: left;}
.modal_text form input.txt_box { width: 100%; border: 1px solid #dbdbdb; height: 40px; margin: 10px 0 15px; padding: 0 15px;}