
div.calendar
{
  font-size: smaller;
  color: #000;
}

div.calendar.popup
{
  margin-left: -40px;
  margin-top: -100px;
}

div.calendar table
{
  background-color: #fff;
  border: 1px solid #aaa;
  border-collapse: collapse;
}

div.calendar thead {
  background-color: white;
}

div.calendar td,
div.calendar th
{
  padding: 8px 1px 18px 0;
  text-align: center;
}

div.calendar td.title
{
  font-weight: bold;
  background-color: #ccc;
}

div.calendar th
{
  background: #fafafa;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  font-weight: bold;
  color: #555;
  padding: 10px;
}

div.calendar tr.days td {
  width: 2em;
  color: #555;
  text-align: center;
  cursor: pointer;
  padding: 20px;
  font-size: 14px;
}

div.calendar tr.days td:hover,
div.calendar td.button123:hover
{
  background-color: #34ABFA;
  cursor: pointer;
}

div.calendar tr.days td:active
div.calendar td.button123:active
{
  background-color: #cde;
}

div.calendar tr.days td.selected
{
  font-weight: bold;
  background-color: #fff;
  color: #000;
}

div.calendar tr.days td.today
{
  font-weight: bold;
  color: #fff;
  font-size: 16px;
  padding: 0;
  background-color: #0791C2;
}

div.calendar tr.days td.otherDay
{
  color: #bbb;
}
