﻿.cercle-ring {
        width: 50px;
        height: 50px;
        margin: 0 auto;
        border-radius: 50%;
        text-align: center;
        line-height: 50px;
        vertical-align: middle;
        color: #fff;
        font-size: 16px;
    }

    .cercle-ring-red {
        background-color: #DD2C00;
    }

    .cercle-ring-green {
        background-color: #4CAF50;
    }

    .cercle-ring-orange {
        background-color: #F57C00;
    }

    .cercle-ring-purple {
        background-color: #673AB7;
    }

    .cercle-ring-teal {
        background-color: #00838F;
    }

    .cercle-ring-indigo {
        background-color: #3F51B5;
    }

    .cercle-ring-brown {
        background-color: #795548;
    }



    .table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
        border-left: 0 solid #666 !important;
        border-right: 0 solid #666 !important;
        border-top:0 solid #666 !important;
        border-bottom:0 solid #666 !important;
    }

    .table-bordered {
        border: 0 solid #ddd !important;
    }