* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}
body{
	width:auto;
	height:auto;
	margin:0 auto;
	/* background-color:#ccc; */
}
.devmainbox{
	border: 1px solid #ccc;
    height: auto;
    position: absolute;
    width: 100%;
}
.devboxleft{
    float: left;
    max-height: auto;
    padding: 0px;
    width: 20%;
	text-align:center;
	border-right: 1px solid #ccc;
	min-height: 207px;
}
.devday{
	background-color: #ccc;
    border-radius: 10px;
    color: #fff;
    margin: 5px auto;
    text-align: center;
    width: 88px;
}
.devlefttopbar {
    border-bottom: 1px solid #ccc;
    height: auto;
    padding: 7px;
    text-align: center;
    width: 100%;
    float:right;
	
}
.devleftbottombar {
    border-top: 1px solid #ccc;
    height: auto;
    padding: 7px;
    text-align: center;
    width: 100%;
    float:right;
    margin-top: 131px;
}
.devlefttopbar a{
	text-decoration:none;
	color:#0691C5;
}

.devboxright{
	width:79%;
	height:auto;
	float:right;
	padding:0px;
	
}
.devdatebox{
	background-color: #0691c5;
    color: #fff;
    display: inline-block;
    height: auto;
    line-height: 30px;
    margin: 1px -3px 0 0;
    padding: 0 0 0 20px;
    text-decoration: none;
    width: 105px;
}
.devdatebox:hover{
	background-color:#35C5F4;
	text-decoration:none;
	color:#fff;
}
.graydatebox{
 background-color: #808080;
    color: #fff;
    display: inline-block;
    height: auto;
    line-height: 30px;
    margin: 1px -3px 0 0;
    padding: 0 0 0 20px;
    text-decoration: none !important;
    width: 105px;
}
.graydatebox:hover{
	background-color:#808080;
	text-decoration:none !important;
	color:#fff;
    cursor:not-allowed;
}