.pure-button{
	border: 1px solid #0791c2;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    padding: 7px 10px;
	color:#575758;
	margin-top: 10px;
	background-color: #fff;
}
.pure-button:hover{
	color:#fff;
	background-color:#0791C2;
}
a{
	text-decoration:none;
}
.right-bar {
    background-color: #cccccc;
    padding: 12px;
    width: auto;
	text-align: center;
	font-size: 12px;
}
.service-barpadd2 {
    border: 1px solid #DDEDFA;
    color: #808080;
    margin: 5px;
    padding: 10px 1px 10px 0;
    text-align: center;
    width: 80px;
}
.service-barpadd2:hover {
    background-color:#0791C2;
	color:#ffffff;
}
.salect {
    background-color:#0791C2;
	color:#ffffff;
}

.service-barpadd {
    color: #808080;
    padding: 10px;
}
.service-bar-2 {
    float: left;
    margin-left: 0;
    margin-top: 2px;
    padding: 0;
    width: 23%;
}
.service-bar {
    float: left;
    margin-left: 0;
    margin-top: 2px;
    padding: 0;
    width: 30%;
	border-right: 1px solid #ccc;
}
.right-bar {
    background-color: #cccccc;
    padding: 12px;
    width: auto;
	font-size: 16px;
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
	border: 1px solid #CCCCCC;
	height: 415px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin:-2px;
}
.col:first-child { margin-left: 0; }


/*  GROUPING  */
.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}

/*  GRID OF THREE  */
.span_3_of_3 {
	width: 100%;
}
.span_2_of_3 {
	width: 43.1%;
}
.span_1_of_3 {
	width: 43.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { margin:0%;}
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
div.calendar tr.days td {
    color: #555;
    cursor: pointer;
    font-size: 14px;
    padding: 14px !important;
    text-align: center;
    width: 2em;
}
.service-barpadd2 {
    border: 1px solid #DDEDFA;
    color: #808080;
    font-size: 12px!important;
    margin: 5px;
    padding: 4px 1px 4px 0!important;
    text-align: center;
    width: 60px!important;
}

.service-bar-2 {
    float: left;
    font-size: 10px!important;
    margin-left: 0;
    margin-top: 2px;
    padding: 0;
    width: 21%!important;
}
.service-barpadd {
    color: #808080;
    padding: 7px 0 0;
}
}

@media only screen and (min-width:768px) and (max-width:980px) {
	.service-barpadd {
    color: #808080;
    font-size: 10px;
}
.service-bar {
    width: 27%;
}
.span_2_of_3 {
    float: right;
    width: 49.1%;
}
.service-bar-2 {
    width: 24%;
}
}