﻿@model NewRecordlinc.Models.Common.PyamentDetails
@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}
<section id="inner">
    <div class="container">
        <div class="content">
            <h2 class="title">Payment Information</h2>
        </div>
    </div>
    <section class="contact_form greybg">
        @if (TempData["TransactionId"] != null)
        {
            <div style="text-align:center ; color: green; display:; margin-top: 35px;margin-bottom:19px ;  font-size: 18px;" class="heading" id="SeccessMessage">
                Thank you for payment, your transaction number is <span>@TempData["TransactionId"]</span>
            </div>
        }
        <div class="container">
            <form action="/FreeToPaid/MakePayment" method="post" id="register-form">
                @*<input type="hidden" name="Amount" value="@Model.Amount" />
                <input type="hidden" name="Plane" value="@Model.Planes" />*@                
                @Html.HiddenFor(m => m.Planes)
                @Html.HiddenFor(m => m.Amount)
                <div class="block1">
                    <ul>
                        <li>@Html.TextBoxFor(m => m.Firstname, new { @class = "name textfield", @id = "txtfname", @name = "txtfname", @placeholder = "First Name" })<span class="mandatory">*</span></li>
                        <li>@Html.TextBoxFor(m => m.Lastname, new { @class = "name textfield", @id = "txtlname", @name = "txtlname", @placeholder = "Last Name" })<span class="mandatory">*</span></li>
                        <li>@Html.TextBoxFor(m => m.Email, new { @class = "email textfield", @id = "emailId", @name = "Email", @placeholder = "Email" })<span class="mandatory">*</span></li>
                        <li>@Html.TextBoxFor(m => m.Phone, new { @class = "phone textfield", @id = "Pnoneno", @name = "phoneno", @placeholder = "Phone No" })<span class="mandatory">*</span></li>
                        <li>@Html.TextBoxFor(m => m.Address, new { @class = "email textfield", @id = "txtphone", @name = "addres", @placeholder = "Address" })</li>
                        <li>@Html.TextBoxFor(m => m.City, new { @class = "email textfield", @id = "txtCity", @name = "City", @placeholder = "City" })</li>
                        <li>
                            @Html.TextBoxFor(m => m.State, new { @class = "email textfield", @id = "txtState", @name = "state", @placeholder = "State", @style = "width: 40.6%" })
                            @Html.TextBoxFor(m => m.Zip, new { @class = "textfield", @id = "zip", @name = "zipcode", @placeholder = "Zip", @style = "width: 31.3%; margin-left:8px;" })<span class="mandatory">*</span>
                        </li>
                        <li>@Html.HiddenFor(m => m.Description, new { @value = "One month subscription" })</li>
                    </ul>
                </div>
                <div class="block2">
                    <ul>
                        <li>
                            @if (Model.Amount == "$888")
                            {
                                <label style="font-weight: normal;">Yearly payment of @Model.Amount per 2 year</label>
                            }
                            else if (Model.Amount == "$1188")
                            {
                                <label style="font-weight: normal;">Yearly payment of @Model.Amount per 3 year</label>
                            }
                            else if (Model.Amount == "$504")
                            {
                                <label style="font-weight: normal;">Yearly payment of @Model.Amount per 1 year</label>
                            }
                            else
                            {
                                <label style="font-weight: normal;">Monthly payment of @Model.Amount per month</label>
                            }
                            @Html.HiddenFor(m => m.Planes)
                            @Html.HiddenFor(m => m.isDoctorInSystem)
                            @*@Html.DropDownListFor(m => m.Planes, new List<SelectListItem> { new SelectListItem { Text = "PRO - $47", Value = "1" }, new SelectListItem { Text = "12 months $42/mo", Value = "2" }, new SelectListItem { Text = "24 months $37/mo", Value = "3" }, new SelectListItem { Text = "36 months $33/mo", Value = "4" }, new SelectListItem { Text = "Includes 5 colleagues $235/mo", Value = "5" }, new SelectListItem { Text = "Includes 10 colleagues $423/mo", Value = "6" }, new SelectListItem { Text = "Includes 20 colleagues $752/mo", Value = "7" } }, new { @class = "textfield", @name = "crdtype", @style = "width:92.5%;height:46px;" })<span class="mandatory">*</span>*@
                        </li>
                        <li>@Html.DropDownListFor(m => m.CardType, new List<SelectListItem> { new SelectListItem { Text = "Visa", Value = "V" }, new SelectListItem { Text = "American Express", Value = "A" }, new SelectListItem { Text = "Diners Club", Value = "C" }, new SelectListItem { Text = "Discover", Value = "D" }, new SelectListItem { Text = "JCB", Value = "J" }, new SelectListItem { Text = "Mastercard", Value = "M" } }, new { @class = "textfield", @name = "crdtype", @style = "width:92.5%;height:46px;" })<span class="mandatory">*</span></li>
                        <li>@Html.DropDownListFor(m => m.payInterval, new List<SelectListItem> { new SelectListItem { Text = "Select Interval", Value = "0" }, new SelectListItem { Text = "Monthly", Value = "1" }, new SelectListItem { Text = "Quarterly", Value = "3" }, new SelectListItem { Text = "Half Yearly", Value = "6" }, new SelectListItem { Text = "Annually", Value = "12" } }, new { @class = "textfield", @name = "paytype", @title = "Payment Interval", @style = "width:92.5%;height:46px;" })<span class="mandatory">*</span></li>
                        <li>@Html.TextBoxFor(m => m.CardNumber, new { @class = "textfield", @id = "cardnumber", @name = "cno", @placeholder = "Card Number" })<span class="mandatory">*</span></li>
                        <li>@Html.TextBoxFor(m => m.expdate, new { @class = "textfield", @id = "expdate", @name = "xpdate", @placeholder = "Expiration Date :- MMYYYY " })<span class="mandatory">*</span></li>
                        <li>@Html.TextBoxFor(m => m.Cvv, new { @class = "textfield", @id = "cvv", @name = "cvvcode", @placeholder = "CVV" })<span class="mandatory">*</span></li>
                        <li>@Html.HiddenFor(m => m.Amount, new { @readonly = "readonly", @class = "textfield", @name = "amt" }) &nbsp;@*<span class="mandatory">*</span>*@</li>
                        <li class="action" style="padding-right:7%;"><input id="btnsave" class="submit" name="Make Payment" type="submit" value="Make Payment" onclick="return checkValidation()" /></li>
                    </ul>
                </div>
            </form>
            <div class="clear"></div>
        </div>
        @if (TempData["Paymentstatus"] != null)
        {
            <script>
                //alert('@TempData["Paymentstatus"]');
                swal({ title: "", text: '@TempData["Paymentstatus"]' });
            </script>
        }
    </section>

</section>
<script type="text/javascript">

    $(document).ready(function () {
        $('#emailId').change(function () {
            $("#divLoading").show();
            $.ajaxSetup({ async: false });
            $.post("/FreeToPaid/GetDoctorDetailsByEmail", { Email: $('#emailId').val() }, function (data) {
                if (data.status == '1') {
                    $('#txtfname').val(data.FName);
                    $('#txtlname').val(data.LName);
                    $('#Pnoneno').val(data.Phone);
                    $('#txtphone').val(data.Add);
                    $('#zip').val(data.Zip);
                    $('#txtCity').val(data.City);
                    $('#txtState').val(data.State);
                    $('#isDoctorInSystem').val(data.isDoctorInsystem);
                }
                else if (data.status == '2') {
                    $('#txtfname').val(data.FName);
                    $('#txtlname').val(data.LName);
                    $('#Pnoneno').val(data.Phone);
                    $('#txtphone').val("");
                    $('#txtCity').val("");
                    $('#txtState').val("");
                    $('#isDoctorInSystem').val(false);
                }
                else {
                    $('#Pnoneno').val("");
                    $('#txtphone').val("");
                    $('#zip').val("");
                    $('#txtCity').val("");
                    $('#txtState').val("");
                    $('#isDoctorInSystem').val(false);
                }
            });
            $.ajaxSetup({ async: true });

            $("#divLoading").hide();
        });

        $("#Planes").change(function () {
            var amt = $("#Planes :selected").val();
            if (amt == "6") {
                $("#Amount").val('$150');

            }
            else if (amt == "7") {
                $("#Amount").val('$350');

            }            
            else {                
                swal({ title: "", text: 'Please select a valid plan' });
                return false;
            }
        });
    });

    $(function () {
        $('#Pnoneno').focus(function () {
            if (document.getElementById('Pnoneno').value == '') {
                $('#Pnoneno').mask({ mask: '(999) 999-9999' });
            }
        });
    });
    function checkValidation() {
        
        var regex = /^[^\s]{1,20}$/;
        var Fname = $('#txtfname').val();
        if (!regex.test(Fname)) {            
            swal({ title: "", text: 'Please enter a valid first name' });
            return false;
        }

        var regex = /^[^\s]{1,20}$/;
        var Lname = $('#txtlname').val();
        if (!regex.test(Lname)) {            
            swal({ title: "", text: 'Please enter a valid last name' });
            return false;
        }

        var regex = /^[a-zA-Z0-9][a-zA-Z0-9_.+-]+@@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$/;
        var Emailid = $('#emailId').val();
        if (!regex.test(Emailid)) {            
            swal({ title: "", text: 'Please enter a valid email address' });
            return false;
        }

        var regex = /^(?:\([2-9]\d{2}\)\ ?|[2-9]\d{2}(?:\-?|\ ?))[2-9]\d{2}[- ]?\d{4}$/;
        var phoneno = $('#Pnoneno').val();
        if (!regex.test(phoneno)) {            
            swal({ title: "", text: 'Please enter valid phone number' });
            return false;
        }

        var regex = /^[0-9\b]{5}$/;
        var Zipcode = $('#zip').val();
        if (!regex.test(Zipcode)) {            
            swal({ title: "", text: 'Please enter a valid zip code' });
            return false;
        }

        var cardtype = $('#CardType :selected').val();
        if (cardtype == "0") {            
            swal({ title: "", text: 'Please select card type' });
            return false;
        }

        var regex = /^[0-9\b]{13,16}$/;
        var cardno = $('#cardnumber').val();
        if (!regex.test(cardno)) {            
            swal({ title: "", text: 'Please enter a valid credit card number' });
            return false;
        }
        
        var regex = /^(1[0-2]|0[1-9]|\d)\/?([0-9]{4}|[0-9]{2})$/;
        var Expdate = $('#expdate').val();
        if (!regex.test(Expdate)) {            
            swal({ title: "", text: 'Invalid expiration date' });
            return false;
        }

        
        var regex = /^[0-9\b]{3,4}$/;
        var cvvno = $('#cvv').val();
        if (!regex.test(cvvno)) {            
            swal({ title: "", text: 'Please enter valid 3 digit security code (CVV)' });
            return false;
        }        
    }
    $(window).load(function () {

        setTimeout(function () {
            $("#SeccessMessage").css("display", "none");
            if ('@TempData["TransactionId"]') {
                window.location.href = "/User/Index?valid=Signup";
            }

        }, 5000);
    });


</script>
