﻿@model DentalFiles.Models.ViewModel.DentalFormsMaster
@using DentalFiles.App_Start
@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>All Forms</title>
    <script type="text/javascript" src="//www.baw5tracker.com/js/60398.js"></script>
    <noscript><img src="//www.baw5tracker.com/60398.png" style="display:none;" alt="baw5tracker" /></noscript>
    <link rel="icon" href="/DentalImages/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/DentalImages/favicon.ico" type="image/x-icon" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <style>
        @@media print {
            .pagebreakafterPinfo {
                page-break-after: always;
            }
        }

        input[type=text], .input_box_textarea {
            background: transparent;
            border: none;
            border-bottom: 1px solid #000000;
            text-align: justify;
            width: 100%;
        }

        button[type=reset] {
            float: right;
        }

        h1 {
            text-align: center;
        }

        .box {
            border: 2px solid #000000;
            padding: 10px;
        }

        p {
            text-align: justify-all;
        }

        .top-buffer {
            margin-top: 20px;
        }

        .required {
            color: red;
            font-size: 20px;
        }
        @@media print {
            .dvpagebreak {
                page-break-after: always;
            }

            html, body {
                height: 99%;
            }
        }
    </style>
    @* <link href="http://qa.recordlinc.com/Dentalcss/style.css" media="all" rel="stylesheet" type="text/css">
        <link href="http://qa.recordlinc.com/Dentalcss/jquery.selectbox.css" media="all" rel="stylesheet" type="text/css" />
         <link href="@SessionManagement.CompanyWebsite/Dentalcss/style.css" media="all" rel="stylesheet" type="text/css" />*@
    <link href="../../Dentalcss/jquery.selectbox.css" media="all" rel="stylesheet" type="text/css" />
    <link href="../../Dentalcss/style.css" media="all" rel="stylesheet" type="text/css" />
    <script src="/Dentaljs/jquery-1.8.3.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    <script type="text/javascript">

        $(document).ready(function () {
            $(function () {

                $("*").attr("readOnly", true);
                $("*").attr("color", "white");


            });

            if (document.getElementById('txtQue5').value != null && document.getElementById('txtQue5').value != "") {
                document.getElementById('pnltxt5li').style.display = '';

            }
            else {
                document.getElementById('pnltxt5li').style.display = 'none';
                document.getElementById('txtQue5a').value = '';
                document.getElementById('txtQue5b').value = '';
                document.getElementById('txtQue5c').value = '';

            }
        });

        function getParameterByName(name) {           
            var match = RegExp('[?&]' + name + '=([^&]*)').test(window.location.search);
            return match && decodeURIComponent(match[1].replace(/\+/g, ' '));
            //return false;
        }
    </script>
</head>
@{
    if (TempData["result"] != "false")
    {
        <script type="text/javascript">
            $(function () {
                debugger;
                var x = getParameterByName('Vall');
                document.getElementById('tab-container_9').style.display = '';
                document.getElementById('tab-container_4').style.display = '';
                document.getElementById('tab-container_5').style.display = '';

                //document.getElementById('btnSubmit').style.display = 'none';
                //document.getElementById('btnicskp').style.display = 'none';
                //document.getElementById('btnsaveins').style.display = 'none';


                //document.getElementById('btnmediacalhisoty').style.display = 'none';

                //document.getElementById('btnmhskp').style.display = 'none';
                //document.getElementById('askpCDMH').style.display = 'none';
                //document.getElementById('btnSubmitdentalhistory').style.display = 'none';

                if (x == 'true') {
                }
                else {
                    window.print();
                    window.setTimeout(function () {
                        window.close();
                    }, 1000);
                }
            });
        </script>
    }
    else
    {
        <script type="text/javascript">
            $(function () {
                document.getElementById('talAllForms').style.display = 'none';

                document.getElementById('btnSubmit').style.display = 'none';
                $('#Message').html('No record found');
                $('#Message').delay(300).slideDown(300).delay(4000).slideUp(300);
            });
        </script>
    }


}
<body>
    <div id="Message">
    </div>
    <div id="talAllForms" class='tab-container'>
        @foreach (var item in Model.BasicInfo)
        {
                @Html.Partial("DentalForms/_BasicInfo")
        }

        @foreach (var item in Model.MedicalHistory)
        {
                @Html.Partial("DentalForms/_MedicalHistory")
        }
        @foreach (var item in Model.DentalHistory)
        {
                @Html.Partial("DentalForms/_DentalHistory")
        }
        @foreach (var item in Model.RegistrationForm)
        {
                @Html.Partial("DentalForms/_Insurance_Coverage")            
        }
    </div>
    <span id="siteseal">
        <script type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=F34USZbK0ZJXklg4iUVnDdiuqxNIsXp8lcoNVeU36D7SHiwi3v"></script>
    </span>
</body>
</html>
<style>
    .body {
        size: landscape;
    }
</style>
