﻿@model List<BO.Models.chkFeatureSetting>


@if (Model.Count > 0)
{
    @*<table>
        <thead>
            <tr>Feature</tr>
            <tr>Admin Status</tr>
            <tr>Dentist Status</tr>
        </thead>
        <tbody>


            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Feature
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="switch">
                            <input checked="@item.AdminStatus" onchange="ChangeAdminStatus('@item.Id')" id="chk_@item.Id" type="checkbox" value="@item.Id">
                            <div class="slider round"></div>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        @if (item.DentistStatus == true)
                    {
                            <label>On</label>
                        }
                        else
                        {
                            <label>Off</label>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>*@

        <div class="tablelist-left">
            <ul class="tablelist" style="float:left;">
                <li>
                    <label>
                        Feature
                    </label>
                </li>
            </ul>
        </div>

        <div class="tablelist-right">
            <ul class="tablelist">
                <li>
                    <label>Admin Status</label>
                    <label>Dentist Status</label>
                </li>
            </ul>
        </div>
     
    foreach (var item in Model)
    {
        <div class="tablelist-left">
            <ul class="tablelist" style="float:left;">
                <li>
                    <label>
                        @item.Feature
                    </label>
                </li>
            </ul>
        </div>

        <div class="tablelist-right">
            <ul class="tablelist">
                <li>
                    <label class="switch">
                        <input checked="@item.AdminStatus" onchange="ChangeAdminStatus('@item.Id')" id="chk_@item.Id" type="checkbox" value="@item.Id">
                        <div class="slider round"></div>
                    </label>
                    @if (item.DentistStatus == true)
                    {
                        <label>On</label>
                    }
                    else
                    {
                        <label>Off</label>
                    }

                </li>
            </ul>
        </div>
    }
}

