﻿@model BO.Models.Membership

@{
    string page = !string.IsNullOrEmpty(Request.QueryString["page"]) ? Request.QueryString["page"] : "1";
}

@using (@Html.BeginForm("InsertUpdateMemberShip", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmMembership" }))
{
    <button type="button" title="Close (Esc)" class="mfp-close">×</button>
    if (Model.Membership_Id > 0)
    {
        <h2 class="title">
            Edit Membership Detail
        </h2>
    }
    else
    {
        <h2 class="title">
            Add Membership Detail
        </h2>
    }
    <div class="cntnt">
        <div style="width:100%;">
            <div class="form-group required">

                @Html.HiddenFor(t => t.Membership_Id)
                @Html.HiddenFor(t => t.CurrentPageNo)
                @Html.LabelFor(t => t.Title, new { @class = "form-label" })
                @Html.TextBoxFor(t => t.Title, new { @class = "form-control", @maxlength = "100" })
                @Html.ValidationMessageFor(t => t.Title, "", new { @class = "text-danger" })
            </div>
            <div class="form-group required">
                @Html.LabelFor(t => t.Description, new { @class = "form-label" })
                @Html.TextAreaFor(t => t.Description, new { @class = "form-control", @style = "height: 100px;" })
                @Html.ValidationMessageFor(t => t.Description, "", new { @class = "text-danger" })
            </div>
            <div class="form-group required">
                @Html.LabelFor(t => t.MonthlyPrice)
                @Html.TextBoxFor(t => t.MonthlyPrice, new { @class = "form-control price", @maxlength = "10" })
                @Html.ValidationMessageFor(t => t.MonthlyPrice, "", new { @class = "text-danger" })
            </div>
            
            <div class="form-group">
                @Html.LabelFor(t => t.QuaterlyPrice)
                @Html.TextBoxFor(t => t.QuaterlyPrice, new { @class = "form-control price", @maxlength = "10" })
            </div>

            <div class="form-group">
                @Html.LabelFor(t => t.HalfYearlyPrice)
                @Html.TextBoxFor(t => t.HalfYearlyPrice, new { @class = "form-control price", @maxlength = "10" })
            </div>
            <div class="form-group">
                @Html.LabelFor(t => t.AnnualPrice)
                @Html.TextBoxFor(t => t.AnnualPrice, new { @class = "form-control price", @maxlength = "10" })
            </div>
            <div class="form-group required">
                <label class="form-label">Sort Order</label>
                @*@Html.LabelFor(t => t.SortOrder, new { @class = "form-label" })*@
                @Html.TextBoxFor(t => t.SortOrder, new { @class = "form-control numericOnly", @maxlength = "3" })
                @Html.ValidationMessageFor(t => t.SortOrder, "", new { @class = "text-danger" })
            </div>
            <div class="form-group required">
                @Html.LabelFor(t => t.Status, new { @class = "form-label" })
                @Html.DropDownListFor(model => model.Status, new SelectList(Model.lstTypeOfStatus, "Id", "Name"), "--Select Status--")
                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
              
            </div>

        </div>
        <div class="clear">
        </div>
        <div class="actions">
            <input class="save_btn1" name="Save" type="submit" value="Save" style="width:97px;height:40px;">
            <input class="cancel_btn" name="Cancel" type="button" value="Cancel" onclick="Close()">
            <div class="clear">
            </div>
        </div>
    </div>
}

