﻿@model BO.Models.Features

@{
    string page = !string.IsNullOrEmpty(Request.QueryString["page"]) ? Request.QueryString["page"] : "1";
}

@using (@Html.BeginForm("InsertUpdateFeature", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmFeature" }))
{
    <button type="button" title="Close (Esc)" class="mfp-close">×</button>
    if (Model.Feature_Id > 0)
    {
        <h2 class="title">
            Edit Feature Detail
        </h2>
    }
    else
    {
        <h2 class="title">
            Add Feature Detail
        </h2>
    }
    <div class="cntnt">
        <div style="width:79%;">
            <div class="form-group required">
                @Html.HiddenFor(t => t.Feature_Id)
                @Html.LabelFor(t => t.Title, new { @class = "form-label" })
                @Html.TextBoxFor(t => t.Title, new { @class = "form-control", @maxlength = "100" })
                @Html.ValidationMessageFor(t => t.Title, "", new { @class = "text-danger" })
            </div>
            <div class="form-group required">
                @Html.LabelFor(t => t.SortOrder, new { @class = "form-label" })
                @Html.TextBoxFor(t => t.SortOrder, new { @class = "form-control numericOnly", @maxlength = "3" })
                @Html.ValidationMessageFor(t => t.SortOrder, "", new { @class = "text-danger" })

            </div>
            <div class="form-group required">
                @Html.LabelFor(t => t.Status, new { @class = "form-label" })
                @Html.DropDownListFor(model => model.Status, new SelectList(Model.lstTypeOfStatus, "Id", "Name"), "--Select Status--")
                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
            </div>

        </div>
        <div class="clear">
        </div>
        <div class="actions">
            <input class="save_btn1" name="Save" type="submit" value="Save" style="width:97px;height:40px;">
            <input class="cancel_btn" name="Cancel" type="button" value="Cancel" onclick="Close()">
            <div class="clear">
            </div>
        </div>
    </div>
}

