﻿@model BO.Models.FeatureMaster

@{
    string page = !string.IsNullOrEmpty(Request.QueryString["page"]) ? Request.QueryString["page"] : "1";
}

@using (@Html.BeginForm("InsertUpdateFeatureMaster", "Admin", FormMethod.Post, new { id = "frmFeature" }))
{
    <button type="button" title="Close (Esc)" class="mfp-close">×</button>
    if (Model.Id > 0)
    {
        <h2 class="title">
            Edit Feature Master
        </h2>
    }
    else
    {
        <h2 class="title">
            Add Feature Master
        </h2>
    }
    <div class="cntnt">
        <div style="width:79%;">
            <div class="form-group required">
                @Html.HiddenFor(t => t.Id)
                @Html.Hidden("initialFeature", Model.Feature)
                @Html.LabelFor(t => t.Feature, new { @class = "form-label" })
                @Html.TextBoxFor(t => t.Feature, new { @class = "form-control", @maxlength = "100", @Placeholder = "Feature Name" })
                @Html.ValidationMessageFor(t => t.Feature, "", new { @class = "text-danger" })
            </div>
            <div class="form-group required">
                @Html.LabelFor(t => t.Status, new { @class = "form-label" })
                @Html.DropDownListFor(model => model.Status, new SelectList(Model.lstTypeOfStatus, "Id", "Name"))
                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
            </div>

        </div>
        <div class="clear">
        </div>
        <div class="actions">
            <input class="save_btn1" name="Save" type="submit" value="Save" style="width:97px;height:40px;">
            <input class="cancel_btn" name="Cancel" type="button" value="Cancel" onclick="Close()">
            <div class="clear">
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $.validator.unobtrusive.parse($('#frmFeature'));
    });
</script>
