﻿@model List<BO.Models.EmailVerification>
@{
    Layout = null;
    //string page = !string.IsNullOrEmpty(Request.QueryString["page"]) ? Request.QueryString["page"] : "1";
}
@if (Model != null && Model.Count > 0)
{
    for (int i = 0; i < Model.Count; i++)
    {
        <tr class="EmailCount">
            <td>@Model[i].FullName</td>
            <td>@Model[i].Email</td>      
            @{ 
                string strStatus = "";
                switch (Model[i].Status)
                {
                    case 0:
                        strStatus = "Invalid";
                        break;
                    case 1:
                        strStatus = "Valid";
                        break;
                    case 2:
                        strStatus = "Unknown";
                        break;
                }
            }

            <td>@strStatus</td>
            <td>@Model[i].Emailtype</td>
            <td>@Model[i].Phone</td>
            <td>@Model[i].ProcessDate</td>
        </tr>
    }
}
else
{
    <tr>
        <td colspan="6" style="text-align-last:center;" id="tdTextMsg">
            <center><br />No more record found</center>
        </td>
    </tr>
}


