﻿@model List<BO.Models.Features>
@{
    string page = !string.IsNullOrEmpty(Request.QueryString["page"]) ? Request.QueryString["page"] : "1";
}
@Html.HiddenFor(t => Model.Count)
@if (Model.Count > 0)
{
    for (int i = 0; i < Model.Count; i++)
    {
        <tr>

            <td>
                @Model[i].Title
            </td>

            <td style="text-align:center">
                @Model[i].SortOrder
            </td>
            <td>
                <a class="edit_btn showlightbox" href="#AddFeature" onclick="EditFeature(@Model[i].Feature_Id)">
                </a>
                @if (Model[i].Feature_Id != (int)BO.Enums.Common.Features.Colleagues && Model[i].Feature_Id != (int)BO.Enums.Common.Features.Attachments && Model[i].Feature_Id != (int)BO.Enums.Common.Features.New_Patient_Leads && Model[i].Feature_Id != (int)BO.Enums.Common.Features.View_Attachments)
                {
                    <a onclick="DeleteFeature(@Model[i].Feature_Id)">
                        <img src="~/Images/remove.png" style="vertical-align: unset;margin-bottom:3px;" />
                    </a>
                }
            </td>
        </tr>
    }
}
else
{
    <tr>
        <td colspan="5">
            <center><br />No record found</center>
        </td>
    </tr>
}

