﻿@model List<BO.Models.FeatureMaster>
@{
    string page = !string.IsNullOrEmpty(Request.QueryString["page"]) ? Request.QueryString["page"] : "1";
}
@Html.HiddenFor(t => Model.Count)
@if (Model.Count > 0)
{
    for (int i = 0; i < Model.Count; i++)
    {
        <tr>

            <td>
                @Model[i].Feature
            </td>

            <td style="text-align:center">
               @if(Model[i].IsActive == true)
               {
                   <span>Active</span>
               }
               else
               {
                <span>Inactive</span>
               }
            </td>
            <td>
                <a class="edit_btn showlightbox" href="#AddFeatureMaster" onclick="EditFeatureMaster(@Model[i].Id)">
                </a>
            </td>
        </tr>
    }
}
else
{
    <tr>
        <td colspan="3">
            <center><br />No record found</center>
        </td>
    </tr>
}

