﻿@model NewRecordlinc.Models.Admin.mdlAdmin
@{
    string page = !string.IsNullOrEmpty(Request.QueryString["page"]) ? Request.QueryString["page"] : "1";
}
@Html.HiddenFor(t => t.CurrentPageNo)
@Html.HiddenFor(t => Model.lstInsurance.Count)
@if (Model.lstInsurance.Count > 0)
{
    for (int i = 0; i < Model.lstInsurance.Count; i++)
    {
        <tr>
            <td>
                <figure class="thumb">
                    <img style="height:75px;width:75px;" alt="TOP" src="~/Resources/Insurance/@Model.lstInsurance[i].LogoPath">
                </figure>
            </td>
            <td>
                @Model.lstInsurance[i].Name
            </td>
            <td>
                <a target="_blank" href="@Model.lstInsurance[i].Link">@Model.lstInsurance[i].Link</a>
            </td>
            <td>
                @Model.lstInsurance[i].Description
            </td>
            <td>
                <a class="edit_btn showlightbox" href="#AddInsurance" onclick="EditInsurance(@Model.lstInsurance[i].InsuranceId)">
                </a>
                <a onclick="DeleteInsurance(@Model.lstInsurance[i].InsuranceId)">
                    <img src="~/Images/remove.png" style="vertical-align: unset;margin-bottom:3px;" />
                </a>
            </td>
        </tr>
    }
    <tr>
        <td colspan="5">
            @Html.Action("ShowPaging", "common", new { totalItems = Model.TotalInsurance, page = Model.CurrentPageNo, ScriptName = "showPaging", pageSize = 50 })
        </td>
    </tr>
}
else
{
    <tr>
        <td colspan="5">
            <center><br />No record found</center>
        </td>
    </tr>
}
