﻿@model List<BO.Models.Membership>
@{
    string page = !string.IsNullOrEmpty(Request.QueryString["page"]) ? Request.QueryString["page"] : "1";
}
@*@Html.HiddenFor(t =>Model.CurrentPageNo)*@
@Html.HiddenFor(t => Model.Count)
@if (Model.Count > 0)
{
    for (int i = 0; i < Model.Count; i++)
    {
        <tr>

            <td>
                <a href="~/Admin/MembershipFeatures?Id=@Model[i].Membership_Id" style="text-decoration:none;">@Model[i].Title</a>
            </td>
            <td>
                Monthly Price : $@Model[i].MonthlyPrice <br />
                Quarterly Price : $@Model[i].QuaterlyPrice <br />
                Half Yearly Price : $@Model[i].HalfYearlyPrice <br />
                Annual Price : $@Model[i].AnnualPrice
            </td>
            <td>
                <a href="~/Admin/MembershipFeatures?Id=@Model[i].Membership_Id">See Features</a>

            </td>
            <td align="center" style="text-align:center">
                @Model[i].SortOrder
            </td>
            <td>
                <a class="edit_btn showlightbox" href="#AddMembership" onclick="EditMembership(@Model[i].Membership_Id)">
                </a>
                <a onclick="DeleteMembership(@Model[i].Membership_Id)">
                    <img src="~/Images/remove.png" style="vertical-align: unset;margin-bottom:3px;" />
                </a>
            </td>
        </tr>
    }
    @*<tr>
            <td colspan="5">
                @Html.Action("ShowPaging", "common", new { totalItems = Model.TotalInsurance, page = Model.CurrentPageNo, ScriptName = "showPaging", pageSize = 50 })
            </td>
        </tr>*@
}
else
{
    <tr>
        <td colspan="5">
            <center><br />No record found</center>
        </td>
    </tr>
}

