﻿

@{decimal sum = 0; decimal ActualAmountTotal = 0;decimal SplitAmountTotal = 0;}
                            @foreach (var item in Model.Item1)
                            {
                                sum+=Convert.ToDecimal(@item.ReceivedAmount);
                                ActualAmountTotal += Convert.ToDecimal(@item.ActualAmount);
                                SplitAmountTotal += Convert.ToDecimal(@item.split_Amount);
                                <tr id="row">
                                    <td>
                                        @item.PatientName

                                    </td>
                                    <td>
                                        @item.PaymentDate
                                    </td>
                                   
                                    <td style="text-align:right;">
                                        @item.Status
                                    </td>
                                    <td  style="text-align:right;">
                                        @item.ActualAmount
                                    </td>
                                    <td style="text-align:right;">
                                        @item.ReceivedAmount
                                    </td>
                                    <td style="text-align:right;">
                                        @item.split_Amount
                                    </td>
                                    
                                </tr>
                            }
                            @if (sum != 0 || ActualAmountTotal!=0 || SplitAmountTotal!=0)
                            {
                            <tr>
                                <td class="tdClass" colspan="2"></td>
                                <td class="tdClass" style=" text-align:right;">Total</td>
                                <td class="tdClass"  style="text-align:right;">
                                    <span>@ActualAmountTotal</span> 
                                </td>
                                 <td class="tdClass" style="text-align:right;">
                                    <span>@sum</span>
                                </td>
                                <td class="tdClass" style="border-right-width: thick !important;text-align:right; ">
                                    <span>@SplitAmountTotal</span>
                                </td>
                            </tr>

                            }
                             
