﻿@model IEnumerable<BO.ViewModel.DentistReward>
<table class="manageCompanyList" cellpadding="0" cellspacing="0" border="0" id="tblComapanyList">
    <thead>
        <tr>
            <th width="70%">
                Reward Text
            </th>
            <th width="30%">
                Reward Code
            </th>
        </tr>
    </thead>
    <tbody id="bodyofRewards">
        @{
            var cnt = 0;
        }
        @foreach (var item in Model)
        {
            cnt++;
            <tr data-settingid="@item.SettingId" data-step="@cnt" class="reward-row" id="row">
                <td>
                    @Html.DisplayFor(modelItem => item.RewardText)
                    @Html.HiddenFor(modelItem => item.OptionId)
                </td>
                <td>
                    <div class="">
                        @if (!String.IsNullOrEmpty(item.RewardCode))
                        {
                            @Html.DropDownListFor(m => item.RewardMasterId, new SelectList(ViewBag.Codelist, "Value", "Text", item.RewardMasterId), "Select Reward Code", new { @class = "form-control ddlCodeList", @style = "width:100%;" })
                        }
                    </div>
                </td>
            </tr>
        }        
    </tbody>
</table>
<p id="noreward" class="font-16" style="display:none;color:red;"></p>
<input type="button" value="Create" name="Save" class="save_btn1" onclick="SaveRewardList();" />                
