﻿@{
    ViewBag.Title = "Admin - AccountSetting | Recordlinc";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    string strUserId = "0";
    if (!string.IsNullOrEmpty(Convert.ToString(Request["UserId"])))
    {
        strUserId = Convert.ToString(Request["UserId"]);
    }
}
<style>
    .heading {
        position: static !important;
    }

    .integrations_btn {
        width: 337px;
        height: 47px;
        float: left;
        background: url(/Content/images/integrations.png) no-repeat 0 0;
    }
</style>
<script type="text/javascript">
    function getParameterByName(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.search);
        return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }

    function GetCurrentEmails() {
        var UserId = getParameterByName('UserId');
        if (UserId != null && UserId != "") {
            $.post("/AccountSettings/GetCurrentDataFromAdmin", { UserId: UserId }, function (data) {
                if (data != null && data != "") {

                    $('#txtemail').val(data.PE);
                    $('#hdnprimaryemail').val(data.PE);

                    $('#txtUsername').val(data.LOGU);
                    $('#hdnloginusername').val(data.LOGU);

                    $('#txtemailSecondary').val(data.SE);
                    $('#hdnsecondaryemail').val(data.SE);


                    document.getElementById('divstaylogged').innerHTML = data.DDL;
                    $('#hdnstaylogged').val(data.SLV);

                    //$('#txtAccountId').val(data.AId);
                    //$('#txtAccountKey').val(data.AKey);
                    $('#userid').val(data.UID);

                }
            });
        }
    }

    function RedirectonProfile() {
        var UserId = getParameterByName('UserId');
        if (UserId != null && UserId != "") {
            window.location.href = window.location.origin + "/Admin/ViewProfile?UserId=" + UserId;
        }
        else {
            window.location.href = window.location.origin + "/Admin/ActiveUser";
        }
    }

    function RedirectonAccountSetting() {
        var UserId = getParameterByName('UserId');
        if (UserId != null && UserId != "") {
            window.location.href = window.location.origin + "/Admin/AccountSetting?UserId=" + UserId;
        }
        else {
            window.location.href = window.location.origin + "/Admin/ActiveUser";
        }
    }

    function SubmitData() {

        var Identifier = null;
        var PrimaryEmail = $('#hdnprimaryemail').val();
        var PrimaryEmailNew = $('#txtemail').val();

        if (PrimaryEmailNew != PrimaryEmail) {
            if ($("#txtemail").val() != null && $("#txtemail").val() != "") {
                var result = IsEmail($("#txtemail").val());
                if (result == true)
                { Identifier = "1"; }
                else {
                    swal({ title: "", text: 'Please enter valid primary email' });                    
                    document.getElementById("txtemail").focus();
                    return false;
                }
            }
            CheckConfirmPassword();
        }

        var SecondaryEmail = $('#hdnsecondaryemail').val();
        var SecondaryEmailNew = $("#txtemailSecondary").val();

        if (SecondaryEmailNew != SecondaryEmail) {
            if ($("#txtemailSecondary").val() != null && $("#txtemailSecondary").val() != "") {
                var result1 = IsEmail($("#txtemailSecondary").val());
                if (result1 == true) {
                    if (Identifier != null && Identifier != "") {
                        Identifier = Identifier + "2";
                    }
                    else {
                        Identifier = "2";
                    }

                }
                else {
                    swal({ title: "", text: 'Please enter valid secondary email' });                    
                    document.getElementById("txtemailSecondary").focus();
                    return false;
                }
            }
        }

        var pass = $('#txtpassword').val();
        var conpass = $('#txtconfirmpassword').val();
        if (pass != null && pass != "" && conpass != null && conpass != "") {
            if (pass != conpass) {
                swal({ title: "", text: 'Please check that you have entered and confirmed your password' });                
                return false;
            }
            else {

                var re = /^.*(?=.{8,})(?=.*[a-z])(?=.*[A-Z])(?=.*[@@#!$%^&+=]).*$/;
                if (!re.test(pass)) {
                    swal({ title: "", text: 'Password must be a minimum of 8 characters long and contain an upper and lower case letter, a number, and a symbol such as #,!,$,%,&,_..' });                    
                    return false;
                }
                else {
                    if (Identifier != null && Identifier != "") {
                        Identifier = Identifier + "3";
                    }
                    else {
                        Identifier = "3";
                    }
                }
            }
        }

        var Staylogged = $('#hdnstaylogged').val();
        var StayloggedNew = $('#ddlStayloggedMins').val();
        if (StayloggedNew != Staylogged) {

            if (Identifier != null && Identifier != "") {
                Identifier = Identifier + "4";
            }
            else {
                Identifier = "4";
            }
        }

        var LoginUserName = $('#hdnloginusername').val();
        var LoginUseraNameNew = $('#txtUsername').val();
        if (LoginUserName != LoginUseraNameNew) {
            if (Identifier != null && Identifier != "") {
                Identifier = Identifier + "5";
            }
            else {
                Identifier = "5";
            }
        }
        else {
            LoginUseraNameNew = "";
        }

        var UserId = getParameterByName('UserId');
        if ($("#txtemail").val() != null && $("#txtemail").val() != "") {
            if (UserId != null && UserId != "") {
                $.post("/AccountSettings/UpdateDataFromAdmin", { UserId: UserId, NewPrimaryEmail: $("#txtemail").val(), NewSecondaryEmail: $("#txtemailSecondary").val(), NewPassword: $('#txtpassword').val(), Identifier: Identifier, NewStayloggedMins: $('#ddlStayloggedMins').val(), LoginUserName: LoginUseraNameNew }, function (data) {
                    if (data != null && data != "") {
                        if (data.obj != null && data.obj != "") {
                            swal({ title: "", text: data.obj });                            
                            window.location = document.location;
                        }
                    }
                });
            }
        }
        else {
            swal({ title: "", text: 'Please enter primary email' });            
            return false;
        }
    }
</script>
<!-- Tabs Files -->
<link href="../../Content/css/tabs.css" rel="stylesheet" type="text/css" />
<script type='text/javascript' src='../../Content/js/tabs.js'></script>
<!-- Profile Popup -->
<script src="../../Content/js/jquery.toolbar.js"></script>
<script>
    $(document).ready(function (e) {
        $('.tab_contents').hide();
        $('.tab_contents:first').show();
        $('.tab_links li a').on('click', function () {
            var lnk = $(this).attr('href');
            $(lnk).show().siblings().hide();
            $(this).addClass('active').parent().siblings().find('a').removeClass('active');
        });

        $(".searchbar").remove();

        GetCurrentEmails();

        $("#txtconfirmpassword").blur(function () {
            if ($("#txtpassword").val() !== $("#txtconfirmpassword").val()) {
                swal({ title: "", text: 'New Password and Confirm Password does not match' });
            }
        });
        $('#chkInfusionSoft').on('click', function (e) {

            if ($(this).is(":checked")) {
                $('#OpenPopup').click();
                GetDataSyncInfusionSoft();
            } else {
                UpdateDataSyncInfusionSoft();
            }


        });
    });

    function CheckConfirmPassword() {
        if ($("#txtpassword").val() !== $("#txtconfirmpassword").val()) {
            return false;
        }
    }
    function UpgradeAccount() {
        var uid = $('#userid').val();        
        window.location.href = '/admin/UpgradeAccount?Userid=' + uid;
    }

    function GetDataSyncInfusionSoft() {
        $.post("/AccountSettings/GetDataSyncInfusionSoft", {}, function (data) {


            if (data != null && data != "") {

                $("#ddlSyncPerDay").val(data.SyncPerDay);

                if (!!data.APIKey && data.APIKey != "") {
                    $("#imgsync").attr("src", "@Url.Content("~/Images/SyncIcon/SyncDone.png")");
                } else {
                    $("#imgsync").attr("src", "@Url.Content("~/Images/SyncIcon/Sync.png")");
                }
            }
        });
    }

    function UpdateDataSyncInfusionSoft() {

        $.post("/AccountSettings/UpdateDataSyncInfusionSoft", {}, function (data) {
            if (data != null && data != "") {
                $('#chkInfusionSoft').val(false);
                $('#chkInfusionSoft').prop('checked', false);
            }
        });

    }
    function SaveDataSyncInfusionSoft() {

        gotosync();

        var mdlSyncInfusionSoft = {
            SyncPerDay: $("#ddlSyncPerDay").val()
        }

        $.post("/AccountSettings/SaveDataSyncInfusionSoft", { SyncInfusionSoft: mdlSyncInfusionSoft }, function (data) {

            if (data != null && data != "") {
                $('#chkInfusionSoft').val(data);
                $('#chkInfusionSoft').prop('checked', data);
            }
        });

        $(".mfp-close").click();
        return true;
    }

    var popup;
    function gotosync() {

        popup = window.open("@Url.Action("Authorize", "AccountSettings")", "Popup", "width=500,height=500");
        popup.focus();
    }
</script>
<style type="text/css">
    input[type="password"], textarea {
        color: #666666;
        padding: 10px;
        resize: none;
    }
</style>
<!-- Main content -->
<input type="hidden" id="hdnprimaryemail" />
<input type="hidden" id="hdnsecondaryemail" />
<input type="hidden" id="hdnstaylogged" />
<input type="hidden" id="hdnloginusername" />
<input type="hidden" id="userid" />
<div class="content">
    <div class="content_base">
        <!-- Breadcrumb starts-->
        <div class="breadcrumb">
            <ul>
                <li>
                    <a href='@Url.Action("Dashboard", "Admin")'>
                        <img width="16" height="14" class="hires" src="../../Content/images/home-icon.png"
                             alt="Home">
                    </a><span class="after"></span>
                </li>
                <li>
                    <span class="before"></span><a href="javascript:;" onclick="RedirectonProfile()">
                        Profile
                    </a><span class="after"></span>
                </li>
                <li class="active">
                    <span class="before"></span><a href="javascript:;" onclick="RedirectonAccountSetting()">
                       @ViewBag.DoctorName - Account Settings
                    </a><span class="after"></span>
                </li>
            </ul>
        </div>
        <!-- Breadcrumb ends-->
        <div class="buttons_holder margintop20 clearfix" onclick="UpgradeAccount()">
            <a href="" class="account_type_btn" style="display: none;"></a>
            <a href="" class="basic_btn" style="display: none;"></a>
            <a target="_blank" class="upgrade_account_btn"></a>
            <a href="@Url.Action("Integrations","AccountSettings", new { UserId = strUserId })" class="integrations_btn"></a>
        </div>
        <!-- Inner Content Starts -->
        <h3 class="heading">
            Account settings
        </h3>
        <div class="inner">
            <div class="tabbed_form">
                <div class="tab_content_parent">
                    <div id="patient_info" class="tab_contents">
                        <ul style="border-top: none;" class="tabbed_form_content">
                            <li>
                                <label>
                                    Stay logged in for
                                </label>
                                <div class="grey_frmbg" id="divstaylogged">
                                </div>
                            </li>
                            <li>
                                <label>
                                    User Name
                                </label>
                                <div class="grey_frmbg">
                                    <input type="text" title="Email Address" id="txtUsername" />
                                </div>
                            </li>
                            <li>
                                <label>
                                    Primary Email
                                </label>
                                <div class="grey_frmbg">
                                    <input type="text" title="Email Address" id="txtemail" />
                                </div>
                            </li>
                            <li>
                                <label>
                                    Secondary Email
                                </label>
                                <div class="grey_frmbg">
                                    <input type="text" title="Secondary Email" id="txtemailSecondary" />
                                </div>
                            </li>
                            <li>
                                <label>
                                    New Password
                                </label>
                                <div class="grey_frmbg">
                                    <input type="password" title="New Password" id="txtpassword" />
                                </div>
                            </li>
                            <li>
                                <label>
                                    Confirm Password
                                </label>
                                <div class="grey_frmbg">
                                    <input type="password" title="Confirm Password" id="txtconfirmpassword" />
                                </div>
                            </li>
                            @*<li>
                                <label>
                                    Account Id
                                </label>
                                <div class="grey_frmbg">
                                    <input type="text" title="Account Id" id="txtAccountId" readonly="readonly" />
                                </div>
                            </li>
                            <li>
                                <label>
                                    Account Key
                                </label>
                                <div class="grey_frmbg">
                                    <input type="text" title="Account Key" id="txtAccountKey" readonly="readonly" />
                                </div>
                            </li>*@
                        </ul>
                        <br />
                        <br />
                        <h3 class="heading" style="border-bottom: 0px !important;">
                            API Synchronize
                        </h3>
                        <div>
                            <label style="font-size: 11pt !important;">Synchronize patients with InfusionSoft</label>
                            <input id="chkInfusionSoft" name="chkInfusionSoft" type="checkbox" value="" />

                        </div>
                        <input type="submit" class="frm_smt_btn" onclick="return SubmitData('')">
                    </div>
                </div>
            </div>
            <div class="clear">
            </div>
        </div>
        <!-- Inner Content Ends -->
        <div class="clear">
        </div>
    </div>
    <!-- content base ends-->
</div>
<!-- content ends here -->
<a href="#infusionsoftsync" id="OpenPopup" title="Referral" style="display:none; visibility:hidden;" class="frmreferpatients edit popup-with-form showlightbox"></a>

<div id="infusionsoftsync" class="mfp-hide white-popup-block">
    <h2 class="title">Synchronize patients with InfusionSoft</h2>
    <div>
        <div class="cntnt">

            <ul class="tablelist">

                <li>
                    <label>
                        Sync Per Day:
                    </label>
                    <div tabindex="6" id="dvCountry">
                        <select name="ddlSyncPerDay" id="ddlSyncPerDay">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div>
                </li>
                <li>
                    <a href="javascript:void(0);" onclick="gotosync();"><img id="imgsync" width="100%" src="~/Images/SyncIcon/Sync.png" /></a>
                </li>
            </ul>

            <div class="clear">
            </div>

            <div style="margin-top: 2px;" class="actions">
                <input type="button" value="Save" name="Save" class="save_btn" onclick="return SaveDataSyncInfusionSoft();">
                <input type="button" name="Cancel" value="Cancel" class="cancel_btn">
                <div class="clear">
                </div>
            </div>
        </div>
    </div>
</div>