﻿
@{
    ViewBag.Title = "AccountFeatureSetting";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="~/Content/js/jquery-ui.js"></script>

    <div class="content">
        <div class="content_base">
            <div class="breadcrumb">
                <ul>
                    <li>
                        <a href="@Url.Action("Dashboard", "Admin")">
                            <img width="16" height="14" class="hires" src="../../Content/images/home-icon.png"
                                 alt="Home">
                        </a><span class="after"></span>
                    </li>
                    <li class="active"><a href="@Url.Action("FeatureMaster", "Admin")">Account Feature Setting</a></li>
                </ul>
            </div>
            <div id="divSearchtextshow">
            </div>
            <div class="inner">
                <div class="table_data reports_ref_received clearfix">
                    <h5>Account Feature Setting<span class="buttons"></span></h5>
                </div>
            </div>
            <br />
            <div class="form-group row">
                <div class="col-md-12">
                    Account Name
                    @Html.TextBox("txtSearchbyaccount", "", new { @class = "form-control", @onkeyup = "Getaccountname(event)", @autocomplete = "on", @placeholder = "Enter 3 characters" })
                </div>
            </div>
            <div class="clear">
            </div>
            <br /><br />
            <div id="FeatureList">

            </div>
            <div class="clear">
            </div>
        </div>
    </div>
<link href="//code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet" />
<script src="//code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
<link href="~/Content/Profile/css/newlightbox.css" rel="stylesheet" />
<script type="text/javascript">
    function Getaccountname(e) {
        $('#FeatureList').html('');
        $("#txtSearchbyaccount").autocomplete({
            source: function (request, response) {
                $.post("@Url.Action("GetDoctorAutocompleteList", "Admin")", { text: request.term }, function (data) {
                    if (!data.length) {
                        var result = [
                         {
                             label: 'No record found',
                             value: 0
                         }
                        ];
                        response(result);
                    }
                    else {
                        // normal response
                        response($.map(data, function (item) {
                            return {
                                label: item.Text
                                , value: item.Value
                            };
                        }));
                    }

                });
            },
            minLength: 3,
            select: function (event, ui) {
                event.preventDefault();
                if (ui.item.label != "No record found") {
                    $("#txtSearchbyaccount").val(ui.item.label);
                }
                else {
                    $("#txtSearchbyaccount").val(null);
                }
                $.post("/Admin/GetAccountFeatureOfAccount", { AccountId: ui.item.value},
                    function (data) {
                        if (data != '') {
                            $('#FeatureList').html(data);
                        }
                    });
            }

        });
    }

    function ChangeAdminStatus(Id)
    {
        var status;
        if ($('#chk_' + Id).prop("checked") == true) {
            status = 1;
        }
        else {
            status = 0;
        }
        
         $.ajax({
                url: "@Url.Action("UpdateAdminStatus", "Admin")",
                type: "POST",
                data: { 'Id': Id, 'status': status },
                success: function (data) {

                },
                    });
    }
</script>