﻿@{
    ViewBag.Title = "Admin - Active Users | Recordlinc ";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link rel="stylesheet" href="../../Content/css/DatePicker.css" />
<script src="../../Content/js/jquery-ui-datepicker.js" type="text/javascript"></script>
<style type="text/css">
    #add_doctor_popup .search_listing .description {
        margin-left: 135px;
        display: block;
    }

    #add_doctor_popup .search_listing .action {
        margin: 5px 0 0 135px;
        display: block;
    }

    #add_doctor_popup.white-popup-block .cntnt {
        padding: 0 0px 0 20px;
    }

    #add_doctor_popup .search_listing > li > div {
        float: left;
    }

    .description > a:hover {
        background: none repeat scroll 0 0;
        color: #14315b;
        text-decoration: none;
    }

    center {
        padding: 20px;
    }

    .button_panel input {
        margin: 0 1px 5px;
    }
    .btnMember {        
        /*right: 0;
        top: 6px;
        text-transform: capitalize;
        text-decoration: none !important;        
        border: 1px solid #0091c0 !important;        
        font-size: 14px;
        line-height: 18px;
        padding: 8px 7px;
        color: #0091c0 !important;
        box-shadow: none;
        padding-top: 3px;*/
        background-image: url("../images/Change-Membership.png") !important;
    }
    .btnMemberPay {
        /*right: 0;
        top: 6px;
        text-transform: capitalize;
        text-decoration: none !important;        
        border: 1px solid #0091c0 !important;        
        font-size: 14px;
        line-height: 18px;
        padding: 8px 7px;
        color: #0091c0 !important;
        box-shadow: none;
        padding-top: 3px;*/
        background-image: url("../images/Make-Payment.png") !important;
    }
    .btn-popup {
        color: #fff;
        background-color: #0991c5;        
        border: none !important;        
        display: inline-block;
        margin-bottom: 0;
        font-weight: 400;
        text-align: center;
        vertical-align: middle;
        touch-action: manipulation;
        cursor: pointer;
        background-image: none;       
        white-space: nowrap;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.428571429;
        border-radius: 4px;       
        user-select: none;        
        text-shadow: none;
        text-transform: capitalize;
        text-decoration: none;        
	}
    .btn-popup:hover{
        color:#fff;
    }
</style>
<script type="text/javascript">
    var getWinWidth
    $(document).ready(function () {

        $(".refer_patient").on('click', function () {
            resizeDiv();
        });

        resizeDiv();
        $(window).resize(function () {

            resizeDiv();
        });
    });

    function syncDoctorDetails(id) {
        $.ajaxSetup({ async: false });
        $.post("/Admin/syncPatinetDetailsOfDoctorWithAPI", { DoctorId: id }, function (data) {
            swal({ title: "", text: data });            
        });
        $.ajaxSetup({ async: true });
    }

    function resizeDiv() {
        var items = $('ul.search_listing li div.dyheight');
        var total = items.length;
        var getWinWidth = $(window).width();
        if (getWinWidth < 480) {
            var total_div = 1;
        } else {
            var total_div = 2;

        }
        for (i = 0; i < total; i += total_div) {
            var row = items.slice(i, Math.min(i + total_div, total));
            var maxHeight = 0;
            row.each(function () {
                $(this).removeAttr('style');
                maxHeight = $(this).height() > maxHeight ? $(this).height() : maxHeight;
            }).height(maxHeight);
        }
    }
    $(document).keydown(function (e) {
        if (e.which == 116) {
            window.location.href = "../Admin/ActiveUser";
            return false;
        }
    });
</script>

<input type="hidden" id="hdnActiveuserPageindex" value="1" />
<form action="@Url.Action("Index", "Profile")" method="post" id="frmViewProfile">
    <input type="hidden" name="hdnViewProfile" id="hdnViewProfile" value="" />
</form>
<form action="@Url.Action("SendEmail", "Admin")" method="post" id="formSendEmail">
    <input type="hidden" name="UserId" id="hdnUserId" value="" />
</form>
<div class="content">
    <div class="content_base">
        <!-- Breadcrumb starts-->
        <div class="breadcrumb">
            <ul>
                <li>
                    <a href='@Url.Action("Dashboard", "Admin")'>
                        <img width="16" height="14" class="hires" src="../../Content/images/home-icon.png"
                             alt="Home">
                    </a><span class="after"></span>
                </li>
                <li>
                    <span class="before"></span><a href='@Url.Action("ActiveUser", "Admin")'>Users</a><span class="after"></span>
                </li>
                <li class="active"><a href='@Url.Action("ActiveUser", "Admin")'>Active Users</a></li>
            </ul>
        </div>
        <div id="divSearchtextshow">
        </div>
        <!-- Breadcrumb ends-->
        <!-- Inner Content Starts -->
        <div class="inner">
            <!-- Table body -->
            <div id="tblScriptbody">
                @Html.Raw(ViewBag.tblScriptforActiveuser)
            </div>
        </div>
        <div class="clear">
        </div>
    </div>
</div>
<a href="#add_doctor_popup" title="Referral" class="frmreferpatients edit popup-with-form showlightbox"
   id="OpenPopup" style="display: none;"></a>
<div id="add_doctor_popup" class="mfp-hide white-popup-block">
</div>
<input type="hidden" id="hdnDoctorId" value="" />
<input type="hidden" id="PageIndex" value="1" />
<script type="text/javascript">

    function AddColleagues(DoctorId) {
        $('#txtSearchDoctor').val('')
        SearchColleageList(DoctorId, '');
        $('#OpenPopup').click();
        $('#hdnDoctorId').val(DoctorId);
    }

    function SearchColleageList(DoctorId, Isscroll) {
        var DataList = '';
        $.ajaxSetup({ async: false });
        var PageIndex = $('#PageIndex').val();
        var SearchText = '';

        if ($('#txtSearchDoctor').val() != '' && $('#txtSearchDoctor').val() != "Search Doctor") {
            SearchText = $('#txtSearchDoctor').val();
        }

        if (PageIndex == "-1") {
            return "";
        } else {
            if (Isscroll == '') {
                PageIndex = 1
            } else {
                PageIndex = parseInt(PageIndex) + parseInt(1);
            }
            $.post("/Admin/SearchColleaguesResult",
                            { DoctorId: DoctorId, PageIndex: PageIndex, SearchText: SearchText, OnScroll: Isscroll }, function (data) {
                                if (Isscroll == '') {
                                    document.getElementById("add_doctor_popup").innerHTML = data;
                                    if (SearchText) {
                                        $('#txtSearchDoctor').val(SearchText)
                                    }

                                } else {
                                    if (data == '' || data == '<center>No more colleague found.</center>') {
                                        $('#PageIndex').val("-1");
                                    } else {
                                        $('#PageIndex').val(PageIndex);
                                    }
                                    DataList = data;
                                    if (SearchText) {
                                        $('#txtSearchDoctor').val(SearchText)
                                    }
                                }
                            });
        }
        $.ajaxSetup({ async: true });

        $(".search_listing").bind('scroll', function (event) {
            if ($(this).scrollTop() + $(this).innerHeight() >= $(this)[0].scrollHeight) {

                var data = SearchColleageList($('#hdnDoctorId').val(), "OnScroll").toString();
                $(this).append(data);
            }
        });

        return DataList;
    }

    function AddColleagueOfDoctor() {

        var val = [];
        $('.checkbox_add_patient:checked').each(function () {
            var values = $(this).val();
            val += values + ',';
        });

        if (val == '') {
            swal({ title: "", text: 'Please select at least one colleague' });            
            return false;
        }

        var DoctorId = $('#hdnDoctorId').val();
        $.ajaxSetup({ async: false });
        $.post("/Admin/AddAsColleague", { DoctorId: DoctorId, ColleagueId: val },
        function (data) {
            if (data != '') {

                if (data == "0") {
                    swal({ title: "", text: 'Failed add as colleague.', type: 'error' });                    
                    return false;
                }
                else {
                    swal({ title: "", text: 'Successfully added as colleague.', type: 'success' });                    
                }
            }
            window.location.href = "../Admin/ActiveUser";
        });

        $.ajaxSetup({ async: true });
    }


    $(document).ready(function () {

        $("#lastloginfrom").datepicker({
            changeYear: true,
            yearRange: "-100:+0",
            maxDate: '+0D'

        });

        $("#lastloginto").datepicker({
            changeYear: true,
            yearRange: "-100:+0",
            maxDate: '+0D'

        });

        $("#profileUpdatefrom").datepicker({
            changeYear: true,
            yearRange: "-100:+0",
            maxDate: '+0D'

        });
        $("#profileUpdateto").datepicker({
            changeYear: true,
            yearRange: "-100:+0",
            maxDate: '+0D'

        });

        var bindScrollHandler = function () {
            $(window).scroll(function () {
                if ($(window).scrollTop() + $(window).height() > $(document).height() - 150) {
                    $(window).unbind("scroll");

                    var Data = GetListOfDoctoreForScrolling().toString();
                    $(Data).appendTo("#userlsittbody");
                    bindScrollHandler();
                }
            });
        }

        bindScrollHandler();

        function GetListOfDoctoreForScrolling() {

            var DataList = '';
            var searchtext = document.getElementById('txtsearch').value;
            var status = 1;


            if (searchtext == 'Search') {
                searchtext = '';
            }

            pageindex = $("#hdnActiveuserPageindex").val();
            if (pageindex == "-1") {
                return "";
            } else {
                pageindex = parseInt(pageindex) + parseInt("1");
                $("#hdnActiveuserPageindex").val(pageindex);
            }
            $.ajaxSetup({ async: false });
            var sortbyvalue = $('#userlsittbody').data('sortbyvalue');
            $.post("/Admin/ColleagueListOfDoctoreContent", { PageIndex: pageindex, searchtext: searchtext, status: status, SortByValue: sortbyvalue },
            function (data) {
                if (data == '<div class=\"trow\"><center>No more record found</center></div>' || data == '<div class=\"trow\"><center>No record found</center></div>') {
                    $("#hdnActiveuserPageindex").val("-1");
                }
                DataList = data;
            });

            $.ajaxSetup({ async: true });

            return DataList;
        }



        $(document).ready(function () {
            $('body').on('change', '#GetaActiveUserlist', function () {
                var sortbyvalue = $('option:selected', this).val();
                GetListOfDoctore(1, '', 1, sortbyvalue)
            });


        });

        function GetListOfDoctore(PageIndex, searchtext, status, SortByValue) {
            $("#hdnActiveuserPageindex").val("1");
            if (searchtext == 'Search') {
                searchtext = '';
            }
            var city = $("#txtCity").val();
            var state = $("#txtState").val();
            var zip = $("#txtzip").val();
            var lastloginfrom = $("#lastloginfrom").val();
            var lastloginto = $("#lastloginto").val();
            var profileUpdatefrom = $("#profileUpdatefrom").val();
            var profileUpdateto = $("#profileUpdateto").val();

            $.post("/Admin/GetColleagueLsitOfDoctore", { index: PageIndex, searchtext: searchtext, status: status, sortbyvalue: SortByValue, City: city, State: state, ZipCode: zip, LastLoginFrom: lastloginfrom, LastLoginTo: lastloginto, ProfileUpdateFrom: profileUpdatefrom, ProfileUpdateTo: profileUpdateto },
            function (data) {
                document.getElementById('tblScriptbody').innerHTML = data;
                bindScrollHandler();
                $(window).scrollTop(0);
            });
        }

        $('#add_doctor_popup').on('keypress', function (e) {
            var Keycodeof = e.keyCode
            if (Keycodeof == 13) {
                SearchColleageList($('#hdnDoctorId').val(), '')
            }
        });
        $('#txtsearch').keyup(function (e) {
            if (e.keyCode == 13) {
                var message = document.getElementById("txtsearch").value
                GetListOfDoctore(1, message, 1);

                if (message != null && message != "") {

                    $("#divClearSearch").css("display", "block");
                    $("#divClearSearch").html("<br/><a href='@Url.Action("ActiveUser", "Admin")' style=\"text-decoration:none;\" title=\"Clear Search\" > &nbsp;Clear Search</a>");

                }
                else {
                    document.getElementById('divSearchtextshow').innerHTML = '';
                }
            }
        });

        $(".mfp-close").click(function () {
            $('input:checkbox').removeAttr('checked');
        });

        $(".cancel_btn").click(function () {
            $(".mfp-close").click();
            $('input:checkbox').removeAttr('checked');
        });

    });

    function closepopup() {        
        $(".mfp-close").click();
        $('input:checkbox').removeAttr('checked');        
    }

    function CallMergeDoctor(UserIds) {
        var md = new Array();
        md = document.getElementsByTagName('input');

        var selected = "";
        for (var i = 0; i < md.length; i++) {
            if (md[i].type == 'radio' && md[i].id == 'checkmergedoctor') {
                if (md[i].checked == true) {
                    if (selected == "" && selected == null) {
                        selected = md[i].value;
                    }
                    else {
                        selected += md[i].value;
                    }
                }

            }
        }

        if (selected != null && selected != "") {

            $.post("/Admin/MergeDoctor", { SelectedUserId: selected, AllUserIds: UserIds },
             function (data) {
                 if (data != null && data != "") {
                     swal({ title: "", text: 'Doctor merge successfully.', type: 'success' });                     
                     closepopup();
                     window.location.href = document.URL;
                 }
                 else {
                     swal({ title: "", text: 'Failed to merge doctor.', type: 'error' });                     
                 }
             });
        }
        else {
            swal({ title: "", text: 'Please select at least one user' });            
            return false;
        }
    }


    function ActionToSelected(Type, PageIndex) {

        var c = new Array();
        c = document.getElementsByTagName('input');

        var selected = "";
        for (var i = 0; i < c.length; i++) {
            if (c[i].type == 'checkbox' && c[i].id == 'checkcolleague') {
                if (c[i].checked == true) {
                    if (selected == "" && selected == null) {
                        selected = c[i].value;
                    }
                    else {
                        selected += c[i].value + ',';
                    }
                }

            }
        }

        if (selected != null && selected != "") {

            if (Type == "sendemail") {
                $('#hdnUserId').val(selected);
                $('#formSendEmail').submit();
            }

            if (Type == "remove") {
                swal({
                    title: "",
                    text: "Are you sure you want to remove?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonText: "Yes, delete it!",
                    closeOnConfirm: false,
                },
   function (isConfirm) {
       if (isConfirm) {
           UpdateUserStatus(selected, 2, PageIndex);
       }
   });

            }

            if (Type == "block") {
                swal({
                    title: "",
                    text: "Are you sure you want to block?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonText: "Yes, delete it!",
                    closeOnConfirm: false,                    
                },
   function (isConfirm) {
       if (isConfirm) {
           UpdateUserStatus(selected, 3, PageIndex);
       }
   });
            }
        }
        else {
            swal({ title: "", text: 'Please select at least one user' });            
            return false;
        }
    }

    function UpdateUserStatus(UserId, Status, PageIndex) {
        $.ajaxSetup({ async: false });
        var userlist = [];
        userlist = UserId.split(',');
        $.post("/Admin/UpdateUserStatus", { UserId: UserId, Status: Status },
        function (data) {
            if (data != null && data != "") {
                if (Status == 2) {
                    swal({ title: "", text: 'User deactivated successfully', type: 'success' });                    
                }
                if (Status == 3) {
                    swal({ title: "", text: 'User blocked successfully', type: 'success' });                    
                }
                for (var i = 0; i < userlist.length; i++) {
                    $('#row' + userlist[i]).remove();
                }

                document.getElementById('divSearchtextshow').innerHTML = '';
            }
            else {
                if (Status == 2) {
                    swal({ title: "", text: 'Failed to deactive', type: 'error' });                    
                }
                if (Status == 3) {
                    swal({ title: "", text: 'Failed to block', type: 'error' });                    
                }
            }
        });
        $.ajaxSetup({ async: true });
    }


    function ResetPasswordOfDoctor(UserId) {
        $.post("/Admin/ResetPasswordOfDoctor", { UserId: UserId },
                    function (data) {
                        if (data != null && data != "") {
                            swal({ title: "", text: 'Password sent successfully', type: "success" });                            
                            document.getElementById('divSearchtextshow').innerHTML = '';
                        }
                        else {
                            swal({ title: "", text: 'Failed to sent password', type: 'error' });                            
                        }
                    });
    }

    //-- Commented following funtion - 6723
    //function megerclick() {
    //    var isValid = false;
    //    var count = 0;
    //    var c = new Array();
    //    c = document.getElementsByTagName('input');
    //    var selected = "";
    //    for (var i = 0; i < c.length; i++) {
    //        if (c[i].type == 'checkbox' && c[i].id == 'checkcolleague') {
    //            if (c[i].checked == true) {

    //                if (selected == "" && selected == null) {
    //                    selected = c[i].value;
    //                }
    //                else {
    //                    selected += c[i].value + ',';
    //                }
    //                count = count + 1;
    //            }

    //        }
    //    }

    //    if (count >= 2) { isValid = true; }

    //    if (isValid) {

    //        $.post("/Admin/OpenMergeDoctorPopUp", { UserIds: selected },
    //              function (data) {
    //                  if (data != null && data != "") {
    //                      document.getElementById('MergeUser').innerHTML = data.toString();
    //                      $('#OpenMergeUser').click();
    //                  }
    //              });

    //        return isValid;
    //    }
    //    else {
    //        swal({ title: "", text: 'Please select at least two doctor' });            
    //        return isValid;
    //    }
    //    return false;
    //}

    function ChangeUserMembership(id,flag)
    {
         $.post("/Admin/GetEncryptIdForAdmin", { UserIds: id },
                 function (data) {
                     if (data != null && data != "") {
                         var newId = data.toString();
                         if (flag == 1) {
                             $('#Member_Pay_Type').text('Make Payment');
                             $('#way_make_payment').text('Make Payment')
                             $('#OpenMembership').click();
                         }
                         else
                         {
                             $('#Member_Pay_Type').text('Change user membership');
                             $('#way_make_payment').text('Change user membership')
                             $('#OpenMembership').click();
                         }                                    
                         $("#upgradeIdcc").attr("href", "/admin/UpgradeAccount?UserId=" + newId);
                         $("#upgradeIdman").attr("onclick", "ShowPayInfo(" + id + ")");
                         $("#btnSaveManual").attr("onclick", "UpgradeAccountManually(" + id + ")");
                     }
                 });        
    }

    function ShowPayInfo(id){
        $("#pay-info").css("display", "block");        
    }

    function UpgradeAccountManually(id) {        
        var userId = id;
        var intervalId = $("#actPayInterval option:selected").val();
        var packageId = $("#actAccType option:selected").val();
        if (packageId == 0){
            swal({ title: "", text: 'Please select membership type.' });
            return false;
        }
        if (intervalId == 0) {
            swal({ title: "", text: 'Please select pay interval.' });
            return false;
        }        
        $.post("/Admin/UpgradeAccountManually", { UserId: userId, IntervalId: intervalId, MembershipId: packageId },
                 function (data) {
                     if (data != null && data != "") {
                         var strResponse = data.toString();
                         if (strResponse == 1) {
                             SuccessMessage(userId);
                         }
                     }
                 });
    }

    function SuccessMessage(userId) {
        swal({ title: "", text: 'Membership changed successfully for user id ' + userId + '' }, function () {
            location.href = "@Url.Action("ActiveUser", "Admin")";
        });
    }

    function closePayInfo() {
        $("#pay-info").css("display", "none");
    }

</script>
<a href="#MergeUser" class="edit_profile popup-with-form showlightbox" id="OpenMergeUser">
</a>
<div id="MergeUser" class="mfp-hide white-popup-block" style="max-width:750px;">
</div>

<a href="#ChangeMembershippopup" class="edit_profile popup-with-form showlightbox" id="OpenMembership">
</a>
<div id="ChangeMembershippopup" class="mfp-hide white-popup-block" style="max-width:550px;">
    <h2 class="title" id="Member_Pay_Type">Change user membership</h2>
    <div class="cntnt">
        There are two ways you can <span id="way_make_payment">change user membership</span> via:
        <ul class="search_listing" style="width:100%;margin-top:10px !important;text-align:center !important;">
            <li><a id="upgradeIdcc" target="_blank" href="" class="btn-popup noHover">Credit Card</a></li>
            <li><a id="upgradeIdman" onclick="" class="btn-popup noHover">Manually</a></li>
        </ul>
        <div id="pay-info" style="display:none;text-align:center !important;">
            <ul style="border-top: none;" class="tabbed_form_content">
                <li>                     
                    Please select <b>'Membership Type'</b> and <b>'Pay Interval'</b> then click on Save button.
                    <br />
                </li>
                <li>
                    <label>
                        Membership Type
                    </label><label>
    <span style="color: Red;">*</span>
</label>
                    <div class="grey_frmbg">                        
                        @Html.DropDownList("ddlAccType", new SelectList(ViewBag.lstMembership, "value", "text"), "Select Membership Plan", new { @id="actAccType", @title="Membership Type"})
                    </div>
                </li>
                <li>
                    <label>
                        Pay Interval
                    </label><label>
    <span style="color: Red;">*</span>
</label>
                    <div class="grey_frmbg">
                        <select id="actPayInterval" name="ddlPayInterval" title="Pay Interval">
                            <option value="0">Select Interval</option>
                            <option value="1">Monthly</option>
                            <option value="3">Quarterly</option>
                            <option value="6">Half-Yearly</option>
                            <option value="12">Anually</option>
                        </select>                        
                    </div>
                </li>
                <li>
                    <br />
                </li>
            </ul>                             
        </div>
        <div class="actions" style="text-align:center;">
            <input class="save_btn" name="Save" type="submit" id="btnSaveManual" onclick="">
            <input class="cancel_btn" name="Cancel" type="submit" value="Cancel" onclick="closePayInfo()">
            <div class="clear">
            </div>  
        </div>
    </div>
    <button class="mfp-close" type="button" onclick="closePayInfo()" title="Close (Esc)">×</button>
</div>
