﻿@{
    ViewBag.Title = "Admin - Add Doctor | Recordlinc";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<title>Recordlinc - AddDoctor</title>
<script type="text/jscript" src="../../Content/js/jquery.ui.core.js"></script>
<script type="text/jscript" src="../../Content/js/jquery.ui.widget.js"></script>
<script type="text/jscript" src="../../Content/js/jquery.ui.mask.js"></script>
<link href="~/Content/Appointment/Css/jquery.datetimepicker.css" rel="stylesheet" />
<style type="text/css">
    label {
        line-height: unset;
        font-size: inherit;
        width: 110px;
    }

    ul.dual span.fluid {
        margin-left: 125px;
    }
	ul.form_listing li > label {
		line-height: 17px;
	}
</style>

<div class="content">
    <div class="content_base">
        <!-- Breadcrumb starts-->
        <div class="breadcrumb">
            <ul>
                <li>
                    <a href='@Url.Action("Dashboard", "Admin")'>
                        <img width="16" height="14" class="hires" src="../../Content/images/home-icon.png"
                             alt="Home">
                    </a><span class="after"></span>
                </li>
                <li>
                    <span class="before"></span><a href='@Url.Action("ImportDoctors", "Admin")'>Doctor</a><span class="after"></span>
                </li>
                <li class="active"><a href="javascript:;">Add Doctor</a></li>
            </ul>
        </div>
        <!-- Breadcrumb ends-->
        <!-- Inner Content Starts -->
        <h3 class="heading">
            Add Doctor
        </h3>
        <div class="inner">
            <div class="tab_contents" id="insurance_coverage">
                <h5 class="border_bottom">
                    Personal Information
                </h5>
                <div class="clear">
                </div>
                <div class="inner">
                    <div class="add_patients ap_fix">
                        <ul class="form_listing">
                            <li>
                                <ul class="dual">
                                    <li>
                                        <ul>
                                            <li>
                                                <label>
                                                    Office Name<sup class="mandatory">*</sup>
                                                </label><span class="fluid">
                                                    <input type="text" value="" id="txtaccountname" />
                                                </span><span class="clear"></span>
                                            </li>
                                            <li>
                                                <label>
                                                    Email<sup class="mandatory">*</sup>
                                                </label><span class="fluid">
                                                    <input type="text"
                                                           value="" id="txtemail" />
                                                </span><span class="clear"></span>
                                            </li>
                                            <li>
                                                <label>
                                                    Password<sup class="mandatory">*</sup>
                                                </label><span class="fluid">
                                                    <input type="password"
                                                           value="" id="txtpassword" style="border: 1px solid #c2c2c2; box-sizing: border-box;
                                                        color: #666666; padding: 10px; resize: none; width: 100%;" />
                                                </span><span class="clear"></span>
                                            </li>
                                            <li>
                                                <label>
                                                    Confirm Password<sup class="mandatory">*</sup>
                                                </label><span class="fluid">
                                                    <input type="password" value="" id="txtconfirmpassword" style="border: 1px solid #c2c2c2;
                                                        box-sizing: border-box; color: #666666; padding: 10px; resize: none; width: 100%;" />
                                                </span><span class="clear"></span>
                                            </li>
                                            <li>
                                                <label>
                                                    First Name<sup class="mandatory">*</sup>
                                                </label>
                                                <span class="fluid">
                                                    <input type="text" value="" id="txtfirstname" />
                                                </span><span class="clear"></span>
                                            </li>
                                            <li>
                                                <label>
                                                    Middle Name
                                                </label><span class="fluid"><input type="text" value="" id="txtmiddlename" /></span><span class="clear"></span>
                                            </li>
                                            <li>
                                                <label>
                                                    Last Name<sup class="mandatory">*</sup>
                                                </label><span class="fluid">
                                                    <input type="text"
                                                           value="" id="txtlastname" />
                                                </span><span class="clear"></span>
                                            </li>                                            
                                            <li>
                                                <label>
                                                    Public URL
                                                </label><span class="fluid"><input type="text" value="" id="txtpublicpath" /></span><span class="clear"></span>
                                            </li>
                                            <li>
                                                <label>
                                                    Primary Address
                                                </label><span class="fluid"><input type="text" value="" id="txtprimaryaddress1" /></span><span class="clear"></span>
                                            </li>
                                            <li>
                                                <label>
                                                    Primary Address2
                                                </label><span class="fluid"><input type="text" value="" id="txtprimaryaddress2" /></span><span class="clear"></span>
                                            </li>
                                            <li>
                                                <label>
                                                    Primary City
                                                </label><span class="fluid"><input type="text" value="" id="txtprimarycity" /></span><span class="clear"></span>
                                            </li>
                                            <li>
                                                <label>
                                                    Primary State
                                                </label><span class="fluid">
                                                    <div id="divstateprimary">
                                                        @Html.Raw(ViewBag.StatePrimary)
                                                    </div>
                                                </span><span class="clear"></span>
                                            </li>
                                            <li>
                                                <label>
                                                    Primary Country
                                                </label><span class="fluid">
                                                    @Html.Raw(ViewBag.CountryPrimary)
                                                </span><span class="clear"></span>
                                            </li>
                                            <li>
                                                <label>
                                                    Primary Zip Code
                                                </label>
                                                <span class="fluid">
                                                    <input type="text" value="" id="txtprimaryzipcode" />
                                                </span><span class="clear"></span>
                                            </li>
                                            <li>
                                                <label>
                                                    Primary Phone
                                                </label><span class="fluid"><input type="text" value="" id="txtprimaryphone" class="numericOnly" maxlength = "10"/></span><span class="clear"></span>
                                            </li>
                                            <li>
                                                <label>
                                                    Primary Fax
                                                </label><span class="fluid"><input type="text" value="" id="txtprimaryfax" /></span><span class="clear"></span>
                                            </li>
                                            <li>
                                                <label>
                                                    Primary Timezone
                                                </label>
                                                <span class="fluid">
                                                    @Html.DropDownList("PrimaryTimezone", new SelectList(ViewBag.TimeZoneList, "TimezoneId", "TimeZoneText", "74"),new { style = "width:100%;" })
                                                </span>
                                            </li>
                                            <li>
                                                <label>
                                                    License Number
                                                </label><span class="fluid"><input type="text" value="" id="txtlicensenumber" /></span><span class="clear"></span>
                                            </li>

                                            <li>
                                                <label>
                                                    License Expiration
                                                </label><span class="fluid"><input type="text" value="" id="txtlicenseExpiration" class="datepicker" readonly='true' onclick="DatePicker()" /></span><span class="clear"></span>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul>
                                            <li>
                                                <label>
                                                    Title
                                                </label><span class="fluid"><input type="text" value="" id="txttitle" /></span><span class="clear"></span>
                                            </li>
                                            <li>
                                                <label>
                                                    Description
                                                </label><span class="fluid">
                                                    <input type="text" value="" id="txtdescription" />
                                                </span><span class="clear"></span>
                                            </li>
                                            <li>
                                                <label>
                                                    Facebook URL
                                                </label><span class="fluid"><input type="text" value="" id="txtfacebookurl" /></span><span class="clear"></span>
                                            </li>
                                            <li>
                                                <label>
                                                    Twitter URL
                                                </label>
                                                <span class="fluid">
                                                    <input type="text" value="" id="txttwitterurl" />
                                                </span><span class="clear"></span>
                                            </li>
                                            <li>
                                                <label>
                                                    LinkedIn URL
                                                </label>
                                                <span class="fluid">
                                                    <input type="text" value="" id="txtlinkedinurl" />
                                                </span><span class="clear"></span>
                                            </li>
                                            <li>
                                                <label>
                                                    Specialities
                                                </label><span class="fluid">
                                                    @Html.Raw(ViewBag.Specialities)
                                                </span><span class="clear"></span>
                                            </li>
                                            <li>
                                                <label>
                                                    Institution Attended
                                                </label>
                                                <span class="fluid">
                                                    <input type="text" value="" id="txtinstituteattended" />
                                                </span><span class="clear"></span>
                                            </li>
                                            <li>
                                                <label>
                                                    Year Graduated
                                                </label>
                                                <span class="fluid">
                                                    @Html.Raw(ViewBag.YearAttend)
                                                </span><span class="clear"></span>
                                            </li>
                                            <li>
                                                <label>
                                                    Secondary Address
                                                </label><span class="fluid"><input type="text" value="" id="txtsecondaryaddress1" /></span><span class="clear"></span>
                                            </li>
                                            <li>
                                                <label>
                                                    Secondary Address2
                                                </label><span class="fluid"><input type="text" value="" id="txtsecondaryaddress2" /></span><span class="clear"></span>
                                            </li>
                                            <li>
                                                <label>
                                                    Secondary City
                                                </label><span class="fluid"><input type="text" value="" id="txtsecondarycity" /></span><span class="clear"></span>
                                            </li>
                                            <li>
                                                <label>
                                                    Secondary State
                                                </label><span class="fluid">
                                                    <div id="divstatesecondary">
                                                        @Html.Raw(ViewBag.StateSecondary)
                                                    </div>
                                                </span><span class="clear"></span>
                                            </li>
                                            <li>
                                                <label>
                                                    Secondary Country
                                                </label><span class="fluid">
                                                    @Html.Raw(ViewBag.CountrySecondary)
                                                </span><span class="clear"></span>
                                            </li>
                                            <li>
                                                <label>
                                                    Secondary Zip Code
                                                </label><span class="fluid"><input type="text" value="" id="txtsecondaryzipcode" /></span><span class="clear"></span>
                                            </li>
                                            <li>
                                                <label>
                                                    Secondary Phone
                                                </label><span class="fluid"><input type="text" value="" id="txtsecondaryphone" class="numericOnly" maxlength = "10"/></span><span class="clear"></span>
                                            </li>
                                            <li>
                                                <label>
                                                    Secondary Fax
                                                </label><span class="fluid"><input type="text" value="" id="txtsecondaryfax" /></span><span class="clear"></span>
                                            </li>
                                            <li>
                                                <label>
                                                    Secondary Timezone
                                                </label>
                                                <span class="fluid">
                                                    @Html.DropDownList("SecondaryTimezone", new SelectList(ViewBag.TimeZoneList, "TimezoneId", "TimeZoneText", "74"), new { style = "width:100%;" })
                                                </span>
                                            </li>
                                            <li>
                                                <label>
                                                    License State
                                                </label><span class="fluid">
                                                    <div id="divlicenseState">
                                                        @Html.Raw(ViewBag.StatePrimary)
                                                    </div>
                                                </span><span class="clear"></span>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li></li>
                            <li class="action">
                                <div class="right_btn" style="width:34%;">
                                    <p id="weekstatusconfigid" style="font-size:18px!important;display:none;color:green;">Doctor Added Successfully</p>
                                    <input type="button" class="submit_new_btn" onclick="return doctorsignup();" style="float:right;margin-top:-33px;" />

                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="clear">
                    </div>
                </div>
            </div>
            <div class="clear">
            </div>
        </div>
        <div class="clear">
        </div>
    </div>
</div>
<script src="~/Content/Appointment/Js/jquery.datetimepicker.full.js"></script>
<script type="text/javascript">
    $('.datepicker').datetimepicker({
        datepicker: true,
        timepicker: false,
        format: 'm/d/Y',
    });
    $(document).ready(function () {
        var specialKeys = new Array();
        specialKeys.push(8); //Backspace
        $(".searchbar").remove();
        $(".numericOnly").bind("keypress", function (e) {
            var keyCode = e.which ? e.which : e.keyCode
            var ret = ((keyCode >= 48 && keyCode <= 57) || specialKeys.indexOf(keyCode) != -1);

            return ret;
        });
        //$(".numericOnly").bind("paste", function (e) {
        //    return false;
        //});
        $(".numericOnly").bind("drop", function (e) {
            return false;
        });

        //$('#txtprimaryphone').focus(function () { if ($('#txtprimaryphone').val() == '') { $('#txtprimaryphone').mask({ mask: '' }); } });
        //$('#txtprimaryphone').blur(function () { if ($('#txtprimaryphone').val() == '' || $('#txtprimaryphone').val() == '') { } });


        //$('#txtprimaryfax').focus(function () { if ($('#txtprimaryfax').val() == '') { $('#txtprimaryfax').mask({ mask: '' }); } });
        //$('#txtprimaryfax').blur(function () { if ($('#txtprimaryfax').val() == '' || $('#txtprimaryfax').val() == '') { } });


        //$('#txtsecondaryphone').focus(function () { if ($('#txtsecondaryphone').val() == '') { $('#txtsecondaryphone').mask({ mask: '' }); } });
        //$('#txtsecondaryphone').blur(function () { if ($('#txtsecondaryphone').val() == '' || $('#txtsecondaryphone').val() == '') { } });


        //$('#txtsecondaryfax').focus(function () { if ($('#txtsecondaryfax').val() == '') { $('#txtsecondaryfax').mask({ mask: '' }); } });
        //$('#txtsecondaryfax').blur(function () { if ($('#txtsecondaryfax').val() == '' || $('#txtsecondaryfax').val() == '') { } });




    });
   
    function validation() {
        var Pass = $("#txtpassword").val();
        if (Pass.length < 8 && !Pass.match(/[a-z]/) && !Pass.match(/[A-Z]/) && Pass.match(/\d/)) {
            return false;
        }
        else {
            var specialchrchk = Pass.replace(/([0-9a-zA-Z])+/g, "");
            if (/^[!@@#$%^&*()_+{}:\"\\\'?></.,|]+$/.test(ankit)) {
                return false;
            }
            else {
                return true;
            }
        }
    }

    function doctorsignup() {
        
        var AccountName = $('#txtaccountname').val();
        var Email = $('#txtemail').val();
        var Password = $('#txtpassword').val();
        var ConfirmPassword = $('#txtconfirmpassword').val();
        var FirstName = $('#txtfirstname').val();
        var LastName = $('#txtlastname').val();
        var MiddleName = $('#txtmiddlename').val();
        if (AccountName == null || AccountName == "") {
            swal({ title: "", text: 'Please enter account name' });
            //  alert('Please enter account name');
            $('#txtaccountname').focus();
            return false;
        }

        if (Email == null || Email == "") {
            swal({ title: "", text: 'Please enter email' });
            // alert('Please enter email');
            $('#txtemail').focus();
            return false;
        }
        else {
            if (!IsEmail(Email)) {
                swal({ title: "", text: 'Please enter a valid email address' });
                //  alert('Please enter a valid email address');
                $('#txtemail').focus();
                return false;
            }
        }
        
        //var decimal = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z]{8,}$/;
        //if (decimal.test(Password) || Password.length < 8 || Password == null || Password == "") {
        //    swal({ title: "", text: 'Password must be a minimum of 8 characters long and contain an upper and lower case letter, a number, and a symbol such as #,!,$,%,&,_..' });
        //    // alert('Please enter password');
        //    $('#txtpassword').focus();
        //    return false;
        //}

        //if (decimal.test(ConfirmPassword) || Password.length < 8 || ConfirmPassword == null || ConfirmPassword == "") {
        //    swal({ title: "", text: 'Confirm password must be a minimum of 8 characters long and contain an upper and lower case letter, a number, and a symbol such as #,!,$,%,&,_..' });
        //    //   alert('Please enter confirm password');
        //    $('#txtconfirmpassword').focus();
        //    return false;
        //}

        //if (Password != ConfirmPassword) {
        //    swal({ title: "", text: 'Password and Confirm Password does not match' });
        //    //  alert('Please password not match');
        //    $('#txtpassword').focus();
        //    return false;
        //}

        //        
        if (Password == null || Password == "") {
            swal({ title: "", text: 'Please enter password' });
            //  alert('Please enter firstname');
            $('#txtpassword').focus();
            return false;
        }
        if (ConfirmPassword == null || ConfirmPassword == "") {
            swal({ title: "", text: 'Please enter Confirm Password' });
            //  alert('Please enter firstname');
            $('#txtconfirmpassword').focus();
            return false;
        }
        if (Password != null && Password != "" && ConfirmPassword != null && ConfirmPassword != "") {
            if (Password != ConfirmPassword) {
                swal({ title: "", text: 'Password and Confirm Password does not match.' });
                // alert('Please check that you have entered and confirmed your password!');
                return false;
            }
            else {
                var re = /^.*(?=.{8,})(?=.*[a-z])(?=.*[A-Z])(?=.*[@@#!$%^&+=]).*$/;
                if (!re.test(Password)) {
                    if (Password.length < 8 || Password.match(/[a-z]/) || Password.match(/[A-Z]/) || Password.match(/\d/)) {
                        var specialchrchk = Password.replace(/([0-9a-zA-Z])+/g, "");
                        if (!/^[!@@#$%^&*()_+{}:\"\\\'?></.,|]+$/.test(specialchrchk)) {
                            swal({ title: "", text: 'Password must be a minimum of 8 characters long and contain an upper and lower case letter, a number, and a symbol such as #,!,$,%,&,_..' });
                            return false;
                        }
                    }
                }
            }
        }

        //
        if (FirstName == null || FirstName == "") {
            swal({ title: "", text: 'Please enter first name' });
            //  alert('Please enter firstname');
            $('#txtfirstname').focus();
            return false;
        }
        else {
            var FirstNameCheck = IsCharactersOnly(FirstName);
            if (FirstNameCheck == false) {
                swal({ title: "", text: 'First name allow characters only' });
                //  alert('FirstName allow characters only');
                $('#txtfirstname').focus();
                return false;
            }
            else {
                if (FirstName.length > 30) {
                    swal({ title: "", text: 'First name allow maximum 30 characters only' });
                    //  alert('FirstName allow maximum 30 characters only');
                    $('#txtfirstname').focus();
                    return false;
                }
            }
        }

        if (LastName == null || LastName == "") {
            swal({ title: "", text: 'Please enter last name' });
            //  alert('Please enter lastname');
            $('#txtlastname').focus();
            return false;
        }
        else {

            var LastNameCheck = IsCharactersOnly(LastName);
            if (LastNameCheck == false) {
                swal({ title: "", text: 'Last name allow characters only' });
                //  alert('LastName allow characters only');
                $('#txtlastname').focus();
                return false;
            }
            else {
                if (LastName.length > 30) {
                    swal({ title: "", text: 'Last name allow maximum 30 characters only' });
                    //  alert('LastName allow maximum 30 characters only');
                    $('#txtlastname').focus();
                    return false;
                }
            }
        }

        if (MiddleName != null && MiddleName != "") {
            var MiddleNameCheck = IsCharactersOnly(MiddleName);
            if (MiddleNameCheck == false) {
                swal({ title: "", text: 'Middle name allow characters only' });
                // alert('MiddleName allow characters only');
                $('#txtmiddlename').focus();
                return false;
            }
            else {
                if (MiddleName.length > 30) {
                    swal({ title: "", text: 'Middle name allow maximum 30 characters only' });
                    //  alert('MiddleName allow maximum 30 characters only');
                    $('#txtmiddlename').focus();
                    return false;
                }
            }
        }
       

        

        if ($('#txtprimaryzipcode').val() != "") {

            var ValidateZip = /^([FG]?\d{5}|\d{5}[AB])$/;
            if (!ValidateZip.test($('#txtprimaryzipcode').val())) {
                swal({ title: "", text: 'Please enter a valid zip code' });
                // alert('Please Enter a Valid Zip Code');
                $('#txtprimaryzipcode').focus();
                return false;
            }
        }

        if ($('#txtsecondaryzipcode').val() != "") {

            var ValidateZip = /^([FG]?\d{5}|\d{5}[AB])$/;
            if (!ValidateZip.test($('#txtsecondaryzipcode').val())) {
                swal({ title: "", text: 'Please enter a valid zip code' });
                //  alert('Please Enter a Valid Zip Code');
                $('#txtsecondaryzipcode').focus();
                return false;
            }
        }
        
        if ($('#txtfacebookurl').val() != "") {
            var url = $('#txtfacebookurl').val();
            if (!/(?:https?:\/\/)?(?:www\.)?facebook\.com\/.(?:(?:\w)*#!\/)?(?:pages\/)?(?:[\w\-]*\/)*([\w\-\.]*)/.test(url)) {            
                swal({ title: "", text: 'Please enter a valid Facebook url.' });
                $('#txtfacebookurl').focus();
                return false;
            }
        }

        if ($('#txttwitterurl').val() != "") {
            var url = $('#txttwitterurl').val();
            if (!/(ftp|http|https):\/\/?(?:www\.)?twitter.com(\w+:{0,1}\w*@@)?(\S+)(:([0-9])+)?(\/|\/([\w#!:.?+=&%@@!\-\/]))?/.test(url)) {                
                swal({ title: "", text: 'Please enter a valid Twitter url.' });
                $('#txttwitterurl').focus();
                return false;
            }
        }
        
        if ($('#txtlinkedinurl').val() != "") {
            var url = $('#txtlinkedinurl').val();
            if (!/(ftp|http|https):\/\/?(?:www\.)?linkedin.com(\w+:{0,1}\w*@@)?(\S+)(:([0-9])+)?(\/|\/([\w#!:.?+=&%@@!\-\/]))?/.test(url)) {               
                swal({ title: "", text: 'Please enter a valid LinkedIn url.' });
                $('#txtlinkedinurl').focus();
                return false;
            }
        }

        $.post("/Admin/CheckDoctorIsexistsByEmail", { Email: Email }, function (data) {

            if (data != null && data != "") {

                $.post("/Admin/AddDoctorManually", {

                    AccountName: AccountName,
                    Email: Email,
                    Password: Password,
                    FirstName: FirstName,
                    LastName: LastName,
                    MiddleName: MiddleName,
                    PublicURL: $('#txtpublicpath').val(),
                    PrimaryAddress: $('#txtprimaryaddress1').val(),
                    PrimaryAddress2: $('#txtprimaryaddress2').val(),
                    PrimaryCity: $('#txtprimarycity').val(),
                    PrimaryState: $('#drpStatePrimary').val() == "0" ? "" : $('#drpStatePrimary').val(),
                    PrimaryCountry: $('#drpCountryPrimary').val() == "0" ? "" : $('#drpCountryPrimary').val(),
                    PrimaryZipCode: $('#txtprimaryzipcode').val(),
                    PrimaryPhone: $('#txtprimaryphone').val(),
                    PrimaryFax: $('#txtprimaryfax').val(),
                    Title: $('#txttitle').val(),
                    Description: $('#txtdescription').val(),
                    FacebookURL: $('#txtfacebookurl').val(),
                    TwitterURL: $('#txttwitterurl').val(),
                    LinkidinURL: $('#txtlinkedinurl').val(),
                    Specialities: $('#drpSpeciality').val(),
                    InstitutionAttended: $('#txtinstituteattended').val(),
                    YearGraduated: $('#txtyeargraduated').val() == "0" ? "" : $('#txtyeargraduated').val(),
                    SecondaryAddress: $('#txtsecondaryaddress1').val(),
                    SecondaryAddress2: $('#txtsecondaryaddress2').val(),
                    SecondaryCity: $('#txtsecondarycity').val(),
                    SecondaryState: $('#drpStateSecondary').val() == "0" ? "" : $('#drpStateSecondary').val(),
                    SecondaryCountry: $('#drpCountrySecondary').val() == "0" ? "" : $('#drpCountrySecondary').val(),
                    SecondaryZip: $('#txtsecondaryzipcode').val(),
                    SecondaryPhone: $('#txtsecondaryphone').val(),
                    SecondaryFax: $('#txtsecondaryfax').val(),
                    LicenseState: $('#drpLicenseState').val() == "0" ? "" : $('#drpLicenseState').val(),
                    LicenseNumber: $('#txtlicensenumber').val(),
                    LicenseExpiration: $('#txtlicenseExpiration').val(),
                    PrimaryTimezone: $("#PrimaryTimezone").val(),
                    SecondaryTimezone: $("#SecondaryTimezone").val()

                }, function (data1) {

                    if (data1 != null && data1 != "") {
                        $("#weekstatusconfigid").css("display", "block");
                        setTimeout(function () {
                            $("#weekstatusconfigid").fadeOut(700);
                        }, 3000)
                        window.location = '/Admin/ActiveUser';
                    }
                    else {
                        swal({ title: "", text: 'Failed to add doctor', type: 'error' });
                        // alert('Failed to add Doctor');
                    }
                });
            }
            else {
                swal({ title: "", text: 'Email is already exists in system' });
                //  alert('Email is already exists in system');
                $('#txtemail').focus();
                return false;
            }
        });
    }

    function FillStatePrimary() {

        var id = document.getElementById("drpCountryPrimary").value;
        $.post("/Admin/FillStatePrimary", { cid: id, sid: "" }, function (data) {

            if (data != '') {
                document.getElementById("divstateprimary").innerHTML = data.toString();
            }
        });
        FillLicenseState();
    }
    function FillLicenseState() {
        var id = document.getElementById("drpCountryPrimary").value;
        $.post("/Admin/FillLicenseState", { cid: "US", sid: "" }, function (data) {

            if (data != '') {
                document.getElementById("divlicenseState").innerHTML = data.toString();
            }
        });
    }

    function FillStateSecondary() {

        var id = document.getElementById("drpCountrySecondary").value;
        $.post("/Admin/FillStateSecondary", { cid: id, sid: "" }, function (data) {

            if (data != '') {
                document.getElementById("divstatesecondary").innerHTML = data.toString();
            }
        });
    }

</script>
