﻿@model BO.Models.Procedure
    <button type="button" title="Close (Esc)" class="mfp-close">×</button>
    @if (Model.ProcedureId > 0)
    {
    <h2 class="title">
        Edit Procedure
    </h2>
    }
    else
    {
    <h2 class="title">
        Add Procedure
    </h2>
    }
    <div class="cntnt">
        <div style="width:79%;">
            <div class="form-group">
                @Html.HiddenFor(x => x.ProcedureId)
                @Html.LabelFor(x => x.ProcedureName, new { @class = "form-label" })
                @Html.TextBoxFor(x => x.ProcedureName, new { @class = "form-label alphaonly", @style = "float:left;", @onkeyup = "check();" })
                <span id="spnProcedure" style="color:red;display:none;">Please enter Procedure Name</span>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.StandardFees, new {@class= "form-label",@style= "display:inline-block;" })
                @Html.TextBoxFor(x => x.StandardFees, new { @class = "form-label numericOnly", @style = "float:left;" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.CostPercentage, new { @class = "form-label", @style = "display:inline-block;" })
                @Html.TextBoxFor(x => x.CostPercentage, new { @class = "form-label numericOnly", @style = "float:left;" })
            </div>
        </div>
        <div class="clear">
        </div>
        <div class="actions">
            <input class="save_btn1" name="Save" type="submit" value="Save" style="width:97px;height:40px;" onclick="InsertProcedure()">
            <input class="cancel_btn" name="Cancel" type="button" value="Cancel" onclick="Close()">
            <div class="clear">
            </div>
        </div>
    </div>

