﻿@{
    ViewBag.Title = "Admin - Block Users | Recordlinc";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<title>Recordlinc - BlockUsers</title>
<script type="text/javascript">

    var bindScrollHandler = function () {
        $(window).scroll(function () {
            if ($(window).scrollTop() + $(window).height() > $(document).height() - 150) {
                $(window).unbind("scroll");
                var Data = GetAllBlockUsersContent().toString();
                $(Data).appendTo("#tblbodycontent");
                bindScrollHandler();
            }
        });
    }

    $(document).ready(function () {
        bindScrollHandler();
        $('#txtsearch').keyup(function (e) {
            if (e.keyCode == 13) {
                var message = document.getElementById("txtsearch").value
                GetAllBlockUsers(1, 2, 2, message)

                if (message != null && message != "") {
                    $("#divClearSearch").css("display", "block");
                    $("#divClearSearch").html("<br/><a href='@Url.Action("BlockUsers", "Admin")' style=\"text-decoration:none;\" title=\"Clear Search\" > &nbsp;Clear Search</a>");
                }
                else {
                    document.getElementById('divSearchtextshow').innerHTML = '';
                }
            }
        });
    });

    function GetAllBlockUsersContent() {
        var DataList = '';
        var searchtext = document.getElementById('txtsearch').value;
        var strSortColumn = $("#tblBlockUser").data("sortcolumn");
        var strSortDirection = $("#tblBlockUser").data("sortirection");

        if (searchtext == 'Search') {
            searchtext = '';
        }
        var PageIndex = $("#hdnPageindex").val();
        if (PageIndex == "-1") {
            return "";
        } else {
            PageIndex = parseInt(PageIndex) + parseInt("1");
            $("#hdnPageindex").val(PageIndex);
        }
        $.ajaxSetup({ async: false });
        $.post("/Admin/GetBlockUsersContent", { PageIndex: PageIndex, SortColumn: strSortColumn, SortDirection: strSortDirection, Searchtext: searchtext },
        function (data) {
            if (data == '<tr><td colspan=\"4\"><center>No more record found</center></td></tr>' || data == '<tr><td colspan=\"4\"><center>No record found</center></td></tr>') {
                $("#hdnPageindex").val("-1");
            }
            DataList = data;

        });
        $.ajaxSetup({ async: true });
        return DataList;
    }

    function GetAllBlockUsers(PageIndex, SortColumn, SortDirection, Searchtext) {
        $("#hdnPageindex").val("1");
        $.post("/Admin/GetBlockUsers", { PageIndex: PageIndex, SortColumn: SortColumn, SortDirection: SortDirection, Searchtext: Searchtext },
        function (data) {
            document.getElementById('divBlockUsers').innerHTML = data;
            bindScrollHandler();
            $(window).scrollTop(0);
        });
    }

    function ActiveBlockUser(UserId, FirstName, LastName, Email, Phone, Date, IsInSystem, PageIndex) {
        if (confirm("Are you sure you want to active ?")) {
            $.post("/Admin/ActiveBlockUser", { UserId: UserId, FirstName: FirstName, LastName: LastName, Email: Email, Phone: Phone, Date: Date, IsInSystem: IsInSystem },
            function (data) {
                if (data != null && data != "") {
                    swal({ title: "", text: 'User activated successfully', type: 'success' });
                    $('#row' + UserId).remove();
                }
                else {
                    swal({ title: "", text: 'Failed to active user', type: 'error' });
                }
            });
        }
        else {
            return false;
        }
    }

    $(document).keydown(function (e) {
        if (e.which == 116) {
            window.location.href = "../Admin/SignsUpEmail";
            return false;
        }
    });
</script>
<input type="hidden" name="hdnPageindex" id="hdnPageindex" value="1" />
<div class="content">
    <div class="content_base">
        <!-- Breadcrumb starts-->
        <div class="breadcrumb">
            <ul>
                <li>
                    <a href='@Url.Action("Dashboard", "Admin")'>
                        <img width="16" height="14" class="hires" src="../../Content/images/home-icon.png"
                             alt="Home">
                    </a><span class="after"></span>
                </li>
                <li>
                    <span class="before"></span><a href='@Url.Action("ActiveUser", "Admin")'>Users</a><span class="after"></span>
                </li>
                <li class="active"><a href='@Url.Action("BlockUsers", "Admin")'>Block Users</a></li>
            </ul>
        </div>
        <div id="divSearchtextshow">
        </div>
        <!-- Breadcrumb ends-->
        <!-- Inner Content Starts -->
        <div class="inner">
            <!-- Social Media Table -->
            <div id="divBlockUsers">
                @Html.Raw(ViewBag.GetAllBlockUsers)
            </div>
            <div class="clear">
            </div>
        </div>
        <div class="clear">
        </div>
    </div>
</div>
