﻿@model List<BO.Models.DentistSyncModel>
@{
    ViewBag.Title = "DentistLastSync";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<title>Recordlinc - LoggedInfo</title>
<input type="hidden" id="hdnPageindex" value="1" />
<div class="content">
    <div class="content_base">
        <!-- Breadcrumb starts-->
        <div class="breadcrumb">
            <ul>
                <li>
                    <a href="@Url.Action("Dashboard", "Admin")">
                        <img width="16" height="14" class="hires" src="../../Content/images/home-icon.png"
                             alt="Home">
                    </a><span class="after"></span>
                </li>
                @*<li>*@
                <span class="before"></span>
                <a href='@Url.Action("DentistLastSync", "Admin")'>PMS Sync</a>
                <span class="after"></span>
                @*</li>*@
                @*<li class="active"><a href="@Url.Action("ManageMemberShip", "Admin")">Manage Membership</a></li>*@
            </ul>
        </div>

        @*<div class="heading_panel">
            <a class="edit popup-with-form showlightbox" href="#AddMembership" onclick="">
                Export To Excel
            </a>
        </div>
        <div>Total Record Found</div>*@
        <!-- Breadcrumb ends-->
        <!-- Inner Content Starts -->
        <div class="inner">
            <!-- Social Media Table -->
            <div id="tblScript">

                <div class="table_data reports_ref_received clearfix">
                    <div class="clear"></div>
                    <table class="responsiveTable" border="0" cellpadding="0" cellspacing="0" id="tblLoggedInfo" data-sortcolumn="3" data-sortirection="2">
                         
                        <tbody id="lsittbody">
                            @{int i = 0; }
                            @foreach (var item in Model.Select(c => new { c.AccountName, }).Distinct().ToList())
                            {
                                i = i + 1;
                                <tr>
                                    <td>@i</td>
                                    <td>Account Name is <b> @item.AccountName </b> </td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td colspan="7">
                                        <table style="width: 100%; float: right;">

                                            <tr>
                                                <th>Location</th>
                                                <th>Dentist Name</th>
                                                <th>Dentist Email</th>
                                                <th>Dentist Phone</th>
                                                <th>Address</th>
                                                <th>Connector Key</th>
                                                <th>Last SyncDate</th>
                                            </tr>
                                            @foreach (var subitem in Model.Where(m => m.AccountName == item.AccountName).ToList())
                                            {
                                                <tr>
                                                    <td>@subitem.Location</td>
                                                    <td>@subitem.FirstName @subitem.LastName</td>
                                                    <td>@subitem.Email</td>
                                                    <td>@subitem.Phone</td>
                                                    <td>@subitem.Address</td>
                                                    <td>@subitem.AccountKey</td>
                                                    <td>@String.Format("{0:g}", subitem.SyncDate)</td>
                                                </tr>
                                            }


                                        </table>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>


            </div>
            <div class="clear">
            </div>
        </div>
        <div class="clear">
        </div>
    </div>
</div>


@*<table class="responsiveTable" border="0" cellpadding="0" cellspacing="0" id="tblLoggedInfo" data-sortcolumn="3" data-sortirection="2">
    <thead>
        <tr>
            <th>#</th>
            <th>Account Name</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
    </thead>
    <tbody id="lsittbody">
        @{int i = 0;
        }
        @foreach (var item in Model.Select(c => new
        {
            c.AccountName,
            c.FirstName,
            c.LastName,
            c.Email,
            c.Phone,
        }).Distinct().ToList())
        {

            i = i + 1;

            <tr>
                <td>@i</td>
                <td>@item.AccountName</td>
                <td>@item.FirstName   @item.LastName </td>
                <td>@item.Email</td>
                <td>@item.Phone</td>
                
            </tr>
<tr>
    <td>&nbsp;</td>
    <td colspan="7">
        <table style="width: 100%; float: right;">

            <tr>
                <th>Location</th>
                <th>Address</th>
                <th>Connector Key</th>
                <th>SyncDate</th>
            </tr>
            @foreach (var subitem in Model.Where(m => m.AccountName == item.AccountName && m.FirstName == item.FirstName && m.LastName == item.LastName && m.Email == item.Email && m.Phone == item.Phone).ToList())
            {
                <tr>
                    <td>@subitem.Location</td>
                    <td>@subitem.Address</td>
                    <td>@subitem.AccountKey</td>
                    <td>@String.Format("{0:g}", subitem.SyncDate)</td>
                </tr>
            }


        </table>
    </td>
</tr>
        }
    </tbody>
</table>*@