﻿@model NewRecordlinc.Models.Admin.mdlAdmin
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    
    <script src="../../Content/ckeditor/ckeditor.js" type="text/javascript"></script>
    <script src="../../Content/ckeditor/adapters/jquery.js" type="text/javascript"></script>
    
    <script type="text/javascript">
        CKEDITOR.disableAutoInline = true;
     
        $(document).ready(function () {
            $('#txttempatebody').ckeditor(); // Use CKEDITOR.replace() if element is <textarea>.
            document.getElementById("txtsearch").style.display = 'none';


        });



    </script>
   
    
}
<title>Recordlinc - EditEmailTemplates</title>
<div class="content">
    <div class="content_base">
        <!-- Breadcrumb starts-->
        <div class="breadcrumb">
            <ul>
                <li>
                    <a href='@Url.Action("Dashboard", "Admin")'>
                    <img width="16" height="14" class="hires" src="../../Content/images/home-icon.png"
                             alt="Home">
                    </a><span class="after"></span>
                </li>
                <li>
                    <span class="before"></span><a href='@Url.Action("ActiveUser", "Admin")'>Admin</a><span class="after"></span>
                </li>
                <li class="active"><a href='@Url.Action("EmailTemplates", "Admin")'>Email Template</a></li>
            </ul>
        </div>
        <!-- Breadcrumb ends-->
        <!-- Inner Content Starts -->
        <div class="inner">
            <div class="email_template form_listing">
                <ul>
               
                    <li>
                        <label>
                            Template Name:
                        </label><input type="text" value="@Model.lstEmailTemplate[0].TemplateName" id="txttempatename" readonly="readonly" />
                    </li>
                    <li>
                        <label>
                            Template Subject :
                        </label>
                        <input type="text" value="@Model.lstEmailTemplate[0].TemplateSubject" id="txttempatesubject" />
                    </li>
                    <li>
                        <label>
                            Template Description:
                        </label>
                            
                          
                            
                            <span class="email_data" style="float:right;width:78%;">
                                <textarea rows="150" cols="50" id="txttempatebody" name="txttempatebody">
                                @Model.lstEmailTemplate[0].TemplateDesc
                                        </textarea>
                        </span>
                    </li>
                  
                </ul>
                 <div style="width: 100%;">
                    
                    <div style="width: 50%;float:right;">
                        <div class="actions" style="margin:20px 0 0 0">
                            <input type="submit" class="submit_new_btn" onclick="return EditEmailTemplateById(@Model.lstEmailTemplate[0].TemplateId)" />
                           <input type="submit" onclick="location.href='/Admin/EmailTemplates'" value="Cancel" name="Cancel" class="cancel_btn" style="margin-left:20px;">
                        </div>
                    </div>
                </div>
            </div>

            <div class="clear">
            </div>
        </div>
        <div class="clear">
        </div>
    </div>
</div>
<script type="text/javascript">


    function EditEmailTemplateById(TemplateId) {
        

        if ($('#txttempatebody').val() == null && $('#txttempatebody').val() == "") {
            //alert('Please enter template body');
            swal({ title: "", text: 'Please enter template body' });
            return false;
        }

        var strTemplateSubject = $('#txttempatesubject').val();
        var strTemplateDesc = $('#txttempatebody').val();


        $.post("/Admin/EditEmailTemplateById", { TemplateId: TemplateId, TemplateSubject: strTemplateSubject, TemplateDesc: strTemplateDesc },
                function (data) {
                    if (data != null && data == "true") {
                        //alert('Template updated successfully');
                        swal({ title: "", text: 'Template updated successfully', type :'success' });
                        window.location = '../../admin/EmailTemplates';
                        return false;
                    }
                    $(window).scrollTop(0);
                });
    }



</script>
