﻿@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
	ul.vtiget_list li input[type="radio"] {
    float: right;
    margin: 9px 10px 0 0;
}
</style>
<title>Recordlinc - EmailTemplates</title>
<input type="hidden" name="hdnPageindex" id="hdnPageindex" value="1" />
<div class="content">
    <div class="content_base">
        <!-- Breadcrumb starts-->
        <div class="breadcrumb">
            <ul>
                <li>
                    <a href='@Url.Action("Dashboard", "Admin")'>
                        <img width="16" height="14" class="hires" src="../../Content/images/home-icon.png"
                             alt="Home">
                    </a><span class="after"></span>
                </li>
                <li>
                    <span class="before"></span><a href='@Url.Action("ActiveUser", "Admin")'>Admin</a><span class="after"></span>
                </li>
                <li class="active"><a href='@Url.Action("EmailTemplates", "Admin")'>Manage Template</a></li>
            </ul>
        </div>
        <div id="divSearchtextshow"></div>
        <!-- Breadcrumb ends-->
        <!-- Inner Content Starts -->
        <div class="inner">
            <!-- Social Media Table -->
            <div id="tblScriptbody">
                @Html.Raw(ViewBag.tblEmailTemplates)
            </div>
            <div class="clear">
            </div>

        </div>
        <div class="clear">
        </div>
    </div>
</div>
<script type="text/javascript">

    var bindScrollHandler = function () {
        $(window).scroll(function () {
            if ($(window).scrollTop() + $(window).height() > $(document).height() - 150) {
                $(window).unbind("scroll");
                var Data = GetEmailTemplatesContent().toString();
                $(Data).appendTo("#tblbodycontent");
                bindScrollHandler();
            }
        });
    }

    function GetEmailTemplatesContent(Index, SortColumn, SortDirection) {

        var DataList = '';
        var searchtext = document.getElementById('txtsearch').value;
        var strSortColumn = $("#tblEmailTemplates").data("sortcolumn");
        var strSortDirection = $("#tblEmailTemplates").data("sortirection");

        if (searchtext == 'Search') {
            searchtext = '';
        }
        var PageIndex = $("#hdnPageindex").val();
        if (PageIndex == "-1") {
            return "";
        } else {
            PageIndex = parseInt(PageIndex) + parseInt("1");
            $("#hdnPageindex").val(PageIndex);
        }
        $.ajaxSetup({ async: false });
        $.post("/Admin/GetEmailTemplatesContent", { PageIndex: PageIndex, searchtext: searchtext, SortColumn: strSortColumn, SortDirection: strSortDirection },
        function (data) {
            if (data == '<tr><td colspan=\"4\"><center>No more record found</center></td></tr>' || data == '<tr><td colspan=\"4\"><center>No record found</center></td></tr>') {
                $("#hdnPageindex").val("-1");
            }
            DataList = data;
        });
        $.ajaxSetup({ async: true });
        return DataList;
              
    }

    function GetEmailTemplates(Index, SortColumn, SortDirection) {
        $("#hdnPageindex").val("1");
        var search = document.getElementById("txtsearch").value;
        if (search == 'Search') {
            search = '';
        }
        $.post("/Admin/GetEmailTemplates", { PageIndex: Index, searchtext: search, SortColumn: SortColumn, SortDirection: SortDirection },
        function (data) {
            document.getElementById('tblScriptbody').innerHTML = data;
            bindScrollHandler();
            $(window).scrollTop(0);
        });
    }

    $(document).ready(function () {
        bindScrollHandler();
        $('#txtsearch').keyup(function (e) {
            if (e.keyCode == 13) {
                var message = document.getElementById("txtsearch").value;
                GetEmailTemplates(1, 3, 2);
                if (message != null && message != "") {
                    document.getElementById('divSearchtextshow').innerHTML = '<br/>  Search existing email templates for :<span style=\"color: #0890c4;"\> ' + message + '</span> &nbsp;  <a href=@Url.Action("EmailTemplates", "Admin") style=\"color: #0890c4;"\> Click here</a> to clear search.';
                  //  document.getElementById("txtsearch").value = 'Search';
                }
                else {
                    document.getElementById('divSearchtextshow').innerHTML = '';
                }
            }
        });
    });

    $(document).keydown(function (e) {
        if (e.which == 116) {
            window.location.href = "../Admin/EmailTemplates";
            return false;
        }
    });

</script>
