﻿
@{
    ViewBag.Title = "Email Verification Report";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<input type="hidden" name="PageIndex" id="pageIndex" value="0" />
<input type="hidden" name="PageSize" value="50" id="pageSize" />
<input type="hidden" name="SortDirct" id="SortDirct" value="1" />
<input type="hidden" name="SearchText" value="" id="SearchText" />
<input type="hidden" name="sortColumn" value="1" id="sortColumn" />
<div class="content">
    <div class="content_base">
        <div class="breadcrumb">
            <ul>
                <li>
                    <a href="@Url.Action("Dashboard", "Admin")">
                        <img width="16" height="14" class="hires" src="../../Content/images/home-icon.png"
                             alt="Home">
                    </a><span class="after"></span>
                </li>
                @*<li>*@
                <span class="before"></span>
                <a href="@Url.Action("EmailVerification", "Admin")">Email Verification</a>
                <span class="after"></span>
                @*</li>*@
                @*<li class="active"><a href="@Url.Action("ManageMemberShip", "Admin")">Manage Membership</a></li>*@
            </ul>
        </div>
        <div id="divSearchtextshow">
        </div>
        <div class="inner">
            <div class="table_data reports_ref_received clearfix">
                <h5>Email Verification<span class="buttons"></span></h5>               
                <div class="clear"></div>
                <table class="manageCompanyList" cellpadding="0" cellspacing="0" border="0" id="tblEmailList">
                    <thead>
                        <tr>
                            <th width="15%">
                                <a href="javascript:;" class="sortable" onclick="BindData('1')">Full Name</a>
                            </th>
                            <th width="25%" >
                                <a href="javascript:;" class="sortable" onclick="BindData('2')">Email</a>
                            </th>
                            <th width="10%">
                                <a href="javascript:;" class="sortable" onclick="BindData('3')">Status</a>
                            </th>
                            <th  width="10%">
                                <a href="javascript:;" class="sortable" onclick="BindData('4')">Email Type</a>
                            </th>
                            <th width="15%" style="text-align:center">
                                <a href="javascript:;">Phone</a>
                            </th>
                            <th width="15%">
                                <a href="javascript:;" class="sortable" onclick="BindData('5')"> Process Date</a>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="tblbodycontent" style="overflow-y:auto;max-height:100px"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">    
    $(document).ready(function () {
        var result = getEmailVerificationListing()
        $("#tblbodycontent").html(result);
        $("#tdTextMsg").text("No record found");
    });

    function getEmailVerificationListing() {        
        var searchtext = $("#txtsearch").val();
        if (searchtext == "Search") {
            searchtext = "";
        }
       var response ='';
       var pageIndex = $("#pageIndex").val();
        if (pageIndex == "-1") {
            return "";
        } else {
            pageIndex = parseInt(pageIndex) + parseInt("1");
            $("#pageIndex").val(pageIndex);
        }
        var pageSize = $("#pageSize").val();
        var sortDirection = $("#SortDirct").val();
        var sortColumn = $("#sortColumn").val();
        $.ajaxSetup({ async: false });

        var objEmailFilter = {
            PageIndex: pageIndex,
            PageSize: pageSize,
            Searchtext:searchtext,
            SortColumn: sortColumn,
            SortDirection:sortDirection
        }

        $.ajax({
            url: "/Admin/EmailVerificationList",
            data :  objEmailFilter,
            success: function (result) {
                if (result.indexOf("No more record found") != -1) {
                    $("#pageIndex").val("-1");
                }
                response = result;
            },
            error: function (err) {
                alert("Oops...this pages need to reload.  Please try again");
            }
        });
        //$.post("/Admin/EmailVerificationList", objEmailFilter,
        //function (data) {
        //    response = data;
        //});
        $.ajaxSetup({ async: true });
        return response;
    }

    var bindScrollHandler = function () {
        $(window).scroll(function () {
            if ($(window).scrollTop() + $(window).height() > $(document).height() - 150) {
                $(window).unbind("scroll");
                var scrollResult = getEmailVerificationListing().toString();                                
                $("#tblbodycontent").append(scrollResult);
                bindScrollHandler();
            }
        });
    }

    bindScrollHandler();

    function BindData(colId) {
        var column = $("#sortColumn").val()
        direction = $("#SortDirct").val();

        if (column === colId) {
            if (direction === "1") {
                direction = "2";
            } else {
                direction = "1";
            }
        } else {
            direction = "1";
        }
        $("#sortColumn").val(colId);
        $("#SortDirct").val(direction);
        $("#pageIndex").val("0");
        var sortData = getEmailVerificationListing();
        $("#tblbodycontent").html(sortData);
    }

    $('#txtsearch').keyup(function (e) {
        if (e.keyCode == 13) {
            $("#pageIndex").val("0");
            var sortData = getEmailVerificationListing();
            $("#tblbodycontent").html(sortData);
            $("#sortColumn").val("1");
            $("#SortDirct").val("1");
            if ($(".EmailCount").length == 0) {
                $("#tdTextMsg").text("No record found");
            }
        }
    });


</script>