﻿@model List<BO.Models.FeatureMaster>
@{
    ViewBag.Title = "Feature Master";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var errorMessage = TempData["ErrorMessage"];
    if (!string.IsNullOrEmpty(ViewBag.ErrorMessage) || !string.IsNullOrEmpty(Convert.ToString(TempData["ErrorMessage"])))
    {
        TempData["ErrorMessage"] = string.Empty;
    }
    var successMessage = TempData["SuccessMessage"];
    if (!string.IsNullOrEmpty(ViewBag.SuccessMessage) || !string.IsNullOrEmpty(Convert.ToString(TempData["SuccessMessage"])))
    {
        TempData["SuccessMessage"] = string.Empty;
    }
}

<div class="content">
    <div class="content_base">
        <div class="breadcrumb">
            <ul>
                <li>
                    <a href="@Url.Action("Dashboard", "Admin")">
                        <img width="16" height="14" class="hires" src="../../Content/images/home-icon.png"
                             alt="Home">
                    </a><span class="after"></span>
                </li>
                <li class="active"><a href="@Url.Action("FeatureMaster", "Admin")">Feature Master</a></li>
            </ul>
        </div>
        <div id="divSearchtextshow">
        </div>
        <div class="inner">
            <div class="table_data reports_ref_received clearfix">
                <h5>Manage Feature Master<span class="buttons"></span></h5>
                <div class="heading_panel">
                    <a class="edit popup-with-form showlightbox" href="#AddFeatureMaster" onclick="AddFeatureMaster()">
                        <img src="~/Images/Add_new_feature.png" />
                    </a>
                </div>
                <div class="clear"></div>
                <table class="manageCompanyList" cellpadding="0" cellspacing="0" border="0" id="tblComapanyList">
                    <thead>
                        <tr>
                            <th width="40%">
                                Feature
                            </th>
                            <th style="text-align:center" width="30%">
                                Status
                            </th>
                            <th width="30%">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody id="tblbodycontent" style="overflow-y:auto;max-height:100px">
                        @Html.Partial("_FeatureMasterList", Model)
                    </tbody>
                </table>
            </div>
        </div>
        <div class="clear">
        </div>
        <div id="AddFeatureMaster" class="mfp-hide white-popup-block">

        </div>
    </div>
</div>

<script>
    function AddFeatureMaster() {
        $.ajaxSetup({ async: false });
        $.post("/Admin/AddFeatureMaster",
                                     function (data) {
                                         $("#AddFeatureMaster").html(data);
                                     });
        $.ajaxSetup({ async: true });
    }


    function EditFeatureMaster(Feature_Id) {
        $.ajaxSetup({ async: false });
        $.post("/Admin/EditFeatureMaster",
                                    { Feature_Id: Feature_Id },
                                        function (data) {
                                            $("#AddFeatureMaster").html(data);
                                        });
        $.ajaxSetup({ async: true });
    }

    function Close() {
        $(".mfp-close").click();
    }
    jQuery(document).ready(function (e) {
        if ($.trim("@successMessage").length != 0) {
            swal({
                title: "Success",
                text: "@successMessage",
                type: "",
                timer: 3000,
                showConfirmButton: false
            });
        }

        if ($.trim("@errorMessage").length != 0) {
            swal({
                title: "Error",
                text: "@errorMessage",
                type: "",
                timer: 3000,
                showConfirmButton: false
            });
        }
    });
</script>


