﻿@model IEnumerable<BO.Models.Features>

@foreach (var item in Model)
{
    <tr>
        @Html.HiddenFor(modelItem => item.Feature_Id)
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>

        @Html.HiddenFor(modelItem => item.SortOrder)
        <td id="check">
            @if (item.CanSee)
            {
                <input type="checkbox" id="features" name="@item.Feature_Id" value="" checked="checked" />
            }
            else
            {
                <input type="checkbox" id="features" name="@item.Feature_Id" value="" />
            }
            
            @*@Html.CheckBoxFor(modelItem =>item.CanSee,new { @value = item.Feature_Id,@checked=true,@Id= "features",name = item.Feature_Id })*@
        </td>
        <td>
            <input type="text" id="@item.Feature_Id" cust="@item.Feature_Id" name="MaxCount" disabled value="@item.MaxCount" class="numericOnly" maxlength="5" />
        </td>
    </tr>
}
