﻿@{
    ViewBag.Title = "Admin - Export Doctors | Recordlinc";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="../../Content/css/backend.css" rel="stylesheet" type="text/css" />
<link href="../../Content/ProgressBar/normalize.css" rel="stylesheet" type="text/css" />
<link href="../../Content/ProgressBar/pro-bars.min.css" rel="stylesheet" type="text/css" />
<script src="../../Content/js/lightbox.js"></script>
<script src="../../Content/js/lightboxfile.js"></script>
<link href="../../Content/css/lightbox.css" type="text/css" rel="stylesheet" />
<script src="../../Content/ProgressBar/smoothscroll.min.js" type="text/javascript"></script>
<script src="../../Content/ProgressBar/backbone.js" type="text/javascript"></script>
<script src="../../Content/ProgressBar/pro-bars.min.js" type="text/javascript"></script>
<script src="~/content/js/jquery-1.10.2.js"></script>
<script>



        $(document).ready(function () {
            var currentpage = $("#hddnpagecount").val();
            var totalcall = $("#hdntotalcount").val();

        if (parseInt(currentpage, 10) > 0) {
                if (parseInt(currentpage, 10) <= parseInt(totalcall, 10)) {
                    $("#SucsessMsg").text("Export in progress");
                    var pers = parseInt(currentpage, 10) / parseInt(totalcall, 10);
                    $("#increaseprogress").css("width", pers * 100 + "%");
                    $("#ExportTotalRecord").submit();
                }
                else {
                    $("#increaseprogress").css("width", 100 + "%");
                    $("#hddnpagecount").val(0);
                    $("#hdntotalcount").val("");
                    $("#ExportTotalRecordfinal").submit();
                }
            }
        });
        function ExportAllDectors() {
            $("#SucsessMsg").text("Export in progress");
            $("#ExportTotalRecord").submit();
        }
</script>
<h2>
    ExportDoctors
</h2>
<div class="content">
    <div class="content_base">
        <ul class="dashboard_tour ">
            <li>
                <a onclick="ExportAllDectors()">
                    <label class="export_doctor" style="margin-left: 14%;cursor: pointer">
                        Export All Doctors
                    </label>
                </a>
                <!-- Popup ends -->
            </li>
        </ul>
        <div class="container" style="height:300px;">
            <label id="SucsessMsg">
            </label>
            <br />
            <br />
            <div class="one-whole text-center" style="padding-left:4%;padding-right:4%;">
                <div class="pro-bar-container color-clouds">
                    <div class="pro-bar bar-100 color-turquoise" id="increaseprogress" data-pro-bar-percent="100">
                        <div class="pro-bar-candy candy-ltr">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*        <div id="progressbar">
            </div>
            <br />*@

        <input type="hidden" id="hdntotalcount" value="@(TempData["totalcount"] == null?"":TempData["totalcount"])" />
        <form action="/admin/GetAllDoctor" id="ExportTotalRecord" method="post">
            <input type="hidden" name="hddnpagecount" id="hddnpagecount" value="@(TempData["pagecount"] == null? '0':@TempData["pagecount"] )" />
        </form>
        <form action="/admin/ExportDoctors" id="ExportTotalRecordfinal" method="post"></form>
    </div>
</div>

