﻿@{
    ViewBag.Title = "Admin - Import Doctors | Recordlinc";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}
<title>Recordlinc - ImportDoctors</title>
<script type="text/javascript">


    $(document).ready(function (e) {
        $('.tab_contents').hide();
        $('.tab_contents:first').show();
        $('.tab_links li a').on('click', function () {
            var lnk = $(this).attr('href');
            $(lnk).show().siblings().hide();
            $(this).addClass('active').parent().siblings().find('a').removeClass('active');
        });

        myfunction();


    });

</script>
<link href="../../Content/css/tabs.css" rel="stylesheet" type="text/css" />
<script type='text/javascript' src="../../Content/js/tabs.js"></script>
<script src="../../Content/js/jquery.toolbar.js"></script>
<style type="text/css">
    .tool-container.tool-top, .tool-container.tool-bottom {
        right: 20px !important;
    }

    .sbOptions {
        z-index: 99999 !important;
    }

        .sbOptions li {
            width: 97% !important;
        }
</style>
}
<link href="../../Content/css/backend.css" rel="stylesheet" type="text/css" />
<style type="text/css">
    ul, ol {
        margin-bottom: 0 !important;
    }
</style>
<script type="text/javascript">


    function CountOfUpload() {

        var count = $('#hdnCount').val();
        if (count != null && count != "") {
            //alert('Allow only one .xlsh or .xls file at a time');
            swal({ title: "", text: 'Allow only one .xlsx or .xls file at a time' });
            return false;
        }
    }
    function MakeNullCountOfUpload() {
        $('#hdnCount').val('');
        document.getElementById("ImportStep2").innerHTML = '';
        document.getElementById("ImportStep3").innerHTML = '';
        document.getElementById("ImportStep4").innerHTML = '';
    }

    function FillCountAndFileName(Count, FileName) { $('#hdnfilename').val(FileName);
    }


    function ValidateClick(Step) {
        
        var FileNameCheck = "";



        FileNameCheck = $('#hdnfilename').val();

        if (FileNameCheck != null && FileNameCheck != "") {

            var ext = FileNameCheck.split('.').pop();
            if (ext == "xls" || ext == "xlsx") {
                if (Step == "2") {
                    if (document.getElementById("ImportStep2").innerHTML == '') {
                        $('#ValidateStep2').click();
                        $("#Step2").addClass("active");
                    }
                    else {
                        //alert('Click on button Next Step');
                        swal({ title: "", text: 'Click on button Next Step' });
                        return false;
                    }
                }
                if (Step == "3") {
                    if (document.getElementById("ImportStep3").innerHTML == '') {
                        $('#ValidateStep3').click();
                        $("#Step3").addClass("active");
                    } else {
                        //alert('Click on Submit button');
                        swal({ title: "", text: 'Click on Submit button' });
                        return false;
                    }

                }
                if (Step == "4") {
                    if (document.getElementById("ImportStep3").innerHTML == '') {
                        $('#ValidateStep4').click();
                        $("#Step4").addClass("active");
                    }
                    else {
                        //alert('Click on Next Step');
                        swal({ title: "", text: 'Click on Next Step' });
                        return false;
                    }
                }
            }
            else {


                //alert('File must be in xlsx or xls in format');
                swal({ title: "", text: 'File must be in xlsx or xls in format' });
                return false;
            }

        }
        else {
            //alert('Upload .xlsx or .xls file');
            swal({ title: "", text: 'Upload .xlsx or .xls file' });
            return false;
        }
    }

    function GoToStep2() {
        var FileName = "";

        FileName = $('#hdnfilename').val();

        if (FileName == null || FileName == "") {
            //alert('Upload .xlsx or .xls file');
            swal({ title: "", text: 'Upload .xlsx or .xls file' });
            return false;
        }
        else {

            var ext = FileName.split('.').pop();
            if (ext == "xls" || ext == "xlsx") {
                $('#ValidateStep2').click();
                $("#Step2").addClass("active");

                $.post("/Admin/GetImportPatientStep2",
                                    { UplaodeFileName: FileName }, function (data) {
                                        if (data != null && data != "") {

                                        }
                                        document.getElementById("ImportStep2").innerHTML = data;
                                        $(".match_field select").selectbox();
                                    });
                calculateheightofwindow();
            }
            else {


                // alert('File must be in xlsx or xls in format');
                swal({ title: "", text: 'File must be in xlsx or xls in format' });
                return false;
            }

        }
    }

    function GoToStep3() {

        var FileName = "";

        FileName = $('#hdnfilename').val();

        if (FileName == null || FileName == "") {
            //alert('Upload .xlsx or .xls file');
            swal({ title: "", text: 'Upload .xlsx or .xls file' });
            return false;
        }
        else {

            var FirstName = $('#ddlFirstName').val();
            var LastName = $('#ddlLastName').val();
            var Email = $('#ddlEmail').val();
            var Password = $('#ddlPassword').val();
            var AccountName = $('#ddlAccountName').val();

            if (FirstName == "0" || LastName == "0" || Email == "0" || Password == "0" || AccountName == "0") {
                // alert('You must map all required fields');
                swal({ title: "", text: 'You must map all required fields' });
                return false;
            }

            var MappedColumns = null;
            MappedColumns = FirstName + ',' + $('#ddlMiddelName').val() + ',' + LastName + ',' + $('#ddlPublicPath').val() + ',' + AccountName + ',' + Email + ',' + $('#ddlPassword').val() +',' + $('#ddlWebsite').val() +',' + $('#ddlDentalSpecialty').val() + ',' + $('#ddlJobTitle').val() + ',' + $('#ddlAddress').val() + ',' + $('#ddlCity').val() + ',' + $('#ddlState').val() + ',' + $('#ddlCountry').val() + ',' + $('#ddlZip').val() + ',' + $('#ddlPhone').val() + ',' + $('#ddlFax').val() + ',' + $('#ddlFacebook').val() + ',' + $('#ddlLinkedIn').val() + ',' + $('#ddlTwitter').val() + ',' + $('#ddlBlog').val() + ',' + $('#ddlYouTube').val() + ',' + $('#ddlDescription').val() + ',' + $('#ddlSchool').val() + ',' + $('#ddlYearGraduated').val() + ',' + $('#ddlDegree').val() + ',' + $('#ddlProfessionalMemberships').val() + ',' + $('#ddlLicenseState').val() + ',' + $('#ddlLicenseNumber').val() + ',' + $('#ddlLicenseExpiration').val();

            $('#hdnmappedcolumn').val(MappedColumns);
            //GetImportPatientStep3
            $.post("/Admin/ImportPatientShowExcelMappedData",
                                    { Mapping: MappedColumns }, function (data) {
                                        if (data != null && data != "") {
                                            document.getElementById("ImportStep3").innerHTML = data;
                                        }


                                    });



            $('#ValidateStep3').click();
            $("#Step3").addClass("active");
            calculateheightofwindow();


        }

    }
    function NewGoToStep3() {

        var FileName = "";

        FileName = $('#hdnfilename').val();

        if (FileName == null || FileName == "") {
            //alert('Upload .xlsx or .xls file');
            swal({ title: "", text: 'Upload .xlsx or .xls file' });
            return false;
        }
        else {

            var FirstName = $('#ddlFirstName').val();
            var LastName = $('#ddlLastName').val();
            var Email = $('#ddlEmail').val();
            var Password = $('#ddlPassword').val();
            var AccountName = $('#ddlAccountName').val();

            if (FirstName == "0" || LastName == "0" || Email == "0" || Password == "0" || AccountName == "0") {
                //alert('You must map all required fields');
                swal({ title: "", text: 'You must map all required fields' });
                return false;
            }

            var MappedColumns = null;
            MappedColumns = AccountName + ',' + FirstName + ',' + LastName + ','+ $('#ddlDentalSpecialty').val()+','  + $('#ddlJobTitle').val() +  ',' + $('#ddlAddress').val() + ',' + $('#ddlCity').val() + ',' + $('#ddlState').val() + ',' + $('#ddlZip').val() +',' + $('#ddlPhone').val() + ',' + $('#ddlFax').val() +','+ $('#ddlWebsite').val()  +','  + $('#ddlPassword').val() +',' + Email + ',' + $('#ddlPhoto').val() + ',' + $('#ddlLicenseState').val() + ',' + $('#ddlLicenseNumber').val() + ',' + $('#ddlLicenseExpiration').val()+ ',' + $('#ddlProfessionalMemberships').val()+ ',' + $('#ddlProfessionalMemberships1').val()+ ',' + $('#ddlProfessionalMemberships2').val()+ ',' + $('#ddlProfessionalMemberships3').val()+ ',' + $('#ddlProfessionalMemberships4').val()+ ',' + $('#ddlProfessionalMemberships5').val()+ ',' + $('#ddlProfessionalMemberships6').val() + ',' + $('#ddlSchool').val() + ',' + $('#ddlYearGraduated').val() + ',' + $('#ddlDegree').val()  + ',' + $('#ddlSchool1').val() + ',' + $('#ddlYearGraduated1').val() + ',' + $('#ddlDegree1').val()  + ',' + $('#ddlLinkedIn').val()+ ',' + $('#ddlFacebook').val()  + ',' + $('#ddlTwitter').val() + ',' + $('#ddlBlog').val() + ',' + $('#ddlYouTube').val();

            $('#hdnmappedcolumn').val(MappedColumns);
            //GetImportPatientStep3
            $.post("/Admin/NewImportPatientShowExcelMappedData",
                                    { Mapping: MappedColumns }, function (data) {
                                        if (data != null && data != "") {
                                            document.getElementById("ImportStep3").innerHTML = data;
                                        }


                                    });



            $('#ValidateStep3').click();
            $("#Step3").addClass("active");
            calculateheightofwindow();


        }

    }

    function GoToStep4() {
        var MappedColumn = $('#hdnmappedcolumn').val();
        if (MappedColumn != null && MappedColumn != "") {
            $.ajaxSetup({async: false});
            $.post("/Admin/GetImportPatientStep4",
                                    { Mapping: MappedColumn }, function (data) {
                                        var obj = JSON.parse(data);
                                        if (obj.NewDoctor != null && obj.NewDoctor != "") {

                                            document.getElementById("ImportStep4").innerHTML = obj.NewDoctor;
                                        }
                                        if (obj.ExistsDoctor != null && obj.ExistsDoctor != "") {

                                            if (obj.ExistsDoctor != '<br/><center id="CheckImportrecord">No record imported</center>') {
                                                $("#ExistsMain_Div").css("display", "block");
                                            }
                                            document.getElementById("ExistsEmailIds").innerHTML = obj.ExistsDoctor;

                                        }

                                    });
            $.ajaxSetup({async: true});
        }
        $('#ValidateStep4').click();
        $("#Step4").addClass("active");
        calculateheightofwindow();
    }
    function NewGoToStep4() {
        var MappedColumn = $('#hdnmappedcolumn').val();
        if (MappedColumn != null && MappedColumn != "") {
            $.ajaxSetup({async: false});
            $.post("/Admin/NewGetImportPatientStep4",
                                    { Mapping: MappedColumn }, function (data) {
                                        var obj = JSON.parse(data);
                                        if (obj.NewDoctor != null && obj.NewDoctor != "") {

                                            document.getElementById("ImportStep4").innerHTML = obj.NewDoctor;
                                        }
                                        if (obj.ExistsDoctor != null && obj.ExistsDoctor != "") {

                                            if (obj.ExistsDoctor != '<br/><center id="CheckImportrecord">No record imported</center>') {
                                                $("#ExistsMain_Div").css("display", "block");
                                            }
                                            document.getElementById("ExistsEmailIds").innerHTML = obj.ExistsDoctor;

                                        }

                                    });
            $.ajaxSetup({async: true});
        }
        $('#ValidateStep4').click();
        $("#Step4").addClass("active");
        calculateheightofwindow();
    }

    function CheckFileUploded() {
        var FileName = "";

        FileName = $('#hdnfilename').val();

        if (FileName == null || FileName == "") {
            window.location = '/Admin/ImportDoctors';
            //alert('Upload .xlsx or .xls file');
            swal({ title: "", text: 'Upload .xlsx or .xls file' });
            return false;
        }
        else {
            var ext = FileName.split('.').pop();

            if (ext != "xls" || ext != "xlsx") {
                //alert('File must be in xlsx or xls in format');
                swal({ title: "", text: 'File must be in xlsx or xls in format' });
                $('#Step1').click();
                return false;
            }

        }
    }


    function ExampleFile(RelativePath) {

        var sitename = window.location.host;
        if (sitename.indexOf('http://') == -1 || sitename.indexOf('https://')) {
            sitename = '//' + sitename
        }
        var str = RelativePath;
        var res = sitename + str.replace("/mydentalfiles/", "/").replace("~/", "/");
        var res = res.replace("mydentalfiles", "recordlinc");
        res = res.replace("../", "/")
        window.open(res, '_blank');
        window.focus();
    }








    function divonmouseout() {

        $('.message_icon_import').on('mouseout', function () {
            $(this).find('.tooltip_import').hide();
            return false;
        });
        $('.location_icon_import').on('mouseout', function () {
            $(this).find('.tooltip_import').hide();
            return false;
        });
    }

    function divonmouseover() {
        $('.message_icon_import').on('mouseenter', function (e) {
            $(this).find('.tooltip_import').show();
            return false;
        });
        $('.location_icon_import').on('mouseenter', function (e) {
            $(this).find('.tooltip_import').show();

            return false;
        });
    }
</script>
<input type="hidden" id="hdnmappedcolumn" />
<div class="content" onmouseover="calculateheightofwindow()" id="CheckPara">
    <div class="content_base">
        <!-- Breadcrumb starts-->
        <div class="breadcrumb">
            <ul>
                <li>
                    <a href="@Url.Action("Dashboard", "Admin")">
                        <img width="16" height="14" alt="Home" src="../../Content/images/home-icon.png" class="hires">
                    </a><span class="after"></span>
                </li>
                <li>
                    <span class="before"></span><a href="@Url.Action("ImportDoctors", "Admin")">
                        Doctor
                    </a><span class="after"></span>
                </li>
                <li class="active"><a href="@Url.Action("ImportDoctors", "Admin")">Import Doctors</a></li>
            </ul>
        </div>
        <!-- Breadcrumb ends-->
        <h3 class="heading">
            Import Doctor
        </h3>
        <div class="inner">
            <div class="tabbed_form">
                <ul class="tab_links">
                    <li>
                        <a class="active firsttl" href="javascript:;" id="Step1">
                            <span class="visible_big">
                                Upload Excel File
                            </span> <span class="hidden_big">Step 1</span>
                        </a>
                    </li>
                    <li>
                        <a href="#insurance_coverage" style="display: none;" id="ValidateStep2"></a><a href="javascript:;" id="Step2" onclick="return ValidateClick('2')">
                            <span class="visible_big">
                                Match Field
                            </span> <span class="hidden_big">Step 2</span>
                        </a>
                    </li>
                    <li>
                        <a href="#medical_history" style="display: none;" id="ValidateStep3"></a><a href="javascript:;" id="Step3" onclick="return ValidateClick('3')">
                            <span class="visible_big">
                                Imported data
                            </span> <span class="hidden_big">Step 3</span>
                        </a>
                    </li>
                    <li>
                        <a href="#dental_tab" style="display: none;" id="ValidateStep4"></a><a href="javascript:;" id="Step4" onclick="return ValidateClick('4')">
                            <span class="visible_big">
                                Finish
                            </span> <span class="hidden_big">Step 4</span>
                        </a>
                    </li>
                </ul>
                <div class="tab_content_parent" onmouseover="myfunction()">
                    <div id="patient_info" class="tab_contents">
                        <h5 class="border_bottom">
                            Upload excel file
                        </h5>
                        <div class="clear">
                        </div>
                        <div class="margintop10">
                        </div>
                        <!-- Bootstrap styles -->
                        <link rel="stylesheet" href="../../Content/file_upload/css/bootstrap.min.css">
                        <style type="text/css">
                            label {
                                font-weight: normal;
                            }

                            a:hover, a:focus {
                                text-decoration: none;
                            }
                        </style>
                        <!-- Generic page styles -->
                        <link rel="stylesheet" href="../../Content/file_upload/css/style.css">
                        <!-- blueimp Gallery styles -->
                        <link href="../../Content/file_upload/blueimp-gallery.min.css" rel="stylesheet" />
                        @*<link rel="stylesheet" href="https://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">*@
                        <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
                        <link rel="stylesheet" href="../../Content/file_upload/css/jquery.fileupload.css">
                        <link rel="stylesheet" href="../../Content/file_upload/css/jquery.fileupload-ui.css">
                        <!-- CSS adjustments for browsers with JavaScript disabled -->
                        <noscript>
                            <link rel="stylesheet" href="../../Content/file_upload/css/jquery.fileupload-noscript.css">
                        </noscript>
                        <noscript>
                            <link rel="stylesheet" href="../../Content/file_upload/css/jquery.fileupload-ui-noscript.css">
                        </noscript>
                        <div id="fileupload">
                            <form action="../../PatientFileUpload.ashx?InviteColleague=1" method="post" enctype="multipart/form-data">
                                <div class="row fileupload-buttonbar margintop1" onclick="return CountOfUpload()">
                                    <div class="col-lg-7 paddingleft0">
                                        <!-- The fileinput-button span is used to style the file input field as button -->
                                        <span class="btn btn-success fileinput-button">
                                            <i class="glyphicon glyphicon-plus-icon">
                                            </i><span class="text_lineheight">Upload File</span>
                                            <input type="file" name="files[]">
                                        </span>
                                        <div class="fileupload-progressbar">
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="fileupload-content">
                                <table class="table table-striped">
                                    <tbody class="files" id="FileUploadedSeccess"></tbody>
                                </table>
                            </div>
                        </div>
                        <div class="bottom_panel_btn">
                            <p>
                                <a href="javascript:;" onclick="ExampleFile('@System.Configuration.ConfigurationManager.AppSettings.Get("ImageBank")Doctors_Import.xls')">
                                    Click here to download example template file.
                                </a>
                            </p>
                            <br>
                            <div class="message_text_red">
                                Note : If doctor email already exist then record cannot be import
                            </div>
                            <div class="right_btn">
                                <input type="submit" class="next_step_large" onclick="return GoToStep2()" />
                            </div>
                        </div>
                    </div>
                    <div id="insurance_coverage" class="tab_contents" onmouseover="myfunction()">
                        <h5>
                            Match excel fields to database fields
                            <div class="hdng_rgt hdng_top5">
                                <span class="req-red">*Required Information</span>
                            </div>
                        </h5>
                        <div id="ImportStep2">
                        </div>
                        <input type="submit" class="frm_smt_btn" onclick="return GoToStep3()" />
                        <div class="clear">
                        </div>
                    </div>
                    <div id="medical_history" class="tab_contents" onmouseover="myfunction()">
                        <h5>
                            Preview import data
                        </h5>
                        <div class="clear">
                        </div>
                        <div class="paddingtop7 message_text_red" style="display: none;">
                            NOTE: Row marked as red contains invalid data, please mouse over the row to view
                            error.
                        </div>
                        <div class="clear">
                        </div>
                        <div class="inner" id="ImportStep3">
                        </div>
                        <div class="right_btn">
                            <input class="next_step_large" type="submit" onclick="return GoToStep4()">
                        </div>
                    </div>
                    <div id="dental_tab" class="tab_contents" onmouseover="myfunction()">
                        <h5 class="border_bottom">
                            Upload excel file
                        </h5>
                        <div class="clear">
                        </div>
                        <div class="inner" id="ImportStep4">
                        </div>
                        <div class="clear">
                        </div>
                        <div class="margintop10">
                        </div>



                        <div id="ExistsMain_Div" style="display:none;">
                            <h5 class="border_bottom">
                                Already exists in system
                            </h5>
                            <div class="clear">
                            </div>
                            <div class="inner" id="ExistsEmailIds">
                            </div>
                            <div class="clear">
                            </div>
                            <div class="margintop10">
                            </div>
                        </div>


                        <input type="submit" class="print_btn" style="display: none;" />
                        <input type="submit" class="finish_btn" onclick="CheckRecordImported(); location.href = '../Admin/ActiveUser'" />
                    </div>
                </div>
            </div>
            <div class="clear">
            </div>
        </div>
        <!-- Inner Content Ends -->
        <div class="clear">
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $(".searchbar").remove();
    });



    function CheckRecordImported() {

        if ($("#ImportStep4").text() != "No record imported")
        {
            //alert('Records imported successfully');
            swal({ title: "", text: 'Records imported successfully', type : 'Success' });
        }
    }
</script>
<link type="text/css" rel="stylesheet" href="../../Content/css/jquery.selectBox.css" />
<script type="text/javascript" src="../../Content/js/jquery.selectBox.js"></script>
<script type="text/javascript">
    $(function () {
        $(".match_field select").selectbox();
    });
</script>
<link rel="stylesheet" type="text/css" href="../../Content/css/fcbk.css" />
<script src="../../Content/js/jquery.fcbkcomplete.js" type="text/javascript" charset="utf-8"></script>
<script id="template-upload" type="text/x-jquery-tmpl">
    <tr class="template-upload{{if error}} ui-state-error{{/if}}">
        <td class="preview"></td>
        <td class="name">
            ${name}


        </td>
        <td class="size">${sizef}</td>
        {{if error}}
        <td class="error" colspan="2">
            Error:
            {{if error === 'maxFileSize'}}File is too big
            {{else error === 'minFileSize'}}File is too small
            {{else error === 'acceptFileTypes'}}Filetype not allowed
            {{else error === 'maxNumberOfFiles'}}Max number of files exceeded
            {{else}}${error}
            {{/if}}
        </td>
        {{else}}
        <td class="progress"><div></div></td>
        <td class="start">
            <button class="btn btn-primary start" disabled>
                <i class="glyphicon glyphicon-upload-icon"></i>
                <span class="text_lineheight">Start</span>
            </button>
        </td>

        {{/if}}
        <td class="cancel">
            <button class="btn btn-warning cancel" onclick="MakeNullCountOfUpload()">
                <i class="glyphicon glyphicon-ban-circle-icon"></i>
                <span class="text_lineheight">Cancel</span>
            </button>
        </td>
    </tr>
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-jquery-tmpl">
    <tr class="template-download{{if error}} ui-state-error{{/if}}">
        {{if error}}
        <td></td>
        <td class="name">
            ${name}

        </td>
        <td class="size">${sizef}</td>
        <td class="error" colspan="2">
            Error:
            {{if error === 1}}File exceeds upload_max_filesize (php.ini directive)
            {{else error === 2}}File exceeds MAX_FILE_SIZE (HTML form directive)
            {{else error === 3}}File was only partially uploaded
            {{else error === 4}}No File was uploaded
            {{else error === 5}}Missing a temporary folder
            {{else error === 6}}Failed to write file to disk
            {{else error === 7}}File upload stopped by extension
            {{else error === 'maxFileSize'}}File is too big
            {{else error === 'minFileSize'}}File is too small
            {{else error === 'acceptFileTypes'}}Filetype not allowed
            {{else error === 'maxNumberOfFiles'}}Max number of files exceeded
            {{else error === 'uploadedBytes'}}Uploaded bytes exceed file size
            {{else error === 'emptyResult'}}Empty file upload result
            {{else}}${error}
            {{/if}}
        </td>
        {{else}}
        <td>
            <span class="preview">
                {{if thumbnail_url}}
                <a href="${url}" target="_blank"><img width="60px;" src="${thumbnail_url}"></a>
                <input type="hidden" id="hdnCount" value="1" />
                <input type="hidden" id="hdnfilename" value="${name}" />
                {{/if}}
            </span>
        </td>
        <td>
            <p class="name">
                <a href="${url}" {{if thumbnail_url}} target="_blank" {{/if}}>${shortfilename}</a>
            </p>
        </td>
        <td><span class="size">${sizef}</span></td>
        <td colspan="2"></td>
        {{/if}}
        <td>
            <button class="btn btn-danger deletefile" data-type="${delete_type}" data-url="${delete_url}" onclick="MakeNullCountOfUpload()">
                <i class="glyphicon glyphicon-trash-icon"></i>
                <span class="text_lineheight">Delete</span>
            </button>
        </td>
        <input type="hidden" id="LastNode" value="LastNode" />
    </tr>
</script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>
<script src="//ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
<script src="/scripts/Default/jquery.iframe-transport.js"></script>
<script src="/scripts/Default/jquery.fileupload.js"></script>
<script src="/scripts/Default/jquery.fileupload-ui.js"></script>
<script src="/scripts/Default/application.js"></script>
