﻿@{
    ViewBag.Title = "Admin - Inactive Users | Recordlinc";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<title>Recordlinc - InActiveUsers</title>
<input type="hidden" id="hdnINActiveuserPageindex" value="1" />
<div class="content">
    <div class="content_base">
        <!-- Breadcrumb starts-->
        <div class="breadcrumb">
            <ul>
                <li>
                    <a href='@Url.Action("Dashboard", "Admin")'>
                        <img width="16" height="14" class="hires" src="../../Content/images/home-icon.png"
                             alt="Home">
                    </a><span class="after"></span>
                </li>
                <li>
                    <span class="before"></span><a href='@Url.Action("ActiveUser", "Admin")'>Users</a><span class="after"></span>
                </li>
                <li class="active"><a href='@Url.Action("InActiveUsers", "Admin")'>Inactive Users</a></li>
            </ul>
        </div>
        <div id="divSearchtextshow">
        </div>
        <!-- Breadcrumb ends-->
        <!-- Inner Content Starts -->
        <div class="inner">
            <div id="send_message_sel" class="mfp-hide white-popup-block">
                <h2 class="title">
                    Send Message
                </h2>
                <div class="cntnt">
                    <ul class="tablelist">
                        <li>
                            <label>
                                Enter Message
                            </label><textarea rows="10"></textarea>
                            <span class="txt">
                                <input class="words" type="text" name="Search" value="2848"><small>chars remaining</small>
                            </span>
                        </li>
                    </ul>
                    <div class="actions">
                        <input class="send_btn" name="Save" type="button" value="Save">
                        <input class="cancel_btn" name="Cancel" type="button" value="Cancel">
                        <div class="clear">
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="table_data colleagues">
                <!--<a class="edit popup-with-form showlightbox" href="#notifs">sdfdsf</a>-->

                <div class="clear">
                </div>*@
            <!-- Table body -->
            <div id="tblScriptbody">
                @Html.Raw(ViewBag.tblScriptforInActiveuser)
            </div>
            @* </div>*@
        </div>
        <div class="clear">
        </div>
    </div>
</div>
<script type="text/javascript">

    var bindScrollHandler = function () {
        $(window).scroll(function () {
            if ($(window).scrollTop() + $(window).height() > $(document).height() - 150) {
                $(window).unbind("scroll");

                var Data = GetListOfDoctoreForScrolling().toString();
                $(Data).appendTo("#userlsittbody");
                bindScrollHandler();
            }
        });
    }

    $(document).ready(function () {



        bindScrollHandler();



        $('#txtsearch').bind("enterKey", function (e) {

        });


        $('#txtsearch').keyup(function (e) {


            if (e.keyCode == 13) {
                var message = document.getElementById("txtsearch").value;
                GetListOfDoctore(1, message, 2);
                if (message != null && message != "") {
                    //document.getElementById('divSearchtextshow').innerHTML = '<br/>  Search existing users for :<span style=\"color: #0890c4;"\> ' + message + '</span> &nbsp;  <a href=@Url.Action("InActiveUserd", "Admin") style=\"color: #0890c4;"\> Click here</a> to clear search.';
                    //document.getElementById("txtsearch").value = 'Search';
                    $("#divClearSearch").css("display", "block");
                    $("#divClearSearch").html("<br/><a href='@Url.Action("InActiveUsers", "Admin")' style=\"text-decoration:none;\" title=\"Clear Search\" > &nbsp;Clear Search</a>");

                }
                else {
                    document.getElementById('divSearchtextshow').innerHTML = '';
                }
            }
        });


    });


    function GetListOfDoctoreForScrolling() {

        var DataList = '';
        var searchtext = document.getElementById('txtsearch').value;
        var status = 2;


        if (searchtext == 'Search') {
            searchtext = '';
        }

        pageindex = $("#hdnINActiveuserPageindex").val();
        if (pageindex == "-1") {
            return "";
        } else {
            pageindex = parseInt(pageindex) + parseInt("1");
            $("#hdnINActiveuserPageindex").val(pageindex);
        }
        $.ajaxSetup({ async: false });
        $.post("/Admin/ColleagueListOfDoctoreContent", { PageIndex: pageindex, searchtext: searchtext, status: status },
        function (data) {
            if (data == '<div class=\"trow\"><center>No more record found</center></div>' || data == '<div class=\"trow\"><center>No record found</center></div>') {
                $("#hdnINActiveuserPageindex").val("-1");
            }
            DataList = data;
        });

        $.ajaxSetup({ async: true });

        return DataList;
    }

    function GetListOfDoctore(PageIndex, searchtext, status) {
        var id = $('#standard-dropdown').val();
        $("#hdnINActiveuserPageindex").val("1");
        if (searchtext == 'Search') {
            searchtext = '';
        }


        $.post("/Admin/GetColleagueLsitOfDoctore", { index: PageIndex, searchtext: searchtext, status: status },
        function (data) {
            if (data != "") {
                document.getElementById('tblScriptbody').innerHTML = data;
                bindScrollHandler();
                $(window).scrollTop(0);
            }
        });


    }


    function ActiveUser(UserId, Status, PageIndex) {

        $.post("/Admin/ActivateUser", { UserId: UserId, Status: Status },
        function (data) {
            if (data != "") {
                //alert('User activated successfully');
                swal({ title: "", text: 'User activated successfully', type: 'success' });
                $('#row' + UserId).remove();
                document.getElementById('divSearchtextshow').innerHTML = '';
            }
            else {
                //alert('Failed to active user');
                swal({ title: "", text: 'Failed to active user', type: 'error' });
            }
        });
    }

    $(document).keydown(function (e) {
        if (e.which == 116) {
            window.location.href = "../Admin/InActiveUsers";
            return false;
        }
    });
</script>
