﻿@{
    ViewBag.Title = "Admin - Logged Info | Recordlinc";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    <script type="text/javascript">

        var bindScrollHandler = function () {
            $(window).scroll(function () {
                if ($(window).scrollTop() + $(window).height() > $(document).height() - 150) {
                    $(window).unbind("scroll");
                    var Data = GetListLoggedInfoTableForScrolling().toString();
                    $(Data).appendTo("#lsittbody");
                    bindScrollHandler();
                }
            });
        }

        $(document).ready(function () {

            bindScrollHandler();

            $('#txtsearch').keyup(function (e) {
                if (e.keyCode == 13) {
                    var message = document.getElementById("txtsearch").value;
                    GetListLoggedInfoTable(1, 3, 2, message);
                    if (message != null && message != "") {
                        $("#divClearSearch").css("display", "block");
                        $("#divClearSearch").html("<br/><a href='@Url.Action("LoggedInfo", "Admin")' style=\"text-decoration:none;\" title=\"Clear Search\" > &nbsp;Clear Search</a>");
                    }
                    else {
                        document.getElementById('divSearchtextshow').innerHTML = '';
                    }
                }
            });






        });

        function GetListLoggedInfoTableForScrolling() {
            var DataList = '';
            var searchtext = document.getElementById('txtsearch').value;
            var strSortColumn = $("#tblLoggedInfo").data("sortcolumn");
            var strSortDirection = $("#tblLoggedInfo").data("sortirection");

            if (searchtext == 'Search') {
                searchtext = '';
            }
            var PageIndex = $("#hdnPageindex").val();
            if (PageIndex == "-1") {
                return "";
            } else {
                PageIndex = parseInt(PageIndex) + parseInt("1");
                $("#hdnPageindex").val(PageIndex);
            }
            $.ajaxSetup({ async: false });
            $.post("/Admin/GetLoggedInfoTableContent", { index: PageIndex, searchtext: searchtext, SortColumn: strSortColumn, SortDirection: strSortDirection },
            function (data) {
                if (data == '<tr><td colspan=\"4\"><center>No more record found</center></td></tr>' || data == '<tr><td colspan=\"4\"><center>No Record Found</center></td></tr>') {
                    $("#hdnPageindex").val("-1");
                }
                DataList = data;

            });
            $.ajaxSetup({ async: true });
            return DataList;
        }

        function UpdateUserStatus(UserId, Status) {
            swal({
                title: "",
                text: "Are you sure you want to remove?",
                type: "warning",
                showCancelButton: true,
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: false,
            },
   function (isConfirm) {
       if (isConfirm) {
           $.post("/Admin/UpdateUserStatus", { UserId: UserId, Status: Status },
            function (data) {
                if (data != null && data != "") {
                    if (Status == 2) {
                        // alert('User deactivated successfully');
                        swal({ title: "", text: 'User deactivated successfully', type: 'success' });
                    }
                    if (Status == 3) {
                        //alert('User blocked successfully');
                        swal({ title: "", text: 'User blocked successfully', type: 'success' });
                    }
                    GetListLoggedInfoTable(1, '', 1, 1);
                    document.getElementById('divSearchtextshow').innerHTML = '';
                }
                else {
                    if (Status == 2) {
                        swal({ title: "", text: 'Failed to deactive', type: 'error' });
                        //alert('Failed to deactive');
                    }
                    if (Status == 3) {
                        //alert('Failed to block');
                        swal({ title: "", text: 'Failed to block', type: 'error' });
                    }
                }
            });
       }
   });
        }

        function GetListLoggedInfoTable(PageIndex, strSortColumn, strSortDirection, searchtext) {
            $("#hdnPageindex").val("1");
            if (searchtext == 'Search') {
                searchtext = '';
            }
            $.post("/Admin/GetLoggedInfoTable", { index: PageIndex, searchtext: searchtext, SortColumn: strSortColumn, SortDirection: strSortDirection },
            function (data) {
                document.getElementById('tblScript').innerHTML = data;
                $(window).scrollTop(0);
                bindScrollHandler();
            });


        }

        $(document).keydown(function (e) {
            if (e.which == 116) {
                window.location.href = "../Admin/LoggedInfo";
                return false;
            }
        });
    </script>

}
<title>Recordlinc - LoggedInfo</title>
<input type="hidden" id="hdnPageindex" value="1" />
<div class="content">
    <div class="content_base">
        <!-- Breadcrumb starts-->
        <div class="breadcrumb">
            <ul>
                <li>
                    <a href='@Url.Action("Dashboard", "Admin")'>
                        <img width="16" height="14" class="hires" src="../../Content/images/home-icon.png"
                             alt="Home">
                    </a><span class="after"></span>
                </li>
                <li>
                    <span class="before"></span><a href='@Url.Action("ActiveUser", "Admin")'>Users</a><span class="after"></span>
                </li>
                <li class="active"><a href='@Url.Action("LoggedInfo", "Admin")'>Logged Info</a></li>
            </ul>
        </div>
        <div id="divSearchtextshow">
        </div>
        <!-- Breadcrumb ends-->
        <!-- Inner Content Starts -->
        <div class="inner">
            <!-- Social Media Table -->
            @*  <div class="table_data reports_ref_received clearfix">
                <div class="clear">
                </div>*@
            <div id="tblScript">@Html.Raw(ViewBag.tblScriptLoggedInfo)</div>
            @*</div>*@
            <div class="clear">
            </div>
        </div>
        <div class="clear">
        </div>
    </div>
</div>

