﻿@model List<BO.Models.Features>
@{
    ViewBag.Title = "Manage Feature";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var errorMessage = TempData["ErrorMessage"];
    if (!string.IsNullOrEmpty(ViewBag.ErrorMessage) || !string.IsNullOrEmpty(Convert.ToString(TempData["ErrorMessage"])))
    {
        TempData["ErrorMessage"] = string.Empty;
    }
    var successMessage = TempData["SuccessMessage"];
    if (!string.IsNullOrEmpty(ViewBag.SuccessMessage) || !string.IsNullOrEmpty(Convert.ToString(TempData["SuccessMessage"])))
    {
        TempData["SuccessMessage"] = string.Empty;
    }
    string page = !string.IsNullOrEmpty(Request.QueryString["page"]) ? Request.QueryString["page"] : "1";
}
<input type="hidden" name="PageIndex" id="pageIndex" value="1" />
<input type="hidden" name="PageSize" value="50" id="pageSize" />
<input type="hidden" name="SortDirct" id="SortDirct" value="1" />
<input type="hidden" name="SearchText" value="" id="SearchText" />
<div class="content">
    <div class="content_base">
        <div class="breadcrumb">
            <ul>
                <li>
                    <a href="@Url.Action("Dashboard", "Admin")">
                        <img width="16" height="14" class="hires" src="../../Content/images/home-icon.png"
                             alt="Home">
                    </a><span class="after"></span>
                </li>
                <li>
                    <span class="before"></span><a href="@Url.Action("ManageMemberShip", "Admin")">Membership</a><span class="after"></span>
                </li>
                <li class="active"><a href="@Url.Action("ManageFeature", "Admin")">Manage Features</a></li>
            </ul>
        </div>
        <div id="divSearchtextshow">
        </div>
        <div class="inner">
            <div class="table_data reports_ref_received clearfix">
                <h5>Manage Features<span class="buttons"></span></h5>
                <div class="heading_panel">
                    <a class="edit popup-with-form showlightbox" href="#AddFeature" onclick="AddFeature()">
                        <img src="~/Images/Add_new_feature.png" />
                    </a>
                </div>
                <div class="clear"></div>
                <table class="manageCompanyList" cellpadding="0" cellspacing="0" border="0" id="tblComapanyList">
                    <thead>
                        <tr>
                            <th width="40%">
                                <a href="javascript:;" class="sortable" onclick="BindData(1)">Title</a>
                            </th>
                            <th style="text-align:center" width="30%">
                                <a href="javascript:;" class="sortable" onclick="BindData(2)">Sort Order</a>
                            </th>
                            <th width="30%">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody id="tblbodycontent" style="overflow-y:auto;max-height:100px">
                        @Html.Partial("_FeatureList", Model)

                    </tbody>
                </table>
            </div>
        </div>
        <div class="clear">
        </div>
        <div id="AddFeature" class="mfp-hide white-popup-block">
        </div>
    </div>
</div>

<script>
    function AddFeature() {
        $.ajaxSetup({ async: false });
        $.post("/Admin/AddFeature",
                                     function (data) {
                                         $("#AddFeature").html(data);
                                         LoadScript();
                                     });
        $.ajaxSetup({ async: true });
    }


    function EditFeature(Feature_Id) {
        $.ajaxSetup({ async: false });
        $.post("/Admin/EditFeature",
                                    { Feature_Id: Feature_Id, page: 1 },
                                        function (data) {
                                            $("#AddFeature").html(data);
                                            LoadScript();
                                        });
        $.ajaxSetup({ async: true });
    }
    function LoadScript() {
        $(".numericOnly").keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            }
        });
        $('#frmFeature').submit(function (evt) {
            $.validator.unobtrusive.parse($('#frmFeature'));
            if (!$("#frmFeature").valid()) {
                return false;
            }
        });
    }
    function DeleteFeature(Feature_Id) {
        swal({
            title: "",
            text: "Are you sure you want to remove ?",
            type: "warning",
            showCancelButton: true,
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: false,
            showLoaderOnConfirm: true,
        },
      function (isConfirm) {
          if (isConfirm) {
              $.post("/Admin/DeleteFeature",
                                    { Feature_Id: Feature_Id }, function (data) {
                                        if (data == true) {
                                            swal({
                                                title: "Success",
                                                text: "Feature details deleted successfully",
                                                timer: 1500,
                                                showConfirmButton: false
                                            });
                                            BindData(2);
                                        }
                                        else {
                                            swal({ title: "", text: 'Failed to delete Feature details', type: 'error' });
                                        }
                                    });
              $.ajaxSetup({ async: true });
          }
      });
    }
    function Close() {
        $(".mfp-close").click();
    }
    jQuery(document).ready(function (e) {
        if ($.trim("@successMessage").length != 0) {
            swal({
                title: "Success",
                text: "@successMessage",
                type: "",
                timer: 3000,
                showConfirmButton: false
            });
        }

        if ($.trim("@errorMessage").length != 0) {
            swal({
                title: "Error",
                text: "@errorMessage",
                type: "",
                timer: 3000,
                showConfirmButton: false
            });
        }
    });
    $(document).ready(function () {
        $('#txtsearch').keyup(function (e) {
            if (e.keyCode == 13) {
                BindData();
                if (SearchText != null && SearchText != "") {
                    $("#divClearSearch").css("display", "block");
                    $("#divClearSearch").html("<br/><a href='@Url.Action("ManageFeature", "Admin")' style=\"text-decoration:none;\" title=\"Clear Search\" > &nbsp;Clear Search</a>");
                }
                else {
                    //document.getElementById('divSearchtextshow').innerHTML = '';
                }
            }
        });
    });
    function BindData(SortColumn) {
        SortColumn = SortColumn != null ? SortColumn : 1
        var PageIndex = $("#pageIndex").val();
        var SortDirection = $("#SortDirct").val();
        var SearchText = $("#txtsearch").val();
        var PageSize = $("#pageSize").val();
        if (SearchText == "Search") {
            SearchText = "";
        }
        $.post("/Admin/GetFeature", { PageIndex: PageIndex, PageSize: PageSize, SortColumn: SortColumn, SortDirection: SortDirection, Searchtext: SearchText },
  function (data) {
      if (data.trim() == '<center><br/>No record found</center>') {
          $('#pageIndex').val("-1");
      }
      else {
          $('#pageIndex').val(PageIndex);
          if (SortDirection == 1)
              $('#SortDirct').val(2);
          else
              $('#SortDirct').val(1);
      }
      $("#tblbodycontent").html(data);
      $('.showlightbox').magnificPopup({
          type: 'inline',
          preloader: false,
          focus: '#name',
          callbacks: {
              beforeOpen: function () {
                  if ($(window).width() < 700) {
                      this.st.focus = false;
                  } else {
                      this.st.focus = '#name';
                  }
              }
          }
      });
  });

    }
</script>


