﻿@model List<BO.Models.Membership>
@{

    ViewBag.Title = "Manage MemberShip";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var errorMessage = TempData["ErrorMessage"];
    if (!string.IsNullOrEmpty(ViewBag.ErrorMessage) || !string.IsNullOrEmpty(Convert.ToString(TempData["ErrorMessage"])))
    {
        TempData["ErrorMessage"] = string.Empty;
    }
    string page = !string.IsNullOrEmpty(Request.QueryString["page"]) ? Request.QueryString["page"] : "1";
}
<input type="hidden" name="PageIndex" id="pageIndex" value="1" />
<input type="hidden" name="PageSize" value="50" id="pageSize" />
<input type="hidden" name="SortDirct" id="SortDirct" value="1" />
<input type="hidden" name="SearchText" value="" id="SearchText" />
<div class="content">
    <div class="content_base">
        <div class="breadcrumb">
            <ul>
                <li>
                    <a href="@Url.Action("Dashboard", "Admin")">
                        <img width="16" height="14" class="hires" src="../../Content/images/home-icon.png"
                             alt="Home">
                    </a><span class="after"></span>
                </li>
                @*<li>*@
                    <span class="before"></span><a href="@Url.Action("ManageMemberShip", "Admin")">Membership</a><span class="after"></span>
                @*</li>*@
                @*<li class="active"><a href="@Url.Action("ManageMemberShip", "Admin")">Manage Membership</a></li>*@
            </ul>
        </div>
        <div id="divSearchtextshow">
        </div>
        <div class="inner">
            <div class="table_data reports_ref_received clearfix">
                <h5>Manage Membership<span class="buttons"></span></h5>
                <div class="heading_panel">
                    <a class="edit popup-with-form showlightbox" href="#AddMembership" onclick="AddMembership()">
                        <img src="~/Images/Add_new_membership.png" />
                    </a>
                </div>
                <div class="clear"></div>
                <table class="manageCompanyList" cellpadding="0" cellspacing="0" border="0" id="tblComapanyList">
                    <thead>
                        <tr>
                            <th width="20%">
                                <a href="javascript:;" class="sortable" onclick="BindData(1)">Title</a>
                            </th>
                            <th width="30%">
                                Price
                            </th>
                            <th width="15%">
                                Feature
                            </th>
                            <th style="text-align:center" width="15%">
                                <a href="javascript:;" class="sortable" onclick="BindData(2)">Sort Order</a>

                            </th>
                            <th width="20%">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody id="tblbodycontent" style="overflow-y:auto;max-height:100px">
                        @Html.Partial("_MembershipList", Model)
                    </tbody>
                </table>
            </div>
        </div>
        <div class="clear">
        </div>
        <div id="AddMembership" class="mfp-hide white-popup-block">
        </div>
    </div>
</div>

<script>
    function AddMembership() {
        $.ajaxSetup({ async: false });
        $.post("/Admin/AddMembership",
                                     function (data) {
                                         $("#AddMembership").html(data);
                                         LoadScript();
                                     });
        $.ajaxSetup({ async: true });
    }

    function LoadScript() {
        $(".numericOnly").keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            }
        });
        $('.price').on('keypress', function (event) {
            if ((event.which != 46 || $(this).val().indexOf('.') != -1) &&
           ((event.which < 48 || event.which > 57) &&
            (event.which != 0 && event.which != 8))) {
                event.preventDefault();
            }

            var text = $(this).val();

            if ((text.indexOf('.') != -1) &&
              (text.substring(text.indexOf('.')).length > 2) &&
              (event.which != 0 && event.which != 8) &&
              ($(this)[0].selectionStart >= text.length - 2)) {
                event.preventDefault();
            }
        });
        $('#MonthlyPrice').on('change', function (event) {
            if ($("#MonthlyPrice").val()) {
                if (parseFloat($("#MonthlyPrice").val()) > 0) {
                    $("#QuaterlyPrice").val(parseFloat($("#MonthlyPrice").val() * 3).toFixed(2));
                    $("#HalfYearlyPrice").val(parseFloat($("#MonthlyPrice").val() * 6).toFixed(2));
                    $("#AnnualPrice").val(parseFloat($("#MonthlyPrice").val() * 12).toFixed(2));
                }
            }
        });
        $('#frmMembership').submit(function (evt) {
            $('textarea.ckeditor').each(function () {
                var $textarea = $(this);
                $textarea.val(CKEDITOR.instances[$textarea.attr('name')].getData());
            });
            $.validator.unobtrusive.parse($('#frmMembership'));
            if (!$("#frmMembership").valid()) {
                return false;
            }
        });


    }
    function EditMembership(Membership_Id) {
        $.ajaxSetup({ async: false });
        $.post("/Admin/EditMemberShip",
                                    { Membership_Id: Membership_Id, page: 1 },
                                        function (data) {
                                            $("#AddMembership").html(data.toString());
                                            LoadScript();
                                        });
        $.ajaxSetup({ async: true });
    }
    function DeleteMembership(Membership_Id) {
        $.post("/Admin/CheckMemberOfMembership", { MembershipId: Membership_Id }, function (data) {
            if (data > 0) {
                if (data == 1) {
                    swal({ title: "", text: "This Membership is assigned to " + data + " member, Please move this member to another Membership.", type: "warning", showConfirmButton: true })
                    return false;
                }
                if (data > 1) {
                    swal({ title: "", text: "This Membership is assigned to " + data + " members, Please move these members to another Membership.", type: "warning", showConfirmButton: true })
                    return false;
                }
            } else {
        swal({
            title: "",
                    text: "Are you sure you want to remove?",
            type: "warning",
            showCancelButton: true,
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: false,
            showLoaderOnConfirm: true,
        },
      function (isConfirm) {
          if (isConfirm) {
              $.post("/Admin/DeleteMemberShip",
                                    { Membership_Id: Membership_Id }, function (data) {
                                        if (data == true) {
                                            swal({
                                                title: "Success",
                                                text: "Membership details deleted successfully.",
                                                timer: 1500,
                                                showConfirmButton: false
                                            });
                                            BindData(2);

                                        }
                                        else {
                                            swal({ title: "", text: 'Failed to delete Membership details', type: 'error' });
                                        }
                                    });
              $.ajaxSetup({ async: true });
          }
                    });
            }
           
      });

        
    }
    function Close() {
        $(".mfp-close").click();
    }
    jQuery(document).ready(function (e) {
        if ($.trim("@errorMessage").length != 0) {
            swal({
                title: "Success",
                text: "@errorMessage",
                type: "",
                timer: 2000,
                showConfirmButton: false
            });
        }
    });
    $(document).ready(function () {
        $('#txtsearch').keyup(function (e) {
            if (e.keyCode == 13) {
                BindData();
                if (SearchText != null && SearchText != "") {
                    $("#divClearSearch").css("display", "block");
                    $("#divClearSearch").html("<br/><a href='@Url.Action("ManageMemberShip", "Admin")' style=\"text-decoration:none;\" title=\"Clear Search\" > &nbsp;Clear Search</a>");
                }
                else {
                    //document.getElementById('divSearchtextshow').innerHTML = '';
                }
            }
        });
    });

    function BindData(SortColumn) {
        SortColumn = SortColumn != null ? SortColumn : 1
        var PageIndex = $("#pageIndex").val();
        var SortDirection = $("#SortDirct").val();
        var SearchText = $("#txtsearch").val();
        var PageSize = $("#pageSize").val();
        if (SearchText == "Search") {
            SearchText = "";
        }
        $.post("/Admin/GetMemberShip", { PageIndex: PageIndex, PageSize: PageSize, SortColumn: SortColumn, SortDirection: SortDirection, Searchtext: SearchText },
  function (data) {
      if (data.trim() == '<center><br/>No record found</center>') {
          $('#pageIndex').val("-1");
      }
      else {
          $('#pageIndex').val(PageIndex);
          if (SortDirection == 1)
              $('#SortDirct').val(2);
          else
              $('#SortDirct').val(1);
      }
      $("#tblbodycontent").html(data);
      $('.showlightbox').magnificPopup({
          type: 'inline',
          preloader: false,
          focus: '#name',
          callbacks: {
              beforeOpen: function () {
                  if ($(window).width() < 700) {
                      this.st.focus = false;
                  } else {
                      this.st.focus = '#name';
                  }
              }
          }
      });
  });

    }
</script>
