﻿@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<title>Recordlinc - ManageCompanyAddresses</title>
<script type="text/javascript">

    var bindScrollHandler = function () {
        $(window).scroll(function () {
            if ($(window).scrollTop() + $(window).height() > $(document).height() - 150) {
                $(window).unbind("scroll");
                var Data = GetAllComapanyListAddressContent().toString();
                $(Data).appendTo("#tblbodycontent");
                bindScrollHandler();
            }
        });
    }

    function GetAllComapanyListAddressContent(CompanyId, PageIndex, SortColumn, SortDirection, Searchtext) {
        var DataList = '';
        var searchtext = document.getElementById('txtsearch').value;
        var strSortColumn = $("#tblCompanyAddresses").data("sortcolumn");
        var strSortDirection = $("#tblCompanyAddresses").data("sortirection");
        var strCompanyId = $("#tblCompanyAddresses").data("sortirection");

        if (searchtext == 'Search') {
            searchtext = '';
        }
        var PageIndex = $("#hdnPageindex").val();
        if (PageIndex == "-1") {
            return "";
        } else {
            PageIndex = parseInt(PageIndex) + parseInt("1");
            $("#hdnPageindex").val(PageIndex);
        }
        $.ajaxSetup({ async: false });
        $.post("/Admin/GetAllCompanyAddressesContent", { CompanyId: strCompanyId, PageIndex: PageIndex, SortColumn: strSortColumn, SortDirection: strSortDirection, Searchtext: searchtext },
        function (data) {
            if (data == '<tr><td colspan=\"3\"><center>No more record found</center></td></tr>' || data == '<tr><td colspan=\"3\"><center>No record found</center></td></tr>') {
                $("#hdnPageindex").val("-1");
            }
            DataList = data;
        });
        $.ajaxSetup({ async: true });
        return DataList;
    }

    function GetAllComapanyListAddress(CompanyId, PageIndex, SortColumn, SortDirection, Searchtext) {
        $("#hdnPageindex").val("1");
        $.post("/Admin/GetAllCompanyAddresses", { CompanyId: CompanyId, PageIndex: PageIndex, SortColumn: SortColumn, SortDirection: SortDirection, Searchtext: Searchtext },
        function (data) {
            document.getElementById('divManageCompanyAddresses').innerHTML = data;
            bindScrollHandler();
            $(window).scrollTop(0);
        });
    }


    function getParameterByName(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.search);
        return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }
    $(document).ready(function () {
        bindScrollHandler();
        $('#txtsearch').keyup(function (e) {
            if (e.keyCode == 13) {
                var message = document.getElementById("txtsearch").value

                var CompanyId = getParameterByName('CompanyId');
                GetAllComapanyListAddress(CompanyId, 1, 2, 2, message);
                if (message != null && message != "") {
                    $("#divClearSearch").css("display", "block");
                    $("#divClearSearch").html("<br/><a href='@Url.Action("ManageCompanyAddresses", "Admin")' style=\"text-decoration:none;\" title=\"Clear Search\" > &nbsp;Clear Search</a>");

                }
                else {
                    document.getElementById('divSearchtextshow').innerHTML = '';
                }
            }
        });


    });




    function OnclickBreadCrub() {
        var CompanyId = getParameterByName('CompanyId');
        window.location.href = '@Url.Action("ManageCompanyAddresses", "Admin")?CompanyId=' + CompanyId;
    }


    function CompanyAddressById(Id, Type) {
        $.post("/Admin/CompanyAddressById", { Id: Id, Type: Type },
        function (data) {
            document.getElementById('sendEmail').innerHTML = data;
            $('#OpenPopup').click();

        });
    }


    function closepopup() {
        $(".mfp-close").click();
    }


    function InsertUpdateCompanyAddress(Id, Type) {
        var CompanyId = getParameterByName('CompanyId');

        var CompanyAddress1 = $('#txtCompanyAddress1').val();
        var CompanyAddress2 = $('#txtCompanyAddress2').val();
        var CompanyCity = $('#txtCompanyCity').val();
        var CompanyState = $('#txtCompanyState').val();
        var CompanyZipCode = $('#txtCompanyZipCode').val();
        var CompanyCountry = $('#txtCompanyCountry').val();


        if ($('#txtCompanyAddress1').val() == null || $('#txtCompanyAddress1').val() == "") {
            //alert('Please enter address');
            swal({ title: "", text: 'Please enter address' });
            return false;
        }


        if ($('#txtCompanyCity').val() == null || $('#txtCompanyCity').val() == "") {
            // alert('Please enter city');
            swal({ title: "", text: 'Please enter city' });
            return false;
        }

        if ($('#txtCompanyState').val() == null || $('#txtCompanyState').val() == "") {
            //alert('Please enter state');
            swal({ title: "", text: 'Please enter state' });
            return false;
        }


        if ($('#txtCompanyZipCode').val() == null || $('#txtCompanyZipCode').val() == "") {
            //alert('Please enter zipcode');
            swal({ title: "", text: 'Please enter zipcode' });
            return false;
        }

        if ($('#txtCompanyCountry').val() == null || $('#txtCompanyCountry').val() == "") {
            //alert('Please enter country');
            swal({ title: "", text: 'Please enter country' });
            return false;
        }

        var IsPrimary = $('#checkprimary:checked').val() ? true : false;

        $.post("/Admin/InsertUpdateCompanyAddress", { CompanyId: CompanyId, Id: Id, Type: Type, CompanyAddress1: CompanyAddress1, CompanyAddress2: CompanyAddress2, CompanyCity: CompanyCity, CompanyState: CompanyState, CompanyZipCode: CompanyZipCode, CompanyCountry: CompanyCountry, Primary: IsPrimary },
        function (data) {
            if (data != null && data != "") {

                if (Type == "Add") {
                    //alert('Address addded successfully');
                    swal({ title: "", text: 'Address addded successfully', type: 'success' });
                }
                else {
                    // alert('Address updated successfully');
                    swal({ title: "", text: 'Address updated successfully', type: 'success' });
                }
            }
            else {
                if (Type == "Add") {
                    //alert('Failed to add address');
                    swal({ title: "", text: 'Failed to add address', type: 'error' });
                }
                else {
                    //alert('Failed to update address');
                    swal({ title: "", text: 'Failed to update address', type: 'error' });
                }
            }
            closepopup();
            GetAllComapanyListAddress(CompanyId, 1, 3, 1, null);

        });
    }
</script>
<input type="hidden" name="hdnPageindex" id="hdnPageindex" value="1" />
<input id="checkprimary" type="checkbox" checked="checked" name="Search">
<!-- Main content -->
<div class="content">
    <div class="content_base">
        <!-- Breadcrumb starts-->
        <div class="breadcrumb">
            <ul>
                <li>
                    <a href="@Url.Action("Dashboard", "Admin")">
                        <img width="16" height="14" class="hires" src="../../Content/images/home-icon.png"
                             alt="Home">
                    </a><span class="after"></span>
                </li>
                <li>
                    <span class="before"></span><a href="@Url.Action("ActiveUser", "Admin")">Admin</a><span class="after"></span>
                </li>
                <li>
                    <span class="before"></span><a href="@Url.Action("ManageCompany", "Admin")">
                        Manage
                        Company
                    </a><span class="after"></span>
                </li>
                <li class="active">
                    <a href="javascript:;" onclick="OnclickBreadCrub()">
                        Manage Company
                        Addresses
                    </a>
                </li>
            </ul>
        </div>
        <div id="divSearchtextshow">
        </div>
        <!-- Breadcrumb ends-->
        <!-- Inner Content Starts -->
        <div class="inner">
            <!-- Social Media Table -->
            <div id="divManageCompanyAddresses">
                @Html.Raw(ViewBag.ManageCompanyAddresses)
            </div>
            <div class="clear">
            </div>
            <!--Edit Account Start-->
            <div id="editAccount" class="mfp-hide white-popup-block">
                <h2 class="title">
                    Edit Account
                </h2>
                <div class="cntnt">
                    <ul class="tablelist">
                        <li>
                            <label>
                                Name:
                            </label><input type="text" name="Search" value="Lorne Lavine, DDS, MD">
                        </li>
                    </ul>
                    <div class="actions">
                        <input class="save_btn" name="Save" type="button" value="Save">
                        <input class="cancel_btn" name="Cancel" type="button" value="Cancel">
                        <div class="clear">
                        </div>
                    </div>
                </div>
            </div>
            <!--Edit Account End-->
            <a href="#sendEmail" class="popup-with-form showlightbox" id="OpenPopup"></a>
            <div id="sendEmail" class="mfp-hide white-popup-block">
            </div>
        </div>
        <div class="clear">
        </div>
    </div>
</div>
