﻿@{
    ViewBag.Title = "Admin - Manage Content | Recordlinc";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<title>Recordlinc - ManageContent</title>
<script src="../../Content/ckeditor/ckeditor.js" type="text/javascript"></script>
<script src="../../Content/ckeditor/adapters/jquery.js" type="text/javascript"></script>
<!-- Main content -->
<input type="hidden" name="hdnPageindex" id="hdnPageindex" value="1" />
<div class="content">
    <div class="content_base">
        <!-- Breadcrumb starts-->
        <div class="breadcrumb">
            <ul>
                <li>
                    <a href='@Url.Action("Dashboard", "Admin")'>
                        <img width="16" height="14" class="hires" src="../../Content/images/home-icon.png"
                             alt="Home" />
                    </a><span class="after"></span>
                </li>
                <li>
                    <span class="before"></span><a href="@Url.Action("ActiveUser", "Admin")">Admin</a><span class="after"></span>
                </li>
                <li class="active"><a href="@Url.Action("ManageContent", "Admin")">Manage Content</a></li>
            </ul>
        </div>
        <div id="divSearchtextshow">
        </div>
        <!-- Breadcrumb ends-->
        <!-- Inner Content Starts -->
        <div class="inner">
            <!-- Social Media Table -->
            <div id="ManageContentList">
                @Html.Raw(ViewBag.ManageContentList)
            </div>
            <div class="clear">
            </div>
        </div>
        <div class="clear">
        </div>
    </div>
</div>
<a href="#editAccount" class="popup-with-form showlightbox" id="OpenPopup"></a>
<div id="editAccount" class="mfp-hide white-popup-block">
</div>
<div id="add_new_membership" class="mfp-hide white-popup-block">
    <h2 class="title">
        Add New Institution
    </h2>
    <div class="cntnt">
        <ul class="tablelist">
            <li>
                <textarea type="text" name="Search" value=""></textarea>
            </li>
        </ul>
        <div class="actions">
            <input class="save_btn" name="Save" type="button" value="Save">
            <input class="cancel_btn" name="Cancel" type="button" value="Cancel">
            <div class="clear">
            </div>
        </div>
    </div>
</div>
<!-- Expanding SearchField -->
<link rel="stylesheet" type="text/css" href="../../Content/css/component.css" />
<script src="../../Content/js/classie.js" type="text/javascript"></script>
<link type="text/css" rel="stylesheet" href="../../Content/css/Admin/jquery.selectBox.css" />
<script type="text/javascript" src="../../Content/js/jquery.selectBox.js"></script>
<script type="text/javascript">
    $(function () {



        $(".select_menu_inbox").selectbox();

        var dataValue = $(".select_menu_inbox option:selected").text();
        $('#add_new_membership').children('h2').text(dataValue);
        $(".select_menu_inbox").on("change", function () {
            var dataValue = $(".select_menu_inbox option:selected").text();
            $('#add_new_membership').children('h2').text(dataValue);

        });
    });


    var bindScrollHandler = function () {
        $(window).scroll(function () {
            if ($(window).scrollTop() + $(window).height() > $(document).height() - 150) {
                $(window).unbind("scroll");
                var Data = GetAllManageContentListcontent().toString();

                $(Data).appendTo("#tblManageContentList");
                bindScrollHandler();
            }
        });
    }


    $(document).ready(function () {

        bindScrollHandler();

        CKEDITOR.disableAutoInline = true;

        $('#txttempatebody').ckeditor();

        $('#txtsearch').keyup(function (e) {
            if (e.keyCode == 13) {
                var message = document.getElementById("txtsearch").value
                var SeletedType = $('#standard-dropdown').val();

                GetAllManageContentList(1, SeletedType, message);

                if (message != null && message != "") {
                    $("#divClearSearch").css("display", "block");
                    $("#divClearSearch").html("<br/><a href='@Url.Action("ManageContent", "Admin")' style=\"text-decoration:none;\" title=\"Clear Search\" > &nbsp;Clear Search</a>");

                }
                else {
                    document.getElementById('divSearchtextshow').innerHTML = '';
                }
            }
        });


    });

    function GetAllManageContentListcontent() {

        var DataList = '';
        var searchtext = document.getElementById('txtsearch').value;
        var SelectedValue = $('#standard-dropdown').val();

        if (searchtext == 'Search') {
            searchtext = '';
        }


        var PageIndex = $("#hdnPageindex").val();
        if (PageIndex == "-1") {
            return "";
        } else {
            PageIndex = parseInt(PageIndex) + parseInt("1");
            $("#hdnPageindex").val(PageIndex);
        }
        $.ajaxSetup({ async: false });
        $.post("/Admin/GetAllManageContentListContent", { PageIndex: PageIndex, SelectedValue: SelectedValue, Searchtext: searchtext },
        function (data) {

            if (data == '<tr><td colspan=\"3\"><center>No record found</center></td></tr>' || data == '<tr><td colspan=\"3\"><center>No record found</center></td></tr>') {
                $("#hdnPageindex").val("-1");
            }
            DataList = data;
        });
        $.ajaxSetup({ async: true });
        return DataList;

    }

    function GetAllManageContentList(PageIndex, SelectedValue, Searchtext) {
        $("#hdnPageindex").val("1");
        $.post("/Admin/GetAllManageContentList", { PageIndex: PageIndex, SelectedValue: SelectedValue, Searchtext: Searchtext },
        function (data) {
            if (data != null && data != "") {
                document.getElementById('ManageContentList').innerHTML = data;
                $(".select_menu_inbox").selectbox();
                bindScrollHandler();
            }



        });
    }


    function OptionChange() {

        var SelectedValue = $('#standard-dropdown').val();
        var Searchtext = $('#txtsearch').val();
        if (Searchtext == "Search") {
            Searchtext = null;
        }


        $.post("/Admin/GetAllManageContentList", { PageIndex: 1, SelectedValue: SelectedValue, Searchtext: Searchtext },
        function (data) {
            if (data != null && data != "") {
                document.getElementById('ManageContentList').innerHTML = data;
                $(".select_menu_inbox").selectbox();

                if (SelectedValue.toString() == "4") {
                    CKEDITOR.disableAutoInline = true;
                    $('#txttempatebody').ckeditor();

                } else {
                    $("#hdnPageindex").val("1");
                    bindScrollHandler();
                }

            }



        });
    }



    function AddEditPageContent(Id) {

        var ContentPageName = $('#txttempatename').val();
        var ContentPageDesc = $('#txttempatebody').val();

        if (ContentPageName == null || ContentPageName == "") {
            //alert('Please enter page name.');
            swal({ title: "", text: 'Please enter page name.' });
            $('#txttempatename').focus()
            return false;
        }


        if (ContentPageDesc == null || ContentPageDesc == "") {
            //alert('Please enter description.');
            $('#txttempatebody').focus()
            return false;
        }

        $.post("/Admin/AddEditPageContent", { Id: Id, PageName: ContentPageName, PageDesc: ContentPageDesc },
        function (data) {
            if (data != null && data != "") {

                if (Id != "0") {
                    //alert('Page details updated successfully.');
                    swal({ title: "", text: 'Page details updated successfully.', type: 'success' });
                }
                else {
                    // alert('Page details added successfully.');
                    swal({ title: "", text: 'Page details added successfully.', type: 'success' });
                }

                window.location = document.URL;

            }
            else {
                if (Id != "0") {
                    //alert('Failed to update page details.');
                    swal({ title: "", text: 'Failed to update page details.', type: 'error' });
                }
                else {
                    //alert('Failed to add page details.');
                    swal({ title: "", text: 'Failed to add page details.', type: 'error' });
                }
            }
        });

    }

    function OptionPageChange() {

        var SelectedPage = ($('#ddlselectpage').val() == "0" ? null : $('#ddlselectpage').val());
        $.post("/Admin/GetAllManageContentList", { PageIndex: 1, SelectedValue: "4", Searchtext: SelectedPage },
        function (data) {
            if (data != null && data != "") {
                document.getElementById('ManageContentList').innerHTML = data;
                $(".select_menu_inbox").selectbox();
                CKEDITOR.disableAutoInline = true;
                $('#txttempatebody').ckeditor();
            }
        });


    }






    function GetCustomSettingDetialsById(Id, SelectedValue, Type) {
        $.post("/Admin/GetCustomSettingDetialsById", { Id: Id, SelectedValue: SelectedValue, Type: Type },
        function (data) {
            if (data != null && data != "") {
                document.getElementById('editAccount').innerHTML = data;
                $('#OpenPopup').click();
                $(".select_menu_inbox").selectbox();
            }

        });
    }

    function closepopup() {
        $(".mfp-close").click();
    }


    function RemoveContentById(Id, SeletedType) {
        swal({
            title: "",
            text: "Are you sure you want to remove?",
            type: "warning",
            showCancelButton: true,
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: false,
        },
   function (isConfirm) {
       if (isConfirm) {
           $.post("/Admin/RemoveContentById", { Id: Id, SeletedType: SeletedType },
       function (data) {
           if (data != null && data != "") {
               $('#row' + Id).remove();
               // alert('Content remove successfully');
               swal({ title: "", text: 'Content removed successfully', type: 'success' });
           }
           else {
               //alert('Failed to remove content');
               swal({ title: "", text: 'Failed to remove content', type: 'error' });
           }
           document.getElementById('divSearchtextshow').innerHTML = '';
           closepopup();
       });
       }
   });
    }




    function InsertandUpdateContent(Id, SelectedValue, Type) {
        var flag = false;
        var Content = $('#txtcustomsettingcontent').val().trim();
        if (Content != null && Content != "") {
            if (SelectedValue == 3) {
                var SpecialityName = $('#txtcustomsettingcontent').val();
                $.ajaxSetup({ async: false });
                $.post("/Admin/CheckSpecialityName", { SpecialityName: Content, SpecialityId: Id, },
                    function (data) {
                        if (data == true) {
                            swal({ title: "", text: 'Speciality name already exists.' });
                            flag = true
                        }
                    });
            }
            $.ajaxSetup({ async: true });
            if (flag == true) {
                return false;

            } else {
                $.post("/Admin/InsertandUpdateContent", { Id: Id, SelectedValue: SelectedValue, Type: Type, EditString: Content },
                                   function (data) {
                                       if (data != null && data != "") {
                                           if (Type == "Add") {
                                               //alert('Content added successfully');
                                               swal({ title: "", text: 'Content added successfully', type: 'success' });
                                           }
                                           else {
                                               //alert('Content updated successfully');
                                               swal({ title: "", text: 'Content updated successfully', type: 'success' });
                                               $('td #' + Id).text(Content);
                                           }
                                       }
                                       else {
                                           if (Type == "Add") {
                                               //alert('Failed to add content');
                                               swal({ title: "", text: 'Failed to add content', type: 'error' });
                                           }
                                           else {
                                               //alert('Failed to update content');
                                               swal({ title: "", text: 'Failed to update content', type: 'error' });
                                           }
                                       }
                                       closepopup();
                                   });
            }
        }
        else {
            //alert('Please enter content');
            swal({ title: "", text: 'Please enter content' });
            return false;
        }

    }

    $(document).keydown(function (e) {
        if (e.which == 116) {
            window.location.href = "../Admin/ManageContent";
            return false;
        }
    });

</script>
