﻿@model NewRecordlinc.Models.Admin.mdlAdmin
@{
    ViewBag.Title = "Recordlinc - Manage Insurance";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    var errorMessage = TempData["ErrorMessage"];
    if (!string.IsNullOrEmpty(ViewBag.ErrorMessage) || !string.IsNullOrEmpty(Convert.ToString(TempData["ErrorMessage"])))
    {
        TempData["ErrorMessage"] = string.Empty;
    }
    string page = !string.IsNullOrEmpty(Request.QueryString["page"]) ? Request.QueryString["page"] : "1";
}

<input type="hidden" name="PageIndex" id="pageIndex" value="1" />
<input type="hidden" name="PageSize" value="50" id="pageSize" />
<input type="hidden" name="SortDirct" id="SortDirct" value="1" />
<input type="hidden" name="SearchText" value="" id="SearchText" />
<div class="content">
    <div class="content_base">
        <div class="breadcrumb">
            <ul>
                <li>
                    <a href="@Url.Action("Dashboard", "Admin")">
                        <img width="16" height="14" class="hires" src="../../Content/images/home-icon.png"
                             alt="Home">
                    </a><span class="after"></span>
                </li>
                <li>
                    <span class="before"></span><a href="@Url.Action("ActiveUser", "Admin")">Users</a><span class="after"></span>
                </li>
                <li class="active"><a href="@Url.Action("ManageInsurance", "Admin")">Manage Insurance</a></li>
            </ul>
        </div>
        <div id="divSearchtextshow">
        </div>
        <div class="inner">
            <div class="table_data reports_ref_received clearfix">
                <h5>Manage Insurance<span class="buttons"></span></h5>
                <div class="heading_panel">
                    <a class="edit popup-with-form showlightbox" href="#AddInsurance" onclick="AddInsurance()">
                        <img src="~/Images/Add_new_insurance.png" />
                    </a>
                </div>
                <div class="clear"></div>
                <table class="manageCompanyList" cellpadding="0" cellspacing="0" border="0" id="tblComapanyList">
                    <thead>
                        <tr>
                            <th width="10%">
                                Logo
                            </th>
                            <th width="20%">
                                <a href="javascript:;" class="sortable" onclick="SortInsurance(1)">Name</a>
                            </th>
                            <th width="20%">
                                @*<a href="javascript:;" class="sortable" onclick="SortInsurance(2)">Link</a>*@
                                Link
                            </th>
                            <th width="30%">
                                Description
                            </th>
                            <th width="20%">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody id="tblbodycontent" style="overflow-y:auto;max-height:100px">
                        @Html.Partial("_InsuranceList", Model)
                        @*@Html.HiddenFor(t => Model.lstInsurance.Count)*@
                    </tbody>
                </table>
            </div>
        </div>
        <div class="clear">
        </div>
        <div id="AddInsurance" class="mfp-hide white-popup-block">
        </div>
    </div>
</div>
<script>
    function AddInsurance() {
        $.ajaxSetup({ async: false });
        $.post("/Admin/AddInsurance",
                                     function (data) {
                                         document.getElementById("AddInsurance").innerHTML = data.toString();
                                     });


        $.ajaxSetup({ async: true });
    }

    function EditInsurance(InsuranceId) {
        
        var Page = $('#CurrentPageNo').val();
        $.ajaxSetup({ async: false });
        $.post("/Admin/EditInsurance",
                                    { InsuranceId: InsuranceId, page: Page },
                                        function (data) {
                                            document.getElementById("AddInsurance").innerHTML = data.toString();
                                        });
        $.ajaxSetup({ async: true });
    }

    function DeleteInsurance(InsuranceId) {

        var PageIndex = $("#pageIndex").val();
        var SortDirection = $("#SortDirct").val();
        var SearchText = $("#txtsearch").val();
        var PageSize = $("#pageSize").val();
        swal({
            title: "",
            text: "Are you sure you want to remove?",
            type: "warning",
            showCancelButton: true,
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: false,
            showLoaderOnConfirm: true,
        },
      function (isConfirm) {
          if (isConfirm) {
              $.post("/Admin/DeleteInsurance",
                                    { InsuranceId: InsuranceId }, function (data) {
                                        
                                        if (data == "1") {
                                            swal({
                                                title: "Successfully",
                                                text: "Insurance details deleted successfully",
                                                timer: 1500,
                                                showConfirmButton: false
                                            });
                                            var cnt = $("#lstInsurance_Count").val();
                                            if (cnt == 1)
                                            {
                                                var page = $("#pageIndex").val();
                                                if (page > 1)
                                                {
                                                    page = parseInt(page) - parseInt(1);
                                                }
                                                showPaging(page);
                                            }
                                            else {
                                                showPaging($("#pageIndex").val());
                                            }
                                        }
                                        else if (data == "2") {
                                            swal({ title: "", text: "Insurance is already associated with dentist, you can not delete it", type: "error" });
                                        }
                                        else if (data == "0") {
                                            swal({ title: "", text: 'Failed to delete insurance details', type: 'error' });
                                        }
                                    });
              $.ajaxSetup({ async: true });
          }
      });
    }

    function CheckInsuranceDetail(InsuranceId) {
        if ($('#Name').val() == null || $('#Name').val() == "") {
            swal({ title: "", text: 'Please enter insurance name.' });
            $("#Name").focus();
            return false;
        }
        if ($('#Link').val() == null || $('#Link').val() == "") {
            swal({ title: "", text: 'Please enter link' });
            $('#Link').focus();
            return false;
        }
        else {
            var linkUrl = $('#Link').val();
            if (!isUrl(linkUrl)) {
                swal({ title: "", text: 'Please enter a valid URL.' });
                $("#Link").focus();
                return false;
            }
        }
        if (InsuranceId == 0) {
            if ($('#LogoImage').val() == null || $('#LogoImage').val() == "") {
                swal({ title: "", text: 'Please select logo image.' });
                $("#LogoImage").focus();
                return false;
            }
            if ($('#LogoImage').val() != null || $('#LogoImage').val() != "") {
                var item = $("#LogoImage").val();
                var extension = item.replace(/^.*\./, '');
                if (extension == "jpg" || extension == "jpeg" || extension == "gif" || extension == "png" || extension == "bmp" || extension == "psd" || extension == "pspimage" || extension == "thm" || extension == "tif" || extension == "yuv") {
                }
                else {
                    swal({ title: "", text: 'Please upload only Jpg,Png and Gif Image.' });
                    return false;
                }
            }
        }

        return true;
    }


    function UploadLogo() {
        if ($('#LogoImage').val() != null || $('#LogoImage').val() != "") {
            var item = $("#LogoImage").val();
            var extension = item.replace(/^.*\./, '');
            if (extension == "jpg" || extension == "jpeg" || extension == "gif" || extension == "png" || extension == "bmp" || extension == "psd" || extension == "pspimage" || extension == "thm" || extension == "tif" || extension == "yuv") {
            }
            else {
                swal({ title: "", text: 'Please upload only Jpg,Png and Gif Image.' });
                document.getElementById("LogoImage").value = "";
                return false;
            }
        }
    }

    function CloseInsurance() {
        $(".mfp-close").click();
    }

    jQuery(document).ready(function (e) {
        if ($.trim("@errorMessage").length != 0) {
            swal({
                title: "Successfully",
                text: "@errorMessage",
                type: "",
                timer: 2000,
                showConfirmButton: false
            });
        }
    });

    function SortInsurance(SortColumn) {
        var PageIndex = $("#pageIndex").val();
        var SortDirection = $("#SortDirct").val();
        var SearchText = $("#txtsearch").val();
        var PageSize = $("#pageSize").val();
        if (SearchText == "Search") {
            SearchText = "";
        }
        $.post("/Admin/GetInsuranceList", { PageIndex: PageIndex, PageSize: PageSize, SortColumn: SortColumn, SortDirection: SortDirection, Searchtext: SearchText },
           function (data) {
               if (data.trim() == '<center><br/>No record found</center>') {
                   $('#pageIndex').val("-1");
               }
               else {
                   $('#pageIndex').val(PageIndex);
                   if (SortDirection == 1)
                       $('#SortDirct').val(2);
                   else
                       $('#SortDirct').val(1);

               }
               $("#tblbodycontent").html(data);
               $('.showlightbox').magnificPopup({
                   type: 'inline',
                   preloader: false,
                   focus: '#name',
                   callbacks: {
                       beforeOpen: function () {
                           if ($(window).width() < 700) {
                               this.st.focus = false;
                           } else {
                               this.st.focus = '#name';
                           }
                       }
                   }
               });
           });
    }

    $(document).ready(function () {
        $('#txtsearch').keyup(function (e) {
            if (e.keyCode == 13) {
                var PageIndex = $("#pageIndex").val();
                var SortDirection = $("#SortDirct").val();
                var SearchText = $("#txtsearch").val();
                var PageSize = $("#pageSize").val();
                if (SearchText == "Search") {
                    SearchText = "";
                }
                $.post("/Admin/GetInsuranceList", { PageIndex: PageIndex, PageSize: PageSize, SortColumn: 1, SortDirection: SortDirection, Searchtext: SearchText },
          function (data) {
              if (data.trim() == '<center><br/>No record found</center>') {
                  $('#pageIndex').val("-1");
              }
              else {
                  $('#pageIndex').val(PageIndex);
                  if (SortDirection == 1)
                      $('#SortDirct').val(2);
                  else
                      $('#SortDirct').val(1);
              }
              $("#tblbodycontent").html(data);
          });
                if (SearchText != null && SearchText != "") {
                    $("#divClearSearch").css("display", "block");
                    $("#divClearSearch").html("<br/><a href='@Url.Action("ManageInsurance", "Admin")' style=\"text-decoration:none;\" title=\"Clear Search\" > &nbsp;Clear Search</a>");
                }
                else {
                    document.getElementById('divSearchtextshow').innerHTML = '';
                }
            }
        });
    });

    function showPaging(page) {
        
        var SortDirection = $("#SortDirct").val();
        var SearchText = $("#txtsearch").val();
        $("#pageIndex").val(page);
        if (SearchText == "Search") {
            SearchText = "";
        }
        $.post("/Admin/GetInsuranceList", { PageIndex: page, PageSize: 50, SortColumn: 1, SortDirection: SortDirection, Searchtext: SearchText },
  function (data) {
      $("#tblbodycontent").html(data);
      $('.showlightbox').magnificPopup({
          type: 'inline',
          preloader: false,
          focus: '#name',
          callbacks: {
              beforeOpen: function () {
                  if ($(window).width() < 700) {
                      this.st.focus = false;
                  } else {
                      this.st.focus = '#name';
                  }
              }
          }
      });
      $(".cancel_btn").click(function () {
          $(".mfp-close").click();
      });
     
  });
    }

</script>