﻿@{
    ViewBag.Title = "Admin - Manage Company | Recordlinc";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
	ul.vtiget_list li input[type="radio"] {
    float: right;
    margin: 10px 10px 0 0 !important;
}
</style>
<title>Recordlinc - ManageCompany</title>
<script type="text/javascript">

    var bindScrollHandler = function () {
        $(window).scroll(function () {
            if ($(window).scrollTop() + $(window).height() > $(document).height() - 150) {
                $(window).unbind("scroll");
                var Data = GetAllCompanyContent().toString();
                $(Data).appendTo("#tblbodycontent");
                bindScrollHandler();
            }
        });
    }

    function GetAllCompanyContent(PageIndex, SortColumn, SortDirection, Searchtext) {

        var DataList = '';
        var searchtext = document.getElementById('txtsearch').value;
        var strSortColumn = $("#tblComapanyList").data("sortcolumn");
        var strSortDirection = $("#tblComapanyList").data("sortirection");

        if (searchtext == 'Search') {
            searchtext = '';
        }
        var PageIndex = $("#hdnPageindex").val();
        if (PageIndex == "-1") {
            return "";
        } else {
            PageIndex = parseInt(PageIndex) + parseInt("1");
            $("#hdnPageindex").val(PageIndex);
        }
        $.ajaxSetup({ async: false });
        $.post("/Admin/GetAllComapanyListContent", { PageIndex: PageIndex, SortColumn: strSortColumn, SortDirection: strSortDirection, Searchtext: searchtext },
        function (data) {
            if (data == '<tr><td colspan=\"3\"><center>No more record found</center></td></tr>' || data == '<tr><td colspan=\"3\"><center>No record found</center></td></tr>') {
                $("#hdnPageindex").val("-1");
            }
            DataList = data;
        });
        $.ajaxSetup({ async: true });
        return DataList;



       
       
    }

    function GetAllCompany(PageIndex, SortColumn, SortDirection, Searchtext) {
        $("#hdnPageindex").val("1");
        $.post("/Admin/GetAllComapanyList", { PageIndex: PageIndex, SortColumn: SortColumn, SortDirection: SortDirection, Searchtext: Searchtext },
        function (data) {
            document.getElementById('divManageCompany').innerHTML = data;
            bindScrollHandler();
            $(window).scrollTop(0);

        });
    }

    $(document).ready(function () {
        bindScrollHandler();
        $('#txtsearch').keyup(function (e) {
            if (e.keyCode == 13) {
                var message = document.getElementById("txtsearch").value
                GetAllCompany(1, 1, 2, message)

                if (message != null && message != "") {
                    $("#divClearSearch").css("display", "block");
                    $("#divClearSearch").html("<br/><a href='@Url.Action("ManageCompany", "Admin")' style=\"text-decoration:none;\" title=\"Clear Search\" > &nbsp;Clear Search</a>");
                }
                else {
                    document.getElementById('divSearchtextshow').innerHTML = '';
                }
            }
        });
    });

 

    function Companydetails(id) {
        $('#hdncompanyid').val(id);
        $('#fromcompany').submit();
    }

    $(document).keydown(function (e) {
        if (e.which == 116) {
            window.location.href = "../Admin/ManageCompany";
            return false;
        }
    });
</script>
<input type="hidden" name="hdnPageindex" value="1" id="hdnPageindex" />
<!-- Main content -->
<form action="@Url.Action("AddNewCompany", "Admin")" method="get" id="fromcompany">
    <input type="hidden" name="hdncompanyid" id="hdncompanyid" />
</form>
<div class="content">
    <div class="content_base">
        <!-- Breadcrumb starts-->
        <div class="breadcrumb">
            <ul>
                <li>
                    <a href="@Url.Action("Dashboard", "Admin")">
                        <img width="16" height="14" class="hires" src="../../Content/images/home-icon.png"
                             alt="Home">
                    </a><span class="after"></span>
                </li>
                <li>
                    <span class="before"></span><a href="@Url.Action("ActiveUser", "Admin")">Admin</a><span class="after"></span>
                </li>
                <li class="active"><a href="@Url.Action("AddNewCompany", "Admin")">Manage Company</a></li>
            </ul>
        </div>
        <div id="divSearchtextshow">
        </div>
        <!-- Breadcrumb ends-->
        <!-- Inner Content Starts -->
        <div class="inner">
            <!-- Social Media Table -->
            <div id="divManageCompany">
                @Html.Raw(ViewBag.ManageCompany)
            </div>
            <div class="clear">
            </div>
            <!--Edit Account Start-->
            <div id="editAccount" class="mfp-hide white-popup-block">
                <h2 class="title">
                    Edit Account
                </h2>
                <div class="cntnt">
                    <ul class="tablelist">
                        <li>
                            <label>
                                Name:
                            </label><input type="text" name="Search" value="Lorne Lavine, DDS, MD">
                        </li>
                    </ul>
                    <div class="actions">
                        <input class="save_btn" name="Save" type="button" value="Save">
                        <input class="cancel_btn" name="Cancel" type="button" value="Cancel">
                        <div class="clear">
                        </div>
                    </div>
                </div>
            </div>
            <!--Edit Account End-->
            <div id="sendEmail" class="mfp-hide white-popup-block">
                <h2 class="title">
                    Edit Address
                </h2>
                <div class="cntnt">
                    <ul class="tablelist">
                        <li>
                            <label>
                                CompanyAddress1:
                            </label><input type="text" name="Search" value="15">
                        </li>
                        <li>
                            <label>
                                CompanyAddress2:
                            </label><input type="text" name="Search" value="Rico Way">
                        </li>
                        <li>
                            <label>
                                CompanyCity:
                            </label><input type="text" name="Search" value="San Francisco">
                        </li>
                        <li>
                            <label>
                                CompanyState:
                            </label><input type="text" name="Search" value="CA">
                        </li>
                        <li>
                            <label>
                                CompanyZipCode:
                            </label>
                            <input type="text" name="Search" value="94123">
                        </li>
                        <li>
                            <label>
                                CompanyCountry:
                            </label><input type="text" name="Search" value="USA">
                        </li>
                        <li>
                            <label>
                                Primary:
                            </label><input type="text" name="Search" value="">
                        </li>
                    </ul>
                    <div class="actions">
                        <input class="save_btn" name="Save" type="button" value="Save">
                        <input class="cancel_btn" name="Cancel" type="button" value="Cancel">
                        <div class="clear">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear">
        </div>
    </div>
</div>
