﻿@model List<BO.Models.MembershipOfMember>
@if (Model.Count > 0)
{
    foreach (var item in Model)
    {
        <tr>
            <input type="hidden" name="TotalCount" id="TotalCount" value="@Model.Count" />
            <input type="hidden" id="monthlyPrice" name="MonthlyPrice" value="@item.Price" />
            @*<td><input type="checkbox" name="Userselect" value="" id="@item.UserId" /></td>*@
            <td><a href="/Admin/MembersHistory?UserId=@item.UserId" style="text-decoration:none;">@item.FirstName</a></td>
            <td>@item.MembershipName</td>
            @if (item.Interval == "3")
            {
                <td>Quarterly</td>
            }
            @if (item.Interval == "1")
            {
                <td>Monthly</td>
            }
            @if (item.Interval == "6")
            {
                <td>Half Yearly</td>
            }
            @if (item.Interval == "12")
            {
                <td>Annually</td>
            }
            @if (item.Interval == "")
            {
                <td>N/A</td>
            }
            <td>$@item.Price</td>
            @if (item.PaymentMode == "True")
            {
                <td>Credit Card</td>
            }
            else
            {
                <td>Manually</td>
            }            
            <!--<td>
                if (item.MembershipName != "SPECIALISTS  PACKAGE")
                {
                    <select id="Newlstmembership_item.UserId" name="ddlServiceId">
                        foreach (var itemm in ViewBag.lstMembership)
                        {
                            <option value="itemm.Membership_Id" data-val="itemm.MonthlyPrice">itemm.Title</option>
                        }
                    </select>
                }
            </td>
            <td>
                if (item.MembershipName != "SPECIALISTS  PACKAGE")
                {
                    <input type="button" value="Create" name="Save" class="save_btn1" onclick="Submitfrom(item.UserId);" />
                }               
            </td>-->
        </tr>
        
    }
}
else
{
    <tr>
        <td colspan="5">
            <center>No records found</center>
        </td>
    </tr>
        
}

