﻿@model BO.ViewModel.MembershipFeatures

@{
    ViewBag.Title = "MembershipFeatures";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .newdev {
        width: 100%;
    }

    .dev1 {
        width: 50%;
        float: left;
    }

    .dev2 {
        width: 50%;
        float: right;
    }
    .save_btn1{
        width: 97px;
        height: 40px;
    }    
    .cheq {
        padding-top: 61px;
    }

    .col-md-3 {
        width: 20%;
    }
</style>
<div class="content">
    <div class="content_base">
        <div class="breadcrumb">
            <ul>
                <li>
                    <a href="@Url.Action("Dashboard", "Admin")">
                        <img width="16" height="14" class="hires" src="../../Content/images/home-icon.png"
                             alt="Home">
                    </a><span class="after"></span>
                </li>
                <li>
                    <span class="before"></span><a href="@Url.Action("ManageMemberShip", "Admin")">Membership</a><span class="after"></span>
                </li>
                <li class="active">@*<a href="@Url.Action("MembershipFeatures", "Admin")">*@Membership Features@*</a>*@</li>
            </ul>
        </div>
        <div id="divSearchtextshow">
        </div>
        <div class="inner">
            <form id="frm">
                <div class="form-horizontal">
                    <h4>Membership Features Detail</h4>
                    <hr />
                    <table style="width:100%;">
                        <tr>
                            <td>
                                <div class="newdev">
                                    <div class="form-group dev1">
                                        <div class="col-md-10" style="padding:10px 0px 7px 0px;">
                                            Membership Name : @Model.MembershipName
                                            <input type="hidden" name="MembershipId" value="@Model.MembershipId" id="MemberShipId" />
                                            @*<select id="LstMembership" name="ddlServiceId">
                                                @foreach (var item in Model.MemberShip)
                                                {
                                                    <option value="@item.Membership_Id" data-val="@item.MonthlyPrice">@item.Title</option>
                                                }
                                            </select>*@
                                            @*@Html.DropDownListFor(model => model.MemberShip, new SelectList(Model.MemberShip.ToList(), "Membership_Id", "Title"), new { @class = "form-control", @style = "width: 50%;" })
                                            @Html.ValidationMessageFor(model => model.MembershipName, "", new { @class = "text-danger" })*@
                                        </div>
                                    </div>
                                    <div style="padding:10px 0px 7px 0px;float:right;">
                                        <strong>Note : </strong><u>CAN SEE</u> is <input type="checkbox" name="name" disabled checked="checked" value="" /> & <u>MAX COUNT</u> is <u>Empty</u> = <strong style="color:red;">UNLIMITED</strong>.
                                    </div>
</div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table class="manageCompanyList" cellpadding="0" cellspacing="0" border="0" id="tblComapanyList">
                                    <thead>
                                        <tr>
                                            <th width="30%">
                                                Feature Name
                                            </th>
                                            <th width="20%">
                                                Can See
                                            </th>
                                            <th width="20%">
                                                Max Count
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="bodyofFeatures">
                                        @Html.Partial("GetFeaturesListing",Model.lstFeatures)
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="button" value="Create" name="Save" class="save_btn1" onclick="Submitfrom();" />
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </form>

            <div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-ui-1.8.11.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/JS/jquery.toaster.js"></script>
<script type="text/javascript">
    $(".numericOnly").bind('keypress', function (e) {
        if (e.keyCode == '9' || e.keyCode == '16') {
            return;
        }
        var code;
        if (e.keyCode) code = e.keyCode;
        else if (e.which) code = e.which;
        if (e.which == 46)
            return false;
        if (code == 8 || code == 46)
            return true;
        if (code < 48 || code > 57)
            return false;
    });
    function Submitfrom() {
            
            var ObjMember = {
                'MembershipId': $("#MemberShipId").val(),
                'FeatureId': FindlistofFeatureslist()
            }
            
            $.post("/Admin/InsertMemberShipFeatures", { ObjMember: ObjMember }, function (data) {
                if (data) {
                    swal({
                        title: "Success", text: 'Details added successfully.', timer: 2000,showConfirmButton: false });
                    //$.toaster({ priority: 'success', title: 'Success', message: 'Detial\'s added successfully.' });
                    window.location.reload();
                }
                else {
                    swal({ title: "Success", text: 'Details updated successfully.', timer: 2000, showConfirmButton: false });
                    //$.toaster({ priority: 'danger', title: 'Oops', message: 'Something\'s want to wrong' });
                }
            });
    }
    function FindlistofFeatureslist()
    {
        
        var selected = "";
        $('#bodyofFeatures input:checked').each(function () {
            selected += $(this).attr('name') + "_" + ($("#"+$(this).attr('name')).val());
            selected += ",";
        });
        return selected;
    }
    
    $(document).ready(function () {
        $('#bodyofFeatures input').change(function () {
            if ($(this).is(':checked')){
                var myanme = $(this).attr("name");
                $("#" + myanme).removeAttr("disabled");
            }else{
                var myanme = $(this).attr("name");
                $("#" + myanme).attr("disabled", true);
            }
        }).change();
    });
</script>