﻿@model List<BO.Models.MerchantOwner>
@{
    ViewBag.Title = "Merchant Detail | Recordlinc";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<title>Recordlinc - BlockUsers</title>

<link href="~/Content/Final/css/main.css" rel="stylesheet" />
<script type="text/jscript" src="../../Content/js/jquery.ui.core.js"></script>
<script type="text/jscript" src="../../Content/js/jquery.ui.widget.js"></script>
<script type="text/jscript" src="../../Content/js/jquery.ui.mask.js"></script>
<link href="~/Content/Appointment/Css/jquery.datetimepicker.css" rel="stylesheet" />
<script src="~/Content/Appointment/Js/jquery.datetimepicker.full.js"></script>
<script type="text/javascript">
    $('.datepicker').datetimepicker({
        datepicker: true,
        timepicker: false,
        format: 'm/d/Y',
    });

    function GetDooctorDetail(AccountId) {
        $.ajax({
            url: "/Admin/RegisterMerchantDetail",
            type: "POST",
            data: { AccountId: AccountId },
            async: true,
            success: function () {

            }
        });
    }

    function SearchbyDate() {
        $.ajax({
            url: "/Admin/PartialMerchantDetail",
            type: "POST",
            data: { AccountName: $("#txtAccountNamesearch").val(), FromDate: $("#txtSearchFromDate").val(), ToDate: $("#txtSearchToDate").val() },
            async: true,
            success: function (data) {
                $("#tblDetail").html('');
                $("#tblDetail").append(data);
            }
        });
    }

</script>
<input type="hidden" name="hdnPageindex" id="hdnPageindex" value="1" />
<div class="content">
    <div class="content_base">
        <!-- Breadcrumb starts-->
        <div class="breadcrumb">
            <ul>
                <li>
                    <a href='@Url.Action("Dashboard", "Admin")'>
                        <img width="16" height="14" class="hires" src="../../Content/images/home-icon.png"
                             alt="Home">
                    </a><span class="after"></span>
                </li>
                <li>
                    <span class="before"></span><a href='@Url.Action("ActiveUser", "Admin")'>Users</a><span class="after"></span>
                </li>
                <li class="active"><a href='@Url.Action("MerchantDetail", "Admin")'>Merchant Detail</a></li>
            </ul>
        </div>
        <br />
        <div id="divSearchtextshow">
            <table>
                <tr>
                    <td>
                        <span> Account Name</span>
                        @Html.TextBox("txtAccountNamesearch", "", new { style = "width:150px", @onkeyup = "GetAcountName(event)", @autocomplete = "on" })
                        @*<input type="text" class="form-control"  autocomplete="on" maxlength="272" onkeyup="GetAcountName(event)"
                                name="Search" id="txtAccountNamesearch">*@
                    </td>
                    <td>
                        <span style="margin-left:10px">From Date</span>
                        <input type="date" class="datepicker plancase txtcompletiondate" id="txtSearchFromDate" onchange="GetminDate()"/>
                        @* @Html.TextBox("txtSearchFromDate", "", new { @placeholder = "Select Date", @class = "datepicker plancase txtcompletiondate", @id = "txtSearchFromDate", @style = "width:150px;margin-left:10px" })*@
                    </td>
                    <td>
                        <span style="margin-left:10px">
                            To date
                        </span>
                        <input type="date" class="datepicker plancase txtcompletiondate" id="txtSearchToDate" />
                        @*@Html.TextBox("txtSearchToDate", "", new { @placeholder = "Select Date", @class = "datepicker plancase txtcompletiondate", @id = "txtSearchToDate", @style = "width:150px;margin-left:10px" })*@
                    </td>
                    <td>
                        <span style="margin-left:10px">
                        </span>
                        <button type="button" class="btn btn-default btn-secondary" id="searchButton" onclick="SearchbyDate()">Search</button>
                    </td>
                </tr>
            </table>
        </div>

        <!-- Breadcrumb ends-->
        <!-- Inner Content Starts -->
        <div class="inner">
            <!-- Social Media Table -->
            <div id="divBlockUsers">
                @Html.Partial("_PartialMerchantDetail", Model)
            </div>
            <div class="clear">
            </div>
        </div>
        <div class="clear">
        </div>
    </div>
</div>

 
<script src="~/Scripts/JS/jquery-1.11.2.min.js"></script>
<link href="~/Content/css/jquery-ui.css" rel="stylesheet" />
<script src="~/Content/EventCalender/lib/jquery-ui.min.js"></script>

<script type="text/javascript">
    function GetminDate() {
        $("#txtSearchToDate").prop("min", $("#txtSearchFromDate").val());
        $("#txtSearchToDate").val('');
    }
    function GetAcountName(e)
    {
        var AccountNamesearch = $("#txtAccountNamesearch").val();
        var Editkeycode;
        if (window.event) Editkeycode = window.event.keyCode;
        else if (e) Editkeycode = e.which;
        if (AccountNamesearch.length > 0) {

            $.ajax({
                type: "POST",
                url: "/Admin/SearchAccountName",
                data: { AccountName: AccountNamesearch },
                success: function (data) {
                    var datasource = eval(data)
                    if (datasource) {
                        $("#txtAccountNamesearch").autocomplete({
                            sortResults: false,
                            scroll: false,
                            minLength: 0,
                            source: datasource,
                            focus: function (event, ui) {
                                var selectedObj = ui.item;
                                event.preventDefault();
                                return true;
                            },
                            select: function (event, ui) {
                                var label = ui.item.label;
                                var value = ui.item.value;
                                document.valueSelectedForAutocomplete = value
                            }
                        });
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $.toaster({ priority: 'danger', title: 'Notice', message: 'failed.' });
                }
            });
        }
    }
    
</script>
 