﻿@model List<BO.ViewModel.Membership_Feathures>
@{
    ViewBag.Title = "MF";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content">
    <div class="content_base">
        <div class="breadcrumb">
            <ul>
                <li>
                    <a href="@Url.Action("Dashboard", "Admin")">
                        <img width="16" height="14" class="hires" src="../../Content/images/home-icon.png"
                             alt="Home">
                    </a><span class="after"></span>
                </li>
                <li>
                    <span class="before"></span><a href="@Url.Action("ActiveUser", "Admin")">Users</a><span class="after"></span>
                </li>
                <li class="active"><a href="@Url.Action("MF", "Admin")">Manage Membership</a></li>
            </ul>
        </div>
        <div id="divSearchtextshow">
        </div>
        <div class="inner">
            <div class="table_data reports_ref_received clearfix">
                <h5>Manage Membership<span class="buttons"></span></h5>
                <div class="heading_panel">
                    <a class="edit" href="/Admin/MembershipFeatures">
                        <img src="~/Images/Add_new_insurance.png" />
                    </a>
                </div>
                <div class="clear"></div>
                <table class="manageCompanyList" cellpadding="0" cellspacing="0" border="0" id="tblComapanyList">
                    <thead>
                        <tr>
                            <th width="20%">
                                <a href="javascript:;" class="sortable">MemberShip Name</a>
                            </th>
                            <th width="30%">
                                Features Name
                            </th>
                            <th width="20%">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody id="tblbodycontent" style="overflow-y:auto;max-height:100px">
                        @*@Html.Partial("_MembershipList", Model)*@
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            <tr>
                                <td>@Model[i].MembershipName</td>
                                <td>@Model[i].FeatureName</td>
                                <td>
                                    <a class="edit_btn showlightbox" href="/Admin/MembershipFeatures?Id=@Model[i].MembershipFeaturesId">
                                    </a>
                                    <a onclick="Delete(@Model[i].MembershipFeaturesId)">
                                        <img src="~/Images/remove.png" style="vertical-align: unset;margin-bottom:3px;" />
                                    </a>
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="clear">
        </div>
        <div id="AddMembership" class="mfp-hide white-popup-block">
        </div>
    </div>
</div>
<script type="text/javascript">
    function Delete(MemberId)
    {
        swal({
            title: "",
            text: "Are you sure you want to remove ?",
            type: "warning",
            showCancelButton: true,
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: false,
            showLoaderOnConfirm: true,
        },
     function (isConfirm) {
         if (isConfirm) {
             $.post("/Admin/DeleteMemberFeature",
                                   { Id: MemberId }, function (data) {
                                       if (data == true) {
                                           swal({
                                               title: "Successfully",
                                               text: "MemberShip details deleted successfully",
                                               timer: 1500,
                                               showConfirmButton: false
                                           });
                                       }
                                       else {
                                           swal({ title: "", text: 'Failed to delete MemberShip details', type: 'error' });
                                       }
                                   });
             $.ajaxSetup({ async: true });
         }
     });
    }
</script>
