﻿@model IEnumerable<BO.Models.LandingHistory>
@using BusinessLogicLayer
@if (Model.Count() > 0)
{
    foreach (var item in Model)
    {
        <tr>
            <td>@item.LandingPageName</td>
            <td>@item.Email</td>
            @{
                string CreationDateTime = new CommonBLL().ConvertToDateTime(Convert.ToDateTime(item.CreatedDate), Convert.ToInt32(BO.Enums.Common.DateFormat.GENERAL));
                <td>@CreationDateTime</td>
            }
            <td><a href="javascript:;" onclick="SendWelcomeSupportEmail('@item.Email')" class="btn-LandingEmail">Support email</a></td>
        </tr>
    }

}
else
{
    <tr><td colspan="4"><center>No more record found</center></td></tr>
    @*<center>No more record found</center>*@
}
