﻿@model IEnumerable<BO.Models.Procedure>

@{
    ViewBag.Title = "ProcedureList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="content">
    <div class="content_base">
        <div class="inner">
            <div class="table_data reports_ref_received clearfix">
                <h5>Manage Procedure<span class="buttons"></span></h5>
                <div class="heading_panel">
                    <a class="edit popup-with-form showlightbox" href="#addProcedure" onclick="AddProcedure()">
                        <img src="~/Images/Add_new_membership.png" />
                    </a>
                </div>
                <div class="clear"></div>
                <table class="manageCompanyList" cellpadding="0" cellspacing="0" border="0" id="tblComapanyList">
                    <thead>
                        <tr>
                            <th>
                                Procedure Name
                            </th>
                            <th>
                                Cost Percentage
                            </th>
                            <th>
                                Standard Fees
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProcedureName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CostPercentage)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StandardFees)
                                </td>
                                <td>
                                    <a href="#addProcedure" class="edit popup-with-form showlightbox" onclick="EditProcedure(@item.ProcedureId)">Edit</a>|
                                    <a href="javascript:;" onclick="DeleteProcedure(@item.ProcedureId)">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div id="addProcedure" class="mfp-hide white-popup-block">
</div>
<script type="text/javascript">
    $(document).ready(function () {
        LoadScript();
    })
    function AddProcedure() {
        $.ajaxSetup({ async: false });
        $.post("/Admin/AddProcedure",
            function (data) {
                document.getElementById("addProcedure").innerHTML = data.toString();
                LoadScript();
            });
        $.ajaxSetup({ async: true });
    }
    function EditProcedure(id) {
        $.ajaxSetup({ async: false });
        $.post("/Admin/AddProcedure", { ProcedureId:id},
            function (data) {
                document.getElementById("addProcedure").innerHTML = data.toString();
                LoadScript();
            });
        $.ajaxSetup({ async: true });
    }
    function LoadScript() {
        $(".clsnumericOnly").bind("keypress", function (e) {
            var arr = [0, 8, 9, 16, 17, 20, 35, 36, 37, 38, 39, 40, 45, 46];
            // Allow numbers
            for (var i = 48; i <= 57; i++) {
                arr.push(i);
            }

            // Prevent default if not in array
            if (jQuery.inArray(e.which, arr) === -1) {
                e.preventDefault();
                return false;
            }
        });

        $(".clsalphabetsOnly").on("keydown", function (event) {

            // Allow controls such as backspace
            var arr = [8, 9, 16, 17, 20, 35, 36, 37, 38, 39, 40, 45, 46, 32];
            // Allow letters
            for (var i = 65; i <= 90; i++) {
                arr.push(i);
            }
            // Prevent default if not in array
            if (jQuery.inArray(event.which, arr) === -1) {
                event.preventDefault();
            }
        });

        $(".numericOnly").bind("keypress", function (e) {
            var arr = [0, 8, 9, 16, 17, 20, 35, 36, 37, 38, 39, 40, 45, 46];
            // Allow letters
            for (var i = 48; i <= 57; i++) {
                arr.push(i);
            }

            // Prevent default if not in array
            if (jQuery.inArray(e.which, arr) === -1) {
                e.preventDefault();
                return false;
            }
        });
        $(".numericOnly").bind("paste", function (e) {
            return false;
        });
        $(".numericOnly").bind("drop", function (e) {
            return false;
        });

        $(".alphaonly").on("keydown", function (event) {
            // Allow controls such as backspace
            var arr = [8, 9, 16, 17, 20, 35, 36, 37, 38, 39, 40, 45, 46, 32];

            // Allow letters
            for (var i = 65; i <= 90; i++) {
                arr.push(i);
            }

            // Prevent default if not in array
            if (jQuery.inArray(event.which, arr) === -1) {
                event.preventDefault();
            }

        });
    }
    function DeleteProcedure(id) {
        $.ajaxSetup({ async: false });
        swal({
            title: "",
            text: "Are you sure you want to remove?",
            type: "warning",
            showCancelButton: true,
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: false,
            showLoaderOnConfirm: true,
        },
            function (isConfirm) {
                if (isConfirm) {
                    $.post("/Admin/DeleteProcedure", { ProcedureId: id }, function (data) {
                        if (data) {
                            swal({
                                title: "Success",
                                text: "Procedure deleted successfully.",
                                timer: 1500,
                                showConfirmButton: false
                            });
                            setTimeout(function () {
                                window.location.reload();
                            }, 2000);
                        }
                    });
                }
            });
        $.ajaxSetup({ async: true });
    }
    function check() {
        $("#spnProcedure").css('display', 'none');
    }
    function InsertProcedure() {
        var ProcedureName = $.trim($("#ProcedureName").val());
        if (ProcedureName == "") {
            $("#spnProcedure").css('display', 'block');
            return false;
        }
        var Obj = {};
        Obj = {
            'ProcedureId':$("#ProcedureId").val(),
            'ProcedureName':$("#ProcedureName").val(),
            'CostPercentage':$("#CostPercentage").val(),
            'StandardFees':$("#StandardFees").val()
        }
        $.ajax({
            type: "POST",
            url: "/Admin/InsertProcedure",
            data: JSON.stringify(Obj),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            async : false,
        }).done(function(data){
            if (data == "Insert") {
                swal({
                    title: "Success",
                    text: "Procedure Inserted successfully.",
                    timer: 3000,
                    showConfirmButton: false
                });
                setTimeout(function () {
                    window.location.reload();
                }, 5000);
            }
            else if(data == "Procedure") {
                swal({
                    title: "",
                    text: "Procedure Name already exsit.",
                    timer: 3000,
                    showConfirmButton: false
                });
            }
            else if(data == "Update"){
                swal({
                    title: "",
                    text: "Procedure Updated successfully.",
                    timer: 3000,
                    showConfirmButton: false
                });
                setTimeout(function () {
                    window.location.reload();
                }, 5000);
            }
        }).fail(function(jqXHR, textStatus, errorThrown){
            console.log(textStatus + ': ' + errorThrown);
        });
    }
</script>
