﻿@model Tuple<List<BO.Models.MerchantOwner>, List<BO.Models.MerchantOwner>>
@{
    ViewBag.Title = "Merchant Detail | Recordlinc";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/Content/Final/css/main.css" rel="stylesheet" />
@*@Scripts.Render("~/CommonJS")*@
<style>
    .tdClass {
        font-weight: 900;
        border-bottom-width: 2px;
        border-bottom-style: inset;
        /*border-left-width: 2px;
        border-left-style: inset;
        border-right-width: 2px;
        border-right-style: inset;*/
    }
</style>
<script type="text/javascript">

    //var bindScrollHandler = function () {
    //    $(window).scroll(function () {
    //        if ($(window).scrollTop() + $(window).height() > $(document).height() - 150) {
    //            $(window).unbind("scroll");
    //            var Data = GetAllBlockUsersContent().toString();
    //            $(Data).appendTo("#tblbodycontent");
    //            bindScrollHandler();
    //        }
    //    });
    //}

    @*$(document).ready(function () {
        bindScrollHandler();
        $('#txtsearch').keyup(function (e) {
            if (e.keyCode == 13) {
                var message = document.getElementById("txtsearch").value
                GetAllBlockUsers(1, 2, 2, message)

                if (message != null && message != "") {
                    $("#divClearSearch").css("display", "block");
                    $("#divClearSearch").html("<br/><a href='@Url.Action("BlockUsers", "Admin")' style=\"text-decoration:none;\" title=\"Clear Search\" > &nbsp;Clear Search</a>");
                }
                else {
                    document.getElementById('divSearchtextshow').innerHTML = '';
                }
            }
        });
    });*@

    function SortColumn(ColId) {
        
        var PageIndex = $('#PageIndex').val();
        var PageSize = $('#PageSize').val();
        var SortColumn = $("#" + ColId).attr('sort-col');
        $("#Sort_Column").val(SortColumn);
        var SortDirection = $("#" + ColId).attr('sort-dir');
        if (SortDirection == 1) {
            $("#" + ColId).attr('sort-dir', 2);
        } else {
            $("#" + ColId).attr('sort-dir', 1);
        }
        var DoctorId = $('#DoctorId').val();
        var obj = {};
        obj = {
            'PageIndex': PageIndex,
            'SortDirection': SortDirection,
            'SortColumn': SortColumn,
            'PageSize': PageSize,
            'UserId': DoctorId
        }
        $.ajax({
            url: "/Admin/GetFilteredMerchantDetail", type: "post", data: { FilterObj: obj }, async: true, success: function (data) {
                if (data == null || data == "") {
                    $('#PageIndex').val('-1');
                } else {
                    $('#tblbodycontent').html(data);
                }
            }
        });
    }

    //Function For Scroll
    function GetPaymentHistoryOnScroll() {

        var datalist = '';

        var SortColumn = $("#Sort_Column").val();
        var SortDirection = $("#tblbodycontent").data("sortirection");//Defualt sort column on Scrolling
        $.ajaxSetup({ async: false });
        if (SortDirection == 1) {
            SortDirection = 2;
        } else {
            SortDirection = 1;
        }

        var pageindex = $('#PageIndex').val();
        var PageSize = $('#PageSize').val();
        var AccountId = $('#AccountId').val();
        if (pageindex == '-1') {
            return "";
        }
        else {
            pageindex = parseInt(pageindex) + parseInt(1);
            obj = {
                'PageIndex': pageindex,
                'SortDirection': SortDirection,
                'SortColumn': SortColumn,
                'PageSize': PageSize,
                'AccountId': AccountId
            }

            $.ajax({
                url: "/Admin/GetFilteredMerchantDetail",
                type: "POST",
                data: { FilterObj: obj },
                success: function (data) {
                    if (data == '' || data.trim() == '<tr><td colspan="8"><center>No more record found</center></td></tr>') {
                        $('#PageIndex').val('-1');
                    } else {
                        $('#PageIndex').val(pageindex);
                    }
                    datalist = data;
                }
            });
        }
        $.ajaxSetup({ async: true });
        return datalist;
    }

    function bindScrollHandler() {
        
        $(window).scroll(function () {
            if ($(document).height() - $(window).height() == $(window).scrollTop()) {
                var data = GetReferralHistoryOnScroll().toString();
                if ($('#nomore').text() != 'No more record found') {
                    $('#AppendList').append(data);
                }
                else {
                    $('#PageIndex').val('-1');
                }
            }
        });
    }


</script>
<input type="hidden" name="hdnPageindex" id="hdnPageindex" value="1" />
<input type="hidden" id="PageIndex" value="1" />
<input type="hidden" id="PageSize" value="35" />
<div class="content">
    <div class="content_base">
        <!-- Breadcrumb starts-->
        <div class="breadcrumb">
            <ul>
                <li>
                    <a href='@Url.Action("Dashboard", "Admin")'>
                        <img width="16" height="14" class="hires" src="../../Content/images/home-icon.png"
                             alt="Home">
                    </a><span class="after"></span>
                </li>
                <li>
                    <span class="before"></span><a href='@Url.Action("ActiveUser", "Admin")'>Users</a><span class="after"></span>
                </li>
                <li>
                    <span class="before"></span><a href='@Url.Action("MerchantDetail", "Admin")'>Merchant Detail</a><span class="after"></span>
                </li>
                <li class="active"><a href='@Url.Action("RegisterMerchantDetail", "Admin")'>Register Account Detail</a></li>
            </ul>
        </div>
        <div id="divSearchtextshow">
        </div>
        <!-- Breadcrumb ends-->
        <!-- Inner Content Starts -->
        <div class="inner">

            <!-- Social Media Table -->
            <div id="divBlockUsers">
                <div class="table_data reports_ref_received clearfix">
                    <table class="signupTable" cellpadding="0" cellspacing="0" border="0" id="tblMerchant" data-sortcolumn="">
                        <thead>
                            <tr>
                                <th>
                                    Merchant Name
                                </th>
                                <th>
                                    Merchant Code
                                </th>
                                <th>
                                    Actual Amount
                                </th>
                                <th>
                                    Received Amount
                                </th>
                                <th>
                                    Split Amount
                                </th>
                                <th>
                                </th>
                            </tr>
                        </thead>
                        <tbody id="tblbodymerchent">
                            @foreach (var item in Model.Item2)
                            {
                                <input type="hidden" value="@item.AccountId" id="AccountId" />
                                <input type="hidden" value="@item.DoctorId" id="DoctorId" />
                                <tr id="row">
                                    <td>
                                        <h5>
                                            @item.AccountName
                                        </h5>
                                    </td>
                                    <td>
                                        @item.ZPAccountId
                                    </td>
                                    <td>
                                        @item.ActualAmount
                                    </td>
                                    <td>
                                        @item.ReceivedAmount
                                    </td>
                                    <td>
                                        @item.split_Amount
                                    </td>

                                    <td>
                                        <a class="add_btn add_button" id="hideshowbtn" href="javascript:;">+ View More</a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
                <input type="hidden" value="1" id="Sort_Column" />
            </div>
            <div id="hideshow" style="display:none;">
                <table class="signupTable" cellpadding="0" cellspacing="0" border="0" id="tblDetail" data-sortcolumn="">
                    <thead>
                        <tr>
                            <th>
                                <a href="javascript:;" id="AppColumn1" onclick="SortColumn('AppColumn1')" sort-col="1" sort-dir="1">
                                    Patient Name
                                </a>
                            </th>
                            <th>
                                <a href="javascript:;" id="AppColumn7" onclick="SortColumn('AppColumn7')" sort-col="7" sort-dir="1">
                                    PaymentDate
                                </a>
                            </th>

                            <th style="text-align:right;">
                                <a href="javascript:;" id="AppColumn9" onclick="SortColumn('AppColumn9')" sort-col="9" sort-dir="1">
                                    Status
                                </a>
</th>
                            <th style="text-align:right;">
                                <a href="javascript:;" id="AppColumn5" onclick="SortColumn('AppColumn5')" sort-col="5" sort-dir="1">
                                    Actual Amount
                                </a>
                            </th>
                            <th style="text-align:right;">
                                <a href="javascript:;" id="AppColumn6" onclick="SortColumn('AppColumn6')" sort-col="6" sort-dir="1">
                                    Received Amount
                                </a>
                            </th>
                            <th style="text-align:right;">
                                <a href="javascript:;" id="AppColumn8" onclick="SortColumn('AppColumn8')" sort-col="8" sort-dir="1">
                                    Split Amount
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="tblbodycontent" data-sortcolumn="1" data-sortirection="1">
                        @Html.Partial("_PartialMerchantPaymentDetailItems")
                    </tbody>
                </table>
            </div>

            <div class="clear">
            </div>
        </div>
        <div class="clear">
        </div>
    </div>
</div>
<script type="text/javascript">
    $("#hideshowbtn").on('click', function () {
        $("#hideshow").slideToggle("slow");

        if ($("#hideshowbtn").text() == "+ View More") {
            $("#hideshowbtn").text("- Hide Data");
        } else {
            $("#hideshowbtn").text("+ View More");
        }
    });
</script>
