﻿@model List<BO.ViewModel.ColleagueData>
@{
    ViewBag.Title = "Admin - Doctor Rewards | RecordLinc";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/css/select2.min.css" />
<script type="text/javascript" src="~/Scripts/select2.min.js"></script>
<script src="~/Scripts/common.js"></script>
<style>
    .select2-container--default .select2-results__option[aria-disabled=true] {
        display: none !important;
    }

    .select2-results__option[aria-selected=true] {
        display: none !important;
    }
    .newdev {
        width: 80%;
    }

    .dev1 {
        width: 15%;
        float: left;
    }

    .dev3 {
        width: 50%;
        float: left;
    }

    .dev2 {
        width: 50%;
        float: right;
    }

    .save_btn1 {
        width: 97px;
        height: 40px;
    }

    .cheq {
        padding-top: 61px;
    }

    .col-md-3 {
        width: 20%;
    }
</style>
<div class="content">
    <div class="content_base">
        <div class="breadcrumb">
            <ul>
                <li>
                    <a href="@Url.Action("Dashboard", "Admin")">
                        <img width="16" height="14" class="hires" src="../../Content/images/home-icon.png"
                             alt="Home">
                    </a><span class="after"></span>
                </li>
                <li class="active">Doctor Rewards</li>
            </ul>
        </div>
        <div id="divSearchtextshow">
        </div>
        <div class="inner">
            <form id="frm">
                <div class="form-horizontal">
                    <h4>Doctor Reward Settings</h4>
                    <hr />
                    <table style="width:100%;">
                        <tr>
                            <td>
                                <div class="newdev">
                                    <div class="form-group dev1">
                                        <div class="col-md-10" style="padding:9px 0px 0px 0px;">
                                            <input type="hidden" name="DoctorId" value="" id="DoctorId" />                                            
                                        </div>
                                        <b style="font-size:large;">Select Dentist:</b>
                                    </div>
                                    <div class="form-group dev3">                                       
                                        <select style="width:100%;" id="UserList" onchange="removeOthers(this)">                                            
                                            <option value=""></option>
                                            @foreach (var item in Model)
                                            {
                                                <option value="@item.id">@item.text</option>
                                            }
                                        </select>
                                    </div>                                    
                                </div>                          
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div id="PartialReward" hidden>
                                </div>                                
                            </td>
                        </tr>                        
                    </table>
                </div>
            </form>

            <div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-ui-1.8.11.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        select2Dropdown('UserList', 'Search Dentist', 'Admin', 'GetDoctorList', false);
    });

    function removeOthers(that) {
        $('option', that).not(':eq(0), :selected').remove();
        //now refresh your select2
    }

    function select2Dropdown(Select2ID, ph, Controller, listAction, isMultiple) {        
        var sid = '#' + Select2ID;
        $(sid).select2({            
            placeholder: ph,
            minimumInputLength: 1,
            multiple: isMultiple,
            ajax: {
                url: "/" + Controller + "/" + listAction,
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        q: params.term,
                        page: params.page
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    return {
                        results: data,
                        pagination: {
                            more: (params.page * 30) < data.total_count
                        }
                    };
                },
                error: function (response, status, xhr) {
                    if (response.status == 403) {
                        SessionExpire(response.responseText)
                    }
                }
            }
        })
    }

    $("#UserList").on('change', function () {
        $("#PartialReward").show();
        var selectedDentist = $('#UserList').val();
        $("#DoctorId").val(selectedDentist);
        performAjax({
            url: "/Admin/GetRewardsForAdmin",
            type: "post",
            data: { DentistId: selectedDentist },
            async: true,
            success: function (data) {
                if (data != null && data != "") {
                    $("#PartialReward").html('');
                    $("#PartialReward").append(data);
                }
                else {
                    $("#PartialReward").html("No record found!");
                }
            }
        });
    });

    $(".ddlCodeList").select2({
        minimumInputLength: 1,
        multiple: false
    });
    function SaveRewardList() {
        var v = '';
        var RewardList = [];
        var breakOut = true;
        $('.reward-row').each(function () {
            var id = $(this).data('step');
            v = $(this).find("#item_OptionId").val();
            if (v == '' || v == undefined) {
                $('#noreward').css('display', 'block');
                $('#noreward').text('Please select the Reward code of step ' + id + '');
                setTimeout(function () {
                    $('#noreward').css('display', 'none');
                }, 5000);
                breakOut = false;
                return false;
            }
            var reward = {};
            reward = {
                'OptionId': $(this).find("#item_OptionId").val(),
                'StartRange': $(this).find("#item_StartRange").val(),
                'EndRange': $(this).find("#item_EndRange").val(),
                'RewardMasterId': $(this).find("#item_RewardMasterId").val(),
                'SettingId': $(this).data('settingid')
            }
            RewardList.push(reward);
        });
        if (breakOut) {
            $.ajax({
                type: 'post',
                url: '/Admin/UpdateRewardList',
                data: JSON.stringify(RewardList),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data == true) {
                        $(window).scrollTop(0);
                        swal({ title: "", text: 'Rewards updated successfully.', type: 'success' });
                    }
                    else {
                        $(window).scrollTop(0);
                        swal({ title: "", text: 'Failed to update Rewards.', type: 'error' });
                    }
                }
            })
        }
    }

</script>

