﻿@{
    ViewBag.Title = "Admin - Landing Report";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .btn-LandingEmail {
        background-color: #0990c5;
        border-radius: 1px;
        color: #ffffff;
        display: table;
        line-height: 30px;
        text-align: center !important;
        font-size: 14px;
        text-decoration: none;
        width: 100px !important;
        -webkit-text-size-adjust: none;
        font-family: arial;
    }
</style>
<div class="content">
    <div class="content_base">
        <!-- Breadcrumb starts-->
        <div class="breadcrumb">
            <ul>
                <li>
                    <a href='@Url.Action("Dashboard", "Admin")'>
                        <img width="16" height="14" class="hires" src="../../Content/images/home-icon.png"
                             alt="Home">
                    </a><span class="after"></span>
                </li>
                <li class="active"><a href='@Url.Action("ShowReportToAdmin", "Admin")'>Landing Report</a></li>
            </ul>
        </div>
        <div id="divSearchtextshow">
        </div>
        <!-- Breadcrumb ends-->
        <!-- Inner Content Starts -->
        <div class="inner">
            <!-- Social Media Table -->
            <div class="table_data reports_ref_received clearfix">
                <div class="clear">
                </div>
                <table class="responsiveTable" border="0" cellpadding="0" cellspacing="0" id="tblLoggedInfo" data-sortcolumn="3" data-sortirection="2">
                    <thead>
                        <tr>
                            <th><a class="sortable" href="javascript:;" onclick="ShortingOnLandingPage('2')">Landing Page</a></th>
                            <th><a href="javascript:;" class="sortable" onclick="ShortingOnLandingPage('1')">Email</a></th>
                            <th><a href="javascript:;" class="sortable" onclick="ShortingOnLandingPage('3')">Date</a></th>
                            <th><span style="text-decoration:underline;">Action</span></th>
                        </tr>
                    </thead>
                    <tbody id="lsittbody">
                        @Html.Action("ShowLandingReport", new { PageIndex = 1, PageSize = 10, SortColumn = 1, SortDirection = 1, SearchText = string.Empty })
                    </tbody>
                </table>
            </div>
            <div class="clear">
            </div>
        </div>
        <div class="clear">
        </div>
    </div>
</div>
<input type="hidden" name="PageSize" value="10" id="PageSize" />
<input type="hidden" name="PageIndex" value="1" id="PageIndex" />
<input type="hidden" name="SortDirection" value="2" id="SortDirection" />
<input type="hidden" name="sortcolumn" value="1" id="sortcolumn" />
<script type="text/javascript">
    function SendWelcomeSupportEmail(emailAddress) {
        
        $.post("/Admin/SendSupportWelcomeEmail", { emailaddress: emailAddress }, function (data) {
            if (data != null && data != "") {                
                swal({ title: "", text: 'Support mail has been sent successfully - Thank you.' });
            }
            else {
                swal({ title: "", text: 'Failed to send an email. Please try again.' });
            }
        });
    }

    //$(document).ready(function () {
    //    $("#lsittbody").bind('scroll', function (event) {
    //        if ($(this).scrollTop() + $(this).innerHeight() >= $(this)[0].scrollHeight) {
    //            var data = ShortingOnLandingPage(1).toString();
    //            $(this).append(data);
    //        }
    //    });
    //});
    
    $(window).scroll(function () {        
        if ($(document).height() - $(window).height() == $(window).scrollTop()) {            
            var SearchText = $("#txtsearch").val();
            if (SearchText == "Search") {
                SearchText = "";
            }
            var PageIndex = $("#PageIndex").val();
            if (PageIndex == "-1") {
                return "";
            } else {
                PageIndex = parseInt(PageIndex) + parseInt("1");
                $("#PageIndex").val(PageIndex);
            }
            var PageSize = $("#PageSize").val();
            var SortDirection = $("#SortDirection").val();
            var sortcolumn = $("#sortcolumn").val();            
            $.post("/Admin/ShowLandingReport", { PageIndex: PageIndex, PageSize: PageSize, SortColumn: sortcolumn, SortDirection: SortDirection, SearchText: SearchText }, function (data) {
                if (data) {
                    
                    if (data.includes("No more")) {
                        $("#PageIndex").val("-1");
                        $("#lsittbody").append(data);
                    }
                    else {
                        $("#lsittbody").append(data);
                    }
                }
            })
        }
        else {
        }
    });

    
    function ShortingOnLandingPage(sortcolumn) {
        var SearchText = $("#txtsearch").val();
        if (SearchText == "Search")
        {
            SearchText = "";
        }
        var PageIndex = $("#PageIndex").val();
        var PageSize = $("#PageSize").val();
        var SortDirection = $("#SortDirection").val();
        $.post("/Admin/ShowLandingReport", { PageIndex: PageIndex, PageSize: PageSize, SortColumn: sortcolumn, SortDirection: SortDirection, SearchText: SearchText }, function (data) {
            if (data) {
                $("#lsittbody").html(data);

                if (SortDirection == "1") {
                    $("#SortDirection").val(2);
                }
                else {
                    $("#SortDirection").val(1)
                }
            }
        });
    }
    $('#txtsearch').keyup(function (e) {
            if (e.keyCode == 13) {
                var message = document.getElementById("txtsearch").value
                var SearchText = $("#txtsearch").val();
                var PageIndex = $("#PageIndex").val();
                var PageSize = $("#PageSize").val();
                var SortDirection = $("#SortDirection").val();
                $.post("/Admin/ShowLandingReport", { PageIndex: PageIndex, PageSize: PageSize, SortColumn: 1, SortDirection: SortDirection, SearchText: SearchText }, function (data) {
                    if (data) {
                        $("#lsittbody").html(data);
                        if (SortDirection == "1") {
                            $("#SortDirection").val(2);
                        }
                        else {
                            $("#SortDirection").val(1)
                        }
                    }
                });
                if (message != null && message != "") {
                    $("#divClearSearch").css("display", "block");
                    $("#divClearSearch").html("<br/><a href='@Url.Action("ShowReportToAdmin", "Admin")' style=\"text-decoration:none;\" title=\"Clear Search\" > &nbsp;Clear Search</a>");
                }
                else {
                    document.getElementById('divSearchtextshow').innerHTML = '';
                }
            }
        });
</script>

