﻿@model NewRecordlinc.Models.Common.PyamentDetails
@{
    ViewBag.Title = "Admin - Upgrade Account | Recordlinc";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="../../Content/css/pricing.css" rel="stylesheet" type="text/css" />
<link href="~/Content/css/new.css" rel="stylesheet" />
<style type="text/css">
    input[type="password"], textarea {
        color: #666666;
        padding: 10px;
        resize: none;
    }

    .tabbed_form_content {
        border-top: 1px solid #cbcaca;
        float: left;
        list-style: outside none none;
        margin: 15px 0 0;
        width: 48%;
    }
    .price_block ul li img {
        padding-top: 18px !important;
    }
    .price_block {
        border-width: 1px 1px 0 !important;
    }

    .scrollDivMain .mainDivBoxes .price_block {
        width: 100% !important;
    }

    .scrollDivMain {
        border-right: 1px solid #dedfdf;
    }

    .mainDivBoxes {
        width: 100% !important;
    }

    .features_block {
        width: 50% !important;
    }
</style>
<style>
    @@media only screen and (min-width:870px) and (max-width: 1200px) {
        .newcontent {
        }
    }
</style>
<link href="../../Content/css/tabs.css" rel="stylesheet" type="text/css" />
<script type='text/javascript' src='../../Content/js/tabs.js'></script>
<div class="content">
    <div class="content_base">
        <!-- Breadcrumb starts-->
        <div class="breadcrumb">
            <ul>
                <li>
                    <a href='@Url.Action("Index", "Index")'>
                        <img width="16" height="14" class="hires" src="../../Content/images/home-icon.png"
                             alt="Home">
                    </a><span class="after"></span>
                </li>
                <li>
                    <span class="before"></span><a href='@Url.Action("Index", "Profile")'>Profile</a><span class="after"></span>
                </li>
                <li class="active">
                    <span class="before"></span>
                        Upgrade Account
                    <span class="after"></span>
                </li>
            </ul>
        </div>
        <!-- Breadcrumb ends-->
        <!-- Inner Content Starts -->
        <h3 class="heading">
            Upgrade account:- @Model.Firstname @Model.Lastname (Current Plan - @ViewBag.CurrentPlan)
        </h3>
        @if (TempData["TransactionId"] != null)
        {
            <div id="SeccessMessage" class="heading" style="text-align: center; color: green;
                display: ; margin-top: 22px; font-size: 18px;">
                Thank you for payment, your transaction number is <span>@TempData["TransactionId"]</span>
                <br>
                @Model.Firstname @Model.Lastname account has been upgraded successfully.
                @if (TempData["strRecurring"] != null)
                {
                    <br />
                    <b>Recurring is done successfully.</b>
                }
            </div>
        }
        <div class="inner">
            <div class="tabbed_form">
                <div class="tab_content_parent">
                    <form action="/admin/MakePayment" method="post" id="register-form">
                        <div id="patient_info" class="tab_contents">
                            <ul style="border-top: none;" class="tabbed_form_content">
                                <li>
                                    @Html.HiddenFor(m=>m.Userid)
                                    <label>
                                        User Plan
                                    </label>
                                    <div class="grey_frmbg" style="background: rgba(0, 0, 0, 0) none;">
                                        @*@Html.DropDownListFor(m => m.Planes, new List<SelectListItem> { new SelectListItem { Text = "PRO - $47", Value = "1" }, new SelectListItem { Text = "12 months $42/mo", Value = "2" }, new SelectListItem { Text = "24 months $37/mo", Value = "3" }, new SelectListItem { Text = "36 months $33/mo", Value = "4" }, new SelectListItem { Text = "Includes 5 colleagues $235/mo", Value = "5" }, new SelectListItem { Text = "Includes 10 colleagues $423/mo", Value = "6" }, new SelectListItem { Text = "Includes 20 colleagues $752/mo", Value = "7" } }, new { @name = "crdtype", @title = "Card Type" })*@
                                        <label for="desamt" style="padding-top:9px;">@ViewBag.PlanDescription</label>
                                    </div>
                                </li>
                                <li>
                                    <label>
                                        Membership Type
                                    </label>
                                    <label>
                                        <span style="color: Red;">*</span>
                                    </label>
                                    <div class="grey_frmbg">
                                        <select id="LstMembership" name="ddlServiceId" title="Membership Type">
                                            <option value="">Select Membership Plan</option>
                                            @foreach (var item in Model.ListOfMembership)
                                            {
                                                <option value="@item.Membership_Id" data-val="@item.MonthlyPrice">@item.Title</option>
                                            }
                                        </select>
                                        @Html.HiddenFor(m => m.Planes)
                                        @Html.HiddenFor(m => m.Email)
                                        @Html.HiddenFor(m => m.Firstname)
                                        @Html.HiddenFor(m => m.Lastname)
                                        @Html.HiddenFor(m => m.Phone)
                                        @Html.HiddenFor(m => m.City)
                                        @Html.HiddenFor(m => m.State)
                                        @Html.HiddenFor(m => m.Zip)
                                    </div>
                                </li>
                                <li>
                                    <label>
                                        Total Charge
                                    </label>
                                    <label>
                                        <span style="color: Red;">*</span>
                                    </label>
                                    <div class="grey_frmbg">
                                        @Html.TextBoxFor(m => m.Amount, new { @readonly = "readonly", @class = "textfield", @title="Total Charge" })
                                    </div>
                                </li>
                                <li>
                                    <label>
                                        Payment Interval
                                    </label><label>
                                        <span style="color: Red;">*</span>
                                    </label>
                                    <div class="grey_frmbg">                                        
                                        @Html.DropDownListFor(m => m.payInterval, new List<SelectListItem> { new SelectListItem { Text = "Select Interval", Value = "0" }, new SelectListItem { Text = "Monthly", Value = "1" }, new SelectListItem { Text = "Quarterly", Value = "3" }, new SelectListItem { Text = "Half Yearly", Value = "6" }, new SelectListItem { Text = "Annually", Value = "12" }}, new { @name = "payInterval", @id="payInterval", @title = "Payment Interval" })
                                    </div>
                                </li>
                                <li>
                                    <label>
                                        Card Type
                                    </label>                                    
                                    <div class="grey_frmbg">
                                        @Html.DropDownListFor(m => m.CardType, new List<SelectListItem> { new SelectListItem { Text = "Select Card Type", Value = "0" }, new SelectListItem { Text = "Visa", Value = "V" }, new SelectListItem { Text = "American Express", Value = "A" }, new SelectListItem { Text = "Diners Club", Value = "C" }, new SelectListItem { Text = "Discover", Value = "D" }, new SelectListItem { Text = "JCB", Value = "J" }, new SelectListItem { Text = "Mastercard", Value = "M" } }, new { @name = "crdtype", @id="paytype", @title = "Card Type" })
                                    </div>
                                </li>
                                <li>
                                    <label>
                                        Card Number
                                    </label><label>
                                        <span style="color: Red;">*</span>
                                    </label>
                                    <div class="grey_frmbg">
                                        @Html.TextBoxFor(m => m.CardNumber, new { @title = "Card number", @id = "cardnumber", })
                                    </div>
                                </li>
                                <li>
                                    <label>
                                        Exp-Date
                                    </label><label>
                                        <span style="color: Red;">*</span>
                                    </label>
                                    <div class="grey_frmbg">
                                        @Html.TextBoxFor(m => m.expdate, new { @title = "Exp. Date", @id = "expdate", @placeholder = "MM/YYYY" })
                                    </div>
                                </li>
                                <li>
                                    <label>
                                        CVV
                                    </label>
                                    <label>
                                        <span style="color: Red;">*</span>
                                    </label>
                                    <div class="grey_frmbg">
                                        @Html.TextBoxFor(m => m.Cvv, new { @title = "CVV", @id = "cvv" })
                                    </div>
                                </li>
                                <input type="submit" class="frm_smt_btn" onclick="return checkValidation()">
                            </ul>                            
                            <ul class="tabbed_form_content" style="float:right;border-top:none;margin-top:-25px;">
                                <div class="content">
                                    <div class="clear"></div>
                                    <div class="price_tables">
                                        <div class="container">
                                            <div id="showAd"></div>
                                            @*<div class="price_block paid general checking" id="id150">
                                                <div style="border-left: 1px solid #c1c2c2;">
                                                    <div class="redFlagMessage"><img src="/Images/10per_off_flag.png" alt=""></div>
                                                    <label style="text-align: center;">
                                                        Dentist
                                                        Package
                                                    </label>
                                                    <div class="price_info paid">
                                                        <span><sup>$</sup>150<sub>Mo</sub></span>
                                                        <p>Ideal for General Dentists with full functionality</p>
                                                    </div>

                                                    <div class="plans">
                                                        &nbsp;
                                                    </div>
                                                </div>
                                            </div>*@
                                            @*<div class="price_block paid special checking" id="id350" style="display:none;">
                                                <div class="redFlagMessage"></div>
                                                <label style="text-align: center;">
                                                    Specialists
                                                    Package
                                                </label>
                                                <div class="price_info">
                                                    <span><sup>$</sup>350<sub>Mo</sub></span>
                                                    <p>
                                                        For Dental Specialists
                                                        &amp; Labs
                                                    </p>
                                                </div>

                                                <div class="plans">
                                                    &nbsp;
                                                </div>
                                            </div>*@
                                            @*<div class="features_block">
                                                <ul>
                                                    <li>
                                                        <a href="http://smartrefer.com/" target="_blank">Colleagues</a>
                                                    </li>
                                                    <li>
                                                        <span>View Attachments</span>
                                                    </li>
                                                    <li>
                                                        <span>Update Profile</span>
                                                    </li>
                                                    <li>
                                                        <span>Data Archiving</span>
                                                    </li>
                                                    <li>
                                                        <span>Secure Messaging</span>
                                                    </li>
                                                    <li>
                                                        <span>Attachments</span>
                                                    </li>
                                                    <li>
                                                        <a href="http://ihealthforms.com/" target="_blank">Health Forms</a>
                                                    </li>
                                                    <li>
                                                        <span>Customer Support</span>
                                                    </li>
                                                    <li>
                                                        <span>Activities Dashboard</span>
                                                    </li>
                                                    <li>
                                                        <a href="http://mydentalfiles.com/" target="_blank">Patient Forms</a>
                                                    </li>
                                                    <li>
                                                        <span>New Patient Leads</span>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="scrollDivMain">
                                                <div class="mainDivBoxes">

                                                    <div class="price_block paid general" id="150">

                                                        <ul>
                                                            <li>10</li>
                                                            <li>Unlimited</li>
                                                            <li>Unlimited</li>
                                                            <li>Unlimited</li>
                                                            <li>Unlimited</li>
                                                            <li>Unlimited</li>
                                                            <li>Unlimited</li>
                                                            <li>Unlimited</li>
                                                            <li>Unlimited</li>
                                                            <li>Unlimited</li>
                                                            <li>Unlimited</li>
                                                        </ul>
                                                    </div>
                                                    <div class="price_block paid special" style="display:none;" id="350">

                                                        <ul>
                                                            <li>Unlimited</li>
                                                            <li>Unlimited</li>
                                                            <li>Unlimited</li>
                                                            <li>Unlimited</li>
                                                            <li>Unlimited</li>
                                                            <li>Unlimited</li>
                                                            <li>Unlimited</li>
                                                            <li>Unlimited</li>
                                                            <li>Unlimited</li>
                                                            <li>Unlimited</li>
                                                            <li>Unlimited</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>*@
                                        </div>
                                    </div>
                                </div>
                            </ul>
                        </div>
                    </form>
                </div>
                @*<label style="font-size:16px; margin-left:20px;">
                    Benefits of upgrading from FREE to PAID version:
                    <br />
                    <br />
                    <br />
                </label>
                <label style="color: rgb(6,145,197); padding-bottom: 14px; font-style: italic; margin-left: 20px; ">
                    -Send and receive unlimited referrals
                </label>
                <label style="padding-top: 2px; padding-bottom: 14px; color: rgb(6,145,197); font-style: italic; margin-left: 20px; ">
                    -Integrate with practice management system
                </label>
                <label style="padding-top: 2px; padding-bottom: 14px; color: rgb(6,145,197); font-style: italic; margin-left: 20px; ">
                    -Grow your network by adding colleagues
                </label>
                <label style="padding-top: 2px; padding-bottom: 14px; color: rgb(6,145,197); font-style: italic; margin-left: 20px;">
                    -Send unlimited emails to your patients
                </label>*@
            </div>
            <div class="clear">
            </div>
        </div>
        <!-- Inner Content Ends -->
        <div class="clear">
        </div>
    </div>
    @if (TempData["Paymentstatus"] != null)
    {
        <script>
            //alert('@TempData["Paymentstatus"]');
            swal({ title: "", text: '@TempData["Paymentstatus"]' });
        </script>
    }
    <!-- content base ends-->
</div>
<script>
      function checkValidation() {
       
        var packageid = $("#LstMembership option:selected").attr('data-val');
        if (typeof packageid == 'undefined') {
            swal({ title: "", text: 'Please select membership.' });
            return false;
        }

        var payInterval = $("#payInterval option:selected").val();
        if (typeof payInterval == 'undefined' || payInterval == "0") {
            swal({ title: "", text: 'Please select payment interval.' });
            return false;
        }

        var regex = /^[0-9\b]{13,16}$/;
        var cardno = $('#cardnumber').val();
        if (!regex.test(cardno)) {
            swal({ title: "", text: 'Please enter valid card number' });
            return false;
        }

        var regex = /^(1[0-2]|0[1-9]|\d)\/?([2-9]\d[1-9]\d|[1-9]\d{4})$/;
        var Expdate = $('#expdate').val();
        if (!regex.test(Expdate)) {
            swal({ title: "", text: 'Please enter valid expiry date' });
            return false;
        }

        var regex = /^[0-9\b]{3,4}$/;
        var cvvno = $('#cvv').val();
        if (cvvno == '') {
            if (!regex.test(cvvno)) {
                swal({ title: "", text: 'Please enter valid CVV no.' });
                return false;
            }
        }
    }
    $("#LstMembership").change(function () {
        
        var packageid = $("#LstMembership option:selected").val();
        if(packageid == '' || packageid == null)
        {
            packageid = @Model.Planes;
        }
        $.ajax({
            url: "/Admin/GetPackagesAd",
            type: "post",
            async: false,
            data: { packageid: packageid },
            success: function (data) {               
                $("#showAd").html(data);
            },
            fail: function () {
                swal({ title: "", text: "An error occured while sepecified packages." });
            }
        });
        var OldValues = $("#LstMembership option:selected").attr('data-val');
        if (typeof OldValues === "undefined") {
            $("#Amount").val("");
        }
        else {
            $("#Amount").val("$" + OldValues);
            $("#Planes").val($("#LstMembership option:selected").val());
        }
    })
    $(document).ready(function () {        
        var packageid = @Model.Planes;
        $.ajax({
            url: "/Admin/GetPackagesAd",
            type: "post",
            async: false,
            data: { packageid: packageid },
            success: function (data) {                
                $("#showAd").html(data);
            },
            fail: function () {
                swal({ title: "", text: "An error occured while getting packages." });
            }
        });

        var OldValues = $("#LstMembership option:selected").attr('data-val');
        if (typeof OldValues === "undefined") {
            $("#Amount").val("");
        }
        else {
            $("#Amount").val("$" + OldValues);
            $("#Planes").val($("#LstMembership option:selected").val());
        }
    })
    $(window).load(function () {

        setTimeout(function () { $("#SeccessMessage").css("display", "none"); }, 5000);
    });
</script>
