/*  --  Dashboard Page Styling  --  */

/* Dashboard Top links */
.dash_content h2{color:#17335c!important;}
ul.nav_header li a span.user_icon{ width:38px; height:17px; float:right; background: url(../images/dashboard_sprite.png) right center no-repeat;}
ul.nav_header li a span.search_icon{ width:32px; height:17px; float:right; background: url(../images/dashboard_sprite.png) -72px center no-repeat;}
ul.nav_header li a span.settings_icon{ width:22px; height:17px; float:left; background: url(../images/dashboard_sprite.png) -45px center no-repeat;}
ul.nav_header li a span.upgrade_icon{ width:23px; height:17px; float:left; background: url(../images/dashboard_sprite.png) -20px center no-repeat;}
.dash_header .phone_no2 span.web_icon{height:20px; }
.dash_header .phone_no2{width:auto; margin:12px 15px 0 0; font-size:14px; padding:5px 10px; border-radius:2px; float:left; margin-left:25%;}

/* Dashboard Tabs */
.tab_container{border-bottom:3px solid #0aa2cf; margin-top:35px; clear:both; background-color:#fff; padding:0 5px 0 0;}
.search_input_dashboard{ background:url(../images/search.png) #ffffff right center no-repeat; border:1px solid #c2c2c2; width:210px; padding:8px 30px 8px 12px; font-size:14px; color:#2c292b; float:right; margin-top:4px;}
.tab_container nav{position:relative; padding:0; float:left; width:auto;}
.tab_container .sf-menu > li > a{padding:12px 15px 12px 10px; font-weight:normal;}
.tab_container .sf-menu > li.current > a{background:#0691c5;}
.tab_container nav a span{ float:left; height:24px;background: url(../images/tab_sprites.png) left top no-repeat;}
.tab_container nav a span.profile_icon{width:22px;}
.tab_container nav a:hover span.profile_icon{background-position:0 -24px;}
.tab_container nav a span.patients_icon{width:25px; background-position:-22px top;}
.tab_container nav a:hover span.patients_icon{background-position:-22px -24px;}
.tab_container nav a span.colleagues_icon{width:29px; background-position:-49px top;}
.tab_container nav a:hover span.colleagues_icon{background-position:-49px -24px}
.tab_container nav a span.groups_icon{width:36px; background-position:-80px top;}
.tab_container nav a:hover span.groups_icon{background-position:-80px -24px;}
.tab_container nav a span.social_icon{width:31px; background-position:-118px top;}
.tab_container nav a:hover span.social_icon{background-position:-118px -24px;}
.tab_container nav a span.reports_icon{width:27px; background-position:-151px top;}
.tab_container nav a:hover span.reports_icon{background-position:-151px -24px;}

.tab_container nav input[type="submit"]{ padding:12px 15px 12px 35px; transition: all 0.3s ease 0s; border:0px;}

/*.tab_container nav input[type="submit"].profile_icon_2{ background:url(../images/tab_sprites.png) no-repeat 0 -24px ;}*/









/* Dashboard Action Buttons */
.actions{margin:25px 0;}
.mrn{margin-right:0!important;}
.actionbtn{width:32%; margin:0 16px 0 0; float:left; background:url(../images/bttn-bg.png) #0377b3 left top repeat-x; border:1px solid #0762bf; border-radius:4px;}
.actionbtn a{display:block; background:url(../images/btn-arrow.png) right center no-repeat; padding:0 80px 0 20px; height:54px; line-height:54px; font-size:21px; color:#ffffff; font-weight:normal; text-shadow:1px 1px 2px #004776;}
.actionbtn a span.referral_icon{background:url(../images/action_sprites.png) left -12px; no-repeat; display:inline-block; width:55px; height:34px; vertical-align:middle;}
.actionbtn a span.message_icon{background:url(../images/action_sprites.png) -66px -7px; no-repeat; display:inline-block; width:55px; height:40px; vertical-align:middle;}
.actionbtn a span.add_icon{background:url(../images/action_sprites.png) -130px -7px; no-repeat; display:inline-block; width:55px; height:40px; vertical-align:middle;}

.actionbtn a span.viewrefferal_icon{background:url(../images/action_sprites.png) -202px -7px; no-repeat; display:inline-block; width:55px; height:40px; vertical-align:middle;}
.actionbtn a span.viewmessages_icon{background:url(../images/action_sprites.png) -264px -7px; no-repeat; display:inline-block; width:55px; height:40px; vertical-align:middle;}
.actionbtn a span.viewstudies_icon{background:url(../images/action_sprites.png) -326px -7px; no-repeat; display:inline-block; width:55px; height:40px; vertical-align:middle;}

.actionbtn a:hover{ text-decoration:none;}




/* Dashboard Content Panel */
.mg_left30{margin-left:30px!important;}
.dash_content .boxes_panel{margin:0; padding:0}
ul.panels a{text-decoration:underline;}
ul.panels a+a{margin-left:5px;}
ul.panels a.red{color:#ff0000;}
ul.panels a:hover{text-decoration:none;}
ul.panels > li{display:inline-block; *display:inline; width:48.5%; margin:0 12px 16px 0;}
ul.panels .mainBox{padding:0; width:auto; float:none;}
ul.panels .list_panel, .people_list .list_panel_dashboard{width:auto; float:none; background:#ffffff; min-height:170px; border:1px solid #D0D0D0;}

.list_panel span.text_panel{ float:left; padding:0 15px 0 0;}
.list_panel span.text_panel a{ float:left;}
.list_panel a.received_txt{ width:100px; float:left;}

ul.panels .top_heading, .people_list .top_heading, .messages_panel .top_heading{ width:auto; float:none;}
ul.panels .list_panel_dashboard ul, .people_list .list_panel_dashboard ul, .messages_panel .list_panel_dashboard ul{border:none;}


ul.panels p{font-size:14px: color:#333333;margin:3px 0 0 0; padding:0; line-height:16px;}
ul.panels .top_heading, ul.panels .list_panel_dashboard, ul.panels .list_panel_dashboard ul{float:none; width:auto;}

.top_heading span a.view_all{ text-align:right; float:right; padding:5px 10px 0 0; line-height:18px; text-decoration:underline;} 
.top_heading span a.view_all:hover{ text-decoration:none;}


ul.panels > li h2 span.profile_icon{background:url(../images/panel_sprites.png) left top no-repeat; width:16px; height:24px;}
ul.panels > li h2 span.patient_icon{background:url(../images/panel_sprites.png) -26px top no-repeat; width:16px; height:24px;}
ul.panels > li h2 span.group_icon{background:url(../images/panel_sprites.png) -53px top no-repeat; width:16px; height:24px;}
ul.panels > li h2 span.colleagues_icon{background:url(../images/panel_sprites.png) -84px top no-repeat; width:16px; height:24px;}
ul.panels .list_panel_dashboard ul li, .people_list .list_panel_dashboard ul li{background:url(../images/list-icon.png) 10px 9px no-repeat; padding-left:34px; line-height:18px; border-top:1px solid #e8e8e8; border-bottom:none;}
ul.panels .list_panel_dashboard ul li:first-child, .people_list .list_panel_dashboard ul li:first-child{border-top:none;}
ul.panels .profile{padding:10px; padding-bottom:0px; padding-top:0px;}
ul.panels .profile .main_panel{ padding:10px 0 10px 0;}


.profile .profile_desc{margin:10px 0 0 0;}
.profile_desc .profile_thumb{float:left; width:100px; height:auto; margin:0 22px 0 0;}
.profile_desc .profile_thumb span{float:left; width:100px;  margin:0 22px 0 0; padding-top:5px;  text-align:center;}
.profile_desc .profile_info{ margin:0 0 0 122px;}
.profile_desc .profile_info h2{ font-size:22px; line-height:22px; color:#0691c5!important; margin:0 0 8px;}
.profile_desc .profile_info h2 span{ font-size:18px; color:#666666; font-weight:normal; display:block;}
.profile_info .phone_no2{float:left;border-radius: 2px 2px 2px 2px; font-size: 14px; margin:0; padding: 5px 10px; width: auto;}
.profile_info .phone_no2 a{text-decoration:none;}
.profile_info .phone_no2 a:hover{text-decoration:underline;}
.profile_info .phone_no2 span.web_icon{height:20px;}

/* Dashboard People_list  */
.people_list{
	float:right;
	width:310px;
	}
a.clickbtn{
    background: url("../images/clickbtn.png") repeat-x scroll left top #0378b3; color: #FFFFFF; display:inline-block; font-size: 18px!important; height: 42px; line-height: 42px; padding: 0 10px; text-decoration: none; border-radius:2px; border:1px solid #0762bf; display:block;    
	}
a.clickbtn img{ vertical-align:middle; margin-right:13px;}
.people_list h2 span.people_icon{background:url(../images/panel_sprites.png) -114px top no-repeat; width:26px; height:24px;}
.people_list a{font-size:13px;}
.people_list .list_panel_dashboard ul li{background:none; padding:14px;}
.people_list .list_panel_dashboard ul li.action{ padding:20px 13px;}
.people_list .thumb{ width:70px; height:70px; margin:0 17px 0 0; float:left;}
.people_list .details{margin:0 0 0 87px;}
.people_list p{ color:#333333; font-size:13px; margin:0px 0 0px; padding:0;}
.people_list .details p+a{text-decoration:underline;}
.people_list a.clickbtn{ width:110px; margin:0 auto; }

/* Dashboard Messages*/
.messages_panel span.message_icon{background:url("../images/panel_sprites.png") no-repeat scroll -152px top; width:12px;}
.messages_panel ul.msg_options{float:right; margin:8px 0 0 0;}
.messages_panel ul.msg_options li{ float:right; margin:0 8px 0 0; width:15px;}
.messages_panel .notification{background:url("../images/panel_sprites.png") no-repeat scroll -177px -4px; width:14px; height:14px; display:block;}
.messages_panel .refresh{background:url("../images/panel_sprites.png") no-repeat scroll -201px -3px; width:14px; height:14px; display:block;}
.messages_panel .msg_up{background:url("../images/panel_sprites.png") no-repeat scroll -224px -4px; width:15px; height:8px; display:block;}
.messages_panel .msg_down{background:url("../images/panel_sprites.png") no-repeat scroll -224px -14px; width:15px; height:8px; display:block;}
.messages_panel .list_panel{ background:none; /*padding:12px;*/ border:1px solid #D0D0D0; width:auto; float:none; background:#fff;}
.list_panel ul li.border_none{ border:none;}


.messages_panel{padding-right:5px;}
.messages_panel ul.messages{width:auto; padding:0 0 25px;}
.messages_panel ul.messages li .msg{background:#0691c5; padding:10px 12px 5px; font-size:12px; color:#ffffff; line-height:14px;}
.messages_panel ul.messages li .alt{background:#666666; padding:10px 12px 5px; font-size:12px; color:#ffffff; line-height:14px;}
.messages_panel ul.messages li{background:none; border:none; padding:0; margin:0 0 10px;}
.messages_panel ul.messages li p{padding:0 85px 0 0; margin:0;}
.messages_panel ul.messages li .time{ text-align:right;}
.messages_panel ul.messages li .blue_list{ background:url(../images/arrow_blue.jpg) left bottom no-repeat; height:15px;}
.messages_panel ul.messages li .grey_list{ background:url(../images/arrow_grey.jpg) right bottom no-repeat; height:15px;}
.messages_panel .mainBox{width:auto; float:none; padding:0;}
.email .inputbox_signup{border: 1px solid #d7d7d7; color: #666666; float: none;; font-size: 16px; width:81%; margin-right:10px;}
.email input[type="submit"]{width:100px;}

/* Dashboard Tabs */
.bottom_tabs{ margin:16px 0 0 0;}
.client_tabs table{border:1px solid #b1bcce; border-collapse:collapse;}
.client_tabs table th, .client_tabs table td{  font-size:14px; font-weight:normal;  color:#17335c; text-align:center; border:1px solid #b1bcce; border-collapse:collapse; vertical-align:middle;}
.client_tabs  table th{ background:url(../images/thead.jpg) repeat-x left bottom #f5f5f5; padding:15px 8px;}
.client_tabs table td{ background:#ffffff; padding:7px 8px;}
.client_tabs table .th1{ width:4%;}
.client_tabs table .th2{ width:4%;}
.client_tabs table .th3{ width:9%;}
.client_tabs table .th4{ width:20%;}
.client_tabs table .th5{ width:16%;}
.client_tabs table .th6{ width:12%;}
.client_tabs table .th7{ width:20%;}
.client_tabs table .th8{ width:15%;}
.client_tabs  table .txt_left{text-align:left;}
.client_tabs table .thumb{ width:43px; height:35px; border:1px solid #bdbdbd; margin:0 auto;}
ul.input_tabbing{}
ul.input_tabbing li{float:left; margin:0 2px 0 0;}
ul.input_tabbing li input[type="submit"]{border:0; padding:12px 15px 12px 35px; font:normal 14px/18px Helvetica,Arial,sans-serif; height:40px; line-height:35px; transition:all 0.3s ease 0s; cursor:pointer; display:block; background:#b1bcce;}
ul.input_tabbing li input[type="submit"].ref_recvd{ background:url(../images/referal_received.png) #b1bcce 10px center no-repeat;}
ul.input_tabbing li input[type="submit"].ref_recvd:hover{ background:url(../images/referal_received_o.png) #0691C5 10px center no-repeat; color:#ffffff; }

ul.input_tabbing li a input[type="submit"]{ line-height:18px;}

ul.input_tabbing li a.selected input[type="submit"]{ background:url(../images/referal_received_o.png) #0691C5 10px center no-repeat; color:#ffffff; }


ul.input_tabbing li input[type="submit"].inbox{ background:url(../images/inbox.png) #b1bcce 10px center no-repeat;}
ul.input_tabbing li input[type="submit"].inbox:hover{ background:url(../images/inbox_o.png) #0691C5 10px center no-repeat; color:#ffffff;}
ul.input_tabbing li input[type="submit"].ref_sent{ background:url(../images/referal_sent.png) #b1bcce 10px center no-repeat;}
ul.input_tabbing li input[type="submit"].ref_sent:hover{ background:url(../images/referal_sent.png) #0691C5 10px center no-repeat; color:#ffffff;}
ul.input_tabbing li input[type="submit"].transfers{ background:url(../images/transfers.png) #b1bcce 10px center no-repeat;}
ul.input_tabbing li input[type="submit"].transfers:hover{ background:url(../images/transfers.png) #0691C5 10px center no-repeat; color:#ffffff;}
.bottom_tabs .data{ background:#ffffff; clear:both; border:1px solid #b1bcce;}
.tabspadding .data{ padding:15px;}
.tabspadding .data h2.title{width:100%; float:left;}
.tabspadding .data h2.title, .tabspadding .data h2.title input{ position:inherit; float:right;}
.tabspadding h2.title .search_input_dashboard{ margin:0; padding-bottom: 4px; padding-top: 4px; width: 150px; margin-right:15px;}
.bottom_tabs .data .col1, .bottom_tabs .data .col2, .bottom_tabs .data .col3{float:left; font-size:14px;}
.data ul.listing li{border-top:1px solid #b1bcce; padding:15px; display:block;}
.data ul.listing li:first-child{border-top:none;}
ul.listing li .col1{width:95px; position:relative;} /*or set 10%*/
ul.listing li .col2{width:17%; padding:0 10px; margin:15px 0 0 0;}
ul.listing li .col3{width:13%; margin:20px 0 0 0;}
ul.listing li .col1 input[type="checkbox"]{ float:left; vertical-align:middle; margin:-5px 0 0 0; position:absolute; top:50%;}
ul.listing li .details{ margin-left:95px;}
ul.listing li .thumb{ border:1px solid #bdbdbd; width:69px; height:69px; float:right;}
ul.listing li label{display:block; font-size:14px; font-weight:normal;  color:#666; font-size:14px;}
ul.listing li label.title{color:#000;}
a.referral{ display:inline-block; background:url(../images/viewreferral_icon.png) left center no-repeat; font-size:14px; line-height:16px; text-decoration:underline; padding:3px 0 3px 22px;}
a.referral:hover{text-decoration:none;}

/* Notifications New Styling */
.messages_panel ul.tablelist{padding:0;}
.messages_panel ul.tablelist li{ background:none; border-bottom:none;}
.messages_panel .table .check{width:4.0%}
.messages_panel .table .message{width:58.8%;}
.messages_panel .table .message .actions{ width:39.4%}
.messages_panel .table .message .actions a{width:40%; display:inline-block; *display:inline; text-align:right;}
.messages_panel .pagination, .bottom_tabs .pagination{padding:15px; width:auto; float:none; border-bottom:none; background:#F2F2F2;}
.bottom_tabs .pagination{border-bottom:1px solid #CCCCCC;}
.messages_panel .pagination .left_panel_list_div{width:45%}
.messages_panel .pagination .right_panel_list_div{width:55%}


/* Email Invitation */
.email_invitation{background:#f6f6f6; border:1px solid #cdcdcd; padding:15px 15px 18px; border-bottom:none; width:auto; margin:50px 0 0 0;}
.email_invitation h2{color:#0691c5; font-size:18px; float:left; line-height:26px; margin:3px 22px 0 0;}
.email_invitation h2 span.invite_icon{ background:url(../images/invite_icon.png) left top no-repeat; width:45px; height:28px; float:left;}
.email_invitation .email{}
.email_invitation .email input[type="text"]{ width:59%; background:#dcdcdc; padding:9px 13px 9px 13px; border:none; color:#8c8b8b; font-size:16px;}
.email_invitation .email a.clickbtn{height:48px; line-height:48px; width:153px; float:right;}
.mainBox .list_panel ul{ width:100%; border:0px;}

ul.nav_header li.help_btn {border:0px;  }
ul.nav_header li.help_btn a{background: url(../images/help_for_this_page.jpg) no-repeat  left top; color: #FFFFFF; float:left; width:160px; height:39px;}

.next_btn_dashboard{background: url(../images/Next_btn.png) no-repeat  left top; display:block; color: #FFFFFF; width:96px; height:39px; cursor:pointer; margin:0 auto; border:0px;}


.send_invite_btn_dashboard{background: url(../images/send_invite_btn.png) no-repeat  left top; color: #FFFFFF; float:right; width:136px; height:39px; cursor:pointer; border:0px;   }
.p144{ height:14px; clear:both;}


.help_btn_2 {border:0px;  }
.help_btn_2 a{background: url(../images/help_for_this_page.jpg) no-repeat  left top; color: #FFFFFF; float:right; width:160px; height:39px;}



 /* MEDIA QUERY STYLING  */
 
 

 
@media only screen and (min-width: 768px) and (max-width: 960px) {

.actionbtn{width:31.6%;}
.actionbtn a{padding:0 20px; background:none;}
.profile_desc .profile_thumb{ width:90px; height:90px; margin:0 15px 0 0;}
.profile_desc .profile_info{ margin:0 0 0 105px;}
.profile_desc .profile_info h2{font-size:16px;}
.profile_desc .profile_info h2 span{font-size:14px;}
.profile_info .phone_no2 span.web_icon{ display:none;}
.people_list{ width:247px;}
.email .inputbox_signup{width:75.8%}
.messages_panel{padding:0;}
.bottom_tabs .data .col2{width:21.5%;}
ul.listing li .col3{ width:auto; margin:10px 0 0 10px;}
.email_invitation .email input[type="text"]{ width:45%;}
.email_invitation .email a.clickbtn{ width:145px;}
.dashboard .tab_container{ background:none;}
.dash_header .phone_no2	{ margin-left:20px;}
.search_dashboard{ clear:both; width:70%; margin:0 auto; height:80px;}
.search_input_dashboard{ margin:20px 0 0 0; width:100%;}
.tab_container nav{ margin:0 auto; width:91%; float:none;}
#content{ width:auto;  margin:0px; padding:0px; margin:0 auto;}

}


 @media only screen and (max-device-width: 1024px) and (orientation:portrait) {
.dash_header .phone_no2	{ margin-left:20px;}
.bottom_tabs{ width:99%;}
.email_invitation .email input[type="text"]{ width:42%;}
.email_invitation{background:#ffffff; border:1px solid #cdcdcd; padding:15px 5% 18px 2%; border-bottom:none; width:92%; }
.tab_container{ padding:0px; width:99%;}
.dash_content{width:99%; margin:0px; padding:0px;}
 }
 
 @media only screen and (max-device-width: 1024px) and (orientation:landscape) {
	 
 }


@media only screen and (max-width: 767px) {

.container_16 actions{ width:100%;}
.actionbtn{width:30%; display:inline-block;}
.actionbtn a{padding:0 20px; background:none;}	
.dash_header .phone_no2{ margin:0px; float:right; display:block; margin-right:10px;}
.dash_header .nav_header{ clear:both;  width:78%; margin:80px auto; float:none; display:block; }
.dashboard .tab_container nav{ float:none;}
.dashboard .tab_container{ margin-top:85px; padding:0px; border:0px;}
.search_input_dashboard{ float:left; width:100%; margin-top:40px; }
.search_dashboard{ margin:0 auto; width:50%;}
.actionbtn{ float:none; margin-right:0; width:auto;}
.actionbtn a{ padding:0 10px; font-size:16px; }
.actions{ width:90%; margin:30px auto;}
.people_list{ float:left; width:100%; margin:20px 0 0 0; }
.bottom_tabs{ margin:0px; width:98%; margin:0 auto; position:relative;}
.email_invitation{ width:auto; margin:20px auto 0 auto; padding:5% 5% 6% 5%;}
.email_invitation .email input[type="text"]{ width:38%;}
.email .inputbox_signup{ width:100%;}
.email input[type="submit"]{ margin:20px auto;}
footer{ padding-top:0px;}
.messages_panel{ padding-right:0px;}
.dashboard .tab_container{ background:none;}
ul.panels .list_panel, .people_list .list_panel_dashboard{ border-top:0px; }
ul.panels .profile .main_panel{ padding:10px 0 10px 0;}

}




@media only screen and (min-width: 480px) and (max-width: 767px) {

.actionbtn{ width:100%; margin-bottom:10px;}	
.container_16{ width:98%;}	
.boxes_panel { width:100%}
.panels li{ width:100%!important;}
.dashboard .tab_container{ margin-top:100px; padding:0px; border:0px;}
ul.nav_header li{ padding:0 8px;}
ul.listing li .col2{ width:95%;}
ul.listing li .col3{ width:95%;}
.search_dashboard{ width:90%;}
.search_input_dashboard{ width:90%;}
ul.panels .top_heading, ul.panels .list_panel, ul.panels .list_panel ul{ font-size:14px;}
ul.panels .list_panel, .people_list .list_panel{ min-height:inherit; padding:0 0 0 0;}
.dash_header .nav_header{ width:80%; display:block; margin:40px auto;}	
ul.nav_header li{ border:1px solid #999; width:auto; margin-bottom:10px; padding:0 10px 0 10px;}
ul.nav_header li.remove_border{border:1px solid #999!important; margin-bottom:10px; }
.email_invitation h2{ width:100%;}
.email_invitation .email input[type="text"]{ margin:20px 0 0 0; width:90%;}
.email_invitation .email a.clickbtn{ margin:20px auto; float:none;}
.email_invitation{ margin:20px 0 20px 0; border:1px solid #CDCDCD;}
ul.nav_header li{ float:none; display:inline-block;}
#logo{ height:80px;  float:left;}
.dash_header .phone_no2{ margin:10px 10px 0 0;}
.search_input_dashboard{ padding:15px 30px 15px 15px;}

ul.panels .list_panel, .people_list .list_panel_dashboard{ border-top:0px;}
.people_list .list_panel_dashboard ul li{  width:45%; display:inline-block;}
.people_list .list_panel_dashboard ul { margin:0 0 0 0;}
ul.panels > li{ width:100%;}
.mainBox .list_panel ul{ width:100%;}
.people_list .list_panel_dashboard ul li{width:41%; margin-left:2%; }
.list_panel ul li{ width:auto!important; }
.people_list .list_panel_dashboard ul li.action{ clear:both; display:block; width:90%;}
.mainBox .list_panel ul{ width:100%;}
.profile_desc .profile_thumb{ padding:0 10px 10px 0;}
.mainBox .profile{ padding:10px 0 0 10px!important}
.dashboard .tab_container{ background:none;}

.sf-menu li{ float:left; width:87%; margin-bottom:10px;}
.sf-menu_3{ margin-top:0px; top:38px;}
ul.panels > li{ width:100%;}
ul.nav_header li{ padding:0 8px;}
.sf-menu > li{ margin-bottom:10px!important;}
.actionbtn a{ font-size:19px; }

ul.input_tabbing li{float:left; margin:0 2px 0 0; width:100%!important;}
ul.input_tabbing > li > a{width:100%!important;}
ul.input_tabbing li input[type="submit"]{width:100%!important; text-align:left; margin-bottom:10px;}

.bottom_tabs .data .col1, .bottom_tabs .data .col2, .bottom_tabs .data .col3{ margin:0px; margin-bottom:10px;}
ul.listing li label.title{ float:left; width:150px;}
.send_invite_btn_dashboard{ margin:20px auto; float:none; display:block;}
.p144{ height:0px; clear:both;}
ul.panels .profile .main_panel{ padding:10px 0 10px 0;}
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
	
.dash_header .phone_no2	{  float:none; margin:0 auto;  margin-top:70px; width:150px; clear:both; height:25px;}
.actionbtn{ width:100%; margin-bottom:10px;}	
.container_16{ width:96%; float:none; margin:0 auto;}	
.boxes_panel { width:100%}
.dashboard .tab_container{ margin-top:170px; padding:0px; border:0px;}
ul.nav_header li{ padding:0 8px;}
ul.listing li .col2{ width:95%;}
ul.listing li .col3{ width:95%;}
.search_dashboard{ width:90%;}
.search_input_dashboard{ width:90%;}
ul.panels .list_panel, .people_list .list_panel{ min-height:inherit; padding:0 0 0 0!important;}

.dash_header .nav_header{ margin-top:20px;}	
ul.nav_header li{ border:1px solid #999; width:auto; margin-bottom:10px; padding:0 10px 0 10px;}
ul.nav_header li.remove_border{border:1px solid #999!important; margin-bottom:10px; }
.email_invitation h2{ width:100%;}
.email_invitation .email input[type="text"]{ margin:20px 0 0 0; width:90%;}
.email_invitation .email a.clickbtn{ margin:20px auto; float:none;}
.email_invitation{ margin:20px 0 20px 0; border:1px solid #CDCDCD;}

.sf-menu_3{ margin-top:0px; top:38px;}
ul.panels > li{ width:100%; padding:5px 0 10px 0!important}
.list_panel ul li{}

.mainBox .list_panel ul{ width:100%;}
.profile_desc .profile_thumb{ padding:0 10px 10px 0;}
.mainBox .profile{ padding:10px 0 0 10px!important}
.dashboard .tab_container{ background:none;}
.actionbtn a{ font-size:19px; }
ul.input_tabbing li{float:left; margin:0 2px 0 0; width:100%!important;}
ul.input_tabbing > li > a{width:100%!important;}
ul.input_tabbing li input[type="submit"]{width:100%!important; text-align:left; margin-bottom:10px;}
.bottom_tabs .data .col1, .bottom_tabs .data .col2, .bottom_tabs .data .col3{ margin:0px; margin-bottom:10px;}
.send_invite_btn_dashboard{ margin:20px auto; float:none; display:block;}
.p144{ height:0px; clear:both;}
ul.panels .profile .main_panel{ padding:10px 0 10px 10px;}
}