﻿
@{
    ViewBag.Title = "Help & Training";
    if (!string.IsNullOrWhiteSpace(OneClickReferral.App_Start.SessionManagement.access_token))
    {
        Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<main id="main" role="main">
    <div class="container">
        <div class="new-case case-overview account_page">
            <div class="row btm-margin-30  row-bordered send">
                <div class="col-lg-12 ">
                    <div class="row">
                        <div class="col col-lg-12 col-xs-12">
                            <div class="btm-margin-30"></div>
                            <h1>Help & Training for One Click Referral</h1>
                            <div class="btm-margin-30"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mrgn-btm-20 box policy">
                <div class="col-xs-12 bg-grey">
                    Below you will find help and training videos for One Click Referral. If you have additional
                    questions, please go to the <a href="/ContactUs">Contact</a>
                    Page or “Request Information” box on the right and submit an inquiry form, and we
                    will respond shortly. If you need immediate help please call us at <strong>(415)749-1444</strong>.
                </div>
            </div>
            <div class="row mrgn-btm-20 help">
                <div class="col-lg-4 col-sm-6 btm-margin-30">
                    <a href="https://www.youtube.com/watch?v=DFwV5DE8ZAo&index=1&t=11s&list=PLr7RxIdw0scqgBmUGXaLre20WO5RKUtL4" target="_blank">
                        <img src="~/Content/Dashboard/images/setup.png" alt="Initial Setup of One Click Referral " class="img-responsive" />
                        <span>Initial Setup of One Click Referral </span>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6 btm-margin-30">
                    <a href="https://www.youtube.com/watch?v=GgfWMf7AF8U&index=3&t=9s&list=PLr7RxIdw0scqgBmUGXaLre20WO5RKUtL4" target="_blank">
                        <img src="~/Content/Dashboard/images/dashboard.png" alt="Dashboard Overview " class="img-responsive" />
                        <span>Dashboard Overview</span>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6 btm-margin-30">
                    <a href="https://www.youtube.com/watch?v=t1L31od7ooE&index=4&t=2s&list=PLr7RxIdw0scqgBmUGXaLre20WO5RKUtL4" target="_blank">
                        <img src="~/Content/Dashboard/images/inbox_1.png" alt="Inbox Overview" class="img-responsive" />
                        <span>Inbox Overview </span>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6 btm-margin-30">
                    <a href="https://www.youtube.com/watch?v=943KYAdPMSQ&index=5&t=67s&list=PLr7RxIdw0scqgBmUGXaLre20WO5RKUtL4" target="_blank">
                        <img src="~/Content/Dashboard/images/profile.png" alt="Profile Overview" class="img-responsive" />
                        <span>Profile Overview</span>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6 btm-margin-30">
                    <a href="https://www.youtube.com/watch?v=vAwpLMO5noY&index=6&list=PLr7RxIdw0scqgBmUGXaLre20WO5RKUtL4" target="_blank">
                        <img src="~/Content/Dashboard/images/patient_view.png" alt="Patients Overview " class="img-responsive" />
                        <span>Patients Overview </span>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6 btm-margin-30">
                    <a href="https://www.youtube.com/watch?v=Ay78dzo-VAA&index=7&list=PLr7RxIdw0scqgBmUGXaLre20WO5RKUtL4" target="_blank">
                        <img src="~/Content/Dashboard/images/colleagues_1.png" alt="Colleagues Overview" class="img-responsive" />
                        <span>Colleagues Overview </span>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6 btm-margin-30">
                    <a href="https://www.youtube.com/watch?v=3-5NJFTZKVU&index=2&t=45s&list=PLr7RxIdw0scqgBmUGXaLre20WO5RKUtL4" target="_blank">
                        <img src="~/Content/Dashboard/images/referrals.png" alt="Referrals in One Click Referral " class="img-responsive" />
                        <span>Referrals in One Click Referral </span>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6 btm-margin-30">
                    <a href="https://www.youtube.com/watch?v=MnX79FRTVlw&index=10&list=PLr7RxIdw0scqgBmUGXaLre20WO5RKUtL4" target="_blank">
                        <img src="~/Content/Dashboard/images/appiontment.png" alt="Appointments " class="img-responsive" />
                        <span>Appointments </span>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6 btm-margin-30">
                    <a href="https://www.youtube.com/watch?v=WXLxBl0L7D8&index=9&list=PLr7RxIdw0scqgBmUGXaLre20WO5RKUtL4" target="_blank">
                        <img src="~/Content/Dashboard/images/reports.png" alt="Reports " class="img-responsive" />
                        <span>Reports </span>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6 btm-margin-30">
                    <a href="https://www.youtube.com/watch?v=5OlcErD8BCU&index=8&list=PLr7RxIdw0scqgBmUGXaLre20WO5RKUtL4" target="_blank">
                        <img src="~/Content/Dashboard/images/group.png" alt="Group Practice Functionality " class="img-responsive" />
                        <span>Group Practice Functionality </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>

