﻿@model BO.Models.MDLDashboard
@using BusinessLogicLayer
@{
                /**/

                ViewBag.Title = "DashBoard";
                Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<style>
    .list-holder-pat {
        position: relative;
        height: 330px;
        overflow-x: hidden;
        overflow-y: scroll;
        display: block;
        width: 100% !important;
    }
</style>


<input type="hidden" id="ColleaguPageIndex" value="1" />
<input type="hidden" id="hdnColleagueId" />
<input type="hidden" id="hdnPatientId" />
<input type="hidden" id="hdnlocationid" />
<input type="hidden" id="PatientPageIndex" value="1" />
<input type="hidden" id="PageIndex" value="1" />
<input type="hidden" id="PageSize" value="20" />

<input type="hidden" id="PL_PageIndex" value="1" />
<input type="hidden" id="PL_PageSize" value="10" />

<input type="hidden" id="PopupId" value="dashboard" />


<link href="~/Content/css/SweetAlert/sweetalert.css" rel="stylesheet" />
<link href="~/Content/css/Dropstyle.css" rel="stylesheet" />
<link href="~/Content/css/filterstyle.css" rel="stylesheet" />


<script src="~/Content/js/SweetAlert/sweetalert.min.js"></script>

<form action="@Url.Action("Index", "Profile")" method="post" id="frmViewProfile">
    <input type="hidden" name="hdnViewProfile" id="hdnViewProfile" value="" />
</form>
<form action="@Url.Action("PatientHistory", "Patients")" method="post" id="frmViewPatientHistory">
    <input type="hidden" name="hdnViewPatientHistory" id="hdnViewPatientHistory" />
</form>
<form method="post" action="/Plan" id="frmPatientListPlan">
    <input type="hidden" id="hdnPatienHistoryId" name="hdnPatienHistoryId" />
</form>
<style>
    .colleague_refer_patient .modal-dialog {
        width: 800px;
    }

    .ReferPatient .modal-dialog {
        width: 800px;
    }

    .NewRefferalPopUp .modal-dialog {
        width: 800px;
    }
</style>

<main id="main" role="main" class="dashboard">
    <div class="container">
        <div class="new-case case-overview patinet list_patients rl_dashboard">
            <div class="mrgn-btm-20 mobile"></div>
            <div class="mrgn-btm-20">
                <div class="row dasboard-inner">
                    <div class="col-lg-9 custom">
                        <form role="form" action="#">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6"><h1><a href="@Url.Action("Index","Inbox")">Inbox</a></h1><span class="inbox">@Html.Action("GetUnreadMessageCount", "Inbox", new { UserId = Convert.ToInt32(Session["UserId"]) })</span></div>
                                    <div class="col-lg-9 col-md-6 col-sm-6 col-xs-6 text-right">
                                        <a href="@Url.Action("ComposeMessage","Inbox")"><img src="~/Content/newDashBoard/images/inbox.png" alt="" title="Compose Message" /></a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <input type="hidden" value="1" id="Sort_Column" />
                                    <table class="table table3 filtered-table inbox" id="tblinbox">
                                        <thead class="thead-inverse">

                                            <tr>
                                                <th>
                                                    <a href="javascript:;" id="AppColumn1" onclick="SortColumn('AppColumn1')" sort-col="1" sort-dir="1"> Date</a>
                                                    <div class="arrows-group">
                                                        <a href="#"><i class="ico-arrow-up"></i></a>
                                                        <a href="#"><i class="ico-arrow-down"></i></a>
                                                    </div>
                                                </th>
                                                <th>
                                                    <a href="javascript:;" id="AppColumn2" onclick="SortColumn('AppColumn2')" sort-col="2" sort-dir="1">From </a>
                                                    <div class="arrows-group">
                                                        <a href="#"><i class="ico-arrow-up"></i></a>
                                                        <a href="#"><i class="ico-arrow-down"></i></a>
                                                    </div>
                                                </th>
                                                @*<th>
                                                        Type
                                                        <div class="arrows-group">
                                                        </div>
                                                    </th>*@
                                                <th>
                                                    <a href="javascript:;" id="AppColumn3" onclick="SortColumn('AppColumn3')" sort-col="3" sort-dir="1">Message</a>
                                                    <div class="arrows-group">
                                                        <a href="#"><i class="ico-arrow-up"></i></a>
                                                        <a href="#"><i class="ico-arrow-down"></i></a>
                                                    </div>
                                                </th>
                                                <th>
                                                    Type
                                                    <div class="arrows-group">
                                                    </div>
                                                </th>
                                                <th>
                                                    Status
                                                    <div class="arrows-group">
                                                    </div>
                                                </th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody class="jcf-scrollable" id="AppendList" data-sortirection="1">
                                            @*@Html.Partial("_PartialDashboardInboxItems", Model.InboxList)*@
                                            @Html.Action("PartialInBoxMessages","Inbox",new {
                                                     PageIndex =1,PageSize=10, ShortColumn =1,ShortDirection =2,MessageDisplayType =2,IsDashboard = true
                                                })
                                        </tbody>
                                    </table>
                                    @*@if (Model.InboxList.Count > 5)
                                        {
                                            <a href="@Url.Action("Index","Inbox")" class="view">View More</a>
                                        }
                                        else
                                        {
                                            <a href="javascript:;" class="view" style="cursor:not-allowed;">View More</a>
                                        }*@

                                    <a href="@Url.Action("Index","Inbox")" class="view" id="view-inbox" style="display:none;">View More</a>

                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-3 custom">
                        <form role="form" action="#">
                            <div class="row mrgn-btm-15">
                                <div class="col-lg-12">
                                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7"><h1><a href="@Url.Action("Index","Colleagues")">Colleagues</a></h1><span class="inbox">@Model.TotalColleague</span></div>
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 text-right">
                                        <a href="javascript:;" onclick="CheckAuthorization(@Convert.ToInt32(BO.Enums.Common.Features.Colleagues))"><img src="~/Content/newDashBoard/images/plus.png" alt="" title="Add Colleague" /></a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <table class="table table3 filtered-table colleagues">
                                        <tbody class="jcf-scrollable">
                                            @*@Html.Partial("_PartialDashboardColleagueItems",Model.lstColleaguesDetails)*@
                                            @Html.Action("ColleaguesListing", "Colleagues", new BO.Models.Sorting() {
                                           IsDashboard =true,PageSize=10, PageIndex=1,SortColumn = 13,SortDirection=1,FilterBy=0
                                       })
                                        </tbody>
                                    </table>
                                    @*@if (Model.lstColleaguesDetails.Count >= 7)
                                        {
                                            <a href="@Url.Action("Index2", "Colleagues")" class="view">View More</a>
                                        }
                                        else
                                        {
                                            <a href="javascript:;" class="view" style="cursor:not-allowed;">View More</a>
                                        }*@
                                    <a href="@Url.Action("Index", "Colleagues")" id="view-clg" class="view" style="display:none;">View More</a>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <form role="form" action="#">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 "><h1><a href="@Url.Action("Index","Patients")">Patient</a></h1><span class="inbox">@Model.TotalPatients</span></div>
                        <div class="col-lg-9 col-md-6 col-sm-6 col-xs-6 text-right">
                            <a href="javascript:;" onclick="CheckAuthorization(@Convert.ToInt32(BO.Enums.Common.Features.New_Patient_Leads))"><img src="~/Content/newDashBoard/images/plus.png" alt="" title="Add Patient" /></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <input type="hidden" value="1" id="Sort_Column_Patient" />
                        <table class="table table3 filtered-table" id="tblpatient">
                            <thead class="thead-inverse">
                                <tr>
                                    <th>
                                        <a href="javascript:;" id="AppCol1" onclick="GetPatientListByHeadings('AppCol1')" sort-col="2" sort-dir="1"> Last Name</a>
                                        <div class="arrows-group">
                                            <a href="#"><i class="ico-arrow-up"></i></a>
                                            <a href="#"><i class="ico-arrow-down"></i></a>
                                        </div>
                                    </th>
                                    <th>
                                        <a href="javascript:;" id="AppCol2" onclick="GetPatientListByHeadings('AppCol2')" sort-col="1" sort-dir="1"> First Name</a>
                                        <div class="arrows-group">
                                            <a href="#"><i class="ico-arrow-up"></i></a>
                                            <a href="#"><i class="ico-arrow-down"></i></a>
                                        </div>
                                    </th>
                                    <th>
                                        <a href="javascript:;" id="AppCol3" onclick="GetPatientListByHeadings('AppCol3')" sort-col="14" sort-dir="1"> Referred By</a>
                                        <div class="arrows-group">
                                            <a href="#"><i class="ico-arrow-up"></i></a>
                                            <a href="#"><i class="ico-arrow-down"></i></a>
                                        </div>
                                    </th>
                                    <th>
                                        <a href="javascript:;" id="AppCol4" onclick="GetPatientListByHeadings('AppCol4')" sort-col="9" sort-dir="1"> Phone </a>
                                        <div class="arrows-group">
                                            <a href="#"><i class="ico-arrow-up"></i></a>
                                            <a href="#"><i class="ico-arrow-down"></i></a>
                                        </div>
                                    </th>
                                    <th>
                                        <a href="javascript:;" id="AppCol5" onclick="GetPatientListByHeadings('AppCol5')" sort-col="10" sort-dir="1">  Email</a>
                                        <div class="arrows-group">
                                            <a href="#"><i class="ico-arrow-up"></i></a>
                                            <a href="#"><i class="ico-arrow-down"></i></a>
                                        </div>
                                    </th>
                                    <th>
                                        <a href="javascript:;" id="AppCol6" onclick="GetPatientListByHeadings('AppCol6')" sort-col="13" sort-dir="1"> Location</a>
                                        <div class="arrows-group">
                                            <a href="#"><i class="ico-arrow-up"></i></a>
                                            <a href="#"><i class="ico-arrow-down"></i></a>
                                        </div>
                                    </th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody class="jcf-scrollable" id="AppendPatient" data-sortirection="1">
                                @*@Html.Partial("_PartialDashboardPatientList", Model.lstPatients)*@
                                @Html.Action("NewGetPatientDetailsList", "Patients", new BO.Models.PatientFilter()
                                   {
                                       UserId = 0,PageIndex = 1,PageSize = 10,IsDashboard = true
                                   })
                            </tbody>
                        </table>
                        @*@if (Model.lstPatients.Count > 5)
                            {
                                <a href="@Url.Action("Index","Patients")" class="view">View More</a>
                            }*@
                        <a href="@Url.Action("Index","Patients")" class="view" id="view-pat">View More</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
@* Refer patient Pop up *@
<div class="modal fade colleague_refer_patient" id="colleague_refer_patient" role="dialog">

</div>
<div class="modal fade ReferPatient" id="ReferPatient" role="dialog" data-backdrop="static" data-keyboard="false">

</div>
<div class="modal fade NewRefferalPopUp" id="NewRefferalPopUpForDashboard" role="dialog" data-backdrop="static" data-keyboard="false">

</div>
<div class="modal fade" id="patient_delete" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center center">

                    <p class="mrgn-btm-0" style="margin: 0;" id="desc_message"></p>
                </div>
                <div class="modal-footer bdr-top-no">
                    <div class="btn-group btn-holder">
                        <button type="button" class="btn btn-default btn1" id="btn_no" data-dismiss="modal">No</button>
                        <button type="button" class="btn btn-default btn2 blue-bg mrgn-right-0" id="btn_yes">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@* Payment Popup *@
<div class="modal fade NewRefferalPopUp" id="NewRefferalPopUp" role="dialog" data-backdrop="static" data-keyboard="false">
</div>

<div id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px;
            top: 0px; width: 100%; height: 100%; background-color: White; z-index: 30001;
            opacity: 0.5; filter: alpha(opacity=70); display: none">
    <p style="position: absolute; top: 30%; left: 50%; color: White;">
        <img src="../../Images/Recordloading.gif">
    </p>
</div>
@*<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>*@
<script type="text/javascript">
    var NewPatientLead = @Convert.ToInt32(BO.Enums.Common.Features.New_Patient_Leads);
    var ColleagueLead = @Convert.ToInt32(BO.Enums.Common.Features.Colleagues);

    $(document).ready(function () {
        $('#tblinbox tr').eq(8).find('ul').addClass('top');
        $('#tblinbox tr').eq(9).find('ul').addClass('top');
        $('#tblpatient tr').eq(8).find('ul').addClass('top');
        $('#tblpatient tr').eq(9).find('ul').addClass('top');
        $('#tblpatient tr:last').find('ul').addClass('top');
        $('.count').removeClass('pull-right');

        //New Code for Dashboard
        var patcnt = $('#patient-count').val();
        if (patcnt > 5) {
            $('#view-pat').show();
        } else {
            $('#view-pat').show();
            $('#view-pat').css('cursor', 'not-allowed');
        }
        var inboxcnt = $('#inbox_cnt').val();
        if (inboxcnt > 5) {
            $('#view-inbox').show();
        } else {
            $('#view-inbox').show();
            $('#view-inbox').css('cursor', 'not-allowed');
        }

        var clgcnt = $('#clg-cnt').val();
        if (clgcnt > 7) {
            $('#view-clg').show();
        } else {
            $('#view-clg').show();
            $('#view-clg').css('cursor', 'not-allowed');
        }
        //New Code for Dashboard
        if ('@ViewBag.IsFromOCR' == "OpenReferralPopup") {
            $("#btnReferral").trigger('click');
        }
    });
</script>
<script src="~/Scripts/ControllerJS/Dashboard/Dashboard.js"></script>