﻿@model List<BO.ViewModel.InboxMessages>
@using BusinessLogicLayer

@if (Model.Count > 0)
{
    foreach (var item in Model)
    {
        var message = @item.MessageId + "_" + @item.IsColleagueMesage;
        <tr id="msg_@message">
            @{
                string CreationDate = new CommonBLL().ConvertToDate(Convert.ToDateTime(item.CreationDate), Convert.ToInt32(BO.Enums.Common.DateFormat.GENERAL));
            }
            <td data-th="Date"><a href="@Url.Action("NewGetMessageDetails", "Inbox", new { MessageId = item.MessageId, MessageDisplayType = item.MessageDisplayType, MessageTypeId = item.MessageTypeId, IsColleagueMesage = item.IsColleagueMesage, Isread = @item.IsRead })">@CreationDate</a></td>
            <td data-th="From"><a href="@Url.Action("NewGetMessageDetails", "Inbox", new { MessageId = item.MessageId, MessageDisplayType = item.MessageDisplayType, MessageTypeId = item.MessageTypeId, IsColleagueMesage = item.IsColleagueMesage, Isread = @item.IsRead })">@item.Field</a></td>
            @{
                var msgtype = (@item.MessageTypeId == 2) ? "Referral" : "Message";
            }
            @*<td data-th="Type">@msgtype</td>*@    @*//RM-361: UI changes on 'Dashboard' page suggested by Travis*@ 

            <td data-th="Message"><a href="@Url.Action("NewGetMessageDetails", "Inbox", new { MessageId = item.MessageId, MessageDisplayType = item.MessageDisplayType, MessageTypeId = item.MessageTypeId, IsColleagueMesage = item.IsColleagueMesage, Isread = @item.IsRead })">@Html.Raw((item.Body.ToString().Length > 35 ? item.Body.Substring(0, 35) + "..." : item.Body)) </a></td>

            <td data-th="Status">
                @if (!@item.IsRead && (item.MessageTypeId == 1 || item.MessageTypeId == 3 || item.MessageTypeId == 0))
                {
                    <i class="ico-unread-message" title="Unread Message"></i>
                }
                else if (@item.IsRead && item.MessageTypeId == 1 || item.MessageTypeId == 3 || item.MessageTypeId == 0)
                {
                    <i class="ico-read-message" title="Read Message"></i>
                }
                @if (!@item.IsRead && item.MessageTypeId == 2)
                {
                    <i class="ico-unread-Send-Referral" title="Unread Referral"></i>
                }
                else if (@item.IsRead && item.MessageTypeId == 2)
                {
                    <i class="ico-read-Send-Referral" title="Read Referral"></i>
                }
                @if (item.AttachmentId != null && item.AttachmentId.ToString() != "" && item.AttachmentId.ToString() != "0")
                {
                    <i class="ico-attach inbox" title="Attach File"></i>
                }
            </td>
            <td data-th="Type">@*RM-361: UI changes on 'Dashboard' page suggested by Travis*@
                @{
                    var status = (item.IsRead) ? "Read" : "Unread";
                }
                <span>@status</span>

            </td>
            <td data-th="Actions">
                <div class="dropdown mrgn-right-15">
                    <button class="btn btn-default dropdown-toggle stats-btn height34" type="button" data-toggle="dropdown">Select Action<i class="fa fa-angle-down"></i></button>
                    <ul class="dropdown-menu dropdown-select icon-list">
                        <li><a href="@Url.Action("NewGetMessageDetails", "Inbox", new { MessageId = item.MessageId, MessageDisplayType = item.MessageDisplayType, MessageTypeId = item.MessageTypeId, IsColleagueMesage = item.IsColleagueMesage, Isread = @item.IsRead, IsDashboard = 1 })" onclick=""><i class="ico-send"></i>Reply</a></li>
                       @if (@item.MessageTypeId == 1)
                       {
                        <li><a href="@Url.Action("NewGetMessageDetails", "Inbox", new { MessageId = item.MessageId, MessageDisplayType = item.MessageDisplayType, MessageTypeId = item.MessageTypeId, IsColleagueMesage = item.IsColleagueMesage, Isread = @item.IsRead, IsDashboardForward = 1 })"><i class="ico-user-group ico-foward"></i>Forward</a></li>
                        }
                        @if (@item.MessageTypeId == 1)
                        {
                            var messageid = @item.MessageId + "_" + @item.IsColleagueMesage;
                            <li><a href="javascript:;" onclick="OpenDeletePopUpForMessage('@messageid','2')"><i class="ico-delete4"></i>Delete</a></li>
                        }
                        else
                        {
                            var messageid = @item.MessageId + "_" + @item.IsColleagueMesage;
                            <li><a href="javascript:;" onclick="OpenDeletePopUpForMessage('@messageid','2')"><i class="ico-delete4"></i>Delete</a></li>
                        }
                    </ul>
                </div>
            </td>
        </tr>
                    }

                }
                else
                {
                    <tr>
                        <td style="width:100% !important">
                            <center>No More Record</center>
                        </td>
                    </tr>
                                        
                }

