﻿@model List<BO.ViewModel.AddressDetails>

@if (Model.Count > 0)
{
    foreach (var item in Model)
    {          
        <li class="@item.AddressInfoID">
            <a href="javascript:;" id="SelectLocation" data-colleagueId="@item.AddressInfoID" onclick="SelectLocation(@item.AddressInfoID)">
                <div class="img-holder">
                    <span class="tick" id="@item.AddressInfoID" onclick="CheckThis(@item.AddressInfoID)"></span>
                </div>
                <div class="txt-box">
                    <div class="txt-holder">
                        <strong>@item.Location</strong>
                        @{
                            string ExactAddress = (!string.IsNullOrWhiteSpace(item.ExactAddress)) ? item.ExactAddress + ", " : "";
                            string City = (!string.IsNullOrWhiteSpace(item.City)) ? item.City + ", " : "";
                            string State = (!string.IsNullOrWhiteSpace(item.State)) ? item.State + ", " : "";
                            string ZipCode = (!string.IsNullOrWhiteSpace(item.ZipCode)) ? item.ZipCode : "";
                        }
                        <span style="margin: 0 0 0px;">@ExactAddress</span>
                        <span style="margin: 0 0 0px;">@City @State @ZipCode</span>
                    </div>
                </div>
            </a>
        </li>
    }
}