﻿@model BO.Models.ContactUs
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_NewSiteLayoutInner.cshtml";
}
<script src="~/Scripts/Mask/Mask.js"></script>



<main id="main" role="main">
    <div class="container">
        <form id="frmContactUs">
            <div class="new-case case-overview account_page">
                <div class="row btm-margin-30  row-bordered send">
                    <div class="col-lg-12 ">
                        <div class="row">
                            <div class="col col-lg-6 col-xs-6">
                                <div class="btm-margin-30"></div>
                                <h1>Contact </h1>
                                <div class="btm-margin-30"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mrgn-btm-20">
                    <div class="col-lg-3 col-sm-4">
                        <label>First Name <font color="#FF0000">*</font> </label>
                    </div>
                    <div class="col-lg-9 col-sm-8">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                @Html.TextBoxFor(t => t.FirstName, new { @id = "txtfname", @onkeyup = "CharactersOnlytxtfirstname()", @class = "form-control", @placeholder = "First Name" })
                                <font color="#b94a48">@Html.ValidationMessageFor(t => t.FirstName)</font>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mrgn-btm-20">
                    <div class="col-lg-3 col-sm-4">
                        <label>Last Name <font color="#FF0000">*</font></label>
                    </div>
                    <div class="col-lg-9 col-sm-8">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                @Html.TextBoxFor(t => t.LastName, new { @id = "txtlname", @onkeyup = "CharactersOnlytxtlastname()", @class = "form-control", @placeholder = "Last Name" })
                                <font color="#b94a48"> @Html.ValidationMessageFor(t => t.LastName)</font>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mrgn-btm-20">
                    <div class="col-lg-3 col-sm-4">
                        <label>Phone <font color="#FF0000">*</font></label>
                    </div>
                    <div class="col-lg-9 col-sm-8">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                @Html.TextBoxFor(t => t.Phone, new { @id = "txtphone", @class = "form-control", @placeholder = "Phone" })
                                <font color="#b94a48"> @Html.ValidationMessageFor(t => t.Phone)</font>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mrgn-btm-20">
                    <div class="col-lg-3 col-sm-4">
                        <label>Email <font color="#FF0000">*</font></label>
                    </div>
                    <div class="col-lg-9 col-sm-8">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                @Html.TextBoxFor(t => t.Email, new { @id = "txtemail", @class = "form-control", @placeholder = "info@name.com" })
                                <font color="#b94a48"> @Html.ValidationMessageFor(t => t.Email)</font>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mrgn-btm-20">
                    <div class="col-lg-3 col-sm-4">
                        <label>Message @*<font color="#FF0000">*</font>*@</label>
                    </div>
                    <div class="col-lg-9 col-sm-8">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                @Html.TextAreaFor(t => t.Message, new { @id = "txtmessage", @class = "form-control", @rows = "5" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mrgn-btm-20">
                    <div class="col-lg-12">
                        <div class="btn-group btn-holder">
                            <a href="javascript:;" id="btnsave" class="btn btn-default btn2"><i class="ico-edit4"></i>Submit</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>

<script>
    $(document).ready(function () {
        $('#txtphone').mask("(999) 999-9999");
    });

    function IsCharactersOnly(data) {
        var regex = /^[a-zA-Z\/\s\.'-]*$/;
        return regex.test(data);
    }

    function CharactersOnlytxtfirstname() {
        var charactersOnly = IsCharactersOnly($('#txtfname').val());
        if (charactersOnly == false) {
            //alert('Allow characters only');
            //swal({ title: "", text: 'Allow characters only' });
            $('#txtfname').val('');
        }
    }

    function CharactersOnlytxtlastname() {
        var charactersOnly = IsCharactersOnly($('#txtlname').val());
        if (charactersOnly == false) {
            $('#txtlname').val('');
        }
    }

    $('body').on('click', function () {
        $('#txtfname').removeClass('input-validation-error');
        $('#txtlname').removeClass('input-validation-error');
        $('#txtemail').removeClass('input-validation-error');
        $('#txtphone').removeClass('input-validation-error');
    });


    $("#btnsave").click(function () {
        if (!$("#frmContactUs").valid()) {
            $('#txtfname').removeClass('input-validation-error');
            $('#txtlname').removeClass('input-validation-error');
            $('#txtemail').removeClass('input-validation-error');
            $('#txtphone').removeClass('input-validation-error');
        }
        else {
            ContactUs();
        }
    });

    function ContactUs() {
        $.ajaxSetup({ async: false });
        $("#divLoading").show();
        $.post("/ContactUs/ContactUs", { FirstName: $("#txtfname").val(), LastName: $("#txtlname").val(), Email: $("#txtemail").val(), Phone: $("#txtphone").val(), Message: $("#txtmessage").val() }, function (data) {
            if (data == "1") {
                swal({
                    title: "",
                    text: "Your mail has been sent successfully -Thank You",
                    type: "success",
                    closeOnConfirm: true,
                },
                    function () {
                        window.location.reload();
                    });
            }
            else {
                swal({ title: "", text: 'Send failure:' + data, type: 'error' });
            }
        });
        $("#divLoading").hide();
        $.ajaxSetup({ async: true });
    }

</script>
