﻿@model List<BO.Models.OneClickReferralDetails>
@if (Model != null)
{
    if (Model.Count > 0)
    {
        foreach (var item in Model)
        {
            <tr id="msg_@item.MessageId" class="countReferral">
                <td data-th="Date">
                    <a href="/Inbox/NewGetMessageDetails?MessageId=@item.MessageId&MessageDisplayType=2&MessageTypeId=2&IsColleagueMesage=1&Isread=False">@item.ReferralDate</a>
                </td>
                <td data-th="Message"><a href="/Inbox/NewGetMessageDetails?MessageId=@item.MessageId&MessageDisplayType=2&MessageTypeId=2&IsColleagueMesage=1&Isread=False">@item.MessageBody</a></td>
                <td data-th="Status">@item.MessageStatus</td>
                <td data-th="Patient">
                    <a href="/Patients/PatientHistory?PatientId=@item.PatientId">@item.PatientName</a>
                    <br>
                    @if (!string.IsNullOrWhiteSpace(item.PhoneNumber))
                    {
                        <a href="tel:@item.PhoneNumber">@item.PhoneNumber</a>
                        <br>
                    }

                    @if (!string.IsNullOrWhiteSpace(item.Email))
                    {
                        @* No to display dummy email address *@
                        if (!Convert.ToString(item.Email).Contains("domain.com"))
                        {
                            <a href="mailto:@item.Email">@item.Email</a>
                            <br />
                        }

                    }
                </td>
                <td data-th="Referred By">
                    <a href="/Profile/Index?DoctorId=@item.DoctorId">@item.DoctorName</a>
                    <br>

                    @if (!string.IsNullOrWhiteSpace(item.ReferringDoctorPhone))
                    {
                        <a href="tel:@item.ReferringDoctorPhone">@item.ReferringDoctorPhone</a>
                        <br />
                    }

                    @if (!string.IsNullOrWhiteSpace(item.ReferringDoctorEmail))
                    {
                        <a href="mailto:@item.ReferringDoctorEmail">@item.ReferringDoctorEmail</a>
                        <br />
                    }
                </td>
                <td data-th="Disposition Status">
                    <div class="dropdown mrgn-right-15">
                        @Html.DropDownList("0", new SelectList(item.DispositionList, "Id", "Status", item.DispositionId), "Select Status", new { @class = "btn btn-default dropdown-toggle stats-btn height34 isDisable", @id = "ddl_" + item.MessageId, @onchange = "InsertDispositionstatus(" + item.MessageId + ")", @data_val = item.DispositionId, style = "padding: 0 0px 0 10px !important;" })
                    </div>

                </td>

                <td data-th="Actions">

                    <div class="dropdown mrgn-right-15">
                        <button class="btn btn-default dropdown-toggle stats-btn height34" type="button" data-toggle="dropdown">Select Action<i class="fa fa-angle-down"></i></button>
                        <ul class="dropdown-menu dropdown-select icon-list">
                            <li><a href="/Inbox/NewGetMessageDetails?MessageId=@item.MessageId&MessageDisplayType=2&MessageTypeId=2&IsColleagueMesage=1&Isread=False&IsDashboard=1"><i class="ico-send"></i>Reply</a></li>
                            @*<li><a onclick="Redirect('/Patients')"><i class="ico-user-group ico-foward"></i>Forward</a></li>*@
                            @*<li><a onclick="Redirect('/Appointment?PatientId=@item.PatientId&DoctorId=@item.DoctorId')"><i class="ico-send ico-schedule"></i>Schedule</a></li>*@
                            <li><a onclick="OpenDeletePopUpForMessage('@item.MessageId','2','@item.MessageFrom')"><i class="ico-delete4"></i>Delete</a></li>
                        </ul>
                    </div>
                </td>

            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="7" style="text-align:center;width:100%;">
                <span id="Nomore">No more record found!</span>
            </td>
        </tr>
    }
}
else
{
    <tr>
        <td colspan="7" style="text-align:center;width:100%;">
            <span id="Nomore">No more record found!</span>
        </td>
    </tr>
}
