﻿@{
    Layout = "~/Views/Shared/_OCRDashboard.cshtml";
}
<style>
    button.ui-datepicker-current {
        display: none;
    }
</style>
<div class="container">
    <div class="new-case case-overview patinet list_patients rl_dashboard">
        <div class="mrgn-btm-20">
            <div class="row">
                <form role="form" action="#">
                    <div class="row">
                        <div class="col-lg-12">
                            <table class="table table3 filtered-table" id="tblReferral">
                                <thead class="thead-inverse">
                                    <tr>
                                        <th>
                                            <span class="heading">Date</span>
                                            <div class="arrows-group">
                                                <a id="msgColumn1" onclick="SortColumn('msgColumn1')" sort-col="6" sort-dir="1"><i class="ico-arrow-up"></i></a>
                                                <a id="msgColumn1" onclick="SortColumn('msgColumn1')" sort-col="6" sort-dir="1"><i class="ico-arrow-down"></i></a>
                                            </div>
                                            <div class="row date">
                                                <div class="col-lg-6 col-md-6">
                                                    @*<input placeholder="From" type="text" name="date">*@
                                                    @Html.TextBox("txtSearchFromDate", "", new { @placeholder = "From", @class = "datepicker plancase txtcompletiondate", @id = "txtSearchFromDate" })
                                                </div>
                                                <div class="col-lg-6 col-md-6">
                                                    @*<input placeholder="To" type="text" name="date">*@
                                                    @Html.TextBox("txtSearchToDate", "", new { @placeholder = "To", @class = "datepicker plancase txtcompletiondate", @id = "txtSearchToDate" })
                                                </div>
                                            </div>
                                        </th>
                                        <th>
                                            <span class="heading">Message</span>
                                            <div class="arrows-group">
                                                <a id="msgColumn2" onclick="SortColumn('msgColumn2')" sort-col="5" sort-dir="1"><i class="ico-arrow-up"></i></a>
                                                <a id="msgColumn2" onclick="SortColumn('msgColumn2')" sort-col="5" sort-dir="1"><i class="ico-arrow-down"></i></a>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    @*<input placeholder="Message" type="text">*@
                                                    @Html.TextBox("txtMessage", "", new { @placeholder = "Message", @onkeyup = "GetMessageName(event)" })
                                                </div>
                                            </div>
                                        </th>
                                        <th>
                                            <span class="heading">Status</span>
                                            <div class="arrows-group">
                                                <a id="msgColumn3" onclick="SortColumn('msgColumn3')" sort-col="4" sort-dir="1"><i class="ico-arrow-up"></i></a>
                                                <a id="msgColumn3" onclick="SortColumn('msgColumn3')" sort-col="4" sort-dir="1"><i class="ico-arrow-down"></i></a>
                                            </div>
                                            <div class="row dropdown mrgn-right-15">
                                                @Html.DropDownList("ddlStatus", new List<SelectListItem>{
                                               new SelectListItem{ Text="Read", Value="1"},
                                               new SelectListItem{ Text="Unread", Value="2"},
                                               },"All", new { @class= "btn btn-default dropdown-toggle stats-btn height34" ,@onchange= "_searchData()" }
                                               )
                                            </div>
                                        </th>
                                        <th>
                                            <span class="heading">Patient</span>
                                            <div class="arrows-group">
                                                <a id="msgColumn4" onclick="SortColumn('msgColumn4')" sort-col="3" sort-dir="1"><i class="ico-arrow-up"></i></a>
                                                <a id="msgColumn4" onclick="SortColumn('msgColumn4')" sort-col="3" sort-dir="1"><i class="ico-arrow-down"></i></a>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    @*<input placeholder="Patient" type="text">*@
                                                    @Html.TextBox("txtPatient", "", new { @placeholder = "Patient", @onkeyup = "GetPatientName(event)", @autocomplete = "on" })
                                                </div>
                                            </div>
                                        </th>
                                        <th>
                                            <span class="heading textchange">Referred By</span>
                                            <div class="arrows-group">
                                                <a id="msgColumn5" onclick="SortColumn('msgColumn5')" sort-col="1" sort-dir="1"><i class="ico-arrow-up"></i></a>
                                                <a id="msgColumn5" onclick="SortColumn('msgColumn5')" sort-col="1" sort-dir="1"><i class="ico-arrow-down"></i></a>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    @*<input placeholder="Referred By" type="text">*@
                                                    @Html.TextBox("txtReferredBy", "", new { @placeholder = "Referred By", @onkeyup = "GetdoctorName(event)" })
                                                </div>
                                            </div>
                                        </th>
                                        <th>
                                            <span class="heading">Disposition Status</span>
                                            <div class="row dropdown mrgn-right-15">
                                                <select class="select_item btn btn-default dropdown-toggle stats-btn height34" id="ddlDisposition" onchange="_searchData()">
                                                    <option>All</option>
                                                </select>
                                            </div>
                                        </th>
                                        <th>
                                            <a onclick="clearSearch();" style="cursor:pointer;" class="referral clear">Clear</a>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="jcf-scrollable" id="refData"></tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<input type="hidden" name="PageIndex" id="PageIndex" value="1" />
<input type="hidden" name="currentSortCol" id="currentSortCol" value="6" />
<input type="hidden" name="SortDirct" id="SortDirct" value="1" />
<input type="hidden" name="PageSizeSet" id="PageSizeSet" value="50" />
<div class="modal fade" id="Message_delete" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center center">

                    <p class="mrgn-btm-0" style="margin: 0;" id="desc_message"></p>
                </div>
                <div class="modal-footer bdr-top-no">
                    <div class="btn-group btn-holder">
                        <button type="button" class="btn btn-default btn1" id="btn_no" data-dismiss="modal">No</button>
                        <button type="button" class="btn btn-default btn2 blue-bg mrgn-right-0" id="btn_yes">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" name="hdnReferralFrom" id="hdnReferralFrom" value="" />
<div class="modal fade" id="cnfSendReceive" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center center">
                    <p class="mrgn-btm-0">Choose your section</p>
                </div>
                <div class="modal-footer bdr-top-no text-align-center">
                    <div class="btn-group btn-holder">
                        <button type="button" class="btn btn-default btn1" id="btn_send">Referrals Sent</button>
                        <button type="button" class="btn btn-default btn2 blue-bg mrgn-right-0" id="btn_Receive">Referrals Received</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/OCRDashboard/js/jquery.toaster.js"></script>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            
            $(".nav li:nth-child(2)").addClass('active').siblings().removeClass('active');
            $("#lireceiveReferral").removeClass('active');
            if ('@ViewBag.Sent' == 'True' && '@ViewBag.Receiver' == 'True') {
                $('#cnfSendReceive').modal('show');
                $('#cnfSendReceive').modal({ backdrop: 'static', keyboard: false })
            } else if ('@ViewBag.Sent' == 'True') {
                ChangeSent();
            } else if ('@ViewBag.Receiver' == 'True') {
                ChangeReceive();
            } else {
                ChangeReceive();
            }
            //_getdataofReceivedReferral(1);
            SetDispostionStatus();
            $("#txtSearchFromDate").datepicker({
                //todayBtn: 1, -- Commented this line for JIRA XQ1-269
                autoclose: true,
                endDate: new Date(),
                "showButtonPanel": false
            }).on('changeDate', function (selected) {
                _searchData();
                var minDate = new Date(selected.date.valueOf());
                $('#txtSearchToDate').datepicker('setStartDate', minDate);
            });
            var FromEndDate = new Date();
            $("#txtSearchToDate").datepicker({
                //todayBtn: 1, -- Commented this line for JIRA XQ1-269
                autoclose: true,
                //RM-273 related changes
                endDate: FromEndDate,
                "showButtonPanel": false
            }).on('changeDate', function (selected) {
                _searchData();
                var maxDate = new Date(selected.date.valueOf());
                $('#txtSearchFromDate').datepicker('setEndDate', maxDate);
                });
            $(".table-condensed today").css('display', 'none');
            
           
        });
    </script>
    <script src="~/Scripts/ControllerJS/Dashboard/OCRDashboard.js"></script>
}