﻿@model IEnumerable<NewRecordlinc.Models.Colleagues.AddressDetails>

<style>

	#ColleagueLocation{
		padding: 20px 15px !important;
	}
	.location_each {
		width: 48% !important;
		background: #f6f6f6 none repeat scroll 0 0;
        border: 1px solid #c8c8c8;
        box-sizing: border-box;
        display: inline-flex;
        margin: 13px 0 0 1%;
        <!-- padding-left: 13px; -->
        vertical-align: top;
	}
	.class_locationcolleagues{
		display: inline-table !important;
		width: 100% !important;
	}
</style>

<button class="mfp-close" title="Close (Esc)" type="button">×</button>
<div class="class_locationcolleagues">
    <input type="hidden" id="ColleaguesId" value="" />
    <input type="hidden" id="PatientId" value="" />

    @foreach (var item in Model)
            {
        <div id="@item.AddressInfoID" class="location_each">
            <span class="check" style="padding: 0px 10px 0px 10px"><input type="checkbox" value="@item.AddressInfoID" class="checkcolleaguelocation" name="" id="colleaguelocation" style="margin:35px 10px 0 5px "></span>

            <ul class="list">
                <li><a style="font-weight:bold;color:black;text-decoration:none"> @item.Location</a></li>
                <li>
                    @(item.ExactAddress != null ? item.ExactAddress + "," : "") @(item.City != null ? item.City + "," : "")
                </li>
                <li>
                    @(item.State != null ? item.State + "," : "") @(item.Country != null ? item.Country + "," : "")@(item.ZipCode != null ? item.ZipCode : "")
                </li>
            </ul>
            <input type="hidden" id="ColleagueContactType" value="@item.ContactType" />
        </div>
    }


</div>
<div>
    <br />
    <input class="New_cancel_btn btn-popup" style="margin-left:6px;" name="Cancel" onclick="CloseEditPatientListpop()" value="Cancel" type="submit">
    @* <a onclick="BackToSelectColleagues()"><img src="../../Content/images/back.png" style="padding:8px;height: 32px"></a>*@
    <a onclick="SelectPatient()" style="float:right;margin-right: 10px;"><img src="../../Content/images/btn-next.png"></a>
</div>
<br />



