﻿@model NewRecordlinc.Models.Colleagues.Member
<h2 class="title">
    Welcome to @Session["CompanyName"]
</h2>
<div class="cntnt">

    <div style="float:left; width:47%">
        <ul class="tablelist">
            <li>
                <label>
                    New Password:<sup class="mandatory">*</sup>
                </label><input id="txtnewpassword" type="password"
                               name="Search" value="" style="box-sizing: border-box; width: 100%; color: #666666;
                    padding: 10px; resize: none; border: 1px solid #c2c2c2;" tabindex="1" />
            </li>
            <li>
                <label>
                    Confirm Password:<sup class="mandatory">*</sup>
                </label><input id="txtconfirmpassword"
                               type="password" name="Search" value="" style="box-sizing: border-box; width: 100%;
                    color: #666666; padding: 10px; resize: none; border: 1px solid #c2c2c2;" tabindex="2" />
            </li>
            <li>
                <label>
                    First Name:<sup class="mandatory">*</sup>
                </label><input id="txtnewuserfirstname" type="text" value="@Model.FirstName" tabindex="3" />
            </li>
            <li>
                <label>
                    Last Name:<sup class="mandatory">*</sup>
                </label><input id="txtnewuserlastname" type="text" value="@Model.LastName" tabindex="4" />
            </li>
            <li>
                <label>
                    Office Name:<sup class="mandatory">*</sup>
                </label><input id="txtnewuserofficename"
                               type="text" value="" tabindex="5" />
            </li>
        </ul>
    </div>
    <div style="float:right;">
        <ul class="tablelist">
            <li>

                <label>
                    Street Address:<sup class="mandatory">*</sup>
                </label><input id="txtnewuserstreetaddress"
                               type="text" value="" tabindex="6" />
            </li>
            <li>
                <label>
                    City:<sup class="mandatory">*</sup>
                </label><input id="txtnewusercity" type="text"
                               value="" tabindex="7" />
            </li>
            <li>
                <label>
                    State:<sup class="mandatory">*</sup>
                </label>
                <div id="dvstate" tabindex="8">
                    @Html.Raw(ViewBag.state)
                </div>
            </li>
            <li>
                <label>
                    Zip Code:<sup class="mandatory">*</sup>
                </label><input id="txtnewuserzipcode" type="text" value="" tabindex="9" />
            </li>
            <li>
                <label>
                    Country:<sup class="mandatory">*</sup>
                </label>
                <div id="dvCountry" tabindex="10">
                    @Html.Raw(ViewBag.country)
                </div>
            </li>
        </ul>
    </div>

    <div class="actions">
        <input class="save_btn" name="Save" type="submit" value="Save" onclick="return UpdateNewUserDetails('@Model.UserId')" />
        @*<input class="cancel_btn" name="Cancel" type="submit" value="Cancel" onclick="Closepop()" />*@
        <div class="clear">
        </div>
    </div>
</div>


