﻿
@{
    ViewBag.Title = "Privacy Policy";
    Layout = "~/Views/Shared/_NewSiteLayoutInner.cshtml";
}

<main id="main" role="main">
    <div class="container referral">
        <div class="new-case case-overview ">
            @{ 
                ViewBag.RecordLinc = "[Company Name]";
                var RecordLinc = ViewBag.RecordLinc;
            }
            <div class="row">
                <div class="col-lg-12 mrgn-btm-20 policy">
                    <div class="btm-margin-30"></div>
                    <h2 class="mrgn-btm-20">Privacy Policy</h2>
                    <p>Conducting business ethically and ensuring privacy is critical to maintaining the dental industries trust and achieving success in a dynamic and competitive business climate. Privacy responsibility extends not only to protection of the privacy of conversations, but also to the flow of information in data form. With federal guidelines being installed in the healthcare industry that govern privacy as a whole, it is imperative to exceed the minimum security standards in order to be a market leader. As the volume and privacy of the data being transferred and shared over the Internet increases, the trust of our customers’ demands responsible and proactive privacy protections and programs. We realize the importance privacy plays in the healthcare industry.</p>
                    <p>This @RecordLinc Privacy Policy applies to information collected on. This Privacy Policy identifies the type of personal information @RecordLinc collects, how we use this information, and the steps we take to protect privacy.</p>
                    <h2 class="mrgn-btm-20">Use of Personal Health Information</h2>
                    <p>Personal information is any information about you that is personally identifiable like your name, address, email address, any prescriptions or diagnosis or phone number, and that can be used to identify an individual. It includes information provided at or during registration, during study group discussions, or when records are passed between dental professionals. @RecordLinc respects you and your patient’s privacy and will not share any information with any third-party affiliates or partners. Personal user information may be used in the following instances:</p>
                    <ul class="">
                        <li class="mrgn-btm-20">To fulfill your order or request for service. We may share that information with third parties as necessary to fulfill your order or request for service, and as necessary to obtain payment for @RecordLinc-offered products and services, including the sale of receivables to third party collection agencies and/or reporting of information to credit bureaus. (Third parties with whom @RecordLinc shares information to assist in completing orders do not have the right to use personal information provided to them beyond what is necessary to complete the order).</li>
                        <li class="mrgn-btm-20">To inform you about @RecordLinc-offered products and services of potential interest.</li>
                        <li class="mrgn-btm-20">To personalize the @RecordLinc Site based on users behavior and use patterns.</li>
                        <li class="mrgn-btm-20">To provide service for users who have questions or problems.</li>
                        <li class="mrgn-btm-20">To perform normal business operations including billing, collection, and accounting.</li>
                        <li class="mrgn-btm-20">To investigate complaints and protect @RecordLinc and its members, in compliance with the law, @RecordLinc Terms of Service, and @RecordLinc Internet policies.</li>
                        <li class="mrgn-btm-20">To respond to subpoenas, court orders or other legal process, to the extent required and/or permitted by law, to establish or exercise our legal rights or defend against legal claims, and as required by the Electronic Communications Privacy Act of 1986.</li>
                    </ul>
                    <h2 class="mrgn-btm-20">Use of Cookies</h2>
                    <p>When a user visits @RecordLinc, we log general data, including your domain name, the name of the Web page from which you entered our sites, how much time you spend on each page, other non descript behavioral data. We use this information to continually monitor and improve our site and applications. @RecordLinc may collect IP addresses and Web site usage information from you when you visit our site.</p>
                    <p>Cookies are pieces of information generated by Web servers and stored as text files in the user's computer, ready for future access. We use cookies to deliver personalized web content and keep track of your online activity. Cookies cannot pass on viruses, harm your computer or pass on private information such as an e-mail address without the user's intervention. Cookies contain session identification numbers, which allow our systems to recall previous sessions for authentication efforts and application information from our servers. Your browser can be configured to alert you when a site is attempting to send you a cookie and allow you to accept or refuse the cookie.</p>
                    <h2 class="mrgn-btm-20">Data Uses</h2>
                    <p>@RecordLinc respects the privacy of personal files in members' computers. @RecordLinc does not access, read, upload or store data contained in or derived from private files without the member's authorization. Once a member gives us that authorization, @RecordLinc may from time to time record information about your computer, communications equipment, browser type and version number, mail application, and operating system software (but no other non-@RecordLinc software). @RecordLinc will use this information on an individually identifiable basis only to analyze how current or future @RecordLinc Site features may operate and interface with your equipment; or monitor or improve the performance of @RecordLinc software on your equipment.</p>
                    <h2 class="mrgn-btm-20">Data Security</h2>
                    <p>To secure the information collected online, prevent unauthorized access, maintain data accuracy, ensure only appropriate use of information, and comply with federal security guidelines (i.e., HIPAA) @RecordLinc has established appropriate physical, electronic and managerial safeguards. This includes our requirement for user names and Member Ids and acceptance of the HIPAA policy to access sensitive data and our use of industry-standard SSL encryption to protect data transmissions.</p>
                    <h2 class="mrgn-btm-20">Privacy Policy Updates</h2>
                    <p>@RecordLinc reserves the right to revise the terms of this notice, and to make the revised terms effective for all Protected Health Information that is maintains. If @RecordLinc makes any substantial revisions in our policies we will notify you by posting a prominent announcement on our pages and make the revised copies available within sixty (60) days</p>
                    <h2 class="mrgn-btm-20">Questions, Comments, Concerns</h2>
                    <p>@RecordLinc will happily address any concerns about our Privacy Policy or inaccuracies regarding the handling of you or your patients Personal Health Information. Contact us at:<a href="https://www.RecordLinc.com" target="_blank"> https://www.RecordLinc.com</a></p>
                </div>
            </div>
        </div>
    </div>
</main>
