﻿@model BO.ViewModel.FooterDetails
@using DentalFiles.App_Start
<footer id="main-footer">
    @if (Model.lstFooterCity.Count > 0)
    {
        <div class="search-by-location">
            <div class="container">
                <h2>Find a Dentist By Location</h2>
                <div class="row">
                    <div class="col-sm-12">
                        @{
                            int i = 0;
                            foreach (var item in Model.lstFooterCity.ToList().OrderBy(p => p.City))
                            {
                                if (i == 0)
                                {
                                    @Html.Raw("<ul>");
                                }
                                <li><a href="#" onclick="return searchLocation('@item.City');">@item.City</a></li>
                                if (i == 4)
                                {
                                    i = 0;
                                    @Html.Raw("</ul>");
                                }
                                else
                                {
                                    i++;
                                }

                            }
                        }
                </div>
            </div>
        </div>
    </div>
}
    <div class="search-by-location">
        <div class="container">
            <div class="row">
                @if (Model.lstSpecialityList.Count > 0)
                {
                    <div class="col-sm-5 col-md-5 col-lg-5 half-list">
                        <h2>Find a Dentist By Speciality</h2>
                            @{
                                int i = 0;
                                foreach (var item in Model.lstSpecialityList.ToList().OrderBy(p => p.Specialitity))
                                {
                                    if (i == 0)
                                    {
                                        @Html.Raw("<ul>");
                                    }
                                    <li><a href="#" onclick="return searchSpeciality(@item.SpecialityId)">@item.Specialitity</a></li>
                                    if (i == 4)
                                    {
                                        i = 0;
                                        @Html.Raw("</ul>");
                                    }
                                    else
                                    {
                                        i++;
                                    }

                                }
                            }
                </div>
                            }
                <div class="col-sm-4 col-md-4 col-lg-4 half-list  fot-border-right-w-pad">
                    <h2>My Dental Files</h2>
                    <ul>
                        <li><a href="@Url.Action("Index","Aboutus",new { })">About Us</a></li>
                        <li><a href="@Url.Action("Index","PrivacyPolicy")">Privacy Policy</a></li>
                        <li><a href="@Url.Action("Index", "QuickTour")">Quick Tour</a></li>
</ul>
                    <ul>


                        <li><a href="@Url.Action("Index","ContactUs",new { })">Contact</a></li>
                        <li><a href="@Url.Action("Index","TermsAndConditions")">Terms &amp; Conditions</a></li>

                        @*<li><a href="#">Login</a></li>*@
                    </ul>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 foot-follow-us">
                    <h2>Follow Us</h2>
                    <ul>
                        <li><a class="fb_nw" href="https://www.facebook.com/mydentalfiles" target="_blank"></a></li>
                        <li><a class="g_plus_nw" href="@SessionManagement.CompanyGoogle" target="_blank"></a></li>
                        <li><a class="tw_nw" href="@SessionManagement.CompanyTwitter" target="_blank"></a></li>
                        <li><a class="linkedin_nw" href="@SessionManagement.CompanyLinkedin" target="_blank"></a></li>
                        <li><a class="pinterest_nw" href="@SessionManagement.CompanyPinterest" target="_blank"></a></li>
                        <li><a class="yt_nw" href="@SessionManagement.CompanyYoutube" target="_blank"></a></li>
                        <li><a class="vimeo_nw" href="@SessionManagement.CompanyVimeo" target="_blank"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="links-holder">
        <div class="container">
            <ul class="list-inline footer-links">
                <li><a href='@Url.Action("Index", "PrivacyPolicy")'>Privacy Policy</a></li>
                <li><a href='@Url.Action("Index", "TermsAndConditions")'>Terms &amp; Conditions</a></li>
                @*<li><a href="@Url.Action("Career","Aboutus")">Careers</a></li>*@
                <li><a href="@Url.Action("Index", "ContactUs")">Contact Us</a></li>
                <li><a href="@Url.Action("Index","Aboutus")">About Us</a></li>
                @*<li><a href='@Url.Action("Help", "Dashboard")'>Training</a></li>*@
            </ul>
        </div>
    </div>
    <div class="container">
        <p>&copy; <a href="@SessionManagement.CompanyWebsite">RecordLinc</a> @System.DateTime.Now.Year.ToString()</p>
    </div>
</footer>