﻿@model List<OneClickReferral.Models.SearchColleagueViewModel>
@try
            { /* jira XQ1-696*/
                if (Model != null && Model.Count > 0)
                {
                    foreach (var item in Model)
                    {
            <div class="col col-lg-3 col-md-4 col-sm-12 col-xs-12 search-field-section" id="div_@item.UserId">
                <div class="search-field-section-inner-wrap" id="row_@item.UserId">
                    <div class="img-box">
                        <a href="/Profile/ViewProfile?id=@item.UserId">
                            <img src="@item.ImageName" alt="@((item.FirstName != string.Empty && item.FirstName != null ? item.FirstName + " " : string.Empty) + (item.LastName != string.Empty && item.LastName != null ? item.LastName : string.Empty))">
                        </a>
                    </div>
                    <div class="text-box">
                        <div class="colleague-info" >
                            <a class="whichkey" href="/Profile/ViewProfile?id=@item.UserId"><p class="title"><strong>@item.FirstName &nbsp; @item.LastName</strong></p></a>
                            <p><a href="mailto:@item.Email">@item.Email</a></p>
                            <p><a href="sms:@item.Email">@item.Phone</a></p>
                            <p>@item.OfficeName</p>
                            <p>@item.Specialities</p>
                            <p>@(item.City != string.Empty && item.City != null ? item.City + ", " : string.Empty)  &nbsp; @item.State &nbsp;(@((item.Miles) + "Miles" ))</p>
                        </div>
                        <div class="btn-group btn-holder">
                            <a style="cursor:pointer" onclick="AddColleagues(@item.UserId)" class="btn btn-default btn1"><i class="add_dentist_icon"></i>Add Colleague</a>
                        </div>
                    </div>
                </div>
            </div>
        }
}
    else
    {
        <div class="col-lg-12 ">
            <div class="row fve_button">
                <center><span id="no_more">No more record found</span></center>
            </div>
        </div>
    }
}
catch (Exception Ex)
{
    <div class="col-lg-12 ">
        <div class="row fve_button">
            <center><span id="no_more">@Html.Partial("_PartialError")</span></center>
        </div>
    </div>
    Common.LogError(Ex);
}
