﻿
@{
    ViewBag.Title = "Colleagues";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<main id="main" role="main">
    <div class="container">
        <div class="new-case case-overview patinet list_patients colleagues">            
            <div class="mrgn-btm-20"></div>
                <div class="col-lg-12 ">                
                </div>                     
                <div class="row mrgn-btm-20 search-center">
                    <div class="col-lg-12 btn-row">                        
                        <div class="inner-menu">
                            <a href="javascript:;"><i class="fa fa-ellipsis-v"></i></a>
                        </div>
                        <div class="btn-group btn-holder">
                            <a href="/Colleagues/Search" class="btn btn-default btn1">Add Colleagues</a>
                        </div>
                        <div class="search-field-section">
                            <input type="text" class="form-control" placeholder="Search Colleagues" id="txtSearchColleagues" onkeyup='HdrSearchColleague(event)'>
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit" onclick="SearchColleague()"><i class="icon-search"></i></button>
                            </div>
                        </div>
                      
                    </div>
                </div>
                <div class="row mrgn-btm-20">
                    <div class="col-lg-12">
                        <table class="table table3 filtered-table jcf-scrollable">
                            <thead class="thead-inverse">
                                <tr>                                  
                                    <th>
                                        Profile Info                                    
                                    </th>
                                    <th>
                                        Contact Info                                        
                                    </th>
                                    <th>
                                        Referral Info                                        
                                    </th>
                                    <th>Actions</th>                                   
                                </tr>
                            </thead>
                            <tbody id="appColleague"></tbody>
                        </table>
                    </div>
                </div>           
        </div>
    </div>
</main>
<div class="modal fade" id="colleage_delete" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center center">
                    <img class="mrgn-btm-20" id="ImageExcel" src="~/Content/Dashboard/images/Delete_Popup.png" />
                    <p class="mrgn-btm-0" style="margin: 0;" id="desc_message_cd"></p>
                </div>
                <div class="modal-footer bdr-top-no">
                    <div class="btn-group btn-holder" id="btn-grp">
                        <button type="button" class="btn btn-default btn1" id="btn_no_cd" data-dismiss="modal">No</button>
                        <button type="button" class="btn btn-default btn2 blue-bg mrgn-right-0" id="btn_yes_cd">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="multiple_delete" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center center">
                    <img class="mrgn-btm-20" id="ImageExcel" src="~/Content/Dashboard/images/Delete_Popup.png" />
                    <p class="mrgn-btm-0" style="margin: 0;" id="desc_message"></p>
                </div>
                <div class="modal-footer bdr-top-no">
                    <div class="btn-group btn-holder">
                        <button type="button" class="btn btn-default btn1" id="btn_no" data-dismiss="modal">No</button>
                        <button type="button" class="btn btn-default btn2 blue-bg mrgn-right-0" id="btn_yes">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="EnableDisableitem" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center center">
                    <p id="desc_enmessage" class="mrgn-btm-0" style="margin: 0;">Are you sure you want to enable Has Button?</p>
                    <p id="desc_dismessage" class="mrgn-btm-0" style="margin: 0;display:none;">Are you sure you want to disable Has Button?</p>
                </div>
                <div class="modal-footer bdr-top-no">
                    <div class="btn-group btn-holder">
                        <button type="button" class="btn btn-default btn1" id="btnno" data-dismiss="modal">No</button>
                        <a type="button" id="btnyes" class="btn btn-default btn2 blue-bg mrgn-right-0">Yes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" name="HdnPagesize" id="HdnPageSize" value="35" />
<input type="hidden" name="HdnPageIndex" id="HdnPageIndex" value="1" />
<input type="hidden" name="hdnsortcolumn" id="HdnSortColumn" value="12" />
<input type="hidden" name="hdnsortdirection" id="HdnSortDirection" value="1" />
<script src="~/Content/Dashboard/js/jcf.js"></script>
<script src="~/Scripts/ControllerJS/Colleagues/ColleagueListing.js"></script>

