﻿
@{
    ViewBag.Title = "Invite";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/css/select2.min.css" />
<script type="text/javascript" src="~/Scripts/select2.min.js"></script>
<main id="main" role="main">
    <div class="container">
        <div class="new-case case-overview patinet patient_form">

            <div class="row btm-margin-30 row-bordered referral">
                <div class="col-lg-12 ">
                    <div class="row fve_button">
                        <div class="col col-lg-4 col-md-5 col-sm-6 col-xs-6 col-lg-pull-8 col-md-pull-7 col-sm-pull-6 col-xs-pull-6 show-on-phones">
                            <h1 class="inline">Invite Colleague</h1>
                        </div>
                        <div class="col col-lg-8 col-md-7 col-sm-6 col-xs-6 col-lg-push-4 col-md-push-5 col-sm-push-6 col-xs-push-6">
                            <div class="btn-group">
                                    <a href="/Colleagues" class="btn-default btn-cases" title="Colleague" data-toggle="tooltip" data-placement="bottom"><i class="ico-colleague"></i>Colleague</a>
                                </div>
                            <div class="btn-group">
                                <a href="/Colleagues/Search" class="btn-default btn-cases" title="Search Colleague" data-toggle="tooltip" data-placement="bottom"><i class="ico-search-colleague"></i>Search Colleague</a>
                            </div>
                        </div>
                        <div class="col col-lg-4 col-md-5 col-sm-6 col-xs-6 col-lg-pull-8 col-md-pull-7 col-sm-pull-6 col-xs-pull-6 hide-on-phones">
                            <h1 class="inline">Invite Colleague</h1>
                        </div>
                    </div>
                </div>
            </div>

            <div id="dvInviteColleagues">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="enter-email-bar mrgn-0 mrgn-btm-20">
                            <form role="form">
                                <div class="form-group mrgn-0">
                                    <select id="ddlEmail" style="width:100%;"></select>                                   
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row referral">
                    <div class="col-lg-12 ">
                        <div class="row fve_button">
                            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 mrgn-btm-20">
                                <h4 class="inline">OR</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="wizard">
                    <div class="tab-pane">
                        <div class="row">
                            <div class="col-lg-12 mrgn-btm-20">
                                <h4>Upload List Of Colleagues<font color="red">*</font></h4>
                            </div>
                        </div>
                        <div id="uploadFiles" class="form-group mrgn-btm-20">
                            <div class="btn-group btn-holder ">
                                <div class="fileUpload2 ">
                                    <span>Upload Files</span>
                                    <input class="upload" type="file" title="Upload Files" id="patientExcelUpload">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <ul class="upload-list" id="tempExcelContent">                               
                                </ul>
                                <p class="font-16"><a style="cursor:pointer;" onclick="ExampleFile('@System.Configuration.ConfigurationManager.AppSettings.Get("ImageBank")Invite_Colleagues.xls')">Click here to download example template file.</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-lg-12 mrgn-btm-20">
                        <h2 class="inline">Include a personal note (optional)</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 message-type">
                        <form role="form">
                            <div class="form-group mrgn-0">
                                <textarea class="form-control" id="txtMessage" value="I have added you as a colleague in my professional referral network on One Click Referral." placeholder="I have added you as a colleague in my professional referral network on One Click Referral."></textarea>
                                <div class="row btm-margin-30">
                                    <div class="col-lg-12">
                                        <div class="btn-group btn-holder">
                                            <button id="Sendinvitebtn" type="button" class="btn btn-default btn-primary" onclick="return ValidateEmail()"><i class="ico-send1"></i>Send Invites</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>            
            <div class="row ">
                <div class="col-lg-12 mrgn-btm-20">
                    <div id="dvMessage">                      
                    </div>
                </div>
            </div>         
        </div>
    </div>
</main>
<div class="modal fade" id="colleage_delete" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center center">
                    <img class="mrgn-btm-20" id="ImageExcel" src="~/Content/Dashboard/images/Delete_Popup.png" />
                    <p class="mrgn-btm-0" style="margin: 0;" id="desc_message_cd"></p>
                </div>
                <div class="modal-footer bdr-top-no">
                    <div class="btn-group btn-holder" id="btn-grp">
                        <button type="button" class="btn btn-default btn1" id="btn_no_cd" data-dismiss="modal">No</button>
                        <button type="button" class="btn btn-default btn2 blue-bg mrgn-right-0" id="btn_yes_cd">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="ExcelUploadPopUp" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center center">
                    <img class="mrgn-btm-20" id="ImageExcel" src="~/Content/Dashboard/images/excel-ico.png" />
                    <p class="mrgn-btm-0" style="margin: 0;" id="desc_message"></p>
                </div>
                <div class="modal-footer bdr-top-no">
                    <div class="btn-group btn-holder">
                        <button type="button" class="btn btn-default btn1" data-dismiss="modal" id="btn_no">No</button>
                        <button type="button" class="btn btn-default btn2 blue-bg mrgn-right-0" id="btn_yes">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/ControllerJS/Colleagues/InviteColleagues.js"></script>
<script type="text/javascript">
    function validateEmail(email) {
        var re = /^([a-zA-Z0-9][a-zA-Z0-9_.+-]+@@[\w-.]+\.[A-Za-z]{2,4},?)+$/;
        return re.test(email);
    }
</script>