﻿@model List<OneClickReferral.Models.TempFileAttacheMents>
@try
{

    foreach (var lstAttachment in Model)
    {
        string FilePath = string.Empty;
        string TempFileId = string.Empty;
        string TempFilePath = string.Empty;
        switch (lstAttachment.FileFrom)
        {
            case (int)BO.Enums.Common.FileFromFolder.TempFile_TempFolder:
                FilePath = HttpContext.Current.Request.Url.Scheme + "://" + HttpContext.Current.Request.Url.Authority + "/Content/images/" + OneClickReferral.Models.Common.CheckFileExtenssionOnlyThumbName("unknown" + lstAttachment.FilePath);
                TempFilePath = HttpContext.Current.Request.Url.Scheme + "://" + HttpContext.Current.Request.Url.Authority + System.Configuration.ConfigurationManager.AppSettings["CSVUploadFolderPath"].Replace("~/", "/") + lstAttachment.FilePath;
                TempFileId = "F_" + lstAttachment.FileId;
                break;
            case (int)BO.Enums.Common.FileFromFolder.TempImage_TempFolder:
                FilePath = HttpContext.Current.Request.Url.Scheme + "://" + HttpContext.Current.Request.Url.Authority + System.Configuration.ConfigurationManager.AppSettings["CSVUploadFolderPath"].Replace("~/", "/") + lstAttachment.FilePath;
                TempFileId = "I_" + lstAttachment.FileId;
                break;
            case (int)BO.Enums.Common.FileFromFolder.Draft_DraftAttachments:
                if (lstAttachment.FileExtension == 0)
                {
                    FilePath = HttpContext.Current.Request.Url.Scheme + "://" + HttpContext.Current.Request.Url.Authority + Common.SafeString(System.Configuration.ConfigurationManager.AppSettings.Get("DraftAttachments")) + lstAttachment.FilePath;
                    TempFilePath = HttpContext.Current.Request.Url.Scheme + "://" + HttpContext.Current.Request.Url.Authority + Common.SafeString(System.Configuration.ConfigurationManager.AppSettings.Get("DraftAttachments")) + lstAttachment.FilePath;
                }
                else
                {
                    FilePath = HttpContext.Current.Request.Url.Scheme + "://" + HttpContext.Current.Request.Url.Authority + "/Content/images/" + OneClickReferral.Models.Common.CheckFileExtenssionOnlyThumbName("unknown" + lstAttachment.FilePath);
                    TempFilePath = HttpContext.Current.Request.Url.Scheme + "://" + HttpContext.Current.Request.Url.Authority + System.Configuration.ConfigurationManager.AppSettings["DraftAttachments"].Replace("~/", "/") + lstAttachment.FilePath;
                }
                TempFileId = Common.SafeString(lstAttachment.FileId);
                break;

        }
        {
            string NewAttachementName = string.Empty;
            NewAttachementName = Common.SafeString(@lstAttachment.FileName);
            var extention = Path.GetExtension(NewAttachementName).ToLower();
            NewAttachementName = (Common.SafeString(NewAttachementName).Length > 20 ? NewAttachementName.Substring(0, 20) + "..." + extention : NewAttachementName);
        }

        <li id="@TempFileId">
            <div class="img-holder">
                @* RM-77    adding download attribute in below anchor*@
                <a download="@lstAttachment.FileName" href="@(FilePath)">
                    <img src="@(lstAttachment.FileFrom != (int)BO.Enums.Common.FileFromFolder.TempFile_TempFolder && lstAttachment.FileExtension == 0 ? Html.Action("GetBase64ContentOFImage", "Common", new { FileId = 0, FileFrom = lstAttachment.FileFrom, FileName = lstAttachment.FilePath }) : new MvcHtmlString(FilePath))" alt="@lstAttachment.FileName">
                </a>
            </div>
            <div class="list-text">
                <span class="file-name"><a href=""></a></span>
                <span class="file-size"><a download="@lstAttachment.FileName" href="@(FilePath)">@lstAttachment.FileName</a></span>
                @if (lstAttachment.FilePath != null || lstAttachment.FilePath != "")
                {
                    <input type="hidden" id="hdnfilename" value="@lstAttachment.FilePath" />
                    var c = 0;
                    <input type="hidden" id="hdnCount" value="@c" />
                }
                else
                {
                    <input type="hidden" id="hdnCount" value="" />
                }
            </div>
            <div class="btn-group delete-btn">
                <a href="javascript:void(0)" onclick="DeleteExcel(@lstAttachment.FileId,@lstAttachment.FileFrom,'@lstAttachment.FilePath','@TempFileId',@lstAttachment.ComposeType)" class="btn btn-default btn-secondary"><i class="ico-delete"></i>Delete</a>
            </div>
        </li>
    }
}
catch (Exception Ex)
{
    <li>@Html.Partial("_PartialError")</li>
    Common.LogError(Ex);
}


