﻿@model List<OneClickReferral.Models.StateList>
@{
    ViewBag.Title = "SearchColleague";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<main id="main" role="main">
    <div class="container">
        <div class="new-case case-overview patinet patient_form">
            <div class="row btm-margin-30 row-bordered referral">
                <div class="col-lg-12 ">
                    <div class="row fve_button">
                        <div class="col col-lg-4 col-md-5 col-sm-6 col-xs-6 col-lg-pull-8 col-md-pull-7 col-sm-pull-6 col-xs-pull-6 show-on-phones">
                            <h1 class="inline">Search Colleagues</h1>
                        </div>
                        <div class="col col-lg-8 col-md-7 col-sm-6 col-xs-6 col-lg-push-4 col-md-push-5 col-sm-push-6 col-xs-push-6">
                            <div class="btn-group">
                                <a href="/Colleagues/Invite" class="btn-default btn-cases" title="Invite by Email" data-toggle="tooltip" data-placement="bottom"><i class="ico-invite-colleague"></i>Invite by Email</a>
                            </div>
                            <div class="btn-group">
                                <a href="/Colleagues" class="btn-default btn-cases" title="Colleagues" data-toggle="tooltip" data-placement="bottom"><i class="ico-colleague"></i>Colleagues</a>
                            </div>
                        </div>
                        <div class="col col-lg-4 col-md-5 col-sm-6 col-xs-6 col-lg-pull-8 col-md-pull-7 col-sm-pull-6 col-xs-pull-6 hide-on-phones">
                            <h1 class="inline">Search Colleagues</h1>
                            <div class="search-field-section">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 ">
                            <div class="row">
                                <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 search-field-section mrgn-btm-20">
                                    <input placeholder="Name" type="text" id="txtDoctorName">
                                </div>                               
                                <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 search-field-section mrgn-btm-20">
                                    <input placeholder="Email" type="text" id="txtEmail">
                                </div>
                                <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 search-field-section mrgn-btm-20">
                                    <input placeholder="Phone" type="text" id="txtPhone" class="numericOnly" maxlength="10">
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 ">
                            <div class="row">
                                <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 search-field-section mrgn-btm-20">
                                    <input placeholder="Specialty" type="text" id="txtSpeciality">
                                </div>
                                <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 search-field-section mrgn-btm-20">
                                    <input placeholder="City" type="text" id="txtCity">
                                </div>
                                <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 search-field-section mrgn-btm-20">
                                    <div class="row">
                                        <div class="col col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                            <div class="dropdown latest_dropdown forms">
                                                <select id="ddlState" class="form-control">
                                                    <option value="Select State">Select State</option>
                                                    @foreach (var item in Model)
                                                    {
                                                        <option value="@item.StateCode">@item.StateName</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                            <input placeholder="Zip" type="text" id="txtZipcode" class="numericOnly" maxlength="6">
                                        </div>
                                    </div>
                                </div>                                
                            </div>
                        </div>
                    </div>
                    <div class="row mrgn-btm-20">
                        <div class="col-lg-12">
                            <div class="btn-group btn-holder">
                                <a class="btn btn-default btn1" onclick="Clear();"><i class="ico-corss2"></i>Cancel</a>
                                <a class="btn btn-default btn2" onclick="SearchColleague();"><i class="ico-edit4"></i>Submit</a>
                            </div>
                        </div>
                    </div>
                    <div class="row mrgn-btm-20">
                        <div class="col-lg-12 ">
                            <div class="row" id="appendDentist"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<input type="hidden" name="HdnPageIndex" id="HdnPageIndex" value="1" />
<input type="hidden" name="HdnPageSize" id="HdnPageSize" value="35" />
<script src="~/Scripts/ControllerJS/Colleagues/SearchColleagues.js"></script>