﻿@model string
@{
    ViewData["Title"] = "Chat Server";
}
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<div class="col-sm-12">

    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="msg">
                        <h5 id="hdParticipants"><b>Participants:</b> </h5><hr />
                        <div style="margin-bottom:5px; height:400px; overflow: auto;" id="msgs"></div>
                    </div>
                </div>
                <hr />
                <div class="col-sm-12">
                    <div style="height:20px;bottom:10px;left:0;width:100%">
                        <input disabled="disabled" type="text" class="form form-control" style="max-width:unset;width:100%;max-width:100%" id="MessageField" placeholder="type message and press enter" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    var protocol = location.protocol === "https:" ? "wss:" : "ws:";
    var wsUri = protocol + "//" + window.location.host + "@Configuration["ApplicationRoot"]";
    var socket = new WebSocket(wsUri);
    socket.onopen = e => {
        console.log("socket opened", e);
    };

    socket.onclose = function (e) {
        console.log("socket closed", e);
    };
    socket.onerror = function (e) {
        console.error(e.data);
    };

    function LoadSession(chatId, participants) {
        var userName = '@Model';
        $('#msgs').html("");
        $('#hdParticipants').html("");
        $('#MessageField').val('');
        //load messages for session
        $('#hdParticipants').html("<b>Participants:</b> " + participants.replace(",", ", "));
        $.getJSON("@Configuration["ApplicationRoot"]/Home/Messages?chatId=" + chatId, function (data) {

            if (data.length < 1) {
                return;
            } else {

                for (var i = 0; i < data.length; i++) {
                    if (data[i].Sender !== userName) {
                        $('#msgs').append("	<div class='d-flex justify-content-start mb-4'>	<div class='img_cont_msg'><strong>" + data[i].Sender + ": </strong></div><div class='msg_cotainer'>" + data[i].Message + "	<span class='msg_time'>" + moment(data[i].CreatedDate, 'YYYY-MM-DD HH:mm').format("MM/DD/YYYY HH:mm") + "</span></div></div>");
                    } else {
                        $('#msgs').append("	<div class='d-flex justify-content-end mb-4'><div class='msg_cotainer_send'>" + data[i].Message + "	<span class='msg_time_send'>" + moment(data[i].CreatedDate, 'YYYY-MM-DD HH:mm').format("MM/DD/YYYY HH:mm") + "</span></div></div>");
                    }
                }
            }
            var objDiv = document.getElementById("msgs");
            objDiv.scrollTop = objDiv.scrollHeight;
        });




        socket.onmessage = null;
        socket.onmessage = undefined;
        socket.onmessage = function (e) {
            //console.log(e);
            var data = JSON.parse(e.data);
            if (data.ChatId === chatId) {
                if (data.Sender !== userName) {
                    $('#msgs').append("	<div class='d-flex justify-content-start mb-4'>	<div class='img_cont_msg'><strong>" + data.Sender + ": </strong></div><div class='msg_cotainer'>" + data.Message + "	<span class='msg_time'>" + moment(data.CreatedDate, 'YYYY-MM-DD HH:mm').format("MM/DD/YYYY HH:mm") + "</span></div></div>");
                } else {
                    $('#msgs').append("	<div class='d-flex justify-content-end mb-4'><div class='msg_cotainer_send'>" + data.Message + "	<span class='msg_time_send'>" + moment(data.CreatedDate, 'YYYY-MM-DD HH:mm').format("MM/DD/YYYY HH:mm") + "</span></div></div>");
                }
                var objDiv = document.getElementById("msgs");
                objDiv.scrollTop = objDiv.scrollHeight;
            }
        };

        $('#MessageField').off("keypress");
        $('#MessageField').on("keypress", function (e) {
            if (e.which != 13) {
                return;
            }

            e.preventDefault();
            var message = {
                "ChatId": chatId,
                "Message" :  $('#MessageField').val() ,
                "CreatedDate" : new Date(),
                "Sender": "@Model",
                "IsAttachment": false
            };

            socket.send(JSON.stringify(message));
            $('#MessageField').val('');
        });

        $('#MessageField').removeAttr("disabled");
    }
    
</script>
