﻿@model List<ChatServer.Infrastructure.Model.ChatModel>
@{
    Layout = null;
}
<ul class="nav">
    <li style=" padding-left:15px; border-bottom: 5px solid #d5257b;" class="nav-item navbar-brand">
        <i class="fas fa-users"></i> Chats
    </li>
    @foreach (var item in Model)
    {
        var sParticipants = string.Join(',', item.ChatParticipants.Select(c => c.Participant));
        if (item.ChatParticipants.Count() > 2)
        {

            <li class="nav-item">
                <a id="chatButton_@item.Id" title="@sParticipants" class="nav-link nav-link-info" href="#" target="_top">
                    <i class="fas fa-user"></i>
                    @item.Description
                </a>
                <script>
                $("#chatButton_@item.Id").on("click", function (e) {
                    e.preventDefault();

                    $(".nav-link.nav-link-info").find(".fa-arrow-right").remove();
                    $(".nav-link.nav-link-info").css("background-color", "#63c2de");
                    $(this).css("background-color", "#387a8d").append('<i class="fas fa-arrow-right pull-right"></i>');
                    LoadSession(@item.Id, "@sParticipants");
                });
                </script>
            </li>

        }
        else
        {
            var user = Context.Request.Query["user"];

            <li class="nav-item">
                <a id="chatButton_@item.Id" title="@sParticipants" class="nav-link nav-link-info" href="#" target="_top">
                    <i class="fas fa-user"></i>
                    @foreach (var p in item.ChatParticipants)
                    {
                        if (p.Participant != user)
                        {
                            <span style="width:60px; overflow:hidden; white-space: nowrap; text-overflow: ellipsis;">@p.Participant</span>
                        }
                    }
                </a>
                <script>
                $("#chatButton_@item.Id").on("click", function (e) {
                    e.preventDefault();
                    $(".nav-link.nav-link-info").find(".fa-arrow-right").remove();
                    $(".nav-link.nav-link-info").css("background-color", "#63c2de");
                    $(this).css("background-color", "#387a8d").append('<i class="fas fa-arrow-right pull-right"></i>');
                    LoadSession(@item.Id, "@sParticipants");
                });
                </script>
            </li>
        }

    }
</ul>

<style>
    .chat-active {
        background-color: #387a8d;
    }
</style>
