<form action="http://localhost:50428/PMS/ReferPatient" method="post">
    <input type="hidden" id="hdntoken" name="Token" value="3fd4aa5f-1de0-4335-971b-53bb3ad7d06b">
<!-- UserId-61 -->
    <input type="hidden" id="hdn_patient_firstname" name="patient.FirstName" value="Ankit">
    <input type="hidden" id="hdn_patient_lastname" name="patient.LastName" value="Patel">
    <input type="hidden" id="hdn_patient_gender" name="patient.Gender" value="M">
    <input type="hidden" id="hdn_patient_email" name="patient.Email" value="anksol@gmail.com">
    <input type="hidden" id="hdn_patient_phone" name="patient.Phone" value="9090909090">
    <input type="hidden" id="hdn_patient_patientid" name="patient.PatientId" value="0">
    <input type="hidden" id="hdn_patient_mobile" name="patient.Mobile" value="9898989898">

    <input type="hidden" id="hdn_provider_FirstName" name="provider.FirstName" value="kiran">
    <input type="hidden" id="hdn_provider_lastname" name="provider.LastName" value="patel">
    <input type="hidden" id="hdn_provider_email" name="provider.Email" value="kiralptl@gmail.com">
    <input type="hidden" id="hdn_provider_phone" name="provider.Phone" value="9999999999">
    <input type="hidden" id="hdn_provider_speciality" name="provider.Speciality" value="0">
    <input type="hidden" id="hdn_provider_providerid" name="provider.ProviderId" value="0">
    <input type="hidden" id="hdn_provider_mobile" name="provider.Mobile" value="9879198791">

    <button type="submit" class="btn btn-default">Submit</button>
</form>
