$breakpoints: (
  'xs-phone': 320px,
  'phone': 480px,
  'tablet': 768px,
  'desktop': 992px,
  'widescreen': 1200px
);

// keywords
$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// ligatured operators ≥ ≤

@import 'vendors/include-media';

@import "bootstrap-custom";
@import "vendors/bootstrap/variables";
@import "vendors/bootstrap/mixins";

@import 'base/mixins';
@import 'base/helpers';

@font-face {
  @include fontface(icomoon, icomoon, 400, normal);
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-arrow-right:before {
  content: "\e90d";
}
.icon-chevron-down:before {
  content: "\e903";
}
.icon-chevron-left:before {
  content: "\e900";
}
.icon-chevron-right:before {
  content: "\e901";
}
.icon-chevron-up:before {
  content: "\e904";
}
.icon-user:before {
  content: "\e902";
}
.icon-phone2:before {
  content: "\e0cd";
}
.icon-envelope-o:before {
  content: "\f003";
}
.icon-star:before {
  content: "\f005";
}
.icon-star-o:before {
  content: "\f006";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-phone:before {
  content: "\f095";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-unlock:before {
  content: "\f09c";
}
.icon-globe:before {
  content: "\f0ac";
}
.icon-google-plus:before {
  content: "\f0d5";
}
.icon-linkedin:before {
  content: "\f0e1";
}
.icon-star-half-empty:before {
  content: "\f123";
}
.icon-star-half-full:before {
  content: "\f123";
}
.icon-star-half-o:before {
  content: "\f123";
}
.icon-youtube-play:before {
  content: "\f16a";
}
.icon-pinterest-p:before {
  content: "\f231";
}
.icon-vimeo:before {
  content: "\f27d";
}
.icon-chevron-small-down:before {
  content: "\e913";
}
.icon-chevron-small-left:before {
  content: "\e914";
}
.icon-chevron-small-right:before {
  content: "\e915";
}
.icon-chevron-small-up:before {
  content: "\e916";
}

body {
  min-width: 320px;
}

.bg-image {
  @include position-zero;

  z-index: -1;
  position: absolute;
  background-position: 50% 50%;
  background-size: cover;
}

.btn {
  @include font-size(18px, 24px);

  border: none !important;
  white-space: normal;
}

h2 {
  @include font-size(24px, 28px);

  font-weight: 300;
  margin: 0 0 10px;

  @include media('<tablet') {
    @include font-size(20px, 24px);
  }
}

.form-control {
  @include font-size(14px, 18px);
  @include placeholder(#c0c0c0);

  height: 40px;
  box-shadow: none;
  border-radius: 2px;
  color: #c0c0c0;
  padding: 4px 8px;
}

#wrapper {
  position: relative;
  overflow: hidden;
}

#header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  overflow: hidden;
  z-index: 99;
  background: rgba(#fff, 0.8);
}

#main-header {
  position: relative;
  padding: 10px 0 0;
  font-family: 'Roboto', sans-serif;

  &:after {
    display: block;
    clear: both;
    content: '';
  }

  .top-bar {
    padding: 10px 0;
    border-bottom: 1px solid #e5e5e5;
  }

  .logo {
    float: left;
    width: 169px;

    @include media('<desktop') {
      width: 120px;
    }

    img {
      width: 100%;
      height: auto;
      vertical-align: top;
    }

    a {
      display: block;
    }
  }

  .login-area {
    font-size: 14px;
    line-height: 18px;
    overflow: hidden;
    text-transform: uppercase;
    padding: 5px 28px 16px 0;

    @include media('<tablet') {
      display: none;
    }

    ul {
      margin: 0;
    }

    li {
      padding: 0 0 0 25px;
    }

    .btn {
      font-size: 14px;
      line-height: 18px;
      padding: 11px 23px;

      i {
        display: inline-block;
        vertical-align: top;
        margin: 2px 8px 0 0;
      }
    }

    .tel {
      font-size: 18px;
      line-height: 22px;
      display: inline-block;
      vertical-align: top;
      font-weight: 700;

      i {
        display: inline-block;
        vertical-align: top;
        margin: 4px 9px 0 0;
      }
    }

    .login {
      color: #636363;
      display: inline-block;
      vertical-align: top;
      margin: 0 0 0 22px;

      @include media('<widescreen') {
        margin: 0;
      }

      &:hover {
        color: #3c3838;
      }

      i {
        display: inline-block;
        vertical-align: top;
        margin: 3px 10px 0 0;
        color: #0991c5;
      }
    }
  }
}

#nav {
  position: relative;
  text-align: center;
  background: none;
  border: none;
  margin: 0;

  @include media('<tablet') {
    text-align: left;
  }

  .navbar-collapse {
    margin: 0 -30px;
  }

  .menu {
    @extend %listreset;
    @include font-size(0, 0);

    float: none;

    @include media('<tablet') {
      background: #fff;
    }

    >* {
      @include font-size(18px, 22px);

      @include media('<desktop') {
        @include font-size(14px, 18px);
      }
    }

    li {
      display: inline-block;
      vertical-align: top;
      padding: 0 18px;
      float: none;

      @include media('<widescreen') {
        padding: 0 12px;
      }

      @include media('<desktop') {
        padding: 0 8px;
      }

      @include media('<tablet') {
        display: block;
        padding: 0;
      }

      &.active {
        >a {
          color: #0991c5;
          border-bottom-color: #0991c5;
          background: none;

          @include media('<tablet') {
            border: none;
            background: #0991c5;
            color: #fff;
          }
        }
      }
    }

    a {
      color: #343434;
      display: block;
      border-bottom: 2px solid transparent;
      padding: 28px 0;

      @include media('<desktop') {
        padding: 15px 0;
      }

      @include media('<tablet') {
        border: none;
        padding: 10px;
      }

      &:hover {
        color: #0991c5;
        border-bottom-color: #0991c5;

        @include media('<tablet') {
          border: none;
          background: #0991c5;
          color: #fff;
        }
      }
    }
  }

  .navbar-collapse {
    background: none;
    border: none;
  }
}

#main-nav {
  position: relative;
  background: no-repeat;
  margin: 0;
  border: none;
  min-height: inherit;
  border-radius: 0;
  font: 16px/20px 'Roboto', sans-serif;

  @include media('<tablet') {
    position: absolute;
    right: 0;
    top: 14px;
    left: 0;
    font-size: 14px;
    line-height: 18px;
  }

  .navbar-collapse {
    padding: 0;
    background: no-repeat;
    height: auto;

    @include media('<tablet') {
      position: relative;
      z-index: 99;
      background: #fff;
      padding: 0 0 10px;
    }
  }

  .dropdown-menu {
    border: none;
    padding: 0;

    li {
      a {
        &:hover {
          background: #0991c5;
          color: #fff;
        }
      }
    }
  }

  .menu {

    @include media('<tablet') {
      margin: 0;
    }

    >li {
      > a {
        padding: 14px 30px;
        color: #0c2b57;

        @include media('<widescreen') {
          padding: 14px 10px;
        }

        &:hover {
          background: #0991c5;
          color: #fff;
        }

        i {
          font-size: 19px;
          line-height: 14px;
          vertical-align: middle;
        }
      }

      &.active,
      &.open {
        >a {
          background: #0991c5;
          color: #fff;
        }
      }
    }
  }

  .btn {
    position: absolute;
    right: 0;
    top: 6px;
    text-transform: uppercase;
    border: 1px solid #e9e9e9 !important;
    border-radius: 4px;
    font-size: 14px;
    line-height: 18px;
    padding: 8px 16px;
    color: #737373;
    box-shadow: none;

    @include media('<tablet') {
      position: relative;
      display: block;
      padding: 10px;
    }

    &:hover {
      border-radius: 4px;
      color: #fff;
      background: #737373;
    }
  }
}

.visual-block {
  @include font-size(24px, 28px);

  position: relative;
  overflow: hidden;
  color: #fff;

  .text-block {
    padding: 273px 0 198px;

    @include media('<widescreen') {
      padding: 160px 0;
    }

    @include media('<desktop') {
      padding: 120px 0;
    }

    @include media('<tablet') {
      padding: 80px 0;
    }
  }

  .title {
    display: block;
    color: #62d2fd;
    margin: 0 0 9px;
  }

  h1 {
    @include font-size(40px, 42px);

    font-weight: 300;
    margin: 0 0 20px;
    letter-spacing: -0.4px;
  }

  .next-btn {
    @include alignment;

    color: #fff;
    font-size: 40px;
    line-height: 40px;
    margin: 0 0 0 6px;

    &:hover {
      opacity: 0.8;
    }
  }
}

.carousel {
  position: relative;

  &.not-enough-slides {
    .btn-prev,
    .btn-next {
      display: none;
    }
  }

  .mask {
    position: relative;
    overflow: hidden;
  }

  .slideset {
    width: 100%;
    float: left;
  }

  .slide {
    overflow: hidden;
    position: relative;
    width: 100%;
    float: left;
  }

  .pagination {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    margin: 0;

    ul {
      list-style: none;
      margin: 0 auto;
      padding: 0 10px;
      max-width: 1170px;
      text-align: right;
    }

    li {
      @include alignment;

      padding: 0 5px;

      &.active {
        a {
          background: #008ec4;
        }
      }
    }

    a {
      @include hide-text;
      @include square(11px);

      display: block;
      background: #fff;
      border-radius: 100%;
      text-align: left;

      &:hover {
        background: #008ec4;
      }
    }
  }

  .btn-next,
  .btn-prev {
    @include font-size(21px, 24px);

    position: absolute;
    left: 0;
    top: 50%;
    margin: -12px 0 0;
    color: #95a2b6;

    &:hover {
      color: #5caad1;
    }
  }

  .btn-next {
    left: auto;
    right: 0;
  }
}

.person-info {
  @extend %clearfix;

  position: relative;
  padding: 0 0 3px;

  .image-holder {
    @include font-size(18px, 22px);

    font-weight: 300;
    float: left;
    width: 261px;
    margin: -159px 0 0;
    border-radius: 4px;
    text-align: center;

    @include media('<widescreen') {
      @include font-size(14px, 18px);

      width: 150px;
      margin: -50px 0 0;
    }

    @include media('<tablet') {
      width: 160px;
      float: none;
      margin: 0 auto;
    }

    img {
      @include img;

      border: 1px solid #fff;
      margin: 0 0 36px;
      border-radius: 4px;

      @include media('<widescreen') {
        margin: 0 0 20px;
      }
    }

    .link-profile {
      text-decoration: underline;
      color: #808080;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .text-holder {
    overflow: hidden;
    padding: 10px 0 0 30px;

    @include media('<widescreen') {
      padding: 10px 0 0 15px;
    }

    @include media('<tablet') {
      padding: 10px 0 0;
    }
  }

  .top-area {
    @include font-size(0, 0);

    position: relative;
    overflow: hidden;
    padding: 0 0 5px;
    border-bottom: 1px solid #ddd;

    >* {
      @include font-size(20px, 24px);
    }

    .rank-info {
      @include font-size(20px, 22px);
      @include alignment(inline-block, top);

      width: 28%;
      font-weight: 300;
      color: #0991c5;

      @include media('<widescreen') {
        @include font-size(18px, 22px);

        width: 24%;
      }

      @include media('<desktop') {
        width: 50%;
        vertical-align: middle;
      }

      @include media('<tablet') {
        width: 100%;
        text-align: center;
      }

      .designation {
        display: block;
      }

      .title {
        @include font-size(24px, 28px);

        font-weight: 300;
        display: block;
        color: #057dab;
        margin: 0 0 5px;

        @include media('<widescreen') {
          @include font-size(18px, 24px);
        }

        a {
          color: #057dab;
        }
      }

      h2 {
        @include font-size(30px, 32px);

        font-weight: 300;
        margin: 0;
        color: #000;

        @include media('<widescreen') {
          @include font-size(24px, 28px);
        }
      }
    }

    .rating-info {
      @include alignment(inline-block, middle);
      @include font-size(24px, 28px);

      width: 27%;
      padding: 0 50px 0 19px;
      position: relative;
      color: #000;

      @include media('<widescreen') {
        width: 31%;
      }

      @include media('<desktop') {
        width: 50%;
      }

      @include media('<tablet') {
        width: 100%;
        display: block;
      }

      .rating-points {
        position: absolute;
        right: 7px;
        top: -2px;
      }
    }

    .btn-area {
      @include alignment(inline-block, middle);

      width: 45%;
      padding: 0 0 0 20px;

      @include media('<desktop') {
        display: block;
        width: 100%;
        padding: 10px 0 0;
      }

      .btn {
        @include font-size(24px, 28px);

        font-weight: 700;
        padding: 27px 15px 27px 88px;
        position: relative;
        text-transform: uppercase;
        display: block;

        @include media('<widescreen') {
          @include font-size(20px, 24px);
        }

        @include media('<tablet') {
          @include font-size(18px, 22px);

          padding: 15px 15px 15px 60px;
        }
      }

      .icon-holder {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 78px;
        border-right: 1px solid #2ea8d7;
        padding: 22px 17px;
        background: #057dab;
        border-radius: 4px 0 0 4px;

        @include media('<tablet') {
          width: 50px;
          padding: 15px 10px;
        }

        img {
          @include img;
        }
      }
    }
  }

  .row-area {
    @include font-size(0, 0);

    position: relative;
    overflow: hidden;
    padding: 23px 0;

    @include media('<desktop') {
      padding: 10px 0;
    }

    >* {
      @include font-size(20px, 24px);

      @include media('<widescreen') {
        @include font-size(16px, 20px);
      }
    }

    .col-holder {
      display: inline-block;
      vertical-align: middle;
      width: 188px;
      position: relative;

      @include media('<desktop') {
        display: block;
        width: 100%;
        padding: 0 0 10px;
        border-bottom: 1px solid #ddd;
        margin: 0 0 10px;
      }

      &:first-child {
        &:before {
          display: none;
        }
      }

      &:before {
        position: absolute;
        left: 10px;
        height: 50px;
        margin: -25px 0 0;
        content: '';
        width: 1px;
        top: 50%;
        background: #ddd;

        @include media('<desktop') {
          height: 30px;
          margin: -15px 0 0;
          display: none;
        }
      }

      &.style {
        width: 292px;
        padding: 0 30px;
        text-align: left;

        @include media('<widescreen') {
          text-align: center;
          padding: 0 10px;
        }

        @include media('<desktop') {
          width: 48%;
          display: inline-block;
          vertical-align: middle;
          border-bottom: none;
        }

        @include media('<tablet') {
          display: block;
          width: 100%;
        }

        a {
          color: #0991c5;

          &:hover {
            color: #074a64;
          }
        }

        .icon-phone2 {
          font-size: 24px;
          line-height: 28px;
          display: inline-block;
          vertical-align: middle;
          transform: rotate(10deg);
          margin: 0 5px 0 0;
        }
        .icon-globe {
          font-size: 26px;
          line-height: 30px;
          color: #ababab;
          margin: 4px 4px 0 0;
          vertical-align: middle;
        }
      }
    }

    .carousel {
      padding: 0 26px 0 24px;

      @include media('<tablet') {
        padding: 0 20px;
      }

      .mask {
        width: 135px !important;

        @include media('<desktop') {
          width: 100% !important;
        }
      }

      .slideset {
        @include font-size(0, 0);

        width: 100% !important;
        white-space: nowrap;

        >* {
          @include font-size(20px, 20px);
        }

        @include media('<desktop') {
          text-align: center;
        }
      }

      .slide {
        @include alignment;

        float: none;
        width: 33.333% !important;

        @include media('<desktop') {
          width: 60px !important;
          padding: 0 10px;
        }

        a {
          @include square(40px);
          @include font-size(20px, 40px);

          border-radius: 100%;
          color: #fff;
          background: #43619b;
          text-align: center;
          display: block;
          margin: 0 auto;

          &:hover {
            opacity: 0.8;
          }

          &.icon-twitter {
            background: #2ea6de;
          }

          &.icon-linkedin {
            background: #197fb7;
          }

          &.icon-google-plus {
            background: #db4437;
          }

          &.icon-youtube-play {
            background: #cc181e;
          }

          &.icon-pinterest-p {
            background: #bd081c;
          }

          &.icon-vimeo {
            background: #000;
          }
        }
      }
    }
  }
}

.rating-list {
  @include font-size(0, 0);

  margin: 0;
  color: #f2b309;

  >* {
    @include font-size(24px, 24px);
  }

  li {
    padding: 0 3px;
  }
}

.addresses-block {
  position: relative;
  overflow: hidden;
  background: #f3f3f3;
  padding: 21px 0;

  .carousel  {
    padding: 0 56px 0 164px;

    @include media('<widescreen') {
      padding: 0 56px 0 100px;
    }

    @include media('<tablet') {
      padding: 0 40px;
    }

    .btn-prev,
    .btn-next {
      @include media('<tablet') {
        font-size: 0;
        line-height: 0;
      }
    }
  }

  .mask {
    width: 100% !important;
  }
  .slideset {
    @include font-size(0, 0);

    width: 100% !important;
    white-space: nowrap;

    >* {
      @include font-size(16px, 20px);

      white-space: normal;
    }
  }

  .slide {
    @include alignment;

    float: none;
    width: 33.333% !important;
    padding: 0 30px;
    position: relative;

    @include media('<desktop') {
      width: 50% !important;
    }

    @include media('<tablet') {
      padding: 0 10px;
      width: 100% !important;
    }

    &:before {
      position: absolute;
      left: 1px;
      top: 0;
      bottom: 0;
      width: 1px;
      content: '';
      background: #ddd;

      @include media('<tablet') {
        display: none;
      }
    }
  }

  .title {
    display: block;
    color: #010101;
    font-weight: normal;
    margin: 0 0 3px;
  }

  address {
    @include font-size(16px, 24px);

    font-weight: 300;
    margin: 0 0 3px;
  }

  .more {
    @include font-size(14px, 18px);
    @include alignment;

    color: #0991c5;

    &:hover {
      color: darken(#0991c5, 20%);
    }
  }

  .btn-next,
  .btn-prev {
    font-size: 14px;
    color: #95a2b6;

    .icon-chevron-left,
    .icon-chevron-right {
      @include font-size(24px, 28px);

      vertical-align: middle;
    }

    &:hover {
      color: #0991c5;
    }
  }
}

.heading-area {
  @include font-size(14px, 18px);

  position: relative;
  overflow: hidden;
  padding: 0 140px 0 0;
  font-weight: 300;
  margin: 0 0 30px;

  @include media('<tablet') {
    padding: 0 90px 0 0;
  }

  h2 {
    margin: 0;
    font-weight: 300;
  }

  .link {
    position: absolute;
    right: 0;
    bottom: 7px;
    color: #0991c5;

    &:hover {
      color: #074a64;
    }
  }
}

.members-block {
  @include font-size(16px, 20px);

  position: relative;
  overflow: hidden;
  padding: 43px 0 41px;
  color: #16335c;

  .carousel  {
    padding: 0 20px;
  }

  .mask {
    width: 1098px !important;
    margin: 0 auto;

    @include media('<widescreen') {
      width: 900px !important;
    }

    @include media('<desktop') {
      width: 680px !important;
    }

    @include media('<tablet') {
      width: 100% !important;
    }
  }

  .slideset {
    @include font-size(0, 0);

    width: 100% !important;
    white-space: nowrap;

    >* {
      @include font-size(16px, 20px);

      white-space: normal;
    }
  }

  .slide {
    @include alignment;

    float: none;
    width: 33.333% !important;
    padding: 0 10px;
    position: relative;
    overflow: hidden;

    @include media('<desktop') {
      width: 50% !important;
    }

    @include media('<tablet') {
      width: 100% !important;
    }
  }

  h2 {
    color: #000;
  }

  .image-holder {
    float: left;
    width: 94px;

    @include media('<tablet') {
      float: none;
      display: block;
      margin: 0 auto;
    }

    img {
      @include img;

      border-radius: 100%;
    }
  }

  .text-holder {
    overflow: hidden;
    padding: 4px 0 0 13px;

    @include media('<tablet') {
      padding: 10px 0 0;
      text-align: center;
    }
  }

  .title {
    @include font-size(18px, 22px);

    display: block;
    font-weight: 300;
    text-transform: uppercase;;
    margin: 0 0 -1px;

    @include media('<widescreen') {
      @include font-size(16px, 20px);
    }

    a {
      color: #0991c5;

      &:hover {
        color: #074a64;
      }
    }
  }

  .designation {
    display: block;
    color: #636363;
    margin: 0 0 -2px;
  }

  p {
    margin: 0 0 2px;
  }

  .rating-list {
    >* {
      @include font-size(18px, 22px);
    }

    li {
      padding: 0 2px;
    }
  }
}

.block-description {
  @include font-size(18px, 24px);

  background: #0991c5;
  color: #fff;
  padding: 43px 0 55px;

  @include media('<tablet') {
    @include font-size(16px, 20px);

    padding: 20px 0;
  }

  a {
    @include font-size(14px, 18px);
    @include alignment;

    font-weight: 300;
    color: #fff;

    &:hover {
      opacity: 0.8;
    }
  }

  h2 {
    margin: 0 0 21px;
  }

  p {
    margin: 0 0 19px;
  }
}

.block-education {
  @include font-size(18px, 24px);

  position: relative;
  overflow: hidden;
  padding: 43px 0 30px;
  color: #000;

  @include media('<tablet') {
    @include font-size(16px, 20px);
  }

  h2 {
    margin: 0 0 6px;
  }

  .university-list {
    position: relative;
    overflow: hidden;

    li {
      @include font-size(0, 0);

      padding: 13px 0;
      border-bottom: 1px solid #c9c9c9;

      @include media('<tablet') {
        border-bottom-color: #000;
      }

      >* {
        @include font-size(18px, 22px);
      }
    }

    .uni-info {
      @include alignment(inline-block, middle);

      width: 53%;
      font-weight: normal;

      @include media('<tablet') {
        display: block;
        width: 100%;
      }

      a {
        color: #0991c5;

        &:hover {
          color: #074a64;
        }
      }
    }

    .degree-info {
      @include alignment(inline-block, middle);

      width: 36%;

      @include media('<tablet') {
        display: block;
        width: 100%;
      }
    }

    .year {

      @include alignment(inline-block, middle);

      width: 10%;
      text-align: right;
      padding: 0 5px 0 0;

      @include media('<tablet') {
        display: block;
        width: 100%;
      }
    }
  }

  .list-info {
    padding: 10px 0 0;
    li {
      padding: 12px 0 12px 32px;
      position: relative;

      &:before  {
        font: 18px/22px 'icomoon';

        position: absolute;
        left: 0;
        top: 12px;
        content: "\e901";
        color: #0991c5;
      }
    }
  }
}

.block-insurance {
  @include font-size(18px, 22px);

  position: relative;
  overflow: hidden;
  padding: 43px 0 66px;

  @include media('<tablet') {
    padding: 20px 0 30px;
  }

  h2 {
    margin: 0 0 35px;

    @include media('<tablet') {
      margin: 0 0 20px;
    }
  }

  .carousel  {
    padding: 0 20px;
  }

  .mask {
    width: 1100px !important;
    margin: 0 auto;

    @include media('<widescreen') {
      width: 900px !important;
    }

    @include media('<desktop') {
      width: 680px !important;
    }

    @include media('<tablet') {
      width: 100% !important;
    }
  }

  .slideset {
    @include font-size(0, 0);

    width: 100% !important;
    white-space: nowrap;

    >* {
      @include font-size(18px, 22px);

      white-space: normal;
    }
  }

  .slide {
    @include alignment(inline-block, middle);

    float: none;
    width: 20% !important;
    padding: 0 10px;
    position: relative;
    overflow: hidden;
    text-align: center;
    font-weight: 500;

    @include media('<tablet') {
      width: 50% !important;
    }
  }

  .wrap {
    @include square(100%);

    display: table;
    position: relative;
  }

  .box{
    @include alignment(table-cell, middle);

    padding: 0 0 30px;
  }

  .text {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
  }
}

.block-gallery {
  position: relative;
  overflow: hidden;
  padding: 66px 0 60px;
  color: #fff;

  @include media('<desktop') {
    padding: 30px 0;
  }

  h2 {
    margin: 0 0 27px;
  }

  .carousel {
    padding: 0 0 30px;

  .pagination {
    bottom: 0;

    ul {
      text-align: center;
    }

    li {
      &.active {
        a {
          border-color: #0991c5;
          background: #0991c5;
        }
      }
    }

      a {
        @include square(13px);

        background: none;
        border: 1px solid #fff;

        &:hover {
          border-color: #0991c5;
          background: #0991c5;
        }
      }
    }
  }

  .image-holder {
    position: relative;
    overflow: hidden;

    @include media('<tablet') {
      margin: 0 0 10px;
    }

    img {
      @include img;
    }

    +.image-holder {
      margin: 30px 0 0;

      @include media('<desktop') {
        margin: 16px 0 0;
      }

      @include media('<tablet') {
        margin: 0 0 10px;
      }
    }
  }

  .btn-play {
    @include square(70px);

    border-radius: 100%;
    border: 3px solid #0991c5;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -35px 0 0 -35px;

    &:hover {
      border-color: #000;

      &:before {
        border-color: transparent transparent transparent #000;
      }
    }

    &:before {
      @include square(0);

      border-style: solid;
      border-width: 15px 0 15px 22px;
      border-color: transparent transparent transparent #0991c5;
      position: absolute;
      left: 50%;
      top: 50%;
      margin: -15px 0 0 -8px;
      content: '';
    }
  }
}

.map-block {
  position: relative;
  overflow: hidden;

  img {
    @include img;

    @include media('<widescreen') {
      position: relative;
      left: 50%;
      max-width: inherit;
      overflow: hidden;
      width: 1200px;
      margin: 0 0 0 -600px;
    }
  }

  .popup-holder {
    @include font-size(16px, 24px);

    position: absolute;
    right: 31.5%;
    top: 90px;
    background: #fff;
    z-index: 99;
    font-weight: 300;
    box-shadow: 0 3px 4px rgba(0,0,0,.16);
    border: solid 1px #e0e0e0;
    width: 300px;
    padding: 18px;
    color: #636363;

    @include media('<widescreen') {
      right: 22.5%;
      top: 20px;
    }

    @include media('<tablet') {
      right: auto;
      left: 50%;
      margin: 0 0 0 -150px;
    }

    &:after {
      @include square(0);

      position: absolute;
      top: 100%;
      left: 50%;
      content: '';
      margin: 0 0 0 -10px;
      border-style: solid;
      border-width: 10px 9px 0 9px;
      border-color: #fff transparent transparent transparent;
    }

    .title {
      @include font-size(18px, 22px);

      display: block;
      color: #3b4a5a;
      margin: 0 0 4px;
      text-transform: uppercase;
    }

    address {
      margin: 0;
    }
  }
}


.block-offer {
  @include font-size(18px, 24px);

  position: relative;
  overflow: hidden;
  padding: 52px 0 60px;

  @include media('<tablet') {
    padding: 20px 0;
  }

  h2 {
    margin: 0 0 20px;
  }

  .offer-info {
    background: linear-gradient(to bottom,  rgba(216,236,245,1) 0%,rgba(195,224,240,1) 100%);
    position: relative;
    overflow: hidden;
    padding: 43px 270px 60px 406px;

    @include media('<desktop') {
      padding: 20px 160px 60px 30px;
    }

    @include media('<tablet') {
      padding: 20px;
    }

    &:after {
      position: absolute;
      left: 0;
      right: 13px;
      bottom: 0;
      background: url(../images/img20.png) no-repeat;
      background-size: 100% 100%;
      content: '';
      height: 157px;

      @include media('<widescreen') {
        height: 120px;
      }

      @include media('<desktop') {
        height: 100px;
      }

      @include media('<tablet') {
        display: none;
      }
    }

    .image-holder {
      position: absolute;
      left: 0;
      top: 10px;
      z-index: 99;

      @include media('<desktop') {
        position: static;
        width: 280px;
        margin: 0 auto;
      }

      img {
        @include img;
      }
    }
  }
}
.block-sign-up {
  position: relative;
  overflow: hidden;
  background: #f3f3f3;
  padding: 60px 0;
  @include font-size(14px, 18px);

  @include media('<tablet') {
    padding: 20px 0;
  }

  .form-submit {
    background: #fff;
    padding: 45px 10px 54px;
    margin: 0 0 20px;
    box-shadow: 0 3px 1px rgba(0,1,1,.1);

    @include media('<tablet') {
      padding: 20px;
    }
  }

  h2 {
    margin: 0;
    color: #fff;
    background: #16335c;
    padding: 10px 19px 17px;
  }

  .field-area {
    max-width: 945px;
    margin: 0 auto;
  }

  .field-holder {
    @include alignment(inline-block, middle);

    width: 51.2%;
    padding: 0 26px 0 0;

    @include media('<desktop') {
      width: 50%;
    }

    @include media('<tablet') {
      width: 100%;
      padding: 0;
      margin: 0 0 10px;
    }
  }

  label {
    @include alignment;

    font-weight: 500;
    color: #636363;
    margin: 0 0 8px;
  }

  .captcha-holder {
    @include alignment;

    width: 32%;

    @include media('<desktop') {
      width: 26%;
      vertical-align: bottom;
    }

    @include media('<tablet') {
      display: block;
      max-width: 260px;
      width: 100%;
      margin: 0 auto 10px;
    }

    img {
      @include img;
    }
  }

  .form-control {
    margin: 0;
  }

  .btn-holder {
    @include alignment(inline-block, middle);

    width: 14%;
    padding: 0 0 0 47px;

    @include media('<desktop') {
      width: 20%;
    }

    @include media('<tablet') {
      width: 100%;
      text-align: center;
      padding: 0;
    }

    .btn {
      min-width: 103px;
    }
  }

  .btn-contact {
    @include font-size(18px, 22px);

    display: block;
    padding: 9px;
  }
}

.block-review {
  position: relative;
  overflow: hidden;
  padding: 44px 0 50px;

  @include media('<tablet') {
    padding: 20px 0;
  }

  .heading-area {
    margin: 0 0 31px;

    @include media('<tablet') {
      margin: 0 0 10px;
    }
  }

  .rating-block {
    overflow: hidden;
    position: relative;
    padding: 12px 0 17px;
    border-bottom: 1px solid #e8e8e8;
  }

  .rating-area {
    @include font-size(14px, 18px);

    float: left;
    width: 213px;
    padding: 7px 0 0;

    @include media('<tablet') {
      float: none;
      display: block;
      width: 100%;
    }

    p {
      margin: 0 0 6px;
    }

    strong {
      font-weight: 600;
    }

    time {
      display: block;
    }
  }

  .rating-list {
    margin: 0 0 4px;

    >* {
      @include font-size(18px, 22px);
    }

    li {
      padding: 0;
    }
  }

  .description-holder {
    @include font-size(14px, 24px);

    overflow: hidden;

    p {
      margin: 0;
    }
  }
}

.block-search {
  position: relative;
  overflow: hidden;
  background: #fbfbfb;
  padding: 46px 0 50px;
  z-index: 2;

  &.style {
    background: #17335c;
    padding: 46px 0 14px;

    @include media('<tablet') {
      padding: 20px 0 10px;
    }

    .form-search {
      max-width: 1000px;
    }

    .lable-holder {
      display: block;
      font-size: 24px;
      line-height: 28px;
      margin: 0 0 17px;

      @include media('<tablet') {
        font-size: 18px;
        line-height: 24px;
      }
    }

    .form-control {
      height: 50px;
    }

    .row-holder {
      padding: 0 152px 0 0;

      @include media('<tablet') {
        padding: 0 105px 0 0;
      }

      .btn {
        padding: 14px 35px;

        @include media('<tablet') {
          padding: 14px 10px;
        }
      }
    }

    label {
      font-weight: normal;
      color: #fff;
      font-weight: 300;
    }
  }

  h2 {
    margin: 0 0 18px;
  }

  .form-search {
    max-width: 746px;
    margin: 0 auto;
  }

  .form-control {
    padding: 5px 15px;
  }

  .row-holder {
    position: relative;
    padding: 0 125px 0 0;
    margin: 0 0 25px;

    @include media('<tablet') {
      padding: 0 105px 0 0;
    }

    .btn {
      position: absolute;
      right: 0;
      top: 0;
      min-width: 95px;
      padding: 8px;
    }
  }

  .icon-map-marker {
    font-size: 16px;
    line-height: 20px;
  }

  .text-right {
    @include font-size(14px, 18px);

    text-transform: uppercase;
    font-weight: 700;

    .icon-map-marker {
      margin: 0 8px 0 0;
      vertical-align: middle;
    }
  }
}

#footer {
  @include font-size(18px, 22px);

  position: relative;
  overflow: hidden;
  text-align: center;
  background: #3b4a5a;
  padding: 22px 0 0;
  color: #0991c5;

  @include media('<tablet') {
    padding: 10px 0 0;
  }

  a {
    color: #0991c5;

    &:hover {
      color: #fff;
    }
  }

  .logo-area {
    padding: 0 0 29px;
    border-bottom: 1px solid #485a6e;
    margin: 0 0 27px;

    @include media('<tablet') {
      padding: 0 0 10px;
      margin: 0 0 10px;
    }
  }

  p {
    margin: 0 0 35px;

    @include media('<tablet') {
      margin: 0 0 10px;
    }
  }

  .social-networks {
    li {
      @include font-size(16px, 20px);

      padding: 0 14px;

      @include media('<tablet') {
        padding: 0 10px;
      }
    }

    a {
      color: #8ca1b7;

      &:hover {
        color: #fff;
      }
    }
  }
}

.visual {
  font-size: 24px;
  line-height: 28px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 1px 5px 0 rgba(0,1,1,.5) inset;
  padding: 167px 0 160px;
  color: #fff;

  @include media('<widescreen') {
    padding: 100px 0;
  }

  @include media('<desktop') {
    padding: 60px 0;
  }

  @include media('<tablet') {
    padding: 20px 0;
  }

  .container {
    width: 100%;
    max-width: 900px;
  }

  h1 {
    font-size: 60px;
    line-height: 72px;
    font-weight: normal;
    margin: 0 0 18px;
    text-transform: uppercase;

    @include media('<widescreen') {
      font-size: 50px;
      line-height: 60px;
    }

    @include media('<tablet') {
      font-size: 32px;
      line-height: 36px;
      margin: 0 0 10px;
    }
  }

  p {
    margin: 0 0 88px;

    @include media('<widescreen') {
      margin: 0 0 50px;
    }

    @include media('<desktop') {
      margin: 0 0 20px;
    }

    @include media('<tablet') {
      margin: 0 0 10px;
    }
  }

  .btn-list {
    margin: 0;
    text-transform: uppercase;

    .btn {
      font-size: 14px;
      line-height: 18px;
      min-width: 180px;
      padding: 16px 10px;

      @include media('<tablet') {
        min-width: 120px;
      }

      &:hover {
        background: #fff;
        color: #17335c;
      }

      &.btn-default {
        background: #fff;
        color: #17335c;

        &:hover {
          background: #17335c;
          color: #fff;
        }
      }
    }
  }
}

.block-machine {
  position: relative;
  overflow: hidden;
  background: #f0fcff;
  color: #17335c;
  padding: 82px 0 109px;
  text-align: center;

  @include media('<widescreen') {
    padding: 60px 0;
  }

  @include media('<tablet') {
    padding: 20px 0;
  }

  h2 {
    font-size: 40px;
    line-height: 44px;
    margin: 0 0 57px;
    font-weight: 500;

    @include media('<tablet') {
      font-size: 28px;
      line-height: 32px;
      margin: 0 0 10px;
    }
  }

  .image-holder {
    position: relative;
    overflow: hidden;
    padding: 20px 7px 0 13px;

    img {
      width: 100%;
      height: auto;
      vertical-align: top;
    }
  }
}


.block-video {
  position: relative;
  overflow: hidden;
  padding: 72px 0 0;
  color: #17335c;
  font-size: 18px;
  line-height: 22px;

  .container {
    position: relative;
  }

  .form-search {
    margin: 0 0 71px;
  }

  .image-holder {
    position: relative;
    overflow: hidden;

    img {
      @include img;
    }
  }

  h2 {
    font-size: 36px;
    line-height: 40px;
    font-weight: 300;
    margin: 0 0 23px;
    color: #0991c5;

    @include media('<tablet') {
      font-size: 24px;
      line-height: 28px;
      margin: 0 0 10px;
    }
  }

  p {
    margin: 0 0 17px;

    @include media('<tablet') {
      margin: 0 0 10px;
    }
  }

  .title {
    display: block;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    color: #434b53;
    margin: 0 0 18px;
  }

  .form-control {
    padding: 4px 19px;
  }

  .field-holder {
    margin: 0 0 23px;
  }

  input[type="submit"] {
    display: block;
    width: 100%;
    margin: 0 0 28px;
    padding: 8px;
  }

  .text-center {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;

    i {
      display: inline-block;
      vertical-align: top;
      margin: 2px 4px 0 0;
    }
  }

  .btn-opener {
    position: absolute;
    right: 116px;
    bottom: 0;
    width: 255px;
    background: #d5f0f8;
    text-transform: uppercase;
    color: #17335c;
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    padding: 10px 10px 20px;
    border-radius: 8px 8px 0 0;
    text-align: center;

    @include media('<desktop') {
      left: 50%;
      margin: 0 0 0 -128px;
    }

    &.collapsed {
      &:after {
        content: '\e913';
      }
    }

    &:after {
      font: 14px/18px 'icomoon';
      position: absolute;
      left: 50%;
      bottom: 2px;
      content: '\e916';
      font-size: 20px;
      line-height: 20px;
      margin: 0 0 0 -10px;
    }
  }
}

.name-holder {
  background: #d5f0f8;
  font-size: 14px;
  line-height: 26px;
  border-bottom: 1px solid #17335c;

  .names-list {
    padding: 20px 0 15px;
    margin: 0 -5px;
  }

  li {
    padding: 0 5px;
    margin: 0 0 5px;
  }

  a {
    @include square(29px);

    display: block;
    border-radius: 100%;
    border: 1px solid #b1e4f3;
    text-align: center;
    color: #17335c;
    text-transform: uppercase;

    &:hover {
      color: #fff;
      border-color: #0991c5;
      background: #0991c5;
    }
  }
}

.call-block {
  font-size: 18px;
  line-height: 24px;
  position: relative;
  overflow: hidden;
  padding: 74px 0 104px;

  @include media('<tablet') {
    padding: 20px 0;
  }

  p {
    margin: 0 0 24px;

    @include media('<tablet') {
      margin: 0 0 10px;
    }
  }

  .btn-list {
    margin: 0 -4px;
    text-transform: uppercase;

    @include media('<tablet') {
      text-align: center;
    }

    .btn {
      font-size: 14px;
      line-height: 18px;
      min-width: 180px;
      padding: 11px;

      @include media('<desktop') {
        min-width: 150px;
      }

      @include media('<tablet') {
        min-width: 120px;
      }
    }
  }

  .title {
    display: block;
    font-weight: 300;
  }

  .contact-holder {
    border: 1px solid #0991c5;
    border-radius: 8px;
    padding: 34px 18px 11px;
    font-weight: 700;
    color: #0991c5;
    font-size: 24px;
    line-height: 28px;
    margin: 15px 0 0;

    @include media('<tablet') {
      font-size: 18px;
      line-height: 22px;
      padding: 20px 15px;
    }
  }

  .list-holder {
    position: relative;
    margin: 0;

    li {
      position: relative;
      padding: 0 0 0 35px;
      margin: 0 0 30px;

      @include media('<tablet') {
        margin: 0 0 10px;
      }

      i {
        position: absolute;
        left: -2px;
        top: 5px;

        &.icon-envelope-o {
          font-size: 20px;
        }
      }
    }
  }

  h3 {
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 26px;
    color: #17335c;

    @include media('<tablet') {
      margin: 0 0 10px;
    }
  }
}

.block-persons {
  position: relative;
  overflow: hidden;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;

  @include media('<widescreen') {
    display: block;
  }

  @include media('<tablet') {
    font-style: 18px;
    line-height: 24px;
  }

  .col {
    width: 50%;
    position: relative;
    overflow: hidden;

    @include media('<widescreen') {
      width: 100%;
      height: 560px;
    }

    @include media('<desktop') {
      height: auto;
    }


    &:first-child {
      background: #0991c5;

      @include media('<widescreen') {
        height: auto;
      }
    }
  }

  .wrap {
    max-width: 870px;
    padding: 72px 20px 0 97px;
    margin: 0 auto;

    @include media('<widescreen') {
      padding: 72px 30px;
    }

    @include media('<tablet') {
      padding: 20px 15px;
    }
  }

  img {
    width: 100%;
    height: auto;
    vertical-align: top;
  }

  h2 {
    font-size: 40px;
    line-height: 44px;
    font-weight: 500;
    margin: 0 0 22px;

    @include media('<tablet') {
      font-size: 28px;
      line-height: 32px;
      margin: 0 0 10px;
    }
  }

  p {
    margin: 0 0 48px;

    @include media('<tablet') {
      margin: 0 0 20px;
    }
  }

  .info {
    position: relative;
    overflow: hidden;
    text-align: center;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
  }

  .image-holder {
    width: 139px;
    height: 139px;
    margin: 0 auto 14px;
    border: 1px solid #fff;
    border-radius: 100%;
    padding: 40px 43px;

    &.style {
      padding: 39px 41px;
    }

    &.style1 {
      padding: 33px 48px;
    }
  }
}

.block-facilities {
  position: relative;
  overflow: hidden;
  padding: 80px 0 64px;
  font-size: 20px;
  line-height: 22px;
  color: #434b53;

  @include media('<tablet') {
    padding: 20px 0;
    font-size: 18px;
    line-height: 22px;
  }

  h2 {
    color: #0991c5;
    font-size: 36px;
    line-height: 39px;
    margin: 0 0 37px;
    padding: 47px 0 0;

    @include media('<desktop') {
      padding: 0;
      font-size: 28px;
      line-height: 32px;
      margin: 0 0 10px;
    }
  }

  .btns-list {
    li {
      @include media('<tablet') {
        margin: 0 0 10px;
      }
    }
  }

  .list-holder  {
    position: relative;
    overflow: hidden;
    margin: 0;

    @include media('<tablet') {
      margin: 0 0 20px;
    }

    li {
      margin: 0 0 44px;
      position: relative;
      padding: 0 0 0 43px;

      @include media('<tablet') {
        margin: 0 0 15px;
      }
    }
  }

  .circle {
    width: 24px;
    height: 24px;
    border: 2px solid #0d93c6;
    border-radius: 100%;
    font-size: 26px;
    line-height: 18px;
    position: absolute;
    left: 2px;
    top: 0;
    color: #0d93c6;
    text-align: center;

    i {
      line-height: 20px;
      margin: 2px 0 0 -2px;
      vertical-align: top;
    }
  }

  .text-center {
    padding: 30px 0 0;
  }

  .btn {
    position: relative;
    min-width: 240px;
    padding: 18px 15px 15px 55px;
    font-size: 16px;
    line-height: 19px;
    text-align: left;

    .circle {
      border-color: #fff;
      color: #fff;
      top: 50%;
      margin: -12px 0 0;
      left: 19px;
    }

    .text {
      display: block;
      font-size: 14px;
      line-height: 16px;
      margin: 0 0 3px;
    }

    .title {
      display: block;
      font-weight: normal;
      text-transform: uppercase;
    }
  }

  img {
    width: 100%;
    height: auto;
    vertical-align: top;
  }
}

.block-partners {
  position: relative;
  overflow: hidden;
  background: #17335c;
  padding: 78px 0 88px;
  color: #fff;

  @include media('<widescreen') {
    padding: 40px 0;
  }

  @include media('<tablet') {
    padding: 20px 0;
  }

  h2 {
    font-size: 40px;
    line-height: 44px;
    font-weight: 500;
    text-align: center;
    margin: 0 0 34px;

    @include media('<tablet') {
      font-size: 28px;
      line-height: 32px;
      margin: 0 0 10px;
    }
  }

  .partners-list {
    margin: 0;
    text-align: center;

    li {
      padding: 0 23px;

      @include media('<widescreen') {
        padding: 0 5px;
      }

      @include media('<tablet') {
        width: 48%;
        padding: 0 10px;
        margin: 0 0 10px;
      }

      img {
        max-width: 100%;
      }
    }
  }
}

.block-activity {
  position: relative;
  overflow: hidden;
  background: #f0fcff;
  padding: 66px 0;
  color: #738196;
  font-size: 14px;
  line-height: 18px;

  @include media('<tablet') {
    padding: 20px 0;
  }

  h2 {
    color: #15315b;
    text-align: center;
    font-size: 40px;
    line-height: 42px;
    font-weight: 500;
    margin: 0 0 42px;
    text-align: center;

    @include media('<tablet') {
      font-size: 28px;
      line-height: 32px;
      margin: 0 0 10px;
    }
  }

  .article-holder {
    position: relative;
    background: #fff;
    padding: 28px 108px 21px;
    margin: 0 0 20px;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(1,1,1,.2);

    @include media('<tablet') {
      padding: 20px 20px 20px 60px;
      margin: 0 0 10px;
    }
  }

  .image-holder {
    position: absolute;
    width: 68px;
    left: 20px;
    top: 50%;
    margin: -34px 0 0;

    @include media('<tablet') {
      width: 35px;
      margin: -17px 0 0;
      left: 10px;
    }

    img {
      width: 100%;
      height: auto;
      vertical-align: top;
    }
  }

  .title {
    font-size: 16px;
    line-height: 19px;
    display: block;
    font-weight: 500;
    color: #15315b;
    margin: 0 0 3px;
  }

  time {
    position: absolute;
    right: 28px;
    top: 50%;
    margin: -9px 0 0;

    @include media('<tablet') {
      position: relative;
      right: auto;
      top: auto;
      margin: 0;
      display: block;
    }
  }

  .text-center {
    padding: 37px 0 0;
  }

  .btn {
    font-size: 14px;
    line-height: 18px;
    min-width: 152px;
    padding: 11px;
    text-transform: uppercase;
  }
}

.two-cols {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  color: #fff;

  @include media('<desktop') {
    display: block;
  }

  .wrap {
    max-width: 540px;
    padding: 0 55px 0 15px;
    margin: 0 auto;

    @include media('<desktop') {
      padding: 0 15px;
    }
  }

  h2 {
    font-size: 40px;
    line-height: 44px;
    font-weight: 300;
    margin: 0 0 56px;

    @include media('<tablet') {
      font-size: 28px;
      line-height: 32px;
      margin: 0 0 10px;
      text-align: center;
    }
  }

  .article-holder {
    position: relative;
    overflow: hidden;
    min-height: 134px;
    padding: 0 0 0 130px;
    border-radius: 9px;
    background: #fff;
    color: #434b53;
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 10px;

    @include media('<tablet') {
      padding: 0;
    }

    .image-holder {
      background: #0991c5;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      padding: 32px 31px;
      border-radius: 9px 0 0 9px;

      @include media('<tablet') {
        position: relative;
        display: block;
        border-radius: 9px 9px 0 0;
        padding: 15px;
      }

      img {
        width: 100%;
        height: auto;
        vertical-align: top;

        @include media('<tablet') {
          width: auto;
          max-width: 100%;
          display: block;
          margin: 0 auto;
        }
      }
    }

    .title {
      display: block;
      font-size: 18px;
      line-height: 22px;
      font-weight: normal;
      color: #0991c5;
    }

    .text-holder {
      position: relative;
      padding: 36px 21px;

      @include media('<tablet') {
        padding: 15px;
        text-align: center;
      }
    }

    p {
      margin: 0;
    }
  }

  .col {
    width: 50%;
    position: relative;
    overflow: hidden;
    background: #0991c5;
    padding: 77px 0 68px;

    @include media('<desktop') {
      width: 100%;
    }

    @include media('<tablet') {
      padding: 20px 0;
    }

    &:first-child {
      background: none;
    }
  }

  .testimonial {
    max-width: 710px;
    padding: 0 0 0 114px;

    @include media('<widescreen') {
      padding: 0 20px;
    }

    h2 {
      margin: 0 0 5px;
    }
  }

  .article-area {
    overflow: hidden;
    position: relative;
    padding: 55px 0;

    @include media('<tablet') {
      padding: 20px 0;
    }

    +.article-area {
      border-top: 1px solid #54a9c9;
      margin: 0 0 41px;

      @include media('<tablet') {
        margin: 0;
      }
    }

    .image-holder {
      float: left;
      width: 88px;
      border-radius: 100%;

      @include media('<tablet') {
        display: block;
        float: none;
        margin: 0 auto 10px;
      }

      img {
        width: 100%;
        height: auto;
        vertical-align: top;
        border: 2px solid #fff;
        border-radius: 100%;
      }
    }
  }

  blockquote {
    margin: 0;
    padding: 0 0 0 19px;
    font-size: 16px;
    line-height: 24px;
    font-style: normal;
    border: none;
    overflow: hidden;

    @include media('<tablet') {
      text-align: center;
      padding: 0;
    }

    q {
      display: block;
      margin: 0 0 25px;
    }
    cite {
      font-size: 14px;
      line-height: 18px;
      display: block;
      font-style: normal;
      position: relative;
      padding: 0 0 0 15px;

      &:before {
        position: absolute;
        left: 2px;
        top: 12px;
        width: 6px;
        height: 2px;
        content: '';
        background: #fff;

        @include media('<tablet') {
          display: none;
        }
      }

      .name {
        font-weight: normal;
        display: block;
        font-size: 18px;
        line-height: 22px;
        margin: 0 0 5px;
      }
    }
  }

  .btn {
    font-size: 14px;
    line-height: 18px;
    min-width: 235px;
    padding: 11px;

    @include media('<tablet') {
      width: 235px;
      display: block;
      margin: 0 auto;
    }
  }
}

.block-news {
  position: relative;
  overflow: hidden;
  padding: 55px 0 88px;

  @include media('<tablet') {
    padding: 20px 0;
  }

  h2 {
    font-size: 40px;
    line-height: 44px;
    font-weight: 300;
    margin: 0 0 43px;
    color: #17335c;

    @include media('<tablet') {
      font-size: 28px;
      line-height: 32px;
      margin: 0 0 10px;
    }
  }

  .article-holder {
    font-style: 14px;
    line-height: 18px;
    color: #434b53;
    position: relative;

    @include media('<desktop') {
      margin: 0 0 20px;
    }

    .image-holder {
      position: relative;

      img {
        width: 100%;
        height: auto;
        vertical-align: top;
      }
    }

    .text-holder {
      background: #fff;
      padding: 26px 20px 34px;
      box-shadow: 0 2px 3px rgba(1,1,1,.2);
      border-radius: 0 0 2px 2px;

      @include media('<tablet') {
        padding: 20px 15px;
      }
    }
  }

  h3 {
    font-size: 16px;
    line-height: 21px;
    color: #0991c5;
    margin: 0 0 13px;
    font-weight: normal;

    @include media('<tablet') {
      margin: 0 0 10px;
    }
  }

  time {
    display: block;
    color: #959595;
    margin: 0 0 13px;

    @include media('<tablet') {
      margin: 0 0 10px;
    }
  }

  p {
    margin: 0 0 4px;
  }
}

.block-links {
  position: relative;
  overflow: hidden;
  background: #17335c;
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  padding: 10px 0;

  @include media('<desktop') {
    font-size: 14px;
    line-height: 18px;
  }

  @include media('<tablet') {
    display: none;
  }

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    .col {
      width: 25%;

      @include media('<tablet') {
        width: 100%;
      }

      +.col {
        border-left: 1px solid #405b84;

        @include media('<tablet') {
          border: none;
        }
      }
    }

    a {
      display: block;
      color: #fff;
      min-height: 120px;
      padding: 35px;
      text-align: center;

      @include media('<widescreen') {
        min-height: 90px;
        padding: 20px;
      }

      @include media('<desktop') {
        padding: 10px;
      }
    }

    .icon {
      display: inline-block;
      vertical-align: middle;

      @include media('<desktop') {
        display: block;
        margin: 0 auto;
      }

      img {
        display: block;

        @include media('<desktop') {
          margin: 0 auto;
        }
      }
    }

    br {
      @include media('<desktop') {
        display: none;
      }
    }

    .text {
      display: inline-block;
      vertical-align: middle;
      padding: 0 0 0 20px;
      text-align: left;

      @include media('<desktop') {
        display: block;
        padding: 0;
        text-align: center;
      }
    }
  }
}

.footer-aside {
  font: 14px/18px 'Roboto', sans-serif;
  position: relative;
  overflow: hidden;
  padding: 62px 0 0;
  color: #738393;

  @include media('<tablet') {
    padding: 20px 0 0;
  }

  a {
    color: #738393;

    &:hover {
      color: #0991c5;
    }
  }

  .hover {
    h3 {
      &:after {
        transform: rotate(180deg);
      }
    }

    .list-links {
      display: block;
    }
  }

  h3 {
    color: #0991c5;
    margin: 0 0 18px;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    position: relative;

    @include media('<tablet') {
      cursor: pointer;
    }

    &:after {
      position: absolute;
      right: 0;
      top: 0;
      font: 16px/19px 'icomoon';
      content: "\e903";
      color: #0991c5;
      display: none;
      transition: all 0.3s ease;

      @include media('<tablet') {
        display: block;
      }
    }
  }

  .list-links {
    margin: 0 0 25px;
    position: relative;
    overflow: hidden;

    @include media('<tablet') {
      display: none;
    }

    &.social-list {
      li {
        padding: 0 0 0 30px;
      }

      i {
        position: absolute;
        left: 0;
        top: 0;
      }
    }

    li {
      position: relative;
      margin: 0 0 15px;
    }
  }

  .image-holder {
    position: relative;
    overflow: hidden;

    @include media('<desktop') {
      max-width: 263px;
      margin: 0 auto 20px;
    }

    img {
      width: 100%;
      height: auto;
      vertical-align: top;
    }
  }
}

.logos-list {
  border-top: 1px solid #ebebeb;
  padding: 11px 0 31px;

  .list-holder {
    margin: 0 -35px;
    text-align: center;

    li {
      display: inline-block;
      vertical-align: middle;
      padding: 0 35px;

      @include media('<widescreen') {
        padding: 0 15px;
      }
    }
  }
}

#main-footer {
  font: 18px/22px 'Work Sans', Arial, sans-serif;
  background: #e7ecf1;
  color: #9caab8;
  text-align: center;

  @include media('<tablet') {
    font-size: 14px;
    line-height: 18px;
  }

  a {
    color: #9caab8;

    &:hover {
      color: #738393;
    }
  }

  .links-holder {
    margin: 0 0 27px;
    padding: 29px 0;
    border-bottom: 1px solid #c4cfda;

    @include media('<tablet') {
      padding: 20px 0;
      margin: 0 0 20px;
    }
  }

  .footer-links {
    margin: 0;

    li {
      padding: 0 27px;

      @include media('<desktop') {
        padding: 0 15px;
      }

      @include media('<tablet') {
        padding: 0 5px;
      }
    }

    a {
      color: #738393;

      &:hover {
        color: #9caab8;
      }
    }
  }

  p {
    margin: 0 0 20px;
  }
}
