﻿@{
    ViewBag.Title = "Securely Share Dental Records & Referrals | RecordLinc";
    Layout = "~/Views/Shared/SiteLayout.cshtml";


}
@*<meta name="description" content="Professional network for dental professionals where you can exchange patient filed (electronic dental records) in a HIPAA compliant portal.  Connect with colleagues, simplify referrals, and grow your practice.  Patients can fill-out electronic dental forms prior to coming into the office.">
    <meta name="keywords" content="Dental Management Software, Dental Professionals, Dentist Software, Dental Patient Records Online, Online Dental Software, software for dentists">*@
<script type="text/jscript" src="../../Content/js/jquery.ui.core.js"></script>
<script type="text/jscript" src="../../Content/js/jquery.ui.widget.js"></script>
<script type="text/jscript" src="../../Content/js/jquery.ui.mask.js"></script>

<link href="~/Content/css/new.css" rel="stylesheet" />
<style type="text/css">
    #free_trial .matter #register-form label {
        color: Red;
        display: block;
        font-size: 15px;
        font-weight: bold;
        line-height: 15px;
        margin: 0 0 5px;
        text-shadow: 1px 0 2px rgba(255, 255, 255, 0.75);
    }

    .requerd {
        color: rgb(255, 0, 0) !important;
        float: left;
        font-size: 25px !important;
        width: 10px;
        display: none !important;
    }

    .devfild {
        width: 88.5%;
    }

    #free_trial .textfield.lname {
        float: none;
    }

    .dform2 {
        width: 88.5%;
    }

    .recbackground {
        background: url(Images/index/recbg.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: auto;
        padding: 224px 0;
        text-align: center;
        color: #fff;
        width: 100%;
    }

    .boxfontstyle {
        color: #fff;
        font-size: 50px;
        padding: 44px;
    }

    .subtitlef {
        font-size: 22px;
    }

    .btn-blue {
        background: #041f4d none repeat scroll 0 0;
        border: 1px solid #041f4d;
        border-radius: 4px;
        color: #fff !important;
        font-family: "pn-bold","Helvetica Neue",Arial,sans-serif !important;
        font-size: 9pt;
        font-weight: bold;
        padding: 12px 20px 11px;
        text-transform: uppercase;
        transition: background 100ms ease 0s;
        text-decoration: none;
        margin-right: 10px;
    }

        .btn-blue:hover {
            background: #fff none repeat scroll 0 0;
            border: 1px solid #00a0e0;
            border-radius: 4px;
            color: #00A0E0 !important;
            font-family: "pn-bold","Helvetica Neue",Arial,sans-serif !important;
            font-size: 9pt;
            padding: 12px 20px 11px;
            text-transform: uppercase;
            transition: background 100ms ease 0s;
            text-decoration: none;
        }


.MemberLoginDropDown .input_box_login {
			padding: 9px 0 !important;
		}


    @@media (max-width: 600px) {
        #free_trial .textfield.fname, #free_trial .textfield.lname {
            width: 50%;
        }

        .techs ul li {
            width: 32.3% !important;
            float: left;
        }

        .dental_specs ul li {
            width: 80.5%;
        }

        .fname {
            float: right;
        }

        .lname {
            float: left !important;
        }

        #free_trial .textfield {
            width: 100%;
        }

        .connects .floating {
            bottom: -53px;
            right: 0px !important;
        }

        #register-form {
            overflow: hidden;
        }

        .da-slide-current .da-img img {
            display: block;
            margin: -20px auto 0;
            width: 70%;
        }

        article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
            background-color: #F2F2F2 !important;
        }

        .services_panel ul li {
            float: none;
            margin-bottom: 15px;
            display: inline;
        }

        .dental_specs ul li.first, .dental_specs ul li.third {
            margin-left: 20px;
        }

        .mandatory {
            float: left;
            float: left;
        }

        .bluebg {
            background: #00aaf0 none repeat scroll 0 0 !important;
        }

        #free_trial .textfield {
            float: right;
        }

        .dform {
            height: 50px;
            position: relative;
            display: inline-flex;
            width: 100%;
        }

        .dform2 {
            width: 90%;
        }
    }


    @@media (max-width: 800px) {
        .secure_mktng {
            margin-top: 60px;
        }

        article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
            background-color: #00aaf0;
        }

        .da-slider {
            height: 725px;
            position: relative;
        }

        .secure_mktng {
            margin-top: 0;
        }

        .bluebg {
            padding: 10px;
        }

        .find_dentist input[type="text"] {
            float: left;
            margin: 0;
            width: auto;
        }
    }
</style>
<script type="text/javascript">
    function DefaultbtnFindDentist(event) {
        if (event.keyCode == 13) {
            $('#btnFindDentist').click();
        }
    }

    function DefaultbtnSearchbyLocation(event) {
        if (event.keyCode == 13) {
            $('#btnSearchbyLocation').click();
        }
    }

    $(document).ready(function () {
        if ('@ViewBag.Credentials' != "") {
            swal({ title: "", text: 'your password does not match.' });
            //alert("your password does not match.");
            $('#txtEmail_UserName').val('@ViewBag.UserName');
            $('.loginbtn').click();
            $('#txtPassword').focus();

        }

        if ('@ViewBag.EncriptesString' != "") {
            $("#DTPMKC").val('@ViewBag.EncriptesString');
        }
        $(function () {
            $("#homeindex").addClass("active");
            $("#quick_tour").removeClass("active");
            $("#plan_pricing").removeClass("active");
            $("#faq").removeClass("active");
            $("#about_us").removeClass("active");
            $("#contact_us").removeClass("active");

            var Check = getquerystringvalueByName('valid');
            if (Check != null && Check != "") {
                if (Check == "Invalid") {
                    swal({ title: "", text: 'Email address and password do not match.' });
                    //alert('Email address and password do not match');
                    document.getElementById('divindex').style.display = 'block';
                    document.getElementById('divsuccess').style.display = 'none';



                }

                if (Check == "2") {
                    swal({ title: "", text: 'Your account was de-activated due to inactivity. We have emailed you a link to re-activate your account. Please check your email and if you did not receive our email within a few minutes please check your spam folder.' });
                    //alert('Your account was de-activated due to inactivity. We have emailed you a link to re-activate your account. Please check your email and if you did not receive our email within a few minutes please check your spam folder.');
                    document.getElementById('divindex').style.display = 'block';
                    document.getElementById('divsuccess').style.display = 'none';
                }

                if (Check == "3") {
                    swal({ title: "", text: 'Your account has been blocked by Admin.' });
                   // alert('Your account has been blocked by Admin.');
                    document.getElementById('divindex').style.display = 'block';
                    document.getElementById('divsuccess').style.display = 'none';
                }

                if (Check == "Signup" || Check == "signup") {
                    document.getElementById('divindex').style.display = 'none';
                    document.getElementById('divsuccess').style.display = 'block';

                }

            }



        });
    });



    /**
    * Basic jQuery Validation Form Demo Code
    * Copyright Sam Deering 2012
    * Licence: http://www.jquery4u.com/license/
    */
    (function ($, W, D) {
        var JQUERY4U = {};

        JQUERY4U.UTIL =
    {
        setupFormValidation: function () {
            //form validation rules
            $.validator.addMethod("customemail",
    function (value, element) {
        return /([a-z0-9][-a-z0-9_\+\.]*[a-z0-9])@@([a-z0-9][-a-z0-9\.]*[a-z0-9]\.(arpa|root|aero|biz|cat|com|coop|edu|gov|info|int|jobs|mil|mobi|museum|name|net|org|pro|tel|travel|ac|ad|ae|af|ag|ai|al|am|an|ao|aq|ar|as|at|au|aw|ax|az|ba|bb|bd|be|bf|bg|bh|bi|bj|bm|bn|bo|br|bs|bt|bv|bw|by|bz|ca|cc|cd|cf|cg|ch|ci|ck|cl|cm|cn|co|cr|cu|cv|cx|cy|cz|de|dj|dk|dm|do|dz|ec|ee|eg|er|es|et|eu|fi|fj|fk|fm|fo|fr|ga|gb|gd|ge|gf|gg|gh|gi|gl|gm|gn|gp|gq|gr|gs|gt|gu|gw|gy|hk|hm|hn|hr|ht|hu|id|ie|il|im|in|io|iq|ir|is|it|je|jm|jo|jp|ke|kg|kh|ki|km|kn|kr|kw|ky|kz|la|lb|lc|li|lk|lr|ls|lt|lu|lv|ly|ma|mc|md|mg|mh|mk|ml|mm|mn|mo|mp|mq|mr|ms|mt|mu|mv|mw|mx|my|mz|na|nc|ne|nf|ng|ni|nl|no|np|nr|nu|nz|om|pa|pe|pf|pg|ph|pk|pl|pm|pn|pr|ps|pt|pw|py|qa|re|ro|ru|rw|sa|sb|sc|sd|se|sg|sh|si|sj|sk|sl|sm|sn|so|sr|st|su|sv|sy|sz|tc|td|tf|tg|th|tj|tk|tl|tm|tn|to|tp|tr|tt|tv|tw|tz|ua|ug|uk|um|us|uy|uz|va|vc|ve|vg|vi|vn|vu|wf|ws|ye|yt|yu|za|zm|zw)|([0-9]{1,3}\.{3}[0-9]{1,3}))/.test(value);
    },
    "Please enter a valid email address"
);


            $("#register-form").validate({
                rules: {

                    Email: {
                        required: {
                            depends: function () {
                                $(this).val($.trim($(this).val()));
                                return true;
                            }
                        },
                        customemail: true
                    }

                },
                                messages: {

                                    Email: "Please enter a valid email address"

                                },
                submitHandler: function (form) {
                    form.submit();
                }
            });
        }
    }

        //when the dom has loaded setup form validation rules
        $(D).ready(function ($) {
            JQUERY4U.UTIL.setupFormValidation();

        });

    })(jQuery, window, document);



    function ValidateEmail() {

        var result = IsEmail($("#txtemail").val());
        if (result == true)
        { }
        else {
            swal({ title: "", text: 'Please Enter Valid Email Id.' });
            //alert('Please Enter Valid Email Id');
            document.getElementById("txtemail").focus();
            return false;
        }




    }


    // For query string values
    function getquerystringvalueByName(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.search);
        return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }






    //$(function () {


    //    // For Name
    //    $('#txtname').focus(function () {
    //        if (document.getElementById('txtname').value == 'Name') {
    //            document.getElementById('txtname').value = '';
    //        }

    //    });
    //    $('#txtname').blur(function () {

    //        if (document.getElementById('txtname').value == '') {
    //            document.getElementById('txtname').value = 'Name';
    //        }
    //    });

    //    // For Email
    //    $('#txtemail').focus(function () {
    //        if (document.getElementById('txtemail').value == 'Email') {
    //            document.getElementById('txtemail').value = '';
    //        }

    //    });
    //    $('#txtemail').blur(function () {
    //        if (document.getElementById('txtemail').value == '') {
    //            document.getElementById('txtemail').value = 'Email';
    //        }
    //    });

    //    // For Phone
    //  //  $('#txtphone').focus(function () {
    //  //      if (document.getElementById('txtphone').value == 'Phone') {
    //  //          $('#txtphone').mask({ mask: '(999) 999-9999' });
    //  //      }
    //  //
    //  //  });
    //    $('#txtphone').blur(function () {
    //        if (document.getElementById('txtphone').value == '' || document.getElementById('txtphone').value == '') {
    //            document.getElementById('txtphone').setAttribute('placeholder', 'Phone');
    //        }


    //    });



    //    // For First Name
    //    $('#txtfname').focus(function () {
    //        if (document.getElementById('txtfname').value == 'Keywords') {
    //            document.getElementById('txtfname').value = '';
    //        }

    //    });
    //    $('#txtfname').blur(function () {

    //        if (document.getElementById('txtfname').value == '') {
    //            document.getElementById('txtfname').value = 'Keywords';
    //        }
    //    });






    //    // For City
    //    $('#txtCity').focus(function () {
    //        if (document.getElementById('txtCity').value == 'City') {
    //            document.getElementById('txtCity').value = '';
    //        }

    //    });
    //    $('#txtCity').blur(function () {

    //        if (document.getElementById('txtCity').value == '') {
    //            document.getElementById('txtCity').value = 'City';
    //        }
    //    });


    //    // For State
    //    $('#txtState').focus(function () {
    //        if (document.getElementById('txtState').value == 'State') {
    //            document.getElementById('txtState').value = '';
    //        }

    //    });
    //    $('#txtState').blur(function () {

    //        if (document.getElementById('txtState').value == '') {
    //            document.getElementById('txtState').value = 'State';
    //        }
    //    });


    //    // For Country
    //    $('#txtCountry').focus(function () {
    //        if (document.getElementById('txtCountry').value == 'Country') {
    //            document.getElementById('txtCountry').value = '';
    //        }

    //    });
    //    $('#txtCountry').blur(function () {

    //        if (document.getElementById('txtCountry').value == '') {
    //            document.getElementById('txtCountry').value = 'Country';
    //        }
    //    });



    //});



    function showHide(shID) {

        if (document.getElementById(shID + '-Show') && document.getElementById(shID + '-Hide')) {
            if (document.getElementById(shID + '-Show').style.display == 'none') {
                document.getElementById(shID + '-Show').style.display = '';
                document.getElementById(shID + '-Hide').style.display = 'none';

            }
            else {
                document.getElementById(shID + '-Hide').style.display = '';
                document.getElementById(shID + '-Show').style.display = 'none';
            }
        }

    }



    function CharactersOnlyValidate() {
        var charactersOnly = IsCharactersOnly(document.getElementById('txtname').value);
        if (charactersOnly == false) {
            swal({ title: "", text: 'Allow characters only.' });
           // alert('Allow characters only');
            document.getElementById('txtname').value = '';
        }
    }

    function PhoneValid() {
        $(".requerd").attr("style", "display:none !important");
        //$("#txtphone").mask("(999) 999-9999");

        //$("#txtphone").on("blur", function () {
        //    var last = $(this).val().substr($(this).val().indexOf("-") + 1);
        //    if (last.length == 3) {
        //        var move = $(this).val().substr($(this).val().indexOf("-") - 1, 1);
        //        var lastfour = move + last;
        //        var first = $(this).val().substr(0, 9);
        //        $(this).val(first + '-' + lastfour);
        //    }
        //});
        if ($('#txtFirstname').val() == "" && $('#txtLastname').val() == "" && $('#general_specialist').val() == "" && $('#txtphone').val() == "") {
            $(".requerd").attr("style", "display:block !important");
            swal({ title: "", text: 'Please Complete All Fields' });
            return false;
        }
        if ($('#txtFirstname').val() == "") {
            var name = $('#txtFirstname').val();
            var RegName = /^[^\s]+\s[^\s]+$|^[^\s]+$/;
            if (!RegName.test(name)) {

                swal({ title: "", text: 'Please Complete All Fields' });
                $("#req1").attr("style", "display:block !important");
                // alert("Please enter valid name.");
                $('#txtFirstname').focus();
                $('#divLoading').hide();
                return false;
            }
        }


        if ($('#txtLastname').val() == "") {

            var name = $('#txtLastname').val();
            var RegName = /^[^\s]+\s[^\s]+$|^[^\s]+$/;
            if (!RegName.test(name)) {

                swal({ title: "", text: 'Please Complete All Fields' });
                $("#req1").attr("style", "display:block !important");
                // alert("Please enter valid name.");
                $('#txtLastname').focus();
                $('#divLoading').hide();
                return false;
            }
        }

        if ($('#general_specialist').val() == "") {

            var name = $('#general_specialist').val();
            var RegName = /^[^\s]+\s[^\s]+$|^[^\s]+$/;
            var SpecialityCheck = IsCharactersOnly(name);
            if (!RegName.test(name)) {
                swal({ title: "", text: 'Please Complete All Fields' });
                $("#req2").attr("style", "display:block !important");
                $("#req3").attr("style", "display:block !important");
                $("#req4").attr("style", "display:block !important");
                // alert("Please enter valid name.");
                $('#general_specialist').focus();
                $('#divLoading').hide();
                return false;
            }

        }
        else {
            var name = $('#general_specialist').val();
            var SpecialityCheck = IsCharactersOnly(name);
            if (SpecialityCheck == false) {
                //alert('General specialist allow characters only');
                swal({ title: "", text: 'General specialist allow characters only' });
                $('#general_specialist').focus();
                return false;
            }
        }

        var re = /[A-Z0-9._%+-]+[A-Z0-9.-]+.[A-Z]{2,4}/igm;
        $email = $('#txtemail');
        if ($email.val() == '' || !re.test($email.val())) {

            swal({ title: "", text: 'Please enter a valid email address.' });
            $("#req3").attr("style", "display:block !important");
            return false;
        }

        if ($('#txtphone').val() == "") {
            var phone = $('#txtphone').val();
            $('#txtphone').focus();
            var RegExEmail = /^(?:\([2-9]\d{2}\)\ ?|[2-9]\d{2}(?:\-?|\ ?))[2-9]\d{2}[- ]?\d{4}$/;
            if (!RegExEmail.test(phone)) {

                swal({ title: "", text: 'Please enter valid phone number.' });
                $("#req4").attr("style", "display:block !important");
                $('#txtphone').focus();
                $('#divLoading').hide();
                return false;
            }
        }

        jQuery.ajaxSetup({ async: false });
        var status = true;
        $.post("/User/CheckDoctorLoginNameIsExistsOrNot", { Username: $('#txtemail').val() }, function (data) {
            if (data == "true") {
                swal({ title: "", text: 'This email address already exists.' });
               // alert("This email address already exists. please try new mail id");
                $('#divLoading').hide();
                status = false;
            }
        });
        jQuery.ajaxSetup({ async: true });

        $('#divLoading').hide();
        return status;
    }


    function FindDentist() {
        var KeyWord = (document.getElementById('txtfname').value == 'Keywords' ? "" : document.getElementById('txtfname').value);
        if (KeyWord == "") {
            window.location.href = '@Url.Action("SearchResult", "Profiles")';
        }
        else {
            window.location.href = '@Url.Action("SearchResult", "Profiles")?keywords=' + KeyWord;
        }
    }


    function SearchbyLocation() {

        var city = (document.getElementById('txtCity').value == 'City' ? "" : document.getElementById('txtCity').value);
        var state = (document.getElementById('txtState').value == 'State' ? "" : document.getElementById('txtState').value);
        var country = (document.getElementById('txtCountry').value == 'Country' ? "" : document.getElementById('txtCountry').value);
        window.location.href = '@Url.Action("SearchResult", "Profiles")?city=' + city + '&state=' + state + '&country=' + country;
    }


</script>

<div id="divindex" style="display:block;">

    <section class="banner container recbackground">
        <div class="container">
            <h1 class="boxfontstyle" style="line-height:40px;font-size: 45px;">INCREASE REFERRALS FOR DENTISTS</h1>
            <p class="subtitlef">Save Time &amp; Stay Compliant</p><br><br>
            <a class="btn-blue" href="/Signuptoday">Sign up</a>
            <a class="btn-blue demo-modal-btn" href="/ContactUs">request a demo</a>
        </div>
    </section>


    <section class="banner container">
        <div id="da-slider" class="da-slider">
            <div class="da-slide">
                <div id="free_trial" class="text_panel">
                    <!-- <small class="tag"></small> -->
                    <h1>Dental Professionals</h1>
                    <div class="matter">
                        <p>
                            Securely Share Dental Records &amp;<br />
                            Electronic Forms with<br />
                            Colleagues & Patients
                        </p>
                        <label>Sign up now</label>
                        @*    @Url.Action("DoctorSingup", "User")*@
                        <form action="@Url.Action("DoctorSingup", "User")" method="post" id="register-form">
                            <div>
                                <input style="width:47%;" class="textfield fname" name="FirstName" type="text" value="" placeholder="FirstName" id="txtFirstname" />

                                <input style="width:47.5%;" class="textfield lname" name="LastName" type="text" value="" placeholder="LastName" id="txtLastname" />
                            </div>

                            <div class="dform"><input class="textfield dform2" value="" id="general_specialist" name="general_specialist" type="text" placeholder="General Dentist or Specialist?" /></div>

                            <div class="dform"><input class="textfield dform2" type="text" value="" id="txtemail" name="Email" placeholder="Email" /></div>

                            <div class="dform"><input class="textfield dform2" name="Phone" type="text" id="txtphone" placeholder="Phone" /></div>

                            @*<label class="requerd" id="req1">*</label><input class="textfield fname" name="FirstName" type="text" value="" placeholder="FirstName" id="txtFirstname" />
                                <input class="textfield lname" name="LastName" type="text" value="" placeholder="LastName" id="txtLastname" />
                                     <label class="requerd" id="req2">*</label><input style="width:88.5%;" class="textfield" value="" id="general_specialist" name="general_specialist" type="text" placeholder="General Dentist or Specialist?" />
                                     <label class="requerd" id="req3">*</label><input style="width:88.5%;" class="textfield" type="text" value="" id="txtemail" name="Email" placeholder="Email" />
                                     <label class="requerd" id="req4">*</label><input style="width:88.5%;" class="textfield" name="Phone" type="text" id="txtphone" placeholder="Phone"/>*@
                            <input class="get_started" value="Get Started" type="submit" onclick="return PhoneValid()" />
                        </form>
                        <a href='@Url.Action("PrivacyPolicy", "Faq")'>Privacy Policy</a>
                    </div>
                </div>
                @*<div class="da-img"><a href="http://recordlinc.com/demo" target="_blank"><img src="/Images/index/mac.png"></a></div>*@
                <div class="da-img"><a href="https://youtu.be/ky1IFi5vhi4?list=PLzwH-GxNakibtDqFW-HS8x28TI_9B8Ncg" target="_blank"><img src="/Images/index/mac.png"></a></div>
            </div>
            <nav class="da-arrows">
                <span class="da-arrows-prev"></span>
                <span class="da-arrows-next"></span>
            </nav>
        </div>
        <div class="secure_mktng">
            <h1><span>Secure Communication Platform</span> for Dental Professionals <span>and Patients</span></h1>
        </div>
    </section>
    <!-- Banner ends here -->
    <!-- Search starts here -->
    <section class="bluebg phone">
        <div class="find_dentist container">
            <div class="row" id="dvFullDesc-Hide" style="position: relative;">
                <label class="fd">Find a Dentist:</label>
                <input class="textfield" type="text" value="" placeholder="Keywords" id="txtfname" onkeyup="DefaultbtnFindDentist(event)" />

                <input class="search_icon" type="submit" onclick="FindDentist()" id="btnFindDentist" />
                <input class="search_location" name="Search by Location" type="submit" onclick="showHide('dvFullDesc');return false;" />
            </div>
            <div class="row" id="dvFullDesc-Show" style="position: relative; display: none;">

                <label class="fd">Search by Location:</label>
                <input id="txtCity" class="textfield" style="width:12.3%;" value="City" onkeyup="DefaultbtnSearchbyLocation(event)" />
                <input id="txtState" class="textfield" style="width:12.3%;" value="State" onkeyup="DefaultbtnSearchbyLocation(event)" />
                <input id="txtCountry" class="textfield" style="width:12.3%;" value="Country" onkeyup="DefaultbtnSearchbyLocation(event)" />
                <input class="search_icon" type="submit" onclick="SearchbyLocation()" id="btnSearchbyLocation" />

                <input class="search_location" style="background: url('../Images/index/search_byname.png') no-repeat scroll left" name="Search by Name" type="button" onclick="showHide('dvFullDesc');return false;">

            </div>
            <div class="row alphabet_list">
                <label class="al">Last name starts with</label>
                <ul>
                    <li><a href="@Session["CompanyWebsite"]/Profiles/SearchResult?alpha=a" target="_blank">a</a></li>
                    <li><a href="@Session["CompanyWebsite"]/Profiles/SearchResult?alpha=b" target="_blank">b</a></li>
                    <li><a href="@Session["CompanyWebsite"]/Profiles/SearchResult?alpha=c" target="_blank">c</a></li>
                    <li><a href="@Session["CompanyWebsite"]/Profiles/SearchResult?alpha=d" target="_blank">d</a></li>
                    <li><a href="@Session["CompanyWebsite"]/Profiles/SearchResult?alpha=e" target="_blank">e</a></li>
                    <li><a href="@Session["CompanyWebsite"]/Profiles/SearchResult?alpha=f" target="_blank">f</a></li>
                    <li><a href="@Session["CompanyWebsite"]/Profiles/SearchResult?alpha=g" target="_blank">g</a></li>
                    <li><a href="@Session["CompanyWebsite"]/Profiles/SearchResult?alpha=h" target="_blank">h</a></li>
                    <li><a href="@Session["CompanyWebsite"]/Profiles/SearchResult?alpha=i" target="_blank">i</a></li>
                    <li><a href="@Session["CompanyWebsite"]/Profiles/SearchResult?alpha=j" target="_blank">j</a></li>
                    <li><a href="@Session["CompanyWebsite"]/Profiles/SearchResult?alpha=k" target="_blank">k</a></li>
                    <li><a href="@Session["CompanyWebsite"]/Profiles/SearchResult?alpha=l" target="_blank">l</a></li>
                    <li><a href="@Session["CompanyWebsite"]/Profiles/SearchResult?alpha=m" target="_blank">m</a></li>
                    <li><a href="@Session["CompanyWebsite"]/Profiles/SearchResult?alpha=n" target="_blank">n</a></li>
                    <li><a href="@Session["CompanyWebsite"]/Profiles/SearchResult?alpha=o" target="_blank">o</a></li>
                    <li><a href="@Session["CompanyWebsite"]/Profiles/SearchResult?alpha=p" target="_blank">p</a></li>
                    <li><a href="@Session["CompanyWebsite"]/Profiles/SearchResult?alpha=q" target="_blank">q</a></li>
                    <li><a href="@Session["CompanyWebsite"]/Profiles/SearchResult?alpha=r" target="_blank">r</a></li>
                    <li><a href="@Session["CompanyWebsite"]/Profiles/SearchResult?alpha=s" target="_blank">s</a></li>
                    <li><a href="@Session["CompanyWebsite"]/Profiles/SearchResult?alpha=t" target="_blank">t</a></li>
                    <li><a href="@Session["CompanyWebsite"]/Profiles/SearchResult?alpha=u" target="_blank">u</a></li>
                    <li><a href="@Session["CompanyWebsite"]/Profiles/SearchResult?alpha=v" target="_blank">v</a></li>
                    <li><a href="@Session["CompanyWebsite"]/Profiles/SearchResult?alpha=w" target="_blank">w</a></li>
                    <li><a href="@Session["CompanyWebsite"]/Profiles/SearchResult?alpha=x" target="_blank">x</a></li>
                    <li><a href="@Session["CompanyWebsite"]/Profiles/SearchResult?alpha=y" target="_blank">y</a></li>
                    <li><a href="@Session["CompanyWebsite"]/Profiles/SearchResult?alpha=z" target="_blank">z</a></li>
                </ul>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </section>
    <!-- Search ends here -->
    <!-- Recordlinc info starts here -->
    <section class="whitebg">
        <div class="recordlinc_info container">
            <p>
                RecordLinc allows dental professionals to securely and easily send electronic referrals, patient transfers, and track treatment plans between dental practices in a HIPAA compliant portal.<br /><br />
                MyDentalFiles ties directly into RecordLinc and allows patients to access their dental files, fill out electronic forms prior to visiting a dental office, and securely receive secure communication from dentists.<br /><br />
                <span>Want to <mark class="dbluetxt">learn</mark> more? Call <mark class="dbluetxt">RecordLinc</mark> at (415)749-1444 or email at <mark class="dbluetxt"><a style="text-decoration:none;color:#001B49;" href="mailto:sales@recordlinc.com">sales@recordlinc.com</a> </mark></span>
            </p>
        </div>
    </section>
    <!-- Recordlinc info ends here -->
    <!-- Dental Professionals starts here -->
    <section class="dental_proffesions">
        <div class="container">
            <h2>142,458 Dental Professionals<span>RecordLinc is the largest professional network of dental professionals in the world</span></h2>
            <p>
                Start <mark class="bluetxt">Connecting</mark> with dental colleagues, <mark class="bluetxt">Simplifying</mark> referrals and <mark class="bluetxt">Growing</mark> your practice.
            </p>
            <ul>
                <li>
                    <img src="Images/index/connect-practice.png" alt="Connect your Practice">
                    <p>Connect your practice<br /> Think "LinkedIn for Dentists"</p>
                </li>
                <li>
                    <img src="Images/index/simplify-referrals.png" alt="Simplify Referrals">
                    <p>Simplify Referrals<br /> Save time &amp; stay compliant</p>
                </li>
                <li>
                    <img src="Images/index/grow-practice.png" alt="Grow your Practice">
                    <p>Grow your practice<br /> with more referrals</p>
                </li>
            </ul>
        </div>
    </section>
    <!-- Dental Professionals ends here -->
    <!-- Dental Video starts here -->
    <section class="dental_video greybg">
        <div class="container">
            <h3>Do you want to be the Top Dental Professional in your area?</h3>
            <p>
                RecordLinc is the best way to gain more referrals and build your practice.
            </p>
            <div class="video_panel">
                <div class="connects">
                    <ul>
                        <li>
                            <h4>Connect <span>Simplify</span> Grow</h4>
                            <input class="signup_now" name="Signup Now" type="button" value="Signup Now" onclick="location.href='Signuptoday'" />
                        </li>
                        <li>
                            <!-- Dont add any space between the li's -->
                            <h4>Claim your profile <span>today!</span></h4>
                            <input class="search_database" name="Search Database" type="button" value="Search Database" onclick="SearchDatabase()" />
                        </li>
                    </ul>
                    <div class="floating"><img src="Images/index/dentist.png" alt="Dentist"></div>
                </div>

                <div class="video_container">

                    <div class="video">
                        <!-- player container-->
                        <a href="https://recordlinc.com/ImageBank/SiteVideo/dr-bob.mp4" class="player" id="player">
                            <img src="Images/index/video.png" alt="Recordlinc Video" />
                        </a>
                        <!-- here is a textarea element where the embed code is placed -->

                        <br class="clear" />

                        <script>
                      flowplayer("player", "https://releases.flowplayer.org/swf/flowplayer-3.2.16.swf", {
                          clip: {
                              autoPlay: false,
                              autoBuffering: true,
                              buttons: true,
                              fullscreen: 'Enter Fullscreen mode'
                          }
                      });
                        </script>
                    </div>
                </div>

                <div class="techs">
                    <ul>
                        <li>
                            <span class="border"></span>
                            <i class="connect">Connect</i>
                            <p>Connect</p>
                        </li>
                        <li>
                            <span class="border"></span>
                            <i class="simplify">Simplify</i>
                            <p>Simplify</p>
                        </li>
                        <li>
                            <span class="border"></span>
                            <i class="grow">Grow</i>
                            <p>Grow</p>
                        </li>
                    </ul>
                </div>

                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
    </section>
    <!-- Dental Video ends here -->
    <!-- Dental Specifications starts here -->
    <section class="dental_specs">
        <div class="container">
            <ul>
                <li class="first">
                    <!-- Classes added here are for Responsiv purpose only -->
                    <i class="dental_specialist">Dental specialists</i>
                    <h5>Dental specialists</h5>
                    <p>
                        Market Your Practice<br />
                        Build Referral Network<br />
                        Increase Efficiency<br />
                        Improve Communication<br />
                        Medical Legal & HIPAA
                    </p>
                </li>
                <li class="second">
                    <i class="dental_labs">Dental Labs</i>
                    <h5>Dental Labs</h5>
                    <p>
                        Market Your Lab<br />
                        Receive Lab Requisitions<br />
                        Speed Turnaround<br />
                        Expanded Reach<br />
                        All Info in One Location
                    </p>
                </li>
                <li class="third">
                    <i class="general_dentists">General Dentists</i>
                    <h5>General Dentists</h5>
                    <p>
                        Track Your Patients Care<br />
                        Easily Refer Your Patients<br />
                        Collaborate With Colleagues<br />
                        Count and Track All Referrals<br />
                        Backup Patient Files
                    </p>
                </li>
                <li class="fourth">
                    <i class="dental_patients">Patients</i>
                    <h5>Patients</h5>
                    <p>
                        Securely Access Files<br />
                        Improve Communication<br />
                        Control Treatment Plan<br />
                        Fill Out Online Forms<br />
                        Reduce X-Rays
                    </p>
                </li>
            </ul>
        </div>
    </section>
    <!-- Dental Specifications ends here -->
    <!--End Popup For Paid Version-->
    <!-- Dental Testimonials starts here -->
    <section class="dental_testimonials">
        <div class="container">
            <div class="separator"><span></span></div>
            <ul>
                <li>
                    <h5>Dr. Bruce Bohannan<span>~ Oral Surgeon</span></h5>
                    <div class="row">
                        <div class="thumb"><img src="Images/index/bruce.jpg" alt="Dr.Bruce Bohannan"></div>
                        <blockquote>
                            The best thing about RecordLinc is that it is an easy way to communicate with all parties involved while treating my patients. It also allows us to transfer information in a HIPAA compliant manner.
                        </blockquote>
                    </div>
                </li>
                <li>
                    <h5>Dr. Greg Ray<span>~ General Dentist</span></h5>
                    <div class="row">
                        <div class="thumb"><img src="Images/index/greg.jpg" alt="Dr. Greg Ray"></div>
                        <blockquote>
                            RecordLinc allows us to better communicate with the various specialists we work with so we don't get the calls asking, "can you send us a copy of that x-ray again”.
                        </blockquote>
                    </div>
                </li>
                <div class="clear"></div>
            </ul>
            <div class="clear"></div>
            <div class="separator"><span></span></div>

            <div class="clear"></div>
        </div>
    </section>
    <!-- Dental Testimonials ends here -->

</div>


<div class="container" id="divsuccess" style="display:none;">
    <div id="email_confirm" class="content" style="margin-top:10px;">
        <h2 class="title">Check your E-mail for your login details</h2>
        <div class="textpanel team">
            <ul class="news">
                <li>
                    <div class="thumb"><img src="../images/inner/gregory.jpg" alt="Dr. Gregory Burnett"></div>
                    <div class="text">
                        <h2>Welcome to RecordLinc by Founder - Dr. Gregory Burnett<span>Orthodontists</span></h2>
                        <p>
                            Thank you for signing up for RecordLinc and welcome to the RecordLinc family. We are here to help you grow your practice and improve your patient care. I wanted to briefly share the story of why we started RecordLinc.<br>
                            <br>
                            One day I was watching my office staff handle my referrals. Quite frankly, I couldn't believe how manual the process was. They are constantly complaining about how time consuming the process was and irritated. I'm sure you can relate...<br>
                            <br>
                            More than that, the process took too long and I was struggling to find a solution to common problem many of us dental practitioners have. Just like you, my practice needed a steady and reliable stream of new referrals to keep my revenue growing, while reducing the "friction" with my office staff.<br>
                            <br>
                            RecordLinc has solved these problems and headaches for my practice. I now have a simple and cost effective way to connect with other local specialists to send and receive referrals, as well as maintaining HIPAA compliance. And much more... The best way I can describe this is LinkedIn built for Dentists to connect with local referral partners, simplifying your practice, and grow your revenue.<br>
                            <br>
                            As a fellow Dentist, I recommend you shake the "old ways" and try Recordlinc. Your staff and your pocket book will appreciate it. Feel free to reach out to our team for suggestions or training anytime. <br><br>
                        </p>
                        <ul>
                            <li>Dr. Gregory Burnett, DDS</li>
                            <li>Email: <a href="mailto:greg@RecordLinc.com">greg@RecordLinc.com</a></li>
                            <li>Phone: (415)749-1444</li>
                            <li>Facebook: <a href="https://www.facebook.com/recordlinc">www.facebook.com/recordlinc</a></li>
                            <li>LinkedIn: <a href="https://www.linkedin.com/in/recordlinc/">www.linkedin.com/in/recordlinc/</a></li>
                        </ul>
                        <br><br>
                    </div>

                    <div class="clear"></div>
                </li>
            </ul>
        </div>

    </div>
</div>
