﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Recordlinc - ResetPassword</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="../../Content/css/recordlinc.css" type="text/css" media="screen">
    <link rel="icon" href="../Images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="../Images/favicon.ico" type="image/x-icon" />
    <script src="../../Content/js/jquery-1.8.3.min.js"></script>
    <script src="../../Content/js/html5.js"></script>
    <script src="../../Content/js/scroll_top.js"></script>
    <script src="../../Content/js/script.js"></script>
    <!-- J-query validator js -->
    <script type="text/javascript" src="../../Content/js/jquery.validate.min.js"></script>

    <!--SweetAlert-->
    <script src="~/Content/js/SweetAlert/sweetalert-dev.js"></script>
    <script src="~/Content/js/SweetAlert/sweetalert.min.js"></script>
    <link href="~/Content/css/SweetAlert/sweetalert.css" rel="stylesheet" />
    <script type="text/javascript">



        function PhoneValid() {
            $("#divLoading").show();
            if ($('#txtphone').val() != "Phone") {
                var phone = $('#txtphone').val();
                var RegExEmail = /^(?:\([2-9]\d{2}\)\ ?|[2-9]\d{2}(?:\-?|\ ?))[2-9]\d{2}[- ]?\d{4}$/;
                if (!RegExEmail.test(phone)) {
                    //alert("Please enter valid phone number");
                    swal({ title: "", text: 'Please enter valid phone number' });
                    $('#divLoading').hide();
                    return false;
                }

            }




            $('#divLoading').hide();
        }

        /**
        * Basic jQuery Validation Form Demo Code
        * Copyright Sam Deering 2012
        * Licence: http://www.jquery4u.com/license/
        */
        (function ($, W, D) {
            var JQUERY4U = {};

            JQUERY4U.UTIL =
    {
        setupFormValidation: function () {

            //form validation rules
            $.validator.addMethod("customemail",
    function (value, element) {
        return /([a-z0-9][-a-z0-9_\+\.]*[a-z0-9])@@([a-z0-9][-a-z0-9\.]*[a-z0-9]\.(arpa|root|aero|biz|cat|com|coop|edu|gov|info|int|jobs|mil|mobi|museum|name|net|org|pro|tel|travel|ac|ad|ae|af|ag|ai|al|am|an|ao|aq|ar|as|at|au|aw|ax|az|ba|bb|bd|be|bf|bg|bh|bi|bj|bm|bn|bo|br|bs|bt|bv|bw|by|bz|ca|cc|cd|cf|cg|ch|ci|ck|cl|cm|cn|co|cr|cu|cv|cx|cy|cz|de|dj|dk|dm|do|dz|ec|ee|eg|er|es|et|eu|fi|fj|fk|fm|fo|fr|ga|gb|gd|ge|gf|gg|gh|gi|gl|gm|gn|gp|gq|gr|gs|gt|gu|gw|gy|hk|hm|hn|hr|ht|hu|id|ie|il|im|in|io|iq|ir|is|it|je|jm|jo|jp|ke|kg|kh|ki|km|kn|kr|kw|ky|kz|la|lb|lc|li|lk|lr|ls|lt|lu|lv|ly|ma|mc|md|mg|mh|mk|ml|mm|mn|mo|mp|mq|mr|ms|mt|mu|mv|mw|mx|my|mz|na|nc|ne|nf|ng|ni|nl|no|np|nr|nu|nz|om|pa|pe|pf|pg|ph|pk|pl|pm|pn|pr|ps|pt|pw|py|qa|re|ro|ru|rw|sa|sb|sc|sd|se|sg|sh|si|sj|sk|sl|sm|sn|so|sr|st|su|sv|sy|sz|tc|td|tf|tg|th|tj|tk|tl|tm|tn|to|tp|tr|tt|tv|tw|tz|ua|ug|uk|um|us|uy|uz|va|vc|ve|vg|vi|vn|vu|wf|ws|ye|yt|yu|za|zm|zw)|([0-9]{1,3}\.{3}[0-9]{1,3}))/.test(value);
    },
    "Please enter a valid email address"
);

            $("#register-form").validate({
                rules: {

                    Email: {
                        required: {
                            depends: function () {
                                $(this).val($.trim($(this).val()));
                                return true;
                            }
                        },
                        customemail: true
                    }

                },
                messages: {

                    Email: "Please enter a valid email address"

                },
                submitHandler: function (form) {
                    form.submit();
                }
            });
        }

    }

            //when the dom has loaded setup form validation rules
            $(D).ready(function ($) {
                JQUERY4U.UTIL.setupFormValidation();
            });

        })(jQuery, window, document);
    </script>
    <!-- Responsive Menu Files -->
    <link rel="stylesheet" type="text/css" href="../../Content/css/menu.css" />
    <script src="../../Content/js/menu.js" type="text/javascript"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $('.sub-menu li a').mouseenter(function () {
                $(this).closest("ul").closest("li").addClass("active");
            }).mouseleave(function () {
                $(this).closest("ul").closest("li").removeClass("active");
            });
        });
        function FindDentist() {
            var fname = "";
            var lname = "";
            window.location.href = '@Url.Action("SearchResult", "Profiles")';  //?fname=' + fname + '&lname=' + lname;
        }


        function SearchbyLocation() {

            var city = "";
            var state = "";
            var country = "";
            window.location.href = '@Url.Action("SearchResult", "Profiles")';   //?city=' + city + '&state=' + state + '&country=' + country;
        }

    </script>
    <!-- Slider Files -->
    <link rel="stylesheet" type="text/css" href="../../Content/css/banner.css" />
    <script type="text/javascript" src="../../Content/js/modernizr.custom.28468.js"></script>
    <script type="text/javascript" src="../../Content/js/jquery.cslider.js"></script>
    <script type="text/javascript">
        $(function () {

            $('#da-slider').cslider({
                bgincrement: 0
            });

        });
    </script>
    <!-- Carousel Scripts -->
    <link rel="stylesheet" href="../../Content/css/simple-slider.css" type="text/css" />
    <script src="../../Content/js/jquery.bxslider.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.bxslider').bxSlider({
                minSlides: 1,
                maxSlides: 1,
                slideMargin: 10
            });
        });
    </script>
    <script src="../../Content/js/Common.js"></script>
    <!--[if lt IE 9]>
        <link rel="stylesheet" href="css/ie.css">
    <![endif]-->
    <!--[if lt IE 8]>
    <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE8.js"></script>
    <![endif]-->
    <script type="text/jscript" src="../../Content/js/jquery.ui.core.js"></script>
    <script type="text/jscript" src="../../Content/js/jquery.ui.widget.js"></script>
    <script type="text/jscript" src="../../Content/js/jquery.ui.mask.js"></script>
    <script type="text/javascript">



        $(function () {


            // For Name
            $('#txtname').focus(function () {
                if (document.getElementById('txtname').value == 'Name') {
                    document.getElementById('txtname').value = '';
                }

            });
            $('#txtname').blur(function () {

                if (document.getElementById('txtname').value == '') {
                    document.getElementById('txtname').value = 'Name';
                }
            });

            // For Email
            $('#txtemail').focus(function () {
                if (document.getElementById('txtemail').value == 'Email') {
                    document.getElementById('txtemail').value = '';
                }

            });
            $('#txtemail').blur(function () {
                if (document.getElementById('txtemail').value == '') {
                    document.getElementById('txtemail').value = 'Email';
                }
            });

            // For Phone
            $('#txtphone').focus(function () {
                if (document.getElementById('txtphone').value == 'Phone') {
                    $('#txtphone').mask({ mask: '(999) 999-9999' });
                }

            });
            $('#txtphone').blur(function () {
                if (document.getElementById('txtphone').value == '' || document.getElementById('txtphone').value == '(___) ___-____') {
                    document.getElementById('txtphone').setAttribute('placeholder', 'Phone');
                }


            });







            var Check = getquerystringvalueByName('valid');
            if (Check != null && Check != "") {
                if (Check == "Invalid") {
                    //alert('Email address and password do not match');
                    swal({ title: "", text: 'Email address and password do not match' });
                }

                if (Check == "2") {
                    // alert('Your account was de-activated.We have emailed you an link to re-active your account.Please Check your email and If you donot receive our email within minutes,check your spam folder.');
                    swal({ title: "", text: 'Your account was de-activated.We have emailed you an link to re-active your account.Please Check your email and If you donot receive our email within minutes,check your spam folder.' });
                }

                if (Check == "3") {
                    // alert('Your account has been blocked by Admin.');
                    swal({ title: "", text: 'Your account has been blocked by Admin.' });
                }

                if (Check == "Signup") {
                    // alert('Check your Email for your login details.');
                    swal({ title: "", text: 'Check your Email for your login details.' });
                }

            }

        });

        // For query string values
        function getquerystringvalueByName(name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
            results = regex.exec(location.search);
            return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        }


        function CharactersOnlyValidate() {
            var charactersOnly = IsCharactersOnly(document.getElementById('txtname').value);
            if (charactersOnly == false) {
                //alert('Allow characters only');
                swal({ title: "", text: 'Allow characters only' });
                document.getElementById('txtname').value = '';
            }
        }






    </script>
    <style type="text/css">
        #register-form label {
            color: Red;
            display: block;
            font-size: 13px;
            font-weight: bold;
            line-height: 15px;
            margin: 0 0 5px;
            text-shadow: 1px 0 2px rgba(255, 255, 255, 0.75);
        }

        .textfield {
            padding: 5px 10px;
            width: 50.5%;
        }

        .contact_form input.textfield[type="password"], .contact_form textarea {
            width: 50%;
            padding: 5px;
        }
    </style>
    <script type="text/javascript">
        function getParameterByName(name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.search);
            return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        }


        function UpdatePassword() {
            var Email = getParameterByName('UserName');
            var pass = $('#txtpassword').val();
            var conpass = $('#txtconfirmpassword').val();
            var newail = window.location.href;
            var newemail = window.location.search.substring(1);
            newemail = newemail.replace("UserName=", "");

            if (pass != null && pass != "" && conpass != null && conpass != "") {

                if (pass != conpass) {
                    //alert('New password and confirm password does not match');
                    swal({ title: "", text: 'New password and confirm password does not match' });
                    return false;
                }
                else {

                    var re = /^.*(?=.{8,})(?=.*[a-z])(?=.*[A-Z])(?=.*[@@#!$%^&+=]).*$/;
                    if (!re.test(pass)) {
                        //alert('Password length minimum of 8 characters,Must have Upper case,Lower case,numeric and symbols like #,!,$,%,&,_..');
                        swal({ title: "", text: 'Password must be minimum of 8 characters long and must contain an upper case, a lower case, a number and a symbol such as #,!,$,%,&,_.' });
                        return false;
                    }
                    else {
                        // call method for update password of user
                        $.post("/User/UpdatePasswordOfDoctorFromResetEmailLink", { Email: newemail, NewPassword: pass }, function (data) {
                            data = JSON.parse(data);
                            if (data[0] != null && data[1] != null) {

                                //alert('Password updated successfully');
                                swal({ title: "", text: 'Password updated successfully', type: 'success' });
                                window.location = '/User/Index?UserName=' + data[0] + '&Password=' + data[1];
                            }
                            else {
                                //alert('Failed to update password');
                                swal({ title: "", text: 'Failed to update password', type: 'error' });
                            }
                        });

                    }
                }
            }
            else {
                //alert("You can't allow to empty field.")
                swal({ title: "", text: "Please enter confirm password." });
            }
        }
    </script>
</head>
<body id="innerpg" class="lytgreybg">
    <header>
        <div class="container">
            <h1 class="logo"><a href='@Url.Action("Index", "User")'>Recordlinc</a></h1>
            <div class="clear"></div>
        </div>
    </header>
    <!-- InnerPage starts here -->
    <section class="contact_form greybg">
        <div class="container">
            <div style="width:100%;">
                <table cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                        <tr>
                            @if (ViewBag.UserFLname != null)
                            {
                                <td style="text-align:center;font-size:18px;" colspan="2">Hi <strong>@ViewBag.UserFLname</strong>, please reset your password here. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
                            }
                        </tr>
                        <tr><td colspan="2" style="height:20px;"></td></tr>
                        <tr></tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="container">
            <div style="width:100%;">
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td style="float:right;">New Password &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
                        <td><input class="textfield" type="password" id="txtpassword" /></td>
                    </tr>
                    <tr><td colspan="2" style="height:20px;"></td></tr>
                    <tr>
                        <td style="float:right;">Confirm Password &nbsp; </td>
                        <td> <input class="textfield" type="password" id="txtconfirmpassword" /></td>
                    </tr>
                    <tr><td colspan="2" style="height:20px;"></td></tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" class="submit" value="Submit" name="Submit" onclick="return UpdatePassword()" /></td>
                    </tr>
                </table>



            </div>
        </div>





    </section>
    <!-- InnerPage ends here -->
    <!-- Bottom Section starts here -->
    <section class="services_panel">
        <ul class="container">
            <li><a href='@Url.Action("News", "Aboutus")'><span class="news"></span>News</a></li>
            <li><a href='@Url.Action("HIPAA", "FAQ")'><span class="hipaa"></span>HIPAA Compliance</a></li>
            <li><a href='@Url.Action("Index", "Faq")'><span class="testimonial"></span>FAQ’s</a></li>
            <li><a href='@Url.Action("Index", "Quicktour")'><span class="demo"></span>Demo</a></li>
        </ul>
        <div class="clear"></div>
    </section>
    <!-- Dental Services ends here -->
    <!-- Dental Footer Starts here -->
    <footer class="fnew">
        <div class="container">
            <ul>
                <li class="block1">
                    <h4>RecordLinc</h4>
                    <ul>
                        <li><a href='@Url.Action("Index", "Aboutus")'>About Us</a></li>
                        <li><a href='@Url.Action("Index", "Quicktour")'>Quick Tour</a></li>
                        <li><a href='@Url.Action("Index", "PlanAndPricing")'>Plan &amp; Pricing</a></li>
                        <li><a href='@Url.Action("News", "Aboutus")'>Press</a></li>
                        <li><a href='@Url.Action("Career", "Aboutus")'>Careers</a></li>
                        <li><a href='@Url.Action("Index", "ContactUs")'>Contact</a></li>
                        <li><a href='@Url.Action("Sitemap", "FAQ")'>Sitemap</a></li>
                    </ul>
                </li>
                <li class="block2">
                    <h4>Search By</h4>
                    <ul>
                        <li><a href="javascript:;" onclick="FindDentist()">Doctor Name</a></li>
                        <li><a href="javascript:;" onclick="SearchbyLocation()">Location</a></li>
                    </ul>
                </li>
                <li class="block3">
                    <h4>Follow Us</h4>
                    <ul class="socials">
                        <li>
                            <a href="@Session["CompanyFacebook"]" target="_blank" class="fb-icon">Facebook</a>
                            <a href="@Session["CompanyGoogle"]" target="_blank" class="gp-icon">Google Plus</a>
                            <a href="@Session["CompanyTwitter"]" target="_blank" class="tw-icon">Twitter</a>
                            <a href="@Session["CompanyLinkedin"]" target="_blank" class="ln-icon">Linkedin</a>
                        </li>
                        <li>
                            <a href="@Session["CompanyPinterest"]" target="_blank" class="pt-icon">Pinterest</a>

                            <a href="@Session["CompanyYoutube"]" target="_blank" class="yt-icon">Youtube</a>
                            <a href="@Session["CompanyVimeo"]" target="_blank" class="vm-icon">Vimeo</a>
                        </li>
                    </ul>
                </li>
                <li class="block1 rpro">
                    <a href='@Url.Action("Index", "Signuptoday")'><img class="border" src="../Images/index/recordlinc-pro.jpg" alt="Recordlinc Pro at $47"></a>
                </li>
            </ul>

            <div class="clear"></div>

            <div class="flogos">
                <ul>
                    <!-- Do not remove spaces betweeen the Li's -->
                    <li><img src="../Images/index/authorize-net.jpg" alt="Authorize" width="170" height="91"></li>
                    <li><img src="../Images/index/protect-info.jpg" alt="Protect Info" width="120" height="91"></li>
                    <li><img src="../Images/index/hipaa.jpg" alt="Hipaa" width="180" height="91"></li>
                    <li><img src="../Images/index/hipaa-compliant.jpg" alt="Hipaa Compliant" width="170" height="91"></li>
                    <li><img src="../Images/index/pci.jpg" alt="PCI" width="150" height="91"></li>
                    <li>
                        <span id="cdSiteSeal1">
                            <script type="text/javascript" src="//tracedseals.starfieldtech.com/siteseal/get?scriptId=cdSiteSeal1&amp;cdSealType=Seal1&amp;sealId=55e4ye7y7mb73d050c180430207637fnvy7mb7355e4ye7305a78cd7a8e730744"></script>
                        </span>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
    </footer>
    <!-- Dental Footer ends here -->
    <p class="copyright">
        <span>
            <a href='@Url.Action("PrivacyPolicy", "Faq")'>Our Privacy Policy</a> and <a href='@Url.Action("Termsconditions", "Faq")'>
                Terms of Use
            </a>
        </span> Copyright &copy; 2013 RecordLinc . RecordLinc is a registered
        trademark.
    </p>
    <a href="#" class="scrollup">Scroll</a>
</body>
</html>
<div id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px;
    top: 0px; width: 100%; height: 100%; background-color: White; z-index: 30001;
    opacity: 0.5; filter: alpha(opacity=70); display: none">
    <p style="position: absolute; top: 30%; left: 50%; color: White;">
        <img src="../../Images/Recordloading.gif">
    </p>
</div>
