﻿@model  BO.ViewModel.UserSignupEmail

@*<form class="form-search" action="/Signup/GetSocialMediaPerson" method="post" id="frmlearnemail">
        <span class="lable-holder">
            <label for="email">Enter Your Email to Learn More</label>
        </span>
        <div class="row-holder form-group">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Enter Email", @type = "email" })
            @Html.ValidationMessageFor(m => m.Email)
            <button type="submit" class="btn btn-default" @*onclick="submitform()">Submit</button>
        </div>
    </form>*@


@using (Html.BeginForm("GetSocialMediaPerson", "Signup", FormMethod.Post, new { @class = "form-search" }))
{
    <div class="form-group">
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Enter Your Email To Learn How" })
        <button type="submit" class="btn btn-default">Submit</button>
    </div>
    <div class="form-group text-left error_msg">
        @Html.ValidationMessageFor(m => m.Email)
    </div>

}


@section scripts {
    <script type="text/javascript">
        function submitform() {
            
            var Email = $("#Email").val();
            if (isValidEmailAddress(Email)) {
                $.post("/Signup/GetSocialMediaPerson", { Email: Email }, function (data) {
                    if (data != null && data != "") {
                        alert('Update successfully.');
                    }
                    else {
                        alert('Failed to update.');
                    }
                })
            }
            else {
                alert('Please enter valid email address');
                return false;
            }
        }
        function isValidEmailAddress(emailAddress) {
            var pattern = new RegExp(/^[+a-zA-Z0-9._-]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/i);
            return pattern.test(emailAddress);
        }
    </script>
}
