﻿@using System.Web.Optimization
@{
    ViewBag.Title = "Search Result";
    Layout = "~/Views/Shared/SiteLayout.cshtml";

    var parameters = new Dictionary<string, object>();
    parameters.Add("status", DentalFiles.Models.UserStatus.All);
    
    
}
@Scripts.Render("~/bundles/jqueryval")
<div >
    @{Html.RenderAction("Index", "_AdvancedSearchColl");}

    <div class="grid_12" id="bandlist_template">
    
@Html.Partial("_AdvanceSearchUserList", new DentalFiles.Models.UserList(
    30, 1, "ulUsers", Url.Action("GetNextUsersOnScroll", "SearchResult"), parameters))

    </div>

</div>

<script>
    $("#txtfirstname").on("keydown", function (event) {

        if (event.which == 13) {
            
            $("#btnmenuallysearch").click();
            return false;
        }
    });

    $("#txtlastname").on("keydown", function (event) {
        if (event.which == 13) {
            $("#btnmenuallysearch").click();
            return false;
        }
    });


    $("#txttitle").on("keydown", function (event) {
        if (event.which == 13) {
            $("#btnmenuallysearch").click();
            return false;
        }
    });

    $("#txtcompanyname").on("keydown", function (event) {
        if (event.which == 13) {
            $("#btnmenuallysearch").click();
            return false;
        }
    });
    $("#txtschool").on("keydown", function (event) {
        if (event.which == 13) {
            $("#btnmenuallysearch").click();
            return false;
        }
    });
    $("#txtemail").on("keydown", function (event) {
        if (event.which == 13) {
            $("#btnmenuallysearch").click();
            return false;
        }
    });
    $("#txtphone").on("keydown", function (event) {
        if (event.which == 13) {
            $("#btnmenuallysearch").click();
            return false;
        }
    });
    $("#txtzipcode").on("keydown", function (event) {
        if (event.which == 13) {
            $("#btnmenuallysearch").click();
            return false;
        }
    });

    $("#txtkeywords").on("keydown", function (event) {
        if (event.which == 13) {
            $("#btnkeyword").click();
            return false;
        }
    });
    
    
</script>
