﻿@using System.Web.Optimization
@model DentalFiles.Models._AdvancedSearchColl
@{
    ViewBag.Title = "NewIndex";
    Layout = "~/Views/Shared/NewSiteLayout.cshtml";

    var parameters = new Dictionary<string, object>();
    parameters.Add("status", DentalFiles.Models.UserStatus.All);
}
<link href="~/Scripts/Select2/select2.min.css" rel="stylesheet" />
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBQdEE5cMRdTHc_vj4JopPIn-EEBeqWmCg"></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<link href="~/Content/HomePage/css/SearchPage/main.css" rel="stylesheet" />
<link href="~/Content/HomePage/css/SearchPage/all.css" rel="stylesheet" />

<main id="main">
    <div class="page_haading_holder">
        <div class="container navigation_container">
            <div class="row navigation_row">
                <div class="col-xs-12">
                    <div class="page_heading">
                        <h1>Search Dentist</h1>
                        @*@if (ViewBag.name == "Name")
                        {
                            <h1>Search Dentist</h1>
                        }
                        else if (ViewBag.name == "Loaction")
                        {
                            <h1>Search Dentist in @Model.keywords</h1>
                        }
                        else
                        {
                            <h1>Search Dentist</h1>
                        }*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form role="form" action="#" class="filter-form">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Filter by Speciality</label>
                        <select id="myInput" class="form-control" onchange="Specailty();" multiple>
                            @foreach (var item in Model.lst)
                            {
                                if (item.Value == Model._Title)
                                {
                                    <option value="@item.Value" selected>@item.Text</option>
                                }
                                else
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Search by Keyword</label>
                        @Html.TextBoxFor(m => m._Keywords, new { @class = "form-control search-holder", @id = "txtkeywords", @type = "search", @placeholder = "Keyword", required = true })
                        <a href="javascript:;" class="search-btn"></a>
                    </div>
                </div>
                <div class="col-md-4">
                    <a href="javascript:;" class="opener-btn">More Search Options</a>
                </div>
            </div>
            <div class="slide-holder" style="display: none;">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.TextBoxFor(m => m._Firstname, new { @class = "form-control", @id = "txtfirstname", @placeholder = "First Name" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.TextBoxFor(m => m._Lastname, new { @class = "form-control", @id = "txtlastname", @placeholder = "Last Name" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.TextBoxFor(m => m._City, new { @class = "form-control", @id = "txtCity", @placeholder = "City" })
                        </div>
                    </div>
                    @*<div class="col-md-4">
                        <div class="form-group zip_city zip select_box">
                            <select class="select_item" id="ddlMiles">
                                <option>Filter by Distance  (Miles)</option>
                                <option>5</option>
                                <option>10</option>
                                <option>15</option>
                                <option>20</option>
                                <option>25</option>
                                <option>50</option>
                                <option>100</option>
                            </select>
                        </div>
                    </div>*@
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.TextBoxFor(m => m._ZipCode, new { @class = "form-control", @id = "txtzipcode", @placeholder = "Zip Code", @maxlength = "6" })
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button type="button" id="btnmenuallysearch" @*onclick="SearchByKeyword('2');"*@ class="btn btn-default">Find Your Doctor Now</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <span class="found-search center-block">Found: <b id="count">0</b></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8" id="doctorlist">
                    @Html.Partial("PartialSearchResult", new DentalFiles.Models.UserList(
    30, 1, "ulUsers", Url.Action("UserList", "SearchResult"), parameters))
                </div>
                <div class="col-md-4">
                    <div class="map-holder map_pin">
                        <div class="map-block" id="map_canvas" style="height:400px;">
                        </div>
                        @*<iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d2965.0824050173574!2d-93.63905729999999!3d41.998507000000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sWebFilings%2C+University+Boulevard%2C+Ames%2C+IA!5e0!3m2!1sen!2sus!4v1390839289319" width="100%" height="400px" frameborder="0" style="border:0"></iframe>*@
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="slide-top-section-btn text-center">
                    <a href="#" class="backtop"></a>
                </div>
            </div>
        </div>
    </div>
</main>
<input type="hidden" name="count" id="totalCount" value="0" />
<script src="~/Scripts/Select2/select2.min.js"></script>
<script src="/Dentaljs/rustylazyload.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".opener-btn").click(function () {
            $(this).toggleClass("active");
            $(".slide-holder").toggle();
        });
        $('.sticky > .container').remove();
        $(window).scroll(function () {
            if ($(this).scrollTop() > 1) {
                $('.profile header').addClass("sticky");
            }
            else {
                $('.profile header').removeClass("sticky");
            }
        });
        // Sticky Header
       
        $(window).scroll(function () {
            if ($(this).scrollTop() > 1) {
                $('.sticky').addClass("fixed");
            }
            else {
                $('.sticky').removeClass("fixed");
            }
        });
       
        $("#myInput").select2({
            //  minimumInputLength: 1,
            multiple: true,
            closeOnSelect: false // Mantis bug no : 6977 for dropdown doesnt close 
        });
        var lstDoctorAddressDetails = [{ "ExactAddress": "35 W Blue Ridge Way", "Address2": "", "City": "Chandler", "State": "AZ", "Country": "US", "ZipCode": "85248", "EmailAddress": "", "Phone": "", "Fax": "", "ContactType": 1, "Location": "Chandler", "TimeZoneId": 0, "Mobile": "", "AccountName": "Recordlinc" }];
        initialize(lstDoctorAddressDetails);
        $('.map-holder.map_pin').affix({
            offset: {
                top: 500,
                bottom: $('#main-footer').outerHeight(true)/* height of footer in this case none */
            }
        }).on('affix-bottom.bs.affix', function () {
            $(this).css('bottom', 'auto');
        });
    });
   
    var geocoder;
    var map;
    var bounds = ("undefined" !== typeof google) ? new google.maps.LatLngBounds() : null;
    $(document).on("mouseenter", ".article-block", function () {
        var Id = $(this).attr("id");
        var ExactAddress = $(this).data("exactaddress");
        var Address2 = $(this).data("address");
        var City = $(this).data("location");
        var State = $(this).data("state");
        var Country = $(this).data("country");
        var ZipCode = $(this).data("zipcode");
        var Location = $(this).data("location");
        var Account = $(this).data("account");
        var lstDoctorAddressDetails = [{ "ExactAddress": ExactAddress, "Address2": Address2, "City": City, "State": State, "Country": Country, "ZipCode": ZipCode, "EmailAddress": "drmac@dentalmex.org", "Phone": "(404)521-8129", "Fax": "", "ContactType": 1, "Location": Location, "TimeZoneId": 0, "Mobile": "", "AccountName": Account }];
        initialize(lstDoctorAddressDetails);
    });
    function initialize(lst) {
        map = new google.maps.Map(
            document.getElementById("map_canvas"), {
                center: new google.maps.LatLng(33.2370638, -111.8443309),
                zoom: 12,
                minZoom: 2,
                maxZoom: 15,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                scaleControl: false,
                scrollwheel: false,
            });
        geocoder = new google.maps.Geocoder();
        for (i = 0; i < lst.length; i++) {
            geocodeAddress(lst[i]);
        }
    }
    function geocodeAddress(lst) {
        var address = '';
        address = lst.Location + ' ' + lst.ExactAddress
        if (lst.Address2) {
            address += "," + lst.Address2 + " "
        }
        address += " " + lst.City
        if (lst.State) {
            address += "," + (lst.State + " ")
        }
        if (lst.ZipCode) {
            address += lst.ZipCode
        }
        geocoder.geocode({
            'address': address
        },
            function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    var marker = new google.maps.Marker({
                        map: map,
                        position: results[0].geometry.location,
                        title: address,
                        address: address,
                    })

                    var html = '<b>' + lst.AccountName + '</b><br/> ' + lst.ExactAddress
                    if (lst.Address2) {
                        html += ",<br/>" + lst.Address2;
                    }
                    if (lst.City) {
                        html += " " + lst.City
                    }
                    if (lst.State) {
                        html += ",<br/>" + (lst.State + " ")
                    }
                    if (lst.ZipCode) {
                        html += lst.ZipCode
                    }
                    var infowindow = new google.maps.InfoWindow(
                        {
                            content: html,
                            size: new google.maps.Size(50, 50)
                        });
                    google.maps.event.addListener(marker, 'click', function () {
                        infowindow.open(map, marker);
                    });
                    bounds.extend(marker.getPosition());
                    map.fitBounds(bounds);
                }

            });
    }
</script>
