﻿@model BO.ViewModel.ComposeMessage
@{
    Layout = null;
}

@try
{
    <input type="hidden" value="" id="hduploadfiles" />
    <input type="hidden" value="@Model.ForwardFileId" id="hdforwardfiles" />
    <div class="alert alert-danger alertMessage" id="danger-alert">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <strong>Error !</strong>
        Please fill up at least one detail to save as Draft message.
    </div>
    <div class="row ">
        <div class="col-lg-12">
            <h1>@ViewBag.Title</h1>
            <div class="enter-email-bar">
                <select id="colleaguelist" style="width:100%" multiple>
                    @foreach (var item in Model.ColleagueList)
                {
                        <option value="@item.id" selected>@item.text</option>
                    }
                </select>
                <p class="reqmsg" id="lblColleague"  style="color:red;">Please select at least one colleague.</p>
            </div>
            @Html.TextAreaFor(model => model.MessageBody, new { @id = "editor" + Model.MessageId })
            <p class="reqmsg" id="lblMessage"  style="color:red;">Please enter message.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="patient-bar">
                <label><i class="ico-user"></i>Add Patients</label>
                <select style="width:100%;" id="patientlist_@(Model.MessageId)" multiple>
                    @foreach (var item in Model.PatientList)
                {
                        <option value="@item.id" selected>@item.text</option>
                    }
                </select>
                <span class="reqmsg" id="lblPatient"  style="color:red;">Please select at least one patient.</span>
            </div>
            <div class="btn-group btn-holder">
                @*<div class="fileUpload">
                        <span>Attach a  File</span>
                        <input type="file" id="tempfileupload" class="upload" multiple="multiple" />
                    </div>*@
            </div>
            <span class="error-message" style="display:block" id="lblfileupload"></span>
            <ul class="attachment-list mrg-top-0 mrgn-btm-mins-15" id="tempfilecontent"></ul>
            @*<div class="alert alert-warning alertMessage" id="warning-alert">
                    <button type="button" class="close" data-dismiss="alert">x</button>
                    <strong>Warning !</strong>
                    <input type="hidden" name="lblsendcount" id="lblsendcount" value="0">
                    This message is not assigned to a patient.would you still like to continue ?
                </div>*@

            <div class="btn-group btn-holder mrgn-btm-20">
                @if ((int)BO.Enums.Common.ComposeMessageType.Draft == Model.MessageTypeId)
                {
                    <a href='/Inbox/Draft' id="btncancel" class="btn btn-default btn1"><i class="ico-corss2"></i>Cancel</a>
                }
                else
                {
                    <a href='/Inbox' id="btncancel" class="btn btn-default btn1"><i class="ico-corss2"></i>Cancel</a>
                }

                @*//--XQ1-423 - Removed Save as Draft button from conversation view. As per comment of Bruce.
                        <a href="javascript:void(0)" onclick="SaveAsDraft(@Model.MessageId,@Model.ComposeType)" id="btnSaveDraft" class="btn btn-default btn1">
                        <i class="ico-save"></i>Save as Draft
                    </a>*@
                <a href="javascript:void(0)" onclick="SendMessage(@Model.MessageId,@Model.MessageTypeId)" id="btnSend" class="btn btn-default btn2">
                    <i class="ico-send"></i>Send
                </a>

            </div>
        </div>
    </div>

    <script type="text/javascript">
        initSample(@(Model.MessageId));
    </script>
    <script src="~/Scripts/ControllerJS/Inbox/PartialColleagueForwardMessage.js"></script>

}
catch (Exception Ex)
{
    <div class="row">
        <div class="col-lg-12">
            @Html.Partial("_PartialError")
        </div>
    </div>
    Common.LogError(Ex);
}




