﻿@model BO.ViewModel.ComposeMessage
@{
    Layout = null;
}
@*<link rel="stylesheet" type="text/css" href="~/Content/css/select2.min.css" />*@


<style>
    .select2-container--default .select2-results__option[aria-disabled=true] {
        display: none !important;
    }

    .select2-results__option[aria-selected=true] {
        display: none !important;
    }
</style>

@try
{
    <input type="hidden" value="" id="hduploadfiles" />
    <input type="hidden" value="@Model.MessageTypeId" id="hdmessagetypeId" />
    <div class="alert alert-danger alertMessage" id="danger-alert">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <strong>Error !</strong>
        Please fill up at least one detail to save as Draft message.
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h1>@ViewBag.Title</h1>
            <div class="enter-email-bar">
                <select id="colleaguelist" style="width:100%" multiple>
                    @foreach (var item in Model.ColleagueList)
                {
                        <option value="@item.id" selected>@item.text</option>
                    }
                </select>
                <span class="error-message" id="lblColleague" style="color:red;">Please select at least one colleague.</span>
            </div>
            @Html.TextAreaFor(model => model.MessageBody, new { @id = "editor" + Model.MessageId })
            <span class="error-message" id="lblMessage" style="color:red;">Please enter a message.</span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="patient-bar">
                <label><i class="ico-user"></i>Add Patients</label>
                <select style="width:100%;" id="patientlist" multiple>
                    @foreach (var item in Model.PatientList)
                {
                        <option value="@item.id" selected>@item.text</option>
                    }
                </select>
                <span class="error-message" id="lblPatient" style="color:red;">Please select at least one patient.</span>
            </div>
            <div class="btn-group btn-holder">
                @*<div class="fileUpload">
                        <span style="cursor:pointer">Attach a File</span>
                        <input type="file" id="tempfileupload_@(Model.MessageId)" class="upload" multiple="multiple" />
                    </div>*@
            </div>
            <span class="error-message" style="display:block" id="lblfileupload"></span>
            <ul class="attachment-list mrg-top-0 mrgn-btm-mins-15" id="tempfilecontent"></ul>

            <div class="btn-group btn-holder mrgn-btm-20">
                @if ((int)BO.Enums.Common.ComposeMessageType.Draft == Model.MessageTypeId)
                {  <a href='/Inbox/Draft' id="btncancel" class="btn btn-default btn1"><i class="ico-corss2"></i>Cancel</a>}
                else { <a href='/Inbox' id="btncancel" class="btn btn-default btn1"><i class="ico-corss2"></i>Cancel</a>}
                @if ((int)BO.Enums.Common.ComposeMessageType.Draft == Model.MessageTypeId)
                {
                    <a href="javascript:void(0)" onclick="DeleteMessages('@(Model.MessageId+"_"+Model.IsColleaguesMessage)')" class="btn btn-default btn1"><i class="ico-corss2"></i>Discard Draft</a>
                }
                //--XQ1-423 - Removed Save as Draft button from conversation view. As per comment of Bruce.
                @*<a href="javascript:void(0)" id="btnSaveDraft" onclick="SaveAsDraft(@Model.MessageId,@Model.ComposeType)" class="btn btn-default btn1">
                    <i class="ico-save"></i>Save as Draft</a>*@
                <a href="javascript:void(0)" id="btnSend" onclick="SendMessage(@Model.MessageId,@Model.MessageTypeId)" class="btn btn-default btn2"><i class="ico-send"></i>Send</a>

            </div>
        </div>
    </div>
    <script type="text/javascript">
        initSample(@(Model.MessageId));
    </script>
    <script src="~/Scripts/ControllerJS/Inbox/PartialComposeMessage.js"></script>


}
catch (Exception Ex)
{
    <div class="row">
        <div class="col-lg-12">
            @Html.Partial("_PartialError")
        </div>
    </div>
    Common.LogError(Ex);
}



