﻿@{
    ViewBag.Title = "RecordLinc - Search Result";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}
<!--[if lt IE 9]>
    <link rel="stylesheet" href="../css/ie.css" />
<![endif]-->
<!--[if lt IE 8]>
<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE8.js"></script>
<![endif]-->

<script type="text/javascript">
    function DefaultbtnKeyword(event) {
        if (event.keyCode == 13) {
            $('#btnkeyword').click();
        }
    }

    function DefaultbtnSearch(event) {
        if (event.keyCode == 13) {
            $('#btnsubmitsearch').click();
        }
    }


    $(function () {

        //For Keyword
        $('#txtkeyword').focus(function () {
            if (document.getElementById('txtkeyword').value == 'Keywords') {
                document.getElementById('txtkeyword').value = '';
            }

        });
        $('#txtkeyword').blur(function () {

            if (document.getElementById('txtkeyword').value == '') {
                document.getElementById('txtkeyword').value = 'Keywords';
            }
        });


        //For FirstName
        $('#txtfname').focus(function () {
            if (document.getElementById('txtfname').value == 'First Name') {
                document.getElementById('txtfname').value = '';
            }

        });
        $('#txtfname').blur(function () {

            if (document.getElementById('txtfname').value == '') {
                document.getElementById('txtfname').value = 'First Name';
            }
        });


        //For Last name
        $('#txtlname').focus(function () {
            if (document.getElementById('txtlname').value == 'Last Name') {
                document.getElementById('txtlname').value = '';
            }

        });
        $('#txtlname').blur(function () {

            if (document.getElementById('txtlname').value == '') {
                document.getElementById('txtlname').value = 'Last Name';
            }
        });

        $("#txtcity").focus(function () {
            if (document.getElementById('txtcity').value == 'City') {
                document.getElementById('txtcity').value = '';
            }
        });

        $('#txtcity').blur(function () {
            if (document.getElementById('txtcity').value == '') {
                document.getElementById('txtcity').value = 'City';
            }
        });
        //For Practice Name
        $('#txtofficename').focus(function () {
            if (document.getElementById('txtofficename').value == 'Speciality') {
                document.getElementById('txtofficename').value = '';
            }

        });
        $('#txtofficename').blur(function () {

            if (document.getElementById('txtofficename').value == '') {
                document.getElementById('txtofficename').value = 'Speciality';
            }
        });



        //For Practice Name
        $('#txtzipcode').focus(function () {
            if (document.getElementById('txtzipcode').value == 'Zip Code') {
                document.getElementById('txtzipcode').value = '';
            }

        });
        $('#txtzipcode').blur(function () {

            if (document.getElementById('txtzipcode').value == '') {
                document.getElementById('txtzipcode').value = 'Zip Code';
            }
        });


    });




    function SeletedSpecialities() {
        var SpecialitiIds = "";


        var PageIndex = 1;
        var keyword = (document.getElementById('txtkeyword').value == 'Keywords' ? null : document.getElementById('txtkeyword').value);
        var LastName = (document.getElementById('txtlname').value == 'Last Name' ? null : document.getElementById('txtlname').value);
        var City = (document.getElementById('txtcity').value == 'City' ? null : document.getElementById('txtcity').value);
        var Miles = (document.getElementById('country_id2').value == "0" ? "0" : document.getElementById('country_id2').value);
        var FirstName = (document.getElementById('txtfname').value == 'First Name' ? null : document.getElementById('txtfname').value);
        var CompanyName = (document.getElementById('txtofficename').value == 'Speciality' ? null : document.getElementById('txtofficename').value);
        var zipcode = (document.getElementById('txtzipcode').value == 'Zip Code' ? null : document.getElementById('txtzipcode').value);
        var Alpha = null;
        var Country = null;
        var State = null;






        var c = new Array();
        c = document.getElementsByTagName('input');

        for (var i = 0; i < c.length; i++) {
            if (c[i].type == 'checkbox' && c[i].id == 'CheckSpecialities') {
                if (c[i].checked == true) {
                    if (SpecialitiIds == "" && SpecialitiIds == null) {
                        SpecialitiIds = c[i].value;
                    }
                    else {
                        SpecialitiIds += c[i].value + ',';
                    }
                }

            }
        }

        if (SpecialitiIds == null || SpecialitiIds == "") {
            SpecialitiIds = null;
        }
        $.post("/Profiles/SeletedSpecialities", { SpecialitiId: SpecialitiIds }, function (data) {
            if (data != null && data != "") {

                document.getElementById('Specialities').innerHTML = data.toString();
                GetDentistList(PageIndex, keyword, LastName, Miles, FirstName, CompanyName, zipcode, SpecialitiIds, City, Alpha, Country, State);
            }
        });
    }





    function GetDentistList(PageIndex, keyword, LastName, Miles, FirstName, CompanyName, zipcode, SpecialityList1, City, Alpha, Country, State) {
        $("#NextButtonIndex").val(480);
        $("#nextSearchButton").css("display", "none");
        $('#searchpageindex').val("1");
        $("#divLoading").show();
        $.post("/Profiles/GetDentistList", { PageIndex: PageIndex, keyword: keyword, LastName: LastName, Miles: Miles, FirstName: FirstName, CompanyName: CompanyName, zipcode: zipcode, SpecialityList1: SpecialityList1, City: City, Alpha: Alpha, Country: Country, State: State }, function (data) {
            if (data != null && data != "") {
                document.getElementById('divautoloadfordentist').innerHTML = data.toString();
            }
            $(window).scrollTop(0);
            $("#divLoading").hide();
        });


    }



    function Search() {
        SeletedSpecialities();
    }


    $(function () {
        var bindScrollHandler = function () {
            $(window).scroll(function () {
                if ($(window).scrollTop() + $(window).height() > $(document).height() - 900) {
                    $(window).unbind("scroll");
                  //  $.ajaxSetup({ async: false });
                  //  $("#divLoading").show();
                    GetDentistListBySearchOnScroll();
                    //var data = GetDentistListBySearchOnScroll().toString();
                   // $("#divLoading").hide();
                   // $.ajaxSetup({ async: true });
                   // $(data).appendTo(".search_listing");

                    bindScrollHandler();
                }
                else {
                }
            });
        };

        bindScrollHandler();
    });

    function GetDentistListBySearchOnScroll() {
        //var datalist = '';
        PageIndex = $('#searchpageindex').val();
        if (PageIndex == "-1") {
            return "";
        }
        else {
            PageIndex = parseInt(PageIndex) + parseInt(1);
            var NextButtonIndex = parseInt($("#NextButtonIndex").val(), 10);
            if (PageIndex * 30 == NextButtonIndex) {
                $("#nextSearchButton").css("display", "block");
                return false;
            }
           
            
            var keyword = $('#searchdetails').data('keyword');
            var LastName = $('#searchdetails').data('lastname');
            var Miles = $('#searchdetails').data('miles');
            var FirstName = $('#searchdetails').data('firstname');
            var CompanyName = $('#searchdetails').data('companyname');
            var zipcode = $('#searchdetails').data('zipcode');
            var SpecialityList1 = $('#searchdetails').data('specialitylist');
            var City = $('#searchdetails').data('city');
            var Alpha = $('#searchdetails').data('alpha');
            var Country = $('#searchdetails').data('country');
            var State = $('#searchdetails').data('state');
            $.ajaxSetup({ async: false });
            $("#divLoading").show();
            $.post("/Profiles/GetDentistListBySearchOnScroll", { PageIndex: PageIndex, keyword: keyword, LastName: LastName, Miles: Miles, FirstName: FirstName, CompanyName: CompanyName, zipcode: zipcode, SpecialityList1: SpecialityList1, City: City, Alpha: Alpha, Country: Country, State: State }, function (data) {
                if (data == '' || data == '<li>No more record found</li>') {
                    $('#searchpageindex').val("-1");
                } else {
                    $('#searchpageindex').val(PageIndex);
                }
                $(data).appendTo(".search_listing");
                //datalist = data;
                $("#divLoading").hide();
            });
            $.ajaxSetup({ async: true });
        }
        //return datalist;
    }
    function NextOnButtonClickSearch() {
        var datalist = '';

        PageIndex = $('#searchpageindex').val();
        if (PageIndex == "-1") {
            return "";
        }
        else {
            PageIndex = parseInt(PageIndex) + parseInt(1);
            var NextButtonIndex = parseInt($("#NextButtonIndex").val(), 10);
            $("#NextButtonIndex").val(parseInt(NextButtonIndex,10) + parseInt(480,10));
            $("#prevSearchButton").css("display", "block")
            $("#nextSearchButton").css("display", "none");
            var keyword = $('#searchdetails').data('keyword');
            var LastName = $('#searchdetails').data('lastname');
            var Miles = $('#searchdetails').data('miles');
            var FirstName = $('#searchdetails').data('firstname');
            var CompanyName = $('#searchdetails').data('companyname');
            var zipcode = $('#searchdetails').data('zipcode');
            var SpecialityList1 = $('#searchdetails').data('specialitylist');
            var City = $('#searchdetails').data('city');
            var Alpha = $('#searchdetails').data('alpha');
            var Country = $('#searchdetails').data('country');
            var State = $('#searchdetails').data('state');
            $.ajaxSetup({ async: false });
            $("#divLoading").show();
            $.post("/Profiles/GetDentistListBySearchOnScroll", { PageIndex: PageIndex, keyword: keyword, LastName: LastName, Miles: Miles, FirstName: FirstName, CompanyName: CompanyName, zipcode: zipcode, SpecialityList1: SpecialityList1, City: City, Alpha: Alpha, Country: Country, State: State }, function (data) {
                if (data == '' || data == '<li>No more record found</li>') {
                    $('#searchpageindex').val("-1");
                } else {
                    $('#searchpageindex').val(PageIndex);
                }
                datalist = data;
                $("#divLoading").hide();
            });
            $.ajaxSetup({ async: true });
        }

        $(".search_listing li").remove();
        $(datalist).appendTo(".search_listing");

        bindScrollHandler();
    }

    function PrevOnButtonClickSearch() {
        var datalist = '';

        PageIndex = $('#searchpageindex').val();
        if (PageIndex == "-1") {
            return "";
        }
        else {
            
            var NextButtonIndex = parseInt($("#NextButtonIndex").val(), 10);
            
            if (NextButtonIndex == 960) {
                PageIndex = parseInt(1, 10);
                $('#searchpageindex').val(1)
                $("#prevSearchButton").css("display", "none")
            } else
            {
                PageIndex = parseInt(PageIndex, 10) - parseInt(31, 10);
                $('#searchpageindex').val(parseInt(PageIndex, 10) - parseInt(16, 10));
                
            }
            $("#NextButtonIndex").val(parseInt(NextButtonIndex, 10) - parseInt(480, 10));
            
            $("#nextSearchButton").css("display", "none");
            var keyword = $('#searchdetails').data('keyword');
            var LastName = $('#searchdetails').data('lastname');
            var Miles = $('#searchdetails').data('miles');
            var FirstName = $('#searchdetails').data('firstname');
            var CompanyName = $('#searchdetails').data('companyname');
            var zipcode = $('#searchdetails').data('zipcode');
            var SpecialityList1 = $('#searchdetails').data('specialitylist');
            var City = $('#searchdetails').data('city');
            var Alpha = $('#searchdetails').data('alpha');
            var Country = $('#searchdetails').data('country');
            var State = $('#searchdetails').data('state');
            $.ajaxSetup({ async: false });
            $("#divLoading").show();
            $.post("/Profiles/GetDentistListBySearchOnScroll", { PageIndex: PageIndex, keyword: keyword, LastName: LastName, Miles: Miles, FirstName: FirstName, CompanyName: CompanyName, zipcode: zipcode, SpecialityList1: SpecialityList1, City: City, Alpha: Alpha, Country: Country, State: State }, function (data) {
                if (data == '' || data == '<li>No more record found</li>') {
                    $('#searchpageindex').val("-1");
                } else {
                    $('#searchpageindex').val(PageIndex);
                }
                datalist = data;
                $("#divLoading").hide();
            });
            $.ajaxSetup({ async: true });
        }
        $(".search_listing li").remove();
        $(datalist).appendTo(".search_listing");

        bindScrollHandler();
    }
</script>
<!-- InnerPage starts here -->
<input type="hidden" id="searchpageindex" value="1" />
<section id="inner">
    <div class="container">

        <div id="leftaside" class="aside">
            <!-- left only for this page, -->
            <div class="searchpage_content">
                <h3 class="titlebg">Search for Dentist</h3>
                <ul class="searchpage_listing">
                    <li class="keywords">


                        <input name="txtkeyword" type="text" id="txtkeyword" class="inputbox_signup_search" onkeydown="DefaultbtnKeyword(event)" placeholder="Keywords" value=""/>

                        <input type="submit" name="btnkeyword" value="" id="btnkeyword" class="search_btn_1" onclick="return Search();" />


                    </li>


                    <li>
                        <input name="txtfname" type="text" id="txtfname" class="inputbox_signup_search" placeholder="First Name" onkeyup="DefaultbtnSearch(event)" value=""/>

                    </li>
                    <li>
                        <input name="txtlname" type="text" id="txtlname" class="inputbox_signup_search" placeholder="Last Name" onkeyup="DefaultbtnSearch(event)" value=""/>

                        <br class="clear" />
                    </li>
                    <li>
                        <input name="txtcity" type="text" id="txtcity" class="inputbox_signup_search" placeholder="City" onkeyup="DefaultbtnSearch(event)" value=""/>
                    </li>
                    <li>
                        <input name="txtofficename" type="text" id="txtofficename" class="inputbox_signup_search" placeholder="Speciality" onkeyup="DefaultbtnSearch(event)" value=""/>

                    </li>
                    <li>
                        <select name="country_id2" id="country_id2">
                            <option selected="selected" value="0">Filter by Distance (Miles)</option>
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>

                        </select>

                    </li>
                    <li>
                        <input name="txtzipcode" type="text" id="txtzipcode" class="inputbox_signup_search" placeholder="Zip Code" onkeyup="DefaultbtnSearch(event)" value="" />

                    </li>

                    <li class="button_panel">
                        <input type="submit" name="btnsubmitsearch" value="" id="btnsubmitsearch" class="button_2_submit" onclick="return Search();" />

                    </li>


                </ul>

            </div>

            <div class="clear"></div>

            <div class="searchpage_content">
                <h3 class="titlebg">Filter By Speciality</h3>
                <div class="filter_sepciality" id="Specialities">
                    @Html.Raw(ViewBag.Specialities)

                </div>

                <div class="clear"></div>
            </div>
        </div>
        
        <div class="content" id="divautoloadfordentist">
            @Html.Raw(ViewBag.DentistListBySearch)
        </div>
        <div style="margin-left:32%;" class="content">
            <button id="prevSearchButton" onclick="PrevOnButtonClickSearch();" type="button" style="padding: 10px 24px 9px 28px;font-size:16px;float:left;cursor:pointer; display:none">< &nbsp;&nbsp; Prev</button>
            <button id="nextSearchButton" onclick="NextOnButtonClickSearch();" type="button" style="padding: 10px 24px 9px 28px;font-size:16px;float:right;cursor:pointer;display:none">Next&nbsp; &nbsp; ></button>
            @*<span style="float:right"> <a style="background: #d5dbe4;padding: 8px 18px 8px 15px;font-size: 14px;color: #17335c;">Next</a></span>*@
        </div>
        <input type="hidden" id="NextButtonIndex" name="Next" value="480" />

    </div>
    @if (ViewBag.keyword != null)
    {
        <script>
            $('#txtkeyword').val('@ViewBag.keyword');

        </script>
    }
</section>
<!-- InnerPage starts ends here -->
<script type="text/javascript">


    $(window).load(function () {


        var leftHeight = $(".leftcol").height();

        var rightHeight = $(".rightcol").height();

        var lengthofLi = document.getElementById('hdntotalcoutli').value;

        for (var i = 0; i < lengthofLi; i++) {
            var leftHeightD = $(".leftcol" + (i + 1)).height();
            var rightHeightD = $(".rightcol" + (i + 1)).height();
            // console.log(leftHeightD);
            if (leftHeightD > rightHeightD) {
                $(".rightcol" + (i + 1)).height(leftHeightD)
            }
            else {
                $(".leftcol" + (i + 1)).height(rightHeightD)
            };
        }


    })



</script>
