﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Insurance Coverage</title>
     <meta name="viewport" content="width=device-width" />
    <script type="text/javascript" src="//www.baw5tracker.com/js/60398.js"></script>
    <noscript><img src="//www.baw5tracker.com/60398.png" style="display:none;" alt="baw5tracker" /></noscript>
    <link rel="stylesheet" href="/Dentalcss/style.css" type="text/css" media="screen">
    <link rel="icon" href="/DentalImages/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/DentalImages/favicon.ico" type="image/x-icon" />
    <link href="/Dentalcss/jquery.selectbox.css" type="text/css" rel="stylesheet" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <link rel="stylesheet" href="/Dentalcss/style.css" type="text/css" media="screen">
    <script src="/Dentaljs/jquery-1.8.3.min.js"></script>
    <script src="/Dentaljs/common.js" type="text/javascript"></script>
    <script src="/Dentaljs/jquery-ui.js" type="text/javascript"></script>
     @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryui")
    @System.Web.Optimization.Styles.Render("~/Content/themes/base/css", "~/Content/css")

    @{
    if (TempData["result"] != "false")
    {
    <script type="text/javascript">
        $(function () {
            document.getElementById('btnicskp').style.display = 'none';
            document.getElementById('tab-container_9').style.display = '';
        });       
    </script>
    }
    else{
         <script type="text/javascript">
             $(function () {

                
                 document.getElementById('btnicskp').style.display = 'none';
                 document.getElementById('tab-container_9').style.display = 'none';
                 $('#Message').html('No record found');
                 $('#Message').delay(300).slideDown(300).delay(4000).slideUp(300);
             });       
    </script>
    }
}

</head>
<body>
<div id="Message"></div>



     @Html.Partial("DentalForms/_Insurance_Coverage");

     <div style="display:none">
     @Html.Partial("DentalForms/_BasicInfo");
     
     </div>
    <span id="siteseal">
    <script type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=F34USZbK0ZJXklg4iUVnDdiuqxNIsXp8lcoNVeU36D7SHiwi3v"></script></span>
</body>
</html>


    <div id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px;
    top: 0px; width: 100%; height: 100%; background-color: #666666; z-index: 30001;
    opacity: .8; filter: alpha(opacity=70); display: none">
    <p style="position: absolute; top: 30%; left: 50%; color: White;">
        <img src="/DentalImages/please_wait.gif" alt="Loading">
    </p>
</div>
