﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @*<meta name="viewport" content="width=device-width" />*@
    <title>RecordLinc</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="~/Content/Landing/images/favicon.png" type="image/x-icon">
    <!--SweetAlert-->
    <script src="~/Content/js/SweetAlert/sweetalert-dev.js"></script>
    <script src="~/Content/js/SweetAlert/sweetalert.min.js"></script>
    <link href="~/Content/css/SweetAlert/sweetalert.css" rel="stylesheet" />
    <!--Medichat-->
    @*<script type="text/javascript">
  (function(i, s, o, g, r, z, a, m) { i[r]={ ACCOUNT_TOKEN: z };a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m); }(window, document, 'script', "https://s3.getmedchat.com/embed/bundle.min.js", "MedChat", "f2sm0gfgZ6xY2xV_9eO5bg"));
    </script>*@
    <!--End Medichat-->   
</head>

<body>
    <style>
        .LandingSubmit{
            border: 0px;
            background-color: #0e274d;
            color: #fff;
            font-family: 'WorkSansRegular';
            font-size: 18px;
            display: block;
            margin: 0 auto;
            padding: 13px 19px;
            border-radius: 3px;
            margin-bottom: 20px;
            cursor: pointer;
        }
        .clsPhone {
            cursor:default !important;
        }
    </style>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="logo">
                        <a href="/"><img src="~/Content/Landing/images/logo.png" class="img-responsive" alt="RecordLinc Logo" /></a>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="header_phone">
                        <ul>
                            <li><a href="tel:8005960133" class="phone" style="cursor:default;">(800)596-0133</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div>
        @RenderBody()                
    </div>
    <footer>
        <section class="about">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 pull-right">
                        <img src="~/Content/Landing/images/travis.jpg" class="img-responsive" alt="Travis Rodgers" />
                    </div>
                    <div class="col-sm-8 pull-left">
                        <div class="title">
                            <h2>About Travis Rodgers</h2>
                        </div>
                        <p>Travis Rodgers is known for his work in helping dental practices significantly increase referrals using the innovative solution he has developed called RecordLinc which is known in the dental industry as the “Referral Autopilot”.
                        <p>RecordLinc is a technology and marketing platform that when integrated to dental practice management systems can double and triple referrals from other dentists and patients automatically.</p>
                        <p>The tool is built for dentists to increase referrals but it also enables dental professionals to securely and easily collaborate with each other and simplify the management of complex treatment cases. RecordLinc helps the dental offices better communicate with patient, automatically schedule patient consults, deliver referral reminders, and manage electronic health forms. RecordLinc integrates with most of dental practice management systems so there is less data entry for the front office team and patients love it because they only have to fill out forms one time.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="get_in_touch">
            <div class="container">
                <div class="title">
                    <h2>Get in touch with RecordLinc</h2>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="recordlinc_links">
                            <h3>Travis Rodgers, RecordLinc</h3>
                            <ul>
                                <li><a href="tel:8005960133" class="phone" style="cursor:default;">(800)596-0133</a></li>
                                <li><a href="mailto:travis@RecordLinc.com">travis@RecordLinc.com</a></li>
                                <li><a href="https://www.recordlinc.com/">www.RecordLinc.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="recordlinc_form">
                            <div class="row">
                                <div class="col-xs-6">
                                    <label>Name*</label>
                                    <input type="text" id="txtContactFullName" class="input_text">                                    
                                </div>
                                <div class="col-xs-6">
                                    <label>Email*</label>
                                    <input type="email" id="txtContactEmail" class="input_text">                                    
                                </div>
                                <div class="col-sm-12">
                                    <label>Message</label>
                                    <textarea id="txtContactMessage"></textarea>                                    
                                </div>
                                <div class="col-sm-12">
                                    <div id="dvWarnContactMsg" style="display:none;color:red;font-size:16px;"></div>
                                </div>
                                <div class="col-sm-12">
                                    <input type="submit" onclick="ContactUs()" value="Send">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 col-xs-4">
                        <h4>RecordLinc</h4>
                        <ul>
                            <li><a href='@Url.Action("Index", "Aboutus")'>About Us</a></li>
                            <li><a href='@Url.Action("Index", "Quicktour")'>Quick Tour</a></li>
                            <li><a href='@Url.Action("Index", "PlanAndPricing")'>Plan &amp; Pricing</a></li>
                            <li><a href='@Url.Action("News", "Aboutus")'>News</a></li>
                            <li><a href='@Url.Action("Career", "Aboutus")'>Careers</a></li>
                            <li><a href='@Url.Action("Index", "ContactUs")'>Contact</a></li>
                            <li><a href='@Url.Action("SiteMap", "Faq")'>Sitemap</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3 col-xs-4">
                        <h4>Search By</h4>
                        <ul>
                            <li><a href="@Session["CompanyWebsite"]/Profiles/SearchResult?fname=&lname=">Doctor Name</a></li>
                            <li><a href="@Session["CompanyWebsite"]/Profiles/SearchResult?city=">Location</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-xs-4">
                        <h4>Follow Us</h4>
                        <ul class="footer_social">
                            <li><a href="@Session["CompanyFacebook"]" target="_blank" class="fb">Facebook</a></li>
                            <li><a href="@Session["CompanyGoogle"]" target="_blank" class="gplus">Google Plus</a></li>
                            <li><a href="@Session["CompanyTwitter"]" target="_blank" class="tweet">Twitter</a></li>
                            <li><a href="@Session["CompanyLinkedin"]" target="_blank" class="link">Linkedin</a></li>
                            <li><a href="@Session["CompanyPinterest"]" target="_blank" class="pin">Pinterest</a></li>
                            <li><a href="@Session["CompanyYoutube"]" target="_blank" class="ytube">Youtube</a></li>
                            <li><a href="@Session["CompanyVimeo"]" target="_blank" class="vimeo">Vimeo</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="site_verfiy">
                <div class="container">
                    <div class="row">
                        <ul>
                            <li><a><img src="~/Content/Landing/images/authorize.png" class="img-responsive" alt="Autorize Net" /></a></li>
                            <li><a><img src="~/Content/Landing/images/protect.jpg" class="img-responsive" alt="Protect Patient Information" /></a></li>
                            <li><a><img src="~/Content/Landing/images/hippa.jpg" class="img-responsive" alt="Hippa Complaint" /></a></li>
                            <li><a><img src="~/Content/Landing/images/hippa_complaint.png" class="img-responsive" alt="Hippa" /></a></li>
                            <li><a><img src="~/Content/Landing/images/sitelock.jpg" class="img-responsive" alt="Sitelock" /></a></li>
                            <li><a><img src="~/Content/Landing/images/godaddy.png" class="img-responsive" alt="Godaddy" /></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bottom">
            <div class="container">
                <ul>
                    <li><a href="@Url.Action("PrivacyPolicy", "Faq")">Privacy Policy</a></li>
                    <li><a href="@Url.Action("TermsAndConditions", "Dashboard")">Terms & Conditions</a></li>
                    <li><a href="@Url.Action("Career","Aboutus")">Careers</a></li>
                    <li><a href="@Url.Action("Index","ContactUs")">Contact Us</a></li>
                    <li><a href="@Url.Action("Help", "Dashboard")">Training</a></li>
                </ul>
            </div>
            <div class="copyright">
                <p>© RecordLinc @System.DateTime.Now.Year.ToString()</p>
                @*<p>&copy; © <a href="@Session["CompanyWebsite"]">RecordLinc</a> @System.DateTime.Now.Year.ToString()</p>*@
            </div>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="~/Content/Landing/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Content/Landing/js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/Content/Landing/js/custom.js" type="text/javascript"></script>    
    <script src="~/Content/js/SweetAlert/sweetalert.min.js"></script>
    <script type="text/javascript">
        function ContactUs() {            
            var FullName = $("#txtContactFullName").val();
            var Email = $("#txtContactEmail").val();
            var Message = $("#txtContactMessage").val();
            var CurrentUrl = $(location).attr('href');            
            var IsCheck = CheckInputFieldValue(FullName,Email)
            if (IsCheck)
            {
                $.post("/Landing/ContactUs", { FullName: FullName, Email: Email, Message: Message, CurrentUrl: CurrentUrl }, function (data) {
                    if (data == "1") {
                        swal({ title: "Thank you.", text: 'Mail has been sent successfully to the sales team.' }, function () {
                            window.location.reload();
                        });

                    }
                    else {
                        swal({ title: "", text: 'Send failure:' + data, type: 'error' });
                    }
                });
            }

        }

        function CheckInputFieldValue(FullName,Email)
        {
            
            if (FullName != "" && isValidEmailAddress(Email)) {
                return true;
            }
            else
            {                
                if ((FullName == null || FullName == '') && !isValidEmailAddress(Email))
                {
                    $('#txtContactFullName').css("border", "1px solid red");
                    $('#txtContactEmail').css("border", "1px solid red");
                    $('#dvWarnContactMsg').show();
                    $('#dvWarnContactMsg').html("Please enter the information in required fields!");
                    return false;
                }
                if (!isValidEmailAddress(Email))
                {
                    $('#txtContactEmail').css("border", "1px solid red");
                    $('#txtContactFullName').css("border", "");
                    $('#dvWarnContactMsg').show();
                    $('#dvWarnContactMsg').html("Please enter the valid email id!");
                    return false;
                }
                if (FullName == null || FullName == '')
                {
                    $('#txtContactFullName').css("border", "1px solid red");
                    $('#txtContactEmail').css("border", "");
                    $('#dvWarnContactMsg').show();
                    $('#dvWarnContactMsg').html("Please enter the name!");
                    return false;
                }                
            }
        }
    </script>    
</body>
</html>
