﻿
@{
    ViewBag.Title = "A-Dentists-Guide-to-Referrals";
    Layout = "~/Views/Landing/_LandingLayout.cshtml";
}

@*<h2>Index</h2>*@
<link href="~/Content/Landing/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Landing/css/jquery-ui.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Landing/css/style.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Landing/css/responsive.css" rel="stylesheet" type="text/css" />
<style>
    .submitone{
        font-family: 'WorkSansRegular';
        font-size: 18px;
        color: #fff;
        background-color: #0e274d;
        border: 0px;
        border-radius: 3px;
        margin-top: 25px;
        padding: 13px 15px;
    }    
</style>
<section class="banner">
    <div class="col-sm-3 banner_left">
        <div class="email_download">
            <h1>11 Tips for Increasing Referrals</h1>
            @*<form action="@Url.Action("SendLandingEmail", "Landing")" method="post" id="Landing1">*@
            <form>
                <label>Email*</label>                
                <input type="email" id="txtemail" placeholder="Enter your e-mail to download" class="input_text">
                <div id="dvWarnMsg" style="display:none;color:red;font-size:16px;"><b>Please enter valid email id!</b></div>
                <a href="javascript:;" class="banner_btn" onclick="checkEmail()" @*data-toggle="modal"*@ @*data-target="#myModal"*@>Download Now</a>
            </form>
        </div>
    </div>
    <div class="col-sm-9 banner_right">
        <div class="dentist_guide">
            <div class="title">
                <h2>A Dentist’s Guide to Getting a Regular Flow of Referrals</h2>
            </div>
            <p>Achieving a high rate of referrals is key to building a successful dental practice. Not only do they increase profits, but they are also generally one of the best kind of patients.</p>
            <p>Referrals already have a positive attitude to your practice and require little encouragement to become a pa-tient. Typically, they also know what they want and what their goals are. These two factors reduce the need for a time-consuming sales pitch and allow you to get on with the treatment.</p>
            <img src="~/Content/Landing/images/banner_person.png" class="img-responsive" alt="RecordLinc Logo" />
        </div>
    </div>
</section>
<section class="mistakes">
    <div class="col-sm-7 mistake_right">
        <div class="common">
            <div class="title">
                <h2>Common Mistakes</h2>
            </div>
            <div class="mistakes_accordion">
                <h3>A Failure to Engage With Referrals</h3>
                <div class="mistake_content">
                    <p>
                        Once presented with a referral, however, it should not be perceived as a ‘done deal’. Too many dentists fail to take advantage of these
                        opportunities by neglecting to engage properly with referrals. It is vital to ask the right questions and listen carefully to a referrals needs. You should ask the potential patient what it was they liked the current patient said about you. Establish what a referral most values in a dentist and a practice. Do they want a sympathetic
                        dentist who will guide them step by step through treatment? Or do they prefer a no fuss ‘’in and out’’ approach?

                    <p>After identifying a referral’s needs, be sure to deliver exactly what they want.</p>
                </div>
                <h3>Too Few Resources Dedicated to Getting Referrals</h3>
                <div class="mistake_content">
                    <p>
                        Once presented with a referral, however, it should not be perceived as a ‘done deal’. Too many dentists fail to take advantage of these
                        opportunities by neglecting to engage properly with referrals. It is vital to ask the right questions and listen carefully to a referrals needs. You should ask the potential patient what it was they liked the current patient said about you. Establish what a referral most values in a dentist and a practice. Do they want a sympathetic
                        dentist who will guide them step by step through treatment? Or do they prefer a no fuss ‘’in and out’’ approach?

                    <p>After identifying a referral’s needs, be sure to deliver exactly what they want.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-5 mistake_left">
        <div class="conceptions">
            <div class="title">
                <h2>Misconceptions</h2>
            </div>
            <p>There are three common mistakes dentists' make regarding referrals:</p>
            <ul>
                <li>Only long-time patients refer.</li>
                <li>Patients only refer after receiving fantastic treatment.</li>
                <li>Patients will only refer once.</li>
            </ul>
        </div>
    </div>
</section>
<section class="tips">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="title">
                    <h2>11 Tips <br>for Increasing Referrals</h2>
                </div>
                <img src="~/Content/Landing/images/tips.png" class="img-responsive" alt="Travis Tips" />
                <a href="/Signup">Sign Up Today</a>
            </div>
            <div class="col-sm-7">
                <ol>
                    <li>Ensure Your Office is Fit to be Referred</li>
                    <li>Tell Patients You Want Their Referrals</li>
                    <li>Publicize Your Referral Program Throughout Your Practice</li>
                    <li>Publish a Regular Newsletter</li>
                    <li>Hold Referral Contests for Staff and Patients</li>
                    <li>Give Gifts to Existing Patients</li>
                    <li>Welcome New Patients With a Gift</li>
                    <li>Organize Regular Patient Appreciation Events</li>
                    <li>Leverage Patient's Influence Outside of the Dental Practice</li>
                    <li>Turn New Callers Into New Patients</li>
                    <li>Sign up for RecordLinc</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="download_pdf">
    <div class="container">
        <div class="row">
            <form>
                <div class="col-sm-4">
                    <div class="title">
                        <h2>Download <br>Free PDF Today!</h2>
                    </div>
                </div>
                <div class="col-sm-5">
                    <label>Email*</label>
                    <input type="email" id="txtemailother" class="input_text">
                    <div id="dvWarnMsgother" style="display:none;color:red;font-size:16px;"><b>Please enter valid email id!</b></div>
                </div>
                <div class="col-sm-3">
                    <input type="button" class="submitone" onclick="checkEmailother()" value="Download Now">
                </div>
            </form>
        </div>
    </div>
</section>
<div class="thanks_data_modal">
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <img src="~/Content/Landing/images/thankyou.png" class="img-responsive" alt="Thank You" />
                    <div class="modal_text">
                        <p>Your whitepaper is being sent to your email. </p>
                        <p>If you would like to learn more about RecordLinc please call us at </p>
                        <a class="clsPhone" href="tel:8005960133">(800)596-0133</a>
                        <span>If you would like to try out a risk free 30 day FREE trial of RecordLinc please hit submit</span>
                        <button class="LandingSubmit" id="btnPageOne" style="width:50% !important;text-align:center;" value="Submit">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function checkEmail() {
        
        var emailAddress = $('#txtemail').val();

        if (!isValidEmailAddress(emailAddress)) {

            $('#dvWarnMsg').show();
            $('#txtemail').focus();

        } else {
            $('#dvWarnMsg').hide();
            CallDownloadPdf(emailAddress);                        
        }
    }

    function checkEmailother() {
        
        var emailAddress = $('#txtemailother').val();

        if (!isValidEmailAddress(emailAddress)) {

            $('#dvWarnMsgother').show();
            $('#txtemailother').focus();

        } else {
            $('#dvWarnMsgother').hide();
            CallDownloadPdf(emailAddress);
        }
    }

    function isValidEmailAddress(emailAddress) {
        var pattern = new RegExp(/^[+a-zA-Z0-9._-]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/i);
        return pattern.test(emailAddress);
    }

    function CallDownloadPdf(emailAddress) {
        $.post("/Landing/SendLandingEmail", { emailId: emailAddress, pdfType: 2 }, function (data) {
            if (data != null && data != "") {
                $('#myModal').modal('show');
                $("#txtemailother").val('');
                $("#txtemail").val('');
                $("#btnPageOne").attr("onclick", 'SignUpUser("' + emailAddress + '")');
            }
            else {
                $('#myModal').modal('hide');
            }
        });
    }
    function SignUpUser(email) {
        
        $.post("/Landing/SignupFromLanding", { email: email }, function (data) {
            if (data != null && data != "") {
                
                if (data == "1")
                {
                    swal({ title: "Thank You!", text: 'Your sign-up has been successful. We have sent you activation email on your registered email address. Click on activation link from email to start using RecordLinc.', type: 'success' }, function () {
                        location.href = "@Url.Action("Index", "Login")";
                    });
                }
                if (data == "2")
                {
                    swal({ title: "Thank You!", text: 'You are already registered as a user in Recordlinc. We have resent you activation email on your registered email address. Click on activation link from email to start using RecordLinc.', type: 'success' }, function () {
                        location.href = "@Url.Action("Index", "Login")";
                    });
                }
                if (data == "3")
                {
                    swal({ title: "Thank You!", text: 'You are deactivated by the System Administrator. We have sent you email on your registered email address to activate your account.', type: 'error' }, function () {
                        location.href = "@Url.Action("Index", "Login")";
                    });
                }
                if (data == "4")
                {
                    swal({ title: "Thank You!", text: 'You are already registered as an active user in Recordlinc. We have sent you email with the credentials.', type: 'success' }, function () {
                        location.href = "@Url.Action("Index", "Login")";
                    });
                }
            }
            else {
                swal({ title: "", text: 'Your free trial process is not completed. Please try again.', type:'error' });
            }
        });
    }
    
</script>

