﻿
@{
    ViewBag.Title = "Referral-Machine-for-Dentists";
    Layout = "~/Views/Landing/_LandingLayout.cshtml";
}

<link href="~/Content/Landing2/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Landing2/css/style.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Landing2/css/responsive.css" rel="stylesheet" type="text/css" />
<style>
    .submitone {
        font-family: 'WorkSansRegular';
        font-size: 18px;
        color: #fff;
        background-color: #0e274d;
        border: 0px;
        border-radius: 3px;
        margin-top: 25px;
        padding: 13px 15px;
    }
</style>
<section class="banner">
    <div class="col-sm-3 banner_left">
        <div class="email_download">
            <h1>The Dental referral machine</h1>
            <form>
                <label>Email*</label>  
                <input type="email" id="txtemail" placeholder="Enter your e-mail to download" class="input_text">
                <div id="dvWarnMsg" style="display:none;color:red;font-size:16px;"><b>Please enter valid email id!</b></div>
                <a href="javascript:;" class="banner_btn" onclick="checkEmail()" @*data-toggle="modal"*@ @*data-target="#myModal"*@>Download Now</a>                
            </form>
        </div>
    </div>
    <div class="col-sm-9 banner_right">
        <div class="dentist_guide">
            <div class="title">
                <h2>5 ways to boost your dental practice's patient referrals</h2>
            </div>
            <img src="~/Content/Landing/images/banner_mail.png" class="img-responsive" alt="RecordLinc Mail" />
        </div>
    </div>
</section>
<section class="boost_practice">
    <div class="container">
        <p>
            Word-of-mouth advertising—when one person recommends a product or service to another—ranks at the top of the list of marketing strategies in terms of cost effectiveness. It costs very little yet delivers excellent results. This would explain why dentists give it such high marks. In an April 2015 survey, the Levin Group Data Center™ found 88.3 percent of respondents
            identified “referrals from current patients” as their most successful marketing method.
        </p>
        <p>In the new dental economy, when the number of adult dental care visits is declining, you need to make sure you and your team are doing everything possible to encourage patient referrals.</p>
    </div>
</section>
<section class="best_ways">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 pull-right">
                <img src="~/Content/Landing/images/online_referrals.png" class="img-responsive" alt="Online Referrals" />
            </div>
            <div class="col-sm-7 pull-left">
                <div class="title">
                    <h2>The 6 Best Ways To Get More Patient Referrals Online</h2>
                </div>
                <p>Using your website to get more patients for your practice is an often underutilized method of marketing by many in the healthcare industry. It is time to start taking a focused and strategic approach to the audience you’re trying to attract online to then eventually covert them into long-term patients offline.</p>
                <p>According to TeleVox, 51% of people say they’d feel more valued as a patient through digital health communications. This means that it is time to strengthen your relationships with potential patients online to ensure that awareness of your practice is reaching the most amount of relevant people as possible.</p>
                <ol>
                    <li>Pay Per Click Advertising</li>
                    <li>Search Engine Optimization</li>
                    <li>A Healthcare Database and Booking Service</li>
                    <li>Content Marketing</li>
                    <li>Social Media</li>
                    <li>Email Marketing</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="download_pdf">
    <div class="container">
        <div class="row">
            <form>
                <div class="col-sm-4">
                    <div class="title">
                        <h2>Download <br>Free PDF Today!</h2>
                    </div>
                </div>
                <div class="col-sm-5">
                    <label>Email*</label>
                    <input type="email" id="txtemailother" class="input_text">
                    <div id="dvWarnMsgother" style="display:none;color:red;font-size:16px;"><b>Please enter valid email id!</b></div>
                </div>
                <div class="col-sm-3">
                    <input type="button" class="submitone" onclick="checkEmailother()" value="Download Now">
                </div>
            </form>
        </div>
    </div>
</section>
<div class="thanks_data_modal">
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <img src="~/Content/Landing/images/thankyou.png" class="img-responsive" alt="Thank You" />
                    <div class="modal_text">
                        <p>Your whitepaper is being sent to your email. </p>
                        <p>If you would like to learn more about RecordLinc please call us at </p>
                        <a class="clsPhone" href="tel:8005960133">(800)596-0133</a>
                        <span>If you would like to try out a risk free 30 day FREE trial of RecordLinc please hit submit</span>
                        <button class="LandingSubmit" id="btnPageTwo" style="width:50% !important;text-align:center;" value="Submit">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    function checkEmail() {
        var emailAddress = $('#txtemail').val();

        if (!isValidEmailAddress(emailAddress)) {

            $('#dvWarnMsg').show();
            $('#txtemail').focus();

        } else {
            $('#dvWarnMsg').hide();
            CallDownloadPdf(emailAddress);            
        }
    }

    function checkEmailother() {
        var emailAddress = $('#txtemailother').val();

        if (!isValidEmailAddress(emailAddress)) {

            $('#dvWarnMsgother').show();
            $('#txtemailother').focus();

        } else {
            $('#dvWarnMsgother').hide();
            CallDownloadPdf(emailAddress);                      
        }
    }

    function isValidEmailAddress(emailAddress) {
        var pattern = new RegExp(/^[+a-zA-Z0-9._-]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/i);
        return pattern.test(emailAddress);
    }
    function CallDownloadPdf(emailAddress) {
        $.post("/Landing/SendLandingEmail", { emailId: emailAddress, pdfType: 3 }, function (data) {
            if (data != null && data != "") {
                $('#myModal').modal('show');
                $("#txtemailother").val('');
                $("#txtemail").val('');
                $("#btnPageTwo").attr("onclick", 'SignUpUser("' + emailAddress + '")');
            }
            else {
                $('#myModal').modal('hide');
            }
        });
    }

    function SignUpUser(email) {
        
        $.post("/Landing/SignupFromLanding", { email: email }, function (data) {
            if (data != null && data != "") {                
                if (data == "1")
                {
                    swal({ title: "Thank You!", text: 'Your sign-up has been successful. We have sent you activation email on your registered email address. Click on activation link from email to start using RecordLinc.', type: 'success' }, function () {
                        location.href = "@Url.Action("Index", "Login")";
                    });
                }
                if (data == "2")
                {
                    swal({ title: "Thank You!", text: 'You are already registered as a user in Recordlinc. We have resent you activation email on your registered email address. Click on activation link from email to start using RecordLinc.', type: 'success' }, function () {
                        location.href = "@Url.Action("Index", "Login")";
                    });
                }
                if (data == "3")
                {
                    swal({ title: "Thank You!", text: 'You are deactivated by the System Administrator. We have sent you email on your registered email address to activate your account.', type: 'error' }, function () {
                        location.href = "@Url.Action("Index", "Login")";
                    });
                }
                if (data == "4")
                {
                    swal({ title: "Thank You!", text: 'You are already registered as an active user in Recordlinc. We have sent you email with the credentials.', type: 'success' }, function () {
                        location.href = "@Url.Action("Index", "Login")";
                    });
                }                
            }
            else {
                swal({ title: "", text: 'Your free trial process is not completed. Please try again.', type:'error' });
            }
        });
    }
</script>
