﻿
@{
    ViewBag.Title = "dos-and-donts-for-online-dentist-reviews";
    Layout = "~/Views/Landing/_LandingLayout.cshtml";
}

@*<h2>LandingPage4</h2>*@
<link href="~/Content/Landing4/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/Landing4/css/style.css" rel="stylesheet" />
<link href="~/Content/Landing4/css/responsive.css" rel="stylesheet" />
<style>
    .submitone {
        font-family: 'WorkSansRegular';
        font-size: 18px;
        color: #fff;
        background-color: #0e274d;
        border: 0px;
        border-radius: 3px;
        margin-top: 25px;
        padding: 13px 15px;
    }
</style>
<section class="banner">
    <div class="col-sm-3 banner_left">
        <div class="email_download">
            <h1>Referral Autopilot for Dentist</h1>
            <form>
                <label>Email*</label>  
                <input type="email" id="txtemail" placeholder="Enter your e-mail to download" class="input_text">
                <div id="dvWarnMsg" style="display:none;color:red;font-size:16px;"><b>Please enter valid email id!</b></div>
                <a href="#" class="banner_btn" onclick="checkEmail()" @*data-toggle="modal"*@ @*data-target="#myModal"*@>Download Now</a>                
            </form>
        </div>
    </div>
    <div class="col-sm-9 banner_right">
        <div class="dentist_guide">
            <div class="title">
                <h2>Learn how dentists can put their referrals on autopilot from patients and colleagues</h2>
            </div>
            <img src="~/Content/Landing4/images/banner_person1.png" class="img-responsive" alt="RecordLinc Logo" />
        </div>
    </div>
</section>
<section class="rethinking">
    <div class="container">
        <div class="title">
            <h2>Rethinking the Strategies for Dental Referrals</h2>
        </div>
        <p>In today’s competitive dental health care market, dentists need to find new approaches to creating a successful business. Gone are the days when a company could simply commission a creative agency to produce advertisements and promotional materials, and the customers would come knocking. </p>
        <p>Thanks to the proliferation of online networks and tools, customers and patients are now better informed about the products and services they want. Potential clients carry out more research than ever before prior to choosing their healthcare provider, including dentists. Moreover, patients rely on online reviews to make their choices and in turn post their own reviews.</p>
        <p>As a result, patients more than ever play an active role in all aspects of how a dental practice or any business operates. Clients, current and prospective, create and are the recipients of the type of publicity that can make or break a dental practice or any business.</p>
        @*<a href="#">Read more...</a>*@
    </div>
</section>
<section class="realities">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 pull-right">
                <img src="~/Content/Landing4/images/realities.png" class="img-responsive" draggable="false" alt="Realities Dental" />
            </div>
            <div class="col-sm-7 pull-left">
                <div class="title">
                    <h2>Referral Realities</h2>
                </div>
                <p>There are no short cuts to building a successful dental practice. No business secrets to uncover, only facts that need to be successfully applied to an enterprise. The first truth to take on board is that referrals are the most effective form of marketing. It is also true to say that generating a steady stream of referrals is almost an art form in itself.</p>
                <p>It is helpful first to understand why referrals are so important and the physiology behind them.</p>
                <p>Buried towards the front a human limbic brain is a small area called the hypothalamus. This governs functions such as temperature regulation, thirst, hunger, sleep, mood, and sex drive.</p>
            </div>
        </div>
    </div>
</section>
<section class="human_nature">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <img src="~/Content/Landing4/images/nature.png" class="img-responsive" draggable="false" alt="Realities Dental" />
            </div>
            <div class="col-sm-7">
                <div class="title">
                    <h2>Making Referrals is Human Nature</h2>
                </div>
                <p>Dentists often have no background in sales, and many are reticent to ask for referrals. To some soliciting recommendations can feel a bit too much like a pushy sales technique. However, it is important to understand that making evaluations and recommendations to others is rooted in the survival instinct. The need to make referrals is hardwired into the brain.</p>
                <p>It is not too big a step to imagine how thousands of years ago making a referral could be the difference between life and death. Sharing things like the location of a good hunting ground or the whereabouts of dangerous predators was essential to man’s survival as a species.</p>
                <p>This instinct is still present today. If someone asks you the name of a good restaurant, you are usually only too happy to oblige. Instinctively we know that in the future we might need to call on that person to pay back the favor by providing a tip of their own.</p>
            </div>
        </div>
    </div>
</section>
<section class="business">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 pull-right">
                <img src="~/Content/Landing4/images/teeth_checkup.png" class="img-responsive" draggable="false" alt="Teeth Checkup" />
            </div>
            <div class="col-sm-7 pull-left">
                <div class="title">
                    <h2>All Business has <br>an Element of Risk</h2>
                </div>
                <p>As well as being your ally in the referral business, the hypothalamus can also be your enemy. There is a small but very powerful part of it that creates and controls fear.</p>
                <p>Humans ceaselessly weigh up situations and make risk assessments, often at a subconscious level. They balance whether certain information or actions are likely to produce positive or negative results, pleasure or pain.</p>
                <p>While it is true to say we are hardwired to give referrals, making recommendations also contains an element of peril. When providing a referral, we are to some degree risking our relationship with the recipient by sending them to our favored person or company. There is always the doubt that our friend will not receive the same high level of treatment or satisfaction and so reduce our social currency as the source of reliable information.</p>
            </div>
        </div>
    </div>
</section>
<section class="practice">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 practice_border">
                <div class="title">
                    <h2>Nobody Talks About <br>a Boring practice</h2>
                </div>
                <p>The marketing philosopher guru Seth Godin believes that if people aren’t talking about your business, there is a reason. That reason is you are boring, according to the author of such books as The Dip and Purple Cow.</p>
                <p>Godin believes companies fail to create a buzz when they stick to what they perceive as the safe options. Such companies have ‘safe’ prices and products and even a ‘safe’ location because they think this is what the market wants, according to Godin. Nobody talks about boring people or products, and boring companies are hard to refer.</p>
            </div>
            <div class="col-sm-6 practice_consistent">
                <div class="title">
                    <h2>Consistency <br>Creates Trust</h2>
                </div>
                <p>Creating referability takes a long-term and consistent commitment. You are aiming to build trust between your dental practice and your clients.</p>
                <p>Trust comes from repetition, reliability, consistency and genuineness.</p>
                <p>One off publicity stunts to get people talking about you today are just that – short-lived. People also instinctively know when you are trying to create attention solely for attention’s sake. Similarly, clients also sense if you are trying to be something that you are not.</p>
            </div>
        </div>
    </div>
</section>
<section class="marketing">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 pull-right">
                <img src="~/Content/Landing4/images/checkup_tools.png" class="img-responsive" draggable="false" alt="Tools For Checkup" />
            </div>
            <div class="col-sm-7 pull-left">
                <div class="title">
                    <h2>Marketing is a System</h2>
                </div>
                <p>Any business is essentially a set of systems and processes. Finance is a system, management is a system and marketing is also a system. Therefore it makes sense to think of generating referrals as a set of processes within a marketing system.</p>
                <p>Despite this, however, many dental practitioners see referrals as somehow beyond the realms of a systematic approach. In dental practices with few referrals, it is not uncommon to hear dentists complain that they feel awkward asking for referrals, or they see it as just one rung above begging for new patients. These are not so much reasons for a failure to attract referrals but rather evidence of self-doubt. Also, such practitioners are displaying is a total ignorance of why patients should be talking about their practice.</p>
                <a href="Signup">Sign Up Today</a>
            </div>
        </div>
    </div>
</section>
<section class="download_pdf">
    <div class="container">
        <div class="row">
            <form>
                <div class="col-sm-4">
                    <div class="title">
                        <h2>Download <br>Free PDF Today!</h2>
                    </div>
                </div>
                <div class="col-sm-5">
                    <label>Email*</label>
                    <input type="email" id="txtemailother" class="input_text">
                    <div id="dvWarnMsgother" style="display:none;color:red;font-size:16px;"><b>Please enter valid email id!</b></div>
                </div>
                <div class="col-sm-3">
                    <input type="button" class="submitone" onclick="checkEmailother()" value="Download Now">
                </div>
            </form>
        </div>
    </div>
</section>
<div class="thanks_data_modal">
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <img src="~/Content/Landing/images/thankyou.png" class="img-responsive" alt="Thank You" />
                    <div class="modal_text">
                        <p>Your whitepaper is being sent to your email. </p>
                        <p>If you would like to learn more about RecordLinc please call us at </p>
                        <a class="clsPhone" href="tel:8005960133">(800)596-0133</a>
                        <span>If you would like to try out a risk free 30 day FREE trial of RecordLinc please hit submit</span>
                        <button class="LandingSubmit" id="btnPageFour" style="width:50% !important;text-align:center;" value="Submit">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    function checkEmail() {
        var emailAddress = $('#txtemail').val();

        if (!isValidEmailAddress(emailAddress)) {

            $('#dvWarnMsg').show();
            $('#txtemail').focus();

        } else {
            $('#dvWarnMsg').hide();
            CallDownloadPdf(emailAddress);                      
        }
    }

    function checkEmailother() {
        var emailAddress = $('#txtemailother').val();

        if (!isValidEmailAddress(emailAddress)) {

            $('#dvWarnMsgother').show();
            $('#txtemailother').focus();

        } else {
            $('#dvWarnMsgother').hide();
            CallDownloadPdf(emailAddress);                        
        }
    }

    function isValidEmailAddress(emailAddress) {
        var pattern = new RegExp(/^[+a-zA-Z0-9._-]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/i);
        return pattern.test(emailAddress);
    }
    function CallDownloadPdf(emailAddress) {
        $.post("/Landing/SendLandingEmail", { emailId: emailAddress, pdfType: 1 }, function (data) {
            if (data != null && data != "") {
                $('#myModal').modal('show');
                $("#txtemailother").val('');
                $("#txtemail").val('');
                $("#btnPageFour").attr("onclick", 'SignUpUser("' + emailAddress + '")');
            }
            else {
                $('#myModal').modal('hide');
            }
        });
    }

    function SignUpUser(email) {
        
        $.post("/Landing/SignupFromLanding", { email: email }, function (data) {
            if (data != null && data != "") {
                
                if (data == "1")
                {
                    swal({ title: "Thank You!", text: 'Your sign-up has been successful. We have sent you activation email on your registered email address. Click on activation link from email to start using RecordLinc.', type: 'success' }, function () {
                        location.href = "@Url.Action("Index", "Login")";
                    });
                }
                if (data == "2")
                {
                    swal({ title: "Thank You!", text: 'You are already registered as a user in Recordlinc. We have resent you activation email on your registered email address. Click on activation link from email to start using RecordLinc.', type: 'success' }, function () {
                        location.href = "@Url.Action("Index", "Login")";
                    });
                }
                if (data == "3")
                {
                    swal({ title: "Thank You!", text: 'You are deactivated by the System Administrator. We have sent you email on your registered email address to activate your account.', type: 'error' }, function () {
                        location.href = "@Url.Action("Index", "Login")";
                    });
                }
                if (data == "4")
                {
                    swal({ title: "Thank You!", text: 'You are already registered as an active user in Recordlinc. We have sent you email with the credentials.', type: 'success' }, function () {
                        location.href = "@Url.Action("Index", "Login")";
                    });
                }
            }
            else {
                swal({ title: "", text: 'Your free trial process is not completed. Please try again.', type:'error' });
            }
        });
    }
</script>

