﻿
@{
    ViewBag.Title = "Referral Machine for Dentists";
    Layout = "~/Views/Landing/_LandingLayout.cshtml";
}

<link href="~/Content/Landing3/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/Landing3/css/style.css" rel="stylesheet" />
<link href="~/Content/Landing3/css/responsive.css" rel="stylesheet" />
<style>
    .submitone {
        font-family: 'WorkSansRegular';
        font-size: 18px;
        color: #fff;
        background-color: #0e274d;
        border: 0px;
        border-radius: 3px;
        margin-top: 25px;
        padding: 13px 15px;
    }
</style>
<section class="banner">
    <div class="col-sm-3 banner_left">
        <div class="email_download">
            <h1>How Do Dentists Get More Reviews Online?</h1>
            <form>
                <label>Email*</label>  
                <input type="email" id="txtemail" placeholder="Enter your e-mail to download" class="input_text">
                <div id="dvWarnMsg" style="display:none;color:red;font-size:16px;"><b>Please enter valid email id!</b></div>
                <a href="javascript:;" class="banner_btn" onclick="checkEmail()" @*data-toggle="modal"*@ @*data-target="#myModal"*@>Download Now</a>                
            </form>
        </div>
    </div>
    <div class="col-sm-9 banner_right">
        <div class="dentist_guide">
            <!--<img src="images/checklist.png" class="img-responsive" alt="RecordLinc Mail">-->
            <img src="~/Content/Landing/images/checklist1.png" class="img-responsive" alt="RecordLinc Mail">
            <div class="title">
                <h2>10 DO’s & DON'Ts for generating and monitoring online reviews</h2>
            </div>
            <!--                    <p>To learn more about how you can improve your business's online reputa-tion and drive revenue.</p>
                                <p><strong>email us at</strong> <a href="mailto:travis@recordlinc.com">travis@recordlinc.com</a></p>-->
        </div>
    </div>
</section>
<section class="dos">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 pull-right">
                <img src="~/Content/Landing/images/dos.png" class="img-responsive" alt="RecordLinc Do's" />
            </div>
            <div class="col-sm-7 pull-left">
                <div class="title">
                    <h2>Do:</h2>
                </div>
                <ol>
                    <li>Claim Your Online Business Listings</li>
                    <li>Routinely Ask Your Customers To Write Reviews</li>
                    <li>Make Your Review Request Personal</li>
                    <li>Monitor Your Reviews</li>
                    <li>Mention Reviews In Your Customer Facing Sites</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="donts">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <img src="~/Content/Landing/images/donts.png" class="img-responsive" alt="RecordLinc Do's" />
            </div>
            <div class="col-sm-7">
                <div class="title">
                    <h2>Don't:</h2>
                </div>
                <ol start="6">
                    <li>Send Out Review Requests All At Once</li>
                    <li>Solicitor Publish Fake Reviews</li>
                    <li>Ask Disgruntled Customers To Review You Rorganization Until You’ve Resolved Their Issues</li>
                    <li>Ignore Negative Reviews</li>
                    <li>Try To Remove Negative Reviews</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="download_pdf">
    <div class="container">
        <div class="row">
            <form>
                <div class="col-sm-4">
                    <div class="title">
                        <h2>Download <br>Free PDF Today!</h2>
                    </div>
                </div>
                <div class="col-sm-5">
                    <label>Email*</label>
                    <input type="email" id="txtemailother" class="input_text">
                    <div id="dvWarnMsgother" style="display:none;color:red;font-size:16px;"><b>Please enter valid email id!</b></div>
                </div>
                <div class="col-sm-3">
                    <input type="button" class="submitone" onclick="checkEmailother()" value="Download Now">
                </div>
            </form>
        </div>
    </div>
</section>
<div class="thanks_data_modal">
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <img src="~/Content/Landing/images/thankyou.png" class="img-responsive" alt="Thank You" />
                    <div class="modal_text">
                        <p>Your whitepaper is being sent to your email. </p>
                        <p>If you would like to learn more about RecordLinc please call us at </p>
                        <a class="clsPhone" href="tel:8005960133">(800)596-0133</a>
                        <span>If you would like to try out a risk free 30 day FREE trial of RecordLinc please hit submit</span>
                        <button class="LandingSubmit" id="btnPageThree" style="width:50% !important;text-align:center;" value="Submit">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    function checkEmail() {
        var emailAddress = $('#txtemail').val();

        if (!isValidEmailAddress(emailAddress)) {

            $('#dvWarnMsg').show();
            $('#txtemail').focus();

        } else {
            $('#dvWarnMsg').hide();
            CallDownloadPdf(emailAddress);                      
        }
    }

    function checkEmailother() {
        var emailAddress = $('#txtemailother').val();

        if (!isValidEmailAddress(emailAddress)) {

            $('#dvWarnMsgother').show();
            $('#txtemailother').focus();

        } else {
            $('#dvWarnMsgother').hide();
            CallDownloadPdf(emailAddress);                       
        }
    }

    function isValidEmailAddress(emailAddress) {
        var pattern = new RegExp(/^[+a-zA-Z0-9._-]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/i);
        return pattern.test(emailAddress);
    }
    function CallDownloadPdf(emailAddress) {
        $.post("/Landing/SendLandingEmail", { emailId: emailAddress, pdfType: 4 }, function (data) {
            if (data != null && data != "") {
                $('#myModal').modal('show');
                $("#txtemailother").val('');
                $("#txtemail").val('');
                $("#btnPageThree").attr("onclick", 'SignUpUser("' + emailAddress + '")');                
            }
            else {
                $('#myModal').modal('hide');
            }
        });
    }

    function SignUpUser(email) {
        
        $.post("/Landing/SignupFromLanding", { email: email }, function (data) {
            if (data != null && data != "") {
                
                if (data == "1")
                {
                    swal({ title: "Thank You!", text: 'Your sign-up has been successful. We have sent you activation email on your registered email address. Click on activation link from email to start using RecordLinc.', type: 'success' }, function () {
                        location.href = "@Url.Action("Index", "Login")";
                    });
                }
                if (data == "2")
                {
                    swal({ title: "Thank You!", text: 'You are already registered as a user in Recordlinc. We have resent you activation email on your registered email address. Click on activation link from email to start using RecordLinc.', type: 'success' }, function () {
                        location.href = "@Url.Action("Index", "Login")";
                    });
                }
                if (data == "3")
                {
                    swal({ title: "Thank You!", text: 'You are deactivated by the System Administrator. We have sent you email on your registered email address to activate your account.', type: 'error' }, function () {
                        location.href = "@Url.Action("Index", "Login")";
                    });
                }
                if (data == "4")
                {
                    swal({ title: "Thank You!", text: 'You are already registered as an active user in Recordlinc. We have sent you email with the credentials.', type: 'success' }, function () {
                        location.href = "@Url.Action("Index", "Login")";
                    });
                }
            }
            else {
                swal({ title: "", text: 'Your free trial process is not completed. Please try again.', type:'error' });
            }
        });
    }
</script>

