﻿@model DentalFiles.Models.RequiredFiedModel
@using System.Web.Optimization
@{
    ViewBag.Title = "Sign Up";

}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <script type="text/javascript" src="//www.baw5tracker.com/js/60398.js"></script>
    <noscript><img src="//www.baw5tracker.com/60398.png" style="display:none;" alt="baw5tracker" /></noscript>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Dentalcss/style.css" type="text/css" media="screen">
    <link rel="icon" href="/Dentalimages/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/Dentalimages/favicon.ico" type="image/x-icon" />
    <link href="/Dentalcss/jquery.selectbox.css" type="text/css" rel="stylesheet" />
    <script src="/Dentaljs/jquery-1.8.3.min.js"></script>
    <script src="/Dentaljs/superfish.js"></script>
    <script src="/Dentaljs/jquery.elastislide.js"></script>
    <script src="/Dentaljs/jquery.ui.totop.js"></script>
    <script src="/Dentaljs/script.js"></script>
    <script src="/Dentaljs/jquery.jqtransform.js"></script>
    <script src="/Dentaljs/WaterMark.min.js"></script>
    <script src="/Dentaljs/tooltip.js"></script>
    <script src="/Dentaljs/jquery-ui.js" type="text/javascript"></script>
    <script src="/Dentaljs/common.js" type="text/javascript"></script>

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css", "~/Content/css")
    <script src="/Dentaljs/lightbox.js"></script>
    <script src="/Dentaljs/lightboxfile.js"></script>
    <link href="/Dentalcss/lightbox.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript">
        $(document).ready(function () {
            $('.popup-with-form').magnificPopup({
                type: 'inline',
                preloader: false,
                focus: '#name',

                // When elemened is focused, some mobile browsers in some cases zoom in
                // It looks not nice, so we disable it:
                callbacks: {
                    beforeOpen: function () {
                        if ($(window).width() < 700) {
                            this.st.focus = false;
                        } else {
                            this.st.focus = '#name';
                        }
                    }
                }
            });
        });
    </script>
    <!-- Profile Popup -->
    <script src="/Dentaljs/jquery.toolbar.js"></script>
    <link href="/Dentalcss/toolbar.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript">
        jQuery(document).ready(function ($) {

            // Define any icon actions before calling the toolbar
            $('.toolbar-icons a').on('click', function (event) {


                var link = $(this).attr("href");
                location.href = link;
            });

            $('#normal-button').toolbar({ content: '#user-options', position: 'bottom' });
            $('#quicklinks').toolbar({ content: '#user-options2', position: 'bottom' });
        });

        jQuery(document).ready(function () {

            $(function () {
                var input = document.createElement("input");
                $("#txtpassword").attr("placeholder", "Password").placeholder();
                if (('placeholder' in input) == false) {
                    $('[placeholder]').focus(function () {
                        var i = $(this);

                        if (i.val() == i.attr('placeholder')) {

                            i.val('').removeClass('placeholder');
                            if (i.hasClass('Password')) {
                                i.removeClass('Password');
                                this.type = 'Password';
                            }
                        }
                    }).blur(function () {
                        var i = $(this);
                        if (i.val() == '' || i.val() == i.attr('placeholder')) {
                            if (this.type == 'Password') {
                                i.addClass('Password');
                                this.type = 'text';
                            }
                            i.addClass('placeholder').val(i.attr('placeholder'));
                        }
                    }).blur().parents('form').submit(function () {
                        $(this).find('[placeholder]').each(function () {
                            var i = $(this);
                            if (i.val() == i.attr('placeholder'))

                                i.val('');

                        })
                    });
                }
            });
        });




    </script>
    <script type="text/javascript">
        $(function () {

            $("#back-to-top").backToTop();

            var offset = 100;
            var top = 0;
            $("body, html").animate({
                scrollTop: top - offset
            }, function () {
                var $window = $(window);
                $window.scroll(function () {
                    $("#balloon")
                        .stop()
                        .animate({
                            top: $window.scrollTop() - top + offset
                        }, 1200);
                });
            });

        });
    </script>
    <!-- Top Login Hide on clicking anywhere outside -->
    <script type="text/javascript">
        $(function () {
            $("#accordion").accordion();
            $('input, textarea').placeholder();

        });

        jQuery(document).ready(function () {

            jQuery("body *").click(function (e) {

                if (!jQuery(e.target).hasClass('loginbtn') && !jQuery(e.target).closest('.MemberLoginDropDown').length > 0) {
                    jQuery(".MemberLogin").removeClass("active");
                    jQuery('.MemberLoginDropDown').hide();
                }


            });

        });

    </script>
    <!-- Main Menu Hide on clicking anywhere outside -->
    <script type="text/javascript">
        /* Show/Hide on clicking outside */
        jQuery(document).ready(function () {
            jQuery("html *").on('click touchstart', function (e) {
                // console.log(e.target);
                if ((!jQuery(e.target).hasClass('openable') && !jQuery(e.target).parent().hasClass('openable')) && !jQuery(e.target).closest('.tool-container').length > 0) {
                    jQuery(".openable").removeClass("pressed");
                    jQuery('.tool-container').hide();
                }

            });
        });


    </script>

    <script src="/Dentaljs/jquery.ui.core.js"></script>
    <script src="/Dentaljs/jquery.ui.widget.js"></script>
    <script src="/Dentaljs/jquery.ui.mask.js"></script>
    <script src="/Dentaljs/jquery.placeholder.js"></script>
    <script src="/Dentaljs/rustylazyload.js"></script>
    <!--[if lt IE 8]>

    <![endif]-->
    <!--[if lt IE 9]>
        <script src="/Dentaljs/html5.js"></script>
        <link rel="stylesheet" href="/Dentalcss/ie.css">
    <![endif]-->
    @*<script type="text/javascript">
  (function(i, s, o, g, r, z, a, m) { i[r]={ ACCOUNT_TOKEN: z };a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m); }(window, document, 'script', "https://s3.getmedchat.com/embed/bundle.min.js", "MedChat", "f2sm0gfgZ6xY2xV_9eO5bg"));
    </script>*@
</head>

<body id="page1">
    <div id="Message">
    </div>


    <div class="header_panel header_dental">
        <header>
            <div class="main">

                <h1 id="logo_dental"><a href='@Url.Action("Index", "Index")'></a></h1>

            </div>
            <div class="clear"></div>
        </header>
    </div>
    <div class="clear">
    </div>
    <section id="content">
        <div class="container_16">
            <div class="clear">
            </div>
            <div class="row-nav">
                <!--======================== menu ============================-->
                <nav>
                    <div class="right_side_links">
                        <div class="clear"></div>
                    </div>
                </nav>
                <div class="clear">
                </div>
            </div>
            <section id="content">
                <div class="container_16">
                    <div class="main_content main_content_dental">
            <!-- Simple secure Banner ends -->
                        <!-- Secure Steps Starts -->
                        <div id="find_Dental">
                            <div class="heading">
                                <h2 align="center">
                                    MyDentalFiles is a secure<br>
                                    <span>way for patients to access their dental records</span>
                                </h2>
                            </div>
                            <div class="sign_steps">
                                <h3>
                                    Signing up is FREE and EASY (2 steps)
                                </h3>
                                @using (Html.BeginForm("CreateSession", "Index"))
                                {
                                    <ul>
                                        <li>
                                            <h3 class="step1">
                                                Tell us who you are
                                            </h3>
                                            @Html.TextBoxFor(model => model.Firstname, new { @placeholder = "First Name", tabindex = "11" })
                                            @Html.TextBoxFor(model => model.Email, new { id = "Emailstep1", @placeholder = "Email", tabindex = "13" })

                                            <div style="color:Red" id="dvEmail"></div>

                                        </li>
                                        <li>
                                            <h3 class="step2">
                                                Add your dentists
                                            </h3>
                                            @Html.TextBoxFor(model => model.Lastname, new { @placeholder = "Last Name", tabindex = "12" })
                                            @Html.TextBoxFor(model => model.PhoneNo, new { id = "txtindexphone", @placeholder = "Phone Number", tabindex = "14" })
                                        </li>

                                        <li class="action">
                                            <input type="hidden" value="true" id="hdntxtindexphone" />
                                            <input name="Search" onclick="return Validation();" type="submit" value="Search"
                                                   tabindex="15">
                                            <p>
                                                ...then enjoy the benefits of MyDentalFiles
                                            </p>
                                        </li>
                                    </ul>
                                }
                            </div>
                            <div class="demo_video">
                                <iframe src="//player.vimeo.com/video/82626744" width="394" height="230" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                @*<img src="/DentalImages/demo-video.png">*@
                            </div>
                            <div class="clear">
                            </div>
                        </div>
                        <!-- Secure Steps ends -->
                        <div class="information_panel">
                            <h2 class="ptitle">
                                <span>Benefits</span>
                            </h2>
                            <ul>
                                <li>
                                    <span>
                                        Less time filling
                                        <br />
                                        out forms
                                    </span><span class="imagepanel">
                                        <img src="/DentalImages/icon_info_1.png"
                                             alt="icon1" />
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        Improve communication<br />
                                        with dentist
                                    </span><span class="imagepanel">
                                        <img src="/DentalImages/icon_info_2.png"
                                             alt="icon2" />
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        Transfer<br />
                                        dental files
                                    </span><span class="imagepanel">
                                        <img src="/DentalImages/icon_info_3.png"
                                             alt="icon3" />
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        Easily access dental<br />
                                        files &amp; treatment plans
                                    </span><span class="imagepanel">
                                        <img src="/DentalImages/icon_info_4.png"
                                             alt="icon4" />
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        Take<br />
                                        less x-rays
                                    </span><span class="imagepanel">
                                        <img src="/DentalImages/icon_info_5.png"
                                             alt="icon5" />
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <div class="backrend_listing">
                            <h2 class="ptitle">
                                <span>Demonstration</span>
                            </h2>
                            <ul>
                                <li>
                                    <a onclick="window.open('/html/my_inbox.html','_blank')" target="_blank">
                                        <span class="myinbox_mydental">
                                        </span><span>My Inbox</span>
                                    </a>
                                </li>
                                <li>
                                    <a onclick="window.open('/html/patient_history.html','_blank')" target="_blank">
                                        <span class="myinfo_mydental">
                                        </span><span>My Info</span>
                                    </a>
                                </li>
                                <li>
                                    <a onclick="window.open('/html/treating_docs.html','_blank')" target="_blank">
                                        <span class="mytreatingdoctor_mydental"></span><span>My Treating Doctors</span>
                                    </a>
                                </li>
                                <li>
                                    <a onclick="window.open('/html/dental_files.html','_blank')" target="_blank">
                                        <span class="mydentalfiles_mydental">
                                        </span><span>My Dental Files</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <script language="javascript" type="text/javascript">
                            function Validation() {


                                if (document.getElementById('hdntxtindexphone').values == false) {
                                    document.getElementById('txtindexphone').focus();
                                    return false;
                                }


                                var result = IsEmail(document.getElementById('Emailstep1').value);

                                if (result == false) {
                                    document.getElementById('dvEmail').innerHTML = 'Please Enter Valid Email';
                                    document.getElementById('dvEmail').focus();
                                    return false;
                                }
                                else {

                                    document.getElementById('dvEmail').innerHTML = '';
                                }

                            }





                            $("#btnsearch").click(function () {

                                jQuery.validator.addMethod('placeholder', function (value, element, params) {

                                    var isValid = true;

                                    if (value == 'Enter the city or zip of your dentist') {
                                        isValid = false;
                                        $(element).focus();
                                    }
                                    return isValid;
                                });

                            });

                            $.validator.unobtrusive.adapters.add('placeholder', function (options) {
                                options.messages['placeholder'] = options.message;
                            });
                        </script>
                    </div>
                </div>
            </section>
        </div>
        <script type="text/javascript" src="/Dentaljs/jquery.selectbox-0.2.min.js"></script>
        <script type="text/javascript">
            $(function () {
                $("#country_id2").selectbox();
                $("#country_id").selectbox();
                $(".information_panel li:last-child").addClass("lastproduct");

            });

        </script>
        <link href="/Dentalcss/autofill.css" type="text/css" rel="stylesheet" />
        <script type="text/javascript" src="/Dentaljs/jquery.autocomplete.js"></script>
        <script type="text/javascript" src="/Dentaljs/demo.js"></script>
        <script type="text/javascript" src="/Dentaljs/jquery.mockjax.js"></script>
        <span id="siteseal">
            <script type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=F34USZbK0ZJXklg4iUVnDdiuqxNIsXp8lcoNVeU36D7SHiwi3v"></script>
        </span>
</body>
</html>
