﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>One Click Referral Dashboard</title>
    <link rel="icon" href="images/one_click_referral.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
</head>
<body style="padding: 0; margin: 0; font-size: 14px; color: #002e59;font-family: 'Open Sans'; font-weight: 400;">
    <div style="width: 8.5in; margin: 0 auto; padding: 0;">
        <h1 style="padding: 15px;font-size: 24px; color: #fff;font-family: 'Open Sans'; font-weight: 400; background: #002e59; margin: 0 0 15px;">Referral By</h1>
        <div style="font-size: 14px; color: #002e59;font-family: 'Open Sans'; font-weight: 400; margin-bottom: 5px">Referred to: Brent Boyse</div>
        <div style="font-size: 14px; color: #002e59;font-family: 'Open Sans'; font-weight: 400; margin-bottom: 5px">Referral sent date: 4/12/2019 2:11 PM</div>
        <div style="font-size: 14px; color: #002e59;font-family: 'Open Sans'; font-weight: 400; margin-bottom: 5px">Location: First Location</div>
        <div style="font-size: 14px; color: #002e59;font-family: 'Open Sans'; font-weight: 400; margin-bottom: 15px">Oral Surgery: Jaw Surgery (evaluation)</div>
        <h1 style="padding: 15px;font-size: 24px; color: #fff;font-family: 'Open Sans'; font-weight: 400; background: #002e59; margin: 0 0 15px;">Patient Info</h1>
        <h2 style="font-size: 22px; color: #002e59;font-family: 'Open Sans'; font-weight: 400; margin-bottom: 15px;">Larry Allore</h2>
        <div style="clear: both; display: block;"></div>
        <div style="font-size: 14px; color: #002e59;font-family: 'Open Sans'; font-weight: 400; margin-bottom: 5px; width: 50%; float: left">ID: 193406</div>
        <div style="font-size: 14px; color: #002e59;font-family: 'Open Sans'; font-weight: 400; margin-bottom: 5px; width: 50%; float: left">Address: 28425 Abbey Road, Millbury</div>
        <div style="font-size: 14px; color: #002e59;font-family: 'Open Sans'; font-weight: 400; margin-bottom: 5px; width: 50%; float: left">Gender: Male</div>
        <div style="font-size: 14px; color: #002e59;font-family: 'Open Sans'; font-weight: 400; margin-bottom: 5px; width: 50%; float: left">Phone: (419) 481-1744</div>
        <div style="font-size: 14px; color: #002e59;font-family: 'Open Sans'; font-weight: 400; margin-bottom: 5px; width: 50%; float: left">DOB: 2/4/1948 (69 years old)</div>
        <div style="font-size: 14px; color: #002e59;font-family: 'Open Sans'; font-weight: 400; margin-bottom: 5px; width: 50%; float: left">Email: allorel@yahoo.com</div>
        <div style="clear: both; display: block;margin-bottom: 15px"></div>
        <div style="margin: 0 0 15px;">
            <table style="width: 100%;">
                <thead style="background: #f3f5f7; width: 100%; border: 1px solid #e4e6e9;">
                    <tr>
                        <th style="padding: 10px 15px; text-align: left">Date</th>
                        <th style="padding: 10px 15px; text-align: left">From/To</th>
                        <th style="padding: 10px 15px; text-align: left">Type</th>
                        <th style="padding: 10px 15px; text-align: left">Message</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="padding: 10px 15px; text-align: left">07-14-2017 2:17PM</td>
                        <td style="padding: 10px 15px; text-align: left">David Howington</td>
                        <td style="padding: 10px 15px; text-align: left">Messages</td>
                        <td style="padding: 10px 15px; text-align: left">Treatment is completed.</td>
                    </tr>
                    <tr>
                        <td style="padding: 10px 15px; text-align: left">12-09-2016 5:01PM</td>
                        <td style="padding: 10px 15px; text-align: left">Greg Smith</td>
                        <td style="padding: 10px 15px; text-align: left">Referral</td>
                        <td style="padding: 10px 15px; text-align: left"></td>
                    </tr>
                    <tr>
                        <td style="padding: 10px 15px; text-align: left">12-09-2016 4:15PM</td>
                        <td style="padding: 10px 15px; text-align: left">Derek Farber</td>
                        <td style="padding: 10px 15px; text-align: left">Referral</td>
                        <td style="padding: 10px 15px; text-align: left"></td>
                    </tr>
                    <tr>
                        <td style="padding: 10px 15px; text-align: left">07-14-2017 2:17PM</td>
                        <td style="padding: 10px 15px; text-align: left">David Howington</td>
                        <td style="padding: 10px 15px; text-align: left">Messages</td>
                        <td style="padding: 10px 15px; text-align: left">Treatment is completed.</td>
                    </tr>
                    <tr>
                        <td style="padding: 10px 15px; text-align: left">12-09-2016 5:01PM</td>
                        <td style="padding: 10px 15px; text-align: left">Greg Smith</td>
                        <td style="padding: 10px 15px; text-align: left">Referral</td>
                        <td style="padding: 10px 15px; text-align: left"></td>
                    </tr>
                    <tr>
                        <td style="padding: 10px 15px; text-align: left">12-09-2016 4:15PM</td>
                        <td style="padding: 10px 15px; text-align: left">Derek Farber</td>
                        <td style="padding: 10px 15px; text-align: left">Referral</td>
                        <td style="padding: 10px 15px; text-align: left"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="height: 5px; background: #f3f5f7; margin: 0 0 15px;"></div>
        <h2 style="font-size: 22px; color: #002e59;font-family: 'Open Sans'; font-weight: 400; margin-bottom: 15px;">Patient Files</h2>
        <div style="margin-bottom: 15px; width: 22%; border: 2px solid #eee; border-radius: 5px; margin-right: 1.5%;  float: left; background-image: url(images/img01.jpg); height: 150px; background-repeat: no-repeat; background-position: center;"></div>
        <div style="margin-bottom: 15px; width: 22%; border: 2px solid #eee; border-radius: 5px; margin-right: 1.5%;  float: left; background-image: url(images/img01.jpg); height: 150px; background-repeat: no-repeat; background-position: center;"></div>
        <div style="margin-bottom: 15px; width: 22%; border: 2px solid #eee; border-radius: 5px; margin-right: 1.5%;  float: left; background-image: url(images/img01.jpg); height: 150px; background-repeat: no-repeat; background-position: center;"></div>
        <div style="margin-bottom: 15px; width: 22%; border: 2px solid #eee; border-radius: 5px; margin-right: 1.5%;  float: left; background-image: url(images/img01.jpg); height: 150px; background-repeat: no-repeat; background-position: center;"></div>
        <div style="margin-bottom: 15px; width: 22%; border: 2px solid #eee; border-radius: 5px; margin-right: 1.5%;  float: left; background-image: url(images/img01.jpg); height: 150px; background-repeat: no-repeat; background-position: center;"></div>
        <div style="margin-bottom: 15px; width: 22%; border: 2px solid #eee; border-radius: 5px; margin-right: 1.5%;  float: left; background-image: url(images/img01.jpg); height: 150px; background-repeat: no-repeat; background-position: center;"></div>
        <div style="margin-bottom: 15px; width: 22%; border: 2px solid #eee; border-radius: 5px; margin-right: 1.5%;  float: left; background-image: url(images/img01.jpg); height: 150px; background-repeat: no-repeat; background-position: center;"></div>
        <div style="margin-bottom: 15px; width: 22%; border: 2px solid #eee; border-radius: 5px; margin-right: 1.5%;  float: left; background-image: url(images/img01.jpg); height: 150px; background-repeat: no-repeat; background-position: center;"></div>
        <div style="margin-bottom: 15px; width: 22%; border: 2px solid #eee; border-radius: 5px; margin-right: 1.5%;  float: left; background-image: url(images/img01.jpg); height: 150px; background-repeat: no-repeat; background-position: center;"></div>
        <div style="margin-bottom: 15px; width: 22%; border: 2px solid #eee; border-radius: 5px; margin-right: 1.5%;  float: left; background-image: url(images/img01.jpg); height: 150px; background-repeat: no-repeat; background-position: center;"></div>
        <div style="margin-bottom: 15px; width: 22%; border: 2px solid #eee; border-radius: 5px; margin-right: 1.5%;  float: left; background-image: url(images/img01.jpg); height: 150px; background-repeat: no-repeat; background-position: center;"></div>
        <div style="margin-bottom: 15px; width: 22%; border: 2px solid #eee; border-radius: 5px; margin-right: 1.5%;  float: left; background-image: url(images/img01.jpg); height: 150px; background-repeat: no-repeat; background-position: center;"></div>
        <div style="margin-bottom: 15px; width: 22%; border: 2px solid #eee; border-radius: 5px; margin-right: 1.5%;  float: left; background-image: url(images/img01.jpg); height: 150px; background-repeat: no-repeat; background-position: center;"></div>
        <div style="margin-bottom: 15px; width: 22%; border: 2px solid #eee; border-radius: 5px; margin-right: 1.5%;  float: left; background-image: url(images/img01.jpg); height: 150px; background-repeat: no-repeat; background-position: center;"></div>
        <div style="margin-bottom: 15px; width: 22%; border: 2px solid #eee; border-radius: 5px; margin-right: 1.5%;  float: left; background-image: url(images/img01.jpg); height: 150px; background-repeat: no-repeat; background-position: center;"></div>
        <div style="margin-bottom: 15px; width: 22%; border: 2px solid #eee; border-radius: 5px; margin-right: 1.5%;  float: left; background-image: url(images/img01.jpg); height: 150px; background-repeat: no-repeat; background-position: center;"></div>
        <div style="margin-bottom: 15px; width: 22%; border: 2px solid #eee; border-radius: 5px; margin-right: 1.5%;  float: left; background-image: url(images/img01.jpg); height: 150px; background-repeat: no-repeat; background-position: center;"></div>
        <div style="margin-bottom: 15px; width: 22%; border: 2px solid #eee; border-radius: 5px; margin-right: 1.5%;  float: left; background-image: url(images/img01.jpg); height: 150px; background-repeat: no-repeat; background-position: center;"></div>
        <div style="margin-bottom: 15px; width: 22%; border: 2px solid #eee; border-radius: 5px; margin-right: 1.5%;  float: left; background-image: url(images/img01.jpg); height: 150px; background-repeat: no-repeat; background-position: center;"></div>
        <div style="margin-bottom: 15px; width: 22%; border: 2px solid #eee; border-radius: 5px; margin-right: 1.5%;  float: left; background-image: url(images/img01.jpg); height: 150px; background-repeat: no-repeat; background-position: center;"></div>
        <div style="margin-bottom: 15px; width: 22%; border: 2px solid #eee; border-radius: 5px; margin-right: 1.5%;  float: left; background-image: url(images/img01.jpg); height: 150px; background-repeat: no-repeat; background-position: center;"></div>
        <div style="margin-bottom: 15px; width: 22%; border: 2px solid #eee; border-radius: 5px; margin-right: 1.5%;  float: left; background-image: url(images/dashboard.png); height: 150px; background-repeat: no-repeat; background-position: center;"></div>
        <div style="margin-bottom: 15px; width: 22%; border: 2px solid #eee; border-radius: 5px; margin-right: 1.5%;  float: left; background-image: url(images/appiontment.png); height: 150px; background-repeat: no-repeat; background-position: center;"></div>
        <div style="margin-bottom: 15px; width: 22%; border: 2px solid #eee; border-radius: 5px; margin-right: 1.5%;  float: left; background-image: url(images/img01.jpg); height: 150px; background-repeat: no-repeat; background-position: center;"></div>
        <div style="margin-bottom: 15px; width: 22%; border: 2px solid #eee; border-radius: 5px; margin-right: 1.5%;  float: left; background-image: url(images/dashboard.png); height: 150px; background-repeat: no-repeat; background-position: center;"></div>
        <div style="margin-bottom: 15px; width: 22%; border: 2px solid #eee; border-radius: 5px; margin-right: 1.5%;  float: left; background-image: url(images/appiontment.png); height: 150px; background-repeat: no-repeat; background-position: center;"></div>
        <div style="margin-bottom: 15px; width: 22%; border: 2px solid #eee; border-radius: 5px; margin-right: 1.5%;  float: left; background-image: url(images/appiontment.png); height: 150px; background-repeat: no-repeat; background-position: center;"></div>
        <div style="margin-bottom: 15px; width: 22%; border: 2px solid #eee; border-radius: 5px; margin-right: 1.5%;  float: left; background-image: url(images/appiontment.png); height: 150px; background-repeat: no-repeat; background-position: center;"></div>
        <div style="margin-bottom: 15px; width: 22%; border: 2px solid #eee; border-radius: 5px; margin-right: 1.5%;  float: left; background-image: url(images/appiontment.png); height: 150px; background-repeat: no-repeat; background-position: center;"></div>
        <div style="margin-bottom: 15px; width: 22%; border: 2px solid #eee; border-radius: 5px; margin-right: 1.5%;  float: left; background-image: url(images/appiontment.png); height: 150px; background-repeat: no-repeat; background-position: center;"></div>
        <div style="margin-bottom: 15px; width: 22%; border: 2px solid #eee; border-radius: 5px; margin-right: 1.5%;  float: left; background-image: url(images/appiontment.png); height: 150px; background-repeat: no-repeat; background-position: center;"></div>
        <div style="margin-bottom: 15px; width: 22%; border: 2px solid #eee; border-radius: 5px; margin-right: 1.5%;  float: left; background-image: url(images/appiontment.png); height: 150px; background-repeat: no-repeat; background-position: center;"></div>
        <div style="margin-bottom: 15px; width: 22%; border: 2px solid #eee; border-radius: 5px; margin-right: 1.5%;  float: left; background-image: url(images/appiontment.png); height: 150px; background-repeat: no-repeat; background-position: center;"></div>
        <div style="margin-bottom: 15px; width: 22%; border: 2px solid #eee; border-radius: 5px; margin-right: 1.5%;  float: left; background-image: url(images/appiontment.png); height: 150px; background-repeat: no-repeat; background-position: center;"></div>
        <div style="margin-bottom: 15px; width: 22%; border: 2px solid #eee; border-radius: 5px; margin-right: 1.5%;  float: left; background-image: url(images/appiontment.png); height: 150px; background-repeat: no-repeat; background-position: center;"></div>
        <div style="clear: both; display: block;"></div>
        <div style="height: 5px; background: #f3f5f7; margin: 0 0 15px;"></div>
        <h2 style="font-size: 22px; color: #002e59;font-family: 'Open Sans'; font-weight: 400; margin-bottom: 15px;">Treatment Plans</h2>
        <div style="margin: 0 0 15px;">
            <table style="width: 100%;">
                <tbody>
                    <tr>
                        <td style="padding: 10px 15px; text-align: left">Plan 1</td>
                        <td style="padding: 10px 15px; text-align: left">Open</td>
                    </tr>
                    <tr>
                        <td style="padding: 10px 15px; text-align: left">Plan 2</td>
                        <td style="padding: 10px 15px; text-align: left">Closed</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="height: 5px; background: #f3f5f7; margin: 0 0 15px;"></div>
        <h2 style="font-size: 22px; color: #002e59;font-family: 'Open Sans'; font-weight: 400; margin-bottom: 15px;">Patient Forms</h2>
        <h1 style="padding: 15px;font-size: 24px; color: #fff;font-family: 'Open Sans'; font-weight: 400; background: #002e59; margin: 0 0 15px;">Office Communication</h1>
        <div style="background: #f5f6fa; border-radius: 3px; font-size: 16px; padding: 6px 12px 7px; line-height: 30px; font-family: 'Open Sans'; color: #002e59; margin-bottom: 20px;">
            <p style="margin: 0;"><b>Disposition status changed to Left Message 1 by Dr. Brent Boyse Disposition status changed to Left Message 1 by Dr. Brent Boyse</b> <span class="time_date">4/13/2019 1:05 PM</span></p>
            <p style="margin: 0;">Note: The invasive procedure of pulling out a tooth to save the rest of your mouth from infection may already seem like a terrible thing to even think about, but as what healthcare professionals have already established, a dentist’s job is just as important as that of a neurosurgeon.</p>
        </div>
        <div style="background: #f5f6fa; border-radius: 3px; font-size: 16px; padding: 6px 12px 7px; line-height: 30px; font-family: 'Open Sans'; color: #002e59; margin-bottom: 20px;">
            <p style="margin: 0;"><b>Disposition status changed to Left Message 1 by Dr. Brent Boyse</b> <span class="time_date">4/13/2019 1:05 PM</span></p>
            <p style="margin: 0;">Note: The invasive procedure of pulling out a tooth to save the rest of your mouth from infection may already seem like a terrible thing to even think about, but as what healthcare professionals have already established, a dentist’s job is just as important as that of a neurosurgeon.</p>
        </div>
        <div style="background: #58b6ef; border-radius: 3px; font-size: 16px; padding: 6px 12px 7px; line-height: 30px; font-family: 'Open Sans'; color: #fff; margin-bottom: 20px;">
            <p style="margin: 0;">Lorem Ipsum has been the industry's Lorem Ipsum has been the industry's Lorem Ipsum has been the industry's Lorem Ipsum has been the industry's</p>
            <span class="time_date">11:01 AM | Today</span>
        </div>
        <div style="background: #f5f6fa; border-radius: 3px; font-size: 16px; padding: 6px 12px 7px; line-height: 30px; font-family: 'Open Sans'; color: #002e59; margin-bottom: 20px;">
            <p style="margin: 0;"><b>Disposition status changed to Left Message 1 by Dr. Brent Boyse Disposition status changed to Left Message 1 by Dr. Brent Boyse</b> <span class="time_date">4/13/2019 1:05 PM</span></p>
            <p style="margin: 0;">Note: The invasive procedure of pulling out a tooth to save the rest of your mouth from infection may already seem like a terrible thing to even think about, but as what healthcare professionals have already established, a dentist’s job is just as important as that of a neurosurgeon.</p>
        </div>
        <div style="background: #f5f6fa; border-radius: 3px; font-size: 16px; padding: 6px 12px 7px; line-height: 30px; font-family: 'Open Sans'; color: #002e59; margin-bottom: 20px;">
            <p style="margin: 0;"><b>Disposition status changed to Left Message 1 by Dr. Brent Boyse</b> <span class="time_date">4/13/2019 1:05 PM</span></p>
            <p style="margin: 0;">Note: The invasive procedure of pulling out a tooth to save the rest of your mouth from infection may already seem like a terrible thing to even think about, but as what healthcare professionals have already established, a dentist’s job is just as important as that of a neurosurgeon.</p>
        </div>
        <div style="background: #58b6ef; border-radius: 3px; font-size: 16px; padding: 6px 12px 7px; line-height: 30px; font-family: 'Open Sans'; color: #fff; margin-bottom: 20px;">
            <p style="margin: 0;">Lorem Ipsum has been the industry's Lorem Ipsum has been the industry's Lorem Ipsum has been the industry's Lorem Ipsum has been the industry's</p>
            <span class="time_date">11:01 AM | Today</span>
        </div>


        <div style="background: #f5f6fa; border-radius: 3px; font-size: 16px; padding: 6px 12px 7px; line-height: 30px; font-family: 'Open Sans'; color: #002e59; margin-bottom: 20px;">
            <p style="margin: 0;"><b>Disposition status changed to Left Message 1 by Dr. Brent Boyse Disposition status changed to Left Message 1 by Dr. Brent Boyse</b> <span class="time_date">4/13/2019 1:05 PM</span></p>
            <p style="margin: 0;">Note: The invasive procedure of pulling out a tooth to save the rest of your mouth from infection may already seem like a terrible thing to even think about, but as what healthcare professionals have already established, a dentist’s job is just as important as that of a neurosurgeon.</p>
        </div>
        <div style="background: #f5f6fa; border-radius: 3px; font-size: 16px; padding: 6px 12px 7px; line-height: 30px; font-family: 'Open Sans'; color: #002e59; margin-bottom: 20px;">
            <p style="margin: 0;"><b>Disposition status changed to Left Message 1 by Dr. Brent Boyse</b> <span class="time_date">4/13/2019 1:05 PM</span></p>
            <p style="margin: 0;">Note: The invasive procedure of pulling out a tooth to save the rest of your mouth from infection may already seem like a terrible thing to even think about, but as what healthcare professionals have already established, a dentist’s job is just as important as that of a neurosurgeon.</p>
        </div>
        <div style="background: #58b6ef; border-radius: 3px; font-size: 16px; padding: 6px 12px 7px; line-height: 30px; font-family: 'Open Sans'; color: #fff; margin-bottom: 20px;">
            <p style="margin: 0;">Lorem Ipsum has been the industry's Lorem Ipsum has been the industry's Lorem Ipsum has been the industry's Lorem Ipsum has been the industry's</p>
            <span class="time_date">11:01 AM | Today</span>
        </div>
        <div style="background: #f5f6fa; border-radius: 3px; font-size: 16px; padding: 6px 12px 7px; line-height: 30px; font-family: 'Open Sans'; color: #002e59; margin-bottom: 20px;">
            <p style="margin: 0;"><b>Disposition status changed to Left Message 1 by Dr. Brent Boyse Disposition status changed to Left Message 1 by Dr. Brent Boyse</b> <span class="time_date">4/13/2019 1:05 PM</span></p>
            <p style="margin: 0;">Note: The invasive procedure of pulling out a tooth to save the rest of your mouth from infection may already seem like a terrible thing to even think about, but as what healthcare professionals have already established, a dentist’s job is just as important as that of a neurosurgeon.</p>
        </div>
        <div style="background: #f5f6fa; border-radius: 3px; font-size: 16px; padding: 6px 12px 7px; line-height: 30px; font-family: 'Open Sans'; color: #002e59; margin-bottom: 20px;">
            <p style="margin: 0;"><b>Disposition status changed to Left Message 1 by Dr. Brent Boyse</b> <span class="time_date">4/13/2019 1:05 PM</span></p>
            <p style="margin: 0;">Note: The invasive procedure of pulling out a tooth to save the rest of your mouth from infection may already seem like a terrible thing to even think about, but as what healthcare professionals have already established, a dentist’s job is just as important as that of a neurosurgeon.</p>
        </div>
        <div style="background: #58b6ef; border-radius: 3px; font-size: 16px; padding: 6px 12px 7px; line-height: 30px; font-family: 'Open Sans'; color: #fff; margin-bottom: 20px;">
            <p style="margin: 0;">Lorem Ipsum has been the industry's Lorem Ipsum has been the industry's Lorem Ipsum has been the industry's Lorem Ipsum has been the industry's</p>
            <span class="time_date">11:01 AM | Today</span>
        </div>
        <h1 style="padding: 15px;font-size: 24px; color: #fff;font-family: 'Open Sans'; font-weight: 400; background: #002e59; margin: 0 0 15px;">Attachments</h1>
        <div style="width: 15%; border: 2px solid #eee; border-radius: 5px; margin-right: 1%;  float: left; background-image: url(images/img01.jpg); height: 150px; background-repeat: no-repeat; background-position: center;"></div>
        <div style="width: 15%; border: 2px solid #eee; border-radius: 5px; margin-right: 1%;  float: left; background-image: url(images/dashboard.png); height: 150px; background-repeat: no-repeat; background-position: center;"></div>
        <div style="width: 15%; border: 2px solid #eee; border-radius: 5px; margin-right: 1%;  float: left; background-image: url(images/appiontment.png); height: 150px; background-repeat: no-repeat; background-position: center;"></div>
        <div style="width: 15%; border: 2px solid #eee; border-radius: 5px; margin-right: 1%;  float: left; background-image: url(images/appiontment.png); height: 150px; background-repeat: no-repeat; background-position: center;"></div>
        <div style="width: 15%; border: 2px solid #eee; border-radius: 5px; margin-right: 1%;  float: left; background-image: url(images/appiontment.png); height: 150px; background-repeat: no-repeat; background-position: center;"></div>
        <div style="width: 15%; border: 2px solid #eee; border-radius: 5px; margin-right: 1%;  float: left; background-image: url(images/appiontment.png); height: 150px; background-repeat: no-repeat; background-position: center;"></div>
        <div style="width: 15%; border: 2px solid #eee; border-radius: 5px; margin-right: 1%;  float: left; background-image: url(images/appiontment.png); height: 150px; background-repeat: no-repeat; background-position: center;"></div>
        <div style="width: 15%; border: 2px solid #eee; border-radius: 5px; margin-right: 1%;  float: left; background-image: url(images/appiontment.png); height: 150px; background-repeat: no-repeat; background-position: center;"></div>
        <div style="width: 15%; border: 2px solid #eee; border-radius: 5px; margin-right: 1%;  float: left; background-image: url(images/appiontment.png); height: 150px; background-repeat: no-repeat; background-position: center;"></div>
        <div style="width: 15%; border: 2px solid #eee; border-radius: 5px; margin-right: 1%;  float: left; background-image: url(images/appiontment.png); height: 150px; background-repeat: no-repeat; background-position: center;"></div>
        <div style="width: 15%; border: 2px solid #eee; border-radius: 5px; margin-right: 1%;  float: left; background-image: url(images/appiontment.png); height: 150px; background-repeat: no-repeat; background-position: center;"></div>
        <div style="width: 15%; border: 2px solid #eee; border-radius: 5px; margin-right: 1%;  float: left; background-image: url(images/appiontment.png); height: 150px; background-repeat: no-repeat; background-position: center;"></div>
        <div style="width: 15%; border: 2px solid #eee; border-radius: 5px; margin-right: 1%;  float: left; background-image: url(images/appiontment.png); height: 150px; background-repeat: no-repeat; background-position: center;"></div>
        <div style="width: 15%; border: 2px solid #eee; border-radius: 5px; margin-right: 1%;  float: left; background-image: url(images/appiontment.png); height: 150px; background-repeat: no-repeat; background-position: center;"></div>
        <div style="width: 15%; border: 2px solid #eee; border-radius: 5px; margin-right: 1%;  float: left; background-image: url(images/appiontment.png); height: 150px; background-repeat: no-repeat; background-position: center;"></div>
        <div style="width: 15%; border: 2px solid #eee; border-radius: 5px; margin-right: 1%;  float: left; background-image: url(images/appiontment.png); height: 150px; background-repeat: no-repeat; background-position: center;"></div>
        <div style="width: 15%; border: 2px solid #eee; border-radius: 5px; margin-right: 1%;  float: left; background-image: url(images/appiontment.png); height: 150px; background-repeat: no-repeat; background-position: center;"></div>
        <div style="width: 15%; border: 2px solid #eee; border-radius: 5px; margin-right: 1%;  float: left; background-image: url(images/appiontment.png); height: 150px; background-repeat: no-repeat; background-position: center;"></div>
        <div style="width: 15%; border: 2px solid #eee; border-radius: 5px; margin-right: 1%;  float: left; background-image: url(images/appiontment.png); height: 150px; background-repeat: no-repeat; background-position: center;"></div>
        <div style="width: 15%; border: 2px solid #eee; border-radius: 5px; margin-right: 1%;  float: left; background-image: url(images/appiontment.png); height: 150px; background-repeat: no-repeat; background-position: center;"></div>
        <div style="width: 15%; border: 2px solid #eee; border-radius: 5px; margin-right: 1%;  float: left; background-image: url(images/appiontment.png); height: 150px; background-repeat: no-repeat; background-position: center;"></div>
        <div style="width: 15%; border: 2px solid #eee; border-radius: 5px; margin-right: 1%;  float: left; background-image: url(images/appiontment.png); height: 150px; background-repeat: no-repeat; background-position: center;"></div>
        <div style="width: 15%; border: 2px solid #eee; border-radius: 5px; margin-right: 1%;  float: left; background-image: url(images/appiontment.png); height: 150px; background-repeat: no-repeat; background-position: center;"></div>
        <div style="width: 15%; border: 2px solid #eee; border-radius: 5px; margin-right: 1%;  float: left; background-image: url(images/appiontment.png); height: 150px; background-repeat: no-repeat; background-position: center;"></div>
        <div style="width: 15%; border: 2px solid #eee; border-radius: 5px; margin-right: 1%;  float: left; background-image: url(images/appiontment.png); height: 150px; background-repeat: no-repeat; background-position: center;"></div>
        <div style="width: 15%; border: 2px solid #eee; border-radius: 5px; margin-right: 1%;  float: left; background-image: url(images/appiontment.png); height: 150px; background-repeat: no-repeat; background-position: center;"></div>
        <div style="width: 15%; border: 2px solid #eee; border-radius: 5px; margin-right: 1%;  float: left; background-image: url(images/appiontment.png); height: 150px; background-repeat: no-repeat; background-position: center;"></div>
        <div style="width: 15%; border: 2px solid #eee; border-radius: 5px; margin-right: 1%;  float: left; background-image: url(images/appiontment.png); height: 150px; background-repeat: no-repeat; background-position: center;"></div>
        <div style="width: 15%; border: 2px solid #eee; border-radius: 5px; margin-right: 1%;  float: left; background-image: url(images/appiontment.png); height: 150px; background-repeat: no-repeat; background-position: center;"></div>
        <div style="width: 15%; border: 2px solid #eee; border-radius: 5px; margin-right: 1%;  float: left; background-image: url(images/appiontment.png); height: 150px; background-repeat: no-repeat; background-position: center;"></div>
        <div style="width: 15%; border: 2px solid #eee; border-radius: 5px; margin-right: 1%;  float: left; background-image: url(images/appiontment.png); height: 150px; background-repeat: no-repeat; background-position: center;"></div>
        <div style="width: 15%; border: 2px solid #eee; border-radius: 5px; margin-right: 1%;  float: left; background-image: url(images/appiontment.png); height: 150px; background-repeat: no-repeat; background-position: center;"></div>
        <div style="width: 15%; border: 2px solid #eee; border-radius: 5px; margin-right: 1%;  float: left; background-image: url(images/appiontment.png); height: 150px; background-repeat: no-repeat; background-position: center;"></div>
        <div style="width: 15%; border: 2px solid #eee; border-radius: 5px; margin-right: 1%;  float: left; background-image: url(images/appiontment.png); height: 150px; background-repeat: no-repeat; background-position: center;"></div>
        <div style="width: 15%; border: 2px solid #eee; border-radius: 5px; margin-right: 1%;  float: left; background-image: url(images/appiontment.png); height: 150px; background-repeat: no-repeat; background-position: center;"></div>
        <div style="width: 15%; border: 2px solid #eee; border-radius: 5px; margin-right: 1%;  float: left; background-image: url(images/appiontment.png); height: 150px; background-repeat: no-repeat; background-position: center;"></div>
        <div style="width: 15%; border: 2px solid #eee; border-radius: 5px; margin-right: 1%;  float: left; background-image: url(images/appiontment.png); height: 150px; background-repeat: no-repeat; background-position: center;"></div>
        <div style="width: 15%; border: 2px solid #eee; border-radius: 5px; margin-right: 1%;  float: left; background-image: url(images/appiontment.png); height: 150px; background-repeat: no-repeat; background-position: center;"></div>
        <div style="width: 15%; border: 2px solid #eee; border-radius: 5px; margin-right: 1%;  float: left; background-image: url(images/appiontment.png); height: 150px; background-repeat: no-repeat; background-position: center;"></div>
        <div style="width: 15%; border: 2px solid #eee; border-radius: 5px; margin-right: 1%;  float: left; background-image: url(images/appiontment.png); height: 150px; background-repeat: no-repeat; background-position: center;"></div>
        <div style="clear: both; display: block;"></div>
        <div style="clear: both; display: block;"></div>
        <h1 style="padding: 15px;font-size: 24px; color: #fff;font-family: 'Open Sans'; font-weight: 400; background: #002e59; margin: 0 0 15px;">Text Messenger</h1>
        <div style="background: #f5f6fa; border-radius: 3px; font-size: 16px; padding: 6px 12px 7px; line-height: 30px; font-family: 'Open Sans'; color: #002e59; margin-bottom: 20px;">
            <p style="margin: 0;">Lorem Ipsum has been the industry's Lorem Ipsum has been the industry's Lorem Ipsum has been the industry's Lorem Ipsum has been the industry's Lorem Ipsum has been the industry's</p>
        </div>
        <div style="background: #f5f6fa; border-radius: 3px; font-size: 16px; padding: 6px 12px 7px; line-height: 30px; font-family: 'Open Sans'; color: #002e59; margin-bottom: 20px;">
            <p style="margin: 0;">Lorem Ipsum has been the industry's Lorem Ipsum has been the industry's Lorem Ipsum has been the industry's Lorem Ipsum has been the industry's Lorem Ipsum has been the industry's</p>
        </div>
        <div style="background: #f5f6fa; border-radius: 3px; font-size: 16px; padding: 6px 12px 7px; line-height: 30px; font-family: 'Open Sans'; color: #002e59; margin-bottom: 20px;">
            <p style="margin: 0;">Lorem Ipsum has been the industry's Lorem Ipsum has been the industry's Lorem Ipsum has been the industry's Lorem Ipsum has been the industry's Lorem Ipsum has been the industry's</p>
        </div>
        <div style="background: #f5f6fa; border-radius: 3px; font-size: 16px; padding: 6px 12px 7px; line-height: 30px; font-family: 'Open Sans'; color: #002e59; margin-bottom: 20px;">
            <p style="margin: 0;">Lorem Ipsum has been the industry's Lorem Ipsum has been the industry's Lorem Ipsum has been the industry's Lorem Ipsum has been the industry's Lorem Ipsum has been the industry's</p>
        </div>
        <div style="background: #f5f6fa; border-radius: 3px; font-size: 16px; padding: 6px 12px 7px; line-height: 30px; font-family: 'Open Sans'; color: #002e59; margin-bottom: 20px;">
            <p style="margin: 0;">Lorem Ipsum has been the industry's Lorem Ipsum has been the industry's Lorem Ipsum has been the industry's Lorem Ipsum has been the industry's Lorem Ipsum has been the industry's</p>
        </div>
        <div style="background: #f5f6fa; border-radius: 3px; font-size: 16px; padding: 6px 12px 7px; line-height: 30px; font-family: 'Open Sans'; color: #002e59; margin-bottom: 20px;">
            <p style="margin: 0;">Lorem Ipsum has been the industry's Lorem Ipsum has been the industry's Lorem Ipsum has been the industry's Lorem Ipsum has been the industry's Lorem Ipsum has been the industry's</p>
        </div>
        <div style="background: #f5f6fa; border-radius: 3px; font-size: 16px; padding: 6px 12px 7px; line-height: 30px; font-family: 'Open Sans'; color: #002e59; margin-bottom: 20px;">
            <p style="margin: 0;">Lorem Ipsum has been the industry's Lorem Ipsum has been the industry's Lorem Ipsum has been the industry's Lorem Ipsum has been the industry's Lorem Ipsum has been the industry's</p>
        </div>
        <div style="background: #f5f6fa; border-radius: 3px; font-size: 16px; padding: 6px 12px 7px; line-height: 30px; font-family: 'Open Sans'; color: #002e59; margin-bottom: 20px;">
            <p style="margin: 0;">Lorem Ipsum has been the industry's Lorem Ipsum has been the industry's Lorem Ipsum has been the industry's Lorem Ipsum has been the industry's Lorem Ipsum has been the industry's</p>
        </div>
        <div style="background: #58b6ef; border-radius: 3px; font-size: 16px; padding: 6px 12px 7px; line-height: 30px; font-family: 'Open Sans'; color: #fff; margin-bottom: 20px;">
            <p style="margin: 0;">Lorem Ipsum has been the industry's Lorem Ipsum has been the industry's Lorem Ipsum has been the industry's Lorem Ipsum has been the industry's</p>
        </div>
    </div>
</body>
</html>