﻿@model OneClickReferral.Models.ConversationView
@{
    ViewBag.Title = "Conversations";
    ReferralMessageDetails referralMessage = new ReferralMessageDetails();
    referralMessage = Model.referralMessage.ReferralMessageList.FirstOrDefault();
    List<OneClickReferralDetail> oneClickReferrals = new List<OneClickReferralDetail>();
    string boxApi = System.Configuration.ConfigurationManager.AppSettings["boxAPI"];
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    //string userImage = "/Images/Profile_No_Image_Male.png";
    //string patientImage = "/Images/Profile_No_Image_Male.png";
    bool IsAccountActive = ViewBag.IsAccountActive;
    bool IsAvailable = ViewBag.IsAvailable;
    const int COMMENTMAXLENGTH = 100;
}
<link href="~/Content/Dashboard/css/perfect-scrollbar.css" rel="stylesheet" />
<style>
    .received_withd_msg.two.abc {
        border-bottom-right-radius: 1.3em;
        border-top-right-radius: 1.3em;
        border-bottom-left-radius: 1.3em;
        border-top-left-radius: 1.3em;
    }

    .displaydate {
        font-size: 12px;
        font-weight: bold;
    }

    .morecomment {
        cursor: pointer;
        color:#0087c0 !important;
    }
    .commentText {
        word-break:break-word;
    }
</style>
@if (referralMessage != null)
{
    <input type="hidden" id="referralMessageId" value="@referralMessage.MessageId" />
    <div class="container">
        <div class="new-case case-overview patinet patient_form rl-profile1 security messaging">
            <div class="row mrgn-btm-20">
                <div class="col-lg-12">
                    <div id="wizard" class="inbox_msg">
                        <div class="wizard-inner">
                            @if (referralMessage.IsSent)
                            {
                                <h1 class="head">Referral To</h1>
                            }
                            else
                            {
                                <h1 class="head">Referral By</h1>
                            }
                            <div class="user_profile">
                                <div class="portfoilo mrgn-btm-20">
                                    @if (referralMessage.IsSent)
                                    {
                                        //if (System.IO.File.Exists(@referralMessage.ReceiverImage)) { userImage = referralMessage.ReceiverImage; }
                                        <img src="@referralMessage.ReceiverImage" alt="@referralMessage.ReceiverName" width="50" height="50">
                                        <a href="/Profile/ViewProfile?id=@referralMessage.ReceiverID">@referralMessage.ReceiverName</a>
                                        <input type="hidden" id="hdncolleaeugeId" name="hdncolleaeugeId" value="@referralMessage.ReceiverID" />
                                    }
                                    else
                                    {
                                        //if (System.IO.File.Exists(@referralMessage.SenderImage)) { userImage = referralMessage.SenderImage; }
                                        <img src="@referralMessage.SenderImage" alt="@referralMessage.SenderName" width="50" height="50">
                                        <a href="/Profile/ViewProfile?id=@referralMessage.SenderId">@referralMessage.SenderName</a>
                                        <input type="hidden" id="hdncolleaeugeId" name="hdncolleaeugeId" value="@referralMessage.SenderId" />
                                    }

                                    <input type="hidden" id="hdnloginuserid" name="hdnloginuserid" value="@SessionManagement.UserId" />
                                </div>
                                <div class="clear">
                                    @if (referralMessage.IsSent)
                                    {
                                        <div class="col-lg-12">
                                            <label>Referred by:<span>@referralMessage.SenderName</span></label>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-lg-12">
                                            <label>Referred to:<span>@referralMessage.ReceiverName</span></label>
                                        </div>
                                    }
                                </div>
                                <div class="clear">
                                    <div class="col-lg-12">
                                        <label>Referral sent date:<span>@referralMessage.CreationDate</span></label>
                                    </div>
                                </div>
                                <div class="clear">
                                    <div class="col-lg-12">
                                        <label>Location:<span>@referralMessage.Location</span></label>
                                    </div>
                                </div>
                                @*XQ1-1047 Travis change request into the Conversation view*@
                                @if (Model.referralMessage.ReferralCategory != null && Model.referralMessage.ReferralCategory.Count > 0)
                                {
                                    int count = 0;
                                    var categoryList = Model.referralMessage.ReferralCategory.Where(x => x.CategoryId == Model.referralMessage.ReferralCategory.FirstOrDefault().CategoryId);
                                    foreach (var item in categoryList)
                                    {
                                        count++;
                                        <div class="clear">
                                            <div class="col-lg-12">
                                                <label>@item.CategoryName:<span>@item.SubCategoryName (@item.SubCategoryValue)</span></label>
                                            </div>
                                        </div>
                                        if (count == 2)
                                        {
                                            break;
                                        }
                                        <br />
                                    }
                                    <a href="javascript:;" data-toggle="modal" onclick="OpenPopupCategory('@referralMessage.ReferralCardId');" title="Procedures">see more...</a>
                                }
                                @if (!string.IsNullOrWhiteSpace(referralMessage.Comments))
                                {
                                    <div class="clear">
                                        <div class="col-lg-12">
                                            @if (referralMessage.Comments.Length > COMMENTMAXLENGTH)
                                            {
                                                <label>
                                                    Comments:<span id="commentText" class="commentText">@referralMessage.Comments.Substring(0, COMMENTMAXLENGTH)</span>
                                                    <a data-toggle="modal" class="morecomment" data-target="#referralComment">..more</a>
                                                </label>
                                            }
                                            else
                                            {
                                                <label class="commentText">Comments:<span>@Html.Raw(referralMessage.Comments.Replace("\r\n", "<br>").Replace("\n", "<br>"))</span></label>
                                            }

                                        </div>
                                    </div>
                                }


                                @*@if (!string.IsNullOrWhiteSpace(referralMessage.Comments))
                                    {
                                        //@referralMessage.Comments = @referralMessage.Comments.replace(/ (?:\r\n |\r |\n) / g, '<br>');
                                        <div class="clear">
                                            <div class="col-lg-12">
                                                <label>Comments:<span>@Html.Raw(referralMessage.Comments.Replace("\r\n", "<br>"))</span></label>
                                            </div>
                                        </div>
                                    }*@
                                @*@if (string.IsNullOrWhiteSpace(referralMessage.RegardOption))
                                    {
                                        <div class="clear">
                                            <div class="col-lg-12">
                                                <p>To see procedures <a href="javascript:;" data-toggle="modal" onclick="OpenPopupCategory('@referralMessage.ReferralCardId');" title="Procedures">click here</a></p>
                                            </div>
                                        </div>
                                    }*@
                                <div class="clear"></div>
                                <hr />
                                <div class="attachments">
                                    <a href="javascript:;">Attachments <i class="fa fa-angle-left"></i> <i class="fa fa-angle-down"></i></a>
                                </div>
                                <input type="hidden" name="FolderId" id="FolderId" value="@referralMessage.BoxFolderId" />
                                <input type="hidden" name="RecordId" id="RecordId" value="@referralMessage.MessageId" />
                                <input type="hidden" name="PatientId" id="PatientId" value="@referralMessage.PatientId" />
                                <div class="shared_photo" id="shared_photo">
                                    @Html.Action("GetAttachments", new { FolderId = referralMessage.BoxFolderId })
                                </div>
                                <div id="uploadingFile"></div>
                                <hr />
                            </div>
                        </div>
                        <div id="conversationviewbody">
                            @*@Html.Partial("_OfficeCommunication", Model)*@
                        </div>
                        <div class="user_profile">
                            <h1>Patient Info</h1>
                            <div class="portfoilo mrgn-btm-20">
                                @{
                                    string appendText = string.Empty;

                                    string Gender = (referralMessage.Gender == "Male") ? "M" : "F";
                                    if (!string.IsNullOrWhiteSpace(referralMessage.DateOfBirth))
                                    {
                                        appendText = "(" + Gender + " " + referralMessage.DateOfBirth + ")";
                                    }
                                    else
                                    {
                                        appendText = "(" + Gender + ")";
                                    }
                                    //if (System.IO.File.Exists(@referralMessage.ProfileImage)) { patientImage = referralMessage.ProfileImage; }

                                }
                                <img src="@referralMessage.ProfileImage" alt="@referralMessage.FullName" width="50" height="50">
                                <a href="/Patients/PatientHistory?PatientId=@referralMessage.PatientId">@referralMessage.FullName</a> @appendText
                                <input type="hidden" id="hdnPatientId" name="hdnPatientId" value="@referralMessage.PatientId" />
                            </div>
                            @if (!string.IsNullOrWhiteSpace(referralMessage.EmailAddress) && !referralMessage.EmailAddress.Contains("@domain.com"))
                            {
                                <div class="clear">
                                    <div class="col-lg-12">
                                        <label>Email:<span>@referralMessage.EmailAddress</span></label>
                                    </div>
                                </div>
                            }
                            @*else
                                {
                                    <div class="clear">
                                        <div class="col-lg-12">
                                            <label>Email:<span>-</span></label>
                                        </div>
                                    </div>
                                }*@
                            @if (!string.IsNullOrWhiteSpace(referralMessage.Phone))
                            {
                                <div class="clear">
                                    <div class="col-lg-12">
                                        @{string umphone = referralMessage.Phone.Replace(")", "").Replace("(", "").Replace("-", "").Replace("+", "").Replace(" ", "");
                                        }
                                        <label>Phone:<a href="tel:@umphone" id="atagpatientphone" data-patientid="@umphone"><span>@referralMessage.Phone</span></a></label>
                                    </div>
                                </div>
                                            }
                                            @*else
                                                {
                                                    <div class="clear">
                                                        <div class="col-lg-12">
                                                            <label>Phone:<a href="#"><span>-</span></a></label>
                                                        </div>
                                                    </div>
                                                }*@
                                            @if (!string.IsNullOrWhiteSpace(referralMessage.AssignedPatientId))
                                            {
                                                <div class="clear">
                                                    <div class="col-lg-12">
                                                        <label><a href="javascript:void(0);">Patient ID:<span>@referralMessage.AssignedPatientId</span></a></label>
                                                    </div>
                                                </div>
                                            }
                                            @*else
                                                {
                                                    <div class="clear">
                                                        <div class="col-lg-12">
                                                            <label><a href="javascript:void(0);">Patient ID:<span>-</span></a></label>
                                                        </div>
                                                    </div>
                                                }*@
                                            <div class="clear">
                                                <div class="col-lg-12">
                                                    <label>Patient Form:<a href="/Patients/PatientHistory?PatientId=@referralMessage.PatientId&PatientForm=true">&nbsp;@referralMessage.PatientLastModifiedDate</a></label>
                                                </div>
                                            </div>
                                            @if (referralMessage.InsuranceVerified != null && referralMessage.InsuranceVerified != DateTime.MinValue)
                                            {
                                                <div class="clear">
                                                    <div class="col-lg-12">
                                                        <label><a href="javascript:void(0);">Insurance Verified:<span> @referralMessage.InsuranceVerified</span></a></label>
                                                    </div>
                                                </div>
                                            }
                                            @*else
                                                {
                                                    <div class="clear">
                                                        <div class="col-lg-12">
                                                            <label><a href="javascript:void(0);">Insurance Verified:<span>-</span></a></label>
                                                        </div>
                                                    </div>
                                                }*@
                                            <div class="clear"></div>
                                            <hr />
                                            @if (IsAccountActive)
                                            {
                                                <div class="messenger">
                                                    <h4 class="text">Text Messenger</h4>
                                                    <a href="#" data-toggle="modal" onclick="ClassWrapping('popup');" data-target="#myzipwhipModal" title="Text Messenger"><i class="fa fa-expand text-right"></i></a>
                                                </div>
                                                <div class="test-table" id="zipwhip-body-message">
                                                    <div class="available_msg zipwhip_msg">
                                                        @if (Model.smsHistory != null && Model.smsHistory.Count() > 0)
                                                        {
                                                            foreach (var item in Model.smsHistory)
                                                            {
                                                                if (item.MessageType == (int)OneClickReferral.Helpers.SMSHistoryMessageType.Send)
                                                                {
                                                                    <div class="outgoing_msg">
                                                                        <div class="sent_msg">
                                                                            <p class="one displaydate">@item.DateCreated</p>
                                                                            <p class="one">@Html.Raw(HttpUtility.UrlDecode(item.MessageBody).Replace("\n", "<br>"))</p>
                                                                        </div>
                                                                    </div>
                                                                }
                                                                else
                                                                {
                                                                    <div class="incoming_msg">
                                                                        <div class="received_msg">
                                                                            <div class="received_withd_msg">
                                                                                <p class="one displaydate">@item.DateCreated</p>
                                                                                <p class="one">@Html.Raw(HttpUtility.UrlDecode(item.MessageBody).Replace("\n", "<br>"))</p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                }
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <div class="col-sm-12 zipwhipnomessagecount" style="text-align:center !important"><span>No text message found!</span></div>
                                                        }
                                                    </div>
                                                </div>
                                                <div class="enter_msg">
                                                    <div class="input_msg_write">
                                                        <div id="contents">
                                                            <div id="chat">
                                                                <div id="message"></div>
                                                                <div id="ta-frame">
                                                                    <textarea id="bodysendmsg" class="zipwhipsendmsg" rows='1' maxlength="160" placeholder="Enter text message"></textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="btns">
                                                            @*<a href="#" title="Attachment"><i class="fa fa-paperclip" aria-hidden="true"></i></a>*@
                                                            <a href="javascript:;" onclick="SendZipwhipMessage()" title="Send"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                if (!IsAvailable)
                                                {
                                                    <div class="messenger"> <p style="color:red;">You have to setup a Zipwhip account to send text messages to patient. <a href="/Zipwhip/ZipwhipConfig"> CLICK HERE </a> to setup your account.</p></div>
                                                }
                                                else
                                                {
                                                    @*<div class="messenger"> <p style="color:green;"> Your zipwhip account is not activated yet. Usually activated in 30 min by Zipwhip </p></div>*@
                                                    <div class="messenger"> <p style="color:green;word-break:break-word;"> Your secure text account is being activated. Activation usually takes 30 minutes. </p></div>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                                            }
<div class="modal" id="myAttachmentsModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Attachments</h4>
                <button type="button" class="close" onclick="removeAttachments();" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="clear">
                    <div class="col-lg-12">
                        <input type="file" name="pic" id="files" accept="image/*">
                        <div id="uploadingFile"></div>
                    </div>
                </div>
                <div class="clear">
                    <div class="col-lg-12">
                        &nbsp;
                    </div>
                </div>
                <div class="clear">
                    <div class="col-lg-12">
                        <center><input class="btn" type="submit" onclick="uploadFiles('files');" value="Submit"></center>
                    </div>
                </div>
                <div class="clear">
                    <div class="col-lg-12">
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="myzipwhipModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Text Messenger</h4>
                <button type="button" onclick="ClassWrapping('body')" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="test-table" id="zipwhip-popup-message">
                    <div class="available_msg zipwhip_msg">
                        @if (Model.smsHistory != null && Model.smsHistory.Count() > 0)
                        {
                            foreach (var item in Model.smsHistory)
                            {
                                if (item.MessageType == (int)OneClickReferral.Helpers.SMSHistoryMessageType.Send)
                                {
                                    <div class="outgoing_msg">
                                        <div class="sent_msg">
                                            <p class="one displaydate">@item.DateCreated</p>
                                            <p class="one">@Html.Raw(HttpUtility.UrlDecode(item.MessageBody).Replace("\n", "<br>"))</p>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="incoming_msg">
                                        <div class="received_msg">
                                            <div class="received_withd_msg">
                                                <p class="one displaydate">@item.DateCreated</p>
                                                <p class="one">@Html.Raw(HttpUtility.UrlDecode(item.MessageBody).Replace("\n", "<br>"))</p>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        }
                        else
                        {
                            <div class="col-sm-12 zipwhipnomessagecount" style="text-align:center !important"><span>No text message found!</span></div>
                        }
                    </div>
                </div>
                <div class="type_msg">
                    <div class="input_msg_write">
                        <div id="contents">
                            <div id="chat">
                                <div id="message"></div>
                                <div id="ta-frame">
                                    <textarea id="popupsendmsg" class="" rows='1' maxlength="160" placeholder="Enter text message"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="btns">
                            @*<a href="#" title="Attachment"><i class="fa fa-paperclip" aria-hidden="true"></i></a>*@
                            <a href="#" onclick="SendZipwhipMessage()" title="Send"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="msgProcedures" style="overflow-y:scroll !important;">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Procedures</h4>
                <button type="button" onclick="ClassWrapping('body')" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body compose-message" id="msgbody" style="overflow:auto;">
            </div>
        </div>
    </div>
</div>
<div class="modal" id="referralComment">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Comment</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body compose-message">
                @if (referralMessage != null)
                {
                    <p>@Html.Raw(referralMessage.Comments.Replace("\r\n", "<br>"))</p>
                }
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div id="documentsContainer"><img style="height:200px; width:200px;" src="~/Content/images/loading.gif" /></div>
    </div>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
<script src="~/Content/Dashboard/js/perfect-scrollbar.js"></script>
<script>
    new PerfectScrollbar('#shared_photo');

    $(document).ready(function () {
        //For reload communication window
        ReloadCommunicationWindow();
        //For sey bottom scroll in zipwhip chat window.
        ZipwhipScrollBottom();
        //For Show Attachments in left Side
        $(".attachments a").trigger('click');



    });
    //$('textarea').css('max-height', '100px');
    $(document).on('keydown', 'textarea', function () {
        $(this).css('height', '0');
        var height = Math.min(20 * 5, document.querySelector('#' + $(this).attr('id')).scrollHeight);
        $(this).parents('.type_msg').css('height', (height));
        $(this).css('height', height);
    })
    //var div = document.querySelector('.type_msg');
    //var ta = document.querySelector('textarea');
    //ta.addEventListener('keydown', autosize);
    //function autosize() {
    //    alert(1);
    //    setTimeout(function () {
    //        ta.style.cssText = 'height:0px';
    //        var height = Math.min(20 * 5, ta.scrollHeight);
    //        div.style.cssText = 'height:' + height + 'px';
    //        ta.style.cssText = 'height:' + height + 'px';
    //    }, 0);
    //}


    function OpenPopupCategory(CategoryId) {
        $("#msgProcedures").modal('show');
        performAjax({
            url: "/Dashboard/GetReferralCategory?ReferralCardId=" + CategoryId,
            type: "GET",
            success: function (data) {
                $("#msgbody").html(data);
            }
        });
    }


    function removeAttachments() {
        $("#files").val('');
    }


    function uploadFiles(inputId) {
        $("#shared_photo").html("");        
        //$("#documentsContainer").html("<img style='height:100px;'  src='/Content/images/uploading.gif' />")
        var input = document.getElementById(inputId);
        var files = input.files;
        var formData = new FormData();
        var invalidFileType = false;
        var invalidTypes = [".exe", ".bin", ".dll", ".msi", ".sql", ".js"];
        if (files.length == 0) {
            $.toaster({ priority: 'danger', title: 'Failed', message: 'Please select file.' });
            return false;
        }

        for (var i = 0; i !== files.length; i++) {
            invalidFileType = invalidTypes.some(function (invalidType) {
                return (files[i].name.indexOf(invalidType) >= 0);
            });
            formData.append("files", files[i]);
        }
        if (invalidFileType) {
            alert("invalid file type");
            $("#uploadingFile").html("");
            return;
        }
        $("#myAttachmentsModal").modal('hide');
        $("#uploadingFile").html("<img style='height:62px;'  src='/Content/images/uploading.gif' />")
        $.ajax(
            {
                url: "@boxApi/File/LargeFileUploadForConversation?folderId=" + $("#FolderId").val() + "&RecordId=" + $("#RecordId").val() + "&PatientId=" + $("#PatientId").val(),
                data: formData,
                processData: false,
                contentType: false,
                type: "POST",
                success: function (data) {
                    if (data.success === true) {
                        $("#uploadingFile").html("");
                        $("#myAttachmentsModal").modal('hide');
                        $('.fa-angle-left').trigger('click');
                        loadDocuments();
                        var RefMessageId = $("#RecordId").val();
                        var BoxFileId = data.message;
                        var BoxFileName = document.getElementById("files").files[0].name;
                        var BoxFolderId = $("#FolderId").val();
                        $("#files").val('');
                        SendMessageForAttachment(RefMessageId, 1, BoxFileName, BoxFileId, BoxFolderId);
                    } else {
                        $("#uploadingFile").html("");
                        alert("error uploading file");
                    }
                }
            }
        );
    }

    function loadDocuments() {
        $.ajax({
            url: "/Dashboard/GetAttachments?FolderId=" + $("#FolderId").val(),
            processData: false,
            contentType: false,
            type: "GET",
            success: function (data) {
                $('.fa-angle-left').trigger('click');
                $("#shared_photo").html("");
                $("#shared_photo").html(data);
                new PerfectScrollbar('#shared_photo');
            }
        });
    }

    var scrolled = 0;
    $(".attachments").on("click", function () {
        scrolled = scrolled + 30;
        $("#test-table-2").animate({
            scrollTop: scrolled
        });
    });

    function getdatetime() {
        var today = new Date();
        var hours = today.getHours();
        var minutes = today.getMinutes();
        var ampm = hours >= 12 ? 'pm' : 'am';
        hours = hours % 12;
        hours = hours ? hours : 12; // the hour '0' should be '12'
        minutes = minutes < 10 ? '0' + minutes : minutes;
        var strTime = hours + ':' + minutes + ' ' + ampm;
        return (today.getMonth() + 1) + '/' + (today.getDate()) + '/' + today.getFullYear() + ' ' + strTime;
    }

    function SendMessage(MessageTypeId) {
        var usermsg = $.trim($('#msgcontant').val());
        var MessageId = $('#referralMessageId').val();
        if (usermsg != '') {
            var EncodedMessage = encodeURIComponent(usermsg);
            var objcomposedetail = {};
            objcomposedetail.MessageId = MessageId;
            objcomposedetail.PatientId = $('#hdnPatientId').val();
            objcomposedetail.ColleagueId = $('#hdncolleaeugeId').val();
            objcomposedetail.MessageBody = EncodedMessage;
            objcomposedetail.FileIds = '';
            objcomposedetail.MessageTypeId = MessageTypeId;

            performAjax({
                url: "/Inbox/SendMessageToColleagues",
                type: "POST",
                data: { objcomposedetail: objcomposedetail },
                success: function (data) {
                    ReloadCommunicationWindow();
                },
                error: function (err) {
                    // alert(err);
                }
            });
        }
        else {
            $.toaster({ priority: 'warning', title: '', message: 'Please enter message text.' });
        }
    }

    function SendMessageForAttachment(MessageId, MessageTypeId, FileName, FileId, BoxFolderId) {
        var objcomposedetail = {};
        objcomposedetail.MessageId = MessageId;
        objcomposedetail.PatientId = $('#hdnPatientId').val();
        objcomposedetail.ColleagueId = $('#hdncolleaeugeId').val();
        objcomposedetail.MessageBody = "";
        objcomposedetail.BoxFileId = FileId;
        objcomposedetail.BoxFolderId = BoxFolderId;
        objcomposedetail.MessageTypeId = MessageTypeId;
        objcomposedetail.BoxFileName = FileName;
        var usermsg = $('#msgcontant').val();
        localStorage.setItem("communicationmsgtext", usermsg);
        performAjax({
            url: "/Inbox/SendMessageToColleagues",
            type: "POST",
            data: { objcomposedetail: objcomposedetail },
            success: function (data) {
                ReloadCommunicationWindow();
            },
            error: function (err) {
                // alert(err);
            }
        });
    }
    $('.attachments a').click(function (e) {
        $('.shared_photo').toggleClass('active');
        $(this).parent().toggleClass('active');
    });

    new PerfectScrollbar('#shared_photo');
    new PerfectScrollbar('#zipwhip-popup-message');
    if ($("#zipwhip-body-message").length > 0) {
        new PerfectScrollbar('#zipwhip-body-message');
    }
    //var messageBody = document.querySelector('#office-communication');
    //messageBody.scrollTop = messageBody.scrollHeight - messageBody.clientHeight;

    //var div = document.querySelector('.type_msg');
    //var ta = document.querySelector('textarea');
    //ta.addEventListener('keydown', autosize);
    $(document).ready(function () {
        $('.available_msg div:last-child').focus();
        $(".fancybox").fancybox({
            openEffect: "none",
            closeEffect: "none"
        });
        $("#footer").remove();
        $('.fa-angle-left').trigger('click');
    });

    function ReloadCommunicationWindow() {
        performAjax({
            url: "/Dashboard/GetCommunicationList",
            type: "POST",
            data: {
                MessageId: $('#referralMessageId').val()
            },
            success: function (data) {
                $('#conversationviewbody').html('');
                $('#conversationviewbody').append(data);
                var messageBody = document.querySelector('#office-communication');
                messageBody.scrollTop = messageBody.scrollHeight - messageBody.clientHeight;
                if ($(".findattachments").length == 0) {
                    loadDocuments();
                }
                replacecontentforAttachments();
            },
            error: function (err) {
                // alert(err);
            }
        });
    }

    //function autosize() {
    //    setTimeout(function () {
    //        ta.style.cssText = 'height:0px';
    //        var height = Math.min(20 * 5, ta.scrollHeight);
    //        div.style.cssText = 'height:' + height + 'px';
    //        ta.style.cssText = 'height:' + height + 'px';
    //    }, 0);
    //}

    function ClassWrapping(obj) {
        $("#bodysendmsg").removeClass("zipwhipsendmsg")
        $("#popupsendmsg").removeClass("zipwhipsendmsg")
        if (obj == 'popup') {
            $("#popupsendmsg").addClass("zipwhipsendmsg")
        }
        else {
            $("#bodysendmsg").addClass("zipwhipsendmsg")
        }
    }

    function SendZipwhipMessage() {
        let date = getdatetime();
        var usermsg = $.trim($('.zipwhipsendmsg').val());
        if (usermsg != "") {            
            usermsg = usermsg.replace(/\n/g, "<br>");
            var msgbody = '<div class="outgoing_msg">\
                        <div class="sent_msg">\
                                <p class="one displaydate">Just now</p>\
                                <p class="">' + usermsg + ' </p> \
                        </div>\
                     </div>';

            performAjax({
                url: "/Zipwhip/SendMessage",
                type: "POST",
                data: {
                    UserId: $('#hdnloginuserid').val(),
                    PatientId: $('#hdnPatientId').val(),
                    RecepientNumber: '+1' + $('#atagpatientphone').data("patientid"),
                    MsgBody: usermsg
                },
                success: function (data) {
                    $('.zipwhipnomessagecount').remove();
                    $('.zipwhip_msg').append(msgbody);
                    $('#bodysendmsg').val('');
                    $('#popupsendmsg').val('');

                    ZipwhipScrollBottom();
                    //$("#bodysendmsg").css("height", "37");
                    //$("#popupsendmsg").css("height", "38");
                },
                error: function (err) {
                    // alert(err);
                }
            });
        }
        else {
            $.toaster({ priority: 'warning', title: '', message: 'Please enter message text.' });
        }
    }

    function replacecontentforAttachments() {
        $(".findattachments").each(function () {
            var someimage = document.getElementById($(this).attr('id'));
            var myimg = someimage.getElementsByTagName('img')[0];
            var mysrc = myimg.src;
            $("#div_" + $(this).attr('id')).attr('src', mysrc);
            $("#div_" + $(this).attr('id')).parent().attr('href', mysrc);
        });
    }


    function ZipwhipScrollBottom() {
        var messagepopup = document.querySelector('#zipwhip-popup-message');
        messagepopup.scrollTop = messagepopup.scrollHeight - messagepopup.clientHeight;
        if ($('#zipwhip-body-message').length > 0) {
            var messageBody = document.querySelector('#zipwhip-body-message');
            messageBody.scrollTop = messageBody.scrollHeight - messageBody.clientHeight;
        }
    }

    $('#bodysendmsg,#popupsendmsg').keypress(function (event) {
        var keycode = (event.keyCode ? event.keyCode : event.which);      
        if (keycode == '13' && !event.shiftKey) {
            SendZipwhipMessage();                                  
        }
    });
</script>
