@model OneClickReferral.Models.NormalMessageDetails
@using OneClickReferral.App_Start

@{
    ViewBag.Title = "MessageDetails";
    Layout = null;
}
@try
{
    <input type="hidden" value="@ViewBag.dashboard" id="IsDashboard" />
    <input type="hidden" value="@ViewBag.dashforward" id="IsDashboardFoward" />
    <input type="hidden" name="Start Function Time" value="" />
    <div class="row btm-margin-30">
        <div class="col-lg-12 mail-header">
            @if (Model.MsgStatus != 2)
            {
                <dl class="mail-details">
                    <dt>From:</dt>

                    <dd>@Model.From<a href="mailto:@Model.SenderEmail"> &lt;@Model.SenderEmail&gt;</a></dd>
                    <dt>To:</dt>
                    <dd>@Model.To <a href="mailto:@Model.ReceiverEmail">&lt;@Model.ReceiverEmail&gt;</a></dd>
                    @*}*@
                    <dt>Date:</dt>
                    <dd><time>@Model.CreationDate</time></dd>
                </dl>
            }

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            @Html.Raw(HttpUtility.HtmlDecode(Model.Body.Replace("\n", "<br />")))
            @if (Model.MsgStatus == 2)
            {
                @* Putting additional space below message *@
                <h2>&nbsp;</h2>
            }
        </div>
    </div>
    if (Model.lstAttachedPatient.Count > 0)
    {
        <div class="row">
            <div class="btm-margin-30"></div>
            <div class="col-lg-12 btm-margin-30"><h1>Patient</h1></div>
            <div class="col-lg-12">
                <table class="table table2">
                    <thead class="thead-inverse">
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var newone in Model.lstAttachedPatient)
                    {
                            <tr>
                                <td><a href="/Patients/PatientHistory?PatientId=@newone.AttachedPatientId">@newone.AttachedPatientFirstName</a></td>
                                <td><a href="/Patients/PatientHistory?PatientId=@newone.AttachedPatientId">@newone.AttachedPatientLastName</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-lg-12">
            @if (Model.lstMessageAttachment.Count > 0)
            {
                <div class="bar">
                    <p>
                        Attachments:
                        <a href="javascript:;" onclick='Redirect("/Common/DownloadAllAttachmentofMessage?DownId=@Model.MessageId&Isreferral=false")'>Download All Attachments</a>
                    </p>
                </div>
                <ul class="attachment-list">
                    @Html.Partial("PartialFileUploaded", Model.lstMessageAttachment)
                </ul>
            }

            @if (Model.MsgStatus != 2)
            {
                <div class="reply-holder" id="replayportion">
                    <div class="user">
                        <img class="img-circle" src="@(SessionManagement.DoctorImage)" width="50" height="50" alt='@(SessionManagement.FirstName)'>
                    </div>
                    <div class="text-holder" action="#">
                        <div class="inner-box">
                            <p>
                                Click here to
                                @if (Model.IsSentMessage)
                                {
                                    <a id="replay" href="javascript:void(0)" onclick="getcomposeview(@Model.MessageId,@(Model.IsPatientMessage==true?(int)BO.Enums.Common.ComposeType.PatientCompose:(int)BO.Enums.Common.ComposeType.ColleagueCompose),'@ViewBag.CurrentLink',true);">Reply</a>@Html.Raw(" or ") <a href="javascript:void(0)" id="btn-forward" onclick="SendAsForward(@Model.MessageId,@(Model.IsPatientMessage==true?(int)BO.Enums.Common.ComposeType.PatientCompose:(int)BO.Enums.Common.ComposeType.ColleagueCompose),'@ViewBag.CurrentLink')">Forward</a>
                                }
                                else
                                {
                                    <a id="replay" href="javascript:void(0)" onclick="getcomposeview(@Model.MessageId,@(Model.IsPatientMessage==true?(int)BO.Enums.Common.ComposeType.PatientCompose:(int)BO.Enums.Common.ComposeType.ColleagueCompose),'@ViewBag.CurrentLink',false);">Reply</a>@Html.Raw(" or ")<a href="javascript:void(0)" id="btn-forward" onclick="SendAsForward(@Model.MessageId,@(Model.IsPatientMessage==true?(int)BO.Enums.Common.ComposeType.PatientCompose:(int)BO.Enums.Common.ComposeType.ColleagueCompose),'@ViewBag.CurrentLink')"> Forward </a>
                                }

                            </p>
                        </div>
                    </div>
                </div>
            }

            <div id="composeview" class="comosedetail">

            </div>
        </div>
    </div>


    <form action="@Url.Action("Index", "Profile")" method="post" id="frmViewProfile">
        <input type="hidden" name="hdnViewProfile" id="hdnViewProfile" value="" />
    </form>
    <form action="../Patients/PatientHistory" method="post" id="frmViewPatientHistory">
        <input type="hidden" name="hdnViewPatientHistory" id="hdnViewPatientHistory" />
    </form>
    @section scripts{
        <script type="text/javascript">
            var PreviousURL = '@ViewBag.CurrentLink';
        </script>
        <script src="~/Scripts/ControllerJS/Inbox/GetMessageDetails.js"></script>
        <script type="text/javascript">
            function getAttachedPatientHistory(id) {
                $("#hdnViewPatientHistory").val(id);
                $("#frmViewPatientHistory").submit();
            }
        </script>
    }


}
catch (Exception Ex)
{

    <div class="row btm-margin-30">
        <div class="col-lg-12 mail-header">
            @Html.Partial("_PartialError")
        </div>
    </div>
    Common.LogError(Ex);
}
