﻿@model List<OneClickReferral.Models.ReferralCategory>

@try
{
    if (Model != null || Model.Count > 0)
    {
        foreach (var item in Model)
        {
            <table>
                <thead>
                    @item.CategoryName
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @item.SubCategoryHeaderText
                        </td>
                        <td>
                            @item.SubCategoryValue
                        </td>
                    </tr>
                </tbody>
            </table>
        }
    }
}

catch (Exception Ex)
{
    @Html.Partial("_PartialError")
    Common.LogError(Ex);
}


