﻿@model List<OneClickReferral.Models.OneClickReferralDetail>
@{
    List<TeamMember> objTeamMember = new List<TeamMember>();
    if (ViewBag.TeamMember != null)
    {
        objTeamMember = ViewBag.TeamMember;
    }    
}
@try
{
 if (Model != null)
    {
        if (Model.Count > 0)
        {
            foreach (var item in Model)
            {
                bool isOwnReferral = false;
                //NTD for the Timezoe for Creation date.
                //var CreationDate = Convert.ToString(clsHelper.ConvertFromUTC(Convert.ToDateTime(@item.ReferralDate), ""));
                //var refdate = new CommonBLL().ConvertToDateTime(Convert.ToDateTime(@CreationDate), Convert.ToInt32(BO.Enums.Common.DateFormat.GENERAL));
                <tr id="msg_@item.MessageId">
                    <td data-th="Date">
                        <a href="/Dashboard/GetConversationView?MessageId=@item.MessageId" style="cursor:pointer;">@item.ReferralDate</a>
                    </td>
                    <td data-th="Patient">
                        @if (!item.PatientStatus)
                        {
                            <a href="/Patients/PatientHistory?PatientId=@item.PatientId">@item.PatientName</a>
                        }
                        else
                        {
                            <span style="display:block"> @item.PatientName </span>
                        }
                        <br />
                        @if (!string.IsNullOrWhiteSpace(item.PhoneNumber))
                            {
                            <a href="tel:@item.PhoneNumber">@item.PhoneNumber</a>
                                    <br />
                        }
                        @*Remove bcoz of travis request ASCPF-9  *@
                        @*@if (Common.checkEmailDomain(item.Email))
                            {
                            <a href="mailto:@item.Email">@item.Email</a>
                                    <br />
                        }*@
                    </td>
                    <td data-th="Referred By">
                        @if (item.MessageFrom == "Inbox")
                            {
                            <a href="/Profile/ViewProfile?id=@item.DoctorId">@item.SenderDoctorName</a>
                                    <br />
                            if (!string.IsNullOrWhiteSpace(item.ReferringDoctorPhone))
                            {
                                <a href="tel:@item.ReferringDoctorPhone">@item.ReferringDoctorPhone</a>
                                        <br />
                            }
                            @*Remove bcoz of travis request ASCPF-9  *@
                        @*if (Common.checkEmailDomain(item.ReferringDoctorEmail))
                        {
                                <a href="mailto:@item.ReferringDoctorEmail">@item.ReferringDoctorEmail</a>
                                        <br />
                            }*@
                        }
                        else
                        {
                            <a href="/Profile/ViewProfile?id=@item.ReceiverId">@item.ReceiverDoctorName</a>
                                    <br>
                            if (!string.IsNullOrWhiteSpace(item.ReferringDoctorPhone))
                            {
                                <a href="tel:@item.ReferringDoctorPhone">@item.ReferringDoctorPhone</a>
                                        <br />
                            }
                            @*Remove bcoz of travis request ASCPF-9  *@
                            @*if (Common.checkEmailDomain(item.ReferringDoctorEmail))
                            {
                                <a href="mailto:@item.ReferringDoctorEmail">@item.ReferringDoctorEmail</a>
                                        <br />
                            }*@
                        }
                    </td>
                    <td data-th="Message" style="word-break: break-word;">
                        @if (item.lstCategory != null && item.lstCategory.Count != 0)
                        {
                            int count = 0;
                            <b> @item.lstCategory.FirstOrDefault().CategoryName</b> <br />
                            var categoryList = item.lstCategory.Where(x => x.CategoryId == item.lstCategory.FirstOrDefault().CategoryId);
                            foreach (var item1 in categoryList)
                            {
                                count++;
                                @item1.SubCategoryName @: : @item1.SubCategoryValue
                                     if (count == 2)
                                {
                                    break;
                                }
                                    <br />
                            }
                            <a href="/Dashboard/GetConversationView?MessageId=@item.MessageId">See More..</a>
                        }
                        else
                        {
                            <a href="/Dashboard/GetConversationView?MessageId=@item.MessageId">
                                @if (item.MessageFrom == "Inbox")
                                {
                                    @Html.Raw("Referral received from " + item.SenderDoctorName);
                                }
                                else
                                {
                                    @Html.Raw("Referral sent to " + item.ReceiverDoctorName);
                                }
                                @if (@item.TotalCount > 0)
                                {
                                    @Html.Raw("(") @item.TotalCount @Html.Raw(")")
                                }
                            </a>
                        }
                    </td>
                    @*<td data-th="Status">@item.MessageStatus</td>*@
                    <td data-th="Coordinator">
                        <div class="row dropdown mrgn-right-15 dropdown blue-dropdwon  @(item.MessageFrom == "Inbox" ? "latest_dropdown" : "")">                          
                            @if (item.MessageFrom == "Inbox")
                            {
                                @Html.DropDownList("0", new SelectList(objTeamMember, "TeamMemberId", "FullName ", item.MemberId), "Assigned To", new { @class = "form-control height34 ", @id = "ddlCoordinator_" + item.MessageId, @onchange= "changeCoordinator(" + item.MessageId + ",this.value);", @data_memberid = item.MemberId })
                            }
                            else
                            {                                
                                string strName= (!string.IsNullOrWhiteSpace(item.TeamMemberName) ? item.TeamMemberName : "Assigned To");
                                @strName
                            }
                        </div>
                    </td>
                    <td data-th="Disposition Status">
                        <div class="dropdown mrgn-right-15 dropdown blue-dropdwon @(item.MessageFrom == "Inbox" ? "latest_dropdown" : "") ">
                            @*Travis Change request on 02-26-2019 This drop down should default to "No Status Given" instead of "Select Status"*@
                            @if (item.MessageFrom == "Inbox")
                            {
                                @Html.DropDownList("0", new SelectList(item.DispositionList, "Id", "Status", item.DispositionId), "No Status Given", new { @class = "form-control height34 isDisable", @id = "ddl_" + item.MessageId, @onchange = "OpenNotePopup(" + item.MessageId + "," + item.DispositionId + ",this.value)", @data_val = item.DispositionId, style = "padding: 0 0px 0 10px !important;" })
                            }
                            else
                            {
                                //OCR - Dashboard - Referral which you sent do not display DDL for Disposition status,
                                //display disposition status as Text, while referral which you have received display drop down. MOM(6/3/19) email Change
                                string strDispositionStatus = "No Status Given";
                                if (item.DispositionId > 0)
                                {
                                    strDispositionStatus = item.DispositionList.Where(a => a.Id == item.DispositionId).FirstOrDefault().Status;
                                }                                
                                <span>@strDispositionStatus</span>                                 
                            }
                        </div>
                    </td>
                    <td data-th="Actions">
                        <div class="row dropdown mrgn-right-15 dropdown blue-dropdwon latest_dropdown mrgn-btm-20">
                            <select class="form-control height34" id="@item.MessageId" onchange="ChangeAction(@item.MessageId)">
                                <option value="0" data->Select Action</option>
                                <option value="1" data-url="/Dashboard/GetConversationView?MessageId=@item.MessageId&IsFromDashboard=true">Reply</option>
                                @if (item.SenderId == SessionManagement.UserId || item.ReceiverId == SessionManagement.UserId)
                                {
                                    isOwnReferral = true;
                                }                                
                                <option value="2" data-messageid="@item.MessageId" data-isownreferral="@isOwnReferral" data-messagefrom="@item.MessageFrom">Archive</option>                                                                                         
                                <option value="3" data-messageid="@item.MessageId"  data-url='/Dashboard/ConversationViewToPdf?MessageId=@item.MessageId&MessageType=@item.MessageFrom'>Download</option>
                            </select>
                        </div>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="7" style="text-align:center;width:100%;">
                    <span id="Nomore">No more record found!</span>
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="7" style="text-align:center;width:100%;">
                <span id="Nomore">No more record found!</span>
            </td>
        </tr>
    }
}
catch (Exception Ex)
{
    <tr>
        <td colspan="7" style="text-align:center;width:100%;" id="test212">
            @Html.Partial("_PartialError")
        </td>
    </tr>
    Common.LogError(Ex);
}
