﻿@model List<OneClickReferral.Models.OneClickReferralDetail>
@{
    ViewBag.Title = "ReferralHistory";
    ViewBag.HideLeftPanel = "true";
    OneClickReferral.Models.OneClickReferralDetail Msg = null;
    if (ViewBag.CurrentMessage != null)
    {
        Msg = ViewBag.CurrentMessage;
    }
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
@section styles {
    <link rel="stylesheet" href="~/Content/css/select2.min.css" />
    <style type="text/css">
        .nav li {
            cursor: pointer;
        }

        .accordian-opener {
            cursor: pointer;
        }
    </style>
}
<div class="modal fade" id="patient_delete" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 84%;">
            <div class="modal-body">
                <div class="text-center center">
                    <img src="/Content/OneClickReferral/images/Delete_Popup.png" style="width: 24%;" />
                    <p class="mrgn-btm-0" style="margin: 0;" id="desc_message"></p>
                </div>
                <div class="modal-footer bdr-top-no">
                    <center>
                        <div class="btn-holder">
                            <button type="button" class="btn btn-default btn1" id="btn_no" data-dismiss="modal">No</button>
                            <button type="button" class="btn btn-default btn2 blue-bg mrgn-right-0" id="btn_yes">Yes</button>
                        </div>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>
@if (Model != null)
{
    <div class="container referral">
        <div class="new-case case-overview">
            <div class="row btm-margin-30-email-conversation row-bordered send">
                <div class="col-lg-12 ">
                    <div class="row">
                        <div class="col col-lg-6 col-xs-6">
                            <div class="btm-margin-30-email-conversation"></div>
                            @if (Msg != null)
                            {
                                if (Msg.MessageFrom == "Inbox")
                                {
                                    <h1>Referral received from @Msg.SenderDoctorName </h1>
                                }
                                else
                                {
                                    <h1>Referral sent to @Msg.ReceiverDoctorName </h1>
                                }
                            }
                            else
                            {
                                <h1>Message Referral Details</h1>
                            }
                        </div>
                        <div class="col col-lg-6 col-xs-6">
                            <div class="btn-group top-right-btn pad-top-10">
                                @*<a href="#" class="reply-btn"><i class="fa fa-arrow-left"></i>Back</a>
                                    <a href="#" class="reply-btn"><i class="fa fa-reply"></i>Reply</a>
                                    <a href="#" class="resend"><i class="ico-send"></i>Resend</a>
                                    <a href="#" class="remove-btn"><i class="ico-delete"></i></a>*@
                                <a href="@Url.Action("Index","Dashboard")" class="reply-btn"><i class="fa fa-arrow-left"></i>Back</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-sm-12">
                            <input type="hidden" id="BoxFolderId" name="BoxFolderId" />
                            <div id="largeFileContainer" class="col-lg-12">Cannot Load Large File Attachments</div>       
                            <script>                                
                                $.get("/OneClick/LargeFileUploadWidget?recordId=@Msg.MessageId&patientId=@Msg.PatientId", function (data) {
                                    $("#largeFileContainer").html(data);                                   
                                });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
            @foreach (var item in Model)
            {
                <div id="div_@item.MessageId">
                    <div class="row btm-margin-30-email-conversation row-bordered">
                        <div class="col-lg-12 mail-header">
                            <div class="row mrgn-btm-20-email-conversation">
                                @if (item.Status != 2)
                                {
                                    <div class="col-lg-12 mailing-list">
                                        <div>

                                            <a class="accordian-opener email-header-title-email-conversation" onclick="GetMessageDetails(@item.MessageId,'@item.MessageFrom',@item.MessageTypeId)">@item.ReceiverDoctorName</a>
                                            @*<span><b>( @item.ReferralDate )</b></span>*@
                                            <span class="pull-right">
                                                ( @item.ReferralDate )
                                                @*@if (item.Status == 3)
                                                {
                                                    <a style="cursor:pointer;" class="remove-btn"  onclick="getInsuranceDetails(@item.PatientId);"><img src="../images/verify-insurance.png" alt="Insurance" title="Insurance"></a>
                                                }
                                                else
                                                {
                                                    <img src="../images/not-verify-insurance.png" alt="Insurance" title="Insurance">
                                                }*@                                             
                                                <span id="email-actions" style="display:none">
                                                    @if (item.MessageTypeId != "2")
                                                    {

                                                        @*<a href="javascript:void(0)" onclick="getcomposeview(@item.MessageId,@((int)BO.Enums.Common.ComposeType.ColleagueCompose),'@(ViewBag.CurrentLink)',true);"><img class="reply-mail-email-conversation" src="~/Content/Dashboard/images/reply-email.png" title="Reply"></a>*@
                                                        @*<a href="javascript:void(0)" onclick="SendAsForward(@item.MessageId,@((int)BO.Enums.Common.ComposeType.ColleagueCompose),'@ViewBag.CurrentLink')"><img class="reply-mail-email-conversation" src="~/Content/Dashboard/images/forward-email.png" title="Forward"></a>*@
                                                        @*<a href="javascript:void(0)" onclick="OpenDeletePopUpForMessage(@item.MessageId, '@item.MessageTypeId', '@item.MessageFrom', 'Message_delete')"><img class="reply-mail-email-conversation" src="~/Content/Dashboard/images/delete-email.png" title="Delete"></a>*@

                                                        <a href="javascript:void(0)" onclick="getcomposeview(@item.MessageId,@((int)BO.Enums.Common.ComposeType.ColleagueCompose),'@(ViewBag.CurrentLink)',true);" class="reply-btn"><i class="fa fa-reply"></i>Reply</a>
                                                        <a href="javascript:void(0)" onclick="SendAsForward(@item.MessageId,@((int)BO.Enums.Common.ComposeType.ColleagueCompose),'@ViewBag.CurrentLink')" class="resend"><i class="ico-send"></i>Forward</a>
                                                        <a href="javascript:void(0)" onclick="OpenDeletePopUpForMessage(@item.MessageId, '@item.MessageTypeId', '@item.MessageFrom', 'Message_delete')" class="remove-btn"><i class="ico-delete"></i></a>
                                                    }
                                                    else
                                                    {

                                                        @*<a href="javascript:void(0)" onclick="getcomposeview(@item.MessageId,'@ViewBag.CurrentLink')"><img class="reply-mail-email-conversation" src="~/Content/Dashboard/images/reply-email.png" title="Reply"></a>*@
                                                        @*<a href="javascript:void(0)" onclick="OpenDeletePopUpForMessage(@item.MessageId, '@item.MessageTypeId', '@item.MessageFrom','Message_delete')"><img class="reply-mail-email-conversation" src="~/Content/Dashboard/images/delete-email.png" title="Delete"></a>*@
                                                        <a href="javascript:void(0)" onclick="getcomposeview(@item.MessageId,'@ViewBag.CurrentLink')" class="reply-btn"><i class="fa fa-reply"></i>Reply</a>
                                                        <a href="javascript:void(0)" onclick="OpenDeletePopUpForMessage(@item.MessageId, '@item.MessageTypeId', '@item.MessageFrom','Message_delete')" class="remove-btn"><i class="ico-delete"></i></a>
                                                    }
                                                </span>
                                            </span>
                                        </div>

                                        @if (!string.IsNullOrWhiteSpace(item.MessageBody))
                                        {
                                            @*if (item.MessageBody.Length > 160)
                                                {
                                                    <p id="msgShortDescription" class="textOverflow" >@item.MessageBody</p>

                                                    @*<p id="msgShortDescription">@(item.MessageBody.Substring(0, Math.Min(item.MessageBody.Length, 170))) ... </p>
                                                }
                                                else
                                                {
                                                    <p id="msgShortDescription" class="textOverflow">@item.MessageBody</p>
                                                }*@

                                            <p id="msgShortDescription" class="textOverflow">@item.MessageBody</p>

                                        }
                                        else
                                        {
                                            if (item.MessageTypeId == "2")
                                            {
                                                <p id="msgShortDescription"><b>Referred by:</b><span>@item.SenderDoctorName</span><span>@item.ReferringDoctorPhone</span></p>
                                            }
                                            else
                                            {
                                                <p id="msgShortDescription"><b>From:</b><span>@item.SenderDoctorName</span><span>@item.ReferringDoctorPhone</span></p>
                                            }
                                        }
                                    </div>
                                }
                                else
                                {
                                    //-- Heading for system generated message
                                    <div class="col-lg-12 mailing-list">
                                        <div><a class="accordian-opener email-header-title-email-conversation" onclick="GetMessageDetails(@item.MessageId,'@item.MessageFrom',@item.MessageTypeId)">@item.Subject</a><span class="pull-right">(@(item.ReferralDate))</span></div>
                                        @if (!string.IsNullOrWhiteSpace(item.MessageBody))
                                        {
                                            @*if (item.MessageBody.Length > 175)
                                                {
                                                    @*<p id="msgShortDescription">@(item.MessageBody.Substring(0, Math.Min(item.MessageBody.Length, 175))) ... </p>
                                                    @*<p id="msgShortDescription" style="text-overflow:ellipsis">@(item.MessageBody.Substring(0, Math.Min(item.MessageBody.Length, 175))) ... </p>
                                                    <p id="msgShortDescription" class="textOverflow">@item.MessageBody</p>
                                                }
                                                else
                                                {
                                                    <p id="msgShortDescription" class="textOverflow">@item.MessageBody</p>
                                                }*@
                                            <p id="msgShortDescription" class="textOverflow">@item.MessageBody</p>

                                        }
                                        else
                                        {
                                            if (item.MessageTypeId == "2")
                                            {

                                                <p id="msgShortDescription"><b>Referred by:</b><span>@item.SenderDoctorName</span><span>@item.ReferringDoctorPhone</span></p>
                                            }
                                            else
                                            {
                                                <p id="msgShortDescription"><b>From:</b><span>@item.SenderDoctorName</span><span>@item.ReferringDoctorPhone</span></p>
                                            }
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="col-lg-12 collapse " id="@item.MessageId">

                        </div>
                        @*<div class="col col-lg-6 col-xs-6">
                                <div class="btn-group top-right-btn pad-top-10">
                                    <a href="#" class="reply-btn"><i class="fa fa-arrow-left"></i>Back</a>
                                    <a href="#" class="reply-btn"><i class="fa fa-reply"></i>Reply</a>
                                    <a href="#" class="resend"><i class="ico-send"></i>Resend</a>
                                    <a href="#" class="remove-btn"><i class="ico-delete"></i></a>
                                </div>
                            </div>*@
                    </div>
                </div>

            }
        </div>
    </div>
}
<div class="modal fade" id="Message_delete" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center center">

                    <p class="mrgn-btm-0" style="margin: 0;" id="desc_message"></p>
                </div>
                <div class="modal-footer bdr-top-no">
                    <div class="btn-group btn-holder">
                        <button type="button" class="btn btn-default btn1" id="btn_no" data-dismiss="modal">No</button>
                        <button type="button" class="btn btn-default btn2 blue-bg mrgn-right-0" id="btn_yes">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script type="text/javascript" src="~/Scripts/select2.min.js"></script>
    <script type="text/javascript" src="~/Content/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="~/Content/ckeditor/samples/sample.js"></script>
    <script type="text/javascript" src="~/Scripts/ControllerJS/Inbox/GetMessageDetails.js"></script>
    <script src="~/Scripts/jquery.toaster.js"></script>
    <script type="text/javascript">
        var BASE_URL = "@Common.SafeString(System.Configuration.ConfigurationManager.AppSettings["apikey"])";
        var TOKEN = "@ViewBag.EncryptedUserId";
    </script>
    <script type="text/javascript" src="~/Scripts/commonfileupload.js"></script>
    <script type="text/javascript">
        function GetMessageDetails(MessageId, MessageType, MessageTypeId) {
            $("#" + MessageId).toggle();
            $("#div_" + MessageId + " #email-actions").toggle();
            $("#div_" + MessageId + " #msgShortDescription").toggle();

            var filter = {
                'MessageId': MessageId,
                'MessageType': MessageType,
                'access_token': localStorage.getItem('token'),
                'MessageTypeId': MessageTypeId
            }
            performAjax({
                url: "/Dashboard/GetReferralMessageDetails",
                type: "POST",
                async: false,
                data: { filter: filter },
                success: function (data) {
                    if (data != null) {
                        $("#" + MessageId).html('');
                        $("#" + MessageId).append(data);
                        //jcf.replaceAll();
                        //if (ReferralFrom == 2) {
                        //    disablefields();
                        //}
                        //ApplyActiveClass(ReferralFrom);
                    }
                },
                error: function () {
                    alert("Oops...this pages need to reload.  Please try again.");
                }
            })
        }
        $(document).ready(function () {
            if ("@TempData["IsFromDashboard"]" == "True") {
                setTimeout(function () {
                    $(".reply-btn").trigger("click");
                }, 1000);
            }
            $('[id^=div_]:last .email-header-title-email-conversation').trigger("click");
        });
    </script>

}
