﻿<!DOCTYPE html>
<html lang="en">
<head>
@{ 
    Layout = null;
}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>One Click Referral Dashboard</title>
<link rel="icon" href="images/one_click_referral.ico" type="image/x-icon">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body style="padding: 0; margin: 0; font-size: 14px; color: #002e59;font-family: 'Open Sans'; font-weight: 400;">
    <div style="width: 8.5in; margin: 0 auto; padding: 0;">
        <h1 style="padding: 15px;font-size: 24px; color: #fff;font-family: 'Open Sans'; font-weight: 400; background: #002e59; margin: 0 0 15px;">Referral By</h1>
        <div style="font-size: 14px; color: #002e59;font-family: 'Open Sans'; font-weight: 400; margin-bottom: 5px">Referred to: Brent Boyse</div>
        <div style="font-size: 14px; color: #002e59;font-family: 'Open Sans'; font-weight: 400; margin-bottom: 5px">Referral sent date: 4/12/2019 2:11 PM</div>
        <div style="font-size: 14px; color: #002e59;font-family: 'Open Sans'; font-weight: 400; margin-bottom: 5px">Location: First Location</div>
        <div style="font-size: 14px; color: #002e59;font-family: 'Open Sans'; font-weight: 400; margin-bottom: 15px">Oral Surgery: Jaw Surgery (evaluation)</div>
        <h1 style="padding: 15px;font-size: 24px; color: #fff;font-family: 'Open Sans'; font-weight: 400; background: #002e59; margin: 0 0 15px;">Patient Info</h1>
        <h2 style="font-size: 22px; color: #002e59;font-family: 'Open Sans'; font-weight: 400; margin-bottom: 15px;">Larry Allore</h2>
        <div style="clear: both; display: block;"></div>
        <div style="font-size: 14px; color: #002e59;font-family: 'Open Sans'; font-weight: 400; margin-bottom: 5px; width: 50%; float: left">ID: 193406</div>
        <div style="font-size: 14px; color: #002e59;font-family: 'Open Sans'; font-weight: 400; margin-bottom: 5px; width: 50%; float: left">Address: 28425 Abbey Road, Millbury</div>
        <div style="font-size: 14px; color: #002e59;font-family: 'Open Sans'; font-weight: 400; margin-bottom: 5px; width: 50%; float: left">Gender: Male</div>
        <div style="font-size: 14px; color: #002e59;font-family: 'Open Sans'; font-weight: 400; margin-bottom: 5px; width: 50%; float: left">Phone: (419) 481-1744</div>
        <div style="font-size: 14px; color: #002e59;font-family: 'Open Sans'; font-weight: 400; margin-bottom: 5px; width: 50%; float: left">DOB: 2/4/1948 (69 years old)</div>
        <div style="font-size: 14px; color: #002e59;font-family: 'Open Sans'; font-weight: 400; margin-bottom: 5px; width: 50%; float: left">Email: allorel@yahoo.com</div>
        <div style="clear: both; display: block;margin-bottom: 15px"></div>
        <div style="margin: 0 0 15px;">
            <table style="width: 100%;">
                <thead style="background: #f3f5f7; width: 100%; border: 1px solid #e4e6e9;">
                    <tr>
                        <th style="padding: 10px 15px; text-align: left">Date</th>
                        <th style="padding: 10px 15px; text-align: left">From/To</th>
                        <th style="padding: 10px 15px; text-align: left">Type</th>
                        <th style="padding: 10px 15px; text-align: left">Message</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="padding: 10px 15px; text-align: left">07-14-2017 2:17PM</td>
                        <td style="padding: 10px 15px; text-align: left">David Howington</td>
                        <td style="padding: 10px 15px; text-align: left">Messages</td>
                        <td style="padding: 10px 15px; text-align: left">Treatment is completed.</td>
                    </tr>
                    <tr>
                        <td style="padding: 10px 15px; text-align: left">12-09-2016 5:01PM</td>
                        <td style="padding: 10px 15px; text-align: left">Greg Smith</td>
                        <td style="padding: 10px 15px; text-align: left">Referral</td>
                        <td style="padding: 10px 15px; text-align: left"></td>
                    </tr>
                    <tr>
                        <td style="padding: 10px 15px; text-align: left">12-09-2016 4:15PM</td>
                        <td style="padding: 10px 15px; text-align: left">Derek Farber</td>
                        <td style="padding: 10px 15px; text-align: left">Referral</td>
                        <td style="padding: 10px 15px; text-align: left"></td>
                    </tr>
                    <tr>
                        <td style="padding: 10px 15px; text-align: left">07-14-2017 2:17PM</td>
                        <td style="padding: 10px 15px; text-align: left">David Howington</td>
                        <td style="padding: 10px 15px; text-align: left">Messages</td>
                        <td style="padding: 10px 15px; text-align: left">Treatment is completed.</td>
                    </tr>
                    <tr>
                        <td style="padding: 10px 15px; text-align: left">12-09-2016 5:01PM</td>
                        <td style="padding: 10px 15px; text-align: left">Greg Smith</td>
                        <td style="padding: 10px 15px; text-align: left">Referral</td>
                        <td style="padding: 10px 15px; text-align: left"></td>
                    </tr>
                    <tr>
                        <td style="padding: 10px 15px; text-align: left">12-09-2016 4:15PM</td>
                        <td style="padding: 10px 15px; text-align: left">Derek Farber</td>
                        <td style="padding: 10px 15px; text-align: left">Referral</td>
                        <td style="padding: 10px 15px; text-align: left"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="height: 5px; background: #f3f5f7; margin: 0 0 15px;"></div>
        <h2 style="font-size: 22px; color: #002e59;font-family: 'Open Sans'; font-weight: 400; margin-bottom: 15px;">Patient Files</h2>
        <div style="background: #002e59; padding: 10px; color: #fff; margin-bottom: 15px;">
            <label>img01.jpg</label><i style="font-size:18px; color: #fff; float: right;" class="fa fa-download"></i>
        </div>
        <div style="background: #002e59; padding: 10px; color: #fff; margin-bottom: 15px;">
            <label>dashboard.png</label><i style="font-size:18px; color: #fff; float: right;" class="fa fa-download"></i>
        </div>
        <div style="clear: both; display: block;"></div>
        <div style="height: 5px; background: #f3f5f7; margin: 0 0 15px;"></div>
        <h2 style="font-size: 22px; color: #002e59;font-family: 'Open Sans'; font-weight: 400; margin-bottom: 15px;">Treatment Plans</h2>
        <div style="margin: 0 0 15px;">
            <table style="width: 100%;">
                <tbody>
                    <tr>
                        <td style="padding: 10px 15px; text-align: left">Plan 1</td>
                        <td style="padding: 10px 15px; text-align: left">Open</td>
                    </tr>
                    <tr>
                        <td style="padding: 10px 15px; text-align: left">Plan 2</td>
                        <td style="padding: 10px 15px; text-align: left">Closed</td>
                    </tr>  
                </tbody>
            </table>
        </div>
        <div style="height: 5px; background: #f3f5f7; margin: 0 0 15px;"></div>
        <h2 style="font-size: 22px; color: #002e59;font-family: 'Open Sans'; font-weight: 400; margin-bottom: 15px;">Patient Forms</h2>
        <div style="height: 1px; background: #ddd; margin: 0 0 15px;"></div>
        <h3 style="font-size: 16px; background: #002e59; padding: 15px; font-family: 'Open Sans'; font-weight: 500; margin-bottom: 15px;color: #fff;">Personal Information</h3>
        <div style="height: 1px; background: #ddd; margin: 0 0 15px;"></div>
        <div style="clear: both; display: block; ">
            <label style="width: 28%; float: left; padding: 10px 0 0;">First Name</label>
            <input style="width: 69%; float: left; border: 1px solid #e5e8ea; line-height: 18px; padding: 10px;" type="text" value="Larry">
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
        <div style="clear: both; display: block;">
            <label style="width: 28%; float: left; padding: 10px 0 0;">Last Name</label>
            <input style="width: 69%; float: left; border: 1px solid #e5e8ea; line-height: 18px; padding: 10px;" type="text" value="Allore">
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
        <div style="clear: both; display: block; ">
            <label style="width: 28%; float: left; padding: 10px 0 0;">Email Address</label>
            <input style="width: 69%; float: left; border: 1px solid #e5e8ea; line-height: 18px; padding: 10px;" type="text" value="Allore@yahoo.com">
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
        <div style="clear: both; display: block;">
            <label style="width: 28%; float: left; padding: 10px 0 0;">Date of Birth</label>
            <input style="width: 69%; float: left; border: 1px solid #e5e8ea; line-height: 18px; padding: 10px;" type="text" value="02/04/1948">
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
        <div style="clear: both; display: block; ">
            <label style="width: 28%; float: left; padding: 10px 0 0;">Gender</label>
            <input style="width: 69%; float: left; border: 1px solid #e5e8ea; line-height: 18px; padding: 10px;" type="text" value="Male">
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
        <div style="clear: both; display: block;">
            <label style="width: 28%; float: left; padding: 10px 0 0;">Address</label>
            <input style="width: 69%; float: left; border: 1px solid #e5e8ea; line-height: 18px; padding: 10px;" type="text" value="28425 Abbey Road">
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
        <div style="clear: both; display: block; ">
            <label style="width: 28%; float: left; padding: 10px 0 0;">City</label>
            <input style="width: 69%; float: left; border: 1px solid #e5e8ea; line-height: 18px; padding: 10px;" type="text" value="Millbury">
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
        <div style="clear: both; display: block;">
            <label style="width: 28%; float: left; padding: 10px 0 0;">State</label>
            <input style="width: 69%; float: left; border: 1px solid #e5e8ea; line-height: 18px; padding: 10px;" type="text" value="">
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
        <div style="clear: both; display: block; ">
            <label style="width: 28%; float: left; padding: 10px 0 0;">Zip</label>
            <input style="width: 69%; float: left; border: 1px solid #e5e8ea; line-height: 18px; padding: 10px;" type="text" value="01527">
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
        <div style="clear: both; display: block;">
            <label style="width: 28%; float: left; padding: 10px 0 0;">Primary Phone No.</label>
            <input style="width: 69%; float: left; border: 1px solid #e5e8ea; line-height: 18px; padding: 10px;" type="text" value="(429) 481-1744">
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
        <div style="clear: both; display: block; ">
            <label style="width: 28%; float: left; padding: 10px 0 0;">Secondary Phone No.</label>
            <input style="width: 69%; float: left; border: 1px solid #e5e8ea; line-height: 18px; padding: 10px;" type="text" value="">
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
        <div style="clear: both; display: block;">
            <label style="width: 28%; float: left; padding: 10px 0 0;">Emergency Contact Name</label>
            <input style="width: 69%; float: left; border: 1px solid #e5e8ea; line-height: 18px; padding: 10px;" type="text" value="">
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
        <div style="clear: both; display: block; ">
            <label style="width: 28%; float: left; padding: 10px 0 0;">Emergency Phone No.</label>
            <input style="width: 69%; float: left; border: 1px solid #e5e8ea; line-height: 18px; padding: 10px;" type="text" value="">
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
        <div style="height: 1px; background: #ddd; margin: 0 0 15px;"></div>
        <h3 style="font-size: 16px; background: #002e59; padding: 15px; font-family: 'Open Sans'; font-weight: 500; margin-bottom: 15px;color: #fff;">Insurance Coverage </h3>
        <div style="height: 1px; background: #ddd; margin: 0 0 15px;"></div>
        <h3 style="font-size: 16px; color: #002e59;font-family: 'Open Sans'; font-weight: 500; margin-bottom: 15px;">Account Information</h3>
        <div style="height: 1px; background: #ddd; margin: 0 0 15px;"></div>
        <div style="clear: both; display: block; ">
            <label style="width: 28%; float: left; padding: 10px 0 0;">Responsible Party's First Name </label>
            <input style="width: 69%; float: left; border: 1px solid #e5e8ea; line-height: 18px; padding: 10px;" type="text" value="Larry">
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
        <div style="clear: both; display: block;">
            <label style="width: 28%; float: left; padding: 10px 0 0;">Responsible Party's Last Name</label>
            <input style="width: 69%; float: left; border: 1px solid #e5e8ea; line-height: 18px; padding: 10px;" type="text" value="Allore">
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
        <div style="clear: both; display: block; ">
            <label style="width: 28%; float: left; padding: 10px 0 0;">Relationship</label>
            <input style="width: 69%; float: left; border: 1px solid #e5e8ea; line-height: 18px; padding: 10px;" type="text" value="Allore@yahoo.com">
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
        <div style="clear: both; display: block;">
            <label style="width: 28%; float: left; padding: 10px 0 0;">Address</label>
            <input style="width: 69%; float: left; border: 1px solid #e5e8ea; line-height: 18px; padding: 10px;" type="text" value="02/04/1948">
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
        <div style="clear: both; display: block; ">
            <label style="width: 28%; float: left; padding: 10px 0 0;">Gender</label>
            <input style="width: 69%; float: left; border: 1px solid #e5e8ea; line-height: 18px; padding: 10px;" type="text" value="Male">
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
        <div style="clear: both; display: block;">
            <label style="width: 28%; float: left; padding: 10px 0 0;">Address</label>
            <input style="width: 69%; float: left; border: 1px solid #e5e8ea; line-height: 18px; padding: 10px;" type="text" value="28425 Abbey Road">
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
        <div style="clear: both; display: block; ">
            <label style="width: 28%; float: left; padding: 10px 0 0;">City</label>
            <input style="width: 69%; float: left; border: 1px solid #e5e8ea; line-height: 18px; padding: 10px;" type="text" value="Millbury">
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
        <div style="clear: both; display: block;">
            <label style="width: 28%; float: left; padding: 10px 0 0;">State</label>
            <input style="width: 69%; float: left; border: 1px solid #e5e8ea; line-height: 18px; padding: 10px;" type="text" value="">
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
        <div style="clear: both; display: block; ">
            <label style="width: 28%; float: left; padding: 10px 0 0;">Zip</label>
            <input style="width: 69%; float: left; border: 1px solid #e5e8ea; line-height: 18px; padding: 10px;" type="text" value="01527">
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
        <div style="clear: both; display: block;">
            <label style="width: 28%; float: left; padding: 10px 0 0;">Primary Phone No.</label>
            <input style="width: 69%; float: left; border: 1px solid #e5e8ea; line-height: 18px; padding: 10px;" type="text" value="(429) 481-1744">
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
        <div style="clear: both; display: block; ">
            <label style="width: 28%; float: left; padding: 10px 0 0;">Secondary Phone No.</label>
            <input style="width: 69%; float: left; border: 1px solid #e5e8ea; line-height: 18px; padding: 10px;" type="text" value="">
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
        <div style="clear: both; display: block;">
            <label style="width: 28%; float: left; padding: 10px 0 0;">Emergency Contact Name</label>
            <input style="width: 69%; float: left; border: 1px solid #e5e8ea; line-height: 18px; padding: 10px;" type="text" value="">
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
        <div style="clear: both; display: block; ">
            <label style="width: 28%; float: left; padding: 10px 0 0;">Emergency Phone No.</label>
            <input style="width: 69%; float: left; border: 1px solid #e5e8ea; line-height: 18px; padding: 10px;" type="text" value="">
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
        <div style="height: 1px; background: #ddd; margin: 0 0 15px;"></div>
        <h3 style="font-size: 16px; color: #002e59;font-family: 'Open Sans'; font-weight: 500; margin-bottom: 15px;">Primary Dental Insurance Coverage</h3>
        <div style="height: 1px; background: #ddd; margin: 0 0 15px;"></div>
        <div style="clear: both; display: block; ">
            <label style="width: 28%; float: left; padding: 10px 0 0;">Insurance Company</label>
            <input style="width: 69%; float: left; border: 1px solid #e5e8ea; line-height: 18px; padding: 10px;" type="text" value="">
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
        <div style="clear: both; display: block;">
            <label style="width: 28%; float: left; padding: 10px 0 0;">Name of Insured</label>
            <input style="width: 69%; float: left; border: 1px solid #e5e8ea; line-height: 18px; padding: 10px;" type="text" value="">
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
        <div style="clear: both; display: block; ">
            <label style="width: 28%; float: left; padding: 10px 0 0;">Date of Birth</label>
            <input style="width: 69%; float: left; border: 1px solid #e5e8ea; line-height: 18px; padding: 10px;" type="text" value="">
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
        <div style="clear: both; display: block;">
            <label style="width: 28%; float: left; padding: 10px 0 0;">Member ID</label>
            <input style="width: 69%; float: left; border: 1px solid #e5e8ea; line-height: 18px; padding: 10px;" type="text" value="">
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
        <div style="clear: both; display: block; ">
            <label style="width: 28%; float: left; padding: 10px 0 0;">Group Number</label>
            <input style="width: 69%; float: left; border: 1px solid #e5e8ea; line-height: 18px; padding: 10px;" type="text" value="">
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
        <div style="height: 1px; background: #ddd; margin: 0 0 15px;"></div>
        <h3 style="font-size: 16px; color: #002e59;font-family: 'Open Sans'; font-weight: 500; margin-bottom: 15px;">Secondary Dental Insurance Coverage</h3>
        <div style="height: 1px; background: #ddd; margin: 0 0 15px;"></div>
        <div style="clear: both; display: block; ">
            <label style="width: 28%; float: left; padding: 10px 0 0;">Insurance Company</label>
            <input style="width: 69%; float: left; border: 1px solid #e5e8ea; line-height: 18px; padding: 10px;" type="text" value="">
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
        <div style="clear: both; display: block;">
            <label style="width: 28%; float: left; padding: 10px 0 0;">Name of Insured</label>
            <input style="width: 69%; float: left; border: 1px solid #e5e8ea; line-height: 18px; padding: 10px;" type="text" value="">
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
        <div style="clear: both; display: block; ">
            <label style="width: 28%; float: left; padding: 10px 0 0;">Date of Birth</label>
            <input style="width: 69%; float: left; border: 1px solid #e5e8ea; line-height: 18px; padding: 10px;" type="text" value="">
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
        <div style="clear: both; display: block;">
            <label style="width: 28%; float: left; padding: 10px 0 0;">Member ID</label>
            <input style="width: 69%; float: left; border: 1px solid #e5e8ea; line-height: 18px; padding: 10px;" type="text" value="">
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
        <div style="clear: both; display: block; ">
            <label style="width: 28%; float: left; padding: 10px 0 0;">Group Number</label>
            <input style="width: 69%; float: left; border: 1px solid #e5e8ea; line-height: 18px; padding: 10px;" type="text" value="">
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
        <div style="height: 1px; background: #ddd; margin: 0 0 15px;"></div>
        <h3 style="font-size: 16px; background: #002e59; padding: 15px; font-family: 'Open Sans'; font-weight: 500; margin-bottom: 15px;color: #fff;">Medical History</h3>
        <div style="height: 1px; background: #ddd; margin: 0 0 15px;"></div>
        <div style="clear: both; display: block; ">
            <label style="width: 100%; float: left; padding: 0 0 10px;"><span style="font-weight: bold;">1. </span>Are you under a physicians care right now?</label>
            <input style="width: 100%; float: left; border: 1px solid #e5e8ea; line-height: 18px; padding: 10px; box-sizing: border-box;" type="text" value="">
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
        <div style="clear: both; display: block; ">
            <label style="width: 100%; float: left; padding: 0 0 10px;"><span style="font-weight: bold;">2. </span>Have you ever been hospitalized or had a major operation?</label>
            <input style="width: 100%; float: left; border: 1px solid #e5e8ea; line-height: 18px; padding: 10px; box-sizing: border-box;" type="text" value="">
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
        <div style="clear: both; display: block; ">
            <label style="width: 100%; float: left; padding: 0 0 10px;"><span style="font-weight: bold;">3. </span>Have you ever had a serious head or neck injury?</label>
            <input style="width: 100%; float: left; border: 1px solid #e5e8ea; line-height: 18px; padding: 10px; box-sizing: border-box;" type="text" value="">
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
        <div style="clear: both; display: block; ">
            <label style="width: 100%; float: left; padding: 0 0 10px;"><span style="font-weight: bold;">4. </span>Are taking any medications, pills, or drugs?</label>
            <input style="width: 100%; float: left; border: 1px solid #e5e8ea; line-height: 18px; padding: 10px; box-sizing: border-box;" type="text" value="">
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
        <div style="clear: both; display: block; ">
            <label style="width: 100%; float: left; padding: 0 0 10px;"><span style="font-weight: bold;">5. </span>Do you take, or have you taken, Phen-Fen or Redux?</label>
            <input style="width: 100%; float: left; border: 1px solid #e5e8ea; line-height: 18px; padding: 10px; box-sizing: border-box;" type="text" value="">
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
        <div style="clear: both; display: block; ">
            <label style="width: 100%; float: left; padding: 0 0 10px;"><span style="font-weight: bold;">6. </span>Have you ever taken Fosamax, Boniva, Actonel or any other medications containing biphosphonates?</label>
            <input style="width: 100%; float: left; border: 1px solid #e5e8ea; line-height: 18px; padding: 10px; box-sizing: border-box;" type="text" value="">
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
        <div style="clear: both; display: block; ">
            <label style="width: 100%; float: left; padding: 0 0 10px;"><span style="font-weight: bold;">7. </span>Are you on a special diet?</label>
            <input style="width: 100%; float: left; border: 1px solid #e5e8ea; line-height: 18px; padding: 10px; box-sizing: border-box;" type="text" value="">
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
        <div style="clear: both; display: block; ">
            <label style="width: 100%; float: left; padding: 0 0 10px;"><span style="font-weight: bold;">8. </span>Do you use tobacco?</label>
            <input style="width: 100%; float: left; border: 1px solid #e5e8ea; line-height: 18px; padding: 10px; box-sizing: border-box;" type="text" value="">
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
        <div style="clear: both; display: block; ">
            <label style="width: 100%; float: left; padding: 0 0 10px;"><span style="font-weight: bold;">9. </span>Do you use controlled substances?</label>
            <input style="width: 100%; float: left; border: 1px solid #e5e8ea; line-height: 18px; padding: 10px; box-sizing: border-box;" type="text" value="">
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
        <div style="clear: both; display: block; ">
            <label style="width: 100%; float: left; padding: 0 0 10px;"><span style="font-weight: bold;">10. </span>Are you pregnant/Trying to get pregnant(women)?</label>
            <input style="width: 100%; float: left; border: 1px solid #e5e8ea; line-height: 18px; padding: 10px; box-sizing: border-box;" type="text" value="">
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
        <div style="clear: both; display: block; ">
            <label style="width: 100%; float: left; padding: 0 0 10px;"><span style="font-weight: bold;">11. </span>Taking oral contraceptives(women)?</label>
            <input style="width: 100%; float: left; border: 1px solid #e5e8ea; line-height: 18px; padding: 10px; box-sizing: border-box;" type="text" value="">
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
        <div style="clear: both; display: block; ">
            <label style="width: 100%; float: left; padding: 0 0 10px;"><span style="font-weight: bold;">12. </span>Nursing(women)?</label>
            <input style="width: 100%; float: left; border: 1px solid #e5e8ea; line-height: 18px; padding: 10px; box-sizing: border-box;" type="text" value="">
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
        <div style="clear: both; display: block; ">
            <label style="width: 100%; float: left; padding: 0 0 10px;"><span style="font-weight: bold;">13. </span>Have tonsils and or adenoids been removed?</label>
            <input style="width: 100%; float: left; border: 1px solid #e5e8ea; line-height: 18px; padding: 10px; box-sizing: border-box;" type="text" value="">
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
        <div style="clear: both; display: block; ">
            <label style="width: 100%; float: left; padding: 0 0 10px;"><span style="font-weight: bold;">14. </span>Are you allergic to any of the following?</label>
            <input style="width: 100%; float: left; border: 1px solid #e5e8ea; line-height: 18px; padding: 10px; box-sizing: border-box;" type="text" value="">
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
        <div style="clear: both; display: block; ">
            <label style="width: 100%; float: left; padding: 0 0 10px;"><span style="font-weight: bold;">15. </span>Do you have, or have you had, any of the following?</label>
            <input style="width: 100%; float: left; border: 1px solid #e5e8ea; line-height: 18px; padding: 10px; box-sizing: border-box;" type="text" value="">
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
        <div style="clear: both; display: block; ">
            <label style="width: 100%; float: left; padding: 0 0 10px;"><span style="font-weight: bold;">16. </span>Additional Information</label>
            <input style="width: 100%; float: left; border: 1px solid #e5e8ea; line-height: 18px; padding: 10px; box-sizing: border-box;" type="text" value="">
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
         <div style="height: 1px; background: #ddd; margin: 0 0 15px;"></div>
        <h3 style="font-size: 16px; background: #002e59; padding: 15px; font-family: 'Open Sans'; font-weight: 500; margin-bottom: 15px;color: #fff;">Dental History</h3>
        <div style="height: 1px; background: #ddd; margin: 0 0 15px;"></div>
        <div style="clear: both; display: block; ">
            <label style="width: 100%; float: left; padding: 0 0 10px;"><span style="font-weight: bold;">1. </span>Previous Dentists Name</label>
            <input style="width: 100%; float: left; border: 1px solid #e5e8ea; line-height: 18px; padding: 10px; box-sizing: border-box;" type="text" value="">
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
        <div style="clear: both; display: block; ">
            <label style="width: 100%; float: left; padding: 0 0 10px;"><span style="font-weight: bold;">2. </span>When was the last time you had your teeth cleaned?</label>
            <input style="width: 100%; float: left; border: 1px solid #e5e8ea; line-height: 18px; padding: 10px; box-sizing: border-box;" type="text" value="">
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
        <div style="clear: both; display: block; ">
            <label style="width: 100%; float: left; padding: 0 0 10px;"><span style="font-weight: bold;">3. </span>Do you make regular visits to the dentist?</label>
            <input style="width: 100%; float: left; border: 1px solid #e5e8ea; line-height: 18px; padding: 10px; box-sizing: border-box;" type="text" value="">
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
        <div style="clear: both; display: block; ">
            <label style="width: 100%; float: left; padding: 0 0 10px;"><span style="font-weight: bold;">4. </span>Please explain any problems or complications with previous dental treatment?</label>
            <input style="width: 100%; float: left; border: 1px solid #e5e8ea; line-height: 18px; padding: 10px; box-sizing: border-box;" type="text" value="">
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
        <div style="clear: both; display: block; ">
            <label style="width: 100%; float: left; padding: 0 0 10px;"><span style="font-weight: bold;">5. </span>Have any of your teeth been replaced with the following?</label>
            <label style="width: 100%; float: left; padding: 10px; border: 1px solid #e5e8ea;">Fixed Bridge</label>
            <label style="width: 100%; float: left; padding: 10px; border: 1px solid #e5e8ea;">Removeable Bridge</label>
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
        <div style="clear: both; display: block; ">
            <label style="width: 100%; float: left; padding: 0 0 10px;"><span style="font-weight: bold;">6. </span>Do you clench or grind your teeth?</label>
            <input style="width: 100%; float: left; border: 1px solid #e5e8ea; line-height: 18px; padding: 10px; box-sizing: border-box;" type="text" value="">
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
        <div style="clear: both; display: block; ">
            <label style="width: 100%; float: left; padding: 0 0 10px;"><span style="font-weight: bold;">7. </span>Does your jaw click or pop?</label>
            <input style="width: 100%; float: left; border: 1px solid #e5e8ea; line-height: 18px; padding: 10px; box-sizing: border-box;" type="text" value="">
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
        <div style="clear: both; display: block; ">
            <label style="width: 100%; float: left; padding: 0 0 10px;"><span style="font-weight: bold;">8. </span>Are you experiencing any pain or soreness in the muscles of your face? </label>
            <input style="width: 100%; float: left; border: 1px solid #e5e8ea; line-height: 18px; padding: 10px; box-sizing: border-box;" type="text" value="">
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
        <div style="clear: both; display: block; ">
            <label style="width: 100%; float: left; padding: 0 0 10px;"><span style="font-weight: bold;">9. </span>Do you have frequent headaches, neckaches or shoulder aches?</label>
            <input style="width: 100%; float: left; border: 1px solid #e5e8ea; line-height: 18px; padding: 10px; box-sizing: border-box;" type="text" value="">
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
        <div style="clear: both; display: block; ">
            <label style="width: 100%; float: left; padding: 0 0 10px;"><span style="font-weight: bold;">10. </span>Does food get caught in your teeth?</label>
            <input style="width: 100%; float: left; border: 1px solid #e5e8ea; line-height: 18px; padding: 10px; box-sizing: border-box;" type="text" value="">
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
        <div style="clear: both; display: block; ">
            <label style="width: 100%; float: left; padding: 0 0 10px;"><span style="font-weight: bold;">11. </span>Are any of your teeth sensitive to</label>
            <label style="width: 100%; float: left; padding: 10px; border: 1px solid #e5e8ea;">Hot</label>
            <label style="width: 100%; float: left; padding: 10px; border: 1px solid #e5e8ea;">Cold</label>
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
        <div style="clear: both; display: block; ">
            <label style="width: 100%; float: left; padding: 0 0 10px;"><span style="font-weight: bold;">12. </span>Do your gums bleed or hurt?</label>
            <input style="width: 100%; float: left; border: 1px solid #e5e8ea; line-height: 18px; padding: 10px; box-sizing: border-box;" type="text" value="">
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
        <div style="clear: both; display: block; ">
            <label style="width: 100%; float: left; padding: 0 0 10px;"><span style="font-weight: bold;">13. </span>How often do you brush your teeth?</label>
            <input style="width: 100%; float: left; border: 1px solid #e5e8ea; line-height: 18px; padding: 10px; box-sizing: border-box;" type="text" value="">
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
        <div style="clear: both; display: block; ">
            <label style="width: 100%; float: left; padding: 0 0 10px;"><span style="font-weight: bold;">14. </span>How often do you use dental floss?</label>
            <input style="width: 100%; float: left; border: 1px solid #e5e8ea; line-height: 18px; padding: 10px; box-sizing: border-box;" type="text" value="">
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
        <div style="clear: both; display: block; ">
            <label style="width: 100%; float: left; padding: 0 0 10px;"><span style="font-weight: bold;">15. </span>Are any of your teeth loose, tipped, shifted or chipped?</label>
            <input style="width: 100%; float: left; border: 1px solid #e5e8ea; line-height: 18px; padding: 10px; box-sizing: border-box;" type="text" value="">
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
        <div style="clear: both; display: block; ">
            <label style="width: 100%; float: left; padding: 0 0 10px;"><span style="font-weight: bold;">16. </span>Do you feel your breath is often offensive?</label>
            <input style="width: 100%; float: left; border: 1px solid #e5e8ea; line-height: 18px; padding: 10px; box-sizing: border-box;" type="text" value="">
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
        <div style="clear: both; display: block; ">
            <label style="width: 100%; float: left; padding: 0 0 10px;"><span style="font-weight: bold;">17. </span>Explain any orthodonic work you have had done?</label>
            <input style="width: 100%; float: left; border: 1px solid #e5e8ea; line-height: 18px; padding: 10px; box-sizing: border-box;" type="text" value="">
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
        <div style="clear: both; display: block; ">
            <label style="width: 100%; float: left; padding: 0 0 10px;"><span style="font-weight: bold;">18. </span>Explain any dental work you have had done (Perio, Oral Surgery, etc.)</label>
            <input style="width: 100%; float: left; border: 1px solid #e5e8ea; line-height: 18px; padding: 10px; box-sizing: border-box;" type="text" value="">
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
        <div style="clear: both; display: block; ">
            <label style="width: 100%; float: left; padding: 0 0 10px;"><span style="font-weight: bold;">19. </span>How do you feel about your teeth in general?</label>
            <input style="width: 100%; float: left; border: 1px solid #e5e8ea; line-height: 18px; padding: 10px; box-sizing: border-box;" type="text" value="">
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
        <div style="clear: both; display: block; ">
            <label style="width: 100%; float: left; padding: 0 0 10px;"><span style="font-weight: bold;">20. </span>Additional Information</label>
            <input style="width: 100%; float: left; border: 1px solid #e5e8ea; line-height: 18px; padding: 10px; box-sizing: border-box;" type="text" value="">
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
        <div style="clear: both; display: block; ">
            <label style="width: 100%; float: left; padding: 0 0 10px;"><span style="font-weight: bold;">21. </span>Date of first visit</label>
            <input style="width: 100%; float: left; border: 1px solid #e5e8ea; line-height: 18px; padding: 10px; box-sizing: border-box;" type="text" value="">
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
        <div style="clear: both; display: block; ">
            <label style="width: 100%; float: left; padding: 0 0 10px;"><span style="font-weight: bold;">22. </span>Reason for first visit</label>
            <input style="width: 100%; float: left; border: 1px solid #e5e8ea; line-height: 18px; padding: 10px; box-sizing: border-box;" type="text" value="">
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
        <div style="clear: both; display: block; ">
            <label style="width: 100%; float: left; padding: 0 0 10px;"><span style="font-weight: bold;">23. </span>Date of last (latest) visit</label>
            <input style="width: 100%; float: left; border: 1px solid #e5e8ea; line-height: 18px; padding: 10px; box-sizing: border-box;" type="text" value="">
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
        <div style="clear: both; display: block; ">
            <label style="width: 100%; float: left; padding: 0 0 10px;"><span style="font-weight: bold;">24. </span>Date of last visit</label>
            <input style="width: 100%; float: left; border: 1px solid #e5e8ea; line-height: 18px; padding: 10px; box-sizing: border-box;" type="text" value="">
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
        <div style="clear: both; display: block; ">
            <label style="width: 100%; float: left; padding: 0 0 10px;"><span style="font-weight: bold;">25. </span>Date of next (scheduled visit)</label>
            <input style="width: 100%; float: left; border: 1px solid #e5e8ea; line-height: 18px; padding: 10px; box-sizing: border-box;" type="text" value="">
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
        <div style="clear: both; display: block; ">
            <label style="width: 100%; float: left; padding: 0 0 10px;"><span style="font-weight: bold;">26. </span>Reason for next visit</label>
            <input style="width: 100%; float: left; border: 1px solid #e5e8ea; line-height: 18px; padding: 10px; box-sizing: border-box;" type="text" value="">
        </div>
        <div style="clear: both; display: block; margin-bottom: 15px;"></div>
        <h1 style="padding: 15px;font-size: 24px; color: #fff;font-family: 'Open Sans'; font-weight: 400; background: #002e59; margin: 0 0 15px;">Appointments</h1>
        <h2 style="font-size: 22px; color: #002e59;font-family: 'Open Sans'; font-weight: 400; margin-bottom: 15px;">Future Appointment</h2>
        <div style="height: 1px; background: #ddd; margin: 0 0 15px;"></div>
        <div style="margin: 0 0 15px;">
            <table style="width: 100%;">
                <thead style="background: #f3f5f7; width: 100%; border: 1px solid #e4e6e9;">
                    <tr>
                        <th style="padding: 10px 15px; text-align: left">Doctor</th>
                        <th style="padding: 10px 15px; text-align: left">Date</th>
                        <th style="padding: 10px 15px; text-align: left">Time</th>
                        <th style="padding: 10px 15px; text-align: left">Service Type</th>
                        <th style="padding: 10px 15px; text-align: left">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="padding: 10px 15px; text-align: left">shitu modi</td>
                        <td style="padding: 10px 15px; text-align: left">01/11/2017</td>
                        <td style="padding: 10px 15px; text-align: left">08:30 PM</td>
                        <td style="padding: 10px 15px; text-align: left">Consulting</td>
                        <td style="padding: 10px 15px; text-align: left">Not Confirmed</td>
                    </tr>
                    <tr>
                        <td style="padding: 10px 15px; text-align: left">Adriell Joseph</td>
                        <td style="padding: 10px 15px; text-align: left">11/23/2016</td>
                        <td style="padding: 10px 15px; text-align: left">11:50 PM</td>
                        <td style="padding: 10px 15px; text-align: left">Consulting</td>
                        <td style="padding: 10px 15px; text-align: left">Not Confirmed</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="height: 1px; background: #ddd; margin: 0 0 15px;"></div>
        <h2 style="font-size: 22px; color: #002e59;font-family: 'Open Sans'; font-weight: 400; margin-bottom: 15px;">Past Appointment</h2>
        <div style="height: 1px; background: #ddd; margin: 0 0 15px;"></div>
        <div style="margin: 0 0 15px;">
            <table style="width: 100%;">
                <thead style="background: #f3f5f7; width: 100%; border: 1px solid #e4e6e9;">
                    <tr>
                        <th style="padding: 10px 15px; text-align: left">Doctor</th>
                        <th style="padding: 10px 15px; text-align: left">Date</th>
                        <th style="padding: 10px 15px; text-align: left">Time</th>
                        <th style="padding: 10px 15px; text-align: left">Service Type</th>
                        <th style="padding: 10px 15px; text-align: left">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="padding: 10px 15px; text-align: left">shitu modi</td>
                        <td style="padding: 10px 15px; text-align: left">01/11/2017</td>
                        <td style="padding: 10px 15px; text-align: left">08:30 PM</td>
                        <td style="padding: 10px 15px; text-align: left">Consulting</td>
                        <td style="padding: 10px 15px; text-align: left">Not Confirmed</td>
                    </tr>
                    <tr>
                        <td style="padding: 10px 15px; text-align: left">Adriell Joseph</td>
                        <td style="padding: 10px 15px; text-align: left">11/23/2016</td>
                        <td style="padding: 10px 15px; text-align: left">11:50 PM</td>
                        <td style="padding: 10px 15px; text-align: left">Consulting</td>
                        <td style="padding: 10px 15px; text-align: left">Not Confirmed</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h1 style="padding: 15px;font-size: 24px; color: #fff;font-family: 'Open Sans'; font-weight: 400; background: #002e59; margin: 0 0 15px;">Periodontics </h1>
        <h2 style="font-size: 22px; color: #002e59;font-family: 'Open Sans'; font-weight: 400; margin-bottom: 15px;">Non-Surgical </h2>
        <div style="height: 1px; background: #ddd; margin: 0 0 15px;"></div>
        <div style="margin: 0 0 15px;">
            <table style="width: 100%;">
                <tbody>
                    <tr>
                        <td style="padding: 10px 15px; text-align: left">Scaling and Root Planning </td>
                        <td style="padding: 10px 15px; text-align: left">Scaling and Root Planning - Data</td>
                    </tr>
                    <tr>
                        <td style="padding: 10px 15px; text-align: left">Periodontal Maintenance</td>
                        <td style="padding: 10px 15px; text-align: left">Periodontal Maintenance - data</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h1 style="padding: 15px;font-size: 24px; color: #fff;font-family: 'Open Sans'; font-weight: 400; background: #002e59; margin: 0 0 15px;">Office Communication</h1>
        <div style="background: #f5f6fa; border-radius: 3px; font-size: 16px; padding: 6px 12px 7px; line-height: 30px; font-family: 'Open Sans'; color: #002e59; margin-bottom: 20px;">
            <p style="margin: 0;"><b>Disposition status changed to Left Message 1 by Dr. Brent Boyse Disposition status changed to Left Message 1 by Dr. Brent Boyse</b> <span class="time_date">4/13/2019 1:05 PM</span></p>
            <p style="margin: 0;">Note: The invasive procedure of pulling out a tooth to save the rest of your mouth from infection may already seem like a terrible thing to even think about, but as what healthcare professionals have already established, a dentist’s job is just as important as that of a neurosurgeon.</p>
        </div>
        <div style="background: #f5f6fa; border-radius: 3px; font-size: 16px; padding: 6px 12px 7px; line-height: 30px; font-family: 'Open Sans'; color: #002e59; margin-bottom: 20px;">
            <p style="margin: 0;"><b>Disposition status changed to Left Message 1 by Dr. Brent Boyse</b> <span class="time_date">4/13/2019 1:05 PM</span></p>
            <p style="margin: 0;">Note: The invasive procedure of pulling out a tooth to save the rest of your mouth from infection may already seem like a terrible thing to even think about, but as what healthcare professionals have already established, a dentist’s job is just as important as that of a neurosurgeon.</p>
        </div>
        <div style="background: #58b6ef; border-radius: 3px; font-size: 16px; padding: 6px 12px 7px; line-height: 30px; font-family: 'Open Sans'; color: #fff; margin-bottom: 20px;">
            <p style="margin: 0;">Lorem Ipsum has been the industry's Lorem Ipsum has been the industry's Lorem Ipsum has been the industry's Lorem Ipsum has been the industry's</p>
            <span class="time_date">11:01 AM | Today</span>
        </div>
        <h1 style="padding: 15px;font-size: 24px; color: #fff;font-family: 'Open Sans'; font-weight: 400; background: #002e59; margin: 0 0 15px;">Attachments</h1>
        <div style="background: #002e59; padding: 10px; color: #fff; margin-bottom: 15px;">
            <label>img01.jpg</label><i style="font-size:18px; color: #fff; float: right;" class="fa fa-download"></i>
        </div>
        <div style="background: #002e59; padding: 10px; color: #fff; margin-bottom: 15px;">
            <label>dashboard.png</label><i style="font-size:18px; color: #fff; float: right;" class="fa fa-download"></i>
        </div><div style="clear: both; display: block;"></div>
        <div style="clear: both; display: block;"></div>
        <h1 style="padding: 15px;font-size: 24px; color: #fff;font-family: 'Open Sans'; font-weight: 400; background: #002e59; margin: 0 0 15px;">Text Messenger</h1>
        <div style="background: #f5f6fa; border-radius: 3px; font-size: 16px; padding: 6px 12px 7px; line-height: 30px; font-family: 'Open Sans'; color: #002e59; margin-bottom: 20px;">
            <p style="margin: 0;">Lorem Ipsum has been the industry's Lorem Ipsum has been the industry's Lorem Ipsum has been the industry's Lorem Ipsum has been the industry's Lorem Ipsum has been the industry's</p>
        </div>
        <div style="background: #f5f6fa; border-radius: 3px; font-size: 16px; padding: 6px 12px 7px; line-height: 30px; font-family: 'Open Sans'; color: #002e59; margin-bottom: 20px;">
            <p style="margin: 0;">Lorem Ipsum has been the industry's Lorem Ipsum has been the industry's Lorem Ipsum has been the industry's Lorem Ipsum has been the industry's Lorem Ipsum has been the industry's</p>
        </div>
        <div style="background: #58b6ef; border-radius: 3px; font-size: 16px; padding: 6px 12px 7px; line-height: 30px; font-family: 'Open Sans'; color: #fff; margin-bottom: 20px;">
            <p style="margin: 0;">Lorem Ipsum has been the industry's Lorem Ipsum has been the industry's Lorem Ipsum has been the industry's Lorem Ipsum has been the industry's</p>
        </div>
    </div>
</body>
</html>