﻿@model List<OneClickReferral.Models.ReferralCategory>
@{string Categorybase = string.Empty; string SubCategoryBase = string.Empty;
    string SubCategoryHeaderText = string.Empty;
    string SubSubCategoryHeaderText = string.Empty;
    var aa = string.Empty;
    int k = 0;
}
@try
{

    <div class="row">
        <div class="col-lg-12  btm-margin-30">
            @for (int i = 0; i < Model.Count; i++)
            {

                if (i != 0 && Categorybase != Model[i].CategoryName)
                {
                    @Html.Raw("</tbody>")
                    @Html.Raw("</table>")

                }

                if (Categorybase == Model[i].CategoryName)
                {

                    if (!string.IsNullOrWhiteSpace(Model[i].SubCategoryHeaderText) && Model[i].SubCategoryHeaderText != SubCategoryHeaderText)
                    {
                        @Html.Raw(@"<thead class=""thead-inverse"">")
                        aa = Model[i].SubCategoryHeaderText;
                        <tr>

                            <th colspan="2">@Model[i].SubCategoryHeaderText</th>

                        </tr>
                        SubCategoryHeaderText = aa;
                        @Html.Raw("</thead>")
                    }
                    if (Model[i].SubCategoryName == Model[i].SubSubCategoryHeaderText)
                    {
                        <tr>

                            @if (SubSubCategoryHeaderText != Model[i].SubSubCategoryHeaderText)
                            {
                                @Html.Raw(@"<td colspan=2"">")
                                @Html.Raw(@"<table class=""table table-bordered table1"">")
                                @Html.Raw(@"<thead class=""thead-inverse"">")
                                @Html.Raw(@"<tr>")
                                var check = Model[i].SubSubCategoryHeaderText;
                                <th colspan="2">@Model[i].SubSubCategoryName</th>
                                SubSubCategoryHeaderText = check;
                                @Html.Raw(@"</tr>")
                                @Html.Raw("</thead>")
                                @Html.Raw("<tbody>")
                                @Html.Raw(@"<tr>")
                                <td>@Model[i].SubSubCategoryName</td>
                                <td>@Model[i].SubSubCategoryValue</td>
                                @Html.Raw(@"</tr>")
                                @Html.Raw("</tbody>")
                                @Html.Raw("</table>")
                                @Html.Raw(@"</td>")
                            }
                        </tr>

                    }
                    else
                    {
                        <tr>
                            <td>@Model[i].SubCategoryName</td>
                            <td>@Model[i].SubCategoryValue</td>
                        </tr>

                    }

                }
                else
                {

                    @Html.Raw(@"<table class=""table table-bordered table1"">")
                    @Html.Raw(@"<thead class=""thead-inverse"">")
                    k++;
                    if (Categorybase != Model[i].CategoryName)
                    {
                        var dd = Model[i].CategoryName;
                        <tr>
                            <th colspan="2">@Model[i].CategoryName</th>
                        </tr>
                        Categorybase = dd;
                    }

                    if (!string.IsNullOrWhiteSpace(Model[i].SubCategoryHeaderText) && Model[i].SubCategoryHeaderText != SubCategoryHeaderText)
                    {
                        aa = Model[i].SubCategoryHeaderText;
                        <tr>

                            <th colspan="2">@Model[i].SubCategoryHeaderText</th>

                        </tr>
                        SubCategoryHeaderText = aa;
                    }
                    @Html.Raw("</thead>")
                    @Html.Raw("<tbody>")
                    if (Model[i].SubCategoryName == Model[i].SubSubCategoryHeaderText)
                    {
                        <tr>
                            @if (SubSubCategoryHeaderText != Model[i].SubSubCategoryHeaderText)
                            {
                                var check = Model[i].SubSubCategoryHeaderText;
                                <th colspan="2">@Model[i].SubSubCategoryName</th>
                                SubSubCategoryHeaderText = check;
                            }

                            <td>@Model[i].SubSubCategoryName</td>
                            <td>@Model[i].SubSubCategoryValue</td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>@Model[i].SubCategoryName</td>
                            <td>@Model[i].SubCategoryValue</td>
                        </tr>
                    }
                }
            }
            @if (k > 0)
            {
                @Html.Raw("</tbody>")
                @Html.Raw("</table>")
            }
        </div>
    </div>
}
catch (Exception Ex)
{

    <div class="row">
        <div class="col-lg-12  btm-margin-30">
            @Html.Partial("_PartialError")
        </div>
    </div>
    Common.LogError(Ex);
}


