@model OneClickReferral.Models.ReferralMessage
@using OneClickReferral.App_Start
@{
    Layout = null;
}

@try
{

    foreach (var lst in Model.ReferralMessageList)
    {
        <div class="col-lg-12 mail-header">
            <div class="btm-margin-20">
                @if (!lst.PatientStatus)
                {
                    <h2><a href="/Patients/PatientHistory?PatientId=@lst.PatientId" style="color:rgb(75, 171, 209);text-decoration: none;">@lst.FullName</a></h2>
                }
                else
                {
                    <h2>@lst.FullName</h2>
                }
            </div>
            <div class="user">
                @if (!lst.PatientStatus)
                {
                    <a href="/Patients/PatientHistory?PatientId=@lst.PatientId"><img src="@lst.ProfileImage" width="50" height="50" alt="@lst.FullName"></a>
                }
                else
                {
                    <a href="javascript:;" style="cursor: default;"> <img src="@lst.ProfileImage" width="50" height="50" alt="@lst.FullName"></a>
                }
            </div>

            <div class="mail-header-holder mrgn-btm-20">
                <dl class="mail-det-list patient-history" style="width:50%">
                    @if (!string.IsNullOrWhiteSpace(lst.AssignedPatientId))
                    {
                        <dt>Id:</dt>
                        <dd><time>&nbsp;@lst.AssignedPatientId</time></dd>
                    }
                    @if (!string.IsNullOrWhiteSpace(lst.Gender))
                    {
                        <dt>Gender:</dt>
                        <dd>@lst.Gender</dd>
                    }
                    @if (!string.IsNullOrWhiteSpace(lst.DateOfBirth))
                    {
                        {
                            <dt>Date of Birth:</dt>
                            <dd>@lst.DateOfBirth</dd>
                        }
                    }
                    <dt>Referred by:</dt>
                    <dd>&nbsp;<a href="/Profile/ViewProfile?id=@lst.SenderId">@lst.SenderName</a></dd>

                    <dt>Referred to:</dt>
                    <dd>&nbsp;<a href="/Profile/ViewProfile?id=@lst.ReceiverID">@lst.ReceiverName</a></dd>

                    <dt>Referral sent date:</dt>
                    <dd><time>&nbsp;@lst.CreationDate</time></dd>

                    @if (!string.IsNullOrWhiteSpace(lst.Location))
                    {
                        <dt>Location:</dt>
                        <dd>&nbsp;@lst.Location</dd>
                    }
                </dl>
                <dl class="mail-det-list">

                    @if (!string.IsNullOrWhiteSpace(lst.FullAddress))
                    {
                        <dt>Address:</dt>
                        <dd>@lst.FullAddress</dd>
                    }


                    @if (!string.IsNullOrWhiteSpace(lst.City))
                    {
                        <dt>City:</dt>
                        <dd>@lst.City</dd>
                    }

                    @if (!string.IsNullOrWhiteSpace(lst.State))
                    {
                        <dt>State:</dt>
                        <dd>@lst.State</dd>
                    }
                    @if (!string.IsNullOrWhiteSpace(lst.Zipcode))
                    {
                        <dt>Zip:</dt>
                        <dd>@lst.Zipcode</dd>
                    }
                    @if (!string.IsNullOrWhiteSpace(lst.Phone))
                    {
                        var umphone = lst.Phone.Replace(")", "").Replace("(", "").Replace("-", "").Replace("+", "").Replace(" ", "");
                        <dt>Phone:</dt>
                        <dd><a href="tel:@umphone">@lst.Phone</a></dd>
                    }
                    @if (!string.IsNullOrWhiteSpace(lst.EmailAddress))
                    {
                        if (!lst.EmailAddress.Contains("@domain.com"))
                        {
                            <dt>Email:</dt>
                            <dd><a href="mailto:@lst.EmailAddress">@lst.EmailAddress</a></dd>
                        }
                    }
                </dl>
            </div>
        </div>
        @*</div>*@
if (string.IsNullOrWhiteSpace(lst.RegardOption))
{
    if (Model.ReferralCategory != null && Model.ReferralCategory.Count > 0)
    {
        @Html.Partial("GetPartialViewForReferralCategory", Model.ReferralCategory)
    }
}
else
{
    <div class="row btm-margin-30">
        <div class="col-lg-12">
            <h4 class="heading-bar blue mrgn-btm-20 txt-dark-gray">Request</h4>
        </div>
        <div class="col-lg-12">
            <p><strong>Pathology</strong></p>

            @{
                string[] strRequest = lst.RequestingOption.Split(new char[] { ',' }, StringSplitOptions.RemoveEmptyEntries);
                foreach (String item in strRequest)
                {
                    if (!string.IsNullOrEmpty(item))
                    {
                        if ((Common.SafeInteger(item) - 1) < lst.ReferralRequest.Length)
                        {
                            <p><strong>@lst.ReferralRequest[Common.SafeInteger(item) - 1]</strong></p>
                        }

                    }
                }
            }
            @if (!String.IsNullOrEmpty(lst.RequestComments))
            {
                <p><strong>@lst.RequestComments</strong></p>
            }
        </div>
    </div>
                }

                if (lst.lstImages.Count > 0 || lst.lstDocuments.Count > 0)
                {
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="bar">
                                <p>
                                    Attachments:
                                    <a href="javascript:;" onclick='Redirect("/Common/DownloadAllAttachmentofReferral?ReferralCardId=@lst.ReferralCardId&PatientId=@lst.PatientId")'>Download All Attachments</a>
                            </div>
                            <ul class="attachment-list">
                                @if (lst.lstImages.Count > 0)
                                {
                                    @Html.Partial("PatialFileuploadedForReferral", lst.lstImages)
                                }
                                @if (lst.lstDocuments.Count > 0)
                                {
                                    @Html.Partial("PatialFileuploadedForReferral", lst.lstDocuments)
                                }
                            </ul>
                        </div>
                    </div>

                }
                if (!string.IsNullOrWhiteSpace(lst.Comments))
                {
                    <div class="row mrgn-btm-15">
                        <div class="col-lg-12">
                            <h4 class="sky-blue mrgn-btm-10">Comments</h4>
                            <div class="row row-bordered mrgn-btm-10"></div>
                            <div id="">
                                <p class="txt-dark-gray">@Html.Raw(lst.Comments.Replace("\n", "<br/>"))</p>
                            </div>
                        </div>
                    </div>
                }
                <div class="row">
                    <div class="col-lg-12">
                        <div class="reply-holder" id="replayportion">
                            <div class="user">
                                <img class="img-circle" src="@SessionManagement.DoctorImage" width="50" height="50" alt='@SessionManagement.FirstName'>
                            </div>
                            <div class="text-holder" action="#">
                                <div class="inner-box">
                                    <p>Click here to <a href="javascript:void(0)" onclick="getcomposeview(@lst.MessageId,'@ViewBag.CurrentLink')">Reply</a></p>
                                </div>
                            </div>
                        </div>
                        <div id="composeview" class="comosedetail">
                        </div>
                    </div>
                </div>
                @*</div>
                        </div>
                    </main>*@
                }

                <script src="~/Scripts/ControllerJS/Inbox/GetMessageDetails.js"></script>


                }
                catch (Exception Ex)
                {
                    <div class="col-lg-12 mail-header">
                        <div class="btm-margin-20">
                            @Html.Partial("_PartialError")
                        </div>
                    </div>
                    Common.LogError(Ex);
                }
