﻿@model List<OneClickReferral.Models.OneClickReferralDetails>
@{
    ViewBag.Title = " Referrals";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
@section styles {
    <style>
        .rl_dashboard h3 {
            background: #0087c0;
            font-size: 14px;
            padding: 3px;
            line-height: 24px;
            color: #fff;
        }
        .nav li {
            cursor: pointer;
        }
        .admin_section #header {
            display: block;
        }
        /*.select2-container--open {
            border: 1px solid #e5e8ea !important;
        }*/
        .select2-container--focus {
            border: 1px solid #e5e8ea !important;
        }
        .select2-container--default .select2-selection--multiple {
            border: 1px solid #e5e8ea !important;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="~/Content/css/select2.min.css" />
}
<div class="container">
    <div class="new-case case-overview patinet list_patients rl_dashboard">
        <div class="mrgn-btm-20">
            <div class="row">
                <form role="form" action="#">
                    <div class="row">
                        <div class="col-lg-12">
                            <table class="table table3 filtered-table">
                                <thead class="thead-inverse" id="thead-inverse">
                                    <tr>
                                        <th>
                                            <span class="heading" style="cursor:pointer;" onclick="SortColumn('msgColumn1')">Date</span>
                                            <div class="arrows-group">
                                                <a id="msgColumn1" onclick="SortColumn('msgColumn1')" sort-col="6" sort-dir="1"><i class="ico-arrow-up"></i></a>
                                                <a id="msgColumn1" onclick="SortColumn('msgColumn1')" sort-col="6" sort-dir="1"><i class="ico-arrow-down"></i></a>
                                            </div>                                           
                                        </th>
                                        <th>
                                            <span class="heading" style="cursor:pointer;" onclick="SortColumn('msgColumn4')">Patient</span>
                                            <div class="arrows-group">
                                                <a id="msgColumn4" onclick="SortColumn('msgColumn4')" sort-col="3" sort-dir="1"><i class="ico-arrow-up"></i></a>
                                                <a id="msgColumn4" onclick="SortColumn('msgColumn4')" sort-col="3" sort-dir="1"><i class="ico-arrow-down"></i></a>
                                            </div>                                        
                                        </th>
                                        <th>
                                            <span class="heading textchange" style="cursor:pointer;" onclick="SortColumn('msgColumn5')">Referred By/To</span>
                                        </th>
                                        <th>
                                            <span class="heading" style="cursor:pointer;" onclick="SortColumn('msgColumn2')">Message</span>
                                            <div class="arrows-group">
                                                <a id="msgColumn2" onclick="SortColumn('msgColumn2')" sort-col="5" sort-dir="1"><i class="ico-arrow-up"></i></a>
                                                <a id="msgColumn2" onclick="SortColumn('msgColumn2')" sort-col="5" sort-dir="1"><i class="ico-arrow-down"></i></a>
                                            </div>                                           
                                        </th>                                      
                                        <th>
                                            <span class="heading">Coordinator</span>                                          
                                        </th>                                   
                                        <th>
                                            <span class="heading">Disposition Status</span>                                           
                                        </th>
                                        <th>
                                            <span class="heading">Action </span>                                           
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="" id="refData"></tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<input type="hidden" name="PageIndex" id="PageIndex" value="1" />
<input type="hidden" name="currentSortCol" id="currentSortCol" value="6" />
<input type="hidden" name="SortDirct" id="SortDirct" value="1" />
<input type="hidden" name="PageSizeSet" id="PageSizeSet" value="50" />
<div class="modal fade" id="Message_delete" role="dialog" style="z-index:9999;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center center">

                    <p class="mrgn-btm-0" style="margin: 0;" id="desc_message"></p>
                </div>
                <div class="modal-footer bdr-top-no">
                    <div class="btn-group btn-holder">
                        <button type="button" class="btn btn-default btn1" id="btn_no" data-dismiss="modal">No</button>
                        <button type="button" class="btn btn-default btn2 blue-bg mrgn-right-0" id="btn_yes">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" name="hdnReferralFrom" id="hdnReferralFrom" value="" />
<div class="modal fade" id="cnfSendReceive" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center center">
                    <p class="mrgn-btm-0">Choose your section</p>
                </div>
                <div class="modal-footer bdr-top-no text-align-center">
                    <div class="btn-group btn-holder">
                        <button type="button" class="btn btn-default btn1" id="btn_send">Referrals Sent</button>
                        <button type="button" class="btn btn-default btn2 blue-bg mrgn-right-0" id="btn_Receive">Referrals Received</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="add-Note" role="dialog" style="z-index:9999;">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header blue-bg">
                <button type="button" class="close close-circle" onclick="removeScheduledDate();" data-dismiss="modal">&times;</button>
                <h3 class="modal-title white">Add Disposition Note</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group mrgn-btm-20">
                            <div class="col-lg-6 col-md-6">
                                <label>Note:</label>
                            </div>                            
                            <textarea id="txtNote" rows="5" class="form-control"></textarea>
                            <label id="txtScheduledDate" class="datepicker plancase" style="display:none"> Select Scheduled Date <i class="fa fa-calendar"></i></label>                            
                            <label id="spScheduledDate" style="padding-top: 4px;"></label>
                            <i class="ico-corss2" id="spRemoveScheduledDate"  onclick="removeScheduledDate();" style="display:none;cursor:pointer;margin-top: 4px" title="Remove scheduled date"></i>
                                                    
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group mrgn-btm-20">
                            <div id="dvChkPat">
                                <input type="checkbox" id="chkPat" class="form-control">
                                <label id="lblPat">Visible to patient</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group mrgn-btm-20">
                            <div id="dvChkDoc">
                                <input type="checkbox" id="chkDoc" class="form-control" checked>
                                <label id="chkDoc">Visible to referring doctor</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer bdr-top-no">
                <div class="btn-group btn-holder">
                    <button type="button" id="btn_nofor" class="btn btn-default btn1"><i class="ico-corss2"></i>Cancel</button>
                    <button type="button" id="btn_yesfor" class="btn btn-default btn2 blue-bg mrgn-right-0"><i class="ico-save"></i>Save</button>
                    <input type="hidden" id="MessageId" value="" />
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/select2.min.js"></script>
    <script src="~/Content/Dashboard/js/jquery.toaster.js"></script>
    <script src="~/Content/Dashboard/js/jcf.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#ddlDisposition").select2({
                //minimumInputLength: 1,
                multiple: true,
                closeOnSelect: false,
                placeholder: "Select Disposition"
            });
            $("#inbox").addClass('active').siblings().removeClass('active');
            if ('@ViewBag.Sent' == 'True' && '@ViewBag.Receiver' == 'True') {
                //$('#cnfSendReceive').modal('show');
                //$('#cnfSendReceive').modal({ backdrop: 'static', keyboard: false })
                ChangeAll();
            } else if ('@ViewBag.Sent' == 'True') {
                ChangeSent();
            } else if ('@ViewBag.Receiver' == 'True') {
                ChangeReceive();
            } else {
                ChangeAll();
            }
            SetDispostionStatus();
            $("#txtSearchFromDate").datepicker({
                //todayBtn: 1,  -- Commented this line for JIRA XQ1-269
                autoclose: true,
                // NSM-53 related change
                startDate: '01/01/2000',
                endDate: new Date(),

                "showButtonPanel": false
            }).on('changeDate', function (selected) {
                _searchData();
                var minDate = new Date(selected.date.valueOf());
                $('#txtSearchToDate').datepicker('setStartDate', minDate);
            });
            var FromEndDate = new Date();
            $("#txtSearchToDate").datepicker({
                //todayBtn: 1,  -- Commented this line for JIRA XQ1-269
                autoclose: true,
                // NSM-53 related change
                startDate: '01/01/2000',
                //RM-273 related changes
                endDate: FromEndDate,
                "showButtonPanel": false
            }).on('changeDate', function (selected) {
                _searchData();
                var maxDate = new Date(selected.date.valueOf());
                $('#txtSearchFromDate').datepicker('setEndDate', maxDate);
            });
            // Jira  XQ1-887
            $("#txtScheduledDate").datepicker({
                autoclose: true,
                format: 'dd/mm/yyyy',
                startDate: new Date(),
                "showButtonPanel": false
            }).on('changeDate', function (selected) {
                $('#spScheduledDate').text(selected.date.toLocaleDateString()),
                $("#spRemoveScheduledDate").css("display", "inline-block");
            });
        });
    </script>
    <script src="~/Scripts/ControllerJS/Dashboard/Dashboard.js"></script>
}
