﻿@{
    string strInActiveMsg = string.IsNullOrEmpty(ViewBag.InActiveMsg) ? TempData["InActiveMsg"] : ViewBag.InActiveMsg ;
    string strIsValid = string.IsNullOrEmpty(ViewBag.IsValid) ? TempData["IsValid"] : ViewBag.IsValid;
}
<!DOCTYPE html>
<html>
<head>
    <style>
        input:required
         {
            border-color: red !important;
        }
		


    </style>
    <meta charset="UTF-8">
    <title>RecordLinc - Referrals | Scheduling | Forms | Secure Messages | Patient Portal</title>
    <link rel="icon" href="~/Content/css/HomePage/images/fav-ico.png" type="image/x-icon">
    <link rel="stylesheet" href="~/Content/css/Newloginstyle.css">
</head>
<body>
    <!-- <div class="loginmainpage"> -->
    <div class="maindevpage">
        <div class="mainleft">
            <div class="loginleft">
                <div style="text-align:center;"><a href="/User"><img src="~/Content/images/NewLoginImages/logo.png"></a></div>
                <div class="form">
                    <h2 style="text-align:left;font-size: 20px;font-weight: 100;color: #666;">Sign In</h2>
                    @using (Html.BeginForm("Login", "User", FormMethod.Post, new { id = "frmlogin", name = "login" }))
                    {
                        string cookie_username = string.Empty;
                        if (Request.Cookies["UserCredential"] != null)
                        {
                            cookie_username = Request.Cookies["UserCredential"].Value;
                        }
                        <input type="text" placeholder="Username" name="UserName" onkeyup="RemoveValid()" value="@(!string.IsNullOrWhiteSpace(cookie_username) ? cookie_username : "" )" id="txtEmail_UserName" tabindex="1" />
                        <label id="emailRequired" style="color:red;float: left;margin-bottom: 8px;display:none;">Username field is required.</label>                        
                        <input type="password" placeholder="Password" name="password" tabindex="2" id="txtPassword" />
                        <label id="pwdRequired" style="color:red;float: left;margin-bottom: 8px;display:none;">Password field is required.</label>
                        <label id="Isvalid" style="color:red;float: left;padding:5px;margin-bottom: 8px;display:none;">Invalid username or password</label>
                        <label id="IsActive" style="color:red;float: left;padding:5px;margin-bottom: 8px;display:none;">@strInActiveMsg</label>
                        <button onclick="return Login()" id="btnsubmit">login</button>
                        <input type="hidden" id="hdnemail" name="hdnemail" />
                        <input type="hidden" id="hdnCount" name="Count" />
                        <input type="hidden" id="hdnuserid" name="userid" />
                        <input type="hidden" name="DTPMKC" id="DTPMKC" />

                        <div class="remember">
                            <input id="saveCerdiential" style="width:10px;float: left; margin-top: 2px;" name="rememberme" type="checkbox">
                            <label class="rememberlabel" for="rememberme">Remember me</label>
                            <a target="_blank" href='@Url.Action("PrivacyPolicy", "Faq")' style="float: right;">Our Privacy Policy</a>
                        </div>
                        <div class="Forgotmain">
                            <div class="Forgotleft"><a href="javascript:;" onclick="validateLogin2()">Forgot Your Password?</a></div>
                            <div class="Forgotright"><a href="@Url.Action("Index", "Signup")">Sign Up Now</a></div>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="mainright">
            <div class="loginright">
                <h1 class="videotital">Watch the Overview of Recordlinc</h1>
                <img src="~/Content/images/NewLoginImages/video-rec.png" class="devimg" />
                <div class="videobar">
                    @*<iframe src="https://www.youtube.com/embed/ky1IFi5vhi4%22" frameborder="0" allowfullscreen></iframe>*@
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/ky1IFi5vhi4?rel=0&amp;showinfo=0" [^] frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="Trainingmain">

                    <a href="/Dashboard/help"><button class="Training" name="button">More Training</button></a>
                    <a href="/ContactUs"><button class="contact" name="button">Contact Us</button></a>
                </div>
            </div>
        </div>
    </div>
    <!-- </div> -->
</body>
</html>
<script src="~/Content/js/jquery-1.9.1.js"></script>
<script type="text/javascript" language="javascript">
    $(document).ready(function () {               
        var ak = '@strIsValid';
        var newinvalid = 'Invalid';

        if (ak == newinvalid) {
            $("#Isvalid").css('display', 'block');
            $('#txtEmail_UserName').val('@ViewBag.UserName');
            $("#txtPassword").prop('required', true);
            $('#txtPassword').focus();
        }

        if (ak == 'InActive') {
            $("#IsActive").css('display', 'block');
            $('#txtEmail_UserName').val('@ViewBag.UserName');
            $("#txtPassword").prop('required', true);
            $('#txtPassword').focus();
        }
    });

    function RemoveValid() {
        $("#txtEmail_UserName").prop('required', false);
        $("#emailRequired").hide();
        $("#txtPassword").prop('required', false);
        $("#pwdRequired").hide();
    }

    function getParameterByName(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.search);
        return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }
    function Login() {
        
        $("#Isvalid").css('display', 'none');
        $("#txtEmail_UserName").prop('required', false);
        $("#txtPassword").prop('required', false);
        $("#txtEmail_UserName").prop('placeholder', 'Username');
        $("#txtPassword").prop('placeholder', 'Password');
        var UserName = document.getElementById("txtEmail_UserName").value;
        var Password = document.getElementById("txtPassword").value;
        var count = getParameterByName('Count');
        var userid = getParameterByName('userid');

        if (userid != null && userid != "") {
            document.getElementById("hdnuserid").value = userid;
        }

        if (count != null && count != "") {
            document.getElementById("hdnCount").value = count;
        }
        else {
            document.getElementById("hdnCount").value = 0;
        }

        if (UserName == "" || UserName == "Doctor login/email") {
            //alert("Please Enter Email");
            //$("#RequerdUsername").css('display', 'block');
            $("#txtEmail_UserName").prop('required', true);
            $("#txtEmail_UserName").prop('placeholder', 'Username');
            $("#emailRequired").show();
            document.getElementById("txtEmail_UserName").focus();
            return false;
        }
        else {

            if (UserName == "greg") {

            }
            else if (UserName == "admin") {

            }
            else {
                var result = true; //IsEmail(UserName);

                if (result != true) {
                    $("#txtEmail_UserName").prop('required', true);
                    $("#txtEmail_UserName").prop('placeholder', 'Username');
                    $("#emailRequired").show();
                    document.getElementById("txtEmail_UserName").focus();
                    return false;
                }
            }

        }

        if (Password == "" || Password == "Password") {            
            $("#txtPassword").prop('required', true);
            $("#txtPassword").prop('placeholder', 'Password');
            $("#pwdRequired").show();
            document.getElementById("txtPassword").focus();
            return false;
        }
        $("#frmlogin").submit();
    }
    function DefaultClick(event) {

        if (event.keyCode == 13) {
            $('#btnsubmit').click();
        }

        $('#txtEmail_UserName').val($('#txtEmail_UserName').val().toLowerCase());
    }
    function validateLogin2() {
        
        if (document.getElementById("txtEmail_UserName").value == "" || document.getElementById("txtEmail_UserName").value == "Doctor login/email") {
            $("#txtEmail_UserName").prop('required', true);
            $("#emailRequired").show();
            document.getElementById("txtEmail_UserName").focus();
            return false;
        }
        if (document.getElementById("txtEmail_UserName").value != "" || document.getElementById("txtEmail_UserName").value != "Doctor login/email") {
            var result = $("#txtEmail_UserName").val();
            if (result != "") {
                document.getElementById("hdnemail").value = document.getElementById("txtEmail_UserName").value;
                $("#frmlogin").submit();

            }
            else {
                // alert('Please Enter Valid Email Id');
                $("#txtEmail_UserName").prop('required', true);
                $("#emailRequired").show();
                document.getElementById("txtEmail_UserName").focus();
                return false;
            }

        }

    }

</script>