﻿@model BO.Models.Login
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/NewSiteLayout.cshtml";
    string strInActiveMsg = string.IsNullOrEmpty(ViewBag.InActiveMsg) ? TempData["InActiveMsg"] : ViewBag.InActiveMsg;
    string strIsValid = string.IsNullOrEmpty(ViewBag.IsValid) ? TempData["IsValid"] : ViewBag.IsValid;
}
@section styles{
    <link href="~/Content/Final/css/all.css" rel="stylesheet" />
}
<main id="main">
    <section class="section-sign-up section-login">
        <div class="container">
            <h1>Login</h1>
            <div class="sign-up-from">
                @using (Html.BeginForm("Login", "User", FormMethod.Post, new { id = "frmlogin", name = "login" }))
                {
                    <div id="required" class="alert alert-danger">
                        Please enter email address.
                    </div>
                    <div id="Isvalid" class="alert alert-danger">
                        Invalid username or password
                    </div>
                    <div id="IsActive" class="alert alert-danger">@strInActiveMsg</div>
                    <div class="form-group">
                        @{
                            string cookie_username = string.Empty;
                            if (Request.Cookies["UserCredential"] != null)
                            {
                                cookie_username = Request.Cookies["UserCredential"].Value;
                            }
                        }
                        @Html.LabelFor(m => m.UserName, new { @for = "user name", @value = (!string.IsNullOrWhiteSpace(cookie_username) ? cookie_username : "") })
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.UserName)
                        @Html.Hidden("hdnRedirectURL",TempData["RedirectURLForOCR"])
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @for = "pwd" })
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                    <div class="form-group form-checkbox-group">
                        <label class="control control--checkbox">
                            Remember me
                            @*<input type="checkbox" />*@
                            <input id="saveCerdiential" class="checkbox" name="CheckBoxRemember" type="checkbox" />
                            <div class="control__indicator"></div>
                        </label>
                        <span class="forgot-pass"><a href="javascript:;" onclick="forgotpassword();">Forgot Your Password?</a></span>
                    </div>

                    <button type="submit" class="btn btn-default" onclick="login();">Login</button>
                            }
                <div class="sign-up-btn text-right">
                    <a href="/Signup">Sign Up Now</a>
                </div>
            </div>
        </div>
    </section>
</main>
@using (Html.BeginForm("ForgetPassword", "Login", FormMethod.Post, new { id = "frmforgot", name = "login" }))
{
    <input type="hidden" id="hdnemail" name="hdnemail" />
}
@section scripts{
<script type="text/javascript">
    $(document).ready(function () {

         var ak = '@strIsValid';
        var newinvalid = 'Invalid';

        if (ak == newinvalid) {
            $("#Isvalid").css('display', 'block');
            setTimeout(function () {
                $("#Isvalid").hide();
            }, 4000)
        }

        if (ak == 'InActive') {
            $("#IsActive").css('display', 'block');
            setTimeout(function () {
                $("#IsActive").hide();
            }, 4000)
        }
    });
    $("#frmlogin").submit(function (evt) {
         return $(this).valid();
    });
    function forgotpassword() {
        var Email = $("#UserName").val();
        if (Email != "" && Email != null) {
            $("#hdnemail").val(Email);
            $("#frmforgot").submit();
        }
        else {
            $("#required").show();
            $("#UserName").focus();
            setTimeout(function () {
                $("#required").hide();
            }, 1000)
        }
    }
</script>
    }
