﻿@{
    ViewBag.Title = "Forgot password";
    Layout = "~/Views/Shared/SiteLayout.cshtml";


}
@model NewRecordlinc.Models.User.mdlForgotPassword
<style type="text/css">
    #register-form label {
        color: Red;
        font-size: 15px;
        font-weight: bold;
        line-height: 15px;
    }
</style>
<script type="text/javascript">
    function ValidateEmail() {
        var result = IsEmail($("#txtemail").val());
        if (result == true) {
            ShowProcessbar();
            $.post("/User/ForgotPassword", { Email: $("#txtemail").val() }, function (data) {
                if (data != null && data != "") {
                    if (data == "2") {
                        $("#divLoading").hide();
                        //alert('Your account was de-activated due to inactivity. We have emailed you a link to re-activate your account. Please check your email and if you did not receive our email within a few minutes please check your spam folder.');
                        swal({
                            title: "",
                            text: "Your account was de-activated due to inactivity. We have emailed you a link to re-activate your account. Please check your email and if you did not receive our email within a few minutes please check your spam folder.",
                            showConfirmButton: true,
                            closeOnConfirm: true
                        },
                        function(){
                            window.location.href = document.location.origin;
                        });
                    }
                    else if (data == "3") {
                        $("#divLoading").hide();
                        swal({
                            title: "",
                            text: "Your account has been blocked by Admin.",
                            showConfirmButton: true,
                            closeOnConfirm: true
                        },
                        function(){
                            window.location.href = document.location.origin;
                        });
                    }
                    else {
                        $("#divLoading").hide();
                        swal({
                            title: "",
                            text: data,
                            showConfirmButton: true,
                            closeOnConfirm: true
                        },
                        function(){
                            window.location.href = document.location.origin;
                        });

                    }

                }

            });

        }
        else {
            // alert('Please Enter Valid Email Id');
            swal({ title: "", text: 'Please enter valid email id' });
            document.getElementById("txtemail").focus();
            return false;
        }




    }

    $(document).ready(function () {


        $("#btnsave").click(function () {
            $("#register-form").submit();
        });

    });
    /**
    * Basic jQuery Validation Form Demo Code
    * Copyright Sam Deering 2012
    * Licence: http://www.jquery4u.com/license/
    */
    (function ($, W, D) {
        var JQUERY4U = {};

        JQUERY4U.UTIL =
    {
        setupFormValidation: function () {
            //form validation rules
            $("#register-form").validate({
                rules: {

                    txtemail: {
                        required: true,
                        email: true
                    }

                },
                messages: {

                    txtemail: "Please enter a valid email address"

                },
                submitHandler: function (form) {
                    form.submit();
                }
            });
        }
    }

        //when the dom has loaded setup form validation rules
        $(D).ready(function ($) {
            JQUERY4U.UTIL.setupFormValidation();
        });

    })(jQuery, window, document);
</script>
<!-- InnerPage starts here -->
<section id="inner">

    <div class="container">
        <div class="content">
            <div id="DivlblSuccess" class="alert alert-success fade in" style="display: none;
                                        width: 571px; margin-left: 12px; padding-bottom: 0px; padding-top: 0px;">
                <p style="text-align: center;">
                    <span id="lblSuccess"></span>
                </p>
            </div>
            <div id="DivlblError" class="alert alert-error fade in" style="display: none;
                                        width: 571px; margin-left: 12px; padding-bottom: 0px; padding-top: 0px;">
                <p style="text-align: center;">
                    <span id="lblError"></span>
                </p>
            </div>
        </div>
        <div id="pnlforgetpass" onkeypress="javascript:return WebForm_FireDefaultButton(event, &#39;btnSubmit&#39;)">

            <div class="content">
                <h2 class="title">Forgot Password</h2>
                <div class="textpanel">
                    <div class="forgot_pswd">
                        <div class="text">
                            <p>
                                LOST YOUR PASSWORD? PLEASE ENTER YOUR EMAIL ADDRESS. 
                                YOU WILL RECEIVE A LINK TO CREATE A NEW PASSWORD VIA EMAIL.
                            </p>
                        </div>
                        <div class="bottom"></div>
                    </div>

                    <label class="error" for="Title2" generated="true"></label>


                    @Html.TextBoxFor(t => t.Email, new { id = "txtemail", @placeholder = "Username or Email", @class = "textfield", @style = "width:67.4%" })


                    <input type="submit" value="Submit" id="btnsave" class="reset_pswd" style="border: none" onclick="ValidateEmail()" />


                </div>

            </div>

        </div>
        <div class="aside">
            <a class="advert" href='@Url.Action("Index", "Signuptoday")'><img class="inline mb40 border" src="../../Images/inner/recordlinc-pro.jpg" alt="RecordLic Pro at $47 for limited time"></a><a class="advert" href="Javascript:;" onclick="SearchDatabase()"><img class="inline" src="../../Images/inner/search-database.jpg" alt="Grow your practice by expanding your professional network"></a>
        </div>

        <div class="clear"></div>
    </div>
</section>
<!-- InnerPage starts ends here -->
