﻿@model DentalFiles.Models.RequiredFieldForReqInfo
@{
    ViewBag.Title = "Quick Tour";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}
<script>
    $(document).ready(function () {
        $(function () {
            $("#index").removeClass("current");
            $("#aboutus").removeClass("current");
            $("#contactus").removeClass("current");
            $("#quicktour").addClass("current");
        });
    });
</script>
<div class="grid_11">
    <div class="paragraph">
        <h3>
            MyDentalFiles is made up of four main areas:</h3>
           @* href="@Url.Action("Index", "PatientLogin")?returnUrl=MyInbox"*@
        <div class="list_panel">
            <ul id="points">
                <li><a  onclick="window.open('/html/my_inbox.html','_blank')">My Inbox</a> is
                    for receiving secure messages, letters, and referrals from your dentist.</li>
                <li><a  onclick="window.open('/html/patient_history.html','_blank')">My Info</a> is
                    where you update your info and electronic dental forms (eForms).</li>
                <li><a  onclick="window.open('/html/treating_docs.html','_blank')">My Treating
                    Doctors</a> is where you can add treating doctors, send messages and referrals.</li>
                <li><a  onclick="window.open('/html/dental_files.html','_blank')">My Dental Files</a>
                    provides you secure access to your dental records, so you can be more informed and
                    reduce the number of x-rays taken.</li>
            </ul>
        </div>
        <h6>
            Click on the below icons to see more:</h6>
           @* href="@Url.Action("Index", "PatientLogin")?returnUrl=MyInbox"*@
        <div id="abt_icons" class="backrend_listing mydental_dashboard_list">
            <ul>
                <li><a onclick="window.open('/html/my_inbox.html','_blank')"><span class="myinbox_mydental">
                </span><span>My Inbox</span></a></li>
                <li><a onclick="window.open('/html/patient_history.html','_blank')"><span class="myinfo_mydental">
                </span><span>My Info</span></a></li>
                <li><a onclick="window.open('/html/treating_docs.html','_blank')"><span
                    class="mytreatingdoctor_mydental"></span><span>My Treating Doctors</span></a></li>
                <li><a onclick="window.open('/html/dental_files.html','_blank')"><span class="mydentalfiles_mydental">
                </span><span>My Dental Files</span></a></li>
            </ul>
        </div>
        <h6>
            Watch a full System Demonstration:</h6>
      <div class="quicktour_video">
      <iframe src="//player.vimeo.com/video/82626744" width="394" height="230" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
     
      @*  <object width="500" height="400">        
        
			<param name="movie" value="http://www.youtube.com/v/XyMq_1ZuHI8?version=3">
			</param>
			<param name="allowFullScreen" value="true">
			</param>
			<param name="allowscriptaccess" value="always">
			</param>
			<param name="wmode" value="transparent">
			</param>
			<embed wmode="transparent"  src="//www.youtube.com/v/XyMq_1ZuHI8?version=3" type="application/x-shockwave-flash" width="600" height="420" allowscriptaccess="always" allowfullscreen="true"></embed> 
		</object>*@

      </div>
    </div>
    <div class="clear_div_space">
    </div>
</div>
@Html.Partial("_RequestInfo")
