﻿
@try
            {
                if (Model.lstEducationandTraining.Count > 0 || ViewBag.hdnViewProfile == false)
                {
        <div class="row planes">
            <div class="col-lg-12 share-block">
                <div class="row">                 
                    <div class="col-lg-12 col-sm-12 col-xs-12">
                        <h2>Education and Training</h2>
                        <div class="btn-group btn-holder">
                            @if (ViewBag.hdnViewProfile == false)
                            {
                                <a href="#add-education-training-info" data-toggle="modal" class="btn btn-default btn1" onclick="EditEducationandTrainingDetails(0,'@Model.UserId')">Add</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mrgn-btm-20">
            <div class="col-lg-12">
                <table class="table table3 filtered-table">
                    <thead class="thead-inverse">
                        <tr>
                            <th>
                                Institution Attended
                            </th>
                            <th>
                                Field of Study/Degree
                            </th>
                            <th>
                                Last Year Attended/Graduated
                            </th>
                            @if (ViewBag.hdnViewProfile == false)
                            {
                                <th>Actions</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var EducationAndTraning in Model.lstEducationandTraining)
                        {
                            <tr>
                                <td data-th="Institution Attended">
                                    @EducationAndTraning.Institute
                                </td>
                                <td data-th="Field of Study/Degree">@EducationAndTraning.Specialisation</td>
                                @if (EducationAndTraning.YearAttended != "0")
                                {
                                    <td data-th="Last Year Attended/Graduated">@EducationAndTraning.YearAttended</td>
                                }
                                else
                                {
                                    <td data-th="Last Year Attended/Graduated"></td>
                                }
                                @if (ViewBag.hdnViewProfile == false)
                                {
                                    <td data-th="Actions">
                                        <a href="#edit-education-training-info" data-toggle="modal" onclick="EditEducationandTrainingDetails('@EducationAndTraning.Id','@Model.UserId')"><i class="ico-edit"></i></a>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
}
catch (Exception Ex)
{
    <div class="row planes">
        <div class="col-lg-12 share-block">
            <div class="row">
                <div class="col-lg-6 col-sm-6 col-xs-6">
                    <h2>Error</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row mrgn-btm-20">
        <div class="col-lg-12">
            @Html.Partial("_PartialError")
        </div>
    </div>
    Common.LogError(Ex);
}



