﻿
@try
{

    if (!string.IsNullOrEmpty(Model.Description) || ViewBag.hdnViewProfile == false)
    {
        <div class="row planes">
            <div class="col-lg-12 share-block">
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-xs-12">
                        <h2>Description</h2>
                        @if (ViewBag.hdnViewProfile == false)
                        {
                            // ADD and EDIT button text use in UpdateDescription for showing notification message if you change text any of this so please do change in UpdateDescription this function
                            if (!string.IsNullOrEmpty(Model.Description))
                            {
                                <div class="btn-group btn-holder ">
                                    <a href="#edit-description" id="descriptionAddEdit" data-toggle="modal" class="btn btn-default btn1">Edit</a>
                                </div>
                            }
                            else
                            {
                                <div class="btn-group btn-holder ">                                   
                                    <a href="#edit-description" id="descriptionAddEdit" data-toggle="modal" class="btn btn-default btn1">Add</a>
                                </div>
                            }
                        }                       
                    </div>
                </div>
            </div>
            <div class="col-lg-12"><div class="row row-bordered mrgn-btm-10"></div></div>
        </div>
        <div class="form-group row btm-margin-10">
            <div class="col-lg-12">
                <div class="row mrgn-btm-10"></div>
                <p>@Html.Raw(Model.Description)</p>
            </div>
        </div>
    }

}
catch (Exception Ex)
{
    <div class="row planes">
        <div class="col-lg-12 share-block">
            <div class="row">
                <div class="col-lg-6 col-sm-6 col-xs-6">
                    <h2>Error</h2>
                    @Html.Partial("_PartialError")
                </div>
            </div>
        </div>
    </div>
    Common.LogError(Ex);
}


