﻿@model OneClickReferral.Models.EducationandTraining
@try
{
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header blue-bg">
                <input type="hidden" id="EducationID" value="@Model.Id" />
                <button type="button" class="close close-circle" data-dismiss="modal">&times;</button>
                @if (Model.Id > 0)
                {
                    <h3 class="modal-title white">Edit Education/Training Information</h3>
                }
                else
                {
                    <h3 class="modal-title white">Add Education/Training Information</h3>
                }
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group">
                        <label>Institution Attended:<font color="red">*</font></label>
                        <select id="Institute" placeholder="Select Institution">
                            <option>@Model.Institute</option>
                        </select>
                        @*<input type="text" class="form-control" id="Institute" tabindex="1" placeholder="Search Institution" autocomplete="off" name="Search" value="@Model.Institute">*@
                    </div>
                    <div class="form-group">
                        <label>Last Year Attended/Graduated:</label>
                        <div class="dropdown latest_dropdown" tabindex="2">
                            @*@Html.Raw(ViewBag.yearlist)*@
                            @Html.DropDownListFor(m => m.YearAttended, new SelectList(ViewBag.yearlist, "Value", "Text", Model.YearAttended), new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Field of Study/Degree:</label>
                        <input class="form-control" type="text" id="Specialisation" tabindex="3" name="Search" value="@Model.Specialisation">
                    </div>
                    <p><span class="sky-blue">DDS, PHD, Orthodontics, General Dentistry</span></p>
                </div>
            </div>
            <div class="modal-footer bdr-top-no">
                <div class="btn-group btn-holder">
                    <button type="button" class="btn btn-default btn1" data-dismiss="modal"><i class="ico-corss2"></i>Cancel</button>
                    @if (Model.Id > 0)
                {
                        <button type="button" class="btn btn-default btn1" onclick="OpenRemoveEducation('@Model.Id')"><i class="ico-corss2"></i>Remove</button>
                    }
                    <button type="button" id="btn-saveEducation" class="btn btn-default btn2 blue-bg mrgn-right-0" onclick="return EduandTraining()"><i class="ico-save"></i>Save</button>

                </div>
            </div>
        </div>
    </div>

}
catch (Exception Ex)
{
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header blue-bg">
                <button type="button" class="close close-circle" data-dismiss="modal">&times;</button>
                <h3 class="modal-title white">Error</h3>
            </div>

            <div class="modal-body">
                <div class="row">
                        @Html.Partial("_PartialError")
                    </div>
            </div>
        </div>
    </div>
    Common.LogError(Ex);
}


