﻿@if (Model.lstInsurance.Count > 0 || ViewBag.hdnViewProfile == false)
{
    <div class="row planes">
        <div class="col-lg-12 share-block">
            <div class="row">
                <div class="col-lg-6 col-sm-6 col-xs-6">
                    <h2>Insurance Details</h2>
                </div>
                <div class="col-lg-6 col-sm-6 col-xs-6">
                    <div class="btn-group btn-holder pull-right btn-edit">
                        @if (ViewBag.hdnViewProfile == false)
                        {
                            <a href="#edit-insurance-details" data-toggle="modal" class="btn btn-default btn-secondary" onclick="AddInsurance()"><i class="ico-add"></i>Add</a>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12"><div class="row row-bordered mrgn-btm-10"></div></div>
    </div>
    <div class="form-group row btm-margin-10 insurance-details-list">
        <div class="col-lg-12">
            <div class="row mrgn-btm-10"></div>
            @foreach (var insurance in Model.lstInsurance)
            {
                <div class="clearfix">
                    <p>@insurance.Name</p>
                    @if (ViewBag.hdnViewProfile == false)
                    {
                        <a href="javascript:;" onclick="OpenRemoveInsurance(@insurance.Member_InsuranceId)"><i class="ico-delete"></i></a>
                    }
                </div>
            }
        </div>
    </div>
}
