﻿@if (Model.lstProfessionalMemberships.Count > 0 || ViewBag.hdnViewProfile == false)
{
    <div class="row planes">
        <div class="col-lg-12 share-block">
            <div class="row">
                <div class="col-lg-6 col-sm-6 col-xs-6">
                    <h2>Professional Memberships</h2>
                </div>
                <div class="col-lg-6 col-sm-6 col-xs-6">
                    <div class="btn-group btn-holder pull-right btn-edit">
                        <!--
                        <a href="#" class="btn btn-default btn-secondary"><i class="ico-add"></i>Add</a> -->
                        @if (ViewBag.hdnViewProfile == false)
                        {
                            <a href="#add-professional-memberships" data-toggle="modal" class="btn btn-default btn-secondary" onclick="EditProfessionalMembershipsFromProfilePage(0,'@Model.UserId')"><i class="ico-add"></i>Add</a>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12"><div class="row row-bordered mrgn-btm-10"></div></div>
    </div>
    <div class="form-group row btm-margin-10 professional-membership-list">
        <div class="col-lg-12">
            <div class="row mrgn-btm-10"></div>
            @foreach (var ProfessionalMembership in Model.lstProfessionalMemberships)
            {
                <div class="clearfix">
                    <p>@ProfessionalMembership.Membership</p>
                    @if (ViewBag.hdnViewProfile == false)
                    {
                        <a href="#add-professional-memberships" data-toggle="modal" onclick="EditProfessionalMembershipsFromProfilePage('@ProfessionalMembership.Id','@Model.UserId')"><i class="ico-edit"></i></a>
                    }
                </div>
            }
        </div>
    </div>
}
