﻿@if (Model.lstGallary.Count > 0 || ViewBag.hdnViewProfile == false)
{
    <div class="row row-bordered pateint_form_history">
        <div class="col-lg-12">
            <div class="mrgn-btm-20">
                <h2>Gallery</h2>
            </div>
        </div>
    </div>
    <div class="col-lg-12 share-block">
        <div class="row">
            <div class="btn-group btn-holder">
                @if (ViewBag.hdnViewProfile == false)
                {
                    <a href="#add-image" data-toggle="modal" class="btn btn-default btn-secondary mrgn-right-15" onclick="AddGalleryItems(0)"><i class="ico-add"></i>Add Gallery Item</a>
                }
            </div>
        </div>
    </div>
    <div class="row listing">
        <div class="col-lg-12">
            <div class="four-columns patient_history_files">
                @foreach (var item in Model.lstGallary)
                {
                    if (!string.IsNullOrEmpty(item.FileName))
                    {
                        <div class="column">
                            <div class="block-holder">
                                <div class="img-holder">
                                    <img src="@Model.GallaryPath@item.FileName" alt="@Model.GallaryPath@item.FileName">
                                </div>
                                <div class="footer-btn-list">
                                    @if (ViewBag.hdnViewProfile == false)
                                    {
                                        <a href="#patient_file_delete" data-toggle="modal" onclick="OpenRemoveGallaryItem(@item.GallaryId)"><i class="ico-delete"></i>Delete</a>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="column">
                            <div class="block-holder">
                                <div class="img-holder">
                                    <iframe width="295" height="166" src="@item.VideoURL" frameborder="0" allowfullscreen></iframe>
                                </div>
                                <div class="footer-btn-list">
                                    @if (ViewBag.hdnViewProfile == false)
                                    {
                                        <a href="javascript:;" data-toggle="modal" onclick="OpenRemoveGallaryItem(@item.GallaryId)"><i class="ico-delete"></i>Delete</a>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
}

