﻿@model OneClickReferral.Models.WebsiteDetails
@try
    {
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header blue-bg">
                <button type="button" class="close close-circle" data-dismiss="modal">&times;</button>
                @if (Model.SecondaryWebsiteId == 0)
                {
                    <h3 class="modal-title white">Edit Primary Website URL</h3>
                }
                else
                {
                    <h3 class="modal-title white">Edit Secondary Website URL</h3>
                }
                <input type="hidden" value="@Model.SecondaryWebsiteId" id="WebsiteId" />
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="mrgn-btm-10"></div>
                        <input type="text" class="form-control" id="txtwebsiteurls" value="@Model.SecondaryWebsiteurl">
                    </div>
                </div>
            </div>
            <div class="modal-footer bdr-top-no">
                <div class="btn-group btn-holder">
                    <button type="button" class="btn btn-default btn1" data-dismiss="modal"><i class="ico-corss2"></i>Cancel</button>
                    @if (Model.SecondaryWebsiteId == 0)
                    {
                        <button type="button" class="btn btn-default btn1" onclick="OpenRemovePrimaryAndSeconderyWebsite(0,@Model.UserId)"><i class="ico-corss2"></i>Remove</button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-default btn1" onclick="OpenRemovePrimaryAndSeconderyWebsite(@Model.SecondaryWebsiteId,@Model.UserId)"><i class="ico-corss2"></i>Remove</button>
                    }

                    @if (Model.SecondaryWebsiteId == 0)
                    {
                        <button type="button" id="btn-sec-web-update" class="btn btn-default btn2 blue-bg mrgn-right-0" onclick="PrimarySecondaryWebsiteUrlUpdate(0,@Model.UserId)"><i class="ico-save"></i>Save</button>
                    }
                    else
                    {
                        <button type="button" id="btn-sec-web-update" class="btn btn-default btn2 blue-bg mrgn-right-0" onclick="PrimarySecondaryWebsiteUrlUpdate(@Model.SecondaryWebsiteId,@Model.UserId)"><i class="ico-save"></i>Save</button>
                    }
                </div>
            </div>
        </div>
    </div>

}
catch (Exception Ex)
{
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header blue-bg">
                <button type="button" class="close close-circle" data-dismiss="modal">&times;</button>
                <h3 class="modal-title white">Error</h3>                
            </div>
            <div class="modal-body">
                @Html.Partial("_PartialError")
            </div>
        </div>
    </div>
    Common.LogError(Ex);
}



