﻿@model OneClickReferral.Models.AddressDetails
@{
    ViewBag.Layout = null;
}
@try
{
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header blue-bg">
                <button type="button" class="close close-circle" data-dismiss="modal">&times;</button>
                @if (Model.AddressInfoID > 0)
                {
                    if (Model.ContactType == 1)
                    {
                        <h3 class="modal-title white"> Edit Primary Address</h3>
                    }
                    else
                    {
                        <h3 class="modal-title white"> Edit Secondary Address</h3>
                    }
                }
                else
                {
                    <h3 class="modal-title white">  Add Additional Address</h3>
                }
            </div>
            <div class="modal-body jcf-scrollbar">
                <div class="btm-margin-20">
                    <div class="">

                        <div class="form-group mrgn-btm-20">
                            <label>Location:<font color="red">*</font></label>
                            <input type="text" class="form-control" id="Location" name="Location" tabindex="1" value="@Model.Location">
                        </div>

                        <div class="form-group mrgn-btm-20">
                            <label>Street Address:<font color="red">*</font></label>
                            <input type="text" class="form-control" id="ExactAddress" name="ExactAddress" tabindex="2" value="@Model.ExactAddress">
                        </div>

                        <div class="form-group mrgn-btm-20">
                            <label>Suite/Unit:</label>
                            <input type="text" class="form-control" id="Address2" name="Address2" tabindex="3" value="@Model.Address2">
                        </div>

                        <div class="form-group mrgn-btm-20">
                            <label>City:<font color="red">*</font></label>
                            <input type="text" class="form-control" id="City" name="City" tabindex="4" value="@Model.City">
                        </div>

                        <div class="form-group mrgn-btm-20">
                            <label>Country:<font color="red">*</font></label>
                            <div class="dropdown latest_dropdown" id="dvCountry" tabindex="5">
                                @*@Html.Raw(ViewBag.country)*@
                                @Html.DropDownListFor(m => m.Country, new SelectList(Model.CountryList, "Value", "Text", "US"), new { @class = "form-control", tabindex = "14", @onchange = "FillState()" })
                            </div>
                        </div>

                        <div class="form-group mrgn-btm-20">

                            <label>State:<font color="red">*</font></label>
                            <div class="dropdown latest_dropdown" id="dvstate" tabindex="6">
                                @*@Html.Raw(ViewBag.state)*@
                                @Html.DropDownListFor(m => m.State, new SelectList(Model.StateList, "StateCode", "StateName"), new { @class = "form-control", tabindex = "14" })
                            </div>
                        </div>
                        <div class="form-group mrgn-btm-20">
                            <label>Zip Code:<font color="red">*</font></label>
                            <input type="text" class="numericOnly form-control" id="Zipcode" tabindex="8" name="Zipcode" maxlength="6" value="@Model.ZipCode">
                        </div>

                        <div class="form-group mrgn-btm-20">
                            <label>Phone:</label>
                            <input type="text" class="numericOnly form-control" id="Phone" tabindex="9" name="Phone" value="@Model.Phone">
                        </div>

                        <div class="form-group mrgn-btm-20">
                            <label>Mobile:</label>
                            <input type="text" class="numericOnly form-control" id="Mobile" tabindex="10" name="Fax" value="@Model.Mobile">
                        </div>

                        <div class="form-group mrgn-btm-20">
                            <label>Website:</label>
                            <input type="text" class="form-control" name="txtwebsiteurl" tabindex="11" value="@Model.Website" id="txtwebsiteurl">
                        </div>

                        <div class="form-group mrgn-btm-20">
                            <label>Fax:</label>
                            <input id="Fax" tabindex="12" type="text" name="Fax" value="@Model.Fax" class="form-control">
                        </div>

                        <div class="form-group mrgn-btm-20">
                            <label>Email:<font color="red">*</font></label>
                            <input type="text" class="form-control" id="Email" tabindex="13" name="Fax" value="@Model.EmailAddress">
                        </div>

                        <div class="form-group mrgn-btm-20">
                            <label>Time Zone:<font color="red">*</font></label>
                            <div class="dropdown latest_dropdown" tabindex="13">
                                @Html.DropDownListFor(m => m.TimeZoneId, new SelectList(Model.TimeZoneList, "TimeZoneId", "TimeZoneText", Model.TimeZoneId), new { @class = "form-control", tabindex = "14" })
                            </div>
                        </div>
                        @* SBI-39  *@
                        @*<div class="form-group mrgn-btm-20">
                                <label>External PMS ID:</label>
                                <input type="text" class="form-control" id="EPMSId" name="EPMSId" tabindex="7" value="@Model.ExternalPMSId">
                            </div>*@
                        @* SBI-39  *@
                        @*Olivia changes on 10-04-2018 for Dr. Lan Allan's website. - DLADCETK-1*@
                        <div class="form-group mrgn-btm-20">
                            <label>Scheduling Link:</label>
                            <input type="text" class="form-control" name="txtSchedulingLink" tabindex="15" value="@Model.SchedulingLink" id="txtSchedulingLink">
                        </div>
                        <div class="form-group mrgn-btm-20 radio_optn">
                            @if (Model.ContactType == 1)
                            {
                                <input id="chkprimary" class="form-control" type="checkbox" tabindex="14" checked="checked" disabled="disabled">
                                <label class="mrgn-0" for="">Make Primary Address</label>
                            }
                            else
                            {
                                <input id="chkprimary" class="form-control" type="checkbox" tabindex="14">
                                <label class="mrgn-0" for="">Make Primary Address</label>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer bdr-top-no">
                <div class="btn-group btn-holder">
                    <button type="button" class="btn btn-default btn1" data-dismiss="modal"><i class="ico-corss2"></i>Cancel</button>
                    @if (Model.AddressInfoID > 0)
                {
                        <button type="button" class="btn btn-default btn1" onclick="OpenDeleteAddress('@Model.AddressInfoID','@Model.ContactType')"><i class="ico-corss2"></i>Remove</button>
                    }
                    <button type="button" id="btn_address" class="btn btn-default btn2 blue-bg mrgn-right-0" tabindex="15" onclick="UpdateAddress('@Model.AddressInfoID')"><i class="ico-save"></i>Save</button>

                </div>
            </div>
        </div>
    </div>
}
catch (Exception Ex)
{
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header blue-bg">
                <button type="button" class="close close-circle" data-dismiss="modal">&times;</button>               
                <h3  class="modal-title white">Error</h3>
            </div>
            <div class="modal-body jcf-scrollbar">
                <div class="btm-margin-20">
                    @Html.Partial("_PartialError")
                </div>
            </div>
        </div>
    </div>
    Common.LogError(Ex);
}

