﻿<div class="row planes">
    <div class="col-lg-12 share-block">
        <div class="row">
            <div class="col-lg-6 col-sm-6 col-xs-6">
                <h2>Public Profile</h2>
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-6">
                <div class="btn-group btn-holder pull-right btn-edit">
                    @if (ViewBag.hdnViewProfile == false)
                    {
                        <a href="#edit-public-profile" id="editform" data-toggle="modal" class="btn btn-default btn-secondary" onclick="EditPublicProfile('@Model.UserId')"><i class="ico-edit"></i>Edit</a>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12"><div class="row row-bordered mrgn-btm-10"></div></div>
</div>
<div class="form-group row btm-margin-10">
    <div class="col-lg-12 blue-btn-text">
        <div class="row mrgn-btm-10"></div>
        <a href="@(HttpContext.Current.Request.Url.Scheme + "://" + HttpContext.Current.Request.Url.Authority + "/p/" + Model.PublicProfile)" style="text-decoration:none;" target="_blank">@(HttpContext.Current.Request.Url.Scheme + "://" + HttpContext.Current.Request.Url.Authority + "/p/" + Model.PublicProfile)</a>
        <div class="row mrgn-btm-20"></div>
    </div>
    <div class="col-lg-12">
        @if (ViewBag.hdnViewProfile == false)
        {
            <div class="btn-group btn-holder">
                <a href="#edit-public-profile-choose-section" data-toggle="modal" class="btn btn-default btn1" onclick="GetPublicProfileSection('@Model.UserId')"><i class="ico-choose-selection"></i>Choose your selection</a>
                <a href="#edit-public-profile-widget" data-toggle="modal" class="btn btn-default btn1"><i class="ico-choose-widget"></i>Choose Your Widget</a>
                @*<a href="#edit-public-profile-featuresetting-section" data-toggle="modal" class="btn btn-default btn1" onclick="GetFeatureSettingSection('@Model.UserId')" ><i class="ico-choose-selection"></i>Account Feature Setting</a>*@
            </div>
        }
    </div>
</div>
