﻿@model OneClickReferral.Models.SocialMediaForDoctorViewModel

@try
    {
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header blue-bg">
                <button type="button" class="close close-circle" data-dismiss="modal">&times;</button>
                <h3 class="modal-title white">Edit Social Information</h3>
            </div>
            <div class="modal-body" id="social_media">
                <div class="btm-margin-20">
                    <div class="">
                        <form id="frmSocial">
                            <div class="form-group mrgn-btm-20">
                                <label>Facebook:</label>
                                @Html.TextBoxFor(m => m.FacebookUrl, new { @class = "form-control" })
                            </div>

                            <div class="form-group mrgn-btm-20">
                                <label>Twitter:</label>
                                @Html.TextBoxFor(m => m.TwitterUrl, new { @class = "form-control" })
                            </div>

                            @*RM-355: Changes suggested by Lauri for profile page.*@
                            <div class="form-group mrgn-btm-20">
                                <label>Instagram:</label>
                                @Html.TextBoxFor(m => m.InstagramUrl, new { @class = "form-control" })
                            </div>

                            <div class="form-group mrgn-btm-20">
                                <label>Linkedin:</label>
                                @Html.TextBoxFor(m => m.LinkedinUrl, new { @class = "form-control" })
                            </div>

                            <div class="form-group mrgn-btm-20">
                                <label>Google Plus:</label>
                                @Html.TextBoxFor(m => m.GoogleplusUrl, new { @class = "form-control" })
                            </div>

                            <div class="form-group mrgn-btm-20">
                                <label>Pinterest:</label>
                                @Html.TextBoxFor(m => m.PinterestUrl, new { @class = "form-control" })
                            </div>

                            <div class="form-group mrgn-btm-20">
                                <label>YouTube:</label>
                                @Html.TextBoxFor(m => m.YoutubeUrl, new { @class = "form-control" })
                            </div>

                            <div class="form-group mrgn-btm-20">
                                <label>Blog:</label>
                                @Html.TextBoxFor(m => m.BlogUrl, new { @class = "form-control" })
                            </div>

                            <div class="form-group mrgn-btm-20">
                                <label>Yelp:</label>
                                @Html.TextBoxFor(m => m.YelpUrl, new { @class = "form-control" })
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer bdr-top-no">
                <div class="btn-group btn-holder">
                    <button type="button" class="btn btn-default btn1" data-dismiss="modal"><i class="ico-corss2"></i>Cancel</button>
                    <button type="button" id="btn-save-social-media" class="btn btn-default btn2 blue-bg mrgn-right-0" onclick="return UpdateSocialMediaDetails()"><i class="ico-save"></i>Save</button>
                </div>
            </div>
        </div>
    </div>
}
catch (Exception Ex)
{
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header blue-bg">
                <button type="button" class="close close-circle" data-dismiss="modal">&times;</button>
                <h3 class="modal-title white">Error</h3>
            </div>
            <div class="modal-body" id="social_media">
                <div class="btm-margin-20">
                    @Html.Partial("_PartialError")
                </div>
            </div>
        </div>
    </div>
    Common.LogError(Ex);
}


