﻿@model OneClickReferral.Models.WebsiteDetails
@try
    {
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header blue-bg">
                <button type="button" class="close close-circle" data-dismiss="modal">&times;</button>
                <h3 class="modal-title white">Insert Website</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="mrgn-btm-10"></div>
                        @if (!string.IsNullOrEmpty(Model.SecondaryWebsiteurl))
                        {
                            <input type="text" class="form-control" id="txtwebsiteurls" value="@Model.SecondaryWebsiteurl">
                        }
                        else
                        {
                            <input type="text" class="form-control" id="txtwebsiteurls">
                        }
                        <input type="hidden" value="@Model.SecondaryWebsiteId" />
                    </div>
                </div>

            </div>
            <div class="modal-footer bdr-top-no">
                <div class="btn-group btn-holder">
                    <button type="button" class="btn btn-default btn1" data-dismiss="modal"><i class="ico-corss2"></i>Cancel</button>
                    <button type="button" id="btn-website-up" class="btn btn-default btn2 blue-bg mrgn-right-0" onclick="return WebsiteUrlUpdate(@Model.UserId)"><i class="ico-save"></i>Save</button>
                </div>
            </div>
        </div>
    </div>
}
catch (Exception Ex)
{
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header blue-bg">
                <button type="button" class="close close-circle" data-dismiss="modal">&times;</button>
                <h3 class="modal-title white">Error</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    @Html.Partial("_PartialError")
                </div>
            </div>
        </div>
    </div>
    Common.LogError(Ex);
}



