﻿@model OneClickReferral.Models.DentistProfileViewModel
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";

    bool defaultImage = false;
    

}

@section styles{
    <link href="~/Content/css/Select2withPopup.css" rel="stylesheet" />
    <link href="~/Content/css/select2.min.css" rel="stylesheet" />
    <link href="~/Content/JCrop/jquery.Jcrop.css" rel="stylesheet" />
}
<main id="main" role="main" style="min-height:0px">
    <div class="container">
        <div class="new-case case-overview patinet patient_form rl-profile1 security">
            <div class="row mrgn-btm-20">
                <div class="col-lg-12 ">
                    <div id="wizard">
                        @Html.Partial("_PartialHorizontalMenuProfile")
                        @if (ViewBag.hdnViewProfile == true)
                        {
                            @:
                            <script>$(document).ready(function () { $("#liProfile a").text("Collegue Profile") }); </script>
                        }
                        <div class="tab-pane">
                            @*<div class="row mrgn-btm-20">*@
                            <div class="col-lg-12  mail-header">
                                <div class="row planes">                                  
                                    <div class="col-lg-12 col-sm-12 col-xs-12">
                                        <h2>
                                            @(!string.IsNullOrEmpty(Model.Salutation) ? Model.Salutation + " " : "") @(!string.IsNullOrEmpty(Model.FirstName) ? Model.FirstName + " " : "") @(!string.IsNullOrEmpty(Model.MiddleName) ? Model.MiddleName + " " : "")@(!string.IsNullOrEmpty(Model.LastName) ? Model.LastName : "")@(!string.IsNullOrEmpty(Model.Title) ? "," : "")
                                            @Model.Title
                                        </h2>
                                        @if (!ViewBag.hdnViewProfile)
                                        {
                                            <div class="btn-group btn-holder">
                                                <a href="#personal_information" data-toggle="modal" class="btn btn-default btn1">Edit</a>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="user">
                                    @if (ViewBag.hdnViewProfile == false)
                                    {
                                        if (Model.ImageName.Contains("Doctor_no_image.gif") || @Model.ImageName.Contains("DoctorFemale_no_image.jpg"))
                                        {
                                            defaultImage = true;

                                            <a href="javascript:;" onclick="crop_reset()" class="profile_image">
                                                <img class="" src="@Model.ImageName" alt="@((!string.IsNullOrEmpty(Model.FirstName) ? Model.FirstName + ", " : string.Empty) + "" + (!string.IsNullOrEmpty(Model.LastName) ? Model.LastName + ", " : string.Empty) + "" + (!string.IsNullOrEmpty(Model.OfficeName) ? Model.OfficeName + ", " : string.Empty) + "" + (!string.IsNullOrEmpty(Model.City) ? Model.City + ", " : string.Empty) + "" + (!string.IsNullOrEmpty(Model.State) ? Model.State : string.Empty) + "" + (!string.IsNullOrEmpty(Model.ZipCode) ? " and " + Model.ZipCode : string.Empty))" width="50" height="50">
                                                <div class="hover" style="">
                                                    <img class="hover" src="~/Content/Dashboard/images/add_photo.png" alt="Remove Image" width="18" height="18">
                                                </div>
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="javascript:;" onclick="cropremove_reset()" class="profile_image">
                                                <img class="" src="@Model.ImageName" alt="(@Common.SafeString(Model.FirstName))" width="50" height="50">
                                                <div class="hover" style="">
                                                    <img class="hover" src="~/Content/Dashboard/images/edit.png" alt="Remove Image" width="18" height="18">
                                                </div>
                                            </a>
                                        }

                                    }//Change for Colleague section issue for Profile image block
                                    else
                                    {
                                        <input type="hidden" value="1" id="IsColleague" />
                                        <a href="javascript:;" @*onclick="cropremove_reset()"*@ class="profile_image">
                                            <img class="" src="@Model.ImageName" alt="(@Common.SafeString(Model.FirstName))" width="50" height="50">
                                        </a>
                                    }
                                </div>
                                <div class="mail-header-holder">
                                    <dl class="mail-det-list  patient-history patient-history-add">
                                        @foreach (var SpecialitiesOfDoctor in Model.lstSpeacilitiesOfDoctor)
                                        {
                                            <dt><strong> @SpecialitiesOfDoctor.SpecialtyDescription </strong></dt>
                                        }
                                    </dl>
                                </div>

                            </div>
                            @*</div>*@
                            @*Banner Section*@
                            @*@Html.Partial("_PartialAddBanner")*@

                            @*Address Section*@
                            @Html.Partial("_PartialAddressInformation")

                            @*Public Profile Section*@
                            @*@Html.Partial("_PartialPublicProfile")*@

                            @*Website Section*@
                            @if (Model.lstsecondarywebsitelist.Count > 0 || ViewBag.hdnViewProfile == false)
            {
                                <div class="row planes">
                                    <div class="col-lg-12 share-block">
                                        <div class="row">                                           
                                            <div class="col-lg-12 col-sm-12 col-xs-12">
                                                <h2>Website</h2>
                                                <div class="btn-group btn-holder">
                                                    @if (ViewBag.hdnViewProfile == false)
                                                    {
                                                        <a href="#insert-website" data-toggle="modal" class="btn btn-default btn1" onclick="EditWebsiteURL(@Model.UserId)">Add</a>
                                                    }
                                                    @*<a href="#addional-address" data-toggle="modal" class="btn btn-default btn1">Add</a>*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12"><div class="row row-bordered mrgn-btm-10"></div></div>
                                </div>
                                <div class="form-group row btm-margin-10 professional-membership-list">
                                    @if (Model.WebsiteURL != "")
                                    {
                                        <div class="col-lg-12">
                                            <div class="row mrgn-btm-10"></div>
                                            <div class="clearfix blue-btn-text">
                                                <a class="web-link" href='@(Model.WebsiteURL != null && !Model.WebsiteURL.Contains("http") ? "http://" + Model.WebsiteURL : Model.WebsiteURL)' style="text-decoration:none;" target="_blank">@Model.WebsiteURL</a>
                                                @if (ViewBag.hdnViewProfile == false)
                                                {
                                                    <a href="#edit-primary-website-url" onclick="EditPrimarySecondryWebsiteURL(0,'@Model.UserId')" data-toggle="modal"><i class="ico-edit"></i></a>
                                                }
                                            </div>
                                        </div>
                                    }
                                    @foreach (var websites in Model.lstsecondarywebsitelist)
                                    {
                                        if (websites.SecondaryWebsiteurl != "")
                                        {
                                            <div class="col-lg-12">
                                                <div class="row mrgn-btm-10"></div>
                                                <div class="clearfix blue-btn-text">
                                                    <a class="web-link" href='@(websites.SecondaryWebsiteurl != null && !websites.SecondaryWebsiteurl.Contains("http") ? "http://" + websites.SecondaryWebsiteurl : websites.SecondaryWebsiteurl)' target="_blank">@websites.SecondaryWebsiteurl</a>
                                                    @if (ViewBag.hdnViewProfile == false)
                                                    {
                                                        <a href="#edit-primary-website-url" onclick="EditPrimarySecondryWebsiteURL('@websites.SecondaryWebsiteId','@Model.UserId')" data-toggle="modal"><i class="ico-edit"></i></a>
                                                    }
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            }

                            @*Social Media Section*@
                            @if (Model.lstGetSocialMediaDetailByUserId.Count > 0 && ViewBag.hdnViewProfile == false)
            {
                                <div class="row planes">
                                    <div class="col-lg-12 share-block">
                                        <div class="row">                                            
                                            <div class="col-lg-12 col-sm-12 col-xs-12">
                                                <h2>Social Media</h2>
                                                <div class="btn-group btn-holder">
                                                    @if (ViewBag.hdnViewProfile == false)
                                                    {
                                                        <div class="btn-group btn-holder pull-right btn-edit">
                                                            <a href="#edit-social-media-information" id="aSocialMedialLink" data-toggle="modal" class="btn btn-default btn1" onclick="EditSocialMedia(@Model.UserId)">Edit</a>
                                                        </div>
                                                    }
                                                    @*<a href="#addional-address" data-toggle="modal" class="btn btn-default btn1">Add</a>*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12"><div class="row row-bordered mrgn-btm-10"></div></div>
                                </div>
                                <div class="form-group row btm-margin-10">
                                    <div class="col-lg-12">
                                        <div class="row mrgn-btm-10"></div>
                                        <ul class="social-links-list" id="ulSocialLink">
                                            @if (Model.lstGetSocialMediaDetailByUserId.Count > 0)
                                            {
                                                if (Model.lstGetSocialMediaDetailByUserId[0].FacebookUrl != null && Model.lstGetSocialMediaDetailByUserId[0].FacebookUrl != "")
                                                {
                                                    <li><a href="@Model.lstGetSocialMediaDetailByUserId[0].FacebookUrl" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                                }

                                                if (Model.lstGetSocialMediaDetailByUserId[0].TwitterUrl != null && Model.lstGetSocialMediaDetailByUserId[0].TwitterUrl != "")
                                                {
                                                    <li><a href="@Model.lstGetSocialMediaDetailByUserId[0].TwitterUrl" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                                }
                                                //RM-355: Changes suggested by Lauri for profile page.
                                                if (Model.lstGetSocialMediaDetailByUserId[0].InstagramUrl != null && Model.lstGetSocialMediaDetailByUserId[0].InstagramUrl != "")
                                                {
                                                    <li><a href="@Model.lstGetSocialMediaDetailByUserId[0].InstagramUrl" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                                }

                                                if (Model.lstGetSocialMediaDetailByUserId[0].GoogleplusUrl != null && Model.lstGetSocialMediaDetailByUserId[0].GoogleplusUrl != "")
                                                {
                                                    <li><a href="@Model.lstGetSocialMediaDetailByUserId[0].GoogleplusUrl" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                                }

                                                if (Model.lstGetSocialMediaDetailByUserId[0].YoutubeUrl != null && Model.lstGetSocialMediaDetailByUserId[0].YoutubeUrl != "")
                                                {
                                                    <li><a href="@Model.lstGetSocialMediaDetailByUserId[0].YoutubeUrl" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                                                }

                                                if (Model.lstGetSocialMediaDetailByUserId[0].LinkedinUrl != null && Model.lstGetSocialMediaDetailByUserId[0].LinkedinUrl != "")
                                                {
                                                    <li><a href="@Model.lstGetSocialMediaDetailByUserId[0].LinkedinUrl" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                                }
                                                if (Model.lstGetSocialMediaDetailByUserId[0].PinterestUrl != null && Model.lstGetSocialMediaDetailByUserId[0].PinterestUrl != "")
                                                {
                                                    <li><a href="@Model.lstGetSocialMediaDetailByUserId[0].PinterestUrl" target="_blank"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                                }
                                                if (Model.lstGetSocialMediaDetailByUserId[0].BlogUrl != null && Model.lstGetSocialMediaDetailByUserId[0].BlogUrl != "")
                                                {
                                                    <li><a href="@Model.lstGetSocialMediaDetailByUserId[0].BlogUrl" target="_blank"><i class="fab fa-blogger" aria-hidden="true"></i></a></li>
                                                }
                                                if (Model.lstGetSocialMediaDetailByUserId[0].YelpUrl != null && Model.lstGetSocialMediaDetailByUserId[0].YelpUrl != "")
                                                {
                                                    <li><a href="@Model.lstGetSocialMediaDetailByUserId[0].YelpUrl" target="_blank"><i class="fa fa-yelp" aria-hidden="true"></i></a></li>
                                                }
                                            }
                                        </ul>
                                    </div>
                                </div>
                            }

                            @*Description Section*@
                            @Html.Partial("_PartialDoctorDescription")

                            @*Education and Training Section*@
                            @Html.Partial("_PartialEducationAndTrainingInfo")

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<div class="modal fade" id="remove_item" role="dialog" style="z-index: 1111">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center center">
                    <img class="mrgn-btm-20" src="~/Content/Dashboard/images/Delete_Popup.png" alt="Delete" />
                    <p id="desc_message" class="mrgn-btm-0" style="margin: 0;">Are you sure you want to remove image?</p>
                </div>
                <div class="modal-footer bdr-top-no">
                    <div class="btn-group btn-holder">
                        <button type="button" class="btn btn-default btn1" data-dismiss="modal">No</button>
                        <a type="button" id="btnyes" class="btn btn-default btn2 blue-bg mrgn-right-0">Yes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="personal_information" role="dialog">
    @Html.Partial("_PartialEditPersonalInfo", Model)
</div>

<div class="modal fade" id="addional-address" role="dialog">

</div>

<div class="modal fade" id="edit-primary-address" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header blue-bg">
                <button type="button" class="close close-circle" data-dismiss="modal">&times;</button>
                <h3 class="modal-title white">Edit Primary Address</h3>
            </div>
            <div class="modal-body">
                <div class="btm-margin-20">
                    <div class="">

                        <div class="form-group mrgn-btm-20">
                            <label>Location:<font color="red">*</font></label>
                            <input type="text" class="form-control">
                        </div>

                        <div class="form-group mrgn-btm-20">
                            <label>Street Address:<font color="red">*</font></label>
                            <input type="text" class="form-control">
                        </div>

                        <div class="form-group mrgn-btm-20">
                            <label>Suite/Unit:</label>
                            <input type="text" class="form-control">
                        </div>

                        <div class="form-group mrgn-btm-20">
                            <label>City:<font color="red">*</font></label>
                            <input type="text" class="form-control">
                        </div>

                        <div class="form-group mrgn-btm-20">
                            <label>Country:<font color="red">*</font></label>
                            <div class="dropdown latest_dropdown">
                                <select class="form-control" id="Colleaglst_8">
                                    <option value="">United States</option>
                                    <option value="First Name">United States</option>
                                    <option value="Last Name">UAE</option>
                                    <option value="Referred By">Australia</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group mrgn-btm-20">
                            <label>State:<font color="red">*</font></label>
                            <div class="dropdown latest_dropdown">
                                <select class="form-control" id="Colleaglst_8">
                                    <option value="">Select State</option>
                                    <option value="First Name">State 1</option>
                                    <option value="Last Name">State 2</option>
                                    <option value="Referred By">State 3</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group mrgn-btm-20">
                            <label>Zip Code:<font color="red">*</font></label>
                            <input type="text" class="form-control">
                        </div>

                        <div class="form-group mrgn-btm-20">
                            <label>Phone:</label>
                            <input type="text" class="form-control">
                        </div>

                        <div class="form-group mrgn-btm-20">
                            <label>Mobile/Text Us:</label>
                            <input type="text" class="form-control">
                        </div>

                        <div class="form-group mrgn-btm-20">
                            <label>Website:</label>
                            <input type="text" class="form-control">
                        </div>

                        <div class="form-group mrgn-btm-20">
                            <label>Fax:</label>
                            <input type="text" class="form-control">
                        </div>

                        <div class="form-group mrgn-btm-20">
                            <label>Email:<font color="red">*</font></label>
                            <input type="text" class="form-control">
                        </div>

                        <div class="form-group mrgn-btm-20">
                            <label>Time Zone:<font color="red">*</font></label>
                            <div class="dropdown latest_dropdown">
                                <select class="form-control" id="Colleaglst_8">
                                    <option value="">(GMT) Casablanca</option>
                                    <option value="First Name">(GMT) Casablanca</option>
                                    <option value="Last Name">(GMT) Casablanca</option>
                                    <option value="Referred By">(GMT) Casablanca</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group mrgn-btm-20 radio_optn">
                            <input id="" class="form-control" type="checkbox">
                            <label class="mrgn-0" for="">Make Primary Address</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer bdr-top-no">
                <div class="btn-group btn-holder">
                    <button type="button" class="btn btn-default btn1" data-dismiss="modal"><i class="ico-corss2"></i>Cancel</button>
                    <button type="button" class="btn btn-default btn1" data-dismiss="modal"><i class="ico-corss2"></i>Remove</button>
                    <button type="button" class="btn btn-default btn2 blue-bg mrgn-right-0"><i class="ico-save"></i>Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="edit-secondary-address" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header blue-bg">
                <button type="button" class="close close-circle" data-dismiss="modal">&times;</button>
                <h3 class="modal-title white">Edit Secondary Address</h3>
            </div>
            <div class="modal-body">
                <div class="btm-margin-20">
                    <div class="">

                        <div class="form-group mrgn-btm-20">
                            <label>Location:<font color="red">*</font></label>
                            <input type="text" class="form-control">
                        </div>

                        <div class="form-group mrgn-btm-20">
                            <label>Street Address:<font color="red">*</font></label>
                            <input type="text" class="form-control">
                        </div>

                        <div class="form-group mrgn-btm-20">
                            <label>Suite/Unit:</label>
                            <input type="text" class="form-control">
                        </div>

                        <div class="form-group mrgn-btm-20">
                            <label>City:<font color="red">*</font></label>
                            <input type="text" class="form-control">
                        </div>

                        <div class="form-group mrgn-btm-20">
                            <label>Country:<font color="red">*</font></label>
                            <div class="dropdown latest_dropdown">
                                <select class="form-control" id="Colleaglst_8">
                                    <option value="">United States</option>
                                    <option value="First Name">United States</option>
                                    <option value="Last Name">UAE</option>
                                    <option value="Referred By">Australia</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group mrgn-btm-20">
                            <label>State:<font color="red">*</font></label>
                            <div class="dropdown latest_dropdown">
                                <select class="form-control" id="Colleaglst_8">
                                    <option value="">Select State</option>
                                    <option value="First Name">State 1</option>
                                    <option value="Last Name">State 2</option>
                                    <option value="Referred By">State 3</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group mrgn-btm-20">
                            <label>Zip Code:<font color="red">*</font></label>
                            <input type="text" class="form-control">
                        </div>

                        <div class="form-group mrgn-btm-20">
                            <label>Phone:</label>
                            <input type="text" class="form-control">
                        </div>

                        <div class="form-group mrgn-btm-20">
                            <label>Mobile/Text Us:</label>
                            <input type="text" class="form-control">
                        </div>

                        <div class="form-group mrgn-btm-20">
                            <label>Website:</label>
                            <input type="text" class="form-control">
                        </div>

                        <div class="form-group mrgn-btm-20">
                            <label>Fax:</label>
                            <input type="text" class="form-control">
                        </div>

                        <div class="form-group mrgn-btm-20">
                            <label>Email:<font color="red">*</font></label>
                            <input type="text" class="form-control">
                        </div>

                        <div class="form-group mrgn-btm-20">
                            <label>Time Zone:<font color="red">*</font></label>
                            <div class="dropdown latest_dropdown">
                                <select class="form-control" id="Colleaglst_8">
                                    <option value="">(GMT) Casablanca</option>
                                    <option value="First Name">(GMT) Casablanca</option>
                                    <option value="Last Name">(GMT) Casablanca</option>
                                    <option value="Referred By">(GMT) Casablanca</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group mrgn-btm-20 radio_optn">
                            <input id="" class="form-control" type="checkbox">
                            <label class="mrgn-0" for="">Make Primary Address</label>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer bdr-top-no">
                <div class="btn-group btn-holder">
                    <button type="button" class="btn btn-default btn1" data-dismiss="modal"><i class="ico-corss2"></i>Cancel</button>
                    <button type="button" class="btn btn-default btn1" data-dismiss="modal"><i class="ico-corss2"></i>Remove</button>
                    <button type="button" class="btn btn-default btn2 blue-bg mrgn-right-0"><i class="ico-save"></i>Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="edit-public-profile" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header blue-bg">
                <button type="button" class="close close-circle" data-dismiss="modal">&times;</button>
                <h3 class="modal-title white">Edit Public Profile URL</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <input type="text" class="form-control" placeholder="shitumodi">
                    </div>
                </div>
            </div>
            <div class="modal-footer bdr-top-no">
                <div class="btn-group btn-holder">
                    <button type="button" class="btn btn-default btn1" data-dismiss="modal"><i class="ico-corss2"></i>Cancel</button>
                    <button type="button" class="btn btn-default btn2 blue-bg mrgn-right-0"><i class="ico-save"></i>Save</button>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="edit-public-profile-choose-section" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header blue-bg">
                <button type="button" class="close close-circle" data-dismiss="modal">&times;</button>
                <h3 class="modal-title white">Public profile Section</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <p>Choose section you would like to display on your profile.</p>
                    </div>
                    <div class="off-white-bg">
                        <div class="col-xs-6">
                            <p><strong>Section name</strong></p>
                        </div>
                        <div class="col-xs-6">
                            <p><strong>Visible at public profile?</strong></p>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="col-xs-6">
                            <p>Patient Form</p>
                        </div>
                        <div class="col-xs-6 text-center">
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round1"></span>
                            </label>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="col-xs-6">
                            <p>Appointment Booking</p>
                        </div>
                        <div class="col-xs-6 text-center">
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round1"></span>
                            </label>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="col-xs-6">
                            <p>Patient Login</p>
                        </div>
                        <div class="col-xs-6 text-center">
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round1"></span>
                            </label>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="col-xs-6">
                            <p>Refer Patient</p>
                        </div>
                        <div class="col-xs-6 text-center">
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round1"></span>
                            </label>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="col-xs-6">
                            <p>Special Offers</p>
                        </div>
                        <div class="col-xs-6 text-center">
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round1"></span>
                            </label>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="col-xs-6">
                            <p>Reviews</p>
                        </div>
                        <div class="col-xs-6 text-center">
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round1"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer bdr-top-no">
                <div class="btn-group btn-holder">
                    <button type="button" class="btn btn-default btn1" data-dismiss="modal"><i class="ico-corss2"></i>Cancel</button>
                    <button type="button" class="btn btn-default btn2 blue-bg mrgn-right-0"><i class="ico-save"></i>Save</button>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="edit-public-profile-widget" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header blue-bg">
                <button type="button" class="close close-circle" data-dismiss="modal">&times;</button>
                <h3 class="modal-title white">Widget Menu</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <p>Copy and paste HTML to display widget on your site.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 mrgn-btm-20">
                        <label><strong>Patient Forms</strong> <i title="Copy" data-toggle="tooltip" data-placement="bottom" class="sicessor-icon margin-left-10"></i></label>
                        <div class="mrgn-btm-10"></div>
                        <textarea class="form-control " rows="5" placeholder="<iframe src='http://qa.recordlinc.com/widget/Jaimes Patio/PatientForms' width='50%' height='1200' frameborder='0' style='border:0px'></iframe> "></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 mrgn-btm-20">
                        <label><strong>Refer Patient</strong> <i title="Copy" data-toggle="tooltip" data-placement="bottom" class="sicessor-icon margin-left-10"></i></label>
                        <div class="mrgn-btm-10"></div>
                        <textarea class="form-control " rows="5" placeholder="<iframe src='http://qa.recordlinc.com/widget/Jaimes Patio/ReferPatient' width='50%' height='1000' frameborder='0' style='border:0px'></iframe>"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 mrgn-btm-20">
                        <label><strong>Special Offers</strong> <i title="Copy" data-toggle="tooltip" data-placement="bottom" class="sicessor-icon margin-left-10"></i></label>
                        <div class="mrgn-btm-10"></div>
                        <textarea class="form-control " rows="5" placeholder="<iframe src='http://qa.recordlinc.com/widget/Jaimes Patio/SpecialOffers' width='50%' height='800' frameborder='0' style='border:0px'></iframe>"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 mrgn-btm-20">
                        <label><strong>Reviews</strong> <i title="Copy" data-toggle="tooltip" data-placement="bottom" class="sicessor-icon margin-left-10"></i></label>
                        <div class="mrgn-btm-10"></div>
                        <textarea class="form-control " rows="5" placeholder="<iframe src='http://qa.recordlinc.com/widget/Jaimes Patio/reviews' width='50%' height='1000' frameborder='0' style='border:0px'></iframe>"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 mrgn-btm-20">
                        <label><strong>Appointments</strong> <i title="Copy" data-toggle="tooltip" data-placement="bottom" class="sicessor-icon margin-left-10"></i></label>
                        <div class="mrgn-btm-10"></div>
                        <textarea class="form-control " rows="5" placeholder="<iframe src='http://qa.recordlinc.com/widget/Jaimes Patio/AppointmentBooking' width='50%' height='800' frameborder='0' style='border:0px'></iframe>"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="edit-primary-website-url" role="dialog">

</div>

<div class="modal fade" id="insert-website" role="dialog">

</div>

<div class="modal fade" id="edit-social-media-information" role="dialog">

</div>

<div class="modal fade" id="edit-description" role="dialog">
    @Html.Partial("_PartialEditDescriptionPopUp", Model)
</div>

<div class="modal fade" id="add-education-training-info" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header blue-bg">
                <button type="button" class="close close-circle" data-dismiss="modal">&times;</button>
                <h3 class="modal-title white">Add Education/Training Information</h3>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Institution Attended:<font color="red">*</font></label>
                    <input type="text" class="form-control" placeholder="Jerusalem College of Technology">
                </div>
                <div class="form-group">
                    <label>Last Year Attended/Graduated:</label>
                    <div class="dropdown latest_dropdown">
                        <select class="form-control" id="Colleaglst_8">
                            <option value="">2017</option>
                            <option value="First Name">2016</option>
                            <option value="Last Name">2015</option>
                            <option value="Referred By">2014</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label>Field of Study/Degree:</label>
                    <div class="dropdown latest_dropdown">
                        <select class="form-control" id="Colleaglst_8">
                            <option value="">DDS</option>
                            <option value="First Name">PHD</option>
                            <option value="Last Name">Orthodontics</option>
                            <option value="Referred By">DDS</option>
                        </select>
                    </div>
                </div>
                <p><span class="sky-blue">DDS, PHD, Orthodontics, General Dentistry</span></p>

            </div>
            <div class="modal-footer bdr-top-no">
                <div class="btn-group btn-holder">
                    <button type="button" class="btn btn-default btn1" data-dismiss="modal"><i class="ico-corss2"></i>Cancel</button>
                    <button type="button" class="btn btn-default btn1" data-dismiss="modal"><i class="ico-corss2"></i>Remove</button>
                    <button type="button" class="btn btn-default btn2 blue-bg mrgn-right-0"><i class="ico-save"></i>Save</button>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="add-professional-memberships" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header blue-bg">
                <button type="button" class="close close-circle" data-dismiss="modal">&times;</button>
                <h3 class="modal-title white">Add Professional Memberships</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group">
                        <label>After saving this association, click add button to enter new association:<font color="red">*</font></label>
                        <input type="text" class="form-control" placeholder="Jerusalem College of Technology">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control chars-box" placeholder="272"> <label class="chars-box-label">chars remaining</label>
                    </div>
                    <p><span class="sky-blue">Type your own association if it is not listed in auto complete. e.g.: American Geriatric Society. </span></p>
                </div>

            </div>
            <div class="modal-footer bdr-top-no">
                <div class="btn-group btn-holder">
                    <button type="button" class="btn btn-default btn1" data-dismiss="modal"><i class="ico-corss2"></i>Cancel</button>
                    <button type="button" class="btn btn-default btn2 blue-bg mrgn-right-0"><i class="ico-save"></i>Save</button>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="add-team-members" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header blue-bg">
                <button type="button" class="close close-circle" data-dismiss="modal">&times;</button>
                <h3 class="modal-title white">Add Team/Staff Member</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group mrgn-btm-20">
                        <label>First Name:<font color="red">*</font></label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group mrgn-btm-20">
                        <label>Last Name:<font color="red">*</font></label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group mrgn-btm-20">
                        <label>Email:<font color="red">*</font></label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group mrgn-btm-20">
                        <label>Speciality:<font color="red">*</font></label>
                        <div class="dropdown latest_dropdown">
                            <select class="form-control" id="Colleaglst_8">
                                <option value=""></option>
                                <option value="First Name">Speciality</option>
                                <option value="Last Name">Speciality</option>
                                <option value="Referred By">Speciality</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group mrgn-btm-20">
                        <label>Location:<font color="red">*</font></label>
                        <div class="dropdown latest_dropdown">
                            <select class="form-control" id="Colleaglst_8">
                                <option value=""></option>
                                <option value="First Name">Location</option>
                                <option value="Last Name">Location</option>
                                <option value="Referred By">Location</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group mrgn-btm-20">
                        <label>PMS Provider Id:</label>
                        <input type="text" class="form-control">
                    </div>
                </div>

            </div>
            <div class="modal-footer bdr-top-no">
                <div class="btn-group btn-holder">
                    <button type="button" class="btn btn-default btn1" data-dismiss="modal"><i class="ico-corss2"></i>Cancel</button>
                    <button type="button" class="btn btn-default btn2 blue-bg mrgn-right-0"><i class="ico-save"></i>Save</button>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="edit-insurance-details" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header blue-bg">
                <button type="button" class="close close-circle" data-dismiss="modal">&times;</button>
                <h3 class="modal-title white">Add/Edit Insurance Detail</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="relation-list-holder">
                        <ul class="relation-list">
                            <li>
                                <div class="form-group">
                                    <label><input class="form-control" type="checkbox">AETNA</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-group">
                                    <label><input class="form-control" type="checkbox">ASSURANT/SUNLIFE </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-group">
                                    <label><input class="form-control" type="checkbox">BCBS 104/105 </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-group">
                                    <label><input class="form-control" type="checkbox">DELTA DENTAL PREMIER</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-group">
                                    <label><input class="form-control" type="checkbox">GEHA </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-group">
                                    <label><input class="form-control" type="checkbox">MET LIFE </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-group">
                                    <label><input class="form-control" type="checkbox">UNITED CONCORDIA FEDVIP/COMMERCIAL</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-group">
                                    <label><input class="form-control" type="checkbox">OTHER PPO</label>
                                </div>
                            </li>
                        </ul>
                        <ul class="relation-list">
                            <li>
                                <div class="form-group">
                                    <label><input class="form-control" type="checkbox">AMERITAS </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-group">
                                    <label><input class="form-control" type="checkbox">BCBS </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-group">
                                    <label><input class="form-control" type="checkbox">CIGNA </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-group">
                                    <label><input class="form-control" type="checkbox">DELTA PPO </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-group">
                                    <label><input class="form-control" type="checkbox">GUARDIAN </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-group">
                                    <label><input class="form-control" type="checkbox">PRINCIPAL </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-group">
                                    <label><input class="form-control" type="checkbox">UNITED CONCORDIA TDP </label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="modal-footer bdr-top-no">
                <div class="btn-group btn-holder">
                    <button type="button" class="btn btn-default btn1" data-dismiss="modal"><i class="ico-corss2"></i>Cancel</button>
                    <button type="button" class="btn btn-default btn2 blue-bg mrgn-right-0"><i class="ico-save"></i>Save</button>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="add-procedure-detail" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header blue-bg">
                <button type="button" class="close close-circle" data-dismiss="modal">&times;</button>
                <h3 class="modal-title white">Add/Edit Procedure Detail</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="row mrgn-btm-20">
                        <div class="col-lg-12">
                            <table class="table table3 filtered-table">
                                <thead class="thead-inverse">
                                    <tr>
                                        <th>
                                            <div class="all-select">
                                                <input class="form-control" type="checkbox">
                                            </div>
                                        </th>
                                        <th>
                                            Procedures Name
                                        </th>
                                        <th>
                                            Insurance Cost Ratio
                                        </th>
                                        <th>
                                            Standard Rate
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="align-middle">
                                            <div class="all-select">
                                                <div class="form-group">
                                                    <input class="form-control" type="checkbox">
                                                </div>
                                            </div>
                                        </td>
                                        <td data-th="Procedures Name">
                                            Routine Exam
                                        </td>
                                        <td data-th="Insurance Cost Ratio"><input type="text" class="form-control" placeholder="0.00"></td>
                                        <td data-th="Standard Rate"><input type="text" class="form-control" placeholder="0.00"></td>


                                    </tr>
                                    <tr>
                                        <td class="align-middle">
                                            <div class="all-select">
                                                <div class="form-group">
                                                    <input class="form-control" type="checkbox">
                                                </div>
                                            </div>
                                        </td>
                                        <td data-th="Procedures Name">
                                            New Patient Exam
                                        </td>
                                        <td data-th="Insurance Cost Ratio"><input type="text" class="form-control" placeholder="0.00"></td>
                                        <td data-th="Standard Rate"><input type="text" class="form-control" placeholder="0.00"></td>


                                    </tr>
                                    <tr>
                                        <td class="align-middle">
                                            <div class="all-select">
                                                <div class="form-group">
                                                    <input class="form-control" type="checkbox">
                                                </div>
                                            </div>
                                        </td>
                                        <td data-th="Procedures Name">
                                            Check up X-rays (4)
                                        </td>
                                        <td data-th="Insurance Cost Ratio"><input type="text" class="form-control" placeholder="0.00"></td>
                                        <td data-th="Standard Rate"><input type="text" class="form-control" placeholder="0.00"></td>
                                    </tr>
                                    <tr>
                                        <td class="align-middle">
                                            <div class="all-select">
                                                <div class="form-group">
                                                    <input class="form-control" type="checkbox">
                                                </div>
                                            </div>
                                        </td>
                                        <td data-th="Procedures Name">
                                            Panoramic X-ray
                                        </td>
                                        <td data-th="Insurance Cost Ratio"><input type="text" class="form-control" placeholder="0.00"> </td>
                                        <td data-th="Standard Rate"><input type="text" class="form-control" placeholder="0.00"></td>
                                    </tr>
                                    <tr>
                                        <td class="align-middle">
                                            <div class="all-select">
                                                <div class="form-group">
                                                    <input class="form-control" type="checkbox">
                                                </div>
                                            </div>
                                        </td>
                                        <td data-th="Procedures Name">
                                            Cleaning - Adult Routine
                                        </td>
                                        <td data-th="Insurance Cost Ratio"><input type="text" class="form-control" placeholder="0.00"></td>
                                        <td data-th="Standard Rate"><input type="text" class="form-control" placeholder="0.00"></td>
                                    </tr>
                                    <tr>
                                        <td class="align-middle">
                                            <div class="all-select">
                                                <div class="form-group">
                                                    <input class="form-control" type="checkbox">
                                                </div>
                                            </div>
                                        </td>
                                        <td data-th="Procedures Name">
                                            Cleaning - Child Routine
                                        </td>
                                        <td data-th="Insurance Cost Ratio"><input type="text" class="form-control" placeholder="0.00"> </td>
                                        <td data-th="Standard Rate"><input type="text" class="form-control" placeholder="0.00"></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer bdr-top-no">
                <div class="btn-group btn-holder">
                    <button type="button" class="btn btn-default btn1" data-dismiss="modal"><i class="ico-corss2"></i>Cancel</button>
                    <button type="button" class="btn btn-default btn2 blue-bg mrgn-right-0"><i class="ico-save"></i>Save</button>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="add-procedure-detail" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header blue-bg">
                <button type="button" class="close close-circle" data-dismiss="modal">&times;</button>
                <h3 class="modal-title white">Add/Edit Procedure Detail</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="row mrgn-btm-20">
                        <div class="col-lg-12">
                            <table class="table table3 filtered-table">
                                <thead class="thead-inverse">
                                    <tr>
                                        <th>
                                            <div class="all-select">
                                                <input class="form-control" type="checkbox">
                                            </div>
                                        </th>
                                        <th>
                                            Procedures Name
                                        </th>
                                        <th>
                                            Insurance Cost Ratio
                                        </th>
                                        <th>
                                            Standard Rate
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="align-middle">
                                            <div class="all-select">
                                                <div class="form-group">
                                                    <input class="form-control" type="checkbox">
                                                </div>
                                            </div>
                                        </td>
                                        <td data-th="Procedures Name">
                                            Routine Exam
                                        </td>
                                        <td data-th="Insurance Cost Ratio"><input type="text" class="form-control" placeholder="0.00"></td>
                                        <td data-th="Standard Rate"><input type="text" class="form-control" placeholder="0.00"></td>


                                    </tr>
                                    <tr>
                                        <td class="align-middle">
                                            <div class="all-select">
                                                <div class="form-group">
                                                    <input class="form-control" type="checkbox">
                                                </div>
                                            </div>
                                        </td>
                                        <td data-th="Procedures Name">
                                            New Patient Exam
                                        </td>
                                        <td data-th="Insurance Cost Ratio"><input type="text" class="form-control" placeholder="0.00"></td>
                                        <td data-th="Standard Rate"><input type="text" class="form-control" placeholder="0.00"></td>


                                    </tr>
                                    <tr>
                                        <td class="align-middle">
                                            <div class="all-select">
                                                <div class="form-group">
                                                    <input class="form-control" type="checkbox">
                                                </div>
                                            </div>
                                        </td>
                                        <td data-th="Procedures Name">
                                            Check up X-rays (4)
                                        </td>
                                        <td data-th="Insurance Cost Ratio"><input type="text" class="form-control" placeholder="0.00"></td>
                                        <td data-th="Standard Rate"><input type="text" class="form-control" placeholder="0.00"></td>
                                    </tr>
                                    <tr>
                                        <td class="align-middle">
                                            <div class="all-select">
                                                <div class="form-group">
                                                    <input class="form-control" type="checkbox">
                                                </div>
                                            </div>
                                        </td>
                                        <td data-th="Procedures Name">
                                            Panoramic X-ray
                                        </td>
                                        <td data-th="Insurance Cost Ratio"><input type="text" class="form-control" placeholder="0.00"> </td>
                                        <td data-th="Standard Rate"><input type="text" class="form-control" placeholder="0.00"></td>
                                    </tr>
                                    <tr>
                                        <td class="align-middle">
                                            <div class="all-select">
                                                <div class="form-group">
                                                    <input class="form-control" type="checkbox">
                                                </div>
                                            </div>
                                        </td>
                                        <td data-th="Procedures Name">
                                            Cleaning - Adult Routine
                                        </td>
                                        <td data-th="Insurance Cost Ratio"><input type="text" class="form-control" placeholder="0.00"></td>
                                        <td data-th="Standard Rate"><input type="text" class="form-control" placeholder="0.00"></td>
                                    </tr>
                                    <tr>
                                        <td class="align-middle">
                                            <div class="all-select">
                                                <div class="form-group">
                                                    <input class="form-control" type="checkbox">
                                                </div>
                                            </div>
                                        </td>
                                        <td data-th="Procedures Name">
                                            Cleaning - Child Routine
                                        </td>
                                        <td data-th="Insurance Cost Ratio"><input type="text" class="form-control" placeholder="0.00"> </td>
                                        <td data-th="Standard Rate"><input type="text" class="form-control" placeholder="0.00"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer bdr-top-no">
                <div class="btn-group btn-holder">
                    <button type="button" class="btn btn-default btn1" data-dismiss="modal"><i class="ico-corss2"></i>Cancel</button>
                    <button type="button" class="btn btn-default btn2 blue-bg mrgn-right-0"><i class="ico-save"></i>Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="addLogo" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header blue-bg">
                <button type="button" class="close close-circle" id="closelogo">&times;</button>
                <h3 class="modal-title white">Upload Profile Picture</h3>
            </div>
            <form action="/Profile/AddProfileImage" id=frmProfileImage method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    <input type="hidden" name="Left" id="Left" value="" />
                    <input type="hidden" name="Right" id="Right" value="" />
                    <input type="hidden" name="Top" id="Top" value="" />
                    <input type="hidden" name="Bottom" id="Bottom" value="" />
                    <div class="col-lg-12" id="cropContainer">
                        <div id="cropDisplay">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <br />
                            <ul class="list">
                                <li>
                                    <input type="hidden" name="UserId" id="UserId" value='@Model.UserId' />
                                    <input type="file" id="fuImage" name="fuImage" onchange="return CheckIsImage();" />
                                    <span type="text" class="alert-danger" name="txtimage" id="txtimage"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer bdr-top-no">
                    <div class="btn-group btn-holder">
                        <button type="button" class="btn btn-default btn1" id="btnRemoveImage" onclick="openRemoveProfileImage();"><i class="ico-corss2"></i>Remove</button>

                        @*<button type="button" class="btn btn-default btn1" onclick="removeProfileImage();"><i class="ico-corss2"></i>Remove</button>*@
                        <button type="button" class="btn btn-default btn1" id="closelogos"><i class="ico-corss2"></i>Cancel</button>
                        <a type="button" href="javascript:;" class="btn btn-default btn2 blue-bg mrgn-right-0" id="btnSave" onclick="IsProfileImage()" name="Save"><i class="ico-save"></i>Save</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/ProfileScript")

@section scripts{
    <script>
        let defaultImage = '@defaultImage';
                
    </script>
    @*<script src="~/Scripts/select2.min.js"></script>
    <script src="~/Content/Dashboard/js/jcf.js"></script>
    <script src="~/Scripts/ControllerJS/Profile/Profile.js"></script>
    <script src="~/Content/file_upload/file-upload-jquery.js"></script>
    <script src="~/Content/JCrop/jquery.Jcrop.js"></script>*@
}
