﻿@model DentalFiles.Models.ReqLogin
           

<script type="text/javascript" language="javascript">

    function addplaceholderpwd() {
        document.getElementById('txtpassword').setAttribute('type', 'password');
    }

    function changetype() {

        if ($('#txtpassword').val() != 'Password') {
            document.getElementById('txtpassword').setAttribute('type', 'password');

        }
        else {
            document.getElementById('txtpassword').setAttribute('type', 'text');
            $('#txtpassword').val() = 'Password';
        }
    }


    var ButtonKeys = { "EnterKey": 13 };
    $(function () {

        $("#LoginForm").keypress(function (e) {

            if (e.which == ButtonKeys.EnterKey) {
                btnsubmitclick();

            }
        });
    });
    $(document).ready(function () {


        $("#txtemaillogin").blur(function () {
            if ($("#txtemaillogin").val() != '') {
                $("#txtemaillogin").css("color", "black");
            }
        });
        $("#txtpassword").blur(function () {
            if ($("#txtpassword").val() != '') {
                $("#txtpassword").css("color", "black");
            }
        });
    });
</script>

<div class="sign_in" id="LoginForm">
    <div class="submit_btn MemberLogin">
        <div class="loginpop">
            <a href="/Login" class="xyz">
                <input name="Login" value="Login" type="button" class="loginbtn"></a>
            @*<div class="MemberLoginDropDown">
                <div class="MemberLoginDropDownInner">
                    <ul>
                        <li>
                            <div class="input_border">
                                <div class="patient_icon">
                                </div>
                                @Html.TextBoxFor(model => model.Email, new { id = "txtemaillogin", @class = "input_box_login", @placeholder = "email / patientid", @tabindex = 1001 })
                                <input onclick="location.href='ForgotPassword';" type="button" value="Forget" name="Forget"
                                    class="forgot">
                            </div>
                            <div>
                                @Html.ValidationMessageFor(model => model.Email)
                            </div>
                        </li>
                        <li>
                            <div class="input_border">
                                <div class="password_icon">
                                </div>
                                @Html.TextBox(" ", "", new
                           {
                               id = "txtpassword",
                               @class = "input_box_login",
                               
                               @placeholder = "Password",
                               @tabindex = 1002,
                               @type = "password"
                           })
                                <input onclick="location.href='ForgotPassword';" type="button" value="Forget" name="Forget"
                                    class="forgot">
                            </div>
                            <div>
                                @Html.ValidationMessageFor(model => model.Password)
                            </div>
                        </li>
                        <li>
                            <input name="Submit" value="Login" onclick="return btnsubmitclick()" id="btnsubmit"
                                type="submit" class="submitbtn" tabindex='1003' />
                            <a href="javascript:;" class="MemberLoginCloseBtn">
                                <img src="/DentalImages/CloseBtn.png" alt="Close"></a> </li>
                    </ul>
                </div>
            </div>*@
        </div>
        <input onclick="location.href='SignUp';" name="Signup" type="button" value="Signup"
            id="signupbtn" causesvalidation="false" class="signupbtn">
    </div>
    <div class="clear">
    </div>
</div>
<script type="text/javascript">

    function btnsubmitclick() {
        if ($('#txtemaillogin').val() == null || $('#txtemaillogin').val() == "" || $('#txtemaillogin').val() == "email / patientid") {
            document.getElementById('txtemaillogin').focus();
            //alert('Enter valid email or patient id');
            swal({ title: "", text: 'Enter valid email or patient id' });
            return false;
        }
        else if ($('#txtpassword').val() == null || $('#txtpassword').val() == "" || $('#txtpassword').val() == "Password") {
            document.getElementById('txtpassword').focus();
            // alert('Please Enter Password');
            swal({ title: "", text: 'Please enter password' });
            return false;
        }
        $.ajax({
            url: '@Url.Action("ReqLogin", "_Login")',
            type: 'POST',
            dataType: 'html',
            contenttype: "application/x-www-form-urlencoded",
            data: {
                Email: $('#txtemaillogin').val(),
                temppass: $('#txtpassword').val()
            },
            cache: false,
            ProcessData: false,
            success: function
                           (output, status, xhr) {

                obj = jQuery.parseJSON(output);
                if (obj.Success == true) {

                    window.location = 'DashBoard';
                }
                else {

                    $('#Message').html(obj.Message);
                    $('#Message').delay(300).slideDown(300).delay(3000).slideUp(300);

                }

            },
            error: function (xhr) {
                if (typeof (console) != 'undefined') {
                    // console.log(xhr.responseText);
                }
            }
        });




    }
</script>
