﻿@model NewRecordlinc.Models.Common.PyamentDetails
@{
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Recordlinc - About</title>
    <link href="~/Content/css/lightbox.css" rel="stylesheet" />
    <link href="../../Content/css/pricing.css" rel="stylesheet" type="text/css" />

    <link href="../../Content/css/pricing.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="//www.baw5tracker.com/js/60398.js"></script>
    <noscript><img src="//www.baw5tracker.com/60398.png" style="display:none;" /></noscript>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <link rel="icon" href="../Images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="../Images/favicon.ico" type="image/x-icon" />
    <script src="../../Content/js/jquery-1.8.3.min.js"></script>
    <script src="../../Content/js/html5.js"></script>
    <script src="../../Content/js/scroll_top.js"></script>
    <script src="../../Content/js/script.js"></script>
    <script src="../../content/js/lightbox.js"></script>
    <script src="../../content/js/lightboxfile.js"></script>
    <link href="../../content/css/lightbox.css" type="text/css" rel="stylesheet" />
    <!-- J-query validator js -->
    <script type="text/javascript" src="../../Content/js/jquery.validate.min.js"></script>

    <style>
        .mfp-close {
            z-index: 11;
        }

        .white-popup-block {
            max-width: 700px !important;
        }

        .select-list select {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }

        .plans-details li {
            color: #fff;
        }

        .dev-text li {
            color: #666 !important;
        }

        .plans-hd p.price-tag {
            background: #10abed none repeat scroll 0 0;
            font-family: "Open Sans",sans-serif;
            font-size: 40px;
            font-weight: bold;
            margin: 20px 0;
            padding: 20px 5px;
            text-align: center;
        }

        .plans-hd p {
            color: #fff;
        }

        .plans.featured {
            background: #17335c none repeat scroll 0 0;
            color: #fff;
            margin-top: -30px;
            padding: 60px 0;
        }

        .plans-hd p {
            color: #10abed;
            font-size: 22px;
            margin: 10px 0;
        }

        .featured .plans-hd p {
            color: #fff;
            text-align: center;
        }

        .plans-hd p.tag {
            background: rgba(0, 0, 0, 0) url("../../Content/images/arrow-strip.png") no-repeat scroll center bottom;
            color: #fff;
            font-size: 18px;
            margin-top: 26px;
            padding-bottom: 9px;
        }

            .plans-hd p.tag span {
                background: #17335c none repeat scroll 0 0;
                display: block;
                padding: 5px 10px;
                text-align: center;
            }

        h1 {
            text-align: center;
        }

        .white-popup-block .cntnt {
            display: inline-flex;
            padding: 20px 15px;
        }

        .plans {
            width: 50%;
        }

        @@media (max-width: 530px) {
            .team ul.news li .text {
                margin-left: 0px;
                padding: 0;
                width: 100%;
                text-align: left;
            }

            .team ul.news li .thumb {
                border: medium none;
                width: 100px;
                padding: 10px;
            }

            .services_panel ul li {
                width: 100%;
                margin-bottom: 20px;
            }

            .flogos ul li {
                float: left;
                width: 39%;
            }

            .flogos {
                padding-bottom: 10px;
            }
        }
    </style>

    <script type="text/javascript">
        var specialKeys = new Array();
        specialKeys.push(8); //Backspace
        $(function () {
            $(".numericOnly").bind("keypress", function (e) {
                var keyCode = e.which ? e.which : e.keyCode
                var ret = ((keyCode >= 48 && keyCode <= 57) || specialKeys.indexOf(keyCode) != -1 || keyCode != 40 || keyCode != 41 || keyCode != 45 || keyCode != 32);
                return ret;
            });
            $(".numericOnly").bind("paste", function (e) {
                return false;
            });
            $(".numericOnly").bind("drop", function (e) {
                return false;
            });

        });
        function onlyAlphabets(e, t) {
            try {
                if (window.event) {
                    var charCode = window.event.keyCode;
                }
                else if (e) {
                    var charCode = e.which;
                }
                else { return true; }
                if ((charCode > 64 && charCode < 91) || (charCode > 96 && charCode < 123) || charCode == 32 | charCode == 8 | charCode == 0)
                    return true;
                else
                    return false;
            }
            catch (err) {
                // alert(err.Description);
            }
        }
        jQuery(window).ready(function () {
            if (jQuery(window).width() > 767) {
                jQuery(".plans-hd").css({ 'height': "auto" });
                var planHdHeight = $(".featured .plans-hd").height();
                jQuery(".plans-hd").css({ 'height': planHdHeight });
            } else {
                jQuery(".plans-hd").css({ 'height': "auto" });
            }
        });
        jQuery(window).resize(function () {
            if (jQuery(window).width() > 767) {
                jQuery(".plans-hd").css({ 'height': "auto" });
                var planHdHeight = $(".featured .plans-hd").height();
                jQuery(".plans-hd").css({ 'height': planHdHeight });
            } else {
                jQuery(".plans-hd").css({ 'height': "auto" });
            }
        });
        //jQuery(window).resize(function () {
        //    if (jQuery(window).width() > 767) {
        //        jQuery(".EqHeightDiv").css({ 'height': "auto" });
        //        equalHeight($(".EqHeightDiv"));
        //    } else {
        //        jQuery(".EqHeightDiv").css({ 'height': "auto" });
        //    }
        //});
        //jQuery(window).ready(function () {
        //    if (jQuery(window).width() > 767) {
        //        equalHeight($(".EqHeightDiv"));
        //    } else {
        //        jQuery(".EqHeightDiv").css({ 'height': "auto" });
        //    }
        //});
        $(document).ready(function () {
            $('.showlightbox').magnificPopup({
                type: 'inline',
                preloader: false,
                focus: '#name',
                closeOnBgClick: false,

                // When elemened is focused, some mobile browsers in some cases zoom in
                // It looks not nice, so we disable it:
                callbacks: {
                    beforeOpen: function () {
                        if ($(window).width() < 700) {
                            this.st.focus = false;
                        } else {
                            this.st.focus = '#name';
                        }
                    }
                }
            });
        });

        function PhoneValid() {
            $("#divLoading").show();
            var lnth = $("#txtemail").val();
            var emailenth = [];
            emailenth = lnth.split('@@');
            if ($("#txtemail").val() != "Email") {
                if ($("#txtemail").val() != "") {
                    if (emailenth[0].length < '7') {
                        //                        alert("Email address must be greater then 8 charactar");
                        //                        $('#divLoading').hide();
                        //                        return false;
                    }
                }
            }

            var MxLnthName = $("#txtname").val().length;

            if (MxLnthName > '16') {

                $("#lblnamevalidation").html("Name text field not accept more than 16 characters");
                $('#divLoading').hide();
                return false;
            }
            else {
                $("#lblnamevalidation").html("");
            }

            var Name = $("#txtname").val();
            if (Name != null && Name != '' && Name != "" && Name != 'Name') {
                var regex = /^[a-z]+[\s|,][a-z]{1,19}$/;
                // var regex = /(^[a-z]+\s[A-Z][a-z]*$)/;
                //var regex = /^(([A-Za-z]+[\-\']?)*([A-Za-z]+)?\s)+([A-Za-z]+[\-\']?)*([A-Za-z]+)?$/;
                if (regex.test(Name.trim().toLowerCase())) {
                    var name = $("#txtname").val().trim().split(' ');
                    if (name.length > 1) {
                        $("#txtFirstname").val(name[0].trim()); $("#txtLastname").val(name[1].trim());
                    }
                    else {
                        $("#txtFirstname").val(name[0].trim());
                    }
                }
                else {
                    // alert("Please enter valid name");
                    swal({ title: "", text: 'Name must be in ' + "'First Name and Last Name'" + ' format' });
                    $('#divLoading').hide();
                    return false;
                }
            }
            else {
                swal({ title: "", text: 'Please enter name' });
                $('#divLoading').hide();
                return false;
            }


            if ($('#txtphone').val() != "Phone") {
                if ($('#txtphone').val() != "") {
                    var phone = $('#txtphone').val();
                    var RegExEmail = ValidationPhone(phone);
                    if (!RegExEmail) {
                        // alert("Please enter valid phone number");
                        swal({ title: "", text: 'Please enter valid phone number' });
                        $('#divLoading').hide();
                        return false;
                    }
                }


            }




            if ($('#txtemail').val() != "Email" && $('#txtemail').val() != "") {


                var result = /(^\d*[a-zA-Z][a-z]*[-a-z0-9_\+\.]*[a-z0-9]?)@@([a-z0-9][-a-z0-9\.]*[a-z0-9]\.(arpa|root|aero|biz|cat|com|coop|edu|gov|info|int|jobs|mil|mobi|museum|name|net|org|pro|tel|travel|ac|ad|ae|af|ag|ai|al|am|an|ao|aq|ar|as|at|au|aw|ax|az|ba|bb|bd|be|bf|bg|bh|bi|bj|bm|bn|bo|br|bs|bt|bv|bw|by|bz|ca|cc|cd|cf|cg|ch|ci|ck|cl|cm|cn|co|cr|cu|cv|cx|cy|cz|de|dj|dk|dm|do|dz|ec|ee|eg|er|es|et|eu|fi|fj|fk|fm|fo|fr|ga|gb|gd|ge|gf|gg|gh|gi|gl|gm|gn|gp|gq|gr|gs|gt|gu|gw|gy|hk|hm|hn|hr|ht|hu|id|ie|il|im|in|io|iq|ir|is|it|je|jm|jo|jp|ke|kg|kh|ki|km|kn|kr|kw|ky|kz|la|lb|lc|li|lk|lr|ls|lt|lu|lv|ly|ma|mc|md|mg|mh|mk|ml|mm|mn|mo|mp|mq|mr|ms|mt|mu|mv|mw|mx|my|mz|na|nc|ne|nf|ng|ni|nl|no|np|nr|nu|nz|om|pa|pe|pf|pg|ph|pk|pl|pm|pn|pr|ps|pt|pw|py|qa|re|ro|ru|rw|sa|sb|sc|sd|se|sg|sh|si|sj|sk|sl|sm|sn|so|sr|st|su|sv|sy|sz|tc|td|tf|tg|th|tj|tk|tl|tm|tn|to|tp|tr|tt|tv|tw|tz|ua|ug|uk|um|us|uy|uz|va|vc|ve|vg|vi|vn|vu|wf|ws|ye|yt|yu|za|zm|zw)|([0-9]{1,3}\.{3}[0-9]{1,3}))/;


                if (result.test($("#txtemail").val()) != true) {
                    // alert("Please enter a valid email address");
                    swal({ title: "", text: 'Please enter a valid email address' });
                    $('#divLoading').hide();
                    return false;
                }

            } else {
                //alert("Please enter a valid email address");
                swal({ title: "", text: 'Please enter a valid email address' });
                $('#divLoading').hide();
                return false;
            }

            jQuery.ajaxSetup({ async: false });
            var status = true;
            $.post("/User/CheckDoctorLoginNameIsExistsOrNot", { Username: $('#txtemail').val() }, function (data) {
                if (data == "true") {

                    //alert("This email address already exists. please try new mail id");
                    swal({ title: "", text: 'This email address already exists. please try new mail id' });
                    $('#divLoading').hide();
                    status = false;
                }
            });
            jQuery.ajaxSetup({ async: true });

            $('#divLoading').hide();
            return status;
        }

        /**
        * Basic jQuery Validation Form Demo Code
        * Copyright Sam Deering 2012
        * Licence: http://www.jquery4u.com/license/
        */
        (function ($, W, D) {
            var JQUERY4U = {};

            JQUERY4U.UTIL =
    {
        setupFormValidation: function () {
            //form validation rules
            $.validator.addMethod("customemail",
    function (value, element) {
        return /([a-z0-9][-a-z0-9_\+\.]*[a-z0-9])@@([a-z0-9][-a-z0-9\.]*[a-z0-9]\.(arpa|root|aero|biz|cat|com|coop|edu|gov|info|int|jobs|mil|mobi|museum|name|net|org|pro|tel|travel|ac|ad|ae|af|ag|ai|al|am|an|ao|aq|ar|as|at|au|aw|ax|az|ba|bb|bd|be|bf|bg|bh|bi|bj|bm|bn|bo|br|bs|bt|bv|bw|by|bz|ca|cc|cd|cf|cg|ch|ci|ck|cl|cm|cn|co|cr|cu|cv|cx|cy|cz|de|dj|dk|dm|do|dz|ec|ee|eg|er|es|et|eu|fi|fj|fk|fm|fo|fr|ga|gb|gd|ge|gf|gg|gh|gi|gl|gm|gn|gp|gq|gr|gs|gt|gu|gw|gy|hk|hm|hn|hr|ht|hu|id|ie|il|im|in|io|iq|ir|is|it|je|jm|jo|jp|ke|kg|kh|ki|km|kn|kr|kw|ky|kz|la|lb|lc|li|lk|lr|ls|lt|lu|lv|ly|ma|mc|md|mg|mh|mk|ml|mm|mn|mo|mp|mq|mr|ms|mt|mu|mv|mw|mx|my|mz|na|nc|ne|nf|ng|ni|nl|no|np|nr|nu|nz|om|pa|pe|pf|pg|ph|pk|pl|pm|pn|pr|ps|pt|pw|py|qa|re|ro|ru|rw|sa|sb|sc|sd|se|sg|sh|si|sj|sk|sl|sm|sn|so|sr|st|su|sv|sy|sz|tc|td|tf|tg|th|tj|tk|tl|tm|tn|to|tp|tr|tt|tv|tw|tz|ua|ug|uk|um|us|uy|uz|va|vc|ve|vg|vi|vn|vu|wf|ws|ye|yt|yu|za|zm|zw)|([0-9]{1,3}\.{3}[0-9]{1,3}))/.test(value);
    },
    "Please enter a valid email address"
);

            $("#register-form").validate({
                rules: {

                    Email: {
                        required: {
                            depends: function () {
                                $(this).val($.trim($(this).val()));
                                return true;
                            }
                        },
                        customemail: true
                    }

                },
                messages: {

                    Email: "Please enter a valid email address"

                },
                submitHandler: function (form) {
                    form.submit();
                }
            });
        }

    }

            //when the dom has loaded setup form validation rules
            $(D).ready(function ($) {
                JQUERY4U.UTIL.setupFormValidation();
            });

        })(jQuery, window, document);
    </script>
    <!-- Responsive Menu Files -->
    <link rel="stylesheet" type="text/css" href="../../Content/css/menu.css" />
    <script src="../../Content/js/menu.js" type="text/javascript"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $('.sub-menu li a').mouseenter(function () {
                $(this).closest("ul").closest("li").addClass("active");
            }).mouseleave(function () {
                $(this).closest("ul").closest("li").removeClass("active");
            });
        });
        function FindDentist() {
            var fname = "";
            var lname = "";
            window.location.href = '@Url.Action("SearchResult", "Profiles")';   //?fname=' + fname + '&lname=' + lname;
        }


        function SearchbyLocation() {

            var city = "";
            var state = "";
            var country = "";
            window.location.href = '@Url.Action("SearchResult", "Profiles")';   //?city=' + city + '&state=' + state + '&country=' + country;
        }

    </script>
    <!-- Slider Files -->
    <link rel="stylesheet" type="text/css" href="../../Content/css/banner.css" />
    <script type="text/javascript" src="../../Content/js/modernizr.custom.28468.js"></script>
    <script type="text/javascript" src="../../Content/js/jquery.cslider.js"></script>
    <script type="text/javascript">
        $(function () {

            $('#da-slider').cslider({
                bgincrement: 0
            });

        });
    </script>
    <!-- Carousel Scripts -->
    <link rel="stylesheet" href="../../Content/css/simple-slider.css" type="text/css" />
    <script src="../../Content/js/jquery.bxslider.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.bxslider').bxSlider({
                minSlides: 1,
                maxSlides: 1,
                slideMargin: 10
            });
        });
    </script>
    <script src="../../Content/js/Common.js"></script>
    <!--[if lt IE 9]>
        <link rel="stylesheet" href="css/ie.css">
    <![endif]-->
    <!--[if lt IE 8]>
    <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE8.js"></script>
    <![endif]-->
    <script type="text/jscript" src="../../Content/js/jquery.ui.core.js"></script>
    <script type="text/jscript" src="../../Content/js/jquery.ui.widget.js"></script>
    <script type="text/jscript" src="../../Content/js/jquery.ui.mask.js"></script>
    <script type="text/javascript">



        $(function () {


            // For Name
            $('#txtname').focus(function () {
                if (document.getElementById('txtname').value == 'Name') {
                    document.getElementById('txtname').value = '';
                }

            });
            $('#txtname').blur(function () {

                if (document.getElementById('txtname').value == '') {
                    document.getElementById('txtname').value = 'Name';
                }
            });

            // For Email
            $('#txtemail').focus(function () {
                if (document.getElementById('txtemail').value == 'Email') {
                    document.getElementById('txtemail').value = '';
                }

            });
            $('#txtemail').blur(function () {
                if (document.getElementById('txtemail').value == '') {
                    document.getElementById('txtemail').value = 'Email';
                }
            });

            // For Phone
            $('#txtphone').focus(function () {

                if (document.getElementById('txtphone').value == '') {
                    document.getElementById('txtphone').value == 'Phone';
                    //  $('#txtphone').mask({ mask: '(999) 999-9999' });

                }

            });
            $('#txtphone').blur(function () {
                if (document.getElementById('txtphone').value == '' || document.getElementById('txtphone').value == '(___) ___-____') {
                    document.getElementById('txtphone').setAttribute('', '');
                }


            });







            var Check = getquerystringvalueByName('valid');
            if (Check != null && Check != "") {
                if (Check == "Invalid") {
                    // alert('Email address and password do not match');
                    swal({ title: "", text: 'Email address and password do not match' });
                    document.getElementById('divindex').style.display = 'block';
                    document.getElementById('divsuccess').style.display = 'none';
                }

                if (Check == "2") {
                    //alert('Your account was de-activated due to inactivity. We have emailed you a link to re-activate your account. Please check your email and if you did not receive our email within a few minutes please check your spam folder.');
                    swal({ title: "", text: 'Your account was de-activated due to inactivity. We have emailed you a link to re-activate your account. Please check your email and if you did not receive our email within a few minutes please check your spam folder.' });
                    document.getElementById('divindex').style.display = 'block';
                    document.getElementById('divsuccess').style.display = 'none';
                }

                if (Check == "3") {
                    //alert('Your account has been blocked by Admin.');
                    swal({ title: "", text: 'Your account has been blocked by Admin.' });
                    document.getElementById('divindex').style.display = 'block';
                    document.getElementById('divsuccess').style.display = 'none';
                }

                if (Check == "Signup") {

                    document.getElementById('divindex').style.display = 'none';
                    document.getElementById('divsuccess').style.display = 'block';
                }

            }

        });

        // For query string values
        function getquerystringvalueByName(name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
            results = regex.exec(location.search);
            return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        }


        function CharactersOnlyValidate() {
            var charactersOnly = IsCharactersOnly(document.getElementById('txtname').value);
            if (charactersOnly == false) {
                // alert('Allow characters only');
                swal({ title: "", text: 'Allow characters only' });
                document.getElementById('txtname').value = '';
            }
        }

        $(document).ready(function () {
            $("#popup-of-free-to-paid-New").show();
            // $("#divsuccess").css("filter", "blur(2px)");

            $("#buynow-btn1").click(function () {
                $("#Planes").val($(".PaymentOption1 :selected").val());

                $("#PostPaymentId").submit();
            });

            $("#buynow-btn2").click(function () {
                $("#Planes").val($(".PaymentOption2 :selected").val());
                $("#PostPaymentId").submit();
            });
        });

        function Viewpop() {
            $("#popup-of-free-to-paid-New").hide();
            $("#divsuccess").css("filter", "blur(0px)");
        }



    </script>
    <style type="text/css">
        #register-form label {
            color: Red;
            display: block;
            font-size: 13px;
            font-weight: bold;
            line-height: 15px;
            margin: 0 0 5px;
            text-shadow: 1px 0 2px rgba(255, 255, 255, 0.75);
        }
    </style>
</head>
<body id="innerpg" class="lytgreybg">
    @*<header>
            <div class="container">
                <h1 class="logo"><a href='@Url.Action("Index", "User")'>Recordlinc</a></h1>
                <div class="clear"></div>
            </div>
        </header>*@
    <div id="divindex" style="display: block;">
        <!-- InnerPage starts here -->
        <section id="inner">
            <div class="container">
                <div id="signup_today">
                    <div class="signup_panel">
                        <h3>Dentists</h3>
                        <div class="trial_banner">
                            <h4>Do you want <br />more referrals</h4>
                            <div class="ref_img"><img class="hide" src="../Images/inner/banner-signup.jpg" alt="Do you want more referrals"><img class="alternate" src="../Images/inner/banner-signup-small.jpg" alt="Do you want more referrals"></div>
                            <div class="free_trial_accnt">
                                <div class="hr"></div>
                                <form action="@Url.Action("DoctorSingup", "User")" method="post" id="register-form">
                                    <h4>Sign up for a<span>FREE TRIAL ACCOUNT</span></h4>
                                    <p>Enter Your Info Below and You'll Get Instant Access to a FREE TRIAL account.</p>
                                    @*   <input class="textfield" name="Name" type="text" value="Name" id="txtname" >
                                            <input class="textfield" name="Email" type="text" value="Email" id="txtemail" >
                                            <input class="textfield" name="Phone" type="text" value="Phone"  id="txtphone" >
                                        <input name="Submit" type="submit" value="Submit" id="btnsave" onclick="return PhoneValid()" >*@

                                    <input name="FirstName" type="hidden" value="" id="txtFirstname" />
                                    <input name="LastName" type="hidden" value="" id="txtLastname" />
                                    <input class="textfield alphaonly" name="Name" type="text" placeholder="Name" value="" id="txtname" onkeypress="return onlyAlphabets(event,this);" />
                                    <label id="lblnamevalidation"></label>
                                    <input class="textfield" type="text" value="" placeholder="Email" id="txtemail" name="Email" />
                                    <input class="textfield numericOnly" name="Phone" type="text" placeholder="Phone" value="" id="txtphone" maxlength="14" />
                                    <input class="get_started" value="Get Started" type="submit" onclick="return PhoneValid()" />

                                    <input name="From" type="hidden" value="1" />
                                    <a href='@Url.Action("Index", "PlanAndPricing")'>upgrade to pro</a><a href='@Url.Action("PrivacyPolicy", "Faq")'>privacy policy</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <section class="sectn">
                <div class="container demotrial_panel">

                    <div class="demo_content">
                        <div class="watch_demo"><img src="../Images/inner/watch-demo.png" alt="Watch Demo"></div>
                        <h5>Of course you do…</h5>
                        <p>
                            Most Dentists we speak with have the same problems.<br />
                            Inefficient processes to both send and receive referrals.<br />
                            RecordLinc is the largest network of dental professionals in the world.<br />
                        </p>
                        <ul class="mb25">
                            <li class="hylyt"><span>Connect</span> with dental colleagues</li>
                            <li class="hylyt"><span>Simplify</span> your referral process</li>
                            <li class="hylyt"><span>Grow</span> your practice</li>
                        </ul>
                        <ul class="blocks">
                            <li>
                                <p>
                                    Save money on wasted time spent <br />by office staff doing things the "old <br />way". Send and receive electronic referrals, transfer patients, and <br />secure patient data while meeting HIPAA compliance for your<br /> practice.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Step into the 21st Century with your practice today and take our offer for a
                                </p>
                                <h3 class="trial">FREE 30 DAY TRIAL</h3>
                                <p>
                                    of RecordLinc.<small>Don't let your local competitors<br /> get an edge…</small>
                                </p>
                            </li>
                        </ul>

                        <div class="steps">
                            <ul>
                                <li><img alt="Connect" src="../Images/inner/step1-connect.png"></li>
                                <li>
                                    <img alt="Simplify" src="../Images/inner/step2-simplify.png">
                                </li>
                                <li>
                                    <img alt="Growth" src="../Images/inner/step3-growth.png">
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="clear"></div>
                </div>
            </section>

            <!--======================== Testimonials ===========================-->
            <section class="section_bottom">

                <section id="testimonials" class="sectn">
                    <div class="demotrial_panel">
                        <h6>Testimonials</h6>

                        <ul class="bxslider">
                            <li>
                                <div class="thumb"><img src="../Images/inner/bohannan.jpg" alt="Bohannan"></div>
                                <blockquote class="text">
                                    The best thing about RecordLinc is that it is an easy way to communicate with all parties involved while treating my patients. It also allows us to transfer information in a HIPAA compliant manners.
                                    <small>Dr. Bruce Bohannan (Oral Surgeon)</small>
                                </blockquote>
                            </li>
                            <li>
                                <div class="thumb"><img src="../Images/inner/gregray.jpg" alt="Greg Ray"></div>
                                <blockquote class="text">
                                    RecordLinc allows us to better communicate with the various specialists we work with so we don't get the calls asking, "can you send us a copy of that x-ray again”.
                                    <small>Dr. Greg Ray (General Dentist)</small>
                                </blockquote>
                            </li>
                        </ul>

                        <!-- End carousel -->

                        <div class="clear"></div>
                    </div>
                </section>

            </section>

        </section>
        <!-- InnerPage ends here -->

    </div>

    <!-- Start Free To paid Option In Popup-->
    <!--END-->
    <!-- Dental Footer Starts here -->
    <div class="container" id="divsuccess" style="display: none;">
        <div id="email_confirm" class="content" style="margin-top: 10px;">
            <h2 class="title">
                Check your E-mail for your login details
            </h2>
            <div class="textpanel team">
                <ul class="news">
                    <li>
                        <div class="thumb">
                            <img src="../images/inner/gregory.jpg" alt="Dr. Gregory Burnett">
                        </div>
                        <div class="text">
                            <h2>
                                Welcome to RecordLinc by Founder - Dr. Gregory Burnett<span>Orthodontists</span>
                            </h2>
                            <p>
                                Thank you for signing up for RecordLinc and welcome to the RecordLinc family. We
                                are here to help you grow your practice and improve your patient care. I wanted
                                to briefly share the story of why we started RecordLinc.<br>
                                <br>
                                One day I was watching my office staff handle my referrals. Quite frankly, I couldn't
                                believe how manual the process was. They are constantly complaining about how time
                                consuming the process was and irritated. I'm sure you can relate...<br>
                                <br>
                                More than that, the process took too long and I was struggling to find a solution
                                to common problem many of us dental practitioners have. Just like you, my practice
                                needed a steady and reliable stream of new referrals to keep my revenue growing,
                                while reducing the "friction" with my office staff.<br>
                                <br>
                                RecordLinc has solved these problems and headaches for my practice. I now have a
                                simple and cost effective way to connect with other local specialists to send and
                                receive referrals, as well as maintaining HIPAA compliance. And much more... The
                                best way I can describe this is LinkedIn built for Dentists to connect with local
                                referral partners, simplifying your practice, and grow your revenue.<br>
                                <br>
                                As a fellow Dentist, I recommend you shake the "old ways" and try Recordlinc. Your
                                staff and your pocket book will appreciate it. Feel free to reach out to our team
                                for suggestions or training anytime.
                                <br>
                                <br>
                            </p>
                            <ul>
                                <li>Dr. Gregory Burnett, DDS</li>
                                <li>Email: <a href="mailto:greg@RecordLinc.com">greg@RecordLinc.com</a></li>
                                <li>Phone: (415)749-1444</li>
                                <li>Facebook: <a href="https://www.facebook.com/recordlinc">www.facebook.com/recordlinc</a></li>
                                <li>LinkedIn: <a href="https://www.linkedin.com/in/recordlinc/">www.linkedin.com/in/recordlinc/</a></li>
                            </ul>
                            <br>
                            <br>
                        </div>
                        <div class="clear">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <a href="#" class="scrollup">Scroll</a>
</body>
</html>
<div id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px;
    top: 0px; width: 100%; height: 100%; background-color: White; z-index: 30001;
    opacity: 0.5; filter: alpha(opacity=70); display: none">
    <p style="position: absolute; top: 30%; left: 50%; color: White;">
        <img src="../../Images/Recordloading.gif">
    </p>
</div>
@using (Html.BeginForm("", "FreeToPaid", FormMethod.Post, new { id = "PostPaymentId" }))
{
    @Html.HiddenFor(m => m.Planes)

}

<script type="text/javascript">
    var capterra_vkey = 'c8fc8f836fe72e418ca957bbe711d4a2',
    capterra_vid = '2106256',
    capterra_prefix = (('https:' == document.location.protocol) ? 'https://ct.capterra.com' : 'http://ct.capterra.com');

    (function () {
        var ct = document.createElement('script'); ct.type = 'text/javascript'; ct.async = true;
        ct.src = capterra_prefix + '/capterra_tracker.js?vid=' + capterra_vid + '&vkey=' + capterra_vkey;
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ct, s);
    })();
</script>