﻿@model DentalFiles.Models.RequiredFiedModel
@{
    ViewBag.Title = "NewIndex";
    Layout = "~/Views/Shared/NewSiteLayout.cshtml";
    var messageToShow = Convert.ToString(TempData["message"]);
    TempData["message"] = null;
}
<section class="visual">
    <div class="bg-image">
        <span data-srcset="/Content/HomePage/images/banner.jpg"></span>
    </div>
    <div class="container">
        <div class="col-lg-8 col-md-8 col-sm-8">
            <h1>Finally A Way To Access your Dental Files!</h1>
            <p><a href="https://itunes.apple.com/us/app/my-dental-files-secure-dental/id825792000?ls=1&mt=8#"><img src="~/Content/HomePage/images/app-store.png" alt="app-store" /></a><span>Simple & Secure</span></p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 block-video">
            @using (Html.BeginForm("GetPara", "Index", FormMethod.Post, new { @class = "form-search", @autocomplete = "off" }))
            {
                <h4>Find Your Dentist</h4>

                <div class="field-holder">
                    @Html.TextBoxFor(model => model.CityOrZip, new { id = "txtziporcity", @validationgroup = "finddentist", @class = "form-control", @placeholder = "Enter the city or zip of your dentist", @tabindex = 201 })
                    @Html.ValidationMessageFor(model => model.CityOrZip)
                </div>
                <div class="field-holder">
                    @Html.DropDownListFor(model => model.Speciality, new SelectList(ViewBag.Sending, "Value", "Text"), "Filter by Speciality", new { @class = "form-control rare-style", id = "country_id", @color = "#0691c5", @tabindex = 202 })
                </div>
                <div class="field-holder">
                    @Html.TextBoxFor(model => model.Lastname, new { id = "txtlastname", @placeholder = "Enter last name of your dentist", @class = "form-control", @tabindex = 203 })
                    @Html.ValidationMessageFor(model => model.Lastname)
                </div>
                <input type="submit" value="Search" id="btnsearch" class="btn btn-default" tabindex="204" />
            }
           
        </div>
    </div>
</section>
<main id="main">
    <div class="block-search style">
        <div class="container text-center">
            <h2>MyDentalFiles is a secure</h2>
            <p>way for patients to securely communicate with your dentists, access dental records and fill out forms one time</p>
        </div>
    </div>
    <section class="block-video">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-7">
                    <div class="image-holder">
                        @*<img src="~/Content/HomePage/images/img27.png" alt="image description">*@
                        <iframe class="embed-responsive-item" src="//player.vimeo.com/video/82626744" width="394" height="311" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-xs-12 col-md-5">
                    <h2>Signing up is FREE and EASY (2 steps)</h2>
                    @using (Html.BeginForm("CreateSession", "Index", FormMethod.Post, new { @class = "form-search", @autocomplete = "off" }))
                    {
                        <div class="field-holder">
                            @*<input type="text" placeholder="First Name" class="form-control">*@
                            @Html.TextBoxFor(model => model.Firstname, new { @class = "form-control clsalphabetsOnly", id = "txtindexFname", @placeholder = "First Name", tabindex = "11" })
                            @Html.ValidationMessageFor(m => m.Firstname)
                        </div>
                        <div class="field-holder">
                            @*<input type="text" placeholder="Last Name" class="form-control">*@
                            @Html.TextBoxFor(model => model.Lastname, new { @class = "form-control clsalphabetsOnly", id = "txtindexLname", @placeholder = "Last Name", tabindex = "12" })
                            @Html.ValidationMessageFor(m => m.Lastname)
                        </div>
                        <div class="field-holder">
                            @*<input type="text" placeholder="Email" class="form-control">*@
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", id = "Emailstep1", @placeholder = "Email", tabindex = "13" })
                            @Html.ValidationMessageFor(m => m.Email)
                        </div>
                        <div class="field-holder">
                            @*<input type="text" placeholder="Phone Number" class="form-control">*@
                            @Html.TextBoxFor(model => model.PhoneNo, new { @class = "form-control clsnumericOnly", id = "txtindexphone", @placeholder = "Phone Number", tabindex = "14", @maxlength = "10" })
                            @Html.ValidationMessageFor(m => m.PhoneNo)
                        </div>
                        @*<input type="submit" value="Submit" class="btn btn-default">*@
                        <input type="hidden" value="true" id="hdntxtindexphone" />
                        <input name="Search" onclick="return Validation();" class="btn btn-default" type="submit" value="Submit" tabindex="15">
                    }
 
                </div>
            </div>
        </div>
    </section>
    <div class="benefits">
        <h2 class="text-center">Benefits</h2>
        <div class="container">
            <div class="col-lg-4">
                <i class="icon"><img src="~/Content/HomePage/images/fint-dentist.png" alt="image description"></i>
                <span class="text">Find the best Dentist</span>
            </div>
            <div class="col-lg-4">
                <i class="icon"><img src="~/Content/HomePage/images/timing.png" alt="image description"></i>
                <span class="text">Less time filling out forms</span>
            </div>
            <div class="col-lg-4">
                <i class="icon"><img src="~/Content/HomePage/images/improve.png" alt="image description"></i>
                <span class="text">Improve communication with dentist</span>
            </div>
            <div class="col-lg-4">
                <i class="icon"><img src="~/Content/HomePage/images/x-rays.png" alt="image description"></i>
                <span class="text">Take less x-rays</span>
            </div>
            <div class="col-lg-4">
                <i class="icon"><img src="~/Content/HomePage/images/easily.png" alt="image description"></i>
                <span class="text">Easily access dental files & treatment plans</span>
            </div>
            <div class="col-lg-4">
                <i class="icon"><img src="~/Content/HomePage/images/transfer.png" alt="image description"></i>
                <span class="text">Transfer dental files</span>
            </div>
        </div>
    </div>
    <div class="block-links">
        <h2 class="text-center">Demonstration</h2>
        <div class="container">
            <div class="col">
                <a onclick="window.open('/html/my_inbox.html','_blank')" target="_blank">
                    <i class="icon"><img src="~/Content/HomePage/images/inbox.png" alt="image description"></i>
                    <span class="text">My Inbox</span>
                </a>
            </div>
            <div class="col">
                <a onclick="window.open('/html/patient_history.html','_blank')" target="_blank">
                    <i class="icon"><img src="~/Content/HomePage/images/info.png" alt="image description"></i>
                    <span class="text">My Info</span>
                </a>
            </div>
            <div class="col">
                <a onclick="window.open('/html/treating_docs.html','_blank')" target="_blank">
                    <i class="icon"><img src="~/Content/HomePage/images/treating.png" alt="image description"></i>
                    <span class="text">My Treating Doctors</span>
                </a>
            </div>
            <div class="col">
                <a onclick="window.open('/html/dental_files.html','_blank')" target="_blank">
                    <i class="icon"><img src="~/Content/HomePage/images/files.png" alt="image description"></i>
                    <span class="text">My Dental Files</span>
                </a>
            </div>
        </div>
    </div>
</main>
@section scripts {
    <script>
        $(document).ready(function () {
            $(".numericOnly").bind("keypress", function (e) {
                var keyCode = e.which ? e.which : e.keyCode
                var ret = ((keyCode >= 48 && keyCode <= 57) || specialKeys.indexOf(keyCode) != -1);

                return ret;
            });
            $(".numericOnly").bind("paste", function (e) {
                return false;
            });
            $(".numericOnly").bind("drop", function (e) {
                return false;
            });
            if ($.trim("@(messageToShow)").length != 0) {
                $('#divMessage').html("@(messageToShow)");
                $('#divMessage').delay(300).slideDown(300).delay(3000).slideUp(300);

            }
        });

        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
            if (charCode != 46 && charCode > 31
                && (charCode < 48 || charCode > 57))
                return false;

            return true;
        }
    </script>


}

