﻿@model BO.Models.SpecialOffers
    
<script src="~/Scripts/JS/jquery-1.11.2.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

@using (@Html.BeginForm("InsertUpdateSpecialOffer", "SpecialOffers", FormMethod.Post, new { enctype = "multipart/form-data", id = "bannerform" }))
{
    <button type="button" title="Close (Esc)" class="mfp-close">×</button>
    if (Model.OfferId > 0)
    {
        <h2 class="title">
            Edit Offer
        </h2>
    }
    else
    {
        <h2 class="title">
            Add Offer
        </h2>
    }

    <div class="cntnt">
        <div class="block" style="width:79%;">
            <div class="form-group required">
                @Html.HiddenFor(t => t.OfferId)
                @Html.LabelFor(t => t.Title, new { @class = "form-label" })
                @Html.TextBoxFor(t => t.Title, new { @class = "form-control", @maxlength = "100" })
                @Html.ValidationMessageFor(t => t.Title,"", new { @class = "text-danger" })
            </div>
            <div class="form-group required">
                @Html.LabelFor(t => t.Description, new { @class = "form-label" })
                @Html.TextAreaFor(t => t.Description, new { @class = "form-control", @style = "height : 100px;" })
                @Html.ValidationMessageFor(t => t.Description, "", new { @class = "text-danger" })
            </div>
            <div class="form-group required">
                @Html.LabelFor(t => t.Code, new { @class = "form-label" })
                @Html.TextBoxFor(t => t.Code, new { @class = "form-control" })
                @Html.ValidationMessageFor(t => t.Code, "", new { @class = "text-danger" })
            </div>
            <div class="form-group required">
                @Html.LabelFor(t => t.SortOrder, new { @class = "form-label" })
                @Html.TextBoxFor(t => t.SortOrder, new { @class = "form-control", @maxlength = "3" })
                @Html.ValidationMessageFor(t => t.SortOrder, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(t => t.Status, new { @class = "form-label" })
                @Html.RadioButtonFor(t => t.Status, true)&nbsp;Active &nbsp;
                @Html.RadioButtonFor(t => t.Status, false)&nbsp;Inactive
            </div>
        </div>
        <div class="clear">
        </div>
        <div class="actions">
            <input class="save_btn1" name="Save" type="submit" value="Save" style="width:97px;height:40px;">
            <input class="cancel_btn" name="Cancel" type="button" value="Cancel" onclick="Close()">
            <div class="clear">
            </div>
        </div>
    </div>
}


