﻿@model BO.Models.SpecialOffers
@{
    ViewBag.Title = "Recordlinc - Special Offers";
    Layout = "~/Views/Shared/SiteLayoutInner.cshtml";
    <style>
        .form-group.required .form-label:after {
            content: " *";
            color: red;
        }
    </style>
    var errorMessage = TempData["ErrorMessage"];
    if (!string.IsNullOrEmpty(ViewBag.ErrorMessage) || !string.IsNullOrEmpty(Convert.ToString(TempData["ErrorMessage"])))
    {
        <input type="hidden" name="name" value="@ViewBag.Message" id="errormessage" />
        TempData["ErrorMessage"] = string.Empty;
    }
}
<div class="content">
    <div class="content_base">
        <div class="breadcrumb">
            <div id="divSearchtextshow">
            </div>
        </div>
        <div class="inner">
            <div class="table_data reports_ref_received clearfix">
                <h5>Manage Special Offers<span class="buttons"></span></h5>
                <div class="heading_panel">
                    <a class="edit popup-with-form showlightbox" style="float:right" href="#AddSpecialOffer" onclick="AddSpecialOffer()">
                        <img src="~/Images/Add_new_special_offer.png" />
                    </a>
                </div>
                <div class="clear"></div>
                <table class="patientContactList" cellpadding="0" cellspacing="0" border="0" id="tblComapanyList">
                    <thead>
                        <tr>
                            <th width="15%">
                                @Html.LabelFor(t => t.Title)
                            </th>
                            <th width="35%">
                                @Html.LabelFor(t => t.Description)
                            </th>
                            <th width="15%">
                                @Html.LabelFor(t => t.Code)
                            </th>
                            <th width="5%">
                                @Html.LabelFor(t => t.SortOrder)
                            </th>
                            <th width="10%">
                                @Html.LabelFor(t => t.Status)
                            </th>
                            <th width="20%">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody id="tblbodycontent" style="overflow-y:auto;max-height:100px">
                        @if (Model.lstOffers.Count > 0)
                        {
                            for (int i = 0; i < Model.lstOffers.Count; i++)
                            {
                                <tr>
                                    <td>
                                        @Model.lstOffers[i].Title
                                    </td>
                                    <td>
                                        @Model.lstOffers[i].Description
                                    </td>
                                    <td>
                                        @Model.lstOffers[i].Code
                                    </td>
                                    <td>
                                        @Model.lstOffers[i].SortOrder
                                    </td>
                                    <td>
                                        @Model.lstOffers[i].OfferStatus
                                    </td>
                                    <td>
                                        <a class="edit showlightbox" href="#AddSpecialOffer" onclick="EditSpecialOffer(@Model.lstOffers[i].OfferId)">
                                            <img src="~/Images/offer_edit.png" />
                                        </a>
                                        <a class="remove" onclick="DeleteSpecialOffer(@Model.lstOffers[i].OfferId)">
                                            <img src="~/Images/offer_delete.png" />
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="6">
                                    <center>No record found</center>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="clear">
        </div>
        <div id="AddSpecialOffer" class="mfp-hide white-popup-block">
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        
        var ErrorMessage = $("#errormessage").val();
        if (ErrorMessage != null && ErrorMessage != "")
        {
            if (ErrorMessage.indexOf('exits') > -1)
            {
                swal({
                    title: "",
                    text: ErrorMessage,
                    type: "",
                    timer: 4000,
                    showConfirmButton: false
                });
            }           
           else if(ErrorMessage.indexOf("inserted") ||ErrorMessage.indexOf("updated"))
            {
                swal({
                    title: "Successfully",
                    text: ErrorMessage,
                    type: "",
                    timer: 4000,
                    showConfirmButton: false
                });
            }
            else {
                swal({
                    title: "error",
                    text: ErrorMessage,
                    type: "",
                    timer: 4000,
                    showConfirmButton: false
                });
            }
        }
        @*if ($.trim("@errorMessage").length != 0) {
            swal({
                title: "Successfully",
                text: "@errorMessage",
                type: "",
                timer: 2000,
                showConfirmButton: false
            });
        }*@
    });

    function AddSpecialOffer() {
        $.ajaxSetup({ async: false });
        $.post("/SpecialOffers/AddSpecialOffer",
                                     function (data) {
                                         document.getElementById("AddSpecialOffer").innerHTML = data.toString();
                                     });
        $.ajaxSetup({ async: true });
    }

    function EditSpecialOffer(OfferId) {
        $.ajaxSetup({ async: false });
        $.post("/SpecialOffers/EditSpecialOffer",
                                    { OfferId: OfferId },
                                        function (data) {
                                            document.getElementById("AddSpecialOffer").innerHTML = data.toString();
                                        });
        $.ajaxSetup({ async: true });
    }

    function DeleteSpecialOffer(OfferId) {
        swal({
            title: "",
            text: "Are you sure you want to remove?",
            type: "warning",
            showCancelButton: true,
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: false,
            showLoaderOnConfirm: true,
        },
      function (isConfirm) {
          if (isConfirm) {
              $.post("/SpecialOffers/DeleteSpecialOffer",
                                    { OfferId: OfferId }, function (data) {
                                        
                                        if (data == "1") {
                                            swal({
                                                title: "Successfully",
                                                text: "Special offer deleted successfully",
                                                timer: 1500,
                                                showConfirmButton: false
                                            });
                                            window.location = document.URL;
                                        }
                                        else if (data == "0") {
                                            swal({ title: "", text: 'Failed to delete special offer', type: 'error' });
                                        }
                                    });
              $.ajaxSetup({ async: true });
          }
      });
    }
    function Close()
    {
        $(".mfp-close").click();
    }

</script>