﻿@{
    ViewBag.Title = "Press Releases - RecordLinc, learn why industry experts rate RecordLinc as the top electronic referral product in the dental industry";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}
<meta name="description" content="Press Releases of RecordLinc. Find out more about why RecordLinc is considered to be the top product for electronic communication between dental professionals.">
<meta name="keywords" content="press releases of RecordLinc, RecordLinc in the press, electronic dental records, about dental software">





<!-- InnerPage starts here -->
<section id="inner">
	<div class="container">    
    		
        <div class="content">
        	<h2 class="title">Dentrix And RecordLinc Press Release</h2>
            <div class="textpanel dentrix">
            	<p>
                 For more than 20 years Dentrix has proven to be the most comprehensive management solution for dental practices.<br/><br/>

RecordLinc, extends the functionality of Dentrix G5 and other practice management systems by providing a platform where dental professionals can connect with other dental professionals, simplify their referrals, and grow their practice.
                </p>
                
            	<div class="hylyt_box"> 
                	<div class="text">
                    	<h4>RecordLinc + Dentrix = Marriage Made in Heaven</h4>
                        <img src="../Images/inner/recordlincdentrix.jpg" alt="RecordLinc + Dentrix = Marriage Made in Heaven">
                        <h5>The World`s Largest Professional Dental Network is Certified for Dentrix G5 Connected Program.</h5>
                    </div>
                </div>
                
                <p>
                RecordLinc was recently tested and certified for the Dentrix G5 Connected Program. This certification confirms quality, reliability and compatibility with the Dentrix G5 system and the RecordLinc portal to integrate with Dentrix.<br/><br/>
                <strong>Some of the features of RecordLinc include:</strong>
                </p>
                
                <ul class="listing">
                    <li>Largest network of dental professionals in the world</li>
                    <li>Easily connecting with current referral sources electronically and through a HIPAA 
                    compliant portal</li>
                    <li>Simplify the doctor to doctor referral process by sending electronic patient 
                    referrals</li>
                    <li>Growing the practice through increased referrals and improved social and 
                    professional networking</li>
                    <li>Allowing patients to fill-out electronic forms prior to coming into the office </li>
                    <li>Sending letters to patients electronically</li>
                    <li>And much more…</li>
                </ul>
                
                <p>
                Travis Rodgers CEO and Co-founder of RecordLinc states, “We are passionate about our clients and their satisfaction. This fusion was very important for us to simplify the electronic patient referral process by easily pulling patient data from Dentrix into RecordLinc so our users can simplify referrals and improve communication.”
                </p>
                
                <h3 class="sub">Why Dentrix?</h3>                
                <p>
                According to Rodgers, “Henry Schein is the largest dental product company and we chose Henry Schein`s Dentrix as a partner because it is considered to be one of the top of the line practice management systems.”<br/><br/>

Rodgers also shares his feelings about the certification process: “It is an honor to even be considered for a Dentrix certification. Our system went through an extensive technical evaluation before being integrated to their system.”
                </p>
                
                <h3 class="sub">Dentrix Connected</h3>
                <p>
                Dentrix Connected means confidence. When you see the Dentrix Connected logo on a product, you know it has been carefully tested and certified to work with the Dentrix G5 platform.<br/><br/>

This makes it easier to choose new hardware and software systems that work properly together and complement your Dentrix environment. It also means Dentrix offices can invest in new software and equipment without worrying about integration issues and installation problems.<br/><br/>

For more information about RecordLinc and up to date news please visit https://www.RecordLinc.com or follow RecordLinc on Facebook.<br/><br/>
For videos visit <a href='@Url.Action("Index", "Quicktour")'>RecordLinc Videos</a>.
				</p>
                                
            </div>
            
        </div>
        
        <div class="aside">
   	   		<a class="advert" href='@Url.Action("Index","Signuptoday")'><img class="inline mb40 border" src="../Images/inner/recordlinc-pro.jpg" alt="RecordLic Pro at $47 for limited time"></a><a class="advert" href="Javascript:;" onclick="SearchDatabase()"><img class="inline" src="../Images/inner/search-database.jpg" alt="Grow your practice by expanding your professional network"></a>
        </div>
        
        <div class="clear"></div>        
  </div>
</section>
<!-- InnerPage starts ends here -->


