.tool-container {
	background-color: #fff;	
	border-radius: 3px;
	box-shadow: 0px 0px 8px #dbdbdb;
	position: absolute;		
	width:130px;	
	margin-left:-50px;	
	margin-top:5px;	
	padding:10px;
	z-index:2!important;
}

.tool-container.tool-top, .tool-container.tool-bottom {	
	border-bottom: 1px solid #beb8b8 ; /* #B1A9A9 */
}

.tool-items {
	height: 100%;
	
}
.tool-left .tool-item, .tool-right .tool-item {	
	border-top: 1px solid #e2dfdf;
	border-bottom: 1px solid #9f9898;
}

.tool-item {	
	color:#666666;
	font-size:12px;
	line-height:16px;
	display:block;
	padding:10px 10px 0 0;
	text-decoration:none; line-height:20px;
}
.tool-item:hover{color:#0691C5; text-decoration:underline;}
.tool-container .arrow {
	width:0;
	height:0;
	position: absolute;	
	border-width:7px;
	border-style:solid;
}
.tool-container.tool-bottom .arrow {
	border:none; background:url(../../images/index/aero_2.png) no-repeat left top; width:20px; height:13px;
	left: 80%!important;  
	top: -14px;
	margin-left: -7px;
}

.tool-container.quick_links ul li h2.title {
    border-bottom: 1px solid #0691C5;
    margin-bottom: 5px;
    padding-bottom: 0;
    text-transform: uppercase;
	font-weight:bold;
}

/* Quick Links Styling */

.tool-container.quick_links{width:190px; margin-left:0px;}
.tool-container.quick_links .arrow{left:93%!important; border:none; background:url(../../images/index/aero_2.png) no-repeat left top; width:20px; height:13px;}
.tool-container.quick_links ul li{display:inline-block; *display:inline; width:100%; margin-left:10px; vertical-align:top;}
.tool-container.quick_links ul li:first-child{margin-left:0;}
.tool-container.quick_links ul li h2.title{padding-bottom:0; text-transform:uppercase; margin-bottom:5px; border-width:1px;}
.tool-container.quick_links ul li h2.title a{padding-left:0; color:#0691C5}
.tool-container.quick_links ul li h2.title a:hover{text-decoration:none;}

.tool-container.quick_links ul li a+h2.title{margin-top:5px;}
.tool-container.quick_links a{display:block; padding-right:0;} /*170*/
.active_users_admin span, .inactive_users_admin span, .logged_info_admin span, .signs_up_email_admin span, .import_doctors_admin span, .export_doctors_admin span, .add_doctor_manually_admin span, .email_template_admin span {background:url(../images/admin_links_icons.png) 0 0 no-repeat; float:left; width:30px; height:20px; }

.active_users_admin span{background-position: 0 0; }
.inactive_users_admin span{background-position: 0 -20px; }
.logged_info_admin span{background-position: 0 -43px; }
.signs_up_email_admin span{background-position: 0 -65px;}
.import_doctors_admin span{background-position: 0 -85px;}
.export_doctors_admin span{background-position: 0 -104px;}
.add_doctor_manually_admin span{background-position: 0 -129px; }
.email_template_admin span{background-position: 0 -148px; }


.vtiger_service_setting span, .manage_content span, .manage_account span, .manage_company span, .admin_change_password span  {background:url(../images/setting_popup.png) 0 0 no-repeat; float:left; width:30px; height:20px; }

.vtiger_service_setting span{background-position: 0 5px; }
.manage_content span{background-position: 0 -19px; }
.manage_account span{background-position: 0 -39px; }
.manage_company span{background-position: 0 -63px; }
.admin_change_password span{background-position: 0 -85px; }

