﻿
@model NewRecordlinc.Models.Colleagues.Member


<div class="modal-dialog">
    <!-- Modal content Add-->
    <div class="modal-content">
        <div class="modal-header blue-bg">
            <button type="button" class="close close-circle" data-dismiss="modal">&times;</button>
            @if (Model.TeamMemberUserId != 0)
            {
                <h3 class="modal-title white" style="text-transform:none">Edit team/staff member</h3>
            }
            else
            {
                <h3 class="modal-title white" style="text-transform:none">Add team/staff member</h3>
            }
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="form-group mrgn-btm-20">
                    <label>First Name:<font color="red">*</font></label>
                    <input type="text" class="form-control" tabindex="1" id="txtEditFirstName" name="FirstName" value="@Model.FirstName">
                </div>
                <div class="form-group mrgn-btm-20">
                    <label>Last Name:<font color="red">*</font></label>
                    <input type="text" class="form-control" tabindex="2" id="txtEditLastName" name="LastName" value="@Model.LastName">
                </div>
                <div class="form-group mrgn-btm-20">
                    <label>Email:<font color="red">*</font></label>
                @if (Model.TeamMemberUserId != 0)
                {
                    <input type="text" class="form-control" tabindex="3" name="txtEditEmail" value="@Model.Email" id="txtEditEmail" readonly="readonly">
                    <input type="hidden" id="hdnEmail" value="@Model.Email" />
                    }
                else
                {
                    <input type="text" id="txtEditEmail" name="Email" tabindex="3" class="form-control" />
                    }
                </div>
                <div class="form-group mrgn-btm-20">
                    <label>Speciality:<font color="red">*</font></label>
                    <div class="dropdown latest_dropdown" tabindex="4">
                        @*<select class="form-control" id="Colleaglst_8">
                            <option value=""></option>
                            <option value="First Name">Speciality</option>
                            <option value="Last Name">Speciality</option>
                            <option value="Referred By">Speciality</option>
                        </select>*@
                        @*@Html.Raw(ViewBag.Specialities)*@
                        @*@Html.DropDownListFor(m => m.UserId, new SelectList(ViewBag.Specialities, "Value", "Text"), new { @class = "form-control", tabindex = "4" ,@id= "drpSpeciality" })*@
                   @Html.DropDownList("Specialty", ViewBag.Specialities as List<SelectListItem>, new { @id = "drpSpeciality", @class = "form-control", @style = "width:100%;" })
                    </div>
                </div>
                <div class="form-group mrgn-btm-20">
                    <label>Location:<font color="red">*</font></label>
                    <div class="dropdown latest_dropdown" tabindex="5">
                        @*<select class="form-control" id="Colleaglst_8">
                            <option value=""></option>
                            <option value="First Name">Location</option>
                            <option value="Last Name">Location</option>
                            <option value="Referred By">Location</option>
                        </select>*@
                        @Html.DropDownListFor(m => m.LocationId, new SelectList(Model.LocationList, "AddressInfoId", "LocationName"), new { @class="form-control" })
                    </div>
                </div>
                <div class="form-group mrgn-btm-20">
                    <label>PMS Provider Id:</label>
                    <input type="text" class="f orm-control" tabindex="6" name="DentrixProviderId" id="txtProviderId" value="@Model.DentrixProviderId">
                </div>
                <div class="form-group mrgn-btm-20 radio_optn">
                    @*<input id="chkProviderStaff" class="form-control" type="checkbox" >*@
                    @Html.CheckBoxFor(m => m.provtype, new { @class = "form-control", @id = "chkProviderStaff" })
                    <label class="mrgn-0" for="">Staff Member</label>
                </div>

            </div>

        </div>
        <div class="modal-footer bdr-top-no">
            <div class="btn-group btn-holder">
                <button type="button" class="btn btn-default btn1" data-dismiss="modal" onclick="CloseThis()"><i class="ico-corss2"></i>Cancel</button>
            @if (Model.TeamMemberUserId != 0)
            {
                <button type="button" class="btn btn-default btn1"  onclick="OpenRemoveTeamMember('@Model.TeamMemberUserId','@Model.UserId')"><i class="ico-corss2"></i>Remove</button>
                }
                <button type="button" id="btn-edit-member" class="btn btn-default btn2 blue-bg mrgn-right-0" onclick="return EditTeamMember('@Model.TeamMemberUserId','@Model.UserId')"><i class="ico-save"></i>Save</button>
            </div>
        </div>
    </div>
</div>


