﻿@model List<BO.Models.Procedure>


@section Styles {
    <link rel="stylesheet" type="text/css" href="~/Content/css/NewAdmin/css/jcf.css" />
}

<script type="text/javascript">
    $("#checkall").change(function () {
        if (this.checked) {
            $(".trclone").each(function () {
                $(this).find("#chkselect").attr('checked', 'checked');
                //$("#chkselect").prop('checked', true);
                $(".all-select span").removeClass('jcf-unchecked').addClass('jcf-checked');
            }); 
         
        } else {
            $(".trclone").each(function () {
                $(this).find("#chkselect").removeAttr('checked', 'checked');
                //$(this).prop('checked', false);
                $(".all-select span").removeClass('jcf-checked jcf-focus').addClass('jcf-unchecked');
            })
        }
    });



    $(document).on('change', '#chkselect', function (e) {
        var IsAnyCheckBoxChecked = 0;
        if ($(this).is(":checked")) {
            var isAllChecked = 0;
            $("#chkselect").each(function () {
                if (!this.checked) {
                    isAllChecked = 1;
                }
            })
        }
        else
        {
            $(this).parent().removeClass('jcf-focus');
            $("#checkall").prop("checked", false);
            $("#checkall").parent().removeClass('jcf-checked jcf-focus').addClass('jcf-unchecked')
        }
        $("#chkselect").each(function () {
            if ($(this).is(":checked")) {
                IsAnyCheckBoxChecked++;
            }

        });
    });
</script>

<input type="hidden" value="@ViewBag.main" id="maincheck" />
<form id="frmProcedure" method="post">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header blue-bg">
                <button type="button" class="close close-circle" data-dismiss="modal">&times;</button>
                <h3 class="modal-title white">Add/Edit Procedure Detail</h3>@*RM-355: Changes suggested by Lauri for profile page *@
                <p class="white">Disclaimer: This section is for the Estimate Cost of Insurance tool only.</p> 
            </div>
            <div class="modal-body">
                <div class="row">

                    <div class="row mrgn-btm-20">
                        <div class="col-lg-12">
                            @if (Model.Count() > 0)
                            {
                                <table class="table table3 filtered-table">
                                    <thead class="thead-inverse">
                                        <tr>
                                            <th>
                                                <div class="all-select">
                                                    <input class="form-control" type="checkbox" id="checkall" name="Ischeck">
                                                </div>
                                            </th>
                                            <th>
                                                Procedures Name
                                            </th>
                                            <th>
                                                Insurance Cost Ratio
                                            </th>
                                            <th>
                                                Standard Rate
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {

                                            <tr class="trclone">
                                                @if (item.Ischeck)
                                                {
                                                    <td class="align-middle">
                                                        <div class="all-select">
                                                            <div class="form-group">
                                                                <input id="chkselect" class="form-control" type="checkbox" checked="checked" name="Ischeck" value="1" />
                                                            </div>
                                                        </div>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td class="align-middle">
                                                        <div class="all-select">
                                                            <div class="form-group">
                                                                <input id="chkselect" class="form-control" type="checkbox" name="Ischeck" value="0" />
                                                            </div>
                                                        </div>
                                                    </td>
                                                }

                                                <td data-th="Procedures Name">
                                                    <input id="ProcedureId" type="hidden" name="ProcedureId" value="@item.ProcedureId" />
                                                    <input type="hidden" id="procedurename" name="name" value="@item.ProcedureName" />
                                                    @item.ProcedureName
                                                </td>
                                                <td data-th="Insurance Cost Ratio">
                                                    <input type="text" class="form-control numericOnly" name="CostPercentage" id="costpercentage" placeholder="0.00" value="@item.CostPercentage">
                                                </td>
                                                <td data-th="Standard Rate">
                                                    <input type="text" class="form-control numericOnly" id="standardfees" name="StandardFees" value="@item.StandardFees" placeholder="0.00">
                                                </td>
                                            </tr>

                                        }
                                    </tbody>

                                </table>
                            }
                            else
                            {
                               <div>
                                <label>
                                    No Procedure added from Admin side.
                                </label>
                               </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer bdr-top-no">
                <div class="btn-group btn-holder">
                    <button type="button" class="btn btn-default btn1" data-dismiss="modal"><i class="ico-corss2"></i>Cancel</button>
                    @if (Model.Count() > 0)
                    {
                        <button type="button" id="btnSave" class="btn btn-default btn2 blue-bg mrgn-right-0" onclick="saveprocedurelist();"><i class="ico-save"></i>Save</button>
                    }
                </div>
            </div>
        </div>
    </div>
</form>

<script src="~/Scripts/JS/jcf.js"></script>