﻿@model NewRecordlinc.Models.Colleagues.Member


<link rel="stylesheet" href="../../Content/css/jquery-ui.css" />
<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header blue-bg">
            <input type="hidden" id="EducationID" value="@Model.clsEducationandTrainingForDoctorById.Id" />
            <button type="button" class="close close-circle" data-dismiss="modal">&times;</button>
            @if (Model.clsEducationandTrainingForDoctorById.Id > 0)
            {
                <h3 class="modal-title white">Edit Education/Training Information</h3>
            }
            else
            {
                <h3 class="modal-title white">Add Education/Training Information</h3>
            }
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="form-group">
                    <label>Institution Attended:<font color="red">*</font></label>
                    <input type="text" class="form-control" id="Institute" tabindex="1" placeholder="Search Institution" autocomplete="off" onkeyup="javSearch(event)" name="Search" value="@Model.clsEducationandTrainingForDoctorById.Institute">
                    <input type="hidden"  id="hdnInstitute"/>
                </div>
                <div class="form-group">
                    <label>Last Year Attended/Graduated:</label>
                    <div class="dropdown latest_dropdown" tabindex="2">
                        @*<select class="form-control" id="Colleaglst_8">
                            <option value="">2017</option>
                            <option value="First Name">2016</option>
                            <option value="Last Name">2015</option>
                            <option value="Referred By">2014</option>
                        </select>*@
                        @Html.Raw(ViewBag.yearlist)
                    </div>
                </div>
                <div class="form-group">
                    <label>Field of Study/Degree:</label>
                    
                        @*<select class="form-control" id="Colleaglst_8">
                            <option value="">DDS</option>
                            <option value="First Name">PHD</option>
                            <option value="Last Name">Orthodontics</option>
                            <option value="Referred By">DDS</option>
                        </select>*@
                        <input class="form-control" type="text" id="Specialisation" tabindex="3" name="Search" value="@Model.clsEducationandTrainingForDoctorById.Specialisation">
                    </div>
                <p><span class="sky-blue">DDS, PHD, Orthodontics, General Dentistry</span></p>
            </div>

        </div>
        <div class="modal-footer bdr-top-no">
            <div class="btn-group btn-holder">
                <button type="button" class="btn btn-default btn1" data-dismiss="modal"><i class="ico-corss2"></i>Cancel</button>
                @if (Model.clsEducationandTrainingForDoctorById.Id > 0)
                {
                    <button type="button" class="btn btn-default btn1"  onclick="OpenRemoveEducation('@Model.lstEducationandTrainingForDoctorById[0].Id')"><i class="ico-corss2" ></i>Remove</button>
                }
                <button type="button" id="btn-saveEducation" class="btn btn-default btn2 blue-bg mrgn-right-0" onclick="return EduandTraining('@Model.UserId')"><i class="ico-save" ></i>Save</button>

            </div>
        </div>
    </div>
</div>
<script src="//code.jquery.com/ui/1.9.1/jquery-ui.js"></script>