﻿@model NewRecordlinc.Models.Colleagues.Member

@if (!string.IsNullOrEmpty(Model.Description) || ViewBag.hdnViewProfile == false)
{
<div class="row planes">
    <div class="col-lg-12 share-block">
        <div class="row">
            <div class="col-lg-6 col-sm-6 col-xs-6">
                <h2>Description</h2>
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-6">
               
                @if (ViewBag.hdnViewProfile == false)
                {
                    if (!string.IsNullOrEmpty(Model.Description))
                    {
                        <div class="btn-group btn-holder pull-right btn-edit">               
                            <a href="#edit-description" data-toggle="modal" class="btn btn-default btn-secondary" onclick="EditDescription(@Model.UserId)"><i class="ico-edit"></i>Edit</a>
                        </div>
                    }
                    else
                    {
                        <div class="btn-group btn-holder pull-right btn-edit">
                            <a href="#edit-description" data-toggle="modal" class="btn btn-default btn-secondary" onclick="EditDescription(@Model.UserId)"><i class="ico-add"></i>Add</a>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
    <div class="col-lg-12"><div class="row row-bordered mrgn-btm-10"></div></div>
</div>
<div class="form-group row btm-margin-10">
    <div class="col-lg-12">
        <div class="row mrgn-btm-10"></div>
        <p>@Html.Raw(Model.Description)</p>
    </div>
</div>
}