﻿@model NewRecordlinc.Models.mdlGallary

@using (@Html.BeginForm("InsertUpdateGallary", "Profile", FormMethod.Post, new { enctype = "multipart/form-data", id = "bannerform" }))
{

    @Html.HiddenFor(m => m.UserId)
    @Html.HiddenFor(m => m.GallaryId)
<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header blue-bg">
            <button type="button" class="close close-circle" data-dismiss="modal">&times;</button>
           @if (Model.GallaryId > 0)
           {
                <h3 class="modal-title white">Edit Gallery Item </h3>
           }
           else
           {
                <h3 class="modal-title white">Add Gallery Item </h3>
           }

        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-12">
                    <label>Image:<font color="red">*</font></label>
                    <input name="PatientId" id="PatientId" value="369359" type="hidden">
                    <input  name="File" id="fileImageForGallery" onchange="return NewGallaryImageUpload(this)" placeholder="" type="file">
                    <div class="mrgn-btm-10"></div>
                </div>
                <div class="col-sm-12">
                    <p>(Preferred image width X height : 800px X 600px and image types are .jpeg, .jpg, .gif, .png, .bmp)</p>
                    <h4><span class="sky-blue">OR</span></h4>
                    <div class="form-group mrgn-btm-20">
                        <label for="VideoURL">Video URL:<font color="red">*</font></label>
                        @Html.TextBoxFor(m => m.VideoURL,new {@class= "form-control"})
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer bdr-top-no">
            <div class="btn-group btn-holder">
                <button type="button" id="btn-save-gallery" class="btn btn-default btn2 blue-bg mrgn-right-0" onclick="return SaveGalleryDetails()"><i class="ico-save"></i>Save</button>
            </div>
        </div>
    </div>
</div>
}