﻿@if (Model.lstEducationandTraining.Count > 0 || ViewBag.hdnViewProfile == false)
{
<div class="row planes">
    <div class="col-lg-12 share-block">
        <div class="row">
            <div class="col-lg-6 col-sm-6 col-xs-6">
                <h2>Education and Training</h2>
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-6">
                <div class="btn-group btn-holder pull-right btn-edit">
                @if (ViewBag.hdnViewProfile == false)
                {
                    <a href="#add-education-training-info" data-toggle="modal" class="btn btn-default btn-secondary" onclick="EditEducationandTrainingDetails(0,'@Model.UserId')"><i class="ico-add"></i>Add</a>
                }
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="row mrgn-btm-20">
        <div class="col-lg-12">
            <table class="table table3 filtered-table">
                <thead class="thead-inverse">
                    <tr>
                        <th>
                            Institution Attended
                        </th>
                        <th>
                            Field of Study/Degree
                        </th>
                        <th>
                            Last Year Attended/Graduated
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var EducationAndTraning in Model.lstEducationandTraining)
                    {
                    <tr>
                        <td data-th="Institution Attended">
                            @EducationAndTraning.Institute
                        </td>
                        <td data-th="Field of Study/Degree">@EducationAndTraning.Specialisation</td>
                        @if (EducationAndTraning.YearAttended != "0")
                        {
                            <td data-th="Last Year Attended/Graduated">@EducationAndTraning.YearAttended</td>
                        }
                        else
                        {
                            <td data-th="Last Year Attended/Graduated"></td>
                        }
                        <td data-th="Actions">
                        @if (ViewBag.hdnViewProfile == false)
                        {
                            <a href="#edit-education-training-info" data-toggle="modal" onclick="EditEducationandTrainingDetails('@EducationAndTraning.Id','@Model.UserId')"><i class="ico-edit"></i></a>
                        }
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
