﻿@if (Model.lstBanner.Count > 0 || ViewBag.hdnViewProfile == false)
{
<div class="row row-bordered pateint_form_history">
    <div class="col-lg-12">
        <div class="mrgn-btm-20">
            <h2>Background Images <span class="head-small-text">(Maximum 4 background images can be uploaded)</span></h2>
        </div>

    </div>
</div>
}

@if(ViewBag.hdnViewProfile == false)
{
<div class="col-lg-12 share-block">
    <div class="row">
        <div class="btn-group btn-holder">
            @if (Model.lstBanner.Count < 4)
            {
            <a href="#add-banner" data-toggle="modal" class="btn btn-default btn-secondary mrgn-right-15" onclick="AddBanner()"><i class="ico-add"></i>Add Image</a>
            }
        </div>
    </div>
</div>
}

<div class="row listing">
    <div class="col-lg-12">
        <div class="four-columns patient_history_files">
            @for (int i = 0; i < Model.lstBanner.Count; i++)
            {
            <div class="column">      
                <div class="block-holder">
                    <div class="img-holder">
                        <img src="@Model.lstBanner[i].ImagePath@Model.lstBanner[i].UserId/@Model.lstBanner[i].Path" alt="@Model.lstBanner[i].ImagePath@Model.lstBanner[i].UserId/@Model.lstBanner[i].Path">
                    </div>
                    @if (ViewBag.hdnViewProfile == false)
                    {
                         <div class="footer-btn-list"><a href="#patient_file_delete" data-toggle="modal" onclick="OpenRemoveBanner(@Model.lstBanner[i].BannerId)"><i class="ico-delete"></i>Delete</a></div>
                    }
                </div>              
            </div>
            }
        </div>
    </div>
</div>
