﻿@if (Model.lstDoctorAddressDetails.Count > 0 || ViewBag.hdnViewProfile == false)
{
<div class="row planes">
    <div class="col-lg-12 share-block">
        <div class="row">
            <div class="col-lg-6 col-sm-6 col-xs-6">
                <h2>Contact Info</h2>
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-6">
                <div class="btn-group btn-holder pull-right">
                    @if (ViewBag.hdnViewProfile == false)
                    {
                        <a href="#addional-address" onclick="editAddress(0)" data-toggle="modal" class="btn btn-default btn-secondary "><i class="ico-add"></i>Add</a>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12"><div class="row row-bordered mrgn-btm-10"></div></div>
</div>
<div class="row mrgn-btm-10"></div>
<div class="row contact-info-box-wrap mrgn-btm-10">
@for (int i = 0; i < Model.lstDoctorAddressDetails.Count; i++)
{
    <div class="col-md-12 col-lg-4">
        <div class="contact-info-box first-one">
            <div class="info-box1">
                <div class="row">
                    <div class="col-xs-6">
                        <em>Location:</em>
                    </div>
                    <div class="col-xs-6">
                    @if (Model.lstDoctorAddressDetails[i].ContactType == 1)
                    {
                        <em>@Model.lstDoctorAddressDetails[i].Location @*PrimaryAddress*@</em>
                    }
                    else
                    {
                        <em>
                            @Model.lstDoctorAddressDetails[i].Location @*SecondaryAddress*@
                        </em>
                    }
                    </div>
                </div>
               
                <div class="row">
                    <div class="col-xs-6">
                        <em>Phone:</em>
                    </div>
                    <div class="col-xs-6">
                    @if (Model.lstDoctorAddressDetails[i].Phone != null && Model.lstDoctorAddressDetails[i].Phone != "")
                    {
                        <em>@Model.lstDoctorAddressDetails[i].Phone</em>
                    }
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        <em>Street Address:</em>
                    </div>
                    <div class="col-xs-6">
                        <em>@Model.lstDoctorAddressDetails[i].ExactAddress&nbsp;@Model.lstDoctorAddressDetails[i].Address2</em>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        <em>City:</em>
                    </div>
                    <div class="col-xs-6">
                        <em>@Model.lstDoctorAddressDetails[i].City</em>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <em>State:</em>
                    </div>
                    <div class="col-xs-6">
                        <em>@Model.lstDoctorAddressDetails[i].State</em>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <em>Zip:</em>
                    </div>
                    <div class="col-xs-6">
                        <em>@Model.lstDoctorAddressDetails[i].State&nbsp;@Model.lstDoctorAddressDetails[i].ZipCode</em>
                    </div>
                </div>
            </div>
            @if (ViewBag.hdnViewProfile == false)
            {
                 <div class="info-box3"><a href="#addional-address" onclick="editAddress('@Model.lstDoctorAddressDetails[i].AddressInfoID')" data-toggle="modal" class=""><i class="ico-edit"></i></a></div>
            }
        </div>
        <div class="row mrgn-btm-10"></div>
    </div>

}
   </div>
}