﻿@model NewRecordlinc.Models.Colleagues.Member

<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header blue-bg">
            <button type="button" class="close close-circle" data-dismiss="modal">&times;</button>
            <h3 class="modal-title white">Description</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="form-group">
                    @*<textarea class="form-control " rows="15" ></textarea>*@
                    <textarea class="form-control " rows="2" id="txtdescription" onkeydown="textCounter(this,2848);" onkeyup="textCounter(this,'txtdescriptionlength' ,2848)">@(!string.IsNullOrEmpty(Model.Description)?Model.Description:"")</textarea>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control chars-box" id='txtdescriptionlength' name="txtdescriptionlength" value="2848" disabled> <label class="chars-box-label">chars remaining</label>
                </div>
            </div>

        </div>
        <div class="modal-footer bdr-top-no">
            <div class="btn-group btn-holder">
                <button type="button" class="btn btn-default btn1" data-dismiss="modal"><i class="ico-corss2"></i>Cancel</button>
                @if(!string.IsNullOrEmpty(Model.Description))
               {
                <button type="button" id="btn-des-removed" class="btn btn-default btn1" onclick="RemoveDescription('@Model.UserId')"><i class="ico-corss2"></i>Remove</button>
                }
                <button type="button" id="btn-description" class="btn btn-default btn2 blue-bg mrgn-right-0" onclick="UpdateDescription('@Model.UserId')" ><i class="ico-save" ></i>Save</button>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#txtdescriptionlength").text(parseInt($("#txtdescriptionlength").val()) - parseInt("@Model.Description.Length"));
    });
</script>
