﻿@if (Model.lstProcedure.Count > 0 || ViewBag.hdnViewProfile == false)
{
<div class="row planes">
    <div class="col-lg-12 share-block">
        <div class="row">
            <div class="col-lg-6 col-sm-6 col-xs-6">
                <h2>Procedure List</h2>@*RM-355 : Changes Suggested by Lauri For profile page*@
                <p>Disclaimer: This section is for the Estimate Cost of Insurance tool only</p>
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-6">
                <div class="btn-group btn-holder pull-right btn-edit">
                @if (ViewBag.hdnViewProfile == false)
                {
                    if (Model.lstProcedure.Count > 0)
                    {
                        <a href="#add-procedure-detail" data-toggle="modal" class="btn btn-default btn-secondary" onclick="AddProcedure()"><i class="ico-edit"></i>Edit</a>
                    }
                    else
                    {
                        <a href="#add-procedure-detail" data-toggle="modal" class="btn btn-default btn-secondary" onclick="AddProcedure()"><i class="ico-add"></i>Add</a>
                    }
                }
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12"><div class="row row-bordered mrgn-btm-10"></div></div>
</div>
<div class="form-group row btm-margin-10 insurance-details-list">
    <div class="col-lg-12">
        <div class="row mrgn-btm-10"></div>
    @foreach (var Procedure in Model.lstProcedure)
    {
        <div class="clearfix">
            <p>@Procedure.ProcedureName</p>
            @if (ViewBag.hdnViewProfile == false)
            {
                <a href="javascript:;" onclick="OpenRemoveProcedure(@Procedure.ProcedureId)"><i class="ico-delete"></i></a>
            }
        </div>
    }
    </div>
</div>
}