﻿@model NewRecordlinc.Models.Colleagues.Member


<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header blue-bg">
            <button type="button" class="close close-circle" data-dismiss="modal">&times;</button>
        @if (Model.clsAddressDetailsById.AddressInfoID > 0)
        {
            if (Model.clsAddressDetailsById.ContactType == 1)
            {
                <h3 class="modal-title white"> Edit Primary Address</h3>
            }
            else
            {
                <h3 class="modal-title white"> Edit Secondary Address</h3>
            }
        }
        else
        {
            <h3 class="modal-title white">  Add Additional Address</h3>
        }
        </div>
        <div class="modal-body">
            <div class="btm-margin-20">
                <div class="">

                    <div class="form-group mrgn-btm-20">
                        <label>Location:<font color="red">*</font></label>
                        <input type="text" class="form-control" id="Location" name="Location" tabindex="1" value="@Model.clsAddressDetailsById.Location">
                    </div>

                    <div class="form-group mrgn-btm-20">
                        <label>Street Address:<font color="red">*</font></label>
                        <input type="text" class="form-control" id="ExactAddress" name="ExactAddress" tabindex="2" value="@Model.clsAddressDetailsById.ExactAddress">
                    </div>

                    <div class="form-group mrgn-btm-20">
                        <label>Suite/Unit:</label>
                        <input type="text" class="form-control" id="Address2" name="Address2" tabindex="3" value="@Model.clsAddressDetailsById.Address2">
                    </div>

                    <div class="form-group mrgn-btm-20">
                        <label>City:<font color="red">*</font></label>
                        <input type="text" class="form-control" id="City" name="City" tabindex="4" value="@Model.clsAddressDetailsById.City">
                    </div>

                    <div class="form-group mrgn-btm-20">
                        <label>Country:<font color="red">*</font></label>
                        <div class="dropdown latest_dropdown" id="dvCountry" tabindex="5">
                            @Html.Raw(ViewBag.country)
                        </div>
                    </div>

                    <div class="form-group mrgn-btm-20">
                        <label>State:<font color="red">*</font></label>
                        <div class="dropdown latest_dropdown" id="dvstate" tabindex="6">
                            @Html.Raw(ViewBag.state)
                        </div>
                    </div>

                    @* SBI-39  *@
                    <div class="form-group mrgn-btm-20">
                        <label>External PMS ID:</label>
                        <input type="text" class="form-control" id="EPMSId" name="EPMSId" tabindex="7" value="@Model.clsAddressDetailsById.ExternalPMSId">
                    </div>
                    @* SBI-39  *@

                    <div class="form-group mrgn-btm-20">
                        <label>Zip Code:<font color="red">*</font></label>
                        <input type="text" class="numericOnly form-control" id="Zipcode" tabindex="8" name="Zipcode" maxlength="6" value="@Model.clsAddressDetailsById.ZipCode">
                    </div>

                    <div class="form-group mrgn-btm-20">
                        <label>Phone:</label>
                        <input type="text" class="numericOnly form-control" id="Phone" tabindex="9" name="Phone" value="@Model.clsAddressDetailsById.Phone">
                    </div>

                    <div class="form-group mrgn-btm-20">
                        <label>Mobile:</label>
                        <input type="text" class="numericOnly form-control" id="Mobile" tabindex="10" name="Fax" value="@Model.clsAddressDetailsById.Mobile">
                    </div>

                    <div class="form-group mrgn-btm-20">
                        <label>Website:</label>
                        <input type="text" class="form-control" name="txtwebsiteurl" tabindex="11" value="@Model.clsAddressDetailsById.Website" id="txtwebsiteurl">
                    </div>

                    <div class="form-group mrgn-btm-20">
                        <label>Fax:</label>
                        <input id="Fax" tabindex="12" type="text" name="Fax" value="@Model.clsAddressDetailsById.Fax" class="form-control">
                    </div>

                    <div class="form-group mrgn-btm-20">
                        <label>Email:<font color="red">*</font></label>
                        <input type="text" class="form-control" id="Email" tabindex="13" name="Fax" value="@Model.clsAddressDetailsById.EmailAddress">
                    </div>

                    <div class="form-group mrgn-btm-20">
                        <label>Time Zone:<font color="red">*</font></label>
                        <div class="dropdown latest_dropdown" tabindex="13">
                            @Html.DropDownListFor(m => m.clsAddressDetailsById.TimeZoneId, new SelectList(Model.lstTimeZone, "TimeZoneId", "TimeZoneText"), new { @class = "form-control", tabindex = "14" })
                        </div>
                    </div>
                    @*Olivia changes on 10-04-2018 for Dr. Lan Allan's website. - DLADCETK-1*@
                    <div class="form-group mrgn-btm-20">
                        <label>Scheduling Link:</label>
                        <input type="text" class="form-control" name="txtSchedulingLink" tabindex="15" value="@Model.clsAddressDetailsById.SchedulingLink" id="txtSchedulingLink">
                    </div>
                    <div class="form-group mrgn-btm-20 radio_optn">
                        @if (Session["UserId"] == Session["ParentUserId"])
                        {
                            if (Model.clsAddressDetailsById.ContactType == 1)
                            {
                                <input id="chkprimary" class="form-control" type="checkbox" tabindex="14" checked="checked" disabled="disabled">
                                <label class="mrgn-0" for="">Make Primary Address</label>
                            }
                            else
                            {
                                <input id="chkprimary" class="form-control" type="checkbox" tabindex="14">
                                <label class="mrgn-0" for="">Make Primary Address</label>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer bdr-top-no">
            <div class="btn-group btn-holder">
                <button type="button" class="btn btn-default btn1" data-dismiss="modal"><i class="ico-corss2"></i>Cancel</button>
                @if (Model.clsAddressDetailsById.AddressInfoID > 0)
                {
                    <button type="button" class="btn btn-default btn1"  onclick="OpenDeleteAddress('@Model.clsAddressDetailsById.AddressInfoID','@Model.clsAddressDetailsById.ContactType')"><i class="ico-corss2"></i>Remove</button>
                }
                <button type="button" id="btn_address" class="btn btn-default btn2 blue-bg mrgn-right-0" tabindex="15" onclick="UpdateAddress('@Model.clsAddressDetailsById.AddressInfoID')"><i class="ico-save"></i>Save</button>
            
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="hdncountry" value="@Model.clsAddressDetailsById.Country" />
<script src="~/Scripts/JS/jcf.js"></script>
<script src="~/Scripts/Mask/Mask.js"></script>