﻿@if (Model.lstTeamMemberDetailsForDoctor.Count > 0 || ViewBag.hdnViewProfile == false)
{
<div class="row planes">
    <div class="col-lg-12 share-block">
        <div class="row">
            <div class="col-lg-6 col-sm-6 col-xs-6">
                <h2>Team Members</h2>
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-6">
                <div class="btn-group btn-holder pull-right btn-edit">
                @if (ViewBag.hdnViewProfile == false)
                {
                    <a href="#add-team-members" data-toggle="modal" class="btn btn-default btn-secondary" onclick="EditTeamMemberDetailsById('@Model.UserId','0')"><i class="ico-add"></i>Add</a>
                }
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12"><div class="row row-bordered mrgn-btm-10"></div></div>
</div>
<div class="form-group row btm-margin-10 team-members-list">
    <div class="col-lg-12">
        <div class="row mrgn-btm-10"></div>
    @foreach (var TeamMemberDetailsOfDoctor in Model.lstTeamMemberDetailsForDoctor)
    {
        <div class="col-lg-4">
            <p>@TeamMemberDetailsOfDoctor.FirstName&nbsp;@TeamMemberDetailsOfDoctor.LastName</p>
        @if (ViewBag.hdnViewProfile == false)
        {
            <a href="#add-team-members" data-toggle="modal" onclick="EditTeamMemberDetailsById('@Model.UserId','@TeamMemberDetailsOfDoctor.UserId')"><i class="ico-edit" ></i></a>
        }
        </div>
    }
    </div>
</div>
}