﻿@model NewRecordlinc.Models.Colleagues.LicenseDetailsForDoctor
@using BusinessLogicLayer

@* Need to change when Date picker is avaliable for new design *@
<style>
    @@media screen and (max-width: 800px) {
        .xdsoft_datetimepicker * {
            box-sizing: border-box;
            float: left;
            width: 100%;
        }

        .xdsoft_datetimepicker .xdsoft_label i {
            height: 0;
        }

        .block {
            width: 100% !important;
        }

        .xdsoft_datetimepicker .xdsoft_month {
            display: inline-flex !important;
        }

        .xdsoft_datetimepicker .xdsoft_year {
            display: inline-flex !important;
        }
    }
</style>
<link href="../Content/Appointment/Css/jquery.datetimepicker.css" rel="stylesheet" />

<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header blue-bg">
            <button type="button" class="close close-circle" data-dismiss="modal">&times;</button>
            @if (!string.IsNullOrEmpty(Model.LicenseNumber))
            {
            <h3 class="modal-title white">Edit License Details </h3>
            }
            else
            {
                <h3 class="modal-title white">Add License Details </h3>
                <input type="hidden" id="add-license" value="1" />
            }

        </div>
        <div class="modal-body">
            <div class="row">
                <div class="form-group mrgn-btm-20">
                    <label>License Number:<font color="red">*</font></label>
                    <input type="text" tabindex="1" class="form-control"  id="LicenseNumber"  value="@Model.LicenseNumber">
                </div>
                <div class="form-group mrgn-btm-20">
                    <label>License State:<font color="red">*</font></label>
                    <div class="dropdown latest_dropdown">
                        @*<select class="form-control" id="Colleaglst_8">
                            <option value="">Alabama</option>
                            <option value="First Name">Alabama</option>
                            <option value="Last Name">Alabama</option>
                            <option value="Referred By">Alabama</option>
                        </select>*@
                        @Html.Raw(ViewBag.state)
                    </div>
                </div>
                <div class="form-group mrgn-btm-20">
                    <label>License Expiration Date:</label>
                    @{
                    string LicenseExpirationDisplay = new CommonBLL().ConvertToDate(Convert.ToDateTime(@Model.LicenseExpiration), Convert.ToInt32(BO.Enums.Common.DateFormat.GENERAL));
                    }
                    <input type="text" class="form-control datetimepickernew" tabindex="3" readonly id="LicenseExpiration" value="@LicenseExpirationDisplay"  placeholder="mm/dd/yyyy">
                </div>
            </div>

        </div>
        <div class="modal-footer bdr-top-no">
            <div class="btn-group btn-holder">
                <button type="button" class="btn btn-default btn1" data-dismiss="modal"><i class="ico-corss2"></i>Cancel</button>
                <button type="button" id="btn-license" class="btn btn-default btn2 blue-bg mrgn-right-0" onclick="return LicenseDetailsSave()"><i class="ico-save"></i>Save</button>

            </div>
        </div>
    </div>
</div>

<script>

    $('#LicenseExpiration').datetimepicker({
        datepicker: true,
        timepicker: false,
        format: 'n/j/Y',
    });
 </script>

