﻿@model NewRecordlinc.Models.Colleagues.LicenseDetailsForDoctor
<style>
@@media screen and (max-width: 800px) {
	.xdsoft_datetimepicker * {
    box-sizing: border-box;
    float: left;
    width: 100%;
}
.xdsoft_datetimepicker .xdsoft_label i {
    height: 0;
}
.block{
	width:100% !important;
}
.xdsoft_datetimepicker .xdsoft_month {
    display: inline-flex !important;
}
.xdsoft_datetimepicker .xdsoft_year {
    display: inline-flex !important;
}

}
</style>

<link href="../Content/Appointment/Css/jquery.datetimepicker.css" rel="stylesheet" />
<button type="button" title="Close (Esc)" class="mfp-close">×</button>
<h2 class="title">
    Edit License Details
</h2>
<div class="cntnt">
    <div class="block" style="width:79%;">
        <ul class="tablelist">

            @*@foreach (var licensedetails in Model.licensedetails)
                {*@
            <li>
                <label>
                    License Number:<sup class="mandatory">*</sup>
                </label><input tabindex="1" type="text" id="LicenseNumber" autocomplete="off" onkeyup="javSearch(event)" name="Search" value="@Model.LicenseNumber" placeholder="123456"/>
            </li>
            <li>
                <label>
                    License State:<sup class="mandatory">*</sup>
                </label>
                @Html.Raw(ViewBag.state)
            </li>
            <li>
                <label>
                    License Expiration Date:<sup class="mandatory">*</sup>
                </label><input tabindex="3" type="text" readonly id="LicenseExpiration" name="Search" value="@Model.LicenseExpirationDisplay" class="datetimepickernew" placeholder="mm/dd/yyyy">
            </li>
            @*}*@
        </ul>
    </div>
    <div class="actions">
        <br />
        <input class="save_btn1" tabindex="4" name="Save" type="button" value="Save" onclick="return LicenseDetailsSave()" style="width:97px;height:40px;">
        <input class="cancel_btn" tabindex="5" name="Cancel" type="submit" value="Cancel" onclick="ClosePopUp();">
        <div class="clear">
        </div>
    </div>
</div>

<script>
    
    $('#LicenseExpiration').datetimepicker({
        datepicker: true,
        timepicker: false,
        format: 'n/j/Y',
    });
    //$(document).ready(function (e) {
    //    document.getElementById("drpState").tabIndex = 2;
    //});        
    
</script>