﻿@model List<BO.Models.Procedure>
<style>
    .MemberLoginDropDown ul.check_listing > li {
        width: 100% !important;
    }

    ul.check_listing > li {
        margin-top: 5px;
    }

    .fullwidthpop {
        padding: 15px;
        background: #fff;
        border: 2px solid #0890c4;
    } 
</style>
<script type="text/javascript">
    function CheckAll(obj) {

        var c = new Array();
        c = document.getElementsByTagName('input');

        var selected = "";
        for (var i = 0; i < c.length; i++) {
            if (c[i].type == 'checkbox' && c[i].id == 'chkselect') {
                c[i].checked = obj.checked;

            }
        }

    }
</script>



<button type="button" title="Close (Esc)" class="mfp-close">×</button>
<h2 class="title">
    Add/Edit Procedure Detail
</h2>
<form id="frmProcedure" method="post">
    <div class="cntnt">
        <div class="block" style="width:79%;">
            <div class="fullwidthpop" style="width: 1232px; max-width:775px; height: 400px; overflow-y: scroll; display: block;">
                <ul class="check_listing" id="chklstcheck_Insurance">
                    @if (Model.Count() > 0)
                    {
                        <li>
                            <table class="patientTable">
                                <thead>
                                    <tr>
                                        <th>

                                            <label> <input id="checkall" type="checkbox" name="Ischeck" onclick="CheckAll(this)" />Procedures Name</label>
                                        </th>
                                        <th>
                                            <label style="padding-left:0px;">Insurance Cost Ratio</label>
                                        </th>
                                        <th>
                                            <label style="padding-left:0px;">Standard Rate</label>
                                        </th>
                                    </tr>
                                </thead>

                                @foreach (var item in Model)
                                {

                                    <tbody>
                                        <tr class="trclone">
                                            <td>
                                                <label>
                                                    @if (item.Ischeck)
                                                    {
                                                        <input id="chkselect" type="checkbox" checked="checked" name="Ischeck" value="1" />
                                                    }
                                                    else
                                                    {
                                                        <input id="chkselect" type="checkbox" name="Ischeck" value="0" />
                                                    }
                                                    <input id="ProcedureId" type="hidden" name="ProcedureId" value="@item.ProcedureId" />
                                                    <input type="hidden" id="procedurename" name="name" value="@item.ProcedureName" />
                                                    @item.ProcedureName
                                                </label>
                                            </td>
                                            <td>
                                                <input id="costpercentage" type="text" class="numericOnly" name="CostPercentage" value="@item.CostPercentage" />
                                            </td>
                                            <td>
                                                <input id="standardfees" type="text" class="numericOnly" name="StandardFees" value="@item.StandardFees" />
                                            </td>
                                        </tr>
                                    </tbody>

                                }

                            </table>
                        </li>
                    }
                    else
                    {
                        <li>
                            <label>
                                No Procedure added from Admin side.
                            </label>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="clear">
        </div>
        <div class="actions">
            @if (Model.Count() > 0)
            {
                <input class="save_btn1" name="Save" id="btnSave" type="button" value="Save" style="width:97px;height:40px;" onclick="saveprocedurelist();">
            }
            <input class="cancel_btn" name="Cancel" id="btnCancel" type="button" value="Cancel" onclick="CloseBanner()">
            <div class="clear">
            </div>
        </div>
    </div>
</form>