﻿@model BO.Models.PublicProfileSection

<link href="~/Content/Profile/css/newlightbox.css" rel="stylesheet" />
<button type="button" title="Close (Esc)" class="mfp-close">×</button>
<style type="text/css">
    .cntnt .actions {
    padding: 16px !important;
}
</style>
@*<link href="~/Content/Appointment/Css/bootstrap-toggle.min.css" rel="stylesheet" />*@
<h2 class="title">
    Public profile Section
</h2>
<div class="cntnt cntnt1">
    <div class="popup-instruction">
        <label>Choose section you would like to display on your profile.</label>
    </div>
    <div class="tablelist-left">
        <ul class="tablelist" style="float:left;">
            <li>
                <label>
                    Section name
                </label>
            </li>
            <li>
                <label>
                    Patient Form
                </label>
            </li>
            <li>
                <label>
                    Appointment Booking
                </label>
            </li>
            <li>
                <label>
                    Patient Login
                </label>
            </li>
            <li>
                <label>
                    Refer Patient
                </label>
            </li>
            <li>
                <label>
                    Special Offers
                </label>
            </li>
            <li>
                <label>
                    Reviews
                </label>
            </li>
        </ul>
    </div>
    <div class="tablelist-right">
        <ul class="tablelist">
            <li>
                <label>
                    Visible at public profile?
                </label>
            </li>
            <li>
                <label class="switch">
                    @if (Model.PatientForms)
                    {
                        <input checked="checked" id="patientform" name="PatientForm" type="checkbox" value="@Model.PatientForms">
                    }
                    else
                    {
                        <input id="patientform" name="PatientForm" type="checkbox" value="@Model.PatientForms">
                    }
                    <div class="slider round"></div>
                    <input name="AppointmentBooking" type="hidden" value="@Model.PatientForms">
                </label>
            </li>
            <li>
                <label class="switch">
                    @if (Model.AppointmentBooking)
                    {
                        <input checked="checked" id="AppointmentBooking" name="AppointmentBooking" type="checkbox" value="@Model.AppointmentBooking">
                    }
                    else
                    {
                        <input id="AppointmentBooking" name="AppointmentBooking" type="checkbox" value="@Model.AppointmentBooking">
                    }
                    <div class="slider round"></div>
                    <input name="AppointmentBooking" type="hidden" value="@Model.AppointmentBooking">
                </label>
            </li>
            <li>
                <label class="switch">
                    @if (Model.PatientLogin)
                    {
                        <input checked="checked" id="PatientLogin" name="PatientLogin" type="checkbox" value="@Model.PatientLogin">
                    }
                    else
                    {
                        <input id="PatientLogin" name="PatientLogin" type="checkbox" value="@Model.PatientLogin">
                    }
                    <div class="slider round"></div>
                    <input name="AppointmentBooking" type="hidden" value="@Model.PatientLogin">
                </label>
            </li>
            <li>
                <label class="switch">
                    @if (Model.ReferPatient)
                    {
                        <input checked="checked" id="ReferPatient" name="ReferPatient" type="checkbox" value="@Model.ReferPatient">
                    }
                    else
                    {
                        <input id="ReferPatient" name="ReferPatient" type="checkbox" value="@Model.ReferPatient">
                    }
                    
                    <div class="slider round"></div>
                    <input name="AppointmentBooking" type="hidden" value="@Model.ReferPatient">
                </label>
            </li>
            <li>
                <label class="switch">
                    @if (Model.SpecialOffers)
                    {
                        <input checked="checked" id="SpecialOffers" name="SpecialOffers" type="checkbox" value="@Model.SpecialOffers">
                    }
                    else
                    {
                        <input id="SpecialOffers" name="SpecialOffers" type="checkbox" value="@Model.SpecialOffers">
                    }
                    <div class="slider round"></div>
                    <input name="AppointmentBooking" type="hidden" value="@Model.SpecialOffers">
                </label>
            </li>
            <li>
                <label class="switch">
                    @if (Model.Reviews)
                    {
                        <input checked="checked" id="Reviews" name="Reviews" type="checkbox" value="@Model.Reviews">
                    }
                    else
                    {
                        <input id="Reviews" name="Reviews" type="checkbox" value="@Model.Reviews">
                    }
                    <div class="slider round"></div>
                    <input name="AppointmentBooking" type="hidden" value="@Model.Reviews">
                </label>
            </li>
        </ul>
        </div>
        <div class="actions">
            <input class="save_btn1" tabindex="11" name="Save" type="submit" value="Save" onclick="return AddPublicProfileSection('@Model.SectionId','@Model.UserId')" style="width:97px;height:40px;">
            <input class="cancel_btn" tabindex="13" name="Cancel" type="button" value="Cancel" onclick="CloseTeamMemberPopUp()">
            <div class="clear">
            </div>
        </div>
    </div>
