﻿@model NewRecordlinc.Models.Colleagues.Member
<h2 class="title">
    Description</h2>
<div class="cntnt">
    <ul class="tablelist">
        <li>
            <!--<label>Institution Attended:</label>-->
            <textarea cols="" rows="15" id="txtdescription" onkeydown="textCounter(this,2848);" onkeyup="textCounter(this,'txtdescriptionlength' ,2848)">@(!string.IsNullOrEmpty(Model.Description)?Model.Description:"")</textarea>
            <span class="txt">
                <input class="words" type="text" id='txtdescriptionlength' name="txtdescriptionlength"
                    value="2848"><small>chars remaining</small></span> </li>
    </ul>
    <div class="actions">
        <input class="save_btn" name="Save" type="button" value="Save" onclick="UpdateDescription('@Model.UserId')">
        <input class="cancel_btn" name="Cancel" type="button" value="Cancel" onclick="CloseEditDescription()">
        <div class="clear">
        </div>
    </div>
</div>
<script type="text/javascript">
   // alert("OutSide");
    $(document).ready(function () {
       // alert();
        $("#txtdescriptionlength").val(parseInt($("#txtdescriptionlength").val()) - parseInt("@Model.Description.Length"));
    });
</script>
