﻿@model NewRecordlinc.Models.Colleagues.Member
<h2 class="title">
    Edit Social Information</h2>
<div class="cntnt">
    <ul class="tablelist">
        <li>
            <label>
                Facebook:</label><input type="text" id="FacebookUrl" name="FacebookUrl" value="@Model.clsSocialMediaForDoctor.FacebookUrl">
        </li>
        <li>
            <label>
                Twitter:</label><input type="text" id="TwitterUrl" name="TwitterUrl" value="@Model.clsSocialMediaForDoctor.TwitterUrl">
        </li>
        <li>
            <label>
                Linkedin:</label><input type="text" id="LinkedinUrl" name="LinkedinUrl" value="@Model.clsSocialMediaForDoctor.LinkedinUrl">
        </li>
        <li>
            <label>
                Google Plus:</label><input type="text" id="GooglePlusUrl1" name="GooglePlusUrl" value="@Model.clsSocialMediaForDoctor.GoogleplusUrl">
        </li>
        <li>
            <label>
                Pinterest:</label><input type="text" id="PinterestUrl" name="PinterestUrl" value="@Model.clsSocialMediaForDoctor.PinterestUrl">
        </li>
        <li>
            <label>
                YouTube:</label><input type="text" id="YouTubeUrl12" name="YouTubeUrl" value="@Model.clsSocialMediaForDoctor.YoutubeUrl">
        </li>
        <li>
            <label>
                Blog:</label><input type="text" id="BlogUrl" name="BlogUrl" value="@Model.clsSocialMediaForDoctor.BlogUrl">
        </li>
        <li>
            <label>
                Yelp:
            </label><input type="text" id="YelpUrl" name="YelpUrl" value="@Model.clsSocialMediaForDoctor.YelpUrl">
        </li>
    </ul>
    <div class="actions">
        <input class="save_btn" name="Save" type="button" value="Save" onclick="return UpdateSocialMediaDetails('@Model.UserId')">
        <input type="button" value="Save" name="Save" class="remove_btn" style="display: none;">
        <input class="cancel_btn" name="Cancel" type="button" value="Cancel" onclick="CloseEditSocialMedia()">
        <div class="clear">
        </div>
    </div>
</div>

