﻿@model NewRecordlinc.Models.Colleagues.Member
@if (Model.TeamMemberUserId != 0)
{
	
    <style>
        @@media (max-width: 1000px) {
            .cntnt .actions input {
                margin-right: 0px !important;
            }
        }
    </style>
	
    //For Edit Team member
    <h2 class="title">
        Edit Team/Staff Member
    </h2>

    <div class="cntnt">
        <div class="block">
            <ul class="tablelist">
                <li>
                    <label>
                        First Name:<sup class="mandatory">*</sup>
                    </label><input type="text" tabindex="1" id="txtEditFirstName" name="FirstName"
                                   value="@Model.FirstName">
                </li>
                <li>
                    <label>
                        Email:<sup class="mandatory">*</sup>
                    </label><input type="text" tabindex="3" name="txtEditEmail" value="@Model.Email"
                                   id="txtEditEmail" readonly="readonly">
                    <input type="hidden" id="hdnEmail" value="@Model.Email" />
                </li>
                @*    <li>
                        <label>
                            Office Name:</label><input class="margintop1" type="text" name="Office Name" value="@Model.OfficeName"
                                disabled="disabled" id="txtEditOfficeName">
                    </li>*@
                @*<li>
                    <label>
                        Street Address:<sup class="mandatory">*</sup>
                    </label><input type="text" tabindex="5" id="txtEditAddress2" name="Email"
                                   value="@Model.lstDoctorAddressDetails[0].Address2">
                </li>
                <li>
                    <label>
                        State:<sup class="mandatory">*</sup>
                    </label>
                    <div id="dvstate" tabindex="7">
                        @Html.Raw(ViewBag.state)
                    </div>
                </li>
                <li>
                    <label>
                        Country:<sup class="mandatory">*</sup>
                    </label>
                    <div id="dvCountry" tabindex="9">
                        @Html.Raw(ViewBag.country)
                    </div>
                </li>*@
                <li>
                    <label style="float:left !important;width:100%">
                        Location:<sup class="mandatory">*</sup>
                    </label>
                    @Html.DropDownListFor(m => m.LocationId, new SelectList(Model.LocationList, "AddressInfoId", "LocationName"), new { @tabindex = "5" })
                </li>
            </ul>
        </div>
        <div class="block">
            <ul class="tablelist">
                <li>
                    <label>
                        Last Name:<sup class="mandatory">*</sup>
                    </label><input type="text" tabindex="2" id="txtEditLastName" name="LastName"
                                   value="@Model.LastName">
                </li>
                <li>
                    <label>
                        Speciality:<sup class="mandatory">*</sup>
                    </label>
                    <div>
                        @Html.Raw(ViewBag.Specialities)
                    </div>
                </li>              

                @*<li>
                    <label>
                        PMS Provider Id
                    </label><input type="text" tabindex="6" name="DentrixProviderId" id="txtProviderId" value="@Model.DentrixProviderId" />
                </li>*@
                <li>
                    <label>
                        @Html.CheckBoxFor(m => m.provtype, new { @id = "chkEditProvtype" })
                        Staff Member
                    </label>
                </li>
            </ul>
        </div>
        @*<div  class="col-md-12">
            @*<ul class="tablelist">
                <li>*@

        @*<select style="width:98%">
                <option value="1">Item 1</option>
            </select>*@
        @*</li>
            </ul>*@
        @*   </div>*@
        <div class="clear">
        </div>
        <div class="actions">
            <input class="save_btn1" tabindex="7" name="Save" type="submit" value="Save" onclick="return EditTeamMember('@Model.TeamMemberUserId','@Model.UserId')" style="width:97px;height:40px;">
            <input type="button" tabindex="8" value="Save" name="Save" class="remove_btn" onclick="RemoveTeamMember('@Model.TeamMemberUserId','@Model.UserId')">
            <input class="cancel_btn" tabindex="9" name="Cancel" type="button" value="Cancel"
                   onclick="CloseTeamMemberPopUp()" />
            <div class="clear">
            </div>
        </div>
    </div>

}
else
{
    // For Add Team member
<style>
	input, button, select, textarea{
		line-height: normal !important;
	}
	.tablelist li select{
			-webkit-appearance: none!important;
		}
		#drpSpeciality{
			-webkit-appearance: none!important;
		}
</style>
    <h2 class="title">
        Add team/staff member
    </h2>
    <div class="cntnt">
        <div class="block">
            <ul class="tablelist">
                <li>
                    <label>
                        First Name:<sup class="mandatory">*</sup>
                    </label><input type="text" id="txtAddFirstName" tabindex="1"
                                   name="First Name" value="">
                </li>
                <li>
                    <label>
                        Email:<sup class="mandatory">*</sup>
                    </label><input type="text" id="txtAddEmail" name="Email" tabindex="3"
                                   value="">
                </li>
                @*   <li>
                        <label>
                            Office Name:</label><input class="margintop1" type="text" id="txtAddOfficeName" name="Office Name"
                                value="" disabled="disabled">
                    </li>*@
                @*<li>
                    <label>
                        Street Address:<sup class="mandatory">*</sup>
                    </label><input type="text" name="Email" tabindex="5"
                                   value="" id="txtAddAddress2">
                </li>
                <li>
                    <label>
                        State:<sup class="mandatory">*</sup>
                    </label>
                    <div id="dvAddstate">
                        @Html.Raw(ViewBag.state)
                    </div>
                </li>*@
                @*<li>
                    <label>
                        Country:<sup class="mandatory">*</sup>
                    </label>
                    <div id="dvAddCountry">
                        @Html.Raw(ViewBag.country)
                    </div>
                </li>*@
                <li>
                    <label style="float:left !important;width:100%">
                        Location:<sup class="mandatory">*</sup>
                    </label>
                    @Html.DropDownListFor(m => m.LocationId, new SelectList(Model.LocationList, "AddressInfoId", "LocationName"), new { style = "width:98%", @tabindex="5" })
                </li>

            </ul>
        </div>
        <div class="block">
            <ul class="tablelist">
                <li>
                    <label>
                        Last Name:<sup class="mandatory">*</sup>
                    </label><input type="text" name="Last Name" tabindex="2"
                                   value="" id="txtAddLastName">
                </li>
                <li>
                    <label>
                        Speciality:<sup class="mandatory">*</sup>
                    </label>
                    <div>
                        @Html.Raw(ViewBag.Specialities)
                    </div>
                </li>
                @*<li>
                    <label>
                        Suite/Unit:
                    </label><input type="text" name="Suite/Unit" value="" id="txtAddExactAddress" tabindex="6">
                </li>
                <li>
                    <label>
                        City:<sup class="mandatory">*</sup>
                    </label><input type="text" name="City Name"
                                   value="" id="txtAddCity" tabindex="8">
                </li>
                <li>
                    <label>
                        Zipcode:<sup class="mandatory">*</sup>
                    </label><input type="text" name="Zipcode" value=""
                                   id="txtAddZipcode" tabindex="10">
                </li>*@
                @*<li>
                    <label>
                        PMS Provider Id
                    </label><input type="text" name="DentrixProviderId" id="txtProviderId" value=""  tabindex="6"/>
                </li>*@
                <li>
                    <label>
                        @Html.CheckBoxFor(m => m.provtype,new { @id = "chkAddProvtype" })
                        Staff Member
                    </label>
                </li>

            </ul>
        </div>
        <div class="clear">
        </div>
        <div class="actions">
            <img src="../Content/images/save.png" tabindex="7" name="Save" type="button" value="Save" onclick="return AddTeamMember('@Model.TeamMemberUserId','@Model.UserId')" style="cursor:pointer;">
            <!-- <input class="save_btn" tabindex="11" name="Save" type="button" value="Save" onclick="return AddTeamMember('@Model.TeamMemberUserId','@Model.UserId')" style="width:101px;height:45px;padding-bottom: 5px;"> -->
            <input class="cancel_btn" tabindex="8" name="Cancel" type="button" value="Cancel" onclick="CloseTeamMemberPopUp()" />

            <div class="clear">
            </div>
        </div>
    </div>
}

<script src="~/Scripts/ControllerJS/PublicProfile/jquery-1.11.2.min.js"></script>
<script src="~/Scripts/ControllerJS/PublicProfile/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $(".cancel_btn").click(function () {
            $(".mfp-close").click();
        });
    });
</script>