﻿<style>
	.save_btn {
    background-position: -482px -61px;
	}
	.cntnt .actions input {
		margin-right: 1px !important;
	}
</style>

@model NewRecordlinc.Models.Colleagues.Member
@if (Model.lstProfessionalMembershipForDoctorById.Count > 0)
{
    <h2 class="title">
        Edit Professional Memberships
    </h2>
    <div class="cntnt">
        <ul class="tablelist">
            <li>
                <label class="line_height20">
                    After saving this association, click add button to enter new association:
                </label>
                <input type="text" id="txtEditprofessional" autocomplete="on" maxlength="272" onkeyup="EditOnKeyupProfessionalMemberships(event)"
                       name="Search" value="@Model.lstProfessionalMembershipForDoctorById[0].Membership">
                <span class="txt">
                    <input class="words" type="text" id="txtEditprofessionalcount" disabled="disabled" name="txtEditprofessionalcount"
                           value="272"><small>chars remaining</small>
                </span>
                <label class="line_height20 infor">
                    Type your own association if it is not listed in auto complete. e.g.: American Geriatric
                    Society.
                </label>
            </li>
        </ul>
        <div class="actions">
            <input class="save_btn" name="Save" type="button" value="Save" onclick="EditProfessionalMemberships('@Model.lstProfessionalMembershipForDoctorById[0].Id','@Model.UserId')" style="width:100px;height:46px;">
            <input type="button" value="Save" name="Save" class="remove_btn" onclick="RemoveProfessionalMemberships('@Model.lstProfessionalMembershipForDoctorById[0].Id')">
            <input class="cancel_btn" name="Cancel" type="button" value="Cancel" onclick="CloseProfessionalMemberships()">
            <div class="clear">
            </div>
        </div>
    </div>
}
else
{
    <h2 class="title">
        Add Professional Memberships
    </h2>
    <div class="cntnt">
        <ul class="tablelist">
            <li>
                <label class="line_height20">
                    After saving this association, click add button to enter new association:<sup class="mandatory">*</sup>
                </label>
                <input type="text" id="txtAddprofessional" autocomplete="on" maxlength="272" onkeyup="AddOnKeyupProfessionalMemberships(event)"
                       name="Search" value="">
                <span class="txt">
                    <input class="words" type="text" id="txtAddprofessionalcount" disabled="disabled" name="txtAddprofessionalcount"
                           value="272"><small>chars remaining</small>
                </span>
                <label class="line_height20 infor">
                    Type your own association if it is not listed in auto complete. e.g.: American Geriatric
                    Society.
                </label>
            </li>
        </ul>
        <div class="actions">
            <input class="save_btn" name="Save" type="button" value="Save" onclick="EditProfessionalMemberships('0','@Model.UserId')" style="width:101px;height:51px;padding-bottom: 6px;">
            <input class="cancel_btn" name="Cancel" type="button" value="Cancel" onclick="CloseProfessionalMemberships()">
            <div class="clear">
            </div>
        </div>
    </div>
}

