﻿@model NewRecordlinc.Models.mdlGallary
<style>
    /*.color-picker-right {
        float: right;
    }*/

    .simpleColorChooser {
        top: 25px !important;
        left: 0px !important;
        z-index: 1;
    }

    .form-group.required .form-label:after {
        content: " *";
        color: red;
    }
</style>
@using (@Html.BeginForm("InsertUpdateGallary", "Profile", FormMethod.Post, new { enctype = "multipart/form-data", id = "bannerform" }))
{
    @Html.HiddenFor(m => m.UserId)
    <button type="button" title="Close (Esc)" class="mfp-close">×</button>
    
    @Html.HiddenFor(m => m.GallaryId)
    
    if (Model.GallaryId > 0)
    {
        <h2 class="title">
            Edit Gallery Item
        </h2>
    }
    else
    {
        <h2 class="title">
            Add Gallery Item
        </h2>
    }

    <div class="cntnt">
        <div class="block" style="width:79%;">
            <div class="form-group required">
                <label class="form-label" for="File"> Image </label>
                <input type="file" name="File" id="fileImageForGallery"  onchange="return GallaryImageUpload(this)" />
                <a onclick="ClearImage()">Clear</a>
                <span class="form-label" for="File" style="font-size:smaller;">(Preferred image width X height : <strong> 800px X 600px </strong> and image types are <strong>.jpeg, .jpg, .gif, .tiff, .png, .bmp</strong>)</span>
            </div>
            <label class="form-label"><br /><strong>OR</strong></label>
            <div class="form-group required">
                <label class="form-label" for="VideoURL">
                    Video URL </label>
                    @Html.TextBoxFor(m => m.VideoURL)
</div>
        </div>        
        <div class="clear">
        </div>
        <div class="actions">
            <input class="save_btn1" name="Save" type="submit" value="Save" style="width:97px;height:40px;" onclick="return SaveGalleryDetail()">
            
            <div class="clear">
            </div>
        </div>
    </div>
}


