﻿@model BO.Models.Banner
<style>
    /*.color-picker-right {
        float: right;
    }*/

    .simpleColorChooser {
        top: 25px !important;
        left: 0px !important;
        z-index: 1;
    }

    .form-group.required .form-label:after {
        content: " *";
        color: red;
    }
</style>
@using (@Html.BeginForm("InsertUpdateBanner", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" ,id ="bannerform"}))
{
    @Html.HiddenFor(x => x.UserId)
    <button type="button" title="Close (Esc)" class="mfp-close">×</button>
    if (Model.BannerId > 0)
    {
        <h2 class="title">
            Edit Banner
        </h2>
    }
    else
    {
        <h2 class="title">
            Add Banner
        </h2>
    }

    <div class="cntnt">
        <div class="block" style="width:79%;">
            <div class="form-group required">
                @Html.HiddenFor(t => t.BannerId)
                @Html.LabelFor(t => t.Title, new { @class = "form-label" })
                @Html.TextBoxFor(t => t.Title, new { @class = "form-control", @maxlength = "35" })
            </div><br>
            <div class="form-group required">
                @Html.LabelFor(t => t.Path, new { @class = "form-label" })
                <input type="File" id="BannerImage" name="File" onchange="return BannerUpload()" />
                @Html.HiddenFor(t => t.Path)
                <span for="File" style="font-size:smaller;">(Preferred banner width X height : <strong> 1920px X 614px </strong>)</span>
            </div><br>
            <div class="form-group required">
                @Html.LabelFor(t => t.ColorCode, new { @class = "form-label" })
                <span class="color-picker-right">
                    @Html.TextBoxFor(t => t.ColorCode, new { @class = "form-control simple_color_color_code " })
                </span>
            </div>
        </div>
        <div class="clear">
        </div>
        <div class="actions">
            <input class="save_btn1" name="Save" type="submit" value="Save" style="width:97px;height:40px;" onclick="return SaveBannerDetail(@Model.BannerId)">
            <input class="cancel_btn" name="Cancel" type="button" value="Cancel" onclick="CloseBanner()">
            <div class="clear">
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $('.simple_color_color_code').simpleColor({ displayColorCode: true });
    });
</script>