﻿@model NewRecordlinc.Models.Colleagues.Member

<style>
	select {
		-webkit-appearance: none!important;
	}
    .newdev {
        -webkit-padding-before: 23.1% !important;
    }
    /*.tablelist select {
        height: auto !important;
    }*/
</style>
<script type="text/jscript" src="../../Content/js/jquery.ui.core.js"></script>
<script type="text/jscript" src="../../Content/js/jquery.ui.widget.js"></script>
<script type="text/jscript" src="../../Content/js/jquery.ui.mask.js"></script>

@if (Model.clsAddressDetailsById.AddressInfoID > 0)
{
    if (Model.clsAddressDetailsById.ContactType == 1)
    {
        <h2 class="title">
            Edit Primary Address
        </h2>
    }
    else
    {

        <h2 class="title">
            Edit Secondary Address
        </h2>
    }
}

else
{
    <h2 class="title">
        Add Additional Address
    </h2>
}
<div class="cntnt">


    <div class="block">
        <ul class="tablelist">
            <li>
                <label>
                    Location:<sup class="mandatory">*</sup>
                </label>
                <input type="text" id="Location" style="width:204%;" name="Location" tabindex="1" value="@Model.clsAddressDetailsById.Location" />
            </li>
        </ul>
        <ul class="tablelist">


            <li>
                <label>
                    Street Address:<sup class="mandatory">*</sup>
                </label>
                <input type="text" id="ExactAddress" name="ExactAddress" tabindex="2" value="@Model.clsAddressDetailsById.ExactAddress" />
            </li>
            <li>
                <label>
                    City:<sup class="mandatory">*</sup>
                </label><input type="text" id="City" name="City" tabindex="4" value="@Model.clsAddressDetailsById.City" />
            </li>
            <li>
                <label>
                    State:<sup class="mandatory">*</sup>
                </label>
                <div id="dvstate">
                    @Html.Raw(ViewBag.state)
                </div>
            </li>
            <li>
                <label>
                    Phone:
                </label><input type="text" id="Phone" tabindex="8" name="Phone" value="@Model.clsAddressDetailsById.Phone" class="numericOnly" />
            </li>
            @*@if (Model.clsAddressDetailsById.AddressInfoID == 0)
                {*@
            <li>
                <label>Website:</label>
                <input type="text" name="txtwebsiteurl" tabindex="10" value="@Model.clsAddressDetailsById.Website" id="txtwebsiteurl" />
            </li>
            @*}*@
        </ul>
        <ul class="tablelist">
            <li>
                <label>
                    Email:<sup class="mandatory">*</sup>
                </label>
                <input id="Email" tabindex="12" type="text" name="Email" style="width:204%;" value="@Model.clsAddressDetailsById.EmailAddress" />
            </li>
        </ul>
        <ul class="tablelist">
            <li>
                <label>
                    Time zone:<sup class="mandatory">*</sup>
                </label>
                @Html.DropDownListFor(m => m.clsAddressDetailsById.TimeZoneId, new SelectList(Model.lstTimeZone, "TimeZoneId", "TimeZoneText"),new  { style = "width:204%;", tabindex = "13" })
            </li>
        </ul>

    </div>

    <div class="block newdev" style="padding-top:23% ">
        <ul class="tablelist">
            <li>
                <label>
                    Suite/Unit:
                </label>
                <input type="text" id="Address2" name="Address2" tabindex="3" value="@Model.clsAddressDetailsById.Address2">
            </li>
            <li>
                <label>
                    Country:<sup class="mandatory">*</sup>
                </label>
                <div id="dvCountry">
                    @Html.Raw(ViewBag.country)
                </div>
            </li>
            <li>
                <label>
                    Zip Code:<sup class="mandatory">*</sup>
                </label><input tabindex="7" id="Zipcode" type="text" name="Zipcode" maxlength="6" value="@Model.clsAddressDetailsById.ZipCode" class="numericOnly">
            </li>
            <li>
                <label>
                    Mobile/Text Us:
                </label><input id="Mobile" tabindex="9" type="text" name="Fax" value="@Model.clsAddressDetailsById.Mobile" class="numericOnly">
            </li>
            <li>
                <label>
                    Fax:
                </label><input id="Fax" tabindex="11" type="text" name="Fax" value="@Model.clsAddressDetailsById.Fax">
            </li>
        </ul>

    </div>
    <div class="clear">
    </div>

    @if (Session["UserId"] == Session["ParentUserId"])
    {
        <br />
        if (Model.clsAddressDetailsById.ContactType == 1)
        {
            <span style="float: left;">
                <input id="chkprimary" type="checkbox" tabindex="14" checked="checked" disabled="disabled" style="vertical-align: top;" />
                Make Primary Address
            </span>
        }
        else
        {
            <span style="float: left;">
                <input id="chkprimary" type="checkbox" tabindex="14" style="vertical-align: top;" />
                Make Primary Address
            </span>
        }<br />
    }
    @if (Session["UserId"] != Session["ParentUserId"])
    {

        if (Model.clsAddressDetailsById.ContactType == 1)
        {
            <label class="infor">
                This is Primary Address
            </label>
        }
    }

    <div class="actions" style="margin-top: 2px;">
        <input class="save_btn" name="Save" type="submit" value="Save" tabindex="15" onclick="UpdateAddress('@Model.clsAddressDetailsById.AddressInfoID')">
        @if (Model.clsAddressDetailsById.AddressInfoID > 0)
        {
            //if (Model.clsAddressDetailsById.ContactType != 1)
            //{
            <input type="button" value="Save" tabindex="16" name="Save" class="remove_btn" onclick="RemoveAddress('@Model.clsAddressDetailsById.AddressInfoID','@Model.clsAddressDetailsById.ContactType')" />
            // }
        }
        <input class="cancel_btn" type="button" tabindex="17" value="Cancel" name="Cancel" onclick="CloseEditAddresspop()" />
        <div class="clear">
        </div>
    </div>
    <input type="hidden" id="hdncountry" value="@Model.clsAddressDetailsById.Country" />
</div>
