html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, textarea, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: Helvetica, Arial, sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	 
	font: 15px/18px Helvetica, Arial, sans-serif;
	color: #333333;
	position: relative;
	-webkit-text-size-adjust: none;
}
html,body{ height:100%;}

/*  Heading and Text styles */
h1{font-size:26px; color:#001b49; line-height:28px; font-weight:normal;}
h2{font-size:24px; color:#0890c4; line-height:26px; font-weight:normal;}
h3{font-size:22px; color:#0890c4; line-height:24px; font-weight:normal;}
h4{font-size:20px; color:#001b49; line-height:22px; font-weight:normal;}
h5{font-size:18px; color:#333333; line-height:20px; font-weight:normal;}
h6{font-size:16px; color:#001b49; line-height:18px; font-weight:normal;}
p {
	font-size:16px;line-height:18px;
}
a {	color:#0691c5; outline:none; cursor:pointer; text-decoration:underline;	/*transition:ease-in-out 0.3s;*/}
a:hover { text-decoration: none; color:#2a6496; }
strong{font-weight:bold;}
h2.heading{color:#17335c; font-size:26px; line-height:30px; font-weight:bold; padding:7px 0 10px; margin:20px 0 0;}
h3.heading{color:#515152; font-size:18px; line-height:22px; font-weight:bold; border-bottom:1px solid #c6d9e5; padding:7px 0; margin:20px 0 0; position:relative;}
h4.sub_title{border-bottom:1px solid #c6d9e5; font-size:20px; color:#0890c4; padding:5px 0 10px; position:relative;}
h4.sub_title span{font-size:15px; color:#666666; padding:0 0 0 5px;}
.sortable {padding-right:10px; background:url(../images/sorting-arrows.png) no-repeat right center; color:#515152; }
.table_container .table_data h4 input { float:right; }
/*  Buttons and Input styles */
input[type="button"], input[type="submit"]{cursor:pointer; color:#666666; border:none; outline:none; -webkit-appearance:none; border-radius:0;}
input[type="submit"], input[type="button"]{text-indent:-9999px;}
.invite_email, .referral_email, .send_referral, .send_btn, .cancel_btn, .view_btn, .save_btn, .add_note, .message_patient, .refer_patient, .add_files, .add_patientz, .remove_btn, .search_colleague, .send_to_selected, .delete_selected, .delete, .export_report, .secure_msg, .frwd_referral, .prnt_referral, .print_refrl, .search_btn, .add_dentist, .check_all, .uncheck_all, .auto_apply, .send_secure_message, .add_new_patient, .update_all_forms, .print_all_forms,.upload_list_colleagues, .export_patient,.import_patient,.add_patients_newBtn{background:url(../images/buttons-sprites.png) 100px 100px no-repeat;}
.invite_email{width:314px; height:47px; background-position: -10px -10px;}
.referral_email{width:314px; height:47px; background-position: -367px -10px;}
.send_referral{width:137px; height:29px; background-position: 0 -64px;}
.send_btn{width:104px; height:40px; background-position:-140px -64px;}
.cancel_btn{width:109px; height:40px; background-position:-257px -64px;}
.view_btn{width:96px; height:30px; background-position:-376px -64px;}
.save_btn{width:97px; height:40px; background-position:-482px -64px;}
.add_note{width:116px; height:38px; background-position:0 -114px;}
.message_patient{width:161px; height:29px; background-position:-126px -114px;}
.refer_patient{width:134px; height:29px; background-position:-126px -153px;}
.add_files{width:116px; height:39px; background-position:0 -161px;}
.add_patientz{width:140px; height:38px; background-position:-376px -162px;}
.remove_btn{width:118px; height:40px; background-position:-546px -115px;}
.search_colleague{width:343px; height:47px; background-position:0 -9px;}
.send_to_selected{width:233px; height:29px; background-position:0 -265px;}
.delete_selected{width:153px; height:29px; background-position:0 -304px;}
.delete{width:85px; height:29px; background-position:-326px -343px;}
.export_report{width:141px; height:29px; background-position:0 -343px;}
.send_secure_message{width:233px; height:29px; background-position:-0 -265px;}
.export_patient{width:146px; height:29px; background-position:-327px -408px;}
.import_patient{width:146px; height:29px; background-position:-483px -408px;}
.secure_msg{width:206px; height:29px; background-position:-322px -210px;}
.frwd_referral{width:185px; height:40px; background-position:-322px -249px;}
.prnt_referral{width:185px; height:40px; background-position:-322px -299px;}
.print_refrl{width:148px; height:29px; background-position:-163px -304px;}
.search_btn{width:172px; height:42px; background-position:-151px -343px;}
.add_dentist{width:119px; height:29px; background-position:-538px -210px;}
.check_all{width:86px; height:30px; background-position:-517px -248px;}
.uncheck_all{width:106px; height:30px; background-position:-517px -285px;}
.auto_apply{width:86px; height:30px; background-position:-517px -322px;}
.update_all_forms{width:131px; height:27px; background-position:0 -392px;}
.print_all_forms{width:141px; height:27px; background-position:-149px -392px;}
.upload_list_colleagues{width:202px; height:29px; background-position:0px -427px;}
.save_btn1{background:url(/Content/images/Save.png)}
.search_btn {
	background: url(../images/buttons-sprites.png) -16px -11px no-repeat !important;
}

input.search_colleague {width:336px; height:48px;  background:url(../images/all-buttons.png) no-repeat 0 0; text-indent:-999em; display:inline-block;
}


input[type="radio"], input[type="checkbox"], img{margin:0; vertical-align:top;}
input[type="text"], textarea, select{border:1px solid #c2c2c2; padding:10px; color:#666; resize:none; margin:0px;}
input[type="text"]:hover, textarea:hover, select:hover, input[type="text"]:focus, textarea:focus, select:focus{border:1px solid #77C6FE; transition:ease-in-out 0.3s; border-radius: 2px; box-shadow: 0 0 5px #C0C0C0;}
.tablelist select{padding:9px 10px 9px;}
label{font-size:16px; line-height:13px; color:#515152; padding-right:15px; display:inline-block; *display:inline; vertical-align:top;}

/* Global Structure---------------------------------------- */

.clear{	clear:both;	line-height:0; font-size:0;	height:0;}
.wrapper {width:100%; min-height: 100%; height: auto !important; height: 100%;margin: 0 auto -98px}
.red{color:#FF0000;}
.mandatory{ color:#ff0000; padding-left:3px; font-weight:bold; font-size:15px;}

/*  Main Stlyes ------ */
header{ border-bottom:1px solid #90bcdd; background:url(../images/header-bg.png) left top repeat-x; position:relative; width:100%;}
header .logo{float:left; width:235px;  border-right:1px solid #c7d8e3; background:#ddeefb; text-align:left; z-index:5; position:relative; height:57px; padding:3px 0 0 15px;}
header .logo img{width:auto; vertical-align:middle; }

.utility_links{float:right; margin:8px 20px 0; display:block; z-index:1; margin-left:0px;}
.utility_links li{float:right; padding:0 12px; border-right:1px solid #d6d6d6;}
.searchbar{float:left; width:378px; border-right:1px solid #e4e4e4;}
.searchbar input[type="text"]{width:318px; height:26px; border:none; background:url(../images/search-icon.jpg) 15px center no-repeat #fff; font-size:22px; color:#cdcdcd; padding:17px 15px 17px 45px;}

.search_expnd{width:250px; z-index:1; position:relative; float:right; margin-top:10px;}
.search_expnd{width:250px; z-index:1; position:relative;}
.utility_links li:nth-child(1){border-right:none;}
.search_expnd span{width:35px; height:38px; margin:2px 0; background:url(../images/quicklink-sprites.png) 0 3px no-repeat; display:inline-block; *display:inline; text-indent:-9999px; vertical-align:middle; border-right:1px solid #D6D6D6; padding:2px;}


.utility_links li i{width:28px; height:28px; margin:8px 0; background:url(../images/quicklink-sprites.png) 0 0 no-repeat; display:inline-block; *display:inline; text-indent:-9999px; vertical-align:middle;}
.utility_links li i.help{background-position:-90px 0;}

.utility_links li i.links{background-position:-50px 0;}
.search{background-position:0 0; width:35px;}
.utility_links li i.profile{background-position:-129px -8px; width:16px; height:10px; margin-left:7px;}
.utility_links li a{font-size:17px; color:#0890c4; text-decoration:none;}
.utility_links li figure{width:45px; height:42px; margin:0 10px 0 0; display:inline-block; *display:inline; vertical-align:middle; border:1px solid #979797;}
.utility_links li figure img{width:auto;}
.slide_panel{ float: left; margin-left: -100%; width: 250px; background:url(../images/aside-bg.png) left top repeat-y; border-right:1px solid #ccc; z-index:2; position: absolute;top:61px; margin-left:0px; height:100%;  z-index:1;}



.toggle_links{float:right; margin:8px 0 0; display:block; z-index:5; position:relative; height:40px; }
.toggle_links li{float:right; padding:0 12px; border-right:1px solid #d6d6d6;}
.toggle_links li i{width:28px; height:28px; margin:8px 0; background:url(../images/quicklink-sprites.png) 0 0 no-repeat; display:inline-block; *display:inline; text-indent:-9999px; vertical-align:middle;}
.toggle_links li i.main_menu_trigger{background-position:-160px -5px;}
.toggle_links li.toggle_button{display:none; border:0px;}


.body_content{ }
.content{float:left;  width:100%;  padding:0 0 42px 0;}
.content_base{padding:10px 30px 0 25px; margin-left:250px;}
.breadcrumb{}
.breadcrumb_home{ margin:35px 0 0 90px}
.breadcrumb li{display:inline-block; *display:inline; vertical-align:top; padding-right:20px; background:url(../images/bullet.gif) right center no-repeat;}
.breadcrumb li.active{background:none;}
.breadcrumb li.active a{background:none; color:#0890C4;}
.breadcrumb span.before{background:url(../images/breadcrumb-back.png) 0 0 no-repeat; width:15px; height:34px; display:inline-block; *display:inline; vertical-align:top; display:none;}
.breadcrumb span.after{background:url(../images/breadcrumb-front.png) 0 0 no-repeat; width:20px; height:34px; display:inline-block; *display:inline; vertical-align:top; display:none;}
/*.breadcrumb a{background:url(../images/breadcrumb-bg.png) 0 0 repeat-x; position:relative; padding:0 0 0 10px; height:34px; line-height:34px; text-align:center; display:inline-block; font-size:16px; color:#666666; text-decoration:none;}*/
.breadcrumb a{position:relative; padding:0; height:16px; line-height:16px; text-align:center; display:inline-block; font-size:16px; color:#666666; text-decoration:none;}
.dashboard_links{margin:40px 0 20px 0;}

/* Main Blue Icons */
ul.dashboard_tour li{display: inline-block; *display:inline; margin: 0 20px 20px 0; text-align: center; vertical-align: top; width:336px;}
ul.dashboard_tour li a{text-decoration:none;}
ul.dashboard_tour li.active h6{position:relative;text-indent:-999em;}
ul.dashboard_tour li.active h6:before{position:absolute; content:" "; width:30px; height:17px; left:50%; margin-left:-15px; bottom:-25px; background:url(../images/icon-sprites.png) -224px -175px no-repeat; }
ul.dashboard_tour li span{display:block; width:336px; height:47px; margin:0 auto; background:url(../images/all-buttons.png) 0 0 no-repeat; text-indent:-999em;}
ul.dashboard_tour li span.send_referral{background-position: -3px -20px;}
ul.dashboard_tour li span.send_message{background-position: 0 -58px;}
ul.dashboard_tour li span.add_patient{background-position: 0 -116px;}
ul.dashboard_tour li span.view_referral{background-position: -3px -169px;}
ul.dashboard_tour li span.edit_profile{background-position: 0 -232px;}
ul.dashboard_tour li span.view_message{background-position: -155px -169px;}
ul.dashboard_tour li span.view_patients{background-position: -307px -169px;}
ul.dashboard_tour li span.add_colleague{background-position: 0 -174px;}
ul.dashboard_tour li span.view_colleagues{background-position: -460px -169px;}
ul.dashboard_tour li span.view_profile{background-position: -612px -169px;}
ul.dashboard_tour li h6{font-weight:bold; padding:0 5px; color:#16325c;}
ul.dashboard_tour li span.edit_patient{background-position: 0 -928px;}
ul.dashboard_tour li span.print_file{background-position: 0 -986px;}
ul.dashboard_tour li span.refer_patient{background-position: 0 -1044px;}
ul.dashboard_tour li span.message_patient{background-position: 0 -1101px;}
ul.dashboard_tour li span.add_note{background-position: 0 -1159px;}
ul.dashboard_tour li span.upload_files{background-position: 0 -1217px;}
ul.dashboard_tour li span.edit_team{background-position: 0 -290px;}
ul.dashboard_tour li span.edit_emailadd{background-position: 0 -467px;}
ul.dashboard_tour li span.edit_notifs{background-position: 0 -348px;}
ul.dashboard_tour li span.upg_acc{background-position: 0 -406px;}
ul.dashboard_tour li span.referrals_received{background-position: -2px -616px;}
ul.dashboard_tour li span.referrals_sent{background-position: -155px -616px;}
ul.dashboard_tour li span.patient_activity{background-position: 0 -464px;}
ul.dashboard_tour li span.colleague_activity{background-position: -460px -616px;}
ul.dashboard_tour li span.email_activity{background-position: -612px -616px;}
ul.dashboard_tour li span.pat_social_media{background-position: 0 -580px;}
ul.dashboard_tour li span.col_social_media{background-position: 0 -638px;}
ul.dashboard_tour li span.pat_contact_list{background-position: 0 -696px;}
ul.dashboard_tour li span.col_contact_list{background-position: 0 -754px;}
ul.dashboard_tour li span.pat_reminders{background-position: -612px -761px;}
ul.dashboard_tour li span.accnt_stngs { background-image:url(../images/acoount-settings-btn.jpg); }

/* Icons listing */
.arrowbttm, i.reply, i.delete, i.profile, i.patient, i.sclubs, i.colleagues, i.pknow, i.inbox, i.npatients, i.rreceived, i.rsent, i.supprt, i.phone, i.accord, i.attach_files, i.attach_patient, i.like, i.comments, i.notifics, i.address, i.wphone, i.email, i.phone2, i.check, i.edit, i.fax, i.mail, i.referral, i.close, i.attach, i.flag_msg, i.archive, i.folders, i.notes, i.back, i.sort, i.history, i.send_message, i.print, i.edit_page {text-indent:-9999px; display:inline-block; *diplay:inline; background:url(../images/icon-sprites.png) 100px 100px no-repeat; vertical-align:middle;}
i.reply{background-position:-224px -10px; width:30px; height:26px;}
i.delete{background-position:-269px -10px; width:30px; height:26px;}
i.profile{background-position:-10px -10px; width:28px; height:20px;}
i.patient{background-position:-42px -8px; width:28px; height:20px;}
i.sclubs{background-position:-73px -10px; width:28px; height:20px;}
i.colleagues{background-position:-104px -7px; width:28px; height:20px;}
i.pknow{background-position:-136px -10px; width:28px; height:20px;}
i.inbox{background-position:-10px -174px; width:25px; height:18px; }
i.npatients{background-position:-42px -174px; width:28px; height:18px; }
i.rreceived{background-position:-73px -174px; width:28px; height:18px; }
i.rsent{background-position:-104px -174px; width:28px; height:18px; }
i.supprt{background-position:-428px -54px; width:33px; height:33px; vertical-align:sub;}
i.phone{background-position:-136px -175px; width:20px; height:20px; margin-right:7px;}
a.prev{width:50px; height:50px; background:url(../images/icon-sprites.png) -428px -4px no-repeat; display:block; float:left;}
.prev1 {width:50px; height:50px; background:url(../images/icon-sprites.png) -377px -4px no-repeat; display:block; float:left;}
a.next{width:50px; height:50px; background:url(../images/icon-sprites.png) -485px -4px no-repeat; display:block; float:right;}
i.accord{width:26px; height:26px; background-position:-224px -46px; margin:0 20px 0 5px;}
i.attach_files{width:23px; height:23px; background-position:-306px -46px; margin-right:5px; }
i.attach_patient{width:23px; height:23px; background-position:-336px -46px; margin-right:5px; }
i.like{width:17px; height:17px; background-position:-170px -175px; margin-right:12px;}
i.comments{width:17px; height:17px; background-position:-197px -175px; margin-right:12px;}
i.notifics{width:28px; height:20px; background-position:-10px -36px;}
i.address{width:22px; height:22px; margin-right:5px; background-position:-10px -145px;}
i.wphone{width:22px; height:22px; margin-right:5px; background-position:-42px -145px;}
i.email{width:22px; height:22px; margin-right:5px; background-position:-74px -145px;}
i.phone2{background-position:-104px -145px; width:20px; height:23px;}
i.check{background-position:-136px -147px; width:18px; height:18px; margin-right:5px;}
i.edit{background-position:-170px -147px; width:20px; height:20px; margin-right:5px;}
i.fax{background-position:-197px -147px; width:18px; height:22px; margin-right:5px;}
i.mail{background-position:-224px -87px; width:30px; height:26px;}
i.referral{background-position:-269px -87px; width:30px; height:26px;}
i.close{background-position:-224px -144px; width:15px; height:15px;}
.arrowbttm{width:30px; height:17px; background-position:-224px -175px;}
i.attach{background-position:-170px -10px; width:18px; height:19px; margin-left:10px;}
i.flag_msg{background-position:-306px -87px; width:30px; height:26px;}
i.archive{background-position:-344px -87px; width:30px; height:26px;}
i.folders{background-position:-382px -87px; width:30px; height:26px;}
i.notes{background-position:-420px -87px; width:30px; height:26px;}
i.back{background-position:-39px -31px; width:28px; height:28px; border-right:1px solid #eae9e9;}
i.sort{background-position:-72px -32px; width:28px; height:28px;}
i.history{background-position:-270px -200px; width:28px; height:28px;}

i.send_message{background-position:-311px -200px; width:34px; height:28px;}
i.print{background-position:-363px -200px; width:30px; height:27px;}
i.edit_page{background-position:-410px -200px; width:30px; height:27px;}

ul.backend_dashboard li{display: inline-block; *display:inline; margin: 40px 0 0 0; text-align: center; vertical-align: top; width: 24%;}
ul.backend_dashboard li a{text-decoration:none; display:inline-block;}
ul.backend_dashboard li.active h6{position:relative;}
ul.backend_dashboard li.active h6:before{position:absolute; content:" "; width:30px; height:17px; left:50%; margin-left:-15px; bottom:-25px; background:url(../images/icon-sprites.png) -224px -175px no-repeat;}
ul.backend_dashboard li span{display:block; width:154px; height:154px; margin:0 auto; background:url(../images/recordlinc_dashboard_home_icon.png) 0 0 no-repeat;}
ul.backend_dashboard li span.dashboard{background-position: -16px 0;}
ul.backend_dashboard li span.Inbox{background-position: -185px 0;}
ul.backend_dashboard li span.Profile{background-position: -360px 0;}
ul.backend_dashboard li span.Patients{background-position: -529px 0;}
ul.backend_dashboard li span.Colleagues{background-position: -703px 0;}
ul.backend_dashboard li span.Referrals{background-position: 0px -163px;}
ul.backend_dashboard li span.eForms{background-position: -179px -163px;}
ul.backend_dashboard li span.Groups{background-position: -352px -163px;}
ul.backend_dashboard li span.Social_media{background-position: -521px -163px;}
ul.backend_dashboard li span.Reports{background-position: -701px -163px;}





.dashboard_sections{padding:20px 0 0 0;}
.dashboard_info{width:70%; float:left;}
.info_sections{margin-left:-12px; padding-right:12px;} /* -ve margin for making the boxes width equals to invitation boxes */ 
.dashboard_info .mainBox{width:50%; vertical-align:top; margin:0 0 25px -4px; padding:0 16px; display: inline-block; *display:inline; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;  -webkit-box-sizing:border-box; -khtml-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box;} /*46.2*/
.top_heading{background: url(../images/heading_grey_bg.jpg) #fff repeat-x 0 bottom; border: 1px solid #D0D0D0; border-top-left-radius: 5px; border-top-right-radius: 5px; height: 34px; padding: 4px 0 0; position:relative;}
#notifications{margin-right:5px;}
#notifications .mainBox{width:auto; display:block;}
#notifications .thead{border:none; background:none; padding:5px 0 15px;}
#notifications .trow{padding:15px 0;}
#notifications .table_data{padding:10px; border: 1px solid #D0D0D0; border-top:none;}
#notifications .col1, #notifications .col2, #notifications .col3{width:15%;}
#notifications .col4{width:25%;}
.top_heading a.viewAll{position:absolute; right:10px; top:10px;}
.top_heading h2{color:#17335C; padding: 4px 0 0 10px; font-size: 16px; line-height: 24px; font-weight:bold;}
.top_heading h2 a{ text-decoration:none; font-weight:normal;}
.mainBox .list_panel, .people_list .list_panel_dashboard{background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #D0D0D0; border-top:none; min-height: 130px;}
.mainBox .main_panel{padding: 10px;}
.main_panel .profile_desc{margin: 10px 0 0;}




.people_list p {font-size: 14px; line-height:18px; margin: 0; padding: 0;}
a.phone_no{background: #0591C5; color: #FFFFFF; font-size: 14px; line-height: 20px; margin-top:5px; display:inline-block; padding: 4px 10px 4px 7px;  text-decoration: none; border-radius: 2px; -moz-border-radius: 2px; font-weight:normal;}
.invite_box{border:1px solid #cdcdcd; padding:8px; margin:25px 32px 0 0;}
.invitations .invite_box:first-child{margin-top:0;}
.invite_box input[type="text"]{ font-size:16px; float:left; border:none; background:url(../images/mail-icon.png) 5px center no-repeat; padding:13px 15px 13px 45px; border:1px solid #ccc; width:93%;box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; } 
.invite_box input[type="submit"]{float:right;}

/* Footer */
footer{margin:0 0 0 0; background:#fff; z-index:999; position:relative; clear:both; float:left; width:100%;}
footer ul{background:#0890c4; display:block;padding:0 0 0 25px; -moz-box-sizing:padding-box; -webkit-box-sizing:padding-box; -khtml-box-sizing:padding-box; -o-box-sizing:padding-box; box-sizing:padding-box; font-size:0px; text-align:center;}
footer ul li{display:inline-block; background:url(../images/fnav-bg.png) left top repeat-y; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
footer ul li:nth-child(1){ background:none;}
footer ul li a{font-size:14px; color:#fff; text-decoration:none; display:block; padding:19px 15px; }
a.support{ text-decoration:none; color:#FFF}
.help_support{background:none; display:inline-block;}
.support{display:inline-block; border:1px solid #fff; font-size:18px; margin:12px 0 0 35px; padding:5px 15px 5px 5px;}
.support:hover{background:#43aad2; border:1px solid #43aad2;}
.support a{margin-right:6px}
.copyright{font-size:12px; text-align:center; color:#666666; padding:12px 0 12px;}


footer, .push {height: 98px;}

/* Table data listing */
.table_data h5{padding:5px 0 0 0; position:relative;}
span.buttons{position:relative; right:0; top:-5px; text-align:right;float:right;}
.table_data h5 span.buttons input{margin-left:10px;}
.tbody a{text-decoration:none; color:#666;}
.tbody a:hover{text-decoration:underline; color:#0691C5;}
.table_data{font-size:15px; line-height:18px; color:#515152;}
.table_data .thead{background:#f0f0f0; border-top:1px solid #c6d9e5; padding:15px;}
.table_data .thead a{font-size:13px; color:#515152; text-transform:uppercase;}
.table_data .col1, .table_data .col2, .table_data .col3, .table_data .col4, .table_data .col5, .table_data .col6, .table_data .col7, .table_data .col8, .table_data .col9, .table_data .col10{padding-left:15px; display:inline-block; *display:inline; margin:0 0 0 -4px; vertical-align:middle; text-align:left;}
.table_data .trow{padding:15px; padding:15px; border-top:1px solid #c8c8c8; margin:10px 0 0 0;}
.unread *{color:#000;}
.inner .table_data{border-bottom:1px solid #c8c8c8; }
.table_data .col1{width:30px;} /*common column with fixed width no need to change*/
.referrals_sent .col2{width:13.2%;}
.referrals_sent .col3{width:9.29%;}
.referrals_sent .col4{width:18.2%;}
.referrals_sent .col5{width:18.2%;}
.referrals_sent .col6{width:21.9%;}
.referrals_sent .col7{width:7.6%;}
.table_data .actions{text-align:right; color:#0890c4;}
.table_data .actions i{margin:0 5px;}
.referrals_received .col2, .inbox .col2{width:16.8%;}
.referrals_received .col3, .inbox .col3{width:14.9%;}
.referrals_received .col3 {width:14.9%}
.referrals_received .col4{width:14.9%;}
.referrals_received .col5{width:27.5%;}
.referrals_received .col6, .inbox .col5{width:11.4%;}
.inbox .col4{width:44.2%;}
.messages .col2{width:13.2%;}
.messages .col3{width:9.29%;}
.messages .col4{width:60.7%;}
.messages .col5{width:7.6%;}
.reports_ref_received .col2{width:13.2%;}
.reports_ref_received .col3{width:8.29%;}
.reports_ref_received .col4{width:13.5%;}
.reports_ref_received .col5{width:13.5%;}
.reports_ref_received .col6{width:11.29%;}
.reports_ref_received .col7{width:21.9%;}
.reports_ref_received .col8{width:6.6%;}


/* inner Pages Styling - Send Message */
.dashboard_links+.inner, .dashboard_links+.inner>h2{margin-top:0;}
.inner{margin:25px 0 0 0;}
ul.form_listing li{margin:0 0 20px;}
ul.form_listing li > label{width:100px; float:left; padding-top:12px; margin-bottom:5px;}
ul.form_listing li .fluid_cont{display: inline-block; width: 51.33%; position:relative;}
ul.form_listing li .fluid_cont i.accord{position:absolute; right:10px; top:50%; margin:-15px 0 0 0px;}
.send_message input[type="text"], .send_message textarea{width:100%; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.file_process{ display:inline-block; *display:inline; border:1px solid #c2c2c2; padding:10px;}
.send_message .file_process{ width:49.59%;}
.send_message .cancel_btn{margin:0 0 0 13px;}
/*ul.dual > li{display:inline-block; *display:inline; margin-bottom:0; vertical-align:top; padding:0 0 0 80px; width:46.87%;}*/
ul.dual{clear:both;}
ul.dual > li{width:49%; display:inline-block; *display:inline; margin-bottom:0; vertical-align:top; padding:0 0 0 70px; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; -webkit-box-sizing:border-box; -khtml-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box;}
ul.dual li:first-child{padding-left:0;}
/*.add_patients input[type="text"]{width:71.9%}*/
.add_patients input[type="text"]{width:100%; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; -webkit-box-sizing:border-box; -khtml-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box;}
.add_patients textarea.textarea{width:100%; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; -webkit-box-sizing:border-box; -khtml-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; height:212px;}
ul.dual span.fluid{display: block; margin-left: 115px; vertical-align: top;}
ul.dual{}
.add_patients .file_process {padding:0; display:block;}
h6.heading{background:#5b7485; color:#fff; padding:10px;}
#accordion-container {display: inline-block; width: 51.33%;}
.accordion-header {color: #fff; font-size: 16px; padding: 5px 5px 5px 10px;  border: 1px solid #C2C2C2; border-bottom:none; background:#5B7485; margin-top: 20px;}
#accordion-container .accordion-header:first-child{margin-top:0;}
.accordion-content {border: 1px solid #C2C2C2; padding: 15px;}

/* Study Clubs*/
#sclubs a{text-decoration:none;}
#sclubs a:hover{text-decoration:underline;}
#sclubs img{width:100%; max-width:100%;}
.post{padding:15px 0; border-top:1px solid #c6d9e5;}
#sclubs .post:first-child{border-top:none; padding-top:0;}
.post figure.thumb{width:82px; height:82px; float:left; border:1px solid #b1bcce;}
figure.thumb img{width:100%; max-width:100%;}
.post .data{margin:0 0 0 95px; font-size:14px;}
.post .data p{margin:0 0 12px 0; font-size:15px;}
.post .data .links{margin:12px 0;}
.post .data .links span{display:block; line-height:20px;}
.post .activities{margin:12px 0;}
.post .activities li{display:inline-block; *display:inline; padding:0 10px; background:url(../images/list-bg.jpg) left center no-repeat; vertical-align:top; color:#666;}
.post .activities li:first-child{padding-left:0; background:none;}
.subpost{background:#f7f7f7; color:#666; padding:15px; margin:12px 0 0;}
.subpost ul li{margin:10px 0 0 0;}
.subpost ul li:first-child{margin-top:0;}
#sclubs .subpost p{margin:0 0 0 45px;}
#sclubs .subpost figure.thumb{width:34px; height:34px;}

/* Patient History */
ul.patient_info{padding:15px 0;}
ul.patient_info > li{float:left;}
ul.patient_info > li.first{border-right:1px solid #c6d9e5; width:37.5%;}
ul.patient_info > li.second{width:62.4%;}
ul.patient_info .thumb{width:104px; height:104px; float:left; margin-right:15px;}
ul.patient_info ul.list{margin:0 20px 0 60px; padding:10px 0 0 0;}
ul.patient_info ul.list2{margin:0 20px 0 60px; padding:10px 0 0 0;}
ul.patient_info .thumb+ul.list{margin-left:120px;}
ul.list li{font-size:16px; line-height:18px; color:#666; padding:5px 0;}
ul.list_ab li {padding:5px 56px 5px 24px !important; position:relative;}
ul.list_ab li i { position:absolute; left:0px; top:5px; }
ul.patient_forms li{font-size:16px; color:#16325c; line-height:18px; border-bottom:1px solid #c8c8c8; padding:15px 40px 15px 0; position:relative;}
ul.patient_forms li .status{position:absolute; right:15px; top:50%; margin-top:-14px;}
.table_container{ margin:25px 0;}
.table_container h4.sub_title+.thead{border-top:none;}
/*h4.sub_title input[type="submit"]{position:absolute; right:0; top:0;}*/
.add_notes{padding:15px 0;}
.add_notes input[type="text"]{width:100%; margin-right:0; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.notes_listing{border:1px solid #dcdcdc; padding:0 15px;}
.notes_listing .post:first-child{border-top: medium none;}
.notes_listing .post{position:relative;}
.notes_listing .post i.close{position:absolute; right:0; top:10px;}
.notes_listing .post:hover i.close{background-position:-242px -144px;}
.notes_listing .post .data p{margin:5px 0 0;}
.notes_listing .post .data .links{margin:0;}
.files{padding:15px;}
.marginLeft10 { margin-left:10px !important; }

/* Profile Page */
.user_profile{border:1px solid #ddd; border-radius:6px 6px 0 0; -moz-border-radius:6px 6px 0 0; -webkit-border-radius:6px 6px 0 0; -khtml-border-radius:6px 6px 0 0; -o-border-radius:6px 6px 0 0; -ms-border-radius:6px 6px 0 0; background:#fff;}
.user_info{padding:15px 15px 25px; background:#fff; border-radius:6px 6px 0 0; -moz-border-radius:6px 6px 0 0; -webkit-border-radius:6px 6px 0 0; -khtml-border-radius:6px 6px 0 0; -o-border-radius:6px 6px 0 0; -ms-border-radius:6px 6px 0 0; position:relative;}
.user_info h3{font-weight:bold;}
.user_info .post{padding:0; border-top:none;}
.user_info figure.thumb{width:95px; height:95px; border:none;}
.user_info .data{margin-left:105px; padding-right:50px;}
.user_info .info{float:left; padding-right:20px; width:21.7%; display:block;}
.user_info ul.list li{padding:0; font-size:18px; line-height:22px;}
.user_info h3 .phone_no{float:left;}
.user_details .title{padding:15px; float:left; width:100%;}
.user_details .details{padding:15px 70px 15px 20px; float:left; width:75.2%; border-left:1px solid #fbfdff;}
.user_details .row{border-bottom:1px solid #e0e0e0; border-top:1px solid #fefefe; position:relative}
.user_details .row a.edit, .user_info a.edit{position:absolute; right:15px; top:10px;}
.user_details h5{color:#16325c; font-size:16px;}
.contact_box{margin: 0; padding: 15px; background:#fff;}
.contact_box h6{font-size:16px; line-height:16px; color:#0890c4; margin-bottom:5px;}
.user_details .contact_box{float: left; width:15%; margin-right:15px; }
.border_grey { border:1px solid #ddd !important; }
.contact_box ul.list li{padding:3px 0; position:relative;}
.contact_box ul.list li.hasIcon { padding-left:25px; word-wrap: break-word;}
.margintop5 { margin-top:5px !important; }
.contact_box ul.list li i { position:absolute; top:2px; left:0px; }
ul.socials li{float:left; margin-left:8px;}
ul.socials li:first-child{margin-left:0;}
.social_media a.fb, .social_media a.tw, .social_media a.in, .social_media a.gp, .social_media a.pn, .social_media a.yt, .social_media a.bl, .social_media a.ot{display:block; width:28px; height:28px; text-indent:-999em; background:url(../images/icon-sprites.png) 100px 100px no-repeat; display:inline-block; }
.social_media a.fb{background-position:-268px -165px; }
 .social_media a.tw{background-position:-306px -165px;}
 .social_media a.in{background-position:-342px -165px;}
.social_media a.gp{background-position:-377px -165px;}
 .social_media a.pn{background-position:-412px -165px;}
 .social_media a.yt{background-position:-447px -165px;}
 .social_media a.bl{background-position:-482px -165px;}
 .social_media a.ye{background-image:url(../../images/yelp.png);display:inline-block;width:28px;height:27px;text-indent:-999em;}
 .social_media a.ot{background-position:-517px -165px;}
.et .contact_box{ background:none; padding-right:15px; width:20%;}

/* Colleagues Page */
.colleagues .col1, .colleagues .col5{padding-top:35px;}
.colleagues .col2, .colleagues .col3, .colleagues .col4, .colleagues .col5{vertical-align:top;}
.colleagues .col2{width:25.4%;}
.colleagues .col3{width:31%;}
.colleagues .col4{width:22.9%;}
.colleagues .col5{width:12%;}
.colleagues .thumb{width:75px; height:75px; float:left;}
.colleagues .data{margin-left:90px;}
.data > h3{font-size:16px; color:#16325c; line-height:20px;}
.data h3 > span{color:#0890c4; display:block;}
.colleagues ul.list li{padding:3px 0;}
.colleagues ul.socials{margin-top:5px;}
.colleagues .actions i{margin:5px;}
.buttons_holder{margin:0 0 20px;}
.buttons_holder input{margin-right:15px;}

/*  Marketing Page  */
.social_media .col2{width:20.2%;}
.social_media .col3, .social_media .col4, .social_media .col5, .social_media .col6, .social_media .col7, .social_media .col8, .social_media .col9, .social_media .col10{width:8.21%; text-align:center;}
.social_media .thumb{width:64px; height:64px; border:1px solid #d1d1d1; float:left;}
.social_media .data{margin-left:85px; padding-top:22px;}


/*  Patient Page  */

.patient .col1, .patient .col2, .patient .col3, .patient .col4, .patient .col5, .patient .col6, .patient .col7, .patient .col8, .patient .col9, .patient .col20, .patient .col10{padding-left:15px; display:inline-block; *display:inline; margin:0 0 0 -4px; vertical-align:middle; text-align:left;}

.patient .col2{width:12.2%;}
.patient .col3{width:7.29%;}
.patient .col4{width:6.5%;}
.patient .col5{width:6%;}
.patient .col6{width:7.29%;}
.patient .col7{width:12.9%;}
.patient .col8{width:12.6%;}
.patient .col20{ float:right}

/*  Patient form Page  */
.patient_form .col1, .patient_form .col2{padding-left:15px; display:inline-block; *display:inline; margin:0 0 0 -4px; vertical-align:middle; text-align:left;}
.patient_form .col1{width:2%; padding:0px}
.patient_form .col2{width:12.2%;}
.patient_form .col3{width:7.29%;}
.patient_form .col20{ float:right}



/*  Inbox Page  */
.content_box{margin-left:251px;}
.content_box+footer{margin-top:0;}
.message_panel{ float: left; width: 378px;}
.message_panel > .msgtab {border-bottom: 1px solid #e4e4e4;padding: 15px;position: relative;}
.message_panel > .msgtab > .msgslct { position:absolute; top:45px; left:16px; }
.message_panel > div:first-child{padding:0; position:relative;}
.message_panel > div:first-child > span{color:#c1c3c8; position:absolute; right:0; top:0;}
.message_panel > div > h4{color:#515152; font-size:18px; line-height:24px; position:relative; padding:0 85px 2px 0;}
.message_panel > div > h4 span.date{ font-size:14px; position:absolute; right:0; top:0;}
.message_panel > div > ul.list > li{font-size:14px; line-height:18px; padding:2px 0;}
.message_panel > div.current{background:#0890c4;}
.message_panel > div.current *{color:#fff;}
.message_panel > div.current i.attach{background-position:-197px -10px;}
.message_panel > div.unread{background:#eae9e9; font-weight:bold;}
.message_detail{border-left: 1px solid #E4E4E4; marign-left:378px; padding:30px 20px 0 20px;}
.message_detail{margin-left:378px;}
.message_detail h3{color:#666; font-weight:bold;}
.message_detail h3 span{display:block; color:#908b8b; font-size:16px; font-weight:normal;}
.message_detail ul.list{margin-top:10px; border-bottom:1px solid #e4e4e4; padding-bottom:25px;}
.message_detail ul.list li > label{display:inline-block; width:65px;}
.hylyt_field{background:#e4e4e4; border-radius:20px; padding:3px 15px; text-decoration:none;}
.hylyt_field span{color:#666;}
.inbox_icons{float:left; padding:10px 0 0 28px;}
.inbox_icons a{margin:0 12px;}
.sort_inbox {width:100%; border-top:1px solid #ddd; margin-top:10px}

/*  View Referrals Page  */
#view_referrals ul.list li > label{width:140px; padding-right:5px;}
#view_referrals .patient_info ul.list{padding:0;}
ul.check_listing{font-size:0; }
ul.check_listing label{padding:3px 0px 5px 20px; position:relative; line-height:17px; }
ul.check_listing > li{width:16.6%; display:inline-block; *display:inline; line-height:20px; margin:20px 0 0; vertical-align:top;}
ul.check_listing > li input[type="checkbox"]{margin-right:10px; position:absolute; left:0; top:5px;}
ul.check_listing > li .small{width:47%; margin-left:2%; padding:5px 10px; vertical-align:middle; display:inline;}
ul.check_listing_2 > li input[type="checkbox"]{ top:11px!important;}




.sub_title+p{margin:20px 0;}
.visuals {text-align:center;}
.visuals .left{width:56.0%; float:left;}
.visuals .right{margin-left:58.7%;}
.panel{border:1px solid #dcdcdc; font-size:0;}
.panel h5{background:#666666; color:#fff; padding:10px; text-align:left;}
.panel .block{display:inline-block; *display:inline; vertical-align:top; padding:25px 3.4% 40px; width:43.0%;}
.panel .block p{margin:20px 0; color:#333333;}
ul.teeth_listing{font-size:0; text-align:center;}
ul.teeth_listing li{display:inline-block; *display:inline; vertical-align:top; width:38px; height:48px;}
ul.teeth_listing li a{background:url(../images/icon-sprites.png) -464px -54px no-repeat; font-size:16px; color:#fff; text-decoration:none; display:block; padding
:8px 5px 17px; transition:none;}
ul.teeth_listing li.active a, ul.teeth_listing li a.atemp:hover{background:url(../images/icon-sprites.png) -509px -54px no-repeat;}
.table_container .file_process{display:block; padding:0px; border:none; margin-top:15px;}
.table_container .comments{margin-top:15px;}
.table_container .comments textarea{width:100%; max-width:100%; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; -webkit-box-sizing:border-box; -khtml-box-sizing:border-box; -o-box-sizing:border-box; -ms-box-sizing:border-box; box-sizing:border-box; margin-bottom:20px;}
.table_container .comments input[type="button"], .table_container .comments input[type="submit"]{margin-right:12px;}

/*  Search Colleagues Page  */
.search_fields{font-size:0;}
.search_fields input[type="text"]{width:14.8%; font-size:18px; padding-left:38px; margin:15px 20px 0 0; background:url(../images/icon-sprites.png) 100px 100px no-repeat;}
.search_fields input.name{background-position:-544px 0;}
.search_fields input.email{background-position:-544px -29px;}
.search_fields input.phone{background-position:-544px -60px;}
.search_fields input.school{background-position:-544px -94px;}
.search_fields input.assoc{background-position:-544px -128px;}
.speciality{display:block; *display:inline; width:18.7%; margin:15px 20px 0 0; vertical-align:top; position:relative;}
.speciality a{background:url(../images/icon-sprites.png) -544px -163px no-repeat; display:block; position:relative; border: 1px solid #C2C2C2; color: #666666; padding:10px 10px 10px 38px; text-decoration:none; transition: all 0.3s ease-in-out 0s; font-size:18px; line-height:21px;}
.speciality a:hover{border: 1px solid #77C6FE; border-radius: 2px; box-shadow: 0 0 5px #C0C0C0;}
.speciality a:after{display:block; width:13px; height:7px; content:""; position:absolute; right:10px; top:18px; background: url(../images/icon-sprites.png) -255px -145px no-repeat; }
.search_fields input.city{background-position:-544px -198px;}
.search_fields input.state{background-position:-544px -237px;}
.search_fields input.zip{background-position:-544px -275px;}


#speciality_popup a{font-size:14px!important; background:none!important; padding-left:10px!important;}
#speciality_popup .MemberLoginDropDown ul.check_listing > li{ width:100%!important;}
#speciality_popup .MemberLoginDropDown .buttons > *{ margin-left:0px!important;}
#speciality_popup .pClose{ top:0px!important; right:0px!important;}
#speciality_popup label{ font-size:14px!important;}
.green_btn { position:relative;  }
.tooltipc { width:80px; height:auto; padding:5px; background:#DDEEFB; border-radius:5px; color:#0691C5; position:absolute; display:none; font-size:12px; text-align:center; left:-32px; top:-37px; box-shadow:0px 1px 2px 0px #3f89c1; }
.tooltipc:after { width:13px; height:9px; background:url(../images/tool-tip.png) no-repeat; position:absolute; bottom:-8px; left:36px; display:block; content:""; }


.btn_holder .search_btn{width:308px;}
.mrn, .search_fields input.mrn{margin-right:0;}
.search_listing{font-size:0; text-align:left; margin:30px 0 0 0;}
.search_listing > li{background: #f6f6f6; display:inline-block; *display:inline; border: 1px solid #C8C8C8; vertical-align:top; margin: 0 20px 20px 0; padding: 10px; width: 30.5%;}
.search_listing > li.mrn{margin-right:0;}
.search_listing .check{width:30px; float:left;}
.search_listing .check input[type="checkbox"]{margin-top:40px;}
.search_listing .thumb{width:85px; height:95px; float:left; border:1px solid #8f8f8f;}
.search_listing .thumb img{width:85px; height:95px!important;}
.search_listing .description{margin-left:132px; display:block;}
.search_listing .description a{text-decoration:none;}
.search_listing .description h2{color: #0691C5; font-size:16px; line-height:18px; font-weight:bold;}
.description h2 .sub_heading {display: block; font-size: 14px; font-weight: normal;}
.search_listing .action{margin:5px 0 0 132px; display:block;}
.search_listing ul.list li{padding:2px 0;}
.search_listing ul.list li:first-child{padding-top:5px;}

/* Signin Login Menu */
.loginpop{position:relative; z-index:9999; display:inline-block; *display:inline;}
.MemberLogin .loginbtn:hover, .MemberLogin.active .loginbtn{background: url(../images/index/login.png)  no-repeat left bottom; outline:none;}
.MemberLoginDropDown{max-width:680px; width:auto; min-width:200px; padding:15px; position:absolute; left:0; top:43px; z-index:9999; background:#fff; border:2px solid #0890c4; display:none;}
.MemberLoginDropDown .buttons{padding:0 0 10px; text-align:right; border-bottom:1px solid #cacaca; display:inline-block; width:100%;}
.MemberLoginDropDown .buttons > *{margin-left:10px; margin-top:5px;}
.MemberLoginDropDown .MemberLoginCloseBtn{float:right; margin-top:8px;}
.MemberLoginDropDown ul.check_listing{padding-top:10px;}
.MemberLoginDropDown ul.check_listing > li{width:50% !important; margin:5px 0 0 0;}
.dataTableCell_2 a{ display:block!important; clear:both;}

/* invite Colleague */

.personal_notes{ height:auto;  padding:20px 0 0 0; float:left; width:100%;}
.personal_notes h1{ font-size:18px; color:#0691c5;}
.personal_notes .message_panel_2{  background-color:#f6f6f6; border:1px solid #c8c8c8; border-bottom:4px solid #c8c8c8;  padding:10px 10px 10px 10px;}
.personal_notes .message_panel_2 .text_area{ width:100%;  background-color:#fff; height:70px;  border:1px solid #abadb3; color:#666;  font-size:14px; text-align:left; font-family:Helvetica, Arial, sans-serif; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.button_2_submit{ background:url(../images/submit_btn.jpg) no-repeat 0 0;   width:119px; height:39px; border:0px; margin:10px auto; display:block; cursor:pointer;}
.personal_notes .close_btn{background:url(../images/close.png) no-repeat 0 10px;   width:24px; height:30px; border:0px; float:right; margin:0 10px 0 0; cursor:pointer;}
.personal_notes .white_background{ border:1px solid #d0d0d0; background-color:#FFF; width:99%; heigh:27px;  }
.send_invite_btn{ background:url(../images/send_invite_btn.png) no-repeat 0 0;   width:136px; height:40px;  border:0px; margin:10px auto; display:block; cursor:pointer;}
.input_box_invite{ width:70%; height:auto; float:left; border:0px; line-height:40px; height:26px; font-size:14px; color:#959494; line-height:18px; border:0px!important}
.floatRight{ float:right;}
.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}



.marginLeft{ margin-left:0px;}
.grey_slide_down {
    background: none repeat scroll 0 0 #EEEEEE;
    float: left;
    margin: 0;
    width: 100%;
}

.grey_slide_down li label {
	padding:10px 0 0 15px;
}

.tabbed_form_content li > .grey_frmbg > input {
    -moz-box-sizing: border-box;
    border: medium none;
    width: 100%;
}
input[type="text"], textarea, select {
    color: #666666;
    padding: 10px;
    resize: none;
}
.grey_slide_down {
    list-style: none outside none;
}
.grey_slide_down li dl {
    float: left;
    width: 100%;
}
.grey_slide_down li dl dt {
    float: left;
    list-style: none outside none;
    margin: 0 0 0 20px;
    padding: 15px 0;
}
.grey_slide_down li dl dt label {
    padding: 0 10px 0 0;
}

ol.flex-control-nav{
	display:none;
	}
ul.flex-direction-nav{
	margin:10px 0 0 0;
	width:90%;
	float:left; padding:0 5% 0 5%;
	}
ul.flex-direction-nav li a.prev, ul.flex-direction-nav li a.next{
	text-indent:-5000px;
	}
ul.flex-direction-nav li{
	position:relative;
	}
ul.flex-direction-nav li .hoverPrev {
    height: 75px;
    left: 0;
    position: absolute;
    top: 0;
    width: 75px;
}
ul.flex-direction-nav li .hoverNext{
	height: 75px;
    right: 0;
    position: absolute;
    top: 0;
    width: 75px;
	}
	
.slides{ height:500px!important; overflow:hidden;}

.profile_desc .profile_thumb{float: left; height: auto; margin: 0 22px 0 0; width: 100px;}
.profile_desc .profile_thumb span{padding-top: 8px; text-align: center; display:block;}
.profile_desc .profile_info{margin: 0 0 0 122px; word-wrap:break-word;}
.profile_desc .profile_info h2{color: #0691C5; font-size: 18px; line-height: 22px; margin: 0 0 10px; font-weight:normal;}
.profile_desc .profile_info h2 span{color: #666666; display: block; font-size: 17px;}
.list_panel ul li{background: url(../images/bullet.png) no-repeat 10px 10px; border-top: 1px solid #D0D0D0; clear: both; line-height: 20px; list-style: none outside none; margin: 0; padding: 7px 0 7px 32px;}
.list_panel ul li a+a{margin-left:15px;}
.list_panel ul li:first-child{border-top:none;}
.list_panel span.text_panel{display:inline-block; *display:inline; padding-right:5px;} /*earlier it had space : width:38.75%*/
.people_list{width:29.9%; float:right;}
.people_list .list_panel_dashboard ul li{padding: 0; background:none;}
ul.panels .list_panel_dashboard ul li:first-child, .people_list .list_panel_dashboard ul li:first-child{border-top:none;}
.people_list .thumb {float: left; height: 70px; margin: 0 17px 0 0; width: 70px;}
.people_list .thumb img{width:100%; max-width:100%;}
.people_list .details {margin: 0 0 0 87px;}
.people_list p {font-size: 14px; line-height:18px; margin: 0; padding: 0;}
.people_list .list_panel_dashboard ul li .dataList{
	width:91%;	float:left; padding:14px 14px 14px 14px; border-top:1px solid #E8E8E8;}
.main_panel .profile_desc{margin: 10px 0 0;}






.clearLeft { float:left; clear:both; }
.relative { position:relative; }

/*Responsive Table*/
table.responsiveTable,table.patientTable,table.refferalTable,table.comTable, table.patientContactList, table.colleagueContactList, table.patient_social_media, table.patientTableImport { 
		width: 100%; 
		border-collapse: collapse; 
		float:left;
		clear:both;
		margin:10px 0px 0px 0px;
	}
	/* Zebra striping */
	.responsiveTable th,.patientTable th,.refferalTable th,.comTable th, .patientContactList th, .colleagueContactList th, .patient_social_media th , .patientTableImport th{ 
		background: #F0F0F0; 
		color: #515152; 
		font-weight: normal;
		text-transform:uppercase; 
	}
	.responsiveTable td,.responsiveTable th,.patientTable td,.patientTable th,.refferalTable th,.refferalTable td,.comTable td,.comTable th, .patientContactList td, .patientContactList th,.colleagueContactList td, .colleagueContactList th,.patient_social_media td, .patient_social_media th, .patientTableImport td, .patientTableImport th { 
		padding: 15px 2px 15px 10px; 
		border-top: 1px solid #C8C8C8; 
		text-align: left; vertical-align:middle;
	}
	.responsiveTable td a, .patientTable td a, .refferalTable td a,.comTable td a, .patientContactList td a,.patientContactList td a,.colleagueContactList td a,.patient_social_media td a, .patientTableImport td a { 
	text-align:right; display:inline-block; margin-right:10px;
	}
	
	.comTable th:nth-child(5){
		padding-right: 110px;
	 }
	 
	 .refferalTable th:nth-child(7){
		padding-right: 110px;
	 }

	
	
	.refferalTable th:nth-child(7),.refferalTable td:nth-child(7), .comTable td:nth-child(5),.comTable th:nth-child(5) { 
		padding: 15px 2px 15px 10px; 
		border-top: 1px solid #C8C8C8; 
		text-align: right; vertical-align:middle;
	}
	
	
table td{ 
    -ms-word-break: break-all;
     word-break: break-all;
     word-break: break-word;
	-webkit-hyphens: auto;
    -moz-hyphens: auto;
     hyphens: auto;
	 
}	
	
	
	
	
	/* 
	Max width before this PARTICULAR table gets nasty
	This query will take effect for any screen smaller than 760px
	and also iPads specifically.
	*/
	@media only screen and (max-width: 980px) {

		table, thead, tbody, th, td, tr { 
			display: block; }
		/* Hide table headers (but not display: none;, for accessibility) */
		.responsiveTable thead tr,.patientTable thead tr,.refferalTable thead tr,.comTable thead tr,.patientContactList thead tr,.colleagueContactList thead tr,.patient_social_media thead tr, .patientTableImport thead tr  { 
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		
		.responsiveTable tr,.patientTable tr,.refferalTable tr,.comTable tr, .patientContactList tr, .colleagueContactList tr, .patient_social_media tr, .patientTableImport tr{ border: 1px solid #ccc; }
		
		.responsiveTable td,.patientTable td,.refferalTable td,.comTable td, .patientContactList td, .colleagueContactList td, .patient_social_media td, .patientTableImport td{ 
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee; 
			position: relative;
			padding-left: 50%; 
		}
		
		.responsiveTable td:before,.patientTable td:before,.refferalTable td:before,.comTable td:before, .patientContactList td:before, .colleagueContactList td:before, .patient_social_media td:before, .patientTableImport td:before  { 
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 15px;
			left: 15px;
			width: 45%; 
			padding-right: 10px; 
			white-space: nowrap;
		}
		
		
	
		
		/*
		Label the data
		*/
		.responsiveTable td:nth-of-type(1):before { content: "Select"; }
		.responsiveTable td:nth-of-type(2):before { content: "Date"; }
		.responsiveTable td:nth-of-type(3):before { content: "Status"; }
		.responsiveTable td:nth-of-type(4):before { content: "Patient"; }
		.responsiveTable td:nth-of-type(5):before { content: "Referred By"; }
		.responsiveTable td:nth-of-type(6):before { content: "Referred To"; }
		.responsiveTable td:nth-of-type(7):before { content: "Comments"; }
	
		
		
		.patientTable td:nth-of-type(1):before { content: "Select"; }
		.patientTable td:nth-of-type(2):before { content: "First Name"; }
		.patientTable td:nth-of-type(3):before { content: "Last Name"; }
		.patientTable td:nth-of-type(4):before { content: "Forms"; }
		.patientTable td:nth-of-type(5):before { content: "ID"; }
		/*.patientTable td:nth-of-type(6):before { content: "Age"; }*/
		.patientTable td:nth-of-type(6):before { content: "Gender"; }
		/*.patientTable td:nth-of-type(8):before { content: "Patient"; }*/
		.patientTable td:nth-of-type(7):before { content: "Phone"; }
		.patientTable td:nth-of-type(8):before { content: "Email"; }
		.patientTable td:nth-of-type(9):before { content: "Actions"; }
		
		.refferalTable td:nth-of-type(1):before { content: "Select"; }
		.refferalTable td:nth-of-type(2):before { content: "Date"; }
		.refferalTable td:nth-of-type(3):before { content: "Status"; }
		.refferalTable td:nth-of-type(4):before { content: "Referred By"; }
		.refferalTable td:nth-of-type(5):before { content: "Referred To"; }
		.refferalTable td:nth-of-type(6):before { content: "Comments"; }
		.refferalTable td:nth-of-type(7):before { content: "Actions"; }
		.comTable td:nth-of-type(1):before { content: "Select"; }
		.comTable td:nth-of-type(2):before { content: "Date"; }
		.comTable td:nth-of-type(3):before { content: "From"; }
		.comTable td:nth-of-type(4):before { content: "Message"; }
		.comTable td:nth-of-type(5):before { content: "Actions"; }
		
		
		
		
		
		.patientTableImport td:nth-of-type(1):before { content: "Profile Image"; }
		.patientTableImport td:nth-of-type(2):before { content: "Email"; }
		.patientTableImport td:nth-of-type(3):before { content: "First Name"; }
		.patientTableImport td:nth-of-type(4):before { content: "Middle Name"; }
		.patientTableImport td:nth-of-type(5):before { content: "Last Name"; }
		.patientTableImport td:nth-of-type(6):before { content: "Password"; }
		.patientTableImport td:nth-of-type(7):before { content: "Gender"; }
		.patientTableImport td:nth-of-type(8):before { content: "Date Of Birth"; }
		.patientTableImport td:nth-of-type(9):before { content: "Address"; }
		.patientTableImport td:nth-of-type(10):before { content: "City"; }
		.patientTableImport td:nth-of-type(11):before { content: "State"; }
		.patientTableImport td:nth-of-type(12):before { content: "Zip"; }
		.patientTableImport td:nth-of-type(13):before { content: "Country"; }
		.patientTableImport td:nth-of-type(14):before { content: "Phone"; }
		
		
		
		.patientContactList td:nth-of-type(1):before { content: "Select"; }
		.patientContactList td:nth-of-type(2):before { content: "Last Name"; }
		.patientContactList td:nth-of-type(3):before { content: "First Name"; }
		.patientContactList td:nth-of-type(4):before { content: "Address"; }
		.patientContactList td:nth-of-type(5):before { content: "City"; }
		.patientContactList td:nth-of-type(6):before { content: "State"; }
		.patientContactList td:nth-of-type(7):before { content: "Zip"; }
		.patientContactList td:nth-of-type(8):before { content: "ID"; }
		.patientContactList td:nth-of-type(9):before { content: "Gender"; }
		.patientContactList td:nth-of-type(10):before { content: "Phone"; }
		.patientContactList td:nth-of-type(11):before { content: "Email"; }
		
		
		
		.colleagueContactList td:nth-of-type(1):before { content: "Select"; }
		.colleagueContactList td:nth-of-type(2):before { content: "Last Name"; }
		.colleagueContactList td:nth-of-type(3):before { content: "First Name"; }
		.colleagueContactList td:nth-of-type(4):before { content: "Office"; }
		.colleagueContactList td:nth-of-type(5):before { content: "Address"; }
		.colleagueContactList td:nth-of-type(6):before { content: "City"; }
		.colleagueContactList td:nth-of-type(7):before { content: "State"; }
		.colleagueContactList td:nth-of-type(8):before { content: "Zip"; }
		.colleagueContactList td:nth-of-type(9):before { content: "Phone"; }
		.colleagueContactList td:nth-of-type(10):before { content: "Fax"; }
		.colleagueContactList td:nth-of-type(11):before { content: "Email"; }
		
		
		.patient_social_media td:nth-of-type(1):before { content: "Select"; }
		.patient_social_media td:nth-of-type(2):before { content: "Name"; }
		.patient_social_media td:nth-of-type(3):before { content: "Facebook"; }
		.patient_social_media td:nth-of-type(4):before { content: "LinkedIn"; }
		.patient_social_media td:nth-of-type(5):before { content: "Twitter"; }
		.patient_social_media td:nth-of-type(6):before { content: "Google"; }
		.patient_social_media td:nth-of-type(7):before { content: "YouTube"; }
		.patient_social_media td:nth-of-type(8):before { content: "Pinterest"; }
		.patient_social_media td:nth-of-type(9):before { content: "Blog"; }
		.patient_social_media td:nth-of-type(10):before { content: "Others"; }
		
		
		
		
		
		
		
		
		
		
		
		
		
		ul.patient_info .second ul.list.paddingleft { margin-left:0px !important; padding-left:0px !important; }
		
}
	

.second ul.list.paddingleft { margin-left:0px !important; padding-left:15px !important; }
.second ul.list.paddingleft li { padding-left:24px; position:relative; }
.second ul.list.paddingleft li i { position:absolute; left:0px; top:3px; }
.margintopm1 { margin-top:-1px !important; }
.borderbtmn { border-bottom:none !important; }
.margintop10 { margin-top:10px !important; }
.message_content img { max-width:100%; height:auto; }

.scrollup {
    background: url("../images/icon_top.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    bottom: 120px;
    display: none;
    height: 40px;
    position: fixed;
    right: 10%;
    text-indent: -9999px;
    width: 40px;
    z-index: 9999; bottom:20px;
}

/*Tabbed Form Start*/
.tabbed_form { float:left; width:100%; }
.tabbed_form h5 { color:#0890c4; font-size:22px; text-transform:uppercase; margin:20px 0px 0px 0px; padding:0px; font-weight:bold; float:left; width:100%; }
.tabbed_form h5 .hdng_rgt { float:right; display:inline-block; }
.tabbed_form h5 .hdng_rgt .req-red { color:red; font-size:14px; font-weight:normal; font-family: Helvetica, Arial, sans-serif; text-transform:none; }
.tabbed_form .tab_links { float:left; width:100%; list-style:none; margin:0px; padding:10px 0px;}
.tabbed_form .tab_links li { float:left; margin:0px; padding:0px; text-align:center; padding:0px 20px 0px 0px; width:25%; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;}
.tabbed_form .tab_links li a { position:relative; text-decoration:none; font-size:20px; height:42px; line-height:42px; background:#fff; display:block; font-weight:normal; color:#b1bcce; border:1px solid #b1bcce; border-right:none; border-left-width:0px; }
.tabbed_form .tab_links li a.firsttl {border-left-width:1px !important; border-left-style:solid;}
.tabbed_form .tab_links li a:before { position:absolute; left:-15px; top:-1px; content:"";  width: 15px; height: 44px; background-image:url(../images/inactive-arrowb.png); z-index:1;}
.tabbed_form .tab_links li a:after { position:absolute; right:-15px; top:-2px; content:""; width: 15px; height: 44px; background-image:url(../images/inactive-arrow.png); z-index:2; }
.tabbed_form .tab_links li a.firsttl:before { background-image:none !important; }
.tabbed_form .tab_links li a.active { color:#0890C4; background:#fff; border:1px solid #0890c4; border-right-width:0px; border-left-width:0px;  }
.tabbed_form .tab_links li a.active:before { width: 15px; height: 44px; background-image:url(../images/active-arrowb.png); }
.tabbed_form .tab_links li a.active:after { width: 15px; height: 44px; background-image:url(../images/active-arrow.png); top:-1px;  }
.tabbed_form_content { list-style:none; width:100%; float:left; border-top:1px solid #cbcaca; margin:15px 0px 0px 0px; }
.tabbed_form_content li { float:left; width:100%; border-bottom:1px solid #cbcaca; }
.tabbed_form_content li li { border: medium none; }
.tabbed_form_content li label { display:block; float:left; color:#515152; font-size:14px; padding:18px 0px 5px 0px; }
.tabbed_form_content li label span.required { color:red; }
.tabbed_form_content li .grey_frmbg { width:60%; float:right; background:#eee; padding:10px 10px; }
.tabbed_form_content li .grey_frmbg input[type="checkbox"]{	margin:10px 0; width:auto!important;}
.tabbed_form_content li > .grey_frmbg > input,.tabbed_form_content li > .grey_frmbg > select { width:100%; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; border:none; }
.tabbed_form_content li > .grey_frmbg > textarea { width:100%; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; border:none; }
.skip_btn { float:right; width:94px; height:25px; margin-left:10px; background:url(../images/buttons-sprites.png) no-repeat -215px -427px; }
.frm_smt_btn { float:left; width:119px; height:39px; float:left; clear:both; margin-top:20px; background:url(../images/submit_btn.jpg) no-repeat; border:none; display:block; cursor:pointer; }

.grey_frmbg_check { width:32px; height:32px; padding:17px 17px 0px 0px; background:#eee; float:right; }
.grey_frmbg_check input { float:right; }
.subtab_frm { width:100%; max-width:980px; float:left; clear:both; }
.subtab_frm > li { float:left; width:33.33%; padding:40px 40px 40px 0px;box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; border:none;  }
.subtab_frm li ul { width:100%; }
.subtab_frm li ul li { width:100%; padding:0px 50px 0px 0px; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; position:relative; }
.subtab_frm li ul li .grey_frmbg_check { position:absolute; right:0px; top:0px; }
.subtab_frm li ul li label { width:100%; height:49px; line-height:49px; padding:0px;}
.bgw { background: #fff !important; float: right; font-size: 18px; font-weight: bold; padding: 10px 0 !important; position: relative; right: -50px; text-transform: uppercase; text-align:center; color:#0890c4 !important; width: 49px !important; }
.bgw1 { background: #fff !important; float: right; font-size: 18px; font-weight: bold; padding: 10px 0 !important; position: relative; right: 0px; text-transform: uppercase; text-align:center; color:#0890c4 !important; width: 49px !important; height:20px; }
.brdrnone { border:none !important; }

.insid_tab_content .tabbed_form_content { margin-top:0px; }
.inside_tab_links > li { border: 1px solid #CBCACA; border-bottom:none; float: left; margin: 10px 5px 0px 0px; padding: 0px;}
.inside_tab_links > li > a { color:#b1bcce;  padding: 10px; display:block; text-decoration:none; }
.inside_tab_links > li.active > a { background:#0890c4; color:#fff; }
.inside_tab_links > li.active { border:1px solid #0890c4; border-bottom:none; }
.inside_lbl { padding:0px 10px 0px 0px !important; }
.patient_forms a { text-decoration:none; }

/*Tabbed Form End*/

.table_data .col1, .table_data .col2, .table_data .col3, .table_data .col4, .table_data .col5, .table_data .col6, .table_data .col7, .table_data .col8, .table_data .col9, .table_data .col10 { box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; }
#notifications .col4 { width:45%; }
.info .heading { margin:0px; padding:0px 0px 5px 0px; line-height:20px; font-size:20px; }
.topbrdr { border-top:1px solid #E0E0E0 !important; }
.frmSendEmail,.frmSendRefferal,.frmdltbtn,.frmedtbtn,.frmreferpatients { background:url("../images/all-buttons.png") no-repeat; display:block; width:102px; height:27px; margin:0px 0px 5px 0px; }
.frmSendEmail { background-position: -391px -304px; }
.frmSendRefferal { background-position: -391px -342px; width:124px; }
.frmreferpatients { background-position: -393px -971px !important; width:124px; }
.frmdltbtn { background-position: -391px -38px; width:82px; }
.frmedtbtn { background-position: -391px -190px; width:66px; }

.inbox_icons { width:auto; padding:0px 0px 15px 0px; float: right; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; }
.inbox_icons a { float: left; margin: 15px 0px 0px 10px;}
.inboxReply,.inboxFlagMessage,.inboxArchives,.inboxFolder,.inboxCompose,.inboxDltMsg { background:url("../images/all-buttons.png") no-repeat; display:block; width:102px; height:27px;  margin-bottom:5px;}
.inboxReply { background-position: -391px 0px; width:78px; }
.inboxFlagMessage {background-position: -391px -152px; width:126px; }
.inboxArchives {background-position: -392px -683px; width:86px; }
.inboxFolder {background-position: -392px -721px; width:80px;}
.inboxCompose {background-position: -391px -266px; width:100px;}
.inboxDltMsg { background-position: -391px -38px; width:82px; }
.fullwidthpop ul li { width:100% !important; }
.grey_slide_down { width:100%; margin:0px; padding:0px; list-style:none; background:#eee; float:left;  }



/*............20-08-2014...................*/

.patient_searchbar input[type="text"]{width:100%; height:auto; border:none; background:url(../images/search-icon.jpg) 15px center no-repeat #fff; font-size:22px; color:#cdcdcd; box-sizing:border-box; padding:17px 0 17px 45px; border:1px solid #ddd;}

#sendReferral{ max-width:800px;  }
#sendReferral .search_listing{ margin-top:0px; height:260px; overflow-y:scroll; }
#sendReferral .search_listing li{ width:33%;  }
.frm_smt_btn_2{ margin:0px;}

#add_doctor_popup{ max-width:800px;  }
#add_doctor_popup .search_listing{ margin-top:0px; height:305px; overflow-y:scroll; }
#add_doctor_popup .search_listing li{ width:50%;  }
.search_btn_popup { background:url(../images/search_btn.jpg) no-repeat left top; width:88px; height:35px; position:absolute; right:10px; margin-top:15px; }

.export_record_patient { background:url("../images/all-buttons.png") no-repeat -393px -1008px; width:176px;  height:40px;}

.upload_list{ width:22%; height:auto; display:block; border:1px solid #dcdcdc; display:inline-block; margin:0 10px 10px 0; position:relative;}
.upload_list .upload_listbox{ width:100%; height:auto; display:inline-block;}
.upload_list .upload_listbox_selectbox{width:100%; height:auto; display:inline-block;}
.upload_list .upload_img{ display:block; text-align:center; margin:20px 0 20px 0;}
.upload_list .upload_desc{display:block; background-color:#f5f5f5; padding:10px 0 10px 10px;}
.buttons_panel a{ display:inline-block; margin:10px 0 6px 10px;}
.export_drp a { background:none; padding-left:10px;}
.export_drp { padding:10px;}
.upload_listbox .MemberLoginDropDown{ margin:10px 0 0 10px; max-width:280px;}
.export_record_list ul li{ width:100%}

.checkbox_patient{ position:absolute; right:10px;}
input.invite_email1 {
    background: url("../images/all-buttons.png") no-repeat 0px -811px;
    display: inline-block;
    height: 48px;
    text-indent: -999em;
    width: 335px;
}


.upload_btn_large, .next_step_large, .print_btn, .finish_btn, .submit_new_btn, .add_dentist_btn{background:url(../images/large_button_admin.png) 1000px 1000px no-repeat;}
.upload_btn_large{width:149px; height:40px; background-position: 0 0;}
.next_step_large{width:149px; height:40px; background-position: 0 -48px;}
.print_btn{width:88px; height:40px; background-position: 0 -96px;}
.finish_btn{width:111px; height:40px; background-position: 0 -143px;}
h5.border_bottom{ border-bottom:1px solid #ddd; padding:0 0 10px 0;}
.bottom_panel_btn{ width:100%; padding:80px 0 0 0;}
.message_text_red{ float:left; color:#F00}
.right_btn{ float:right;}
.match_field .grey_frmbg{ width:60%!important;}

ul.importData_form > li{ width:48%; }

.message_icon_import{background:url(../images/message_location.png) no-repeat left top; width:24px; height:18px; display:inline-block; text-align:center }
.location_icon_import{background:url(../images/message_location.png) no-repeat left -29px; width:24px; height:22px; display:inline-block; text-align:center }

.message_icon_import, .location_icon_import { position:relative;  }
.tooltip_import { width:auto; height:auto; padding:5px; background:#DDEEFB; border-radius:5px; color:#0691C5; position:absolute; display:none; font-size:12px; text-align:center; left:-32px; top:-37px; box-shadow:0px 1px 2px 0px #3f89c1; white-space:nowrap; }
.tooltip_import:after { width:auto; height:auto; background:url(../images/tool-tip.png) no-repeat; position:absolute; bottom:-8px; left:36px; display:block; content:""; }
block_data{display:block; text-align:center; margin-right:0px;}


@media only screen and (max-width: 1024px) and (orientation:landscape){

}


@media only screen and (max-width: 768px) and (orientation:portrait){

}


@media only screen and (max-width: 800px){

.search_expnd{ float:none!important; display:inline-block; text-align:center; width:100%; padding-left:60px; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; }
.search_expnd .sb-search { width:90%; min-width:90% !important; text-align:left; float:none; margin:0 auto; }
.utility_links{ margin:25px 5px 0;}
footer{ margin-left:0px; margin:0px!important; padding:0px!important;}
.dashboard_info{ width:100%;}
.people_list{width:100%;}
.info_sections{ margin-left:0px!important; padding-right:0px!important;}
.invitations .invite_box{ margin:0 0 25px 0;}
.dashboard_info .mainBox{ margin-right:0px; margin-left:0px; width:49%; padding:0px;}
#notifications{ margin-right:0px;}
.invite_box input[type="text"]{ width:100%; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; }
#notifications .col1{ width:30%;}
#notifications .col2 { width:20%;}
#notifications .col3{ width:10%;}
.utility_links{ clear:both!important;  float:none!important;  display:block; text-align:center; z-index:1; margin:0px; padding:20px 0 10px 60px; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;  -webkit-box-sizing:border-box; -khtml-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; padding-left:60px;}
.utility_links li{ display:inline-block; float:none!important;}
.content{ margin-top:0px;}
.headerbg{ height:60px; border-bottom:1px solid #90bcdd; background:url(../images/header-bg.png) left top repeat-x; position:relative; width:100%; z-index:3;}
.tool-container.quick_links{ margin-left:-10px!important; width:400px!important;}
.tool-container.quick_links .arrow{ left:50%!important; }
.tool-container.tool-bottom .arrow {border-color:transparent transparent #fff; left: 50%!important; }
.sb-search{ min-width:100%!important; overflow:auto; border:1px solid #ccc; padding:10px; display:block; height:46px!important; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;  -webkit-box-sizing:border-box; -khtml-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box;}
header{ height:auto; border:0px; display:block; text-align:center;}

input.sb-search-input[type="text"]{ font-size:16px!important;}
input.sb-search-input[type="text"]{ left:0px; padding-left:11px!important;}

ul.dual > li{ padding-left:20px;}
ul.form_listing li > label{ padding:0 0 0px 0;}
ul.backend_dashboard li { width:30%; }
.backend_dashboard { text-align:center; }
.sb-search .sb-icon-search span { border-right:none !important; }
.content_box { margin-left:60px; }
.list_panel_dashboard ul li { float:left; width:100%; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;  }

.responsiveTable td,.responsiveTable th,.patientTable td,.patientTable th,.refferalTable th:nth-child(7),.refferalTable td:nth-child(7), .comTable td:nth-child(5),.comTable th:nth-child(5) { 
		padding-left: 40%; 
		 text-align:left;  width:60%;  word-spacing: 0px; word-break:break-all;

	}
	

.people_list{width:100%; float:left;}

.upload_list{ width:45%; height:auto; display:block;  display:inline-block; margin:0 10px 13px 0;}
block_data{display:block; text-align:left; margin-right:0px;}
}


@media only screen and (max-width: 768px){
	
footer ul li a{font-size:14px; color:#fff; text-decoration:none; display:block; padding:25px 10px; }
.utility_links li.search_expnd{ width:75%!important; border:1px solid #ccc; margin:20px 0 0 0; float:right;}
.content{ margin-top:0px;}

#notifications .col1, #notifications .col2, #notifications .col3{width:40%; vertical-align:top;}
.dashboard_info .mainBox{ width:100%;}
.invitations .invite_box{ text-align:center;}
.invite_box .invite_email{ width:263px !important; float:none!important; display:inline-block; text-align:center;  }
.invite_box input[type="text"]{ display:inline-block; float:none!important; width:80%; margin-bottom:8px;}
.content_base{padding:10px 20px 0; }
.referral_email{width:264px; float:none!important; display:inline-block; text-align:center; }

footer{ margin:20px 0 0 0;}
footer ul{ text-align:center; margin:0px!important; border:0px; padding:0 0 20px 0; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;  }
footer ul li{ border-bottom:1px solid #11a3db; padding:0px!important; display:inline-block;  vertical-align:middle; width:50%;  margin: 0px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
footer ul li a{ border-bottom:1px solid #057ca9; }
footer ul li{ border-right:1px solid #057ca9;}
footer ul li a{ border-right:1px solid #11a3db;}
footer ul li:nth-child(even){ border-left:none; border-right:none; }
.help_support{ border-bottom:0px;}
.inbox_icons{ float:none;}
.search_main_div{ padding-left:60px;  }
.searchbar{ float:none!important; width:90%; border:1px solid #CCC; display:inline-block; clear:both; margin:30px 0 0 0; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;  -webkit-box-sizing:border-box; -khtml-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }
.searchbar input[type="text"]{ padding-top:10px; padding-bottom:10px;}
header{ height:auto; border:0px;}
.content_box{ margin-left:60px;}
.message_detail{ display:none;}
.message_panel{ width:100%;}
.searchbar input[type="text"]{ width:85%; float:left;}
.message_detail { clear:both; width:100%; position:relative; display:block !important; margin:0px; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;  -webkit-box-sizing:border-box; -khtml-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }
.message_panel { }
.inbox_icons { clear:both; }
.dataList, .flex-direction-nav li {
    -moz-box-sizing: border-box;
    width: 50% !important;
}

.slides{ height:300px !important}

}




@media (min-width:479px) and (max-width: 639px){
	
	.dataList { width:100% !important; }
	.table_data h5 span.buttons input {
    margin: 5px 5px 0px 0px !important;
	float:left;
	clear:left;
}
	span.buttons { width:100% !important; }
.table_container .table_data h4 input { float:none; margin-top:5px; }	
	
}



@media only screen and (max-width: 568px) {

.breadcrumb_home{ margin-left:30px;}
.list_panel_dashboard ul li { width:100%; }
.MemberLoginDropDown{ width:89%!important;}
.MemberLoginDropDown .buttons { display:block; text-align:left;}
.MemberLoginDropDown .buttons > *{ display:inline-block; text-align:left;}
.search_main_div{ padding-left:60px;}
.searchbar{ float:none!important; width:90%; border:1px solid #CCC; display:inline-block; clear:both; margin:10px 0 0 0; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;  -webkit-box-sizing:border-box; -khtml-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }
.searchbar input[type="text"]{width:70%!important; padding:10px 15px 10px 45px; float:left;}
.table_container .table_data h4 input { float:none;  margin-top:5px;}
.upload_list{ width:45%; height:auto; display:block; border-left:0px;  display:inline-block; margin:0 10px 13px 0;}
.export_record_list ul li{ width:100%}
.right_btn{ margin-top:10px;}
}


@media only screen and (max-width: 480px) {

.invite_box input[type="text"]{ margin-bottom:10px;}
.content_base{ display:block; margin:0 0 20px 0;}
footer{ margin:20px 0 0 0; padding:0 0 20px 0;}
footer ul{ text-align:center; padding:0px 0 20px 0!important; margin:0px!important; border:0px; font-size:0px; }
footer ul li{ border-bottom:1px solid #11a3db; padding:0px!important; display:inline-block; width:50%;}
footer ul li a{ border-bottom:1px solid #057ca9; }
footer ul li:nth-child(5){ border-right:1px solid #057ca9;}
footer ul li a:nth-child(5){ border-right:1px solid #11a3db;}
.help_support{background:none; display:inline-block; padding:20px;}
.help_support a{ padding:10px;}
.support{ margin-left:0px;}
.support a{ padding:10px;}

.dashboard_sections{ padding:0px;}
.tool-container.quick_links {margin-left: -10px !important;width: 200px !important;z-index: 99999 !important;}

.tool-container.quick_links ul li{ width:100%!important; clear:both;}
.tool-items{width:100%; }
.tool-items ul{ width:100%; }
.tool-container.quick_links ul li h2.title{ width:100%;}
.tool-container.tool-bottom .arrow {border-color:transparent transparent #fff; left: 80%!important; }
input[type="text"]:hover, textarea:hover, select:hover, input[type="text"]:focus, textarea:focus, select:focus{ box-shadow:none!important;}
span.buttons {  text-align:left!important; width: 100%;}
.help_support{ width:100%!important;}
.search_listing > li{ width:100%!important;}
/*.search_expnd{ float:none!important; display:inline-block; width:75%;}*/
.btn_holder { width:255px !important; }
.upload_list_colleagues { margin-top:10px; float:left; }
.MemberLoginDropDown ul.check_listing > li{width:100% !important; margin:5px 0 0 0;}
ul.form_listing li .fluid_cont{ width:100%;}
#accordion-container{ width:100%;}
.dataList { width:100%!important;}
.flex-direction-nav li{}
/*ul.form_listing li:nth-child(4) > label{ width:0px!important;}*/
.slides{ height:548px!important}
header .logo{ width:202px; }
.mainBox .list_panel, .people_list .list_panel_dashboard{ min-height:inherit;}
.message_detail ul.list li { width:100%;}
.message_detail ul.list li > label{ width:100%; padding:0 0 10px 0;}
.display_div{ display:none;}
.user_details .row a.edit, .user_info a.edit{ top:auto;bottom:10px; }
.user_info{ padding-bottom:40px;}
.user_info ul.list li{ font-size:16px;}
.data .info h3{ font-size:17px;}
.info .heading{ line-height:23px;} 
.user_details .title{ padding-bottom:0px!important;}
.user_details .contact_box{ padding-bottom:40px; padding-top:0px;}
.border_grey{ border:0px!important;}
.user_details .details{ padding-left:15px!important;}
.social_media{ margin-left:0px; padding:0 0 40px 0;}
.user_details .row{ padding-bottom:10px;}
.user_details .contact_box{padding-left:0px;}
ul.list li{ font-size:14px;}
.details p{ font-size:14px; color:#666; padding-bottom:10px;}
.responsiveTable td a, .patientTable td a, .refferalTable td a, .comTable td a, .patientContactList td a, .patientContactList td a, .colleagueContactList td a, .patient_social_media td a{ text-align:left; display:block; word-wrap: break-word;}
.MemberLoginDropDown .buttons > *{ margin-left:0px; margin-right:5px;}
.details .contact_box:nth-child(1){ margin:0px; padding:0px;}
.contact_box .list{ padding-bottom:40px;}
.contact_box .list2{ padding-bottom:10px;}
.details .contact_box:nth-child(2){ margin:0px; padding-bottom:10px;}
.dashboard_links{ margin-top:10px;}
ul.dashboard_tour li{ width:335px;}
ul.dashboard_tour li a span{width:335px;}

.upload_list{ width:45%; height:auto; display:block; border:1px solid #dcdcdc; display:inline-block; margin:0 10px 13px 0;}
.speciality .loginbtn{ font-size:16px;}
.upload_listbox .MemberLoginDropDown{ margin:10px 0 0 10px; max-width:180px;  }

}

@media only screen and (max-width: 320px) {

.invite_box input[type="text"]{ display:inline-block; float:none!important; width:99%;}
.search_colleague{ width:280px!important; }
.invite_email{ width:280px!important;}
.relative span.buttons { float:left; } 
.profile_info a{font-size:13px;}
.search_main_div{ padding-left:0px;}
.utility_links{ padding-left:0px!important;}
.utility_links li:nth-child(1){ border-right:1px solid #D6D6D6}
.utility_links li:nth-child(3){ border-right:0px}
.content_base{ margin-left:0px!important;}
ul.dashboard_tour li{ width:280px;}
ul.dashboard_tour li a span{width:280px;}
.upload_list{ width:100%; height:auto; display:block; border:1px solid #dcdcdc; display:inline-block; margin:0 0 13px 0;}
.upload_listbox .MemberLoginDropDown{ margin:10px 0 0 10px; max-width:225px;}
}

.video_icon {
    background: url("../images/video-icon.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    display: inline-block;
    padding: 0 0 0 20px;
}

input.invite_email1 {
    background: url("../images/all-buttons.png") no-repeat 0px -811px;
    display: inline-block;
    height: 48px;
    text-indent: -999em;
    width: 280px;
}
.add_patients {background-position: -376px -162px; height: 38px; width: 140px; display:block;}
.snd_msg_sltd,.export_patient_btn,.import_patient_btn { width:335px; height:47px; background:url(../images/patient-btns.png) no-repeat; display:block; float:left; margin:0px 20px 10px 0px !important; }
.snd_msg_sltd { background-position:0px 0px; }
.export_patient_btn {background-position:0px -52px;}
.import_patient_btn {background-position:0px -103px;}
.buttons_new { position:relative; }
h5.hdng_brdr { border-bottom: 1px solid #BBB; margin: 0 0 20px; padding: 10px 0; width: 100%; display:block; }
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	input.invite_email1 {
    background-image: url("../images/all-buttons@2x.png");
	background-position:0px -812px;
	background-size: 588px 1264px;
}
	
	ul.dashboard_tour li span{display:block; width:336px; height:47px; margin:0 auto; background:url(../images/all-buttons@2x.png) no-repeat; text-indent:-999em; background-size:588px 1264px; }
	.invite_email, .referral_email, .send_referral, .send_btn, .cancel_btn, .view_btn, .save_btn, .add_note, .message_patient, .refer_patient, .add_files, .add_patientz, .remove_btn, .search_colleague, .send_to_selected, .delete_selected, .delete, .export_report, .secure_msg, .frwd_referral, .prnt_referral, .print_refrl, .search_btn, .add_dentist, .check_all, .uncheck_all, .auto_apply, .send_secure_message, .add_new_patient, .update_all_forms, .print_all_forms, .upload_list_colleagues, .export_patient, .import_patient, .add_patients {background:url("../images/buttons-sprites@2x.png") 100px 100px no-repeat; background-size:698px 470px;}
.invite_email{ background-position: -10px -10px;}
.referral_email{ background-position: -356px -10px;}
.send_referral{background-position: 0 -64px;}
.send_btn{background-position:-140px -64px;}
.cancel_btn{background-position:-249px -64px;}
.view_btn{background-position:-376px -64px;}
.save_btn{background-position:-467px -64px;}
.add_note{background-position:0 -114px;}
.message_patient{background-position:-122px -114px;}
.refer_patient{background-position:-118px -153px;}
.add_files{background-position:0 -161px;}
.add_patientz{background-position:-376px -162px;}
.remove_btn{background-position:-529px -115px;}
.search_colleague{background-position:0 -210px;}
.send_to_selected{background-position:0 -265px;}
.delete_selected{background-position:0 -304px;}
.delete{background-position:-326px -343px;}
.export_report{background-position:0 -343px;}
.send_secure_message{background-position:-0 -265px;}
.export_patient{background-position:-316px -408px;}
.import_patient{background-position:-467px -408px;}
.secure_msg{background-position:-322px -210px;}
.frwd_referral{background-position:-311px -249px;}
.prnt_referral{background-position:-311px -299px;}
.print_refrl{background-position:-158px -304px;}
.search_btn{background-position:-151px -343px;}
.add_dentist{background-position:-521px -210px;}
.check_all{background-position:-501px -248px;}
.uncheck_all{background-position:-501px -285px;}
.auto_apply{background-position:-501px -322px;}
.update_all_forms{background-position:0 -392px;}
.print_all_forms{background-position:-149px -392px;}
.upload_list_colleagues{background-position:0px -427px;}
.toggle_links li i,.utility_links li i { background: url("../images/quicklink-sprites@2x.png") no-repeat; display: inline-block; height: 28px; margin: 8px 0; text-indent: -9999px;    vertical-align: middle; width: 28px; background-size:200px 35px;
}
.search_expnd span {
    background: url("../images/quicklink-sprites@2x.png") no-repeat; background-size:200px 35px; border-right: 1px solid #D6D6D6; display: inline-block; height: 38px; margin: 2px 0; padding: 2px; text-indent: -9999px; vertical-align: middle; width: 35px;}
.utility_links li i.profile{background: url("../images/quicklink-sprites@2x.png") no-repeat; background-size:200px 35px; background-position:-129px -8px; width:16px; height:16px; margin-left:7px; }

/* Icons listing */
.arrowbttm, i.reply, i.delete, i.profile, i.patient, i.sclubs, i.colleagues, i.pknow, i.inbox, i.npatients, i.rreceived, i.rsent, i.supprt, i.phone, i.accord, i.attach_files, i.attach_patient, i.like, i.comments, i.notifics, i.address, i.wphone, i.email, i.phone2, i.check, i.edit, i.fax, i.mail, i.referral, i.close, i.attach, i.flag_msg, i.archive, i.folders,a i.notes, i.back, i.sort, i.history, i.send_message, i.print, i.edit_page {text-indent:-9999px; display:inline-block; background-image:url(../images/icon-sprites@2x.png); background-size:600px 320px; vertical-align:middle;}
i.reply{background-position:-224px -10px; width:30px; height:26px;}
i.delete{background-position:-269px -10px; width:30px; height:26px;}
i.profile{background-position:-10px -10px; width:28px; height:20px;}
i.patient{background-position:-42px -8px; width:28px; height:20px;}
i.sclubs{background-position:-73px -10px; width:28px; height:20px;}
i.colleagues{background-position:-104px -7px; width:28px; height:20px;}
i.pknow{background-position:-136px -10px; width:28px; height:20px;}
i.inbox{background-position:-10px -174px; width:25px; height:18px; }
i.npatients{background-position:-42px -174px; width:28px; height:18px; }
i.rreceived{background-position:-73px -174px; width:28px; height:18px; }
i.rsent{background-position:-104px -174px; width:28px; height:18px; }
i.supprt{background-position:-428px -54px; width:33px; height:33px; vertical-align:sub;}
i.phone{background-position:-136px -175px; width:20px; height:20px; margin-right:7px;}
a.prev{width:50px; height:50px; background-image:url(../images/icon-sprites@2x.png); background-position:-428px -4px; background-size:600px 320px; display:block; float:left;}
a.next{width:50px; height:50px; background-image:url(../images/icon-sprites@2x.png); background-position:-485px -4px; background-size:600px 320px;  display:block; float:right;}
i.accord{width:26px; height:26px; background-position:-224px -46px; margin:0 20px 0 5px;}
i.attach_files{width:23px; height:23px; background-position:-306px -46px; margin-right:5px; }
i.attach_patient{width:23px; height:23px; background-position:-336px -46px; margin-right:5px; }
i.like{width:17px; height:17px; background-position:-170px -175px; margin-right:12px;}
i.comments{width:17px; height:17px; background-position:-197px -175px; margin-right:12px;}
i.notifics{width:28px; height:20px; background-position:-10px -36px;}
i.address{width:22px; height:22px; margin-right:5px; background-position:-10px -145px;}
i.wphone{width:22px; height:22px; margin-right:5px; background-position:-42px -145px;}
i.email{width:22px; height:22px; margin-right:5px; background-position:-74px -145px;}
i.phone2{background-position:-104px -145px; width:20px; height:23px;}
i.check{background-position:-136px -147px; width:18px; height:18px; margin-right:5px;}
i.edit{background-position:-170px -147px; width:20px; height:20px; margin-right:5px;}
i.fax{background-position:-197px -147px; width:18px; height:22px; margin-right:5px;}
i.mail{background-position:-224px -87px; width:30px; height:26px;}
i.referral{background-position:-269px -87px; width:30px; height:26px;}
i.close{background-position:-224px -144px; width:15px; height:15px;}
.arrowbttm{width:30px; height:17px; background-position:-224px -175px;}
i.attach{background-position:-170px -10px; width:18px; height:19px; margin-left:10px;}
i.flag_msg{background-position:-306px -87px; width:30px; height:26px;}
i.archive{background-position:-344px -87px; width:30px; height:26px;}
i.folders{background-position:-382px -87px; width:30px; height:26px;}
i.notes{background-position:-420px -87px; width:30px; height:26px;}
i.back{background-position:-39px -31px; width:28px; height:28px; border-right:1px solid #eae9e9;}
i.sort{background-position:-72px -32px; width:28px; height:28px;}
i.history{background-position:-270px -200px; width:28px; height:28px;}

i.send_message{background-position:-311px -200px; width:34px; height:28px;}
i.print{background-position:-363px -200px; width:30px; height:27px;}
i.edit_page{background-position:-410px -200px; width:30px; height:27px;}
.breadcrumb li{display:inline-block; *display:inline; vertical-align:top; padding-right:20px; background:url(../images/bullet@2x.gif) right center no-repeat; background-size:12px 13px;}
.sortable {padding-right:10px; background:url(../images/sorting-arrows@2x.png) no-repeat right center; background-size:9px 9px; color:#515152; }
.list_panel ul li{background: url(../images/bullet@2x.png) no-repeat 10px 10px; background-size:16px 16px; border-top: 1px solid #D0D0D0; clear: both; line-height: 20px; list-style: none outside none; margin: 0; padding: 7px 0 7px 32px;}
.send_invite_btn{ background:url(../images/send_invite_btn@2x.png) no-repeat 0 0; background-size:136px 39px; width:136px; height:39px;  border:0px; margin:10px auto; display:block; cursor:pointer;}

/*  Search Colleagues Page  */
.search_fields{font-size:0;}
.search_fields input[type="text"]{width:14.8%; font-size:18px; padding-left:38px; margin:15px 20px 0 0; background:url(../images/icon-sprites@2x.png) 100px 100px no-repeat; background-size:600px 320px;}
.search_fields input.name{background-position:-544px 0;}
.search_fields input.email{background-position:-544px -29px;}
.search_fields input.phone{background-position:-544px -60px;}
.search_fields input.school{background-position:-544px -94px;}
.search_fields input.assoc{background-position:-544px -128px;}
.speciality{display:block; *display:inline; width:18.7%; margin:15px 20px 0 0; vertical-align:top; position:relative;}
.speciality a{background:url(../images/icon-sprites@2x.png) -544px -163px no-repeat; background-size:600px 320px; display:block; position:relative; border: 1px solid #C2C2C2; color: #666666; padding:10px 10px 10px 38px; text-decoration:none; transition: all 0.3s ease-in-out 0s; font-size:18px; line-height:21px;}
.speciality a:hover{border: 1px solid #77C6FE; border-radius: 2px; box-shadow: 0 0 5px #C0C0C0;}
.speciality a:after{display:block; width:13px; height:7px; content:""; position:absolute; right:10px; top:18px; background: url(../images/icon-sprites@2x.png) -255px -145px no-repeat; background-size:600px 320px; }
.search_fields input.city{background-position:-544px -198px;}
.search_fields input.state{background-position:-544px -237px;}
.search_fields input.zip{background-position:-544px -275px;}
.search_btn {
	background: url(../images/buttons-sprites@2x.png) -16px -11px no-repeat !important; background-size:698px 478px !important; width: 257px !important;
}
.video_icon {
    background: url("../images/video-icon@2x.png") no-repeat scroll left center rgba(0, 0, 0, 0);
	background-size:14px 14px;
    display: inline-block;
    padding: 0 0 0 20px;
}
a.edit_profile {background: url(../images/edit_profile@2x.png) no-repeat scroll 6px center; background-size:13px 15px; padding:5px 10px 5px 25px;}
a.my_accnt{background:url(../images/my_account.png) 6px center no-repeat; padding:5px 10px 5px 25px;}
a.refrls_rcvd{background:url(../images/referrals_received.png) 4px center no-repeat;}
a.refrls_sent{background:url(../images/referrals_sent.png) 4px center no-repeat;}
a.search_collg{background:url(../images/search-collg.png) 4px center no-repeat;}
a.invite_collg{background:url(../images/invite_collg.png) 4px center no-repeat;}
a.accnt_settings{background:url(../images/settings_accnt@2x.png) 6px center no-repeat; background-size:10px 11px; padding:5px 10px 5px 25px;}
a.accnt_upgrade{background:url(../images/account-upgrade@2x.png) 6px center no-repeat; background-size:10px 10px; padding:5px 10px 5px 25px;}
a.logout{background:url(../images/logout@2x.png) #0991c5 6px center no-repeat; background-size:12px 13px; color:#fff; padding:5px 10px 5px 25px;}

.inboxReply, .inboxFlagMessage, .inboxArchives, .inboxFolder, .inboxCompose, .inboxDltMsg {
background: url("../images/all-buttons@2x.png") no-repeat;
background-size:588px 1264px;
display: block;
width: 102px;
height: 27px;
margin-bottom: 5px;
}

.inbox_icons a {
    float: left;
    margin: 15px 0 0 10px;
}

.inboxReply {
    background-position: -391px 0;
    width: 78px;
}
.inboxCompose {
background-position: -391px -266px;
width: 100px;
}
.inboxDltMsg {
background-position: -391px -38px;
width: 82px;
}
input.search_colleague {
width: 280px !important;
height: 48px;
background: url(../images/all-buttons@2x.png) no-repeat 0 0;
text-indent: -999em;
display: inline-block;
background-size:588px 1264px;
}
.buttons_holder .invite_email {
width: 280px !important;
height: 48px;
background: url(../images/all-buttons@2x.png) no-repeat !important;
text-indent: -999em;
display: inline-block;
background-size:588px 1264px !important;
background-position:0px -812px !important;
}
.frmSendEmail, .frmSendRefferal, .frmdltbtn {
background-image: url("../images/all-buttons@2x.png");
background-size:588px 1264px;

}
.invite_box input[type="text"] { background:url(../images/mail-icon@2x.png) 5px center no-repeat; background-size:31px 20px; }
input.invite_email1 {
	background-image: url("../images/all-buttons@2x.png") !important;
	background-size:588px 1264px !important;
}
.frm_smt_btn {
	background-image: url(../images/submit_btn@2x.png);
	background-size:119px 39px; 	
}
.add_patients {background-position: -364px -162px;}
.send_btn { background-position: -135px -64px; }
.tabbed_form .tab_links li a:before { background-image:url(../images/inactive-arrowb@2x.png);background-size:15px 44px; }
.tabbed_form .tab_links li a:after { background-image:url(../images/inactive-arrow@2x.png); background-size:15px 46px; }
.tabbed_form .tab_links li a.firsttl:before { background-image:none !important; }
.tabbed_form .tab_links li a.active:before { background-image:url(../images/active-arrowb@2x.png);background-size:15px 44px; }
.tabbed_form .tab_links li a.active:after { background-image:url(../images/active-arrow@2x.png);background-size:15px 44px; }
.skip_btn { background:url(../images/buttons-sprites@2x.png) no-repeat -215px -427px; background-size:720px 470px; }
ul.dashboard_tour li span.accnt_stngs { background-image:url(../images/acoount-settings-btn@2x.jpg); background-size:333px 47px; }
.snd_msg_sltd,.export_patient_btn,.import_patient_btn { background:url(../images/patient-btns@2x.png) no-repeat; background-size:335px 200px; }
.snd_msg_sltd { background-position:0px 0px; }
.export_patient_btn {background-position:0px -52px;}
.import_patient_btn {background-position:0px -103px;}
.frmedtbtn { background:url("../images/all-buttons@2x.png") no-repeat; background-size:588px 1264px; background-position: -391px -190px; }
.accnt_upgrade_icon span {background:url(../images/icon-sprites@2x.png) 0 -301px no-repeat !important; background-size:600px 320px !important;}
.account_type_btn { width:333px; height:47px; float:left; background:url(../images/acoount-settings-btn@2x.jpg) no-repeat !important; background-size:333px 47px !important; }
.basic_btn { width:335px; height:47px; float:left; background:url(../images/patient-btns@2x.png) no-repeat 0px -153px !important; background-size:335px 200px !important; }
.upgrade_account_btn { width:337px; height:47px; float:left; background:url(../images/all-buttons@2x.png) no-repeat 0px -406px !important; background-size:588px 1264px !important; }
.mfp-wrap[style] { top:100px !important; }
.frmreferpatients { background:url("../images/all-buttons@2x.png") no-repeat; background-size:588px 1264px !important; background-position: -393px -970px !important; }
}
a.heading_link { color:#17335C; float:left; display:block; text-decoration:none; position:relative; right:auto; top:auto; }
.ap_fix { width:100% !important; background-image:none !important; height:auto !important; float:left; clear:both; }
.margintop1 { margin-top:1px !important; }
.leftBlock { float:left; display:block; }
.rightBlock { float:right; display:block; }
input.invite_email1 {
    background: url("../images/all-buttons.png") no-repeat 0px -811px;
    display: inline-block;
    height: 48px;
    text-indent: -999em;
    width: 335px;
}
input.search_colleague { width: 335px !important; }
span.text_lineheight { display:block !important; }
.line_height20 { line-height:20px; }
.green_btn{ position:relative;  }
.tooltipc { width:80px; height:auto; padding:5px; background:#DDEEFB; border-radius:5px; color:#0691C5; position:absolute; display:none; font-size:12px; text-align:center; left:-32px; top:-37px; box-shadow:0px 1px 2px 0px #3f89c1; }
.tooltipc:after { width:13px; height:9px; background:url(../images/tool-tip.png) no-repeat; position:absolute; bottom:-8px; left:36px; display:block; content:""; }
.marginbottom20 { margin-bottom:20px !important; }
.form_left { float:left; }
.floatLeft { float:left !important; }
.form_listing .table-striped { margin-bottom:15px !important; }
.marginright15 {margin-right:15px !important}
.marginbottom0 { margin-bottom:0px !important; }
.marginLeft0 { margin-left:0px !important; }
.margintop20 { margin-top:20px; }
ul.topise label { padding-top:8px !important; }
.paddingtop7 { padding-top:8px !important; }
.paddingright0 { padding-right:0px !important; }
.white_gbdr { background:#F9F9F9; border:1px solid #ccc; }
}
#divPatientDetailsList .inner .table_data .patientTable tbody tr td {
    min-height: 18px;
}
.attachment_area{ width:100%;}
.attachment_area_img{ max-width:569px; width:100%; position:relative; margin:0 auto;}
.attachment_area_img img{ width:100%;}

