﻿@*@Model DentalFilesNew.Models.CreateAppointment*@
@using DentalFilesNew.Models
@for (int i = 0; i < Model.AppointmentDayViewList.Count; i++)
{
    if (Model.AppointmentDayViewList[i].IsOffDay == "N")
    {
        <div class="cantainer">
            <div class="row" style="width: 85.5%;border-bottom: 1px solid #ccc;margin-left: 0;">
                <div class="devboxleft">
                    @if (i == 0)
                    {
                        if (@Model.AppointmentDayViewList[i].IsTodayDate == true)
                        {
                    <div class="">
                        <div class="devlefttopbar" style="cursor:default;"><a href="#" style="cursor:default;"><i class="fa fa-chevron-up"></i> PREV DAY</a></div>
                    </div>
                        }
                        else
                        {
                    <div class="">
                        <div class="devlefttopbar"><a href="#" onclick="GetTimeslotGrid('@Model.PrevDate')"><i class="fa fa-chevron-up"></i> PREV DAY</a></div>
                    </div>
                        }
                    }
                    @if (@Model.AppointmentDayViewList[i].IsTodayDate == true)
                    {
                    <div class="rel-day">TODAY</div>
                    }
                    else
                    {
                    <div class="">&nbsp;</div>
                    }
                    <div class="week-day">@Model.AppointmentDayViewList[i].DayLable</div>
                    @*<div class="date">25 Mar</div>*@
                    @if (i == 2)
                    {
                    <div class="">
                        <div class="devleftbottombar" style="bottom: -136px;"><a href="#" onclick="GetTimeslotGrid('@Model.NextDate')"><i class="fa fa-chevron-down"></i> NEXT DAY</a></div>
                    </div>
                    }
                </div>
                @{
                    int cnts = 0;
                    int cnt = 0;
                    int notavalible = 0;
                    if (Model.AppointmentDayViewList[i].AppointmentTimeSlotViewlst.Count > 0)
                    {
                @Html.Raw("<div style='padding: 5px 0px 0px 3px;'>")
                        for (int j = 0; j < Model.AppointmentDayViewList[i].AppointmentTimeSlotViewlst.Count; j++)
                        {
                            if ((j + 1) == (cnts + 1))
                            {
                                cnts = j + 7;
                @Html.Raw("<div class='devboxright'>")
                            }
                            if (Model.AppointmentDayViewList[i].AppointmentTimeSlotViewlst[j].IsBookedTimeslot == AppointmentSetting.ApoointmentStatus.Booked.ToString())
                            {
                <span class="graydatebox" href="#">@Model.AppointmentDayViewList[i].AppointmentTimeSlotViewlst[j].TimeSlot</span>
                            }
                            else if (Model.AppointmentDayViewList[i].AppointmentTimeSlotViewlst[j].IsBookedTimeslot == AppointmentSetting.ApoointmentStatus.TimeveOver.ToString())
                            {
                <span class="book-text" href="#">@Model.AppointmentDayViewList[i].AppointmentTimeSlotViewlst[j].TimeSlot</span>
                            }
                            else if (Model.AppointmentDayViewList[i].AppointmentTimeSlotViewlst[j].IsBookedTimeslot == AppointmentSetting.ApoointmentStatus.NotAvailable.ToString())
                            {
                                notavalible++;
                            }
                            else
                            {
                <a class="devdatebox" href="javascript:;" id="TimeCheckBx_@i@j" onclick="BookAppointmentForPatientFn('@Model.AppointmentDayViewList[i].AppointmentTimeSlotViewlst[j].Date', '@Model.AppointmentDayViewList[i].AppointmentTimeSlotViewlst[j].ActullTime','@i@j');">@Model.AppointmentDayViewList[i].AppointmentTimeSlotViewlst[j].TimeSlot</a>
                            }
                            if ((j + 1) == (cnt + 7))
                            {
                                cnt = j + 1;
                @Html.Raw("</div>")
                            }
                        }
                        if (notavalible > 0)
                        {
                <div style="text-align:center;padding-top:11%;font-size:large">All time slots are booked for this day.</div>
                        }
                @Html.Raw("</div>")
                    }
                    else
                    {
                @Html.Raw("<div style='line-height:180px;'>No Appointment Available at moment</div>")
                    }
                }
            </div>
        </div>

                    }
                    else
                    {
                        <div class="cantainer">
                            <div class="row" style="width: 85.5%;border-bottom: 1px solid #ccc;margin-left: 0;">
                                <div class="devboxleft">
                                    @if (i == 0)
                    {
                        if (@Model.AppointmentDayViewList[i].IsTodayDate == true)
                        {
                                            <div class="">
                                                <div class="devlefttopbar" style="cursor:default;"><a href="#" style="cursor:default;"><i class="fa fa-chevron-up"></i> PREV DAY</a></div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="">
                                                <div class="devlefttopbar"><a href="#" onclick="GetTimeslotGrid('@Model.PrevDate')"><i class="fa fa-chevron-up"></i> PREV DAY</a></div>
                                            </div>
                                        }
                                    }
                                    @if (@Model.AppointmentDayViewList[i].IsTodayDate == true)
                    {
                                        <div class="rel-day">TODAY</div>
                                    }
                                    else
                                    {
                                        <div class="">&nbsp;</div>
                                    }
                                    <div class="week-day">@Model.AppointmentDayViewList[i].DayLable</div>
                                    @*<div class="date">25 Mar</div>*@
                                    @if (i == 2)
                    {
                                        <div class="">
                                            <div class="devleftbottombar" style="bottom: -136px;"><a href="#" onclick="GetTimeslotGrid('@Model.NextDate')"><i class="fa fa-chevron-down"></i> NEXT DAY</a></div>
                                        </div>
                                    }
                                </div>
                                @Html.Raw("<div>")
                                <div style="text-align:center;padding-top:11%;font-size:large">No time slot avaliable at moment</div>
                                @Html.Raw("</div>")
                            </div>
                        </div>
                        }
                    }
