﻿@*@Model DentalFilesNew.Models.CreateAppointment*@

<style>
    .custominputclass123 {
        border: 0 !important;
        outline: 0 !important;
        background: transparent !important;
        border-bottom: 1px solid #c2babc !important;
        box-shadow: 0 0 0 #c2babc !important;
        width: 99%;
        height: 32px !important;
    }
</style>


<link href="~/Content/Appointment/css/maxcdn.Bootstrap.css" rel="stylesheet" />
<link href="~/Content/Appointment/css/jquery.datetimepicker.css" rel="stylesheet" />
<link href="~/Content/Appointment/css/maxcdn.Bootstrapcdn.font-awesome.css" rel="stylesheet" />
<link href="~/Content/Appointment/css/newappointmentview.css" rel="stylesheet" />
<link href="~/Content/Appointment/css/appointmenttimeslot.css" rel="stylesheet" />
<link href="~/Content/Appointment/css/cercle.css" rel="stylesheet" />
<style>
    body {
        background-color: none !important;
        background: #f1f1f1 none repeat scroll 0 0 !important;
        color: #333;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 14px;
        line-height: 1.42857;
    }

    #logo_dental {
        float: left;
        margin-top: 0 !important;
    }

    .main_contentappointment {
        background: #fff none repeat scroll 0 0;
        border: 1px solid #cccccc;
        border-radius: 5px;
        float: left;
        height: auto;
        width: 969px;
    }

    .container {
        width: 1154px !important;
    }

    .tool-container.quick_links ul li {
        float: left;
    }
</style>
<div class="container">
    @Html.Hidden("DServiceId", (string)Model.ServiceId)
    @Html.Hidden("DDoctorId", (int)Model.DoctorId)
    @Html.Hidden("Servicelenght", (int)Model.Servicelenght)
    @Html.Hidden("ServiceCount", (int)Model.ServiceCount)
    <div class="row">

        <div class="col-md-6 col-border3" style="padding:22px !important; border-right:none !important; width:58%">
            <div class="row">
                <div id="no-more-tables">
                    <table class="col-md-12 table-bordered table-striped table-condensed cf">
                        <tbody>
                            <tr>
                                <td style="width:100px;"><div class=""><img src="@Model.DoctorImage" style="height:100px;" alt="@Model.DoctorImage" /></div></td>
                                <td data-title="Company" style="vertical-align:middle;">
                                    <span style="font-weight:bold;font-size:14px;">
                                        @Model.DoctorName
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <br />
            <div class="row">
                <h4>Service</h4>
                <p style="font-size: 16px !important;">@Model.ServiceType</p>
            </div>
        </div>
        <div class="col-md-3 col-border3" style="border-left:none !important;">
            <div id="NewCalander" style="margin-left:20px;">
            </div>
        </div>
    </div>
    <div id="loadtimeslotegrid" style="margin-left:-31px;">
    </div>
</div>
<div class="modal fade" id="bookappointmentpopup" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <style>
    </style>
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="removezindex();">
                    &times;
                </button>

                <h4 class="modal-title">
                    Book your appointment
                </h4>
            </div>

            <div class="modal-body">
                <form id="frmaddnote">
                    <table style="width:100%">
                        <tr>
                            <td>Add Note   </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" name="Note" id="idNote" value="" class="custominputclass123" />
                            </td>
                        </tr>
                    </table>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="removezindex();">
                    Close
                </button>

                <button type="button" class="btn btn-primary" onclick="sbmitfrmBookAppData();">
                    Book Appointment
                </button>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->

</div>

<form action="/" id="frmAppointmentBookingData" method="post">
    <input type="hidden" id="DoctorId" name="DoctorId" />
    <input type="hidden" id="AppointmentDate" name="AppointmentDate" />
    <input type="hidden" id="AppointmentTime" name="AppointmentTime" />
    <input type="hidden" id="ServiceTypeId" name="ServiceTypeId" />
    <input type="hidden" id="AppNote" name="AppNote" />
    <input type="hidden" id="ApptResourceId" name="ApptResourceId" />
</form>
@*<script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>*@
<script src="~/Content/Appointment/js/jquery.datetimepicker.full.js"></script>

<script>
    $(document).ready(function () {
        $("#frmaddnote").submit(function (e) {
            if ($("#idNote").val()) {
                sbmitfrmBookAppData();
            }
            else {
                e.preventDefault();
            }
        });
        $('#NewCalander').datetimepicker({
            inline: true,
            format: 'm-d-Y',
            timepicker: false,
            minDate: gettodaydate(),
            onChangeDateTime: function (dp, $input) {
                GetTimeslotGrid($input.val())
            }
        });

        GetTimeslotGrid('');
    })
    function gettodaydate() {
        var d = new Date();
        return (d.getMonth() + 1) + "-" + d.getDate() + "-" + d.getFullYear();
    }

    function GetTimeslotGrid(Startdate) {
        $("#loadtimeslotegrid").empty();
        var DoctorId = $("#DDoctorId").val();
        var ServiceId = $("#DServiceId").val();
        var TheatreId = GetDefaultOP(DoctorId);
        $("#loadtimeslotegrid").load(apiUrl + "/Appointment/AppointmentSlotGrid?DoctorId=" + DoctorId + "&ServiceId=" + ServiceId + "&StartDate=" + Startdate + "&TheatreId=" + TheatreId + "");

    }
    function GetDefaultOP(DoctorId) {
        var TheatreId = 0;
        $.ajaxSetup({ async: false });
        $.ajax({
            url: apiUrl + "/Appointment/GetDefaultOP?DoctorId=" + DoctorId,
            type: "GET",
            success: function (data) {
                if (data) {
                    TheatreId = data.id;
                    $("#ApptResourceId").val(TheatreId);
                }
            },
            error: function (data) {
                //alert("error while binding theatre.");
                swal({ title: "", text: 'Error while binding theater.', type: 'error' });
            }
        });
        $.ajaxSetup({ async: true });
        return TheatreId;
    }
    function BookAppointmentForPatientFn(Bdate, Btime, id) {

        //var serviceleth = parseInt($("#Servicelenght").val(),10);
        //var servicecount = parseInt($("#ServiceCount").val(),10);
        //var idno = parseInt(id, 10);

        //for (var i = 0; i < servicecount; i++) {
        //    var newcount = idno + i;
        //    alert(newcount);

        //    //alert($("#TimeCheckBx_" + (parseInt(id, 10)) + i).text());
        //}

        var DoctorId = $("#DDoctorId").val();
        var ServiceId = $("#DServiceId").val();
        $("a").removeClass("appointmentactivecls");
        $("#TimeCheckBx_" + id).addClass("appointmentactivecls");

        $("#DoctorId").val(DoctorId);
        $("#ServiceTypeId").val(ServiceId);
        $("#AppointmentDate").val(Bdate);
        $("#AppointmentTime").val(Btime);

        $(".xdsoft_label").css("z-index", "0");

        $('#bookappointmentpopup').modal('show');
        setTimeout(function () {
            $('#idNote').focus();
        }, 1000);

    }
    function removezindex() {
        setTimeout(function () {
            $(".xdsoft_label").css("z-index", "99999");
            $("#idNote").val('');
        }, 600)
    }
    function sbmitfrmBookAppData() {
        var check = $("#AppointmentDate").val();
        if (check == "") {
            //alert("Please select any time")
            swal({ title: "", text: 'Please select any time' });
            return false;
        }
        else {
            var retunflag = true;
            var frmdata = $("#frmAppointmentBookingData").serialize();
            $.ajaxSetup({ async: false });
            $.ajax({
                url: apiUrl + "/Appointment/CheckOverLapping",
                type: "post",
                data: frmdata,
                success: function (data) {
                    if (data != "") {
                        //alert(data);
                        swal({ title: "", text: data });
                        retunflag = false;
                        return false;

                    }
                }
            });
            $.ajaxSetup({ async: true });
            if (!retunflag) {
                return retunflag;
            }

            $("#AppNote").val($("#idNote").val());
            var frmdata = $("#frmAppointmentBookingData").serialize();
            $.ajaxSetup({ async: false });
            $.ajax({
                url: apiUrl + "/Appointment/SubmitAppointmentBookingData",
                type: "post",
                data: frmdata,
                success: function (data) {
                    datalist = data
                    $('#bookappointmentpopup').modal('hide');
                    setTimeout(function () {
                        ShowAppointmentData(3, 2);
                    }, 1000);

                },
            });
            $.ajaxSetup({ async: true });
        }
    }
</script>