﻿<style>
    .filter {
        cursor:default;
    }
</style>
<table id="datatable" style="width:100%!important;">
    <thead>
        <tr>
            <th><span class="filter">Doctor Name</span></th>
            <th><span class="filter">Type</span></th>
            <th><span class="filter">Date</span></th>
            <th><span class="filter">Start Time</span></th>
            <th><span class="filter">End Time</span></th>
            <th><span class="filter">Status</span></th>
            <th><span class="filter">Action</span></th>
        </tr>
    </thead>
</table>
<link href="../Content/Appointment/css/jquery.dataTables.css" rel="stylesheet" />
<script src="../Content/Appointment/js/jquery.dataTables.js"></script>
<script type="text/javascript">
    //$("#datatable").dataTable({
    //    "fnDrawCallback": function (oSettings) {
    //        if ($('#datatable tr').length < 11) {
    //            $('.dataTables_paginate').hide();
    //        }
    //    }
    //});
    $(document).ready(function () {
        $('#datatable').dataTable({
            "processing": false,
            "info": false,
            "stateSave": true,
            "ajax": {
                "url": apiUrl + "/Appointment/JqGrideForShowAppointment",
                "type": "GET"
            },
            
            "columns": [
                { "data": "DoctorName", "orderable": true },
                { "data": "ServiceType", "orderable": true },
                { "data": "AppointmentDate", "orderable": true },
                { "data": "AppointmentTime", "orderable": true },
                 { "data": "AppoinmentEndTime", "orderable": true },
                { "data": "Status", "orderable": true },
                {
                    "mData": "AppointmentId", "bSearchable": false, "sWidth": "90px",
                    "mRender": function (data, type, full) {

                        if (full.AppointmentStatusId == 11) {
                            return "<span>N/A</span>";
                        } else if (new Date(full.AppointmentDateTime) < new Date(full.SystemDateTime)) {
                            return "<span>Expired</span>";
                        }
                        else {
                            return "<a href='#' onclick=\"CancleAppointment('" + data + "');\">Cancel</a>";
                        }

                    }
                },
            ],
            "fnDrawCallback": function (oSettings) {
                var Count = 0;
                var api = this.api();
                var pageInfo = api.page.info();
                if (pageInfo.pages > 1)
                {
                    $(".next").show();
                   
                }
                if (pageInfo.pages == 1) {
                    $(".next").html('');
                    $(".previous").hide();
                }
                //else {
                //    //$("#datatable tr").each(function () {
                //    //    Count += 1;
                //    //})
                //    //if (Count <= 11) {
                //    //    $('.dataTables_paginate').hide();
                //    //}
                //    //else {
                //    //    $('.dataTables_paginate').show();
                //    //}
                //}
            }
        });
        $('.filter').on('click', function (e) {
            e.stopPropagation();
        });
    });

    function CancleApp() {
        
    }
</script>