@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
#full_patient_detail * { box-sizing:border-box; }
#full_patient_detail img { max-width:100%; }
h4.sub_title {  float:left; width:100%;  }
.sub_block { padding-left:20px; padding-right:20px; float:left; width:100%; }
.content_block { float:left; width:100%; margin:10px 0; padding:0; }
.form_row { float:left; width:100%; margin-bottom:20px; }
.form_row .form_block { float:left; width:49%; }




.form_row .form_block:nth-child(even) { float:right; }
.form_row .form_block.form_block_4{width:24%; margin-right:1.333%;}
.form_row .form_block.form_block_4:last-child{margin-right:0;}
.form_row .form_block.form_block_4:nth-child(even) { float:left; }
.form_row .form_block .form_block_label { text-align:right; width:42%; color:#535353; padding-right:15px; float:left; height:47px; }
.form_row .form_block .form_block_label label { padding:0; padding:0; display:table; width:100%; 
height:100%; line-height:20px; font:16px/19px arial; text-transform:capitalize; color:#fff; background:#2c9fcc; }

.form_row .form_block.hide-input .form_block_label label { padding:0; padding:0; display:table; width:100%; 
height:100%; line-height:20px; font:16px/19px arial; text-transform:capitalize; color:#333;background:none; }


.form_row .form_block .form_block_label label span { display:table-cell; vertical-align:middle; padding:5px 12px; }
.form_row .form_block .input_fill_area { float:right; width:58%; }
.form_row .form_block .input_fill_area input[type="text"] { width:100%; height:47px; border:1px solid #cccccc; }
.custom_accordion { float:left; width:100%; margin:20px 0 !important; padding:0; }
.custom_accordion .ui-accordion-header { background: #fff !important; padding:10px 20px !important; }
.custom_accordion .ui-accordion-header .ui-accordion-header-icon { display:none; }
.custom_accordion .ui-accordion-header a { font:16px/18px arial; display:block; padding-left:40px; background:url(/Content/images/Referral_Icons/accordion_non_active.png) left center no-repeat; color:#bfbfbf !important; padding-top:5px; padding-bottom:5px; }
.custom_accordion .ui-accordion-header.ui-state-active { background: rgba(255,255,255,1) !important; background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 0%, rgba(243,243,243,1) 100%) !important; background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(0%, rgba(246,246,246,1)), color-stop(100%, rgba(243,243,243,1))) !important; background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 0%, rgba(243,243,243,1) 100%) !important; background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 0%, rgba(243,243,243,1) 100%) !important; background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 0%, rgba(243,243,243,1) 100%) !important; background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 0%, rgba(243,243,243,1) 100%) !important; filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3', GradientType=1 ) !important;
padding:10px 20px !important; }
.custom_accordion .ui-accordion-content { height:auto !important; }
.custom_accordion .ui-accordion-header.ui-state-active a { color:#0890c9 !important; background:url(/Content/images/Referral_Icons/accordion_active.png) left center no-repeat }
.custom_accordion .ui-accordion-content { padding:20px !important; }
.content_block .action_btns { float:left; width:100%; margin:0; padding:0; }
.content_block .action_btns ul li { float:left; width:24%; margin:0 1.333% 20px 0; }
.content_block .action_btns ul li:nth-child(4n) { margin-right:0; }
.content_block .action_btns ul li a { display:block; border:1px solid #2c9fcc; color:#2c9fcc; font:16px/17px open sans; line-height:47px; text-decoration:none; }
.content_block .action_btns ul li a > span { display:block; width:47px; height:47px; float:left; background:url(/Content/images/Referral_Icons/btn_icons.png) no-repeat; }
.content_block .action_btns ul li a i { width:47px; height:47px; float:right; background:url(/Content/images/Referral_Icons/action_arrs.png) no-repeat; }
.content_block .action_btns ul li:hover a i, .content_block .action_btns ul li.active a i { background-position:0 -47px; }
.content_block .action_btns ul li a:hover, .content_block .action_btns ul li.active a { color:#fff; border-color:#1596c7; background:#1596c7; }
.content_block .action_btns ul li:hover a span, .content_block .action_btns ul li.oral.active a span { background-position:-47px 0; }
.content_block .action_btns ul li.periodontics a span { background-position:0 -47px; }
.content_block .action_btns ul li.periodontics:hover a span, .content_block .action_btns ul li.periodontics.active a span { background-position:-47px -47px; }
.content_block .action_btns ul li.orthontics a span { background-position:0 -94px; }
.content_block .action_btns ul li.orthontics:hover a span, .content_block .action_btns ul li.orthontics.active a span { background-position:-47px -94px; }
.content_block .action_btns ul li.endodontics a span { background-position:0 -141px; }
.content_block .action_btns ul li.endodontics:hover a span, .content_block .action_btns ul li.endodontics.active a span { background-position:-47px -141px; }
.content_block .action_btns ul li.pediatrics a span { background-position:0 -188px; }
.content_block .action_btns ul li.pediatrics:hover a span, .content_block .action_btns ul li.pediatrics.active a span { background-position:-47px -188px; }
.content_block .action_btns ul li.labs a span, {
background-position:0 -235px;
}
.content_block .action_btns ul li.labs:hover a span, .content_block .action_btns ul li.labs.active a span { background-position:-47px -235px; }
.content_block .action_btns ul li.radiology a span { background-position:0 -282px; }
.content_block .action_btns ul li.radiology:hover a span, .content_block .action_btns ul li.radiology.active a span { background-position:-47px -282px; }
.content_block .action_btns ul li.other a span { background-position:0 -329px; }
.content_block .action_btns ul li.other:hover a span, .content_block .action_btns ul li.other.active a span { background-position:-47px -329px; }

.single_patient_block { padding:0; margin:15px 1.5% 10px 0; width:100%; float:left; background:#fff; position:relative; box-shadow:0 0 2px rgba(0,0,0,0.3); transition:all ease 0.5s; }
.single_patient_block:last-child { margin-right:0; }
.single_patient_block:hover,.single_patient_block.selected { box-shadow:0 0 6px rgba(0,0,0,0.6); transform:scale(1.01) }
.single_patient_block:before { z-index:5;position:absolute; width:25px; height:25px; content:''; top:-15px; right:-15px; background:url(/Content/images/Referral_Icons/selected.png) no-repeat; background-size:25px;opacity:0; }
.single_patient_block.selected:before { opacity:1; }
.single_patient_block_img { float:left; width:100%; padding:10px 10px 0 10px; }
.single_patient_block_img > img { width:100%;transition:all ease 0.5s; }


.single_patient_block.selected .single_patient_block_img img{opacity:0.5;}
.single_patient_block_txt { float:left; width:100%; }
.single_patient_block_txt .single_patient_block_txt_row { padding:6px 10px 7px 10px; float:left; width:100%; color:#7a7a7a; font:11px/14px arial; background:url(/Content/images/Referral_Icons/divider.png) center bottom no-repeat; }
.single_patient_block_txt .single_patient_block_txt_row span { display:block; float:left;   color:#17335c; width:100%;}
.patient_trigger { width:15px;transform:rotate(-90deg); -webkit-transform:rotate(-90deg); -moz-transform:rotate(-90deg); height:8px; cursor:pointer; display:inline-block; background:url(/Content/images/Referral_Icons/patient_trigger.png) no-repeat; transition:all ease 0.5s; }
.patient_trigger.rotate { transform:rotate(0deg); -webkit-transform:rotate(0deg); -moz-transform:rotate(0deg); }

.patient_trigger2_parent,.patient_trigger_parent{cursor:pointer;}
.patient_trigger2 { width:15px;transform:rotate(-90deg); -webkit-transform:rotate(-90deg); -moz-transform:rotate(-90deg); height:8px; cursor:pointer; display:inline-block; 
background:url(/Content/images/Referral_Icons/patient_trigger.png) no-repeat; transition:all ease 0.5s; position:relative; top:-3px; }
.patient_trigger2.rotate { transform:rotate(0deg); -webkit-transform:rotate(0deg); -moz-transform:rotate(0deg); }
.visuals,.uploader_area
{display:none;}
h4.sub_title{cursor:pointer;}

.upload_file { width:141px; border-radius:0 !important; height:40px; background:url(/Content/images/Referral_Icons/attach.jpg) no-repeat; cursor:pointer; border:0; text-indent:-32000px; font-size:0px; }

h4.sub_title span.light_des
{float:right; font:21px/18px open sans; color:#ccc;}

.panel .block p {
    
    margin: 15px 0 2px !important;
}


ul.patient_info .thumb {
    float: left;
    height: auto;
    margin-right: 0 !important;
    text-align: center;
    width: 25%;
}

ul.patient_info ul.list {
    float: right;
    margin: 0 !important;
    width: 75%;   padding: 0 14px 0 15px !important;
}


ul.patient_info .second ul.list {
    width: 100% !important;
}
.sub_title_another
{font-size:16px; color:#333; font-weight:600;}

.spacer
{float:left; width:100%; margin:0; padding:0; height:60px;}
.comments img{width:141px; height:40px;}
#oral, #periodontics, #orthodontics, #endodontics, #pediatrics, #labs, #radiology, #other, #patient_details { display:none; }

.full_patient_detail
{color: #7a7a7a;
    float: left; width:100%; width:100%; padding:6px 10px;
    font: 11px/18px arial; display:none;}
	
	.full_patient_detail span{ color: #17335c;
    display: block;
    float: left;
    width: 100%;}
.full_patient_detail_trigger
{ background: #0890c4 none repeat scroll 0 0;
    color: #fff;
    cursor: pointer;
    display: block;
    float: left;
    font-weight: 600;
    padding: 6px 0;
    text-align: center;
    text-transform: uppercase; position:relative;
    width: 100%; height:30px;}
	
	.full_patient_detail_trigger:before{position:absolute; left:0; top:0; width:100%; height:100%;content:'Hide ▴'; padding:5px 0; 
	font-size:13px;}
	
	.full_patient_detail_trigger.active:before{content:'more ▾';}
	.comment_textarea,.patient_record
	{display:none;}
	
 @media all and (max-width:1300px) {
.form_row .form_block .form_block_label { width:100%; height:auto; padding-right:0; padding-bottom:5px; text-align:left; }
.form_row .form_block .input_fill_area { width:100%; }
.single_patient_block { width:48%; margin:15px 0; }
.single_patient_block:nth-child(even) { float:right; }
}
 @media all and (max-width:1200px) {
.content_block .action_btns ul li, .content_block .action_btns ul li:nth-child(4n) { width:32%; margin-right:2%; }
.content_block .action_btns ul li:nth-child(3n) { margin-right:0; }
}
 @media all and (max-width:900px) {
.content_block .action_btns ul li, .content_block .action_btns ul li:nth-child(4n), .content_block .action_btns ul li:nth-child(3n) { width:49%; margin-right:0; }
.content_block .action_btns ul li:nth-child(even) { float:right; }
}
@media all and (max-width:767px) {
.form_row .form_block { width:100%; margin-bottom:20px; }
.form_row { margin-bottom:0; }
.table_container { margin: 5px 0; }
.form_row .form_block .form_block_label label { font: 14px/17px arial; }
.form_row .form_block .input_fill_area input[type="text"] { height:40px; }
.form_row .form_block { margin-bottom: 14px; }
.sub_block { padding-left:10px; padding-right:10px; }

h4.sub_title span.light_des
{float:left; width:100%; font-size:14px; padding:5px 0 0 0;}
}
 @media all and (max-width:567px) {
.single_patient_block { width:100%; }
.content_block .action_btns ul li, .content_block .action_btns ul li:nth-child(4n), .content_block .action_btns ul li:nth-child(3n) { width:100%; }
}
