#logo_dental{float:left;}
ul.nav_header{margin-top:10px!important;}
/*#page1 .header_dental, #page1 header{height:auto!important;}*/
.sign_in .search_input_dashboard, .sign_in .help{margin:0; float:none;}
.sign_in .search_input_dashboard{margin-right:12px;}
.patient_history input[type="submit"], .patient_history input[type="button"]{cursor:pointer; border:none;}
.patient_history input[type="text"], .patient_history textarea{border: 1px solid #c2c2c2; color: #999999; font-size: 14px; padding:0px 0px; height:auto; font:14px/18px Helvetica,Arial,sans-serif;}
.patient_history input[type="checkbox"]{margin:0; vertical-align:text-top; -webkit-appearance:checkbox;}
h2.title{display:block; font-size:18px; color:#17335c!important; font-weight:bold; padding-bottom:10px; border-bottom:2px solid #0691c5;}
h2.title span{ font-size:14px; font-weight:normal; color:#666666; padding-left:10px;}
h2.title span+span{padding-left:5px;}
h2.title span a{ color:#0691c5; text-decoration:none; font-weight:normal;}
h2.title span a:hover{ text-decoration:underline;}
#phmenu > li input[type="submit"]{
    
      background: none repeat scroll 0 0 #B1BCCE;
    border: 0 none;
    color: #17335C;
    cursor: pointer;
    font-size: 14px;
    height: 44px;
    margin: 1px;
    padding: 0 10px 0 40px;
    text-align: left;
    transition: all 0.3s ease 0s;
    font-weight:normal !important
    }
#phmenu > li > input[type="submit"]:hover{    background: none repeat scroll 0 0 #0691C5;
    color: #FFFFFF;font-weight:normal !important;}
a input.my_info {
    background: url("/Dentalimages/patient-history/my_info.png") no-repeat scroll 7px 13px rgba(0, 0, 0, 0) !important;
}
a input.my_info:hover, a.current input.my_info {
    background: url("/Dentalimages/patient-history/my_info_o.png") no-repeat scroll 7px 13px #0691C5 !important;
    color: #FFFFFF !important;
    font-weight:normal !important;
}
a input.treat_docs {
    background: url("/Dentalimages/patient-history/treating_docs.png") no-repeat scroll 10px 8px rgba(0, 0, 0, 0) !important;
}

a input.treat_docs:hover, a.current input.treat_docs {
    background: url("/Dentalimages/patient-history/treating_docs_o.png") no-repeat scroll 10px 8px #0691C5 !important;
    color: #FFFFFF !important;
    font-weight:normal !important;
}
a input.treat_docs:hover, a.current input.treat_docs {
    background: url("/Dentalimages/patient-history/treating_docs_o.png") no-repeat scroll 10px 8px #0691C5 !important;
    color: #FFFFFF !important;
    font-weight:normal !important;
}
a input.dental_files {
    background: url("/Dentalimages/patient-history/dental_files.png") no-repeat scroll 10px 10px rgba(0, 0, 0, 0) !important;
}
a input.dental_files:hover, a.current input.dental_files {
    background: url("/Dentalimages/patient-history/dental_files_o.png") no-repeat scroll 10px 10px #0691C5 !important;
    color: #FFFFFF !important;
     font-weight:normal !important;
}
a input.Appointment {
    background: url("/Dentalimages/patient-history/28-28-28.png") no-repeat scroll 10px 10px rgba(0, 0, 0, 0) !important;
}
a input.Appointment:hover, a.current input.Appointment {
    background: url("/Dentalimages/patient-history/28-128.png") no-repeat scroll 10px 10px #0691C5 !important;
    color: #FFFFFF !important;
     font-weight:normal !important;
}

.patient_inbox{ position:relative;}
.patient_inbox .counts{color:#ffffff; background:#17335c; font-size:13px; line-height:14px; padding:3px 7px; border-radius:20px; display:inline-block; *display:inline; position:absolute; top:-8px; left:-8px;} 
#phmenu > li a > input.pat_inbox{background:url(/Dentalimages/patient-history/patient_inbox.png) 10px 14px no-repeat;}
#phmenu > li a > input.pat_inbox:hover{background:url(/Dentalimages/patient-history/patient_inbox_o.png) 10px 14px no-repeat; font-weight:normal !important;}
#phmenu > li a.current > input.pat_inbox{background:url(/Dentalimages/patient-history/patient_inbox_o.png) #17335c 10px 14px no-repeat; color:#fff;}
#phmenu > li a.current .counts{background:#0691C5;}
.patient_inbox a:hover{ text-decoration:none; background:url(/Dentalimages/patient-history/patient_inbox.png) #0691C5 14px 11px no-repeat;}
.patient_info{ border: 1px solid #EFEFEF; padding:11px;}
.patient_history{ padding:15px!important; float:none!important; width:auto!important; margin-bottom:20px; }
.patient_history .patient_info h2{ line-height:22px; margin:0 0 5px;}
.patient_history .patient_info{width:44.0%; float:left;} /*335*/
.patient_history .patient_info .soc_media{ background:#EFEFEF; padding:10px; margin-top:15px;}
.patient_info .thumb{width:95px; height:95px; float:left;}
.patient_info .thumb img{ width:100%; max-width:100%;}
.patient_info .description{ margin:0 0 0 110px;}
.patient_history label{ color:#666666; font-size:14px;}
ul.list li{font-size:14px; color:#666666; line-height:24px;}
.patient_info .description ul li.action{margin:10px 0 0 0;}
.addguardian{ width:174px; height:43px; display:block; border:none; background:url(/Dentalimages/patient-history/add-guardian.jpg) left top no-repeat;}
.patient_history .profile_listing{width:52.7%; float:right; padding:1px;} /*544*/
.profile_listing .row{ padding:15px;}
.patient_history .pat_add h6{padding:0!important; margin-bottom:5px; line-height:14px;}
.patient_history .pat_add h3{padding:0!important;}
.patient_history .pat_add .grid_3_updated{padding:0 15px 0 0; width:107px;}
.patient_history .pat_add .grid_7_updated{padding:0 0 0 15px; margin-left:123px!important; float:none; width:auto;}
.patient_history .pat_add .contact_box{ width:42.6%; float:left; padding:15px; margin:0;} /*249*/

.patient_history .pat_add .contact_box+.guardian{float:right; width:42.6%;} /*249*/
.patient_history .pat_add ul.list li{margin-top:5px;}
.pat_add span{width:30px; height:24px; display:inline-block; vertical-align:middle; background:url(/Dentalimages/patient-history/contact-sprites.jpg) left top no-repeat; float:left;}
.pat_add div{ margin-left:30px;}
.pat_add .add_icon{ background-position:0 4px;}
.pat_add .phn_icon{background-position: left -24px }
.pat_add .eml_icon{ background-position: left -49px }
.separator{background:url("/Dentalimages/repeat_bg_line.jpg") repeat-x scroll left bottom transparent; height:2px; clear:both;}
.soc_media a{ display:inline-block; width:24px; height:24px; margin-left:15px; background:url(/Dentalimages/patient-history/social_media.png) -24px -24px no-repeat; text-indent:-9999px}
.soc_media a.fb{ background-position:0 0;}
.soc_media a.tw{ background-position:-39px 0;}
.soc_media a.li{ background-position:-78px 0;}
.soc_media a.gp{ background-position:-117px 0;}
.soc_media a.bg{ background-position:-156px 0;}
.block_container{ margin:15px 0 30px;}
ul.tablelist > li{padding:15px 10px; border-top:1px solid #cccccc; font-size:14px; color:#666666; line-height:16px;}
ul.tablelist li:first-child{border-top:none;}
ul.tablelist li a{text-decoration:underline; line-height:20px;}
ul.tablelist li a:hover{text-decoration:none;}
ul.tablelist li .pf_text{width:52.85%; float:left; padding-right:15px; line-height:20px;}
ul.tablelist li .update{width:12.11%; float:left; padding-right:15px;}
ul.tablelist li .print{width:11.01%; float:left; padding-right:15px;}
ul.tablelist li .send{width:10.01%; float:left; padding-right:15px;}
ul.tablelist li .status{width:7.15%; float:left;}
a.upd_btn span{background:url(/Dentalimages/patient-history/pf_sprites.png) left top no-repeat; height:18px; width:30px; display:inline-block; vertical-align:bottom;}
a.print_btn span{background:url(/Dentalimages/patient-history/pf_sprites.png) -42px top no-repeat; height:18px; width:30px; display:inline-block; vertical-align:bottom;}
a.snd_btn span{background:url(/Dentalimages/patient-history/pf_sprites.png) 0 bottom no-repeat; height:18px; width:30px; display:inline-block; vertical-align:bottom;}
.status span.completed{display:block;width:20px; height:20px; line-height:20px; background:url(/Dentalimages/patient-history/pf_sprites.png) right top no-repeat;}
.status span.pending{display:block;width:20px; height:20px; line-height:20px; background:url(/Dentalimages/patient-history/pf_sprites.png) right bottom no-repeat;}
.help{width:87px; height:34px; border:none; background:url(/Dentalimages/patient-history/help.png) left top no-repeat; text-indent:-9999px; text-transform:uppercase;}

.treating_docs .thumb{ width:60px; height:60px; float:left;}
.treating_docs .thumb img{width:100%; max-width:100%;}
.treating_docs .desc{width:57.8%; float:left; padding:0px 15px 0; line-height:20px;} /*558*/
.treating_docs .desc .block{width:50%; float:left; margin-bottom:0;}
ul.address span{margin-left:-20px; display:inline-block; width:18px; height:14px; vertical-align:middle;}
ul.address span.addrss{background:url("/Dentalimages/patient-history/address-sprites.jpg") no-repeat scroll 0 0;}
ul.address span.phone{background:url("/Dentalimages/patient-history/address-sprites.jpg") no-repeat scroll left -19px;}
.treating_docs .desc label{display:block;}
.treating_docs .actions{width:32.2%; float:left; margin:0;  padding:10px 0 0} /*298*/
.treating_docs .actions input{margin:0 0 0 10px; padding:0}
.treating_docs .invite{ text-align:right;}
.send_msg{ width:135px; height:27px; float:left; background:url(/Dentalimages/patient-history/send-message.png) left top no-repeat; border:none; text-indent:-9999px; text-transform:uppercase;}
.send_rfrl{ width:126px; height:27px; float:right; background:url(/Dentalimages/patient-history/send_referral.png) left top no-repeat; border:none; text-indent:-9999px; text-transform:uppercase;}
.invite_doc{ width:254px; height:50px; display:inline-block; background:url(/Dentalimages/patient-history/invite-doctor.png) left top no-repeat; border:none; text-indent:-9999px; text-transform:uppercase;}
#test-form ul.treating_docs, #test-form .advance_search_listing{height:250px; overflow-y:scroll; padding-top:15px;}
#test-form .treating_docs .check{width:1.8%; float:left; padding:0 10px 0 0;}
#test-form .treating_docs .thumb{width:50px; height:50px;}
#test-form .treating_docs .desc{width:85.0%; padding-top:5px;} /*637-86 (scroll)*/
.attach_btn{ width:104px; height:40px; float:left; background:url(/Dentalimages/patient-history/attach.png) left top no-repeat; border:none; text-indent:-9999px; text-transform:uppercase; margin-right:15px;}
.cancel_btn, .mfp-close.cancel_btn{ width:109px; height:40px; float:left; background:url(/Dentalimages/patient-history/cancel.png) left top no-repeat; border:none; text-indent:-9999px; text-transform:uppercase;}
.mfp-close.cancel_btn{position:inherit;}
.send_btn{ width:104px; height:40px; float:left; background:url(/Dentalimages/patient-history/send.png) left top no-repeat; border:none; text-indent:-9999px; text-transform:uppercase; margin-right:15px;}
.add_btn{ width:87px; height:40px; float:left; background:url(/Dentalimages/patient-history/add.png) left top no-repeat; border:none; text-indent:-9999px; text-transform:uppercase; margin-right:15px;}
#test-form .actions{padding:15px 10px 0; margin:0;}
/* #test-form h2 {float:left; width:100%;} */
#test-form h2 input{ float:right; margin-left:10px; font-size:13px; color:#999999;}
#test-form .search_input_dashboard{ padding:4px 8px; background:none; width:184px; margin:0;}
.searchbtn{ width:79px; height:25px; background:url(/Dentalimages/patient-history/searchbtn.png) left top no-repeat; border:none; text-indent:-9999px; text-transform:uppercase;}
.adv_searchbtn{ width:136px; height:25px; background:url(/Dentalimages/patient-history/advance_search.png) left top no-repeat; border:none; text-indent:-9999px; text-transform:uppercase;}
.block1{margin:10px 0 0 ;}
.block{margin:0 0 20px;}
h2.title{position:relative;}
 h2.title input[type="button"], .h2.title input[type="submit"]{position:absolute; right:0; bottom:10px; text-indent:-9999px; text-transform:uppercase;}
.table .thead{background:#f2f2f2; padding:15px 10px; border-bottom:1px solid #cccccc;}
.table .thead a{color:#666666; font-size:11px; text-transform:uppercase; text-decoration:underline;}
.table .thead a:hover{text-decoration:none;}
.table .check, .table .name, .table .date, .table .message, .table .msg, .table .ref_by, .table .ref_to, .referrals .table .date, .referrals .table .status{float:left;}
.table .check{width:2.5%;} /*23*/
.table .name, .table .date, .table .ref_by, .table .ref_to{width:15.9%;padding-right:15px;} /*160*/
.table .message{width:62.3%;} /*566*/
.message .msg{width:53.8%; padding-right:15px;} /*320*/
.message .actions{width:43.4%; margin:0; text-align:right; float:right;} /*246*/
.message .actions a{margin-left:10px;}
.table img{vertical-align:middle;}
.table ul.tablelist li{font-size:13px; line-height:20px; padding:12px 10px;}
.table ul.tablelist li.unread .name, .table ul.tablelist li.unread .date, .table ul.tablelist li.unread .msg, .referrals ul.tablelist li.unread .date, .referrals ul.tablelist li.unread .status{font-weight:bold;}
.table ul.tablelist li input[type="checkbox"]{vertical-align:middle; -webkit-appearance:checkbox;}
.referrals .table .date, .referrals .table .status{width:25.6%; padding-right:15px;} /*160*/
.referrals .status.view{color:#388400;}
.referrals .status.nview{color:#ff0000;}
.compose{width:142px; height:25px; border:none; background:url(/Dentalimages/patient-history/compose-msg.png) left top no-repeat; display:inline-block; text-indent:-9999px; text-transform:uppercase }
.sendrfrl{width:111px; height:25px; border:none; background:url(/Dentalimages/patient-history/send-referral.png) left top no-repeat; display:inline-block; text-indent:-9999px; text-transform:uppercase}
.save{width:89px; height:40px; border:none; background:url(/Dentalimages/patient-history/save.png) left top no-repeat; display:inline-block; text-indent:-9999px; text-transform:uppercase }
.add_mmbr{width:155px; height:40px; border:none; background:url(/Dentalimages/patient-history/addmember.png) left top no-repeat; display:inline-block; text-indent:-9999px; text-transform:uppercase }
.annotation{width:136px; height:27px; border:none; background:url(/Dentalimages/patient-history/annotation.png) left top no-repeat; display:inline-block; text-indent:-9999px; text-transform:uppercase;}
.white-popup-block.compose_msg{max-width:430px;}
.white-popup-block.edit_info{max-width:650px;}
.compose_msg ul.tablelist li {
    border: medium none;
    padding-bottom: 0;
}
#test-form label, .compose_msg label{display:inline-block; color:#17335C; width:25.0%; padding:5px 15px 0 0;} /*138*/
#test-form ul.tablelist{border:none;}
#test-form ul.tablelist+h2.title{margin:30px 0 0;}
#test-form ul.tablelist li{border:none; padding-bottom:0;}
#test-form input[type="text"], #test-form textarea, #test-form select{width:67.2%; color:#999999; border: 1px solid #c2c2c2; color: #666666; font-size: 14px; padding:8px 10px; height:auto; font:14px/18px Helvetica,Arial,sans-serif;} /*370*/
#test-form .list_menu_forms{width:71.3%;} /*376*/
#test-form .pagination, .patient_history .pagination{background:#f2f2f2; padding:15px 10px; width:auto; float:none; display:block;}
.compose_msg input[type="text"], .compose_msg textarea {
    border: 1px solid #C2C2C2;   
    font: 14px/18px Helvetica,Arial,sans-serif;
    height: auto;
    padding: 8px 10px;
    width: 62%;
}
.compose_msg label{font-weight:normal; width:15%;}
#test-form .cancel_btn{ float:none; margin-left:10px;}
ul.disp_inline{width:64%; color: #666666; font-size: 14px; padding:8px 0; display:inline-block; *display:inline;} /*580 - 63.8*/
ul.disp_inline li{width:31.8%; display:inline-block; *display:inline; margin:0 5px 10px 0;}
ul.disp_inline li label{display:inline-block; width:auto; padding:0 15px 0 5px; color: #666666;}
.compose_msg .actions{margin:15px 0;}
.compose_msg .actions label{float:left; margin-right:7px;}
ul.dentalfiles > li{display:inline-block; *display:inline; background:#f6f6f6; border:1px solid #cccccc; width:14.0%; padding:15px; margin:0 14px 15px 0; font-size:13px;} /*170*/
.select_cat select{border:1px solid #cccccc; padding:4px; width:84.2%; color:#17335c;} /*118*/
.select_cat .close{width:14px; height:14px; background:url(/Dentalimages/patient-history/close-red.png) left top no-repeat; margin:4px 0 0 4px; text-indent:-9999px; text-transform:uppercase;}
ul.dentalfiles li .thumb{border:1px solid #cccccc; height:112px; margin:0 0 10px;}
ul.dentalfiles li .thumb img{width:137px; height:113px;}
ul.dentalfiles li label{ display:inline; margin-right:3px; font-size:13px; vertical-align:baseline;}
ul.text li{margin-top:3px;}
ul.text li.action{margin:15px 0 0 0;}
ul.dentalfiles{margin:15px 0 0 0;}
ul.dentalfiles li a{text-decoration:underline;}
ul.dentalfiles li a:hover{text-decoration:none;}
.mrn{margin-right:0!important;}
.upload_file{width:219px; height:31px; border:none; background:url(/Dentalimages/patient-history/upload-files.png) left top no-repeat; display:inline-block; text-indent:-9999px; text-transform:uppercase; margin:0 15px 0 0;}
.export_file{width:200px; height:31px; border:none; background:url(/Dentalimages/patient-history/export-files.png) left top no-repeat; display:inline-block; text-indent:-9999px; text-transform:uppercase;
}
.patient_history input[type="text"].inputbox_signup_info{ width:100%; height:35px; float:left; border:1px solid #919FB4; background-color:#FFF; line-height:20px; color:#b1bcce; text-indent:5px; font-size:16px; -webkit-appearance: none; -webkit-border-radius: 0; padding:0;}
.patient_history .checkbox_listing label{ color:inherit; font-size:inherit;}
.patient_history .checkbox_listing input{margin:3px;}
.patient_history input[type="text"].inputbox_other{ width:80%; height:20px; float:left; border:1px solid #e0e0e0; background-color:#FFF; line-height:20px; color:#b1bcce; text-indent:5px; font-size:12px; padding:0; margin-right:0!important}
.patient_history .inputbox_textarea{ width:100%; height:249px; float:left; border:1px solid #e0e0e0; background-color:#FFF; line-height:20px; color:#b1bcce; text-indent:5px; font-size:16px; font-family:Helvetica, Arial, sans-serif; padding-left:0px; padding-right:0px; box-sizing: border-box;  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; padding-top:4px;}
.patient_history input[type="text"].inputbox_signup{ width:100%; height:35px; float:left; border:1px solid #e0e0e0; background-color:#FFF; line-height:20px; color:#b1bcce; text-indent:5px; font-size:16px; padding:0px;}
.patient_history #step{ padding:0;}
.patient_history #step .send_btn{float:right; margin:0}
.patient_history .checkbox_listing ul{width:auto; margin:0 20px; text-align:left;}  /*702*/
.patient_history .checkbox_listing ul li{display:inline-block; *display:inline; width:23%; margin:0 10px 5px 0;} /*170*/
.patient_history .checkbox_listing.dental_list li{width:88px; height:75px;}
.patient_history .dental_list li input[type="checkbox"]{ float:left; -webkit-appearance:checkbox; margin:0\0/;}
.patient_history .dental_list li .thumb{background:#F6F6F6; display:inline-block; *display:inline; border:1px solid #CCCCCC; width:55px; height:55px; padding:5px; float:right;}

ul#form_info .right_div_form label{display:block; width:auto;}
ul#form_info li.actions input[type="submit"], ul#form_info li.actions input[type="button"]{margin-top:10px;}
.settings_nots ul#form_info li{ float:none; display:inline-block; *display:inline; width:48%; padding-right:10px;}
.settings_nots ul#form_info li label{width:auto;}
#tab-container_2 ul#form_info li input[type="checkbox"]{margin:11px 5px 0 0; vertical-align:middle; -webkit-appearance:checkbox;}
.fck_editor{float:none; clear:both; padding:5px 0 15px 0;}
.imp_patients #step{padding:0;}
.imp_patients h6{color:#666666; padding:15px 0!important}
.imp_patients .row{margin:0 0 10px;}
.imp_patients #default-titles .current-step div, .imp_patients .stepy-titles div{width:120px;}
.note{ font-size:12px; color:#7e7e7e; font-weight:normal; display:block;}
.tablelist{border: 1px solid #CCCCCC; border-collapse:collapse; font-size:12px; color:#666666; text-align:left;}
.tablelist th{background: none repeat scroll 0 0 #F2F2F2; padding: 10px; border-bottom: 1px solid #CCCCCC; text-align:left; vertical-align:middle;}
.tablelist td{padding: 10px; border-bottom: 1px solid #CCCCCC; text-align:left; vertical-align:middle; word-wrap:break-word; word-break:break-all;}
.red{ color:#ff0000; font-weight:bold; padding-left:2px;}
.tablelist .list_menu_forms{width:75%; margin:0;}
.patient_history .tablelist {border:none;}
.quicktour_video{position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	border:10px solid #eeeeee;
	margin-top:10px;}
.quicktour_video iframe, .quicktour_video object, .quicktour_video embed{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Search Results and Help Page */
.search_results{margin:15px 0 0 0;}
h3.blackfont small{display:block; font-size:12px; color:#999999; font-weight:normal;}
.search_results ul.address li{padding:2px 0;}
.search_results ul.address li a{font-size:15px; font-weight:bold;}
.search_results .tablelist{border:none;}
.search_results .tablelist label{color:#17335C;}
.search_results .tablelist > li{padding:0; margin:20px 0 0 0; border:none;}
.search_results .tablelist > li:first-child{margin-top:0;}
.help_topics{margin:20px 0 0 0;}
ul.alt_listing{border-top:1px solid #cccccc; border-bottom:1px solid #cccccc; background:#fafafa;}
ul.alt_listing li{padding:15px; font-size:14px; font-weight:bold; border-top:1px solid #e7e7e7; border-bottom:1px solid #fff;}
ul.alt_listing li:first-child{border-top:none;}
ul.alt_listing li.odd{background:#f5f5f5;}
ul.alt_listing .text{width:70%; float:left;}
ul.alt_listing .video{width:30%; float:left;}
.video_icon{background:url(/Dentalimages/patient-history/video-icon.png) left center no-repeat; padding:0 0 0 20px; display:inline-block;}
ul#form_info li .button_2{border:none!important}
ul#form_info.information_panel li > label{width:40.4%;}
ul#form_info.information_panel li > label.field2{width:8%;}
ul#form_info.information_panel li > .input_box_forms{width:50%}
#container .invalid, ul#form_info li span.invalid{color:#ff0000; padding:0; display:none!important;}

/* Header Changes */
ul.nav_header li a span{width:22px!important}
ul.nav_header li a span.help_icon{width:20px; height:17px; background:url("/Dentalimages/dashboard_sprite.png") 4px 0 no-repeat; float:left;}
ul.nav_header li a span.link_icon{width:20px; height:17px; background:url("/Dentalimages/dashboard_sprite.png") -151px 0 no-repeat; float:left;}
ul.nav_header li a span.settings_icon{width:20px; height:17px; background:url("/Dentalimages/dashboard_sprite.png") -42px 0 no-repeat; float:left;}
ul.nav_header li a span.upgrade_icon{width:20px; height:17px; background:url("/Dentalimages/dashboard_sprite.png") -17px 0 no-repeat; float:left;}
ul.nav_header li.profile .thumb{border:1px solid #cccccc; width:35px; height:35px; float:left;}
ul.nav_header li.profile a{margin-left:10px;}
ul.nav_header li.profile a img{ vertical-align:middle; margin-left:5px;}
ul.nav_header .search_input_dashboard{ width:150px; padding-top:5px; padding-bottom:5px; margin-bottom:5px;}


/*...............My Dental Homepage Signup New Styling..........................*/
.simple_secure{border:1px solid #d5d5d5; background:url(../Dentalimages/upper-shadow.png) center top no-repeat; margin:38px 14px 0;}
.simple_secure .simple_way{background:url(../Dentalimages/secure.jpg) left bottom no-repeat; width:50.6%; padding:18px 12px 0 15px; float:left; height:100%!important; } /*353*/
.simple_secure .simple_way h3{font-size:32px; font-weight:bold; color:#666666; text-transform:uppercase; line-height:35px; margin:0 0 12px; letter-spacing:-0.04em; width:100%;}
.simple_secure .simple_way h3 span{font-size:25px; color:#a4a4a4; display:block; }
.simple_secure .simple_way h4{font-size:32px; color:#0691c5; line-height:33px; font-weight:normal; padding:70px 5px 40px 0; background:url(../Dentalimages/arrow.png) right top no-repeat; text-transform:inherit; margin-left:72px; width:100%; text-align:right; display:inline-block;}
.simple_secure .find_your_dentist{width:37.9%; margin:0 10px 0 0; float:right; position:relative;} /*356*/
.simple_secure .find_your_dentist h3{background:url(../Dentalimages/find_dentist_label.png) center top no-repeat; height:53px; padding:12px 15px 0; font-size:26px; font-weight:normal; color:#ffffff; display:block; text-align:center; text-shadow:1px 0 2px rgba(8,108,154,.75); width:91.5%; position:absolute; top:-12px; left:0}  
.appstore_btn { float:left;  margin:5px 0 20px 300px;  }
.appstore_btn a{ float:left; background: url(../Dentalimages/available_app_store.png) no-repeat left top; width:246px; height:85px; }




.find_your_dentist form{display:block; padding:62px 15px 25px 15px;  margin:0 7px 0 6px; background:url(/Dentalimages/grad-bg.png) left top repeat-x;} /*338*/
.find_your_dentist form input[type="text"]{background:#ffffff; border:1px solid #919fb4; padding:13px 10px 13px; width:92.0%; font-size:18px; color:#a3aec1; font-weight:normal; margin-bottom:13px;}
.find_your_dentist form input[type="submit"]{display:block; border:none; background:url(/Dentalimages/searchbttn.png) left top no-repeat; width:231px; height:49px; margin:0 auto; text-indent:-9999px; text-transform:capitalize;}
.sign_steps{ width:50.5%; padding:20px 15px 22px 25px; background:url(/Dentalimages/shadow.png) #efefef center top no-repeat; border:1px solid #cdcdcd; float:left;} /*472*/
.sign_steps h3{ color:#17325d; font-size:26px; line-height:28px; display:block; font-weight:normal; margin-bottom:15px; padding:0;}
.sign_steps ul{width:99.5%; display:block;} /*470*/
.sign_steps ul li{width:227px; display:inline-block; *display:inline; margin-left:8px;}
.sign_steps ul li:first-child{margin-left:0;}
.sign_steps ul li.action{text-align:center; width:auto; display:block; padding:6px 10px 0;}
.sign_steps ul h3{ font-size:18px; line-height:18px; color:#ffffff; padding:15px 15px 0 35px; height:28px; margin-bottom:12px;}
.sign_steps ul .step1{background:url(/Dentalimages/step1.png) center top no-repeat;}
.sign_steps ul .step2{background:url(/Dentalimages/step2.png) center top no-repeat; padding-left:45px;}
.sign_steps ul input[type="text"]{background:#ffffff; border:1px solid #919fb4; padding:8px 10px; color:#b1bcce; font-size:18px; width:90.3%; margin-bottom:8px;}
.sign_steps ul input[type="submit"]{background:url(/Dentalimages/submit_steps.png) center top no-repeat; border:none; width:192px; height:39px; display:inline-block; *display:inline; text-indent:-9999px; text-transform:capitalize;}
.sign_steps p{ font-size:18px; line-height:18px; color:#0691c5; margin:18px 0 0 0; padding:0;}
.demo_video{padding:3px; width:42.3%; float:right; background:#ffffff; box-shadow:0 0 6px rgba(0,0,0,0.5);}  /*394*/
h2.ptitle{background:url(/Dentalimages/dbl-border.png) left center repeat-x; font-size:26px; text-align:center; line-height:30px; font-weight:normal;}
h2.ptitle span{display:inline-blick; *display:inline; margin:0 auto; background:#ffffff; padding:0 15px;}
.main_content_dental .backrend_listing{padding:0 14px;}
.main_content_dental .backrend_listing h2.ptitle{margin-bottom:25px;}
.main_content_dental .backrend_listing ul li{padding-bottom:20px;}

.forgot_pswd{background:#f7f7f7 url(/Dentalimages/forgot-bg.png) center bottom no-repeat; padding:10px 10px 30px; margin:15px 0;}
.forgot_pswd p{display:block; padding:15px 40px!important; border:1px dashed #d9d9d9; text-align:center; font-size:13px!important; color:#666666; line-height:20px; text-transform:uppercase;}
.input_pswd input[type="text"]{vertical-align:top; border:1px solid #cccccc; width:428px; padding:13px 10px 12px; float:none; height:auto; margin-right:5px;}
.input_pswd input[type="button"]{background: url(/Dentalimages/reset-pwsd.png) left top no-repeat; width:171px; height:46px; padding:0; border:none; text-indent:-9999px;}


/*  Media queries Styles  */

@media only screen and (max-device-width: 1024px) and (orientation:portrait) {
	
}
@media only screen and (max-device-width: 1024px) and (orientation:landscape) {
	
}

@media only screen and (min-width: 768px) and (max-width: 960px) {
	
.patient_history div{transition:all 0.5s}
.search_dashboard{width:auto; height:auto; clear:none; margin:inherit;}
.main .breadcrum{width:auto; float:none;}
ul.nav_header .search_input_dashboard{ width:150px; padding-top:5px; padding-bottom:5px; margin:5px 0;}
.table .message{width:61%;}
.message .msg{width:54.8%;}
.message .actions{width:40.4%;}
.message .actions a{ display:inline-block; *display:inline; width:33%;}

/* My Info Responsive styling*/
.patient_history .patient_info, .patient_history .profile_listing{width:44.8%; transition:all 0.5s} /*330*/
.patient_history .pat_add .contact_box, .patient_history .pat_add .contact_box.guardian{width:auto; float:none; transition:all 0.5s}
.patient_history .pat_add .contact_box.guardian{margin-top:15px;}
ul.tablelist li .pf_text{width:50%;} /*358*/

/* Treating Doctors Responsive styling*/
.treating_docs .desc{width:66.4%} /*426*/
.treating_docs .actions{float:right; width:20.9%; text-align:right;}  /*150*/
.treating_docs .actions input{float:none; margin:0}
.treating_docs .actions > input{margin-bottom:10px;}

/* Dental Files Responsive styling*/
ul.dentalfiles > li{width:19.2%!important; margin-right:10px!important;} /*142*/
ul.dentalfiles  .mrn768{margin-right:0!important;}
ul.dentalfiles li .thumb{height:auto;}
ul.dentalfiles li .thumb img{width:100%; height:auto;}
.mrn{margin-right:10px!important;}

/* Help Page Responsive styling */
.help_content .grid_11{width:65.3%;}

/* Compose Page Responsive styling */
ul.disp_inline{width:82.3%;} /*589*/

/* Update Forms Responsive styling */
.panel-container ul#form_info li.action{ padding-top:15px;}

/* Send Referral Responsive styling */
.patient_history .checkbox_listing ul li{width:31%;}
.patient_history .left_teeth_panel, .patient_history .right_teeth_panel{float:none; width:80%; margin:0 auto;}

/* MyDental Home Responsive styling */
.main_content{float:none!important; margin:0 auto;}
.simple_secure .find_your_dentist{width:100%;} /*356*/
.simple_secure .simple_way h4{ margin-left:0px;}
.appstore_btn{ margin-left:0; float:right; margin-right:120px; margin-bottom:0px;}
.simple_secure .simple_way{padding-right:15px; padding-left:15px; padding-bottom:10px; width:100%; padding:0 0 20px 0;} /*327*/
.simple_secure .simple_way h3{font-size:32px; margin:20px 0 0 0; width:100%; text-align:center; }
.simple_secure .simple_way h4{padding-top:80px; text-align:right; background-position:right 15px; width:80%;}
.simple_secure .find_your_dentist h3{ top:0px;}
.demo_video{width:54.4%; float:none; margin:0 auto; clear:both;} /*394*/
.sign_steps{width:70%; float:none; text-align:center; margin:0 auto; margin-bottom:20px;}



}

@media only screen and (max-width: 767px) {	

	ul.nav_header li.search{border:none;}		
	.patient_inbox{margin-right:2%;}
	.main .breadcrum{width:auto; float:none; clear:both;}	
	ul.nav_header{float:none!important; margin:10px auto!important; width:80%;}
	.search_dashboard{width:auto; height:auto; clear:none; margin:inherit;}
	ul.nav_header .search_input_dashboard{margin:5px 0;}	
	.table .message .msg{width:auto; float:none; padding:0;} 
	.table .date{text-align:right;}
	.referrals .date{text-align:left;}
	.table .name, .table .date, .table .ref_by, .table .ref_to{padding:0; width:47%}
	.referrals .table .date, .referrals .table .status{ width:49.5%; padding:0;}	
	.referrals .table .status, .table .ref_to{text-align:right;}
	.message .actions{width:40.4%; text-align:left;}
	.table .thead .message .actions{ width:auto!important; clear:both; float:none; padding-top:5px;}
	.tbody .message .actions{ width:auto!important; clear:both; float:none; text-align:left; padding-top:5px;}
	.message .actions a{ display:inline-block; *display:inline; width:33%;}
	.message .actions a:first-child{margin-left:0;}
	.pagination .left_panel_list_div, .pagination .right_panel_list_div{width:45%!important; float:left!important; clear:none!important; height:auto!important; margin:inherit!important; padding:0!important; border:none!important;}
	.pagination .right_panel_list_div{ float:right!important;}
	
/* My Info Responsive styling*/
.patient_history .patient_info{margin-bottom:15px;}
.patient_history .patient_info, .patient_history .profile_listing{width:auto; float:none;}
.patient_history .pat_add .contact_box, .patient_history .pat_add .contact_box.guardian{width:42.7%}
ul.tablelist li .pf_text{width:36.0%} /*193*/
ul.tablelist li .update, ul.tablelist li .send, ul.tablelist li .print{width:15.8%;} /*85*/
ul.tablelist li .status{width:5.2%} /*28*/

/* Treating Doctors Responsive styling*/
.treating_docs .desc{width:86.0%; padding-right:0; padding-top:0;} /*461*/
.treating_docs .desc .block{width:auto; float:none; margin-bottom:5px;}
.treating_docs .actions{padding-left:65px; width:auto; float:none; clear:both;}
.treating_docs .actions input{float:none;}

/* Dental Files Responsive styling*/

ul.dentalfiles li .thumb{height:auto;}
ul.dentalfiles li .thumb img{width:100%; height:auto;}
.mrn{margin-right:10px!important;}
.mrn600{margin-right:0!important}

/* Help Page Responsive styling*/
.help_content .grid_5{width:auto!important; margin:0 10px!important; float:none!important;}
.button{height:40px;}

/* Compose Page Responsive styling*/
.compose_msg ul.tablelist li{padding-right:0; padding-left:0;}
.compose_msg input[type="text"], .compose_msg textarea{width:96.0%;}
ul.disp_inline{width:auto; display:block;}
ul.disp_inline li{width:32%; margin-right:3px;}
.compose_msg .actions label{display:none;}

/* Update Forms Responsive styling */
ul#form_info li label{width:auto!important; float:none!important; display:block!important;}

ul#form_info{padding-left:0!important}
ul#form_info li .input_box_forms, ul#form_info li textarea{width:99.6%; padding-right:0!important; padding-left:0!important;}
ul#form_info li.action label{display:none!important;}

/* Send Referral Responsive styling */
.patient_history #steps_panel{width:auto;}
.patient_history .checkbox_listing ul{margin:0}
.patient_history .checkbox_listing ul li{width:31%;}

/* MyDental Home Responsive styling */
.sign_in{margin:15px 0 0 0!important; float:none!important;}
.sign_in .submit_btn{width:auto!important; text-align:center;}
nav{position:relative;}
.right_side_links{position:absolute; margin:0!important; width:auto!important; right:0; top:24px}
.main_content{float:none!important; margin:0 auto;}
.simple_secure .simple_way{float:none; width:auto;}
.simple_secure .simple_way h3{margin-top:30px; width:auto;}
.simple_secure .simple_way h4{background:url("../Dentalimages/arrow-reverse.png") no-repeat scroll center bottom transparent; padding:25px 0 75px; text-align:center; margin-left:0px;}
.simple_secure .find_your_dentist{width:auto; margin:0 5%; float:none;} /*356*/
.simple_secure .find_your_dentist h3{padding:12px 0 0 0; width:100%;}
.find_your_dentist form{margin:0; background-position:left -18px; text-align:center;}
.sign_steps{width:auto; float:none; text-align:center; margin-bottom:20px;}
.demo_video{width:70.6%; float:none; margin:0 auto; clear:both;} /*394*/
.appstore_btn{ margin:0px;  float:none; display:inline-block; margin:20px 0 20px 0; text-align:center;}


}


@media only screen and (min-width:650px) and (max-width:767px) {
.simple_secure .simple_way{ width:auto; float:none; padding:18px 15px; background-position:-20px 10px; display:block; text-align:center;}
.simple_secure .simple_way h3{font-size:26px; line-height:34px; margin:40px 0 30px 0px;}
.simple_secure .simple_way h3 span{font-size:30px;}
.simple_secure .simple_way h4{text-align:right; font-size:34px; padding:40px 50px 90px 0; margin-bottom:10px;}
.appstore_btn{ margin:0px;  float:none; display:inline-block; margin:20px 0 20px 0; text-align:center;}

}


@media only screen and (min-width:568px) and (max-width:600px) {
/* Dental Files Responsive styling*/
ul.dentalfiles > li{width:25.5%!important; margin-right:10px!important; margin-left:0!important;} 	
ul.dentalfiles > li.mrn600{margin-right:0!important}
#test-form label, .compose_msg label{width:auto; display:block; padding-bottom:3px;}
#test-form input[type="text"], #test-form textarea, #test-form select{width:94.4%;}

/* Compose Page Responsive styling*/
ul.disp_inline li{width:49%; margin-right:0;}

/* Update Forms Responsive styling */
ul#form_info.information_panel li{padding:0 10px; width:auto; float:none;}
ul#form_info.information_panel input[type="text"]{float:none;}
ul#form_info.information_panel li label{width:25%!important; display:inline-block!important; *display:inline!important;}
ul#form_info.information_panel li label > div:first-child{display:none;}
ul#form_info.information_panel li label > div+div{margin-left:0%!important;}
ul#form_info.information_panel li > .input_box_forms{float:none!important;}
ul#form_info li span{float:none!important;}
table{width:100%;}
.radio_options{padding:5px 0!important; display:block;}
.radio_options table{width:25%;}
.radio_options input[type="radio"]{margin-right:3px!important;}
ul#form_info.table_fields .options{display:inline-block!important; width:21%!important;}
.panel-container ul#form_info li.action{ padding-top:15px;}

/* MyDental Home Responsive styling */
.simple_secure .simple_way h3{font-size:26px;}
.simple_secure .simple_way h4{padding:25px 35px 90px 0!important}
.input_pswd input[type="text"]{width:67.3%;}








}

@media only screen and (max-width: 600px){
	
.container_16 .accnt_settings .grid_12, .container_16 .accnt_settings.main_content .grid_4{width:auto!important; margin:0 10px!important; float:none!important; clear:both!important; padding:0;}
.container_16 .accnt_settings .grid_12{margin-top:50px!important;}
.container_16 .accnt_settings #form_right{width:auto!important;  float:none!important; clear:both!important;}
.accnt_settings #form_right .form_container{width:auto!important;  float:none!important; clear:both!important; padding-left:0}
ul#form_info li span.radio_options{ display:block!important}
.pagination .right_1, .pagination .right_panel_list_div .right_2 span{padding-right:0}
.pagination .center_1{ text-align:center; float:left; width:65%;}
.pagination .right_panel_list_div .center_1 span{float:none; display:inline-block;}
ul#form_info li.actions label{display:none!important;}
	}

@media only screen and (min-width: 480px) and (max-width: 767px) {	

.tool-container{margin-left:-30px!important;}
	#menu-icon{margin-left:0;}
.table .check{width:5%}
.table .message{width:auto; float:none; clear:both; padding:5px 0 0 0; margin-left:5%;}
/*.table .name, .table .date, .table .ref_by, .table .ref_to{padding:0; width:47%}
 */


.msg{ width:auto; float:left; padding:0px; }

.table .message .actions a{ display:inline!important;}
.actions a{ margin-left:0px; margin-right:10px;}
 .pagination .left_panel_list_div, .table .pagination .right_panel_list_div{float:none!important; width:auto!important; clear:both!important;}
 .pagination .left_panel_list_div{margin-bottom:20px!important;}
 ul.tablelist li .status{width:auto;}
 div.simple-tooltip{margin-left:-20px; font-size:13px!important; margin-bottom:5px; display:block!important;}
.tool-container.quick_links{margin-left:0!important;}
.tool-container.quick_links .arrow{margin-left:-172px!important}
div.simple-tooltip.top span.arrow {left:72%!important;}

/* My Info Responsive styling*/
.soc_media label{display:block; margin-bottom:5px;}
.soc_media label+a{margin-left:5px;}
.patient_history .pat_add .contact_box, .patient_history .pat_add .contact_box.guardian{width:auto!important; float:none;}
.patient_history .pat_add .contact_box.guardian{margin-top:15px;}
ul.tablelist li .pf_text{width:auto; float:none; clear:both; margin-bottom:10px}
ul.tablelist li .update, ul.tablelist li .send, ul.tablelist li .print{width:28.5%; padding:0;}
ul.tablelist li .status{width:auto;}

/* Treating Doctors Responsive styling*/
.treating_docs .desc{ width:auto; margin-left:60px; float:none;}

/* Dental Files Responsive styling*/
ul.dentalfiles > li{width:40.0%; margin-right:5px; margin-left:5px;} /*175*/
.mrn600, .mrn{ margin-right:5px!important;}
#test-form label, .compose_msg label{width:auto; display:block; padding-bottom:3px;}
#test-form input[type="text"], #test-form textarea{width:95.9%;}
#test-form .list_menu_forms{width:99.9%;}

/* Account Settings Responsive styling */
.settings_nots ul#form_info li, .settings_nots ul#form_info li label{display:block; width:auto; float:none;}
#test-form ul.tablelist li{ padding-right:0; padding-left:0;}

/* Help Page Responsive styling*/
.button{height:40px;}

/* Compose Page Responsive styling*/
ul.disp_inline li{width:49%; margin-right:0;}
.compose_msg input[type="text"], .compose_msg textarea{width:94.9%;}


/* Update Forms Responsive styling */
ul#form_info.information_panel{ padding:20px 10px 10px 10px!important; float:none; overflow:hidden; width:auto;}
ul#form_info.information_panel input{width:99.5%!important}
ul#form_info.information_panel.table_fields li > label{width:30%!important; float:none!important; display:inline-block!important;}
ul#form_info.information_panel.table_fields input{width:24%!important; float:none!important; padding-right:0!important; padding-left:0!important;}
ul#form_info.information_panel.table_fields label.field2{width:10%!important; float:none!important;}
ul#form_info.information_panel.table_fields .options{ float:none; display:inline-block; width:25%!important;}
ul#form_info table{width:100%;}
ul#form_info table td{width:50%}
ul#form_info.information_panel.table_fields .options table td label{display:inline!important;}
.radio_options{ float:none!important; display:block;}
.radio_options table{width:30%!important}
ul#form_info li input[type="checkbox"], ul#form_info li input[type="radio"]{margin-right:3px!important;}
ul#form_info li input[type="checkbox"]{-webkit-appearance:checkbox;}
/* Send Referral Responsive styling */
.patient_history .checkbox_listing ul li{width:45%;}
.patient_history .dental_list ul li{width:95px!important;}
.patient_history .dental_list li .thumb{vertical-align:top;}

/* MyDental Home Responsive styling */
.simple_secure .simple_way{ width:auto; float:none;  background-position:-20px 10px; display:block; text-align:center; padding:18px 0 20px 0;}
.simple_secure .simple_way h3{font-size:26px; line-height:34px; margin:40px 0 30px 170px;}
.simple_secure .simple_way h3 span{font-size:30px;}
.simple_secure .simple_way h4{text-align:center; font-size:34px; padding:40px 50px 90px 0; margin-bottom:10px;}
.appstore_btn{ margin-top:80px;}
/* Forgot Page Responsive styling */
.input_pswd input[type="text"]{margin:0 0 15px 0; width:100%;}
.input_pswd input[type="submit"], .input_pswd input[type="button"]{display:block; margin:0 auto;}

}

@media only screen and (min-width: 320px) and (max-width: 480px)
{
.MemberLoginDropDown{right:-100%!important;}
.simple_secure .simple_way h3{margin-top:10px;}
.simple_secure .simple_way h4{font-size:28px; padding-top:10px; padding-right:10px; margin-bottom:20px;}
}

@media only screen and (min-width: 320px) and (max-width: 479px) {	

.tool-container{margin-left:16%!important;}
.tool-container.quick_links{margin-left:2%!important;}
.tool-container.quick_links .arrow{margin-left:-10px!important;}
.tbody .message .msg{ width:auto; padding:0px; clear:both; float:none; }
 .messages_panel .table .check{ width:10%!important;}
  .table .check{ width:20px;}
.table .name, .table .date, .table .ref_by, .table .ref_to{padding:0; width:47%}
.table .date{text-align:right;}
.table .thead .message .actions{ width:auto!important; clear:none; float:none; text-align:right;}
.msg{ width:auto; float:left; padding:0px; }
.table .message{width:auto; float:none; clear:both; padding:5px 0 0 0; margin-left:5%;}
.table .message .actions{ width:auto!important; clear:both; float:none; text-align:left; padding-top:3px;}
.referrals .tbody .message{padding-top:5px;}
.table .message .actions a{ display:inline!important;}
.actions a{ margin-left:0px; margin-right:10px;}
.referrals .table .date, .referrals .table .status{text-align:left; width:45.6%} 
ul.nav_header .search_input_dashboard{ width:192px;}
  
h2.title input[type="button"], .h2.title input[type="submit"]{left:0; position:inherit; display:block; margin-top:10px;}
.pagination .left_panel_list_div, .table .pagination .right_panel_list_div{float:none!important; width:auto!important; clear:both!important;}
.pagination .left_panel_list_div{margin-bottom:20px!important;}
 
/* My Info Responsive styling*/
.soc_media label{display:block; margin-bottom:5px;}
.soc_media label+a{margin-left:0;}
.patient_history .pat_add .contact_box, .patient_history .pat_add .contact_box.guardian{width:auto!important; float:none;}
.patient_history .pat_add .contact_box.guardian{margin-top:15px;}
h2.title span + span{padding:0;}
ul.tablelist li .pf_text{width:auto; float:none; clear:both; margin-bottom:10px}
ul.tablelist li .update, ul.tablelist li .send, ul.tablelist li .print{width:28.5%; padding:0;}
ul.tablelist li .status{width:auto;}
ul.tablelist li .update{padding-right:15px;}
ul.tablelist li .update span, ul.tablelist li .send span, ul.tablelist li .print span{width:24px;}
div.simple-tooltip{margin-left:-25px;}
div.simple-tooltip.top span.arrow {left:78%!important;}
 
 
 /* Treating Doctors Responsive styling*/
.treating_docs .desc{ width:auto; float:none; padding:0;}
.treating_docs .thumb{margin-bottom:10px;}
.treating_docs .desc div:first-child{width:70.5%; float:left; clear:none; padding-left:15px;} /*180*/
.treating_docs .desc .block{width:auto; float:none; clear:both; }
.treating_docs .actions{padding:0;}
.treating_docs .actions input{margin:10px 10px 0 0;}

/* Dental Files Responsive styling*/
ul.dentalfiles > li{width:40.0%; margin-right:5px; margin-left:5px;} 
#test-form label, .compose_msg label{width:auto; display:block; padding-bottom:3px;}
#test-form input[type="text"], #test-form textarea, #test-form select{width:94.4%;}
.settings_nots ul#form_info li{display:block; width:auto; float:none;}
.settings_nots ul#form_info li label, #tab-container_2 ul#form_info li input[type="checkbox"]{float:none; display:inline!important; vertical-align:bottom;}
#tab-container_2 ul#form_info li input[type="checkbox"]{margin:0 5px 0 0;}
ul#form_info li.actions label{display:none;}

/* Account Settings Responsive styling */
#test-form input[type="text"], #test-form textarea{width:91.4%;}
#test-form .list_menu_forms{width:99.7%;}
#test-form ul.tablelist li, #test-form .actions{ padding-right:0; padding-left:0;}

/* Compose Page Responsive styling*/
.compose_msg input[type="text"], .compose_msg textarea{width:92%;}
ul.disp_inline li{display:block; width:auto;}

/* Update Forms Responsive styling */
.etabs .tab a{font-size:13px; padding:0 5px;}
ul#form_info.information_panel{ padding:20px 10px 10px 10px!important; float:none; overflow:hidden; width:auto;}
ul#form_info.information_panel input[type="text"]{width:99%!important}
ul#form_info.information_panel.table_fields li > label{width:30%!important; float:none!important; display:inline-block!important;}
ul#form_info.information_panel.table_fields input[type="text"]{width:24%!important; float:none!important;}
ul#form_info.information_panel.table_fields label.field2{width:10%!important; float:none!important;}
ul#form_info.information_panel.table_fields .options{ float:none; display:inline-block; width:25%!important;}
ul#form_info table{width:100%;}
ul#form_info table td{width:50%}
ul#form_info.information_panel.table_fields .options table td label{display:inline!important;}
.radio_options{ float:none!important}
.radio_options table{width:50%!important}
ul#form_info li input[type="checkbox"], ul#form_info li input[type="radio"]{margin-right:3px!important;}
ul#form_info .radio_options table label{display:inline-block!important; float:none!important;}
ul#form_info li span{display:block!important; padding-bottom:0!important}

/* Send Referral Responsive styling */
.patient_history .checkbox_listing ul li{width:auto; display:block; overflow:hidden;}
.patient_history .dental_list ul li{display:inline-block; overflow:inherit; width:100px!important; }
.patient_history .dental_list li .thumb{vertical-align:top;}

/* MyDental Home Responsive styling */

.main_content{float:none!important; width:auto!important;}
.right_side_links{position:inherit; top:0; width:auto!important; float:none!important;}
.right_side_links ul, .right_side_links ul li{float:none!important;}
.simple_secure .simple_way{padding:18px 15px 15px 15px; background-position:-85px 10px; display:block; text-align:center;}
.simple_secure .simple_way h3{margin:15px 0 95px 85px; line-height:28px; font-size:21px;}
.simple_secure .simple_way h3 span{font-size:22px;}
.demo_video{width:auto;}
.simple_secure .find_your_dentist{margin:0}
.simple_secure .find_your_dentist h3{width:100%; padding-left:0; padding-right:0;}
.main_content_dental .backrend_listing ul li{width:auto;!important}

/* Forgot Page Responsive styling */
.input_pswd input[type="text"]{margin:0 0 15px 0; width:100%;}
.input_pswd input[type="submit"], .input_pswd input[type="button"]{display:block; margin:0 auto;}
}

@media only screen and (max-width: 320px){	

	.tool-container{margin-left:-6px!important;}
	.tool-container.quick_links{width:200px!important; margin:0 10px 0 15%!important; left:0!important}
	.tool-container.quick_links ul li{display:block!important; width:auto!important; margin:10px 0 0 0!important}
	h2.title span{display:block; padding:0}
	.table .name, .table .date, .table .message, .table .ref_by, .table .ref_to, .referrals .table .date, .referrals .table .status{float:none; margin-left:20px; text-align:left; width:auto;}
	.table .date, .table .ref_to, .referrals .table .date, .referrals .table .status{padding-top:5px;} 
	.table .message .msg{float:none;}
	.referrals .table .date, .referrals .table .status{margin-left:0} 
	.referrals .message{padding-top:0;}
	.table .thead .message .actions{text-align:left;padding-top:5px;}
	.table .message .actions a{width:40%; display:inline-block!important; margin:5px 15px 0 0;}
	.left_1_pagesize, .right_1{width:auto!important; float:none!important; text-align:left; clear:both;}
	.right_1{padding-top:15px;}
	.left_1_pagesize span, .right_1 span{width:100px; padding:0!important;}
	#ucPagerControl1_btnPrevious, #ucPagerControl1_btnNext{width:10px; padding:10px 15px!important; text-indent:-9999px; display:block; background-position:8px center!important;}
	#ucPagerControl1_btnNext{background-position:16px center!important;}
	
	/* Dental Files Responsive styling*/
ul.dentalfiles > li{width:auto; margin-right:0;}
.mrn768, .mrn{margin-right:0!important;}
	.upload_file{margin-bottom:10px;}
 .mrn320{margin-right:0!important;}
 
/* Update Forms Responsive styling */
.container_16 .accnt_settings .grid_12{margin-top:30px !important}
ul#form_info.information_panel.table_fields li > label{display:block!important; width:auto!important;}
ul#form_info.information_panel.table_fields li{ padding-bottom:0!important}
ul#form_info li .input_box_forms, ul#form_info li textarea{width:98.2%; margin-right:0!important; padding-right:0!important; padding-left:0!important;}
ul#form_info.information_panel.table_fields input[type="text"]{width:99.5%!important; margin-bottom:10px; margin-right:0!important; padding-right:0!important; padding-left:0!important; }
ul#form_info.information_panel.table_fields .options{width:auto!important;}
.panel-container ul#form_info li.action{ padding-top:15px;}
.options {padding-top:5px;}
.options table{width:50%!important; margin-bottom:5px;}
ul#form_info.information_panel.table_fields label.field2{width:auto!important; margin-left:0}

/* MyDental Home Responsive styling */
.MemberLoginDropDown{right:-165%!important;}
.find_your_dentist form input[type="text"]{font-size:15px;}
.sign_steps p{line-height:24px;}
.pagination .center_1{width:60%;}
.pagination .right_panel_list_div .center_1 span{padding-top:0}

	}


/* Specific Classes for Chrome and Safari - Webkit  Browsers*/

@media screen and (-webkit-min-device-pixel-ratio:0) {
 .simple_secure .simple_way{padding-bottom:48px;}
}


/* Terms and Conditions */

h3.sub{font-weight:normal}
.paragraph p{line-height:20px;}
ul.bullet_list {
    margin: 0 0 20px 15px;
}
ul.bullet_list li {
    color: #666666;
    font-size: 14px;
    line-height: 23px;
    list-style: disc outside none;
    margin-top: 5px;
}

ul.listing li:first-child {
    margin-top: 0;
}

