/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/


/* Table of Contents
==================================================
	#Base 960 Grid
	#Tablet (Portrait)
	#Mobile (Portrait)
	#Mobile (Landscape)
	#Clearing */

/**************Global Structure*****************/
.wrapper{width:100%; overflow:hidden; position:relative;}
.extra-wrap{overflow:hidden; display:block;}


/* #Base 960 Grid
================================================== */

	.container_16{position: relative; width: 991px; margin: 0 auto; padding: 0;}
	.grid_1,
	.grid_2,
	.grid_3,
	.grid_4,
	.grid_5,
	.grid_6,
	.grid_7,
	.grid_8,
	.grid_9,
	.grid_10,
	.grid_11,
	.grid_12,
	.grid_13,
	.grid_14,
	.grid_15,
	.grid_16 {float: left; display: inline; margin-left: 10px; margin-right: 10px;}

	/* Nested Column Classes */
	.container_16 .alpha			{margin-left: 0 !important;}
	.container_16 .omega			{margin-right: 0 !important; margin-bottom:0 !important;}

	/* Base Grid */
	.container_16 .grid_1			{width: 40px; }
	.container_16 .grid_2			{width: 100px;}
	.container_16 .grid_3			{width: 160px;}
	.container_16 .grid_4			{width: 254px;}
	.container_16 .grid_5			{width: 275px;} /*280*/
	.container_16 .grid_6			{width: 340px;}
	.container_16 .grid_7			{width: 400px;}
	.container_16 .grid_8			{width: 460px;}
	.container_16 .grid_9			{width: 520px;}
	.container_16 .grid_10			{width: 580px;}
	.container_16 .grid_11			{width: 640px;}
	.container_16 .grid_12			{width: 696px;}
	.container_16 .grid_13			{width: 760px; }
	.container_16 .grid_14			{width: 820px;}
	.container_16 .grid_15			{width: 880px;}
	.container_16 .grid_16			{width: 940px;}
	
	/* Prefix Extra Space >> 16 Columns */
	.container_16 .prefix_1 		{padding-left:60px;}
	.container_16 .prefix_2 		{padding-left:120px;}
	.container_16 .prefix_3 		{padding-left:180px;}
	.container_16 .prefix_4 		{padding-left:240px;}
	.container_16 .prefix_5 		{padding-left:300px;}
	.container_16 .prefix_6 		{padding-left:360px;}
	.container_16 .prefix_7 		{padding-left:420px;}
	.container_16 .prefix_8 		{padding-left:480px;}
	.container_16 .prefix_9 		{padding-left:540px;}
	.container_16 .prefix_10 		{padding-left:600px;}
	.container_16 .prefix_11 		{padding-left:660px;}
	.container_16 .prefix_12 		{padding-left:720px;}
	.container_16 .prefix_13 		{padding-left:780px;}
	.container_16 .prefix_14 		{padding-left:840px;}
	.container_16 .prefix_15 		{padding-left:900px;}
	
	/* Suffix Extra Space >> 16 Columns */
	.container_16 .suffix_1 		{padding-right:60px;}
	.container_16 .suffix_2 		{padding-right:120px;}
	.container_16 .suffix_3 		{padding-right:180px;}
	.container_16 .suffix_4 		{padding-right:240px;}
	.container_16 .suffix_5 		{padding-right:300px;}
	.container_16 .suffix_6 		{padding-right:360px;}
	.container_16 .suffix_7 		{padding-right:420px;}
	.container_16 .suffix_8 		{padding-right:480px;}
	.container_16 .suffix_9 		{padding-right:540px;}
	.container_16 .suffix_10 		{padding-right:600px;}
	.container_16 .suffix_11 		{padding-right:660px;}
	.container_16 .suffix_12 		{padding-right:720px;}
	.container_16 .suffix_13 		{padding-right:780px;}
	.container_16 .suffix_14 		{padding-right:840px;}
	.container_16 .suffix_15 		{padding-right:900px;}
	
	/*twin columns*/
	.dgrid_2{float:left; width:100px;}
	.dgrid_3{float:left; width:160px;}
	.dgrid_4{float:left; width:220px;}
		.dgrid_2:first-child, .dgrid_3:first-child, .dgrid_4:first-child{margin-right:20px;}
	/*triple columns*/
	.tgrid_2{float:left; width:100px; margin-right:20px;}
	.tgrid_3{float:left; width:160px; margin-right:20px;}
		.tgrid_2.last-col, .tgrid_3.last-col{margin-right:0px;}
	
/* #Tablet (Portrait)
================================================== */

	/* Note: Design for a width of 768px */

	@media only screen and (max-width: 995px) {
		.container_16					{width: 768px;}
		.container_16 .grid_1			{width: 28px;}
		.container_16 .grid_2			{width: 76px;}
		.container_16 .grid_3			{width: 124px;}
		.container_16 .grid_4			{width: 172px;}
		.container_16 .grid_5			{width: 220px;}
		.container_16 .grid_6			{width: 268px;}
		.container_16 .grid_7			{width: 316px;}
		.container_16 .grid_8			{width: 364px;}
		.container_16 .grid_9			{width: 412px;}
		.container_16 .grid_10			{width: 460px;}
		.container_16 .grid_11			{width: 508px;}
		.container_16 .grid_12			{width: 556px;}
		.container_16 .grid_13			{width: 604px;}
		.container_16 .grid_14			{width: 652px;}
		.container_16 .grid_15			{width: 700px;}
		.container_16 .grid_16			{width: 748px;}
		/* Prefix Extra Space >> 16 Columns */
		.container_16 .prefix_1 		{padding-left:48px;}
		.container_16 .prefix_2 		{padding-left:96px;}
		.container_16 .prefix_3 		{padding-left:144px;}
		.container_16 .prefix_4 		{padding-left:192px;}
		.container_16 .prefix_5 		{padding-left:240px;}
		.container_16 .prefix_6 		{padding-left:288px;}
		.container_16 .prefix_7 		{padding-left:336px;}
		.container_16 .prefix_8 		{padding-left:384px;}
		.container_16 .prefix_9 		{padding-left:432px;}
		.container_16 .prefix_10 		{padding-left:480px;}
		.container_16 .prefix_11 		{padding-left:528px;}
		.container_16 .prefix_12 		{padding-left:576px;}
		.container_16 .prefix_13 		{padding-left:614px;}
		.container_16 .prefix_14 		{padding-left:672px;}
		.container_16 .prefix_15 		{padding-left:720px;}
		/* Suffix Extra Space >> 16 Columns */
		.container_16 .suffix_1 		{padding-right:48px;}
		.container_16 .suffix_2 		{padding-right:96px;}
		.container_16 .suffix_3 		{padding-right:144px;}
		.container_16 .suffix_4 		{padding-right:192px;}
		.container_16 .suffix_5 		{padding-right:240px;}
		.container_16 .suffix_6 		{padding-right:288px;}
		.container_16 .suffix_7 		{padding-right:336px;}
		.container_16 .suffix_8 		{padding-right:384px;}
		.container_16 .suffix_9 		{padding-right:432px;}
		.container_16 .suffix_10 		{padding-right:480px;}
		.container_16 .suffix_11 		{padding-right:528px;}
		.container_16 .suffix_12 		{padding-right:576px;}
		.container_16 .suffix_13 		{padding-right:614px;}
		.container_16 .suffix_14 		{padding-right:672px;}
		.container_16 .suffix_15 		{padding-right:720px;}
		
		/*twin columns*/
		.dgrid_2{width:76px;}
		.dgrid_3{width:124px;}
		.dgrid_4{width:172px;}
		/*triple columns*/
		.tgrid_2{width:76px;}
		.tgrid_3{width:124px;}
		
		/*styles*/
		img{max-width:100%; height:auto;}
		.hide-tp{display:none !important;}
		.img-indent-none-tp{float:none !important; margin-right:0 !important; margin-bottom:20px !important;}
		.clear-tp{display:block; clear:both !important; padding-top:20px !important;}
		.extra-wrap-none-tp{overflow:visible !important;}
	}

/*  #Mobile (Portrait)
================================================== */

	/* Note: Design for a width of 480px */

	@media only screen and (max-width: 767px) {
		.container_16 {width: 525px;}
		.columns, .column {margin: 0;}
		.container_16 .grid_1,
		.container_16 .grid_2,
		.container_16 .grid_3,
		.container_16 .grid_4,
		.container_16 .grid_5,
		.container_16 .grid_6,
		.container_16 .grid_7,
		.container_16 .grid_8,
		.container_16 .grid_9,
		.container_16 .grid_10,
		.container_16 .grid_11,
		.container_16 .grid_12,
		.container_16 .grid_13,
		.container_16 .grid_14,
		.container_16 .grid_15,
		.container_16 .grid_16{width: 100%; margin-left:0; margin-right:0;}

		.container_16 .grid_2,
		.container_16 .grid_3,
		.container_16 .grid_4,
		.container_16 .grid_5,
		.container_16 .grid_6,
		.container_16 .grid_7,
		.container_16 .grid_8,
		.container_16 .grid_9,
		.container_16 .grid_10,
		.container_16 .grid_11,
		.container_16 .grid_12,
		.container_16 .grid_13,
		.container_16 .grid_14,
		.container_16 .grid_15{margin-bottom:30px;}
		
		/* Prefix Extra Space >> 12 Columns */
		.container_16 .prefix_1,
		.container_16 .prefix_2,
		.container_16 .prefix_3,
		.container_16 .prefix_4,
		.container_16 .prefix_5,
		.container_16 .prefix_6,
		.container_16 .prefix_7,
		.container_16 .prefix_8,
		.container_16 .prefix_9,
		.container_16 .prefix_10,
		.container_16 .prefix_11,
		.container_16 .prefix_12,
		.container_16 .prefix_13,
		.container_16 .prefix_14,
		.container_16 .prefix_15{padding-left:0;}
		/* Suffix Extra Space >> 12 Columns */
		.container_16 .suffix_1,
		.container_16 .suffix_2,
		.container_16 .suffix_3,
		.container_16 .suffix_4,
		.container_16 .suffix_5,
		.container_16 .suffix_6,
		.container_16 .suffix_7,
		.container_16 .suffix_8,
		.container_16 .suffix_9,
		.container_16 .suffix_10,
		.container_16 .suffix_11,
		.container_16 .suffix_12,
		.container_16 .suffix_13,
		.container_16 .suffix_14,
		.container_16 .suffix_15{padding-right:0;}
		
		/*twin columns*/
		.dgrid_2, .dgrid_3, .dgrid_4{width:200px;}
		/*triple columns*/
		.tgrid_2, .tgrid_3{width:126px;}
		
		/*styles*/
		.last-col{margin-bottom:0 !important;}
		.hide-ml{display:none !important;}
		.img-indent-none-ml{float:none !important; margin-right:0 !important; margin-bottom:20px !important;}
		.clear-ml{display:block; clear:both !important; padding-top:20px !important;}
		.extra-wrap-none-ml{overflow:visible !important;}
		.public_profile_data h1{ margin:0 0 0 0;}		
		.new_patient_signup{ margin-top:0px!important;}
		.new_patient_signup h3.newpatient{ font-size:24px!important;}
		.large_button { width:90%; font-size:20px;}
	}


/* #Mobile (Landscape)
================================================== */

	/* Note: Design for a width of 320px */

	@media only screen and (max-width: 479px) {
		.container_16 {width: 300px;}
.large_button { width:90%; font-size:20px;}
		/*twin columns*/
		.dgrid_2, .dgrid_3{width:140px;}
		.dgrid_4{width:300px;}
			.dgrid_4:first-child{margin-right:0; margin-bottom:30px;}
		/*twin columns*/
		.tgrid_2, .tgrid_3{width:90px; margin-right:15px;}
		
		/*styles*/
		.hide-mp{display:none !important;}
		.img-indent-none-mp{float:none !important; margin-right:0 !important; margin-bottom:20px !important;}
		.clear-mp{display:block; clear:both !important; padding-top:20px !important;}
		.extra-wrap-none-mp{overflow:visible !important;}
	}


/* #Clearing
================================================== */

	/* Self Clearing Goodness */
	.container_16:after {content: "\0020"; display: block; height: 0; clear: both; visibility: hidden;}

	/* Use clearfix class on parent to clear nested columns,
	or wrap each row of columns in a <div class="row"> */
	.clearfix:before,
	.clearfix:after,
	.row:before,
	.row:after {
		content: '\0020';
		display: block;
		overflow: hidden;
		visibility: hidden;
		width: 0;
		height: 0;}
	.row:after,
	.clearfix:after {clear: both;}
	.row, .clearfix {zoom: 1;}

	/* You can also use a <br class="clear" /> to clear columns */
	.clear {
		clear: both;
		display: block;
		overflow: hidden;
		visibility: hidden;
		width: 0;
		height: 0;
	}