nav{/*position:absolute;*/ padding-top:23px;}
.sf-menu {list-style:none;display:block;text-align:center;margin:0 auto;}
#menu-icon{display:none}
#menu-icon2{display:none}
#menu-icon_3{display:none}


.sf-menu a{
	-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}

.sf-menu > li {
	position:relative;
	display:inline-block;
	    float:left; margin:0 1px 0 0; -webkit-appearance: none;
    border-radius: 0;)
}


.sf-menu > li > a input{  -webkit-appearance: none; border-radius: 0; }
.sf-menu > li > input[type="submit"]{background:#B1BCCE; transition: all 0.3s ease; height:40px; float:left; border:0px;  margin:0px; padding:0px; padding:0 10px 0 37px; text-align:left; cursor:pointer; font-size:14px;}
.sf-menu > li > input:hover{background:#0691c5; color:#fff;}

.sf-menu > li > a input.AboutDoctor_btn{  height:40px; float:left;  float:left; background:#b1bcce url(/Dentalimages/about_icon.png) no-repeat 0 0 ; border:0px;  margin:0px; padding:0px; padding:0 10px 0 25px; text-align:left; cursor:pointer; font-size:14px; line-height:35px; }

.sf-menu > li > a.current input.AboutDoctor_btn{  height:40px; float:left;  float:left; background:#0691c5 url(/Dentalimages/about_icon_hover.png) no-repeat 0 0 ; border:0px;  margin:0px; padding:0px; padding:0 10px 0 25px; text-align:left; cursor:pointer; font-size:14px; color:#fff; line-height:35px;}
.sf-menu > li > a input:hover{ color:#0691c5;}

.sf-menu > li > a input.patientforms{  height:40px; float:left;  float:left; background:#b1bcce url(/Dentalimages/patient_form_icon.png) no-repeat 0 0 ; border:0px;  margin:0px; padding:0px; padding:0 10px 0 28px; text-align:left; cursor:pointer; font-size:14px;}

.sf-menu > li > a.current input.patientforms{ height:40px; float:left;  float:left; background:#0691c5 url(/Dentalimages/patient_form_icon_hover.png) no-repeat 0 0 ; border:0px;  margin:0px; padding:0px; padding:0 10px 0 28px; text-align:left; cursor:pointer; font-size:14px; color:#fff; line-height:35px;}

.sf-menu > li > a input.referpatient{ height:40px; float:left;  float:left; background:#b1bcce url(/Dentalimages/refer_patient.png) no-repeat 0 0 ; border:0px;  margin:0px; padding:0px; padding:0 10px 0 37px; text-align:left; cursor:pointer; font-size:14px;}

.sf-menu > li > a.current input.referpatient{  height:40px; float:left;  float:left; background:#0691c5 url(/Dentalimages/refer_patient_hover.png) no-repeat 0 0 ; border:0px;  margin:0px; padding:0px; padding:0 10px 0 37px; text-align:left; cursor:pointer; font-size:14px; color:#fff; line-height:35px;}

.sf-menu > li > a input.patientlogin{  height:40px; float:left;  float:left; background:#b1bcce url(/Dentalimages/patient_login.png) no-repeat 0 0 ; border:0px;  margin:0px; padding:0px; padding:0 10px 0 34px; text-align:left; cursor:pointer; font-size:14px;}

.sf-menu > li > a.current input.patientlogin{  height:40px; float:left;  float:left; background:#0691c5 url(/Dentalimages/patient_login_hover.png) no-repeat 0 0 ; border:0px;  margin:0px; padding:0px; padding:0 10px 0 34px; text-align:left; cursor:pointer; font-size:14px; color:#fff; line-height:35px;
}


.sf-menu > li > input.signup{ background:#b1bcce url(/Dentalimages/signup_btn.png) no-repeat 0 0 ;}

.sf-menu > li > input.signup:hover, .sf-menu > li.current > input.signup{  background:#0691c5 url(/Dentalimages/signup_btn_hover.png) no-repeat 0 0; color:#fff;}

.sf-menu > li > input.quicktour{ background:#b1bcce url(/Dentalimages/quicktour.png) no-repeat 0 0 ;}

.sf-menu > li > input.quicktour:hover, .sf-menu > li.current > input.quicktour{ background:#0691c5 url(/Dentalimages/quicktour_o.png) no-repeat 0 0; color:#fff;}

.sf-menu > li > input.aboutus{ background: url(/Dentalimages/patient_login.png) #B1BCCE no-repeat 0 0 ;}

.sf-menu > li > input.aboutus:hover, .sf-menu > li.current > input.aboutus{  background:#0691c5 url(/Dentalimages/patient_login_hover.png) no-repeat 0 0; color:#fff;}

.sf-menu > li > input.contactus{background:#b1bcce url(/Dentalimages/contact.png) no-repeat 0 0 ;}

.sf-menu > li > input.contactus:hover, .sf-menu > li.current > input.contactus{background:#0691c5 url(/Dentalimages/contact_hover.png) no-repeat 0 0; color:#fff;}

.sf-menu > li > a input.dentaloffice{  height:40px; float:left;  float:left; background:#b1bcce url(/Dentalimages/dental_office.png) no-repeat 0 0 ; border:0px;  margin:0px; padding:0px; padding:0 10px 0 34px; text-align:left; cursor:pointer; font-size:14px;}

.sf-menu > li > a.current input.dentaloffice{  height:40px; float:left;  float:left; background:#0691c5 url(/Dentalimages/dental_office_hover.png) no-repeat 0 0 ; border:0px;  margin:0px; padding:0px; padding:0 10px 0 37px; text-align:left; cursor:pointer; font-size:14px; color:#fff; line-height:35px;}









		
	.sf-menu > li > a {color:#3f3f3f;display:block;z-index:10;position:relative;font-size:11px;line-height:18px;font:14px/18px Helvetica, Arial, sans-serif; font-weight:bold; padding:0; background: url(/Dentalimages/un_selected_img.png) #B1BCCE no-repeat center top; color:#17335c;}
	
		.sf-menu > li.sfHover > a,.sf-menu > li:hover > a, .sf-menu > li.current > a  {text-decoration:none;color:#c9a576; background: url(/Dentalimages/selected_img.png) no-repeat center top; color:#fff;}
		.sf-menu > li.sfHover > a .sf-sub-indicator,.sf-menu > li:hover > a .sf-sub-indicator, .sf-menu > li.current > a .sf-sub-indicator  {background-position: 0 top; }
		

		.sf-menu > li > a .sf-sub-indicator{display:inline-block; width:9px; height:4px; position:relative;  background:url(/Dentalimages/indicator.png) 0 0 no-repeat;margin:9px 0 0 4px;display:none}
/***submenu***/
.sf-menu ul {
	position:absolute;
	top:-999em;
	z-index:99;
	width:156px; 
	display:none;
	padding:20px 20px 20px 24px;
	background:#fff;
}






.sf-menu ul ul{background:none;position:relative;padding-bottom:0px;padding-top:8px}

.sf-menu li li{
	width:100%;
	padding:0;
	position:relative;margin-bottom:8px;display:block;text-align:left !important
   

}
	.sf-menu li li a{
		display:inline-block;	
		padding:0 0 0 12px;		
		background:url(/Dentalimages/marker-item.png) no-repeat -4px 5px;
		-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;font-size:12px;line-height:18px;color:#3f3f3f;text-align:left !important; 
	}
	
	.sf-menu li li li a{font-size:11px;line-height:14px;background-position:-4px 3px}
	
		.sf-menu li li > a:hover,.sf-menu li li.sfHover > a{text-decoration:none; color:#c9a576;background-position: 0 5px}
		.sf-menu li li li > a:hover{background-position: 0 3px}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left:-30px;
	top:38px;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:-999em;
}
/***subsubmenu***/


ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left:-8px;
	top:0px;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:-999em;
}

/* Design for a width of 768px */
@media only screen and (max-width: 995px){	
.sf-menu > li > a .sf-sub-indicator{display:none}

}


@media only screen and (max-width: 767px) {
	
	.sf-menu > li {margin:0 7px}
	

}

@media only screen and (max-width: 767px) {
nav{width:100%;text-align:center}
	/* menu icon */
	
	
	#menu-icon2 {
	color: #17335c;	background:none;  
	font-size:16px;
	line-height:18px;
		cursor: pointer;	
		text-transform:uppercase;
		display: inline-block; /* show menu icon */
		text-align:center;padding:10px	 16px; background-color:#b1bcce; font-weight:bold;
	}
	
	#menu-icon {
	color: #17335c;	background:none;  
	font-size:16px;
	line-height:18px;
		cursor: pointer;	
		text-transform:uppercase;
		display: inline-block; /* show menu icon */
		text-align:center;padding:10px 0; background-color:#b1bcce; font-weight:bold; width:80px;
	}
	
	
 #menu-icon span{
	display: inline-block;
	width: 9px;
	height: 4px;
	position: relative;
	/* [disabled]background:url(/Dentalimages/indicator.png) 0 bottom no-repeat; */
	margin: 9px 0 0 2px;
}
 
  #menu-icon2 span{display:inline-block; width:9px; height:4px; position:relative;  background:url(/Dentalimages/indicator.png) 0 bottom no-repeat;margin:9px 0 0 2px;}
  
  		#menu-icon2:hover span,#menu-icon2.active span{
	background-position: 0 0
	}
  
	
	#menu-icon:hover,#menu-icon.active {
	color:#fff; background-color:#0691c5; 
	}
	
		#menu-icon:hover span,#menu-icon.active span{
	background-position: 0 0
	}
	
.sf-menu li  a .sf-sub-indicator{display:inline-block; width:9px; height:4px; position:relative;  background:url(/Dentalimages/indicator.png) 0 0 no-repeat;margin:9px 0 0 4px;display:inline-block}]
.sf-menu  li.sfHover  li a .sf-sub-indicator,.sf-menu  li:hover li  a  .sf-sub-indicator  {background-position: 0 bottom !important}
	/* main nav */
	.sf-menu {
		clear: both;
		position: absolute;
		top: 41px;
		left:50%;margin-left:-49px;
		width: 128px;
		z-index: 10000;
		padding: 10px;
		background:#fff;
		border:1px solid #e2e2e2; 
		display: none; /* visibility will be toggled with jquery */
	}
	.sf-menu li {display:block;
		clear: both;
		float: none;
		margin: 0 0 8px;
		background:none !important;
		border:none !important;
		box-shadow:none !important;text-align:left !important
	}
	
		.sf-menu >li > a{
		display:inline-block;	
		
		
	}
	.sf-menu > li.sfHover > a,.sf-menu > li:hover > a, .sf-menu > li.current > a  {}
	.sf-menu li li a{font-size:11px}
	.sf-menu li li  li a{font-size:10px}
	.sf-menu li a:hover{}
	
	/* dropdown */
	.sf-menu ul,.sf-menu ul  ul {
		width: auto;
		position: static;
		border: none;
		background: inherit;
		padding:0 0 0 10px;
		box-shadow:none;
	}
.sf-menu ul,.sf-menu ul ul {padding-top:8px}










.input_tabbing {
		clear: both;
		position: absolute;
		
		left: 0;
    margin-left: auto;
    margin-right: auto;
    right: 0;
		width: 200px;
		z-index: 10000;
		padding: 16px 16px 10px 16px;
		background:#fff;
		border:1px solid #e2e2e2; 
		display: none; /* visibility will be toggled with jquery */
	}
	.input_tabbing li {display:block;
		clear: both;
		float: none;
		margin: 0 0 8px;
		background:none !important; 
		border:none !important;
		box-shadow:none !important;text-align:left !important
	}
	
		.input_tabbing >li > a{
		display:inline-block;	
		
		
	}
	.input_tabbing > li.sfHover > a,.input_tabbing > li:hover > a, .input_tabbing > li.current > a  {}
	.input_tabbing li li a{font-size:11px}
	.input_tabbing li li  li a{font-size:10px}
	.input_tabbing li a:hover{}
	
	/* dropdown */
	.input_tabbing ul,.input_tabbing ul  ul {
		width: auto;
		position: static;
		border: none;
		background: inherit;
		padding:0 0 0 10px;
		box-shadow:none;
	}
.input_tabbing ul,.input_tabbing ul ul {padding-top:8px}



#menu-icon_3 {
	color: #17335c;	background:none;  
	font-size:16px;
	line-height:18px;
		cursor: pointer;	
		text-transform:uppercase;
		display: inline-block; /* show menu icon */
		text-align:center; font-weight:bold; width:auto; padding:10px 30px 10px 10px;
		background:#b1bcce url(/Dentalimages/aero_bottom.png) no-repeat right 9px;
		
		
	}
	
	
 #menu-icon_3 span{
	display: inline-block;
	width: auto;
	height: auto;
	 


}











}


@media only screen and (min-width: 768px) {.sf-menu { display:block !important; } }

