div.simple-tooltip {
	position: absolute;
	display: block;
	width: auto;
	max-width: 280px;
	height: auto;
	padding: 10px 15px;
	color: white;
	font-size:14px;	
	border: solid 1px #00678d;
	background-color: #0691c5;
	line-height: 15px;
	margin-bottom: 0;	
	z-index: 2000
}
div.simple-tooltip span.arrow {
	display: block;
	position: absolute;
	width: 17px;
	height: 17px;
	background-image: url(/Dentalimages/seablue-theme.png);
	background-repeat: no-repeat
}
div.simple-tooltip.pastelblue {
	background-color: #cddcf3;
	color: #444;
	border: solid 6px #fff;
	-webkit-box-shadow: 0 0 12px rgba(0,0,0,.3);
	-moz-box-shadow: 0 0 12px rgba(0,0,0,.3);
	box-shadow: 0 0 12px rgba(0,0,0,.3)
}

div.simple-tooltip.top span.arrow {
	bottom: -17px;
	left: 50%;
	margin-left: -8px;
	background-position: -102px 0
}