﻿.passvalidation {
    position: relative;
}
#pswd_info {
    position: relative;
    top: 10px;
    left: 0px;
    width: 285px;
    padding: 15px;
    background: #fefefe;
    font-size: .875em;
    border-radius: 5px;
    box-shadow: 0 1px 3px #ccc;
    border: 1px solid #ddd;
    z-index: 99999;
}
#pswd_info ul{
    padding-left: 20px;
}
#pswd_info h4 {
        margin: 0 0 10px 0;
        padding: 0;
        font-weight: normal;
    }
#pswd_info::before {
        content: "\25B2";
        font-size: 14px;
        color: #ddd;
        text-shadow: none;
        float: left;
        margin-left: 0;
        margin-top: -29px;
    }
.invalid {
    background: url(/Content/images/pass-wrong.png) no-repeat 0 50%;
    padding-left: 22px;
    line-height: 24px;
    color: #ec3f41;
}
.valid {
    background: url(/Content/images/pass-right.png) no-repeat 0 50%;
    padding-left: 22px;
    line-height: 24px;
    color: #3a7d34;
}
#pswd_info {
    display: none;
}
.new-case.case-overview.account_page{
    overflow: visible;
}
