﻿@model DentalFiles.Models.Forgotpassword
@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}
<div class="grid_11">
    <div class="paragraph">
        <h3>
            Forgot Password</h3>
        <div class="forgot_pswd">
            <p>
                LOST YOUR PASSWORD? PLEASE ENTER YOUR EMAIL ADDRESS. YOU WILL RECEIVE A LINK TO CREATE A NEW PASSWORD VIA EMAIL.</p>
        </div>
        <form class="input_pswd">
        @Html.TextBoxFor(m => m.Email, new { id = "txtemail", @onblur = "if(this.value=='') this.value='Username or Email';", @onfocus = "if(this.value=='Username or Email') this.value='';", @class = "inputbox_signup", @placeholder = "Email", @tabindex = "23" })
        <input id="btnsubmit" type="button" onclick="btnsubmitclickfgt()" tabindex="24">
        </form>
    </div>
    <div class="clear">
    </div>
</div>
@Html.Partial("_RequestInfo")
<div class="clear">
</div>
<script type="text/javascript">

    function btnsubmitclickfgt() {

        if ($('#txtemail').val() == null || $('#txtemail').val() == '' || $('#txtemail').val() == "Username or Email") {

            //alert('Please Enter Email Id');
            swal({ title: "", text: 'Please enter email id' });
            document.getElementById('txtemail').focus();
            return false;
        }

        var result = IsEmail($('#txtemail').val());
        if (result == true)
        { }
        else {
            //alert('Please Enter Valid Email Id');
            swal({ title: "", text: 'Please enter valid email id' });
            document.getElementById('txtemail').focus();
            return false;
        }
        $("#divLoading").show();
        $.ajax({
            url: '@Url.Action("MForgotpassword", "ForgotPassword")?Email=' + $('#txtemail').val() + '',
            type: 'POST',
            dataType: 'html',
            contenttype: "application/x-www-form-urlencoded",
            cache: false,
            ProcessData: false,
            success: function 
                           (output, status, xhr) {
                obj = jQuery.parseJSON(output);
                document.getElementById('txtemail').value = '';
                $('#Message').html(obj.Message);
                $('#Message').delay(300).slideDown(300).delay(2000).slideUp(300);
                $("#divLoading").hide();

            },
            error: function (xhr) {


                if (typeof (console) != 'undefined') {
                    // console.log(xhr.responseText);
                }
            }
        });

    }
</script>
