﻿@using System.Web.Optimization
@model DentalFiles.Models.PatientSignUp
@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}
@Scripts.Render("~/bundles/jqueryval")
<div class="patient_login_box">
    <div class="login_box">
        <div class="clear">
        </div>
        <h2 align="center" class="patient_login_heading" style="font-size:18px;">
            Hi<span style="color:Black;">
                @if (ViewBag.PatientName != null)
                {
                    @ViewBag.PatientName
                }
            </span>,&nbsp;please reset your password here.
        </h2>
        <div class="content_area">
            <div class="input_border_login" style="margin-left: 25%">
                <input type="password" id="txtppassword" class="input_box_login" placeholder="Enter new password" />
                <br />
                <br />
                <div style="color: Red" id="dvPasswordval">
                </div>
                <div style="color: Red" id="dvPassword">
                </div>
            </div>
            <br />
            <br />
            <br />


            <div class="input_border_login_2" style="margin-left: 25%">
                <input type="password" id="txtprepassword" class="input_box_login" placeholder="Confirm new password" />
                <br />
                <br />
                <div style="color: Red" id="dvConfirmPassword">
                </div>
            </div>
            <div class="button_section_center">
                <input value="Submit" validationgroup="reqinfo" onclick="return UpdatePatientPassword();"
                       class="button_2" type="submit" />
            </div>
        </div>
        <div class="clear">
        </div>
    </div>
</div>
<div class="clear">
</div>
<script type="text/javascript">


    function UpdatePatientPassword() {
        var Password = $("#txtppassword").val();

        if (Password == '') {
            //alert("Please enter New Password");
            swal({ title: "", text: 'Please enter new password' });
            return false;
        }

        var passwordMX = $("#txtppassword").val().length;


        if (passwordMX < 17 && passwordMX > 7) {
        } else {
            //alert("Password Accept minimum 8 character and maximum 16 character");
            swal({ title: "", text: 'Password must be a minimum of 8 characters long and contain an upper and lower case letter, a number, and a symbol such as #,!,$,%,&,_..' });
            return false;
        }

        var ConfirmPassword = $('#txtprepassword').val();

        if (Password != ConfirmPassword) {
            // alert("Confirm Password Not Match.");
            swal({ title: "", text: 'New password and confirm password does not match.' });
            return false;
        }
        var Email = window.location.search.substring(1);
        Email = Email.replace("XSDFHI=", "");
        $.post("/ForgotPassword/UpdatePasswordFromLink", { Password: Password, Email: Email }, function (data) {
            if (data == "1") {
                //alert("Password updated successfully");
                swal({
                    title: "Successfully",
                    text: "Password updated successfully",
                    type: "",
                    timer: 1500,
                    showConfirmButton: false
                });
                window.location.href = '../DashBoard';
            }
            else {
                // alert("Failed to update password");
                swal({ title: "", text: 'Failed to update password', type: 'error' });
            }
        });
    }

</script>
