﻿@model NewRecordlinc.Models.Appointment.CreateAppointment
<style>
    .fa {
        line-height: 18px !important;
    }
</style>
<div class="tbletopdiv">
    <table class="col-md-12 table-bordered table-striped table-condensed cf searchtablepatient text-left">
        <tbody>
            @if (Model.PatientlistCustom.Count > 0)
            {
                foreach (var item in Model.PatientlistCustom)
                {

                    <tr class="trcursore" onclick="GetAppointmentDateForDoctor(@item.PatientId, '@item.PatientName');">
                        <td class="width10">
                            <div class="cercle-ring">
                                <img src="@item.ImageName" height="52" width="50" title="@item.PatientName">
                            </div>
                        </td>
                        <td data-title="Company" class="valigntp" style="width:50%">

                            <span class="spantagceckle">
                                @item.PatientName
                            </span>
                            @if (item.PhoneNumber != "")
                            {
                                <p class="ptagforceckle"><i class="fa fa-phone" aria-hidden="true"></i> @item.PhoneNumber</p>
                            }
                            @if (item.PatientNumber != "")
                            {

                                <p class="ptagforceckle"><i class="fa fa-user" aria-hidden="true"></i> @item.PatientNumber</p>
                            }
                        </td>
                        <td>
                            <span class="spantagceckle">
                                &nbsp;
                                @*@if (item.locationId != 0)
                                {
                                    @Model.locationList.Where(x => x.locationId == item.locationId).FirstOrDefault().locationName
                                }
                                else
                                {
                                    <span> N/A </span>
                                }*@
                            </span>
                        </td>
                    </tr>
                }
            }
            else
            {
                <div class="col-md-12">No Record Found</div>
            }
        </tbody>
    </table>

</div>
<span class="errormsg" id="lblpaintsmessage">Please select patient.</span>