﻿@model NewRecordlinc.Models.Appointment.CreateAppointment

<style>
    .tbletopdiv {
        border: 1px solid #ccc;
    }

    .table-bordered tbody {
        border: 1px solid #ddd !important;
    }

    @@media only screen and (max-width: 768px) {
        .modal-dialog {
            width: 93% !important;
        }
    }
</style>

<div id="bookAppointmentWindow">

    <link href="~/Content/Appointment/Css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Appointment/Css/bootstrap-toggle.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Appointment/Css/Cerclecssforpatientlist.css" rel="stylesheet" />

    <div id="msform" class="bookappointmentInnederBody">

        <div class="col-md-12">
            <h2 class="fs-title modal-title">&nbsp; Book Your Appointment </h2>
        </div>
        <button data-dismiss="modal" type="button" class="mfp-close">×</button>
        <!-- progressbar -->
        <ul id="progressbar" style="font-size:17px;">
            <li class="active">Select Patient </li>
            <li>Select Provider</li>
            <li>Book Appointment</li>
        </ul>
        <!-- fieldsets -->
        <fieldset>
            <div class="col-md-12 devtable-border">
                @*@Html.TextBoxFor(m => m.PatientName, new { @onkeyup = "SearchPatient();", @style = "margin-bottom:5px;margin-right: 0px; padding:12px;float:left;font-size: 14px;line-height: 18px;border-radius: 0px;", @class = "custominputclass123", @id = "PatientIdForSearch", @placeholder = "Name" })*@
                @*<div class="dropdown devbox7" style="float: left;width:31%;">
                        @Html.HiddenFor(m => m.FromTime, new { @readonly = "readonly" })
                        @Html.DropDownListFor(m => m.locationId, new SelectList(Model.locationList, "locationId", "locationName"), "All", new { @onchange = "SearchPatient();",@style = "width: 100%; padding: 12px; border-radius: 0px; border: 1px solid rgb(204, 204, 204);", @class = "custominputclass123" })
                    </div>*@
                <div class="col-md-8" style="padding:0px;">
                    @Html.TextBoxFor(m => m.PatientName, new { @onkeyup = "SearchPatient();", @style = "margin-bottom:5px;margin-right: 0px; padding:12px;float:left;font-size: 14px;line-height: 18px;border-radius: 0px;width:100%", @id = "PatientIdForSearch", @placeholder = "Name", @maxlength = "30" })
                </div>
                <div class="col-md-4" style="padding-left:5px;padding-right:0px;">
                    @Html.DropDownListFor(m => m.locationId, new SelectList(Model.locationList, "locationId", "locationName"), "All", new { @onchange = "SearchPatient();", @style = "width: 100%; padding: 12px; border-radius: 0px; border: 1px solid rgb(204, 204, 204);", @class = "custominputclass123" })
                </div>
                @*<a class="" href="javascript:;">
                        <img onclick="SearchPatient();" id="btnSearch" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="~/Content/Appointment/Images/search.png" height="44" width="172" title="Operation Room" style="margin-top: 0px; float: right;">
                    </a>*@
            </div>

            <div class="col-md-12 devboxstyle">
                <div class="modal-body" style="padding:15px 0px;">

                    <div class="tbletopdiv" id="paintsload">

                        <table>
                            <tr>
                                <td colspan="3">
                                    <div id="divpaintsLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px;
    top: 0px; width: 100%; height: 100%; background-color: White; z-index: 30001;
    opacity: 0.5; filter: alpha(opacity=70); display: none">
                                        <p style="position: absolute; top: 50%; left: 50%; color: White;">
                                            <img src="../../Images/Recordloading.gif">
                                        </p>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id="appointmentPatientList">

                    </div>
                </div>

            </div>
            <div class="col-md-12">
                <div type="button" name="next" class="next action-button" onclick="Step1Validation()" value="Next"><img src="~/Content/Appointment/Images/next.png"></div>
            </div>
        </fieldset>
        <!----------------------------------------------------------------------------------------------------------------step-1---->
    </div>

    <script>
        var timer;
        function GetAppointmentDateForDoctor(patientid,patientname) {
            var LocationId = $("#ddlLocation").val();
            if (LocationId == "" || LocationId == null) {
                LocationId = 0;
            }
            $("#PaintId").val(patientid);
            $("#hdPatientName").val(patientname);
            var FromTime = $("#hdFromtime").val();
            $("#hdStep").val("2");
            $('#divLoading').show();
            $(".bookappointmentInnederBody").load("/Appointment/CreateAppointmentTimeSlotView?PatientId=" + patientid + "&CalndFromTime=" + FromTime + "&LocationId=" + LocationId, function (response, status, xhr) {
                if (xhr.status == 403) {
                    var response = $.parseJSON(xhr.responseText);
                    window.location = response.LogOnUrl;
                }
                $('#divLoading').hide();

            });
        }

        $(document).ready(function () {
            ClearHiddenFileds();
            var LocationId = $("#locationId").val();
            if (LocationId == "" || LocationId == null) {
                LocationId = 0;
            }
            //$("#locationId").val(LocationId);
            var FromTime = $("#hdFromtime").val();
            var value = $("#PatientIdForSearch").val().toLowerCase().trim();
            value = escape(value);
            $('#divpaintsLoading').show();
            var loadURL = "/Appointment/LoadPaintsList?CalFromTime=" + FromTime + "&searchText=" + value + "&locationId=" + LocationId;
            $("#appointmentPatientList").load(loadURL, function (response, status, xhr) {
                $("#lblpaintsmessage").hide();
                $('#paintsload').hide();
                $('#divpaintsLoading').hide();
                if (xhr.status == 403) {
                    var response = $.parseJSON(xhr.responseText);
                    window.location = response.LogOnUrl;
                }
            });


        });

        function renderCircles() {
            var classes = ["cercle-ring-red", "cercle-ring-green", "cercle-ring-orange", "cercle-ring-purple", "cercle-ring-teal", "cercle-ring-indigo", "cercle-ring-brown"];
            $(".searchtablepatient tr").each(function (index) {
                $(this).find("td:eq(0) div").addClass(classes[~~(Math.random() * classes.length)]);

            });
        }
        function Step1Validation() {
            if ($("#PaintId").val() != "" && $("#PaintId").val() != null && parseInt($("#PaintId").val()) > 0) {
                $("#PaintId").val($("#PaintId").val());
                var fromtime = $("#hdFromtime").val();
                var LocationId = $("#ddlLocation").val();
                if (LocationId == "" || LocationId == null) {
                    LocationId = 0;
                }
                $("#hdStep").val("2");
                //$(".bookappointmentInnederBody").empty();
                $("#ddlServiceId").select2('destroy');
                $("#dvloading").show();
                $(".bookappointmentInnederBody").load("/Appointment/CreateAppointmentTimeSlotView?PatientId=" + $("#PaintId").val() + "&CalndFromTime=" + fromtime + "&LocationId=" + LocationId, function (response, status, xhr) {
                    if (xhr.status == 403) {
                        var response = $.parseJSON(xhr.responseText);
                        window.location = response.LogOnUrl;
                    }
                    $('#divLoading').hide();
                });
            } else {
                $("#lblpaintsmessage").show();
                setTimeout(function () {
                    $("#lblpaintsmessage").hide();
                }, 2000);

                return false;

            }

        }
        function SearchPatientAjax(ctrl, locationId) {
            var value = $(ctrl).val().toLowerCase().trim();
            value = escape(value);
            if ($.trim(value).length == 0) {
                value = "$Empty$";
            }
            $('#divLoading').show();
            var loadURL = "/Appointment/LoadPaintsList?CalFromTime="
                            + escape(new Date().toString())
                            + "&searchText=" + value
                            + "&locationId=" + locationId;
            $("#appointmentPatientList").load(loadURL, function (response, status, xhr) {
                if (xhr.status == 403) {
                    var response = $.parseJSON(xhr.responseText);
                    window.location = response.LogOnUrl;
                }
                $("#lblpaintsmessage").hide();
                //renderCircles();
                $('#divLoading').hide();
            });
            //}

        }
        function SearchPatient() {
            var ctrl = $("#PatientIdForSearch");
            var locattionId = $("#locationId").val();
            if ($.trim(locattionId).length == 0) {
                locattionId = 0;
            }
            clearTimeout(timer);
            var ms = 500; // milliseconds
            timer = setTimeout(function () {

                SearchPatientAjax(ctrl, locattionId);
            }, ms);
        }
    </script>
</div>