﻿@model NewRecordlinc.Models.Appointment.CreateAppointment
@using BusinessLogicLayer
@using NewRecordlinc.Models.Common
<script type="text/javascript" src="~/Scripts/select2.min.js"></script>
<style>
    .select2-container--default .select2-search--inline .select2-search__field {
        width: 100% !important;
    }
</style>
<div id="msform">
    <div class="col-md-12">
        <h2 class="fs-title">&nbsp; Book Your Appointment </h2>
    </div>
    <button data-dismiss="modal" type="button" class="mfp-close">×</button>
    <!-- progressbar -->
    <ul id="progressbar" style="font-size:17px;">
        <li id="liselectpatient">Select Patient </li>
        <li class="active">Select Provider</li>
        <li style="cursor:pointer;" onclick="Step2Validation()">Book Appointment</li>
    </ul>
    <fieldset>
        <div class="col-md-12">
            <span id="BookAppointmentFormsbmit">
                <div class="col-md-12" style="width:100%;">
                    <input data-val="true" data-val-number="The field PatientId must be a number." data-val-required="The PatientId field is required." id="PatientId" name="PatientId" value="298969" type="hidden">
                    <div id="no-more-tables">
                        @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "BookAppointmentFormsbmit" }))
                        {
                            <table class="col-md-12 table-bordered table-striped table-condensed cf">
                                <tbody>
                                    <tr>
                                        <td style="width:10px;"><div class="cercle-ring" id="step2RenderedName"><img src="@Model.PatientImageName" height="52" width="50" title="@Model.PatientName"></div></td>
                                        <td data-title="Company" style="vertical-align: top;text-align: left;">
                                            @*<p style="margin:7px 0px 0px;color: rgba(0, 0, 0, 0.40);">Patient</p>*@
                                            <span style="font-weight:bold" id="step2PaintsName">
                                                @Model.PatientName
                                            </span>
                                            @if (Model.PatientPhoneNumber != "")
                                            {
                                                <p class="ptagforceckle"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;@Model.PatientPhoneNumber</p>
                                            }
                                            @if (Model.DateOfBirth.HasValue)
                                            {
                                                string strDateOfBirth = new CommonBLL().ConvertToDate(Convert.ToDateTime(Model.DateOfBirth), Convert.ToInt32(BO.Enums.Common.DateFormat.GENERAL));
                                                <p class="ptagforceckle"><i class="fa fa-calendar-o" aria-hidden="true"></i>&nbsp;@strDateOfBirth</p>
                                            }
                                            @if (Model.PatientNumber != "")
                                            {
                                                <p class="ptagforceckle"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;@Model.PatientNumber</p>
                                            }
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        }
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
                <div class="col-md-9">
                    <select class="custominputclass123" style="width:100%;padding: 15px; border: 1px solid rgb(204, 204, 204);margin-bottom: 30px;" id="ddlServiceId" name="ddlServiceId" multiple="multiple">
                        @foreach (var item in Model.ServiceListCustom)
                        {
                            <option value="@item.ServiceId" data-val="@item.TimeDuration">@item.ServiceName</option>
                        }
                    </select>
                    <span id="lblservicemsg" class="errormsg">Please select service.</span>

                </div>
                <div class="col-md-3">
                    <input type="text" class="custominputclass123 numericOnly" maxlength="3" style="width:100%;padding: 12px; border: 1px solid rgb(204, 204, 204);" id="txtopratortime" name="txtopratortime" placeholder="Mins">
                    <span id="lblminmsg" class="errormsg">Should be > 0</span>
                </div>
                <div class="col-md-12" id="divstep2location">
                    <select id="ddlstep2location" class="custominputclass123" style="width: 100%; padding: 15px; border: 1px solid rgb(204, 204, 204);margin-top: 30px;" name="ddlstep2location"></select>
                    <span id="lbllocationmsg" class="errormsg">Please select location.</span>

                </div>
                <div class="col-md-12">
                    <select class="custominputclass123" style="width: 100%; padding: 15px; border: 1px solid rgb(204, 204, 204);margin-top: 30px;" id="ddlTheatrelst" name="ddlTheatrelst">
                        <option value="">--Select Operatory--</option>
                    </select>
                    <span id="lbloperatorymsg" class="errormsg">Please select operatory.</span>

                </div>
                <div class="col-md-12">
                    <select class="custominputclass123" style="width: 100%; padding: 15px; border: 1px solid rgb(204, 204, 204);margin-top: 30px;" id="ddlDentistlst" name="ddlDentistlst">
                        <option value="">--Select Provider--</option>
                    </select>
                    <span id="lblprovideremsg" class="errormsg">Please select provider.</span>
                </div>

                <br>
            </span>
        </div>
        <div class="col-md-12">
            <br />
            <div type="button" name="previous" class="previous action-button" value="Previous" id="btnPrevStep1" onclick="PrevStep1()"><img src="~/Content/Appointment/Images/previous.png"></div>
            <button type="button" name="next" class="next action-button" value="Next" onclick="Step2Validation()"><img src="~/Content/Appointment/Images/next.png"></button>
        </div>
    </fieldset>
</div>

<script>

    var specialKeys = new Array();
    specialKeys.push(8); //Backspace
    $(function () {
        $(".numericOnly").bind("keypress", function (e) {
            var keyCode = e.which ? e.which : e.keyCode
            var ret = ((keyCode >= 48 && keyCode <= 57) || specialKeys.indexOf(keyCode) != -1);

            return ret;
        });
        $(".numericOnly").bind("paste", function (e) {
            return false;
        });
        $(".numericOnly").bind("drop", function (e) {
            return false;
        });
    });
    //$("#ddlstep2location").unbind("change", BindLocationandTheatre);
    $("#ddlstep2location").bind("change", BindLocationandTheatre);
    function BindLocationandTheatre() {
        var LocationId = $("#ddlstep2location").val();
        if (LocationId) { $("#hdstep2location").val(LocationId); } else { $("#hdstep2location").val(""); };
        BindTheatre();
        BindDentist();
    }
    function BindStep2Location() {
        var UserId = 0;
        var TempDoctorId = getParameterByName('DoctorId');
        var HdDoctorId = $("#hddentistId").val();
        if (TempDoctorId == HdDoctorId) {
            UserId = HdDoctorId;

        }
        //if (parseInt($("#hddentistId").val()) > 0) {
        //    UserId = $("#hddentistId").val();
        //} else {
        //    UserId = 0;
        //}
        var ddlStep2Location = $("[id*=ddlstep2location]");
        $.ajaxSetup({ async: false });
        $.ajax({
            url: "/Appointment/GetLocation?DoctorId=" + UserId,
            type: "GET",
            success: function (data) {
                if (data != '') {
                    if (data.locationList.length > 0) {
                        ddlStep2Location.empty().append('<option selected="selected" value="">--Select Location--</option>');
                        $.each(data.locationList, function () {
                            ddlStep2Location.append($("<option></option>").val(this['locationId']).html(this['locationName']));
                        });
                        if (data.locationList.length === 1) {
                            $("#divstep2location").hide(); $("#hdstep2location").val(data.locationList[0].locationId);
                            $("#ddlstep2location").val($("#hdstep2location").val());
                            //BindLocationandTheatre();
                        } else {

                            $("#divstep2location").show();
                            if (parseInt($("#hdstep2doctorlocation").val()) > 0 && UserId > 0) {
                                var LocationId = $("#hdstep2doctorlocation").val();
                                $("#ddlstep2location").val(LocationId);
                                $("#hdstep2location").val(LocationId);
                            } else {
                                var LocationId = $("#ddlLocation").val();
                                $("#ddlstep2location").val(LocationId);

                            }

                        }
                    }
                    else {
                        ddlStep2Location.empty().append('<option selected="selected" value="">--Select Location--</option>');
                    }
                }
            },
            error: function (response, status, xhr) {
                if (response.status == 403) {
                    SessionExpire(response.responseText)
                }
            }
        });
        $.ajaxSetup({ async: true });
    }
    function BindDentist() {
        var LocationId = $("#hdstep2location").val();
        var ddlDentistlst = $("[id*=ddlDentistlst]");
        var UserId = 0;
        var TempDoctorId = getParameterByName('DoctorId');
        var HdDoctorId = $("#hddentistId").val();
        if (TempDoctorId == HdDoctorId) {
            UserId = HdDoctorId;

        }
        if (LocationId) {
            $.ajaxSetup({ async: false });
            $.ajax({
                url: "/Appointment/GetDentistList?LocationId=" + LocationId + "&DoctorId=" + UserId,
                type: "GET",
                success: function (data) {
                    if (data != '') {
                        if (data.DentistListCustom.length > 0) {
                            ddlDentistlst.empty().append('<option selected="selected" value="">--Select Provider--</option>');
                            $.each(data.DentistListCustom, function () {
                                if (UserId > 0) {
                                    if (UserId == this['UserId']) {
                                        ddlDentistlst.append($("<option></option>").val(this['UserId']).html(this['FullName']));
                                    }
                                } else {
                                    ddlDentistlst.append($("<option></option>").val(this['UserId']).html(this['FullName']));
                                }
                            });
                        }
                        else {
                            ddlDentistlst.empty().append('<option selected="selected" value="">--Select Provider--</option>');
                        }
                    }
                },
                error: function (response, status, xhr) {
                    if (response.status == 403) {
                        SessionExpire(response.responseText)
                    }
                }
            });
            $.ajaxSetup({ async: true });
        }
        else {
            ddlDentistlst.empty().append('<option selected="selected" value="">--Select Provider--</option>');
        }
    }
    function BindTheatre() {
        var LocationId = $("#hdstep2location").val();
        var ddlTheatrelst = $("[id*=ddlTheatrelst]");
        if (LocationId) {
            $.ajaxSetup({ async: false });
            $.ajax({
                url: "/Appointment/GetOprationTheatorByLocation?LocationId=" + LocationId,
                type: "GET",
                success: function (data) {
                    if (data.length > 0) {
                        ddlTheatrelst.empty().append('<option selected="selected" value="">--Select Operatory--</option>');
                        $.each(data, function () {
                            ddlTheatrelst.append($("<option></option>").val(this['id']).html(this['title']));
                        });
                    }
                    else {
                        ddlTheatrelst.empty().append('<option selected="selected" value="">--Select Operatory--</option>');
                    }
                },
                error: function (response, status, xhr) {
                    if (response.status == 403) {
                        SessionExpire(response.responseText)
                    }
                }
            });
            $.ajaxSetup({ async: true });
        }
        else {
            ddlTheatrelst.empty().append('<option selected="selected" value="">--Select Operatory--</option>');
        }
    }

    $(document).ready(function () {
        if (parseInt($("#hdAppointmentId").val()) > 0 || parseInt($("#hdmode").val()) > 0) {
            $("#btnPrevStep1").hide();
        } else {
            $("#liselectpatient").bind("click", PrevStep1);
            $("#liselectpatient").css("cursor", "pointer");
        }
        HideValidation();
        $("#ddlServiceId").select2({
            placeholder: "--Select Service--",
        }).on("change", function (e) {
            var AppointmentSelectedList = $("#ddlServiceId :selected");
            var AppointmentLength = 0;
            AppointmentSelectedList.each(function () {
                AppointmentLength += parseInt($(this).attr("data-val"))
            })
            $("#txtopratortime").val(AppointmentLength);
        });
        BindStep2Location();
        //$("#hdRenderName").val($("#step2RenderedName").html().trim());
        //$("#hdPaintname").val($("#step2PaintsName").html().trim());
        if ($("#hdStep").val().toString() == "3") {
            $("#ddlstep2location").val($("#hdstep2location").val());
            BindLocationandTheatre();
            SetValueForDropDown();
        } else if ($("#hdStep").val().toString() == "2") {
            var LocationId = $("#ddlstep2location").val();
            if (LocationId != "" && LocationId != null) {
                $("#ddlstep2location").val(LocationId);
                BindLocationandTheatre();
                if ($("#ddlDentist").val()) {
                    if (parseInt($("#ddlDentist").val()) > 0) {
                        $("#ddlDentistlst").val($("#ddlDentist").val());
                    }
                }
                if ($("#ddlselectedDentistId").val()) {
                    if (parseInt($("#ddlselectedDentistId").val()) > 0) {
                        $("#ddlDentistlst").val($("#ddlselectedDentistId").val());
                    }
                }
                if ($("#hdCalenderView").val() === "agendaDay" && parseInt($("#hdTheatreId").val()) > 0) {
                    $("#ddlTheatrelst").val(parseInt($("#hdTheatreId").val()));
                }
                else {
                    $("#ddlTheatrelst").val("");
                }
            }
            //else if (parseInt($("#hdstep2doctorlocation").val()) > 0) {
            //    
            //    $("#ddlstep2location").val('55');
            //    BindLocationandTheatre();

            //}
        }
    });
    function HideValidation() {
        $("#lblservicemsg").hide();
        $("#lbloperatorymsg").hide();
        $("#lblprovideremsg").hide();
        $("#lbllocationmsg").hide();
        $("#lblminmsg").hide();
    }
    function SetValueForDropDown() {
        if ($("#hdserviceId").val().toString()) { $("#ddlServiceId").val($("#hdserviceId").val().split(',')).select2() }
        if ($("#hdTheatreId").val() > 0) { $("#ddlTheatrelst").val($("#hdTheatreId").val()); }
        if ($("#hddentistId").val() > 0) { $("#ddlDentistlst").val($("#hddentistId").val()); }
        if ($("#hdstep2location").val() > 0) { $("#ddlstep2location").val($("#hdstep2location").val()); }
        if (parseInt($("#hdAppointmentlength").val()) > 0) { $("#txtopratortime").val($("#hdAppointmentlength").val()); }
        $("#hdStep").val("2");
    }
    function Step2Validation() {
        var ValidationMessage = "";
        var ServiceId = $("#ddlServiceId").val();
        var serviceflag = false, Theatreflag = false, Dentistflag = false, Locationflag = false, MinFlag = false;
        if (ServiceId.toString() == '') {
            serviceflag = true;
            $("#lblservicemsg").show();
        } else {
            $("#hdserviceId").val(ServiceId);
            //$("#hdserviceName").val($("#ddlServiceId :selected").text())
        }
        var TheatreId = $("#ddlTheatrelst :selected").val();
        if (TheatreId == '') {
            Theatreflag = true;
            $("#lbloperatorymsg").show();

        } else { $("#hdTheatreId").val(TheatreId); $("#hdTheatreName").val($("#ddlTheatrelst :selected").text()) }
        var DentistId = $("#ddlDentistlst :selected").val();
        if (DentistId == '') {
            Dentistflag = true;
            $("#lblprovideremsg").show();
        } else {
            $("#hddentistId").val(DentistId);
            //$("#hddentistName").val($("#ddlDentistlst :selected").text())
        }
        var LocationId = $("#hdstep2location").val();
        if (LocationId == '') {
            Locationflag = true;
            $("#lbllocationmsg").show();
        }
        var Mins = $("#txtopratortime").val();
        if (Mins == '' || Mins == 0) {
            MinFlag = true;
            $("#lblminmsg").show();
        }
        //else { $("#hddentistId").val(DentistId); $("#hddentistName").val($("#ddlDentistlst :selected").text()) }
        if (serviceflag || Theatreflag || Dentistflag || Locationflag || MinFlag) {
            setTimeout(function () {
                HideValidation();
            }, 2000);
            return false;
        }
        $("#hdAppointmentlength").val($("#txtopratortime").val());
        $("#ui-datepicker-div").remove();
        $('#divLoading').show();
        if (parseInt($("#hdAppointmentId").val()) > 0 || parseInt($("#hdmode").val()) > 0) {
            $("#modelbookedappdetailsviewbody").load("/Appointment/SaveBookAppointMent?DoctorId=" + DentistId, function (response, status, xhr) {
                if (xhr.status == 403) {
                    SessionExpire(xhr.responseText)
                }
                $('#divLoading').hide();
                if (parseInt($("#hdAppointmentId").val()) > 0) {
                    $("#btnsave").hide();
                    $("#btnupdate").show();
                    if ($("#hdnote").val().trim()) {
                        $("#txtnote").val($("#hdnote").val().trim())
                    }
                }
                if (parseInt($("#hdmode").val()) > 0) {
                    $("#btnsave").show();
                    $("#btnupdate").hide();
                }

            })
        } else {
            $('#divLoading').show();
            $(".bookappointmentInnederBody").load("/Appointment/SaveBookAppointMent?DoctorId=" + DentistId, function (response, status, xhr) {
                if (xhr.status == 403) {
                    SessionExpire(xhr.responseText)
                }
                $('#divLoading').hide();
            });
        }
    }
    function PrevStep1() {
        var ServiceId = $("#ddlServiceId :selected").val();
        $("#hdserviceId").val(ServiceId); $("#hdserviceName").val($("#ddlServiceId :selected").text())
        var TheatreId = $("#ddlTheatrelst :selected").val();
        $("#hdTheatreId").val(TheatreId); $("#hdTheatreName").val($("#ddlTheatrelst :selected").text())
        var DentistId = $("#ddlDentistlst :selected").val();
        $("#hddentistId").val(DentistId);
        //$("#hddentistName").val($("#ddlDentistlst :selected").text())
        $('#divLoading').show();
        $("#modelbookappointmentbody").load("/Appointment/BookAppointment?CalFromTime=" + $('#hdFromtime').val(), function (response, status, xhr) {
            if (xhr.status == 403) {
                SessionExpire(xhr.responseText)
            }
            renderCircles();
            $('#divLoading').hide();
        });
    }
    function BookAppointmentFrm() {
        var Serivce = $("#ServiceId :selected").val();
        var ServiceName = $("#ServiceId :selected").text();
        var frotime = $("#FromTime").val();
        var totime = $("#ToTime").val()
        if (Serivce == '') {
            //alert("Please select Service");
            swal({ title: "", text: 'Please select Service' });
            $("#ServiceId").focus();
            return false;
        }
        if (frotime == '') {
            //alert("Please insert start time");
            swal({ title: "", text: 'Please insert start time' });
            $("#FromTime").focus();
            return false;
        }
        if (totime == '') {
            //alert("Please insert end time");
            swal({ title: "", text: 'Please insert end time' });
            $("#ToTime").focus();
            return false;
        }
        var flag = true;
        var bookingFrmData = $("#BookAppointmentFormsbmit").serialize();

        $.ajaxSetup({ async: false });
        $.ajax({
            url: "/Appointment/CheckOverLappingAndDoctorAvailability",
            type: "post",
            data: bookingFrmData,
            success: function (data) {
                if (data != '') {
                    //alert(data);
                    swal({ title: "", text: data });
                    flag = false;
                    return false;
                }
            }
        });
        $.ajaxSetup({ async: true });

        if (!flag) {
            return flag;
        }

        $.ajaxSetup({ async: false });
        $.ajax({
            url: "/Appointment/SubmitAppointmentBookingData",
            type: "post",
            data: bookingFrmData,
            success: function (data) {
                //alert("Your appointment has been created!");
                swal({ title: "", text: 'Your appointment has been created!', type: 'success' });
                $('.xdsoft_datetimepicker').empty();
                $('#modelbookappointment').modal('hide');
                eventData = {
                    title: ServiceName,
                    backgroundColor: '#16a085',
                    start: frotime,
                    end: totime,
                    id: data
                };
                $('#calendar').fullCalendar('renderEvent', eventData, true);
            }
        });
        $.ajaxSetup({ async: true });
        // setTimeout(function () { LoadViewAppointment(); }, 1000);
    }


</script>
