﻿@model NewRecordlinc.Models.Appointment.OperationTheatre
<style>
    .custominputclass123 {
        border: 0 !important;
        outline: 0 !important;
        background: transparent !important;
        border-bottom: 1px solid #c2babc !important;
        box-shadow: 0 0 0 #c2babc !important;
    }

    .simpleColorChooser {
        top: 25px !important;
        left: 0px !important;
        z-index: 1;
    }

    hr {
        margin-top: 10px;
        margin-bottom: 10px;
        border: 0;
        border-top: 1px solid #eee;
    }

    #LocationId {
        height: 41px !important;
    }

    .modal-dialog {
        width: 370px;
        margin: 30px auto;
    }

    .color-picker-right {
        float: right;
    }

    .form-control {
        display: inline-block;
        width: 98%;
        border-radius: 0px;
        padding-left: 5px !important;
    }

    #LocationId {
        height: 36px !important;
        width: 100%;
    }

    input[type="text"], textarea, select {
        padding: unset;
        /*padding-left: 8px;*/
    }

    label {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 0px;
        font-weight: normal;
        padding-right: 0px !important;
    }

    sup {
        top: 0 !important;
    }



</style>

<script type="text/javascript" src="~/Content/Appointment/Js/jquery.simple-color.js"></script>
<div class="modal-header" style="padding:8px;">
    <h4 class="modal-title" id="myModalLabel" style="margin-top:10px;color:#0691c5;">
        @(Model.ApptResourceId > 0 ? "Update" : "Create" ) Operatory
    </h4>
</div>
<div id="bookappointmentInnederBody">
    @using (@Html.BeginForm("SubmitOperationTheatre", "Appointment", FormMethod.Post, new { id = "frmOpTheatre" }))
    {
        <div class="modal-body">

            @Html.HiddenFor(x => x.ApptResourceId)
            @Html.HiddenFor(x => x.EventColor)
            <div class="form-group">
                @Html.LabelFor(x => x.LocationId): <sup class="mandatory">*</sup><br />
                @if (Model.ApptResourceId > 0)
                {
                    @Html.DropDownListFor(x => x.LocationId, new SelectList(Model.LocationList, "locationId", "locationName"), "Select Location", new { @style= "background-color:#DEDEDE", disabled= "disabled"})

                }
                else
                {
                    @Html.DropDownListFor(x => x.LocationId, new SelectList(Model.LocationList, "locationId", "locationName"), "Select Location")
                }

                <span id="lbllocationmsg" class="errormsg">Please select location.</span>

            </div>
            <br />

            <div class="form-group">
                @Html.LabelFor(x => x.ResourceName): <sup class="mandatory">*</sup>
                @Html.TextBoxFor(x => x.ResourceName, new { @class = "form-control", @maxlength = "15"}) <br />
                <span id="lbloperatorymsg" class="errormsg">Please enter operatory.</span>
            </div>
            <br />

            <div class="form-group">
                @Html.LabelFor(x => x.EventTextColor):
                <span class="color-picker-right">
                    @Html.TextBoxFor(x => x.EventTextColor, new { @class = "simple_color_color_code" })
                </span>
                <!--  @Html.TextBoxFor(x => x.EventTextColor, new { @class = "form-control" }) <br />-->
            </div>
            <hr>
            <div class="form-group">
                @Html.LabelFor(x => x.EventBackgroundColor):
                <span class="color-picker-right">
                    @Html.TextBoxFor(x => x.EventBackgroundColor, new { @class = "simple_color_color_code" })
                </span>
            </div>
            <hr>
            <div class="form-group">
                @Html.LabelFor(x => x.EventBorderColor):<span class="color-picker-right">
                    @Html.TextBoxFor(x => x.EventBorderColor, new { @class = "simple_color_color_code" })
                </span>
            </div>
            @*<hr>*@
            @*<div class="form-group">
                    @Html.LabelFor(x => x.EventColor)<span class="color-picker-right">
                        @Html.TextBoxFor(x => x.EventColor, new { @class = "simple_color_color_code" })
                    </span>
                </div>*@

        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
                Close
            </button>

            <button type="submit" class="btn btn-primary">
                @(Model.ApptResourceId > 0 ? "Update" : "Create" )
            </button>
        </div>
    }
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('.simple_color_color_code').simpleColor({ displayColorCode: true });
    });
</script>
<script type="text/javascript">
    function HideValidation() {
        $("#lbloperatorymsg").hide();
        $("#lbllocationmsg").hide();       
    }
    $("#frmOpTheatre").submit(function () {
        var LocationIdFlag = false, Operatoryflag = false;
        var LocationId = $("#LocationId").val().trim();
        if (LocationId == '') {
            LocationIdFlag = true;
            $("#lbllocationmsg").show();
        }
        var ResourceName = $("#ResourceName").val().trim();
        var alphanumeric = /^[a-zA-Z\d\-_\s]+$/;
        if (ResourceName == '') {
            Operatoryflag = true;
            $("#lbloperatorymsg").text('Please enter operatory.');
            $("#lbloperatorymsg").show();
        }
        else if (alphanumeric.test(ResourceName) == false)
        {
            Operatoryflag = true;
            $("#lbloperatorymsg").text('Special characters are not allowed.');
            $("#lbloperatorymsg").show();
        }

        if (LocationIdFlag || Operatoryflag) {
            setTimeout(function () {
                HideValidation();
            }, 2000);
            return false;
        }
        var flag = true;
        $.ajaxSetup({ async: false });
        $.ajax({
            url: "@Url.Action("CheckResourceName", "Appointment", null, Request.Url.Scheme)",
            type: "post",
            data: {
                ResourceName: $('#ResourceName').val(),
                LocationId: $("#LocationId").val(),
                ApptResourceId: $("#ApptResourceId").val()
            },
            success: function (data) {
                if (data == true) {
                    swal({ title: "", text: 'Operation theater name already exists.' });
                    // alert("Service name already exists!");
                    flag = false;
                    return false;
                }
            }
        });

        $.ajaxSetup({ async: true });
        return flag;
        //}
        //else {
        //    return false;
        //}
    });
</script>
