﻿@model NewRecordlinc.Models.Appointment.AppointmentWeekSchedule

@{
    Layout = "~/Views/Shared/SiteLayoutInner.cshtml";
    ViewBag.Title = "Week Schedule";
}
@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">*@
<link href="~/Content/Appointment/Css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/Appointment/Css/dev-style.css" rel="stylesheet" />
<link href="~/Content/Appointment/Css/bootstrap.css" rel="stylesheet" />
@*<link href="~/Content/Appointment/Css/bootstrap.min.css" rel="stylesheet" />*@
<style>
    .appmanucss * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        text-decoration: none;
    }

    .content {
        float: left;
        padding: 0;
        width: 100%;
    }

    a:hover, a:focus {
        text-decoration: none !important;
    }

    .content_base {
        padding: 0 2px 0 0 !important;
    }
</style>

<script src="~/Content/js/jquery-1.10.2.js"></script>
<script src="~/Content/Appointment/Js/bootstrap.min.js" type="text/javascript"></script>
<style>
    .toggle {
        height: 28px !important;
        width: 61px !important;
    }

    .customerdrpcls {
        border-radius: 4px !important;
        cursor: pointer !important;
        display: inline-block !important;
        font-size: 14px !important;
        font-weight: normal !important;
        line-height: 1.42857 !important;
        margin-bottom: 0 !important;
        padding: 6px 12px !important;
        text-align: center !important;
        vertical-align: middle !important;
        white-space: nowrap !important;
    }
		.saveresponsive{
			text-align:right;
			margin-right:21%;
			}
@@media only screen and (min-width:1000px) and (max-width: 1030px){
		.saveresponsive{
			text-align:right;
			margin-right:3%;
			}
}
</style>
<link href="~/Content/Appointment/Css/jquery.datetimepicker.css" rel="stylesheet" />
<div class="content" style="height:600px;">
    <div class="content_base appmanucss">
        <div class="inner">
            <div id="tab2" class="tab_content" style="border:none">
                <h2>Set your available hours</h2>
                <p>What day or time do you accept new patients</p>
                <p id="weekstatusconfigid" style="text-align:center;font-size:18px!important;display:none;color:green">Week schedule successfully configured</p>
                @using (@Html.BeginForm(null, null, FormMethod.Post, new { id = "frmWeekSchedule" }))
                {
                    @Html.Hidden("WeekCount", Model.WeekDay.Count)

                    <div class="col-xs-6 col-sm-2 col-md-3 col-lg-2">
                        @for (int i = 0; i < Model.WeekDay.Count; i++)
                {
                            @Html.HiddenFor(m => m.WeekDay[i].Day)
                            @Html.HiddenFor(m => m.WeekDay[i].AppointmentWeekScheduleId)
                            @Html.HiddenFor(m => m.WeekDay[i].AppointmentWorkingTimeAllocationId)
                            <li class="weekschedule-li">@Model.WeekDay[i].DayName</li>
                        }
                    </div>

                    <div class="col-xs-6 col-sm-2 col-md-3 col-lg-2 row-box-btn">
                        @for (int i = 0; i < Model.WeekDay.Count; i++)
                {
                            @*<li class="weekschedule-li"><input checked data-toggle="toggle" data-style="ios" type="checkbox"></li>*@
                            <li class="weekschedule-li">

                                @Html.CheckBoxFor(m => m.WeekDay[i].IsOffDay, new { @checked = "Y", @id = "Check_" + @i + "", @data_toggle = "toggle", @data_style = "ios", @onchange = "isOffDayValidation();" })
                            </li>
                        }
                    </div>

                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 row-box">
                        @for (int i = 0; i < Model.WeekDay.Count; i++)
                {
                            <li class="weekschedule-li">
                                <div class="btn-group" style="width:40%">
                                    @Html.TextBoxFor(m => m.WeekDay[i].MorningFromTime, new { @class = "timepickerforweekschedule customerdrpcls btn btn-default dropdown-toggle ddlGroup", @style = "width:100%", @autocomplete = "off", @id = "ddlMoreFTime" + @i + "" })

                                </div>
                                to
                                <div class="btn-group" style="width:40%">
                                    @Html.TextBoxFor(m => m.WeekDay[i].MorningToTime, new { @class = "timepickerforweekschedule customerdrpcls btn btn-default dropdown-toggle ddlGroup", @style = "width:100%", @autocomplete = "off", @id = "ddlMoreTTime" + @i + "" })

                                </div>
                            </li>
                        }
                    </div>


                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 row-box">
                        @for (int i = 0; i < Model.WeekDay.Count; i++)
                {
                            <li class="weekschedule-li">
                                <div class="btn-group" style="width:40%">
                                    @Html.TextBoxFor(m => m.WeekDay[i].EveningFromTime, new { @class = "timepickerforweekschedule customerdrpcls btn btn-default dropdown-toggle ddlGroup", @style = "width:100%", @autocomplete = "off", @id = "ddlEveFTime" + @i + "" })

                                </div>
                                to
                                <div class="btn-group" style="width:40%">
                                    @Html.TextBoxFor(m => m.WeekDay[i].EveningToTime, new { @class = "timepickerforweekschedule customerdrpcls btn btn-default dropdown-toggle ddlGroup", @style = "width:100%", @autocomplete = "off", @id = "ddlEveTTime" + @i + "" })

                                </div>
                            </li>



                        }
                    </div>
                    <div class="row">
                    </div>
                    <br />
                    <div class="row saveresponsive">
                        <button class="btn btn-primary btn-sm" style="width:10%" type="submit" onclick="return submitWeekScheduleForm();">Save </button>
                    </div>
                    <br />


                }
            </div>
        </div>
    </div>
</div>
<link href="~/Content/Appointment/Css/bootstrap-toggle.min.css" rel="stylesheet" />
<script src="~/Content/Appointment/Js/bootstrap-toggle.min.js"></script>
<script src="~/Content/Appointment/Js/jquery.datetimepicker.full.js"></script>
<script type="text/javascript">
    function FromTime(time) {
        var regex = /^(0?[1-9]|1[012])(:[0-5]\d) [APap][mM]$/;
        var match = time.match(regex);
        if (match) {
            var hour = parseInt(match[1]);
            if (!isNaN(hour) && hour <= 12) {
                return true;
            }
        }
        return false;
    }
    var daysInWeek = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday'];
    $('.timepickerforweekschedule').datetimepicker({
        datepicker: false,
        //format: 'H:i',
        format: 'g:i A',
        formatTime: 'g:i A',
        step: 15,
    });
    $(document).ready(function () {
        $(".Appointent_Week_Schedule").parent("a").addClass("active");
        isOffDayValidation();

    });
    function isOffDayValidation() {
        var Wc = $("#WeekCount").val();
        for (var i = 0; i < Wc; i++) {
            if ($("#Check_" + i + "").is(':checked')) {
                $("#ddlMoreFTime" + i + "").prop("disabled", false);
                $("#ddlMoreTTime" + i + "").prop("disabled", false);
                $("#ddlEveFTime" + i + "").prop("disabled", false);
                $("#ddlEveTTime" + i + "").prop("disabled", false);
            }
            else {
                $("#ddlMoreFTime" + i + "").prop("disabled", true);
                $("#ddlMoreTTime" + i + "").prop("disabled", true);
                $("#ddlEveFTime" + i + "").prop("disabled", true);
                $("#ddlEveTTime" + i + "").prop("disabled", true);
            }
        }
    }
    function validatetimeForMorning(day) {
        var now = new Date();
        var morningFromTime = $("#ddlMoreFTime" + day + "").val();
        var morningToTime = $("#ddlMoreTTime" + day + "").val();
        var dt1 = (now.getMonth() + 1) + "/" + now.getDate() + "/" + now.getFullYear() + " " + morningFromTime;
        var dt2 = (now.getMonth() + 1) + "/" + now.getDate() + "/" + now.getFullYear() + " " + morningToTime;
        var valDt1 = new Date(dt1);
        var valDt2 = new Date(dt2);
        var res = (valDt1 >= valDt2);
        if (res) {
            //alert("Morning from time must be less then morning to time for " + daysInWeek[day]);
            swal({ title: "", text: 'Morning from time must be less then morning to time for ' + daysInWeek[i] + '.' });
            // $("#ddlMoreTTime" + day + "").val("00:00");
            setTimeout(function () {
                $("#ddlMoreTTime" + day + "").focus();
            }, 500)
            return false;
        }
    }

    function validateMorningeveningbetweenTime(day) {
        var now = new Date();
        var morningToTime = $("#ddlMoreTTime" + day + "").val();
        var eveningFtime = $("#ddlEveFTime" + day + "").val();
        var dt1 = (now.getMonth() + 1) + "/" + now.getDate() + "/" + now.getFullYear() + " " + morningToTime;
        var dt2 = (now.getMonth() + 1) + "/" + now.getDate() + "/" + now.getFullYear() + " " + eveningFtime;
        var valDt1 = new Date(dt1);
        var valDt2 = new Date(dt2);
        var res = (valDt1 > valDt2);
        if (res) {
            swal({ title: "", text: 'Morning time should be less then evening time for ' + daysInWeek[i] + '.' });
            //alert("Morning to time must be less then evening from time for " + daysInWeek[day]);
            // $("#ddlEveFTime" + day + "").val("00:00");
            setTimeout(function () {
                $("#ddlEveFTime" + day + "").focus();
            }, 500)
            return false;
        }
    }
    function validatetimeForEvening(day) {
        var now = new Date();
        var eveningFtime = $("#ddlEveFTime" + day + "").val();
        var eveningTtime = $("#ddlEveTTime" + day + "").val();
        var dt1 = (now.getMonth() + 1) + "/" + now.getDate() + "/" + now.getFullYear() + " " + eveningFtime;
        var dt2 = (now.getMonth() + 1) + "/" + now.getDate() + "/" + now.getFullYear() + " " + eveningTtime;
        var valDt1 = new Date(dt1);
        var valDt2 = new Date(dt2);
        var res = (valDt1 >= valDt2);
        if (res) {
            swal({ title: "", text: 'Evening from time must be less then evening to time for ' + daysInWeek[i] + '.' });
            //alert("Evening from time must be less then evening to time for " + daysInWeek[day]);
            //$("#ddlEveTTime" + day + "").val("00:00");
            setTimeout(function () {
                $("#ddlEveTTime" + day + "").focus();
            }, 500)
            return false;
        }
    }
    function submitWeekScheduleForm() {
        var Wc = $("#WeekCount").val();
        var z = 0;
        for (i = 0; i <= Wc; i++) {
            if ($("#Check_" + i + "").is(':checked')) {

                z++;
                var MFromTime = $("#ddlMoreFTime" + i).val().trim() == "00:00" ? '' : $("#ddlMoreFTime" + i).val().trim();
                var MToTime = $("#ddlMoreTTime" + i).val().trim() == "00:00" ? '' : $("#ddlMoreTTime" + i).val().trim();
                var EFromTime = $("#ddlEveFTime" + i).val().trim();
                var EToTime = $("#ddlEveTTime" + i).val().trim();
                if (MFromTime != '' && MFromTime != null) {
                    if (MToTime == '' || MToTime == null) {
                        swal({ title: "", text: 'Please enter valid morning to time for ' + daysInWeek[i] + '.' });
                        return false
                    }
                    else {
                        if (FromTime(MFromTime) == false) {
                            swal({ title: "", text: 'Please enter valid morning from time for ' + daysInWeek[i] + '.' });
                            //alert("Please enter valid morning from time for " + daysInWeek[i]);
                            return false
                        }
                    }
                }
                if (MToTime != '' && MToTime != null) {
                    if (MFromTime == '' || MFromTime == null) {
                        swal({ title: "", text: 'Please enter valid morning from time for ' + daysInWeek[i] + '.' });
                        return false
                    }
                    else {
                        if (FromTime(MToTime) == false) {
                            swal({ title: "", text: 'Please enter valid morning to time for ' + daysInWeek[i] + '.' });
                            return false
                        }

                    }
                }
                if (MFromTime != '' && MFromTime != null && MToTime != '' && MToTime != null) {
                    if (validatetimeForMorning(i) == false) {
                        return false;
                    }
                    //else if (ConvertHHMM(MFromTime) === ConvertHHMM(MToTime)) {
                    //    
                    //    swal({ title: "", text: 'Sorry, morning from time is not same as morning to time for ' + daysInWeek[i] + '.' });
                    //    return false;
                    //}
                }

                if (EFromTime == "00:00") {
                    swal({ title: "", text: 'Please enter valid evening from time for ' + daysInWeek[i] + '.' });
                    return false
                }
                if (EToTime == "00:00") {
                    swal({ title: "", text: 'Please enter valid evening to time for ' + daysInWeek[i] + '.' });
                    return false
                }
                if (EFromTime != '' && EFromTime != null) {
                    if (MToTime != '' && MToTime != null && EFromTime != '' && EFromTime != null) {
                        if (validateMorningeveningbetweenTime(i) == false) {
                            return false;
                        }

                    }
                    if (EToTime == '' || EToTime == null) {
                        swal({ title: "", text: 'Please enter valid evening to time for ' + daysInWeek[i] + '.' });
                        return false
                    }
                    else {
                        if (FromTime(EFromTime) == false) {
                            swal({ title: "", text: 'Please enter valid evening from time for ' + daysInWeek[i] + '.' });
                            return false
                        }
                    }
                }
                if (EToTime != '' && EToTime != null) {
                    if (EFromTime == '' || EFromTime == null) {
                        swal({ title: "", text: 'Please enter valid evening from time for ' + daysInWeek[i] + '.' });
                        return false
                    }
                    else {
                        if (FromTime(EToTime) == false) {
                            swal({ title: "", text: 'Please enter valid evening to time for ' + daysInWeek[i] + '.' });
                            return false
                        }
                    }
                }
                if (EFromTime != '' && EFromTime != null && EToTime != '' && EToTime != null) {
                    if (validatetimeForEvening(i) == false) {
                        return false;
                    }
                    //else if (EFromTime === EToTime) {
                    //    
                    //    swal({ title: "", text: 'Sorry, evening from time is not same as evening to time for ' + daysInWeek[i] + '.' });
                    //    return false;
                    //}
                }

                if (MFromTime == '' && MToTime == '' && EFromTime == '' && EToTime == '') {

                    swal({ title: "", text: 'Please enter morning or evening time  for ' + daysInWeek[i] + '.' });
                    return false;
                }
                else if (MFromTime != '' && MFromTime != null && MToTime != '' && MToTime != null && EFromTime != '' && EFromTime != null && EToTime != '' && EToTime != null) {
                    if (validateMorningeveningbetweenTime(i) == false) {
                        return false;
                    }

                }
            } else {
                $("#ddlMoreFTime" + i).val('');
                $("#ddlMoreTTime" + i).val('');
                $("#ddlEveFTime" + i).val('');
                $("#ddlEveTTime" + i).val('');

            }

        }
        if (z == 0) {
            swal({ title: "", text: 'Please create at least one schedule for a week.' });
            return false;
        }
        var frmdata = $("#frmWeekSchedule").serialize()
        $.ajax({
            url: "/Appointment/SetWeekSchedule",
            type: "post",
            data: frmdata,
            success: function (data) {
                swal({
                    title: "",
                    text: "Week schedule successfully configured.",
                    type: "success",
                    showConfirmButton: false,
                    timer: 2000
                }, function () {
                    
                });
                setTimeout(function () {
                    window.location = document.URL;
                },2000)
                
            }
        });
        return false;
    }
    
</script>