﻿@model NewRecordlinc.Models.Appointment.SpecialDaySchedule
<h2 class="title">Special Day Schedule</h2>
<div class="cntnt">
    <div class="clear">
    </div>
    <div class="actions">
        <div id="contentdiv">
            @using (@Html.BeginForm(null, null, FormMethod.Post, new { id = "frmSpecialDaySchedule" }))
            {
                @Html.HiddenFor(m => m.AppointmentSpecialDayScheduleId)
                @Html.HiddenFor(m => m.DateOfday.AppointmentWorkingTimeAllocationId)
                <table>
                    <tr style="align-content:center">
                        <th>Date</th>
                        <td>@Html.TextBoxFor(m => m.Date, new {@id="Date" })</td>
                        
                    </tr>
                    <tr>
                        <td colspan="3">&nbsp;</td>
                    </tr>
                    
                    <tr>
                        <th>IsOffDay&nbsp;&nbsp;</th>
                        <th>MorningFromTime&nbsp;&nbsp;</th>
                        <th>MorningToTime</th>
                        
                    </tr>
                    <tr>
                        <td>
                            @Html.CheckBoxFor(m => m.IsoffDay, new { @checked = "Y",@id="Check",@onclick="IsOffDayCheck();" })
                        </td>
                        <td>
                            @Html.DropDownListFor(m => m.DateOfday.MorningFromTime, NewRecordlinc.Models.Common.AppointmentSetting.GetAllTime().Select(l => new SelectListItem { Selected = (l.Value == Model.DateOfday.MorningFromTime), Text = l.Text, Value = l.Value }).ToList(), new {@id="ddlMorFTime" })
                        </td>
                        
                        <td>
                            @Html.DropDownListFor(m => m.DateOfday.MorningToTime, NewRecordlinc.Models.Common.AppointmentSetting.GetAllTime().Select(l => new SelectListItem { Selected = (l.Value == Model.DateOfday.MorningToTime), Text = l.Text, Value = l.Value }).ToList(), new { @id = "ddlMorTTime" })
                        </td>

                    </tr>
                    <tr>
                        <td colspan="3">&nbsp;</td>
                    </tr>
                </table>
                <a href="#">
                    <img src="/Content/images/submit_btn.jpg" onclick="submitSpecialDayScheduleForm();" />
                </a><div class="clear"></div>
            }

        </div>
    </div>
</div>
<button type="button" title="Close (Esc)" class="mfp-close">×</button>
<script type="text/javascript">
    function submitSpecialDayScheduleForm() {
        var frmdata = $("#frmSpecialDaySchedule").serialize()
        $.ajax({
            url: "/Appointment/SpecialDaySchedule",
            type: "post",
            data: frmdata,
            success: function (data) {
                $(".mfp-close").trigger("click");
            }
        });
    }
    function IsOffDayCheck()
    {
        if($("#Check").is(':checked'))
        {
            $("#ddlMorFTime").prop("disabled", true);
            $("#ddlMorTTime").prop("disabled", true);
        }
        else
        {
            $("#ddlMorFTime").prop("disabled", false);
            $("#ddlMorTTime").prop("disabled", false);
        }
    }
    $(document).ready(function () {
        IsOffDayCheck();
        $("#Date").attr('readonly', true);
        $('#Date').css('background-color', '#DEDEDE');
    })
</script>
