﻿@using BusinessLogicLayer
<style>
    .ptagforceckle {
        margin: 0px !important;
    }

    .table-bordered {
        border: 0 solid #ddd !important;
        margin-bottom: 20px;
    }

    .modal-title {
        margin: 0;
        line-height: 1.42857143;
        color: #0890C4;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 17px;
    }

    .fa {
        line-height: 0px !important;
    }

    .fa-user, .fa-calendar-o, .fa-calendar-plus-o, .fa-plus-square, .fa-phone {
        color: #0890C4;
    }

    .devfooterbox {
        width: 30%;
        float: left;
        height: 40px;
        border-right: 1px solid #ccc;
        margin-right: 10px;
        padding: 0px 0px;
    }

    .idevfooterbox {
        color: #fff;
        width: 30px;
        font-size: 20px;
        padding: 18px 6px;
        float: left;
        background-color: #0890C4;
    }

    .devfooterbox2 {
        border: 0.5px solid #0890C4;
        width: 100%;
        float: right;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .devfooterbox21 {
        border: 0.0px solid #0890C4;
        width: 100%;
        float: right;
        height: 40px;
        line-height: 36px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .timebar {
        color: rgba(0, 0, 0, 0.54);
        padding: 9px 5px;
        height: 21px;
        font-size: 14px !important;
    }

    .devprofile {
        position: relative;
        top: -17px;
    }

    #msform {
        margin: 0px auto 0;
    }

    @@media (max-width: 1000px) {
        .table-bordered {
            border: 0 solid #ddd !important;
            width: 100%;
        }

        .text-right {
            width: 60px;
        }

        .devfooterbox {
            width: 100%;
            float: left;
            height: 75px;
            border-right: 0px solid #ccc;
            margin-right: 10px;
            padding: 16px 0px;
        }

        .idevfooterbox {
            color: #fff;
            width: 30px;
            font-size: 20px;
            padding: 16px 5px;
            float: left;
            background-color: #0890C4;
        }

        .devfooterbox2 {
            border: 0.5px solid #0890C4;
            width: 100%;
            float: right;
        }

        .timebar {
            font-size: 10px !important;
        }

        .modal-body #no-more-tables .table-bordered {
            border: 1px solid #ddd !important;
        }

        .vertical-align {
            vertical-align: top;
            margin-bottom: 5px;
        }
    }
</style>
@model NewRecordlinc.Models.Appointment.AppointmentData
<style>
    .AppointmentMsg {
        text-align: center;
        color: green;
        display: none;
    }
</style>
<link href="~/Content/Appointment/Css/cercle.css" rel="stylesheet" />

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        &times;
    </button>

    <h4 class="modal-title" id="myModalLabel">
        View appointment details
    </h4>
</div>

<div class="modal-body" id="">
    <div class="col-md-12 AppointmentMsg"><h4>Appointment status updated successfully.</h4><br /></div>
    <div id="no-more-tables">
        <table class="col-md-12 table-bordered table-striped table-condensed cf">
            <tbody>
                <tr>
                    <td style="width:10px;"><div class="cercle-ring"><img src="@Model.PatientsImage" height="52" width="50" title="@Model.PatientName"></div></td>
                    <td data-title="Company" class="vertical-align">
                        <div class="devprofile">
                            @*<p style="margin:7px 0px 0px;color: rgba(0, 0, 0, 0.40);">Patient</p>*@
                            <span style="font-weight:bold">
                                @Model.PatientName
                            </span>
                            @if (Model.PatientPhoneNumber != "" && Model.PatientPhoneNumber != null)
                            {
                                <p class="ptagforceckle"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;@Model.PatientPhoneNumber</p>
                            }
                            @if (Model.PatientNumber != "" && Model.PatientNumber != null)
                            {
                                <p class="ptagforceckle"><i class="fa fa-hashtag" aria-hidden="true" style="color:#0890C4"></i>&nbsp; @Model.PatientNumber</p>
                            }
                            <p class="ptagforceckle" style="height:18px;"><i class="fa fa-user" aria-hidden="true"></i>&nbsp; <b>Gender :</b>&nbsp; @Model.Gender</p>
                            @if (Model.DateOfBirth.HasValue)
                            {
                                string strDateOfBirth = new CommonBLL().ConvertToDate(Convert.ToDateTime(Model.DateOfBirth), Convert.ToInt32(BO.Enums.Common.DateFormat.GENERAL));
                                <p class="ptagforceckle" style="height:18px;"><i class="fa fa-calendar-o" aria-hidden="true"></i>&nbsp; <b>DOB :</b>&nbsp; @strDateOfBirth</p>
                                if (Model.Age >= 0)
                                {
                                    <p class="ptagforceckle" style="height:18px;"><i class="fa fa-calendar-plus-o" aria-hidden="true"></i>&nbsp; <b>Age :</b>&nbsp; @Model.Age</p>
                                }
                            }
                           
                            <p class="ptagforceckle" style="height:18px;"><i class="fa fa-plus-square" aria-hidden="true"></i>&nbsp; <b>Created By :</b>&nbsp; @Model.CreatedByName</p>
                        </div>
                    </td>
                    <td class="text-right">
                        <img src="@Model.DoctorImage" height="50" width="50" title="@Model.DoctorName" style="margin-top: -6px;">
                    <td style="vertical-align: top;text-align: left;">
                        @*<p style="margin:7px 0px 0px;color: rgba(0, 0, 0, 0.40);">Dr.</p>*@
                        <span style="font-weight:bold">
                            Dr. @Model.DoctorName
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>

        <div style="width:100%; height:auto;">
            <div style="width: 48%; float: left; border-right: 1px solid rgb(204, 204, 204); padding-right: 8px;">
                <div class="devfooterbox2">
                    <i class="fa fa-calendar idevfooterbox" aria-hidden="true"></i>
                    <p class="timebar">
                        &nbsp;@Model.strAppointmentDate
                    </p>
                </div>

                <div class="devfooterbox2">
                    <i class="fa fa-clock-o idevfooterbox" aria-hidden="true"></i>
                    <p class="timebar">
                        &nbsp;@Model.TimeLable
                    </p>
                </div>
                @Html.DropDownListFor(m => m.AppointmentStatusId, new SelectList(Model.AppointmentStatusList, "Id", "Status"), new { @style = "width:100%; border: 1px solid #0890c4;padding: 8px 2px;", @id = "ddlappointmentstatus" })
            </div>

            <div style="width:48%;float: right;">
                <div class="devfooterbox21">
                    <span style="color:#0890C4;">Operatory:</span>&nbsp;@Model.ResourceName
                </div>
                <div class="devfooterbox21">
                    <span style="color:#0890C4;">Service:</span>&nbsp;@Model.ServiceName
                </div><br>
            </div>
        </div>


        <br>
    </div>
    <br />
    <br />
    <br />
    <br />
    <!-- <div style="display: inline-block;width:100%;"> -->
    <!-- <div class="devfooterbox"> -->
    <!-- <span style="font-weight:bold;"> -->
    <!-- <span style="color:#0890C4;">Operatory:</span>&nbsp;@Model.ResourceName -->
    <!-- </span> -->
    <!-- </div> -->
    <!-- <span style="font-weight:bold;"> -->
    <!-- <span style="color:#0890C4;">Service:</span>&nbsp;@Model.ServiceName -->
    <!-- </span><br> -->
    <!-- <span style="margin-left: 18px;">To attend the appointment follow the instructions</span> -->
    <!-- <div class="devfooterbox2"> -->
    <!-- <i class="fa fa-clock-o idevfooterbox" aria-hidden="true"></i> -->
    <!-- <p class="timebar"> -->
    <!-- &nbsp; When: -->
    <!-- Model.strAppointmentDate -->
    <!-- at -->
    <!-- Model.TimeLable -->
    <!-- </p> -->
    <!-- </div> -->
    <!-- </div> -->
    @*<hr style="margin: 4px">*@
    <div style="width:100%; display: inline-block;">
        @if (Model.PNote != "")
        {
            <span>
                <br />
                <span style="color:#0890C4;margin-left: 0px;font-weight:bold;">Note:</span>&nbsp;@Model.PNote
            </span>
            <br />
        }
    </div>
</div>

<div class="modal-footer" id="viewappointmentfooter">
    @*<img data-dismiss="modal" src="/Content/Appointment/Images/close.png" style="cursor:pointer; margin-bottom: 5px;">*@
    <img id="btnchangestatus" onclick="ChangeAppointmentStatus(@Model.AppointmentId)" src="/Content/Appointment/Images/save.png" style="cursor:pointer; margin-bottom: 5px;">
    <img id="btnedit" onclick="EditAppointment(@Model.DoctorId,'@Model.ServiceTypeId',@Model.ApptResourceId,@Model.PatientId,@Model.LocationId,'@Model.AppointmentDate.ToString("MM/dd/yyyy")',@Model.AppointmentId,@Model.AppointmentLength,'@Model.PNote','@Model.AppointmentTimeSlot')" src="/Content/Appointment/Images/edit-appointment.png" style="cursor:pointer; margin-bottom: 5px;">
    <img id="btncancel" onclick="CancelAppointment(@Model.AppointmentId)" src="/Content/Appointment/Images/close-appointment.png" style="cursor:pointer; margin-bottom: 5px;">
</div>
<div id="msform" class="viewbookappointmentInnederBody">
</div>
<script>
    function ChangeAppointmentStatus(AppointmentId) {
        var AppointmentStatusId = $("#ddlappointmentstatus").val().trim();
        if (AppointmentStatusId !== "11") {
            //swal({
            //    title: "",
            //    text: "Are you sure to change this appointment status?",
            //    type: "warning",
            //    showCancelButton: true,
            //    confirmButtonText: "Yes,Change it!",
            //    cancelButtonText: "No, Thanks",
            //    closeOnConfirm: true,
            //    closeOnCancel: true
            //},
            //function (isConfirm) {
            // if (isConfirm) {
            var Url = '@Url.Action("ChaneAppointmentStatus", "Appointment")?AppointmentId=' + AppointmentId + "&AppointmentStatusId=" + AppointmentStatusId;
            $.ajaxSetup({ async: false });
            $.ajax({
                url: Url,
                type: "post",
                success: function (data) {
                    $(".AppointmentMsg").show();
                    setTimeout(function () {
                        $(".AppointmentMsg").hide();
                    }, 5000)

                    //swal("", "Appointment status updated Successfully", "success");
                    //$('#modelbookedappdetailsview').modal('hide');
                },
                error: function (response, status, xhr) {
                    if (response.status == 403) {
                        SessionExpire(response.responseText)
                    }
                }
            });
            $.ajaxSetup({ async: true });
            // };
            // });
        } else {
            CancelAppointment(AppointmentId);

        }

    }
    function CancelAppointment(id) {
        swal({
            title: "",
            text: "Are you sure you want to cancel appointment?",
            type: "warning",
            showCancelButton: true,
            //confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes Cancel it!",
            cancelButtonText: "No Thanks",
            closeOnConfirm: false,
            closeOnCancel: true
        },
        function (isConfirm) {
            if (isConfirm) {
                var Url = '@Url.Action("CancelAppointment", "Appointment")?AppointmentId=' + id;
                $.ajaxSetup({ async: false });
                $.ajax({
                    url: Url,
                    type: "post",
                    success: function (data) {
                        $('#calendar').fullCalendar('removeEvents', id);
                        swal("", "Appointment cancelled Successfully", "success");
                        $('#modelbookedappdetailsview').modal('hide');
                    },
                    error: function (response, status, xhr) {
                        if (response.status == 403) {
                            SessionExpire(response.responseText)
                        }
                    }
                });
                $.ajaxSetup({ async: true });
            };
        });

    }
    function EditAppointment(DoctorId, ServiceId, TheatreId, PatientId, LocationId, FromTime, AppointmentId, AppointmentLength, Note, AppointmentTimeSlot) {
        $('#divLoading').show();
        $("#hddentistId").val('');
        $("#modelbookedappdetailsviewbody").load("/Appointment/CreateAppointmentTimeSlotView?PatientId=" + PatientId + "&CalndFromTime=" + FromTime + "&LocationId=" + LocationId, function (response, status, xhr) {
            if (xhr.status == 403) {
                SessionExpire(xhr.responseText)
            }
            $('#divLoading').hide();
            $("#btnPrevStep1").hide();
            $("#PaintId").val(PatientId);
            if (ServiceId.toString()) { $("#ddlServiceId").val(ServiceId.split(',')).select2(); }
            if (LocationId > 0) { $("#ddlstep2location").val(LocationId); }
            if (TheatreId > 0) { setTimeout(function () { $("#ddlTheatrelst").val(TheatreId); }, 500) }
            if (parseInt(AppointmentLength) > 0) { $("#txtopratortime").val(AppointmentLength); }
            if (DoctorId > 0) { $("#ddlselectedDentistId").val(DoctorId); }
            $("#hdStep").val("2");
            if (AppointmentId > 0) { $("#hdAppointmentId").val(AppointmentId); }
            if (FromTime) { $("#hdFromtime").val(FromTime); }
            if (Note) { $("#hdnote").val(Note); }
            if (AppointmentTimeSlot) { $("#hdAppointmentTime").val(AppointmentTimeSlot) }
        });
    };
</script>
