﻿@model DentalFiles.Models.ViewModel.DentalFormsMaster
              @using DentalFiles.App_Start
@using System.Web.Optimization
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PATIENT INFO</title>
    <script type="text/javascript" src="//www.baw5tracker.com/js/60398.js"></script>
    <noscript><img src="//www.baw5tracker.com/60398.png" style="display:none;" alt="baw5tracker"/></noscript>
    <link rel="icon" href="/DentalImages/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/DentalImages/favicon.ico" type="image/x-icon" />
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
   @* <link href="http://qa.recordlinc.com/Dentalcss/style.css" media="all" rel="stylesheet" type="text/css">
    <link href="http://qa.recordlinc.com/Dentalcss/jquery.selectbox.css" media="all" rel="stylesheet" type="text/css" />*@

    
    <link href="@SessionManagement.CompanyWebsite/Dentalcss/jquery.selectbox.css" media="all" rel="stylesheet" type="text/css" />
    <link href="@SessionManagement.CompanyWebsite/Dentalcss/style.css" media="all" rel="stylesheet" type="text/css" />
    <script src="/Dentaljs/jquery-1.8.3.min.js"></script>
       @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    <script type="text/javascript">

        $(document).ready(function () {
            $(function () {
                $("*").attr("readOnly", true);
                $("*").attr("color", "white");
            });
        });

        function getParameterByName(name) {
            var match = RegExp('[?&]' + name + '=([^&]*)').exec(window.location.search);
            return match && decodeURIComponent(match[1].replace(/\+/g, ' '));
        }
    </script>
</head>
@{
    if (TempData["result"] != "false")
    {
    <script type="text/javascript">
        $(function () {
            document.getElementById('tab-container_1').style.display = '';
            document.getElementById('btnSubmit').style.display = 'none';
            window.print();

        });       
    </script>
    }
    else
    {
    <script type="text/javascript">
        $(function () {


            document.getElementById('tab-container_1').style.display = 'none';
            document.getElementById('btnSubmit').style.display = 'none';
            $('#Message').html('No record found');
            $('#Message').delay(300).slideDown(300).delay(4000).slideUp(300);
        });       
    </script>
    }
}
<body>
    <div id="Message">
    </div>
    <div>
        @foreach (var item in Model.BasicInfo)
        {
        
            @Html.Partial("DentalForms/_BasicInfo");
        }
    </div>
    <span id="siteseal">
    <script type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=F34USZbK0ZJXklg4iUVnDdiuqxNIsXp8lcoNVeU36D7SHiwi3v"></script></span>
</body>
</html>


<style>
.body {
   size: landscape;
}
</style>