﻿@model BO.ViewModel.DentistProfileDetail
@using DentalFiles.App_Start;
<div class="box">
    <div class="image-holder">
        @if (Model.ImageName != null && Model.ImageName != "")
        {

            <img src='@SessionManagement.CompanyWebsite/@System.Configuration.ConfigurationManager.AppSettings["DentistImagespath"].ToString()@Model.ImageName' />
        }
        else
        {
            <img src="~/ImageBank/Doctor_no_image.gif" alt="@Model.ImageName" height="80" width="80"  />
        }
    </div>
    <div class="text-holder">
        <h3>@Model.FirstName &nbsp; @Model.LastName</h3>
        @foreach (var item in Model.lstSpeacilitiesOfDoctor)
        {
            <label>@item.SpecialtyDescription</label><br />
        }
        
        <ul class="rating-list list-inline">
            @for (var i = 0; i < Model.RatingCount; i++)
            {
                <li><i class="icon-star"></i></li>          
            }
           @for (var i = Model.RatingCount; i < 5; i++)
           {
            <li><i class="icon-star-o"></i></li>
           }            
        </ul>
    </div>
    <hr />
    <div class="text-holder">
        <h3>Amount Detail</h3>
        <table><tr>
            <td>$</td>
             <td><span id="amt">0</span></td>     
            </tr>
        </table>
    </div>
    <hr />
</div>
