﻿@model BO.Models.ZPTransactionRequest
@{
    ViewBag.Title = "NewMakeTransaction";
    Layout = "~/Views/Shared/NewSiteLayout.cshtml";
}

@{
    string strDone = Convert.ToString(TempData["strDone"]);
    TempData["strDone"] = null;
    string strErrorMsg = Convert.ToString(TempData["strErrorMsg"]);
    TempData["strErrorMsg"] = null;
    string transactionId = Convert.ToString(TempData["transactionId"]);
    TempData["transactionId"] = null;
    
}
<main id="main">
    <div class="page_haading_holder">
        <div class="container navigation_container">
            <div class="row navigation_row">
                <div class="col-xs-12">
                    <div class="page_heading">
                        <h1>Make Payment</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="investment-packages-main-bg">
        <div class="block-investment-table plane_pricing_table row tabs_row single-form">
            <div class="container contact_container appiontment">


                @using (Html.BeginForm("MakeTransaction", "Payment", FormMethod.Post, new { @id = "frmPayment" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="row setup-content" id="step-3">
                        <div class="col-md-12">
                            <div class="plan_pricing_holder plan_pricing_holder2">
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 left_box_holder">
                                    <div class="left_box">
                                        <span class="sub_heading">
                                            Billing Information
                                        </span>

                                        @if (!string.IsNullOrEmpty(strDone) && strDone == "True")
                                        {
                                            <div class="alert alert-success" role="alert">
                                                Your Transaction has been Approved. Transaction ID is: @transactionId
                                            </div>
                                        }
                                        @if (!string.IsNullOrEmpty(strErrorMsg))
                                        {
                                            <div class="alert alert-danger" role="alert">
                                                @strErrorMsg
                                            </div>
                                        }

                                        <div class="form-group select_main">
                                            <label for="inputsm">Pay For:</label>
                                            <div class="row" id="lstDoctor">
                                                @*@Html.DropDownListFor(m => m.DoctorId, new SelectList(ViewBag.doctorList, "Value", "Text", Model.DoctorId), new { @class = "select_box input-validation-error" })*@
                                                <select class="select_box input-validation-error" id="DoctorId">
                                                    <option>Select Dentist</option>
                                                    @foreach (var item in ViewBag.doctorList)
                                                    {
                                                        <option value="@item.ZPAccountId" data-val="@item.UserId" >@item.Fullname</option>
                                                    }                                                 
                                                </select>            
                                            </div>

                                        </div>
                                        <div class="form-group card_group">
                                            <label for="inputlg">Card Number</label>
                                            <ul>
                                                <li><a href="#"><img src="~/Content/HomePage/images/card_01.jpg" alt="Shoping Card" /></a></li>
                                                <li><a href="#"><img src="~/Content/HomePage/images/card_02.jpg" alt="Shoping Card" /></a></li>
                                                <li><a href="#"><img src="~/Content/HomePage/images/card_03.jpg" alt="Shoping Card" /></a></li>
                                                <li><a href="#"><img src="~/Content/HomePage/images/card_04.jpg" alt="Shoping Card" /></a></li>
                                            </ul>
                                            @Html.TextBoxFor(m => m.accountNumber, new { @class = "form-control clsnumericOnly  input-lg", @title = "Card number", @placeholder = "Card Number", @id = "cardnumber", maxlength = 16 })
                                            @Html.ValidationMessageFor(model => model.accountNumber, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group select_main">
                                            <label for="inputsm">Expiration</label>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <select class="select_box input-validation-error" data-val="true" data-val-required="Month is required." id="month" name="ObjBillingInfo.ExpirationMonth">
                                                        <option value="0">Month</option>
                                                        <option value="01" data-val="January">January</option>
                                                        <option value="02" data-val="February">February</option>
                                                        <option value="03" data-val="March">March</option>
                                                        <option value="04" data-val="April">April</option>
                                                        <option value="05" data-val="May">May</option>
                                                        <option value="06" data-val="June">June</option>
                                                        <option value="07" data-val="July">July</option>
                                                        <option value="08" data-val="August">August</option>
                                                        <option value="09" data-val="September">September</option>
                                                        <option value="10" data-val="Octomber">Octomber</option>
                                                        <option value="11" data-val="November">November</option>
                                                        <option value="12" data-val="December">December</option>
                                                    </select>
                                                    <span for="month" generated="true" class="text-danger field-validation-error" style="display:none;" id="monthvalid">Month is Required</span>
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    @Html.DropDownListFor(m => m.ExpirationYear, new SelectList(Enumerable.Range(DateTime.Now.Year, 10).ToList()), "Year", new { @class = "select_box", @id = "year" })
                                                    <span for="year" generated="true" class="">@Html.ValidationMessageFor(m => m.ExpirationYear)</span>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="form-group cvv_box">
                                            <label for="inputdefault">CVV</label>
                                            @Html.TextBoxFor(m => m.Cvv, new { @class = "clsnumericOnly form-control", @title = "CVV", @placeholder = "CVV", @id = "cvv", maxlength = 4, @type = "Password" })
                                            <span for="year" generated="true" class="">@Html.ValidationMessageFor(model => model.Cvv, "", new { @class = "text-danger" })</span>
                                            <ul>
                                                <li><a href="#"><img src="~/Content/HomePage/images/card_05.jpg" alt="Shoping Card" /></a></li>
                                            </ul>
                                        </div>
                                        <div class="form-group card_group">
                                            <label for="inputlg">Patient/Holder Name</label>
                                            @Html.TextBoxFor(model => model.holderName, new { @placeholder = "Patient/Holder Name", @class = "form-control input-lg" })
                                            <span for="year" generated="true" class="">@Html.ValidationMessageFor(model => model.holderName, "", new { @class = "text-danger" })</span>
                                        </div>
                                        <div class="form-group card_group">
                                            <label for="inputlg">Amount</label>
                                            @Html.TextBoxFor(model => model.amount, new { @class = "form-control clsnumericOnly input-lg", @placeholder = "Amount" ,@id="amount" })
                                            <span for="year" generated="true" class="">@Html.ValidationMessageFor(model => model.amount, "", new { @class = "text-danger" })</span>
                                        </div>
                                        <div class="button_box">
                                            <button type="submit" class="submit_button" id="btn-submit" onclick="return Valid(); ">Pay Now</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5 col-sm-5"  id="ProfileData" >
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                }


            </div>
        </div>
    </div>
</main>
<script src="~/Scripts/jquery-1.11.2.min.js"></script>
<script src="~/Content/HomePage/js/jquery.main.js" defer></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min-3.2.9.js"></script>
<script>

    function Valid()
    {
        var x = $("#month option:selected").val();
        if (x == 0) {
            $("#monthvalid").show();
            return false;
        }
    }
    debugger;

    $(document).ready(function () {
        $("#main-nav").hide();
        $("#main-header .login-area").hide();
        $("#main-footer .search-by-location").hide();
        $("#main-footer .search-by-location").hide();
        function fnFocus(id) {
            var input = document.getElementById(id);
            input.focus();
            input.setSelectionRange(0, 0);
        }

        //Exp date validation
        $("#year").on('change', function () {

            var selectyear = $("#year option:selected").val();
            var currentyear = new Date().getFullYear();
            var curMonth = new Date().getMonth();
            var selectedMonth = $("#month").find(':selected').data('val');

            if (selectyear == currentyear) {
                for (var i = 0; i < curMonth; i++) {
                    var strmonth = GetMonth(i);
                    $("#month option[data-val*='" + strmonth + "']").prop("disabled", true);
                }
                if (getMonthVal(selectedMonth) < curMonth + 1) {
                    $("#month option:contains('Month')").prop('selected', true);
                }

            }
            else {
                for (var i = 0; i < 11; i++) {
                    var strmonth = GetMonth(i);
                    $("#month option[data-val*='" + strmonth + "']").prop("disabled", false);
                }
            }

        });
    });
      
    function GetMonth(value) {
        switch (value) {
            case 0:
                return 'January';
                break;
            case 1:
                return 'February';
                break;
            case 2:
                return 'March';
                break;
            case 3:
                return 'April';
                break;
            case 4:
                return 'May';
                break;
            case 5:
                return 'June';
                break;
            case 6:
                return 'July';
                break;
            case 7:
                return 'August';
                break;
            case 8:
                return 'September';
                break;
            case 9:
                return 'October';
                break;
            case 10:
                return 'November';
                break;
            case 11:
                return 'December';
                break;
        }
    }

    function getMonthVal(selectedMonth) {
        return new Date(selectedMonth + '-1-01').getMonth() + 1
    }

    $('#DoctorId').on("change", function () {
        var userid = $("#DoctorId").find(':selected').data('val');
        $.ajax({
            url: "/Payment/GetDentistProfileData",
            type: "POST",
            data: { UserId: userid },
            success: function (data) {
                $('#ProfileData').html(data);
            }

        })
    });

    $("#amount").keyup(function () {
        var x = $("#amount").val();
        $("#amt").text(x);
    });
</script>
