﻿@model BO.ViewModel.MDLPatientSignUp
@{
    if (Convert.ToString(TempData["DoctorSignup"]) == "True")
    {
        <input type="hidden" name="name" id="sucess" value="True" />
        TempData["DoctorSignup"] = "";
    }
}
<!DOCTYPE html>
<html>
<head>
    <style>
        input:required {
            border-color: red !important;
        }
		#flip-card {
			height: auto;
		}
    </style>
    <meta charset="UTF-8">
    <title>RecordLinc - Referrals | Scheduling | Forms | Secure Messages | Patient Portal</title>
    <link rel="icon" href="~/Content/css/HomePage/images/fav-ico.png" type="image/x-icon">
    <link rel="stylesheet" href="~/Content/css/Newloginstyle.css">
    <link href="~/Content/css/Main/css/validation.css" rel="stylesheet" />
    <script src="~/Content/js/jquery-1.9.1.js"></script>
    @*<script src="~/Content/js/Jquery-2.2.4.js"></script>*@
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <link rel="icon" href="/Content/css/HomePage/images/fav-ico.png" type="image/x-icon">
</head>
<body>
    <!-- <div class="loginmainpage"> -->
    <div class="maindevpage">
        <div class="mainleft">
            <div class="loginleft">
                <div style="text-align:center;"><a href="/User"><img src="~/Content/images/NewLoginImages/logo.png"></a></div>
                <div id="flip-container">
                    <div id="flip-card">
                        <div id="signin" class="face">
                            <h2 style="text-align:left;font-size: 20px;font-weight: 100;color: #666;">Sign1 up</h2>
                            <form action="/User/DoctorSingup" id="SignupForm" method="post" class="form-signin" role="form">
                                <div class="form-group zip_city city">
                                    @Html.TextBoxFor(t => t.FirstName, new { @class = "form-control alphaonly", @id = "first_name", @placeholder = "First Name" })
                                    @Html.ValidationMessageFor(m => m.FirstName)
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group zip_city city">
                                    @Html.TextBoxFor(t => t.LastName, new { @class = "form-control alphaonly", @id = "last_name", @placeholder = "Last Name" })
                                    @Html.ValidationMessageFor(m => m.LastName)
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group zip_city city">
                                    @Html.TextBoxFor(t => t.Email, new { @class = "form-control", @id = "email_address", @placeholder = "Email Address" })
                                    @Html.ValidationMessageFor(m => m.Email)
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group zip_city city">
                                    @Html.TextBoxFor(t => t.Phone, new { @class = "form-control numericOnly", @id = "phone_number", @placeholder = "Phone", @maxlength = "10" })
                                    @Html.ValidationMessageFor(t=>t.Phone)
                                </div>
                                <label id="Isinvalid" style="color:red;float: left;padding:5px;margin-bottom: 8px;display:none;"></label>
                                <div class="form-group submit_button_box">
                                    <button type="button" onclick="return SubmitSignupForm();" id="btnsubmit">Signup</button>
                                </div>
                                @*<a style="display:block;" href="#" id="toRecover">Lost Password?</a>*@
                            </form>
                        </div>
                        <div class="back face">
                            <div id="recover" class="hide" style="margin-top: 76px;">
                                <h1 class="thanks">THANK YOU</h1>
                                <div class="thankssub"> FOR SIGNING UP!</div>
                                <h3 class="subd"> We have sent you activation email on your registered email address. Click on activation link from email to start using RecordLinc.</h3>
                                <div class="submit_button_box">
                                    <a href="@Url.Action("Index", "Login")"><button id="btnsubmit">Login</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- /container -->
            </div>
        </div>
        <div class="mainright">
            <div class="loginright">
                <h1 class="videotital">Watch the Overview of Recordlinc</h1>
                <img src="~/Content/images/NewLoginImages/video-rec.png" class="devimg" />
                <div class="videobar">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/ky1IFi5vhi4?rel=0&amp;showinfo=0" [^] frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="Trainingmain">
                    <a href="/Dashboard/help"><button class="Training" name="button">More Training</button></a>
                    <a href="/ContactUs"><button class="contact" name="button">Contact Us</button></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script type="text/javascript">
    var specialKeys = new Array();
    specialKeys.push(8); //Backspace
    $(document).ready(function () {
        var sucess = $("#sucess").val();
        $.support.css3d = supportsCSS3D();
        var container = $('#flip-container');
        function ctoggle() {
            return container.toggleClass('flipped').delay(200);
        }
        function flipit(el, e) {
            $.when(ctoggle()).done(function () {
                el.toggleClass('hide');
                if (!$.support.css3d)
                    $('#signin').toggle();
            });
            e.preventDefault();
        }
        function supportsCSS3D() {
            var props = [
                'perspectiveProperty', 'WebkitPerspective', 'MozPerspective'
            ], testDom = document.createElement('a');

            for (var i = 0; i < props.length; i++) {
                if (props[i] in testDom.style) {
                    return true;
                }
            }

            return false;
        }
        if (sucess == "True")
        {
            flipit($('#recover'));
        }
        $(".alphaonly").on("keydown", function (event) {
            // Allow controls such as backspace
            var arr = [8, 9, 16, 17, 20, 35, 36, 37, 38, 39, 40, 45, 46, 32];

            // Allow letters
            for (var i = 65; i <= 90; i++) {
                arr.push(i);
            }

            // Prevent default if not in array
            if (jQuery.inArray(event.which, arr) === -1) {
                event.preventDefault();
            }
        });
        $(".numericOnly").bind("keypress", function (e) {
            var keyCode = e.which ? e.which : e.keyCode
            var ret = ((keyCode >= 48 && keyCode <= 57) || specialKeys.indexOf(keyCode) != -1);

            return ret;
        });
        $(".numericOnly").bind("paste", function (e) {
            return false;
        });
        $(".numericOnly").bind("drop", function (e) {
            return false;
        });
    });
    function SubmitSignupForm() {
        
        if (!$("#SignupForm").valid()) {
            return false;
        }
        jQuery.ajaxSetup({ async: false });
        $.post("/User/CheckDoctorLoginNameIsExistsOrNot", { Username: $('#email_address').val() }, function (data) {
            if (data == "true") {
                $("#Isinvalid").css('display', 'block');
                $("#Isinvalid").html("This email address already exists. Visit login to continue using recordlinc.");
                Status = false;
            }
            else {
                
                if ($("#SignupForm").valid()) {
                    $("#SignupForm").submit();
                    //flipit($('#recover'), e);

                }
            }
        });
        jQuery.ajaxSetup({ async: true });
        if (Status) {
            $("#frmSignUp").submit();
          //  flipit($('#signup'), e);
        }
    }
</script>