﻿@model BO.ViewModel.MDLPatientSignUp
@{
    ViewBag.Title = "Sign Up";
    Layout = "~/Views/Shared/NewSiteLayout.cshtml";
    string message = Convert.ToString(ViewBag.Message);
    <input type="hidden" id="hdnmessage" name="name" value="@message" />
    <input type="hidden" name="name" id="isvalide" value="@ViewBag.IsSignup" />
}
@section styles{
    <link href="~/Content/Final/css/all.css" rel="stylesheet" />
}
<script src="~/Scripts/Mask/Mask.js"></script>
<main id="main">
    <section class="section-sign-up">
        <div class="container">
            <h1>Sign Up</h1>
            <div class="sign-up-from">
                <div class="alert alert-danger" id="Isinvalid"></div>
                <div class="alert alert-success" id="isvalidate"></div>
                @using (Html.BeginForm("SignUpUser", "Signup", FormMethod.Post, new { id = "frmSignup", name = "Signup" }))
                {
                    <div class="form-group">
                        <label for="first name">First Name*</label>
                        @Html.TextBoxFor(t => t.FirstName, new { @class = "form-control alphaonly" })
                        @Html.ValidationMessageFor(t => t.FirstName)
                    </div>
                    <div class="form-group">
                        <label for="last name">Last Name*</label>
                        @Html.TextBoxFor(t => t.LastName, new { @class = "form-control alphaonly" })
                        @Html.ValidationMessageFor(t => t.LastName)
                    </div>
                    <div class="form-group">
                        <label for="email">Email*</label>
                        @Html.TextBoxFor(t => t.Email, new { @class = "form-control", @placeholder = "info@name.com" })
                        @Html.ValidationMessageFor(t => t.Email)
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone*</label>
                        @Html.TextBoxFor(t => t.Phone, new { @class = "form-control" })
                        @Html.ValidationMessageFor(t => t.Phone)
                    </div>
                    <button type="button" onclick="return funSignup();" class="btn btn-default">Sign Up</button>
                }
            </div>
        </div>
    </section>
</main>
@section scripts{
<script type="text/javascript">
    $(document).ready(function () {  
        $('#Phone').mask("(999) 999-9999");
        var IsTrue = $("#isvalide").val();
        var Message = $("#hdnmessage").val();
        if (IsTrue != null && IsTrue != "") {
            if (Message.indexOf("Successfully") != -1) {
                $("#isvalidate").show();
                $("#isvalidate").html(Message);
                setTimeout(function () {
                    $("#isvalidate").hide();
                }, 5000)
            } else {
                $("#Isinvalid").show();
                $("#Isinvalid").html(Message);
                setTimeout(function () {
                    $("#Isinvalid").hide();
                }, 5000)
            }
        }
       
    });
    function funSignup() {
        var status = false;
        if ($("#frmSignup").valid()) {
            jQuery.ajaxSetup({ async: false });
            $.post("/User/CheckDoctorLoginNameIsExistsOrNot", { Username: $('#Email').val() }, function (data) {
                if (data == "true") {
                    $("#Isinvalid").show();
                    $("#Isinvalid").html("This email address already exists. Visit login to continue using recordlinc.");
                    setTimeout(function () {
                        $("#Isinvalid").hide();
                    }, 5000)
                    status = false;
                }
                else {
                    if ($("#frmSignup").valid()) {
                        $("#frmSignup").submit();
                    }
                }
            });
            jQuery.ajaxSetup({ async: true });
        }
        else {
            return false;
        }
    }

    $('#Phone').click(function () {
        var input = $('#Phone');
        input.focus().val(input.val());
    });
    //$("#frmSignup").submit(function () {
     
    //});
</script>
    }