﻿@model OneClickReferral.Models.ReferralMessage
@using OneClickReferral.App_Start
@{
    Layout = null;
}
@try
{
    foreach (var lst in Model.ReferralMessageList)
    {
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header blue-bg">
                    <button type="button" class="close close-circle" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title white">Patient referral from @lst.SenderName </h3>
                </div>
                <div class="modal-body compose-message">
                    <div class="row row-bordered btm-margin-30">
                        <div class="col-lg-12 btm-margin-30">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h1>@lst.PatientName</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 mail-header">
                            <div class="user">
                                <a href="#"><img src="@lst.ProfileImage" width="50" height="50" alt="Image"></a>
                            </div>
                            <div class="mail-header-holder">
                                @*<dl class="mail-det-list  patient-history">*@

                                <dl class="mail-det-list">
                                    <dt>Referral sent date:</dt>
                                    <dd><time>&nbsp;@lst.CreationDate</time></dd>

                                    <dt>Referred by:</dt>
                                    <dd>&nbsp;<a href="javascript:void(0)" onclick="GetColleaguesProfile(@lst.SenderId)">@lst.SenderName</a></dd>

                                    <dt>Referred to:</dt>
                                    <dd>&nbsp;<a href="javascript:void(0)" onclick="GetColleaguesProfile(@lst.ReceiverID)">@lst.ReceiverName</a></dd>

                                    <dt>Location:</dt>
                                    @if (!string.IsNullOrWhiteSpace(lst.Location))
                                    {
                                        <dd>&nbsp;@lst.Location</dd> }
                                    else
                                    {
                                        <dd>&nbsp;-</dd> }

                                    @if (!string.IsNullOrWhiteSpace(lst.AssignedPatientId))
                                    {
                                        <dt>Id:</dt>
                                        <dd><time>&nbsp;@lst.AssignedPatientId</time></dd>
                                    }

                                </dl>

                                <dl class="mail-det-list">                                  
                                    <dt>Email:</dt>
                                    @if (Common.checkEmailDomain(lst.EmailAddress))
                                    {
                                        <dd><a href="mailto:@lst.EmailAddress" >@lst.EmailAddress</a></dd> }
                                    else
                                    {
                                        <dd><a href="javascript:;">-</a></dd>
                                    }

                                    <dt>Gender:</dt>
                                    @if (!string.IsNullOrWhiteSpace(lst.Gender))
                                    {
                                        <dd>@lst.Gender</dd> }
                                    else
                                    {
                                        <dd>-</dd> }

                                    <dt>Date of Birth:</dt>
                                    @if (!string.IsNullOrWhiteSpace(lst.DateOfBirth))
                                    {
                                        {
                                            string DateOfBirth = DateFuncations.ConvertToDate(Common.SafeDateTime(lst.DateOfBirth), Common.SafeInteger(BO.Enums.Common.DateFormat.GENERAL));

                                            <dd>@DateOfBirth</dd>
                                        }
                                    }
                                    else
                                    {
                                        <dd>-</dd>
                                    }
                                </dl>
                            </div>
                        </div>
                    </div>
                    @if (string.IsNullOrWhiteSpace(lst.RegardOption))
                    {
                        @Html.Action("GetReferralCategory", new { ReferralCardId = lst.ReferralCardId })
                    }
                    else
                    {
                        <div class="row btm-margin-30">
                            <div class="col-lg-12">
                                <h4 class="heading-bar blue mrgn-btm-20 txt-dark-gray">Request</h4>
                            </div>
                            <div class="col-lg-12">
                                <p><strong>Pathology</strong></p>

                                @{
                                    string[] strRequest = lst.RequestingOption.Split(new char[] { ',' }, StringSplitOptions.RemoveEmptyEntries);
                                    foreach (String item in strRequest)
                                    {
                                        if (!string.IsNullOrEmpty(item))
                                        {
                                            if ((Common.SafeInteger(item) - 1) < lst.ReferralRequest.Length)
                                            {
                                                <p><strong>@lst.ReferralRequest[Common.SafeInteger(item) - 1]</strong></p>
                                            }

                                        }
                                    }
                                }
                                @if (!String.IsNullOrEmpty(lst.RequestComments))
                                {
                                    <p><strong>@lst.RequestComments</strong></p>
                                }
                            </div>
                        </div>
                                    }
                    <div class="row row-bordered">
                        <div class="col-lg-12">
                            @if (!string.IsNullOrWhiteSpace(lst.Comments))
                            {
                                <div class="list-holder scrollbar-inner btm-margin-30">
                                    <p>@Html.Raw(lst.Comments.Replace("\n", "<br/>"))</p>
                                </div>
                            }

                            @if (lst.lstSelectedPermanentTeeths.Count > 0 || lst.lstSelectedPrimaryTeeths.Count > 0)
                            {
                                <div class="row mrgn-btm-20 row-bordered">
                                    <div class="col-lg-12">
                                        <h3 class="mrgn-btm-20">Visual Instructions</h3>
                                    </div>
                                </div>
                                <div class="row mrgn-btm-20">
                                    <div class="col-lg-12">
                                        @if (lst.lstSelectedPermanentTeeths.Count > 0)
                                        {
                                            <table class="table table-bordered table1 text-align-center">
                                                <thead class="thead-inverse">
                                                <th colspan="2">Permanent Teeth</th>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <h4 class="blue">Right</h4>
                                                            <div class="all-select">
                                                                <label for="1">1</label>
                                                                <input id="1" checked="@lst.lstSelectedTeeths.Contains(1)" disabled type="checkbox">
                                                            </div>
                                                            <div class="all-select">
                                                                <label for="2">2</label>
                                                                <input id="2" checked="@lst.lstSelectedTeeths.Contains(2)" disabled type="checkbox">
                                                            </div>
                                                            <div class="all-select">
                                                                <label for="3">3</label>
                                                                <input id="3" checked="@lst.lstSelectedTeeths.Contains(3)" disabled type="checkbox">
                                                            </div>
                                                            <div class="all-select">
                                                                <label for="4">4</label>
                                                                <input id="4" checked="@lst.lstSelectedTeeths.Contains(4)" disabled type="checkbox">
                                                            </div>
                                                            <div class="all-select">
                                                                <label for="5">5</label>
                                                                <input id="5" checked="@lst.lstSelectedTeeths.Contains(5)" disabled type="checkbox">
                                                            </div>
                                                            <div class="all-select">
                                                                <label for="6">6</label>
                                                                <input id="6" checked="@lst.lstSelectedTeeths.Contains(6)" disabled type="checkbox">
                                                            </div>
                                                            <div class="all-select">
                                                                <label for="7">7</label>
                                                                <input id="7" checked="@lst.lstSelectedTeeths.Contains(7)" disabled type="checkbox">
                                                            </div>
                                                            <div class="all-select">
                                                                <label for="8">8</label>
                                                                <input id="8" checked="@lst.lstSelectedTeeths.Contains(8)" disabled type="checkbox">
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <h4 class="blue">Left</h4>
                                                            <div class="all-select">
                                                                <label for="9">9</label>
                                                                <input id="9" checked="@lst.lstSelectedTeeths.Contains(9)" disabled type="checkbox">
                                                            </div>
                                                            <div class="all-select">
                                                                <label for="10">10</label>
                                                                <input id="10" checked="@lst.lstSelectedTeeths.Contains(10)" disabled type="checkbox">
                                                            </div>
                                                            <div class="all-select">
                                                                <label for="11">11</label>
                                                                <input id="11" checked="@lst.lstSelectedTeeths.Contains(11)" disabled type="checkbox">
                                                            </div>
                                                            <div class="all-select">
                                                                <label for="12">12</label>
                                                                <input id="12" checked="@lst.lstSelectedTeeths.Contains(12)" disabled type="checkbox">
                                                            </div>
                                                            <div class="all-select">
                                                                <label for="13">13</label>
                                                                <input id="13" checked="@lst.lstSelectedTeeths.Contains(13)" disabled type="checkbox">
                                                            </div>
                                                            <div class="all-select">
                                                                <label for="14">14</label>
                                                                <input id="14" checked="@lst.lstSelectedTeeths.Contains(14)" disabled type="checkbox">
                                                            </div>
                                                            <div class="all-select">
                                                                <label for="15">15</label>
                                                                <input id="15" checked="@lst.lstSelectedTeeths.Contains(15)" disabled type="checkbox">
                                                            </div>
                                                            <div class="all-select">
                                                                <label for="16">16</label>
                                                                <input id="16" checked="@lst.lstSelectedTeeths.Contains(16)" disabled type="checkbox">
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="all-select">
                                                                <label for="32">32</label>
                                                                <input id="32" checked="@lst.lstSelectedTeeths.Contains(32)" disabled type="checkbox">
                                                            </div>
                                                            <div class="all-select">
                                                                <label for="31">31</label>
                                                                <input id="31" checked="@lst.lstSelectedTeeths.Contains(31)" disabled type="checkbox">
                                                            </div>
                                                            <div class="all-select">
                                                                <label for="30">30</label>
                                                                <input id="30" checked="@lst.lstSelectedTeeths.Contains(30)" disabled type="checkbox">
                                                            </div>
                                                            <div class="all-select">
                                                                <label for="29">29</label>
                                                                <input id="29" checked="@lst.lstSelectedTeeths.Contains(29)" disabled type="checkbox">
                                                            </div>
                                                            <div class="all-select">
                                                                <label for="28">28</label>
                                                                <input id="28" checked="@lst.lstSelectedTeeths.Contains(28)" disabled type="checkbox">
                                                            </div>
                                                            <div class="all-select">
                                                                <label for="27">27</label>
                                                                <input id="27" checked="@lst.lstSelectedTeeths.Contains(27)" disabled type="checkbox">
                                                            </div>
                                                            <div class="all-select">
                                                                <label for="26">26</label>
                                                                <input id="26" checked="@lst.lstSelectedTeeths.Contains(26)" disabled type="checkbox">
                                                            </div>
                                                            <div class="all-select">
                                                                <label for="25">25</label>
                                                                <input id="25" checked="@lst.lstSelectedTeeths.Contains(25)" disabled type="checkbox">
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="all-select">
                                                                <label for="24">24</label>
                                                                <input id="24" checked="@lst.lstSelectedTeeths.Contains(24)" disabled type="checkbox">
                                                            </div>
                                                            <div class="all-select">
                                                                <label for="23">23</label>
                                                                <input id="23" checked="@lst.lstSelectedTeeths.Contains(23)" disabled type="checkbox">
                                                            </div>
                                                            <div class="all-select">
                                                                <label for="22">22</label>
                                                                <input id="22" checked="@lst.lstSelectedTeeths.Contains(22)" disabled type="checkbox">
                                                            </div>
                                                            <div class="all-select">
                                                                <label for="21">21</label>
                                                                <input id="21" checked="@lst.lstSelectedTeeths.Contains(21)" disabled type="checkbox">
                                                            </div>
                                                            <div class="all-select">
                                                                <label for="20">20</label>
                                                                <input id="20" checked="@lst.lstSelectedTeeths.Contains(20)" disabled type="checkbox">
                                                            </div>
                                                            <div class="all-select">
                                                                <label for="19">19</label>
                                                                <input id="19" checked="@lst.lstSelectedTeeths.Contains(19)" disabled type="checkbox">
                                                            </div>
                                                            <div class="all-select">
                                                                <label for="18">18</label>
                                                                <input id="17" checked="@lst.lstSelectedTeeths.Contains(18)" disabled type="checkbox">
                                                            </div>
                                                            <div class="all-select">
                                                                <label for="1">17</label>
                                                                <input id="17" checked="@lst.lstSelectedTeeths.Contains(17)" disabled type="checkbox">
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        }
                                    </div>
                                </div>
                                <div class="row mrgn-btm-20 ">
                                    <div class="col-lg-12">
                                        @if (lst.lstSelectedPrimaryTeeths.Count > 0)
                                        {
                                            <table class="table table-bordered table1 text-align-center">
                                                <thead class="thead-inverse">
                                                <th colspan="2">Primary Teeth</th>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <h4 class="blue">Right</h4>
                                                            <div class="all-select">
                                                                <label for="a">A</label>
                                                                <input id="33" checked="@lst.lstSelectedTeeths.Contains(33)" disabled type="checkbox">
                                                            </div>
                                                            <div class="all-select">
                                                                <label for="b">B</label>
                                                                <input id="34" checked="@lst.lstSelectedTeeths.Contains(34)" disabled type="checkbox">
                                                            </div>
                                                            <div class="all-select">
                                                                <label for="c">C</label>
                                                                <input id="35" checked="@lst.lstSelectedTeeths.Contains(35)" disabled type="checkbox">
                                                            </div>
                                                            <div class="all-select">
                                                                <label for="d">D</label>
                                                                <input id="36" checked="@lst.lstSelectedTeeths.Contains(36)" disabled type="checkbox">
                                                            </div>
                                                            <div class="all-select">
                                                                <label for="e">E</label>
                                                                <input id="37" checked="@lst.lstSelectedTeeths.Contains(37)" disabled type="checkbox">
                                                            </div>

                                                        </td>
                                                        <td>
                                                            <h4 class="blue">Left</h4>
                                                            <div class="all-select">
                                                                <label for="f">F</label>
                                                                <input id="38" checked="@lst.lstSelectedTeeths.Contains(38)" disabled type="checkbox">
                                                            </div>
                                                            <div class="all-select">
                                                                <label for="g">G</label>
                                                                <input id="39" checked="@lst.lstSelectedTeeths.Contains(39)" disabled type="checkbox">
                                                            </div>
                                                            <div class="all-select">
                                                                <label for="h">H</label>
                                                                <input id="40" checked="@lst.lstSelectedTeeths.Contains(40)" disabled type="checkbox">
                                                            </div>
                                                            <div class="all-select">
                                                                <label for="i">I</label>
                                                                <input id="41" checked="@lst.lstSelectedTeeths.Contains(41)" disabled type="checkbox">
                                                            </div>
                                                            <div class="all-select">
                                                                <label for="j">J</label>
                                                                <input id="42" checked="@lst.lstSelectedTeeths.Contains(42)" disabled type="checkbox">
                                                            </div>

                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>

                                                            <div class="all-select">
                                                                <label for="p">P</label>
                                                                <input id="48" checked="@lst.lstSelectedTeeths.Contains(48)" disabled type="checkbox">
                                                            </div>
                                                            <div class="all-select">
                                                                <label for="q">Q</label>
                                                                <input id="49" checked="@lst.lstSelectedTeeths.Contains(49)" disabled type="checkbox">
                                                            </div>
                                                            <div class="all-select">
                                                                <label for="r">R</label>
                                                                <input id="50" checked="@lst.lstSelectedTeeths.Contains(50)" disabled type="checkbox">
                                                            </div>
                                                            <div class="all-select">
                                                                <label for="s">S</label>
                                                                <input id="51" checked="@lst.lstSelectedTeeths.Contains(51)" disabled type="checkbox">
                                                            </div>
                                                            <div class="all-select">
                                                                <label for="t">T</label>
                                                                <input id="52" checked="@lst.lstSelectedTeeths.Contains(52)" disabled type="checkbox">
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="all-select">
                                                                <label for="k">K</label>
                                                                <input id="43" checked="@lst.lstSelectedTeeths.Contains(43)" disabled type="checkbox">
                                                            </div>
                                                            <div class="all-select">
                                                                <label for="l">L</label>
                                                                <input id="44" checked="@lst.lstSelectedTeeths.Contains(44)" disabled type="checkbox">
                                                            </div>
                                                            <div class="all-select">
                                                                <label for="m">M</label>
                                                                <input id="45" checked="@lst.lstSelectedTeeths.Contains(45)" disabled type="checkbox">
                                                            </div>
                                                            <div class="all-select">
                                                                <label for="n">N</label>
                                                                <input id="46" checked="@lst.lstSelectedTeeths.Contains(46)" disabled type="checkbox">
                                                            </div>
                                                            <div class="all-select">
                                                                <label for="o">O</label>
                                                                <input id="47" checked="@lst.lstSelectedTeeths.Contains(47)" disabled type="checkbox">
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        }
                                    </div>
                                </div>
                            }
                            @if (lst.lstImages.Count > 0 || lst.lstDocuments.Count > 0)
                            {
                                <div class="bar">
                                    <p>
                                        Attachments:
                                        <a href="javascript:;" onclick='Redirect("/Common/DownloadAllAttachmentofReferral?ReferralCardId=@lst.ReferralCardId&PatientId=@lst.PatientId")'>Download All Attachments</a>
                                </div>
                                <ul class="attachment-list">
                                    @if (lst.lstImages.Count > 0)
                                    {
                                        @Html.Partial("~/Views/Dashboard/PatialFileuploadedForReferral.cshtml", lst.lstImages)
                                    }
                                    @if (lst.lstDocuments.Count > 0)
                                    {
                                        @Html.Partial("~/Views/Dashboard/PatialFileuploadedForReferral.cshtml", lst.lstDocuments)
                                    }
                                </ul>
                            }
                        </div>
                    </div>
                </div>

                <div class="modal-footer bdr-top-no">
                    <div class="btn-group btn-holder">
                        <button type="button" class="btn btn-default btn1" data-dismiss="modal"><i class="ico-corss2"></i>Cancel</button>
                    </div>
                </div>
            </div>
        </div>





                                        }
                                    }
                                    catch (Exception Ex)
                                    {
                                        @Html.Partial("_PartialError")

                                        Common.LogError(Ex);
                                    }
