﻿@using DataAccessLayer.Common
@model OneClickReferral.Models.OCRPatientMessagesOfDoctor
@try
{
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header blue-bg">
                <button type="button" class="close close-circle" data-dismiss="modal">&times;</button>
                <h3 class="modal-title white">Messages</h3>
            </div>
            <div class="modal-body compose-message">
                <div class="row row-bordered btm-margin-30">
                    <div class="col-lg-12">
                        <dl class="mail-details">
                            <dt>From:</dt>
                            <dd>@Model.FromField <a href="mailto:@Model.DoctorEmail">@Model.PatientEmail</a></dd>
                            <dt>To:</dt>
                            <dd>@Model.ToField <a href="mailto:@Model.PatientEmail">@Model.DoctorEmail</a></dd>
                            <dt>Date:</dt>
                            <dd><time>@Model.CreationDate</time></dd>
                        </dl>
                    </div>
                </div>
                <div class="row row-bordered">
                    <div class="col-lg-12">
                        <div class="list-holder scrollbar-inner btm-margin-30">
                            <p>@Html.Raw(HttpUtility.HtmlDecode(@Uri.UnescapeDataString(Convert.ToString(Model.Message)).Replace("\n", "<br />")))</p>
                        </div>
                    </div>
                </div>
                @if (Model.lstattachement.Count > 0)
                {
                    <div class="row row-bordered">
                        <div class="col-lg-12">
                            <div class="bar">
                                <p>Attachments: @*<a href="#">Download All Attachments</a>*@</p>
                            </div>
                            <ul class="attachment-list">
                                @foreach (var item in Model.lstattachement)
                                {
                                    if (item.Id != 0)
                                    {
                                        <li>
                                            <div class="img-holder">
                                                <img src="@Convert.ToString(System.Configuration.ConfigurationManager.AppSettings.Get("ImageBank"))@item.AttachmentName" alt="Attachment" height="68" width="68">
                                            </div>
                                            <div class="attacg-description">
                                                <div class="discription-box">
                                                    <p>@item.AttachmentName</p>
                                                    <a href="~/ImageBank/@clsHelper.EscapeUriString(item.AttachmentName)" target="_blank">View</a>
                                                    <a href="~/ImageBank/@clsHelper.EscapeUriString(item.AttachmentName)" target="_blank">Download</a>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer bdr-top-no">
                <div class="btn-group btn-holder">
                    <button type="button" class="btn btn-default btn1" data-dismiss="modal"><i class="ico-corss2"></i>Cancel</button>
                </div>
            </div>
        </div>
    </div>
}
catch (Exception Ex)
{
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header blue-bg"><button type="button" class="close close-circle" data-dismiss="modal">&times;</button></div>
            <div class="modal-body">
                @Html.Partial("_PartialError")
            </div>
        </div>
    </div>
    Common.LogError(Ex);
}