﻿
@using OneClickReferral.Models;
@model List<ColleaguesMessagesOfDoctorViewModel>
@try
{
    foreach (var item in Model)
    {
        <tr>
            @if (item.MessageTypeId == 2)
            {
                List<ReferralMessageDetails> ReferralDetailsList = new List<ReferralMessageDetails>();
                ReferralMessageDetails objReferral = new ReferralMessageDetails();
                var Datetime = item.CreationDate.Split(' ');
                var CreationDate = Datetime[0];
                var CreationTime = Datetime[1] + Datetime[2];
                // ReferralDetailsList = mdpatient.GetRefferalDetailsById(Convert.ToInt32(Session["UserId"]), item.MessageId, "Sentbox", SessionManagement.TimeZoneSystemName);
                objReferral = ReferralDetailsList.FirstOrDefault();
                <td data-th="Date"><time><a href="javascript:;" onclick='ViewDoctorReferralView(@item.MessageId ,@item.MessageTypeId)'>@CreationDate @CreationTime</a></time></td>
                <td data-th="From/To"><a href="javascript:;" onclick='ViewDoctorReferralView(@item.MessageId ,@item.MessageTypeId)'>@item.ColleagueName</a></td>
                                        <td data-th="Type"><a href="javascript:;" onclick='ViewDoctorReferralView(@item.MessageId ,@item.MessageTypeId)'>Referral</a></td>
                                        <td data-th="Message">
                                            @if (ReferralDetailsList.Count > 0)
                                            {
                                                string comments = objReferral.Comments;
                                                //comments = comments.Replace("\n", "<br />");
                                                <a href="javascript:;" onclick="ViewDoctorReferralView(@item.MessageId ,@item.MessageTypeId)">@comments</a>
                                                string[] strRegardingNo = objReferral.RegardOption.Split(new char[] { ',' }, StringSplitOptions.RemoveEmptyEntries);
                                                string[] strRequest = objReferral.RequestingOption.Split(new char[] { ',' }, StringSplitOptions.RemoveEmptyEntries);
                                                if (!string.IsNullOrEmpty(string.Join("", strRegardingNo)))
                                                {
                                                    <b class="hylyt_field">Regarding :</b>
                                                    foreach (string item2 in strRegardingNo)
                                                    {
                                                        if (!string.IsNullOrEmpty(item2))
                                                        {
                                                            if ((Common.SafeInteger(item2) - 1) < objReferral.ReferralRegarding.Length)
                                                            {
                                                                var t = objReferral.ReferralRegarding[Common.SafeInteger(item2) - 1];
                                                                @t;
                                                            }
                                                        }
                                                    }
                                                }
                                                if (!string.IsNullOrEmpty(objReferral.OtherComments))
                                                {
                                                    @objReferral.OtherComments
                                                }

                                                if (!string.IsNullOrEmpty(string.Join("", strRequest)))
                                                {
                                                    <br /><b class="hylyt_field">Request</b>
                                                    foreach (string item1 in strRequest)
                                                    {
                                                        if (!string.IsNullOrEmpty(item1))
                                                        {
                                                            if ((Common.SafeInteger(item1) - 1) < objReferral.ReferralRequest.Length)
                                                            {
                                                                var t = objReferral.ReferralRegarding[Common.SafeInteger(item1) - 1];
                                                                @t;
                                                            }
                                                        }
                                                    }
                                                }
                                                if (!string.IsNullOrEmpty(objReferral.RequestComments))
                                                {
                                                    @objReferral.RequestComments;
                                                }


                                                foreach (MessageAttachment objAttachment in objReferral.lstImages)
                                                {
                                                    string AttachmentName = objAttachment.AttachmentName;
                                                    AttachmentName = AttachmentName.Substring(Common.SafeString(AttachmentName).LastIndexOf("$") + 1);
                                                    <span><i class="attach" style="margin-left:0px !important;"></i><a target="_blank" href="~/ImageBank/@objAttachment.AttachmentName"> @AttachmentName</a></span>
                                                }
                                                foreach (MessageAttachment objAttachment in objReferral.lstDocuments)
                                                {
                                                    string AttachmentName = objAttachment.AttachmentName;
                                                    AttachmentName = AttachmentName.Substring(Common.SafeString(AttachmentName).LastIndexOf("$") + 1);
                                                    <span><i class="attach" style="margin-left:0px !important;"></i><a target="_blank" href="~/ImageBank/@objAttachment.AttachmentName"> @AttachmentName</a></span>
                                                }


                                            }
                                        </td>
                                        <td data-th="Print">
                                            <a href="@Url.Action("PrintReferralMessage", "Patients", new { MessageId = item.MessageId })" class="print_file" type="submit" id="_referralMessage" target="_blank">
                                                <span class="print_file">[Print]</span>
                                            </a>
                                        </td>
            }
            @if (item.MessageTypeId == 1)
            {
                var Datetime = item.CreationDate.Split(' ');
                var CreationDate = Datetime[0];
                var CreationTime = Datetime[1] + Datetime[2];
                string NewMessage = Uri.UnescapeDataString(Common.SafeString(item.Message));
                string colleaguesmsg = HttpUtility.HtmlDecode(NewMessage);
                //colleaguesmsg = colleaguesmsg.Replace("\n", "<br/>");
                // var MessageAttachments = Model.FirstOrDefault().MessageAttachments;
                var MessageAttachments = item.MessageAttachments;
                //MessageAttachments = mdpatient.ColleagueMessageAttachments(item.MessageId);
                <td data-th="Date"><time><a href="javascript:;" onclick='ViewMessageOfColleagues(@item.MessageId ,@item.MessageTypeId)'>@CreationDate @CreationTime</a></time></td>
                <td data-th="From/To"><a href="javascript:;" onclick='ViewMessageOfColleagues(@item.MessageId ,@item.MessageTypeId)'>@item.ColleagueName</a></td>
                                        <td data-th="Type"><a href="javascript:;" onclick='ViewMessageOfColleagues(@item.MessageId ,@item.MessageTypeId)'>Message</a></td>
                                        <td data-th="Message">
                                            <a href="javascript:;" onclick="ViewMessageOfColleagues(@item.MessageId,@item.MessageTypeId)">@colleaguesmsg</a>
                                            <br /><br />
                                            @if (MessageAttachments != null)
                                            {
                                                if (MessageAttachments.Count > 0)
                                                {
                                                    foreach (var item1 in MessageAttachments)
                                                    {
                                                        if (!string.IsNullOrEmpty(Common.SafeString(item1.Id)))
                                                        {
                                                            string AttachmentName = string.Empty;
                                                            AttachmentName = Common.SafeString(item1.AttachmentName);
                                                            AttachmentName = AttachmentName.Substring(Common.SafeString(AttachmentName).LastIndexOf("$") + 1);
                                                            string extension = Path.GetExtension(AttachmentName);
                                                            string Type = string.Empty;
                                                            if (extension.ToLower() != ".jpg" && extension.ToLower() != ".jpeg" && extension.ToLower() != ".gif" && extension.ToLower() != ".png" && extension.ToLower() != ".bmp" && extension.ToLower() != ".psd" && extension.ToLower() != ".pspimage" && extension.ToLower() != ".thm" && extension.ToLower() != ".tif")
                                                            {
                                                                Type = "Doc";
                                                            }
                                                            else
                                                            {
                                                                Type = "Image";
                                                            }
                                                            <span>
                                                                <i class="attach" style="margin-left:0px !important;">
                                                                </i><a target="_blank" href="@System.Configuration.ConfigurationManager.AppSettings["ImageBank"]@item1.AttachmentName">@Common.SafeString(AttachmentName).Substring(Common.SafeString(AttachmentName).LastIndexOf("$") + 1)</a>
                                                            </span>
                                                        }
                                                    }
                                                }
                                            }
                                        </td>
                                        <td data-th="Print">
                                            <a href="@Url.Action("PrintColleagueMessage", "Patients", new { MessageId = item.MessageId })" class="print_file" type="submit" id="_colleagueMessage" target="_blank">
                                                <span class="print_file">[Print]</span>
                                            </a>
                                        </td>
            }
            @if (item.MessageTypeId == 3)
            {
                var Datetime = item.CreationDate.Split(' ');
                var CreationDate = Datetime[0];
                var CreationTime = Datetime[1] + Datetime[2];
                string NewMessage = Uri.UnescapeDataString(Common.SafeString(item.Message));
                string patientsmsg = NewMessage;
                //patientsmsg = patientsmsg.Replace("\n", "<br />");
                Model.FirstOrDefault().MessageAttachments = new List<MessageAttachmentsViewModel>();
                // Model.FirstOrDefault().MessageAttachments = mdpatient.MessageAttachments(item.MessageId);
                <td data-th="Date"><a href="javascript:;" onclick="ViewMessage(@item.MessageId)">@CreationDate @CreationTime</a></td>
                <td data-th="From/To"><a href="javascript:;" onclick="ViewMessage(@item.MessageId)">@item.ColleagueName</a></td>
                                        <td data-th="Type"><a href="javascript:;" onclick="ViewMessage(@item.MessageId)">Message</a></td>
                                        <td data-th="Message">
                                            <a href="javascript:;" onclick="ViewMessage(@item.MessageId)">
                                                @Html.Raw(patientsmsg.Length > 700 ? patientsmsg.Substring(0, 700) + "..." : patientsmsg)
                                            </a>
                                            <br /><br />
                                            @if (Model.FirstOrDefault().MessageAttachments.Count > 0)
                                            {
                                                foreach (var itemAttach in Model.FirstOrDefault().MessageAttachments)
                                                {
                                                    if (!string.IsNullOrEmpty(Common.SafeString(itemAttach.Id)))
                                                    {
                                                        string AttachmentName = string.Empty;
                                                        AttachmentName = Common.SafeString(itemAttach.AttachmentName);
                                                        AttachmentName = AttachmentName.Substring(Common.SafeString(AttachmentName).LastIndexOf("$") + 1);
                                                        string extension = Path.GetExtension(AttachmentName);
                                                        string Type = string.Empty;
                                                        if (extension.ToLower() != ".jpg" && extension.ToLower() != ".jpeg" && extension.ToLower() != ".gif" && extension.ToLower() != ".png" && extension.ToLower() != ".bmp" && extension.ToLower() != ".psd" && extension.ToLower() != ".pspimage" && extension.ToLower() != ".thm" && extension.ToLower() != ".tif")
                                                        {
                                                            Type = "Doc";
                                                        }
                                                        else
                                                        {
                                                            Type = "Image";
                                                        }
                                                        <span>
                                                            <i class="attach" style="margin-left:0px !important;">
                                                            </i><a target="_blank" href="/ImageBank/@itemAttach.AttachmentName">@Common.SafeString(AttachmentName).Substring(Common.SafeString(AttachmentName).LastIndexOf("$") + 1)</a>
                                                        </span>
                                                    }
                                                }
                                            }
                                        </td>
                                        <td data-th="Print">
                                            <a href="@Url.Action("PrintPatientMessage", "Patients", new { MessageId = item.MessageId })" class="print_file" type="submit" id="_patientMessage" target="_blank">
                                                <span class="print_file">[Print]</span>
                                            </a>
                                            &nbsp;
                                        </td>
            }
        </tr>
    }

}
catch (Exception Ex)
{
    @Html.Partial("_PartialError")
    Common.LogError(Ex);

}