﻿@model OneClickReferral.Models.DentalHistory
@try
{
    <form id="PatientForm4" class="collapse drop">
        <div class="input-holder form-group">
            <div class="row btm-margin-30">
                <div class="col-lg-12 row-bordered2">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <p class="font-18 sky-blue mrgn-btm-20">Dental History</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12  btm-margin-30">
                    <ol class="acc-order-list btm-margin-30">
                        <li>
                            <h4>Previous Dentists Name</h4>

                            <div class="input-holder form-group simple-holder">
                                @Html.TextBoxFor(model => model.txtQue5, new { @placeholder = "Previous Dentist's Name" })
                            </div>
                        </li>
                        <li>
                            <h4>When was the last time you had your teeth cleaned?</h4>

                            <div class="input-holder form-group simple-holder">
                                @Html.TextBoxFor(model => model.txtQue6, new { @placeholder = "When was the last time you had your teeth cleaned?" })
                            </div>
                        </li>
                        <li>
                            <h4>Do you make regular visits to the dentist?</h4>
                            <span class="special-text"> How often</span>
                            <div class="all-select">
                                <div class="form-group">
                                    @Html.CheckBoxFor(model => model.rdQue7a, new { @id = "rdQue7a" })
                                </div>
                            </div>
                            <div class="input-holder form-group simple-holder">
                                @Html.TextAreaFor(model => model.txtQue7, new { @placeholder = "Enter Text", @class = "form-control", @rows = "5" })
                            </div>
                        </li>
                        <li>
                            <h4>Please explain any problems or complications with previous dental treatment?</h4>
                            <div class="input-holder form-group simple-holder">
                                @Html.TextBoxFor(model => model.txtQue12, new { @placeholder = "Please explain any problems or complications with previous dental treatment?" })
                            </div>
                        </li>
                        <li>
                            <h4>Have any of your teeth been replaced with the following?</h4>
                            <div class="input-holder form-group simple-holder">
                                <label class="inline" for="ch1">@Html.CheckBoxFor(model => model.rdoQue11aFixedbridge, new { @id = "rdoQue11aFixedbridge" })Fixed Bridge</label>
                                <label class="inline" for="ch2">@Html.CheckBoxFor(model => model.rdoQue11bRemoveablebridge, new { @id = "rdoQue11bRemoveablebridge" })Removable Bridge</label>
                                <label class="inline" for="ch3">@Html.CheckBoxFor(model => model.rdoQue11cDenture, new { @id = "rdoQue11cDenture" })Denture</label>
                                <label class="inline" for="ch4">@Html.CheckBoxFor(model => model.rdQue11dImplant, new { @id = "rdQue11dImplant" })Implant</label>
                            </div>
                        </li>
                        <li>
                            <h4>Do you clench or grind your teeth?</h4>
                            <div class="all-select">
                                <div class="form-group">
                                    @Html.CheckBoxFor(model => model.rdQue15, new { @id = "rdQue15" })
                                </div>
                            </div>
                        </li>
                        <li>
                            <h4>Does your jaw click or pop?</h4>
                            <div class="all-select">
                                <div class="form-group">
                                    @Html.CheckBoxFor(model => model.rdQue16, new { @id = "rdQue16" })
                                </div>
                            </div>
                        </li>
                        <li>
                            <h4>Are you experiencing any pain or soreness in the muscles of your face? </h4>
                            <div class="all-select">
                                <div class="form-group">
                                    @Html.CheckBoxFor(model => model.rdQue17, new { @id = "rdQue17" })
                                </div>
                            </div>
                        </li>
                        <li>
                            <h4>Do you have frequent headaches, neck-aches or shoulder aches?</h4>
                            <div class="all-select">
                                <div class="form-group">
                                    @Html.CheckBoxFor(model => model.rdQue18, new { @id = "rdQue18" })
                                </div>
                            </div>
                        </li>
                        <li>
                            <h4>Does food get caught in your teeth?</h4>
                            <div class="all-select">
                                <div class="form-group">
                                    @Html.CheckBoxFor(model => model.rdQue19, new { @id = "rdQue19" })
                                </div>
                            </div>
                        </li>
                        <li>
                            <h4>Are any of your teeth sensitive to</h4>
                            <div class="input-holder form-group simple-holder">
                                <label class="inline" for="chc1">@Html.CheckBoxFor(model => model.chkQue20_1, new { @id = "chkQue20_1" })Hot</label>
                                <label class="inline" for="chc2">@Html.CheckBoxFor(model => model.chkQue20_2, new { @id = "chkQue20_2" })Cold</label>
                                <label class="inline" for="chc3">@Html.CheckBoxFor(model => model.chkQue20_3, new { @id = "chkQue20_3" })Sweets</label>
                                <label class="inline" for="chc4">@Html.CheckBoxFor(model => model.chkQue20_4, new { @id = "chkQue20_4" })Pressure</label>
                            </div>
                        </li>
                        <li>
                            <h4>Do your gums bleed or hurt?</h4>
                            <div class="all-select">
                                <div class="form-group">
                                    @Html.CheckBoxFor(model => model.rdQue21, new { @id = "rdQue21" })
                                    @*@Html.TextBoxFor(model => model.txtQue21a, new { @placeholder = "Enter Text", @class = "form-control", @rows = "5" })*@
                                </div>
                            </div>
                        </li>
                        <li>
                            <h4>How often do you brush your teeth?</h4>
                            <div class="all-select">
                                <div class="form-group">
                                    @Html.CheckBoxFor(model => model.rdQue23, new { @id = "rdQue23" })
                                </div>                               
                            </div>
                        </li>
                        <li>
                            <h4>How often do you use dental floss?</h4>
                            <div class="all-select">
                                <div class="form-group">
                                    @Html.CheckBoxFor(model => model.rdQue24, new { @id = "rdQue24" })
                                </div>
                            </div>
                        </li>
                        <li>
                            <h4>Are any of your teeth loose, tipped, shifted or chipped?</h4>
                            <div class="all-select">
                                @Html.CheckBoxFor(model => model.rdQue25, new { @id = "rdQue25" })
                            </div>
                        </li>
                        <li>
                            <h4>Do you feel your breath is often offensive?</h4>
                            <div class="all-select">
                                <div class="form-group">
                                    @Html.CheckBoxFor(model => model.rdQue28, new { @id = "rdQue28" })
                                </div>
                            </div>                          
                        </li>
                        <li>
                            <h4>Explain any orthodontic work you have had done?</h4>
                            <div class="input-holder form-group simple-holder">
                                @Html.TextBoxFor(model => model.txtQue29, new { @placeholder = "Explain any orthodonic work you have had done?", @class = "form-control", @rows = "5" })
                            </div>
                        </li>
                        <li>
                            <h4>Explain any dental work you have had done (Perio, Oral Surgery, etc.)</h4>
                            <div class="input-holder form-group simple-holder">
                                @Html.TextBoxFor(model => model.txtQue30, new { @placeholder = "Explain any dental work you have had done (Perio, Oral Surgery, etc.)" })
                            </div>
                        </li>
                        <li>
                            <h4>How do you feel about your teeth in general?</h4>
                            <div class="input-holder form-group simple-holder">
                                @Html.TextBoxFor(model => model.txtQue31, new { @placeholder = "How do you feel about your teeth in general?" })
                            </div>
                        </li>
                        <li>
                            <h4>Additional Information</h4>
                            <div class="input-holder form-group simple-holder">
                                @Html.TextBoxFor(model => model.txtComments, new { @placeholder = "Additional Information" })
                            </div>
                        </li>
                        <li>
                            <h4>Date of first visit</h4>
                            <div class="input-holder form-group simple-holder">
                                @Html.TextBoxFor(model => model.firstvistdate, new { @placeholder = "M/D/YYYY", id = "firstvistdate", @class = "startDate datepick" })
                            </div>
                        </li>
                        <li>
                            <h4>Reason for first visit</h4>
                            <div class="input-holder form-group simple-holder">
                                @Html.TextBoxFor(model => model.Reasonforfirstvisit, new { @placeholder = "Reason for first visit" })
                            </div>
                        </li>
                        <li>
                            <h4>Date of last (latest) visit</h4>
                            <div class="input-holder form-group simple-holder">
                                @Html.TextBoxFor(model => model.Dateoflastvisit, new { @placeholder = "M/D/YYYY", @id = "Dateoflastvisit", @class = "endDate datepick" })
                            </div>
                        </li>
                        <li>
                            <h4>Reason of last visit</h4>
                            <div class="input-holder form-group simple-holder">
                                @Html.TextBoxFor(model => model.Reasonforlastvisit, new { @placeholder = "Reason for last visit" })
                            </div>
                        </li>
                        <li>
                            <h4>Date of next (scheduled visit)</h4>
                            <div class="input-holder form-group simple-holder">
                                @Html.TextBoxFor(model => model.Dateofnextvisit, new { @placeholder = "M/D/YYYY", @id = "Dateofnextvisit", @class = "datepickNext" })
                            </div>
                        </li>
                        <li>
                            <h4>Reason for next visit</h4>
                            @Html.TextBoxFor(model => model.Reasonfornextvisit, new { @placeholder = "Reason for next visit" })
                        </li>
                    </ol>
                    <div class="btn-group btn-holder">
                        <a style="cursor:pointer;" onclick="AddDentalHistory()" class="btn btn-default btn2"><i class="ico-edit4"></i>Submit</a>
                    </div>
                </div>

            </div>
        </div>
    </form>
}
catch (Exception Ex)
{
    @Html.Partial("_PartialError")
    Common.LogError(Ex);
}

