﻿@model OneClickReferral.Models.PatientHistoryViewModel
@try
{
    <form id="PatientForm1" class="collapse drop">
        <div class="input-holder form-group">
            <div class="row btm-margin-30">
                <div class="col-lg-12 row-bordered2">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <p class="font-18 sky-blue mrgn-btm-20">Patient Information</p>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <p class="pull-right font-16 mrgn-right-15 text-mob-view"><font color="red">*Required Information</font></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row mrgn-btm-20">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <label for="text" class="form_label">First Name<span class="required">*</span></label>
                        @Html.TextBoxFor(m => m.FirstName)
                        @Html.ValidationMessageFor(m => m.FirstName)
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <label for="text" class="form_label">Last Name <span class="required">*</span></label>
                        @Html.TextBoxFor(m => m.LastName)
                        @Html.ValidationMessageFor(m => m.LastName)
                    </div>
                </div>
            </div>
            <div class="form-group row mrgn-btm-20">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <label for="text" class="form_label">Email Address</label>
                        @Html.TextBoxFor(m => m.Email)
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>
                </div>
            </div>
            <div class="form-group row mrgn-btm-20">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <label for="text" class="form_label">Date of Birth</label>
                        @{
                            string DateOfBirth = string.Empty;
                            if (!string.IsNullOrWhiteSpace(Model.DateOfBirth))
                            {
                                DateOfBirth = DateFuncations.ConvertToDate(Common.SafeDateTime(Model.DateOfBirth), Common.SafeInteger(BO.Enums.Common.DateFormat.GENERAL));
                            }
                        }
                        @Html.TextBoxFor(m => DateOfBirth, new { @class = "datepick" })
                        @*<input class="form-control" id="date" name="date" value="02/04/1948" type="text" />*@
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <label for="text" class="form_label">Gender</label>                       
                        <div class="dropdown latest_dropdown forms">
                            @{ var GenderText = Model.Gender ?? ""; }
                            @Html.DropDownList("update_genderId",
                            new List<SelectListItem>
                                {
                                    new SelectListItem{ Text= "Male", Value = "0", Selected = (GenderText.ToLower() == "female"?"1":"0") == "0" },
                                    new SelectListItem{ Text= "Female", Value = "1", Selected = (GenderText.ToLower() == "female"?"1":"0") == "1" },
                                },
                            new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row mrgn-btm-20">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <label for="text" class="form_label">Address</label>
                        @Html.TextBoxFor(m => m.ExactAddress)
                    </div>
                </div>
            </div>
            <div class="form-group row mrgn-btm-20">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <label for="text" class="form_label">City</label>
                        @Html.TextBoxFor(m => m.City)
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <label for="text" class="form_label">State</label>
                        <div class="dropdown latest_dropdown forms">
                            @Html.DropDownListFor(m => m.State, new SelectList(Model.stateLists, "StateCode", "StateName"), "Select State", new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row mrgn-btm-20">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <label for="text" class="form_label">Zip</label>
                        @Html.TextBoxFor(m => m.ZipCode, new { @class = "numericOnly" })
                        @Html.ValidationMessageFor(m => m.ZipCode)
                    </div>
                </div>
            </div>
            <div class="form-group row mrgn-btm-20">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <label for="text" class="form_label">Primary Phone No.</label>
                        @Html.TextBoxFor(m => m.Phone, new { @class = "numericOnly" })
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <label for="text" class="form_label">Secondary Phone No.</label>
                        @Html.TextBoxFor(m => m.Workphone, new { @class = "numericOnly" })
                    </div>
                </div>
            </div>
            <div class="form-group row mrgn-btm-20">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <label for="text" class="form_label">Emergency Contact Name</label>
                        @Html.TextBoxFor(m => m._insuranceCoverage.EMGContactName)
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <label for="text" class="form_label">Emergency Phone No. </label>
                        @Html.TextBoxFor(m => m._insuranceCoverage.EMGContactNo, new { @class = "numericOnly" })
                    </div>
                </div>
            </div>

            <div class="btn-group btn-holder">
                <a onclick="AddEditPatientInfo()" style="cursor:pointer;" class="btn btn-default btn2"><i class="ico-edit4"></i>Submit</a>
            </div>
        </div>
    </form>
}
catch (Exception Ex)
{
    @Html.Partial("_PartialError")
    Common.LogError(Ex);
}
