﻿@model List<OneClickReferral.Models.FamilyReleationHistoryViewModel>
 @try
 {
     if (Model.ToList().Count > 0)
     {
        <dl class="mail-det-list  patient-history patient-history-add">
            <dt>Family Member Details</dt>
            @foreach (var item in Model)
            {
                <dd>
                    <div class="row">
                        @*<a href="javascript:void(0)" class="name-member" id="family_mem" onclick="ViewPatientHistory('@item.ToPatientId')">@item.PatientName</a>: <span class="member-relation">@item.ReleationName</span> <a href="javascript:void(0)" onclick="DeletRelation('@item.PatientId','@item.ToPatientId')"><i class="ico-corss"></i></a>*@
                        <a  href="/Patients/PatientHistory?PatientId=@item.ToPatientId" class="name-member" id="family_mem" >@item.PatientName</a>: <span class="member-relation">@item.ReleationName</span> <a href="javascript:void(0)" onclick="DeletRelation('@item.PatientId','@item.ToPatientId')"><i class="ico-corss"></i></a>
                        <div id="family_mem_text" class="family_mem_text" style="display: none;">
                            <input class="form-control" type="text">
                        </div>
                    </div>
                </dd>

            }
    </dl>
     }
<script>  
    function DeletRelation(PatientId, ToPatientId) {
        
        showPopUp({
            message: "Are you sure you want to remove this Family Member Detail?",
            successParams: null,
            successCallBack: function (param) {
                performAjax({
                    url: '@Url.Action("DeleteRelation", "Patients")',
                    data: {
                        PatientId: PatientId,
                        ToPatientId: ToPatientId
                    },
                    type: "post",
                    success: function (data) {
                        var isSuccess = (data != "undefined" && typeof(data) == "boolean");
                        if (isSuccess) {
                            $.toaster({ priority: 'success', title: 'Success', message: 'Family member detail deleted successfully.' });
                            setTimeout(function () { window.location.reload(); }, 3000);
                        }
                        else {
                            $.toaster({ priority: 'error', title: 'Error', message: 'Selected relation does not exists or you do not have access to delete it.' });
                        }
                    },
                    error: function (e) {
                        $.toaster({ priority: 'error', title: 'Error', message: 'Unknown error occured while deleting family member details.' });
                    }
                });
            }

        });
    }
</script>
 }
 catch (Exception Ex)
 {
    @Html.Partial("_PartialError")
     Common.LogError(Ex);
 }
