﻿@model OneClickReferral.Models.PatientMessagesOfDoctorViewModel
@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
@try
{
    <div class="modal-header">
        <ul class="list" style="margin:10px;">
            <li>
                <label class="lblwidth">From:</label><lable>@Model.FromField &lt;@Model.PatientEmail&gt;</lable>
            </li>
            <li>
                <label class="lblwidth">To:</label>@Model.ToField  &lt;@Model.DoctorEmail&gt;
            </li>
            <li>
                <label class="lblwidth">Date:</label>@Model.CreationDate
            </li>
            @if (Model.lstattachement.Count > 0)
            {
                foreach (var item in Model.lstattachement)
                {
                    <li>
                        <span>@item.AttachementFullName</span>
                    </li>
                }
            }
        </ul>
    </div>
    <div class="modal-body" id="">
        <table>
            <tr>
                <td style="color: rgba(0, 0, 0, 0.54);">@Html.Raw(Model.Message) </td>
            </tr>

        </table>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".adminUser_area").remove();
            $("#footer").remove();
            window.print();
        });
    </script>
}
catch (Exception Ex)
{
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header blue-bg"><button type="button" class="close close-circle" data-dismiss="modal">&times;</button></div>
            <div class="modal-body">
                @Html.Partial("_PartialError")
            </div>
        </div>
    </div>
    Common.LogError(Ex);
}

