﻿@model OneClickReferral.Models.PatientHistoryViewModel
@{
    ViewBag.Title = (Model.PatientId > 0) ? "One Click Referral - Edit Patient" : "One Click Referral - Add Patient";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    if (Model.PatientId > 0)
    {
        if (!string.IsNullOrWhiteSpace(Model.Gender) && Model.Gender == "Male")
        {
            Model.Gender = "0";
        }
        else if (!string.IsNullOrWhiteSpace(Model.Gender) && Model.Gender == "Female")
        {
            Model.Gender = "1";
        }
    }
}
<div class="container">
    <div class="new-case case-overview patinet">
        <div class="row btm-margin-30  row-bordered referral">
            <div class="col-lg-12 ">
                <div class="row fve_button">
                    <div class="col col-lg-4 col-md-5 col-sm-6 col-xs-6 col-lg-pull-8 col-md-pull-7 col-sm-pull-6 col-xs-pull-6 show-on-phones">
                        @if (Model.PatientId > 0)
                        {
                            <h1 class="inline">Edit Patient</h1>
                        }
                        else
                        {
                            <h1 class="inline">Add Patient</h1>
                        }
                        <div class="btn-group btn-holder">
                            <a style="cursor:pointer;" onclick="GotoBack();" class="btn btn-primary"><i class="fa fa-arrow-left"></i>Back</a>
                        </div>
                    </div>
                    <div class="col col-lg-8 col-md-7 col-sm-6 col-xs-6 col-lg-push-4 col-md-push-5 col-sm-push-6 col-xs-push-6">
                    </div>
                    <div class="col col-lg-4 col-md-5 col-sm-6 col-xs-6 col-lg-pull-8 col-md-pull-7 col-sm-pull-6 col-xs-pull-6 hide-on-phones">
                        @if (Model.PatientId > 0)
                        {
                            <h1 class="inline">Edit Patient</h1>
                        }
                        else
                        {
                            <h1 class="inline">Add Patient</h1>
                        }
                        <div class="btn-group btn-holder">
                            <a href="javascript:;" onclick="GotoBack();"  class="btn btn-primary"><i class="fa fa-arrow-left"></i>Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form id="frmAddPatient" role="form" action="@Url.Action("AddPatients", "Patients")" method="post">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(t => t.PatientId)
            <div class="form-group row mrgn-btm-20">
                <div class="col-lg-3 col-sm-4">
                    <label>First Name: <font color="#FF0000">*</font>  </label>
                </div>
                <div class="col-lg-9 col-sm-8">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            @Html.TextBoxFor(m => m.FirstName)
                        </div>
                    </div>
                    <font color="#FF0000">@Html.ValidationMessageFor(m => m.FirstName)</font>
                </div>
            </div>
            <div class="form-group row mrgn-btm-20">
                <div class="col-lg-3 col-sm-4">
                    <label>Last Name: <font color="#FF0000">*</font> </label>
                </div>
                <div class="col-lg-9 col-sm-8">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            @Html.TextBoxFor(m => m.LastName)
                        </div>
                    </div>
                    <font color="#FF0000">@Html.ValidationMessageFor(m => m.LastName)</font>
                </div>
            </div>
            <div class="form-group row mrgn-btm-20">
                <div class="col-lg-3 col-sm-4">
                    <label>Phone:</label>
                </div>
                <div class="col-lg-9 col-sm-8">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            @Html.TextBoxFor(m => m.Phone)
                        </div>
                    </div>
                    @Html.ValidationMessageFor(m => m.Phone)
                </div>
            </div>
            <div class="form-group row mrgn-btm-20">
                <div class="col-lg-3 col-sm-4">
                    @if (Model.PatientId > 0)
                    {
                        <input type="hidden" id="hdnOldEmail" value="@Model.Email" />
                        <input type="hidden" id="hdnOldAssignedPatientId" value="@Model.AssignedPatientId" />
                    }
                    else
                    {
                        <input type="hidden" id="hdnOldEmail" value="" />
                        <input type="hidden" id="hdnOldAssignedPatientId" value="" />
                    }
                    <label> Email:</label>
                </div>
                <div class="col-lg-9 col-sm-8">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            @Html.TextBoxFor(m => m.Email)
                        </div>
                    </div>
                    <font color="#FF0000">@Html.ValidationMessageFor(m => m.Email)</font>
                </div>
            </div>
            <div class="form-group row mrgn-btm-20">
                <div class="col-lg-3 col-sm-4">
                    <label>Gender: <font color="#FF0000">*</font></label>
                </div>
                <div class="col-lg-9 col-sm-8">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="dropdown latest_dropdown forms">
                                @Html.DropDownListFor(m => m.Gender, new List<SelectListItem>{
                                                new SelectListItem{ Text="Male", Value="0"},
                                                new SelectListItem{ Text="Female", Value="1"}
                                                }, "Select Gender", new { @style = "width:100%;height:40px;", @class = "form-control" }
                                                 )
                            </div>
                        </div>
                    </div>
                    <font color="#FF0000">@Html.ValidationMessageFor(m => m.Gender)</font>                    
                </div>
            </div>
            <div class="form-group row mrgn-btm-20">
                <div class="col-lg-3 col-sm-4">
                    <label>Referred By:</label>
                </div>
                <div class="col-lg-9 col-sm-8">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="dropdown latest_dropdown forms">
                                @if (!string.IsNullOrWhiteSpace(Model.ReferredById))
                                {
                                    @Html.DropDownListFor(m => m.ReferredById, new SelectList(ViewBag.ColleaguesId, "Value", "Text", Model.ReferredById), "Select Colleague", new { @class = "form-control", @style = "height:40px;" })
                                }
                                else
                                {
                                    <select id="ReferredBy" class="form-control" name="ReferredBy">
                                        <option value="0">Select Referred By</option>
                                        @foreach (var item in ViewBag.ColleaguesId)
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }
                                    </select>
                                }
                            </div>
                            <input type="hidden" id="ReferredBy" name="ReferredBy" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row mrgn-btm-20">
                <div class="col-lg-3 col-sm-4">
                    <label>Location Name:</label>
                </div>
                <div class="col-lg-9 col-sm-8">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="dropdown latest_dropdown forms">
                                @if (!string.IsNullOrWhiteSpace(Model.Location))
                                {
                                    @Html.DropDownListFor(m => m.Location, new SelectList(ViewBag.LocationsId, "AddressInfoID", "Location", Model.Location), "Select Location", new { @class = "form-control", @style = "height:40px;" })
                                }
                                else
                                {
                                    <select id="locationby" class="form-control" name="Location">
                                        <option value="0">Select Location</option>
                                        @foreach (var item in ViewBag.LocationsId)
                                        {
                                            <option value="@item.AddressInfoID">@item.Location</option>
                                        }
                                    </select>
                                }
                            </div>
                            <input type="hidden" id="Location" name="Location" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row mrgn-btm-20">
                <div class="col-lg-3 col-sm-4">
                    <label>Address:</label>
                </div>
                <div class="col-lg-9 col-sm-8">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            @Html.TextBoxFor(t => t.ExactAddress, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row mrgn-btm-20">
                <div class="col-lg-3 col-sm-4">
                    <label>City:</label>
                </div>
                <div class="col-lg-9 col-sm-8">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            @Html.TextBoxFor(t => t.City, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row mrgn-btm-20">
                <div class="col-lg-3 col-sm-4">
                    <label>State:</label>
                </div>
                <div class="col-lg-9 col-sm-8">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="dropdown latest_dropdown forms">
                                @*@if (!string.IsNullOrWhiteSpace(Model.State))
                                    {
                                        @Html.DropDownListFor(m => m.State, new SelectList(Model.stateLists, "StateCode", "StateName"), new { @class = "form-control", @style = "height:40px;" })
                                    }
                                    else
                                    {*@
                                <select class="form-control" name="State">
                                    <option value="Select State">Select State</option>
                                    @foreach (var item in ViewBag.State)
                                    {
                                        <option value="@item.StateCode" selected="@(Model.State== item.StateCode ? "selected" : null)">@item.StateName</option>
                                    }
                                </select>
                                @*}*@
                                <input type="hidden" id="sta" name="State" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row mrgn-btm-20">
                <div class="col-lg-3 col-sm-4">
                    <label>Zip:</label>
                </div>
                <div class="col-lg-9 col-sm-8">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            @Html.TextBoxFor(t => t.ZipCode, new { @class = "form-control numericOnly", @maxlength = "6" })
                            <font color="#FF0000"> @Html.ValidationMessageFor(t => t.ZipCode)</font>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row mrgn-btm-20">
                <div class="col-lg-3 col-sm-4">
                    <label>Birth Date:</label>
                </div>
                <div class="col-lg-9 col-sm-8">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="date-holder">
                                <div class="date-holder">
                                    @{
                                        string DOB = string.Empty;

                                    }
                                    @if (!string.IsNullOrWhiteSpace(Model.DateOfBirth))
                                    {
                                        Model.DateOfBirth = DateFuncations.ConvertToDate(Common.SafeDateTime(Model.DateOfBirth), 1);
                                    }
                                    @Html.TextBoxFor(t => Model.DateOfBirth, new { @class = "txtdob", @placeholder = "M/D/YYYY", @id = "DateOfBirth" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row mrgn-btm-20">
                <div class="col-lg-3 col-sm-4">
                    <label>First Exam Date:</label>
                </div>
                <div class="col-lg-9 col-sm-8">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="date-holder">
                                <div class="date-holder">
                                    @if (!string.IsNullOrWhiteSpace(Model.FirstExamDate))
                                    {
                                        Model.FirstExamDate = DateFuncations.ConvertToDate(Common.SafeDateTime(Model.FirstExamDate), 1);
                                    }
                                    @Html.TextBoxFor(t => Model.FirstExamDate, new { @class = "txtdob", @placeholder = "M/D/YYYY", @id = "FirstExamDate", @onchange = "checkDate()" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <span id="errormsg" style="display:none;color:#b94a48;">First exam date should be greater than birth date.</span>
                </div>
            </div>
            <div class="form-group row mrgn-btm-20 mrgn-0-mob">
                <div class="col-lg-3 col-sm-4">
                    <label>Comments:</label>
                </div>
                <div class="col-lg-9 col-sm-8">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            @Html.TextArea("Notes", null, new { @class = "form-control", @rows = 3, @maxlength = "200", @placeholder = "Maximum 200 Character allow." })
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="row">
                    <div class="col-lg-12">
                        <div id="uploadFiles">
                            <div class="btn-group btn-holder">
                                @*<div class="fileUpload  mrgn-btm-20">
                                    <span>Attach a  File</span>
                                    <input class="upload" type="file" id="tempfileuploadAddPatient" multiple="multiple">
                                </div>
                            </div>
                            <span class="error-message" style="display:block" id="lblfileupload"></span>
                        </div>
                        <p class="text-light-gray">Upload Dental Records (images, x-rays, and files) </p>
                        <ul class="attachment-list mrg-top-0 mrgn-btm-mins-15" id="tempfilecontent"></ul>
                    </div>
                </div>*@
            <div class="row mrgn-btm-20">
                <div class="col-lg-12">
                    <div class="btn-group btn-holder">
                        <a style="cursor:pointer;" class="btn btn-default btn2" onclick="InsertPatient();"><i class="ico-save"></i>Save</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal fade" id="patient_delete" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center center">
                    <img class="mrgn-btm-20" src="~/Content/Dashboard/images/Delete_Popup.png" alt="Delete" />
                    <p class="mrgn-btm-0" id="del_desc" style="margin: 0;">Are you sure you want to remove image?</p>
                </div>
                <div class="modal-footer bdr-top-no">
                    <div class="btn-group btn-holder">
                        <button type="button" class="btn btn-default btn1" data-dismiss="modal">No</button>
                        <button type="button" class="btn btn-default btn2 blue-bg mrgn-right-0" id="btn_yes">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        var PatientId = @Model.PatientId;
        var BASE_URL = '@Common.SafeString(System.Configuration.ConfigurationManager.AppSettings["apikey"])';
        var TOKEN = '@SessionManagement.EncryptedUserId';
    </script>
    <script src="~/Scripts/Mask/Mask.js"></script>
    <script src="~/Scripts/ControllerJS/Patient/AddPatient.js"></script>
    <script src="~/Scripts/commonfileupload.js"></script>
}
