﻿@model List<OneClickReferral.Models.PatientDetailsOfDoctor>
@{
    Layout = null;
}
@try
{
    if (Model.Count > 0)
    {
        foreach (var item in Model)
        {
            <tr id="row_@item.PatientId">               
                @{
                    string AddressDetails = (!string.IsNullOrWhiteSpace(item.ExactAddress)) ? item.ExactAddress + ", " : "";
                    AddressDetails += (!string.IsNullOrWhiteSpace(item.Address2)) ? item.Address2 + ", " : "";
                    AddressDetails += (!string.IsNullOrWhiteSpace(item.City)) ? item.City + ", " : "";
                    AddressDetails += (!string.IsNullOrWhiteSpace(item.State)) ? item.State + ", " : "";
                    AddressDetails += (!string.IsNullOrWhiteSpace(item.ZipCode)) ? item.ZipCode : "";
                    if (!string.IsNullOrWhiteSpace(AddressDetails) || (!string.IsNullOrEmpty(AddressDetails)))
                    {
                        int index = AddressDetails.LastIndexOf(',');
                        if (index != -1)
                        {
                            AddressDetails = AddressDetails.Remove(index, 1);
                        }
                    }
                }
                <td data-th="Last Name"><a href="/Patients/PatientHistory?PatientId=@item.PatientId" title="@Html.Raw(@AddressDetails)" data-toggle="tooltip" data-placement="bottom">@item.LastName</a></td>
                <td data-th="First Name"><a href="/Patients/PatientHistory?PatientId=@item.PatientId">@item.FirstName</a></td>
                @*///XQ1-684 'Patient History' page opens up on clicking 'Referred By' dentist name in 'Referred By' column, on 'Patients' page.*@
                <td data-th="Referred By"><a href="/Profile/ViewProfile?id=@item.ReferredById">@item.ReferredBy</a></td>
                <td data-th="Phone"><a href="tel:@item.Phone">@item.Phone</a></td>
                @* No to display dummy email address *@
                <td data-th="Email">
                    @if (Common.checkEmailDomain(item.Email))
                    {
                        <a href="mailto:@item.Email">@item.Email</a>
                    }
                </td>
                <td data-th="DateOfBirth">@item.DateOfBirth</td>
                <td data-th="Location">@item.Location</td>
                @*Insurance Icon*@
                @if (item.ItHasInsuranceData)
                {
                    <td data-th="Insurance"><a href="#" data-toggle="modal" onclick="getInsuranceDataDetails(@item.PatientId);"><img src="images/verify-insurance.png" alt="Insurance" title="Insurance"></a></td>
                }
                else
                {
                    <td data-th="Insurance"><img src="images/not-verify-insurance.png"  alt="Insurance" title="Insurance not verified"></td>
                }
                <td data-th="Actions">                  
                    <div class="row dropdown mrgn-right-15 dropdown blue-dropdwon latest_dropdown">
                        <select class="form-control height34" id="ddlPatient_@item.PatientId" onchange="onChangePatientAction(@item.PatientId)">
                            <option value="0" data->Select Action</option>
                            @if (Common.checkEmailDomain(item.Email))
                            {
                                <option value="1" data-patientid="@item.PatientId" data-email="@item.Email" data-name="@item.FirstName @item.LastName">Send Patient Form</option>
                            }
                            @if (item.OwnerId == Common.SafeInteger(Session["UserId"]))
                            {
                                <option value="2" data-patientid="@item.PatientId">Delete</option>
                                <option value="3" data-url="/Patients/AddPatients?PatientId=@item.PatientId">Edit Patient</option>
                            }
                        </select>
                    </div>
                </td>
            </tr>
                    }
                    <input type="hidden" name="hdnTotalCount" id="hdnTotalCount" value="@Model.FirstOrDefault().TotalRecord" />
                    }
                    else
                    {
                        <tr><td colspan="9"><center><span id="nomore">No more record found</span></center></td></tr>
                    }
                    <input type="hidden" name="modelcount" id="modelcount" value="@Model.Count()" />
                    }
                    catch (Exception Ex)
                    {
                        <tr><td colspan="9"><center><span id="nomore">@Html.Partial("_PartialError")</span></center></td></tr>
                        Common.LogError(Ex);
                    }
