﻿@model OneClickReferral.Models.PatientHistoryViewModel
@{
    ViewBag.Title = "Patient History";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<style>
    input[type=date]::-webkit-inner-spin-button {
        /*-webkit-appearance: none;
        display: none;*/
    }

    .select2 {
        width: 100% !important;
    }
    /*.dropdown-menu {
        margin: 0px 0px 0px;
    }*/
    .ctrl-edit-input {
        display: none;
    }

    .ctrl-edit-label {
        display: block;
    }

    .ctrl-edit-error {
        display: none;
        color: red;
    }
</style>
<link href="~/Content/css/select2.min.css" rel="stylesheet">
<link href="~/Content/JCrop/jquery.Jcrop.css" rel="stylesheet" />
@*<link href="~/Content/css/fcbk.css" rel="stylesheet" />*@
<form action="/Patients/PatientHistory" target="_blank" method="post" id="frmViewPatientHistory">
    <input type="hidden" name="hdnViewPatientHistory" id="hdnViewPatientHistory" />
</form>
<form action="@Url.Action("Index", "Profile")" method="post" id="frmViewProfile">
    <input type="hidden" name="hdnViewProfile" id="hdnViewProfile" value="" />
</form>
<input type="hidden" id="search_listing_pageindex" value="1" />
<main id="main" role="main">
    <input type="hidden" id="ColleaguPageIndex" value="1" />
    <input type="hidden" id="hdselectedpatient" value="0" />
    <input type="hidden" id="hdnPatientId" value="@Model.PatientId" />
    <input type="hidden" id="hdnSelectedPatientGender" value="" />
    <input type="hidden" id="hdnColleagueId" />
    <input type="hidden" id="hdnlocationid" />
    <input type="hidden" id="hdnReferredById" name="ReferredBy" value="@Model.ReferredById" />
    <div class="container">
        <div class="new-case case-overview patinet">
            <div class="row btm-margin-30  row-bordered referral">
                <div class="col-lg-12 ">
                    <div class="row fve_button">
                        <div class="col col-lg-8 col-xs-8 col-lg-push-4">
                            @*<div class="btn-group">
                                    <a href="#" class="btn-default btn-cases" title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Add Family Members">
                                        <span data-toggle="modal" data-target="#AddFamilyMembers"><i class="ico-familymember"></i>Add Family Members</span>
                                    </a>
                                </div>*@
                            <div class="btn-group">
                                <a href="javascript:;" id="gotoPatientForm" class="btn-default btn-cases patinet_form" title="Patient Forms" data-toggle="tooltip" data-placement="bottom"><i class="ico-form-patient"></i>Patient Forms</a>
                            </div>
                            <div class="btn-group">
                                @*  <a href="@Url.Action("TempSendReferral","OneClick")" class="btn-default btn-cases" onclick="onClickReferPatient(@Model.PatientId)" target="_blank" title="Refer Patient" data-toggle="tooltip" data-placement="bottom">*@
                                <a href="javascript:;" class="btn-default btn-cases" onclick="onClickReferPatient(@Model.PatientId)" title="Refer Patient" data-toggle="tooltip" data-placement="bottom">
                                    <span data-toggle="modal" data-target="#colleague_refer_patient"><i class="ico-add-plan refer-patient"></i>Refer Patient</span>
                                </a>
                            </div>
                        </div>
                        <div class="col col-lg-4 col-xs-4 col-lg-pull-8">
                            <h1 class="inline">Patient History</h1>
                            <div class="btn-group btn-holder">
                                <a href="javascript:;" onclick="GotoBack();" class="btn btn-primary"><i class="fa fa-arrow-left"></i>Back</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mrgn-btm-20">
                <div class="col-lg-12 mail-header">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="btm-margin-20">
                                <h2>
                                    @*@if (Model.IsAuthorize != "false")
                                    {
                                        <a href="@Url.Action("AddPatients","Patients",new { @PatientId=Model.PatientId})" style="color:rgb(75, 171, 209)">@Model.FirstName@Html.Raw("&nbsp;")@Model.LastName</a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("AddPatients","Patients",new { @PatientId=Model.PatientId})" style="color:rgb(75, 171, 209)">
                                            @Model.FirstName@Html.Raw("&nbsp;")@Model.LastName
                                        </a>
                                    }*@

                                    @if (Model.OwnerId == Common.SafeInteger(Session["UserId"]))
                                    {
                                        <a href="@Url.Action("AddPatients","Patients",new { @PatientId=Model.PatientId})" style="color:rgb(75, 171, 209)">@Model.FirstName@Html.Raw("&nbsp;")@Model.LastName</a>
                                    }
                                    else
                                    {
                                        <span style="color:rgb(75, 171, 209)">
                                            @Model.FirstName@Html.Raw("&nbsp;")@Model.LastName
                                        </span>
                                    }
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="user">
                        @if (!string.IsNullOrWhiteSpace(Model.ImageName))
                        {
                            if (Model.ImageName.Contains(System.Configuration.ConfigurationManager.AppSettings["DefaultDoctorImage"]) || Model.ImageName.Contains(System.Configuration.ConfigurationManager.AppSettings["DefaultDoctorFemaleImage"]))
                            {
                                if (Model.IsAuthorize != "false")
                                {
                                    <a href="@(Model.IsAuthorize != " false" ? "#addLogo": "" )" onclick="crop_reset()" class="profile_image">
                                        <img class="" src="@Model.ImageName" alt="@Model.FullName" width="50" height="50">
                                        <div class="hover" style="">
                                            <img class="hover" src="~/Content/Dashboard/images/add_photo.png" alt="@Model.ImageName" width="18" height="18">
                                        </div>
                                    </a>
                                }
                            }
                            else
                            {
                                if (Model.IsAuthorize != "false")
                                {

                                    <a href="@(Model.IsAuthorize != " false" ? "#remove_image": "" )" onclick="cropremove_reset()" class="profile_image">
                                        <img class="" src="@Model.ImageName" alt="@Model.FullName" width="50" height="50">
                                        <div class="hover" style="">
                                            <img class="hover" src="~/Content/Dashboard/images/edit.png" alt="Remove Image" width="18" height="18">
                                        </div>
                                    </a>
                                }
                            }
                        }
                    </div>
                    <div class="mail-header-holder patient_drop patient_history">
                        <form method="post" id="frmPatientHistory">
                            <dl class="mail-det-list  patient-history">
                                <dt>ID:</dt>
                                @if (!string.IsNullOrWhiteSpace(Model.AssignedPatientId))
                                {
                                    if (Model.OwnerId == Common.SafeInteger(SessionManagement.UserId))
                                    {
                                        <dd id="id">
                                            <span id="phAssPID" class="ctrl-edit-label">@Model.AssignedPatientId</span>
                                            <div id="id_text" class="id_text ctrl-edit-input">
                                                <input class="form-control numericOnly" id="update_AsspId" name="update_AsspId" type="text" value="@Model.AssignedPatientId">
                                            </div>
                                            <span id="assignId" class="ctrl-edit-error">PatientId already exist!</span>
                                        </dd>
                                    }
                                    else
                                    {
                                        <dd id="id">
                                            <div>
                                                <span id="phAssPID" class="ctrl-edit-label">@Model.AssignedPatientId</span>
                                                <span id="assignId" class="ctrl-edit-error">PatientId already exist!</span>
                                            </div>
                                        </dd>
                                    }
                                }
                                else
                                {
                                    <dd id="id">
                                        <span id="phAssPID" class="ctrl-edit-label">Please enter id</span>
                                        <div id="id_text" class="id_text ctrl-edit-input">
                                            <input class="form-control numericOnly" id="update_AsspId" name="update_AsspId" type="text" value="">
                                        </div>
                                    </dd>
                                }
                                <dt>Gender:</dt>
                                <dd id="gender">
                                    @{ var GenderText = Model.Gender ?? ""; }
                                    @if (!string.IsNullOrEmpty(Model.Gender))
                                    {
                                        <span id="phGenderID" class="ctrl-edit-label">@Model.Gender</span>
                                    }
                                    else
                                    {
                                        <span id="phGenderID" class="ctrl-edit-label">Enter Gender</span>
                                    }
                                    <div id="gender_text" class="gender_text ctrl-edit-input">

                                        @Html.DropDownList("update_genderId",
                                                            new List<SelectListItem>
                                                                {
                                                                    new SelectListItem{ Text= "Male", Value = "0", Selected = (GenderText.ToLower() == "female"?"1":"0") == "0" },
                                                                    new SelectListItem{ Text= "Female", Value = "1", Selected = (GenderText.ToLower() == "female"?"1":"0") == "1" },
                                                                },
                                                            new { @class = "form-control" })
                                    </div>
                                </dd>
                                <dt>DOB:</dt>
                                <dd id="dob">
                                    @{ var dob = ""; }
                                    @if (!string.IsNullOrEmpty(Model.DateOfBirth))
                                    {
                                        dob = DateFuncations.ConvertToDate(Common.SafeDateTime(Model.DateOfBirth), Common.SafeInteger(BO.Enums.Common.DateFormat.GENERAL));
                                        <span id="phDobID" class="ctrl-edit-label">@dob</span>

                                        if (!string.IsNullOrEmpty(Model.Age))
                                        {
                                            <span id="PatientAge">@("(" + Model.Age + " year" + (Model.Age == "1" || Model.Age == "0" ? "" : "s") + " old)")</span>
                                        }

                                    }
                                    else
                                    {
                                        <span id="phDobID" class="ctrl-edit-label">Please enter DOB</span>
                                    }
                                    <div id="dob_text" class="dob_text date-holder ctrl-edit-input">
                                        @*XQ1-137// Set datepicker as non -editable textbox*@
                                        <input class="form-control datepick" name="update_dobId" id="update_dobId" type="text" max="@DateTime.Now.ToString("yyyy-MM-dd")" value="@dob">
                                    </div>
                                    <span id="PatientAge"></span>
                                </dd>
                                @if (!string.IsNullOrWhiteSpace(Model.ReferredBy))
                                {
                                    <dt>Referred By:</dt>
                                    <dd id="RefBy"><a href="/Profile/ViewProfile?id=@Model.ReferredById">@Model.ReferredBy</a></dd>
                                }
                                <dt>Phone:</dt>
                                <dd id="phone">
                                    @if (!string.IsNullOrEmpty(Model.Phone) && !string.IsNullOrWhiteSpace(Model.Phone))
                                    {
                                        <span id="phPhoneID" class="ctrl-edit-label">@Model.Phone</span>
                                    }
                                    else
                                    {
                                        <span id="phPhoneID" class="ctrl-edit-label">Please enter phone number</span>
                                    }
                                    <div id="phone_text" class="phone_text ctrl-edit-input">
                                        <input class="form-control" id="update_phoneId" name="update_phoneId" type="text">
                                    </div>
                                </dd>
                                <dt>Email:</dt>
                                <dd id="email">
                                    @if (Common.checkEmailDomain(@Model.Email))
                                    {
                                        var email = Model.Email.Trim();
                                        <a href="mailto:@Model.Email" id="email"><span id="phEmailID"></span>@email</a>
                                    }
                                    else
                                    {
                                        <a href="javascript:;" id="email" style="color:#525962!important;"><span id="phEmailID">Please enter email id</span></a>
                                    }
                                    <div id="email_text" class="email_text ctrl-edit-input">
                                        <input class="form-control" id="update_emailId" name="update_emailId" type="text" value="@Model.Email">
                                    </div>
                                    <span id="email-error-msg" style="display:none;color:red;">Please enter valid email!</span>
                                </dd>
                            </dl>

                            <dl class="mail-det-list  patient-history">
                                <dt>Address:</dt>
                                <dd id="address">
                                    @if (!string.IsNullOrEmpty(Model.ExactAddress) && !string.IsNullOrWhiteSpace(Model.ExactAddress))
                                    {
                                        <span id="phAddressId" class="ctrl-edit-label">
                                            @Model.ExactAddress
                                        </span>
                                    }
                                    else
                                    {
                                        <span id="phAddressId" class="ctrl-edit-label">Please enter address</span>
                                    }
                                    <div id="address_text" class="address_text ctrl-edit-input">
                                        <input class="form-control" id="update_addressId" name="update_addressId" type="text" width="50" value="@Model.ExactAddress">
                                    </div>
                                </dd>
                                @* RM-219 City added  *@
                                <dt>City:</dt>
                                <dd id="city">
                                    @if (!string.IsNullOrEmpty(Model.City) && !string.IsNullOrWhiteSpace(Model.City))
                                    {
                                        <span id="phCityId" class="ctrl-edit-label">
                                            @Model.City
                                        </span>
                                    }
                                    else
                                    {
                                        <span id="phCityId" class="ctrl-edit-label">Please enter city</span>
                                    }
                                    <div id="city_text" class="address_text ctrl-edit-input">
                                        <input class="form-control" id="update_cityId" name="update_cityId" type="text" width="50">
                                    </div>
                                </dd>
                                @* RM-219 State added  *@
                                @* Toggle not work for this*@
                                <dt>State:</dt>
                                <dd id="state">
                                    @if (Model.State != "0" && Model.State != "")
                                    {
                                        <span id="phStateId" class="ctrl-edit-label">
                                            @Model.State
                                        </span>
                                    }
                                    else
                                    {
                                        <span id="phStateId" class="ctrl-edit-label">Please enter state</span>
                                    }
                                    <div id="state_text" class="address_text ctrl-edit-input">
                                        @Html.DropDownListFor(m => m.State, new SelectList(Model.stateLists, "StateCode", "StateName"), "Select State", new { @class = "form-control", @style = "height:33px;", @id = "drpstate", @name = "drpstate" })
                                    </div>
                                </dd>



                                @* RM-219 Zip added  *@
                                <dt>Zip:</dt>
                                <dd id="zip">
                                    @if (!string.IsNullOrEmpty(Model.ZipCode) && !string.IsNullOrWhiteSpace(Model.ZipCode))
                                    {
                                        <span id="phZipId" class="ctrl-edit-label">
                                            @Model.ZipCode
                                        </span>
                                    }
                                    else
                                    {
                                        <span id="phZipId" class="ctrl-edit-label">Please enter zip</span>
                                    }
                                    <div id="zip_text" class="address_text ctrl-edit-input">
                                        <input class="form-control numericOnly" id="update_zipId" name="update_zipId" type="text" width="50" maxlength="6">
                                    </div>
                                </dd>
                            </dl>
                            @Html.Partial("_PartialFamilyDetails", Model.LstFamily)
                        </form>
                    </div>
                </div>
            </div>
            <div id="ComposeSection">
                @Html.Partial("_PartialComposeSection", Model)
            </div>

            <div id="Communication">
                @Html.Partial("_PartialCommunicationListSection", Model.lstColleaguesMessagesDoctor)
            </div>
            <div id="composeview"></div>
            <div class="row row-bordered mrgn-btm-20">
                <div class="col-lg-12 share-block">
                    <div class="row">
                        <div class="col-lg-6">
                            <h2>Patient Files</h2>
                        </div>
                        <div class="col-lg-6" id="_downloadZip">
                            <div class="btn-group btn-holder pull-right">
                                <a href="@Common.SafeString(System.Configuration.ConfigurationManager.AppSettings["WebSiteURL"])/Patients/DownloadAsZip?PatientId=@Model.PatientId" target="_blank" class="btn btn-default btn-primary"><i class="ico-export"></i>Export File</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="largeFiles">
                <input type="hidden" id="BoxFolderId" name="BoxFolderId" />
                <div id="largeFileContainer" class="col-lg-12">Cannot Load Large File Attachments</div>
                <script>
                    $.get("/OneClick/LargeFileUploadWidget?recordId=&patientId=@Model.PatientId", function (data) {
                        $("#largeFileContainer").html(data);
                    });
                </script>
            </div>
            <!--For Images-->
            @* <div id="divImages">
                @Html.Partial("_PartialUploadedImagesSection", Model.lstUplodedImages)
                     <input type="hidden" id="ImageCount" value=@Model.lstUplodedImages.Count />
                    </div>
            *@
            <!--For Documents-->
            @* <div id="divDocuments">
                    @Html.Partial("_PartialUploadedImagesSection", Model.lstUplodedDocuments)
                <input type="hidden" id="DocumentCount" value=@Model.lstUplodedDocuments.Count />
                    </div>
            *@
            @*@Html.Partial("~/Views/Patients/PartialPatientFileUploadNew.cshtml", Model)*@
            @*<div class="row row-bordered mrgn-btm-10" id="planes">
                    <div class="col-lg-12 share-block">
                        <div class="row">
                            <div class="col-lg-6">
                                <h2>Treatment Plans</h2>
                            </div>
                            <div class="col-lg-6">
                                <div class="btn-group btn-holder pull-right">
                                    <a href="/Plan?PatientId=@Model.PatientId" class="btn btn-default btn-secondary"><i class="ico-add"></i>Add Plan</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-bordered mrgn-btm-10"></div>
                </div>
                @Html.Action("GetTreatmentPlanDetails", new { PatientId = Model.PatientId })
                <br />*@
            <div class="row pateint_form_history" id="PatientForm">
                <div class="col-lg-12">
                    <div class="mrgn-btm-20">
                        <h2>Patient Forms</h2>
                    </div>
                    <div class="row row-bordered mrgn-btm-10"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12  mrgn-btm-10  acc-holder">
                    <ul class="acc-list">
                        <li>
                            <h4><a href="#PatientForm1" id="PatientInfo" target="_blank" class="accordian-opener  acc-opener  collapsed" data-toggle="collapse" aria-expanded="false">Personal Info</a></h4>
                            @Html.Partial("_PartialPatientInfo", Model)
                        </li>
                        <li>
                            <h4><a href="#PatientForm2" target="_blank" class="accordian-opener  acc-opener  collapsed" data-toggle="collapse" aria-expanded="false">Dental Insurance </a></h4>
                            @Html.Partial("_PartialDentalInsurance", Model._insuranceCoverage)
                        </li>
                        <li>
                            <h4><a href="#PatientForm3" target="_blank" class="accordian-opener acc-opener collapsed" data-toggle="collapse" aria-expanded="false">Medical History</a></h4>
                            @Html.Partial("_PartialMedicalHistory", Model._medicalHistory)
                        </li>
                        <li>
                            <h4><a href="#PatientForm4" target="_blank" class="accordian-opener acc-opener collapsed" data-toggle="collapse" aria-expanded="false">Dental History</a></h4>
                            @Html.Partial("_PartialDentalHistory", Model._dentalhistory)
                        </li>
                    </ul>
                </div>
            </div>
            @*@Html.Partial("_patientAppointmentSection", Model)*@
        </div>
    </div>
</main>
<input type="hidden" id="PageIndexCommPatientHistory" value="2" />
<input type="hidden" id="CurrentSortColCommPatientHistory" value="1" />
<div class="modal fade" id="remove_image" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <!--<div class="modal-header blue-bg">
                <button type="button" class="close close-circle" data-dismiss="modal">&times;</button>
                <h3 class="modal-title white">Edit Image</h3>
            </div>-->
            <div class="modal-body">
                <div class="text-center center">
                    <img class="mrgn-btm-20" src="~/Content/Dashboard/images/Delete_Popup.png" alt="Delete" />
                    <p class="mrgn-btm-0" style="margin: 0;">Are you sure you want to remove image?</p>
                </div>
                <div class="modal-footer bdr-top-no">
                    <div class="btn-group btn-holder">
                        <button type="button" class="btn btn-default btn1" data-dismiss="modal">No</button>
                        <a type="button" href="@Url.Action("RemovePationtProfileImage","Patients", new { PatientId=Model.PatientId })" class="btn btn-default btn2 blue-bg mrgn-right-0">Yes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="addLogo" data-backdrop="static" data-keyboard="false" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header blue-bg">
                <button type="button" class="close close-circle" id="closelogo">&times;</button>
                <h3 class="modal-title white">Upload Profile Picture</h3>
            </div>
            @*<form action="@System.Configuration.ConfigurationManager.AppSettings["apikey"].ToString()/Patients/AddPatientProfile" id="frmPatientProfileImage" method="post" enctype="application/x-www-form-urlencoded">*@
            <form action="/Patients/AddPatientProfile" id="frmPatientProfileImage" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    <input type="hidden" name="Left" id="Left" value="" />
                    <input type="hidden" name="Right" id="Right" value="" />
                    <input type="hidden" name="Top" id="Top" value="" />
                    <input type="hidden" name="Bottom" id="Bottom" value="" />
                    <input type="hidden" name="FileName" id="FileName" value="" />
                    <div class="col-lg-12" id="cropContainer">
                        <div id="cropDisplay">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <br />
                            <ul class="list">
                                <li>
                                    <input type="hidden" name="PatientId" id="PatientId" value='@Model.PatientId' />
                                    <input type="file" id="fuImage" name="fuImage" onchange="return CheckIsImage();" />
                                    <span type="text" class="alert-danger" name="txtimage" id="txtimage"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer bdr-top-no">
                    <div class="btn-group btn-holder">
                        <button type="button" class="btn btn-default btn1" id="closelogos"><i class="ico-corss2"></i>Cancel</button>
                        <a type="button" href="javascript:;" class="btn btn-default btn2 blue-bg mrgn-right-0" id="btnSave" onclick="IsProfileImage()" name="Save"><i class="ico-save"></i>Save</a>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
<div class="modal fade" id="customDailog" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 84%;">
            <div class="modal-body">
                <div class="text-center center">
                    <img src="/Content/OneClickReferral/images/Delete_Popup.png" style="width: 24%;" id="dialog_img" />
                    <p class="mrgn-btm-0" style="margin: 0;" id="desc_message"></p>
                </div>
                <div class="modal-footer bdr-top-no">
                    <center>
                        <div class="btn-holder">
                            <button type="button" class="btn btn-default btn1" id="dialog_no" data-dismiss="modal">No</button>
                            <button type="button" class="btn btn-default btn2 blue-bg mrgn-right-0" id="dialog_yes">Yes</button>
                        </div>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade AddFamilyMembers" id="AddFamilyMembers" role="dialog">
</div>
<div class="modal fade" id="patient_file_edit" role="dialog">
</div>
<div class="modal fade" id="patient_file_delete" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center center">
                    <img class="mrgn-btm-20" src="~/Content/Dashboard/images/Delete_Popup.png" alt="Delete" />
                    <p class="mrgn-btm-0" id="del_desc" style="margin: 0;">Are you sure you want to remove image?</p>
                </div>
                <div class="modal-footer bdr-top-no">
                    <div class="btn-group btn-holder">
                        <button type="button" class="btn btn-default btn1" data-dismiss="modal">No</button>
                        <button type="button" class="btn btn-default btn2 blue-bg mrgn-right-0" id="deletePatientFileId">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="patient_file_referral" role="dialog" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header blue-bg">
                <button type="button" class="close close-circle" data-dismiss="modal">&times;</button>
                <h3 class="modal-title white">Patient referral from Greg Smith </h3>
            </div>
            <div class="modal-body compose-message" id="appendData">

            </div>
            <div class="modal-footer bdr-top-no">
                <div class="btn-group btn-holder">
                    <button type="button" class="btn btn-default btn1" data-dismiss="modal"><i class="ico-corss2"></i>Cancel</button>
                    <button type="button" class="btn btn-default btn2 blue-bg mrgn-right-0"><i class="ico-reply"></i>Reply</button>

                </div>
            </div>
        </div>
    </div>
</div>
<div id="patient_file_message" role="dialog" class="modal fade">

</div>
<div id="colleague_file_message" role="dialog" class="modal fade">
</div>

<div class="modal fade colleague_refer_patient" id="colleague_refer_patient" role="dialog">
</div>
@{
    DateTime dDate;
    var dobDate = string.Empty;
    if (!string.IsNullOrEmpty(Model.DateOfBirth))
    {
        dDate = Common.SafeDateTime(Model.DateOfBirth);
        dobDate = dDate.ToString("yyyy-MM-dd");
    }
    else
    {
        dDate = DateTime.Now;
    }
}
<div id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px;
            top: 0px; width: 100%; height: 100%; background-color: White; z-index: 30001;
            opacity: 0.5; filter: alpha(opacity=70); display: none">
    <p style="position: absolute; top: 30%; left: 50%; color: White;">
        <img src="../../Images/Recordloading.gif">
    </p>
</div>
<div class="modal fade" id="patient_file_delete" role="dialog">
</div>
@*<input type="hidden" id="ExternalCall" value=@System.Configuration.ConfigurationManager.AppSettings.Get("DentalSite").ToString() />*@
<input type="hidden" id="SessionCall" value="@SessionManagement.UserId" />
<input type="hidden" id="IsAuthorize" value=@Model.IsAuthorize />
<script>
    var FeatureId =@Common.SafeInteger(BO.Enums.Common.Features.Attachments);
    var BASE_URL = '@Common.SafeString(System.Configuration.ConfigurationManager.AppSettings["apikey"])';
    var TOKEN = '@ViewBag.EncryptedUserId';
</script>
<script src="~/Scripts/select2.min.js"></script>
@*<script src="~/Content/file_upload/js/vendor/jquery.ui.widget.js"></script>*@
<script src="~/Scripts/Default/jquery.iframe-transport.js"></script>
@*<script src="~/Scripts/Default/jquery.fileupload.js"></script>*@
@*<script src="~/Scripts/Default/jquery.fileupload-ui.js"></script>*@
<script src="~/Scripts/Mask.js"></script>
<script src="/Content/ckeditor/ckeditor.js"></script>
<script src="~/Content/ckeditor/samples/sample.js"></script>

@*<script src="~/Scripts/Default/application.js"></script>*@
<script src="~/Content/JCrop/jquery.Jcrop.js"></script>
<script src="~/Scripts/bootstrap-datepicker.js"></script>
<script src="~/Scripts/ControllerJS/PatientHistory/PatientConfiguration.js"></script>
<script src="~/Scripts/JS/sitescript.js"></script>
<script src="~/Scripts/JS/togglebtn.js"></script>
<script src="~/Scripts/commonfileupload.js"></script>
<script src="~/Content/Dashboard/js/jcf.js"></script>

<script>
    var GLOB_PATIENT_VALUES = {};

    //$('a[data-toggle="tooltip"]').tooltip({
    //    container: 'body',
    //    trigger: 'hover'
    //});

    function crop_reset() {
        //$("#cropContainer").html('<div id="cropDisplay"></div>');
        $("#addLogo").modal('show');
        $("#fuImage").val(null);
    }


    //onClickReferPatient
    function onClickReferPatient(patientId){
        localStorage.setItem('referPatientId', patientId)
        window.location.href = "/OneClick/TempSendReferral";
    }

    function cropremove_reset() {
        //$("#cropContainer").html('<div id="cropDisplay"></div>');
        //$("#remove_image").modal('show');

        $("#addLogo").modal('show');
        $("#fuImage").val(null);
    }

    $("#closelogo").click(function(){
        $("#cropDisplay").text('');
        $("#txtimage").text('');
        $('#addLogo').modal('hide');
    });

    $("#closelogos").click(function(){
        $("#cropDisplay").text('');
        $("#txtimage").text('');
        $('#addLogo').modal('hide');
    });
    $('body').removeClass('modal-open');

    $(".planing").click(function() {
        $('html,body').animate({
            scrollTop: $("#planes").offset().top}, 2000);
    });
    /*
    $(".patinet_form").click(function() {
        $('html,body').animate({
            scrollTop: $(".pateint_form_history").offset().top},
            'slow');
    });*/
    $(".patinet_form").click(function() {
        $('html,body').animate({
            scrollTop: $(".pateint_form_history").offset().top}
        , 2000);
    });
    $(".book_appiontment").click(function() {
        $('html,body').animate({
            scrollTop: $(".book_appiontment_new").offset().top}
        , 2000);
    });
    function show() {
        document.getElementById("dThreshold").style.display = "block";
    }

    $(document).ready(function () {
        if('@TempData["PatientForm"]' == "True"){
            setTimeout(function () {
                $("#gotoPatientForm").trigger('click');
            }, 1000);
            setTimeout(function () {
                $("#PatientInfo").trigger('click');
            }, 2000);
        }
        if ($("#tblCommunicationListing tr").length == 0) {
            $('#_printCommunication').attr('disabled', true);
            $('#_printCommunication').removeAttr("href");
        }

        GetPatientDocuments();
        GetPatientImages();
        $('#patientHistoryscrollId').scroll(function () {
            if ($(this).scrollTop() + $(this).innerHeight() >= $(this)[0].scrollHeight) {
                var Pageindex = $("#PageIndexCommPatientHistory").val();
                if (Pageindex != 0) {
                    var PatientId = $("#hdnPatientId").val();
                    var SortCol = $("#CurrentSortColCommPatientHistory").val();
                    var SortDir = $("#PatientHCol_" + SortCol).attr('sort-dir');
                    $("#PageIndexCommPatientHistory").val(parseInt(Pageindex, 10) + 1);
                    LoadPatientscrolling(PatientId, Pageindex, SortCol, SortDir);
                }
            }
        });
        $(".datepick").keypress(function(event) {event.preventDefault();})
        $('.datepick').datepicker({
            format: 'm/d/yyyy',
            todayHighlight: true,
            autoclose: true,
            todayBtn: "linked",
            endDate: '+0d',
            startDate: '01/01/1900',
            "singleDatePicker": true,
            "showDropdowns": true,
            "autoApply": true,
            showOn: 'both'
        }).on("changeDate", function(e) {
            CallEditableMethod();
            $('#dob_text').hide();
        });
        $(".datepickNext").keypress(function(event) {event.preventDefault();})
        $('.datepickNext').datepicker({
            format: 'm/d/yyyy',
            todayHighlight: true,
            autoclose: true,
            todayBtn: "linked",
            //endDate: '',
            startDate: '+0d',
            "singleDatePicker": true,
            "showDropdowns": true,
            "autoApply": true,
            showOn: 'both'
        }).on("changeDate", function(e) {
            CallEditableMethod();
            $('#dob_text').hide();
        });

        $('#update_phoneId').mask("(999) 999-9999");
        $(".patient-history :input").not('.datepick').blur(function (event) {
            if(this.value != this.defaultValue) {
                CallEditableMethod();
            }

        });

        function revertToOriginalURL() {
            var original = window.location.href.substr(0, window.location.href.indexOf('#'))
            history.replaceState({}, document.title, original);
        }

        $('.modal').on('hidden.bs.modal', function () {
            revertToOriginalURL();
        });

        $('.modal').on('shown.bs.modal', function () {
            setTimeout(function () {
                revertToOriginalURL();
            }, 10);
        });

        $('#id').click( function(e) {
            e.preventDefault();
            e.stopPropagation();
            $('#id_text').toggle();
            $("#update_AsspId").addClass("numericOnly");
            if($('#phAssPID').text() == 'Please enter id')
            {
                $('#update_AsspId').val();
                $('#phAssPID').text('');
            }
            else
            {
                $('#update_AsspId').val($('#phAssPID').text());
            }

        });
        $('#id_text').click( function(e) {
            e.stopPropagation();
        });

        $('#gender').click( function(e) {
            e.preventDefault();
            e.stopPropagation();
            $('#gender_text').toggle();
            $('#update_genderId').val($('#phGenderID').text().toLowerCase() == "female" ? 1 : 0);
        });
        $('#gender_text').click( function(e) {
            e.stopPropagation();
        });

        $('#dob').click( function(e) {            
            e.preventDefault();
            e.stopPropagation();
            $('#dob_text').toggle();
            if('@Model.DateOfBirth' == '')
            {
                //$('#update_dobId').val('');
                $('input[name="date"]').mask('99/99/9999', { placeholder: "mm/dd/yyyy" });
                $('#phDobID').hide();
            }
            @*else
            {
                var dates = new Date('@(dDate)');
                var day = ("0" + dates.getDate()).slice(-2);
                var month = ("0" + (dates.getMonth() + 1)).slice(-2);

                var today = dates.getFullYear()+"-"+(month)+"-"+(day) ;
                $('#update_dobId').attr('value', today);
                $('#phDobID').hide();
            }*@

            //$('#update_dobId').val($('#phDobID').text());
        });
        $('#dob_text').click( function(e) {
            e.stopPropagation();
        });

        $('#phone').click(function (e) {
            e.preventDefault();
            e.stopPropagation();
            $('#phone_text').toggle();
            if($('#phPhoneID').text() == 'Please enter phone number')
            {
                $('#update_phoneId').val();
                $('#phPhoneID').text('');
            }
            else
            {
                $('#update_phoneId').val($('#phPhoneID').text());
            }

        });
        $('#phone_text').click(function (e) {
            e.stopPropagation();
        });
        //Editable address  for address field.
        $('#address').click(function (e) {
            e.preventDefault();
            e.stopPropagation();
            $('#address_text').toggle();
            if ($('#phAddressId').text() == 'Please enter address')
            {
                $('#update_addressId').val();
                $('#phAddressId').hide();
            }
            else
            {
                $('#update_addressId').val($.trim($('#phAddressId').text()));
                $('#phAddressId').hide();
            }

        });
        $('#address_text').click(function (e) {
            e.stopPropagation();
        });

        //Editable city field

        $('#city').click(function (e) {
            e.preventDefault();
            e.stopPropagation();
            $('#city_text').toggle();
            if ($('#phCityId').text() == 'Please enter city') {
                $('#update_cityId').val();
                $('#phCityId').hide();
            }
            else {
                $('#update_cityId').val($.trim($('#phCityId').text()));
                //$('#phAddressId').hide();
            }

        });
        $('#city_text').click(function (e) {
            e.stopPropagation();
        });


        //Editable zip field
        $('#zip').click(function (e) {
            e.preventDefault();
            e.stopPropagation();
            $('#zip_text').toggle();
            if ($('#phZipId').text() == 'Please enter zip') {
                $('#update_zipId').val();
                $('#phZipId').hide();
            }
            else {
                $('#update_zipId').val($.trim($('#phZipId').text()));
                //$('#phAddressId').hide();
            }

        });
        $('#zip_text').click(function (e) {
            e.stopPropagation();
        });


        //Editable state for state field
        $('#state').click(function (e) {
            e.preventDefault();
            e.stopPropagation();
            $('#drpstate').show();
            $('#state_text').toggle();
            if ($('#drpstate :selected').val() == '0') {
                $('#drpstate').val();
                $('#phStateId').hide();
            }
            //else {
            //    $('#drpstate').val($.trim($('#phStateId').text()));
            //    $('#state_text').toggle();
            //    //$('#phStateId').hide();
            //}

        });
        $('#state_text').click(function (e) {
            e.stopPropagation();
        });

        $('#email').click(function (e) {
            e.preventDefault();
            e.stopPropagation();
            $('#email_text').toggle();
            if($("#phEmailID").text() == 'Please enter email id')
            {
                $('#update_emailId').val();
                $("#phEmailID").hide();
            }
            else
            {
                $('#phEmailID').hide();

            }
        });
        $('#email_text').click(function (e) {
            e.stopPropagation();
        });

        $('body').click(function () {
            $('#id_text').hide();
            $('#gender_text').hide();
            $('#email_text').hide();
            $('#phone_text').hide();
            $('#address_text').hide();
            $('#city_text').hide();
            $('#zip_text').hide();
            $('#drpstate').hide();

            $('#phEmailID').show();
            $('#phDobID').show();
            $('#phAddressId').show();
            $('#phCityId').show();
            $('#phZipId').show();
            $('#phStateId').show();

            if('@Model.DateOfBirth' == "") {
                $('#phDobID').text('Please enter DOB');
            }
            if('@Model.Phone' == "") {
                $('#phPhoneID').text('Please enter phone number');
            }
            if('@Model.Email' == "") {
                $("#phEmailID").text('Please enter email id');
            }
            if('@Model.AssignedPatientId' == "") {
                $('#phAssPID').text('Please enter id');
            }
            if('@Model.ExactAddress' == "") {
                $('#phAddressId').text('Please enter address');
            }
            if('@Model.City' == "") {
                $('#phCityId').text('Please enter city');
            }
            if('@Model.ZipCode' == "") {
                $('#phZipId').text('Please enter zip');
            }

            if('@Model.State' == "") {
                $('#phStateId').text('Please enter state');
            }

        });

        GLOB_PATIENT_VALUES = $("#frmPatientHistory").serializeObject();

        $("input[id^='tab'][id$='_checkbox']").each(function() {
            var $selector = $(this).attr("id");
            $selector = $selector.replace("_checkbox","");
            if($(this).is(":checked"))
                $("#" + $selector + "_link").trigger("click");
        });

        $("input[id^='tab'][id$='_checkbox']").change(function() {
            var $selector = $(this).attr("id");
            $selector = $selector.replace("_checkbox","");
            $("#" + $selector + "_link").trigger("click");
        });
    });

    function OpenFamilyPopup(pID)
    {

        if(pID == '' || pID == undefined)
        {
            pID = '@Model.PatientId';
        }
        var PatientId = pID;
        $("#search_listing_pageindex").val('1');
        var GetSearchText = null;
        if ($("#txtSearchPatient").val() == null) {
            GetSearchText = null;
        } else if ($('#txtSearchPatient').length == 0) {
            GetSearchText = null;
        }
        else {
            if ($("#txtSearchPatient").val() == "Find patient to add as family member..." || $("#txtSearchPatient").val() == "Find colleague to refer to...") {
                GetSearchText = null;
            }
            else {
                GetSearchText = $("#txtSearchPatient").val();
            }
        }

        performAjax({
            url: "/Patients/SearchPatientFromPopUp",
            type: "POST",
            data: {SearchText: GetSearchText, PatientId: PatientId },
            success: function(data) {
                $("#AddFamilyMembers").modal('show');
                if (data == 'no_record')
                {
                    $("#search_listing").html('');
                    $("#search_listing").append('<center><p style="letter-spacing: 0px;">No Record Found.</p></center>');
                }
                else
                {
                    $("#AddFamilyMembers").html(data);
                }
                $(".list-holder").on('scroll', function (event) {
                    if ($(this).scrollTop() + $(this).innerHeight() >= $(this)[0].scrollHeight) {
                        var data = SearchPatientLI().toString();
                        $("#search_listing").append(data);
                    }
                });
            }            
        })

        @*$.post('@Url.Action("SearchPatientFromPopUp", "Patients")', { SearchText: GetSearchText, PatientId: PatientId }, function (data) {
            $("#AddFamilyMembers").modal('show');
            if (data == 'no_record')
            {
                $("#search_listing").html('');
                $("#search_listing").append('<center><p style="letter-spacing: 0px;">No Record Found.</p></center>');
            }
            else
            {
                $("#AddFamilyMembers").html(data);
            }
            $(".list-holder").on('scroll', function (event) {
                if ($(this).scrollTop() + $(this).innerHeight() >= $(this)[0].scrollHeight) {
                    var data = SearchPatientLI().toString();
                    $("#search_listing").append(data);
                }
            });
        });*@
    }

    function GotoBack() {
        history.back();
    }

    function CallEditableMethod()
    {        
        var AssignedPatientId;
        var breakout=false;
        if($("#update_AsspId").val() != '')
        {
            AssignedPatientId = $("#update_AsspId").val();
            //$.ajaxSetup({ async: false });            
            performAjax({
                url: "/Patients/CheckAssignPatientID",
                type: "POST",
                data: {  AssignedPatientId: AssignedPatientId, PatientId:@Model.PatientId},
                success: function(data) {
                    if (data == true) {
                        breakout =true;
                        $("#assignId").css('display', 'block');
                        setTimeout(function () {
                            $("#assignId").css('display', 'none');
                        },6000);
                    }
                }
            });

            @*$.post("/Patients/CheckAssignPatientID", { AssignedPatientId: AssignedPatientId, PatientId:@Model.PatientId}, function (data) {
                if (data == true) {
                    breakout =true;
                    $("#assignId").css('display', 'block');
                    setTimeout(function () {
                        $("#assignId").css('display', 'none');
                    },6000);
                }
            });*@
        }

        if(breakout == true)
        {
            return false;
        }
        else
        {
            if($("#update_AsspId").val() != '')
            {
                AssignedPatientId = $("#update_AsspId").val();
            }
            else
            {
                AssignedPatientId = '@Model.AssignedPatientId';
            }
        }

        var GenderId = $("#update_genderId").val() + "";
        //if(GenderId.toLowerCase().replace(/\s/g, '') == 'male')
        //{
        //    GenderId = 0;
        //}
        //else if(GenderId.toLowerCase().replace(/\s/g, '') == 'female')
        //{
        //    GenderId = 1;
        //}
        if($.trim(GenderId).length == 0)
        {
            if('@Common.SafeString(Model.Gender.ToLower())' == 'male')
            {
                GenderId = 0;
            }
            else if('@Common.SafeString(Model.Gender.ToLower())' == 'female')
            {
                GenderId = 1;
            }
        }

        var DobId;
        if($("#update_dobId").val() != '')
        {
            DobId = $("#update_dobId").val();
        }
        else
        {
            DobId = '@Model.DateOfBirth';
        }
        var PhoneId;
        if($("#update_phoneId").val() != '')
        {
            PhoneId = $("#update_phoneId").val();
        }
        else
        {
            PhoneId = '@Model.Phone';
        }


        var Email = $("#update_emailId").val();
        var EmailId;
        if(Email != '')
        {
            if(isValidEmailAddress(Email))
            {
                EmailId = Email;
            }
            else
            {
                $("#email-error-msg").css('display','block');
                return false;
            }
        }
        else
        {
            if('@Model.Email' == '')
            {
                EmailId = '';
            }
            else
            {
                EmailId = '@Model.Email';
            }

        }

        var Address;
        if ($("#update_addressId").val() != '') {
            Address = $("#update_addressId").val();
        }
        else
        {
            Address = '@Model.ExactAddress';
        }


        var City;
        if ($("#update_cityId").val() != '') {
            City = $("#update_cityId").val();
        }
        else
        {
            City = '@Model.City';
        }

        var Zip;
        if ($("#update_zipId").val() != '') {
            Zip = $("#update_zipId").val();
        }
        else
        {
            Zip = '@Model.ZipCode';
        }

        var State;
        var s = $("#drpstate :selected").val();
        if ($("#drpstate :selected").val() != '0') {
            State = $("#drpstate :selected").val();
        }
        else
        {
            State = '@Model.State';
        }


        var model = {
            'AssignedPatientId': AssignedPatientId,
            'GenderId': GenderId,
            'DobId': DobId,
            'PhoneId': PhoneId,
            'EmailId': EmailId,
            'AddressInfoEmail': EmailId,
            'PatientId': @Model.PatientId,
            'AddressId': Address,
            'City': City,
            'ZipCode': Zip,
            'State': State
        };
        $.ajaxSetup({ async: false });
        $.post("@Url.Action("EditPatientInfo", "Patients")", { patientEditableVM: model }, function (response) {

            if (response) {
                if($.trim(PhoneId) == '')
                {
                    $('#phPhoneID').text('Please enter phone number');
                }
                else
                {
                    $('#phPhoneID').text(PhoneId);
                }
                //Changes for address
                if ($.trim(Address) == '') {
                    $('#phAddressId').text('Please enter address');
                }
                else {
                    $('#phAddressId').text(Address);
                    $('#phAddressId').show();
                }
                //Change for city
                if ($.trim(City) == '') {
                    $('#phCityId').text('Please enter city');
                }
                else {
                    $('#phCityId').text(City);
                    $('#phCityId').show();
                }

                //Change for Zip
                if ($.trim(Zip) == '') {
                    $('#phZipId').text('Please enter zip');
                }
                else {
                    $('#phZipId').text(Zip);
                    $('#phZipId').show();
                }

                //Change for State

                if ($.trim(State) == '' || $.trim(State) =='0' ) {
                    //$('#drpstate :selected').val(State);
                    $('#phStateId').text('Please enter state');
                }
                else {
                    //$('#drpstate :selected').val('0');
                    $('#phStateId').text(State);
                    $('#drpstate').hide();
                    $('#phStateId').show();
                }


                if($.trim(EmailId) == '')
                {
                    $('#phEmailID').text('Please enter email id');
                }
                else
                {

                    // $('#email').text(EmailId);
                    $('#email').val(EmailId);
                    $('#email').show();
                    //$('#phEmailID').text(EmailId);
                    //$('#email').show();
                }

                if(DobId != '')
                {
                    var date= DobId.split(' ')[0];
                    var d=new Date(date);
                    var dd=d.getDate();
                    var mm=d.getMonth()+1;
                    var yy=d.getFullYear();
                    $('#phDobID').text(mm+"/"+dd+"/"+yy);
                    $('#phDobID').show();
                    var today = new Date();
                    var age = Math.floor((today-d) / (365.25 * 24 * 60 * 60 * 1000));
                    if(age == 1 || age == 0)
                    {
                        $('#PatientAge').text('('+age+' year old)');
                    }
                    else
                    {
                        $('#PatientAge').text('('+age+' years old)');
                    }
                }

                if($.trim(AssignedPatientId) == '')
                {
                    $('#phAssPID').text('Please enter id');
                }
                else
                {
                    $('#phAssPID').text(AssignedPatientId);
                }

                if(GenderId == 1)
                {
                    $('#phGenderID').text('Female');
                }
                else if(GenderId == 0)
                {
                    $('#phGenderID').text('Male');
                }
                else
                {
                    $('#phGenderID').text('');
                }
                $('#email_text').hide();
                $('#gender_text').hide();
                $('#phone_text').hide();
                $('#id_text').hide();
                $('#dob_text').hide();
                $('#address_text').hide();
                $('#city_text').hide();
                $('#zip_text').hide();

            }
            else {

            }
            $("#email-error-msg").css('display', 'none');
            //$("#assignId").css('display', 'none');
        });
        $.ajaxSetup({ async: true });
    }

    function isValidEmailAddress(emailAddress) {
        var pattern = new RegExp(/^[+a-zA-Z0-9._-]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/i);
        return pattern.test(emailAddress);
    }

    function OpenReferPatientPopup(id) {
        $("#search_listing_pageindex").val('1');
        var GetSearchText = null;
        if ($("#txtSearchPatient").val() == null) {
            GetSearchText = null;
        } else if ($('#txtSearchPatient').length == 0) {
            GetSearchText = null;
        }
        else {
            if ($("#txtSearchPatient").val() == "Find patient to add as family member..." || $("#txtSearchPatient").val() == "Find colleague to refer to...") {
                GetSearchText = null;
            }
            else {
                GetSearchText = $("#txtSearchPatient").val();
            }
        }
        performAjax({
            url: "/Patients/GetColleagueListForReferralPopup",
            type: "POST",
            data: { searchtext: "" },
            success: function(data) {
                if (data != "") {
                            $("#colleague_refer_patient").modal('show');
                            $("#colleague_refer_patient").html(data);
                        }
            }})
        //$.post("/Patients/GetColleagueListForReferralPopup", { searchtext: "" }, function (data) {
        //    if (data != "") {
        //        $("#colleague_refer_patient").modal('show');
        //        $("#colleague_refer_patient").html(data);
        //    }
        //})
    }
    function OpenSendReferralPopup(pid) {
        //var PageIndex = $("#ColleaguPageIndex").val();
        var PatientId = pid;
        $('#hdnPatientId').val(pid);
        var GetSearchText = null;
        if ($("#txtSearchColleague").val() == null) {
            GetSearchText = null;
        } else if ($('#txtSearchColleague').length == 0) {
            GetSearchText = null;
        }
        else {
            if ($('txtSearchColleague').val() == 'Find colleague to refer to...') {
                GetSearchText = null;
            }
            else {
                GetSearchText = $('txtSearchColleague').val();
            }
        }
        performAjax({
            url: '/Patients/NewGetListSearchColleagueFromPopUp',
            type: 'post',
            data: { SearchText: GetSearchText },
            success: function (data) {
                $("#colleague_refer_patient").modal('show');
                $("#colleague_refer_patient").html(data);
                $("#btn_send_pat").hide();
                $("#btn_send_patient").show();
                $(".list-holder").bind('scroll', function (event) {
                    if ($(this).scrollTop() + $(this).innerHeight() >= $(this)[0].scrollHeight) {
                        var data = GetColleaguesByScroll().toString();
                        if (data.indexOf('Colleague not found') > -1) {
                            $('.referral-list').append(data);
                            $("#ColleaguPageIndex").val("-1");
                        }
                        else {
                            $('.referral-list').append(data);
                            $("#ColleaguPageIndex").val(PageIndex);
                        }
                    }
                });
            }
        })
    }
    function GetColleaguesByScroll() {
        var datalist = '';
       // $.ajaxSetup({ async: false });
        var PageIndex = $("#ColleaguPageIndex").val();
        var SearchText = $("#txtSearchPatient").val();
        if (PageIndex == "-1") {
            return "";
        } else {
            PageIndex = parseInt(PageIndex) + parseInt(1);
           performAjax({
                url: '/Patients/NewGetColleagueListForSendReferralPopUpOnScroll',
                type: 'post',
                data: { PageIndex: PageIndex, SearchText: SearchText },
                success: function (data) {
                    if (data == '' || data.trim() == '<li><center>No more record found.</center></li>') {
                        $("#ColleaguPageIndex").val("-1");
                    }
                    else {
                        $("#ColleaguPageIndex").val(PageIndex);
                    }
                    datalist = data;
                }
            });
        }
      //  $.ajaxSetup({ async: true });
        return datalist;
    }
    var timer;
    function SearchColleagueOnkeyPress() {
        var ctrl = $("#txtSearchColleague").val();
        clearTimeout(timer);
        var ms = 500; // milliseconds
        timer = setTimeout(function () {
            Onkeypresscolleaguelist(ctrl);
        }, ms);
    }
    //Bind Colleagues on scroll.
    function Onkeypresscolleaguelist(ctrl) {
        var value = ctrl.toLowerCase().trim();
        if ($.trim(value).length == 0) {
            value = "";
        }
        $('#divLoading').show();
        //$.ajaxSetup({ async: false });
        performAjax({
            url: "/Patients/NewSearchColleagueFromPopUp",
            type: 'post',
            data: { SearchText: value },
            success: function (data) {
                $('#divLoading').hide();
                $('.referral-list').html('');
                $('.referral-list').append(data);
            }
        });

        //$.ajaxSetup({ async: true });
        $(".list-holder").bind('scroll', function (event) {
            if ($(this).scrollTop() + $(this).innerHeight() >= $(this)[0].scrollHeight) {
                var data = GetColleaguesByScroll().toString();
                $(this).append(data);
            }
        });
    }

    function SearchColleague() {
        $("#ColleaguPageIndex").val("1");
        var GetSearchText = null;
        if ($('#txtSearchColleague').length == 0) {
            GetSearchText = null;
        } else {
            GetSearchText = document.getElementById('txtSearchColleague').value;
            if (GetSearchText == "Find colleague to refer to...") {
                GetSearchText = null;
            }
        }
       // $.ajaxSetup({ async: false });
        performAjax({
            url: "/Patients/NewGetListSearchColleagueFromPopUp",
            type: 'post',
            data: { SearchText: GetSearchText },
            success: function (data) {
                $('.referral-list').append(data);
            }
        })

       // $.ajaxSetup({ async: true });
        $(".list-holder").bind('scroll', function (event) {
            if ($(this).scrollTop() + $(this).innerHeight() >= $(this)[0].scrollHeight) {
                var data = GetColleaguesByScroll().toString();
                $(this).append(data);
            }
        });
    }
    function SelectColleague(cid) {

        $(".referral-list > li").each(function () { $(this).removeClass('active'); });
        if ($("." + cid).hasClass('active')) {
            $("." + cid).removeClass('active');
        } else {
            $("." + cid).addClass('active');
            $('#btn_send').attr("disabled", false);
            $("#hdnColleagueId").val(cid);
        }
    }
    function FinalReferralSend() {

        var PatientId = $('#hdnPatientId').val();
        var ColleagueId = $("#hdnColleagueId").val();
        var LocationId = $("#hdnlocationid").val();
        if (ColleagueId == null || ColleagueId == "") {
            $("#NewRefferalPopUp").modal('show');
            $.toaster({ priority: 'warning', title: 'Notice', message: 'Please select at least one colleague.' });
            //$('#btn_send').attr("disabled", true);
            ToggleSaveButton('btn_send_pat');
        }
        else if (LocationId == null || LocationId == "") {
            $.toaster({ priority: 'warning', title: 'Notice', message: 'Please select at least one location.' });
            ToggleSaveButton('btn_send_pat');
        }
        else {
            window.location.href = '/Referrals/Referral?PatientId=' + PatientId + '&ColleagueIds=' + ColleagueId + '&AddressInfoId=' + LocationId;
        }
    }

    //Select Location Code
    function SelectLocationForReferral() {
        var colleaguid = $("#hdnColleagueId").val();
        if (colleaguid == null || colleaguid == "") {
            //Jquery Error for toster
            $.toaster({ priority: 'warning', title: 'Notice', message: 'Please select at least one Colleague.' });
            ToggleSaveButton("btn_send_Location");
            return false;
        }
        else {
            $('.referral-list').html('');
            $(".list-holder").unbind('scroll');
        }
        $("#divLoading").show();

        performAjax({
            url: "/Dashboard/LocationList",
            type: "POST",
            async: true,
            data: { UserId: colleaguid },
            success: function (data) {
                if (data == 1) {
                    $("#hdnlocationid").val(0);
                    FinalReferralSend();
                }
                else
                {
                    $("#divLoading").hide();
                    $(".referral-list").html(data);
                    $("#btn_send_Location").hide();
                    $("#btn_send_patient").hide();
                    $('#Colleague_Search_Block').hide();
                    $('#clg-heading').hide();
                    $('#Patient_Search_Block').hide();
                    $('#loc-heading').show();
                    $("#btn_send_dashboard").show();
                    $("#btn_send_pat").show();
                    $('#btn_send_final').hide();
                }
            }
        })
    }
    function SelectLocation(lid) {
        $(".referral-list > li").each(function () { $(this).removeClass('active'); });
        if ($("." + lid).hasClass('active')) {
            $("." + lid).removeClass('active');
        } else {
            $("." + lid).addClass('active');
            $('#btn_send_patient').attr("disabled", false);
            $("#hdnlocationid").val(lid);
        }
    }

    function ToggleSaveButton(id)
    {
        $('#'+id).attr('disabled', true);
        setTimeout(function () {
            $('#'+id).attr('disabled', false);
        }, 4000);
    }
    function CheckIsImage() {
        var item = $("#fuImage").val();
        var extension = item.replace(/^.*\./, '');
        if (extension == "jpg" || extension == "jpeg" || extension == "gif" || extension == "png" || extension == "bmp" || extension == "psd" || extension == "pspimage" || extension == "thm" || extension == "tif" || extension == "yuv") {
            return true;
        }
        else if ($("#fuImage").val() == "") {
            $.toaster({ priority: 'warning', title: 'Notice', message: 'Please select an image.' });
            ToggleSaveButton('fuImage');
            //alert('Please select an image');
            return false;
        } else {
            $.toaster({ priority: 'warning', title: 'Notice', message: 'Please upload only Jpg,Png,Bmp and Gif Image.' });
            $("#fuImage").val('');
            ToggleSaveButton('fuImage');
            // alert('Please upload only Jpg,Png and Gif Image');
            return false;
        }

    }
    function ViewProfile(id) {
        $("#divLoading").show();
        $('#hdnViewProfile').val(id);
        $("#frmViewProfile").submit();
        $("#divLoading").hide();
    }
    function AddEditPatientInfo() {
        if ($.trim($("#FirstName").val()) == "") {
            $.toaster({ priority: 'warning', title: 'Notice', message: 'Please enter First Name.' });
            //alert('Please select an image');
            return false;
        }
        if ($.trim($("#LastName").val()) == "") {
            $.toaster({ priority: 'warning', title: 'Notice', message: 'Please enter Last Name.' });
            //alert('Please select an image');
            return false;
        }
        if ($.trim($("#Email").val()) != "") {
            if (!IsEmail($("#Email").val())) {
                $.toaster({ priority: 'warning', title: 'Notice', message: 'Invalid email address.' });
                return false;
            }
        }

        if ($.trim($("#ZipCode").val()) != "") {
            if (!ValidateZipCode($("#ZipCode").val())) {
                $.toaster({ priority: 'warning', title: 'Notice', message: 'Invalid Zip Code.' });
                return false;
            }
        }

        var Obj = $("#PatientForm1").serializeObject();
        performAjax({
            url: "/Patients/AddPatientsData",
            type: "POST",
            data: { Obj: Obj, PatientId: $("#hdnPatientId").val(), ReferredBy: $("#hdnReferredById").val() },
            success: function(s) {
                $.toaster({ priority: 'success', title: 'success', message: 'Details updated successfully' });
                setTimeout(function(){  window.location.reload(); }, 3000);
            }, error: function(err) {
                alert(err);
            }
        });

    }
    function AddEditPatientInsuranceCoverage() {
        var Obj = $("#PatientForm2").serializeObject();
        Obj["EmgContactName"] = $("#EmgContactName").val();
        Obj["EmergencyPhoneNo"] = $("#EmergencyPhoneNo").val();
        performAjax({
            url: "/Patients/AddInsurance",
            type: "POST",
            data: { Obj: Obj, PatientId: $("#hdnPatientId").val(), ReferredBy: $("#hdnReferredById").val() },
            success: function (Data) {
                $.toaster({ priority: 'success', title: 'success', message: 'Details updated successfully' });
                setTimeout(function(){  window.location.reload(); }, 3000);
            },
            error: function (err) {
                alert(err);
            }
        });
    }
    function AddMedicalHistory() {
        var Obj = $("#PatientForm3").serializeObject();
        performAjax({
            url: "/Patients/AddMedicalHistory",
            type: "POST",
            data: { medicalHistory: Obj, PatientId: $("#hdnPatientId").val(), ReferredBy: $("#hdnReferredById").val() },
            success: function (Data) {
                $.toaster({ priority: 'success', title: 'success', message: 'Details updated successfully' });
                setTimeout(function(){  window.location.reload(); }, 3000);
            },
            error: function (err) {
                alert(err);
            }
        });
    }
    function AddDentalHistory() {
        var Obj = $("#PatientForm4").serializeObject();
        performAjax({
            url: "/Patients/AddDentalHistory",
            type: "POST",
            data: { dentalHistory: Obj, PatientId: $("#hdnPatientId").val(), ReferredBy: $("#hdnReferredById").val() },
            success: function (Data) {
                $.toaster({ priority: 'success', title: 'success', message: 'Details updated successfully' });
                setTimeout(function(){  window.location.reload(); }, 3000);
            },
            error: function (err) {
                alert(err);
            }
        });
    }
    function GetPatientImages() {
        performAjax({
            url: "/Patients/GetPatientImages",
            type: "POST",
            data: { PatientId: $("#hdnPatientId").val() },
            success: function (data) {
                if (data != null && data != '') {
                    $("#divImages").append(data);
                }
            }, error: function (err) {
                alert(err);
            }
        })
    }
    function GetPatientDocuments() {
        performAjax({
            url: "/Patients/GetPatientDocuments",
            type: "POST",
            data: { PatientId: $("#hdnPatientId").val() },
            success: function (data) {
                if (data != null && data != '') {
                    $("#divDocuments").append(data);
                }
            }, error: function (err) {
                alert(err);
            }
        })
    }

    function showPopUp(config) {
        if(config) {

            config.selector = config.selector || "customDailog";
            config.NoText = config.NoText || "No";
            config.YesText = config.YesText || "Yes";
            config.message = config.message || "Are you sure?";
            config.imagePath = config.imagePath || "/Content/OneClickReferral/images/Delete_Popup.png";


            $("#" + config.selector).modal('show');
            $("#" + config.selector + ' #dialog_yes').show();
            $("#" + config.selector + ' #dialog_no').html(config.NoText);
            $("#" + config.selector + ' #dialog_yes').html(config.YesText);
            $("#" + config.selector + ' #dialog_img').attr("src", config.imagePath);
            $("#" + config.selector + ' .modal-footer').css('text-align', 'center');
            $("#" + config.selector + ' #desc_message').text(config.message);

            $("#" + config.selector + ' #dialog_yes').click(function() {
                config.successCallBack(config.successParams);
                $("#" + config.selector).modal('hide');
            });
        }
    }
</script>
