﻿
@model OneClickReferral.Models.PatientInsuranceViewModel
@{

    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
@section styles {
    <link href="~/Content/Dashboard/css/jquery-ui.css" rel="stylesheet" />
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#top-section").remove()
        $("#footer").remove()
    });
</script>

@try
{
    if (Model != null)
    {<div class="form-group  mrgn-btm-20">
        <div class="blue-bg">
            <h3 class="white" style="padding: 15px 15px 15px 30px;">Insurance Detailed Report Of @Model.PatientName</h3>
        </div>     
        @if (Model != null && Model.provider != null)
        {
            <div class="form-group row insurance-details-list bg-grey btm-margin-0">
                <div class="col-lg-12">
                    <h1>Provider</h1>
                </div>
            </div>

            <div class="form-group row btm-margin-30 insurance-details-list listing">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="clearfix">
                        <p><b>Provider Npi : </b></p><span>@Model.provider.npi</span>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="clearfix">
                        <p><b>Provider Entity :</b></p><span>@Model.provider.entity</span>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="clearfix">
                        <p><b>Provider Entity Qualifier : </b></p><span>@Model.provider.entity_qualifier</span>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="clearfix">
                        <p><b>Provider Code : </b></p><span>@Model.provider.provider_code</span>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="clearfix">
                        <p><b>First Name : </b></p><span>@Model.provider.first_name</span>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="clearfix">
                        <p><b>Last Name : </b></p><span>@Model.provider.last_name</span>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="clearfix">
                        <p><b>Name : </b></p><span>@Model.provider.name</span>
                    </div>
                </div>
                @if (Model.provider != null && Model.provider.reference != null && Model.provider.reference.Count != 0 && Model.provider.reference.FirstOrDefault().tax_id != null)
                {
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="clearfix">
                            <p><b>Provider Id : </b></p><span>@Model.provider.reference.FirstOrDefault().tax_id</span>
                        </div>
                    </div>
                }
            </div>
        }

        @if (Model != null && Model.subscriber != null)
        {
            <div class="form-group row insurance-details-list bg-grey btm-margin-0">
                <div class="col-lg-12">
                    <h1>Subscriber</h1>
                </div>
            </div>

            <div class="form-group row btm-margin-30 insurance-details-list listing">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="clearfix">
                        <p><b>Entity :</b></p><span>@Model.subscriber.entity</span>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="clearfix">
                        <p><b>Subscriber Entity Qualifier :</b></p><span>@Model.subscriber.entity_qualifier</span>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="clearfix">
                        <p><b>Information Receiver Additional Address Line:</b></p><span>@Model.subscriber.InformationReceiverAdditionalAddressLine</span>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="clearfix">
                        <p><b>Date Of Birth :</b></p><span>@Model.subscriber.dob.</span>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="clearfix">
                        <p><b>Subscriber :</b></p><span>@Model.subscriber.is_subscriber</span>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 ">
                    <div class="clearfix">
                        <p><b>Relationship :</b></p><span>@Model.subscriber.relationship</span>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="clearfix">
                        <p><b>First Name:</b></p><span>@Model.subscriber.first_name</span>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="clearfix">
                        <p><b>Address:</b></p><span>@Model.subscriber.address</span>
                    </div>
                </div>
                @if (Model.subscriber.reference != null)
                {
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="clearfix">
                            <p><b>Reference Group Number:</b></p><span>@Model.subscriber.reference.group_number</span>
                        </div>
                    </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                <div class="clearfix">
                                                    <p><b>Reference Group Number:</b></p><span>@Model.subscriber.reference.group_number</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                <div class="clearfix">
                                                    <p><b>Reference Group Number Description:</b></p><span>@Model.subscriber.reference.group_number_description</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                <div class="clearfix">
                                                    <p><b>Reference Description:</b></p><span>@Model.subscriber.reference.description</span>
                                                </div>
                                            </div>
                }
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="clearfix">
                        <p><b>Street :</b></p><span>@Model.subscriber.street</span>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="clearfix">
                        <p><b>City :</b></p><span>@Model.subscriber.city</span>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="clearfix">
                        <p><b>State: :</b></p><span>@Model.subscriber.state</span>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="clearfix">
                        <p><b>Zip Code :</b></p><span>@Model.subscriber.zip_code</span>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="clearfix">
                        <p><b>Zip Code :</b></p><span>@Model.subscriber.zip_code</span>
                    </div>
                </div>
                @if (Model.subscriber.date_time_periods != null && Model.subscriber.date_time_periods.Count > 0)
                {
                    foreach (var item in Model.subscriber.date_time_periods)
                    {
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="clearfix">
                                <p><b>Date :</b></p><span>@item.date_string</span>
                            </div>
                        </div>
                                                <div class="col-lg-6 col-md-6 col-sm-6">
                                                    <div class="clearfix">
                                                        <p><b>Date Qualifier :</b></p><span>@item.date_qualifier</span>
                                                    </div>
                                                </div>
                    }

                }
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="clearfix">
                        <p><b>Member Id :</b></p><span>@Model.subscriber.member_id</span>
                    </div>
                </div>
            </div>
        }

        @if (Model != null && Model.activeCoverage != null && Model.activeCoverage.Count != 0)
        {
            <div class="form-group row insurance-details-list bg-grey btm-margin-0">
                <div class="col-lg-12">
                    <h1>Active Coverage</h1>
                </div>
            </div>

            foreach (var item in Model.activeCoverage)
            {
                <div class="form-group row btm-margin-30 insurance-details-list listing">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="clearfix">
                            <p><b>Coverage Level :</b></p><span>@item.coverage_level</span>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="clearfix">
                            <p><b>Insurance_type:</b></p><span>@item.insurance_type</span>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="clearfix">
                            <p><b>Plan Coverage Description:</b></p><span>@item.plan_coverage_description</span>
                        </div>
                    </div>
                    @if (item.messages != null && item.messages.Count > 0 && item.messages[0] != null && item.messages[1] != null)
                    {
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="clearfix">
                                <p><b>Link :</b></p><span><a href="@item.messages[0].Replace("URL=","")">@item.messages[1].Replace("LINK=", "")</a></span>
                            </div>
                        </div>
                    }
                </div>            
            }
        }
        @if (Model != null && Model.coInsurance != null && Model.coInsurance.Count != 0)
        {
            <div class="form-group row insurance-details-list bg-grey btm-margin-0">
                <div class="col-lg-12">
                    <h1>CoInsurance</h1>
                </div>
            </div>

            foreach (var item in Model.coInsurance)
            {
                <div class="form-group row btm-margin-30 insurance-details-list listing">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="clearfix">
                            <p><b>Service Type :</b></p><span>@item.service_type</span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="clearfix">
                            <p><b>Network Status :</b></p><span>@item.in_network_status</span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="clearfix">
                            <p><b>Percentage String :</b></p><span>@item.percentage_string</span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="clearfix">
                            <p><b>Percentage For Provider :</b></p><span>@item.percentage_for_provider</span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="clearfix">
                            <p><b>Percentage :</b></p><span>@item.percentage</span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="clearfix">
                            <p><b>Service Or Procedure Code :</b></p><span>@item.service_or_procedure_code</span>
                        </div>
                    </div>
                    @if (item.reference != null)
                    {
                        foreach (var referenceItem in item.reference)
                        {
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="clearfix">
                                    <p><b>Plan Network Identification Number:</b></p><span>@referenceItem.plan_network_identification_number</span>
                                </div>
                            </div>
                        }
                    }

                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="clearfix">
                            <p><b>Plan Coverage Description :</b></p><span>@item.plan_coverage_description</span>
                        </div>
                    </div>
                </div>
            }
        }
        @if (Model != null && Model.deductible != null && Model.deductible.Count != 0)
        {
            <div class="form-group row insurance-details-list bg-grey btm-margin-0">
                <div class="col-lg-12">
                    <h1>Deductible</h1>
                </div>
            </div>
            foreach (var item in Model.deductible)
            {
                <div class="form-group row btm-margin-30 insurance-details-list listing">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="clearfix">
                            <p><b>Network Status :</b></p><span>@item.in_network_status</span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="clearfix">
                            <p><b>Amount :</b></p><span>@item.amount</span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="clearfix">
                            <p><b>Procedure Code :</b></p><span>@item.procedure_code</span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="clearfix">
                            <p><b>Service Or Procedure Code :</b></p><span>@item.service_or_procedure_code</span>
                        </div>
                    </div>

                    @if (item.reference != null)
                    {
                        foreach (var referenceItem in item.reference)
                        {
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="clearfix">
                                    <p><b>Plan Network Identification Number:</b></p><span>@referenceItem.plan_network_identification_number</span>
                                </div>
                            </div>
                        }
                    }
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="clearfix">
                            <p><b>Plan Coverage Description :</b></p><span>@item.plan_coverage_description</span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="clearfix">
                            <p><b>Service Type :</b></p><span>@item.service_type</span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="clearfix">
                            <p><b>Time Qualifier :</b></p><span>@item.time_qualifier</span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="clearfix">
                            <p><b>Coverage Level :</b></p><span>@item.coverage_level</span>
                        </div>
                    </div>
                </div>
            }
        }
        @if (Model != null && Model.limitations != null && Model.limitations.Count != 0)
        {
            <div class="form-group row insurance-details-list bg-grey btm-margin-0">
                <div class="col-lg-12">
                    <h1>Limitations</h1>
                </div>
            </div>
            foreach (var item in Model.limitations)
            {
                <div class="form-group row btm-margin-30 insurance-details-list listing">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="clearfix">
                            <p><b>Service Type :</b></p><span>@item.service_type</span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="clearfix">
                            <p><b>Service Or Procedure Code :</b></p><span>@item.service_or_procedure_code</span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="clearfix">
                            <p><b>Procedure Code :</b></p><span>@item.procedure_code</span>
                        </div>
                    </div>
                    @if (item.age_limit != null)
                    {
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="clearfix">
                                <p><b>Age Limit Qualifier :</b></p><span>@item.age_limit.qualifier</span>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="clearfix">
                                <p><b>Age Limit Quantity :</b></p><span>@item.age_limit.quantity</span>
                            </div>
                        </div>
                    }
                    @if (item.date_time_periods != null)
                    {
                        foreach (var date_time_periodsItem in item.date_time_periods)
                        {
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="clearfix">
                                    <p><b>Date String :</b></p><span>@date_time_periodsItem.date_string</span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="clearfix">
                                    <p><b>Date Qualifier :</b></p><span>@date_time_periodsItem.date_qualifier</span>
                                </div>
                            </div>
                        }
                    }

                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="clearfix">
                            <p><b>Procedure Code :</b></p><span>@item.procedure_code</span>
                        </div>
                    </div>
                </div>
            }
        }
        @if (Model != null && Model.maximums != null && Model.maximums.Count != 0)
        {
            <div class="form-group row insurance-details-list bg-grey btm-margin-0">
                <div class="col-lg-12">
                    <h1>Maximums</h1>
                </div>
            </div>
            foreach (var item in Model.maximums)
            {
                <div class="form-group row btm-margin-30 insurance-details-list listing">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="clearfix">
                            <p><b>Time Qualifier :</b></p><span>@item.time_qualifier</span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="clearfix">
                            <p><b>Coverage Level :</b></p><span>@item.coverage_level</span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="clearfix">
                            <p><b>Service Type :</b></p><span>@item.service_type</span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="clearfix">
                            <p><b>Network Status :</b></p><span>@item.in_network_status</span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="clearfix">
                            <p><b>Amount :</b></p><span>@item.amount</span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="clearfix">
                            <p><b>Service Or Procedure Code :</b></p><span>@item.service_or_procedure_code</span>
                        </div>
                    </div>
                    @if (item.reference != null)
                    {
                        foreach (var referenceItem in item.reference)
                        {
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="clearfix">
                                    <p><b>Plan Network Identification Number: :</b></p><span>@referenceItem.plan_network_identification_number</span>
                                </div>
                            </div>
                        }
                    }
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="clearfix">
                            <p><b>Plan Coverage Description :</b></p><span>@item.plan_coverage_description</span>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    }
    <input type="hidden" id="hdnPatientId" />           
}
catch (Exception Ex)
{
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header blue-bg">
                <button type="button" class="close close-circle" data-dismiss="modal">&times;</button>
                <h3 class="modal-title white">Error</h3>
            </div>
            <div class="modal-body">
                @Html.Partial("_PartialError")
            </div>
        </div>
    </div>
    Common.LogError(Ex);
}
