﻿@model List<OneClickReferral.Models.MessageAttachment>
@try
{
    foreach (var item in Model)
    {
        <li>
            <div class="img-holder">
                @{
                    string AttachmentName = string.Empty;
                    string AttachmentThumb = string.Empty;
                    AttachmentName = Common.SafeString(item.AttachmentName);
                    string ImageBankFolder = Common.SafeString(System.Configuration.ConfigurationManager.AppSettings.Get("ImageBank"));
                    AttachmentName = AttachmentName.Substring(Common.SafeString(AttachmentName).LastIndexOf("$") + 1);
                }
                @if (item.MessageStatus)
                {
                    AttachmentThumb =Common.SafeString(System.Configuration.ConfigurationManager.AppSettings.Get("DraftImages")) + "thumb/" + item.AttachmentName;
                    item.AttachementFullName = Common.SafeString(System.Configuration.ConfigurationManager.AppSettings.Get("DraftImages")) + "" + item.AttachmentName;
                }
                else
                {
                    AttachmentThumb = Common.SafeString(System.Configuration.ConfigurationManager.AppSettings.Get("ImageBank")) + "thumb/" + item.AttachmentName;
                    item.AttachementFullName = Common.SafeString(System.Configuration.ConfigurationManager.AppSettings.Get("ImageBank")) + "" + item.AttachmentName;
                }
                @{
                    string strFileExtension = string.Empty;
                    strFileExtension = Path.GetExtension(item.AttachmentName).ToLower();
                }
                @if (strFileExtension != ".jpg" && strFileExtension != ".jpeg" && strFileExtension != ".gif" && strFileExtension != ".png" && strFileExtension != ".bmp")
                {
                    <img src="@ImageBankFolder@OneClickReferral.Models.FileExtension.CheckFileExtenssion(item.AttachementFullName)" alt="Attachment">
                }
                else
                {
                    <img src="@AttachmentThumb" alt="Attachment">
                }

            </div>
            <div class="attacg-description">
                <div class="discription-box">
                    @{
                        string NewAttachementName = string.Empty;
                        NewAttachementName = Common.SafeString(AttachmentName);
                        var extention = Path.GetExtension(NewAttachementName).ToLower();
                        AttachmentName = (Common.SafeString(NewAttachementName).Length > 20 ? NewAttachementName.Substring(0, 20) + "..." + extention : NewAttachementName);
                    }
                    <p>@AttachmentName</p>
                    <a href="@item.AttachementFullName" target="_blank">View</a>
                    <a href="javascript:;" onclick='Redirect("/Common/DownloadAttachedFile?FileId=@item.MessageId&FileFrom=4&FileName=@item.AttachmentName")' id="download-hover">Download</a>
                </div>
            </div>
        </li>
                            }

                        }
                        catch (Exception Ex)
                        {
                            <li>
                                @Html.Partial("_PartialError")
                            </li>
                            Common.LogError(Ex);
                        }




