﻿@using OneClickReferral.Models
@model List<ColleaguesMessagesOfDoctorViewModel>
@{
    ViewBag.Title = "Print Communication Section";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<div id="communicationHistory">
    @if (Model.Count > 0)
    {
        var PatientID = Model.FirstOrDefault().PatientId;
        <div class="row mrgn-btm-20 patinet_form_new">
            <div class="col-lg-12">
                <div class="test-table">
                    <table class="table table3 filtered-table" id="header-fixed">
                        <thead class="thead-inverse">
                            <tr>
                                <th>
                                    Date
                                </th>
                                <th>
                                    From/To
                                </th>
                                <th>
                                    Type
                                </th>
                                <th class="msg">
                                    Message
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <div class="row mrgn-btm-20 list_form">
            <div class="col-lg-12">
                <div class="test-table" id="patientHistoryscrollId">
                    <table class="table table3 filtered-table" id="header-fixed">
                        <tbody id="CommunicationAppend">
                            @foreach (var item in Model)
                            {
                                <tr>
                                    @if (item.MessageTypeId == 2)
                                    {
                                        List<ReferralMessageDetails> ReferralDetailsList = new List<ReferralMessageDetails>();
                                        ReferralMessageDetails objReferral = new ReferralMessageDetails();
                                        var Datetime = item.CreationDate.Split(' ');
                                        var CreationDate = Datetime[0];
                                        var CreationTime = Datetime[1] + Datetime[2];
                                        // ReferralDetailsList = mdpatient.GetRefferalDetailsById(Convert.ToInt32(Session["UserId"]), item.MessageId, "Sentbox", SessionManagement.TimeZoneSystemName);
                                        objReferral = ReferralDetailsList.FirstOrDefault();
                                        <td data-th="Date"><time>@CreationDate @CreationTime</time></td>
                                        <td data-th="From/To">@item.ColleagueName</td>
                                        <td data-th="Type">Referral</td>
                                        <td data-th="Message">

                                            @if (ReferralDetailsList.Count > 0)
                                            {
                                                string comments = objReferral.Comments;
                                                //comments = comments.Replace("\n", "<br />");
                                                @comments
                                                string[] strRegardingNo = objReferral.RegardOption.Split(new char[] { ',' }, StringSplitOptions.RemoveEmptyEntries);
                                                string[] strRequest = objReferral.RequestingOption.Split(new char[] { ',' }, StringSplitOptions.RemoveEmptyEntries);
                                                if (!string.IsNullOrEmpty(string.Join("", strRegardingNo)))
                                                {
                                                    <b class="hylyt_field">Regarding :</b>
                                                    foreach (string item2 in strRegardingNo)
                                                    {
                                                        if (!string.IsNullOrEmpty(item2))
                                                        {
                                                            if ((Common.SafeInteger(item2) - 1) < objReferral.ReferralRegarding.Length)
                                                            {
                                                                var t = objReferral.ReferralRegarding[Common.SafeInteger(item2) - 1];
                                                                @t;
                                                            }
                                                        }
                                                    }
                                                }
                                                if (!string.IsNullOrEmpty(objReferral.OtherComments))
                                                {
                                                    @objReferral.OtherComments
                                                }

                                                if (!string.IsNullOrEmpty(string.Join("", strRequest)))
                                                {
                                                    <br /><b class="hylyt_field">Request</b>
                                                    foreach (string item1 in strRequest)
                                                    {
                                                        if (!string.IsNullOrEmpty(item1))
                                                        {
                                                            if ((Common.SafeInteger(item1) - 1) < objReferral.ReferralRequest.Length)
                                                            {
                                                                var t = objReferral.ReferralRegarding[Common.SafeInteger(item1) - 1];
                                                                @t;
                                                            }
                                                        }
                                                    }
                                                }
                                                if (!string.IsNullOrEmpty(objReferral.RequestComments))
                                                {
                                                    @objReferral.RequestComments;
                                                }
                                                foreach (MessageAttachment objAttachment in objReferral.lstImages)
                                                {
                                                    string AttachmentName = objAttachment.AttachmentName;
                                                    AttachmentName = AttachmentName.Substring(Common.SafeString(AttachmentName).LastIndexOf("$") + 1);
                                                    <span><i class="attach" style="margin-left:0px !important;"></i> @AttachmentName</span>
                                                }
                                                foreach (MessageAttachment objAttachment in objReferral.lstDocuments)
                                                {
                                                    string AttachmentName = objAttachment.AttachmentName;
                                                    AttachmentName = AttachmentName.Substring(Common.SafeString(AttachmentName).LastIndexOf("$") + 1);
                                                    <span><i class="attach" style="margin-left:0px !important;"></i> @AttachmentName</span>
                                                }


                                            }
                                        </td>                                       
                                    }
                                    @if (item.MessageTypeId == 1)
                                    {
                                        var Datetime = item.CreationDate.Split(' ');
                                        var CreationDate = Datetime[0];
                                        var CreationTime = Datetime[1] + Datetime[2];
                                        string NewMessage = Uri.UnescapeDataString(Common.SafeString(item.Message));
                                        string colleaguesmsg = HttpUtility.HtmlDecode(NewMessage);                                        
                                        var MessageAttachments = Model.FirstOrDefault().MessageAttachments;                                        
                                        <td data-th="Date"><time>@CreationDate @CreationTime</time></td>
                                        <td data-th="From/To">@item.ColleagueName</td>
                                        <td data-th="Type">Message</td>
                                        <td data-th="Message">
                                            @colleaguesmsg
                                            <br /><br />
                                            @if (MessageAttachments != null)
                                            {
                                                if (MessageAttachments.Count > 0)
                                                {
                                                    foreach (var item1 in MessageAttachments)
                                                    {
                                                        if (!string.IsNullOrEmpty(Common.SafeString(item1.Id)))
                                                        {
                                                            string AttachmentName = string.Empty;
                                                            AttachmentName = Common.SafeString(item1.AttachmentName);
                                                            AttachmentName = AttachmentName.Substring(Common.SafeString(AttachmentName).LastIndexOf("$") + 1);
                                                            string extension = Path.GetExtension(AttachmentName);
                                                            string Type = string.Empty;
                                                            if (extension.ToLower() != ".jpg" && extension.ToLower() != ".jpeg" && extension.ToLower() != ".gif" && extension.ToLower() != ".png" && extension.ToLower() != ".bmp" && extension.ToLower() != ".psd" && extension.ToLower() != ".pspimage" && extension.ToLower() != ".thm" && extension.ToLower() != ".tif")
                                                            {
                                                                Type = "Doc";
                                                            }
                                                            else
                                                            {
                                                                Type = "Image";
                                                            }
                                                            <span>
                                                                <i class="attach" style="margin-left:0px !important;">
                                                                </i><a target="_blank" href="/ImageBank/@item1.AttachmentName">@Common.SafeString(AttachmentName).Substring(Common.SafeString(AttachmentName).LastIndexOf("$") + 1)</a>
                                                            </span>
                                                        }
                                                    }
                                                }
                                            }
                                        </td>                                      
                                    }
                                    @if (item.MessageTypeId == 3)
                                    {
                                        var Datetime = item.CreationDate.Split(' ');
                                        var CreationDate = Datetime[0];
                                        var CreationTime = Datetime[1] + Datetime[2];
                                        string NewMessage = Uri.UnescapeDataString(Common.SafeString(item.Message));
                                        string patientsmsg = NewMessage;
                                        Model.FirstOrDefault().MessageAttachments = new List<MessageAttachmentsViewModel>();
                                        <td data-th="Date">@CreationDate @CreationTime</td>
                                        <td data-th="From/To">@item.ColleagueName</td>
                                        <td data-th="Type">Message</td>
                                        <td data-th="Message">                                            
                                                @Html.Raw(patientsmsg.Length > 700 ? patientsmsg.Substring(0, 700) + "..." : patientsmsg)                                            
                                            <br /><br />
                                            @if (Model.FirstOrDefault().MessageAttachments.Count > 0)
                                            {
                                                foreach (var itemAttach in Model.FirstOrDefault().MessageAttachments)
                                                {
                                                    if (!string.IsNullOrEmpty(Common.SafeString(itemAttach.Id)))
                                                    {
                                                        string AttachmentName = string.Empty;
                                                        AttachmentName = Common.SafeString(itemAttach.AttachmentName);
                                                        AttachmentName = AttachmentName.Substring(Common.SafeString(AttachmentName).LastIndexOf("$") + 1);
                                                        string extension = Path.GetExtension(AttachmentName);
                                                        string Type = string.Empty;
                                                        if (extension.ToLower() != ".jpg" && extension.ToLower() != ".jpeg" && extension.ToLower() != ".gif" && extension.ToLower() != ".png" && extension.ToLower() != ".bmp" && extension.ToLower() != ".psd" && extension.ToLower() != ".pspimage" && extension.ToLower() != ".thm" && extension.ToLower() != ".tif")
                                                        {
                                                            Type = "Doc";
                                                        }
                                                        else
                                                        {
                                                            Type = "Image";
                                                        }
                                                        <span>
                                                            <i class="attach" style="margin-left:0px !important;">
                                                            </i><a target="_blank" href="/ImageBank/@itemAttach.AttachmentName">@AttachmentName.ToString().Substring(AttachmentName.ToString().ToString().LastIndexOf("$") + 1)</a>
                                                        </span>
                                                    }
                                                }
                                            }
                                        </td>                                        
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
</div>
<script>
    $(document).ready(function () {
        $(".adminUser_area").remove();
        $("#footer").remove();
        window.print();
    });
</script>
