@import"../Dentalcss/reset.css";
@import"../Dentalcss/skeleton.css";
@import"../Dentalcss/superfish.css";
@import"../Dentalcss/forms.css";
@import"../Dentalcss/flexslider.css";
@import"../Dentalcss/ui.totop.css";
@import"../Dentalcss/jquery-ui.css";

body {
	background:#f1f1f1;
	font:12px/18px Helvetica, Arial, sans-serif;
	color:#666666;
	position:relative; 
	-webkit-text-size-adjust: none;
}
html, body {
	height:100%;
}
p {
	padding-bottom:18px
}
a {
	color:#0691c5;
	outline:none;
	cursor:pointer;
	text-decoration:none;
}
a:hover {
	text-decoration: underline
}
/*  Header styles */
h1, h2, h3, h4, h5, h6 {
	line-height:1.2em;
	padding-bottom:10px;
	color:#17335c;
	font-weight:bold;

}
h1 {
	font-size:26px;
}
h2 {
	font-size:22px;
	padding-bottom:0px; color:#0691c5!important;
}
h3 {
	font-size:24px;
	color:#dc9101;
	padding-bottom:15px
}
h4 {
	font-size:18px;
	padding-bottom:2px;
	text-transform:uppercase;
	line-height:20px
}
h5 {
	font-size:14px;line-height:16px;text-transform:uppercase;padding-bottom:0
}
h6 {
	font-size:13px; padding:2px!important;
}
/* Global Structure---------------------------------------- */
/*----- txt,links,lines,titles -----*/
.clear {
	clear:both;
	line-height:0;
	font-size:0;
	overflow:hidden;
	height:0;
	width:100%;
}
.wrapper {
	width:100%;
	overflow:hidden;
	position:relative;
}
.extra-wrap {
	overflow:hidden;
	display:block;
}
.fleft {
	float:left
}
.fright {
	float:right
}
.alignright {
	text-align:right
}
.aligncenter {
	text-align:center
}
.alignmiddle * {
	vertical-align:middle
}
.color-1 {
	color:#b89567;
}
img {
	max-width:100%;
	height:auto
}
.main {
	width:940px;
	margin:0 auto;
	position:relative
}




p {
	padding-bottom:16px
}
.p0 {
	padding-bottom:0 !important;
}
.p01 {
	padding-top:0 !important;
}
.p {
	padding-top:1px
}
.p1 {
	padding-top:2px
}
.p2 {
	padding-top:3px
}
.p3 {
	padding-top:4px
}
.p4 {
	padding-top:5px
}
.p5 {
	padding-top:6px
}
.p6 {
	padding-top:7px
}
.p7 {
	padding-top:8px
}
.p8 {
	padding-top:9px
}
.p9 {
	padding-top:10px
}
.p10 {
	padding-top:11px
}
.p11 {
	padding-top:12px
}
.p12 {
	padding-top:13px
}
.p13 {
	padding-top:14px
}
.p14 {
	padding-top:15px
}
.p15 {
	padding-top:16px
}
.p16 {
	padding-top:17px
}
.p17 {
	padding-top:20px
}
.p18 {
	padding-top:22px
}
.p19 {
	padding-top:27px
}
.p20 {
	padding-top:31px
}
.padd-1 {
	padding-top:42px;
}
.padd-2 {
	padding-top:56px;
}
.padd-3 {
	padding-top:60px;
}
.padd-bot{padding-bottom:22px}
.padd-bot1{padding-bottom:40px}

.m0 {
	margin:0 !important
}
.m1 {
	margin-top:-1px
}
.m2 {
	margin-top:-2px
}
.m3 {
	margin-top:-3px
}
.m4 {
	margin-top:-4px
}
.m5 {
	margin-top:-5px
}
.m6 {
	margin-top:-7px
}
.m7 {
	margin-top:-13px
}
.overflow {
	overflow:hidden
}
.img-indent {
	float:left;
	margin:0 20px 0 0
}
.img-indent1 {
	float:left;
	margin:3px 20px 0 0
}
/*********************************header*************************************/
header {
	
	position:relative;
	z-index:50; background: url(../DentalImages/header_bg.jpg) repeat-x left top; width:100%; float:left;  height:71px;
}

#page1 header{padding:0 0 0;}


ul.nav_header { margin:0px; padding:0px; list-style:none; float:right;}
ul.nav_header li { margin:0px; padding:0px; list-style:none; float:right; font-size:14px; color:#666; border-right:1px solid #bfbebf; padding:0 10px 0 10px;}
ul.nav_header li.remove_border { border:0px!important;}
ul.nav_header li a { margin:0px; padding:0px; list-style:none; float:right; font-size:14px; color:#666; padding:10px 0 10px 0;}
ul.nav_header li a span.icon_signup{ width:22px; height:16px; float:left; background: url(../DentalImages/sprite.png) no-repeat -139px 0;  }
ul.nav_header li a span.icon_login{ width:22px; height:16px; float:left; background: url(../DentalImages/sprite.png) no-repeat -172px 0; }

.breadcrum{ float:left; padding:20px 0 0 0; width:100%; height:30px; font-size:14px;}
.breadcrum .icon_home{ float:left; background: url(../DentalImages/sprite.png) no-repeat left top; width:15px; height:13px;}
.breadcrum a{ text-decoration:none; color:#0691c5; }
.breadcrum a.selected{ color:#666; }
.main_content{ width:960px; height:auto; float:left; border:1px solid #cccccc; margin-top:63px; background:#FFF; -moz-border-radius:5px; border-radius: 5px; }

.header_panel { width:100%; float:left; height:71px; }

.public_profile_data{ float:left; width:100%;}
.public_profile_data h1{ float:left; width:98%; padding:15px 0 10px 2%!important;}
.public_profile_data .largefont{ font-size:18px;}

.public_profile_data .public_profile_main{float:left; width:96%; border:1px solid #efefef; padding:2% 2% 10px 2%;}
.public_profile_data .public_profile_main .image_panel{float:left; width:105px;}
.public_profile_data .public_profile_main .description{float:left; width:38%;}
.public_profile_data .public_profile_main .social_panel{float:right; width:40%;}

.profile_listing h3{ font-size:14px; color:#17335c;}

.website_link{ width:60%; height:auto; float:right;}
.website_link a{ width:96%; height:auto; float:right; font-size:14px; color:#666666; line-height:22px; text-decoration:none; background-color:#efefef; padding:6px 0 6px 3%;}
.website_link a span.web_icon{ width:28px; height:24px; float:left; background: url(../DentalImages/sprite.png) no-repeat -364px top;}

.phone_no2{ width:70%; height:auto; float:right; font-size:15px; color:#FFF; text-decoration:none; background-color:#0591c5; padding:8px 0 3px 10px; line-height:20px; margin:10px 0 0 0;}
.phone_no2 span{ float:left;}
.phone_no2 span.web_icon{ width:25px; height:24px; float:left; background: url(../DentalImages/sprite.png) no-repeat -538px top; color:#FFF;}



.profile_data{width:100%; height:auto; float:left; padding:20px 0 0 0; background:url(../DentalImages/repeat_bg_line.jpg) repeat-x left bottom; padding:0 0 2px 0;}
.profile_listing{ width:100%; height:auto; float:left; background-color:#efefef;   padding:0 0 8px 0;}
.profile_listing .grid_3_updated{height:auto; float:left;  padding:10px 0 0 1%; width:26%; }
.profile_listing .grid_7_updated{height:auto; float:left;   padding:10px 0 0 2%; width:68%; margin:0!important; border-left:1px solid #e4e3e3;  }

.contact_box{ width:34%; height:auto; float:left; background:#FFF; padding:10px; margin:0 20px 5px 0;}




.phone_no_grey{ width:95%; height:auto; float:left; font-size:15px; color:#666666; text-decoration:none; background-color:#efefef; padding:4px 0 3px 10px; line-height:20px; margin:10px 0 0 0;}
.phone_no_grey span{ float:left;}
.phone_no_grey span.web_icon{ width:18px; height:24px; float:left; background: url(../DentalImages/sprite.png) no-repeat -568px top; color:#666666;}


.contact_box p{ font-size:12px; color:#666; padding:0px; line-height:14px;}

.phone_no2 span a{ color:#fff!important;}
span a.facebook_icon{ width:28px; height:22px; float:left; background: url(../DentalImages/sprite.png) no-repeat -393px top;}
span a.LinkedIn_icon{ width:28px; height:22px; float:left; background: url(../DentalImages/sprite.png) no-repeat -421px top;}
span a.Blog_icon{ width:28px; height:22px; float:left; background: url(../DentalImages/sprite.png) no-repeat -449px top;}
span a.twitter_icon{ width:28px; height:22px; float:left; background: url(../DentalImages/sprite.png) no-repeat -477px top;}
span a.robot_icon{ width:28px; height:22px; float:left; background: url(../DentalImages/sprite.png) no-repeat -505px top;}

.panel_univesity{ width:45%; height:auto; float:left;}
.panel_univesity p{ margin:0px; padding:0px;}
.panel_univesity p.bluecolor{ color:#0691c5}

.bullet_lisiting{ width:100%; height:auto; float:left; padding:0 0  10px 0; }
.bullet_lisiting ul{ margin:0px; padding:0px; list-style:none; float:left; width:100%; }
.bullet_lisiting ul.two_row{ margin:0px; padding:0px; list-style:none; float:left; width:45%;}
.bullet_lisiting ul li{ margin:0px; padding:0px; list-style:none; font-size:12px; clear:both; line-height:20px; background: url(../DentalImages/bullet.png) no-repeat left 5px; padding:0 0 0 15px; line-height:16px;}

.list_numbering{ width:30%; height:auto; float:let; background-color:#fff; color:#666; padding:5px 15px 5px 10px; margin:10px 0 0 0;}

.list_numbering a{ float:right; padding:0 0 0 10px;}

.new_patient_signup_mydental{ float:left; width:100%;  background-color:#b1bcce;  margin:45px 0 20px 0;}

.new_patient_signup{ float:left; width:97%;  margin:55px 0 20px 0; padding:6% 0 5% 3%; background-color: #B1BCCE;}
.new_patient_signup h3.newpatient{ float:left; margin:0px; padding:0px;  color:#0691c5; padding:0 0 20px 0; background: url(../DentalImages/blue_line.png) no-repeat center bottom; font-size:23px; text-align:center; width:98%; }
.new_patient_signup h3 span.blue_color{ color:#17335d!important;}
.inputbox_signup{ width:100%; height:35px; float:left; border:1px solid #e0e0e0; background-color:#FFF; line-height:20px; color:#b1bcce; text-indent:5px; font-size:16px;}
.inputbox_textarea{ width:100%; height:249px; float:left; border:1px solid #e0e0e0; background-color:#FFF; line-height:20px; color:#b1bcce; text-indent:5px; font-size:16px; font-family:Helvetica, Arial, sans-serif}

ul.patient_listing{ margin:0px; padding:0px; list-style:none; width:100%; padding:10px 0 0 0; float:left;}
ul.patient_listing li{ margin:0px; padding:0px; list-style:none; padding:0 0 8px 0; float:left; width:95%;}
ul.patient_listing li span.verification_text{ width:70%; float:left;}
ul.patient_listing li span.verification_img{ width:30%; float:right;}

.large_button{ width:70%; height:auto; margin:20px auto;}
.large_button a{ width:100%; height:auto; float:left; background: url(../DentalImages/large_button_bg.jpg) repeat-x left top; font-size:30px; color:#0691c5; height:50px; border-left:1px solid #aea5a5; border-right:1px solid #aea5a5; padding:0 0 0 0; text-align:center; line-height:50px; text-decoration:none; -moz-border-radius: 10px;
  border-radius: 10px; }
  
.find_dentist{ width:100%; height:auto; float:left;  padding:20px 0 0 0;}
.find_dentist .top_panel_dentist{ width:100%; height:auto; float:left;}

.find_dentist .top_panel_dentist{ width:100%; height:auto; float:left; background-color:#17335c;  -moz-border-radius:5px; border-radius: 5px;}
ul.search_dentist_listing{ margin:0px; padding:0px; list-style:none; width:100%; padding:10px 0 0 0; float:left;}
ul.search_dentist_listing li{ margin:0px; padding:0px; list-style:none; padding:0 0 2px 8px; float:left;}
ul.search_dentist_listing li h2{ padding:5px 0 0 5px; line-height:20px;}
ul.search_dentist_listing li span.verification_text{ width:70%; float:left;}
ul.search_dentist_listing li span.verification_img{ width:30%; float:right;}
ul.search_dentist_listing li .button_panel_search{ background: url(../DentalImages/search_btn.jpg) no-repeat left top; width:49px; height:39px; float:left; border:0px; margin:0 5px 0 0;}

.inputbox_search{ width:100%; height:35px; float:left; border:0px;  background-color:#4d6d9c; line-height:33px; color:#c5cddb; text-indent:5px; font-size:16px; margin:0 0 0 0; }

.panel_1{ width:15%; float:left;}
.panel_2{ width:27%; float:left;}
.panel_3{ width:28%; float:left; }
.panel_4{ width:5%; float:left;}
.panel_7{ width:18%;}
.panel_8{ width:18%;}
.panel_9{ width:17%;}
.panel_5{ width:19%; float:left;}
.panel_6{width:16%; float:left;}
.panel_10{ width:5%; float:left;}
.panel_11{ width:19%; float:left;}

.request_informaton_box{  margin-top:0px!important; padding-bottom:0px;}

.search_dentist_listing h2{ margin:0px; padding:0px; font-weight:normal; font-size:16px;}

ul.search_dentist_listing li.search_by_location a{ background: url(../DentalImages/search_bg.jpg) repeat-x left top; width:100%; height:auto; float:left; height:39px; color:#FFF; font-size:18px; line-height:22px; padding:8px 0 0 10px; text-decoration:none;}

span.location_aero{ width:18px; height:23px; float:right; background: url(../DentalImages/sprite.png) no-repeat -704px top;}



.find_dentist .bottom_panel_dentist{ margin:0 auto; width:62%;}

.bottom_panel_dentist .panel_dentist{ width:100%; height:auto; margin:0 auto; background-color:#17335c;  -moz-border-bottom-left-radius:5px;  -moz-border-bottom-right-radius:5px; border-bottom-left-radius:5px; border-bottom-right-radius:5px;  float:left; padding:0  0 0 15px; margin-top:-1px;}
span.white_aero{ width:40px; height:23px; float:right; background: url(../DentalImages/sprite.png) no-repeat -644px top;}
.bottom_panel_dentist .text_heading{ color:#fff; height:30px; float:left; padding:5px 10px 0 0;}
ul.alphabete{ width:70%; list-style:none; margin:0px;  float:left; padding:0 0 0 5px}
ul.alphabete li a{ width:auto; list-style:none; margin:0px; padding:0px; padding:5px 4px 0 5px ; float:left; text-align:center; text-decoration:none; float:left;}
ul.alphabete li a:hover{    background-color:#0691c5; color:#FFF;}

.google_map{ padding:20px 10px 10px 10px; display:block;}

/*  Buttons */
.button_panel{ padding:12px 0 0 0!important; float:left; width:100%;}
.button {
	display:inline-block;
	font-family:Helvetica, Arial, sans-serif;
	font-size:18px;
	line-height:18px;
	padding:6px 11px 7px;
	color:#fff;
	background:url(../DentalImages/submit_bg.png) repeat-x 0 0; 
	border:0px;
	border-left:1px solid #0762bf;
	border-right:1px solid #0762bf; cursor:pointer;
	
 width:100%;
}
.button:hover {
	
	color:#fff;
	text-decoration:none;
	font-weight:normal
}


.button_2 {
	font-family:Helvetica, Arial, sans-serif;
	font-size:18px;
	line-height:18px;
	padding:6px 11px 7px;
	color:#fff;
	background:url(../DentalImages/submit_bg.png) repeat-x 0 0; 
	border:0px;
	border-left:1px solid #0762bf;
	border-right:1px solid #0762bf; float:left;  cursor:pointer; text-indent:-999em;

}
.button_2:hover {
	
	color:#fff;
	text-decoration:none;
	font-weight:normal
}


.button_3 {
	font-family:Helvetica, Arial, sans-serif;
	font-size:18px;
	line-height:18px;
	padding:6px 11px 7px;
	color:#fff;
	background:url(../DentalImages/submit_bg.png) repeat-x 0 0; 
	border:0px;
	border-left:1px solid #0762bf;
	border-right:1px solid #0762bf; margin:0 auto;  cursor:pointer;

}
.button_3:hover {
	
	color:#fff;
	text-decoration:none;
	font-weight:normal
}


.button_4 {
	font-family:Helvetica, Arial, sans-serif;
	font-size:18px;
	line-height:auto!important;
	height:auto!important;
	padding:6px 11px 7px;
	color:#fff;
	background:#0378b3 url(../DentalImages/submit_bg_2.png) repeat-x 0 0; 
	border:0px;
	border-left:1px solid #0762bf;
	border-right:1px solid #0762bf; margin:0 auto;  cursor:pointer; width:100%; white-space:pre-line; word-break:normal;

}
.button_4:hover {
	
	color:#fff;
	text-decoration:none;
	font-weight:normal
}





.followus{background: url(../DentalImages/followus.png) no-repeat 0 24px; float:left; width:110px; height:50px;}

.social_links_panel{ float:right;}
.social_links_panel span{ margin:10px 10px 0 0; float:left;}
.social_links_panel span.remove_space{ margin-right:0px!important;}
.social_links_panel span a.facebook{ width:40px; height:40px; float:left; background: url(../DentalImages/social_icons.png) no-repeat 0 0;}
.social_links_panel span a.Twiiter{ width:40px; height:40px; float:left; background: url(../DentalImages/social_icons.png) no-repeat -49px 0;}
.social_links_panel span a.LinkedIn{ width:40px; height:40px; float:left; background: url(../DentalImages/social_icons.png) no-repeat -98px 0;}
.social_links_panel span a.Blog{ width:40px; height:40px; float:left; background: url(../DentalImages/social_icons.png) no-repeat -147px 0;}
.social_links_panel span a.youTube{ width:40px; height:40px; float:left; background: url(../DentalImages/social_icons.png) no-repeat -195px 0;}
.social_links_panel span a.GPlus{ width:40px; height:40px; float:left; background: url(../DentalImages/social_icons.png) no-repeat -245px 0;}
.social_links_panel span a.vimedo{ width:40px; height:40px; float:left; background: url(../DentalImages/social_icons.png) no-repeat -294px 0;}
.social_links_panel span a.pinterest{ width:40px; height:40px; float:left; background: url(../DentalImages/social_icons.png) no-repeat -343px 0;}

.social_links_panel span a.facebook:hover{ background-position:0 -40px}
.social_links_panel span a.Twiiter:hover{ background-position:-49px -40px}
.social_links_panel span a.LinkedIn:hover{ background-position:-98px -40px}
.social_links_panel span a.Blog:hover{ background-position:-147px -40px}
.social_links_panel span a.youTube:hover{ background-position:-195px -40px}
.social_links_panel span a.GPlus:hover{ background-position:-245px -40px}
.social_links_panel span a.vimedo:hover{ background-position:-294px -40px}
.social_links_panel span a.pinterest:hover{ background-position:-343px -40px}



/******************** Footer ******************/
footer {
	position:relative;
	width:100%;
	text-align:center; float:left; padding:20px 0 0 0;}

.footer_top_panel{background-color:#b1bcce; float:left; width:100%; height:63px; margin:0 0 10px 0;}

.main_footer {
	width:960px;
	margin:0 auto;
	position:relative
}


.footer_top_panel .social_links{ width:53%; height:auto; float:right;}

.footer_top_panel .footer_nav{ width:45%; height:auto; float:left;}
.footer_top_panel .footer_nav ul{ margin:0px; padding:0px; list-style:none; float:left;}
.footer_top_panel .footer_nav ul li{ margin:0px; padding:0px; list-style:none; float:left; background:url(../DentalImages/seprator_footer.jpg) no-repeat right 0; height:40px; padding:23px 0 0 0;}

.footer_top_panel .footer_nav ul li a{ padding:0 6px 0 6px; color:#0691c5; display:block;}
.footer_top_panel .footer_nav ul li a:hover{ color:#fff;}
.footer_top_panel .footer_nav ul li.remove_line{ background:none;}


.copyright{  height:40px; display:block;}



/******************** Footer end ******************/

header h1#logo a {
	width:170px;
	float:left;
	height:50px; margin:5px 0 0 0 ;
	background:url(../DentalImages/logo.png) 0 0 no-repeat;
}

header h1#logo_dental a {
	width:198px;
	float:left;
	height:50px; margin:5px 0 0 0 ;
	background:url(../DentalImages/mydental_files_logo.png) 0 0 no-repeat;
}


.row-nav {
	position:relative;
	z-index:50;
	adding-bottom:24px;
}

#back-to-top {
    cursor: pointer;
    right: 20px;
    position: fixed; bottom:30px;
	background:url(../DentalImages/select.gif) no-repeat 0 0; width:23px; height:23px; z-index:999999;
}




/*.....................patient form start.....................*/

#patientform_listing{ width:100%; height:auto; float:left; padding:20px 0 20px 0;}
#patientform_listing .listing_payment{ width:100%; height:auto; float:left; background:#b1bcce url(../DentalImages/patient_formbg.jpg) repeat-y 0 0; }
#patientform_listing .listing_payment ul{ margin:0px; padding:0px; list-style:none; clear:both; width:100%; padding:10px 0 0 0;}
#patientform_listing .listing_payment ul li{ margin:0px; padding:0px; list-style:none; clear:both; padding:10px 0 10px 0; width:100%; background:url(../DentalImages/patient_line_img.jpg) repeat-x 0 bottom; height:auto; overflow:hidden;    }
#patientform_listing .listing_payment ul li a{ font-size:14px; color:#17335d;    float:left; width:98%;  padding:0 0 0 4px; line-height:13px; text-decoration:none;   }
#patientform_listing .listing_payment ul li a span{ font-size:14px; color:#17335d;   float:left; display:block; width:100%; padding:9px 0 8px 8px; }
menu-icon2{ display:none;}
#patientform_listing .listing_payment ul li a.selected{ font-size:14px; color:#fff;  background:url(../DentalImages/select_left_img.jpg) no-repeat 0 0;  float:left; width:100%; padding:0 0 0 4px;   }
#patientform_listing .listing_payment ul li a.selected span{ font-size:14px; color:#fff;   background:url(../DentalImages/select_img_patient.png) no-repeat right 0;  height:27px; float:left; display:block; width:90%; padding:9px 0 8px 8px; line-height:15px; overflow:hidden; }

.sf-menu_3{ display:block;}

#form_right{ width:100%;  height:auto; float:left;  margin:20px 0 0 0; border:1px solid #b1bcce; -moz-border-radius:5px; border-radius: 5px;}
#form_right .form_container{ width:94%; padding:2% 0 20px 3%; position:relative;}
#form_right .form_container .hightlight_txt{ width:100%; color:#F00;}
.container_16 .grid_12{ padding:0 0 10px 0;}


ul#form_info{ margin:0px; padding:0px; list-style:none; clear:both; padding-top:10px; padding-left:10px;}
ul#form_info li{ margin:0px; padding:0px; list-style:none; clear:both; padding:0 0 0 0; display:block; width:100%; float:left;}
ul#form_info li label{ float:left;  width:40%; font-size:13px; color:#17335d; line-height:20px; padding:4px 10px 0 0;}
ul#form_info li span{ float:left; padding:10px 13px 5px 0; font-size:13px;}
ul#form_info li span.red{ color:#ff0000; float:none; padding:0px; }
ul#form_info li input{ float:left; margin:0 1% 10px 0;}
ul#form_info li input.month{  width:7%; border:1px solid #919fb4; font-size:14px; color:#666; height:28px; line-height:16px; text-indent:5px; margin:0 8px 0 0;}
ul#form_info li input.date{  width:8%; border:1px solid #919fb4; font-size:14px; color:#666; height:28px; line-height:16px; text-indent:5px;}
ul#form_info li input.year{  width:9%; border:1px solid #919fb4; font-size:14px; color:#666; height:28px; line-height:16px; text-indent:5px;}

ul#form_info li input[type="button"]{ float:left; }

ul#form_info li input[type="checkbox"]{ float:left; padding:0 5px 0 10px; }

.input_box_forms{ width:50%; border:1px solid #919fb4; font-size:14px; color:#666; height:28px; line-height:16px; text-indent:5px; }
.list_menu_forms{ width:30%; border:1px solid #919fb4; font-size:14px; color:#666; height:28px; line-height:18px; padding:3px; margin:0 0 10px 0;  }

ul.information_panel{  background:#e4e4e4 url(../DentalImages/aero_up.png) no-repeat left 0; padding:20px 0 0 10px!important; display:block; float:left; width:98%;}

ul#form_info li span label{ float:left; line-height:14px; margin:0px; padding:0px; }
ul#form_info li span input{ float:left; line-height:20px; }

ul#form_info li span label{ float:left; margin-left:4px; }




ul#form_info li input.normal_input{  width:20%; border:1px solid #919fb4; font-size:14px; color:#666; height:28px; line-height:16px; text-indent:5px;}
ul#form_info li input.date_input{  width:21%; border:1px solid #919fb4; font-size:14px; color:#666; height:28px; line-height:16px; text-indent:5px;}
.input_box_textarea{ height:150px; width:50%;}
.blue_txt{ height:30px; float:left; color:#0691c5;}





/*.....................patient form end.....................*/

 
    .etabs { margin: 0; padding: 0; }
    .tab { display: inline-block; zoom:1; *display:inline; background: #eee; border: solid 1px #b1bcce; border-bottom: none; -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; }
    .tab a { font-size: 14px; line-height: 2em; display: block; padding: 0 10px; outline: none; text-decoration:none; }
    .tab a:hover { text-decoration: none; }
    .tab.active { background: #fff; padding-top: 6px; position: relative; top: 1px; border-color: #b1bcce; }
    .tab a.active { font-weight: bold; }
    .tab-container .panel-container { background: #fff; border: solid #b1bcce 1px; padding: 10px; -moz-border-radius: 0 4px 4px 4px; -webkit-border-radius: 0 4px 4px 4px; }
    .panel-container { margin-bottom: 10px; }
    ul.etabs { margin:0px; padding:0px;}
	ul.etabs  li{ margin:0px; padding:0px;}
	.tab.active {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #b1bcce;
    padding-top: 0;
    position: relative;
   
}

.tab-container{ position:relative; top:0; padding:0 0 10px 0; }
.tab-container h2{ padding:0 0 20px 0; text-transform:uppercase;}

.tab-container h2.form_heading{ padding:0 0 5px 0; text-transform:uppercase;}


.notice_data{ text-align:center; padding:10px 0 30px 0;}
.notice_data p{ text-align:center; padding:10px 20px 0 20px; line-height:22px;}

.left_panel_head{ float:left; width:60%;}
.right_panel_head{ float:right; width:30%;}
.skip_step{ float:right;}

.skip_step a{background:url(../DentalImages/skip_step_btn.png) no-repeat 0 0; width:95px; height:29px; float:left; color:#FFF; padding:5px 0 0 14px; font-size:14px; text-decoration:none;}


.checkbox_label{ float:left;}
.checkbox_label_large{ float:left; }
.checkbox_left{ float:left; width:25%}
.checkbox_left label{ float:left; width:80%!important}
.checkbox_right{ float:right; width:25%}
.checkbox_right label{ float:left; width:80%!important}
.clear_div{ clear:both; width:100%; float:left;}
.left_div_form{float:left; width:42%!important; margin:0px!important; padding:10px 0 10px 0!important;}
.right_div_form span{padding:0 0 0 0!important;}

.right_div_form{float:left; width:55%!important; margin:0px!important; padding:10px 0 10px 0!important;}

.left_div_form label{width:auto!important;}
.right_div_form input{ float:left;}
.right_div_form label{ float:left; width:40%;}

ul.review_panel{ padding-top:15px!important; padding-bottom:10px!important; margin:0px!important;}
.center_button{ float:left; padding:10px 0 0 0;}
.center_button p{ float:left; padding:10px 0 10px 0;}








/*...........login page strat.......................*/


#login_panel{ width:400px; height:auto; margin:0 auto; padding:70px 0 0 0;}
#login_panel h1{ clear:both; width:100%; text-align:center; float:left;}
#login_panel h1#logo a {width:170px;height:70px; background:url(../DentalImages/logo.png) 0 0 no-repeat; margin:0 auto; display:block;}
#login_panel .login_box{ width:91%; height:auto;  border:1px solid #bcbcbc; background-color:#fff; float:left; padding:20px 5% 20px 4%; }
#login_panel .login_box h2{ padding:0 0 20px 0; font-size:26px; font-weight:normal; }
#login_panel .login_box h2 span{ color:#17335d}
.input_border{ border:1px solid #919fb4; border-left:4px solid #0691c5; float:left; height:32px; width:92%; padding:6px 5% 0 2%; margin:0 0 10px 0;}
.input_border .email_icon{ width:25px; height:22px; float:left; background: url(../DentalImages/icon.png)  no-repeat left 2px;}
.input_border .input_box_login{  width:80%; height:20px; float:left; border:1px solid #919fb4; background-color:#FFF; line-height:20px; color:#b1bcce; text-indent:5px; font-size:16px; border:0px; line-height:20px;}
.input_border .password_icon{ width:25px; height:25px; float:left; background: url(../DentalImages/icon.png)  no-repeat left -22px;}
.button_section{ width:100%; height:auto; float:left}
.button_section .remember_me{ width:40%; height:auto; float:left; padding:5px 0 0 0;}
.button_section .remember_me span{ float:left; line-height:20px;}
.button_section .submit_btn{ width:auto; height:auto; float:right}
.button_section .submit_btn input{ text-align:left;}
.button_2{ background:url(../DentalImages/submit_btn.jpg) no-repeat 0 0;  float:left; width:119px; height:39px;}
.forgot_password_section{ width:100%; height:auto; float:left; border:1px solid #999; margin:20px 0 0 0;}
.forgot_password_section h1.greyfont{ text-align:center; font-size:22px; font-weight:normal; color:#b1b1b1; padding:10px 0 10px 0;}
.forgot_password_section p.normalfont{ text-align:center; margin:0px 0 10px 0; padding:0px;}
.clear_div_height{ height:110px; clear:both; width:100%;}

/*...........login page end.......................*/




/*...........Jquery steps start.......................*/

#steps_panel{ width:80%; margin:20px auto; }

#step{ float:left; padding:30px 0 60px 0; width:100%;}

#steps_panel h2.heading{ font-size:20px; text-align:center; border-top:1px solid #e8e8e8; border-bottom:1px solid #e8e8e8; padding:6px 0 6px 0; color:#17335d!important; margin:20px 0 0 0;}

#steps_panel h3.heading{ font-size:18px; text-align:center; color:#333; font-weight:normal;}

#steps_panel h2.heading span{ color:#0691c5;  }

#default-titles .current-step div{ background: url(../DentalImages/selected_img_next.png)  no-repeat right top; width:167px; height:32px; float:left; color:#fff; font-size:18px; text-align:center;}

.stepy-titles { background-color:#dde2eb; margin:0px; padding:0px; float:left; width:100%; text-align:center; color:#fff; font-size:18px; text-align:center;}
.stepy-titles div { background-color:#dde2eb; margin:0px; padding:0px; float:left; padding:10px 0 0 0; width:167px; height:22px; text-align:center; color:#999999;}
ul#step-titles{ background: url(../DentalImages/grey_bg.png)  repeat-x left top; width:100%; float:left;}
ul#step-titles li{ color:#999999; font-size:18px;   }

.target-buttons{ clear:both; margin:10px 0 0 0;}

.button-back { float: left; }
.button-next, .finish { float: right; }
.button-back, .button-next, .finish {font-family:Helvetica, Arial, sans-serif;
	font-size:18px;
	line-height:18px;
	padding:6px 11px 7px;
	color:#fff;
	background:url(../DentalImages/submit_bg.png) repeat-x 0 0; 
	border:0px;
	border-left:1px solid #0762bf;
	border-right:1px solid #0762bf; margin:0 auto;  cursor:pointer;
}
.button-back:hover, .button-next:hover, .finish:hover { color: #fff; }

.step { width:100%; clear:both; }





.stepy-titles { list-style: none; margin: 0; padding: 0; width: 100%; }
.stepy-titles li { color: #DDD; cursor: pointer;  float: left; margin:0px; padding:0px; }
.stepy-titles li span { font: 11px verdana; display: block; }
.stepy-titles .current-step { color: #369; cursor: auto; }

/*** Optionaly (jQuery Validate) ***/


ul.infomation_list{ margin:0px; padding:0px; list-style:none; width:100%; padding:10px 0 20px 0; display:inline-block;}
ul.infomation_list li{ margin:0px; padding:0px; list-style:none; padding:0 0 8px 0; width:23%; font-size:16px; font-weight:bold; margin:0 10px 0 0; display:inline-block;}
.lastproduct{ margin:0px!important;}

.inputbox_signup_info{ width:100%; height:35px; float:left; border:1px solid #919FB4; background-color:#FFF; line-height:20px; color:#b1bcce; text-indent:5px; font-size:16px;}

.checkbox_listing{  width:100%; height:auto; padding:20px 0 0 0; display:inline-block;}
.checkbox_listing span{ width:22%; display:inline-block; padding:0 0 5px 0;}
.checkbox_listing input{height:auto; float:left;}
.checkbox_listing label{height:auto; float:left; line-height:20px;}


.inputbox_other{ width:80%; height:20px; float:left; border:1px solid #e0e0e0; background-color:#FFF; line-height:20px; color:#b1bcce; text-indent:5px; font-size:12px;}

.heading_teeth{background: url(../DentalImages/grey_aero_bg.jpg) no-repeat left top; width:219px; height:32px;  text-align:center; color:#FFF; padding:2px 0 0 0; margin:0 auto;}

ul.teeth_list{ width:100%; height:auto; clear:both; padding:0 0 20px 0;}
ul.teeth_list li{ display:inline-block;height:auto;}
ul.teeth_list li a{ display:inline-block;height:auto; background: url(../DentalImages/teeth_blue.jpg) no-repeat left top; width:21px; height:30px; color:#FFF; line-height:24px; font-size:10px; text-align:center;}

.right_teeth{ float:right;}
.left_teeth{ float:left;}
.left_teeth_panel{ float:left; width:55%;}
.right_teeth_panel{ float:right; width:35%;}

.upload_panel{ float:left; width:100%; margin:20px 0 0 0;}
.upload_panel .upload_img{ float:left; width:30%;}
.upload_panel .upload_inputbox{ float:right; width:60%;}
.file_input{ height:20px; float:left;}




ul.comments{ margin:0px; padding:0px; list-style:none; width:100%; padding:10px 0 20px 0; float:left;}
ul.comments li{ margin:0px; padding:0px; list-style:none; padding:10px 0 10px 0; float:left; width:100%;}

ul.comments li span.verification_text{ display:inline-block;}
ul.comments li span.verification_img{ display:inline-block; padding:0 0 0 10px;}


/*...........Jquery steps end.......................*/


.patient_login_box{ padding:40px 0 0 0; width:80%; margin:0 auto;}
.patient_login_box .content_area{ width:80%; float:left; border:1px solid #d4d3d3; padding:20px 10% 20px 10%}


h2.patient_login_heading{ width:60%; padding:5px 0 5px 0; margin:0 auto; text-align:center; border:1px solid #d4d3d3; border-bottom:0px; background-color:#f6f6f6; float:none;}

.input_border_login{ border:1px solid #919fb4; border-left:4px solid #0691c5; float:left; height:32px; width:40%; padding:6px 5% 0 2%; margin:0 10px 20px 10px;}
.input_border_login .input_box_login{  width:80%; height:20px; float:left; border:1px solid #919fb4; background-color:#FFF; line-height:20px; color:#b1bcce; text-indent:5px; font-size:16px; border:0px; line-height:20px;}

.input_border_login_2{ border:1px solid #919fb4; border-left:4px solid #0691c5; float:left; height:32px; width:40%; padding:6px 5% 0 2%; margin:0 0 20px 0;}
.input_border_login_2 .input_box_login{  width:80%; height:20px; float:left; border:1px solid #919fb4; background-color:#FFF; line-height:20px; color:#b1bcce; text-indent:5px; font-size:16px; border:0px; line-height:20px;}


.button_section_center{ margin:0 auto; width:119px;}
 
.patient_login_forms{ clear:both; width:100%; padding:0 0 80px 0; float:left;}


/*...............my dental page start..........................*/


.sign_in{ width:61%; height:auto; float:left; float:right;}
.sign_in .input_border .patient_icon{ width:25px; height:22px; float:left; background: url(../DentalImages/icon_2.png)  no-repeat left 0;}
.sign_in .input_border .input_box_login{  width:80%; height:20px; float:left; border:1px solid #c5c5c5; background-color:#FFF; line-height:20px; color:#666666; text-indent:5px; font-size:16px; border:0px; line-height:20px; font-size:14px; font-weight:normal; }
.sign_in .input_border .password_icon{ width:22px; height:25px; float:left; background: url(../DentalImages/icon_2.png)  no-repeat -39px 0;}
.sign_in .submit_btn{ width:auto; height:auto; display:inline-block; margin:0 0 0 5px;}
.sign_in .button_section .submit_btn input{ text-align:left;}
.sign_in .input_border{ border:1px solid #c5c5c5; display:inline-block;  height:27px; width:36%; margin:0 0 10px 5px; padding:7px 0 0 10px; background-color:#FFF;}
.button_sign_in {font-family:Helvetica, Arial, sans-serif;font-size:18px;line-height:18px;padding:6px 11px 7px;color:#fff;background:url(../DentalImages/sign_in_bg.jpg) repeat-x 0 0; border:0px;border-left:1px solid #0762bf; border-right:1px solid #0762bf; float:right;  cursor:pointer; height:35px;}
.button_sign_in:hover {color:#fff;text-decoration:none;font-weight:normal}
#find_Dental{ width:90%; height:auto; margin:0 auto; padding:50px 0 0 0;}
#find_Dental .heading h2{ padding:0 0 20px 0; font-size:24px; }
#find_Dental .heading h2 span{ color:#666666; font-size:20px;}
#find_Dental .heading h1{ padding:0 0 20px 0; font-size:32px; background-color:#0691c5; width:100%; color:#fff; padding:15px 0 0 0; line-height:30px; height:50px; margin:0 0 15px 0; font-weight:normal; -moz-border-radius:5px; border-radius: 5px; }
#find_Dental .heading h1 span{ color:#fff200;}
#find_Dental .input_border{ border:1px solid #919fb4; border-left:4px solid #0691c5; float:left; height:35px; width:97%; padding:10px 1% 0 1%; margin:0 0 10px 0;}
#find_Dental .input_border .input_box_login{  width:80%; height:20px; float:left; border:1px solid #919fb4; background-color:#FFF; line-height:20px; color:#b1bcce; text-indent:5px; font-size:16px; border:0px; line-height:20px;}
.find_Dentist { margin:0 auto; width:192px;}
.find_Dentist input{ text-align:left;}
.find_Dentist input.button_find{ background:url(../DentalImages/find_dentist_btn.jpg) no-repeat 0 0;  float:left; width:192px; height:39px; border:0px;}
.optional_section{ width:100%; height:auto; float:left; margin:20px 0 0 0; padding:0 0 10px 0; background-color:#efefef; border:1px solid #d8d8d8;  border-bottom:0px;}

.optional_section_bottom{ width:100%; height:auto; float:left; padding:0 0 14px 0;  background: url(../DentalImages/aero_bottom.jpg)  no-repeat center bottom;}

.optional_section h1.bluefont{ text-align:center; font-size:18px; font-weight:normal; color:#0691c5; padding:10px 0 10px 0; text-align:center;}
.optional_section p.normalfont2{ text-align:center; margin:0px 0 10px 0; padding:0px; font-size:16px; color:#b1b1b1;}
.optional_section p.normalfont2 span{ color:#0691c5;}



/*...............my dental page end..........................*/


/*...............search page start..........................*/


.inner_panel{ width:95%; margin:0 auto; padding:20px 0 40px 0;}
.inner_panel .top_row{ width:100%; padding:20px 0 0 0; color:#000;  background-color:#d5dbe4; -moz-border-radius:5px; border-radius: 5px; }


.inner_panel .top_row .find_dentist_div{ color:#333; padding:10px 10px 0 0; float:left; font-size:12px;}

.search_list_panel{ display:inline-block; width:90%; padding:0 5% 0 5%;}
.search_list_panel div{ display:inline-block; }
#uclSearchControl_txtFirstName{  border:1px solid #919fb4; height:36px; width:92%; padding:0 2% 0 2%; line-height:26px; margin:0 20px 0 0;}
#uclSearchControl_txtLastName{  border:1px solid #919fb4; height:36px; width:92%; padding:0 2% 0 2%; line-height:26px; margin:0 20px 0 0;}
#uclSearchControl_btnGo{ background: url(../DentalImages/search_btn.jpg) no-repeat left top; width:49px; height:39px; float:right; border:0px;}

#uclSearchControl_lnkSearchByLocation{background:url(../DentalImages/search_bg.jpg) repeat-x 0 0;  float:left; width:100%; height:36px; border:0px; line-height:35px; color:#FFF; font-weight:bold; text-align:center; margin:0 5px 0 5px; padding:3px 0 0 0; font-size:15px; text-decoration:none;}

table#search_name{ padding:10px 0 10px 0;}
table#search_name tr td{ padding:10px 0 10px 0;}
.pagination{ width:100%; float:left;  border-top:1px solid #ccc; border-bottom:1px solid #ccc; padding:10px 0 10px 0;}
.pagination .left_panel_list_div{ float:left;}
.pagination .right_panel_list_div{ float:right;}
.pagination .right_panel_list_div span{ float:left; padding:5px 0 0 10px;}
.table_listing{ width:100%; height:auto; float:left;}
.table_listing span{ float:left;}
.table_listing span.viewProfile{ float:right;}

.main_data{ float:left; width:100%; padding:10px 0 80px 0;}

/*...............search page end..........................*/




.paragraph{ padding:50px 0 0 10px;}
.paragraph p{ font-size:15px;}

.boxes_panel{ width:100%; height:auto; float:left; padding:10px 0 30px 0;}
.boxes_panel .mainBox{ width:40%; height:auto; float:left; padding:0 10px 0 10px;}
.top_heading{width:100%; height:34px; float:left; background:url(../DentalImages/heading_grey_bg.jpg) repeat-x 0 0; border:1px solid #d0d0d0; padding:4px 0 0 0; -moz-border-top-left-radius:5px; -moz-border-top-right-radius:5px; border-top-right-radius:5px; border-top-left-radius:5px;   }

.top_heading h2{ float:left; font-size:16px; padding:4px 0 0 10px; line-height:24px;}
.top_heading h2 span{ float:left; padding:0 0 0 10px; background:url(../DentalImages/small_icons.png) no-repeat left top; width:16px; height:22px;}
.list_panel{width:100%; height:auto; float:left; }
.list_panel ul{ margin:0px; padding:0px; list-style:none; clear:both; padding:10px 0 0 0; width:100%; border:1px solid #d0d0d0; border-bottom:0px;}
.list_panel ul li{ margin:0px; padding:0px; list-style:none; clear:both; padding:5px 0 10px 36px; background:url(../DentalImages/hand_icon.png) no-repeat 10px 6px; border-bottom:1px solid #d0d0d0; line-height:22px;}
.paragraph h3{ font-size:18px; color:#0691c5; padding-bottom:10px; padding-top:5px;}
.paragraph h3.blackfont{ font-size:18px; color:#333;}
.paragraph h3.bluefont{ font-size:17px; color:#17335c;}
.paragraph h3.bluefont{ font-size:17px; color:#17335c;}
.paragraph .contact_us h3{ font-size:18px; color:#0691c5; padding-bottom:10px; padding-top:5px;}
.paragraph .contact_us p{ font-size:14px; color:#666; line-height:14px; padding:0 0 6px 0;}
.paragraph .contact_us img{ padding:10px 0 0 0;}

.paragraph #accordion h3{ font-size:16px; font-style:italic;}
.paragraph #accordion h4{font-size:14px; color:#333; text-transform:inherit; }
.paragraph #accordion p{font-size:13px; color:#666; text-transform:inherit; }



.contact_form{ float:right; width:84%;  background-color:#b1bcce; margin:55px 0 20px 0; padding:2% 3% 3% 3%;}
.contact_form h4.heading{ float:left; margin:0px; padding:0px;  color:#17335d; padding:0 0 10px 0; font-size:18px; text-align:left; width:98%; text-transform:inherit; }
.contact_form h3 span.blue_color{ color:#17335d!important;}
ul.contact_form_list{ margin:0px; padding:0px; list-style:none; width:100%; padding:10px 0 0 0; float:left;}
ul.contact_form_list li{ margin:0px; padding:0px; list-style:none; padding:0 0 5px 0; float:left; width:100%;}
ul.contact_form_list li span.verification_text{ width:70%; float:left;}
ul.contact_form_list li span.verification_img{ width:30%; float:right;}
#lblSearchText{ font-size:14px; padding:20px 0 20px 0; float:left;}
.tblPagerPanel{ border-top:1px solid #d0d0d0; border-bottom:1px solid #d0d0d0;  color:#033}
.tblPagerPanel td{ padding:5px 0 5px 0;}
#ucPagerControl1_ddlPageSize{font-size:14px; padding:5px 5px 5px 5px;}
#ucPagerControl1_ddlPageNumber{font-size:14px; padding:5px 5px 5px 5px;}
#ucPagerControl1_lblPageSize{ padding:5px 5px 0 0; float:left;}
#ucPagerControl1_ddlPageSize{ float:left;}
#ucPagerControl1_Label1{ padding:5px 5px 0 10px; float:left;}
#ucPagerControl1_ddlPageNumber{ float:left;}
#ucPagerControl1_btnPrevious{ background-color:#d5dbe4; padding:8px 15px 8px 15px; font-size:14px; color:#17335c; font-size:14px;}
#ucPagerControl1_btnNext{ background-color:#d5dbe4; padding:8px 15px 8px 15px; font-size:14px; color:#17335c; font-size:14px;}
#GVProfile a{ color:#0691c5; }
#GVProfile_lblName_0{ font-size:14px;}
#GVProfile_lblName_0{ font-size:14px;}
#GVProfile_lblOffice_0{font-size:12px; color:#000}
#GVProfile_lblOfficeValue_0{color:#666}
#GVProfile_lblSpeciality_2{ color:#000}
.table_listing{ border-bottom:1px solid #d0d0d0; padding:10px 0 10px 0;}
.table_listing span{ padding:0 0 0 10px;}
.speciality{ float:left; padding:10px 0 0 20%;}
#GVProfile_lblName_2{ padding:10px 0 0 0;}
#GVProfile_lnkViewProfile_2{background:url(../DentalImages/view_profile_btn.jpg) no-repeat left top; width:116px; height:27px; float:right; margin:10px 0 0 0;}

.clear_div_space{ height:100px; clear:both;}

.main_content .information_panel{ width:100%; height:auto; padding:20px 0 0 0;}
.main_content .information_panel ul{ margin:0px; padding:0px; list-style:none; display:inline-block; margin:0 auto; text-align:center; padding:0 0 0 10px;}
.main_content .information_panel ul li{ margin:0px; padding:0px; list-style:none;  border:1px solid #0691c5; background-color:#efefef; padding:10px; display:inline-block; width:155px; margin:0 10px 15px 0;}
.main_content .information_panel ul li span { display:inline-block; text-align:center;}
.main_content .information_panel ul li span.imagepanel{ padding:0 0 20px 0; height:130px}
.main_content .information_panel ul li span{ clear:both; width:100%; display:block; font-size:12px; font-weight:bold; color:#17335c;}
.main_content .information_panel ul li.lastproduct{ margin:0px;}


@media only screen and (min-width: 768px) and (max-width: 960px) {
	
 .es-carousel ul li {
width:174px !important;
}

ul.search_dentist_listing li h2{ font-size:16px;}
ul.search_dentist_listing li.search_by_location a{ font-size:14px;}
 .main {
width:758px;
}
 #form1 .jqTransformSelectWrapper span {
 width: 140px !important;
}
#form1 .jqTransformSelectWrapper {
 width: 177px !important;
}
 #form1 .jqTransformSelectWrapper ul {
 width: 174px !important;
}
 .map iframe {
 height:304px;
 overflow: hidden;
 width:218px;
}
.main_footer{ width:100%;}
.website_link{ width:80%!important; height:auto; float:right;}
.contact_box{ width:40%; margin-right:10px;}
.large_button a{ font-size:24px; padding:0 0 0 3px;}
.panel_2{ width:26%;}

ul.alphabete li a{ width:auto; list-style:none; margin:0px; padding:0px; padding:5px 2px 0 2px ; float:left; text-align:center; text-decoration:none; float:left;}

.social_links{ clear:both;}

ul.alphabete{ width:63%;}

.footer_top_panel{ height:auto; padding:0 0 20px 0;}
.footer_top_panel .footer_nav{ width:100%; border-bottom:1px solid #7b889d; }
.footer_top_panel .footer_nav ul { margin:0 auto!important; float:none!important;}
.footer_top_panel .footer_nav ul li { display:inline-block!important; float:none!important;}
.footer_top_panel .footer_nav ul li a{ padding:0 39px;}
.footer_top_panel .social_links{ float:none; margin:0 auto!important; padding:0 0 10px 0; width:64%;}
.social_links_panel{ float:left;}
.main_content{ width:100%;}

header h1#logo a { margin:5px 0 0 10px;}
.breadcrum{ padding:10px 0 0 10px;}
nav{ margin:0 0 0 10px;}
.inputbox_textarea{ height:240px;}
.footer_top_panel .footer_nav ul li a{ padding:10px 30px!important}
.footer_top_panel .social_links{width:68%}

.footer_top_panel .footer_nav ul{ float:none;} 
.footer_top_panel .footer_nav ul li{ display:inline-block; text-align:center; padding:0px;}
.new_patient_signup h3.newpatient{ font-size:18px;}
.panel_1{ width:14%;}
.panel_2{ width:26%;}
.panel_3{ width:26%;}
.panel_4{ width:7%;}
.panel_10{ width:7%;}
.panel_5{ width:19%;}
.inputbox_search{ width:95%; height:33px; float:left; border:0px;  background-color:#4d6d9c; line-height:20px; color:#c5cddb; text-indent:5px; font-size:16px; }

.left_teeth_panel{ width:100%;}
.right_teeth_panel{ width:100%;}



}


@media only screen and (max-device-width: 1024px) and (orientation:portrait) {
.inputbox_signup { width:95%; }
.inputbox_search{ width:95%;}
ul.search_dentist_listing{ width:100%;}
ul.search_dentist_listing li{ padding:0 5px 0 5px; width:auto; }
.panel_5{ width:21%; float:left;}
.panel_4{ width:6%; float:left; margin-right:5px;}
.panel_6{ width:20%!important; float:left; margin-right:5px!important;}
.panel_7{ width:15%!important; float:left; margin-right:5px!important;}
.panel_8{ width:15%!important; float:left; margin-right:5px!important;}
.panel_9{ width:14%!important; float:left; margin-right:5px!important;}
.panel_10{ width:6%!important; float:left; margin-right:5px;}
ul.search_dentist_listing li.search_by_location a{ float:right;}
ul#form_info li input.month{ width:3%; }
ul#form_info li input.date{width:2%;}
ul#form_info li input.year{ width:8%;}
ul#form_info li span{10px 2px 5px 0!important; }
ul#form_info li input.date_input{width:18%;}
.inputbox_signup_info{ width:90%;}
.checkbox_listing span{ width:25%;}
.clear_div_height{ height:250px;}


}

@media only screen and (max-device-width: 1024px) and (orientation:landscape) {
.inputbox_signup { width:95%; }
.inputbox_search{ width:95%;}
ul#form_info li input.month{ width:4%; }
ul#form_info li input.date{width:6%;}
ul#form_info li input.year{ width:11%;}
.clear_div_height{ height:30px;}
ul.search_dentist_listing{ width:100%;  }
ul.search_dentist_listing li{ padding:0 5px 0 5px; width:auto; }
.panel_2{ width:28%!important; float:left;}
.panel_3{ width:27%!important; float:left; margin-right:5px;}
.panel_5{ width:21%; float:left;}
.panel_4{ width:6%; float:left; margin-right:5px;}
.panel_6{ width:16%!important; float:left; margin-right:5px!important;}
.panel_7{ width:18%!important; float:left; margin-right:5px!important;}
.panel_8{ width:17%!important; float:left; margin-right:5px!important;}
.panel_9{ width:14%!important; float:left; margin-right:5px!important;}
.panel_10{ width:6%!important; float:left; margin-right:5px;}



}


@media only screen and (max-width: 767px) {
	
.footer_top_panel{ height:auto; padding:0 0 20px 0;}
.footer_top_panel .footer_nav{ width:100%; border-bottom:1px solid #7b889d; }
.footer_top_panel .footer_nav ul li a{ padding:0 39px;}
.footer_top_panel .social_links{ float:none; margin:0 auto!important; padding:0 0 10px 0; width:64%;}
.social_links_panel{ float:left;}
.main_content{ width:100%;}
.main{ width:100%;}	
.sf-menu{ width:200px; top:57px;}	
.sf-menu > li > a{ padding:10px; width:90%}
.sf-menu > li > a{ padding:10px; width:90%}


header h1#logo a { margin:5px 0 0 10px;}
.breadcrum{ padding:10px 0 0 10px; width:80%;}
nav{ margin:0 0 0 0;}
.inputbox_textarea{ height:200px;}

.footer_top_panel .social_links{width:68%}

.website_link{ width:73%;}
.large_button{ width:90%; height:auto; font-size:20px;}
.large_button a{ font-size:20px;}

.find_dentist .top_panel_dentist{ width:100%; height:auto; float:left; background-color:#17335c;  -moz-border-radius:5px; border-radius: 5px;}
ul.search_dentist_listing{ margin:0px; padding:0px; list-style:none; width:100%; padding:10px 0 0 0; clear:both;}
ul.search_dentist_listing li{ margin:0px; padding:0px; list-style:none; padding:0 2% 2px 2%; clear:both; width:96%;}
ul.search_dentist_listing li.panel_4{ width:8%!important; float:left!important; clear:none;} 
ul.search_dentist_listing li.panel_10{ width:8%!important; float:left!important; clear:none;} 
ul.search_dentist_listing li.panel_5{ width:82%!important; float:right!important; clear:none; margin:0 2% 0 0 ;}
ul.search_dentist_listing li.panel_11{ width:82%!important; float:right!important; clear:none; margin:0 2% 0 0 ;}
ul.search_dentist_listing li h2{ padding:5px 0 10px 5px; line-height:20px;}
ul.search_dentist_listing li span.verification_text{ width:70%; float:left;}
ul.search_dentist_listing li span.verification_img{ width:30%; float:right;}
ul.search_dentist_listing li .button_panel_search{ background: url(../DentalImages/search_btn.jpg) no-repeat left top; width:49px; height:39px; float:left; border:0px;}
.find_dentist .bottom_panel_dentist{ width:80%;}
ul.alphabete{ width:100%; padding:0 0 20px 0;}
ul.alphabete li a{ padding:0 4px 0 4px;}
.bottom_panel_dentist .text_heading{ width:163px; float:none; margin:0 auto;}
.main_footer{ width:100%;}

.footer_top_panel .footer_nav{ width:100%; border-bottom:1px solid #7b889d; }
.footer_top_panel .footer_nav ul li a{ padding:0;}
.footer_top_panel .social_links{ float:none; margin:0 auto!important; padding:0 0 10px 0; width:64%;}

.sf-menu_3{ display:block;}
.left_teeth_panel{ width:100%;}
.right_teeth_panel{ width:100%;}
.patient_login_box .content_area{ padding:20px 5%; width:90%;}


.sign_in{ width:65%;}
.sign_in .input_border{ width:35%;}
.sign_in .submit_btn{ float:left; margin-left:5px;}
.new_patient_signup_mydental{ width:90%; float:none;  background-color:#b1bcce;  margin:0 auto;}
.new_patient_signup{ background-color:#b1bcce; padding-bottom:20px;}
.main_content .information_panel ul li{ width:157px;}

}
@media only screen and (min-width: 480px) and (max-width: 767px) {
.large_button{ width:90%; height:auto; font-size:20px;}	
.large_button a{ font-size:20px;}
.footer_top_panel{ height:auto; padding:0 0 20px 0;}
.footer_top_panel .footer_nav{ width:100%; border-bottom:1px solid #7b889d; }
.footer_top_panel .footer_nav ul li a{ padding:0px;}
.footer_top_panel .social_links{ float:none; margin:0 auto!important; padding:0 0 10px 0; width:64%;}
.footer_top_panel .footer_nav{ width:100%; border-bottom:1px solid #7b889d; }
.footer_top_panel .footer_nav ul { margin:0 auto!important; float:none!important;}
.footer_top_panel .footer_nav ul li { display:inline-block!important; float:none!important;}
.footer_top_panel .footer_nav ul li a{ padding:0 9px;}
.followus{ margin:0 auto; float:none;}
.footer_top_panel .social_links{ margin:0 auto; width:100%; float:left;}
.social_links_panel{ margin:0 auto; float:none; display:inline-block;}
.sf-menu{ left:0;
        right:0;
        margin-left:auto;
        margin-right:auto;}
		
.public_profile_data .public_profile_main .social_panel{ clear:both; float:left; width:100%;}
.public_profile_data .public_profile_main .description{ width:50%;}
.website_link{ float:left; padding:10px 0 0 0;}
.phone_no2{ float:left;}
.profile_listing .grid_3_updated{ width:100%; float:left;}
.profile_listing .grid_3_updated{ padding:0px; width:100%;}
.profile_listing h3{ background: url(../DentalImages/line_320_listing.jpg) repeat-x left bottom; padding:10px 0 10px 10px;}
.profile_listing .grid_7_updated{ width:98%; padding:10px 0 10px 10px;}		
		
		
.container_16{ width:98%;}
.list_numbering{ margin:15px 0 0 0;}		
.button { font-size:22px; display:block; padding:5px 0 5px 0;}		


#form_right{  border:0px;}
.sf-menu_3{ display:none;}	

#menu-icon2{ font-size:14px; color:#fff;   background:#fff url(../DentalImages/selected_iphone_img.png) no-repeat right 0;  height:28px; float:left; display:block; width:88%; padding:8px 10% 0 3%; text-align:left;}

.main_content .grid_4{ margin:0px;}
#patientform_listing{ padding-bottom:0px;}
#patientform_listing .listing_payment ul li { font-size:14px; color:#17335d;    float:left; width:98%;   background:url(../DentalImages/patient_line_img.jpg) repeat-x 0 bottom; width:100%;  }
#patientform_listing .listing_payment{ width:98%;}
ul.information_panel{20px 0 55px 10px !important;}
.checkbox_label{ height:100px}
ul#form_info li input.month{ width:6%;}
ul#form_info li input.date{width:6%;}
ul#form_info li input.year{ width:12%;}
ul#form_info li span{ padding:6px 2px 5px 0;}
ul#form_info li label{ width:30%}
ul#form_info li label{ width:30%}
.left_div_form{ width:32%!important}
.input_box_forms{ width:60%;}
#login_panel{ width:390px; height:auto; margin:0 auto; padding:70px 0 0 0;}	
ul.infomation_list li{ width:100%;}

.checkbox_listing span{ width:30%;}
.left_teeth_panel{ width:100%;}
.right_teeth_panel{ width:100%;}
.input_border_login{ width:37%;}
h2.patient_login_heading{ width:100%;}
.input_border_login{ padding:6px 5% 0 5%; width:85%}
.patient_login_box .content_area{ width:90%;}
.input_border_login_2{ padding:6px 5% 0 5%; width:85%}
.input_border_login{ margin-left:0px;}
.panel_6{ width:100%!important; float:left; margin-right:0px!important;}
.panel_7{ width:100%!important; float:left; margin-right:0px!important;}
.panel_8{ width:100%!important; float:left; margin-right:0px!important;}
.panel_9{ width:100%!important; float:left; margin-right:0px!important;}
.panel_10{ width:53%!important; float:left; margin-right:0px!important;}
ul.search_dentist_listing li.panel_11{ width:80%!important; margin-right:8px!important;}
ul.search_dentist_listing li.panel_5{ width:80%!important; margin-right:5px!important;}
ul.search_dentist_listing li{width:100%!important; padding:0px 5px 3px 5px;}
ul.search_dentist_listing{ padding:0px; width:99%!important}
ul.patient_listing li{ width:96%;}
.sign_in .input_border{ width:34%;}
}




@media only screen and (min-width: 320px) and (max-width: 479px) {
.large_button{ width:90%; height:auto; font-size:20px;}	
.large_button a{ font-size:20px;}
.footer_top_panel{ height:auto; padding:0 0 20px 0;}
.footer_top_panel .footer_nav{ width:100%; border-bottom:1px solid #7b889d; }
.footer_top_panel .footer_nav ul li a{ padding:0px; font-size:16px;}
.footer_top_panel .social_links{ float:none; margin:0 auto!important; padding:0 0 10px 0; width:64%;}
.footer_top_panel .footer_nav{ width:100%; border-bottom:1px solid #7b889d; }
.footer_top_panel .footer_nav ul { margin:0 auto!important; float:none!important;}
.footer_top_panel .footer_nav ul li { clear:both; background: url(../DentalImages/footer_line.png)repeat-x left bottom; float:none; text-align:center;}
.footer_top_panel .footer_nav ul li a{ padding:0 10px; text-align:center; float:none; clear:both;}
.followus{ margin:0 auto; float:none; clear:both;}
.footer_top_panel .social_links{ margin:0 auto; width:100%;}
.social_links_panel{ margin:0 auto; float:none; display:inline-block;}

.social_links_panel span{ float:none; display:inline-block;}
.social_links_panel span a.facebook{ float:none; display:inline-block; }
.social_links_panel span a.Twiiter{ float:none; display:inline-block;}
.social_links_panel span a.LinkedIn{ float:none; display:inline-block;}
.social_links_panel span a.Blog{ float:none; display:inline-block;}
.social_links_panel span a.youTube{ float:none; display:inline-block;}
.social_links_panel span a.GPlus{ float:none; display:inline-block;}
.social_links_panel span a.vimedo{ float:none; display:inline-block;}
.social_links_panel span a.pinterest{ float:none; display:inline-block;}

.large_button a{ background: url(../DentalImages/footer_line_2.jpg) repeat-x left top; height:57px; width:96%; padding:10px 2% 0 2%; line-height:22px; }
ul.search_dentist_listing li h2{ text-align:center; padding:0 0 10px 0;}

.header_panel{ height:auto; height:100px; float:left; width:100%;}
header h1{ clear:both; float:none; margin:0 auto; width:170px;}
header h1#logo a{ float:left;  text-align:center; height:75px; }
ul.nav_header{ float:none; clear:both; display:inline-block; text-align:center; width:100%;}
ul.nav_header li{ float:none; display:inline-block; }
ul.nav_header li a{ display:inline-block; text-align:center; }
.breadcrum{ float:none; clear:both; padding:0px; margin:40px 0 0 0; width:100%; text-align:center;}
.breadcrum .icon_home{ display:none;}
ul.nav_header li { border:none;}
ul.nav_header li.add_border{  border-left:1px solid #bfbebf;}
.public_profile_data .public_profile_main .social_panel{ clear:both; float:left; width:100%;}
.public_profile_data .public_profile_main .description{ width:53%;}
.website_link{ float:left; padding:10px 0 0 0;}
.phone_no2{ float:left; font-size:16px;}
.phone_no2 span a{ color:#fff!important;}
.profile_listing .grid_3_updated{ width:100%; float:left;}
.profile_listing .grid_3_updated{ padding:0px; width:100%;}
.profile_listing h3{ background: url(../DentalImages/line_320_listing.jpg) repeat-x left bottom; padding:10px 0 10px 10px;}
.profile_listing .grid_7_updated{ width:93%; padding:10px 0 10px 10px;}

nav{ margin:0 0 0 0;}
.contact_box{ width:85%!important;}
.sf-menu{ left:0;
        right:0;
        margin-left:auto;
        margin-right:auto; background:#ddd;}
		
.contact_box h6{ font-size:16px;}
.contact_box p{ font-size:13px;}
.bullet_lisiting ul li{ font-size:13px;}
.public_profile_data{ font-size:13px;}	
.list_numbering{ width:40%;}
ul.patient_listing { width:94%;}
.button { font-size:22px; display:block; padding:5px 0 5px 0;}
.public_profile_data .public_profile_main .description h2{ font-size:20px;}
.main_content{ margin-top:82px;}
.list_numbering{ margin:20px 0 0 0;}

ul#form_info li { padding:0 0 15px 0;}
ul#form_info li label{ width:98%; clear:both; display:block;}
.input_box_forms{ width:95%;}
ul#form_info li input{ margin:0 0 5px 0;}
.label_button{ font-size:1px; line-height:1px!important; margin:0px; padding:0px; }

#form_right{  border:0px;}
ul#form_info li input{ margin:0 6px 0 0;}
ul#form_info li input.month{ width:8%;}
ul#form_info li input.year{ width:16%;}
ul#form_info li span{ padding:10px 4px 5px 0;}
#menu-icon2{ font-size:14px; color:#fff;   background:#fff url(../DentalImages/selected_iphone_img.png) no-repeat right 0;  height:28px; float:left; display:block; width:87%; padding:8px 10% 0 4%; text-align:left; line-height:22px;}



#patientform_listing{ width:97%;}

#patientform_listing{ padding-bottom:0px;}

.main_content .grid_4{ margin:0px;}
.sf-menu_3{ display:none;}



ul.information_panel{  background:#e4e4e4 url(../DentalImages/aero_up.png) no-repeat left 0; padding:20px 5% 0 10px!important; display:block; float:left; width:92%; margin-bottom:20px;}
ul#form_info li{ padding:0 0 10px 0;}
ul#form_info li input.date_input{ width:35%;}

.tab-container{ padding-bottom:0px;}
.tab-container h2.form_heading{ padding:10px 0 10px 0; font-size:18px; float:left; width:100%;}
.container_16 .grid_12{ padding:0 0 0 0; margin-bottom:0px!important;}
#form_right .form_container{ padding-bottom:0px;}
ul#form_info li label{width:100%; line-height:16px; float:left; padding:0 0 3px 0; }


ul#form_info li span label{width:40%; float:left; font-size:12px; }


.checkbox_label{ height:auto;}
.left_div_form{ width:100%!important;}
.left_panel_head h2{ font-size:16px;}
.right_div_form label{ width:40%!important; font-size:12px; padding:0 0 10px 0!important;}
.right_div_form{ width:100%!important; float:left;}

ul#form_info li input.normal_input{ width:32%; float:left;}
ul#form_info li input.date_input{ width:32%; float:left;}
.input_box_textarea{ width:90%;}
.checkbox_label_large{ height:auto;}
.list_menu_forms{ width:50%;}
ul#form_info li input.date{width:7%;}

#patientform_listing{ width:95%; height:auto; float:left; padding:20px 0 20px 0; height:30px; }
#patientform_listing .listing_payment{ width:95%; height:auto; float:left; background:#b1bcce url(../DentalImages/patient_formbg.jpg) repeat-y 0 0; position:absolute; z-index:1;}
#patientform_listing .listing_payment ul{ margin:0px; padding:0px; list-style:none; clear:both; width:100%; padding:10px 0 0 0;}


ul#form_info li span.clear_div label { clear:none!important; width:30%!important; float:left!important;}

#login_panel{ width:310px; height:auto; margin:0 auto; padding:70px 0 0 0;}	


ul.infomation_list li{ width:100%;}
#default-titles .current-step div{ width:100px;}
.stepy-titles div{width:100px;}
.checkbox_listing span{ width:100%;}

.left_teeth_panel{ width:100%;}
.right_teeth_panel{ width:100%;}
.right_teeth{ display:inline-block; float:none;}
.left_teeth{ display:inline-block; float:none;}
h2.patient_login_heading{ width:100%;}
.input_border_login{ padding:6px 5% 0 5%; width:85%}
.patient_login_box .content_area{ width:90%;}
.input_border_login_2{ padding:6px 5% 0 5%; width:85%}
.input_border_login{ margin-left:0px;}
h2.patient_login_heading{ font-size:18px;}
.panel_6{ width:95%!important; float:left; margin-right:0px!important;}
.panel_7{ width:95%!important; float:left; margin-right:0px!important;}
.panel_8{ width:95%!important; float:left; margin-right:0px!important;}
.panel_9{ width:95%!important; float:left; margin-right:0px!important;}
.panel_10{ width:53%!important; float:left; margin-right:0px!important;}
ul.search_dentist_listing li.panel_11{ width:75%!important; margin-right:3px!important;}
ul.search_dentist_listing li.panel_5{ width:75%!important; margin-right:3px!important;}
ul.search_dentist_listing li{width:95%!important;}

header h1#logo_dental{ width:198px;}
header h1#logo_dental a{ width:100%;}

.sign_in{ width:94%!important; padding:0 2%  0 2%;   margin-top:20px; float:left;}
.sign_in .input_border{ width:98%; margin-left:0px;}
.sign_in .submit_btn{  margin-left:5px; float:none; display:inherit; width:100px; margin:0 auto;}

.header_dental{ height:200px!important;}
.main_content .information_panel ul li{ width:80%;}
#find_Dental .heading h1{ height:auto; font-size:23px; padding:10px 0 10px 0;}
ul.patient_listing{ width:100%;}
}
















/* Project specifics =========================================================== */
