.tool-container {
	background-color: #fff;	
	border-radius: 3px;
	box-shadow: 0px 0px 8px #dbdbdb;
	position: absolute;		
	width:130px;	
	margin-left:-50px;	
	margin-top:5px;	
	padding:10px;
}

.tool-container.tool-top, .tool-container.tool-bottom {	
	border-bottom: 1px solid #beb8b8 ; /* #B1A9A9 */
}

.tool-items {
	height: 100%;	
}
.tool-left .tool-item, .tool-right .tool-item {	
	border-top: 1px solid #e2dfdf;
	border-bottom: 1px solid #9f9898;
}

.tool-item {	
	color:#666666;
	font-size:12px;
	line-height:16px;
	display:block;
	padding:5px 10px 5px 25px;
}
.tool-item:hover{color:#0691C5;}
.tool-container .arrow {
	width:0;
	height:0;
	position: absolute;	
	border-width:7px;
	border-style:solid;
}
.tool-container.tool-bottom .arrow {
	border-color:transparent transparent #fff; 
	left: 80%!important;  
	top: -14px;
	margin-left: -7px;
}

/* Quick Links Styling */

.tool-container.quick_links{width:340px; margin-left:-165px;}
.tool-container.quick_links .arrow{left:93%!important;}
.tool-container.quick_links ul li{display:inline-block; *display:inline; width:48%; margin-left:10px;}
.tool-container.quick_links ul li:first-child{margin-left:0;}
.tool-container.quick_links ul li h2.title{padding-bottom:0; text-transform:uppercase; margin-bottom:5px; border-width:1px;}
.tool-container.quick_links ul li h2.title a{padding-left:0; color:#0691C5}
.tool-container.quick_links ul li h2.title a:hover{text-decoration:none;}
.tool-container.quick_links ul li a{line-height:12px;}
.tool-container.quick_links ul li a+h2.title{margin-top:5px;}
.tool-container.quick_links a{display:block; padding-right:0;} /*170*/

a.my_accnt{background:url(../images/patient-history/my_account.png) 6px center no-repeat;}
a.edit_profile{background:url(../images/patient-history/edit_profile.png) 6px center no-repeat;}
a.accnt_settings{background:url(../images/patient-history/settings_accnt.png)6px center no-repeat;}
a.accnt_help{background:url(../images/patient-history/accnt_help.png)6px center no-repeat;}
a.accnt_logout{background:url(../images/patient-history/accnt_logout.png)6px center no-repeat;}
a.openinbox{background:url(../images/patient-history/openinbox.png)6px center no-repeat;}
a.sendmessage{background:url(../images/patient-history/sendmessage.png)6px center no-repeat;}
a.updateforms{background:url(../images/patient-history/updateforms.png)6px center no-repeat;}
a.printeforms{background:url(../images/patient-history/printeforms.png)6px center no-repeat;}
a.viewtreating{background:url(../images/patient-history/viewtreating.png)6px center no-repeat;}
a.addtreating{background:url(../images/patient-history/addtreating.png)3px center no-repeat;}
a.senddoc_message{background:url(../images/patient-history/senddoc_message.png)6px center no-repeat;}
a.senddoc_referral{background:url(../images/patient-history/senddoc_referral.png)6px center no-repeat;}
a.view_myfiles{background:url(../images/patient-history/view_myfiles.png)6px center no-repeat;}
a.dwnld_files{background:url(../images/patient-history/dwnld_files.png)6px center no-repeat;}
a.upld_files{background:url(../images/patient-history/upld_files.png)6px center no-repeat;}

a.logout{background:url(../images/patient-history/logout.png) #0991c5 6px center no-repeat; color:#fff;}
a.logout:hover{color:#fff;}