﻿@model List<BO.ViewModel.AppointmentReportModel>

@try
{
    if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr id="Select_@item.PatientId" style="cursor:pointer" onclick="SelectPatient('@item.PatientId')">
                
                <td data-th="First Name">@item.PatientFirstName</td>
                <td data-th="Last Name">@item.PatientLastName</td>
                <td data-th="DOB">
                    @if (!string.IsNullOrEmpty(item.PatientDOB))
                    {
                        @item.PatientDOB.Split(' ')[0]
                    }
                </td>
                <td data-th="Email">
                @if(Common.checkEmailDomain(item.Email))
                {
                    <a href="mailto:@item.Email">@item.Email</a>
                }</td>
                <td data-th="Phone">@item.Phone</td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="6">
                <center> <span>No records found </span></center>
            </td>
        </tr>
    }
}
catch (Exception Ex)
{
    <tr>
        <td colspan="6">
            @Html.Partial("_PartialError")
        </td>
    </tr>
    Common.LogError(Ex);
}



