﻿@model List<BO.ViewModel.SpecialityMaster>

@try
{
    <div class="sliding-inputs-div referred-by">
        @foreach (var item in Model)
        {
            if (item.Speciality_IsEnable == true)
            {
                if (item.Speciality_Name != "Medical History" && item.Speciality_Name != "Dental History" && item.Speciality_Name != "Insurance Coverage" && item.Speciality_Name != "Personal Information")
                {
                    var count = 0;
                    <div class="row" id="@item.Speciality_Name.Replace(' ','_')@Html.Raw("Div")">
                        <h3>@item.Speciality_Name</h3>
                    </div>
                    <div class="row">
                        <div class="referred-form-sec row">
                            @if (item.lstServices.Count > 0)
                            {
                                foreach (var service in item.lstServices)
                                {
                                    if (service.Service_IsEnable == true)
                                    {
                                        count++;
                                        <div class="col-12 col-md-6">
                                            <div class="form-group clearfix">
                                                <label for="@service.Service_Name" class="Extract-Slide">@service.Service_Name</label>
                                                <div class="Extract-Slide-show btn_inner">
                                                    @Html.TextBoxFor(model => service.Service_Value, new { Name = service.Service_NameFor, @class = "form-control", @placeholder = "Tooth # and comments", @id = "@model._ServiceVal.txtExtract" })
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            }
                        </div>
                        @if (count == 0)
                        {
                            <script type="text/javascript">
                                $("#@item.Speciality_Name.Replace(' ', '_')@Html.Raw("Div")").hide();
                            </script>
                        }
                    </div>
                }
            }
        }
    </div>

}
catch (Exception Ex)
{
    <div class="sliding-inputs-div referred-by">
        <div class="row">
             @Html.Partial("_PartialError")

        </div>
    </div>
    Common.LogError(Ex);
}




