@model OneClickReferral.Models.Compose1Click
@try
{
    <div class="referred-by tabs_row clearfix" id="ContactInfoDiv">
        <div class="row">
            <h3>Add Patient</h3>
            <div class="referred-form-sec row">
                @if (Model._specialtyService.lstPatient != null && Model._specialtyService.lstPatient.Count > 0)
                {
                    foreach (var item in Model._specialtyService.lstPatient)
                    {
                        if (item.IsEnable)
                        {
                            @getAddPatientFields(item.ControlName);
                        }
                    }
                }

            </div>
        </div>
    </div>
    <br />
    foreach (var item in Model.lstSpecialityMaster)
    {
        if (item.Speciality_Name == "Personal Information")
        {
            if (item.lstServices != null && item.lstServices.Count > 0)
            {
                int displaysection = item.lstServices.ToList().Where(m => m.Service_IsEnable == true).Count();
                if (displaysection > 0)
                {
                    <div class="referred-by tabs_row clearfix" id="ContactInfoDiv">
                        <div class="row">
                            <h3>Contact Info</h3>
                            <div class="referred-form-sec row">
                                @foreach (var cnt in item.lstServices)
                                {
                                    if (cnt.Service_IsEnable)
                                    {
                                        @getContactInfoFields(cnt.Service_MapFieldName)
                                    }
                                }

                            </div>
                        </div>
                    </div>
                }
            }

        }
    }

}
catch (Exception Ex)
{
    <div class="referred-by tabs_row clearfix">
        <div class="row">
            <h3>Error</h3>
            @Html.Partial("_PartialError")
        </div>
    </div>
    Common.LogError(Ex);
}



<!--Render add patient field ****** START ****** -->

@helper getAddPatientFields(string objKey)
{
switch (objKey)
{

    case "FirstName":
            <div class="col-sm-6">
                <label for="First Name">First Name<span style="color:red">*</span></label>
                @Html.TextBoxFor(model => model._patientInfo.FirstName, new { @placeholder = "First Name", @id = "txtFirstName", @class = "alphaonly" })
                @Html.ValidationMessageFor(model => model._patientInfo.FirstName)
            </div>
        break;
    case "LastName":
            <div class="col-sm-6">
                <label for="First Name">Last Name</label>
                @Html.TextBoxFor(model => model._patientInfo.LastName, new { @placeholder = "Last Name", @class = "alphaonly", @id = "txtLastName" })
                @Html.ValidationMessageFor(model => model._patientInfo.LastName)
            </div>
        break;
    case "PatientEmail":
            <div class="col-sm-6">
                <label for="First Name">Email</label>
                @Html.TextBoxFor(model => model._patientInfo.Email, new { @placeholder = "Email", @id = "txtEmail" })
                @Html.ValidationMessageFor(model => model._patientInfo.Email)
            </div>
        break;
    case "PatientPhone":
            <div class="col-sm-6">
                <label for="Phone">Phone<span style="color:red">*</span></label>
                @Html.TextBoxFor(model => model._patientInfo.Phone, new { @placeholder = "Phone", @id = "phone" })
                @Html.ValidationMessageFor(model => model._patientInfo.Phone)
            </div>
        break;
    case "DateofBirth":
            <div class="col-sm-6">
                <label for="text">Date of Birth</label>
                @Html.TextBoxFor(model => model._contactInfo.BOD, new { @placeholder = "MM/DD/YYYY", id = "dateofbirth" })
                @Html.ValidationMessageFor(model => model._contactInfo.BOD)
            </div>
        break;
    default:
        break;
}
}
<!--Render add patient field ****** END ****** -->
<!--Render Contact Info field ****** START ****** -->

@helper getContactInfoFields(string objKey)
{

switch (objKey)
{

    case "txtGender": // Gender 
            <div class="col-sm-6" style="margin-bottom: 20px !important;">
                <label for="text">Gender</label>
                <div class="form-group zip_city zip select_box">
                    @Html.DropDownListFor(model => model._contactInfo.Gender, new List<SelectListItem> { new SelectListItem { Text = "Male", Value = "0" }, new SelectListItem { Text = "Female", Value = "1" } }, new { @class = "select_item", @id = "Gender" })
                </div>
            </div>
        break;
    case "Date Of Birth":
            <div class="col-sm-6" style="margin-bottom: 20px !important;">
                <label for="text">Date of Birth</label>
                @Html.TextBoxFor(model => model._contactInfo.BOD, new { @placeholder = "MM/DD/YYYY", id = "dateofbirth" })
                @Html.ValidationMessageFor(model => model._contactInfo.BOD)
            </div>
        break;
    case "txtResidenceStreet": //Address
            <div class="col-sm-6" style="margin-bottom: 20px !important;">
                <label for="Address">Address</label>
                @Html.TextBoxFor(model => model._contactInfo.Address, new { @placeholder = "Address", @id = "contactInfo_Address" })
            </div>
        break;
    case "txtCity": // City
            <div class="col-sm-6" style="margin-bottom: 20px !important;">
                <label for="City">City</label>
                @Html.TextBoxFor(model => model._contactInfo.City, new { @placeholder = "City", @class = "alphaonly", @id = "City" })
            </div>
        break;
    case "txtState": // State
            <div class="col-sm-6 select_box" style="margin-bottom: 20px !important;">
                <label for="State">State</label>
                <div class="form-group zip_city zip select_box">
                    @Html.DropDownListFor(m => m._contactInfo.State, new SelectList(Model.StateList, "StateCode", "StateName"), "Select State", new { @class = "select_item", @id = "State" })
                </div>
            </div>
        break;
    case "txtZip": // Zip
            <div class="col-sm-6" style="margin-bottom: 20px !important;">
                <label for="Zip">Zip</label>
                @Html.TextBoxFor(model => model._contactInfo.ZipCode, new { @placeholder = "Zip", @class = "numericOnly", maxlength = 6, @id = "Zip" })
                @Html.ValidationMessageFor(model => model._contactInfo.ZipCode)
            </div>
        break;
    case "txtWorkPhone": // Secondary Phone Number
            <div class="col-sm-6" style="margin-bottom: 20px !important;">
                <label for="Secondary Phone No">Secondary Phone No.</label>
                @Html.TextBoxFor(model => model._contactInfo.SecondaryPhoneNo, new { @placeholder = "Secondary Phone No", @id = "SecondaryPhone" })
                @Html.ValidationMessageFor(model => model._contactInfo.SecondaryPhoneNo)
            </div>
        break;
    case "txtemergencyname": // Emergency Contact Name
            <div class="col-sm-6" style="margin-bottom: 20px !important;">
                <label for="Emergency Contact Name">Emergency Contact Name</label>
                @Html.TextBoxFor(model => model._contactInfo.EMGContactName, new { @placeholder = "Emergency Contact Name", @id = "EMGContactName" })

            </div>
        break;
    case "txtemergency": // Emergency Contact Phone Number
            <div class="col-sm-6" style="margin-bottom: 20px !important;">
                <label for="Emergency Phone No">Emergency Phone No.</label>
                @Html.TextBoxFor(model => model._contactInfo.EMGContactNo, new
           {
               @placeholder = "Emergency Phone No",
               @id = "EmergencyPhone"
           })
                @Html.ValidationMessageFor(model => model._contactInfo.EMGContactNo)
            </div>
        break;
    default:
        break;
}
}
<!--Render Contact Info field ****** END ****** -->
