﻿@model OneClickReferral.Models.Compose1Click
@using OneClickReferral.Helpers;

@{
    int? DentalHistory = Convert.ToInt32(Specialty.DentalHistory);
}
@try
{
    int Count = 0;
    if (Model._specialtyService.DHIsEnable == true)
    {
        <div class="referred-by clearfix" id="DetailId">
            <div class="row" id="DentalHistorydiv">
                <h3>Dental History</h3>
                <div id="PatientInfoDiv" class="itemDiv" data-id="1">

                    <div class="">
                        <div class="referred-form-sec row">
                            @if (Model != null && Model._innerService != null && Model._innerService.lstDentalInsurance != null)
                            {
                                <!-- For Field Display Query -->
                                var QueryResult = Model._innerService.lstDentalInsurance.Where(m => m.SpecialityId == DentalHistory && m.ParentFieldId == 0);
                                if (QueryResult != null)
                                {
                                    foreach (var Obj in QueryResult)
                                    {
                                        var SubQueryResult = Model._innerService.lstDentalInsurance.Where(m => m.SpecialityId == DentalHistory && m.ParentFieldId == Obj.Id && m.IsEnable);
                                        if (Obj.IsEnable)
                                        {
                                            if (SubQueryResult.Any())
                                            {
                                                @getDentalHistoryFields(Obj.MapFieldName, SubQueryResult.OrderBy(m => m.SortOrder).ToList(), true);
                                            }
                                            else
                                            {
                                                @getDentalHistoryFields(Obj.MapFieldName, null, false);
                                            }
                                            Count++;
                                        }
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    if (Count == 0)
    {
        <script>
            $("#DentalHistorydiv").css('display', 'none');
        </script>
    }

}
catch (Exception Ex)
{
    <div class="referred-by clearfix">
        <div class="row">
            <h3>Error</h3>
            @Html.Partial("_PartialError")
        </div>
    </div>
    Common.LogError(Ex);
}

@helper getDentalHistoryFields(string mapField, List<AddPatient> SubQuery, bool isSub)
{
    switch (mapField)
    {
        case "txtQue5":
            <div class="col-sm-12">
                <label for="Previous Dentist's Name">Previous Dentist's Name</label>
                @Html.TextBoxFor(model => model._dentalhistory.txtQue5, new { @placeholder = "Previous Dentist's Name" })
            </div>
            break;
        case "txtQue6":
            <div class="col-sm-12">
                <label for="When was the last time you had your teeth cleaned?">When was the last time you had your teeth cleaned?</label>
                @Html.TextBoxFor(model => model._dentalhistory.txtQue6, new { @placeholder = "When was the last time you had your teeth cleaned?" })
            </div>
            break;
        case "MrdQue7":
            <div class="col-sm-12 form-check">
                @Html.CheckBoxFor(model => model._dentalhistory.rdQue7a, new { @id = "rdQue7a" })
                <label for="rdQue7a">Do you make regular visits to the dentist?</label>
                <div class="panel_box Howoften" style="display: none;" id="div_rdQue7a">
                    <div class="form-group">
                        <label for="comment">How often</label>
                        @Html.TextAreaFor(model => model._dentalhistory.txtQue7, new { @placeholder = "Enter Text", @class = "form-control", @rows = "5" })
                    </div>
                </div>
            </div>
            break;
        case "txtQue12":
            <div class="col-sm-12">
                <label for="Please explain any problems or complications with previous dental treatment?">
                    Please explain any problems or complications with previous dental treatment?
                </label>
                @Html.TextBoxFor(model => model._dentalhistory.txtQue12, new { @placeholder = "Please explain any problems or complications with previous dental treatment?" })
            </div>
            break;
        case "DhQue5":
            <div class="col-sm-12 form-check" id="div_teethReplaced">
                @Html.CheckBoxFor(model => model._dentalhistory.DhQue5, new { @id = "DhQue5" })
                <label for="DhQue5">Have any of your teeth been replaced with the following?</label>
                @if (isSub)
                {
                    <div class="panel_box">
                        <div class="form-group">
                            @foreach (var item in SubQuery)
                            {
                                @getDentalHistorySubFields(item.MapFieldName);
                            }
                        </div>
                    </div>
                }
            </div>
            break;
        case "rdQue15":
            <div class="col-sm-12 form-check">
                @Html.CheckBoxFor(model => model._dentalhistory.rdQue15, new { @id = "rdQue15" })
                <label for="rdQue15">
                    Do you clench or grind your teeth?
                </label>
                @if (isSub)
                {
                    <div class="panel_box">
                        <div class="form-group">
                            @foreach (var item in SubQuery)
                            {
                                @getDentalHistorySubFields(item.MapFieldName);
                            }
                        </div>
                    </div>
                }
            </div>
            break;
        case "rdQue16":
            <div class="col-sm-6 form-check">
                @Html.CheckBoxFor(model => model._dentalhistory.rdQue16, new { @id = "rdQue16" })
                <label for="rdQue16">
                    Does your jaw click or pop?
                </label>

            </div>
            break;
        case "rdQue17":
            <div class="col-sm-12 form-check">
                @Html.CheckBoxFor(model => model._dentalhistory.rdQue17, new { @id = "rdQue17" })
                <label for="rdQue17">
                    Are you experiencing any pain or soreness in the muscles of your face?
                </label>

            </div>
            break;
        case "rdQue18":
            <div class="col-sm-12 form-check">
                @Html.CheckBoxFor(model => model._dentalhistory.rdQue18, new { @id = "rdQue18" })
                <label for="rdQue18">
                    Do you have frequent headaches, neckaches or shoulder aches?
                </label>

            </div>
            break;
        case "rdQue19":
            <div class="col-sm-12 form-check">
                @Html.CheckBoxFor(model => model._dentalhistory.rdQue19, new { @id = "rdQue19" })
                <label for="rdQue19">
                    Does food get caught in your teeth?
                </label>

            </div>
            break;
        case "rdQue20":
            <div class="col-sm-12 form-check" id="div_teethSenitive">
                @Html.CheckBoxFor(model => model._dentalhistory.rdQue20, new { @id = "rdQue20" })
                <label for="rdQue20">
                    Are any of your teeth sensitive to
                </label>
                @if (isSub)
                {
                    <div class="panel_box">
                        <div class="form-group">
                            @foreach (var item in SubQuery)
                            {
                                @getDentalHistorySubFields(item.MapFieldName);
                            }
                        </div>
                    </div>
                }
            </div>
            break;
        case "rdQue21":
            <div class="col-sm-12 form-check">
                @Html.CheckBoxFor(model => model._dentalhistory.rdQue21, new { @id = "rdQue21" })
                <label for="rdQue21"> Do your gums bleed or hurt?</label>
                <div class="panel_box When" style="display: none;" id="div_rdQue21">
                    <div class="form-group">
                        <label for="comment">When? </label>
                        @Html.TextAreaFor(model => model._dentalhistory.txtQue21a, new { @placeholder = "Enter Text", @class = "form-control", @rows = "5" })
                    </div>
                </div>
            </div>
            break;
        case "rdQue23":
            <div class="col-sm-12 form-check">
                @Html.CheckBoxFor(model => model._dentalhistory.rdQue23, new { @id = "rdQue23" })
                <label for="rdQue23">
                    How often do you brush your teeth?
                </label>

            </div>
            break;
        case "rdQue24":
            <div class="col-sm-12 form-check">
                @Html.CheckBoxFor(model => model._dentalhistory.rdQue24, new { @id = "rdQue24" })
                <label for="rdQue24">
                    How often do you use dental floss?
                </label>

            </div>
            break;
        case "rdQue25":
            <div class="col-sm-12 form-check">
                @Html.CheckBoxFor(model => model._dentalhistory.rdQue25, new { @id = "rdQue25" })
                <label for="rdQue25">
                    Are any of your teeth loose, tipped, shifted or chipped?
                </label>

            </div>
            break;
        case "rdQue28":
            <div class="col-sm-12 form-check">
                @Html.CheckBoxFor(model => model._dentalhistory.rdQue28, new { @id = "rdQue28" })
                <label for="rdQue28">
                    Do you feel your breath is often offensive?
                </label>

            </div>
            break;
        case "txtQue29":
            <div class="col-sm-12">
                <label for="Explain any orthodonic work you have had done?">
                    Explain any orthodonic work you have had done?
                </label>
                @Html.TextBoxFor(model => model._dentalhistory.txtQue29, new { @placeholder = "Explain any orthodonic work you have had done?", @class = "form-control", @rows = "5" })

            </div>
            break;
        case "txtQue30":
            <div class="col-sm-12">
                <label for="Explain any dental work you have had done (Perio, Oral Surgery, etc.)">
                    Explain any dental work you have had done(Perio, Oral Surgery, etc.)
                </label>
                @Html.TextBoxFor(model => model._dentalhistory.txtQue30, new { @placeholder = "Explain any dental work you have had done (Perio, Oral Surgery, etc.)" })

            </div>
            break;
        case "txtQue31":
            <div class="col-sm-12">
                <label for="How do you feel about your teeth in general?">
                    How do you feel about your teeth in general?
                </label>
                @Html.TextBoxFor(model => model._dentalhistory.txtQue31, new { @placeholder = "How do you feel about your teeth in general?" })
            </div>
            break;
        case "txtComments":
            <div class="col-sm-12">
                <label for="Additional Information">
                    Additional Information
                </label>
                @Html.TextBoxFor(model => model._dentalhistory.txtComments, new { @placeholder = "Additional Information" })
            </div>
            break;
        case "txtDateoffirstvisit":
            <div class="col-sm-12">
                <label for="Date of first visit">
                    Date of first visit
                </label>
                @Html.TextBoxFor(model => model._dentalhistory.firstvistdate, new { @placeholder = "M/D/YYYY", id = "firstvistdate", @class = "startDate" })
            </div>
            break;
        case "Reasonforfirstvisit":
            <div class="col-sm-12">
                <label for="Reason for first visit">
                    Reason for first visit
                </label>
                @Html.TextBoxFor(model => model._dentalhistory.Reasonforfirstvisit, new { @placeholder = "Reason for first visit" })
            </div>
            break;
        case "Dateoflastvisit":
            <div class="col-sm-12">
                <label for="Date of last (latest) visit">
                    Date of last (latest) visit
                </label>
                @Html.TextBoxFor(model => model._dentalhistory.Dateoflastvisit, new { @placeholder = "M/D/YYYY", @id = "Dateoflastvisit", @class = "endDate" })
            </div>
            break;
        case "Reasonforlastvisit":
            <div class="col-sm-12">
                <label for="Reason for last visit">
                    Reason for last visit
                </label>
                @Html.TextBoxFor(model => model._dentalhistory.Reasonforlastvisit, new { @placeholder = "Reason for last visit" })
            </div>
            break;
        case "Dateofnextvisit":
            <div class="col-sm-12">
                <label for="Date of next (scheduled visit)">
                    Date of next (scheduled visit)
                </label>
                @Html.TextBoxFor(model => model._dentalhistory.Dateofnextvisit, new { @placeholder = "M/D/YYYY", @id = "Dateofnextvisit" })
            </div>
            break;
        case "Reasonfornextvisit":
            <div class="col-sm-12">
                <label for="Reason for next visit">
                    Reason for next visit
                </label>
                @Html.TextBoxFor(model => model._dentalhistory.Reasonfornextvisit, new { @placeholder = "Reason for next visit" })
            </div>
            break;
        default:
            break;
    }
}

@helper getDentalHistorySubFields(string objKey)
{
    switch (objKey)
    {
        case "rdoQue11aFixedbridge":
            @Html.CheckBoxFor(model => model._dentalhistory.rdoQue11aFixedbridge, new { @id = "rdoQue11aFixedbridge" })
            <label for="rdoQue11aFixedbridge">
                Fixed bridge
            </label>
            break;
        case "rdoQue11bRemoveablebridge":
            @Html.CheckBoxFor(model => model._dentalhistory.rdoQue11bRemoveablebridge, new { @id = "rdoQue11bRemoveablebridge" })
            <label for="rdoQue11bRemoveablebridge">
                Removeable bridge
            </label>
            break;
        case "rdoQue11cDenture":
            @Html.CheckBoxFor(model => model._dentalhistory.rdoQue11cDenture, new { @id = "rdoQue11cDenture" })
            <label for="rdoQue11cDenture">
                Denture
            </label>
            break;
        case "rdQue11dImplant":
            @Html.CheckBoxFor(model => model._dentalhistory.rdQue11dImplant, new { @id = "rdQue11dImplant" })
            <label for="rdQue11dImplant">
                Implant
            </label>
            break;
        case "chkQue20_1":
            @Html.CheckBoxFor(model => model._dentalhistory.chkQue20_1, new { @id = "chkQue20_1" })
            <label for="chkQue20_1">
                Hot
            </label>
            break;
        case "chkQue20_2":
            @Html.CheckBoxFor(model => model._dentalhistory.chkQue20_2, new { @id = "chkQue20_2" })
            <label for="chkQue20_2">
                Cold
            </label>
            break;

        case "chkQue20_3":
            @Html.CheckBoxFor(model => model._dentalhistory.chkQue20_3, new { @id = "chkQue20_3" })
            <label for="chkQue20_3">
                Sweets
            </label>
            break;
        case "chkQue20_4":
            @Html.CheckBoxFor(model => model._dentalhistory.chkQue20_4, new { @id = "chkQue20_4" })
            <label for="chkQue20_4">
                Pressure
            </label>
            break;
        default:
            break;
    }
}

