﻿@model OneClickReferral.Models.Appointment
@{
    Layout = null;
}
@try
{
    <table id="tblappointment" class="table table-striped scroll">
        <thead>
            <tr>
                @*<th></th>*@
                <th>
                    First Name
                    @Html.TextBoxFor(t => t.Search_FirstName, new { @class = "form-control aptsearch" })
                </th>
                <th>
                    Last Name
                    @Html.TextBoxFor(t => t.Search_LastName, new { @class = "form-control aptsearch" })
                </th>
                <th>
                    DOB
                    @Html.TextBoxFor(t => t.Search_DOB, new { @class = "form-control aptsearch", @id = "Search_DOB" })
                </th>
                <th>
                    Email
                    @Html.TextBoxFor(t => t.Search_Email, new { @class = "form-control aptsearch" })
                </th>
                <th>
                    Phone
                    @Html.TextBoxFor(t => t.Search_Phone, new { @class = "form-control aptsearch" })
                </th>
            </tr>
        </thead>
        <tbody id="lstAppointment"></tbody>
    </table>
}
catch (Exception Ex)
{
    <table id="tblappointment" class="table table-striped scroll">
        <thead>
            <tr>
                @Html.Partial("_PartialError")
            </tr>
        </thead>
    </table>
    Common.LogError(Ex);
}

