﻿@model OneClickReferral.Models.Compose1Click
@using OneClickReferral.Helpers;

@{
    /**/
    int InsCount = 0;
    int? PerInfoVar = Convert.ToInt32(Specialty.InsuranceCoverage);
}

@try
{
    if (Model._specialtyService.ICIsEnable == true)
    {

        <div class="referred-by clearfix" id="InsuranceCoverageDiv">
            <div class="row">
                <div class="Insurance row">
                    <div class="col-lg-12">
                        <h3>Dental Insurance</h3>
                        @if (Model._innerService.MrdIsInsured)
                        {
                            <div id="itHasInsuraceData" style="display:none">
                                <div class="verify">Insurance Information Available</div>
                            </div>
                            <div id="itHasNotInsuranceData">
                                <div class="not-verify">Insurance Information not Available</div>
                            </div>
                        }
                    </div>
                </div>
                @Html.HiddenFor(m => m._insuranceCoverage.ItHasInsuranceData, new { @id = "hasInsuredData" })
                <div class="referred-form-sec row" id="DetailId">
                    <div id="AcinfoDiv" class="itemDiv" data-id="2">
                        @if (Model != null && Model._innerService != null && Model._innerService.lstDentalInsurance != null)
                        {
                            var PerInfo = Model._innerService.lstDentalInsurance.Where(m => m.SpecialityId == PerInfoVar);
                            if (PerInfo != null)
                            {
                                foreach (var item in PerInfo)
                                {
                                    if (item.IsEnable)
                                    {
                                        @getDentalInsuranceFields(item.MapFieldName);
                                        InsCount++;
                                    }
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    }
    if (InsCount == 0)
    {
        <script>
            $("#InsuranceCoverageDiv").css('display', 'none');
        </script>
    }
}
catch (Exception Ex)
{
    <div class="referred-by clearfix" id="InsuranceCoverageDiv">
        <div class="row">
            <h3>Error</h3>
            @Html.Partial("_PartialError")
        </div>
    </div>

    Common.LogError(Ex);
}



@helper getDentalInsuranceFields(string objKey) /* -- Insurance Coverage -- */
{
    /**/


    switch (objKey)
    {

        case "MrdEmployeeName1":
            <div class="col-sm-6">
                <label for="Insurance Company">Primary Insurance Company</label>
                @Html.TextBoxFor(model => model._insuranceCoverage.PrimaryInsuranceCompany, new { @class = "form-control", @placeholder = "Primary Insurance Company" })
            </div>
            break;
        case "MrdInsurancePhone1":
            <div class="col-sm-6">
                <label for="Insurance Company Phone">Primary Insurance Company Phone</label>
                @Html.TextBoxFor(model => model._insuranceCoverage.PrimaryInsurancePhone, new { @class = "form-control", @placeholder = "Primary Insurance Company Phone", @id = "PrimaryInsurancePhone" })
                @Html.ValidationMessageFor(model => model._insuranceCoverage.PrimaryInsurancePhone)
            </div>
            break;
        case "MrdEmployerName1":
            <div class="col-sm-6">
                <label for="Name of Insured">Primary Name of Insured</label>
                @Html.TextBoxFor(model => model._insuranceCoverage.PrimaryNameOfInsured, new { @class = "form-control", @placeholder = "Primary Name of Insured" })
            </div>
            break;
        case "MrdEmployeeDob1":
            <div class="col-sm-6">
                <label for="Date of Birth">Primary Date of Birth</label>
                @Html.TextBoxFor(model => model._insuranceCoverage.PrimaryDateOfBirth, new { @placeholder = "M/D/YYYY", @id = "PrimaryDateOfBirth", @class= "dateofbirth" })
            </div>
            break;
        case "MrdNameofInsurance1":
            <div class="col-sm-6">
                <label for="Member ID">Primary Member ID</label>
                @Html.TextBoxFor(model => model._insuranceCoverage.PrimaryMemberID, new { @class = "form-control", @placeholder = "Primary Member ID" })
            </div>
            break;
        case "MrdInsuranceTelephone1":
            <div class="col-sm-6">
                <label for="Group Number">Primary Group Number</label>
                @Html.TextBoxFor(model => model._insuranceCoverage.PrimaryGroupNumber, new { @class = "form-control", @placeholder = "Primary Group Number" })
            </div>
            break;
        case "MrdEmployeeName2":
            <div class="col-sm-6">
                <label for="Insurance Company">Secondary Insurance Company</label>
                @Html.TextBoxFor(model => model._insuranceCoverage.SecondaryInsuranceCompany, new { @class = "form-control", @placeholder = "Secondary Insurance Company" })
            </div>
            break;
        case "MrdInsurancePhone2":
            <div class="col-sm-6">
                <label for="Insurance Company Phone">Secondary Insurance Company Phone</label>
                @Html.TextBoxFor(model => model._insuranceCoverage.SecondaryInsurancePhone, new { @class = "form-control", @placeholder = "Secondary Insurance Company Phone", @id = "SecondaryInsurancePhone" })
                @Html.ValidationMessageFor(model => model._insuranceCoverage.SecondaryInsurancePhone)
            </div>
            break;
        case "MrdEmployerName2":
            <div class="col-sm-6">
                <label for="Name of Insured">Secondary Name of Insured</label>
                @Html.TextBoxFor(model => model._insuranceCoverage.SecondaryNameOfInsured, new { @class = "form-control", @placeholder = "Secondary Name of Insured" })
            </div>
            break;
        case "MrdYearsEmployed2":
            <div class="col-sm-6">
                <label for="Date of Birth">Secondary Date of Birth</label>
                @Html.TextBoxFor(model => model._insuranceCoverage.SecondaryDateOfBirth, new { @placeholder = "M/D/YYYY", @id = "SecondaryDateOfBirth" })
            </div>
            break;
        case "MrdNameofInsurance2":
            <div class="col-sm-6">
                <label for="Member ID">Secondary Member ID</label>
                @Html.TextBoxFor(model => model._insuranceCoverage.SecondaryMemberID, new { @class = "form-control", @placeholder = "Secondary Member ID" })
            </div>
            break;
        case "MrdInsuranceTelephone2":
            <div class="col-sm-6">
                <label for="Group Number">Secondary Group Number</label>
                @Html.TextBoxFor(model => model._insuranceCoverage.SecondaryGroupNumber, new { @class = "form-control", @placeholder = "Secondary Group Number" })
            </div>
            break;
        case "MrdIsInsured":
            //Send Insurance Information Directly from Linked DPMS when available [Title]
            break;

        default:
            break;
    }
}
