﻿@model OneClickReferral.Models.Compose1Click
@using OneClickReferral.Helpers;

@{
    int? MedicalHistory = Convert.ToInt32(Specialty.MedicalHistory);
    int MedicalCount = 0;
}

@try
{
    if (Model._specialtyService.MHIsEnable == true)
    {
        <div class="referred-by clearfix" id="MedicalHistoryDivId">
            <div class="row">
                <h3>Medical History</h3>
                <div id="PatientInfoDiv" class="itemDiv" data-id="1">
                    <div class="">
                        <div name="medical"></div>
                        <div class="referred-form-sec row">
                            <div class="col-sm-12">
                                <div class="form-check" id="SpecialityId">
                                    @if (Model != null && Model._innerService != null && Model._innerService.lstDentalInsurance != null)
                                    {
                                        <!-- For Field Display Query -->
                                        var QueryResult = Model._innerService.lstDentalInsurance.Where(m => m.SpecialityId == MedicalHistory && m.ParentFieldId == 0);
                                        if (QueryResult != null)
                                        {
                                            foreach (var Obj in QueryResult)
                                            {
                                                var SubQueryResult = Model._innerService.lstDentalInsurance.Where(m => m.SpecialityId == MedicalHistory && m.ParentFieldId == Obj.Id);

                                                if (Obj.IsEnable)
                                                {
                                                    @getMedicalHistoryFields(Obj.MapFieldName);
                                                    if (SubQueryResult.Any())
                                                    {
                                                        <div class="allergic panel_box">
                                                            <div class="form-group">
                                                                @foreach (var SubObj in SubQueryResult.OrderBy(m => m.SortOrder))
                                                                {
                                                                    if (SubObj.IsEnable)
                                                                    {
                                                                        @getMedicalHistorySubFields(SubObj.MapFieldName);
                                                                        MedicalCount++;
                                                                    }
                                                                }
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            }

                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    if (MedicalCount == 0)
    {
        <script>
            $("#MedicalHistoryDivId").css('display', 'none');
                      
        </script>
    }

}
catch (Exception Ex)
{

    <div class="referred-by clearfix" id="MedicalHistoryDivId">
        <div class="row">
            <h3>Error</h3>
            @Html.Partial("_PartialError")
        </div>
    </div>

    Common.LogError(Ex);
}






@helper getMedicalHistoryFields(string objKey)
{

    switch (objKey)
    {

        case "MrdQue1":
            @Html.CheckBoxFor(m => m._medicalHistory.MrdQue1, new { @id = "MrdQue1" })
            <label for="MrdQue1">Are you under a physicians care right now?</label>
            <div class="panel_box physicians" style="display: none;" id="div_MrdQue1">
                <div class="form-group">
                    <label for="comment">Please explain </label>
                    @Html.TextAreaFor(model => model._medicalHistory.Mtxtphysicians, new { @class = "form-control", @placeholder = "Enter Text", @rows = "5" })
                </div>
            </div>
            break;
        case "MrdQue2":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQue2, new { @id = "MrdQue2" })
            <label for="MrdQue2">Have you ever been hospitalized or had a major operation?</label>

            <div class="hospitalized panel_box" style="display: none;" id="div_MrdQue2">
                <div class="form-group">
                    <label for="comment">Please explain </label>
                    @Html.TextAreaFor(model => model._medicalHistory.Mtxthospitalized, new { @class = "form-control", @placeholder = "Enter Text", @rows = "5" })
                </div>
            </div>
            break;
        case "MrdQue3":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQue3, new { @id = "MrdQue3" })
            <label for="MrdQue3">Have you ever had a serious head or neck injury?</label>

            <div class="serious panel_box" style="display: none;" id="div_MrdQue3">
                <div class="form-group">
                    <label for="comment">Please explain </label>
                    @Html.TextAreaFor(model => model._medicalHistory.Mtxtserious, new { @class = "form-control", @placeholder = "Enter Text", @rows = "5" })
                </div>
            </div>
            break;
        case "MrdQue4":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQue4, new { @id = "MrdQue4" })
            <label for="MrdQue4">Are taking any medications, pills, or drugs?</label>

            <div class="medications panel_box" style="display: none;" id="div_MrdQue4">
                <div class="form-group">
                    <label for="comment">Please explain </label>
                    @Html.TextAreaFor(model => model._medicalHistory.Mtxtmedications, new { @class = "form-control", @placeholder = "Enter Text", @rows = "5" })
                </div>
            </div>
            break;
        case "MrdQue5":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQue5, new { @id = "MrdQue5" })
            <label for="MrdQue5">Do you take, or have you taken, Phen-Fen or Redux?</label>

            <div class="Redux panel_box" style="display: none;" id="div_MrdQue5">
                <div class="form-group">
                    <label for="comment">Please explain </label>
                    @Html.TextAreaFor(model => model._medicalHistory.MtxtRedux, new { @class = "form-control", @placeholder = "Enter Text", @rows = "5" })
                </div>
            </div>
            break;
        case "MrdQue6":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQue6, new { @id = "MrdQue6" })
            <label for="MrdQue6">Have you ever taken Fosamax, Boniva, Actonel or any other medications containing biphosphonates?</label>

            <div class="Fosamax panel_box" style="display: none;" id="div_MrdQue6">
                <div class="form-group">
                    <label for="comment">Please explain </label>
                    @Html.TextAreaFor(model => model._medicalHistory.MtxtFosamax, new { @class = "form-control", @placeholder = "Enter Text", @rows = "5" })
                </div>
            </div>
            break;
        case "MrdQuediet7":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQuediet7, new { @id = "MrdQuediet7" })
            <label for="MrdQuediet7">Are you on a special diet?</label>

            <div class="diet panel_box" style="display: none;" id="div_MrdQuediet7">
                <div class="form-group">
                    <label for="comment">Please explain </label>
                    @Html.TextAreaFor(model => model._medicalHistory.Mtxt7, new { @class = "form-control", @placeholder = "Enter Text", @rows = "5" })
                </div>
            </div>
            break;
        case "Mrdotobacco":
            @Html.CheckBoxFor(model => model._medicalHistory.Mrdotobacco8, new { @id = "Mrdotobacco8" })
            <label for="Mrdotobacco8">Do you use tobacco?</label>

            <div class="tobacco panel_box" style="display: none;" id="div_Mrdotobacco8">
                <div class="form-group">
                    <label for="comment">Please explain </label>
                    @Html.TextAreaFor(model => model._medicalHistory.Mtxt8, new { @class = "form-control", @placeholder = "Enter Text", @rows = "5" })
                </div>
            </div>
            break;
        case "Mrdosubstances":
            @Html.CheckBoxFor(model => model._medicalHistory.Mrdosubstances, new { @id = "Mrdosubstances" })
            <label for="Mrdosubstances">Do you use controlled substances?</label>

            <div class="substances panel_box" style="display: none;" id="div_Mrdosubstances">
                <div class="form-group">
                    <label for="comment">Please explain </label>
                    @Html.TextAreaFor(model => model._medicalHistory.Mtxt9, new { @class = "form-control", @placeholder = "Enter Text", @rows = "5" })
                </div>
            </div>
            break;
        case "Mrdopregnant":
            @Html.CheckBoxFor(model => model._medicalHistory.Mrdopregnant, new { @id = "Mrdopregnant" })
            <label for="Mrdopregnant">Are you pregnant/Trying to get pregnant(women)?</label>

            <div class="pregnant panel_box" style="display: none;" id="div_Mrdopregnant">
                <div class="form-group">
                    <label for="comment">Please explain </label>
                    @Html.TextAreaFor(model => model._medicalHistory.Mtxt10, new { @class = "form-control", @placeholder = "Enter Text", @rows = "5" })
                </div>
            </div>
            break;
        case "Mrdocontraceptives":
            @Html.CheckBoxFor(model => model._medicalHistory.Mrdocontraceptives, new { @id = "Mrdocontraceptives" })
            <label for="Mrdocontraceptives">Taking oral contraceptives(women)?</label>

            <div class="contraceptives panel_box" style="display: none;" id="div_Mrdocontraceptives">
                <div class="form-group">
                    <label for="comment">Please explain </label>
                    @Html.TextAreaFor(model => model._medicalHistory.Mtxt11, new { @class = "form-control", @placeholder = "Enter Text", @rows = "5" })
                </div>
            </div>
            break;
        case "MrdoNursing":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdoNursing, new { @id = "MrdoNursing" })
            <label for="MrdoNursing">Nursing(women)?</label>

            <div class="nursing panel_box" style="display: none;" id="div_MrdoNursing">
                <div class="form-group">
                    <label for="comment">Please explain </label>
                    @Html.TextAreaFor(model => model._medicalHistory.Mtxt12, new { @class = "form-control", @placeholder = "Enter Text", @rows = "5" })
                </div>
            </div>
            break;
        case "Mrdotonsils":
            @Html.CheckBoxFor(model => model._medicalHistory.Mrdotonsils, new { @id = "Mrdotonsils" })
            <label for="Mrdotonsils">Have tonsils or have adenoids been removed?</label>

            <div class="tonsils panel_box" style="display: none;" id="div_Mrdotonsils">
                <div class="form-group">
                    <label for="comment">Please explain </label>
                    @Html.TextAreaFor(model => model._medicalHistory.Mtxt13, new { @class = "form-control", @placeholder = "Enter Text", @rows = "5" })
                </div>
            </div>
            break;
        case "Mchk14":
            <div id="div_SubMchk14">
                @Html.CheckBoxFor(model => model._medicalHistory.Mchk14, new { @id = "Mchk14" })
                <label for="Mchk14">Are you allergic to any of the following?</label>

                <!-- ** Sub Field Available ** -->
            </div>
            break;
        case "Mchk15":
            <div id="div_SubMchk15">
                @Html.CheckBoxFor(model => model._medicalHistory.Mchk15, new { @id = "Mchk15" })
                <label for="Mchk15">Do you have, or have you had, any of the following?</label>
            </div>
            break;
        case "Mrdillness":
            @Html.CheckBoxFor(model => model._medicalHistory.Mrdillness, new { @id = "Mrdillness" })
            <label for="Mrdillness"> List any serious illness not listed above </label>
            <div class="illness panel_box" style="display: none;" id="div_Mrdillness">
                <div class="form-group">
                    <label for="comment">Please explain</label>
                    @Html.TextAreaFor(model => model._medicalHistory.Mtxtillness, new { @placeholder = "Enter Text", @rows = "5", @class = "form-control" })
                </div>
            </div>
            break;
        case "MrdComments":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdComments, new { @id = "MrdComments" })
            <label for="MrdComments"> Additional Information </label>
            <div class="Additional panel_box" style="display: none;" id="div_MrdComments">
                <div class="form-group">
                    <label for="comment">Please explain</label>
                    @Html.TextAreaFor(model => model._medicalHistory.MtxtComments, new { @placeholder = "Enter Text", @rows = "5", @class = "form-control" })
                </div>
            </div>
            break;

        default:
            break;
    }
}



@helper getMedicalHistorySubFields(string objKey)
{

    switch (objKey)
    {
        case "MchkQue_1":
            @Html.CheckBoxFor(model => model._medicalHistory.MchkQue_1, new { @id = "MchkQue_1" })
            <label for="MchkQue_1">Aspirin</label>
            break;
        case "MchkQue_2":
            @Html.CheckBoxFor(model => model._medicalHistory.MchkQue_2, new { @id = "MchkQue_2" })
            <label for="MchkQue_2">Penicillin</label>
            break;
        case "MchkQue_3":
            @Html.CheckBoxFor(model => model._medicalHistory.MchkQue_3, new { @id = "MchkQue_3" })
            <label for="MchkQue_3">Codeine</label>
            break;
        case "MchkQue_4":
            @Html.CheckBoxFor(model => model._medicalHistory.MchkQue_4, new { @id = "MchkQue_4" })
            <label for="MchkQue_4">Local Anesthetics</label>
            break;
        case "MchkQue_5":
            @Html.CheckBoxFor(model => model._medicalHistory.MchkQue_5, new { @id = "MchkQue_5" })
            <label for="MchkQue_5">Acrylic</label>
            break;
        case "MchkQue_6":
            @Html.CheckBoxFor(model => model._medicalHistory.MchkQue_6, new { @id = "MchkQue_6" })
            <label for="MchkQue_6">Metal</label>
            break;
        case "MchkQue_7":
            @Html.CheckBoxFor(model => model._medicalHistory.MchkQue_7, new { @id = "MchkQue_7" })
            <label for="MchkQue_7">Latex</label>
            break;
        case "MchkQue_8":
            @Html.CheckBoxFor(model => model._medicalHistory.MchkQue_8, new { @id = "MchkQue_8" })
            <label for="MchkQue_8">Sulfa Drugs</label>
            break;
        case "MrdQueAbnormal":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueAbnormal, new { @id = "MrdQueAbnormal" })
            <label for="MrdQueAbnormal">
                Abnormal bleeding
            </label>break;

        case "MrdQueAIDS_HIV_Positive":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueAIDS_HIV_Positive, new { @id = "MrdQueAIDS_HIV_Positive" })
            <label for="MrdQueAIDS_HIV_Positive">
                AIDS/HIV Positive
            </label> break;

        case "MrdQueAlzheimer":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueAlzheimer, new { @id = "MrdQueAlzheimer" })
            <label for="MrdQueAlzheimer">
                Alzheimer's Disease
            </label>break;

        case "MrdQueAnemia":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueAnemia, new { @id = "MrdQueAnemia" })
            <label for="MrdQueAnemia">
                Anemia
            </label>break;

        case "MrdQueAngina":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueAngina, new { @id = "MrdQueAngina" })
            <label for="MrdQueAngina">
                Angina
            </label>break;

        case "MrdQueThinners":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueThinners, new { @id = "MrdQueThinners" })
            <label for="MrdQueThinners">
                Are you on blood thinners
            </label>break;

        case "MrdQueArthritis":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueArthritis, new { @id = "MrdQueArthritis" })
            <label for="MrdQueArthritis">
                Arthritis / rheumatism
            </label>break;

        case "MrdQueArtificialHeartValve":

            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueArtificialHeartValve, new { @id = "MrdQueArtificialHeartValve" })
            <label for="MrdQueArtificialHeartValve">
                Artificial Heart Valve
            </label>break;

        case "MrdQueArtificialJoint":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueArtificialJoint, new { @id = "MrdQueArtificialJoint" })
            <label for="MrdQueArtificialJoint">
                Artificial Joint
            </label>break;

        case "MrdQueAsthma":

            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueAsthma, new { @id = "MrdQueAsthma" })
            <label for="MrdQueAsthma">
                Asthma
            </label> break;

        case "MrdQueFibrillation":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueFibrillation, new { @id = "MrdQueFibrillation" })
            <label for="MrdQueFibrillation">
                Atrial fibrillation
            </label>break;

        case "MrdQueBloodDisease":

            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueBloodDisease, new { @id = "MrdQueBloodDisease" })
            <label for="MrdQueBloodDisease">
                Blood Disease
            </label>break;

        case "MrdQueBloodTransfusion":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueBloodTransfusion, new { @id = "MrdQueBloodTransfusion" })
            <label for="MrdQueBloodTransfusion">
                Blood Transfusion
            </label>break;

        case "MrdQueBreathing":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueBreathing, new { @id = "MrdQueBreathing" })
            <label for="MrdQueBreathing">
                Breathing Problem
            </label>break;

        case "MrdQueBruise":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueBruise, new { @id = "MrdQueBruise" })
            <label for="MrdQueBruise">
                Bruise Easily
            </label>break;

        case "MrdQueCancer":

            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueCancer, new { @id = "MrdQueCancer" })
            <label for="MrdQueCancer">
                Cancer
            </label>break;

        case "MrdQueChemotherapy":

            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueChemotherapy, new { @id = "MrdQueChemotherapy" })
            <label for="MrdQueChemotherapy">
                Chemotherapy
            </label>break;

        case "MrdQueChest":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueChest, new { @id = "MrdQueChest" })
            <label for="MrdQueChest">
                Chest Pains
            </label>break;

        case "MrdQueCigarette":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueCigarette, new { @id = "MrdQueCigarette" })
            <label for="MrdQueCigarette">
                Cigarette, pipe, or cigar smoking
            </label>break;

        case "MrdQueCirulation":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueCirulation, new { @id = "MrdQueCirulation" })
            <label for="MrdQueCirulation">
                Cirulation problems
            </label>break;

        case "MrdQueCortisone":

            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueCortisone, new { @id = "MrdQueCortisone" })
            <label for="MrdQueCortisone">
                Cortisone / steroids
            </label>break;

        case "MrdQueFrequentCough":

            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueFrequentCough, new { @id = "MrdQueFrequentCough" })
            <label for="MrdQueFrequentCough">
                Cough, persistent or bloody
            </label>break;

        case "MrdQueConvulsions":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueConvulsions, new { @id = "MrdQueConvulsions" })
            <label for="MrdQueConvulsions">
                Convulsions
            </label>break;

        case "MrdQuefillers":

            @Html.CheckBoxFor(model => model._medicalHistory.MrdQuefillers, new { @id = "MrdQuefillers" })
            <label for="MrdQuefillers">
                Dermal fillers
            </label>break;

        case "MrdQueDiabetes":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueDiabetes, new { @id = "MrdQueDiabetes" })
            <label for="MrdQueDiabetes">
                Diabletes (type)
            </label>break;

        case "MrdQueDiarrhhea":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueDiarrhhea, new { @id = "MrdQueDiarrhhea" })
            <label for="MrdQueDiarrhhea">
                Diarrhea, persistent
            </label>break;

        case "MrdQueDigestive":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueDigestive, new { @id = "MrdQueDigestive" })
            <label for="MrdQueDigestive">
                Digestive disorder
            </label>break;

        case "MrdQueDizziness":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueDizziness, new { @id = "MrdQueDizziness" })
            <label for="MrdQueDizziness">
                Dizziness, fainting
            </label>break;

        case "MrdQueAlcoholic":

            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueAlcoholic, new { @id = "MrdQueAlcoholic" })
            <label for="MrdQueAlcoholic">
                Do you drink alcoholic beverages?
            </label>break;

        case "MrdQueSubstances":

            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueSubstances, new { @id = "MrdQueSubstances" })
            <label for="MrdQueSubstances">
                Do you use controlled substances ?
            </label>break;


        case "MrdQueEmphysema":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueEmphysema, new { @id = "MrdQueEmphysema" })
            <label for="MrdQueEmphysema">
                Emphysema / bronchitis
            </label>break;

        case "MrdQueEpilepsy":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueEpilepsy, new { @id = "MrdQueEpilepsy" })
            <label for="MrdQueEpilepsy">
                Epilepsy or Seizures
            </label>break;

        case "MrdQueExcessiveurination":

            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueExcessiveurination, new { @id = "MrdQueExcessiveurination" })
            <label for="MrdQueExcessiveurination">
                Excessive urination
            </label>break;

        case "MrdQueExcessiveThirst":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueExcessiveThirst, new { @id = "MrdQueExcessiveThirst" })
            <label for="MrdQueExcessiveThirst">
                Excessive Thirst
            </label>break;

        case "MrdQueGlaucoma":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueGlaucoma, new { @id = "MrdQueGlaucoma" })
            <label for="MrdQueGlaucoma">
                Glaucoma
            </label>break;

        case "MrdQueHeadaches":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueHeadaches, new { @id = "MrdQueHeadaches" })
            <label for="MrdQueHeadaches">
                Headaches
            </label>break;

        case "MrdQueAttack":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueAttack, new { @id = "MrdQueAttack" })
            <label for="MrdQueAttack">
                Heart attack(date)
            </label> break;

        case "MrdQueHeartPacemaker":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueHeartPacemaker, new { @id = "MrdQueHeartPacemaker" })
            <label for="MrdQueHeartPacemaker">
                Heart Pacemaker
            </label>break;

        case "MrdQueHemophilia":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueHemophilia, new { @id = "MrdQueHemophilia" })
            <label for="MrdQueHemophilia">
                Hemophilia
            </label>break;

        case "MrdQueHeart_defect":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueHeart_defect, new { @id = "MrdQueHeart_defect" })
            <label for="MrdQueHeart_defect">
                Heart defect
            </label>break;

        case "MrdQueHeart_murmur":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueHeart_murmur, new { @id = "MrdQueHeart_murmur" })
            <label for="MrdQueHeart_murmur">
                Heart murmur / leaky valve
            </label>break;

        case "MrdQueHepatitisA":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueHepatitisA, new { @id = "MrdQueHepatitisA" })
            <label for="MrdQueHepatitisA">
                Hepatitis(type)
            </label>break;

        case "MrdQueHerpes":

            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueHerpes, new { @id = "MrdQueHerpes" })
            <label for="MrdQueHerpes">
                Herpes
            </label>break;

        case "MrdQueHiatal":

            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueHiatal, new { @id = "MrdQueHiatal" })
            <label for="MrdQueHiatal">
                Hiatal hernia
            </label>break;

        case "MrdQueBlood_pressure":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueBlood_pressure, new { @id = "MrdQueBlood_pressure" })
            <label for="MrdQueBlood_pressure">
                High or low blood pressure
            </label>break;

        case "MrdQueAIDS":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueAIDS, new { @id = "MrdQueAIDS" })
            <label for="MrdQueAIDS">
                HIV / AIDS
            </label>break;

        case "MrdQueHow_much":

            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueHow_much, new { @id = "MrdQueHow_much" })
            <label for="MrdQueHow_much">
                How much
            </label>break;

        case "MrdQueHow_often":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueHow_often, new { @id = "MrdQueHow_often" })
            <label for="MrdQueHow_often">
                How often
            </label>break;

        case "MrdQueHypoglycemia":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueHypoglycemia, new { @id = "MrdQueHypoglycemia" })
            <label for="MrdQueHypoglycemia">
                Hypoglycemia
            </label>break;

        case "MrdQueReplacement":

            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueReplacement, new { @id = "MrdQueReplacement" })
            <label for="MrdQueReplacement">
                Joint replacement(knee, hip, etc)
            </label>break;

        case "MrdQueKidney":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueKidney, new { @id = "MrdQueKidney" })
            <label for="MrdQueKidney">
                Kidney disease
            </label>break;

        case "MrdQueLeukemia":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueLeukemia, new { @id = "MrdQueLeukemia" })
            <label for="MrdQueLeukemia">
                Leukemia / lymphomaLiver
            </label>break;

        case "MrdQueLiver":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueLiver, new { @id = "MrdQueLiver" })
            <label for="MrdQueLiver">
                Liver Disease
            </label>break;

        case "MrdQueLung":

            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueLung, new { @id = "MrdQueLung" })
            <label for="MrdQueLung"> Lung Disease </label>
            break;

        case "MrdQueMitral":

            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueMitral, new { @id = "MrdQueMitral" })
            <label for="MrdQueMitral">
                Mitral Valve Prolapse
            </label>break;

        case "MrdQueNeck_BackProblem":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueNeck_BackProblem, new { @id = "MrdQueNeck_BackProblem" })
            <label for="MrdQueNeck_BackProblem">
                Neck / back problems
            </label>break;


        case "MrdQueOsteoporosis":

            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueOsteoporosis, new { @id = "MrdQueOsteoporosis" })
            <label for="MrdQueOsteoporosis">
                Osteoporosis
            </label>break;

        case "MrdQuePacemaker":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQuePacemaker, new { @id = "MrdQuePacemaker" })
            <label for="MrdQuePacemaker">
                Pacemaker / defibrillator
            </label>break;

        case "MrdQuePainJaw_Joints":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQuePainJaw_Joints, new { @id = "MrdQuePainJaw_Joints" })
            <label for="MrdQuePainJaw_Joints">
                Pain in Jaw Joints
            </label>break;

        case "MrdQueEndocarditis":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueEndocarditis, new { @id = "MrdQueEndocarditis" })
            <label for="MrdQueEndocarditis">
                Previous endocarditis
            </label>break;

        case "MrdQuePsychiatric":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQuePsychiatric, new { @id = "MrdQuePsychiatric" })
            <label for="MrdQuePsychiatric">
                Psychiatric Care
            </label>break;

        case "MrdQueRadiation":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueRadiation, new { @id = "MrdQueRadiation" })
            <label for="MrdQueRadiation">
                Radiation therapy
            </label>break;

        case "MrdQueRheumatic":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueRheumatic, new { @id = "MrdQueRheumatic" })
            <label for="MrdQueRheumatic">
                Rheumatic or scarler fever
            </label>break;

        case "MrdQueScarlet":

            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueScarlet, new { @id = "MrdQueScarlet" })
            <label for="MrdQueScarlet">
                Scarlet Fever
            </label>break;

        case "MrdQueShingles":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueShingles, new { @id = "MrdQueShingles" })
            <label for="MrdQueShingles">
                Shingles
            </label>break;

        case "MrdQueShortness":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueShortness, new { @id = "MrdQueShortness" })
            <label for="MrdQueShortness">
                Shortness of breath
            </label>break;

        case "MrdQueSinus":

            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueSinus, new { @id = "MrdQueSinus" })
            <label for="MrdQueSinus">
                Sinus infection
            </label>break;

        case "MrdQueStroke":

            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueStroke, new { @id = "MrdQueStroke" })
            <label for="MrdQueStroke">
                Stroke(date)
            </label>break;

        case "MrdQueSjorgren":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueSjorgren, new { @id = "MrdQueSjorgren" })
            <label for="MrdQueSjorgren">
                Sjorgren's syndrome
            </label>break;

        case "MrdQueStomach":

            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueStomach, new { @id = "MrdQueStomach" })
            <label for="MrdQueStomach">
                Stomach ulcer / hyperacidity
            </label>break;

        case "MrdQueSwelling":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueSwelling, new { @id = "MrdQueSwelling" })
            <label for="MrdQueSwelling">
                Swelling of feet or ankles
            </label>break;

        case "MrdQueSwollen":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueSwollen, new { @id = "MrdQueSwollen" })
            <label for="MrdQueSwollen">
                Swollen glands - neck
            </label>break;

        case "MrdQueThyroid":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueThyroid, new { @id = "MrdQueThyroid" })
            <label for="MrdQueThyroid">
                Thyroid disorder
            </label>break;

        case "MrdQueTuberculosis":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueTuberculosis, new { @id = "MrdQueTuberculosis" })
            <label for="MrdQueTuberculosis">
                Tuberculosis
            </label>break;

        case "MrdQueTumors":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueTumors, new { @id = "MrdQueTumors" })
            <label for="MrdQueTumors">
                Tumors or Growths
            </label>break;

        case "MrdQueValve":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueValve, new { @id = "MrdQueValve" })
            <label for="MrdQueValve">
                Valve replacement
            </label>break;

        case "MrdQueVision":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueVision, new { @id = "MrdQueVision" })
            <label for="MrdQueVision">
                Vision / hearing impaired
            </label>break;

        case "MrdQueUnexplained":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueUnexplained, new { @id = "MrdQueUnexplained" })
            <label for="MrdQueUnexplained">
                Weight loss, unexplained
            </label>break;

        default:
            break;
    }
}

@*<script>
    $(document).ready(function () {

        $("#Mchk14").prop("checked", true);
    });
</script>*@