﻿@model List<BO.ViewModel.PatientDetialsForPatientreward>
@try
        {           
            if (Model != null)
            {
                foreach (var item in Model)
                {
            <tr id="Select_@item.PatientId" style="cursor:pointer" onclick="SelectPatient('@item.PatientId')">
                @*<td data-th="" class="select"><span id="span_@item.PatientId">Select</span> </td>*@
                <td data-th="First Name">@item.FirstName</td>
                <td data-th="Last Name">@item.LastName</td>
                <td data-th="DOB">
                    @if (!string.IsNullOrEmpty(item.DateOfBirth))
                    {
                        @item.DateOfBirth.Split(' ')[0]
}
                </td>
                @* XQ1-217 : Email is hyperlink *@
                <td data-th="Email">
                    @if (Common.checkEmailDomain(item.Email))
                    {
                        <a href="mailto:@item.Email">@item.Email</a>
                    }
                </td>
                @* XQ1-218 : Phone is hyperlink *@
                @{
                    var phone = @item.WorkPhone.Replace(" ", "").Replace("(", "").Replace(")", "").Replace("-", "");
                }
                <td data-th="Phone"><a href="tel:@phone">@item.WorkPhone</a></td>
            </tr>

                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="6">
                                <center> <span>No records found </span></center>
                            </td>
                        </tr>
                    }

                    }
                    catch (Exception Ex)
                    {
                        <tr>
                            <td colspan="6">
                                @Html.Partial("_PartialError")
                            </td>
                        </tr>

                        Common.LogError(Ex);
                    }


                   
