﻿@model List<OneClickReferral.Models.TempFileAttachments>

@try
{
    if (Model.Count > 0)
    {
        foreach (var lstAttachment in Model)
        {
            string FilePath = string.Empty;
            string TempFileId = string.Empty;
            string TempFilePath = string.Empty;
            switch (lstAttachment.FileFrom)
            {
                case 1:
                    FilePath = HttpContext.Current.Request.Url.Scheme + "://" + HttpContext.Current.Request.Url.Authority + "/images/" + OneClickReferral.Models.Common.CheckFileExtenssionOnlyThumbName("unknown" + lstAttachment.FilePath);
                    TempFileId = "F_" + lstAttachment.FileId;
                    break;
                case 2:
                    FilePath = @System.Configuration.ConfigurationManager.AppSettings.Get("TempUploadUrl") + lstAttachment.FilePath;
                    TempFileId = "I_" + lstAttachment.FileId;
                    break;

            }
            if (ViewBag.IsCommunication)
            {
                <li id="@TempFileId">
                    <div class="img-holder">
                        <a href="@(@lstAttachment.FileFrom == 1 || @lstAttachment.FileFrom == 3 ? OneClickReferral.Models.Common.EscapeUriString(TempFilePath) : OneClickReferral.Models.Common.EscapeUriString(FilePath))">
                            @*<img src="@(lstAttachment.FileFrom != (int)BO.Enums.Common.FileFromFolder.TempFile_TempFolder && lstAttachment.FileExtension == 0 ? Html.Action("GetBase64ContentOFImage","Common", new { FileId = 0, FileFrom=lstAttachment.FileFrom, FileName = lstAttachment.FilePath }) : new MvcHtmlString(FilePath))" alt="@lstAttachment.FileName">*@
                            <img src="@FilePath" alt="@lstAttachment.FileName">
                        </a>
                    </div>
                    <div class="list-text">
                        <span class="file-name"><a href=""></a></span>
                        <span class="file-size"><a href="@(@lstAttachment.FileFrom == 1 || @lstAttachment.FileFrom == 3 ? OneClickReferral.Models.Common.EscapeUriString(TempFilePath) : OneClickReferral.Models.Common.EscapeUriString(FilePath))">@lstAttachment.FileName</a></span>
                    </div>
                    <div class="btn-group delete-btn">
                        <a href="javascript:void(0)" onclick="DeleteAttachMent(@lstAttachment.FileId,@lstAttachment.FileFrom,'@lstAttachment.FilePath','@TempFileId',@lstAttachment.ComposeType)" class="btn btn-default btn-secondary"><i class="ico-delete"></i>Delete</a>
                    </div>
                </li>
            }
            else
            {
                <li id="@TempFileId">
                    <div class="img-holder">
                        <img src="@FilePath" alt="@lstAttachment.FileName" />
                        <a href="javascript:void(0)" onclick="DeleteAttachmentPopUp(@lstAttachment.FileId,@lstAttachment.FileFrom,'@lstAttachment.FilePath','@TempFileId')" class="download-hover"><i class="ico-cross1"></i></a>
                    </div>
                    <div class="attacg-description">
                        <div class="discription-box">
                            <p>@lstAttachment.FileName</p>                            
                        </div>
                    </div>
                </li>
            }
        }
    }
}
catch (Exception Ex)
{
   <li> @Html.Partial("_PartialError") </li>
    Common.LogError(Ex);
}





