﻿@{
    Layout = null;
    ViewBag.Title = "Select Who You Are";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main id="main" class="referred_patient">
    <div class="page_haading_holder">
        <div class="container navigation_container">
            <div class="row navigation_row">
                <div class="col-xs-12">
                    <div class="page_heading">
                        <h1>Select Who You Are</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container special_container">
        <div class="row special_row">
            <div class="col-xs-12 special_col refer-patient-main-content-wrap">
                <div class="referred-by refer-doctor clearfix">
                    <div class="row">
                        <div class="referred-form-sec row filter-form">
                            <div class="col-sm-6 center">
                                <div class="form-group">
                                    <label class="search">Search for your profile here and select when found</label>
                                    <input class="form-control search-holder" placeholder="Search for your profile here and select when found" id="SearchText" type="search">
                                    <a onclick="GetSpecificData();" class="search-btn"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="divLoading" class="Loaddiv unselectable" unselectable="on" style="margin-left: 50%;">
                    <p>
                        <img src="~/Content/OneClickReferral/images/Recordloading.gif">
                    </p>
                </div>
                <div class="referred-by clearfix">
                    <input type="hidden" id="hdnUserId" />
                    <div class="row">
                        <div class="referred-form-sec row box-center" id="DentistRow">
                        </div>
                    </div>
                </div>
            </div>
            @*XQ1-1174 changes suggested by Travis*@
            <div class="col-xs-12" style="background-color:#fff;text-align:center;padding:15px 0 0 0;">
                <p class="blue text-center" id="notfound">If you don't find your profile <a href="https://oneclickreferral.com/pricing">CLICK HERE</a></p>
            </div>
            <div class="referred-by"></div>
        </div>
    </div>
</main>


@section scripts{
    <script type="text/javascript">
        var DENTIST_LOCATION_SEARCH_URL = "@Url.Action("DentistList", "OneClick", new { }, Request.Url.Scheme)";
        var DENTIST_KEYWORD_SEARCH_URL = "@Url.Action("GetSpecificSearch", "OneClick", new { }, Request.Url.Scheme)";
        var DENTIST_LOGIN_URL = "@Url.Action("Index", "Login", new { }, Request.Url.Scheme)";
        var DENTIST_V2_URL = "@Url.Action("V2", "OneClick", new {},Request.Url.Scheme)"  
        var INTEGRATION_PARTNER_URL = "@Url.Action("IsDentistIntegrationPartner", "OneClick", new { }, Request.Url.Scheme)";
    </script>
    <script type="text/javascript" src="~/Scripts/ControllerJS/OneClick/index.js"></script>
}
