﻿@model BO.Models.FileModel
@{
                /**/
                Layout = null;
                string boxApi = System.Configuration.ConfigurationManager.AppSettings["boxAPI"];
}
<hr />
<h4>Attachments</h4>
<div class="row">
    <div class="col-sm-12">
        <div style="margin-top:5px;">
            <form id="uploadForm" name="uploadForm" action="/FileUpload" enctype="multipart/form-data" method="post">
                <div style="margin-bottom:5px;" class="btn-group btn-holder pull-right">
                    <a href="javascript:;" class="reply-btn" id="upfile" onclick="$('#files').trigger('click');"><i style="font-size:150%" class="fa fa-paperclip"></i> Attach Files</a>
                </div>
                <input id="files" style="display:none" name="files" type="file" size="1" multiple onchange="uploadFiles('files');" />
                <div id="uploadingFile"></div>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div id="documentsContainer"><img style="height:200px; width:200px;" src="~/Content/images/loading.gif" /></div>
    </div>
</div>
<script>

    function DeleteDoc(id) {
                 $.ajax({
                            url: "@boxApi/File/Delete?id=" + id,
                            processData: false,
                            contentType: false,
                            type: "POST",
                            success: function (d) {
                                loadDocuments();
                            }
                        });
    }

    function loadDocuments() {
       
        $("#documentsContainer").html("<img style='height: 200px; width: 200px;' src='/Content/images/loading.gif' />");
        $.get("@boxApi/File/Files?recordId=@Model.RecordId&patientId=@Model.PatientId&folderId=" + $("#BoxFolderId").val(), function (data) {
            $("#divList").unbind().remove();
            $("#documentsContainer").html("");
            $("#documentsContainer").html("<div id='divList'></div>");
            $("#divList").html(data);
            $(".aDelete").on("click", function (e) {
                e.preventDefault();
                var $btn = $(this);
                $btn.button('loading');
                var id = $(this).data("id");
                DeleteDoc(id);
            });
        });
    }

    $(function () {
        loadDocuments();
    });

    function uploadFiles(inputId) {
        $("#uploadingFile").html("<img style='height:100px;'  src='/Content/images/uploading.gif' />")
        var input = document.getElementById(inputId);
        var files = input.files;
        var formData = new FormData();

        var invalidFileType = false;
        var invalidTypes = [".exe", ".bin", ".dll", ".msi", ".sql", ".js"];
        for (var i = 0; i !== files.length; i++) {

            invalidFileType = invalidTypes.some(function (invalidType) {
                return (files[i].name.indexOf(invalidType) >= 0);
            });

            formData.append("files", files[i]);
        }

        if (invalidFileType) {
            alert("invalid file type");
            $("#uploadingFile").html("");
            return;
        }

        $.ajax(
            {
                url: "@boxApi/File/LargeFileUpload?folderId=" + $("#BoxFolderId").val(),
                data: formData,
                processData: false,
                contentType: false,
                type: "POST",
                success: function (data) {
                    if (data.success === true) {
                        $("#uploadingFile").html("");
                        loadDocuments();
                    } else {
                        $("#uploadingFile").html("");
                        alert("Error uploading file");
                    }
                }
            }
        );
    }
</script>
<hr />

