﻿@model BO.Models.FileModel
@{
    Layout = null;
    string boxApi = System.Configuration.ConfigurationManager.AppSettings["boxAPI"];
}

<div class="row">
    <div class="col-sm-12">
        <div style="margin-top:5px;">
            <form id="uploadForm" name="uploadForm" action="/FileUpload" enctype="multipart/form-data" method="post">
                <input id="files" style="display:none" name="files" type="file" size="1" multiple onchange="uploadFiles('files');" />
                <div id="uploadingFile"></div>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div id="documentsContainer"><img style="height:200px; width:200px;" src="~/Content/images/loading.gif" /></div>
    </div>
</div>
<script>

    function loadDocuments() {
        $("#documentsContainer").html("<img style='height: 200px; width: 200px;' src='/Content/images/loading.gif' />");

        $.get("@boxApi/File/FilesReferral?recordId=@Model.RecordId&patientId=@Model.PatientId&folderId=" + $("#BoxFolderId").val(), function (data) {
            $("#documentsContainer").html(data);
            $(".aDelete").on("click", function (e) {
                e.preventDefault();
                var $btn = $(this);
                $btn.button('loading');
                var id = $(this).data("id");
                $.ajax(
                    {
                        url: "@boxApi/File/Delete?id=" + id,
                        processData: false,
                        contentType: false,
                        type: "POST",
                        success: function (data) {
                            if (data.success === true) {
                                loadDocuments();
                            } else {
                                alert("Error deleting file");
                            }
                        }
                    });
            });
        });


    }

    $(function () {
        loadDocuments();
    });

    function uploadFiles(inputId) {

        $("html, body").animate({ scrollTop: $(document).height() }, 1000);
        $("#uploadingFile").html("<img style='height:100px;'  src='/Content/images/uploading.gif' />")
        var input = document.getElementById(inputId);
        var files = input.files;
        var formData = new FormData();

        var invalidFileType = false;
        var invalidTypes = [".exe", ".bin", ".dll", ".msi", ".sql", ".js"];
        for (var i = 0; i !== files.length; i++) {

            invalidFileType = invalidTypes.some(function (invalidType) {
                return (files[i].name.indexOf(invalidType) >= 0);
            });

                formData.append("files", files[i]);
            }

        if (invalidFileType) {
            alert("invalid file type");
            $("#uploadingFile").html("");
            return;
        }

        $.ajax(
            {
                url: "@boxApi/File/LargeFileUpload?folderId=" + $("#BoxFolderId").val(),
                data: formData,
                processData: false,
                contentType: false,
                type: "POST",
                success: function (data) {
                    if (data.success === true) {
                        $("#uploadingFile").html("");
                        loadDocuments();
                    } else {
                        $("#uploadingFile").html("");
                        alert("error uploading file");
                    }
                }
            }
        );
    }
</script>
<hr />

