﻿@model OneClickReferral.Models.Compose1Click
@{
    Layout = null;
    ViewBag.Title = "Referral Form";
}
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
@* One click referral CSS *@
    <link rel="icon" href="~/Content/OneClickReferral/images/fav-ico.png" type="image/x-icon">
    <link rel="stylesheet" href="~/Content/OneClickReferral/css/main.css">
    <link href="~/Content/OneClickReferral/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/OneClickReferral/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/OneClickReferral/css/main.css" />
    <link rel="stylesheet" href="~/Content/OneClickReferral/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="~/Content/OneClickReferral/bootstrap-datepicker/Css/bootstrap-datepicker3.css" rel="stylesheet" />
    <link href="~/Content/Loader.css" rel="stylesheet" />
</head>
<body>

    <div id="wrapper" class="">
        <main id="main" class="referred_patient">
            <div class="page_haading_holder">
                <div class="container navigation_container">
                    <div class="row navigation_row">
                        <div class="col-xs-12">
                            <div class="page_heading">
                                <h1>Send Referral</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container special_container">
                <div class="row special_row">
                    <div class="col-xs-12 special_col refer-patient-main-content-wrap">
                        <br />
                        @if (ViewBag.alert != null && ViewBag.alert == true)
                        {
                            <div class="alert alert-success" id="successmsg">
                                Referral Send Successfully.
                            </div>
                        }
                        @if (ViewBag.alert != null && ViewBag.alert == false)
                        {
                            <div class="alert alert-danger" id="successmsg">
                                Error while sending the Referral.
                            </div>
                        }
                        <div id="divLoading" class="Loaddiv unselectable" unselectable="on">
                            <p>
                                <img src="~/Content/OneClickReferral/images/Recordloading.gif">
                            </p>
                        </div>
                        <div class="referred-by refer-doctor clearfix">
                            <div class="row">
                                <div class="referred-form-sec row">
                                    <div class="col-sm-6 center">
                                        <div class="form-group zip_city zip select_box relation">
                                            <select class="select_item" id="ddlColleague" onchange="GetReferralData()">
                                                <option>select</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="referred-by refer-doctor clearfix">
                            <div class="row">
                                <div class="referred-form-sec row">
                                    <div class="col-sm-6 center">
                                        <div class="panel">
                                            <input type="hidden" id="HiddenUserID" />
                                            <input type="hidden" id="HiddenLocationId" />
                                            <div id="ColleageDetail"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                        <div class="referred-by refer-doctor clearfix" id="divLocation">
                            <div class="row">
                                <div class="referred-form-sec row">
                                    <div class="col-sm-6 center">
                                        <label for="Location">Location</label>
                                        <div class="form-group zip_city zip select_box relation">
                                            <select class="select_item" id="ddlLocation"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                        <div class="referred-by">
                            <form action="/OneClick/ReferralForm" method="post" id="my_form">
                                <div id="PartialDiv">
                                    @*<input type="hidden" name="LocationId" id="hdnLocationId" value="" />*@
                                    @Html.Partial("PartialReferralForm")
                                </div>
                            </form>
                            </div>
                            <div class="referred-by"></div>
                        </div>
                    </div>
            </div>
       </main>
    </div>
    <script src="~/Content/OneClickReferral/js/jquery-1.11.2.min.js"></script>
    <script src="~/Content/OneClickReferral/js/jquery.main.js"></script>
    <script src="~/Content/OneClickReferral/js/bootstrap.min.js"></script>
    <script src="~/Scripts/Mask.js"></script>
</body>

</html>
<script type="text/javascript">
    var apikey = '@(Common.SafeString(System.Configuration.ConfigurationManager.AppSettings["apikey"]))'
    var User = localStorage.getItem("UserId");
    if (!User) {
        window.location = '@Url.Action("ReferralForm", "OneClick")';
    }
    $(document).ready(function () {
        $("#login").text("Dashboard");
        setTimeout(function () {
            $("#successmsg").hide();
        }, 7000);

        $('#phone').mask("(999) 999-9999");

        GetCollegeList();
        $("#divLoading").hide();
    });
    $(window).scroll(function () {
        $(".aligning-right-text").removeClass("btn_sticky");
        if ($(window).scrollTop() + $(window).height() == $(document).height()) {
            //you are at bottom
            $(".aligning-right-text").addClass("btn_sticky");
        }
    });
    //Get collegue list and bind in Dorpdownlist in Step-2
    function GetCollegeList() {

        $.ajax({
            url: apikey + "OneClickReferral/ColleagueList?EncrypteUserId=" + User,
            type: "POST",
            beforeSend: function () { $("#divLoading").show(); },
            data: { EncrypteUserId: User },
            success: function (data) {
                $("#HiddenUserID").val(User);
                $("#ddlColleague").html('');
                $.each(data, function (i, value) {
                    $("#ddlColleague").append($("<option></option>").val(value.EncrypteUserId).html(value.FirstName + ' ' + value.UserName));
                });
                if ($('#ddlColleague > option').length >= 1) {
                    GetReferralData();
                }
            }
        });
    }
    //function GetreferalData(ColleagueId) {

    //    $.ajax({
    //        url: "GetSerializedata",
    //        type: "POST",
    //        data: { ColleagueId: ColleagueId},
    //        success: function (data) {
    //            if (data != null) {
    //                $.ajax({
    //                    url: "ReferralForm",
    //                    type: "Get",
    //                    data: {},
    //                    success: function (data) {
    //                        $("#PartialDiv").html('');
    //                        $("#PartialDiv").append(data);
    //                    }
    //                });
    //            }
    //        }
    //    });
    //}
    $("#PartialDiv").on('live', function () {
        alert("loding...");
    });
    //Get Referral Data for selected Colleague from dropdownlist
    function GetReferralData() {
        $("#divLoading").show();
        GetLocationForDropDown();
        GetSerializedData();
        GetColleageDetail();
        setTimeout(function () {
            $("#divLoading").hide();
        }, 4000);
        $("#divLoading").hide();
    }
    function GetSerializedData() {
        $.ajax({
            url: "GetSerializedata?ColleagueId=" + $("#ddlColleague").val(),
            type: "POST",
            data: { ColleagueId: $("#ddlColleague").val() },
            async: true,
            success: function (data) {
                if (data != null) {
                    $.ajax({
                        url: "ReferralForm",
                        type: "Get",
                        data: {},
                        success: function (data) {
                            $("#PartialDiv").html('');
                            $("#PartialDiv").append(data);
                            setDateRangeonDOB();
                        }
                    });
                }
            }
        });
    }
    function GetLocationForDropDown() {
        $.ajax({
            url: "GetLocationList?ColleagueId=" + $("#ddlColleague").val(),
            type: "POST",
            async: true,
            success: function (data) {
                if (data.length > 1) {
                    $("#ddlLocation").html('');
                    $.each(data, function (i, value) {
                        $("#divLocation").show();
                        $("#ddlLocation").append($("<option></option>").val(value.LocationId).html(value.LocationName));
                    });
                }
                else {
                    $("#divLocation").hide();
                }
            }
        })
    }
    //Added this funcation for Set max date on Date Picker while add DOB.
    function setDateRangeonDOB() {
        var dtToday = new Date();

        var month = dtToday.getMonth() + 1;
        var day = dtToday.getDate();
        var year = dtToday.getFullYear();

        if (month < 10)
            month = '0' + month.toString();
        if (day < 10)
            day = '0' + day.toString();

        var maxDate = year + '-' + month + '-' + day;
        //$('#dateofbirth').attr('max', maxDate);
        //$('#PrimaryDateOfBirth').attr('max', maxDate);
        //$('#SecondaryDateOfBirth').attr('max', maxDate);
    }
    //Get Collegue detail in second step
    function GetColleageDetail() {
        var apikey = '@(Common.SafeString(System.Configuration.ConfigurationManager.AppSettings["apikey"]))'
        var apiImgkey = '@(Common.SafeString(System.Configuration.ConfigurationManager.AppSettings["DoctorImage"]))'
        var publicUrl = '@(Common.SafeString(System.Configuration.ConfigurationManager.AppSettings["PublicProfileURL"]))'
        $.ajax({
            url: apikey + "OneClickReferral/ColleagueDetail?ColleagueId=" + $("#ddlColleague").val(),
            type: "POST",
            data: { ColleagueId: $("#ddlColleague").val() },
            success: function (data) {
                var table = $('#ColleageDetail');
                table.html('');
                $.each(data, function (i, item) {
                    var strLoc = '';
                    if (item.State == '') {
                        strLoc = item.City.replace(/(^,)|(,$)/g, "");
                    }
                    else {
                        strLoc = item.City + item.State;
                    }
                    table.append('<div class="img-box"><a href=' + publicUrl + encodeURI(item.PublicProfileName) + ' target="_blank"><img src=' + item.ImageName + ' alt="' + item.FirstName + '" style="height: 90px;" /></a></div><div class="detail-box"><a href=' + publicUrl + encodeURI(item.PublicProfileName) + ' target="_blank"> <h4>' + item.Salutation + ' ' + item.FirstName + ' ' + item.UserName + '</h4></a> <a href="mailto:' + item.Email + '"><span style="color:#4babd1;text-decoration:underline;">' + item.Email + '</span></a>  <a href="tel: ' + item.WorkPhone + '">' + item.WorkPhone + '</a> <span>' + item.Description + '</span><span>' + strLoc + '</span></div>');
                    $("#HiddenLocationId").val(item.RewardLocationId);
                });
            }
        });
    }


    //save details for referal setting in second step
    function InsertData() {
        //$("#divLoading").show();
        $("#hdnReceiverId").val($("#ddlColleague").val());
        $("#hdnsenderId").val(localStorage.getItem("UserId"));
        if ($("#divLocation").is(':visible')) {
            $("#hdnLocationId").val($("#ddlLocation").val());
        } else {
            $("#hdnLocationId").val($("#HiddenLocationId").val());
        }
        $("#my_form").submit();
    }

</script>
