﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TempSendReferral</title>
</head>
<body>
    
    <script type="text/javascript">    
        localStorage.setItem("UserId", "@ViewBag.UserId");
        localStorage.setItem("IsIntegration", "@Common.SafeString(ViewBag.IsIntegration).ToLower()");
        localStorage.setItem("token", "@ViewBag.Token")
        localStorage.setItem("ToColleague", "@(Common.SafeString(ViewBag.ToColleague)??"")")
        localStorage.setItem("ToPatientId", "@(Common.SafeString(ViewBag.PatientId) ??"")")
        location.href = "/OneClick/ReferralForm";
    </script>
</body>
</html>
