@model OneClickReferral.Models.Compose1Click
@{
    ViewBag.Title = "Send Referral";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Colleagueslist objColleaguelist = new Colleagueslist();
    objColleaguelist.colleagues = ViewBag.Colleaguelist;
}

<style>
    .select2-container--default
    .select2-selection--single{
        border: 1px solid #4babd1 !important;
    }
</style>
<link href="~/Content/css/select2.min.css" rel="stylesheet" />

<form action="/OneClick/ReferralForm" method="post" id="my_form">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ReceiverId, new { @Id = "hdnReceiverId", @name = "hdnReceiverId" })
    @Html.HiddenFor(model => model.SenderId, new { @Id = "hdnsenderId", @name = "hdnsenderId" })
    @Html.HiddenFor(model => model.LocationId, new { @Id = "hdnLocationId", @name = "hdnLocationId" })
    @Html.HiddenFor(model => model.fileIds, new { id = "hduploadfiles" })
    @Html.HiddenFor(model => model.BoxFolderId)
    <input type="hidden" id="HiddenLocationId" />
    <main id="main" class="referred_patient">
        <div class="page_haading_holder">
            <div class="container navigation_container">
                <div class="row navigation_row">
                    <div class="col-xs-12">
                        <div class="page_heading">
                            <h1>Send Referral</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container special_container">
            <div class="row special_row">
                <div class="col-xs-12 special_col refer-patient-main-content-wrap">
                    <div class="referred-by refer-doctor clearfix">
                        <div class="row">
                            <div class="col-lg-12 alert alert-success" id="success" style="text-align:center; display:none;">
                                Patient Referral Sent Successfully!
                            </div>
                            <div class="col-lg-12 alert alert-danger" id="error" style="text-align:center;">
                                Error while sending Referral!
                            </div>
                            <div class="referred-form-sec row" id="divTeamMember">
                                <div class="col-sm-6">
                                    @* This Div append the TeamMember list of Who am I *@
                                    <div class="form-group zip_city zip select_box relation">
                                        <h3>Send From</h3>
                                        <select class="select_item" id="teamMember"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="referred-form-sec row">
                                <div class="col-sm-6">
                                    @* This Div append the Colleagues data of that Who am I *@
                                    <div class="form-group zip_city zip select_box relation">
                                        <h3>Send To</h3>
                                        @if (ViewBag.ColleagueCount !=null && ViewBag.ColleagueCount > 100)
                                        {
                                            string id = Convert.ToString(objColleaguelist.colleagues.FirstOrDefault().id);
                                            string text = Convert.ToString(objColleaguelist.colleagues.FirstOrDefault().text);
                                            <select class="select_item colleagueList" id="ddlColleague"  onchange="GetReferralData()">
                                                <option value="@id" selected="selected">@text</option>
                                            </select>
                                        }
                                        else
                                        {
                                            if (ViewBag.Colleaguelist != null)
                                            {
                                            <select class="select_item" id="ddlColleague" onchange="GetReferralData()">
                                                @foreach (var item in ViewBag.Colleaguelist)
                                                {
                                                    <option value="@item.id">@item.text</option>
                                                }
                                            </select>
                                            }
                                        }
                                        <div class="field-validation-error" id="spColleagueExist" style="display:none">You doesn't have any Colleague</div>
                                    </div>
                                    <div id="spColFromError" class="field-validation-error" style="display:none;padding-top:5px;">You can not sent referral your self.</div>
                                </div>                                                             
                                    <div class="col-sm-6" id="divLocation">
                                        <h3>Location</h3>
                                        @* This Div append the Location data based on selected Colleague *@
                                        <div class="form-group zip_city zip select_box relation">
                                            <select class="select_item" id="ddlLocation"></select>
                                        </div>
                                    </div>                              
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="testid" value="@ViewBag.IsIntigration" />
                    <div class="referred-by tabs_row clearfix" id="SecPatientList" style="display:none;">
                        <div class="row">
                            <h3>Select Patient</h3>
                            <div class="referred-form-sec row">
                                <div class="col-sm-12">
                                    <div class="table-responsive-md" id="PatientList">
                                        @Html.HiddenFor(t => t._patientInfo.PatientId, new { @id = "SelectedPatientId" })
                                        @Html.Action("PatientList")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="changeUI">
                    </div>
                    <div class="referred-by row">
                        <hr />
                        <h3>Attached Files</h3>
                    </div>
                    <div class="referred-form-sec row">
                        <div id="largeFileContainer" class="col-lg-12">Cannot Load Large File Attachments</div>
                        <script>
                            $.get("/OneClick/LargeFileUploadWidgetReferral", function (data) {
                                $("#largeFileContainer").html(data);
                            });
                        </script>
                    </div>
                    <div class="clearfix"></div>
                    <div class="captcha-box-sec row" id="ButtonDivId">
                        <div class="col-sm-12">
                            <div class="aligning-right-text center">
                                <button type="button" class="attach-file-btn" id="upfile" onclick="$('#files').trigger('click');"><i style="font-size:150%;" class="fa fa-paperclip"></i> Attach Files</button>
                                <button type="button" onclick="InsertData();" id="savnbtn">Send Referral</button>
                            </div>
                            <input type="file" name="Files" multiple="multiple" style="display:none" id="fileCtrl1" onchange="initFileUpload(this);">
                        </div>
                    </div>
                    <div class="referred-by"></div>
                    <div class="referred-by"></div>
                </div>
            </div>
        </div>
    </main>
</form>
<div class="modal fade" id="patient_delete" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 84%;">
            <div class="modal-body">
                <div class="text-center center">
                    <img src="~/Content/OneClickReferral/images/Delete_Popup.png" style="width: 24%;" />
                    <p class="mrgn-btm-0" style="margin: 0;" id="desc_message"></p>
                </div>
                <div class="modal-footer bdr-top-no">
                    <center>
                        <div class="btn-holder">
                            <button type="button" class="btn btn-default btn1" id="btn_no" data-dismiss="modal">No</button>
                            <button type="button" class="btn btn-default btn2 blue-bg mrgn-right-0" id="btn_yes">Yes</button>
                        </div>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Content/OneClickReferral/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/jquery.toaster.js"></script>
    <script src="~/Scripts/select2.min.js"></script>

    <script type="text/javascript">
        var apikey = '@(Common.SafeString(System.Configuration.ConfigurationManager.AppSettings["apikey"]))';
        var EncryptedUserId = '@SessionManagement.EncryptedUserId';
        var sessionToken = '@SessionManagement.access_token';
        var User = localStorage.getItem("UserId");
        if(localStorage.getItem("token") == null){
         localStorage.setItem("token",sessionToken);
        }
        if (EncryptedUserId != "" && EncryptedUserId != null) {
            User = EncryptedUserId;
        }
        if (!User) {
            window.location = '@Url.Action("Index", "Login")';
        }
        $(document).ready(function () {
            $("#Signup").css('display', 'none');
            $("#btnLink").removeAttr("href");
            $("#btnLink").css("cursor","pointer");
            $("#btnLink").click(function () {
                window.location.reload();
            });

            $("#dateofbirth.dateofbirth").keypress(function (event) { event.preventDefault(); });
            
            // $("#login").text("Dashboard");
            $("#logIn").css("display", 'none');
            $("#dashboard").css("display", 'block');
            //-- XQ1-256 - Showing sign up button all the time
            //$(".Signup").hide();
            $("#divLoading").show();
            //GetCollegeList();
            GetTeam();
            @if (ViewBag.ColleagueCount != null)
            {
                @:GetReferralData();
            }     
            if ($('#ddlColleague > option').length == 0) {
                $("#ddlColleague").css("display", "none");
                $("#divLocation").css("display", "none");
                $("#spColleagueExist").css("display", "block");
                $("#upfile").attr("disabled", true);
                $("#savnbtn").attr("disabled", true);
                $("#upfile").css("cursor", "no-drop");
                $("#savnbtn").css("cursor", "no-drop");              
            } 
            $("#divLoading").hide();

            //Change XQ1-1059
            @if (ViewBag.alert != null && ViewBag.alert == true)
        {
            <text>
            let messageId = 0;
            if (EncryptedUserId != null && EncryptedUserId != "" && EncryptedUserId != undefined) {
                 messageId = "@ViewBag.messageId"
            }
            $("#success").show();
            setTimeout(function () {
                $("#success").hide();
                if (messageId != null && messageId != "" && messageId != undefined) {
                    window.location.href = "/Dashboard/GetConversationView?MessageId=" + messageId;
                }

            }, 5000);
            </text>
         }
            @if (ViewBag.alert != null && ViewBag.alert == false)
        {
            <text> $("#error").show();
            setTimeout(function () {
                $("#error").hide();
            }, 5000); </text>
        }
            if ($.trim(localStorage.getItem('referPatientId')).length > 0) {
                SelectPatient(localStorage.getItem('referPatientId'));
                localStorage.removeItem('referPatientId')
            }
        });

        
        function BindTeamFileUpload(FileIds) {
            $("#divLoading").show();            
            performAjax({
                url: "/OneClick/GetTempFiles",
                type: "POST",
                data: { FileIds: FileIds },
                success: function (data) {
                    $("#imagesList .attachment-list").append(data);
                    $("html, body").animate({ scrollTop: $(document).height() }, "slow");
                    $("#divLoading").hide();
                    if ($("#hduploadfiles").val()) { $("#dvshowtitle").show() }
                }
            });

            @*$.post("@Url.Action("GetTempFiles", "OneClick")", { FileIds: FileIds }, function (data) {
                $("#imagesList .attachment-list").append(data);
                $("html, body").animate({ scrollTop: $(document).height() }, "slow");
                $("#divLoading").hide();
                if ($("#hduploadfiles").val()) { $("#dvshowtitle").show() }
            });*@
        }
   

        if ($.trim(localStorage.getItem("ToColleague")).length > 0) {
            $("#ddlColleague").val(localStorage.getItem("ToColleague"));
        } else if ($.trim(localStorage.getItem("ddlColleagueId")).length > 0) {
            $("#ddlColleague").val(localStorage.getItem("ddlColleagueId"));
            localStorage.removeItem('ddlColleagueId');
        }
        $(document).on('click', '.Signout', function () {
            localStorage.clear();
            window.location.href = "@Url.Action("Logout","OneClick",new { fromPage="OCR" },Request.Url.Scheme)"
        })
    </script>

    <script src="~/Scripts/ControllerJS/OneClick/V2.js"></script>
   
}
