﻿@model List<BO.Models.AccountIntegration>


@foreach (var item in Model)
    {
        <tr class="Step" data-step="0" id='@item.DentrixConnectorId' data-locationid="@item.LocationId">
        <td>
            Guid Key<br />
            @*@if (!string.IsNullOrEmpty(item.LastSyncDate))
            {
                @item.LastSyncDate
            }
            else
            {
                <span>You have never sync dentrix</span>
            }*@
        </td>
        <td data-th="">
            <input class="form-control" value="@item.GUIDKey" type="text" readonly="readonly">
            <input class="form-control" value="@item.DentrixConnectorId" type="hidden" data-guid="@item.DentrixConnectorId">
        </td>
        <td data-th="Owner">
            <div class="dropdown" id="SelectLocation_">
                @Html.DropDownList("Location", ViewBag.LocationList as List<SelectListItem>, item.LocationId, new { @id = "ddlLocation", @class = "form-control", @style = "width:100%;", @disabled = "disabled" })
            </div>
        </td>
        <td>
            <ul class="icon-list">
                <li><a href="javascript:;" onclick="OpenDeleteDeleteDentrixConnectorFromId('@item.DentrixConnectorId')"><i class="ico-delete4"></i></a></li>
                @*<li><a href="javascript:;" id="btn_delete" onclick="IsSyncDentrix('@item.DentrixConnectorId')"><i class="ico-edit"></i></a></li>*@
            </ul>
        </td>
    </tr>
}
