﻿@model NewRecordlinc.Models.AccountSettings.mdlSyncInfusionSoft

<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header blue-bg">
            <button type="button" class="close close-circle" data-dismiss="modal"  onclick="UncheckInfusion()">&times;</button>
            <h3 class="modal-title white">Synchronize patients with InfusionSoft</h3>
        </div>
        <div class="modal-body">
            <div class="text-center center">
                <p class="mrgn-btm-0" style="margin: 0;"></p>
                <div class="dropdown">
                    <p align="left">Sync Per Day:</p>
                    <input type="hidden" value="@Model.SyncPerDay" id="syncperday" />
                    <select class="form-control" id="ddlSyncPerDay">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>
                <img id="imgsync" src="~/Images/SyncIcon/Sync.png" />
            </div>
            <div class="modal-footer bdr-top-no">
                <div class="btn-group btn-holder">
                    <button type="button" class="btn btn-default btn1" id="btn_no" data-dismiss="modal" onclick="UncheckInfusion()" >No</button>
                    <button type="button" class="btn btn-default btn2 blue-bg mrgn-right-0" onclick="return SaveDataSyncInfusionSoft();">Yes</button>

                </div>
            </div>
        </div>
    </div>
</div>
