﻿@{
    ViewBag.Title = "Callback";
    Layout = "~/Views/Shared/SiteLayoutInner.cshtml";
}
<script>

    SetName();

    function SetName() {
        
        setTimeout("", 2000)
        if (window.opener != null && !window.opener.closed) {
            var imgsync = window.opener.document.getElementById("imgsync");
            imgsync.src = "@Url.Content("~/Images/SyncIcon/SyncDone.png")";
        }
        window.close();
    }
</script> 

<h2>Callback</h2>

<div class="content">
    <div class="content_base">
        <div class="inner">
            <h3>@ViewBag.msg</h3>
            <div class="clear"></div>
        </div>
    </div>

</div>

