﻿@model List<BO.Models.PatientSectionMapping>

@{
    ViewBag.Title = "ReferralFormSettings";
    Layout = "~/Views/Shared/_NewSiteLayoutInner.cshtml";
}



<main id="main" role="main">
    <div class="container">
        <div class="new-case case-overview new_cases_view">
            <div class="row btm-margin-30  row-bordered referral">
                <div class="col-lg-12 ">
                    <div class="row fve_button">
                        <div class="col col-lg-12 #hide-on-phones">
                            <h1 class="inline">Referral Form Settings</h1>
                        </div>
                    </div>
                </div>
            </div>
            <form role="form" action="#" class="new_plan" id="group" autocomplete="off">
                <div class="mrgn-btm-20">
                    <h2>Patient Information</h2>
                </div>
                <div id="mainDivId">
                    <div class="row">
                        <div class="col-lg-12" id="DetailId">
                            <div class="services mrgn-btm-20">
                                @foreach (var item in Model)
                                {

                                    var itemName = @item.SectionName.Replace(" ", "");
                                    <div class="enter-email-bar mrgn-0 ref_form_setting SectionClass">
                                        <span class="enable" id="specid">@item.SectionName</span>
                                        <label class="switch">
                                            <input type="checkbox" checked="@item.IsEnable" id="isSelected_@itemName" onchange="ShowRefSettingData('isSelected_@itemName', 'Service_@itemName');" data-id="@item.SectionId" data-name="@itemName" />
                                            <span class="slider round1"></span>
                                        </label>
                                        <div id="Service_@itemName">
                                            @if (item.lstFieldMapping.Count > 0)
                                            {

                                                var count = Convert.ToInt32(item.lstFieldMapping.Count);
                                                <div class="col-lg-12" style="margin-top:30px;">
                                                    <div class="services" style="margin-bottom:5px;">

                                                        @for (int i = 0; i < count; i++)
                                                        {
                                                            var subfldCount = Convert.ToInt32(item.lstFieldMapping[i].lstSubFieldMapping.Count);
                                                            var item1Name = item.lstFieldMapping[i].FieldName.Replace(" ", "");
                                                            <div class="enter-email-bar mrgn-0 ref_form_setting itemDiv">
                                                                <span class="enable">@item.lstFieldMapping[i].FieldName</span>
                                                                <label class="switch">
                                                                    <input type="checkbox" checked="@item.lstFieldMapping[i].IsEnable" id="isSelected_@item.lstFieldMapping[i].FieldId" data-name="@item.lstFieldMapping[i].SectionId"
                                                                           data-id="@item.lstFieldMapping[i].FieldId" onchange="ShowSubItemData('isSelected_@item.lstFieldMapping[i].FieldId', 'Service_@item.lstFieldMapping[i].FieldId');" />
                                                                    <span class="slider round1"></span>
                                                                </label>
                                                                @*Inner Item*@
                                                                @if (subfldCount > 0)
                                                                {
                                                                    <div id="Service_@item.lstFieldMapping[i].FieldId">
                                                                        <div class="col-lg-4" style="margin-top:30px;">
                                                                            <div class="services" style="margin-bottom:5px;">

                                                                                @for (int j = 0; j < subfldCount; j++)
                                                                                {
                                                                                    var SubitemName = item.lstFieldMapping[i].lstSubFieldMapping[j].FieldName.Replace(" ", "");
                                                                                    <div class="enter-email-bar mrgn-0 ref_form_setting FinalDiv">
                                                                                        <span class="enable">@item.lstFieldMapping[i].lstSubFieldMapping[j].FieldName</span>
                                                                                        <label class="switch">
                                                                                            <input type="hidden" value="@item.lstFieldMapping[i].lstSubFieldMapping[j].SubFieldId" id="hdnSubFieldId"/>
                                                                                            <input type="checkbox" checked="@item.lstFieldMapping[i].lstSubFieldMapping[j].IsEnable"
                                                                                                   id="isSelected_@item.lstFieldMapping[i].lstSubFieldMapping[j].ParentFieldId" data-name="@item.lstFieldMapping[i].lstSubFieldMapping[j].SectionId" data-id="@item.lstFieldMapping[i].lstSubFieldMapping[j].ParentFieldId" />
                                                                                            <span class="slider round1"></span>
                                                                                        </label>

                                                                                    </div>
                                                                                }
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                }


                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mrgn-btm-20">
                    <div class="col-lg-12">
                        <div class="btn-group btn-holder">
                            <button type="button" id="btn-save-point" class="btn btn-default btn2 blue-bg mrgn-right-0" onclick="SaveReferralFormSettings()"><i class="ico-save"></i>Save</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>

<script>

    $(document).ready(function () {
        $(".SectionClass").each(function () {
            var name = $(this).find('input[type=checkbox]').data('name');
            if ($(this).find('input[type=checkbox]').is(':checked')) {
                $("#Service_" + name).show();
            }
            else {
                $("#Service_" + name).hide();
            }
        });
    });
    function ToggleSaveButton(id) {
        $('#' + id).attr('disabled', true);
        setTimeout(function () {
            $('#' + id).attr('disabled', false);
        }, 4000);
    }
    function ShowRefSettingData(id, divid) {
        $('#' + id).is(':checked') ? $('#' + divid).show() : $('#' + divid).hide();
        if ($('#' + id).is(':checked') == false) {
            $("#" + divid + " .itemDiv").each(function () {
                $(this).find('input[type=checkbox]').attr("checked", false);
            });
        }
    }
    function ShowSubItemData(id, divid) {
        if ($('#' + id).is(':checked')) {
            $('#' + divid).show();
        }
        else {
            $('#' + divid).hide();
        }
        if ($('#' + id).is(':checked') == false) {
            $("#" + divid + " .FinalDiv").each(function () {
                $(this).find('input[type=checkbox]').attr("checked", false);
            });
        }
    }

    function SaveReferralFormSettings() {
        

        var obj = [];

        //Section Object
        $(".SectionClass").each(function (index) {
            proc = {
                'SectionId': $(this).find('input[type=checkbox]').data('id'),
                'IsEnable': $(this).find('input[type=checkbox]').is(':checked'),
                'OrderBy': index + 1
            }
            obj.push(proc);
        });

        //Field Object
        var fieldObj = [];

        $(".itemDiv").each(function (index) {
            proc = {
                'SectionId': $(this).find('input[type=checkbox]').data('name'),
                'FieldId': $(this).find('input[type=checkbox]').data('id'),
                'IsEnable': $(this).find('input[type=checkbox]').is(':checked'),
                'OrderBy': index + 1
            }
            fieldObj.push(proc);
        });

        //final Section
        var subsectionObj = [];
        $(".FinalDiv").each(function (index) {
            proc = {
                'SectionId': $(this).find('input[type=checkbox]').data('name'),
                'ParentFieldId': $(this).find('input[type=checkbox]').data('id'),
                'SubFieldId':  $(this).find('input[type=hidden]').val(),
                'IsEnable': $(this).find('input[type=checkbox]').is(':checked'),
                'OrderBy': index + 1
            }
            subsectionObj.push(proc);
        });

        $.ajax({
            url: "/AccountSettings/InsertDentistPatientreferralFormSetting",
            type: "POST",
            data: { secobj: obj, fildObj: fieldObj, subfieldObj: subsectionObj },
            success: function () {
                $.toaster({ priority: 'success', title: 'Notice', message: 'Referral Form Settings saved Successfully' });
                ToggleSaveButton('btn-save-point');
            }

        });
    }
</script>
