﻿@{
    ViewBag.Title = "Recordlinc - AccountSetting";
    Layout = "~/Views/Shared/SiteLayoutInner.cshtml";
    if (ViewBag.IsDentrixIsInProcess == 1)
    {
        <input type="hidden" id="IsActive" value="@ViewBag.IsDentrixIsInProcess" />
    }
}
<style>
    /*select {
        -webkit-appearance: none !important;
    }*/

    .passvalidation {
        width: 56%;
        margin-top: -12em;
        position: absolute;
        -webkit-margin-before: -9em;
    }

    #pswd_info {
        position: absolute;
        bottom: -259px;
        /*bottom: -115px\9;*/ /* IE Specific */
        right: 55px;
        width: 250px;
        padding: 15px;
        background: #fefefe;
        font-size: .875em;
        border-radius: 5px;
        box-shadow: 0 1px 3px #ccc;
        border: 1px solid #ddd;
        z-index: 1111;
    }

        #pswd_info h4 {
            margin: 0 0 10px 0;
            padding: 0;
            font-weight: normal;
        }

        #pswd_info::before {
            content: "\25B2";
            font-size: 14px;
            color: #ddd;
            text-shadow: none;
            float: left;
            margin-left: 0;
            margin-top: -29px;
        }

    .invalid {
        background: url(/Content/images/pass-wrong.png) no-repeat 0 50%;
        padding-left: 22px;
        line-height: 24px;
        color: #ec3f41;
    }

    .valid {
        background: url(/Content/images/pass-right.png) no-repeat 0 50%;
        padding-left: 22px;
        line-height: 24px;
        color: #3a7d34;
    }

    #pswd_info {
        display: none;
    }

    #select4 {
        float: right;
        height: 28px;
        margin-top: 15px;
        padding: 1px !important;
        width: 17% !important;
        margin-right: 4px !important;
    }

    @@media all and (max-width:800px) {
        .passvalidation {
            width: 100%;
            margin-top: -20em;
            margin-left: 17px;
        }
    }

    .select2 {
        width: 17% !important;
        float: right !important;
        margin-top: 9px !important;
        padding-right: 4px !important;
    }

    .select2-container .select2-selection--single {
        height: 36px !important;
        padding-top: 10px !important;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 17px !important;
        padding-top: 0px !important;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 21px !important;
    }
</style>
<!-- Tabs Files -->
<link href="../../Content/css/tabs.css" rel="stylesheet" type="text/css" />
<script type='text/javascript' src='../../Content/js/tabs.js'></script>
<!-- Profile Popup -->
<script src="../../Content/js/jquery.toolbar.js"></script>

<script>
    $(document).ready(function (e) {
        $('.tab_contents').hide();
        $('.tab_contents:first').show();
        $('.tab_links li a').on('click', function () {
            var lnk = $(this).attr('href');
            $(lnk).show().siblings().hide();
            $(this).addClass('active').parent().siblings().find('a').removeClass('active');

        });

        GetCurrentEmails();

        $('#chkInfusionSoft').on('click', function (e) {

            if ($(this).is(":checked")) {
                $('#OpenPopup').click();
                GetDataSyncInfusionSoft();
            } else {
                UpdateDataSyncInfusionSoft();
            }
        });
        $('#chkdentrix').on('click', function (e) {

            if ($(this).is(":checked")) {
                $('#OpenPopup').click();

            }

        });
        if ($('#IsActive').val() == "1") {
            $("#dentrixsyncbtn").attr("disabled", "disabled");
            $("#weekstatusconfigid").css("display", "block");
            $("#lastsyncid").css("display", "none");
        }
        $(document).on('click', '.mfp-close', function () {


            if ($('#chkInfusionSoft').val() == "false") {
                $('#chkInfusionSoft').prop('checked', false);
            }
            else {
                $('#chkInfusionSoft').prop('checked', true);
            }
        });


    });
    function validation() {
        
        $("#pswd_info").css("display", "block");
        var Pass = $("#txtpassword").val();
        if (Pass.length < 8) {
            $('#length').removeClass('valid').addClass('invalid');
        } else {
            $('#length').removeClass('invalid').addClass('valid');
        }
        if (Pass.match(/[a-z]/)) {
            $('#letter').removeClass('invalid').addClass('valid');
        } else {
            $('#letter').removeClass('valid').addClass('invalid');
        }

        //validate capital letter
        if (Pass.match(/[A-Z]/)) {
            $('#capital').removeClass('invalid').addClass('valid');
        } else {
            $('#capital').removeClass('valid').addClass('invalid');
        }

        //validate number
        if (Pass.match(/\d/)) {
            $('#number').removeClass('invalid').addClass('valid');
        } else {
            $('#number').removeClass('valid').addClass('invalid');
        }
        var ankit = Pass.replace(/([0-9a-zA-Z])+/g, "");

        if (/^[!@@#$%^&*()_+{}:\"\\\'?></.,|]+$/.test(ankit)) {

            $('#special').removeClass('invalid').addClass('valid');
        }
        else {
            $('#special').removeClass('valid').addClass('invalid');
        }
    }
    function hide() {
        $("#pswd_info").css("display", "none");
    }

    $(document).ready(function () {
        function RecieverRepeatForLocation() {

            var lav = $('#SelectLocation').children('ul').children('li').attr('rel');
            var relattr = "";
            $('#SelectLocation').children('ul').children('li').each(function () {
                relattr += ',' + $(this).attr('rel');

            });
            relattr = relattr.split(',');

            for (i = 0; i < relattr.length; ++i) {


                $('#SelectLocation').children('div').children('ul').children('li').each(function () {
                    if (relattr[i] == $(this).attr('rel')) {
                        $(this).css('display', 'none');
                    }
                });
            }
        }

        $('#SelectLocation').keyup(function () {

            clearTimeout(timer);
            timer = setTimeout(RecieverRepeatForLocation, 10)

        });

        // BindLocationList();
    });

    function GetCurrentEmails() {
        jQuery.ajaxSetup({ async: false });
        $.post("/AccountSettings/GetCurrentData", {}, function (data) {
            if (data != null && data != "") {

                $("#LocationId").val(data.LID);
                $("#hdnLocationId").val(data.LID);

                GetTimeZoneName(data.LID);

                $('#txtemail').val(data.PE);
                $('#hdnprimaryemail').val(data.PE);

                $('#txtUsername').val(data.LOGU);
                $('#hdnloginusername').val(data.LOGU);

                $('#txtemailSecondary').val(data.SE);
                $('#hdnsecondaryemail').val(data.SE);

                document.getElementById('divstaylogged').innerHTML = data.DDL;
                $('#hdnstaylogged').val(data.SLV);

               // $('#txtAccountId').val(data.AId);
                //$('#txtAccountKey').val(data.AKey);

                //$('#chkInfusionSoft').val(data.blInfusionSoft);
                //$('#chkInfusionSoft').prop('checked', data.blInfusionSoft);
                //$('#txtdentrixproviderid').val(data.DentrixProviderId);
                // console.log("Guids =" + data.Guidis);
                //if (data.Guidis != null && data.Guidis != "") {
                //    var Split = data.Guidis.split('*');

                //    for (var i = 0; i < Split.length; i++) {
                //        var MyDiv = Split[i].split('?');
                //        $("#addrow").append(MyDiv[0]);
                //        var NewSplite = Split[i];
                //        NewSplite = NewSplite.split('?');

                //        jQuery.ajaxSetup({ async: false });
                //        var x = '';
                //        var ColleaguesId = NewSplite[1];

                //        if ($('#select4').val() != null && $('#select4').val() != "") {
                //            x = $('#select4').val().toString();
                //        }

                //        if (ColleaguesId != null && ColleaguesId != "") {
                //            x = ColleaguesId;
                //        }

                //        $.post("/AccountSettings/GetLocationList", { selected: x },
                //            function (data) {
                //                if (data != '') {
                //                    document.getElementById("SelectLocation" + i).innerHTML = data.toString();
                //                    $(".selection").select2({
                //                        minumumInputLenth: 1,
                //                        placeholder: 'Select Location',
                //                    });
                //                    $(".selection").val("");
                //                }

                //                else {
                //                    document.getElementById("SelectLocation" + i).innerHTML = 'Location not found';
                //                }
                //            });
                //        jQuery.ajaxSetup({ async: true });

                //    }
                //}
            }
            jQuery.ajaxSetup({ async: true });
        });
    }
    function GetTimeZoneName(LocationId) {

        if ($.trim($("#hdnLocationId").val()) != LocationId) {
            //swal({ title: "", text: "An error occured while getting timezone of specifid location.", type: "warning" });

            swal({
                title: "",
                text: "All appointments associated with this location will not display in appointment view, as location associated with this user has changed. Are you sure you want to change location?",
                type: "warning",
                showCancelButton: true,
                confirmButtonText: "Yes",
                cancelButtonText: "No",
                closeOnConfirm: true,
                closeOnCancel: true
            },
            function (isConfirm) {
                if (isConfirm) {
                    $("#divLoading").show();
                    $.ajax({
                        url: "/AccountSettings/GetTimezone",
                        type: "post",
                        async: false,
                        data: { LocationId: LocationId },
                        success: function (data) {
                            $("#divLoading").hide();
                            $("#lblTimeZone").html("<div style=\"height:10px\">&nbsp;</div>" + data);
                        },
                        fail: function () {
                            swal({ title: "", text: "An error occured while getting timezone of specifid location." });
                            $("#divLoading").hide();
                        }
                    });
                }
                else {
                    $("#LocationId").val($("#hdnLocationId").val());
                    GetTimeZoneName($("#hdnLocationId").val());
                }
            });
        }
        else {
            $("#divLoading").show();
            $.ajax({
                url: "/AccountSettings/GetTimezone",
                type: "post",
                async: false,
                data: { LocationId: LocationId },
                success: function (data) {
                    $("#divLoading").hide();
                    $("#lblTimeZone").html("<div style=\"height:10px\">&nbsp;</div>" + data);
                },
                fail: function () {
                    swal({ title: "", text: "An error occured while getting timezone of specifid location." });
                    $("#divLoading").hide();
                }
            });
        }


        // jQuery.ajaxSetup({ async: true });
    }



    function SubmitData() {
        var Identifier = null;
        var PrimaryEmail = $('#hdnprimaryemail').val();
        var PrimaryEmailNew = $('#txtemail').val();
        var LocationId = $("#LocationId").val();
        var defaultLocationId = $("#hdnLocationId").val();

        if ($("#txtemail").val() == null || $("#txtemail").val() == '' || $("#txtemail").val() == "") {
            swal({ title: "", text: "Please enter valid email address in Primary Email field." });
            return false;
        }

       

        if ($("#txtemailSecondary").val() == $("#txtemail").val()) {
            swal({ title: "", text: "Primary and Secondary emails are same. Please try again with another Email ID." });
            // alert("Primary and Secondary email's are same please try again with another mail id.");
            return false
        }

        if (PrimaryEmailNew != PrimaryEmail) {
            if ($("#txtemail").val() != null && $("#txtemail").val() != "") {

                var result = IsEmail($("#txtemail").val());
                if (result == true)
                { Identifier = "1"; }
                else {
                    swal({ title: "", text: 'Please enter valid primary email' });
                    // alert("Please enter valid primary email");
                    document.getElementById("txtemail").focus();
                    return false;
                }
            }
        }

        if ($("#txtpassword").val() != "") {
            if ($("#txtconfirmpassword").val() == "") {
                swal({ title: "", text: 'Please enter confirm password' });
                // alert("Please enter Confirm password");
                return false;
            }
        }

        if ($("#txtpassword").val() != $("#txtconfirmpassword").val()) {
            swal({ title: "", text: 'New Password and Confirm Password does not match' });
            //  alert("password and Confirm password does not match!");
            return false;
        }

        var SecondaryEmail = $('#hdnsecondaryemail').val();
        var SecondaryEmailNew = $("#txtemailSecondary").val();
        var Pemail = $('#txtemail').val().split('@@');

        if (Pemail[0].length > 30) {
            swal({ title: "", text: 'Email should be of valid 30 characters only' });
            // alert('Email should be of valid 30 characters only');
            $('#txtemail').focus();
            return false;
        }
        var SEmail = $('#txtemailSecondary').val().split('@@');
        if (SEmail[0].length > 30) {
            swal({ title: "", text: 'Email should be of valid 30 characters only' });
            // alert('Email should be of valid 30 characters only');
            $('#txtemailSecondary').focus();
            return false;
        }
        if (SecondaryEmailNew != SecondaryEmail) {
            if ($("#txtemailSecondary").val() != null && $("#txtemailSecondary").val() != "") {

                var result1 = IsEmail($("#txtemailSecondary").val());
                if (result1 == true) {
                    if (Identifier != null && Identifier != "") {
                        Identifier = Identifier + "2";
                    }
                    else {
                        Identifier = "2";
                    }

                }
                else {
                    swal({ title: "", text: 'Please enter valid email address in Secondary Email field.' });
                    // alert("Please enter valid secondary email");
                    document.getElementById("txtemailSecondary").focus();
                    return false;
                }
            }
        }

        var pass = $('#txtpassword').val();
        var conpass = $('#txtconfirmpassword').val();

        if (pass != null && pass != "" && conpass != null && conpass != "") {

            if (pass != conpass) {
                swal({ title: "", text: 'Please check that you have entered and confirmed your password' });
                //alert('Please check that you have entered and confirmed your password!');
                return false;
            }
            else {

                var re = /^.*(?=.{8,})(?=.*[a-z])(?=.*[A-Z])(?=.*[\d])(?=.*[@@#!$%^&+=]).*$/;
                if (!re.test(pass)) {
                    validation();
                    //alert('Password must be a minimum of 8 characters long  and contain \n an upper and lower case letter, a number, and a symbol such as #,!,$,%,&,_..');
                    swal({ title: "", text: 'Password must be a minimum of 8 characters long  and contain \n an upper and lower case letter, a number, and a symbol such as #,!,$,%,&,_..' });
                    return false;
                }
                else {
                    if (Identifier != null && Identifier != "") {
                        Identifier = Identifier + "3";
                    }
                    else {
                        Identifier = "3";
                    }
                }
            }
        }
        var Staylogged = $('#hdnstaylogged').val();
        var StayloggedNew = $('#ddlStayloggedMins').val();
        if (StayloggedNew != Staylogged) {

            if (Identifier != null && Identifier != "") {
                Identifier = Identifier + "4";
            }
            else {
                Identifier = "4";
            }
        }

        var LoginUserName = $.trim($('#hdnloginusername').val());
        var LoginUseraNameNew = $.trim($('#txtUsername').val());
        if (LoginUseraNameNew.length == 0) {
            swal({ title: "", text: 'Please enter User Name' });
            document.getElementById("txtUsername").focus();
            return false;
        }
        if (LoginUserName != LoginUseraNameNew) {
            if (Identifier != null && Identifier != "") {
                Identifier = Identifier + "5";
            }
            else {
                Identifier = "5";
            }
        }
        else {
            LoginUseraNameNew = "";
        }
        //var LocationId = [];
        var GUIDKEY = [];
        if (LocationId != defaultLocationId) {
            Identifier = (Identifier) ? Identifier + "6" : "6";
        }
        if ($("#txtemail").val() != null && $("#txtemail").val() != "") {
            $.post("/AccountSettings/UpdateData", { NewPrimaryEmail: $("#txtemail").val(), NewSecondaryEmail: $("#txtemailSecondary").val(), NewPassword: $('#txtpassword').val(), Identifier: Identifier, NewStayloggedMins: $('#ddlStayloggedMins').val(), LoginUserName: LoginUseraNameNew, LocationId: LocationId }, function (data) {
                if (data != null && data != "") {
                    if (data.obj != null && data.obj != "") {
                        swal({
                            title: "",
                            text: data.obj,
                            showConfirmButton: true,
                            closeOnConfirm: true
                        },
                        function () {
                            window.location = document.location;
                        });
                    }
                }
            });

        }
        else {
            swal({ title: "", text: 'Please enter primary email' });
            // alert('Please enter primary email');
            return false;
        }
    }
    function RemoveDentrixConnectorRow(id) {
        if (id != null && id != "") {
            $("#" + id).closest('.li').remove();
        }

    }
    function Generatenewrow() {

        $.post("/AccountSettings/AddDentrixConnectorRow", function (data) {

            if (data != null && data != "") {
                var Splite = data.split('--');
                $("#addrow").append("<li class=\"li\"><label>GUID Key</label><img src=\"/Content/images/icon_delete.png\" style=\"float:right;margin-top:14px;\" onclick=\"return RemoveDentrixConnectorRow('" + Splite[0] + "');\"/><img src=\"/Images/sync_now.png\" onclick=\"IsSyncDentrix('" + Splite[0] + "');\" value=\"SyncDentrix\" style=\"float:right;margin-top:9px;height:36px;margin-right:4px;\" /> <span class=\"fluid fluid_cont SelectLocation\" id=\"SelectLocation\"></span><div class=\"grey_frmbg\" style=\"width: 30%;\"><input type=\"text\" title=\"GUID Key\" id=\"" + Splite[0] + "\" name=\"txtGUID\" readonly=\"readonly\" style=\"float:right;\" value=\"" + Splite[0] + "\" /></div><p style=\"margin-top:42px;color: #515152;font-size:14px;\">You have never sync dentrix</p></li>");
                BindLocationList();
            }
        });
    }
</script>
<style type="text/css">
    input[type="password"], textarea {
        color: #666666;
        padding: 10px;
        resize: none;
    }

    .inner {
        margin: 0 0 0 !important;
    }

</style>
<script type="text/javascript">
    var popup;
    function gotosync() {

        popup = window.open("@Url.Action("Authorize", "AccountSettings")", "Popup", "width=500,height=500");
        popup.focus();
    }
</script>
<!-- Main content -->
<link rel="stylesheet" type="text/css" href="~/Content/css/select2.min.css" />
<script type="text/javascript" src="~/Scripts/select2.min.js"></script>
<input type="hidden" id="hdnprimaryemail" />
<input type="hidden" id="hdnsecondaryemail" />
<input type="hidden" id="hdnstaylogged" />
<input type="hidden" id="hdnloginusername" />
<div class="content">
    <div class="content_base">
        <!-- Breadcrumb starts-->
        <div class="breadcrumb">
            <ul>
                <li>
                    <a href='@Url.Action("Index", "Index")'>
                        <img width="16" height="14" class="hires" src="../../Content/images/home-icon.png"
                             alt="Home">
                    </a><span class="after"></span>
                </li>
                <li>
                    <span class="before"></span><a href='@Url.Action("Index", "Profile")'>Profile</a><span class="after"></span>
                </li>
                <li class="active">
                    <span class="before"></span><a href='@Url.Action("Index", "Accountsettings")'>
                        Account Settings
                    </a><span class="after"></span>
                </li>
                <li><a href='@Url.Action("PatientNotificationSetting", "ViewReports")'><img src="~/Content/images/PatientNotificationSetting.png" /></a></li>
            </ul>
        </div>
        <!-- Breadcrumb ends-->
        <div class="buttons_holder margintop20 clearfix">
            <a href="" class="account_type_btn" style="display: none;"></a><a href="" class="basic_btn"
                                                                              style="display: none;"></a><a target="_blank"
                                                                                                            href='@Url.Action("UpgradeAccount", "FreeToPaid")' class="upgrade_account_btn"></a>
            <a href='@Url.Action("PatientNotificationSetting", "Accountsettings")'><img src="~/Content/images/PatientNotificationSetting.png" /></a>
            <a href='@Url.Action("ReferralFormSettings", "AccountSettings")'><img src="~/Content/images/Referral Form Setting.png" style="margin-left:10px;margin-top:-1px;" /></a>
        </div>
        <!-- Inner Content Starts -->
        <h3 class="heading">
            Account settings
        </h3>
        <div class="inner">
            <div class="tabbed_form">

                <div class="tab_content_parent">
                    <div id="patient_info" class="tab_contents">
                        <ul style="border-top: none;" class="tabbed_form_content">

                            <li>
                                <label>
                                    Stay logged in for <sup class="mandatory">*</sup>
                                </label>
                                <div class="grey_frmbg " id="divstaylogged" >
                                </div>
                            </li>
                            <li>
                                <label>
                                    User Name <sup class="mandatory">*</sup>
                                </label>
                                <div class="grey_frmbg">
                                    <input type="text" title="User Name" id="txtUsername" />
                                </div>
                            </li>
                            <li>
                                <label>
                                    Primary Email <sup class="mandatory">*</sup>
                                </label>
                                <div class="grey_frmbg">
                                    <input type="text" title="Primary Email" id="txtemail" />
                                </div>
                            </li>
                            <li>
                                <label>
                                    Secondary Email
                                </label>
                                <div class="grey_frmbg">
                                    <input type="text" title="Secondary Email" id="txtemailSecondary" />
                                </div>
                            </li>
                            <li>
                                <label>
                                    New Password 
                                </label>
                                <div class="grey_frmbg">
                                    <input type="password" title="New Password" id="txtpassword" onkeyup="validation()" onblur="hide()" />
                                </div>
                            </li>
                            <li>
                                <label>
                                    Confirm Password
                                </label>
                                <div class="grey_frmbg">
                                    <input type="password" title="Confirm Password" id="txtconfirmpassword" />
                                </div>
                            </li>
                            <li>
                                <label>
                                    Location <sup class="mandatory">*</sup>
                                </label>
                                <div class="grey_frmbg">
                                    @Html.DropDownList("LocationId", new SelectList(ViewBag.locationList, "locationId", "LocationName"), new { onChange = "GetTimeZoneName(this.value)" })
                                    @Html.Hidden("hdnLocationId")
                                </div>

                            </li>
                            <li>
                                <label>
                                    Time Zone
                                </label>
                                <div class="grey_frmbg" id="lblTimeZone" style="background:none;font-weight:bold; height:37px">
                                    <div style="height:10px">&nbsp;</div>
                                    &nbsp;
                                </div>

                            </li>
                            @*<li>
                                    <label>
                                        Account Id
                                    </label>
                                    <div class="grey_frmbg">
                                        <input type="text" title="Account Id" id="txtAccountId" readonly="readonly" />
                                    </div>
                                </li>
                                <li>
                                    <label>
                                        Account Key
                                    </label>
                                    <div class="grey_frmbg">
                                        <input type="text" title="Account Key" id="txtAccountKey" readonly="readonly" />
                                    </div>
                                </li>*@
                        </ul>

                    </div>
                </div>
            </div>
            <input type="submit" class="frm_smt_btn" onclick="return SubmitData()">
            <div class="clear">
            </div>
        </div>
        <div id="new" class="passvalidation">
            <div id="pswd_info" style="float:left;">
                <h4>Password must meet the following requirements:</h4>
                <ul>
                    <li id="letter" class="invalid">At least <strong>one small letter</strong></li>
                    <li id="capital" class="invalid">At least <strong>one capital letter</strong></li>
                    <li id="number" class="invalid">At least <strong>one number</strong></li>
                    <li id="special" class="invalid">At least <strong>one special symbol</strong></li>
                    <li id="length" class="invalid">Be at least <strong>8 characters</strong></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- content base ends-->
</div>
<!-- content ends here -->


<a href="#infusionsoftsync" id="OpenPopup" title="Referral" style="display:none; visibility:hidden;" class="frmreferpatients edit popup-with-form showlightbox"></a>

<div id="infusionsoftsync" class="mfp-hide white-popup-block">
    <h2 class="title">Synchronize patients with InfusionSoft</h2>
    <div>
        <div class="cntnt">
            <ul class="tablelist">
                <li>
                    <label>
                        Sync Per Day:
                    </label>
                    <div tabindex="6" id="dvCountry">
                        <select name="ddlSyncPerDay" id="ddlSyncPerDay">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div>
                </li>
                <li>
                    <a href="javascript:void(0);" onclick="gotosync();"><img id="imgsync" width="100%" src="~/Images/SyncIcon/Sync.png" /></a>
                </li>
            </ul>

            <div class="clear">
            </div>

            <div style="margin-top: 2px;" class="actions">
                <input type="button" value="Save" name="Save" class="save_btn" onclick="return SaveDataSyncInfusionSoft();">
                <input type="button" name="Cancel" value="Cancel" class="cancel_btn">
                <div class="clear">
                </div>
            </div>
        </div>
    </div>
</div>
