﻿@{
    if(string.IsNullOrEmpty(Convert.ToString(Session["AdminUserId"])))
    {
        Layout = "~/Views/Shared/SiteLayoutInner.cshtml";
        ViewBag.Title = "Recordlinc - AccountSetting";

    }
    else
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
        ViewBag.Title = "Admin - Integrations | Recordlinc";

    }
    if (ViewBag.IsDentrixIsInProcess == 1)
    {
        <input type="hidden" id="IsActive" value="@ViewBag.IsDentrixIsInProcess" />
    }
    string strUserId = "0";
    if(!string.IsNullOrEmpty(Convert.ToString(Request["UserId"])))
    {
        strUserId = Convert.ToString(Request["UserId"]);
    }
}
<style>
    #select4 {
        float: right;
        height: 38px;
        margin-top: 10px;
        padding: 1px !important;
        width: 17% !important;
        margin-right: 4px !important;
        margin-left: 4px !important;
    }

    .select2 {
        width: 17% !important;
        float: right !important;
        margin-top: 9px !important;
        padding-right: 4px !important;
    }

    .select2-container .select2-selection--single {
        height: 36px !important;
        padding-top: 10px !important;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 17px !important;
        padding-top: 0px !important;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 21px !important;
    }

    .tabbed_form_content li .grey_frmbg {
        border: 1px solid #c2c2c2;
        margin-top: 10px;
        background: #ffffff;
        padding: 0px 0px;
    }
</style>
<!-- Tabs Files -->
<link href="../../Content/css/tabs.css" rel="stylesheet" type="text/css" />
<script type='text/javascript' src='../../Content/js/tabs.js'></script>
<!-- Profile Popup -->
<script src="../../Content/js/jquery.toolbar.js"></script>

<script>
    $(document).ready(function (e) {
        $('.tab_contents').hide();
        $('.tab_contents:first').show();
        $('.tab_links li a').on('click', function () {
            var lnk = $(this).attr('href');
            $(lnk).show().siblings().hide();
            $(this).addClass('active').parent().siblings().find('a').removeClass('active');

        });

        GetCurrentEmails();
        $('#chkInfusionSoft').on('click', function (e) {

            if ($(this).is(":checked")) {
                $('#OpenPopup').click();
                GetDataSyncInfusionSoft();
            } else {
                UpdateDataSyncInfusionSoft();
            }
        });
        $('#chkdentrix').on('click', function (e) {

            if ($(this).is(":checked")) {
                $('#OpenPopup').click();

            }

        });
        if ($('#IsActive').val() == "1") {
            $("#dentrixsyncbtn").attr("disabled", "disabled");
            $("#weekstatusconfigid").css("display", "block");
            $("#lastsyncid").css("display", "none");
        }
        $(document).on('click', '.mfp-close', function () {


            if ($('#chkInfusionSoft').val() == "false") {
                $('#chkInfusionSoft').prop('checked', false);
            }
            else {
                $('#chkInfusionSoft').prop('checked', true);
            }
        });


    });

    $(document).ready(function () {
       
        function RecieverRepeatForLocation() {

            var lav = $('#SelectLocation').children('ul').children('li').attr('rel');
            var relattr = "";
            $('#SelectLocation').children('ul').children('li').each(function () {
                relattr += ',' + $(this).attr('rel');

            });
            relattr = relattr.split(',');

            for (i = 0; i < relattr.length; ++i) {


                $('#SelectLocation').children('div').children('ul').children('li').each(function () {
                    if (relattr[i] == $(this).attr('rel')) {
                        $(this).css('display', 'none');
                    }
                });
            }
        }

        $('#SelectLocation').keyup(function () {

            clearTimeout(timer);
            timer = setTimeout(RecieverRepeatForLocation, 10)

        });

        // BindLocationList();
    });

    function GetCurrentEmails() {
        var UserId = "@strUserId";
        jQuery.ajaxSetup({ async: false });
        $.post("/AccountSettings/GetCurrentData", { UserId: UserId }, function (data) {
            if (data != null && data != "") {
                //  $("#LocationId").val(data.LID);
                // $("#hdnLocationId").val(data.LID);
                //$('#txtemail').val(data.PE);
                //$('#hdnprimaryemail').val(data.PE);

                //$('#txtUsername').val(data.LOGU);
                //$('#hdnloginusername').val(data.LOGU);

                // $('#txtemailSecondary').val(data.SE);
                // $('#hdnsecondaryemail').val(data.SE);

                // document.getElementById('divstaylogged').innerHTML = data.DDL;
                // $('#hdnstaylogged').val(data.SLV);

                $('#txtAccountId').val(data.AId);
                $('#txtAccountKey').val(data.AKey);

                $('#chkInfusionSoft').val(data.blInfusionSoft);
                $('#chkInfusionSoft').prop('checked', data.blInfusionSoft);
                $('#txtdentrixproviderid').val(data.DentrixProviderId);
                // console.log("Guids =" + data.Guidis);
                if (data.Guidis != null && data.Guidis != "") {
                    var Split = data.Guidis.split('*');

                    for (var i = 0; i < Split.length; i++) {
                        var MyDiv = Split[i].split('?');
                        $("#addrow").append(MyDiv[0]);
                        var NewSplite = Split[i];
                        NewSplite = NewSplite.split('?');

                        jQuery.ajaxSetup({ async: false });
                        var x = '';
                        var ColleaguesId = NewSplite[1];

                        if ($('#select4').val() != null && $('#select4').val() != "") {
                            x = $('#select4').val().toString();
                        }

                        if (ColleaguesId != null && ColleaguesId != "") {
                            x = ColleaguesId;
                        }

                        $.post("/AccountSettings/GetLocationList", { selected: x, UserId: UserId },
                            function (data) {
                                if (data != '') {
                                    document.getElementById("SelectLocation" + i).innerHTML = data.toString();
                                    //$(".selection").select2({
                                    //    minumumInputLenth: 1,
                                    //    placeholder: 'Select Location',
                                    //});
                                    //$(".selection").val("");
                                }

                                else {
                                    document.getElementById("SelectLocation" + i).innerHTML = 'Location not found';
                                }
                            });
                        jQuery.ajaxSetup({ async: true });

                    }
                }
            }
            jQuery.ajaxSetup({ async: true });
        });
    }

    function GetDataSyncInfusionSoft() {
        $.post("/AccountSettings/GetDataSyncInfusionSoft", {}, function (data) {
            if (data != null && data != "") {

                $("#ddlSyncPerDay").val(data.SyncPerDay);

                if (!!data.APIKey && data.APIKey != "") {
                    $("#imgsync").attr("src", "@Url.Content("~/Images/SyncIcon/SyncDone.png")");
                } else {
                    $("#imgsync").attr("src", "@Url.Content("~/Images/SyncIcon/Sync.png")");
                }
            }
        });
    }
    function IsSyncDentrix(Id) {
        var UserId = "@strUserId";
        $.post("/AccountSettings/SyncDentrix", { Id: Id, UserId: UserId }, function (data) {
            if (data) {
                swal({ title: "", text: 'Sync data inserted successfully', timer: "5000" });
                //alert("Sync data inserted successfully");
                $("#dentrixsyncbtn").attr("disabled", "disabled");
                $("#weekstatusconfigid").css("display", "block");
                $("#lastsyncid").css("display", "none");
            }
            else {
                swal({ title: "", text: 'Failed to update data', type: 'error' });
                // alert("Failed to update data");
                $("#dentrixsyncbtn").removeAttr("disabled");
            }

        });
    }
    function SaveDataSyncInfusionSoft() {
        var UserId = "@strUserId";
        gotosync();

        var mdlSyncInfusionSoft = {
            SyncPerDay: $("#ddlSyncPerDay").val()
        }

        $.post("/AccountSettings/SaveDataSyncInfusionSoft", { SyncInfusionSoft: mdlSyncInfusionSoft, UserId: UserId }, function (data) {

            if (data != null && data != "") {
                $('#chkInfusionSoft').val(data);
                $('#chkInfusionSoft').prop('checked', data);
            }
        });

        $(".mfp-close").click();
        return true;
    }


    function UpdateDataSyncInfusionSoft() {
        var UserId = "@strUserId";
        $.post("/AccountSettings/UpdateDataSyncInfusionSoft", { UserId: UserId }, function (data) {
            if (data != null && data != "") {
                $('#chkInfusionSoft').val(false);
                $('#chkInfusionSoft').prop('checked', false);
            }
        });

    }
    function DeleteDentrixConnectorFromId(Id) {
        $.post("/AccountSettings/DeleteDentrixConnector", { AccountId: Id }, function (data) {
            if (data) {
                $("#" + Id).closest('.li').remove();
            }
            else {
                swal({ title: "", text: 'Some things went to wrong', type: 'error' });
                //   alert("Some things went to wrong");
            }
        });
    }
    function SubmitData() {
        var Identifier = null;
        var LocationId = $("#LocationId").val();
        var defaultLocationId = $("#hdnLocationId").val();
        var dentrixProviderId = $("#txtdentrixproviderid").val();
        var UserId = '@strUserId';
        //var LocationId = [];
        var GUIDKEY = [];
        $("#addrow").find("input[type='text']").each(function () {
            var MyId = $(this).val();
            var Location;
            $(this).parent().parent().find('.selection option:selected').each(function () {
                Location = $(this).html();
            });
            GUIDKEY.push(MyId + "-" + Location);

        });
        if (LocationId != defaultLocationId) {
            Identifier = (Identifier) ? Identifier + "6" : "6";
        }
        $.post("/AccountSettings/AddDentrix", { GUIDKEY: GUIDKEY, dentrixProviderId: dentrixProviderId, UserId: UserId }, function (data) {
            if (data != null && data != "") {
                if (data.obj != null && data.obj != "") {
                    swal({ title: "", text: data.obj });
                    //  alert(data.obj)
                    window.location = document.location;
                }
                else {
                    //swal({ title: "", text: 'Data inserted successfully', type: 'success', timer: '3500' });
                    swal({
                        title: "Successfully",
                        text: "Data inserted successfully",
                        timer: 2000,
                        showConfirmButton: false,
                    });
                    // window.location = document.location;
                    location.reload();
                }
            }

        });
    }
    function RemoveDentrixConnectorRow(id) {
        if (id != null && id != "") {
            $("#" + id).closest('.li').remove();
        }
    }
    var count = 0;
    function BindLocationList() {
        var UserId = "@strUserId";
        jQuery.ajaxSetup({ async: false });
        var x = '';
        var ColleaguesId = '@ViewBag.LocationId';

        if ($('#select4').val() != null && $('#select4').val() != "") {
            x = $('#select4').val().toString();
        }

        if (ColleaguesId != null && ColleaguesId != "") {
            x = ColleaguesId;
        }

        $.post("/AccountSettings/GetLocationList", { selected: x, UserId: UserId },
            function (data) {
                if (data != '') {
                    var id = "SelectLocation_" + count;
                    document.getElementById("SelectLocation_" + count).innerHTML = data.toString();
                    //$('#SelectLocation').append(data);
                    //$(".selection").select2({
                    //    minumumInputLenth: 1,
                    //    placeholder: 'Select Location',
                    //});
                    //$(".selection").val("");
                    count++;
                }

                else {
                    document.getElementById("SelectLocation").innerHTML = 'Location not found';
                }
            });
        jQuery.ajaxSetup({ async: true });

    }
    function Generatenewrow() {
        
        $.post("/AccountSettings/AddDentrixConnectorRow", function (data) {
            if (data != null && data != "") {
                var Splite = data.split('--');
                $("#addrow").append("<li class=\"li\"><label>GUID Key</label><img src=\"/Content/images/icon_delete.png\" style=\"float:right;margin-top:14px;\" onclick=\"return RemoveDentrixConnectorRow('" + Splite[0] + "');\"/><div style=\"float:right;margin-top:16px;height:27px;margin-right:86px;\"></div> <span class=\"fluid fluid_cont SelectLocation\" id=\"SelectLocation_" + count + "\" ></span><div class=\"grey_frmbg\" style=\"width: 30%;\"><input type=\"text\" title=\"GUID Key\" id=\"" + Splite[0] + "\" name=\"txtGUID\" readonly=\"readonly\" style=\"float:right;\" value=\"" + Splite[0] + "\" /></div><p style=\"margin-top:42px;color: #515152;font-size:14px;\">You have never sync dentrix</p></li>");
                // $("#addrow").append("<li class=\"li\"><label>GUID Key</label><img src=\"/Content/images/icon_delete.png\" style=\"float:right;margin-top:14px;\" onclick=\"return RemoveDentrixConnectorRow('" + Splite[0] + "');\"/><span class=\"fluid fluid_cont SelectLocation\" id=\"SelectLocation_" + count + "\" ></span><div class=\"grey_frmbg\" style=\"width: 30%;\"><input type=\"text\" title=\"GUID Key\" id=\"" + Splite[0] + "\" name=\"txtGUID\" readonly=\"readonly\" style=\"float:right;\" value=\"" + Splite[0] + "\" /></div><p style=\"margin-top:42px;color: #515152;font-size:14px;\">You have never sync dentrix</p></li>");
                BindLocationList();
            }
        });
    }
</script>
<script type="text/javascript">
    var popup;
    function gotosync() {

        popup = window.open("@Url.Action("Authorize", "AccountSettings")", "Popup", "width=500,height=500");
        popup.focus();
    }
</script>
<!-- Main content -->
<link rel="stylesheet" type="text/css" href="~/Content/css/select2.min.css" />
<script type="text/javascript" src="~/Scripts/select2.min.js"></script>
<div class="content">
    <div class="content_base">
        @if (!string.IsNullOrEmpty(Convert.ToString(Session["AdminUserId"])))
        {
            <div class="breadcrumb">
                <ul>
                    <li>
                        <a href='@Url.Action("Dashboard", "Admin")'>
                            <img width="16" height="14" class="hires" src="../../Content/images/home-icon.png"
                                 alt="Home">
                        </a><span class="after"></span>
                    </li>
                    <li>
                        <span class="before"></span><a href="@Url.Action("ViewProfile", "Admin", new { UserId = strUserId })">
                            Profile
                        </a><span class="after"></span>
                    </li>
                    <li>
                        <span class="before"></span><a href="@Url.Action("AccountSetting", "Admin", new { UserId = strUserId })">
                            Account Settings
                        </a><span class="after"></span>
                    </li>
                    <li class="active">
                        <span class="before"></span><a href="javascript:;">
                            Integrations
                        </a><span class="after"></span>
                    </li>
                </ul>
            </div>
        }

        <div class="inner">
            <div class="tabbed_form" style="margin-top:40px;border-bottom:1px solid lightgrey;">
                <div class="heading">
                    <h3>Third Party Connections</h3>
                </div>
            </div>
        </div>
        <div class="inner">
            <div class="tabbed_form">

                <div class="tab_content_parent">
                    <div id="patient">

                        <h3 class="heading">Practice Management Integration<img src="~/Images/Add_row.png" style="float:right; height: 33px;margin-top:-16px;" onclick="return Generatenewrow();" /></h3>

                        <ul id="addrow" style="border-top: none;" class="tabbed_form_content"></ul>
                    </div>
                </div>
                <div class="tab_content_parent">
                    <ul class="tabbed_form_content">
                        <li>
                            <label>
                                Your Account ID
                            </label>
                            <div class="grey_frmbg" style="width:59.3%">
                                <input type="text" title="Read only. You can not update it." id="txtAccountId" readonly />
                            </div>
                        </li>
                        @*<li>
                            <label>
                                Your Dentrix Provider-Id
                            </label>
                            <div class="grey_frmbg" style="width:59.3%">
                                <input type="text" title="Dentrix Provider Id" id="txtdentrixproviderid" />
                            </div>
                        </li>*@
                        
                    </ul>

                </div>
            </div>
            <div class="clear">
            </div>
        </div>
        <div id="maindiv">
            <div id="infusionsoftdiv" style="float:left;">
                <h3 class="heading" style="border-bottom: 0px !important;">
                    InfusionSoft Synchronization
                </h3>
                <div>
                    <label style="font-size: 11pt !important;">Synchronize patients with InfusionSoft</label>
                    <input id="chkInfusionSoft" name="chkInfusionSoft" type="checkbox" value="" />

                </div>
                <br />
                <input type="submit" class="save_btn" onclick="return SubmitData()">
                <!-- Inner Content Ends -->
                <div class="clear">
                </div>
            </div>
        </div>
    </div>
    <!-- content base ends-->
</div>
<!-- content ends here -->
<a href="#infusionsoftsync" id="OpenPopup" title="Referral" style="display:none; visibility:hidden;" class="frmreferpatients edit popup-with-form showlightbox"></a>

<div id="infusionsoftsync" class="mfp-hide white-popup-block">
    <h2 class="title">Synchronize patients with InfusionSoft</h2>
    <div>
        <div class="cntnt">
            <ul class="tablelist">
                <li>
                    <label>
                        Sync Per Day:
                    </label>
                    <div tabindex="6" id="dvCountry">
                        <select name="ddlSyncPerDay" id="ddlSyncPerDay">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div>
                </li>
                <li>
                    <a href="javascript:void(0);" onclick="gotosync();"><img id="imgsync" width="100%" src="~/Images/SyncIcon/Sync.png" /></a>
                </li>
            </ul>

            <div class="clear">
            </div>

            <div style="margin-top: 2px;" class="actions">
                <input type="button" value="Save" name="Save" class="save_btn" onclick="return SaveDataSyncInfusionSoft();">
                <input type="button" name="Cancel" value="Cancel" class="cancel_btn">
                <div class="clear">
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(".searchbar").hide();
</script>