﻿@using PagedList.Mvc;
@model PagedList.IPagedList<NewRecordlinc.Models.Patients.PatientDetailsOfDoctor>
@{
    ViewBag.Title = "PatientNotificationSetting";
    Layout = "~/Views/Shared/SiteLayoutInner.cshtml";
    var errorMessage = TempData["ErrorMessage"];
    if (!string.IsNullOrEmpty(ViewBag.ErrorMessage) || !string.IsNullOrEmpty(Convert.ToString(TempData["ErrorMessage"])))
    {
        TempData["ErrorMessage"] = string.Empty;
    }
}

<style>
    .pagination-container ul li {
        width: 100px;
        display: inline;
    }

        .pagination-container ul li a {
            width: 100px;
            padding: 4px 10px;
            border: 1px solid #ccc;
            margin: 1px;
        }

    .pager {
        margin-top: 25px;
    }

    .pagination-container {
        height: 40px;
        margin: 10px;
    }

    label {
        padding-right: 5px;
        padding-left: 15px;
    }

    .top-title {
        margin-top: 12px;
        float: left;
    }
</style>

<form action="~/Patients/PatientHistory" method="post" id="frmViewPatientHistory">
    <input type="hidden" name="hdnViewPatientHistory" id="hdnViewPatientHistory" />
</form>
<div class="content">
    <div class="content_base">
        <div id="divPatientNotification">
            <div class="inner">
                <div class="table_data reports_ref_received clearfix" style="border:none">
                    <h5>Patient Notification Setting</h5>
                    <div class="search_fields" style="float:right;">
                        <div class="accnt_settings">
                            <div class="top-title">
                                <label>For All Patient Notification : </label>

                                <label>Voice</label>
                                <input type="checkbox" name="checkAll" value="" id="ChkVoice" style="margin-top:3px;" />

                                <label>Text</label>
                                <input type="checkbox" name="checkAll" value="" id="ChkText" style="margin-top:3px;" />

                                <label>Email</label>
                                <input type="checkbox" name="checkAll" value="" id="CheckEmail" style="margin-top:3px;" />
                            </div>
                            <input class="save_btn" name="Save" value="Save" id="btnsave" style="margin-left:20px;display:none;" type="submit">
                        </div>
                    </div>
                    @using (Html.BeginForm("InsertUpdateNotificationDetail", "Accountsettings", new { page = Model.PageNumber }, FormMethod.Post, new { enctype = "multipart/form-data", id = "frmNotofication" }))
                    {
                        <table class="responsiveTable" cellspacing="0" cellpadding="0" border="0">
                            <thead>
                                <tr>
                                    @*<th>Image</th>*@
                                    <th>LastName</th>
                                    <th>
                                        FirstName
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th>
                                        Phone
                                    </th>
                                    <th>
                                        Voice
                                        <input type="checkbox" class="Voicecheckall" onClick="CheckVoice(this)" value="" style="vertical-align: initial;margin-top:3px;margin-right:15px;" />
                                    </th>
                                    <th>
                                        Text
                                        <input type="checkbox" class="Textcheckall" onclick="CheckText(this)" value="" style="vertical-align: initial;margin-top:3px;margin-right:15px;" />
                                    </th>
                                    <th>
                                        Email
                                        <input type="checkbox" class="Emailcheckall" onclick="CheckEmail(this)" value="" style="vertical-align: initial;margin-top:3px;margin-right:15px;" />
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="tblPatientnotification">
                                @for (int i = 0; i < Model.Count; i++)
                                {
                                    <tr>
                                        @Html.HiddenFor(t => Model[i].AccountId)
                                        @Html.HiddenFor(t => Model[i].PatientId)
                                        @*<td>
                                                <img src="@Model[i].ImageName" onclick="ViewPatientHistory(@Model[i].PatientId)" style="width:100px;height:100px;cursor:pointer" />
                                            </td>*@
                                        <td>
                                            <a href='javascript:;' onclick="ViewPatientHistory(@Model[i].PatientId)">@Model[i].LastName</a>
                                        </td>
                                        <td>
                                            <a href='javascript:;' onclick="ViewPatientHistory(@Model[i].PatientId)">@Model[i].FirstName</a>
                                        </td>
                                        <td>
                                            <a href="mailto:@Model[i].Email">@Model[i].Email</a>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(t => Model[i].Phone)
                                        </td>
                                        @if (Model[i].Voice)
                                        {
                                            <td>
                                                @Html.CheckBoxFor(t => Model[i].Voice, new { @style = "margin-left: 47px;", @class = "VoiceClass", @checked = "checked" })
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                @Html.CheckBoxFor(t => Model[i].Voice, new { @style = "margin-left: 47px;", @class = "VoiceClass" })
                                            </td>
                                        }
                                        @if (Model[i].Text)
                                        {
                                            <td>
                                                @Html.CheckBoxFor(t => Model[i].Text, new { @style = "margin-left: 40px;", @class = "TextClass", @checked = "checked" })
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                @Html.CheckBoxFor(t => Model[i].Text, new { @style = "margin-left: 40px;", @class = "TextClass" })
                                            </td>
                                        }
                                        @if (Model[i].ChkEmail)
                                        {
                                            <td>
                                                @Html.CheckBoxFor(t => Model[i].ChkEmail, new { @style = "margin-left: 40px;", @class = "TextEmail", @checked = "checked" })
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                @Html.CheckBoxFor(t => Model[i].ChkEmail, new { @style = "margin-left: 40px;", @class = "TextEmail" })
                                            </td>
                                        }

                                    </tr>
                                }
                                <tr>
                                    <td colspan="7">
                                        <input class="save_btn" onclick="submiteform()" name="Save" value="Save" style="margin-top:0px;margin-left:45%;display:none;" type="button">
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="7"></td>
                                </tr>
                            </tbody>
                        </table>
                    }
                    @if (Model.PageCount > 1)
                    {
                        <div id='Paging' style="text-align:center; border:none" class="pager">
                            @Html.PagedListPager(Model, page => Url.Action("PatientNotificationSetting", "Accountsettings", new { page }))
                        </div>
                    }
                    else
                    {
                        <div id='Paging' style="text-align:center;" class="pager">
                            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                            of @Model.PageCount
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function submiteform() {
        swal({
            title: "",
            text: "Are you sure you want to update?",
            type: "warning",
            showCancelButton: true,
            confirmButtonText: "Yes, update it!",
            cancelButtonText: "No Thanks",
            closeOnConfirm: false,
            showLoaderOnConfirm: true,
        },
                        function (isConfirm) {
                            if (isConfirm) {
                                $("#frmNotofication").submit();
                            }
                        });
    }

    $(document).ready(function () {
        if ($.trim("@errorMessage").length != 0) {
            swal({
                title: "Successfully",
                text: "@errorMessage",
                type: "",
                timer: 2000,
                showConfirmButton: false
            });
        }

        var Emailtotalcheckedbox = $('.TextEmail:checkbox').length;
        var Voicetotalcheckedbox = $('.VoiceClass:checkbox').length;
        var Texttotalcheckedbox = $('.TextClass:checkbox').length;

        var Voicechecked = $('.VoiceClass:checkbox:checked').length;
        if (Voicechecked == Voicetotalcheckedbox) {
            $(".Voicecheckall").prop("checked", true);
        }
        var Textchecked = $('.TextClass:checkbox:checked').length;
        if (Textchecked == Texttotalcheckedbox) {
            $(".Textcheckall").prop("checked", true);
        }
        var Emailchecked = $('.TextEmail:checkbox:checked').length;
        if (Emailchecked == Emailtotalcheckedbox) {
            $(".Emailcheckall").prop("checked", true);
        }

        $(".VoiceClass").bind("click", function (e) {
            if ($(this).is(':checked')) {
                if ($('.VoiceClass:checked').length == $('.VoiceClass').length) {
                    $('.Voicecheckall').prop('checked', true);
                } else {
                    $('.Voicecheckall').prop('checked', false);
                }
            } else {
                $('.Voicecheckall').prop('checked', false);
            }
        });

        $(".TextClass").bind("click", function (e) {
            if ($(this).is(':checked')) {
                if ($('.TextClass:checked').length == $('.TextClass').length) {
                    $('.Textcheckall').prop('checked', true);
                } else {
                    $('.Textcheckall').prop('checked', false);
                }
            } else {
                $('.Textcheckall').prop('checked', false);
            }
        });
        $(".TextEmail").bind("click", function (e) {
            if ($(this).is(':checked')) {
                if ($('.TextEmail:checked').length == $('.TextEmail').length) {
                    $('.Emailcheckall').prop('checked', true);
                } else {
                    $('.Emailcheckall').prop('checked', false);
                }
            } else {
                $('.Emailcheckall').prop('checked', false);
            }
        });
   //     $('#btnsave').click(function () {
   //         swal({
   //             title: "",
   //             text: "Are you sure you want to update?",
   //             type: "warning",
   //             showCancelButton: true,
   //             confirmButtonText: "Yes, update it!",
   //             closeOnConfirm: true,
   //         },
   //function (isConfirm) {
   //    if (isConfirm) {
   //        var Voice = null;
   //        var Text = null;
   //        var Email = null;
   //        if ($('#ChkVoice').is(":checked")) {
   //            Voice = 'True';
   //        }
   //        else {
   //            Voice = 'false';
   //        }
   //        if ($('#ChkText').is(":checked")) {
   //            Text = 'True';
   //        }
   //        else {
   //            Text = 'false';
   //        }
   //        if ($('#CheckEmail').is(":checked")) {
   //            Email = 'True';
   //        }
   //        else {
   //            Email = 'false';
   //        }
   //        $.ajax({
   //            type: "POST",
   //            url: "/Accountsettings/InsertUpdateNotificationDetailForAll",
   //            data: "{'Voice':'" + Voice + "','Text':'" + Text + "','Email':'" + Email + "'}",
   //            contentType: "application/json; charset=utf-8",
   //            dataType: "json",
   //            success: function (response) {
   //                swal({
   //                    title: "Successfully",
   //                    text: "Notification Settings updated successfully",
   //                    type: "",
   //                    timer: 2000,
   //                    showConfirmButton: false
   //                });
   //                //window.location = document.URL;
   //            },
   //            failure: function (response) {
   //            },
   //            error: function (response) {
   //            }
   //        });
   //    }
   //});
   //     });
    });

    function SubmitNotification()
    { 
           var Voice = null;
           var Text = null;
           var Email = null;
           if ($('#ChkVoice').is(":checked")) {
               Voice = 'True';
           }
           else {
               Voice = 'false';
           }
           if ($('#ChkText').is(":checked")) {
               Text = 'True';
           }
           else {
               Text = 'false';
           }
           if ($('#CheckEmail').is(":checked")) {
               Email = 'True';
           }
           else {
               Email = 'false';
           }
           $.ajax({
               type: "POST",
               url: "/Accountsettings/InsertUpdateNotificationDetailForAll",
               data: "{'Voice':'" + Voice + "','Text':'" + Text + "','Email':'" + Email + "'}",
               contentType: "application/json; charset=utf-8",
               dataType: "json",
               success: function (response) { 
                  
               },
               failure: function (response) {
               },
               error: function (response) {
               }
           }); 
    }

    function ViewPatientHistory(PatientId) {
        $('#hdnViewPatientHistory').val(PatientId);
        $("#frmViewPatientHistory").submit();
    }

    function CheckVoice(source) {
        checkboxes = document.getElementsByClassName('VoiceClass');
        for (var i = 0, n = checkboxes.length; i < n; i++) {
            checkboxes[i].checked = source.checked;
        }
    }

    function CheckText(source) {
        checkboxes = document.getElementsByClassName('TextClass');
        for (var i = 0, n = checkboxes.length; i < n; i++) {
            checkboxes[i].checked = source.checked;
        }
    }

    function CheckEmail(source) {
        checkboxes = document.getElementsByClassName('TextEmail');
        for (var i = 0, n = checkboxes.length; i < n; i++) {
            checkboxes[i].checked = source.checked;
        }
    }
    var isDirty = false;
    $(':input').change(function () {
    if (!isDirty) {
        isDirty = true;
    }
    });
    window.setInterval(function () {
        if (isDirty) {
            SubmitNotification();
            isDirty = false;
        }
    }, 30000);

    var unloadEvent = function (e) {

        var ua = window.navigator.userAgent;
        var msie = ua.indexOf("Firefox");

        if (msie > -1) {
           
                (e || window.event).returnValue = SubmitNotification();
                
        }
        else {
             
                return SubmitNotification();
            
        }

        //(e || window.event).returnValue = SaveReferralFormSettings(); //Gecko + IE
        //Webkit, Safari, Chrome etc.
    };
    window.addEventListener("beforeunload", unloadEvent);
</script>