﻿@using OneClickReferral.App_Start
 
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    @*<meta name="viewport" content="width=device-width, initial-scale=1">*@
    <title>@ViewBag.Title</title>

    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-P8C9GFQ');</script>
    <!-- End Google Tag Manager -->

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/Dashboard/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/Dashboard/css/fonts_google.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Dashboard/css/dashboard.css" media="all">
    <link rel="icon" href="~/Content/Dashboard/images/one_click_referral.ico" type="image/x-icon">
    @RenderSection("styles", required: false)
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
    @*<link href="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" rel="stylesheet" />
        <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>*@
    <style>
        .select2-container {
            border: 1px solid #e5e8ea !important;
        }
    </style>

</head>
@{ 
    string addclstag = "";
}
@if (Request.Url.AbsolutePath.Contains("ConversationView"))
{
    addclstag = "conversation";
}
<body class="@addclstag">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P8C9GFQ"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    @{
        var RLURL = Common.SafeString(System.Configuration.ConfigurationManager.AppSettings["WebSiteURL"]);
    }
    <div id="wrapper" class="admin_section row row-offcanvas row-offcanvas-left">
        <div class="sidebar-offcanvas  columns-holder">
            <div class="top-section" id="top-section">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4 logo-sec">
                            <a class="hidden-xs" data-toggle="offcanvas"><img class="nav-icon-img" alt="Nav Bar Icon" src="~/Content/Dashboard/images/nav-bar.png"></a>
                            <li class="icons Setting dashboard-user">
                                <a href="/dashboard"><img src="~/Content/Dashboard/images/logo.png" alt="RecordLink" class="img-responsive center-block"></a>
                                <ul class="dropdown-menu dashboard-drop">
                                    <li><h5 class="blue"><a href="/Dashboard">DashBoard</a></h5></li>
                                    <li>
                                        <div class="row">
                                            <div class="col-sm-6 col-sx-12">
                                                <h5><a href="/Inbox">Inbox</a></h5>
                                                <ul class="right-arr-list">
                                                    <li><a href="/Inbox/ComposeMessage">Compose Message</a></li>
                                                    <li><a href="/Inbox/sent">Sent</a></li>
                                                </ul>
                                                <h5><a href="/Profile">PROFILE</a></h5>
                                                <ul class="right-arr-list">
                                                    <li><a href="/Profile">Edit Profile</a></li>
                                                    <li><a href="/CostEstimator/Estimate%20Cost%20of%20Insurance">Estimate Cost Of Insurance</a></li>
                                                    <li><a href="/Reward">Reward</a></li>
                                                    <li><a href="/Reward/ManageSuperBucks">Manage SuperBucks</a></li>
                                                    <li><a href="/AccountSettings/ReferralFormSettings">Referral Form Settings</a></li>
                                                </ul>
                                                <h5><a href="/Patients">PATIENTS</a></h5>
                                                <ul class="right-arr-list">
                                                    <li><a href="/Patients">View Patients</a></li>
                                                    <li><a href="/Patients/AddPatient">Add Patient</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-6 col-sx-12">
                                                <h5><a href="/Colleagues">COLLEAGUES</a></h5>
                                                <ul class="right-arr-list">
                                                    <li><a href="/Colleagues/SearchColleagues">Search Colleagues</a></li>
                                                    <li><a href="/Colleagues/InviteColleagues">Invite Colleagues</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-6 col-sx-12">
                                                <h5><a href="/Reports">Reports</a></h5>
                                                <ul class="right-arr-list">
                                                    <li><a href="/Patients/PatientSocialMedia">Patient Social Media</a></li>
                                                    <li><a href="/Colleagues/ColleagueSocialMedia">Colleague Social Media</a></li>
                                                    <li><a href="/Patients/PatientContactList">Patient Contact List</a></li>
                                                    <li><a href="/Colleagues/ColleagueContactList">Colleague Contact List</a></li>
                                                    <li><a href="/Patients/ReferralHistory">Referral History</a></li>
                                                </ul>
                                                <h5><a href="/FreeToPaid/UpgradeAccount">Upgrade</a></h5>
                                                <ul class="right-arr-list">
                                                    <li><a href="/FreeToPaid/UpgradeAccount">Upgrade Account</a></li>
                                                    <li><a href="/Merchant/MakeMerchant">Register ZiftPay</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </li>
                        </div>
                        <div class="col-sm-3">
                            <ul class="adminUser_area list-inline">
                                @if (!Request.Url.AbsolutePath.Contains("/Dashboard"))
                                {
                                    <li class="icons Setting text-right dashboard-user  top-bar ">
                                        @*  <a href="/Dashboard"><img src="~/Content/Dashboard/images/ico-dashboard.png" alt="Dasbboard" title="Dashboard"> Dashboard</a>*@
                                        <a href="/Dashboard"> Referrals</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="icons Setting text-right dashboard-user  top-bar active">
                                        <a href="/Dashboard"> Referrals</a>
                                    </li>
                                }
                                @if (!Request.Url.AbsolutePath.Contains("/Patients"))
                                {
                                    <li class="icons Setting text-right dashboard-user  top-bar">
                                        @* <a href="/Patients" style="cursor:pointer;"><img src="~/Content/Dashboard/images/patient.png" alt="Patient"> Patients</a>*@
                                        <a href="/Patients" style="cursor:pointer;"> Patients</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="icons Setting text-right dashboard-user  top-bar active">
                                        <a href="/Patients" style="cursor:pointer;"> Patients</a>
                                    </li>
                                }
                                @if (!Request.Url.AbsolutePath.Contains("/Colleagues"))
                                {
                                    <li class="icons Setting text-right dashboard-user  top-bar">
                                        <a href="/Colleagues" style="cursor:pointer;"> Colleagues</a>
                                        @*<a href="/Colleagues" style="cursor:pointer;"><img src="~/Content/Dashboard/images/colleagues.png" alt="Colleagues"> Colleagues</a>*@
                                    </li>
                                }
                                else
                                {
                                    <li class="icons Setting text-right dashboard-user  top-bar active">
                                        <a href="/Colleagues" style="cursor:pointer;"> Colleagues</a>
                                        @*<a href="/Colleagues" style="cursor:pointer;"><img src="~/Content/Dashboard/images/colleagues.png" alt="Colleagues"> Colleagues</a>*@
                                    </li>
                                }

                                @*@if (Request.Url.AbsolutePath.Contains("/Profile") || Request.Url.AbsolutePath.Contains("/Settings") || Request.Url.AbsolutePath.Contains("Settings/Integrations"))
                                {
                                    <li class="icons Setting text-right dashboard-user  top-bar active">
                                        <a href="/Profile" style="cursor:pointer;"> Settings</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="icons Setting text-right dashboard-user  top-bar ">
                                        <a href="/Profile" style="cursor:pointer;"> Settings</a>
                                    </li>
                                }*@

                                @*@if (!Request.Url.AbsolutePath.Contains("/Settings"))
                                    {
                                        <li class="icons Setting text-right dashboard-user  top-bar">
                                            <a href="/Settings" style="cursor:pointer;"><img src="~/Content/Dashboard/images/setting.png" alt="Setting"> Settings</a>
                                        </li>
                                    }*@
                            </ul>
                        </div>
                        <div class="col-sm-5">
                            <ul class="adminUser_area list-inline">
                                @*@if (Request.Url.AbsolutePath.Contains("/TeamMember"))
                                {
                                    <li class="search text-right">
                                        <div class="navbar-form " role="search">
                                            <div class="input-group">
                                                <input type="text" placeholder="Search..." id="txtSearchTeam" onkeyup='HdrSearchTeam(event)' name="srch-term" id="srch-term" list="languages">
                                                <div class="input-group-btn">
                                                    <button class="btn btn-default" onclick="SearchTeam()"  type="submit"><i class="icon-search"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                }*@

                                <li class="icons Setting text-right dashboard-user">
                                    <a href="@Url.Action("TempSendReferral","OneClick")" style="cursor:pointer;" class="referral">Send Referral</a>
                                </li>
                                @*@if (Request.Url.AbsolutePath.Contains("/TeamMember"))
                                    {
                                    <li class="search text-right">
                                        <div class="navbar-form " role="search">
                                            <div class="input-group">
                                                <input type="text" placeholder="Search Patients" name="srch-term" id="txtSearchPatient" list="languages">
                                            </div>
                                        </div>
                                    </li>
                                    }*@

                                @if (Request.Url.AbsolutePath.Contains("."))
                                {
                                    <li class="icons Setting text-right dashboard-user">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="true"><img src="~/Content/Dashboard/images/menu-icon.png" alt="Questions" title="Menu" /></a>
                                        <ul class="dropdown-menu dashboard-drop help">
                                            <li>
                                                <a onclick="Redirect('/Inbox')">
                                                    <img src="~/Content/Dashboard/images/inbox_new.png" alt="Inbox" />
                                                    <span>Inbox</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a onclick="Redirect('/Patients')">
                                                    <img src="~/Content/Dashboard/images/menu_patient.png" alt="Patients" />
                                                    <span>Patients</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a onclick="Redirect('/Colleagues')">
                                                    <img src="~/Content/Dashboard/images/menu_colleague.png" alt="Colleagues" />
                                                    <span>Colleagues</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a onclick="Redirect('/Reports')">
                                                    <img src="~/Content/Dashboard/images/menu_report.png" alt="Reports" />
                                                    <span>Reports</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a onclick="Redirect('/Plan')">
                                                    <img src="~/Content/Dashboard/images/menu_plus.png" alt="Plans" />
                                                    <span>Plans</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="http://patientpayhub.com/" target="_blank">
                                                    <img src="~/Content/Dashboard/images/menu_payment.png" alt="Payments" />
                                                    <span>Payments</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://www.mydentalfiles.com/" target="_blank">
                                                    <img src="~/Content/Dashboard/images/menu_portal.png" alt="Patient Portal" />
                                                    <span>Patient Portal</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a onclick="Redirect('/Reports/PatientRewards')">
                                                    <img src="~/Content/Dashboard/images/Reward.png" alt="Patient Portal" />
                                                    <span>Patient Rewards</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a onclick="Redirect('/Reports/RatingReport')">
                                                    <img src="~/Content/Dashboard/images/menu_reviews.png" alt="Patient Reviews" />
                                                    <span>Patient Reviews</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="http://www.luvdentist.com/login" target="_blank">
                                                    <img src="~/Content/Dashboard/images/menu_referral.png" alt="Patient Referrals" />
                                                    <span>Patient Referrals</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="http://hipaanow.org/" target="_blank">
                                                    <img src="~/Content/Dashboard/images/menu_hipaa.png" alt="Hipaa Compliance" />
                                                    <span>HIPAA Compliance</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a onclick="Redirect('/Reports/InsuredAppointments')">
                                                    <img src="~/Content/Dashboard/images/menu_insurance.png" alt="Insurance Verification" />
                                                    <span>Insurance Verification</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a onclick="Redirect('/Appointment')">
                                                    <img src="~/Content/Dashboard/images/menu_calender.png" alt="Scheduling" />
                                                    <span>Scheduling</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a onclick="Redirect('/Accountsettings/PatientNotificationSetting')">
                                                    <img src="~/Content/Dashboard/images/Reminder.png" alt="Reminders" />
                                                    <span>Reminders</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a onclick="Redirect('/Reports/AppointmentReport')">
                                                    <img src="~/Content/Dashboard/images/Recall.png" alt="Recall" />
                                                    <span>Recall</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a onclick="Redirect('/Reports/PatientEstimationReport')">
                                                    <img src="~/Content/Dashboard/images/menu_cost.png" alt="Patient Cost Estimator" />
                                                    <span>Patient Cost Estimator</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                }
                                <li class="Setting text-right">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="true">
                                        <span>@SessionManagement.FirstName</span>
                                        <i class="icon-down_arrow_top"></i>
                                        <img src="@SessionManagement.DoctorImage" alt="@SessionManagement.FirstName" height="45" width="45" style="border-radius:50%;">
                                    </a>
                                    <ul class="dropdown-menu dropdown-user">
                                        <li><a href="/Profile/ViewProfile?id=@SessionManagement.UserId"><i class="fa fa-pencil"></i>Edit Profile</a></li>
                                        <li><a href="/Settings"><i class="fa fa-cog"></i>Settings</a></li>
                                        @*<li><a onclick="Redirect('/AccountSettings/Integration')"><i class="fa fa-user"></i>Integrations</a></li>
                                            <li><a onclick="Redirect('/FreeToPaid/UpgradeAccount')"><i class="fa fa-user" aria-hidden="true"></i>Upgrade Account</a></li>*@
                                        @*
                                            <li><a onclick="Redirect('/EmailOauth')"><i class="fa fa-user"></i>OAuth Integration</a></li>*@
                                        <li class="active"><a class="Signout"><i class="fa fa-power-off"></i>Logout</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            @*@Html.Partial("PartialNewLeftSideInner")*@
            @{ 
                string className = "dashboard";
            }
            @if (Request.Url.AbsolutePath.Contains("ConversationView"))
            {
                className = "chat_view";
            }
            <main id="main" role="main" class="@className" >
                <div id="divLoading" class="Loaddiv unselectable" unselectable="on">
                    <p>
                        <img src="~/Content/OneClickReferral/images/Recordloading.gif">
                    </p>
                </div>
                @RenderBody()

            </main>
            <footer id="footer" class="pad-23">
                <div class="container">
                    <div class="row">
                        <!-- <div class="copyright_area col-xs-12"> <span>&copy; 2016 <a href="/">Ad Social.com</a> - All rights reserved</span> </div> -->
                        <ul>
                            <li><a href="/PrivacyPolicy">Privacy Policy</a></li>
                            <li><a href="https://www.youtube.com/playlist?list=PLzwH-GxNakia8zDTc2C27eEQj2jkkKVWb" target="_blank">Demo</a></li>
                            <li><a href="/TermsAndConditions">Terms & Conditions</a></li>
                            <li><a href="/ContactUs">Contact</a></li>
                            <li><a href="/HelpAndTraining">Help & Training</a></li>
                        </ul>
                    </div>
                </div>
            </footer>
        </div>


    </div>
    <form action="@RLURL/Common/LoginRequestForOCR" method="post" id="frmRedirect">
        <input type="hidden" name="access_token" value="" id="hdnaccess_token" />
        <input type="hidden" name="Redirect_URL" value="" id="hdnRedirect_URL" />
    </form>
    <div class="modal fade" id="dvInsurancePopup" role="dialog" style="z-index:10000">
    </div>     
    @*<script src="~/Content/Dashboard/js/bootstrap.min.js"></script>
    <script src="~/Content/Dashboard/js/jquery.toaster.js"></script>
    <script src="~/Content/Dashboard/js/sitescript.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Content/Dashboard/js/jquery.steps.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>*@
    @Scripts.Render("~/Content/Dashboard/js");
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
            var msViewportStyle = document.createElement('style')
            msViewportStyle.appendChild(
                document.createTextNode(
                    '@@-ms-viewport{width:auto!important}'
                )
            )
            document.querySelector('head').appendChild(msViewportStyle)
        }
        function Redirect(url) {
            var access_token = localStorage.getItem("token");
            $("#hdnaccess_token").val(access_token);
            $("#hdnRedirect_URL").val(url);
            $("#frmRedirect").submit();
        }
        $(document).on('click', '.Signout', function () {
            localStorage.clear();
            window.location.href = "@Url.Action("Logout", "OneClick", new { }, Request.Url.Scheme)";
        });
        //$(document).ready(function () {
        //    $('#bs-example-navbar-collapse-1 ul li').each(function () {
        //        if (window.location.href.indexOf($(this).find('a:first').attr('href')) > -1) {
        //            $(this).addClass('active').siblings().removeClass('active');
        //        }
        //    });
        //});
    </script>
     
    <script src="~/Content/Dashboard/js/togglebtn.js"></script>
    <script>
        $('body').removeClass('modal-open');
    </script>    
    <script src="~/Content/Dashboard/js/Datepicker_Bootstrap_v1_4_1.js"></script>
    <script src="~/Scripts/common.js"></script>
    <script src="~/Scripts/moment.min.js"></script>

    @*Removed this JCF.js because we are using this page as layout and some pages that not required JCF(Integration)*@
    @*
        <script src="~/Content/Dashboard/js/jcf.js"></script>*@
    <script type="text/javascript">
        $('a[data-toggle="tooltip"]').tooltip({
            container: 'body'
        });
        $('button[data-toggle="tooltip"]').tooltip({
            container: 'body'
        });
    </script>
    <script>
        window.intercomSettings = { app_id: "hff5gz3a" };
    </script>
    @if (!Request.Url.AbsolutePath.Contains("ConversationView"))
    {
        <script>
        (function () {
            var w = window; var ic = w.Intercom;
            if (typeof ic === "function") {
                ic('reattach_activator'); ic('update', w.intercomSettings);
            }
            else {
                var d = document;
                var i = function () {
                    i.c(arguments);
                };
                i.q = [];
                i.c = function (args) {
                    i.q.push(args);
                };
                w.Intercom = i;
                var l = function () {
                    var s = d.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = 'https://widget.intercom.io/widget/hff5gz3a'; var x = d.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
                };
                if (w.attachEvent) {
                    w.attachEvent('onload', l);
                } else {
                    w.addEventListener('load', l, false);
                }
            }
        })();
    </script>
    }
</body>
</html>
