﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-P8C9GFQ');</script>
    <!-- End Google Tag Manager -->
    <link rel="icon" href="~/Content/Dashboard/images/one_click_referral.ico" type="image/x-icon">
    @*@Styles.Render("~/Content/OneClickReferral/css")*@
    <link href="~/Content/OneClickReferral/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/OneClickReferral/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/OneClickReferral/css/main.css" rel="stylesheet" />
    <link href="~/Content/OneClickReferral/css/all.css" rel="stylesheet" />
    <link href="~/Content/OneClickReferral/bootstrap-datepicker/Css/bootstrap-datepicker3.css" rel="stylesheet" />
    <link href="~/Content/Loader.css" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    @*@Scripts.Render("~/Content/OneClickReferral/js")*@
    <script src="~/Content/OneClickReferral/js/jquery-1.11.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Content/OneClickReferral/js/jquery.main.js"></script>
    <style>
        .demo {
            font-weight: 700 !important;
            color: red !important;
        }
    </style>
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P8C9GFQ"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    @{
        var RLURL = Common.SafeString(System.Configuration.ConfigurationManager.AppSettings["WebSiteURL"]);
    }
    <div id="wrapper" class="">
        <header class="main-header">
            <div class="sticky">
                <nav class="navbar navbar-inverse">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <div class="nav-number mobile-btn">
                                <a href="tel:(800)596-0133"><i class="icon-phone2"></i></a>
                            </div>
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                            <a class="navbar-brand" href="/" id="btnLink">
                                <img src="~/Content/Dashboard/images/logo.png" alt="One CLick Referral" />
                            </a>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse navbar-right">
                            <ul class="nav navbar-nav">
                                <li class="nav-button"><a href="https://www.youtube.com/playlist?list=PLzwH-GxNakia8zDTc2C27eEQj2jkkKVWb" target="_blank" class="Signup demo">Demo</a></li>
                                @*XQ1-1174 changes suggested by Travis*@
                                <li class="nav-button"><a href="https://oneclickreferral.com/pricing" target="_blank" class="Signup" id="Signup">Sign Up</a></li>
                                @if (Request.Url.ToString().IndexOf("Error") < 0)
                                {
                                    <li class="nav-button" id="logIn"><a href="/Login/Index" class="Signup">Login</a></li>
                                    <li class="nav-button" id="dashboard" style="display:none"><a href="/dashboard/Index" target="_blank" class="Signup">Dashboard</a></li>
                                    //<li class="nav-button" id="dash"><a href="/Login/Index" class="Signup" id="login">Login</a></li>
                                    <li class="nav-button"><a class="Signout" style="cursor:pointer;">Sign Out</a></li>
                                    <li class="nav-number"><a href="tel:(800)596-0133"><span>Call Support</span>(800)596-0133</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <main id="main" class="referred_patient">
            <div id="divLoading" class="Loaddiv unselectable" unselectable="on">
                <p>
                    <img src="~/Content/OneClickReferral/images/Recordloading.gif">
                </p>
            </div>
            @RenderBody()
        </main>
        <footer id="main-footer">
            <div class="links-holder">
                <div class="container">
                    <div class="text-center">
                        <a href="tel:(800)596-0133"><span>Call Support: </span>(800)596-0133</a>
                    </div>
                    <ul class="list-inline footer-links">
                        @*XQ1-173 : User is redirected live URL from Footer*@

                        <li><a href="@RLURL/Aboutus">About Us</a></li>
                        @*XQ1-1174 changes suggested by Travis*@
                        <li class="SignupRL"><a href="https://oneclickreferral.com/pricing" target="_blank">Sign Up</a></li>
                        <li><a href="https://www.youtube.com/playlist?list=PLzwH-GxNakia8zDTc2C27eEQj2jkkKVWb" target="_blank">Demo</a></li>
                        <li class="Signin"><a href="/Login/Index" class="Signup" id="login">Login</a></li>
                        <li class="Signout"><a href="javascript:;">Sign Out</a></li>
                        <li><a href="@RLURL/ContactUs">Support</a></li>
                        <li><a href="@RLURL/Faq/PrivacyPolicy">Privacy Policy</a></li>
                        <li><a href="@RLURL/Faq/TermsAndConditions">Terms & Conditions</a></li>
                    </ul>
                </div>
            </div>
            <div class="container">
                <p>&copy; @System.DateTime.Now.Year.ToString() - built by <a href="http://drdds.com/" target="_blank">DrDDS Innovations</a> & powered by <a href="http://recordlinc.com/" target="_blank">RecordLink</a></p>
            </div>
        </footer>
    </div>
    <script src="~/Content/OneClickReferral/js/bootstrap.min.js"></script>
    <script src="~/Scripts/common.js"></script>
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/Mask.js"></script>
    <script type="text/javascript">
        $(".opener-btn").click(function () {
            $(this).toggleClass("active");
        });
        $(".opener-btn-medical").click(function () {
            $(this).toggleClass("active");
        });
        $(".opener-btn-Dental").click(function () {
            $(this).toggleClass("active");
        });
        $(document).ready(function () {
            $('input[type="checkbox"]').click(function () {
                if ($(this).attr("value") == "hospitalized") {
                    $(".hospitalized").toggle();
                }
                if ($(this).attr("value") == "physicians") {
                    $(".physicians").toggle();
                }
                if ($(this).attr("value") == "offensive") {
                    $(".offensive").toggle();
                }
            });
            $('#phone').mask("(999) 999-9999");
        });
        $('#dentist_name').bind('keyup change', function () {
            if (this.value.length > 0) {
                $('#Previous').show();
            }
            else {
                $('#Previous').hide();
            }
        });
    </script>
    <script>
        window.intercomSettings = { app_id: "hff5gz3a" };
    </script>
    <script>
        (function () {
            var w = window; var ic = w.Intercom;
            if (typeof ic === "function") {
                ic('reattach_activator'); ic('update', w.intercomSettings);
            }
            else {
                var d = document;
                var i = function () {
                    i.c(arguments);
                };
                i.q = [];
                i.c = function (args) {
                    i.q.push(args);
                };
                w.Intercom = i;
                var l = function () {
                    var s = d.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = 'https://widget.intercom.io/widget/hff5gz3a'; var x = d.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
                };
                if (w.attachEvent) {
                    w.attachEvent('onload', l);
                } else {
                    w.addEventListener('load', l, false);
                }
            }
        })();
    </script>
</body>
</html>
