﻿
<div class="wizard-inner">
    <ul class="nav nav-tabs" role="tablist">
        <!--<li role="presentation" class="referral">
            <h1 class="inline">Settings</h1>
        </li>-->
        @if (Request.Url.AbsolutePath.Contains("/Profile"))
        {
            <li class="active" id="liProfile">
                <a href="/Profile">My Profile</a>
            </li>
        }
        else
        {
            <li role="presentation" id="liProfile">
                <a href="/Profile/ViewProfile?id=@SessionManagement.UserId">My Profile</a>
            </li>
        }

        @if (Request.Url.AbsolutePath.Contains("/Setting"))
        {
            <li class="active">
                <a href="/Settings">Security Settings</a>
            </li>
        }
        else
        {
            <li>
                <a href="/Settings">Security Settings</a>
            </li>
        }
        @if (Request.Url.AbsolutePath.Contains("/TeamMember"))
        {
            <li class="active" id="liTeamMember">
                <a href="/Settings/TeamMember">Team Members</a>
            </li>
        }
        else
        {
            <li>
                <a href="/Settings/TeamMember">Team Members</a>
            </li>
        }
        @if (Request.Url.AbsolutePath.Contains("/ReferralForm"))
        {
            <li class="active" id="liReferralForm">
                <a href="/Settings/ReferralForm">Referral Form</a>
            </li>
        }
        else
        {
            <li>
                <a href="/Settings/ReferralForm">Referral Form</a>
            </li>
        }
        @if (Request.Url.AbsolutePath.Contains("/PatientReferralForm"))
        {
            <li  class="active" id="liPatientReferralForm">
                <a href="/Settings/PatientReferralForm">Patient Form</a>
            </li>
        }
        else
        {
            <li >
                <a href="/Settings/PatientReferralForm">Patient Form</a>
            </li>
        }
       @if (Request.Url.AbsolutePath.Contains("/Integrations"))
       {
        <li  class="active" id="liIntegration">
            <a href="/Settings/Integrations">Integrations</a>
        </li>
       }
       else
       {
        <li>
            <a href="/Settings/Integrations">Integrations</a>
        </li>
       }
        @if (Request.Url.AbsolutePath.Contains("/ZipwhipConfig"))
        {
            <li class="active" id="liZipwhipSettings">
                <a href="/Zipwhip/ZipwhipConfig">SMS Configuration</a>
            </li>
        }
        else
        {
            <li>
                <a href="/Zipwhip/ZipwhipConfig">SMS Configuration</a>
            </li>
        }
        <!--<li role="presentation" class="active">
            <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab">Contact Info</a>
        </li>
        <li role="presentation">
            <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab">Insurance Details</a>
        </li>
        <li role="presentation">
            <a href="#step4" data-toggle="tab" aria-controls="step4" role="tab">Billing</a>
        </li>
        <li role="presentation">
            <a href="#step5" data-toggle="tab" aria-controls="step5" role="tab">Integrations</a>
        </li>-->
    </ul>
</div>