﻿@model OneClickReferral.Models.PatientInsuranceDetails
@try
{
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header blue-bg">
                <button type="button" class="close close-circle" data-dismiss="modal">&times;</button>
                <h3 class="modal-title white">Insurance Details</h3>
            </div>
            <div class="modal-body">
                <div class="btm-margin-20">
                    <div class="">
                        @if (Model != null)
                        {
                            <div class="form-group mrgn-btm-20">
                                @if (!string.IsNullOrWhiteSpace(Model.Office))
                                {
                                    <div class="form-group row btm-margin-30 insurance-details-list listing">
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <div class="clearfix">
                                                <p><b>Office:</b></p><span>@Model.Office</span>
                                            </div>
                                        </div>
                                    </div>
                                }                              
                            </div>
                            <div class="form-group mrgn-btm-20">
                                @if (Model != null && Model.objPatientSubscriber != null)
                                {
                                    <div class="form-group row insurance-details-list bg-grey btm-margin-0">
                                        <div class="col-lg-12">
                                            <h1>Patient and Subscriber</h1>
                                        </div>
                                    </div>
                                    <div class="form-group row btm-margin-30 insurance-details-list listing">
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <div class="clearfix">
                                                <p><b>Patient First Name:</b></p><span>@Model.objPatientSubscriber.PatientFirstName</span>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <div class="clearfix">
                                                <p><b>Patient Middle Name:</b></p><span>@Model.objPatientSubscriber.PatientMiddleName</span>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <div class="clearfix">
                                                <p><b>Patient Last Name:</b></p><span>@Model.objPatientSubscriber.PatientLastName</span>
                                            </div>
                                        </div>                                       
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <div class="clearfix">
                                                <p><b>Date of Birth:</b></p><span>@Common.SafeDateTime(Model.objPatientSubscriber.PatientDateOfBirth)</span>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="form-group row btm-margin-30 insurance-details-list listing">
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <div class="clearfix">
                                                <p><b>Subscriber First Name:</b></p><span>@Model.objPatientSubscriber.SubscriberFirstName</span>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <div class="clearfix">
                                                <p><b>Subscriber Last Name:</b></p><span>@Model.objPatientSubscriber.SubscriberLastName</span>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <div class="clearfix">
                                                <p><b>Date of Birth:</b></p><span>@Common.SafeDateTime(Model.objPatientSubscriber.SubscriberDateOfBirth)</span>
                                            </div>
                                        </div>                                        
                                    </div>
                                }

                                @if (Model != null && Model.objInsuranceCompany != null)
                                {
                                    <div class="form-group row insurance-details-list bg-grey btm-margin-0">
                                        <div class="col-lg-12">
                                            <h1>Insurance Company</h1>
                                        </div>
                                    </div>

                                    <div class="form-group row btm-margin-30 insurance-details-list listing">
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <div class="clearfix">
                                                <p><b>Insurance Company:</b></p><span>@Model.objInsuranceCompany.InsuranceCompanyName</span>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <div class="clearfix">
                                                <p><b>Claims Mailing Address:</b></p><span>@Model.objInsuranceCompany.ClaimsMailingAddress</span>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <div class="clearfix">
                                                <p><b>Address2:</b></p><span>@Model.objInsuranceCompany.Address2</span>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <div class="clearfix">
                                                <p><b>City:</b></p><span>@Model.objInsuranceCompany.City</span>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <div class="clearfix">
                                                <p><b>State:</b></p><span>@Model.objInsuranceCompany.State</span>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 ">
                                            <div class="clearfix">
                                                <p><b>Zip:</b></p><span>@Model.objInsuranceCompany.Zip</span>
                                            </div>
                                        </div>


                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <div class="clearfix">
                                                <p><b>Phone Number:</b></p><span>@Model.objInsuranceCompany.PhoneNumber</span>
                                            </div>
                                        </div>
                                    </div>

                                }

                                @if (Model != null && Model.objInsuranceCompany != null)
                                {
                                    <div class="form-group row insurance-details-list bg-grey btm-margin-0">
                                        <div class="col-lg-12">
                                            <h1>Insurance Information</h1>
                                        </div>
                                    </div>

                                    <div class="form-group row btm-margin-30 insurance-details-list listing">
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <div class="clearfix">
                                                <p><b>Payer ID:</b></p><span>@Model.objInsuranceInformation.PayerID</span>
                                            </div>
                                        </div>
                                        @*<div class="col-lg-6 col-md-6 col-sm-6">
                                                <div class="clearfix">
                                                    <p><b>Effective Date:</b></p><span>@Common.SafeDateTime(Model.objInsuranceInformation.EffectiveDate)</span>
                                                </div>
                                            </div>*@
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <div class="clearfix">
                                                <p><b>Group Number:</b></p><span>@Model.objInsuranceInformation.GroupNumber</span>
                                            </div>
                                        </div>
                                        @*<div class="col-lg-6 col-md-6 col-sm-6">
                                                <div class="clearfix">
                                                    <p><b>Termination Date:</b></p><span>@Common.SafeDateTime(Model.objInsuranceInformation.TerminationDate)</span>
                                                </div>
                                            </div>*@
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <div class="clearfix">
                                                <p><b>Plan Name:</b></p><span>@Model.objInsuranceInformation.PlanName</span>
                                            </div>
                                        </div>
                                        @*<div class="col-lg-6 col-md-6 col-sm-6">
                                                <div class="clearfix">
                                                    <p><b>Fee Schedule:</b></p><span>@Model.objInsuranceInformation.FeeSchedule</span>
                                                </div>
                                            </div>*@
                                    </div>
                                }


                                @if (Model != null && Model.objDeductiblesMaximums != null)
                                {
                                    <div class="form-group row insurance-details-list bg-grey btm-margin-0">
                                        <div class="col-lg-12">
                                            <h1>Deductibles and Maximums</h1>
                                        </div>
                                    </div>
                                    <div class="form-group row btm-margin-30 insurance-details-list listing">
                                        @*<div class="col-lg-6 col-md-6 col-sm-6">
                                                <div class="clearfix">
                                                    <p><b>Benefit Period:</b></p><span>@Model.objDeductiblesMaximums.BenefitPeriod</span>
                                                </div>
                                            </div>*@
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <div class="clearfix">
                                                <p><b>Benefit Year Starts:</b></p><span>@Model.objDeductiblesMaximums.BenefitYearStarts</span>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <div class="clearfix">
                                                <p><b>Yearly Maximum:</b></p><span>@Html.Raw(!string.IsNullOrWhiteSpace(Model.objDeductiblesMaximums.YearlyMaximum) ? Model.objDeductiblesMaximums.YearlyMaximum + " &dollar;" : "-")</span>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <div class="clearfix">
                                                <p><b>Remaining Benefits:</b></p><span>
                                                    @Html.Raw(!string.IsNullOrWhiteSpace(Model.objDeductiblesMaximums.RemainingBenefits) ? Model.objDeductiblesMaximums.RemainingBenefits + " &dollar;" : "-")
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <div class="clearfix">
                                                <p><b>Individual Deductible:</b></p><span>@Model.objDeductiblesMaximums.IndividualDeductible</span>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <div class="clearfix">
                                                <p><b>Individual Deductible Met:</b></p><span>@Model.objDeductiblesMaximums.IndividualDeductibleMet</span>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <div class="clearfix">
                                                <p><b>Family Deductible:</b></p><span>@Model.objDeductiblesMaximums.FamilyDeductible</span>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <div class="clearfix">
                                                <p><b>Family Deductible Met:</b></p><span>@Model.objDeductiblesMaximums.FamilyDeductibleMet</span>
                                            </div>
                                        </div>
                                        @*<div class="col-lg-6 col-md-6 col-sm-6">
                                                <div class="clearfix">
                                                    <p><b>Deductible Applies to Preventive:</b></p><span>@Model.objDeductiblesMaximums.DeductibleAppliestoPreventive</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                <div class="clearfix">
                                                    <p><b>Basic:</b></p><span>@Model.objDeductiblesMaximums.Basic</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                <div class="clearfix">
                                                    <p><b>Major:</b></p><span>@Model.objDeductiblesMaximums.Major</span>
                                                </div>
                                            </div>*@
                                    </div>
                                }

                                @*<div class="form-group row insurance-details-list bg-grey btm-margin-0">
                                        <div class="col-lg-12">
                                            <h1>Coverage</h1>
                                        </div>
                                    </div>
                                    @if (Model != null && Model.objCoverage != null)
                                    {
                                        <div class="form-group row btm-margin-30 insurance-details-list listing">
                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                <div class="clearfix">
                                                    <p><b>Diagnostic:</b></p><span>@Model.objCoverage.Diagnostic</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                <div class="clearfix">
                                                    <p><b>Endo:</b></p><span>@Model.objCoverage.Endo</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                <div class="clearfix">
                                                    <p><b>Preventive:</b></p><span>@Model.objCoverage.Preventive</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                <div class="clearfix">
                                                    <p><b>Perio:</b></p><span>@Model.objCoverage.Perio</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                <div class="clearfix">
                                                    <p><b>Basic:</b></p><span>@Model.objCoverage.Basic</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                <div class="clearfix">
                                                    <p><b>Oral Surgery:</b></p><span>@Model.objCoverage.OralSurgery</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                <div class="clearfix">
                                                    <p><b>Major:</b></p><span>@Model.objCoverage.Major</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                <div class="clearfix">
                                                    <p><b>Implant:</b></p><span>@Model.objCoverage.Implant</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                <div class="clearfix">
                                                    <p><b>Ortho:</b></p><span>@Model.objCoverage.Ortho</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                <div class="clearfix">
                                                    <p><b>Ortho Maximum:</b></p><span>@Model.objCoverage.OrthoMaximum</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                <div class="clearfix">
                                                    <p><b>Ortho Billing Requirements:</b></p><span>@Model.objCoverage.OrthoBillingRequirements</span>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                *@

                                @*
                                    <div class="form-group row insurance-details-list bg-grey btm-margin-0">
                                        <div class="col-lg-12">
                                            <h1>Frequency</h1>
                                        </div>
                                    </div>
                                    @if (Model != null && Model.objCoverage != null)
                                    {
                                        <div class="form-group row btm-margin-30 insurance-details-list listing">
                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                <div class="clearfix">
                                                    <p><b>Exam (00120):</b></p><span>@Model.objFrequency.Exam</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                <div class="clearfix">
                                                    <p><b>Full Mouth X-Rays/Pano Do210/Do330):</b></p><span>@Model.objFrequency.FullMouthXRaysPano</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                <div class="clearfix">
                                                    <p><b>Shares Benefits:</b></p><span>@Model.objFrequency.SharesBenefits</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                <div class="clearfix">
                                                    <p><b>Prophy (01110/D1120):</b></p><span>@Model.objFrequency.Prophy</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                <div class="clearfix">
                                                    <p><b>Fluoride (01206/D1208):</b></p><span>@Model.objFrequency.Fluoride</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                <div class="clearfix">
                                                    <p><b>Age Limit less than:</b></p><span>@Model.objFrequency.AgeLimitlessthan</span>
                                                </div>
                                            </div>
                                        </div>
                                    } *@
                            </div>
                        }

                    </div>
                </div>
            </div>
            @*<div class="modal-footer bdr-top-no">
                    <div class="btn-group btn-holder">
                        <button type="button" class="btn btn-default btn1" data-dismiss="modal"><i class="ico-corss2"></i>Cancel</button>
                        <button type="button" class="btn btn-default btn2 blue-bg mrgn-right-0"><i class="ico-save"></i>Save</button>

                    </div>
                </div>*@
        </div>
    </div>
}
catch (Exception Ex)
{
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header blue-bg">
                <button type="button" class="close close-circle" data-dismiss="modal">&times;</button>
                <h3 class="modal-title white">Error</h3>
            </div>
            <div class="modal-body">
                @Html.Partial("_PartialError")
            </div>
        </div>
    </div>
    Common.LogError(Ex);
}
