﻿@model OneClickReferral.Models.PermissionResult

<script>
    $(document).ready(function () {
        $('#upgradeAccount').trigger('click');
    });
</script>
<button type="button" title="Close (Esc)" class="mfp-close">×</button>
<h2 class="title">
    Upgrade Membership
</h2>
<div class="cntnt">
    <div class="heading_panel">
        @Model.Message
    </div>
    <div class="clear heading_panel"> </div>
    <div class="alertMessage" style="padding-top: 20px;">
        Please <a href="/FreeToPaid/UpgradeAccount">click here</a> to upgrade your account.
    </div>
</div>
