﻿<header id="header">
    <div class="adminMenu_holder">
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <img class="nav-icon-img" src="~/Content/Dashboard/images/nav-bar.png" alt="Nav Bar Icon">
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav" id="tabs">
                    <li><a href='@Url.Action("Index", "Dashboard")'> <span class="icon_holder"> <img src="~/Content/Dashboard/images/dasboard-icon.png" alt="dasboard-icon" title="Dashboard"></span> <span class="text_icon">Dashboard</span> </a></li>
                    <li id="inbox">
                        <a onclick="Redirect('/Inbox/Index')"> <span class="icon_holder"><img src="~/Content/Dashboard/images/inbox-icon.png" alt="inbox-icon" title="Inbox"></span> <span class="text_icon">Inbox</span><span class="count pull-right">@OneClickReferral.App_Start.SessionManagement.MessageCount</span> </a>
                        <ul class="sub-menu">
                            <li id="lisentmessage"><a onclick="Redirect('/Inbox/Sent')"><span class="icon_holder"><img src="~/Content/Dashboard/images/sent-message-icon.png" alt="sent-message-icon" title="Sent Message"></span><span class="text_icon">Sent Messages</span></a></li>
                            <li id="lireceiveReferral"><a onclick="ChangeReceive()"><span class="icon_holder"><img src="~/Content/Dashboard/images/receive-referrals-icon.png" alt="receive-referrals-icon" title="Receive Referrals"></span><span class="text_icon">Referrals Received</span></a></li>
                            <li id="lisentreferral"><a onclick="ChangeSent()"><span class="icon_holder"><img src="~/Content/Dashboard/images/send-referrals-icons.png" alt="send-referrals-icons" title="Send Referrals"></span><span class="text_icon">Referrals Sent</span></a></li>
                            <li id="lidraft"><a onclick="Redirect('/Inbox/Draft')"><span class="icon_holder"><img src="~/Content/Dashboard/images/drafts-icons.png" alt="drafts-icons" title="Drafts"></span><span class="text_icon">Drafts</span></a></li>
                        </ul>
                    </li>
                    <li> <a onclick="Redirect('/PlanTreatment/Index')"> <span class="icon_holder"><img src="~/Content/Dashboard/images/cases-icon.png" alt="case-icon" title="Plans"></span> <span class="text_icon">Plans </span> </a> </li>
                    <li class="idprofile"> <a href="/Profile/Index"> <span class="icon_holder"><img src="~/Content/Dashboard/images/profile-icon.png" alt="profile-icon" title="Profile"></span> <span class="text_icon">Profile</span> </a> </li>
                    <li> <a href="/Patients"> <span class="icon_holder"><img src="~/Content/Dashboard/images/patients-icons.png" alt="patients-icons" title="Patients"></span> <span class="text_icon">Patients</span> </a> </li>
                    <li class="idcolleague"> <a href="/Colleagues"> <span class="icon_holder"><img src="~/Content/Dashboard/images/colleagues-icon.png" alt="colleagues-icon" title="Colleagues"></span> <span class="text_icon">Colleagues</span> </a> </li>
                    <li> <a onclick="Redirect('/Appointment/Index')"> <span class="icon_holder"><img src="~/Content/Dashboard/images/appointment-icon.png" alt="appointment-icon" title="Appointment"></span> <span class="text_icon">Appointment</span> </a> </li>
                    <li> <a onclick="Redirect('/Reports')"><span class="icon_holder"><img src="~/Content/Dashboard/images/reports-icon.png" alt="reports-icon" title="Reports"></span> <span class="text_icon">Reports</span></a></li>                   
                </ul>
            </div>
        </nav>
    </div>
</header>
