﻿
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/NewSiteLayout.cshtml";
}
<main id="main">
    <section class="section-404error">
        <div class="container">
            <h1>404<span>Error</span></h1>
            <p class="error-text text-center">Don’t worry you will be back on track in no time!</p>
            <p class="home-back-btn-text text-center">
                Page doesn’t exist or some other error occurred. Go to our <a href="/">home page</a> or go back to <a href="/" onclick="history.back(); return false;">previous page</a>
            </p>
        </div>
    </section>
</main>