﻿@model IEnumerable<BO.Models.EmailProviderDetails>
@{
    ViewBag.Title = "Email Accounts";
    Layout = "~/Views/Shared/_NewSiteLayoutInner.cshtml";
}

<main id="main" role="main">    
    <div class="container">
        <div class="new-case case-overview search">
            <div class="row btm-margin-30  row-bordered referral">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col col-lg-6 col-xs-6 col-lg-push-6 one">
                            <div class="btn-group">
                                <a href="#" class="btn-default btn-cases"><i class="ico-general"></i>Mailboxes</a>
                            </div>
                        </div>
                        <div class="col col-lg-6 col-xs-6 col-lg-pull-6">
                            <h1 class="inline">Email Accounts</h1>
                            <div class="btn-group btn-holder">
                                <a href="@Url.Action("AddAccount", "EmailOauth")" class="btn btn-default btn-secondary mrgn-right-15"><i class="ico-add"></i>Add</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col col-lg-12 col-xs-12">
                            <div id="deleteid">
                                @if (ViewBag.IsDeleted != null)
                                {
                                    if ((bool)ViewBag.IsDeleted)
                                    {
                                        <div class="alert alert-success" style="text-align:center;">@ViewBag.DeleteMessage</div>
                                    }
                                    else
                                    {
                                        <div class="alert alert-warning" style="text-align:center;">@ViewBag.DeleteMessage</div>
                                    }
                                }
                                @if (ViewBag.IsAuthMsg != null)
                                {
                                    if ((bool)ViewBag.IsAuthMsg)
                                    {
                                        <div class="alert alert-success" style="text-align:center;">@ViewBag.OauthMsg</div>
                                    }
                                    else
                                    {
                                        <div class="alert alert-warning" style="text-align:center;">@ViewBag.OauthMsg</div>
                                    }
                                }
                                @if (ViewBag.IsUpdated != null)
                                {
                                    if ((bool)ViewBag.IsUpdated)
                                    {
                                        <div class="alert alert-success" style="text-align:center;">@ViewBag.UpdateMessage</div>
                                    }
                                    else
                                    {
                                        <div class="alert alert-warning" style="text-align:center;">@ViewBag.UpdateMessage</div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <table class="table table3 account_list">
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    @*<input id="@item.providerDetailsId" type="hidden" value="@item.providerDetailsId" />*@ 
                                    <td>@item.emailAddress</td>
                                    <td>
                                        @if (item.providerId == (int)BO.Enums.Common.EmailType.GmailOAuth2)
                                        {
                                            <span class="btn btn-default alert-info" style="cursor:default!important">Gmail OAuth2</span>
                                        }
                                        else if (item.providerId == (int)BO.Enums.Common.EmailType.OutlookOAuth2)
                                        {
                                            <span class="btn btn-default alert-info" style="cursor:default!important">Outlook OAuth2</span>
                                        }
                                        else if (item.providerId == (int)BO.Enums.Common.EmailType.Gmail)
                                        {
                                            <span class="btn btn-default alert-info" style="cursor:default!important">Gmail</span>
                                        }
                                        else if (item.providerId == (int)BO.Enums.Common.EmailType.Outlook)
                                        {
                                            <span class="btn btn-default alert-info" style="cursor:default!important">Outlook</span>
                                        }
                                        else
                                        {
                                            <span class="btn btn-default alert-info" style="cursor:default!important">Other</span>
                                        }
                                    </td>
                                    <td>
                                        <div class="btn-group">                                            
                                            @if (item.isDefault)
                                            {
                                                <span class="btn btn-default tag-btn bg-dark-grey" style="cursor:default!important">Default</span>
                                            }
                                            
                                            @if (item.sendEnabled)
                                            {
                                                <span class="btn btn-default tag-btn bg-dark-blue" style="cursor:default!important">Send</span>                                            
                                            }
                                        </div>
                                    </td>
                                    @*<td>Last sync was 2 month ago</td>*@
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle stats-btn" type="button" data-toggle="dropdown" aria-expanded="false">
                                                <span id="btnSetAction">Select</span><i class="fa fa-angle-down"></i>                                                                                             
                                            </button>
                                            <ul class="dropdown-menu dropdown-select" id="ddlSetAction">                                                
                                                <li><a data-id="@item.providerDetailsId">Set as default</a></li>
                                                @if (string.IsNullOrEmpty(item.accessToken))
                                                {
                                                    <li><a data-id="@item.providerDetailsId">Edit</a></li>
                                                }
                                                <li><a data-id="@item.providerDetailsId">Delete</a></li>                                                
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            }
                            @if (Model.ToList().Count <= 0)
                            {
                                <tr>
                                    <td>
                                        No records found.
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>

</main>
<div class="modal fade" id="delModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete Mailbox Record</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to remove?</p>
            </div>
            <div class="modal-footer">
                <a id="btnDelModal" class="btn btn-default">Yes! delete it.</a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">    
    $('#ddlSetAction li > a').click(function (e) {                
        var epdId = $(this).attr('data-id')
        if (this.innerHTML == "Edit") {
            window.location = "/EmailOauth/EditAccount?epdId=" + epdId;
        }
        else if(this.innerHTML == "Delete")
        {
            $('#delModal').modal({
                show: 'true',            
            });
            $("#btnDelModal").attr('href','/EmailOauth/DeleteAccount?epdId='+epdId);          
        }
        else {
            $('#btnSetAction').text(this.innerHTML);            
            window.location = "/EmailOauth/SetEmailDefault?epdId=" + epdId;
        }
    });

    $(document).ready(function ($) {        
        setTimeout(function () {
            $('#deleteid').fadeOut('fast');
        }, 5000);
    });
</script>
