﻿@model BO.Models.EmailProviderDetails
@{
    ViewBag.Title = "Add Account";
    Layout = "~/Views/Shared/_NewSiteLayoutInner.cshtml";
}
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<main id="main" role="main">
    <div class="container">
        <div class="new-case case-overview">
            <div class="row btm-margin-30  row-bordered referral">
                <div class="col-lg-12 ">
                    <div class="row">
                        <div class="col col-lg-6 col-xs-6 col-lg-push-6 one">
                            <div class="btn-group">
                                <a href="#" class="btn-default btn-cases"><i class="ico-general"></i>General</a>
                            </div>
                        </div>
                        <div class="col col-lg-6 col-xs-6 col-lg-pull-6">
                            <h1 class="inline">Add Account</h1>
                            <div class="btn-group btn-holder">
                                <a href="@Url.Action("Index", "EmailOauth")" class="btn btn-default btn-secondary mrgn-right-15"><i class=""></i>Back To List</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="heading-bar share-block light-gray txt-dark-gray font-14 pad-top-10 pad-btm-10 account">
                        <div class="row">
                            <div class="col col-lg-12 col-xs-12">
                                <b>Note:</b> Currently Recordlinc is optimized to work only with Gmail and Outlook email services.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">                    
                    <div class="row">
                        <div class="col col-lg-12 col-xs-12">
                            <div id="insertid">
                                @if (ViewBag.IsInserted != null)
                                {
                                    if ((bool)ViewBag.IsInserted)
                                    {
                                        <div class="alert alert-success" style="text-align:center;">@ViewBag.InsertMessage</div>
                                    }
                                    else
                                    {
                                        <div class="alert alert-warning" style="text-align:center;">@ViewBag.InsertMessage</div>
                                    }
                                }
                                @if (ViewBag.IsExists != null)
                                {
                                    if ((bool)ViewBag.IsExists)
                                    {
                                        <div class="alert alert-warning" style="text-align:center;">@ViewBag.ExistsMessage</div>
                                    }
                                    else
                                    {
                                        <div class="alert alert-warning" style="text-align:center;">@ViewBag.ExistsMessage</div>
                                    }
                                }                                                                                         
                            </div>
                        </div>
                    </div>                           
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 chart">
                    <h2 class="mrgn-btm-20">Authentication</h2>
                </div>
            </div>            

            @using (Html.BeginForm("AddAccount", "EmailOauth", FormMethod.Post, new { @id = "EmailOAuthform", @autocomplete = "off" }))
            {
                @Html.AntiForgeryToken();
                <div class="row mrgn-btm-20">
                    <div class="col-lg-3 col-sm-4">
                        <label>Email Provider</label>
                    </div>
                    <div class="col-lg-9 col-sm-8">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle stats-btn" type="button" data-toggle="dropdown" aria-expanded="false">
                                        <span id="btnSetAction">Select Email Provider</span>
                                        <i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-select" id="ddlprovider">                                        
                                        @foreach (var item in Model.lstProvider)
                                        {
                                            <li><a data-id="@item.providerId">@item.providerName</a></li>
                                        }                                        
                                    </ul>
                                </div>
                                @*@Html.HiddenFor(model => model.providerId)*@                                
                                @Html.DropDownListFor(m => m.providerId, new SelectList(Model.lstProvider, "providerId", "providerName"), "Select Provider", new { @style="display:none;" })                                
                                <span id="msgProvider" style="color:#ff0000;">@Html.ValidationMessageFor(model => model.providerId)</span>
                            </div>                           
                        </div>
                    </div>
                </div>
                <div class="row mrgn-btm-20">
                    <div class="col-lg-3 col-sm-4">
                        <label>Email Address</label>
                    </div>
                    <div class="col-lg-9 col-sm-8">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">                                
                                @Html.TextBoxFor(m => m.emailAddress, new { @placeholder = "Email Address", @id="EmailID"})
                                <span style="color:#999;">This is the email you'll be sending notifications from.</span>
                                <span style="color:#ff0000;display:none;" id="errorId">Please enter email address.</span>
                                <br />
                                <span style="color:#ff0000;">@Html.ValidationMessageFor(m => m.emailAddress)</span>
                            </div>
                        </div>
                    </div>
                </div>                          
                <div class="row mrgn-btm-20" id="dvPassword">
                    <div class="col-lg-3 col-sm-4">
                        <label>Password</label>
                    </div>
                    <div class="col-lg-9 col-sm-8">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">                                
                                @Html.PasswordFor(m => m.password)
                                <span style="color:#ff0000;">@Html.ValidationMessageFor(m => m.password)</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mrgn-btm-20" id="dvSmtpname">
                    <div class="col-lg-3 col-sm-4">
                        <label>SMTP Server Name</label>
                    </div>
                    <div class="col-lg-9 col-sm-8">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                @*<input placeholder="SMTP Server Name" type="text" />*@
                                @Html.TextBoxFor(m => m.smtpServerName, new { @placeholder = "SMTP Server Name", @id= "smtpnameId" })
                                <span style="color:#ff0000;">@Html.ValidationMessageFor(m => m.smtpServerName)</span>
                            </div>
                            @*<div class="col-lg-2 col-md-3 col-sm-6 icons">
                                <div class="btn-group btn-holder">
                                    <a href="#" class="btn btn-default btn1 mrgn-left-0"><i class="ico-load"></i>Autodiscover</a>
                                </div>
                            </div>*@
                        </div>
                    </div>
                </div>
                <div class="row mrgn-btm-20" id="dvSmtpPort">
                    <div class="col-lg-3 col-sm-4">
                        <label>SMTP Port Number</label>
                    </div>
                    <div class="col-lg-9 col-sm-8">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">                               
                                @Html.TextBoxFor(m => m.smtpPortNumber, new { @placeholder = "SMTP Port No.", @id = "smtpnoId" })
                                <span style="color:#ff0000;">@Html.ValidationMessageFor(m => m.smtpPortNumber)</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mrgn-btm-20" id="dvSSL">
                    <div class="col-lg-3 col-sm-4">
                        <label>Requires SSL</label>
                    </div>
                    <div class="col-lg-9 col-sm-8">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">                            
                                @*<label class="switch">*@
                                <label>                                    
                                    @Html.CheckBoxFor(m => m.requireSSL, new { @checked="checked", @id= "requireSSL", @name= "requireSSL" })
                                    @*<span class="slider round1"></span>*@
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 chart">
                        <h2 class="mrgn-btm-20">Sending @*& Syncing*@</h2>
                        <div class="mrgn-btm-20">
                            @*<label class="switch">*@
                            <label>                                
                                @Html.CheckBoxFor(m => m.sendEnabled, new { @checked = "checked", @id = "sendEnabled", @name = "sendEnabled" })
                                @*<span class="slider round1"></span>*@
                            </label>
                            <span class="enable">Enable sending messages from this mailbox.</span>
                        </div>
                        @*<div class="mrgn-btm-20">
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round1"></span>
                            </label>
                            <span class="enable">Enable sending messages from this mailbox.</span>
                        </div>*@
                    </div>
                </div>
           
                <div class="row mrgn-btm-20" id="btnSaveId">
                    <div class="col-lg-12">
                        <div class="btn-group btn-holder">
                            <button class="btn btn-default btn2" type="submit">
                                <i class="ico-save"></i>Save
                            </button>
                            @*<a href="#" class="btn btn-default btn2"><i class="ico-save"></i>Save</a>*@
                            @*<input type="submit" value="Save" class="btn btn-default btn2" /><i class="ico-save"></i>*@
                        </div>
                    </div>
                </div>                
            }
            <div class="row mrgn-btm-20" id="dvggl">
                <div class="col-lg-12">
                    <div class="btn-group btn-holder">
                        @*<a href="#" class="btn btn-default btn2"><i class="ico-save"></i>Save</a>*@
                        <a onclick="ConnectWithOAuth(2)" class="btn btn-default btn2"><i class="fa fa-google" aria-hidden="true"></i>Connect with Google</a>
                    </div>
                </div>
            </div>
            <div class="row mrgn-btm-20" id="dvOlook">
                <div class="col-lg-12">
                    <div class="btn-group btn-holder">
                        @*<a href="#" class="btn btn-default btn2"><i class="ico-save"></i>Save</a>*@
                        <a onclick="ConnectWithOAuth(4)" class="btn btn-default btn2"><i class="fa fa-envelope-o" aria-hidden="true"></i>Connect with Outlook</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
<script type="text/javascript">    

    $('#ddlprovider li > a').click(function (e) {        
        var pId = $(this).attr('data-id')        
        $('#btnSetAction').text(this.innerHTML);
        $('#providerId').val(pId);
        $('#msgProvider').css('display', 'none');
        ChangeAccount();
    });

    $(document).ready(function ($) {
        $("#dvggl").hide();
        $("#dvOlook").hide();
        setTimeout(function () {
            $('#insertid').fadeOut('fast');
        }, 5000);
    });
        
    function ChangeAccount()
    {
        
        var providerId = $("#providerId").val();
        if (providerId == 2 || providerId == 4) {
            $("#dvSSL").hide();
            $("#dvSmtpname").hide();
            $("#dvPassword").hide();
            $("#dvSmtpPort").hide();
            $("#dvUsername").hide();
            if (providerId == 2)
            {
                $("#dvOlook").hide();
                $("#btnSaveId").hide();
                $("#dvggl").show();
            }
            if (providerId == 4)
            {
                $("#dvggl").hide();
                $("#btnSaveId").hide();
                $("#dvOlook").show();
            }
        }
        else {            
            $("#dvSSL").show();
            $("#dvSmtpname").show();
            $("#dvPassword").show();
            $("#dvSmtpPort").show();
            $("#dvUsername").show();
            $("#dvggl").hide();
            $("#btnSaveId").show();
            $("#dvOlook").hide();
        }
        if (providerId == 1 || providerId == 3) {
            if (providerId == 1) {
                $("#smtpnameId").val('smtp.gmail.com');
                $("#smtpnoId").val('587');
            }
            if (providerId == 3) {
                $("#smtpnameId").val('smtp.office365.com');
                $("#smtpnoId").val('587');
            }
        }
    }

    function ConnectWithOAuth(typeid)
    {
        var emailId = $("#EmailID").val();
        if (emailId == null || emailId == '')
        {
            $("#errorId").css('display', 'block');
        }
        else
        {
            $("#errorId").css('display', 'none');
            window.location = "/EmailOauth/ConnectWithOAuth?emailid=" + emailId + "&typeid=" + typeid;                       
        }        
    }

</script>

