﻿@model BO.Models.ContactUs

@{
    ViewBag.Title = "Contact Recordlinc - Top Electronic Dental Record Software";
    Layout = "~/Views/Shared/NewSiteLayout.cshtml";
}

<script src="~/Scripts/Mask/Mask.js"></script>



<main id="main">
    <div class="page_haading_holder">
        <div class="container navigation_container">
            <div class="row navigation_row">
                <div class="col-xs-12">
                    <div class="page_heading">
                        <h1>Contact Us</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="section-sign-up contact_us plane_pricing_table">
        <div class="container">
            <div class="plan_pricing_holder plan_pricing_holder2">
                <div class="col-md-12">
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 left_box_holder">
                        <form id="frmContactUs">
                            <div class="left_box">
                                <h3>Send us a message</h3>
                                <div class="form-group">
                                    <label for="FirstName">First Name <font color="#FF0000">*</font></label>
                                    @Html.TextBoxFor(t => t.FirstName, new { @id = "txtfname", @onkeyup = "CharactersOnlytxtfirstname()", @class = "form-control" })
                                    @Html.ValidationMessageFor(t => t.FirstName)
                                    @*<input class="form-control" id="txtfname" name="txtfname" onkeyup="CharactersOnlytxtfirstname()"   type="text">*@

                                </div>
                                <div class="form-group card_group">
                                    <label for="LastName">Last Name <font color="#FF0000">*</font></label>
                                    @Html.TextBoxFor(t => t.LastName, new { @id = "txtlname", @onkeyup = "CharactersOnlytxtlastname()", @class = "form-control" })
                                    @Html.ValidationMessageFor(t => t.LastName)
                                    @*<input class="form-control input-lg" id="txtlname" name="txtlname" onkeyup="CharactersOnlytxtlastname()" type="text">*@
                                </div>
                                <div class="form-group card_group">
                                    <label for="Email">Email <font color="#FF0000">*</font></label>
                                    @Html.TextBoxFor(t => t.Email, new { @id = "txtemail", @class = "form-control", @placeholder = "info@name.com" })
                                    @Html.ValidationMessageFor(t => t.Email)
                                    @*<input class="form-control input-lg"  id="txtemail" name="Email"  placeholder="info@name.com" type="email">*@
                                </div>
                                <div class="form-group card_group">
                                    <label for="Phone">Phone <font color="#FF0000">*</font></label>
                                    @Html.TextBoxFor(t => t.Phone, new { @id = "txtphone", @class = "form-control" })
                                    @Html.ValidationMessageFor(t => t.Phone)
                                    @*<input class="form-control input-lg" id="txtphone" name="Phone"  type="text">*@
                                </div>
                                <div class="form-group card_group">
                                    <label for="Message">Message</label>
                                    @Html.TextAreaFor(t => t.Message, new { @id = "txtmessage", @class = "form-control", @rows = "5" })
                                    @*<textarea class="form-control" rows="5" id="txtmessage" name="Message" ></textarea>*@
                                </div>
                                <div class="form-group checkbox_main">
                                </div>
                                <div class="button_box">
                                    <a href="javascript:;" id="btnsave" class="submit_button">Submit</a>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 right_box_holder">
                        <div class="right_text_box heading">
                            <h3>Our Contacts</h3>
                        </div>
                        <div class="right_text_box address">
                            <h4>Address</h4>
                            <p>35 W Blue Ridge Way, Chandler AZ 85248</p>
                        </div>
                        <div class="right_text_box call">
                            <h4>Call</h4>
                            <p><a href="tel: (800)596-0133">(800)596-0133</a></p>
                        </div>
                        <div class="right_text_box email">
                            @*<h4>Email Us</h4>
                            <p>
                                <a href="mailto: Support@RecordLinc.com">Support@RecordLinc.com</a>
                                <a href="mailto: sales@recordlinc.com">sales@recordlinc.com</a>
                            </p>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<script>
    $(document).ready(function () {
        $('#txtphone').mask("(999) 999-9999");
    });

    function IsCharactersOnly(data) {
        var regex = /^[a-zA-Z\/\s\.'-]*$/;
        return regex.test(data);
    }

    function CharactersOnlytxtfirstname() {
        var charactersOnly = IsCharactersOnly(document.getElementById('txtfname').value);
        if (charactersOnly == false) {
            //alert('Allow characters only');
            //swal({ title: "", text: 'Allow characters only' });
            $('#txtfname').val('');
                    }
    }

    function CharactersOnlytxtlastname() {
        var charactersOnly = IsCharactersOnly(document.getElementById('txtlname').value);
        if (charactersOnly == false) {
            $('#txtlname').val('');
        }
    }


    function ContactUs() {
        $.ajaxSetup({ async: false });
        $("#divLoading").show();
        $.post("/ContactUs/ContactUs", { FirstName: $("#txtfname").val(), LastName: $("#txtlname").val(), Email: $("#txtemail").val(), Phone: $("#txtphone").val(), Message: $("#txtmessage").val() }, function (data) {
            if (data == "1") {
                swal({
                    title: "",
                    text: "Your mail has been sent successfully -Thank You",
                    type: "success",
                    closeOnConfirm: true,
                },
                    function () {
                        window.location.reload();
                    });
            }
            else {
                swal({ title: "", text: 'Send failure:' + data, type: 'error' });
            }
        });
        $("#divLoading").hide();
        $.ajaxSetup({ async: true });
    }

    $('body').on('click', function () {
        $('#txtfname').removeClass('input-validation-error');
        $('#txtlname').removeClass('input-validation-error');
        $('#txtemail').removeClass('input-validation-error');
        $('#txtphone').removeClass('input-validation-error');
    });

    $("#btnsave").click(function () {
        if (!$("#frmContactUs").valid()) {      
            $('#txtfname').removeClass('input-validation-error');
            $('#txtlname').removeClass('input-validation-error');
            $('#txtemail').removeClass('input-validation-error');
            $('#txtphone').removeClass('input-validation-error');
        }
        else
        {
            ContactUs();
        }
    });
</script>
