﻿@model DentalFiles.Models.ViewModel.DentalFormsMaster
@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}
<div class="grid_4">
    <div id="patientform_listing">
        <div class="listing_payment">
            <div id="menu-icon2">
                Basic Info <span></span>
            </div>
            <ul class="sf-menu_3">
                <li><a href="#" rel="1" class="selected"><span>Basic Settings</span></a></li>
                <li><a href="#" rel="2"><span>Notifications</span></a></li>
            </ul>
        </div>
    </div>
    <div class="clear">
    </div>
</div>
<div class="grid_12">
    <div id="form_right">
        <div class="form_container">
            <!--Basic info start-->
            <div id="tab-container_1" class='tab-container' style="display: block;">
                <h2>
                    Basic Settings</h2>
                <ul class='etabs'>
                    <li class='tab active'><a href="#settings">Settings</a></li>
                </ul>
                @foreach (var item in Model.BasicInfo)
                {
                    <div class='panel-container'>
                        <div id="tabs1-html">
                            <ul id="form_info">
                                <li>
                                    <label style="width:40%">
                                        Stay logged in for:</label>
                                       
                                    @Html.DropDownListFor(model => @item.StayloggedMins, new SelectList(ViewBag.StayloggedMins, "Value", "Text", @item.StayloggedMins), new { id = "ddlStayloggedMins", @class = "list_menu_forms", @tabindex = "510" })
                                </li>
                                <li>
                                    <label style="width:40%">
                                        Primary Email:</label>
                                    @Html.TextBoxFor(model => @item.Email, new { id = "txtEmail", @class = "input_box_forms", @tabindex = 511, @Value = @item.Email })
                                    @Html.HiddenFor(model => @item.Email, new { id = "hdnprimaryemail" })
                                </li>
                                <li>
                                    <label style="width:40%">
                                        Secondary Email:</label>
                                    @Html.TextBoxFor(model => @item.SecondaryEmail, new { id = "txtSecondaryEmail", @class = "input_box_forms", @tabindex = 512, @Value = @item.SecondaryEmail })
                                    @Html.HiddenFor(model => @item.SecondaryEmail, new { id = "hdnsecondaryemail" })
                                </li>
                                <li>
                                    <label style="width:40%">
                                        Password:</label>
                                    @Html.PasswordFor(model => @item.Password, new { id = "txtpassword", @class = "input_box_forms", @tabindex = 513, @Value = @item.Password })
                                </li>
                                <li>
                                    <label style="width:40%">
                                        Confirm Password:</label>
                                    @Html.PasswordFor(model => @item.ConfirmPassword, new { id = "txtConfirmPassword", @class = "input_box_forms", @tabindex = 514, @Value = @item.Password })
                                </li>
                                <li class="actions">
                                    <label>
                                        &nbsp;
                                    </label>
                                    <input type="button" id="btnSubmit" value="" tabindex="515" class="save" />
                                </li>
                            </ul>
                            <div class="clear">
                            </div>
                        </div>
                    </div>
                }
            </div>
            <!--Basic settings end-->
            <!--Notifications start-->
            <div id="tab-container_2" class='tab-container settings_nots' style="display: none;">
                <h2>
                    Notifications</h2>
                <ul class='etabs'>
                    <li class='tab active'><a href="#settings">Notifications</a></li>
                </ul>
                <div class='panel-container'>
                    <div id="tabs1-html">
                        <ul id="form_info">
                            <li>
                                <input name="checkbox" type="checkbox" value="checkbox" checked="checked" disabled="disabled"><label>Doctor sends a message</label></li>
                            <li>
                                <input name="checkbox" type="checkbox" value="checkbox" checked="checked" disabled="disabled"><label>Doctor sends a patient
                                    referral</label></li>
                            </ul>
                        <div class="clear">
                        </div>
                    </div>
                </div>
            </div>
            <!--Notifications end-->
            <!--Social Media start - Not in use as for now -->
            <div id="tab-container_3" class='tab-container' style="display: none;">
                <h2>
                    Social Media</h2>
                <ul class='etabs'>
                    <li class='tab active'><a href="#settings">Social Media</a></li>
                </ul>
                <div class='panel-container'>
                    <div id="tabs1-html">
                        <ul id="form_info">
                            <li>
                                <label>
                                    Facebook:</label><input name="" type="text" class="input_box_forms" value="www.facebook.com/recordlinc"></li>
                            <li>
                                <label>
                                    Twitter:</label><input name="" type="text" class="input_box_forms" value=""></li>
                            <li>
                                <label>
                                    LinkedIn:</label><input name="" type="text" class="input_box_forms" value=""></li>
                            <li>
                                <label>
                                    Google:</label><input name="" type="text" class="input_box_forms" value=""></li>
                            <li>
                                <label>
                                    Blog:</label><input name="" type="text" class="input_box_forms" value=""></li>
                            <li>
                                <label>
                                    Other Url:</label><input name="" type="text" class="input_box_forms" value=""></li>
                            <li class="actions">
                                <label>
                                    &nbsp;
                                </label>
                                <input name="save" value="save" type="button" class="save"></li>
                        </ul>
                        <div class="clear">
                        </div>
                    </div>
                </div>
            </div>
            <!--Social Media end-->
            <!--Edit Patient start Not in use as for now -->
            <div id="tab-container_4" class='tab-container' style="display: none;">
                <h2>
                    Edit Patient Letters</h2>
                <ul class='etabs'>
                    <li class='tab active'><a href="#settings">Edit Letters</a></li>
                </ul>
                <div class='panel-container'>
                    <div id="tabs1-html">
                        <ul id="form_info">
                            <li>
                                <label>
                                    Patient Letter Subject:</label><input name="" type="text" class="input_box_forms"
                                        value="#Doctor# Sent Letter Related To Your Child"></li>
                            <li>
                                <label>
                                    Patient Letter Template:</label><div class="fck_editor">
                                        <img src="images/patient-history/fckeditor.png" alt="fckeditor"></div>
                            </li>
                            <li>
                                <label>
                                    Guardian Letter Subject:</label><input name="" type="text" class="input_box_forms"
                                        value="#Doctor# Sent You a Letter" alt="fckeditor"></li>
                            <li>
                                <label>
                                    Guardian Letter Template:</label><div class="fck_editor">
                                        <img src="images/patient-history/fckeditor.png" alt="fckeditor"></div>
                            </li>
                            <li class="actions">
                                <input name="save" value="save" type="button" class="save"></li>
                        </ul>
                        <div class="clear">
                        </div>
                    </div>
                </div>
            </div>
            <!--Edit Patient end-->
        </div>
    </div>
</div>
<div class="clear">
</div>
<script type="text/javascript">

    $("#btnSubmit").click(function () {

        if ($('#txtEmail').val() == null || $('#txtEmail').val() == '') {

            document.getElementById('txtEmail').focus();
            //alert("Please Enter Email");
            swal({ title: "", text: 'Please enter email' });
            return false;
        }

        var result = IsEmail($('#txtEmail').val());
        if (result == false) {
            //alert('Please Enter Valid Email.');
            swal({ title: "", text: 'Please enter valid email.' });
            $('#txtEmail').focus();
            return false;
        }

        if ($('#txtSecondaryEmail').val() != "") {

            var result = IsEmail($('#txtSecondaryEmail').val());
            if (result == false) {
                //alert('Please Enter Valid Secondary Email.');
                swal({ title: "", text: 'Please enter valid secondary email.' });
                $('#txtSecondaryEmail').focus();
                return false;
            }
        }
        if ($('#txtEmail').val() == $('#txtSecondaryEmail').val()) {
            //alert("Email address & Secondary Email should not be same");
            swal({ title: "", text: 'Email address & secondary email should not be same' });
            $('#txtEmail').focus();
            return false;
        }
        //Priya : Issue no :5206
        //if ($('#txtpassword').val() == null || $('#txtpassword').val() == '') {
        //    document.getElementById('txtpassword').focus();
        //    //alert("Please Enter Password");
        //    swal({ title: "", text: 'Please enter password' });
        //    return false;
        //}
        if ($('#txtpassword').val() != null && $('#txtpassword').val() != '') {
            if ($('#txtConfirmPassword').val() == null || $('#txtConfirmPassword').val() == '') {


                document.getElementById('txtConfirmPassword').focus();
                //alert("Please Enter Confirm Password");
                swal({ title: "", text: 'Enter confirm password' });
                return false;
            }
        }

        //if ($('#txtpassword').val() != $('#txtConfirmPassword').val()) {

        //    document.getElementById('txtConfirmPassword').focus();
        //    //alert("Confirm Password Not Match Up");
        //    swal({ title: "", text: 'Password and Confirm Password does not match' });
        //    return false;
        //}
        var Password = $.trim($('#txtpassword').val());
        var ConfirmPassword = $.trim($('#txtConfirmPassword').val());
        if (!Password && ConfirmPassword) {
            swal({ title: "", text: 'Enter password to verify it with confirm password.' });
             $('#txtpassword').focus();
            return false;
        }

        if (Password && ConfirmPassword) {
            if (Password != ConfirmPassword) {
                swal({ title: "", text: 'Password and confirm password does not match' });
                // alert('Please check that you have entered and confirmed your password!');
                return false;
            }
            else {
                var re = /^.*(?=.{8,})(?=.*[a-z])(?=.*[A-Z])(?=.*[@@#!$%^&+=]).*$/;
                if (!re.test(Password)) {
                    if (Password.length < 8 || Password.match(/[a-z]/) || Password.match(/[A-Z]/) || Password.match(/\d/)) {
                        var specialchrchk = Password.replace(/([0-9a-zA-Z])+/g, "");
                        if (!/^[!@@#$%^&*()_+{}:\"\\\'?></.,|]+$/.test(specialchrchk)) {
                            swal({ title: "", text: 'Password must be a minimum of 8 characters long and contain an upper and lower case letter, a number, and a symbol such as #,!,$,%,&,_..' });
                            return false;
                        }
                    }
                }
            }
        }



        $("#divLoading").show();
        $.ajax({
            url: '@Url.Action("UpdateSettings", "Settings")?ddlStayloggedMins= ' + $('#ddlStayloggedMins').val() + '&txtEmail=' + $('#txtEmail').val() + '&hdnprimaryemail=' + $('#hdnprimaryemail').val() + '&txtSecondaryEmail=' + $('#txtSecondaryEmail').val() + '&hdnsecondaryemail=' + $('#hdnsecondaryemail').val() + '&txtpassword=' + $('#txtpassword').val() + '',
            type: 'POST',
            dataType: 'html',

            contenttype: "application/x-www-form-urlencoded",
            cache: false,
            ProcessData: false,
            success: function 
                           (output, status, xhr) {
                obj = jQuery.parseJSON(output);


                $('#Message').html(obj.body + ' ' + obj.IsprimaryAddressUpdate + ' ' + obj.IssecondaryAddressUpdate);
                $('#Message').delay(300).slideDown(300).delay(4000).slideUp(300);
                $(window).scrollTop(0);
                $("#divLoading").hide();
                $("#txtpassword").val("");
                $("#txtConfirmPassword").val("");
            },
            error: function (xhr) {


                if (typeof (console) != 'undefined') {
                    // console.log(xhr.responseText);
                }
            }
        });
    });
</script>
