﻿
@{
    ViewBag.Title = "Patient Information";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

@{
    if (TempData["FromId"] != null)
    {
        <script type="text/javascript">
                                 $(function () {
                                     var id =  @(TempData["FromId"]);
                                     messagebox('@(TempData["FromId"])');

                                     document.getElementById('ali'+ id).click();

                                 });
        </script>
    }
}

<script type="text/javascript">
    function PersonalInfo() {
        $("#li1").click(function () {
            $("#tab-container_1").show();
            $("#SkipOn_BasicInfo").show();
            $("#tab-container_4").hide(); // -- Medical History
            $("#tab-container_9").hide(); // -- Insurance Coverage
            $("#tab-container_5").hide(); // -- Dental History
            $("#tab-container_2").hide(); // -- Notice Of Privacy
        });
    }
    function DentalInsurane() {
        $("#li4").click(function () {
            $("#tab-container_1").hide();
            $("#tab-container_4").hide(); // -- Medical History
            $("#tab-container_9").show(); // -- Insurance Coverage
            $("#tab-container_5").hide(); // -- Dental History
            $("#tab-container_2").hide(); // -- Notice Of Privacy
        });
    }
    function MedicalHistory() {
        $("#li5").click(function () {
            $("#tab-container_1").hide();
            $("#tab-container_4").show(); // -- Medical History
            $("#tab-container_9").hide(); // -- Insurance Coverage
            $("#tab-container_5").hide(); // -- Dental History
            $("#tab-container_2").hide(); // -- Notice Of Privacy
        });
    }
    function DentalHistory() {
        $("#li6").click(function () {
            $("#tab-container_1").hide();
            $("#tab-container_4").hide(); // -- Medical History
            $("#tab-container_9").hide(); // -- Insurance Coverage
            $("#tab-container_5").show(); // -- Dental History
            $("#tab-container_2").hide(); // -- Notice Of Privacy
        });
    }
    function NoticeOfPrivacy() {
        $("#li2").click(function () {
            $("#tab-container_2").show(); // -- Notice Of Privacy
            $("#tab-container_1").hide();
            $("#tab-container_4").hide(); // -- Medical History
            $("#tab-container_9").hide(); // -- Insurance Coverage
            $("#tab-container_5").hide(); // -- Dental History

        });
    }
</script>
<style>
    .tab-container .panel-container {
        overflow: scroll;
    }

    .panel-container #DentalHistory span table {
        margin-left: 0px !important;
    }

    .grid_12 {
        display: block;
        float: none !important;
        margin: 20px auto !important;
        width: 100% !important;
    }

    .grid_4_ {
        width: 100%;
        border-radius: 10px;
    }
</style>




<div class="grid_4_" style="padding-top:10px;">
    <div id="patientform_listing" style="padding-top:10px;padding:8px">
        <div class="listing_payment menu-ou">
            <div id="menu-icon2">
                Basic Info <span></span>
            </div>
            <table class="col-md-12">
                <tbody>
                    <tr>
                        <td class="col-md-3" style="border-right:1px solid white">
                            <ul class="sf-menu_3" id="li1">
                                <li id="li1" style="float:left" onclick="return PersonalInfo();"><a href="#" id="ali1" class="selected"><span>Personal Info</span></a></li>
                            </ul>
                        </td>
                        @*<td class="col-md-2">
                                <ul class="sf-menu_3">
                                    <li id="li2" style="float:left" onclick="return NoticeOfPrivacy();"><a href="#" id="NoticeofPrivacy"><span>Notice of Privacy </span></a></li>
                                </ul>
                            </td>*@
                        <td class="col-md-3" style="border-right:1px solid white">
                            <ul class="sf-menu_3" id="li4">
                                <li id="li4" style="float:left" onclick="return DentalInsurane();"><a href="#" id="ali9"><span>Dental Insurance</span></a></li>
                            </ul>
                        </td>
                        <td class="col-md-3" style="border-right:1px solid white">
                            <ul class="sf-menu_3" id="li5">
                                <li id="li5" style="float:left" onclick="return MedicalHistory();"><a href="#" id="ali4"><span>Medical History</span></a></li>
                            </ul>
                        </td>
                        <td class="col-md-3">
                            <ul class="sf-menu_3" id="li6">
                                <li id="li6" style="float:left" onclick="return DentalHistory();"><a href="#" id="ali5"><span>Dental History</span></a></li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
            <ul class="sf-menu_3" style="display:inline">
                @*<li id="li3" style="display: none;"><a href="#" id="ali3" rel="3"><span>Patient Information</span></a></li>*@
                <li id="li7" style="display: none;"><a href="#" id="ali6"><span>Child Dental Medical History</span></a></li>
                <li id="li8" style="display: none;"><a href="#" id="ali7"><span>Medical History Update</span></a></li>
                <li id="li9" style="display: none;"><a href="#" id="ali8"><span>Review</span></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="grid_12">
    <div id="form_right">
        <div class="form_container">
            <!--Basic info start Not shown as of now-->
            @Html.Partial("DentalForms/_BasicInfo")

            <!--Notice of privacy end-->
            @Html.Partial("Dentalforms/_Insurance_Coverage")
            <!--Dental History start-->
            @Html.Partial("DentalForms/_DentalHistory")
            <!--Dental History end-->
            <!--Medical History Update start-->
            @Html.Partial("DentalForms/_MedicalHistory")
            <!--Child dental end start-->
            @Html.Partial("DentalForms/_ChildDental_MEDICALHISTORY")
            <!--Child dental end end-->
            <!--Medical History Update starts -->
            @Html.Partial("DentalForms/_MedicalHistoryUpdate")
            <!--Medical History Update ends -->
            <!--Review start-->
            @Html.Partial("DentalForms/_Review")
            <!--Review end-->
            <!--Basic info end-->
            <!--Notice of privacy start-->
            @Html.Partial("DentalForms/_NoticeOfPrivacy")
        </div>
    </div>
</div>



<script type="text/javascript">


    $(document).ready(function () {

        $("#SkipOn_BasicInfo").click(function () {
            $("#tab-container_9").show();
            $("#tab-container_2").hide(); // -- Notice Of Privacy
            $("#tab-container_1").hide();
            $("#tab-container_4").hide(); // -- Medical History
            $("#tab-container_5").hide(); // -- Dental History

        });
    });




    //function messagebox(msg) {

    //    if (msg == 1) {
    //        //document.getElementById('li1').style.display = '';
    //        $("#tab-container_1").show();
    //        $("#tab-container_4").hide(); // -- Medical History
    //        $("#tab-container_9").hide(); // -- Insurance Coverage
    //        $("#tab-container_5").hide(); // -- Dental History
    //    }

    //    if (msg == 2) {
    //        document.getElementById('li1').style.display = '';
    //        document.getElementById('li2').style.display = '';
    //    }


    //    else if (msg == 9) {

    //        //document.getElementById('li1').style.display = '';
    //        //document.getElementById('li2').style.display = '';
    //        //document.getElementById('li4').style.display = '';

    //        $("#SkipOn_BasicInfo").hide(); // -- Personal Information
    //        $("#tab-container_4").hide(); // -- Medical History
    //        $("#tab-container_9").show(); // -- Insurance Coverage
    //        $("#tab-container_5").hide(); // -- Dental History
    //    }

    //    else if (msg == 5) {

    //        //document.getElementById('li1').style.display = '';
    //        //document.getElementById('li2').style.display = '';

    //        //document.getElementById('li4').style.display = '';
    //        //document.getElementById('li5').style.display = '';
    //        //document.getElementById('li6').style.display = '';

    //        $("#SkipOn_BasicInfo").hide();
    //        $("#tab-container_4").hide(); // -- Medical History
    //        $("#tab-container_9").hide(); // -- Insurance Coverage
    //        $("#tab-container_5").show(); // -- Dental History

    //    }
    //    else if (msg == 6) {
    //        document.getElementById('li1').style.display = '';
    //        document.getElementById('li2').style.display = '';

    //        document.getElementById('li4').style.display = '';
    //        document.getElementById('li5').style.display = '';
    //        document.getElementById('li6').style.display = '';
    //        document.getElementById('li7').style.display = '';



    //        document.getElementById('dvconfirm').style.display = 'none';
    //        document.getElementById('dvCDMH').style.display = '';

    //    }
    //    else if (msg == 7) {
    //        document.getElementById('li1').style.display = '';
    //        document.getElementById('li2').style.display = '';

    //        document.getElementById('li4').style.display = '';
    //        document.getElementById('li5').style.display = '';
    //        document.getElementById('li6').style.display = '';
    //        document.getElementById('li7').style.display = '';

    //    }
    //    else if (msg == 8) {
    //        document.getElementById('li1').style.display = '';
    //        document.getElementById('li2').style.display = '';

    //        document.getElementById('li4').style.display = '';
    //        document.getElementById('li5').style.display = '';
    //        document.getElementById('li6').style.display = '';
    //        document.getElementById('li7').style.display = '';

    //        document.getElementById('li9').style.display = '';

    //    }



    //    else if (msg == 4) {
    //        //document.getElementById('li1').style.display = '';
    //        //document.getElementById('li2').style.display = '';
    //        //document.getElementById('li4').style.display = '';
    //        //document.getElementById('li5').style.display = '';

    //        $("#SkipOn_BasicInfo").hide();
    //        $("#tab-container_4").show(); // -- Medical History
    //        $("#tab-container_9").hide(); // -- Insurance Coverage
    //        $("#tab-container_5").hide(); // -- Dental History

    //        // Selectnexttab();

    //    }

    //    $(window).scrollTop(0);
    //    var rel = msg;
    //    $(".sf-menu_3 li a").removeClass("selected");
    //    $(".tab-container").fadeOut();
    //    $("#tab-container_" + msg).fadeIn();
    //    $(".sf-menu_3 li a[rel=" + msg + "]").addClass("selected");
    //    if (window.innerWidth <= 767) {


    //        $(".sf-menu_3").slideToggle();

    //        var text = $(".sf-menu_3 li a[rel=" + msg + "]").find("span").html();
    //        $("#menu-icon2").html(text);
    //    }
    //    document.getElementById('dvreview').style.display = '';
    //    document.getElementById('Review').style.display = '';
    //    document.getElementById('askp').style.display = '';


    //    MrdQue1('MrdQue1', 'pnlMrdQue1', 'Mtxtphysicians');
    //    MrdQue1('MrdQue2', 'pnlMrdQue2', 'Mtxthospitalized');
    //    MrdQue1('MrdQue3', 'pnlMrdQue3', 'Mtxtserious');
    //    MrdQue1('MrdQue4', 'pnlMrdQue4', 'Mtxtmedications');
    //    MrdQue1('MrdQue5', 'pnlMrdQue5', 'MtxtRedux');
    //    MrdQue1('MrdQue6', 'pnlMrdQue6', 'MtxtFosamax');
    //    MrdQue1('MrdQuediet7', 'pnlMrdQue7', 'Mtxt7');
    //    MrdQue1('Mrdotobacco8', 'pnlMrdQue8', 'Mtxt8');
    //    MrdQue1('Mrdosubstances', 'pnlMrdQue9', 'Mtxt9');
    //    MrdQue1('Mrdopregnant', 'pnlMrdQue10', 'Mtxt10');
    //    MrdQue1('Mrdocontraceptives', 'pnlMrdQue11', 'Mtxt11');
    //    MrdQue1('MrdoNursing', 'pnlMrdQue12', 'Mtxt12');

    //    rdQue7a();
    //    rdQue9();


    //    rdQue21();

    //    pnlrdQue28();
    //}

    function clickmyinfocorrect() {

        messagebox('8');
        document.getElementById('reviewclickbutton').style.display = 'none';
        var Newsignup = document.getElementById('<%=hdnAfterComplete.ClientID %>').value;
        setTimeout(function () { window.open(Newsignup, '_self'); }, 5000);


    }

    function SelectNextMenu(id) {

        $(window).scrollTop(0);
        $(".sf-menu_3 li a[rel=" + id + "]").click();


        if (id == 4) {
            Selectnexttab();
        }


        return false;
    }





    function Selectnexttab() {

        $(window).scrollTop(0);
        $("#tbmh").removeClass("active")
        $("#achild").removeClass("tab");
        $("#tbdentalinfo").addClass("tab active");

        $("#MedicalHistory").removeClass("tab active");
        $("#tbmediacalhistory").removeClass("active")
        $("#amedicalinfo").removeClass("tab");


        return false;
    }

    function Selectnexttab1() {
        $(window).scrollTop(0);
        $("#DentalHistory").removeClass("tab active");
        $("#tbdentalinfo").removeClass("active")
        $("#adentalinfo").removeClass("tab");
        $("#tbmediacalhistory").addClass("tab active");

        $("#tbmh").removeClass("active")
        $("#achild").removeClass("tab");



        return false;
    }

    function clickguardiana() {
        $(window).scrollTop(0);
        document.getElementById('dvFullDesc-Hide').style.display = 'none';

        document.getElementById('dvFullDesc-Show').style.display = '';
        document.getElementById('SkipOn_BasicInfo').style.display = 'block';
        $("#PATIENTINFO").removeClass("active");
        $("#GUARDIANINFO").addClass("active");
        $("#libasicguardianinfo").addClass("active");
        $("#liabasicpatientinfo").removeClass("active");


    }

    function clickbasicpatient() {
        $(window).scrollTop(0);
        document.getElementById('dvFullDesc-Hide').style.display = '';
        document.getElementById('dvFullDesc-Show').style.display = 'none';
        document.getElementById('SkipOn_BasicInfo').style.display = 'none';

        $("#GUARDIANINFO").removeClass("active");
        $("#PATIENTINFO").addClass("active");
        $("#liabasicpatientinfo").addClass("active");
        $("#libasicguardianinfo").removeClass("active");

    }

    function MrdQue1(ctrl, pnl, txt) {

        if ($('#' + ctrl).is(':checked') == true) {
            document.getElementById(pnl).style.display = '';
        }
        else {
            document.getElementById(pnl).style.display = 'none';
            document.getElementById(txt).value = '';

        }
    }



    function pnlrdDentalQue11() {

        if ($('#rdDentalQue11').is(':checked') == true) {
            document.getElementById('pnlrdDentalQue11').style.display = '';
        }
        else {
            document.getElementById('pnlrdDentalQue11').style.display = 'none';
            document.getElementById('txtDentalQue11a').value = '';

        }
    }


    function rdQue7a() {
        if ($('#rdQue7a').is(':checked') == true) {
            document.getElementById('pnlrdQue7a').style.display = '';
        }
        else {
            document.getElementById('pnlrdQue7a').style.display = 'none';
            document.getElementById('txtQue7').value = '';

        }
    }

    function rdQue9() {
        if ($('#rdQue9').is(':checked') == true) {
            document.getElementById('pnlrdQue9').style.display = '';
        }
        else {
            document.getElementById('pnlrdQue9').style.display = 'none';
            document.getElementById('txtQue9a').value = '';

        }
    }



    function rdQue21() {
        if ($('#rdQue21').is(':checked') == true) {
            document.getElementById('pnlrdQue21').style.display = '';
        }
        else {
            document.getElementById('pnlrdQue21').style.display = 'none';
            document.getElementById('txtQue21a').value = '';

        }
    }






    function pnlrdQue28() {
        if ($('#rdQue28').is(':checked') == true) {
            document.getElementById('pnlrdQue28').style.display = '';
        }
        else {
            document.getElementById('pnlrdQue28').style.display = 'none';
            document.getElementById('txtQue28a').value = '';
            document.getElementById('txtQue28b').value = '';
            document.getElementById('txtQue28c').value = '';

        }
    }


    $(document).ready(function () {


        $(".dob").datepicker({
            changeYear: true,
            changeMonth: true

        });


    });

    Selectnexttab();
</script>
