﻿@model NewRecordlinc.Models.Appointment.CreateAppointment
@{
    ViewBag.Title = "AppointmentBooking";
    Layout = "~/Views/Shared/PublicProfileLayout.cshtml";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link href="~/Content/Appointment/Css/jquery.datetimepicker.css" rel="stylesheet" />
@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">*@
<link href="~/Content/css/newappointmentview.css" rel="stylesheet" />
<link href="~/Content/Appointment/Css/appointmenttimeslot.css" rel="stylesheet" />
<link href="~/Content/Appointment/Css/cercle.css" rel="stylesheet" />
<script type="text/jscript" src="../../Content/js/jquery.ui.core.js"></script>
<script type="text/jscript" src="../../Content/js/jquery.ui.widget.js"></script>
<script type="text/jscript" src="../../Content/js/jquery.ui.mask.js"></script>
<style>
    .custominputclass123 {
        border: 0 !important;
        outline: 0 !important;
        background: transparent !important;
        border-bottom: 1px solid #c2babc !important;
        box-shadow: 0 0 0 #c2babc !important;
    }

    body {
        background-color: none !important;
        background: #f1f1f1 none repeat scroll 0 0 !important;
        color: #333;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 14px;
        line-height: 1.42857;
    }

    .flt-right {
        float: right;
    }

    .mrgn-10 {
        margin-right: 10px;
    }

    .wdth-100 {
        width: 100%;
    }

    .wdth-90 {
        width: 90%;
    }

    .wdth-95 {
        width: 95%;
    }

    .servicedev {
        width: 50%;
        float: right;
    }

    .servicedevmain {
        padding: 22px !important;
        border-right: none !important;
        width: 72%;
    }

    .servicedevleftbox {
        width: 50%;
        float: left;
    }

    .table-striped > tbody > tr:nth-of-type(2n+1) {
        background-color: #fff;
    }
</style>
<div class="main">
    <div class="breadcrum">
    </div>
    <div class="clear">
    </div>
    <div class="row-nav">
        <!--======================== menu ============================-->
        <nav>
            <div id="menu-icon">Menu </div>
            <ul class="sf-menu sf-menu_2">
                <li><a><input type="submit" class="AboutDoctor_btn" value="About the Doctor" onclick="location.href='@Url.Action("ClickAboutDoctor", "p")'" /></a></li>
                <li><a><input type="submit" class="patientforms" value="Patient Forms" onclick="location.href='@Url.Action("ClickPatientForms", "p")'" /> </a></li>
                <li><a><input type="submit" class="referpatient" value="Refer a Patient" onclick="location.href='@Url.Action("ClickReferPatient", "p")'" /></a></li>
                <li><a class="current"><input type="submit" class="Appointment_Public" value="Appointment" onclick="location.href='@Url.Action("AppointmentBooking", "p")'" /></a></li>
                <li><a><input type="submit" class="patientlogin" value="Patient Login" onclick="location.href='@Url.Action("ClickPatientLogin", "p")'" /></a></li>
            </ul>
        </nav>
        <div class="clear">
        </div>
    </div>
</div>
<div class="clear">
</div>
<section id="content">
    <div class="container_16">
        <div class="main_content">
            @Html.Hidden("DServiceId", Model.ServiceId)
            @Html.Hidden("DDoctorId", Model.DoctorId)
            @Html.Hidden("Servicelenght", Model.Servicelenght)
            @Html.Hidden("ServiceCount", Model.ServiceCount)
            @Html.Hidden("ApptResourceId", Model.ApptResourceId)
            <div class="devdtwo">
                <div class="col-md-6 col-border3 servicedevmain">
                    <div class="row servicedevleftbox">
                        <div id="no-more-tables">
                            <table class="col-md-12 table-bordered table-striped table-condensed cf">
                                <tbody>
                                    <tr>
                                        <td style="width:100px;">
                                            <div>
                                                @if (Model.DoctorImage != null && Model.DoctorImage != "")
                                                {
                                                    <img id="DrImg" src="../../DentistImages/@Model.DoctorImage" />
                                                }
                                                else
                                                {
                                                    <img id="DrImg" src="../../DentistImages/Doctor_no_image.gif" />
                                                }
                                            </div>
                                        </td>
                                        <td style="width:10px; display:none;"><div class="cercle-ring cercle-ring-green">@Model.DoctorCercleName</div></td>
                                        <td data-title="Company" style="vertical-align: top;">
                                            <p style="margin:7px 0px 0px;color: rgba(0, 0, 0, 0.40);font-size:15px;padding-bottom: 10px!important;">Doctor</p>
                                            <span style="font-weight:bold;font-size:14px;">
                                                @Model.DoctorName
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row servicedev">
                        <table class="wdth-100">
                            <tr>
                                <td style="font-size:15px;color: rgb(160, 160, 160);padding: 12px 4px 0;">  Service  </td>
                            </tr>
                            <tr>
                                <td style="font-size:15px">@Html.DropDownListFor(m => m.ServiceId, Model.DoctorServices, new { @class = "custominputclass123 wdth-100", @style = "height:35px" })</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-md-3 col-border3" style="border-left:none!important;">
                    <div id="NewCalander" style="margin-left:20px;">
                    </div>
                </div>
            </div>
            <div id="loadtimeslotegrid">
            </div>
            <div class="modal fade" id="bookappointmentpopup" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" style="min-width:54%;">
                    <div class="modal-content" style="position: absolute;width: 100%;padding-bottom: 20px;">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title">
                                Book your appointment
                            </h4>
                        </div>
                        <form action="/" id="frmAppointmentBookingData" method="post">
                            <div class="modal-body">
                                <input type="hidden" id="DoctorId1" value="" />
                                <input type="hidden" id="AppointmentDate1" value="" />
                                <input type="hidden" id="AppointmentTime1" value="" />
                                <input type="hidden" id="ServiceTypeId1" value="" />
                                <input type="hidden" id="ImgVal" value="" />
                                <input type="hidden" id="DrName" value="@Model.DoctorName" />
                                <input type="hidden" id="AppointmentDay" value="" />
                                @Html.Hidden("Address", Model.Address)
                                @Html.Hidden("City", Model.City)
                                @Html.Hidden("State", Model.State)
                                @Html.Hidden("Country", Model.Country)
                                @Html.Hidden("ZipCode", Model.ZipCode)
                                <div id="signin_singup_tab">
                                </div>
                            </div>
                        </form>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div>
        </div>
        <div id="main"></div>
    </div>
</section>
<script src="~/Content/Appointment/Js/bootstrap.min.js"></script>
<script src="~/Content/Appointment/Js/jquery.datetimepicker.full.js"></script>
<script>
    var OffDays = [];
    $(document).ready(function () {
        GetWeekSheduleData();
        $('#NewCalander').datetimepicker({
            inline: true,
            format: 'm-d-Y',
            timepicker: false,
            minDate: gettodaydate(),
            beforeShowDay: DisableSpecificDates,
            onChangeDateTime: function (dp, $input) {
                GetTimeslotGrid($input.val())
            }
        });
        GetTimeslotGrid('');
    })
    function DisableSpecificDates(date) {
        if ($.inArray(date.getDay(), OffDays) !== -1) {
            return [false];
        }
        return [true];
    }

    function GetWeekSheduleData() {
        var name = '@(this.ViewContext.RouteData.Values["username"])';
        var encoded = encodeURIComponent(name);
        var DoctorId = $("#DDoctorId").val();
        var datalist = null;
        $("#divLoading").show();
        $.ajaxSetup({ async: false });
        $.ajax({
            url: "/p/" + encoded + "/GetWeekSheduleData/?DoctorId=" + DoctorId + "&TheatreID=0",
            type: "post",
            success: function (data) {
                datalist = data
                $("#divLoading").hide();
            },
            error: function (response, status, xhr) {

            }
        });
        $.ajaxSetup({ async: true });
        $(datalist).each(function () {
            if (this.IsOffDay === "Y") {
                OffDays.push((this.Day != 6) ? this.Day + 1 : 0);
            }
        });
        return OffDays;
    }
    function gettodaydate() {
        var d = new Date();
        return (d.getMonth() + 1) + "-" + d.getDate() + "-" + d.getFullYear();
    }
    function GetTimeslotGrid(Startdate) {
        $("#loadtimeslotegrid").empty();
        var DoctorId = $("#DDoctorId").val();
        var ServiceId = $("#DServiceId").val();
        var name = '@(this.ViewContext.RouteData.Values["username"])';
        var encoded = encodeURIComponent(name);
        var TheatreId = GetDefaultOP(encoded, DoctorId);

        $("#loadtimeslotegrid").load("/p/" + encoded + "/AppointmentSlotGrid?DoctorId=" + DoctorId + "&ServiceId=" + ServiceId + "&StartDate=" + Startdate + "&TheatreId=" + TheatreId + "");
    }
    function GetDefaultOP(encoded, DoctorId) {
        var TheatreId = 0;
        $.ajaxSetup({ async: false });
        $.ajax({
            url: "/p/" + encoded + "/GetDefaultOP?DoctorId=" + DoctorId,
            type: "GET",
            success: function (data) {
                if (data) {
                    TheatreId = data.id;
                    $("#ApptResourceId").val(TheatreId);
                }
            },
            error: function (data) {
                //alert("error while binding theatre.");
                swal({ title: "", text: 'Error while binding theater', type: 'error' });
            }
        });
        $.ajaxSetup({ async: true });
        return TheatreId;
    }
    function BookAppointmentForPatientFn(Bdate, Btime, id, Bday, time) {
        var DoctorId = $("#DDoctorId").val();
        var ServiceId = $("#ServiceId :selected").val();
        var drimg = $("#DrImg").attr('src');
        var Appday = Bday + " - " + time;
        $("a").removeClass("appointmentactivecls");
        $("#TimeCheckBx_" + id).addClass("appointmentactivecls");
        if (ServiceId == "") {
            //alert("Please select service");
            swal({ title: "", text: 'Please select service' });
            return false;
        }
        $(".xdsoft_label").css("z-index", "0");
        $("#signup_tab_btn").removeClass("btn-success");
        $("#signin_tab_btn").addClass("btn-success");
        var name = '@(this.ViewContext.RouteData.Values["username"])';
        var encoded = encodeURIComponent(name);
        $("#signin_singup_tab").load("/p/" + encoded + "/SignInAndSignUpPage");
        $('#bookappointmentpopup').modal('show');
        $("#DoctorId1").val(DoctorId);
        $("#AppointmentDate1").val(Bdate);
        $("#AppointmentTime1").val(Btime);
        $("#ServiceTypeId1").val(ServiceId);
        $("#AppointmentDay").val(Appday);
        $("#ImgVal").val(drimg);
    }
    function sbmitfrmBookAppDataWithSignIn1() {
        var check = $("#AppointmentDate_form").val();
        var serviceId = $("#ServiceTypeId_form").val();
        if (check == "") {
            //alert("Please select any time")
            swal({ title: "", text: 'Please select any time' });
            return false;
        }
        var SignInEmail = $("#Email_UserName").val();
        if (SignInEmail == "" || SignInEmail == null) {
            //alert("Email is required")
            swal({ title: "", text: 'Email is required' });
            return false;
        }
        else {
            var frmdata = $("#frmAppointmentBookingData1").serialize();
            //Check OverLapping
            var retunflag = true;
            $.ajaxSetup({ async: false });
            $.ajax({
                url: "/p/@(this.ViewContext.RouteData.Values["username"])/CheckOverLapping",
                type: "post",
                data: frmdata,
                success: function (data) {
                    if (data != "") {
                        // alert(data);
                        swal({ title: "", text: data });
                        retunflag = false;
                        return false;
                    }
                }
            });
            $.ajaxSetup({ async: true });
            if (!retunflag) {
                return retunflag;
            }
            $.ajaxSetup({ async: false });
            $.ajax({
                url: "/p/@(this.ViewContext.RouteData.Values["username"])/SubmitAppointmentBookingDataWithSignIn",
                type: "post",
                data: frmdata,
                success: function (data) {
                    //alert(data.Ismember);
                    swal({ title: "", text: data.Ismember });
                    if (data.Ismember == "true") {
                        var tempurl = "https://mydentalfiles.com/PatientLogin?usrem=" + data.Email + "&uspswd=" + data.Password;
                        //var tempurl = "http://localhost:4751/PatientLogin?usrem=" + data.Email + "&uspswd=" + data.Password;
                        window.location.href = tempurl;
                        return false;

                    } else {
                        //alert("Email or password is wrong");
                        swal({ title: "", text: 'Email or password is wrong' });
                    }
                }
            });
            $.ajaxSetup({ async: true });
            return false;
        }
    }
    function sbmitfrmBookAppDataWithSignUp() {
        var check = $("#AppointmentDate_form").val();
        var serviceId = $("#ServiceTypeId_form").val();
        var SignInEmail = $("#PEmail").val();
        var Password = $("#Password").val();
        var fname = $("#PFirstName").val();
        var lname = $("#PLastName").val();
        if (SignInEmail == "" || SignInEmail == null) {
            $("#EmailError").show();
            $("#EmailError1").hide();
            $("#PEmail").focus();
            return false;
        }
        if (SignInEmail != "") {
            var res = EmailValid(SignInEmail);
            if (res == true) {
                $("#EmailError1").hide();
            }
            else {
                $("#EmailError1").show();
                $("#EmailError").hide();
                return false;
            }
        }
        if (Password == "" || Password == null) {
            $("#PasswordError").show();
            $("#PasswordError1").hide();
            $("#Password").focus();
            return false;
        } if (fname == "" || fname == null) {
            $("#FnameError").show();
            $("#PFirstName").focus();
            return false;
        }
        if (fname != "") {
            $("#FnameError").hide();
        }

        if (lname == "" || lname == null) {
            $("#LnameError").show();
            $("#PLastName").focus();
            return false;
        }
        if (lname != "") {
            $("#LnameError").hide();
        }
        if (check == "") {
            // alert("Please select appointment time")
            swal({ title: "", text: 'Please select appointment time' });
            return false;
        } if (serviceId == "" || serviceId == null) {
            //alert("Please select service")
            swal({ title: "", text: 'Please select service' });
            return false;
        } if ($('#PPhone').val() == "" || $('#PPhone').val() == null) {
            $("#PhoneError").show();
            $("#PhoneError1").hide();
            return false;
        }
        // if ($('#PPhone').val() != "") {

        //    debugger;
        //    var phone = $('#PPhone').val();
        //    var RegExPhone = "^\([0-9]{1}\d{2}\)\s[0-9]{1}\d{2}-\d{4}$";

        //    if (!RegExPhone.test(phone)) {
        //        alert("Please enter valid phone number");
        //        $('#PPhone').focus();
        //        return false;
        //    }

        //}
        if (Password != "") {
            var passwordMX = Password.length;

            if (passwordMX > 16 || passwordMX < 8) {
                $("#PasswordError1").show();
                $("#PasswordError").hide();
                $("#Password").focus();
                return false;
            }
            else {
                $("#PasswordError1").hide();
                $("#PasswordError").hide();
            }
        }
        var frmdata = $("#frmAppointmentBookingDataPateint").serialize();

        //Check OverLapping
        var retunflag = true;
        $.ajaxSetup({ async: false });
        $.ajax({
            url: "/p/@(this.ViewContext.RouteData.Values["username"])/CheckOverLapping",
            type: "post",
            data: frmdata,
            success: function (data) {
                if (data != "") {

                    retunflag = false;
                    return false;
                }
            }
        });
        $.ajaxSetup({ async: true });
        if (!retunflag) {
            return retunflag;
        }
        $.ajaxSetup({ async: false });
        $.ajax({
            url: "/p/@(this.ViewContext.RouteData.Values["username"])/SubmitAppointmentBookingDataWithSignUp",
            type: "post",
            data: frmdata,
            success: function (data) {
                if (data.Ismember == "true") {
                    var tempurl = "http://qa.mydentalfiles.com/PatientLogin?usrem=" + data.Email + "&uspswd=" + data.Password;
                    //var tempurl = "http://localhost:4751/PatientLogin?usrem=" + data.Email + "&uspswd=" + data.Password;
                    window.location.href = tempurl;

                } else {
                    //alert("Email already exists");
                    swal({ title: "", text: 'Email already exists' });
                }
            }
        });
        $.ajaxSetup({ async: true });
        return false;
    }

</script>
