﻿@{
    ViewBag.Title = "PatientLogin";
    Layout = "~/Views/Shared/PublicProfileLayout.cshtml";



}
<script type="text/javascript">

    function SearchbyLocation() {

        var city = ('@Session["MemberCity"]' == 'City' ? "" : '@Session["MemberCity"]');
        var state = ('@Session["MemberState"]' == 'State' ? "" : '@Session["MemberState"]');
        var country = ('@Session["MemberCountry"]' == 'Country' ? "" : '@Session["MemberCountry"]');
        window.open('@Url.Action("SearchResult", "Profiles")?city=' + city + '&state=' + state + '&country=' + country, '_blank');
    }
</script>
<script type="text/javascript" src="../../Content/css/PublicProfile/js/jqueryPassword.min.js"></script>
<script type="text/javascript" src="../../Content/css/PublicProfile/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="../../Content/css/PublicProfile/js/superfish.js"></script>
<script type="text/javascript" src="../../Content/css/PublicProfile/js/jquery.elastislide.js"></script>
<script type="text/javascript" src="../../Content/css/PublicProfile/js/jquery.ui.totop.js"></script>
<script type="text/javascript" src="../../Content/css/PublicProfile/js/WaterMark.min.js"></script>
<div class="main">
    <div class="breadcrum">
        @*    @if (Session["PublicProfileUserCountry"] != null && Session["PublicProfileUserCountry"] != "")
            {
                <div class="icon_home">
                </div>
                <div class="listing_breadcrum">
                    <a href="javascript:;" onclick="SearchbyLocation()">@Session["PublicProfileUserCountry"].ToString() </a>
                    @if (Session["PublicProfileUserState"] != null && Session["PublicProfileUserState"] != "")
                    {
                        <a href="javascript:;" onclick="SearchbyLocation()">@(" > " + Session["PublicProfileUserState"])</a>
                    }
                    @if (Session["PublicProfileUserCity"] != null && Session["PublicProfileUserCity"] != "")
                    {
                        <a href="javascript:;" onclick="SearchbyLocation()">@(" > " + Session["PublicProfileUserCity"])
                        </a>
                    }
                </div>
            }*@

        <div class="icon_home">
        </div>
        <div class="listing_breadcrum">
            @if (Session["PublicProfileOfficeName"] != null && Session["PublicProfileOfficeName"] != "")
            {
                <a href="javascript:;" onclick="SearchbyLocation()">
                    @Session["PublicProfileOfficeName"]
                </a>
            }
            @if (Session["MemberCity"] != null && Session["MemberCity"] != "")
            {
                <a href="javascript:;" onclick="SearchbyLocation()">
                    @(" > " + Session["MemberCity"])
                </a>
            }
            @if (Session["PublicProfileUserState"] != null && Session["PublicProfileUserState"] != "")
            {
                <a href="javascript:;" onclick="SearchbyLocation()">@(" > " + Session["PublicProfileUserState"])</a>
            }
        </div>
    </div>
    <div class="clear">
    </div>
    <!--======================== slider ===========================-->
    <div class="row-nav">
        <!--======================== menu ============================-->
        <nav>
            <div id="menu-icon">Menu </div>
            <ul class="sf-menu sf-menu_2">
                <li><a><input type="submit" class="AboutDoctor_btn" value="About the Doctor" onclick="location.href='@Url.Action("ClickAboutDoctor", "p")'" /></a></li>
                <li><a><input type="submit" class="patientforms" value="Patient Forms" onclick="location.href='@Url.Action("ClickPatientForms", "p")'" /> </a></li>
                <li><a><input type="submit" class="referpatient" value="Refer a Patient" onclick="location.href='@Url.Action("ClickReferPatient", "p")'" /></a></li>
                <li><a><input type="submit" class="Appointment_Public" value="Appointment" onclick="location.href='@Url.Action("AppointmentBooking", "p")'" /></a></li>
                <li><a class="current"><input type="submit" class="patientlogin" value="Patient Login" onclick="location.href='@Url.Action("ClickPatientLogin", "p")'" /></a></li>
            </ul>
        </nav>
        <div class="clear">
        </div>
    </div>
</div>
<!--======================== slider ===========================-->
<div class="clear">
</div>
<!--======================== content ===========================-->
<script type="text/jscript" src="../../Content/js/jquery.ui.core.js"></script>
<script type="text/jscript" src="../../Content/js/jquery.ui.widget.js"></script>
<script type="text/jscript" src="../../Content/js/jquery.ui.mask.js"></script>
<section id="content">
    <div class="container_16">
        <div class="main_content">


            <div class="patient_login_forms">

                <div class="patient_login_box">

                    <div class="login_box">
                        <div class="clear"></div>
                        <h2 align="center" class="patient_login_heading">Login for current patients</h2>


                        <div class="content_area">

                            <form action="/p/@(this.ViewContext.RouteData.Values["username"])/LoginForCurrentPatients" method="post">
                                <div class="input_border_login">
                                    <input name="Email" id="txtEmail_UserName" value="Email" type="text" class="input_box_login" onblur="if(this.value=='') this.value='Email';" onfocus="if(this.value=='Email') this.value='';" />
                                </div>
                                <div class="input_border_login_2">
                                    <input name="Password" id="txtPassword" value="Password" class="input_box_login" />
                                </div>

                                <div class="button_section_center">
                                    <input value="Sign In" type="submit" class="button_2" onclick="return validateLogin1()" />
                                </div>
                                <div style="float:left;margin-left:9%">
                                    <a href="javascript:;" onclick="return btnsubmitclickfgt()" style="color: #008DC2">Forgot Password?</a>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>



                <div class="clear"></div>

                <div class="patient_login_box">

                    <div class="login_box">
                        <div class="clear"></div>
                        <h2 align="center" class="patient_login_heading">Sign up form for new patients</h2>
                        <div class="content_area">

                            <form action="/p/@(this.ViewContext.RouteData.Values["username"])/SignUpFormForNewPatients" method="post">

                                <div class="input_border_login">
                                    <input name="Email" id="txtEmail" value="Email" type="text" class="input_box_login" onblur="if(this.value=='') this.value='Email';" onfocus="if(this.value=='Email') this.value='';" />

                                </div>

                                <div class="input_border_login_2">
                                    <input name="FirstName" id="txtFirstName" onkeyup="CharactersOnlytxtFirstName()" value="First Name" type="text" class="input_box_login" onblur="if(this.value=='') this.value='First Name';" onfocus="if(this.value=='First Name') this.value='';" />
                                </div>




                                <div class="input_border_login">
                                    <input name="LastName" id="txtLastName" onkeyup="CharactersOnlytxtLastName()" value="Last Name" type="text" class="input_box_login" onblur="if(this.value=='') this.value='Last Name';" onfocus="if(this.value=='Last Name') this.value='';" />
                                </div>
                                <div class="input_border_login_2">
                                    <input name="Phone" id="txtPhone" placeholder="Phone" value="Phone" type="text" class="input_box_login" />
                                </div>



                                <div class="input_border_login">
                                    <input name="Password" id="txtPassword1" value="Password" class="input_box_login" />

                                </div>
                                <div class="input_border_login_2">
                                    <input name="Confirm Password" id="txtcnfirmpassword" value="Confirm Password" class="input_box_login" />
                                </div>






                                <div class="button_section_center">
                                    <input type="submit" class="button-next-arrow" onclick="return validateLogin2()" />
                                </div>

                            </form>

                        </div>
                    </div>

                </div>
            </div>







        </div>
    </div>
</section>
<script type="text/javascript">
    function btnsubmitclickfgt() {

        if ($('#txtEmail_UserName').val() == null || $('#txtEmail_UserName').val() == '' || $('#txtEmail_UserName').val() == "Email") {

            //alert('Please Enter Email Id');
            swal({ title: "", text: 'Please enter email id' });
            document.getElementById('txtEmail_UserName').focus();
            return false;
        }

        var result = IsEmail($('#txtEmail_UserName').val());
        if (result == true)
        { }
        else {
            //alert('Please Enter Valid Email Id');
            swal({ title: "", text: 'Please enter valid email id' });
            document.getElementById('txtEmail_UserName').focus();
            return false;
        }
        $("#divLoading").show();
        $.ajax({
            url: '@Url.Action("MForgotpassword", "p")?Email=' + $('#txtEmail_UserName').val() + '',
            type: 'POST',
            dataType: 'html',
            contenttype: "application/x-www-form-urlencoded",
            cache: false,
            ProcessData: false,
            success: function
                           (output, status, xhr) {
                obj = jQuery.parseJSON(output);
                document.getElementById('txtEmail_UserName').value = '';
                //alert(obj.Message);
                swal({ title: "", text: obj.Message });

            },
            error: function (xhr) {


                if (typeof (console) != 'undefined') {
                    console.log(xhr.responseText);
                }
            }
        });
        $("#divLoading").hide();
    }
    $(document).ready(function () {
        // For Phone

        $('#txtPhone').focus(function () {
            if (document.getElementById('txtPhone').value == 'Phone') {
                $('#txtPhone').mask({ mask: '(999) 999-9999' });
            }

        });
        $('#txtphone').blur(function () {
            if (document.getElementById('txtPhone').value == '' || document.getElementById('txtPhone').value == '(___) ___-____') {
                document.getElementById('txtPhone').setAttribute('placeholder', 'Phone');

            }


        });

        // For txtcnfirmpassword
        $('#txtPassword').focus(function () {
            if (document.getElementById('txtPassword').value == 'Password') {

                document.getElementById('txtPassword').value = '';
                document.getElementById('txtPassword').setAttribute("type", "password");
            }

        });
        $('#txtPassword').blur(function () {

            if (document.getElementById('txtPassword').value == '') {
                document.getElementById('txtPassword').value = 'Password';
                document.getElementById('txtPassword').setAttribute("type", "text");
            }
        });

        // For txtcnfirmpassword
        $('#txtPassword1').focus(function () {
            if (document.getElementById('txtPassword1').value == 'Password') {

                document.getElementById('txtPassword1').value = '';
                document.getElementById('txtPassword1').setAttribute("type", "password");
            }

        });
        $('#txtPassword1').blur(function () {

            if (document.getElementById('txtPassword1').value == '') {
                document.getElementById('txtPassword1').value = 'Password';
                document.getElementById('txtPassword1').setAttribute("type", "text");
            }
        });



        // For txtcnfirmpassword
        $('#txtcnfirmpassword').focus(function () {
            if (document.getElementById('txtcnfirmpassword').value == 'Confirm Password') {

                document.getElementById('txtcnfirmpassword').value = '';
                document.getElementById('txtcnfirmpassword').setAttribute("type", "password");
            }

        });
        $('#txtcnfirmpassword').blur(function () {

            if (document.getElementById('txtcnfirmpassword').value == '') {
                document.getElementById('txtcnfirmpassword').value = 'Confirm Password';
                document.getElementById('txtcnfirmpassword').setAttribute("type", "text");
            }
        });






        var Check = getquerystringvalueByName('valid');
        if (Check != null && Check != "") {
            if (Check == "1") {
                //alert('your registration is in process. we will contact you shortly.');
                swal({ title: "", text: 'Your registration is in process. we will contact you shortly' });
            }

            if (Check == "2") {
                //alert('Your login information was not valid. Please try again or contact your dental office.');
                swal({ title: "", text: 'Your login information was not valid. Please try again or contact your dental office.' });
            }

            if (Check == "3") {
                //alert('Email Already Exists. Check your email for your login details.');
                swal({ title: "", text: 'Email already exists. Check your email for your login details.' });
            }
        }






    });


    function validateLogin1() {
        if ($('#txtEmail_UserName').val() != "Email") {
            var result = IsEmail($("#txtEmail_UserName").val());
            if (result != true) {
                //alert("Please enter a valid email address");
                swal({ title: "", text: 'Please enter a valid email addres' });
                return false;
                $('#txtEmail_UserName').focus();
            }
        }
        else {
            //alert("Please enter email address");
            swal({ title: "", text: 'Please enter email address' });
            return false;
            $('#txtEmail_UserName').focus();

        }


        if ($('#txtPassword').val() == "Password") {
            //alert("Please enter password ");
            swal({ title: "", text: 'Please enter password' });
            return false;
            $('#txtPassword').focus();
        }
    }


    // For query string values
    function getquerystringvalueByName(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.search);
        return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }


    function validateLogin2() {


        if (document.getElementById('txtEmail').value != "Email") {
            var result = IsEmail(document.getElementById('txtEmail').value);
            if (result != true) {
                // alert("Please enter a valid email address");
                swal({ title: "", text: 'Please enter a valid email address' });
                document.getElementById('txtEmail').focus();
                return false;

            }
        }
        else {

            // alert("Please enter email address");
            swal({ title: "", text: 'Please enter email address' });
            document.getElementById('txtEmail').focus();
            return false;
        }



        if (document.getElementById("txtFirstName").value == "" || document.getElementById("txtFirstName").value == "First Name") {
            //alert("Please Enter First Name");
            swal({ title: "", text: 'Please enter first name' });
            document.getElementById("txtFirstName").focus();
            status = false;
            return false;
        }

        if (document.getElementById("txtLastName").value == "" || document.getElementById("txtLastName").value == "Last Name") {
            //alert("Please Enter Last Name");
            swal({ title: "", text: 'Please enter last name' });
            document.getElementById("txtLastName").focus();
            status = false;
            return false;
        }

        if (document.getElementById("txtPhone").value == "" || document.getElementById("txtPhone").value == "Phone") {
            //alert("Please Enter Phone Number");
            swal({ title: "", text: 'Please enter phone number' });
            document.getElementById("txtPhone").focus();
            status = false;
            return false;
        }
        if (document.getElementById("txtPassword1").value == "" || document.getElementById("txtPassword1").value == "Password") {
            //alert("Please Enter Password");
            swal({ title: "", text: 'Please enter password' });
            document.getElementById("txtPassword1").focus();
            status = false;
            return false;
        }



        if (document.getElementById("txtcnfirmpassword").value == "" || document.getElementById("txtcnfirmpassword").value == "Confirm Password") {
            //alert("Please Enter Confirm Password");
            swal({ title: "", text: 'Please enter confirm password' });
            document.getElementById("txtcnfirmpassword").focus();
            status = false;
            return false;
        }

        if (document.getElementById("txtPassword1").value != document.getElementById("txtcnfirmpassword").value) {
            // alert("Confirm Password not matched");
            swal({ title: "", text: 'Confirm Password not matched' });
            document.getElementById("txtcnfirmpassword").focus();
            return false;
        }



    }

    function CharactersOnlytxtFirstName() {
        var charactersOnly = IsCharactersOnly(document.getElementById('txtFirstName').value);
        if (charactersOnly == false) {
            //alert('Firstname allow characters only');
            swal({ title: "", text: 'Firstname allow characters only' });
            document.getElementById('txtFirstName').value = '';
        }
    }

    function CharactersOnlytxtLastName() {
        var charactersOnly = IsCharactersOnly(document.getElementById('txtLastName').value);
        if (charactersOnly == false) {
            //alert('Lastname allow characters only');
            swal({ title: "", text: 'Lastname allow characters only' });
            document.getElementById('txtLastName').value = '';
        }
    }

</script>
