﻿@{
    ViewBag.Title = "ReferPatient";
    Layout = "~/Views/Shared/PublicProfileLayout.cshtml";

}

<style type="text/css">
    .checkbox_listing span {
        display: inline-block;
        padding: 0 0 5px;
        width: 24%;
    }

    .glyphicon-plus-icon {
        margin-left: -34px !important;
    }
</style>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script type="text/javascript">


    function SearchbyLocation() {

        var city = ('@Session["MemberCity"]' == 'City' ? "" : '@Session["MemberCity"]');
        var state = ('@Session["MemberState"]' == 'State' ? "" : '@Session["MemberState"]');
        var country = ('@Session["MemberCountry"]' == 'Country' ? "" : '@Session["MemberCountry"]');
        window.open('@Url.Action("SearchResult", "Profiles")?city=' + city + '&state=' + state + '&country=' + country, '_blank');
    }




    $(function () {

        $('#default').stepy();

        $('#custom').stepy({
            backLabel: 'Backward',
            block: true,
            errorImage: true,
            nextLabel: 'Forward',
            titleClick: true,
            validate: true
        });

        $('div#step').stepy({
            finishButton: false
        });

        // Optionaly
        $('#custom').validate({
            errorPlacement: function (error, element) {
                $('#custom div.stepy-error').append(error);
            }, rules: {
                'user': { maxlength: 1 },
                'email': 'email',
                'checked': 'required',
                'newsletter': 'required',
                'password': 'required',
                'bio': 'required',
                'day': 'required'
            }, messages: {
                'user': { maxlength: 'User field should be less than 1!' },
                'email': { email: 'Invalid e-mail!' },
                'checked': { required: 'Checked field is required!' },
                'newsletter': { required: 'Newsletter field is required!' },
                'password': { required: 'Password field is requerid!' },
                'bio': { required: 'Bio field is required!' },
                'day': { required: 'Day field is requerid!' },
            }
        });

        $('#callback').stepy({
            back: function (index) {
                //alert('Going to step ' + index + '...');
                swal({ title: "", text: 'Going to step ' + index + '...' });
            }, next: function (index) {
                if ((Math.random() * 10) < 5) {
                    //alert('Invalid random value!');
                    swal({ title: "", text: 'Invalid random value' });
                    return false;
                }

                //  alert('Going to step ' + index + '...');
                swal({ title: "", text: 'Going to step ' + index + '...' });
            }, select: function (index) {
                //alert('Current step ' + index + '.');
                swal({ title: "", text: 'Current step ' + index + '.' });
            }, finish: function (index) {
                //alert('Finishing on step ' + index + '...');
                swal({ title: "", text: 'Finishing on step ' + index + '...' });
            }, titleClick: true
        });

        $('#target').stepy({
            description: false,
            legend: false,
            titleClick: true,
            titleTarget: '#title-target'
        });

    });

    $("ul.infomation_list li:last-child").addClass("lastproduct");
</script>
<script type="text/javascript" src="../../Content/css/PublicProfile/js/jquery.stepy.js"></script>
<script type="text/javascript" src="../../Content/css/PublicProfile/js/jquery-ui.min1.8.1.js"></script>
<script type="text/jscript" src="../../Content/js/jquery.ui.core.js"></script>
<script type="text/jscript" src="../../Content/js/jquery.ui.widget.js"></script>
<script type="text/jscript" src="../../Content/js/jquery.ui.mask.js"></script>
<script type="text/javascript">
    $(function () {


        //initial value

        $("input").focus(function () {
            $(this).css("color", "black");

        });

        $("input").blur(function () {
            if ($(this).val() != $(this).data('default'))
                $(this).css("color", "grey");
            else
                $(this).css("color", "black");
        });



        $("textarea").focus(function () {
            $(this).css("color", "black");

        });

        $("textarea").blur(function () {
            if ($(this).val() != $(this).data('default'))
                $(this).css("color", "grey");
            else
                $(this).css("color", "black");
        });

    });

    function showHide(shID) {

        if (document.getElementById(shID + '-Show') && document.getElementById(shID + '-Hide')) {
            if (document.getElementById(shID + '-Show').style.display == 'none') {
                document.getElementById(shID + '-Show').style.display = '';
                document.getElementById(shID + '-Hide').style.display = 'none';
            }
            else {
                document.getElementById(shID + '-Hide').style.display = '';
                document.getElementById(shID + '-Show').style.display = 'none';
            }
        }
        return false;

    }





    function firststepval() {

        var PublicProfileDoctorEmail = '@Session["PublicProfileUserEmail"]';

        var status = true;
        if (document.getElementById('txtfirstnamepatient').value == 'First Name') {
            //alert('Please Enter First Name');
            swal({ title: "", text: 'Please enter first name' });
            document.getElementById('txtfirstnamepatient').focus();
            status = false;
            return false;
        }
        if (document.getElementById('txtlastnamepatient').value == 'Last Name') {
            // alert('Please Enter Last Name');
            swal({ title: "", text: 'Please enter last name' });
            document.getElementById('txtlastnamepatient').focus();
            status = false;
            return false;
        }



        if (document.getElementById('txtphonenopatient').value == 'Phone Number') {
            // alert('Please Enter Phone Number');
            swal({ title: "", text: 'Please enter phone number' });
            document.getElementById('txtphonenopatient').focus();
            status = false;
            return false;
        }

        var y = document.getElementById('txtphonenopatient').value;
        var d = /^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/;
        if (!d.test(y)) {
            //alert("Enter Valid Phone Number");
            swal({ title: "", text: 'Enter valid phone number' });
            document.getElementById('txtphonenopatient').focus();
            status = false;
            return false;
        }

        if (document.getElementById('txtemailpatient').value == 'Email') {
            // alert('Please Enter Email');
            swal({ title: "", text: 'Please enter email' });
            document.getElementById('txtemailpatient').focus();
            status = false;
            return false;
        }

        var EmaiAddress = document.getElementById('txtemailpatient').value;

        if (EmaiAddress != null && EmaiAddress != "") {
            var result = IsEmail(EmaiAddress);
            if (result != true) {
                //alert("Please enter a valid email address");
                swal({ title: "", text: 'Please enter a valid email address' });
                document.getElementById('txtemailpatient').focus();
                status = false;
                return false;
            }
        }



        if (document.getElementById('txtfirstnamereferred').value == 'First Name') {
            //alert('Please Enter First Name');
            swal({ title: "", text: 'Please enter first name' });
            document.getElementById('txtfirstnamereferred').focus();
            status = false;
            return false;
        }
        if (document.getElementById('txtlastnamereferred').value == 'Last Name') {
            //alert('Please Enter Last Name');
            swal({ title: "", text: 'Please enter last name' });
            document.getElementById('txtlastnamereferred').focus();
            status = false;
            return false;
        }



        if (document.getElementById('txtphonenoreferred').value == 'Phone Number') {
            //alert('Please Enter Phone Number');
            swal({ title: "", text: 'Please enter phone number' });
            document.getElementById('txtphonenoreferred').focus();
            status = false;
            return false;
        }

        var y = document.getElementById('txtphonenoreferred').value;
        var d = /^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/;
        if (!d.test(y)) {
            //alert("Enter Valid Phone Number");
            swal({ title: "", text: 'Enter valid phone number' });
            document.getElementById('txtphonenoreferred').focus();
            status = false;
            return false;
        }

        if (document.getElementById('txtemailreferred').value == 'Email') {
            //alert('Please Enter Email');
            swal({ title: "", text: 'Please enter email' });
            document.getElementById('txtemailreferred').focus();
            status = false;

            return false;
        }

        var EmaiAddressrefer = document.getElementById('txtemailreferred').value;
        if (EmaiAddressrefer != null && EmaiAddressrefer != "") {
            var result = IsEmail(EmaiAddressrefer);
            if (result != true) {
                //alert("Please enter a valid email address");
                swal({ title: "", text: 'Please enter a valid email address' });
                document.getElementById('txtemailreferred').focus();
                status = false;
                return false;
            }
        }


        if (PublicProfileDoctorEmail == EmaiAddressrefer) {
            // alert("You can not send referral yourself.");
            swal({ title: "", text: 'You can not send referral yourself.' });
            document.getElementById('txtemailreferred').focus();
            status = false;
            return false;
        }




        if (status == true) {
            showHide('dvFullDesc');
            var txtotherreagrding = document.getElementById('txtotherregarding');
            var txtotherrequest = document.getElementById('txtotherrequest');
            SelectRegardingOther(txtotherreagrding);
            SelectRequestOther(txtotherreagrding);
            $('#fileupload').fileupload();
            return false;
        }

    }






    function CharactersOnlytxtfirstnamepatient() {
        var charactersOnly = IsCharactersOnly(document.getElementById('txtfirstnamepatient').value);
        if (charactersOnly == false) {
            //alert('Firstname allow characters only');
            swal({ title: "", text: 'Firstname allow characters only' });
            document.getElementById('txtfirstnamepatient').value = '';
        }
    }

    function CharactersOnlytxtlastnamepatient() {
        var charactersOnly = IsCharactersOnly(document.getElementById('txtlastnamepatient').value);
        if (charactersOnly == false) {
            //alert('Lastname allow characters only');
            swal({ title: "", text: 'Lastname allow characters only' });
            document.getElementById('txtlastnamepatient').value = '';
        }
    }



    function CharactersOnlytxtfirstnamereferred() {
        var charactersOnly = IsCharactersOnly(document.getElementById('txtfirstnamereferred').value);
        if (charactersOnly == false) {
            //alert('Firstname allow characters only');
            swal({ title: "", text: 'Firstname allow characters only' });
            document.getElementById('txtfirstnamereferred').value = '';
        }
    }

    function CharactersOnlytxtlastnamereferred() {
        var charactersOnly = IsCharactersOnly(document.getElementById('txtlastnamereferred').value);
        if (charactersOnly == false) {
            //alert('Lastname allow characters only');
            swal({ title: "", text: 'Lastname allow characters only' });
            document.getElementById('txtlastnamereferred').value = '';
        }
    }




    // Remove the spaces from the entered and generated code
    function removeSpaces(string) {
        return string.split(' ').join('');
    }




    var values = [];
    function changecolor(valu, id, url) {

        var imgid = document.getElementById(id);
        var backgr = imgid.style.backgroundImage;


        if ($("#" + id).attr('class') == 'active_img') {
            // imgid.style.backgroundImage = 'url(../content/css/publicprofile/images/seprat_teeth_blue.jpg)';



            $("#" + id).removeClass('active_img').addClass('deactive_img');
            for (var i = 0; i < values.length; i++) {

                if (values[i] == valu) {
                    values.splice(i, 1);
                }
            }
        }
        else {

            //imgid.style.backgroundImage = 'url(../content/css/publicprofile/images/seprat_teeth_black.jpg)'

            $("#" + id).removeClass('deactive_img').addClass('active_img');

            if (document.getElementById('hdnfeild').value != "") {
                document.getElementById('hdnfeild').value = document.getElementById('hdnfeild').value + ',' + valu;
                values.push(valu);



            }
            else {
                document.getElementById('hdnfeild').value = valu;
                values.push(valu);

            }
        }
        document.getElementById('hdnselectedimages').value = values.toString();
    }
    $(document).ready(function () {
        var txtotherreagrding = document.getElementById('txtotherregarding');
        var txtotherrequest = document.getElementById('txtotherrequest');
        SelectRegardingOther(txtotherreagrding);
        SelectRequestOther(txtotherreagrding);
    });


    // For Selectting Other textboxes of Request and Regarding -- Start
    function SelectRegardingOther(elementRef) {
        var textBoxRef = document.getElementById('txtotherregarding');

        textBoxRef.disabled = (elementRef.checked == true) ? false : true;
        if (textBoxRef.disabled) {
            document.getElementById('txtotherregarding').value = '';
        }
    }

    function SelectRequestOther(elementRef) {
        var textBoxRef = document.getElementById('txtotherrequest');

        textBoxRef.disabled = (elementRef.checked == true) ? false : true;
        if (textBoxRef.disabled) {
            document.getElementById('txtotherrequest').value = '';
        }
    }
    // For Selectting Other textboxes of Request and Regarding -- End


    // For Get All Seleted Check Boxes for Regarding --- Start
    function SelectedRegardingCheckBoxes() {

        var SeletedBoxes = "";

        if (document.getElementById('chkOrthodontics').checked) {
            if (SeletedBoxes == null || SeletedBoxes == "") {
                SeletedBoxes = document.getElementById('chkOrthodontics').value;
            }
            else {
                SeletedBoxes = SeletedBoxes + ',' + document.getElementById('chkOrthodontics').value;
            }
        }




        if (document.getElementById('chkPeridontics').checked) {
            if (SeletedBoxes == null || SeletedBoxes == "") {
                SeletedBoxes = document.getElementById('chkPeridontics').value;
            }
            else {
                SeletedBoxes = SeletedBoxes + ',' + document.getElementById('chkPeridontics').value;
            }
        }

        if (document.getElementById('chkOralSurgery').checked) {
            if (SeletedBoxes == null || SeletedBoxes == "") {
                SeletedBoxes = document.getElementById('chkOralSurgery').value;
            }
            else {
                SeletedBoxes = SeletedBoxes + ',' + document.getElementById('chkOralSurgery').value;
            }
        }




        if (document.getElementById('chkProsthodontics').checked) {
            if (SeletedBoxes == null || SeletedBoxes == "") {
                SeletedBoxes = document.getElementById('chkProsthodontics').value;
            }
            else {
                SeletedBoxes = SeletedBoxes + ',' + document.getElementById('chkProsthodontics').value;
            }
        }


        if (document.getElementById('chkRadiology').checked) {
            if (SeletedBoxes == null || SeletedBoxes == "") {
                SeletedBoxes = document.getElementById('chkRadiology').value;
            }
            else {
                SeletedBoxes = SeletedBoxes + ',' + document.getElementById('chkRadiology').value;
            }
        }




        if (document.getElementById('chkGeneralDentistry').checked) {
            if (SeletedBoxes == null || SeletedBoxes == "") {
                SeletedBoxes = document.getElementById('chkGeneralDentistry').value;
            }
            else {
                SeletedBoxes = SeletedBoxes + ',' + document.getElementById('chkGeneralDentistry').value;
            }
        }


        if (document.getElementById('chkEndodontics').checked) {
            if (SeletedBoxes == null || SeletedBoxes == "") {
                SeletedBoxes = document.getElementById('chkEndodontics').value;
            }
            else {
                SeletedBoxes = SeletedBoxes + ',' + document.getElementById('chkEndodontics').value;
            }
        }




        if (document.getElementById('chkLabWork').checked) {
            if (SeletedBoxes == null || SeletedBoxes == "") {
                SeletedBoxes = document.getElementById('chkLabWork').value;
            }
            else {
                SeletedBoxes = SeletedBoxes + ',' + document.getElementById('chkLabWork').value;
            }
        }



        return SeletedBoxes;

    }


    // For Get All Seleted Check Boxes for Regarding --- End


    // For Get All Seleted Check Boxes for Request --- Start
    function SelectedRequestCheckBoxes() {

        var SeletedBoxes = "";

        if (document.getElementById('chkExtractions').checked) {
            if (SeletedBoxes == null || SeletedBoxes == "") {
                SeletedBoxes = document.getElementById('chkExtractions').value;
            }
            else {
                SeletedBoxes = SeletedBoxes + ',' + document.getElementById('chkExtractions').value;
            }
        }




        if (document.getElementById('chkPathology').checked) {
            if (SeletedBoxes == null || SeletedBoxes == "") {
                SeletedBoxes = document.getElementById('chkPathology').value;
            }
            else {
                SeletedBoxes = SeletedBoxes + ',' + document.getElementById('chkPathology').value;
            }
        }

        if (document.getElementById('chkCaries').checked) {
            if (SeletedBoxes == null || SeletedBoxes == "") {
                SeletedBoxes = document.getElementById('chkCaries').value;
            }
            else {
                SeletedBoxes = SeletedBoxes + ',' + document.getElementById('chkCaries').value;
            }
        }




        if (document.getElementById('chkCheckPeriodontal').checked) {
            if (SeletedBoxes == null || SeletedBoxes == "") {
                SeletedBoxes = document.getElementById('chkCheckPeriodontal').value;
            }
            else {
                SeletedBoxes = SeletedBoxes + ',' + document.getElementById('chkCheckPeriodontal').value;
            }
        }


        if (document.getElementById('chkOralSurgeryRequest').checked) {
            if (SeletedBoxes == null || SeletedBoxes == "") {
                SeletedBoxes = document.getElementById('chkOralSurgeryRequest').value;
            }
            else {
                SeletedBoxes = SeletedBoxes + ',' + document.getElementById('chkOralSurgeryRequest').value;
            }
        }




        if (document.getElementById('chkOrthodonticConsultation').checked) {
            if (SeletedBoxes == null || SeletedBoxes == "") {
                SeletedBoxes = document.getElementById('chkOrthodonticConsultation').value;
            }
            else {
                SeletedBoxes = SeletedBoxes + ',' + document.getElementById('chkOrthodonticConsultation').value;
            }
        }


        if (document.getElementById('chkOrthognathicSurgery').checked) {
            if (SeletedBoxes == null || SeletedBoxes == "") {
                SeletedBoxes = document.getElementById('chkOrthognathicSurgery').value;
            }
            else {
                SeletedBoxes = SeletedBoxes + ',' + document.getElementById('chkOrthognathicSurgery').value;
            }
        }




        if (document.getElementById('chkImplants').checked) {
            if (SeletedBoxes == null || SeletedBoxes == "") {
                SeletedBoxes = document.getElementById('chkImplants').value;
            }
            else {
                SeletedBoxes = SeletedBoxes + ',' + document.getElementById('chkImplants').value;
            }
        }



        return SeletedBoxes;

    }







    // send referral - start
    function SendReferral() {

       // var captcha_response = grecaptcha.getResponse();
       // if (captcha_response.length == 0) {
       //     alert("Please verify captcha! i'm not a robot");
       //     return false;
       // }



        //if (document.getElementById('txtCode').value != "Verification code") {
        //    var str1 = removeSpaces(document.getElementById('txtCaptcha').value);
        //    var str2 = removeSpaces(document.getElementById('txtCode').value);

        //    if (str1 != str2) {
        //        alert('The Captcha Code you entered is invalid.');
        //        document.getElementById('txtCode').focus();
        //        DrawCaptcha();
        //        return false;

        //    }
        //}
        //else {
        //    alert('Entered Verification code');
        //    document.getElementById('txtCode').focus();
        //    return false;

        //}




        var PatientFirstName = document.getElementById('txtfirstnamepatient').value;
        var PatientLastName = document.getElementById('txtlastnamepatient').value;
        var PatientPhone = document.getElementById('txtphonenopatient').value;
        var PatientEmail = document.getElementById('txtemailpatient').value;

        var DoctorFirstName = document.getElementById('txtfirstnamereferred').value;
        var DoctorLastName = document.getElementById('txtlastnamereferred').value;
        var DoctorPhone = document.getElementById('txtphonenoreferred').value;
        var DoctorEmail = document.getElementById('txtemailreferred').value;

        var SelectedTeethImages = null;
        SelectedTeethImages = document.getElementById('hdnselectedimages').value;


        var RegardingCheckBoxes = SelectedRegardingCheckBoxes();
        var RegardingOther = document.getElementById('txtotherregarding').value;

        var RequestCheckBoxes = SelectedRequestCheckBoxes();
        var RequestOther = document.getElementById('txtotherrequest').value;

        var GetComments = document.getElementById('txtcomment').value;




        $.post("/p/@(this.ViewContext.RouteData.Values["username"])/SendReferral",
                                                        {
                                                            PatientFirstName: PatientFirstName, PatientLastName: PatientLastName, PatientPhone: PatientPhone, PatientEmail: PatientEmail, DoctorFirstName: DoctorFirstName, DoctorLastName: DoctorLastName, DoctorPhone: DoctorPhone, DoctorEmail: DoctorEmail, SelectedTeethImages: SelectedTeethImages
                                                        , RegardingCheckBoxes: RegardingCheckBoxes, RegardingOther: RegardingOther, RequestCheckBoxes: RequestCheckBoxes, RequestOther: RequestOther, GetComments: GetComments
                                                        }, function (data) {

                                                            if (data == "1") {
                                                                // alert('Referral Sent Successfully');
                                                                swal({ title: "Successfully", text: 'Referral Sent Successfully', showConfirmButton: false, timer: 5000 });
                                                                window.location = document.location;
                                                            }
                                                            else {
                                                                //alert('Failed to send Referral');
                                                                swal({ title: "", text: 'Failed to send Referral', type: 'error' });
                                                            }

                                                        });



    }
    // send referral - end
</script>
<style>
    .margin6 {
        margin-top: 6px;
    }

    .margin10 {
        margin-left: 10px;
    }

    .paddingLR {
        padding-left: 5px;
        padding-right: 5px;
    }
</style>
<input type="hidden" id="hdnselectedimages" />
<input type="hidden" id="hdnfeild" />
<div class="main">
    <div class="breadcrum">
        @*@if (Session["PublicProfileUserCountry"] != null && Session["PublicProfileUserCountry"] != "")
            {
                <div class="icon_home">
                </div>
                <div class="listing_breadcrum">
                    <a href="javascript:;" onclick="SearchbyLocation()">
                        @Session["PublicProfileUserCountry"].ToString()
                    </a>
                    @if (Session["PublicProfileUserState"] != null && Session["PublicProfileUserState"] != "")
                    {
                        <a href="javascript:;" onclick="SearchbyLocation()">@(" > " + Session["PublicProfileUserState"])</a>
                    }
                    @if (Session["PublicProfileUserCity"] != null && Session["PublicProfileUserCity"] != "")
                    {
                        <a href="javascript:;" onclick="SearchbyLocation()">
                            @(" > " + Session["PublicProfileUserCity"])
                        </a>
                    }
                </div>
            }*@

        <div class="icon_home">
        </div>
        <div class="listing_breadcrum">
            @if (Session["PublicProfileOfficeName"] != null && Session["PublicProfileOfficeName"] != "")
            {
                <a href="javascript:;" onclick="SearchbyLocation()">
                    @Session["PublicProfileOfficeName"]
                </a>
            }
            @if (Session["MemberCity"] != null && Session["MemberCity"] != "")
            {
                <a href="javascript:;" onclick="SearchbyLocation()">
                    @(" > " + Session["MemberCity"])
                </a>
            }
            @if (Session["PublicProfileUserState"] != null && Session["PublicProfileUserState"] != "")
            {
                <a href="javascript:;" onclick="SearchbyLocation()">@(" > " + Session["PublicProfileUserState"])</a>
            }
        </div>
    </div>
    <div class="clear">
    </div>
    <!--======================== slider ===========================-->
    <div class="row-nav">
        <!--======================== menu ============================-->
        <nav>
            <div id="menu-icon">Menu </div>
            <ul class="sf-menu sf-menu_2">
                <li><a><input type="submit" class="AboutDoctor_btn" value="About the Doctor" onclick="location.href='@Url.Action("ClickAboutDoctor", "p")'" /></a></li>
                <li><a><input type="submit" class="patientforms" value="Patient Forms" onclick="location.href='@Url.Action("ClickPatientForms", "p")'" /> </a></li>
                <li><a class="current"><input type="submit" class="referpatient" value="Refer a Patient" onclick="location.href='@Url.Action("ClickReferPatient", "p")'" /></a></li>
                <li><a><input type="submit" class="Appointment_Public" value="Appointment" onclick="location.href='@Url.Action("AppointmentBooking", "p")'" /></a></li>
                <li><a><input type="submit" class="patientlogin" value="Patient Login" onclick="location.href='@Url.Action("ClickPatientLogin", "p")'" /></a></li>
            </ul>
        </nav>
        <div class="clear">
        </div>
    </div>
</div>
<!--======================== slider ===========================-->
<div class="clear">
</div>
<!--======================== content ===========================-->
<section id="content">
    <div class="container_16">
        <div class="main_content">

            <div id="steps_panel">
                <div id="step">
                    <span id="default">
                        <div class="top_panel_dentist" id="dvFullDesc-Hide" style="position: relative;">
                            <fieldset title="Step 1">
                                <legend></legend>
                                <center>

                                    <h2 class="heading">Patient <span>Information</span></h2>

                                    <ul class="infomation_list">
                                        <li><input title="First Name" name="First Name" onkeyup="CharactersOnlytxtfirstnamepatient()" id="txtfirstnamepatient" value="First Name" type="text" class="inputbox_signup_info " onblur="if(this.value=='') this.value='First Name';" onfocus="if(this.value=='First Name') this.value='';" style="border-left: 4px solid #0691c5;" /></li>

                                        <li><input title="Last Name" onkeyup="CharactersOnlytxtlastnamepatient()" id="txtlastnamepatient" value="Last Name" type="text" class="inputbox_signup_info" onblur="if(this.value=='') this.value='Last Name';" onfocus="if(this.value=='Last Name') this.value='';" style="border-left: 4px solid #0691c5;" /></li>

                                        <li><input id="txtphonenopatient" value="Phone Number" type="text" class="inputbox_signup_info" onblur="if(this.value=='') this.value='Phone Number';" onfocus="if(this.value=='Phone Number') this.value='';" title="Eg: 5555555555, (555)555-5555, 555-555-5555" style="border-left: 4px solid #0691c5;" /></li>

                                        <li><input title="Email" id="txtemailpatient" value="Email" type="text" class="inputbox_signup_info paddingLR" onblur="if(this.value=='') this.value='Email';" onfocus="if(this.value=='Email') this.value='';" style="border-left: 4px solid #0691c5;" /></li>
                                    </ul>



                                    <h2 class="heading">Referred <span>By</span></h2>

                                    <ul class="infomation_list">
                                        <li><input title="First Name" onkeyup="CharactersOnlytxtfirstnamereferred()" id="txtfirstnamereferred" value="First Name" type="text" class="inputbox_signup_info" onblur="if(this.value=='') this.value='First Name';" onfocus="if(this.value=='First Name') this.value='';" style="border-left: 4px solid #0691c5;" /></li>

                                        <li><input title="Last Name" onkeyup="CharactersOnlytxtlastnamereferred()" id="txtlastnamereferred" value="Last Name" type="text" class="inputbox_signup_info" onblur="if(this.value=='') this.value='Last Name';" onfocus="if(this.value=='Last Name') this.value='';" style="border-left: 4px solid #0691c5;" /></li>

                                        <li><input id="txtphonenoreferred" value="Phone Number" type="text" class="inputbox_signup_info" onblur="if(this.value=='') this.value='Phone Number';" onfocus="if(this.value=='Phone Number') this.value='';" title="Eg: 5555555555, (555)555-5555, 555-555-5555" style="border-left: 4px solid #0691c5;" /></li>

                                        <li><input title="Email" id="txtemailreferred" value="Email" type="text" class="inputbox_signup_info paddingLR" onblur="if(this.value=='') this.value='Email';" onfocus="if(this.value=='Email') this.value='';" style="border-left: 4px solid #0691c5;" /></li>
                                    </ul>






                                </center>
                                <div class="button_section_center" style="float: none;">
                                    <!-- showHide('dvFullDesc')  onclick="return firststepval()" -->
                                    <input type="submit" id="btnstep2" onclick="return firststepval()" class="button-next-arrow" value="Next" />
                                </div>
                            </fieldset>
                        </div>
                        <div class="top_panel_dentist" id="dvFullDesc-Show" style="position: relative; display: none;">
                            <fieldset title="Step 2">
                                <legend></legend>
                                <center>

                                    <h2 class="heading">Regarding</h2>

                                    <div class="checkbox_listing">
                                        <span><input name="teeth" type="checkbox" value="1" id="chkOrthodontics" class="margin6"><label class="margin10">Orthodontics</label></span>
                                        <span><input name="teeth" type="checkbox" value="2" id="chkPeridontics" class="margin6"><label class="margin10">Periodontics</label></span>
                                        <span><input name="teeth" type="checkbox" value="3" id="chkOralSurgery" class="margin6"><label class="margin10">Oral Surgery</label></span>
                                        <span><input name="teeth" type="checkbox" value="4" id="chkProsthodontics" class="margin6"><label class="margin10">Prosthodontics</label></span>
                                        <span><input name="teeth" type="checkbox" value="5" id="chkRadiology" class="margin6"><label class="margin10">Radiology</label></span>
                                        <span><input name="teeth" type="checkbox" value="6" id="chkGeneralDentistry" class="margin6"><label class="margin10">General Dentistry</label></span>
                                        <span><input name="teeth" type="checkbox" value="7" id="chkEndodontics" class="margin6"><label class="margin10">Endodontics</label></span>
                                        <span><input name="teeth" type="checkbox" value="8" id="chkLabWork" class="margin6"><label class="margin10">Lab Work</label></span>
                                        <span style="float:left; margin-left:9px;">
                                            <input name="teeth" type="checkbox" onchange="SelectRegardingOther(this)" value="" class="margin6"> <label class="margin10">Others</label>
                                            <input id="txtotherregarding" name="Other" value="Other" type="text" class="inputbox_other margin10" onblur="if (this.value == '') {this.value = 'Other';}" onfocus="if (this.value ='Other') {this.value = '';}" style="width:50%" />
                                        </span>




                                    </div>

                                    <div class="clear"></div>




                                    <h2 class="heading">Request</h2>

                                    <div class="checkbox_listing">
                                        <span><input name="teeth" type="checkbox" value="1" id="chkExtractions" class="margin6"><label class="margin10">Extractions</label></span>
                                        <span><input name="teeth" type="checkbox" value="2" id="chkPathology" class="margin6"><label class="margin10">Pathology</label></span>
                                        <span><input name="teeth" type="checkbox" value="3" id="chkCaries" class="margin6"><label class="margin10">Caries</label></span>
                                        <span><input name="teeth" type="checkbox" value="4" id="chkCheckPeriodontal" class="margin6"><label class="margin10">Check Periodontol</label></span>
                                        <span><input name="teeth" type="checkbox" value="5" id="chkOralSurgeryRequest" class="margin6"><label class="margin10">Oral Surgery</label></span>
                                        <span><input name="teeth" type="checkbox" value="8" id="chkImplants" class="margin6"><label class="margin10">Implants</label></span>
                                        <span><input name="teeth" type="checkbox" value="7" id="chkOrthognathicSurgery" class="margin6"><label class="margin10">Orthognathic Surgery</label></span>
                                        <span><input name="teeth" type="checkbox" value="6" id="chkOrthodonticConsultation" class="margin6"><label class="margin10">Orthodontic Consultation</label></span>
                                        <span style="float:left; margin-left:9px;"><input name="teeth" type="checkbox" onchange="SelectRequestOther(this)" value="" class="margin6"><label class="margin10">Others</label><input id="txtotherrequest" name="Other" value="Other" type="text" class="inputbox_other margin10" onblur="if (this.value == '') {this.value = 'Other';}" onfocus="if (this.value ='Other') {this.value = '';}" style="width:50%" /></span>




                                    </div>

                                    <div class="clear"></div>


                                    <h2 class="heading">Visual <span>Instructions</span></h2>

                                    <h3 class="heading p18">Select the tooth or teeth that indicates the area of concern. </h3>

                                    <div class="left_teeth_panel">
                                        <div class="heading_teeth">
                                            Permanent teeth
                                        </div>
                                        <div class="clear">
                                        </div>
                                        <div class="right_teeth">
                                            <p>
                                                Right
                                            </p>
                                            <div class="clear">
                                            </div>
                                            <div class="teeth_list">
                                                <div class="deactive_img " id="div1" onclick="return changecolor('1','div1','../content/css/publicprofile/images/seprat_teeth_black.jpg')">
                                                    <a id="a1">1</a>
                                                </div>
                                                <div class="deactive_img" id="div2" onclick="return changecolor('2','div2','../content/css/publicprofile/images/seprat_teeth_black.jpg')">
                                                    <a id="a2">2</a>
                                                </div>
                                                <div class="deactive_img" id="div3" onclick="return changecolor('3','div3','../content/css/publicprofile/images/seprat_teeth_black.jpg')">
                                                    <a id="a3">3</a>
                                                </div>
                                                <div class="deactive_img" id="div4" onclick="return changecolor('4','div4','../content/css/publicprofile/images/seprat_teeth_black.jpg')">
                                                    <a id="a4">4</a>
                                                </div>
                                                <div class="deactive_img" id="div5" onclick="return changecolor('5','div5','../content/css/publicprofile/images/seprat_teeth_black.jpg')">
                                                    <a id="a5">5</a>
                                                </div>
                                                <div class="deactive_img" id="div6" onclick="return changecolor('6','div6','../content/css/publicprofile/images/seprat_teeth_black.jpg')">
                                                    <a id="a6">6</a>
                                                </div>
                                                <div class="deactive_img" id="div7" onclick="return changecolor('7','div7','../content/css/publicprofile/images/seprat_teeth_black.jpg')">
                                                    <a id="a7">7</a>
                                                </div>
                                                <div class="deactive_img" id="div8" onclick="return changecolor('8','div8','../content/css/publicprofile/images/seprat_teeth_black.jpg')">
                                                    <a id="a8">8</a>
                                                </div>
                                            </div>
                                            <div class="teeth_list">
                                                <div class="deactive_img" id="div32" onclick="return changecolor('32','div32','../images/seprat_teeth_black.jpg')">
                                                    <a id="a32">32</a>
                                                </div>
                                                <div class="deactive_img" id="div31" onclick="return changecolor('31','div31','../images/seprat_teeth_black.jpg')">
                                                    <a id="a31">31</a>
                                                </div>
                                                <div class="deactive_img" id="div30" onclick="return changecolor('30','div30','../images/seprat_teeth_black.jpg')">
                                                    <a id="a30">30</a>
                                                </div>
                                                <div class="deactive_img" id="div29" onclick="return changecolor('29','div29','../images/seprat_teeth_black.jpg')">
                                                    <a id="a29">29</a>
                                                </div>
                                                <div class="deactive_img" id="div28" onclick="return changecolor('28','div28','../images/seprat_teeth_black.jpg')">
                                                    <a id="a28">28</a>
                                                </div>
                                                <div class="deactive_img" id="div27" onclick="return changecolor('27','div27','../images/seprat_teeth_black.jpg')">
                                                    <a id="a27">27</a>
                                                </div>
                                                <div class="deactive_img" id="div26" onclick="return changecolor('26','div26','../images/seprat_teeth_black.jpg')">
                                                    <a id="a26">26</a>
                                                </div>
                                                <div class="deactive_img" id="div25" onclick="return changecolor('25','div25','../images/seprat_teeth_black.jpg')">
                                                    <a id="a25">25</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="left_teeth">
                                            <p>
                                                Left
                                            </p>
                                            <div class="clear">
                                            </div>
                                            <div class="teeth_list">
                                                <div class="deactive_img" id="div9" onclick="return changecolor('9','div9','../content/css/publicprofile/images/seprat_teeth_black.jpg')">
                                                    <a id="a9">9</a>
                                                </div>
                                                <div class="deactive_img" id="div10" onclick="return changecolor('10','div10','../content/css/publicprofile/images/seprat_teeth_black.jpg')">
                                                    <a id="a10">10</a>
                                                </div>
                                                <div class="deactive_img" id="div11" onclick="return changecolor('11','div11','../content/css/publicprofile/images/seprat_teeth_black.jpg')">
                                                    <a id="a11">11</a>
                                                </div>
                                                <div class="deactive_img" id="div12" onclick="return changecolor('12','div12','../content/css/publicprofile/images/seprat_teeth_black.jpg')">
                                                    <a id="a12">12</a>
                                                </div>
                                                <div class="deactive_img" id="div13" onclick="return changecolor('13','div13','../content/css/publicprofile/images/seprat_teeth_black.jpg')">
                                                    <a id="a13">13</a>
                                                </div>
                                                <div class="deactive_img" id="div14" onclick="return changecolor('14','div14','../content/css/publicprofile/images/seprat_teeth_black.jpg')">
                                                    <a id="a14">14</a>
                                                </div>
                                                <div class="deactive_img" id="div15" onclick="return changecolor('15','div15','../content/css/publicprofile/images/seprat_teeth_black.jpg')">
                                                    <a id="a15">15</a>
                                                </div>
                                                <div class="deactive_img" id="div16" onclick="return changecolor('16','div16','../content/css/publicprofile/images/seprat_teeth_black.jpg')">
                                                    <a id="a16">16</a>
                                                </div>
                                            </div>
                                            <div class="teeth_list">
                                                <div class="deactive_img" id="div24" onclick="return changecolor('24','div24','../images/seprat_teeth_black.jpg')">
                                                    <a id="a24">24</a>
                                                </div>
                                                <div class="deactive_img" id="div23" onclick="return changecolor('23','div23','../images/seprat_teeth_black.jpg')">
                                                    <a id="a23">23</a>
                                                </div>
                                                <div class="deactive_img" id="div22" onclick="return changecolor('22','div22','../images/seprat_teeth_black.jpg')">
                                                    <a id="a22">22</a>
                                                </div>
                                                <div class="deactive_img" id="div21" onclick="return changecolor('21','div21','../images/seprat_teeth_black.jpg')">
                                                    <a id="a21">21</a>
                                                </div>
                                                <div class="deactive_img" id="div20" onclick="return changecolor('20','div20','../images/seprat_teeth_black.jpg')">
                                                    <a id="a20">20</a>
                                                </div>
                                                <div class="deactive_img" id="div19" onclick="return changecolor('19','div19','../images/seprat_teeth_black.jpg')">
                                                    <a id="a19">19</a>
                                                </div>
                                                <div class="deactive_img" id="div18" onclick="return changecolor('18','div18','../images/seprat_teeth_black.jpg')">
                                                    <a id="a18">18</a>
                                                </div>
                                                <div class="deactive_img" id="div17" onclick="return changecolor('17','div17','../images/seprat_teeth_black.jpg')">
                                                    <a id="a17">17</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right_teeth_panel">
                                        <div class="heading_teeth">
                                            Primary teeth
                                        </div>
                                        <div class="clear">
                                        </div>
                                        <div class="right_teeth">
                                            <p>
                                                Right
                                            </p>
                                            <div class="clear">
                                            </div>
                                            <div class="teeth_list">
                                                <div class="deactive_img" id="divA" onclick="return changecolor('33','divA','../Mock/images/psd/1.png')">
                                                    <a id="aA">A</a>
                                                </div>
                                                <div class="deactive_img" id="divB" onclick="return changecolor('34','divB','../Mock/images/psd/1.png')">
                                                    <a id="aB">B</a>
                                                </div>
                                                <div class="deactive_img" id="divC" onclick="return changecolor('35','divC','../Mock/images/psd/1.png')">
                                                    <a id="aC">C</a>
                                                </div>
                                                <div class="deactive_img" id="divD" onclick="return changecolor('36','divD','../Mock/images/psd/1.png')">
                                                    <a id="aD">D</a>
                                                </div>
                                                <div class="deactive_img" id="divE" onclick="return changecolor('37','divE','../Mock/images/psd/1.png')">
                                                    <a id="aE">E</a>
                                                </div>
                                            </div>
                                            <div class="teeth_list">
                                                <div class="deactive_img" id="divT" onclick="return changecolor('52','divT','../Mock/images/psd/1.png')">
                                                    <a id="aT">T</a>
                                                </div>
                                                <div class="deactive_img" id="divS" onclick="return changecolor('51','divS','../Mock/images/psd/1.png')">
                                                    <a id="aS">S</a>
                                                </div>
                                                <div class="deactive_img" id="divR" onclick="return changecolor('50','divR','../Mock/images/psd/1.png')">
                                                    <a id="aR">R</a>
                                                </div>
                                                <div class="deactive_img" id="divQ" onclick="return changecolor('49','divQ','../Mock/images/psd/1.png')">
                                                    <a id="aQ">Q</a>
                                                </div>
                                                <div class="deactive_img" id="divP" onclick="return changecolor('48','divP','../Mock/images/psd/1.png')">
                                                    <a id="aP">P</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="left_teeth">
                                            <p>
                                                Left
                                            </p>
                                            <div class="clear">
                                            </div>
                                            <div class="teeth_list">
                                                <div class="deactive_img" id="divF" onclick="return changecolor('38','divF','../Mock/images/psd/1.png')">
                                                    <a id="aF">F</a>
                                                </div>
                                                <div class="deactive_img" id="divG" onclick="return changecolor('39','divG','../Mock/images/psd/1.png')">
                                                    <a id="aG">G</a>
                                                </div>
                                                <div class="deactive_img" id="divH" onclick="return changecolor('40','divH','../Mock/images/psd/1.png')">
                                                    <a id="aH">H</a>
                                                </div>
                                                <div class="deactive_img" id="divI" onclick="return changecolor('41','divI','../Mock/images/psd/1.png')">
                                                    <a id="aI">I</a>
                                                </div>
                                                <div class="deactive_img" id="divJ" onclick="return changecolor('42','divJ','../Mock/images/psd/1.png')">
                                                    <a id="aJ">J</a>
                                                </div>
                                            </div>
                                            <div class="teeth_list">
                                                <div class="deactive_img" id="divO" onclick="return changecolor('47','divO','../Mock/images/psd/1.png')">
                                                    <a id="aO">O</a>
                                                </div>
                                                <div class="deactive_img" id="divN" onclick="return changecolor('46','divN','../Mock/images/psd/1.png')">
                                                    <a id="aN">N</a>
                                                </div>
                                                <div class="deactive_img" id="divM" onclick="return changecolor('45','divM','../Mock/images/psd/1.png')">
                                                    <a id="aM">M</a>
                                                </div>
                                                <div class="deactive_img" id="divL" onclick="return changecolor('44','divL','../Mock/images/psd/1.png')">
                                                    <a id="aL">L</a>
                                                </div>
                                                <div class="deactive_img" id="divK" onclick="return changecolor('43','divK','../Mock/images/psd/1.png')">
                                                    <a id="aK">K</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clear">
                                    </div>
                                    <h2 class="heading">Upload <span>Files</span></h2>


                                    <div class="upload_panel">
                                        <!-- Patient File upload start  -->
                                        <!-- Bootstrap styles -->
                                        <script src="../../Content/js/jquery-1.10.2.js" type="text/javascript"></script>
                                        <script type="text/javascript">    var jQuery_1_10_2 = $.noConflict(true);</script>
                                        <link rel="stylesheet" href="../../Content/file_upload/css/bootstrap.min.css">
                                        <style type="text/css">
                                            label {
                                                font-weight: normal;
                                            }

                                            a:hover, a:focus {
                                                text-decoration: none;
                                            }
                                        </style>
                                        <!-- Generic page styles -->
                                        <link rel="stylesheet" href="../../Content/file_upload/css/style.css">
                                        <!-- blueimp Gallery styles -->
                                        <link href="../../Content/file_upload/blueimp-gallery.min.css" rel="stylesheet" />
                                        @*<link rel="stylesheet" href="https://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">*@
                                        <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
                                        <link rel="stylesheet" href="../../Content/file_upload/css/jquery.fileupload.css">
                                        <link rel="stylesheet" href="../../Content/file_upload/css/jquery.fileupload-ui.css">
                                        <!-- CSS adjustments for browsers with JavaScript disabled -->
                                        <noscript>
                                            <link rel="stylesheet" href="../../Content/file_upload/css/jquery.fileupload-noscript.css">
                                        </noscript>
                                        <noscript>
                                            <link rel="stylesheet" href="../../Content/file_upload/css/jquery.fileupload-ui-noscript.css">
                                        </noscript>

                                        <link rel="stylesheet" type="text/css" href="../../Content/css/fcbk.css" />
                                        <script src="../../Content/js/jquery.fcbkcomplete.js" type="text/javascript" charset="utf-8"></script>
                                        <!--- Scripts  and Css for  File upload end-->

                                        <div id="fileupload">
                                            <form action="../../PatientTempFileUpload.ashx" method="post" enctype="multipart/form-data" style="margin: 0px 0px -2px;">
                                                @*<form action="../../PatientFileUpload.ashx" method="post" enctype="multipart/form-data">*@
                                                <div class="row fileupload-buttonbar margintop1" style="border: 0px solid #fff;border-color:#ffffff;background-color:#ffffff; height: 45px;">
                                                    <div class="col-lg-7 paddingleft0">
                                                        <!-- The fileinput-button span is used to style the file input field as button -->
                                                        <span class="btn btn-success fileinput-button" style="border: 1px solid #2CA0CC; border-radius:0px;margin-bottom: -3px;margin-left: 0px;margin-right: 0;margin-top: 0px;background-color: #fff;color: #2599C5;padding-bottom: 4px;padding-left: 13px;padding-right: 0;padding-top: 4px;width: 128px;">
                                                            <i class="glyphicon glyphicon-plus-icon"></i>
                                                            <span class="text_lineheight">
                                                                Attach Files
                                                            </span>
                                                            <input type="file" name="files[]" value="" multiple="multiple" />
                                                        </span>
                                                        <div class="fileupload-progressbar">
                                                        </div>
                                                    </div>
                                                </div>

                                            </form>
                                            <div class="fileupload-content" style="border: 0px solid">

                                                <table class="table table-striped">
                                                    <tbody class="files"></tbody>
                                                </table>
                                            </div>
                                        </div>

                                        <script id="template-upload" type="text/x-jquery-tmpl">
                                            <tr class="template-upload{{if error}} ui-state-error{{/if}}">
                                                <td class="preview"></td>
                                                <td class="name">${name}</td>
                                                <td class="size">${sizef}</td>
                                                {{if error}}
                                                <td class="error" colspan="2">
                                                    Error:
                                                    {{if error === 'maxFileSize'}}File is too big
                                                    {{else error === 'minFileSize'}}File is too small
                                                    {{else error === 'acceptFileTypes'}}Filetype not allowed
                                                    {{else error === 'maxNumberOfFiles'}}Max number of files exceeded
                                                    {{else}}${error}
                                                    {{/if}}
                                                </td>
                                                {{else}}
                                                <td class="progress"><div></div></td>
                                                <td class="start">
                                                    <button class="btn btn-primary start" disabled>
                                                        <i class="glyphicon glyphicon-upload-icon"></i>
                                                        <span class="text_lineheight">Start</span>
                                                    </button>
                                                </td>

                                                {{/if}}
                                                <td class="cancel">
                                                    <button class="btn btn-warning cancel">
                                                        <i class="glyphicon glyphicon-ban-circle-icon"></i>
                                                        <span class="text_lineheight">Cancel</span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </script>

                                        <!-- The template to display files available for download -->
                                        <script id="template-download" type="text/x-jquery-tmpl">
                                            <tr class="template-download{{if error}} ui-state-error{{/if}}">
                                                {{if error}}
                                                <td></td>
                                                <td class="name">${name}</td>
                                                <td class="size">${sizef}</td>
                                                <td class="error" colspan="2">
                                                    Error:
                                                    {{if error === 1}}File exceeds upload_max_filesize (php.ini directive)
                                                    {{else error === 2}}File exceeds MAX_FILE_SIZE (HTML form directive)
                                                    {{else error === 3}}File was only partially uploaded
                                                    {{else error === 4}}No File was uploaded
                                                    {{else error === 5}}Missing a temporary folder
                                                    {{else error === 6}}Failed to write file to disk
                                                    {{else error === 7}}File upload stopped by extension
                                                    {{else error === 'maxFileSize'}}File is too big
                                                    {{else error === 'minFileSize'}}File is too small
                                                    {{else error === 'acceptFileTypes'}}Filetype not allowed
                                                    {{else error === 'maxNumberOfFiles'}}Max number of files exceeded
                                                    {{else error === 'uploadedBytes'}}Uploaded bytes exceed file size
                                                    {{else error === 'emptyResult'}}Empty file upload result
                                                    {{else}}${error}
                                                    {{/if}}
                                                </td>
                                                {{else}}
                                                <td>
                                                    <span class="preview">
                                                        {{if thumbnail_url}}
                                                        <a href="${url}" target="_blank"><img width="60px" src="${thumbnail_url}"></a>
                                                        {{/if}}
                                                    </span>
                                                </td>
                                                <td>
                                                    <p class="name">
                                                        <a href="${url}" {{if thumbnail_url}} target="_blank" {{/if}}>${name}</a>
                                                    </p>
                                                </td>
                                                <td><span class="size">${sizef}</span></td>
                                                <td colspan="2"></td>
                                                {{/if}}
                                                <td>
                                                    <button class="btn btn-danger deletefile" data-type="${delete_type}" data-url="${delete_url}">
                                                        <i class="glyphicon glyphicon-trash-icon"></i>
                                                        <span class="text_lineheight">Delete</span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </script>

                                        <!-- The template to display files available for download -->




                                        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>
                                        <script src="//ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
                                        <script src="../../Scripts/Default/jquery.iframe-transport.js"></script>
                                        <script src="../../Scripts/Default/jquery.fileupload.js"></script>
                                        <script src="../../Scripts/Default/jquery.fileupload-ui.js"></script>
                                        <script src="../../Scripts/Default/application.js"></script>






                                        <!-- Patient File upload end  -->


                                    </div>

                                    <div class="clear"></div>
                                    <h2 class="heading">Comments</h2>
                                    <div class="clear"></div>

                                    <ul class="comments">
                                        <li class="textarea_input"><textarea class="inputbox_textarea" id="txtcomment" name="Comment" cols="" rows="" onblur="if (this.name == '') {this.name = 'Comment';}" onfocus="if (this.name ='Comment') {this.name = '';}"></textarea></li>




                                        <li>

                                            @* <span class="verification_text">Type exactly as shown. Change image</span><span class="verification_img">*@
                                            @*<input type="text" id="txtCaptcha" style="background-image: url(/images/captchaimag.jpg);
                                                height: auto; text-align: center; border: none; font-weight: normal; font-family: fantasy;
                                                font-size: large;max-width:100%;color:Black;padding: 10px;" readonly="readonly" />
                                                                                            <img src="../../Content/css/PublicProfile/images/refresh.jpg" onclick="DrawCaptcha()" alt="" width="20" height="20" />*@
                                            @*</span>*@
                                            @*<div class="g-recaptcha" data-sitekey="6Lcm9hoTAAAAAIrjXd206zW5QmEyS6nVmJvpu0Jx" style="transform:scale(0.87);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0; float: right; margin-right:-43px" data-theme="light"></div>*@
                                        </li>
                                    </ul>

                                </center>
                                <input type="submit" id="btnbackto1" class="btn_prev" value="" name="image" onclick="return showHide('dvFullDesc');" />
                                <input type="submit" id="btnfinish" onclick="return SendReferral()" class="btn_finish" value="" style="float: right;width: 105px;" />
                            </fieldset>
                        </div>


                    </span>
                </div>



            </div>
        </div>
    </div>
</section>
