﻿@{
    ViewBag.Title = "SignInAndSignUpPage";
}
<style>
    input[type="text"]:focus, input[type="password"]:focus {
        color: #666;
    }

    .maindev {
        width: 100%;
        <!-- margin: 0 -13px; -->
    }

    .devformleft {
        width: 55%;
        display: inline-table;
        height: auto;
        padding: 0 20px 0 0;
        /*float:left;*/
    }

    .devformright {
        width: 44%;
        float: right;
    }

    .devrightbox {
        margin-top: 10px;
        height: auto;
        color: #0691c5;
        padding: 10px;
        background-color: #fff;
        border: 1px solid #ccc;
    }

    .myRadioGroup {
        width: 100%;
        padding-bottom: 20px;
        <!-- line-height: 30px; -->
    }

    #doctor3 {
        line-height: 30px;
    }

    .devEmail1 {
        <!-- width: 100%; -->
        padding: 0px;
        display: table-row-group;
    }

    .devEmail2 {
        <!-- border-top: 2px dotted #666; -->
        padding: 20px 0;
    }

    .devEmail {
        width: 100%;
        padding: 10px 0;
        display: table;
    }

        .devEmail input {
            padding: 5px 15px 5px 24px;
            border: 1px solid #919fb4;
            <!-- height: 20px; -->
            margin-bottom: 6px;
            /*min-width: 100%;*/
            color: #b1bcce;
            font-size: 17px;
            <!-- float: right; -->
            margin-bottom: 6px;
            margin-left: 6px;
            display: table;
        }

    #Birthday_Day, #Birthday_Month, #Birthday_Year, #Sex {
        padding: 11px;
        border: 1px solid #e1e1e4;
    }

    .label {
        color: #0691c5;
        font-family: sharp-sans-semibold,Arial,sans-serif;
        font-size: 18px;
        line-height: 20px;
        font-weight: 400;
    }

    .doctorheading {
        width: 100%;
        font-weight: 900;
        border-bottom: 1px solid #ccc;
        padding: 10px 0;
    }

    .doctormainbox {
        border-bottom: 1px dashed #666;
        padding: 0px 0;
        display: table;
        height: auto;
        width: 100%;
    }

    .doctorleft {
        float: left;
        width: 24%;
        display: flex;
        padding: 24px 1px 0 0;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

        .doctorleft img {
            float: left;
            height: 61px;
            width: 61px;
            display: flex;
            border: 1px solid #dcdcdc;
            border-radius: 2px;
        }

    .doctorright {
        float: right;
        width: 75%;
    }

        .doctorright h2 {
            font-size: 25px !important;
        }

    .doctorsabtab {
        width: 100%;
        padding-top: 10px !important;
        font-size: 18px;
    }

    .modal-header h4 {
        color: #0691c5;
        font-weight: bold;
        font-size: 22px;
    }

    @@media screen and (max-width:600px) {
        .devformleft {
            float: left;
            width: 100%;
        }

        .devformright {
            float: right;
            width: 100%;
        }
    }
</style>
<div class="maindev">
    <div class="devformleft">
        <div class="myRadioGroup">
            <input id="new" type="radio" name="cars" value="2" autocomplete="off" /><label for="new">&nbsp;&nbsp;I am new to Recordlinc/MyDentalFiles.</label>
            <br>
            <input id="used" type="radio" name="cars" value="3" autocomplete="off" /><label for="used">&nbsp;&nbsp;I've used Recordlinc/MyDentalFiles before.</label>

            <div id="Cars2" class="desc" style="display: none; padding-top: 20px;">
                <strong>Create an account</strong>
                <p>This will help you manage your appointments</p>

                <form method="post" id="frmAppointmentBookingDataPateint" action="/" style="width: 41%">

                    <input type="hidden" id="DoctorId_formPateint" name="DoctorId" value="" />
                    <input type="hidden" id="AppointmentDate_formPateint" name="AppointmentDate" value="" />
                    <input type="hidden" id="ServiceTypeId_formPateint" name="ServiceTypeId" value="" />
                    <input type="hidden" id="AppointmentTime_formPateint" name="AppointmentTime" value="" />
                    <input type="hidden" id="ApptResourceId_SignUp_form" name="ApptResourceId" value="" />
                    <div class="devEmail">
                        <label class="label">Email<span style="color:red">*</span></label>
                        <input type="text" name="PEmail" id="PEmail" placeholder="Email Address" style="border-left: 4px solid #0691c5;" />
                        <label class="label" id="EmailError" style="color:red;display:none;font-size:13px">Email is required</label>
                        <label class="label" id="EmailError1" style="color:red;display:none;font-size:13px">Email is not valid</label>
                    </div>
                    <div class="devEmail">
                        <label class="label">Password<span style="color:red">*</span></label><label id="EmailError" style="color:red;display:none"></label>
                        <input type="Password" id="Password" name="Password" placeholder="Password" style="border-left: 4px solid #0691c5;" />
                        <label class="label" id="PasswordError" style="color:red;display:none;font-size:13px">Password is required</label>
                        <label id="PasswordError1" style="color:red;display:none;font-size:13px;font-weight:400;padding: .2em .6em .3em;">Password accept minimum 8 character and maximum 16 character</label>
                    </div>
                    <div class="devEmail">
                        <label class="label">First Name<span style="color:red">*</span></label>
                        <input type="text" name="PFirstName" id="PFirstName" placeholder="First Name" style="border-left: 4px solid #0691c5;" />
                        <label class="label" id="FnameError" style="color:red;display:none;font-size:13px">First Name is required</label>
                    </div>

                    <div class="devEmail">
                        <label class="label">Last Name<span style="color:red">*</span></label>
                        <input type="text" name="PLastName" id="PLastName" placeholder="Last Name" style="border-left: 4px solid #0691c5;" />
                        <label class="label" id="LnameError" style="color:red;display:none;font-size:13px">Last Name is required</label>
                    </div>

                    <div class="devEmail">
                        <label class="label">Phone<span style="color:red">*</span></label>
                        <input type="text" name="PPhone" id="PPhone" class="textfield" placeholder="Phone Number" style="border-left: 4px solid #0691c5;" />
                        <label class="label" id="PhoneError" style="color:red;display:none;font-size:13px">Phone number is required</label>
                        <label class="label" id="PhoneError1" style="color:red;display:none;font-size:13px">Phone number is not valid</label>
                    </div>

                    <div class="devEmail2">
                        <br>
                        <input class="button_2" type="submit" value="Sign Up" onclick="return sbmitfrmBookAppDataWithSignUp()" name="SignUpButton" />
                    </div>
                </form>
            </div>
        </div>
        <!-- ---------------------------------------------------------------------------------------------------Login------------- -->
        <div id="Cars3" class="desc" style="display: none;">
            <strong>Welcome back!</strong>
            <p>Please sign in to your account</p>
            <label id="EmailExists" class="label" style="display: none; color: red; font-size: 13px;">Email already exists</label>
            <form id="frmAppointmentBookingData1" name="loginAppointment" action="/">
                <input type="hidden" id="DoctorId_form" name="DoctorId" value="" />
                <input type="hidden" id="AppointmentDate_form" name="AppointmentDate" value="" />
                <input type="hidden" id="AppointmentTime_form" name="AppointmentTime" value="" />
                <input type="hidden" id="ServiceTypeId_form" name="ServiceTypeId" value="" />
                <input type="hidden" id="ApptResourceId_form" name="ApptResourceId" value="" />

                <div class="devEmail" style="display: table-header-group;">
                    <label class="label" for="SignInEmail">Email<span style="color:red">*</span></label><br>
                    <input type="text" name="SignInEmail" id="Email_UserName" placeholder="Email Address" style="border-left: 4px solid #0691c5;" />
                    <label class="label" id="EmailErrorUser" style="color:red;display:none;font-size:13px">Email is required</label>
                    <label class="label" id="EmailErrorUser1" style="color:red;display:none;font-size:13px">Email is not valid</label>
                </div><br>
                <div class="devEmail" style="display: table-header-group;">

                    <label class="label" for="Password">Password<span style="color:red">*</span></label><br>
                    <input type="Password" name="Password" id="txtPassword" placeholder="Password" style="border-left: 4px solid #0691c5;" />
                    <label class="label" id="PasswordErrorUser" style="color:red;display:none;font-size:13px">Password is required</label>
                    <label id="PasswordErrorUser1" style="width:70%; color:red;display:none;font-size:13px;font-weight:400;padding: .2em .6em .3em;">Password accept minimum 8 character and maximum 16 character</label>
                </div>
                <a target="_blank" style="padding-left: 10px" onclick="Resetpass()"> Forgot your password? </a><br><br>
                <div class="-form-button">
                    <input class="button_2" type="submit" value="Sign In" onclick="return sbmitfrmBookAppDataWithSignIn1()" name="SignInButton" />
                </div>
            </form>
        </div>
        <!-- ---------------------------------------------------------------------------------------------------Login------------- -->
    </div>

    <div class="devformright">
        <div class="devrightbox">
            <div class="doctorheading">Doctor</div>
            <div class="doctormainbox">
                <div class="doctorleft">
                    <img id="App_DrImg">
                </div>
                <div class="doctorright">
                    <h2 id="DrNameApp"></h2>
                    <p>
                        <label id="Address_Doc"></label><label id="City_Doc"></label><br>
                        <label id="State_Doc"></label><label id="Country_Doc"></label><label id="ZipCode_Doc"></label>
                    </p>
                </div>
            </div>
            <div class="doctorsabtab">
                <p><strong id="AppTime"></strong></p>
            </div>
        </div>
    </div>


</div>

<script>

    //$(document).ready(function () {

    //    $('#frmAppointmentBookingData1').validate({
    //        rules: {
    //            SignInEmail: {
    //                required: true,
    //                email:true
    //            }
    //        },
    //        submitHandler: function (form) { // for demo
    //            alert('valid form submitted'); // for demo
    //            return false; // for demo
    //        }
    //    });
    //});
    function EmailValid(Email) {
        var pattern = new RegExp(/^[+a-zA-Z0-9._-]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/i);
        if (pattern.test(Email)) {
            return true;
        }
        else {
            return false;
        }

    }
    $(document).ready(function () {
        $("#DoctorId_form").val($("#DoctorId1").val());
        $("#DoctorId_formPateint").val($("#DoctorId1").val());
        $("#AppointmentDate_form").val($("#AppointmentDate1").val());
        $("#AppointmentDate_formPateint").val($("#AppointmentDate1").val());
        $("#AppointmentTime_form").val($("#AppointmentTime1").val());
        $("#AppointmentTime_formPateint").val($("#AppointmentTime1").val())
        $("#ServiceTypeId_form").val($("#ServiceTypeId1").val());
        $("#ServiceTypeId_formPateint").val($("#ServiceTypeId1").val());
        $("#App_DrImg").attr('src', $("#ImgVal").val());
        $("#DrNameApp").html($("#DrName").val());
        $("#AppTime").html($("#AppointmentDay").val());
        $("#ApptResourceId_form").val($("#ApptResourceId").val());
        $("#ApptResourceId_SignUp_form").val($("#ApptResourceId").val());
        if ($("#Address").val() != null && $("#Address").val() != "") {
            $("#Address_Doc").html($("#Address").val() + ",&nbsp;");
        }
        if ($("#City").val() != null && $("#City").val() != "") {
            $("#City_Doc").html($("#City").val());
        }
        if ($("#State").val() != null && $("#State").val() != "") {
            $("#State_Doc").html($("#State").val() + ",&nbsp;");
        }
        if ($("#Country").val() != null && $("#Country").val() != "") {
            $("#Country_Doc").html($("#Country").val() + "&nbsp;");
        }
        if ($("#ZipCode").val() != null && $("#ZipCode").val() != "") {
            $("#ZipCode_Doc").html($("#ZipCode").val());
        }
        $("input[name$='cars']").click(function () {
            var test = $(this).val();
            $("div.desc").hide();
            $("#Cars" + test).show();
        });

    });
    jQuery(function ($) {

        // For Phone
        $('#PPhone').focus(function () {
            if (document.getElementById('PPhone').value == 'Phone' || document.getElementById('PPhone').value == '') {
                //  $('#PPhone').mask({ mask: '(999) 999-9999' });
            }

        });
        $('#PPhone').blur(function () {
            if (document.getElementById('PPhone').value == '' || document.getElementById('PPhone').value == '(___) ___-____') {
                document.getElementById('PPhone').setAttribute('placeholder', 'Phone Number');
            }


        });

    });



    function Resetpass() {
        var Email = $("#Email_UserName").val();
        if (Email == "" || Email == null) {
            $("#EmailErrorUser").show();
            return false;
        }
        $.ajaxSetup({ async: false });
        $.ajax({
            url: '@Url.Action("MForgotpassword", "p")?Email=' + Email + '',
            type: 'POST',
            dataType: 'html',
            contenttype: "application/x-www-form-urlencoded",
            cache: false,
            ProcessData: false,
            success: function (output, status, xhr) {
                obj = jQuery.parseJSON(output);

                //alert(obj.Message);
                swal({ title: "", text: obj.Message });
            },
            error: function (output, status, xhr) {
                swal({ title: "", text: obj.Message });
            }
        });
        $.ajaxSetup({ async: true });
    }

    function PasswordValid(passwordMX) {
        if (passwordMX < 16 && passwordMX > 8) {

            return true;
        }
        else {
            return false;
        }
    }

    function Validfname() {
        var fname = $("#PFirstName").val();

    }

    function ValidLname() {
        var lname = $("#PLastName").val();

    }
    function sbmitfrmBookAppDataWithSignIn1() {
        
        var check = $("#AppointmentDate_form").val();
        var SignInEmail = $("#Email_UserName").val();
        var serviceId = $("#ServiceTypeId_form").val();
        var Password = $("#txtPassword").val();
        if (check == "") {
            //alert("Please select any time")
            swal({ title: "", text: 'Please select any time' });
            return false;
        }

        if (SignInEmail == "" || SignInEmail == null || Password == "" || Password == null) {
            var flag = 0;
            if (SignInEmail != "") {
                $("#EmailErrorUser").hide();
            } else {
                $("#EmailErrorUser").show();
                $("#EmailErrorUser1").hide();
                $("#Email_UserName").focus();
                flag = 1;
            }
            //return false;
            if (Password != "") { $("#PasswordErrorUser").hide(); } else {
                $("#PasswordErrorUser").show();
                $("#PasswordErrorUser1").hide();
                $("#txtPassword").focus();
                flag = 1;
            }
            if (flag == 1) {
                return false;
            }
        }
        if (SignInEmail != "" || Password != "") {
            var flag = 0;
            $("#EmailErrorUser").hide();
            var passwordMX = Password.length;
            if (passwordMX > 16 || passwordMX < 8) {
                $("#PasswordErrorUser1").show();
                $("#PasswordErrorUser").hide();
                $("#txtPassword").focus();
                flag = 1;
            }
            else {
                $("#PasswordErrorUser1").hide();
                $("#PasswordErrorUser").hide();
            }
            if (flag == 1) {
                return false;
            }
        }

        var frmdata = $("#frmAppointmentBookingData1").serialize();
        frmdata = frmdata + "&TimezoneOffset=" + new Date().getTimezoneOffset();
        var retunflag = true;
        $.ajaxSetup({ async: false });
        $.ajax({
            url: "/p/@(this.ViewContext.RouteData.Values["username"])/CheckOverLapping",
            type: "post",
            data: frmdata,
            success: function (data) {
                if (data != "") {
                    //alert(data);
                    swal({ title: "", text: data });
                    retunflag = false;
                    return false;
                }
            }
        });
        $.ajaxSetup({ async: true });
        if (!retunflag) {
            return retunflag;
        }

        $.ajaxSetup({ async: false });
        $.ajax({
            url: "/p/@(this.ViewContext.RouteData.Values["username"])/SubmitAppointmentBookingDataWithSignIn",
            type: "post",
            data: frmdata,
            success: function (data) {
                if (data.Ismember == "true") {

                    //var tempurl = "https://mydentalfiles.com/PatientLogin?usrem=" + data.Email + "&uspswd=" + data.Password;
                    var tempurl = "//qa.recordlinc.com/Mydentalfiles/PatientLogin?usrem=" + data.Email + "&uspswd=" + data.Password;
                    //var tempurl = "http://localhost:4751/PatientLogin?usrem=" + data.Email + "&uspswd=" + data.Password;
                    //var tempurl = "http://162.42.247.91:10002/PatientLogin?usrem=" + data.Email + "&uspswd=" + data.Password;
                    window.location.href = tempurl;
                    return false;

                } else {
                    //alert("Email or password is wrong");
                    swal({ title: "", text: 'Email or password is wrong' });
                }
            }
        });
        $.ajaxSetup({ async: true });

        return false;
    }

    function sbmitfrmBookAppDataWithSignUp() {
        var check = $("#AppointmentDate_form").val();
        var serviceId = $("#ServiceTypeId_form").val();
        var SignInEmail = $("#PEmail").val();
        var Password = $("#Password").val();
        var fname = $("#PFirstName").val();
        var lname = $("#PLastName").val();
        var phone = $('#PPhone').val();
        var phone1 = $('#PPhone').val().replace(/([()_-])+/g, '').replace(' ', '');



        if (SignInEmail == "" || SignInEmail == null || Password == "" || Password == null || fname == "" || fname == " " || lname == "" || lname == " " || phone1 == "") {
            var flag = 0;
            if (SignInEmail != "") {
                var res = EmailValid(SignInEmail);
                if (res == true) {
                    $("#EmailError1").hide();
                    $("#EmailError").hide();
                }
                else {
                    $("#EmailError1").show();
                    $("#EmailError").hide();
                    flag = 1;
                }
            }
            else {
                $("#EmailError").show();
                $("#EmailError1").hide();
                $("#PEmail").focus();
                flag = 1;
            }
            //}
            if (Password != "") {
                var passwordMX = Password.length;

                if (passwordMX > 16 || passwordMX < 8) {
                    $("#PasswordError1").show();
                    $("#PasswordError").hide();
                    $("#Password").focus();
                    flag = 1;
                }
                else {
                    $("#PasswordError1").hide();
                    $("#PasswordError").hide();
                }

            } else {
                $("#PasswordError").show();
                $("#PasswordError1").hide();
                $("#Password").focus();
                flag = 1;
            }
            if (fname != "" && fname != " ") {
                $("#FnameError").hide();
            }
            else {
                $("#FnameError").show();
                $("#PFirstName").focus();
                flag = 1;
            }
            if (lname != "" && lname != " ") {
                $("#LnameError").hide();
            }
            else {
                $("#LnameError").show();
                $("#PLastName").focus();
                flag = 1;
            }
            if (phone1 != "") {
                var RegExPhone = /^(?:\([0-9]\d{2}\)\ ?|[0-9]\d{2}(?:\-?|\ ?))[0-9]\d{2}[- ]?\d{4}$/;
                if (!RegExPhone.test(phone1)) {
                    $("#PhoneError").hide();
                    $("#PhoneError1").show();
                    $('#PPhone').focus();
                    flag = 1;
                }
                else {
                    $("#PhoneError").hide();
                    $("#PhoneError1").hide();
                }
            }
            else {
                $("#PhoneError").show();
                $("#PhoneError1").hide();
                flag = 1;
            }
            if (flag = 1) {
                return false;
            }
        }

        if (SignInEmail != "" || phone != "" || Password != "" || fname != "" || lname != "") {

            var flag = 0;
            if (SignInEmail != "") {
                var res = EmailValid(SignInEmail);
                if (res == true) {
                    $("#EmailError1").hide();
                    $("#EmailError").hide();
                }
                else {
                    $("#EmailError1").show();
                    $("#EmailError").hide();
                    flag = 1;
                }
            }
            if (phone != "") {
                if (phone1.length < 10) {
                    $("#PhoneError").hide();
                    $("#PhoneError1").show();
                    $('#PPhone').focus();
                    flag = 1;
                }
                else {
                    $("#PhoneError").hide();
                    $("#PhoneError1").hide();
                }
            }
            if (Password != "") {
                var passwordMX = Password.length;

                if (passwordMX > 16 || passwordMX < 8) {
                    $("#PasswordError1").show();
                    $("#PasswordError").hide();
                    $("#Password").focus();
                    flag = 1;
                }
                else {
                    $("#PasswordError1").hide();
                    $("#PasswordError").hide();
                }
            }
            if (fname != "" && fname != " ") {
                $("#FnameError").hide();
            }
            if (lname != "" && lname != " ") {
                $("#LnameError").hide();
            }
            if (flag == 1) {
                return false;
            }
        }
        if (check == "") {
            //alert("Please select appointment time")
            swal({ title: "", text: 'Please select appointment time' });
            return false;
        }
        if (serviceId == "" || serviceId == null) {
            //alert("Please select service")
            swal({ title: "", text: 'Please select service' });
            return false;
        }






        var frmdata = $("#frmAppointmentBookingDataPateint").serialize();
        frmdata = frmdata + "&TimezoneOffset=" + new Date().getTimezoneOffset();

        //Check OverLapping
        var retunflag = true;
        $.ajaxSetup({ async: false });
        $.ajax({
            url: "/p/@(this.ViewContext.RouteData.Values["username"])/CheckOverLapping",
            type: "post",
            data: frmdata,
            success: function (data) {
                if (data != "") {
                    //alert(data);
                    swal({ title: "", text: data });
                    retunflag = false;
                    return false;
                }
            }
        });
        $.ajaxSetup({ async: true });
        if (!retunflag) {
            return retunflag;
        }


        $.ajaxSetup({ async: false });
        $.ajax({
            url: "/p/@(this.ViewContext.RouteData.Values["username"])/SubmitAppointmentBookingDataWithSignUp",
            type: "post",
            data: frmdata,
            success: function (data) {
                if (data.Ismember == "true") {

                    var tempurl = "https://mydentalfiles.com/PatientLogin?usrem=" + data.Email + "&uspswd=" + data.Password;
                    //var tempurl = "http://localhost:4751/PatientLogin?usrem=" + data.Email + "&uspswd=" + data.Password;
                    //var tempurl = "http://qa.recordlinc.com/Mydentalfiles/PatientLogin?usrem=" + data.Email + "&uspswd=" + data.Password;
                    window.location.href = tempurl;

                } else {
                    $("div.desc").hide();
                    $("#Cars3").show();
                    $("#used").prop('checked', true);
                    $("#Email_UserName").val($("#PEmail").val());
                    $("#EmailExists").show();
                }
            }
        });
        $.ajaxSetup({ async: true });
        return false;
    }
</script>
