﻿@model List<ScoreCard.Models.SmartNumbers>
@{
    /**/

    ViewBag.Title = "SmartNumbers";
    Layout = "~/Views/Shared/_Master_Layout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        document.getElementById('ddlYear').value = "@ViewBag.Year";
        @*ocument.getElementById("ddlYear").selectedIndex = '@Model.Where().Year';*@
        @*$("#ddlYear").val("@Model.Where().Year").change();*@
    });
    function SearchGoals() {
        if ($("#ddlYear").val() == "") {
            alert("Kindly select a Year.");
            return false;
        }
        var urL = location.href;
        location.href = urL.split('?')[0] + "?year=" + $("#ddlYear").val();
    }
    $(function () {
        $("#btnSubmit").click(function () {
            $("input[name='GridHtml']").val($("#Grid").html());
        });
    });
</script>

@using (Html.BeginForm("SmartNumbers", "HomeNew", FormMethod.Post, new { @class = "form-inline float-right" }))
{
    
    <div class="row" style="background-color:powderblue;height:50px">
        <div class="col-md-12">
            <div class="col-md-3"></div>
            <div class="col-md-2">
                <div style="padding-top:5px" class="text-right">
                    <div class="inner-menu reports_details">
                        @Html.TextBox("FromDate", "", new { @class = "form-control", @type = "date", @title = "Select From Date" })
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div style="padding-top:5px" class="text-left">
                    <div class="inner-menu reports_details">
                        @Html.TextBox("ToDate", "", new { @class = "form-control", @type = "date", @title = "Select To Date" })
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div style="padding-top:5px" class="text-left">
                    <div class="inner-menu reports_details" style="padding-top:5px">
                        <button type="submit" name="submit" value="SearchByDate" id="SearchByDate" class="btn btn-primary mb-2">Search</button>
                        <button type="submit" name="submit" value="Excel" class="btn btn-primary mb-2" id="btnSubmit">Excel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


    @*<div class="row" style="margin:-1% 0 0.3% 0">
        <div class="col-md-6">
            <div style="padding-top:5px" class="text-left">
                @*<label style="font-family:Calibri;font-weight:bold;font-size:12px">Reports : Smart Number ( Clinical )</label>
                <div class="inner-menu reports_details">
                    <h3 class="inline">Reports : Smart Number ( Clinical )</h3>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="" style="padding-top:10px">
                <select class="form-control" id="ddlYear">
                    <option value="">Please select the Year for Search</option>
                    <option value="2016">2016</option>
                    <option value="2017">2017</option>
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                </select>
            </div>
        </div>
        <div class="col-md-2 text-right" style="padding-top:10px">
            <button type="button" class="btn btn-primary mb-2" onclick="SearchGoals();">Search</button>
            <input type="hidden" name="GridHtml" />
            <button type="submit" class="btn btn-info mb-2" id="btnSubmit">Excel</button>
            <button type="button" class="btn btn-info mb-2" id="btnPrintout">Print</button>
        </div>
    </div>*@

<div class="table-responsive" id="Grid">
    <table class="table table3 filtered-table table table-striped table-dark">
        @{
            if (Model == null || Model.Count == 0)
            {
                <tr>
                    <th>Monthly Clinical Smart Numbers</th>
                    <th>January</th>
                    <th>February</th>
                    <th>March</th>
                    <th>April</th>
                    <th>May</th>
                    <th>June</th>
                    <th>July</th>
                    <th>August</th>
                    <th>September</th>
                    <th>October</th>
                    <th>November</th>
                    <th>December</th>
                    <th>Year Avg.</th>
                </tr>
                <tr>
                    <td>Total Offfice Hours Open</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>

                <tr>
                    <td>Hygiene Visits</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Total New Patients</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Marketing Costs</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Collections</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Production</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Collectible Production</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Hygiene Production</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Restorative Production</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
            }
            else
            {
                <thead>
                    <tr>
                        <th>Monthly Clinical Smart Numbers</th>
                        <th>January</th>
                        <th>February</th>
                        <th>March</th>
                        <th>April</th>
                        <th>May</th>
                        <th>June</th>
                        <th>July</th>
                        <th>August</th>
                        <th>September</th>
                        <th>October</th>
                        <th>November</th>
                        <th>December</th>
                        <th>Year Avg.</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Total Offfice Hours Open</td>
                        <td>@Model.Where(x => x.Month == 1).FirstOrDefault().TOTAL_OFFICE_HOURS</td>
                        <td>@Model.Where(x => x.Month == 2).FirstOrDefault().TOTAL_OFFICE_HOURS</td>
                        <td>@Model.Where(x => x.Month == 3).FirstOrDefault().TOTAL_OFFICE_HOURS</td>
                        <td>@Model.Where(x => x.Month == 4).FirstOrDefault().TOTAL_OFFICE_HOURS</td>
                        <td>@Model.Where(x => x.Month == 5).FirstOrDefault().TOTAL_OFFICE_HOURS</td>
                        <td>@Model.Where(x => x.Month == 6).FirstOrDefault().TOTAL_OFFICE_HOURS</td>
                        <td>@Model.Where(x => x.Month == 7).FirstOrDefault().TOTAL_OFFICE_HOURS</td>
                        <td>@Model.Where(x => x.Month == 8).FirstOrDefault().TOTAL_OFFICE_HOURS</td>
                        <td>@Model.Where(x => x.Month == 9).FirstOrDefault().TOTAL_OFFICE_HOURS</td>
                        <td>@Model.Where(x => x.Month == 10).FirstOrDefault().TOTAL_OFFICE_HOURS</td>
                        <td>@Model.Where(x => x.Month == 11).FirstOrDefault().TOTAL_OFFICE_HOURS</td>
                        <td>@Model.Where(x => x.Month == 12).FirstOrDefault().TOTAL_OFFICE_HOURS</td>
                        @*<td>@Model.Average(x => x.TOTAL_OFFICE_HOURS)</td>*@
                        <td>@Math.Round(Model.Average(x => x.TOTAL_OFFICE_HOURS)) </td>
                    </tr>
                    <tr>
                        <td>Hygiene Visits </td>
                        <td>@Model.Where(x => x.Month == 1).FirstOrDefault().HYGEINE_VISITS</td>
                        <td>@Model.Where(x => x.Month == 2).FirstOrDefault().HYGEINE_VISITS</td>
                        <td>@Model.Where(x => x.Month == 3).FirstOrDefault().HYGEINE_VISITS</td>
                        <td>@Model.Where(x => x.Month == 4).FirstOrDefault().HYGEINE_VISITS</td>
                        <td>@Model.Where(x => x.Month == 5).FirstOrDefault().HYGEINE_VISITS</td>
                        <td>@Model.Where(x => x.Month == 6).FirstOrDefault().HYGEINE_VISITS</td>
                        <td>@Model.Where(x => x.Month == 7).FirstOrDefault().HYGEINE_VISITS</td>
                        <td>@Model.Where(x => x.Month == 8).FirstOrDefault().HYGEINE_VISITS</td>
                        <td>@Model.Where(x => x.Month == 9).FirstOrDefault().HYGEINE_VISITS</td>
                        <td>@Model.Where(x => x.Month == 10).FirstOrDefault().HYGEINE_VISITS</td>
                        <td>@Model.Where(x => x.Month == 11).FirstOrDefault().HYGEINE_VISITS</td>
                        <td>@Model.Where(x => x.Month == 12).FirstOrDefault().HYGEINE_VISITS</td>
                        @*<td>@Model.Average(x => x.HYGEINE_VISITS)</td>*@
                        <td>@Math.Round(Model.Average(x => x.HYGEINE_VISITS)) </td>
                    </tr>
                    <tr>
                        <td>Total New Patients</td>
                        <td>@Model.Where(x => x.Month == 1).FirstOrDefault().NEW_PATIENTS</td>
                        <td>@Model.Where(x => x.Month == 2).FirstOrDefault().NEW_PATIENTS</td>
                        <td>@Model.Where(x => x.Month == 3).FirstOrDefault().NEW_PATIENTS</td>
                        <td>@Model.Where(x => x.Month == 4).FirstOrDefault().NEW_PATIENTS</td>
                        <td>@Model.Where(x => x.Month == 5).FirstOrDefault().NEW_PATIENTS</td>
                        <td>@Model.Where(x => x.Month == 6).FirstOrDefault().NEW_PATIENTS</td>
                        <td>@Model.Where(x => x.Month == 7).FirstOrDefault().NEW_PATIENTS</td>
                        <td>@Model.Where(x => x.Month == 8).FirstOrDefault().NEW_PATIENTS</td>
                        <td>@Model.Where(x => x.Month == 9).FirstOrDefault().NEW_PATIENTS</td>
                        <td>@Model.Where(x => x.Month == 10).FirstOrDefault().NEW_PATIENTS</td>
                        <td>@Model.Where(x => x.Month == 11).FirstOrDefault().NEW_PATIENTS</td>
                        <td>@Model.Where(x => x.Month == 12).FirstOrDefault().NEW_PATIENTS</td>
                        @*<td>@Model.Average(x => x.NEW_PATIENTS)</td>*@
                        <td>@Math.Round(Model.Average(x => x.NEW_PATIENTS)) </td>
                    </tr>
                    <tr>
                        <td>Marketing Costs</td>
                        <td>@Model.Where(x => x.Month == 1).FirstOrDefault().MARKETING_COSTS</td>
                        <td>@Model.Where(x => x.Month == 2).FirstOrDefault().MARKETING_COSTS</td>
                        <td>@Model.Where(x => x.Month == 3).FirstOrDefault().MARKETING_COSTS</td>
                        <td>@Model.Where(x => x.Month == 4).FirstOrDefault().MARKETING_COSTS</td>
                        <td>@Model.Where(x => x.Month == 5).FirstOrDefault().MARKETING_COSTS</td>
                        <td>@Model.Where(x => x.Month == 6).FirstOrDefault().MARKETING_COSTS</td>
                        <td>@Model.Where(x => x.Month == 7).FirstOrDefault().MARKETING_COSTS</td>
                        <td>@Model.Where(x => x.Month == 8).FirstOrDefault().MARKETING_COSTS</td>
                        <td>@Model.Where(x => x.Month == 9).FirstOrDefault().MARKETING_COSTS</td>
                        <td>@Model.Where(x => x.Month == 10).FirstOrDefault().MARKETING_COSTS</td>
                        <td>@Model.Where(x => x.Month == 11).FirstOrDefault().MARKETING_COSTS</td>
                        <td>@Model.Where(x => x.Month == 12).FirstOrDefault().MARKETING_COSTS</td>
                        @*<td>@Model.Average(x => x.MARKETING_COSTS)</td>*@
                        <td>@Math.Round(Model.Average(x => x.MARKETING_COSTS)) </td>
                    </tr>
                    <tr>
                        <td>Collections</td>
                        <td>@Model.Where(x => x.Month == 1).FirstOrDefault().COLLECTIONS</td>
                        <td>@Model.Where(x => x.Month == 2).FirstOrDefault().COLLECTIONS</td>
                        <td>@Model.Where(x => x.Month == 3).FirstOrDefault().COLLECTIONS</td>
                        <td>@Model.Where(x => x.Month == 4).FirstOrDefault().COLLECTIONS</td>
                        <td>@Model.Where(x => x.Month == 5).FirstOrDefault().COLLECTIONS</td>
                        <td>@Model.Where(x => x.Month == 6).FirstOrDefault().COLLECTIONS</td>
                        <td>@Model.Where(x => x.Month == 7).FirstOrDefault().COLLECTIONS</td>
                        <td>@Model.Where(x => x.Month == 8).FirstOrDefault().COLLECTIONS</td>
                        <td>@Model.Where(x => x.Month == 9).FirstOrDefault().COLLECTIONS</td>
                        <td>@Model.Where(x => x.Month == 10).FirstOrDefault().COLLECTIONS</td>
                        <td>@Model.Where(x => x.Month == 11).FirstOrDefault().COLLECTIONS</td>
                        <td>@Model.Where(x => x.Month == 12).FirstOrDefault().COLLECTIONS</td>
                        @*<td>@Model.Average(x => x.COLLECTIONS)</td>*@
                        <td>@Math.Round(Model.Average(x => x.COLLECTIONS)) </td>
                    </tr>
                    <tr>
                        <td>Production</td>
                        <td>@Model.Where(x => x.Month == 1).FirstOrDefault().PRODUCTION</td>
                        <td>@Model.Where(x => x.Month == 2).FirstOrDefault().PRODUCTION</td>
                        <td>@Model.Where(x => x.Month == 3).FirstOrDefault().PRODUCTION</td>
                        <td>@Model.Where(x => x.Month == 4).FirstOrDefault().PRODUCTION</td>
                        <td>@Model.Where(x => x.Month == 5).FirstOrDefault().PRODUCTION</td>
                        <td>@Model.Where(x => x.Month == 6).FirstOrDefault().PRODUCTION</td>
                        <td>@Model.Where(x => x.Month == 7).FirstOrDefault().PRODUCTION</td>
                        <td>@Model.Where(x => x.Month == 8).FirstOrDefault().PRODUCTION</td>
                        <td>@Model.Where(x => x.Month == 9).FirstOrDefault().PRODUCTION</td>
                        <td>@Model.Where(x => x.Month == 10).FirstOrDefault().PRODUCTION</td>
                        <td>@Model.Where(x => x.Month == 11).FirstOrDefault().PRODUCTION</td>
                        <td>@Model.Where(x => x.Month == 12).FirstOrDefault().PRODUCTION</td>
                        @*<td>@Model.Average(x => x.PRODUCTION)</td>*@
                        <td>@Math.Round(Model.Average(x => x.PRODUCTION)) </td>
                    </tr>
                    <tr>
                        <td>Collectible Production</td>
                        <td>@Model.Where(x => x.Month == 1).FirstOrDefault().COLLECTIBLE_PRODUCTION</td>
                        <td>@Model.Where(x => x.Month == 2).FirstOrDefault().COLLECTIBLE_PRODUCTION</td>
                        <td>@Model.Where(x => x.Month == 3).FirstOrDefault().COLLECTIBLE_PRODUCTION</td>
                        <td>@Model.Where(x => x.Month == 4).FirstOrDefault().COLLECTIBLE_PRODUCTION</td>
                        <td>@Model.Where(x => x.Month == 5).FirstOrDefault().COLLECTIBLE_PRODUCTION</td>
                        <td>@Model.Where(x => x.Month == 6).FirstOrDefault().COLLECTIBLE_PRODUCTION</td>
                        <td>@Model.Where(x => x.Month == 7).FirstOrDefault().COLLECTIBLE_PRODUCTION</td>
                        <td>@Model.Where(x => x.Month == 8).FirstOrDefault().COLLECTIBLE_PRODUCTION</td>
                        <td>@Model.Where(x => x.Month == 9).FirstOrDefault().COLLECTIBLE_PRODUCTION</td>
                        <td>@Model.Where(x => x.Month == 10).FirstOrDefault().COLLECTIBLE_PRODUCTION</td>
                        <td>@Model.Where(x => x.Month == 11).FirstOrDefault().COLLECTIBLE_PRODUCTION</td>
                        <td>@Model.Where(x => x.Month == 12).FirstOrDefault().COLLECTIBLE_PRODUCTION</td>
                        @*<td>@Model.Average(x => x.COLLECTIBLE_PRODUCTION)</td>*@
                        <td>@Math.Round(Model.Average(x => x.COLLECTIBLE_PRODUCTION)) </td>
                    </tr>
                    <tr>
                        <td>Hygiene Production</td>
                        <td>@Model.Where(x => x.Month == 1).FirstOrDefault().HYGEINE_PRODUCTION</td>
                        <td>@Model.Where(x => x.Month == 2).FirstOrDefault().HYGEINE_PRODUCTION</td>
                        <td>@Model.Where(x => x.Month == 3).FirstOrDefault().HYGEINE_PRODUCTION</td>
                        <td>@Model.Where(x => x.Month == 4).FirstOrDefault().HYGEINE_PRODUCTION</td>
                        <td>@Model.Where(x => x.Month == 5).FirstOrDefault().HYGEINE_PRODUCTION</td>
                        <td>@Model.Where(x => x.Month == 6).FirstOrDefault().HYGEINE_PRODUCTION</td>
                        <td>@Model.Where(x => x.Month == 7).FirstOrDefault().HYGEINE_PRODUCTION</td>
                        <td>@Model.Where(x => x.Month == 8).FirstOrDefault().HYGEINE_PRODUCTION</td>
                        <td>@Model.Where(x => x.Month == 9).FirstOrDefault().HYGEINE_PRODUCTION</td>
                        <td>@Model.Where(x => x.Month == 10).FirstOrDefault().HYGEINE_PRODUCTION</td>
                        <td>@Model.Where(x => x.Month == 11).FirstOrDefault().HYGEINE_PRODUCTION</td>
                        <td>@Model.Where(x => x.Month == 12).FirstOrDefault().HYGEINE_PRODUCTION</td>
                        @*<td>@Model.Average(x => x.HYGEINE_PRODUCTION)</td>*@
                        <td>@Math.Round(Model.Average(x => x.HYGEINE_PRODUCTION)) </td>
                    </tr>
                    <tr>
                        <td>Restorative Production</td>
                        <td>@Model.Where(x => x.Month == 1).FirstOrDefault().RESTORATIVE_PRODUCTION</td>
                        <td>@Model.Where(x => x.Month == 2).FirstOrDefault().RESTORATIVE_PRODUCTION</td>
                        <td>@Model.Where(x => x.Month == 3).FirstOrDefault().RESTORATIVE_PRODUCTION</td>
                        <td>@Model.Where(x => x.Month == 4).FirstOrDefault().RESTORATIVE_PRODUCTION</td>
                        <td>@Model.Where(x => x.Month == 5).FirstOrDefault().RESTORATIVE_PRODUCTION</td>
                        <td>@Model.Where(x => x.Month == 6).FirstOrDefault().RESTORATIVE_PRODUCTION</td>
                        <td>@Model.Where(x => x.Month == 7).FirstOrDefault().RESTORATIVE_PRODUCTION</td>
                        <td>@Model.Where(x => x.Month == 8).FirstOrDefault().RESTORATIVE_PRODUCTION</td>
                        <td>@Model.Where(x => x.Month == 9).FirstOrDefault().RESTORATIVE_PRODUCTION</td>
                        <td>@Model.Where(x => x.Month == 10).FirstOrDefault().RESTORATIVE_PRODUCTION</td>
                        <td>@Model.Where(x => x.Month == 11).FirstOrDefault().RESTORATIVE_PRODUCTION</td>
                        <td>@Model.Where(x => x.Month == 12).FirstOrDefault().RESTORATIVE_PRODUCTION</td>
                        @*<td>@Model.Average(x => x.RESTORATIVE_PRODUCTION)</td>*@
                        <td>@Math.Round(Model.Average(x => x.RESTORATIVE_PRODUCTION)) </td>
                    </tr>

                </tbody>
            }
        }
    </table>
</div>