﻿@model BO.Models.Compose1Click

@{
    ViewBag.Title = "GetPatientReferralForm";
    Layout = "~/Views/Shared/_OneClickReferral.cshtml";
    bool result = false;
    if (ViewBag.alert != null && Convert.ToBoolean(ViewBag.alert) == true)
    {
        result = true;        
    }
}
@section styles  {
    <link href="~/Content/css/Main/css/all.css" rel="stylesheet" />
    <link href="~/Content/css/Main/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datepicker/Css/bootstrap-datepicker3.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">*@
}
<main id="main">
    <div class="page_haading_holder">
        <div class="container navigation_container">
            <div class="row navigation_row">
                <div class="col-xs-12">
                    <div class="page_heading">
                        <h1>Patient Form</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container contact_container">
        <div class="row tabs_row single-form">
            <div class="tab-content">
                @if (Model != null)
                {
                    <form id="frmPatientSignup" action="/PatientForm/SubmitPatientDetail" method="post">
                        @Html.AntiForgeryToken()
                        <div class="info-holder">
                            @if (ViewBag.alert != null && ViewBag.alert == true)
                            {
                                <div class="alert alert-success" id="successmsg" style="display:flex !important">
                                    @Html.Label("Form Submitted Successfully")
                                </div>
                            }
                            @if (ViewBag.alert != null && ViewBag.alert == false)
                            {
                                <div class="alert alert-danger" id="errormsg">
                                </div>
                            }
                            <br />
                            <h3 style="margin: 1px 0 30px !important;">Personal Info</h3>

                            @Html.HiddenFor(model => model.ReceiverId, new { @Id = "hdnuserId", @name = "hdnuserId" })
                            @Html.HiddenFor(model => model.SenderId, new { @Id = "hdnsenderId", @name = "hdnsenderId" })
                            @Html.HiddenFor(model => model._patientInfo.PatientId, new { @id = "hiddenPatientId" })
                            @Html.HiddenFor(model => model.IsReferral)
                            <div class="personal_info_box">
                                @if (Model._innerService.lstPatient != null && Model._innerService.lstPatient.Count > 0)
                                {
                                    foreach (var item in Model._innerService.lstPatient.Where(m => m.SpecialityId == 1))
                                    {
                                        if (item.IsEnable)
                                        {
                                            @getAddPersonalInfo(item.MapFieldName);
                                        }
                                    }

                                }
                            </div>
                        </div>
                        <div class="info-holder" id="DivContactInfo">
                            <h3>Contact Info</h3>
                            <div class="form_box">
                                @if (Model._innerService.lstPatient != null && Model._innerService.lstPatient.Count > 0)
                                {
                                    foreach (var item in Model._innerService.lstPatient.Where(m => m.SpecialityId == 1))
                                    {
                                        if (item.IsEnable)
                                        {
                                            @getAddContactInfo(item.MapFieldName);
                                        }
                                    }

                                }
                            </div>
                        </div>
                        @*@if (cnt_t == 0 && cnt_A == 0)
                            {
                                <script type="text/javascript">
                                    $("#DivContactInfo").hide();
                                </script>
                            }*@
                        @if (Model._specialtyService.ICIsEnable == true)
                        {
                            <div class="info-holder" id="InsuranceCoverageDiv">
                                <h3>Dental Insurance</h3>
                                <div class="form_box">
                                    @if (Model._innerService.lstPatient != null && Model._innerService.lstPatient.Count > 0)
                                    {
                                        foreach (var item in Model._innerService.lstPatient.Where(m => m.SpecialityId == 2))
                                        {
                                            if (item.IsEnable)
                                            {
                                                @getDentalInsurance(item.MapFieldName);
                                            }
                                        }

                                    }
                                </div>
                                @*@if (count == 0)
                                    {
                                        <script type="text/javascript">
                                            $("#InsuranceCoverageDiv").hide();
                                        </script>
                                    }*@
                            </div>
                            <div class="info-holder" id="SecondaryInfoDiv">

                                <h3>Secondary Insurance</h3>
                                <div class="form_box">
                                    @if (Model._innerService.lstPatient != null && Model._innerService.lstPatient.Count > 0)
                                    {
                                        foreach (var item in Model._innerService.lstPatient.Where(m => m.SpecialityId == 2))
                                        {
                                            if (item.IsEnable)
                                            {
                                                @getSecondaryDentalInsurance(item.MapFieldName);
                                            }
                                        }

                                    }
                                </div>
                                @*@if (cnt == 0)
                                    {
                                        <script type="text/javascript">
                                            $("#SecondaryInfoDiv").hide();
                                        </script>
                                    }*@
                            </div>
                        }

                        @if (Model._specialtyService.MHIsEnable == true)
                        {
                            <div class="referred-by clearfix" id="MedicalHistoryDivId">
                                <div class="row">
                                    <h3>Medical History</h3>
                                    <div id="PatientInfoDiv" class="itemDiv" data-id="1">
                                        <div class="">
                                            <div name="medical"></div>
                                            <div class="referred-form-sec row">
                                                <div class="col-sm-12">
                                                    <div class="form-check" id="SpecialityId">
                                                        @if (Model != null && Model._innerService.lstPatient != null)
                                                        {
                                                                     <!-- For Field Display Query -->
                                                            var QueryResult = Model._innerService.lstPatient.Where(m => m.SpecialityId == 3 && (m.ParentFieldId == 0 || m.ParentFieldId == null));
                                                            if (QueryResult != null)
                                                            {
                                                                foreach (var Obj in QueryResult)
                                                                {
                                                                    var SubQueryResult = Model._innerService.lstPatient.Where(m => m.SpecialityId == 3 && m.ParentFieldId == Obj.Id);

                                                                    if (Obj.IsEnable)
                                                                    {
                                                                        @getMedicalHistoryFields(Obj.MapFieldName);
                                                                        if (SubQueryResult.Any())
                                                                        {
                                                                            <div class="allergic panel_box">
                                                                                <div class="form-group">
                                                                                    @foreach (var SubObj in SubQueryResult.OrderBy(m => m.SortOrder))
                                                                                    {
                                                                                        if (SubObj.IsEnable)
                                                                                        {
                                                                                            @getMedicalHistorySubFields(SubObj.MapFieldName);
                                                                                        }
                                                                                    }
                                                                                </div>
                                                                            </div>
                                                                        }
                                                                    }
                                                                }

                                                            }
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @*if (count == 0)
                                {
                                    <script type="text/javascript">
                                        $("#MedicalHistoryDivId").hide();
                                    </script>
                                }*@
                        }
                        @if (Model._specialtyService.DHIsEnable == true)
                        {
                            <div class="referred-by clearfix" id="DetailId">
                                <div class="row" id="DentalHistorydiv">
                                    <h3>Dental History</h3>
                                    <div id="PatientInfoDiv" class="itemDiv" data-id="1">
                                        <div class="">
                                            <div class="referred-form-sec row">
                                                @if (Model != null && Model._innerService != null && Model._innerService.lstPatient != null)
                                                {
                                                                     <!-- For Field Display Query -->
                                                    var QueryResult = Model._innerService.lstPatient.Where(m => m.SpecialityId == 4 && (m.ParentFieldId == 0 || m.ParentFieldId == null));
                                                    if (QueryResult != null)
                                                    {
                                                        foreach (var Obj in QueryResult)
                                                        {
                                                            var SubQueryResult = Model._innerService.lstPatient.Where(m => m.SpecialityId == 4 && m.ParentFieldId == Obj.Id && m.IsEnable);
                                                            if (Obj.IsEnable)
                                                            {
                                                                if (SubQueryResult.Any())
                                                                {
                                                                    @getDentalHistoryFields(Obj.MapFieldName, SubQueryResult.OrderBy(m => m.SortOrder).ToList(), true);
                                                                }
                                                                else
                                                                {
                                                                    @getDentalHistoryFields(Obj.MapFieldName, null, false);
                                                                }
                                                            }
                                                        }

                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @*if (count == 0)
                                {
                                    <script type="text/javascript">
                                        $("#DentalHistorydiv").hide();
                                    </script>
                                }*@
                        }
                        <div class="info-holder">
                            <h3>Notice of Privacy</h3>
                            <p>
                                This notice describes how health information about you may be used and disclosed and how you can get access to this information.
                                View and review carefully. The privacy of your health information is important to us.
                            </p>
                            <a href="@Session["CompanyWebsite"]/Faq/PrivacyPolicy">Click here to view Privacy Policy</a>
                            <!--<div class="next_button">
                                <a href="#">Next</a>
                            </div>-->
                        </div>
                        <div class="info-holder">
                            <div class="form-footer">
                                <div class="capthcha_img">
                                    @*<div class="g-recaptcha" data-sitekey="6Lcm9hoTAAAAAIrjXd206zW5QmEyS6nVmJvpu0Jx" style="transform-origin:0 0;-webkit-transform-origin:0 0; float: left; margin-right:10px" data-theme="light"></div>*@
                                </div>
                                <div class="submit_button_box dental_submit" id="ButtonDivId">
                                    <input type="button" value="Submit" class="submit_button" id="btnSubmit" onclick="savedetails()" />  @*onclick="savedetails()" function savedetails() {*@
                                </div>
                            </div>
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
</main>
@section scripts {
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="~/Scripts/ControllerJS/PublicProfile/PatientSignUp.js"></script>
    <script src="~/Scripts/Mask/Mask.js"></script>
}
<script src="~/Content/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        debugger;
        var result = '@result';
        var linkHomePage = '@System.Configuration.ConfigurationManager.AppSettings["websiteurl"]';
        if (result==="True") {
            setTimeout(function () { window.location.href = linkHomePage }, 3000);
        }

        if ($('#DivContactInfo').find(':checkbox').length > 0 || $('#DivContactInfo').find(':text').length > 0) { $("#DivContactInfo").show(); } else { $("#DivContactInfo").hide(); }
        if ($('#InsuranceCoverageDiv').find(':checkbox').length > 0 || $('#InsuranceCoverageDiv').find(':text').length > 0) { $("#InsuranceCoverageDiv").show(); } else { $("#InsuranceCoverageDiv").hide(); }
        if ($('#SecondaryInfoDiv').find(':checkbox').length > 0 || $('#SecondaryInfoDiv').find(':text').length > 0) { $("#SecondaryInfoDiv").show(); } else { $("#SecondaryInfoDiv").hide(); }
        if ($('#DentalHistorydiv').find(':checkbox').length > 0 || $('#DentalHistorydiv').find(':text').length > 0) { $("#DentalHistorydiv").show(); } else { $("#DentalHistorydiv").hide(); }
        if ($('#MedicalHistoryDivId').find(':checkbox').length > 0 || $('#MedicalHistoryDivId').find(':text').length > 0) { $("#MedicalHistoryDivId").show(); } else { $("#MedicalHistoryDivId").hide(); }



        $(".MHistory input[type='checkbox']").each(function () {
            if ($(this).is(':checked')) {
                $("#div_" + $(this).attr("id")).toggle();
            }
        });

        $('input[type="checkbox"]').click(function () {
            $("#div_" + $(this).attr("id")).toggle();
        });

        $('input[type="checkbox"]').each(function () {
            if ($(this).is(':checked')) {
                $("#div_" + $(this).attr("id")).toggle();
            }
        });

        $(".form-check input[type=hidden]").insertBefore($("#ButtonDivId"));
        $("#txtemergency").mask("(999) 999-9999");
        $("#PrimaryInsurancePhone").mask("(999) 999-9999");
        $("#SecondaryInsurancePhone").mask("(999) 999-9999");
        //XQ1-36
        $("#EmergencyPhone").mask("(999) 999-9999");
        $("#SecondaryPhone").mask("(999) 999-9999");

        setTimeout(function () {
            $("#successmsg").hide();
        }, 7000);
    });

    //$('#frmPatientSignup').submit(function (evt) {
    //    var $form = $(this);
    //    if ($("#frmPatientSignup").valid()) {
    function savedetails() {
        var obj = {

            'txtFirstName': $("#first_name").val(),
            'txtLastName': $("#last_name").val(),
            'txtEmail': $("#email_address").val(),
            'txtWorkPhone': $("#phone_number").val(),
            //'PromoCode': $("#PromoCode").val(),
            //'PublicProfileUserId': $("#PublicProfileUserId").val(),
            //'OfferID': $("#OfferID").val(),
            //'PublicProfileUserName': $("#PublicProfileUserName").val(),

            'Mtxtphysicians': ($('#MrdQue1').is(':checked') ? 'Y' : 'N'),
            'Mtxthospitalized': ($('#MrdQue2').is(':checked') ? 'Y' : 'N'),
            'Mtxtserious': ($('#MrdQue3').is(':checked') ? 'Y' : 'N'),
            'Mtxtmedications': ($('#MrdQue4').is(':checked') ? 'Y' : 'N'),
            'MtxtRedux': ($('#MrdQue5').is(':checked') ? 'Y' : 'N'),
            'MtxtFosamax': ($('#MrdQue6').is(':checked') ? 'Y' : 'N'),
            'Mtxt7': ($('#MrdQuediet7').is(':checked') ? 'Y' : 'N'),
            'Mtxt8': ($('#Mrdotobacco8').is(':checked') ? 'Y' : 'N'),
            'Mtxt9': ($('#Mrdosubstances').is(':checked') ? 'Y' : 'N'),
            'Mtxt10': ($('#Mrdopregnant').is(':checked') ? 'Y' : 'N'),
            'Mtxt11': ($('#Mrdocontraceptives').is(':checked') ? 'Y' : 'N'),
            'Mtxt12': ($('#MrdoNursing').is(':checked') ? 'Y' : 'N'),
            'Mtxt13': ($('#Mtxt13').is(':checked') ? 'Y' : 'N'),
            'QueFollowing14': 'Y',
            'MchkQue_1': ($('#MchkQue_1').is(':checked') ? 'Y' : 'N'),
            'MchkQue_2': ($('#MchkQue_2').is(':checked') ? 'Y' : 'N'),
            'MchkQue_3': ($('#MchkQue_3').is(':checked') ? 'Y' : 'N'),
            'MchkQue_4': ($('#MchkQue_4').is(':checked') ? 'Y' : 'N'),
            'MchkQue_5': ($('#MchkQue_5').is(':checked') ? 'Y' : 'N'),
            'MchkQue_6': ($('#MchkQue_6').is(':checked') ? 'Y' : 'N'),
            'MchkQue_7': ($('#MchkQue_7').is(':checked') ? 'Y' : 'N'),
            'MchkQue_8': ($('#MchkQue_8').is(':checked') ? 'Y' : 'N'),
            'QueFollowing15': 'Y',
            'MrdQueAbnormal': ($('#MrdQueAbnormal').is(':checked') ? 'Y' : 'N'),
            'MrdQueAIDS_HIV_Positive': ($('#MrdQueAIDS_HIV_Positive').is(':checked') ? 'Y' : 'N'),
            'MrdQueAlzheimer': ($('#MrdQueAlzheimer').is(':checked') ? 'Y' : 'N'),
            'MrdQueAnemia': ($('#MrdQueAnemia').is(':checked') ? 'Y' : 'N'),
            'MrdQueAngina': ($('#MrdQueAngina').is(':checked') ? 'Y' : 'N'),
            'MrdQueThinners': ($("#MrdQueThinners").is(':checked') ? 'Y' : 'N'),
            'MrdQueArthritis_Gout': ($("#MrdQueArthritis_Gout").is(':checked') ? 'Y' : 'N'),
            'MrdQueArtificialHeartValve': ($('#MrdQueArtificialHeartValve').is(':checked') ? 'Y' : 'N'),
            'MrdQueArtificialJoint': ($('#MrdQueArtificialJoint').is(':checked') ? 'Y' : 'N'),
            'MrdQueAsthma': ($('#MrdQueAsthma').is(':checked') ? 'Y' : 'N'),
            'MrdQueFibrillation': ($("#MrdQueFibrillation").is(':checked') ? 'Y' : 'N'),
            'MrdQueBloodDisease': ($('#MrdQueBloodDisease').is(':checked') ? 'Y' : 'N'),
            'MrdQueBloodTransfusion': ($('#MrdQueBloodTransfusion').is(':checked') ? 'Y' : 'N'),
            'MrdQueBreathing': ($('#MrdQueBreathing').is(':checked') ? 'Y' : 'N'),
            'MrdQueBruise': ($('#MrdQueBruise').is(':checked') ? 'Y' : 'N'),
            'MrdQueCancer': ($('#MrdQueCancer').is(':checked') ? 'Y' : 'N'),
            //'MrdQueChemicalDependancy': ($('#MrdQueChemicalDependancy').is(':checked') ? 'Y' : 'N'),
            'MrdQueChemotherapy': ($('#MrdQueChemotherapy').is(':checked') ? 'Y' : 'N'),
            'MrdQueChest': ($('#MrdQueChest').is(':checked') ? 'Y' : 'N'),
            'MrdQueCigarette': ($('#MrdQueCigarette').is(':checked') ? 'Y' : 'N'),
            'MrdQueCirulation': ($('#MrdQueCirulation').is(':checked') ? 'Y' : 'N'),
            // 'MrdQueCold_Sores_Fever': ($('#MrdQueCold_Sores_Fever').is(':checked') ? 'Y' : 'N'),
            // 'MrdQueCongenital': ($('#MrdQueCongenital').is(':checked') ? 'Y' : 'N'),
            'MrdQueCortisone': ($('#MrdQueCortisone').is(':checked') ? 'Y' : 'N'),
            'MrdQueFrequentCough': ($('#MrdQueFrequentCough').is(':checked') ? 'Y' : 'N'),
            'MrdQueConvulsions': ($('#MrdQueConvulsions').is(':checked') ? 'Y' : 'N'),
            'MrdQuefillers': ($('#MrdQuefillers').is(':checked') ? 'Y' : 'N'),
            'MrdQueDiabetes': ($('#MrdQueDiabetes').is(':checked') ? 'Y' : 'N'),
            'MrdQuePersistent': ($('#MrdQuePersistent').is(':checked') ? 'Y' : 'N'),
            // 'MrdQueDiabetes': ($('#MrdQueDiabetes').is(':checked') ? 'Y' : 'N'),
            'MrdQueDiarrhhea': ($('#MrdQueDiarrhhea').is(':checked') ? 'Y' : 'N'),
            'MrdQueDigestive': ($('#MrdQueDigestive').is(':checked') ? 'Y' : 'N'),
            'MrdQueDizziness': ($('#MrdQueDizziness').is(':checked') ? 'Y' : 'N'),
            'MrdQueAlcoholic': ($('#MrdQueAlcoholic').is(':checked') ? 'Y' : 'N'),
            'MrdQueSubstances': ($('#MrdQueSubstances').is(':checked') ? 'Y' : 'N'),
            // 'MrdQueDrug': ($('#MrdQueDrug').is(':checked') ? 'Y' : 'N'),
            // 'MrdQueEasily': ($('#MrdQueEasily').is(':checked') ? 'Y' : 'N'),
            'MrdQueEmphysema': ($('#MrdQueEmphysema').is(':checked') ? 'Y' : 'N'),
            'MrdQueEpilepsy': ($('#MrdQueEpilepsy').is(':checked') ? 'Y' : 'N'),
            // 'MrdQueExcessiveBleeding': ($('#MrdQueExcessiveBleeding').is(':checked') ? 'Y' : 'N'),
            'MrdQueExcessiveUrination': ($('#MrdQueExcessiveUrination').is(':checked') ? 'Y' : 'N'),
            'MrdQueExcessiveThirst': ($('#MrdQueExcessiveThirst').is(':checked') ? 'Y' : 'N'),
            // 'MrdQueFainting': ($('#MrdQueFainting').is(':checked') ? 'Y' : 'N'),
            //
            // 'MrdQueFrequentDiarrhea': ($('#MrdQueFrequentDiarrhea').is(':checked') ? 'Y' : 'N'),
            // 'MrdQueFrequentHeadaches': ($('#MrdQueFrequentHeadaches').is(':checked') ? 'Y' : 'N'),
            // 'MrdQueGenital': ($('#MrdQueGenital').is(':checked') ? 'Y' : 'N'),
            'MrdQueGlaucoma': ($('#MrdQueGlaucoma').is(':checked') ? 'Y' : 'N'),
            'MrdQueHeadaches': ($('#MrdQueHeadaches').is(':checked') ? 'Y' : 'N'),
            'MrdQueAttack': ($('#MrdQueAttack').is(':checked') ? 'Y' : 'N'),
            // 'MrdQueHay': ($('#MrdQueHay').is(':checked') ? 'Y' : 'N'),
            // 'MrdQueHeartAttack_Failure': ($('#MrdQueHeartAttack_Failure').is(':checked') ? 'Y' : 'N'),
            // 'MrdQueHeartMurmur': ($('#MrdQueHeartMurmur').is(':checked') ? 'Y' : 'N'),
            'MrdQueHeartPacemaker': ($('#MrdQueHeartPacemaker').is(':checked') ? 'Y' : 'N'),
            // 'MrdQueHeartTrouble_Disease': ($('#MrdQueHeartTrouble_Disease').is(':checked') ? 'Y' : 'N'),
            'MrdQueHemophilia': ($('#MrdQueHemophilia').is(':checked') ? 'Y' : 'N'),
            'MrdQueHeart_defect': ($('#MrdQueHeart_defect').is(':checked') ? 'Y' : 'N'),
            'MrdQueHeart_murmur': ($('#MrdQueHeart_murmur').is(':checked') ? 'Y' : 'N'),
            'MrdQueHepatitisA': ($('#MrdQueHepatitisA').is(':checked') ? 'Y' : 'N'),
            // 'MrdQueHepatitisBorC': ($('#MrdQueHepatitisBorC').is(':checked') ? 'Y' : 'N'),
            'MrdQueHerpes': ($('#MrdQueHerpes').is(':checked') ? 'Y' : 'N'),
            'MrdQueHiatal': ($('#MrdQueHiatal').is(':checked') ? 'Y' : 'N'),
            'MrdQueBlood_pressure': ($('#MrdQueBlood_pressure').is(':checked') ? 'Y' : 'N'),
            'MrdQueAIDS': ($('#MrdQueAIDS').is(':checked') ? 'Y' : 'N'),
            'MrdQueHow_much': ($('#MrdQueHow_much').is(':checked') ? 'Y' : 'N'),
            'MrdQueHow_often': ($('#MrdQueHow_often').is(':checked') ? 'Y' : 'N'),
            // 'MrdQueHighBloodPressure': ($('#MrdQueHighBloodPressure').is(':checked') ? 'Y' : 'N'),
            // 'MrdQueHighCholesterol': ($('#MrdQueHighCholesterol').is(':checked') ? 'Y' : 'N'),
            // 'MrdQueHives': ($('#MrdQueHives').is(':checked') ? 'Y' : 'N'),
            'MrdQueHypoglycemia': ($('#MrdQueHypoglycemia').is(':checked') ? 'Y' : 'N'),
            'MrdQueReplacement': ($('#MrdQueReplacement').is(':checked') ? 'Y' : 'N'),
            // 'MrdQueIrregular': ($('#MrdQueIrregular').is(':checked') ? 'Y' : 'N'),
            'MrdQueKidney': ($('#MrdQueKidney').is(':checked') ? 'Y' : 'N'),
            'MrdQueLeukemia': ($('#MrdQueLeukemia').is(':checked') ? 'Y' : 'N'),
            'MrdQueLiver': ($('#MrdQueLiver').is(':checked') ? 'Y' : 'N'),
            // 'MrdQueLow': ($('#MrdQueLow').is(':checked') ? 'Y' : 'N'),
            'MrdQueLung': ($('#MrdQueLung').is(':checked') ? 'Y' : 'N'),
            'MrdQueMitral': ($('#MrdQueMitral').is(':checked') ? 'Y' : 'N'),
            'MrdQueNeck_BackProblem': ($('#MrdQueNeck_BackProblem').is(':checked') ? 'Y' : 'N'),
            'MrdQueOsteoporosis': ($('#MrdQueOsteoporosis').is(':checked') ? 'Y' : 'N'),
            'MrdQuePacemaker': ($('#MrdQuePacemaker').is(':checked') ? 'Y' : 'N'),
            'MrdQuePainJaw_Joints': ($('#MrdQuePainJaw_Joints').is(':checked') ? 'Y' : 'N'),
            'MrdQueEndocarditis': ($('#MrdQueEndocarditis').is(':checked') ? 'Y' : 'N'),

            // 'MrdQueParathyroid': ($('#MrdQueParathyroid').is(':checked') ? 'Y' : 'N'),
            'MrdQuePsychiatric': ($('#MrdQuePsychiatric').is(':checked') ? 'Y' : 'N'),
            'MrdQueRadiation': ($('#MrdQueRadiation').is(':checked') ? 'Y' : 'N'),
            // 'MrdQueRecent': ($('#MrdQueRecent').is(':checked') ? 'Y' : 'N'),
            // 'MrdQueRenal': ($('#MrdQueRenal').is(':checked') ? 'Y' : 'N'),
            'MrdQueRheumatic': ($('#MrdQueRheumatic').is(':checked') ? 'Y' : 'N'),
            // 'MrdQueRheumatism': ($('#MrdQueRheumatism').is(':checked') ? 'Y' : 'N'),
            'MrdQueScarlet': ($('#MrdQueScarlet').is(':checked') ? 'Y' : 'N'),
            'MrdQueShingles': ($('#MrdQueShingles').is(':checked') ? 'Y' : 'N'),
            'MrdQueShortness': ($('#MrdQueShortness').is(':checked') ? 'Y' : 'N'),
            // 'MrdQueSickle': ($('#MrdQueSickle').is(':checked') ? 'Y' : 'N'),
            'MrdQueSinus': ($('#MrdQueSinus').is(':checked') ? 'Y' : 'N'),
            // 'MrdQueSpina': ($('#MrdQueSpina').is(':checked') ? 'Y' : 'N'),
            'MrdQueStomach': ($('#MrdQueStomach').is(':checked') ? 'Y' : 'N'),
            'MrdQueStroke': ($('#MrdQueStroke').is(':checked') ? 'Y' : 'N'),
            'MrdQueSjorgren': ($('#MrdQueSjorgren').is(':checked') ? 'Y' : 'N'),
            'MrdQueSwelling': ($('#MrdQueSwelling').is(':checked') ? 'Y' : 'N'),
            'MrdQueSwollen': ($('#MrdQueSwollen').is(':checked') ? 'Y' : 'N'),
            'MrdQueThyroid': ($('#MrdQueThyroid').is(':checked') ? 'Y' : 'N'),
            // 'MrdQueTonsillitis': ($('#MrdQueTonsillitis').is(':checked') ? 'Y' : 'N'),
            'MrdQueTuberculosis': ($('#MrdQueTuberculosis').is(':checked') ? 'Y' : 'N'),
            'MrdQueTumors': ($('#MrdQueTumors').is(':checked') ? 'Y' : 'N'),
            'MrdQueValve': ($('#MrdQueValve').is(':checked') ? 'Y' : 'N'),
            'MrdQueVision': ($('#MrdQueVision').is(':checked') ? 'Y' : 'N'),
            'MrdQueUnexplained': ($('#MrdQueUnexplained').is(':checked') ? 'Y' : 'N'),
            // 'MrdQueUlcers': ($('#MrdQueUlcers').is(':checked') ? 'Y' : 'N'),
            // 'MrdQueVenereal': ($('#MrdQueVenereal').is(':checked') ? 'Y' : 'N'),
            // 'MrdQueYellow': ($('#MrdQueYellow').is(':checked') ? 'Y' : 'N'),
            'Mtxtillness': $('#Mtxtillness').val(),
            'MtxtComments': $('#MtxtComments').val(),

            'txtQue5': $('#txtQue5').val(),
            'txtQue6': $('#txtQue6').val(),
            'MrdQue7': ($('#MrdQue7').is(':checked') ? 'Y' : 'N'),
            'txtQue12': $('#txtQue12').val(),
            'DhQue5': ($('#DhQue5').is(':checked') ? 'Y' : 'N'),
            'MchkFixed': ($('#MchkFixed').is(':checked') ? 'Y' : 'N'),
            'MchkRemoveable': ($('#MchkRemoveable').is(':checked') ? 'Y' : 'N'),
            'MchkDenture': ($('#MchkDenture').is(':checked') ? 'Y' : 'N'),
            'MchkImplant': ($('#MchkImplant').is(':checked') ? 'Y' : 'N'),
            'rdQue15': ($('#rdQue15').is(':checked') ? 'Y' : 'N'),
            'rdQue16': ($('#rdQue16').is(':checked') ? 'Y' : 'N'),
            'rdQue17': ($('#rdQue17').is(':checked') ? 'Y' : 'N'),
            'rdQue18': ($('#rdQue18').is(':checked') ? 'Y' : 'N'),
            'rdQue19': ($('#rdQue19').is(':checked') ? 'Y' : 'N'),
            'rdQue21': ($('#rdQue21').is(':checked') ? 'Y' : 'N'),
            'MchkHot': ($('#MchkHot').is(':checked') ? 'Y' : 'N'),
            'MchkCold': ($('#MchkCold').is(':checked') ? 'Y' : 'N'),
            'MchkSweets': ($('#MchkSweets').is(':checked') ? 'Y' : 'N'),
            'MchkPressure': ($('#MchkPressure').is(':checked') ? 'Y' : 'N'),
            'txtQue22': ($('#txtQue22').is(':checked') ? 'Y' : 'N'),
            'txtQue23': $('#txtQue23').val(),
            'txtQue24': $('#txtQue24').val(),
            'rdQue24': ($('#rdQue24').is(':checked') ? 'Y' : 'N'),
            'txtQue29': $('#txtQue29').val(),
            'txtQue29a': $('#txtQue29a').val(),
            'txtQue26': $('#txtQue26').val(),
            'txtComments': $("#txtComments").val(),

            //'ResponsibleFirstName': $("#txtResponsiblepartyFname").val(),
            //'ResponsibleLastName': $("#txtResponsiblepartyLname").val(),
            //'ResponsibleRelationship': $("#txtResponsibleRelationship").val(),
            //'ResponsibleAddress': $("#txtResponsibleAddress").val(),
            //'ResponsibleCity': $("#txtResponsibleCity").val(),
            //'ResponsibleState': $("#txtResponsibleState").val(),
            //'ResponsibleZipcode': null,
            //'ResponsiblePhoneNumber': $("#txtResponsibleContact").val(),
            'txtEmployeeName1': $("#txtEmployeeName1").val(),
            'txtInsurancePhone1': $("#txtInsurancePhone1").val(),
            'txtEmployerName1': $("#txtEmployerName1").val(),
            'txtEmployeeDob1': $("#txtEmployeeDob1").val(),
            'txtNameofInsurance1': $("#txtNameofInsurance1").val(),
            'txtInsuranceTelephone1': $("#txtInsuranceTelephone1").val(),
            'txtEmployeeName2': $("#txtEmployeeName2").val(),
            'txtInsurancePhone2': $("#txtInsurancePhone2").val(),
            'txtEmployerName2': $("#txtEmployerName2").val(),
            'txtYearsEmployed2': $("#txtYearsEmployed2").val(),
            'txtNameofInsurance2': $("#txtNameofInsurance2").val(),
            'txtInsuranceTelephone2': $("#txtInsuranceTelephone2").val(),

            'txtResidenceStreet': $("#txtAddress").val(),
            'txtCity': $("#txtCity").val(),
            'txtState': $("#txtState").val(),
            'txtZip': $("#txtZip").val(),
            'txtDob': $("#txtDob").val(),
            'txtGender': $("#txtGender").val() == "1",
            //'SecondaryPhoneNo': $('#SecondaryPhone').val(),
            //'txtemergencyname': $("#txtemergencyname").val(),
            //'txtemergency': $("#txtemergency").val()

        }


        //$.ajax({
        //    url: "/AccountSettings/SubmitPatientDetail",
        //    type: "POST",
        //    data: { mdlpatientsignup: obj },
        //    success: function (data) {
        //        alert("Success");
        //    },
        //    error: function () {
        //        alert("Error");
        //    }
        //});
        $("#frmPatientSignup").submit();
    }
    //else
    //{
    //    alert('error')
    //}
    //});
    //_contactInfo.BOD
    //
    $('input[name="_contactInfo.BOD"] ,input[name="_insuranceCoverage.PrimaryDateOfBirth"],input[name="_insuranceCoverage.SecondaryDateOfBirth"],input[name="_dentalhistory.Dateoflastvisit"] ,input[name="_dentalhistory.firstvistdate"],input[name="_dentalhistory.Dateofnextvisit"]').datepicker({
        format: 'mm/dd/yyyy',
        todayHighlight: true,
        autoclose: true,
        todayBtn: "linked",
        endDate: '+0d',
        "singleDatePicker": true,
        "showDropdowns": true,
        "autoApply": true
    });

</script>


@helper getAddPersonalInfo(string objKey)
{
switch (objKey)
{

    case "txtFirstName":
            <div class="form-group col-sm-6 zip_city city">
                <label for="text">First Name<font color="red">*</font></label>
                @Html.TextBoxFor(t => t._patientInfo.FirstName, new { @class = "form-control alphaonly", @id = "first_name", @placeholder = "First Name", @tabindex = "1" })
                @Html.ValidationMessageFor(m => m._patientInfo.FirstName)
            </div>
        break;
    case "txtLastName":
            <div class="form-group col-sm-6 zip_city city">
                <label for="Zip">Last Name</label>
                @Html.TextBoxFor(t => t._patientInfo.LastName, new { @class = "form-control alphaonly", @id = "last_name", @placeholder = "Last Name", @tabindex = "2" })
                @Html.ValidationMessageFor(m => m._patientInfo.LastName)
            </div>
        break;
    case "txtEmail":
            <div class="form-group col-sm-6 zip_city city">
                <label for="text">Email Address</label>
                @Html.TextBoxFor(t => t._patientInfo.Email, new { @class = "form-control", @id = "email_address", @placeholder = "Email Address", @tabindex = "3" })
                @Html.ValidationMessageFor(m => m._patientInfo.Email)
            </div>
        break;
    case "txtResidenceTelephone":
            <div class="form-group col-sm-6 zip_city city">
                <label for="text">Phone Number<font color="red">*</font></label>
                @Html.TextBoxFor(t => t._patientInfo.Phone, new { @class = "form-control numericOnly", @id = "txtemergency", @placeholder = "Phone", @tabindex = "4" })
                @Html.ValidationMessageFor(m => m._patientInfo.Phone)
            </div>
        break;
    default:
        break;
}
}



@helper getAddContactInfo(string objKey)
{
switch (objKey)
{

    case "txtDob":
            <div class="form-group col-sm-6 zip_city">
                @Html.LabelFor(l => l._contactInfo.BOD, new { @for = "text" })
                @Html.TextBoxFor(model => model._contactInfo.BOD, new { @class = "form-control", @placeholder = "DD/MM/YYYY", @style = "height: 50px;", @tabindex = "5" })
            </div>
        break;
    case "txtGender":
            <div class="form-group col-sm-6 zip_city zip select_box">
                <label for="text">Gender<font color="red">*</font></label>
                @Html.DropDownListFor(l => l._contactInfo.Gender, new List<SelectListItem> { new SelectListItem { Text = "Male", Value = "0" }, new SelectListItem { Text = "Female", Value = "1" } }, "Select Gender", new { @class = "select_item", @tabindex = "10", @id = "txtGender" })
                @Html.ValidationMessageFor(l => l._contactInfo.Gender)
            </div>
        break;
    case "txtResidenceStreet":
            <div class="form-group col-sm-12 address">
                @Html.LabelFor(l => l._contactInfo.Address, new { @for = "text" })
                @Html.TextBoxFor(t => t._contactInfo.Address, new { @class = "form-control", @placeholder = "Address", @tabindex = "6", @id = "txtAddress" })
            </div>
        break;
    case "txtCity":
            <div class="form-group col-sm-6 zip_city city">
                @Html.LabelFor(l => l._contactInfo.City, new { @for = "text" })
                @Html.TextBoxFor(t => t._contactInfo.City, new { @class = "form-control alphaonly", @placeholder = "City", @tabindex = "7", @id = "txtCity" })
            </div>
        break;
    case "txtState":
            <div class="form-group col-sm-6 zip_city zip select_box">
                @Html.LabelFor(l => l._contactInfo.State, new { @for = "text" })
                @Html.DropDownListFor(d => d._contactInfo.State, new SelectList(Model.StateList, "StateCode", "StateName"), "Select State", new { @class = "select_item", @id = "txtState" })
                @Html.ValidationMessageFor(d => d._contactInfo.State)
            </div>
        break;
    case "txtZip":
            <div class="form-group col-sm-6 zip_city zip">
                <label>Zip Code</label>
                @Html.TextBoxFor(t => t._contactInfo.ZipCode, new { @class = "form-control numericOnly", @placeholder = "Zip Code/postal code", @maxlength = "5", @tabindex = "8", @id = "txtZip" })
                @Html.ValidationMessageFor(m => m._contactInfo.ZipCode)
            </div>
        break;
    case "txtWorkPhone":
            <div class="form-group col-sm-6 zip_city">
                <label for="Secondary Phone No">Secondary Phone No.</label>
                @Html.TextBoxFor(t => t._contactInfo.SecondaryPhoneNo, new { @class = "form-control", @placeholder = "Secondary Phone No", @tabindex = "9", @id = "SecondaryPhone" })
            </div>
        break;
    case "txtemergencyname":
            <div class="form-group col-sm-6 zip_city">
                <label for="Emergency Contact Name">Emergency Contact Name</label>
                @Html.TextBoxFor(t => t._contactInfo.EMGContactName, new { @class = "form-control", @placeholder = "Emergency Contact Name", @tabindex = "10" })
            </div>
        break;
    case "txtemergency":
            <div class="form-group col-sm-6 zip_city">
                <label for="Emergency Phone No">Emergency Phone No</label>
                @Html.TextBoxFor(t => t._contactInfo.EMGContactNo, new { @class = "form-control ", @placeholder = "Emergency Phone No", @tabindex = "11", @id = "EmergencyPhone" })
            </div>
        break;
    default:
        break;
}
}



@helper getDentalInsurance(string objKey)
{
switch (objKey)
{

    case "MrdEmployeeName1":
            <div class="form-group col-sm-6 zip_city">
                <label for="text">Primary Insurance Company</label>
                @Html.TextBoxFor(model => model._insuranceCoverage.PrimaryInsuranceCompany, new { @class = "form-control", @placeholder = "Primary Insurance Company" })
            </div>
        break;
    case "MrdInsurancePhone1":
            <div class="form-group col-sm-6 zip_city">
                <label for="text">Primary Insurance Company Phone</label>
                @Html.TextBoxFor(model => model._insuranceCoverage.PrimaryInsurancePhone, new { @class = "form-control", @placeholder = "Primary Insurance Company Phone", @id = "PrimaryInsurancePhone" })
                @Html.ValidationMessageFor(model => model._insuranceCoverage.PrimaryInsurancePhone)
            </div>
        break;
    case "MrdEmployerName1":
            <div class="form-group col-sm-6 zip_city">
                <label for="text">Primary Name of Insured</label>
                @Html.TextBoxFor(model => model._insuranceCoverage.PrimaryNameOfInsured, new { @class = "form-control", @placeholder = "Primary Name of Insured" })
            </div>
        break;
    case "MrdEmployeeDob1":
            <div class="form-group col-sm-6 zip_city">
                <label for="text">Primary Date of Birth:</label>
                @Html.TextBoxFor(model => model._insuranceCoverage.PrimaryDateOfBirth, new { @class = "form-control", @placeholder = "DD/MM/YYYY", @style = "height: 50px;" })
            </div>
        break;
    case "MrdNameofInsurance1":
            <div class="form-group col-sm-6 zip_city">
                <label for="text">Primary Member ID</label>
                @Html.TextBoxFor(model => model._insuranceCoverage.PrimaryMemberID, new { @class = "form-control", @placeholder = "Primary Member ID" })
            </div>
        break;
    case "MrdInsuranceTelephone1":
            <div class="form-group col-sm-6 zip_city">
                <label for="text">Primary Group Number</label>
                @Html.TextBoxFor(model => model._insuranceCoverage.PrimaryGroupNumber, new { @class = "form-control", @placeholder = "Primary Group Number" })
            </div>
        break;

    default:
        break;
}
}

@helper getSecondaryDentalInsurance(string objKey)
{
switch (objKey)
{

    case "MrdEmployeeName2":
            <div class="form-group col-sm-6 zip_city">
                <label for="text">Secondary Insurance Company</label>
                @Html.TextBoxFor(model => model._insuranceCoverage.SecondaryInsuranceCompany, new { @class = "form-control", @placeholder = "Secondary Insurance Company" })
            </div>
        break;

    case "MrdInsurancePhone2":
            <div class="form-group col-sm-6 zip_city">
                <label for="text">Secondary Insurance Company Phone</label>
                @Html.TextBoxFor(model => model._insuranceCoverage.SecondaryInsurancePhone, new { @class = "form-control", @placeholder = "Secondary Insurance Company Phone", @id = "SecondaryInsurancePhone" })
                @Html.ValidationMessageFor(model => model._insuranceCoverage.SecondaryInsurancePhone)
            </div>
        break;
    case "MrdEmployerName2":
            <div class="form-group col-sm-6 zip_city">
                <label for="text">Secondary Name of Insured</label>
                @Html.TextBoxFor(model => model._insuranceCoverage.SecondaryNameOfInsured, new { @class = "form-control", @placeholder = "Secondary Name of Insured" })
            </div>
        break;
    case "MrdYearsEmployed2":
            <div class="form-group col-sm-6 zip_city">
                <label for="text">Secondary Date of Birth:</label>
                @Html.TextBoxFor(model => model._insuranceCoverage.SecondaryDateOfBirth, new { @class = "form-control", @placeholder = "DD/MM/YYYY", @style = "height: 50px;" })
            </div>
        break;

    case "MrdNameofInsurance2":
            <div class="form-group col-sm-6 zip_city">
                <label for="text">Secondary Member ID</label>
                @Html.TextBoxFor(model => model._insuranceCoverage.SecondaryMemberID, new { @class = "form-control", @placeholder = "Secondary Member ID" })
            </div>
        break;
    case "MrdInsuranceTelephone2":
            <div class="form-group col-sm-6 zip_city">
                <label for="text">Secondary Group Number</label>
                @Html.TextBoxFor(model => model._insuranceCoverage.SecondaryGroupNumber, new { @class = "form-control", @placeholder = "Secondary Group Number" })
            </div>
        break;
    default:
        break;
}
}




@helper getMedicalHistoryFields(string objKey)
{

switch (objKey)
{

    case "MrdQue1":
            @Html.CheckBoxFor(m => m._medicalHistory.MrdQue1, new { @id = "MrdQue1" })
            <label for="MrdQue1">Are you under a physicians care right now?</label>
            <div class="panel_box physicians" style="display: none;" id="div_MrdQue1">
                <div class="form-group">
                    <label for="comment">Please explain </label>
                    @Html.TextAreaFor(model => model._medicalHistory.Mtxtphysicians, new { @class = "form-control", @placeholder = "Enter Text", @rows = "5" })
                </div>
            </div>
        break;
    case "MrdQue2":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQue2, new { @id = "MrdQue2" })
            <label for="MrdQue2">Have you ever been hospitalized or had a major operation?</label>

            <div class="hospitalized panel_box" style="display: none;" id="div_MrdQue2">
                <div class="form-group">
                    <label for="comment">Please explain </label>
                    @Html.TextAreaFor(model => model._medicalHistory.Mtxthospitalized, new { @class = "form-control", @placeholder = "Enter Text", @rows = "5" })
                </div>
            </div>
        break;
    case "MrdQue3":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQue3, new { @id = "MrdQue3" })
            <label for="MrdQue3">Have you ever had a serious head or neck injury?</label>

            <div class="serious panel_box" style="display: none;" id="div_MrdQue3">
                <div class="form-group">
                    <label for="comment">Please explain </label>
                    @Html.TextAreaFor(model => model._medicalHistory.Mtxtserious, new { @class = "form-control", @placeholder = "Enter Text", @rows = "5" })
                </div>
            </div>
        break;
    case "MrdQue4":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQue4, new { @id = "MrdQue4" })
            <label for="MrdQue4">Are taking any medications, pills, or drugs?</label>

            <div class="medications panel_box" style="display: none;" id="div_MrdQue4">
                <div class="form-group">
                    <label for="comment">Please explain </label>
                    @Html.TextAreaFor(model => model._medicalHistory.Mtxtmedications, new { @class = "form-control", @placeholder = "Enter Text", @rows = "5" })
                </div>
            </div>
        break;
    case "MrdQue5":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQue5, new { @id = "MrdQue5" })
            <label for="MrdQue5">Do you take, or have you taken, Phen-Fen or Redux?</label>

            <div class="Redux panel_box" style="display: none;" id="div_MrdQue5">
                <div class="form-group">
                    <label for="comment">Please explain </label>
                    @Html.TextAreaFor(model => model._medicalHistory.MtxtRedux, new { @class = "form-control", @placeholder = "Enter Text", @rows = "5" })
                </div>
            </div>
        break;
    case "MrdQue6":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQue6, new { @id = "MrdQue6" })
            <label for="MrdQue6">Have you ever taken Fosamax, Boniva, Actonel or any other medications containing biphosphonates?</label>

            <div class="Fosamax panel_box" style="display: none;" id="div_MrdQue6">
                <div class="form-group">
                    <label for="comment">Please explain </label>
                    @Html.TextAreaFor(model => model._medicalHistory.MtxtFosamax, new { @class = "form-control", @placeholder = "Enter Text", @rows = "5" })
                </div>
            </div>
        break;
    case "MrdQuediet7":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQuediet7, new { @id = "MrdQuediet7" })
            <label for="MrdQuediet7">Are you on a special diet?</label>

            <div class="diet panel_box" style="display: none;" id="div_MrdQuediet7">
                <div class="form-group">
                    <label for="comment">Please explain </label>
                    @Html.TextAreaFor(model => model._medicalHistory.Mtxt7, new { @class = "form-control", @placeholder = "Enter Text", @rows = "5" })
                </div>
            </div>
        break;
    case "Mrdotobacco":
            @Html.CheckBoxFor(model => model._medicalHistory.Mrdotobacco8, new { @id = "Mrdotobacco8" })
            <label for="Mrdotobacco8">Do you use tobacco?</label>

            <div class="tobacco panel_box" style="display: none;" id="div_Mrdotobacco8">
                <div class="form-group">
                    <label for="comment">Please explain </label>
                    @Html.TextAreaFor(model => model._medicalHistory.Mtxt8, new { @class = "form-control", @placeholder = "Enter Text", @rows = "5" })
                </div>
            </div>
        break;
    case "Mrdosubstances":
            @Html.CheckBoxFor(model => model._medicalHistory.Mrdosubstances, new { @id = "Mrdosubstances" })
            <label for="Mrdosubstances">Do you use controlled substances?</label>

            <div class="substances panel_box" style="display: none;" id="div_Mrdosubstances">
                <div class="form-group">
                    <label for="comment">Please explain </label>
                    @Html.TextAreaFor(model => model._medicalHistory.Mtxt9, new { @class = "form-control", @placeholder = "Enter Text", @rows = "5" })
                </div>
            </div>
        break;
    case "Mrdopregnant":
            @Html.CheckBoxFor(model => model._medicalHistory.Mrdopregnant, new { @id = "Mrdopregnant" })
            <label for="Mrdopregnant">Are you pregnant/Trying to get pregnant(women)?</label>

            <div class="pregnant panel_box" style="display: none;" id="div_Mrdopregnant">
                <div class="form-group">
                    <label for="comment">Please explain </label>
                    @Html.TextAreaFor(model => model._medicalHistory.Mtxt10, new { @class = "form-control", @placeholder = "Enter Text", @rows = "5" })
                </div>
            </div>
        break;
    case "Mrdocontraceptives":
            @Html.CheckBoxFor(model => model._medicalHistory.Mrdocontraceptives, new { @id = "Mrdocontraceptives" })
            <label for="Mrdocontraceptives">Taking oral contraceptives(women)?</label>

            <div class="contraceptives panel_box" style="display: none;" id="div_Mrdocontraceptives">
                <div class="form-group">
                    <label for="comment">Please explain </label>
                    @Html.TextAreaFor(model => model._medicalHistory.Mtxt11, new { @class = "form-control", @placeholder = "Enter Text", @rows = "5" })
                </div>
            </div>
        break;
    case "MrdoNursing":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdoNursing, new { @id = "MrdoNursing" })
            <label for="MrdoNursing">Nursing(women)?</label>

            <div class="nursing panel_box" style="display: none;" id="div_MrdoNursing">
                <div class="form-group">
                    <label for="comment">Please explain </label>
                    @Html.TextAreaFor(model => model._medicalHistory.Mtxt12, new { @class = "form-control", @placeholder = "Enter Text", @rows = "5" })
                </div>
            </div>
        break;
    case "Mrdotonsils":
            @Html.CheckBoxFor(model => model._medicalHistory.Mrdotonsils, new { @id = "Mrdotonsils" })
            <label for="Mrdotonsils">Have tonsils or have adenoids been removed?</label>

            <div class="tonsils panel_box" style="display: none;" id="div_Mrdotonsils">
                <div class="form-group">
                    <label for="comment">Please explain </label>
                    @Html.TextAreaFor(model => model._medicalHistory.Mtxt13, new { @class = "form-control", @placeholder = "Enter Text", @rows = "5" })
                </div>
            </div>
        break;
    case "Mchk14":
            <div id="div_SubMchk14">
                @Html.CheckBoxFor(model => model._medicalHistory.Mchk14, new { @id = "Mchk14" })
                <label for="Mchk14">Are you allergic to any of the following?</label>

                <!-- ** Sub Field Available ** -->
            </div>
        break;
    case "Mchk15":
            <div id="div_SubMchk15">
                @Html.CheckBoxFor(model => model._medicalHistory.Mchk15, new { @id = "Mchk15" })
                <label for="Mchk15">Do you have, or have you had, any of the following?</label>
            </div>
        break;
    case "Mrdillness":
            @Html.CheckBoxFor(model => model._medicalHistory.Mrdillness, new { @id = "Mrdillness" })
            <label for="Mrdillness"> List any serious illness not listed above </label>
            <div class="illness panel_box" style="display: none;" id="div_Mrdillness">
                <div class="form-group">
                    <label for="comment">Please explain</label>
                    @Html.TextAreaFor(model => model._medicalHistory.Mtxtillness, new { @placeholder = "Enter Text", @rows = "5", @class = "form-control" })
                </div>
            </div>
        break;
    case "MrdComments":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdComments, new { @id = "MrdComments" })
            <label for="MrdComments"> Additional Information </label>
            <div class="Additional panel_box" style="display: none;" id="div_MrdComments">
                <div class="form-group">
                    <label for="comment">Please explain</label>
                    @Html.TextAreaFor(model => model._medicalHistory.MtxtComments, new { @placeholder = "Enter Text", @rows = "5", @class = "form-control" })
                </div>
            </div>
        break;

    default:
        break;
}
}



@helper getMedicalHistorySubFields(string objKey)
{

switch (objKey)
{
    case "MchkQue_1":
            @Html.CheckBoxFor(model => model._medicalHistory.MchkQue_1, new { @id = "MchkQue_1" })
            <label for="MchkQue_1">Aspirin</label>
        break;
    case "MchkQue_2":
            @Html.CheckBoxFor(model => model._medicalHistory.MchkQue_2, new { @id = "MchkQue_2" })
            <label for="MchkQue_2">Penicillin</label>
        break;
    case "MchkQue_3":
            @Html.CheckBoxFor(model => model._medicalHistory.MchkQue_3, new { @id = "MchkQue_3" })
            <label for="MchkQue_3">Codeine</label>
        break;
    case "MchkQue_4":
            @Html.CheckBoxFor(model => model._medicalHistory.MchkQue_4, new { @id = "MchkQue_4" })
            <label for="MchkQue_4">Local Anesthetics</label>
        break;
    case "MchkQue_5":
            @Html.CheckBoxFor(model => model._medicalHistory.MchkQue_5, new { @id = "MchkQue_5" })
            <label for="MchkQue_5">Acrylic</label>
        break;
    case "MchkQue_6":
            @Html.CheckBoxFor(model => model._medicalHistory.MchkQue_6, new { @id = "MchkQue_6" })
            <label for="MchkQue_6">Metal</label>
        break;
    case "MchkQue_7":
            @Html.CheckBoxFor(model => model._medicalHistory.MchkQue_7, new { @id = "MchkQue_7" })
            <label for="MchkQue_7">Latex</label>
        break;
    case "MchkQue_8":
            @Html.CheckBoxFor(model => model._medicalHistory.MchkQue_8, new { @id = "MchkQue_8" })
            <label for="MchkQue_8">Sulfa Drugs</label>
        break;
    case "MrdQueAbnormal":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueAbnormal, new { @id = "MrdQueAbnormal" })
            <label for="MrdQueAbnormal">
                Abnormal bleeding
            </label>break;

    case "MrdQueAIDS_HIV_Positive":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueAIDS_HIV_Positive, new { @id = "MrdQueAIDS_HIV_Positive" })
            <label for="MrdQueAIDS_HIV_Positive">
                AIDS/HIV Positive
            </label>  break;

    case "MrdQueAlzheimer":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueAlzheimer, new { @id = "MrdQueAlzheimer" })
            <label for="MrdQueAlzheimer">
                Alzheimer's Disease
            </label>break;

    case "MrdQueAnemia":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueAnemia, new { @id = "MrdQueAnemia" })
            <label for="MrdQueAnemia">
                Anemia
            </label>break;

    case "MrdQueAngina":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueAngina, new { @id = "MrdQueAngina" })
            <label for="MrdQueAngina">
                Angina
            </label>break;

    case "MrdQueThinners":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueThinners, new { @id = "MrdQueThinners" })
            <label for="MrdQueThinners">
                Are you on blood thinners
            </label>break;

    case "MrdQueArthritis":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueArthritis, new { @id = "MrdQueArthritis" })
            <label for="MrdQueArthritis">
                Arthritis / rheumatism
            </label>break;

    case "MrdQueArtificialHeartValve":

            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueArtificialHeartValve, new { @id = "MrdQueArtificialHeartValve" })
            <label for="MrdQueArtificialHeartValve">
                Artificial Heart Valve
            </label>break;

    case "MrdQueArtificialJoint":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueArtificialJoint, new { @id = "MrdQueArtificialJoint" })
            <label for="MrdQueArtificialJoint">
                Artificial Joint
            </label>break;

    case "MrdQueAsthma":

            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueAsthma, new { @id = "MrdQueAsthma" })
            <label for="MrdQueAsthma">
                Asthma
            </label>  break;

    case "MrdQueFibrillation":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueFibrillation, new { @id = "MrdQueFibrillation" })
            <label for="MrdQueFibrillation">
                Atrial fibrillation
            </label>break;

    case "MrdQueBloodDisease":

            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueBloodDisease, new { @id = "MrdQueBloodDisease" })
            <label for="MrdQueBloodDisease">
                Blood Disease
            </label>break;

    case "MrdQueBloodTransfusion":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueBloodTransfusion, new { @id = "MrdQueBloodTransfusion" })
            <label for="MrdQueBloodTransfusion">
                Blood Transfusion
            </label>break;

    case "MrdQueBreathing":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueBreathing, new { @id = "MrdQueBreathing" })
            <label for="MrdQueBreathing">
                Breathing Problem
            </label>break;

    case "MrdQueBruise":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueBruise, new { @id = "MrdQueBruise" })
            <label for="MrdQueBruise">
                Bruise Easily
            </label>break;

    case "MrdQueCancer":

            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueCancer, new { @id = "MrdQueCancer" })
            <label for="MrdQueCancer">
                Cancer
            </label>break;

    case "MrdQueChemotherapy":

            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueChemotherapy, new { @id = "MrdQueChemotherapy" })
            <label for="MrdQueChemotherapy">
                Chemotherapy
            </label>break;

    case "MrdQueChest":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueChest, new { @id = "MrdQueChest" })
            <label for="MrdQueChest">
                Chest Pains
            </label>break;

    case "MrdQueCigarette":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueCigarette, new { @id = "MrdQueCigarette" })
            <label for="MrdQueCigarette">
                Cigarette, pipe, or cigar smoking
            </label>break;

    case "MrdQueCirulation":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueCirulation, new { @id = "MrdQueCirulation" })
            <label for="MrdQueCirulation">
                Cirulation problems
            </label>break;

    case "MrdQueCortisone":

            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueCortisone, new { @id = "MrdQueCortisone" })
            <label for="MrdQueCortisone">
                Cortisone / steroids
            </label>break;

    case "MrdQueFrequentCough":

            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueFrequentCough, new { @id = "MrdQueFrequentCough" })
            <label for="MrdQueFrequentCough">
                Cough, persistent or bloody
            </label>break;

    case "MrdQueConvulsions":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueConvulsions, new { @id = "MrdQueConvulsions" })
            <label for="MrdQueConvulsions">
                Convulsions
            </label>break;

    case "MrdQuefillers":

            @Html.CheckBoxFor(model => model._medicalHistory.MrdQuefillers, new { @id = "MrdQuefillers" })
            <label for="MrdQuefillers">
                Dermal fillers
            </label>break;

    case "MrdQueDiabetes":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueDiabetes, new { @id = "MrdQueDiabetes" })
            <label for="MrdQueDiabetes">
                Diabletes (type)
            </label>break;

    case "MrdQueDiarrhhea":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueDiarrhhea, new { @id = "MrdQueDiarrhhea" })
            <label for="MrdQueDiarrhhea">
                Diarrhea, persistent
            </label>break;

    case "MrdQueDigestive":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueDigestive, new { @id = "MrdQueDigestive" })
            <label for="MrdQueDigestive">
                Digestive disorder
            </label>break;

    case "MrdQueDizziness":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueDizziness, new { @id = "MrdQueDizziness" })
            <label for="MrdQueDizziness">
                Dizziness, fainting
            </label>break;

    case "MrdQueAlcoholic":

            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueAlcoholic, new { @id = "MrdQueAlcoholic" })
            <label for="MrdQueAlcoholic">
                Do you drink alcoholic beverages?
            </label>break;

    case "MrdQueSubstances":

            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueSubstances, new { @id = "MrdQueSubstances" })
            <label for="MrdQueSubstances">
                Do you use controlled substances ?
            </label>break;


    case "MrdQueEmphysema":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueEmphysema, new { @id = "MrdQueEmphysema" })
            <label for="MrdQueEmphysema">
                Emphysema / bronchitis
            </label>break;

    case "MrdQueEpilepsy":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueEpilepsy, new { @id = "MrdQueEpilepsy" })
            <label for="MrdQueEpilepsy">
                Epilepsy or Seizures
            </label>break;

    case "MrdQueExcessiveurination":

            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueExcessiveurination, new { @id = "MrdQueExcessiveurination" })
            <label for="MrdQueExcessiveurination">
                Excessive urination
            </label>break;

    case "MrdQueExcessiveThirst":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueExcessiveThirst, new { @id = "MrdQueExcessiveThirst" })
            <label for="MrdQueExcessiveThirst">
                Excessive Thirst
            </label>break;

    case "MrdQueGlaucoma":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueGlaucoma, new { @id = "MrdQueGlaucoma" })
            <label for="MrdQueGlaucoma">
                Glaucoma
            </label>break;

    case "MrdQueHeadaches":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueHeadaches, new { @id = "MrdQueHeadaches" })
            <label for="MrdQueHeadaches">
                Headaches
            </label>break;

    case "MrdQueAttack":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueAttack, new { @id = "MrdQueAttack" })
            <label for="MrdQueAttack">
                Heart attack(date)
            </label>  break;

    case "MrdQueHeartPacemaker":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueHeartPacemaker, new { @id = "MrdQueHeartPacemaker" })
            <label for="MrdQueHeartPacemaker">
                Heart Pacemaker
            </label>break;

    case "MrdQueHemophilia":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueHemophilia, new { @id = "MrdQueHemophilia" })
            <label for="MrdQueHemophilia">
                Hemophilia
            </label>break;

    case "MrdQueHeart_defect":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueHeart_defect, new { @id = "MrdQueHeart_defect" })
            <label for="MrdQueHeart_defect">
                Heart defect
            </label>break;

    case "MrdQueHeart_murmur":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueHeart_murmur, new { @id = "MrdQueHeart_murmur" })
            <label for="MrdQueHeart_murmur">
                Heart murmur / leaky valve
            </label>break;

    case "MrdQueHepatitisA":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueHepatitisA, new { @id = "MrdQueHepatitisA" })
            <label for="MrdQueHepatitisA">
                Hepatitis(type)
            </label>break;

    case "MrdQueHerpes":

            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueHerpes, new { @id = "MrdQueHerpes" })
            <label for="MrdQueHerpes">
                Herpes
            </label>break;

    case "MrdQueHiatal":

            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueHiatal, new { @id = "MrdQueHiatal" })
            <label for="MrdQueHiatal">
                Hiatal hernia
            </label>break;

    case "MrdQueBlood_pressure":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueBlood_pressure, new { @id = "MrdQueBlood_pressure" })
            <label for="MrdQueBlood_pressure">
                High or low blood pressure
            </label>break;

    case "MrdQueAIDS":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueAIDS, new { @id = "MrdQueAIDS" })
            <label for="MrdQueAIDS">
                HIV / AIDS
            </label>break;

    case "MrdQueHow_much":

            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueHow_much, new { @id = "MrdQueHow_much" })
            <label for="MrdQueHow_much">
                How much
            </label>break;

    case "MrdQueHow_often":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueHow_often, new { @id = "MrdQueHow_often" })
            <label for="MrdQueHow_often">
                How often
            </label>break;

    case "MrdQueHypoglycemia":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueHypoglycemia, new { @id = "MrdQueHypoglycemia" })
            <label for="MrdQueHypoglycemia">
                Hypoglycemia
            </label>break;

    case "MrdQueReplacement":

            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueReplacement, new { @id = "MrdQueReplacement" })
            <label for="MrdQueReplacement">
                Joint replacement(knee, hip, etc)
            </label>break;

    case "MrdQueKidney":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueKidney, new { @id = "MrdQueKidney" })
            <label for="MrdQueKidney">
                Kidney disease
            </label>break;

    case "MrdQueLeukemia":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueLeukemia, new { @id = "MrdQueLeukemia" })
            <label for="MrdQueLeukemia">
                Leukemia / lymphomaLiver
            </label>break;

    case "MrdQueLiver":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueLiver, new { @id = "MrdQueLiver" })
            <label for="MrdQueLiver">
                Liver Disease
            </label>break;

    case "MrdQueLung":

            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueLung, new { @id = "MrdQueLung" })
            <label for="MrdQueLung"> Lung Disease </label>
        break;

    case "MrdQueMitral":

            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueMitral, new { @id = "MrdQueMitral" })
            <label for="MrdQueMitral">
                Mitral Valve Prolapse
            </label>break;

    case "MrdQueNeck_BackProblem":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueNeck_BackProblem, new { @id = "MrdQueNeck_BackProblem" })
            <label for="MrdQueNeck_BackProblem">
                Neck / back problems
            </label>break;


    case "MrdQueOsteoporosis":

            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueOsteoporosis, new { @id = "MrdQueOsteoporosis" })
            <label for="MrdQueOsteoporosis">
                Osteoporosis
            </label>break;

    case "MrdQuePacemaker":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQuePacemaker, new { @id = "MrdQuePacemaker" })
            <label for="MrdQuePacemaker">
                Pacemaker / defibrillator
            </label>break;

    case "MrdQuePainJaw_Joints":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQuePainJaw_Joints, new { @id = "MrdQuePainJaw_Joints" })
            <label for="MrdQuePainJaw_Joints">
                Pain in Jaw Joints
            </label>break;

    case "MrdQueEndocarditis":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueEndocarditis, new { @id = "MrdQueEndocarditis" })
            <label for="MrdQueEndocarditis">
                Previous endocarditis
            </label>break;

    case "MrdQuePsychiatric":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQuePsychiatric, new { @id = "MrdQuePsychiatric" })
            <label for="MrdQuePsychiatric">
                Psychiatric Care
            </label>break;

    case "MrdQueRadiation":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueRadiation, new { @id = "MrdQueRadiation" })
            <label for="MrdQueRadiation">
                Radiation therapy
            </label>break;

    case "MrdQueRheumatic":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueRheumatic, new { @id = "MrdQueRheumatic" })
            <label for="MrdQueRheumatic">
                Rheumatic or scarler fever
            </label>break;

    case "MrdQueScarlet":

            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueScarlet, new { @id = "MrdQueScarlet" })
            <label for="MrdQueScarlet">
                Scarlet Fever
            </label>break;

    case "MrdQueShingles":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueShingles, new { @id = "MrdQueShingles" })
            <label for="MrdQueShingles">
                Shingles
            </label>break;

    case "MrdQueShortness":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueShortness, new { @id = "MrdQueShortness" })
            <label for="MrdQueShortness">
                Shortness of breath
            </label>break;

    case "MrdQueSinus":

            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueSinus, new { @id = "MrdQueSinus" })
            <label for="MrdQueSinus">
                Sinus infection
            </label>break;

    case "MrdQueStroke":

            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueStroke, new { @id = "MrdQueStroke" })
            <label for="MrdQueStroke">
                Stroke(date)
            </label>break;

    case "MrdQueSjorgren":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueSjorgren, new { @id = "MrdQueSjorgren" })
            <label for="MrdQueSjorgren">
                Sjorgren's syndrome
            </label>break;

    case "MrdQueStomach":

            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueStomach, new { @id = "MrdQueStomach" })
            <label for="MrdQueStomach">
                Stomach ulcer / hyperacidity
            </label>break;

    case "MrdQueSwelling":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueSwelling, new { @id = "MrdQueSwelling" })
            <label for="MrdQueSwelling">
                Swelling of feet or ankles
            </label>break;

    case "MrdQueSwollen":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueSwollen, new { @id = "MrdQueSwollen" })
            <label for="MrdQueSwollen">
                Swollen glands - neck
            </label>break;

    case "MrdQueThyroid":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueThyroid, new { @id = "MrdQueThyroid" })
            <label for="MrdQueThyroid">
                Thyroid disorder
            </label>break;

    case "MrdQueTuberculosis":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueTuberculosis, new { @id = "MrdQueTuberculosis" })
            <label for="MrdQueTuberculosis">
                Tuberculosis
            </label>break;

    case "MrdQueTumors":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueTumors, new { @id = "MrdQueTumors" })
            <label for="MrdQueTumors">
                Tumors or Growths
            </label>break;

    case "MrdQueValve":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueValve, new { @id = "MrdQueValve" })
            <label for="MrdQueValve">
                Valve replacement
            </label>break;

    case "MrdQueVision":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueVision, new { @id = "MrdQueVision" })
            <label for="MrdQueVision">
                Vision / hearing impaired
            </label>break;

    case "MrdQueUnexplained":
            @Html.CheckBoxFor(model => model._medicalHistory.MrdQueUnexplained, new { @id = "MrdQueUnexplained" })
            <label for="MrdQueUnexplained">
                Weight loss, unexplained
            </label>break;

    default:
        break;
}
}


@helper getDentalHistoryFields(string mapField, List<BO.Models.AddPatient> SubQuery, bool isSub)
{
switch (mapField)
{
    case "txtQue5":
            <div class="col-sm-12">
                <label for="Previous Dentist's Name">Previous Dentist's Name</label>
                @Html.TextBoxFor(model => model._dentalhistory.txtQue5, new { @placeholder = "Previous Dentist's Name" })
            </div>
        break;
    case "txtQue6":
            <div class="col-sm-12">
                <label for="When was the last time you had your teeth cleaned?">When was the last time you had your teeth cleaned?</label>
                @Html.TextBoxFor(model => model._dentalhistory.txtQue6, new { @placeholder = "When was the last time you had your teeth cleaned?" })
            </div>
        break;
    case "MrdQue7":
            <div class="col-sm-12 form-check">
                @Html.CheckBoxFor(model => model._dentalhistory.rdQue7a, new { @id = "rdQue7a" })
                <label for="rdQue7a">Do you make regular visits to the dentist?</label>
                <div class="panel_box Howoften" style="display: none;" id="div_rdQue7a">
                    <div class="form-group">
                        <label for="comment">How often</label>
                        @Html.TextAreaFor(model => model._dentalhistory.txtQue7, new { @placeholder = "Enter Text", @class = "form-control", @rows = "5" })
                    </div>
                </div>
            </div>
        break;
    case "txtQue12":
            <div class="col-sm-12">
                <label for="Please explain any problems or complications with previous dental treatment?">
                    Please explain any problems or complications with previous dental treatment?
                </label>
                @Html.TextBoxFor(model => model._dentalhistory.txtQue12, new { @placeholder = "Please explain any problems or complications with previous dental treatment?" })
            </div>
        break;
    case "DhQue5":
            <div class="col-sm-12 form-check" id="div_teethReplaced">
                @Html.CheckBoxFor(model => model._dentalhistory.DhQue5, new { @id = "DhQue5" })
                <label for="DhQue5">Have any of your teeth been replaced with the following?</label>
                @if (isSub)
                {
                    <div class="panel_box">
                        <div class="form-group">
                            @foreach (var item in SubQuery)
                            {
                                @getDentalHistorySubFields(item.MapFieldName);
                            }
                        </div>
                    </div>
                }
            </div>
        break;
    case "rdQue15":
            <div class="col-sm-12 form-check">
                @Html.CheckBoxFor(model => model._dentalhistory.rdQue15, new { @id = "rdQue15" })
                <label for="rdQue15">
                    Do you clench or grind your teeth?
                </label>
                @if (isSub)
                {
                    <div class="panel_box">
                        <div class="form-group">
                            @foreach (var item in SubQuery)
                            {
                                @getDentalHistorySubFields(item.MapFieldName);
                            }
                        </div>
                    </div>
                }
            </div>
        break;
    case "rdQue16":
            <div class="col-sm-6 form-check">
                @Html.CheckBoxFor(model => model._dentalhistory.rdQue16, new { @id = "rdQue16" })
                <label for="rdQue16">
                    Does your jaw click or pop?
                </label>

            </div>
        break;
    case "rdQue17":
            <div class="col-sm-12 form-check">
                @Html.CheckBoxFor(model => model._dentalhistory.rdQue17, new { @id = "rdQue17" })
                <label for="rdQue17">
                    Are you experiencing any pain or soreness in the muscles of your face?
                </label>

            </div>
        break;
    case "rdQue18":
            <div class="col-sm-12 form-check">
                @Html.CheckBoxFor(model => model._dentalhistory.rdQue18, new { @id = "rdQue18" })
                <label for="rdQue18">
                    Do you have frequent headaches, neckaches or shoulder aches?
                </label>

            </div>
        break;
    case "rdQue19":
            <div class="col-sm-12 form-check">
                @Html.CheckBoxFor(model => model._dentalhistory.rdQue19, new { @id = "rdQue19" })
                <label for="rdQue19">
                    Does food get caught in your teeth?
                </label>

            </div>
        break;
    case "rdQue20":
            <div class="col-sm-12 form-check" id="div_teethSenitive">
                @Html.CheckBoxFor(model => model._dentalhistory.rdQue20, new { @id = "rdQue20" })
                <label for="rdQue20">
                    Are any of your teeth sensitive to
                </label>
                @if (isSub)
                {
                    <div class="panel_box">
                        <div class="form-group">
                            @foreach (var item in SubQuery)
                            {
                                @getDentalHistorySubFields(item.MapFieldName);
                            }
                        </div>
                    </div>
                }
            </div>
        break;
    case "rdQue21":
            <div class="col-sm-12 form-check">
                @Html.CheckBoxFor(model => model._dentalhistory.rdQue21, new { @id = "rdQue21" })
                <label for="rdQue21"> Do your gums bleed or hurt?</label>
                <div class="panel_box When" style="display: none;" id="div_rdQue21">
                    <div class="form-group">
                        <label for="comment">When? </label>
                        @Html.TextAreaFor(model => model._dentalhistory.txtQue21a, new { @placeholder = "Enter Text", @class = "form-control", @rows = "5" })
                    </div>
                </div>
            </div>
        break;
    case "rdQue23":
            <div class="col-sm-12 form-check">
                @Html.CheckBoxFor(model => model._dentalhistory.rdQue23, new { @id = "rdQue23" })
                <label for="rdQue23">
                    How often do you brush your teeth?
                </label>

            </div>
        break;
    case "rdQue24":
            <div class="col-sm-12 form-check">
                @Html.CheckBoxFor(model => model._dentalhistory.rdQue24, new { @id = "rdQue24" })
                <label for="rdQue24">
                    How often do you use dental floss?
                </label>

            </div>
        break;
    case "rdQue25":
            <div class="col-sm-12 form-check">
                @Html.CheckBoxFor(model => model._dentalhistory.rdQue25, new { @id = "rdQue25" })
                <label for="rdQue25">
                    Are any of your teeth loose, tipped, shifted or chipped?
                </label>

            </div>
        break;
    case "rdQue28":
            <div class="col-sm-12 form-check">
                @Html.CheckBoxFor(model => model._dentalhistory.rdQue28, new { @id = "rdQue28" })
                <label for="rdQue28">
                    Do you feel your breath is often offensive?
                </label>

            </div>
        break;
    case "txtQue29":
            <div class="col-sm-12">
                <label for="Explain any orthodonic work you have had done?">
                    Explain any orthodonic work you have had done?
                </label>
                @Html.TextBoxFor(model => model._dentalhistory.txtQue29, new { @placeholder = "Explain any orthodonic work you have had done?", @class = "form-control", @rows = "5" })

            </div>
        break;
    case "txtQue30":
            <div class="col-sm-12">
                <label for="Explain any dental work you have had done (Perio, Oral Surgery, etc.)">
                    Explain any dental work you have had done(Perio, Oral Surgery, etc.)
                </label>
                @Html.TextBoxFor(model => model._dentalhistory.txtQue30, new { @placeholder = "Explain any dental work you have had done (Perio, Oral Surgery, etc.)" })

            </div>
        break;
    case "txtQue31":
            <div class="col-sm-12">
                <label for="How do you feel about your teeth in general?">
                    How do you feel about your teeth in general?
                </label>
                @Html.TextBoxFor(model => model._dentalhistory.txtQue31, new { @placeholder = "How do you feel about your teeth in general?" })
            </div>
        break;
    case "txtComments":
            <div class="col-sm-12">
                <label for="Additional Information">
                    Additional Information
                </label>
                @Html.TextBoxFor(model => model._dentalhistory.txtComments, new { @placeholder = "Additional Information" })
            </div>
        break;
    case "txtDateoffirstvisit":
            <div class="col-sm-12">
                <label for="Date of first visit">
                    Date of first visit
                </label>
                @Html.TextBoxFor(model => model._dentalhistory.firstvistdate, new { @placeholder = "M/D/YYYY", id = "firstvistdate", @class = "startDate" })
            </div>
        break;
    case "Reasonforfirstvisit":
            <div class="col-sm-12">
                <label for="Reason for first visit">
                    Reason for first visit
                </label>
                @Html.TextBoxFor(model => model._dentalhistory.Reasonforfirstvisit, new { @placeholder = "Reason for first visit" })
            </div>
        break;
    case "Dateoflastvisit":
            <div class="col-sm-12">
                <label for="Date of last (latest) visit">
                    Date of last (latest) visit
                </label>
                @Html.TextBoxFor(model => model._dentalhistory.Dateoflastvisit, new { @placeholder = "M/D/YYYY", @id = "Dateoflastvisit", @class = "endDate" })
            </div>
        break;
    case "Reasonforlastvisit":
            <div class="col-sm-12">
                <label for="Reason for last visit">
                    Reason for last visit
                </label>
                @Html.TextBoxFor(model => model._dentalhistory.Reasonforlastvisit, new { @placeholder = "Reason for last visit" })
            </div>
        break;
    case "Dateofnextvisit":
            <div class="col-sm-12">
                <label for="Date of next (scheduled visit)">
                    Date of next (scheduled visit)
                </label>
                @Html.TextBoxFor(model => model._dentalhistory.Dateofnextvisit, new { @placeholder = "M/D/YYYY", @id = "Dateofnextvisit" })
            </div>
        break;
    case "Reasonfornextvisit":
            <div class="col-sm-12">
                <label for="Reason for next visit">
                    Reason for next visit
                </label>
                @Html.TextBoxFor(model => model._dentalhistory.Reasonfornextvisit, new { @placeholder = "Reason for next visit" })
            </div>
        break;
    default:
        break;
}
}

@helper getDentalHistorySubFields(string objKey)
{
switch (objKey)
{
    case "rdoQue11aFixedbridge":
            @Html.CheckBoxFor(model => model._dentalhistory.rdoQue11aFixedbridge, new { @id = "rdoQue11aFixedbridge" })
            <label for="rdoQue11aFixedbridge">
                Fixed bridge
            </label>
        break;
    case "rdoQue11bRemoveablebridge":
            @Html.CheckBoxFor(model => model._dentalhistory.rdoQue11bRemoveablebridge, new { @id = "rdoQue11bRemoveablebridge" })
            <label for="rdoQue11bRemoveablebridge">
                Removeable bridge
            </label>
        break;
    case "rdoQue11cDenture":
            @Html.CheckBoxFor(model => model._dentalhistory.rdoQue11cDenture, new { @id = "rdoQue11cDenture" })
            <label for="rdoQue11cDenture">
                Denture
            </label>
        break;
    case "rdQue11dImplant":
            @Html.CheckBoxFor(model => model._dentalhistory.rdQue11dImplant, new { @id = "rdQue11dImplant" })
            <label for="rdQue11dImplant">
                Implant
            </label>
        break;
    case "chkQue20_1":
            @Html.CheckBoxFor(model => model._dentalhistory.chkQue20_1, new { @id = "chkQue20_1" })
            <label for="chkQue20_1">
                Hot
            </label>
        break;
    case "chkQue20_2":
            @Html.CheckBoxFor(model => model._dentalhistory.chkQue20_2, new { @id = "chkQue20_2" })
            <label for="chkQue20_2">
                Cold
            </label>
        break;

    case "chkQue20_3":
            @Html.CheckBoxFor(model => model._dentalhistory.chkQue20_3, new { @id = "chkQue20_3" })
            <label for="chkQue20_3">
                Sweets
            </label>
        break;
    case "chkQue20_4":
            @Html.CheckBoxFor(model => model._dentalhistory.chkQue20_4, new { @id = "chkQue20_4" })
            <label for="chkQue20_4">
                Pressure
            </label>
        break;
    default:
        break;
}
}



