﻿

@{
    ViewBag.Title = "Career at Recordlinc – Dental Management Systems";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

<!-- InnerPage starts here -->
<section id="inner">
	<div class="container" style="text-align:justify;">    	
        
        <div class="content">
        	<h2 class="title">We’re Hiring! <span class="subtitle">Here is what you can expect if you work at Recordlinc</span></h2>
            <ul class="listing">
            	<li>Being customer centric</li>
                <li>Our commitment to delivering service excellence</li>
                <li>Being a performance-based organization</li>
            </ul>
            <p>
          Based in San Francisco, RecordLinc was founded  in 2002 and remains a privately owned, rapidly growing company. RecordLinc is an innovative, diverse and growing company, focused on delivering service excellence for our clients. We are looking for talented and career-oriented individuals to join us.</p>
         <div class="textpanel job_listing">
            <h5>Job Title</h5>
            <ul class="blisting">
            	<li>
                	<div class="title"><a href="mailto:jobs@recordlinc.com">Regional Sales</a></div>
                    <div class="links"><a href="mailto:jobs@recordlinc.com">Send us your  resume</a></div>
                    <div class="clear"></div>
                </li>
                <li>
                	<div class="title"><a href="mailto:jobs@recordlinc.com">Inside Sales</a></div>
                    <div class="links"><a href="mailto:jobs@recordlinc.com">Send us your  resume</a></div>
                    <div class="clear"></div>
                </li>
                <li>
                	<div class="title"><a href="mailto:jobs@recordlinc.com">Customer Service</a></div>
                    <div class="links"><a href="mailto:jobs@recordlinc.com">Send us your  resume</a></div>
                    <div class="clear"></div>
                </li>
                <li>
                	<div class="title"><a href="mailto:jobs@recordlinc.com">Verification Representative</a></div>
                    <div class="links"><a href="mailto:jobs@recordlinc.com">Send us your  resume</a></div>
                    <div class="clear"></div>
                </li>
                <li>
                	<div class="title"><a href="mailto:jobs@recordlinc.com">Marketing</a></div>
                    <div class="links"><a href="mailto:jobs@recordlinc.com">Send us your  resume</a></div>
                    <div class="clear"></div>
                </li>
                <li>
                	<div class="title"><a href="mailto:jobs@recordlinc.com">Public Relations</a></div>
                    <div class="links"><a href="mailto:jobs@recordlinc.com">Send us your  resume</a></div>
                    <div class="clear"></div>
                </li>
                <li>
                	<div class="title"><a href="mailto:jobs@recordlinc.com">Implementation Specialist</a></div>
                    <div class="links"><a href="mailto:jobs@recordlinc.com">Send us your  resume</a></div>
                    <div class="clear"></div>
                </li>
                <li>
                	<div class="title"><a href="mailto:jobs@recordlinc.com">Training Specialist</a></div>
                    <div class="links"><a href="mailto:jobs@recordlinc.com">Send us your  resume</a></div>
                    <div class="clear"></div>
                </li>
                <li>
                	<div class="title"><a href="mailto:jobs@recordlinc.com">Product Management</a></div>
                    <div class="links"><a href="mailto:jobs@recordlinc.com">Send us your  resume</a></div>
                    <div class="clear"></div>
                </li>
                <li>
                	<div class="title"><a href="mailto:jobs@recordlinc.com">Product Development</a></div>
                    <div class="links"><a href="mailto:jobs@recordlinc.com">Send us your  resume</a></div>
                    <div class="clear"></div>
                </li>
            </ul>
            <div class="clear"></div>
         </div>
        </div>
        
        <div class="aside">
   		<a class="advert" href='@Url.Action("Index", "Signuptoday")'><img class="inline mb40" src="../Images/inner/great-place-to-work.jpg" alt="A Great Place to Work"></a>
        <a class="advert" href="Javascript:;" onclick="SearchDatabase()"><img class="inline" src="../Images/inner/search-database.jpg" alt="Grow your practice by expanding your professional network"></a>
        </div>
        
        <div class="clear"></div>
  </div>
</section>
<!-- InnerPage starts ends here -->