﻿@using DataAccessLayer.Common;
@{
    ViewBag.Title = "Latest News of Recordlinc - Dentist to Dentist Communication Tool";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}
<style type="text/css">
    #register-form label {
        color: #FB3A3A;
        margin: 5px 0 0 0;
    }
</style>
<style type="text/css">
    #txtCaptcha {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
</style>
<script type="text/javascript">
    (function ($, W, D) {
        var JQUERY4U = {};

        JQUERY4U.UTIL =
    {
        setupFormValidation: function () {
            //form validation rules
            jQuery.validator.addMethod("notEqual", function (value, element, param) {
                return this.optional(element) || value != param;
            }, "Please specify a different (non-default) value");


            $("#register-form").validate({
                rules: {
                    txtfirstname: {
                        required: true,
                        notEqual: "First Name"
                    },
                    txtlastname: {
                        required: true,
                        notEqual: "Last Name"
                    },
                    txtemail: {
                        required: true,
                        notEqual: "Email"
                    },
                    Phone: {
                        required: true,
                        notEqual: "Phone"
                    },
                    VerficationCode: {
                        required: true,
                        notEqual: "Captcha"
                    },
                },
                messages: {
                    txtfirstname: "Please enter first name",
                    txtlastname: "Please enter last name",
                    txtemail: "Please enter a valid email address",
                    Phone: "Please enter phone number",
                    VerficationCode: "Please enter captcha",

                },
                submitHandler: function (form) {
                   // form.submit();
                    ContactUs();
                }
            });
        }
    }

        //when the dom has loaded setup form validation rules
        $(D).ready(function ($) {

            JQUERY4U.UTIL.setupFormValidation();
        });

    })(jQuery, window, document);


    $(function () {

        // For Phone
        $('#txtphone').focus(function () {
            if (document.getElementById('txtphone').value == 'Phone') {
                $('#txtphone').mask({ mask: '(999) 999-9999' });
            }

        });
        $('#txtphone').blur(function () {
            if (document.getElementById('txtphone').value == '' || document.getElementById('txtphone').value == '(___) ___-____') {
                document.getElementById('txtphone').setAttribute('placeholder', 'Phone');

            }


        });

        //Email
        $('#txtemail').focus(function () {
            if (document.getElementById('txtemail').value == 'Email') {
                document.getElementById('txtemail').value = '';
            }

        });
        $('#txtemail').blur(function () {
            if (document.getElementById('txtemail').value == '') {
                document.getElementById('txtemail').value = 'Email';

            }


        });

        //First Name
        $('#txtfirstname').focus(function () {
            if (document.getElementById('txtfirstname').value == 'First Name') {
                document.getElementById('txtfirstname').value = '';
            }

        });
        $('#txtfirstname').blur(function () {
            if (document.getElementById('txtfirstname').value == '') {
                document.getElementById('txtfirstname').value = 'First Name';

            }


        });


        //Last Name
        $('#txtlastname').focus(function () {
            if (document.getElementById('txtlastname').value == 'Last Name') {
                document.getElementById('txtlastname').value = '';
            }

        });
        $('#txtlastname').blur(function () {
            if (document.getElementById('txtlastname').value == '') {
                document.getElementById('txtlastname').value = 'Last Name';

            }


        });


        //comments
        $('#txtcomments').focus(function () {
            if (document.getElementById('txtcomments').value == 'Comments') {
                document.getElementById('txtcomments').value = '';
            }

        });
        $('#txtcomments').blur(function () {
            if (document.getElementById('txtcomments').value == '') {
                document.getElementById('txtcomments').value = 'Comments';

            }


        });



        //comments
        $('#txtverificationcode').focus(function () {
            if (document.getElementById('txtverificationcode').value == 'Captcha') {
                document.getElementById('txtverificationcode').value = '';
            }

        });
        $('#txtverificationcode').blur(function () {
            if (document.getElementById('txtverificationcode').value == '') {
                document.getElementById('txtverificationcode').value = 'Captcha';

            }


        });
    });



    function CharactersOnlytxtfirstname() {
        var charactersOnly = IsCharactersOnly(document.getElementById('txtfirstname').value);
        if (charactersOnly == false) {
            //alert('Allow characters only');
            swal({ title: "", text: 'Allow characters only' });
            document.getElementById('txtfirstname').value = '';
        }
    }

    function CharactersOnlytxtlastname() {
        var charactersOnly = IsCharactersOnly(document.getElementById('txtlastname').value);
        if (charactersOnly == false) {
            //alert('Allow characters only');
            swal({ title: "", text: 'Allow characters only' });
            document.getElementById('txtlastname').value = '';
        }
    }

    $(document).click(function () {
        $('#txtCaptcha').css('color', 'black');
    });
</script>
<div id="fb-root">
</div>
<!--Tabs -->
<script src="../../Content/js/tabs.js"></script>
<link rel="stylesheet" href="../../Content/css/tabsouter.css" type="text/css" media="screen">
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    $(function () {
        DrawCaptcha();

        $("#btnsave").click(function () {

            if ($('#txtverificationcode').val() != "Captcha") {
                var str1 = removeSpaces($('#txtCaptcha').val());
                var str2 = removeSpaces($('#txtverificationcode').val());

                if (str1 != str2) {
                    // alert('The Captcha Code you entered is invalid.');
                    swal({ title: "", text: 'The captcha code you have entered is invalid' });
                    return false;
                }
            }

            if ($('#txtphone').val() != "Phone") {
                var phone = $('#txtphone').val();
                var RegExEmail = /^(?:\([2-9]\d{2}\)\ ?|[2-9]\d{2}(?:\-?|\ ?))[2-9]\d{2}[- ]?\d{4}$/;
                if (!RegExEmail.test(phone)) {
                    // alert("Please enter valid phone number");
                    swal({ title: "", text: 'Please enter valid phone number' });
                    return false;
                }

            }

            if ($('#txtemail').val() != "Email") {
                var result = IsEmail($("#txtemail").val());
                //  alert(result);
                if (result != true) {
                    //alert("Please enter a valid email address");
                    swal({ title: "", text: 'Please enter a valid email address' });
                    return false;
                }


            }
        });
    });

    function DrawCaptcha() {
        var chars = "0123456789ABCDEFGHIJKLMNOPQRSTUVWXTZabcdefghiklmnopqrstuvwxyz";
        var string_length = 4;
        var randomstring = '';
        for (var i = 0; i < string_length; i++) {
            var rnum = Math.floor(Math.random() * chars.length);
            randomstring += ' ' + chars.substring(rnum, rnum + 1);
        }
        document.getElementById("txtCaptcha").value = randomstring
    }

    // Remove the spaces from the entered and generated code
    function removeSpaces(string) {
        return string.split(' ').join('');
    }

    function ContactUs() {
        $("#divLoading").show();

        $.ajaxSetup({ async: false });


        $.post("/ContactUs/ContactUs", { FirstName: $("#txtfirstname").val(), LastName: $("#txtlastname").val(), Email: $("#txtemail").val(), Phone: $("#txtphone").val(), Message: $("#txtcomments").val() }, function (data) {
            if (data == "1") {
                swal({
                    title: "",
                    text: "Your mail has been sent successfully -Thank You",
                    type: "success",
                    closeOnConfirm: true,
                },
                    function () {
                        window.location.reload();
                });
                //swal({
                //    title: "",
                //    text: "Referral sent successfully",
                //    type: "success",
                //    closeOnConfirm: true,
                //},
                //    function () {
                //        var PatientId = getParameterByName('PatientId');
                //        var DoctorId = getParameterByName('DoctorId');

                //        if (PatientId > 0 && DoctorId > 0) {
                //            location.href = "/Appointment?PatientId=" + PatientId + "&DoctorId=" + DoctorId;
                //        }
                //    });
               
                //alert('Your Mail has been sent Successfully -Thank You');
                //swal({ title: "", text: 'Your mail has been sent successfully -Thank You', type: 'success' });

            }
            else {
                //alert('Send failure:' + data);
                swal({ title: "", text: 'Failed to send mail', type:'error' });
            }
        });

        $("#divLoading").hide();


        $.ajaxSetup({ async: true });
    }

</script>
<!-- InnerPage starts here -->
<section id="inner">
    <div class="container" style="text-align:justify;">
        <div class="content">
            <h2 class="title">RecordLinc in the News</h2>
            <div class="textpanel recordlinc_news">
                <ul class="news">
                    <li>
                        <div class="thumb"><a href='@Url.Action("Index", "Dentrix")'><img src="../../Images/inner/recordlinc-dentrix.png" alt="Dentrix And RecordLinc Press Release"></a></div>
                        <div class="text">
                            <h5><a href='@Url.Action("Index", "Dentrix")'>Dentrix and RecordLinc Press Release</a></h5>
                            <p>The World`s Largest Professional Dental Network is Certified for Dentrix G5 Connected Program.</p>
                        </div>
                        <div class="clear"></div>
                    </li>
                    <li>
                        <div class="thumb"><a href="//www.drbicuspid.com/index.aspx?d=1&sec=sup_n&sub=img&pag=dis&itemId=308810" target="_blank"><img src="../../Images/inner/adversity.jpg" alt="Adversity"></a></div>
                        <div class="text">
                            <h5><a href="//www.prweb.com/releases/2012/10/prweb10018768.htm" target="_blank">RecordLinc has been called "the Facebook of dentistry". Find Colleagues.</a></h5>
                            <p>Posted October 16, 2012 by Dr. Greg</p>
                        </div>
                        <div class="clear"></div>
                    </li>
                    <li>
                        <div class="thumb"><a href="//dentechblog.blogspot.in/2011/11/recordlinc-enables-sharing-of-patient.html" target="_blank"><img src="../../Images/inner/professional-network.jpg" alt="Professional Network"></a></div>
                        <div class="text">
                            <h5><a href="//dentechblog.blogspot.in/2011/11/recordlinc-enables-sharing-of-patient.html" target="_blank">RecordLinc Enables Sharing of Patient Dental Records to Maximize Quality of Patient Care</a></h5>
                            <p>November 8, 2013 by Dr. Marty Jablow DMD</p>
                        </div>
                        <div class="clear"></div>
                    </li>
                    <li>
                        <div class="thumb"><a href="//www.dentalcompare.com/Featured-Articles/128034-Emmott-On-Technology-Sending-Dental-Patients-to-a-Specialist-Without-Sending-Paper/" target="_blank"><img src="../../Images/inner/online-information.jpg" alt="Online Information"></a></div>
                        <div class="text">
                            <h5><a href="//www.dentalcompare.com/Featured-Articles/128034-Emmott-On-Technology-Sending-Dental-Patients-to-a-Specialist-Without-Sending-Paper/" target="_blank">Emmott On Technology: Sending Dental Patients to a Specialist Without Sending Paper</a></h5>
                            <p>January 17, 2013 by Dentalcompare</p>
                        </div>
                        <div class="clear"></div>
                    </li>
                    <li>                            @* Works on Https *@
                        <div class="thumb"><a href="//www.dentistryiq.com/articles/2011/11/recordlinc.html" target="_blank"><img src="../../Images/inner/dentistry.jpg" alt="Dentistry"></a></div>
                        <div class="text">@* Works on Https *@
                            <h5><a href="//www.dentistryiq.com/articles/2011/11/recordlinc.html" style="text-align:initial;" target="_blank">DentistryIQ - Silicon Vallet, California RecordLinc &nbsp; Inc., a company</a></h5>
                            <p>November 2011</p>
                        </div>
                        <div class="clear"></div>
                    </li>

                    <li class="action" style="display:none;"><input class="showmore" name="Show More" type="button" value="Show More"></li>
                </ul>
            </div>
        </div>

        <div class="aside">
            <div class="contactus inline">
                <h3><span>Contact</span> Us</h3>
                <form action="" method="post" id="register-form">
                    <ul>
                        <li><input class="textfield" id="txtfirstname" name="txtfirstname" type="text" value="First Name" onkeyup="CharactersOnlytxtfirstname()"></li>
                        <li><input class="textfield" id="txtlastname" name="txtlastname" type="text" value="Last Name" onkeyup="CharactersOnlytxtlastname()"></li>
                        <li><input class="textfield" name="Phone" id="txtphone" type="text" value="Phone"></li>
                        <li><input class="textfield" id="txtemail" name="txtemail" type="text" value="Email"></li>
                        <li><textarea name="Comments" id="txtcomments" cols="" rows="5">Comments</textarea></li>
                        <li><input class="textfield" id="txtverificationcode" name="VerficationCode" type="text" value="Captcha"></li>
                        <li class="verification">
                            <div class="text">
                                Type exactly as shown.
                                <a href='javascript:;' onclick="DrawCaptcha()">Change Captcha</a>
                            </div>

                            <div class="image">
                                <input type="text" id="txtCaptcha" style="background-image: url(/images/captchaimag.jpg);
                                                    height: 15px; text-align: center; border: none; font-weight: normal; font-family: fantasy;
                                                    font-size: large;width:80px;color:Black;padding: 10px;" readonly="readonly" />
                            </div>
                            <div class="clear"></div>
                        </li>
                        <li class="action"><input class="submit" name="Submit" type="submit" value="Submit" id="btnsave"></li>
                    </ul>
                </form>
            </div>

            <div class="social_tabs inline">
                <!-- dont add any space between these containers as they are displayed inline, design will break on small devices-->
                <div class="usual" id="usual1">
                    <ul>
                        <li><a href="#tab1" class="selected">Facebook</a></li>
                        <li><a href="#tab2" class="">Twitter</a></li>
                        <li><a href="#tab3" class="">Blog</a></li>
                    </ul>

                    <div id="tab1" style="display: block;">
                        <div class="fb-like-box" data-href="@Session["CompanyFacebook"]" data-height="450" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="true" data-show-border="false"></div>
                        <div class="bottom"> <a href="@Session["CompanyBlog"]" class="classname" ="more" target="_blank">Go to our Blog</a> <span class="clr"></span> </div>
                    </div>
                    <div id="tab2" style="display: none;">
                        <a class="twitter-timeline" href="@Session["CompanyTwitter"]" data-widget-id="394796856934289408">Tweets by recordlinc</a>
                        <script>    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
                        <div class="bottom"> <a href="@Session["CompanyBlog"]" target="_blank" class="more">Go to our Blog</a> <span class="clr"></span> </div>
                    </div>
                    <div id="tab3" style="display: none;">
                        <script type="text/javascript" src="http://output70.rssinclude.com/output?type=js&amp;id=816713&amp;hash=2a5fc2680d41a0129d87452aba545762"></script>
                        <div class="bottom"> <a href="@Session["CompanyBlog"]" target="_blank" class="more">Go to our Blog</a> <span class="clr"></span> </div>
                    </div>
                </div>
                <script type="text/javascript">
                    $("#usual1 ul").idTabs();
                </script>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>
<!-- InnerPage starts ends here -->
