﻿@{
    ViewBag.Title = "Meet Recordlinc Team – Dental Management Software";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

<!-- InnerPage starts here -->
<section id="inner">
	<div class="container" style="text-align:justify;">    
    		
        <div class="content">
        	<h2 class="title">Team</h2>
            <div class="textpanel team">
            	<ul class="news">
                    <li>
                    	<div class="thumb"><img src="../images/inner/travis.jpg" alt="Travis"></div>
                        <div class="text">
                        	<h2>Travis Rodgers<span>Founder</span></h2>                            
                            <p>
                           Prior to RecordLinc, Mr. Rodgers founded start-ups, BrightWhite Teeth-Whitening, Mustang Technology Inc. (sold 1997), Talent Roundtable, and PLM Solutions. He was an integral force to take both Taleo public and in selling VirtualEdge to ADP Inc. in 2006. He has been selling and marketing software for almost 20 years for companies including IBM, Oracle, ADP, VirtualEdge, and Taleo. He graduated from Cal Poly, San Luis Obispo Business School with an emphasis in marketing and entrepreneurship. As a seasoned entrepreneur, Mr. Rodgers has been active and successful in building businesses; forming, financing, and staffing new companies, growing them into revenue generating enterprises, and taking them to liquidity.
                            </p>
                        </div>
                        
                        <div class="clear"></div>
                    </li>
                    <li>
                        <div class="thumb"><img src="~/Images/inner/david-schwab.jpg" alt="David"/></div>
                        <div class="text">
                            <h2>Dr. David Schwab<span>Vice-President (Ph.D.)</span></h2>
                            <p>
                                David Schwab, Ph.D., helps dentists grow their practices, educate their patients, and train their teams so that the practices will be more profitable. An internationally known seminar speaker, Dr. Schwab presents practical, user-friendly practice management and marketing seminars.  Dr. Schwab also works extensively with referral based practices to help dental specialists develop and maintain strong referral relationships.   He works with specialists and small groups of general dentists to systematize referrals, develop outreach programs to attract more referral sources, and emphasize the importance of interdisciplinary treatment.  Dr. Schwab has served as Director of Marketing for the American Dental Association and as Executive Director of the American College of Prosthodontists.  He has also worked with numerous dental schools, major corporations, and private dental practices.  Dr. Schwab holds a Ph.D. in English from Northwestern University.  A native of New Orleans, he currently lives in the Orlando, Florida area with his wife and two children.
                            </p>
                        </div>

                        <div class="clear"></div>
                    </li>
                    <li>
                        <div class="thumb"><img src="../Images/inner/greg.jpg" alt="Dr. Greg Burnett"></div>
                        <div class="text">
                            <h2>Dr. Greg Burnett<span>Founder (Orthodontist)</span></h2>
                            <p>
                                Dr. Burnett is a practicing orthodontist in Los Gatos, California. Dr. Burnett was one of the first orthodontists in Northern California to implement the "Paperless Practice". Dr. Burnett attended the University of California, Santa Barbara for his undergraduate studies. He graduated from the University of the Pacific, School of Dentistry in 1992 and received his orthodontic Certificate from New York University in 1994.
                            </p>
                        </div>

                        <div class="clear"></div>
                    </li>
                    <li>
                    	<div class="thumb"><img src="../Images/inner/joe.jpg" alt="Joe Rodgers"></div>
                        <div class="text">
                        	<h2>Joe Rodgers<span>Founder and Chairman</span></h2>                            
                            <p>
                            Since July 1996 Joe Rodgers has been doing venture investing in pre-public companies that are focused on telecommunications, Internet and software. He was the executive vice president, finance of Quantum Corporation from December 1980 to July 1996. Prior to Quantum be was a director and the vice president, finance of Braegen Corporation, assistant vice president, finance for Plantronics Corporation, and vice president, finance of Consolidated Video Systems. His experience also includes nine years at Price Waterhouse. He graduated in 1964 with a B.S. in accounting from Florida State University and is a C.P.A. in California.
                            </p>
                        </div>
                        
                        <div class="clear"></div>
                    </li>
                    
                    <li>
                    	<div class="thumb"><img src="../Images/inner/william.jpg" alt="Dr. William (Bruce) Bohannan"></div>
                        <div class="text">
                        	<h2>Dr. William (Bruce) Bohannan<span>Founder (Oral Surgeon)</span></h2>                            
                            <p>
                            Dr. William Bohannan earned his Bachelors Degree in Physiology from the University of California at Davis in 1988. After his undergraduate studies, he received his DDS degree from the University of the Pacific School of Dentistry in 1992, where he graduated with high honors, and an MD from University of Missouri in 1996 where he graduated with distinction. While attending the University of Missouri, he completed his residency in Oral and Maxillofacial Surgery and General Surgery Internship in 1997 and received the "Resident of the Year" award at Truman Medical Center two years consecutively. He became Board Certified in March of 2000. He was the past chairman of the Oral and Maxillofacial surgery department at Mills-Peninsula hospital from 2004-2007.  Dr. Bohannan maintains a private practice in San Jose and Burlingame, California.
                            </p>
                        </div>
                        
                        <div class="clear"></div>
                    </li>
                    
                    <li>
                    	<div class="thumb"><img src="../Images/inner/quang.jpg" alt="Dr. Loc Quang Huynh"></div>
                        <div class="text">
                        	<h2>Dr. Loc Quang Huynh<span>Advisory Board (General Dentist)</span></h2>                            
                            <p>
                            Dr. Huynh is a Fellow of the International Congress of Implantologists (FICOI).   He received his Bachelor’s in Molecular and Cell Biology at U.C. Berkeley and a Doctor of Dental Medicine (D.M.D.) degree at University of Pittsburgh School of Dental Medicine in Pennsylvania.  He completed his post-graduate residency in Advanced Education in General Dentistry (A.E.G.D) at University of California in San Francisco (UCSF). Dr. Huynh achieved multiple clinical research and clinical performance rewards during his dental school and residency. He is also a recipient of undergraduate and graduate alumni scholarships. He was the former Silicon Valley District Dental Director of SmileCare Inc (bought by Coast Dental Inc) from 2006 until 2008. Dr. Huynh has been practicing dentistry in El Cerrito and Hayward California for ten years.  He is well-trained in all aspects of general dentistry.  He has enjoyed mentoring, teaching and educating inexperienced dentists over the years. He is married and enjoys raising one son. He loves painting, drawing and is a big fan and good player of soccer, table tennis and golf.
                            </p>
                        </div>
                        
                        <div class="clear"></div>
                    </li>
                    
                    <li>
                    	<div class="thumb"><img src="../Images/inner/charles.jpg" alt="Dr. Charles Drury"></div>
                        <div class="text">
                        	<h2>Dr. Charles Drury<span>Advisory Board (General Dentist)</span></h2>                            
                            <p>
                            Dr. Drury earned a Bachelor of Science in Psychobiology (Neuroscience) at UC Riverside. While at UCR he also attended UCLA where he received his Emergency Medical Technician-1 certification in 1995. In 2001 he received his DDS from University of the Pacific. In 2002 he completed his Advanced Education in General Dentistry residency at UOP. He was elected a Fellow in the American Academy of General Dentistry in 2008. Dr. Drury maintains a general dentistry practice in San Diego County.
                            </p>
                        </div>
                        
                        <div class="clear"></div>
                    </li>
                    
                </ul>
            </div>
            
        </div>
        
        <div class="aside">
   	   		<a class="advert" href='@Url.Action("Index", "FreeToPaid")'><img class="inline mb40 border" src="../Images/inner/recordlinc-pro.jpg" alt="RecordLic Pro at $47 for limited time"></a><a class="advert" href="Javascript:;" onclick="SearchDatabase()"><img class="inline" src="../Images/inner/search-database.jpg" alt="Grow your practice by expanding your professional network"></a>
        </div>
        
        <div class="clear"></div>        
  </div>
</section>
<!-- InnerPage starts ends here -->