﻿
@{
    ViewBag.Title = "Career at Recordlinc – Dental Management Systems";
    Layout = "~/Views/Shared/NewSiteLayout.cshtml";
}

<main id="main">
    <div class="page_haading_holder">
        <div class="container navigation_container">
            <div class="row navigation_row">
                <div class="col-xs-12">
                    <div class="page_heading">
                        <h1>Career</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="investment-packages-main-bg about-us">

        <div class="block-investment-table plane_pricing_table">
            <div class="container">

                <div class="row">
                    <div class="col-md-12">
                        <div class="block-facilities careers team-wrap-bg">
                            <h2>We’re Hiring!</h2>
                            <h3>Here is what you can expect if you work at Recordlinc</h3>
                            <ul class="list-holder list-unstyled">
                                <li><span class="circle"><i class="icon-chevron-small-right"></i></span>Being customer centric</li>
                                <li><span class="circle"><i class="icon-chevron-small-right"></i></span>Our commitment to delivering service excellence</li>
                                <li><span class="circle"><i class="icon-chevron-small-right"></i></span>Being a performance-based organization</li>
                            </ul>
                            <p>Based in San Francisco, RecordLinc was founded in 2002 and remains a privately owned, rapidly growing company. RecordLinc is an innovative, diverse and growing company, focused on delivering service excellence for our clients. We are looking for talented and career-oriented individuals to join us.</p>
                        </div>
                        <div class="job-title">
                            <h4>Job Title</h4>
                            <div class="row content">
                                <div class="col-md-8 col-sm-8">
                                    <span>Regional Sales</span>
                                </div>
                                <div class="col-md-4 col-sm-4 text-right">
                                    <a href="mailto:jobs@recordlinc.com" class="send">Send Us Resume</a>
                                </div>
                            </div>
                            <div class="row content">
                                <div class="col-md-8 col-sm-8">
                                    <span>Inside Sales</span>
                                </div>
                                <div class="col-md-4 col-sm-4 text-right">
                                    <a href="mailto:jobs@recordlinc.com" class="send">Send Us Resume</a>
                                </div>
                            </div>
                            <div class="row content">
                                <div class="col-md-8 col-sm-8">
                                    <span>Customer Service</span>
                                </div>
                                <div class="col-md-4 col-sm-4 text-right">
                                    <a href="mailto:jobs@recordlinc.com" class="send">Send Us Resume</a>
                                </div>
                            </div>
                            <div class="row content">
                                <div class="col-md-8 col-sm-8">
                                    <span>Verification Representative</span>
                                </div>
                                <div class="col-md-4 col-sm-4 text-right">
                                    <a href="mailto:jobs@recordlinc.com" class="send">Send Us Resume</a>
                                </div>
                            </div>
                            <div class="row content">
                                <div class="col-md-8 col-sm-8">
                                    <span>Marketing</span>
                                </div>
                                <div class="col-md-4 col-sm-4 text-right">
                                    <a href="mailto:jobs@recordlinc.com" class="send">Send Us Resume</a>
                                </div>
                            </div>
                            <div class="row content">
                                <div class="col-md-8 col-sm-8">
                                    <span>Public Relations</span>
                                </div>
                                <div class="col-md-4 col-sm-4 text-right">
                                    <a href="mailto:jobs@recordlinc.com" class="send">Send Us Resume</a>
                                </div>
                            </div>
                            <div class="row content">
                                <div class="col-md-8 col-sm-8">
                                    <span>Implementation Specialist</span>
                                </div>
                                <div class="col-md-4 col-sm-4 text-right">
                                    <a href="mailto:jobs@recordlinc.com" class="send">Send Us Resume</a>
                                </div>
                            </div>
                            <div class="row content">
                                <div class="col-md-8 col-sm-8">
                                    <span>Training Specialist</span>
                                </div>
                                <div class="col-md-4 col-sm-4 text-right">
                                    <a href="mailto:jobs@recordlinc.com" class="send">Send Us Resume</a>
                                </div>
                            </div>
                            <div class="row content">
                                <div class="col-md-8 col-sm-8">
                                    <span>Product Management</span>
                                </div>
                                <div class="col-md-4 col-sm-4 text-right">
                                    <a href="mailto:jobs@recordlinc.com" class="send">Send Us Resume</a>
                                </div>
                            </div>
                            <div class="row content">
                                <div class="col-md-8 col-sm-8">
                                    <span>Product Development</span>
                                </div>
                                <div class="col-md-4 col-sm-4 text-right">
                                    <a href="mailto:jobs@recordlinc.com" class="send">Send Us Resume</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="block-links">
        <div class="container">
            <div class="col">
                <a href="@Url.Action("News", "Aboutus")">
                    <i class="icon"><img src="~/Content/css/HomePage/images/new/img43.png" alt="image description"></i>
                    <span class="text">News</span>
                </a>
            </div>
            <div class="col">
                <a href="@Url.Action("HIPAA", "Faq")">
                    <i class="icon"><img src="~/Content/css/HomePage/images/new/img44.png" alt="image description"></i>
                    <span class="text">HIPAA <br>Compliance</span>
                </a>
            </div>
            <div class="col">
                <a href="@Url.Action("Index", "Faq")">
                    <i class="icon"><img src="~/Content/css/HomePage/images/new/img45.png" alt="image description"></i>
                    <span class="text">FAQ</span>
                </a>
            </div>
            <div class="col">
                <a href="@Url.Action("Index", "Quicktour")">
                    <i class="icon"><img src="~/Content/css/HomePage/images/new/img43.png" alt="image description"></i>
                    <span class="text">Demo</span>
                </a>
            </div>
        </div>
    </div>
</main>



