﻿@model List<BO.Models.ZipwhipAccount>
@{
    ViewBag.Title = "SMS Configuration";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    var model = ViewBag.LocationList;
}
<style>
    .requiredcls {
        color: #FF0000;
    }

    #errmsg {
        color: red;
    }

    .exmphone {
        font-size: 11px;
        color: gray;
    }
    .atag{
        color: #0087c0 !important;
    }

</style>
<div class="container">
    <div class="new-case case-overview account_page security">
        <div class="col-lg-12 ">
            <div id="wizard">
                @Html.Partial("_PartialHorizontalMenuProfile", "Settings")
                <input type="hidden" id="hdnloginuser" value="@SessionManagement.UserId" />
                <div class="tab-pane" role="tabpanel" id="SMSConfiguration">
                    <form>
                        <div class="row btm-margin-30 referral">
                            <div class="col col-lg-12">
                                <div class="btn-group">
                                    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#add_sms_step1" onclick="ClearPopupValue();" >Add</a>
                                </div>
                            </div>
                        </div>
                        <div class="row mrgn-btm-20">
                            <div class="col-lg-12">
                                <table class="table table3 filtered-table">
                                    <thead class="thead-inverse">
                                        <tr>
                                            <th> Location </th>
                                            <th> Account Name </th>
                                            <th> Zipwhip Number  </th>
                                            <th> Email </th>
                                            <th> Token </th>
                                            <th> Is Active </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null && Model.Count() > 0)
                                        {
                                            foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td data-th="Location">@Html.Raw(@item.Location)</td>
                                                    <td data-th="Account Name">@item.ProviderConfig.accountname</td>
                                                    <td data-th="Phone Number">@item.ProviderConfig.username</td>
                                                    <td data-th="Email"><a class="atag" href="mailto:@item.ProviderConfig.email">@item.ProviderConfig.email</a></td>
                                                    <td data-th="Tokan">@item.ProviderConfig.session</td>
                                                    <td data-th="Tokan">@item.IsActive</td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="6"><center>No records found.</center> </td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="add_sms_step1" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header blue-bg">
                <button type="button" class="close close-circle" data-dismiss="modal">&times;</button>
                <h3 class="modal-title white">Zipwhip Sign Up</h3>
            </div>
            <div class="modal-body">
                <div class="">
                    <div class="form-group btm-margin-20">
                        <label>Location:<font color="red">*</font></label>
                        <div class="dropdown latest_dropdown">
                            <select id="locationid" class="form-control" onchange="GetAddressDetail(this.value)">
                                <option data-id="0" value="">--Select--</option>
                                @if (model != null)
                                {
                                    foreach (var item in model)
                                    {
                                        string loc = "(Secondary)";
                                        if (Model != null && Model.Count() > 0)
                                        {
                                            int id = Convert.ToInt32(item.AddressInfoId);
                                            if (Model.Where(a => a.LocationId == id).Count() == 0)
                                            {
                                                if (item.ContactType == 1)
                                                {
                                                    loc = "(Primary)";
                                                }

                                                <option data-id="@item.ContactType" value="@item.AddressInfoId">@item.Location @loc</option>
                                            }

                                        }
                                        else
                                        {
                                            if (item.ContactType == 1)
                                            {
                                                loc = "(Primary)";
                                            }
                                            <option data-id="@item.ContactType" value="@item.AddressInfoId">@item.Location @loc</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group btm-margin-20">
                        <label>Account Name:<font color="red">*</font></label>
                        <input type="text" id="txtaccountname" maxlength="50" class="form-control">
                    </div>
                    <div class="form-group btm-margin-20">
                        <label>Email:<font color="red">*</font> </label>
                        <input type="text" id="txtemailaddress" maxlength="50" class="form-control">
                    </div>
                    <div class="form-group btm-margin-20">
                        <label>Zipwhip Number:<font color="red">*</font></label>
                        <input type="text" id="txtzipwhipnumber" maxlength="12" class="form-control"> &nbsp;
                        <span class="exmphone">Example: 1630**18**3 </span>&nbsp;
                        <span id="errmsg"></span>
                    </div>
                    <p class="mr-0 alert-success"> </p>
                    <p class="mr-0 alert-danger"> </p>
                </div>
            </div>
            <div class="modal-footer bdr-top-no">
                <div class="btn-group btn-holder">
                    <button type="button" id="btncreateaccount" onclick="CheckEligible()/*InsertProviderConfig()*/;" class="btn btn-default btn2 blue-bg mrgn-right-0">Create Account</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/ControllerJS/Settings/ZipwhipSettings.js"></script>
