@import 'jcf.css';

@font-face {
    font-family: 'Glyphter';
    src: url('../fonts/Glyphter.eot');
    src: url('../fonts/Glyphter.eot?#iefix') format('embedded-opentype'), url('../fonts/Glyphter.woff') format('woff'), url('../fonts/Glyphter.ttf') format('truetype'), url('../fonts/Glyphter.svg#Glyphter') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class*='icon-']:before {
    display: inline-block;
    font-family: 'Glyphter';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-advertise:before {
    content: '\0041';
}

.icon-approve:before {
    content: '\0042';
}

.icon-burger-menu:before {
    content: '\0043';
}

.icon-dashboard:before {
    content: '\0044';
}

.icon-delete:before {
    content: '\0045';
}

.icon-down_arrow_top:before {
    content: '\0046';
}

.icon-edit:before {
    content: '\0047';
}

.icon-help:before {
    content: '\0048';
}

.icon-influencers:before {
    content: '\0049';
}

.icon-info:before {
    content: '\004a';
}

.icon-left-bar-arrow:before {
    content: '\004b';
}

.icon-menu:before {
    content: '\004c';
}

.icon-payments:before {
    content: '\004d';
}

.icon-promotion:before {
    content: '\004e';
}

.icon-search:before {
    content: '\004f';
}

.icon-setting:before {
    content: '\0050';
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

* {
    max-height: 1000000px;
}

.img-profile img {
    height: 50px;
    width: 50px;
}

.bg-img {
    position: absolute;
    top: 10px;
    left: 50%;
    width: 1600px;
    margin: 0 0 0 -800px;
    opacity: 0.5;
    pointer-events: none;
    z-index: 9999;
}

html, body, #wrapper {
    min-height: 100vh;
}

body {
    margin: 0;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: none;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    min-width: 320px;
    color: #2d3345;
    font-size: 16px;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display: block;
}

img {
    border-style: none;
}

a {
    text-decoration: none;
    color: #7f7f7f;
    outline: none;
}

    a:hover {
        text-decoration: underline;
    }

input, textarea, select {
    font: 100% 'Open Sans', Arial, Helvetica, sans-serif;
    vertical-align: middle;
    color: #000;
}

textarea {
    overflow: auto;
    resize: vertical;
    vertical-align: top;
}

form, fieldset {
    margin: 0;
    padding: 0;
    border-style: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
    *overflow: visible;
}

input[type="search"] {
    -webkit-appearance: none;
}

    input[type="search"]::-webkit-search-cancel-button {
        -webkit-appearance: none;
    }

    input[type="search"]::-webkit-search-decoration {
        display: none;
    }

q {
    quotes: none;
}

    q:before, q:after {
        content: '';
        content: none;
    }

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

p {
    margin: 0 0 1.2em;
}

input[type=submit], input[type=reset], button[type=submit], button[type=reset], button, a, .insta_gram_icon .fa {
    transition: color 0.35s ease, background 0.35s ease, opacity 0.35s ease;
    -webkit-transition: color 0.35s ease, background 0.35s ease, opacity 0.35s ease;
}

a {
    color: #193962;
}

.icon-menu {
    font-size: 29px;
    color: #193962;
}

    .icon-menu:hover {
        color: #0991c5;
    }

.icon-down_arrow_top {
    padding: 0 15px;
    color: #5b636a;
    font-size: 14px;
}

.icon-search {
    color: #0c92c5;
    font-size: 25px;
}

.btn {
    padding: 0;
}

.container {
    width: 100%;
}

.form-control::-moz-placeholder {
    color: #bbbfc4;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: #bbbfc4;
}

.form-control::-webkit-input-placeholder {
    color: #bbbfc4;
}

.adminUser_area.list-inline li.search .navbar-form .input-group:hover .form-control::-moz-placeholder {
    color: #fff;
    opacity: 1;
}

.adminUser_area.list-inline li.search .navbar-form .input-group:hover .form-control:-ms-input-placeholder {
    color: #fff;
}

.adminUser_area.list-inline li.search .navbar-form .input-group:hover .form-control::-webkit-input-placeholder {
    color: #fff;
}

#wrapper {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

.top-section {
    background: #fff;
    padding: 20px 10px;
    border-bottom: 1px solid #d8dde1;
}

    .top-section .col-sm-4 a {
        display: inline-block;
        float: none;
        vertical-align: middle;
        margin-right: 45px;
        height: 50px;
        padding-top: 6px;
    }

        .top-section .col-sm-4 a + a {
            margin-right: 0;
        }

        .top-section .col-sm-4 a .nav-icon-img {
            padding-top: 10px;
        }

.sidebar-offcanvas {
    position: relative;
    background: #2d3345;
}

.admin_section #header {
    padding: 0;
    display: inline-block;
    vertical-align: top;
    max-width: 300px;
    width: 100%;
    background: #ddeefb;
    position: relative;
    z-index: 999;
    float: left;
}

    .admin_section #header:after {
        position: absolute;
        content: '';
        top: 100%;
        left: 0;
        right: 0;
        height: 9999px;
        background: #ddeefb;
    }

.adminMenu_holder .navbar-default .navbar-nav > li {
    display: block;
    margin: 0;
}

.adminMenu_holder .navbar-default .nav .recent-act-as {
    border-top: 1px solid #c1d7e8;
}

.adminMenu_holder .nav {
    padding-bottom: 150px;
}

.adminMenu_holder .navbar-default .nav .recent-act-as a {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    padding-bottom: 10px;
}

.adminMenu_holder .navbar-default .nav li span.close-btn-icon {
    margin-left: 20px;
}

.adminMenu_holder .navbar-default .nav .recent-act-e a {
    padding: 5px 25px 5px 82px;
}

.adminMenu_holder .navbar-collapse {
    padding: 0;
}

.adminMenu_holder .navbar-default .nav > li:last-child {
    border: 0;
}

.adminMenu_holder .navbar-default .nav > li > a, .dropdown-menu li.dropdown-submenu a {
    color: #37434e;
    font-size: 14px;
    line-height: 20px;
    padding: 25px;
}

    .adminMenu_holder .navbar-default .nav > li > a:hover:after {
        right: 16px;
    }

    .adminMenu_holder .navbar-default .nav > li.active > a, .adminMenu_holder .navbar-default .nav > li.active > a:hover, .adminMenu_holder .navbar-default .nav > li.active > a:focus, .adminMenu_holder .navbar-default .nav > li > a:hover, .adminMenu_holder .navbar-default .nav > li > a:focus, adminMenu_holder .navbar-default .nav > li.open > a, .adminMenu_holder .navbar-default .nav > li.open > a:hover, .adminMenu_holder .navbar-default .nav > li.open > a:focus, .dropdown-menu li.open a, .dropdown-menu li.open a.dropdown-toggle {
        color: #4babd1;
        background-color: #c3e3f7;
    }

.nav .open > a.dropdown-toggle, .nav .open > a.dropdown-toggle:focus, .nav .open > a.dropdown-toggle:hover {
    color: #fff !important;
    background-color: #5a6070;
}

    .nav .open > a.dropdown-toggle .caret {
        border-top: 5px dashed #fff;
    }

.adminMenu_holder .nav > li > a span {
    display: inline-block;
    vertical-align: middle;
}

    .adminMenu_holder .nav > li > a span.count {
        background: #c3e3f7;
        width: 40px;
        border-radius: 5px;
        text-align: center;
        line-height: 20px;
        color: #4babd1;
        font-size: 14px;
        margin-left: 20px;
        font-weight: 700;
    }

.adminMenu_holder .navbar-default .nav > li > a:hover span.count {
    background: #a3d8f9;
}

.adminMenu_holder .nav > li > a span.icon_holder {
    padding: 0 20px 0 0;
}

.adminMenu_holder .navbar {
    text-align: left;
}

.admin_section #main {
    min-height: 700px;
    background: #fff;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0;
    position: relative;
    vertical-align: top;
}

.admin_section #footer {
    background: #f3f5f7;
    padding: 17px 0 21px;
    bottom: 0;
    width: 100%;
    position: fixed;
}

    .admin_section #footer .copyright_area {
        text-align: center;
        color: #fff;
    }

        .admin_section #footer .copyright_area a {
            color: #fff;
        }

    .admin_section #footer ul {
        text-align: center;
        margin-bottom: 0;
        padding: 0;
    }

        .admin_section #footer ul li {
            display: inline-block;
            padding: 0 20px;
        }

            .admin_section #footer ul li a {
                color: #9aa6b7;
                font-size: 14px;
                font-weight: 400;
            }

.adminMenu_holder {
    /*padding:61px 0 0;*/
    position: relative;
}

#header .adminMenu_holder .logo {
    background: #fa8f31;
    display: block;
    left: 0;
    margin: 0;
    padding: 5px 5px 4px;
    position: fixed;
    top: 0;
    width: 230px;
    z-index: 99;
}

.active #header .adminMenu_holder .logo {
    width: 95px;
}

#header .navbar-default {
}

.adminMenu_holder .navbar-default {
    text-align: left;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    margin-bottom: 0;
    padding-top: 0;
}

    .adminMenu_holder .navbar-default .open > .dropdown-menu {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        border: medium none;
        border-radius: 0;
        color: #fff;
        display: block;
        float: none;
        margin: 0;
        padding: 0;
        position: relative;
    }

    .adminMenu_holder .navbar-default .open > .dropdown-menu {
        min-width: 100%;
    }

.admin_section .open .dropdown-menu > li > a {
    padding: 0 10px;
}

.caret {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px dashed #6a7080;
    margin: 5px 0 0;
}

.adminMenu_holder .navbar-default .nav > li.active > a .caret, .adminMenu_holder .navbar-default .nav > li.active > a:hover .caret, .adminMenu_holder .navbar-default .nav > li.active > a:focus .caret, .adminMenu_holder .navbar-default .nav > li > a:hover .caret, .adminMenu_holder .navbar-default .nav > li > a:focus .caret {
    border-top: 5px dashed #fff;
}

.admin_section.row-offcanvas-left.active .sidebar-offcanvas #header {
    width: 95px;
}

.admin_section.row-offcanvas-left.active .adminMenu_holder .nav > li > a span {
    display: none;
}

    .admin_section.row-offcanvas-left.active .adminMenu_holder .nav > li > a span.icon_holder {
        margin: 0 auto;
        text-align: center;
        display: block;
        padding: 0;
    }

.adminUser_area.list-inline {
    margin: 0;
    float: right;
}

    .adminUser_area.list-inline li {
        padding: 0;
        vertical-align: middle;
    }

        .adminUser_area.list-inline li.search a, .adminUser_area.list-inline li.search .navbar-form {
            display: inline-block;
        }

        .adminUser_area.list-inline li.search {
            padding: 0 25px;
            border-left: 1px solid #d8dde1;
            border-right: 1px solid #d8dde1;
        }

.for-res-as {
    display: none;
}

.adminUser_area.list-inline li.icons {
    padding: 0 10px;
}

    .adminUser_area.list-inline li.icons > a {
        padding: 0 15px;
        display: inline-block;
        line-height: 50px;
    }

.adminUser_area.list-inline li.search .navbar-form {
    padding: 0;
    margin: 0;
    border: 0 none;
}
    /*.adminUser_area.list-inline li.search .navbar-form .input-group:hover {
	background:#ddeefb;
}*/
    .adminUser_area.list-inline li.search .navbar-form .input-group {
    }

    .adminUser_area.list-inline li.search .navbar-form .form-control {
        background: none;
        border: 0;
        height: 48px;
        padding: 0;
        box-shadow: none;
        color: #bbbfc4;
    }

    .adminUser_area.list-inline li.search .navbar-form input::-webkit-input-placeholder:hover {
        color: #000;
    }

    .adminUser_area.list-inline li.search .navbar-form input::-moz-placeholder:hover {
        color: #000;
    }

    .adminUser_area.list-inline li.search .navbar-form input:-ms-input-placeholder:hover {
        color: #000;
    }

    .adminUser_area.list-inline li.search .navbar-form input:-moz-placeholder:hover {
        color: #000;
    }

.btn.btn-default:hover .icon-search {
    color: #000;
}
/*.adminUser_area.list-inline li.search .navbar-form .input-group:hover .form-control,
.adminUser_area.list-inline li.search .navbar-form .input-group:hover .btn.btn-default {
	color:#000;
	background: #ddeefb;
}*/
.adminUser_area.list-inline li.search .navbar-form .input-group:hover .input-group-btn {
    background: transparent;
}

.adminUser_area.list-inline li.search .navbar-form .input-group .btn-default:hover {
    background-color: transparent;
}

.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
    margin-left: 0;
    background: transparent;
}

.adminUser_area.list-inline li.search .navbar-form .form-control:focus {
    box-shadow: none;
}

li.search .icon-menu {
    position: relative;
    top: 10px;
}

.adminUser_area.list-inline li.icons.Setting.text-right {
    border-left: 0;
    width: auto;
}

    .adminUser_area.list-inline li.icons.Setting.text-right.dashboard-user {
        position: static;
    }
/*.adminUser_area.list-inline li.icons.Setting .dropdown-menu {
	margin-top: 16px;
}*/
.adminUser_area.list-inline li.Setting {
    vertical-align: middle;
    width: 160px;
    font-size: 14px;
    position: relative;
    color: #515961;
    font-weight: bold;
    border-left: 1px solid #d8dde1;
}

    .adminUser_area.list-inline li.Setting a:hover, .adminUser_area.list-inline li.Setting a:active, .adminUser_area.list-inline li.Setting a:focus {
        color: #515961;
        text-decoration: none;
    }

        .adminUser_area.list-inline li.Setting a:hover .icon-down_arrow_top {
            color: #515961;
        }

.admin_section .mainContent_hlder {
    background: #f1f1f1;
    padding: 20px;
}

    .admin_section .mainContent_hlder h1 {
        color: #2d3345;
        font-size: 20px;
        font-weight: normal;
        margin-bottom: 20px;
        margin-top: 0;
        text-transform: uppercase;
    }

.nopadding {
    margin: 0 !important;
    padding: 0 !important;
}

.admin_section .mainContent_hlder .value_box .col-lg-4 {
    background: #fff;
    margin-right: 2.1%;
    width: 31.9%;
    min-height: 200px;
    text-align: center;
}

    .admin_section .mainContent_hlder .value_box .col-lg-4 h1 {
        font-size: 60px;
        color: #2d3345;
        margin: 60px auto 20px;
        line-height: 48px;
    }

    .admin_section .mainContent_hlder .value_box .col-lg-4 span {
        font-size: 16px;
        color: #888a95;
    }

    .admin_section .mainContent_hlder .value_box .col-lg-4:last-child {
        margin: 0;
    }

.admin_section .mainContent_hlder .value_box .graph {
    min-height: 390px;
    background: #fff;
    margin-top: 20px;
    padding: 20px;
}

.Inntekter h1 {
    width: 300px;
    display: inline-block;
}

.admin_section .mainContent_hlder .value_box .graph img {
    margin: 0 auto;
    text-align: center;
    display: block;
    width: 100%;
}

hr {
    border-color: #e8e9ec;
    margin-top: 0;
}

.admin_section .mainContent_hlder .value_box .graph li span {
    color: #999da9;
    font-size: 14px;
    margin-right: 30px;
    padding-left: 30px;
}

.admin_section .mainContent_hlder .register, .admin_section .mainContent_hlder .advertise {
    background: #fff none repeat scroll 0 0;
    margin-left: 20px;
    min-height: 610px;
    padding: 20px 10px 20px 20px;
    width: 40.4%;
}

.admin_section .mainContent_hlder .value_box .graph li.siste span {
    background: url(../images/siste.png) no-repeat left center transparent;
}

.admin_section .mainContent_hlder .value_box .graph li.måned span {
    background: url(../images/måned.png) no-repeat left center transparent;
}

.admin_section .mainContent_hlder .value_box .graph li.alltid span {
    background: url(../images/alltid.png) no-repeat left center transparent;
    margin: 0;
}

.admin_section .mainContent_hlder .value_box .graph li.dag span {
    background: url(../images/dag.png) no-repeat left center transparent;
}

.admin_section .mainContent_hlder .value_box .graph li.uka span {
    background: url(../images/uka.png) no-repeat left center transparent;
}

.admin_section .mainContent_hlder .value_box .graph li.alltid.tid span {
    background: url(../images/tid.png) no-repeat left center transparent;
}

.admin_section .mainContent_hlder .advertise {
    min-height: 390px;
    margin-top: 20px;
}

    .admin_section .mainContent_hlder .advertise .boxes {
        padding: 0 50px;
        margin-top: 30px;
    }

        .admin_section .mainContent_hlder .advertise .boxes .col-lg-4 {
            margin-right: 5%;
            width: 30%;
            min-height: 210px;
        }

            .admin_section .mainContent_hlder .advertise .boxes .col-lg-4:last-child {
                margin-right: 0;
            }

            .admin_section .mainContent_hlder .advertise .boxes .col-lg-4.blue {
                background: #d8f0f4;
            }

            .admin_section .mainContent_hlder .advertise .boxes .col-lg-4.green {
                background: #e0f9ea;
            }

            .admin_section .mainContent_hlder .advertise .boxes .col-lg-4.orange {
                background: #fee9d6;
            }

            .admin_section .mainContent_hlder .advertise .boxes .col-lg-4 h1 {
                color: #2d3345;
                display: block;
                font-size: 48px;
                line-height: 48px;
                margin: 70px auto 10px;
                text-align: center;
                width: auto;
            }

        .admin_section .mainContent_hlder .advertise .boxes span {
            font-size: 16px;
            text-align: center;
            color: #888a95;
            display: block;
        }

.admin_section .dropdown-menu > li > a {
    color: #75808f;
    line-height: 45px;
    padding: 0 20px;
}

.admin_section .open .dropdown-menu > li > a i,
.admin_section .open .dropdown-menu > li > a img {
    padding: 0 26px 0 20px;
}

.admin_section .dropdown-menu:after {
    position: absolute;
    left: 57%;
    top: -13px;
    width: 20px;
    height: 13px;
    content: '';
    background: url('../images/triangle-img.png') no-repeat;
}

.admin_section .open > .dropdown-menu {
    background-color: #fff;
    border: medium none;
    box-shadow: none;
    right: -26px;
    float: left;
    margin-top: 0;
    position: absolute;
    box-shadow: -4px 4px 18px rgba(0, 0, 0, 0.16);
    border-radius: 0;
    left: auto;
    min-width: 270px;
    padding: 0;
    border: 1px solid #d4d9dd;
    top: 70px;
}

    .admin_section .open > .dropdown-menu.dashboard-drop {
        right: -5px;
        width: 472px;
        padding: 38px 42px;
    }

ul.right-arr-list {
    padding: 0;
    margin: 0 0 27px;
    list-style: none;
    font-size: 14px;
    line-height: 18px;
    color: #75808f;
    font-weight: 400;
}

    ul.right-arr-list li {
        display: block;
        margin: 0 0 18px;
    }

        ul.right-arr-list li a {
            color: #75808f;
            text-decoration: none;
            position: relative;
            padding: 0 0 0 20px;
            display: inline-block;
            vertical-align: top;
        }

            ul.right-arr-list li a:after {
                position: absolute;
                content: "\f105";
                font-family: FontAwesome;
                top: 0;
                left: 3px;
            }

            ul.right-arr-list li a:hover {
                color: #0890c4 !important;
            }

    ul.right-arr-list .fa {
        margin: 0 13px 0 3px;
    }

.blue {
    font-size: 16px;
    line-height: 20px;
    color: #0890c4;
    font-weight: 600;
    margin: 0 0 37px;
    text-transform: uppercase;
}

h5 {
    color: #515961;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    margin: 0 0 14px;
    text-transform: uppercase;
}

.admin_section .open > .dropdown-menu.dashboard-drop:after {
    left: 40%;
}

.admin_section .open > .dropdown-menu .active a {
    background: #0890c4;
    color: #fff;
}

.admin_section .Inntekter .open > .dropdown-menu {
    top: 62px;
}

.adminUser_area.list-inline li.Setting .dropdown-menu > li > a:hover, .adminUser_area.list-inline li.Setting .dropdown-menu > li > a:active,
.adminUser_area.list-inline li.Setting .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:active,
.dropdown-menu > li > a:focus {
    text-decoration: none;
    background: #0890c4;
    color: #fff;
}

.mainContent_hlder #no-more-tables .table-condensed th {
    padding: 0 5px !important;
    font-size: 14px;
    color: #999da9;
    font-weight: normal;
}

.mainContent_hlder #no-more-tables .table-condensed .name {
    font-size: 16px;
    color: #2d3345;
    text-transform: capitalize;
    line-height: 24px;
}

.mainContent_hlder #no-more-tables .table-condensed .social {
    font-size: 14px;
    color: #999da9;
    text-transform: capitalize;
    line-height: 24px;
}

.mainContent_hlder #no-more-tables .table-condensed .user {
    width: 220px;
    padding: 0;
}

    .mainContent_hlder #no-more-tables .table-condensed .user img {
        margin-right: 30px;
    }

.mainContent_hlder #no-more-tables .table-condensed .follow, .mainContent_hlder #no-more-tables .table-condensed .location, .mainContent_hlder #no-more-tables .table-condensed .inf {
    padding: 0;
    vertical-align: top;
    width: 18%;
    padding: 0;
}

.mainContent_hlder #no-more-tables .table-condensed .action {
    vertical-align: top;
    padding: 0;
}

    .mainContent_hlder #no-more-tables .table-condensed .action a {
        margin-right: 15px;
        color: #b1b3b9;
    }

        .mainContent_hlder #no-more-tables .table-condensed .action a:hover {
            color: #2d3345;
        }

.mainContent_hlder #no-more-tables .table-condensed tr {
    background: #fff none repeat scroll 0 0;
}

    .mainContent_hlder #no-more-tables .table-condensed tr.separator {
        height: 40px;
    }

.mainContent_hlder #no-more-tables .table-condensed tbody {
    overflow: hidden;
    width: 100%;
}

.user_info .scrollable-area {
    height: 420px;
}

.mainContent_hlder #no-more-tables .table-condensed tbody::-webkit-scrollbar {
    width: 3px;
}

.mainContent_hlder #no-more-tables .table-condensed tbody::-webkit-scrollbar-track {
    background-color: #dbdce0;
}

.mainContent_hlder #no-more-tables .table-condensed tbody::-webkit-scrollbar-thumb {
    background-color: #999b9f;
    width: 1px;
}

    .mainContent_hlder #no-more-tables .table-condensed tbody::-webkit-scrollbar-thumb:hover {
        background-color: #999b9f;
        width: 1px;
    }

#main .nav.nav-tabs li {
    display: inline-block;
    float: none;
    text-align: center;
}

.tab_button_holder .nav.nav-tabs li {
    display: inline-block;
    float: none;
    text-align: center;
    margin: 0 auto;
    border: none;
    border-right: solid 1px #e9e8ed;
}

.tab_button_holder .nav.nav-tabs {
    border: none;
    text-align: center;
    box-shadow: 3px 1px 10px #999;
}

    .tab_button_holder .nav.nav-tabs a {
        border: none;
        border-bottom: solid 4px #fff;
        text-transform: uppercase;
        padding: 0 0 20px 0;
        margin: 20px 30px 0;
        border-radius: 0px;
        font-size: 18px;
        border-top: none;
        color: #2e3038;
    }

        .tab_button_holder .nav.nav-tabs a #main .tab_button_holder .nav.nav-tabs a:focus {
            border: none;
        }

#main .tab_button_holder .nav.nav-tabs a:hover, #main .tab_button_holder .nav.nav-tabs a:active, #main .tab_button_holder .nav.nav-tabs a:focus {
    border-bottom: solid 4px #4493bc;
    border-radius: 0px;
    border-top: none;
    background-color: transparent;
    border-left: none;
    border-right: none;
}

#main .tab_button_holder .active > a:hover {
    border-left: none;
    border-radius: 0px;
    border-top: none;
    border-right: none;
}

#main .tab_button_holder .nav.nav-tabs li.active a {
    border-bottom: solid 4px #4493bc;
}

#main .tab_button_holder .nav.nav-tabs li:last-child {
    border-right: none !important;
}

#main .tab_button_holder .tab-content {
    background-color: rgb(255, 255, 255);
    display: block;
    margin: 20px 0 0;
    overflow: hidden;
}

.servicesRequest_form {
    padding: 35px 0 0 35px;
    box-sizing: border-box;
}

.date_picker_holder .form-group {
    margin: 0 0 45px;
}

.servicesRequest_form .form_col {
    display: inline-block;
    vertical-align: middle;
    padding: 0 15px;
}

    .servicesRequest_form .form_col label {
        min-width: 200px;
        font-size: 15px;
        line-height: 20px;
        color: #313235;
        text-transform: uppercase;
        font-weight: 600;
        display: inline-block;
        vertical-align: middle;
        padding: 0 6px 0 0;
    }

    .servicesRequest_form .form_col .form-control.hasDatepicker {
        background: rgb(255, 255, 255) url("../images/date_icon.png") no-repeat scroll 95% 50%;
        display: inline-block;
        height: 46px;
        min-width: 356px;
        vertical-align: middle;
        border-radius: 0px;
        box-shadow: none;
    }

    .servicesRequest_form .form_col .form-control {
        background: rgb(255, 255, 255);
        display: inline-block;
        height: 46px;
        min-width: 356px;
        vertical-align: middle;
        border-radius: 0px;
        box-shadow: none;
    }

    .servicesRequest_form .form_col textarea.form-control {
        background: rgb(255, 255, 255);
        display: inline-block;
        height: auto;
        min-width: 356px;
        vertical-align: middle;
        border-radius: 0px;
        box-shadow: none;
    }

    .servicesRequest_form .form_col .input_box {
        display: inline-block;
        vertical-align: middle;
    }

.date_picker_holder label {
    text-transform: capitalize !important;
    font-size: 16px;
}

.date_picker_holder .input_box {
    max-width: 356px;
    width: 100%;
    display: inline-block;
}

.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all {
    max-width: 356px;
    width: 100%;
    z-index: 11111 !important;
    padding: 0px;
    margin: 10px 0 0 0;
    border: none;
    box-shadow: 3px 3px 2px #dedede;
}

.date_picker_holder .last_ned {
    border: medium none;
    background-color: rgb(68, 192, 124);
    border-radius: 4px;
    color: rgb(255, 255, 255);
    display: inline-block;
    height: 48px;
    line-height: 48px;
    padding: 0 35px 0 35px;
}

.date_picker_holder .servicesRequest_form p {
    padding: 0 0 0 15px;
}

#main .date_picker_holder .ui-datepicker td span, .ui-datepicker td a:hover, #main .date_picker_holder .ui-datepicker td span, .ui-datepicker td a:active, #main .date_picker_holder .ui-datepicker td span, .ui-datepicker td a:focus {
    background-color: rgb(250, 143, 49) !important;
    color: rgb(255, 255, 255) !important;
    border: 1px solid rgb(250, 143, 49) !important;
}

#main .ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all {
    border-radius: 0;
    padding: 0;
    font-size: 17px;
    font-weight: 400;
    line-height: 60px;
}

#main .form-control:focus {
    border-color: #fa8f31;
}

#style-3::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #0000FF;
}

#style-3::-webkit-scrollbar {
    width: 2px;
    background-color: #0066FF;
}

#style-3::-webkit-scrollbar-thumb {
    background-color: #CC9966;
}

#main .kampanjer_page {
    padding: 50px 20px 220px;
}

    #main .kampanjer_page h1 {
        display: inline-block;
    }

    #main .kampanjer_page span.oppdater {
        background: rgb(68, 192, 124) url("../images/oppdater.png") no-repeat scroll 10% 50%;
        border-radius: 4px;
        color: rgb(255, 255, 255);
        display: inline-block;
        font-size: 14px;
        line-height: 18px;
        padding: 0px 4px 3px 26px;
        margin: 0 0 0 15px;
    }

.kampanjer_left_block .kampanjer_inner {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    background: #fff;
}

.kampanjer_left_block .image_box img {
    display: block;
    width: 100%;
}

.kampanjer_left_block .plus_button a {
    background-color: rgb(67, 147, 188);
    border-radius: 50%;
    color: rgb(255, 255, 255) !important;
    display: block;
    float: right;
    font-size: 22px;
    height: 50px;
    margin: -30px 25px 0 0;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 50px;
    z-index: 999;
}

.kampanjer_left_block .fa.fa-plus {
    color: rgb(255, 255, 255);
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding: 14px 0 0 0;
}

.kampanjer_left_block .plus_button a:hover {
    background: #fa8f31;
    color: #fff;
}

.kampanjer_inner .text_box {
    border-bottom: 1px solid rgb(232, 233, 236);
    display: block;
    font-size: 16px;
    line-height: 20px;
    max-width: 100%;
    overflow: hidden;
    padding: 15px 0 30px 30px;
    width: 100%;
}

.bottom_button > a {
    border-right: 1px solid rgb(222, 222, 222);
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
    padding: 15px 0;
    text-align: center;
    width: 50%;
    float: left;
}

    .bottom_button > a:last-child {
        border-right: 0px;
    }

    .bottom_button > a .fa {
        padding: 0 20px 0px 0px;
        font-weight: 100;
    }

    .bottom_button > a:hover {
        background-color: #fa8f31;
        color: #fff;
        text-decoration: none;
        border-radius: 0px;
    }

        .bottom_button > a:hover fa {
            color: #fff;
        }

.row.kampanjer_left_block {
    margin-top: 25px;
    padding: 0px;
}

.btn {
    border: none;
    border-radius: none;
}

.kampanjer_inner_holder {
    padding-right: 5px;
}

.kampanjer_left_block_holder {
    padding: 0px;
}

.kampanjer_right_block {
    background: #fff;
}

.kampanjer_margin {
    margin: 0 0px 0 0;
}

.kampanjer_right_block {
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    padding: 20px 0 50px;
    position: relative;
}

    .kampanjer_right_block:after {
        position: absolute;
        bottom: -9999px;
        height: 9999px;
        background: #fff;
        left: 0;
        right: 0;
        content: "";
    }

    .kampanjer_right_block ul {
        list-style: outside none none;
        margin: 0;
        padding: 0px;
    }

.marked_text_box {
    display: inline-block;
    margin: 0px 0px 0 20px;
}

.marked_image_box {
    display: inline-block;
    margin: 0 0 0 30px;
}

.kampanjer_right_block a {
    display: block;
    overflow: hidden;
}

    .kampanjer_right_block a:hover {
        text-decoration: none;
        background: #fa8f31;
        color: #fff;
    }

.kampanjer_right_block li:first-child {
    border-top: 1px solid rgb(232, 233, 236);
}

.kampanjer_right_block li {
    border-bottom: 1px solid rgb(232, 233, 236);
    line-height: 115px;
    height: 115px;
}

.right_heading {
    padding: 5px 0 5px 30px;
}

.markedsforere_row {
    overflow: hidden;
    padding: 30px 0px 0 15px;
    background: #fff;
    margin: 15px 5px 15px 15px;
}

.pavirker_heading {
    border-bottom: 1px solid #e8e9ec;
}

.pavirkere_holder {
    text-align: center;
    width: 100%;
    padding: 30px 0 0 0;
}

    .pavirkere_holder > img {
        display: block;
        text-align: center;
        margin: 0 auto;
    }

    .pavirkere_holder > span {
        color: rgb(45, 51, 69);
        display: block;
        font-size: 16px;
        margin: 20px 0;
    }

    .pavirkere_holder > ul {
        padding: 0px;
        list-style: none;
    }

    .pavirkere_holder li {
        display: inline-block;
        margin: 0 0px 0 0;
        vertical-align: middle;
        border-radius: 50%;
    }

    .pavirkere_holder ul li a {
        border-radius: 50%;
        display: inline-block;
        padding: 7px 0 0;
        vertical-align: middle;
        font-size: 22px;
        width: 42px;
        height: 42px;
        line-height: 24px;
    }

        .pavirkere_holder ul li a:hover {
            background-color: #4393bc;
            color: #fff;
        }

            .pavirkere_holder ul li a:hover .fa {
                color: #fff;
            }

    .pavirkere_holder .fa {
        color: #cdced5;
        display: inline-block;
        vertical-align: middle;
    }
/*a:hover .fa{color:#fff;}*/
.button_box a {
    border-right: solid 1px #dedede;
    line-height: 50px;
    height: 50px;
}

    .button_box a:last-child {
        border-right: none;
    }

.four_col {
    display: block;
    border-top: solid 1px #dedede;
}

.markedsforere_row .right_border {
    border-right: 1px solid rgb(222, 222, 222);
    padding: 0;
}

.right_border:nth-child(5) {
    border-right: none;
}

#main .kampanjer_right_block li:last-child {
    border-bottom: none;
}

.holder.expend {
    position: relative;
}

.button_overlay {
    background-color: rgb(67, 147, 188);
    bottom: 0;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: none;
    left: 0;
    margin: 0;
    overflow: hidden;
    padding: 60px 20px 50px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999;
}

.expend .button_overlay {
    display: block;
}

span.btn_close {
    position: absolute;
    top: 0;
    right: 0;
}

.button_overlay .first {
    width: 50%;
    display: block;
    float: left;
}

.button_overlay .second {
    width: 50%;
    display: block;
    float: left;
}

.button_overlay span {
    font-size: 14px;
    line-height: 36px;
}

.btn_more.btn1 {
    position: absolute;
    right: 25px;
    top: 25px;
}

    .btn_more.btn1 .fa.fa-times {
        color: #fff;
        font-size: 20px;
        line-height: 24px;
        font-weight: 400;
    }

.btn_close .btn_more .fa {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 18px;
    color: #fff;
}

#main .tab_holder {
    margin-top: 0px !important;
}

#myModal {
    display: block !important;
    visibility: hidden;
}

.modal-open #myModal {
    visibility: visible;
}

#myModal .scrollable-area {
    width: 100% !important;
    height: 365px;
}

.pop_up_holder .modal-dialog {
    margin: 30px auto;
    max-width: 1170px;
    width: 100%;
    border-radius: 0px;
    border: none;
}

.pop_up_holder .modal-header {
    background-color: rgb(45, 51, 69);
    overflow: hidden;
    padding: 0;
    border-bottom: none;
}

.popup_top_bar > span {
    color: #e0e0e2;
    text-align: center;
    display: block;
    height: 45px;
    line-height: 40px;
    font-size: 20px;
}

.pop_up_holder .close {
    font-size: 30px;
    position: absolute;
    right: 15px;
    top: 7px;
    color: #fff;
}

.second_block {
    background: rgb(250, 143, 49) none repeat scroll 0 0;
    color: rgb(255, 255, 255);
    padding: 35px 0px;
    box-sizing: border-box;
}

    .second_block > ul {
        list-style: none;
        padding: 0px;
        margin: 0px;
    }

.modal-body.second_block li {
    border-right: 1px solid #fcb16f;
    display: inline-block;
    text-align: center;
    width: 24.5%;
    padding: 15px 0 15px 0;
}

    .modal-body.second_block li:last-child {
        border-right: none;
    }

.second_block .upper_text {
    display: block;
    font-size: 16px;
    font-style: normal;
    line-height: 20px;
    color: #fee1d0;
}

.second_block .lower_text {
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 20px;
    font-style: normal;
    line-height: 24px;
    padding: 5px 0 0;
}

.second_block .digits {
    font-size: 36px;
    line-height: 40px;
}

.middle_col h2 {
    color: #4393bc;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    margin: 35px 0 20px;
}

.status_left {
    display: inline-block;
    width: 165px;
}

    .status_left > span {
        color: rgb(146, 147, 157);
        display: block;
        font-size: 16px;
        line-height: 30px;
    }

    .status_left > em {
        font-style: normal;
        color: #2d3345;
    }

    .status_left.status_right {
        text-align: center;
    }

    .status_left > span {
        color: rgb(146, 147, 157);
        display: block;
        font-size: 16px;
        line-height: 30px;
    }

.scroll_box > ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    margin: 20px 0 0 0;
}

.scroll_box li {
    display: block;
    width: 100%;
    padding: 25px 0px;
}

.image_text_box {
    display: inline-block;
    vertical-align: middle;
    width: 70%;
    padding: 0 0 0 10px;
}

    .image_text_box > img {
        display: inline-block;
        float: none;
        margin: 0 15px 0 0;
        vertical-align: middle;
    }

    .image_text_box p {
        font-style: normal;
        color: #92939d;
    }

    .image_text_box p {
        color: rgb(205, 206, 213);
        font-style: normal;
        margin: 0;
        display: inline-block;
        width: 30%;
        vertical-align: middle;
    }

.li_image_text_box_popup {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

    .li_image_text_box_popup > span {
        font-style: normal;
    }

.left_col > h2, .status_under {
    padding: 0 0 0 20px;
}

.insta_gram_icon .fa {
    border-radius: 50%;
    display: inline-block;
    float: left;
    font-size: 22px;
    height: 42px;
    line-height: 24px;
    padding: 9px 0 0;
    text-align: center;
    vertical-align: middle;
    width: 42px;
    margin: 3px 0 0 0;
}

    .insta_gram_icon .fa:hover {
        background-color: #4393bc;
        color: #fff;
    }

.insta_gram_icon:hover {
    text-decoration: none;
}

.image_tex_right {
    display: inline-block;
    float: right;
    width: 30%;
}

.insta_gram_icon_holder {
    display: inline-block;
    float: left;
    margin: 0 25px 0 0;
}

.li_text_box_popup > span {
    display: block;
    font-style: normal;
}

.li_text_box_popup {
    float: left;
}

.scroll_box li:first-child {
    border-top: solid 1px #dbdce0;
}

.scroll_box li {
    display: block;
    padding: 25px 0;
    width: 98%;
    border-bottom: solid 1px #dbdce0;
}

.scroll_box ul {
    margin: 0px;
}

.scroll_box {
    margin: 25px 0 0;
}

.btn_last_mer a {
    background-color: #4393bc;
    display: inline-block;
    font-size: 16px;
    margin: 30px auto;
    overflow: hidden;
    text-align: center;
}

.btn_last_mer a {
    background-color: rgb(67, 147, 188);
    display: block;
    font-size: 16px;
    margin: 30px auto;
    width: 120px;
    text-align: center;
    color: #fff;
    line-height: 38px;
    height: 38px;
    border-radius: 5px;
}

    .btn_last_mer a:hover {
        background-color: #fa8f31;
        text-decoration: none;
    }

.right_col .nav-item {
    width: 25%;
    display: block;
    background-color: #eaebee;
    border-radius: 0px;
    text-align: center;
}

.right_col .nav.nav-tabs {
    border: none;
    margin: 0px;
    padding: 0px;
}

.right_col li.nav-item {
    margin: 0px;
}

    .right_col li.nav-item a {
        color: rgb(136, 138, 149);
        font-size: 16px;
        height: 52px;
        line-height: 52px;
        margin-right: 0;
        padding: 0;
        border-radius: 0px;
        text-transform: uppercase;
    }

        .right_col li.nav-item a:hover, .right_col li.nav-item a:focus, .right_col li.nav-item a:active {
            background-color: rgb(255, 255, 255);
            border-radius: 0;
            color: #000;
            border: none;
            border-bottom: none;
        }

.tab_image {
    border: 1px solid #eaebee;
    padding: 20px;
}

    .tab_image > img {
        width: 100%;
        display: block;
    }

.tab_text {
    margin: 25px 0 0 0;
}

    .tab_text p {
        margin: 0px 0 5px 0;
        color: #888a95;
    }

.middle_col.right_col > h2 {
    margin-bottom: 50px;
}

.form-check {
    display: block;
    margin-bottom: 0.5rem;
    position: relative;
}

.form-check-inline {
    display: inline-block;
}

.form-check-label {
    cursor: pointer;
    margin-bottom: 0;
    padding-left: 1.25rem;
    display: inline-block;
}

.form-check-inline .form-check-label {
    vertical-align: middle;
}

.servicesRequest_form .form_col label.checkbox-inline, .servicesRequest_form .form_col label.radio-inline {
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    margin-bottom: 0;
    min-width: auto;
    padding-left: 20px;
    position: relative;
    text-transform: none;
    vertical-align: middle;
}

.btn.btn-primary {
    background-color: rgb(68, 192, 124);
    border: medium none;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    display: inline-block;
    height: 48px;
    line-height: 48px;
    padding: 0 35px;
}

    .btn.btn-primary:hover {
        background: rgb(45, 50, 69);
        color: #fff;
    }

.servicesRequest_form .form_col .btn:hover {
    background: rgb(45, 50, 69);
    color: #fff;
}

.inbox-form {
    overflow: hidden;
    padding: 36px 14px 51px;
}

    .inbox-form h3 {
        text-transform: uppercase;
        margin: 0 0 30px;
    }

.all-select {
    float: left;
    padding: 10px 17px 3px 21px;
}

.compose-holder,
.remove-holder,
.filter-holder,
.refesh-holder {
    float: left;
    padding: 7px 5px;
}

.refesh-btn {
    width: 40px;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    color: #fff;
    background: #4babd1;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

    .refesh-btn:hover {
        background: #2c4161;
        color: #fff;
    }

.filter-holder {
    width: 150px;
}

.remove-btn {
    width: 40px;
    height: 34px;
    border: 1px solid #d4d9dd;
    background: #f3f5f7;
    color: #bbc4ce;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    font-size: 16px;
    line-height: 32px;
    text-decoration: none;
}

    .remove-btn:hover {
        background: #2c4161;
        color: #fff;
        border: 1px solid #2c4161;
    }

.compose-btn {
    height: 34px;
    border: 1px solid #d4d9dd;
    background: #f3f5f7;
    color: #bbc4ce;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    font-size: 14px;
    line-height: 32px;
    text-decoration: none;
    padding: 0 9px;
    font-weight: 600;
}

    .compose-btn:focus {
        text-decoration: none;
    }

    .compose-btn:hover {
        background: #2c4161;
        color: #fff;
        border: 1px solid #2c4161;
        text-decoration: none;
    }

    .compose-btn .fa-pencil-square-o {
        margin: 0 0 0 10px;
        font-size: 16px;
        line-height: 32px;
    }

.show-page {
    font-size: 14px;
    line-height: 34px;
    color: #494f56;
    float: right;
    width: 113px;
    text-align: right;
    margin: 7px 0 0;
}

.search-form {
    overflow: hidden;
    float: right;
    width: 61%;
    border: 1px solid #d4d9dd;
    height: 34px;
    padding: 0 40px 0 0;
    margin: 7px 0 0;
}

    .search-form input[type="search"] {
        width: 100%;
        height: 32px;
        border: none;
        padding: 0 10px;
        font-size: 14px;
        line-height: 32px;
        color: #bbbfc4;
    }

.search-btn {
    width: 40px;
    height: 32px;
    float: right;
    margin: 0 -40px 0 0;
    border: none;
    background: none;
    color: #0e93c5;
    line-height: 32px;
    font-weight: normal;
}

    .search-btn:hover {
        background: #4babd1;
        color: #fff;
    }

    .search-btn .fa {
        line-height: 32px;
        vertical-align: top;
    }

.full-width-list {
    margin: 26px 0;
    list-style: none;
    font-size: 14px;
    line-height: 20px;
    color: #353c43;
    letter-spacing: 0.55px;
    padding: 0;
    max-height: 776px;
    overflow-x: hiddin;
    overflow-y: scroll;
    width: 100% !important;
}

.jcf-scrollable-wrapper {
    width: 100% !important;
}

.full-width-list li {
    padding: 17px 160px 18px 21px;
    position: relative;
    border-bottom: 1px solid #e8ecef;
    cursor: default;
}

    .full-width-list li:hover {
        background: #f3f5f7;
    }

    .full-width-list li:first-child {
        border-top: 1px solid #e8ecef;
    }

.full-width-list .info {
    overflow: hidden;
}

    .full-width-list .info strong {
        display: block;
        margin: 0 0 5px;
    }

.full-width-list .all-select {
    padding: 4px 21px 0 0;
}

.full-width-list p {
    margin: 0;
}

.right-holder {
    width: 150px;
    float: right;
    padding: 0 49px 0 0;
    text-align: right;
    position: absolute;
    top: 50%;
    margin: -10px 0 0;
    right: 10px;
}

.attach {
    float: right;
    width: 20px;
    height: 20px;
    margin: 0 -43px 0 0;
    text-align: center;
}

    .attach:hover {
        color: #4babd1;
    }

h3 {
    font-size: 24px;
    line-height: 28px;
    margin: 0 0 20px;
    text-transform: uppercase;
    color: #515961;
}

.align-left {
    float: left;
}

.col-lg-6.align-left .show-page {
    float: left;
    text-align: left;
}

.bottom-footer {
    overflow: hidden;
    padding: 25px 0;
}

.compose-message,
.view-message {
    overflow: hidden;
    padding: 36px 15px 150px;
    font-size: 14px;
    line-height: 24px;
    color: #8e9399;
}

    .view-message p {
        margin: 0 0 20px;
    }

.mail-details {
    margin: 0;
    padding: 0 0 20px;
    font-size: 14px;
    line-height: 18px;
    color: #515961;
    overflow: hidden;
}

    .mail-details dt {
        float: left;
        width: 100px;
        color: #a7b1ba;
        font-weight: 400;
        margin: 0 0 12px;
    }

    .mail-details dd {
        overflow: hidden;
        margin: 0 0 12px;
    }

.top-right-btn {
    float: right;
}

.reply-btn {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    line-height: 32px;
    background: #4babd1;
    display: inline-block;
    vertical-align: top;
    padding: 0 15px;
}

    .reply-btn:hover {
        text-decoration: none;
        background: #f1f1f1;
    }

    .reply-btn .fa {
        font-size: 12px;
        line-height: 34px;
        margin: 0 10px 0 0;
    }

.row-bordered {
    position: relative;
}

    .row-bordered:after {
        content: "";
        display: block;
        border-bottom: 1px solid #ccc;
        margin: 0 15px;
    }

.btm-margin-30 {
    margin-bottom: 30px;
}

.bar {
    overflow: hidden;
    padding: 10px;
    color: #515961;
    font-size: 14px;
    line-height: 18px;
    background: #f3f5f7;
}

    .bar p {
        margin: 0;
    }

    .bar a {
        color: #4babd1;
        text-decoration: underline;
    }

        .bar a:hover {
            text-decoration: none;
        }

.attachment-list {
    margin: 0 -15px 20px;
    padding: 0;
    list-style: none;
    letter-spacing: -5px;
}

    .attachment-list li {
        display: inline-block;
        vertical-align: top;
        letter-spacing: 0;
        width: 25%;
        padding: 15px;
    }

    .attachment-list .img-holder {
        width: 70px;
        height: 70px;
        float: left;
        border: 1px solid #d4d9dd;
        margin: 0 15px 0 0;
        position: relative;
    }

        .attachment-list .img-holder img {
            display: block;
            width: 100%;
            height: 100%;
        }

        .attachment-list .img-holder:hover .download-hover {
            display: block;
        }

.download-hover {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 !important;
    text-align: right;
    display: none;
    overflow: hidden;
}

    .download-hover .fa {
        color: #000;
        background: #fff;
        vertical-align: top;
    }

.attachment-list .attacg-description {
    overflow: hidden;
    height: 70px;
    padding: 10px 0;
    white-space: nowrap;
}

    .attachment-list .attacg-description:after {
        content: '';
        display: inline-block;
        height: 100%;
        width: 1px;
        overflow: hidden;
        margin: 0 0 0 -5px;
        vertical-align: middle;
    }

.attachment-list .discription-box {
    display: inline-block;
    vertical-align: middle;
}

.attachment-list .attacg-description a {
    color: #4babd1;
    text-decoration: none;
    display: inline-block;
    vertical-align: mid;
    margin: 0 10px 0 0;
}

    .attachment-list .attacg-description a:hover {
        text-decoration: underline;
    }

.attachment-list .attacg-description p {
    margin: 0;
}

.reply-holder {
    overflow: hidden;
    padding: 30px 0;
}

    .reply-holder .user {
        float: left;
        margin: 0 15px 0 0;
    }

.text-holder {
    overflow: hidden;
    padding: 0 0 0 15px;
}

.inner-box {
    border: 1px solid #d4d9dd;
    height: 100px;
    position: relative;
    padding: 10px;
    color: #8e9399;
}

    .inner-box:before {
        position: absolute;
        content: '';
        width: 20px;
        height: 13px;
        background: url(../images/triangle-img.png) no-repeat;
        top: 11px;
        left: -16px;
        transform: rotate(-90deg);
    }

    .inner-box a {
        color: #8e9399;
        text-decoration: underline;
    }

        .inner-box a:hover {
            text-decoration: none;
        }

.enter-email-bar {
    border: 1px solid #d4d9dd;
    overflow: hidden;
    padding: 5px 9px;
    margin: 0 0 20px;
}

.email-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

    .email-list li {
        float: left;
        background: #ebeff2;
        padding: 5px 10px;
        border-radius: 4px;
        cursor: pointer;
        margin: 4px 8px 4px 0;
    }

.delete {
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: top;
    border-radius: 50%;
    text-decoration: none;
    line-height: 15px;
    text-align: center;
    margin: 4px 0 4px 10px;
    color: #afb6bb;
}

    .delete .f1 {
        background: #fff;
        color: #afb6bb;
    }

#cke_1_bottom,
#cke_10,
#cke_18,
#cke_20,
#cke_24,
#cke_29,
#cke_31 {
    display: none !important;
}

.cke_chrome {
    height: 400px !important;
}

.patient-bar {
    padding: 20px 0;
}

    .patient-bar label {
        color: #75808f;
        font-weight: 400;
        margin-bottom: 20px;
    }

        .patient-bar label .fa-user-o {
            margin: 0 10px 0 0;
            color: #0890c4;
            font-size: 20px;
            line-height: 20px;
        }

.fileUpload {
    position: relative;
    overflow: hidden;
    color: #75808f;
    float: left;
    margin: 4px 0;
}

    .fileUpload:before {
        content: "\f0c6";
        display: inline-block;
        vertical-align: middle;
        margin: 0 10px 0 0;
        font-family: FontAwesome;
        vertical-align: top;
        color: #1a98c8;
        font-size: 20px;
    }

    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }

.btn-holder {
    overflow: hidden;
    text-align: right;
    display: block;
    margin: 0 -10px 0 0;
}

    .btn-holder .fa {
        margin: 0 10px 0 0;
    }

.btn-group.btn-holder .btn.btn2,
.btn-group.btn-holder .btn.btn1 {
    display: inline-block;
    vertical-align: top;
    border: 1px solid #4babd1;
    color: #4babd1;
    padding: 5px 10px;
    margin: 0 10px;
    float: none;
}

    .btn-group.btn-holder .btn.btn1:hover {
        background: #4babd1;
        color: #fff;
    }

.btn-group.btn-holder .btn.btn2 {
    display: inline-block;
    vertical-align: top;
    color: #fff;
    background: #4babd1;
    padding: 5px 10px;
    margin: 0 10px;
    border-radius: 0;
}

.heading-bar {
    overflow: hidden;
    margin: 0 0 10px;
}

    .heading-bar h3 {
        margin: 0;
        overflow: hidden;
        display: inline-block;
    }

.btn-group.btn-holder .btn.btn2:hover {
    background: none;
    color: #4babd1;
}

.mail-header {
    overflow: hidden;
}

    .mail-header .user {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
        float: left;
        margin: 0 50px 0 0;
    }

        .mail-header .user img {
            display: block;
            width: 100%;
            height: auto;
        }

        .mail-header .user a {
            display: block;
        }

.mail-header-holder {
    overflow: hidden;
    padding: 0 0 20px;
}

.view-message p strong {
    color: #515961;
}

.mail-det-list {
    float: left;
    width: 50%;
    margin: 0;
    letter-spacing: -5px;
}

    .mail-det-list dd,
    .mail-det-list dt {
        display: inline-block;
        vertical-align: top;
        letter-spacing: 0;
        width: 30%;
        font-weight: 400;
        color: #a7b1ba;
    }

    .mail-det-list dd {
        width: 70%;
        color: #515961;
    }

    .mail-det-list a {
        color: #4babd1;
    }

.heading-bar .blue {
    color: #4babd1;
    text-transform: capitalize;
    margin: 0 0 10px;
}

h4 {
    font-size: 18px;
    line-height: 20px;
    margin: 0 0 10px;
}

.heading-bar.row-bordered:after {
    margin: 0;
}

.table1 .blue {
    margin: 0 0 10px;
}

.table.table1 {
    margin: 0;
    border-bottom: none;
}

.table1 thead {
    background: #b2bcd0;
    color: #0c2854;
    border-top: none;
}

.table1 td {
    text-align: center;
    width: 50%;
}

.table1 label {
    display: block;
    color: #515961;
    margin: 0;
    padding: 0 0 5px;
}

.table1 .all-select {
    padding: 10px 25px;
    float: none;
    display: inline-block;
    vertical-align: top;
}

    .table1 .all-select .jcf-checkbox {
        margin: 0;
    }

.table2 {
    border: 1px solid #d4d9dd;
    color: #515961;
}

.table.table2 th,
.table.table2 td {
    border: none;
}

    .table.table2 th:first-child,
    .table.table2 td:first-child {
        width: 30%;
    }

.table.table2 th {
    background: #f3f5f7;
}

@media only screen and (max-width:1900px) {
    .mainContent_hlder #no-more-tables .table-condensed .follow, .mainContent_hlder #no-more-tables .table-condensed .location, .mainContent_hlder #no-more-tables .table-condensed .inf {
        width: 17%;
    }
}

@media only screen and (max-width:1870px) {
    .admin_section .mainContent_hlder .register, .admin_section .mainContent_hlder .advertise {
        width: 40%;
    }

    .mainContent_hlder #no-more-tables .table-condensed .follow, .mainContent_hlder #no-more-tables .table-condensed .location, .mainContent_hlder #no-more-tables .table-condensed .inf {
        width: 16%;
    }

    .button_overlay span {
        font-size: 14px;
        line-height: 18px;
    }

    .button_overlay .first {
        display: block;
        float: none;
        width: 100%;
    }

    .button_overlay .second {
        display: block;
        float: none;
        width: 100%;
        margin-bottom: 3px;
        font-weight: 600;
    }
}

@media only screen and (max-width:1700px) {
    .mainContent_hlder #no-more-tables .table-condensed .user img {
        margin-right: 15px;
    }

    .mainContent_hlder #no-more-tables .table-condensed .user {
        width: 205px;
    }

    .marked_image_box {
        margin: 0 0 0 10px;
    }

    .marked_text_box {
        margin: 0 0 0 5px;
        font-size: 14px;
    }

    #main .kampanjer_page h1 {
        font-size: 16px;
    }

    .right_heading {
        padding: 5px 0 5px 8px;
    }

    .button_overlay {
        padding: 30px 20px 0px;
    }

    .btn_close .btn_more .fa {
        right: 15px;
        top: 15px;
    }

    .mainContent_hlder #no-more-tables .table-condensed .action, .mainContent_hlder #no-more-tables .table-condensed .follow, .mainContent_hlder #no-more-tables .table-condensed .location, .mainContent_hlder #no-more-tables .table-condensed .inf {
        vertical-align: middle;
    }
}

@media only screen and (max-width:1650px) {
    .mainContent_hlder #no-more-tables .table-condensed .user {
        width: 125px;
    }

        .mainContent_hlder #no-more-tables .table-condensed .user img {
            display: block;
            float: none !important;
            margin: 0 0 10px;
        }

        .mainContent_hlder #no-more-tables .table-condensed .user span {
            display: block;
        }

    .mainContent_hlder #no-more-tables .table-condensed .follow, .mainContent_hlder #no-more-tables .table-condensed .location, .mainContent_hlder #no-more-tables .table-condensed .inf {
        width: 20%;
    }
}

@media only screen and (max-width:1600px) {
    .admin_section .mainContent_hlder .advertise .boxes {
        padding: 0 20px;
    }

    .mainContent_hlder #no-more-tables .table-condensed .follow, .mainContent_hlder #no-more-tables .table-condensed .location, .mainContent_hlder #no-more-tables .table-condensed .inf {
        width: 19%;
    }

    .bottom_button > a .fa {
        padding: 0 5px 0 0;
    }

    .bottom_button > a {
        font-size: 14px;
    }
}

@media only screen and (max-width:1500px) {
    .admin_section .mainContent_hlder .register, .admin_section .mainContent_hlder .advertise {
        width: 39%;
    }

    .Inntekter h1, .admin_section .mainContent_hlder h1 {
        width: auto;
    }

    .mainContent_hlder #no-more-tables .table-condensed .follow, .mainContent_hlder #no-more-tables .table-condensed .location, .mainContent_hlder #no-more-tables .table-condensed .inf {
        width: 18%;
    }

    .admin_section #footer {
        width: 81%;
    }

    .admin_section.active #footer {
        width: 94%;
    }

    .attachment-list li {
        width: 33.3%;
    }
}

@media only screen and (max-width:1420px) {
    .bottom_button > a .fa {
        padding: 0 5px 0 0;
    }

    .kampanjer_left_block .plus_button a {
        font-size: 16px;
        height: 44px;
        margin: -25px 20px 0 0;
        width: 44px;
    }

    .bottom_button > a {
        font-size: 14px;
        line-height: 20px;
    }

    .kampanjer_inner .text_box {
        font-size: 14px;
        line-height: 20px;
        padding: 15px 0;
        text-align: center;
    }

    .kampanjer_right_block li {
        height: 105px;
        line-height: 105px;
    }

    .kampanjer_left_block_holder {
        padding: 0;
        width: 100%;
    }

    .kampanjer_right_holder {
        width: 100%;
    }

    .markedsforere_row {
        margin: 15px;
    }

    .kampanjer_margin {
        margin: 0 10px 0 0;
    }

    .kampanjer_right_block:after {
        display: none;
    }
}

@media only screen and (max-width:1400px) {
    .admin_section .mainContent_hlder .col-lg-7.value_box {
        width: 100%;
    }

    .admin_section .mainContent_hlder .register, .admin_section .mainContent_hlder .advertise {
        margin: 20px auto 0;
        width: 100%;
    }

    .mainContent_hlder #no-more-tables .table-condensed .user {
        width: 230px;
    }

    .mainContent_hlder #no-more-tables .table-condensed .follow, .mainContent_hlder #no-more-tables .table-condensed .location, .mainContent_hlder #no-more-tables .table-condensed .inf {
        width: 230px;
    }

    .mainContent_hlder #no-more-tables .table-condensed .user img {
        display: inline-block;
        float: left !important;
        margin: 0 15px 0 0;
    }

    .mainContent_hlder #no-more-tables .table-condensed .user span {
        display: inline-block;
    }
}

@media only screen and (max-width:1300px) {
    .mainContent_hlder #no-more-tables .table-condensed .follow, .mainContent_hlder #no-more-tables .table-condensed .location, .mainContent_hlder #no-more-tables .table-condensed .inf {
        width: 200px;
    }

    .mainContent_hlder #no-more-tables .table-condensed .action {
        width: 60px;
    }

        .mainContent_hlder #no-more-tables .table-condensed .action a {
            color: #b1b3b9;
            display: block;
            float: none;
            margin: 0 auto;
            text-align: center;
        }

    .mail-det-list dd, .mail-det-list dt {
        width: 40%;
        padding: 0 10px 0 0;
    }

    .mail-det-list dd {
        width: 60%;
    }

    .mail-header .user {
        margin: 0 20px 0 0;
        width: 60px;
        height: 60px;
    }
}

@media only screen and (max-width:1280px) {
    .admin_section .mainContent_hlder .value_box .col-lg-4 h1 {
        font-size: 48px;
        line-height: 36px;
    }

    .inbox-form {
        padding: 36px 0 51px;
    }

    .admin_section #header {
        width: 250px;
    }

    .adminMenu_holder .navbar-default .nav > li > a, .dropdown-menu li.dropdown-submenu a {
        padding: 15px;
        font-size: 13px;
        line-height: 18px;
    }

    .adminMenu_holder .nav > li > a span.icon_holder {
        padding: 0 10px 0 0;
        width: 30px;
    }

        .adminMenu_holder .nav > li > a span.icon_holder img {
            display: block;
            width: 100%;
            height: auto;
        }

    .adminMenu_holder .nav > li > a span.count {
        font-size: 11px;
    }
}

@media only screen and (max-width:1200px) {
    .admin_section .mainContent_hlder .value_box .graph {
        min-height: 100%;
    }

    .mainContent_hlder #no-more-tables .table-condensed .user, .mainContent_hlder #no-more-tables .table-condensed .follow, .mainContent_hlder #no-more-tables .table-condensed .location, .mainContent_hlder #no-more-tables .table-condensed .inf, .mainContent_hlder #no-more-tables .table-condensed .action {
        padding: 10px;
        width: 100%;
    }

        .mainContent_hlder #no-more-tables .table-condensed .action a {
            color: #b1b3b9;
            display: inline-block;
            float: none;
            margin: 0 15px 0 0;
            text-align: center;
        }

    .mainContent_hlder #no-more-tables .table-condensed tr.separator {
        display: none;
    }

    .mainContent_hlder #no-more-tables .table-condensed tbody {
        height: 540px;
        width: 92%;
    }

    .admin_section .mainContent_hlder .register {
        min-height: 640px;
    }

    .mainContent_hlder #no-more-tables .table-condensed .user span {
        display: block;
    }

    #no-more-tables table, #no-more-tables thead, #no-more-tables tbody, #no-more-tables th, #no-more-tables td, #no-more-tables tr {
        display: block;
    }

        #no-more-tables thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

    #no-more-tables tr {
        border: 1px solid #ccc;
    }

    #no-more-tables td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50% !important;
        white-space: normal;
        text-align: left;
    }

        #no-more-tables td:before {
            font-weight: normal;
            left: 10px;
            line-height: 40px;
            padding-right: 10px;
            position: absolute;
            text-align: left;
            top: 0;
            white-space: nowrap;
            width: 45%;
        }

        #no-more-tables td:before {
            content: attr(data-title);
        }

    .kampanjer_inner_holder {
        padding-right: 5px;
        width: 49.5%;
        margin: 0 0 15px 0;
    }

    .left_col > h2, .status_under {
        padding: 0 0 0 30px;
    }

    .image_text_box {
        padding: 0 0 0 15px;
        width: 65%;
    }

    .image_tex_right {
        text-align: center;
        width: 200px;
    }

    .pop_up_holder .modal-dialog {
        width: 90%;
    }

    .second_block .lower_text {
        font-size: 14px;
        line-height: 18px;
    }

    .second_block .digits {
        font-size: 22px;
        line-height: 26px;
    }

    .modal-body.second_block li:nth-child(4) {
        width: 20%;
    }

    .modal-body.second_block li:nth-child(2) {
        width: 26%;
    }

    .second_block {
        padding: 10px 0;
    }

    .pop_up_holder .modal-dialog {
        margin: 170px auto 20px;
        width: 96%;
    }

    .image_text_box > img {
        display: block;
        float: none;
        margin: 0 auto 10px;
        text-align: center;
    }

    .image_text_box {
        display: inline-block;
        padding: 0 0 0 5px;
        text-align: center;
        vertical-align: middle;
        width: 210px;
    }

    .insta_gram_icon_holder {
        display: inline-block;
        float: none;
        margin: 0 auto;
    }

    .insta_gram_icon .fa {
        display: block;
        float: none;
        text-align: center;
        margin: 0 auto;
    }

    .image_tex_right {
        display: inline-block;
        float: right;
        margin: 15px 0 0;
        text-align: center;
        width: 120px;
    }

    .li_text_box_popup {
        float: none;
    }

    .status_left {
        display: inline-block;
        width: 135px;
    }

    .scroll_box li {
        width: 97%;
    }

    .kampanjer_margin {
        margin: 0 5px 0 0;
    }

    .admin_section #footer {
        width: 75%;
    }

    .attachment-list li {
        width: 50%;
    }
}

@media only screen and (max-width:1080px) {
    .markedsforere_row .right_border {
        width: 50%;
        border-bottom: solid 15px #f1f1f1;
    }

    .markedsforere_row {
        padding: 30px 0 0 0px;
    }

    #main .right_border:nth-child(3) {
        border-right: medium none;
    }

    .pavirker_heading {
        border-bottom: 1px solid rgb(232, 233, 236);
        padding: 0 0 0 15px;
    }

    .admin_section #footer {
        width: 73%;
    }
}

@media only screen and (max-width:1000px) {
    .date_picker_holder .last_ned {
        box-sizing: border-box;
        display: block;
        margin: 30px auto 0;
        max-width: none;
        width: 250px;
    }

    .servicesRequest_form {
        padding: 35px 0 0 0px;
    }

    .date_picker_holder .servicesRequest_form p {
        text-align: left;
        padding: 15px;
    }

        .date_picker_holder .servicesRequest_form p br {
            display: none;
        }
}

@media only screen and (max-width:992px) {
    .adminUser_area.list-inline {
        /*margin-top: 10px;*/
    }

        .adminUser_area.list-inline li.search {
            padding: 0 10px;
        }

        .adminUser_area.list-inline li.search {
            padding: 0 10px;
        }

            .adminUser_area.list-inline li.search .navbar-form .input-group {
                width: auto;
            }

    .navbar-form .input-group > .form-control {
        width: 100%;
    }

    .adminUser_area.list-inline li.Setting {
        padding-right: 10px;
        width: auto;
        padding-left: 10px;
    }

    .adminUser_area.list-inline li.Setting {
        padding-right: 10px;
        width: auto;
        padding-left: 10px;
    }

    .adminUser_area.list-inline li.icons.Setting.text-right {
        padding: 0;
    }

    .adminUser_area.list-inline li.icons a {
        padding: 0 10px;
    }

    .admin_section #footer ul li {
        padding: 0 10px;
    }

    .admin_section #footer {
        width: 70%;
    }

    .admin_section .open > .dropdown-menu.dashboard-drop {
        width: 350px;
        padding: 20px;
    }

        .admin_section .open > .dropdown-menu.dashboard-drop:after {
            left: 28%;
        }

    h5 {
        font-size: 14px;
        line-height: 18px;
    }

    .blue {
        margin: 0 0 20px;
        font-size: 14px;
        line-height: 18px;
    }

    ul.right-arr-list li a {
        padding: 0 0 0 15px !important;
    }
}

@media only screen and (max-width:939px) {
    .servicesRequest_form .form_col label {
        min-width: 100%;
    }

    .servicesRequest_form .form_col .input_box, .servicesRequest_form .form_col {
        width: 100%;
    }

    .mail-header-holder {
        width: 100%;
    }

    .mail-header .user {
        margin: 0 0 20px;
    }
}

@media only screen and (max-width:870px) {
    .Setting .icon-down_arrow_top {
        padding: 0 8px;
    }

    .adminUser_area.list-inline li.Setting {
        padding-right: 10px;
        width: auto;
    }

    .adminUser_area.list-inline li.search a {
        padding: 0 15px;
    }

    .adminUser_area.list-inline li.search .navbar-form .input-group {
        width: auto;
    }

    .admin_section .open > .dropdown-menu {
        min-width: 205px;
    }

    .admin_section .mainContent_hlder .value_box .graph li span {
        margin-right: 10px;
    }

    .servicesRequest_form {
        box-sizing: border-box;
        padding: 35px 0px 0;
    }

    .button_overlay {
        padding: 13px 20px 0;
    }

        .button_overlay .second {
            margin-bottom: 0;
        }

    .admin_section .open > .dropdown-menu.dashboard-drop::after {
        left: 32%;
    }

    .admin_section .open .dropdown-menu > li > a i, .admin_section .open .dropdown-menu > li > a img {
        padding: 0 10px 0 5px;
    }

    .admin_section .open > .dropdown-menu {
        right: -17px;
    }

    .full-width-list {
        font-size: 13px;
        line-height: 17px;
    }

    .attachment-list {
        margin: 10px -5px 0;
    }

        .attachment-list li {
            padding: 5px;
        }

        .attachment-list .img-holder {
            width: 50px;
            height: 50px;
        }

        .attachment-list .attacg-description {
            padding: 0;
            height: 50px;
        }

    .compose-message,
    .view-message {
        font-size: 13px;
        line-height: 20px;
    }

    .mail-details {
        font-size: 13px;
        line-height: 20px;
        width: 100%;
        padding: 20px 0;
    }

    .float-none {
        float: none;
    }

    .mail-details dt {
        width: 60px;
    }

    .mail-det-list {
        width: 100%;
    }
}

@media only screen and (max-width:767px) {
    .admin_section #header {
        max-width: 100%;
        position: relative;
        width: 100%;
        z-index: 9999;
    }

    .admin_section #main {
        padding: 0;
    }

    .admin_section .navbar-toggle {
        margin-top: 0;
        margin-bottom: 8px;
        margin-right: 30px;
        background: #b1bcce;
        border: none;
    }

    .navbar-toggle {
        padding: 7px 10px 10px;
    }

    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
        background-color: #b2bcce;
    }

    .adminUser_area.list-inline {
        padding: 0 10px;
    }

        .adminUser_area.list-inline li.search {
            padding: 15px 0 0;
        }

    .date_picker_holder {
        padding: 0 15px 0 15px;
        box-sizing: border-box;
    }

    #main .kampanjer_inner {
        display: block;
        margin: 0 auto 10px;
        max-width: 100%;
        text-align: center;
        width: 100%;
    }

    .kampanjer_right_holder {
        display: inline-block;
        margin: 0 auto;
        max-width: 100%;
        width: 100%;
    }

    #main .kampanjer_page {
        padding: 30px 10px;
    }

    .button_overlay .second {
        margin-bottom: 10px;
        line-height: 18px;
    }

    .button_overlay .first {
        display: inline-block;
        float: left;
        width: 50%;
    }

    .button_overlay {
        box-sizing: border-box;
        margin: 0 auto;
        padding-top: 30px;
    }

    .kampanjer_inner_holder {
        margin: 0 0 15px;
        width: 100%;
        padding-right: 15px;
    }

    #main .kampanjer_inner {
        max-width: 100%;
        text-align: center;
        width: 99%;
    }

    .modal-body.second_block li {
        border-bottom: 1px solid rgb(252, 177, 111);
        display: block;
        padding: 10px 0;
        text-align: center;
        width: 100%;
    }

        .modal-body.second_block li:nth-child(2), .modal-body.second_block li:nth-child(4) {
            width: 100%;
        }

    .second_block {
        padding: 0;
    }

    .image_tex_right {
        float: right;
        margin: 15px 0 0;
    }

    .admin_section #header {
        float: none;
        height: auto !important;
    }

    .admin_section #main {
        height: auto !important;
    }

    .adminMenu_holder {
        padding: 0;
        position: relative;
    }

    #header .adminMenu_holder .logo {
        left: 10px;
        position: absolute;
        top: 10px;
    }

    .admin_section #header {
        float: none;
        height: auto !important;
        overflow: hidden;
        padding: 0;
    }

    .adminMenu_holder .navbar-default {
        padding-top: 8px;
    }

    #header .adminMenu_holder .logo {
        width: 150px;
    }

    .servicesRequest_form .form_col .form-control.hasDatepicker, .servicesRequest_form .form_col .form-control, .servicesRequest_form .form_col textarea.form-control {
        min-width: auto;
    }

    .top-section .col-sm-4 a {
        display: block;
    }

    .adminUser_area.list-inline {
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }

        .adminUser_area.list-inline > hr {
            margin-bottom: 10px;
        }

        .adminUser_area.list-inline li.search {
            padding: 0 10px;
            width: 200px;
            margin: 0 auto 10px;
        }
        /*.adminUser_area.list-inline li.icons.Setting.text-right {
    width: auto;
    display: block;
    text-align: center;
}*/
        .adminUser_area.list-inline li.Setting {
            width: auto;
        }

    .adminMenu_holder .navbar-default .nav > li > a, .dropdown-menu li.dropdown-submenu a {
        color: #333;
    }

    .for-res-as {
        display: block;
    }

    .admin_section #header {
        background: #f7f7f7;
    }

    .admin_section #footer {
        width: 100%;
    }

    .admin_section .open > .dropdown-menu {
        z-index: 999999;
    }

    .adminUser_area.list-inline li.icons.Setting.text-right.dashboard-user {
        position: relative;
    }

    .admin_section .open > .dropdown-menu.dashboard-drop {
        left: 50%;
        margin: 0 0 0 -100px;
    }

        .admin_section .open > .dropdown-menu.dashboard-drop::after {
            left: 19%;
        }

    .top-header {
        text-align: left;
    }

    .compose-holder, .remove-holder, .filter-holder, .refesh-holder {
        float: none;
        display: inline-block;
        vertical-align: middle;
        padding: 7px 4px;
    }

    .compose-holder {
        float: right;
    }

    .col {
        overflow: hidden;
        padding: 0 113px 0 0;
    }

        .col .show-page {
            margin: 7px -113px 0 0;
        }

    .search-form {
        width: 100%;
    }

    .admin_section #footer {
        position: static;
    }

    .inbox-form {
        padding: 20px 0;
    }

        .inbox-form h3 {
            margin: 0 0 20px;
        }

    .adminMenu_holder .nav {
        padding: 0 0 50px;
    }

    .adminUser_area.list-inline li.search {
        padding: 0 10px;
    }

    #srch-term {
        padding: 0 10px 0 0;
    }

    .compose-message,
    .view-message {
        padding: 20px 0;
    }

    .table1 .all-select {
        padding: 5px 10px;
    }
}

@media only screen and (max-width:539px) {
    .adminUser_area.list-inline li.search .navbar-form .input-group {
        width: auto;
        padding: 0;
    }

    .adminUser_area.list-inline li.Setting {
        font-size: 16px;
    }

    .adminUser_area.list-inline li.Setting {
        width: auto;
        /*margin-top: 10px;*/
    }

    .admin_section .mainContent_hlder .value_box .col-lg-4 {
        margin-bottom: 20px;
        margin-right: 0;
        width: 100%;
        min-height: 120px;
    }

        .admin_section .mainContent_hlder .value_box .col-lg-4 h1 {
            margin: 20px auto;
        }

    graph .Inntekter h1, .admin_section .mainContent_hlder .graph h1 {
        clear: both;
        display: block;
        width: auto;
    }

    .graph .Inntekter .list-inline.pull-right {
        clear: both;
        display: block;
        float: none !important;
        margin: 0 0 20px;
        padding: 0;
        width: 100%;
    }

        .graph .Inntekter .list-inline.pull-right li {
            padding: 0;
        }

    .admin_section .mainContent_hlder .advertise .boxes .col-lg-4 {
        width: 100%;
        margin: 0 auto 20px;
    }

        .admin_section .mainContent_hlder .advertise .boxes .col-lg-4:last-child {
            margin: 0;
        }

    .ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all {
        width: auto;
    }

    .servicesRequest_form .form_col .form-control {
        max-width: none;
        width: 100%;
    }

    .date_picker_holder .servicesRequest_form p {
        padding: 0;
    }

    .servicesRequest_form .form_col label {
        float: left;
    }

    .servicesRequest_form .form_col .form-control {
        min-width: auto;
        width: 100% !important;
    }

    .popup_top_bar > span {
        font-size: 16px;
        height: 45px;
        line-height: 45px;
    }

    .ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all::after {
        right: 35px !important;
    }

    .adminUser_area.list-inline li.search {
        padding: 0 10px;
        width: 180px;
        display: block;
        margin: 0 auto 10px;
    }

    .adminUser_area.list-inline li.icons.Setting.text-right {
        border-left: 1px solid #d8dde1;
    }

    .adminUser_area.list-inline li.icons a {
        line-height: 50px;
    }

    .admin_section #footer ul li {
        display: block;
        padding: 0 10px;
    }

    .adminUser_area.list-inline li.icons a {
        line-height: 20px !important;
    }

    .admin_section .open > .dropdown-menu.dashboard-drop {
        width: 280px;
        left: 0;
        margin: -14px 0 0 -29px;
    }

        .admin_section .open > .dropdown-menu.dashboard-drop::after {
            left: 12%;
        }

    .admin_section .open .dropdown-menu > li > a {
        padding: 0 20px 0 10px;
    }

    .full-width-list li {
        padding: 10px 80px 10px 10px;
    }

    .right-holder {
        width: 70px;
        padding: 0;
        font-size: 12px;
    }

        .right-holder time {
            display: block;
            margin: 0 0 10px;
        }

    .attach {
        margin: 0;
    }

    .full-width-list .all-select {
        padding: 4px 10px 0 0;
    }

    .all-select {
        padding: 10px 2px 3px 8px;
    }

    .attachment-list li {
        width: 100%;
    }

    .fileUpload {
        width: 49%;
        text-align: left;
    }

    .btn-holder {
        margin: 0;
    }

    .btn-group.btn-holder .btn.btn2,
    .btn-group.btn-holder .btn.btn1 {
        width: 49%;
        margin: 0 0 5px;
    }

    .mail-det-list dd, .mail-det-list dt {
        padding: 5px;
    }

    .table.table2 th:first-child, .table.table2 td:first-child {
        width: 40%;
    }
}

@media only screen and (max-width:480px) {

    .adminUser_area.list-inline {
        clear: both;
        display: block;
        /*height:190px;*/
        position: relative;
    }

        .adminUser_area.list-inline li.search .navbar-form, .adminUser_area.list-inline li.search .navbar-form .input-group {
            width: 100%;
            padding: 0 10px;
        }

            .adminUser_area.list-inline li.search .navbar-form .input-group {
                padding: 0;
            }

    .admin_section .mainContent_hlder {
        display: block;
        clear: both;
    }
    /*.adminUser_area.list-inline li.Setting {
width:100%;
}*/
    .admin_section .open > .dropdown-menu {
        min-width: 100%;
    }

    .admin_section .mainContent_hlder .value_box .graph li span {
        margin-right: 5px;
        padding-left: 25px;
    }

    .mainContent_hlder #no-more-tables .table-condensed tbody {
        width: 90%;
    }

    #main .kampanjer_inner {
        width: 100%;
    }

    .markedsforere_row .right_border {
        border-bottom: 15px solid rgb(241, 241, 241);
        width: 100%;
        border-right: none;
    }

    .button_overlay .first {
        float: none;
    }

    .button_overlay .second {
        line-height: 16px;
        margin-bottom: 2px;
    }

    .button_overlay {
        padding-top: 5px;
    }

    .servicesRequest_form .form_col label.checkbox-inline, .servicesRequest_form .form_col label.radio-inline {
        width: 100%;
        margin: 0;
    }
}

@media only screen and (max-width:400px) {
    .Inntekter .list-inline.pull-right li {
        padding: 0;
        display: block;
        margin-bottom: 15px;
    }

    .admin_section .mainContent_hlder h1 {
        font-size: 16px;
    }

    .mainContent_hlder #no-more-tables .table-condensed tbody {
        width: 85%;
    }

    .insta_gram_icon {
        display: inline-block;
    }

    .image_tex_right {
        float: none;
        display: block;
        width: 100%;
    }

    .image_text_box {
        display: block;
        padding: 0 0 0 5px;
        text-align: center;
        vertical-align: middle;
        width: 100%;
    }

    .status_left {
        display: block;
        width: 100%;
        text-align: center;
    }
}

.img-profile img {
    height: 50px;
    width: 50px;
}

.Loaddiv {
    margin: 0px;
    padding: 0px;
    position: fixed;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: White;
    z-index: 30001;
    opacity: 0.5;
    filter: alpha(opacity=70);
    display: none;
}

    .Loaddiv p {
        position: absolute;
        top: 30%;
        left: 50%;
        color: White;
    }

ul#inboxmessages li a {
    text-decoration: none;
}
