﻿
@{
    ViewBag.Title = "Quick Tour of Online Dental Software | Web Based Dental Software";
    Layout = "~/Views/Shared/NewSiteLayout.cshtml";
}

<main id="main">
    <div class="page_haading_holder">
        <div class="container navigation_container">
            <div class="row navigation_row">
                <div class="col-xs-12">
                    <div class="page_heading">
                        <h1>Quick Tour</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="investment-packages-main-bg about-us">
        <div class="block-investment-table plane_pricing_table">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block-facilities careers team-wrap-bg clearfix policy quick_tour">
                            <div class="col-xs-12">
                                <h3>RecordLinc Quick Tour</h3>
                                <div class="row">
                                    <ul class="tour">
                                        <li>
                                            <a href="//youtu.be/ky1IFi5vhi4?list=PLzwH-GxNakibtDqFW-HS8x28TI_9B8Ncg" target="_blank">
                                                <img src="~/Content/css/HomePage/images/dashboard-ico.png" alt="Dashboard" />
                                                <h5>Dashboard</h5>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://youtu.be/ky1IFi5vhi4?list=PLzwH-GxNakibtDqFW-HS8x28TI_9B8Ncg" target="_blank">
                                                <img src="~/Content/css/HomePage/images/inbox-ico.png" alt="Inbox" />
                                                <h5>Inbox</h5>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://youtu.be/ky1IFi5vhi4?list=PLzwH-GxNakibtDqFW-HS8x28TI_9B8Ncg" target="_blank">
                                                <img src="~/Content/css/HomePage/images/profile_ico.png" alt="Profile" />
                                                <h5>Profile</h5>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://youtu.be/ky1IFi5vhi4?list=PLzwH-GxNakibtDqFW-HS8x28TI_9B8Ncg" target="_blank">
                                                <img src="~/Content/css/HomePage/images/patient_ico.png" alt="Patients" />
                                                <h5>Patients</h5>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://youtu.be/ky1IFi5vhi4?list=PLzwH-GxNakibtDqFW-HS8x28TI_9B8Ncg" target="_blank">
                                                <img src="~/Content/css/HomePage/images/colleague_ico.png" alt="Colleagues" />
                                                <h5>Colleagues</h5>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://youtu.be/ky1IFi5vhi4?list=PLzwH-GxNakibtDqFW-HS8x28TI_9B8Ncg" target="_blank">
                                                <img src="~/Content/css/HomePage/images/referrals-ico.png" alt="Referrals" />
                                                <h5>Referrals</h5>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://youtu.be/ky1IFi5vhi4?list=PLzwH-GxNakibtDqFW-HS8x28TI_9B8Ncg" target="_blank">
                                                <img src="~/Content/css/HomePage/images/patient-ico.png" alt="Patient Forms" />
                                                <h5>Patient Forms</h5>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://youtu.be/ky1IFi5vhi4?list=PLzwH-GxNakibtDqFW-HS8x28TI_9B8Ncg" target="_blank">
                                                <img src="~/Content/css/HomePage/images/clubs-ico.png" alt="Study Clubs" />
                                                <h5>Study Clubs</h5>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://youtu.be/ky1IFi5vhi4?list=PLzwH-GxNakibtDqFW-HS8x28TI_9B8Ncg" target="_blank">
                                                <img src="~/Content/css/HomePage/images/marketing-ico.png" alt="Marketing" />
                                                <h5>Marketing</h5>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://youtu.be/ky1IFi5vhi4?list=PLzwH-GxNakibtDqFW-HS8x28TI_9B8Ncg" target="_blank">
                                                <img src="~/Content/css/HomePage/images/reports-ico.png" alt="Reports" />
                                                <h5>Reports</h5>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="row Video">
                                    <h2>Click and Watch Video</h2>
                                    <div class="col-lg-6 col-sm-6 btm-margin-30">
                                        <a href="https://vimeo.com/recordlinc" target="_blank">
                                            <img src="~/Content/css/HomePage/images/rl-demo-video.png" alt="RecordLinc Demonstration" />
                                            <span>RecordLinc Demonstration</span>
                                        </a>
                                    </div>
                                    <div class="col-lg-6 col-sm-6 btm-margin-30">
                                        <a href="https://mydentalfiles.com/QuickTour" target="_blank">
                                            <img src="~/Content/css/HomePage/images/rl-demo-video.png" alt="MyDentalFiles Demonstration" />
                                            <span>MyDentalFiles Demonstration</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="row Video com">
                                    <h3>Other Videos</h3>
                                    <div class="col-lg-4 col-sm-4 btm-margin-30">
                                        <a href="https://player.vimeo.com/video/43355308?version=3&autoplay=1" target="_blank">
                                            <img src="~/Content/css/HomePage/images/commerical-video.png" alt="RecordLinc Commercial" />
                                            <span>RecordLinc<br />Commercial</span>
                                        </a>
                                    </div>
                                    <div class="col-lg-4 col-sm-4 btm-margin-30">
                                        <a href="https://player.vimeo.com/video/53889622?version=3&autoplay=1" target="_blank">
                                            <img src="~/Content/css/HomePage/images/commerical-video.png" alt="RecordLinc Welcome Video" />
                                            <span>RecordLinc<br />Welcome Video</span>
                                        </a>
                                    </div>
                                    <div class="col-lg-4 col-sm-4 btm-margin-30">
                                        <a href="https://www.youtube-nocookie.com/v/dACNLQ7LNwo?version=3&autoplay=1" target="_blank">
                                            <img src="~/Content/css/HomePage/images/commerical-video.png" alt="RecordLinc Video" />
                                            <span>Interview with<br />Dr.Bruce Bohannan</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<div class="block-links">
    <div class="container">
        <div class="col">
            <a href="@Url.Action("News", "Aboutus")">
                <i class="icon"><img src="~/Content/css/HomePage/images/new/img43.png" alt="image description"></i>
                <span class="text">News</span>
            </a>
        </div>
        <div class="col">
            <a href="@Url.Action("HIPAA", "Faq")">
                <i class="icon"><img src="~/Content/css/HomePage/images/new/img43.png" alt="image description"></i>
                <span class="text">HIPAA <br>Compliance</span>
            </a>
        </div>
        <div class="col">
            <a href="@Url.Action("Index", "Faq")">
                <i class="icon"><img src="~/Content/css/HomePage/images/new/img43.png" alt="image description"></i>
                <span class="text">FAQ</span>
            </a>
        </div>
        <div class="col">
            <a href="@Url.Action("Index", "Quicktour")">
                <i class="icon"><img src="~/Content/css/HomePage/images/new/img43.png" alt="image description"></i>
                <span class="text">Demo</span>
            </a>
        </div>
    </div>
</div>