﻿@{
    ViewBag.Title = "Quick Tour of Online Dental Software | Web Based Dental Software";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        $(function () {
            $("#homeindex").removeClass("active");
            $("#quick_tour").addClass("active");
            $("#plan_pricing").removeClass("active");
            $("#faq").removeClass("active");
            $("#about_us").removeClass("active");
            $("#contact_us").removeClass("active");
        });
    });


   
</script>
<!-- InnerPage starts here -->
<section id="inner">
	<div class="container">    	
                       
        <div class="content">
        	<h2 class="title">RecordLinc Quick Tour</h2>
            <div class="textpanel quicktour">
            	<ul class="tour">
                	<li><a href="//youtu.be/ky1IFi5vhi4?list=PLzwH-GxNakibtDqFW-HS8x28TI_9B8Ncg" target="_blank"><span class="dashboard"></span><h5>Dashboard</h5></a></li><li><a href="https://youtu.be/ky1IFi5vhi4?list=PLzwH-GxNakibtDqFW-HS8x28TI_9B8Ncg" target="_blank"><span class="inbox"></span><h5>Inbox</h5></a></li><li><a href="https://youtu.be/ky1IFi5vhi4?list=PLzwH-GxNakibtDqFW-HS8x28TI_9B8Ncg" target="_blank"><span class="profile"></span><h5>Profile</h5></a></li><li><a href="https://youtu.be/ky1IFi5vhi4?list=PLzwH-GxNakibtDqFW-HS8x28TI_9B8Ncg" target="_blank"><span class="patients"></span><h5>Patients</h5></a></li><li><a href="https://youtu.be/ky1IFi5vhi4?list=PLzwH-GxNakibtDqFW-HS8x28TI_9B8Ncg" target="_blank"><span class="colleagues"></span><h5>Colleagues</h5></a></li><li><a href="https://youtu.be/ky1IFi5vhi4?list=PLzwH-GxNakibtDqFW-HS8x28TI_9B8Ncg" target="_blank"><span class="referrals"></span><h5>Referrals</h5></a></li><li><a href="https://youtu.be/ky1IFi5vhi4?list=PLzwH-GxNakibtDqFW-HS8x28TI_9B8Ncg" target="_blank"><span class="eforms"></span><h5>Patient Forms</h5></a></li><li><a href="https://youtu.be/ky1IFi5vhi4?list=PLzwH-GxNakibtDqFW-HS8x28TI_9B8Ncg" target="_blank"><span class="studyclubs"></span><h5>Study Clubs</h5></a></li><li><a href="https://youtu.be/ky1IFi5vhi4?list=PLzwH-GxNakibtDqFW-HS8x28TI_9B8Ncg" target="_blank"><span class="marketing"></span><h5>Marketing</h5></a></li><li><a href="https://youtu.be/ky1IFi5vhi4?list=PLzwH-GxNakibtDqFW-HS8x28TI_9B8Ncg" target="_blank"><span class="reports"></span><h5>Reports</h5></a></li>
                </ul>
                
                <div class="demo_panel">
                	<h2 class="title">RecordLinc Demonstration</h2>
                    <div class="demo">
                        <img src="../Images/inner/demo.png" alt="RecordLinc Demonstration">
                        <a class="watchdemo" href="http://vimeo.com/recordlinc" target="_blank"></a>                        
                    </div>                    
                </div>
                
                <div id="md_qt" class="demo_panel my_dentalfiles"> <!-- Inserted only for Mobile use, else used in right panel -->
                <h2 class="title">MyDentalFiles Quick Tour</h2>
                <ul class="tour">
                	<li><a href="http://donatedentist.org/mydentalfilesdemo/my_inbox.html"><span class="myinbox"></span><h5>My Inbox</h5></a></li><li><a href="http://donatedentist.org/mydentalfilesdemo/patient_history.html"><span class="myinfo"></span><h5>My Info</h5></a></li><li><a href="http://donatedentist.org/mydentalfilesdemo/treating_docs.html"><span class="treatingdocs"></span><h5>Treating Doctors</h5></a></li><li><a href="http://donatedentist.org/mydentalfilesdemo/dental_files.html"><span class="dentalfiles"></span><h5>Dental Files</h5></a></li>
                </ul>
                </div>
                
                <div class="demo_panel">
                	<h2 class="title">MyDentalFiles Demonstration</h2>
                    <div class="demo">
                        <img src="../Images/inner/demo.png" alt="RecordLinc Demonstration">
                        <a class="watchdemo" href="//mydentalfiles.com/QuickTour" target="_blank"></a>                        
                    </div>                    
                </div>
                
              <div class="demo_panel">
                	<h2 class="title">Other Videos</h2>
                    <div class="other_video">
                    	<div class="video">
                        <a href="http://player.vimeo.com/video/43355308?version=3&amp;autoplay=1">
                 		<img src="../Images/inner/main-video.jpg" alt="RecordLinc Commercial"></a> 
                        </div>
                    </div>
                    
                    <ul id="clips" class="vthumbs">
                        	<li>
                            	<div class="thumb"><a href="http://player.vimeo.com/video/43355308?version=3&amp;autoplay=1"><img src="../Images/inner/thumb1.jpg" alt="RecordLinc Commercial"></a></div>
                                <p><a href="http://player.vimeo.com/video/43355308?version=3&amp;autoplay=1">RecordLinc Commercial</a></p>
                            </li><li>                            
                            	<div class="thumb"><a href="http://player.vimeo.com/video/53889622?version=3&amp;autoplay=1"><img src="../Images/inner/thumb2.jpg" alt="RecordLinc Commercial"></a></div>
                                <p><a href="http://player.vimeo.com/video/53889622?version=3&amp;autoplay=1">RecordLinc Welcome Video</a></p>
                            </li><li>
                            	<div class="thumb"><a href="https://www.youtube-nocookie.com/v/dACNLQ7LNwo?version=3&autoplay=1"><img src="../Images/inner/thumb4.jpg" alt="RecordLinc Commercial"></a></div>
                                <p><a href="https://www.youtube-nocookie.com/v/dACNLQ7LNwo?version=3&autoplay=1">Interview with Dr.Bruce Bohannan</a></p>
                            </li>
                    </ul>
                        
                    <div class="clear"></div>
                </div>
                
            </div>           
       </div>
       
       <div class="aside">   	   		
            <a class="advert" href='@Url.Action("Index", "FreeTopaid")'><img class="inline mb40 border" src="../Images/inner/recordlinc-pro.jpg" alt="RecordLic Pro at $47 for limited time"></a><a class="advert" href="Javascript:;" onclick="SearchDatabase()"><img class="inline" src="../Images/inner/search-database.jpg" alt="Grow your practice by expanding your professional network"></a>
            <div class="my_dentalfiles">
           	  <h3>My Dental Files Quick Tour</h3>
                <h4>Secure patient access to their dental files</h4>
            	<ul class="tour">
                	<li><a href="//donatedentist.org/mydentalfilesdemo/my_inbox.html"><span class="myinbox"></span><h5>My Inbox</h5></a></li><li><a href="http://donatedentist.org/mydentalfilesdemo/patient_history.html"><span class="myinfo"></span><h5>My Info</h5></a></li><li><a href="http://donatedentist.org/mydentalfilesdemo/treating_docs.html"><span class="treatingdocs"></span><h5>Treating Doctors</h5></a></li><li><a href="http://donatedentist.org/mydentalfilesdemo/dental_files.html"><span class="dentalfiles"></span><h5>Dental Files</h5></a></li>
                </ul>
                <div class="clear"></div>
            </div>
       </div>
        
        <div class="clear"></div>
  </div>
</section>
<!-- InnerPage starts ends here -->
