﻿@model DentalFiles.Models.ViewModel.DentalFormsMaster
<style>
    input[type=text], .input_box_textarea {
        background: transparent;
        border: none;
        border-bottom: 1px solid #000000;
        text-align: justify;
        width: 100%;
    }

    button[type=reset] {
        float: right;
    }

    h1 {
        text-align: center;
    }

    .box {
        border: 2px solid #000000;
        padding: 10px;
    }

    p {
        text-align: justify-all;
    }

    .top-buffer {
        margin-top: 20px;
    }

    .required {
        color: red;
        font-size: 20px;
    }
</style>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

@foreach (var item in Model.DentalHistory)
{
    
<div id="tab-container_5" class="container col-md-12" style="display: none;">
    <div class="row top-buffer"></div>
    <h1>DENTAL HISTORY</h1>
    <hr>
    @*<div class="left_panel_head">
            <h2 style="margin-left:10px">
                Dental History
            </h2>
        </div>
        <div class="right_panel_head">
            <div class="skip_step" id="btndhskp">
                <a id="askpCDMH" onclick="skipCDMH()">Skip Step</a>
            </div>
        </div>
        <div class="clear">
        </div>*@
    <div class="row" id="DentalHistoryPanel">
        <div class="col-sm-4">
            <div class="form-group">
                <label for="name" class="control-label">
                    1. Previous Dentist's Name :
                </label>
                @Html.TextBoxFor(model => @item.txtQue5, new { id = "txtQue5", @class = "input_box_forms", @tabindex = 5 })
            </div>
        </div>
        <div id="pnltxt5li" style="display: none" class="form-group">
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="name" class="control-label">
                        Address
                    </label>
                    @Html.TextBoxFor(model => @item.txtQue5a, new { id = "txtQue5a", @class = "input_box_forms", @tabindex = 6 })
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="name" class="control-label">
                        Phone
                    </label>
                    @Html.TextBoxFor(model => @item.txtQue5b, new { id = "txtQue5b", @class = "input_box_forms", @tabindex = 7 })
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="name" class="control-label">
                        Email
                    </label>
                    @Html.TextBoxFor(model => @item.txtQue5c, new { id = "txtQue5c", @class = "input_box_forms", @tabindex = 8 })
                </div>
            </div>

        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="name" class="control-label">
                    2. When was the last time you had your teeth cleaned ? :
                </label>
                @Html.TextBoxFor(model => @item.txtQue6, new { id = "txtQue6", @class = "input_box_forms", @tabindex = 9 })
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="name" class="control-label">
                    3. Do you make regular visits to the dentist ? : <br>
                    <input type="radio" name="dentist_visits" id="dentist_visits"> Yes
                    <input type="radio" name="dentist_visits" id="dentist_visits"> No (If Yes, How Often)
                </label>
                @Html.CheckBoxFor(model => @item.rdQue7a, new { id = "rdQue7a", @tabindex = 10 })
            </div>
        </div>
        <div class="col-sm-6" style="display:none">
            <div class="form-group">
                <label for="name" class="control-label">
                    4. Please explain any problems or complications with previous dental treatment ? :
                </label>
                @Html.TextAreaFor(model => @item.txtQue12, new { id = "txtQue12", @class = "input_box_textarea", @tabindex = 25, style = "height:65px" })
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="name" class="control-label">
                    4. Have any of your teeth been replaced with the following ? : <br>
                    @Html.CheckBoxFor(model => @item.rdoQue11bRemoveablebridge, new { id = "rdoQue11bRemoveablebridge", @tabindex = 18 })
                    @Html.Label("Fixed Bridge")

                    @Html.CheckBoxFor(model => @item.rdoQue11bRemoveablebridge, new { id = "rdoQue11bRemoveablebridge", @tabindex = 18 })
                    @Html.Label("Removeable Bridge")

                    @Html.CheckBoxFor(model => @item.rdoQue11bRemoveablebridge, new { id = "rdoQue11bRemoveablebridge", @tabindex = 18 })
                    @Html.Label("Denture")

                    @Html.CheckBoxFor(model => @item.rdoQue11bRemoveablebridge, new { id = "rdoQue11bRemoveablebridge", @tabindex = 18 })
                    @Html.Label("Implant")
                </label>
                <input type="text" name="teeth_replaced_det" id="teeth_replaced_det">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="name" class="control-label">
                    5. Do you clench or grind your teeth ? : <br>
                    @Html.CheckBoxFor(model => @item.rdQue15, new { id = "rdQue15", @tabindex = 30 }) Yes
                    @Html.CheckBoxFor(model => @item.rdQue15, new { id = "rdQue15", @tabindex = 30 }) No
                </label>
                <span>

                </span>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="name" class="control-label">
                    6. Does your jaw click or pop ? : <br>
                    @Html.RadioButtonFor(model => @item.rdQue16, new { id = "rdQue16", @tabindex = 31 }) Yes
                    @Html.RadioButtonFor(model => @item.rdQue16, new { id = "rdQue16", @tabindex = 31 }) No
                </label>
                <span>

                </span>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="name" class="control-label">
                    7. Are you experiencing any pain or soreness in the muscles of your face ? : <br>
                    @Html.RadioButtonFor(model => @item.rdQue17, new { id = "rdQue17", @tabindex = 32 }) Yes
                    @Html.RadioButtonFor(model => @item.rdQue17, new { id = "rdQue17", @tabindex = 32 }) No
                </label>
                <input type="text" name="" id="">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="name" class="control-label">
                    8. Do you have frequent headaches, neckaches or shoulder aches ? : <br>
                    @Html.CheckBoxFor(model => @item.rdQue18, new { id = "rdQue18", @tabindex = 33 }) Yes
                    @Html.CheckBoxFor(model => @item.rdQue18, new { id = "rdQue18", @tabindex = 33 }) No
                </label>
                <input type="text" name="frequent_headaches_det" id="frequent_headaches_det">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="name" class="control-label">
                    9. Does food get caught in your teeth ? : <br>
                    @Html.RadioButtonFor(model => @item.rdQue19, new { id = "rdQue19", @tabindex = 34 })
                    @Html.Label("Yes")
                    @Html.RadioButtonFor(model => @item.rdQue19, new { id = "rdQue19", @tabindex = 34 })
                    @Html.Label("No")
                </label>
                <input type="text" name="" id="">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="name" class="control-label">
                    10. Are any of your teeth sensitive to ? : <br>
                    @Html.CheckBoxFor(model => @item.chkQue20_1, new { id = "chkQue20_1", @tabindex = 35 })
                    @Html.Label("Hot")
                    @Html.CheckBoxFor(model => @item.chkQue20_2, new { id = "chkQue20_2", @tabindex = 36 })
                    @Html.Label("Cold")
                    @Html.CheckBoxFor(model => @item.chkQue20_3, new { id = "chkQue20_3", @tabindex = 37 })
                    @Html.Label("Sweets")
                    @Html.CheckBoxFor(model => @item.chkQue20_4, new { id = "chkQue20_4", @tabindex = 38 })
                    @Html.Label("Pressure")
                </label>
                <input type="text" name="" id="">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="name" class="control-label">
                    11. Do your gums bleed or hurt ? : <br>
                    @Html.CheckBoxFor(model => @item.rdQue21, new { id = "rdQue21", @tabindex = 39 })
                    @Html.Label("Yes")
                    @Html.CheckBoxFor(model => @item.rdQue21, new { id = "rdQue21", @tabindex = 39 })
                    @Html.Label("No ( If Yes, When ? )")
                </label>
                <input type="text" name="bleed_hurt_det" id="bleed_hurt_det">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="name" class="control-label">
                    12. How often do you brush your teeth ? :
                </label>
                @Html.TextBoxFor(model => @item.txtQue22, new { id = "txtQue22", @class = "input_box_forms", @tabindex = 41 })
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="name" class="control-label">
                    13. How often do you use dental floss ? :
                </label>
                @Html.TextBoxFor(model => @item.txtQue23, new { id = "txtQue23", @class = "input_box_forms", @tabindex = 44 })
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="name" class="control-label">
                    14. Are any of your teeth loose, tipped, shifted or chipped ? : <br>
                    @Html.RadioButtonFor(model => @item.rdQue24, new { id = "rdQue24", @tabindex = 45 })
                    @Html.Label("Yes")
                    @Html.RadioButtonFor(model => @item.rdQue24, new { id = "rdQue24", @tabindex = 45 })
                    @Html.Label("No")
                </label>
                <input type="text" name="" id="">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="name" class="control-label">
                    15. Do you feel your breath is often offensive ? : <br>
                    @Html.RadioButtonFor(model => @item.rdQue28, new { id = "rdQue28", @tabindex = 49 })
                    @Html.Label("Yes")
                    @Html.RadioButtonFor(model => @item.rdQue28, new { id = "rdQue28", @tabindex = 49 })
                    @Html.Label("No")
                </label>
                <input type="text" name="breath_offensive_det" id="breath_offensive_det">
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group">
                <label for="name" class="control-label">
                    16. Explain any orthodonic work you have had done ? :
                </label>
                @Html.TextAreaFor(model => @item.txtQue29, new { id = "txtQue29", @class = "input_box_textarea", @tabindex = 53, style = "height:40px" })
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="name" class="control-label">
                    17. Explain any dental work you have had done ( Perio, Oral Surgery, etc. ) :
                </label>
                @Html.TextAreaFor(model => @item.txtQue29a, new { id = "txtQue29a", @class = "input_box_textarea", @tabindex = 50, style = "height:70px" })
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="name" class="control-label">
                    18. How do you feel about your teeth in general ? :
                </label>
                @Html.TextAreaFor(model => @item.txtQue26, new { id = "txtQue26", @class = "input_box_textarea", @tabindex = 47, style = "height:40px" })
            </div>
        </div>
        <div class="col-sm-6" style="display:none">
            <div class="form-group">
                <label for="name" class="control-label">
                    20. Additional Information :
                </label>
                @Html.TextAreaFor(model => @item.txtComments, new { id = "txtComments", @class = "input_box_textarea", @tabindex = 56 })
            </div>
        </div>
    </div>

</div>
}
@* <div id="DentalHistoryPanel">
                    <ul id="form_info">
                        <li style="display: none">
                            <label>
                                1. Purpose Of Initial Visit
                            </label>
                            @Html.TextAreaFor(model => @item.txtQue1, new { id = "txtQue1", @class = "input_box_textarea", @tabindex = 1 })
                        </li>
                        <li style="display: none">
                            <label>
                                2. Are you aware of a problem?
                            </label>
                            @Html.TextBoxFor(model => @item.txtQue2, new { id = "txtQue2", @class = "input_box_forms", @tabindex = 2 })
                        </li>
                        <li style="display: none">
                            <label>
                                <div style="float: left">
                                    3.&nbsp;
                                </div>
                                <div style="margin-left: 15px;">
                                    How long since the patient last dental visit?
                                </div>
                            </label>
                            @Html.TextBoxFor(model => @item.txtQue3, new { id = "txtQue3", @class = "input_box_forms", @tabindex = 3 })
                        </li>
                        <li style="display: none">
                            <label>
                                4. What was done at that time?
                            </label>
                            @Html.TextBoxFor(model => @item.txtQue4, new { id = "txtQue4", @class = "input_box_forms", @tabindex = 4 })
                        </li>
                        <li>
                            <label style="width: 40.1%">
                                1. Previous Dentist's Name
                            </label>
                            @Html.TextBoxFor(model => @item.txtQue5, new { id = "txtQue5", @class = "input_box_forms", @tabindex = 5 })
                            @*<span id="dvContinent12" >
                                </span>
                        </li>
                    </ul>
                    <div id="pnltxt5li" style="display: none">
                        <ul class="information_panel" id="form_info">
                            <br />
                            <li>
                                <label style="padding-top: 0px;">
                                    <div style="float: left">
                                        &nbsp;
                                    </div>
                                    <div style="margin-left: 21px;">
                                        Address
                                    </div>
                                </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                @Html.TextBoxFor(model => @item.txtQue5a, new { id = "txtQue5a", @class = "input_box_forms", @tabindex = 6 })
                            </li>
                            <br />
                            <li>
                                <label style="padding-top: 0px;">
                                    <div style="float: left">
                                        &nbsp;
                                    </div>
                                    <div style="margin-left: 21px;">
                                        Phone
                                    </div>
                                </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                @Html.TextBoxFor(model => @item.txtQue5b, new { id = "txtQue5b", @class = "input_box_forms", @tabindex = 7 })
                            </li>
                            <li>
                                <label style="padding-top: 0px;">
                                    <div style="float: left">
                                        &nbsp;
                                    </div>
                                    <div style="margin-left: 21px;">
                                        Email
                                    </div>
                                </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                @Html.TextBoxFor(model => @item.txtQue5c, new { id = "txtQue5c", @class = "input_box_forms", @tabindex = 8 })
                            </li>
                            <li>
                                <label>
                                </label>
                                <span id="dvtxtQue5c" style="color: Red"></span>
                        </ul>
                    </div>
                    <ul id="form_info">
                        <li>
                            <label style="width: 40.1%">
                                <div style="float: left">
                                    2.&nbsp;
                                </div>
                                <div style="margin-left: 15px;">
                                    When was the last time you had your teeth cleaned?
                                </div>
                            </label>
                            @Html.TextBoxFor(model => @item.txtQue6, new { id = "txtQue6", @class = "input_box_forms", @tabindex = 9 })
                        </li>
                        <li onclick="rdQue7a()">
                            <label>
                                <div style="float: left">
                                    3.&nbsp;
                                </div>
                                <div style="margin-left: 15px;">
                                    Do you make regular visits to the dentist?
                                </div>
                            </label>
                            <span>
                                @Html.CheckBoxFor(model => @item.rdQue7a, new { id = "rdQue7a", @tabindex = 10 })
                            </span>
                        </li>
                    </ul>
                    <div id="pnlrdQue7a">
                        <ul class="information_panel" id="form_info">
                            <li>
                                <label>
                                    <div style="float: left">
                                        &nbsp;
                                    </div>
                                    <div style="margin-left: 21px;">
                                        How often
                                    </div>
                                </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                @Html.TextBoxFor(model => @item.txtQue7, new { id = "txtQue7", @class = "input_box_forms", @tabindex = 11 })
                            </li>
                            <li></li>
                        </ul>
                    </div>
                    <ul id="form_info" style="display: none">
                        <li>
                            <label>
                                4. Were dental x-rays taken?
                            </label>
                            <span>
                                @Html.CheckBoxFor(model => @item.rdQue8, new { id = "rdQue8", @tabindex = 12 })
                            </span>
                        </li>
                        <li onclick="rdQue9()">
                            <label>
                                <div style="float: left">
                                    5.&nbsp;
                                </div>
                                <div style="margin-left: 15px;">
                                    Have the patient lost any teeth or have any teeth been removed?
                                </div>
                            </label>
                            <span>
                                @Html.CheckBoxFor(model => @item.rdQue9, new { id = "rdQue9", @tabindex = 13 })
                            </span>
                        </li>
                        <div id="pnlrdQue9">
                            <ul class="information_panel" id="form_info">
                                <li>
                                    <label>
                                        <div style="float: left">
                                            &nbsp;
                                        </div>
                                        <div style="margin-left: 21px;">
                                            If yes, why?
                                        </div>
                                    </label>
                                    @Html.TextBoxFor(model => @item.txtQue9a, new { id = "txtQue9a", @class = "input_box_forms", @tabindex = 14 })
                                </li>
                                <li></li>
                            </ul>
                        </div>
                    </ul>
                    <ul id="form_info">
                        <li style="display: none">
                            <label>
                                <div style="float: left">
                                    6.&nbsp;
                                </div>
                                <div style="margin-left: 21px;">
                                    Have they been replaced?
                                </div>
                            </label>
                            <span>
                                @Html.CheckBoxFor(model => @item.rdQue10, new { id = "rdQue10", @tabindex = 16 })
                            </span>
                        </li>
                        <li>
                            <label style="width: 40.1%">
                                <div style="float: left">
                                    4.&nbsp;
                                </div>
                                <div style="margin-left: 21px;">
                                    Please explain any problems or complications with previous dental treatment?
                                </div>
                            </label>
                            @Html.TextAreaFor(model => @item.txtQue12, new { id = "txtQue12", @class = "input_box_textarea", @tabindex = 25, style = "height:65px" })
                        </li>
                        <li>
                            <label>
                                <div style="float: left">
                                    5.&nbsp;
                                </div>
                                <div style="margin-left: 21px;">
                                    Have any of your teeth been replaced with the following?
                                </div>
                            </label>
                            &nbsp;
                        </li>
                    </ul>
                    <ul class="information_panel" id="form_info">
                        <li>
                            <label style="width: 61.5%">
                                <div style="float: left">
                                    &nbsp;
                                </div>
                                <div style="margin-left: 21px;">
                                </div>
                            </label>
                            <span>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>
                                                @Html.CheckBoxFor(model => @item.rdoQue11aFixedbridge, new { id = "rdoQue11aFixedbridge", @tabindex = 17 })
                                                @Html.Label("Fixed Bridge")
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </span>
                        </li>
                        <li>
                            <label style="width: 61.5%">
                                <div style="float: left">
                                    &nbsp;
                                </div>
                                <div style="margin-left: 21px;">
                                </div>
                            </label>
                            <span style="padding-top: 0">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>
                                                @Html.CheckBoxFor(model => @item.rdoQue11bRemoveablebridge, new { id = "rdoQue11bRemoveablebridge", @tabindex = 18 })
                                                @Html.Label("Removeable Bridge")
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </span>
                        </li>
                        <li>
                            <label style="width: 61.5%">
                                <div style="float: left">
                                    &nbsp;
                                </div>
                                <div style="margin-left: 21px;">
                                </div>
                            </label>
                            <span style="padding-top: 0">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>
                                                @Html.CheckBoxFor(model => @item.rdoQue11cDenture, new { id = "rdoQue11cDenture", @tabindex = 19 })
                                                @Html.Label("Denture")
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </span>
                        </li>
                        <li>
                            <label style="width: 61.5%">
                                <div style="float: left">
                                    &nbsp;
                                </div>
                                <div style="margin-left: 21px;">
                                </div>
                            </label>
                            <span style="padding-top: 0">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>
                                                @Html.CheckBoxFor(model => @item.rdQue11dImplant, new { id = "rdQue11dImplant", @tabindex = 23 })
                                                @Html.Label("Implant")
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </span>
                        </li>
                        <li>&nbsp;</li>
                    </ul>
                    <ul id="form_info">
                        <li>
                            <label>
                                <div style="float: left">
                                    6.&nbsp;
                                </div>
                                <div style="margin-left: 21px;">
                                    Do you clench or grind your teeth?
                                </div>
                            </label>
                            <span>
                                @Html.CheckBoxFor(model => @item.rdQue15, new { id = "rdQue15", @tabindex = 30 })
                            </span>
                        </li>
                        <li onclick="getvalue()">
                            <label>
                                <div style="float: left">
                                    7.&nbsp;
                                </div>
                                <div style="margin-left: 21px;">
                                    Does your jaw click or pop?
                                </div>
                            </label>
                            <span>
                                @Html.CheckBoxFor(model => @item.rdQue16, new { id = "rdQue16", @tabindex = 31 })
                            </span>
                        </li>
                        <li onclick="getvalue()">
                            <label>
                                <div>
                                    <div style="float: left">
                                        8.&nbsp;
                                    </div>
                                    <div style="margin-left: 21px;">
                                        Are you experiencing any pain or soreness in the muscles of your face?
                                    </div>
                                </div>
                            </label>
                            <span>
                                @Html.CheckBoxFor(model => @item.rdQue17, new { id = "rdQue17", @tabindex = 32 })
                            </span>
                        </li>
                        <li>
                            <label>
                                <div style="float: left">
                                    9.&nbsp;
                                </div>
                                <div style="margin-left: 21px;">
                                    Do you have frequent headaches, neckaches or shoulder aches?
                                </div>
                            </label>
                            <span>
                                @Html.CheckBoxFor(model => @item.rdQue18, new { id = "rdQue18", @tabindex = 33 })
                            </span>
                        </li>
                        <li>
                            <label>
                                <div style="float: left">
                                    10.&nbsp;
                                </div>
                                <div style="margin-left: 21px;">
                                    Does food get caught in your teeth?
                                </div>
                            </label>
                            <span>
                                @Html.CheckBoxFor(model => @item.rdQue19, new { id = "rdQue19", @tabindex = 34 })
                            </span>
                        </li>
                        <li>
                            <label>
                                <div style="float: left">
                                    11.&nbsp;
                                </div>
                                <div style="margin-left: 21px;">
                                    Are any of your teeth sensitive to
                                </div>
                            </label>
                            <span>
                                <table id="ContentPlaceHolder1_chkQue20">
                                    <tbody>
                                        <tr>
                                            <td>
                                                @Html.CheckBoxFor(model => @item.chkQue20_1, new { id = "chkQue20_1", @tabindex = 35 })
                                                @Html.Label("Hot")
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                @Html.CheckBoxFor(model => @item.chkQue20_2, new { id = "chkQue20_2", @tabindex = 36 })
                                                @Html.Label("Cold")
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                @Html.CheckBoxFor(model => @item.chkQue20_3, new { id = "chkQue20_3", @tabindex = 37 })
                                                @Html.Label("Sweets")
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                @Html.CheckBoxFor(model => @item.chkQue20_4, new { id = "chkQue20_4", @tabindex = 38 })
                                                @Html.Label("Pressure")
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </span>
                        </li>
                        <li onclick="rdQue21()">
                            <label>
                                <div style="float: left">
                                    12.&nbsp;
                                </div>
                                <div style="margin-left: 21px;">
                                    Do your gums bleed or hurt?
                                </div>
                            </label>
                            <span>
                                @Html.CheckBoxFor(model => @item.rdQue21, new { id = "rdQue21", @tabindex = 39 })
                            </span>
                        </li>
                    </ul>
                    <div id="pnlrdQue21">
                        <ul class="information_panel" id="form_info">
                            <li>
                                <label>
                                    <div style="float: left">
                                        &nbsp;
                                    </div>
                                    <div style="margin-left: 21px;">
                                        When?
                                    </div>
                                </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                @Html.TextBoxFor(model => @item.txtQue21a, new { id = "txtQue21a", @class = "input_box_forms", @tabindex = 40 })
                            </li>
                            <li></li>
                        </ul>
                    </div>
                    <ul id="form_info">
                        <li>
                            <label style="width: 40.1%">
                                <div style="float: left">
                                    13.&nbsp;
                                </div>
                                <div style="margin-left: 21px;">
                                    How often do you brush your teeth?
                                </div>
                            </label>
                            @Html.TextBoxFor(model => @item.txtQue22, new { id = "txtQue22", @class = "input_box_forms", @tabindex = 41 })
                        </li>
                    </ul>
                    <ul id="form_info">
                        <li>
                            <label style="width: 40.1%">
                                <div style="float: left">
                                    14.&nbsp;
                                </div>
                                <div style="margin-left: 21px;">
                                    How often do you use dental floss?
                                </div>
                            </label>
                            @Html.TextBoxFor(model => @item.txtQue23, new { id = "txtQue23", @class = "input_box_forms", @tabindex = 44 })
                        </li>
                    </ul>
                    <ul id="form_info">
                        <li>
                            <label>
                                <div style="float: left">
                                    15.&nbsp;
                                </div>
                                <div style="margin-left: 21px;">
                                    Are any of your teeth loose, tipped, shifted or chipped?
                                </div>
                            </label>
                            <span>
                                @Html.CheckBoxFor(model => @item.rdQue24, new { id = "rdQue24", @tabindex = 45 })
                            </span>
                        </li>
                        <li onclick="pnlrdQue28()">
                            <label>
                                <div style="float: left">
                                    16.&nbsp;
                                </div>
                                <div style="margin-left: 21px;">
                                    Do you feel your breath is often offensive?
                                </div>
                            </label>
                            <span>
                                @Html.CheckBoxFor(model => @item.rdQue28, new { id = "rdQue28", @tabindex = 49 })
                            </span>
                        </li>
                    </ul>
                    <div id="pnlrdQue28" style="display: none">
                        <ul class="information_panel" id="form_info">
                            <li style="display: none">
                                <label>
                                    <div style="float: left">
                                        &nbsp;
                                    </div>
                                    <div style="margin-left: 21px;">
                                        What?
                                    </div>
                                </label>
                                @Html.TextBoxFor(model => @item.txtQue28a, new { id = "txtQue28a", @class = "input_box_forms", @tabindex = 50 })
                            </li>
                            <li style="display: none">
                                <label>
                                    <div style="float: left">
                                        &nbsp;
                                    </div>
                                    <div style="margin-left: 21px;">
                                        Where?
                                    </div>
                                </label>
                                @Html.TextBoxFor(model => @item.txtQue28b, new { id = "txtQue28b", @class = "input_box_forms", @tabindex = 51 })
                            </li>
                            <li>
                                <label>
                                    <div style="float: left">
                                        &nbsp;
                                    </div>
                                    <div style="margin-left: 21px;">
                                        When?
                                    </div>
                                </label>
                                @Html.TextBoxFor(model => @item.txtQue28c, new { id = "txtQue28c", @class = "input_box_forms", @tabindex = 52 })
                            </li>
                            <li></li>
                        </ul>
                    </div>
                    <ul id="form_info">
                        <li>
                            <label style="width: 40.1%">
                                <div style="float: left">
                                    17.&nbsp;
                                </div>
                                <div style="margin-left: 21px;">
                                    Explain any orthodonic work you have had done?
                                </div>
                            </label>
                            @Html.TextAreaFor(model => @item.txtQue29, new { id = "txtQue29", @class = "input_box_textarea", @tabindex = 53, style = "height:40px" })
                        </li>
                        <li>
                            <label style="width: 40.1%">
                                <div style="float: left">
                                    18.&nbsp;
                                </div>
                                <div style="margin-left: 21px;">
                                    Explain any dental work you have had done (Perio, Oral Surgery, etc.)
                                </div>
                            </label>
                            @Html.TextAreaFor(model => @item.txtQue29a, new { id = "txtQue29a", @class = "input_box_textarea", @tabindex = 50, style = "height:70px" })
                        </li>
                        <li style="display: none">
                            <label>
                                <div style="float: left">
                                    19.&nbsp;
                                </div>
                                <div style="margin-left: 21px;">
                                    Have you had any unpleasant dental experience or is there anything about dentistry
                                    that you strongly dislike?
                                </div>
                            </label>
                            <span>
                                @Html.CheckBoxFor(model => @item.rdQue30, new { id = "rdQue30", @tabindex = 54 })
                            </span>
                        </li>
                        <li>
                            <label style="width: 40.1%">
                                <div style="float: left">
                                    19.&nbsp;
                                </div>
                                <div style="margin-left: 21px;">
                                    How do you feel about your teeth in general?
                                </div>
                            </label>
                            @Html.TextAreaFor(model => @item.txtQue26, new { id = "txtQue26", @class = "input_box_textarea", @tabindex = 47, style = "height:40px" })
                        </li>
                        <li>
                            <label style="width: 40.1%">
                                <div style="float: left">
                                    20.&nbsp;
                                </div>
                                <div style="margin-left: 21px;">
                                    Additional Information
                                </div>
                            </label>
                            @Html.TextAreaFor(model => @item.txtComments, new { id = "txtComments", @class = "input_box_textarea", @tabindex = 56 })
                        </li>
                        <li>
                            <label style="width: 40.1%">
                                &nbsp;
                            </label>
                            <input type="submit" class="button_2" id="btnSubmitdentalhistory" tabindex="58" value="">
                        </li>
                    </ul>
                    <div class="clear">
                    </div>
                </div>
            </div>
        </div>
        <div class="center_button" id="dvconfirm" style="display: none">
            <div class="container">
                <div style="float: left; margin-left: 40px; margin-right: 40px; display: block;"
                     id="reviewclickbutton">
                    <input type="submit" id="btnreview" value="My Information is correct and I would like to complete Registration"
                           validationgroup="btnreview" class="button_4" />
                </div>
                <div class="clear">
                </div>
            </div>
        </div>
        <div class="clear">
        </div>
    </div>

        <input type="hidden" id="hdntxtQue5b" />
*@


<script type="text/javascript">

        $("#txtQue5").autocomplete({

            source: function (request, response) {
                var j = 0;
                $("#divLoading").show();

                var str = window.location.href;
                var sitename = ''
                var n = str.toLowerCase().indexOf('qa');

                if (n > 0) {

                    sitename = '/mydentalfiles';
                }


                // define a function to call your Action (assuming UserController)
                $.ajax({
                    url: sitename + '/ComposeMsg/GetAllUserList', selected: request, type: "POST", dataType: "json",

                    // query will be the param used by your action method
                    data: { selected: request.term },
                    success: function (data) {

                        $("#divLoading").hide();
                        response($.map(data, function (item) {

                            var myStringArray = data;

                            for (var i = 0; i < myStringArray.length; i++) {

                                j++;
                                return { label: data[j - 1].name, value: data[j - 1].name };
                            }

                        }))
                    }
                })

            },
            minLength: 1, // require at least one character from the user

        });


        $("#btnSubmitdentalhistory").click(function () {

            if (document.getElementById('hdntxtQue5b').values == false) {
                document.getElementById('txtQue5b').focus();

                return false;
            }

            if (document.getElementById('txtQue5c').value != null && document.getElementById('txtQue5c').value != "") {
                var result = IsEmail(document.getElementById('txtQue5c').value);

                if (result == false) {
                    document.getElementById('dvtxtQue5c').innerHTML = 'Please Enter Valid Email';
                    document.getElementById('txtQue5c').focus();
                    return false;
                }

            }
            else {

                document.getElementById('dvtxtQue5c').innerHTML = '';
            }



            $("#divLoading").show();
            $.ajax({
                url: '@Url.Action("DentalHistoryForm", "DentalForms")?txtQue1=' + $('#txtQue1').val() + '&txtQue2=' + $('#txtQue2').val() + '&txtQue3=' + $('#txtQue3').val() + '&txtQue4=' + $('#txtQue4').val() + '&txtQue5=' + $('#txtQue5').val() + '&txtQue5a=' + $('#txtQue5a').val() + '&txtQue5b=' + $('#txtQue5b').val() + '&txtQue5c=' + $('#txtQue5c').val() + '&txtQue6=' + $('#txtQue6').val() + '&txtQue7=' + $('#txtQue7').val() + '&rdQue7a=' + ($('#rdQue7a').is(':checked') ? 'Y' : 'N') + '&rdQue8=' + ($('#rdQue8').is(':checked') ? 'Y' : 'N') + '&txtQue9a=' + $('#txtQue9a').val() + '&rdQue9=' + ($('#rdQue9').is(':checked') ? 'Y' : 'N') + '&rdQue10=' + ($('#rdQue10').is(':checked') ? 'Y' : 'N') + '&rdoQue11aFixedbridge=' + ($('#rdoQue11aFixedbridge').is(':checked') ? 'Y' : 'N') + '&rdoQue11bRemoveablebridge=' + ($('#rdoQue11bRemoveablebridge').is(':checked') ? 'Y' : 'N') + '&rdoQue11cDenture=' + ($('#rdoQue11cDenture').is(':checked') ? 'Y' : 'N') + '&rdQue11dImplant=' + ($('#rdQue11dImplant').is(':checked') ? 'Y' : 'N') + '&txtQue11dAge=' + $('#txtQue11dAge').val() + '&txtQue12=' + $('#txtQue12').val() + '&txtQue12a=' + $('#txtQue12a').val() + '&rdQue15=' + ($('#rdQue15').is(':checked') ? 'Y' : 'N') + '&rdQue16=' + ($('#rdQue16').is(':checked') ? 'Y' : 'N') + '&rdQue17=' + ($('#rdQue17').is(':checked') ? 'Y' : 'N') + '&rdQue18=' + ($('#rdQue18').is(':checked') ? 'Y' : 'N') + '&rdQue19=' + ($('#rdQue19').is(':checked') ? 'Y' : 'N') + '&chkQue20_1=' + ($('#chkQue20_1').is(':checked') ? 'Y' : 'N') + '&chkQue20_2=' + ($('#chkQue20_2').is(':checked') ? 'Y' : 'N') + '&chkQue20_3=' + ($('#chkQue20_3').is(':checked') ? 'Y' : 'N') + '&chkQue20_4=' + ($('#chkQue20_4').is(':checked') ? 'Y' : 'N') + '&rdQue21=' + ($('#rdQue21').is(':checked') ? 'Y' : 'N') + '&txtQue21a=' + $('#txtQue21a').val() + '&txtQue22=' + $('#txtQue22').val() + '&rdQue23=' + ($('#rdQue23').is(':checked') ? 'Y' : 'N') + '&txtQue23=' + $('#txtQue23').val() + '&rdQue24=' + ($('#rdQue24').is(':checked') ? 'Y' : 'N') + '&rdQue25=' + ($('#rdQue25').is(':checked') ? 'Y' : 'N') + '&txtQue26=' + $('#txtQue26').val() + '&rdQue27=' + ($('#rdQue27').is(':checked') ? 'Y' : 'N') + '&rdQue28=' + ($('#rdQue28').is(':checked') ? 'Y' : 'N') + '&txtQue28a=' + $('#txtQue28a').val() + '&txtQue28b=' + $('#txtQue28b').val() + '&txtQue28c=' + $('#txtQue28c').val() + '&txtQue29=' + $('#txtQue29').val() + '&txtQue29a=' + $('#txtQue29a').val() + '&rdQue30=' + ($('#rdQue30').is(':checked') ? 'Y' : 'N') + '&txtComments=' + $('#txtComments').val() + '',
                type: 'POST',
                dataType: 'html',
                contenttype: "application/x-www-form-urlencoded",
                cache: false,
                ProcessData: false,
                success: function
                    (output, status, xhr) {
                    $('#Message').html('Dental History Form Updated successfully');
                    $('#Message').delay(300).slideDown(300).delay(2000).slideUp(300);
                    $(window).scrollTop(0);

                    var n = window.location.toString().indexOf('dentalhistoryform');

                    if (n > 0) {

                    }
                    else {
                        document.getElementById('dvconfirm').style.display = 'none';
                        document.getElementById('dvCDMH').style.display = '';
                        document.getElementById('askpCDMH').style.display = 'none';

                        setTimeout(function () {
                            messagebox(1);
                        }, 3000);
                    }

                    $("#divLoading").hide();
                },
                error: function (xhr) {


                    if (typeof (console) != 'undefined') {
                        // console.log(xhr.responseText);
                    }
                }
            });

        });
        $("#txtQue5").blur(
            function () {

                if (document.getElementById('txtQue5').value != null && document.getElementById('txtQue5').value != "") {
                    document.getElementById('pnltxt5li').style.display = '';

                }
                else {
                    document.getElementById('pnltxt5li').style.display = 'none';
                    document.getElementById('txtQue5a').value = '';
                    document.getElementById('txtQue5b').value = '';
                    document.getElementById('txtQue5c').value = '';

                }
            });


        $("#txtQue5c").blur(
            function () {

                if (document.getElementById('txtQue5c').value != null && document.getElementById('txtQue5c').value != "") {
                    var result = IsEmail(document.getElementById('txtQue5c').value);

                    if (result == false) {
                        document.getElementById('dvtxtQue5c').innerHTML = 'Please Enter Valid Email';
                        document.getElementById('txtQue5c').focus();
                        return false;
                    }

                    else {

                        document.getElementById('dvtxtQue5c').innerHTML = '';
                    }


                }
                else {

                    document.getElementById('dvtxtQue5c').innerHTML = '';
                }
            });


        $(document).ready(function () {
            if (document.getElementById('txtQue5').value != null && document.getElementById('txtQue5').value != "") {
                document.getElementById('pnltxt5li').style.display = '';

            }
            else {
                document.getElementById('pnltxt5li').style.display = 'none';
                document.getElementById('txtQue5a').value = '';
                document.getElementById('txtQue5b').value = '';
                document.getElementById('txtQue5c').value = '';

            }

            $("#txtQue11aAge").datepicker({
                changeYear: true,

            });

            $("#txtQue11bAge").datepicker({
                changeYear: true,

            });

            $("#txtQue11cAge").datepicker({
                changeYear: true,

            });
            $("#txtQue11dAge").datepicker({
                changeYear: true,

            });

        });

        $("#btnreview").click(function () {
            $(window).scrollTop(0);


            $('#Message').html('Thank You For Registration');
            $('#Message').delay(300).slideDown(300).delay(2000).slideUp(300);
            setTimeout(function () {
                messagebox(1);
            }, 3000);


        });

    function skipCDMH() {
        $(window).scrollTop(0);

        $('#Message').html('Thank You For Registration');
        $('#Message').delay(300).slideDown(300).delay(2000).slideUp(300);
        setTimeout(function () {
            messagebox(1);
        }, 3000);

    }

        $("#btnreview").click(function () {


            $(window).scrollTop(0);


            $('#Message').html('Thank You For Registration');
            $('#Message').delay(300).slideDown(300).delay(2000).slideUp(300);
            setTimeout(function () {
                messagebox(1);
            }, 3000);


        });

        function skipCDMH() {
            $(window).scrollTop(0);

            $('#Message').html('Thank You For Registration');
            $('#Message').delay(300).slideDown(300).delay(2000).slideUp(300);
            setTimeout(function () {
                messagebox(1);
            }, 3000);


        }
</script>

