﻿@model DentalFiles.Models.ViewModel.DentalFormsMaster
<style>
    input[type=text] {
        background: transparent;
        border: none;
        border-bottom: 1px solid #000000;
        text-align: justify;
        width: 100%;
    }

    button[type=reset] {
        float: right;
    }

    h1 {
        text-align: center;
    }

    .box {
        border: 2px solid #000000;
        padding: 10px;
    }

    p {
        text-align: justify-all;
    }

    .top-buffer {
        margin-top: 20px;
    }

    .required {
        color: red;
        font-size: 20px;
    }
    @@media print {
        .dvpagebreak {
            page-break-after: always;
        }

        html, body {
            height: 99%;
        }
    }
</style>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
@foreach (var item in Model.RegistrationForm)
{
    <div id="tab-container_9" class='tab-container' style="display: none;">
        <div class="left_panel_head" style="display: none;">
            <h2 class="form_heading"></h2>
        </div>
        <div class="right_panel_head" style="display: none;">
            <div class="skip_step" id="btnicskp">
                <a onclick="messagebox('4')">Skip Step</a>
            </div>
        </div>
        <h1 style="margin-top:0px;">PAYMENT ARRANGEMENT FORM</h1>
        <hr>
        <div class='container col-md-12'>
            <div class="row top-buffer"></div>
            <div id="InsuranceCoverge">

                <div class="row">
                    <div class="col-sm-10">
                        <div class="form-group">
                            <label for="name" class="control-label">NAME OF PATIENT : </label>
                            <input type="text" name="name_patient" id="name_patient">
                        </div>
                    </div>
                </div>

                <h3>Payment Agreement : </h3>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <p>
                                I agree that I am responsible for all services rendered to the Patient and that payment is due and payable to the Practice at the time
                                services are rendered and that health, dental and accident insurance policies are an arrangement between my insurance carrier and me.
                                I agree to pay all deductibles and co-pays at the time of service (if I have dual insurance coverage, my co-pay or deductible will be
                                based on the primary coverage). I understand that while the Practice will file claims with my insurance company on my behalf, I remain
                                responsible to the Practice for what is not paid by my insurance company. I also understand that if the Practice cannot verify insurance
                                benefits eligibility for me prior to treatment that I will pay in full for the services at the time they are rendered. I understand that the
                                Practice may charge: 1) a late fee if payment on my account is not received by the due date; 2) an amount equal to $35.00, but not to
                                exceed the maximum amount permitted by law for each returned check, and 3) a fee for each appointment that is missed/canceled
                                without at least 24 hours advance notice. I agree to the extent permitted by law, that if my account balance is referred to any agency or
                                attorney(s) for collection purposes, to pay reasonable attorney’s fees and any expenses or costs relating to the collection proceeding,
                                including court costs. I understand that if treatment or care is suspended at any time by the patient, all fees for professional services
                                rendered will be immediately due and payable. I authorize payment directly to the Practice. :
                            </p>
                        </div>
                    </div>
                </div>

                <h3>RESPONSIBLE PARTY : </h3>
                <br>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="control-label">Responsible Party's First Name : </label>
                            @Html.TextBoxFor(model => @item.txtResponsiblepartyFname, new { id = "txtResponsiblepartyFname", @class = "input_box_forms", @tabindex = 211 })
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="control-label">Responsible Party's Last Name : </label>
                            @Html.TextBoxFor(model => @item.txtResponsiblepartyLname, new { id = "txtResponsiblepartyLname", @class = "input_box_forms", @tabindex = 212 })
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name" class="control-label">Relationship : </label>
                            @Html.TextBoxFor(model => @item.txtResponsibleRelationship, new { id = "txtResponsibleRelationship", @class = "input_box_forms", @tabindex = 213 })
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name" class="control-label">Address : </label>
                            @Html.TextBoxFor(model => @item.txtResponsibleAddress, new { id = "txtResponsibleAddress", @class = "input_box_forms", @tabindex = 214 })
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name" class="control-label">City : </label>
                            @Html.TextBoxFor(model => @item.txtResponsibleCity, new { id = "txtResponsibleCity", @class = "input_box_forms", @tabindex = 214 })
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name" class="control-label">State : </label>
                            @Html.TextBoxFor(model => @item.txtResponsibleState, new { id = "txtResponsibleState", @class = "input_box_forms", @tabindex = 214 })
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name" class="control-label">Zip Code : </label>
                            @Html.TextBoxFor(model => @item.txtResponsibleZipCode, new { id = "txtResponsibleZipCode", @class = "input_box_forms", @tabindex = 214, @maxlength = 6 })
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name" class="control-label">Phone Number : </label>
                            @Html.TextBoxFor(model => @item.txtResponsibleContact, new { id = "txtResponsibleContact", @class = "input_box_forms", @tabindex = 214 })
                        </div>
                    </div>
                </div>

                @*<ul id="form_info">
            <li>
                <label style="width: 35%;">
                    Responsible Party's First Name
                </label>
                @Html.TextBoxFor(model => @item.txtResponsiblepartyFname, new { id = "txtResponsiblepartyFname", @class = "input_box_forms", @tabindex = 211 })
            </li>

            <li>
                <label style="width: 35%;">
                    Responsible Party's Last Name
                </label>
                @Html.TextBoxFor(model => @item.txtResponsiblepartyLname, new { id = "txtResponsiblepartyLname", @class = "input_box_forms", @tabindex = 212 })
            </li>
            <li>
                <label style="width: 35%;">
                    Relationship
                </label>
                @Html.TextBoxFor(model => @item.txtResponsibleRelationship, new { id = "txtResponsibleRelationship", @class = "input_box_forms", @tabindex = 213 })
            </li>
            <li>
                <label style="width: 35%;">
                    Address
                </label>
                @Html.TextBoxFor(model => @item.txtResponsibleAddress, new { id = "txtResponsibleAddress", @class = "input_box_forms", @tabindex = 214 })
            </li>

            <li>
                <label style="width: 35%;">
                    City
                </label>
                @Html.TextBoxFor(model => @item.txtResponsibleCity, new { id = "txtResponsibleCity", @class = "input_box_forms", @tabindex = 214 })
            </li>

            <li>
                <label style="width: 35%;">
                    State
                </label>
                @Html.TextBoxFor(model => @item.txtResponsibleState, new { id = "txtResponsibleState", @class = "input_box_forms", @tabindex = 214 })
            </li>

            <li>
                <label style="width: 35%;">
                    Zip Code
                </label>
                @Html.TextBoxFor(model => @item.txtResponsibleZipCode, new { id = "txtResponsibleZipCode", @class = "input_box_forms", @tabindex = 214, @maxlength = 6 })
            </li>

            <ul id="form_info" style="display: none;">
                <li>
                    <label style="width: 35%;">
                        Birth Of Date
                    </label>
                    @Html.TextBoxFor(model => @item.txtResponsibleDOB, new { id = "txtResponsibleDOB", @class = "dob input_box_forms", @tabindex = 214 })
                </li>
            </ul>

            <li>
                <label style="width: 35%;">
                    Phone Number
                </label>
                @Html.TextBoxFor(model => @item.txtResponsibleContact, new { id = "txtResponsibleContact", @class = "input_box_forms", @tabindex = 214 })
            </li>
        </ul>*@
                <h3>INSURANCE INFORMATION : </h3>
                <br>
                <h4>Primary Insurance</h4>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name" class="control-label">Insurance Company : </label>
                            @Html.TextBoxFor(model => @item.txtEmployeeName1, new { id = "txtEmployeeName1", @class = "input_box_forms", @tabindex = 221 })
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name" class="control-label">Insurance Company Phone : </label>
                            @Html.TextBoxFor(model => @item.Insurance_Phone1, new { id = "txtInsurancePhone1", @class = "input_box_forms", @tabindex = 221 })
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name" class="control-label">Name of Insured : </label>
                            @Html.TextBoxFor(model => @item.txtEmployerName1, new { id = "txtEmployerName1", @class = "input_box_forms", @tabindex = 224 })
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name" class="control-label">Date of Birth : </label>
                            @Html.TextBoxFor(model => @item.txtEmployeeDob1, new { id = "txtEmployeeDob1", @class = "dob input_box_forms", @tabindex = 223 })
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name" class="control-label">Member ID : </label>
                            @Html.TextBoxFor(model => @item.txtNameofInsurance1, new { id = "txtNameofInsurance1", @class = "input_box_forms", @tabindex = 226 })
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name" class="control-label">Group Number : </label>
                            @Html.TextBoxFor(model => @item.txtInsuranceTelephone1, new { id = "txtInsuranceTelephone1", @class = "input_box_forms", @tabindex = 228 })
                        </div>
                    </div>
                </div>

                @*<ul id="form_info">
            <li>
                <label style="width: 35%;">
                    Insurance Company
                </label>

            </li>
            <li>
                <label style="width: 35%;">
                    Insurance Company Phone
                </label>
                @Html.TextBoxFor(model => @item.Insurance_Phone1, new { id = "txtInsurancePhone1", @class = "input_box_forms", @tabindex = 221 })
            </li>
            <li>
                <label style="width: 35%;">
                    Name of Insured
                </label>
                @Html.TextBoxFor(model => @item.txtEmployerName1, new { id = "txtEmployerName1", @class = "input_box_forms", @tabindex = 222 })
            </li>
            <li>
                <label style="width: 35%;">
                    Date of Birth
                </label>
                @Html.TextBoxFor(model => @item.txtEmployeeDob1, new { id = "txtEmployeeDob1", @class = "dob input_box_forms", @tabindex = 223 })
            </li>
            <li style="display: none;">
                <label style="width: 35%;">
                    Name of Insured
                </label>
                @Html.TextBoxFor(model => @item.txtEmployerName1, new { id = "txtEmployerName1", @class = "input_box_forms", @tabindex = 224 })
            </li>
            <li style="display: none">
                <label style="width: 35%;">
                    Employer Name
                </label>
                @Html.TextBoxFor(model => @item.txtYearsEmployed1, new { id = "txtYearsEmployed1", @class = "input_box_forms", @tabindex = 225 })
            </li>
            <li>
                <label style="width: 35%;">
                    Member ID
                </label>
                @Html.TextBoxFor(model => @item.txtNameofInsurance1, new { id = "txtNameofInsurance1", @class = "input_box_forms", @tabindex = 226 })

            </li>
            <li style="display: none">
                <label style="width: 35%;">
                    Customer Name/Number
                </label>
                @Html.TextBoxFor(model => @item.txtInsuranceAddress1, new { id = "txtInsuranceAddress1", @class = "input_box_forms", @tabindex = 227 })
            </li>
            <li>
                <label style="width: 35%;">
                    Group Number
                </label>
                @Html.TextBoxFor(model => @item.txtInsuranceTelephone1, new { id = "txtInsuranceTelephone1", @class = "input_box_forms", @tabindex = 228 })
            </li>
        </ul>*@
                <h4>Secondary Insurance</h4>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name" class="control-label">Insurance Company : </label>
                            @Html.TextBoxFor(model => @item.txtEmployeeName2, new { id = "txtEmployeeName2", @class = "input_box_forms", @tabindex = 229 })
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name" class="control-label">Insurance Company Phone : </label>
                            @Html.TextBoxFor(model => @item.Insurance_Phone2, new { id = "txtInsurancePhone2", @class = "input_box_forms", @tabindex = 221 })
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name" class="control-label">Name of Insured : </label>
                            @Html.TextBoxFor(model => @item.txtEmployerName2, new { id = "txtEmployerName2", @class = "input_box_forms", @tabindex = 231 })
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name" class="control-label">Date of Birth : </label>
                            @Html.TextBoxFor(model => @item.txtYearsEmployed2, new { id = "txtYearsEmployed2", @class = "dob input_box_forms", @tabindex = 232 })
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name" class="control-label">Member ID : </label>
                            @Html.TextBoxFor(model => @item.txtNameofInsurance2, new { id = "txtNameofInsurance2", @class = "input_box_forms", @tabindex = 233 })
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name" class="control-label">Group Number : </label>
                            @Html.TextBoxFor(model => @item.txtInsuranceTelephone2, new { id = "txtInsuranceTelephone2", @class = "input_box_forms", @tabindex = 235 })
                        </div>
                    </div>
                </div>

                @*<ul id="form_info">
            <li>
                <label style="width: 35%;">
                    Insurance Company
                </label>
                @Html.TextBoxFor(model => @item.txtEmployeeName2, new { id = "txtEmployeeName2", @class = "input_box_forms", @tabindex = 229 })
            </li>
            <li>
                <label style="width: 35%;">
                    Insurance Company Phone
                </label>
                @Html.TextBoxFor(model => @item.Insurance_Phone2, new { id = "txtInsurancePhone2", @class = "input_box_forms", @tabindex = 221 })
            </li>
            <li>
                <label style="width: 35%;">
                    Name of Insured
                </label>
                @Html.TextBoxFor(model => @item.txtEmployerName2, new { id = "txtEmployerName2", @class = "input_box_forms", @tabindex = 231 })
            </li>
            <li>
                <label style="width: 35%;">
                    Date of Birth
                </label>
                @Html.TextBoxFor(model => @item.txtYearsEmployed2, new { id = "txtYearsEmployed2", @class = "dob input_box_forms", @tabindex = 232 })
            </li>
            <li>
                <label style="width: 35%;">
                    Member ID
                </label>
                @Html.TextBoxFor(model => @item.txtNameofInsurance2, new { id = "txtNameofInsurance2", @class = "input_box_forms", @tabindex = 233 })
            </li>
            <li style="display: none">
                <label style="width: 35%;">
                    Customer Name/Number
                </label>
                @Html.TextBoxFor(model => @item.txtInsuranceAddress2, new { id = "txtInsuranceAddress2", @class = "input_box_forms", @tabindex = 234 })
            </li>
            <li>
                <label style="width: 35%;">
                    Group Number
                </label>
                @Html.TextBoxFor(model => @item.txtInsuranceTelephone2, new { id = "txtInsuranceTelephone2", @class = "input_box_forms", @tabindex = 235 })
            </li>
            <li style="display: none;">
                <label style="width: 35%;">
                    Digital Signature
                </label>
                @Html.TextBoxFor(model => @item.txtDigiSignreg, new { id = "txtDigiSignreg", @class = "input_box_forms", @tabindex = 236 })
            </li>
            <li style="display: none;">
                <label style="width: 35%;">
                </label>
                <span class="blue_txt">Typing you name serves as your legal signature.</span>
            </li>
            <li>
                <label style="width: 35%;">
                    &nbsp;
                </label>
                <input type="submit" id="btnsaveins" class="button_2" />
            </li>
        </ul>*@
                
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <p><b>I acknowledge having received a copy of the Practice's Notice of Privacy Practices.</b> I agree that a photocopy of this authorization is as valid as the original.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="control-label">Signature of Responsible Party : </label>
                            <input type="text" name="signature" id="signature">
                            (to be signed even if Patient is also the Responsible Party)
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="name" class="control-label">Date : </label>
                            <input type="text" name="date" id="date">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
}
<input type="hidden" id="hdntxtEmployeeDob2" value='true' />
<input type="hidden" id="hdntxtEmployeeDob1" value='true' />
<input type="hidden" id="hdntxtYearsEmployed2" value='true' />
<input type="hidden" id="hdntxtemergency" value='true' />
<input type="hidden" id="hdntxtWorkPhone" value='true' />
<input type="hidden" id="hdntxtResidenceTelephone" value='true' />
<input type="hidden" id="hdntxtResponsibleContact" value='true' />
<script type="text/javascript">

    //$("#txtResponsibleZipCode").keypress(function (e) {


    //});
    var specialKeys = new Array();
    specialKeys.push(8); //Backspace
    $(function () {
        $("#txtResponsibleZipCode").bind("keypress", function (e) {
            var keyCode = e.which ? e.which : e.keyCode
            var ret = ((keyCode >= 48 && keyCode <= 57) || specialKeys.indexOf(keyCode) != -1);
            return ret;
        });
        $(".numeric").bind("paste", function (e) {
            return false;
        });
        $(".numeric").bind("drop", function (e) {
            return false;
        });
    });

</script>

<script type="text/javascript">

    $("#btnsaveins").click(function () {

        if (document.getElementById('hdntxtEmployeeDob1').values == false) {
            document.getElementById('txtEmployeeDob1').focus();
           // alert('Please Enter Valid Phone Number');
            swal({ title: "", text: 'Please enter valid phone number' });
            return false;
        }

        if (document.getElementById('hdntxtEmployeeDob2').values == false) {
            document.getElementById('txtEmployeeDob2').foucs();
            //alert('Please Enter Valid Phone Number');
            swal({ title: "", text: 'Please enter valid phone number' });
            return false;
        }

        if (document.getElementById('hdntxtResidenceTelephone').values == false) {
            document.getElementById('txtResidenceTelephone').focus();
            //alert('Please Enter Valid Phone Number');
            swal({ title: "", text: 'Please enter valid phone number' });
            return false;
        }

          if (document.getElementById('hdntxtResponsibleContact').values == false) {
            document.getElementById('txtResponsibleContact').focus();
              //alert('Please Enter Valid Phone Number');
            swal({ title: "", text: 'Please enter valid phone number' });
            return false;
        }


        if (document.getElementById('hdntxtWorkPhone').values == false) {
            document.getElementById('txtWorkPhone').focus();
            //alert('Please Enter Valid Phone Number');
            swal({ title: "", text: 'Please enter valid phone number' });
            return false;
        }
        if (document.getElementById('hdntxtemergency').values == false) {
            document.getElementById('txtemergency').focus();
            //alert('Please Enter Valid Phone Number');
            swal({ title: "", text: 'Please enter valid phone number' });
            return false;
        }
        if (document.getElementById('hdntxtYearsEmployed2').values == false) {
            document.getElementById('txtYearsEmployed2').focus();
            //alert('Please Enter Valid Date');
            swal({ title: "", text: 'Please enter valid date' });
            return false;
        }


        $("#divLoading").show();


        $.ajax({
            url: '@Url.Action("RegistrationForm", "DentalForms")?txtDob=' + $('#txtDob').val() + '&ddlgenderreg=' + $('#ddlgenderreg').val() + '&drpStatus=' + $('#drpStatus').val() + '&txtResidenceStreet=' + $('#txtResidenceStreet').val() + '&txtCity=' + $('#txtCity').val() + '&txtState=' + $('#txtState').val() + '&txtZip=' + $('#txtZip').val() + '&txtResidenceTelephone=' + $('#txtResidenceTelephone').val() + '&txtWorkPhone=' + $('#txtWorkPhone').val() + '&txtFax=' + $('#txtFax').val() + '&txtResponsiblepartyFname=' + $('#txtResponsiblepartyFname').val() + '&txtResponsiblepartyLname=' + $('#txtResponsiblepartyLname').val() + '&txtResponsibleRelationship=' + $('#txtResponsibleRelationship').val()+ '&txtResponsibleAddress=' + $('#txtResponsibleAddress').val() + '&txtResponsibleCity=' + $('#txtResponsibleCity').val() + '&txtResponsibleState=' + $('#txtResponsibleState').val()+ '&txtResponsibleZipCode=' + $('#txtResponsibleZipCode').val()+ '&txtResponsibleDOB=' + $('#txtResponsibleDOB').val()+ '&txtResponsibleContact=' + $('#txtResponsibleContact').val()+  '&txtWhommay=' + $('#txtWhommay').val() + '&txtemergencyname=' + $('#txtemergencyname').val() + '&txtemergency=' + $('#txtemergency').val() + '&chkInsurance=' + ($('#chkInsurance').is(':checked') ? 1 : 0) + '&chkCash=' + ($('#chkCash').is(':checked') ? 1 : 0) + '&chkCrediteCard=' + ($('#chkCrediteCard').is(':checked') ? 1 : 0) + '&txtEmployeeName1=' + $('#txtEmployeeName1').val() + '&txtInsurancePhone1=' + $("#txtInsurancePhone1").val() + '&txtEmployeeDob1=' + $('#txtEmployeeDob1').val() + '&txtEmployerName1=' + $('#txtEmployerName1').val() + '&txtYearsEmployed1=' + $('#txtYearsEmployed1').val() + '&txtNameofInsurance1=' + $('#txtNameofInsurance1').val() + '&txtInsuranceAddress1=' + $('#txtInsuranceAddress1').val() + '&txtInsuranceTelephone1=' + $('#txtInsuranceTelephone1').val() + '&txtEmployeeName2=' + $('#txtEmployeeName2').val() + '&txtInsurancePhone2=' + $("#txtInsurancePhone2").val() + '&txtEmployeeDob2=' + $('#txtEmployeeDob2').val() + '&txtEmployerName2=' + $('#txtEmployerName2').val() + '&txtYearsEmployed2=' + $('#txtYearsEmployed2').val() + '&txtNameofInsurance2=' + $('#txtNameofInsurance2').val() + '&txtInsuranceAddress2=' + $('#txtInsuranceAddress2').val() + '&txtInsuranceTelephone2=' + $('#txtInsuranceTelephone2').val() + '',
            type: 'POST',
            dataType: 'html',
            contenttype: "application/x-www-form-urlencoded",
            cache: false,
            ProcessData: false,
            success: function
                           (output, status, xhr) {


                obj = jQuery.parseJSON(output);
                $('#Message').html('Insurance Coverage Form Updated successfully');
                $('#Message').delay(300).slideDown(300).delay(2000).slideUp(300);

                 var n = window.location.toString().indexOf('insurancecoverageform');

                if (n > 0) {

                   $(window).scrollTop(0);

                }
                else{
                messagebox('4');
                }
                $("#divLoading").hide();


            },
            error: function (xhr) {


                if (typeof (console) != 'undefined') {
                    // console.log(xhr.responseText);
                }
            }
        });

    });

    $(document).ready(function () {


         $("#txtEmployeeDob1").datepicker({
             changeYear: true,
              yearRange: "-100:+0"


         });



         $("#txtResponsibleDOB").datepicker({
              changeYear: true,
              yearRange: "-100:+0"


         });


          $("#txtYearsEmployed2").datepicker({
           changeYear: true,
              yearRange: "-100:+0"


         });


    });



</script>
