﻿@model DentalFiles.Models.ViewModel.DentalFormsMaster
<style>
    input[type=text], .input_box_textarea {
        background: transparent;
        border: none;
        border-bottom: 1px solid #000000;
        text-align: justify;
        width: 100%;
    }

    button[type=reset] {
        float: right;
    }

    h1 {
        text-align: center;
    }

    .box {
        border: 2px solid #000000;
        padding: 10px;
    }

    p {
        text-align: justify-all;
    }

    .top-buffer {
        margin-top: 20px;
    }

    .required {
        color: red;
        font-size: 20px;
    }
</style>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

@foreach (var item in Model.MedicalHistory)
{
    
<div id="tab-container_4" class="container col-md-12" style="display: none;">
    <div class="row top-buffer"></div>
    <h1>MEDICAL HISTORY</h1>
    <hr>
    @*<div class="left_panel_head">
            <h2 style="margin-left:10px;">
                Medical History
            </h2>
        </div>*@

    <div class="right_panel_head">
        <div class="skip_step" id="btnmhskp" style="display: none;">
            <a onclick="messagebox('5')">Skip Step</a>
        </div>
    </div>
    <div class="row col-md-12">
        <h3>Do you have a history of</h3>
        <div class="table-responsive">
            <table class="table" style="width:100%">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>Yes</th>
                        <th>&nbsp;</th>
                        <th>Yes</th>
                        <th>&nbsp;</th>
                        <th>Yes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            AIDS/HIV Positive
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueAIDS_HIV_Positive, new { id = "MrdQueAIDS_HIV_Positive", @tabindex = 31 })
                        </td>
                        <td>
                            Alzheimer’s Disease
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueAlzheimer, new { id = "MrdQueAlzheimer", @tabindex = 32 })
                        </td>
                        <td>
                            Anaphylaxis
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueAnaphylaxis, new { id = "MrdQueAnaphylaxis", @tabindex = 33 })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            AIDS/HIV Positive
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueAIDS_HIV_Positive, new { id = "MrdQueAIDS_HIV_Positive", @tabindex = 31 })
                        </td>
                        <td>
                            Alzheimer’s Disease
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueAlzheimer, new { id = "MrdQueAlzheimer", @tabindex = 32 })
                        </td>
                        <td>
                            Anaphylaxis
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueAnaphylaxis, new { id = "MrdQueAnaphylaxis", @tabindex = 33 })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Anemia
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueAnemia, new { id = "MrdQueAnemia", @tabindex = 34 })
                        </td>
                        <td>
                            Angina
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueAngina, new { id = "MrdQueAngina", @tabindex = 35 })
                        </td>
                        <td>
                            Arthritis/Gout
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueArthritis_Gout, new { id = "MrdQueArthritis_Gout", @tabindex = 36 })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Artificial Heart Valve
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueArtificialHeartValve, new { id = "MrdQueArtificialHeartValve", @tabindex = 37 })
                        </td>
                        <td>
                            Artificial Joint
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueArtificialJoint, new { id = "MrdQueArtificialJoint", @tabindex = 38 })
                        </td>
                        <td>
                            Asthma
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueAsthma, new { id = "MrdQueAsthma", @tabindex = 39 })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Blood Disease
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueBloodDisease, new { id = "MrdQueBloodDisease", @tabindex = 40 })
                        </td>
                        <td>
                            Blood Transfusion
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueBloodTransfusion, new { id = "MrdQueBloodTransfusion", @tabindex = 41 })
                        </td>
                        <td>
                            Breathing Problem
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueBreathing, new { id = "MrdQueBreathing", @tabindex = 42 })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Bruise Easily
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueBruise, new { id = "MrdQueBruise", @tabindex = 43 })
                        </td>
                        <td>
                            Cancer
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueCancer, new { id = "MrdQueCancer", @tabindex = 45 })
                        </td>
                        <td>
                            Chemotherapy
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueChemotherapy, new { id = "MrdQueChemotherapy", @tabindex = 46 })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Chest Pains
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueChest, new { id = "MrdQueChest", @tabindex = 47 })
                        </td>
                        <td>
                            Cold Sores/Fever Blisters
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueCold_Sores_Fever, new { id = "MrdQueCold_Sores_Fever", @tabindex = 48 })
                        </td>
                        <td>
                            Congenital Heart Disorder
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueCongenital, new { id = "MrdQueCongenital", @tabindex = 49 })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Convulsions
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueConvulsions, new { id = "MrdQueConvulsions", @tabindex = 50 })
                        </td>
                        <td>
                            Cortisone Medicine
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueCortisone, new { id = "MrdQueCortisone", @tabindex = 51 })
                        </td>
                        <td>
                            Diabetes
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueDiabetes, new { id = "MrdQueDiabetes", @tabindex = 52 })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Drug Addiction
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueDrug, new { id = "MrdQueDrug", @tabindex = 53 })
                        </td>
                        <td>
                            Easily Winded
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueEasily, new { id = "MrdQueEasily", @tabindex = 54 })
                        </td>
                        <td>
                            Emphysema
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueEmphysema, new { id = "MrdQueEmphysema", @tabindex = 55 })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Epilepsy or Seizures
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueEpilepsy, new { id = "MrdQueEpilepsy", @tabindex = 56 })
                        </td>
                        <td>
                            Excessive Bleeding
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueExcessiveBleeding, new { id = "MrdQueExcessiveBleeding", @tabindex = 57 })
                        </td>
                        <td>
                            Excessive Thirst
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueExcessiveThirst, new { id = "MrdQueExcessiveThirst", @tabindex = 58 })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Fainting Spells/Dizziness
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueFainting, new { id = "MrdQueFainting", @tabindex = 59 })
                        </td>
                        <td>
                            Frequent Cough
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueFrequentCough, new { id = "MrdQueFrequentCough", @tabindex = 60 })
                        </td>
                        <td>
                            Frequent Diarrhea
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueFrequentDiarrhea, new { id = "MrdQueFrequentDiarrhea", @tabindex = 61 })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Frequent Headaches
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueFrequentHeadaches, new { id = "MrdQueFrequentHeadaches", @tabindex = 62 })
                        </td>
                        <td>
                            Genital Herpes
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueGenital, new { id = "MrdQueGenital", @tabindex = 63 })
                        </td>
                        <td>
                            Glaucoma
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueGlaucoma, new { id = "MrdQueGlaucoma", @tabindex = 64 })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Hay Fever
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueHay, new { id = "MrdQueHay", @tabindex = 65 })
                        </td>
                        <td>
                            Heart Attack/Failure
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueHeartAttack_Failure, new { id = "MrdQueHeartAttack_Failure", @tabindex = 66 })
                        </td>
                        <td>
                            Heart Murmur
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueHeartMurmur, new { id = "MrdQueHeartMurmur", @tabindex = 67 })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Heart Pacemaker
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueHeartPacemaker, new { id = "MrdQueHeartPacemaker", @tabindex = 68 })
                        </td>
                        <td>
                            Heart Trouble/Disease
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueHeartTrouble_Disease, new { id = "MrdQueHeartTrouble_Disease", @tabindex = 69 })
                        </td>
                        <td>
                            Hemophilia
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueHemophilia, new { id = "MrdQueHemophilia", @tabindex = 70 })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Hepatitis A
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueHepatitisA, new { id = "MrdQueHepatitisA", @tabindex = 71 })
                        </td>
                        <td>
                            Hepatitis B or C
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueHepatitisBorC, new { id = "MrdQueHepatitisBorC", @tabindex = 72 })
                        </td>
                        <td>
                            Herpes
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueHerpes, new { id = "MrdQueHerpes", @tabindex = 73 })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            High Blood Pressure
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueHighBloodPressure, new { id = "MrdQueHighBloodPressure", @tabindex = 74 })
                        </td>
                        <td>
                            High Cholesterol
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueHighCholesterol, new { id = "MrdQueHighCholesterol", @tabindex = 75 })
                        </td>
                        <td>
                            Hives or Rash
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueHives, new { id = "MrdQueHives", @tabindex = 76 })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Hypoglycemia
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueHypoglycemia, new { id = "MrdQueHypoglycemia", @tabindex = 78 })
                        </td>
                        <td>
                            Irregular Heartbeat
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueIrregular, new { id = "MrdQueIrregular", @tabindex = 79 })
                        </td>
                        <td>
                            Kidney Problems
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueKidney, new { id = "MrdQueKidney", @tabindex = 80 })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Leukemia
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueLeukemia, new { id = "MrdQueLeukemia", @tabindex = 81 })
                        </td>
                        <td>
                            Liver Disease
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueLiver, new { id = "MrdQueLiver", @tabindex = 82 })
                        </td>
                        <td>
                            Low Blood Pressure
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueLow, new { id = "MrdQueLow", @tabindex = 83 })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Lung Disease
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueLung, new { id = "MrdQueLung", @tabindex = 84 })
                        </td>
                        <td>
                            Mitral Valve Prolapse
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueMitral, new { id = "MrdQueMitral", @tabindex = 85 })
                        </td>
                        <td>
                            Osteoporosis
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueOsteoporosis, new { id = "MrdQueOsteoporosis", @tabindex = 86 })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Pain in Jaw Joints
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQuePain, new { id = "MrdQuePain", @tabindex = 87 })
                        </td>
                        <td>
                            Parathyroid Disease
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueParathyroid, new { id = "MrdQueParathyroid", @tabindex = 89 })
                        </td>
                        <td>
                            Psychiatric Care
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQuePsychiatric, new { id = "MrdQuePsychiatric", @tabindex = 90 })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Radiation Treatments
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueRadiation, new { id = "MrdQueRadiation", @tabindex = 91 })
                        </td>
                        <td>
                            Recent Weight Loss
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueRecent, new { id = "MrdQueRecent", @tabindex = 92 })
                        </td>
                        <td>
                            Renal Dialysis
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueRenal, new { id = "MrdQueRenal", @tabindex = 93 })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Rheumatic Fever
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueRheumatic, new { id = "MrdQueRheumatic", @tabindex = 94 })
                        </td>
                        <td>
                            Rheumatism
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueRheumatism, new { id = "MrdQueRheumatism", @tabindex = 95 })
                        </td>
                        <td>
                            Scarlet Fever
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueScarlet, new { id = "MrdQueScarlet", @tabindex = 96 })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Shingles
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueShingles, new { id = "MrdQueShingles", @tabindex = 97 })
                        </td>
                        <td>
                            Sickle Cell Disease
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueSickle, new { id = "MrdQueSickle", @tabindex = 98 })
                        </td>
                        <td>
                            Sinus Trouble
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueSinus, new { id = "MrdQueSinus", @tabindex = 99 })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Spina Bifida
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueSpina, new { id = "MrdQueSpina", @tabindex = 100 })
                        </td>
                        <td>
                            Stomach/Intestinal Disease
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueStomach, new { id = "MrdQueStomach", @tabindex = 101 })
                        </td>
                        <td>
                            Stroke
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueStroke, new { id = "MrdQueStroke", @tabindex = 102 })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Swelling of Limbs
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueSwelling, new { id = "MrdQueSwelling", @tabindex = 103 })
                        </td>
                        <td>
                            Thyroid Disease
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueThyroid, new { id = "MrdQueThyroid", @tabindex = 104 })
                        </td>
                        <td>
                            Tonsillitis
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueTonsillitis, new { id = "MrdQueTonsillitis", @tabindex = 105 })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Tuberculosis
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueTuberculosis, new { id = "MrdQueTuberculosis", @tabindex = 106 })
                        </td>
                        <td>
                            Tumors or Growths
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueTumors, new { id = "MrdQueTumors", @tabindex = 107 })
                        </td>
                        <td>
                            Ulcers
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueUlcers, new { id = "MrdQueUlcers", @tabindex = 108 })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Venereal Disease
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueVenereal, new { id = "MrdQueVenereal", @tabindex = 109 })
                        </td>
                        <td>
                            Yellow Jaundice
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => @item.MrdQueYellow, new { id = "MrdQueYellow", @tabindex = 110 })
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="name" class="control-label">
                        1. Are you under a physicians care right now ? : <br>
                        @Html.RadioButtonFor(model => @item.MrdQue1, new { id = "MrdQue1", @tabindex = 1 })
                        @Html.Label("Yes")
                        @Html.RadioButtonFor(model => @item.MrdQue1, new { id = "MrdQue1", @tabindex = 1 })
                        @Html.Label("No")
                    </label>
                    <input type="text" id="" />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="name" class="control-label">
                        2. Have you ever been hospitalized or had a major operation ? : <br>
                        @Html.RadioButtonFor(model => @item.MrdQue2, new { id = "MrdQue2", @tabindex = 3 })
                        @Html.Label("Yes")
                        @Html.RadioButtonFor(model => @item.MrdQue2, new { id = "MrdQue2", @tabindex = 3 })
                        @Html.Label("No")
                    </label>
                    <input type="text" id="" />
                </div>
            </div>
        </div>            <div class="col-sm-6">
            <div class="form-group">
                <label for="name" class="control-label">
                    3. Have you ever had a serious head or neck injury ? : <br>
                    @Html.RadioButtonFor(model => @item.MrdQue3, new { id = "MrdQue3", @tabindex = 5 })
                    @Html.Label("Yes")
                    @Html.RadioButtonFor(model => @item.MrdQue3, new { id = "MrdQue3", @tabindex = 5 })
                    @Html.Label("No")
                </label>
                <input type="text" name="serious_injury_det" id="serious_injury_det">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="name" class="control-label">
                    4. Are taking any medications, pills, or drugs ? : <br>
                    @Html.RadioButtonFor(model => @item.MrdQue4, new { id = "MrdQue4", @tabindex = 7 })
                    @Html.Label("Yes")
                    @Html.RadioButtonFor(model => @item.MrdQue4, new { id = "MrdQue4", @tabindex = 7 })
                    @Html.Label("No")
                </label>
                <input type="text" name="medications_det" id="medications_det">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="name" class="control-label">
                    5. Do you take, or have you taken, Phen-Fen or Redux ? : <br>
                    @Html.RadioButtonFor(model => @item.MrdQue5, new { id = "MrdQue5", @tabindex = 9 })
                    @Html.Label("Yes")
                    @Html.RadioButtonFor(model => @item.MrdQue5, new { id = "MrdQue5", @tabindex = 9 })
                    @Html.Label("No")
                </label>
                <input type="text" name="phenfen_redux_det" id="phenfen_redux_det">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="name" class="control-label">
                    6.  Have you ever taken Fosamax, Boniva, Actonel or any other medications containing biphosphonates ? : <br>
                    @Html.RadioButtonFor(model => @item.MrdQue6, new { id = "MrdQue6", @tabindex = 11 })
                    @Html.Label("Yes")
                    @Html.RadioButtonFor(model => @item.MrdQue6, new { id = "MrdQue6", @tabindex = 11 })
                    @Html.Label("No")
                </label>
                <input type="text" name="biphosphonates_det" id="biphosphonates_det">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="name" class="control-label">
                    7. Are you on a special diet ? : <br>
                    @Html.RadioButtonFor(model => @item.MrdQuediet7, new { id = "MrdQuediet7", @tabindex = 15 })
                    @Html.Label("Yes")
                    @Html.RadioButtonFor(model => @item.MrdQuediet7, new { id = "MrdQuediet7", @tabindex = 15 })
                    @Html.Label("No")
                </label>
                <input type="text" name="special_diet_det" id="special_diet_det">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="name" class="control-label">
                    8. Do you use tobacco ? : <br>
                    @Html.RadioButtonFor(model => @item.Mrdotobacco8, new { id = "Mrdotobacco8", @tabindex = 16 })
                    @Html.Label("Yes")
                    @Html.RadioButtonFor(model => @item.Mrdotobacco8, new { id = "Mrdotobacco8", @tabindex = 16 })
                    @Html.Label("No")
                </label>
                <input type="text" name="tobacco_det" id="tobacco_det">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="name" class="control-label">
                    9. Do you use controlled substances ? : <br>
                    @Html.RadioButtonFor(model => @item.Mrdosubstances, new { id = "Mrdosubstances", @tabindex = 17 })
                    @Html.Label("Yes")
                    @Html.RadioButtonFor(model => @item.Mrdosubstances, new { id = "Mrdosubstances", @tabindex = 17 })
                    @Html.Label("No")
                </label>
                <input type="text" name="controlled_substances" id="controlled_substances">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="name" class="control-label">
                    10. Are you pregnant/Trying to get pregnant ( Women ) ? : <br>
                    @Html.RadioButtonFor(model => @item.Mrdopregnant, new { id = "Mrdopregnant", @tabindex = 18 })
                    @Html.Label("Yes")
                    @Html.RadioButtonFor(model => @item.Mrdopregnant, new { id = "Mrdopregnant", @tabindex = 18 })
                    @Html.Label("No")
                </label>
                <input type="text" name="pregnant_det" id="pregnant_det">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="name" class="control-label">
                    11. Taking oral contraceptives ( Women ) ? : <br>
                    @Html.RadioButtonFor(model => @item.Mrdocontraceptives, new { id = "Mrdocontraceptives", @tabindex = 19 })
                    @Html.Label("Yes")
                    @Html.RadioButtonFor(model => @item.Mrdocontraceptives, new { id = "Mrdocontraceptives", @tabindex = 19 })
                    @Html.Label("No")
                </label>
                <input type="text" name="oral_contraceptives" id="oral_contraceptives">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="name" class="control-label">
                    12. Nursing ( Women ) ? : <br>
                    @Html.RadioButtonFor(model => @item.MrdoNursing, new { id = "MrdoNursing", @tabindex = 20 })
                    @Html.Label("Yes")
                    @Html.RadioButtonFor(model => @item.MrdoNursing, new { id = "MrdoNursing", @tabindex = 20 })
                    @Html.Label("No")
                </label>
                <input type="text" name="nursing_det" id="nursing_det">
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <label for="name" class="control-label">
                    13. Are you allergic to any of the following ? :
                    @Html.RadioButtonFor(model => @item.MchkQue_1, new { id = "MchkQue_1", @tabindex = 21 })
                    @Html.Label("Yes")
                    @Html.RadioButtonFor(model => @item.MchkQue_1, new { id = "MchkQue_1", @tabindex = 21 })
                    @Html.Label("No")<br />

                    @Html.CheckBoxFor(model => @item.MchkQue_1, new { id = "MchkQue_1", @tabindex = 21 })
                    @Html.Label("Aspirin")
                    @Html.CheckBoxFor(model => @item.MchkQue_2, new { id = "MchkQue_2", @tabindex = 22 })
                    @Html.Label("Penicillin")
                    @Html.CheckBoxFor(model => @item.MchkQue_3, new { id = "MchkQue_3", @tabindex = 23 })
                    @Html.Label("Codeine")
                    @Html.CheckBoxFor(model => @item.MchkQue_4, new { id = "MchkQue_4", @tabindex = 24 })
                    @Html.Label("Local Anesthetics")
                    @Html.CheckBoxFor(model => @item.MchkQue_5, new { id = "MchkQue_5", @tabindex = 25 })
                    @Html.Label("Acrylic")
                    @Html.CheckBoxFor(model => @item.MchkQue_6, new { id = "MchkQue_6", @tabindex = 26 })
                    @Html.Label("Metal")
                    @Html.CheckBoxFor(model => @item.MchkQue_7, new { id = "MchkQue_7", @tabindex = 27 })
                    @Html.Label("Latex")
                    @Html.CheckBoxFor(model => @item.MchkQue_8, new { id = "MchkQue_8", @tabindex = 28 })
                    @Html.Label("Sulfa Drugs")
                    @Html.CheckBoxFor(model => @item.MchkQue_9, new { id = "MchkQue_9", @tabindex = 29 })
                    @Html.Label("Other")
                </label>
                <br />
                ( If Other, Please Explain )
                <input type="text" name="allergic_det" id="allergic_det">
            </div>
        </div>
        <div class="col-sm-12" style="display:none">
            <div class="form-group">
                <label for="name" class="control-label">
                    15. List any serious illness not listed above :
                </label>
                @Html.TextAreaFor(model => @item.Mtxtillness, new { id = "Mtxtillness", @class = "input_box_textarea", @tabindex = 112, style = "height:40px" })
            </div>
        </div>
        <div class="col-sm-12" style="display:none">
            <div class="form-group">
                <label for="name" class="control-label">
                    16. Additional Information :
                </label>
                @Html.TextAreaFor(model => @item.MtxtComments, new { id = "MtxtComments", @class = "input_box_textarea", @tabindex = 113 })
            </div>
        </div>
    </div>



    @* <div class="right_panel_head">
            <div class="skip_step" id="btnmhskp">
                <a onclick="messagebox('5')">Skip Step</a>
            </div>
        </div>
        <div class="clear">
        </div>
        <div class="panel-container">
            <div id="DentalHistory">
                <ul id="form_info">
                    <li>
                        <label style="width: 59.1%">
                            <div style="float: left">
                            </div>
                            <div>
                            </div>
                        </label>
                        <span>YES </span>
                    </li>
                    <li onclick="MrdQue1('MrdQue1','pnlMrdQue1','Mtxtphysicians');">
                        <label>
                            <div style="float: left">
                                1.&nbsp;
                            </div>
                            <div>
                                Are you under a physicians care right now?
                            </div>
                        </label>
                        <span>
                            @Html.CheckBoxFor(model => @item.MrdQue1, new { id = "MrdQue1", @tabindex = 1 })
                        </span>
                    </li>
                </ul>
                <div id="pnlMrdQue1">
                    <ul class="information_panel" id="form_info">
                        <li>
                            <label>
                                <div style="float: left">
                                    &nbsp;
                                </div>
                                <div>
                                    Please explain
                                </div>
                            </label>
                            @Html.TextAreaFor(model => @item.Mtxtphysicians, new { id = "Mtxtphysicians", @class = "input_box_textarea", @tabindex = 2, style = "height:65px" })
                        </li>
                        <br />
                    </ul>
                </div>
                <ul id="form_info">
                    <li onclick="MrdQue1('MrdQue2','pnlMrdQue2','Mtxthospitalized');">
                        <label>
                            <div style="float: left">
                                2.&nbsp;
                            </div>
                            <div>
                                Have you ever been hospitalized or had a major operation?
                            </div>
                        </label>
                        <span>
                            @Html.CheckBoxFor(model => @item.MrdQue2, new { id = "MrdQue2", @tabindex = 3 })
                        </span>
                    </li>
                </ul>
                <div id="pnlMrdQue2">
                    <ul class="information_panel" id="form_info">
                        <li>
                            <label>
                                <div style="float: left">
                                    &nbsp;
                                </div>
                                <div>
                                    Please explain
                                </div>
                            </label>
                            @Html.TextAreaFor(model => @item.Mtxthospitalized, new { id = "Mtxthospitalized", @class = "input_box_textarea", @tabindex = 4, style = "height:65px" })
                        </li>
                        <br />
                    </ul>
                </div>
                <ul id="form_info">
                    <li onclick="MrdQue1('MrdQue3','pnlMrdQue3','Mtxtserious');">
                        <label>
                            <div style="float: left">
                                3.&nbsp;
                            </div>
                            <div>
                                Have you ever had a serious head or neck injury?
                            </div>
                        </label>
                        <span>
                            @Html.CheckBoxFor(model => @item.MrdQue3, new { id = "MrdQue3", @tabindex = 5 })
                        </span>
                    </li>
                </ul>
                <div id="pnlMrdQue3">
                    <ul class="information_panel" id="form_info">
                        <li>
                            <label>
                                <div style="float: left">
                                    &nbsp;
                                </div>
                                <div>
                                    Please explain
                                </div>
                            </label>
                            @Html.TextAreaFor(model => @item.Mtxtserious, new { id = "Mtxtserious", @class = "input_box_textarea", @tabindex = 6, style = "height:65px" })
                        </li>
                        <br />
                    </ul>
                </div>
                <ul id="form_info">
                    <li onclick="MrdQue1('MrdQue4','pnlMrdQue4','Mtxtmedications');">
                        <label>
                            <div style="float: left">
                                4.&nbsp;
                            </div>
                            <div>
                                Are taking any medications, pills, or drugs?
                            </div>
                        </label>
                        <span>
                            @Html.CheckBoxFor(model => @item.MrdQue4, new { id = "MrdQue4", @tabindex = 7 })
                        </span>
                    </li>
                </ul>
                <div id="pnlMrdQue4">
                    <ul class="information_panel" id="form_info">
                        <li>
                            <label>
                                <div style="float: left">
                                    &nbsp;
                                </div>
                                <div>
                                    Please list
                                </div>
                            </label>
                            @Html.TextAreaFor(model => @item.Mtxtmedications, new { id = "Mtxtmedications", @class = "input_box_textarea", @tabindex = 8, style = "height:65px" })
                        </li>
                        <br />
                    </ul>
                </div>
                <ul id="form_info">
                    <li onclick="MrdQue1('MrdQue5','pnlMrdQue5','MtxtRedux');">
                        <label>
                            <div style="float: left">
                                5.&nbsp;
                            </div>
                            <div>
                                Do you take, or have you taken, Phen-Fen or Redux?
                            </div>
                        </label>
                        <span>
                            @Html.CheckBoxFor(model => @item.MrdQue5, new { id = "MrdQue5", @tabindex = 9 })
                        </span>
                    </li>
                </ul>
                <div id="pnlMrdQue5">
                    <ul class="information_panel" id="form_info">
                        <li>
                            <label>
                                <div style="float: left">
                                    &nbsp;
                                </div>
                                <div>
                                    Please explain
                                </div>
                            </label>
                            @Html.TextAreaFor(model => @item.MtxtRedux, new { id = "MtxtRedux", @class = "input_box_textarea", @tabindex = 10, style = "height:65px" })
                        </li>
                        <br />
                    </ul>
                </div>
                <ul id="form_info">
                    <li onclick="MrdQue1('MrdQue6','pnlMrdQue6','MtxtFosamax');">
                        <label>
                            <div style="float: left">
                                6.&nbsp;
                            </div>
                            <div>
                                Have you ever taken Fosamax, Boniva, Actonel or any other &nbsp;&nbsp;&nbsp; medications
                                containing biphosphonates?
                            </div>
                        </label>
                        <span>
                            @Html.CheckBoxFor(model => @item.MrdQue6, new { id = "MrdQue6", @tabindex = 11 })
                        </span>
                    </li>
                </ul>
                <div id="pnlMrdQue6">
                    <ul class="information_panel" id="form_info">
                        <li>
                            <label>
                                <div style="float: left">
                                    &nbsp;
                                </div>
                                <div>
                                    Please explain
                                </div>
                            </label>
                            @Html.TextAreaFor(model => @item.MtxtFosamax, new { id = "MtxtFosamax", @class = "input_box_textarea", @tabindex = 13, style = "height:65px" })
                        </li>
                        <br />
                    </ul>
                </div>
                <ul id="form_info">
                    <li onclick="MrdQue1('MrdQuediet7','pnlMrdQue7','Mtxt7');">
                        <label>
                            <div style="float: left">
                                7.&nbsp;
                            </div>
                            <div>
                                Are you on a special diet?
                            </div>
                        </label>
                        <span>
                            @Html.CheckBoxFor(model => @item.MrdQuediet7, new { id = "MrdQuediet7", @tabindex = 15 })
                        </span>
                    </li>
                </ul>
                <div id="pnlMrdQue7">
                    <ul class="information_panel" id="form_info">
                        <li>
                            <label>
                                <div style="float: left">
                                    &nbsp;
                                </div>
                                <div>
                                    Please explain
                                </div>
                            </label>
                            @Html.TextAreaFor(model => @item.Mtxt7, new { id = "Mtxt7", @class = "input_box_textarea", @tabindex = 15, style = "height:65px" })
                        </li>
                        <br />
                    </ul>
                </div>
                <ul id="form_info">
                    <li onclick="MrdQue1('Mrdotobacco8','pnlMrdQue8','Mtxt8');">
                        <label>
                            <div style="float: left">
                                8.&nbsp;
                            </div>
                            <div>
                                Do you use tobacco?
                            </div>
                        </label>
                        <span>
                            @Html.CheckBoxFor(model => @item.Mrdotobacco8, new { id = "Mrdotobacco8", @tabindex = 16 })
                        </span>
                    </li>
                </ul>
                <div id="pnlMrdQue8">
                    <ul class="information_panel" id="form_info">
                        <li>
                            <label>
                                <div style="float: left">
                                    &nbsp;
                                </div>
                                <div>
                                    How often
                                </div>
                            </label>
                            @Html.TextAreaFor(model => @item.Mtxt8, new { id = "Mtxt8", @class = "input_box_textarea", @tabindex = 16, style = "height:65px" })
                        </li>
                        <br />
                    </ul>
                </div>
                <ul id="form_info">
                    <li onclick="MrdQue1('Mrdosubstances','pnlMrdQue9','Mtxt9');">
                        <label>
                            <div style="float: left">
                                9.&nbsp;
                            </div>
                            <div>
                                Do you use controlled substances?
                            </div>
                        </label>
                        <span>
                            @Html.CheckBoxFor(model => @item.Mrdosubstances, new { id = "Mrdosubstances", @tabindex = 17 })
                        </span>
                    </li>
                </ul>
                <div id="pnlMrdQue9">
                    <ul class="information_panel" id="form_info">
                        <li>
                            <label>
                                <div style="float: left">
                                    &nbsp;
                                </div>
                                <div>
                                    Please explain
                                </div>
                            </label>
                            @Html.TextAreaFor(model => @item.Mtxt9, new { id = "Mtxt9", @class = "input_box_textarea", @tabindex = 17, style = "height:65px" })
                        </li>
                        <br />
                    </ul>
                </div>
                <ul id="form_info">
                    <li onclick="MrdQue1('Mrdopregnant','pnlMrdQue10','Mtxt10');">
                        <label>
                            <div style="float: left">
                                10.&nbsp;
                            </div>
                            <div>
                                Are you pregnant/Trying to get pregnant(women)?
                            </div>
                        </label>
                        <span>
                            @Html.CheckBoxFor(model => @item.Mrdopregnant, new { id = "Mrdopregnant", @tabindex = 18 })
                        </span>
                    </li>
                </ul>
                <div id="pnlMrdQue10">
                    <ul class="information_panel" id="form_info">
                        <li>
                            <label>
                                <div style="float: left">
                                    &nbsp;
                                </div>
                                <div>
                                    Due date
                                </div>
                            </label>
                            @Html.TextAreaFor(model => @item.Mtxt10, new { id = "Mtxt10", @class = "input_box_textarea", @tabindex = 18, style = "height:65px" })
                        </li>
                        <br />
                    </ul>
                </div>
                <ul id="form_info">
                    <li onclick="MrdQue1('Mrdocontraceptives','pnlMrdQue11','Mtxt11');">
                        <label>
                            <div style="float: left">
                                11.&nbsp;
                            </div>
                            <div>
                                Taking oral contraceptives(women)?
                            </div>
                        </label>
                        <span>
                            @Html.CheckBoxFor(model => @item.Mrdocontraceptives, new { id = "Mrdocontraceptives", @tabindex = 19 })
                        </span>
                    </li>
                </ul>
                <div id="pnlMrdQue11">
                    <ul class="information_panel" id="form_info">
                        <li>
                            <label>
                                <div style="float: left">
                                    &nbsp;
                                </div>
                                <div>
                                    Due date
                                </div>
                            </label>
                            @Html.TextAreaFor(model => @item.Mtxt11, new { id = "Mtxt11", @class = "input_box_textarea", @tabindex = 20, style = "height:65px" })
                        </li>
                        <br />
                    </ul>
                </div>
                <ul id="form_info">
                    <li onclick="MrdQue1('MrdoNursing','pnlMrdQue12','Mtxt12');">
                        <label>
                            <div style="float: left">
                                12.&nbsp;
                            </div>
                            <div>
                                Nursing(women)?
                            </div>
                        </label>
                        <span>
                            @Html.CheckBoxFor(model => @item.MrdoNursing, new { id = "MrdoNursing", @tabindex = 20 })
                        </span>
                    </li>
                </ul>
                <div id="pnlMrdQue12">
                    <ul class="information_panel" id="form_info">
                        <li>
                            <label>
                                <div style="float: left">
                                    &nbsp;
                                </div>
                                <div>
                                    Due date
                                </div>
                            </label>
                            @Html.TextAreaFor(model => @item.Mtxt12, new { id = "Mtxt12", @class = "input_box_textarea", @tabindex = 21, style = "height:65px" })
                        </li>
                        <br />
                    </ul>
                </div>
                <ul id="form_info">
                    <li>
                        <label>
                            <div style="float: left">
                                13.&nbsp;
                            </div>
                            <div>
                                Are you allergic to any of the following?
                            </div>
                        </label>
                        <span>
                            <table>
                                <tbody>
                                    <tr>
                                        <td>
                                            @Html.CheckBoxFor(model => @item.MchkQue_1, new { id = "MchkQue_1", @tabindex = 21 })
                                            @Html.Label("Aspirin")
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </span>
                    </li>
                </ul>
                <div id="pnlMchkQue_9">
                    <ul class="information_panel" id="form_info">
                        <li>
                            <label>
                                <div style="float: left">
                                    &nbsp;
                                </div>
                                <div>
                                    If other, please explain list
                                </div>
                            </label>
                            @Html.TextBoxFor(model => @item.MtxtchkQue_9, new { id = "MtxtchkQue_9", @class = "input_box_forms", @tabindex = 30 })
                        </li>
                        <br />
                    </ul>
                </div>
                <div class="clear">
                </div>
                <ul id="form_info">
                    <li>
                        <label style="width: 100%">
                            <div style="float: left">
                                14.&nbsp;
                            </div>
                            <div>
                                <b>Do you have, or have you had, any of the following?</b>
                            </div>
                        </label>
                    </li>
                </ul>
                <span>
                    <table width="100%" style="color: #17335D;margin-left:30px;">

                        <tr>

                            <td style="width:23%"></td>
                            <td>
                                YES
                            </td>
                            <td style="width:25%"></td>
                            <td>
                                YES
                            </td>
                            <td style="width:24%"></td>
                            <td>
                                YES
                            </td>
                        </tr>
                        <tr>
                            <td>
                                AIDS/HIV Positive
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => @item.MrdQueAIDS_HIV_Positive, new { id = "MrdQueAIDS_HIV_Positive", @tabindex = 31 })
                            </td>
                            <td>
                                Alzheimer’s Disease
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => @item.MrdQueAlzheimer, new { id = "MrdQueAlzheimer", @tabindex = 32 })
                            </td>
                            <td>
                                Anaphylaxis
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => @item.MrdQueAnaphylaxis, new { id = "MrdQueAnaphylaxis", @tabindex = 33 })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Anemia
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => @item.MrdQueAnemia, new { id = "MrdQueAnemia", @tabindex = 34 })
                            </td>
                            <td>
                                Angina
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => @item.MrdQueAngina, new { id = "MrdQueAngina", @tabindex = 35 })
                            </td>
                            <td>
                                Arthritis/Gout
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => @item.MrdQueArthritis_Gout, new { id = "MrdQueArthritis_Gout", @tabindex = 36 })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Artificial Heart Valve
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => @item.MrdQueArtificialHeartValve, new { id = "MrdQueArtificialHeartValve", @tabindex = 37 })
                            </td>
                            <td>
                                Artificial Joint
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => @item.MrdQueArtificialJoint, new { id = "MrdQueArtificialJoint", @tabindex = 38 })
                            </td>
                            <td>
                                Asthma
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => @item.MrdQueAsthma, new { id = "MrdQueAsthma", @tabindex = 39 })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Blood Disease
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => @item.MrdQueBloodDisease, new { id = "MrdQueBloodDisease", @tabindex = 40 })
                            </td>
                            <td>
                                Blood Transfusion
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => @item.MrdQueBloodTransfusion, new { id = "MrdQueBloodTransfusion", @tabindex = 41 })
                            </td>
                            <td>
                                Breathing Problem
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => @item.MrdQueBreathing, new { id = "MrdQueBreathing", @tabindex = 42 })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Bruise Easily
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => @item.MrdQueBruise, new { id = "MrdQueBruise", @tabindex = 43 })
                            </td>
                            <td>
                                Cancer
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => @item.MrdQueCancer, new { id = "MrdQueCancer", @tabindex = 45 })
                            </td>
                            <td>
                                Chemotherapy
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => @item.MrdQueChemotherapy, new { id = "MrdQueChemotherapy", @tabindex = 46 })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Chest Pains
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => @item.MrdQueChest, new { id = "MrdQueChest", @tabindex = 47 })
                            </td>
                            <td>
                                Cold Sores/Fever Blisters
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => @item.MrdQueCold_Sores_Fever, new { id = "MrdQueCold_Sores_Fever", @tabindex = 48 })
                            </td>
                            <td>
                                Congenital Heart Disorder
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => @item.MrdQueCongenital, new { id = "MrdQueCongenital", @tabindex = 49 })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Convulsions
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => @item.MrdQueConvulsions, new { id = "MrdQueConvulsions", @tabindex = 50 })
                            </td>
                            <td>
                                Cortisone Medicine
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => @item.MrdQueCortisone, new { id = "MrdQueCortisone", @tabindex = 51 })
                            </td>
                            <td>
                                Diabetes
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => @item.MrdQueDiabetes, new { id = "MrdQueDiabetes", @tabindex = 52 })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Drug Addiction
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => @item.MrdQueDrug, new { id = "MrdQueDrug", @tabindex = 53 })
                            </td>
                            <td>
                                Easily Winded
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => @item.MrdQueEasily, new { id = "MrdQueEasily", @tabindex = 54 })
                            </td>
                            <td>
                                Emphysema
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => @item.MrdQueEmphysema, new { id = "MrdQueEmphysema", @tabindex = 55 })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Epilepsy or Seizures
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => @item.MrdQueEpilepsy, new { id = "MrdQueEpilepsy", @tabindex = 56 })
                            </td>
                            <td>
                                Excessive Bleeding
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => @item.MrdQueExcessiveBleeding, new { id = "MrdQueExcessiveBleeding", @tabindex = 57 })
                            </td>
                            <td>
                                Excessive Thirst
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => @item.MrdQueExcessiveThirst, new { id = "MrdQueExcessiveThirst", @tabindex = 58 })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Fainting Spells/Dizziness
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => @item.MrdQueFainting, new { id = "MrdQueFainting", @tabindex = 59 })
                            </td>
                            <td>
                                Frequent Cough
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => @item.MrdQueFrequentCough, new { id = "MrdQueFrequentCough", @tabindex = 60 })
                            </td>
                            <td>
                                Frequent Diarrhea
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => @item.MrdQueFrequentDiarrhea, new { id = "MrdQueFrequentDiarrhea", @tabindex = 61 })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Frequent Headaches
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => @item.MrdQueFrequentHeadaches, new { id = "MrdQueFrequentHeadaches", @tabindex = 62 })
                            </td>
                            <td>
                                Genital Herpes
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => @item.MrdQueGenital, new { id = "MrdQueGenital", @tabindex = 63 })
                            </td>
                            <td>
                                Glaucoma
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => @item.MrdQueGlaucoma, new { id = "MrdQueGlaucoma", @tabindex = 64 })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Hay Fever
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => @item.MrdQueHay, new { id = "MrdQueHay", @tabindex = 65 })
                            </td>
                            <td>
                                Heart Attack/Failure
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => @item.MrdQueHeartAttack_Failure, new { id = "MrdQueHeartAttack_Failure", @tabindex = 66 })
                            </td>
                            <td>
                                Heart Murmur
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => @item.MrdQueHeartMurmur, new { id = "MrdQueHeartMurmur", @tabindex = 67 })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Heart Pacemaker
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => @item.MrdQueHeartPacemaker, new { id = "MrdQueHeartPacemaker", @tabindex = 68 })
                            </td>
                            <td>
                                Heart Trouble/Disease
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => @item.MrdQueHeartTrouble_Disease, new { id = "MrdQueHeartTrouble_Disease", @tabindex = 69 })
                            </td>
                            <td>
                                Hemophilia
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => @item.MrdQueHemophilia, new { id = "MrdQueHemophilia", @tabindex = 70 })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Hepatitis A
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => @item.MrdQueHepatitisA, new { id = "MrdQueHepatitisA", @tabindex = 71 })
                            </td>
                            <td>
                                Hepatitis B or C
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => @item.MrdQueHepatitisBorC, new { id = "MrdQueHepatitisBorC", @tabindex = 72 })
                            </td>
                            <td>
                                Herpes
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => @item.MrdQueHerpes, new { id = "MrdQueHerpes", @tabindex = 73 })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                High Blood Pressure
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => @item.MrdQueHighBloodPressure, new { id = "MrdQueHighBloodPressure", @tabindex = 74 })
                            </td>
                            <td>
                                High Cholesterol
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => @item.MrdQueHighCholesterol, new { id = "MrdQueHighCholesterol", @tabindex = 75 })
                            </td>
                            <td>
                                Hives or Rash
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => @item.MrdQueHives, new { id = "MrdQueHives", @tabindex = 76 })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Hypoglycemia
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => @item.MrdQueHypoglycemia, new { id = "MrdQueHypoglycemia", @tabindex = 78 })
                            </td>
                            <td>
                                Irregular Heartbeat
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => @item.MrdQueIrregular, new { id = "MrdQueIrregular", @tabindex = 79 })
                            </td>
                            <td>
                                Kidney Problems
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => @item.MrdQueKidney, new { id = "MrdQueKidney", @tabindex = 80 })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Leukemia
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => @item.MrdQueLeukemia, new { id = "MrdQueLeukemia", @tabindex = 81 })
                            </td>
                            <td>
                                Liver Disease
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => @item.MrdQueLiver, new { id = "MrdQueLiver", @tabindex = 82 })
                            </td>
                            <td>
                                Low Blood Pressure
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => @item.MrdQueLow, new { id = "MrdQueLow", @tabindex = 83 })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Lung Disease
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => @item.MrdQueLung, new { id = "MrdQueLung", @tabindex = 84 })
                            </td>
                            <td>
                                Mitral Valve Prolapse
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => @item.MrdQueMitral, new { id = "MrdQueMitral", @tabindex = 85 })
                            </td>
                            <td>
                                Osteoporosis
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => @item.MrdQueOsteoporosis, new { id = "MrdQueOsteoporosis", @tabindex = 86 })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Pain in Jaw Joints
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => @item.MrdQuePain, new { id = "MrdQuePain", @tabindex = 87 })
                            </td>
                            <td>
                                Parathyroid Disease
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => @item.MrdQueParathyroid, new { id = "MrdQueParathyroid", @tabindex = 89 })
                            </td>
                            <td>
                                Psychiatric Care
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => @item.MrdQuePsychiatric, new { id = "MrdQuePsychiatric", @tabindex = 90 })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Radiation Treatments
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => @item.MrdQueRadiation, new { id = "MrdQueRadiation", @tabindex = 91 })
                            </td>
                            <td>
                                Recent Weight Loss
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => @item.MrdQueRecent, new { id = "MrdQueRecent", @tabindex = 92 })
                            </td>
                            <td>
                                Renal Dialysis
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => @item.MrdQueRenal, new { id = "MrdQueRenal", @tabindex = 93 })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Rheumatic Fever
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => @item.MrdQueRheumatic, new { id = "MrdQueRheumatic", @tabindex = 94 })
                            </td>
                            <td>
                                Rheumatism
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => @item.MrdQueRheumatism, new { id = "MrdQueRheumatism", @tabindex = 95 })
                            </td>
                            <td>
                                Scarlet Fever
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => @item.MrdQueScarlet, new { id = "MrdQueScarlet", @tabindex = 96 })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Shingles
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => @item.MrdQueShingles, new { id = "MrdQueShingles", @tabindex = 97 })
                            </td>
                            <td>
                                Sickle Cell Disease
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => @item.MrdQueSickle, new { id = "MrdQueSickle", @tabindex = 98 })
                            </td>
                            <td>
                                Sinus Trouble
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => @item.MrdQueSinus, new { id = "MrdQueSinus", @tabindex = 99 })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Spina Bifida
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => @item.MrdQueSpina, new { id = "MrdQueSpina", @tabindex = 100 })
                            </td>
                            <td>
                                Stomach/Intestinal Disease
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => @item.MrdQueStomach, new { id = "MrdQueStomach", @tabindex = 101 })
                            </td>
                            <td>
                                Stroke
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => @item.MrdQueStroke, new { id = "MrdQueStroke", @tabindex = 102 })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Swelling of Limbs
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => @item.MrdQueSwelling, new { id = "MrdQueSwelling", @tabindex = 103 })
                            </td>
                            <td>
                                Thyroid Disease
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => @item.MrdQueThyroid, new { id = "MrdQueThyroid", @tabindex = 104 })
                            </td>
                            <td>
                                Tonsillitis
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => @item.MrdQueTonsillitis, new { id = "MrdQueTonsillitis", @tabindex = 105 })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Tuberculosis
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => @item.MrdQueTuberculosis, new { id = "MrdQueTuberculosis", @tabindex = 106 })
                            </td>
                            <td>
                                Tumors or Growths
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => @item.MrdQueTumors, new { id = "MrdQueTumors", @tabindex = 107 })
                            </td>
                            <td>
                                Ulcers
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => @item.MrdQueUlcers, new { id = "MrdQueUlcers", @tabindex = 108 })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Venereal Disease
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => @item.MrdQueVenereal, new { id = "MrdQueVenereal", @tabindex = 109 })
                            </td>
                            <td>
                                Yellow Jaundice
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => @item.MrdQueYellow, new { id = "MrdQueYellow", @tabindex = 110 })
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </span>
                <ul id="form_info">
                    <li>
                        <label style="width: 40.1%">
                            <div>
                                15. List any serious illness not listed above
                            </div>
                        </label>
                        @Html.TextAreaFor(model => @item.Mtxtillness, new { id = "Mtxtillness", @class = "input_box_textarea", @tabindex = 112, style = "height:40px" })
                    </li>
                </ul>
                <ul id="form_info">
                    <li>
                        <label style="width: 40.1%">
                            16. Additional Information
                        </label>
                        @Html.TextAreaFor(model => @item.MtxtComments, new { id = "MtxtComments", @class = "input_box_textarea", @tabindex = 113 })
                    </li>
                </ul>
                <ul id="form_info" style="text-align:center;margin-right:62px;">
                    <li>&nbsp;</li>
                    <li>

                        <input type="submit" class="button_2" id="btnmediacalhisoty" tabindex="114" />
                    </li>
                </ul>

            </div>
        </div>  *@
    <div class="clear">
    </div>
</div>
}
<script type="text/javascript">


        function MrdQue1(ctrl, pnl, txt) {

            if ($('#' + ctrl).is(':checked') == true) {
                document.getElementById(pnl).style.display = '';
            }
            else {
                document.getElementById(pnl).style.display = 'none';
                document.getElementById(txt).value = '';

            }
        }


        $("#btnmediacalhisoty").click(function () {
        $("#divLoading").show();
        $.ajax({
            url: '@Url.Action("MedicalHistoryForm", "DentalForms")?MrdQue1=' + ($('#MrdQue1').is(':checked') ? 'Y' : 'N') + '&Mtxtphysicians=' + $('#Mtxtphysicians').val() + '&MrdQue2=' + ($('#MrdQue2').is(':checked') ? 'Y' : 'N') + '&Mtxthospitalized=' + $('#Mtxthospitalized').val() + '&MrdQue3=' + ($('#MrdQue3').is(':checked') ? 'Y' : 'N') + '&Mtxtserious=' + $('#Mtxtserious').val() + '&MrdQue4=' + ($('#MrdQue4').is(':checked') ? 'Y' : 'N') + '&Mtxtmedications=' + $('#Mtxtmedications').val() + '&MrdQue5=' + ($('#MrdQue5').is(':checked') ? 'Y' : 'N') + '&MtxtRedux=' + $('#MtxtRedux').val() + '&MrdQue6=' + ($('#MrdQue6').is(':checked') ? 'Y' : 'N') + '&MtxtFosamax=' + $('#MtxtFosamax').val() + '&MrdQuediet7=' + ($('#MrdQuediet7').is(':checked') ? 'Y' : 'N') + '&Mtxt7=' + $('#Mtxt7').val() + '&Mrdotobacco8=' + ($('#Mrdotobacco8').is(':checked') ? 'Y' : 'N') + '&Mtxt8=' + $('#Mtxt8').val() + '&Mrdosubstances=' + ($('#Mrdosubstances').is(':checked') ? 'Y' : 'N') + '&Mtxt9=' + $('#Mtxt9').val() + '&Mrdopregnant=' + ($('#Mrdopregnant').is(':checked') ? 'Y' : 'N') + '&Mtxt10=' + $('#Mtxt10').val() + '&Mrdocontraceptives=' + ($('#Mrdocontraceptives').is(':checked') ? 'Y' : 'N') + '&Mtxt11=' + $('#Mtxt11').val() + '&MrdoNursing=' + ($('#MrdoNursing').is(':checked') ? 'Y' : 'N') + '&Mtxt12=' + $('#Mtxt12').val() + '&MchkQue_1=' + ($('#MchkQue_1').is(':checked') ? 'Y' : 'N') + '&MchkQue_2=' + ($('#MchkQue_2').is(':checked') ? 'Y' : 'N') + '&MchkQue_3=' + ($('#MchkQue_3').is(':checked') ? 'Y' : 'N') + '&MchkQue_4=' + ($('#MchkQue_4').is(':checked') ? 'Y' : 'N') + '&MchkQue_5=' + ($('#MchkQue_5').is(':checked') ? 'Y' : 'N') + '&MchkQue_6=' + ($('#MchkQue_6').is(':checked') ? 'Y' : 'N') + '&MchkQue_7=' + ($('#MchkQue_7').is(':checked') ? 'Y' : 'N') + '&MchkQue_8=' + ($('#MchkQue_8').is(':checked') ? 'Y' : 'N') + '&MchkQue_9=Y' + '&MtxtchkQue_9=' + $('#MtxtchkQue_9').val()
            + '&MrdQueAIDS_HIV_Positive=' + ($('#MrdQueAIDS_HIV_Positive').is(':checked') ? 'Y' : 'N')
            + '&MrdQueAlzheimer=' + ($('#MrdQueAlzheimer').is(':checked') ? 'Y' : 'N')
            + '&MrdQueAnaphylaxis=' + ($('#MrdQueAnaphylaxis').is(':checked') ? 'Y' : 'N')
            + '&MrdQueAnemia=' + ($('#MrdQueAnemia').is(':checked') ? 'Y' : 'N')
            + '&MrdQueAngina=' + ($('#MrdQueAngina').is(':checked') ? 'Y' : 'N')
            + '&MrdQueArthritis_Gout=' + ($('#MrdQueArthritis_Gout').is(':checked') ? 'Y' : 'N')
            + '&MrdQueArtificialHeartValve=' + ($('#MrdQueArtificialHeartValve').is(':checked') ? 'Y' : 'N')
            + '&MrdQueArtificialJoint=' + ($('#MrdQueArtificialJoint').is(':checked') ? 'Y' : 'N')
            + '&MrdQueAsthma=' + ($('#MrdQueAsthma').is(':checked') ? 'Y' : 'N')
           + '&MrdQueBloodDisease=' + ($('#MrdQueBloodDisease').is(':checked') ? 'Y' : 'N')
            + '&MrdQueBloodTransfusion=' + ($('#MrdQueBloodTransfusion').is(':checked') ? 'Y' : 'N')
           + '&MrdQueBreathing=' + ($('#MrdQueBreathing').is(':checked') ? 'Y' : 'N')
            + '&MrdQueBruise=' + ($('#MrdQueBruise').is(':checked') ? 'Y' : 'N')
            + '&MrdQueCancer=' + ($('#MrdQueCancer').is(':checked') ? 'Y' : 'N')
            + '&MrdQueChemotherapy=' + ($('#MrdQueChemotherapy').is(':checked') ? 'Y' : 'N')
            + '&MrdQueChest=' + ($('#MrdQueChest').is(':checked') ? 'Y' : 'N')
            + '&MrdQueCold_Sores_Fever=' + ($('#MrdQueCold_Sores_Fever').is(':checked') ? 'Y' : 'N')
           + '&MrdQueCongenital=' + ($('#MrdQueCongenital').is(':checked') ? 'Y' : 'N')
            + '&MrdQueConvulsions=' + ($('#MrdQueConvulsions').is(':checked') ? 'Y' : 'N')
           + '&MrdQueCortisone=' + ($('#MrdQueCortisone').is(':checked') ? 'Y' : 'N')
            + '&MrdQueDiabetes=' + ($('#MrdQueDiabetes').is(':checked') ? 'Y' : 'N')
            + '&MrdQueDrug=' + ($('#MrdQueDrug').is(':checked') ? 'Y' : 'N')
            + '&MrdQueEasily=' + ($('#MrdQueEasily').is(':checked') ? 'Y' : 'N')
           + '&MrdQueEmphysema=' + ($('#MrdQueEmphysema').is(':checked') ? 'Y' : 'N')
            + '&MrdQueEpilepsy=' + ($('#MrdQueEpilepsy').is(':checked') ? 'Y' : 'N')
            + '&MrdQueExcessiveBleeding=' + ($('#MrdQueExcessiveBleeding').is(':checked') ? 'Y' : 'N')
            + '&MrdQueExcessiveThirst=' + ($('#MrdQueExcessiveThirst').is(':checked') ? 'Y' : 'N')
            + '&MrdQueFainting=' + ($('#MrdQueFainting').is(':checked') ? 'Y' : 'N')
           + '&MrdQueFrequentCough=' + ($('#MrdQueFrequentCough').is(':checked') ? 'Y' : 'N')
           + '&MrdQueFrequentDiarrhea=' + ($('#MrdQueFrequentDiarrhea').is(':checked') ? 'Y' : 'N')
           + '&MrdQueFrequentHeadaches=' + ($('#MrdQueFrequentHeadaches').is(':checked') ? 'Y' : 'N')
           + '&MrdQueGenital=' + ($('#MrdQueGenital').is(':checked') ? 'Y' : 'N')
           + '&MrdQueGlaucoma=' + ($('#MrdQueGlaucoma').is(':checked') ? 'Y' : 'N')
           + '&MrdQueHay=' + ($('#MrdQueHay').is(':checked') ? 'Y' : 'N')
           + '&MrdQueHeartAttack_Failure=' + ($('#MrdQueHeartAttack_Failure').is(':checked') ? 'Y' : 'N')
            + '&MrdQueHeartMurmur=' + ($('#MrdQueHeartMurmur').is(':checked') ? 'Y' : 'N')
           + '&MrdQueHeartPacemaker=' + ($('#MrdQueHeartPacemaker').is(':checked') ? 'Y' : 'N')
           + '&MrdQueHeartTrouble_Disease=' + ($('#MrdQueHeartTrouble_Disease').is(':checked') ? 'Y' : 'N')
           + '&MrdQueHemophilia=' + ($('#MrdQueHemophilia').is(':checked') ? 'Y' : 'N')
           + '&MrdQueHepatitisA=' + ($('#MrdQueHepatitisA').is(':checked') ? 'Y' : 'N')
           + '&MrdQueHepatitisBorC=' + ($('#MrdQueHepatitisBorC').is(':checked') ? 'Y' : 'N')
           + '&MrdQueHerpes=' + ($('#MrdQueHerpes').is(':checked') ? 'Y' : 'N')
            + '&MrdQueHighBloodPressure=' + ($('#MrdQueHighBloodPressure').is(':checked') ? 'Y' : 'N')
           + '&MrdQueHighCholesterol=' + ($('#MrdQueHighCholesterol').is(':checked') ? 'Y' : 'N')
           + '&MrdQueHives=' + ($('#MrdQueHives').is(':checked') ? 'Y' : 'N')
           + '&MrdQueHypoglycemia=' + ($('#MrdQueHypoglycemia').is(':checked') ? 'Y' : 'N')
           + '&MrdQueIrregular=' + ($('#MrdQueIrregular').is(':checked') ? 'Y' : 'N')
           + '&MrdQueKidney=' + ($('#MrdQueKidney').is(':checked') ? 'Y' : 'N')
           + '&MrdQueLeukemia=' + ($('#MrdQueLeukemia').is(':checked') ? 'Y' : 'N')
           + '&MrdQueLiver=' + ($('#MrdQueLiver').is(':checked') ? 'Y' : 'N')
           + '&MrdQueLow=' + ($('#MrdQueLow').is(':checked') ? 'Y' : 'N')
            + '&MrdQueLung=' + ($('#MrdQueLung').is(':checked') ? 'Y' : 'N')
           + '&MrdQueMitral=' + ($('#MrdQueMitral').is(':checked') ? 'Y' : 'N')
           + '&MrdQueOsteoporosis=' + ($('#MrdQueOsteoporosis').is(':checked') ? 'Y' : 'N')
           + '&MrdQuePain=' + ($('#MrdQuePain').is(':checked') ? 'Y' : 'N')
           + '&MrdQueParathyroid=' + ($('#MrdQueParathyroid').is(':checked') ? 'Y' : 'N')
           + '&MrdQuePsychiatric=' + ($('#MrdQuePsychiatric').is(':checked') ? 'Y' : 'N')
           + '&MrdQueRadiation=' + ($('#MrdQueRadiation').is(':checked') ? 'Y' : 'N')
           + '&MrdQueRecent=' + ($('#MrdQueRecent').is(':checked') ? 'Y' : 'N')
           + '&MrdQueRenal=' + ($('#MrdQueRenal').is(':checked') ? 'Y' : 'N')
           + '&MrdQueRheumatic=' + ($('#MrdQueRheumatic').is(':checked') ? 'Y' : 'N')
           + '&MrdQueRheumatism=' + ($('#MrdQueRheumatism').is(':checked') ? 'Y' : 'N')
           + '&MrdQueScarlet=' + ($('#MrdQueScarlet').is(':checked') ? 'Y' : 'N')
           + '&MrdQueShingles=' + ($('#MrdQueShingles').is(':checked') ? 'Y' : 'N')
           + '&MrdQueSickle=' + ($('#MrdQueSickle').is(':checked') ? 'Y' : 'N')
           + '&MrdQueSinus=' + ($('#MrdQueSinus').is(':checked') ? 'Y' : 'N')
           + '&MrdQueSpina=' + ($('#MrdQueSpina').is(':checked') ? 'Y' : 'N')
           + '&MrdQueStomach=' + ($('#MrdQueStomach').is(':checked') ? 'Y' : 'N')
           + '&MrdQueStroke=' + ($('#MrdQueStroke').is(':checked') ? 'Y' : 'N')
           + '&MrdQueSwelling=' + ($('#MrdQueSwelling').is(':checked') ? 'Y' : 'N')
           + '&MrdQueThyroid=' + ($('#MrdQueThyroid').is(':checked') ? 'Y' : 'N')
           + '&MrdQueTonsillitis=' + ($('#MrdQueTonsillitis').is(':checked') ? 'Y' : 'N')
           + '&MrdQueTuberculosis=' + ($('#MrdQueTuberculosis').is(':checked') ? 'Y' : 'N')
           + '&MrdQueTumors=' + ($('#MrdQueTumors').is(':checked') ? 'Y' : 'N')
           + '&MrdQueUlcers=' + ($('#MrdQueUlcers').is(':checked') ? 'Y' : 'N')
           + '&MrdQueVenereal=' + ($('#MrdQueVenereal').is(':checked') ? 'Y' : 'N')
           + '&MrdQueYellow=' + ($('#MrdQueYellow').is(':checked') ? 'Y' : 'N')
         + '&Mtxtillness=' + $('#Mtxtillness').val()
         + '&MtxtComments=' + $('#MtxtComments').val()




            + '',
            type: 'POST',
            dataType: 'html',
            contenttype: "application/x-www-form-urlencoded",
            cache: false,
            ProcessData: false,
            success: function
                           (output, status, xhr) {
                $('#Message').html('Medical History Form Updated Successfully');
                $('#Message').delay(300).slideDown(300).delay(2000).slideUp(300);

                var n = window.location.toString().indexOf('medicalhistoryform');

                if (n > 0) {

                    $(window).scrollTop(0);

                }
                else {
                    messagebox('5');
                }

                $("#divLoading").hide();
            },
            error: function (xhr) {


                if (typeof (console) != 'undefined') {
                    // console.log(xhr.responseText);
                }
            }
        });

    });
    function MrdQue1(ctrl, pnl, txt) {

        if ($('#' + ctrl).is(':checked') == true) {
            document.getElementById(pnl).style.display = '';
        }
        else {
            document.getElementById(pnl).style.display = 'none';
            document.getElementById(txt).value = '';

        }
    }




</script>
