﻿@using DentalFiles.App_Start
<div id="tab-container_2" class="tab-container" style="display: none;">
    <h2>
        NOTICE OF PRIVACY</h2>
    <div class='panel-container'>
        <div id="NoticePrivacy">
            <div class="notice_data">
                <p>
                    This notice describes how health information about you may be used and disclosed
                    <br>
                    and how you can get access to this information.<br>
                    View and review carefully.
                    <br>
                    The privacy of your health information is important to us.</p>
                <p>
                    <a href="/PrivacyPolicy" target="_blank">Click here to view Privacy Policy.</a></p>
            </div>
        </div>
        <div align="center">
            <p align="center">
                <input type="submit" style="float: none;" class="button_2" onclick="messagebox(9)" />
            </p>
        </div>
        <div class="clear">
        </div>
    </div>
</div>
