﻿@model DentalFiles.Models.ViewModel.DentalFormsMaster
<div id="tab-container_8" class='tab-container' style="display: none;">
    <div class="left_panel_head">
        <h2 class="form_heading">
            Review
        </h2>
    </div>
    <div class="right_panel_head">
        <div class="skip_step">
            

                <a id="askp" onclick="skipreview()">Skip Step</a></div>
    </div>
    <div class="clear">
    </div>
    <div class='panel-container' id="dvreview">
        
            <div id="Review">
            @foreach (var item in Model.Review)
            {
                if (@item.FormName != null && @item.FormName != "" && @item.FormName != "Acknowledgement")
                {
                <ul id="form_info">
                    <li>
                        @if (@item.FormName == "Registration")
                        {
                        @Html.Label("Detailed Info")
                        }
                        else
                        {
                            

                            @Html.Label(@item.FormName)}
                    </li>
                </ul>
                <ul id="form_info" class="information_panel review_panel">
                    <li>
                        <label>
                            Date</label><span>
                               @if (@item.ModifiedDate != null && @item.ModifiedDate != "")
                               {
                                    <label id="ModifiedDate"  >
                                    @item.ModifiedDate
                                    </label>
                                    
                               }
                            </span></li>
                    <li>
                        <label>
                            Options
                        </label>
                        <span><a onclick="@item.Clickid">Review & Edit</a> </span></li>
                  
                </ul>
                }
            }
            </div>
            <div class="center_button">
                <div class="container">
                    <div style="float: left; margin-left: 40px; margin-right: 40px; display: block;"
                        id="reviewclickbutton">
                        <input type="submit" id="btnreview" value="My Information is correct and I would like to complete Registration"
                            causesvalidation="true" validationgroup="btnreview" class="button_4" />
                    </div>
                    <div class="clear">
                    </div>
                </div>
            </div>
            <div class="clear">
            </div>
        
    </div>

@*<script type="text/javascript">

    $("#btnreview").click(function () {
        $(window).scrollTop(0);

        document.getElementById('dvreview').style.display = 'none';
        $('#Message').html('Thank You For Registration');
        $('#Message').delay(300).slideDown(300).delay(2000).slideUp(300);
        setTimeout(function () {
            messagebox(1);
        }, 3000);
        

    });


    function skipreview() {
        $(window).scrollTop(0);
        document.getElementById('Review').style.display = 'none';
        document.getElementById('askp').style.display = 'none';
        
        

    }
</script>*@
