﻿@model DentalFiles.Models.ViewModel.DentalFormsMaster
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MedicalHistoryUpdate</title>
    <script type="text/javascript" src="//www.baw5tracker.com/js/60398.js"></script>
    <noscript><img src="//www.baw5tracker.com/60398.png" style="display:none;" alt="baw5tracker"/></noscript>
    <link rel="stylesheet" href="/Dentalcss/style.css" type="text/css" media="screen">
    <link rel="icon" href="/DentalImages/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/DentalImages/favicon.ico" type="image/x-icon" />
    <link href="/Dentalcss/jquery.selectbox.css" type="text/css" rel="stylesheet" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <link rel="stylesheet" href="/Dentalcss/style.css" type="text/css" media="screen">
    <script src="/Dentaljs/jquery-1.8.3.min.js"></script>
</head>
<body onload="window.print();">
    <div>
        @foreach (var item in Model.MedicalHISTORYUpdate)
        {
            <div id="tab-container_7" class='tab-container'>
                <div class="panel-container">
                    <div class="left_panel_head">
                        <h2>
                            Medical History Update</h2>
                    </div>
                    <div id="MedicalHistoryUpdate">
                        <ul id="form_info">
                            <p>
                                <b style="font-size: 12px;">If you are a current patient. Please update us with any
                                    changes in your medical history from your last visit.</b>
                            </p>
                            <li>
                                <label>
                                    Comments
                                </label>
                            @Html.Label(": "+ @item.txt1b)
                        </ul>
                        <ul id="form_info">
                            <li>
                                <label width="35%">
                                    Digital Signature</label>
                                @Html.Label(": "+ @item.txtDigiSignhistoryupdate    )
                                <li>
                                    <label width="35%">
                                    </label>
                                </li>
                        </ul>
                        <div class="clear">
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <span id="siteseal">
    <script type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=F34USZbK0ZJXklg4iUVnDdiuqxNIsXp8lcoNVeU36D7SHiwi3v"></script></span>
</body>
</html>
