﻿.Loaddiv {
     
    padding: 0px;
    position: fixed;
    right: 0px; 
    width: 100%;
    height: 100%;
    background-color: White;
    z-index: 30001;
    opacity: 0.5;
    filter: alpha(opacity=70);
    display: none;
    text-align:center; 

}