﻿@model DentalFiles.Models.ViewModel.ViewReferralMaster
@{
    ViewBag.Title = "View Referral";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}
<h2 class="title">
    View Referral</h2>
<!-- Treating docs starts here -->
<div id="steps_panel">
    <input name="hdnfeild" type="hidden" id="hdnfeild" />
    <input name="hdnremove" type="hidden" id="hdnremove" />
    <div id="step">
        <fieldset>
            @foreach (var item in Model.ViewReferral)
            {
                <h2 class="heading">
                    Doctor Details</h2>
                <div class="checkbox_listing">
                    Referred By : @item.FromField
                    <br />
                    Referred To : @item.ToField
                    <br />
                    Referral Sent Date : @item.CreationDate
                </div>

            }
            <center>
                <h2 class="heading">
                    Regarding</h2>
                <div class="checkbox_listing">
                    <ul>
                        @foreach (var regardling in ViewBag.regardlinglist)
                        { 
                            <li>
                                @regardling
                            </li>
                    
                        }
                    </ul>
                </div>
                <div class="clear">
                </div>
                <h2 class="heading">
                    Request</h2>
                <div class="checkbox_listing">
                    <ul>
                        @foreach (var requesting in ViewBag.requestinglist)
                        { 
                            <li>
                                @requesting
                            </li>
                    
                        }
                    </ul>
                </div>
                <div class="clear">
                </div>
                <h2 class="heading">
                    Visual <span>Instructions</span></h2>
                <h3 class="heading p18">
                    Select the tooth or teeth that indicates the area of concern.
                </h3>
                <div class="left_teeth_panel">
                    <div class="heading_teeth">
                        Permanent teeth</div>
                    <div class="clear">
                    </div>
                    <div class="right_teeth">
                        <p>
                            Right</p>
                        <div class="clear">
                        </div>
                        <div class="teeth_list">
                            <div class="deactive_img" style="background-image: url(@ViewBag.div1);" id="div1" >
                                <a id="a1">1</a></div>
                            <div class="deactive_img" id="div2" style="background-image: url(@ViewBag.div2);">
                                <a id="a2">2</a></div>
                            <div class="deactive_img" id="div3" style="background-image: url(@ViewBag.div3);">
                                <a id="a3">3</a></div>
                            <div class="deactive_img" id="div4"  style="background-image: url(@ViewBag.div4);">
                                <a id="a4">4</a></div>
                            <div class="deactive_img" id="div5" style="background-image: url(@ViewBag.div5);">
                                <a id="a5">5</a></div>
                            <div class="deactive_img" style="background-image: url(@ViewBag.div6);" id="div6" >
                                <a id="a6">6</a></div>
                            <div class="deactive_img" id="div7" style="background-image: url(@ViewBag.div7);">
                                <a id="a7">7</a></div>
                            <div class="deactive_img" id="div8" style="background-image: url(@ViewBag.div8);">
                                <a id="a8">8</a></div>
                        </div>
                        <div class="teeth_list">
                            <div class="deactive_img" id="div17" style="background-image: url(@ViewBag.div17);">
                                <a id="a17">17</a></div>
                            <div class="deactive_img" id="div18" style="background-image: url(@ViewBag.div18);">
                                <a id="a18">18</a></div>
                            <div class="deactive_img" id="div19" style="background-image: url(@ViewBag.div19);">
                                <a id="a19">19</a></div>
                            <div class="deactive_img" id="div20" style="background-image: url(@ViewBag.div20);">
                                <a id="a20">20</a></div>
                            <div class="deactive_img" id="div21" style="background-image: url(@ViewBag.div21);">
                                <a id="a21">21</a></div>
                            <div class="deactive_img" id="div22" style="background-image: url(@ViewBag.div22);">
                                <a id="a22">22</a></div>
                            <div class="deactive_img" id="div23" style="background-image: url(@ViewBag.div23);">
                                <a id="a23">23</a></div>
                            <div class="deactive_img" id="div24" style="background-image: url(@ViewBag.div24);">
                                <a id="a24">24</a></div>
                        </div>
                    </div>
                    <div class="left_teeth">
                        <p>
                            Left</p>
                        <div class="clear">
                        </div>
                        <div class="teeth_list">
                            <div class="deactive_img" id="div9" style="background-image: url(@ViewBag.div9);">
                                <a id="a9">9</a></div>
                            <div class="deactive_img" id="div10" style="background-image: url(@ViewBag.div10);">
                                <a id="a10">10</a></div>
                            <div class="deactive_img" id="div11" style="background-image: url(@ViewBag.div11);">
                                <a id="a11">11</a></div>
                            <div class="deactive_img" id="div12" style="background-image: url(@ViewBag.div12);">
                                <a id="a12">12</a></div>
                            <div class="deactive_img" id="div13" style="background-image: url(@ViewBag.div13);">
                                <a id="a13">13</a></div>
                            <div class="deactive_img" id="div14" style="background-image: url(@ViewBag.div14);">
                                <a id="a14">14</a></div>
                            <div class="deactive_img" id="div15" style="background-image: url(@ViewBag.div15);">
                                <a id="a15">15</a></div>
                            <div class="deactive_img" id="div16" style="background-image: url(@ViewBag.div16);">
                                <a id="a16">16</a></div>
                        </div>
                        <div class="teeth_list">
                            <div class="deactive_img" id="div25" style="background-image: url(@ViewBag.div25);">
                                <a id="a25">25</a></div>
                            <div class="deactive_img" id="div26" style="background-image: url(@ViewBag.div26);">
                                <a id="a26">26</a></div>
                            <div class="deactive_img" id="div27" style="background-image: url(@ViewBag.div27);">
                                <a id="a27">27</a></div>
                            <div class="deactive_img" id="div28" style="background-image: url(@ViewBag.div28);">
                                <a id="a28">28</a></div>
                            <div class="deactive_img" id="div29" style="background-image: url(@ViewBag.div29);">
                                <a id="a29">29</a></div>
                            <div class="deactive_img" id="div30" style="background-image: url(@ViewBag.div30);">
                                <a id="a30">30</a></div>
                            <div class="deactive_img" id="div31" style="background-image: url(@ViewBag.div31);">
                                <a id="a31">31</a></div>
                            <div class="deactive_img" id="div32" style="background-image: url(@ViewBag.div32);">
                                <a id="a32">32</a></div>
                        </div>
                    </div>
                </div>
                <div class="right_teeth_panel">
                    <div class="heading_teeth">
                        Primary teeth</div>
                    <div class="clear">
                    </div>
                    <div class="right_teeth">
                        <p>
                            Right</p>
                        <div class="clear">
                        </div>
                        <div class="teeth_list">
                            <div class="deactive_img" id="divA" style="background-image: url(@ViewBag.div33);">
                                <a id="aA">A</a></div>
                            <div class="deactive_img" id="divB" style="background-image: url(@ViewBag.div34);">
                                <a id="aB">B</a></div>
                            <div class="deactive_img" id="divC" style="background-image: url(@ViewBag.div35);">
                                <a id="aC">C</a></div>
                            <div class="deactive_img" id="divD" style="background-image: url(@ViewBag.div36);">
                                <a id="aD">D</a></div>
                            <div class="deactive_img" id="divE" style="background-image: url(@ViewBag.div37);">
                                <a id="aE">E</a></div>
                        </div>
                        <div class="teeth_list">
                            <div class="deactive_img" id="divT" style="background-image: url(@ViewBag.div52);">
                                <a id="aT">T</a></div>
                            <div class="deactive_img" id="divS" style="background-image: url(@ViewBag.div51);">
                                <a id="aS">S</a></div>
                            <div class="deactive_img" id="divR" style="background-image: url(@ViewBag.div50);">
                                <a id="aR">R</a></div>
                            <div class="deactive_img" id="divQ" style="background-image: url(@ViewBag.div49);">
                                <a id="aQ">Q</a></div>
                            <div class="deactive_img" id="divP" style="background-image: url(@ViewBag.div48);">
                                <a id="aP">P</a></div>
                        </div>
                    </div>
                    <div class="left_teeth">
                        <p>
                            Left</p>
                        <div class="clear">
                        </div>
                        <div class="teeth_list">
                            <div class="deactive_img" id="divF" style="background-image: url(@ViewBag.div38);">
                                <a id="aF">F</a></div>
                            <div class="deactive_img" id="divG" style="background-image: url(@ViewBag.div39);">
                                <a id="aG">G</a></div>
                            <div class="deactive_img" id="divH" style="background-image: url(@ViewBag.div40);">
                                <a id="aH">H</a></div>
                            <div class="deactive_img" id="divI" style="background-image: url(@ViewBag.div41);">
                                <a id="aI">I</a></div>
                            <div class="deactive_img" id="divJ" style="background-image: url(@ViewBag.div42);">
                                <a id="aJ">J</a></div>
                        </div>
                        <div class="teeth_list">
                            <div class="deactive_img" id="divO" style="background-image: url(@ViewBag.div47);">
                                <a id="aO">O</a></div>
                            <div class="deactive_img" id="divN" style="background-image: url(@ViewBag.div46);">
                                <a id="aN">N</a></div>
                            <div class="deactive_img" id="divM" style="background-image: url(@ViewBag.div45);">
                                <a id="aM">M</a></div>
                            <div class="deactive_img" id="divL" style="background-image: url(@ViewBag.div44);">
                                <a id="aL">L</a></div>
                            <div class="deactive_img" id="divK" style="background-image: url(@ViewBag.div43);">
                                <a id="aK">K</a></div>
                        </div>
                    </div>
                </div>
                <div class="clear">
                </div>
                <h2 class="heading">
                    Dental<span> Files</span></h2>
                <div class="checkbox_listing dental_list" style="width: 101%">
                    <ul>
                        @if (Model.PatientUploadedImages != null && Model.PatientUploadedImages.Count > 0)
                        {
                            foreach (var item in Model.PatientUploadedImages)
                            { 
                   
                            <li>
                                <div class="thumb">
                                    <img src="@item.RelativePath" alt="Upload Images" ></div>
                            </li>
                
                
                            }
                        }
                    </ul>
                </div>
                <div class="clear">
                </div>
                <h2 class="heading">
                    Comments</h2>
                <div class="clear">
                </div>
            </center>
            <ul class="comments">
                <li class="textarea_input">
                    @ViewBag.lblcomments
                </li>
            </ul>
            <center>
                <div class="clear">
                </div>
                <h2 class="heading">
                    Notes to this referral</h2>
                <div class="clear">
                </div>
            </center>
            <ul class="comments">
                @foreach (var notes in Model.Notes)
                {
                    <li>
                        @notes.ColleagueFullName : @notes.PatientNotes
                        <br />
                        @notes.CreatedDate
                        <hr />
                    </li>
                }
            </ul>
        </fieldset>
    </div>
    <div class="clear">
    </div>
</div>
<!-- Treating docs ends here -->
