﻿@model List<ScoreCard.Models.IndividualSummary>
@{
    ViewBag.Title = "Individual Practice Statistics";
    Layout = "~/Views/Shared/_Master_Layout.cshtml";
}

<script>
     $(document).ready(function () {
        document.getElementById('ddlYear').value = "@ViewBag.Year";
        @*ocument.getElementById("ddlYear").selectedIndex = '@Model.Where().Year';*@
        @*$("#ddlYear").val("@Model.Where().Year").change();*@

         $("#btnPrintout").click(function () {
             window.print();
         });
    });
    function SearchGoals() {
        if ($("#ddlYear").val() == "") {
            alert("Kindly select a Year.");
            return false;
        }
        var urL = location.href;
        location.href = urL.split('?')[0] + "?year=" + $("#ddlYear").val();
    }
    $(function () {
        $("#btnSubmit").click(function () {
            $("input[name='GridHtml']").val($("#Grid").html());
        });
    });

    
</script>

@using (Html.BeginForm("Export", "ReportTool", FormMethod.Post, new { @class = "form-inline float-right" }))
{
<div class="row" style="margin:-1% 0 0.3% 0">
    <div class="col-md-6">
        <div style="padding-top:5px" class="text-left">
            @*<label style="font-family:Calibri;font-weight:bold;font-size:12px">Individual Reports</label>*@
            <div class="inner-menu reports_details">
                <h3 class="inline">Individual Reports</h3>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="" style="padding-top:10px">
            <select class="form-control" id="ddlYear">
                <option value="">Please select the Year for Search</option>
                <option value="2016">2016</option>
                <option value="2017">2017</option>
                <option value="2018">2018</option>
                <option value="2019">2019</option>
            </select>
        </div>
    </div>
    <div class="col-md-2 text-right" style="padding-top:10px">
        <button type="button" class="btn btn-primary mb-2" onclick="SearchGoals();">Search</button>
        <input type="hidden" name="GridHtml" />
        <button type="submit" class="btn btn-info mb-2" id="btnSubmit">Excel</button>
        @*<button type="button" class="btn btn-info mb-2" id="btnPrintout">Print</button>*@
    </div>
</div>
}

<div class="table-responsive" id="Grid">
    <table class="table table3 filtered-table table table-striped table-dark">
        <thead>
            <tr>
                <th>Monthly Individual Practice Report</th>
                <th>January</th>
                <th>February</th>
                <th>March</th>
                <th>April</th>
                <th>May</th>
                <th>June</th>
                <th>July</th>
                <th>August</th>
                <th>September</th>
                <th>October</th>
                <th>November</th>
                <th>December</th>
                <th>Year Avg.</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Office Overall </td>
                <td>Goal</td>
                <td>MFDO</td>
                <td> MFDO </td>
                <td>MFDO</td>
                <td>MFDO</td>
                <td>MFDO</td>
                <td></td>
                <td>MFDO</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Gross Production  </td>
                <td>@Model.Where(x => x.Month == 1).FirstOrDefault().GrossProduction</td>
                <td>@Model.Where(x => x.Month == 2).FirstOrDefault().GrossProduction</td>
                <td>@Model.Where(x => x.Month == 3).FirstOrDefault().GrossProduction</td>
                <td>@Model.Where(x => x.Month == 4).FirstOrDefault().GrossProduction</td>
                <td>@Model.Where(x => x.Month == 5).FirstOrDefault().GrossProduction</td>
                <td>@Model.Where(x => x.Month == 6).FirstOrDefault().GrossProduction</td>
                <td>@Model.Where(x => x.Month == 7).FirstOrDefault().GrossProduction</td>
                <td>@Model.Where(x => x.Month == 8).FirstOrDefault().GrossProduction</td>
                <td>@Model.Where(x => x.Month == 9).FirstOrDefault().GrossProduction</td>
                <td>@Model.Where(x => x.Month == 10).FirstOrDefault().GrossProduction</td>
                <td>@Model.Where(x => x.Month == 11).FirstOrDefault().GrossProduction</td>
                <td>@Model.Where(x => x.Month == 12).FirstOrDefault().GrossProduction</td>
                <td>@Math.Round(Model.Average(x => x.GrossProduction)) </td>

            </tr>
            <tr>

                <td> Ortho Production</td>
                <td>@Model.Where(x => x.Month == 1).FirstOrDefault().OrthoProduction</td>
                <td>@Model.Where(x => x.Month == 2).FirstOrDefault().OrthoProduction</td>
                <td>@Model.Where(x => x.Month == 3).FirstOrDefault().OrthoProduction</td>
                <td>@Model.Where(x => x.Month == 4).FirstOrDefault().OrthoProduction</td>
                <td>@Model.Where(x => x.Month == 5).FirstOrDefault().OrthoProduction</td>
                <td>@Model.Where(x => x.Month == 6).FirstOrDefault().OrthoProduction</td>
                <td>@Model.Where(x => x.Month == 7).FirstOrDefault().OrthoProduction</td>
                <td>@Model.Where(x => x.Month == 8).FirstOrDefault().OrthoProduction</td>
                <td>@Model.Where(x => x.Month == 9).FirstOrDefault().OrthoProduction</td>
                <td>@Model.Where(x => x.Month == 10).FirstOrDefault().OrthoProduction</td>
                <td>@Model.Where(x => x.Month == 11).FirstOrDefault().OrthoProduction</td>
                <td>@Model.Where(x => x.Month == 12).FirstOrDefault().OrthoProduction</td>
                <td>@Math.Round(Model.Average(x => x.OrthoProduction)) </td>


            </tr>
            <tr>

                <td>Adjustments</td>
                <td>@Model.Where(x => x.Month == 1).FirstOrDefault().Adjustments</td>
                <td>@Model.Where(x => x.Month == 2).FirstOrDefault().Adjustments</td>
                <td>@Model.Where(x => x.Month == 3).FirstOrDefault().Adjustments</td>
                <td>@Model.Where(x => x.Month == 4).FirstOrDefault().Adjustments</td>
                <td>@Model.Where(x => x.Month == 5).FirstOrDefault().Adjustments</td>
                <td>@Model.Where(x => x.Month == 6).FirstOrDefault().Adjustments</td>
                <td>@Model.Where(x => x.Month == 7).FirstOrDefault().Adjustments</td>
                <td>@Model.Where(x => x.Month == 8).FirstOrDefault().Adjustments</td>
                <td>@Model.Where(x => x.Month == 9).FirstOrDefault().Adjustments</td>
                <td>@Model.Where(x => x.Month == 10).FirstOrDefault().Adjustments</td>
                <td>@Model.Where(x => x.Month == 11).FirstOrDefault().Adjustments</td>
                <td>@Model.Where(x => x.Month == 12).FirstOrDefault().Adjustments</td>
                <td>@Math.Round(Model.Average(x => x.Adjustments)) </td>


            </tr>
            <tr>
                <td>Adjustment %</td>
                <td>@Model.Where(x => x.Month == 1).FirstOrDefault().AdjustmentPer</td>
                <td>@Model.Where(x => x.Month == 2).FirstOrDefault().AdjustmentPer</td>
                <td>@Model.Where(x => x.Month == 3).FirstOrDefault().AdjustmentPer</td>
                <td>@Model.Where(x => x.Month == 4).FirstOrDefault().AdjustmentPer</td>
                <td>@Model.Where(x => x.Month == 5).FirstOrDefault().AdjustmentPer</td>
                <td>@Model.Where(x => x.Month == 6).FirstOrDefault().AdjustmentPer</td>
                <td>@Model.Where(x => x.Month == 7).FirstOrDefault().AdjustmentPer</td>
                <td>@Model.Where(x => x.Month == 8).FirstOrDefault().AdjustmentPer</td>
                <td>@Model.Where(x => x.Month == 9).FirstOrDefault().AdjustmentPer</td>
                <td>@Model.Where(x => x.Month == 10).FirstOrDefault().AdjustmentPer</td>
                <td>@Model.Where(x => x.Month == 11).FirstOrDefault().AdjustmentPer</td>
                <td>@Model.Where(x => x.Month == 12).FirstOrDefault().AdjustmentPer</td>
                <td>@Math.Round(Model.Average(x => x.AdjustmentPer)) </td>

            </tr>
            <tr>


                <td>Net Production </td>
                <td>@Model.Where(x => x.Month == 1).FirstOrDefault().NetProduction</td>
                <td>@Model.Where(x => x.Month == 2).FirstOrDefault().NetProduction</td>
                <td>@Model.Where(x => x.Month == 3).FirstOrDefault().NetProduction</td>
                <td>@Model.Where(x => x.Month == 4).FirstOrDefault().NetProduction</td>
                <td>@Model.Where(x => x.Month == 5).FirstOrDefault().NetProduction</td>
                <td>@Model.Where(x => x.Month == 6).FirstOrDefault().NetProduction</td>
                <td>@Model.Where(x => x.Month == 7).FirstOrDefault().NetProduction</td>
                <td>@Model.Where(x => x.Month == 8).FirstOrDefault().NetProduction</td>
                <td>@Model.Where(x => x.Month == 9).FirstOrDefault().NetProduction</td>
                <td>@Model.Where(x => x.Month == 10).FirstOrDefault().NetProduction</td>
                <td>@Model.Where(x => x.Month == 11).FirstOrDefault().NetProduction</td>
                <td>@Model.Where(x => x.Month == 12).FirstOrDefault().NetProduction</td>
                <td>@Math.Round(Model.Average(x => x.NetProduction)) </td>


            </tr>
            <tr>
                <td># Days</td>
                <td>0</td>
                <td>0 </td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0 </td>
                <td>0</td>
                <td>0</td>
                <td>0</td>

            </tr>
            <tr>

                <td>Net Production/Day</td>
                <td>@Model.Where(x => x.Month == 1).FirstOrDefault().NetProductionPerDay</td>
                <td>@Model.Where(x => x.Month == 2).FirstOrDefault().NetProductionPerDay</td>
                <td>@Model.Where(x => x.Month == 3).FirstOrDefault().NetProductionPerDay</td>
                <td>@Model.Where(x => x.Month == 4).FirstOrDefault().NetProductionPerDay</td>
                <td>@Model.Where(x => x.Month == 5).FirstOrDefault().NetProductionPerDay</td>
                <td>@Model.Where(x => x.Month == 6).FirstOrDefault().NetProductionPerDay</td>
                <td>@Model.Where(x => x.Month == 7).FirstOrDefault().NetProductionPerDay</td>
                <td>@Model.Where(x => x.Month == 8).FirstOrDefault().NetProductionPerDay</td>
                <td>@Model.Where(x => x.Month == 9).FirstOrDefault().NetProductionPerDay</td>
                <td>@Model.Where(x => x.Month == 10).FirstOrDefault().NetProductionPerDay</td>
                <td>@Model.Where(x => x.Month == 11).FirstOrDefault().NetProductionPerDay</td>
                <td>@Model.Where(x => x.Month == 12).FirstOrDefault().NetProductionPerDay</td>
                <td>@Math.Round(Model.Average(x => x.NetProductionPerDay)) </td>


            </tr>
            <tr>


                <td>Collections</td>
                <td>@Model.Where(x => x.Month == 1).FirstOrDefault().Collections</td>
                <td>@Model.Where(x => x.Month == 2).FirstOrDefault().Collections</td>
                <td>@Model.Where(x => x.Month == 3).FirstOrDefault().Collections</td>
                <td>@Model.Where(x => x.Month == 4).FirstOrDefault().Collections</td>
                <td>@Model.Where(x => x.Month == 5).FirstOrDefault().Collections</td>
                <td>@Model.Where(x => x.Month == 6).FirstOrDefault().Collections</td>
                <td>@Model.Where(x => x.Month == 7).FirstOrDefault().Collections</td>
                <td>@Model.Where(x => x.Month == 8).FirstOrDefault().Collections</td>
                <td>@Model.Where(x => x.Month == 9).FirstOrDefault().Collections</td>
                <td>@Model.Where(x => x.Month == 10).FirstOrDefault().Collections</td>
                <td>@Model.Where(x => x.Month == 11).FirstOrDefault().Collections</td>
                <td>@Model.Where(x => x.Month == 12).FirstOrDefault().Collections</td>
                <td>@Math.Round(Model.Average(x => x.Collections)) </td>


            </tr>
            <tr>

                <td>Refunds/NSF</td>
                <td>@Model.Where(x => x.Month == 1).FirstOrDefault().RefundsNSF</td>
                <td>@Model.Where(x => x.Month == 2).FirstOrDefault().RefundsNSF</td>
                <td>@Model.Where(x => x.Month == 3).FirstOrDefault().RefundsNSF</td>
                <td>@Model.Where(x => x.Month == 4).FirstOrDefault().RefundsNSF</td>
                <td>@Model.Where(x => x.Month == 5).FirstOrDefault().RefundsNSF</td>
                <td>@Model.Where(x => x.Month == 6).FirstOrDefault().RefundsNSF</td>
                <td>@Model.Where(x => x.Month == 7).FirstOrDefault().RefundsNSF</td>
                <td>@Model.Where(x => x.Month == 8).FirstOrDefault().RefundsNSF</td>
                <td>@Model.Where(x => x.Month == 9).FirstOrDefault().RefundsNSF</td>
                <td>@Model.Where(x => x.Month == 10).FirstOrDefault().RefundsNSF</td>
                <td>@Model.Where(x => x.Month == 11).FirstOrDefault().RefundsNSF</td>
                <td>@Model.Where(x => x.Month == 12).FirstOrDefault().RefundsNSF</td>
                <td>@Math.Round(Model.Average(x => x.RefundsNSF)) </td>

            </tr>
            <tr>
                <td> Net Collections </td>
                <td>@Model.Where(x => x.Month == 1).FirstOrDefault().NetCollections</td>
                <td>@Model.Where(x => x.Month == 2).FirstOrDefault().NetCollections</td>
                <td>@Model.Where(x => x.Month == 3).FirstOrDefault().NetCollections</td>
                <td>@Model.Where(x => x.Month == 4).FirstOrDefault().NetCollections</td>
                <td>@Model.Where(x => x.Month == 5).FirstOrDefault().NetCollections</td>
                <td>@Model.Where(x => x.Month == 6).FirstOrDefault().NetCollections</td>
                <td>@Model.Where(x => x.Month == 7).FirstOrDefault().NetCollections</td>
                <td>@Model.Where(x => x.Month == 8).FirstOrDefault().NetCollections</td>
                <td>@Model.Where(x => x.Month == 9).FirstOrDefault().NetCollections</td>
                <td>@Model.Where(x => x.Month == 10).FirstOrDefault().NetCollections</td>
                <td>@Model.Where(x => x.Month == 11).FirstOrDefault().NetCollections</td>
                <td>@Model.Where(x => x.Month == 12).FirstOrDefault().NetCollections</td>
                <td>@Math.Round(Model.Average(x => x.NetCollections)) </td>


            </tr>
            <tr>
                <td>Ortho Collection</td>
                <td>@Model.Where(x => x.Month == 1).FirstOrDefault().OrthoCollection</td>
                <td>@Model.Where(x => x.Month == 2).FirstOrDefault().OrthoCollection</td>
                <td>@Model.Where(x => x.Month == 3).FirstOrDefault().OrthoCollection</td>
                <td>@Model.Where(x => x.Month == 4).FirstOrDefault().OrthoCollection</td>
                <td>@Model.Where(x => x.Month == 5).FirstOrDefault().OrthoCollection</td>
                <td>@Model.Where(x => x.Month == 6).FirstOrDefault().OrthoCollection</td>
                <td>@Model.Where(x => x.Month == 7).FirstOrDefault().OrthoCollection</td>
                <td>@Model.Where(x => x.Month == 8).FirstOrDefault().OrthoCollection</td>
                <td>@Model.Where(x => x.Month == 9).FirstOrDefault().OrthoCollection</td>
                <td>@Model.Where(x => x.Month == 10).FirstOrDefault().OrthoCollection</td>
                <td>@Model.Where(x => x.Month == 11).FirstOrDefault().OrthoCollection</td>
                <td>@Model.Where(x => x.Month == 12).FirstOrDefault().OrthoCollection</td>
                <td>@Math.Round(Model.Average(x => x.OrthoCollection)) </td>
            </tr>
            <tr>

                <td>Collection %</td>
                <td>@Model.Where(x => x.Month == 1).FirstOrDefault().CollectionPer</td>
                <td>@Model.Where(x => x.Month == 2).FirstOrDefault().CollectionPer</td>
                <td>@Model.Where(x => x.Month == 3).FirstOrDefault().CollectionPer</td>
                <td>@Model.Where(x => x.Month == 4).FirstOrDefault().CollectionPer</td>
                <td>@Model.Where(x => x.Month == 5).FirstOrDefault().CollectionPer</td>
                <td>@Model.Where(x => x.Month == 6).FirstOrDefault().CollectionPer</td>
                <td>@Model.Where(x => x.Month == 7).FirstOrDefault().CollectionPer</td>
                <td>@Model.Where(x => x.Month == 8).FirstOrDefault().CollectionPer</td>
                <td>@Model.Where(x => x.Month == 9).FirstOrDefault().CollectionPer</td>
                <td>@Model.Where(x => x.Month == 10).FirstOrDefault().CollectionPer</td>
                <td>@Model.Where(x => x.Month == 11).FirstOrDefault().CollectionPer</td>
                <td>@Model.Where(x => x.Month == 12).FirstOrDefault().CollectionPer</td>
                <td>@Math.Round(Model.Average(x => x.CollectionPer)) </td>


            </tr>

            <tr>
                <td>Total AR </td>
                <td>@Model.Where(x => x.Month == 1).FirstOrDefault().TotalAR</td>
                <td>@Model.Where(x => x.Month == 2).FirstOrDefault().TotalAR</td>
                <td>@Model.Where(x => x.Month == 3).FirstOrDefault().TotalAR</td>
                <td>@Model.Where(x => x.Month == 4).FirstOrDefault().TotalAR</td>
                <td>@Model.Where(x => x.Month == 5).FirstOrDefault().TotalAR</td>
                <td>@Model.Where(x => x.Month == 6).FirstOrDefault().TotalAR</td>
                <td>@Model.Where(x => x.Month == 7).FirstOrDefault().TotalAR</td>
                <td>@Model.Where(x => x.Month == 8).FirstOrDefault().TotalAR</td>
                <td>@Model.Where(x => x.Month == 9).FirstOrDefault().TotalAR</td>
                <td>@Model.Where(x => x.Month == 10).FirstOrDefault().TotalAR</td>
                <td>@Model.Where(x => x.Month == 11).FirstOrDefault().TotalAR</td>
                <td>@Model.Where(x => x.Month == 12).FirstOrDefault().TotalAR</td>
                <td>@Math.Round(Model.Average(x => x.TotalAR)) </td>


            </tr>
            <tr>

                <td> AR Ratio</td>
                <td>@Model.Where(x => x.Month == 1).FirstOrDefault().ARRatio</td>
                <td>@Model.Where(x => x.Month == 2).FirstOrDefault().ARRatio</td>
                <td>@Model.Where(x => x.Month == 3).FirstOrDefault().ARRatio</td>
                <td>@Model.Where(x => x.Month == 4).FirstOrDefault().ARRatio</td>
                <td>@Model.Where(x => x.Month == 5).FirstOrDefault().ARRatio</td>
                <td>@Model.Where(x => x.Month == 6).FirstOrDefault().ARRatio</td>
                <td>@Model.Where(x => x.Month == 7).FirstOrDefault().ARRatio</td>
                <td>@Model.Where(x => x.Month == 8).FirstOrDefault().ARRatio</td>
                <td>@Model.Where(x => x.Month == 9).FirstOrDefault().ARRatio</td>
                <td>@Model.Where(x => x.Month == 10).FirstOrDefault().ARRatio</td>
                <td>@Model.Where(x => x.Month == 11).FirstOrDefault().ARRatio</td>
                <td>@Model.Where(x => x.Month == 12).FirstOrDefault().ARRatio</td>
                <td>@Math.Round(Model.Average(x => x.ARRatio)) </td>


            </tr>
            <tr>

                <td>Ortho AR </td>
                <td>@Model.Where(x => x.Month == 1).FirstOrDefault().OrthoAR</td>
                <td>@Model.Where(x => x.Month == 2).FirstOrDefault().OrthoAR</td>
                <td>@Model.Where(x => x.Month == 3).FirstOrDefault().OrthoAR</td>
                <td>@Model.Where(x => x.Month == 4).FirstOrDefault().OrthoAR</td>
                <td>@Model.Where(x => x.Month == 5).FirstOrDefault().OrthoAR</td>
                <td>@Model.Where(x => x.Month == 6).FirstOrDefault().OrthoAR</td>
                <td>@Model.Where(x => x.Month == 7).FirstOrDefault().OrthoAR</td>
                <td>@Model.Where(x => x.Month == 8).FirstOrDefault().OrthoAR</td>
                <td>@Model.Where(x => x.Month == 9).FirstOrDefault().OrthoAR</td>
                <td>@Model.Where(x => x.Month == 10).FirstOrDefault().OrthoAR</td>
                <td>@Model.Where(x => x.Month == 11).FirstOrDefault().OrthoAR</td>
                <td>@Model.Where(x => x.Month == 12).FirstOrDefault().OrthoAR</td>
                <td>@Math.Round(Model.Average(x => x.OrthoAR)) </td>


            </tr>
            <tr>

                <td>Simple Pay AR</td>
                <td>@Model.Where(x => x.Month == 1).FirstOrDefault().SimplePayAR</td>
                <td>@Model.Where(x => x.Month == 2).FirstOrDefault().SimplePayAR</td>
                <td>@Model.Where(x => x.Month == 3).FirstOrDefault().SimplePayAR</td>
                <td>@Model.Where(x => x.Month == 4).FirstOrDefault().SimplePayAR</td>
                <td>@Model.Where(x => x.Month == 5).FirstOrDefault().SimplePayAR</td>
                <td>@Model.Where(x => x.Month == 6).FirstOrDefault().SimplePayAR</td>
                <td>@Model.Where(x => x.Month == 7).FirstOrDefault().SimplePayAR</td>
                <td>@Model.Where(x => x.Month == 8).FirstOrDefault().SimplePayAR</td>
                <td>@Model.Where(x => x.Month == 9).FirstOrDefault().SimplePayAR</td>
                <td>@Model.Where(x => x.Month == 10).FirstOrDefault().SimplePayAR</td>
                <td>@Model.Where(x => x.Month == 11).FirstOrDefault().SimplePayAR</td>
                <td>@Model.Where(x => x.Month == 12).FirstOrDefault().SimplePayAR</td>
                <td>@Math.Round(Model.Average(x => x.SimplePayAR)) </td>


            </tr>
            <tr>

                <td>AR Minus Ortho & Simplepay</td>
                <td>@Model.Where(x => x.Month == 1).FirstOrDefault().ARMinusOrthoSimplepay</td>
                <td>@Model.Where(x => x.Month == 2).FirstOrDefault().ARMinusOrthoSimplepay</td>
                <td>@Model.Where(x => x.Month == 3).FirstOrDefault().ARMinusOrthoSimplepay</td>
                <td>@Model.Where(x => x.Month == 4).FirstOrDefault().ARMinusOrthoSimplepay</td>
                <td>@Model.Where(x => x.Month == 5).FirstOrDefault().ARMinusOrthoSimplepay</td>
                <td>@Model.Where(x => x.Month == 6).FirstOrDefault().ARMinusOrthoSimplepay</td>
                <td>@Model.Where(x => x.Month == 7).FirstOrDefault().ARMinusOrthoSimplepay</td>
                <td>@Model.Where(x => x.Month == 8).FirstOrDefault().ARMinusOrthoSimplepay</td>
                <td>@Model.Where(x => x.Month == 9).FirstOrDefault().ARMinusOrthoSimplepay</td>
                <td>@Model.Where(x => x.Month == 10).FirstOrDefault().ARMinusOrthoSimplepay</td>
                <td>@Model.Where(x => x.Month == 11).FirstOrDefault().ARMinusOrthoSimplepay</td>
                <td>@Model.Where(x => x.Month == 12).FirstOrDefault().ARMinusOrthoSimplepay</td>
                <td>@Math.Round(Model.Average(x => x.ARMinusOrthoSimplepay)) </td>


            </tr>
            <tr>


                <td> AR Ratio Minus Ortho & Simplepay</td>
                <td>@Model.Where(x => x.Month == 1).FirstOrDefault().ARRatioMinusOrthoSimplepay</td>
                <td>@Model.Where(x => x.Month == 2).FirstOrDefault().ARRatioMinusOrthoSimplepay</td>
                <td>@Model.Where(x => x.Month == 3).FirstOrDefault().ARRatioMinusOrthoSimplepay</td>
                <td>@Model.Where(x => x.Month == 4).FirstOrDefault().ARRatioMinusOrthoSimplepay</td>
                <td>@Model.Where(x => x.Month == 5).FirstOrDefault().ARRatioMinusOrthoSimplepay</td>
                <td>@Model.Where(x => x.Month == 6).FirstOrDefault().ARRatioMinusOrthoSimplepay</td>
                <td>@Model.Where(x => x.Month == 7).FirstOrDefault().ARRatioMinusOrthoSimplepay</td>
                <td>@Model.Where(x => x.Month == 8).FirstOrDefault().ARRatioMinusOrthoSimplepay</td>
                <td>@Model.Where(x => x.Month == 9).FirstOrDefault().ARRatioMinusOrthoSimplepay</td>
                <td>@Model.Where(x => x.Month == 10).FirstOrDefault().ARRatioMinusOrthoSimplepay</td>
                <td>@Model.Where(x => x.Month == 11).FirstOrDefault().ARRatioMinusOrthoSimplepay</td>
                <td>@Model.Where(x => x.Month == 12).FirstOrDefault().ARRatioMinusOrthoSimplepay</td>
                <td>@Math.Round(Model.Average(x => x.ARRatioMinusOrthoSimplepay)) </td>

            </tr>
            <tr>

                <td> New Pts </td>
                <td>@Model.Where(x => x.Month == 1).FirstOrDefault().NewPts</td>
                <td>@Model.Where(x => x.Month == 2).FirstOrDefault().NewPts</td>
                <td>@Model.Where(x => x.Month == 3).FirstOrDefault().NewPts</td>
                <td>@Model.Where(x => x.Month == 4).FirstOrDefault().NewPts</td>
                <td>@Model.Where(x => x.Month == 5).FirstOrDefault().NewPts</td>
                <td>@Model.Where(x => x.Month == 6).FirstOrDefault().NewPts</td>
                <td>@Model.Where(x => x.Month == 7).FirstOrDefault().NewPts</td>
                <td>@Model.Where(x => x.Month == 8).FirstOrDefault().NewPts</td>
                <td>@Model.Where(x => x.Month == 9).FirstOrDefault().NewPts</td>
                <td>@Model.Where(x => x.Month == 10).FirstOrDefault().NewPts</td>
                <td>@Model.Where(x => x.Month == 11).FirstOrDefault().NewPts</td>
                <td>@Model.Where(x => x.Month == 12).FirstOrDefault().NewPts</td>
                <td>@Math.Round(Model.Average(x => x.NewPts)) </td>


            </tr>
            <tr>

                <td> Pt Referrals</td>
                <td>@Model.Where(x => x.Month == 1).FirstOrDefault().PtReferrals</td>
                <td>@Model.Where(x => x.Month == 2).FirstOrDefault().PtReferrals</td>
                <td>@Model.Where(x => x.Month == 3).FirstOrDefault().PtReferrals</td>
                <td>@Model.Where(x => x.Month == 4).FirstOrDefault().PtReferrals</td>
                <td>@Model.Where(x => x.Month == 5).FirstOrDefault().PtReferrals</td>
                <td>@Model.Where(x => x.Month == 6).FirstOrDefault().PtReferrals</td>
                <td>@Model.Where(x => x.Month == 7).FirstOrDefault().PtReferrals</td>
                <td>@Model.Where(x => x.Month == 8).FirstOrDefault().PtReferrals</td>
                <td>@Model.Where(x => x.Month == 9).FirstOrDefault().PtReferrals</td>
                <td>@Model.Where(x => x.Month == 10).FirstOrDefault().PtReferrals</td>
                <td>@Model.Where(x => x.Month == 11).FirstOrDefault().PtReferrals</td>
                <td>@Model.Where(x => x.Month == 12).FirstOrDefault().PtReferrals</td>
                <td>@Math.Round(Model.Average(x => x.PtReferrals)) </td>

            </tr>



            <tr>
                <td> % Pt Referrals </td>
                <td>@Model.Where(x => x.Month == 1).FirstOrDefault().PerPtReferrals</td>
                <td>@Model.Where(x => x.Month == 2).FirstOrDefault().PerPtReferrals</td>
                <td>@Model.Where(x => x.Month == 3).FirstOrDefault().PerPtReferrals</td>
                <td>@Model.Where(x => x.Month == 4).FirstOrDefault().PerPtReferrals</td>
                <td>@Model.Where(x => x.Month == 5).FirstOrDefault().PerPtReferrals</td>
                <td>@Model.Where(x => x.Month == 6).FirstOrDefault().PerPtReferrals</td>
                <td>@Model.Where(x => x.Month == 7).FirstOrDefault().PerPtReferrals</td>
                <td>@Model.Where(x => x.Month == 8).FirstOrDefault().PerPtReferrals</td>
                <td>@Model.Where(x => x.Month == 9).FirstOrDefault().PerPtReferrals</td>
                <td>@Model.Where(x => x.Month == 10).FirstOrDefault().PerPtReferrals</td>
                <td>@Model.Where(x => x.Month == 11).FirstOrDefault().PerPtReferrals</td>
                <td>@Model.Where(x => x.Month == 12).FirstOrDefault().PerPtReferrals</td>
                <td>@Math.Round(Model.Average(x => x.PerPtReferrals)) </td>


            </tr>
            <tr>

                <td>Deactivated Pts</td>
                <td>@Model.Where(x => x.Month == 1).FirstOrDefault().DeactivatedPts</td>
                <td>@Model.Where(x => x.Month == 2).FirstOrDefault().DeactivatedPts</td>
                <td>@Model.Where(x => x.Month == 3).FirstOrDefault().DeactivatedPts</td>
                <td>@Model.Where(x => x.Month == 4).FirstOrDefault().DeactivatedPts</td>
                <td>@Model.Where(x => x.Month == 5).FirstOrDefault().DeactivatedPts</td>
                <td>@Model.Where(x => x.Month == 6).FirstOrDefault().DeactivatedPts</td>
                <td>@Model.Where(x => x.Month == 7).FirstOrDefault().DeactivatedPts</td>
                <td>@Model.Where(x => x.Month == 8).FirstOrDefault().DeactivatedPts</td>
                <td>@Model.Where(x => x.Month == 9).FirstOrDefault().DeactivatedPts</td>
                <td>@Model.Where(x => x.Month == 10).FirstOrDefault().DeactivatedPts</td>
                <td>@Model.Where(x => x.Month == 11).FirstOrDefault().DeactivatedPts</td>
                <td>@Model.Where(x => x.Month == 12).FirstOrDefault().DeactivatedPts</td>
                <td>@Math.Round(Model.Average(x => x.DeactivatedPts)) </td>


            </tr>
            <tr>

                <td>Total Pt Count</td>
                <td>@Model.Where(x => x.Month == 1).FirstOrDefault().TotalPtCount</td>
                <td>@Model.Where(x => x.Month == 2).FirstOrDefault().TotalPtCount</td>
                <td>@Model.Where(x => x.Month == 3).FirstOrDefault().TotalPtCount</td>
                <td>@Model.Where(x => x.Month == 4).FirstOrDefault().TotalPtCount</td>
                <td>@Model.Where(x => x.Month == 5).FirstOrDefault().TotalPtCount</td>
                <td>@Model.Where(x => x.Month == 6).FirstOrDefault().TotalPtCount</td>
                <td>@Model.Where(x => x.Month == 7).FirstOrDefault().TotalPtCount</td>
                <td>@Model.Where(x => x.Month == 8).FirstOrDefault().TotalPtCount</td>
                <td>@Model.Where(x => x.Month == 9).FirstOrDefault().TotalPtCount</td>
                <td>@Model.Where(x => x.Month == 10).FirstOrDefault().TotalPtCount</td>
                <td>@Model.Where(x => x.Month == 11).FirstOrDefault().TotalPtCount</td>
                <td>@Model.Where(x => x.Month == 12).FirstOrDefault().TotalPtCount</td>
                <td>@Math.Round(Model.Average(x => x.TotalPtCount)) </td>

            </tr>
            <tr>

                <td>Total Pts Seen</td>
                <td>@Model.Where(x => x.Month == 1).FirstOrDefault().TotalPtsSeen</td>
                <td>@Model.Where(x => x.Month == 2).FirstOrDefault().TotalPtsSeen</td>
                <td>@Model.Where(x => x.Month == 3).FirstOrDefault().TotalPtsSeen</td>
                <td>@Model.Where(x => x.Month == 4).FirstOrDefault().TotalPtsSeen</td>
                <td>@Model.Where(x => x.Month == 5).FirstOrDefault().TotalPtsSeen</td>
                <td>@Model.Where(x => x.Month == 6).FirstOrDefault().TotalPtsSeen</td>
                <td>@Model.Where(x => x.Month == 7).FirstOrDefault().TotalPtsSeen</td>
                <td>@Model.Where(x => x.Month == 8).FirstOrDefault().TotalPtsSeen</td>
                <td>@Model.Where(x => x.Month == 9).FirstOrDefault().TotalPtsSeen</td>
                <td>@Model.Where(x => x.Month == 10).FirstOrDefault().TotalPtsSeen</td>
                <td>@Model.Where(x => x.Month == 11).FirstOrDefault().TotalPtsSeen</td>
                <td>@Model.Where(x => x.Month == 12).FirstOrDefault().TotalPtsSeen</td>
                <td>@Math.Round(Model.Average(x => x.TotalPtsSeen)) </td>


            </tr>
            <tr>

                <td>Net Production/Pt</td>
                <td>@Model.Where(x => x.Month == 1).FirstOrDefault().NetProduction</td>
                <td>@Model.Where(x => x.Month == 2).FirstOrDefault().NetProduction</td>
                <td>@Model.Where(x => x.Month == 3).FirstOrDefault().NetProduction</td>
                <td>@Model.Where(x => x.Month == 4).FirstOrDefault().NetProduction</td>
                <td>@Model.Where(x => x.Month == 5).FirstOrDefault().NetProduction</td>
                <td>@Model.Where(x => x.Month == 6).FirstOrDefault().NetProduction</td>
                <td>@Model.Where(x => x.Month == 7).FirstOrDefault().NetProduction</td>
                <td>@Model.Where(x => x.Month == 8).FirstOrDefault().NetProduction</td>
                <td>@Model.Where(x => x.Month == 9).FirstOrDefault().NetProduction</td>
                <td>@Model.Where(x => x.Month == 10).FirstOrDefault().NetProduction</td>
                <td>@Model.Where(x => x.Month == 11).FirstOrDefault().NetProduction</td>
                <td>@Model.Where(x => x.Month == 12).FirstOrDefault().NetProduction</td>
                <td>@Math.Round(Model.Average(x => x.NetProduction)) </td>


            </tr>
            <tr>

                <td> 100% Cont Care Efficiency  (Goal for # of Cont Care Visits)</td>
                <td>@Model.Where(x => x.Month == 1).FirstOrDefault().ContCareEfficiency</td>
                <td>@Model.Where(x => x.Month == 2).FirstOrDefault().ContCareEfficiency</td>
                <td>@Model.Where(x => x.Month == 3).FirstOrDefault().ContCareEfficiency</td>
                <td>@Model.Where(x => x.Month == 4).FirstOrDefault().ContCareEfficiency</td>
                <td>@Model.Where(x => x.Month == 5).FirstOrDefault().ContCareEfficiency</td>
                <td>@Model.Where(x => x.Month == 6).FirstOrDefault().ContCareEfficiency</td>
                <td>@Model.Where(x => x.Month == 7).FirstOrDefault().ContCareEfficiency</td>
                <td>@Model.Where(x => x.Month == 8).FirstOrDefault().ContCareEfficiency</td>
                <td>@Model.Where(x => x.Month == 9).FirstOrDefault().ContCareEfficiency</td>
                <td>@Model.Where(x => x.Month == 10).FirstOrDefault().ContCareEfficiency</td>
                <td>@Model.Where(x => x.Month == 11).FirstOrDefault().ContCareEfficiency</td>
                <td>@Model.Where(x => x.Month == 12).FirstOrDefault().ContCareEfficiency</td>
                <td>@Math.Round(Model.Average(x => x.ContCareEfficiency)) </td>


            </tr>
            <tr>

                <td> Actual Cont Care Visits (1110, 1120, 4355, 4910)</td>
                <td>@Model.Where(x => x.Month == 1).FirstOrDefault().ActualContCareVisits</td>
                <td>@Model.Where(x => x.Month == 2).FirstOrDefault().ActualContCareVisits</td>
                <td>@Model.Where(x => x.Month == 3).FirstOrDefault().ActualContCareVisits</td>
                <td>@Model.Where(x => x.Month == 4).FirstOrDefault().ActualContCareVisits</td>
                <td>@Model.Where(x => x.Month == 5).FirstOrDefault().ActualContCareVisits</td>
                <td>@Model.Where(x => x.Month == 6).FirstOrDefault().ActualContCareVisits</td>
                <td>@Model.Where(x => x.Month == 7).FirstOrDefault().ActualContCareVisits</td>
                <td>@Model.Where(x => x.Month == 8).FirstOrDefault().ActualContCareVisits</td>
                <td>@Model.Where(x => x.Month == 9).FirstOrDefault().ActualContCareVisits</td>
                <td>@Model.Where(x => x.Month == 10).FirstOrDefault().ActualContCareVisits</td>
                <td>@Model.Where(x => x.Month == 11).FirstOrDefault().ActualContCareVisits</td>
                <td>@Model.Where(x => x.Month == 12).FirstOrDefault().ActualContCareVisits</td>
                <td>@Math.Round(Model.Average(x => x.ActualContCareVisits)) </td>

            </tr>
            <tr>

                <td> Cont Care Efficiency</td>
                <td>@Model.Where(x => x.Month == 1).FirstOrDefault().ContCareEfficiency</td>
                <td>@Model.Where(x => x.Month == 2).FirstOrDefault().ContCareEfficiency</td>
                <td>@Model.Where(x => x.Month == 3).FirstOrDefault().ContCareEfficiency</td>
                <td>@Model.Where(x => x.Month == 4).FirstOrDefault().ContCareEfficiency</td>
                <td>@Model.Where(x => x.Month == 5).FirstOrDefault().ContCareEfficiency</td>
                <td>@Model.Where(x => x.Month == 6).FirstOrDefault().ContCareEfficiency</td>
                <td>@Model.Where(x => x.Month == 7).FirstOrDefault().ContCareEfficiency</td>
                <td>@Model.Where(x => x.Month == 8).FirstOrDefault().ContCareEfficiency</td>
                <td>@Model.Where(x => x.Month == 9).FirstOrDefault().ContCareEfficiency</td>
                <td>@Model.Where(x => x.Month == 10).FirstOrDefault().ContCareEfficiency</td>
                <td>@Model.Where(x => x.Month == 11).FirstOrDefault().ContCareEfficiency</td>
                <td>@Model.Where(x => x.Month == 12).FirstOrDefault().ContCareEfficiency</td>
                <td>@Math.Round(Model.Average(x => x.ContCareEfficiency)) </td>


            </tr>

            <tr>

                <td> Supplies (incl implant)  </td>
                <td>@Model.Where(x => x.Month == 1).FirstOrDefault().Supplies</td>
                <td>@Model.Where(x => x.Month == 2).FirstOrDefault().Supplies</td>
                <td>@Model.Where(x => x.Month == 3).FirstOrDefault().Supplies</td>
                <td>@Model.Where(x => x.Month == 4).FirstOrDefault().Supplies</td>
                <td>@Model.Where(x => x.Month == 5).FirstOrDefault().Supplies</td>
                <td>@Model.Where(x => x.Month == 6).FirstOrDefault().Supplies</td>
                <td>@Model.Where(x => x.Month == 7).FirstOrDefault().Supplies</td>
                <td>@Model.Where(x => x.Month == 8).FirstOrDefault().Supplies</td>
                <td>@Model.Where(x => x.Month == 9).FirstOrDefault().Supplies</td>
                <td>@Model.Where(x => x.Month == 10).FirstOrDefault().Supplies</td>
                <td>@Model.Where(x => x.Month == 11).FirstOrDefault().Supplies</td>
                <td>@Model.Where(x => x.Month == 12).FirstOrDefault().Supplies</td>
                <td>@Math.Round(Model.Average(x => x.Supplies)) </td>


            </tr>
            <tr>

                <td>Supplies Expense % of Gross Production</td>
                <td>@Model.Where(x => x.Month == 1).FirstOrDefault().SuppliesExpenseofGrossProduction</td>
                <td>@Model.Where(x => x.Month == 2).FirstOrDefault().SuppliesExpenseofGrossProduction</td>
                <td>@Model.Where(x => x.Month == 3).FirstOrDefault().SuppliesExpenseofGrossProduction</td>
                <td>@Model.Where(x => x.Month == 4).FirstOrDefault().SuppliesExpenseofGrossProduction</td>
                <td>@Model.Where(x => x.Month == 5).FirstOrDefault().SuppliesExpenseofGrossProduction</td>
                <td>@Model.Where(x => x.Month == 6).FirstOrDefault().SuppliesExpenseofGrossProduction</td>
                <td>@Model.Where(x => x.Month == 7).FirstOrDefault().SuppliesExpenseofGrossProduction</td>
                <td>@Model.Where(x => x.Month == 8).FirstOrDefault().SuppliesExpenseofGrossProduction</td>
                <td>@Model.Where(x => x.Month == 9).FirstOrDefault().SuppliesExpenseofGrossProduction</td>
                <td>@Model.Where(x => x.Month == 10).FirstOrDefault().SuppliesExpenseofGrossProduction</td>
                <td>@Model.Where(x => x.Month == 11).FirstOrDefault().SuppliesExpenseofGrossProduction</td>
                <td>@Model.Where(x => x.Month == 12).FirstOrDefault().SuppliesExpenseofGrossProduction</td>
                <td>@Math.Round(Model.Average(x => x.SuppliesExpenseofGrossProduction)) </td>

            </tr>

            <tr>

                <td>Lab Expense </td>
                <td>@Model.Where(x => x.Month == 1).FirstOrDefault().LabExpense</td>
                <td>@Model.Where(x => x.Month == 2).FirstOrDefault().LabExpense</td>
                <td>@Model.Where(x => x.Month == 3).FirstOrDefault().LabExpense</td>
                <td>@Model.Where(x => x.Month == 4).FirstOrDefault().LabExpense</td>
                <td>@Model.Where(x => x.Month == 5).FirstOrDefault().LabExpense</td>
                <td>@Model.Where(x => x.Month == 6).FirstOrDefault().LabExpense</td>
                <td>@Model.Where(x => x.Month == 7).FirstOrDefault().LabExpense</td>
                <td>@Model.Where(x => x.Month == 8).FirstOrDefault().LabExpense</td>
                <td>@Model.Where(x => x.Month == 9).FirstOrDefault().LabExpense</td>
                <td>@Model.Where(x => x.Month == 10).FirstOrDefault().LabExpense</td>
                <td>@Model.Where(x => x.Month == 11).FirstOrDefault().LabExpense</td>
                <td>@Model.Where(x => x.Month == 12).FirstOrDefault().LabExpense</td>
                <td>@Math.Round(Model.Average(x => x.LabExpense)) </td>

            </tr>

            <tr>

                <td> Lab Expense % of Gross Production</td>
                <td>@Model.Where(x => x.Month == 1).FirstOrDefault().LabExpenseofGrossProduction</td>
                <td>@Model.Where(x => x.Month == 2).FirstOrDefault().LabExpenseofGrossProduction</td>
                <td>@Model.Where(x => x.Month == 3).FirstOrDefault().LabExpenseofGrossProduction</td>
                <td>@Model.Where(x => x.Month == 4).FirstOrDefault().LabExpenseofGrossProduction</td>
                <td>@Model.Where(x => x.Month == 5).FirstOrDefault().LabExpenseofGrossProduction</td>
                <td>@Model.Where(x => x.Month == 6).FirstOrDefault().LabExpenseofGrossProduction</td>
                <td>@Model.Where(x => x.Month == 7).FirstOrDefault().LabExpenseofGrossProduction</td>
                <td>@Model.Where(x => x.Month == 8).FirstOrDefault().LabExpenseofGrossProduction</td>
                <td>@Model.Where(x => x.Month == 9).FirstOrDefault().LabExpenseofGrossProduction</td>
                <td>@Model.Where(x => x.Month == 10).FirstOrDefault().LabExpenseofGrossProduction</td>
                <td>@Model.Where(x => x.Month == 11).FirstOrDefault().LabExpenseofGrossProduction</td>
                <td>@Model.Where(x => x.Month == 12).FirstOrDefault().LabExpenseofGrossProduction</td>
                <td>@Math.Round(Model.Average(x => x.ARRatioMinusOrthoSimplepay)) </td>
            </tr>

        </tbody>
    </table>
</div>



