﻿@model List<ScoreCard.Models.Stats_All_Summary>
@{
    ViewBag.Title = "StatsAllThree";
    Layout = "~/Views/Shared/_Master_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        document.getElementById('ddlYear').value = "@ViewBag.Year";
        @*ocument.getElementById("ddlYear").selectedIndex = '@Model.Where().Year';*@
        @*$("#ddlYear").val("@Model.Where().Year").change();*@
    });
    function SearchGoals() {
        if ($("#ddlYear").val() == "") {
            alert("Kindly select a Year.");
            return false;
        }
        var urL = location.href;
        location.href = urL.split('?')[0] + "?year=" + $("#ddlYear").val();
    }
    $(function () {
        $("#btnSubmit").click(function () {
            $("input[name='GridHtml']").val($("#Grid").html());
        });
    });
</script>

@using (Html.BeginForm("Export", "ReportTool", FormMethod.Post, new { @class = "form-inline float-right" }))
{
    <div class="row" style="margin:-1% 0 0.3% 0">
        <div class="col-md-6">
            <div style="padding-top:5px" class="text-left">
                @*<label style="font-family:Calibri;font-weight:bold;font-size:12px">Stats All 3 Reports</label>*@
                <div class="inner-menu reports_details">
                    <h3 class="inline">Stats All 3 Reports</h3>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="" style="padding-top:10px">
                <select class="form-control" id="ddlYear">
                    <option value="">Please select the Year for Search</option>
                    <option value="2016">2016</option>
                    <option value="2017">2017</option>
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                </select>
            </div>
        </div>
        <div class="col-md-2 text-right" style="padding-top:10px">
            <button type="button" class="btn btn-primary mb-2" onclick="SearchGoals();">Search</button>
            <input type="hidden" name="GridHtml" />
            <button type="submit" class="btn btn-info mb-2" id="btnSubmit">Excel</button>
            @*<button type="button" class="btn btn-info mb-2" id="btnPrintout">Print</button>*@
        </div>
    </div>
}
<div class="table-responsive" id="Grid">
    <table class="table table3 filtered-table table table-striped table-dark">
        @{
            int year = ViewBag.Year;
            if (Model == null || Model.Count == 0)
            {
                <tr>No records found</tr>
            }
            else
            {
                <thead>
                    <tr>
                        <th class="text-center" colspan="14">AZ Offices</th>
                        @*<th class="text-center" colspan="3">NM Offices</th>*@

                    </tr>

                    <tr>
                        <th>Monthly Clinical Stats Report</th>
                        <th>January</th>
                        <th>February</th>
                        <th>March</th>
                        <th>April</th>
                        <th>May</th>
                        <th>June</th>
                        <th>July</th>
                        <th>August</th>
                        <th>September</th>
                        <th>October</th>
                        <th>November</th>
                        <th>December</th>
                        <th>Year Avg.</th>
                    </tr>

                </thead>
                <tbody>
                    <tr>

                        <td>Gross Production (includes ortho) </td>
                        <td>@Model.Where(x => x.MONTH == 1).FirstOrDefault().GROSS_PRODUCTION</td>
                        <td>@Model.Where(x => x.MONTH == 2).FirstOrDefault().GROSS_PRODUCTION</td>
                        <td>@Model.Where(x => x.MONTH == 3).FirstOrDefault().GROSS_PRODUCTION</td>
                        <td>@Model.Where(x => x.MONTH == 4).FirstOrDefault().GROSS_PRODUCTION</td>
                        <td>@Model.Where(x => x.MONTH == 5).FirstOrDefault().GROSS_PRODUCTION</td>
                        <td>@Model.Where(x => x.MONTH == 6).FirstOrDefault().GROSS_PRODUCTION</td>
                        <td>@Model.Where(x => x.MONTH == 7).FirstOrDefault().GROSS_PRODUCTION</td>
                        <td>@Model.Where(x => x.MONTH == 8).FirstOrDefault().GROSS_PRODUCTION</td>
                        <td>@Model.Where(x => x.MONTH == 9).FirstOrDefault().GROSS_PRODUCTION</td>
                        <td>@Model.Where(x => x.MONTH == 10).FirstOrDefault().GROSS_PRODUCTION</td>
                        <td>@Model.Where(x => x.MONTH == 11).FirstOrDefault().GROSS_PRODUCTION</td>
                        <td>@Model.Where(x => x.MONTH == 12).FirstOrDefault().GROSS_PRODUCTION</td>

                        <td>@Math.Round(Model.Average(x => x.GROSS_PRODUCTION)) </td>
                    </tr>
                    <tr>

                        <td>Ortho Production </td>
                        <td>@Model.Where(x => x.MONTH == 1).FirstOrDefault().ORTHO_PRODUCTION</td>
                        <td>@Model.Where(x => x.MONTH == 2).FirstOrDefault().ORTHO_PRODUCTION</td>
                        <td>@Model.Where(x => x.MONTH == 3).FirstOrDefault().ORTHO_PRODUCTION</td>
                        <td>@Model.Where(x => x.MONTH == 4).FirstOrDefault().ORTHO_PRODUCTION</td>
                        <td>@Model.Where(x => x.MONTH == 5).FirstOrDefault().ORTHO_PRODUCTION</td>
                        <td>@Model.Where(x => x.MONTH == 6).FirstOrDefault().ORTHO_PRODUCTION</td>
                        <td>@Model.Where(x => x.MONTH == 7).FirstOrDefault().ORTHO_PRODUCTION</td>
                        <td>@Model.Where(x => x.MONTH == 8).FirstOrDefault().ORTHO_PRODUCTION</td>
                        <td>@Model.Where(x => x.MONTH == 9).FirstOrDefault().ORTHO_PRODUCTION</td>
                        <td>@Model.Where(x => x.MONTH == 10).FirstOrDefault().ORTHO_PRODUCTION</td>
                        <td>@Model.Where(x => x.MONTH == 11).FirstOrDefault().ORTHO_PRODUCTION</td>
                        <td>@Model.Where(x => x.MONTH == 12).FirstOrDefault().ORTHO_PRODUCTION</td>

                        <td>@Math.Round(Model.Average(x => x.ORTHO_PRODUCTION)) </td>

                    </tr>
                    <tr>

                        <td> Adjustments</td>
                        <td>@Model.Where(x => x.MONTH == 1).FirstOrDefault().ADJUSTMENTS</td>
                        <td>@Model.Where(x => x.MONTH == 2).FirstOrDefault().ADJUSTMENTS</td>
                        <td>@Model.Where(x => x.MONTH == 3).FirstOrDefault().ADJUSTMENTS</td>
                        <td>@Model.Where(x => x.MONTH == 4).FirstOrDefault().ADJUSTMENTS</td>
                        <td>@Model.Where(x => x.MONTH == 5).FirstOrDefault().ADJUSTMENTS</td>
                        <td>@Model.Where(x => x.MONTH == 6).FirstOrDefault().ADJUSTMENTS</td>
                        <td>@Model.Where(x => x.MONTH == 7).FirstOrDefault().ADJUSTMENTS</td>
                        <td>@Model.Where(x => x.MONTH == 8).FirstOrDefault().ADJUSTMENTS</td>
                        <td>@Model.Where(x => x.MONTH == 9).FirstOrDefault().ADJUSTMENTS</td>
                        <td>@Model.Where(x => x.MONTH == 10).FirstOrDefault().ADJUSTMENTS</td>
                        <td>@Model.Where(x => x.MONTH == 11).FirstOrDefault().ADJUSTMENTS</td>
                        <td>@Model.Where(x => x.MONTH == 12).FirstOrDefault().ADJUSTMENTS</td>

                        <td>@Math.Round(Model.Average(x => x.ADJUSTMENTS)) </td>
                    </tr>
                    <tr>


                        <td> Net Production</td>
                        <td>@Model.Where(x => x.MONTH == 1).FirstOrDefault().NET_PRODUCTION</td>
                        <td>@Model.Where(x => x.MONTH == 2).FirstOrDefault().NET_PRODUCTION</td>
                        <td>@Model.Where(x => x.MONTH == 3).FirstOrDefault().NET_PRODUCTION</td>
                        <td>@Model.Where(x => x.MONTH == 4).FirstOrDefault().NET_PRODUCTION</td>
                        <td>@Model.Where(x => x.MONTH == 5).FirstOrDefault().NET_PRODUCTION</td>
                        <td>@Model.Where(x => x.MONTH == 6).FirstOrDefault().NET_PRODUCTION</td>
                        <td>@Model.Where(x => x.MONTH == 7).FirstOrDefault().NET_PRODUCTION</td>
                        <td>@Model.Where(x => x.MONTH == 8).FirstOrDefault().NET_PRODUCTION</td>
                        <td>@Model.Where(x => x.MONTH == 9).FirstOrDefault().NET_PRODUCTION</td>
                        <td>@Model.Where(x => x.MONTH == 10).FirstOrDefault().NET_PRODUCTION</td>
                        <td>@Model.Where(x => x.MONTH == 11).FirstOrDefault().NET_PRODUCTION</td>
                        <td>@Model.Where(x => x.MONTH == 12).FirstOrDefault().NET_PRODUCTION</td>

                        <td>@Math.Round(Model.Average(x => x.NET_PRODUCTION)) </td>

                    </tr>
                    <tr>

                        <td># Days   </td>
                        <td>0 </td>
                        <td> 0 </td>
                        <td>  0 </td>
                        <td> 0 </td>
                        <td> 0 </td>
                        <td> 0  </td>
                        <td> 0 </td>
                        <td> 0  </td>
                        <td> 0 </td>
                        <td> 0 </td>
                        <td> 0 </td>
                        <td>0 </td>
                        <td>0</td>

                    </tr>
                    <tr>

                        <td> Net Production per Day</td>
                        <td>@Model.Where(x => x.MONTH == 1).FirstOrDefault().NET_PRODUCTION_PER_DAY</td>
                        <td>@Model.Where(x => x.MONTH == 2).FirstOrDefault().NET_PRODUCTION_PER_DAY</td>
                        <td>@Model.Where(x => x.MONTH == 3).FirstOrDefault().NET_PRODUCTION_PER_DAY</td>
                        <td>@Model.Where(x => x.MONTH == 4).FirstOrDefault().NET_PRODUCTION_PER_DAY</td>
                        <td>@Model.Where(x => x.MONTH == 5).FirstOrDefault().NET_PRODUCTION_PER_DAY</td>
                        <td>@Model.Where(x => x.MONTH == 6).FirstOrDefault().NET_PRODUCTION_PER_DAY</td>
                        <td>@Model.Where(x => x.MONTH == 7).FirstOrDefault().NET_PRODUCTION_PER_DAY</td>
                        <td>@Model.Where(x => x.MONTH == 8).FirstOrDefault().NET_PRODUCTION_PER_DAY</td>
                        <td>@Model.Where(x => x.MONTH == 9).FirstOrDefault().NET_PRODUCTION_PER_DAY</td>
                        <td>@Model.Where(x => x.MONTH == 10).FirstOrDefault().NET_PRODUCTION_PER_DAY</td>
                        <td>@Model.Where(x => x.MONTH == 11).FirstOrDefault().NET_PRODUCTION_PER_DAY</td>
                        <td>@Model.Where(x => x.MONTH == 12).FirstOrDefault().NET_PRODUCTION_PER_DAY</td>

                        <td>@Math.Round(Model.Average(x => x.NET_PRODUCTION_PER_DAY)) </td>

                    </tr>
                    <tr>

                        <td> # Patients Seen</td>
                        <td>@Model.Where(x => x.MONTH == 1).FirstOrDefault().NEW_PTS_SEEN</td>
                        <td>@Model.Where(x => x.MONTH == 2).FirstOrDefault().NEW_PTS_SEEN</td>
                        <td>@Model.Where(x => x.MONTH == 3).FirstOrDefault().NEW_PTS_SEEN</td>
                        <td>@Model.Where(x => x.MONTH == 4).FirstOrDefault().NEW_PTS_SEEN</td>
                        <td>@Model.Where(x => x.MONTH == 5).FirstOrDefault().NEW_PTS_SEEN</td>
                        <td>@Model.Where(x => x.MONTH == 6).FirstOrDefault().NEW_PTS_SEEN</td>
                        <td>@Model.Where(x => x.MONTH == 7).FirstOrDefault().NEW_PTS_SEEN</td>
                        <td>@Model.Where(x => x.MONTH == 8).FirstOrDefault().NEW_PTS_SEEN</td>
                        <td>@Model.Where(x => x.MONTH == 9).FirstOrDefault().NEW_PTS_SEEN</td>
                        <td>@Model.Where(x => x.MONTH == 10).FirstOrDefault().NEW_PTS_SEEN</td>
                        <td>@Model.Where(x => x.MONTH == 11).FirstOrDefault().NEW_PTS_SEEN</td>
                        <td>@Model.Where(x => x.MONTH == 12).FirstOrDefault().NEW_PTS_SEEN</td>

                        <td>@Math.Round(Model.Average(x => x.NEW_PTS_SEEN)) </td>


                    </tr>
                    <tr>

                        <td>  Net Production per Pt Seen</td>
                        <td>@Model.Where(x => x.MONTH == 1).FirstOrDefault().NET_PRODUCTION_PER_PT_DAY</td>
                        <td>@Model.Where(x => x.MONTH == 2).FirstOrDefault().NET_PRODUCTION_PER_PT_DAY</td>
                        <td>@Model.Where(x => x.MONTH == 3).FirstOrDefault().NET_PRODUCTION_PER_PT_DAY</td>
                        <td>@Model.Where(x => x.MONTH == 4).FirstOrDefault().NET_PRODUCTION_PER_PT_DAY</td>
                        <td>@Model.Where(x => x.MONTH == 5).FirstOrDefault().NET_PRODUCTION_PER_PT_DAY</td>
                        <td>@Model.Where(x => x.MONTH == 6).FirstOrDefault().NET_PRODUCTION_PER_PT_DAY</td>
                        <td>@Model.Where(x => x.MONTH == 7).FirstOrDefault().NET_PRODUCTION_PER_PT_DAY</td>
                        <td>@Model.Where(x => x.MONTH == 8).FirstOrDefault().NET_PRODUCTION_PER_PT_DAY</td>
                        <td>@Model.Where(x => x.MONTH == 9).FirstOrDefault().NET_PRODUCTION_PER_PT_DAY</td>
                        <td>@Model.Where(x => x.MONTH == 10).FirstOrDefault().NET_PRODUCTION_PER_PT_DAY</td>
                        <td>@Model.Where(x => x.MONTH == 11).FirstOrDefault().NET_PRODUCTION_PER_PT_DAY</td>
                        <td>@Model.Where(x => x.MONTH == 12).FirstOrDefault().NET_PRODUCTION_PER_PT_DAY</td>

                        <td>@Math.Round(Model.Average(x => x.NET_PRODUCTION_PER_PT_DAY)) </td>

                    </tr>
                    <tr>


                        <td> Collections</td>
                        <td>@Model.Where(x => x.MONTH == 1).FirstOrDefault().COLLECTIONS</td>
                        <td>@Model.Where(x => x.MONTH == 2).FirstOrDefault().COLLECTIONS</td>
                        <td>@Model.Where(x => x.MONTH == 3).FirstOrDefault().COLLECTIONS</td>
                        <td>@Model.Where(x => x.MONTH == 4).FirstOrDefault().COLLECTIONS</td>
                        <td>@Model.Where(x => x.MONTH == 5).FirstOrDefault().COLLECTIONS</td>
                        <td>@Model.Where(x => x.MONTH == 6).FirstOrDefault().COLLECTIONS</td>
                        <td>@Model.Where(x => x.MONTH == 7).FirstOrDefault().COLLECTIONS</td>
                        <td>@Model.Where(x => x.MONTH == 8).FirstOrDefault().COLLECTIONS</td>
                        <td>@Model.Where(x => x.MONTH == 9).FirstOrDefault().COLLECTIONS</td>
                        <td>@Model.Where(x => x.MONTH == 10).FirstOrDefault().COLLECTIONS</td>
                        <td>@Model.Where(x => x.MONTH == 11).FirstOrDefault().COLLECTIONS</td>
                        <td>@Model.Where(x => x.MONTH == 12).FirstOrDefault().COLLECTIONS</td>

                        <td>@Math.Round(Model.Average(x => x.COLLECTIONS)) </td>

                    </tr>
                    <tr>

                        <td>Refunds/NSF </td>
                        <td>@Model.Where(x => x.MONTH == 1).FirstOrDefault().REFUNDS_NSF</td>
                        <td>@Model.Where(x => x.MONTH == 2).FirstOrDefault().REFUNDS_NSF</td>
                        <td>@Model.Where(x => x.MONTH == 3).FirstOrDefault().REFUNDS_NSF</td>
                        <td>@Model.Where(x => x.MONTH == 4).FirstOrDefault().REFUNDS_NSF</td>
                        <td>@Model.Where(x => x.MONTH == 5).FirstOrDefault().REFUNDS_NSF</td>
                        <td>@Model.Where(x => x.MONTH == 6).FirstOrDefault().REFUNDS_NSF</td>
                        <td>@Model.Where(x => x.MONTH == 7).FirstOrDefault().REFUNDS_NSF</td>
                        <td>@Model.Where(x => x.MONTH == 8).FirstOrDefault().REFUNDS_NSF</td>
                        <td>@Model.Where(x => x.MONTH == 9).FirstOrDefault().REFUNDS_NSF</td>
                        <td>@Model.Where(x => x.MONTH == 10).FirstOrDefault().REFUNDS_NSF</td>
                        <td>@Model.Where(x => x.MONTH == 11).FirstOrDefault().REFUNDS_NSF</td>
                        <td>@Model.Where(x => x.MONTH == 12).FirstOrDefault().REFUNDS_NSF</td>

                        <td>@Math.Round(Model.Average(x => x.REFUNDS_NSF)) </td>
                    </tr>
                    <tr>

                        <td>Sales Tax </td>
                        <td>@Model.Where(x => x.MONTH == 1).FirstOrDefault().SALES_TAX</td>
                        <td>@Model.Where(x => x.MONTH == 2).FirstOrDefault().SALES_TAX</td>
                        <td>@Model.Where(x => x.MONTH == 3).FirstOrDefault().SALES_TAX</td>
                        <td>@Model.Where(x => x.MONTH == 4).FirstOrDefault().SALES_TAX</td>
                        <td>@Model.Where(x => x.MONTH == 5).FirstOrDefault().SALES_TAX</td>
                        <td>@Model.Where(x => x.MONTH == 6).FirstOrDefault().SALES_TAX</td>
                        <td>@Model.Where(x => x.MONTH == 7).FirstOrDefault().SALES_TAX</td>
                        <td>@Model.Where(x => x.MONTH == 8).FirstOrDefault().SALES_TAX</td>
                        <td>@Model.Where(x => x.MONTH == 9).FirstOrDefault().SALES_TAX</td>
                        <td>@Model.Where(x => x.MONTH == 10).FirstOrDefault().SALES_TAX</td>
                        <td>@Model.Where(x => x.MONTH == 11).FirstOrDefault().SALES_TAX</td>
                        <td>@Model.Where(x => x.MONTH == 12).FirstOrDefault().SALES_TAX</td>

                        <td>@Math.Round(Model.Average(x => x.SALES_TAX)) </td>
                    </tr>
                    <tr>

                        <td> Net Collections </td>
                        <td>@Model.Where(x => x.MONTH == 1).FirstOrDefault().NET_COLLECTIONS</td>
                        <td>@Model.Where(x => x.MONTH == 2).FirstOrDefault().NET_COLLECTIONS</td>
                        <td>@Model.Where(x => x.MONTH == 3).FirstOrDefault().NET_COLLECTIONS</td>
                        <td>@Model.Where(x => x.MONTH == 4).FirstOrDefault().NET_COLLECTIONS</td>
                        <td>@Model.Where(x => x.MONTH == 5).FirstOrDefault().NET_COLLECTIONS</td>
                        <td>@Model.Where(x => x.MONTH == 6).FirstOrDefault().NET_COLLECTIONS</td>
                        <td>@Model.Where(x => x.MONTH == 7).FirstOrDefault().NET_COLLECTIONS</td>
                        <td>@Model.Where(x => x.MONTH == 8).FirstOrDefault().NET_COLLECTIONS</td>
                        <td>@Model.Where(x => x.MONTH == 9).FirstOrDefault().NET_COLLECTIONS</td>
                        <td>@Model.Where(x => x.MONTH == 10).FirstOrDefault().NET_COLLECTIONS</td>
                        <td>@Model.Where(x => x.MONTH == 11).FirstOrDefault().NET_COLLECTIONS</td>
                        <td>@Model.Where(x => x.MONTH == 12).FirstOrDefault().NET_COLLECTIONS</td>

                        <td>@Math.Round(Model.Average(x => x.NET_COLLECTIONS)) </td>

                    </tr>
                    <tr>

                        <td>Ortho Collection</td>
                        <td>@Model.Where(x => x.MONTH == 1).FirstOrDefault().ORTHO_COLLECTION</td>
                        <td>@Model.Where(x => x.MONTH == 2).FirstOrDefault().ORTHO_COLLECTION</td>
                        <td>@Model.Where(x => x.MONTH == 3).FirstOrDefault().ORTHO_COLLECTION</td>
                        <td>@Model.Where(x => x.MONTH == 4).FirstOrDefault().ORTHO_COLLECTION</td>
                        <td>@Model.Where(x => x.MONTH == 5).FirstOrDefault().ORTHO_COLLECTION</td>
                        <td>@Model.Where(x => x.MONTH == 6).FirstOrDefault().ORTHO_COLLECTION</td>
                        <td>@Model.Where(x => x.MONTH == 7).FirstOrDefault().ORTHO_COLLECTION</td>
                        <td>@Model.Where(x => x.MONTH == 8).FirstOrDefault().ORTHO_COLLECTION</td>
                        <td>@Model.Where(x => x.MONTH == 9).FirstOrDefault().ORTHO_COLLECTION</td>
                        <td>@Model.Where(x => x.MONTH == 10).FirstOrDefault().ORTHO_COLLECTION</td>
                        <td>@Model.Where(x => x.MONTH == 11).FirstOrDefault().ORTHO_COLLECTION</td>
                        <td>@Model.Where(x => x.MONTH == 12).FirstOrDefault().ORTHO_COLLECTION</td>

                        <td>@Math.Round(Model.Average(x => x.ORTHO_COLLECTION)) </td>

                    </tr>
                    <tr>

                        <td>Collection %(Net Collections/Net Production)</td>
                        <td>@Model.Where(x => x.MONTH == 1).FirstOrDefault().COLLECTION_PERC</td>
                        <td>@Model.Where(x => x.MONTH == 2).FirstOrDefault().COLLECTION_PERC</td>
                        <td>@Model.Where(x => x.MONTH == 3).FirstOrDefault().COLLECTION_PERC</td>
                        <td>@Model.Where(x => x.MONTH == 4).FirstOrDefault().COLLECTION_PERC</td>
                        <td>@Model.Where(x => x.MONTH == 5).FirstOrDefault().COLLECTION_PERC</td>
                        <td>@Model.Where(x => x.MONTH == 6).FirstOrDefault().COLLECTION_PERC</td>
                        <td>@Model.Where(x => x.MONTH == 7).FirstOrDefault().COLLECTION_PERC</td>
                        <td>@Model.Where(x => x.MONTH == 8).FirstOrDefault().COLLECTION_PERC</td>
                        <td>@Model.Where(x => x.MONTH == 9).FirstOrDefault().COLLECTION_PERC</td>
                        <td>@Model.Where(x => x.MONTH == 10).FirstOrDefault().COLLECTION_PERC</td>
                        <td>@Model.Where(x => x.MONTH == 11).FirstOrDefault().COLLECTION_PERC</td>
                        <td>@Model.Where(x => x.MONTH == 12).FirstOrDefault().COLLECTION_PERC</td>

                        <td>@Math.Round(Model.Average(x => x.COLLECTION_PERC)) </td>
                    </tr>

                    <tr>

                        <td>Total Tx Planned</td>
                        <td>@Model.Where(x => x.MONTH == 1).FirstOrDefault().TOTAL_TAX_PLANNED</td>
                        <td>@Model.Where(x => x.MONTH == 2).FirstOrDefault().TOTAL_TAX_PLANNED</td>
                        <td>@Model.Where(x => x.MONTH == 3).FirstOrDefault().TOTAL_TAX_PLANNED</td>
                        <td>@Model.Where(x => x.MONTH == 4).FirstOrDefault().TOTAL_TAX_PLANNED</td>
                        <td>@Model.Where(x => x.MONTH == 5).FirstOrDefault().TOTAL_TAX_PLANNED</td>
                        <td>@Model.Where(x => x.MONTH == 6).FirstOrDefault().TOTAL_TAX_PLANNED</td>
                        <td>@Model.Where(x => x.MONTH == 7).FirstOrDefault().TOTAL_TAX_PLANNED</td>
                        <td>@Model.Where(x => x.MONTH == 8).FirstOrDefault().TOTAL_TAX_PLANNED</td>
                        <td>@Model.Where(x => x.MONTH == 9).FirstOrDefault().TOTAL_TAX_PLANNED</td>
                        <td>@Model.Where(x => x.MONTH == 10).FirstOrDefault().TOTAL_TAX_PLANNED</td>
                        <td>@Model.Where(x => x.MONTH == 11).FirstOrDefault().TOTAL_TAX_PLANNED</td>
                        <td>@Model.Where(x => x.MONTH == 12).FirstOrDefault().TOTAL_TAX_PLANNED</td>

                        <td>@Math.Round(Model.Average(x => x.TOTAL_TAX_PLANNED)) </td>
                    </tr>
                    <tr>

                        <td> # Opportunites (exams & consults)</td>
                        <td>@Model.Where(x => x.MONTH == 1).FirstOrDefault().OPPORTUNITIES</td>
                        <td>@Model.Where(x => x.MONTH == 2).FirstOrDefault().OPPORTUNITIES</td>
                        <td>@Model.Where(x => x.MONTH == 3).FirstOrDefault().OPPORTUNITIES</td>
                        <td>@Model.Where(x => x.MONTH == 4).FirstOrDefault().OPPORTUNITIES</td>
                        <td>@Model.Where(x => x.MONTH == 5).FirstOrDefault().OPPORTUNITIES</td>
                        <td>@Model.Where(x => x.MONTH == 6).FirstOrDefault().OPPORTUNITIES</td>
                        <td>@Model.Where(x => x.MONTH == 7).FirstOrDefault().OPPORTUNITIES</td>
                        <td>@Model.Where(x => x.MONTH == 8).FirstOrDefault().OPPORTUNITIES</td>
                        <td>@Model.Where(x => x.MONTH == 9).FirstOrDefault().OPPORTUNITIES</td>
                        <td>@Model.Where(x => x.MONTH == 10).FirstOrDefault().OPPORTUNITIES</td>
                        <td>@Model.Where(x => x.MONTH == 11).FirstOrDefault().OPPORTUNITIES</td>
                        <td>@Model.Where(x => x.MONTH == 12).FirstOrDefault().OPPORTUNITIES</td>

                        <td>@Math.Round(Model.Average(x => x.OPPORTUNITIES)) </td>

                    </tr>
                    <tr>

                        <td>Average Tx Planned per Opportunity</td>
                        <td>@Model.Where(x => x.MONTH == 1).FirstOrDefault().AVG_TAX_PER_NEWPTS</td>
                        <td>@Model.Where(x => x.MONTH == 2).FirstOrDefault().AVG_TAX_PER_NEWPTS</td>
                        <td>@Model.Where(x => x.MONTH == 3).FirstOrDefault().AVG_TAX_PER_NEWPTS</td>
                        <td>@Model.Where(x => x.MONTH == 4).FirstOrDefault().AVG_TAX_PER_NEWPTS</td>
                        <td>@Model.Where(x => x.MONTH == 5).FirstOrDefault().AVG_TAX_PER_NEWPTS</td>
                        <td>@Model.Where(x => x.MONTH == 6).FirstOrDefault().AVG_TAX_PER_NEWPTS</td>
                        <td>@Model.Where(x => x.MONTH == 7).FirstOrDefault().AVG_TAX_PER_NEWPTS</td>
                        <td>@Model.Where(x => x.MONTH == 8).FirstOrDefault().AVG_TAX_PER_NEWPTS</td>
                        <td>@Model.Where(x => x.MONTH == 9).FirstOrDefault().AVG_TAX_PER_NEWPTS</td>
                        <td>@Model.Where(x => x.MONTH == 10).FirstOrDefault().AVG_TAX_PER_NEWPTS</td>
                        <td>@Model.Where(x => x.MONTH == 11).FirstOrDefault().AVG_TAX_PER_NEWPTS</td>
                        <td>@Model.Where(x => x.MONTH == 12).FirstOrDefault().AVG_TAX_PER_NEWPTS</td>

                        <td>@Math.Round(Model.Average(x => x.AVG_TAX_PER_NEWPTS)) </td>

                    </tr>
                    <tr>

                        <td>Gross Hyg Production</td>
                        <td>@Model.Where(x => x.MONTH == 1).FirstOrDefault().GOSS_HYG_PRODUCTION</td>
                        <td>@Model.Where(x => x.MONTH == 2).FirstOrDefault().GOSS_HYG_PRODUCTION</td>
                        <td>@Model.Where(x => x.MONTH == 3).FirstOrDefault().GOSS_HYG_PRODUCTION</td>
                        <td>@Model.Where(x => x.MONTH == 4).FirstOrDefault().GOSS_HYG_PRODUCTION</td>
                        <td>@Model.Where(x => x.MONTH == 5).FirstOrDefault().GOSS_HYG_PRODUCTION</td>
                        <td>@Model.Where(x => x.MONTH == 6).FirstOrDefault().GOSS_HYG_PRODUCTION</td>
                        <td>@Model.Where(x => x.MONTH == 7).FirstOrDefault().GOSS_HYG_PRODUCTION</td>
                        <td>@Model.Where(x => x.MONTH == 8).FirstOrDefault().GOSS_HYG_PRODUCTION</td>
                        <td>@Model.Where(x => x.MONTH == 9).FirstOrDefault().GOSS_HYG_PRODUCTION</td>
                        <td>@Model.Where(x => x.MONTH == 10).FirstOrDefault().GOSS_HYG_PRODUCTION</td>
                        <td>@Model.Where(x => x.MONTH == 11).FirstOrDefault().GOSS_HYG_PRODUCTION</td>
                        <td>@Model.Where(x => x.MONTH == 12).FirstOrDefault().GOSS_HYG_PRODUCTION</td>

                        <td>@Math.Round(Model.Average(x => x.GOSS_HYG_PRODUCTION)) </td>

                    </tr>
                    <tr>

                        <td>Hyg Adjustments</td>
                        <td>@Model.Where(x => x.MONTH == 1).FirstOrDefault().HYG_ADJUSTMENTS</td>
                        <td>@Model.Where(x => x.MONTH == 2).FirstOrDefault().HYG_ADJUSTMENTS</td>
                        <td>@Model.Where(x => x.MONTH == 3).FirstOrDefault().HYG_ADJUSTMENTS</td>
                        <td>@Model.Where(x => x.MONTH == 4).FirstOrDefault().HYG_ADJUSTMENTS</td>
                        <td>@Model.Where(x => x.MONTH == 5).FirstOrDefault().HYG_ADJUSTMENTS</td>
                        <td>@Model.Where(x => x.MONTH == 6).FirstOrDefault().HYG_ADJUSTMENTS</td>
                        <td>@Model.Where(x => x.MONTH == 7).FirstOrDefault().HYG_ADJUSTMENTS</td>
                        <td>@Model.Where(x => x.MONTH == 8).FirstOrDefault().HYG_ADJUSTMENTS</td>
                        <td>@Model.Where(x => x.MONTH == 9).FirstOrDefault().HYG_ADJUSTMENTS</td>
                        <td>@Model.Where(x => x.MONTH == 10).FirstOrDefault().HYG_ADJUSTMENTS</td>
                        <td>@Model.Where(x => x.MONTH == 11).FirstOrDefault().HYG_ADJUSTMENTS</td>
                        <td>@Model.Where(x => x.MONTH == 12).FirstOrDefault().HYG_ADJUSTMENTS</td>

                        <td>@Math.Round(Model.Average(x => x.HYG_ADJUSTMENTS)) </td>

                    </tr>
                    <tr>

                        <td>  Net Hyg Production </td>
                        <td>@Model.Where(x => x.MONTH == 1).FirstOrDefault().NET_HYG_PRODUCTION</td>
                        <td>@Model.Where(x => x.MONTH == 2).FirstOrDefault().NET_HYG_PRODUCTION</td>
                        <td>@Model.Where(x => x.MONTH == 3).FirstOrDefault().NET_HYG_PRODUCTION</td>
                        <td>@Model.Where(x => x.MONTH == 4).FirstOrDefault().NET_HYG_PRODUCTION</td>
                        <td>@Model.Where(x => x.MONTH == 5).FirstOrDefault().NET_HYG_PRODUCTION</td>
                        <td>@Model.Where(x => x.MONTH == 6).FirstOrDefault().NET_HYG_PRODUCTION</td>
                        <td>@Model.Where(x => x.MONTH == 7).FirstOrDefault().NET_HYG_PRODUCTION</td>
                        <td>@Model.Where(x => x.MONTH == 8).FirstOrDefault().NET_HYG_PRODUCTION</td>
                        <td>@Model.Where(x => x.MONTH == 9).FirstOrDefault().NET_HYG_PRODUCTION</td>
                        <td>@Model.Where(x => x.MONTH == 10).FirstOrDefault().NET_HYG_PRODUCTION</td>
                        <td>@Model.Where(x => x.MONTH == 11).FirstOrDefault().NET_HYG_PRODUCTION</td>
                        <td>@Model.Where(x => x.MONTH == 12).FirstOrDefault().NET_HYG_PRODUCTION</td>

                        <td>@Math.Round(Model.Average(x => x.NET_HYG_PRODUCTION)) </td>

                    </tr>
                    <tr>


                        <td>% of Net Production that was Net Hyg </td>
                        <td>@Model.Where(x => x.MONTH == 1).FirstOrDefault().PER_NET_PRODUCTION_NET_HYG</td>
                        <td>@Model.Where(x => x.MONTH == 2).FirstOrDefault().PER_NET_PRODUCTION_NET_HYG</td>
                        <td>@Model.Where(x => x.MONTH == 3).FirstOrDefault().PER_NET_PRODUCTION_NET_HYG</td>
                        <td>@Model.Where(x => x.MONTH == 4).FirstOrDefault().PER_NET_PRODUCTION_NET_HYG</td>
                        <td>@Model.Where(x => x.MONTH == 5).FirstOrDefault().PER_NET_PRODUCTION_NET_HYG</td>
                        <td>@Model.Where(x => x.MONTH == 6).FirstOrDefault().PER_NET_PRODUCTION_NET_HYG</td>
                        <td>@Model.Where(x => x.MONTH == 7).FirstOrDefault().PER_NET_PRODUCTION_NET_HYG</td>
                        <td>@Model.Where(x => x.MONTH == 8).FirstOrDefault().PER_NET_PRODUCTION_NET_HYG</td>
                        <td>@Model.Where(x => x.MONTH == 9).FirstOrDefault().PER_NET_PRODUCTION_NET_HYG</td>
                        <td>@Model.Where(x => x.MONTH == 10).FirstOrDefault().PER_NET_PRODUCTION_NET_HYG</td>
                        <td>@Model.Where(x => x.MONTH == 11).FirstOrDefault().PER_NET_PRODUCTION_NET_HYG</td>
                        <td>@Model.Where(x => x.MONTH == 12).FirstOrDefault().PER_NET_PRODUCTION_NET_HYG</td>

                        <td>@Math.Round(Model.Average(x => x.PER_NET_PRODUCTION_NET_HYG)) </td>

                    </tr>
                    <tr>

                        <td>   Gross Perio Production</td>
                        <td>@Model.Where(x => x.MONTH == 1).FirstOrDefault().GOSS_PERIO_PRODUCTION</td>
                        <td>@Model.Where(x => x.MONTH == 2).FirstOrDefault().GOSS_PERIO_PRODUCTION</td>
                        <td>@Model.Where(x => x.MONTH == 3).FirstOrDefault().GOSS_PERIO_PRODUCTION</td>
                        <td>@Model.Where(x => x.MONTH == 4).FirstOrDefault().GOSS_PERIO_PRODUCTION</td>
                        <td>@Model.Where(x => x.MONTH == 5).FirstOrDefault().GOSS_PERIO_PRODUCTION</td>
                        <td>@Model.Where(x => x.MONTH == 6).FirstOrDefault().GOSS_PERIO_PRODUCTION</td>
                        <td>@Model.Where(x => x.MONTH == 7).FirstOrDefault().GOSS_PERIO_PRODUCTION</td>
                        <td>@Model.Where(x => x.MONTH == 8).FirstOrDefault().GOSS_PERIO_PRODUCTION</td>
                        <td>@Model.Where(x => x.MONTH == 9).FirstOrDefault().GOSS_PERIO_PRODUCTION</td>
                        <td>@Model.Where(x => x.MONTH == 10).FirstOrDefault().GOSS_PERIO_PRODUCTION</td>
                        <td>@Model.Where(x => x.MONTH == 11).FirstOrDefault().GOSS_PERIO_PRODUCTION</td>
                        <td>@Model.Where(x => x.MONTH == 12).FirstOrDefault().GOSS_PERIO_PRODUCTION</td>

                        <td>@Math.Round(Model.Average(x => x.GOSS_PERIO_PRODUCTION)) </td>
                    </tr>

                    <tr>

                        <td>% of Gross Hyg Production that was Perio </td>
                        <td>@Model.Where(x => x.MONTH == 1).FirstOrDefault().PER_GOSS_HYG_PRODUCTION_PERIO</td>
                        <td>@Model.Where(x => x.MONTH == 2).FirstOrDefault().PER_GOSS_HYG_PRODUCTION_PERIO</td>
                        <td>@Model.Where(x => x.MONTH == 3).FirstOrDefault().PER_GOSS_HYG_PRODUCTION_PERIO</td>
                        <td>@Model.Where(x => x.MONTH == 4).FirstOrDefault().PER_GOSS_HYG_PRODUCTION_PERIO</td>
                        <td>@Model.Where(x => x.MONTH == 5).FirstOrDefault().PER_GOSS_HYG_PRODUCTION_PERIO</td>
                        <td>@Model.Where(x => x.MONTH == 6).FirstOrDefault().PER_GOSS_HYG_PRODUCTION_PERIO</td>
                        <td>@Model.Where(x => x.MONTH == 7).FirstOrDefault().PER_GOSS_HYG_PRODUCTION_PERIO</td>
                        <td>@Model.Where(x => x.MONTH == 8).FirstOrDefault().PER_GOSS_HYG_PRODUCTION_PERIO</td>
                        <td>@Model.Where(x => x.MONTH == 9).FirstOrDefault().PER_GOSS_HYG_PRODUCTION_PERIO</td>
                        <td>@Model.Where(x => x.MONTH == 10).FirstOrDefault().PER_GOSS_HYG_PRODUCTION_PERIO</td>
                        <td>@Model.Where(x => x.MONTH == 11).FirstOrDefault().PER_GOSS_HYG_PRODUCTION_PERIO</td>
                        <td>@Model.Where(x => x.MONTH == 12).FirstOrDefault().PER_GOSS_HYG_PRODUCTION_PERIO</td>

                        <td>@Math.Round(Model.Average(x => x.PER_GOSS_HYG_PRODUCTION_PERIO)) </td>

                    </tr>
                    <tr>

                        <td> New Pts</td>
                        <td>@Model.Where(x => x.MONTH == 1).FirstOrDefault().NEW_PTS</td>
                        <td>@Model.Where(x => x.MONTH == 2).FirstOrDefault().NEW_PTS</td>
                        <td>@Model.Where(x => x.MONTH == 3).FirstOrDefault().NEW_PTS</td>
                        <td>@Model.Where(x => x.MONTH == 4).FirstOrDefault().NEW_PTS</td>
                        <td>@Model.Where(x => x.MONTH == 5).FirstOrDefault().NEW_PTS</td>
                        <td>@Model.Where(x => x.MONTH == 6).FirstOrDefault().NEW_PTS</td>
                        <td>@Model.Where(x => x.MONTH == 7).FirstOrDefault().NEW_PTS</td>
                        <td>@Model.Where(x => x.MONTH == 8).FirstOrDefault().NEW_PTS</td>
                        <td>@Model.Where(x => x.MONTH == 9).FirstOrDefault().NEW_PTS</td>
                        <td>@Model.Where(x => x.MONTH == 10).FirstOrDefault().NEW_PTS</td>
                        <td>@Model.Where(x => x.MONTH == 11).FirstOrDefault().NEW_PTS</td>
                        <td>@Model.Where(x => x.MONTH == 12).FirstOrDefault().NEW_PTS</td>

                        <td>@Math.Round(Model.Average(x => x.NEW_PTS)) </td>

                    </tr>
                    <tr>

                        <td> New Pts - Amount Tx Planned </td>
                        <td>@Model.Where(x => x.MONTH == 1).FirstOrDefault().NEW_PTS_AMT_TAX</td>
                        <td>@Model.Where(x => x.MONTH == 2).FirstOrDefault().NEW_PTS_AMT_TAX</td>
                        <td>@Model.Where(x => x.MONTH == 3).FirstOrDefault().NEW_PTS_AMT_TAX</td>
                        <td>@Model.Where(x => x.MONTH == 4).FirstOrDefault().NEW_PTS_AMT_TAX</td>
                        <td>@Model.Where(x => x.MONTH == 5).FirstOrDefault().NEW_PTS_AMT_TAX</td>
                        <td>@Model.Where(x => x.MONTH == 6).FirstOrDefault().NEW_PTS_AMT_TAX</td>
                        <td>@Model.Where(x => x.MONTH == 7).FirstOrDefault().NEW_PTS_AMT_TAX</td>
                        <td>@Model.Where(x => x.MONTH == 8).FirstOrDefault().NEW_PTS_AMT_TAX</td>
                        <td>@Model.Where(x => x.MONTH == 9).FirstOrDefault().NEW_PTS_AMT_TAX</td>
                        <td>@Model.Where(x => x.MONTH == 10).FirstOrDefault().NEW_PTS_AMT_TAX</td>
                        <td>@Model.Where(x => x.MONTH == 11).FirstOrDefault().NEW_PTS_AMT_TAX</td>
                        <td>@Model.Where(x => x.MONTH == 12).FirstOrDefault().NEW_PTS_AMT_TAX</td>

                        <td>@Math.Round(Model.Average(x => x.NEW_PTS_AMT_TAX)) </td>
                    </tr>
                    <tr>

                        <td> New Pts - Amount Completed Same MONTH </td>
                        <td>@Model.Where(x => x.MONTH == 1).FirstOrDefault().NEW_PTS_AMT_COMPLETE_MONTHS</td>
                        <td>@Model.Where(x => x.MONTH == 2).FirstOrDefault().NEW_PTS_AMT_COMPLETE_MONTHS</td>
                        <td>@Model.Where(x => x.MONTH == 3).FirstOrDefault().NEW_PTS_AMT_COMPLETE_MONTHS</td>
                        <td>@Model.Where(x => x.MONTH == 4).FirstOrDefault().NEW_PTS_AMT_COMPLETE_MONTHS</td>
                        <td>@Model.Where(x => x.MONTH == 5).FirstOrDefault().NEW_PTS_AMT_COMPLETE_MONTHS</td>
                        <td>@Model.Where(x => x.MONTH == 6).FirstOrDefault().NEW_PTS_AMT_COMPLETE_MONTHS</td>
                        <td>@Model.Where(x => x.MONTH == 7).FirstOrDefault().NEW_PTS_AMT_COMPLETE_MONTHS</td>
                        <td>@Model.Where(x => x.MONTH == 8).FirstOrDefault().NEW_PTS_AMT_COMPLETE_MONTHS</td>
                        <td>@Model.Where(x => x.MONTH == 9).FirstOrDefault().NEW_PTS_AMT_COMPLETE_MONTHS</td>
                        <td>@Model.Where(x => x.MONTH == 10).FirstOrDefault().NEW_PTS_AMT_COMPLETE_MONTHS</td>
                        <td>@Model.Where(x => x.MONTH == 11).FirstOrDefault().NEW_PTS_AMT_COMPLETE_MONTHS</td>
                        <td>@Model.Where(x => x.MONTH == 12).FirstOrDefault().NEW_PTS_AMT_COMPLETE_MONTHS</td>

                        <td>@Math.Round(Model.Average(x => x.NEW_PTS_AMT_COMPLETE_MONTHS)) </td>
                    </tr>
                    <tr>

                        <td>Average Tx Planned per New Pt</td>
                        <td>@Model.Where(x => x.MONTH == 1).FirstOrDefault().AVG_TAX_PER_NEWPTS</td>
                        <td>@Model.Where(x => x.MONTH == 2).FirstOrDefault().AVG_TAX_PER_NEWPTS</td>
                        <td>@Model.Where(x => x.MONTH == 3).FirstOrDefault().AVG_TAX_PER_NEWPTS</td>
                        <td>@Model.Where(x => x.MONTH == 4).FirstOrDefault().AVG_TAX_PER_NEWPTS</td>
                        <td>@Model.Where(x => x.MONTH == 5).FirstOrDefault().AVG_TAX_PER_NEWPTS</td>
                        <td>@Model.Where(x => x.MONTH == 6).FirstOrDefault().AVG_TAX_PER_NEWPTS</td>
                        <td>@Model.Where(x => x.MONTH == 7).FirstOrDefault().AVG_TAX_PER_NEWPTS</td>
                        <td>@Model.Where(x => x.MONTH == 8).FirstOrDefault().AVG_TAX_PER_NEWPTS</td>
                        <td>@Model.Where(x => x.MONTH == 9).FirstOrDefault().AVG_TAX_PER_NEWPTS</td>
                        <td>@Model.Where(x => x.MONTH == 10).FirstOrDefault().AVG_TAX_PER_NEWPTS</td>
                        <td>@Model.Where(x => x.MONTH == 11).FirstOrDefault().AVG_TAX_PER_NEWPTS</td>
                        <td>@Model.Where(x => x.MONTH == 12).FirstOrDefault().AVG_TAX_PER_NEWPTS</td>

                        <td>@Math.Round(Model.Average(x => x.AVG_TAX_PER_NEWPTS)) </td>
                    </tr>
                    <tr>
                        <td>Completion Rate</td>
                        <td>@Model.Where(x => x.MONTH == 1).FirstOrDefault().COMPELETE_RATIO</td>
                        <td>@Model.Where(x => x.MONTH == 2).FirstOrDefault().COMPELETE_RATIO</td>
                        <td>@Model.Where(x => x.MONTH == 3).FirstOrDefault().COMPELETE_RATIO</td>
                        <td>@Model.Where(x => x.MONTH == 4).FirstOrDefault().COMPELETE_RATIO</td>
                        <td>@Model.Where(x => x.MONTH == 5).FirstOrDefault().COMPELETE_RATIO</td>
                        <td>@Model.Where(x => x.MONTH == 6).FirstOrDefault().COMPELETE_RATIO</td>
                        <td>@Model.Where(x => x.MONTH == 7).FirstOrDefault().COMPELETE_RATIO</td>
                        <td>@Model.Where(x => x.MONTH == 8).FirstOrDefault().COMPELETE_RATIO</td>
                        <td>@Model.Where(x => x.MONTH == 9).FirstOrDefault().COMPELETE_RATIO</td>
                        <td>@Model.Where(x => x.MONTH == 10).FirstOrDefault().COMPELETE_RATIO</td>
                        <td>@Model.Where(x => x.MONTH == 11).FirstOrDefault().COMPELETE_RATIO</td>
                        <td>@Model.Where(x => x.MONTH == 12).FirstOrDefault().COMPELETE_RATIO</td>

                        <td>@Math.Round(Model.Average(x => x.COMPELETE_RATIO)) </td>
                    </tr>

                </tbody>
            }
        }
    </table>
</div>

