﻿@model BO.ViewModel.UserCredentialsModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    string cookie_username = string.Empty;
    if (Request.Cookies["UserCredential"] != null)
    {
        cookie_username = Request.Cookies["UserCredential"].Value;
    }
    var RLURL = Common.SafeString(System.Configuration.ConfigurationManager.AppSettings["WebSiteURL"]);
    var REFERRER = Request.UrlReferrer;
}
<form id="frmForgotPwd" action="@RLURL/Login/ForgetPassword" target="_blank" method="post">
    @Html.Hidden("hdnemail", string.Empty)
</form>
<main id="main" class="referred_patient">

    <form id="frmLogin">
        <section class="section-sign-up section-login">
            <div class="container">
                <h1>Login</h1>
                <div class="sign-up-from">
                    <div id="required" class="alert alert-danger">
                        Please enter email address.
                    </div>
                    <div id="Isvalid" class="alert alert-danger">
                        Invalid username or password
                    </div>
                    <div class="form-group">
                        <label for="user name">User Name</label>
                        @* Updated Code On 07-02-2019 with Jira ID : XQ1-482 *@
                        @Html.TextBoxFor(t => t.Username, new { @class = "form-control", @value = (!string.IsNullOrWhiteSpace(cookie_username) ? cookie_username : "") })
                    </div>
                    <div class="form-group">
                        <label for="pwd">Password</label>
                        @Html.TextBoxFor(t => t.Password, new { @class = "form-control", @type = "Password" })
                        @Html.ValidationMessageFor(t => t.Password)
                    </div>
                    <div class="form-group form-checkbox-group">
                        <label class="control control--checkbox">
                           
                        </label>
                        <span class="forgot-pass">
                            <a href="javascript:;" onclick="forgotpassword();">Forgot Password?</a>
                        </span>
                    </div>
                    <button type="button" onclick="SubmitForm()" class="btn btn-default">Login</button>                  
                </div>
            </div>
        </section>
        @Html.HiddenFor(t => t.Username)
    </form>
</main>
<script src="~/Scripts/common.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".Signout").hide();
        if (isFromIndex()) {
            if ($.trim(localStorage.getItem("DocUsername")).length > 0) {
                $("#Username").val(localStorage.getItem("DocUsername"));
                $("#Username").prop("readonly", true);
            }
            
        }
    });
    @* -- Hardipsinh : Temprary we put this in comment until published on live 
        if (localStorage.getItem("token")) {
        debugger;
        location.href = "@Url.Action("Indexs", "OneClick")?HRVCA=" + encodeURIComponent(localStorage.getItem("token"));
    }*@

    $(document).keypress(function (e) {
        if (e.which == 13) {
            SubmitForm();
        }
    });

    function SubmitForm() {
        var Obj = $('#frmLogin').serializeObject();
        performAjax({
            url: '@Url.Action("Login", "OneClick", new { }, Request.Url.Scheme)',
            type: "POST",
            //dataType: "json",
            //contentType: "application/json; charset=utf-8",
            data: { model: Obj },
            success: function (data) {
                try {
                    var response = {};
                    if (typeof (data) === "object") {
                        response = data;
                    }
                    else {
                        response = JSON.parse(data);
                    }
                    if (response.IsSuccess) {
                        var User = localStorage.getItem("UserId");
                        localStorage.setItem("token", response.Result);
                        if (isFromIndex()) {
                            window.location = "@Url.Action("V2", "OneClick", new { }, Request.Url.Scheme)?UserId=" + User;
                        }
                        else {
                            window.location = "/Dashboard"
                        }
                    }
                    else {
                        $("#Isvalid").css('display', 'block');
                        setTimeout(function () {
                            $("#Isvalid").html(response.Message)
                            $("#Isvalid").hide();
                        }, 4000)
                    }
                }
                catch (e) {
                    alert("Invalid response received from server.");
                    console.error(e);
                }

            }, error: function (err) {
                alert(err);
            }
        });

    }
    function forgotpassword() {
        $("#hdnemail").val($("#Username").val() + "");
        $('#frmForgotPwd').submit();
    }
    function isFromIndex() {

        return ('@REFERRER'.indexOf("/OneClick/Index") >= 0
        || '@REFERRER' == "@HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority)/")
        && $.trim(localStorage.getItem("UserId")).length > 0
    }

</script>
