﻿ 

@{
    ViewBag.Title = "PaymentDetails";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}
<link href="~/Content/Appointment/css/maxcdn.Bootstrap.css" rel="stylesheet" />
<link href="~/Content/Appointment/css/maxcdn.Bootstrapcdn.font-awesome.css" rel="stylesheet" />
<link href="../Content/Appointment/css/jquery.dataTables.css" rel="stylesheet" />
<script src="../Content/Appointment/js/jquery.dataTables.js"></script>
<style>
   td{
       text-align:center;
   }
    .BookAppointment, .ViewAppointment {
        background: #5ebfff;
        background-image: -webkit-linear-gradient(top, #5ebfff, #1f6794);
        background-image: -moz-linear-gradient(top, #5ebfff, #1f6794);
        background-image: -ms-linear-gradient(top, #5ebfff, #1f6794);
        background-image: -o-linear-gradient(top, #5ebfff, #1f6794);
        background-image: linear-gradient(to bottom, #5ebfff, #1f6794);
        -webkit-border-radius: 1;
        -moz-border-radius: 1;
        border-radius: 1px;
        font-family: Arial;
        color: #ffffff;
        font-size: 14px;
        padding: 7px 9px;
        text-decoration: none;
        cursor: pointer;
        float: right;
        height: 27px;
    }

        .BookAppointment:hover, .ViewAppointment:hover {
            background: #3cb0fd;
            background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
            background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
            background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
            background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
            background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
            text-decoration: none;
        }

    body {
        background-color: none !important;
        background: #f1f1f1 none repeat scroll 0 0 !important;
        color: #333;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 14px;
        line-height: 1.42857;
    }

    #logo_dental {
        float: left;
        margin-top: 0 !important;
    }

    .main_contentappointment {
        background: #fff none repeat scroll 0 0;
        border: 1px solid #cccccc;
        border-radius: 5px;
        float: left;
        height: auto;
        width: 969px;
    }

    .xdsoft_datetimepicker .xdsoft_datepicker {
        width: 251px;
    }
</style>
@using (Html.BeginForm())
{
    <section id="content">
        <div class="container_16">
            <div class="main_content patient_history" style="width:100% !important">
                <div class="block docmsgs">
                    <h2 class="title" id="Get">
                        <custometg id="app_textid"> Payment Details</custometg>
                    </h2>
                    <div class="tbody">
                         @*@if (Model.Count > 0)
                         {*@
                            <table id="tblDetail">
                                <thead>
                                    <tr>
                                        <td style="width: 305px;">
                                            Doctor Name/ Office Name
                                        </td>
                                        <td style="width: 305px;">
                                            Amount
                                        </td>
                                        <td style="width: 305px;">
                                            Payment Date
                                        </td>
                                    </tr>
                                </thead>
                            </table>
                    </div>
                    @*</div>*@
                </div>
            </div>
        </div>
    </section>
}

@*<a href="#BookAppointment_popup" title="BookAppointment" class="frmreferpatients edit popup-with-form showlightbox"
       id="OpenPopupBookAppointment" style="display: none;">
    </a>
    <div id="BookAppointment_popup" class="mfp-hide white-popup-block" style="max-width:550px;">

    </div>*@
<script src="~/Content/Appointment/js/netdns.Bootstrap.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#tblDetail').dataTable
        ({
            "scrollY": "325px",
            "scrollCollapse": true,
            "paging": true,
            "ajax": {
                "url": apiUrl + "/PaymentDetails/PaymentDetails",
                "type": "GET"
            },
            "columns": [
               { "data": "AccountName", "orderable": true },
               { "data": "ActualAmount", "orderable": true },
               { "data": "PaymentDate", "orderable": true },
             
            ] 
        });
        $("#divLoading").hide();
        $("#aInbox").removeClass("current");
        $("#aMyInfo").removeClass("current");
        $("#adental_files").removeClass("current");
        $("#atreatingdoctor").removeClass("current");
        $("#appointment_tab").removeClass("current");
        $("#PaymentDetails_tab").addClass("current");
    });
</script> 