@media screen and (max-width: 1600px){
    /************************Mistakes CSS************************/
    .mistakes .mistake_right, .mistakes .mistake_left {min-height: 567px;}
    .common, .conceptions{padding-top: 65px;}
}
@media screen and (max-width: 1300px){
    /************************Banner CSS************************/
    .dentist_guide {width: 604px;    margin-left: 165px;    padding: 132px 0px 0px;}
    .banner .title h2 {padding-right: 0px;}
    .dentist_guide p {padding-right: 268px;}
    .email_download {padding: 130px 0px 0px;}
    
    /************************Mistakes CSS************************/
    .common {width: 627px;}
    .conceptions {margin-left: 66px;}
    .common, .conceptions{padding-top: 44px;}
    .conceptions ul li {margin-bottom: 46px;}
    .mistakes .mistake_right, .mistakes .mistake_left {min-height: 538px;}
}
@media screen and (max-width: 1199px){
    /************************Banner CSS************************/
    .banner h1{font-size: 40px; line-height: 46px;}
    .email_download {padding: 70px 0px 0px;width: 272px;}
    .dentist_guide {width: 478px;margin-left: 150px;padding: 70px 0px 0px;}
    .dentist_guide p {padding-right: 218px;}
    .dentist_guide img {width: 220px;}
    .title h2{font-size: 30px;line-height: normal;}
    .banner .title h2 {line-height: normal;}
    
    /************************Mistakes CSS************************/
    .common {width: 514px;}
    .conceptions {margin-left: 39px;}
    .mistakes_accordion .ui-accordion-content p {padding-bottom: 10px;}
    .mistakes_accordion h3.ui-accordion-header {font-size: 20px;}
    .common, .conceptions {padding-top: 24px;}
    .mistakes .mistake_left {background-size: cover;    background-position: 92%;}
    
    /************************Tips CSS************************/
    .tips {padding: 70px 0px 51px;}
    .tips ol li {padding: 15px 0px 20px 0px;}
    .tips .title h2 {line-height: normal;}
    
    /************************Download CSS************************/
    .download_pdf .title h2{line-height: normal;}
    .download_pdf label {padding-top: 0px;}
    .download_pdf input[type="submit"] {margin-top: 21px;}
    
    /************************About CSS************************/
    .about {padding: 75px 0px;}
    .about p {padding-bottom: 16px;}
    
    /************************Get in Touch CSS************************/
    .get_in_touch {padding: 75px 0px;}    
    
    /************************Footer CSS************************/
    .footer_top {padding: 26px 0px 0px;}
    .footer_bottom ul {padding: 22px 0;}
    .footer_top ul li {padding-bottom: 10px;}
    .footer_bottom .copyright {padding: 20px 0px 25px;}
    .site_verfiy {margin-top: 22px;}
    .site_verfiy ul {padding: 16px 0px 19px;}
    .site_verfiy ul li {width: 15.35%;padding-bottom: 0px;}
    .footer_top h4 {padding-bottom: 14px;}
    
    /************************Popup CSS************************/
    .modal_text a{font-size: 30px;margin: -10px auto 0;}
}
@media screen and (max-width: 991px){
    /************************Header CSS************************/
    header{padding: 16px 0px;}
    
    /************************Banner CSS************************/
    .title h2{font-size: 28px;}
    .banner_left{width: 100%;padding-right: 15px;}
    .banner_left:after{display: none;}
    .banner_right{width: 100%;    display: table;}
    .email_download {width: 720px;float: none;min-height: 1px;padding: 65px 0px;margin: 0 auto;text-align: center;}
    .dentist_guide {width: 720px;margin: 0px auto;min-height: 1px;padding: 65px 0px;float: none;}
    .email_download .banner_btn{margin: 0 auto;display: table;}
    .dentist_guide img {width: 164px;}
    .banner h1 {font-size: 36px;line-height: normal;}
    .dentist_guide p {font-size: 16px;line-height: normal;padding-right: 218px;}
    
    /************************Mistakes CSS************************/
    .mistakes .mistake_right, .mistakes .mistake_left {min-height: 1px;width: 100%;}
    .common, .conceptions {width: 720px;margin: 0px auto;padding: 30px 0px;float: none;}
    .conceptions ul li {margin-bottom: 30px;font-size: 20px;}
    .mistakes .mistake_left {background-position: 0 0;}
    
    /************************Tips CSS************************/
    .tips {padding: 65px 0px 51px;}
    .tips ol li {padding: 10px 0px 15px 0px;line-height: normal;font-size: 20px;}
    .tips .title h2{padding-right: 0px;}
    
    /************************Download CSS************************/
    .download_pdf label {padding-top: 8px;}
    .download_pdf input[type="submit"] {margin-top: 29px;}
    
    /************************About CSS************************/
    .about {padding: 65px 0px;}
    .about p {padding-bottom: 12px;font-size: 16px;}
    
    /************************Get in Touch CSS************************/
    .get_in_touch {padding: 65px 0px;}
    
    /************************Footer CSS************************/
    .footer_top {padding: 20px 0px 0px;}
    .footer_top h4 {padding-bottom: 10px;}
    .footer_top ul li {padding-bottom: 8px;}
    .site_verfiy ul li {width: 23%;padding-bottom: 0px;margin: 0px 5px 8px;}
    .site_verfiy ul {padding: 10px 0px 5px;}
    .footer_bottom ul {padding: 16px 0;}
    .footer_bottom ul li {padding: 0px 16px;}
    .footer_bottom .copyright {padding: 13px 0px 18px;}
    
    /************************Popup CSS************************/
    .modal_text a{font-size: 26px;margin: 0px auto 0;}
    .modal_text p, .modal_text span{font-size: 16px;line-height: normal;}
    .modal_text p {padding-bottom: 10px;}
    .modal_text span {padding: 6px 60px 18px;}
    .modal_text input[type="submit"] {margin-bottom: 12px;}
}
@media (min-width: 768px){
    .modal-dialog {width: 752px;}
}
@media screen and (max-width: 767px){
    /************************Header CSS************************/
    .header_phone li a {font-size: 16px;}
    .header_phone li a.phone:before {margin-right: 4px;}
    header .col-sm-3, header .col-sm-9{width: 50%;float: left;}
    
    /************************Banner CSS************************/
    .title h2{font-size: 26px;text-align: center;}
    .banner h1 {font-size: 30px;}
    .email_download, .dentist_guide {padding: 50px 0px;}
    .email_download .banner_btn {padding: 8px 14px; font-size: 16px;}
    .email_download, .dentist_guide {width: 100%;}
    .dentist_guide p {line-height: normal;padding-right: 170px; padding-bottom: 10px;}
    .email_download .input_text{height: 36px;}
    .banner {margin-bottom: 0px;}
    
    /************************Mistakes CSS************************/
    .common, .conceptions {width: 100%;}
    .conceptions ul {padding-top: 18px;}
    .conceptions ul li{font-size: 18px;margin-bottom: 20px;line-height: normal;padding-left: 0px;text-align: center;}
    .conceptions ul li:before{position: relative;left: 0px;top: -3px;    margin-right: 10px;}
    .mistakes_accordion h3.ui-accordion-header {font-size: 18px;}
    .mistakes_accordion .ui-accordion-content p {font-size: 16px;line-height: normal;}
    .conceptions p {font-size: 16px;line-height: normal;    text-align: center;}
    .mistakes_accordion .ui-icon {right: 8px;}
    .mistakes{margin-bottom: 0px;}
    
    /************************Tips CSS************************/
    .tips {padding: 50px 0px;}
    .tips .title h2 br{display: none;}
    .tips .title {padding-bottom: 26px;}
    .tips ol{margin-top: 10px;}
    .tips img{margin: 0 auto;}
    .tips ol li {padding: 10px 0px 10px 0px;font-size: 18px;}
    .tips a {font-size: 16px;padding: 8px 12px;}
    
    /************************Download CSS************************/
    .download_pdf label {width: 100%; text-align: center;}
    .download_pdf .input_text{height: 36px;}
    .download_pdf input[type="submit"] {margin: 20px auto 0;display: block; padding: 8px 14px;font-size: 16px;}
    .download_pdf .title h2 br{display: none;}
    
    /************************About CSS************************/
    .about {padding: 50px 0px;}
    .about .pull-right, .about .pull-left{width: 100%;}
    .about img {margin: 0 auto;    width: 300px;}
    .about .title {padding-bottom: 8px;padding-top: 15px;}
    .about p {text-align: center;padding-bottom: 8px;line-height: normal;}
    
    /************************Get in Touch CSS************************/
    .get_in_touch {padding: 50px 0px;background-size: cover;background-position: 86% 50%;}
    .recordlinc_links{text-align: center;padding-top: 8px;}
    .recordlinc_links h3{font-size: 20px;}
    .recordlinc_links ul {padding-top: 12px;}
    .recordlinc_form input[type="submit"]{float: none;margin: 0 auto;display: block;padding: 6px 12px;font-size: 16px;}
    .recordlinc_form .col-sm-12{display: inline-block;width: 100%;}
    .recordlinc_form .input_text {height: 36px;}
    .recordlinc_form textarea{height: 96px;}
    .recordlinc_form label{font-size: 16px;margin-bottom: 2px;}
    
    /************************Footer CSS************************/
    .footer_top {padding: 20px 0px 0px;}
    .footer_top h4 {font-size: 16px;    padding-bottom: 8px;}
    .footer_top ul li {padding-bottom: 4px;}
    .site_verfiy {margin-top: 16px;}
    .site_verfiy ul li {width: 30%;}
    .footer_bottom ul li {padding: 0px 10px;}
    .footer_bottom ul {padding: 10px 0;}
    .footer_bottom ul li a{font-size: 16px;}
    .footer_bottom .copyright {padding: 8px 0px 13px;}
    .footer_bottom .copyright p {font-size: 16px;}
    
    /************************Popup CSS************************/
    .modal_text a{font-size: 22px;margin: 0px auto 0;}
    .modal_text p {padding-bottom: 8px;}
    .modal_text input[type="submit"]{padding: 8px 14px;font-size: 16px;    margin-bottom: 6px;}
    .thanks_data_modal .modal-header button {width: 22px;height: 22px;background-position: -9px -26px;}
    .modal_text span {padding: 6px 30px 18px;}
    .thanks_data_modal .modal-body img {width: 200px;}
}
@media screen and (max-width: 567px){
    /************************Header CSS************************/
    header {padding: 10px 0px;}
    
    /************************Banner CSS************************/
    .title h2 {font-size: 24px;}
    .banner h1 {font-size: 26px;}
    .email_download {padding: 30px 0px;}
    .dentist_guide{padding: 30px 0px 0px;}
    .dentist_guide p {padding-right: 0px;padding-bottom: 10px;    text-align: center;}
    .dentist_guide img {margin: 10px auto 0;position: relative;}
    
    /************************Mistakes CSS************************/
    .conceptions ul li {font-size: 16px;margin-bottom: 16px;}
    .mistakes_accordion h3.ui-accordion-header {font-size: 16px;}
    
    /************************Tips CSS************************/
    .tips {padding: 30px 0px;}
    .tips ol li { font-size: 16px;padding: 5px 0px;}
    
    /************************About CSS************************/
    .about {padding: 30px 0px;}
    .about img {margin: 0 auto;    width: 250px;}
    
    /************************Get in Touch CSS************************/
    .get_in_touch {padding: 30px 0px;}
    .recordlinc_links h3 {font-size: 18px;}
    .recordlinc_links ul li a {font-size: 16px;}
    .recordlinc_form .col-xs-6{width: 100%;float: none;}
    
    /************************Footer CSS************************/
    .footer_top .footer_social li a {padding-left: 26px;}
    
    /************************Popup CSS************************/
    .modal_text span {padding: 6px 0px 18px;}
    .thanks_data_modal .modal-body img {width: 160px;}
}
@media screen and (max-width: 400px){
    .footer_top .col-sm-3.col-xs-4{width: 50%;}
    .footer_top .col-sm-6.col-xs-4{width: 100%;float: none;display: inline-block;padding-top: 10px;}
}
@media screen and (max-width: 479px){
    /************************Header CSS************************/
    header .col-sm-3, header .col-sm-9 {width: 100%;float: none;}
    .logo img{margin: 0 auto;}
    .header_phone {text-align: center;}
    
    /************************Banner CSS************************/
    .title h2 {font-size: 20px;}
    .banner h1 {font-size: 22px;}
    
    /************************Footer CSS************************/
    .footer_top .footer_social li a {padding-left: 26px;}
    .site_verfiy ul li {width: 44%;}
}

