﻿@model List<BO.ViewModel.RewardsLongevity>
@foreach (var item in Model)
{
    <tr class="Step" id="@item.LM_Id">
        <td data-th="Institution Attended">
            @item.MonthsofLongevity
        </td>
        <td data-th="Field of Study/Degree">@item.Multiplier</td>
        <td data-th="Field of Study/Degree">@item.PlanName</td>
        <td data-th="Actions" style="text-align:center;">
            <a href="#add-reward-plan" data-toggle="modal" onclick="OpenLongitivtyPopUp(@item.LM_Id)"><i class="ico-edit"></i></a>
            <a href="javascript:;" onclick="OpenConfrimPopUp(@item.LM_Id)"><i class="ico-delete4"></i></a>
        </td>
    </tr>
}