﻿@model BO.ViewModel.SuperPlan
<script src="~/Scripts/common.js"></script>
 
<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header blue-bg">
            <button type="button" class="close close-circle" data-dismiss="modal">&times;</button>
            <h3 class="modal-title white">
                @if (Model.PlanId>0)
                {
                    @Html.Raw("Edit Plan")
                }
                else
                {
                    @Html.Raw("Add Plan")
                }
            </h3>
        </div>
        <form id="SuperPlanForm">
            <div class="modal-body">
                <div class="row">
                    <div class="form-group">
                        <label>Plan Name:<font color="red">*</font></label>
                        @Html.TextBoxFor(m => m.PlanName, new { @class = "form-control alphaonly", @id = "PlanName" })
                        @*@Html.ValidationMessageFor(m => m.PlanName, "", new { @class = "text-danger" })*@
                    </div>
                    <div class="form-group">
                        <label>Amount:<font color="red">*</font></label>
                        @*<input type="text" class="form-control numericOnly" id="Amount" value="@Model.Amount">*@
                        @Html.TextBoxFor(m => m.Amount, new { @class = "form-control numericOnly", @id = "Amount" , @onkeyup = "Onlyonedotallow(this);" })
                      
                    </div>
                    <div class="form-group">
                        <label>Register Reward:<font color="red">*</font></label>
                        @*<input type="text" class="form-control numericOnly" id="Amount" value="@Model.Amount">*@
                        @Html.TextBoxFor(m => m.RewardPoint, new { @class = "form-control numericOnly", @id = "RewardPoint", @onkeyup = "Onlyonedotallow(this);" })

                    </div>
                    <div class="form-group">
                        <label>Point For $ 1:<font color="red">*</font></label>
                        @*<input type="text" class="form-control numericOnly" id="Amount" value="@Model.Amount">*@
                        @Html.TextBoxFor(m => m.Points, new { @class = "form-control numericOnly", @id = "Points", @onkeyup = "Onlyonedotallow(this);" })

                    </div>
                    <div class="form-group">
                        <label>Exam codes:<font color="red">*</font></label>
                        @*<input type="text" class="form-control numericOnly" id="Amount" value="@Model.Amount">*@
                        @Html.TextBoxFor(m => m.ExamCodes, new { @class = "form-control numericOnlyUp", @id = "ExamCodes" })

                    </div>

                </div>

            </div>
        </form>
        <div class="modal-footer bdr-top-no">
            <div class="btn-group btn-holder">
                <button type="button" class="btn btn-default btn1" data-dismiss="modal"><i class="ico-corss2"></i>Cancel</button>
                @*<button type="button" class="btn btn-default btn1" data-dismiss="modal"><i class="ico-corss2"></i>Remove</button>*@
                <button type="button" id="btn-saveplan" class="btn btn-default btn2 blue-bg mrgn-right-0" onclick="SavePlan(@Model.PlanId)"><i class="ico-save"></i>Save</button>
            </div>
        </div>
    </div>
</div>

@* SUP-184 *@
<script>
    $(".numericOnlyUp").bind("keypress", function (e) {
        var arr = [0, 8, 9, 16, 17, 20, 35, 36, 37, 38, 39, 40, 45, 46];
        // Allow letters
        for (var i = 48; i <= 57; i++) {
            arr.push(i);
        }

        // Prevent default if not in array
        if (jQuery.inArray(e.which, arr) === -1) {
            e.preventDefault();
            return false;
        }

        var regex = new RegExp("^[a-zA-Z0-9]+$");
        var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
        if (!regex.test(key)) {
            event.preventDefault();
            return false;
        }
    });
    $(".numericOnly").bind("paste", function (e) {
        return false;
    });
    $(".numericOnly").bind("drop", function (e) {
        return false;
    });
</script>
