﻿@model List<BO.ViewModel.ProcedureCode>

@foreach (var item in Model)
{
    <tr class="trclone" id="@item.ProcedureCodeId">
        <td data-th="Institution Attended"> 
            @item.Procedurecode
        </td>
        <td data-th="Field of Study/Degree">
            <input id="ProcedureId" type="hidden" name="ProcedureId" value="@item.ProcedureCodeId" />
            @item.ProcedureName
        </td>
        <td data-th="Field of Study/Degree">
        @Html.TextBox("SuperBucktextbox", item.SuperBucksReward)</td>
        <td data-th="Field of Study/Degree">@item.PlanName</td>
        @if (item.IsExam == true)
        {
            <td style="text-align:center">
                @Html.CheckBox("Ischeck", true,new { id = "isExamcheckbox" })
                @*<input id="isExamcheckbox" type="checkbox" checked="checked" name="Ischeck" value="1" />*@

            </td>
        }
        else
        {
            <td style="text-align:center">
                <input id="isExamcheckbox" type="checkbox" name="Ischeck" value="0" />
            </td>
        }
        <td data-th="Actions" style="text-align:center;">
            <a href="javascript:;" onclick="OpenConfrimPopUp(@item.ProcedureCodeId)"><i class="ico-delete4"></i></a>
        </td>
    </tr>
}