﻿@model IEnumerable<BO.ViewModel.DentistReward>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_NewSiteLayoutInner.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/css/select2.min.css" />
<script type="text/javascript" src="~/Scripts/select2.min.js"></script>
<style>
    .select2-container--default .select2-results__option[aria-disabled=true] {
        display: none !important;
    }

    .select2-results__option[aria-selected=true] {
        display: none !important;
    }
</style>

<main id="main" role="main">
    <div class="container">
        <div class="inbox-form">
            <h2>Reward Setting</h2>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.RewardText)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RewardCode)
                    </th>
                </tr>

                @{
                    var cnt = 0;
                }
                @foreach (var item in Model)
                {
                    cnt++;
                    <tr data-settingid="@item.SettingId" data-step="@cnt" class="reward-row" id="row">
                        <td>
                            @Html.DisplayFor(modelItem => item.RewardText)
                            @Html.HiddenFor(modelItem => item.OptionId)
                        </td>
                        <td>
                            <div class="">
                                @if (!String.IsNullOrEmpty(item.RewardCode))
                                {
                                    @Html.DropDownListFor(m => item.RewardMasterId, new SelectList(ViewBag.Codelist, "Value", "Text", item.RewardMasterId), "Select Reward Code", new { @class = "form-control ddlCodeList", @style = "width:100%;" })
                                }
                            </div>
                        </td>
                    </tr>
                }

            </table>
            <p id="noreward" class="font-16" style="display:none;color:red;"></p>
            <div class="btn-group btn-holder mrgn-btm-20">
                @*<a href="javascript:void(0)" onclick="SaveRewardList()" class="btn btn-default btn1"><i class="ico-save"></i>Save</a>*@
            </div>
        </div>
    </div>
</main>

<script src="~/Content/js/Sortable/jquery-ui.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".nav").find("li.active").removeClass("active");
    });
    $(".ddlCodeList").select2({
        minimumInputLength: 1,
        multiple: false
    });

    function SaveRewardList() {
        
        var v = '';
        var RewardList = [];
        var breakOut = true;
        $('.reward-row').each(function () {
            
            var id = $(this).data('step');
            v = $(this).find("#item_RewardMasterId").val();
            if (v == '' || v == undefined) {
                $(window).scrollTop(0);
                $.toaster({ priority: 'warning', title: 'Success', message: 'Please select the Reward code of step.' + id + ' ' });
                breakOut = false;
                return false;
            }
            var reward = {};
            reward = {
                'OptionId': $(this).find("#item_OptionId").val(),
                'StartRange': $(this).find("#item_StartRange").val(),
                'EndRange': $(this).find("#item_EndRange").val(),
                'RewardMasterId': $(this).find("#item_RewardMasterId").val(),
                'SettingId': $(this).data('settingid')
            }
            RewardList.push(reward);
        });
        if (breakOut) {
            $.ajax({
                type: 'post',
                url: '/Reward/UpdateRewardList',
                data: JSON.stringify(RewardList),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    
                    if (data == true) {
                        $(window).scrollTop(0);
                        //$.toaster({ priority: 'success', title: 'Success', message: 'Rewards updated successfully.' });
                        //setTimeout(function () {
                        //    window.location.reload();
                        //}, 5000);
                    }
                    else {
                        $(window).scrollTop(0);
                        $.toaster({ priority: 'danger', title: 'Success', message: ' Failed to update Rewards.' });
                    }
                }
            })
        }
    }

    var isDirty = false;
    $(':input').change(function () {
        if (!isDirty) {
            isDirty = true;
        }
    });
    window.setInterval(function () {
        if (isDirty) {
            SaveRewardList();
            isDirty = false;
        }
    }, 30000);

    var unloadEvent = function (e) {

        var ua = window.navigator.userAgent;
        var msie = ua.indexOf("Firefox");

        if (msie > -1) {

            (e || window.event).returnValue = SaveRewardList();
            //return SaveRewardList();

        }
        else {

            return SaveRewardList();

        }

        //(e || window.event).returnValue = SaveReferralFormSettings(); //Gecko + IE
        //Webkit, Safari, Chrome etc.
    };
    window.addEventListener("beforeunload", unloadEvent);
</script>