﻿@model List<BO.ViewModel.RewardsLongevity>
@{
    ViewBag.Title = "Longevity Multiplier";
    Layout = "~/Views/Shared/_NewSiteLayoutInner.cshtml";
}
<style>
    .col-lg-6 h3 {
        cursor: default;
    }
</style>
<main id="main" role="main">
    <div class="container">
        <div class="new-case case-overview patinet list_patients">
            <div class="row btm-margin-10  row-bordered referral">
                <div class="col-lg-12 ">
                    <div class="row fve_button">
                        <div class="col col-lg-8 col-md-7 col-sm-6 col-xs-6 col-lg-push-4 col-md-push-5 col-sm-push-6 col-xs-push-6 four">
                            <div class="btn-group">
                                <a href="@Url.Action("ManageSuperBucks", "Reward")" class="btn-default btn-cases" title="Procedure Code" data-toggle="tooltip" data-placement="bottom"><i class="ico-import-patient"></i>Procedure Code</a>
                            </div>
                            <div class="btn-group">
                                <a href="@Url.Action("LongevityMultiplier", "Reward")" class="btn-default btn-cases" title="Longevity Multipliers" data-toggle="tooltip" data-placement="bottom" onclick="return SendMessageToSelected()"><i class="ico-send-message"></i>Longevity Multipliers</a>
                            </div>
                            <div class="btn-group">
                                <a href="@Url.Action("PointMultiplier", "Reward")" class="btn-default btn-cases" title="Point Multipliers" data-toggle="tooltip" data-placement="bottom"><i class="ico-add-patient"></i>Point Multipliers</a>
                            </div>
                            <div class="btn-group">
                                <a href="@Url.Action("SuperPlan", "Reward")" class="btn-default btn-cases" title="Super Plan" data-toggle="tooltip" data-placement="bottom"><i class="ico-add-patient"></i>Super Plan</a>
                            </div>
                        </div>
                        <div class="col col-lg-4 col-md-5 col-sm-6 col-xs-6 col-lg-pull-8 col-md-pull-7 col-sm-pull-6 col-xs-pull-6 hide-on-phones">
                            <h1 class="inline" style="font-size: 15px;">Manage SuperBucks Control Tables</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row book_appiontment_new">
                <div class="col-lg-12 share-block">
                    <div class="row">
                        <div class="col-lg-6 col-sm-6 col-xs-6">
                            <h3>Longevity Multiplier</h3>
                        </div>
                        <div class="btn-group btn-holder pull-right btn-edit" style="padding-right: 15px;">
                          <br />  <a href="add-reward-plan" onclick="OpenLongitivtyPopUp(0)" data-toggle="modal" class="btn btn-default btn-secondary"><i class="ico-add"></i>Add</a>
                        </div>
                        <div class="btn-group btn-holder pull-right btn-edit" style="margin-right:20px">
                           Select Plan : @Html.DropDownList("1", new SelectList(ViewBag.PlanList, "PlanId", "PlanName", ViewBag.PlanId), new { @class = "form-control", @id = "SearchPlanDropDownlist", onchange = "GetSelectedPlanData()" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">

                    <table class="table table3 filtered-table">
                        <thead class="thead-inverse">
                            <tr>
                                <th>
                                    Month Of Longevity
                                </th>
                                <th>
                                    Multiplier
                                </th>
                                <th>
                                    Plan Name
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody id="addrow">
                            @Html.Partial("_PartialLongevityMultiplier")
                        </tbody>
                    </table>
                </div>
            </div>


            @*<div class="col-lg-3">
                    <div class="btn-group btn-holder">
                        <a href="javascript:;" onclick="" class="btn btn-default btn2"><i class="ico-edit4"></i>Submit</a>
                    </div>
                </div>*@
        </div>
    </div>
</main>

<div class="modal fade" id="add-reward-plan" role="dialog">

</div>
@* Common Pop-up for Deletion *@
<div class="modal fade" id="remove_item" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center center">
                    <img class="mrgn-btm-20" src="~/Content/css/NewAdmin/images/Delete_Popup.png" alt="Delete" />
                    <p id="desc_message" class="mrgn-btm-0" style="margin: 0;">Are you sure you want to remove image?</p>
                </div>
                <div class="modal-footer bdr-top-no">
                    <div class="btn-group btn-holder">
                        <button type="button" class="btn btn-default btn1" id="btnno" data-dismiss="modal">No</button>
                        <a type="button" id="btnyes" class="btn btn-default btn2 blue-bg mrgn-right-0">Yes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    //Longevity
    $(document).ready(function () {
        GetSelectedPlanData()
    });

    function ToggleSaveButton(id) {
        $('#' + id).attr('disabled', true);
        setTimeout(function () {
            $('#' + id).attr('disabled', false);
        }, 4000);
    }

    function OpenConfrimPopUp(idstr) {
        $("#remove_item").modal('show');
        $('#desc_message').text('Are you sure you want to remove?');
        $('#btnyes').attr('onclick', ' DeleteLongevityMultiplier("' + idstr + '")');
    }


    function DeleteLongevityMultiplier(idstr) {

        performAjax({
            url: "/Reward/DeleteRewardMultiplierForLongevity",
            type: "POST",
            data: { LMId: idstr},
            success: function (data) {
                if (data == "1") {
                    $.toaster({ priority: 'success', title: 'Notice', message: 'Longevity Deleted Successfully' });
                    $("#" + idstr).remove();
                    $("#btnno").trigger('click');
                }
                else {
                    $.toaster({ priority: 'danger', title: 'Notice', message: 'Failed to Deleted Longevity.' });
                }
            }
        })

    }

    function OpenLongitivtyPopUp(id) {
        
        performAjax({
            url: "/Reward/OpenLongitivtyPopUp",
            type: "POST",
            data: { LM_Id: id },
            success: function (data) {
                $('#add-reward-plan').modal('show');
                $('#add-reward-plan').html(data)
                var i=$("#SearchPlanDropDownlist").val();
                $("#PlanDropDownlist").val(i);
            }
        })
    }
    function SaveLongevityMultiplier(LMId) {
        
        var MonthsofLongevityVal = $("#MonthsofLongevity").val();
        var MultiplierVal = $("#Multiplier").val();
        var PlanIdVal = $("#PlanDropDownlist").val();
        if (MonthsofLongevityVal == '') {
            $.toaster({ priority: 'danger', title: 'Notice', message: 'Please Enter Month Of Longevity' });
            ToggleSaveButton('btn-lm');
            return;
        }

        else if (MultiplierVal == '') {
            $.toaster({ priority: 'danger', title: 'Notice', message: 'Please Enter Multiplier' });
            ToggleSaveButton('btn-lm');
            return;
        }
        else if (PlanIdVal == '0') {
            $.toaster({ priority: 'danger', title: 'Notice', message: 'Please Select Plan' });
            ToggleSaveButton('btn-lm');
            return;
        }
        performAjax({
            url: "/Reward/InsertRewardMultiplierForLongevity",
            type: "POST",
            data: { MonthsofLongevity: MonthsofLongevityVal, Multiplier: MultiplierVal, PlanId: PlanIdVal, LMId: LMId },
            success: function (data) {
                if (data == '1') {
                    $.toaster({ priority: 'success', title: 'Notice', message: 'Longevity Saved Successfully' });
                    ToggleSaveButton('btn-lm');
                    setTimeout(function () {
                        GetSelectedPlanData();
                        $("#add-reward-plan").modal('hide');
                    }, 2000);
                }
                else if (data == '0') {
                    $.toaster({ priority: 'success', title: 'Notice', message: 'Longevity Updated Successfully' });
                    ToggleSaveButton('btn-lm');
                    setTimeout(function () {
                        GetSelectedPlanData();
                        $("#add-reward-plan").modal('hide');
                    }, 2000);
                }
                else if (data == '-1') {
                    $.toaster({ priority: 'danger', title: 'Notice', message: 'Longevity Multiplier already exists' });
                    ToggleSaveButton('btn-lm');
                }
                else {
                    $.toaster({ priority: 'danger', title: 'Notice', message: 'Failed to Save Longevity.' });
                    ToggleSaveButton('btn-lm');
                }

            }
        })
    }

    function GetSelectedPlanData() {

        performAjax({
            url: "/Reward/GetSelectedData",
            type: "POST",
            async: true,
            data: { PlanId: $("#SearchPlanDropDownlist").val() },
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $("#addrow").html('');
                if (data == '') {
                    $("#addrow").html('<tr><td colspan=5 style=text-align:center> No more record found!</td></tr>');
                }
                else
                    $("#addrow").append(data);
                //alert(data);
            }

        });
    }
    function OnlyNumericallow(obj) {
        var parsed = parseInt(obj.value) || 0;
        if (parsed != obj.value)
            obj.value = parsed;
    }

    function Onlyonedotallow(obj) {
        var parsed = parseFloat(obj.value) || 0;
        if (parsed != obj.value)
            obj.value = parsed;
    }
</script>