﻿@model List<BO.ViewModel.ProcedureCode>
@{
    ViewBag.Title = "ManageSuperBucks";
    Layout = "~/Views/Shared/_NewSiteLayoutInner.cshtml";
}
<main id="main" role="main">
    <div class="container">
        <div class="new-case case-overview patinet list_patients">
            <div class="row btm-margin-10  row-bordered referral">
                <div class="col-lg-12 ">
                    <div class="row fve_button">
                        <div class="col col-lg-8 col-md-7 col-sm-6 col-xs-6 col-lg-push-4 col-md-push-5 col-sm-push-6 col-xs-push-6 four">
                            <div class="btn-group">
                                <a href="@Url.Action("ManageSuperBucks", "Reward")" class="btn-default btn-cases" title="Procedure Code" data-toggle="tooltip" data-placement="bottom"><i class="ico-import-patient"></i>Procedure Code</a>
                            </div>
                            <div class="btn-group">
                                <a href="@Url.Action("LongevityMultiplier", "Reward")" class="btn-default btn-cases" title="Longevity Multipliers" data-toggle="tooltip" data-placement="bottom" onclick="return SendMessageToSelected()"><i class="ico-send-message"></i>Longevity Multipliers</a>
                            </div>
                            <div class="btn-group">
                                <a href="@Url.Action("PointMultiplier", "Reward")" class="btn-default btn-cases" title="Point Multipliers" data-toggle="tooltip" data-placement="bottom"><i class="ico-add-patient"></i>Point Multipliers</a>
                            </div>
                            <div class="btn-group">
                                <a href="@Url.Action("SuperPlan", "Reward")" class="btn-default btn-cases" title="Super Plan" data-toggle="tooltip" data-placement="bottom"><i class="ico-add-patient"></i>Super Plan</a>
                            </div>
                        </div>
                        <div class="col col-lg-4 col-md-5 col-sm-6 col-xs-6 col-lg-pull-8 col-md-pull-7 col-sm-pull-6 col-xs-pull-6 hide-on-phones">
                            <h1 class="inline" style="font-size: 15px;">Manage SuperBucks Control Tables</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row book_appiontment_new">
                <div class="col-lg-12 share-block">
                    <div class="row">
                        <div class="col-lg-6 col-sm-6 col-xs-6">
                            <h3>Procedure Code</h3>
                        </div>
                        <div class="btn-group btn-holder pull-right btn-edit" style="padding-right: 15px;">
                            @Html.ActionLink("Map Procedure Plan", "MapProcedurePlan", "Reward", null, new { @class = "btn btn-default btn-secondary" })
                            <a href="add-reward-code" onclick="OpenProcedureCodePopUp(0)" data-toggle="modal" class="btn btn-default btn-secondary" style="margin-left:10px"><i class="ico-add"></i>Add</a>

                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">

                    <table class="table table3 filtered-table">
                        <thead class="thead-inverse">
                            <tr>
                                <th>
                                    Procedure Code
                                </th>
                                <th>
                                    Procedure Name
                                </th>
                                <th>
                                    SuperBucksReward
                                </th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody id="addrow">
                            @if (Model.Count > 0)
                            {
                                foreach (var item in Model)
                                {
                                    <tr class="Step" id="@item.ProcedureCodeId">
                                        <td data-th="Institution Attended">
                                            @item.Procedurecode
                                        </td>
                                        <td data-th="Field of Study/Degree">@item.ProcedureName</td>
                                        <td data-th="Last Year Attended/Graduated">@item.SuperBucksReward</td>
                                        <td data-th="Actions" style="text-align:center;">
                                            <a href="#add-reward-code" data-toggle="modal" onclick="OpenProcedureCodePopUp(@item.ProcedureCodeId)"><i class="ico-edit"></i></a>
                                            <a href="jvascript:;" onclick="OpenConfrimPopUp(@item.ProcedureCodeId)"><i class="ico-delete4"></i></a>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="4" style="text-align:center;">
                                        No more record found!
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
<div class="modal fade" id="add-reward-code" role="dialog">
</div>
@* Common Pop-up for Deletion *@
<div class="modal fade" id="remove_item" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center center">
                    <img class="mrgn-btm-20" src="~/Content/css/NewAdmin/images/Delete_Popup.png" alt="Delete" />
                    <p id="desc_message" class="mrgn-btm-0" style="margin: 0;">Are you sure you want to remove image?</p>
                </div>
                <div class="modal-footer bdr-top-no">
                    <div class="btn-group btn-holder">
                        <button type="button" class="btn btn-default btn1" id="btnno" data-dismiss="modal">No</button>
                        <a type="button" id="btnyes" class="btn btn-default btn2 blue-bg mrgn-right-0">Yes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    function ToggleSaveButton(id)
    {
        $('#'+id).attr('disabled', true);
        setTimeout(function () {
            $('#'+id).attr('disabled', false);
        }, 4000);
    }

    function OpenConfrimPopUp(idstr) {
        $("#remove_item").modal('show');
        $('#desc_message').text('Are you sure you want to remove?');
        $('#btnyes').attr('onclick', ' DeleteProcedureCode("' + idstr + '")');
    }
    //Procedure Code
    function DeleteProcedureCode(id) {
        performAjax({
            url: "/Reward/DeleteRewardPointForProcedureCode",
            type: "POST",
            data: { ProcedureCodeId: id },
            success: function (data) {
                if (data == true) {
                    $.toaster({ priority: 'success', title: 'Notice', message: 'Procedure Code removed successfully' });
                    $("#" + id).remove();
                    $("#btnno").trigger('click');
                }
                else {
                    $.toaster({ priority: 'danger', title: 'Notice', message: 'Failed to remove Procedure Code.' });
                }
            }
        })
    }

    //Exam Code
    function DeleteProcedureExamCode(id) {
        performAjax({
            url: "/Reward/DeleteProcedureCodesForExams",
            type: "POST",
            data: { ExamId: id },
            success: function (data) {
                if (data == true) {
                    $.toaster({ priority: 'success', title: 'Notice', message: 'Exam Code removed successfully' });
                    window.location.reload();
                }
                else {
                    $.toaster({ priority: 'danger', title: 'Notice', message: 'Failed to remove Exam Code.' });
                }
            }
        })
    }

    //Longevity
    function DeleteLongevityMultiplier(id) {
        performAjax({
            url: "/Reward/DeleteRewardMultiplierForLongevity",
            type: "POST",
            data: { LMId: id },
            success: function (data) {
                if (data == true) {
                    $.toaster({ priority: 'success', title: 'Notice', message: 'Longevity Multiplier removed successfully' });
                    window.location.reload();
                }
                else {
                    $.toaster({ priority: 'danger', title: 'Notice', message: 'Failed to remove Longevity Multiplier.' });
                }
            }
        })
    }

    //Point Balance
    function DeletepointBalance(id) {
        performAjax({
            url: "/Reward/DeletePointMultiplierForPointBalance",
            type: "POST",
            data: { PointId: id },
            success: function (data) {
                if (data == true) {
                    $.toaster({ priority: 'success', title: 'Notice', message: 'Point removed successfully' });
                    window.location.reload();
                }
                else {
                    $.toaster({ priority: 'danger', title: 'Notice', message: 'Failed to remove Point.' });
                }
            }
        })
    }

    function OpenProcedureCodePopUp(id) {
        
        performAjax({
            url: "/Reward/AddEditRewardCode",
            type: "POST",
            data: { ProcedureCodeId: id },
            success: function (data) {
                $('#add-reward-code').modal('show');
                $('#add-reward-code').html(data);
            }
        })
    }

    function SaveProcedureCode(PId) {
        var ProcedureCode = $("#ProcedureCode").val();
        var ProcedureName = $("#ProcedureName").val();
        var SuperBucksReward = $("#SuperBucksReward").val();
        if (ProcedureCode == '') {
            $.toaster({ priority: 'danger', title: 'Notice', message: 'Enter Procedure Code.' });
            $("#ProcedureCode").focus();
            ToggleSaveButton('savingfrm');
            return false;
        }
        if (ProcedureName == '') {
            //swal({ title: '', text: 'Enter Procedure Name' });
            $.toaster({ priority: 'danger', title: 'Notice', message: 'Enter Procedure Name.' });
            $("#ProcedureName").focus();
            ToggleSaveButton('savingfrm');
            return false;
        }
        if (SuperBucksReward == '' || SuperBucksReward=='0') {
            //swal({ title: '', text: 'Enter Superbucks Reward' });
            $.toaster({ priority: 'danger', title: 'Notice', message: 'Enter Superbucks Reward.' });
            $("#SuperBucksReward").focus();
            ToggleSaveButton('savingfrm');
            return false;
        }
        performAjax({
            url: "/Reward/InsertRewardPointForProcedureCode",
            type: "POST",
            data: { Procedurecode: ProcedureCode, ProcedureName: ProcedureName, SuperBucksReward: SuperBucksReward, ProcedureCodeId: PId },
            success: function (data) {
                if (data == "1") {
                    $.toaster({ priority: 'success', title: 'Notice', message: 'Procedure Code saved successfully' });
                    ToggleSaveButton('savingfrm');
                    setTimeout(function () {
                        window.location.reload()
                    }, 2000);
                }
                else if (data == "11") {
                    $.toaster({ priority: 'success', title: 'Notice', message: 'Procedure code updated successfully' });
                    ToggleSaveButton('savingfrm');
                    setTimeout(function () {
                        window.location.reload()
                    }, 2000);
                }
                else if (data == "-1") {
                    $.toaster({ priority: 'danger', title: 'Notice', message: 'Procedure code already exists' });

                }
                else {
                    $.toaster({ priority: 'danger', title: 'Notice', message: 'Failed to Save Procedure.' });
                }
            }
        });
    }

    function Onlyonedotallow(e) {
        var parsed = parseFloat(e.value)||0;
        if(parsed!=e.value) e.value = parsed;
    }

</script>