﻿@model List<BO.ViewModel.ProcedureCode>
@{
    ViewBag.Title = "Map Procedure Plan";
    Layout = "~/Views/Shared/_NewSiteLayoutInner.cshtml";
}

<main id="main" role="main">
    <div class="container">
        <div class="new-case case-overview patinet list_patients">
            <div class="row btm-margin-10  row-bordered referral">
                <div class="col-lg-12 ">
                    <div class="row fve_button">
                        <div class="col col-lg-8 col-md-7 col-sm-6 col-xs-6 col-lg-push-4 col-md-push-5 col-sm-push-6 col-xs-push-6 four">
                            <div class="btn-group">
                                <a href="@Url.Action("ManageSuperBucks", "Reward")" class="btn-default btn-cases" title="Procedure Code" data-toggle="tooltip" data-placement="bottom"><i class="ico-import-patient"></i>Procedure Code</a>
                            </div>
                            <div class="btn-group">
                                <a href="@Url.Action("LongevityMultiplier", "Reward")" class="btn-default btn-cases" title="Longevity Multipliers" data-toggle="tooltip" data-placement="bottom" onclick="return SendMessageToSelected()"><i class="ico-send-message"></i>Longevity Multipliers</a>
                            </div>
                            <div class="btn-group">
                                <a href="@Url.Action("PointMultiplier", "Reward")" class="btn-default btn-cases" title="Point Multipliers" data-toggle="tooltip" data-placement="bottom"><i class="ico-add-patient"></i>Point Multipliers</a>
                            </div>
                            <div class="btn-group">
                                <a href="@Url.Action("SuperPlan", "Reward")" class="btn-default btn-cases" title="Super Plan" data-toggle="tooltip" data-placement="bottom"><i class="ico-add-patient"></i>Super Plan</a>
                            </div>
                        </div>
                        <div class="col col-lg-4 col-md-5 col-sm-6 col-xs-6 col-lg-pull-8 col-md-pull-7 col-sm-pull-6 col-xs-pull-6 hide-on-phones">
                            <h1 class="inline" style="font-size: 15px;">Manage SuperBucks Control Tables</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row book_appiontment_new">
                <div class="col-lg-12 share-block">
                    <div class="row">
                        <div class="col-lg-6 col-sm-6 col-xs-6">
                            <br />
                            <h3>View Procedure For : <span id="PlanNameId"></span></h3>
                        </div>
                        <div class="btn-group btn-holder pull-right btn-edit" style="padding-right: 15px;">
                            <br />
                            <a href="add-reward-procedure" onclick="OpenProcedurePopUp()" data-toggle="modal" class="btn btn-default btn-secondary"><i class="ico-add"></i>Add</a>
                        </div>
                        <div class="btn-group btn-holder pull-right btn-edit" style="padding-right: 10px;">
                            Select Exam : @Html.DropDownList("1", new SelectList(ViewBag.items, "Value", "Text"), new { @class = "form-control", @id = "ExamCodeDropDownlist", onchange = "SelectedData()" })


                        </div>
                        <div class="btn-group bt1n-holder pull-right btn-edit" style="padding-right: 10px;">
                            Select Plan : @Html.DropDownList("1", new SelectList(ViewBag.PlanList, "PlanId", "PlanName", ViewBag.PlanID), new { @class = "form-control", @id = "PlanDropDownlist", onchange = "SelectedData()" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">

                    <table class="table table3 filtered-table">
                        <thead class="thead-inverse">
                            <tr>
                                <th>
                                    Procedure Code
                                </th>
                                <th>
                                    Procedure Name
                                </th>
                                <th>
                                    Super Bucks Rewards
                                </th>
                                <th>
                                    Plan Name
                                </th>
                                <th>
                                    Is ExamCode
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody id="addrow">
                            @Html.Partial("_PartialProcedureData")
                        </tbody>
                    </table>

                    <button type="button" id="btn-proc-ea" onclick="SaveExamAssociation()" class="btn btn-default btn2 blue-bg mrgn-right-0"><i class="ico-save"></i>Save</button>
                </div>
            </div>


            @*<div class="col-lg-3">
                    <div class="btn-group btn-holder">
                        <a href="javascript:;" onclick="" class="btn btn-default btn2"><i class="ico-edit4"></i>Submit</a>
                    </div>
                </div>*@
        </div>
    </div>
</main>

<div class="modal fade" id="add-reward-plan" role="dialog">

</div>

<div class="modal fade" id="add-reward-procedure" role="dialog">

</div>
@* Common Pop-up for Deletion *@
<div class="modal fade" id="remove_item" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center center">
                    <img class="mrgn-btm-20" src="~/Content/css/NewAdmin/images/Delete_Popup.png" alt="Delete" />
                    <p id="desc_message" class="mrgn-btm-0" style="margin: 0;">Are you sure you want to remove image?</p>
                </div>
                <div class="modal-footer bdr-top-no">
                    <div class="btn-group btn-holder">
                        <button type="button" class="btn btn-default btn1" id="btnno" data-dismiss="modal">No</button>
                        <a type="button" id="btnyes" class="btn btn-default btn2 blue-bg mrgn-right-0">Yes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        SelectedData()
    });

    //RM-240
    function ToggleSaveButton(id) {
        $('#' + id).attr('disabled', true);
        setTimeout(function () {
            $('#' + id).attr('disabled', false);
        }, 4000);
    }

    function SaveExamAssociation() {
        

        //if ($(".trclone input:checkbox:checked").length <= 0) {
        //    $.toaster({ priority: 'warning', title: 'Notice', message: 'Select at least one Procedure.' });
        //    return false;
        //}


        var ProcedureList = [];
        $(".trclone").each(function () {
            var proc = {};
            proc = {
                'ProcedureCodeId': $(this).find("#ProcedureId").val(),
                'IsExam': $(this).find("#isExamcheckbox").is(':checked') ? true : false,
                'PlanId': $("#PlanDropDownlist").val(),
                'SuperBucksReward': $(this).find("#SuperBucktextbox").val()
            }
            ProcedureList.push(proc);
        });

        performAjax({
            url: "/Reward/InsertProcedureExamAssociation",
            type: "POST",
            async: true,
            data: { ProcedureList: ProcedureList },
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger
                if (data == '1') {
                    $.toaster({ priority: 'success', title: 'Notice', message: 'Map Procedure Save Successfully' });
                    ToggleSaveButton('btn-proc-ea');
                    setTimeout(function () {
                        SelectedData();
                    }, 2000);
                }
                else if (data == '11') {
                    $.toaster({ priority: 'success', title: 'Notice', message: 'Map Procedure Updated Successfully' });
                    ToggleSaveButton('btn-proc-ea');
                    setTimeout(function () {
                        SelectedData();
                    }, 2000);
                }
                else {
                    $.toaster({ priority: 'danger', title: 'Notice', message: 'Failed to Save plan.' });
                }

            }
        })
    }

    function SelectedData() {
        performAjax({
            url: "/Reward/GetSelectedPlanData",
            type: "POST",
            async: true,
            data: { PlanId: $("#PlanDropDownlist").val(), isExam: $("#ExamCodeDropDownlist").val() },
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $("#addrow").html('');
                if (data == '') {
                    $("#addrow").html('<tr><td colspan=6 style=text-align:center>No records found</tr></td>');
                    var i = $("#PlanDropDownlist option:selected").text();
                    $("#PlanNameId").text(i);
                }
                else {
                    $("#addrow").append(data);
                    var i = $("#PlanDropDownlist option:selected").text();
                    $("#PlanNameId").text(i);
                }
                //alert(data);
            }

        });
    }

    function OpenProcedurePopUp() {
        
        performAjax({
            url: "/Reward/OpenProcedurePopUp",
            type: "POST",
            data: { PlanId: $("#PlanDropDownlist").val() },
            success: function (data) {
                $('#add-reward-procedure').modal('show');
                $('#add-reward-procedure').html(data);
            }
        })
    }

    function SaveProcedureForPlan() {
        

        //if ($(".trclone input:checkbox:checked").length <= 0) {
        //    $.toaster({ priority: 'warning', title: 'Notice', message: 'Select at least one Procedure.' });
        //    return false;
        //}


        var ProcedureList = [];
        $(".trProc").each(function () {
            var proc = {};
            if ($(this).find("#ProccheckboxId").is(':checked')) {
                proc = {

                    'ProcedureCodeId': $(this).find("#ProcedureId").val(),
                    'IsExam': false,
                    'PlanId': $("#PlanDropDownlist").val()
                }
                ProcedureList.push(proc);
            }
        });

        performAjax({
            url: "/Reward/InsertProcedureExamAssociation",
            type: "POST",
            async: true,
            data: { ProcedureList: ProcedureList },
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                if (data == '1') {
                    $.toaster({ priority: 'success', title: 'Notice', message: 'Procedure Map Successfully' });

                }
                else if (data == '11') {
                    $.toaster({ priority: 'success', title: 'Notice', message: 'Procedure Map Successfully' });

                }
                else {
                    $.toaster({ priority: 'danger', title: 'Notice', message: 'Failed to Map Procedure.' });
                }

            }
        })
    }

    //function DeleteAndSaveProcedure() {
    //    
    //    performAjax({
    //        url: "/Reward/DeleteProcedure",
    //        type: "POST",
    //        async: true,
    //        data: { PlanId: $("#PlanDropDownlist").val() },
    //        contentType: "application/json; charset=utf-8",
    //        success: function (data) {
    //            SaveProcedure();
    //        }
    //    })
    //}

    function SaveProcedure() {
        

        var ProcedureList = [];
        $(".trProc").each(function () {
            var proc = {};

            //if ($(this).find("#ProccheckboxId").is(':checked')) {
            proc = {

                'ProcedureCodeId': $(this).find("#ProcedureId").val(),
                'IsExam': false,
                'IsChecked': $(this).find("#ProccheckboxId").is(':checked') ? true : false
            }
            ProcedureList.push(proc);
            //}
        });

        var planid = $("#PlanDropDownlist").val();
        performAjax({
            url: "/Reward/InsertProcedure",
            type: "POST",
            async: true,
            data: { ProcedureList: ProcedureList, PlanId: $("#PlanDropDownlist").val() },
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                if (data == '1') {
                    $.toaster({ priority: 'success', title: 'Notice', message: 'Procedure Save Successfully' });
                    ToggleSaveButton('btn-dsp');
                    $('#add-reward-procedure').modal('hide');
                    setTimeout(function () {
                        SelectedDataWithId(planid);
                    }, 2000);
                }

                else {
                    $.toaster({ priority: 'danger', title: 'Notice', message: 'Failed to Save Procedure.' });
                }

            }
        })
    }

    function OpenConfrimPopUp(id) {
        $("#remove_item").modal('show');
        $('#desc_message').text('Are you sure you want to remove?');
        $('#btnyes').attr('onclick', ' DeleteProcedure("' + id + '")');
    }

    function DeleteProcedure(id) {
        performAjax({
            url: "/Reward/DeleteProcedure",
            type: "POST",
            data: { ProcedureCodeId: id, PlanId: $("#PlanDropDownlist").val() },
            success: function (data) {
                if (data == "1") {
                    $.toaster({ priority: 'success', title: 'Notice', message: 'Procedure Mapping Deleted Successfully' });
                    $("#" + id).remove();
                    $("#btnno").trigger('click');
                }
                else {
                    $.toaster({ priority: 'danger', title: 'Notice', message: 'Something want to wrong. Please try again!' });
                }
            }
        })
    }

    function SelectedDataWithId(planid) {
        performAjax({
            url: "/Reward/GetSelectedPlanData",
            type: "POST",
            async: true,
            data: { PlanId: planid, isExam: $("#ExamCodeDropDownlist").val() },
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $("#addrow").html('');
                
                $("#PlanDropDownlist").val(planid);
                if (data == '') {
                    $("#addrow").html('<tr><td colspan=6 style=text-align:center>No records found</tr></td>');
                    var i = $("#PlanDropDownlist option:selected").text();
                    $("#PlanNameId").text(i);
                }
                else {
                    $("#addrow").append(data);
                    var i = $("#PlanDropDownlist option:selected").text();
                    $("#PlanNameId").text(i);
                }
                //alert(data);
            }

        });
    }

    function CheckAll(obj) {
        if (obj.checked) {
            $(".trProc").each(function () {

                $(this).find("#ProccheckboxId").prop('checked', true);
            });

        } else {
            $(".trProc").each(function () {
                $(this).find('#ProccheckboxId').prop('checked', false);
            })
        }
    }
</script>