﻿@model List<BO.ViewModel.SuperPlan>
@{
    ViewBag.Title = "Super Plan";
    Layout = "~/Views/Shared/_NewSiteLayoutInner.cshtml";
}
<link href="~/Content/css/custom.css" rel="stylesheet" />
<style>
    .col-lg-6 h3 {
        cursor: default;
    }
</style>
<main id="main" role="main">
    <div class="container">
        <div class="new-case case-overview patinet list_patients">
            <div class="row btm-margin-10  row-bordered referral">
                <div class="col-lg-12 ">
                    <div class="row fve_button">
                        <div class="col col-lg-8 col-md-7 col-sm-6 col-xs-6 col-lg-push-4 col-md-push-5 col-sm-push-6 col-xs-push-6 four">
                            <div class="btn-group">
                                <a href="@Url.Action("ManageSuperBucks", "Reward")" class="btn-default btn-cases" title="Procedure Code" data-toggle="tooltip" data-placement="bottom"><i class="ico-import-patient"></i>Procedure Code</a>
                            </div>
                            <div class="btn-group">
                                <a href="@Url.Action("LongevityMultiplier", "Reward")" class="btn-default btn-cases" title="Longevity Multipliers" data-toggle="tooltip" data-placement="bottom" onclick="return SendMessageToSelected()"><i class="ico-send-message"></i>Longevity Multipliers</a>
                            </div>
                            <div class="btn-group">
                                <a href="@Url.Action("PointMultiplier", "Reward")" class="btn-default btn-cases" title="Point Multipliers" data-toggle="tooltip" data-placement="bottom"><i class="ico-add-patient"></i>Point Multipliers</a>
                            </div>
                            <div class="btn-group">
                                <a href="@Url.Action("SuperPlan", "Reward")" class="btn-default btn-cases" title="Super Plan" data-toggle="tooltip" data-placement="bottom"><i class="ico-add-patient"></i>Super Plan</a>
                            </div>
                        </div>
                        <div class="col col-lg-4 col-md-5 col-sm-6 col-xs-6 col-lg-pull-8 col-md-pull-7 col-sm-pull-6 col-xs-pull-6 hide-on-phones">
                            <h1 class="inline" style="font-size: 15px;">Manage SuperBucks Control Tables</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row book_appiontment_new">
                <div class="col-lg-12 share-block">
                    <div class="row">
                        <div class="col-lg-6 col-sm-6 col-xs-6">
                            <h3>Super Plan</h3>
                        </div>
                        <div class="btn-group btn-holder pull-right btn-edit" style="padding-right: 15px;">
                            <a href="add-reward-plan" onclick="OpenPlanPopUp(0)" data-toggle="modal" class="btn btn-default btn-secondary"><i class="ico-add"></i>Add</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">

                    <table class="table table3 filtered-table">
                        <thead class="thead-inverse">
                            <tr>
                                <th>
                                    Plan Name
                                </th>
                                <th>
                                    Amount
                                </th>
                                <th  style="text-align:center;">
                                    Register Reward
                                </th>
                                <th style="text-align:center;">
                                    Point For $ 1
                                </th>
                                <th style="text-align:center;">
                                    Exam Code
                                </th>
                                <th style="text-align:center;">
                                    Procedure
                                </th>
                                <th style="text-align:center;">
                                    Longevity
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody id="addrow">
                            @if (Model.Count > 0)
                            {
                                foreach (var item in Model)
                                {
                                    <tr class="Step" id="@item.PlanId">
                                        <td data-th="Institution Attended">
                                            @item.PlanName
                                        </td>
                                        <td data-th="Field of Study/Degree">@item.Amount</td>
                                        <td data-th="Field of Study/Degree"  style="text-align:center;">@item.RewardPoint</td>
                                        <td data-th="Field of Study/Degree" style="text-align:center;">@item.Points</td>
                                        <td data-th="Field of Study/Degree" style="text-align:center;">@item.ExamCodes</td>
                                        <td data-th="Actions" style="text-align:center;">
                                            @Html.ActionLink("View Procedure", "PlanProcedure", "Reward", new { PlanId = item.PlanId }, null)
                                            @* <a href="~/Reward/GetAssociationData" data-toggle="modal">View Procedure</a>*@
                                        </td>
                                        <td data-th="Actions" style="text-align:center;">
                                            @*<a href="#add-reward-plan" data-toggle="modal">View Longevity Multiplier</a>*@
                                            @Html.ActionLink("View Longevity", "PlanLongevity", "Reward", new { PlanId = item.PlanId }, null)
                                        </td>
                                        <td data-th="Actions" style="text-align:center;">
                                            <a href="#add-reward-plan" data-toggle="modal" onclick="OpenPlanPopUp(@item.PlanId)"><i class="ico-edit"></i></a>
                                            @if (item.IsPrimary == false)
                                            {
                                                <a href="javascript:;" onclick="OpenConfrimPopUp(@item.PlanId)"><i class="ico-delete4"></i></a>
                                            }
                                            else
                                            {
                                                <a href="javascript:;" class="button disabled"  data-toggle="tooltip" data-placement="bottom" title="Default plan can not be deleted"><i class="ico-delete"></i></a>
                                            }
                                            </td>
                                        </tr>
                                }
                            }
                            else
                            {
                                <tr class="Step">
                                    <td colspan="6" style="text-align:center;">
                                        No records found!!!!
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>

<div class="modal fade" id="add-reward-plan" role="dialog">

</div>
@* Common Pop-up for Deletion *@
<div class="modal fade" id="remove_item" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center center">
                    <img class="mrgn-btm-20" src="~/Content/css/NewAdmin/images/Delete_Popup.png" alt="Delete" />
                    <p id="desc_message" class="mrgn-btm-0" style="margin: 0;">Are you sure you want to remove image?</p>
                </div>
                <div class="modal-footer bdr-top-no">
                    <div class="btn-group btn-holder">
                        <button type="button" class="btn btn-default btn1" id="btnno" data-dismiss="modal">No</button>
                        <a type="button" id="btnyes" class="btn btn-default btn2 blue-bg mrgn-right-0">Yes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    function ToggleSaveButton(id) {
        $('#' + id).attr('disabled', true);
        setTimeout(function () {
            $('#' + id).attr('disabled', false);
        }, 4000);
    }

    ////Procedure Code
    //function DeleteProcedureCode(id) {
    //    performAjax({
    //        url: "/Reward/DeleteRewardPointForProcedureCode",
    //        type: "POST",
    //        data: { ProcedureCodeId: id },
    //        success: function (data) {
    //            if (data == true) {
    //                $.toaster({ priority: 'success', title: 'Notice', message: 'Procedure Code removed successfully' });
    //                window.location.reload();
    //            }
    //            else {
    //                $.toaster({ priority: 'danger', title: 'Notice', message: 'Failed to remove Procedure Code.' });
    //            }
    //        }
    //    })
    //}

    ////Exam Code
    //function DeleteProcedureExamCode(id) {
    //    performAjax({
    //        url: "/Reward/DeleteProcedureCodesForExams",
    //        type: "POST",
    //        data: { ExamId: id },
    //        success: function (data) {
    //            if (data == true) {
    //                $.toaster({ priority: 'success', title: 'Notice', message: 'Exam Code removed successfully' });
    //                window.location.reload();
    //            }
    //            else {
    //                $.toaster({ priority: 'danger', title: 'Notice', message: 'Failed to remove Exam Code.' });
    //            }
    //        }
    //    })
    //}

    ////Longevity
    //function DeleteLongevityMultiplier(id) {
    //    performAjax({
    //        url: "/Reward/DeleteRewardMultiplierForLongevity",
    //        type: "POST",
    //        data: { LMId: id },
    //        success: function (data) {
    //            if (data == true) {
    //                $.toaster({ priority: 'success', title: 'Notice', message: 'Longevity Multiplier removed successfully' });
    //                window.location.reload();
    //            }
    //            else {
    //                $.toaster({ priority: 'danger', title: 'Notice', message: 'Failed to remove Longevity Multiplier.' });
    //            }
    //        }
    //    })
    //}

    ////Point Balance
    //function DeletepointBalance(id) {
    //    performAjax({
    //        url: "/Reward/DeletePointMultiplierForPointBalance",
    //        type: "POST",
    //        data: { PointId: id },
    //        success: function (data) {
    //            if (data == true) {
    //                $.toaster({ priority: 'success', title: 'Notice', message: 'Point removed successfully' });
    //                window.location.reload();
    //            }
    //            else {
    //                $.toaster({ priority: 'danger', title: 'Notice', message: 'Failed to remove Point.' });
    //            }
    //        }
    //    })
    //}


    function OpenPlanPopUp(id) {
        
        performAjax({
            url: "/Reward/OpenPopup",
            type: "POST",
            data: { PlanId: id },
            success: function (data) {
                $('#add-reward-plan').modal('show');
                $('#add-reward-plan').html(data);

            }
        })
    }
    function SavePlan(PlnId) {
        
        var PlanNameVal = $("#PlanName").val();
        var AmountVal = $("#Amount").val();
        var RewardPointVal = $("#RewardPoint").val();
        var PointVal = $("#Points").val();
        var ExamCodesVal = $("#ExamCodes").val();
        if (PlanNameVal == '') {
            $.toaster({ priority: 'danger', title: 'Notice', message: 'Please Enter Plan Name' });
            ToggleSaveButton('btn-saveplan');
            return;
        }
        if (AmountVal == '') {
            $.toaster({ priority: 'danger', title: 'Notice', message: 'Please Enter Amount' });
            ToggleSaveButton('btn-saveplan');
            return;
        }
        if (RewardPointVal == '') {
            $.toaster({ priority: 'danger', title: 'Notice', message: 'Please Enter register reward' });
            ToggleSaveButton('btn-saveplan');
            return;
        }
        if (PointVal == '') {
            $.toaster({ priority: 'danger', title: 'Notice', message: 'Please Enter point for 1$' });
            ToggleSaveButton('btn-saveplan');
            return;
        }
        if (ExamCodesVal == '') {
            $.toaster({ priority: 'danger', title: 'Notice', message: 'Please Enter exam code' });
            ToggleSaveButton('btn-saveplan');
            return;
        }
        performAjax({
            url: "/Reward/AddEditSuperPlan",
            type: "POST",
            data: { PlanName: PlanNameVal, Amount: AmountVal, PlanId: PlnId,RewardPoint: RewardPointVal,Points:PointVal,ExamCodes:ExamCodesVal },
            success: function (data) {
                if (data == '1') {
                    $.toaster({ priority: 'success', title: 'Notice', message: 'Plan Saved Successfully' });
                    ToggleSaveButton('btn-saveplan');
                    setTimeout(function () {
                        window.location.reload();
                    }, 2000);
                }
                else if (data == '11') {
                    $.toaster({ priority: 'success', title: 'Notice', message: 'Plan Updated Successfully' });
                    ToggleSaveButton('btn-saveplan');
                    setTimeout(function () {
                        window.location.reload();
                    }, 2000);
                }
                else if (data == '-1') {
                    $.toaster({ priority: 'danger', title: 'Notice', message: 'Plan Name already exists' });
                    ToggleSaveButton('btn-saveplan');
                }
                else {
                    $.toaster({ priority: 'danger', title: 'Notice', message: 'Failed to Save plan.' });
                }

            }
        })
    }

    function OpenConfrimPopUp(id) {
        $("#remove_item").modal('show');
        $('#desc_message').text('Are you sure you want to remove?');
        $('#btnyes').attr('onclick', ' DeletePlan("' + id + '")');
    }
    function DeletePlan(id) {
        performAjax({
            url: "/Reward/DeleteSuperPlan",
            type: "POST",
            data: { PlanId: id, IsDeleted: true },
            success: function (data) {
                if (data == "111") {
                    $.toaster({ priority: 'success', title: 'Notice', message: 'Plan Deleted Successfully' });
                    $("#" + id).remove();
                    $("#btnno").trigger('click');
                }
                else {
                    $.toaster({ priority: 'danger', title: 'Notice', message: 'Something want to wrong. Please try again!' });
                }
            }
        })
    }

    function Onlyonedotallow(obj) {
        var parsed = parseFloat(obj.value) || 0;
        if (parsed != obj.value) obj.value = parsed;
    }

    //function SaveProcedureCode()
    //{
    //    var ProcedureCode = $("ProcedureCode").val();
    //    var ProcedureName = $("ProcedureName").val();
    //    var SuperBucksReward = $("SuperBucksReward").val();
    //    performAjax({
    //        url: "/Reward/InsertRewardPointForProcedureCode",
    //        type: "POST",
    //        data: { ProcedureCode: ProcedureCode, ProcedureName: ProcedureName, SuperBucksReward: SuperBucksReward},
    //        success: function (data) {
    //            $('#add-reward-code').modal('show');
    //            $('#add-reward-code').html(data);
    //        }
    //    })
    //}

</script>