@model BO.ViewModel.InsuranceProcedureMapping
@using System.Data
@using System.Linq;
@{
                /**/

                ViewBag.Title = "Procedure";
                Layout = "~/Views/Shared/SiteLayoutInner.cshtml";
}
<style type="text/css">
    table.tblinner tr td {
        border-top: none;
        padding: 2px;
    }

    .itemconfiguration {
        height: auto;
        width: 1244px;
        overflow: auto;
        float: left;
        position: relative;
        margin-left: -5px;
    }
</style>

@{
    List<int> lst = new List<int>();
}
<!-- Main content -->
@if (Model.ColumnName != null)
{
<div class="content">
    <div class="content_base">
        <div id="divAppointmentPatient">
            <div class="inner">
                <div class="table_data reports_ref_received clearfix itemconfiguration col-md-12">
                    <h5>Estimate Cost of Insurance</h5>
                    <div class="clear"></div>
                    <table id="tblPivot" cellspacing="0" cellpadding="0" border="0" class="responsiveTable">
                        <thead>
                            <tr>
                                @{
                                    int i = 1;

                                }
                                @foreach (DataColumn item in Model.ColumnName.Columns)
                                {
                                    if (i == 1)
                                    {
                                        <th>Procedure Name</th>
                                    }

                                    if (i > 1)
                                    {
                                        lst.Add(Convert.ToInt32(item.ColumnName));
                                        <th>
                                            @Html.Action("GetInsuranceName", new { InsuranceId = item.ColumnName })
                                        </th>
                                    }
                                    i++;
                                }

                            </tr>
                        </thead>
                        <tbody>
                            @Html.AntiForgeryToken()
                            @foreach (DataRow item in Model.ColumnName.Rows)
                            {
                                <tr>
                                    @for (int j = 0; j < Model.ColumnName.Columns.Count; j++)
                                    {

                                        if (j > 0)
                                        {

                                            <td>
                                                <input type="hidden" name="InsuranceId" value="@lst[j - 1]" />
                                                @*<input type="text" name="InsuredCost" class="numericOnly" id="" value="@item[j]" />*@
                                                <input type="text" name="InsuredCost" class="numericOnly" id="" onkeypress="return isNumberKey(event)" value="@item[j]" maxlength="10" />
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                @Html.Action("GetProcedureDetials", new { ProcedureId = item[j] })
                                            </td>
                                        }
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                    @* recordlinc.atlassian.net/browse/DLADCETK-14 *@
                    <br />
                    <input class="save_btn1" name="Save" value="Save" onclick="return myfuncation()" style="width:97px;height:40px;margin: 10px 10px 10px 0px !important;" type="button">
                </div>
            </div>
        </div>
    </div>
    
</div>
    
}
else

{
    <div class="content">
        <div class="content_base">
            <div id="divAppointmentPatient">
                <div class="inner">
                    <div class="table_data reports_ref_received clearfix itemconfiguration">
                        <h5>Estimate Cost of Insurance</h5>
                        <div class="clear"></div>
                    </div>
                    <span>@*You have still not add either procedure or insurance please select insurance and procedure then you have to right access to this page.*@</span>
                    <span>You have still not added any of the procedure and insurance. Please select a procedure and insurance to get access of this page.</span>
                </div>
            </div>
        </div>
    </div>
}

   

<script type="text/javascript">
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
            && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }

    function myfuncation() {
        var lst = [];
        $('#tblPivot').find('input[type="text"]').each(function () {
            var Obj = {};
            Obj = {
                'ProcedureId': $(this).parent('td').siblings('td:first').find('input[name=ProcedureId]').val(),
                'InsuranceId': $(this).prev().val(),
                'InsuredAmount': $(this).val()
            }
            lst.push(Obj);
        });
        $.ajax({
            type: "POST",
            url: "/CostEstimator/InsertUpdateInsuranceCostEstimatorAmount",
            data: JSON.stringify(lst),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (data) {
                swal({ title: "", text: 'Record updated Successfully.', type: 'success' });
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                swal({ title: "", text: 'Failed to record updation.', type: 'error' });
            }
        });
    }
    $(document).ready(function () {
        //$(".numericOnly").bind("keypress", function (e) {
        //    var arr = [0, 8, 9, 16, 17, 20, 35, 36, 37, 38, 39, 40, 45, 46];
        //    // Allow letters
        //    for (var i = 48; i <= 57; i++) {
        //        arr.push(i);
        //    }

        //    // Prevent default if not in array
        //    if (jQuery.inArray(e.which, arr) === -1) {
        //        e.preventDefault();
        //        return false;
        //    }
        //});
        //$(".numericOnly").bind("paste", function (e) {
        //    return false;
        //});
        //$(".numericOnly").bind("drop", function (e) {
        //    return false;
        //});
    });
</script>
