.clearfix:after,
.person-info:after {
	content: " ";
	display: block;
	clear: both;
}

#nav .menu {
	margin: 0;
	padding: 0;
	list-style: none;
}

.clearfix:after,
.person-info:after {
	content: "";
	display: block;
	clear: both;
}

.ellipsis {
	white-space: nowrap; /* 1 */
	text-overflow: ellipsis; /* 2 */
	overflow: hidden;
}

@font-face {
	font-family: icomoon;
	src: url("../fonts/icomoon.eot");
	src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svgicomoon") format("svg");
	font-weight: 400;
	font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "icomoon" !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1; /* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:before {
	content: "\e90d";
}

.icon-chevron-down:before {
	content: "\e903";
}

.icon-chevron-left:before {
	content: "\e900";
}

.icon-chevron-right:before {
	content: "\e901";
}

.icon-chevron-up:before {
	content: "\e904";
}

.icon-user:before {
	content: "\e902";
}

.icon-phone2:before {
	content: "\e0cd";
}

.icon-envelope-o:before {
	content: "\f003";
}

.icon-star:before {
	content: "\f005";
}

.icon-star-o:before {
	content: "\f006";
}

.icon-map-marker:before {
	content: "\f041";
}

.icon-phone:before {
	content: "\f095";
}

.icon-twitter:before {
	content: "\f099";
}

.icon-facebook:before {
	content: "\f09a";
}

.icon-facebook-f:before {
	content: "\f09a";
}

.icon-unlock:before {
	content: "\f09c";
}

.icon-globe:before {
	content: "\f0ac";
}

.icon-google-plus:before {
	content: "\f0d5";
}

.icon-linkedin:before {
	content: "\f0e1";
}

.icon-star-half-empty:before {
	content: "\f123";
}

.icon-star-half-full:before {
	content: "\f123";
}

.icon-star-half-o:before {
	content: "\f123";
}

.icon-youtube-play:before {
	content: "\f16a";
}

.icon-pinterest-p:before {
	content: "\f231";
}

.icon-vimeo:before {
	content: "\f27d";
}

.icon-chevron-small-down:before {
	content: "\e913";
}

.icon-chevron-small-left:before {
	content: "\e914";
}

.icon-chevron-small-right:before {
	content: "\e915";
}

.icon-chevron-small-up:before {
	content: "\e916";
}

body {
	min-width: 320px;
}

.bg-image {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	position: absolute;
	background-position: 50% 50%;
	background-size: cover;
}

.btn {
	font-size: 18px;
	line-height: 24px;
	border: none !important;
	white-space: normal;
}

h2 {
	font-size: 24px;
	line-height: 28px;
	font-weight: 300;
	margin: 0 0 10px;
}

.form-control {
	font-size: 14px;
	line-height: 18px;
	height: 40px;
	box-shadow: none;
	border-radius: 2px;
	color: #c0c0c0;
	padding: 4px 8px;
}

.form-control:-moz-placeholder {
	color: #c0c0c0;
	opacity: 1;
}

.form-control::-moz-placeholder {
	color: #c0c0c0;
	opacity: 1;
}

.form-control:-ms-input-placeholder {
	color: #c0c0c0;
}

.form-control::-webkit-input-placeholder {
	color: #c0c0c0;
}

#wrapper {
	position: relative;
	overflow: hidden;
}

#header {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	overflow: hidden;
	z-index: 99;
	background: rgba(255, 255, 255, .8);
}

#main-header {
	position: relative;
	padding: 10px 0 0;
	font-family: "Roboto", sans-serif;
}

#main-header:after {
	display: block;
	clear: both;
	content: "";
}

#main-header .top-bar {
	padding: 10px 0;
	border-bottom: 1px solid #e5e5e5;
}

#main-header .logo {
	float: left;
	width: 169px;
}

#main-header .logo img {
	width: 100%;
	height: auto;
	vertical-align: top;
}

#main-header .logo a {
	display: block;
}

#main-header .login-area {
	font-size: 14px;
	line-height: 18px;
	overflow: hidden;
	text-transform: uppercase;
	padding: 5px 28px 16px 0;
}

#main-header .login-area ul {
	margin: 0;
}

#main-header .login-area li {
	padding: 0 0 0 25px;
}

#main-header .login-area .btn {
	font-size: 14px;
	line-height: 18px;
	padding: 11px 23px;
}

#main-header .login-area .btn i {
	display: inline-block;
	vertical-align: top;
	margin: 2px 8px 0 0;
}

#main-header .login-area .tel {
	font-size: 18px;
	line-height: 22px;
	display: inline-block;
	vertical-align: top;
	font-weight: 700;
}

#main-header .login-area .tel i {
	display: inline-block;
	vertical-align: top;
	margin: 4px 9px 0 0;
}

#main-header .login-area .login {
	color: #636363;
	display: inline-block;
	vertical-align: top;
	margin: 0 0 0 22px;
}

#main-header .login-area .login:hover {
	color: #3c3838;
}

#main-header .login-area .login i {
	display: inline-block;
	vertical-align: top;
	margin: 3px 10px 0 0;
	color: #0991c5;
}

#nav {
	position: relative;
	text-align: center;
	background: none;
	border: none;
	margin: 0;
}

#nav .navbar-collapse {
	margin: 0 -30px;
}

#nav .menu {
	font-size: 0;
	line-height: 0;
	float: none;
}

#nav .menu > * {
	font-size: 18px;
	line-height: 22px;
}

#nav .menu li {
	display: inline-block;
	vertical-align: top;
	padding: 0 18px;
	float: none;
}

#nav .menu li.active > a {
	color: #0991c5;
	border-bottom-color: #0991c5;
	background: none;
}

#nav .menu a {
	color: #343434;
	display: block;
	border-bottom: 2px solid transparent;
	padding: 28px 0;
}

#nav .menu a:hover {
	color: #0991c5;
	border-bottom-color: #0991c5;
}

#nav .navbar-collapse {
	background: none;
	border: none;
}

#main-nav {
	position: relative;
	background: no-repeat;
	margin: 0;
	border: none;
	min-height: inherit;
	border-radius: 0;
	font: 16px/20px "Roboto", sans-serif;
}

#main-nav .navbar-collapse {
	padding: 0;
	background: no-repeat;
	height: auto;
}

#main-nav .dropdown-menu {
	border: none;
	padding: 0;
}

#main-nav .dropdown-menu li a:hover {
	background: #0991c5;
	color: #fff;
}

#main-nav .menu > li > a {
	padding: 14px 30px;
	color: #0c2b57;
}

#main-nav .menu > li > a:hover {
	background: #0991c5;
	color: #fff;
}

#main-nav .menu > li > a i {
	font-size: 19px;
	line-height: 14px;
	vertical-align: middle;
}

#main-nav .menu > li.active > a,
#main-nav .menu > li.open > a {
	background: #0991c5;
	color: #fff;
}

#main-nav .btn {
	position: absolute;
	right: 0;
	top: 6px;
	text-transform: uppercase;
	border: 1px solid #e9e9e9 !important;
	border-radius: 4px;
	font-size: 14px;
	line-height: 18px;
	padding: 8px 16px;
	color: #737373;
	box-shadow: none;
}

#main-nav .btn:hover {
	border-radius: 4px;
	color: #fff;
	background: #737373;
}

.visual-block {
	font-size: 24px;
	line-height: 28px;
	position: relative;
	overflow: hidden;
	color: #fff;
}

.visual-block .text-block {
	padding: 273px 0 198px;
}

.visual-block .title {
	display: block;
	color: #62d2fd;
	margin: 0 0 9px;
}

.visual-block h1 {
	font-size: 40px;
	line-height: 42px;
	font-weight: 300;
	margin: 0 0 20px;
	letter-spacing: -.4px;
}

.visual-block .next-btn {
	display: inline-block;
	vertical-align: top;
	color: #fff;
	font-size: 40px;
	line-height: 40px;
	margin: 0 0 0 6px;
}

.visual-block .next-btn:hover {
	opacity: .8;
}

.carousel {
	position: relative;
}

.carousel.not-enough-slides .btn-prev,
.carousel.not-enough-slides .btn-next {
	display: none;
}

.carousel .mask {
    overflow: hidden;
    position: relative;
}

.carousel .slideset {
	width: 100%;
	float: left;
}

.carousel .slide {
	overflow: hidden;
	position: relative;
	width: 100%;
	float: left;
}

.carousel .pagination {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99;
	margin: 0;
}

.carousel .pagination ul {
	list-style: none;
	margin: 0 auto;
	padding: 0 10px;
	max-width: 1170px;
	text-align: right;
}

.carousel .pagination li {
	display: inline-block;
	vertical-align: top;
	padding: 0 5px;
}

.carousel .pagination li.active a {
	background: #008ec4;
}

.carousel .pagination a {
	overflow: hidden;
	text-indent: -9999px;
	width: 11px;
	height: 11px;
	display: block;
	background: #fff;
	border-radius: 100%;
	text-align: left;
}

.carousel .pagination a:hover {
	background: #008ec4;
}

.carousel .btn-next,
.carousel .btn-prev {
	font-size: 21px;
	line-height: 24px;
	position: absolute;
	left: 0;
	top: 50%;
	margin: -12px 0 0;
	color: #95a2b6;
}
.block-gallery .carousel .btn-next,
.block-gallery .carousel .btn-prev{
	color: #fff;
	font-size: 30px;
	top: 35%;
	margin: 0;
}
.block-gallery .carousel .btn-next:hover,
.block-gallery .carousel .btn-prev:hover {
	color: #fff;
}
.carousel .btn-next:hover,
.carousel .btn-prev:hover {
	color: #5caad1;
}

.carousel .btn-next {
	left: auto;
	right: 0;
}

.person-info {
	position: relative;
	padding: 0 0 3px;
}

.person-info .image-holder {
	font-size: 18px;
	line-height: 22px;
	font-weight: 300;
	float: left;
	width: 261px;
	margin: -159px 0 0;
	border-radius: 4px;
	text-align: center;
	height: 261px;
	background: #fff;
	display: flex;
  align-items: center
}
.person-info .image-holder img {
	width: auto;
	height: auto;
	vertical-align: top;
	border: 1px solid #fff;
	margin: 0 auto 36px;
	border-radius: 4px;
	width: auto;
    text-align: center;
}

.person-info .image-holder .link-profile {
	text-decoration: underline;
	color: #808080;
}

.person-info .image-holder .link-profile:hover {
	text-decoration: none;
}

.person-info .text-holder {
	overflow: hidden;
	padding: 10px 0 0 30px;
}

.person-info .top-area {
	font-size: 0;
	line-height: 0;
	position: relative;
	overflow: hidden;
	padding: 0 0 5px;
	border-bottom: 1px solid #ddd;
}

.person-info .top-area > * {
	font-size: 20px;
	line-height: 24px;
}

.person-info .top-area .rank-info {
	font-size: 20px;
	line-height: 22px;
	display: inline-block;
	vertical-align: top;
	width: 28%;
	font-weight: 300;
	color: #0991c5;
}

.person-info .top-area .rank-info .designation {
	display: block;
}

.person-info .top-area .rank-info .title {
	font-size: 24px;
	line-height: 28px;
	font-weight: 300;
	display: block;
	color: #057dab;
	margin: 0 0 5px;
}

.person-info .top-area .rank-info .title a {
	color: #057dab;
}

.person-info .top-area .rank-info h2 {
	font-size: 30px;
	line-height: 32px;
	font-weight: 300;
	margin: 0;
	color: #000;
}

.person-info .top-area .rating-info {
	display: inline-block;
	vertical-align: middle;
	font-size: 24px;
	line-height: 28px;
	width: 27%;
	padding: 0 50px 0 19px;
	position: relative;
	color: #000;
}

.person-info .top-area .rating-info .rating-points {
	position: absolute;
	right: 7px;
	top: -2px;
}

.person-info .top-area .btn-area {
	display: inline-block;
	vertical-align: middle;
	width: 45%;
	padding: 0 0 0 20px;
}

.person-info .top-area .btn-area .btn {
	font-size: 24px;
	line-height: 28px;
	font-weight: 700;
	padding: 27px 15px 27px 88px;
	position: relative;
	text-transform: uppercase;
	display: block;
}

.person-info .top-area .btn-area .icon-holder {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 78px;
	border-right: 1px solid #2ea8d7;
	padding: 22px 17px;
	background: #057dab;
	border-radius: 4px 0 0 4px;
}

.person-info .top-area .btn-area .icon-holder img {
	width: 100%;
	height: auto;
	vertical-align: top;
}

.person-info .row-area {
	font-size: 0;
	line-height: 0;
	position: relative;
	overflow: hidden;
	padding: 23px 0;
}

.person-info .row-area > * {
	font-size: 20px;
	line-height: 24px;
}

.person-info .row-area .col-holder {
	display: inline-block;
	vertical-align: middle;
	width: 188px;
	position: relative;
}

.person-info .row-area .col-holder:first-child:before {
	display: none;
}

.person-info .row-area .col-holder:before {
	position: absolute;
	left: 10px;
	height: 50px;
	margin: -25px 0 0;
	content: "";
	width: 1px;
	top: 50%;
	background: #ddd;
}

.person-info .row-area .col-holder.style {
	width: 292px;
	padding: 0 30px;
	text-align: left;
}

.person-info .row-area .col-holder.style a {
	color: #0991c5;
}

.person-info .row-area .col-holder.style a:hover {
	color: #074a64;
}

.person-info .row-area .col-holder.style .icon-phone2 {
	font-size: 24px;
	line-height: 28px;
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: rotate(10deg);
	-ms-transform: rotate(10deg);
	transform: rotate(10deg);
	margin: 0 5px 0 0;
}

.person-info .row-area .col-holder.style .icon-globe {
	font-size: 26px;
	line-height: 30px;
	color: #ababab;
	margin: 4px 4px 0 0;
	vertical-align: middle;
}

.person-info .row-area .carousel {
	padding: 0 26px 0 24px;
}

.person-info .row-area .carousel .mask {
	width: 135px !important;
}

.person-info .row-area .carousel .slideset {
	font-size: 0;
	line-height: 0;
	width: 100% !important;
	white-space: nowrap;
}

.person-info .row-area .carousel .slideset > * {
	font-size: 20px;
	line-height: 20px;
}

.person-info .row-area .carousel .slide {
	display: inline-block;
	vertical-align: top;
	float: none;
	width: 33.333% !important;
}

.person-info .row-area .carousel .slide a {
	width: 40px;
	height: 40px;
	font-size: 20px;
	line-height: 40px;
	border-radius: 100%;
	color: #fff;
	background: #43619b;
	text-align: center;
	display: block;
	margin: 0 auto;
}

.person-info .row-area .carousel .slide a:hover {
	opacity: .8;
}

.person-info .row-area .carousel .slide a.icon-twitter {
	background: #2ea6de;
}

.person-info .row-area .carousel .slide a.icon-linkedin {
	background: #197fb7;
}

.person-info .row-area .carousel .slide a.icon-google-plus {
	background: #db4437;
}

.person-info .row-area .carousel .slide a.icon-youtube-play {
	background: #cc181e;
}

.person-info .row-area .carousel .slide a.icon-pinterest-p {
	background: #bd081c;
}

.person-info .row-area .carousel .slide a.icon-vimeo {
	background: #000;
}

.rating-list {
	font-size: 0;
	line-height: 0;
	margin: 0;
	color: #f2b309;
}

.rating-list > * {
	font-size: 24px;
	line-height: 24px;
}

.rating-list li {
	padding: 0 3px;
}

.addresses-block {
	position: relative;
	overflow: hidden;
	background: #f3f3f3;
	padding: 21px 0;
}

.addresses-block .carousel {
	padding: 0 56px 0 164px;
}

.addresses-block .mask {
	width: 100% !important;
}

.addresses-block .slideset {
	font-size: 0;
	line-height: 0;
	width: 100% !important;
	white-space: nowrap;
}

.addresses-block .slideset > * {
	font-size: 16px;
	line-height: 20px;
	white-space: normal;
}

.addresses-block .slide {
	display: inline-block;
	vertical-align: top;
	float: none;
	width: 33.333% !important;
	padding: 0 30px;
	position: relative;
}

.addresses-block .slide:before {
	position: absolute;
	left: 1px;
	top: 0;
	bottom: 0;
	width: 1px;
	content: "";
	background: #ddd;
}

.addresses-block .title {
	display: block;
	color: #010101;
	font-weight: normal;
	margin: 0 0 3px;
}

.addresses-block address {
	font-size: 16px;
	line-height: 24px;
	font-weight: 300;
	margin: 0 0 3px;
}

.addresses-block .more {
	font-size: 14px;
	line-height: 18px;
	display: inline-block;
	vertical-align: top;
	color: #0991c5;
}

.addresses-block .more:hover {
	color: #054963;
}

.addresses-block .btn-next,
.addresses-block .btn-prev {
	font-size: 14px;
	color: #95a2b6;
}

.addresses-block .btn-next .icon-chevron-left,
.addresses-block .btn-next .icon-chevron-right,
.addresses-block .btn-prev .icon-chevron-left,
.addresses-block .btn-prev .icon-chevron-right {
	font-size: 24px;
	line-height: 28px;
	vertical-align: middle;
}

.addresses-block .btn-next:hover,
.addresses-block .btn-prev:hover {
	color: #0991c5;
}

.heading-area {
	font-size: 14px;
	line-height: 18px;
	position: relative;
	overflow: hidden;
	padding: 0 140px 0 0;
	font-weight: 300;
	margin: 0 0 30px;
}

.heading-area h2 {
	margin: 0;
	font-weight: 300;
}

.heading-area .link {
	position: absolute;
	right: 0;
	bottom: 7px;
	color: #0991c5;
}

.heading-area .link:hover {
	color: #074a64;
}

.members-block {
	font-size: 16px;
	line-height: 20px;
	position: relative;
	overflow: hidden;
	padding: 43px 0 41px;
	color: #16335c;
}

.members-block .carousel {
	padding: 0 20px;
}

.members-block .mask {
	width: 1098px !important;
	margin: 0 auto;
}

.members-block .slideset {
	font-size: 0;
	line-height: 0;
	width: 100% !important;
	white-space: nowrap;
}

.members-block .slideset > * {
	font-size: 16px;
	line-height: 20px;
	white-space: normal;
}

.members-block .slide {
	display: inline-block;
	vertical-align: top;
	float: none;
	width: 33.333% !important;
	padding: 0 10px;
	position: relative;
	overflow: hidden;
}

.members-block h2 {
	color: #000;
}

.members-block .image-holder {
	float: left;
	width: 94px;
}

.members-block .image-holder img {
	width: 100%;
	height: auto;
	vertical-align: top;
	border-radius: 100%;
}

.members-block .text-holder {
	overflow: hidden;
	padding: 4px 0 0 13px;
}

.members-block .title {
	font-size: 18px;
	line-height: 22px;
	display: block;
	font-weight: 300;
	text-transform: uppercase;
	margin: 0 0 -1px;
}

.members-block .title a {
	color: #0991c5;
}

.members-block .title a:hover {
	color: #074a64;
}

.members-block .designation {
	display: block;
	color: #636363;
	margin: 0 0 -2px;
}

.members-block p {
	margin: 0 0 2px;
}

.members-block .rating-list > * {
	font-size: 18px;
	line-height: 22px;
}

.members-block .rating-list li {
	padding: 0 2px;
}

.block-description {
	font-size: 18px;
	line-height: 24px;
	background: #0991c5;
	color: #fff;
	padding: 43px 0 55px;
}

.block-description a {
	font-size: 14px;
	line-height: 18px;
	display: inline-block;
	vertical-align: top;
	font-weight: 300;
	color: #fff;
}

.block-description a:hover {
	opacity: .8;
}

.block-description h2 {
	margin: 0 0 21px;
}

.block-description p {
	margin: 0 0 19px;
}

.block-education {
	font-size: 18px;
	line-height: 24px;
	position: relative;
	overflow: hidden;
	padding: 43px 0 30px;
	color: #000;
}

.block-education h2 {
	margin: 0 0 6px;
}

.block-education .university-list {
	position: relative;
	overflow: hidden;
}

.block-education .university-list li {
	font-size: 0;
	line-height: 0;
	padding: 13px 0;
	border-bottom: 1px solid #c9c9c9;
}

.block-education .university-list li > * {
	font-size: 18px;
	line-height: 22px;
}

.block-education .university-list .uni-info {
	display: inline-block;
	vertical-align: middle;
	width: 53%;
	font-weight: normal;
}

.block-education .university-list .uni-info a {
	color: #0991c5;
}

.block-education .university-list .uni-info a:hover {
	color: #074a64;
}

.block-education .university-list .degree-info {
	display: inline-block;
	vertical-align: middle;
	width: 36%;
}

.block-education .university-list .year {
	display: inline-block;
	vertical-align: middle;
	width: 10%;
	text-align: right;
	padding: 0 5px 0 0;
}

.block-education .list-info {
	padding: 10px 0 0;
}

.block-education .list-info li {
	padding: 12px 0 12px 32px;
	position: relative;
}

.block-education .list-info li:before {
	font: 18px/22px "icomoon";
	position: absolute;
	left: 0;
	top: 12px;
	content: "\e901";
	color: #0991c5;
}

.block-insurance {
	font-size: 18px;
	line-height: 22px;
	position: relative;
	overflow: hidden;
	padding: 43px 0 66px;
}

.block-insurance h2 {
	margin: 0 0 35px;
}

.block-insurance .carousel {
	padding: 0 20px;
}

.block-insurance .mask {
	width: 1100px !important;
	margin: 0 auto;
	min-height: 124px;
}

.block-insurance .slideset,
.block-gallery .slideset{
	font-size: 0;
	line-height: 0;
	width: 100% !important;
	white-space: nowrap;
}

.block-insurance .slideset > *,
.block-gallery .slideset > * {
	font-size: 18px;
	line-height: 22px;
	white-space: normal;
}

.block-insurance .slide,
.block-gallery .slide {
	display: inline-block;
	vertical-align: middle;
	float: none;
	width: 20% !important;
	padding: 0 10px;
	position: relative;
	overflow: hidden;
	text-align: center;
	font-weight: 500;
}
.block-gallery .slide {
	width: 33.3% !important;
}
.block-gallery .mask {
    margin: 0 auto;
    width: 95% !important;
}
.block-insurance .wrap,
.block-gallery  .wrap{
	width: 100%;
	height: 100%;
	display: table;
	position: relative;
}

.block-insurance .box,
.block-gallery  .box{
	display: table-cell;
	vertical-align: middle;
	padding: 0 0 30px;
}

.block-insurance .text {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
}

.block-gallery {
	position: relative;
	overflow: hidden;
	padding: 66px 0 60px;
	color: #fff;
}

.block-gallery h2 {
	margin: 0 0 27px;
}

.block-gallery .carousel {
	padding: 0 0 30px;
}

.block-gallery .carousel .pagination {
	bottom: 0;
}

.block-gallery .carousel .pagination ul {
	text-align: center;
}

.block-gallery .carousel .pagination li.active a {
	border-color: #0991c5;
	background: #0991c5;
}

.block-gallery .carousel .pagination a {
	width: 13px;
	height: 13px;
	background: none;
	border: 1px solid #fff;
}

.block-gallery .carousel .pagination a:hover {
	border-color: #0991c5;
	background: #0991c5;
}

.block-gallery .image-holder {
	position: relative;
	overflow: hidden;
}

.block-gallery .image-holder img {
	width: 100%;
	height: 235px;
	vertical-align: top;
}

.block-gallery .image-holder + .image-holder {
	margin: 30px 0 0;
}

.block-gallery .btn-play {
	width: 70px;
	height: 70px;
	border-radius: 100%;
	border: 3px solid #0991c5;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -35px 0 0 -35px;
}

.block-gallery .btn-play:hover {
	border-color: #000;
}

.block-gallery .btn-play:hover:before {
	border-color: transparent transparent transparent #000;
}

.block-gallery .btn-play:before {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 15px 0 15px 22px;
	border-color: transparent transparent transparent #0991c5;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -15px 0 0 -8px;
	content: "";
}

.map-block {
	position: relative;
	overflow: hidden;
}

.map-block img {
	width: 100%;
	height: auto;
	vertical-align: top;
}

.map-block .popup-holder {
	font-size: 16px;
	line-height: 24px;
	position: absolute;
	right: 31.5%;
	top: 90px;
	background: #fff;
	z-index: 99;
	font-weight: 300;
	box-shadow: 0 3px 4px rgba(0, 0, 0, .16);
	border: solid 1px #e0e0e0;
	width: 300px;
	padding: 18px;
	color: #636363;
}

.map-block .popup-holder:after {
	width: 0;
	height: 0;
	position: absolute;
	top: 100%;
	left: 50%;
	content: "";
	margin: 0 0 0 -10px;
	border-style: solid;
	border-width: 10px 9px 0 9px;
	border-color: #fff transparent transparent transparent;
}

.map-block .popup-holder .title {
	font-size: 18px;
	line-height: 22px;
	display: block;
	color: #3b4a5a;
	margin: 0 0 4px;
	text-transform: uppercase;
}

.map-block .popup-holder address {
	margin: 0;
}

.block-offer {
	font-size: 18px;
	line-height: 24px;
	position: relative;
	overflow: hidden;
	padding: 52px 0 60px;
}

.block-offer h2 {
	margin: 0 0 20px;
}

.block-offer .offer-info {
	background: -webkit-linear-gradient(top, #d8ecf5 0%, #c3e0f0 100%);
	background: linear-gradient(to bottom, #d8ecf5 0%, #c3e0f0 100%);
	position: relative;
	overflow: hidden;
	padding: 43px 270px 60px 406px;
}

.block-offer .offer-info:after {
	position: absolute;
	left: 0;
	right: 13px;
	bottom: 0;
	background: url(../images/img20.png) no-repeat;
	background-size: 100% 100%;
	content: "";
	height: 157px;
}

.block-offer .offer-info .image-holder {
	position: absolute;
	left: 0;
	top: 10px;
	z-index: 99;
}

.block-offer .offer-info .image-holder img {
	width: 100%;
	height: auto;
	vertical-align: top;
}

.block-sign-up {
	position: relative;
	overflow: hidden;
	background: #f3f3f3;
	padding: 60px 0;
	font-size: 14px;
	line-height: 18px;
}

.block-sign-up .form-submit {
	background: #fff;
	padding: 45px 10px 54px;
	margin: 0 0 20px;
	box-shadow: 0 3px 1px rgba(0, 1, 1, .1);
}

.block-sign-up h2 {
	margin: 0;
	color: #fff;
	background: #16335c;
	padding: 10px 19px 17px;
}

.block-sign-up .field-area {
	max-width: 945px;
	margin: 0 auto;
}

.block-sign-up .field-holder {
	display: inline-block;
	vertical-align: middle;
	width: 51.2%;
	padding: 0 26px 0 0;
}

.block-sign-up label {
	display: inline-block;
	vertical-align: top;
	font-weight: 500;
	color: #636363;
	margin: 0 0 8px;
}

.block-sign-up .captcha-holder {
	display: inline-block;
	vertical-align: top;
	width: 32%;
}

.block-sign-up .captcha-holder img {
	width: 100%;
	height: auto;
	vertical-align: top;
}

.block-sign-up .form-control {
	margin: 0;
}

.block-sign-up .btn-holder {
	display: inline-block;
	vertical-align: middle;
	width: 14%;
	padding: 0 0 0 47px;
}

.block-sign-up .btn-holder .btn {
	min-width: 103px;
}

.block-sign-up .btn-contact {
	font-size: 18px;
	line-height: 22px;
	display: block;
	padding: 9px;
}

.block-review {
	position: relative;
	overflow: hidden;
	padding: 44px 0 50px;
}

.block-review .heading-area {
	margin: 0 0 31px;
}

.block-review .rating-block {
	overflow: hidden;
	position: relative;
	padding: 12px 0 17px;
	border-bottom: 1px solid #e8e8e8;
}

.block-review .rating-area {
	font-size: 14px;
	line-height: 18px;
	float: left;
	width: 213px;
	padding: 7px 0 0;
}

.block-review .rating-area p {
	margin: 0 0 6px;
}

.block-review .rating-area strong {
	font-weight: 600;
}

.block-review .rating-area time {
	display: block;
}

.block-review .rating-list {
	margin: 0 0 4px;
}

.block-review .rating-list > * {
	font-size: 18px;
	line-height: 22px;
}

.block-review .rating-list li {
	padding: 0;
}

.block-review .description-holder {
	font-size: 14px;
	line-height: 24px;
	overflow: hidden;
}

.block-review .description-holder p {
	margin: 0;
}

.block-search {
	position: relative;
	overflow: hidden;
	background: #fbfbfb;
	padding: 46px 0 50px;
	z-index: 2;
}

.block-search.style {
	background: #17335c;
	padding: 46px 0 14px;
}

.block-search.style .form-search {
	max-width: 1000px;
}

.block-search.style .lable-holder {
	display: block;
	font-size: 24px;
	line-height: 28px;
	margin: 0 0 17px;
}

.block-search.style .form-control {
	height: 50px;
}

.block-search.style .row-holder {
	padding: 0 152px 0 0;
}

.block-search.style .row-holder .btn {
	padding: 14px 35px;
}

.block-search.style label {
	font-weight: normal;
	color: #fff;
	font-weight: 300;
}

.block-search h2 {
	margin: 0 0 18px;
}

.block-search .form-search {
	max-width: 746px;
	margin: 0 auto;
}

.block-search .form-control {
	padding: 5px 15px;
}

.block-search .row-holder {
	position: relative;
	padding: 0 125px 0 0;
	margin: 0 0 25px;
}

.block-search .row-holder .btn {
	position: absolute;
	right: 0;
	top: 0;
	min-width: 95px;
	padding: 8px;
}

.block-search .icon-map-marker {
	font-size: 16px;
	line-height: 20px;
}

.block-search .text-right {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	font-weight: 700;
}

.block-search .text-right .icon-map-marker {
	margin: 0 8px 0 0;
	vertical-align: middle;
}

#footer {
	font-size: 18px;
	line-height: 22px;
	position: relative;
	overflow: hidden;
	text-align: center;
	background: #3b4a5a;
	padding: 22px 0 0;
	color: #0991c5;
}

#footer a {
	color: #0991c5;
}

#footer a:hover {
	color: #fff;
}

#footer .logo-area {
	padding: 0 0 29px;
	border-bottom: 1px solid #485a6e;
	margin: 0 0 27px;
}

#footer p {
	margin: 0 0 35px;
}

#footer .social-networks li {
	font-size: 16px;
	line-height: 20px;
	padding: 0 14px;
}

#footer .social-networks a {
	color: #8ca1b7;
}

#footer .social-networks a:hover {
	color: #fff;
}

.visual {
	font-size: 24px;
	line-height: 28px;
	position: relative;
	overflow: hidden;
	box-shadow: 0 1px 5px 0 rgba(0, 1, 1, .5) inset;
	padding: 167px 0 160px;
	color: #fff;
}

.visual .container {
	width: 100%;
	max-width: 900px;
}

.visual h1 {
	font-size: 60px;
	line-height: 72px;
	font-weight: normal;
	margin: 0 0 18px;
	text-transform: uppercase;
}

.visual p {
	margin: 0 0 88px;
}

.visual .btn-list {
	margin: 0;
	text-transform: uppercase;
}

.visual .btn-list .btn {
	font-size: 14px;
	line-height: 18px;
	min-width: 180px;
	padding: 16px 10px;
}

.visual .btn-list .btn:hover {
	background: #fff;
	color: #17335c;
}

.visual .btn-list .btn.btn-default {
	background: #fff;
	color: #17335c;
}

.visual .btn-list .btn.btn-default:hover {
	background: #17335c;
	color: #fff;
}

.block-machine {
	position: relative;
	overflow: hidden;
	background: #f0fcff;
	color: #17335c;
	padding: 82px 0 109px;
	text-align: center;
}

.block-machine h2 {
	font-size: 40px;
	line-height: 44px;
	margin: 0 0 57px;
	font-weight: 500;
}

.block-machine .image-holder {
	position: relative;
	overflow: hidden;
	padding: 20px 7px 0 13px;
}

.block-machine .image-holder img {
	width: 100%;
	height: auto;
	vertical-align: top;
}

.block-video {
	position: relative;
	overflow: hidden;
	padding: 72px 0 0;
	color: #17335c;
	font-size: 18px;
	line-height: 22px;
}

.block-video .container {
	position: relative;
}

.block-video .form-search {
	margin: 0 0 71px;
}

.block-video .image-holder {
	position: relative;
	overflow: hidden;
}

.block-video .image-holder img {
	width: 100%;
	height: auto;
	vertical-align: top;
}

.block-video h2 {
	font-size: 36px;
	line-height: 40px;
	font-weight: 300;
	margin: 0 0 23px;
	color: #0991c5;
}

.block-video p {
	margin: 0 0 17px;
}

.block-video .title {
	display: block;
	font-weight: 300;
	font-size: 24px;
	line-height: 28px;
	color: #434b53;
	margin: 0 0 18px;
}

.block-video .form-control {
	padding: 4px 19px;
}

.block-video .field-holder {
	margin: 0 0 23px;
}

.block-video input[type="submit"] {
	display: block;
	width: 100%;
	margin: 0 0 28px;
	padding: 8px;
}

.block-video .text-center {
	text-transform: uppercase;
	font-size: 14px;
	line-height: 18px;
	font-weight: 700;
}

.block-video .text-center i {
	display: inline-block;
	vertical-align: top;
	margin: 2px 4px 0 0;
}

.block-video .btn-opener {
	position: absolute;
	right: 116px;
	bottom: 0;
	width: 255px;
	background: #d5f0f8;
	text-transform: uppercase;
	color: #17335c;
	font-size: 14px;
	line-height: 18px;
	font-weight: 700;
	padding: 10px 10px 20px;
	border-radius: 8px 8px 0 0;
	text-align: center;
}

.block-video .btn-opener.collapsed:after {
	content: "\e913";
}

.block-video .btn-opener:after {
	font: 14px/18px "icomoon";
	position: absolute;
	left: 50%;
	bottom: 2px;
	content: "\e916";
	font-size: 20px;
	line-height: 20px;
	margin: 0 0 0 -10px;
}

.name-holder {
	background: #d5f0f8;
	font-size: 14px;
	line-height: 26px;
	border-bottom: 1px solid #17335c;
}

.name-holder .names-list {
	padding: 20px 0 15px;
	margin: 0 -5px;
}

.name-holder li {
	padding: 0 5px;
	margin: 0 0 5px;
}

.name-holder a {
	width: 29px;
	height: 29px;
	display: block;
	border-radius: 100%;
	border: 1px solid #b1e4f3;
	text-align: center;
	color: #17335c;
	text-transform: uppercase;
}

.name-holder a:hover {
	color: #fff;
	border-color: #0991c5;
	background: #0991c5;
}

.call-block {
	font-size: 18px;
	line-height: 24px;
	position: relative;
	overflow: hidden;
	padding: 74px 0 104px;
}

.call-block p {
	margin: 0 0 24px;
}

.call-block .btn-list {
	margin: 0 -4px;
	text-transform: uppercase;
}

.call-block .btn-list .btn {
	font-size: 14px;
	line-height: 18px;
	min-width: 180px;
	padding: 11px;
}

.call-block .title {
	display: block;
	font-weight: 300;
}

.call-block .contact-holder {
	border: 1px solid #0991c5;
	border-radius: 8px;
	padding: 34px 18px 11px;
	font-weight: 700;
	color: #0991c5;
	font-size: 24px;
	line-height: 28px;
	margin: 15px 0 0;
}

.call-block .list-holder {
	position: relative;
	margin: 0;
}

.call-block .list-holder li {
	position: relative;
	padding: 0 0 0 35px;
	margin: 0 0 30px;
}

.call-block .list-holder li i {
	position: absolute;
	left: -2px;
	top: 5px;
}

.call-block .list-holder li i.icon-envelope-o {
	font-size: 20px;
}

.call-block h3 {
	font-size: 20px;
	line-height: 24px;
	margin: 0 0 26px;
	color: #17335c;
}

.block-persons {
	position: relative;
	overflow: hidden;
	color: #fff;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	font-size: 20px;
	line-height: 30px;
	font-weight: 300;
}

.block-persons .col {
	width: 50%;
	position: relative;
	overflow: hidden;
}

.block-persons .col:first-child {
	background: #0991c5;
}

.block-persons .wrap {
	max-width: 870px;
	padding: 72px 20px 0 97px;
	margin: 0 auto;
}

.block-persons img {
	width: 100%;
	height: auto;
	vertical-align: top;
}

.block-persons h2 {
	font-size: 40px;
	line-height: 44px;
	font-weight: 500;
	margin: 0 0 22px;
}

.block-persons p {
	margin: 0 0 48px;
}

.block-persons .info {
	position: relative;
	overflow: hidden;
	text-align: center;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
}

.block-persons .image-holder {
	width: 139px;
	height: 139px;
	margin: 0 auto 14px;
	border: 1px solid #fff;
	border-radius: 100%;
	padding: 40px 43px;
}

.block-persons .image-holder.style {
	padding: 39px 41px;
}

.block-persons .image-holder.style1 {
	padding: 33px 48px;
}

.block-facilities {
	position: relative;
	overflow: hidden;
	padding: 80px 0 64px;
	font-size: 20px;
	line-height: 22px;
	color: #434b53;
}

.block-facilities h2 {
	color: #0991c5;
	font-size: 36px;
	line-height: 39px;
	margin: 0 0 37px;
	padding: 47px 0 0;
}

.block-facilities .list-holder {
	position: relative;
	overflow: hidden;
	margin: 0;
}

.block-facilities .list-holder li {
	margin: 0 0 44px;
	position: relative;
	padding: 0 0 0 43px;
}

.block-facilities .circle {
	width: 24px;
	height: 24px;
	border: 2px solid #0d93c6;
	border-radius: 100%;
	font-size: 26px;
	line-height: 18px;
	position: absolute;
	left: 2px;
	top: 0;
	color: #0d93c6;
	text-align: center;
}

.block-facilities .circle i {
	line-height: 20px;
	margin: 2px 0 0 -2px;
	vertical-align: top;
}

.block-facilities .text-center {
	padding: 30px 0 0;
}

.block-facilities .btn {
	position: relative;
	min-width: 240px;
	padding: 18px 15px 15px 55px;
	font-size: 16px;
	line-height: 19px;
	text-align: left;
}

.block-facilities .btn .circle {
	border-color: #fff;
	color: #fff;
	top: 50%;
	margin: -12px 0 0;
	left: 19px;
}

.block-facilities .btn .text {
	display: block;
	font-size: 14px;
	line-height: 16px;
	margin: 0 0 3px;
}

.block-facilities .btn .title {
	display: block;
	font-weight: normal;
	text-transform: uppercase;
}

.block-facilities img {
	width: 100%;
	height: auto;
	vertical-align: top;
}

.block-partners {
	position: relative;
	overflow: hidden;
	background: #17335c;
	padding: 78px 0 88px;
	color: #fff;
}

.block-partners h2 {
	font-size: 40px;
	line-height: 44px;
	font-weight: 500;
	text-align: center;
	margin: 0 0 34px;
}

.block-partners .partners-list {
	margin: 0;
	text-align: center;
}

.block-partners .partners-list li {
	padding: 0 23px;
}

.block-partners .partners-list li img {
	max-width: 100%;
}

.block-activity {
	position: relative;
	overflow: hidden;
	background: #f0fcff;
	padding: 66px 0;
	color: #738196;
	font-size: 14px;
	line-height: 18px;
}

.block-activity h2 {
	color: #15315b;
	text-align: center;
	font-size: 40px;
	line-height: 42px;
	font-weight: 500;
	margin: 0 0 42px;
	text-align: center;
}

.block-activity .article-holder {
	position: relative;
	background: #fff;
	padding: 28px 108px 21px;
	margin: 0 0 20px;
	border-radius: 3px;
	box-shadow: 0 2px 3px rgba(1, 1, 1, .2);
}

.block-activity .image-holder {
	position: absolute;
	width: 68px;
	left: 20px;
	top: 50%;
	margin: -34px 0 0;
}

.block-activity .image-holder img {
	width: 100%;
	height: auto;
	vertical-align: top;
}

.block-activity .title {
	font-size: 16px;
	line-height: 19px;
	display: block;
	font-weight: 500;
	color: #15315b;
	margin: 0 0 3px;
}

.block-activity time {
	position: absolute;
	right: 28px;
	top: 50%;
	margin: -9px 0 0;
}

.block-activity .text-center {
	padding: 37px 0 0;
}

.block-activity .btn {
	font-size: 14px;
	line-height: 18px;
	min-width: 152px;
	padding: 11px;
	text-transform: uppercase;
}

.two-cols {
	position: relative;
	overflow: hidden;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	color: #fff;
}

.two-cols .wrap {
	max-width: 540px;
	padding: 0 55px 0 15px;
	margin: 0 auto;
}

.two-cols h2 {
	font-size: 40px;
	line-height: 44px;
	font-weight: 300;
	margin: 0 0 56px;
}

.two-cols .article-holder {
	position: relative;
	overflow: hidden;
	min-height: 134px;
	padding: 0 0 0 130px;
	border-radius: 9px;
	background: #fff;
	color: #434b53;
	font-size: 14px;
	line-height: 18px;
	margin: 0 0 10px;
}

.two-cols .article-holder .image-holder {
	background: #0991c5;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	padding: 32px 31px;
	border-radius: 9px 0 0 9px;
}

.two-cols .article-holder .image-holder img {
	width: 100%;
	height: auto;
	vertical-align: top;
}

.two-cols .article-holder .title {
	display: block;
	font-size: 18px;
	line-height: 22px;
	font-weight: normal;
	color: #0991c5;
}

.two-cols .article-holder .text-holder {
	position: relative;
	padding: 36px 21px;
}

.two-cols .article-holder p {
	margin: 0;
}

.two-cols .col {
	width: 50%;
	position: relative;
	overflow: hidden;
	background: #0991c5;
	padding: 77px 0 68px;
}

.two-cols .col:first-child {
	background: none;
}

.two-cols .testimonial {
	max-width: 710px;
	padding: 0 0 0 114px;
}

.two-cols .testimonial h2 {
	margin: 0 0 5px;
}

.two-cols .article-area {
	overflow: hidden;
	position: relative;
	padding: 55px 0;
}

.two-cols .article-area + .article-area {
	border-top: 1px solid #54a9c9;
	margin: 0 0 41px;
}

.two-cols .article-area .image-holder {
	float: left;
	width: 88px;
	border-radius: 100%;
}

.two-cols .article-area .image-holder img {
	width: 100%;
	height: auto;
	vertical-align: top;
	border: 2px solid #fff;
	border-radius: 100%;
}

.two-cols blockquote {
	margin: 0;
	padding: 0 0 0 19px;
	font-size: 16px;
	line-height: 24px;
	font-style: normal;
	border: none;
	overflow: hidden;
}

.two-cols blockquote q {
	display: block;
	margin: 0 0 25px;
}

.two-cols blockquote cite {
	font-size: 14px;
	line-height: 18px;
	display: block;
	font-style: normal;
	position: relative;
	padding: 0 0 0 15px;
}

.two-cols blockquote cite:before {
	position: absolute;
	left: 2px;
	top: 12px;
	width: 6px;
	height: 2px;
	content: "";
	background: #fff;
}

.two-cols blockquote cite .name {
	font-weight: normal;
	display: block;
	font-size: 18px;
	line-height: 22px;
	margin: 0 0 5px;
}

.two-cols .btn {
	font-size: 14px;
	line-height: 18px;
	min-width: 235px;
	padding: 11px;
}

.block-news {
	position: relative;
	overflow: hidden;
	padding: 55px 0 88px;
}

.block-news h2 {
	font-size: 40px;
	line-height: 44px;
	font-weight: 300;
	margin: 0 0 43px;
	color: #17335c;
}

.block-news .article-holder {
	font-style: 14px;
	line-height: 18px;
	color: #434b53;
	position: relative;
}

.block-news .article-holder .image-holder {
	position: relative;
}

.block-news .article-holder .image-holder img {
	width: 100%;
	height: auto;
	vertical-align: top;
}

.block-news .article-holder .text-holder {
	background: #fff;
	padding: 26px 20px 34px;
	box-shadow: 0 2px 3px rgba(1, 1, 1, .2);
	border-radius: 0 0 2px 2px;
}

.block-news h3 {
	font-size: 16px;
	line-height: 21px;
	color: #0991c5;
	margin: 0 0 13px;
	font-weight: normal;
}

.block-news time {
	display: block;
	color: #959595;
	margin: 0 0 13px;
}

.block-news p {
	margin: 0 0 4px;
}

.block-links {
	position: relative;
	overflow: hidden;
	background: #17335c;
	color: #fff;
	font-size: 18px;
	line-height: 24px;
	font-weight: 500;
	padding: 10px 0;
}

.block-links .container {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.block-links .container .col {
	width: 25%;
}

.block-links .container .col + .col {
	border-left: 1px solid #405b84;
}

.block-links .container a {
	display: block;
	color: #fff;
	min-height: 120px;
	padding: 35px;
	text-align: center;
}

.block-links .container .icon {
	display: inline-block;
	vertical-align: middle;
}

.block-links .container .icon img {
	display: block;
}

.block-links .container .text {
	display: inline-block;
	vertical-align: middle;
	padding: 0 0 0 20px;
	text-align: left;
}

.footer-aside {
	font: 14px/18px "Roboto", sans-serif;
	position: relative;
	overflow: hidden;
	padding: 62px 0 0;
	color: #738393;
}

.footer-aside a {
	color: #738393;
}

.footer-aside a:hover {
	color: #0991c5;
}

.footer-aside .hover h3:after {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

.footer-aside .hover .list-links {
	display: block;
}

.footer-aside h3 {
	color: #0991c5;
	margin: 0 0 18px;
	font-weight: 300;
	font-size: 18px;
	line-height: 22px;
	position: relative;
}

.footer-aside h3:after {
	position: absolute;
	right: 0;
	top: 0;
	font: 16px/19px "icomoon";
	content: "\e903";
	color: #0991c5;
	display: none;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}

.footer-aside .list-links {
	margin: 0 0 25px;
	position: relative;
	overflow: hidden;
}

.footer-aside .list-links.social-list li {
	padding: 0 0 0 30px;
}

.footer-aside .list-links.social-list i {
	position: absolute;
	left: 0;
	top: 0;
}

.footer-aside .list-links li {
	position: relative;
	margin: 0 0 15px;
}

.footer-aside .image-holder {
	position: relative;
	overflow: hidden;
}

.footer-aside .image-holder img {
	width: 100%;
	height: auto;
	vertical-align: top;
}

.logos-list {
	border-top: 1px solid #ebebeb;
	padding: 11px 0 31px;
}

.logos-list .list-holder {
	margin: 0 -35px;
	text-align: center;
}

.logos-list .list-holder li {
	display: inline-block;
	vertical-align: middle;
	padding: 0 35px;
}

#main-footer {
	font: 18px/22px "Work Sans", Arial, sans-serif;
	background: #e7ecf1;
	color: #9caab8;
	text-align: center;
}

#main-footer a {
	color: #9caab8;
}

#main-footer a:hover {
	color: #738393;
}

#main-footer .links-holder {
	margin: 0 0 27px;
	padding: 29px 0;
	border-bottom: 1px solid #c4cfda;
}

#main-footer .footer-links {
	margin: 0;
}

#main-footer .footer-links li {
	padding: 0 27px;
}

#main-footer .footer-links a {
	color: #738393;
}

#main-footer .footer-links a:hover {
	color: #9caab8;
}

#main-footer p {
	margin: 0 0 20px;
}
#lightbox .modal-content {
    display: inline-block;
    text-align: center;   
}
#lightbox .close,
#lightbox_video .close {
    background-color: rgb(25, 25, 25);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 30px;
    color: rgb(255, 255, 255);
    opacity: 1;
    padding: 5px 8px;
    position: absolute;
    right: -10px;
    top: -15px;
    z-index: 1032;
}
.modal-content,
.modal-content img,
.modal-content video{
width: 100%;
}
.modal-open .modal{
top: 15%;
}
@media (max-width: 1199px) {
	#main-header .login-area .login {
		margin: 0;
	}

	#nav .menu li {
		padding: 0 12px;
	}

	#main-nav .menu > li > a {
		padding: 14px 10px;
	}

	.visual-block .text-block {
		padding: 160px 0;
	}

	.person-info .image-holder {
		font-size: 14px;
		line-height: 18px;
		width: 150px;
		margin: -50px 0 0;
	}

	.person-info .image-holder img {
		margin: 0 auto 20px;
	}

	.person-info .text-holder {
		padding: 10px 0 0 15px;
	}

	.person-info .top-area .rank-info {
		font-size: 18px;
		line-height: 22px;
		width: 24%;
	}

	.person-info .top-area .rank-info .title {
		font-size: 18px;
		line-height: 24px;
	}

	.person-info .top-area .rank-info h2 {
		font-size: 24px;
		line-height: 28px;
	}

	.person-info .top-area .rating-info {
		width: 31%;
	}

	.person-info .top-area .btn-area .btn {
		font-size: 20px;
		line-height: 24px;
	}

	.person-info .row-area > * {
		font-size: 16px;
		line-height: 20px;
	}

	.person-info .row-area .col-holder.style {
		text-align: center;
		padding: 0 10px;
	}

	.addresses-block .carousel {
		padding: 0 56px 0 100px;
	}

	.members-block .mask {
		width: 900px !important;
	}

	.members-block .title {
		font-size: 16px;
		line-height: 20px;
	}

	.block-insurance .mask {
		width: 900px !important;
	}

	.map-block img {
		position: relative;
		left: 50%;
		max-width: inherit;
		overflow: hidden;
		width: 1200px;
		margin: 0 0 0 -600px;
	}

	.map-block .popup-holder {
		right: 22.5%;
		top: 20px;
	}

	.block-offer .offer-info:after {
		height: 120px;
	}

	.visual {
		padding: 100px 0;
	}

	.visual h1 {
		font-size: 50px;
		line-height: 60px;
	}

	.visual p {
		margin: 0 0 50px;
	}

	.block-machine {
		padding: 60px 0;
	}

	.block-persons {
		display: block;
	}

	.block-persons .col {
		width: 100%;
		height: 560px;
	}

	.block-persons .col:first-child {
		height: auto;
	}

	.block-persons .wrap {
		padding: 72px 30px;
	}

	.block-partners {
		padding: 40px 0;
	}

	.block-partners .partners-list li {
		padding: 0 5px;
	}

	.two-cols .testimonial {
		padding: 0 20px;
	}

	.block-links .container a {
		min-height: 90px;
		padding: 20px;
	}

	.logos-list .list-holder li {
		padding: 0 15px;
	}
}

@media (max-width: 991px) {
	#main-header .logo {
		width: 120px;
	}

	#nav .menu > * {
		font-size: 14px;
		line-height: 18px;
	}

	#nav .menu li {
		padding: 0 8px;
	}

	#nav .menu a {
		padding: 15px 0;
	}

	.visual-block .text-block {
		padding: 120px 0;
	}

	.person-info .top-area .rank-info {
		width: 50%;
		vertical-align: middle;
	}

	.person-info .top-area .rating-info {
		width: 50%;
	}

	.person-info .top-area .btn-area {
		display: block;
		width: 100%;
		padding: 10px 0 0;
	}

	.person-info .row-area {
		padding: 10px 0;
	}

	.person-info .row-area .col-holder {
		display: block;
		width: 100%;
		padding: 0 0 10px;
		border-bottom: 1px solid #ddd;
		margin: 0 0 10px;
	}

	.person-info .row-area .col-holder:before {
		height: 30px;
		margin: -15px 0 0;
		display: none;
	}

	.person-info .row-area .col-holder.style {
		width: 48%;
		display: inline-block;
		vertical-align: middle;
		border-bottom: none;
	}

	.person-info .row-area .carousel .mask {
		width: 100% !important;
	}

	.person-info .row-area .carousel .slideset {
		text-align: center;
	}

	.person-info .row-area .carousel .slide {
		width: 60px !important;
		padding: 0 10px;
	}

	.addresses-block .slide {
		width: 50% !important;
	}

	.members-block .mask {
		width: 680px !important;
	}

	.members-block .slide {
		width: 50% !important;
	}

	.block-insurance .mask {
		width: 680px !important;
	}

	.block-gallery {
		padding: 30px 0;
	}

	.block-gallery .image-holder + .image-holder {
		margin: 16px 0 0;
	}

	.block-offer .offer-info {
		padding: 20px 160px 60px 30px;
	}

	.block-offer .offer-info:after {
		height: 100px;
	}

	.block-offer .offer-info .image-holder {
		position: static;
		width: 280px;
		margin: 0 auto;
	}

	.block-sign-up .field-holder {
		width: 50%;
	}

	.block-sign-up .captcha-holder {
		width: 26%;
		vertical-align: bottom;
	}

	.block-sign-up .btn-holder {
		width: 20%;
	}

	.visual {
		padding: 60px 0;
	}

	.visual p {
		margin: 0 0 20px;
	}

	.block-video .btn-opener {
		left: 50%;
		margin: 0 0 0 -128px;
	}

	.call-block .btn-list .btn {
		min-width: 150px;
	}

	.block-persons .col {
		height: auto;
	}

	.block-facilities h2 {
		padding: 0;
		font-size: 28px;
		line-height: 32px;
		margin: 0 0 10px;
	}

	.two-cols {
		display: block;
	}

	.two-cols .wrap {
		padding: 0 15px;
	}

	.two-cols .col {
		width: 100%;
	}

	.block-news .article-holder {
		margin: 0 0 20px;
	}

	.block-links {
		font-size: 14px;
		line-height: 18px;
	}

	.block-links .container a {
		padding: 10px;
	}

	.block-links .container .icon {
		display: block;
		margin: 0 auto;
	}

	.block-links .container .icon img {
		margin: 0 auto;
	}

	.block-links .container br {
		display: none;
	}

	.block-links .container .text {
		display: block;
		padding: 0;
		text-align: center;
	}

	.footer-aside .image-holder {
		max-width: 263px;
		margin: 0 auto 20px;
	}

	#main-footer .footer-links li {
		padding: 0 15px;
	}
}

@media (max-width: 767px) {
	h2 {
		font-size: 20px;
		line-height: 24px;
	}

	#main-header .login-area {
		display: none;
	}

	#nav {
		text-align: left;
	}

	#nav .menu {
		background: #fff;
	}

	#nav .menu li {
		display: block;
		padding: 0;
	}

	#nav .menu li.active > a {
		border: none;
		background: #0991c5;
		color: #fff;
	}

	#nav .menu a {
		border: none;
		padding: 10px;
	}

	#nav .menu a:hover {
		border: none;
		background: #0991c5;
		color: #fff;
	}

	#main-nav {
		position: absolute;
		right: 0;
		top: 14px;
		left: 0;
		font-size: 14px;
		line-height: 18px;
	}

	#main-nav .navbar-collapse {
		position: relative;
		z-index: 99;
		background: #fff;
		padding: 0 0 10px;
	}

	#main-nav .menu {
		margin: 0;
	}

	#main-nav .btn {
		position: relative;
		display: block;
		padding: 10px;
	}

	.visual-block .text-block {
		padding: 80px 0;
	}

	.person-info .image-holder {
		width: 160px;
		float: none;
		margin: 0 auto;
		height: auto;
	}

	.person-info .text-holder {
		padding: 10px 0 0;
	}

	.person-info .top-area .rank-info {
		width: 100%;
		text-align: center;
	}

	.person-info .top-area .rating-info {
		width: 100%;
		display: block;
	}

	.person-info .top-area .btn-area .btn {
		font-size: 18px;
		line-height: 22px;
		padding: 15px 15px 15px 60px;
	}

	.person-info .top-area .btn-area .icon-holder {
		width: 50px;
		padding: 15px 10px;
	}

	.person-info .row-area .col-holder.style {
		display: block;
		width: 100%;
	}

	.person-info .row-area .carousel {
		padding: 0 20px;
	}

	.addresses-block .carousel {
		padding: 0 40px;
	}

	.addresses-block .carousel .btn-prev,
	.addresses-block .carousel .btn-next {
		font-size: 0;
		line-height: 0;
	}

	.addresses-block .slide {
		padding: 0 10px;
		width: 100% !important;
	}

	.addresses-block .slide:before {
		display: none;
	}

	.heading-area {
		padding: 0 90px 0 0;
	}

	.members-block .mask {
		width: 100% !important;
	}

	.members-block .slide {
		width: 100% !important;
	}

	.members-block .image-holder {
		float: none;
		display: block;
		margin: 0 auto;
	}

	.members-block .text-holder {
		padding: 10px 0 0;
		text-align: center;
	}

	.block-description {
		font-size: 16px;
		line-height: 20px;
		padding: 20px 0;
	}

	.block-education {
		font-size: 16px;
		line-height: 20px;
	}

	.block-education .university-list li {
		border-bottom-color: #000;
	}

	.block-education .university-list .uni-info {
		display: block;
		width: 100%;
	}

	.block-education .university-list .degree-info {
		display: block;
		width: 100%;
	}

	.block-education .university-list .year {
		display: block;
		width: 100%;
	}

	.block-insurance {
		padding: 20px 0 30px;
	}

	.block-insurance h2 {
		margin: 0 0 20px;
	}

	.block-insurance .mask {
		width: 100% !important;
	}

	.block-insurance .slide,
	.block-gallery .slide	{
		width: 50% !important;
	}

	.block-gallery .image-holder {
		margin: 0 0 10px;
	}

	.block-gallery .image-holder + .image-holder {
		margin: 0 0 10px;
	}

	.map-block .popup-holder {
		right: auto;
		left: 50%;
		margin: 0 0 0 -150px;
	}

	.block-offer {
		padding: 20px 0;
	}

	.block-offer .offer-info {
		padding: 20px;
	}

	.block-offer .offer-info:after {
		display: none;
	}

	.block-sign-up {
		padding: 20px 0;
	}

	.block-sign-up .form-submit {
		padding: 20px;
	}

	.block-sign-up .field-holder {
		width: 100%;
		padding: 0;
		margin: 0 0 10px;
	}

	.block-sign-up .captcha-holder {
		display: block;
		max-width: 260px;
		width: 100%;
		margin: 0 auto 10px;
	}

	.block-sign-up .btn-holder {
		width: 100%;
		text-align: center;
		padding: 0;
	}

	.block-review {
		padding: 20px 0;
	}

	.block-review .heading-area {
		margin: 0 0 10px;
	}

	.block-review .rating-area {
		float: none;
		display: block;
		width: 100%;
	}

	.block-search.style {
		padding: 20px 0 10px;
	}

	.block-search.style .lable-holder {
		font-size: 18px;
		line-height: 24px;
	}

	.block-search.style .row-holder {
		padding: 0 105px 0 0;
	}

	.block-search.style .row-holder .btn {
		padding: 14px 10px;
	}

	.block-search .row-holder {
		padding: 0 105px 0 0;
	}

	#footer {
		padding: 10px 0 0;
	}

	#footer .logo-area {
		padding: 0 0 10px;
		margin: 0 0 10px;
	}

	#footer p {
		margin: 0 0 10px;
	}

	#footer .social-networks li {
		padding: 0 10px;
	}

	.visual {
		padding: 20px 0;
	}

	.visual h1 {
		font-size: 32px;
		line-height: 36px;
		margin: 0 0 10px;
	}

	.visual p {
		margin: 0 0 10px;
	}

	.visual .btn-list .btn {
		min-width: 120px;
	}

	.block-machine {
		padding: 20px 0;
	}

	.block-machine h2 {
		font-size: 28px;
		line-height: 32px;
		margin: 0 0 10px;
	}

	.block-video h2 {
		font-size: 24px;
		line-height: 28px;
		margin: 0 0 10px;
	}

	.block-video p {
		margin: 0 0 10px;
	}

	.call-block {
		padding: 20px 0;
	}

	.call-block p {
		margin: 0 0 10px;
	}

	.call-block .btn-list {
		text-align: center;
	}

	.call-block .btn-list .btn {
		min-width: 120px;
	}

	.call-block .contact-holder {
		font-size: 18px;
		line-height: 22px;
		padding: 20px 15px;
	}

	.call-block .list-holder li {
		margin: 0 0 10px;
	}

	.call-block h3 {
		margin: 0 0 10px;
	}

	.block-persons {
		font-style: 18px;
		line-height: 24px;
	}

	.block-persons .wrap {
		padding: 20px 15px;
	}

	.block-persons h2 {
		font-size: 28px;
		line-height: 32px;
		margin: 0 0 10px;
	}

	.block-persons p {
		margin: 0 0 20px;
	}

	.block-facilities {
		padding: 20px 0;
		font-size: 18px;
		line-height: 22px;
	}

	.block-facilities .btns-list li {
		margin: 0 0 10px;
	}

	.block-facilities .list-holder {
		margin: 0 0 20px;
	}

	.block-facilities .list-holder li {
		margin: 0 0 15px;
	}

	.block-partners {
		padding: 20px 0;
	}

	.block-partners h2 {
		font-size: 28px;
		line-height: 32px;
		margin: 0 0 10px;
	}

	.block-partners .partners-list li {
		width: 48%;
		padding: 0 10px;
		margin: 0 0 10px;
	}

	.block-activity {
		padding: 20px 0;
	}

	.block-activity h2 {
		font-size: 28px;
		line-height: 32px;
		margin: 0 0 10px;
	}

	.block-activity .article-holder {
		padding: 20px 20px 20px 60px;
		margin: 0 0 10px;
	}

	.block-activity .image-holder {
		width: 35px;
		margin: -17px 0 0;
		left: 10px;
	}

	.block-activity time {
		position: relative;
		right: auto;
		top: auto;
		margin: 0;
		display: block;
	}

	.two-cols h2 {
		font-size: 28px;
		line-height: 32px;
		margin: 0 0 10px;
		text-align: center;
	}

	.two-cols .article-holder {
		padding: 0;
	}

	.two-cols .article-holder .image-holder {
		position: relative;
		display: block;
		border-radius: 9px 9px 0 0;
		padding: 15px;
	}

	.two-cols .article-holder .image-holder img {
		width: auto;
		max-width: 100%;
		display: block;
		margin: 0 auto;
	}

	.two-cols .article-holder .text-holder {
		padding: 15px;
		text-align: center;
	}

	.two-cols .col {
		padding: 20px 0;
	}

	.two-cols .article-area {
		padding: 20px 0;
	}

	.two-cols .article-area + .article-area {
		margin: 0;
	}

	.two-cols .article-area .image-holder {
		display: block;
		float: none;
		margin: 0 auto 10px;
	}

	.two-cols blockquote {
		text-align: center;
		padding: 0;
	}

	.two-cols blockquote cite:before {
		display: none;
	}

	.two-cols .btn {
		width: 235px;
		display: block;
		margin: 0 auto;
	}

	.block-news {
		padding: 20px 0;
	}

	.block-news h2 {
		font-size: 28px;
		line-height: 32px;
		margin: 0 0 10px;
	}

	.block-news .article-holder .text-holder {
		padding: 20px 15px;
	}

	.block-news h3 {
		margin: 0 0 10px;
	}

	.block-news time {
		margin: 0 0 10px;
	}

	.block-links {
		display: none;
	}

	.block-links .container .col {
		width: 100%;
	}

	.block-links .container .col + .col {
		border: none;
	}

	.footer-aside {
		padding: 20px 0 0;
	}

	.footer-aside h3 {
		cursor: pointer;
	}

	.footer-aside h3:after {
		display: block;
	}

	.footer-aside .list-links {
		display: none;
	}

	#main-footer {
		font-size: 14px;
		line-height: 18px;
	}

	#main-footer .links-holder {
		padding: 20px 0;
		margin: 0 0 20px;
	}

	#main-footer .footer-links li {
		padding: 0 5px;
	}
	#lightbox .close, #lightbox_video .close{
		top: -10px;
	}
}
@media (max-width: 539px) {
.block-insurance .slide, .block-gallery .slide {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 90% !important;
}
}